@model Portal.Consultoras.Web.Models.AdministrarPalancaModel

@{
    ViewBag.Title = "Administrar Palanca";
}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="@Url.Content("~/Content/Css/Toast/jquery.toast.min.css")" rel="stylesheet" />

<div class="wrap_cab">
    <div class="filtros2">
        <div class="elements">
            <div class="div-2">
                <h1><span>Palanca</span></h1>
            </div>
            <div class="div-3">
                <div class="input_horizontal">
                    <input type="button" name="btnCrearRegistro" id="btnCrearRegistro" value="Crear Registro" />
                </div>
            </div>
            <div class="container clearfix">
                <div class="border-wrapper">
                    <table id="tblPalanca"></table>
                    <div id="pagerPalanca"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrap_cab">
    <div class="filtros2">
        <div class="elements">
            <div class="div-2">
                <h1><span>Menú</span></h1>
            </div>
            <div class="container clearfix">
                <div class="border-wrapper">
                    <table id="list"></table>
                    <div id="pager"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrap_cab">
    <div class="filtros2">
        <div class="elements">
            <div class="div-2">
                <h1><span>Configuración Contenedor Home</span></h1>
            </div>
            <div class="div-3">
                <div class="titG">Campaña:</div>
                <div class="selectP2 borde_redondeado">
                    @Html.DropDownList("CampaniaBuscar", new SelectList(Model.ListaCampanias, "CampaniaID", "NombreCorto"), "-- Seleccionar --")
                </div>
            </div>
            <div class="div-3">
                <div class="titG">&nbsp;</div>
                <div class="input_horizontal">
                    <input type="button" name="btnBuscar" id="btnBuscar" value="Buscar" onclick="javaScript: BuscarOfertaHome();" />
                    <input type="button" name="btnNuevo" id="btnNuevo" value="Nuevo" onclick="javaScript: NuevoOfertaHome();" />
                </div>
            </div>
            <div class="container clearfix">
                <div class="border-wrapper">
                    <table id="listOfertas"></table>
                    <div id="pagerOfertas"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="DialogMantenimientoPalancaDatos" style="display: none;">
    <div class="Content_modal" id="dialog-content-palanca-datos"></div>
</div>

<div id="DialogMantenimientoPalanca" style="display: none;">
    <div class="Content_modal" id="dialog-content-palanca"></div>
</div>

<div id="DialogMantenimientoOfertasHome" style="display: none;">
    <div class="Content_modal" id="dialog-content-ofertas-home"></div>
</div>

<script type="text/javascript">
    var urlListarCampanias = '@Url.Action("ObtenerCampaniasPorUsuario", "BaseAdm")';
    var rutaImagenEdit = '@Url.Content("~/Content/Images/Edit.png")';
    var rutaImagenDelete = '@Url.Content("~/Content/Images/Delete.png")';
    var rutaFileUpload = '@Url.Action("ImageLanzamientoUpload", "FileUpload")';
    var rutaTemporal = '@Url.Content("~/Content/Temporales/")';
    var urlS3 = '@ViewBag.UrlS3';
</script>

<script src="@Url.Content("~/Scripts/fileuploader.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/handlebars.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.paging.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.toast.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/AdminContenido/ToastHelper.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/AdminContenido/Paginador.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/AdminContenido/MatrizComercialFileUpload.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/AdminContenido/AdministrarEstrategia.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/AdminContenido/Palanca/AdminPalanca.js")"></script>
<script src="@Url.Content("~/Scripts/AdminContenido/Palanca/AdminPalancaDatos.js")"></script>

