@using Portal.Consultoras.Web.Helpers
@using Portal.Consultoras.Web.Areas.Mobile.Models

@using System.Collections.Generic

@model List<MisPedidosCampaniaModel>

    @{
        var layout = ViewContext.MobileLayout();
        Layout = string.Format("~/Areas/Mobile/Views/Shared/{0}.cshtml", layout);
        MobileAppConfiguracionModel mobileConfiguracion = Html.MobileAppConfiguracion();
    }

    <style>
        body {
            background: #f8f8f8;
            margin-bottom:65px
        }
    </style>

    @{
        bool firstCampania = true;
        if (!mobileConfiguracion.EsAppMobile)
        {
            <div class="titulo_mobile">
                <a href="@Request.UrlReferrer" class="enlace_regresar catalogosR" title="Regresar"></a>
                MIS PEDIDOS
            </div>
            <div class="pestana_esika"></div>
            <div class="pestana_lbel"></div>
        }
        if (Model.Count == 0)
        {
            <div class="col-xs-12">
                <div class="icono_alerta exclamacion_icono_mobile"></div>
                <div class="mensaje_alerta">Hasta el momento no tienes ningún pedido.</div>
            </div>
        }
        else
        {
            <div class="app-tabs">
                @{
                    foreach (var pedidoCampania in Model)
                    {
                        <a href="javascript:;" class="@(firstCampania ? "active" : string.Empty)" data-campania="@pedidoCampania.CampaniaID">
                            @pedidoCampania.NumeroCampania @pedidoCampania.DescripcionEstadoPedido
                        </a>
                        firstCampania = false;
                    }
                }
            </div>

            <div class="app-tabs-detail">
                @{
                    firstCampania = true;
                    foreach (var pedidoCampania in Model)
                    {
                        <div id="ContenedorPedido_@pedidoCampania.CampaniaID" style="@(firstCampania ? string.Empty : "display:none")">
                            @(pedidoCampania.EsCampaniaActual ? Html.Action("IngresadoDetalle") : Html.Action("FacturadoDetalle", new { campaniaID = pedidoCampania.CampaniaID }))
                        </div>
                        firstCampania = false;
                    }
                }
            </div>
                    }
    }

    @section scripts{
        <script type="text/javascript">
        $(document).ready(function () {
            $(".app-tabs a").click(function () {
                $('.app-tabs a.active').removeClass("active");
                $(this).addClass("active");

                var campaniaSeleccionada = $(this).attr("data-campania");
                $(".app-tabs-detail").children().css("display", "none");
                $("#ContenedorPedido_" + campaniaSeleccionada).css("display", "");
            });

            $(".panel-heading").click(function (e) {
                var className = $(this).parent().attr("class");

                if (className.indexOf("active") > -1) $(this).parent().removeClass("active");
                else $(this).parent().addClass("active");

                $(this).find(".sections-arrow img").toggleClass("app-panels-flip");
            });
        });
        </script>
    }
