@using Portal.Consultoras.Web.Helpers
@using Portal.Consultoras.Web.Areas.Mobile.Models

@using System.Collections.Generic

@model List<MisPedidosCampaniaModel>

@{
    var layout = ViewContext.MobileLayout();

    Layout = string.Format("~/Areas/Mobile/Views/Shared/{0}.cshtml", layout);
}

<style>
    body
    {
        background:#f8f8f8
    }
</style>

<div class="titulo_mobile">
    @{  
        var mobileConfiguracion = Session["MobileAppConfiguracion"] == null ? new MobileAppConfiguracionModel() : (MobileAppConfiguracionModel)Session["MobileAppConfiguracion"];
        if (mobileConfiguracion.MostrarBotonAtras)
        {
        <a href="@Request.UrlReferrer" class="enlace_regresar catalogosR" title="Regresar"></a>
        }
    }
    MIS PEDIDOS
</div>

@{ 
    bool firstCampania = true;
}

<div class="app-tabs">
    @{
        foreach (var pedidoCampania in @Model)
        {
            <a href="javascript:;" class="@(firstCampania ? "active" : string.Empty)" data-campania="@pedidoCampania.CampaniaID">
                @pedidoCampania.DescripcionEstadoPedido<br />
                @pedidoCampania.NumeroCampania @pedidoCampania.AnioCampania
            </a>
            firstCampania = false;
        }
    }
</div>

<div class="app-tabs-detail">
    @{
        firstCampania = true;
        foreach (var pedidoCampania in @Model)
        {
            <div id="ContenedorPedido_@pedidoCampania.CampaniaID" style="@(firstCampania ? string.Empty : "display:none")">
                @(pedidoCampania.EsCampaniaActual ? Html.Action("IngresadoDetalle") : Html.Action("FacturadoDetalle", new { campaniaID = pedidoCampania.CampaniaID }))
            </div>
            firstCampania = false;
        }
    }
</div>

@section scripts{
    <script type="text/javascript">
        var expanded = false;
        var currentPanelHeading = null;
        $(document).ready(function () {
            $(".app-tabs a").click(function () {
                $('.app-tabs a.active').removeClass("active");
                $(this).addClass("active");

                var campaniaSeleccionada = $(this).attr("data-campania");
                $(".app-tabs-detail").children().css("display", "none");
                $("#ContenedorPedido_" + campaniaSeleccionada).css("display", "");
            });

            $(".panel-heading").click(function (e) {
                currentPanelHeading = $(this);

                if (!expanded) currentPanelHeading.parent().addClass("active");
                else currentPanelHeading.parent().removeClass("active");
                expanded = !expanded;
                currentPanelHeading = null;
            });
        });
    </script>
}