@model Portal.Consultoras.Web.Models.AdministrarFactoresGananciaModel
@using Portal.Consultoras.Common;
@{
    ViewBag.Title = "Administrar Factores de Ganancia";
}
<script>
    jQuery(document).ready(function () {
        if (checkTimeout()) {
            IniDialog();
        }

        $("#btnBuscar").click(function () {
            if ($("#ddlPais").val() == "") {
                alert("Debe seleccionar el País, verifique.");
                return false;
            }
            if (checkTimeout()) {
                fnGrilla();
            }
        });

        $('.ValidaNumeral').keyup(function (evt) {
            var theEvent = evt || window.event;
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
            var regex = /[0-9]|\./;
            if (!regex.test(key)) {
                theEvent.returnValue = false;
                if (theEvent.preventDefault) theEvent.preventDefault();
            }
        });

        $('.ValidaNumeral').keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });
    });

    function IniDialog() {
        $('#DialogFactores').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 500,
            draggable: true,
            title: "Ingresa o actualiza tus factores",
            buttons:
            {
                "Guardar": function () {
                    var vMessage = "";

                    if (jQuery.trim($('#ddlPaisDialogo').val()) == "")
                        vMessage += "- Debe seleccionar un País.\n";

                    if (jQuery.trim($('#RangoMinimo').val()) == "")
                        vMessage += "- Debe ingresar el Rango Mínimo.\n";

                    if (jQuery.trim($('#RangoMaximo').val()) == "")
                        vMessage += "- Debe ingresar el Rango Máximo.\n";

                    if (jQuery.trim($('#Porcentaje').val()) == "")
                        vMessage += "- Debe ingresar el Porcentaje.\n";

                    if (jQuery.trim($('#RangoMinimo').val()) != "" &&
                        jQuery.trim($('#RangoMaximo').val()) != "" &&
                        parseInt(jQuery.trim($('#RangoMinimo').val())) >= parseInt(jQuery.trim($('#RangoMaximo').val())))
                        vMessage += "- El rango mínimo no puede ser mayor o igual al rango máximo.\n";

                    if (vMessage != "") {
                        alert(vMessage);
                        $('#RangoMinimo').focus();
                        return false;
                    }
                    else {
                        fnRegistrar();
                    }
                },
                "Cancelar": function () {
                    HideDialog("DialogFactores");
                }
            }
        });
    }

    function fnGrilla() {
        jQuery("#list").jqGrid({
            url: baseUrl + "AdministrarFactoresGanancia/Consultar",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                vBusqueda: function () { return jQuery.trim($("#ddlPais").val()); }
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['FactorGananciaID', 'PaisID', 'Pais', 'Rango Minimo', 'Rango Maximo', 'Porcentaje', 'Opcion'],
            colModel: [
                { name: 'FactorGananciaID', index: 'FactorGananciaID', width: 0, editable: false, align: 'left', hidden: true },
                { name: 'PaisID', index: 'PaisID', width: 0, editable: false, align: 'left', hidden: true },
                { name: 'Pais', index: 'Pais', width: 90, editable: true, resizable: false },
                { name: 'RangoMinimo', index: 'RangoMinimo', width: 80, editable: true, resizable: false, formatter: 'currency', formatoptions: { decimalSeparator: ".", thousandsSeparator: ",", decimalPlaces: 0, prefix: "" } },
                { name: 'RangoMaximo', index: 'RangoMaximo', width: 80, editable: true, resizable: false, formatter: 'currency', formatoptions: { decimalSeparator: ".", thousandsSeparator: ",", decimalPlaces: 0, prefix: "" } },
                { name: 'Porcentaje', index: 'Porcentaje', width: 80, editable: true, resizable: false, formatter: 'number', formatoptions: { decimalSeparator: ".", thousandsSeparator: ",", decimalPlaces: 0, prefix: "" } },
                { name: 'Activo', index: 'Activo', width: 40, editable: true, sortable: false, align: 'center', resizable: false, formatter: ShowActions }
            ],
            jsonReader:
                {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: true,
                    cell: "cell",
                    id: "id"
                },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'Nombre',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            width: '930',
            height: 'auto',
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function () { },
            gridComplete: function () { }
        });
        jQuery("#list").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');

        function ShowActions(cellvalue, options, rowObject) {
            var Edit = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#list').Editar('" + rowObject[0] + "');\" >" + "<img src='@Url.Content("~/Content/Images/Edit.png")' alt='Editar Factor' title='Editar Factor' border='0' /></a>";
            var Del = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#list').Eliminar('" + rowObject[0] + "');\" >" + "<img src='@Url.Content("~/Content/Images/Delete.png")' alt='Eliminar Cliente' title='Eliminar Cliente' border='0' /></a>";
            return Edit + Del;
        };
    }

    function AbrirModal() {
        if ($("#ddlPais").val() == "") {
            alert("Debe seleccionar el País, verifique.");
            return false;
        }
        limpiar();
        $("#ddlPaisDialogo").val($("#ddlPais").val());
        $('#ddlPaisDialogo').prop('disabled', 'disabled');
        $('#RangoMinimo').focus();
        showDialog("DialogFactores");
        return false;
    }

    $.jgrid.extend({
        Editar: function (Id) {
            if (Id) {
                $('#FactorGananciaID').val(jQuery("#list").jqGrid('getCell', Id, 'FactorGananciaID'));
                $('#PaisID').val(jQuery("#list").jqGrid('getCell', Id, 'PaisID'));
                $('#ddlPaisDialogo').val(jQuery("#list").jqGrid('getCell', Id, 'PaisID'));
                $('#RangoMinimo').val(jQuery("#list").jqGrid('getCell', Id, 'RangoMinimo'));
                $('#RangoMaximo').val(jQuery("#list").jqGrid('getCell', Id, 'RangoMaximo'));
                $('#Porcentaje').val(jQuery("#list").jqGrid('getCell', Id, 'Porcentaje'));
                $('#ddlPaisDialogo').prop('disabled', 'disabled');
                showDialog("DialogFactores");
            } else {
                alert("No selecciono el Factor");
            }
            return false;
        },
        Eliminar: function (Id) {
            var elimina = confirm('¿ Está seguro que desea eliminar el registro seleccionado?');
            if (!elimina)
                return false;
            waitingDialog({});
            jQuery.ajax({
                type: 'POST',
                url: baseUrl + 'AdministrarFactoresGanancia/Eliminar',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ FactorGananciaID: Id }),
                async: true,
                success: function (data) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        limpiar();
                        if (data.success == true) {
                            alert(data.message);
                            jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                        }
                        else
                            alert(data.message);
                    }
                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        alert("ERROR");
                    }
                }
            });
            return false;
        }
    });

    function limpiar() {
        $('#ddlPaisDialogo').val("0");
        $('#ddlPaisDialogo').prop('disabled', false);
        $('#FactorGananciaID').val("0");
        $('#PaisIDSeleccionado').val("");
        $('#PaisID').val("");
        $('#RangoMinimo').val("");
        $('#RangoMaximo').val("");
        $('#Porcentaje').val("");
    }

    function fnRegistrar() {
        var valorPais;
        if (jQuery('#FactorGananciaID').val() == "0")
            valorPais = jQuery('#ddlPaisDialogo').val();
        else
            valorPais = jQuery('#PaisID').val();
        var item = {
            FactorGananciaID: jQuery('#FactorGananciaID').val(),
            PaisID: valorPais,
            RangoMinimo: jQuery('#RangoMinimo').val(),
            RangoMaximo: jQuery('#RangoMaximo').val(),
            Porcentaje: jQuery('#Porcentaje').val()
        };
        jQuery.ajax({
            type: 'POST',
            url: baseUrl + 'AdministrarFactoresGanancia/Mantener',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(item),
            async: true,
            success: function (data) {
                if (checkTimeout(data)) {
                    if (data.success == true) {
                        var item = data.items;
                        alert(data.message);
                        HideDialog("DialogFactores");
                        limpiar();
                        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                    }
                    else {
                        alert(data.message);
                    }
                }
            },
            error: function (data, error) {
                if (checkTimeout(data)) {
                    alert(data.message);
                    HideDialog("DialogFactores");
                }
            }
        });
    }

</script>

<div class="wrap_cab">
    <div class="filtros">
        <div class="elements">
            <div class="div-2">
                <h1>Administración de <span>Factores de Ganancia</span></h1>
            </div>
            <div class="div-3">
                <div class="titG">País:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais" })
                </div>
                <div class="input_search">
                    <input type="submit" name="" id="btnBuscar" value="Buscar">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper">
            <table id="list"></table>
            <div id="pager"></div>
        </div>
        <div class="div-3">
            <div class="titAuto">
                <div class="input_search">
                    <input type="button" name="btnNuevo" id="btnNuevo" value="Nuevo" onclick="return AbrirModal();" />
                </div>
            </div>
        </div>
    </div>
</div>
<div id="loadingScreen"></div>

<div id="DialogFactores">
    <div class="Content_modal">
        @Html.Hidden("FactorGananciaID")
        @Html.Hidden("PaisID")
        <div class="div-3">
            <div class="titG">Pais:</div>
            <div class="selectP2 borde_redondeado">
                @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPaisDialogo" })
            </div>
        </div>
        <div class="div-3">
            <div class="titG">Rango Minimo:</div>
            <div class="selectP2 borde_redondeado">
                @Html.TextBox("RangoMinimo", null, new { @class = "ValidaNumeral", maxlength = 80 })
            </div>
        </div>
        <div class="div-3">
            <div class="titG">Rango Maximo:</div>
            <div class="selectP2 borde_redondeado">
                @Html.TextBox("RangoMaximo", null, new { @class = "ValidaNumeral", maxlength = 80 })
            </div>
        </div>
        <div class="div-3">
            <div class="titG">Porcentaje:</div>
            <div class="selectP2 borde_redondeado">
                @Html.TextBox("Porcentaje", null, new { @class = "ValidaNumeral", maxlength = 80 })
            </div>
        </div>
        @Html.ValidationSummary(null, new { @class = "validation-error-server", @id = "divMensaje" })
    </div>
</div>

