@using System.Web.Optimization;
@{
    Layout = null;
    ViewBag.Title = "Actualiza tu contrase&ntilde;a";
}

<!DOCTYPE html>

<html lang="es" class="no-js">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=10,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="Portal de consultoras" />
    <meta name="author" content="Belcorp" />
    <title>Somos Belcorp ::: @ViewBag.Title </title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900" rel="stylesheet" type="text/css">
    @if (System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika").Contains(ViewBag.PaisAnalytics == null ? "" : ViewBag.PaisAnalytics))
    {
        <link rel="stylesheet" href="@Url.Content("~/Content/Css/Site/Esika/styleDefault.css")">
        <link rel="stylesheet" href="@Url.Content("~/Content/Css/Site/Esika/verificacion-pin.css")">
    }
    else
    {
        <link rel="stylesheet" href="@Url.Content("~/Content/Css/Site/Lbel/styleDefault.css")">
        <link rel="stylesheet" href="@Url.Content("~/Content/Css/Site/Lbel/verificacion-pin.css")">
    }

    @Styles.Render("~/Bundle/Css/Mixto/Content-Login")
</head>
<body>
    @Html.Partial("~/Views/Login/_PopupActualizacionContrasenia.cshtml")
</body>
</html>

<script type="text/javascript">
    var urlLogin = '@Url.Action("Login", "Login")';
    var urlCambiaContrasenia = '@Url.Action("CambiarContrasenia", "Login")';
    var urlRecibirPinCambioContrasenia = '@Url.Action("RecibirPinCambioContrasenia", "Login")';
    var urlVerificarCodigoGenerado = '@Url.Action("VerificarCodigoGenerado", "Login")';
    var urlContraseniaRepetida = '@Url.Action("ContraseniaRepetida", "Login")';
    
    var emt_country = '@Model.CodigoIso';
    var emt_id = '@Model.CodigoUsuario';
</script>

@Scripts.Render("~/Bundle/Js/Mixto/Login-ActualizarContrasenia")

