@model Portal.Consultoras.Web.Models.LoginModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Login";
}

<div id="loadingScreen"></div>
<div class="top_login">
    <div class="logo_login">
        <img src='@Url.Content("~/Content/Images/logo_intro.png")' />
    </div>
    <div class="logo_responde_login">
        <img src='@Url.Content("~/Content/Images/logo_responde_login.png")' />
    </div>
    <div class="aniversario">
        <img src='@Url.Content("~/Content/Images/aniversario.png")' id="imgFondoLogin" />
    </div>
</div>
<div class="wrapper_login">
    <div class="main_login">
        <div class="bienvenida_login">
            <span>Bienvenido a:</span>
            <h1>somosbelcorp.com</h1>
        </div>
        <div class="sombra_login">
            <div class="wrap_login">
                <div class="div-3">
                    <div class="titI">País:</div>
                    <div class="selectLogin borde_redondeado">
                        @Html.DropDownListFor(model => model.CodigoUsuario, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais" })
                    </div>
                </div>
                <div class="div-3">
                    <div class="titI_2">Código consultora o correo electrónico:</div>
                    <div class="selectLogin borde_redondeado">
                        <input type="text" id="txtUsuario" maxlength="20"/>
                    </div>
                    <div class="faq_campos">
                        <div id="btn1" class="btn_detail">
                            <a href="#">
                                <img src='@Url.Content("~/Content/Images/faq.png")' />
                            </a>
                        </div>
                        <div id="det1" class="detalle">
                            <div class="detalle_item">Lorem impsum date were fade</div>
                        </div>
                    </div>
                </div>
                <div class="div-3">
                    <div class="titI">Clave:</div>
                    <div class="selectLogin borde_redondeado">
                        <input type="password" id="txtClave" maxlength="50"/>
                    </div>
                    <div class="faq_campos">
                        <div id="btn2" class="btn_detail">
                            <a href="#">
                                <img src='@Url.Content("~/Content/Images/faq.png")' />
                            </a>
                        </div>
                        <div id="det2" class="detalle">
                            <div class="detalle_item">Were other day gate var</div>
                        </div>
                    </div>
                </div>
                <div class="div-3">
                    <div class="titI"></div>
                    <div class="btn_ingresar">
                        <input id="btnIngresar" type="button" value="Ingresa a tu cuenta" />
                    </div>
                </div>
                <div class="div-3">
                    <div class="titI"></div>
                    <div class="clave">
                        ¿Olvidaste tu clave?
                        <span>
                            <a href="@Url.Content("~/WebPages/RecuperarClave.aspx")">Click AQUI</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner_login">
            <div class="banner_login_item">
                <a href="#">
                    <img src='@Url.Content("~/Content/Images/banner_1.png")' />
                </a>
            </div>
            <div class="banner_login_item">
                <a href="#">
                    <img src='@Url.Content("~/Content/Images/banner_2.png")' />
                </a>
            </div>
        </div>
    </div>
</div>
<div class="foot_login">
    <div class="foot_login_content">
        <div class="logos_login">
            <p>Conoce más de:</p>
            <img src='@Url.Content("~/Content/Images/ban-5.png")' />
            <img src='@Url.Content("~/Content/Images/ban-6.png")' />
            <img src='@Url.Content("~/Content/Images/ban-7.png")' />
        </div>
        <div class="copyright_login">
            Copyright Belcorp 2012. All rights reserved.
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        jQuery(function () {
            $("#btnIngresar").click(function () {
                ValidarAutenticacion();
            });

            $("#txtUsuario").keypress(
            function (evt) {
                var charCode = (evt.which) ? evt.which : window.event.keyCode;
                if (charCode <= 13) {
                    ValidarAutenticacion();
                }
                else {
                    var keyChar = String.fromCharCode(charCode);
                    var re = /[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ_.@@-]/;
                    return re.test(keyChar);
                }
            });

            $("#txtClave").keypress(
            function (evt) {
                var charCode = (evt.which) ? evt.which : window.event.keyCode;
                if (charCode <= 13) {
                    ValidarAutenticacion();
                }
                else {
                    var keyChar = String.fromCharCode(charCode);
                    var re = /[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ_.@@-]/;
                    return re.test(keyChar);
                }
            });

            waitingDialog({});
            $.ajax({
                type: 'GET',
                url: baseUrl + 'GestionContenido/GetFondoLogin',
                data: '',
                cache: false,
                dataType: 'Json',
                success: function (data) {
                    if (data.Entidad != null) {
                        $("#imgFondoLogin").attr("src", '@Url.Content("~/Content/Images/login/")' + data.Entidad.Archivo);
                    }
                    closeWaitingDialog();
                },
                error: function (data, x, resp) {
                    closeWaitingDialog();
                }
            });
        });

        function LimpiarAutenticacion() {
            $("#txtUsuario").val("");
            $("#txtClave").val("");
        }

        function ValidarAutenticacion() {

            var PaisID = $("#ddlPais").val();
            var CodigoUsuario = jQuery.trim($("#txtUsuario").val());
            var Clave = jQuery.trim($("#txtClave").val());

            var vMessage = "";
            if (PaisID == "")
                vMessage += "- Debe seleccionar el País del Usuario.\n";
            if (CodigoUsuario == "")
                vMessage += "- Debe ingresar el Usuario.\n";
            if (Clave == "")
                vMessage += "- Debe ingresar la Clave Secreta.\n";
            if (vMessage == "") {

                var item = {
                    PaisID: PaisID,
                    CodigoConsultora: CodigoUsuario,
                    ClaveSecreta: Clave
                };
                waitingDialog({});
                jQuery.ajax({
                    type: 'POST',
                    url: baseUrl + 'Login/ValidarAutenticacion',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(item),
                    async: true,
                    success: function (data) {
                        if (data.result == true) {

                            location.href = '@Url.Action("Index", "Bienvenida")';
                        }
                        else {
                            alert(data.mensaje);
                            LimpiarAutenticacion();
                            closeWaitingDialog();
                        }
                    },
                    error: function (data, error, xh) {
                        closeWaitingDialog();
                        console.log(data);
                        console.log(error);
                        console.log(xh);
                        alert("Error en la Autenticación, ingrese nuevamente por favor.");
                        return false;
                    }
                });
            } else {
                alert(vMessage);
                $('#ddlPais').focus();
                return false;
            }
        }

    </script>
}
}