
@model Portal.Consultoras.Web.Models.LoginModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Login";
    var mensajeError = "";
}

<body>
    <script>
        var fbAppId = '@ViewBag.FBAppId';

        window.fbAsyncInit = function () {
            FB.init({
                appId: fbAppId,
                cookie: true,
                xfbml: true,
                version: 'v2.8'
            });

            FB.getLoginStatus(function (response) {
                if (response.status === 'connected') {
                    //console.log('Logged in.');
                    getInfoFB(1);
                }
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function loginFB() {
            //if (!openloginPopup) {
            // openloginPopup = true;
            FB.login(function (response) {
                //openloginPopup = false;
                if (response.status === 'connected') {
                    //console.log('Logged in.');
                    getInfoFB(2);
                }
                else if (response.status === 'not_authorized') {
                    //console.log('We are not logged in.');
                }
                else {
                    //console.log('You are not logged into Facebook.');

                }
            }, { scope: 'public_profile,email,user_birthday,user_location' });
            //}
        }

        function getInfoFB(opt) {
            var fp = null;

            FB.api('/me', 'GET', { fields: 'birthday,email,first_name,gender,hometown,id,last_name,link,location,name,picture.type(large)' }, function (response) {

                if (response.id !== null && response.id !== "") {
                    var exists = checkExternalUser('Facebook', response.id);

                    if (exists) {
                        if (opt == 2) {
                            fp = (typeof response.picture === 'object') ? response.picture.data.url : "";
                            validExternalUser('Facebook', response.id, fp);
                        }
                        else {
                            var fullname = response.name.trim();
                            var j = fullname.indexOf(' ');
                            var fname = fullname;
                            if (j > 0) {
                                fname = fullname.substring(0, j).trim();
                            }

                            $('#hdeNameUserExt').val(fname);

                            $('#btnLoginFB2').removeClass('center_facebook');
                            $('#btnLoginFB2').text('Continuar como ' + fname);
                            $('#imgFotoPerfil2').attr('src', response.picture.data.url);

                            $('#_nomusufb').html('¿No eres ' + response.name + '? ');
                            $('#_nomusufb').append('<a class="_ccfb" onclick="mostrarLoginAnterior()">Cambiar de cuenta</a>');

                            $('.webForm').css('padding-bottom', '75px');
                            $('#cambcuentaboton').hide();
                            $('#_olgn').hide();
                            $('#loginanterior').hide();

                            $('#btnfblogin').show();
                        }
                    }
                    else {
                        if (opt == 2) {
                            var lc = (typeof response.location === 'object') ? response.location.name : "";
                            fp = (typeof response.picture === 'object') ? response.picture.data.url : "";
                            $('#hdeProveedor').val('Facebook');
                            $('#hdeIdApp').val(response.id);
                            $('#hdeLogin').val(response.name);
                            $('#hdeNombres').val(response.first_name);
                            $('#hdeApellidos').val(response.last_name);
                            $('#hdeFechaNacimiento').val(response.birthday);
                            $('#hdeCorreo').val(response.email);
                            $('#hdeGenero').val(response.gender);
                            $('#hdeUbicacion').val(lc);
                            $('#hdeLinkPerfil').val(response.link);
                            $('#hdeFotoPerfil').val(fp);

                            $('#txtUsuario2').val('');
                            $('#txtContrasenia2').val('');
                            $('#ErrorTextLabel2').html('');

                            $('.nombre_usuario_facebook').text(response.name);
                            $('.foto_pop_face img').attr('src', response.picture.data.url);

                            $('#divMensajeError2').hide();
                            $('#popupAsociarUsuarioExt').show();
                        }
                    }
                }
            });
        }

        function checkExternalUser(provider, id) {
            var r = false;
            var obj = {
                codigoISO: $('#ddlPais').val(),
                proveedor: provider,
                appid: id
            };

            waitingDialog();

            $.ajax({
                type: 'POST',
                url: '/Login/CheckExternalUser',
                data: JSON.stringify(obj),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                async: false,
                success: function (response) {
                    //console.log(response);
                    closeWaitingDialog();
                    if (response.success) {
                        if (response.exists) {
                            r = true;
                        }
                    }
                },
                error: function (response) {
                    //console.log(response);
                    alert("Error al procesar la solicitud");
                }
            });

            return r;
        }

        function validExternalUser(provider, id, fotoperfil) {
            var obj = {
                codigoISO: $('#ddlPais').val(),
                proveedor: provider,
                appid: id,
                returnUrl: $('#returnUrl').val(),
                foto: fotoperfil
            };

            waitingDialog();

            $.ajax({
                type: 'POST',
                url: '/Login/ValidExternalUser',
                data: JSON.stringify(obj),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (response) {
                    //console.log(response);

                    if (response.success) {
                        //if (!response.exists) {
                        if (response.redirectTo !== "") {
                            document.location.href = response.redirectTo;
                        }
                        //}
                    }
                    else {
                        closeWaitingDialog();
                        alert(response.message);
                    }
                },
                error: function (response) {
                    //console.log(response);
                    closeWaitingDialog();
                    alert("Error al procesar la solicitud");
                },
            });
        }

        function mostrarLoginAnterior() {
            $('.webForm').css('padding-bottom', '10px');
            $('#btnfblogin').hide();
            //$('#cambcuentatext').hide();

            $('#cambcuentaboton').fadeIn('slow');
            $('#_olgn').fadeIn('slow');
            $('#loginanterior').fadeIn('slow');
            //$('#nvobtnfacebook').fadeIn('slow');
        }

        function mostrarLoginFB() {
            $('.webForm').css('padding-bottom', '75px');
            $('#cambcuentaboton').hide();
            $('#_olgn').hide();
            $('#loginanterior').hide();
            //$('#nvobtnfacebook').hide();

            $('#btnfblogin').fadeIn('slow');
            //$('#cambcuentatext').fadeIn('slow');
        }

    </script>
</body>

<input type="hidden" id="PaginaLogin" />

<div id="FormsSignInContentPopup">
    <!-- OLVIDASTE TU CONTRASEÑA -->
    <div id="popup1" style="display:none;">
        <div id="popup_olvidasteContrasenia">
            <div class="content_bg_olvidasteContrasenia">
                <a id="btnCerrarContraseniaPopup" href="#" class="cerrar" onclick="$('#popup1').hide();"></a>
                <div id="header">
                    <div class="fondo_sesgado"></div>
                    <span>
                        ¿OLVIDASTE TU <b>CONTRASEÑA?</b>
                    </span>
                    <div class="indicador_lbel"></div>
                </div>
                <div class="mensaje_pop_up2">
                    Completa tus datos para buscar tu cuenta.
                    <br />
                </div>
                <div class="formCont popupOlvideContrasenia">
                    <div class="boxform">
                        <div class="formcontrol pais" id="cargarBandera2" style="margin-bottom: 35px;">
                            <select id="cboPaisCambioClave" class="cboPaisCambioClave" tabindex="1" style="color: black !important">
                                <option value="0">Elige tu País</option>
                                @if (Model.ListaPaises != null)
                                {
                                    foreach (var item in Model.ListaPaises)
                                    {
                                        <option value="@item.PaisID">@item.Nombre</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="boxform">
                        <div class="formcontrol codigoConsultora_dni" style="margin-bottom: 33px; color: black;">
                            <input type="text" class="inputForm" value="" id="txtCorreoElectronico" placeholder="Código de consultora o DNI" style="color: black;" />
                        </div>
                    </div>

                    <div id="mensajesOC" style="text-align: left; color: #CF2D3A;"></div>

                    <div class="boxform">
                        <div class="formbtn">
                            <input type="button" id="btnRecuperarClave" class="btnCrear" value="ENVIAR" onclick="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- OPCIONES CORREO Y SMS -->

    <div id="popup3" style="display:none;">
        <div id="popup_opciones_recuperacion_contrasenia">
            <div class="content_bg_opciones_recuperacion_contrasenia">
                <a id="btnCerrarContraseniaPopup" href="#" class="cerrar" onclick="$('#popup3').hide();"></a>
                <div id="header">
                    <div class="fondo_sesgado"></div>
                    <span>
                        CAMBIO DE <b>CONTRASEÑA</b>
                    </span>
                </div>
                <div class="indicador_lbel"></div>
                <div class="mensaje_pop_up2">
                    <span>Sofía, no te preocupes.</span>
                    <!-- INICIO - MENSAJE CUANDO LA CONSULTORA TIENE CORREO Y CELULAR REGISTRADOS (OPCIÓN CORREO Y SMS) -->
                    <b>Elige cómo prefieres cambiar tu contraseña.</b>
                    <!-- FIN - MENSAJE CUANDO LA CONSULTORA TIENE CORREO Y CELULAR REGISTRADOS (OPCIÓN CORREO Y SMS) -->
                    <!-- INICIO - MENSAJE CUANDO LA CONSULTORA TIENE SÓLO CORREO REGISTRADO (OPCIÓN CORREO) -->
                    <b style="display:none;">Te enviaremos un e-mail al siguiente correo: </b>
                    <!-- FIN - MENSAJE CUANDO LA CONSULTORA TIENE SÓLO CORREO REGISTRADO (OPCIÓN CORREO) -->
                    <!-- INICIO - MENSAJE CUANDO LA CONSULTORA TIENE SÓLO CELULAR REGISTRADO (OPCIÓN SMS) -->
                    <b style="display:none;">Te enviaremos un mensaje de texto al siguiente número:</b>
                    <!-- FIN - MENSAJE CUANDO LA CONSULTORA TIENE SÓLO CELULAR REGISTRADO (OPCIÓN SMS) -->
                    <!-- INICIO - MENSAJE CUANDO LA CONSULTORA NO TIENE CORREO Y CELULAR REGISTRADOS (OPCIÓN CHATEA CON NOSOTROS) -->
                    <b style="display:none;">Puedes comunicarte con nosotros por este medio:</b>
                    <!-- FIN - MENSAJE CUANDO LA CONSULTORA NO TIENE CORREO Y CELULAR REGISTRADOS (OPCIÓN CHATEA CON NOSOTROS) -->
                    <!-- INICIO - MENSAJE CUANDO LA CONSULTORA NO TIENE CORREO Y CELULAR REGISTRADOS (OPCIÓN LLAMADA) -->
                    <b style="display:none;">Puedes comunicarte con nosotros llamando a nuestra central telefónica:</b>
                    <!-- FIN - MENSAJE CUANDO LA CONSULTORA NO TIENE CORREO Y CELULAR REGISTRADOS (OPCIÓN LLAMADA) -->
                    <!-- INICIO - MENSAJE SI NO HAY CORREO, SMS, CHAT NI LLAMADAS -->
                    <span class="texto_disculpa" style="display:none;">Sofía, discúlpanos, en estos momentos no podemos atenderte.</span>
                    <b style="display:none;">Puedes comunicarte con nosotros llamando a nuestra central telefónica en el siguiente horario:</b>
                    <!-- FIN - MENSAJE SI NO HAY CORREO, SMS, CHAT NI LLAMADAS -->
                </div>
                <div class="opciones_recuperacion_contrasenia">
                    <!-- INICIO - CUANDO LA CONSULTORA TIENE CORREO Y CELULAR REGISTRADOS (OPCIÓN CORREO Y SMS) -->
                    <a href="" class="opcion_recuperacion_contrasenia opcionCorreo">
                        <div class="icono_correo_electronico"></div>
                        <div class="contenedor_info_datos">
                            <div class="titulo_opcion_correo">Correo electrónico</div>
                            <div class="correo_electronico">a********zo@gmail.com</div>
                        </div>
                    </a>
                    <a href="" class="opcion_recuperacion_contrasenia opcionSms">
                        <div class="icono_sms"></div>
                        <div class="contenedor_info_datos">
                            <div class="titulo_opcion_sms">Mensaje de texto (sms)</div>
                            <div class="numero_celular">9** *** *61</div>
                        </div>
                    </a>
                    <!-- FIN - CUANDO LA CONSULTORA TIENE CORREO Y CELULAR REGISTRADOS (OPCIÓN CORREO Y SMS) -->
                    <!-- INICIO - CUANDO LA CONSULTORA TIENE SÓLO CORREO REGISTRADO (OPCIÓN CORREO) -->
                    <div class="opcion_recuperacion_contrasenia" style="display:none;">
                        <div class="contenedor_solo_una_opcion">
                            <div class="icono_correo_electronico mb-15"></div>
                            <div class="contenedor_info_datos">
                                <div class="titulo_opcion_correo">Correo electrónico</div>
                                <div class="correo_electronico">a********zo@gmail.com</div>
                            </div>
                        </div>
                        <button class="btn_enviar_email">Enviar e-mail</button>
                    </div>
                    <!-- FIN - CUANDO LA CONSULTORA TIENE SÓLO CORREO REGISTRADO (OPCIÓN CORREO) -->
                    <!-- INICIO - CUANDO LA CONSULTORA TIENE SÓLO CELULAR REGISTRADO (OPCIÓN SMS) -->
                    <div class="opcion_recuperacion_contrasenia" style="display:none;">
                        <div class="contenedor_solo_una_opcion">
                            <div class="icono_sms mb-15"></div>
                            <div class="contenedor_info_datos">
                                <div class="titulo_opcion_sms">Número de celular</div>
                                <div class="numero_celular">9** *** *61</div>
                            </div>
                        </div>
                        <button class="btn_enviar_sms">Enviar mensaje</button>
                    </div>
                    <!-- FIN - CUANDO LA CONSULTORA TIENE SÓLO CELULAR REGISTRADO (OPCIÓN SMS) -->
                    <!-- INICIO - CUANDO LA CONSULTORA NO TIENE CORREO Y CELULAR REGISTRADOS (OPCIÓN CHATEA CON NOSOTROS) -->
                    <div class="opcion_recuperacion_contrasenia" style="display:none;">
                        <div class="contenedor_solo_una_opcion">
                            <div class="icono_chatea_con_nosotros"></div>
                            <div class="contenedor_info_datos">
                                <div class="titulo_opcion_chatea_con_nosotros">Chatea con nosotros</div>
                                <div class="horarios_atencion">L-V: 8:00 a 20:00 y S: 08:00 a 18:00</div>
                            </div>
                        </div>
                        <button class="btn_ingresar_chat">Ingresar al chat</button>
                    </div>
                    <!-- FIN - CUANDO LA CONSULTORA NO TIENE CORREO Y CELULAR REGISTRADOS (OPCIÓN CHATEA CON NOSOTROS) -->
                    <!-- INICIO - CUANDO LA CONSULTORA NO TIENE CORREO Y CELULAR REGISTRADOS (OPCIÓN LLAMADA) -->
                    <div class="opcion_recuperacion_contrasenia" style="display:none;">
                        <!-- INICIO - OPCIÓN LLAMADA DESKTOP -->
                        <div class="contenedor_solo_una_opcion opcionLlamada_desktop">
                            <div class="icono_llamada"></div>
                            <div class="contenedor_info_datos">
                                <div class="titulo_opcion_llamada">Central Telefónica del Perú</div>
                                <div class="telefonos_central">
                                    <span>
                                        Lima: <span>01-2113614</span>
                                    </span>
                                    <span>
                                        Provincia: <span>080-11-3030</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- FIN - OPCIÓN LLAMADA DESKTOP -->
                        <!-- INICIO - OPCIÓN LLAMADA MOBILE -->
                        <div class="contenedor_solo_una_opcion opcionLlamada_mobile">
                            <!-- INICIO - CENTRALES TELEFÓNICAS PERÚ -->
                            <div class="grupo_centrales_telefonicas_disponibles">
                                <a href="" class="central_telefonica">
                                    <div class="icono_llamada"></div>
                                    <div class="texto_opcion_llamada">
                                        Llamar de Lima
                                    </div>
                                </a>
                                <a href="" class="central_telefonica">
                                    <div class="icono_llamada"></div>
                                    <div class="texto_opcion_llamada">
                                        Llamar de provincia
                                    </div>
                                </a>
                            </div>
                            <!-- FIN - CENTRALES TELEFÓNICAS PERÚ -->
                            <!-- INICIO - CENTRALES TELEFÓNICAS OTROS PAÍSES -->
                            <div class="grupo_centrales_telefonicas_disponibles" style="display:none;">
                                <a href="" class="central_telefonica">
                                    <div class="icono_llamada"></div>
                                    <div class="texto_opcion_llamada">
                                        Llamar a central 1
                                    </div>
                                </a>
                                <a href="" class="central_telefonica">
                                    <div class="icono_llamada"></div>
                                    <div class="texto_opcion_llamada">
                                        Llamar a central 2
                                    </div>
                                </a>
                                <a href="" class="central_telefonica">
                                    <div class="icono_llamada"></div>
                                    <div class="texto_opcion_llamada">
                                        Llamar a central 3
                                    </div>
                                </a>
                            </div>
                            <!-- FIN  - CENTRALES TELEFÓNICAS OTROS PAÍSES -->
                        </div>
                        <!-- FIN - OPCIÓN LLAMADA MOBILE -->
                    </div>
                    <!-- FIN - CUANDO LA CONSULTORA NO TIENE CORREO Y CELULAR REGISTRADOS (OPCIÓN LLAMADA) -->
                    <!-- INICIO - SI NO HAY CORREO, SMS, CHAT NI LLAMADAS -->
                    <div style="display:none;">
                        <div class="contenedor_solo_una_opcion">
                            <div class="icono_reloj mb-15"></div>
                            <div class="contenedor_info_datos">
                                <div class="titulo_opcion_horarios_atencion">
                                    Horario de atención central telefónica
                                </div>
                                <div class="horarios_atencion">
                                    <div class="mb-3">
                                        <span>Lunes a Viernes: </span>
                                        <span>08:00</span> a <span>20:00</span>
                                    </div>
                                    <div>
                                        <span>Sábados: </span>
                                        <span>08:00</span> a <span>18:00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIN - SI NO HAY CORREO, SMS, CHAT NI LLAMADAS -->
                </div>
                <div class="info_mas_opciones">
                    <!-- INICIO - MENSAJE CUANDO LA CONSULTORA TIENE CORREO Y CELULAR REGISTRADOS -->
                    <span>Mis datos no son correctos.</span>
                    <!-- FIN - MENSAJE CUANDO LA CONSULTORA TIENE CORREO Y CELULAR REGISTRADOS -->
                    <!-- INICIO - MENSAJE CUANDO LA CONSULTORA TIENE SÓLO CORREO REGISTRADO -->
                    <span style="display:none;">Este no es mi correo.</span>
                    <!-- FIN - MENSAJE CUANDO LA CONSULTORA TIENE SÓLO CORREO REGISTRADO -->
                    <!-- INICIO - MENSAJE CUANDO LA CONSULTORA TIENE SÓLO CELULAR REGISTRADO -->
                    <span style="display:none;">Este no es mi número.</span>
                    <!-- FIN - MENSAJE CUANDO LA CONSULTORA TIENE SÓLO CELULAR REGISTRADO -->

                    <a href="" title="Ver más opciones">
                        Ver más opciones
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- CONTRASEÑA ENVIADA -->
    <div id="popup2" style="display:none;">
        <div id="popup_contraseniaEnviada">
            <div class="content_bg_contraseniaEnviada">
                <a id="btnRegresar" class="btn_regresar_ver_otras_opciones" href="#" title="Regresar">Regresar</a>
                <a id="btnCerrarContraseniaEnviadaPopup" href="#" class="cerrar" onclick="$('#popup2').hide();" title="Cerrar"></a>
                <!-- INICIO - INFORMACIÓN CONTRASEÑA ENVIADA A CORREO DE CONSULTORA -->
                <div class="mensaje_pop_up_contraseniaEnviada">
                    <!-- INICIO - ESTE TITULO SE MUESTRA PARA 1ER INTENTO Y 2DO INTENTO DE RECUPERACIÓN DE PASSWORD -->
                    <h1>Por favor, revisa tu correo</h1>
                    <!-- FIN - ESTE TITULO SE MUESTRA PARA 1ER INTENTO Y 2DO INTENTO DE RECUPERACIÓN DE PASSWORD -->

                    <!-- INICIO - ESTE TITULO SE MUESTRA PARA 3ER INTENTO DE RECUPERACIÓN DE PASSWORD -->
                    <h1 style="display:none;">Por favor, espera un momento, el mensaje está en camino</h1>
                    <!-- FIN - ESTE TITULO SE MUESTRA PARA 3ER INTENTO DE RECUPERACIÓN DE PASSWORD -->
                    <br />
                    <br />
                    <div class="icono_correo">
                        <img src="~/Content/Images/Login2/Icons/icono_nuevo_correo.png" alt="Alternate Text" />
                    </div>
                    <br />
                    <br />
                    <p>
                        Te hemos enviado las instrucciones a :
                        <br />
                    <p id="correoDestino"><strong></strong></p>

                    </p>
                    <!-- INICIO - 1ER INTENTO DE RECUPERACIÓN DE PASSWORD -->
                    <a href="" class="accion_alternativa_posterior_envio_password" title="Reenviar mensaje a mi correo">Reenviar mensaje a mi correo</a>
                    <!-- FIN - 1ER INTENTO -->

                    <!-- INICIO - 2DO INTENTO DE RECUPERACIÓN DE PASSWORD -->
                    <a href="" class="accion_alternativa_posterior_envio_password" title="Reenviar mensaje a mi correo" style="display:none;">Intentar nuevamente</a>
                    <!-- FIN - 2DO INTENTO DE RECUPERACIÓN DE PASSWORD -->

                    <!-- INICIO - 3ER INTENTO DE RECUPERACIÓN DE PASSWORD -->
                    <div style="display:none;">
                        <span class="txto_no_llego_mensaje">No me llego el correo.</span>
                        <a href="" class="accion_alternativa_posterior_envio_password" title="Reenviar mensaje a mi correo">Ver más opciones</a>
                    </div>
                    <!-- FIN - 3ER INTENTO DE RECUPERACIÓN DE PASSWORD -->
                </div>
                <!-- FIN - INFORMACIÓN CONTRASEÑA ENVIADA A CORREO DE CONSULTORA -->

                <!-- INICIO - INGRESO CÓDIGO ENVIADO MEDIANTE MENSAJE SMS A CELULAR DE CONSULTORA REGISTRADO -->
                <div class="mensaje_pop_up_contraseniaEnviada" style="display:none;">
                    <h1>Por favor, revisa tu celular</h1>
                    <br />
                    <br />
                    <div class="icono_correo">
                        <img src="~/Content/Images/Login2/Icons/icono_nuevo_correo.png" alt="Alternate Text" />
                    </div>
                    <br />
                    <p>
                        Te hemos enviado un código al: <strong>9** *** *61</strong>
                    </p>
                    <p class="texto_informativo_ingreso_codigo">
                        Una vez recibido, ingrésalo aquí
                    </p>
                    <div class="ingreso_codigo">
                        <input type="text" maxlength="1" id="primerDigito" name="primerDigito" class="codigoSms">
                        <input type="text" maxlength="1" id="segundoDigito" name="segundoDigito" class="codigoSms">
                        <input type="text" maxlength="1" id="tercerDigito" name="tercerDigito" class="codigoSms">
                        <input type="text" maxlength="1" id="cuartoDigito" name="cuartoDigito" class="codigoSms">
                        <div class="tiempo_validez_codigoSms">
                            <span>01</span>:<span>00</span>
                        </div>
                        <div class="mensaje_error_codigo" style="display:none;">
                            <span class="icono_alerta_error"></span>
                            <span>Código inválido</span>
                        </div>
                    </div>
                    <!-- INICIO - 1ER INTENTO DE RECUPERACIÓN DE PASSWORD -->
                    <a href="" class="accion_alternativa_posterior_envio_password" title="Reenviar mensaje a mi correo" style="display:none;">Reenviar mensaje de texto</a>
                    <!-- FIN - 1ER INTENTO -->
                    <!-- INICIO - 2DO INTENTO DE RECUPERACIÓN DE PASSWORD -->
                    <a href="" class="accion_alternativa_posterior_envio_password" title="Reenviar mensaje a mi correo" style="display:none;">Intentar nuevamente</a>
                    <!-- FIN - 2DO INTENTO DE RECUPERACIÓN DE PASSWORD -->
                    <!-- INICIO - 3ER INTENTO DE RECUPERACIÓN DE PASSWORD -->
                    <div style="display:none;">
                        <span class="texto_no_llego_mensaje">No me llego el mensaje.</span>
                        <a href="" class="accion_alternativa_posterior_envio_password" title="Reenviar mensaje a mi correo">Volver al inicio</a>
                    </div>
                    <!-- FIN - 3ER INTENTO DE RECUPERACIÓN DE PASSWORD -->
                </div>
                <!-- FIN - INGRESO CÓDIGO ENVIADO MEDIANTE MENSAJE SMS A CELULAR DE CONSULTORA REGISTRADO -->

                <!-- INICIO - MÁS OPCIONES -->
                <div class="mensaje_pop_up_contraseniaEnviada" style="display:none;">
                    <!-- INICIO - MÁS OPCIONES - CHATEA CON NOSOTROS -->
                    <h1 class="mb-34">
                        Sofía, puedes comunicarte con nosotros por este medio
                    </h1>
                    <!-- FIN - MÁS OPCIONES - CHATEA CON NOSOTROS -->

                    <!-- INICIO - MÁS OPCIONES - LLÁMANOS -->
                    <h1 class="mb-34" style="display:none;">
                        Sofía, puedes comunicarte con nosotros llamando a nuestra central telefónica
                    </h1>
                    <!-- FIN - MÁS OPCIONES - LLÁMANOS -->

                    <!-- INICIO - MÁS OPCIONES - CHATEA CON NOSOTROS -->
                    <div class="opcion_recuperacion_contrasenia">
                        <div class="contenedor_solo_una_opcion">
                            <div class="icono_chatea_con_nosotros"></div>
                            <div class="contenedor_info_datos">
                                <div class="titulo_opcion_chatea_con_nosotros">Chatea con nosotros</div>
                                <div class="horarios_atencion">L-V: 8:00 a 20:00 y S: 08:00 a 18:00</div>
                            </div>
                        </div>
                        <button class="btn_ingresar_chat">Ingresar al chat</button>
                    </div>
                    <!-- FIN - MÁS OPCIONES - CHATEA CON NOSOTROS -->

                    <!-- INICIO - MÁS OPCIONES - LLÁMANOS -->
                    <div class="opcion_recuperacion_contrasenia" style="display:none;">
                        <!-- INICIO - MÁS OPCIONES - LLÁMANOS DESKTOP -->
                        <div class="opcionLlamada_desktop">
                            <div class="icono_llamada"></div>
                            <div class="titulo_opcion_llamada">Central Telefónica del Perú</div>
                            <div class="telefonos_central">
                                <span>
                                    Lima: <span>01-2113614</span>
                                </span>
                                <span>
                                    Provincia: <span>080-11-3030</span>
                                </span>
                            </div>
                        </div>
                        <!-- FIN - MÁS OPCIONES - LLÁMANOS DESKTOP -->

                        <!-- INICIO - MÁS OPCIONES - LLÁMANOS MOBILE -->
                        <div class="opcionLlamada_mobile">
                            <!-- INICIO - CENTRALES TELEFÓNICAS PERÚ -->
                            <div class="grupo_centrales_telefonicas_disponibles">
                                <a href="" class="central_telefonica">
                                    <div class="icono_llamada"></div>
                                    <div class="texto_opcion_llamada">
                                        Llamar de Lima
                                    </div>
                                </a>
                                <a href="" class="central_telefonica">
                                    <div class="icono_llamada"></div>
                                    <div class="texto_opcion_llamada">
                                        Llamar de provincia
                                    </div>
                                </a>
                            </div>
                            <!-- FIN - CENTRALES TELEFÓNICAS PERÚ -->

                            <!-- INICIO - CENTRALES TELEFÓNICAS OTROS PAÍSES -->
                            <div class="grupo_centrales_telefonicas_disponibles" style="display:none;">
                                <a href="" class="central_telefonica">
                                    <div class="icono_llamada"></div>
                                    <div class="texto_opcion_llamada">
                                        Llamar a central 1
                                    </div>
                                </a>
                                <a href="" class="central_telefonica">
                                    <div class="icono_llamada"></div>
                                    <div class="texto_opcion_llamada">
                                        Llamar a central 2
                                    </div>
                                </a>
                                <a href="" class="central_telefonica">
                                    <div class="icono_llamada"></div>
                                    <div class="texto_opcion_llamada">
                                        Llamar a central 3
                                    </div>
                                </a>
                            </div>
                            <!-- FIN  - CENTRALES TELEFÓNICAS OTROS PAÍSES -->
                        </div>
                        <!-- FIN - MÁS OPCIONES - LLÁMANOS MOBILE -->
                    </div>
                    <!-- FIN - MÁS OPCIONES - LLÁMANOS -->
                </div>
                <!-- FIN - MÁS OPCIONES -->

                <!-- INICIO - AL HACER CLICK EN MÁS OPCIONES Y NO HAY CHAT NI LLAMADAS -->
                <div class="mensaje_pop_up_contraseniaEnviada" style="display:none;">
                    <h1 class="texto_disculpa_2">Sofía, puedes comunicarte con nosotros llamando a nuestra central telefónica en el siguiente horario:</h1>
                    <br />
                    <br />
                    <div class="icono_reloj_2 mb-15"></div>
                    <div class="titulo_opcion_horarios_atencion">
                        Horario de atención central telefónica
                    </div>
                    <div class="horarios_atencion_2">
                        <div class="mb-3">
                            <span>Lunes a Viernes: </span>
                            <span>08:00</span> a <span>20:00</span>
                        </div>
                        <div>
                            <span>Sábados: </span>
                            <span>08:00</span> a <span>18:00</span>
                        </div>
                    </div>
                </div>
                <!-- FIN - AL HACER CLICK EN MÁS OPCIONES Y NO HAY CHAT NI LLAMADAS -->
            </div>
        </div>
    </div>
</div>

<!-- webForm -->

<div class="webForm">

    <div class="logo-esika">
    </div>
    <div class="text_bienvenida_esika">
        ¡Bienvenida a la Compañía de Belleza con la que puedes <span> ganar más! </span>
    </div>
    <div class="title">
        <img src="~/Content/Images/Login2/logo_welcome.png" alt="" />
    </div>

    <!--LOGIN EXTERNO -->
    <div class="formbtn" style="float: none;">

        <div id="cambcuentaboton">
            @*<div style="margin-bottom:20px;text-align: center">
                    <img id="imgFotoPerfil" src="" alt="" style="width: 110px; height: 110px;border-radius: 100px; display:none;" />
                </div>*@

            <div class="content_btn_face">
                <button id="btnLoginFB" class="loginBtn loginBtn--facebook" onclick="loginFB()" style="width: 100%; height: 48px;display: block;">
                    Ingresa con Facebook
                </button>
                @*<div class="imagen_perfil_facebook" style="display: none;">
                        <img id="imgFotoPerfilh" src="" alt="" style="width: 50px; height: 50px;" />
                    </div>*@
            </div>

        </div>

        <div id="_olgn" class="div-o-login">
            <div class="linea_o"></div>
            <div class="o_login">ó</div>
            <div class="linea_o"></div>
        </div>
        <hr class="clear" />

        <!--
        <div class="text_bienvenida_esika" id="divAsociarLoginExterno" style="display: none; margin-bottom: 5px;">
            @*<b>Registro.</b> Asociando tu cuenta de Facebook a SomosBelcorp.
            <br /><br />*@
            <div style="font-size: 14px;">Hola, <span id="spnLoginFB"></span></div>
            <br />
            <div style="font-size: 11px;">
                Estas correctamente autenticado con <span style="font-size: 16px;">Facebook</span>. Por favor ingresa tu usuario y contraseña de SomosBelcorp, por única vez, para asociarlo.
            </div>
            <br />
        </div>
            -->
    </div>

    <!--LOGIN EXTERNO -->
    <div id="btnfblogin" style="display:none;">

        <div class="content_sesion_facebook">
            <img id="imgFotoPerfil2" src="" alt="" />
        </div>

        <div class="content_btn_face">
            <button id="btnLoginFB2" class="loginBtn loginBtn--facebook" onclick="loginFB()" style="width: 100%; height: 48px; display:block;">
                Ingresa con Facebook
            </button>
            @*<div class="imagen_perfil_facebook" style="">
                    <img id="imgFotoPerfil2" src="" alt="" style="width: 50px; height: 50px;" />
                </div>*@
        </div>

        <div id="cambcuentatext" class="text_bienvenida_esika">
            <span id="_nomusufb" style="display: inline; font-size:14px;"></span>
        </div>

        @*<div id="_olgn" class="div-o-login">
                <div class="linea_o"></div>
                <div class="o_login">ó</div>
                <div class="linea_o"></div>
            </div>*@
        <hr class="clear" />
    </div>

    @using (@Html.BeginForm("Login", "Login", FormMethod.Post, new { id = "frmLogin" }))
    {
        <div id="loginanterior" class="formCont">
            <input type="hidden" id="hdfContrasenia" />
            @*@Html.Hidden("returnUrl", @Request.QueryString)*@
            <input type="hidden" id="returnUrl" name="returnUrl" value="@ViewBag.ReturnURL" />

            <div class="info-userext">
                @*@Html.AntiForgeryToken()*@
                <input type="hidden" id="hdeProveedor" name="UsuarioExterno.Proveedor" />
                <input type="hidden" id="hdeIdApp" name="UsuarioExterno.IdAplicacion" />
                <input type="hidden" id="hdeLogin" name="UsuarioExterno.Login" />
                <input type="hidden" id="hdeNombres" name="UsuarioExterno.Nombres" />
                <input type="hidden" id="hdeApellidos" name="UsuarioExterno.Apellidos" />
                <input type="hidden" id="hdeFechaNacimiento" name="UsuarioExterno.FechaNacimiento" />
                <input type="hidden" id="hdeCorreo" name="UsuarioExterno.Correo" />
                <input type="hidden" id="hdeGenero" name="UsuarioExterno.Genero" />
                <input type="hidden" id="hdeUbicacion" name="UsuarioExterno.Ubicacion" />
                <input type="hidden" id="hdeLinkPerfil" name="UsuarioExterno.LinkPerfil" />
                <input type="hidden" id="hdeFotoPerfil" name="UsuarioExterno.FotoPerfil" />
                <input type="hidden" name="UsuarioExterno.Redireccionar" value="true" />
            </div>

            <!--- FORM CONTROL PAIS --->
            <div class="boxform">
                <div class="flecha_select">
                    <div class="formcontrol pais" id="cargarBandera">

                        <input type="hidden" id="hdfPaisSelect" value="00" />
                        <input type="hidden" id="hdfPaises" value="PE;BO;CL;SV;CR;PA;GT;EC;AR;MX;DO;PR;VE;CO" />
                        <input type="hidden" id="hdfURL" value="https://www2.somosbelcorp.com" />
                        @*<input type="hidden" id="hdf_AR" value="fondo_default.jpg" />*@
                        <input type="hidden" id="hdf_BO" value="LoginLoveBomb.jpg" />
                        <input type="hidden" id="hdf_CL" value="LoginLoveBomb.jpg" />
                        <input type="hidden" id="hdf_CO" value="LoginLoveBomb.jpg" />
                        <input type="hidden" id="hdf_CR" value="fondo_default.jpg" />
                        <input type="hidden" id="hdf_EC" value="LoginLoveBomb.jpg" />
                        <input type="hidden" id="hdf_SV" value="LoginLoveBomb.jpg" />
                        <input type="hidden" id="hdf_GT" value="LoginLoveBomb.jpg" />
                        <input type="hidden" id="hdf_MX" value="LoginLoveBomb.jpg" />
                        <input type="hidden" id="hdf_PA" value="fondo_default.jpg" />
                        <input type="hidden" id="hdf_PE" value="LoginLoveBomb.jpg" />
                        <input type="hidden" id="hdf_PR" value="LoginLoveBomb.jpg" />
                        <input type="hidden" id="hdf_DO" value="fondo_default.jpg" />
                        <input type="hidden" id="hdf_VE" value="fondo_default.jpg" />
                        <input type="hidden" id="hdeCodigoISO" name="hdeCodigoISO" />

                        <input type="hidden" id="HdePaisID" name="PaisID" />


                        <select id="ddlPais" name="CodigoISO" class="DropDown" tabindex="1">
                            <option value="00" data-id="99">Elige tu País</option>
                            @if (Model.ListaPaises != null)
                            {
                                foreach (var item in Model.ListaPaises)
                                {
                                    if (item.PaisID > 0)
                                    {
                                        <option value="@item.CodigoISO" data-id="@item.PaisID">@item.Nombre</option>
                                    }
                                    else
                                    {
                                        mensajeError = item.Nombre;
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>

            <!--- FORM CONTROL USUARIO --->
            <div class="boxform" data-error="@mensajeError">
                <div class="formcontrol user">
                    <input id="txtUsuario" name="CodigoUsuario" type="text" class="inputForm" value="" onfocus="" onblur="" placeholder="Usuario o Correo Electrónico" />
                </div>
                <div id="Div3" class="btn">
                    <a href="javascript:void(0);" id="abrirMSJ01" onclick="AbrirMensajeLogin(1)" class="helper huno"></a>
                </div>
            </div>

            <!--- FORM CONTROL PASSWORD -->
            <div class="boxform">
                <div class="formcontrol pass">
                    <input type="password" name="ClaveSecreta" id="txtContrasenia" class="inputForm" placeholder="Contraseña" value="" />
                </div>
                <div id="Div5" class="btn">
                    <a href="javascript:void(0);" id="abrirMSJ02" onclick="AbrirMensajeLogin(2)" class="helper hdos"></a>
                </div>
            </div>

            <div class="boxform">
                <div class="formbtn">
                    <div style="color: #ABEAE3; text-align: left; padding-left: 4px; margin-bottom: 5px; font-family: 'lato'; font-size: 12px; font-weight: bold;">
                        <label id="ErrorTextLabel" class="img_error_login"></label>
                    </div>
                </div>
            </div>

            <div class="boxform float_r">
                <div class="formbtn">
                    <div style="padding-left: 4px;">
                        <a id="AvisoASP" class="aviso_privacidad" href="javascript:void(0)" style="display: none;">Aviso de Privacidad</a>
                    </div>
                </div>
            </div>

            <!-- FORM OLVIDASTE TU CONTRASEÑA -->
            <div class="boxform float_r">
                <div class="formbtn">
                    <label for="">
                        <a href="javascript:void(0);" onclick="olvidasteContrasenia();" rel="formulario-login" title="Recupérala aquí" role="menu" region="Lateral" parent="Recupérala aquí">¿Olvidaste tu contraseña?</a>
                    </label>
                    <br />
                </div>
            </div>

            <div class="clear"></div>

            @*<div id="nvobtnfacebook" style="cursor:pointer; display:none;">
                    <img src="~/Content/Images/face_login.png" alt="icoFace" height="16" width="16">
                    <span class="text_bienvenida_esika" style="font-size:14px;" onclick="mostrarLoginFB()">Iniciar sesión con Facebook</span>
                </div>*@

            <!-- INGRESA A TU CUENTA -->
            <div class="boxform">
                <div class="formbtn">
                    <input type="submit" id="btnLogin" class="btnCrear" value="INGRESA A TU CUENTA" />
                </div>
                <div style="display: none;">
                    <input type="submit" id="SubmitButton" />
                </div>
            </div>

            <!-- ADMINISTRADOR FORMULARIO -->
            <div class="boxform">
                <div class="admin">
                    <a href="@Url.Action("Admin", "Login")" onclick="return RedirectAdministrador();" rel="menu-superior" title="Administrador">INGRESA COMO <strong>ADMINISTRADOR</strong></a>
                </div>
            </div>

            <!-- RETIRO FONDOS TARJETA HELM -->
            <div class="boxform" id="VinculoTarjetaHelm">
                <div class="admin" style="margin-top:14px !important">
                    <label for="">
                        <a href="@System.Configuration.ConfigurationManager.AppSettings["UrlRetiroFondosTarjetaHelm"]" download target="_blank" title="" style="text-decoration:underline">RETIRO TARJETA PAY CARD CON SALDO</a>
                    </label>
                </div>
            </div>
        </div>
    }

</div>

<!-- webForm -->
<div id="popupAsociarUsuarioExt" class="content_pop_login" style="display: none;">
    <input type="hidden" id="hdeNameUserExt" />
    <div class="content_facebook_sb">
        <div class="header_facebook">
            SOMOS BELCORP
            <a class="btn_cerrar_login" href="javascript:;" onclick="closePopupAsociarLoginExt()"></a>
        </div>
        <div class="body_facebook">
            <div class="texto_login">
                <b class="solo_texto_paso">Solo un paso más... </b> Por favor ingresa tu usuario y contraseña de <b style="font-size:16px;">SomosBelcorp</b> por única vez para asociarlo.
            </div>

            <div class="content_foto_face_pop">
                <div class="foto_pop_face"> <img src="" /></div>
                <div class="nombre_usuario_facebook">Valeria</div>
            </div>

            <div id="cargarBandera3" class="campo_input">
                <select class="select_pais_facebook" id="ddlPais2">
                    <option value="00">Elige tu País</option>
                    @if (Model.ListaPaises != null)
                    {
                        foreach (var item in Model.ListaPaises)
                        {
                            <option value="@item.CodigoISO" data-id="@item.PaisID">@item.Nombre</option>
                        }
                    }
                </select>
            </div>
            <hr class="clear" />

            <div class="campo_input icono_usuario">
                <input type="text" value="" class="usuario_facebook" id="txtUsuario2" placeholder="Usuario o Correo Electrónico" />
                <div class="ayuda_usuario_facebook">
                    <a href="#" class="helper_facebook"></a>
                    <div class="mensaje_ayuda_usuario" id="ayuda-msg-user">
                        Tu código de consultora,
                        DNI o correo electronico.
                    </div>
                </div>
            </div>
            <hr class="clear" />

            <div class="campo_input icono_pass">
                <input type="password" value="" class="usuario_facebook" id="txtContrasenia2" placeholder="Contraseña" />
                <div class="ayuda_usuario_facebook">
                    <a href="#" class="helper_facebook"></a>
                    <div class="mensaje_ayuda_usuario" id="ayuda-msg-clave">
                        Si es la primera vez que
                        ingresas, es tu número
                        de DNI.
                    </div>
                </div>
            </div>
            <hr class="clear" />

            <div id="divMensajeError2" class="boxform" style="display: none;">
                <div class="formbtn">
                    <div style="text-align: left; padding-left: 4px; margin-bottom: 5px; font-family: 'lato'; font-size: 12px; font-weight: bold;">
                        <label id="ErrorTextLabel2" class="img_error_login icono_esika"></label>
                    </div>
                </div>
            </div>

            <div class="formbtn">
                <label for="">
                    <a href="javascript:void(0);" onclick="olvidasteContrasenia();" rel="formulario-login" title="Recupérala aquí" role="menu" region="Lateral" parent="Recupérala aquí">¿Olvidaste tu contraseña?</a>
                </label>
                <br>
            </div>
            <hr class="clear" />

            <a class="btn_validar_usuario" id="btnLogin2" onclick="login2()" style="cursor:pointer;">INGRESA A TU CUENTA</a>
        </div>
    </div>
</div>


<script type="text/javascript">
    //var fbAppId = '@ViewBag.FBAppId';
    var paisesEsika = '@System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika")';
    var paisesLBel = '@System.Configuration.ConfigurationManager.AppSettings.Get("PaisesLBel")';

    var isoPais = '@ViewBag.IsoPais';
    var banderaOk = '@ViewBag.BanderaOk';
    var avisoASP = '@ViewBag.AvisoASP';
    var urlRecuperarContrasenia = '@Url.Action("RecuperarContrasenia", "Login")';
</script>

@if (TempData["errorLogin"] != null)
{
    <script type="text/javascript">
        var errorLogin = '@TempData["errorLogin"]';
        var serverPaisId = '@TempData["serverPaisId"]';
        var serverPaisISO = '@TempData["serverPaisISO"]';
        var serverCodigoUsuario = '@TempData["serverCodigoUsuario"]';
    </script>
}

@if (TempData["usuarioValidado"] != null)
{
    <script>
        var usuarioValidado = '@TempData["usuarioValidado"]';
    </script>
}

@section scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/JS-Login")
}

