
@model Portal.Consultoras.Web.Models.LoginModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Login";
}

<style>
        
    /* Shared */
    .loginBtn {
        box-sizing: border-box;
        position: relative;
        /* width: 13em;  - apply for fixed size */
        /*margin: 0.2em;*/
        padding: 0 50px 0 50px;
        border: none;
        text-align: left;
        line-height: 34px;
        white-space: nowrap;
        border-radius: 0.2em;
        font-size: 16px;
        color: #FFF;
    }

    .loginBtn:before {
        content: "";
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 100%;
    }

    .loginBtn:focus {
        outline: none;
    }

    .loginBtn:active {
        box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
    }

    /* Facebook */
    .loginBtn--facebook {
        background-color: #4C69BA;
        background-image: linear-gradient(#4C69BA, #3B55A0);
        /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
        text-shadow: 0 -1px 0 #354C8C;
        font-family: 'LAto';
        font-size: 12.5px;
        font-weight: 700;
        letter-spacing: 0.8px;
        text-transform:uppercase;
        overflow:hidden;
    }

    .loginBtn--facebook:before {
        /*border-right: #364e92 1px solid;*/
        background: url('https://s3.amazonaws.com/uploads.hipchat.com/583104/4578891/xBNWoYTwwGQ8O7Z/facebook_login.png') 22px 13px no-repeat;
    }

    .loginBtn--facebook:hover,
    .loginBtn--facebook:focus {
        background-color: #5B7BD5;
        background-image: linear-gradient(#5B7BD5, #4864B1);
    }

    .div-o-login {
        color: white;
        text-align: center;
        font-size: 14px;
        margin-top: -7px;
        font-family: 'Lato';
            margin-top: 5px;
    margin-bottom: 35px;
    }
    .o_login{
        float:left;
        width:10%
    }
    .linea_o{
        margin-top:10px;
        float:left;
        width:45%;
        height:1px;
        background:#959595;
    }
    .formcontrol .inputForm::-webkit-input-placeholder { color: white; text-transform:uppercase; opacity:0.5}
    .formcontrol .inputForm:-moz-placeholder { color: white; text-transform:uppercase; opacity:0.5 }
    .formcontrol .inputForm::-moz-placeholder { color: white; text-transform:uppercase; opacity:0.5}
    .formcontrol .inputForm:-ms-input-placeholder { color: white; text-transform:uppercase; opacity:0.5}
    .content_btn_face{
        position: relative;
        height: 53px;
        overflow: hidden;
        border-radius: 3px;
    }
    .imagen_perfil_facebook{
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 49px;
        /* border: 1px solid white; */
        background: white;
    }
    .imagen_perfil_facebook img{
        width:100%;
    }
    .content_facebook_sb{
        position:relative;       
        max-width:475px;
        width:90%;       
        margin:0 auto;
        margin-top:12%;
        z-index:1000;
        text-align: left;
    }
     .header_facebook{
        background: #365899 url(https://s3.amazonaws.com/uploads.hipchat.com/583104/4578891/BY9fakSmTVLRaBl/face1.png) no-repeat 10px 50%;
        color: #fff;
        padding: 8px 10px 8px 30px;
        font-family:Arial;
        font-weight:bold;
        text-align: left;
    }
    .body_facebook{
        padding:15px 30px 85px 30px;
        background:white;
        color:black;
        font-family:Arial;
        box-sizing:border-box;
        text-align: left;
    }
    .etiqueta_usuario{
        margin-top:15px;
        width:35%;
        font-weight:bold;
        float:left;
        color:#5d5d65;
        padding-top: 6px;
        box-sizing:border-box;
        text-align: left;
    }
    .campo_input{
        margin-top:15px;
        width:48%;
        float:left;
        box-sizing:border-box;
        text-align: left;
    }
    .select_pais_facebook{
        width:100%;
        border:1px solid #ccc;
        height:28px;
         box-sizing:border-box;
       
    }
    .usuario_facebook{
        width:100%;
        border:1px solid #ccc;
        height:28px;
        color:black;
        padding-left:7PX;
         box-sizing:border-box;
    }
    
   .content_pop_login{
       position:fixed;
       top:0;
       background:rgba(0,0,0,0.8);
       width:100%;
       height:100%;
       z-index:1000;
   }
   .btn_cerrar_login{
       color:white;
       position:absolute;
       right:15px;
       top:5px;
       font-size:20px;
       font-weight:normal;
       text-decoration:none;
   }
   .btn_validar_usuario{
        color:white;
        background-color: #365899;
        border:1px solid #29487d;
        font-size: 13px;
        font-weight: bold;
        
        padding: 6px 6px;
        text-align: center;
        margin-top:20px;
        width:48%;
        margin-left:35%;
        display:block;
        box-sizing:border-box;
        border-radius:2px;
        line-height: 18px;
   }
</style>

<body>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: fbAppId,
                xfbml: true,
                version: 'v2.8'
            });

            FB.getLoginStatus(function (response) {
                if (response.status === 'connected') {
                    //console.log('Logged in.');
                    getInfoFB(2);
                }
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function loginFB() {
            FB.login(function (response) {
                if (response.status === 'connected') {
                    //console.log('We are connected.');
                    getInfoFB(1);
                }
                else if (response.status === 'not_authorized') {
                    //console.log('We are not logged in.');
                }
                else {
                    //console.log('You are not logged into Facebook.');
                }
            }, { scope: 'public_profile,email,user_birthday,user_location' });
        }

        function getInfoFB(opt) {
            FB.api('/me', 'GET', { fields: 'birthday,email,first_name,gender,hometown,id,last_name,link,location,name,picture' }, function (response) {
                //console.log(response);
                if (response.id != null) {
                    if (opt == 1) {
                        validExternalUser('Facebook', response);
                    }
                    else if (opt == 2) {
                        var name = response.name.trim();
                        if (name != null && name != "") {
                            $('#hdeNameUserExt').val(name);
                            resizeNameUserExt();
                            $('#imgFotoPerfil').attr('src', response.picture.data.url);
                            $('.imagen_perfil_facebook').show();
                        }
                    }
                }
            });
        }

        function validExternalUser(provider, data) {
            // prevent submit
            $('#ddlPais option:not(:selected)').prop('disabled', true);
            $('#txtUsuario').attr('readonly', true);
            $('#txtContrasenia').attr('readonly', true);
            $('#btnLogin').prop('disabled', true);

            var obj = {
                codigoISO: $('#ddlPais').val(),
                usuarioExt: {
                    Proveedor: provider,
                    IdAplicacion: data.id,
                    Correo: data.email
                }
            };

            $.ajax({
                type: 'POST',
                url: '/Login/ValidExternalUser',
                data: JSON.stringify(obj),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (response) {
                    //console.log(response);
                    if (response.success) {
                        if (!response.exists) {
                            $('#hdeProveedor').val(provider);
                            $('#hdeIdApp').val(data.id);
                            $('#hdeLogin').val(data.name);
                            $('#hdeNombres').val(data.first_name);
                            $('#hdeApellidos').val(data.last_name);
                            $('#hdeFechaNacimiento').val(data.birthday);
                            $('#hdeCorreo').val(data.email);
                            $('#hdeGenero').val(data.gender);
                            $('#hdeUbicacion').val(data.location);
                            $('#hdeLinkPerfil').val(data.link);
                            $('#hdeFotoPerfil').val(data.picture.data.url);

                            //$('#btnLoginFB').hide();
                            //$('#spnLoginFB').text(data.name);
                            $('#txtUsuario2').val('');
                            $('#txtContrasenia2').val('');

                            if (response.emailActive)
                                $('#txtUsuario2').val(data.email);

                            $('.content_pop_login').show();

                            if (response.emailActive) 
                                $('#txtContrasenia2').focus();
                            else 
                                $('#txtUsuario2').focus();
                        }
                        else {
                            if (response.redirectTo != null && response.redirectTo != "") {
                                document.location.href = response.redirectTo;
                            }
                        }
                    }
                    else {
                        //console.log(response);
                        alert("Error al procesar la solicitud")
                    }
                },
                error: function (response) {
                    //console.log(response);
                    alert("Error al procesar la solicitud");
                }
            });
        }

    </script>
</body>

    <input type="hidden" id="PaginaLogin" />

    <div id="FormsSignInContentPopup">
        <!-- OLVIDASTE TU CONTRASEÑA -->
        <div id="popup1" style="display: none;">
            <div id="popup_olvidasteContrasenia">
                <div class="content_bg_olvidasteContrasenia">
                    <a id="btnCerrarContraseniaPopup" href="#" class="cerrar" onclick="$('#popup1').hide();"></a>

                    <div id="header">¿OLVIDASTE TU CONTRASEÑA?</div>
                    <div class="indicador_lbel"></div>
                    <div class="mensaje_pop_up2">
                        Te enviaremos un correo con las instrucciones.
                        <br />
                    </div>
                    <div class="formCont popupOlvideContrasenia">
                        <div class="boxform">
                            <div class="formcontrol pais" id="cargarBandera2" style="margin-bottom: 35px;">
                                <select id="cboPaisCambioClave" class="cboPaisCambioClave" tabindex="1" style="color: black !important">
                                    <option value="0">Elige tu País</option>
                                    @if (Model.ListaPaises != null)
                                    {
                                        foreach (var item in Model.ListaPaises)
                                        {
                                            <option value="@item.PaisID">@item.Nombre</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="boxform">
                            <div class="formcontrol email" style="margin-bottom: 45px; color: black;">
                                <input type="text" class="inputForm" value="" id="txtCorreoElectronico" placeholder="Correo Electrónico" style="color: black;" />
                            </div>
                        </div>

                        <div id="mensajesOC" style="text-align: left; color: #CF2D3A;"></div>

                        <div class="boxform">
                            <div class="formbtn">
                                <input type="button" id="btnRecuperarClave" class="btnCrear" value="ENVIAR" onclick="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- CONTRASEÑA ENVIADA -->
        <div id="popup2" style="display: none;">
            <div id="popup_contraseniaEnviada">
                <div class="content_bg_contraseniaEnviada">
                    <a id="btnCerrarContraseniaEnviadaPopup" href="#" class="cerrar" onclick="$('#popup2').hide();"></a>
                    <div class="mensaje_pop_up_contraseniaEnviada">
                        <h1>Por favor, revisa tu correo</h1>
                        <br />
                        <br />
                        <div class="icono_correo">
                            <img src="~/Content/Images/Login2/Icons/icono_nuevo_correo.png" alt="Alternate Text" />
                        </div>
                        <br />
                        <br />
                        <p>
                            Te hemos enviado las instrucciones a :
                            <br />
                        <p id="correoDestino"><strong></strong></p>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- webForm -->
        
    <div class="webForm">

        <div class="logo-esika">
        </div>
        <div class="text_bienvenida_esika">
            ¡Bienvenida a la Compañía de Belleza <br/>
            con la que puedes<span style="font-size:21px"> ganar más!</span>
        </div>
        <div class="title">
            <img src="~/Content/Images/Login2/logo_welcome.png" alt="" />
        </div>

        <!--LOGIN EXTERNO -->
        <div class="formbtn" style="float: none;">
            <div class="content_btn_face">
                <button id="btnLoginFB" class="loginBtn loginBtn--facebook" onclick="loginFB()" style="width: 100%; height: 48px; display: block;">
                    Ingresa con Facebook
                </button>
                <div class="imagen_perfil_facebook" style="display: none;">
                    <img id="imgFotoPerfil" src="" alt="" style="width: 50px; height: 50px;"/>
                </div>
            </div>
            <br />

            <div class="div-o-login">
                <div class="linea_o"></div>
                <div class="o_login">O</div>
                <div class="linea_o"></div>
            </div>
            <hr class="clear" />

            <!--
            <div class="text_bienvenida_esika" id="divAsociarLoginExterno" style="display: none; margin-bottom: 5px;">
                @*<b>Registro.</b> Asociando tu cuenta de Facebook a SomosBelcorp.
                <br /><br />*@
                <div style="font-size: 14px;">Hola, <span id="spnLoginFB"></span></div>
                <br />
                <div style="font-size: 11px;">
                    Estas correctamente autenticado con <span style="font-size: 16px;">Facebook</span>. Por favor ingresa tu usuario y contraseña de SomosBelcorp, por única vez, para asociarlo.
                </div>
                <br />
            </div>
                -->
        </div>
        <!--LOGIN EXTERNO -->

        @using (@Html.BeginForm("Login", "Login", FormMethod.Post, new { id = "frmLogin" }))
        {
            <div class="formCont">

                <input type="hidden" id="hdfContrasenia" />
                @*@Html.Hidden("returnUrl", @Request.QueryString)*@
                <input type="hidden" id="returnUrl" name="returnUrl" value="@ViewBag.ReturnURL" />

                <div class="info-userext">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="hdeProveedor" name="UsuarioExterno.Proveedor" />
                    <input type="hidden" id="hdeIdApp" name="UsuarioExterno.IdAplicacion" />
                    <input type="hidden" id="hdeLogin" name="UsuarioExterno.Login" />
                    <input type="hidden" id="hdeNombres" name="UsuarioExterno.Nombres" />
                    <input type="hidden" id="hdeApellidos" name="UsuarioExterno.Apellidos" />
                    <input type="hidden" id="hdeFechaNacimiento" name="UsuarioExterno.FechaNacimiento" />
                    <input type="hidden" id="hdeCorreo" name="UsuarioExterno.Correo" />
                    <input type="hidden" id="hdeGenero" name="UsuarioExterno.Genero" />
                    <input type="hidden" id="hdeUbicacion" name="UsuarioExterno.Ubicacion" />
                    <input type="hidden" id="hdeLinkPerfil" name="UsuarioExterno.LinkPerfil" />
                    <input type="hidden" id="hdeFotoPerfil" name="UsuarioExterno.FotoPerfil" />
                </div>

                <!--- FORM CONTROL PAIS --->
                <div class="boxform">
                    <div class="flecha_select">
                        <div class="formcontrol pais" id="cargarBandera">

                            <input type="hidden" id="hdfPaisSelect" value="00" />
                            <input type="hidden" id="hdfPaises" value="PE;BO;CL;SV;CR;PA;GT;EC;AR;MX;DO;PR;VE;CO" />
                            <input type="hidden" id="hdfURL" value="https://www2.somosbelcorp.com" />
                            @*<input type="hidden" id="hdf_AR" value="fondo_default.jpg" />*@
                            <input type="hidden" id="hdf_BO" value="LoginLoveBomb.jpg" />
                            <input type="hidden" id="hdf_CL" value="LoginLoveBomb.jpg" />
                            <input type="hidden" id="hdf_CO" value="LoginLoveBomb.jpg" />
                            <input type="hidden" id="hdf_CR" value="fondo_default.jpg" />
                            <input type="hidden" id="hdf_EC" value="LoginLoveBomb.jpg" />
                            <input type="hidden" id="hdf_SV" value="LoginLoveBomb.jpg" />
                            <input type="hidden" id="hdf_GT" value="LoginLoveBomb.jpg" />
                            <input type="hidden" id="hdf_MX" value="LoginLoveBomb.jpg" />
                            <input type="hidden" id="hdf_PA" value="fondo_default.jpg" />
                            <input type="hidden" id="hdf_PE" value="LoginLoveBomb.jpg" />
                            <input type="hidden" id="hdf_PR" value="LoginLoveBomb.jpg" />
                            <input type="hidden" id="hdf_DO" value="fondo_default.jpg" />
                            <input type="hidden" id="hdf_VE" value="fondo_default.jpg" />
                            <input type="hidden" id="hdeCodigoISO" name="hdeCodigoISO" />

                            <input type="hidden" id="HdePaisID" name="PaisID" />


                            <select id="ddlPais" name="CodigoISO" class="DropDown" tabindex="1">
                                <option value="00">Elige tu País</option>
                                @if (Model.ListaPaises != null)
                                {
                                    foreach (var item in Model.ListaPaises)
                                    {
                                        <option value="@item.CodigoISO" data-id="@item.PaisID">@item.Nombre</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <!--- FORM CONTROL USUARIO --->
                <div class="boxform">
                    <div class="formcontrol user">
                        <input id="txtUsuario" name="CodigoUsuario" type="text" class="inputForm" value="" onfocus="" onblur="" placeholder="Usuario" />
                    </div>
                    <div id="Div3" class="btn">
                        <a href="javascript:void(0);" id="abrirMSJ01" onclick="AbrirMensajeLogin(1)" class="helper huno"></a>
                    </div>
                </div>

                <!--- FORM CONTROL PASSWORD -->
                <div class="boxform">
                    <div class="formcontrol pass">
                        <input type="password" name="ClaveSecreta" id="txtContrasenia" class="inputForm" placeholder="Contraseña" value="" />
                    </div>
                    <div id="Div5" class="btn">
                        <a href="javascript:void(0);" id="abrirMSJ02" onclick="AbrirMensajeLogin(2)" class="helper hdos"></a>
                    </div>
                </div>

                <div class="boxform">
                    <div class="formbtn">
                        <div style="color: #ABEAE3; text-align: left; padding-left: 4px; margin-bottom: 5px; font-family: 'lato'; font-size: 12px; font-weight: bold;">
                            <label id="ErrorTextLabel" class="img_error_login"></label>
                        </div>
                    </div>
                </div>

                <div class="boxform float_r">
                    <div class="formbtn">
                        <div style="padding-left: 4px;">
                            <a id="AvisoASP" class="aviso_privacidad" href="javascript:void(0)" style="display: none;">Aviso de Privacidad</a>
                        </div>
                    </div>
                </div>

                <!-- FORM OLVIDASTE TU CONTRASEÑA -->
                <div class="boxform float_r">
                    <div class="formbtn">
                        <label for="">
                            <a href="javascript:void(0);" onclick="olvidasteContrasenia();" rel="formulario-login" title="Recupérala aquí" role="menu" region="Lateral" parent="Recupérala aquí">¿Olvidaste tu contraseña?</a>
                        </label>
                        <br />
                    </div>
                </div>

                <div class="clear"></div>

                <!-- INGRESA A TU CUENTA -->
                <div class="boxform">
                    <div class="formbtn">
                        <input type="submit" id="btnLogin" class="btnCrear" value="INGRESA A TU CUENTA" />
                    </div>
                    <div style="display: none;">
                        <input type="submit" id="SubmitButton" />
                    </div>
                </div>

                <!-- ADMINISTRADOR FORMULARIO -->
                <div class="boxform">
                    <div class="admin">
                        <a href="@Url.Action("Admin","Login")" onclick="return RedirectAdministrador();" rel="menu-superior" title="Administrador">INGRESA COMO <strong>ADMINISTRADOR</strong></a>
                    </div>
                </div>
            </div>
        }

    </div>

    <!-- webForm -->
<div class="content_pop_login" style="display: none;">
    <input type="hidden" id="hdeNameUserExt" />
    <div class="content_facebook_sb">
        <div class="header_facebook" style="font-size: 16px;">
            Facebook
            <a class="btn_cerrar_login" href="javascript:;" onclick="closePopupAsociarLoginExt()">X</a>
        </div>
        <div class="body_facebook">
            <div class="texto_login">
                <b>Estas correctamente autenticado con Facebook. <br />
                </b> Por favor ingresa tu usuario y contraseña de <b style="font-size:14px;">SomosBelcorp</b> por única vez para asociarlo.
            </div>
            <br />

            <div class="etiqueta_usuario">PAÍS</div>
            <div class="campo_input">
                <select class="select_pais_facebook" id="ddlPais2">
                    <option value="00">Elige tu País</option>
                    @if (Model.ListaPaises != null)
                    {
                        foreach (var item in Model.ListaPaises)
                        {
                            <option value="@item.CodigoISO" data-id="@item.PaisID">@item.Nombre</option>
                        }
                    }
                </select>
            </div>
            <hr class="clear" />
            <div class="etiqueta_usuario">USUARIO</div>
            <div class="campo_input">
                <input type="text" value="" class="usuario_facebook" id="txtUsuario2" />
            </div>
            <hr class="clear" />
            <div class="etiqueta_usuario">CONTRASEÑA</div>
            <div class="campo_input">
                <input type="password" value="" class="usuario_facebook" id="txtContrasenia2" />
            </div>
            <hr class="clear" />
            <br />
            <a class="btn_validar_usuario" id="btnLogin2" onclick="login2()">INGRESA A TU CUENTA</a>
        </div>
    </div>
</div>


<script type="text/javascript">
    var fbAppId = '@ViewBag.FBAppId';
    var paisesEsika = '@System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika")';
    var paisesLBel = '@System.Configuration.ConfigurationManager.AppSettings.Get("PaisesLBel")';

    var isoPais = '@ViewBag.IsoPais';
    var banderaOk = '@ViewBag.BanderaOk';
    var avisoASP = '@ViewBag.AvisoASP';
    var urlRecuperarContrasenia = '@Url.Action("RecuperarContrasenia", "Login")';
</script>

@if (TempData["errorLogin"] != null)
{
    <script type="text/javascript">
        var errorLogin = '@TempData["errorLogin"]';
    </script>
}

@section scripts {
    <script src="~/Scripts/General.js"></script>
    <script src="~/Scripts/PortalConsultoras/Login/FormsSignIn.js"></script>

}

