@using Portal.Consultoras.Common

@model Portal.Consultoras.Web.Models.LoginModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Login";
    var mensajeError = "";
}

<body>
    <script>
        var fbAppId = '@ViewBag.FBAppId';
        var cargoPluginFacebook = false;

        window.fbAsyncInit = function () {
            FB.init({
                appId: fbAppId,
                cookie: true,
                xfbml: true,
                version: 'v3.0'
            });

            FB.getLoginStatus(function (response) {
                if (response.status === 'connected') {
                    getInfoFB(1);
                }
            });

            cargoPluginFacebook = true;
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function loginFB() {
            existeAccesoFacebook(function(){
                /*
                FB.login(
                    function (response) { if (response.status === 'connected') getInfoFB(2); },
                    { scope: 'public_profile,email,user_birthday,user_location' }
                );
                */
                FB.getLoginStatus(function (response) {
                    if (response.status === 'connected') {
                        getInfoFB(2);
                    }
                    else {
                        FB.login(function (response) {
                            if (response.status === 'connected')
                                getInfoFB(2);
                        });
                    }
                });
            },
            function () { alert('@Html.Raw(Constantes.MensajesError.SinConexion_LoginChatbot)'); });
        }

        function getInfoFB(opt) {

            FB.api('/me', 'GET', { fields: 'birthday,email,first_name,gender,hometown,id,last_name,link,location,name,picture.type(large)' }, function (response) {

                if (typeof response.id !== 'undefined' && response.id !== null) {
                    var exists = checkExternalUser('Facebook', response.id);
                    var fp = (typeof response.picture === 'object') ? response.picture.data.url : "";
                    var lc = (typeof response.location === 'object') ? response.location.name : "";

                    if (exists) {
                        if (opt == 2) {
                            validExternalUser('Facebook', response.id, fp);
                        }
                        else {
                            var fullname = response.name.trim();
                            var j = fullname.indexOf(' ');
                            var fname = fullname;
                            if (j > 0) {
                                fname = fullname.substring(0, j).trim();
                            }

                            $('#hdeNameUserExt').val(fname);

                            $('#btnLoginFB2').removeClass('center_facebook');
                            $('#btnLoginFB2').text('Continuar como ' + fname);
                            $('#imgFotoPerfil2').attr('src', fp);

                            $('#_nomusufb').html('¿No eres ' + response.name + '? ');
                            $('#_nomusufb').append('<a class="_ccfb" onclick="mostrarLoginAnterior()">Cambiar de cuenta</a>');

                            $('.webForm').css('padding-bottom', '75px');
                            $('#cambcuentaboton').hide();
                            $('#_olgn').hide();
                            $('#loginanterior').hide();

                            $('#btnfblogin').show();
                        }
                    }
                    else {
                        if (opt == 2) {
                            $('#hdeProveedor').val('Facebook');
                            $('#hdeIdApp').val(response.id);
                            $('#hdeLogin').val(response.name);
                            $('#hdeNombres').val(response.first_name);
                            $('#hdeApellidos').val(response.last_name);
                            $('#hdeFechaNacimiento').val(response.birthday);
                            $('#hdeCorreo').val(response.email);
                            $('#hdeGenero').val(response.gender);
                            $('#hdeUbicacion').val(lc);
                            $('#hdeLinkPerfil').val(response.link);
                            $('#hdeFotoPerfil').val(fp);

                            $('#txtUsuario2').val('');
                            $('#txtContrasenia2').val('');
                            $('#ErrorTextLabel2').html('');

                            $('.nombre_usuario_facebook').text(response.name);
                            $('.foto_pop_face img').attr('src', fp);

                            $('#divMensajeError2').hide();
                            $('#popupAsociarUsuarioExt').show();
                        }
                    }
                }
            });
        }

        function checkExternalUser(provider, id) {
            var r = false;
            var obj = {
                codigoISO: $('#ddlPais').val(),
                proveedor: provider,
                appid: id
            };

            waitingDialog();

            $.ajax({
                type: 'POST',
                url: '/Login/CheckExternalUser',
                data: JSON.stringify(obj),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                async: false,
                success: function (response) {
                    closeWaitingDialog();
                    if (response.success) {
                        if (response.exists) {
                            r = true;
                        }
                    }
                },
                error: function (response) {
                    alert("Error al procesar la solicitud");
                }
            });

            return r;
        }

        function validExternalUser(provider, id, fotoperfil) {
            var obj = {
                codigoISO: $('#ddlPais').val(),
                proveedor: provider,
                appid: id,
                returnUrl: $('#returnUrl').val(),
                foto: fotoperfil
            };

            waitingDialog();

            $.ajax({
                type: 'POST',
                url: '/Login/ValidExternalUser',
                data: JSON.stringify(obj),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (response) {
                    if (response.success) {
                        if (response.redirectTo !== "") {
                            analytics.invocarEventoPixel("FacebookLoginValidExternalUser");
                            document.location.href = response.redirectTo;
                        }
                    }
                    else {
                        closeWaitingDialog();
                        alert(response.message);
                    }
                },
                error: function (response) {
                    closeWaitingDialog();
                    alert("Error al procesar la solicitud");
                },
            });
        }

        function mostrarLoginAnterior() {
            $('.webForm').css('padding-bottom', '10px');
            $('#btnfblogin').hide();
            $('#cambcuentaboton').fadeIn('slow');
            $('#_olgn').fadeIn('slow');
            $('#loginanterior').fadeIn('slow');
        }

        function mostrarLoginFB() {
            $('.webForm').css('padding-bottom', '75px');
            $('#cambcuentaboton').hide();
            $('#_olgn').hide();
            $('#loginanterior').hide();
            $('#btnfblogin').fadeIn('slow');
        }

        function existeAccesoFacebook(fnSuccess,fnError)
        {
            if (!cargoPluginFacebook) {
                if ($.isFunction(fnError)) fnError();
            }

            waitingDialog();
            FB.api('/me', function (response) {
                closeWaitingDialog();

                if (response.error != null && response.error.message === 'unknown error') {
                    if ($.isFunction(fnError)) fnError();
                }
                else {
                    if ($.isFunction(fnSuccess)) fnSuccess();
                }
            });
        }
    </script>
</body>

<input type="hidden" id="PaginaLogin" />

<div id="FormsSignInContentPopup">
    <div id="popup1" style="display:none;">
        <div id="popup_olvidasteContrasenia">
            <div class="content_bg_olvidasteContrasenia">
                <a id="btnCerrarContraseniaPopup" href="#" class="cerrar" onclick="$('#popup1').hide();"></a>
                <div id="header">
                    <div class="fondo_sesgado"></div>
                    <span>
                        ¿OLVIDASTE TU <b>CONTRASEÑA?</b>
                    </span>
                    <div class="indicador_lbel"></div>
                </div>
                <div class="mensaje_pop_up2">
                    Completa tus datos para buscar tu cuenta.
                    <br />
                </div>
                <div class="formCont popupOlvideContrasenia">
                    <div class="boxform deshabilitar_opcion_correo">
                        <div class="formcontrol pais" id="cargarBandera2" style="margin-bottom: 35px;">
                            <select id="cboPaisCambioClave" class="cboPaisCambioClave campoPais" tabindex="1" style="color: black !important" disabled="disabled">
                                <option value="0">Elige tu País</option>
                                @if (Model.ListaPaises != null)
                                {
                                    foreach (var item in Model.ListaPaises)
                                    {
                                        item.NombreCambioClave = "Correo electrónico";
                                        item.Telefonos = "";

                                        switch (item.PaisID)
                                        {
                                            case 2:
                                                {
                                                    //BOLIVIA
                                                    item.NombreCambioClave = "Código de Consultora o CI";
                                                    item.Telefonos = "901-105678"; break;
                                                };
                                            case 3:
                                                {
                                                    //CHILE
                                                    item.NombreCambioClave = "Número de RUT (sin puntos ni guión)";
                                                    item.Telefonos = "02-28762100"; break;
                                                };
                                            case 4:
                                                {
                                                    //COLOMBIA
                                                    item.NombreCambioClave = "Número de cédula (CC)";
                                                    item.Telefonos = "01-8000-9-37452,5948060"; break;
                                                };
                                            case 5:
                                                {
                                                    //COSTA RICA
                                                    item.NombreCambioClave = "Código de Consultora o DUI";
                                                    item.Telefonos = "800-000-5235,22019601,22019602"; break;
                                                };
                                            case 6:
                                                {
                                                    //ECUADOR
                                                    item.NombreCambioClave = "Número de cédula (CC)";
                                                    item.Telefonos = "1800-76667"; break;
                                                };
                                            case 7:
                                                {
                                                    //EL SALVADOR
                                                    item.NombreCambioClave = "Código de Consultora o DUI";
                                                    item.Telefonos = "800-37452-000,25101198,25101199"; break;
                                                };
                                            case 8:
                                                {
                                                    //GUATEMALA
                                                    item.NombreCambioClave = "Código de Consultora o CUI";
                                                    item.Telefonos = "1-801-81-37452,22856185,23843795"; break;
                                                };
                                            case 9:
                                                {
                                                    //MEXICO
                                                    item.NombreCambioClave = "Código de Consultora o INE";
                                                    item.Telefonos = "01-800-2352677"; break;
                                                };
                                            case 10:
                                                {
                                                    //PANAMA
                                                    item.NombreCambioClave = "Código de Consultora o CPI";
                                                    item.Telefonos = "800-5235,377-9399"; break;
                                                };
                                            case 11:
                                                {
                                                    //PERU
                                                    item.NombreCambioClave = "Código de Consultora o DNI";
                                                    item.Telefonos = "01-2113614,080-11-3030"; break;
                                                };
                                            case 12:
                                                {
                                                    //PUERTO RICO
                                                    item.NombreCambioClave = "Código de Consultora o Tarjeta Electoral";
                                                    item.Telefonos = "1-866-366-3235,787-622-3235"; break;
                                                };
                                            case 13:
                                                {
                                                    //REPUBLICA DOMINICANA
                                                    item.NombreCambioClave = "Código de Consultora o CIE";
                                                    item.Telefonos = "1-809-200-5235,809-620-5235"; break;
                                                };
                                            case 14:
                                                {
                                                    //VENEZUELA
                                                    item.NombreCambioClave = "Código de Consultora o CI";
                                                    item.Telefonos = "0501-2352677"; break;
                                                };
                                        }
                                        <option value="@item.PaisID" data-campoclave="@item.NombreCambioClave" data-telefonos="@item.Telefonos" class="NombreCambioClave">@item.Nombre</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="boxform">
                        <div class="formcontrol codigoConsultora_dni user" style="margin-bottom: 33px; color: black;">
                            <input type="hidden" id="hdfCorreoElectronico" />
                            <input type="text" class="inputForm" value="" id="txtCorreoElectronico" placeholder="Código de consultora o DNI" style="color: black;" />
                        </div>
                    </div>

                    <div id="mensajesOC" style="text-align: left; color: #CF2D3A;"></div>

                    <div class="boxform">
                        <div class="formbtn">
                            <input type="button" id="btnRecuperarClave" class="btnCrear" value="ENVIAR" onclick="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="hdcorreo" />
    <input type="hidden" id="hdclave" />
    <input type="hidden" id="hdCodigoConsultora" />
    <input type="hidden" id="hd_CONTEXTO_BASE" />

    <div id="popup3" style="display:none;">
        <div id="popup_cambioContrasenia">
            <div class="content_bg_cambioContrasenia">
                <a id="btnCerrarContraseniaPopup" href="#" class="cerrar" onclick="$('#popup3').hide();"></a>
                <div class="contenedor_cabecera_popup">
                    <div id="header_cambioContrasenia">
                        <div class="fondo_sesgado"></div>
                        <span>
                            CAMBIO DE <strong>CONTRASEÑA</strong>
                        </span>
                        <div class="indicador_lbel"></div>
                    </div>
                </div>
                <div class="mensaje_pop_up2 mensaje_popup_cambioContrasenia">
                    <span class="contenido_mensaje"><span id="spnombre">Sofía,</span> no te preocupes.</span>
                    <span class="contenido_mensaje texto_bold">Elige cómo prefieres cambiar tu contraseña</span>
                </div>
                <div class="contenedor_opciones">
                    <div class="opciones_recuperacionContrasenia opcion_correoElectronico" id="divRecup_porcorreo2">
                        <div class="icono_mail"></div>
                        <div class="bloque_texto_opcionRecuperacionContrasenia">
                            <span class="contenido_mensaje texto_opcionRecuperacion texto_mayusc">Por correo electrónico</span>
                            <span class="contenido_mensaje texto_opcionRecuperacion tamanio_fuente correo_electronico_consult" style="display: block;" id="spcorreo"></span>
                            <span class="contenido_mensaje texto_opcionRecuperacion tamanio_fuente correo_electronico_consult" style="display: none;" id="spsincorreo">No existe correo registrado</span>
                        </div>
                    </div>
                    
                    @if (ViewBag.PaisID == 11)
                    {
                        <a id="lk_telefono">
                            <div class="contenedor_telefonos contenedor_telefonos_mobile" id="divTelefonos">
                                <div class="titulo_llamanos">LLÁMANOS</div>
                            </div>
                        </a>
                    }
                    else if (ViewBag.PaisID != 11)
                    {
                        <a id="lk_telefono">
                            <div class="titulo_llamanos">LLÁMANOS</div>
                            <div class="contenedor_telefonos contenedor_telefonos_mobile" id="divTelefonos">
                                <div class="telefonos_centrales" style="display: block;">
                                </div>
                            </div>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>

    <script id="correo-template" type="text/x-handlebars-template">
    </script>

    <script id="telefonoprimero-template" type="text/x-handlebars-template">
        <a href="tel:{{telefono}}" onclick="return (navigator.userAgent.match(/Android|iPhone|iPad|iPod|Mobile/i))!=null;">
            <div class="telefono_central">
                <span class="icono_tel"></span>
                <span class="num_central prim_num_central">
                    {{{mensaje}}}
                </span>
            </div>
        </a>
    </script>

    <script id="telefonootros-template" type="text/x-handlebars-template">
        <a href="tel:{{telefono}}" onclick="return (navigator.userAgent.match(/Android|iPhone|iPad|iPod|Mobile/i))!=null;">
            <div class="telefono_central">
                <span class="icono_tel"></span>
                <span class="num_central prim_num_central">
                    {{{mensaje}}}
                </span>
            </div>
        </a>
    </script>

    <script id="telefonodesktop-template" type="text/x-handlebars-template">
        <span>{{mensaje}}{{telefono}}</span>
        <div></div>
    </script>

    @*@{
        if (HttpContext.Current.Request.Browser.IsMobileDevice)
        {
            <a href="#" class="lk_chat" ismovildevice="1" target="_blank"></a>
        }
        else
        {
            <a href="#" class="lk_chat" ismovildevice="0"></a>
        }
    }*@
    <div id="popupRestaurarClave" style="display:none;">
        <div id="popup_opciones_recuperacion_contrasenia">
            <div class="content_bg_opciones_recuperacion_contrasenia">
                <a id="btnCerrarContraseniaPopup" href="#" class="cerrar" onclick="CerrarPopup2();"></a>
                <div id="header">
                    <div class="fondo_sesgado"></div>
                    <span id="tituloPopup">
                        CAMBIO DE <b>CONTRASEÑA</b>
                    </span>
                    <div class="indicador_lbel"></div>
                </div>
                <div class="mensaje_pop_up2">
                    <span id="spnNombreConsultora"></span>
                    <b id="menPrioridad1" style="display:none;">Elige cómo prefieres cambiar tu contraseña.</b>
                    <b id="menPrioridad1_correo" style="display:none;">Te enviaremos un e-mail al siguiente correo: </b>
                    <b id="menPrioridad1_sms" style="display:none;">Te enviaremos un mensaje de texto al siguiente número:</b>
                    <b id="menPrioridad2_chat" style="display:none;">Puedes comunicarte con nosotros por este medio:</b>
                    <b id="menPrioridad2_llamada" style="display:none;">Puedes comunicarte con nosotros llamando a nuestra central telefónica:</b>
                    <span class="texto_disculpa menPrioridad3" style="display:none;">discúlpanos, en estos momentos no podemos atenderte.</span>
                    <b class="menPrioridad3" style="display:none;">Puedes comunicarte con nosotros llamando a nuestra central telefónica en el siguiente horario:</b>
                    <span id="menAutenticacionNueva" class="texto_disculpa" style="display:none;">por ser la primera vez que ingresas, 
                    para verificar la autenticidad te enviaremos un PIN a tu celular o a tu e-mail según la opción que elijas:</span>
                    @*<!-- INICIO - MENSAJE PARA PIN DE AUTENTICACION CONSULTORA REACTIVADA -->
                    <span id="menAutenticacionReactivada" class="texto_disculpa" style="display:none;">ya que has vuelto después de tiempo, 
                    para verificar la autenticidad te enviaremos un PIN a tu celular o a tu e-mail según la opción que elijas:</span>
                    <!-- FIN - MENSAJE PARA PIN DE AUTENTICACION CONSULTORA REACTIVADA -->*@
                </div>

                <div class="opciones_recuperacion_contrasenia">
                    <div id="prioridad1" style="display:none;">
                        <a id="divRecup_porcorreo" class="opcion_recuperacion_contrasenia opcionCorreo RecuperarPorCorreo">
                            <div class="icono_correo_electronico"></div>
                            <div class="contenedor_info_datos">
                                <div class="titulo_opcion_correo">Correo electrónico</div>
                                <div class="correo_electronico EmailEmascarado"></div>
                            </div>
                            <div class="mensajeDeBloqueoCorreo" style="display:none;font-size: 10px;padding-top:15px">Esta opción está bloqueada temporalmente.</div>
                        </a>
                        <a id="divRecup_porsms" class="opcion_recuperacion_contrasenia opcionSms" pointer-events="none">
                            <div class="icono_sms"></div>
                            <div class="contenedor_info_datos">
                                <div class="titulo_opcion_sms">Mensaje de texto (sms)</div>
                                <div class="numero_celular NumCelularDestino"></div>
                            </div>
                            <div class="mensajeDeBloqueoSMS" style="display:none;font-size: 10px;padding-top:15px">Esta opción está bloqueada temporalmente.</div>
                        </a>
                    </div>

                    <div id="prioridad1_correo" class="opcion_recuperacion_contrasenia" style="display:none;">
                        <div class="contenedor_solo_una_opcion">
                            <div class="icono_correo_electronico mb-15"></div>
                            <div class="contenedor_info_datos">
                                <div class="titulo_opcion_correo">Correo electrónico</div>
                                <div class="correo_electronico EmailEmascarado">a********zo@gmail.com</div>
                            </div>
                        </div>
                        <button class="btn_enviar_email RecuperarPorCorreo">Enviar e-mail</button>
                        <div class="mensajeDeBloqueoCorreo" style="display:none;font-size: 10px; padding-top:5px;">Esta opción está bloqueada temporalmente.</div>
                    </div>

                    <div id="prioridad1_sms" class="opcion_recuperacion_contrasenia" style="display:none;">
                        <div class="contenedor_solo_una_opcion">
                            <div class="icono_sms mb-15"></div>
                            <div class="contenedor_info_datos">
                                <div class="titulo_opcion_sms">Número de celular</div>
                                <div class="numero_celular NumCelularDestino">9** *** *61</div>
                            </div>
                        </div>
                        <button class="btn_enviar_sms opcionSms">Enviar mensaje</button>
                        <div class="mensajeDeBloqueoSMS" style="display:none;font-size: 10px; padding-top:5px;">Esta opción está bloqueada temporalmente.</div>
                    </div>

                    <div id="prioridad2_chat" class="opcion_recuperacion_contrasenia" style="display:none;">
                        <div class="contenedor_solo_una_opcion">
                            <div class="icono_chatea_con_nosotros"></div>
                            <div class="contenedor_info_datos">
                                <div class="titulo_opcion_chatea_con_nosotros">Chatea con nosotros</div>
                                <div id="divHoraiosAtencion" class="horarios_atencion">L-V: 8:00 a 20:00 y S: 08:00 a 18:00</div>
                            </div>
                        </div>
                        <button class="btn_ingresar_chat" id="divChatearConNosotros">Ingresar al chat</button>
                    </div>

                    <div id="Opcionesllamada" class="opcion_recuperacion_contrasenia sinMargenesMobile" style="display:none;">
                        <div id="prioridad2_llamada" class="contenedor_solo_una_opcion opcionLlamada_desktop" style="display:none;">
                            <div class="icono_llamada"></div>
                            <div class="contenedor_info_datos">
                                <div class="titulo_opcion_llamada nametitlepais">Central Telefónica del Perú</div>
                                <div id="contenidotelefono" class="telefonos_central">

                                </div>
                            </div>
                        </div>

                        <div class="contenedor_solo_una_opcion opcionLlamada_mobile">
                            <div id="divllamadasMobile" class="grupo_centrales_telefonicas_disponibles" style="display:none;">

                            </div>
                        </div>
                    </div>

                    <div id="prioridad3" style="display:none;">
                        <div class="contenedor_solo_una_opcion">
                            <div class="icono_reloj mb-15"></div>
                            <div class="contenedor_info_datos">
                                <div class="titulo_opcion_horarios_atencion">
                                    Horario de atención central telefónica
                                </div>
                                <div class="horarios_atencion">
                                    <div class="mb-3">
                                        <span class="divHorario">Lunes a Viernes: 08:00 a 20:00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info_mas_opciones">
                    <span style="display:none;">Mis datos no son correctos.</span>
                    <span style="display:none;">Este no es mi correo.</span>
                    <span style="display:none;">Este no es mi número.</span>

                    <a id="vermasopciones1" title="Ver más opciones" data-recuperar="2" style="cursor:pointer;">
                        Ver más opciones
                    </a>
                    <a id="linkvolverInicio" class="accion_alternativa_posterior_envio_password aVolverInicio" title="Reenviar mensaje a mi correo" style="cursor:pointer;display:none;">Volver al inicio</a>
                    <div id="MenInferiorAutenticidad" style="display:none;color:black;">Si no reconoces tu correo o celular, comunícate con nuestro <a id="BelcorpRespondeVerificacion" style="color:black;cursor:pointer;">Call Center</a></div>
                </div>
            </div>
        </div>
    </div>

    <div id="popup2" style="display:none;">
        <div id="popup_contraseniaEnviada">
            <div class="content_bg_contraseniaEnviada">
                <a id="btnRegresar" class="btn_regresar_ver_otras_opciones" href="#" title="Regresar">
                    <span class="icono_regresar_ver_otras_opciones"><img src="~/Content/Images/Login2/Icons/flecha-regresar.svg" alt="Alternate Text" /></span>
                    <span>Regresar</span>
                </a>
                <a id="btnCerrarContraseniaEnviadaPopup" href="#" class="cerrar" onclick="CerrarPopup2()" title="Cerrar"></a>
                <div id="divPopupIntentosCorreo" class="mensaje_pop_up_contraseniaEnviada" style="display:none;">
                    <h1 id="men1y2Intento">Por favor, revisa tu correo</h1>
                    <h1 id="men3Intento" style="display:none;">Por favor, espera un momento, el mensaje está en camino</h1>
                    <br />
                    <br />
                    <div class="icono_correo">
                        @if (ViewBag.PaisID == 2 || ViewBag.PaisID == 3 || ViewBag.PaisID == 4 || ViewBag.PaisID == 6 || ViewBag.PaisID == 7 || ViewBag.PaisID == 8 || ViewBag.PaisID == 11 || ViewBag.PaisID == 13 || ViewBag.PaisID == 14) {
                            <img src="~/Content/Images/Login2/Icons/icono-envelope-esika.png" alt="Nuevo Correo" />
                        }
                        else if (ViewBag.PaisID == 5 || ViewBag.PaisID == 9 || ViewBag.PaisID == 10 || ViewBag.PaisID == 12)
                        {
                            <img src="~/Content/Images/Login2/Icons/icono-envelope-lbel.png" alt="Nuevo Correo" />
                        }
                    </div>
                    <br />
                    <br />
                    <p class="pMenCorreoEnviado_RC" style="display:none;">
                        Te hemos enviado las instrucciones a :
                    </p>
                    <p class="pMenCorreoEnviado_RC correoDestino" style="font: bold; display:none;"><strong></strong></p>

                    <p class="MenCorreoEnviado_Pin" style="display:none">
                        Te hemos enviado un código a : <strong class="correoDestino"></strong>
                    </p>
                    <p class="texto_informativo_ingreso_codigo MenCorreoEnviado_Pin" style="display:none">
                        Una vez recibido, ingrésalo aquí
                    </p>
                    <div class="ingreso_codigo MenCorreoEnviado_Pin" style="display:none">
                        <input type="text" maxlength="1" id="1aDigito" class="codigoSms">
                        <input type="text" maxlength="1" id="2aDigito" class="codigoSms">
                        <input type="text" maxlength="1" id="3aDigito" class="codigoSms">
                        <input type="text" maxlength="1" id="4aDigito" class="codigoSms">
                        <input type="text" maxlength="1" id="5aDigito" class="codigoSms">
                        <input type="text" maxlength="1" id="6aDigito" class="codigoSms">
                        <div class="tiempo_validez_codigoSms">
                            <span class="spnMin">03</span>:<span class="spnSeg">00</span>
                        </div>
                        <div class="mensaje_error_codigo codigoInvalido" style="display:none;">
                            <span class="icono_alerta_error"></span>
                            <span>Código inválido</span>
                        </div>
                    </div>

                    <a id="divPrimerInteto" class="accion_alternativa_posterior_envio_password RecuperarPorCorreo" title="Reenviar mensaje a mi correo" style="cursor:pointer;">Reenviar mensaje a mi correo</a>
                    <a class="accion_alternativa_posterior_envio_password" title="Reenviar mensaje a mi correo" style="display:none;">Intentar nuevamente</a>

                    <div id="divVolverInicio" style="display:none;">
                        <span class="texto_no_llego_mensaje">No me llegó el mensaje.</span>
                        <a class="accion_alternativa_posterior_envio_password aVolverInicio" title="Reenviar mensaje a mi correo" style="cursor:pointer;">Volver al inicio</a>
                    </div>
                </div>

                <div id="divPopupIntentosSMS" class="mensaje_pop_up_contraseniaEnviada" style="display:none;">
                    <h1 id="MenPrimerIntentoSms" style="display:none;">Por favor, revisa tu celular</h1>
                    <h1 id="MenSegundoIntentoSms" style="display:none;font-size:16px;">Por favor, espera un momento, te hemos enviado un nuevo código</h1>
                    <br />
                    <div class="icono_mensaje_sms">
                    </div>
                    <br />
                    <p>
                        Te hemos enviado un código al: <strong class="NumCelularDestino">9** *** *61</strong>
                    </p>
                    <p class="texto_informativo_ingreso_codigo">
                        Una vez recibido, ingrésalo aquí
                    </p>
                    <div class="ingreso_codigo">
                        <input type="text" maxlength="1" id="1cDigito" class="codigoSms" >
                        <input type="text" maxlength="1" id="2cDigito" class="codigoSms" >
                        <input type="text" maxlength="1" id="3cDigito" class="codigoSms" >
                        <input type="text" maxlength="1" id="4cDigito" class="codigoSms" >
                        <input type="text" maxlength="1" id="5cDigito" class="codigoSms" >
                        <input type="text" maxlength="1" id="6cDigito" class="codigoSms" >
                        <div class="tiempo_validez_codigoSms">
                            <span class="spnMin">03</span>:<span class="spnSeg">00</span>
                        </div>
                        <div class="mensaje_error_codigo codigoInvalido" style="display:none;">
                            <span class="icono_alerta_error"></span>
                            <span>Código inválido</span>
                        </div>
                    </div>
                    <a id="aSeguntoIntentoSms" class="accion_alternativa_posterior_envio_password opcionSms" title="Reenviar mensaje a mi correo" style="display:none; cursor:pointer;">Reenviar mensaje de texto</a>
                    <a id="aTercerIntentoSms" class="accion_alternativa_posterior_envio_password" title="Reenviar mensaje a mi correo" style="display:none; cursor:pointer;">Intentar nuevamente</a>
                    <div id="divVolverInicioSms" style="display:none;">
                        <span class="texto_no_llego_mensaje">No me llego el código.</span>
                        <a class="accion_alternativa_posterior_envio_password aVolverInicio" title="Reenviar mensaje a mi correo" style="cursor:pointer;">Volver al inicio</a>
                    </div>
                    <div>
                        <a id="aEnlaceCambiarContraseña" href="" target="_blank"></a>
                    </div>
                </div>

                <div class="mensaje_pop_up_contraseniaEnviada" style="display:none;">
                    <h1 class="mb-34">
                        Sofía, puedes comunicarte con nosotros por este medio
                    </h1>
                    <h1 class="mb-34" style="display:none;">
                        Sofía, puedes comunicarte con nosotros llamando a nuestra central telefónica
                    </h1>
                    <div class="opcion_recuperacion_contrasenia">
                        <div class="contenedor_solo_una_opcion">
                            <div class="icono_chatea_con_nosotros"></div>
                            <div class="contenedor_info_datos">
                                <div class="titulo_opcion_chatea_con_nosotros">Chatea con nosotros</div>
                                <div class="horarios_atencion">L-V: 8:00 a 20:00 y S: 08:00 a 18:00</div>
                            </div>
                        </div>
                        <button class="btn_ingresar_chat">Ingresar al chat</button>
                    </div>
                    <div class="opcion_recuperacion_contrasenia" style="display:none;">
                        <div class="opcionLlamada_desktop">
                            <div class="icono_llamada"></div>
                            <div class="titulo_opcion_llamada">Central Telefónica del Perú</div>
                            <div class="telefonos_central">
                                <span>
                                    Lima: <span>01-2113614</span>
                                </span>
                                <span>
                                    Provincia: <span>080-11-3030</span>
                                </span>
                            </div>
                        </div>
                        <div class="opcionLlamada_mobile">
                            <div class="grupo_centrales_telefonicas_disponibles" style="display:none;">
                                <a href="" class="central_telefonica">
                                    <div class="icono_llamada"></div>
                                    <div class="texto_opcion_llamada">
                                        Llamar de Lima
                                    </div>
                                </a>
                                <a href="" class="central_telefonica">
                                    <div class="icono_llamada"></div>
                                    <div class="texto_opcion_llamada">
                                        Llamar de provincia
                                    </div>
                                </a>
                            </div>
                            <div class="grupo_centrales_telefonicas_disponibles" style="display:none;">
                                <a href="" class="central_telefonica">
                                    <div class="icono_llamada"></div>
                                    <div class="texto_opcion_llamada">
                                        Llamar a central 1
                                    </div>
                                </a>
                                <a href="" class="central_telefonica">
                                    <div class="icono_llamada"></div>
                                    <div class="texto_opcion_llamada">
                                        Llamar a central 2
                                    </div>
                                </a>
                                <a href="" class="central_telefonica">
                                    <div class="icono_llamada"></div>
                                    <div class="texto_opcion_llamada">
                                        Llamar a central 3
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mensaje_pop_up_contraseniaEnviada" style="display:none;">
                    <h1 class="texto_disculpa_2">Sofía, puedes comunicarte con nosotros llamando a nuestra central telefónica en el siguiente horario:</h1>
                    <br />
                    <br />
                    <div class="icono_reloj_2 mb-15"></div>
                    <div class="titulo_opcion_horarios_atencion">
                        Horario de atención central telefónica
                    </div>
                    <div class="horarios_atencion_2">
                        <div class="mb-3">
                            <span>Lunes a Viernes: </span>
                            <span>08:00</span> a <span>20:00</span>
                        </div>
                        <div>
                            <span>Sábados: </span>
                            <span>08:00</span> a <span>18:00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="popup3" style="display: none;">
        <div id="popup_cambioContrasenia">
            <div class="content_bg_cambioContrasenia">
                <a id="btnCerrarCambioContraseniaPopup" href="#" class="cerrar" onclick="$('#popup3').hide();"></a>

                <div id="headerCambioContrasenia">CAMBIO DE CONTRASEÑA</div>
                <div class="mensaje_pop_up2">
                    <p>{{UsuarioName}}, no te preocupes.</p>
                </div>
                <div class="formCont popupCambioContrasenia">
                    <div class="boxform">
                        <div class="formcontrol PorCorreo" id="PorCorreo" style="margin-bottom: 35px;">
                        </div>
                    </div>
                    <div class="boxform">
                        <div class="formcontrol PorChat" id="PorChat" style="margin-bottom: 45px; color: black;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="webForm">

    <div class="logo-esika">
    </div>
    <div class="text_bienvenida_esika">
        ¡Bienvenida a la Compañía de Belleza con la que puedes <span> ganar más! </span>

        @if (Model.ListPaisAnalytics != null && Model.ListPaisAnalytics.Count > 0)
        {
            <div id="div-analytics-image" style="display:inline;"></div>
        }
    </div>
    <div class="title">
        <img src="~/Content/Images/Login2/logo_welcome.png" alt="" />
    </div>

    <div class="formbtn" style="float: none;">

        <div id="cambcuentaboton">

            <div class="content_btn_face">
                <button id="btnLoginFB" class="loginBtn loginBtn--facebook" onclick="loginFB()" style="width: 100%; height: 48px;display: block;">
                    Ingresa con Facebook
                </button>
            </div>

        </div>

        <div id="_olgn" class="div-o-login">
            <div class="linea_o"></div>
            <div class="o_login">ó</div>
            <div class="linea_o"></div>
        </div>
        <hr class="clear" />

    </div>

    <div id="btnfblogin" style="display:none;">

        <div class="content_sesion_facebook">
            <img id="imgFotoPerfil2" src="" alt="" />
        </div>

        <div class="content_btn_face">
            <button id="btnLoginFB2" class="loginBtn loginBtn--facebook" onclick="loginFB()" style="width: 100%; height: 48px; display:block;">
                Ingresa con Facebook
            </button>
        </div>

        <div id="cambcuentatext" class="text_bienvenida_esika">
            <span id="_nomusufb" style="display: inline; font-size:14px;"></span>
        </div>

        <hr class="clear" />
    </div>

    @using (@Html.BeginForm("Login", "Login", FormMethod.Post, new { id = "frmLogin" }))
    {
        <div id="loginanterior" class="formCont">
            <input type="hidden" id="hdfContrasenia" />
            <input type="hidden" id="returnUrl" name="returnUrl" value="@ViewBag.ReturnURL" />

            <div class="info-userext">
                <input type="hidden" id="hdeProveedor" name="UsuarioExterno.Proveedor" />
                <input type="hidden" id="hdeIdApp" name="UsuarioExterno.IdAplicacion" />
                <input type="hidden" id="hdeLogin" name="UsuarioExterno.Login" />
                <input type="hidden" id="hdeNombres" name="UsuarioExterno.Nombres" />
                <input type="hidden" id="hdeApellidos" name="UsuarioExterno.Apellidos" />
                <input type="hidden" id="hdeFechaNacimiento" name="UsuarioExterno.FechaNacimiento" />
                <input type="hidden" id="hdeCorreo" name="UsuarioExterno.Correo" />
                <input type="hidden" id="hdeGenero" name="UsuarioExterno.Genero" />
                <input type="hidden" id="hdeUbicacion" name="UsuarioExterno.Ubicacion" />
                <input type="hidden" id="hdeLinkPerfil" name="UsuarioExterno.LinkPerfil" />
                <input type="hidden" id="hdeFotoPerfil" name="UsuarioExterno.FotoPerfil" />
                <input type="hidden" name="UsuarioExterno.Redireccionar" value="true" />
            </div>

            <div class="boxform">
                <div class="flecha_select">
                    <div class="formcontrol pais" id="cargarBandera">

                        <input type="hidden" id="hdfPaisSelect" value="00" />
                        <input type="hidden" id="hdfPaises" value="PE;BO;CL;SV;CR;PA;GT;EC;AR;MX;DO;PR;VE;CO" />
                        <input type="hidden" id="hdfURL" value="https://www2.somosbelcorp.com" />
                        <input type="hidden" id="hdf_BO" value="LoginLoveBomb.jpg" />
                        <input type="hidden" id="hdf_CL" value="LoginLoveBomb.jpg" />
                        <input type="hidden" id="hdf_CO" value="LoginLoveBomb.jpg" />
                        <input type="hidden" id="hdf_CR" value="fondo_default.jpg" />
                        <input type="hidden" id="hdf_EC" value="LoginLoveBomb.jpg" />
                        <input type="hidden" id="hdf_SV" value="LoginLoveBomb.jpg" />
                        <input type="hidden" id="hdf_GT" value="LoginLoveBomb.jpg" />
                        <input type="hidden" id="hdf_MX" value="LoginLoveBomb.jpg" />
                        <input type="hidden" id="hdf_PA" value="fondo_default.jpg" />
                        <input type="hidden" id="hdf_PE" value="LoginLoveBomb.jpg" />
                        <input type="hidden" id="hdf_PR" value="LoginLoveBomb.jpg" />
                        <input type="hidden" id="hdf_DO" value="fondo_default.jpg" />
                        <input type="hidden" id="hdf_VE" value="fondo_default.jpg" />
                        <input type="hidden" id="hdeCodigoISO" name="hdeCodigoISO" />

                        <input type="hidden" id="HdePaisID" name="PaisID" />


                        <select id="ddlPais" name="CodigoISO" class="DropDown" tabindex="1">
                            <option value="00" data-id="99">Elige tu País</option>
                            @if (Model.ListaPaises != null)
                            {
                                foreach (var item in Model.ListaPaises)
                                {
                                    if (item.PaisID > 0)
                                    {
                                        <option value="@item.CodigoISO" data-id="@item.PaisID">@item.Nombre</option>
                                    }
                                    else
                                    {
                                        mensajeError = item.Nombre;
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="boxform" data-error="@mensajeError">
                <div class="formcontrol user">
                    <input id="txtUsuario" name="CodigoUsuario" type="text" class="inputForm" value="" onfocus="" onblur="" placeholder="Usuario o Correo Electrónico" />
                </div>
                <div id="Div3" class="btn">
                    <a href="javascript:void(0);" id="abrirMSJ01" onclick="AbrirMensajeLogin(1)" class="helper huno"></a>
                </div>
            </div>

            <div class="boxform">
                <div class="formcontrol pass">
                    <input type="password" name="ClaveSecreta" id="txtContrasenia" class="inputForm" placeholder="Contraseña" value="" />
                </div>
                <div id="Div5" class="btn">
                    <a href="javascript:void(0);" id="abrirMSJ02" onclick="AbrirMensajeLogin(2)" class="helper hdos"></a>
                </div>
            </div>

            <div class="boxform">
                <div class="formbtn">
                    <div style="color: #ABEAE3; text-align: left; padding-left: 4px; margin-bottom: 5px; font-family: 'lato'; font-size: 12px; font-weight: bold;">
                        <label id="ErrorTextLabel" class="img_error_login"></label>
                    </div>
                </div>
            </div>

            <div class="boxform float_r">
                <div class="formbtn">
                    <div style="padding-left: 4px;">
                        <a id="AvisoASP" class="aviso_privacidad" href="javascript:void(0)" style="display: none;">Aviso de Privacidad</a>
                    </div>
                </div>
            </div>

            <div class="boxform float_r">
                <div class="formbtn">
                    <label for="">
                        <a href="javascript:void(0);" onclick="olvidasteContrasenia()" rel="formulario-login" title="Recupérala aquí" role="menu" region="Lateral" parent="Recupérala aquí">¿Olvidaste tu contraseña?</a>
                    </label>
                    <br />
                </div>
            </div>

            <div class="clear"></div>

            <div class="boxform">
                <div class="formbtn">
                    <input type="submit" id="btnLogin" class="btnCrear" value="INGRESA A TU CUENTA" />
                </div>
                <div style="display: none;">
                    <input type="submit" id="SubmitButton" />
                </div>
            </div>

            <div class="boxform">
                <div class="admin">
                    <a href="@Url.Action("Admin", "Login")" onclick="return RedirectAdministrador();" rel="menu-superior" title="Administrador">INGRESA COMO <strong>ADMINISTRADOR</strong></a>
                </div>
            </div>

            <div class="boxform" id="VinculoTarjetaHelm">
                <div class="admin" style="margin-top:14px !important">
                    <label for="">
                        <a href="@System.Configuration.ConfigurationManager.AppSettings["UrlRetiroFondosTarjetaHelm"]" download target="_blank" title="" style="text-decoration:underline">RETIRO TARJETA PAY CARD CON SALDO</a>
                    </label>
                </div>
            </div>
        </div>
    }

</div>

<div id="popupAsociarUsuarioExt" class="content_pop_login" style="display: none;">
    <input type="hidden" id="hdeNameUserExt" />
    <div class="content_facebook_sb">
        <div class="header_facebook">
            SOMOS BELCORP
            <a class="btn_cerrar_login" href="javascript:;" onclick="closePopupAsociarLoginExt()"></a>
        </div>
        <div class="body_facebook">
            <div class="texto_login">
                <b class="solo_texto_paso">Solo un paso más... </b>Por favor ingresa tu usuario y contraseña de <b style="font-size: 16px;">SomosBelcorp</b> por única vez para asociarlo.
            </div>

            <div class="content_foto_face_pop">
                <div class="foto_pop_face"> <img src="" /></div>
                <div class="nombre_usuario_facebook">Valeria</div>
            </div>

            <div id="cargarBandera3" class="campo_input">
                <select class="select_pais_facebook" id="ddlPais2">
                    <option value="00">Elige tu País</option>
                    @if (Model.ListaPaises != null)
                    {
                        foreach (var item in Model.ListaPaises)
                        {
                            <option value="@item.CodigoISO" data-id="@item.PaisID">@item.Nombre</option>
                        }
                    }
                </select>
            </div>
            <hr class="clear" />

            <div class="campo_input icono_usuario">
                <input type="text" value="" class="usuario_facebook" id="txtUsuario2" placeholder="Usuario o Correo Electrónico" />
                <div class="ayuda_usuario_facebook">
                    <a href="#" class="helper_facebook"></a>
                    <div class="mensaje_ayuda_usuario" id="ayuda-msg-user">
                        Tu código de consultora,
                        DNI o correo electronico.
                    </div>
                </div>
            </div>
            <hr class="clear" />

            <div class="campo_input icono_pass">
                <input type="password" value="" class="usuario_facebook" id="txtContrasenia2" placeholder="Contraseña" />
                <div class="ayuda_usuario_facebook">
                    <a href="#" class="helper_facebook"></a>
                    <div class="mensaje_ayuda_usuario" id="ayuda-msg-clave">
                        Si es la primera vez que
                        ingresas, es tu número
                        de DNI.
                    </div>
                </div>
            </div>
            <hr class="clear" />

            <div id="divMensajeError2" class="boxform" style="display: none;">
                <div class="formbtn">
                    <div style="text-align: left; padding-left: 4px; margin-bottom: 5px; font-family: 'lato'; font-size: 12px; font-weight: bold;">
                        <label id="ErrorTextLabel2" class="img_error_login icono_esika"></label>
                    </div>
                </div>
            </div>

            <div class="formbtn">
                <label for="">
                    <a href="javascript:void(0);" onclick="olvidasteContrasenia();" rel="formulario-login" title="Recupérala aquí" role="menu" region="Lateral" parent="Recupérala aquí">¿Olvidaste tu contraseña?</a>
                </label>
                <br>
            </div>
            <hr class="clear" />

            <a class="btn_validar_usuario" id="btnLogin2" onclick="login2()" style="cursor: pointer;">INGRESA A TU CUENTA</a>
        </div>
    </div>
</div>

<script type="text/javascript">
    var paisesEsika = '@System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika")';
    var paisesLBel = '@System.Configuration.ConfigurationManager.AppSettings.Get("PaisesLBel")';

    var isoPais = '@ViewBag.IsoPais';
    var banderaOk = '@ViewBag.BanderaOk';
    var avisoASP = '@ViewBag.AvisoASP';
    var urlGetRestaurarClave = '@Url.Action("GetRestaurarClaveByValor", "Login")';
    var urlProcesaEnvioCorreo = '@Url.Action("ProcesaEnvioCorreo", "Login")';
    var urlProcesaEnvioSms = '@Url.Action("ProcesaEnvioSms", "Login")';
    var urlLoginAcceder = '@Url.Action("Login", "Login")';
    var urlChatBelCorp = '@Url.Action("ChatBelcorp", "Login")';
    @*var urlVerificarCodigoGenerado = '@Url.Action("VerificarCodigoGenerado", "Login")';*@
    var urlIniciarLogin = '@Url.Action("Login", "Login")';
</script>

@if (TempData["errorLogin"] != null)
{
    <script type="text/javascript">
        var errorLogin = '@TempData["errorLogin"]';
        var serverPaisId = '@TempData["serverPaisId"]';
        var serverPaisISO = '@TempData["serverPaisISO"]';
        var serverCodigoUsuario = '@TempData["serverCodigoUsuario"]';
    </script>
}

@if (TempData["usuarioValidado"] != null)
{
    <script>
        var usuarioValidado = '@TempData["usuarioValidado"]';
    </script>
}

@section headerScripts {
    @if (Model.ListPaisAnalytics != null && Model.ListPaisAnalytics.Count > 0)
    {
        <script type="text/javascript">
            /* <![CDATA[ */
            var google_conversion_id = 0;
            var google_custom_params = window.google_tag_params;
            var google_remarketing_only = true;
            /* ]]> */
        </script>

        <noscript id="noscript-pixel-image"></noscript>
    }

    @System.Web.Optimization.Scripts.Render("~/bundles/JS-Login-Header")
    <script>
        var configAnalytics = { listPaisAnalytics : [] };
        @if (Model.ListPaisAnalytics != null)
        {
            foreach (var paisAnalytics in Model.ListPaisAnalytics)
            {
                <text>
        configAnalytics.listPaisAnalytics.push({
            CodigoISO: '@paisAnalytics.CodigoISO',
            GndId: @(paisAnalytics.GndId),
            PixelId: '@paisAnalytics.PixelId',
            SearchId: @(paisAnalytics.SearchId),
            YoutubeId: @(paisAnalytics.YoutubeId)
            })
        </text>
            }
        }
    </script>
}

@section scripts {
    <script src="~/Scripts/handlebars.js"></script>
    @System.Web.Optimization.Scripts.Render("~/bundles/JS-Login")
}

