@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Belcorp | Portal Consultoras</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900' rel='stylesheet' type='text/css' />
    <meta http-equiv="refresh" content="4;url=@Url.Action("Index", "Login", new { returnUrl = ViewBag.ReturnURL })" />

    <link rel="shortcut icon" type="image/x-icon" id="iconoPagina" data-id="iconPagina" href="@ViewBag.IconoPagina" />
    @if (ViewBag.EsPaisEsika == true)
    {
        <link href="@Url.Content("~/Content/Images/icons/favicon_esika.ico")" rel="shortcut icon" type="image/x-icon" />
        @System.Web.Optimization.Styles.Render("~/Bundle/Css/Mixto/Site-Esika-CssSB2")
    }
    else
    {
        <link href="@Url.Content("~/Content/Images/icons/favicon_lbel.ico")" rel="shortcut icon" type="image/x-icon" />
        @System.Web.Optimization.Styles.Render("~/Bundle/Css/Mixto/Site-Lbel-CssSB2")
    }

    <script src="~/Scripts/jquery-1.11.2.min.js"></script>
</head>
<body class="fondo_oscuro" style="display:block">
    <div class="popup_agregarUnidades">
        <div class="contenido_popUp">
            <span class="icono_exclamacion"></span>
            <h1 class="titulo_agregarUnidades"><b>SESIÓN FINALIZADA</b></h1>
            <div id="mensajeSesionSB2_Error" class="mensaje_agregarUnidades">
                Será redireccionado en unos segundos...
            </div>
        </div>
    </div>
    <input type="hidden" id="PaginaSesionExpirada" />
</body>
</html>
