@using System.Web.Optimization;
@{
    Layout = null;
    ViewBag.Title = "Verifica Tu Autenticidad";
}

<!DOCTYPE html>
<html lang="es" class="no-js">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=10,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="Portal de consultoras" />
    <meta name="author" content="Belcorp" />
    <title>Somos Belcorp ::: Verificación de Autenticidad</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900" rel="stylesheet" type="text/css">
    @if (System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika").Contains(ViewBag.PaisAnalytics == null ? "" : ViewBag.PaisAnalytics))
    {
        <link rel="stylesheet" href="@Url.Content("~/Content/Css/Site/Esika/styleDefault.css")">
        <link rel="stylesheet" href="@Url.Content("~/Content/Css/Site/Esika/verificacion-pin.css")">
    }
    else
    {
        <link rel="stylesheet" href="@Url.Content("~/Content/Css/Site/Lbel/styleDefault.css")">
        <link rel="stylesheet" href="@Url.Content("~/Content/Css/Site/Lbel/verificacion-pin.css")">
    }
    @Styles.Render("~/Bundle/Css/Mixto/Content-Login")    
</head>
<body>
    <div class="fondo_f9f9f9">
        <div class="content_belcorp">
            <div class="fondo_negro_lateral"></div>
            <div class="titulo_interiores text-center">
                <div class="pestana_lbel"></div>
                <a title="Volver" class="enlace_volver_mobile">
                    <img src="@Url.Content("~/Content/Images/icono_volver_mobile.svg")" alt="" />
                </a>
                <div class="inline-block v-alignMiddle">
                    <span class="text-bold">VERIFICA</span> TU AUTENTICIDAD
                </div>
            </div>
        </div>
        <hr class="clear" />
        <div class="linea_separadora" style="margin-top:-10px"></div>
    </div>

    @{ 
        var OpcionSms = true;
        var OpcionEmail = true;
        if (Model.MostrarOpcion == 2) { OpcionSms = false; }
        if (Model.MostrarOpcion == 3) { OpcionEmail = false; }
    }

    <section class="block vista_flujo_restablecer_contrasenia">
        <div class="block center-block wrapper_content_verificacion_autenticidad">
            <div class="block">
                <a id="divVolver" title="Volver" class="block enlace_volver_a_mi_perfil text-uppercase text-bold">
                    <span class="inline-block v-alignMiddle icono_back_arrow">
                        <img src="@Url.Content("~/Content/Images/icono_volver.svg")" alt="Volver" />
                    </span>
                    <span class="inline-block v-alignMiddle enlace_texto">Volver</span>
                </a>
                <!-- OPCIONES DE VERIFICACIÓN DE AUTENTICIDAD -->
                <div id="divPaso1" class="block opciones_verificacion_autenticidad">
                    <div class="block mt-20-mobile">
                        <p class="block texto_verificacion_datos">
                            <span class="text-center block">¡Bienvenida @Model.PrimerNombre!</span>
                        </p>
                        <h2 class="text-center text-bold block texto_verificacion_datos texto_verificacion_datos--resaltado">
                            Queremos verificar tus datos
                        </h2>
                    </div>
                    <div class="block center-block lista_opciones_verificacion_autenticidad">
                    @{
                        if (OpcionSms)
                        {
                        <div class="block opcion_verificacion_autenticidad opcion_verificacion_autenticidad--pendiente">
                            <div class="datos_verificacion_autenticidad">
                                <div class="block text-bold">Número de celular <span class="asteriscos">*</span></div>
                                <div class="block">@Model.CelularEnmascarado</div>
                                <span class="block text-bold mensaje_validacion_campo">Aún falta confirmar tu número</span>
                            </div>
                            <div>
                                <a href="" title="Editar" class="inline-block text-center enlace_cambiar_dato RecuperarPorSms">
                                    <span class="inline-block icono_cambiar_dato">
                                        <img src="@Url.Content("~/Content/Images/icono_cambiar_dato.svg")" alt="Editar">
                                    </span>
                                    <span class="inline-block text-bold">Editar</span>
                                </a>
                                <!-- INICIO - Este botón aparece cuando la consultora tiene pendiente confirmar su correo electrónico -->
                                <button id="btn_confirmar_dato_email" type="button" class="block text-bold border-radius-4 multimarca-background-color btn_confirmar_dato">
                                    Confirmar
                                </button>
                                <!-- FIN - Este botón aparece cuando la consultora tiene pendiente confirmar su correo electrónico -->
                            </div>
                            @*<div class="divTiempoRestanteSms" style="display:none; margin-top: 15px; font-size: 12px; text-align:center;">@ViewBag.MensajeOpcionCelular</div>*@
                        </div>
                        }
                        if (OpcionEmail)
                        {
                            <div class="block opcion_verificacion_autenticidad opcion_verificacion_autenticidad--pendiente">
                                <div class="datos_verificacion_autenticidad">
                                    <div class="block text-bold">Correo Electrónico <span class="asteriscos">*</span></div>
                                    <div class="block">@Model.CorreoEnmascarado</div>
                                    <span class="d-block text-bold mensaje_validacion_campo">Aún falta confirmar tu correo</span>
                                </div>
                                <div>
                                    <a href="" title="Editar" class="inline-block text-center enlace_cambiar_dato RecuperarPorCorreo">
                                        <span class="inline-block icono_cambiar_dato">
                                            <img src="@Url.Content("~/Content/Images/icono_cambiar_dato.svg")" alt="Editar">
                                        </span>
                                        <span class="inline-block text-bold">Editar</span>
                                    </a>
                                    <!-- INICIO - Este botón aparece cuando la consultora tiene pendiente confirmar su correo electrónico -->
                                    <button id="btn_confirmar_dato_sms" type="button" class="block text-bold border-radius-4 multimarca-background-color btn_confirmar_dato">
                                        Confirmar
                                    </button>
                                    <!-- FIN - Este botón aparece cuando la consultora tiene pendiente confirmar su correo electrónico -->
                                </div>
                                @*<div class="divTiempoRestanteCorreo" style="display:none; margin-top: 15px; font-size: 12px; text-align:center;">@ViewBag.MensajeOpcionCorreo</div>*@
                            </div>
                        }
                    }
                        <button type="button" class="block w-100 center-block border-radius-4 mt-35 text-bold btn_deshabilitado btn_primario btn_primario--miPerfil ContinuarBienvenida">
                            Ir a somos belcorp
                        </button>
                    </div>
                    @{
                        if (Model.OpcionChat)
                        {
                            <div class="block">
                                <p class="texto_alternativa_call_center block">
                                    <span class="inline-block v-alignMiddle">
                                        Si no reconoces tu celular o correo, comunícate con nuestro
                                        <a title="Chat" id="aChatearConNosotros" class="inline-block v-alignBottom enlace_call_center text-bold">Chat</a>
                                    </span>
                                </p>
                            </div>
                        }
                    }
                </div>
                <!-- FIN - OPCIONES DE VERIFICACIÓN DE AUTENTICIDAD -->
                <!-- ACTUALIZACIÓN DE NÚMERO DE CELULAR -->
                <div id="ActualizarCelular" class="block text-center form_actualizar_celular" style="display:none;">
                    <div class="block grupo_form_cambio_datos grupo_form_cambio_datos--vistaActualizacionCelular">
                        <div class="w-100">
                            <input id="NuevoCelular" name="NuevoCelular" class="w-100" type="tel" value="" />
                            <label for="NuevoCelular" class="w-100 text-left">Número de celular</label>
                            <span id="ValidateCelular" style="display:none">Número inválido</span>
                        </div>
                    </div>
                    <div class="block pt-31 mb-15">
                        <div class="checkbox_condiciones_wrapper w-100">
                            <div class="text-left checkbox_condiciones_descripcion">
                                <span class="asteriscos">(*)&nbsp;</span>
                                Estoy de acuerdo con los <span><a href="javascript:;" id="hrefTerminosMD" target="_blank">términos y condiciones</a></span> sobre Protección de datos personales
                            </div>
                            <div class="grupo_form_checkbox_condiciones">
                                <input class="checkbox_condiciones_checkbox" type="checkbox" name="chkAceptoContratoMD" id="chkAceptoContratoMD" />
                                <label for="chkAceptoContratoMD" class="block border-radius-4 checkbox_condiciones_label"></label>
                            </div>
                        </div>
                    </div>
                    <div class="grupo_form_cambio_datos grupo_form_cambio_datos--vistaActualizacionCorreo">
                        <button type="button" class="w-100 border-radius-4 text-bold mt-23 btn_deshabilitado btn_primario btn_primario--miPerfil">
                            Guardar
                        </button>
                    </div>
                </div>
                <!-- FIN - ACTUALIZACIÓN DE NÚMERO DE CELULAR -->
                <!-- VERIFICACIÓN POR CÓDIGO SMS -->
                <div id="divPaso2sms" class="block revisa_tu_celular text-center" style="display:none;">
                    <div class="block center-block icono_mensaje_sms"></div>
                    <h3 class="d-block text-bold actualizacion_celular_titulo">Código de confirmación</h3>
                    <p class="w-100 envio_instrucciones_info">
                        <span class="block w-100">Te hemos enviado un SMS al número de celular:</span>
                        <span class="inline-block text-bold num_celular_actual">@Model.CelularEnmascarado</span>
                        <a href="#" class="inline-block enlace_cambiar_numero_celular" title="Cambiar número">Cambiar número</a>
                    </p>
                    <div class="area_ingreso_codigo_sms block">
                        <div class="block texto_ingreso_codigo text-bold">Ingresa el código aquí</div>
                        <div class="block center-block campos_ingreso_codigo_sms">
                            <div class="wrapper_campo_ingreso_codigo_sms">
                                <input id="1sDigito" data-tipo="1" class="inline-block v-alignBottom text-bold text-center campo_ingreso_codigo_sms" type="text" maxlength="1" />
                                <span class="block w-100 multimarca-background-color campo_ingreso_codigo_sms_borde_inferior"></span>
                            </div>
                            <div class="wrapper_campo_ingreso_codigo_sms">
                                <input id="2sDigito" data-tipo="1" class="inline-block v-alignBottom text-bold text-center campo_ingreso_codigo_sms" type="text" maxlength="1" />
                                <span class="block w-100 multimarca-background-color campo_ingreso_codigo_sms_borde_inferior"></span>
                            </div>
                            <div class="wrapper_campo_ingreso_codigo_sms">
                                <input id="3sDigito" data-tipo="1" class="inline-block v-alignBottom text-bold text-center campo_ingreso_codigo_sms" type="text" maxlength="1" />
                                <span class="block w-100 multimarca-background-color campo_ingreso_codigo_sms_borde_inferior"></span>
                            </div>
                            <div class="wrapper_campo_ingreso_codigo_sms">
                                <input id="4sDigito" data-tipo="1" class="inline-block v-alignBottom text-bold text-center campo_ingreso_codigo_sms" type="text" maxlength="1" />
                                <span class="block w-100 multimarca-background-color campo_ingreso_codigo_sms_borde_inferior"></span>
                            </div>
                            <div class="wrapper_campo_ingreso_codigo_sms">
                                <input id="5sDigito" data-tipo="1" class="inline-block v-alignBottom text-bold text-center campo_ingreso_codigo_sms" type="text" maxlength="1" />
                                <span class="block w-100 multimarca-background-color campo_ingreso_codigo_sms_borde_inferior"></span>
                            </div>
                            <div class="wrapper_campo_ingreso_codigo_sms">
                                <input id="6sDigito" data-tipo="1" class="inline-block v-alignBottom text-bold text-center campo_ingreso_codigo_sms" type="text" maxlength="1" />
                                <span class="block w-100 multimarca-background-color campo_ingreso_codigo_sms_borde_inferior"></span>
                                <div class="IconoError block icono_validacion_codigo_sms validacion_erronea"></div>
                            </div>
                        </div>
                        <div class="w-100 codigo_sms_caducidad">
                            Puedes solicitar un código nuevo en<br /><span class="spnMin text-bold">3</span><span class="text-bold"> segundos</span>
                        </div>
                        <div class="w-100 envio_instrucciones_info" style="display:none;">
                            <a id="linkRenviarSms" title="Reenvíenme las instrucciones" class="enlace_reenviar_instrucciones w-100">
                                Reenviar nuevamente el código
                            </a>
                        </div>
                        @*<div class="block codigo_sms_caducidad text-uppercase">El código caduca en <span class="spnMin default-color">03</span>:<span class="spnSeg default-color">00</span></div>*@
                        <div class="reenvios agotasteIntentos" style="display:none;"><b>Agotaste tus dos intentos de reenvío</b></div>
                    </div>
                    @*<p class="w-100 envio_instrucciones_info block mb-35 mb-20-mobile">
                        <span class="w-100 block mb-13">¿Aún no recibes el mensaje de texto?</span>
                        <a id="linkRenviarSms" title="Reenvíenme el código" class="block enlace_reenviar_instrucciones w-100 mb-10 text-uppercase text-bold RecuperarPorSms" style="cursor:pointer;">
                            Reenvíenme el código
                        </a>
                        <a title="Escoger otra opción" style="display:none;color:red;cursor:pointer;" class="block escogeOtraOpcion default-color enlace_reenviar_instrucciones w-100 text-uppercase text-bold">
                            Escoger otra opción
                        </a>
                    </div>*@
                    <button type="button" class="block w-100 center-block border-radius-4 text-bold btn_deshabilitado btn_primario btn_primario--miPerfil">
                        Validar código
                    </button>
                </div>
                <div id="divPaso3sms" class="block celular_validado text-center" style="display:none;">
                    <div class="block center-block mt-20-mobile icono_validacion_celular_exitosa"></div>
                    <h1 class="block center-block titulo_celular_validado text-uppercase">
                        ¡Validamos<br /><span class="text-bold">tu celular</span>!
                    </h1>
                    <p class="block mensaje_celular_validado">
                        Continúa visitando somosbelcorp.com<br />y descubre todas la ofertas que tenemos para ti.
                    </p>
                    <p class="block mensaje_celular_validado mb-45 mb-33-mobile">
                        Te recomendamos además actualizar tu contraseña por tu seguridad.
                    </p>
                    <a class="block center-block mb-20-mobile enlace_ir_a_somos_belcorp text-uppercase text-bold default-background-color mb-31 ContinuarBienvenida">Ir a somos belcorp</a>
                    <a title="Actualizar contraseña" class="block enlace_actualizar_contrasenia text-bold VerCambioClave">Actualizar contraseña</a>
                </div>
                <!-- FIN - VERIFICACIÓN POR CÓDIGO SMS -->
                <!-- ACTUALIZACIÓN DE CORREO ELECTRÓNICO -->
                <div id="ActualizarCorreo" class="block text-center form_actualizar_correo" style="display:none;">
                    <div class="block grupo_form_cambio_datos grupo_form_cambio_datos--vistaActualizacionCelular">
                        <div class="w-100">
                            <input id="NuevoCorreo" name="NuevoCorreo" class="w-100" type="tel" value="" />
                            <label for="NuevoCorreo" class="w-100 text-left">Correo electrónico</label>
                            <span id="ValidateCorreo" style="display:none;">Correo inválido</span>
                        </div>
                    </div>
                    <div class="block pt-31 mb-15">
                        <div class="checkbox_condiciones_wrapper w-100">
                            <div class="text-left checkbox_condiciones_descripcion">
                                <span class="asteriscos">(*)&nbsp;</span>
                                Estoy de acuerdo con los <span><a href="javascript:;" id="hrefTerminosMD" target="_blank">términos y condiciones</a></span> sobre Protección de datos personales
                            </div>
                            <div class="grupo_form_checkbox_condiciones">
                                <input class="checkbox_condiciones_checkbox" type="checkbox" name="chkAceptoContratoMD" id="chkAceptoContratoMD" />
                                <label for="chkAceptoContratoMD" class="block border-radius-4 checkbox_condiciones_label"></label>
                            </div>
                        </div>
                    </div>
                    <div class="grupo_form_cambio_datos grupo_form_cambio_datos--vistaActualizacionCorreo">
                        <button type="button" class="w-100 border-radius-4 text-bold mt-23 btn_deshabilitado btn_primario btn_primario--miPerfil">
                            Guardar
                        </button>
                    </div>
                </div>
                <!-- FIN - ACTUALIZACIÓN DE CORREO ELECTRÓNICO -->
                <!-- VERIFICACIÓN POR CORREO ELECTRÓNICO -->
                <div id="divPaso2Email" class="revisa_tu_correo block text-center" style="display:none;">
                    <div class="block center-block icono_correo_sobre"></div>
                    <h3 class="d-block text-bold actualizacion_correo_titulo">Confirmación de correo</h3>
                    <p class="w-100 block envio_instrucciones_info mb-50">
                        <span class="w-100 block">Te hemos enviado un correo de confirmación a:</span>
                        <span class="w-100 block text-bold correo_actual">@Model.CorreoEnmascarado</span>
                        <a href="#" class="block enlace_cambiar_correo" title="Cambiar número">Cambia de correo</a>
                    </p>
                    <div class="w-100 envio_instrucciones_info">
                        <span class="w-100 block">¿Aún no recibes nuestro correo?</span>
                        <a id="linkRenviarCorreo" title="Reenvíenme las instrucciones" class="enlace_reenviar_instrucciones w-100 RecuperarPorCorreo">
                            Reenviar el correo
                        </a>
                    </div>
                    @*<p class="w-100 block envio_instrucciones_info mb-50">
                        <span class="w-100 block mb-13">¿Aún no recibes nuestro correo?</span>
                        <a id="linkRenviarCorreo" title="Reenvíenme las instrucciones" class="block enlace_reenviar_instrucciones w-100 text-uppercase text-bold RecuperarPorCorreo">
                            Reenvíenme el código
                        </a>
                    </p>*@
                    <button type="button" class="block w-100 center-block border-radius-4 text-bold btn_deshabilitado btn_primario btn_primario--miPerfil ContinuarBienvenida">
                        Ir a somos belcorp
                    </button>
                </div>
                <div id="divPaso3Email" class="correo_validado block text-center" style="display:none;">
                    <div class="icono_validacion_correo_exitoso block center-block mt-20-mobile"></div>
                    <h1 class="titulo_correo_validado text-uppercase block center-block">
                        ¡Validamos<br /><span class="text-bold">tu correo</span>!
                    </h1>
                    <p class="mensaje_correo_validado block">
                        Continúa visitando somosbelcorp.com<br />y descubre todas la ofertas que tenemos para ti.
                    </p>
                    <p class="mensaje_correo_validado block mb-45 mb-33-mobile">
                        Te recomendamos además actualizar tu contraseña por tu seguridad.
                    </p>
                    <a class="block center-block mb-20-mobile enlace_ir_a_somos_belcorp text-uppercase text-bold default-background-color mb-31 ContinuarBienvenida">Ir a somos belcorp</a>
                    <a title="Actualizar contraseña" class="block enlace_actualizar_contrasenia text-bold VerCambioClave">Actualizar contraseña</a>
                </div>
                <!-- FIN - VERIFICACIÓN POR CORREO ELECTRÓNICO -->
            </div>
        </div>
    </section>
</body>
</html>
<script type="text/javascript">
    var urlProcesaEnvioCorreo = '@Url.Action("ProcesaEnvioCorreo", "Login")';
    var urlProcesaEnvioSms = '@Url.Action("ProcesaEnvioSms", "Login")';
    var urlVerificarCodigoGenerado = '@Url.Action("VerificarCodigoGenerado", "Login")';
    var urlContinuarLogin = '@Url.Action("ContinuarLogin", "Login")';
    var EmailDesabilitado = '@Model.OpcionCorreoDesabilitado';
    var SmsDesabilitado = '@Model.OpcionSmsDesabilitado';
    var HoraRestanteCorreo = '@Model.HoraRestanteCorreo';
    var HoraRestanteSms = '@Model.HoraRestanteSms';
    var CorreoEnmascarado = '@Model.CorreoEnmascarado';
    var CelularEnmascarado = '@Model.CelularEnmascarado';
    var emt_client_type = '@Model.IdEstadoActividad';
    var emt_country = '@Model.CodigoIso';
    var emt_email_address = '@Model.Correo';
    var emt_first_name = '@Model.PrimerNombre';
    var emt_id = '@Model.CodigoUsuario';
    var emt_type = '1';
    var emt_device = '';
    var UrlLogin = '@Url.Action("Index", "Login")';
    var EsMobile = '@Model.EsMobile';
    var VerCambioClaveMobile = '@Url.Action("Index", "MisDatos", new { area = "Mobile" })';
</script>

@Scripts.Render("~/Bundle/Js/Mixto/Login-VerificaAutenticidad")

@{
    <script type="text/javascript" src="@Url.Content("~/emt_chat/js/inject.js")"></script>
}


