@{
    ViewBag.Title = "Mis Beneficios";
}

<div class="banner_misBeneficios">
    <div class="titulo_banner">
        @if (ViewBag.CodigoISO_MB == "CR")
        {
            <h1>
                MIS&nbsp;<b>PROGRAMAS</b>
            </h1>
        }
        else
        {
            <h1>
                MIS&nbsp;<b>BENEFICIOS</b>
            </h1>
        }
        
    </div>
</div>
<div class="contenedor_infoMisBeneficios" id="contenidoProgramasBelcorp">
    
</div>
<script id="ProgramasBelcorp-template" type="text/x-handlebars-template">
    {{#each this}}
        <div class="items_misBeneficios">
            <div class="contenedor_item_img">
                <img class="item_img" src="{{urlImgBeneficios}}" alt="Alternate Text" />
                <span class="item_titulo">{{{Descripcion}}}</span>
            </div>
            <div class="contenedor_item_descripcion">
                <span>
                    {{{ DetalleDesripcion }}}
                </span>
                <a href="{{Url}}" title="Entérate más" target="_blank">ENTÉRATE MÁS</a>
            </div>
        </div>
    {{/each}}
</script>
@section scripts{
    <script type="text/javascript">
        var urlLoad = '@Url.Content("~/Content/Images/Loading.gif")';     
        var codigoISO_MB = '@ViewBag.CodigoISODL';
        var urlIncentivos = (codigoISO_MB=='CO'? '@Url.Action("Index", "Incentivos")': '@Url.Action("Index", "Bonificaciones")' );     
        var anioActual = '@DateTime.Now.Year';
        var urlS3Raiz = '@ViewBag.UrlRaizS3';
    </script>

    <script type="text/javascript" src="~/Scripts/PortalConsultoras/MisBeneficios/Index.js"></script>
}