
<div class="banner_misBeneficios">
    <div class="titulo_banner">
        <h1>MIS&nbsp;<b>BENEFICIOS</b></h1>
    </div>
</div>
<div class="contenedor_infoMisBeneficios">
    <div class="items_misBeneficios">
        <div class="contenedor_item_img">
            <img class="item_img" src="@Url.Content("~/Content/Images/Esika/programaNuevas_img.png")" alt="Alternate Text" />
            <span class="item_titulo">PROGRAMA<br /><b>NUEVAS</b></span>
        </div>
        <div class="contenedor_item_descripcion">
            <span>
                Un programa para que empieces a ganar desde el principio.
            </span>
            <a href="#" title="Entérate más">Entérate Más</a>
        </div>
    </div>
    <div class="items_misBeneficios">
        <div class="contenedor_item_img">
            <img class="item_img" src="@Url.Content("~/Content/Images/Esika/brillante2016_img.png")" alt="Alternate Text" />
            <span class="item_titulo titulo_blanco"><b>BRILLANTE</b><br />2016</span>
        </div>
        <div class="contenedor_item_descripcion">
            <span>
                Un programa para que empieces a ganar desde el principio.
            </span>
            <a href="#" title="Entérate más">Entérate Más</a>
        </div>
    </div>
    <div class="items_misBeneficios">
        <div class="contenedor_item_img">
            <img class="item_img" src="@Url.Content("~/Content/Images/Esika/incentivos_img.png")" alt="Alternate Text" />
            <span class="item_titulo"><b>INCENTIVOS</b></span>
        </div>
        <div class="contenedor_item_descripcion">
            <span>
                Un programa para que empieces a ganar desde el principio.
            </span>
            <a href="#" title="Entérate más">Entérate Más</a>
        </div>
    </div>
    <div class="items_misBeneficios">
        <div class="contenedor_item_img">
            <img class="item_img" src="@Url.Content("~/Content/Images/Esika/programaNuevas_img.png")" alt="Alternate Text" />
            <span class="item_titulo">FAMILIA<br /><b>PROTEGIDA</b></span>
        </div>
        <div class="contenedor_item_descripcion">
            <span>
                Un programa para que empieces a ganar desde el principio.
            </span>
            <a href="#" title="Entérate más">Entérate Más</a>
        </div>
    </div>
    <div class="items_misBeneficios">
        <div class="contenedor_item_img">
            <img class="item_img" src="@Url.Content("~/Content/Images/Esika/brillante2016_img.png")" alt="Alternate Text" />
            <span class="item_titulo titulo_blanco"><b>FLEXIPAGO</b></span>
        </div>
        <div class="contenedor_item_descripcion">
            <span>
                Un programa para que empieces a ganar desde el principio.
            </span>
            <a href="#" title="Entérate más">Entérate Más</a>
        </div>
    </div>
</div>
