@using System.Configuration
@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Areas.Mobile.Models
@using Portal.Consultoras.Web.Helpers
@using Portal.Consultoras.Web.Models

@model BienvenidaModel

@{
    var layout = ViewContext.MobileLayout();
    Layout = string.Format("~/Areas/Mobile/Views/Shared/{0}.cshtml", layout);
    Model.RevistaDigital = Model.PartialSectionBpt.RevistaDigital ?? new RevistaDigitalModel();
    var urlDomain = Util.GetUrlHost(Request);
    var nombreConsultora = Util.SubStrCortarNombre(Model.NombreConsultora, 10, "!");
    var tipoUsuaio = ViewBag.TipoUsuario;
    ViewBag.SourcePage = 1;

    Model.NombreConsultora = Util.SubStr(Model.NombreConsultora, 0).ToUpper();
    var nombreConsultoraSin = Util.SubStrCortarNombre(Model.NombreConsultora, 10, "");

}

@section styles{
    <style type="text/css">
        body {
            background: #FFF !important;
        }

        .bloqueOfertaDia_vistaOfertas {
            width: 100%;
            box-shadow: none;
            margin: 0;
        }
    </style>
    @Styles.Render("~/bundles/Css/Site/CcsBienvenida")
}

<div id="tutorialesMobile" style="display:none;">
    <div class="contenedor-tutorial-lbel">
        <div class="flexsliderTutorialMobile">
            <ul class="slides">
                <li><img data-src="/Content/Images/Lbel/tutorial/tuto1.png" data-lazy-seccion-tutorial="" /></li>
                <li><img data-src="/Content/Images/Lbel/tutorial/tuto2.png" data-lazy-seccion-tutorial="" /></li>
                <li><img data-src="/Content/Images/Lbel/tutorial/tuto3.png" data-lazy-seccion-tutorial="" /></li>
                <li><img data-src="/Content/Images/Lbel/tutorial/tuto4.png" data-lazy-seccion-tutorial="" /></li>
                <li><img data-src="/Content/Images/Lbel/tutorial/tuto5.png" data-lazy-seccion-tutorial="" /></li>
            </ul>
        </div>

        <div class="opciones-tutorial">
            <div class="otromomento">Ver en otro momento</div>
            <div class="cerrar">
                Cerrar
                <div class="icono_cerrar_tutorial"><img src="~/Content/Images/cerrar_04.png" /></div>
            </div>
        </div>
    </div>
    <div class="contenedor-tutorial-esika">
        <div class="flexsliderTutorialMobile">
            <ul class="slides">
                <li><img data-src="/Content/Images/Esika/tutorial/tuto1.png" data-lazy-seccion-tutorial="" /></li>
                <li><img data-src="/Content/Images/Esika/tutorial/tuto2.png" data-lazy-seccion-tutorial="" /></li>
                <li><img data-src="/Content/Images/Esika/tutorial/tuto3.png" data-lazy-seccion-tutorial="" /></li>
                <li><img data-src="/Content/Images/Esika/tutorial/tuto4.png" data-lazy-seccion-tutorial="" /></li>
                <li><img data-src="/Content/Images/Esika/tutorial/tuto5.png" data-lazy-seccion-tutorial="" /></li>
                @if (Model.CatalogoPersonalizadoMobile != 0 && Model.EsCatalogoPersonalizadoZonaValida)
                {
                    <li><img data-src="/Content/Images/Esika/Tutorial/tuto6.jpg" data-lazy-seccion-tutorial="" /></li>
                }
            </ul>
        </div>

        <div class="opciones-tutorial">
            <div class="otromomento">Ver en otro momento</div>
            <div class="cerrar">
                Cerrar
                <div class="icono_cerrar_tutorial"><img src="~/Content/Images/cerrar_04.png" /></div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper_resumen_mobile">
    <div class="content_320" style="text-align:center; padding-bottom: 7px;">
        <div class="content_foto">
            @if (!string.IsNullOrEmpty(ViewBag.FotoPerfil))
            {
                <a href="@Url.Action("Index", "MiPerfil")"  id="hrefActualizarDatos" title="Actualizar datos" class="subir_foto_mobile default-background"></a>
                <div class="tooltip_info_revision_correo" style="display:none;">
                    <div class="icono_info_alerta"></div>
                    <div class="tooltip_texto">
                        <p>
                            Ingresa y actualiza tu correo y/o celular para poder contactarnos contigo.
                        </p>
                    </div>
                </div>
                <div class="foto_usuaria_mobile">
                    @if (ViewBag.FotoPerfilAncha)
                    {
                        <img id="imgFotoUsuario" src="@ViewBag.FotoPerfil" alt="" style="width:auto; height:100%;" />
                    }
                    else
                    {
                        <img id="imgFotoUsuario" src="@ViewBag.FotoPerfil" alt="" style="width:100%; height:auto;" />
                    }
                </div>
            }
        </div>
        <div class="content_resumen_dato_mobile" style="text-align:left">
            @if (!string.IsNullOrEmpty(ViewBag.MensajeAniversario))
            {
                <div class="nombre_consultora_2018 color_cincuenta_anios_belcorp">
                    ¡Feliz Aniversario @nombreConsultora
                </div>
            }
            else if (!string.IsNullOrEmpty(ViewBag.MensajeCumpleanos))
            {

                <div class="nombre_consultora_2018 color_cincuenta_anios_belcorp">
                    ¡Feliz Cumpleaños @nombreConsultora
                </div>
            }
            else if (!string.IsNullOrEmpty(ViewBag.SaludoFestivo))
            {

                <div class="nombre_consultora_2018 color_cincuenta_anios_belcorp">
                    ¡@ViewBag.SaludoFestivo @nombreConsultora
                </div>
            }
            else if (Model.RevistaDigital.TieneRDC && Model.RevistaDigital.EsSuscrita && !Model.RevistaDigital.EsActiva)
            {
                <div class="nombre_consultora_2018 color_cincuenta_anios_belcorp">
                    ¡Bienvenida al <a href="javascript:RedireccionarContenedorComprar(@Constantes.OrigenPedidoWeb.RevistaDigitalMobileHomeSeccion, '@Constantes.ConfiguracionPais.RevistaDigital')"> Club Gana+</a> @nombreConsultora
                </div>
            }
            else if (Model.RevistaDigital.TieneRDC && Model.RevistaDigital.EsSuscrita && Model.RevistaDigital.EsActiva)
            {
                string CampaniaEfectiva = Model.RevistaDigital.SuscripcionModel.CampaniaEfectiva.ToString();
                string CampaniaActual = String.Concat(DateTime.Now.Year, (Model.RevistaDigital.CampaniaActual));

                if (CampaniaEfectiva.Equals(CampaniaActual))
                {
                    <div class="nombre_consultora_2018 color_cincuenta_anios_belcorp">
                        ¡Bienvenida al <a href="javascript:RedireccionarContenedorComprar(@Constantes.OrigenPedidoWeb.RevistaDigitalMobileHomeSeccion, '@Constantes.ConfiguracionPais.RevistaDigital')"> Club Gana+</a> @nombreConsultora
                    </div>
                }
                else
                {
                    <div class="nombre_consultora_2018 color_cincuenta_anios_belcorp">
                        ¡Hola @nombreConsultora
                    </div>
                }

            }
            else
            {
                <div class="nombre_consultora_2018 color_cincuenta_anios_belcorp">
                    ¡Hola @nombreConsultora
                </div>
            }


            @if (Model.PortalLideres && Model.Lider == 1)
            {
                <a href="@Url.Action("Index", "Lider", new { area = "" })" role="menu" region="Medio" parent="Socias empresarias" id="lnk-med-sociasempresarias" class="enlace_sociasEmpresarias" title="Ir A Socias Empresarias">
                    @if (Model.NombrePais == "Venezuela")
                    {
                        <span class="btn_seguirp_mobile"></span><span class="texto_enlace_socias">&nbsp;Ir a Socias Empresarias</span>
                    }
                    else
                    {
                        <span class="btn_seguirp_mobile"></span><span class="texto_enlace_socias">&nbsp;Ir a Socias Empresarias</span>
                    }
                </a>
            }

            <hr class="clear" />
            <div class="info_cam_mobile">
                <span><b>C@(Model.NumeroCampania) @(ViewBag.MensajeFechaPromesa)</b></span>
            </div>
            <a role="link" region="Central" parent="Seguimiento a tu Pedido" title="Seguimiento a tu Pedido" class="btn_seguirp_mobile seguimientoPedido2" href="/Mobile/SeguimientoPedido">SIGUE TU PEDIDO</a>
            @if (ViewBag.IndicadorPermisoFIC == 1)
            {
                <a href="@Url.Action("Index", "PedidoFIC", new { area = "Mobile" })" role="menu" region="Medio" parent="Ingreso Pedido Fic" id="lnk-ingresa-pedido-fic" class="enlace_ingresa_tu_pedido_fic text-uppercase" title="Ingresa tu pedido FIC">
                    <span class="icono_flecha_ir_ingreso_pedido_fic"></span>
                    Ingresa tu pedido Fic
                </a>
            }
        </div>
        <hr class="clear" />
    </div>
    <div class="linea_separadora_mobile" style="margin-top: 16px; "></div>
</div>
@if (ViewBag.CantPedidosPendientes > 0)
{
    <div class="content_320" style="padding-top:0">
        <div class="pestana_lbel"></div>
        <div class="triangulo_home"></div>
        <div style="float:left; max-width:185px;">
            <div class="titulo_tooltip_p">Tienes @ViewBag.CantPedidosPendientes pedido(s) pendiente(s) del <span>App de Catálogos</span></div>
            <div class="hora_tooltip_p">Te quedan <b>@ViewBag.TeQuedanConsultoraOnline</b> horas</div>
        </div>
        <div style="float:right;">
            <a class="btn_revisalo_pendiente" href="@Url.Action("Pendientes", "ConsultoraOnline")">REVÍSALO</a>
        </div>
        <hr class="clear">
    </div>
}

<div class="fondo_faf5e6" style="display: none">
    @if (ViewBag.CantPedidosPendientes <= 0)
    {
        <div class="pestana_lbel"></div>
        <div class="triangulo_home"></div>
    }

    @if (ViewBag.CantPedidosPendientes > 0)
    {
        <br />
    }
    @(Html.Raw(ViewBag.MensajeCierreCampania))
    <br />
    <a role="link" region="Central" parent="Seguimiento a tu Pedido" title="Seguimiento a tu Pedido"
       class="btn_seguirp_mobile seguimientoPedido" href="@Url.Action("Index", "SeguimientoPedido", new { area = "Mobile" })">SEGUIMIENTO A TU PEDIDO</a>

    <a role="link" region="Central" parent="Mira el Video de Bienvenida" title="Mira el Video de Bienvenida" class="btn_seguirp_mobile ver_video_introductorio" href="javascript:;">MIRA EL VIDEO DE BIENVENIDA</a>

</div>

<div class="wrapper_resumen_mobile">
    <div class="content_320">
        <div class="item1_mobile">
            @{
                string cabezaEscala = null, pieEscala = null;
                if (Model.CodigoISO == Constantes.CodigosISOPais.Peru ||
                    Model.CodigoISO == Constantes.CodigosISOPais.Colombia ||
                    Model.CodigoISO == Constantes.CodigosISOPais.Ecuador ||
                    Model.CodigoISO == Constantes.CodigosISOPais.Bolivia ||
                    Model.CodigoISO == Constantes.CodigosISOPais.Guatemala ||
                    Model.CodigoISO == Constantes.CodigosISOPais.Salvador ||
                    Model.CodigoISO == Constantes.CodigosISOPais.Dominicana ||
                    Model.CodigoISO == Constantes.CodigosISOPais.PuertoRico)
                {
                    cabezaEscala = "Ganancia estimada total*";
                    pieEscala = "*Ganancia Total = Ahorro estimado proveniente de tus descuentos por compras en catálogo + ahorro estimado proveniente de compras en Guía de Negocio y Otros.";
                }
                else if (Model.CodigoISO == Constantes.CodigosISOPais.Chile)
                {
                    cabezaEscala = "Comisión y ahorro total*";
                    pieEscala = "*Comisión = Ganancia estimada proveniente de tus descuentos por compras en catálogo; <br>Ahorro = Ahorro estimado proveniente de compras de Guía de Negocio y Otros.";
                }
                else if (Model.CodigoISO == Constantes.CodigosISOPais.Mexico || Model.CodigoISO == Constantes.CodigosISOPais.Panama)
                {
                    cabezaEscala = "Ganancia estimada total*";
                    pieEscala = "*Ganancia Total = Ahorro estimado proveniente de tus descuentos por compras en catálogo + ahorro estimado proveniente de compras en Revista y Otros.";
                }
                else if (Model.CodigoISO == Constantes.CodigosISOPais.CostaRica || Model.CodigoISO == Constantes.CodigosISOPais.Venezuela)
                {
                    cabezaEscala = "Oportunidad de ahorro total";
                    pieEscala = "";
                }
            }
            <div class="icono_item"></div>
            <div class="titulo_item_mobile" style="text-transform: uppercase;">@(cabezaEscala)</div>
            <div class="monto_ganancia_mobile">
                @Model.Simbolo
                <span data-ganancia="">
                    @Util.DecimalToStringFormat(Convert.ToDecimal(Model.MontoAhorroCatalogo + Model.MontoAhorroRevista), Model.CodigoISO)
                </span>
            </div>
            <div role="link" region="Central" parent="Ganancia Estimada Total" title="Pedido ingresado" class="texto_inferior" style="text-decoration:underline;"><a href="@Url.Action("Index", "Pedido")">Pedido ingresado: @Model.Simbolo <span class="js-span-pedidoingresado">@Util.DecimalToStringFormat(Model.MontoPedido, Model.CodigoISO)</span></a></div>

        </div>
    </div>
    <div class="linea_separadora_mobile" style="margin-top:16px"></div>
    <div class="content_320">
        <div class="item1_mobile">
            <div class="icono_item item_2_home"></div>
            <div class="titulo_item_mobile">MI ESTADO DE CUENTA:</div>
            <div class="texto_inferior"> Mi deuda actual es:</div>
            <div class="monto_ganancia_mobile js-div-deuda">
                @Model.Simbolo <span>@Util.DecimalToStringFormat(Model.MontoDeuda, Model.CodigoISO)</span>
            </div>
            <div class="texto_inferior js-div-vencimiento">Vencimiento: <span>@Model.FechaVencimiento</span></div>
            @if (Model.TienePagoEnLinea && Model.MostrarPagoEnLinea)
            {
                <a role="link" region="Central" parent="Mi Estado de Cuenta" title="Paga en línea" class="btn_paga_online_mobile" href="@Url.Action("Index","PagoEnLinea")">
                    <div class="texto_btn_pago_en_linea">
                        <span>PAGA EN LÍNEA</span>
                        @*<span>con Crédito Visa</span>*@
                    </div>
                </a>
                <p class="info_lugares_de_pago">
                    Lugares de pago <a href="" title="Lugares de pago">aquí</a>
                </p>
            }
            else
            {
                if (Model.PaisID == 3) //Chile
                {
                    <a role="link" region="Central" parent="Mi Estado de Cuenta" title="Paga en línea" class="btn_paga_online_mobile" href="javascript:;" onclick="RedirectPagaEnLineaAnalytics();"> PAGA EN L&Iacute;NEA</a>
                }
                else if (Model.PaisID == 4) //Colombia
                {
                    <a role="link" region="Central" parent="Mi Estado de Cuenta" title="Paga en línea" class="btn_paga_online_mobile" href="https://www.zonapagos.com/t_belstar/pagos.asp" target="_blank"> PAGA EN L&Iacute;NEA</a>
                }
                else if (Model.PaisID == 12) //Puerto Rico
                {
                    <a role="link" region="Central" parent="Mi Estado de Cuenta" title="Paga en línea" class="btn_paga_online_mobile" href="@Url.Action("Index", "Paypal", new { area = "Mobile" })"> PAGA EN L&Iacute;NEA</a>
                }
                else if (Model.PaisID == 6 || Model.PaisID == 11)
                {
                }
            }
        </div>
    </div>
    <div class="linea_separadora_mobile" style="margin-top:16px"></div>
</div>

<div class="wrapper_resumen_mobile">
    <div class="comartir_home_mobile">
        TUS CATÁLOGOS C@(Model.NumeroCampania)
        <a role="link" region="Central" parent="Comparte tus Catálogos" title="Comparte tus Catálogos"
           class="btn_compartelos" href="@Url.Action("Index", "Catalogo", new { area = "Mobile" })">COMPÁRTELOS</a>
    </div>
    <a role="link" region="Central" parent="Comparte tus Catálogos" title="Comparte tus Catálogos"
       class="btn_compartelos" href="@Url.Action("Index", "Catalogo", new { area = "Mobile" })">
        <div class="imagen_catalogo catalogo_esika"></div>
    </a>
    <hr class="clear" />
    <div class="linea_separadora_mobile"></div>
</div>
@if (Model.TieneMasVendidos == 1)
{
    Html.RenderPartial("MasVendidos");
}

<div id="divListaEstrategias" style="display: none; padding-top: 22px;">
    @Html.Partial("~/Areas/Mobile/Views/Bienvenida/_PartialSectionBpt.cshtml", Model.PartialSectionBpt)
</div>

@if (Model.ActivacionAppCatalogoWhastUp == 1)
{
    <div class="wrapper_resumen_mobile">
        <div class="comartir_home_mobile">
            HAZ CRECER TU NEGOCIO CON<br />
            EL APP DE CATÁLOGOS
            <a role="link" region="Central" parent="App de Catálogos" title="Entérate Más"
               class="btn_compartelos" href="@Url.Action("EnterateMas", "Catalogo", new { area = "Mobile" })">ENTÉRATE MÁS</a>

            @if (Model.IsConsultoraOnline != -1)
            {
                string UsuarioTipo = "";

                switch (Model.CodigoISO)
                {
                    case "PE":
                        UsuarioTipo = "código";
                        break;
                    case "MX":
                        UsuarioTipo = "código";
                        break;
                    case "CR":
                        UsuarioTipo = "código";
                        break;
                    case "BO":
                        UsuarioTipo = "código";
                        break;
                    case "CO":
                        UsuarioTipo = "cédula";
                        break;
                    case "EC":
                        UsuarioTipo = "cédula";
                        break;
                    case "CL":
                        UsuarioTipo = "RUT";
                        break;
                }

                string urlWhatsApp = "";
                if (System.Web.HttpContext.Current.Request.UserAgent != null)
                {
                    var request = HttpContext.Current.Request;
                    var urlBase = request.Url.Scheme + "://" + request.Url.Authority + "/AppDeCatalogos.html";

                    urlWhatsApp = "whatsapp://send?text=Descarga%20el%20App%20de%20Catálogos%20y%20búscame%20como%20tu%20Consultora.%20Mi%20" + UsuarioTipo + "%20es " + Model.CodigoUsuario + ".%20" + urlBase;
                }
                <span class="texto_ws">Compartir el app por</span> <a role="link" region="Central" parent="App de Catálogos" title="Whatsapp"
                                                                      id="btnCompartirWhatsApp" class="btn_comparte_ws" href="@(urlWhatsApp)" data-action="share/whatsapp/share"><b>Whatsapp</b></a>
            }
        </div>
        <a role="link" region="Central" parent="App de Catálogos" title="Entérate Más"
           class="btn_compartelos" href="@Url.Action("EnterateMas", "Catalogo", new { area = "Mobile" })">
            <div class="imagen_catalogo celular_esika"><img data-src="@Model.UrlImagenAppCatalogo" alt="-" data-lazy-seccion-banner-home="" /></div>
        </a>
        <hr class="clear" />
        <div class="linea_separadora_mobile"></div>
    </div>
}

<div class="wrapper_resumen_mobile">
    <div id="div-linea-OPT" class="linea_separadora_mobile" style="display: none;"></div>
    @if (Model.ShowRoomMostrarLista == 0)
    {
        <div class="nueva_seccion_fav" onclick="mostrarCatalogoPersonalizado();" style="cursor: pointer;">
            <div class="content_banner_fav">
                <div class="content_imagen_banner_fav">
                    <img data-src="@ViewBag.UrlImagenFAVMobile" alt="favoritos" data-lazy-seccion-banner-home="" />
                </div>
                <div class="texto_fav_banner">
                    @ViewBag.NombreConsultoraFAV, estos son los
                    <span class="favoritos_txt">FAVORITOS</span>
                    <span class="texto_2_fav">DE TUS CLIENTES</span>
                    <a class="btn_compralos_banner_fav" href="javascript:">CÓMPRALOS</a>
                </div>
            </div>
        </div>
    }


    <div class="linea_separadora_mobile" style="margin-top:-1px;"></div>
    <div class="comartir_home_mobile">
        APRENDE A VENDER MÁS
        @if (tipoUsuaio == 2)
        {
            <a role="link" region="Central" parent="Entra A Mi Academia" title="Entra a Mi Academia"
               class="btn_compartelos" href="#" onclick="return messageInfoPostulante();">ENTRA A “MI ACADEMIA”</a>
        }
        else
        {
            <a role="link" region="Central" parent="Entra A Mi Academia" title="Entra a Mi Academia"
               class="btn_compartelos" href="@Url.Action("Index", "MiAcademia", new { area = "" })">ENTRA A “MI ACADEMIA”</a>
        }
    </div>
    <a role="link" region="Central" parent="Entra A Mi Academia" title="Entra a Mi Academia" class="btn_compartelos" href="@Url.Action("Index", "MiAcademia", new { area = "" })">
        <div class="imagen_catalogo video_esika">
            <img data-src="@Model.UrlImagenMiAcademia" alt="-" data-lazy-seccion-banner-home="" />
        </div>
    </a>
    <hr class="clear" />
    <div class="linea_separadora_mobile"></div>
    <div class="comartir_home_mobile">
        @ViewBag.TituloLiqWeb.ToUpper()
        <a role="link" region="Central" parent="Oferta Liquidacion" title="Compártelos"
            class="btn_compartelos" href="@Url.Action("Index", "OfertaLiquidacion", new { area = "Mobile" })">¡ENTRA Y APROVECHA!</a>
    </div>
    <div class="imagen_catalogo liquidacion_esika">
        <a href="@Url.Action("Index", "OfertaLiquidacion", new { area = "Mobile" })">
            <img data-src="@Model.UrlImagenLiquidaciones" alt="-" data-lazy-seccion-banner-home="" />
        </a>
    </div>
    <hr class="clear" />
    <div class="linea_separadora_mobile mg_bottom"></div>

    <div id="dvExpoOferta" style="display: none;">
        <div class="comartir_home_mobile">
            EXPOFERTAS
            <a role="link"
               region="Central"
               title="EXPOFERTAS"
               target="_blank"
               class="btn_compartelos" href="#"></a>
        </div>
        <div class="imagen_catalogo liquidacion_esika">
            <a href="#" target="_blank">
                <img alt="Expo Oferta"
                     data-lazy-seccion-banner-home=""
                     style="margin-top:20px" />
            </a>
        </div>
        <hr class="clear" />
        <div class="linea_separadora_mobile mg_bottom"></div>
    </div>

</div>
</div>
<input type="hidden" id="hdTipoEstrategiaID" value="0" />
<input type="hidden" id="hdPosicion" value="0" />
<div id="divVistaPrevia" class="Content_modal_ZE" style="display: none; background-color: #fff; overflow: hidden;">
    <div class="Content_modal_ZE texto-centrado" style="overflow: hidden;">
        <div style="position: absolute; width: 100%;">
            <img id="imgTipoOfertaEdit" style="float: left;" src="">
        </div>
        <div style="position: absolute; width: 100%;">
            <img id="imgEstrellaEdit" style="float:left; margin-top:10px; width:23px; height:23px; margin-left:10px" src="">
        </div>
        <img id="imgZonaEstrategiaEdit" style="height: 200px; margin: 5px;" src="" alt="Imagen Producto" />
    </div>
    <br />
    <div class="zona0Edit pedidos_datos_titulo"></div>
    <div class="zona1Edit pedidos_datos_info texto-centrado" style="width:100%"></div>
    <div class="zona2Edit texto-centrado"></div>
    <div class="zona3Edit_1 pedidos_para_ti texto-centrado"></div>
    <div class="zona3Edit_2 liquidacion_precio texto-centrado"></div>
    <br />
    <ul id="OfertasResultados" class="listaOfertas"></ul>
    <div class="zona4Edit zona_estrategia_4 texto-centrado"></div>
    <div class="zonaCantidad texto-centrado">
        <table style="margin: 0 auto;" cellpadding="10" cellspacing="10">
            <tr>
                <td style="vertical-align: middle;"> Unidades: &nbsp;&nbsp;</td>
                <td>
                    <div class="liquidacion_rango_home" data-cantidad-contenedor="">
                        <input type="tel" value="1" size="2" maxlength="2" data-input="cantidad" class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" name="txtCantidadZE" id="txtCantidadZE" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" />
                        <div class="liquidacion_rango_right_pedido">
                            <a class="mas" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)"><img src="" alt="" /></a>
                            <a class="menos" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)"><img src="" alt="" /></a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="tallaColor">
                <td style="vertical-align: middle;"> Talla / Color: &nbsp;&nbsp;</td>
                <td>
                    <select id="ddlTallaColor" style="width: 130px; height: 30px; border: 1px solid #cccccc;"></select>
                </td>
            </tr>
        </table>
    </div>
</div>
@if (Model.ShowRoomMostrarLista == 0)
{
    <input type="hidden" id="flagCatalogoPersonalizado" />
}
<div class="disclaimer_b">@(pieEscala)</div>

<div class="contenedor_fondo_popup" id="popup_subirImagenPerfil" style="display: none;">
    <div class="popup_img_perfil">
        <div class="btn_cerrar_actualizarMisDatos">
            <a href="javascript;" onclick="return $('#popup_subirImagenPerfil').hide();" title="Cerrar" class="cerrar_tutorial">
                <img src="@Url.Content("~/Content/Images/btn_cerrar_popup.svg")" alt="Cerrar" />
                <span class="texto_btn_cerrar">CERRAR</span>
            </a>
        </div>
        <h1>MI<b> FOTO</b></h1>
        <div class="imgPerfil">
            <img src="@Url.Content("~/Content/Images/Esika/user.jpg")" alt="">
        </div>
        <div class="btn_acciones">
            <button class="boton_cancelarImagen" type="button" name="btncancelarimg">
                TOMAR FOTO
            </button>
            <button class="boton_guardarImagen" type="button" name="btnguardarimg">
                SUBIR FOTO
            </button>
        </div>
    </div>
</div>

<div id="PopUpProcesoCargaFoto" class="CompartirCorreoPop contenedor_fondo_popup" style="display:none;">
    <div class="content_foto_cargada">
        <div class="btn_cerrar_actualizarMisDatos">
            <a href="javascript;" onclick="return $('#PopUpProcesoCargaFoto').hide();" title="Cerrar" class="cerrar_tutorial">
                <img src="@Url.Content("~/Content/Images/btn_cerrar_popup.svg")" alt="Cerrar" />
                <span class="texto_btn_cerrar">CERRAR</span>
            </a>
        </div>
        <div class="titulo_pop_foto">MI<b> FOTO</b></div>
        <div class="content_foto_usuario contenedorBarraImagenPerfil">
            <div class="barra_contenedor">
                <div class="barra_carga"></div>
            </div>
            <span class="texto_estadoCarga">subiendo...</span>
        </div>
        <a class="btn_tomar_foto">CANCELAR</a>
    </div>
</div>

<!--FIN-->
<!-- POPUP IMAGEN PERFIL PROCESO RECORTE -->

<div class="contenedor_fondo_popup" id="popup_imagenPerfilCorte" style="display: none;">
    <div class="popup_img_perfil">
        <div class="btn_cerrar_actualizarMisDatos">
            <a href="javascript;" onclick="return $('#popup_imagenPerfilCorte').hide();" title="Cerrar" class="cerrar_tutorial">
                <img src="@Url.Content("~/Content/Images/btn_cerrar_popup.svg")" alt="Cerrar" />
                <span class="texto_btn_cerrar">CERRAR</span>
            </a>
        </div>
        <h1>MI<b> FOTO</b></h1>
        <div class="imgPerfil">

        </div>
        <div class="btn_acciones">
            <button class="boton_cancelarImagen" type="button" name="btncancelarimg">
                CANCELAR
            </button>
            <button class="boton_guardarImagen" type="button" name="btnguardarimg">
                GUARDAR
            </button>
        </div>
    </div>
</div>
<!-- POPUP ACEPTACIÓN DE CONTRATO (COLOMBIA) -->
<div id="fondoPopup_aceptacionTerminosYCondicionesContrato" class="contenedor_fondo_popup" style="display:none;">
    <div id="popupAceptacionContrato" class="popup_aceptacionTerminosYCondicionesContrato">
        <div class="contenido_popUp">
            <div class="icono_contrato"></div>
            <h1 class="titulo_aceptacionTerminosYCondicionesContrato">
                TÉRMINOS Y CONDICIONES DE USO DE <b>SOMOSBELCORP.COM</b>
            </h1>
            <p class="mensaje_popUp_aceptacionTerminosYCondicionesContrato">
                <b>Querida @(nombreConsultoraSin),</b>
            </p>
            <p class="mensaje_popUp_aceptacionTerminosYCondicionesContrato">
                Al dar click en el botón, aceptas los términos y condiciones de la Solicitud de Crédito y Autorización de consulta y reporte de datos financieros.
            </p>
            <a href="javascript:;" onclick="return DownloadAttachPDF();" class="enlace_detalleTerminosYCondicionesContrato text-uppercase" title="Revisar términos y condiciones de uso">
                >  CONOCE EL DETALLE AQUÍ
            </a>
            <button type="button" name="btn_aceptarTerminosYCondicionesContrato" class="btn_aceptarTerminosYCondicionesContrato" onclick="return AceptarContrato();">
                <b>¡ACEPTO!</b> <br /> QUIERO EMPEZAR A USARLO
            </button>
        </div>
    </div>
</div>
<!-- FIN - POPUP ACEPTACIÓN DE CONTRATO (COLOMBIA) -->
<!-- POPUP DEMANDA ANTICIPADA -->
<div class="contenedor_fondo_popup" id="fondoComunPopUp" style="display: none;">
    <div class="popup_demandaAnticipada" id="popupDemandaAnticipada" style="display: none;">
        <div class="contenido_popUp">
            <h1 class="titulo_demandaAnticipada">
                ¡PASA TU PEDIDO POR<br /><b>DEMANDA</b>
                <b>ANTICIPADA&nbsp;</b><br />Y RECIBE ESTOS BENEFICIOS
            </h1>
            <div class="descripcion_demanda">
                <div class="demanda_img_regalo">
                    <img src="@Url.Content("~/Content/Images/Esika/demanda_anticipada_regalo_mobile_img.png")" alt="Demanda Anticipada Imagen" />
                </div>
                <div class="demanda_promo">
                    <span>1 Producto de regalo* + Flete Gratis</span>
                    <span>* Ver regalos en Belcorpnoticias</span>
                </div>
            </div>
            <div class="descripcion_demanda">
                <h6 class="demanda_condiciones_subtitulo">Condiciones:</h6>
                <div class="demanda_descripcion_texto">
                    <span class="demanda_img_check">
                        <img src="@Url.Content("~/Content/Images/icono_check.svg")" alt="Icono Check" />
                    </span>
                    <span class="demanda_mensajes">
                        Cumplir con el monto mínimo(no cuenta expoferta) y máximo(nuevas).
                    </span>
                </div>
                <div class="demanda_descripcion_texto">
                    <span class="demanda_img_check">
                        <img src="@Url.Content("~/Content/Images/icono_check.svg")" alt="Icono Check" />
                    </span>
                    <span class="demanda_mensajes">
                        Pasar tu pedido hasta el<span id="fechaHasta" style="display: inline;"></span>
                    </span>
                </div>
                <button type="button" name="btn_participaAhora" class="btn_participaAhora" onclick="return AceptarDemandaAnticipada();">
                    PARTICIPA AHORA
                </button>
                <div class="descripcion_tiempoPasePedido">
                    <span class="icono_notaDemanda"></span>
                    <span class="texto_tiempo_pasePedido">
                        Si aceptas participar no podrás modificar tu pedido luego del<span id="fechaLuego"></span>
                    </span>
                </div>
                <div class="enlace_noGracias">
                    <a href="javascript:;" onclick="return CancelarDemandaAnticipada();">
                        NO GRACIAS
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="btn_agregarPedido boton_cincuenta_anios_belcorp">
    <form>
        <input type="button" onclick="location.href = '@Url.Action("Index", "Pedido", new { area = "Mobile" })';" name="btnAgregarPedido" value="INGRESA TU PEDIDO" />
    </form>
</div>

<div id="VideoIntroductorio" class="MensajeAlertaMobile" style="display:none">
    <div class="content_video_introductorio">
        <a class="cerrar_video" href="javascript:;" id="cerrarVideoIntroductorio"><img src="@Url.Content("~/Content/Images/btn_cerrar_popup.svg")" alt="Icono Check" /></a>

        <div id="ytMobileBienvenidaIndex"
             data-youtube="{ width:'100%', enablejsapi:1, playerVars:{rel:0} }"
             class="yt-video"></div>

    </div>
</div>
@if (Model.RevistaDigital.TieneRDS == true)
{
    @Html.Partial("~/Areas/Mobile/Views/RevistaDigital/template-popup-suscripcion.cshtml")
}

@Html.Partial("~/Areas/Mobile/Views/EstrategiaPersonalizada/template-producto-landing.cshtml", new ViewDataDictionary { { "TieneBotones", true } })

<div class="modal fade" id="PopShowroom">
    <div class="modal-dialog modal-alert" style="width:265px; margin:0 auto; margin-top:50px !important;">
        <div class="modal-content" style="float: right;width: 225px;padding:0;">
            <div class="modal-body" style="padding: 0; min-height: 384px;">
                <div id="btnCerrarPopShowroom" class="CerrarPopMobile"></div>
                <div class="pestana_pop_m">
                    <img id="imgPestaniaShowRoom" alt="imgPestaniaShowRoom" style="max-width: 100% !important;" />
                </div>
                <div class="datos_pop_m">
                    <div class="nombre_separado_m">
                        <span id="spnShowRoomNombreConsultora">
                            María
                        </span>
                    </div>
                    <div class="titulo_nombre_pop_m" style="width:21px">
                        <img src="@Url.Content("~/Content/Images/mobile/img-showroom/deco_nombre.png")" alt="">
                    </div>
                    <div class="titulo_nombre_pop_m" style="width:131px">te invitamos a la</div>
                    <div class="titulo_nombre_pop_m" style="width:21px"><img src="@Url.Content("~/Content/Images/mobile/img-showroom/deco_nombre.png")" alt=""></div>
                    <div class="evento_tema_hoy_m">
                        <img id="imgPreventaDigital" alt="imgPreventaDigital" style="max-width: 94% !important;" />
                    </div>
                    <div class="titulo_padre_m"><span id="spnShowRoomEvento"> DÍA DEL PADRE</span></div>
                    <div class="fecha_promocion_m">Del<span id="spnShowRoomDiaInicio"> XX</span> al<span id="spnShowRoomDiaFin"> XX</span> de<span id="spnShowRoomMes"> Junio</span></div>
                    <div class="img_pop_m"><img src="@Url.Content("~/Content/Images/mobile/img-showroom/exclusiva.png")" alt="-" /></div>
                    <div class="boton_cerrar_mobile"><a href="javascript:;" id="lnkConoceMasShowRoomPopup" target="_blank">CONOCE MÁS AQUÍ</a></div>
                    <div class="boton_desaparecer_pop"><a href="javascript:;" id="lnkNoMostrarPopup">No volver a ver éste comunicado</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="PopShowroomHoy">
    <div class="modal-dialog modal-alert" style="width:265px; margin:0 auto; margin-top:50px !important;">
        <div class="modal-content" style="float: right;width: 225px;padding:0;">

            <div class="modal-body" style="padding: 0; min-height: 420px;">
                <div id="btnCerrarPopShowroomHoy" class="CerrarPopMobile"></div>
                <div class="pestana_pop_m">
                    <img id="imgPestaniaShowRoomHoy" alt="imgPestaniaShowRoomHoy" style="max-width: 100% !important;" />
                </div>
                <div class="datos_pop_m">
                    <div class="hoy_mobile"><img src="@Url.Content("~/Content/Images/mobile/img-showroom/Showroom-hoy.gif")" alt="-" /></div>
                    <div class="evento_tema_hoy_m">
                        <img id="imgPreventaDigitalHoy" alt="imgPreventaDigitalHoy" style="max-width: 94% !important;" />
                    </div>
                    <div class="titulo_padre_m"><span id="spnShowRoomEventoHoy"> DÍA DEL PADRE</span></div>
                    <div class="img_pop_m" style="width: 210px; margin-left: -13px;">
                        <img id="imgVentaSetPopupHoy" alt="imgVentaSetPopupHoy" />
                    </div>
                    <hr class="clear" />
                    <div class="boton_cerrar_mobile"><a href="javascript:;" id="lnkConoceMasShowRoomPopupHoy">VER OFERTAS AQUÍ</a></div>
                    <div class="boton_desaparecer_pop"><a href="javascript:;" id="lnkNoMostrarPopupHoy">No volver a ver éste comunicado</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="PopMobile1" id="popupDetalleCarousel_lanzamiento" data-popup-main=""></div>

@{
    if (!Model.ConsultoraNuevaBannerAppMostrar)
    {
        @Html.Partial("~/Views/Shared/Cupon/popupCuponGanaMobile.cshtml")
        @Html.Partial("~/Views/Shared/Cupon/popupCuponConfirmarMobile.cshtml")
        @Html.Partial("~/Views/Shared/Cupon/popupCuponGanasteMobile.cshtml")
    }
}

<div class="contenedor_popup_comunicado modal">
    <div class="popup_comunicado">
        <div class="btn_cerrar">
            <a href="javascript:;">
                <img src="@Url.Content("~/Content/Images/btn_cerrar_popup.svg")" alt="Cerrar" />
                <span>CERRAR</span>
            </a>
        </div>
        <div class="detalle_popup_comunicado">
        </div>
        <div class="pie_popup_comunicado">
            <div style="display:table">
                <div style="display:table-row">
                    <div style="display:table-cell">
                        <input type="checkbox" /><div class="check"></div>
                    </div>
                    <div class="check_text">
                        No volver a mostrar este comunicado
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--FIN-->
<!-- POPUP VERIFICACIÓN DE CORREO ELECTRÓNICO PENDIENTE  -->

<div class="contenedor_fondo_popup" id="popupVerificacionCorreoElectronicoPendiente" style="display:none;">
    <div class="popup_correo_pendiente_de_confirmar w-100 text-center">
        <div class="btn_cerrar_actualizarMisDatos">
            <a id="btnCerrarPopupCorreo" title="Cerrar" class="cerrar_tutorial">
                <img src="@Url.Content("~/Content/Images/btn_cerrar_popup.svg")" alt="Cerrar" />
                <span class="texto_btn_cerrar">CERRAR</span>
            </a>
        </div>
        <div class="contenido_popUp">
            <div class="mb-40">
                <h1 class="titulo_correo_pendiente_confirmacion text-uppercase">
                    Tienes pendiente<br /><span class="text-bold">confirmar tu correo para<br />actualizarlo</span>
                </h1>
                <div class="icono_correo_sobre"></div>
                <p class="w-100 envio_instrucciones_info">
                    <span class="w-100">Te hemos enviado las instrucciones a:</span>
                    <span class="w-100 text-bold" id="spnEmail">valeria.tarazona@gmail.com</span>
                </p>
                <p class="w-100 envio_instrucciones_info">
                    @*<span class="w-100">¿Aún no recibes nuestro correo?</span>*@
                    <a href="@Url.Action("Index", "MiPerfil", new { area = "Mobile" })" title="Ir A Mis Datos" class="enlace_reenviar_instrucciones w-100 text-uppercase text-bold">
                        Ir a mis datos
                    </a>
                </p>
                @*<p class="w-100 cambiar_correo_info">
                        <span>¿Este no es tu correo?</span>
                        <a href="#" title="Cambia tu correo" class="enlace_cambiar_correo text-bold">Cambia tu correo</a>
                    </p>*@
            </div>
            @*<a href="#" class="enlace_no_cambiar_correo" title="Ya no deseo actualizar mi correo">Ya no deseo actualizar mi correo</a>*@
        </div>
    </div>
</div>

<!-- FIN - POPUP VERIFICACIÓN DE CORREO ELECTRÓNICO PENDIENTE -->

@section scripts{
    <script type="text/javascript">
        var urlValidarStockEstrategia = '@Url.Action("ValidarStockEstrategia", "Pedido", new { area = "" })';
        var urlPedidoInsertZe = '@Url.Action("AgregarProductoZE", "Pedido", new { area = "" })';
        var urlReservadoOEnHorarioRestringido = '@Url.Action("ReservadoOEnHorarioRestringido", "Pedido", new { area = "" })';
        var ViewBagRutaChile = '@Model.RutaChile';
        var ViewBagUrlChileEncriptada = '@Model.UrlChileEncriptada';
        var viewBagPaisID = '@Model.PaisID';
        var urlJSONSetUsuarioTutorial = '@Url.Action("JSONSetUsuarioTutorial", "Bienvenida", new { area = "Mobile" })';
        var urlLoad = '@Url.Content("~/Content/Images/Loading.gif")';
        var contadorFondoPopUp = 0;
        var viewBagVioTutorial = '@Model.VioTutorial';
        var TipoPopUpMostrar = '@Model.TipoPopUpMostrar';
        var popupRevistaDigitalSuscripcion = '@Constantes.TipoPopUp.RevistaDigitalSuscripcion';

        var popupAceptacionContrato = '@Constantes.TipoPopUp.AceptacionContrato';
        var OrigenAceptacionContrato = '@Constantes.ClienteOrigen.OrigeMobile';
        var popupActualizarCorreo = '@Constantes.TipoPopUp.ActualizarCorreo';

        var urlContratoCOpdf = '@Constantes.AceptacionContrato.UrlDescargarContratoCO';
        var viewBagCambioClave = '@Model.CambioClave';

        var origenPagina = 1;
        var urlUpdatePopupShowRoom = '@Url.Action("UpdatePopupShowRoom", "ShowRoom", new { area = "" })';
        var urlMostrarShowRoomPopup = '@Url.Action("MostrarShowRoomPopup", "Bienvenida", new { area = "" })';
        var urlShowRoomBienvenida = '@Url.Action("Index", "ShowRoom", new { area = "Mobile" })';
        var urlInsertarProductoCompartido = '@Url.Action("InsertarProductoCompartido", "CatalogoPersonalizado", new { area = "" })';
        var urlCatalogoPersonalizado = '@Url.Action("Index", "CatalogoPersonalizado", new { area = "Mobile" })';
        var urlOfertaDetalleProductoTem = '@Url.Action("GuardarProductoTemporal", "Estrategia", new { area = "" })';

        var tipoOrigenEstrategia = 2;
        var origenPedidoWebEstrategia = '@Constantes.OrigenPedidoWeb.OfertasParaTiMobileHome';
        var noMostrarPopUpRevistaDig = '@Model.RevistaDigital.NoVolverMostrar';

        var vbFotoPerfil = '@ViewBag.FotoPerfil';
        if (vbFotoPerfil != null && vbFotoPerfil != "") {
            $('.content_foto').show();
        }

        var viewBagCampaniaActual = '@Model.CampaniaActual';
        var tieneCupon = '@Model.TieneCupon';
        var tieneMasVendidos = @Model.TieneMasVendidos;
        var tieneAsesoraOnline = '@Model.TieneAsesoraOnline';
        var paginaOrigenCupon = 2;
        var esEmailActivo = '@Model.EmailActivo';
        var paisISO = '@ViewBag.paisISO';
        var viewBagAmbiente = '@ViewBag.Ambiente';
        var correo = '@Model.EMail';
        var celular = '@Model.Celular';
        var tipoOrigenPantalla = 2;
        var primeraVezSession = @Model.PrimeraVezSession;
        var userAgent = '@HttpContext.Current.Request.UserAgent.ToLower()';
        var verSeccion = '@ViewBag.VerSeccion' || '';
        var OrigenDesktopODD = 1;
        var consultoraNuevaBannerAppMostrar = '@Model.ConsultoraNuevaBannerAppMostrar';
        var mostrarPopupCuponGanaste = (@Model.TipoPopUpMostrar == 11) ? 'true' : 'false';
        var nombreAlias = '@Util.SubStrCortarNombre(Model.NombreConsultora, 10, "!")';
        var numeroCampania = '@Model.NumeroCampania';
        var urlActionMiPerfil = '@Url.Action("ObtenerActualizacionEmail", "Bienvenida", new { area = "" })';
        var urlLocationMiPerfil = '@Url.Action("Index", "MiPerfil", new { area = "Mobile" })';
        var appVersion = navigator.appVersion;
        var arrayPaisNoBannerLiq = ['@Constantes.CodigosISOPais.Peru'];
    </script>
    @Scripts.Render("~/bundles/JsMobile/Bienvenida")

}
