@using Portal.Consultoras.Common
@model Portal.Consultoras.Web.Models.MisReclamosModel
@{
    /**/

    ViewBag.Title = "Cambios y devoluciones";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="fondo_f9f9f9">
    <div class="content_belcorp">
        <div class="fondo_negro_lateral"></div>
        <div class="titulo_interiores"> <span>CAMBIOS</span> Y DEVOLUCIONES</div>
    </div>
    <hr class="clear">
    <div class="linea_separadora" style="margin-top:-1px"></div>
</div>
<div class="content_belcorp" style="min-height: 600px;">
    <div class="pestana_lbel"></div>

    @if (!string.IsNullOrEmpty(Model.MensajeGestionCdrInhabilitada) && Model.ListaCDRWeb.Count <= 0)
    {
        <div class="texto_reclamos_bloqueada">@Html.Raw(Model.MensajeGestionCdrInhabilitada)</div>
    }
    else
    {
        <div class="texto_titulo_reclamos" id="TituloReclamo">
            Queremos verte siempre satisfecha con nuestros productos y servicios <br />
            <span>
                Si tuviste inconvenientes con algún producto y estás dentro del
                <a href="@Model.UrlPoliticaCdr" style="text-decoration: underline; font-weight: bold; display: inline;" target="_blank">plazo permitido</a>
                puedes registrar una solicitud de cambios y devoluciones:
            </span>
        </div>
        <div class="d-flex content_registro_reclamos lista_solicitudes_registradas_wrapper">
            <div class="texto_solicitud_registrada">Tienes @Model.ListaCDRWeb.Count() solicitudes registradas:</div>
            <a class="d-block text-center text-bold pull-right border-radius-4 btn__sb btn__sb__primary--multimarca" href="javascript:;" style="width: 296px; margin-top:37px; line-height:37px;" id="IrPaso1">REGISTRAR SOLICITUD</a>
            <div class="w-100 grilla_detalle_reclamo mt-40">
                <div class="content_listado_reclamo content_listado_reclamo--header">
                    <div class="text-bold listado_fecha_general">FECHA REGISTRO</div>
                    <div class="text-bold listado_campana_general">CAMPAÑA</div>
                    <div class="text-bold listado_solicitud_general">Nº SOLICITUD</div>
                    <div class="text-bold listado_resolucion_general">FECHA RESOLUCIÓN</div>
                    <div class="text-bold listado_resumen_general">RESUMEN DE RESOLUCIÓN</div>
                    <div class="text-bold listado_estado_general">ESTADO</div>
                </div>
                @foreach (var item in Model.ListaCDRWeb)
                {
                    var horaRegistro = item.FechaRegistro.Hour > 12 ? item.FechaRegistro.Hour - 12 : item.FechaRegistro.Hour;
                    var minutoRegistro = item.FechaRegistro.Minute.ToString().PadLeft(2, '0');
                    var formatoDiaRegistro = item.FechaRegistro.Hour > 12 ? "pm" : "am";
                    var formatoHoraRegistro = horaRegistro.ToString().PadLeft(2, '0') + ":" + minutoRegistro + " " + formatoDiaRegistro;

                    var formatoHoraAtencion = "";
                    var formatoFechaAtencion = "";
                    if (item.FechaAtencion.HasValue)
                    {
                        var horaAtencion = item.FechaAtencion.Value.Hour > 12 ? item.FechaAtencion.Value.Hour - 12 : item.FechaAtencion.Value.Hour;
                        var minutoAtencion = item.FechaAtencion.Value.Minute.ToString().PadLeft(2, '0');
                        var formatoDiaAtencion = item.FechaAtencion.Value.Hour > 12 ? "pm" : "am";
                        formatoHoraAtencion = horaAtencion.ToString().PadLeft(2, '0') + ":" + minutoAtencion + " " + formatoDiaAtencion;

                        formatoFechaAtencion = item.FechaAtencion.Value.Day.ToString().PadLeft(2, '0') + "/" +
                                               item.FechaAtencion.Value.Month.ToString().PadLeft(2, '0') + "/" + item.FechaAtencion.Value.Year;
                    }

                    var formatoFechaCulminado = "--/--/----";
                    if (item.FechaCulminado.HasValue)
                    {
                        formatoFechaCulminado = item.FechaCulminado.Value.Day.ToString().PadLeft(2, '0') + "/" +
                                                item.FechaCulminado.Value.Month.ToString().PadLeft(2, '0') + "/" + item.FechaCulminado.Value.Year;
                    }

                    var formatoCampania = item.CampaniaID.ToString().Substring(0, 4) + "-" + item.CampaniaID.ToString().Substring(4, 2);

                    var claseEstado = item.Estado == Constantes.EstadoCDRWeb.Pendiente
                        ? "EstadoPendiente"
                        : item.Estado == Constantes.EstadoCDRWeb.Enviado
                            ? "EstadoEnviado"
                            : item.Estado == Constantes.EstadoCDRWeb.Aceptado
                                ? "EstadoAceptado"
                                : item.Estado == Constantes.EstadoCDRWeb.Observado
                                    ? "estado_detalleObservado"
                                    : "";

                    <div class="content_listado_reclamo content_listado_reclamo--contenido">
                        <input type="hidden" class="cdrweb_id" value="@item.CDRWebID" />
                        <input type="hidden" class="cdrweb_pedidoid" value="@item.PedidoID" />
                        <input type="hidden" class="cdrweb_estado" value="@item.Estado" />
                        <input type="hidden" class="cdrweb_formatoFechaCulminado" value="@formatoFechaCulminado" />
                        <input type="hidden" class="cdrweb_formatocampania" value="@formatoCampania" />
                        <input type="hidden" class="cdrweb_resumenresolucion" value="@item.ResumenResolucion" />
                        <input type="hidden" class="cdrweb_consultorasaldo" value="@item.ConsultoraSaldo" />
                        <input type="hidden" class="cdrweb_mensajedespacho" value="@item.MensajeDespacho" />

                        <div class="listado_fecha_general">
                            @item.FechaRegistro.Day.ToString().PadLeft(2, '0')/@item.FechaRegistro.Month.ToString().PadLeft(2, '0')/@item.FechaRegistro.Year
                            <span class="detalle_listado">@formatoHoraRegistro</span>
                        </div>
                        <div class="listado_campana_general">@formatoCampania</div>
                        <div class="listado_solicitud_general">@item.CDRWebID</div>
                        <div class="listado_resolucion_general">
                            @if (item.FechaAtencion.HasValue)
                            {
                                @formatoFechaAtencion
                                <span class="detalle_listado">@formatoHoraAtencion</span>
                            }
                        </div>
                        @if (claseEstado == "estado_detalleObservado")
                        {
                            <div class="listado_resumen_general icono_resumen_resolucion">
                                @item.ResumenResolucion
                            </div>
                        }
                        else
                        {
                            <div class="listado_resumen_general">
                                @item.ResumenResolucion
                            </div>
                        }
                        <div class="listado_estado_general">
                            <div class="verDetalle">
                                <span class="estado_texto @claseEstado">
                                    @item.EstadoDescripcion
                                </span>
                                <span>
                                    <a data-cdrwebid="@item.CDRWebID" data-pedidoid="@item.PedidoID" href="javascript:;" title="Ver Estado / Detalles" class="icono_verDetalle">
                                        <img src="/Content/Images/icono-ver-estado.png" alt="Ver Estado / Detalles">
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>

<input type="hidden" id="hdPedidoIdActual" />

<input type="hidden" id="hdCDRWebID" />

<div class="contenedor_popup_percepciones" id="PopSolicitud">
    <div class="popup_Pendientes">
        <div class="btn_cerrar_popupPercepcion cerrarPendientesPORTAL">
            <a class="regresaPendientes" title="Regresar" style="text-align: right;" href="javascript:;" onclick=" javascript: $('#PopSolicitud').hide(); ">
                <div class="icono_regresar">
                    <img src="/Content/Images/btn_regresar.svg" alt="Regresar">
                </div>
                <div class="texto_btn_regresar">REGRESAR AL LISTADO</div>
            </a>
        </div>

        <div class="fondo_f7f7f7 row_36">
            <div class="text-bold texto_titulo_reclamos" id="TituloReclamo">Solicitud de Cambios y Devoluciones</div>
            <div style="text-align: center; max-width: 700px; margin: 0 auto;">
                <div class="detalle_estado_reclamo">
                    Fecha:<b> <span id="spnFechaCulminado">10 Oct 2016</span></b>
                </div>
                <div class="detalle_estado_reclamo">
                    Solicitud:<b> Nº <span id="spnNumeroSolicitud">12345678</span></b>
                </div>
                <div class="detalle_estado_reclamo">
                    Campaña:<b> <span id="spnFormatoCampania">2016-15</span></b>
                </div>
            </div>
            <div class="cabecera_popup_cdr">
                Resumen: <b><span id="spnResumenResolucion">2 productos aprobados, 1 rechazado</span></b>
            </div>
            <div class="cabecera_popup_cdr" id="divMensajeDespacho"></div>
            <div class="cabecera_popup_cdr" id="divConsultoraSaldo" style="display: none;">
                Tu saldo actualizado es de: <b>@ViewBag.Simbolo <span id="spnConsultoraSaldo">S/. 598.45</span></b>
            </div>
        </div>
        <div class="content_pop_grilla">
            <div class="content_listado_reclamo">
                <div class="pop_solicitud_producto pop_solicitud_producto--nom text_gris_reclamo">Producto</div>
                <div class="pop_solicitud_tipo pop_solicitud_tipo--nomSolucion text_gris_reclamo">Tipo de solicitud</div>
                <div class="pop_solicitud_solucion pop_solicitud_solucion--listadoProductos text_gris_reclamo">Solución solicitada:</div>
                <div class="pop_solicitud_resolucion pop_solicitud_resolucion--estado text_gris_reclamo">Resolución:</div>
            </div>
            <div class="linea_separadora"></div>
            <div id="divDetallePedidoCDR">

            </div>
        </div>
    </div>

</div>

<div class="contenedor_popup_percepciones" id="PopSolicitud2">
    <div class="popup_Pendientes popup_productos_observados">
        <div class="btn_cerrar_popupPercepcion cerrarPendientesPORTAL">
            <a class="regresaPendientes" title="Regresar" style="text-align: right;" href="javascript:;" onclick=" javascript: $('#PopSolicitud2').hide(); ">
                <div class="icono_regresar">
                    <img src="/Content/Images/btn_regresar.svg" alt="Regresar">
                </div>
                <div class="texto_btn_regresar">REGRESAR AL LISTADO</div>
            </a>
        </div>

        <div class="fondo_f7f7f7 row_36">
            <div class="text-bold texto_titulo_reclamos" id="TituloReclamo">Solicitud de Cambios y Devoluciones</div>
            <div style="text-align: center; max-width: 700px; margin: 0 auto;">
                <div class="detalle_estado_reclamo">
                    Fecha:<b> <span id="spnFechaCulminado2">10 Oct 2016</span></b>
                </div>
                <div class="detalle_estado_reclamo">
                    Solicitud:<b> Nº <span id="spnNumeroSolicitud2">12345678</span></b>
                </div>
                <div class="detalle_estado_reclamo">
                    Campaña:<b> <span id="spnFormatoCampania2">2016-15</span></b>
                </div>
            </div>
            <div class="cabecera_popup_cdr">
                Resumen: <b><span id="spnResumenResolucion2">2 productos aprobados, 1 rechazado</span></b>
            </div>
            <div class="cabecera_popup_cdr" id="divMensajeDespacho2"></div>
            <div class="cabecera_popup_cdr">
                Tu saldo actualizado es de: <b>@ViewBag.Simbolo <span id="spnConsultoraSaldo2">S/. 598.45</span></b>
            </div>
        </div>
        <div class="content_pop_grilla">
            <div id="divDetallePedidoCdrDetalle">
            </div>
            <div class="linea_separadora_roja multimarca-background-color" style="height: 2px;"></div>
            <a href="#" id="btnFinalizar" class="d-block pull-right border-radius-4 text-bold text-center text-uppercase btn__sb btn__sb__primary--multimarca btn__sb--continuarEnvio">
                Actualizar solicitud
            </a>
            <hr class="clear" />
        </div>
    </div>
</div>

<script id="template-detalle-1" type="text/x-handlebars-template">
    {{#each detalle as |item|}}
    <div class="content_listado_reclamo">
        <div class="pop_solicitud_producto pop_solicitud_producto--nom">
            {{#if_eq item.GrupoID ''}}

            {{else}}
            <div class="text-bold text-center tag_sb tag_sb--standard">Set o Pack</div><br />
            {{/if_eq}}

            {{item.CUV}}<br>
            <b>{{item.Descripcion}}</b> <br>
            {{item.Cantidad}} unidades<br>
            Costo: {{SimboloMoneda}} {{DecimalToStringFormat item.Precio}}
        </div>

        <div class="pop_solicitud_tipo pop_solicitud_tipo--nomSolucion">
            <div class="listado_solicitud_reclamo_icono_solucion">
                {{#if_eq item.CodigoOperacion 'D'}}
                <img src="@Url.Content("~/Content/Images/opcion_devolucion_cdr.svg")" alt="" class="opcion_cdr_icono opcion_cdr_icono--solicitudReclamo" />
                {{else if_eq item.CodigoOperacion 'T'}}
                <img src="@Url.Content("~/Content/Images/opcion_cambio_otro_producto_cdr.svg")" alt="" class="opcion_cdr_icono opcion_cdr_icono--solicitudReclamo" />
                {{else if_eq item.CodigoOperacion 'C' }}
                <img src="@Url.Content("~/Content/Images/opcion_cambio_mismo_producto_cdr.svg")" alt="" class="opcion_cdr_icono opcion_cdr_icono--solicitudReclamo" />
                {{else if_eq item.CodigoOperacion 'F' }}
                <img src="@Url.Content("~/Content/Images/opcion_cambio_mismo_producto_cdr.svg")" alt="" class="opcion_cdr_icono opcion_cdr_icono--solicitudReclamo" />
                {{else if_eq item.CodigoOperacion 'G' }}
                <img src="@Url.Content("~/Content/Images/opcion_devolucion_cdr.svg")" alt="" class="opcion_cdr_icono opcion_cdr_icono--solicitudReclamo" />
                {{/if_eq}}
            </div>
            <div class="text-bold text-center">
                {{item.Solicitud}}
            </div>
        </div>
        <div class="pop_solicitud_solucion pop_solicitud_solucion--listadoProductos">
            {{#if_eq CodigoOperacion 'C'}}
            {{item.SolucionSolicitada}}
            {{else if_eq CodigoOperacion 'D'}}
            {{item.SolucionSolicitada}}
            {{else if_eq CodigoOperacion 'F'}}
            {{item.SolucionSolicitada}}
            {{else if_eq CodigoOperacion 'G'}}
            {{item.SolucionSolicitada}}
            {{else if_eq CodigoOperacion 'T'}}
            {{#if item.DetalleReemplazo}}
            {{#each item.DetalleReemplazo as |subItem|}}
            <div>
                <span class="d-block">{{subItem.CUV}}</span>
                <span class="d-block text-bold">{{subItem.Descripcion}}</span>
                <span class="d-block">{{subItem.Cantidad}} unidades</span>
                <span class="d-block">Precio: {{SimboloMoneda}} {{DecimalToStringFormat subItem.Precio}}</span>
            </div>
            {{/each}}
            <div class="text-bold">Total: {{SimboloMoneda}} {{DecimalToStringFormat item.Total}}</div>
            {{else}}
            <span class="d-block">{{item.CUV2}}</span>
            <span class="d-block text-bold">{{item.Descripcion2}}</span>
            <span class="d-block">{{item.Cantidad2}} unidades</span>
            <span class="d-block">Precio: {{SimboloMoneda}} {{DecimalToStringFormat item.Precio2}}</span>
            {{/if}}
            {{else}}

            {{/if_eq}}
        </div>
        <div class="pop_solicitud_resolucion pop_solicitud_resolucion--estado">
            {{#if_eq Estado '3'}}
            <span class="estado_texto EstadoAceptado">APROBADO</span>
            {{else}}
            {{/if_eq}}
        </div>
    </div>
    {{/each}}
</script>

<script id="template-detalle" type="text/x-handlebars-template">
    <div>
        <div class="subtitulo_grilla subtitulo_grilla--productosObservados">Resuelve las observaciones y envía nuevamente la solicitud</div>
        <div class="content_listado_reclamo">
            <div class="pop_solicitud_producto text_gris_reclamo pop_solicitud_producto--nom">Producto</div>
            <div class="text-center pop_solicitud_tipo text_gris_reclamo pop_solicitud_tipo--nomSolucion">Tipo de solicitud</div>
            <div class="pop_solicitud_solucion text_gris_reclamo pop_solicitud_solucion--listadoProductos">Solución solicitada</div>
            <div class="pop_solicitud_resolucion text_gris_reclamo pop_solicitud_resolucion--estado">Resolución</div>
            <div class="text-center pop_solicitud_resolucion text_gris_reclamo pop_solicitud_solucion--acciones">Acciones</div>
        </div>
        <div class="linea_separadora"></div>
        {{#each detalle as |item|}}
        <div class="content_listado_reclamo {{#if_eq item.CodigoOperacion 'T'}} content_listado_reclamo--contenidoGrilla {{/if_eq}}" data-pedidodetalleid="{{item.CDRWebDetalleID}}">
            <div class="pop_solicitud_producto pop_solicitud_producto--nom">
                {{#if_eq item.GrupoID ''}}

                {{else}}
                <div class="text-bold text-center tag_sb tag_sb--standard">Set o Pack</div><br />
                {{/if_eq}}
                <span class="d-block">{{item.CUV}}</span>
                <span class="d-block text-bold">{{item.Descripcion}}</span>
                <span class="d-block">{{item.Cantidad}} unidades</span>
                <span class="d-block">Costo: {{SimboloMoneda}} {{DecimalToStringFormat item.Precio}}</span>
            </div>
            <div class="text-center pop_solicitud_tipo pop_solicitud_tipo--nomSolucion">
                <div class="listado_solicitud_reclamo_icono_solucion">
                    {{#if_eq item.CodigoOperacion 'D'}}
                    <img src="@Url.Content("~/Content/Images/opcion_devolucion_cdr.svg")" alt="" class="opcion_cdr_icono opcion_cdr_icono--solicitudReclamo" />
                    {{else if_eq item.CodigoOperacion 'T'}}
                    <img src="@Url.Content("~/Content/Images/opcion_cambio_otro_producto_cdr.svg")" alt="" class="opcion_cdr_icono opcion_cdr_icono--solicitudReclamo" />
                    {{else if_eq item.CodigoOperacion 'C' }}
                    <img src="@Url.Content("~/Content/Images/opcion_cambio_mismo_producto_cdr.svg")" alt="" class="opcion_cdr_icono opcion_cdr_icono--solicitudReclamo" />
                    {{else if_eq item.CodigoOperacion 'F' }}
                    <img src="@Url.Content("~/Content/Images/opcion_cambio_mismo_producto_cdr.svg")" alt="" class="opcion_cdr_icono opcion_cdr_icono--solicitudReclamo" />
                    {{else if_eq item.CodigoOperacion 'G' }}
                    <img src="@Url.Content("~/Content/Images/opcion_devolucion_cdr.svg")" alt="" class="opcion_cdr_icono opcion_cdr_icono--solicitudReclamo" />
                    {{/if_eq}}
                </div>
                <div class="text-center text-bold">
                    {{item.Solicitud}}
                </div>
            </div>
            <div class="pop_solicitud_solucion pop_solicitud_solucion--listadoProductos--content">
                {{#if_eq item.CodigoOperacion 'C'}}
                <div class="d-flex w-100 producto_solicitud_row">
                    <div class="d-block text-center producto_solicitud">{{item.SolucionSolicitada}}</div>
                    {{#if_eq item.Estado '3'}}
                    <div class="d-flex estado_producto_solicitud">
                        <div class="tag_sb tag_sb--estado text-bold text-uppercase EstadoAceptado">Aprobado</div>
                    </div>
                    <div class="d-flex acciones_solicitud">
                    </div>
                    {{else}}
                    <div class="d-flex estado_producto_solicitud">
                        <div class="tag_sb tag_sb--estado text-bold text-uppercase EstadoRechazado">Rechazado</div>
                        <div class="descripcion_estado_producto_solicitud">{{item.Observacion}}</div>
                    </div>
                    <div class="d-flex acciones_solicitud">
                        <a data-pedidodetalleid="{{item.CDRWebDetalleID}}" 
                           data-detalle-grupoid="{{item.GrupoID}}" 
                           href="javascript:void(0);" 
                           onclick="EliminarDetalle(this);" 
                           title="Eliminar" class="d-block enlace_eliminar_producto_rechazado">
                            <img src="@Url.Content("~/Content/Images/Esika/icons-trash.svg")" alt="Eliminar" />
                        </a>
                    </div>
                    {{/if_eq}}
                </div>
                {{else if_eq item.CodigoOperacion 'D'}}
                <div class="d-flex w-100 producto_solicitud_row">
                    <div class="d-block text-center producto_solicitud">{{item.SolucionSolicitada}}</div>
                    {{#if_eq item.Estado '3'}}
                    <div class="d-flex estado_producto_solicitud">
                        <div class="tag_sb tag_sb--estado text-bold text-uppercase EstadoAceptado">Aprobado</div>
                    </div>
                    <div class="d-flex acciones_solicitud">
                    </div>
                    {{else}}
                    <div class="d-flex estado_producto_solicitud">
                        <div class="tag_sb tag_sb--estado text-bold text-uppercase EstadoRechazado">Rechazado</div>
                        <div class="descripcion_estado_producto_solicitud">{{item.Observacion}}</div>
                    </div>
                    <div class="d-flex acciones_solicitud">
                        <a data-pedidodetalleid="{{item.CDRWebDetalleID}}" data-detalle-grupoid="{{item.GrupoID}}" href="javascript:void(0);" onclick="EliminarDetalle(this);" title="Eliminar" class="d-block enlace_eliminar_producto_rechazado">
                            <img src="@Url.Content("~/Content/Images/Esika/icons-trash.svg")" alt="Eliminar" />
                        </a>
                    </div>
                    {{/if_eq}}
                </div>
                {{else if_eq item.CodigoOperacion 'F'}}
                <div class="d-flex w-100 producto_solicitud_row">
                    <div class="d-block text-center producto_solicitud">{{item.SolucionSolicitada}}</div>
                    {{#if_eq item.Estado '3'}}
                    <div class="d-flex estado_producto_solicitud">
                        <div class="tag_sb tag_sb--estado text-bold text-uppercase EstadoAceptado">Aprobado</div>
                    </div>
                    <div class="d-flex acciones_solicitud">
                    </div>
                    {{else}}
                    <div class="d-flex estado_producto_solicitud">
                        <div class="tag_sb tag_sb--estado text-bold text-uppercase EstadoRechazado">Rechazado</div>
                        <div class="descripcion_estado_producto_solicitud">{{item.Observacion}}</div>
                    </div>
                    <div class="d-flex acciones_solicitud">
                        <a data-pedidodetalleid="{{item.CDRWebDetalleID}}" data-detalle-grupoid="{{item.GrupoID}}" href="javascript:void(0);" onclick="EliminarDetalle(this);" title="Eliminar" class="d-block enlace_eliminar_producto_rechazado">
                            <img src="@Url.Content("~/Content/Images/Esika/icons-trash.svg")" alt="Eliminar" />
                        </a>
                    </div>
                    {{/if_eq}}
                </div>
                {{else if_eq item.CodigoOperacion 'G'}}
                <div class="d-flex w-100 producto_solicitud_row">
                    <div class="d-block text-center producto_solicitud">{{item.SolucionSolicitada}}</div>
                    {{#if_eq item.Estado '3'}}
                    <div class="d-flex estado_producto_solicitud">
                        <div class="tag_sb tag_sb--estado text-bold text-uppercase EstadoAceptado">Aprobado</div>
                    </div>
                    <div class="d-flex acciones_solicitud">
                    </div>
                    {{else}}
                    <div class="d-flex estado_producto_solicitud">
                        <div class="tag_sb tag_sb--estado text-bold text-uppercase EstadoRechazado">Rechazado</div>
                        <div class="descripcion_estado_producto_solicitud">{{item.Observacion}}</div>
                    </div>
                    <div class="d-flex acciones_solicitud">
                        <a data-pedidodetalleid="{{item.CDRWebDetalleID}}" data-detalle-grupoid="{{item.GrupoID}}" href="javascript:void(0);" onclick="EliminarDetalle(this);" title="Eliminar" class="d-block enlace_eliminar_producto_rechazado">
                            <img src="@Url.Content("~/Content/Images/Esika/icons-trash.svg")" alt="Eliminar" />
                        </a>
                    </div>
                    {{/if_eq}}
                </div>
                {{else if_eq item.CodigoOperacion 'T'}}
                {{#if item.DetalleReemplazo}}
                {{#each item.DetalleReemplazo as |subItem|}}
                <div class="d-flex w-100 producto_solicitud_row">
                    <div class="d-block producto_solicitud">
                        <span class="d-block">{{subItem.CUV}}</span>
                        <span class="d-block text-bold">{{subItem.Descripcion}}</span>
                        <span class="d-block"><span name="cantidad">{{subItem.Cantidad}}</span>  unidades</span>
                        <span class="d-block" name="precio" data-precio="{{subItem.Precio}}">Precio: {{SimboloMoneda}} {{DecimalToStringFormat subItem.Precio}}</span>
                    </div>
                    {{#if_eq subItem.Estado '4'}}
                    <div class="d-flex estado_producto_solicitud">
                        <div class="tag_sb tag_sb--estado text-bold text-uppercase EstadoRechazado">Rechazado</div>
                        <div class="descripcion_estado_producto_solicitud">{{subItem.Observacion}}</div>
                    </div>
                    <div class="d-flex acciones_solicitud">
                        <div class="rango_producto_observado" data-cantidad-contenedor="">
                            <input style="background: white;"
                                   type="text"
                                   name="cantidad"
                                   data-input="cantidad"
                                   data-item-values='{"item_type" : "grupal", "pedido_detalle_id" : "{{item.CDRWebDetalleID}}", "codigo_cuv" : "{{subItem.CUV}}"}'
                                   value="{{subItem.Cantidad}}"
                                   data-cantidad="{{subItem.Cantidad}}"
                                   onchange="ActualizarCantidad(event);"
                                   maxlength="2"
                                   class="txtCantidad liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral valid" />
                            <div class="liquidacion_rango_right_pedido" style="background: white;">
                                <a class="mas" onclick="AgregarODisminuirCantidad(event,1)"><img src="/Content/Images/Esika/mas.png" alt=""></a>
                                <a class="menos" onclick="AgregarODisminuirCantidad(event,2)"><img src="/Content/Images/Esika/menos.png" alt=""></a>
                            </div>
                        </div>
                        <a data-pedidodetalleid="{{item.CDRWebDetalleID}}"
                           data-cuv="{{subItem.CUV}}" data-detalle-grupoid=""
                           href="javascript:void(0);"
                           onclick="EliminarDetalle(this);" title="Eliminar" class="d-block enlace_eliminar_producto_rechazado">
                            <img src="@Url.Content("~/Content/Images/Esika/icons-trash.svg")" alt="Eliminar" />
                        </a>
                    </div>
                    {{else}}
                    <div class="d-flex estado_producto_solicitud">
                        <div class="tag_sb tag_sb--estado text-bold text-uppercase EstadoAceptado">Aprobado</div>
                    </div>
                    <div class="d-flex acciones_solicitud"></div>
                    {{/if_eq}}
                </div>
                {{/each}}
                <div class="text-bold text-uppercase producto_solicitud_row">Total: <span name="total">{{SimboloMoneda}} {{DecimalToStringFormat item.Total}}</span></div>
                {{else}}
                <div class="d-flex w-100 producto_solicitud_row">
                    <div class="d-block producto_solicitud">
                        <span class="d-block">{{item.CUV2}}</span>
                        <span class="d-block text-bold">{{item.Descripcion2}}</span>
                        <span class="d-block"><span name="cantidad">{{item.Cantidad}}</span> unidades</span>
                        <span class="d-block" name="precio" data-precio="{{item.Precio2}}">Precio: {{SimboloMoneda}} {{DecimalToStringFormat item.Precio2}}</span>
                    </div>
                    {{#if_eq item.Estado '4'}}
                    <div class="d-flex estado_producto_solicitud">
                        <div class="tag_sb tag_sb--estado text-bold text-uppercase EstadoRechazado">Rechazado</div>
                        <div class="descripcion_estado_producto_solicitud">
                            {{item.Observacion}}
                        </div>
                    </div>
                    <div class="d-flex acciones_solicitud">
                        <div class="rango_producto_observado" data-cantidad-contenedor="">
                            <input style="background: white;"
                                   type="text"
                                   name="cantidad"
                                   data-item-values='{"item_type" : "indivudial", "pedido_detalle_id" : "{{item.CDRWebDetalleID}}", "codigo_cuv" : "{{item.CUV2}}"}'
                                   data-input="cantidad"
                                   data-cantidad="{{item.Cantidad}}"
                                   value="{{item.Cantidad}}"
                                   onchange="ActualizarCantidad(event);"
                                   maxlength="2" class="txtCantidad liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral valid" />
                            <div class="liquidacion_rango_right_pedido" style="background: white;">
                                <a class="mas" onclick="AgregarODisminuirCantidad(event,1)"><img src="/Content/Images/Esika/mas.png" alt=""></a>
                                <a class="menos" onclick="AgregarODisminuirCantidad(event,2)"><img src="/Content/Images/Esika/menos.png" alt=""></a>
                            </div>
                        </div>
                        <a data-pedidodetalleid="{{item.CDRWebDetalleID}}"
                           data-detalle-grupoid="{{item.GrupoID}}"
                           href="javascript:void(0);" onclick="EliminarDetalle(this);" title="Eliminar" class="d-block enlace_eliminar_producto_rechazado">
                            <img src="@Url.Content("~/Content/Images/Esika/icons-trash.svg")" alt="Eliminar" />
                        </a>
                    </div>
                    {{else}}
                    <div class="d-flex estado_producto_solicitud">
                        <div class="tag_sb text-bold text-uppercase estado_texto EstadoAceptado">
                            APROBADO
                        </div>
                    </div>
                    <div class="d-flex acciones_solicitud"></div>
                    {{/if_eq}}
                </div>
                {{/if}}
                {{else}}

                {{/if_eq}}
            </div>
        </div>
        {{/each}}
    </div>
</script>

@section scripts{
    <script type="text/javascript">
        var imgCheck = '@Url.Content("~/Content/Images/Esika/paso_realizado.png")';
        var imgFoco = '@Url.Content("~/Content/Images/Esika/foco1.png")';
        var imgCarta = '@Url.Content("~/Content/Images/Esika/carta1.png")';
        var urlReclamo = '@Url.Action("Reclamo")';
        var mensajeGestionCdrInhabilitada = '@Html.Raw(Model.MensajeGestionCdrInhabilitada)';
    </script>
    <script src="@Url.Content("~/Scripts/PortalConsultoras/MisReclamos/Index.js")?v3"></script>
    <script src="@Url.Content("~/Scripts/PortalConsultoras/EstrategiaAgregar/EstrategiaAgregar.js")"></script>
}

