@using Portal.Consultoras.Common
@model Portal.Consultoras.Web.Models.MisReclamosModel
@{
    ViewBag.Title = "Cambios y devoluciones";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="fondo_f9f9f9">
    <div class="content_belcorp">
        <div class="fondo_negro_lateral"></div>
        <div class="titulo_interiores"> <span>CAMBIOS</span> Y DEVOLUCIONES</div>
    </div>
    <hr class="clear">
    <div class="linea_separadora" style="margin-top:-1px"></div>
</div>
<div class="content_belcorp" style="min-height: 600px;">
    <div class="pestana_lbel"></div>

    @if (!string.IsNullOrEmpty(Model.MensajeGestionCdrInhabilitada) && Model.ListaCDRWeb.Count <= 0)
    {
        <div class="texto_reclamos_bloqueada">@Html.Raw(Model.MensajeGestionCdrInhabilitada)</div>
    }
    else
    {
        <div class="texto_titulo_reclamos" id="TituloReclamo">
            Queremos verte siempre satisfecha con nuestros productos y servicio <br />
            <span>
                Si tuviste inconvenientes con algún producto y estás dentro del
                <a href="@Model.UrlPoliticaCdr" style="text-decoration: underline; font-weight: bold; display: inline;" target="_blank">plazo permitido</a>
                puedes registrar una solicitud de cambios y devoluciones:
            </span>
        </div>
        <div class="content_registro_reclamos">
            <div class="texto_solicitud_registrada">Tienes @Model.ListaCDRWeb.Count() solicitudes registradas:</div>
            <a class="btn_si_stock_cdr" href="javascript:;" style="width: 296px;" id="IrPaso1">REGISTRAR SOLICITUD</a>
            <hr class="clear" />
            <br />
            <br />
            <div class="grilla_detalle_reclamo">
                <div class="content_listado_reclamo">
                    <div class="listado_fecha_general text_gris_reclamo">FECHA REGISTRO</div>
                    <div class="listado_campana_general text_gris_reclamo">CAMPAÑA</div>
                    <div class="listado_solicitud_general text_gris_reclamo">Nº SOLICITUD</div>
                    <div class="listado_resolucion_general text_gris_reclamo">FECHA RESOLUCIÓN</div>
                    <div class="listado_resumen_general text_gris_reclamo">RESUMEN DE RESOLUCIÓN</div>
                    <div class="listado_estado_general text_gris_reclamo">ESTADO</div>
                </div>
                <div class="linea_separadora"></div>
                @foreach (var item in Model.ListaCDRWeb)
                {
                    var horaRegistro = item.FechaRegistro.Hour > 12 ? item.FechaRegistro.Hour - 12 : item.FechaRegistro.Hour;
                    var minutoRegistro = item.FechaRegistro.Minute.ToString().PadLeft(2, '0');
                    var formatoDiaRegistro = item.FechaRegistro.Hour > 12 ? "pm" : "am";
                    var formatoHoraRegistro = horaRegistro.ToString().PadLeft(2, '0') + ":" + minutoRegistro + " " + formatoDiaRegistro;

                    var formatoHoraAtencion = "";
                    var formatoFechaAtencion = "";
                    if (item.FechaAtencion.HasValue)
                    {
                        var horaAtencion = item.FechaAtencion.Value.Hour > 12 ? item.FechaAtencion.Value.Hour - 12 : item.FechaAtencion.Value.Hour;
                        var minutoAtencion = item.FechaAtencion.Value.Minute.ToString().PadLeft(2, '0');
                        var formatoDiaAtencion = item.FechaAtencion.Value.Hour > 12 ? "pm" : "am";
                        formatoHoraAtencion = horaAtencion.ToString().PadLeft(2, '0') + ":" + minutoAtencion + " " + formatoDiaAtencion;

                        formatoFechaAtencion = item.FechaAtencion.Value.Day.ToString().PadLeft(2, '0') + "/" +
                                               item.FechaAtencion.Value.Month.ToString().PadLeft(2, '0') + "/" + item.FechaAtencion.Value.Year;
                    }

                    var formatoFechaCulminado = "--/--/----";
                    if (item.FechaCulminado.HasValue)
                    {
                        formatoFechaCulminado = item.FechaCulminado.Value.Day.ToString().PadLeft(2, '0') + "/" +
                                                item.FechaCulminado.Value.Month.ToString().PadLeft(2, '0') + "/" + item.FechaCulminado.Value.Year;
                    }

                    var formatoCampania = item.CampaniaID.ToString().Substring(0, 4) + "-" + item.CampaniaID.ToString().Substring(4, 2);

                    var claseEstado = item.Estado == Constantes.EstadoCDRWeb.Pendiente
                        ? ""
                        : item.Estado == Constantes.EstadoCDRWeb.Enviado
                            ? "EstadoRechazado"
                            : item.Estado == Constantes.EstadoCDRWeb.Aceptado
                                ? "estado_detalleFacturado"
                                : item.Estado == Constantes.EstadoCDRWeb.Observado
                                    ? "estado_detalleObservado"
                                    : "";

                    <div class="content_listado_reclamo">
                        <input type="hidden" class="cdrweb_id" value="@item.CDRWebID" />
                        <input type="hidden" class="cdrweb_pedidoid" value="@item.PedidoID" />
                        <input type="hidden" class="cdrweb_estado" value="@item.Estado" />
                        <input type="hidden" class="cdrweb_formatoFechaCulminado" value="@formatoFechaCulminado" />
                        <input type="hidden" class="cdrweb_formatocampania" value="@formatoCampania" />
                        <input type="hidden" class="cdrweb_resumenresolucion" value="@item.ResumenResolucion" />
                        <input type="hidden" class="cdrweb_consultorasaldo" value="@item.ConsultoraSaldo" />
                        <input type="hidden" class="cdrweb_mensajedespacho" value="@item.MensajeDespacho" />

                        <div class="listado_fecha_general">
                            @item.FechaRegistro.Day.ToString().PadLeft(2, '0')/@item.FechaRegistro.Month.ToString().PadLeft(2, '0')/@item.FechaRegistro.Year
                            <span class="detalle_listado">@formatoHoraRegistro</span>
                        </div>
                        <div class="listado_campana_general">@formatoCampania</div>
                        <div class="listado_solicitud_general">@item.CDRWebID</div>
                        <div class="listado_resolucion_general">
                            @if (item.FechaAtencion.HasValue)
                            {
                                @formatoFechaAtencion
                                <span class="detalle_listado">@formatoHoraAtencion</span>
                            }
                        </div>
                        @if (claseEstado == "estado_detalleObservado")
                        {
                            <div class="listado_resumen_general icono_resumen_resolucion">
                                @item.ResumenResolucion
                            </div>
                        }
                        else
                        {
                            <div class="listado_resumen_general">
                                @item.ResumenResolucion
                            </div>
                        }
                        <div class="listado_estado_general">
                            <div class="verDetalle">
                                <span class="estado_texto @claseEstado">
                                    @item.EstadoDescripcion
                                </span>
                                <span>
                                    <a data-cdrwebid="@item.CDRWebID" data-pedidoid="@item.PedidoID" href="javascript:;" title="Ver Estado / Detalles" class="icono_verDetalle">
                                        <img src="/Content/Images/icono-ver-estado.png" alt="Ver Estado / Detalles">
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="linea_separadora"></div>
                }
            </div>
        </div>
    }
</div>

<input type="hidden" id="hdPedidoIdActual" />

<div class="contenedor_popup_percepciones" id="PopSolicitud">
    <div class="popup_Pendientes">
        <div class="btn_cerrar_popupPercepcion cerrarPendientesPORTAL">
            <a class="regresaPendientes" title="Regresar" style="text-align: right;" href="javascript:;" onclick=" javascript: $('#PopSolicitud').hide(); ">
                <div class="icono_regresar">
                    <img src="/Content/Images/btn_regresar.svg" alt="Regresar">
                </div>
                <div class="texto_btn_regresar">REGRESAR AL LISTADO</div>
            </a>
        </div>

        <div class="fondo_f7f7f7 row_36">
            <div class="texto_titulo_reclamos" id="TituloReclamo">Solicitud de Cambios y Devoluciones</div>
            <div style="text-align: center; max-width: 700px; margin: 0 auto">
                <div class="detalle_estado_reclamo">
                    Fecha:<b> <span id="spnFechaCulminado">10 Oct 2016</span></b>
                </div>
                <div class="detalle_estado_reclamo">
                    Solicitud:<b> Nº <span id="spnNumeroSolicitud">12345678</span></b>
                </div>
                <div class="detalle_estado_reclamo">
                    Campaña:<b> <span id="spnFormatoCampania">2016-15</span></b>
                </div>
            </div>
            <div class="cabecera_popup_cdr">
                Resumen: <b><span id="spnResumenResolucion">2 productos aprobados, 1 rechazado</span></b>
            </div>
            <div class="cabecera_popup_cdr" id="divMensajeDespacho"></div>
            <div class="cabecera_popup_cdr" id="divConsultoraSaldo" style="display: none;">
                Tu saldo actualizado es de: <b>@ViewBag.Simbolo <span id="spnConsultoraSaldo">S/. 598.45</span></b>
            </div>
        </div>
        <div class="content_pop_grilla">
            <div class="content_listado_reclamo">
                <div class="pop_solicitud_producto text_gris_reclamo">Producto</div>
                <div class="pop_solicitud_tipo text_gris_reclamo">Tipo de solicitud</div>
                <div class="pop_solicitud_solucion text_gris_reclamo">Solución solicitada:</div>
                <div class="pop_solicitud_resolucion text_gris_reclamo">Resolución:</div>
            </div>
            <div class="linea_separadora"></div>
            <div id="divDetallePedidoCDR">

            </div>
        </div>
    </div>

</div>

<div class="contenedor_popup_percepciones" id="PopSolicitud2">
    <div class="popup_Pendientes">
        <div class="btn_cerrar_popupPercepcion cerrarPendientesPORTAL">
            <a class="regresaPendientes" title="Regresar" style="text-align: right;" href="javascript:;" onclick=" javascript: $('#PopSolicitud2').hide(); ">
                <div class="icono_regresar">
                    <img src="/Content/Images/btn_regresar.svg" alt="Regresar">
                </div>
                <div class="texto_btn_regresar">REGRESAR AL LISTADO</div>
            </a>
        </div>

        <div class="fondo_f7f7f7 row_36">
            <div class="texto_titulo_reclamos" id="TituloReclamo">Solicitud de Cambios y Devoluciones</div>
            <div style="text-align: center; max-width: 700px; margin: 0 auto">
                <div class="detalle_estado_reclamo">
                    Fecha:<b> <span id="spnFechaCulminado2">10 Oct 2016</span></b>
                </div>
                <div class="detalle_estado_reclamo">
                    Solicitud:<b> Nº <span id="spnNumeroSolicitud2">12345678</span></b>
                </div>
                <div class="detalle_estado_reclamo">
                    Campaña:<b> <span id="spnFormatoCampania2">2016-15</span></b>
                </div>
            </div>
            <div class="cabecera_popup_cdr">
                Resumen: <b><span id="spnResumenResolucion2">2 productos aprobados, 1 rechazado</span></b>
            </div>
            <div class="cabecera_popup_cdr" id="divMensajeDespacho2"></div>
            <div class="cabecera_popup_cdr">
                Tu saldo actualizado es de: <b>@ViewBag.Simbolo <span id="spnConsultoraSaldo2">S/. 598.45</span></b>
            </div>
        </div>
        <div class="content_pop_grilla">
            <div id="divDetallePedidoCdrObservado">
            </div>

            <div id="divDetallePedidoCdrAprobado">

            </div>
            <div class="linea_separadora_roja" style="height: 2px;"></div>
            <a id="btnFinalizar" class="btn_si_stock_cdr" href="#" style="width: 296px;">CONTINUAR</a>
            <hr class="clear" />
        </div>
    </div>
</div>

<script id="template-detalle-1" type="text/x-handlebars-template">
    {{#each detalle as |item|}}
    <div class="content_listado_reclamo">
        <div class="pop_solicitud_producto">
            {{item.CUV}}<br>
            <b>{{item.Descripcion}}</b> <br>
            {{item.Cantidad}} unidades<br>
            Costo: {{SimboloMoneda}} {{DecimalToStringFormat item.Precio}}
        </div>
        <div class="pop_solicitud_tipo">
            <b>{{item.Solicitud}}</b>
        </div>
        <div class="pop_solicitud_solucion">
            {{#if_eq CodigoOperacion 'C'}}
            {{item.SolucionSolicitada}}
            {{else if_eq CodigoOperacion 'D'}}
            {{item.SolucionSolicitada}}
            {{else if_eq CodigoOperacion 'F'}}
            {{item.SolucionSolicitada}}
            {{else if_eq CodigoOperacion 'G'}}
            {{item.SolucionSolicitada}}
            {{else if_eq CodigoOperacion 'T'}}
            {{item.CUV2}}<br />
            <b>{{item.Descripcion2}}</b> <br />
            {{item.Cantidad2}} unidades<br />
            Costo: {{SimboloMoneda}} {{DecimalToStringFormat item.Precio2}}
            {{else}}
            {{/if_eq}}
        </div>
        <div class="pop_solicitud_resolucion">
            {{#if_eq Estado '3'}}
            <span class="texto_estado_solicitud">APROBADO</span>
            {{else}}
            {{/if_eq}}
        </div>
        <hr class="clear" />
    </div>
    {{/each}}
</script>

<script id="template-detalle-2-observado" type="text/x-handlebars-template">
    <div class="titulo_grilla">PRODUCTOS OBSERVADOS:</div>
    <div class="subtitulo_grilla">Resuelve las observaciones y envía nuevamente la solicitud</div>
    <div class="content_listado_reclamo">
        <div class="pop_solicitud_producto text_gris_reclamo">Producto</div>
        <div class="pop_solicitud_tipo text_gris_reclamo">Tipo de solicitud</div>
        <div class="pop_solicitud_solucion text_gris_reclamo">Solución solicitada:</div>
        <div class="pop_solicitud_resolucion text_gris_reclamo">Resolución:</div>
    </div>
    <div class="linea_separadora"></div>

    {{#each detalle as |item|}}
    {{#if_eq item.Estado '4'}}
    <div class="content_listado_reclamo" data-pedidodetalleid="{{item.CDRWebDetalleID}}">
        <div class="pop_solicitud_producto">
            {{item.CUV}}<br>
            <b>{{item.Descripcion}}</b> <br>
            {{item.Cantidad}} unidades<br>
            Costo: {{SimboloMoneda}} {{DecimalToStringFormat item.Precio}}
        </div>
        <div class="pop_solicitud_tipo">
            <b>{{item.Solicitud}}</b>
        </div>
        <div class="pop_solicitud_solucion">
            {{#if_eq CodigoOperacion 'C'}}
            {{item.SolucionSolicitada}}
            {{else if_eq CodigoOperacion 'D'}}
            {{item.SolucionSolicitada}}
            {{else if_eq CodigoOperacion 'F'}}
            {{item.SolucionSolicitada}}
            {{else if_eq CodigoOperacion 'G'}}
            {{item.SolucionSolicitada}}
            {{else if_eq CodigoOperacion 'T'}}
            {{item.CUV2}}<br />
            <b>{{item.Descripcion2}}</b> <br />
            {{item.Cantidad2}} unidades<br />
            Costo: {{SimboloMoneda}} {{DecimalToStringFormat item.Precio2}}
            {{else}}
            {{/if_eq}}
        </div>
        <div class="pop_solicitud_resolucion">
            <span class="texto_estado_solicitud">RECHAZADO</span>{{item.Observacion}}
        </div>
        <hr class="clear" />
        <div class="content_producto_observado">
            <div class="nota_producto_observado">
                {{#if_eq item.TipoMotivoRechazo '1'}}
                Debes eliminar este producto para procesar nuevamente tu solicitud.
                {{else if_eq item.TipoMotivoRechazo '2'}}
                Debes modificar la cantidad y/o eliminar este producto para procesar nuevamente tu solicitud.
                {{else}}
                Debes eliminar este producto para procesar nuevamente tu solicitud.
                {{/if_eq}}
            </div>
            {{#if_eq item.TipoMotivoRechazo '1'}}
            {{else if_eq item.TipoMotivoRechazo '2'}}
            <div class="rango_producto_observado" data-contenedor-cantidad="">
                <input style="background: white;" type="text" name="Cantidad" data-input="cantidad" value="1" maxlength="2" class="txtCantidad liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral valid" onkeypress=" PreValidarCUV(event); " onfocus=" SeleccionarContenido(this) " />
                <div class="liquidacion_rango_right_pedido" style="background: white;">
                    <a class="mas" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)"><img src="/Content/Images/Esika/mas.png" alt=""></a>
                    <a class="menos" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)"><img src="/Content/Images/Esika/menos.png" alt=""></a>
                </div>
            </div>
            {{else}}
            {{/if_eq}}

            <a data-pedidodetalleid="{{item.CDRWebDetalleID}}" data-accion="x" class="btn_eliminar_observado">ELIMINAR PRODUCTO</a>
            <hr class="clear" />
        </div>
    </div>
    {{/if_eq}}
    {{/each}}
    <br />
</script>

<script id="template-detalle-2-aprobado" type="text/x-handlebars-template">
    <div class="titulo_grilla">PRODUCTOS APROBADOS:</div>
    <div class="content_listado_reclamo">
        <div class="pop_solicitud_producto text_gris_reclamo">Producto</div>
        <div class="pop_solicitud_tipo text_gris_reclamo">Tipo de solicitud</div>
        <div class="pop_solicitud_solucion text_gris_reclamo">Solución solicitada:</div>
        <div class="pop_solicitud_resolucion text_gris_reclamo">Resolución:</div>
    </div>
    <div class="linea_separadora"></div>

    {{#each detalle as |item|}}
    {{#if_eq item.Estado '3'}}
    <div class="content_listado_reclamo">
        <div class="pop_solicitud_producto">
            {{item.CUV}}<br>
            <b>{{item.Descripcion}}</b> <br>
            {{item.Cantidad}} unidades<br>
            Costo: {{SimboloMoneda}} {{DecimalToStringFormat item.Precio}}
        </div>
        <div class="pop_solicitud_tipo">
            <b>{{item.Solicitud}}</b>
        </div>
        <div class="pop_solicitud_solucion">
            {{#if_eq CodigoOperacion 'C'}}
            {{item.SolucionSolicitada}}
            {{else if_eq CodigoOperacion 'D'}}
            {{item.SolucionSolicitada}}
            {{else if_eq CodigoOperacion 'F'}}
            {{item.SolucionSolicitada}}
            {{else if_eq CodigoOperacion 'G'}}
            {{item.SolucionSolicitada}}
            {{else if_eq CodigoOperacion 'T'}}
            {{item.CUV2}}<br />
            <b>{{item.Descripcion2}}</b> <br />
            {{item.Cantidad2}} unidades<br />
            Costo: {{SimboloMoneda}} {{DecimalToStringFormat item.Precio2}}
            {{else}}
            {{/if_eq}}
        </div>
        <div class="pop_solicitud_resolucion"><span class="texto_estado_solicitud">APROBADO</span></div>
        <hr class="clear" />
    </div>
    {{/if_eq}}
    {{/each}}
</script>
|
@section scripts{
    <script type="text/javascript">
        var imgCheck = '@Url.Content("~/Content/Images/Esika/paso_realizado.png")';
        var imgFoco = '@Url.Content("~/Content/Images/Esika/foco1.png")';
        var imgCarta = '@Url.Content("~/Content/Images/Esika/carta1.png")';
        var urlReclamo = '@Url.Action("Reclamo")';
        var mensajeGestionCdrInhabilitada = '@Html.Raw(Model.MensajeGestionCdrInhabilitada)';
        $(document).ready(function () {
            $(".verDetalle").on("click", function () {
                var elemento = $(this);

                var parent = $(elemento).parents(".content_listado_reclamo");

                var id = $(parent).find(".cdrweb_id").val();
                var pedidoId = $(parent).find(".cdrweb_pedidoid").val();
                var estado = $(parent).find(".cdrweb_estado").val();
                var formatoFechaCulminado = $(parent).find(".cdrweb_formatoFechaCulminado").val();
                var formatoCampania = $(parent).find(".cdrweb_formatocampania").val();
                var resumenResolucion = $(parent).find(".cdrweb_resumenresolucion").val();
                var consultoraSaldo = $(parent).find(".cdrweb_consultorasaldo").val();
                var mensajeDespacho = IfNull($(parent).find(".cdrweb_mensajedespacho").val(),'');

                $("#hdPedidoIdActual").val(pedidoId);

                var item = {
                    CDRWebID: id || 0,
                    PedidoID: pedidoId || 0,
                    Estado: estado || 0
                };

                switch (estado) {
                    case "1": //Pendiente
                        window.location.href = urlReclamo + "?pedidoId=" + pedidoId;
                        break;
                    case "2": //Enviado
                        ObtenerDetalleCdr(item);

                        $("#spnFechaCulminado").html(formatoFechaCulminado);
                        $("#spnNumeroSolicitud").html(id);
                        $("#spnFormatoCampania").html(formatoCampania);
                        $("#spnResumenResolucion").html(resumenResolucion);

                        if (mensajeDespacho == '') $('#divMensajeDespacho').hide();
                        else $('#divMensajeDespacho').html(mensajeDespacho).show();

                        $('#divConsultoraSaldo').hide();

                        $("#PopSolicitud").show();
                        break;
                    case "3": //Aceptado
                        ObtenerDetalleCdr(item);

                        $("#spnFechaCulminado").html(formatoFechaCulminado);
                        $("#spnNumeroSolicitud").html(id);
                        $("#spnFormatoCampania").html(formatoCampania);
                        $("#spnResumenResolucion").html(resumenResolucion);

                        if (mensajeDespacho == '') $('#divMensajeDespacho').hide();
                        else $('#divMensajeDespacho').html(mensajeDespacho).show();

                        $('#spnConsultoraSaldo').html(consultoraSaldo);
                        $('#divConsultoraSaldo').show();

                        $("#PopSolicitud").show();
                        break;
                    case "4": //Observado
                        ObtenerDetalleCdr(item);

                        $("#spnFechaCulminado2").html(formatoFechaCulminado);
                        $("#spnNumeroSolicitud2").html(id);
                        $("#spnFormatoCampania2").html(formatoCampania);
                        $("#spnResumenResolucion2").html(resumenResolucion);
                        $('#spnConsultoraSaldo2').html(consultoraSaldo);

                        if (mensajeDespacho == '') $('#divMensajeDespacho2').hide();
                        else $('#divMensajeDespacho2').html(mensajeDespacho).show();

                        $("#PopSolicitud2").show();
                        break;
                    default:
                        break;
                }
            });

            $(document).on('click', '[data-accion]', function () {
                DetalleAccion(this);
            });

            $("#btnFinalizar").on("click", function () {
                var pedidoId = $("#hdPedidoIdActual").val();
                var lista = new Array();

                $.each($("#divDetallePedidoCdrObservado .txtCantidad"), function (index, value) {
                    var elemento = $(value);
                    var parent = $(elemento).parents(".content_listado_reclamo").eq(0);
                    var pedidoDetalleId = $(parent).attr("data-pedidodetalleid");
                    var cantidad = $(elemento).val();

                    var item = {
                        CDRWebDetalleID: pedidoDetalleId,
                        Cantidad: cantidad
                    };
                    lista.push(item);
                });

                var actualizado = ActualizarDetalleObservado(lista);
                if (actualizado) window.location.href = urlReclamo + "?pedidoId=" + pedidoId;
            });

            $("#IrPaso1").on("click", function () {
                if (mensajeGestionCdrInhabilitada != '') {
                    alert_msg(mensajeGestionCdrInhabilitada);
                    return false;
                }
                window.location.href = urlReclamo;
            });
        });

        function ObtenerDetalleCdr(item) {
            $("#divDetallePedidoCdrObservado").html("");
            $("#divDetallePedidoCdrAprobado").html("");
            $("#divDetallePedidoCDR").html("");

            waitingDialog();

            jQuery.ajax({
                type: 'POST',
                url: baseUrl + 'MisReclamos/DetalleCargar',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(item),
                cache: false,
                success: function (data) {
                    if (!checkTimeout(data)) return false;
                    if (data.success != true) {
                        messageInfoError(data.message);
                        return false;
                    }

                    if (item.Estado == 4) {
                        if (data.cantobservado > 0) SetHandlebars("#template-detalle-2-observado", data, "#divDetallePedidoCdrObservado");
                        if (data.cantaprobado > 0) SetHandlebars("#template-detalle-2-aprobado", data, "#divDetallePedidoCdrAprobado");
                    }
                    else SetHandlebars("#template-detalle-1", data, "#divDetallePedidoCDR");
                },
                complete: closeWaitingDialog
            });
        }

        function DetalleAccion(obj) {
            var accion = $.trim($(obj).attr("data-accion"));
            if (accion == "") {
                return false;
            }

            if (accion == "x") {
                var pedidodetalleid = $.trim($(obj).attr("data-pedidodetalleid"));

                var item = {
                    CDRWebDetalleID: pedidodetalleid
                };

                var functionEliminar = function () {
                    var eliminado = DetalleEliminar(item);

                    if (eliminado) {
                        var parent = $(obj).parents(".content_listado_reclamo").eq(0);
                        $(parent).remove();
                    }
                };
                messageConfirmacion("", "Se eliminará el registro seleccionado. <br/>¿Deseas continuar?", functionEliminar);
            }
        }

        function DetalleEliminar(objItem) {
            var item = {
                CDRWebDetalleID: objItem.CDRWebDetalleID
            };

            var resultado = false;

            waitingDialog();

            jQuery.ajax({
                type: 'POST',
                url: baseUrl + 'MisReclamos/DetalleEliminar',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(item),
                async: false,
                cache: false,
                success: function (data) {
                    closeWaitingDialog();
                    if (!checkTimeout(data)) {
                        return false;
                    }

                    if (data.success == true) {
                        resultado = true;
                    }
                },
                error: function (data, error) {
                    closeWaitingDialog();
                }
            });

            return resultado;
        }

        function ActualizarDetalleObservado(lista) {
            var resultado = false;

            waitingDialog();

            jQuery.ajax({
                type: 'POST',
                url: baseUrl + 'MisReclamos/DetalleActualizarObservado',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(lista),
                async: false,
                cache: false,
                success: function (data) {
                    closeWaitingDialog();
                    if (!checkTimeout(data)) {
                        return false;
                    }

                    if (data.success == true) {
                        resultado = true;
                    }
                },
                error: function (data, error) {
                    closeWaitingDialog();
                }
            });

            return resultado;
        };
    </script>
    <script src="@Url.Content("~/Scripts/PortalConsultoras/EstrategiaAgregar/EstrategiaAgregar.js")"></script>
}

