
@model Portal.Consultoras.Web.Models.MisReclamosModel

@{
    ViewBag.Title = "Cambios y devoluciones";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="fondo_f9f9f9">
    <div class="content_belcorp">
        <div class="fondo_negro_lateral"></div>
        <div class="titulo_interiores"> <span>CAMBIOS</span> Y DEVOLUCIONES</div>
    </div>
    <hr class="clear">
    <div class="linea_separadora" style="margin-top:-1px"></div>
</div>
<div class="content_belcorp" style="min-height:600px;">
    <div class="pestana_lbel"></div><!--PESTAÑA PARA DARLE ESTILO CON LBEL-->
    <div class="texto_titulo_reclamos" id="TituloReclamo">
        Queremos verte siempre satisfecha con nuestros productos y servicio <br />
        <span>Si tuviste inconvenientes con algún producto y estás dentro del plazo permitido sigue estos pasos:</span>
    </div>
    <!--PASO A PASO RECLAMOS-->
    <div style="display:none;">
        <input type="hidden" name="CDRWebID" id="CDRWebID" value="@Model.CDRWebID" />
    </div>
    <div class="content_general_reclamos">
        <div class="content_pasos">
            <div class="paso_reclamo paso_active_reclamo" id="Selector1" data-paso="1"><span><img src="@Url.Content("~/Content/Images/Esika/labial1.png")" /></span></div>
            <div class="paso_reclamo" id="Selector2" data-paso="2"><span>2</span></div>
            <div class="paso_reclamo" id="Selector3" data-paso="3"><span>3</span></div>
        </div>
        <!--PASO 1-->
        <div class="content_reclamo" id="Paso1">
            <div>
                <div class="subtitulo_reclamo">¿Con qué producto has tenido el inconveniente?</div>
                <div>
                    @Html.DropDownListFor(model => model.Campania, new SelectList(Model.ListaCampania, "CampaniaID", "NombreCorto", Model.Campania), new { id = "ddlCampania", @class = "select_reclamo", @required = "required" })
                    @*<select class="select_reclamo">
                        <option>¿En qué campaña lo solicitaste?</option>
                    </select>*@
                    <input type="hidden" placeholder="pedido" class="codigo_reclamo" id="txtPedidoID" />
                    <input type="text" placeholder="Código" class="codigo_reclamo" id="txtCUV" />
                    <input type="text" placeholder="Descripción del producto" class="descripcion_reclamo" id="txtCUVDescripcion" readonly="readonly" />
                    <div class="rango_reclamo">
                        <input type="text" name="Cantidad" id="txtCantidad" value="1" maxlength="2" class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral valid" onkeypress="PreValidarCUV();" onfocus="SeleccionarContenido(this)">
                        <div class="liquidacion_rango_right_pedido">
                            <a class="mas"><img src="/Content/Images/Esika/mas.png" alt=""></a>
                            <a class="menos"><img src="/Content/Images/Esika/menos.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="clear" />
            <!--MOTIVO SELECCIONADO-->
            <div>
                <div class="subtitulo_reclamo">¿Cuál fué el inconveniente?</div>
                <div>
                    <div class="content_motivo_select" id="divMotivo"></div>
                </div>
            </div>
            <hr class="clear" />
            <div class="linea_separadora_roja" style="height:2px;"></div>
            <span class="btn_si_stock" style="width:296px;" id="IrPAso2">SIGUIENTE</span>
            <hr class="clear" />
            <br />
        </div>
        <!--FIN-->
        <!--PASO 2-->
        <div id="Paso2">
            <div class="content_reclamo" id="Cambio1" style="display: none; max-width: 890px;">
                <div class="subtitulo_reclamo">Escoge una solución</div>
                <div id="divOperacion">
                    <span class="btn_solución_reclamo">REENVÍO DEL MISMO PRODUCTO</span>
                    <span class="btn_solución_reclamo" id="CambioProducto">CAMBIARLO POR OTRO PRODUCTO</span>
                    <span class="btn_solución_reclamo">DEVOLUCIÓN DEL DINERO</span>
                </div>
                <hr class="clear" />
                <span class="btn_paso_anterior" id="RegresarPaso1">REGRESAR</span>
            </div>
            <!--CAMBIO OTRO PRODUCTO 1-->
            <div class="content_reclamo" id="Cambio2" style="display:none;">
                <div class="subtitulo_reclamo_light">ELEGISTE</div>
                <div class="titulo_belcorp_reclamo">CAMBIARLO POR OTRO PRODUCTO</div>
                <div class="linea_gris" style="height:1px;"></div>
                <div class="texto_reclamo">
                    Puedes cambiarlo por otro producto (s) cuyo monto mínimo sea de S/.15 <br />
                    Búscalo en tus catálogos de Campaña 15:
                </div>
                <input type="text" placeholder="Código" class="codigo_reclamo" id="txtCUV2"/>
                <input type="text" placeholder="Descripción del producto" id="txtCUVDescripcion2" class="descripcion_reclamo" style="width:369px;" />
                <input type="text" placeholder="Precio" class="precio_reclamo" id="txtCUVPrecio" />
                <div class="rango_reclamo">
                    <input type="text" name="Cantidad" id="txtCantidad2" value="1" maxlength="2" class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral valid" onkeypress="PreValidarCUV();" onfocus="SeleccionarContenido(this)">
                    <div class="liquidacion_rango_right_pedido">
                        <a class="mas"><img src="/Content/Images/Esika/mas.png" alt=""></a>
                        <a class="menos"><img src="/Content/Images/Esika/menos.png" alt=""></a>
                    </div>
                </div>
                <hr class="clear" />
                <div class="total_precio_reclamo">Total:</div>
                <hr class="clear" />
                <div class="linea_separadora_roja" style="height:2px;"></div>
                <a class="btn_paso_anterior" href="#" id="RegresarPaso2">REGRESAR</a>
                <a class="btn_si_stock" href="#" style="width:296px;" id="CambioProducto2">CÁMBIALO POR ESTE PRODUCTO</a>
                <hr class="clear" />
            </div>
            <!--FIN-->
            <!--CAMBIO OTRO PRODUCTO 2-->
            <div id="Cambio3">
                <div class="content_reclamo" data-tipo-confirma="cambio" style="display:none;">
                    <div class="subtitulo_reclamo">Confirma tu elección</div>
                    <div class="content_resumen_cambio">
                        <div class="titulo_resumen">VAS A CAMBIAR:</div>
                        <div class="descri_producto_reclamo">
                            00411 <br />
                            <b>Berrylicious shampoo rojo 375 ml</b><br />
                            x2 unidades
                        </div>
                    </div>
                    <div class="indicador_reclamo"></div>
                    <div class="content_resumen_cambio">
                        <div class="titulo_resumen">POR:</div>
                        <div class="descri_producto_reclamo">
                            00411 <br />
                            <b>Berrylicious shampoo rojo 375 ml</b><br />
                            x2 unidades
                        </div>
                    </div>
                    <hr class="clear" />
                    <div class="linea_gris"></div>
                    <div class="mensaje_advertencia_reclamo">
                        <span style="margin-bottom:10px; display:block">TEN EN CUENTA: </span>
                        El intercambio de productos lo realizaremos en el siguiente…<br />
                        Lorem ipsum...
                    </div>
                    <div class="linea_separadora_roja" style="height:2px;"></div>
                    <a class="btn_paso_anterior" href="#" id="RegresarCambio1">REGRESAR</a>
                    <a class="btn_si_stock" href="#" style="width:296px;" id="IrPaso3">ACEPTAR LA SOLUCIÓN</a>
                    <hr class="clear" />
                </div>
                <div class="content_reclamo" id="canje" style="display:none;">
                    <div class="subtitulo_reclamo" style="margin-bottom:15px;">Te proponemos la siguiente solución</div>
                    <div class="titulo_resumen">VAMOS A REENVIARTE EL MISMO PRODUCTO:</div>
                    <div class="descri_producto_reclamo">
                        00411 <br>
                        <b>Berrylicious shampoo rojo 375 ml</b><br>
                        x2 unidades
                    </div>
                    <br />
                    <div class="linea_gris" style="height:1px;"></div>
                    <div class="mensaje_advertencia_reclamo">
                        <span style="margin-bottom:10px; display:block">TEN EN CUENTA: </span>
                        El intercambio de productos lo realizaremos en el siguiente…<br>
                        Lorem ipsum...
                    </div>
                    <div class="linea_separadora_roja" style="height:2px;"></div>
                    <span class="btn_paso_anterior" id="RegresarCambio1">REGRESAR</span>
                    <a class="btn_si_stock" href="#" style="width:296px;" id="IrPaso3">ACEPTAR LA SOLUCIÓN</a>
                    <hr class="clear" />                    
                </div>
            </div>
            <!--FIN-->
        </div>
        <!--PASO 3-->
        <div class="content_reclamo" id="Paso3" style="display:none;">
            <div class="subtitulo_reclamo" style="margin-bottom:0">Revisa el resumen, finaliza y envía tu solicitud</div>
            <div class="texto_reclamo" style="font-size:13px;margin-top:0;">Asegúrate tener todos los incovenientes registrados porque <b>sólo puedes hacer 1 solicitud web por pedido</b></div>
            <div>
                <div class="content_listado_reclamo">
                    <div class="listado_producto_reclamo text_gris_reclamo">PRODUCTO</div>
                    <div class="listado_solicitud_reclamo text_gris_reclamo">SOLICITUD</div>
                    <div class="listado_solicitada_reclamo text_gris_reclamo">SOLUCION SOLICITADA</div>
                    <div class="listado_eliminar_reclamo text_gris_reclamo">ELIMINAR</div>
                </div>
                <div class="linea_separadora"></div>
                <div id="divDetallePaso3">
                    @*<div class="content_listado_reclamo">
                        <div class="listado_producto_reclamo">
                            00411<br />
                            <b>Berrylicious shampoo rojo 375 ml.</b> <br />
                            2 unidades<br />
                            Costo: S/.15.00
                        </div>
                        <div class="listado_solicitud_reclamo"><b>Cambiar por</b></div>
                        <div class="listado_solicitada_reclamo">
                            98765 <br />
                            <b>Máscara Full Size Negro. </b><br />
                            2 unidades <br />
                            Costo: S/.15.00
                        </div>
                        <div class="listado_eliminar_reclamo"><a style="background-image: url('/Content/Images/Esika/tacho-copy.png'); background-repeat:no-repeat; width: 17px; height: 22px; margin: 0 auto;" title="Eliminar"></a></div>
                    </div>*@
                </div>
            </div>           
            <div class="linea_separadora_roja" style="height:2px;"></div>
            <div class="subtitulo_listado">VALIDA TUS DATOS</div>
            <div class="texto_valida_datos">En caso de necesitar contactarnos contigo, lo haremos a traves de:</div>
            <div class="float_left">
                <span class="texto_correo">Correo Electrónico</span>
                @Html.TextBox("txtEmail", (string)Model.Email, new {@class="correo_reclamo"})
                @*<input type="text" class="correo_reclamo" placeholder="demo@gmail.com" id="txtEmail" />*@
            </div>
            <div class="float_left">
                <span class="texto_correo">Teléfono de contacto</span>
                @Html.TextBox("txtTelefono", (string)Model.Telefono, new { @class = "correo_reclamo" })
                @*<input type="text" class="correo_reclamo" placeholder="0123456789" id="txtTelefono" />*@
            </div>
            <hr class="clear" />
            <div class="linea_separadora_roja" style="height:2px;"></div>
            <div class="politica_reclamos" id="btnAceptoPoliticas">Acepto la política de cambios y devoluciones</div>
            <a class="btn_agrega_otro_reclamo" id="IrSolicitudInicial">AGREGA OTRO PRODUCTO A LA SOLICITUD</a>
            <a class="btn_si_stock" href="#" style="width:296px;" id="IrSolicitudEnviada">FINALIZA Y ENVÍA TU SOLICITUD</a>
            <hr class="clear" />
        </div>
        <!--FIN-->
    </div>
    <!--ULTIMAS SOLICITUDES-->
    <div class="UltimasSolicitudes" id="UltimasSolicitudes">
        <div class="titulo_ultimo_soli">Mi solicitud</div>
        <div class="texto_solicitud_ultima">3 productos agregados:</div>
        <br />
        <div class="content_ultima_soli">
            <div class="float_left" style="width:88%;padding-right:5px;">
                <div class="texto_solicitud_ultima">
                    00411<br />
                    Berrylicious shampoo rojo 375 ml.<br />
                    2 unidades
                </div>
            </div>
            <div class="float_left">
                <a style="background-image: url('/Content/Images/Esika/tacho-copy.png');background-repeat:no-repeat;width: 17px;height: 22px;margin: 0 auto; opacity:0.5;" title="Eliminar"></a>
            </div>
        </div>
        <div class="content_ultima_soli">
            <div class="float_left" style="width:88%;padding-right:5px;">
                <div class="texto_solicitud_ultima">
                    00411<br />
                    Berrylicious shampoo rojo 375 ml.<br />
                    2 unidades
                </div>
            </div>
            <div class="float_left">
                <a style="background-image: url('/Content/Images/Esika/tacho-copy.png');background-repeat:no-repeat;width: 17px;height: 22px;margin: 0 auto; opacity:0.5;" title="Eliminar"></a>
            </div>
        </div>
        <a class="btn_ver_solicitudes" href="#" style="width:100px;margin-top:30px;">IR AL FINAL</a>
    </div>
    <!--FIN SOLICITUDES-->
    <!--SOLICITUD ENVIADA-->
    <div class="content_reclamo" id="SolicitudEnviada" style="display:none;">
        <br/><br/>
        <div class="icono_mensaje_alerta icono_check_alerta"></div>
        <div class="texto_mensaje_alerta" id="mensaje_exclamacion_titulo">¡SOLICITUD<b> ENVIADA</b>!</div>
        <div class="sub_texto_alerta" id="mensaje_exclamacion_texto">Vamos a evaluarla y en un plazo de XX horas te enviaremos una respuesta a tu correo electrónico</div>
        <div class="content_btn_imprimir">
            <a class="btn_imprimir_reclamo"> <div class="icono_imprimir_reclamo"></div>IMPRIMIR SOLICITUD</a>
        </div>
        <hr class="clear" />
        <br/>
        <div class="content_sombra_reclamo">
            <div class="subtitulo_reclamo" style="font-weight:400; font-size:21px;">Solicitud de Cambios y Devoluciones</div>
            <hr class="clear" />
            <div style="text-align:center;">
                <div class="detalle_estado_reclamo">Fecha:<b> 10 Oct 2016 </b></div>
                <div class="detalle_estado_reclamo">Solicitud:<b>  Nº 12345678</b></div>
                <div class="detalle_estado_reclamo">Campaña:<b> 2016-15</b></div>
            </div>
            <div class="linea_separadora"></div>
            <!--GRILLA-->
            <div class="grilla_detalle_reclamo">
                <div class="content_listado_reclamo">
                    <div class="listado_producto_reclamo text_gris_reclamo">PRODUCTO</div>
                    <div class="listado_solicitud_reclamo text_gris_reclamo">SOLICITUD</div>
                    <div class="listado_solicitada_reclamo text_gris_reclamo">SOLUCION SOLICITADA</div>
                </div>
                <div id="divDetalleEnviar">
                    @*<div class="content_listado_reclamo">
                        <div class="listado_producto_reclamo">
                            00411<br />
                            <b>Berrylicious shampoo rojo 375 ml.</b> <br />
                            2 unidades<br />
                            Costo: S/.15.00
                        </div>
                        <div class="listado_solicitud_reclamo"><b>Cambiar por</b></div>
                        <div class="listado_solicitada_reclamo">
                            98765 <br />
                            <b>Máscara Full Size Negro. </b><br />
                            2 unidades <br />
                            Costo: S/.15.00
                        </div>
                    </div>
                    <div class="content_listado_reclamo">
                        <div class="listado_producto_reclamo">
                            00411<br />
                            <b>Berrylicious shampoo rojo 375 ml.</b> <br />
                            2 unidades<br />
                            Costo: S/.15.00
                        </div>
                        <div class="listado_solicitud_reclamo"><b>Cambiar por</b></div>
                        <div class="listado_solicitada_reclamo">
                            98765 <br />
                            <b>Máscara Full Size Negro. </b><br />
                            2 unidades <br />
                            Costo: S/.15.00
                        </div>
                    </div>*@
                </div>
            </div>
            <!--FIN GRILLA-->           
        </div>
        <a class="btn_ver_solicitudes" href="#" id="IrDetalleSolicitudes">VER TUS SOLICITUDES</a>
    </div>
    <!--FIN-->
</div>
<div class="mensaje_alerta_belcorp" id="NumeroPedido" style="display: block;">
    <div class="content_mensaje_alerta">
        <a class="btn_cerrar_alerta" href="javascript:;" onclick="javascript: $('#NumeroPedido').hide();"><img src="/Content/Images/cerrar_04.png"></a>
        <hr class="clear">
        <div class="icono_mensaje_alerta icono_exclamacion_alerta"></div>
        <div class="texto_mensaje_alerta" id="mensaje_exclamacion_titulo">ELIGE UN <b>PEDIDO</b> </div>
        <div class="sub_texto_alerta" id="mensaje_exclamacion_texto">Selecciona el pedido en el cual deseas aplicar la solicitud</div>
        <div class="content_botones_pedido" id="divPedido">
            <a class="btn_pedido_white"><b>N° 1604551919</b><br />Fecha: 08/08/2016</a>
            <a class="btn_pedido_black"><b>N° 1604551919</b><br />Fecha: 08/08/2016</a>
        </div>
    </div>
</div>
<script id="template-pedido" type="text/x-handlebars-template">
    {{#each this as |item|}}
    <a class="btn_pedido_white" id="{{item.PedidoID}}"><b>N° {{item.Codigo}}</b><br />Fecha: {{item.FechaPedido}}"</a>
    {{/each}}
</script>
<script id="template-motivo" type="text/x-handlebars-template">
    {{#each this as |item|}}
    <div class="reclamo_motivo_select" id="{{item.Campoid}}">{{item.Nombre}}</div>
    {{/each}}
</script>
<script id="template-operacion" type="text/x-handlebars-template">
    {{#each this as |item|}}
    <span class="btn_solución_reclamo" id="{{item.OperacionID}}">{{item.Descripcion}}</span>
    {{/each}}
</script>
<script id="template-detalle-paso3" type="text/x-handlebars-template">
    @*<div class="content_listado_reclamo">
        <div class="listado_producto_reclamo text_gris_reclamo">PRODUCTO</div>
        <div class="listado_solicitud_reclamo text_gris_reclamo">SOLICITUD</div>
        <div class="listado_solicitada_reclamo text_gris_reclamo">SOLUCION SOLICITADA</div>
        <div class="listado_eliminar_reclamo text_gris_reclamo">ELIMINAR</div>
    </div>
    <div class="linea_separadora"></div>*@
    {{#each this as |item|}}
    <div class="content_listado_reclamo" data-item="{{item.CUV}}">
        <div style="display:none;">
            <input type="hidden" name="id" value="{{item.CDRWebDetalleID}}" />
        </div>
        <div class="listado_producto_reclamo">
            {{item.CUV}}<br />
            <b>{{item.Descripcion}}</b> <br />
            {{item.Cantidad}} unidades<br />
            Costo: {{../Simbolo}} {{item.Precio}}
        </div>
        <div class="listado_solicitud_reclamo"><b>{{item.Solicitud}}</b></div>
        <div class="listado_solicitada_reclamo">
            {{item.CUV2}}<br />
            <b>{{item.Descripcion2}}</b> <br />
            {{item.Cantidad2}} unidades<br />
            Costo: {{../Simbolo}} {{item.Precio2}}
        </div>
        <div class="listado_eliminar_reclamo">
            <a data-accion="x" style="background-image: url('/Content/Images/Esika/tacho-copy.png'); background-repeat:no-repeat; width: 17px; height: 22px; margin: 0 auto;" title="Eliminar"></a>
        </div>
    </div>
    {{/each}}
</script>
@section scripts{

<script type="text/javascript">
    var imgCheck = '@Url.Content("~/Content/Images/Esika/paso_realizado.png")';
</script>
<script src="@Url.Content("~/Scripts/PortalConsultoras/MisReclamos/Reclamo.js")"></script>
}

