@model Portal.Consultoras.Web.Models.MatrizComercialModel
@{
    ViewBag.Title = "Administración Matriz Comercial";
}

<script src="@Url.Content("~/Scripts/fileuploader.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.toast.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/handlebars.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.paging.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/AdminContenido/ToastHelper.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/AdminContenido/Paginador.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/AdminContenido/DescripcionComercial.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/AdminContenido/Nemotecnico.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/AdminContenido/MatrizComercialFileUpload.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/AdminContenido/MatrizComercial.js")" type="text/javascript"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="@Url.Content("~/Content/Css/Toast/jquery.toast.min.css")" rel="stylesheet" />

<script type="text/javascript">
    var paisNombre = "";
    var isoPAIS = "";
    var paisID = 11;
    var matrizComercialObj;
    var numeroImagenesPorPagina = 10;

    jQuery(document).ready(function () {

        matrizComercialObj = MatrizComercial({
            actualizarMatrizComercialAction: '@Url.Action("ActualizarMatrizComercial", "MatrizComercial")',
            getImagesByIdMatrizAction: '@Url.Action("GetImagesByIdMatriz", "MatrizComercial")',
            actualizarNemotecnicoAction: '@Url.Action("ActualizarNemotecnicoMatrizComercial", "MatrizComercial")',
            actualizarDescripcionComercialAction: '@Url.Action("ActualizarDescripcionComercial", "MatrizComercial")',
            getImagesByNemotecnico: '@Url.Action("GetImagesByNemotecnico", "MatrizComercial")',
            numeroImagenesPorPagina: numeroImagenesPorPagina,
            expValidacionNemotecnico: @Html.Raw(Model.ExpValidacionNemotecnico)
        });

        IniDialogMatriz();
        IniDialogDescProducto();
        IniForm();
        $("#btnBuscar").click(function () {
            var msjex = "";

            if ($("#txtCodigoSAP").val() === "")
                msjex += " - Debe ingresar un Código SAP .\n";
            if (isNaN($("#txtCodigoSAP").val()))
                msjex += " - Debe ingresar un Código SAP válido.\n";
            if ($("#ddlPais").val() == "")
                msjex += " - Debe seleccionar un País .\n";
            if (msjex == "") {
                paisNombre = $("#ddlPais option:selected").text();
                paisID = $("#ddlPais").val();
                fnGrilla();
            }
            else {
                alert(msjex);
                return false;
            }
        });

        $(".qq-upload-list").css("display", "none");
        $.ajaxSetup({ cache: false });
        $('#ddlPais').change(function () {
            var Id = $(this).val();
            if (Id != "") {
                paisID = Id;
                waitingDialog({});
                $.getJSON(baseUrl + 'MatrizComercial/ObtenerISOPais', { paisID: paisID }, function (data) {
                    closeWaitingDialog();
                    isoPAIS = data.ISO;
                    matrizComercialObj.actualizarParNemotecnico(data.habilitarNemotecnico);
                });
            } else
                $("#list").jqGrid("clearGridData", true).trigger("reloadGrid");
        });
        $("#lnkAdmDescripcion").click(function () {
            showDialog("DialogCargarDescProducto");
            LimpiarCargaDescProd();
            return false;
        });

        $('#matriz-comercial-dialog').on('click', '#matriz-busqueda-nemotecnico #btnBuscarNemotecnico', matrizComercialObj.buscarNemotecnico);
        $('#matriz-comercial-dialog').on('click', '#matriz-busqueda-nemotecnico #btnLimpiarBusquedaNemotecnico', matrizComercialObj.limpiarBusquedaNemotecnico);

        $.jgrid.extend({
            Editar: matrizComercialObj.editar
        });
    });

    function IniDialogDescProducto() {
        $('#DialogCargarDescProducto').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 480,
            draggable: true,
            title: "Carga de Nombres Completos de Productos",
            buttons:
            {
                "Cargar": function () {
                    $('#frmCargarDescripcion').submit();
                },
                "Cancelar": function () {
                    HideDialog("DialogCargarDescProducto");
                }
            }
        });
    }

    function IniForm() {
        $('#frmCargarDescripcion').ajaxForm({
            beforeSubmit: function () {
                waitingDialog({});
                var fileValue = $('#flDescProd').val();
                var extensiones = ['csv'];
                var get_ext;
                var message = '';
                //validar la extension del archivo
                get_ext = fileValue.split('.');
                get_ext = get_ext.reverse();

                if ($.inArray(get_ext[0].toLowerCase(), extensiones) == -1 && fileValue.length > 0)
                    message = message + '- El tipo de archivo es inválido, asegúrese de seleccionar con extensión (csv).'

                if (message.length > 0) {
                    closeWaitingDialog();
                    alert(message);
                    return false;
                }
            },
            success: fnRespuestaCargaProductos
        });
    }

    function LimpiarCargaDescProd() {
        var divcontainer = $('#flDescProd').closest('div');
        divcontainer.html(divcontainer.html());
    }

    function fnRespuestaCargaProductos(responseText, statusText, xhr, $form) {
        closeWaitingDialog();
        if (checkTimeout(responseText)) {
            $("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
            alert(responseText);
            HideDialog("DialogCargarDescProducto");
        }
    }

    function fnGrilla() {
        jQuery("#list").jqGrid({
            url: baseUrl + "MatrizComercial/ConsultarMatrizComercial",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                paisID: function () { return parseInt($("#ddlPais").val()) },
                codigoSAP: function () { return ($.trim($("#txtCodigoSAP").val())) }
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['', 'Código SAP', 'Descripción Original', 'Descripción', ''],
            colModel: [
                { name: 'IdMatrizComercial', index: 'IdMatrizComercial', width: 20, editable: true, resizable: false, hidden: true },
                { name: 'CodigoSAP', index: 'CodigoSAP', width: 50, editable: true, resizable: false },
                { name: 'DescripcionOriginal', index: 'DescripcionOriginal', width: 210, editable: true, resizable: false },
                { name: 'Descripcion', index: 'Descripcion', width: 0, editable: true, resizable: false, hidden: true },
                { name: 'Options', index: 'Options', width: 40, editable: true, sortable: false, align: 'center', resizable: false, formatter: ShowActions }
            ],
            jsonReader:
                {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: true,
                    cell: "cell",
                    id: "id",
                    ISOPais: 'ISOPais'
                },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'Nombre',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 1170,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function (data) {
                isoPAIS = data.ISOPais;
            },
            gridComplete: function () { }
        });
        jQuery("#list").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');

        function ShowActions(cellvalue, options, rowObject) {
            var Edit = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#list').Editar('" + options.rowId + "','" + rowObject[0] + "');\" >" + "<img src='@Url.Content("~/Content/Images/Edit.png")' alt='Editar Oferta Web' title='Editar Oferta Web' border='0' /></a>";
            return Edit;
        };
    }

    function getCell(id, campo) {
        return jQuery("#list").jqGrid('getCell', id, campo);
    }

    function IniDialogMatriz() {
        $('#matriz-comercial-dialog').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 1020,
            draggable: true,
            title: "Actualización de Matriz",
            buttons:
            {
                "Cerrar": function () {
                    HideDialog("matriz-comercial-dialog");
                }
            }
        });
    }

    function editarNemotecnico(idImagen) {
        matrizComercialObj.editarNemotecnico(idImagen);
    }

    function editarDescripcionComercial(idImagen) {
        matrizComercialObj.editarDescripcionComercial(idImagen);
    }

</script>
<div class="wrap_cab">
    <div class="filtros">
        <div class="elements">
            <div class="div-2">
                <h1>Actualización <span>Matriz</span></h1>
            </div>
            <div class="div-3">
                <div class="titB">País:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.lstPais, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais" })
                </div>
                <div class="titG">Código SAP:</div>
                <div class="selectA borde_redondeado">
                    <input type="text" id="txtCodigoSAP" />
                </div>
                <div class="input_search">
                    <a href="#" id="lnkAdmDescripcion">
                        <img title="Carga de Nombres Completos de Productos" src='@Url.Content("~/Content/Images/add_name_prd.png")' alt="" />
                    </a>
                </div>
            </div>
            <div class="div-3">
                <div class="titB"></div>
                <div class="input_search">
                    <input type="button" value="Buscar" id="btnBuscar" name="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="container clearfix" style="width:1180px;">
        <div class="border-wrapper">
            <table id="list"></table>
            <div id="pager"></div>
        </div>
    </div>
</div>

@Html.Partial("MatrizComercialDialog")
<div id="matriz-comercial-dialog" style="display: none;"></div>

<div id="DialogCargarDescProducto" style="display: none;">
    @using (Html.BeginForm("UpdDescripcionProductoMasivo", "MatrizComercial", FormMethod.Post, new { id = "frmCargarDescripcion", enctype = "multipart/form-data" }))
    {
        <div class="Content_modal">
            <div class="div-3">
                <div class="titC">
                    Archivo :
                </div>
                <div class="selectA borde_redondeado">
                    <input type="file" id="flDescProd" name="flDescProd" />
                </div>
            </div>
            <div class="div-3">
                <div class="titC">
                </div>
                <div class="titAuto" style="text-align:left;">
                    <div>Formato de archivo (*.csv):</div>
                    <div>- Código SAP</div>
                    <div>- Descripción</div>
                </div>
            </div>
        </div>
    }
</div>
<div id="loadingScreen"></div>