@model List<Portal.Consultoras.Web.ServiceContenido.BEBannerInfo>

@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}

@section styles{
    <style type="text/css">
        body {
            background: #FFF !important;
        }
    </style>
}

<div class="row">
    <div class="col-xs-12">
        <ol class="breadcrumb-next upper">
            <li>
                <a href="@Request.UrlReferrer"><i class="icon-angle-left"></i> Volver </a>
            </li>
            <li>|</li>
            <li>
                Novedades de Campaña
            </li>
        </ol>
    </div>
    <div class="clearfix"></div>
</div>

<div class="row">
    <div class="col-xs-12">
        @if (Model.Count > 0)
        {
            var contador = 0;

            <div class="slide-ofertas text-center">

                @foreach (var item in Model)
                {
                    contador++;
                    var creative = item.TipoAccion == 0 ? "Banner" : "Producto";

                    <figure class="mb-20">
                        <input type="hidden" class="bannerId" value="@item.BannerID" />
                        <input type="hidden" class="nameBanner" value="@item.Titulo" />

                        <input type="hidden" class="posicion" value="@item.Nombre-@item.Orden" />
                        
                        <input type="hidden" class="creative" value="@creative" />
                        <a href="javascript:;" onclick="return EnlaceBanner('@item.URL','@item.Titulo','@item.TipoAccion','@item.CuvPedido','@item.CantCuvPedido','@item.BannerID','@contador','@item.Titulo','@item.Nombre',@item.Orden);">
                            <img src="@item.Archivo" alt="@item.Titulo" width="680" height="280" class="img-responsive" />
                        </a>
                    </figure>
                }
            </div>
        }
        else
        {
            <div class="alert-top-icon text-success">
                <i class="icon-exclamation-circle"></i>
                <div>Por el momento no existen novedades de campaña.</div>
            </div>
        }
    </div>
</div>

<!-- POPUP AGREGASTE UNIDADES -->

<div class="contenedor_popup_agregarUnidades" id="dialog_AgregasteUnidades" style="display: none;">
    <div class="popup_agregarUnidades">
        <div class="btn_cerrar_agregarUnidades">
            <a href="javascript:void()" onclick="return $('#dialog_AgregasteUnidades').hide();">
                <img src="@Url.Content("~/Content/Images/cerrar_04.png")" alt=" alternate text" />
            </a>
        </div>
        <div class="contenido_popUp">
            <div class="icono_aprobacion" id="apro_o_excla"></div>
            <h1 class="titulo_agregarUnidades">
                
            </h1>
            <span class="mensaje_agregarUnidades">
                
            </span>
            <button type="button" name="btn_ok" class="btn_ok" onclick="return $('#dialog_AgregasteUnidades').hide();">
                OK
            </button>
        </div>
    </div>
</div>

<!-- FIN AGREGASTE UNIDADES -->

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            TagManagerEnviarOfertas();
        });

        function TagManagerEnviarOfertas() {
            var arrayOfertas = new Array();
            //debugger;
            $("figure.mb-20").each(function () {
                var id = $(this).find(".bannerId").val();
                var name = $(this).find(".nameBanner").val();
                var position = $(this).find(".posicion").val();
                var creative = $(this).find(".creative").val();

                var oferta = {
                    id: id,
                    name: name,
                    position: position,
                    creative: creative
                };

                arrayOfertas.push(oferta);
            });

            if (arrayOfertas.length > 0) {
                dataLayer.push({
                    'event': 'promotionView',
                    'ecommerce': {
                        'promoView': {
                            'promotions': arrayOfertas
                        }
                    }
                });
            }
        }

        ////////

        function ReservadoOEnHorarioRestringido(mostrarAlerta) {
            mostrarAlerta = typeof mostrarAlerta !== 'undefined' ? mostrarAlerta : true;
            var restringido = true;

            $.ajaxSetup({ cache: false });
            jQuery.ajax({
                type: 'GET',
                url: '@Url.Action("ReservadoOEnHorarioRestringido", "Pedido", new { area = "" })',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                async: false,
                success: function (data) {
                    
                    if (checkTimeout(data)) {
                        if (data.success == false)
                            restringido = false;
                        else {

                            if (data.pedidoReservado) {
                                var fnRedireccionar = function () {
                                    ShowLoading();
                                    location.href = '@Url.Action("Validado", "Pedido", new { area = "Mobile" })';
                                }
                                if (mostrarAlerta == true) {
                                    CloseLoading();
                                    alert_msg(data.message, fnRedireccionar);
                                }

                                else fnRedireccionar();

                            }
                            else if (mostrarAlerta == true) alert_msg(data.message);
                        }
                    }
                },
                error: function (error) {
                    console.log(error);
                    alert_msg('Ocurrió un error al intentar validar el horario restringido o si el pedido está reservado. Por favor inténtelo en unos minutos.');
                }
            });
            return restringido;
        }

        function alert_msg(message, fnClose) {
            messageInfoValidado('<span>' + message + '</span>', fnClose);
        }
        function alert_unidadesAgregadas(message, exito) {
            if (exito == 1) {
                $('#dialog_AgregasteUnidades .popup_agregarUnidades .contenido_popUp .titulo_agregarUnidades').html("<b>¡FELICIDADES!</b>");
                $('#dialog_AgregasteUnidades .popup_agregarUnidades .contenido_popUp .mensaje_agregarUnidades').html(message);
            } else {
                $('#dialog_AgregasteUnidades .popup_agregarUnidades .contenido_popUp #apro_o_excla').removeClass("icono_aprobacion");
                $('#dialog_AgregasteUnidades .popup_agregarUnidades .contenido_popUp #apro_o_excla').addClass("icono_exclamacion");
                $('#dialog_AgregasteUnidades .popup_agregarUnidades .contenido_popUp .titulo_agregarUnidades').html("LO <b>SENTIMOS</b>");
                $('#dialog_AgregasteUnidades .popup_agregarUnidades .contenido_popUp .mensaje_agregarUnidades').html(message);
            }
            $('#dialog_AgregasteUnidades').show();
        }
        ////////

        function EnlaceBanner(URL, TrackText, TipoAccion, CUVpedido, CantCUVpedido, Id, Posicion, Titulo, nombre, orden) {
            //r10260215
            dataLayer.push({
                'event': 'promotionClick',
                'ecommerce': {
                    'promoClick': {
                        'promotions': [
                            {
                                'id': Id,
                                'name': Titulo,
                                'position': nombre + "-" + orden,
                                'creative': TipoAccion == 0 ? 'Banner' : 'Producto'
                            }]
                    }
                }
            });


            if (TipoAccion == 0) {
                SetGoogleAnalyticsBannerPrincipal(URL, TrackText, Id, Posicion, Titulo);
            }

            if (TipoAccion == 1) {

                if (ReservadoOEnHorarioRestringido())
                    return;
                else
                    InsertarPedidoCuvBanner(CUVpedido, CantCUVpedido);

                //InsertarPedidoCuvBanner(CUVpedido, CantCUVpedido);
                return false;
            }
        }

        function SetGoogleAnalyticsBannerPrincipal(URL, TrackText, Id, Posicion, Titulo) {
            window.open(URL, '_blank');
            return false;
        }

        function InsertarPedidoCuvBanner(CUVpedido, CantCUVpedido) {
            var item = {
                CUV: CUVpedido,
                CantCUVpedido: CantCUVpedido
            };
            ShowLoading();
            var categoriacad = "";
            var variantcad = "";
            jQuery.ajax({
                type: 'POST',
                url: '@Url.Action("InsertarPedidoCuvBanner", "Pedido", new { area = "" })',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(item),
                async: true,
                success: function (result) {

                    if (!checkTimeout(result)) {
                        CloseLoading();
                        return false;
                    }

                    if (result.success != true) {
                        if (result.message == "")
                            result.message = 'Error al realizar proceso, intentelo mas tarde.';
                        alert_unidadesAgregadas(result.message, 2);
                        CloseLoading();
                        return false;
                    }

                    ActualizarGanancia(result.DataBarra);

                    if (result.oPedidoDetalle.DescripcionEstrategia == null || result.oPedidoDetalle.DescripcionEstrategia == "") { variantcad = "Estándar"; } else { variantcad = result.oPedidoDetalle.DescripcionEstrategia; }
                    if (result.oPedidoDetalle.Categoria == null || result.oPedidoDetalle.Categoria == "") { categoriacad = "Sin Categoría"; } else { categoriacad = result.oPedidoDetalle.Categoria; }

                    dataLayer.push({
                        'event': 'addToCart',
                        'ecommerce': {
                            'add': {
                                'actionField': { 'list': 'Banner marquesina' },
                                'products': [{
                                    'name': result.oPedidoDetalle.DescripcionProd,
                                    'price': result.oPedidoDetalle.PrecioUnidad.toString(),
                                    'brand': result.oPedidoDetalle.DescripcionLarga,
                                    'id': CUVpedido,
                                    'category': categoriacad,
                                    'variant': variantcad,
                                    'quantity': parseInt(CantCUVpedido),
                                    'position': 1
                                }]
                            }
                        }
                    });

                    CloseLoading();
                    alert_unidadesAgregadas(result.message, 1);

                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        CloseLoading();
                        console.log(data);
                    }
                }
            });
        }
    </script>
}