@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Models
@using Portal.Consultoras.Web.Models.Layout

@{
    var menuList = (List<ConfiguracionPaisModel>)ViewBag.MenuContenedor ?? new List<ConfiguracionPaisModel>();
    var menuActivo = (MenuContenedorModel)ViewBag.MenuContenedorActivo ?? new MenuContenedorModel();
}

<div id="seccion-menu-mobile" 
     data-layout="menuContenedor"
     class="container-fluid pl-lg-0 pr-lg-0 layout__header--menuContenedorOfertas">
    <nav id="seccion-fixed-menu" class="mx-auto">
        
        @*@if (menuList.Any() && !@ViewBag.CaminoBrillante)*@
        @if (menuList.Any())
        {
            <div data-layout-menu2="">                 
                <ul class="row flex-row flex-nowrap justify-content-center ml-lg-0 mr-lg-0 subnavegador menu__contenedor__carrusel__wrapper"
                    data-es-suscrita="@ViewBag.EsSuscrita.ToString().ToLower()"
                    data-es-activa="@ViewBag.EsActiva.ToString().ToLower()"
                    data-activo-codigo="@menuActivo.Codigo">

                    @foreach (var menuhijo in menuList)
                    {
                        var claseActivo = menuhijo.Codigo == menuActivo.Codigo ? "activado" : string.Empty;
                        if (ViewBag.EsSuscrita)
                        {
                            claseActivo = menuhijo.Codigo == menuActivo.Codigo ? "default-dorado activado-dorado" : "default-dorado";
                        }
                        var urlMenu = menuhijo.UrlMenu;
                        if (menuhijo.EsMobile)
                        {
                            urlMenu = menuhijo.UrlMenuMobile;
                        }
                        <li class="menu__contenedor__carrusel__item"
                            data-campania="@menuhijo.CampaniaId"
                            data-activo="1"
                            data-codigo="@menuhijo.Codigo"
                            data-es-ancla="@menuhijo.EsAncla"
                            onclick="menuModule.menuClick(this, '@urlMenu')">

                            <a href="javascript:;"
                               class="@claseActivo d-flex flex-row justify-content-center align-items-center menu__contenedor__carrusel__item__link"
                               role="menu"
                               region="Lateral"
                               parent="Contenedor - @menuActivo.NombreOrigenPantalla"
                               title="@menuhijo.MobileTituloMenu">

                                @if (!string.IsNullOrEmpty(menuhijo.DesktopLogoMenu))
                                {
                                    if (menuhijo.Codigo == menuActivo.Codigo)
                                    {
                                        <img src="@menuhijo.DesktopLogoMenu"
                                             alt="Inicio"
                                             class="d-block imgSeleccionado icono-submenu-tabs icono-logo-submenu-tabs"
                                             role="menu"
                                             region="Lateral"
                                             parent="Contenedor - @menuActivo.NombreOrigenPantalla"
                                             title="@menuhijo.MobileTituloMenu" />

                                        <img src="@menuhijo.DesktopLogoMenuNoActivo"
                                             alt="Inicio"
                                             class="d-block imgNoSeleccionado ocultar icono-submenu-tabs icono-logo-submenu-tabs"
                                             role="menu"
                                             region="Lateral"
                                             parent="Contenedor - @menuActivo.NombreOrigenPantalla"
                                             title="@menuhijo.MobileTituloMenu" />
                                    }
                                    else
                                    {
                                        <img src="@menuhijo.DesktopLogoMenuNoActivo"
                                             alt="Inicio"
                                             class="d-block icono-submenu-tabs icono-logo-submenu-tabs"
                                             role="menu"
                                             region="Lateral"
                                             parent="Contenedor - @menuActivo.NombreOrigenPantalla"
                                             title="@menuhijo.MobileTituloMenu" />
                                    }

                                }
                                else
                                {
                                    <p class="text-bold text-uppercase">@menuhijo.MobileTituloMenu</p>
                                }
                            </a>
                        </li>
                    }
                </ul>
            </div>
        }
    </nav>
</div>