@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Areas.Mobile.Models
@using Portal.Consultoras.Web.Helpers

@model EstadoCuentaMobilModel
@{
    var layout =  ViewContext.MobileLayout();
    Layout = string.Format("~/Areas/Mobile/Views/Shared/{0}.cshtml", layout);
}

<div class="titulo_mobile">
    @{  var mobileConfiguracion = Html.MobileAppConfiguracion();
        if (mobileConfiguracion.MostrarBotonAtras)
        {
            <a href="@Request.UrlReferrer" class="enlace_regresar catalogosR" title="Regresar"></a>
        }
    }
    &nbsp;&nbsp;&nbsp;&nbsp;ESTADO DE CUENTA
</div>
<div class="fondo_f2f2f2" style="border-bottom:0; background:white">
    <div class="pestana_esika"></div>
    <div class="pestana_lbel"></div>
</div>

<div class="block-success" style="margin-top:0;padding-top:15px; background:white">
    <div class="text-center">
        MONTO TOTAL A PAGAR <br />
        <div class="text-lg">
            @Model.Simbolo @Model.MontoPagarStr
        </div>
        <br />

        FECHA DE VENCIMIENTO <br />
        <div class="text-lg">
            @Model.FechaVencimiento
        </div>
    </div>
</div>

<div class="header-icon upper">
    <img src="@Url.Content("~/Content/Images/mobile/img-icon/icon-tarjeta.png")" alt="Tarjeta" class="" width="65" height="65" />
    <span class="pcolor">Último pago recibido</span>
</div>

<div class="col-xs-12">
    <div id="ultimoEstadoCuenta" style="display:none;">
        <ul class="lista-movimientos">
            <li>
                <b>@Model.Glosa</b>
                <br />
                <span>@Model.FechaUltimoMovimiento</span>
                <span class="pull-right color_belcorp">@Model.Simbolo @Model.MontoStr</span>
            </li>
        </ul>

        <a href="javascript:;" class="btn_ver_pedido_reservado" onclick="return MostrarOcultarListaEstado();">
            <i id="iconCollpase" class="icon-lg icon-angle-down"></i> Ver listado de movimientos
        </a>
        <br />
    </div>
    <div id="listaEstadoCuenta" style="display: none;">
        <ul class="lista-movimientos">
            @foreach (var item in Model.ListaEstadoCuentaDetalle)
            {
                <li>
                    <div class="mb-10" style="font-size: 14px;"><b>@item.Glosa </b></div>
                    <div style="font-size: 14px;">
                        <span>@item.FechaVencimiento</span>
                        @if (item.TipoMovimiento == Constantes.EstadoCuentaTipoMovimiento.Abono)
                        {
                            <span class="inline-center" style="margin-left: 20px;">Abono</span>
                            <span class="pull-right"><strong>@Model.Simbolo @item.MontoStr</strong></span>
                        }
                        else
                        {
                            <span class="inline-center" style="margin-left: 20px;">Pedido</span>
                            <span class="pull-right text-danger"><strong>@Model.Simbolo @item.MontoStr</strong></span>
                        }
                    </div>
                </li>
            }
        </ul>
        <br />
        <div class="row">
            <a href="javascript:;" class="btn_editar_pedido" onclick="EnviarCorreoConsultora();">
                Enviar listado a mi correo
            </a>
        </div>

        @Html.Hidden("hdn_Correo", Model.CorreoConsultora)
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var urlEnviarCorreo = '@Url.Action("EnviarCorreo", "EstadoCuenta", new { area = "Mobile" })';
        var esIngresoExterno = '@(ViewContext.GetUniqueSession("IngresoExterno") == null ? 0 : 1)';

        $(document).ready(function () {
            if (esIngresoExterno == '1') $("#listaEstadoCuenta").show();
            else $("#ultimoEstadoCuenta").show();
        });

        function EnviarCorreoConsultora() {
            ShowLoading();

            dataLayer.push({
                'event': 'virtualEvent', 'category': 'Estado de cuenta', 'action': 'Enviar email', 'label': 'Detalle estado de cuenta'
            });

            var correo = $.trim($("#hdn_Correo").val());
            if (correo == "") {
                messageInfo("No tiene una cuenta de correo registrada.");
                CloseLoading();
            }

            jQuery.ajax({
                type: 'POST',
                url: urlEnviarCorreo,
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ correo: correo }),
                success: function (data) {
                    if (checkTimeout(data)) {
                        CloseLoading();
                        messageInfo(data.message);
                    }
                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        CloseLoading();
                    }
                }
            });
        }

        function MostrarOcultarListaEstado() {
            dataLayer.push({ 'event': 'virtualEvent', 'category': 'Estado de cuenta', 'action': 'Ver listado', 'label': 'Detalle estado de cuenta' });
            $("#ultimoEstadoCuenta").hide();
            $("#listaEstadoCuenta").fadeIn();
        }
    </script>
}
