@using Newtonsoft.Json
@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Areas.Mobile.Models
@using Portal.Consultoras.Web.Helpers

@model  OfertaProductoPrincipalMobileModel

@{
    var layout = ViewContext.MobileLayout();
    Layout = string.Format("~/Areas/Mobile/Views/Shared/{0}.cshtml", layout);
    var mobileConfiguracion = Html.MobileAppConfiguracion();
}

@section styles{
    <style type="text/css">
        body {
            background: #f5f5f7 !important;
        }
    </style>
}

@{
    if (!mobileConfiguracion.EsAppMobile)
    {
        <div class="wrapper_resumen_mobile sin_padding">

            <div class="encabezado_liquidacion">
                @{
                    if (mobileConfiguracion.MostrarBotonAtras)
                    {
                        <a href="@Request.UrlReferrer" class="enlace_regresar" title="Regresar"></a>
                    }
                }
                <span>@ViewBag.TituloLiqWeb.ToUpper()</span>
            </div>

            <div class="pestana_lbel mobileLiquidaciones"></div>

        </div>
    }
}

<div class="wrapper_resumen_mobile">
    <div class="descripcion_liquidacion_web">
        <h2>APROVECHA ESTOS PRODUCTOS SOLO POR WEB. Se atenderá hasta agotar stock.</h2>
        <span>
            Suma al monto mínimo del pedido, suma la escala de comisión, otorga puntaje. No comisiona. Precio neto consultora. Productos vigentes en @ViewBag.CodigoCampania .
        </span>
    </div>
    <div class="fondo_f5f5f7">
        <div id="liquidacionMobile" class="contenedor_productos_liquidacion">
        </div>
        <div style="text-align:center" class="liquidacion_productos2">
            <img style="display:none;" id="loader" src="@Url.Content("~/Content/Images/loading_spinner.gif")" alt="" width="30" height="31" />
            <div class="clear"></div>
            <br />
            <div id="boton_vermas" class="ver-mas-vertical" style="display:none;">
                <span class="text">VER MÁS</span>
                <span class="icono"></span>
            </div>
            <br />
        </div>
    </div>
</div>

@{
    if (!mobileConfiguracion.EsAppMobile)
    {
        <div class="btn_agregarPedido">
            <form>
                <input type="button" onclick="location.href = '@Url.Action("Index", "Pedido", new { area = "Mobile" })';" name="btnAgregarPedido" value="INGRESA TU PEDIDO" />
            </form>
        </div>
    }
}

<script id="OfertasLiquidacionMobile-template" type="text/x-handlebars-template">
    {{#each this}}
    <div class="content_item_home">
        <div class="liquidacion_item" data-idposicion="{{Posicion}}">
            <input type="hidden" class="TipoOfertaSisID" value="{{TipoOfertaSisID}}" />
            <input type="hidden" class="OfertaProductoID" value="{{OfertaProductoID}}" />
            <input type="hidden" class="claseConfiguracionOfertaID" value="{{ConfiguracionOfertaID}}" />
            <input type="hidden" class="claseMarcaID" value="{{MarcaID}}" />
            <input type="hidden" class="valorCUV" value="{{CUV}}" />
            <input type="hidden" class="clasePrecioUnidad" value="{{PrecioOferta}}" />
            <input type="hidden" class="Stock" value="{{Stock}}" />
            <input type="hidden" class="DescripcionProd" value="{{Descripcion}}" />
            <input type="hidden" class="DescripcionMarca" value="{{DescripcionMarca}}" />
            <input type="hidden" class="DescripcionCategoria" value="{{DescripcionCategoria}}" />
            <input type="hidden" class="DescripcionEstrategia" value="{{DescripcionEstrategia}}" />
            <input type="hidden" class="posicionEstrategia" value="{{Posicion}}" />
            <div class="producto_img_mobile">
                <img data-src="{{ImagenProductoSmall}}" data-lazy-seccion-liquidacion="" />
            </div>
            <div class="producto_nombre_descripcion pb-20">
                <h6>{{DescripcionMarca}}</h6>
                <p class="nombre_producto">{{Descripcion}}</p>
                <div class="producto_precio">
                    <span class="producto_stock">Stock: <span class="claseStock">{{Stock}}</span></span>
                    <span class="producto_precio_oferta"><b>@ViewBag.Simbolo<span id="precio_oferta">{{PrecioString}}</span></b></span>
                </div>
                <hr class="clear" />
                {{#if TieneTallaColor}}
                <a class="boton_liquidacion js-boton_tonotalla" tipo-tonotalla="{{TipoTallaColor}}" data-array-tonostallas="{{TallaColor}}" style="width:218px!important;">
                    {{TextoBotonTallaColor}}
                </a>
                {{else}}
                <div class="liquidacion_rango_home" data-cantidad-contenedor="">
                    <a class="cantidad_menos_home" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
                    <input type="tel" value="1" size="2" maxlength="2" data-input="cantidad" id="txtCantidad" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);">
                    <a class="cantidad_mas_home" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
                </div>
                <div class="clear"></div>
                <a class="boton_Agregalo_home btnAgregarOfertaProducto"> AGREGALO</a>
                {{/if}}
            </div>
        </div>
    </div>
    {{/each}}
</script>

@section scripts
{
    <script type="text/javascript">
        var urlEnHorarioRestringido = '@Url.Action("EnHorarioRestringido", "Pedido", new {area = ""})';
        var urlValidarUnidadesPermitidasPedidoProducto = '@Url.Action("ValidarUnidadesPermitidasPedidoProducto", "OfertaLiquidacion", new { area = "" })';
        var urlObtenerStockActualProducto = '@Url.Action("ObtenerStockActualProducto", "OfertaLiquidacion", new { area = "" })';
        var urlInsertOfertaWebPortal = '@Url.Action("InsertOfertaWebPortal", "OfertaLiquidacion", new { area = "" })';
        var urlActualizarCantidadTotalPedido = '@Url.Action("ObtenerResumenPedido", "OfertaLiquidacion", new { area = "Mobile" })';
        var urlGetJSONLiquidaciones = '@Url.Action("JsonGetOfertasLiquidacion", "OfertaLiquidacion", new { area = "" })';
        var urlReservadoOEnHorarioRestringido = '@Url.Action("ReservadoOEnHorarioRestringido", "Pedido", new { area = "" })';
        var urlPedidoValidado = '@Url.Action("Validado", "Pedido", new { area = "Mobile" })';
        var DesktopLiquidacion = @Constantes.OrigenPedidoWeb.DesktopLandingLiquidacionLiquidacionCarrusel;
        var MobileLiquidacion = @Constantes.OrigenPedidoWeb.MobileLandingLiquidacionLiquidacionCarrusel;
    </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/Mobile/OfertaLiquidacion/Index.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/EstrategiaAgregar/EstrategiaAgregar.js")"></script>
}