@using Portal.Consultoras.Web.Models;
@model Portal.Consultoras.Web.Models.OfertaDelDiaModel

@{
    ConfiguracionSeccionHomeModel configOdd = new ConfiguracionSeccionHomeModel();
    configOdd = ViewBag.configSeccionODD;
}

<style>
    .flip-clock-wrapper .flip{
        box-shadow: 0 2px 5px @(string.IsNullOrEmpty(configOdd.ColorFondo) ? Model.ColorFondo1 : configOdd.ColorFondo) !important;
    }
    .flip-clock-wrapper ul li a div div.inn {
        text-shadow: 0 1px 2px @(string.IsNullOrEmpty(configOdd.ColorFondo) ? Model.ColorFondo1 : configOdd.ColorFondo) !important;
        background-color: @(string.IsNullOrEmpty(configOdd.ColorFondo) ? Model.ColorFondo1 : configOdd.ColorFondo) !important;
        @(string.IsNullOrEmpty(configOdd.ColorTexto) ? "" : "color:" + configOdd.ColorTexto + ";")
    }

    .flip-clock-dot {
        @(string.IsNullOrEmpty(configOdd.ColorTexto) ? "" : "background:" + configOdd.ColorTexto + ";")
    }
</style>
@{
    var estiloFondo = "";

    if (configOdd.UsarImagenFondo && !string.IsNullOrEmpty(configOdd.ImagenFondo))
    {
        estiloFondo = "background: url(" + configOdd.ImagenFondo + ") center center no-repeat; background-size: 100%; height:190px;";
    }
    else
    {
        estiloFondo = "background-color:" + (string.IsNullOrEmpty(configOdd.ColorFondo) ? Model.ColorFondo1 : configOdd.ColorFondo) + "; height: 190px;";
    }
}

<div id="BloqueMobileOfertaDia" class="BloqueOfertaDia bloqueOfertaDia_vistaOfertas" style="@estiloFondo">
    <div style="width:290px; margin:0 auto;" id="content_oferta_dia_mobile">
        <div class="solo_hoy_mobile">
            <img id="img1-solohoy-odd" alt="" src="@Model.ImagenSoloHoy" />
        </div>
        <div class="clock" data-total-seconds="@Model.TeQuedan.TotalSeconds"></div>

        <div class="imagen_set_oferta_mobile">
            <img src="@Model.ImagenBanner" alt="" id="img-banner-odd" />
        </div>


        <div class="float_left" style="width:50%; margin-left:3%;">
            <div class="nombre_set_oferta_mobile" @(string.IsNullOrEmpty(configOdd.ColorTexto) ? "" : "style=color:" + configOdd.ColorTexto + ";")>@Model.NombreOferta <br /><b class="precio_oferta_soloHoy">@ViewBag.Simbolo @Model.PrecioOfertaFormat</b></div>
            @if (Model.ListaOfertas != null)
            {
                if (Model.ListaOfertas.Count > 1)
                {
                    <a class="btn_compralo_ahora" href="#"
                       @(string.IsNullOrEmpty(configOdd.ColorTexto) ? "" : "style=color:" + configOdd.ColorTexto + ";border-color:" + configOdd.ColorTexto + ";")>VER OFERTAS</a>
                }
                else
                {
                    <a class="btn_compralo_ahora" href="#"
                       @(string.IsNullOrEmpty(configOdd.ColorTexto) ? "" : "style=color:" + configOdd.ColorTexto + ";border-color:" + configOdd.ColorTexto + ";")>VER OFERTA</a>
                }
            }
        </div>
        <hr class="clear" />
        <div style="display:none;" id="banner-odd-mobile">
            <input type="hidden" id="tipoestrategia-id-odd" value="@Model.TipoEstrategiaID" />
            <input type="hidden" id="marca-id-odd" value="@Model.MarcaID" />
            <input type="hidden" id="cuv2-odd" value="@Model.CUV2" />
            <input type="hidden" id="limite-venta-odd" value="@Model.LimiteVenta" />
            <input type="hidden" id="flagnueva-odd" value="@Model.FlagNueva" />
            <input type="hidden" id="precio-odd" value="@Model.PrecioOferta" />
            <input type="hidden" id="nombre-odd" value="@Model.NombreOferta" />
            <input type="hidden" id="indmonto-min-odd" value="@Model.IndicadorMontoMinimo" />
            <input type="hidden" id="teimagenmostrar-odd" value="@Model.TipoEstrategiaImagenMostrar" />
            <input type="hidden" id="estrategia-id-odd" value="@Model.EstrategiaID" />
            <input type="hidden" id="marca-descripcion-odd" value="@Model.DescripcionMarca" />
            <input type="hidden" id="tipoestrategia-descripcion-odd" value="@Model.TipoEstrategiaDescripcion" />
        </div>

    </div>
</div>