@model Portal.Consultoras.Web.Models.OfertaDelDiaModel

<div id="BloqueMobileOfertaDia" class="BloqueOfertaDia" style="background-color:@Model.ColorFondo1">
    <div style="width:90%; margin:0 auto;" id="content_oferta_dia_mobile">
        <div class="solo_hoy_mobile">
            <img id="img1-solohoy-odd" alt="" src="@Model.ImagenSoloHoy" />
        </div>
        <div class="imagen_set_oferta_mobile">
            <img src="@Model.ImagenBanner" alt="Solo Hoy" id="img-banner-odd" />
        </div>
        <div class="float_left" style="width:50%; margin-left:1%;">
            <div class="nombre_set_oferta_mobile">@Model.NombreOferta <br /><b>@ViewBag.Simbolo @Model.PrecioOfertaFormat</b></div>

            @if (Model.ListaOfertas.Count > 1)
            {
                <a class="btn_compralo_ahora" href="#">VER MÁS OFERTAS</a>
            }
            else
            {
                <a class="btn_compralo_ahora" href="#">VER OFERTA</a>
            }
        </div>
        <hr class="clear" />
        <input type="hidden" id="tipoestrategia-id-odd" value="@Model.TipoEstrategiaID" />
        <input type="hidden" id="marca-id-odd" value="@Model.MarcaID" />
        <input type="hidden" id="cuv2-odd" value="@Model.CUV2" />
        <input type="hidden" id="limite-venta-odd" value="@Model.LimiteVenta" />
        <input type="hidden" id="flagnueva-odd" value="@Model.FlagNueva" />
        <input type="hidden" id="precio-odd" value="@Model.PrecioOferta" />
        <input type="hidden" id="nombre-odd" value="@Model.NombreOferta" />
        <input type="hidden" id="indmonto-min-odd" value="@Model.IndicadorMontoMinimo" />
        <input type="hidden" id="teimagenmostrar-odd" value="@Model.TipoEstrategiaImagenMostrar" />
        <input type="hidden" id="estrategia-id-odd" value="@Model.EstrategiaID" />
        <input type="hidden" id="marca-descripcion-odd" value="@Model.DescripcionMarca" />
        <input type="hidden" id="tipoestrategia-descripcion-odd" value="@Model.TipoEstrategiaDescripcion" />
    </div>
</div>







