@using Portal.Consultoras.Common
@model Portal.Consultoras.Web.Models.DetalleEstrategiaFichaModel

@{
    Layout = "~/Views/Shared/_MainLayoutResponsive.cshtml";
}

@System.Web.Optimization.Styles.Render("~/Bundle/Css/Responsive/Ficha")
<div id="ImagenDeFondo" class="imagen_fondo_detalle" style="background-image: url('https://cdn1-prd.somosbelcorp.com/Matriz/PE/PE_2019424344_dkvuwesndt.png');"></div>
<section class="contenedor_detalle">
    <div class="row scontenedor_fichas">
        <article class="col-12 col-md-5 ficha_producto">
            <div class="contenedor_imagen">
                <img src="https://cdn1-prd.somosbelcorp.com/Matriz/PE/PE_201907_34059.png" />
                <p>* Foto Referencial</p>
            </div>          
            <div class="redes_sociales">
                Comparte este producto con tus clientes 
                <a href="#">
                    <img src="/Content/Images/Esika/facebook.png" />
                </a>
            </div>
        </article>

        <article class="col-12 col-md-7 ficha_detalle">
            <div class="contenedor_etiquetas">
                <img class="etiqueta_nuevo" src="https://cdn1-prd.somosbelcorp.com/Matriz/PE/PE_2019424281_tfnowzyllw.png" />
            </div>
            <div class="row contenedor_nombre_precio">
                <div class="col-md-8">
                    <div class="nombre_marca">
                        Ésika
                    </div>
                    <div class="descripcion">EAU DE PARFUM VALENTÍA</div>
                </div>
                <div class="col-md-4">
                   xx
                </div>
            </div>
            
        </article>
    </div>
</section>




@section scripts{

    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/Mixto/EstrategiaAgregar")
    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/Mixto/TusClientes")
    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/Mixto/Ficha")
    @*
        <script type="text/javascript">
        var modelPalanca = "@Model.Palanca";
        var modelCampania = "@Model.Campania";
        var modelCuv = "@Model.Cuv";
        var modelOrigen = "@Model.OrigenUrl";
        </script>
        <script src="~/Scripts/PortalConsultoras/DetalleEstrategia/Ficha/Ficha.js"></script>
    *@
}