@using Portal.Consultoras.Common

@{
    @System.Web.Optimization.Styles.Render("~/Bundle/Css/Desktop/Ficha")
    if (System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika").Contains(ViewBag.PaisAnalytics))
    {
        @System.Web.Optimization.Styles.Render("~/Bundle/Css/Desktop/Ficha-Esika")
    }
    else
    {
        @System.Web.Optimization.Styles.Render("~/Bundle/Css/Desktop/Ficha-Lbel")
    }
    <style data-ficha-contenido="ofertadeldia-template-style"></style>
}

<div id="ImagenDeFondo" class="imagen_fondo_detalle"></div>
<div class="contenedor_detalle texto_font">
    <div class="contenedor_fichas">
        <div class="contenedor_ficha_producto" data-item="" data-tag-html="@ViewBag.Campania">
            <div style="display:none;">
                <div id="data-estrategia" data-estrategia=""></div>
            </div>

            <div data-ficha-contenido="ficha_navegar_template"></div>

            <div data-ficha-contenido="ficha_producto_template"></div>
        </div>

        <div class="clear"></div>

        <div data-ficha-contenido="ficha_carrusel_template"></div>

        <div class="clear"></div>

        @Html.Partial("~/Views/DetalleEstrategia/ComponenteDetalleIndividualTemplate.cshtml")

    </div>
</div>

<!-- INIT: Panel cliente-->
<div id="PanelClienteLista" class="contenedor_seleccion" style=" margin-right: -320px; opacity: 0; display:none;">
    <section id="PanelClienteLista_Contenedor"></section>
</div>
<!-- END: Panel cliente-->

<script id="ficha_navegar_template" type="text/x-handlebars-template">
    {{#if_eq TipoAccionNavegar '@Constantes.TipoAccionNavegar.BreadCrumbs'}}

    <ul class="breadcumbs">
        <li data-opcion="{{Inicio.Texto}}"><a href="javascript:;" onclick="eventBreadCumb('{{Inicio.Url}}', '{{Inicio.Texto}}' )">{{Inicio.Texto}}</a></li>
        <li data-opcion="{{Ofertas.Texto}}"><a href="javascript:;" onclick="eventBreadCumb('{{Ofertas.Url}}', '{{Ofertas.Texto}}')">{{Ofertas.Texto}}</a></li>
        {{#IsNullOrEmpty Palanca.Texto '!='}}
        <li data-opcion="{{Palanca.Texto}}"><a href="javascript:;" onclick="eventBreadCumb('{{Palanca.Url}}','{{Palanca.Texto}}')">{{Palanca.Texto}}</a></li>
        {{/IsNullOrEmpty}}
        <li data-opcion="{{Producto.Texto}}"><a href="javascript:;" onclick="eventBreadCumb('{{Producto.Texto}}','{{Producto.Texto}}')" id="estrategia-breadcrumb">{{Producto.Texto}}</a></li>
    </ul>

    {{else if_eq TipoAccionNavegar '@Constantes.TipoAccionNavegar.Volver'}}
    <a class="boton_volver_ficha" href="javascript:;" onclick="javascript: FichaPartialModule.ShowDivFichaResumida(false, true)"> <img src="/Content/Images/mobile/Esika/right-arrow.svg" />Volver</a>
    {{/if_eq}}


</script>

<script id="ficha_carrusel_template" type="text/x-handlebars-template">

    <div id="divFichaCarrusel" class="contenedor_ficha_carrusel">
        <div class="contenedor_carrusel">
            @*<div class="contenedor_linea_carrusel">
                <div class="dibujar_linea dibujar_linea_titulo_carrusel linea_izquierda"></div>
            </div>*@
            <div id="tituloCarrusel" class="titulo_carrusel"></div>
            @*<div class="contenedor_linea_carrusel">
                <div class="dibujar_linea dibujar_linea_titulo_carrusel linea_derecha"></div>
            </div>*@
        </div>
        <!--carrusel-->
        <div class="contenedor_carrusel" data-OrigenPedidoWeb="{{OrigenUrl}}" data-OrigenPedidoWebAgregar="{{OrigenAgregarCarrusel}}">
            <div id="divFichaCarruselProducto" style="text-align:center;"></div>
        </div>
    </div>
</script>

@Html.Partial("~/Views/DetalleEstrategia/_ElegirOpciones.cshtml")
@Html.Partial("~/Views/DetalleEstrategia/ProductoTemplate.cshtml")
@Html.Partial("~/Views/DetalleEstrategia/ResumenOpcionesTemplate.cshtml")
@Html.Partial("~/Views/DetalleEstrategia/ComponentesTemplate.cshtml")
@Html.Partial("~/Views/EstrategiaPersonalizada/template-producto-landing.cshtml")
@Html.Partial("~/Views/DetalleEstrategia/template-ficha-detalle-video.cshtml")
@Html.Partial("~/Views/DetalleEstrategia/ComponenteDetalleTemplate.cshtml")