@using Portal.Consultoras.Common

@{
    @System.Web.Optimization.Styles.Render("~/Bundle/Css/Desktop/Ficha")
    if (System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika").Contains(ViewBag.PaisAnalytics))
    {
        @System.Web.Optimization.Styles.Render("~/Bundle/Css/Desktop/Ficha-Esika")
    }
    else
    {
        @System.Web.Optimization.Styles.Render("~/Bundle/Css/Desktop/Ficha-Lbel")
    }
    <style data-ficha-contenido="ofertadeldia-template-style"></style>
}

<div id="ImagenDeFondo" class="imagen_fondo_detalle"></div>
<div class="contenedor_detalle texto_font">
    <div class="contenedor_fichas">
        <div class="contenedor_ficha_producto" data-item="" data-tag-html="@ViewBag.Campania">
            <div style="display:none;">
                <div id="data-estrategia" data-estrategia=""></div>
            </div>

            <div data-ficha-contenido="ficha_navegar_template"></div>

            <div data-ficha-contenido="ficha_producto_template"></div>
        </div>

        <div class="clear"></div>

        @Html.Partial("~/Views/DetalleEstrategia/ComponenteDetalleIndividualTemplate.cshtml")
        @*<div id="ContenidoProducto" class="contenedor_ficha_tabs">
            <div class="tabla_ficha_tab">
                <div class="row_ficha_tab">
                    <div class="cell_ficha_tab" id="div_ficha_tab1">
                        <div class="contents_ficha_tab active">
                            <input id="ficha_tab_1" class="imput_tab_clean imput_tab" type="radio" name="tabs" data-numTab="1">
                            <label for="ficha_tab_1" class="label_tab">Modo de uso</label>
                        </div>
                    </div>
                    <div class="cell_ficha_tab" id="div_ficha_tab2">
                        <div class="contents_ficha_tab">
                            <input id="ficha_tab_2" class="imput_tab_clean imput_tab" type="radio" data-numTab="2" name="tabs">
                            <label for="ficha_tab_2" class="label_tab">Descubre más</label>
                        </div>
                    </div>
                    <div class="cell_ficha_tab" id="div_ficha_tab3">
                        <div class="contents_ficha_tab">
                            <input id="ficha_tab_3" class="imput_tab_clean imput_tab" type="radio" data-numTab="3" name="tabs">
                            <label for="ficha_tab_3" class="label_tab">Tips de venta</label>
                        </div>
                    </div>
                    <div class="cell_ficha_tab" id="div_ficha_tab4">
                        <div class="contents_ficha_tab">
                            <input id="ficha_tab_4" class="imput_tab_clean imput_tab" type="radio" data-numTab="4" name="tabs">
                            <label for="ficha_tab_4" class="label_tab">Videos</label>
                        </div>
                    </div>
                </div>
            </div>

            <section id="contenido_1" class="seccion_tab">
                <h3>Lorem Ipsum:</h3>
                <p>El labial Color HD Velvet tiene un color mate 5 veces más intenso que hidrata tus labios. Contiene una fórmula con pigmentos de color saturado y microprismas que capturan la luz para amplificar el color. Labial de sensación ligera.</p>
                <h3>Pulso:</h3>
                <p>Posee un poder de seduccón innato que le permite conquistar a cualquier mujer a través de su mirada penetrante y su media sonrisa. Su aspecto puede parecer irreverente pero su elegancia y gestos de caballerosidad lo hacen irresistible. Aún sin conocerlo, puedes saber que</p>
            </section>

            <section id="contenido_2" class="seccion_tab">
                <h3>Labial en barra rouge lintense:</h3>
                <p>El labial Color HD Velvet tiene un color mate 5 veces más intenso que hidrata tus labios. Contiene una fórmula con pigmentos de color saturado y microprismas que capturan la luz para amplificar el color. Labial de sensación ligera.</p>
                <h3>Pulso:</h3>
                <p>Posee un poder de seduccón innato que le permite conquistar a cualquier mujer a través de su mirada penetrante y su media sonrisa. Su aspecto puede parecer irreverente pero su elegancia y gestos de caballerosidad lo hacen irresistible. Aún sin conocerlo, puedes saber que</p>
            </section>

            <section id="contenido_3" class="seccion_tab">
                <h3>Labial en barra rouge lintense:</h3>
                <p>El labial Color HD Velvet tiene un color mate 5 veces más intenso que hidrata tus labios. Contiene una fórmula con pigmentos de color saturado y microprismas que capturan la luz para amplificar el color. Labial de sensación ligera.</p>
                <p>El labial Color HD Velvet tiene un color mate 5 veces más intenso que hidrata tus labios. Contiene una fórmula con pigmentos de color saturado y microprismas que capturan la luz para amplificar el color. Labial de sensación ligera.</p>
                <h3>Pulso:</h3>
                <p>Posee un poder de seduccón innato que le permite conquistar a cualquier mujer a través de su mirada penetrante y su media sonrisa. Su aspecto puede parecer irreverente pero su elegancia y gestos de caballerosidad lo hacen irresistible. Aún sin conocerlo, puedes saber que</p>
                <p>Posee un poder de seduccón innato que le permite conquistar a cualquier mujer a través de su mirada penetrante y su media sonrisa. Su aspecto puede parecer irreverente pero su elegancia y gestos de caballerosidad lo hacen irresistible. Aún sin conocerlo, puedes saber que</p>
            </section>

            <section id="contenido_4" class="seccion_tab tab_video">
                <div class="items_video">
                    <iframe class="video" src="https://www.youtube.com/embed/7QU1nvuxaMA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h3>Audioslave - Like a Stone (Official Video)</h3>
                </div>
                <div class="items_video">
                    <iframe class="video" src="https://www.youtube.com/embed/7QU1nvuxaMA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h3>Audioslave - Like a Stone (Official Video)</h3>
                </div>
                <div class="items_video">
                    <iframe class="video" src="https://www.youtube.com/embed/7QU1nvuxaMA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h3>Audioslave - Like a Stone (Official Video)</h3>
                </div>
            </section>


        </div>*@

        <div class="clear"></div>

        <div data-ficha-contenido="ficha_carrusel_template"></div>

    </div>
</div>

<!-- INIT: Panel cliente-->
<div id="PanelClienteLista" class="contenedor_seleccion" style=" margin-right: -320px; opacity: 0; display:none;">
    <section id="PanelClienteLista_Contenedor"></section>
</div>
<!-- END: Panel cliente-->

<script id="ficha_navegar_template" type="text/x-handlebars-template">
    {{#if_eq TipoAccionNavegar '@Constantes.TipoAccionNavegar.BreadCrumbs'}}

    <ul class="breadcumbs">
        <li data-opcion="{{Inicio.Texto}}"><a href="javascript:;" onclick="eventBreadCumb('{{Inicio.Url}}', '{{Inicio.Texto}}' )">{{Inicio.Texto}}</a></li>
        <li data-opcion="{{Ofertas.Texto}}"><a href="javascript:;" onclick="eventBreadCumb('{{Ofertas.Url}}', '{{Ofertas.Texto}}')">{{Ofertas.Texto}}</a></li>
        {{#IsNullOrEmpty Palanca.Texto '!='}}
        <li data-opcion="{{Palanca.Texto}}"><a href="javascript:;" onclick="eventBreadCumb('{{Palanca.Url}}','{{Palanca.Texto}}')">{{Palanca.Texto}}</a></li>
        {{/IsNullOrEmpty}}
        <li data-opcion="{{Producto.Texto}}"><a href="javascript:;" onclick="eventBreadCumb('{{Producto.Texto}}','{{Producto.Texto}}')" id="estrategia-breadcrumb">{{Producto.Texto}}</a></li>
    </ul>

    {{else if_eq TipoAccionNavegar '@Constantes.TipoAccionNavegar.Volver'}}
    <a class="boton_volver_ficha" href="javascript:;" onclick="javascript: FichaPartialModule.ShowDivFichaResumida(false)"> <img src="/Content/Images/mobile/Esika/right-arrow.svg" />Volver</a>
    {{/if_eq}}


</script>

<script id="ficha_carrusel_template" type="text/x-handlebars-template">

    <div id="divFichaCarrusel" class="contenedor_ficha_carrusel">
        <div class="contenedor_titulo_carrusel">
            <div class="contenedor_linea_carrusel">
                <div class="dibujar_linea dibujar_linea_titulo_carrusel linea_izquierda"></div>
            </div>
            <div id="tituloCarrusel" class="txt_titulo_carrusel"></div>
            <div class="contenedor_linea_carrusel">
                <div class="dibujar_linea dibujar_linea_titulo_carrusel linea_derecha"></div>
            </div>
        </div>
        <!--carrusel-->
        <div class="contenedor_carrusel" data-OrigenPedidoWeb="{{OrigenUrl}}" data-OrigenPedidoWebAgregar="{{OrigenAgregarCarrusel}}">
            <div id="divFichaCarruselProducto" style="text-align:center;"></div>
        </div>
    </div>
</script>

@Html.Partial("~/Views/DetalleEstrategia/_ElegirOpciones.cshtml")
@Html.Partial("~/Views/DetalleEstrategia/ProductoTemplate.cshtml")
@Html.Partial("~/Views/DetalleEstrategia/ResumenOpcionesTemplate.cshtml")
@Html.Partial("~/Views/DetalleEstrategia/ComponentesTemplate.cshtml")
@Html.Partial("~/Views/EstrategiaPersonalizada/template-producto-landing.cshtml")
@Html.Partial("~/Views/DetalleEstrategia/template-ficha-detalle-video.cshtml")
@Html.Partial("~/Views/DetalleEstrategia/ComponenteDetalleTemplate.cshtml")