@using Portal.Consultoras.Common

@model Portal.Consultoras.Web.Models.DetalleEstrategiaFichaModel

@{
    Layout = "~/Views/Shared/_MainLayoutResponsive.cshtml";
}

@System.Web.Optimization.Styles.Render("~/Bundle/Css/Responsive/Ficha")

<style data-ficha-contenido="ofertadeldia-template-style"></style>

<div id="ImagenDeFondo" class="imagen_fondo_detalle" @*style="background-image: url('https://cdn1-prd.somosbelcorp.com/Matriz/PE/PE_2019424344_dkvuwesndt.png');"*@></div>
<section class="contenedor_detalle">
    <div class="container">
        <ul id="breadcrumbs" class="breadcumbs"></ul>
        <div class="row scontenedor_fichas" data-item="" data-tag-html="@ViewBag.Campania" data-OrigenPedidoWeb="@Model.OrigenUrl" data-OrigenPedidoWebAgregar="@Model.OrigenAgregar" data-OrigenPedidoEditar="@Model.CodigoUbigeoPortal">
            <hidden id="data-estrategia" data-estrategia='@Html.Raw(Json.Encode(Model))'></hidden>
            <article id="imagen-estrategia" class="col-12 col-md-5 ficha_producto"></article>
            <article class="col-12 col-md-7 ficha_detalle" @*style="padding-top:75px"*@>
                <div class="ficha_detalle_cuerpo">
                    <div id="estrategia" class="row contenedor_nombre_precio"></div>
                    @*<div class="descripcion_lanzamiento">
                            <p>Déjate seducir por el dulce aroma de la noche</p>
                            <ul class="descripcion_detalle_producto_tono">
                                <li>- 200 ml. / 6,7 fl. oz</li>
                                <li>- 200 ml. / 6,7 fl. oz</li>
                            </ul>
                        </div>*@
                    <div id="componentes" class="producto_componentes" data-codigovariante="@Model.CodigoVariante"></div>

                    @*<div class="tiposytonos_componentes" style="display:none">
                        <buttom class="tono_select_opt">
                            Elige 1 opción
                        </buttom>
                        <div class="tonos_seleccionados">
                            <ul class="tonos_seleccionados_item" data-tono="">
                                <li class="imagen_seleccionado"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201906/E/productos/PE_200095507.jpg" alt=""></li>
                                <li class="titulo_selecionado">
                                    <span class="cantidad_producto_opt">x1 </span>
                                    <span class="descripcion_tipo">Paradisso. Safari adventure</span>
                                </li>
                            </ul>

                            <ul class="tonos_seleccionados_item" data-tono="">
                                <li class="imagen_seleccionado"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201906/E/productos/PE_200095507.jpg" alt=""></li>
                                <li class="titulo_selecionado">
                                    <span class="cantidad_producto_opt">x1 </span>
                                    <span class="descripcion_tipo">Paradisso. Safari adventure</span>
                                </li>
                            </ul>

                            <a class="btn_texto" href="">
                                Cambiar opción
                                <img src="/Content/Images/mobile/Esika/right-arrow.svg" alt="">
                            </a>
                        </div>

                        <div class="content_tonos_maquillaje">
                            <div class="content_tono_detalle">
                                <img src="https://somosbelcorpqa.s3.amazonaws.com/ImagenesPortal/SinImagenTonosyTipos.jpg">
                            </div>
                            <div class="content_tono_detalle">
                                <img src="https://somosbelcorpqa.s3.amazonaws.com/ImagenesPortal/SinImagenTonosyTipos.jpg">
                            </div>

                            <div class="content_tono_detalle">
                                <img src="https://somosbelcorpqa.s3.amazonaws.com/ImagenesPortal/SinImagenTonosyTipos.jpg">
                            </div>
                            <div class="content_tono_detalle">
                                <img src="https://somosbelcorpqa.s3.amazonaws.com/ImagenesPortal/SinImagenTonosyTipos.jpg">
                            </div>
                            <div class="content_tono_detalle">
                                <img src="https://somosbelcorpqa.s3.amazonaws.com/ImagenesPortal/SinImagenTonosyTipos.jpg">
                            </div>
                            <div class="content_tono_detalle">
                                <img src="https://somosbelcorpqa.s3.amazonaws.com/ImagenesPortal/SinImagenTonosyTipos.jpg">
                            </div>
                            <div class="content_tono_detalle">
                                <img src="https://somosbelcorpqa.s3.amazonaws.com/ImagenesPortal/SinImagenTonosyTipos.jpg">
                            </div>
                            <div class="content_tono_detalle">
                                <img src="https://somosbelcorpqa.s3.amazonaws.com/ImagenesPortal/SinImagenTonosyTipos.jpg">
                            </div>
                            <div class="content_tono_detalle">
                                <img src="https://somosbelcorpqa.s3.amazonaws.com/ImagenesPortal/SinImagenTonosyTipos.jpg">
                            </div>
                            <div class="content_tono_detalle tono_agotado">
                                <img src="https://somosbelcorpqa.s3.amazonaws.com/ImagenesPortal/SinImagenTonosyTipos.jpg">
                            </div>
                            <div class="content_tono_detalle tono_agotado">
                                <img src="https://somosbelcorpqa.s3.amazonaws.com/ImagenesPortal/SinImagenTonosyTipos.jpg">
                            </div>
                        </div>
                    </div>*@
                </div>
                <!--Botón Agregar-->
                <div id="dvContenedorAgregar" class="contenedor_agregar"></div>
                <!--Fin Botón Agregar-->
            </article>
        </div>

        <div id="contenedor-tabs-ficha-enriquecida" class="ficha_enriquecida_contenedor"></div>

        @*<div id="compartir-estrategia" class="share" style="display:none"></div>*@
    </div>
</section>

@Html.Partial("~/Views/DetalleEstrategia/FichaResponsive/Estrategia/breadcrumbs-template.cshtml")
@Html.Partial("~/Views/DetalleEstrategia/FichaResponsive/Estrategia/imagen-estrategia-template.cshtml")
@Html.Partial("~/Views/DetalleEstrategia/FichaResponsive/Estrategia/estrategia-template.cshtml")
@Html.Partial("~/Views/DetalleEstrategia/FichaResponsive/Estrategia/agregar-estrategia-template.cshtml")
@Html.Partial("~/Views/Shared/_template-ofertadeldia-style.cshtml")
@*@Html.Partial("~/Views/DetalleEstrategia/FichaResponsive/Estrategia/compartir-estrategia-template.cshtml")*@
@Html.Partial("~/Views/DetalleEstrategia/FichaResponsive/FichaEnriquecida/tabs-ficha-enriquecida-template.cshtml")
@Html.Partial("~/Views/DetalleEstrategia/FichaResponsive/FichaEnriquecida/popup-ficha-enriquecida-template.cshtml")
@Html.Partial("~/Views/DetalleEstrategia/FichaResponsive/Componente/componente-estrategia-template.cshtml")
@Html.Partial("~/Views/DetalleEstrategia/FichaResponsive/Componente/modal-tipos-tonos.cshtml")
@Html.Partial("~/Views/DetalleEstrategia/FichaResponsive/Componente/tipos-tonos-componente-template.cshtml")
@Html.Partial("~/Views/DetalleEstrategia/FichaResponsive/Componente/tipos-tonos-seleccionados-template.cshtml")
@Html.Partial("~/Views/DetalleEstrategia/FichaResponsive/Componente/resumen-componente-template.cshtml")

@section scripts{
    @System.Web.Optimization.Scripts.Render("~/Scripts/flipclock.js")
    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/Mixto/EstrategiaAgregar")
    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/Mixto/TusClientes")
    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/Mixto/Ficha")

    <script type="text/javascript">
    var params = {
        palanca: "@Model.Palanca",
        campania: "@Model.Campania",
        cuv: "@Model.Cuv",
        origen: "@Model.OrigenUrl",
    };
    </script>

    <script src="~/Scripts/PortalConsultoras/DetalleEstrategia/DetalleEstrategiaProvider.js"></script>

    <script src="~/Scripts/PortalConsultoras/DetalleEstrategia/FichaResponsive/Estrategia/EstrategiaView.js"></script>
    <script src="~/Scripts/PortalConsultoras/DetalleEstrategia/FichaResponsive/Estrategia/EstrategiaPresenter.js"></script>

    <script src="~/Scripts/PortalConsultoras/DetalleEstrategia/FichaResponsive/Componentes/ComponentesPresenter.js"></script>
    <script src="~/Scripts/PortalConsultoras/DetalleEstrategia/FichaResponsive/Componentes/ComponentesView.js"></script>

    <script src="~/Scripts/PortalConsultoras/DetalleEstrategia/FichaResponsive/FichaEnriquecida/FichaEnriquecidaView.js"></script>
    <script src="~/Scripts/PortalConsultoras/DetalleEstrategia/FichaResponsive/FichaEnriquecida/FichaEnriquecidaPresenter.js"></script>

    @*<script src="~/Scripts/PortalConsultoras/DetalleEstrategia/FichaResponsive/Cliente/ClientePresenter.js"></script>
        <script src="~/Scripts/PortalConsultoras/DetalleEstrategia/FichaResponsive/Cliente/ClienteView.js"></script>*@

    <script src="~/Scripts/PortalConsultoras/DetalleEstrategia/FichaResponsive/FichaResponsiveEvents.js"></script>
    <script src="~/Scripts/PortalConsultoras/DetalleEstrategia/FichaResponsive/FichaResponsive.js"></script>
}