@using Portal.Consultoras.Common
@model Portal.Consultoras.Web.Models.DetalleEstrategiaFichaModel

@{
    Layout = "~/Views/Shared/_MainLayoutResponsive.cshtml";
}

@System.Web.Optimization.Styles.Render("~/Bundle/Css/Responsive/Ficha")

<div id="ImagenDeFondo" class="imagen_fondo_detalle" style="background-image: url('https://cdn1-prd.somosbelcorp.com/Matriz/PE/PE_2019424344_dkvuwesndt.png');"></div>
<section class="contenedor_detalle">
    <div class="container">
        <ul class="breadcumbs">
            <li><a href="">Inicio</a></li>
            <li><a href="">Gana +</a></li>
            <li><a href="">Lo nuevo ¡Nuevo!</a></li>
            <li><a href="">EAU DE PARFUM...</a></li>
        </ul>
        <div class="row scontenedor_fichas">
            <article class="col-12 col-md-5 ficha_producto">
                <div class="contenedor_imagen">
                    <div>
                        <img src="https://cdn1-prd.somosbelcorp.com/Matriz/PE/PE_201907_34059.png" />
                    </div>
                    <p>* Foto Referencial</p>
                </div>
                <div class="redes_sociales">
                    Comparte este producto con tus clientes
                    <a href="#">
                        <img src="/Content/Images/Esika/facebook.png" />
                    </a>
                </div>
            </article>

            <article class="col-12 col-md-7 ficha_detalle" style="padding-top:75px">
                
                <div class="ficha_detalle_cuerpo">
                    <div class="row contenedor_nombre_precio">
                        <div class="col-md-8">
                            <div class="nombre_marca">
                                Ésika
                            </div>
                            <div class="descripcion">EAU DE PARFUM VALENTÍA</div>
                        </div>
                        <div class="col-md-4 text-md-right">
                            <div class="precio_venta_oferta">
                                Precio para ti <span>S/. 16.90</span>
                            </div>
                            <div class="precio_valorizado">
                                Para tu cliente: <span>S/. 26.90</span>
                            </div>
                            <div class="ganancia">
                                Gana hasta: <span>S/. 10.00</span>
                            </div>
                        </div>
                    </div>
                    @*<div class="descripcion_lanzamiento">
                <p>Déjate seducir por el dulce aroma de la noche</p>
                <ul class="descripcion_detalle_producto_tono">
                    <li>- 200 ml. / 6,7 fl. oz</li>
                    <li>- 200 ml. / 6,7 fl. oz</li>
                </ul>
            </div>*@
                    <div class="producto_componentes">
                        <h3 class="contenido_titulo">CONTENIDO:</h3>
                        <div class="detalle_producto">
                            <ul class="detalle_producto_detalle">
                                <li>x 1</li>
                                <li>Rouge L'Intense Rouge L'Intense. Safran 7 g e. 24 o </li>
                            </ul>
                            <a id="btnVerDetalle" class="button_ver_detalle">
                                Ver detalle <img src="/Content/Images/mobile/Esika/right-arrow.svg" alt="">
                            </a>
                        </div>
                        <hr class="componentes_separador" />
                        <div class="detalle_producto">
                            <ul class="detalle_producto_detalle">
                                <li>x 1</li>
                                <li>Rouge L'Intense Rouge 7 g e. 24 o </li>
                            </ul>
                            <a id="btnVerDetalle" class="button_ver_detalle">
                                Ver detalle <img src="/Content/Images/mobile/Esika/right-arrow.svg" alt="">
                            </a>

                            <div class="tiposytonos_componentes">
                                <buttom class="tono_select_opt">
                                    ELIGE 1 OPCIÓN
                                </buttom>
                                <div class="tonos_seleccionados">
                                    <ul class="tonos_seleccionados_item" data-tono="">
                                        <li class="imagen_seleccionado"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201906/E/productos/PE_200095507.jpg" alt=""></li>
                                        <li class="titulo_selecionado">
                                            <span class="cantidad_producto_opt">x1 </span>
                                            <span class="descripcion_tipo">Paradisso. Safari adventure</span>
                                        </li>
                                    </ul>

                                    <ul class="tonos_seleccionados_item" data-tono="">
                                        <li class="imagen_seleccionado"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201906/E/productos/PE_200095507.jpg" alt=""></li>
                                        <li class="titulo_selecionado">
                                            <span class="cantidad_producto_opt">x1 </span>
                                            <span class="descripcion_tipo">Paradisso. Safari adventure</span>
                                        </li>
                                    </ul>

                                    <a class="btn_cambiar_opciones" href="">
                                        Cambiar opción
                                        <img src="/Content/Images/mobile/Esika/right-arrow.svg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <hr class="componentes_separador" />
                        <div class="detalle_producto">
                            <ul class="detalle_producto_detalle">
                                <li>x 1</li>
                                <li>Rouge L'Intense Rouge L'Intense Rouge L'Inte. Safran 7 g e. 24 o </li>
                            </ul>
                            <a id="btnVerDetalle" class="button_ver_detalle">
                                Ver detalle <img src="/Content/Images/mobile/Esika/right-arrow.svg" alt="">
                            </a>
                        </div>
                    </div>

                    <div class="tiposytonos_componentes">
                        <buttom class="tono_select_opt">
                            ELIGE 1 OPCIÓN
                        </buttom>
                        <div class="tonos_seleccionados">
                            <ul class="tonos_seleccionados_item" data-tono="">
                                <li class="imagen_seleccionado"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201906/E/productos/PE_200095507.jpg" alt=""></li>
                                <li class="titulo_selecionado">
                                    <span class="cantidad_producto_opt">x1 </span>
                                    <span class="descripcion_tipo">Paradisso. Safari adventure</span>
                                </li>
                            </ul>

                            <ul class="tonos_seleccionados_item" data-tono="">
                                <li class="imagen_seleccionado"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201906/E/productos/PE_200095507.jpg" alt=""></li>
                                <li class="titulo_selecionado">
                                    <span class="cantidad_producto_opt">x1 </span>
                                    <span class="descripcion_tipo">Paradisso. Safari adventure</span>
                                </li>
                            </ul>

                            <a class="btn_cambiar_opciones" href="">
                                Cambiar opción
                                <img src="/Content/Images/mobile/Esika/right-arrow.svg" alt="">
                            </a>
                        </div>

                        <div class="content_tonos_maquillaje">
                            <div class="content_tono_detalle">
                                <img src="https://somosbelcorpqa.s3.amazonaws.com/ImagenesPortal/SinImagenTonosyTipos.jpg">
                            </div>
                            <div class="content_tono_detalle">
                                <img src="https://somosbelcorpqa.s3.amazonaws.com/ImagenesPortal/SinImagenTonosyTipos.jpg">
                            </div>

                            <div class="content_tono_detalle">
                                <img src="https://somosbelcorpqa.s3.amazonaws.com/ImagenesPortal/SinImagenTonosyTipos.jpg">
                            </div>
                            <div class="content_tono_detalle">
                                <img src="https://somosbelcorpqa.s3.amazonaws.com/ImagenesPortal/SinImagenTonosyTipos.jpg">
                            </div>
                            <div class="content_tono_detalle">
                                <img src="https://somosbelcorpqa.s3.amazonaws.com/ImagenesPortal/SinImagenTonosyTipos.jpg">
                            </div>
                            <div class="content_tono_detalle">
                                <img src="https://somosbelcorpqa.s3.amazonaws.com/ImagenesPortal/SinImagenTonosyTipos.jpg">
                            </div>
                            <div class="content_tono_detalle">
                                <img src="https://somosbelcorpqa.s3.amazonaws.com/ImagenesPortal/SinImagenTonosyTipos.jpg">
                            </div>
                            <div class="content_tono_detalle">
                                <img src="https://somosbelcorpqa.s3.amazonaws.com/ImagenesPortal/SinImagenTonosyTipos.jpg">
                            </div>
                            <div class="content_tono_detalle">
                                <img src="https://somosbelcorpqa.s3.amazonaws.com/ImagenesPortal/SinImagenTonosyTipos.jpg">
                            </div>
                            <div class="content_tono_detalle">
                                <img src="https://somosbelcorpqa.s3.amazonaws.com/ImagenesPortal/SinImagenTonosyTipos.jpg">
                            </div>
                            <div class="content_tono_detalle">
                                <img src="https://somosbelcorpqa.s3.amazonaws.com/ImagenesPortal/SinImagenTonosyTipos.jpg">
                            </div>
                        </div>
                    </div>
                </div>




                <!--Botón Agregar-->
                <div id="dvContenedorAgregar" class="contenedor_agregar">
                    <div data-selecciontono="tooltip" class="popover top tooltip_agregar_desabilitado" role="tooltip" id="" style="display: none;">
                        <div class="arrow" style="left: 20%;"></div>
                        <div class="popover-content">
                            <ul class="list-inline popover_texto">
                                <li><img class="icon_alerta" src="/Content/Images/Mobile/Esika/icono-alerta.svg" alt=""></li>
                                <li>Debes elegir tus opciones para poder agregar la oferta.</li>
                            </ul>
                        </div>
                    </div>
                    <div data-limitepedido="tooltip" class="popover top tooltip_limite_pedidos" role="tooltip" id="" style="display: none;">
                        <div class="arrow"></div>
                        <div class="popover-content">
                            <ul class="list-inline popover_texto">
                                <li><img class="icon_alerta" src="/Content/Images/Mobile/Esika/icono-alerta.svg" alt=""></li>
                                <li>Lo sentimos <img class="tooltop-emoji" src="/Content/Images/Mobile/Esika/1f615.png"> Has llegado al límite de pedidos para esta oferta.</li>
                            </ul>
                        </div>
                    </div>

                    <div class="contenedor_rangos " id="idcontenedor_rangos" data-cantidad-contenedor="">
                        <input class="txt_cantidad_pedido ValidaNumeral ValidaPasteNumeral" type="text" value="1" onkeyup="EstrategiaAgregarModule.ValidaCantidad(event);" size="2" maxlength="2" id="txtCantidad" data-input="cantidad" data-cantidad-input="-">
                        <div>
                            <a class="txt_menos" data-cantidad-agregar="-" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)">
                                <div class="dibujar_linea dibujar_menos"></div>
                            </a>
                            <a class="txt_mas" data-cantidad-agregar="+" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)">
                                <div class="dibujar_linea dibujar_mas"></div>
                            </a>
                        </div>
                    </div>
                    <a id="btnAgregalo" class="btn_agregalo">AGRÉGALO</a>

                    <div class="ficha_div_libre_agregado">
                        <div id="ContenedorAgregado" class="ficha_agregado" style="display:none;">
                            <div class="txt_agregado" data-txt_agregado="">
                                <span class="span_agregado">AGREGADO</span>
                                <div class="check_agregado">
                                    <div class="dibujar_linea dibujar_check_agregado"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Fin Botón Agregar-->

                <div class="share" style="display:none">
                    <p>Comparte el producto con tus clientes</p>
                    <ul class="share_items">
                        <li>
                            <a href="#"><img src="/Content/Images/showroom/redes_whatsapp.png"></a>
                        </li>
                        <li>
                            <a href="#"><img src="/Content/Images/showroom/redes_facebook.png" /></a>
                        </li>
                    </ul>
                </div>
            </article>
        </div>
    </div>
</section>



<section id="popup_tonos" class="popup_lateral">
    <button class="button_cerrar">
        <img src="/Content/Images/mobile/Esika/close-button.svg" alt="">
    </button>

    <div class="header_fixed">
        <div class="seleccion_header" id="contendor-titulo-opciones">
            <h3>Elige 1 opción</h3>
            @*<h3>¡Listo! <span>ya tienes tu</span> opción</h3>*@
            <p>0 seleccionados</p>
        </div>
        <div class="contenedor_selecionados" id="contenedor-opciones-seleccionadas">
            <div class="selecionados_carrosel" id="opciones-seleccionadas">
                <article class="item_selecionado">
                    <div>
                        <button class="item_selecionado_close">
                            <img src="/Content/Images/mobile/Esika/close-button-white.svg" alt="">
                        </button>
                        <img class="item_selecionado_img" src="https://s3.amazonaws.com/catalogodigitalbelcorp/PE/201908/L/productos/bulk/PE_200082700_B.jpg" alt="">
                        <span>Safran</span>
                    </div>
                </article>
            </div>
        </div>
    </div>

    <div class="seleccion_main" style="height: 485px;">
        <article class="selecion_item">
            <div class="seleccion_img">
                <img src="https://s3.amazonaws.com/catalogodigitalbelcorp/PE/201908/C/productos/PE_200092022.jpg" alt="">
            </div>
            <div class="seleccion_title">miss sexy shine</div>
            <div class="contenedor_rangos " id="idcontenedor_rangos" data-cantidad-contenedor="">
                <input class="txt_cantidad_pedido ValidaNumeral ValidaPasteNumeral" type="text" value="1" onkeyup="EstrategiaAgregarModule.ValidaCantidad(event);" size="2" maxlength="2" id="txtCantidad" data-input="cantidad" data-cantidad-input="-">
                <div>
                    <a class="txt_menos" data-cantidad-agregar="-" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)">
                        <div class="dibujar_linea dibujar_menos"></div>
                    </a>
                    <a class="txt_mas" data-cantidad-agregar="+" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)">
                        <div class="dibujar_linea dibujar_mas"></div>
                    </a>
                </div>
            </div>
        </article>
        <article class="selecion_item">
            <div class="seleccion_img">
                <img src="https://s3.amazonaws.com/catalogodigitalbelcorp/PE/201908/C/productos/PE_200092022.jpg" alt="">
            </div>
            <div class="seleccion_title">miss sexy shine</div>
            <button>
                Elígelo
            </button>
        </article>
        <article class="selecion_item">
            <div class="seleccion_img">
                <img src="https://s3.amazonaws.com/catalogodigitalbelcorp/PE/201908/C/productos/PE_200092022.jpg" alt="">
            </div>
            <div class="seleccion_title">miss sexy shine</div>
            <button>
                Elígelo
            </button>
        </article>
        <article class="selecion_item">
            <div class="seleccion_img">
                <img src="https://s3.amazonaws.com/catalogodigitalbelcorp/PE/201908/C/productos/PE_200092022.jpg" alt="">
            </div>
            <div class="seleccion_title">miss sexy shine</div>
            <button class="active">
                Elígelo
            </button>
        </article>
        <article class="selecion_item">
            <div class="seleccion_img">
                <img src="https://s3.amazonaws.com/catalogodigitalbelcorp/PE/201908/C/productos/PE_200092022.jpg" alt="">
            </div>
            <div class="seleccion_title">miss sexy shine</div>
            <button>
                Elígelo
            </button>
        </article>
        <article class="selecion_item">
            <div class="seleccion_img">
                <img src="https://s3.amazonaws.com/catalogodigitalbelcorp/PE/201908/C/productos/PE_200092022.jpg" alt="">
            </div>
            <div class="seleccion_title">miss sexy shine</div>
            <button class="disabled">
                Elígelo
            </button>
        </article>
        <article class="selecion_item">
            <div class="seleccion_img">
                <img src="https://s3.amazonaws.com/catalogodigitalbelcorp/PE/201908/C/productos/PE_200092022.jpg" alt="">
            </div>
            <div class="seleccion_title">miss sexy shine</div>
            <button>
                Elígelo
            </button>
        </article>
        <article class="selecion_item">
            <div class="seleccion_img">
                <img src="https://s3.amazonaws.com/catalogodigitalbelcorp/PE/201908/C/productos/PE_200092022.jpg" alt="">
            </div>
            <div class="seleccion_title">miss sexy shine</div>
            <button>
                Elígelo
            </button>
        </article>
        <article class="selecion_item">
            <div class="seleccion_img">
                <img src="https://s3.amazonaws.com/catalogodigitalbelcorp/PE/201908/C/productos/PE_200092022.jpg" alt="">
            </div>
            <div class="seleccion_title">miss sexy shine</div>
            <button>
                Elígelo
            </button>
        </article>

    </div>

    <div class="aplicar_seleccion" id="contenedor-aplicar-seleccion">
        <button id="btn-aplicar-seleccion" class="active">APLICAR SELECCIÓN</button>
    </div>
</section>





@section scripts{

    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/Mixto/EstrategiaAgregar")
    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/Mixto/TusClientes")
    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/Mixto/Ficha")
    @*
        <script type="text/javascript">
        var modelPalanca = "@Model.Palanca";
        var modelCampania = "@Model.Campania";
        var modelCuv = "@Model.Cuv";
        var modelOrigen = "@Model.OrigenUrl";
        </script>
        <script src="~/Scripts/PortalConsultoras/DetalleEstrategia/Ficha/Ficha.js"></script>
    *@

<script>
    $(document).ready(function () {

        function modal_lateral(id, disparador) {   

            if ($("body").find(".modal-fondo").length == 0) {
                $("body").append('<div class="modal-fondo" style="opacity: 0.8; display:none"></div>'); 
            };

            $(disparador).on("click", function () {
                $("body").css('overflow', 'hidden');
                $('.modal-fondo').css('opacity', '.8');
                $('.modal-fondo').show();
                $(id).addClass("popup_active");  
            });

            var selector_cerrar = id + " .button_cerrar"
            function cerra_modal() {
                $(id).removeClass('popup_active')
                $('.modal-fondo').css('opacity', '0');
                $('.modal-fondo').hide();
                $("body").css('overflow', 'auto');
            }

            $(selector_cerrar).on("click", function () {
                cerra_modal();    
            });

            $(document).on('keyup', function (evt) {
                if (evt.keyCode == 27) {
                    cerra_modal();
                }
            });
        };

        modal_lateral("#popup_tonos", ".tono_select_opt");
    });
</script>
}