@using Portal.Consultoras.Common

@model Portal.Consultoras.Web.Models.DetalleEstrategiaFichaModel

@{
    Layout = "~/Views/Shared/_MainLayoutResponsive.cshtml";
}

@section css{
    @System.Web.Optimization.Styles.Render("~/Bundle/Css/Responsive/Ficha")
}

<style data-ficha-contenido="ofertadeldia-template-style"></style>

<section class="seccion_ficha">
    <div id="ImagenDeFondo" class="imagen_fondo_detalle" @*style="background-image: url('https://cdn1-prd.somosbelcorp.com/Matriz/PE/PE_2019424344_dkvuwesndt.png');"*@></div>
    <div id="ContenedorFicha" class="contenedor_detalle container">
        <ul id="breadcrumbs" class="breadcumbs"></ul>
        <div class="row scontenedor_fichas"
             data-item=""
             data-tag-html="@Model.Campania"
             data-OrigenPedidoWeb="@Model.OrigenUrl"
             data-OrigenPedidoWebAgregar="@Model.OrigenAgregar"
             data-OrigenPedidoEditar="@Model.CodigoUbigeoPortal">
            <div style="display:none;">
                <hidden id="data-estrategia" data-estrategia='@Html.Raw(Json.Encode(Model))'></hidden>
            </div>
            <article id="imagen-estrategia" class="col-12 col-md-5 ficha_producto"></article>
            <article class="col-12 col-md-7 ficha_detalle">
                <div class="ficha_detalle_cuerpo">
                    <div id="estrategia" class="row contenedor_nombre_precio"></div>
                    <div id="componentes" class="producto_componentes" data-codigovariante="@Model.CodigoVariante"></div>
                </div>
                <div class="fixme_button"></div>
                <div id="dvContenedorAgregar" class="contenedor_agregar contenedor_fixed"></div>
            </article>
        </div>
        @*<div id="compartir-estrategia" class="share" style="display:none"></div>*@
    </div>
</section>

<div class="contenedor_seccion_fichas">
    <section class="seccion_ficha" id="divFichaCarrusel_UpSelling">
        <div class="contenedor_detalle container">
            <h2 class="titulo_seccion"></h2>
            <div class="carousel_ficha carrusel_seccion"></div>
        </div>
    </section>

    <!--<FichaPromociones ticket="tesla-178">-->
    <div class="ficha-promociones d-sm-block d-md-none" data-selector="open-modal" style="display:none;">
        <div class="titulo-promociones">
            <span class="texto-promociones"> Promocion </span>
        </div>
        <div class="descripcion-promociones">
            <span class="texto-promociones">Lleva un reloj Chronograph comprando uno de estos productos en oferta.</span>
            <div class="contenedor-imagen">
                <img src="https://belc-bigdata-mdm-images-qas.s3.amazonaws.com/images/FotoProductoWebRedes/Esika_Talco_Perfumado_Expression_Cuidado_Personal_FotoProducto.jpg" alt="Texto" class="img-responsive" />
            </div>
        </div>
    </div>
    <!--</FichaPromociones">-->

    <section class="seccion_ficha" id="divFichaEnriquecida" style="display:none;">
        <div class="contenedor_detalle container">
            <h2 class="titulo_seccion">Detalle de producto</h2>
            <div class="carousel_ficha">
                <div id="contenedor-tabs-ficha-enriquecida" class="ficha_enriquecida_contenedor"></div>
            </div>
        </div>
    </section>
    <section class="seccion_ficha" id="divFichaCarrusel_CrossSell" style="display:none;">
        <div class="contenedor_detalle container">
            <h2 class="titulo_seccion"></h2>
            <div class="carousel_ficha carrusel_seccion"></div>
        </div>
    </section>
    <section class="seccion_ficha" id="divFichaCarrusel_Suggested" style="display:none;">
        <div class="contenedor_detalle container">
            <h2 class="titulo_seccion"></h2>
            <div class="carousel_ficha carrusel_seccion"></div>
        </div>
    </section>
</div>

@Html.Partial("~/Views/DetalleEstrategia/template-producto-carrusel-responsive.cshtml")

@Html.Partial("~/Views/DetalleEstrategia/FichaResponsive/Estrategia/breadcrumbs-template.cshtml")
@Html.Partial("~/Views/DetalleEstrategia/FichaResponsive/Estrategia/imagen-estrategia-template.cshtml")
@Html.Partial("~/Views/DetalleEstrategia/FichaResponsive/Estrategia/estrategia-template.cshtml")
@Html.Partial("~/Views/DetalleEstrategia/FichaResponsive/Estrategia/agregar-estrategia-template.cshtml")
@Html.Partial("~/Views/Shared/_template-ofertadeldia-style.cshtml")
@*@Html.Partial("~/Views/DetalleEstrategia/FichaResponsive/Estrategia/compartir-estrategia-template.cshtml")*@
@Html.Partial("~/Views/DetalleEstrategia/FichaResponsive/FichaEnriquecida/tabs-ficha-enriquecida-template.cshtml")
@Html.Partial("~/Views/DetalleEstrategia/FichaResponsive/FichaEnriquecida/popup-ficha-enriquecida-template.cshtml")
@Html.Partial("~/Views/DetalleEstrategia/FichaResponsive/Componente/componente-estrategia-template.cshtml")
@Html.Partial("~/Views/DetalleEstrategia/FichaResponsive/Componente/modal-tipos-tonos.cshtml")
@Html.Partial("~/Views/DetalleEstrategia/FichaResponsive/Componente/tipos-tonos-componente-template.cshtml")
@Html.Partial("~/Views/DetalleEstrategia/FichaResponsive/Componente/tipos-tonos-seleccionados-template.cshtml")
@Html.Partial("~/Views/DetalleEstrategia/FichaResponsive/Componente/resumen-componente-template.cshtml")

@Html.Partial("~/Views/DetalleEstrategia/FichaResponsive/Promociones/modal-promociones.cshtml")
@Html.Partial("~/Views/DetalleEstrategia/FichaResponsive/Promociones/producto-promocion-template.cshtml")

@section scripts{

    <script type="text/javascript">
        var params = {
            palanca: "@Model.Palanca",
            campania: "@Model.Campania",
            cuv: "@Model.Cuv",
            origen: "@Model.OrigenUrl",
            urlUpSelling: '@Url.Action("FichaObtenerProductosUpSellingCarrusel", "Estrategia")',
            urlIncremental: '@Url.Action("FichaObtenerProductosIncremental", "Estrategia")'
        };
    </script>
    <script src="@Url.Content("~/Scripts/PortalConsultoras/DetalleEstrategia/FichaResponsive/Promociones/PromocionesView.js")"></script>
    <script src="@Url.Content("~/Scripts/PortalConsultoras/DetalleEstrategia/FichaResponsive/Promociones/PromocionesPresenter.js")"></script>
    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/Responsive/Ficha")
    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/Mixto/EstrategiaAgregar")
    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/Mixto/TusClientes")


}