@model Portal.Consultoras.Web.Models.DetalleEstrategiaFichaModel
@using Portal.Consultoras.Common

@{
    var vbSimbolo = ViewBag.Simbolo ?? "";
}

@section styles{
    <link href="@Url.Content("~/Content/Css/Site/Ficha/Ficha.css")" rel="stylesheet" />

}

<div class="imagen_fondo_detalle" style="background-image: url('https://S3.amazonaws.com/consultorasPRD/SomosBelcorp/Matriz/PE/PE_Desktop_Fondo_del_ShowRoom_en_el_Contenedor_Ofertas_Venta 50A_2018630811_01_ytmwyupjny.jpg');"></div>
<div class="contenedor_detalle texto_font" data-item="" data-tag-html="@ViewBag.Campania">
    <div class="contenedor_fichas" data-OrigenPedidoWeb="@Model.Origen">
        <div style="display:none;">
            <div id="data-estrategia" data-estrategia="@Json.Encode(Model)"></div>
        </div>
        @if (Model.TieneSession)
        {
            <div class="contenedor_ficha_producto" id="seccion_razor">
                <div class="ficha_producto">
                    <div class="contenedor_imagen">
                        <img class="contenedor_img" src="@Model.FotoProducto01" alt="">
                    </div>
                    <div class="texto_referencial">
                        <span data-texto_referencial="">* Foto Referencial</span>
                    </div>
                    <div class="contenedor_carrusel_tonos">
                        <div id="carrusel_tonos">
                            <div class="contenedor_imagen_carrusel_tonos" data-item="" data-img="">
                                <img data-imagen_producto="" src="https://s3.amazonaws.com/consultorasPRD/SomosBelcorp/Matriz/PE/PE_200091042201768749_wttltqeyse.png" data-img-lazy="1">
                            </div>
                            <div class="contenedor_imagen_carrusel_tonos" data-item="" data-img="">
                                <img data-imagen_producto="" src="https://s3.amazonaws.com/consultorasPRD/SomosBelcorp/Matriz/PE/PE_200091042201768749_wttltqeyse.png" data-img-lazy="1">
                            </div>
                            <div class="contenedor_imagen_carrusel_tonos" data-item="" data-img="">
                                <img data-imagen_producto="" src="https://s3.amazonaws.com/consultorasPRD/SomosBelcorp/Matriz/PE/PE_200091042201768749_wttltqeyse.png" data-img-lazy="1">
                            </div>
                            <div class="contenedor_imagen_carrusel_tonos" data-item="" data-img="">
                                <img data-imagen_producto="" src="https://s3.amazonaws.com/consultorasPRD/SomosBelcorp/Matriz/PE/PE_200091042201768749_wttltqeyse.png" data-img-lazy="1">
                            </div>
                        </div>
                    </div>
                    <div class="ficha_redes_sociales">
                        <div data-compartir-campos="" style="display:none;">
                            <input type="hidden" class="CUV" value="@Model.CUV2" />
                            <input type="hidden" class="rsFBMensaje" value="" />
                            <input type="hidden" class="rsWAMensaje" value="" />
                            <input type="hidden" class="rsFBRutaImagen" value="@Model.FotoProducto01" />
                            <input type="hidden" class="rsWARutaImagen" value="@Model.FotoProducto01" />
                            <input type="hidden" class="MarcaID" value="@Model.MarcaID" />
                            <input type="hidden" class="MarcaNombre" value="@Model.DescripcionMarca" />
                            <input type="hidden" class="Nombre" value="@Model.DescripcionResumen" />
                            <input type="hidden" class="ProductoDescripcion" value="@Model.DescripcionDetalle" />
                            <input type="hidden" class="Volumen" value="" />
                            <input type="hidden" class="Palanca" value="LAN" />
                        </div>
                        <div class="texto_redes_sociales">Comparte este producto con tus clientes</div>
                        <a class="btn_compartir_facebook" href="javascript:;" data-compartir="FB">
                            <img class="contenedor_img" src="/Content/Images/Esika/facebook.png">
                        </a>
                    </div>
                </div>
                <div class="ficha_detalle">
                    <div class="contenedor_ficha_etiquetas">
                        <div class="contenedor_etiqueta_odd">
                            <div id="clock" class="clock_odd"></div>
                        </div>
                        <div class="contenedor_etiquetas">
                            <img src="https://s3.amazonaws.com/uploads.hipchat.com/583104/4840045/2izIcVZzfnNuPBe/%C2%A1NUEVO%21.jpg">
                        </div>
                    </div>
                    <div class="contenedor_nombre_precio">
                        <div class="contenedor_izquierdo">
                            <div class="nombre_marca">
                                <span data-nombre_marca="">@Model.DescripcionMarca</span>
                            </div>
                            <div class="descripcion" data-descripcion="">@Model.DescripcionResumen</div>
                        </div>
                        <div class="contenedor_derecho">
                            <div class="precio_valorizado">Valorizado en <span data-precio_valorizado="">@vbSimbolo @Model.PrecioTachado</span></div>
                            <div class="precio_venta_oferta">Precio para ti <b><span data-precio_venta_oferta="">@vbSimbolo @Model.PrecioVenta</span></b></div>
                            <div class="ganancia">GANA <span data-ganancia="">@vbSimbolo @Model.GananciaString</span></div>
                        </div>
                    </div>
                    <div class="contenedor_nombre_descripcion_producto">
                        <div class="nombre_detalle_producto">@Model.DescripcionMarca</div>
                        <div class="descripcion_detalle_producto_ver_mas">
                            @Model.DescripcionResumen
                            <span class="txt_ver_mas">ver más</span>
                        </div>
                    </div>
                    @if (Model.CodigoVariante == Constantes.TipoEstrategiaSet.IndividualConTonos)
                    {
                        if ((Model.Hermanos.Any()))
                        {
                            <div class="contenedor_lista_tonos">
                                <div class="nombre_detalle_producto_tono">@Model.DescripcionMarca</div>
                                <div class="descripcion_detalle_producto_tono">
                                    @Model.DescripcionResumen
                                    <span class="txt_ver_mas">ver más</span>
                                </div>
                                <div class="selector_lista_tonos" data-selector_tono="">
                                    <div class="elige_tono" data-tono_change="1">
                                        <div class="img_item_tono" data-img_item_tono="">
                                            <img src="~/Content/Images/showroom/no_disponible.png" alt="">
                                        </div>
                                        <div class="txt_item_tono txt_bold" data-txt_item_tono="">ELIGE TU TONO</div>
                                        <div class="contenedor_flecha_tonos">
                                            <div class="dibujar_linea dibujar_flecha_tonos" data-flecha-tonos=""></div>
                                        </div>
                                    </div>
                                    <div class="contenedor_items_tonos" data-visible="0">
                                        @foreach (var Tono in Model.Hermanos)
                                        {
                                            <div class="contenedor_item_tono" data-tono-showroom-change="2" data-tono-cuv="@Tono.Cuv" data-tono-nombre="@Tono.NombreBulk" data-tono-descripcion="@Tono.NombreComercial">
                                                <div class="img_item_tono"><img src="@Tono.ImagenBulk" alt=""></div>
                                                <div class="txt_item_tono">@Tono.NombreBulk</div>
                                                <hr class="clear">
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="contenedor_lista_tonos_imagen">
                                    @foreach (var Tono in Model.Hermanos)
                                    {
                                        <a class="contenedor_item_tono_imagen" data-tono_change="2" data-tono-cuv="@Tono.Cuv" data-tono-nombre="@Tono.NombreBulk" data-tono-descripcion="@Tono.NombreComercial">
                                            <div class="img_item_tono"><img src="@Tono.ImagenBulk" alt=""></div>
                                            <hr class="clear">
                                        </a>
                                    }
                                </div>
                            </div>
                        }
                    }
                    else if (Model.CodigoVariante == Constantes.TipoEstrategiaSet.CompuestaFija || Model.CodigoVariante == Constantes.TipoEstrategiaSet.CompuestaVariable)
                    {
                        <div class="contenedor_lista_detalle">

                            @foreach (var Hermano in Model.Hermanos)
                            {
                                if ((Hermano.NombreComercial ?? "") == "" && Hermano.Digitable != 1)
                                {
                                    continue;
                                }

                                <div class="texto_contenido">CONTENIDO:</div>
                                <div class="detalle_producto" data-tono="" data-tono-select="" data-tono-digitable="@Hermano.Digitable">
                                    <div style="display: none;">
                                        <input type="hidden" name="nameMarcaID" id="Estrategia_hd_MarcaID" value="@Hermano.IdMarca" />
                                        <input type="hidden" name="namePrecioCatalogo" id="Estrategia_hd_PrecioCatalogo" value="@Hermano.PrecioCatalogo" />
                                    </div>
                                    <div class="marca_cantidad_descripcion_detalle">
                                        <div class="marca_detalle_producto">
                                            <span data-marca_detalle_producto>@Hermano.DescripcionMarca</span>
                                        </div>
                                        <div class="cantidad_descripcion_detalle">
                                            <span class="cantidad_detalle_producto" data-cantidad_detalle_producto="">x @Hermano.Cantidad</span>
                                            <span class="descripcion_detalle_producto" data-descripcion_detalle_producto="" @* data-tono-cuv-producto="" data-tono-select-nombrecomercial="" *@>
                                                Hermano.NombreComercial
                                            </span>
                                        </div>
                                    </div>
                                    @if (Hermano.Digitable == 1)
                                    {
                                        <div class="selector_tono" data-selector_tono="">
                                            <div class="elige_tono" data-tono-showroom-change="1">
                                                <div class="img_item_tono" data-img_item_tono="" style="display: none;">
                                                    <img src="~/Content/Images/showroom/no_disponible.png" alt="">
                                                </div>
                                                <div class="txt_item_tono txt_bold" data-txt_item_tono="">ELIGE TU TONO</div>
                                                <div class="contenedor_flecha_tonos">
                                                    <div class="dibujar_linea dibujar_flecha_tonos" data-flecha-tonos=""></div>
                                                </div>
                                            </div>
                                            <div class="contenedor_items_tonos" data-visible="0" style="display: none;">
                                                @foreach (var Tono in Hermano.Hermanos)
                                                {
                                                    <div class="contenedor_item_tono" data-tono-showroom-change="2" data-tono-cuv="@Tono.Cuv" data-tono-nombre="@Tono.NombreBulk" data-tono-descripcion="@Tono.NombreComercial">
                                                        <div class="img_item_tono"><img src="@Tono.ImagenBulk" alt=""></div>
                                                        <div class="txt_item_tono">@Tono.NombreBulk</div>
                                                        <hr class="clear">
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    }
                                    <hr class="clear">
                                </div>
                            }
                        </div>
                    }


                    <div class="contenedor_agregar">
                        <div class="contenedor_rangos" data-cantidad-contenedor="">
                            <input class="txt_cantidad_pedido ValidaNumeral ValidaPasteNumeral" type="text" value="1" size="2" maxlength="2" data-input="cantidad" data-cantidad-input="-">
                            <div>
                                <a class="txt_menos" data-cantidad-agregar="-" data-bloqueada="" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)">
                                    <div class="dibujar_linea dibujar_menos"></div>
                                </a>
                                <a class="txt_mas" data-cantidad-agregar="+" data-bloqueada="" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)">
                                    <div class="dibujar_linea dibujar_mas"></div>
                                </a>
                            </div>
                        </div>
                        <a id="btnAgregalo" class="btn_agregalo @Model.ClaseBloqueada" data-bloqueada="@Model.ClaseBloqueada" onclick="javascript:EstrategiaAgregarModule.EstrategiaAgregar(event, true); ">AGRÉGALO</a>
                        <div class="contenedor_agregado">
                            <div class="txt_agregado" data-txt_agregado="">
                                <span class="span_agregado">AGREGADO</span>
                                <div class="check_agregado">
                                    <div class="dibujar_linea dibujar_check_agregado"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contenedor_limitacion">
                        <div class="signo_exclamacion">
                            <div class="dibujar_signo_exclamacion"></div>
                        </div>
                        <span class="txt_limitacion">Limitado a 5 packs por consultora</span>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="contenedor_ficha_producto" id="seccion_ficha_handlebars"></div>
            <script id="detalle_ficha_template" type="text/x-handlebars-template">
                <div class="ficha_producto">
                    <div class="contenedor_imagen">
                        <img class="contenedor_img" src="{{FotoProducto01}}" alt="">
                    </div>
                    <div class="texto_referencial">
                        <span data-texto_referencial="">* Foto Referencial</span>
                    </div>
                    <div class="contenedor_carrusel_tonos">
                        <div id="carrusel_tonos">
                            <div class="contenedor_imagen_carrusel_tonos" data-item="" data-img="">
                                <img data-imagen_producto="" src="https://s3.amazonaws.com/consultorasPRD/SomosBelcorp/Matriz/PE/PE_200091042201768749_wttltqeyse.png" data-img-lazy="1">
                            </div>
                            <div class="contenedor_imagen_carrusel_tonos" data-item="" data-img="">
                                <img data-imagen_producto="" src="https://s3.amazonaws.com/consultorasPRD/SomosBelcorp/Matriz/PE/PE_200091042201768749_wttltqeyse.png" data-img-lazy="1">
                            </div>
                            <div class="contenedor_imagen_carrusel_tonos" data-item="" data-img="">
                                <img data-imagen_producto="" src="https://s3.amazonaws.com/consultorasPRD/SomosBelcorp/Matriz/PE/PE_200091042201768749_wttltqeyse.png" data-img-lazy="1">
                            </div>
                            <div class="contenedor_imagen_carrusel_tonos" data-item="" data-img="">
                                <img data-imagen_producto="" src="https://s3.amazonaws.com/consultorasPRD/SomosBelcorp/Matriz/PE/PE_200091042201768749_wttltqeyse.png" data-img-lazy="1">
                            </div>
                        </div>
                    </div>
                    <div class="ficha_redes_sociales">
                        <div data-compartir-campos="" style="display:none;">
                            <input type="hidden" class="CUV" value="{{CUV2}}" />
                            <input type="hidden" class="rsFBMensaje" value="" />
                            <input type="hidden" class="rsWAMensaje" value="" />
                            <input type="hidden" class="rsFBRutaImagen" value="{{FotoProducto01}}" />
                            <input type="hidden" class="rsWARutaImagen" value="{{FotoProducto01}}" />
                            <input type="hidden" class="MarcaID" value="{{MarcaID}}" />
                            <input type="hidden" class="MarcaNombre" value="{{DescripcionMarca}}" />
                            <input type="hidden" class="Nombre" value="{{DescripcionResumen}}" />
                            <input type="hidden" class="ProductoDescripcion" value="{{DescripcionDetalle}}" />
                            <input type="hidden" class="Volumen" value="" />
                            <input type="hidden" class="Palanca" value="LAN" />
                        </div>
                        <div class="texto_redes_sociales">Comparte este producto con tus clientes</div>
                        <a class="btn_compartir_facebook" href="javascript:;" data-compartir="FB">
                            <img class="contenedor_img" src="/Content/Images/Esika/facebook.png">
                        </a>
                    </div>
                </div>
                <div class="ficha_detalle">
                    <div class="contenedor_ficha_etiquetas">
                        <div class="contenedor_etiqueta_odd">
                            <div id="clock" class="clock_odd"></div>
                        </div>
                        <div class="contenedor_etiqueta_nuevo">
                            <div class="triangulo_etiqueta_nuevo"></div>
                            <div class="etiqueta_nuevo">NUEVO</div>
                        </div>
                    </div>
                    <div class="contenedor_nombre_precio">
                        <div class="contenedor_izquierdo">
                            <div class="nombre_marca">
                                <span data-nombre_marca="">{{DescripcionMarca}}</span>
                            </div>
                            <div class="descripcion" data-descripcion="">{{DescripcionCortada}}</div>
                        </div>
                        <div class="contenedor_derecho">
                            <div class="precio_valorizado">Valorizado en <span data-precio_valorizado="">{{SimboloMoneda}} {{PrecioTachado}}</span></div>
                            <div class="precio_venta_oferta">Precio para ti <b><span data-precio_venta_oferta="">{{SimboloMoneda}} {{PrecioVenta}}</span></b></div>
                            <div class="ganancia">GANA <span data-ganancia="">{{SimboloMoneda}} {{GananciaString}}</span></div>
                        </div>
                    </div>

                    {{#iff CodigoVariante '==' '2001'}}

                    {{#each this.Hermanos as |componente|}}
                    <div class="contenedor_lista_tonos">
                        <div class="nombre_detalle_producto_tono">{{componente.DescripcionMarca}}</div>
                        <div class="descripcion_detalle_producto_tono">
                            {{componente.DescripcionResumen}}
                            <span class="txt_ver_mas">ver más</span>
                        </div>
                        <div class="selector_lista_tonos" data-selector_tono="">
                            <div class="elige_tono" data-tono_change="1">
                                <div class="img_item_tono" data-img_item_tono="">
                                    <img src="~/Content/Images/showroom/no_disponible.png" alt="">
                                </div>
                                <div class="txt_item_tono txt_bold" data-txt_item_tono="">ELIGE TU TONO</div>
                                <div class="contenedor_flecha_tonos">
                                    <div class="dibujar_linea dibujar_flecha_tonos" data-flecha-tonos=""></div>
                                </div>
                            </div>
                            <div class="contenedor_items_tonos" data-visible="0">
                                {{#each item1.Hermanos as |tono|}}
                                <div class="contenedor_item_tono" data-tono-showroom-change="2" data-tono-cuv="{{tono.Cuv}}" data-tono-nombre="{{tono.NombreBulk}}" data-tono-descripcion="{{tono.NombreComercial}}">
                                    <div class="img_item_tono"><img src="{{tono.ImagenBulk}}" alt=""></div>
                                    <div class="txt_item_tono">{{tono.NombreBulk}}</div>
                                    <hr class="clear">
                                </div>
                                {{/each}}
                            </div>
                        </div>
                        <div class="contenedor_lista_tonos_imagen">
                            {{#each item1.Hermanos as |tono|}}
                            <a class="contenedor_item_tono_imagen" data-tono_change="2" data-tono-cuv="{{tono.Cuv}}" data-tono-nombre="{{tono.NombreBulk}}" data-tono-descripcion="{{tono.NombreComercial}}">
                                <div class="img_item_tono"><img src="{{tono.ImagenBulk}}" alt=""></div>
                                <hr class="clear">
                            </a>
                            {{/each}}
                        </div>
                    </div>
                    {{/each}}
                    {{/iff}}
                    {{#iff CodigoVariante 'ContainsArray' '[2002,2003]'}}
                    <div class="contenedor_lista_detalle">
                        {{#each this.Hermanos as |componente|}}
                        <div class="detalle_producto" data-tono="" data-tono-select="" data-tono-digitable="{{componente.Digitable}}">
                            <div style="display: none;">
                                <input type="hidden" name="nameMarcaID" id="Estrategia_hd_MarcaID" value="{{componente.IdMarca}}" />
                                <input type="hidden" name="namePrecioCatalogo" id="Estrategia_hd_PrecioCatalogo" value="{{componente.PrecioCatalogo}}" />
                            </div>
                            <div class="marca_cantidad_descripcion_detalle">
                                <div class="marca_detalle_producto">
                                    <span data-marca_detalle_producto>{{componente.DescripcionMarca}}</span>
                                </div>
                                <div class="cantidad_descripcion_detalle">
                                    <span class="cantidad_detalle_producto" data-cantidad_detalle_producto="">x {{componente.Cantidad}}</span>
                                    <span class="descripcion_detalle_producto" data-descripcion_detalle_producto="" @* data-tono-cuv-producto="" data-tono-select-nombrecomercial="" *@>
                                        Hermano.NombreComercial
                                    </span>
                                </div>
                            </div>
                            {{#iff componente.Digitable '==' '1'}}
                            <div class="selector_tono" data-selector_tono="">
                                <div class="elige_tono" data-tono-showroom-change="1">
                                    <div class="img_item_tono" data-img_item_tono="" style="display: none;">
                                        <img src="~/Content/Images/showroom/no_disponible.png" alt="">
                                    </div>
                                    <div class="txt_item_tono txt_bold" data-txt_item_tono="">ELIGE TU TONO</div>
                                    <div class="contenedor_flecha_tonos">
                                        <div class="dibujar_linea dibujar_flecha_tonos" data-flecha-tonos=""></div>
                                    </div>
                                </div>
                                <div class="contenedor_items_tonos" data-visible="0" style="display: none;">
                                    {{#each item1.Hermanos as |tono|}}
                                    <div class="contenedor_item_tono" data-tono-showroom-change="2" data-tono-cuv="{{tono.Cuv}}" data-tono-nombre="{{tono.NombreBulk}}" data-tono-descripcion="{{tono.NombreComercial}}">
                                        <div class="img_item_tono"><img src="{{tono.ImagenBulk}}" alt=""></div>
                                        <div class="txt_item_tono">{{tono.NombreBulk}}</div>
                                        <hr class="clear">
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                            {{/iff}}
                            <hr class="clear">
                        </div>
                        {{/each}}
                    </div>
                    {{/iff}}
                    <div class="contenedor_agregar">
                        <div class="contenedor_rangos" data-cantidad-contenedor="">
                            <input class="txt_cantidad_pedido ValidaNumeral ValidaPasteNumeral" type="text" value="1" size="2" maxlength="2" data-input="cantidad" data-cantidad-input="-">
                            <div>
                                <a class="txt_menos" data-cantidad-agregar="-" data-bloqueada="" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)">
                                    <div class="dibujar_linea dibujar_menos"></div>
                                </a>
                                <a class="txt_mas" data-cantidad-agregar="+" data-bloqueada="" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)">
                                    <div class="dibujar_linea dibujar_mas"></div>
                                </a>
                            </div>
                        </div>
                        <a id="btnAgregalo" class="btn_agregalo {{ClaseBloqueada}}" data-bloqueada="{{ClaseBloqueada}}" onclick="javascript:EstrategiaAgregarModule.EstrategiaAgregar(event, true); ">AGRÉGALO</a>
                        <div class="contenedor_agregado">
                            <div class="txt_agregado" data-txt_agregado="">
                                <span class="span_agregado">AGREGADO</span>
                                <div class="check_agregado">
                                    <div class="dibujar_linea dibujar_check_agregado"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </script>
        }

        <div class="contenedor_ficha_tabs">
            <div class="tabla_ficha_tab">
                <div class="row_ficha_tab">
                    <div class="cell_ficha_tab">
                        <div class="contents_ficha_tab">
                            <input id="ficha_tab_1" class="imput_tab_clean imput_tab" type="radio" name="tabs" data-numTab="1" checked>
                            <label for="ficha_tab_1" class="label_tab">DETALLE DEL PRODUCTO</label>
                        </div>
                    </div>
                    <div class="cell_ficha_tab">
                        <div class="contents_ficha_tab">
                            <input id="ficha_tab_2" class="imput_tab_clean imput_tab" type="radio" data-numTab="2" name="tabs">
                            <label for="ficha_tab_2" class="label_tab">DETALLE DEL PACK</label>
                        </div>
                    </div>
                    <div class="cell_ficha_tab">
                        <div class="contents_ficha_tab">
                            <input id="ficha_tab_3" class="imput_tab_clean imput_tab" type="radio" data-numTab="3" name="tabs">
                            <label for="ficha_tab_3" class="label_tab">TIPS DE VENTA</label>
                        </div>
                    </div>
                    <div class="cell_ficha_tab">
                        <div class="contents_ficha_tab">
                            <input id="ficha_tab_4" class="imput_tab_clean imput_tab" type="radio" data-numTab="4" name="tabs">
                            <label for="ficha_tab_4" class="label_tab">BENEFICIOS</label>
                        </div>
                    </div>
                    <div class="cell_ficha_tab">
                        <div class="contents_ficha_tab">
                            <input id="ficha_tab_5" class="imput_tab_clean imput_tab" type="radio" data-numTab="5" name="tabs">
                            <label for="ficha_tab_5" class="label_tab">VIDEO</label>
                        </div>
                    </div>
                </div>
            </div>
            <section id="contenido_1" class="seccion_tab">
                <ul class="txt_ul">
                    <li class="txt_li">
                        <div class="txt_li_titulo">Labial en barra rouge lintense:</div>
                        <div class="txt_li_descripcion">El labial Color HD Velvet tiene un color mate 5 veces más intenso que hidrata tus labios. Contiene una fórmula con pigmentos de color saturado y microprismas que capturan la luz para amplificar el color. Labial de sensación ligera.</div>
                    </li>
                    <li>
                        <div class="txt_li_titulo">Pulso:</div>
                        <div class="txt_li_descripcion">Posee un poder de seduccón innato que le permite conquistar a cualquier mujer a través de su mirada penetrante y su media sonrisa. Su aspecto puede parecer irreverente pero su elegancia y gestos de caballerosidad lo hacen irresistible. Aún sin conocerlo, puedes saber que</div>
                    </li>
                </ul>
            </section>
            <section id="contenido_2" class="seccion_tab">
                <ul class="txt_ul">
                    <li class="txt_li">
                        <div class="txt_li_titulo">Labial en barra rouge lintense:</div>
                        <div class="txt_li_descripcion">El labial Color HD Velvet tiene un color mate 5 veces más intenso que hidrata tus labios. Contiene una fórmula con pigmentos de color saturado y microprismas que capturan la luz para amplificar el color. Labial de sensación ligera.</div>
                    </li>
                    <li>
                        <div class="txt_li_titulo">Pulso:</div>
                        <div class="txt_li_descripcion">Posee un poder de seduccón innato que le permite conquistar a cualquier mujer a través de su mirada penetrante y su media sonrisa. Su aspecto puede parecer irreverente pero su elegancia y gestos de caballerosidad lo hacen irresistible. Aún sin conocerlo, puedes saber que</div>
                    </li>
                </ul>
            </section>
            <section id="contenido_3" class="seccion_tab">
                <div class="contenedor_img_txt">
                    <div class="txt_img_seccion_tab">
                        <div class="img_seccion_tab">
                            <img class="contenedor_img" src="https://s3.amazonaws.com/consultorasPRD/SomosBelcorp/Matriz/PE/PE_2000934882018554845_vffslsirks.png" alt="">
                        </div>
                        <div class="txt_seccion_tab">
                            Tiene un aroma maderoso con Canela de Magadascar de larga duración.<br />
                            Su envase azul es moderno y sotisficado. Inspirado en el hombre.
                        </div>
                    </div>
                    <div class="txt_img_seccion_tab">
                        <div class="img_seccion_tab">
                            <img class="contenedor_img" src="https://s3.amazonaws.com/consultorasPRD/SomosBelcorp/Matriz/PE/PE_2000892222018550244_gbatklhzxl.png" alt="">
                        </div>
                        <div class="txt_seccion_tab">
                            Aplícala directamente en la muñeca de tu cliente usando el demostrador.
                        </div>
                    </div>
                    <div class="txt_img_seccion_tab">
                        <div class="img_seccion_tab">
                            <img class="contenedor_img" src="https://s3.amazonaws.com/consultorasPRD/SomosBelcorp/Matriz/PE/PE_200083615201851656_wedqazhdhj.png" alt="">
                        </div>
                        <div class="txt_seccion_tab">
                            Convencelo comentando que el olor durará hasta el final del día y pregunta: "¿Te pido el fresco aroma de Cardigan Evolución?"
                        </div>
                    </div>
                </div>
            </section>
            <section id="contenido_4" class="seccion_tab">
                <div class="contenedor_txt_p">
                    <div class="txt_p_titulo">¿Por qué nos encanta?</div>
                    <div class="txt_p">
                        El Labial Color HD Velvet tiene un color mate 5 veces más intenso que hidrata tus labios. Contiene una fórmula con pigmentos de color saturado y microprismas que capturan la luz para amplificar el color. Labial de sensación ligera.
                    </div>
                    <div class="txt_p_titulo">¿Qué hace?</div>
                    <div class="txt_p">
                        El nuevo labial mate posee una gran innovación que mantiene tus labios hidratados hasta por 24 horas. Disfruta de todo el color
                        y la suavidad de miles de pétalos de rosa en tus labios.
                    </div>
                    <div class="txt_p_titulo">¿Cómo funciona?</div>
                    <div class="txt_p">
                        Labial Mate aterciopelado, no reseca los labios y viene con identificador de color en el envase.
                    </div>
                </div>
            </section>
            <section id="contenido_5" class="seccion_tab">
                <div class="contenedor_iframe_seccion_tab">
                    <iframe class="iframe_seccion_tab"
                            src="https://www.youtube.com/embed/Ib8S28KNZeU"></iframe>
                </div>
            </section>
        </div>
        <div class="contenedor_ficha_carrusel">
            <div class="contenedor_titulo_carrusel">
                <div class="contenedor_linea_carrusel">
                    <div class="dibujar_linea dibujar_linea_titulo_carrusel linea_izquierda"></div>
                </div>
                <div class="txt_titulo_carrusel">SET DONDE ENCUENTRAS EL PRODUCTO</div>
                <div class="contenedor_linea_carrusel">
                    <div class="dibujar_linea dibujar_linea_titulo_carrusel linea_derecha"></div>
                </div>
            </div>
            <div class="contenedor_carrusel">
                <div id="carrusel">
                    <div class="contenedor_producto_carrusel" data-item="">
                        <div class="contenedor_imagen_carrusel" data-img="">
                            <img data-imagen_producto="" src="https://s3.amazonaws.com/consultorasPRD/SomosBelcorp/Matriz/PE/PE_200091042201768749_wttltqeyse.png" data-img-lazy="1">
                            <a class="btn_ver_detalle" href="">VER DETALLE</a>
                        </div>
                        <div class="contenedor_detalle_carrusel">
                            <div class="marca_detalle_carrusel">ÉSIKA</div>
                            <div class="descripcion_detalle_carrusel">7 Kalos Sport + 4 Shampoos Mañanas Felic ...</div>
                            <div class="precio_detalle_carrusel">
                                <span class="precio_oferta_normal_carrusel">S/. 875.00</span>
                                <span class="precio_oferta_venta_carrusel">S/. 329.90</span>
                            </div>
                            <div class="contenedor_elige_tu_tono_carrusel">
                                <div class="txt_elige_tu_tono">¡AHORA ELIGE TU TONO!</div>
                                <a id="btnElegirTono" class="btn_elige_tu_tono btn_elige_tu_tono_desactivado" data-btn-elegir-tono="">ELIGE TU OPCIÓN</a>
                            </div>
                            <div class="contenedor_agregar_carrusel">
                                <div class="contenedor_rangos contenedor_rangos_carrusel" data-cantidad-contenedor="">
                                    <input class="txt_cantidad_pedido_carrusel ValidaNumeral ValidaPasteNumeral" type="text" value="1" size="2" maxlength="2" data-input="cantidad" data-cantidad-input="-">
                                    <div class="menos_mas_carrusel">
                                        <a class="txt_mas_carrusel mas" data-cantidad-agregar="+">
                                            <div class="dibujar_linea dibujar_mas dibujar_mas_carrusel"></div>
                                        </a>
                                        <a class="txt_menos_carrusel menos" data-cantidad-agregar="-">
                                            <div class="dibujar_linea dibujar_menos dibujar_menos_carrusel"></div>
                                        </a>
                                    </div>
                                </div>
                                <a id="btnAgregalo" class="btn_agregalo btn_agregalo_carrusel btn_agregalo_desactivado" data-btn-agregar-sr="">AGRÉGALO</a>
                            </div>
                            <div class="contenedor_agregado">
                                <div class="txt_agregado">
                                    <span class="span_agregado">AGREGADO</span>
                                    <div class="check_agregado">
                                        <div class="dibujar_linea dibujar_check_agregado"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contenedor_producto_carrusel" data-item="">
                        <div class="contenedor_imagen_carrusel" data-img="">
                            <img data-imagen_producto="" src="https://s3.amazonaws.com/consultorasPRD/SomosBelcorp/Matriz/PE/PE_200091042201768749_wttltqeyse.png" data-img-lazy="1">
                            <a class="btn_ver_detalle" href="">VER DETALLE</a>
                        </div>
                        <div class="contenedor_detalle_carrusel">
                            <div class="marca_detalle_carrusel">ÉSIKA</div>
                            <div class="descripcion_detalle_carrusel">7 Kalos Sport + 4 Shampoos Mañanas Felic ...</div>
                            <div class="precio_detalle_carrusel">
                                <span class="precio_oferta_normal_carrusel">S/. 875.00</span>
                                <span class="precio_oferta_venta_carrusel">S/. 329.90</span>
                            </div>
                            <div class="contenedor_elige_tu_tono_carrusel">
                                <div class="txt_elige_tu_tono">¡AHORA ELIGE TU TONO!</div>
                                <a id="btnElegirTono" class="btn_elige_tu_tono btn_elige_tu_tono_desactivado" data-btn-elegir-tono="">ELIGE TU OPCIÓN</a>
                            </div>
                            <div class="contenedor_agregar_carrusel">
                                <div class="contenedor_rangos contenedor_rangos_carrusel" data-cantidad-contenedor="">
                                    <input class="txt_cantidad_pedido_carrusel ValidaNumeral ValidaPasteNumeral" type="text" value="1" size="2" maxlength="2" data-input="cantidad" data-cantidad-input="-">
                                    <div class="menos_mas_carrusel">
                                        <a class="txt_mas_carrusel mas" data-cantidad-agregar="+">
                                            <div class="dibujar_linea dibujar_mas dibujar_mas_carrusel"></div>
                                        </a>
                                        <a class="txt_menos_carrusel menos" data-cantidad-agregar="-">
                                            <div class="dibujar_linea dibujar_menos dibujar_menos_carrusel"></div>
                                        </a>
                                    </div>
                                </div>
                                <a id="btnAgregalo" class="btn_agregalo btn_agregalo_carrusel btn_agregalo_desactivado" data-btn-agregar-sr="">AGRÉGALO</a>
                            </div>
                            <div class="contenedor_agregado">
                                <div class="txt_agregado">
                                    <span class="span_agregado">AGREGADO</span>
                                    <div class="check_agregado">
                                        <div class="dibujar_linea dibujar_check_agregado"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contenedor_producto_carrusel" data-item="">
                        <div class="contenedor_imagen_carrusel" data-img="">
                            <img data-imagen_producto="" src="https://s3.amazonaws.com/consultorasPRD/SomosBelcorp/Matriz/PE/PE_200091042201768749_wttltqeyse.png" data-img-lazy="1">
                            <a class="btn_ver_detalle" href="">VER DETALLE</a>
                        </div>
                        <div class="contenedor_detalle_carrusel">
                            <div class="marca_detalle_carrusel">ÉSIKA</div>
                            <div class="descripcion_detalle_carrusel">7 Kalos Sport + 4 Shampoos Mañanas Felic ...</div>
                            <div class="precio_detalle_carrusel">
                                <span class="precio_oferta_normal_carrusel">S/. 875.00</span>
                                <span class="precio_oferta_venta_carrusel">S/. 329.90</span>
                            </div>
                            <div class="contenedor_elige_tu_tono_carrusel">
                                <div class="txt_elige_tu_tono">¡AHORA ELIGE TU TONO!</div>
                                <a id="btnElegirTono" class="btn_elige_tu_tono btn_elige_tu_tono_desactivado" data-btn-elegir-tono="">ELIGE TU OPCIÓN</a>
                            </div>
                            <div class="contenedor_agregar_carrusel">
                                <div class="contenedor_rangos contenedor_rangos_carrusel" data-cantidad-contenedor="">
                                    <input class="txt_cantidad_pedido_carrusel ValidaNumeral ValidaPasteNumeral" type="text" value="1" size="2" maxlength="2" data-input="cantidad" data-cantidad-input="-">
                                    <div class="menos_mas_carrusel">
                                        <a class="txt_mas_carrusel mas" data-cantidad-agregar="+">
                                            <div class="dibujar_linea dibujar_mas dibujar_mas_carrusel"></div>
                                        </a>
                                        <a class="txt_menos_carrusel menos" data-cantidad-agregar="-">
                                            <div class="dibujar_linea dibujar_menos dibujar_menos_carrusel"></div>
                                        </a>
                                    </div>
                                </div>
                                <a id="btnAgregalo" class="btn_agregalo btn_agregalo_carrusel btn_agregalo_desactivado" data-btn-agregar-sr="">AGRÉGALO</a>
                            </div>
                            <div class="contenedor_agregado">
                                <div class="txt_agregado">
                                    <span class="span_agregado">AGREGADO</span>
                                    <div class="check_agregado">
                                        <div class="dibujar_linea dibujar_check_agregado"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contenedor_producto_carrusel" data-item="">
                        <div class="contenedor_imagen_carrusel" data-img="">
                            <img data-imagen_producto="" src="https://s3.amazonaws.com/consultorasPRD/SomosBelcorp/Matriz/PE/PE_200091042201768749_wttltqeyse.png" data-img-lazy="1">
                            <a class="btn_ver_detalle" href="">VER DETALLE</a>
                        </div>
                        <div class="contenedor_detalle_carrusel">
                            <div class="marca_detalle_carrusel">ÉSIKA</div>
                            <div class="descripcion_detalle_carrusel">7 Kalos Sport + 4 Shampoos Mañanas Felic ...</div>
                            <div class="precio_detalle_carrusel">
                                <span class="precio_oferta_normal_carrusel">S/. 875.00</span>
                                <span class="precio_oferta_venta_carrusel">S/. 329.90</span>
                            </div>
                            <div class="contenedor_elige_tu_tono_carrusel">
                                <div class="txt_elige_tu_tono">¡AHORA ELIGE TU TONO!</div>
                                <a id="btnElegirTono" class="btn_elige_tu_tono btn_elige_tu_tono_desactivado" data-btn-elegir-tono="">ELIGE TU OPCIÓN</a>
                            </div>
                            <div class="contenedor_agregar_carrusel">
                                <div class="contenedor_rangos contenedor_rangos_carrusel" data-cantidad-contenedor="">
                                    <input class="txt_cantidad_pedido_carrusel ValidaNumeral ValidaPasteNumeral" type="text" value="1" size="2" maxlength="2" data-input="cantidad" data-cantidad-input="-">
                                    <div class="menos_mas_carrusel">
                                        <a class="txt_mas_carrusel mas" data-cantidad-agregar="+">
                                            <div class="dibujar_linea dibujar_mas dibujar_mas_carrusel"></div>
                                        </a>
                                        <a class="txt_menos_carrusel menos" data-cantidad-agregar="-">
                                            <div class="dibujar_linea dibujar_menos dibujar_menos_carrusel"></div>
                                        </a>
                                    </div>
                                </div>
                                <a id="btnAgregalo" class="btn_agregalo btn_agregalo_carrusel btn_agregalo_desactivado" data-btn-agregar-sr="">AGRÉGALO</a>
                            </div>
                            <div class="contenedor_agregado">
                                <div class="txt_agregado">
                                    <span class="span_agregado">AGREGADO</span>
                                    <div class="check_agregado">
                                        <div class="dibujar_linea dibujar_check_agregado"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @System.Web.Optimization.Scripts.Render("~/bundles/EstrategiaAgregar")
    <script src="~/Scripts/PortalConsultoras/EstrategiaPersonalizada/LocalStorage.js" type="text/javascript"></script>
    <script src="~/Scripts/PortalConsultoras/Estrategia/EstrategiaComponente.js" type="text/javascript"></script>
    <script src="~/Scripts/PortalConsultoras/DetalleEstrategia/FichaModule.js" type="text/javascript"></script>

    <script>
        var fichaModule;
        $(document).ready(function() {
            fichaModule = FichaModule({
                palanca: "@Model.Palanca",
                origen: "@Model.Origen",
                tieneSession: "@Model.TieneSession",
                campania: "@Model.Campania",
                cuv: "@Model.Cuv",
                urlObtenerComponentes: '@Url.Action("ObtenerComponentes", "DetalleEstrategia")'
            });
            fichaModule.Inicializar();
        });
    </script>
}