@model Portal.Consultoras.Web.Models.EstadoCuentaModel
@{
    ViewBag.Title = "Estado de Cuenta";
}

@Html.Hidden("hdn_Correo", Model.CorreoConsultora)
@Html.Hidden("hdn_FechaVencimiento", Model.FechaVencimiento)
@Html.Hidden("hdn_MontoPagar", Model.MontoPagar)
<!--CONTENIDO DE TITULO -->
<div class="titulo_detalle_pago">
    <div class="titulo_detalle_pago_img"></div>
    <div>MI ESTADO<b> DE CUENTA</b></div>
</div>
<div class="info_detalle_pago">Mis últimos movimientos de estado de cuenta</div>
<a href="javascript:void(0);" onclick="return validarExportar();" class="acciones_pagos"><img src="@Url.Content("~/Content/Images/Esika/excel.png")"/></a>
@*<a href="#" class="acciones_pagos"><img src="@Url.Content("~/Content/Images/Esika/pdf.png")" id="lblCorreoEnviar" /></a>*@
<a href="#" class="acciones_pagos"><img src="@Url.Content("~/Content/Images/Esika/imprimir.png")" id="lblCorreoEnviar" /></a>
<hr class="clear" />
<div class="linea_separadora" style="height:2px"></div>
<!--FIN CONTENIDO TITULO -->

<div id="DialogMensajes" style="display: none;">
    <div class="terminos_title_2">
        MENSAJE
    </div>
    <div class="linea_superior margin_10"></div>
    <div class="pop_pedido_mensaje">
    </div>
</div>

<!--CONTENIDO DE TABLAS -->
<div class="content_datos_mispagos">
    <div class="fecha_pagos texto_gris">Fecha</div>
    <div class="movimientos_pagos texto_gris">Últimos Movimientos</div>
    <div class="pedidos_pagos texto_gris">Pedidos</div>
    <div class="abonos_pagos texto_gris">Abonos</div>
</div>
<div class="linea_separadora" style="margin-top:-1px"></div>
<div id="dellateContenido"></div>
<!--FIN CONTENIDO TABLAS-->

<div class="linea_inferior_roja"></div>
<div class="num_total_pago" id="montoPagarEstadoCuenta"> @Model.Simbolo @Model.MontoPagar</div>
<div class="texto_monto_pago">Total Monto a pagar: </div>
<hr class="clear" />
<div class="linea_separadora"></div>
@if (ViewBag.CodigoISO.Equals("PE"))
{
    <div class="texto_paga_tiempo">
        *Paga a tiempo y evita Gastos Administrativos y de cobranzas:<br />
        Si pagas entre el 3er y 9no d&iacute;a de la fecha de vencimiento que aqu&iacute; se
        indicase cobrar&aacute; S/.5 y a partir de C1214, si pagas desde el 10mo d&iacute;a
        despu&eacute;s de la fecha de vencimiento se cobrar&aacute; S/.10. Este importe se
        sumar&aacute; a tu siguiente pedido
    </div>
}
<div class="linea_separadora" style="height:2px"></div>

<div class="wrap">
    <div class="container clearfix">
        <div class="sep"></div>
    </div>
</div>


