@using Portal.Consultoras.Common;
@model Portal.Consultoras.Web.Models.MisPagosModel
@{
    ViewBag.Title = "Mis Pagos";
}

<div class="contenedor_popup_percepciones">
    <div class="popup_Percepcion">
    </div>
</div>

<div class="fondo_f9f9f9">
    <div class="content_belcorp">
        <div class="fondo_negro_lateral"></div>
        <div class="titulo_interiores titulo_misPagos">MIS <span>PAGOS</span></div>
        <div class="titulo_tabs">
            <ul class="tabs_pagos" data-tab="tab">
                <li class="one">
                    <a href="javascript:;" data-tag="@Constantes.PestanhasMisPagos.EstadoCuenta">
                        <div class="icono_pagos imagen_1"></div>
                        <div class="texto_tab_pagos">ESTADO<b> DE CUENTA</b></div>
                        <div class="marcador_tab oculto"></div>
                    </a>
                </li>
                <li class="two">
                    <a href="javascript:;" data-tag="@Constantes.PestanhasMisPagos.LugaresPago">
                        <div class="icono_pagos imagen_2"></div>
                        <div class="texto_tab_pagos">LUGARES <b>DE PAGO</b></div>
                        <div class="marcador_tab oculto"></div>
                    </a>
                </li>
                @if (Model.CodigoISO.Equals(Constantes.CodigosISOPais.Peru))
                {
                    <li class="three">
                        <a href="javascript:;" data-tag="@Constantes.PestanhasMisPagos.MisPercepciones">
                            <div class="icono_pagos imagen_4"></div>
                            <div class="texto_tab_pagos">MIS <b>PERCEPCIONES<br /> HISTÓRICAS</b></div>
                            <div class="marcador_tab oculto"></div>
                        </a>
                    </li>
                }
                <li class="four" style="@(Model.MostrarFE)">
                    <a href="@Url.Action("Index", "FacturaElectronica")" data-action="LugaresPago" target="_blank">
                        <div class="icono_pagos imagen_3"></div>
                        <div class="texto_tab_pagos">FACTURA Y <b>PERCEPCIÓN <br />ELECTRÓNICA</b></div>
                        <div class="marcador_tab oculto"></div>
                    </a>
                </li>
                <hr id="barCursor" style="opacity:0;" />
            </ul>
        </div>
    </div>
    <hr class="clear" />
    <div class="linea_separadora" style="margin-top:-1px"></div>
</div>

<div class="content_belcorp">
    <div class="pestana_lbel"></div>
    <div data-tag-html="@Constantes.PestanhasMisPagos.EstadoCuenta" style="display:none;">
        <div class="EstadoCuenta">
            <div class="content_left_pagos">
                @Html.Hidden("hdn_Correo", Model.CorreoConsultora)
                @Html.Hidden("hdn_FechaVencimiento", Model.FechaVencimiento)
                @Html.Hidden("hdn_MontoPagar", Model.MontoPagar)
                <div class="titulo_detalle_pago">
                    <div class="titulo_detalle_pago_img"></div>
                    <div>MI ESTADO<b> DE CUENTA</b></div>
                </div>
                
                <div>
                    <div class="" id="divUltimoMovimiento" style="font-weight: bold; padding-top:23px; font-size: 11pt;">Último pago recibido: <span id="spnUltimoPagoRecibido"></span></div>
                    <div class="info_detalle_pago" style="margin-top: 2px;">Mis últimos movimientos de estado de cuenta</div>
                </div>
                
                <a href="javascript:void(0);" onclick="return validarExportar();" class="acciones_pagos"><img src="@Url.Content("~/Content/Images/Esika/excel.png")" /></a>
                <a href="#" class="acciones_pagos"><img src="@Url.Content("~/Content/Images/Esika/imprimir.png")" id="lblCorreoEnviar" /></a>
                <hr class="clear" />
                <div class="linea_separadora" style="height:2px"></div>
                <div class="content_datos_mispagos">
                    <div class="fecha_pagos texto_gris">Fecha</div>
                    <div class="movimientos_pagos texto_gris">Últimos Movimientos</div>
                    <div class="pedidos_pagos texto_gris">Pedidos</div>
                    <div class="abonos_pagos texto_gris">Abonos</div>
                </div>
                <div class="linea_separadora" style="margin-top:-1px"></div>
                <div id="dellateContenido">
                    <div style="text-align: center;">
                        <br />
                        Cargando movimientos...<br /><img src="@Url.Content("~/Content/Images/Loading.gif")" />
                        <br />
                    </div>
                </div>

                <div class="linea_inferior_roja"></div>
                <div class="num_total_pago" id="montoPagarEstadoCuenta"> @Model.Simbolo @Model.MontoPagar</div>
                <div class="texto_monto_pago">Total Monto a pagar: </div>
                <hr class="clear" />
                <div class="linea_separadora"></div>
                @if (Model.CodigoISO.Equals(Constantes.CodigosISOPais.Peru))
                {
                    <div class="texto_paga_tiempo">
                        Gastos Administrativos por pago en fecha vencida<br />
                        Estimada consultora, te recordamos pagar a tiempo tu pedido para evitar el cobro de Gastos Administrativos y de Cobranzas, revisa la fecha de vencimiento en tu cup&oacute;n.<br />
                        En caso no se pague en la fecha especificada en el cup&oacute;n se cargar&aacute; el cobro de Gastos administrativos y cobranzas en tu siguiente pedido:<br /><br />
                        <span style="padding-left:20px;"> • S/. 7.50 si pagas despu&eacute;s del 3er d&iacute;a de la fecha de vencimiento.</span><br />
                        <span style="padding-left:20px;"> • S/. 20.00 si pagas despu&eacute;s del 10mo d&iacute;a de la fecha de vencimiento.</span><br />
                        <span style="padding-left:20px;"> • S/. 40.00 si pagas despu&eacute;s del 18 avo d&iacute;a de la fecha de vencimiento (Entra en vigencia a partir de la facturaci&oacute;n de C06)</span><br /><br />
                        Gastos Administrativos por exceso de transacciones<br />
                        Estimada consultora, te informamos que a partir de campaña 06:<br />
                        <span style="padding-left:20px;">• Para Pedidos Menores o iguales a 700 soles Belcorp seguir&aacute; asumiendo el costo de recaudo de un solo pago en los lugares autorizados. Si cancelas en 2 o m&aacute;s pagos, por cada pago o dep&oacute;sito adicional se generar&aacute; un cargo de S/.2 que se aplicar&aacute; a tu siguiente pedido, te recomendamos pagar en un solo dep&oacute;sito as&iacute; evitar&aacute;s cobros adicionales por exceso de transacciones.</span><br />
                        <span style="padding-left:20px;">• Los pedidos mayores a 700 soles No estar&aacute;n afectos a ning&uacute;n cobro por concepto de recaudo.</span>
                    </div>
                }
                <div class="linea_separadora" style="height:2px"></div>

                <div class="wrap">
                    <div class="container clearfix">
                        <div class="sep"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content_derecha_pagos">
            @if (Model != null)
            {
                Html.RenderPartial("_PanelLateral", Model);
            }
        </div>
    </div>
    <div data-tag-html="@Constantes.PestanhasMisPagos.LugaresPago" style="display:none;">
        <div class="LugaresPago">
            <div class="content_left_pagos">
                <div>
                    <div class="titulo_detalle_pago">
                        <div class="titulo_detalle_lugares_img"></div>
                        <div>LUGARES<b> DE PAGO</b></div>
                    </div>
                    <hr class="clear" />
                    <div class="bancos_pagos">Ingresa con un click a los lugares de pagos de su preferencia</div>
                    <div id="divContenidoLugarPago">
                        <div>
                            <br />
                            Cargando lugares de pago...<br /><img src="@Url.Content("~/Content/Images/Loading.gif")" />
                            <br />
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="content_derecha_pagos">
            @if (Model != null)
            {
                Html.RenderPartial("_PanelLateral", Model);
            }
        </div>
        <hr class="clear" />
    </div>
    @if (Model.CodigoISO.Equals(Constantes.CodigosISOPais.Peru))
    {
        <div class="MisPercepciones" data-tag-html="@Constantes.PestanhasMisPagos.MisPercepciones" style="display:none;">
            <div class="content_left_pagos">
                <div class="titulo_detalle_pago">
                    <div class="titulo_detalle_percepciones_img"></div>
                    <div>MIS<b> PERCEPCIONES HISTÓRICAS</b></div>
                </div>
                <div class="info_detalle_pago">Mi escala de percepciones</div>
                <hr class="clear" />
                <div class="linea_separadora" style="height:2px"></div>
                <ul class="paginador_notificaciones js-paginador-percepciones" data-paginacion="block" style="padding-top:20px; padding-bottom:20px;"></ul>
                <hr class="clear" />
                <div class="linea_separadora" style="height:1px"></div>
                <div class="content_datos_misPercepciones">
                    <div class="num_comprobante texto_gris">Nro Comprobante</div>
                    <div class="fecha_emision_comprobante texto_gris">Fecha de Emisión</div>
                    <div class="importe_percepcion texto_gris">Importe Percepción</div>
                    <div class="detalle_percepcion texto_gris">Detalles</div>
                </div>
                <div class="linea_separadora" style="margin-top:-1px"></div>
                <div id="dellateContenido" class="js-grilla-percepciones">
                    <div style="text-align: center;">
                        <br />
                        Cargando movimientos...<br /><img src="@Url.Content("~/Content/Images/Loading.gif")" />
                        <br />
                    </div>
                </div>
            </div>
            <hr class="clear" />
        </div>
    }

</div>

<script id="js-LugaresPago" type="text/x-handlebars-template">
    {{#each this.listaLugaresPago as |lugar|}}
    <div class="logos_bancos" style="text-align:center;">
        <a href="{{lugar.UrlSitio}}" target="_blank" onclick="EventoAnalytics('{{lugar.Nombre}}', 2)">
            <img data-src='{{lugar.ArchivoLogo}}' alt="Logo Lugar de Pago" data-lazy-seccion-lugar-pago=""/>
            <span style="font-weight:500!important;font-size:15px!important;color: #e81c36;text-align:center;">{{lugar.TextoPago}} </span>
        </a>
    </div>
    {{/each}}
</script>

<script id="js-EstadoCuenta" type="text/x-handlebars-template">
    {{#each this.Rows as |detalle|}}
    <div class="content_datos_mispagos">
        <div class="fecha_pagos">{{detalle.Fecha}}</div>
        <div class="movimientos_pagos">{{detalle.Glosa}}</div>
        <div class="pedidos_pagos">{{detalle.Cargo}}</div>
        <div class="abonos_pagos">{{detalle.Abono}}</div>
    </div>
    {{/each}}
</script>

<script id="producto-template" type="text/x-handlebars-template">
    {{#each this}}
    <div class="content_datos_misPercepciones">
        <div class="num_comprobante">{{NumeroComprobante}}</div>
        <div class="fecha_emision_comprobante">{{FechaEmision}}</div>
        <div class="importe_percepcion">@Html.Raw(Model.Simbolo){{ImportePercepcion}}</div>
        <div class="detalle_percepcion">
            <a title="Ver Estado / Detalles" class="icono_verDetalle" onclick="CargarDetallePercepcion({ IdComprobantePercepcion: '{{IdComprobantePercepcion}}', RUCAgentePerceptor: '{{RUCAgentePerceptor}}', DireccionAgentePerceptor: '{{DireccionAgentePerceptor}}', NombreAgentePerceptor: '{{NombreAgentePerceptor}}', NumeroComprobante: '{{NumeroComprobante}}', FechaEmision: '{{FechaEmision}}', ImportePercepcion: '{{ImportePercepcion}}'});">
                <img src="@Url.Content("~/Content/Images/icono_lupa.png")" alt="Ver Estado / Detalles" />
            </a>
        </div>
    </div>
    {{/each}}
</script>

<script id="paginador-percepciones-template" type="text/x-handlebars-template">
    <li class="seleccion_pagina" style="margin-right: 24px!important;">
        <select data-paginacion="rows" style="height: 24px;">
            <option value="10">ver 10 filas</option>
            <option value="20">ver 20 filas</option>
            <option value="30">ver 30 filas</option>
            <option value="40">ver 40 filas</option>
            <option value="50">ver 50 filas</option>
        </select>
    </li>
    <li class="texto_pagina">Página</li>
    <li class="flecha_paginador_atras" data-paginacion="back"></li>
    <li style="margin-right: 6px;">
        <span class="paginas_pedidos">
            <span class="pagina_actual">
                <input type="text" name="paginaactual" data-paginacion="page" value="{{page}}" class="ValidaNumeral ValidaPasteNumeral" id="paginaactual" data-val="{{page}}" />
            </span> de
            <span class="paginas_totales" id="spnPedidoPaginarPaginaDe" data-paginacion='pageCount'>{{paginaDe}}</span>
        </span>
    </li>
    <li class="flecha_paginador_adelante" data-paginacion="next"></li>
</script>

<script id="popup-percepcion-template" type="text/x-handlebars-template">
    <input type="hidden" value="{{IdComprobantePercepcion}}" id="hdIdComprobantePercepcion" />
    <div style="display:none;">
        <div class="percepcion_misPedidos ingresado">
            <a href="javascript:;" title="Percepción" class="abrir_popUp_percepcion">
                <img src="@Url.Content("~/Content/Images/icono-percepcion.png")" alt="Percepción" />
            </a>
        </div>
    </div>
    <div class="btn_cerrar_popupPercepcion">
        <a title="Regresar">
            <div class="icono_regresar"><img src="@Url.Content("~/Content/Images/btn_regresar.svg")" alt="Regresar" /></div>
            <div class="texto_btn_regresar">REGRESAR A MIS PAGOS</div>
        </a>
    </div>
    <div class="content_popUp">
        <div class="contenedor_bloque_datos">
            <div class="datos_cliente">
                <h2>{{RazonSocial}}</h2>
                <div class="direccion_cliente">{{Direccion}}</div>
                <div class="bloque_datos">
                    <div class="nombre_cliente">
                        <span>Señor(es):</span>
                    </div>
                    <div class="documento_cliente">
                        <span>RUC/DNI:</span>
                    </div>
                    <div class="fecha_emision">
                        <span>Fecha de Emisión:</span>
                    </div>
                </div>
                <div class="bloque_datos margen-izquierdo">
                    <div class="nombre_cliente">
                        <span>{{NombreAgentePerceptor}}</span>
                    </div>
                    <div class="documento_cliente">
                        <span>{{RUCAgentePerceptor}}</span>
                    </div>
                    <div class="fecha_emision">
                        <span>{{FechaEmision}}</span>
                    </div>
                </div>
            </div>
            <div class="datos_empresa">
                <div class="ruc_cliente">
                    <span>RUC:</span>
                    <span>&nbsp;{{RUC}}</span>
                </div>
                <div class="comprobante_percepciones">
                    <span>COMPROBANTE DE PERCEPCIONES VENTA INTERNA</span>
                </div>
                <div class="numero_comprobante">
                    <span>Nro:</span>
                    <span>&nbsp;{{NumeroComprobante}}</span>
                </div>
                <div class="icono_imprimir">
                    <a title="Imprimir" onclick="ImprimirDetalle('{{RUCAgentePerceptor}}','{{NombreAgentePerceptor}}','{{NumeroComprobante}}','{{FechaEmision}}', {{ImportePercepcion}} )">
                        <img src="@Url.Content("~/Content/Images/imprimir.png")" alt="Imprimir" />
                    </a>
                </div>
            </div>
        </div>
        <div class="linea_separadora" style="height:2px;"></div>
        <div class="content_datos_percepciones">
            <div class="tipo texto_gris_popup padding_tabla_percepcion">Tipo</div>
            <div class="serie texto_gris_popup padding_tabla_percepcion">Serie</div>
            <div class="correlativo texto_gris_popup padding_tabla_percepcion">Correlativo</div>
            <div class="fechaEmision texto_gris_popup padding_tabla_percepcion">Fecha Emisión Documento</div>
            <div class="precioVenta texto_gris_popup padding_tabla_percepcion">Precio de Venta (S/.)</div>
            <div class="porcentajePercepcion texto_gris_popup padding_tabla_percepcion">Porcentaje de Percepción</div>
            <div class="importePercepcion texto_gris_popup padding_tabla_percepcion">Importante Percepciones (S/.)</div>
            <div class="montoTotalPercepcion texto_gris_popup padding_tabla_percepcion">Monto Total (S/.)</div>
        </div>
        <div class="linea_separadora" style="margin-top:-1px"></div>
        <div style="max-height:419px; overflow:auto;">
            {{#each this.ListaDetalle as |detalle|}}
            <div class="content_datos_percepciones">
                <div class="tipo padding_tabla_percepcion">{{TipoDocumento}}</div>
                <div class="serie padding_tabla_percepcion">{{NumeroDocumentoSerie}}</div>
                <div class="correlativo padding_tabla_percepcion">{{NumeroDocumentoCorrelativo}}</div>
                <div class="fechaEmision padding_tabla_percepcion">{{FechaEmisionDocumento}}</div>
                <div class="precioVenta padding_tabla_percepcion">{{Monto}}</div>
                <div class="porcentajePercepcion padding_tabla_percepcion">{{PorcentajePercepcion}}</div>
                <div class="importePercepcion padding_tabla_percepcion">{{ImportePercepcion}}</div>
                <div class="montoTotalPercepcion padding_tabla_percepcion">{{MontoTotal}}</div>
            </div>
            {{/each}}
        </div>
        <div class="linea_separadora_roja" style="height: 2px;"></div>
        <div class="content_datos_percepciones">
            <div class="totalTexto texto_bold">TOTAL:</div>
            <div class="totalNumero texto_bold">@Html.Raw(Model.Simbolo) {{ImportePercepcion}}</div>
        </div>
        <div class="linea_separadora" style="height:1px;"></div>
        <div class="datos_impresion">
            <div class="numeroAutorizacion">
                <span>Nro. autorización impresión de SUNAT:&nbsp;&nbsp;</span><span>2247770011</span>
            </div>
            <div class="fechaAutorizacion">
                <span>Fecha autorización:&nbsp;&nbsp;</span><span>27/01/2011</span>
            </div>
            <div class="numeroSerieImpresion">
                <span>Serie:&nbsp;&nbsp;</span><span>001</span>&nbsp;-&nbsp;del&nbsp;<span>8000001</span>&nbsp;hasta&nbsp;-&nbsp;<span>999999999</span>
            </div>
        </div>
    </div>
</script>

@section scripts{
    <script type="text/javascript">
        var ViewBagRutaChile = '@Model.RutaChile';
        var viewBagUrlChileEncriptada = '@Model.UrlChileEncriptada';

        var pestanhaInicial = '@Model.PestanhaInicial';
        var CE_SNAPSHOT_NAME = "Estado_Cuenta";
    </script>
    <script src="@Url.Content("~/Scripts/PortalConsultoras/MisPagos/Index.js")"></script>
    @if (Model.CodigoISO.Equals(Constantes.CodigosISOPais.Peru))
    {
        <script src="@Url.Content("~/Scripts/PortalConsultoras/MisPagos/Percepciones.js")"></script>
    }
}
