@model Portal.Consultoras.Web.Models.AdministrarLinkModel
@{
    ViewBag.Title = "Administrar Menús";
}

<script src="@Url.Content("~/Scripts/fileuploader.js")" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/jquery.form.js"></script>
<script type="text/ecmascript">
    var isoPAIS = "";
    jQuery(document).ready(function () {
        $(".qq-upload-list").css("display", "none");
        IniDialogRegistroLinks();

        $("#btnBuscar").click(function () {
            //debugger;
            if ($("#ddlPais").val() == "") {
                alert("Debe seleccionar un País, verifique");
                return false;
            }
            fnGrilla();
        });

    });
    function fnRespuestaLink(responseText, statusText, xhr, $form) {
        //debugger;
        if (checkTimeout(responseText)) {
            $("#gvwLinks").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
            if (responseText && typeof responseText === "string") {
                alert($.parseJSON(responseText).message);
            } else {
                alert(responseText.message);
            }
            $('#DialogRegistroLink').dialog('close');
        }
    }
    function IniDialogRegistroLinks() {
        $('#DialogRegistroLink').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 500,
            draggable: true,
            title: "Actualización de Link",
            buttons:
            {
                "Guardar": function () {
                    var message = "";
                    if (jQuery.trim($('#ddlPaisDialogo').val()) == "")
                        message += "- Debe seleccionar un País.\n";

                    if (jQuery.trim($('#OrdenItem').val()) == "")
                        message += "- Debe ingresar el Orden.\n";

                    if (jQuery.trim($('#Descripcion').val()) == "")
                        message += "- Debe ingresar la Descripción.\n";

                    // si no es padre la url es obligatoria
                    if (jQuery.trim($('#PermisoIDPadre').val()) != "")
                    {
                        if (jQuery.trim($('#UrlItem').val()) == "")
                            message += "- Debe ingresar la Url.\n";
                    }

                    if (jQuery.trim($('#Posicion').val()) == "")
                        message += "- Debe seleccionar una Posición.\n";

                    if (jQuery('#LinkID').val() == "0")
                        jQuery('#PaisID').val(jQuery('#ddlPaisDialogo').val());

                    if ($("#PaginaNueva").is(":checked")) $("#PaginaNueva").attr("checked", true);

                    if (message.length > 0) {
                        alert(message);
                        return;
                    }
                    $("#PaginaNueva").val($("#PaginaNueva").is(":checked"));
                    $.post('@Url.Action("Mantener")', $('#frmLink').serialize()).done(fnRespuestaLink);

                },
                "Cerrar": function () {
                    $(this).dialog('close');
                }
            }
        });

        $('#DialogRegistroMenuHeader').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 900,
            draggable: true,
            title: "Vista Previa de Header",
            buttons:
            {
                "Cerrar": function () {
                    $(this).dialog('close');
                }
            }
        });

        $('#DialogRegistroMenuFooter').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 420,
            draggable: true,
            title: "Vista Previa de Footer",
            buttons:
            {
                "Cerrar": function () {
                    $(this).dialog('close');
                }
            }
        });
    }

    function MostrarDialogo() {
        showDialog("DialogRegistroLink");
    }

    function fnGrilla() {
        //debugger;
        jQuery("#gvwLinks").jqGrid({
            url: baseUrl + "AdministrarLinks/Consultar",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                vpaisID: function () { return $("#ddlPais").val() },
                vrolID: function () { return '1' } // consultora
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['PermisoID', 'PaisID', 'Descripción', 'URL', 'Orden', 'Posición', 'Nueva Ventana', 'Padre', 'Acción', 'IdPadre', 'PaginaNueva'],
            colModel: [
                { name: 'PermisoID', index: 'PermisoID', width: 0, editable: true, resizable: false, hidden: true },
                { name: 'PaisID', index: 'PaisID', width: 0, editable: true, resizable: false, hidden: true },
                { name: 'Descripción', index: 'Descripción', width: 35, editable: true, resizable: false },
                //{ name: 'URL', index: 'URL', width: 20, editable: true, resizable: false },
                { name: 'URL', index: 'URL', width: 40, editable: true, resizable: false, formatter: ShowUrl },
                { name: 'Orden', index: 'Orden', width: 8, editable: true, resizable: false },
                { name: 'Posición', index: 'Posición', width: 10, editable: true, resizable: false, align: 'center' },
                { name: 'Nueva Ventana', index: 'Nueva Ventana', width: 14, editable: true, resizable: false, align: 'center' },
                { name: 'Padre', index: 'Padre', width: 34, editable: true, resizable: false },
                { name: 'Acción', index: 'Acción', width: 10, editable: true, sortable: false, align: 'center', resizable: false, formatter: ShowActions },
                { name: 'IdPadre', index: 'IdPadre', width: 0, editable: true, resizable: false, hidden: true },
                { name: 'PaginaNueva', index: 'PaginaNueva', width: 0, editable: true, resizable: false, hidden: true },
            ],
            jsonReader:
                {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: true,
                    cell: "cell"
                },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 1000,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'Orden',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 930,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass'
        });
        jQuery("#gvwLinks").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#gvwLinks").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');

        function ShowActions(cellvalue, options, rowObject) {
            var cellValueInt = parseInt(cellvalue);
            var Edit = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#gvwLinks').Editar('" + rowObject[0] + "');\" >" + "<img src='@Url.Content("~/Content/Images/Edit.png")' alt='Editar Link' title='Editar Link' border='0' /></a>";
            var Del = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#gvwLinks').Eliminar('" + rowObject[0] + "');\" >" + "<img src='@Url.Content("~/Content/Images/Delete.png")' alt='Eliminar Link' title='Eliminar Link' border='0' /></a>";

            return Edit + Del;
        };

        function ShowUrl(cellvalue, options, rowObject) {
            //debugger;
            var contenido = cellvalue;
            var valorParcial = cellvalue.substring(0, 40);
            if (cellvalue.length > 40) {
                contenido = valorParcial + "&nbsp;<a href='javascript:;' onclick=\"VerMas(this,'" + cellvalue + "','" + valorParcial + "');\" > ...Ver mas" + "</a>";
            }
            return contenido;
        };
    }

    $.jgrid.extend({
        Editar: function (Id) {
            //debugger;
            if (Id) {
                $('#PermisoID').val(Id);
                $('#PaisID').val(jQuery("#gvwLinks").jqGrid('getCell', Id, 'PaisID'));
                $('#PermisoIDPadre').val(jQuery("#gvwLinks").jqGrid('getCell', Id, 'IdPadre'));
                $('#ddlPaisDialogo').val(jQuery("#gvwLinks").jqGrid('getCell', Id, 'PaisID'));
                $('#OrdenItem').val(jQuery("#gvwLinks").jqGrid('getCell', Id, 'Orden'));
                $('#Descripcion').val(jQuery("#gvwLinks").jqGrid('getCell', Id, 'Descripción'));
                $('#UrlItem').val($("#gvwLinks").jqGrid('getCell', Id, 'URL'));
                $('#Posicion').val($("#gvwLinks").jqGrid('getCell', Id, 'Posición'));
                var isPaginaNueva = jQuery("#gvwLinks").jqGrid('getCell', Id, 'PaginaNueva') == "True";
                $('#PaginaNueva').val(isPaginaNueva).attr("checked", isPaginaNueva);
                //$('#ddlPadre').val(jQuery("#gvwLinks").jqGrid('getCell', Id, 'IdPadre'));
                $('#ddlPaisDialogo').prop('disabled', 'disabled');
                showDialog("DialogRegistroLink");
            } else {
                alert("No selecciono el Link");
            }
            return false;
        },
        Eliminar: function (Id) {
            //debugger;
            var elimina = confirm('¿ Está seguro que desea eliminar el registro seleccionado ?');
            if (!elimina)
                return false;
            waitingDialog({});
            jQuery.ajax({
                type: 'POST',
                url: baseUrl + 'AdministrarLinks/Eliminar',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ PermisoID: Id }),
                async: true,
                success: function (data) {
                    //debugger;
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        limpiarPopup();
                        if (data.success == true) {
                            alert(data.message);
                            jQuery("#gvwLinks").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                        }
                        else
                            alert(data.message);
                    }
                },
                error: function (data, error) {
                    //debugger;
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        alert("ERROR");
                    }
                }
            });
            return false;
        }
    });

    function VerMas(object, ValorCompleto, ValorParcial) {
        //debugger;
        var td = object.parentElement;
        td.innerHTML = ValorCompleto + "&nbsp;<a href='javascript:;' onclick=\"VerMenos(this,'" + ValorCompleto + "','" + ValorParcial + "');\" > ...Ver menos" + "</a>";
        return false;
    }

    function VerMenos(object, ValorCompleto, ValorParcial) {
        //debugger;
        var td = object.parentElement;
        td.innerHTML = ValorParcial + "&nbsp;<a href='javascript:;' onclick=\"VerMas(this,'" + ValorCompleto + "','" + ValorParcial + "');\" > ...Ver mas" + "</a>";
        return false;
    }

    function MostrarPopup() {
        var ddlPais = $("#ddlPais");
        if (ddlPais.val() == "") {
            alert("Para ingresar un nuevo registro primero debe seleccionar un País.");
            return false;
        }

        limpiarPopup();
        MostrarDialogo();
    }

    function limpiarPopup() {
        //debugger;
        $('#PaisID').val("");
        $('#IdPadre').val("");
        $('#ddlPaisDialogo').prop('disabled', false);
        $('#ddlPaisDialogo')[0].selectedIndex = 0;
        $('#OrdenItem').val("");
        $('#Descripcion').val("");
        $('#UrlItem').val("");
        $('#Posicion')[0].selectedIndex = 0;
        $("#PaginaNueva").attr("checked", false);
        $('#PermisoIDPadre')[0].selectedIndex = 0;
        $('#PermisoID').val("0");
    }

    function VistaPreviaHeader() {
        $('#DialogRegistroMenuHeader').dialog('open');
        $('#MenuHeader').load('@Url.Action("TraerHeader", "AdministrarLinks")');
        return false;
    }

    function VistaPreviaFooter() {
        $('#DialogRegistroMenuFooter').dialog('open');
        $('#MenuFooter').load('@Url.Action("TraerFooter", "AdministrarLinks")');
        return false;
    }
</script>


<div class="wrap_cab">
    <div class="filtros">
        <div class="elements">
            <div class="div-2">
                <h1>Mantenimiento  <span>de Menús</span></h1>
            </div>
            <div class="div-3">
                <div class="titG">País:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais" })
                </div>
                <div class="input_horizontal">
                    <a href="javascript:;" onclick="return VistaPreviaHeader();">
                        <img src="~/Content/Images/vista_header.png" title="Vista Previa Header" />
                    </a>
                    <a href="javascript:;" onclick="return VistaPreviaFooter();">
                        <img src="~/Content/Images/vista_footer.png" title="Vista Previa Footer" />
                    </a>
                </div>
            </div>
            <div class="div-3">
                <div class="titG"></div>
                <div class="input_horizontal">
                    <input type="button" value="Buscar" id="btnBuscar" name="btnBuscar">
                    <input type="button" name="btnNuevo" id="btnNuevo" value="Nuevo" onclick="return MostrarPopup();" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper">
            <table id="gvwLinks"></table>
            <div id="pager"></div>
        </div>
    </div>
</div>
<div id="loadingScreen"></div>

<div id="DialogRegistroLink" style="display: none;">
    @using (Html.BeginForm("Mantener", "AdministrarLinks", FormMethod.Post, new { id = "frmLink", enctype = "multipart/form-data" }))
    {
        <div class="Content_modal">
            @Html.Hidden("PermisoID")
            @*@Html.Hidden("PermisoIDPadre")*@
            @Html.Hidden("PaisID")
            <div class="div-3">
                <div class="titG">País:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPaisDialogo" })
                </div>
            </div>
            <div class="div-3">
                <div class="titG">Orden:</div>
                <div class="selectA borde_redondeado">
                    @Html.TextBox("OrdenItem", null, new { maxlength = 80 })
                </div>
            </div>
            <div class="div-3">
                <div class="titG">Descripción:</div>
                <div class="selectA borde_redondeado">
                    @Html.TextBox("Descripcion", null, new { maxlength = 140 })
                </div>
            </div>
            <div class="div-3">
                <div class="titG">Url:</div>
                <div class="selectA borde_redondeado">
                    @Html.TextBox("UrlItem", null, new { maxlength = 140 })
                </div>
            </div>
            <div class="div-3">
                <div class="titG">Posición:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownList("Posicion", new SelectList(Model.listaPosiciones, "Nombre", "Nombre"), "-- Seleccionar --")

                </div>
            </div>
            <div class="div-3">
                <div class="titG line_height"></div>
                <div class="titAuto line_height">
                    <label for="">
                        @Html.CheckBoxFor(model => model.PaginaNueva)
                        Nueva Ventana</label>
                </div>
            </div>
            <div class="div-3">
                <div class="titG">Padre:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownList("PermisoIDPadre", new SelectList(Model.listaLinks, "PermisoID", "Descripcion"), "--Seleccionar--", new Dictionary<string, object> { { "data-val", false } })
                </div>
            </div>
            @*@Html.ValidationSummary(null, new { @class = "validation-error-server", @id = "divMensaje" })*@
        </div>
    }
</div>

<div id="DialogRegistroMenuHeader" style="display: none;">
    <div class="Content_modal" style="height:200px;">
        <div id="MenuHeader" class="menu_header_preview">
            
        </div>
    </div>
</div>

<div id="DialogRegistroMenuFooter" style="display: none;">
    <div class="Content_modal">
        <div id="MenuFooter">
        </div>
        <div class="leyenda">Los items de color morado son estáticos</div>
    </div>
</div>
