@using Portal.Consultoras.Common

<div id="bloquemensajesPedido" style="display: none">
    <div class="bloque_mensajesPedido" style="display: block">
        <div class="icono_cerrar_mensaje" style="top: 16px">
            <span>
                <a href="javascript:void(0);" id="cerrarMensajeEstadoPedido" title="Cerrar" onclick="cerrarMensajeEstadoPedido();">
                    <img src="/Content/Images/cerrar_04.png" alt="Cerrar">
                </a>
            </span>
            <span>CERRAR</span>
        </div>
        <div class="icono_estadoPedido">
            <img src="@Url.Content("~/Content/Images/icono_exclamacion_estado_pedido_negro.png")" alt="Icono Estado Pedido" />
        </div>
        <div class="mensajes_estadoPedido">
            <span class="mensaje_estadoActualPedido">@ViewBag.GPRBannerTitulo</span>
            <span class="mensaje_horarioIngresoPedido">
                @ViewBag.GPRBannerMensaje
                @if (ViewBag.GPRBannerUrl == Enumeradores.RechazoBannerUrl.Deuda)
                {
                    <a class='CerrarBanner' title="MIRA LOS LUGARES DE PAGO" href='@Url.Action("Index", "MisPagos")?pestanhaInicial=@Constantes.PestanhasMisPagos.LugaresPago'>MIRA LOS LUGARES DE PAGO</a>
                }
                else if (ViewBag.GPRBannerUrl == Enumeradores.RechazoBannerUrl.ModificaPedido)
                {
                    <a class='CerrarBanner' title="MODIFICA TU PEDIDO" href='@Url.Action("Index", "Pedido")'>MODIFICA TU PEDIDO</a>
                }
            </span>
        </div>
    </div>
</div>