
<div class="row flex-row flex-nowrap justify-content-between ml-0 mr-0 resultado_busqueda_producto text-left">
    <div class="col pl-0 pr-0 resultado_busqueda_img_prod redireccionarFicha">
        <img src="@Url.Content("~/Content/Images/imagen_prod_no_disponible.jpg")" alt="">
    </div>
    <div class="col pl-0 pr-0 resultado_busqueda_descrip_prod redireccionarFicha">
        <div class="col-12 pl-0 pr-0 resultado_busqueda_nom_producto">
            Kalos impact
        </div>
        <div class="col-12 pl-0 pr-0 resultado_busqueda_precio_prod">
            <span class="col-12 pl-0 pr-0 d-block resultado_busqueda_precio_normal">S/. 125.00</span>
            <span class="col-12 pl-0 pr-0 d-block resultado_busqueda_precio_oferta">S/. 59.90</span>
        </div>
        <div class="col-12 pl-0 pr-0 resultado_busqueda_tipo_oferta_prod">Catálogo Ésika</div>
    </div>
    <div class="row flex-row flex-nowrap justify-content-between align-items-center ml-0 mr-0 resultado_wrapper_selector_cantidad_y_btn_agregar">
        <div class="col-6 pl-0 pr-0 resultado_busqueda_cantidad_prod">
            <a class="cantidad_menos_home d-inline-block">
                <img src="@Url.Content("~/Content/Images/mobile/esika/menos.png")" alt="">
            </a>
            <input type="tel" value="1" size="2" maxlength="2" data-input="cantidad" class="rango_cantidad_pedido text-center d-inline-block ValidaNumeral ValidaPasteNumeral">
            <a class="cantidad_mas_home d-inline-block">
                <img src="@Url.Content("~/Content/Images/mobile/esika/mas.png")" alt="">
            </a>
        </div>
        <div class="col-6 pl-0 pr-0 resultado_busqueda_btn_agregar_wrapper text-center">
            <a class="boton_Agregalo_home text-center text-uppercase d-block agregarProductoBuscador">
                Agrégalo
            </a>
        </div>
        <div class="col-12 pl-0 etiqueta_prod_agregado text-right text-uppercase text-bold etiqueta_buscador_producto">
            Agregado
        </div>
    </div>
</div>
<div class="row flex-row flex-nowrap justify-content-between ml-0 mr-0 resultado_busqueda_producto text-left">
    <div class="col pl-0 pr-0 resultado_busqueda_img_prod redireccionarFicha">
        <img src="@Url.Content("~/Content/Images/imagen_prod_no_disponible.jpg")" alt="">
    </div>
    <div class="col pl-0 pr-0 resultado_busqueda_descrip_prod redireccionarFicha">
        <div class="col-12 pl-0 pr-0 resultado_busqueda_nom_producto">
            Kalos impact
        </div>
        <div class="col-12 pl-0 pr-0 resultado_busqueda_precio_prod">
            <span class="col-12 pl-0 pr-0 d-block resultado_busqueda_precio_normal">S/. 125.00</span>
            <span class="col-12 pl-0 pr-0 d-block resultado_busqueda_precio_oferta">S/. 59.90</span>
        </div>
        <div class="col-12 pl-0 pr-0 resultado_busqueda_tipo_oferta_prod">Catálogo Ésika</div>
    </div>
    <div class="row flex-row flex-nowrap justify-content-between align-items-center ml-0 mr-0 resultado_wrapper_selector_cantidad_y_btn_agregar">
        <!-- CUANDO EL PRODUCTO ESTÁ AGOTADO AGREGAR CLASE selector_cant_desactivado -->
        <div class="col-6 pl-0 pr-0 resultado_busqueda_cantidad_prod selector_cant_desactivado">
            <a class="cantidad_menos_home d-inline-block">
                <img src="@Url.Content("~/Content/Images/mobile/esika/menos.png")" alt="">
            </a>
            <!-- CUANDO EL PRODUCTO ESTÁ AGOTADO SE LE AGREGA EL ATRIBUTO DISABLED A ESTE INPUT -->
            <input type="tel" value="1" size="2" maxlength="2" data-input="cantidad" disabled class="rango_cantidad_pedido text-center d-inline-block ValidaNumeral ValidaPasteNumeral">
            <!-- FIN - CUANDO EL PRODUCTO ESTÁ AGOTADO SE LE AGREGA EL ATRIBUTO DISABLED A ESTE INPUT -->
            <a class="cantidad_mas_home d-inline-block">
                <img src="@Url.Content("~/Content/Images/mobile/esika/mas.png")" alt="">
            </a>
        </div>
        <!-- FIN - CUANDO EL PRODUCTO ESTÁ AGOTADO AGREGAR CLASE selector_cant_desactivado -->
        <div class="col-6 pl-0 pr-0 resultado_busqueda_btn_agregar_wrapper text-center">
            <!-- ESTE BOTÓN SE MUESTRA CUANDO EL PRODUCTO ESTÁ AGOTADO -->
            <a class="btn_inactivo d-block text-center text-uppercase">
                Agotado
            </a>
            <!-- FIN - ESTE BOTÓN SE MUESTRA CUANDO EL PRODUCTO ESTÁ AGOTADO -->
            <a class="boton_Agregalo_home text-center text-uppercase d-block agregarProductoBuscador" style="display:none!important;">
                Agrégalo
            </a>
        </div>
        <div class="col-12 pl-0 etiqueta_prod_agregado text-right text-uppercase text-bold etiqueta_buscador_producto">
            Agregado
        </div>
        @*<div class="col-12 pl-0 pr-0 resultado_busqueda_btn_elegir_opcion_wrapper text-center">
                <a class="btn_elegir_opcion row flex-row flex-nowrap justify-content-center align-items-center ml-0 mr-0 text-uppercase redireccionarFicha">
                    <span class="icono_elige_tu_opcion d-inline-block">
                        <img src="@Url.Content("~/Content/Images/icono-elige-tu-opcion.svg")" alt="Elige tu opción">
                    </span>
                    <span class="d-inline-block text-bold">
                        Elige tu opción
                    </span>
                </a>
            </div>*@
    </div>
</div>
<div class="row flex-row flex-nowrap justify-content-between ml-0 mr-0 resultado_busqueda_producto text-left">
    <div class="col pl-0 pr-0 resultado_busqueda_img_prod redireccionarFicha">
        <img src="@Url.Content("~/Content/Images/imagen_prod_no_disponible.jpg")" alt="">
    </div>
    <div class="col pl-0 pr-0 resultado_busqueda_descrip_prod redireccionarFicha">
        <div class="col-12 pl-0 pr-0 resultado_busqueda_nom_producto">
            Kalos impact
        </div>
        <div class="col-12 pl-0 pr-0 resultado_busqueda_precio_prod">
            <span class="col-12 pl-0 pr-0 d-block resultado_busqueda_precio_normal">S/. 125.00</span>
            <span class="col-12 pl-0 pr-0 d-block resultado_busqueda_precio_oferta">S/. 59.90</span>
        </div>
        <div class="col-12 pl-0 pr-0 resultado_busqueda_tipo_oferta_prod">Catálogo Ésika</div>
    </div>
    <div class="row flex-row flex-nowrap justify-content-between align-items-center ml-0 mr-0 resultado_wrapper_selector_cantidad_y_btn_agregar">
        <div class="col-6 pl-0 pr-0 resultado_busqueda_cantidad_prod">
            <a class="cantidad_menos_home d-inline-block">
                <img src="@Url.Content("~/Content/Images/mobile/esika/menos.png")" alt="">
            </a>
            <input type="tel" value="1" size="2" maxlength="2" data-input="cantidad" class="rango_cantidad_pedido text-center d-inline-block ValidaNumeral ValidaPasteNumeral">
            <a class="cantidad_mas_home d-inline-block">
                <img src="@Url.Content("~/Content/Images/mobile/esika/mas.png")" alt="">
            </a>
        </div>
        <div class="col-6 pl-0 pr-0 resultado_busqueda_btn_agregar_wrapper text-center">
            <a class="boton_Agregalo_home text-center text-uppercase d-block agregarProductoBuscador">
                Agrégalo
            </a>
        </div>
        <div class="col-12 pl-0 etiqueta_prod_agregado text-right text-uppercase text-bold etiqueta_buscador_producto">
            Agregado
        </div>
    </div>
</div>
<div class="row flex-row flex-nowrap justify-content-between ml-0 mr-0 resultado_busqueda_producto text-left">
    <div class="col pl-0 pr-0 resultado_busqueda_img_prod redireccionarFicha">
        <img src="@Url.Content("~/Content/Images/imagen_prod_no_disponible.jpg")" alt="">
    </div>
    <div class="col pl-0 pr-0 resultado_busqueda_descrip_prod redireccionarFicha">
        <div class="col-12 pl-0 pr-0 resultado_busqueda_nom_producto">
            Kalos impact
        </div>
        <div class="col-12 pl-0 pr-0 resultado_busqueda_precio_prod">
            <span class="col-12 pl-0 pr-0 d-block resultado_busqueda_precio_normal">S/. 125.00</span>
            <span class="col-12 pl-0 pr-0 d-block resultado_busqueda_precio_oferta">S/. 59.90</span>
        </div>
        <div class="col-12 pl-0 pr-0 resultado_busqueda_tipo_oferta_prod">Catálogo Ésika</div>
    </div>
    <div class="row flex-row flex-nowrap justify-content-between align-items-center ml-0 mr-0 resultado_wrapper_selector_cantidad_y_btn_agregar">
        <div class="col-6 pl-0 pr-0 resultado_busqueda_cantidad_prod">
            <a class="cantidad_menos_home d-inline-block">
                <img src="@Url.Content("~/Content/Images/mobile/esika/menos.png")" alt="">
            </a>
            <input type="tel" value="1" size="2" maxlength="2" data-input="cantidad" class="rango_cantidad_pedido text-center d-inline-block ValidaNumeral ValidaPasteNumeral">
            <a class="cantidad_mas_home d-inline-block">
                <img src="@Url.Content("~/Content/Images/mobile/esika/mas.png")" alt="">
            </a>
        </div>
        <div class="col-6 pl-0 pr-0 resultado_busqueda_btn_agregar_wrapper text-center">
            <a class="boton_Agregalo_home text-center text-uppercase d-block agregarProductoBuscador">
                Agrégalo
            </a>
        </div>
        <div class="col-12 pl-0 etiqueta_prod_agregado text-right text-uppercase text-bold etiqueta_buscador_producto">
            Agregado
        </div>
    </div>
</div>