@model Portal.Consultoras.Web.Models.AdministrarFeErratasModel
@{
    ViewBag.Title = "Administrar Fe de Erratas";
}
<script src="@Url.Content("~/Scripts/fileuploader.js")" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/jquery.form.js"></script>
<script type="text/ecmascript">
    var isoPAIS = "";
    jQuery(document).ready(function () {
        $(".qq-upload-list").css("display", "none");
        IniDialogRegistroFeErratas();

        $("#ddlPais").change(function () {
            var Id = $(this).val();
            if (Id != "") {
                waitingDialog({});
                $.ajaxSetup({ cache: false });
                $.getJSON(baseUrl + 'AdministrarFeErratas/ObtenterDropDownPorPais', { PaisID: Id == "" ? 0 : Id }, function (data) {
                    if (checkTimeout(data)) {
                        var ddlCampania = $("#ddlCampania");

                        if (Id != "") {
                            if (data.lstCampania.length > 0) {
                                for (var item in data.lstCampania) {
                                    if (data.lstCampania.hasOwnProperty(item)) {
                                        ddlCampania.append($('<option/>', {
                                            value: data.lstCampania[item].CampaniaID,
                                            text: data.lstCampania[item].Codigo
                                        }));
                                    }
                                }
                            }
                        }
                        closeWaitingDialog();
                    }
                });
                $.getJSON(baseUrl + 'OfertaGratis/ObtenerISOPais', { paisID: Id }, function (data) {
                    isoPAIS = data.ISO;
                });
                jQuery("#gvwFeErratas").jqGrid("clearGridData");
            } else {
                var ddlCampania = $("#ddlCampania");
                ddlCampania.empty();
                ddlCampania.append($('<option/>', {
                    value: "",
                    text: "-- Seleccionar --"
                }));
                jQuery("#gvwFeErratas").jqGrid("clearGridData");
            }
        });

        $("#btnBuscar").click(function () {
            if ($("#ddlPais").val() == "") {
                alert("Debe seleccionar un País, verifique");
                return false;
            }

            if ($("#ddlCampania").val() == "") {
                alert("Debe seleccionar una Campaña, verifique");
                return false;
            }

            fnGrilla();
        });

        $("#btnNuevo").click(function () {
            if ($("#ddlPais").val() == "") {
                alert("Debe seleccionar un País, verifique");
                return false;
            }

            if ($("#ddlCampania").val() == "") {
                alert("Debe seleccionar una Campaña, verifique");
                return false;
            }
            limpiarPopup();
            $('#PaisID').val($('#ddlPais').val());
            $('#ddlPaisDialogo').val($('#ddlPais').val());
            $('#CampaniaID').val($('#ddlCampania').val());
            $('#ddlCampaniaDialogo').val($('#ddlCampania').val());
            $('#ddlPaisDialogo').prop('disabled', 'disabled');
            $('#ddlCampaniaDialogo').prop('disabled', 'disabled');

            $('#gvwFeErratasEntradas').jqGrid('GridUnload');
            fnGrillaEntradas();
            jQuery("#gvwFeErratasEntradas").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');

            MostrarPopup();
        });

        $("#Titulo").keypress(
        function (evt) {
            var charCode = (evt.which) ? evt.which : window.event.keyCode;
            if (charCode == 13) {
                fnGrillaEntradas();
                jQuery("#gvwFeErratasEntradas").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
            }
        });

        $("#btnCancelar").click(function () {
            limpiarEntrada();
        });

        $("#btnAgregarActualizar").click(function () {

            if ($("#Pagina").val() == "") {
                alert("Debe ingresar el campo Página, verifique");
                return false;
            }
            if ($("#Dice").val() == "") {
                alert("Debe ingresar el campo Dice, verifique");
                return false;
            }
            if ($("#DebeDecir").val() == "") {
                alert("Debe ingresar el campo Debe Decir, verifique");
                return false;
            }


            if ($(this).val() == 'Agregar') {

                var item = {
                    Pagina: $('#Pagina').val(),
                    Dice: $('#Dice').val(),
                    DebeDecir: $('#DebeDecir').val()
                };
                waitingDialog({});
                jQuery.ajax({
                    type: 'POST',
                    url: baseUrl + 'AdministrarFeErratas/AgregarEntrada',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(item),
                    async: true,
                    success: function (data) {

                        if (checkTimeout(data)) {
                            closeWaitingDialog();
                            limpiarEntrada();
                            if (data.success == true) {
                                alert(data.message);
                                fnGrillaEntradas();
                                jQuery("#gvwFeErratasEntradas").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            }
                            else
                                alert(data.message);
                        }
                    },
                    error: function (data, error) {

                        if (checkTimeout(data)) {
                            closeWaitingDialog();
                            alert("ERROR");
                        }
                    }
                });
            }

            if ($(this).val() == 'Actualizar') {

                var item = {
                    FeErratasID: $('#FeErratasID').val(),
                    Pagina: $('#Pagina').val(),
                    Dice: $('#Dice').val(),
                    DebeDecir: $('#DebeDecir').val()
                };
                waitingDialog({});
                jQuery.ajax({
                    type: 'POST',
                    url: baseUrl + 'AdministrarFeErratas/ActualizarEntrada',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(item),
                    async: true,
                    success: function (data) {

                        if (checkTimeout(data)) {
                            closeWaitingDialog();
                            limpiarEntrada();
                            if (data.success == true) {
                                alert(data.message);
                                jQuery("#gvwFeErratasEntradas").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            }
                            else
                                alert(data.message);
                        }
                    },
                    error: function (data, error) {

                        if (checkTimeout(data)) {
                            closeWaitingDialog();
                            alert("ERROR");
                        }
                    }
                });
            }
        });

        $('#frmFeErratas').ajaxForm({
            beforeSubmit: function () {

                var message = "";

                if (jQuery.trim($('#ddlPaisDialogo').val()) == "")
                    message += "- Debe seleccionar un País.\n";

                if (jQuery.trim($('#ddlCampaniaDialogo').val()) == "")
                    message += "- Debe seleccionar una Campaña.\n";

                if (jQuery.trim($('#Titulo').val()) == "")
                    message += "- Debe ingresar el Titulo.\n";

                if (message.length > 0) {
                    alert(message);
                    return false;
                }
            },
            success: fnRespuestaFeErratas
        });

        function fnRespuestaFeErratas(responseText, statusText, xhr, $form) {

            if (checkTimeout(responseText)) {
                $("#gvwFeErratas").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                limpiarPopup();
                alert(responseText.message);
                HideDialog("DialogRegistroFeErratas");
                //$('#DialogRegistroFeErratas').dialog('close');
            }
        }
    });

    function IniDialogRegistroFeErratas() {
        fnGrillaEntradas();
        $('#DialogRegistroFeErratas').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 900,
            height: 'auto',
            draggable: true,
            title: "Actualización de Fe de Erratas",
            buttons:
            {
                "Guardar": function () {

                    var vMessage = "";
                    $('#frmFeErratas').submit();
                },
                "Cerrar": function () {
                    HideDialog("DialogRegistroFeErratas");
                    //$(this).dialog('close');
                }
            },
            close: function (event, ui) {
                    HideDialog("DialogRegistroFeErratas");
                $.getJSON(baseUrl + 'AdministrarFeErratas/EliminarSesion', {}, function (data) {

                });
            }
        });
    }

    function MostrarDialogo() {
        showDialog("DialogRegistroFeErratas");
    }

    function fnGrilla() {
        jQuery("#gvwFeErratas").jqGrid({
            url: baseUrl + "AdministrarFeErratas/Consultar",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                vpaisID: function () { return $("#ddlPais").val() },
                vCampaniaID: function () { return $("#ddlCampania").val() }
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['FeErratasID', 'PaisID', 'CampaniaID', 'Campaña', 'Titulo', 'Dice', 'DebeDecir', 'Opcion'],
            colModel: [
                { name: 'FeErratasID', index: 'FeErratasID', width: 0, editable: true, resizable: false, hidden: true },
                { name: 'PaisID', index: 'PaisID', width: 0, editable: true, resizable: false, hidden: true },
                { name: 'CampaniaID', index: 'CampaniaID', width: 0, editable: true, resizable: false, hidden: true },
                { name: 'Campaña', index: 'Campaña', width: 15, editable: true, resizable: false },
                { name: 'Titulo', index: 'Titulo', width: 20, editable: true, resizable: false },
                { name: 'Dice', index: 'Subtitulo', width: 20, editable: true, resizable: false },
                { name: 'DebeDecir', index: 'DebeDecir', width: 20, editable: true, resizable: false },
                { name: 'Activo', index: 'Activo', width: 10, editable: true, sortable: false, align: 'center', resizable: false, formatter: ShowActions }
            ],
            jsonReader:
                {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: true,
                    cell: "cell",
                    id: "id",
                    ISOPais: 'ISOPais'
                },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'Titulo',
            sortorder: 'desc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 930,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function (data) { isoPAIS = data.ISOPais; },
            gridComplete: function () { }
        });
        jQuery("#gvwFeErratas").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#gvwFeErratas").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');

        function ShowActions(cellvalue, options, rowObject) {
            var cellValueInt = parseInt(cellvalue);
            var Edit = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#gvwFeErratas').Editar('" + rowObject[0] + "');\" >" + "<img src='@Url.Content("~/Content/Images/Edit.png")' alt='Editar Fe de Erratas' title='Editar Fe de Erratas' border='0' /></a>";
            var Del = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#gvwFeErratas').Eliminar('" + rowObject[0] + "');\" >" + "<img src='@Url.Content("~/Content/Images/Delete.png")' alt='Eliminar Fe de Erratas' title='Eliminar Fe de Erratas' border='0' /></a>";

            return Edit + Del;
        };

        function ShowImage(cellvalue, options, rowObject) {

            var image = "";
            if (rowObject[4] !== "")
                image = '<img src="' + '@Url.Content("~/Content/FeErratas/")' + isoPAIS + "/" + rowObject[4] + '" alt="" width="160px" height="60px" title="" border="0" />';
            else
                image = '<img src="@Url.Content("~/Content/Images/prod_grilla_vacio.png")" alt="" width="60px" height="60px" title="" border="0" />';
            return image;
        };
    }

    $.jgrid.extend({
        Editar: function (Id) {

            if (Id) {
                $('#FeErratasID').val(Id);
                $('#PaisID').val(jQuery("#gvwFeErratas").jqGrid('getCell', Id, 'PaisID'));
                $('#ddlPaisDialogo').val(jQuery("#gvwFeErratas").jqGrid('getCell', Id, 'PaisID'));
                $('#CampaniaID').val(jQuery("#gvwFeErratas").jqGrid('getCell', Id, 'CampaniaID'));
                $('#ddlCampaniaDialogo').val(jQuery("#gvwFeErratas").jqGrid('getCell', Id, 'CampaniaID'));
                $('#Titulo').val(jQuery("#gvwFeErratas").jqGrid('getCell', Id, 'Titulo'));
                $('#ddlPaisDialogo').prop('disabled', 'disabled');
                $('#ddlCampaniaDialogo').prop('disabled', 'disabled');

                fnGrillaEntradas();
                jQuery("#gvwFeErratasEntradas").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                showDialog("DialogRegistroFeErratas");
            } else {
                alert("No selecciono la entrada de Fe de Erratas");
            }
            return false;
        },
        Eliminar: function (Id) {

            var elimina = confirm('¿ Está seguro que desea eliminar el registro seleccionado ?');
            if (!elimina)
                return false;
            waitingDialog({});
            jQuery.ajax({
                type: 'POST',
                url: baseUrl + 'AdministrarFeErratas/Eliminar',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ FeErratasID: Id }),
                async: true,
                success: function (data) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        limpiarEntrada();
                        if (data.success == true) {
                            alert(data.message);
                            jQuery("#gvwFeErratas").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                        }
                        else
                            alert(data.message);
                    }
                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        alert("ERROR");
                    }
                }
            });
            return false;
        }
    });

    function fnGrillaEntradas() {
        jQuery("#gvwFeErratasEntradas").jqGrid({
            ajaxGridOptions: { cache: false },
            url: baseUrl + "AdministrarFeErratas/ConsultarEntradas",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                vpaisID: function () { return ($("#ddlPaisDialogo").val() == '') ? $("#ddlPais").val() : $("#ddlPaisDialogo").val() },
                vCampaniaID: function () { return ($("#ddlCampaniaDialogo").val() == '') ? '0' : $("#ddlCampaniaDialogo").val() },
                vTitulo: function () { return ($("#Titulo").val() == '') ? 'default' : $("#Titulo").val() }
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['FeErratasID', 'Página', 'Dice', 'Debe Decir', 'Acción'],
            colModel: [
                { name: 'FeErratasID', index: 'FeErratasID', editable: true, resizable: false, hidden: true },
                { name: 'Página', index: 'Página', editable: true, resizable: false },
                { name: 'Dice', index: 'Dice', editable: true, resizable: false },
                { name: 'Debe Decir', index: 'Debe Decir', editable: true, resizable: false },
                { name: 'Acción', index: 'Acción', editable: true, sortable: false, align: 'center', resizable: false, formatter: ShowActionsEntradas }
            ],
            jsonReader:
                {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: true,
                    cell: "cell"
                },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'Página',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 830,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass'
        });
        jQuery("#gvwFeErratasEntradas").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#gvwFeErratasEntradas").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');

        function ShowActionsEntradas(cellvalue, options, rowObject) {
            var cellValueInt = parseInt(cellvalue);
            var Edit = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#gvwFeErratasEntradas').Editar2('" + rowObject[0] + "');\" >" + "<img src='@Url.Content("~/Content/Images/Edit.png")' alt='Editar Entrada de Fe de Erratas' title='Editar Entrada de Fe de Erratas' border='0' /></a>";
            var Del = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#gvwFeErratasEntradas').Eliminar2('" + rowObject[0] + "');\" >" + "<img src='@Url.Content("~/Content/Images/Delete.png")' alt='Eliminar Entrada de Fe de Erratas' title='Eliminar Entrada de Fe de Erratas' border='0' /></a>";

            return Edit + Del;
        };
    }

    $.jgrid.extend({
        Editar2: function (Id) {

            if (Id) {
                $('#FeErratasID').val(Id);
                $('#Pagina').val(jQuery("#gvwFeErratasEntradas").jqGrid('getCell', Id, 'Página'));
                $('#Dice').val(jQuery("#gvwFeErratasEntradas").jqGrid('getCell', Id, 'Dice'));
                $('#DebeDecir').val(jQuery("#gvwFeErratasEntradas").jqGrid('getCell', Id, 'Debe Decir'));
                $("#btnAgregarActualizar").attr('value', "Actualizar");
                $("#btnCancelar").attr("style", "display:inline;");
            } else {
                alert("No selecciono la entrada de Fe de Erratas");
            }
            return false;
        },
        Eliminar2: function (Id) {

            var elimina = confirm('¿ Está seguro que desea eliminar el registro seleccionado ?');
            if (!elimina)
                return false;
            waitingDialog({});
            jQuery.ajax({
                type: 'POST',
                url: baseUrl + 'AdministrarFeErratas/EliminarEntrada',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ FeErratasID: Id }),
                async: true,
                success: function (data) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        limpiarEntrada();
                        if (data.success == true) {
                            alert(data.message);
                            jQuery("#gvwFeErratasEntradas").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                        }
                        else
                            alert(data.message);
                    }
                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        alert("ERROR");
                    }
                }
            });
            return false;
        }
    });

    function VerMas(object, ValorCompleto, ValorParcial) {

        var td = object.parentElement;
        td.innerHTML = ValorCompleto + "&nbsp;<a href='javascript:;' onclick=\"VerMenos(this,'" + ValorCompleto + "','" + ValorParcial + "');\" > ...Ver menos" + "</a>";
        return false;
    }

    function VerMenos(object, ValorCompleto, ValorParcial) {

        var td = object.parentElement;
        td.innerHTML = ValorParcial + "&nbsp;<a href='javascript:;' onclick=\"VerMas(this,'" + ValorCompleto + "','" + ValorParcial + "');\" > ...Ver mas" + "</a>";
        return false;
    }

    function MostrarPopup() {
        var ddlPais = $("#ddlPais");
        if (ddlPais.val() == "") {
            alert("Para ingresar un nuevo registro primero debe seleccionar un País.");
            return false;
        }
        MostrarDialogo();
    }

    function limpiarPopup() {
        $('#ddlPaisDialogo').prop('disabled', false);
        $('#ddlCampaniaDialogo').prop('disabled', false);
        $('#ddlPaisDialogo').removeAttr("disabled");
        $('#ddlCampaniaDialogo').removeAttr("disabled");
        $('#Titulo').val("");
        $('#Dice').val("");
        $('#DebeDecir').val("");
        $('#FeErratasID').val("0");
        $("#btnAgregarActualizar").attr('value', "Agregar");
        $("#btnCancelar").attr("style", "display:none;");
    }

    function limpiarEntrada() {
        $('#Pagina').val("0");
        $('#Dice').val("");
        $('#DebeDecir').val("");
        $("#btnAgregarActualizar").attr('value', "Agregar");
        $("#btnCancelar").attr("style", "display:none;");
    }
</script>

<div class="wrap_cab">
    <div class="filtros">
        <div class="elements">
            <div class="div-2">
                <h1>Mantenimiento  <span>de Fe de Erratas</span></h1>
            </div>
            <div class="div-3">
                <div class="titG">País:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais" })
                </div>
                <div class="titB">Campaña:</div>
                <div class="selectA borde_redondeado">
                    <select id="ddlCampania">
                        <option value="">-- Seleccionar --
                        </option>
                    </select>
                </div>
                <div class="input_horizontal">
                    <input type="button" value="Buscar" id="btnBuscar" name="btnBuscar">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper">
            <table id="gvwFeErratas"></table>
            <div id="pager"></div>
        </div>
        <div class="div-3">
            <div class="titAuto">
                <div class="input_search">
                    <input type="button" name="btnNuevo" id="btnNuevo" value="Nuevo" />
                </div>
            </div>
        </div>
    </div>
</div>

<div id="loadingScreen"></div>

<div id="DialogRegistroFeErratas" style="display: none;">
    @using (Html.BeginForm("Mantener", "AdministrarFeErratas", FormMethod.Post, new { id = "frmFeErratas" }))
    {
        <div class="Content_modal">
            @Html.Hidden("FeErratasID")
            @Html.Hidden("PaisID")
            @Html.Hidden("CampaniaID")
            <div class="div-3">
                <div class="titC">País:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPaisDialogo" })
                </div>
                <div class="titC">Campaña:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.CampaniaID, new SelectList(Model.listaCampania, "CampaniaID", "Codigo"), "-- Seleccionar --", new { id = "ddlCampaniaDialogo" })
                </div>
            </div>
            <div class="div-3">
                <div class="titC">Titulo:</div>
                <div class="selectA borde_redondeado">
                    @Html.TextBox("Titulo", null, new { maxlength = 80 })
                </div>
            </div>
            <div class="border-wrapper_reg" style="border: none; padding: 8px 0px 8px 0px;">
                <div class="div-3">
                    <div class="titC">Página:</div>
                    <div class="selectA borde_redondeado">
                        @Html.TextBox("Pagina", null, new { maxlength = 80 })
                    </div>
                    <div class="titC">Dice:</div>
                    <div class="selectA borde_redondeado">
                        @Html.TextBox("Dice", null, new { maxlength = 80 })
                    </div>
                </div>
                <div class="div-3">
                    <div class="titC">Debe Decir:</div>
                    <div class="selectA borde_redondeado">
                        @Html.TextBox("DebeDecir", null, new { maxlength = 80 })
                    </div>
                    <div class="input_horizontal">
                        <input type="button" value="Agregar" id="btnAgregarActualizar" name="btnAgregarActualizar">
                        <input type="button" value="Cancelar" id="btnCancelar" name="btnCancelar" style="display: none;">
                    </div>
                </div>
                <div class="grilla_fede">
                    <table id="gvwFeErratasEntradas"></table>
                    <div id="pagerEntradas"></div>
                </div>
            </div>
            @Html.ValidationSummary(null, new { @class = "validation-error-server", @id = "divMensaje" })
        </div>
    }
</div>
