@{
    Layout = "~/Areas/Mobile/Views/Shared/_ChatbotEmptyLayout.cshtml";
}
@model Portal.Consultoras.Web.Areas.Mobile.Models.CatalogoCompartirModel

@section scripts{
    <script>
        var urlCat = "@Model.UrlCatalogo";
        var idCat = "#divCatalogo";
        var data = {
            campania: "@Model.Campania",
            tipoCatalogo: "@Model.TipoCatalogo",
            comp: "@Model.TipoCatalogo",
            descripcion: "",
            estado: "0"
        };

        function InsertarLogCatalogoDynamo(opcionAccion, campaniaCatalogo, marca, cantidad) {
            InsertarLogDymnamo(
                'Catalogo-Compartir',
                opcionAccion,
                true,
                [
                    { 'key': 'CampaniaCatalogo', 'value': campaniaCatalogo },
                    { 'key': 'Marca', 'value': marca },
                    { 'key': 'Cantidad', 'value': cantidad }
                ]
            );
        }

        $(document).ready(function () {
            var urlCatWs = urlCat;

            urlCatWs = urlCatWs.ReplaceAll("/", "%2F");
            urlCatWs = urlCatWs.ReplaceAll(":", "%3A");
            urlCatWs = urlCatWs.ReplaceAll("?", "%3F");
            urlCatWs = urlCatWs.ReplaceAll("=", "%3D");

            $(idCat).find(".btn_ws").attr("href", "whatsapp://send?text=" + urlCatWs);
        });

    </script>
    <script src="@Url.Content("~/Scripts/PortalConsultoras/Shared/General/RedesSociales.js")"></script>
}
<div class="content_carrusel_catalogo" id="divCatalogo">
    <div style="max-width:440px; margin:0 auto;" data-cat="@Model.TipoCatalogo">
        <input id="txtUrl@Model.TipoCatalogo" type="hidden" value="@Model.UrlCatalogo" />
        <a class="btn_ws" onclick="RedesSociales.TagManagerWS('@Model.TipoCatalogo', '@Model.Campania');">
            <img src="@Url.Content("~/Content/Images/mobile/Esika/catalogo_ws.png")" alt="-" style="height: 100%;" />
        </a>
        <a class="btn_facebook" href="#" data-accion="face" onclick="RedesSociales.CompartirFacebook('@Model.TipoCatalogo', '@Model.Campania', this);return false;">
            <img src="@Url.Content("~/Content/Images/mobile/Esika/catalogo_facebook.png")" alt="-" />
        </a>
    </div>
</div>
