@*INI HD-3812*@

@using Portal.Consultoras.Common
@model Portal.Consultoras.Web.Models.MisCertificados.MiCertificadoModel

<div style="display:block; width:510px; float:left;">
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:right; line-height:115%; font-size:12pt">
        <span style="width:35.4pt; display:inline-block">&#xa0;</span>
        <span style="width:35.4pt; display:inline-block">&#xa0;</span>
        <span style="width:35.4pt; display:inline-block">&#xa0;</span>
        <span style="width:35.4pt; display:inline-block">&#xa0;</span>
        <span style="width:35.4pt; display:inline-block">&#xa0;</span>
        <span style="width:35.4pt; display:inline-block">&#xa0;</span>
        <span style="width:35.4pt; display:inline-block">&#xa0;</span>
        <span style="width:35.4pt; display:inline-block">&#xa0;</span>
        <span style="width:35.4pt; display:inline-block">&#xa0;</span>
        <span style="font-family:Arial">No. @Model.NumeroSecuencia</span>
    </p>
    <p style="margin-top: 0pt; margin-bottom: 0pt; text-align: justify; line-height: 115%; font-size: 12pt;">
        <span style="font-family: Arial;">&nbsp;</span>
    </p>
    <p style="margin-top: 0pt; margin-bottom: 0pt; text-align: justify; line-height: 115%; font-size: 12pt;">
        <span style="font-family: Arial;">&nbsp;</span>
    </p>
    <p style="margin-top: 0pt; margin-bottom: 0pt; text-align: justify; line-height: 115%; font-size: 12pt;">
        <span style="font-family: Arial;">&nbsp;</span>
    </p>

    <p style="margin-top: 0pt; margin-bottom: 0pt; text-align: center; line-height: 115%; font-size: 15pt;">
        <span style="font-family: Arial;"><u><b>CONSTANCIA DE NO ADEUDO</b></u></span>
    </p>

    <p style="margin-top: 0pt; margin-bottom: 0pt; text-align: center; line-height: 115%; font-size: 12pt;">
        <span style="font-family: Arial;">&nbsp;</span>
    </p>
    <p style="margin-top: 0pt; margin-bottom: 0pt; text-align: justify; line-height: 115%; font-size: 12pt;">
        <span style="font-family: Arial;">&nbsp;</span>
    </p>
    <p style="margin-top: 0pt; margin-bottom: 0pt; text-align: justify; line-height: 115%; font-size: 12pt;">

        <span style="font-family: Arial;">Por la presente dejamos constancia que la Sra.(ta) @Model.NombreCompleto.Trim()</span>
        @*<span style="font-family: Arial;"> identificada con DNI No. @Model.NumeroDocumento.Trim()</span>*@
        @if (Model.Pais == "GT")
        {<span style="font-family: Arial;"> identificada con documento personal de identificaci&oacute;n No. @Model.NumeroDocumento.Trim()</span>}
        else if (Model.Pais == "ES")
        {<span style="font-family: Arial;"> identificada con documento &uacute;nico de identidad No. @Model.NumeroDocumento.Trim()</span>}
        else if (Model.Pais == "PA" || Model.Pais == "CR")
        {<span style="font-family: Arial;"> identificada con  @Model.TipoDocumento.Trim() No. @Model.NumeroDocumento.Trim()</span>}
        else 
        {<span style="font-family: Arial;"> identificada con documento No. @Model.NumeroDocumento.Trim()</span>}
        <span style="font-family: Arial;"> es cliente de la empresa y a la fecha </span>
        <span style="font-family: Arial; text-transform: uppercase;">@Model.DescripcionEstado</span>
        <span style="font-family: Arial;"> pendiente de pago con @Model.RazonSocial</span>


    </p>
    <p style="margin-top: 0pt; margin-bottom: 0pt; text-align: justify; line-height: 115%; font-size: 12pt;">
        <span style="font-family: Arial;">&nbsp;</span>
    </p>
    <p style="margin-top: 0pt; margin-bottom: 0pt; text-align: justify; line-height: 115%; font-size: 12pt;">
        <span style="font-family: Arial;">&nbsp;</span>
    </p>
    <p style="margin-top: 0pt; margin-bottom: 0pt; text-align: justify; line-height: 115%; font-size: 12pt;">

    <span style="font-family: Arial;">Se expide la presente para los fines que estime conveniente la interesada.</span>

    </p>
    <p style="margin-top: 0pt; margin-bottom: 0pt; text-align: justify; line-height: 115%; font-size: 12pt;">
        <span style="font-family: Arial;">&nbsp;</span>
    </p>
    <p style="margin-top: 0pt; margin-bottom: 0pt; text-align: justify; line-height: 115%; font-size: 12pt;">
        <span style="font-family: Arial;">&nbsp;</span>
    </p>
    <p style="margin-top: 0pt; margin-bottom: 0pt; text-align: justify; line-height: 115%; font-size: 12pt;">

    <span style="font-family: Arial;">@Model.Ciudad, @Model.FechaCreacion</span>


    </p>
    <p style="margin-top: 0pt; margin-bottom: 0pt; text-align: justify; line-height: 115%; font-size: 12pt;">
        <span style="font-family: Arial;">&nbsp;</span>
    </p>
    <p style="margin-top: 0pt; margin-bottom: 0pt; text-align: justify; line-height: 115%; font-size: 12pt;">
        <span style="font-family: Arial;">&nbsp;</span>
    </p>
    <p style="margin-top: 0pt; margin-bottom: 0pt; text-align: justify; line-height: 115%; font-size: 12pt;">
        <strong><span style="font-family: Arial;">Atentamente,</span></strong>
    </p>
    <p style="margin-top: 0pt; margin-bottom: 0pt; text-align: justify; line-height: 115%; font-size: 12pt;">
        <strong><span style="font-family: Arial;">&nbsp;</span></strong>
    </p>
    <p style="margin-top: 0pt; margin-bottom: 0pt; text-align: justify; line-height: 115%; font-size: 12pt;">
        <strong><span style="font-family: Arial;">&nbsp;</span></strong>
    </p>
    <p style="margin-top: 0pt; margin-bottom: 0pt; text-align: justify; line-height: 115%; font-size: 12pt;">
        <strong><span style="font-family: Arial;">&nbsp;</span></strong>
    </p>
    <p style="margin-top: 0pt; margin-bottom: 0pt; text-align: justify; line-height: 115%; font-size: 12pt;">
        <img src="@Model.UrlFirma" alt="" width="266" height="64" />
    </p>
    <p style="margin-top: 0pt; margin-bottom: 0pt; text-align: justify; line-height: 115%; font-size: 12pt;">
        <span style="font-family: Arial;">__________________________</span>
    </p>
    <p style="margin-top: 0pt; margin-bottom: 0pt; text-align: justify; line-height: 115%; font-size: 14pt;">
        <strong><span style="font-family: Arial;">@Model.Responsable.Trim()</span></strong>
    </p>
    <p style="margin-top: 0pt; margin-bottom: 0pt; text-align: justify; line-height: 115%; font-size: 14pt;">

            <strong><span style="font-family:Arial; ">@Model.Cargo.Trim()</span></strong>
    </p>
    <p style="margin-top: 0pt; margin-bottom: 0pt; text-align: justify; line-height: 115%; font-size: 14pt;">
            <strong><span style="font-family:Arial; ">@Model.RazonSocial</span></strong>
    </p>
    <p style="margin-top: 0pt; margin-bottom: 10pt; text-align: justify; line-height: 115%; font-size: 12pt;">
        <span style="font-family: Arial;">&nbsp;</span>
    </p>
    <p style="margin-top: 0pt; margin-bottom: 0pt; text-align: justify; line-height: 115%; font-size: 12pt;">
        <span style="font-family: Arial;">&nbsp;</span>
    </p>
    <p style="margin-top: 0pt; margin-bottom: 0pt; text-align: justify; line-height: 115%; font-size: 12pt;">
        <span style="font-family: Arial;">&nbsp;</span>
    </p>
    <p style="margin-top: 0pt; margin-bottom: 10pt; text-align: justify; line-height: 115%; font-size: 12pt;">
        <span style="font-family: Arial;">&nbsp;</span>
    </p>
</div>
<div style="display:block; float:right; width:145px; height:204px; margin-top:20px;">
    <img style="display:block; width:145px; height:204px;" src="@(ViewBag.UrlRaizS3)Matriz/EC/marcadeagua-belcorp.png" alt="" />
</div>
@*FIN HD-3812*@