@model Portal.Consultoras.Web.Models.MisCertificados.MiCertificadoModel

<div style="display:block; width:100%; float: left">
    <div style="display: block; float: right; clear: both;">
        <img style="display:block; width:145px; height:204px;" src="http://s3.amazonaws.com/consultorasQAS/SomosBelcorp/Matriz/EC/marcadeagua-belcorp.png" alt="" />
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:115%; font-size:12pt">
        <span style="font-family:Arial">&#xa0;</span>
    </p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:115%; font-size:12pt">
        <span style="font-family:Arial">&#xa0;</span>
    </p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:115%; font-size:12pt">
        <span style="font-family:Arial">&#xa0;</span>
    </p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:left; line-height:115%; font-size:12pt">
        <span style="font-family:Arial">No. @Model.NumeroSecuencia</span>
    </p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:115%; font-size:12pt">
        <span style="font-family:Arial">&#xa0;</span>
    </p>
    <p style="margin-top:0pt; margin-bottom:10pt; text-align:center; line-height:115%; font-size:12pt">
        <span style="font-family:Arial">&#xa0;</span>
    </p>
    <p style="margin-top:0pt; margin-bottom:10pt; text-align:center; line-height:115%; font-size:12pt">
        <span style="font-family:Arial">&#xa0;</span>
    </p>
    <p style="margin-top:0pt; margin-bottom:10pt; text-align:center; line-height:115%; font-size:12pt">
        <span style="font-family:Arial"><b>VENTURA CORPORATION LIMITED</b></span>
    </p>
    <p style="margin-top:0pt; margin-bottom:10pt; text-align:center; line-height:115%; font-size:12pt">
        <span style="font-family:Arial">&#xa0;</span>
    </p>
    <p style="margin-top:0pt; margin-bottom:10pt; text-align:center; line-height:115%; font-size:12pt">
        <span style="font-family:Arial">Se permite Certificar que: </span>
    </p>
    <p style="margin-top:0pt; margin-bottom:10pt; text-align:center; line-height:115%; font-size:12pt">
        <span style="font-family:Arial">&#xa0;</span>
    </p>
    <p style="margin-top:0pt; margin-bottom:10pt; text-align:justify; line-height:115%; font-size:12pt">
        <span style="font-family: Arial">
            La señora @Model.NombreCompleto.Trim() identificada con número de identificaci&oacute;n  @Model.NumeroDocumento.Trim(),
            es compradora de esta Compañía desde el día @Model.FechaIngresoConsultora y a la fecha cuenta con un
            promedio de compra de nuestros productos de las últimas @Model.CantidadConsecutivaNueva campañas igual a @Model.Moneda @Model.PromedioVentasFormato.
        </span>
    </p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:115%; font-size:12pt">
        <span style="font-family: Arial">
            La presente referencia se expide a solicitud de la parte interesada, a los @Model.FechaCreacionTextoFull
        </span>
    </p>
    <p style="margin-top:0pt; margin-bottom:10pt; line-height:115%; font-size:12pt">
        <span style="font-family:Arial">&#xa0;</span>
    </p>
    <p style="margin-top:0pt; margin-bottom:10pt; text-align:justify; line-height:115%; font-size:12pt">
        <span style="font-family:Arial">En caso de requerir confirmación del presente documento se pueden comunicar a las Líneas @Model.Telefono.</span>
    </p>
    <p style="margin-top:0pt; margin-bottom:10pt; text-align:justify; line-height:115%; font-size:12pt">
        <span style="font-family:Arial">&#xa0;</span>
    </p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:115%; font-size:12pt">
        <strong><span style="font-family:Arial; ">Atentamente</span></strong>
    </p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:115%; font-size:12pt">
        <strong><span style="font-family:Arial; ">&#xa0;</span></strong>
    </p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:115%; font-size:12pt">
        <strong><span style="font-family:Arial; ">&#xa0;</span></strong>
    </p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:115%; font-size:12pt">
        <strong><span style="font-family:Arial; ">&#xa0;</span></strong>
    </p>
    <div style="display: block; float: right; clear: both;">
        <img style="display:block; width:150px;" src="@Model.DocumentoResponsable" alt="" />
    </div>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:115%; font-size:12pt">
        <img src="@Model.UrlFirma" alt="" width="266" height="64" />
    </p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:115%; font-size:12pt">
        <span style="font-family:Arial">___________________________</span>
    </p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:115%; font-size:14pt">
        <strong><span style="font-family:Arial; ">@Model.Responsable.Trim()</span></strong>
    </p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:115%; font-size:14pt">
        <strong><span style="font-family:Arial; ">@Model.Cargo.Trim()</span></strong>
    </p>
</div>