@model Portal.Consultoras.Web.Models.ReportePedidoFICModel
@{
    ViewBag.Title = "Reporte Pedidos FIC";
}
<script type="text/javascript">
    $(function () {
        fnGrilla();

        $('#ddlRegion').change(function () {
            var Id = $(this).val();
            if (Id != null) {
                waitingDialog({});
                $.ajaxSetup({ cache: false });
                $.ajax({
                    type: 'GET',
                    url: baseUrl + 'ReportePedidoFIC/ObtenerZonasByRegion',
                    data: "PaisID=" + $("#ddlPais").val() + "&RegionID=" + (Id == "" ? -1 : Id),
                    cache: false,
                    dataType: 'Json',
                    success: function (data) {
                        if (checkTimeout(data)) {
                            var ddlZona = $('#ddlZona');
                            ddlZona.empty();
                            if (data.listaZonas.length > 0) {
                                ddlZona.append($('<option/>', {
                                    value: "",
                                    text: "-- Todas --"
                                }));
                                for (var item in data.listaZonas) {
                                    if (data.listaZonas.hasOwnProperty(item)) {
                                        ddlZona.append($('<option/>', {
                                            value: data.listaZonas[item].ZonaID,
                                            text: data.listaZonas[item].Codigo
                                        }));
                                    }
                                }
                            }
                            closeWaitingDialog();
                        }
                    },
                    error: function (x, xh, xhr) {
                        if (checkTimeout(x)) {
                            closeWaitingDialog();
                        }
                    }
                });
            }
        });

        $("#btnBuscar").click(function () {
            if ($("#ddlPais").val() == "") {
                alert("Debe seleccionar un País, verifique");
                return false;
            }
            if ($("#ddlCampania").val() == "") {
                alert("Debe seleccionar una Campaña, verifique");
                return false;
            }
            fnGrilla();
        });

        $('#ddlPais').change(function () {
            var Id = $(this).val();
            if (Id != null) {
                waitingDialog({});
                $.ajaxSetup({ cache: false });
                $.getJSON(baseUrl + 'BaseAdm/ObtenerCampaniasZonasRegionesPorPais', { PaisID: Id == "" ? 0 : Id }, function (data) {
                    if (checkTimeout(data)) {
                        LimpiarDependencias(Id);
                        if (Id != "") {
                            var ddlRegion = $('#ddlRegion');
                            var ddlCampania = $('#ddlCampania');
                            var ddlZona = $('#ddlZona');
                            if (data.lstCampania.length > 0) {
                                for (var item in data.lstCampania) {
                                    if (data.lstCampania[item].CampaniaID) {
                                        ddlCampania.append($('<option/>', {
                                            value: data.lstCampania[item].Codigo,
                                            text: data.lstCampania[item].Codigo
                                        }));
                                    }
                                }
                            }
                            if (data.lstRegion.length > 0) {
                                for (var item in data.lstRegion) {
                                    if (data.lstRegion.hasOwnProperty(item)) {
                                        ddlRegion.append($('<option/>', {
                                            value: data.lstRegion[item].RegionID,
                                            text: data.lstRegion[item].Codigo
                                        }));
                                    }
                                }
                            }
                            if (data.lstZona.length > 0) {
                                for (var item in data.lstZona) {
                                    if (data.lstZona.hasOwnProperty(item)) {
                                        ddlZona.append($('<option/>', {
                                            value: data.lstZona[item].ZonaID,
                                            text: data.lstZona[item].Codigo
                                        }));
                                    }
                                }
                            }
                        }
                        closeWaitingDialog();
                    }
                });
            }
        });

        $("#txtCodigos")
            .bind("keyup", function (event) {
                var text_ = split(this.value);
                text_ = text_.unique();
                var array = jQuery.parseJSON($("#hdConsultoraId").val()) || { items: [] };
                var a = { items: [] };
                if (text_.length > 1) {
                    for (var i = 0; i < text_.length; i++) {
                        if (text_[i] != "") {
                            for (var p in array.items) {
                                if (!array.items.hasOwnProperty(p)) break;
                                if (array.items[+p] && (array.items[+p].codigo == text_[i].toLowerCase())) {
                                    a.items.push({ codigo: text_[i].toLowerCase(), id: array.items[+p].id })
                                    break;
                                }
                            }
                        }
                    }
                }
                else if (text_.length == 1) {
                    a.items.push({ codigo: text_[0].toLowerCase(), id: text_[0].toLowerCase() })
                }
                $("#hdConsultoraId").val(JSON.stringify(a));
            })
            .bind("keydown", function (event) {
                if (event.keyCode == 16 || event.keyCode == 17 || event.keyCode == 18 ||
                   event.keyCode == 190 || event.keyCode == 186 || event.keyCode == 187 ||
                   event.keyCode == 222 || event.keyCode == 191 || event.keyCode == 189) {
                    event.preventDefault();
                    return false;
                }
                if (event.keyCode === $.ui.keyCode.TAB &&
                    $(this).data("autocomplete").menu.active) {
                    event.preventDefault();
                }
            }).autocomplete({
                source: function (request, response) {
                    if (document.selection) {
                        document.getElementById('txtCodigos').focus();
                        var range = document.selection.createRange();
                        range.moveStart('character', document.getElementById('txtCodigos').value.length);
                        range.moveEnd('character', 0);
                        range.select();
                    }
                    var posicion = getSelectionStart(document.getElementById('txtCodigos'));
                    var part = split(request.term.substring(0, posicion));
                    var last = part[part.length - 1] || "";
                    last = jQuery.trim(last.substring(last.lastIndexOf(' ')));
                    $.ajax({
                        url: baseUrl + "ReportePedidoCampania/GetConsultorasIds", type: "GET", dataType: "json",
                        data: {
                            RegionID: $("#ddlRegion option:selected").val() == "" ? 0 : $("#ddlRegion option:selected").val(),
                            ZonaID: $("#ddlZona option:selected").val() == "" ? 0 : $("#ddlZona option:selected").val(),
                            rowCount: 10,
                            vBusqueda: last
                        },
                        success: function (data) {
                            if (checkTimeout(data)) {
                                var array = jQuery.parseJSON($("#hdConsultoraId").val()) || { items: [] };
                                response($.map(data, function (item) {
                                    for (var p in array.items) {
                                        if (array.items.hasOwnProperty(p) && array.items[+p].id == item.ConsultoraID) return;
                                    }
                                    if (item && item.ConsultoraID) {
                                        return {
                                            label: item.Codigo,
                                            value: item.ConsultoraID,
                                            data: item
                                        };
                                    }
                                }));
                            }
                        }
                    })
                },
                focus: function () {
                    return false;
                },
                select: function (event, ui) {
                    var jsonb = {};
                    arr = { items: [] };
                    var text_ = [];
                    var currval = this.value;
                    if (document.selection) {
                        this.focus();
                        var range = document.selection.createRange();
                        range.moveStart('character', this.value.length);
                        range.moveEnd('character', 0);
                        range.select();
                    }
                    var posicion = getSelectionStart(document.getElementById('txtCodigos'));
                    // Si se escribió al inicio del textbox
                    if (currval.length === 0) {
                        text_ = split(this.value);
                        text_.unshift(ui.item.label);
                        jsonb = {
                            codigo: ui.item.label.toLowerCase(),
                            id: ui.item.value
                        };
                        arr.items.push(jsonb);
                    }
                    else if (currval.length === posicion) { // Si se escribió al final del textbox
                        text_ = split(this.value);
                        arr = jQuery.parseJSON($("#hdConsultoraId").val()) || { items: [] };
                        if (text_[text_.length - 1] !== "" && arr.items[text_.length - 1])
                            delete arr.items[text_.length - 1];
                        text_.pop();
                        var index = text_.length;
                        while (index >= 0) {
                            if (text_[index] && (text_[index] == "" || text_[index].toLowerCase() == ui.item.label.toLowerCase())) {
                                text_.splice(index, 1);
                                index = text_.length
                            }
                            else index--;
                        }

                        text_.push(ui.item.label)
                        jsonb = {
                            codigo: ui.item.label.toLowerCase(),
                            id: ui.item.value
                        };
                        arr.items.push(jsonb);
                    }
                    else {
                        var ext = this.value.substring(0, posicion);
                        ext = split(ext);
                        ext.pop();
                        var index = ext.length;
                        while (index >= 0) {
                            if (ext[index] && (ext[index] == "" || ext[index].toLowerCase() == ui.item.label.toLowerCase())) {
                                ext.splice(index, 1);
                                index = ext.length
                            }
                            else index--;
                        }
                        ext.push(ui.item.label);

                        var ext2 = this.value.substring(posicion);
                        ext2 = split(ext2);
                        ext2.shift();
                        index = ext2.length;
                        while (index >= 0) {
                            if (ext2[index] && (ext2[index] == "" || ext2[index].toLowerCase() == ui.item.label.toLowerCase())) {
                                ext2.splice(index, 1);
                                index = ext2.length
                            }
                            else index--;
                        }

                        text_ = ext.concat(ext2);
                        jsond2 = jQuery.parseJSON($("#hdConsultoraId").val()) || { items: [] };
                        for (var i = 0; i < text_.length; i++) {
                            for (var p in jsond2.items) {
                                if (!jsond2.items.hasOwnProperty(p)) break;
                                if (jsond2.items[+p].codigo == text_[i].toLowerCase()) {
                                    arr.items.push(jsond2.items[+p]); break;
                                }
                                else if (text_[i].toLowerCase() == ui.item.label.toLowerCase()) {
                                    arr.items.push({ codigo: ui.item.label.toLowerCase(), id: ui.item.value });
                                    break;
                                }
                            }
                        }
                    }
                    this.value = text_.join(", ");
                    $("#hdConsultoraId").val(JSON.stringify(arr));
                    event.preventDefault();
                    return false;
                },
                minLength: 0,
                multiple: true,
                multipleSeparator: ","
            }).blur(function () {
                // reemplaza los caracteres extraños
                var currv = this.value.replace(/([QWERTYUIOPASDFGHJKLÑZXCVBNMqwertyuiopasdfghjklñzxcvbnm%&¿#"=¡!<>_\-¨:;´.*+?\/^$|(){}\[\]])/mg, "");
                arr = split(currv);
                index = arr.length;
                while (index >= 0) {
                    if (arr[index] == "") {
                        arr.splice(index, 1);
                        index = arr.length
                    }
                    else index--;
                }
                arr = arr.unique();
                this.value = arr.join(", ");
            }).keypress(function () {
                // reemplaza los caracteres extraños
                var currv = this.value.replace(/([QWERTYUIOPASDFGHJKLÑZXCVBNMqwertyuiopasdfghjklñzxcvbnm%&¿#"=¡!<>_\-¨:;´.*+?\/^$|(){}\[\]])/mg, "");
                arr = split(currv);
                index = arr.length;
                while (index >= 0) {
                    if (arr[index] == "") {
                        arr.splice(index, 1);
                        index = arr.length
                    }
                    else index--;
                }
                arr = arr.unique();
                this.value = arr.join(", ");
            });
    });

    function getSelectionStart(el) {
        if (el.selectionStart) {
            return el.selectionStart;
        } else if (document.selection) {
            el.focus();

            var r = document.selection.createRange();
            if (r == null) {
                return 0;
            }

            var re = el.createTextRange(),
                rc = re.duplicate();
            re.moveToBookmark(r.getBookmark());
            rc.setEndPoint('EndToStart', re);

            return rc.text.length;
        }
        return 0;
    }

    function LimpiarDependencias(Id) {
        var ddlCampania = $('#ddlCampania');
        var ddlRegion = $('#ddlRegion');
        var ddlZona = $('#ddlZona');
        ddlCampania.empty();
        ddlRegion.empty();
        ddlZona.empty();

        if (Id != "") {
            ddlZona.append($('<option/>', {
                value: "",
                text: "-- Todas --"
            }));
            ddlRegion.append($('<option/>', {
                value: "",
                text: "-- Todas --"
            }));
        } else {
            ddlZona.append($('<option/>', {
                value: "",
                text: "-- Seleccionar --"
            }));
            ddlRegion.append($('<option/>', {
                value: "",
                text: "-- Seleccionar --"
            }));
        }
        ddlCampania.append($('<option/>', {
            value: "",
            text: "-- Seleccionar --"
        }));
    }

    function split(val) {
        return val.split(/^[,\s]*|\s*,\s*|[,\s]+$|^$/);
    }

    if (!Array.prototype.filter) {
        Array.prototype.filter = function (fun) {
            "use strict";

            //Probando Filter in IE8

            if (this == null)
                throw new TypeError();

            var t = Object(this);
            var len = t.length >>> 0;
            if (typeof fun != "function")
                throw new TypeError();

            var res = [];
            var thisp = arguments[1];
            for (var i = 0; i < len; i++) {
                if (i in t) {
                    var val = t[i]; // in case fun mutates this
                    if (fun.call(thisp, val, i, t))
                        res.push(val);
                }
            }
            return res;
        };
    }

    if (!Array.prototype.indexOf) {
        Array.prototype.indexOf = function (elt) {
            var len = this.length >>> 0;

            var from = Number(arguments[1]) || 0;
            from = (from < 0)
                 ? Math.ceil(from)
                 : Math.floor(from);
            if (from < 0)
                from += len;
            for (; from < len; from++) {
                if (from in this &&
                    this[from] === elt)
                    return from;
            }
            return -1;
        };
    }

    Array.prototype.unique = function (a) {
        return function () { return this.filter(a) }
    }(function (a, b, c) {
        return c.indexOf(a.toLowerCase(), b + 1) < 0
    });

    function fnGrilla() {
        var vPaisID = jQuery.trim($("#ddlPais").val());
        var vCampaniaID = $("#ddlCampania").val();

        jQuery("#gvwPedidosCampana").jqGrid({
            url: baseUrl + "ReportePedidoFIC/ConsultarPedidoFIC",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                vPaisID: function () { return jQuery.trim($("#ddlPais").val()); },
                vCampania: function () { return jQuery.trim($("#ddlCampania").val()); },
                vRegion: function () { return jQuery.trim($("#ddlRegion option:selected").text()); },
                vZona: function () { return jQuery.trim($("#ddlZona option:selected").text()); },
                vConsultora: function () { return jQuery.trim($("#txtCodigos").val()); }
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['País', 'Periodo', 'Fecha de Registro', 'Fecha de Modificación', 'Zona', 'Cuenta', 'CUV', 'Producto', 'Tipo de Oferta', 'Unidades', 'Venta Neta'],
            colModel: [
                { name: 'PAIS', index: 'PAIS', width: 9, editable: false, align: 'center' },
                { name: 'PERIODO', index: 'PERIODO', width: 9, editable: true, resizable: false, align: 'center' },
                { name: 'FechaRegistro', index: 'FechaRegistro', width: 9, editable: true, resizable: false, align: 'center' },
                { name: 'FechaModificacion', index: 'FechaModificacion', width: 9, editable: true, resizable: false, align: 'center' },
                { name: 'ZONA', index: 'ZONA', width: 9, editable: true, resizable: false, align: 'center' },
                { name: 'CUENTA', index: 'CUENTA', width: 9, editable: true, resizable: false, align: 'center' },
                { name: 'CUV', index: 'CUV', width: 9, editable: true, resizable: false, align: 'right' },
                { name: 'PRODUCTO', index: 'PRODUCTO', width: 9, editable: true, resizable: false, align: 'right' },
                { name: 'TIPO_OFETA', index: 'TIPO_OFETA', width: 9, editable: true, resizable: false, align: 'right' },
                { name: 'UNIDADES', index: 'UNIDADES', width: 9, editable: true, resizable: false, align: 'right' },
                { name: 'VENTA_NETA', index: 'VENTA_NETA', width: 9, editable: true, resizable: false, align: 'right' },
            ],
            jsonReader:
                {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: true,
                    cell: "cell",
                    idCampania: "idCampania",
                    idPedido: "idPedido"
                },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'CampaniaCodigo',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 930,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function () { },
            gridComplete: function () { }
        });
        jQuery("#gvwPedidosCampana").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#gvwPedidosCampana").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
    }

    function ExportExcel() {
        var m = true;
        if ($("#gvwPedidosCampana").getGridParam("reccount") == 0) {
            m = confirm('La grilla se encuentra vacía.\n¿ Está seguro(a) que desea continuar con la operación ?');
        }
        if (!m) {
            return;
        }
        var vPaisID = jQuery.trim($("#ddlPais").val());
        if (vPaisID == "") {
            alert("Debe seleccionar un País.");
            return false;
        }

        var vCampaniaID = $("#ddlCampania").val();
        if (vCampaniaID == "") {
            alert("Debe seleccionar una Campaña.");
            return false;
        }

        var vZona = jQuery.trim($("#ddlZona option:selected").text());
        var vRegion = jQuery.trim($("#ddlRegion option:selected").text());

        var vCodigos = "";
        if ($("#txtCodigos").val() == "") {
        } else {
            vCodigos = jQuery.trim($('#txtCodigos').val());
        }

        waitingDialog({});

        setTimeout(function () {
            DownloadAttachExcel(vPaisID, vCampaniaID, vRegion, vZona, vCodigos)
        }, 0);
    }

    function DownloadAttachExcel(vPaisID, vCampania, vRegion, vZona, vCodigos) {

        // TODO: evaluar la repercusion de este if
        if (checkTimeout()) {
            var content = baseUrl + "ReportePedidoFIC/ExportarExcel?" +
                "vPaisID=" + vPaisID +
                "&vCampania=" + vCampania +
                "&vRegion=" + vRegion +
                "&vZona=" + vZona +
                "&vConsultora=" + vCodigos;

            var iframe_ = document.createElement("iframe");
            iframe_.style.display = "none";
            iframe_.setAttribute("src", content);

            if (navigator.userAgent.indexOf("MSIE") > -1 && !window.opera) { // Si es Internet Explorer
                iframe_.onreadystatechange = function () {
                    switch (this.readyState) {
                        case "loading":
                            waitingDialog({});
                            break;
                        case "complete":
                        case "interactive":
                        case "uninitialized":
                            closeWaitingDialog();
                            break;
                        default:
                            closeWaitingDialog();
                            break;
                    }
                };
            }
            else {
                // Si es Firefox o Chrome
                $(iframe_).ready(function () {
                    closeWaitingDialog();
                });
            }
            document.body.appendChild(iframe_);
        }
    }
</script>

<input type="hidden" id="hdConsultoraId" />
<div id="loadingScreen"></div>
<div class="wrap_cab">
    <div class="filtros2">
        <div class="elements">
            <div class="div-2">
                <h1>Reporte de <span>Pedidos FIC</span></h1>
            </div>
            <div class="div-3">
                <div class="titC">País:</div>
                <div class="selectP2 borde_redondeado">
                    @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais" })
                </div>
                <div class="titG">Campaña:</div>
                <div class="selectP2 borde_redondeado">
                    @Html.DropDownListFor(model => model.CampaniaID, new SelectList(Model.listaCampanias, "CampaniaID", "NombreCorto"), "-- Seleccionar --", new { id = "ddlCampania" })
                </div>
                <div class="titC">Región:</div>
                <div class="selectP2 borde_redondeado">
                    @Html.DropDownListFor(model => model.RegionID, new SelectList(Model.listaRegiones, "RegionID", "Codigo"), "-- Seleccionar --", new { id = "ddlRegion" })
                </div>
            </div>
            <div class="div-3">
                <div class="titC">Zona:</div>
                <div class="selectP2 borde_redondeado">
                    @Html.DropDownListFor(model => model.ZonaID, new SelectList(Model.listaZonas, "ZonaID", "Codigo"), "-- Seleccionar --", new { id = "ddlZona" })
                </div>
                <div class="titG">Cod. Consultora:</div>
                <div class="selectP2 borde_redondeado">
                    <input type="text" id="txtCodigos" />
                </div>
                <div class="input_search">
                    <input type="submit" name="" id="btnBuscar" value="Buscar" />
                </div>
            </div>

        </div>
    </div>
</div>

<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper">

            <table id="gvwPedidosCampana"></table>
            <div id="pager"></div>

        </div>
        <div class="sep"></div>
    </div>
</div>
<div class="wrap">
    <div class="container clearfix" style="text-align: center">
        <div class="input_global">
            <input id="btnExcel" type="button" value="Excel" onclick="ExportExcel();" />
        </div>
    </div>
</div>

<input type="hidden" id="hdnUsuario" value="@ViewBag.Usuario" />
