@model Portal.Consultoras.Web.Models.ConsultaPedidoModel
@{
    ViewBag.Title = "Index";
}
<script type="text/javascript">

    jQuery(document).ready(function () {
        fnGrilla();
        $("#btnRegresar").click(function () {
            location.href = '@Url.Action("ConsultaPedido", "ConsultaPedido")';
        });
    });

    function fnGrilla() {
        jQuery("#list").jqGrid({
            url: baseUrl + "ConsultaPedido/ConsultarBloqueo",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                pedidoID: function () { return $("#hdpedidoID").val() },
                vCodVenta: "",
                paisID: $("#hdn_vPaisID").val()
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['Cod. Venta', 'Descripción', 'Cantidad', 'Precio Unitario', 'Precio Total'],
            colModel: [
                { name: 'CodVenta', index: 'CodVenta', width: 15, editable: true, resizable: false, sortable: false },
                { name: 'Descripcion', index: 'Descripcion', width: 45, editable: true, resizable: false, sortable: false },
                { name: 'Cantidad', index: 'Cantidad', width: 10, editable: true, resizable: true, sortable: false, align: 'center' },
                { name: 'PrecUnitario', index: 'PrecUnitario', width: 15, editable: true, resizable: false, sortable: false, align: 'center' },
                { name: 'PrecTotal', index: 'PrecTotal', width: 15, editable: true, resizable: false, sortable: false, align: 'center' }
            ],
            jsonReader:
            {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: true,
                totalimporte: "totalimporte",
                simbolo: "simbolo",
                cell: "cell",
                id: "id"
            },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'CodVenta',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 930,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function (data) {
                $("#spTotalImporte").text(data.simbolo + " " + data.totalimporte);

                var bloqueado = $("#hdnBloqueado").val();
                if (bloqueado == 1) {
                    $("#btnBloquear").val("Desbloquear");
                    $("#txtObservacion").attr("ReadOnly", true);
                }
                $("#txtObservacion").val($("#hdnDescripcion").val());
            },
            gridComplete: function () { }
        });
        jQuery("#list").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
    }

    function BloquearPedido() {

        var IsBlock = $("#hdnBloqueado").val();
        var msg;
        if (IsBlock == 0) {
            msg = confirm('¿Está seguro(a) que desea bloquear el pedido?');
            if (msg) {
                var item = {
                    DescripcionBloqueo: jQuery.trim($("#txtObservacion").val()),
                    PedidoID: $("#hdpedidoID").val(),
                    CampaniaID: $("#hdCampaniaID").val(),
                    PaisID: $("#hdn_vPaisID").val()
                };

                jQuery.ajax({
                    type: 'POST',
                    url: baseUrl + 'ConsultaPedido/BloquearPedido',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(item),
                    async: true,
                    success: function (data) {
                        if (checkTimeout(data)) {
                            if (data.success == true) {
                                alert(data.message);
                                location.href = '@Url.Action("ConsultaPedido", "ConsultaPedido")';
                            }
                            else {
                                alert(data.message);
                            }
                        }
                    },
                    error: function (data, error) {
                        if (checkTimeout(data)) {
                            alert("Se produjo un error al tratar de bloquear el pedido. Consulte con su administrador del sistema para mayor información");
                        }
                    }
                });
            }
        }
        else {
            msg = confirm('¿Está seguro(a) que desea desbloquear el pedido?');
            if (msg) {
                var item = {
                    PedidoID: $("#hdpedidoID").val(),
                    CampaniaID: $("#hdCampaniaID").val(),
                    PaisID: $("#hdn_vPaisID").val()
                };

                jQuery.ajax({
                    type: 'POST',
                    url: baseUrl + 'ConsultaPedido/DesbloquearPedido',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(item),
                    async: true,
                    success: function (data) {
                        if (checkTimeout(data)) {
                            if (data.success == true) {
                                alert(data.message);
                                location.href = '@Url.Action("ConsultaPedido", "ConsultaPedido")';
                            }
                            else {
                                alert(data.message);
                            }
                        }
                    },
                    error: function (data, error) {
                        if (checkTimeout(data)) {
                            alert("Se produjo un error al tratar de desbloquear el pedido. Consulte con su administrador del sistema para mayor información");
                        }
                    }
                });
            }
        }
    }

    function Imprimir() {
        waitingDialog({});
        var vCodigoConsultora = $('#hdn_vCodigoConsultora').val();
        var vNombres = $('#hdn_vNombres').val();
        var vDireccion = $('#hdn_vDireccion').val();
        var vCodigoTerritorio = $('#hdn_vCodigoTerritorio').val();
        var vPedidoID = $('#hdn_vPedidoID').val();
        var vCampaniaID = $('#hdn_vCampaniaID').val();
        var vpage = jQuery("#list").getGridParam('page');
        var vsortname = jQuery("#list").getGridParam('sortname');
        var vsortorder = jQuery("#list").getGridParam('sortorder');
        var vrowNum = jQuery("#list").getGridParam('rowNum');
        var vpaisID = $('#hdn_vPaisID').val();
        var vUsuario = $('#hdn_vUsuario').val();
        var vTotalImporte = $("#spTotalImporte").text();

        setTimeout(function () {
            DownloadAttachPDF(vCodigoConsultora, vNombres, vDireccion, vCodigoTerritorio, vPedidoID,
                vCampaniaID, vpage, vsortname, vsortorder, vrowNum, vpaisID, vUsuario, vTotalImporte)
        }, 0);
    }
    
    function DownloadAttachPDF(vCodigoConsultora, vNombres, vDireccion, vCodigoTerritorio, vPedidoID,
                vCampaniaID, vpage, vsortname, vsortorder, vrowNum, vpaisID, vUsuario, vTotalImporte) {
        if (checkTimeout()) {
            var content = baseUrl + "ConsultaPedido/ExportarPDFBloqueo?" +
                "vCodigoConsultora=" + vCodigoConsultora +
                "&vNombres=" + vNombres +
                "&vDireccion=" + vDireccion +
                "&vCodigoTerritorio=" + vCodigoTerritorio +
                "&vPedidoID=" + vPedidoID +
                "&vCampaniaID=" + vCampaniaID +
                "&vpage=" + vpage +
                "&vsortname=" + vsortname +
                "&vsortorder=" + vsortorder +
                "&vrowNum=" + vrowNum +
                "&vpaisID=" + vpaisID +
                "&vUsuario=" + vUsuario +
                "&vTotalImporte=" + vTotalImporte;

            var iframe_ = document.createElement("iframe");
            iframe_.style.display = "none";
            iframe_.setAttribute("src", content);

            if (navigator.userAgent.indexOf("MSIE") > -1 && !window.opera) { // Si es Internet Explorer
                iframe_.onreadystatechange = function () {
                    switch (this.readyState) {
                        case "loading":
                            waitingDialog({});
                            break;
                        case "complete":
                        case "interactive":
                        case "uninitialized":
                            closeWaitingDialog();
                            break;
                        default:
                            closeWaitingDialog();
                            break;
                    }
                };
            }
            else {
                // Si es Firefox o Chrome
                $(iframe_).ready(function () {
                    closeWaitingDialog();
                });
            }
            document.body.appendChild(iframe_);
        }
    }

    function ExportExcel() {
        waitingDialog({});
        pedidoID = $("#hdpedidoID").val();
        paisID = $("#hdn_vPaisID").val();
        
        setTimeout(function () { DownloadAttachExcel(pedidoID, paisID) }, 0);
    }

    function DownloadAttachExcel(pedidoID, paisID) {
        if (checkTimeout()) {
            var content = baseUrl + "ConsultaPedido/ExportarExcelBloqueo?" +
                "pedidoID=" + pedidoID +
                "&paisID=" + paisID;

            var iframe_ = document.createElement("iframe");
            iframe_.style.display = "none";
            iframe_.setAttribute("src", content);

            if (navigator.userAgent.indexOf("MSIE") > -1 && !window.opera) { // Si es Internet Explorer
                iframe_.onreadystatechange = function () {
                    switch (this.readyState) {
                        case "loading":
                            waitingDialog({});
                            break;
                        case "complete":
                        case "interactive":
                        case "uninitialized":
                            closeWaitingDialog();
                            break;
                        default:
                            closeWaitingDialog();
                            break;
                    }
                };
            }
            else {
                // Si es Firefox o Chrome
                $(iframe_).ready(function () {
                    closeWaitingDialog();
                });
            }
            document.body.appendChild(iframe_);
        }
    }
</script>
<div class="wrap_cab">
    <div class="filtros2">
        <div class="elements">
            <div class="div-2">
                <h1><span>Reporte Consolidado por Campaña</span></h1>
            </div>
        </div>
    </div>
</div>


<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper_reg">

            <table class="Edit_reg" style="text-align: left; width: 100%">
                <tr>
                    <td>
                        <div class="label1">Código Consultoras:</div>
                        <div class="label2">@Model.CodigoConsultora</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="label1">Nombre:</div>
                        <div class="label2">@Model.Nombres</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="label1">Dirección:</div>
                        <div class="label2">@Model.Direccion</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="label1">Código territorial:</div>
                        <div class="label2">@Model.CodigoTerritorio</div>
                    </td>
                </tr>
            </table>
            <input id="hdpedidoID" type="hidden" value="@Model.PedidoID" />
            <input id="hdCampaniaID" type="hidden" value="@Model.CampaniaID" />
        </div>
    </div>
</div>


<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper">

            <div style="float: left;">
                @Html.TextArea("txtObservacion", new
            {
                maxlength = 500,
                style = "width: 905px; height: 100px"
            })
            </div>
            <input id="hdnBloqueado"  type="hidden" value="@Model.Bloqueado" />
            <input id="hdnDescripcion"  type="hidden" value="@Model.DescripcionBloqueo" />
            <div class="input_global">
                <input id="btnBloquear" type="button" value="Bloquear" onclick="BloquearPedido();" />
            </div>

        </div>
    </div>
</div>
<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper">

            <table id="list"></table>
            <div id="pager"></div>

        </div>
    </div>
</div>
<div class="wrap">
    <div class="container clearfix" style="text-align: center">
        <div class="total_global">Total Pedido: <span id="spTotalImporte"></span></div>
        <div class="input_global">
            <input id="btnExcel" type="button" value="Excel" onclick="ExportExcel();" />
        </div>
        <div class="input_global">
            <input id="btnImprimir" type="button" value="Imprimir" onclick="Imprimir();" />
        </div>
        <div class="input_global">
            <input id="btnRegresar" type="button" value="Regresar" />
        </div>
    </div>
</div>
<div id="loadingScreen"></div>

@Html.Hidden("hdn_vCodigoConsultora", (string)Model.CodigoConsultora)
@Html.Hidden("hdn_vNombres", (string)Model.Nombres)
@Html.Hidden("hdn_vDireccion", (string)Model.Direccion)
@Html.Hidden("hdn_vCodigoTerritorio", (string)Model.CodigoTerritorio)
@Html.Hidden("hdn_vPedidoID", (string)Model.PedidoID)
@Html.Hidden("hdn_vCampaniaID", Model.CampaniaID)
@Html.Hidden("hdn_vPaisID", Model.PaisID)
@Html.Hidden("hdn_vUsuario", Model.Usuario)