@model Portal.Consultoras.Web.Models.ConsultaPedidoModel
@{
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
    ViewBag.Title = "Index";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <title>Belcorp | Portal Consultoras</title>

    <meta name="description" content="" />
    <meta name="author" content="" />

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script type="text/javascript">var baseUrl = "@Url.Content("~")"; </script>
    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/Desktop/JQueryJs")
    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/Desktop/JQGridJs")
    <link href = "@Url.Content("~/Content/Css/ui.jquery/jquery-ui.css")" rel="stylesheet" type="text/css" />
    <link href = "@Url.Content("~/Content/Css/ui.jqgrid/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
    <link href = "@Url.Content("~/Content/Css/Site/style.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        window.history.forward();
        function noBack() { window.history.forward(); }
    </script>
    <script type="text/javascript" src="~/Scripts/maskedinput.js"></script>
    <script type="text/javascript" src="~/Scripts/General.js"></script>

    <script type="text/javascript" src="~/Scripts/modernizr.custom.js"></script>

    <script type="text/javascript" src="~/Scripts/jqueryslidemenu.js"></script>

    <script type="text/javascript" src="~/Scripts/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.touchSwipe.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.cycle.all.min.js"></script>
    <script type="text/javascript" src="~/Scripts/respond.min.js"></script>
    <script type="text/javascript" src="~/Scripts/trans-banner.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            fnGrilla();
        });

        function fnGrilla() {
            jQuery("#list").jqGrid({
                url: baseUrl + "ConsultaPedido/ConsultarBloqueo",
                hidegrid: false,
                datatype: 'json',
                postData: ({
                    pedidoID: function () { return $("#hdpedidoID").val() },
                    vCodVenta: "",
                    paisID: $("#hdn_vPaisID").val()
                }),
                mtype: 'GET',
                contentType: "application/json; charset=utf-8",
                colNames: ['Cod. Venta', 'Descripción', 'Cantidad', 'Precio Unitario', 'Precio Total'],
                colModel: [
                    { name: 'CodVenta', index: 'CodVenta', width: 15, editable: true, resizable: false, sortable: false },
                    { name: 'Descripcion', index: 'Descripcion', width: 45, editable: true, resizable: false, sortable: false },
                    { name: 'Cantidad', index: 'Cantidad', width: 10, editable: true, resizable: true, sortable: false, align: 'center' },
                    { name: 'PrecUnitario', index: 'PrecUnitario', width: 15, editable: true, resizable: false, sortable: false, align: 'center' },
                    { name: 'PrecTotal', index: 'PrecTotal', width: 15, editable: true, resizable: false, sortable: false, align: 'center' }
                ],
                jsonReader:
                {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: true,
                    totalimporte: "totalimporte",
                    simbolo: "simbolo",
                    cell: "cell",
                    id: "id"
                },
                pager: jQuery('#pager'),
                loadtext: 'Cargando datos...',
                recordtext: "{0} - {1} de {2} Registros",
                emptyrecords: 'No hay resultados',
                rowNum: $("#hdn_vrowNum").val(),
                scrollOffset: 0,
                rowList: [10, 20, 30, 40, 50],
                sortname: $("#hdn_vsortname").val(),
                sortorder: $("#hdn_vsortorder").val(),
                viewrecords: true,
                multiselect: false,
                height: 'auto',
                width: 930,
                pgtext: 'Pág: {0} de {1}',
                altRows: true,
                altclass: 'jQGridAltRowClass',
                loadComplete: function (data) {
                    $("#spTotalImporte").text(data.simbolo + " " + data.totalimporte);
                },
                gridComplete: function () { },
                page: $("#hdn_vpage").val()
            });
            jQuery("#list").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
            jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
        }
    </script>
<style type="text/css"> 
* 
{ 
    font-family: Arial !Important; 
} 
</style>
</head>
<body>
    <div class="wrap_cab">
        <header id="header">
		<div class="container clearfix">
			
            <div class="top_head">
            	<div class="top_head1" id="userWelcome">@Model.Usuario</div>
            	<div class="top_head2">
                </div>
            	<div class="top_head3">
				<form action="" class="">
					<div class="top_head3_input"><input type="text" name="search" id="search" /></div>
					<div class="top_head3_btn"><input type="submit" class="btn_search" id="submit" value="" /></div>
				</form>
                </div>
            	<div class="top_head4">
                	<div class="pais">
                    <img src="~/Content/Images/flag_peru.png">
                    <p>Perú</p>
                    </div>
                </div>
            </div>
			<a href="index.html" id="logo"><img src="~/Content/Images/logo_belcorp.png" alt="" /></a>
		</div>
	</header>
    </div>
    <div class="wrap_cab">
        <div class="filtros">
            <div class="elements">
                <div class="div-2">
                    <h1><span>Reporte Consolidado por Campaña</span></h1>
                </div>
            </div>
        </div>
    </div>

    <div class="wrap">
        <div class="container clearfix">
            <div class="border-wrapper_reg">

                <table class="Edit_reg" style="text-align: left; width: 100%">
                    <tr>
                        <td>
                            <div class="label1">Código Consultoras:</div>
                            <div class="label2">@Model.CodigoConsultora</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="label1">Nombre:</div>
                            <div class="label2">@Model.Nombres</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="label1">Dirección:</div>
                            <div class="label2">@Model.Direccion</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="label1">Código territorial:</div>
                            <div class="label2">@Model.CodigoTerritorio</div>
                        </td>
                    </tr>
                </table>
                <input id="hdpedidoID" type="hidden" value="@Model.PedidoID" />
                <input id="hdpaisID" type="hidden" value="@Model.PaisID" />
                <input id="hdCampaniaID" type="hidden" value="@Model.CampaniaID" />
            </div>
        </div>
    </div>

    <div class="wrap">
        <div class="container clearfix">
            <div class="border-wrapper">

                <div style="float: left;">
                    @Html.TextArea("txtObservacion", new
                    {
                        maxlength = 500,
                        style = "width: 905px; height: 100px"
                    })
                </div>
                <div class="input_global">
                    <input type="button" value="Bloquear" onclick="BloquearPedido();" />
                </div>

            </div>
        </div>
    </div>
    <div class="wrap">
        <div class="container clearfix">
            <div class="border-wrapper">
                <table id="list"></table>
                <div id="pager"></div>
            </div>
        </div>
    </div>
    <div class="wrap">
        <div class="container clearfix" style="text-align: center">
            <div class="total_global">Total Pedido: <span id="spTotalImporte"></span></div>
            <div class="input_global">
                <input id="btnExcel" type="button" value="Excel" onclick="ExportExcel();" />
            </div>
            <div class="input_global">
                <input id="btnImprimir" type="button" value="Imprimir" onclick="Imprimir();" />
            </div>
            <div class="input_global">
                <a href="@Url.Content("~/ConsultaPedido/ConsultaPedido")">
                    <input id="btnRegresar" type="button" value="Regresar" /></a>
            </div>
        </div>
    </div>
    <div class="wrap">
        <div class="container clearfix">
            <div class="b_responde">
                <div class="logos">
                    <img src="~/Content/Images/ban-5.png" />
                    <img src="~/Content/Images/ban-6.png" />
                    <img src="~/Content/Images/ban-7.png" />
                </div>
                <div class="responde">
                    <img src="~/Content/Images/logo_responde.png" />
                </div>
            </div>
        </div>

        <footer id="footer">
		<div class="container clearfix">
			<div class="foot_list">
            </div>
			<div class="foot_social">
            	<label>Síguenos</label>
				<p><img src="~/Content/Images/ico_facebook.png" /></p>
				<p><img src="~/Content/Images/ico_twitter.png" /></p>
			</div>
			<div class="foot_belcorp">
                <p><img src="~/Content/Images/logo_foot.png"></p>
				<p><strong>Av. República de Panamá 3664 - San Isidro</strong></p>
				<p><strong>Central Telefónica: 519 20 00</strong></p>
				<p>Copyright Belcorp 2012. All rights reserved</p>
			</div>
		</div>
	    </footer>
    </div>
    <script type="text/javascript" src="~/Scripts/custom.js"></script>
    @Html.Hidden("hdn_vpage", (string)Model.vpage)
    @Html.Hidden("hdn_vsortname", (string)Model.vsortname)
    @Html.Hidden("hdn_vsortorder", (string)Model.vsortorder)
    @Html.Hidden("hdn_vrowNum", (string)Model.vrowNum)
    <input id="hdn_vPaisID" type="hidden" value="@Model.PaisID" />
</body>
</html>