@model Portal.Consultoras.Web.Models.ConsultaPedidoModel
@{
    ViewBag.Title = "Index";
}
<script type="text/javascript">

    if (!Array.prototype.filter) {
        Array.prototype.filter = function (fun) {
            "use strict";

            //Probando Filter in IE8

            if (this == null)
                throw new TypeError();

            var t = Object(this);
            var len = t.length >>> 0;
            if (typeof fun != "function")
                throw new TypeError();

            var res = [];
            var thisp = arguments[1];
            for (var i = 0; i < len; i++) {
                if (i in t) {
                    var val = t[i]; // in case fun mutates this
                    if (fun.call(thisp, val, i, t))
                        res.push(val);
                }
            }
            return res;
        };
    }

    if (!Array.prototype.indexOf) {
        Array.prototype.indexOf = function (elt) {
            var len = this.length >>> 0;

            var from = Number(arguments[1]) || 0;
            from = (from < 0)
                 ? Math.ceil(from)
                 : Math.floor(from);
            if (from < 0)
                from += len;
            for (; from < len; from++) {
                if (from in this &&
                    this[from] === elt)
                    return from;
            }
            return -1;
        };
    }

    function getSelectionStart(el) {
        if (el.selectionStart) {
            return el.selectionStart;
        } else if (document.selection) {
            el.focus();

            var r = document.selection.createRange();
            if (r == null) {
                return 0;
            }

            var re = el.createTextRange(),
                rc = re.duplicate();
            re.moveToBookmark(r.getBookmark());
            rc.setEndPoint('EndToStart', re);

            return rc.text.length;
        }
        return 0;
    }

    function ExportExcel() {
        var m = true;
        if ($("#list").getGridParam("reccount") == 0) {
            m = confirm('La grilla se encuentra vacía.\n¿ Está seguro(a) que desea continuar con la operación ?');
        }
        if (!m) {
            return;
        }
        vPaisID = jQuery.trim($("#ddlPais").val());
        if (vPaisID == "") {
            alert("Debe seleccionar un País.");
            return false;
        }
        vRegionID = $("#ddlRegion").val();
        vRegionID = (vRegionID == "0" ? "" : vRegionID);

        vCampaniaID = jQuery.trim($("#ddlCampania").val());
        if (vCampaniaID == "" || vCampaniaID == "0") {
            alert("Debe seleccionar una Campaña.");
            return false;
        }
        vZonaID = $("#ddlZonas").val();
        vZonaID = (vZonaID == "0" ? "" : vZonaID);

        var value = jQuery.trim($("#ddlFechas").val());
        vFecha = "";
        if (value != "0")
            vFecha = $("#ddlFechas").text()

        var arr = jQuery.parseJSON($("#TerritorioID").val()) || { items: [] };
        var vTerritorioID = "";
        for (var p in arr.items) {
            if (!arr.items.hasOwnProperty(p)) break;
            if (arr.items[+p]) {
                vTerritorioID = arr.items[+p].id;
                break;
            }
        }

        vEstadoPedido = jQuery.trim($("#ddlEstadoPedido").val());
        var arr = jQuery.parseJSON($("#ConsultoraID").val()) || { items: [] };
        var vConsultoraID = "";
        for (var p in arr.items) {
            if (!arr.items.hasOwnProperty(p)) break;
            if (arr.items[+p]) {
                vConsultoraID = arr.items[+p].codigo;
                break;
            }
        }

        vBloqueado = jQuery.trim($("#ddlBloqueado").val());
        waitingDialog({});
        setTimeout(function () {
            DownloadAttachExcel(vPaisID, vRegionID, vCampaniaID, vZonaID, vFecha
                , vTerritorioID, vEstadoPedido, vConsultoraID, vBloqueado)
        }, 0);
    }

    function DownloadAttachExcel(vPaisID, vRegionID, vCampaniaID, vZonaID, vFecha, vTerritorioID, vEstadoPedido,
        vConsultoraID, vBloqueado) {
        if (checkTimeout()) {
            var content = baseUrl + "ConsultaPedido/ExportarExcel?" +
                "vPaisID=" + vPaisID +
                "&vRegionID=" + vRegionID +
                "&vCampaniaID=" + vCampaniaID +
                "&vZonaID=" + vZonaID +
                "&vFecha=" + vFecha +
                "&vTerritorioID=" + vTerritorioID +
                "&vEstadoPedido=" + vEstadoPedido +
                "&vConsultoraID=" + vConsultoraID +
                "&vBloqueado=" + vBloqueado;

            var iframe_ = document.createElement("iframe");
            iframe_.style.display = "none";
            iframe_.setAttribute("src", content);

            if (navigator.userAgent.indexOf("MSIE") > -1 && !window.opera) { // Si es Internet Explorer
                iframe_.onreadystatechange = function () {
                    switch (this.readyState) {
                        case "loading":
                            waitingDialog({});
                            break;
                        case "complete":
                        case "interactive":
                        case "uninitialized":
                            closeWaitingDialog();
                            break;
                        default:
                            closeWaitingDialog();
                            break;
                    }
                };
            }
            else {
                // Si es Firefox o Chrome
                $(iframe_).ready(function () {
                    closeWaitingDialog();
                });
            }
            document.body.appendChild(iframe_);
        }
    }

    function SendData(campaniaID, CodConsultora, Nombre, Direccion, CodTerritorio, pedidoID, bloqueado, indicadorenviado, fechaproceso) {
        var form1 = document.createElement("form");
        var data = document.createElement("input");
        form1.setAttribute("id", "form1");
        form1.action = baseUrl + "ConsultaPedido/BloqueoPedido";
        form1.setAttribute("method", "POST");
        data.setAttribute("type", "hidden");
        data.setAttribute("name", "data");

        var json = {
            CodigoConsultora: CodConsultora,
            Nombres: Nombre,
            Direccion: Direccion,
            CodigoTerritorio: CodTerritorio,
            PedidoID: pedidoID,
            CampaniaID: campaniaID,
            PaisID: $("#ddlPais").val(),
            Usuario: $("#hdnUsuario").val(),
            Bloqueado: bloqueado,
            DescripcionBloqueo: $("#list").jqGrid('getCell', pedidoID, 'DescripcionBloqueo'),
            IndicadorEnviado: indicadorenviado,
            FechaProceso: fechaproceso
        }
        data.value = JSON.stringify(json);
        form1.appendChild(data);
        document.body.appendChild(form1);
        form1.submit();
    }

    function Buscar() {
        var ddlPais = $("#ddlPais");
        if (ddlPais.val() == "") {
            alert("Debe seleccionar un País.");
            return false;
        }
        var ddlCampania = $("#ddlCampania");
        if (ddlCampania.val() == "0") {
            alert("Debe seleccionar una Campaña.");
            return false;
        }
        fnGrilla();
    }

    function LimpiarDependencias(Id) {
        var ddlCampania = $('#ddlCampania');
        var ddlRegion = $('#ddlRegion');
        var ddlZona = $('#ddlZonas');
        ddlCampania.empty();
        ddlRegion.empty();
        ddlZona.empty();

        if (Id != "") {
            ddlZona.append($('<option/>', {
                value: "",
                text: "-- Todas --"
            }));
            ddlRegion.append($('<option/>', {
                value: "",
                text: "-- Todas --"
            }));
        } else {
            ddlZona.append($('<option/>', {
                value: "",
                text: "-- Seleccionar --"
            }));
            ddlRegion.append($('<option/>', {
                value: "",
                text: "-- Seleccionar --"
            }));
        }
        ddlCampania.append($('<option/>', {
            value: "",
            text: "-- Seleccionar --"
        }));
    }


    jQuery(document).ready(function () {

        $("#ddlPais").change(function () {
            var Id = $(this).val();
            if (Id != "") {
                waitingDialog({});
                $.ajaxSetup({ cache: false });
                $.getJSON(baseUrl + 'ConsultaPedido/ObtenterDropDownPorPais', { PaisID: Id == "" ? 0 : Id }, function (data) {
                    if (checkTimeout(data)) {
                        var ddlCampania = $("#ddlCampania");
                        var ddlZona = $("#ddlZonas");
                        var ddlRegion = $("#ddlRegion");
                        
                        if (Id != "") {
                            if (data.lstCampania.length > 0) {
                                for (var item in data.lstCampania) {
                                    if (data.lstCampania[item].CampaniaID) {
                                        ddlCampania.append($('<option/>', {
                                            value: data.lstCampania[item].CampaniaID,
                                            text: data.lstCampania[item].Codigo
                                        }));
                                    }
                                }
                            }
                            if (data.lstZona.length > 0) {
                                for (var item in data.lstZona) {
                                    if (data.lstZona.hasOwnProperty(item)) {
                                        ddlZona.append($('<option/>', {
                                            value: data.lstZona[item].ZonaID,
                                            text: data.lstZona[item].Codigo
                                        }));
                                    }
                                }
                            }
                            if (data.lstRegion.length > 0) {
                                for (var item in data.lstRegion) {
                                    if (data.lstRegion[item].RegionID) {
                                        ddlRegion.append($('<option/>', {
                                            value: data.lstRegion[item].RegionID,
                                            text: data.lstRegion[item].Codigo
                                        }));
                                    }
                                }
                            }
                        }
                        closeWaitingDialog();
                    }
                });
                jQuery("#list").jqGrid("clearGridData");
            } else LimpiarDependencias(Id);
        });

        $("#txtTerritorio")
            .bind("keypress", function (event) {
                var charCode = (event.which) ? event.which : window.event.keyCode;
                if (charCode <= 13) {
                    return false;
                }
                else {
                    var keyChar = String.fromCharCode(charCode);
                    var re = /[0-9]/;
                    return re.test(keyChar);
                }

            })
           .bind("keyup", function (event) {
               if ($("#ddlPais").val() == "") {
                   alert("Para efectuar una búsqueda, primero debe seleccionar un País.");
                   $(this).val("");
                   return;
               }
               var text_ = split(this.value);
               text_ = text_.unique();
               var array = jQuery.parseJSON($("#TerritorioID").val()) || { items: [] };
               var a = { items: [] };
               for (var i = 0; i < text_.length; i++) {
                   if (text_[i] != "") {
                       for (var p in array.items) {
                           if (!array.items.hasOwnProperty(p)) break;
                           if (array.items[+p] && (array.items[+p].codigo == text_[i].toLowerCase())) {
                               a.items.push({ codigo: text_[i].toLowerCase(), id: array.items[+p].id })
                               break;
                           }
                       }
                   }
               }
               $("#TerritorioID").val(JSON.stringify(a));
           })
           .bind("keydown", function (event) {
               if (event.keyCode == 16 || event.keyCode == 17 || event.keyCode == 18 ||
                   event.keyCode == 190 || event.keyCode == 186 || event.keyCode == 187 ||
                   event.keyCode == 222 || event.keyCode == 191 || event.keyCode == 189) {
                   event.preventDefault();
                   return false;
               }
               if (event.keyCode === $.ui.keyCode.TAB &&
                   $(this).data("autocomplete").menu.active) {
                   event.preventDefault();
               }
           }).autocomplete({
               source: function (request, response) {
                   if (document.selection) {
                       document.getElementById('txtTerritorio').focus();
                       var range = document.selection.createRange();
                       range.moveStart('character', document.getElementById('txtTerritorio').value.length);
                       range.moveEnd('character', 0);
                       range.select();
                   }
                   var posicion = getSelectionStart(document.getElementById('txtTerritorio'));
                   //var posicion = $("#txtTerritorio").prop('selectionStart');
                   var part = split(request.term.substring(0, posicion));
                   var last = part[part.length - 1] || "";
                   last = jQuery.trim(last.substring(last.lastIndexOf(' ')));
                   paisID = $("#ddlPais").val();
                   $.ajax({
                       url: baseUrl + "ConsultaPedido/SelectTerritorioByCodigo", type: "GET", dataType: "json",
                       data: {
                           codigo: last,//request.term,
                           rowCount: 10,
                           paisID: paisID
                       },
                       success: function (data) {
                           if (checkTimeout(data)) {
                               var array = jQuery.parseJSON($("#TerritorioID").val()) || { items: [] };
                               response($.map(data, function (item) {
                                   for (var p in array.items) {
                                       if (array.items.hasOwnProperty(p) && array.items[+p].codigo == item.Codigo.toLowerCase()) return;
                                   }
                                   if (item && item.TerritorioID) {
                                       return {
                                           label: item.Codigo,
                                           value: item.TerritorioID,
                                           data: item
                                       };
                                   }
                               }));
                           }
                       }
                   })
               },
               focus: function () {
                   return false;
               },
               select: function (event, ui) {
                   var jsonb = {};
                   arr = { items: [] };
                   var text_ = [];
                   var currval = this.value;
                   if (document.selection) {
                       document.getElementById('txtTerritorio').focus();
                       var range = document.selection.createRange();
                       range.moveStart('character', document.getElementById('txtTerritorio').value.length);
                       range.moveEnd('character', 0);
                       range.select();
                   }
                   var posicion = getSelectionStart(document.getElementById('txtTerritorio'));
                   // Si se escribió al inicio del textbox
                   if (currval.length === 0) {
                       text_ = split(this.value);
                       text_.unshift(ui.item.label);
                       jsonb = {
                           codigo: ui.item.label.toLowerCase(),
                           id: ui.item.value
                       };
                       arr.items.push(jsonb);
                   }
                   else if (currval.length === posicion) { // Si se escribió al final del textbox
                       text_ = split(this.value);
                       arr = jQuery.parseJSON($("#TerritorioID").val()) || { items: [] };
                       if (text_[text_.length - 1] !== "" && arr.items[text_.length - 1])
                           delete arr.items[text_.length - 1];
                       text_.pop();
                       var index = text_.length;
                       while (index >= 0) {
                           if (text_[index] && (text_[index] == "" || text_[index].toLowerCase() == ui.item.label.toLowerCase())) {
                               text_.splice(index, 1);
                               index = text_.length
                           }
                           else index--;
                       }

                       text_.push(ui.item.label)
                       jsonb = {
                           codigo: ui.item.label.toLowerCase(),
                           id: ui.item.value
                       };
                       arr.items.push(jsonb);
                   }
                   else {
                       var ext = this.value.substring(0, posicion);
                       ext = split(ext);
                       ext.pop();
                       var index = ext.length;
                       while (index >= 0) {
                           if (ext[index] && (ext[index] == "" || ext[index].toLowerCase() == ui.item.label.toLowerCase())) {
                               ext.splice(index, 1);
                               index = ext.length
                           }
                           else index--;
                       }
                       ext.push(ui.item.label);

                       var ext2 = this.value.substring(posicion);
                       ext2 = split(ext2);
                       ext2.shift();
                       index = ext2.length;
                       while (index >= 0) {
                           if (ext2[index] && (ext2[index] == "" || ext2[index].toLowerCase() == ui.item.label.toLowerCase())) {
                               ext2.splice(index, 1);
                               index = ext2.length
                           }
                           else index--;
                       }

                       text_ = ext.concat(ext2);
                       jsond2 = jQuery.parseJSON($("#TerritorioID").val()) || { items: [] };
                       for (var i = 0; i < text_.length; i++) {
                           for (var p in jsond2.items) {
                               if (!jsond2.items.hasOwnProperty(p)) break;
                               if (jsond2.items[+p].codigo == text_[i].toLowerCase()) {
                                   arr.items.push(jsond2.items[+p]); break;
                               }
                               else if (text_[i].toLowerCase() == ui.item.label.toLowerCase()) {
                                   arr.items.push({ codigo: ui.item.label.toLowerCase(), id: ui.item.value });
                                   break;
                               }
                           }
                       }
                   }
                   this.value = text_.join(", ");
                   $("#TerritorioID").val(JSON.stringify(arr));
                   event.preventDefault();
                   return false;
               },
               minLength: 0,
               multiple: true,
               multipleSeparator: ","
           }).blur(function () {
               // reemplaza los caracteres extraños
               var currv = this.value.replace(/([%&¿#"=¡!<>_\-¨:;´.*+?\/^$|(){}\[\]])/mg, "");
               arr = split(currv);
               index = arr.length;
               while (index >= 0) {
                   if (arr[index] == "") {
                       arr.splice(index, 1);
                       index = arr.length
                   }
                   else index--;
               }
               arr = arr.unique();
               this.value = arr.join(", ");
           });

        $("#txtCodConsultora")
           .bind("keyup", function (event) {
               if ($("#ddlPais").val() == "") {
                   alert("Para efectuar una búsqueda, primero debe seleccionar un País.");
                   $(this).val("");
                   return;
               }
               var text_ = split(this.value);
               text_ = text_.unique();
               var array = jQuery.parseJSON($("#ConsultoraID").val()) || { items: [] };
               var a = { items: [] };
               if (text_.length > 1) {
                   for (var i = 0; i < text_.length; i++) {
                       if (text_[i] != "") {
                           for (var p in array.items) {
                               if (!array.items.hasOwnProperty(p)) break;
                               if (array.items[+p] && (array.items[+p].codigo == text_[i].toLowerCase())) {
                                   a.items.push({ codigo: text_[i].toLowerCase(), id: array.items[+p].id })
                                   break;
                               }
                           }
                       }
                   }
               }
               else if (text_.length == 1) {
                   a.items.push({ codigo: text_[0].toLowerCase(), id: text_[0].toLowerCase() })
               }
               $("#ConsultoraID").val(JSON.stringify(a));
           })
           .bind("keydown", function (event) {
               if (event.keyCode == 16 || event.keyCode == 17 || event.keyCode == 18 ||
                   event.keyCode == 190 || event.keyCode == 186 || event.keyCode == 187 ||
                   event.keyCode == 222 || event.keyCode == 191 || event.keyCode == 189) {
                   event.preventDefault();
                   return false;
               }
               if (event.keyCode === $.ui.keyCode.TAB &&
                   $(this).data("autocomplete").menu.active) {
                   event.preventDefault();
               }
           }).autocomplete({
               source: function (request, response) {
                   if (document.selection) {
                       document.getElementById('txtCodConsultora').focus();
                       var range = document.selection.createRange();
                       range.moveStart('character', document.getElementById('txtCodConsultora').value.length);
                       range.moveEnd('character', 0);
                       range.select();
                   }
                   var posicion = getSelectionStart(document.getElementById('txtCodConsultora'));
                   var part = split(request.term.substring(0, posicion));
                   var last = part[part.length - 1] || "";
                   last = jQuery.trim(last.substring(last.lastIndexOf(' ')));
                   paisID = $("#ddlPais").val();
                   $.ajax({
                       url: baseUrl + "ConsultaPedido/SelectConsultoraByCodigo", type: "GET", dataType: "json",
                       data: {
                           codigo: last,//request.term,
                           rowCount: 10,
                           paisID: paisID
                       },
                       success: function (data) {
                           if (checkTimeout(data)) {
                               var array = jQuery.parseJSON($("#ConsultoraID").val()) || { items: [] };
                               response($.map(data, function (item) {
                                   for (var p in array.items) {
                                       if (array.items.hasOwnProperty(p) && array.items[+p].codigo == item.Codigo.toLowerCase()) return;
                                   }
                                   if (item && item.ConsultoraID) {
                                       return {
                                           label: item.Codigo,
                                           value: item.ConsultoraID,
                                           data: item
                                       };
                                   }
                               }));
                           }
                       }
                   })
               },
               focus: function () {
                   return false;
               },
               select: function (event, ui) {
                   var jsonb = {};
                   arr = { items: [] };
                   var text_ = [];
                   var currval = this.value;
                   if (document.selection) {
                       document.getElementById('txtCodConsultora').focus();
                       var range = document.selection.createRange();
                       range.moveStart('character', document.getElementById('txtCodConsultora').value.length);
                       range.moveEnd('character', 0);
                       range.select();
                   }
                   var posicion = getSelectionStart(document.getElementById('txtCodConsultora'));
                   // Si se escribió al inicio del textbox
                   if (currval.length === 0) {
                       text_ = split(this.value);
                       text_.unshift(ui.item.label);
                       jsonb = {
                           codigo: ui.item.label.toLowerCase(),
                           id: ui.item.value
                       };
                       arr.items.push(jsonb);
                   }
                   else if (currval.length === posicion) { // Si se escribió al final del textbox
                       text_ = split(this.value);
                       arr = jQuery.parseJSON($("#ConsultoraID").val()) || { items: [] };
                       if (text_[text_.length - 1] !== "" && arr.items[text_.length - 1])
                           delete arr.items[text_.length - 1];
                       text_.pop();
                       var index = text_.length;
                       while (index >= 0) {
                           if (text_[index] && (text_[index] == "" || text_[index].toLowerCase() == ui.item.label.toLowerCase())) {
                               text_.splice(index, 1);
                               index = text_.length;
                           }
                           else index--;
                       }

                       text_.push(ui.item.label);
                       jsonb = {
                           codigo: ui.item.label.toLowerCase(),
                           id: ui.item.value
                       };
                       arr.items.push(jsonb);
                   }
                   else {
                       var ext = this.value.substring(0, posicion);
                       ext = split(ext);
                       ext.pop();
                       var index = ext.length;
                       while (index >= 0) {
                           if (ext[index] && (ext[index] == "" || ext[index].toLowerCase() == ui.item.label.toLowerCase())) {
                               ext.splice(index, 1);
                               index = ext.length;
                           }
                           else index--;
                       }
                       ext.push(ui.item.label);

                       var ext2 = this.value.substring(posicion);
                       ext2 = split(ext2);
                       ext2.shift();
                       index = ext2.length;
                       while (index >= 0) {
                           if (ext2[index] && (ext2[index] == "" || ext2[index].toLowerCase() == ui.item.label.toLowerCase())) {
                               ext2.splice(index, 1);
                               index = ext2.length
                           }
                           else index--;
                       }

                       text_ = ext.concat(ext2);
                       jsond2 = jQuery.parseJSON($("#ConsultoraID").val()) || { items: [] };
                       for (var i = 0; i < text_.length; i++) {
                           for (var p in jsond2.items) {
                               if (!jsond2.items.hasOwnProperty(p)) break;
                               if (jsond2.items[+p].codigo == text_[i].toLowerCase()) {
                                   arr.items.push(jsond2.items[+p]); break;
                               }
                               else if (text_[i].toLowerCase() == ui.item.label.toLowerCase()) {
                                   arr.items.push({ codigo: ui.item.label.toLowerCase(), id: ui.item.value });
                                   break;
                               }
                           }
                       }
                   }
                   this.value = text_.join(", ");
                   $("#ConsultoraID").val(JSON.stringify(arr));
                   event.preventDefault();
                   return false;
               },
               minLength: 0,
               multiple: true,
               multipleSeparator: ","
           }).blur(function () {
               // reemplaza los caracteres extraños
               var currv = this.value.replace(/([%&¿#"=¡!<>_\-¨:;´.*+?\/^$|(){}\[\]])/mg, "");
               arr = split(currv);
               index = arr.length;
               while (index >= 0) {
                   if (arr[index] == "") {
                       arr.splice(index, 1);
                       index = arr.length
                   }
                   else index--;
               }
               arr = arr.unique();
               this.value = arr.join(", ");
           });
    });

    function fnGrilla() {
        jQuery("#list").jqGrid({
            url: baseUrl + "ConsultaPedido/Consultar",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                paisID: function () { return $("#ddlPais").val() },
                vRegionID: function () {
                    var r = $("#ddlRegion").val();
                    return (r == "" ? "" : r)
                },
                vCampaniaID: function () { return $("#ddlCampania").val() },
                vZonaID: function () {
                    var z = $("#ddlZonas").val();
                    return (z == "" ? -1 : z)
                },
                vTerritorioID: function () {
                    var arr = jQuery.parseJSON($("#TerritorioID").val()) || { items: [] };
                    var codigo = "";
                    for (var p in arr.items) {
                        if (!arr.items.hasOwnProperty(p)) break;
                        if (arr.items[+p]) {
                            codigo = arr.items[+p].id;
                            break; s
                        }
                    }
                    return codigo
                },
                vEstadoPedido: function () { return jQuery.trim($("#ddlEstadoPedido").val()) },
                vConsultoraID: function () {
                    var arr = jQuery.parseJSON($("#ConsultoraID").val()) || { items: [] };
                    var codigo = "";
                    if (arr.items.length > 1) {
                        for (var p in arr.items) {
                            if (!arr.items.hasOwnProperty(p)) break;
                            if (arr.items[+p]) {
                                codigo = arr.items[+p].codigo;
                                break;
                            }
                        }
                    }
                    else {
                        codigo = $("#txtCodConsultora").val();
                    }
                    return codigo
                },
                vBloqueado: function () { return jQuery.trim($("#ddlBloqueado").val()) }
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['Cod. Campania', 'Direccion', 'Cod. Territorio', 'Cod. Pedido', 'Cod. Zona', 'Cod. Consultora', 'Nombre', 'Monto Pedido', 'Saldo Deuda', 'Descripcion', 'Pedido Bloqueado', 'Detalle', 'IndicadorEnviado', 'FechaProceso'],
            colModel: [
                {
                    name: 'CampaniaID', index: 'CampaniaID', width: 0, editable: false, align: 'center',
                    hidden: true
                },
                {
                    name: 'Direccion', index: 'Direccion', width: 0, editable: false, align: 'center',
                    hidden: true
                },
                {
                    name: 'CodigoTerritorio', index: 'CodigoTerritorio', width: 0, editable: false, align: 'center',
                    hidden: true
                },
                {
                    name: 'PedidoID', index: 'PedidoID', width: 0, editable: false, align: 'center',
                    hidden: true
                },
                { name: 'CodigoZona', index: 'CodigoZona', width: 15, editable: true, resizable: false },
                { name: 'CodigoConsultora', index: 'CodigoConsultora', width: 15, editable: true, resizable: false },
                { name: 'Nombres', index: 'Nombres', width: 20, editable: true, resizable: true },
                { name: 'MontoPedido', index: 'MontoPedido', width: 15, editable: true, resizable: false },
                { name: 'SaldoDeuda', index: 'SaldoDeuda', width: 10, editable: true, resizable: false },
                { name: 'DescripcionBloqueo', index: 'DescripcionBloqueo', width: 0, editable: false, resizable: false, hidden: true },
                { name: 'chkPedBloq', index: 'chkPedBloq', width: 15, editable: true, resizable: false, sortable: false, align: 'center', formatter: LoadCheckState },
                { name: 'vDetalle', index: 'vDetalle', width: 10, editable: true, sortable: false, align: 'center', resizable: false, formatter: ShowActions },
                { name: 'IndicadorEnviado', index: 'IndicadorEnviado', width: 0, editable: false, resizable: false, hidden: true },
                { name: 'FechaProceso', index: 'FechaProceso', width: 0, editable: false, resizable: false, hidden: true }
            ],
            jsonReader:
            {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: true,
                totalregistros: "totalregistros",
                pedidosfacturar: "pedidosfacturar",
                cell: "cell",
                id: "id"
            },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'CodZona',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 930,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function (data) {
                $("#spTotalPedidos").text(data.totalregistros);
                $("#spPorFacturar").text(data.pedidosfacturar);
            },
            gridComplete: function () { }
        });
        jQuery("#list").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');

        function ShowActions(cellvalue, options, rowObject) {
            var href = "#";
            var fechaproceso = encodeURI(rowObject[12]);
            var Det = "&nbsp;<a href=\"" + href + "\" onclick=\"SendData('" + rowObject[0] + "','" + rowObject[5] + "','" + rowObject[6] + "','" + rowObject[1] + "','" + rowObject[2] + "','" + rowObject[3] + "','" + rowObject[10] + "','" + rowObject[11] + "','" + fechaproceso + "');\">" + "<img src='@Url.Content("~/Content/Images/Detail.png")' alt='Detalle Registro' title='Detalle Registro' border='0' /></a>";
            return Det;
        };

        function LoadCheckState(val, options) {
            var name = options.colModel.name;
            var Page = $(".ui-pg-input").val();

            var Id = name + options.rowId;
            return "<input id=\"" + Id + "\" " + (val == '1' ? "checked=\"checked\"" : "") + " type=\"checkbox\" disabled='disabled' offval=\"no\" />";
        };
    }

    function limpiar() {
        $("#ddlPais")[0].selectedIndex = 0;
        var ddlRegion = $("#ddlRegion");
        ddlRegion.empty();
        ddlRegion.append($('<option/>', {
            value: "",
            text: "-- Todos --"
        }));

        var ddlCampania = $("#ddlCampania");
        ddlCampania.empty();
        ddlCampania.append($('<option/>', {
            value: "",
            text: "-- Seleccionar --"
        }));

        var ddlZonas = $("#ddlZonas");
        ddlZonas.empty();
        ddlZonas.append($('<option/>', {
            value: "",
            text: "-- Todos --"
        }));

        //$("#ddlFechas")[0].selectedIndex = 0;
        $("#txtTerritorio").val("");
        $("#TerritorioID").val("");
        $("#ddlEstadoPedido")[0].selectedIndex = 0;
        $("#txtCodConsultora").val("");
        $("#ConsultoraID").val("");
        $("#ddlBloqueado")[0].selectedIndex = 0;
        jQuery("#list").jqGrid("clearGridData");
    }

    Array.prototype.unique = function (a) {
        return function () { return this.filter(a) }
    }(function (a, b, c) {
        return c.indexOf(a.toLowerCase(), b + 1) < 0
    });

    function split(val) {
        return val.split(/^[,\s]*|\s*,\s*|[,\s]+$|^$/);
    }
    function territorioID() {
        var obj = $("#TerritorioID");
        if (obj[0].value == "{\"items\":[]}") {
            return "";
        }
        var arr = jQuery.parseJSON($("#TerritorioID").val()) || { items: [] };
        var codigo = "";
        for (var p in arr.items) {
            if (!arr.items.hasOwnProperty(p)) break;
            if (arr.items[+p]) {
                codigo = arr.items[+p].id;
                break; s
            }
        }
        return codigo
    }
    function ConsultoraID() {
        var obj = $("#ConsultoraID");
        if (obj[0].value == "{\"items\":[]}") {
            return "";
        }
        var arr = jQuery.parseJSON($("#ConsultoraID").val()) || { items: [] };
        var codigo = "";
        for (var p in arr.items) {
            if (!arr.items.hasOwnProperty(p)) break;
            if (arr.items[+p]) {
                codigo = arr.items[+p].codigo;
                break;
            }
        }
        return codigo
    }
    function Imprimir() {
        ddlpais = $("#ddlPais");
        if (ddlpais.val() == "" || ddlpais.val() == "0") {
            alert("Para ejecutar esta acción, debe seleccionar al menos el País.");
            return;
        }

        var ddlCampania = $("#ddlCampania");
        if (ddlCampania.val() == "0") {
            alert("Para ejecutar esta acción, debe seleccionar una Campaña.");
            return false;
        }

        waitingDialog({});
        setTimeout("DownloadAttachPDF()", 1000);
    }
    function DownloadAttachPDF() {
        if (checkTimeout()) {
            var vCampaniaddl = $('#ddlCampania option:selected').text();
            var vRegionddl = $('#ddlRegion option:selected').text();
            var vZonaddl = $('#ddlZonas option:selected').text();
            var vPaisddl = $('#ddlPais option:selected').text();
            var vterritoriotxt = $('#txtTerritorio').val();
            var vEstadoPedidoddl = $('#ddlEstadoPedido option:selected').text();
            var vCodConsultoratxt = $('#txtCodConsultora').val();
            var vBloqueadoddl = $('#ddlBloqueado option:selected').text();
            var vCampaniaddl_val = $('#ddlCampania').val();
            var vRegionddl_val = $('#ddlRegion').val() == "0" ? "" : $('#ddlRegion').val();
            var vZonaddl_val = $('#ddlZonas').val() == "0" ? "" : $('#ddlZonas').val();
            var vPaisddl_val = $('#ddlPais').val();
            var vEstadoPedidoddl_val = $('#ddlEstadoPedido').val();
            var vBloqueadoddl_val = $('#ddlBloqueado').val();
            var vterritoriotxt_ID = territorioID();

            var vCodConsultoratxt_ID = ConsultoraID();
            var vTotalPedidos = $("#spTotalPedidos").text();
            var vPorFacturar = $("#spPorFacturar").text();

            var vUsuario = $("#hdnUsuario").val();

            var content = baseUrl + "ConsultaPedido/ExportarPDF?" +
                "vCampaniaddl=" + vCampaniaddl +
                "&vRegionddl=" + vRegionddl +
                "&vZonaddl=" + vZonaddl +
                "&vPaisddl=" + vPaisddl +
                "&vterritoriotxt=" + vterritoriotxt +
                "&vEstadoPedidoddl=" + vEstadoPedidoddl +
                "&vCodConsultoratxt=" + vCodConsultoratxt +
                "&vBloqueadoddl=" + vBloqueadoddl +
                "&vCampaniaddl_val=" + vCampaniaddl_val +
                "&vRegionddl_val=" + vRegionddl_val +
                "&vZonaddl_val=" + vZonaddl_val +
                "&vPaisddl_val=" + vPaisddl_val +
                "&vEstadoPedidoddl_val=" + vEstadoPedidoddl_val +
                "&vBloqueadoddl_val=" + vBloqueadoddl_val +
                "&vterritoriotxt_ID=" + vterritoriotxt_ID +
                "&vCodConsultoratxt_ID=" + vCodConsultoratxt_ID +
                "&vUsuario=" + vUsuario +
                "&vTotalPedidos=" + vTotalPedidos +
                "&vPorFacturar=" + vPorFacturar;

            var iframe_ = document.createElement("iframe");
            iframe_.style.display = "none";
            iframe_.setAttribute("src", content);

            if (navigator.userAgent.indexOf("MSIE") > -1 && !window.opera) { // Si es Internet Explorer
                iframe_.onreadystatechange = function () {
                    switch (this.readyState) {
                        case "loading":
                            waitingDialog({});
                            break;
                        case "complete":
                        case "interactive":
                        case "uninitialized":
                            closeWaitingDialog();
                            break;
                        default:
                            closeWaitingDialog();
                            break;
                    }
                };
            }
            else {
                // Si es Firefox o Chrome
                $(iframe_).ready(function () {
                    closeWaitingDialog();
                });
            }
            document.body.appendChild(iframe_);
        }
    }
</script>
<div class="wrap_cab">
    <div class="filtros2">
        <div class="elements">
            <div class="div-2">
                <h1>Consulta y Bloqueo<span> de Pedidos</span></h1>
            </div>
            <div class="div-3">
                <div class="titG">Pais:</div>
                <div class="selectP2 borde_redondeado">
                    @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais" })
                </div>
                <select id="ddlRegion" style="display: none">
                    <option value="0">
                        -- Seleccionar --
                    </option>
                </select>
                <div class="titC">Campaña:</div>
                <div class="selectH borde_redondeado">
                    @Html.DropDownListFor(model => model.CampaniaID, new SelectList(Model.listaCampania, "CampaniaID", "Codigo"), new { id = "ddlCampania" })
                </div>
                <div class="titG">Zona:</div>
                <div class="selectP2 borde_redondeado">
                    @Html.DropDownListFor(model => model.Nombre, new SelectList(Model.listaZonas, "ZonaID", "Codigo"), "-- Seleccionar --", new { id = "ddlZonas" })
                </div>
            </div>
            <div class="div-3">
                <div class="titG">Territorio:</div>
                <div class="selectP2 borde_redondeado">
                    <input id="txtTerritorio" type="text" maxlength="6" />
                    <input type="hidden" id="TerritorioID" name="TerritorioID" value="" />
                </div>
                <div class="titC">Pedido:</div>
                <div class="selectH borde_redondeado">
                    <select id="ddlEstadoPedido">
                        <option value="0">-- Todos --</option>
                        <option value="1">Facturados</option>
                        <option value="2">No Facturados</option>
                    </select>
                </div>
                <div class="titG">Cod. Consultora(s):</div>
                <div class="selectP2 borde_redondeado">
                    <input id="txtCodConsultora" type="text" maxlength="25" />
                    <input type="hidden" id="ConsultoraID" name="ConsultoraID" value="" />
                </div>
            </div>
            <div class="div-3">
                <div class="titG">Pedido Bloqueado:</div>
                <div class="selectP2 borde_redondeado">
                    <select id="ddlBloqueado">
                        <option value="0">-- Seleccionar --</option>
                        <option value="1">Bloqueado</option>
                        <option value="2">Desbloqueado</option>
                    </select>
                </div>
            </div>
            <div class="div-3">
                <div class="titG"></div>
                <div class="input_global">
                    <input id="btnBuscar" value="Buscar" type="button" onclick="Buscar();" />
                </div>
                <div class="input_global">
                    <input id="btnLimpiar" type="button" value="Limpiar" onclick="limpiar();" />
                </div>
            </div>
            <input type="hidden" id="hdnUsuario" value="@ViewBag.Usuario" />
        </div>
    </div>
</div>
<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper">
            <table id="list"></table>
            <div id="pager"></div>
        </div>
    </div>
</div>
<div class="wrap">
    <div class="container clearfix" style="text-align: center">
        <div class="total_global">Total Pedidos: <span id="spTotalPedidos">0</span></div>
        <div class="total_global">Total por Facturar: <span id="spPorFacturar">0</span></div>
        <div class="input_global">
            <input id="btnExcel" type="button" value="Excel" onclick="return ExportExcel();" />
        </div>
        <div class="input_global">
            <input id="btnImprimir" type="button" value="Imprimir" onclick="Imprimir();" />
        </div>
    </div>
</div>
<div id="loadingScreen"></div>
