@model Portal.Consultoras.Web.Models.ConsultaPedidoModel
@{
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
    ViewBag.Title = "Index";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <title>Belcorp | Portal Consultoras</title>

    <meta name="description" content="" />
    <meta name="author" content="" />

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script type="text/javascript">var baseUrl = "@Url.Content("~")"; </script>
    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/Desktop/JQueryJs")
    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/Desktop/JQGridJs")
    <link href = "@Url.Content("~/Content/Css/ui.jquery/jquery-ui.css")" rel="stylesheet" type="text/css" />
    <link href = "@Url.Content("~/Content/Css/ui.jqgrid/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
    <link href = "@Url.Content("~/Content/Css/Site/style.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        window.history.forward();
        function noBack() { window.history.forward(); }
    </script>
    <script type="text/javascript" src="~/Scripts/maskedinput.js"></script>
    <script type="text/javascript" src="~/Scripts/General.js"></script>

    <script type="text/javascript" src="~/Scripts/modernizr.custom.js"></script>

    <script type="text/javascript" src="~/Scripts/jqueryslidemenu.js"></script>

    <script type="text/javascript" src="~/Scripts/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.touchSwipe.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.cycle.all.min.js"></script>
    <script type="text/javascript" src="~/Scripts/respond.min.js"></script>
    <script type="text/javascript" src="~/Scripts/trans-banner.js"></script>
    <script type="text/javascript">

    jQuery(document).ready(function () {
        fnGrilla();
        $('ddlFechas').val($('#hdn_Fechaddl_val').val());
        $('ddlEstadoPedido').val($('#hdn_EstadoPedidoddl_val').val());
        $('ddlBloqueado').val($('#hdn_Bloqueadoddl_val').val());
        $('txtTerritorio').val($('#hdn_territoriotxt').val());
        $('txtCodConsultora').val($('#hdn_CodConsultoratxt').val());
    });

    function fnGrilla() {
        jQuery("#list").jqGrid({
            url: baseUrl + "ConsultaPedido/Consultar",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                paisID: function () { return $("#ddlPais").val() },
                vRegionID: function () {
                    var r = $("#ddlRegion").val();
                    return (r == "0" ? "" : r)
                },
                vCampaniaID: function () { return $("#ddlCampania").val() },
                vZonaID: function () {
                    var z = $("#ddlZonas").val();
                    return (z == "0" ? "" : z)
                },
                vFecha: function () {
                    var value = jQuery.trim($("#ddlFechas").val());
                    if (value == "0")
                        return "";
                    else
                        return $("#ddlFechas").text()
                },
                vTerritorioID: function () {
                    var arr = jQuery.parseJSON($("#TerritorioID").val()) || { items: [] };
                    var codigo = "";
                    for (var p in arr.items) {
                        if (!arr.items.hasOwnProperty(p)) break;
                        if (arr.items[+p]) {
                            codigo = arr.items[+p].id;
                            break; s
                        }
                    }
                    return codigo
                },
                vEstadoPedido: function () { return jQuery.trim($("#ddlEstadoPedido").val()) },
                vConsultoraID: function () {
                    var arr = jQuery.parseJSON($("#ConsultoraID").val()) || { items: [] };
                    var codigo = "";
                    for (var p in arr.items) {
                        if (!arr.items.hasOwnProperty(p)) break;
                        if (arr.items[+p]) {
                            codigo = arr.items[+p].codigo;
                            break;
                        }
                    }
                    return codigo
                },
                vBloqueado: function () { return jQuery.trim($("#ddlBloqueado").val()) }
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['Cod. Campania', 'Direccion', 'Cod. Territorio', 'Cod. Pedido', 'Cod. Zona', 'Cod. Consultora', 'Nombre', 'Monto Pedido', 'Saldo Deuda', 'Pedido Bloqueado', 'Detalle'],
            colModel: [
                {
                    name: 'CampaniaID', index: 'CampaniaID', width: 0, editable: false, align: 'center',
                    hidden: true
                },
                {
                    name: 'Direccion', index: 'Direccion', width: 0, editable: false, align: 'center',
                    hidden: true
                },
                {
                    name: 'CodigoTerritorio', index: 'CodigoTerritorio', width: 0, editable: false, align: 'center',
                    hidden: true
                },
                {
                    name: 'PedidoID', index: 'PedidoID', width: 0, editable: false, align: 'center',
                    hidden: true
                },
                { name: 'CodigoZona', index: 'CodigoZona', width: 15, editable: true, resizable: false },
                { name: 'CodigoConsultora', index: 'CodigoConsultora', width: 15, editable: true, resizable: false },
                { name: 'Nombres', index: 'Nombres', width: 20, editable: true, resizable: true },
                { name: 'MontoPedido', index: 'MontoPedido', width: 15, editable: true, resizable: false },
                { name: 'SaldoDeuda', index: 'SaldoDeuda', width: 10, editable: true, resizable: false },
                { name: 'chkPedBloq', index: 'chkPedBloq', width: 15, editable: true, resizable: false, sortable: false, align: 'center', formatter: LoadCheckState },
                { name: 'vDetalle', index: 'vDetalle', width: 10, editable: true, sortable: false, align: 'center', resizable: false, formatter: ShowActions }
            ],
            jsonReader:
            {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: true,
                cell: "cell",
                totalregistros: "totalregistros",
                pedidosfacturar: "pedidosfacturar",
                id: "id"
            },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: $("#hdn_vrowNum").val(),
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: $("#hdn_vsortname").val(),
            sortorder: $("#hdn_vsortorder").val(),
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 930,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function (data) {
                $("#spTotalPedidos").text(data.totalregistros);
                $("#spPorFacturar").text(data.pedidosfacturar);
            },
            gridComplete: function () { },
            page: $("#hdn_vpage").val()
        });
        jQuery("#list").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
    }

    function ShowActions(cellvalue, options, rowObject) {
        var href = "#";
        var Det = "&nbsp;<a href=\"" + href + "\" onclick=\"SendData('" + rowObject[0] + "','" + rowObject[5] + "','" + rowObject[6] + "','" + rowObject[1] + "','" + rowObject[2] + "','" + rowObject[3] + "');\">"
            + "<img src='@Url.Content("~/Content/Images/Detail.png")' alt='Detalle Registro' title='Detalle Registro' border='0' /></a>";
        return Det;
    }

    function LoadCheckState(val, options) {
        var name = options.colModel.name;
        var Page = $(".ui-pg-input").val();

        var Id = name + options.rowId;
        return "<input id=\"" + Id + "\" " + (val == '1' ? "checked=\"checked\"" : "") + " type=\"checkbox\" disabled='disabled' offval=\"no\" />";
    }
</script>
<style type="text/css"> 
* 
{ 
    font-family: Arial !Important; 
} 
</style>
</head>
<body>
     <div class="wrap_cab">
        <header id="header">
		<div class="container clearfix">
			
            <div class="top_head">
            	<div class="top_head1" id="userWelcome">@Model.Usuario</div>
            	<div class="top_head2">
                </div>
            	<div class="top_head3">
				<form action="" class="" >
					<div class="top_head3_input"><input type="text" name="search" id="search" /></div>
					<div class="top_head3_btn"><input type="submit" class="btn_search" id="submit" value="" /></div>
				</form>
                </div>
            	<div class="top_head4">
                	<div class="pais">
                    <img src="~/Content/Images/flag_peru.png">
                    <p>Perú</p>
                    </div>
                </div>
            </div>
			<a href="index.html" id="logo"><img src="~/Content/Images/logo_belcorp.png" alt="" /></a>
		</div>
	</header>
    </div>
<div class="wrap_cab">
    <div class="filtros2">
        <div class="elements">
            <div class="div-2">
                <h1>Consulta y Bloqueo<span> de Pedidos</span></h1>
            </div>
            <div class="div-3">
                <div class="titC">País:</div>
                <div class="selectP2 borde_redondeado">
                    @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), new { id = "ddlPais" })
                </div>
                <div class="titG">Región:</div>
                <div class="selectH borde_redondeado">
                    @Html.DropDownListFor(model => model.Nombre, new SelectList(Model.listaRegiones, "RegionID", "Codigo"), new { id = "ddlRegion" })
                </div>
                <div class="titG">Campaña:</div>
                <div class="selectP2 borde_redondeado">
                    @Html.DropDownListFor(model => model.CampaniaID, new SelectList(Model.listaCampania, "CampaniaID", "Codigo"), new { id = "ddlCampania" })
                </div>
            </div>
            <div class="div-3">
                <div class="titC">Zona:</div>
                <div class="selectP2 borde_redondeado">
                    @Html.DropDownListFor(model => model.Nombre, new SelectList(Model.listaZonas, "ZonaID", "Codigo"), new { id = "ddlZonas" })
                </div>
                <div class="titG">Fecha:</div>
                <div class="selectH borde_redondeado">
                    <select id="ddlFechas">
                        <option value="0">-- Seleccionar --</option>
                        <option value="1">10/01/2013</option>
                        <option value="2">11/01/2013</option>
                        <option value="2">12/01/2013</option>
                        <option value="2">13/01/2013</option>
                        <option value="2">14/01/2013</option>
                        <option value="2">20/01/2013</option>
                        <option value="2">21/02/2013</option>
                        <option value="2">22/02/2013</option>
                        <option value="2">23/02/2013</option>
                        <option value="2">24/02/2013</option>
                    </select>
                </div>
                <div class="titG">Territorio:</div>
                <div class="selectP2 borde_redondeado">
                    <input id="txtTerritorio" type="text" value="@Model.territoriotxt" maxlength="6" /> 
                    @Html.Hidden("TerritorioID", (string)Model.territoriotxt_ID)
                </div>
            </div>
            <div class="div-3">
                <div class="titC">Pedido:</div>
                <div class="selectP2 borde_redondeado">
                    <select id="ddlEstadoPedido">
                        <option value="0">-- Todos --</option>
                        <option value="1">Facturados</option>
                        <option value="2">No Facturados</option>
                    </select>
                </div>
                <div class="titG">Cod. Consultora(s):</div>
                <div class="selectP2 borde_redondeado">
                    <input id="txtCodConsultora" type="text" value="@Model.CodConsultoratxt" maxlength="25" />
                    @Html.Hidden("ConsultoraID", (string)Model.CodConsultoratxt_ID)
                </div>
                <div class="titG">Pedido Bloqueado:</div>
                <div class="selectP2 borde_redondeado">
                    <select id="ddlBloqueado">
                        <option value="0">-- Seleccionar --</option>
                        <option value="1">Bloqueado</option>
                        <option value="2">Desbloqueado</option>
                    </select>
                </div>
            </div>
            <div class="div-3">
                <div class="titC"></div>
                <div class="input_global">
                    <input id="btnBuscar" value="Buscar" type="button" onclick="Buscar();" />
                </div>
                <div class="input_global">
                    <input id="btnLimpiar" type="button" value="Limpiar" onclick="limpiar();" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper">

            <table id="list"></table>
            <div id="pager"></div>

        </div>
    </div>
</div>

<div class="wrap">
    <div class="container clearfix" style="text-align: center">
        <div class="total_global">Total Pedidos: <span id="spTotalPedidos">0</span></div>
        <div class="total_global">Total por Facturar: <span id="spPorFacturar">0</span></div>
        <div class="input_global">
            <input id="btnExcel" type="button" value="Excel" onclick="return ExportExcel();" />
        </div>
        <div class="input_global">
            <input id="btnImprimir" type="button" value="Imprimir" onclick="Imprimir();" />
        </div>
    </div>
</div>
<div id="loadingScreen"></div>
    <div class="wrap">
        <div class="container clearfix">
            <div class="b_responde">
                <div class="logos">
                    <img src="~/Content/Images/ban-5.png" />
                    <img src="~/Content/Images/ban-6.png" />
                    <img src="~/Content/Images/ban-7.png" />
                </div>
                <div class="responde">
                    <img src="~/Content/Images/logo_responde.png" />
                </div>
            </div>
        </div>

        <footer id="footer">
		<div class="container clearfix">
			<div class="foot_list">
            </div>
			<div class="foot_social">
            	<label>Síguenos</label>
				<p><img src="~/Content/Images/ico_facebook.png" /></p>
				<p><img src="~/Content/Images/ico_twitter.png" /></p>
			</div>
			<div class="foot_belcorp">
                <p><img src="~/Content/Images/logo_foot.png"></p>
				<p><strong>Av. República de Panamá 3664 - San Isidro</strong></p>
				<p><strong>Central Telefónica: 519 20 00</strong></p>
				<p>Copyright Belcorp 2012. All rights reserved</p>
			</div>
		</div>
	    </footer>
    </div>
</body>
</html>

@Html.Hidden("hdn_Fechaddl_val", (string)Model.Fechaddl_val)
@Html.Hidden("hdn_EstadoPedidoddl_val", (string)Model.EstadoPedidoddl_val)
@Html.Hidden("hdn_Bloqueadoddl_val", (string)Model.Bloqueadoddl_val)
@Html.Hidden("hdn_territoriotxt", (string)Model.territoriotxt)
@Html.Hidden("hdn_CodConsultoratxt", (string)Model.CodConsultoratxt)
@Html.Hidden("hdn_vpage", (string)Model.vpage)
@Html.Hidden("hdn_vsortname", (string)Model.vsortname)
@Html.Hidden("hdn_vsortorder", (string)Model.vsortorder)
@Html.Hidden("hdn_vrowNum", (string)Model.vrowNum)
