@model Portal.Consultoras.Web.Models.FormularioInformativoModel
@{
    ViewBag.Title = "Configuración de Formularios Informativos";
}

<script type="text/javascript">

    jQuery(document).ready(function () {
        $("#txtEntidad").keypress(
        function (evt) {
            var charCode = (evt.which) ? evt.which : window.event.keyCode;
            if (charCode <= 13) {
                return false;
            }
            else {
                var keyChar = String.fromCharCode(charCode);
                var re = /[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ _.()-]/;
                return re.test(keyChar);
            }
        });


        $("#txtTelefono").keypress(function (evt) {
            var charCode = (evt.which) ? evt.which : window.event.keyCode;
            if (charCode <= 13) {
                return false;
            }
            else {
                var keyChar = String.fromCharCode(charCode);
                var re = /[0-9() -]/;
                return re.test(keyChar);
            }
        });

        IniDialog();
        fnGrilla();
        $('#ddlPaisBelcenter').change(function () {
            var Id = $(this).val();
            LimpiarBelCenter();
            if (Id != null && Id != '') {
                waitingDialog({});
                $.ajaxSetup({ cache: false });
                $.getJSON(baseUrl + 'GestionContenido/ObteneterFormularioDato', { PaisID: Id }, function (data) {
                    if (checkTimeout(data)) {
                        if (data.entidad.length > 0) {
                            $("#hdFlagBelCenter").val("1");
                            $("#hdFlagUrl").val("1");
                            $("#txtUrl").val(data.entidad[0].URL);
                            $("#hdUrlAnterior").val(data.entidad[0].URL);
                            $("#hdFormularioDatoIdBelCenter").val(data.entidad[0].FormularioDatoID)
                        }
                        closeWaitingDialog();
                    }
                });
            }
        });
        $('#ddlPaisBelcorpResponde').change(function () {
            var Id = $(this).val();
            LimpiarBelResponde();
            if (Id != null && Id != '') {
                waitingDialog({});
                $.ajaxSetup({ cache: false });
                $.getJSON(baseUrl + 'GestionContenido/ObtenerListaFormularioDatoTelefonos', { PaisID: Id }, function (data) {
                    if (checkTimeout(data)) {
                        if (data.lista.length > 0) {
                            var lstBoxTelefonos = $('#lstBoxTelefonos');
                            lstBoxTelefonos.empty();
                            if (data.lista.length > 0) {
                                for (var item in data.lista) {
                                    lstBoxTelefonos.append($('<option/>', {
                                        value: data.lista[item].FormularioDatoID,
                                        text: data.lista[item].Descripcion
                                    }));
                                }
                            }
                        }
                        closeWaitingDialog();
                    }
                });
            }
        });
        $('#ddlPaisBelPoliticas').change(function () {
            var Id = $(this).val();
            LimpiarBelPoliticas();
            if (Id != null && Id != '') {
                waitingDialog({});
                $.ajaxSetup({ cache: false });
                $.getJSON(baseUrl + 'GestionContenido/ObteneterFormularioDatoTerminos', { PaisID: Id }, function (data) {
                    if (checkTimeout(data)) {
                        if (data.entidad.length > 0) {
                            $("#hdFlagUrlPoliticas").val("1");
                            $("#txtUrlPoliticas").val(data.entidad[0].URL);
                            $("#hdUrlAnteriorPoliticas").val(data.entidad[0].URL);
                            $("#hdFormularioDatoIdPoliticas").val(data.entidad[0].FormularioDatoID)
                        }
                        closeWaitingDialog();
                    }
                });
            }
        });
        $("#ddlPaisBelCartas").change(function () {
            var Id = $(this).val();
            LimpiarBelCartas();
            if (Id != null && Id != '') {
                waitingDialog({});
                $.ajaxSetup({ cache: false });
                $.getJSON(baseUrl + 'GestionContenido/ObteneterFormularioDatoCartas', { PaisID: Id }, function (data) {
                    if (checkTimeout(data)) {
                        if (data.entidad.length > 0) {
                            $("#hdFlagUrlCartas").val("1");
                            $("#txtUrlCartas").val(data.entidad[0].URL);
                            $("#hdUrlAnteriorCartas").val(data.entidad[0].URL);
                            $("#hdFormularioDatoIdCartas").val(data.entidad[0].FormularioDatoID)
                        }
                        closeWaitingDialog();
                    }
                });
            }
        });
        $("#ddlPaisLugaresPago").change(function () {
            fnGrilla();
        });

    });

    function LimpiarBelResponde() {
        $("#txtTelefono").val("");
        $('#lstBoxTelefonos').empty();
    }

    function LimpiarBelCenter() {
        $("#hdFormularioDatoIdBelCenter").val("0");
        $("#hdFlagUrl").val("0");
        $("#txtUrl").val("");
    }

    function LimpiarBelPoliticas() {
        $("#hdFormularioDatoIdPoliticas").val("0");
        $("#hdFlagUrlPoliticas").val("0");
        $("#txtUrlPoliticas").val("");
    }

    function LimpiarBelCartas() {
        $("#hdFormularioDatoIdCartas").val("0");
        $("#hdFlagUrlCartas").val("0");
        $("#txtUrlCartas").val("");
    }

    function LimpiarLugaresPago() {
        $("#hdFormularioDatoIdLugaresPago").val("0");
        $("#hdFlagUrlLugaresPago").val("0");
        $("#txtUrlLugaresPago").val("");
        $("#hdUrlAnteriorLugaresPago").val("");
        $("#txtEntidad").val("");
    }

    function ListTelefonos() {
        $('#lstBoxTelefonos').empty();
        var Id = $("ddlPaisBelcorpResponde").val();
        waitingDialog({});
        $.ajaxSetup({ cache: false });
        $.getJSON(baseUrl + 'GestionContenido/ObtenerListaFormularioDatoTelefonos', { PaisID: Id }, function (data) {
            if (checkTimeout(data)) {
                if (data.lista.length > 0) {
                    var lstBoxTelefonos = $('#lstBoxTelefonos');
                    lstBoxTelefonos.empty();
                    if (data.lista.length > 0) {
                        for (var item in data.lista) {
                            lstBoxTelefonos.append($('<option/>', {
                                value: data.lista[item].FormularioDatoID,
                                text: data.lista[item].Descripcion
                            }));
                        }
                    }
                }
                closeWaitingDialog();
            }
        });
    }

    function AbrirModal() {
        if ($("#ddlPaisLugaresPago").val() == "") {
            alert("Debe seleccionar un País, verifique.");
            return false;
        }
        LimpiarLugaresPago();
        showDialog("DialogLugaresdePago");
        return true;
    }

    function ValidarUrl(index) {
        var UrlVal = "";
        if (index == 1)
            UrlVal = $("#txtUrl").val();
        else if (index == 2)
            UrlVal = $("#txtUrlPoliticas").val();
        else if (index == 3)
            UrlVal = $("#txtUrlCartas").val();
        else if (index == 4)
            UrlVal = $("#txtUrlLugaresPago").val();

        waitingDialog({});

        if (!IsValidUrl(UrlVal)) {
            alert("Debe ingresar un formato válido de la URL, verifique");
            closeWaitingDialog();
            return false;
        }

        $.ajaxSetup({ cache: false });
        $.getJSON(baseUrl + 'GestionContenido/ValidUrl', { Url: UrlVal }, function (data) {
            if (checkTimeout(data)) {
                if (!data.result) {
                    closeWaitingDialog();
                    alert("La URL ingresada no es válida, verifique");
                    if (index == 1)
                        $("#hdFlagUrl").val("0");
                    else if (index == 2)
                        $("#hdFlagUrlPoliticas").val("0");
                    else if (index == 3)
                        $("#hdFlagUrlCartas").val("0");
                    else if (index == 4)
                        $("#hdFlagUrlLugaresPago").val("0");
                    return false;
                } else {
                    closeWaitingDialog();
                    alert("La URL es correcta");
                    if (index == 1) {
                        $("#hdUrlAnterior").val(UrlVal);
                        $("#hdFlagUrl").val("1");
                    } else if (index == 2) {
                        $("#hdUrlAnteriorPoliticas").val(UrlVal);
                        $("#hdFlagUrlPoliticas").val("1");
                    }
                    else if (index == 3) {
                        $("#hdUrlAnteriorCartas").val(UrlVal);
                        $("#hdFlagUrlCartas").val("1");
                    }
                    else if (index == 4) {
                        $("#hdUrlAnteriorLugaresPago").val(UrlVal);
                        $("#hdFlagUrlLugaresPago").val("1");
                    }
                    return true;
                }
            }
        });
    }

    function ValidarRepetido(telefono) {
        var lst = document.getElementById('lstBoxTelefonos');
        if (lst.options.length > 0) {
            for (var i = 0; i < lst.options.length; i++) {
                if (lst.options[i].text == telefono)
                    return false;
            }
        }
        return true;
    }

    function EliminarBelcorpResponde() {
        var PaisID = $("#ddlPaisBelcorpResponde").val();
        var FormularioDatoID = getSelectedValue("lstBoxTelefonos");

        if (PaisID == "") {
            alert("Debe seleccionar el país, verifique");
            return false;
        }

        if (FormularioDatoID == null) {
            alert("Debe seleccionar un Teléfono, verifique");
            return false;
        }

        jQuery.ajax({
            type: 'POST',
            url: baseUrl + 'GestionContenido/Eliminar',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ PaisID: PaisID, FormularioDatoID: FormularioDatoID }),
            success: function (data) {
                if (checkTimeout(data)) {
                    if (data.success) {
                        $('#lstBoxTelefonos').empty();
                        for (var item in data.lista) {
                            $('#lstBoxTelefonos').append($('<option/>', {
                                value: data.lista[item].FormularioDatoID,
                                text: data.lista[item].Descripcion
                            }));
                        }
                        alert(data.message);
                    }
                    else {
                        alert(data.message);
                    }
                }
            },
            error: function (data, error) {
                if (checkTimeout(data)) {
                    alert("Ocurrio un Error, vuelva a ingresar");
                }
            }
        });

    }

    function GuardarBelcorpResponde() {

        var PaisID = $("#ddlPaisBelcorpResponde").val();
        var Telefono = jQuery.trim($("#txtTelefono").val());
        var FormularioDatoId = $("#hdFormularioDatoIdBelResponde").val();

        if (PaisID == "") {
            alert("Debe seleccionar el país, verifique.");
            return false;
        }
        if (Telefono == "") {
            alert("Debe ingresar el número de teléfono, verifique.");
            return false;
        }
        if (Telefono != "") {
            if (!ValidarRepetido(Telefono)) {
                alert("El número de teléfono ya se encuentra registrado, verifique.");
                return false;
            }
        }

        var FormularioDato = {
            PaisID: PaisID,
            Descripcion: Telefono,
            FormularioDatoID: FormularioDatoId
        };

        jQuery.ajax({
            type: 'POST',
            url: baseUrl + 'GestionContenido/InsertBelResponde',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(FormularioDato),
            success: function (data) {
                if (checkTimeout(data)) {
                    if (data.success) {
                        $('#lstBoxTelefonos').empty();
                        for (var item in data.lista) {
                            $('#lstBoxTelefonos').append($('<option/>', {
                                value: data.lista[item].FormularioDatoID,
                                text: data.lista[item].Descripcion
                            }));
                        }
                        $("#txtTelefono").val("");
                        alert(data.message);
                    }
                    else {
                        alert(data.message);
                    }
                }
            },
            error: function (data, error) {
                if (checkTimeout(data)) {
                    alert("Ocurrio un Error, vuelva a ingresar");
                }
            }
        });
    }

    function GuardarBelCenter() {
        var idPais = $("#ddlPaisBelcenter").val();
        var FlagBellCenter = $("#hdFlagBelCenter").val();
        var FlagUrl = $("#hdFlagUrl").val();
        var NombreArchivo = $("#hdFileNameBelCenter").val();
        var FormularioDatoId = $("#hdFormularioDatoIdBelCenter").val();
        var UrlAnterior = $("#hdUrlAnterior").val();
        var Url = $("#txtUrl").val();

        var vMessage = "";
        if (idPais == "")
            vMessage += "- Debe seleccionar el país.\n";
        if (FlagUrl == "0")
            vMessage += "- Debe validar la URL.\n";
        if (vMessage == "") {
            if (Url != UrlAnterior)
                vMessage += "- Debe validar la nueva URL.\n";
        }

        if (vMessage != "") {
            alert(vMessage);
            $('#ddlPaisBelcenter').focus();
            return false;
        } else {

            var FormularioDato = {
                PaisID: idPais,
                NombreArchivoPdf: "",
                URL: Url,
                FormularioDatoID: FormularioDatoId
            };

            jQuery.ajax({
                type: 'POST',
                url: baseUrl + 'GestionContenido/Mantener',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(FormularioDato),
                async: true,
                success: function (data) {
                    if (checkTimeout(data)) {
                        if (data.success) {
                            LimpiarBelCenter();
                            $("#ddlPaisBelcenter option").filter(function () {
                                return $(this).text() == '-- Seleccionar --';
                            }).attr('selected', true);
                            alert(data.message);
                        }
                        else {
                            $("#ddlPaisBelcenter option").filter(function () {
                                return $(this).text() == '-- Seleccionar --';
                            }).attr('selected', true)
                            LimpiarBelCenter();
                            alert(data.message);
                        }
                    }
                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        alert("Ocurrio un Error, vuelva a ingresar");
                    }
                }
            });
        }
    }

    function GuardarBelPoliticas() {

        var idPais = $("#ddlPaisBelPoliticas").val();
        var FlagUrl = $("#hdFlagUrlPoliticas").val();
        var FormularioDatoId = $("#hdFormularioDatoIdPoliticas").val();
        var UrlAnterior = $("#hdUrlAnteriorPoliticas").val();
        var Url = $("#txtUrlPoliticas").val();

        var vMessage = "";
        if (idPais == "")
            vMessage += "- Debe seleccionar el país.\n";
        if (FlagUrl == "0")
            vMessage += "- Debe validar la URL.\n";
        if (vMessage == "") {
            if (Url != UrlAnterior)
                vMessage += "- Debe validar la nueva URL.\n";
        }

        if (vMessage != "") {
            alert(vMessage);
            $('#ddlPaisBelPoliticas').focus();
            return false;
        } else {

            var FormularioDato = {
                PaisID: idPais,
                NombreArchivoPdf: "",
                URL: Url,
                FormularioDatoID: FormularioDatoId
            };

            jQuery.ajax({
                type: 'POST',
                url: baseUrl + 'GestionContenido/MantenerPoliticas',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(FormularioDato),
                async: true,
                success: function (data) {
                    if (checkTimeout(data)) {
                        if (data.success) {
                            $("#ddlPaisBelPoliticas option").filter(function () {
                                return $(this).text() == '-- Seleccionar --';
                            }).attr('selected', true);
                            LimpiarBelPoliticas();
                            alert(data.message);
                        }
                        else {
                            alert(data.message);
                            $("#ddlPaisBelPoliticas option").filter(function () {
                                return $(this).text() == '-- Seleccionar --';
                            }).attr('selected', true);
                            LimpiarBelPoliticas();
                        }
                    }
                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        alert("Ocurrio un Error, vuelva a ingresar");
                    }
                }
            });
        }
    }

    function GuardarBelCartas() {
        var idPais = $("#ddlPaisBelCartas").val();
        var FlagUrl = $("#hdFlagUrlCartas").val();
        var FormularioDatoId = $("#hdFormularioDatoIdCartas").val();
        var UrlAnterior = $("#hdUrlAnteriorCartas").val();
        var Url = $("#txtUrlCartas").val();

        var vMessage = "";
        if (idPais == "")
            vMessage += "- Debe seleccionar el país.\n";
        if (FlagUrl == "0")
            vMessage += "- Debe validar la URL.\n";
        if (vMessage == "") {
            if (Url != UrlAnterior)
                vMessage += "- Debe validar la nueva URL.\n";
        }

        if (vMessage != "") {
            alert(vMessage);
            $('#ddlPaisBelCartas').focus();
            return false;
        } else {

            var FormularioDato = {
                PaisID: idPais,
                NombreArchivoPdf: "",
                URL: Url,
                FormularioDatoID: FormularioDatoId
            };

            jQuery.ajax({
                type: 'POST',
                url: baseUrl + 'GestionContenido/MantenerContratos',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(FormularioDato),
                async: true,
                success: function (data) {
                    if (checkTimeout(data)) {
                        if (data.success) {
                            $("#ddlPaisBelCartas option").filter(function () {
                                return $(this).text() == '-- Seleccionar --';
                            }).attr('selected', true);
                            LimpiarBelCartas();
                            alert(data.message);
                        }
                        else {
                            $("#ddlPaisBelCartas option").filter(function () {
                                return $(this).text() == '-- Seleccionar --';
                            }).attr('selected', true);
                            LimpiarBelCartas();
                        }
                    }
                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        alert("Ocurrio un Error, vuelva a ingresar");
                    }
                }
            });
        }
    }

    function GuardarLugaresPago() {
        var idPais = $("#ddlPaisLugaresPago").val();
        var FlagUrl = $("#hdFlagUrlLugaresPago").val();
        var FormularioDatoId = $("#hdFormularioDatoIdLugaresPago").val();
        var UrlAnterior = $("#hdUrlAnteriorLugaresPago").val();
        var Url = $("#txtUrlLugaresPago").val();
        var Entidad = $("#txtEntidad").val();

        var vMessage = "";
        if (idPais == "")
            vMessage += "- Debe seleccionar el país.\n";
        if (Entidad == "")
            vMessage += "- Debe ingresar la Entidad.\n";
        if (FlagUrl == "0")
            vMessage += "- Debe validar la URL.\n";
        if (vMessage == "") {
            if (Url != UrlAnterior)
                vMessage += "- Debe validar la nueva URL.\n";
        }

        if (vMessage != "") {
            alert(vMessage);
            $('#ddlPaisLugaresPago').focus();
            return false;
        }

        var FormularioDato = {
            PaisID: idPais,
            Descripcion: Entidad,
            NombreArchivoPdf: "",
            URL: Url,
            FormularioDatoID: FormularioDatoId
        };

        jQuery.ajax({
            type: 'POST',
            url: baseUrl + 'GestionContenido/MantenerLugaresdePago',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(FormularioDato),
            async: true,
            success: function (data) {
                if (checkTimeout(data)) {
                    if (data.success) {
                        LimpiarLugaresPago();
                        HideDialog("DialogLugaresdePago");
                        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                        alert(data.message);
                    }
                    else {
                        LimpiarLugaresPago();
                    }
                }
            },
            error: function (data, error) {
                if (checkTimeout(data)) {
                    alert("Ocurrio un Error, vuelva a ingresar");
                }
            }
        });
    }

    function ShowDiv(div01, div02, div03, div04, div05) {
        LimpiarBelCenter();
        LimpiarBelPoliticas();
        LimpiarBelResponde();

        $("#ddlPaisBelcenter option").filter(function () {
            return $(this).text() == '-- Seleccionar --';
        }).attr('selected', true);
        $("#ddlPaisBelcorpResponde option").filter(function () {
            return $(this).text() == '-- Seleccionar --';
        }).attr('selected', true);
        $("#ddlPaisBelPoliticas option").filter(function () {
            return $(this).text() == '-- Seleccionar --';
        }).attr('selected', true);

        $("#" + div01).show('slow');
        $("#" + div02).hide('slow');
        $("#" + div03).hide('slow');
        $("#" + div04).hide('slow');
        $("#" + div05).hide('slow');
    }

    function getSelectedValue(elementId) {
        var elt = document.getElementById(elementId);

        if (elt.selectedIndex == -1)
            return null;

        return elt.options[elt.selectedIndex].value;
    }

    function IniDialog() {
        $('#DialogLugaresdePago').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 500,
            draggable: true,
            title: "Mantenimiento de Lugares de Pago",
            buttons:
            {
                "Guardar": function () {
                    GuardarLugaresPago();
                },
                "Cancelar": function () {
                    $(this).dialog('close');
                }
            }
        });
    }

    function fnGrilla() {
        jQuery("#list").jqGrid({
            url: baseUrl + "GestionContenido/ConsultarLugaresDePago",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                PaisID: function () { return $("#ddlPaisLugaresPago").val() == "" ? "0" : jQuery.trim($("#ddlPaisLugaresPago").val()); }
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['Entidad', 'Url Guía', ''],
            colModel: [
                { name: 'Descripcion', index: 'Descripcion', width: 80, editable: true, resizable: false },
                { name: 'URL', index: 'URL', width: 120, editable: true, resizable: false },
                { name: 'Acciones', index: 'Acciones', width: 20, editable: true, sortable: false, align: 'center', resizable: false, formatter: ShowActions }
            ],
            jsonReader:
                {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: true,
                    cell: "cell",
                    id: "id"
                },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'Descripcion',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 638,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function () { },
            gridComplete: function () { }
        });
        jQuery("#list").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');

        function ShowActions(cellvalue, options, rowObject) {
            var Edit = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#list').Editar('" + options.rowId + "');\" >" + "<img src='@Url.Content("~/Content/Images/Edit.png")' alt='Editar Lugar de Pago' title='Editar Lugar de Pago' border='0' /></a>";
            var Del = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#list').Eliminar('" + options.rowId + "');\" >" + "<img src='@Url.Content("~/Content/Images/Delete.png")' alt='Eliminar Lugar de Pago' title='Eliminar Lugar de Pago' border='0' /></a>";
            return Edit + Del;
        };
    }

    $.jgrid.extend({
        Editar: function (Id) {
            if (Id) {
                $("#hdFormularioDatoIdLugaresPago").val(Id)
                $("#hdFlagUrlLugaresPago").val("1");
                $("#txtEntidad").val(jQuery("#list").jqGrid('getCell', Id, 'Descripcion'));
                $('#txtUrlLugaresPago').val(jQuery("#list").jqGrid('getCell', Id, 'URL'));
                $("#hdUrlAnteriorLugaresPago").val(jQuery("#list").jqGrid('getCell', Id, 'URL'));

                showDialog("DialogLugaresdePago");
            } else {
                alert("No selecciono el Lugar de Pago");
            }
            return false;
        },

        Eliminar: function (Id) {
            var elimina = confirm('¿ Está seguro que desea eliminar el registro seleccionado?');
            if (!elimina)
                return false;
            waitingDialog({});
            jQuery.ajax({
                type: 'POST',
                url: baseUrl + 'GestionContenido/EliminarLugardePago',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ PaisID: PaisID, FormularioDatoID: Id }),
                async: true,
                success: function (data) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        limpiar();
                        if (data.success == true) {
                            alert(data.message);
                            jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                        }
                        else
                            alert(data.message);
                    }
                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        alert("ERROR");
                    }
                }
            });
            return false;
        }
    });

</script>

<div class="wrap_cab">
    <div class="filtros2">
        <div class="elements">
            <div class="div-2">
                <h1>Configuración de<span> Formularios Informativos</span></h1>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper">
            <div class="MenuLeftCont">
                <div class="MenuLeftColum">
                    <div id="MenuLeft" class="MenuLeft">
                        <ul>
                            <li><a href="#" onclick="return ShowDiv('BelCenter','BelcorpResponde','BelPoliticas','BelCartasContratos','BelLugaresPago')" title="BelCenter">BelCenter</a></li>
                            <li><a href="#" onclick="return ShowDiv('BelcorpResponde','BelCenter','BelPoliticas','BelCartasContratos','BelLugaresPago')" title="Belcorp Responde">Belcorp Responde</a></li>
                            <li><a href="#" onclick="return ShowDiv('BelPoliticas','BelCenter','BelcorpResponde','BelCartasContratos','BelLugaresPago')" title="Términos, Políticas, Uso">Términos, Políticas, Uso</a></li>
                            <li><a href="#" onclick="return ShowDiv('BelCartasContratos','BelCenter','BelPoliticas','BelcorpResponde','BelLugaresPago')" title="Cartas, Contratos">Cartas, Contratos</a></li>
                            <li><a href="#" onclick="return ShowDiv('BelLugaresPago','BelCenter','BelPoliticas','BelCartasContratos','BelcorpResponde')" title="Lugares de Pago">Lugares de Pago</a></li>
                        </ul>
                    </div>
                </div>
                <div class="MenuRightColum">
                    <div id="BelCenter">
                        <input type="hidden" value="0" id="hdFlagBelCenter" />
                        <input type="hidden" value="" id="hdFileNameBelCenter" />
                        <input type="hidden" value="0" id="hdFlagUrl" />
                        <input type="hidden" value="0" id="hdFormularioDatoIdBelCenter" />
                        <input type="hidden" value="" id="hdUrlAnterior" />

                        <h3>Formulario BelCenter</h3>
                        <div class="div-3">
                            <div class="titB">País:</div>
                            <div class="selectA borde_redondeado">
                                @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPaisBelcenter" })
                            </div>
                        </div>
                        <div class="div-3">
                            <div class="titB">URL:</div>
                            <div class="selectA borde_redondeado">
                                <input type="text" value="" id="txtUrl" maxlength="200" />
                            </div>
                            <div class="input_search">
                                <input type="button" value="Validar" id="btnValidar" onclick="return ValidarUrl(1);" />
                            </div>
                        </div>
                        <div class="div-3">
                            <div class="titB"></div>
                            <div class="input_search">
                                <input type="button" value="Guardar" onclick="return GuardarBelCenter();" />
                            </div>
                        </div>

                    </div>
                    <div id="BelcorpResponde" style="display: none">
                        <input type="hidden" value="0" id="hdFormularioDatoIdBelResponde" />
                        <div class="div-3">
                            <div class="titB">País:</div>
                            <div class="selectA borde_redondeado">
                                @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPaisBelcorpResponde" })
                            </div>
                        </div>
                        <div class="div-3">
                            <div class="titB">Teléfono:</div>
                            <div class="selectA borde_redondeado">
                                <input type="text" id="txtTelefono" maxlength="15" />
                            </div>
                        </div>
                        <div class="div-3">
                            <div class="titB"></div>
                            <div class="selectA borde_redondeado">
                                <select id="lstBoxTelefonos" size="3" style="height: 200px;"></select>
                            </div>
                        </div>
                        <div class="div-3">
                            <div class="titB"></div>
                            <div class="addlist_tab">
                                <input type="button" value="Agregar" onclick="return GuardarBelcorpResponde();" />
                            </div>
                            <div class="addlist_tab">
                                <input type="button" value="Eliminar" onclick="return EliminarBelcorpResponde();" />
                            </div>
                        </div>
                    </div>
                    <div id="BelPoliticas" style="display: none">

                        <input type="hidden" value="0" id="hdFlagUrlPoliticas" />
                        <input type="hidden" value="" id="hdFormularioDatoIdPoliticas" />
                        <input type="hidden" value="" id="hdUrlAnteriorPoliticas" />

                        <h3>Formulario Términos, Políticas y Condiciones de Uso</h3>
                        <div class="div-3">
                            <div class="titB">País:</div>
                            <div class="selectA borde_redondeado">
                                @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPaisBelPoliticas" })
                            </div>
                        </div>
                        <div class="div-3">
                            <div class="titB">URL:</div>
                            <div class="selectA borde_redondeado">
                                <input type="text" value="" id="txtUrlPoliticas" maxlength="200" />
                            </div>
                            <div class="input_search">
                                <input type="button" value="Validar" id="btnValidarPoliticas" onclick="return ValidarUrl(2);" />
                            </div>
                        </div>
                        <div class="div-3">
                            <div class="titB"></div>
                            <div class="input_search">
                                <input type="button" value="Guardar" onclick="return GuardarBelPoliticas();" />
                            </div>
                        </div>
                    </div>
                    <div id="BelCartasContratos" style="display: none;">
                        <input type="hidden" value="0" id="hdFlagUrlCartas" />
                        <input type="hidden" value="" id="hdFormularioDatoIdCartas" />
                        <input type="hidden" value="" id="hdUrlAnteriorCartas" />

                        <h3>Cartas y Contratos</h3>
                        <div class="div-3">
                            <div class="titB">País:</div>
                            <div class="selectA borde_redondeado">
                                @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPaisBelCartas" })
                            </div>
                        </div>
                        <div class="div-3">
                            <div class="titB">URL:</div>
                            <div class="selectA borde_redondeado">
                                <input type="text" value="" id="txtUrlCartas" maxlength="200" />
                            </div>
                            <div class="input_search">
                                <input type="button" value="Validar" id="btnValidarCartas" onclick="return ValidarUrl(3);" />
                            </div>
                        </div>
                        <div class="div-3">
                            <div class="titB"></div>
                            <div class="input_search">
                                <input type="button" value="Guardar" onclick="return GuardarBelCartas();" />
                            </div>
                        </div>
                    </div>
                    <div id="BelLugaresPago" style="display: none;">
                        <div class="div-3">
                            <div class="titB">País:</div>
                            <div class="selectA borde_redondeado">
                                @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPaisLugaresPago" })
                            </div>
                        </div>
                        <div class="div-3">
                            <table id="list"></table>
                            <div id="pager"></div>
                        </div>
                        <div class="div-3">
                            <div class="input_add_alert">
                                <input type="button" value="Nuevo" id="btnNuevo" onclick="return AbrirModal();" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="DialogLugaresdePago">
    <input type="hidden" value="0" id="hdFlagUrlLugaresPago" />
    <input type="hidden" value="" id="hdFormularioDatoIdLugaresPago" />
    <input type="hidden" value="" id="hdUrlAnteriorLugaresPago" />
    <div class="div-3">
        <div class="titB">Entidad:</div>
        <div class="selectA borde_redondeado">
            <input type="text" id="txtEntidad" maxlength="100" />
        </div>
    </div>
    <div class="div-3">
        <div class="titB">Entidad:</div>
        <div class="selectA borde_redondeado">
            <input type="text" value="" id="txtUrlLugaresPago" maxlength="200" />
        </div>
        <div class="input_search">
            <input type="button" value="Validar" id="btnValidarLugaresPago" onclick="return ValidarUrl(4);" />
        </div>
    </div>
</div>
