@model Portal.Consultoras.Web.Models.ContenidoDatoModel
@{
    ViewBag.Title = "Configuración de Formularios Informativos";
}

<script type="text/javascript">

    jQuery(document).ready(function () {
        $(".qq-upload-list").css("display", "none");

        $("#ddlPais").change(function () {
            var Id = $(this).val();
            if (Id != null) {
                waitingDialog({});
                $.ajaxSetup({ cache: false });
                $.getJSON(baseUrl + 'BaseAdm/ObtenerCampaniasPeru', {}, function (data) {
                    if (checkTimeout(data)) {
                        var ddlCampania = $("#ddlCampania");
                        ddlCampania.empty();
                        ddlCampania.append($('<option/>', {
                            value: 0,
                            text: "-- Seleccionar --"
                        }));
                        if (Id != "") {
                            if (data.lista.length > 0) {
                                for (var item in data.lista) {
                                    if (data.lista[item].CampaniaID) {
                                        ddlCampania.append($('<option/>', {
                                            value: data.lista[item].CampaniaID,
                                            text: data.lista[item].Codigo
                                        }));
                                    }
                                }
                            }
                        }
                        closeWaitingDialog();
                    }
                });
            }
        });

        $("#ddlCampania").change(function () {
            var Id = $(this).val();
            var PaisID = $("#ddlPais").val();
            if (Id != "" && PaisID != "") {
                waitingDialog({});
                $.ajax({
                    type: 'GET',
                    url: baseUrl + 'GestionContenido/GetFondoyLogo',
                    data: "PaisID=" + PaisID + "&CampaniaID=" + Id,
                    dataType: 'Json',
                    success: function (data) {
                        if (checkTimeout(data)) {
                            if (data.count > 0) {
                                $("#FlagTransaccion").val("1");
                                $('#preview').attr('src', '@Url.Content("~/Content/Images/fondo/")' + data.lista[0].ImagenFondo);
                                $('#previewLogo').attr('src', '@Url.Content("~/Content/Images/logo/")' + data.lista[0].ImagenLogo);
                            } else {
                                $("#FlagTransaccion").val("0");
                                $('#preview').attr('src', '@Url.Content("~/Content/Images/")' + "bg_filtros.png");
                                $('#previewLogo').attr('src', '@Url.Content("~/Content/Images/")' + "logo_belcorp.png");
                            }
                            closeWaitingDialog();
                        }
                    },
                    error: function (data, x, resp) {
                        if (checkTimeout(data)) {
                            closeWaitingDialog();
                        }
                    }
                });
            }
        });

    });

    function OnSuccess(result) {
        alert(result.message);
        return false;
    }

    function ValidarCampos() {
        var PaisID = $("#ddlPais").val();
        var CampaniaID = $("#ddlCampania").val();
        var ImagenFondo = $("#preview")[0].nameProp;
        var ImagenLogo = $("#previewLogo")[0].nameProp;
        var widthFondo = document.getElementById("preview").naturalWidth;
        var heightFondo = document.getElementById("preview").naturalHeight;

        var widthLogo = document.getElementById("previewLogo").naturalWidth;
        var heightLogo = document.getElementById("previewLogo").naturalHeight;

        var vMessage = "";
        if (PaisID == "")
            vMessage += "- Debe seleccionar el País.\n";
        if (CampaniaID == "")
            vMessage += "- Debe seleccionar la Campania.\n";
        if (ImagenFondo == "bg_filtros.png")
            vMessage += "- Debe seleccionar la Imagen de Fondo.\n";
        if (ImagenLogo == "logo_belcorp.png")
            vMessage += "- Debe seleccionar la Imagen del Logo.\n";
        if (widthFondo > 400)
            vMessage += "- El ancho máximo del Fondo debe ser de 400px.\n";
        if (widthFondo < 240)
            vMessage += "- El ancho mínimo del Fondo debe ser de 300px.\n";
        if (heightFondo < 480)
            vMessage += "- El alto mínimo del Fondo debe ser de 480px.\n";
        if (heightLogo > 87)
            vMessage += "- El alto máximo del Logo debe ser de 87px.\n";
        if (widthLogo > 87)
            vMessage += "- El ancho máximo del Logo debe ser de 85px.\n";

        if (vMessage != "") {
            alert(vMessage);
            return false;
        } else
            return true;
    }

</script>
@using (Ajax.BeginForm("MantenerFondo", new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnSuccess", OnBegin = "ValidarCampos" }))
{
    <input type="hidden" id="FlagTransaccion" name="FlagTransaccion" value="0" />
    <div class="wrap_cab">
        <div class="filtros2">
            <div class="elements">
                <div class="div-2">
                    <h1>Edición de <span>Fondo y Logo del Portal</span></h1>
                </div>
                <div class="div-3">
                    <div class="titAuto">Pais:</div>
                    <div class="select_tab">
                        @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais" })
                    </div>
                    <div class="titAuto">Campaña:</div>
                    <div class="select_tab">
                        @Html.DropDownListFor(model => model.CampaniaID, new SelectList(Model.listaCampanias, "CampaniaID", "Codigo"), "-- Seleccionar --", new { id = "ddlCampania" })
                    </div>
                    <div class="input_search">
                        <input type="submit" value="Guardar" />
                    </div>
                </div>

                <div class="div-3">
                    <div class="fondo_left">
                        <h3>Imagen de Fondo</h3>
                        <div class="fondo_image">
                            <img id="preview" src="~/Content/Images/bg_filtros.png" alt="Imagen Previa" width="240" height="200" />
                            <input id="ImagenFondo" name="ImagenFondo" type="hidden" />
                        </div>
                    </div>
                    <div class="fondo_right">
                        <div class="div-3">
                            <div class="input_validar">
                                <div id="file-uploader">
                                </div>
                                <script src="@Url.Content("~/Scripts/fileuploader.js")" type="text/javascript"></script>
                                <script type="text/javascript">
                                    var uploader = new qq.FileUploader({
                                        allowedExtensions: ['jpg', 'png', 'bmp', 'jpeg'],
                                        element: document.getElementById('file-uploader'),
                                        action: '@Url.Action("ImageUpload", "FileUpload")',
                                        onComplete: function (id, fileName, responseJSON) {
                                            if (checkTimeout(responseJSON)) {
                                                $(".qq-upload-list").css("display", "none");
                                                if (responseJSON.success) {
                                                    $('#ImagenFondo').val(responseJSON.name);
                                                    $('#preview').attr('src', '@Url.Content("~/Content/Images/temp/")' + responseJSON.name);
                                                }
                                                else {
                                                    alert(responseJSON.message);
                                                }
                                            }
                                        },
                                        onSubmit: function (id, fileName) { $(".qq-upload-list").css("display", "none"); },
                                        onProgress: function (id, fileName, loaded, total) { $(".qq-upload-list").css("display", "none"); },
                                        onCancel: function (id, fileName) { $(".qq-upload-list").css("display", "none"); }
                                    });
                                </script>
                            </div>
                        </div>
                        <div class="div-3">
                        </div>
                    </div>
                    <div class="fondo_left">
                        <h3>Imagen del Logo</h3>
                        <div class="fondo_image_logo">
                            <img id="previewLogo" src="~/Content/Images/logo_belcorp.png" alt="Imagen Previa" width="85" height="87" />
                            <input id="ImagenLogo" type="hidden" name="ImagenLogo" />
                        </div>
                    </div>
                    <div class="fondo_right">
                        <div class="div-3">
                            <div class="input_validar">
                                <div id="file-uploaderLogo">
                                </div>
                                <script src="@Url.Content("~/Scripts/fileuploader.js")" type="text/javascript"></script>
                                <script type="text/javascript">
                                    var uploader = new qq.FileUploader({
                                        allowedExtensions: ['jpg', 'png', 'bmp', 'jpeg'],
                                        element: document.getElementById('file-uploaderLogo'),
                                        action: baseUrl + "FileUpload/ImageUpload",
                                        onComplete: function (id, fileName, responseJSON) {
                                            if (checkTimeout(responseJSON)) {
                                                $(".qq-upload-list").css("display", "none");
                                                if (responseJSON.success) {
                                                    $('#ImagenLogo').val(responseJSON.name);
                                                    $('#previewLogo').attr('src', '@Url.Content("~/Content/Images/temp/")' + responseJSON.name);
                                                }
                                                else {
                                                    alert(responseJSON.message);
                                                }
                                            }
                                        },
                                        onSubmit: function (id, fileName) { $(".qq-upload-list").css("display", "none"); },
                                        onProgress: function (id, fileName, loaded, total) { $(".qq-upload-list").css("display", "none"); },
                                        onCancel: function (id, fileName) { $(".qq-upload-list").css("display", "none"); }
                                    });
                                </script>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}
