﻿@model Portal.Consultoras.Web.Models.ReporteValidacionModel
@{
    ViewBag.Title = "Reporte Validación Palancas";
}

<script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.paging.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/AdminContenido/Paginador.js")" type="text/javascript"></script>

<input type="hidden" id="hdTipoConsulta" value="0" />
<input type="hidden" id="hdEstrategiaIDConsulta" />
<input type="hidden" id="hdEstrategiaCodigo"

<div class="wrap_cab">
    <div class="filtros2">
        <div class="elements">
            <div class="div-2">
                <h1><span>Reporte Validación Palancas</span></h1>
            </div>
            <div class="div-3">
                <div class="titG">Tipo de Estrategia:</div>
                <div class="selectA borde_redondeado">
                    <select id="ddlTipoEstrategia" name="ddlTipoEstrategia">
                        @if (Model.ListaTipoEstrategia != null)
                        {
                            <option value="">-- Seleccionar --</option>
                            for (int i = 0; i < Model.ListaTipoEstrategia.Count(); i++)
                            {
                                <option flag-nueva="@Model.ListaTipoEstrategia.ToList()[i].FlagNueva"
                                        flag-recoproduct="@Model.ListaTipoEstrategia.ToList()[i].FlagRecoProduc"
                                        flag-recoperfil="@Model.ListaTipoEstrategia.ToList()[i].FlagRecoPerfil"
                                        codigo-programa="@Model.ListaTipoEstrategia.ToList()[i].CodigoPrograma"
                                        imagen-tipo="@Model.ListaTipoEstrategia.ToList()[i].Imagen"
                                        value="@Model.ListaTipoEstrategia.ToList()[i].TipoEstrategiaID"
                                        data-id="@Model.ListaTipoEstrategia.ToList()[i].CodigoGeneral"
                                        data-codigo="@Model.ListaTipoEstrategia.ToList()[i].Codigo">
                                    @Model.ListaTipoEstrategia.ToList()[i].Descripcion
                                </option>
                            }
                        }
                    </select>
                </div>   
                <div class="titG">Campaña:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.CampaniaID, new SelectList(Model.listaCampania, "CampaniaID", "NombreCorto"), "-- Seleccionar --", new { id = "ddlCampania" })
                </div>
            </div>
            <div class="div-3">
                <div class="titG">País:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais" })
                </div>                      
            </div>

            <div class="div-3">
                <div class="titG">&nbsp;</div>
                <div class="input_horizontal">
                    <input type="button" name="btnExportarExcel" id="btnExportarExcel" value="Exportar Excel" />
                </div>
            </div>
        </div>
    </div>
</div>

<div id="loadingScreen"></div>

<script src="~/Scripts/AdminContenido/ReporteValidacion.js"></script>

<script type="text/javascript">

    var reporteValidacion = ReporteValidacion({
        urlObtenterCampanias: '@Url.Action("ObtenerCampanias", "AdministrarReporteValidacion")',
        urlExportarExcel: '@Url.Action("ExportarExcel", "AdministrarReporteValidacion")'
    });

    reporteValidacion.init();

 </script>


