@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Models
@model PartialSectionBpt
@{
    ConfiguracionPaisDatosModel configuracionPaisDatosModel = Model.ConfiguracionPaisDatos;
    RevistaDigitalModel revistaDigital = Model.RevistaDigital;
    var urlLogo = revistaDigital.MLogoComercialNoActiva;
    if (revistaDigital.TieneRDC && revistaDigital.EsSuscrita)
    {
        urlLogo = revistaDigital.MLogoComercialActiva;
    }

}
<div class="content_revistas_mob" style="margin: 15px 0;">
    @if (revistaDigital.TieneRDC)
    {
        if (!revistaDigital.EsSuscrita)
        {
            <div class="wrapper_resumen_mobile">
                <div class="banner_pedido_rd">
                    <div class="cabecera_pedido_rd">
                        <div class="rd_logo rd_logo_dorado">
                            <img src="@revistaDigital.MLogoComercialActiva" alt="" class="small" style="position: relative;top: 5px;">
                        </div>
                        <div class="cabecera_pedido_text">@Html.Raw(configuracionPaisDatosModel.Valor1)</div>
                    </div>
                    <div class="banner_pedido_masofertas">
                        <div class="banner_pedido_text banner_pedido_text_dorado">
                            @Html.Raw(configuracionPaisDatosModel.Valor2)
                        </div>
                        <div class="btn_red btn_dorado" onclick="RedireccionarContenedorInformativa(@Constantes.OrigenPedidoWeb.RevistaDigitalMobileCatalogoSeccion)">
                            <a class="rd_arrowright" href="#">
                                SUSCRÍBETE GRATIS
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else if (revistaDigital.TieneRDI)
    {
        @*<div class="wrapper_resumen_mobile">
                <div class="banner_pedido_rd">
                    <div class="cabecera_pedido_rd">
                        <div class="rd_logo">
                            <img src="@urlLogo" alt="" class="small" style="padding-top: 30px;">
                        </div>
                        <div class="cabecera_pedido_text">@Html.Raw(configuracionPaisDatosModel.Valor1)</div>
                    </div>
                    <div class="banner_pedido_masofertas">
                        <div class="banner_pedido_text">
                            @Html.Raw(configuracionPaisDatosModel.Valor2)
                        </div>
                        <div class="btn_red">
                            <a class="rd_arrowright" href="javascript:RedireccionarContenedorComprar(@Constantes.OrigenPedidoWeb.RevistaDigitalMobileCatalogoSeccion, '@Constantes.ConfiguracionPais.OfertasParaTi')">
                                VER TODAS MIS OFERTAS
                            </a>
                        </div>
                    </div>
                </div>
            </div>*@
        <div class="wrapper_resumen_mobile_clubganamas" style="height: auto;">
            <div class="zonadecolor ofertas_digitales_intriga_mobile">
                <div class="logo-club-etiqueta logo_no_suscrita">
                </div>
                <span class="margin_top">
                    <p>@Html.Raw(configuracionPaisDatosModel.Valor1)</p>
                </span>
                <a href="javascript:RedireccionarContenedorComprar(@Constantes.OrigenPedidoWeb.RevistaDigitalMobileCatalogoSeccion, '@Constantes.ConfiguracionPais.OfertasParaTi')" class="boton-ver-mas no_suscrita" style="background:black">
                    VER MÁS
                </a>
            </div>
        </div>
    }
</div>