@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Models
@model PartialSectionBpt
@{
    ConfiguracionPaisDatosModel configuracionPaisDatosModel = Model.ConfiguracionPaisDatos;
    RevistaDigitalModel revistaDigital = Model.RevistaDigital;
    var urlLogo = revistaDigital.MLogoComercialNoActiva;
    if (revistaDigital.TieneRDC && revistaDigital.EsSuscrita)
    {
        urlLogo = revistaDigital.MLogoComercialActiva;
    }
    else if (revistaDigital.TieneRDR)
    {
        urlLogo = revistaDigital.MLogoComercialFondoNoActiva;
    }

    var urlArrowRight = "~/Content/Images/RevistaDigital/";
    urlArrowRight += ViewBag.EsPaisEsika == true ? "rd_arrowright_red.png" : "rd_arrowright.png";

}
<div class="content_revistas_mob" style="margin: 15px 0;">
    @if (revistaDigital.TieneRDC)
    {
        if (!revistaDigital.EsSuscrita)
        {
            <div class="wrapper_resumen_mobile">
                <div class="banner_pedido_rd">
                    <div class="cabecera_pedido_rd">
                        <div class="rd_logo">
                            <img src="@urlLogo" alt="" class="small">
                        </div>
                        <div class="cabecera_pedido_text">@Html.Raw(configuracionPaisDatosModel.Valor1)</div>
                    </div>
                    <div class="banner_pedido_masofertas">
                        <div class="banner_pedido_text">
                            @Html.Raw(configuracionPaisDatosModel.Valor2)
                        </div>
                        <div class="btn_red">
                            <a class="rd_arrowright" href="javascript:RedireccionarContenedorComprar(@Constantes.OrigenPedidoWeb.RevistaDigitalMobileCatalogoSeccion, '@Constantes.ConfiguracionPais.RevistaDigital')">
                                VER TODAS MIS OFERTAS
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else if (revistaDigital.TieneRDI)
    {
        <div class="wrapper_resumen_mobile">
            <div class="banner_pedido_rd">
                <div class="cabecera_pedido_rd">
                    <div class="rd_logo">
                        <img src="@urlLogo" alt="" class="small">
                    </div>
                    <div class="cabecera_pedido_text">@Html.Raw(configuracionPaisDatosModel.Valor1)</div>
                </div>
                <div class="banner_pedido_masofertas">
                    <div class="banner_pedido_text">
                        @Html.Raw(configuracionPaisDatosModel.Valor2)
                    </div>
                    <div class="btn_red">
                        <a class="rd_arrowright" href="javascript:RedireccionarContenedorComprar(@Constantes.OrigenPedidoWeb.RevistaDigitalMobileCatalogoSeccion, '@Constantes.ConfiguracionPais.RevistaDigitalIntriga')">
                            VER TODAS MIS OFERTAS
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
    else if (revistaDigital.TieneRDR)
    {
        <hr class="clear" />
        <div id="tab_revistasdigital_mobile">
            <div class="contenedor_seccionRevistaDigital">
                <div class="seccionRevistaDigital_logo_marca">
                    <img src="@urlLogo" alt="Club Gana+" class="small" />
                </div>
                <div class="clear"></div>
                <div class="contenido_seccionRevistaDigital">
                    <span>@Html.Raw(configuracionPaisDatosModel.Valor1)</span>
                    <span>@Html.Raw(configuracionPaisDatosModel.Valor2)</span>
                </div>
                <div class="clear"></div>
                <div class="revistadigital contenedor_botonVerMasOfertas">
                    <div class="boxoffer" style="cursor: pointer; position: relative !important;"
                         onclick="javascript:RedireccionarContenedorComprar(@Constantes.OrigenPedidoWeb.RevistaDigitalMobileCatalogoSeccion, '@Constantes.ConfiguracionPais.RevistaDigital');">
                        <div class="fondo_boton"></div>
                        <span class="texto_boton">VER M&Aacute;S OFERTAS PARA M&Iacute;</span>
                    </div>
                    <br /><br />
                </div>
            </div>
        </div>
    }
</div>