@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Areas.Mobile.Models
@using Portal.Consultoras.Web.Helpers

@model BienvenidaModel

@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}

<div class="wrapper_resumen_mobile sin_padding">
    <div class="encabezado_liquidacion">
        @{  var mobileConfiguracion = Html.MobileAppConfiguracion();
            if (mobileConfiguracion.MostrarBotonAtras)
            {
                <a href="@Request.UrlReferrer" class="enlace_regresar" title="Regresar"></a>
            } }
        <span style="font-size:16px;">DESCARGA EL APP</span>
    </div>
    <div class="pestana_lbel mobileLiquidaciones"></div>
</div>

<div id="content-app">
    <div class="header-bg">
        <div class="container">

            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <p class="title-app">¡MULTIPLICA TUS CATÁLOGOS Y OBTÉN MÁS PEDIDOS AL INSTANTE CON EL <span class="title-app-b">APP CATÁLOGOS ESIKA LBEL CYZONE!</span></p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-sm-offset-2">
                    <p>Descarga la aplicación:</p>
                </div>
            </div>

            <div class="row download-app" style="text-align:center;">
                <div class="col-xs-6 col-sm-4 col-sm-offset-2 pd-20" style="background-color:black;">
                    <a href="https://play.google.com/store/apps/details?id=belcorp.modobeta.catalogov2&hl=es" style="display:block;"><img src="@Url.Content("~/Content/Images/mobile/app-android.jpg")"></a>
                </div>
                <div class="col-xs-6 col-sm-4 pd-20" style="background-color:black;">
                    <a href="https://itunes.apple.com/pe/app/catalogos-esika-lbel-cyzone/id1052948837?mt=8" style="display:block"><img src="@Url.Content("~/Content/Images/mobile/app-ios.jpg")"></a>
                </div>
            </div>

            <div class="row" style="margin-top: 40px;">
                <div class="col-xs-6 col-sm-4 col-sm-offset-2">
                    <div class="act-app">
                        <p>Actívate como</p>
                        <a href="@Url.Action("Index", "ConsultoraOnline", new {area = "Mobile"})" class="link">Consultora online</a>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4" style="text-align:left;">
                    <img class="img-app" src="@Url.Content("~/Content/Images/mobile/bg_la_02.png")" width="100%">
                </div>
            </div>
        </div>
    </div>
    <div class="info-app">
        <div class="container">
            <p class="title-info" style="text-align:center;">ENSEÑA A TUS CLIENTES A USAR EL APP CON ESTOS SENCILLOS PASOS:</p>
            <div class="row mb-20">
                <div class="col-xs-3 col-xs-offset-1 col-sm-2 col-sm-offset-2">
                    <img src="@Url.Content("~/Content/Images/mobile/ico_laptop_01.png")">
                </div>
                <div class="col-xs-7 col-sm-6">
                    <p class="sbtitle-app">REGÍSTRATE</p>
                    <p>Actívate como Consultora Online en somosbelcorp.com</p>
                </div>
            </div>
            <div class="row mb-20">
                <div class="col-xs-3 col-xs-offset-1 col-sm-2 col-sm-offset-2">
                    <img src="@Url.Content("~/Content/Images/mobile/ico_download.png")">
                </div>
                <div class="col-xs-7 col-sm-6">
                    <p class="sbtitle-app">DESCARGA LA APLICACIÓN</p>
                    <p>Invita a tus clientes a descargar el App como Catálogos Esika LBel Cyzone desde su smartphone</p>
                </div>
            </div>
            <div class="row mb-20">
                <div class="col-xs-3 col-xs-offset-1 col-sm-2 col-sm-offset-2">
                    <img src="@Url.Content("~/Content/Images/mobile/ico_pers.png")">
                </div>
                <div class="col-xs-7 col-sm-6">
                    <p class="sbtitle-app">GUÍA A TUS CLIENTES</p>
                    <p>
                        1. Invítalos a ingresar con la opción cliente
                        <br />2. Cuéntales que te pueden buscar con tus datos
                        <br />3. Anímalos a que te envíen sus pedidos por el App
                    </p>
                </div>
            </div>
            <div class="row mb-20">
                <div class="col-xs-3 col-xs-offset-1 col-sm-2 col-sm-offset-2">
                    <img src="@Url.Content("~/Content/Images/mobile/ico_laptop.png")">
                </div>
                <div class="col-xs-7 col-sm-6">
                    <p class="sbtitle-app">PEDIDOS ONLINE</p>
                    <p>Revisa tus notificaciones en somosbelcorp.com y en tu correo para saber si haz recibido nuevos pedidos desde el App de Catálogos Esika LBel Cyzone</p>
                </div>
            </div>
        </div>
    </div>
</div>

