
<div class="titulo_catalogo" data-titulo="">REVISTAS C-@ViewBag.CampaniaNro</div>

@if (ViewBag.TieneGnd)
{
    <div class="content_revistas_mobile">
        <a id="lbPortadaGana" href="javascript:;">
            <img src="@Url.Content("~/Content/Images/revista_no_disponible.jpg")" alt="-" id="imgPortadaGana" />
        </a>
    </div>

    <div class="contrevista">
        <p>Tu guía de negocio de siempre, <b>AHORA DIGITAL.</b></p>
        <a href="@Url.Action("Index", "GuiaNegocio", new {area = "Mobile"})">ENCUENTRALA AQUÍ</a>
    </div>
}
else
{
    <div class="content_revistas_mobile">
        <a class="previous_revistas_mobile" style="left: -30px"><img src="@Url.Content("~/Content/Images/mobile/Esika/previous_ofertas_home.png")" alt="-" onclick="RevistaMostrar(-1, this)" /></a>
        <a class="next_revistas_mobile" style="right: -30px"><img src="@Url.Content("~/Content/Images/mobile/Esika/next.png")" alt="-" onclick="RevistaMostrar(1, this)" /></a>
        <a id="lbPortadaGana" href="javascript:;" onclick="MostrarMiRevista();">
            <img src="@Url.Content("~/Content/Images/revista_no_disponible.jpg")" alt="-" id="imgPortadaGana" />
        </a>
    </div>
}
