@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Areas.Mobile.Models
@using Portal.Consultoras.Web.Areas.Mobile.Helpers

@{
    var items = (List<MenuMobileModel>)ViewBag.MenuMobile;
    var itemsMenu = items == null ? new List<MenuMobileModel>() : items.Where(p => p.Posicion.ToLower().Equals("menu")).ToList();
    var urlDomain = Util.GetUrlHost(Request);
    var tipoUsuario = ViewBag.TipoUsuario;

}

<div class="menu">
    <div class="content_close">
        <div class="icon-close">
            <img src="@Url.Content("~/Content/Images/mobile/Esika/btn_cerrar_header.png")" alt="X" />
        </div>
    </div>
    <div class="foto_menu">
        @if (!string.IsNullOrEmpty(ViewBag.FotoPerfil))
        {
            <a href="@Url.Action("Index", "MiPerfil", new {area = "Mobile"})" title="Actualizar datos" class="subir_foto_mobile subir_foto_mobile_menu default-background"></a>
            <div class="foto_usuaria_mobile">
                @if (ViewBag.FotoPerfilAncha)
                {
                    <img id="imgFotoUsuario" src="@ViewBag.FotoPerfil" alt="" style="width:auto; height:100%" />
                }
                else
                {
                    <img id="imgFotoUsuario" src="@ViewBag.FotoPerfil" alt="" style="width:100%; height:auto" />
                }
            </div>
        }
    </div>
    <br />
    <div class="saludo_menu">¡Hola @ViewBag.NombreConsultora!</div>

    <div class="botones" id="ulNavPrincipal-0" data-menu-count="@(itemsMenu.Count())">
        <a role="menu" region="Menú Lateral" parent="Ingresa tu Pedido" title="Ingresa tu Pedido"
           class="menu_mobile_belcorp indicador_bel" href="@Url.Action("Index", "Pedido", new {area = "Mobile"})" id="lnk-lat-ingresa-tu-pedido">INGRESA<b>TU PEDIDO</b></a>

        @foreach (var item in itemsMenu)
        {
            if (item.SubMenu.Count == 0)
            {
                if (item.Descripcion != "¿Necesitas ayuda?")
                {
                    <a role="menu" region="Menú Lateral" parent="@item.MenuPadreDescripcion" title="@item.Descripcion"
                       class="menu_mobile_belcorp @item.ClaseMenu @item.ClaseMenuItem" target="@item.PageTarget"
                       href="@item.UrlItem" @item.OnClickFunt data-orden="@item.OrdenItem"
                       id="lnk-prin-@item.Descripcion.GenerateLinkForGoogleTagManager()" data-codigo="@item.Codigo">
                        @if (item.UrlImagen != "")
                        {
                            <img src="@item.UrlImagen" alt="@item.Descripcion" />
                        }
                        else
                        {
                            @item.Descripcion
                        }
                    </a>
                }
            }
            else
            {
                <a role="menu" region="Menú Lateral" parent="@item.Descripcion" title="@item.Descripcion"
                   class="menu_mobile_belcorp indicador_submenu" data-toggle="collapse" data-parent="#accordion"
                   href="#SubMenu_@item.Descripcion.GenerateLinkForGoogleTagManager()">@item.Descripcion</a>
                <div class="panel-collapse collapse submenu_1" id="SubMenu_@item.Descripcion.GenerateLinkForGoogleTagManager()">
                    @foreach (var subItem in item.SubMenu)
                    {
                        <a role="menu" region="Menú Lateral" parent="@subItem.MenuPadreDescripcion" title="@subItem.Descripcion"
                           class="menu_subHeader" href="@subItem.UrlItem" @subItem.OnClickFunt target="@subItem.PageTarget"
                           id="lnk-prin-@subItem.Descripcion.GenerateLinkForGoogleTagManager()">
                            @subItem.Descripcion
                            @if (tipoUsuario == 2 && subItem.Descripcion.ToLower().Trim() == "app de catálogos")
                            {
                                <div class="notificaciones_menu_mobile2">¡Afiliate!</div>
                            }
                            else if (ViewBag.TipoMenuConsultoraOnline == 1)
                            {
                                if (subItem.MenuMobileID == ViewBag.MenuHijoIDConsultoraOnline)
                                {
                                    <div class="notificaciones_menu_mobile2">¡Afiliate!</div>
                                }
                            }
                            else if (ViewBag.TipoMenuConsultoraOnline == 2)
                            {
                                if (subItem.MenuPadreID == ViewBag.MenuPadreIDConsultoraOnline && subItem.Descripcion.ToLower().Trim() == "pedidos pendientes")
                                {
                                    if (ViewBag.CantPedidosPendientes > 0)
                                    {
                                        <div class="notificaciones_menu_mobile">@ViewBag.CantPedidosPendientes</div>
                                    }
                                }
                            }
                        </a>
                    }
                </div>
            }

            if (item.Descripcion == "¿Necesitas ayuda?")
            {
                <a role="menu" region="Menú Lateral" parent="@item.MenuPadreDescripcion" title="@item.Descripcion"
                   style="background:url('@item.UrlImagen') no-repeat;
                      background-position: 10px 17px;
                      background-size: 10px;"
                   class="menu_mobile_belcorp indicador_ayuda @item.ClaseMenu @item.ClaseMenuItem" target="@item.PageTarget"
                   href="@item.UrlItem" @item.OnClickFunt data-orden="@item.OrdenItem"
                   id="lnk-prin-@item.Descripcion.GenerateLinkForGoogleTagManager()" data-codigo="@item.Codigo">
                    @item.Descripcion
                </a>
            }
        }

    </div>

    <a role="menu" region="Menú Lateral" parent="Cerrar Sesion" title="Cerrar Sesion" class="btn_cerrar_sesion" href="@Url.Action("LogOut", "Login", new { area = "" })">Cerrar sesión</a>
</div>