
@{
    var mmVbEsContenedor = ViewBag.vbEsContenedor == 1 ? true : false;
    var clase50Anios = mmVbEsContenedor ? "" : "agregarBackgroundCincuentaAniosBelcorp";
    var icono50Anios = mmVbEsContenedor ? "" : "icono_menuMobile_cincuenta_anios_belcorp";
    var urlImg50Anios = mmVbEsContenedor ? "~/Content/Images/mobile/Esika/icon_menu.png" : "~/Content/Images/mobile/icono-menu-mobile.svg";
    var mmVbEsMostrarBuscadorYFiltros = ViewBag.vbEsMostrarBuscadorYFiltros;
}

<div class="container-fluid agregarBackgroundNavidenio" style="padding-top:9px; padding-bottom:9px;">
    <div class="row">
        <div class="col-xs-2 icono_menuMobile_campania_navidenia">
            <img src="@Url.Content("~/Content/Images/mobile/icono-menu-mobile.svg")" id="ic_menu" class="icon-menu" alt="Menú" />
        </div>
        <div class="col-xs-5 text-center">
            <a role="link" region="Superior" parent="Bienvenida" title="Bienvenida"
               class="logo_mobile" href="@Url.Action("Index", "Bienvenida", new { area = "Mobile" })"></a>
        </div>
        <div class="col-xs-5 text-right">
            <div class="menu-shop">
                <div class="contenedor_circulos">
                    <div class="circulo-1 iniciarTransicion"></div>
                    <div class="circulo-2 iniciarTransicion"></div>
                    <div class="circulo-3 iniciarTransicion"></div>
                </div>
                <a role="link" region="Superior" parent="Pedido" title="Pedido"
                   class="campana_mobile" href="@Url.Action("Detalle", "Pedido", new { area = "Mobile" })" id="lnk-sup-pedido">
                    <span role="link" region="Superior" parent="Pedido" title="Pedido" class="icon-menu-shop"><i class="icon-shop-belcorp"></i></span>
                    <span role="link" region="Superior" parent="Pedido" title="Pedido" class="num-menu-shop">0</span>
                </a>
                <a role="link" region="Superior" parent="Notificaciones" title="Notificaciones"
                   class="campana_mobile" href="@Url.Action("Index", "Notificaciones", new { area = "Mobile" })" style="margin-left: -15px;">
                    <div role="link" region="Superior" parent="Notificaciones" title="Notificaciones" class="campana_svg_mobile"><p role="link" region="Superior" parent="Notificaciones" title="Notificaciones" class="notificaciones_mobiles">0</p></div>
                </a>

                @if (mmVbEsMostrarBuscadorYFiltros)
                {
                    <a role="link" region="Superior" parent="Buscador" title="Buscador"
                       class="campana_mobile opcion_menu_buscador" href="@Url.Action("Index", "Buscador", new { area = "Mobile" })" style="margin-right: 20px;">
                        <div role="link" region="Superior" parent="Buscador" title="Buscador" class="icono_busqueda_mobile">
                            <img src="@Url.Content("~/Content/Images/icono-lupa-blanco.svg")" alt="Buscar" />
                            @*<i class="fa fa-search fa-sm"></i>*@
                        </div>
                        <div class="tooltip_informativo_sobre_opcion_busqueda_prod" style="display:none;">
                            <div class="text-uppercase default-color novedad_busqueda_titulo">¡Nuevo!</div>
                            <div class="novedad_busqueda_descripcion">
                                <span class="icono_tooltip_informativo_opcion_busqueda">
                                    <img src="@Url.Content("~/Content/Images/celebracion-img.png")" alt="Encuentra productos y ofertas en un clic." />
                                </span>
                                <span class="descripcion_tooltip_informativo_opcion_busqueda">
                                    Encuentra productos y ofertas en un clic.
                                </span>
                            </div>
                        </div>
                    </a>
                }

                <div data-agregado='tooltip' class="popover bottom tooltip_agregado" role="tooltip" id="" style="display: none;">
                    <div class="arrow"></div>
                    <div class="popover-content">
                        ¡Genial! <img class="tooltop-emoji" src="/Content/Images/Mobile/Esika/1f44d.png" /> Agregaste una oferta
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>