@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Areas.Mobile.Models
@using Portal.Consultoras.Web.Areas.Mobile.Helpers

@{
    var items = (List<MenuMobileModel>)ViewBag.MenuMobile;
    var itemsFooter = items == null ? new List<MenuMobileModel>() : items.Where(p => p.Posicion.ToLower().Equals("footer")).ToList();
    var urlDomain = Util.GetUrlHost(Request);
}
@foreach (var item in itemsFooter)
{
    <a role="link" region="Footer" parent="@item.Descripcion" title="@item.Descripcion" 
       class="menu_footer" data-toggle="collapse" data-parent="#accordion" href="#collapse_@item.MenuMobileID">
        @item.Descripcion.ToUpper()
    </a>
    if (item.SubMenu.Count > 0)
    {
        <div id="collapse_@item.MenuMobileID" class="panel-collapse collapse">

            @foreach (var subitem in item.SubMenu)
            {
                var target = subitem.PaginaNueva ? "_blank" : "_self";
                var url = subitem.Version == "Completa"
                    ? subitem.UrlItem.Trim().StartsWith("http") ? subitem.UrlItem : string.Format("{0}Mobile/Menu/Ver?url={1}", urlDomain, subitem.UrlItem)
                    : subitem.UrlItem.Trim().StartsWith("http") ? subitem.UrlItem : string.Format("{0}{1}", urlDomain, subitem.UrlItem);
                if (subitem.Descripcion == "Tutorial")
                {
                    <a role="link" region="Footer" parent="@item.Descripcion" title="@subitem.Descripcion" 
                       class="menu_subfooter" href="#" id="tutorialFooterMobile">@subitem.Descripcion.ToUpper()</a>
                }
                else
                {
                    if (subitem.Descripcion.Trim().ToLower() == "contáctanos")
                    {
                        url += "?" + ViewBag.QSBR;
                    }
                    if (subitem.Version == "Click")
                    {
                        <a role="button" onclick="@string.Concat("javascript:", @subitem.UrlItem ,"()" )" region="Footer" parent="@item.Descripcion" title="@subitem.Descripcion" 
                            class="menu_subfooter">@subitem.Descripcion.ToUpper()</a>
                    }
                    else
                    {
                        <a role="link"  region="Footer" parent="@item.Descripcion" title="@subitem.Descripcion" 
                            class="menu_subfooter" target="@target" href="@url">@subitem.Descripcion.ToUpper()</a>
                    }

                }
            }
        </div>
    }
}
<a role="link" region="Footer" parent="Ir a la versión escritorio" title="Ir a la versión escritorio" 
   class="version_escritorio" href="@Url.Action("Index", "Bienvenida", new { area = ""})">Ir a la versión escritorio</a>
<div class="content_redes">
    <div class="col-xs-2">
        <a role="link" region="Footer" parent="Belcorp" title="Belcorp" id="lnk-foo-belcorp" target="_blank">
            <img role="link" region="Footer" parent="Belcorp" title="Belcorp" src="@Url.Content("~/Content/Images/mobile/LogoFooter.png")" alt="Belcorp" width="40" height="40" />
        </a>
    </div>
    <a role="link" region="Footer" parent="Redes Sociales" title="Youtube Belcorp" class="redes_sociales" target="_blank" href="https://www.youtube.com/user/somosbelcorp">
        <img role="link" region="Footer" parent="Redes Sociales" title="Youtube Belcorp" src="@Url.Content("~/Content/Images/mobile/Esika/youtube.png")" />
    </a>
    <a role="link" region="Footer" parent="Redes Sociales" title="Facebook Belcorp" class="redes_sociales" target="_blank" href="https://es-la.facebook.com/SomosBelcorpOficial">
        <img role="link" region="Footer" parent="Redes Sociales" title="Youtube Belcorp" src="@Url.Content("~/Content/Images/mobile/Esika/facebook2.png")" />
    </a> 
    <hr class="clear" />
</div>
<hr class="clear" />