@using Portal.Consultoras.Web.CustomHelpers
@using Portal.Consultoras.Common;

@{
    ViewBag.Title = "Actualizar Correo";
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}

@if (System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika").Contains(ViewBag.PaisAnalytics == null ? "" : ViewBag.PaisAnalytics))
{
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Mobile/esika/mi-perfil.css")">
}
else
{
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Mobile/lbel/mi-perfil.css")">
}

<style>
    .footer-page {
        display: none;
    }
</style>

<!-- TÍTULO -->
<div class="titulo_mobile" style="display:none;">
    @{ var mobileConfiguracion = Html.MobileAppConfiguracion();
        if (mobileConfiguracion.MostrarBotonAtras)
        {
            <a href="@Request.UrlReferrer" class="enlace_regresar catalogosR" title="Regresar"></a>
        }
    }
    &nbsp;&nbsp;&nbsp;&nbsp;CAMBIA TU CORREO
</div>
<div class="pestana_esika"></div>
<div class="pestana_lbel"></div>
<!-- FIN - TÍTULO -->

<div class="content_belcorp">
    <section class="vista_actualizar_correo">
        <div class="wrapper_content_actualizar_correo">
            <div id="tabVistas">
                <a id="btnVolver" class="d-block enlace_volver_a_mi_perfil enlace_volver_a_mi_perfil--vistaActualizarCorreo" title="Volver">
                    <span class="d-inline-block enlace_volver_a_mi_perfil_icono">
                        <img src="@Url.Content("~/Content/Images/icono_enlace_volver.svg")" alt="Volver" />
                    </span>
                    <span class="d-inline-block text-bold enlace_volver_a_mi_perfil_texto">
                        Volver
                    </span>
                </a>
                <div vista-id="1" class="form_actualizar_correo" style="display: none;">

                    <!--INI HD-4520-->
                    <div class="w-100 infoActual" style="display:none;">
                        <div class="w-100 infoActualDetalle">
                            <span class="d-block">Tu correo electrónico actual es :</span>
                            <span class="d-block text-bold" id="correoActual"></span>
                        </div>
                    </div>
                    <!--FIN HD-4520-->

                    <!-- INICIO -Cuando el formato del correo sea incorrecto agregar la clase grupo_form_cambio_datos--validacionErronea,
                    si el formato del correo es correcto remover clase mencionada anteriormente y agregar grupo_form_datos--validacionExitosa -->
                    <div class="grupo_form_cambio_datos grupo_form_cambio_datos--vistaActualizacionCorreo">
                        <div class="w-100">
                            <input id="NuevoCorreo" name="NuevoCorreo" class="w-100 eventActPerfil_Auto" type="text" value="" />
                            <label for="NuevoCorreo" class="w-100">Correo electrónico</label>
                            <span id="ValidateCorreo" class="text-bold mensaje_validacion_campo mensaje_validacion_campo--vistasActualizacion"></span>
                        </div>
                    </div>
                    <!-- FIN -Cuando el formato del correo sea incorrecto agregar la clase grupo_form_cambio_datos--validacionErronea,
                    si el formato del correo es correcto remover clase mencionada anteriormente y agregar grupo_form_datos--validacionExitosa -->
                    <div class="grupo_input_actualizarMisDatos campos_actualizarDatos terminos_y_condiciones_wrapper pt-31">
                        <div class="checkbox_condiciones_wrapper w-100">
                            <div class="checkbox_condiciones_descripcion">
                                <span class="asterisco_actualizar_datos">(*)&nbsp;</span>
                                Estoy de acuerdo con los <span><a href="javascript:;" id="hrefTerminosMD" target="_blank">términos y condiciones</a></span> sobre Protección de datos personales
                            </div>
                            <div class="grupo_form_checkbox_condiciones">
                                <input class="checkbox_condiciones_checkbox" type="checkbox" name="chkAceptoContratoMD" id="chkAceptoContratoMD" />
                                <label for="chkAceptoContratoMD" class="checkbox_condiciones_label"></label>
                            </div>
                        </div>
                    </div>
                    <button id="btnActualizarCorreo" type="button" class="w-100 border-radius-4 text-bold btn_deshabilitado btn_primario btn_primario--miPerfil">
                        Guardar
                    </button>
                </div>
                <div vista-id="2" class="revisa_tu_correo text-center" style="display:none;">
                    <div class="icono_correo_sobre"></div>
                    <h3 class="d-block text-bold actualizacion_celular_titulo">Confirmación de correo</h3>
                    <p class="w-100 envio_instrucciones_info">
                        <span class="d-block w-100">
                            Te hemos enviado un correo de confirmación a:
                        </span>
                        <span class="d-block w-100 text-bold correo_actual" id="txtCorreoEnviado">
                            cambiodecorreo@example.com
                        </span>
                        <a id="btnReescribirCorreo" class="d-block enlace_cambiar_correo" title="Cambia de correo">
                            Cambia de correo
                        </a>
                    </p>
                    <div class="text-center">
                        <div class="w-100 envio_instrucciones_info">
                            <span class="w-100">¿Aún no recibes nuestro correo?</span>
                            <a id="btnReenviameInstruciones" title="Reenviar el correo" class="enlace_reenviar_instrucciones w-100">
                                Reenviar el correo
                            </a>
                        </div>
                        <div id="spnReenviarInstrucciones" class="notificacion_estado notificacion_estado--exito" style="display:none;">
                            <span class="notificacion_estado_img">
                                <img src="@Url.Content("~/Content/Images/icono_confirmacion_con_fondo.svg")" alt="" />
                            </span>
                            <span class="text-bold">¡Listo! Se reenvió el correo.</span>
                        </div>
                        <button type="button" class="w-100 border-radius-4 text-bold btn_primario btn_primario--miPerfil"
                                onclick="location.href='@Url.Action("Index")'">
                            Ir a ver mis datos
                        </button>
                    </div>
                </div>
                <div vista-id="3" class="text-center" style="display:none;">
                    <div class="center-block icono_success icono_success--miPerfil">
                        <img class="d-block" src="@Url.Content("~/Content/Images/success_icon.svg")" alt="¡El cambio de correo fue exitoso!" />
                    </div>
                    <h6 class="center-block text-bold text-center mensaje_success mensaje_success--miPerfil">
                        ¡El cambio de<br />correo fue exitoso!
                    </h6>
                </div>
            </div>
        </div>
    </section>
</div>

<input type="hidden" id="hdn_enlaceTerminosCondiciones" value="@ViewBag.UrlPdfTerminosyCondiciones" />
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/MiPerfil/Base.js")?v=3"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/MiPerfil/ActualizarCorreo.js")?v=3"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            new MiPerfil_ActualizarCorreo({
                UrlPaginaPrevia: '@Url.Action("Index", "MiPerfil", new { area = "Mobile" })',
                UrlActualizarEnviarCorreo: '@Url.Action("ActualizarEnviarCorreo", "MiPerfil", new { area = "" })',
                MensajeError: '@Html.Raw(Constantes.MensajesError.ActivacionCorreo)',
                MensajeReenvioExitoso: '@Html.Raw(Constantes.MensajesExito.UpdCorreoConsultora_Reenvio)',
                CorreoActual: '@ViewBag.CorreoActual',
                IsConfirmar: @ViewBag.IsConfirmar
            }).Inicializar();
        });

        var inputEmail = document.getElementById("NuevoCorreo");
        FuncionesGenerales.AutoCompletarEmailAPartirDeArroba(inputEmail);
    </script>
}
