@using Portal.Consultoras.Web.CustomHelpers

@{
    ViewBag.Title = "Actualizar Celular";
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}

@if (System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika").Contains(ViewBag.PaisAnalytics == null ? "" : ViewBag.PaisAnalytics))
{
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Mobile/esika/mi-perfil.css")">
}
else
{
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Mobile/lbel/mi-perfil.css")">
}

<style>
    .footer-page {
        display: none;
    }
</style>

<!-- TÍTULO -->
<div class="titulo_mobile" style="display:none;">
    @{ var mobileConfiguracion = Html.MobileAppConfiguracion();
        if (mobileConfiguracion.MostrarBotonAtras)
        {
            <a href="@Request.UrlReferrer" class="enlace_regresar catalogosR" title="Regresar"></a>
        }
    }
    &nbsp;&nbsp;&nbsp;&nbsp;CAMBIA TU CELULAR
</div>
<div class="pestana_esika"></div>
<div class="pestana_lbel"></div>
<!-- FIN - TÍTULO -->

<div class="content_belcorp">
    <section class="vista_actualizar_celular">
        <div class="wrapper_content_actualizar_celular">
            <div>
                <a id="btnVolver" class="d-block enlace_volver_a_mi_perfil enlace_volver_a_mi_perfil--vistaActualizarCelular" title="Volver">
                    <span class="d-inline-block enlace_volver_a_mi_perfil_icono">
                        <img src="@Url.Content("~/Content/Images/icono_enlace_volver.svg")" alt="Volver" />
                    </span>
                    <span class="d-inline-block text-bold enlace_volver_a_mi_perfil_texto">
                        Volver
                    </span>
                </a>
                <div class="form_actualizar_celular">
                    <!-- INICIO -Cuando el formato del celular sea incorrecto agregar la clase grupo_form_cambio_datos--validacionErronea,
                 si el formato del correo es correcto remover clase mencionada anteriormente y agregar grupo_form_datos--validacionExitosa -->
                    <div class="grupo_form_cambio_datos grupo_form_cambio_datos--vistaActualizacionCelular">
                        <div class="w-100">
                            <input id="NuevoCelular" name="NuevoCelular" class="w-100" type="tel" value="" />
                            <label for="NuevoCelular" class="w-100">Número de celular</label>
                            <span id="ValidateCelular" class="text-bold mensaje_validacion_campo mensaje_validacion_campo--vistasActualizacion"></span>
                        </div>
                    </div>
                    <!-- FIN -Cuando el formato del celular sea incorrecto agregar la clase grupo_form_cambio_datos--validacionErronea,
                 si el formato del correo es correcto remover clase mencionada anteriormente y agregar grupo_form_datos--validacionExitosa -->
                    <div class="grupo_input_actualizarMisDatos campos_actualizarDatos terminos_y_condiciones_wrapper pt-31">
                        <div class="checkbox_condiciones_wrapper w-100">
                            <div class="checkbox_condiciones_descripcion">
                                <span class="asterisco_actualizar_datos">(*)&nbsp;</span>
                                Estoy de acuerdo con los <span><a href="javascript:;" id="hrefTerminosMD" target="_blank">términos y condiciones</a></span> sobre Protección de datos personales
                            </div>
                            <div class="grupo_form_checkbox_condiciones">
                                <input class="checkbox_condiciones_checkbox" type="checkbox" name="chkAceptoContratoMD" id="chkAceptoContratoMD" />
                                <label for="chkAceptoContratoMD" class="checkbox_condiciones_label"></label>
                            </div>
                        </div>
                    </div>
                    <button id="btn_continuar" type="button" class="w-100 border-radius-4 text-bold btn_deshabilitado btn_primario btn_primario--miPerfil">
                        Guardar
                    </button>
                </div>
                <div class="revisa_tu_celular text-center mb-15" style="display:none;">
                    <div class="icono_mensaje_sms"></div>
                    <h3 class="d-block text-bold actualizacion_celular_titulo">Código de confirmación</h3>
                    <p class="w-100 envio_instrucciones_info">
                        <span class="d-block w-100">Te hemos enviado un SMS al número de celular:</span>
                        <span class="d-inline-block text-bold num_celular_actual" id="NumeroMensajeEnviado"></span>
                        <a href="#" class="d-inline-block enlace_cambiar_numero_celular" title="Cambiar número">Cambiar número</a>
                    </p>
                    <div class="area_ingreso_codigo_sms">
                        <div class="d-block texto_ingreso_codigo text-bold">Ingresa el código aquí</div>
                        <div class="campos_ingreso_codigo_sms">
                            <div class="wrapper_campo_ingreso_codigo_sms">
                                <input class="text-bold campo_ingreso_codigo_sms text-center" type="text" value="" maxlength="1" />
                                <span class="d-block w-100 multimarca-background-color campo_ingreso_codigo_sms_borde_inferior"></span>
                            </div>
                            <div class="wrapper_campo_ingreso_codigo_sms">
                                <input class="text-bold campo_ingreso_codigo_sms text-center" type="text" value="" maxlength="1" />
                                <span class="d-block w-100 multimarca-background-color campo_ingreso_codigo_sms_borde_inferior"></span>
                            </div>
                            <div class="wrapper_campo_ingreso_codigo_sms">
                                <input class="text-bold campo_ingreso_codigo_sms text-center" type="text" value="" maxlength="1" />
                                <span class="d-block w-100 multimarca-background-color campo_ingreso_codigo_sms_borde_inferior"></span>
                            </div>
                            <div class="wrapper_campo_ingreso_codigo_sms">
                                <input class="text-bold campo_ingreso_codigo_sms text-center" type="text" value="" maxlength="1" />
                                <span class="d-block w-100 multimarca-background-color campo_ingreso_codigo_sms_borde_inferior"></span>
                            </div>
                            <div class="wrapper_campo_ingreso_codigo_sms">
                                <input class="text-bold campo_ingreso_codigo_sms text-center" type="text" value="" maxlength="1" />
                                <span class="d-block w-100 multimarca-background-color campo_ingreso_codigo_sms_borde_inferior"></span>
                            </div>
                            <div class="wrapper_campo_ingreso_codigo_sms">
                                <input class="text-bold campo_ingreso_codigo_sms text-center" type="text" value="" maxlength="1" />
                                <span class="d-block w-100 multimarca-background-color campo_ingreso_codigo_sms_borde_inferior"></span>
                                <div class="icono_validacion_codigo_sms validacion_erronea"></div>
                            </div>
                        </div>
                        <div class="w-100 codigo_sms_caducidad" style="display:none;">
                            Puedes solicitar un código nuevo en<br /><span class="text-bold" id="time_counter">3</span><span class="text-bold"> segundos</span>
                        </div>
                        <div class="w-100 envio_instrucciones_info">
                            <a href="#" title="Reenvíenme las instrucciones" class="enlace_reenviar_instrucciones w-100">
                                Reenviar nuevamente el código
                            </a>
                        </div>
                    </div>
                    @*<button type="button" class="w-100 border-radius-4 text-bold btn_deshabilitado btn_primario btn_primario--miPerfil">
                    Validar código
                </button>*@
                </div>
            </div>
            <div id="celular_actualizado" class="celular_actualizado text-center" style="display:none;">
                <div class="center-block icono_success icono_success--miPerfil">
                    <img class="d-block" src="@Url.Content("~/Content/Images/success_icon.svg")" alt="¡El cambio de número fue exitoso!" />
                </div>
                <h6 class="center-block text-bold text-center mensaje_success mensaje_success--miPerfil">
                    ¡El cambio de<br />número fue exitoso!
                </h6>
            </div>
            <div id="celular_no_actualizado" class="celular_actualizado text-center" style="display:none;">
                <div class="center-block icono_success icono_success--miPerfil">
                    <img class="d-block" src="@Url.Content("~/Content/Images/icono_pendiente_confirmacion.svg")" alt="¡El cambio de número fue exitoso!" />
                </div>
                <h6 id="message" class="center-block text-bold text-center mensaje_success mensaje_success--miPerfil"></h6>
                <button type="button" class="w-100 border-radius-4 text-bold btn_primario btn_primario--miPerfil"
                        onclick="location.href='@Url.Action("Index")'">
                    Ir a ver mis datos
                </button>
            </div>
        </div>
    </section>
</div>

<input type="hidden" id="hdn_enlaceTerminosCondiciones" value="@ViewBag.UrlPdfTerminosyCondiciones" />

@section scripts{
    <script>
        var actualizaCelularData = {
            UrlPaginaPrevia:'@Url.Action("Index", "MiPerfil", new { area = "Mobile" })',
            celular: '@ViewBag.Celular',
            iniciaNumero: @ViewBag.IniciaNumeroCelular,
            IsConfirmar:@ViewBag.IsConfirmarCel,
            urlProvider: {
                enviarSmsCodigo: '@Url.Action("EnviarSmsCodigo", "MiPerfil", new { area = "" })',
                confirmarSmsCode: '@Url.Action("ConfirmarSmsCode", "MiPerfil", new { area = "" })'
            }
        };
        var listaIconoLluvia = [
            '@Url.Content("~/Content/Images/lluvia/ov-d.svg")',
            '@Url.Content("~/Content/Images/lluvia/ov-r.svg")',
            '@Url.Content("~/Content/Images/lluvia/sq-d.svg")',
            '@Url.Content("~/Content/Images/lluvia/sq-r.svg")',
            '@Url.Content("~/Content/Images/lluvia/trg-d.svg")',
            '@Url.Content("~/Content/Images/lluvia/trg-r.svg")',
        ];
        var noIniciarLluvia = true;
        var lluviaContainerId = "#celular_actualizado";

    </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/MiPerfil/Base.js")?v=3"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/MiPerfil/ActualizarCelular.js")?v3"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/nieve.js")"></script>
}
