@using Portal.Consultoras.Web.Helpers
@using Portal.Consultoras.Common;

@{
    ViewBag.Title = "Actualizar Correo";
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}

@if (System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika").Contains(ViewBag.PaisAnalytics == null ? "" : ViewBag.PaisAnalytics))
{
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Mobile/esika/mi-perfil.css")">
}
else
{
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Mobile/lbel/mi-perfil.css")">
}

<!-- TÍTULO -->
<div class="titulo_mobile">
    @{ var mobileConfiguracion = Html.MobileAppConfiguracion();
        if (mobileConfiguracion.MostrarBotonAtras)
        {
            <a href="@Request.UrlReferrer" class="enlace_regresar catalogosR" title="Regresar"></a>
        }
    }
    &nbsp;&nbsp;&nbsp;&nbsp;CAMBIA TU CORREO
</div>
<div class="pestana_esika"></div>
<div class="pestana_lbel"></div>
<!-- FIN - TÍTULO -->

<div class="content_belcorp">
    <section class="vista_actualizar_correo">
        <div class="wrapper_content_actualizar_correo">
            <div id="tabVistas">
                <div vista-id="1" class="form_actualizar_correo" style="display: none;">
                    @if (!string.IsNullOrEmpty(ViewBag.CorreoActual))
                    {
                        <div class="correo_electronico_actual" style="display:none;">
                            <span class="w-100 text-uppercase">Tu correo electrónico actual es :</span>
                            <span class="w-100">@ViewBag.CorreoActual</span>
                        </div>
                    }
                    else
                    {
                        <div class="sin_correo_registrado">
                            <span>Aún no has registrado un correo electrónico. Llena el siguiente campo para añadirlo.</span>
                        </div>
                    }
                    <fieldset class="grupo_form_cambio_datos text-uppercase">
                        <div class="w-100">
                            <input id="NuevoCorreo" name="NuevoCorreo" class="w-100" type="text" value="" />
                            <label for="NuevoCorreo" class="w-100">Ingresa tu nuevo correo electrónico</label>
                        </div>
                    </fieldset>
                    <fieldset class="grupo_form_cambio_datos text-uppercase">
                        <div class="pull-left text-left v-alignMiddle">
                            <a id="btnCancelar" title="Cancelar" class="enlace_cancelar">Cancelar</a>
                        </div>
                        <div class="pull-right text-right v-alignMiddle">
                            <button id="btnActualizarCorreo" type="button" class="btn_cambiar_contrasenia text-uppercase text-bold default-background-color">
                                Continuar
                            </button>
                        </div>
                    </fieldset>
                </div>
                <div vista-id="2" class="revisa_tu_correo text-center" style="display:none;">
                    <h1 class="titulo_revisa_tu_correo text-uppercase">
                        Revisa <span class="text-bold">tu correo</span>
                    </h1>
                    <div class="icono_correo_sobre"></div>
                    <p class="w-100 envio_instrucciones_info">
                        <span class="w-100">Te hemos enviado las instrucciones a:</span>
                        <span id="txtCorreoEnviado" class="w-100 text-bold"></span>
                    </p>
                    <p class="w-100 envio_instrucciones_info">
                        <span class="w-100">¿Aún no recibes nuestro correo?</span>
                        <a id="btnReenviameInstruciones" title="Reenvíenme las instrucciones" class="enlace_reenviar_instrucciones w-100 text-uppercase text-bold">
                            Reenvíenme las instrucciones
                        </a>
                    </p>
                    <p class="w-100 cambiar_correo_info">
                        <span>¿Este no es tu correo?</span>
                        <a id="btnReescribirCorreo" title="Cambia tu correo" class="enlace_cambiar_correo text-bold">Cambia tu correo</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/MiPerfil/Base.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/MiPerfil/ActualizarCorreo.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            new MiPerfil_ActualizarCorreo({
                UrlPaginaPrevia: '@Url.Action("Index", "MiPerfil", new { area = "Mobile" })',
                UrlActualizarEnviarCorreo: '@Url.Action("ActualizarEnviarCorreo", "MiPerfil", new { area = "" })',
                MensajeError: '@Html.Raw(Constantes.MensajesError.ActivacionCorreo)',
                MensajeReenvioExitoso: '@Html.Raw(Constantes.MensajesExito.UpdCorreoConsultora_Reenvio)'
            }).Inicializar();
        });
    </script>
}
