@using Portal.Consultoras.Web.CustomHelpers
@using Portal.Consultoras.Common
@model Portal.Consultoras.Web.Models.MisDatosModel
@{
    ViewBag.Title = "Mi Perfil";

    int _origen = ViewBag.origen == null ? 0 : (int)ViewBag.origen;
    if (_origen == int.Parse(Constantes.IngresoExternoOrigen.ChatBot))
    {
        Layout = "~/Areas/Mobile/Views/Shared/_ChatboMobileLayout.cshtml";
    }
    else
    {
        Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
    }
}

@if (System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika").Contains(ViewBag.PaisAnalytics == null ? "" : ViewBag.PaisAnalytics))
{
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Mobile/esika/mi-perfil.css")">
}
else
{
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Mobile/lbel/mi-perfil.css")">
}


@section styles{
    <style type="text/css">
        .asteriscos {
            color: #e81c36;
        }
        .footer-page {
            display: none;
        }
    </style>
}
<!-- TÍTULO -->
@if (_origen == int.Parse(Constantes.IngresoExternoOrigen.ChatBot))
{
    <div class="titulo_mobile">MI PERFIL</div>
}
else
{
    <div class="titulo_mobile">
        @{ var mobileConfiguracion = Html.MobileAppConfiguracion();
            if (mobileConfiguracion.MostrarBotonAtras)
            {
                <a href="@Request.UrlReferrer" class="enlace_regresar catalogosR" title="Regresar"></a>
            }

        }
        &nbsp;&nbsp;&nbsp;&nbsp;MI PERFIL
    </div>
}
<div class="pestana_esika"></div>
<div class="pestana_lbel"></div>

<!-- FIN - TÍTULO -->

<div class="content_belcorp">
    <section class="datos_usuario_iniciales w-100">
        <div class="wrapper_content_mi_perfil text-center">
            <div class="foto_consultora center-block">
                <a href="@Url.Action("Index", "Bienvenida", new { area = "Mobile" })" style="display: none;" id="volverBienvenida">Volver</a>
                <a href="@Url.Action("CambiarFotoPerfil", "MiPerfil", new {area = "Mobile"})" title="Editar imagen" class="icono_camara multimarca-background-color"></a>
                <div class="contenedor_foto_consultora">
                    <img src="@ViewBag.FotoPerfil" class="ImageLoadPhotoUser" onerror="this.onerror=null; this.src='@Url.Content("~/Content/Images/icono_avatar.svg")'" alt="Imagen Consultora" />
                </div>
            </div>
            <div class="datos_consultora">
                <div class="nombre_consultora text-center text-bold">
                    @Model.NombreCompleto
                </div>
                <div class="datos_codigo_y_zona">
                    <input type="hidden" id="hdn_CorreoMD" value="@Model.EMail" />
                    <input type="hidden" id="hdn_CodigoUsuarioMD" value="@Model.CodigoUsuario" />
                    <input type="hidden" id="hdn_CodigoUsuarioReal" value="@Model.CodigoUsuarioReal" />
                    <input type="hidden" id="hdn_NombreCompletoMD" value="@Model.NombreCompleto" />
                    <input type="hidden" id="hdn_NombreArchivoContratoMD" value="@Model.NombreArchivoContrato" />
                    <input type="hidden" id="hdn_CaracterMinimo" value="@Model.limiteMinimoTelef" />
                    <input type="hidden" id="hdn_CaracterMaximo" value="@Model.limiteMaximoTelef" />
                    <input type="hidden" id="hdn_ServicioSMS" value="@Model.ServiceSMS" />
                    <input type="hidden" id="hdn_PuedeActualizar" value="@Model.ActualizaDatos" />
                    <input type="hidden" id="hdn_enlaceTerminosCondiciones" value="@ViewBag.UrlPdfTerminosyCondiciones" />
                    <input type="hidden" id="hdn_iniciaNumero" value="@Model.IniciaNumeroCelular" />
                    <input type="hidden" id="hdn_PaisID" value="@Model.PaisID" />
                    @{
                        var TieneDireEntrega = Model.TieneDireccionEntrega ? "1" : "0";
                        var TienePermiCuenta = Model.TienePermisosCuenta ? "1" : "0";
                    }
                    <input type="hidden" id="hdn_TienedireccionEntrega" value="@TieneDireEntrega" />
                    <input type="hidden" id="hdn_TienePermisosCuenta" value="@TienePermiCuenta" />
                    @*INI HD-3897*@
                    <input type="hidden" id="hdn_FlgCheckSMS" value="@Model.FlgCheckSMS" />
                    <input type="hidden" id="hdn_FlgCheckEMAIL" value="@Model.FlgCheckEMAIL" />
                    @{
                        var EditarDatos = Model.PaisISO != Constantes.CodigosISOPais.Colombia ? "1" : "0";
                    }

                    <input type="hidden" id="hdn_EditarDatos" value="@EditarDatos" />
                    <input type="hidden" id="hdn_PuedeConfirmarAllEmail" value="@Model.PuedeConfirmarAllEmail" />
                    <input type="hidden" id="hdn_PuedeConfirmarAllSms" value="@Model.PuedeConfirmarAllSms" />
                    @*FIN HD-3897*@
                    <div class="datos_codigo w-50 text-left">
                        <span class="text-left text-bold">Código : </span>
                        @if (Model.DigitoVerificador != null && ViewBag.PaisesDigitoControl.Contains(Model.PaisISO))
                        {<span class="text-right text-bold">@Model.CodigoUsuario - <span class="text-bold">@Model.DigitoVerificador</span></span>}
                    else
                    { <span class="text-bold">@Model.CodigoUsuario</span>}
                    </div>

                    <div class="datos_zona w-50 text-right">
                        <span class="text-left text-bold">Zona : </span>
                        <span class="text-right text-bold">@Model.Zona</span>
                    </div>
                </div>
                @if (Model.NombreGerenteZonal != "" && Model.IndicadorConsultoraDigital == 0)
                {
                    <div class="datos_gerente_zona">
                        <span class="text-left text-bold">Gerente de zona : </span>
                        <span class="text-right text-bold pull-right">@Model.NombreGerenteZonal</span>
                        <div class="clear"></div>
                    </div>
                }
                @*<a href="@Url.Action("CambiarContrasenia", "MiPerfil", new {area = "Mobile"})" title="Cambiar contraseña" class="enlace_cambiar_contrasenia_consultora text-center text-bold text-uppercase">
                    <span class="icono_cambio_password"></span>
                    <span class="enlace_texto">Cambiar contraseña</span>
                </a>*@
            </div>
        </div>
    </section>

    @*INI EINCA HD-3180 Y HD-3304 15-01-2019*@
    @if (Model.PaisID == Constantes.PaisID.Colombia)
    {
        <section>
            <div style="display:flex; display:-webkit-flex;display:-ms-flexbox; flex-direction:row; justify-content:center;padding-left:5px;">
                <span style="padding-right:.5rem;">
                    <img style="width:30px;margin-top:.5rem;" src="@Url.Content("~/Content/Images/icono_advertencia_consultora_registrada_coach.png")" />
                </span>
                <span style="color:#e81c36;font-weight:bold;font-size:15px;margin-bottom:15px;">
                    Modifica tus datos comunicándote al 5948060 en Bogotá y 018000937452 a nivel nacional.
                </span>
            </div>

        </section>
    }
    @*FIN EINCA HD-3180 Y HD-3304 15-01-2019*@

    <section class="form_cambio_datos">
        <div class="wrapper_content_mi_perfil">
            <div class="opciones_mi_perfil">

                @foreach (var subitem in Model.PermisoMenu)
                {
                    if (subitem == "MIS DATOS")
                    {
                        <div class="opcion_mi_perfil opcion_mis_datos mostrarContenido">
                            <div class="opcion_mi_perfil_titulo">
                                <span class="icono_mis_datos">
                                    <img src="@Url.Content("~/Content/Images/icono_mis_datos.svg")" alt="Mis Datos" />
                                </span>
                                <span class="opcion_mi_perfil_titulo_texto text-bold text-uppercase">
                                    Mis datos
                                </span>
                                <span class="icono_flecha_despliegue_contenido_mi_perfil">
                                    <img src="@Url.Content("~/Content/Images/flecha_despliegue_opcion_mi_perfil.svg")" alt="" />
                                </span>
                            </div>
                            <div class="opcion_mi_perfil_contenido">
                                <div class="grupo_form_cambio_datos">
                                    <div>
                                        <input id="txtSobrenombreMD" name="txtSobrenombreMD" class="w-100" type="text" onkeypress="return FuncionesGenerales.ValidarSoloLetrasYNumeros(event)" value="@Model.Sobrenombre" maxlength="80" />
                                        <label for="txtSobrenombreMD" class="w-100">¿Cómo quieres que te llamemos?</label>
                                    </div>
                                </div>
                                <div class="grupo_form_cambio_datos">
                                    <div>
                                        <input id="txtContrasenia" name="txtContrasenia" class="w-100" type="password" value="" />
                                        <label for="txtContrasenia" class="w-100">Contraseña</label>
                                    </div>
                                    <div>
                                        <a href="@Url.Action("CambiarContrasenia", "MiPerfil", new {area = "Mobile"})" title="Cambiar contraseña" class="d-block enlace_cambiar_dato text-center">
                                            <span class="icono_cambiar_dato">
                                                <img src="@Url.Content("~/Content/Images/icono_cambiar_dato.svg")" alt="Editar" />
                                            </span>
                                            <span class="text-bold">Editar</span>
                                        </a>
                                    </div>
                                </div>
                                <!-- INICIO
                                    Cuando la consultora no tenga registrado o esté pendiente de confirmación un correo electrónico agregar clase grupo_form_cambio_datos--confirmacionPendiente,
                                    si el campo ya está confirmado quitar clase grupo_form_cambio_datos--confirmacionPendiente
                                    y agregar clase grupo_form_cambio_datos--confirmado
                                -->
                                <div id="grupo_form_cambio_datos_email" class="grupo_form_cambio_datos">
                                    <div>
                                        <input id="txtEMailMD" name="txtEMailMD" class="w-100" type="text" value="@Model.EMail" readonly />
                                        <label for="txtEMailMD" class="w-100">
                                            Correo Electrónico
                                            @if (Model.PaisID != 3)
                                            {
                                                <span class="asteriscos">*</span>
                                            }
                                        </label>
                                        <!-- INICIO - Este el mensaje de validación que se muestra si la consultora no tiene registrado o está pendiente de confirmación un correo electrónico -->
                                        <span class="d-block text-bold mensaje_validacion_campo" style="display:none;">Aún falta confirmar tu correo</span>
                                        <!-- FIN - Este el mensaje de validación que se muestra si la consultora no tiene registrado o está pendiente de confirmación un correo electrónico -->
                                    </div>
                                    <div id="grupo_form_cambio_datos_email_opcionemail">
                                        <a href="@Url.Action("ActualizarCorreo", "MiPerfil", new { area = "Mobile" })" title="Cambiar" class="d-block enlace_cambiar_dato text-center">
                                            <span class="icono_cambiar_dato">
                                                <img src="@Url.Content("~/Content/Images/icono_cambiar_dato.svg")" alt="Editar" />
                                            </span>
                                            <span class="text-bold">Editar</span>
                                        </a>
                                        <!-- INICIO - Este botón aparece cuando la consultora tiene pendiente confirmar su correo electrónico -->
                                        <button id="btn_confirmar_dato_email" type="button" style="display:none;" class="d-block text-bold border-radius-4 multimarca-background-color btn_confirmar_dato"
                                                 onclick="location.href='@Url.Action("ConfirmarCorreo", "MiPerfil", new { area = "Mobile" })'">
                                            Confirmar
                                        </button>
                                        <!-- FIN - Este botón aparece cuando la consultora tiene pendiente confirmar su correo electrónico -->
                                    </div>
                                </div>
                                <!-- FIN -->
                                <!-- INICIO
                                    Cuando la consultora no tenga registrado o esté pendiente de confirmación un número de celular agregar clase grupo_form_cambio_datos--confirmacionPendiente,
                                    si el campo ya está confirmado quitar clase grupo_form_cambio_datos--confirmacionPendiente
                                    y agregar clase grupo_form_cambio_datos--confirmado
                                -->
                                <div id="grupo_form_cambio_datos_sms" class="grupo_form_cambio_datos">
                                    <div>
                                        <input id="txtCelularMD" name="txtCelularMD" class="w-100" type="tel" value="@Model.Celular" maxlength="@Model.limiteMaximoTelef" />
                                        <label for="txtCelularMD" class="w-100">Celular <span class="asteriscos">*</span></label>
                                        <!-- INICIO - Este el mensaje de validación que se muestra si la consultora no tiene registrado o está pendiente de confirmación un número de celular -->
                                        <span class="d-block text-bold mensaje_validacion_campo" style="display:none;">Aún falta confirmar tu número</span>
                                        <!-- FIN - Este el mensaje de validación que se muestra si la consultora no tiene registrado o está pendiente de confirmación un número de celular -->
                                    </div>
                                    <div id="grupo_form_cambio_datos_sms_opcionsms">
                                        <a id="btnCambiarCelular" href="@Url.Action("ActualizarCelular", "MiPerfil", new { area = "Mobile" })" title="Cambiar" class="d-block enlace_cambiar_dato text-center">
                                            <span class="icono_cambiar_dato">
                                                <img src="@Url.Content("~/Content/Images/icono_cambiar_dato.svg")" alt="Editar" />
                                            </span>
                                            <span class="text-bold">Editar</span>
                                        </a>
                                        <!-- INICIO - Este botón aparece cuando la consultora tiene pendiente confirmar su celular -->
                                        <button id="btn_confirmar_dato_sms"  type="button" style="display:none;" class="d-block text-bold border-radius-4 multimarca-background-color btn_confirmar_dato"
                                                onclick="location.href='@Url.Action("ConfirmarCelular", "MiPerfil", new { area = "Mobile" })'">
                                            Confirmar
                                        </button>
                                        <!-- FIN - Este botón aparece cuando la consultora tiene pendiente confirmar su celular -->
                                    </div>
                                </div>
                                <!-- FIN -->
                                <div class="grupo_form_cambio_datos">
                                    <div>
                                        <input id="txtTelefonoMD" name="txtTelefonoMD" class="w-100" type="tel" value="@Model.Telefono" maxlength="@Model.limiteMaximoTelef" />
                                        <label for="txtTelefonoMD" class="w-100">
                                        Número fijo
                                        <!-- INI HD-3897 -->
                                        @*@if (Model.PaisID != 3)
                                        {
                                            <span class="asteriscos">*</span>
                                        }*@
                                        <!-- FIN HD-3897 -->
                                        </label>
                                    </div>
                                </div>
                                <div class="grupo_form_cambio_datos">
                                    <a href="#" title="Agregar otro número" class="enlace_agregar_num_adicional">
                                        <span class="icono_agregar_num_adicional"></span>
                                        <span class="enlace_texto text-bold text-uppercase">Agregar otro número</span>
                                    </a>
                                    <div class="contenedor_campos_num_adicional w-100" style="display:none;">
                                        <div>
                                            <input id="txtTelefonoTrabajoMD" name="txtTelefonoTrabajoMD" class="w-100" type="tel" value="@Model.TelefonoTrabajo" maxlength="@Model.limiteMaximoTelef" />
                                            <label for="txtTelefonoTrabajoMD" class="label_num_adicional w-100">Número adicional</label>
                                        </div>
                                        <a href="#" title="Cambiar" class="enlace_eliminar_numero_adicional w-11 text-right">
                                            <span class="icono_eliminar_numero_adicional"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }

                @if (Model.TieneDireccionEntrega)
                {
                    <div class="opcion_mi_perfil opcion_direccion_entrega" id="SeccionDireccionEntrega">
                        <div class="opcion_mi_perfil_titulo">
                            <span class="icono_mis_datos">
                                <img src="@Url.Content("~/Content/Images/icono_ubicacion.svg")" alt="Dirección de entrega" />
                            </span>
                            <span class="opcion_mi_perfil_titulo_texto text-bold text-uppercase">
                                Dirección de entrega
                            </span>
                            <span class="icono_flecha_despliegue_contenido_mi_perfil">
                                <img src="@Url.Content("~/Content/Images/flecha_despliegue_opcion_mi_perfil.svg")" alt="" />
                            </span>
                        </div>
                        <div class="opcion_mi_perfil_contenido">
                            <div class="grupo_form_cambio_datos">
                                <div>
                                    @Html.DropDownListFor(model => model.DireccionEntrega.Ubigeo1, new SelectList(Model.DireccionEntrega.DropDownUbigeo1, "IdParametroUnete", "Nombre"), "--Seleccionar", new { id = "Ubigeo1", Nivel = 6, @class = "w-100", ItemChange = "0" })
                                    <label for="Ubigeo1" class="w-100">Región <span class="asteriscos">*</span></label>
                                </div>
                            </div>
                            <div class="grupo_form_cambio_datos">
                                <div>
                                    <select id="Ubigeo2" name="Ubigeo2" class="w-100" Nivel=7></select>
                                    <label for="Ubigeo2" class="w-100">Comuna <span class="asteriscos">*</span></label>
                                </div>
                            </div>
                            <div class="grupo_form_cambio_datos grupo_form_cambio_datos_campo_direccion">
                                <div>
                                    @Html.TextBoxFor(x => x.DireccionEntrega.Direccion, new { @class = "w-100", id = "Direccion", placeholder = "Ingresa y selecciona tu dirección" })
                                    <label for="Direccion" class="w-100">
                                        Dirección <span class="asteriscos">*</span>
                                    </label>
                                    <a class="enlace_abrir_mapa" title="Abrir Mapa">
                                    </a>
                                </div>
                            </div>
                            <div class="grupo_form_cambio_datos grupo_form_cambio_datos_campo_direccion">
                                <div>
                                    @Html.TextBoxFor(x => x.DireccionEntrega.Zona, new { @class = "w-100", id = "Zona", maxlength = "400", placeholder = "Ejm: Edificio San Ramón" })
                                    <label for="Zona" class="w-100">
                                        Zona / N° de Departamento / Calle / Interior
                                        @if (Model.PaisID != 3)
                                        {
                                            <span class="asteriscos">*</span>
                                        }
                                    </label>
                                </div>
                            </div>
                            <div class="grupo_form_cambio_datos">
                                <div>
                                    @Html.TextBoxFor(x => x.DireccionEntrega.Referencia, new { @class = "w-100 campo_referencia", id = "Referencia", maxlength = "400", placeholder = "Información adicional" })
                                    <label for="Referencia" class="w-100">
                                        Referencia
                                    </label>
                                </div>
                                @Html.HiddenFor(m => m.DireccionEntrega.Latitud, new { id = "Latitud" })
                                @Html.HiddenFor(m => m.DireccionEntrega.Longitud, new { id = "Longitud" })
                                @Html.HiddenFor(m => m.DireccionEntrega.Operacion, new { id = "Operacion" })
                                @Html.HiddenFor(m => m.DireccionEntrega.DireccionEntregaID, new { id = "DireccionEntregaID" })
                            </div>
                        </div>
                    </div>
                }
            </div>
            @if (Model.UsuarioOpciones.Count() > 0)
            {
                <div class="permisos_cuenta_wrapper">
                    <div class="permisos_cuenta_titulo">
                        Permisos sobre tu cuenta :
                    </div>
                    <div class="permisos_cuenta_opciones divCheckbox">
                        @foreach (var item in Model.UsuarioOpciones)
                        {
                            <div class="permiso_cuenta_opcion">
                                <div class="permiso_cuenta_opcion_descripcion">
                                    @item.Opcion
                                    <span class="d-block">@item.Descripcion</span>
                                </div>
                                <div class="grupo_form_permiso_cuenta">
                                    <input class="permiso_cuenta_opcion_checkbox" type="checkbox" data-tipoOpcion="@item.OpcionesUsuarioId" name="@item.Codigo" id="@item.Codigo" checked="@item.CheckBox" />
                                    <label for="@item.Codigo" class="permiso_cuenta_opcion_label"></label>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
            <div class="grupo_input_actualizarMisDatos campos_actualizarDatos terminos_y_condiciones_wrapper pt-31">
                <div class="checkbox_condiciones_wrapper w-100">
                    <div class="checkbox_condiciones_descripcion">
                        <span class="asterisco_actualizar_datos">(*)&nbsp;</span>
                        Estoy de acuerdo con los <span><a href="javascript:;" id="hrefTerminosMD" target="_blank">términos y condiciones</a></span> sobre Protección de datos personales
                    </div>
                    <div class="grupo_form_checkbox_condiciones">
                        <input class="checkbox_condiciones_checkbox" type="checkbox" name="chkAceptoContratoMD" id="chkAceptoContratoMD" />
                        <label for="chkAceptoContratoMD" class="checkbox_condiciones_label"></label>
                    </div>
                </div>
            </div>
            @if (Model.PaisID == Constantes.PaisID.Colombia)
            {

                @*<div class="datos_obligatorios" style="margin-bottom: 20px;">
                    Modifica tus datos comunicándote al 5948060 en Bogotá y 018000937452 a nivel nacional.
                </div>*@
                <button type="button" class="d-block w-100 border-radius-4 text-bold btn_primario btn_primario--miPerfil" id="btnActualizarMD">
                    Aceptar
                </button>
            }
            else
            {
                <div class="datos_obligatorios" style="margin-bottom: 42px;">
                    <span class="asterisco_actualizar_datos">(*)&nbsp;</span>Datos obligatorios
                </div>
                <button id="btnGuardar" type="button" class="d-block w-100 border-radius-4 text-bold btn_primario btn_primario--miPerfil">
                    Guardar
                </button>
            }
        </div>

    </section>
</div>
<!-- POPUP MAPA -->
<div class="fondo_popup_ubicacion_direccion_entrega">
    <div class="popup_ubicacion_direccion_entrega">
        <div class="popup_ubicacion_direccion_entrega_cabecera">
            <a id="CerrarPopupUbicacionDireccionEntrega" class="enlace_cerrar_popup_ubicacion_direccion_entrega">
                <img src="@Url.Content("~/Content/Images/icono-cerrar-popup-inscripcion.svg")" alt="" />
            </a>
            <h3 class="popup_ubicacion_direccion_entrega_titulo">
                Verifica tu ubicación
            </h3>
            <p class="popup_ubicacion_direccion_texto">
                Puedes mover el marcador y el mapa para editar tu ubicación :
            </p>
            <p class="popup_ubicacion_direccion_elegida">
                <span class="icono_ubicacion_direccion_elegida">
                    <img src="@Url.Content("~/Content/Images/icono_ubicacion_blanco.svg")" alt="" />
                </span>
                <span id="RouteDirection" class="texto_ubicacion_direccion_elegida">Óvalo Gutiérrez, Miraflores, Perú</span>
            </p>
        </div>
        <div class="popup_ubicacion_direccion_entrega_contenido">
            <div class="mapa_wrapper">
            </div>
            <button type="button" class="confirmar_ubicacion_direccion_entrega text-uppercase" id="btnConfirmarUbicacionDireccionEntrega">
                Confirmar
            </button>
        </div>
    </div>

</div>
<!-- FIN - POPUP MAPA -->

@section scripts{
    <script>

        var ZoonMapa = 17;
        var LocationCountry = '@ViewBag.LocationCountry';
        var EsMobile = '@ViewBag.EsMobile' == 'True' ? '1' : '0';
        var UrlDrop = '@Url.Action("ObtenerUbigeoDependiente")';
        @if (Model.TieneDireccionEntrega)
        {
            @:var Ubigeos = { Ubigeo1: '@Model.DireccionEntrega.Ubigeo1', Ubigeo2: '@Model.DireccionEntrega.Ubigeo2', Ubigeo3 :'@Model.DireccionEntrega.Ubigeo3'};
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?client=gme-cetcosa&v=weekly&callback=initMapa&libraries=places,directions"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/MiPerfil/Index.js")?v=4"></script>
}
