@using Portal.Consultoras.Common;
@using System.Configuration;

@model Portal.Consultoras.Web.Models.LoginChatbot.LoginChatbotModel
@{
    ViewBag.Title = "Login Chatbot";
}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <link id="css-main" href="@Url.Content("~/Content/Css/Site/LoginChatbot.css")" rel="stylesheet" type="text/css" />
        @RenderSection("styles", required: false)
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700italic,300,700,900" rel="stylesheet" type="text/css" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="SomosBelcorp Web Mobile" />

        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.11.2.js")"></script>
        <script type="text/javascript">
            var cssMainEsika = '@Url.Content("~/Content/Css/Site/LoginChatbot.css")';
            var cssMainLbel = '@Url.Content("~/Content/Css/Site/LoginChatbot_lbel.css")';

            var urlBotmakerChat = '@Model.UrlBotmakerChat';
            var urlBotmakerLoginNormal = 'https://go.botmaker.com/rest/webviews/traditionalLogin';
            var urlBotmakerLoginFacebook = 'https://go.botmaker.com/rest/webviews/fbConnect';
            var urlFormatImagenBandera = 'url(@Url.Content("~/Content/Images/Login2/Banderas/{0}.png"))';

            var tokenBotmaker = '@Model.TokenBotmaker';
            var webViewFallBack = ('@Model.WebViewFallBack'.toLowerCase() == 'true');
            var paisesEsika = '@Model.PaisesEsika';

            var listTooltipUsuario = {
                'BO': '@Html.Raw(Constantes.TooltipLoginUsuario.BO.Replace("<br/>"," "))',
                'CL': '@Html.Raw(Constantes.TooltipLoginUsuario.CL.Replace("<br/>", " "))',
                'CO': '@Html.Raw(Constantes.TooltipLoginUsuario.CO.Replace("<br/>", " "))',
                'CR': '@Html.Raw(Constantes.TooltipLoginUsuario.CAM.Replace("<br/>", " "))',
                'DO': '@Html.Raw(Constantes.TooltipLoginUsuario.DO.Replace("<br/>", " "))',
                'EC': '@Html.Raw(Constantes.TooltipLoginUsuario.EC.Replace("<br/>", " "))',
                'GT': '@Html.Raw(Constantes.TooltipLoginUsuario.CAM.Replace("<br/>", " "))',
                'MX': '@Html.Raw(Constantes.TooltipLoginUsuario.MX.Replace("<br/>", " "))',
                'PA': '@Html.Raw(Constantes.TooltipLoginUsuario.PA.Replace("<br/>", " "))',
                'PE': '@Html.Raw(Constantes.TooltipLoginUsuario.PE.Replace("<br/>", " "))',
                'PR': '@Html.Raw(Constantes.TooltipLoginUsuario.PR.Replace("<br/>", " "))',
                'SV': '@Html.Raw(Constantes.TooltipLoginUsuario.CAM.Replace("<br/>", " "))',
                'VE': '@Html.Raw(Constantes.TooltipLoginUsuario.VE.Replace("<br/>", " "))'
            };
            var listTooltipPassword = {
                'BO': '@Html.Raw(Constantes.TooltipLoginPassword.BO.Replace("<br/>", " "))',
                'CL': '@Html.Raw(Constantes.TooltipLoginPassword.CL.Replace("<br/>", " "))',
                'CO': '@Html.Raw(Constantes.TooltipLoginPassword.CO.Replace("<br/>", " "))',
                'CR': '@Html.Raw(Constantes.TooltipLoginPassword.CAM.Replace("<br/>", " "))',
                'DO': '@Html.Raw(Constantes.TooltipLoginPassword.DO.Replace("<br/>", " "))',
                'EC': '@Html.Raw(Constantes.TooltipLoginPassword.EC.Replace("<br/>", " "))',
                'GT': '@Html.Raw(Constantes.TooltipLoginPassword.CAM.Replace("<br/>", " "))',
                'MX': '@Html.Raw(Constantes.TooltipLoginPassword.MX.Replace("<br/>", " "))',
                'PA': '@Html.Raw(Constantes.TooltipLoginPassword.CAM.Replace("<br/>", " "))',
                'PE': '@Html.Raw(Constantes.TooltipLoginPassword.PE.Replace("<br/>", " "))',
                'PR': '@Html.Raw(Constantes.TooltipLoginPassword.PR.Replace("<br/>", " "))',
                'SV': '@Html.Raw(Constantes.TooltipLoginPassword.CAM.Replace("<br/>", " "))',
                'VE': '@Html.Raw(Constantes.TooltipLoginPassword.VE.Replace("<br/>", " "))'
            };
        </script>
        @RenderSection("scripts", required: false)
        <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/LoginChatbot/Main.js")"></script>

        <script type="text/javascript" id="Messenger" src="https://connect.facebook.com/en_US/messenger.Extensions.js"></script>
        @RenderSection("facebookScripts", required: false)
    </head>
    <body>
        <div class="wrapper_chatbot">
            @RenderBody()
        </div>

        @Html.Partial("~/Areas/Mobile/Views/Shared/VistaParcialMobileLayout/_vpLoadingMobile.cshtml")
        @*<div class="content-spinner2" id="loading-spin">
            <div class="busy-loader">
                <div class="w-ball-wrapper ball-1">
                    <div class="w-ball"></div>
                </div>
                <div class="w-ball-wrapper ball-2">
                    <div class="w-ball"></div>
                </div>
                <div class="w-ball-wrapper ball-3">
                    <div class="w-ball"> </div>
                </div> <div class="w-ball-wrapper ball-4">
                    <div class="w-ball"> </div>
                </div>
                <div class="w-ball-wrapper ball-5">
                    <div class="w-ball"> </div>
                </div>
            </div>
        </div>*@

        <div id="popupInformacionSB2Error" class="MensajeAlertaMobile" style="display:none;">
            <div class="content_mensajeAlerta">
                <a class="cerrar_popMobile" href="javascript:;" onclick="javascript: $('#popupInformacionSB2Error').hide();">
                    <img src="/Content/Images/mobile/Esika/cerrar_04.png" alt="-">
                </a>
                <hr class="clear">
                <div class="icono_alerta exclamacion_icono_mobile"></div>
                <div class="titulo_compartir"><b>ERROR</b></div>
                <div id="mensajeInformacionSB2_Error" class="mensaje_alerta"></div>
                <a href="javascript:;" onclick="$('#popupInformacionSB2Error').hide();" class="btn_ok_mobile"><b>OK</b></a>
            </div>
        </div>
    </body>
</html>