@model Portal.Consultoras.Web.Models.AdministrarBelcorpRespondeModel
@{
    ViewBag.Title = "Administración Belcorp Responde";
}

<script type="text/javascript">
    jQuery(document).ready(function () {
        $("#btnGuardar").click(function () { GuardarDatos(); });
        $("#ddlPais").change(function () { CargarDatos(); });
    });

    function GuardarDatos() {
        var item = {
            PaisID: $("#ddlPais").val(),
            Telefono1: $("#txtTelefono1").val(),
            Telefono2: $("#txtTelefono2").val(),
            Escribenos: $("#txtEscribenos").val(),
            EscribenosURL: $("#txtEscribenosURL").val(),
            Correo: $("#txtCorreo").val(),
            CorreoBcc: $("#txtCorreoBcc").val(),
            Chat: $("#txtChat").val(),
            ChatURL: $("#txtChatURL").val(),
            ParametroPais: $("#chkParametroPais")[0].checked,
            ParametroCodigoConsultora: $("#chkParametroCodigoConsultora")[0].checked
        };

        if ($('#txtEscribenosURL').val() != "") {
            if (!ValidaURL(jQuery.trim($('#txtEscribenosURL').val()))) {
                alert('El Formato de Url de la sección Escribenos es incorrecto.');
                $('#txtUrl').focus();
                return false;
            }
        }

        if ($('#txtChatURL').val() != "") {
            if (!ValidaURL(jQuery.trim($('#txtChatURL').val()))) {
                alert('El Formato de Url de la sección Escribenos es incorrecto.');
                $('#txtUrl').focus();
                return false;
            }
        }

        if ($('#txtCorreo').val() != "") {
            if (!ValidaEmail(jQuery.trim($('#txtCorreo').val()))) {
                alert('El Formato de Correo de la sección Escribenos es incorrecto.');
                $('#txtCorreo').focus();
                return false;
            }
        }

        if ($('#txtCorreoBcc').val() != "") {
            if (!ValidaEmail(jQuery.trim($('#txtCorreoBcc').val()))) {
                alert('El Formato de CorreoBcc de la sección Escribenos es incorrecto.');
                $('#txtCorreoBcc').focus();
                return false;
            }
        }

        waitingDialog({});

        jQuery.ajax({
            type: 'POST',
            url: baseUrl + 'AdministrarBelcorpResponde/Registrar',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(item),
            async: true,
            success: function (data) {
                if (checkTimeout(data)) {
                    closeWaitingDialog();
                    if (data.success == true) {
                        alert(data.message);
                        closeWaitingDialog();
                    }
                    else {
                        alert(data.message);
                    }
                }
            },
            error: function (data, error) {
                if (checkTimeout(data)) {
                    closeWaitingDialog();
                    alert(data.message);
                }
            }
        });

        return false;
    }

    function CargarDatos() {
        waitingDialog({});
        if ($("#ddlPais").val() == "") {
            $("#frmDatos")[0].style['display'] = "none";
            closeWaitingDialog();
        }
        else {
            LimpiarFormulario();

            var item = {
                PaisID: $("#ddlPais").val()
            };
            jQuery.ajax({
                type: 'POST',
                url: baseUrl + 'AdministrarBelcorpResponde/Consultar',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(item),
                async: true,
                success: function (data) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        if (data.success == true) {
                            if (data.cantidad == 0) {
                                LimpiarFormulario();
                            }
                            else {
                                $("#txtTelefono1").val(data.lista[0].Telefono1);
                                $("#txtTelefono2").val(data.lista[0].Telefono2);
                                $("#txtEscribenos").val(data.lista[0].Escribenos);
                                $("#txtEscribenosURL").val(data.lista[0].EscribenosURL);
                                $("#txtCorreo").val(data.lista[0].Correo);
                                $("#txtCorreoBcc").val(data.lista[0].CorreoBcc);
                                $("#txtChat").val(data.lista[0].Chat);
                                $("#txtChatURL").val(data.lista[0].ChatURL);

                                if (data.lista[0].ParametroPais)
                                    $("#chkParametroPais")[0].checked = true;
                                else
                                    $("#chkParametroPais")[0].checked = false;

                                if (data.lista[0].ParametroCodigoConsultora)
                                    $("#chkParametroCodigoConsultora")[0].checked = true;
                                else
                                    $("#chkParametroCodigoConsultora")[0].checked = false;
                            }
                            closeWaitingDialog();
                        }
                        else {
                            alert(data.message);
                        }
                    }
                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        alert(data.message);
                    }
                }
            });

            $("#frmDatos")[0].style['display'] = "block";
        }
        return false;
    }

    function LimpiarFormulario() {
        $("#txtTelefono1").val("");
        $("#txtTelefono2").val("");
        $("#txtEscribenos").val("");
        $("#txtEscribenosURL").val("");
        $("#txtCorreo").val("");
        $("#txtCorreoBcc").val("");
        $("#txtChat").val("");
        $("#txtChatURL").val("");
        $("#chkParametroPais")[0].checked = false;
        $("#chkParametroCodigoConsultora")[0].checked = false;
    }

    function ValidaURL(url) {
        var regex = /^(ht|f)tps?:\/\/\w+([\.\-\w]+)?\.([a-z]{2,4}|travel)(:\d{2,5})?(\/.*)?$/i;

        var regex = /^(https?|ftp):\/\/[^\/\s]+(\/.*)?$/;

        return regex.test(url);
    }

    function ValidaEmail(email) {
        var regex = /^([\w-]+(?:\.[\w-]+)*)@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;

        return regex.test(email);
    }

</script>
<div class="wrap_cab">
    <div class="filtros">
        <div class="elements">
            <div class="div-2">
                <h1>Administrar <span>Belcorp Responde</span></h1>
            </div>
            <div class="div-3">
                <div class="titG">País:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.lstPais, "PaisID", "Nombre", Model.PaisID), "-- Seleccionar --", new { id = "ddlPais", @disabled = "disabled" })
                </div>
            </div>
            <div style="" id="frmDatos">
                <div class="border-wrapper_reg" style="padding: 9px 0px 0px 0px; margin-bottom: 9px;">
                    <div class="div-3">
                        <div class="titG">Teléfono 1:</div>
                        <div class="selectA borde_redondeado">
                            @Html.TextBoxFor(model => model.Telefono1, new { id = "txtTelefono1" })
                        </div>
                        <div class="titG">Teléfono 2:</div>
                        <div class="selectA borde_redondeado">
                            @Html.TextBoxFor(model => model.Telefono2, new { id = "txtTelefono2" })
                        </div>
                    </div>
                    <div class="div-3">
                        <div class="titG">Escríbenos:</div>
                        <div class="selectA borde_redondeado">
                            @Html.TextBoxFor(model => model.Escribenos, new { id = "txtEscribenos" })
                        </div>
                        <div class="titG">Url:</div>
                        <div class="selectA borde_redondeado">
                            @Html.TextBoxFor(model => model.EscribenosURL, new { id = "txtEscribenosURL" })
                        </div>
                    </div>
                </div>
                <div class="border-wrapper_reg" style="padding: 9px 0px 0px 0px; margin-bottom: 9px;">
                    <div class="div-3">
                        <div class="titG">Correo:</div>
                        <div class="selectA borde_redondeado">
                            @Html.TextBoxFor(model => model.Correo, null, new { id = "txtCorreo" })
                        </div>
                        <div class="titG">Correo Bcc:</div>
                        <div class="selectA borde_redondeado">
                            @Html.TextBoxFor(model => model.CorreoBcc, null, new { id = "txtCorreoBcc" })
                        </div>
                    </div>
                </div>
                <div class="border-wrapper_reg" style="padding: 9px 0px 0px 0px; margin-bottom: 9px;">
                    <div class="div-3">
                        <div class="titG">Chat Online:</div>
                        <div class="selectA borde_redondeado">
                            @Html.TextBoxFor(model => model.Chat, new { id = "txtChat" })
                        </div>
                        <div class="titG">Url:</div>
                        <div class="selectA borde_redondeado">
                            @Html.TextBoxFor(model => model.ChatURL, new { id = "txtChatURL" })
                        </div>
                    </div>
                    <div class="div-3">
                        <div class="titG line_height">Parámetro País:</div>
                        <div class="titAuto" style="width: 250px; text-align: left;">
                            @Html.CheckBoxFor(model => model.ParametroPais, new { id = "chkParametroPais" })
                            <span id="TextoParametroPais">Enviar Parámetro</span>
                        </div>
                        <div class="titG line_height">Parámetro Código:</div>
                        <div class="titAuto">
                            @Html.CheckBoxFor(model => model.ParametroCodigoConsultora, new { id = "chkParametroCodigoConsultora" })
                            <span id="TextoParametroCodigoConsultora">Enviar Parámetro</span>
                        </div>
                    </div>
                </div>
                <div class="div-3">
                    <div class="titG"></div>
                    <div class="input_search">
                        <input type="button" value="Guardar" id="btnGuardar">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="loadingScreen"></div>