@using System.Configuration
@using Portal.Consultoras.Common

@model Portal.Consultoras.Web.Models.EstrategiaPersonalizadaModel
@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayoutContenedor.cshtml";
}
@section styles{
<link href="@Url.Content("~/Content/Css/Site/slick.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Css/Site/jquery.rateyo.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Css/Mobile/esika/revistaDigital.css")" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<style>
    section {
        font-family: 'Lato', sans-serif !important;
        font-size: 13px;
    }
</style>

    <style>
        .content_carrusel_landing-fix{
            margin-top:0;
        }
        .titulo h2 {
            font-weight: bolder;
            letter-spacing: 1px;
            font-size: 20px;
            text-align: left;
            text-transform: uppercase;
            padding: 3% 10%;
            margin-bottom: 0;
            font-family: 'Lato';
            color: #b52e36;
        }
    </style>
}
@foreach (var seccion in Model.ListaSeccion)
{
    <div data-seccion="@seccion.Codigo" 
         data-campania="@seccion.CampaniaID"
         data-url="@seccion.UrlObtenerProductos"
         data-templateProducto="@seccion.TemplateProducto"
         data-tipoPresentacion="@seccion.TipoPresentacion"
         data-tipoEstrategia="@seccion.TipoEstrategia"
         data-cantidadProductos="@seccion.CantidadProductos"
         id="@seccion.Codigo" >
        <div data-seccion-content="" class="seccion-content-contenedor">
            @Html.Partial("~/Areas/Mobile/Views/EstrategiaPersonalizada/presentacion-" + seccion.TemplatePresentacion + ".cshtml", seccion)
        </div>
        <div data-seccion-load="" class="seccion-loading-contenedor">
            <br/>
            <br/>
            <br/>
            Cargando @seccion.Titulo
            <br/>
            <img src="@Url.Content("~/Content/Images/Loading.gif")"/>
            <br/>
            <br/>
            <br/>
        </div>
    </div>
}

@Html.Partial("~/Areas/Mobile/Views/EstrategiaPersonalizada/template-producto-landing.cshtml")
@Html.Partial("~/Views/EstrategiaPersonalizada/presentacion-carrusel-previsuales-producto.cshtml")

@section scripts{
<script type="text/javascript">
    var urlLoad = '@Url.Content("~/Content/Images/loading_spinner.gif")';
    var urlOfertaCargarProductos = '@Url.Action("RDObtenerProductos", "RevistaDigital", new { area = ""})';
    var urlOfertaDetalleProducto = '@Url.Action("Detalle", "RevistaDigital", new { area = "Mobile" })';
</script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.flexslider.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/EstrategiaPersonalizada/Index.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/EstrategiaPersonalizada/EstrategiaAccion.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/EstrategiaPersonalizada/LocalStorage.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/RevistaDigital/RevistaDigital-Landing.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/RevistaDigital/RevistaDigital-DataLayer.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/RevistaDigital/RevistaDigital.js")"></script>

}