@using System.Configuration
@using Portal.Consultoras.Common

@model Portal.Consultoras.Web.Models.EstrategiaPersonalizadaModel
@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayoutContenedor.cshtml";
}
@section styles{
<link href="@Url.Content("~/Content/Css/Site/slick.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Css/Site/jquery.rateyo.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Css/Mobile/esika/revistaDigital.css")" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    
}
@foreach (var seccion in Model.ListaSeccion)
{
    <div id="@seccion.Codigo" data-seccion="@seccion.Codigo" data-campania="@seccion.CampaniaID">
        <div data-seccion-content="">
            @Html.Partial("~/Areas/Mobile/Views/EstrategiaPersonalizada/presentacion-" + seccion.TemplatePresentacion + ".cshtml", seccion)
        </div>
        <div data-seccion-load=""></div>
    </div>
}

@Html.Partial("~/Views/EstrategiaPersonalizada/template-producto-landing.cshtml")
@Html.Partial("~/Views/EstrategiaPersonalizada/presentacion-carrusel-previsuales-producto.cshtml")

@section scripts{
<script type="text/javascript">
    var urlLoad = '@Url.Content("~/Content/Images/loading_spinner.gif")';
    var urlOfertaCargarProductos = '@Url.Action("RDObtenerProductos", "RevistaDigital", new { area = ""})';
    var urlOfertaDetalleProducto = '@Url.Action("Detalle", "RevistaDigital", new { area = "Mobile" })';
</script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.flexslider.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/EstrategiaPersonalizada/Index.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/EstrategiaPersonalizada/EstrategiaAccion.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/EstrategiaPersonalizada/LocalStorage.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/RevistaDigital/RevistaDigital-Landing.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/RevistaDigital/RevistaDigital-DataLayer.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/RevistaDigital/RevistaDigital.js")"></script>

    <script>
        $(document).ready(function () {
            if ($('.bc_para_ti-menu ul li a').hasClass('activo')) {
                $('.bc_para_ti-menu ul li a.activo').find('img.hover').css('display', 'none');
                $('.bc_para_ti-menu ul li a.activo').find('img.default').css('display', 'none');
                $('.bc_para_ti-menu ul li a.activo').find('img.click-menu').css('display', 'inline');
            }
        });
    </script>
}