@model Portal.Consultoras.Web.Models.EstrategiaPersonalizadaModel

@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayoutContenedor.cshtml";
}
@section styles{

    @System.Web.Optimization.Styles.Render("~/Bundle/Css/Mobile/Ofertas")
    @System.Web.Optimization.Styles.Render("~/Bundle/Css/Mobile/Ficha")
    @if (System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika").Contains(ViewBag.PaisAnalytics))
    {
        @Styles.Render("~/Bundle/Css/Mobile/Ficha-Esika")
    }
    else
    {
        @Styles.Render("~/Bundle/Css/Mobile/Ficha-Lbel")
    }

    <style type="text/css">
        #btn_init {
            display: none !important;
        }

        #btn_open {
            display: none !important;
        }
    </style>

}


@foreach (var seccion in Model.ListaSeccion)
{
    if (Model.vc_sinProducto2 == 0)
    {

        <div data-seccion="@seccion.Codigo"
             data-campania="@seccion.CampaniaID"
             data-url="@seccion.UrlObtenerProductos"
             data-templateProducto="@seccion.TemplateProducto"
             data-tipoPresentacion="@seccion.TipoPresentacion"
             data-tipoEstrategia="@seccion.TipoEstrategia"
             data-cantidadProductos="@seccion.CantidadMostrar"
             data-OrigenPedidoWeb="@seccion.OrigenPedido"
             data-OrigenPedidoWeb-popup="@seccion.OrigenPedidoPopup"
             id="@seccion.Codigo">
            <div data-seccion-content="" class="seccion-content-contenedor">
                @Html.Partial("~/Areas/Mobile/Views/EstrategiaPersonalizada/presentacion-" + seccion.TemplatePresentacion + ".cshtml", seccion)
            </div>
            <div data-seccion-load="" class="seccion-loading-contenedor">
                <br />
                <br />
                <br />
                Cargando @seccion.Titulo
                <br />
                <img src="@Url.Content("~/Content/Images/Loading.gif")" />
                <br />
                <br />
                <br />
            </div>
        </div>


    }
}

@if (Model.vc_sinProducto2 == 1)
{
    <div class="msj_nodisponible" id="msj_nodisponible">

        <img src="https://s3.amazonaws.com/somosbelcorp/Virtual_Coach/Pruebas/bolso-triste.png" alt="Alternate Text" />
        <strong class="title_msj">                Ups… la oferta ya no está disponible            </strong>
        <p>Conoce las ofertas de esta campaña</p>

        <div>
            <a href="https://www.somosbelcorp.com/Ofertas" class="btn_send">IR A OFERTAS</a>
        </div>

    </div>

}


@Html.Partial("~/Areas/Mobile/Views/EstrategiaPersonalizada/template-producto-landing.cshtml", new ViewDataDictionary { { "TieneBotones", true } })
@Html.Partial("~/Areas/Mobile/Views/EstrategiaPersonalizada/template-producto-v2.cshtml", new ViewDataDictionary { { "TieneBotones", false } })

@Html.Partial("~/Areas/Mobile/Views/RevistaDigital/template-mensaje-bloqueado.cshtml", Model.MensajeProductoBloqueado)

@section scripts{
    <script type="text/javascript">
        var urlLoad = '@Url.Content("~/Content/Images/loading_spinner.gif")';
        var urlOfertaCargarProductos = '@Url.Action("RDObtenerProductos", "Estrategia", new { area = ""})';
        var urlCargarProductosHv = '@Url.Action("HVObtenerProductos", "Estrategia", new { area = ""})';
        var urlOfertaDetalleProducto = '@Url.Action("Detalle", "RevistaDigital", new { area = "Mobile" })';
        var urlOfertaDetalleProductoLan = '@Url.Action("Ficha", "DetalleEstrategia", new { area = "Mobile" })';
        var urlOfertaDetalleProductoTem = '@Url.Action("GuardarProductoTemporal", "Estrategia", new { area = "" })';
        var OrigenDesktopODD = 0;
        var variableEstrategia = @Html.Raw(Json.Encode(ViewBag.variableEstrategia)) || {};
    </script>
    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/Mobile/Ofertas")
}