@using Portal.Consultoras.Web.Models

@model EstrategiaPersonalizadaModel
@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayoutContenedor.cshtml";
}
@section styles{

    @System.Web.Optimization.Styles.Render("~/bundles/css/Site/ccsOfertasMobile")

    <style type="text/css">
        #btn_init {
            display: none !important;
        }

        #btn_open {
            display: none !important;
        }
    </style>

}

@foreach (var seccion in Model.ListaSeccion)
{
    <div data-seccion="@seccion.Codigo"
         data-campania="@seccion.CampaniaID"
         data-url="@seccion.UrlObtenerProductos"
         data-templateProducto="@seccion.TemplateProducto"
         data-tipoPresentacion="@seccion.TipoPresentacion"
         data-tipoEstrategia="@seccion.TipoEstrategia"
         data-cantidadProductos="@seccion.CantidadMostrar"
         data-OrigenPedidoWeb="@seccion.OrigenPedido"
         data-OrigenPedidoWeb-popup="@seccion.OrigenPedidoPopup"
         id="@seccion.Codigo">
        <div data-seccion-content="" class="seccion-content-contenedor">
            @Html.Partial("~/Areas/Mobile/Views/EstrategiaPersonalizada/presentacion-" + seccion.TemplatePresentacion + ".cshtml", seccion)
        </div>
        <div data-seccion-load="" class="seccion-loading-contenedor">
            <br />
            <br />
            <br />
            Cargando @seccion.Titulo
            <br />
            <img src="@Url.Content("~/Content/Images/Loading.gif")" />
            <br />
            <br />
            <br />
        </div>
    </div>
}

@Html.Partial("~/Areas/Mobile/Views/EstrategiaPersonalizada/template-producto-landing.cshtml", new ViewDataDictionary { { "TieneBotones", true } })
@Html.Partial("~/Views/EstrategiaPersonalizada/presentacion-carrusel-previsuales-producto.cshtml")
@Html.Partial("~/Areas/Mobile/Views/RevistaDigital/template-mensaje-bloqueado.cshtml", Model.MensajeProductoBloqueado)

@section scripts{
    <script type="text/javascript">
        var urlLoad = '@Url.Content("~/Content/Images/loading_spinner.gif")';
        var urlOfertaCargarProductos = '@Url.Action("RDObtenerProductos", "RevistaDigital", new { area = ""})';
        var urlCargarProductosHv = '@Url.Action("HVObtenerProductos", "HerramientasVenta", new { area = ""})';
        var urlOfertaDetalleProducto = '@Url.Action("Detalle", "RevistaDigital", new { area = "Mobile" })';
        var urlOfertaDetalleProductoLan = '@Url.Action("Detalle", "Lanzamientos", new { area = "Mobile" })';
        var OrigenDesktopODD = 0;
    </script>
    @System.Web.Optimization.Scripts.Render("~/bundles/JsMobile/JsSB2-Ofertas")
}