@using System.Configuration
@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Helpers

@model Portal.Consultoras.Web.Models.EstrategiaPersonalizadaModel
@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayoutContenedor.cshtml";
}
@section styles{

@System.Web.Optimization.Styles.Render("~/bundles/css/Site/ccsOfertasMobile")

}

@foreach (var seccion in Model.ListaSeccion)
{
    <div data-seccion="@seccion.Codigo"
         data-campania="@seccion.CampaniaID"
         data-url="@seccion.UrlObtenerProductos"
         data-templateProducto="@seccion.TemplateProducto"
         data-tipoPresentacion="@seccion.TipoPresentacion"
         data-tipoEstrategia="@seccion.TipoEstrategia"
         data-cantidadProductos="@seccion.CantidadMostrar"
         data-OrigenPedidoWeb="@seccion.OrigenPedido"
         data-OrigenPedidoWeb-popup="@seccion.OrigenPedidoPopup"
         id="@seccion.Codigo" >
        <div data-seccion-content="" class="seccion-content-contenedor">
            @Html.Partial("~/Areas/Mobile/Views/EstrategiaPersonalizada/presentacion-" + seccion.TemplatePresentacion + ".cshtml", seccion)
        </div>
        <div data-seccion-load="" class="seccion-loading-contenedor">
            <br/>
            <br/>
            <br/>
            Cargando @seccion.Titulo
            <br/>
            <img src="@Url.Content("~/Content/Images/Loading.gif")"/>
            <br/>
            <br/>
            <br/>
        </div>
    </div>
}

@Html.Partial("~/Areas/Mobile/Views/EstrategiaPersonalizada/template-producto-landing.cshtml")
@Html.Partial("~/Views/EstrategiaPersonalizada/presentacion-carrusel-previsuales-producto.cshtml")

<!-- AQUI LOS NUEVOS VISUALES PARA EL CARRUSEL MOBILE -->
<div class="mobile_lanzamientos_contenedor">
    
    <div class="mobile_label_lanzamientos_contenedor">
        <img src="~/Content/Images/RevistaDigital/etiqueta-club-ganamas-dorado-independiente.svg" />
    </div>
</div>
<div class="mobile_producto_lanzamientos_contenedor">
    <div class="mobile_producto_lanzamientos_sbcont">
        <img class="imgportada" src="https://s3.amazonaws.com/uploads.hipchat.com/583104/5343216/0MpYozOzq338MEB/producto-350px.png"/>
        <p class="titulo">VIBRANZA</p>
        <span class="slogan-uno">Podrás comprar este y NUEVOS PRODUCTOS</span>
        <span class="slogan-dos">¡DESDE LA C03!</span>
    </div>
</div>

<div class="mobile_lanzamientos_contenedor">

    <div class="mobile_label_lanzamientos_contenedor">
        <img src="~/Content/Images/RevistaDigital/nuevo.png" />
    </div>
</div>
<div class="mobile_producto_lanzamientos_contenedor">
    <div class="mobile_producto_lanzamientos_sbcont">
        <img class="imgportada" src="https://s3.amazonaws.com/uploads.hipchat.com/583104/5343216/0MpYozOzq338MEB/producto-350px.png" />
        <p class="titulo">VIBRANZA</p>
        <span class="slogan-uno slogan-uno-fix">REALZA TU SENSUALIDAD</span>
        <a href="#">VER PRODUCTO</a>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
    var urlLoad = '@Url.Content("~/Content/Images/loading_spinner.gif")';
    var urlOfertaCargarProductos = '@Url.Action("RDObtenerProductos", "RevistaDigital", new { area = ""})';
    var urlCargarProductosHv = '@Url.Action("HVObtenerProductos", "HerramientasVenta", new { area = ""})';
    var urlOfertaDetalleProducto = '@Url.Action("Detalle", "RevistaDigital", new { area = "Mobile" })';
    var urlOfertaDetalleProductoLan = '@Url.Action("Detalle", "Lanzamientos", new { area = "Mobile" })';
    var OrigenDesktopODD = 0;
    </script>
@System.Web.Optimization.Scripts.Render("~/bundles/JsMobile/JsSB2-Ofertas")
}