@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.CustomHelpers

@{
    ViewBag.Title = "Buscador";
    var layout = "_MobileLayoutEmpty";
    Layout = string.Format("~/Areas/Mobile/Views/Shared/{0}.cshtml", layout);
    var mobileConfiguracion = Html.MobileAppConfiguracion();
}

@section styles{

    <link href="@Url.Content("~/Content/Css/Mobile/Buscador/categorias-productos.css")" rel="stylesheet">

    @if (System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika").Contains(ViewBag.PaisAnalytics))
    {
        <link href="@Url.Content("~/Content/Css/Site/Esika/buscador-filtros.css")" rel="stylesheet">
    }
    else
    {
        <link href="@Url.Content("~/Content/Css/Site/Lbel/buscador-filtros.css")" rel="stylesheet">
    }

}

<div class="buscador_filtros_mobile">
    <a href="javascript: history.go(-1)" class="enlace_regresar_filtros" title="Buscar">
        <img src="@Url.Content("~/Content/Images/flecha_icono.svg")" alt="Buscar" />
    </a>
    <input type="search" value="" id="CampoBuscadorProductos" class="campo_buscador_filtros_mobile" placeholder="Busca ofertas" />
    <a class="enlace_busqueda_filtros" title="Buscar">
        <img src="@Url.Content("~/Content/Images/icono_lupa.svg")" alt="Buscar" />
    </a>
    <a class="opcion_limpiar_campo_busqueda_productos" title="Cerrar" style="display:none;">
        <img src="@Url.Content("~/Content/Images/icono_limpiar_busqueda.svg")" alt="Cerrar" />
    </a>
</div>

<div class="section-container mt-60">
    <div class="container-fluid d-block seccion_categorias_productos_busqueda_wrapper">
        <h3 class="d-block seccion_categorias_productos_busqueda_titulo" id="TituloCategoriaO">
            Categorías
        </h3>
        <div class="d-block listado_categorias_productos_busqueda_wrapper">
            <ul class="listado_categorias_productos_busqueda" id="CategoriaProductos">                
            </ul>
        </div>
    </div>
    <!-- LISTA DE RESULTADOS DE BÚSQUEDA MOBILE -->
    <div class="container-fluid vistaResultadosBusquedaMobile displayBlock">
        <div class="spinner">
            <img src="@Url.Content("~/Content/Images/loading_spinner.gif")" alt="" />
        </div>
        <div class="busqueda_sin_resultados displayBlock text-center">
            <div>
                <div class="icono_busqueda_sin_resultados displayBlock">
                    <img src="@Url.Content("~/Content/Images/icono_sin_resultados_busqueda.svg")" alt="" />
                </div>
                <div class="mensaje_busqueda_sin_resultados displayBlock">
                    <p class="displayBlock text-bold">
                        Ups… no tenemos ofertas<br />con este nombre.
                    </p>
                    <p class="displayBlock">
                        Vuelve a intentar.
                    </p>
                </div>
            </div>
        </div>
        <div class="row lista_resultados_busqueda_productos_mobile displayBlock" id="ResultadoBuscador">
        </div>
    </div>
    <!-- FIN - LISTA DE RESULTADOS DE BÚSQUEDA MOBILE -->
</div>

@Html.Partial("~/Views/Shared/VistaParcialMainLayout/_vpBuscadorResultado.cshtml")

@section scripts{

    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/Buscador/BuscadorProvider.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/Buscador/BuscadorModule.js")"></script>

}

    <script id="js-categoriasProductos" type="text/x-handlebars-template">
        {{#each this as |item|}}
            {{#if item.ImagenAncha}}
                <li class="categoria_producto categoria_full_width {{#iff item.Cantidad '==' 0}} categoria_sin_productos_disponibles {{/iff}}">
            {{else}}
                <li class="categoria_producto categoria_half_width {{#iff item.Cantidad '==' 0}} categoria_sin_productos_disponibles {{/iff}}">
            {{/if}}
                    <div class="categoria_producto_fondo_estado"></div>
                    <img class="d-block" src="{{item.Imagen}}" alt="{{item.Nombre}}" />
                    <a href="{{#iff item.Cantidad '>' 0}}/BusquedaProductos?c={{item.Codigo}}{{else}}#!{{/iff}}" title="{{item.Nombre}}" class="d-flex categoria_producto_enlace">
                        <span class="d-block text-bold titulo_categoria_producto_busqueda">{{item.Nombre}}</span>
                        @if (@ViewBag.FlagBuscarPorCategoriaTotalProductos == true)
                        {
                            <span class="d-block cantidad_productos_por_categoria_busqueda">{{item.Cantidad}} productos</span>
                        }
                    </a>
                </li>
        {{/each}}
    </script>

    <script>
        var boolSuscrita = '@ViewBag.boolSuscrita'.toLowerCase() === 'true';
        var FlagBuscarPorCategoria = '@ViewBag.FlagBuscarPorCategoria'.toLowerCase() === 'true';
    </script>