@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.CustomHelpers

@{
    ViewBag.Title = "Buscador";
    var layout = "_MobileLayoutEmpty";
    Layout = string.Format("~/Areas/Mobile/Views/Shared/{0}.cshtml", layout);
    var mobileConfiguracion = Html.MobileAppConfiguracion();
}

@section styles{

    <link href="@Url.Content("~/Content/Css/Mobile/Buscador/categorias-productos.css")" rel="stylesheet">

    @if (System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika").Contains(ViewBag.PaisAnalytics))
    {
        <link href="@Url.Content("~/Content/Css/Site/Esika/buscador-filtros.css")" rel="stylesheet">
    }
    else
    {
        <link href="@Url.Content("~/Content/Css/Site/Lbel/buscador-filtros.css")" rel="stylesheet">
    }

}

<div class="buscador_filtros_mobile">
    <a href="javascript: history.go(-1)" class="enlace_regresar_filtros" title="Buscar">
        <img src="@Url.Content("~/Content/Images/flecha_icono.svg")" alt="Buscar" />
    </a>
    <input type="search" value="" id="CampoBuscadorProductos" class="campo_buscador_filtros_mobile" placeholder="Busca ofertas" />
    <a class="enlace_busqueda_filtros" title="Buscar">
        <img src="@Url.Content("~/Content/Images/icono_lupa.svg")" alt="Buscar" />
    </a>
    <a class="opcion_limpiar_campo_busqueda_productos" title="Cerrar" style="display:none;">
        <img src="@Url.Content("~/Content/Images/icono_limpiar_busqueda.svg")" alt="Cerrar" />
    </a>
</div>

<div class="section-container mt-60">
    <div class="container-fluid d-block seccion_categorias_productos_busqueda_wrapper">
        <h3 class="d-block seccion_categorias_productos_busqueda_titulo">
            Categorías
        </h3>
        <div class="d-block listado_categorias_productos_busqueda_wrapper">
            <ul class="listado_categorias_productos_busqueda">

                <!-- Agregar la clase categoria_full_width a las etiquetas <li> que tengan la clase categoria_producto cuando la categoría
            vaya a ocupar todo el ancho de la vista, caso contrario si sólo ocupará la mitad agregar la clase categoria_half_width -->

                <li class="categoria_producto categoria_full_width">
                    <div class="categoria_producto_fondo_estado"></div>
                    <img class="d-block" src="@Url.Content("~/Content/Images/Buscador/categoria_fragancia.jpg")" alt="Fragancias" />
                    <a href="" title="Fragancias" class="d-flex categoria_producto_enlace">
                        <span class="d-block text-bold titulo_categoria_producto_busqueda">Fragancias</span>
                        <span class="d-block cantidad_productos_por_categoria_busqueda">60 productos</span>
                    </a>
                </li>
                <li class="categoria_producto categoria_half_width">
                    <div class="categoria_producto_fondo_estado"></div>
                    <img class="d-block" src="@Url.Content("~/Content/Images/Buscador/categoria_maquillaje.jpg")" alt="Maquillaje" />
                    <a href="" title="Maquillaje" class="d-flex categoria_producto_enlace">
                        <span class="d-block text-bold titulo_categoria_producto_busqueda">Maquillaje</span>
                        <span class="d-block cantidad_productos_por_categoria_busqueda">180 productos</span>
                    </a>
                </li>
                <!-- CUANDO NO HAYA PRODUCTOS DENTRO DE ALGUNA CATEGORÍA AGREGAR CLASE categoria_sin_productos_disponibles A LA ETIQUETA <li> CON LA CLASE categoria_producto -->
                <li class="categoria_producto categoria_half_width categoria_sin_productos_disponibles">
                    <div class="categoria_producto_fondo_estado"></div>
                    <img class="d-block" src="@Url.Content("~/Content/Images/Buscador/categoria_cuidado_personal.jpg")" alt="Cuidado Personal" />
                    <a href="" title="Cuidado Personal" class="d-flex categoria_producto_enlace">
                        <span class="d-block text-bold titulo_categoria_producto_busqueda">Cuidado Personal</span>
                        <span class="d-block cantidad_productos_por_categoria_busqueda">0 productos</span>
                    </a>
                </li>
                <!-- FIN - CUANDO NO HAYA PRODUCTOS DENTRO DE ALGUNA CATEGORÍA AGREGAR CLASE categoria_sin_productos_disponibles A LA ETIQUETA <li> CON LA CLASE categoria_producto -->
                <li class="categoria_producto categoria_half_width">
                    <div class="categoria_producto_fondo_estado"></div>
                    <img class="d-block" src="@Url.Content("~/Content/Images/Buscador/tratamiento-facial.jpg")" alt="Tratamiento Facial" />
                    <a href="" title="Tratamiento facial" class="d-flex categoria_producto_enlace">
                        <span class="d-block text-bold titulo_categoria_producto_busqueda">Tratamiento facial</span>
                        <span class="d-block cantidad_productos_por_categoria_busqueda">10 productos</span>
                    </a>
                </li>
                <li class="categoria_producto categoria_half_width">
                    <div class="categoria_producto_fondo_estado"></div>
                    <img class="d-block" src="@Url.Content("~/Content/Images/Buscador/bijouterie.jpg")" alt="Bijouterie" />
                    <a href="" title="Bijouterie" class="d-flex categoria_producto_enlace">
                        <span class="d-block text-bold titulo_categoria_producto_busqueda">Bijouterie</span>
                        <span class="d-block cantidad_productos_por_categoria_busqueda">60 productos</span>
                    </a>
                </li>
                <li class="categoria_producto categoria_half_width">
                    <div class="categoria_producto_fondo_estado"></div>
                    <img class="d-block" src="@Url.Content("~/Content/Images/Buscador/categoria_moda.jpg")" alt="Moda" />
                    <a href="" title="Moda" class="d-flex categoria_producto_enlace">
                        <span class="d-block text-bold titulo_categoria_producto_busqueda">Moda</span>
                        <span class="d-block cantidad_productos_por_categoria_busqueda">10 productos</span>
                    </a>
                </li>
                <!-- CUANDO NO HAYA PRODUCTOS DENTRO DE ALGUNA CATEGORÍA AGREGAR CLASE categoria_sin_productos_disponibles A LA ETIQUETA <li> CON LA CLASE categoria_producto -->
                <li class="categoria_producto categoria_half_width categoria_sin_productos_disponibles">
                    <div class="categoria_producto_fondo_estado"></div>
                    <img class="d-block" src="@Url.Content("~/Content/Images/Buscador/herramientas_venta.jpg")" alt="Herramientas de venta" />
                    <a href="" title="Herramientas de venta" class="d-flex categoria_producto_enlace">
                        <span class="d-block text-bold titulo_categoria_producto_busqueda">Herramientas<br />de venta</span>
                        <span class="d-block cantidad_productos_por_categoria_busqueda">0 productos</span>
                    </a>
                </li>
                <!-- FIN - CUANDO NO HAYA PRODUCTOS DENTRO DE ALGUNA CATEGORÍA AGREGAR CLASE categoria_sin_productos_disponibles A LA ETIQUETA <li> CON LA CLASE categoria_producto -->
            </ul>
        </div>
    </div>
    <!-- LISTA DE RESULTADOS DE BÚSQUEDA MOBILE -->
    <div class="container-fluid vistaResultadosBusquedaMobile displayBlock">
        <div class="spinner">
            <img src="@Url.Content("~/Content/Images/loading_spinner.gif")" alt="" />
        </div>
        <div class="busqueda_sin_resultados displayBlock text-center">
            <div>
                <div class="icono_busqueda_sin_resultados displayBlock">
                    <img src="@Url.Content("~/Content/Images/icono_sin_resultados_busqueda.svg")" alt="" />
                </div>
                <div class="mensaje_busqueda_sin_resultados displayBlock">
                    <p class="displayBlock text-bold">
                        Ups… no tenemos ofertas<br />con este nombre.
                    </p>
                    <p class="displayBlock">
                        Vuelve a intentar.
                    </p>
                </div>
            </div>
        </div>
        <div class="row lista_resultados_busqueda_productos_mobile displayBlock" id="ResultadoBuscador">
        </div>
    </div>
    <!-- FIN - LISTA DE RESULTADOS DE BÚSQUEDA MOBILE -->
</div>

@Html.Partial("~/Views/Shared/VistaParcialMainLayout/_vpBuscadorResultado.cshtml")

@section scripts{

    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/Buscador/BuscadorProvider.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/Buscador/BuscadorModule.js")"></script>

}
