@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Helpers

@{
    ViewBag.Title = "Buscador";
    //var layout = ViewContext.MobilePedidoLayout();
    var layout = "_MobileLayoutEmpty";
    Layout = string.Format("~/Areas/Mobile/Views/Shared/{0}.cshtml", layout);
    var mobileConfiguracion = Html.MobileAppConfiguracion();

    var origenPedidoWeb = Portal.Consultoras.Common.Constantes.OrigenPedidoWeb.MobileBuscador;
}

@section styles{

    @if (System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika").Contains(ViewBag.PaisAnalytics))
    {
        <link href="@Url.Content("~/Content/Css/Site/Esika/buscador-filtros.css")" rel="stylesheet">
    }
    else
    {
        <link href="@Url.Content("~/Content/Css/Site/Lbel/buscador-filtros.css")" rel="stylesheet">
    }

}

<div class="buscador_filtros_mobile">
    <a href="javascript: history.go(-1)" class="enlace_regresar_filtros" title="Buscar">
        <img src="@Url.Content("~/Content/Images/flecha_icono.svg")" alt="Buscar" />
    </a>
    <input type="search" value="" id="CampoBuscadorProductos" class="campo_buscador_filtros_mobile" placeholder="Busca ofertas" />
    <a class="enlace_busqueda_filtros" title="Buscar">
        <img src="@Url.Content("~/Content/Images/icono_lupa.svg")" alt="Buscar" />
    </a>
    <a class="opcion_limpiar_campo_busqueda_productos" title="Cerrar" style="display:none;">
        <img src="@Url.Content("~/Content/Images/icono_limpiar_busqueda.svg")" alt="Cerrar" />
    </a>
</div>

<div class="section-container mt-60">
    <!-- LISTA DE RESULTADOS DE BÚSQUEDA MOBILE -->
    <div class="container-fluid vistaResultadosBusquedaMobile displayBlock">
        <div class="spinner">
            <img src="@Url.Content("~/Content/Images/loading_spinner.gif")" alt="" />
        </div>
        <div class="busqueda_sin_resultados displayBlock text-center">
            <div>
                <div class="icono_busqueda_sin_resultados displayBlock">
                    <img src="@Url.Content("~/Content/Images/icono_sin_resultados_busqueda.svg")" alt="" />
                </div>
                <div class="mensaje_busqueda_sin_resultados displayBlock">
                    <p class="displayBlock text-bold">
                        Ups… no tenemos ofertas<br />con este nombre.
                    </p>
                    <p class="displayBlock">
                        Vuelve a intentar.
                    </p>
                </div>
            </div>
        </div>
        <div class="row lista_resultados_busqueda_productos_mobile displayBlock" id="ResultadoBuscador">
        </div>
    </div>
    <!-- FIN - LISTA DE RESULTADOS DE BÚSQUEDA MOBILE -->
</div>

@Html.Partial("~/Views/Shared/VistaParcialMainLayout/_vpBuscadorResultado.cshtml")

@section scripts{

    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/Buscador/BuscadorProvider.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/Buscador/BuscadorModule.js")"></script>

}
