@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Helpers

@{
    ViewBag.Title = "Buscador";
    //var layout = ViewContext.MobilePedidoLayout();
    var layout = "_MobileLayoutEmpty";
    Layout = string.Format("~/Areas/Mobile/Views/Shared/{0}.cshtml", layout);
    var mobileConfiguracion = Html.MobileAppConfiguracion();
}

@section styles{

    @if (System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika").Contains(ViewBag.PaisAnalytics))
    {
        <link href="@Url.Content("~/Content/Css/Mobile/esika/buscador-filtros.css")" rel="stylesheet">
    }
    else
    {
        <link href="@Url.Content("~/Content/Css/Mobile/lbel/buscador-filtros.css")" rel="stylesheet">
    }

}

<div class="buscador_filtros_mobile">
    <a class="enlace_regresar_filtros" title="Buscar">
        <img src="@Url.Content("~/Content/Images/icono_volver.svg")" alt="Buscar" />
    </a>
    <input type="search" value="" id="CampoBuscadorProductosMobile" class="campo_buscador_filtros_mobile" placeholder="¿Buscas ofertas?" />
    <a class="enlace_busqueda_filtros" title="Buscar">
        <img src="@Url.Content("~/Content/Images/icono_lupa.png")" alt="Buscar" />
    </a>
    <a class="opcion_limpiar_campo_busqueda_productos" title="Cerrar" style="display:none;">
        <img src="@Url.Content("~/Content/Images/btn_cerrar_popup_color_negro.svg")" alt="Cerrar" />
    </a>
    <i class="fa fa-chevron-left"></i>
</div>

<br />

<div id="divResultadoBuscadorMobile" class="section-container p-t-30 p-b-30">
    
</div>


<script id="js-ResultadoBuscadorMobile" type="text/x-handlebars-template">
    <div class="container vistaResultadosBusquedaMobile displayBlock">
        <div class="spinner">
            <img src="@Url.Content("~/Content/Images/loading_spinner.gif")" alt="" />
        </div>
        <div class="row lista_resultados_busqueda_productos_mobile displayBlock" id="ResultadoBuscadorMobile">
            {{#each this}}
            <!-- RESULTADO DE BÚSQUEDA -->
            <div class="col-xs-12 col-sm-12 resultado_busqueda_mobile_wrapper displayBlock">
                <div class="resultado_busqueda_mobile displayBlock">
                    <div class="resultado_busqueda_mobile_img_prod displayInlineBlock">
                        <a href="#" class="displayBlock">
                            <img src="{{Imagen}}" alt="Imagen no disponible" class="imagen_no_disponible" onerror="this.onerror=null;this.src='@Url.Content("~/Content/Images/imagen_prod_no_disponible.png")'" />
                        </a>
                    </div>
                    <div class="resultado_busqueda_mobile_descrip_prod displayInlineBlock">
                        <div class="resultado_busqueda_nom_producto displayBlock">
                            {{Descripcion}}
                        </div>
                        <div class="resultado_busqueda_precio_prod displayBlock">
                            <span class="resultado_busqueda_precio_normal displayInlineBlock">
                                S/ 175.00
                            </span>
                            <span class="resultado_busqueda_precio_oferta displayInlineBlock">
                                S/ 75.00
                            </span>
                        </div>
                        <div class="resultado_busqueda_tipo_oferta_prod displayBlock text-uppercase">
                            Liquidaciones
                        </div>
                    </div>
                    <div class="resultado_busqueda_mobile_cantidad_prod displayInlineBlock" data-cantidad-contenedor="">
                        <a class="cantidad_menos_home" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)">
                            <img src="/Content/Images/Mobile/Esika/menos.png" alt="">
                        </a>
                        <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" data-input="cantidad" class="rango_cantidad_pedido text-center ValidaNumeral ValidaPasteNumeral" />
                        <a class="cantidad_mas_home" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)">
                            <img src="/Content/Images/Mobile/Esika/mas.png" alt="">
                        </a>
                        <div class="clear"></div>
                        <div class="resultado_busqueda_mobile_btn_agregar_wrapper displayBlock text-center">
                            <a class="boton_Agregalo_home displayBlock text-center text-uppercase">
                                Agrégalo
                            </a>
                            @*<div class="etiqueta_prod_agregado displayBlock text-uppercase text-bold">
                                Agregado
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN - RESULTADO DE BÚSQUEDA -->
            {{/each}}
        </div>
    </div>
</script>


@section scripts{

    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/Mobile/Buscador/Index.js")"></script>

}
