@using Mensajes = Portal.Consultoras.Common.Constantes.MatrizNemotecnicoMensajes
@using Portal.Consultoras.Common
@model Portal.Consultoras.Web.Models.AdministrarProductoSugeridoModel
@{
    ViewBag.Title = "Administración de Producto Sugerido";
}

@Html.HiddenFor(model => model.PaisIDUser)

<script src="@Url.Content("~/Scripts/fileuploader.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.toast.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/handlebars.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.paging.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/AdminContenido/ToastHelper.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/AdminContenido/Paginador.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/AdminContenido/Nemotecnico.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/AdminContenido/DescripcionComercial.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/AdminContenido/MatrizComercialFileUpload.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/AdminContenido/ProductoSugerido.js")" type="text/javascript"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="@Url.Content("~/Content/Css/Toast/jquery.toast.min.css")" rel="stylesheet" />

<div class="wrap_cab">
    <div class="filtros">
        <div class="elements">
            <div class="div-2">
                <h1>Carga de Reemplazos Sugeridos</h1>
            </div>
            <div class="div-2" style="display:none;">
                <h3>Datos del Evento</h3>
            </div>
            <div class="div-3">
                <div class="titG">País:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.lstPais, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais" })
                </div>
                <span class="color_red" style="width:5px;">*</span>
                <div class="titG">Campaña:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.CampaniaID, new SelectList(Model.lstCampania, "CampaniaID", "NombreCorto"), "-- Seleccionar --", new { id = "ddlCampania" })
                </div>
                <span class="color_red" style="width:5px;">*</span>
            </div>
            <div class="div-3">
                <div class="titG">
                    CUV Agotado:
                </div>
                <div class="selectA borde_redondeado">
                    <input type="text" id="txtCUVAgotado" />
                </div>
                <span class="color_red" style="width:5px;"></span>
                <div class="titG">
                    CUV Sugerido:
                </div>
                <div class="selectA borde_redondeado">
                    <input type="text" id="txtCUVSugerido" />
                </div>
                <span class="color_red" style="width:5px;"></span>
            </div>
            <div class="div-3">
                <div class="titG"><span class="color_red" style="float: none;width:5px;">*</span></div>
                <div class="selectA borde_redondeado" style="border: none; padding: 9px 18px 9px 0;">
                    <span class="color_red" style="float: none; padding: initial;">Campo obligatorio</span>
                </div>
                <span class="color_red" style="width:5px;"></span>
                <div class="titG"></div>
                <div class="selectA borde_redondeado" style="border: none;">
                    <div class="input_search titD" style="width: 100px;">
                        <input type="button" value="Buscar" id="btnBuscar" name="">
                    </div>
                    <div class="input_search titD" style="width: 100px;">
                        <input type="button" value="Nuevo" id="btnNuevo" name="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrap" id="divListado">
    <div class="container clearfix">
        <h3>Listado</h3>
        <div class="border-wrapper">
            <table id="list"></table>
            <div id="pager"></div>
        </div>
    </div>
</div>


<div id="DialogRegistroProductoSugerido" style="display: none;">
    <div class="Content_modal" id="divRegistroModal">
        <input type="hidden" id="hdIdSugerido" class="man" />
        <div class="div-3">
            <div class="titG">Campaña:</div>
            <div class="selectA borde_redondeado">
                @Html.DropDownListFor(model => model.CampaniaID, new SelectList(Model.lstCampania, "CampaniaID", "NombreCorto"), "-- Seleccionar --", new { id = "ddlCampaniaModal", @class = "man" })
            </div>
            <span class="color_red" style="width: 5px;">*</span>
        </div>
        <div class="div-3">
            <div class="titG">CUV Agotado:</div>
            <div class="selectP2 borde_redondeado">
                <input type="text" id="txtCUVModal" class="man" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" maxlength="5" />
            </div>
            <span class="color_red" style="width: 5px;">*</span>
            <div class="titG">CUV Sugerido:</div>
            <div class="selectP2 borde_redondeado">
                <input type="text" id="txtCUVSugeridoModal" class="man" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" />
            </div>
            <span class="color_red" style="width: 5px;">*</span>
        </div>
        <div class="div-3">
            <div class="titG">Orden:</div>
            <div class="selectP2 borde_redondeado">
                <input type="text" id="txtOrdenModal" class="man" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" />
            </div>
            <span class="color_red" style="width: 5px;">*</span>

            <div class="titG">Descripción:</div>
            <div class="selectP2 borde_redondeado disabled">
                <input type="hidden" id="hdnCodigoSAP" />
                <input type="hidden" id="hdnIdMatrizComercial" />
                <input type="hidden" id="hdnDescripcion" />
                <input type="hidden" id="hdnDescripcionOriginal" />
                <input type="text" id="txtDescripcionProductoComercial" readonly="readonly" />
            </div>

            <div class="titG" style="display: none;">¿Habilitar Producto Sugerido?</div>
            <div class="selectCheck borde_redondeado" style="display: none;">
                <input type="checkbox" class="check" id="chkHabilitar" />
            </div>
        </div>
        <div class="div-3 divPanelImagen divAppCatalogo" style="padding-bottom:0px; margin-bottom:0px">
            <div class="titG">Imagen App Catálogo:</div>
            <div class="titG2">
                <div class="pdr_modal borde_redondeado aligncenter">
                    <img src='@Url.Content("~/Content/Images/prod_grilla_vacio.png")' id="previewAppCatalogo" class="img-matriz-preview">
                </div>
                <div class="pdr_modal_check aligncenter">
                    <input type="checkbox" id="chkImagenProductoAppCatalogo" class="chkImagenProducto">
                </div>
            </div>
            @if (Convert.ToInt32(Model.MostrarAgotado) == 1)
            {
                <div class="titG2" style="margin-left: 80px;width: 250px;">
                    <input type="checkbox" id="chkMostrarAgotado" style="display: inline-block !important;vertical-align: middle;">
                    <label style="display: inline-block;">Mostrar s&oacute;lo cuando est&eacute; agotado</label>
                </div>
            }
        </div>
        <div class="div-3 divPanelImagen" style="padding-bottom:0px; margin-bottom:0px">
            @Html.Partial("ListadoImagenesMatriz")
            <div id="matriz-comercial-header">
                <div id="matriz-busqueda-nemotecnico">
                    <a title="@HttpUtility.HtmlDecode(Mensajes.TooltipInformacionFormatoBusqueda)" class="search-button-field">
                        <i class="material-icons">info</i>
                    </a>
                    <div class="busqueda-exacta">
                        <label for="chkTipoBusquedaNemotecnico">@Mensajes.TextoBusquedaExacta</label>
                        <input type="checkbox" id="chkTipoBusquedaNemotecnico">
                    </div>

                    <input id="txtBusquedaNemotecnico" class="search-input-field" placeholder="@Mensajes.PlaceHolderTextoNemotecnico" maxlength="100" type="text" />
                    <a id="btnBuscarNemotecnico" title="@Mensajes.TextoBotonBuscar" class="search-button-field">
                        <i class="material-icons">search</i>
                    </a>
                    <a id="btnLimpiarBusquedaNemotecnico" title="@Mensajes.TextoBotonLimpiar" class="search-button-field">
                        <i class="material-icons">undo</i>
                    </a>
                </div>
                <div id="matriz-imagenes-paginacion"></div>
            </div>
            <div class="titG">
                <div id="fpUpload"></div>
            </div>
            <div>
                <div id="matriz-comercial-lista-imagenes" class="matriz-lista-container"></div>
            </div>
        </div>
    </div>
</div>

<div id="loadingScreen"></div>

<script type="text/javascript" id="js-ready">
    var paisNombre = "";
    var paisID = $("#PaisIDUser").val();
    var imageUrlVacio = '@Url.Content("~/Content/Images/prod_grilla_vacio.png")';
    var imagen = "";
    var siguienteIndice;
    var productoSugeridoObj;
    var numeroImagenesPorPagina = 10;
    var editarDescripcionComercial;

    var isVistaPreviaOpened = false;

    jQuery(document).ready(function () {
        productoSugeridoObj = ProductoSugerido({
            matrizIdElementId: 'hdnIdMatrizComercial',
            fileUploadElementId: 'fpUpload',
            paisID: paisID,
            obtenerMatrizAction: '@Url.Action("ObtenerMatriz", "AdministrarProductoSugerido")',
            actualizarMatrizComercialAction: '@Url.Action("ActualizarMatrizComercial", "MatrizComercial")',
            getImagesByIdMatrizAction: '@Url.Action("GetImagesByIdMatriz", "MatrizComercial")',
            getImagesByNemotecnico: '@Url.Action("GetImagesByNemotecnico", "MatrizComercial")',
            numeroImagenesPorPagina: numeroImagenesPorPagina,
            expValidacionNemotecnico: @Html.Raw(Model.ExpValidacionNemotecnico),
                actualizarDescripcionComercialAction: '@Url.Action("ActualizarDescripcionComercial", "MatrizComercial")'
        });
        CargarDialog();
        CargarEventos();

        editarDescripcionComercial = function editarDescripcionComercial(idImagen) {
            productoSugeridoObj.editarDescripcionComercial(idImagen);
        };
    });

</script>
<script type="text/javascript" id="js-FuctReady">
    function CargarEventos() {
        $('#matriz-comercial-header').on('click', '#matriz-busqueda-nemotecnico #btnBuscarNemotecnico', productoSugeridoObj.buscarNemotecnico);
        $('#matriz-comercial-header').on('click', '#matriz-busqueda-nemotecnico #btnLimpiarBusquedaNemotecnico', productoSugeridoObj.limpiarBusquedaNemotecnico);

        $('#ddlPais').change(function () {
            var Id = $(this).val() || "";
            if (Id == "") {
                LimpiarDependencias('ddlCampania');
                return false;
            }
            CargarCampaniaModal(Id, 'ddlCampania, ddlCampaniaModal');
        });

        $("#btnBuscar").click(function () {
            var msjex = "";
            if ($("#ddlPais").val() == "")
                msjex += " - Debe seleccionar un país.\n";
            if ($("#ddlCampania").val() == "")
                msjex += " - Debe seleccionar un campaña.\n";

            if (msjex != "") {
                alert("Faltan ingresar datos obligatorios.");
                return false;
            }

            paisNombre = $("#ddlPais option:selected").text();
            paisID = $("#ddlPais").val();
            productoSugeridoObj.actualizarPais(paisID);

            fnGrilla();
        });

        $("#btnNuevo").click(function () {
            var op = $("#ddlCampaniaModal option").length;
            if (op == 1) {
                CargarCampaniaModal(null, 'ddlCampaniaModal');
            }
            RegistroLimpiar();

            $("#ddlCampaniaModal").val($.trim($("#ddlCampania").val()));
            $("#txtCUVModal").val($.trim($("#txtCUVAgotado").val()));

            showDialog("DialogRegistroProductoSugerido");
        });

        $("#txtCUVSugeridoModal,#ddlCampaniaModal").change(function () {
            CargarImagenSugerido();
        });

        $("#txtCUVSugeridoModal").keyup(function (evt) {
            if ($(this).val().length == 5) {
                $("#txtOrdenModal").focus();
            }
        });

        var chkImagenProductoOnClick = function () {
            imagen = '';

            $(".chkImagenProducto").prop('checked', false);
            $(this).attr('checked', 'checked');
            imagen = $(this).attr('value');

        };

        var imagenOnClick = function () {
            $("#imgPreview").attr("src", $(this).attr("src"));
            var index = $(this).attr("id").split("-");
            var descripcionComercial = $("#descripcion-comercial-" + index[2]).attr("value");
            var idMatrizComercial = $("#id-matriz-comercial-imagen-" + index[2]).attr("value");
            var editData = {
                IdMatrizComercialImagen: idMatrizComercial,
                DescripcionComercial: descripcionComercial
            };
            SetHandlebars('#descripcion-comercial-template', editData, '#descripcion-comercial');
            isVistaPreviaOpened = true;
            showDialog('divVistaPrevia');
        };

        $(".chkImagenProducto").on("click", chkImagenProductoOnClick);

        $("#matriz-comercial-lista-imagenes").on("click", ".chkImagenProducto", chkImagenProductoOnClick);

        $("#matriz-comercial-lista-imagenes").on("click", ".img-matriz-preview", imagenOnClick);

    }

    function CargarDialog() {
        $('#DialogRegistroProductoSugerido').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 800,
            draggable: true,
            title: "Ingreso/Edición Reemplazos Sugeridos",
            open: function (event, ui) { $(".ui-dialog-titlebar-close", ui.dialog).hide(); },
            buttons:
                {
                    "Guardar": function () {
                        var vMessage = RegistroValidar();
                        if (vMessage != "") {
                            alert(vMessage);
                            return false;
                        }

                        RegistrarProductoSugerido();
                    },
                    "Cancelar": function () {
                        $(this).dialog('close');
                    }
                }
        });

        $('#divVistaPrevia').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 250,
            draggable: false,
            title: "Vista previa",
            buttons:
                {
                    "Cerrar": function () {
                        if (isVistaPreviaOpened) {
                            var params = { idMatrizComercial: $('#hdnIdMatrizComercial').val() };
                            productoSugeridoObj.obtenerImagenes(params, 1, true).done(function () {
                                showDialog("matriz-comercial-dialog");
                                closeWaitingDialog();
                            });
                        }
                        isVistaPreviaOpened = false;
                        $(this).dialog('close');
                    }
                }
        });
    }


</script>
<script type="text/javascript" id="js-Consulta">

    function LimpiarDependencias(combo) {
        var ddlCampania = $('#' + combo );
        ddlCampania.empty();
        ddlCampania.append($('<option/>', {
            value: "",
            text: "-- Seleccionar --"
        }));
    }

    function fnGrilla() {
        jQuery("#list").jqGrid({
            url: baseUrl + "AdministrarProductoSugerido/Consultar",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                PaisID: function () { return $("#ddlPais").val() },
                CampaniaID: function () { return ($("#ddlCampania").val() || "0"); },
                CUVAgotado: function () { return $.trim($("#txtCUVAgotado").val()); },
                CUVSugerido: function () { return $.trim($("#txtCUVSugerido").val()); }
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['Id', 'Campaña', 'CUV Agotado', 'CUV Sugerido', 'Orden', 'ImagenProducto', 'Estado', 'MostrarAgotado', 'Foto', 'Opciones'],
            colModel: [
                { name: 'ProductoSugeridoID', index: 'ProductoSugeridoID', key: true, hidden: true },
                { name: 'CampaniaID', index: 'CampaniaID', width: 50, align: 'center', resizable: false },
                { name: 'CUV', index: 'CUV', width: 80, align: 'center', resizable: false },
                { name: 'CUVSugerido', index: 'CUVSugerido', width: 80, align: 'center', resizable: false },
                { name: 'Orden', index: 'Orden', width: 35, align: 'center', resizable: false },
                { name: 'ImagenProducto', index: 'ImagenProducto', hidden: true },
                { name: 'Estado', index: 'Estado', hidden: true },
                { name: 'MostrarAgotado', index: 'MostrarAgotado', hidden: true},
                { name: 'Imagen', index: 'Imagen', width: 55, align: 'center', resizable: false, formatter: ShowImage },
                { name: 'Options', index: 'Options', width: 60, sortable: false, align: 'center', resizable: false, formatter: ShowActions }
            ],
            jsonReader:
            {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: true,
                cell: "cell",
                id: "id"
            },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'CampaniaID',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 930,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function () {
            },
            gridComplete: function () {
            }
        });
        jQuery("#list").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');

        function ShowImage(cellvalue, options, rowObject) {
            var image = $.trim(rowObject[5]);
            var filename = image.replace(/^.*[\\\/]/, '');
            image = '<img src="' + (filename != "" ? image : imageUrlVacio) + '" alt="" width="70px" height="60px" title="" border="0" />';
            return image;
        };

        function ShowActions(cellvalue, options, rowObject) {
            var Edit = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#list').Editar('" + options.rowId + "');\" >" + "<img src='@Url.Content("~/Content/Images/Edit.png")' alt='Editar Producto Sugerido' title='Editar Producto Sugerido' border='0' /></a>";
            var Del = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#list').Eliminar('" + options.rowId + "');\" >" + "<img src='@Url.Content("~/Content/Images/NotAllowed.png")' alt='Deshabilitar Producto Sugerido' title='Deshabilitar Producto Sugerido' border='0' /></a>";

            return Edit + Del;
        };
    }

</script>
<script type="text/javascript" id="js-Registro">
    function CargarCampaniaModal(pais, combo) {
        var paisUser = $("#PaisIDUser").val();
        pais = pais || paisUser || 0;
        combo = combo || "";
        var listaCombo = combo.split(',');
        if (listaCombo.length == 0) {
            return false;
        }

        waitingDialog({});
        $.getJSON(baseUrl + 'AdministrarProductoSugerido/ObtenerCampaniasPorPais', { PaisID: pais }, function (data) {
            if (!checkTimeout(data)) {
                closeWaitingDialog();
                return false;
            }

            $.each(listaCombo, function (index, combo) {
                LimpiarDependencias($.trim(combo));
            });

            data = data || new Object();
            data.lista = data.lista || new Array();
            if (data.lista.length == 0) {
                closeWaitingDialog();
                return false;
            }

            productoSugeridoObj.actualizarParNemotecnico(data.habilitarNemotecnico);

            if (data.habilitarNemotecnico) {
                $("#matriz-busqueda-nemotecnico").show();
            } else {
                $("#matriz-busqueda-nemotecnico").hide();
            }

            $.each(listaCombo, function (index, combo) {
                var ddlCampania = $('#' + $.trim(combo));
                ddlCampania.empty();
                ddlCampania.append($('<option/>', {
                    value: "",
                    text: "-- Seleccionar --"
                }));

                for (var item in data.lista) {
                    ddlCampania.append($('<option/>', {
                        value: data.lista[item].CampaniaID,
                        text: data.lista[item].Codigo
                    }));
                }
            });

            closeWaitingDialog();

        });
    }

    function CargarImagenSugerido() {
        LimpiarDatosMatrizComercial();
        $("#matriz-imagenes-paginacion").empty();
        $("#fpUpload").empty();
        imagen = '';
        var cuv = $.trim($("#txtCUVSugeridoModal").val());
        var campaniaID = $.trim($("#ddlCampaniaModal").val());
        if (cuv == "" || campaniaID == "") {
            return false;
        }

        waitingDialog({});
        var params = { paisID: paisID, campaniaID: campaniaID, cuv: cuv };

        productoSugeridoObj.obtenerMatriz(params).done(function (data) {
            if (data) {
                $(".divPanelImagen img").attr("src", imageUrlVacio);
                $(".chkImagenProducto").prop('checked', false);

                if (!data.matriz) {
                    alert("El producto sugerido no cuenta con imágenes disponibles.");
                    closeWaitingDialog();
                    return false;
                }

                productoSugeridoObj.limpiarFiltrosNemotecnico();
                productoSugeridoObj.mostrarPaginacion(data.totalImagenes);

                CargarDatosMatrizComercial(data.matriz, imagen);

                $("#fpUpload").empty();
                productoSugeridoObj.crearObjetoUpload(obtenerParametrosFileUpload(data.matriz));

                closeWaitingDialog();
            }
        });
    }

    function obtenerParametrosFileUpload(matriz) {
        return {
            idMatrizComercial: matriz.IdMatrizComercial,
            idImagenMatriz: 0,
            codigoSAP: matriz.CodigoSAP,
            descripcionOriginal: matriz.DescripcionProductoComercial
        };
    }

    function RegistroLimpiar() {
        $(".man").val("");
        $("#chkHabilitar").prop('checked', false);
        $("#matriz-imagenes-paginacion").empty();
        $("#fpUpload").empty();
        LimpiarDatosMatrizComercial();
    }

    function LimpiarDatosMatrizComercial() {
        $(".divAppCatalogo").hide();
        $('.div-img-matriz-comercial').hide();
        $(".divPanelImagen img").attr("src", imageUrlVacio);
        $(".chkImagenProducto").prop('checked', false);
        $(".chkImagenProducto").val('');
        $('#hdnCodigoSAP').val('');
        $('#hdnIdMatrizComercial').val('');
        $('#txtDescripcionProductoComercial').val('');
        $('#hdnDescripcionOriginal').val('')
        $('#hdnDescripcion').val('');
        $("#fpUpload").show();
    }

    function RegistroValidar() {
        var vMessage = "";
        if (jQuery.trim($('#ddlCampaniaModal').val()) == "")
            vMessage += "- Debe seleccionar una campaña.\n";

        if (jQuery.trim($('#txtCUVModal').val()) == "")
            vMessage += "- Debe ingresar un CUV agotado.\n";

        if (jQuery.trim($('#txtCUVSugeridoModal').val()) == "")
            vMessage += "- Debe ingresar un CUV sugerido.\n";

        if (jQuery.trim($('#txtOrdenModal').val()) == "")
            vMessage += "- Debe ingresar el orden.\n";

        if (vMessage != "") {
            vMessage = "La información ingresada se encuentra incompleta. Por favor, revisar." + "\n" + vMessage;
        }

        return vMessage;
    }

    function RegistrarProductoSugerido() {
        var Item = {
            ProductoSugeridoID: jQuery('#hdIdSugerido').val(),
            CampaniaID: jQuery('#ddlCampaniaModal').val(),
            CUV: jQuery('#txtCUVModal').val(),
            CUVSugerido: jQuery('#txtCUVSugeridoModal').val(),
            Orden: jQuery('#txtOrdenModal').val(),
            Estado: $("#chkHabilitar").attr('checked') ? 1 : 0,
            DescripcionComercial: $('#txtDescripcionProductoComercial').val(),
            ImagenProducto: imagen,
            PaisID: paisID,
            MostrarAgotado: $('#chkMostrarAgotado').length ? $('#chkMostrarAgotado').attr('checked') ? 1 : 0 : 0
        };
        jQuery.ajax({
            type: 'POST',
            url: baseUrl + 'AdministrarProductoSugerido/Registrar',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(Item),
            async: true,
            success: function (data) {
                if (!checkTimeout(data)) {
                    return false;
                }

                alert(data.message);
                if (data.success == true) {
                    HideDialog("DialogRegistroProductoSugerido");
                    RegistroLimpiar();
                    $("#btnBuscar").click();
                }
            },
            error: function (data, error) {
                if (checkTimeout(data)) {
                    alert(data.message);
                    HideDialog("DialogRegistroProductoSugerido");
                }
            }
        });

    }

    function CargarDatosMatrizComercial(matriz, imgRow) {
        LimpiarDatosMatrizComercial();
        imagen = '';

        $('#hdnCodigoSAP').val(matriz.CodigoSAP);
        $('#hdnIdMatrizComercial').val(matriz.IdMatrizComercial);
        $('#hdnDescripcion').val(matriz.Descripcion);
        $('#hdnDescripcionOriginal').val(matriz.DescripcionOriginal);
        $('#txtDescripcionProductoComercial').val(matriz.DescripcionProductoComercial);

        $('.divAppCatalogo').show();
        var params = { imagenes: matriz.Imagenes };
        productoSugeridoObj.mostrarListaImagenes(params);

        $("#previewAppCatalogo").attr('src', matriz.FotoProductoAppCatalogo);
        $("#chkImagenProductoAppCatalogo").attr('value', matriz.FotoProductoAppCatalogo);

        //marcar el checkbox de la imagen del registro seleccionado
        marcarCheckRegistro(imgRow);
    }

    function marcarCheckRegistro(imgRow) {
        $('.chkImagenProducto[value="' + imgRow + '"]').first().attr('checked', 'checked');
        imagen = imgRow;
    }

    $.jgrid.extend({
        Editar: function (rowPk) {
            rowPk = rowPk || 0;
            if (rowPk == 0) {
                alert("Debe seleccionar un Producto, verifique");
                return false;
            }
            var op = $("#ddlCampaniaModal option").length;
            if (op == 1) CargarCampaniaModal(null, 'ddlCampaniaModal');

            RegistroLimpiar();
            var campaniaID = jQuery("#list").jqGrid('getCell', rowPk, 'CampaniaID');
            var cuv = jQuery("#list").jqGrid('getCell', rowPk, 'CUVSugerido');

            waitingDialog({});
            $.ajaxSetup({ cache: false });

            var params = { paisID: paisID, campaniaID: campaniaID, cuv: cuv };
            productoSugeridoObj.limpiarFiltrosNemotecnico();

            productoSugeridoObj.obtenerMatriz(params).done(function (data) {
                if (data) {
                    $('#hdIdSugerido').val(jQuery("#list").jqGrid('getCell', rowPk, 'ProductoSugeridoID'));
                    $('#ddlCampaniaModal').val(jQuery("#list").jqGrid('getCell', rowPk, 'CampaniaID'));
                    $('#txtCUVModal').val(jQuery("#list").jqGrid('getCell', rowPk, 'CUV'));
                    $('#txtCUVSugeridoModal').val(jQuery("#list").jqGrid('getCell', rowPk, 'CUVSugerido'));
                    $('#txtOrdenModal').val(jQuery("#list").jqGrid('getCell', rowPk, 'Orden'));
                    var estado = jQuery("#list").jqGrid('getCell', rowPk, 'Estado');
                    if (estado == "True" || estado == "true" || estado == "1") {
                        $('#chkHabilitar').attr('checked', true);
                    } else {
                        $('#chkHabilitar').removeAttr('checked');
                    }

                    var mostrarAgotado = jQuery("#list").jqGrid('getCell', rowPk, 'MostrarAgotado');
                    if (mostrarAgotado == "1" || mostrarAgotado == 1) {
                        $('#chkMostrarAgotado').prop('checked', true);
                    } else {
                        $('#chkMostrarAgotado').prop('checked', false);
                    }

                    var imgRow = jQuery("#list").jqGrid('getCell', rowPk, 'ImagenProducto') || "";
                    imgRow = imgRow == imageUrlVacio ? "" : $.trim(imgRow);

                    if (!data.matriz) {
                        $(".chkImagenProducto").attr('disabled', true);
                        showDialog("DialogRegistroProductoSugerido");
                        closeWaitingDialog();
                        return false;
                    }

                    $("#matriz-imagenes-paginacion").empty();
                    productoSugeridoObj.mostrarPaginacion(data.totalImagenes);

                    CargarDatosMatrizComercial(data.matriz, imgRow);

                    $("#fpUpload").empty();
                    productoSugeridoObj.crearObjetoUpload(obtenerParametrosFileUpload(data.matriz));

                    showDialog("DialogRegistroProductoSugerido");
                    closeWaitingDialog();
                }
            });

            return false;
        },
        Eliminar: function (rowPk) {
            var elimina = confirm('¿ Está seguro que desea eliminar el registro seleccionado?');
            if (!elimina)
                return false;

            var Item = {
                ProductoSugeridoID: jQuery("#list").jqGrid('getCell', rowPk, 'ProductoSugeridoID')
            };

            waitingDialog({});
            jQuery.ajax({
                type: 'POST',
                url: baseUrl + 'AdministrarProductoSugerido/Deshabilitar',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(Item),
                async: true,
                success: function (data) {
                    closeWaitingDialog();

                    if (!checkTimeout(data)) {
                        return false;
                    }

                    alert(data.message);
                    if (data.success == true) {
                        $("#btnBuscar").click();
                    }
                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        alert("ERROR");
                    }
                }
            });
            return false;
        }
    });
</script>


<div id="divVistaPrevia" class="Content_modal_ZE" style="display: none; background-color: #fff; width: 200px; height: 330px; overflow: hidden; text-align: center">
    <div class="Content_modal_ZE" style="margin: 5px; overflow: hidden;">
        <img id="imgPreview" style="width: 128px; height: 161px; margin: 5px;" src="" alt="Imagen Producto">
    </div>
    <div class="div-3" style="text-align:center; color:black;">
        <div id="descripcion-comercial">
        </div>
    </div>
</div>
<script id="descripcion-comercial-template" type="text/x-handlebars-template">
    <div style="text-align:center; color:black;" onclick='javascript:editarDescripcionComercial({{IdMatrizComercialImagen}})'>
        <img src="../Content/Images/PL20/editar.png" style="width:14px; height:14px">
        <a id="label-descripcioncomercial-{{IdMatrizComercialImagen}}" title="{{DescripcionComercial}}">{{DescripcionComercial}}</a>
    </div>
</script>