
@model Portal.Consultoras.Web.Models.AdministrarHistorialDetaListModel
@{
    string imagenVacia = "prod_grilla_vacio.png";
}
<div class="div-12">
    <div class="div-3 divHomeImagenFondo"
         style="display: inline-block; text-align: left; margin-bottom: 15px;">
        <div class="titG">
            <span id="">Imagen:</span>
            <h6 id="lblMedidasHistApp">(@Model.Ancho x @Model.Alto pixeles)</h6>
        </div>
        <div style="display: inline-block;">
            @Html.HiddenFor(model => model.IdContenido)
            @Html.HiddenFor(m => m.RutaContenido, new { id = "nombre-desktop-detalle", imageextension = "jpg", imagewidth = @Model.Ancho, imageheight = @Model.Alto, messageSize = "Las medidas no son correctas. Vuelve a intentar, por favor.", messageFormat = "El formato no es correcto. Vuelve a intentar, por favor." })
            <div id="img-desktop-detalle" style="display: inline-block; vertical-align: middle;"></div>
            <div class="pdr_modal2 borde_redondeado alignrigth">
                <img src='@Url.Content("~/Content/Images/" + imagenVacia)' id="src-desktop-detalle" class="img-matriz-preview2" data-id="">
            </div>
        </div>
    </div>


</div>