
@model Portal.Consultoras.Web.Models.AdministrarHistorialDetaListModel
@{
    string imagenVacia = "prod_grilla_vacio.png";
}
<style>
    .div-3 .titC {
        height: auto;
        padding: 9px;
        background: none;
        color: #702789;
        font-size: 14px;
        margin: 0;
        border: 0;
        float: none;
        width: auto;
        text-align:left;
    }
</style>
<script>
    $(document).ready(function () {

        $("#ddlAccion").change(function () {
            var ddlAccion = $("#ddlAccion");
            var Id = $('#ddlAccion').val();

            if ($("#ddlAccion").val() == "VER_MAS") {
                $("#div_codigo_detalle").show();
                $("#div_cuv").hide();
                $("#txtCUV").val("");
            }
            else if ($("#ddlAccion").val() == "AGR_CAR") {
                $("#div_codigo_detalle").hide();
                $("#div_cuv").show();
                $("#ddlCodigoDetalle").val("");
            } else {
                $("#div_codigo_detalle").hide();
                $("#div_cuv").hide();
                $("#ddlCodigoDetalle").val("");
                $("#txtCUV").val("");

            }        

        })

        $("#chkSeleccionar").click(function () {
            if (this.checked)
                $.jstree._reference($("#arbolRegionZona")).check_all();
            else
                $.jstree._reference($("#arbolRegionZona")).uncheck_all();
        });

        
    function CargarSegmentoPais() {
  
         $.ajaxSetup({
                cache: false,
                async: false
        });
        var PaisId;
        $.getJSON(baseUrl + 'AdministrarHistorias/ObtenerSegmento', { PaisId: PaisId}, function (data) {
                if (checkTimeout(data)) {
                    var ddlSegmento = $('#ddlSegmento');
                    ddlSegmento.empty();
                    if (data.listasegmento.length > 0) {
                        for (var item in data.listasegmento) {
                          
                            if (data.listasegmento.hasOwnProperty(+item)) {
                                ddlSegmento.append('<div style="display:block"><div style="float:left"><input type="Checkbox" value="' + data.listasegmento[item].BannerSegmentoId + '" style="display:inline-block !important; height: 15px !important;" /></div><div style="float:left;">' + data.listasegmento[item].BannerSegmentoDes + '</div> <div style="clear: both"></div></div>');
                            }
                        }

                        var segmentosVal = $("#Seccion").val();
                        if (segmentosVal != "") {
                            var segmentosInternos = segmentosVal.split(',');
                            $("#ddlSegmento").find('input[type="checkbox"]').each(function () {

                                var valor = $(this).attr('value');
                                if ($.inArray(valor, segmentosInternos) > -1) {
                                    $(this).attr("checked", true);
                                }
                            });
                        }
                        
                    }
                }
            });
        return false;
        }

        function ConfigurarArbol(Zonas) {

            $.ajaxSetup({
                cache: false
            });
            $("#arbolRegionZona").jstree({
                json_data: {
                    ajax: {
                        url: baseUrl + "AdministrarHistorias/CargarArbolRegionesZonas",
                        data: function (n) {},
                        type: "GET",
                        error: function (XMLHttpRequest, textStatus, errorThrown) { },
                        success: function (data, textStatus, jqXHR) { },
                        complete: function () {
                            $("#arbolRegionZona").jstree("set_theme", "apple", "@Url.Content("~/Content/Css/jstree/apple/stylejstree.css")");

                            var strZonas = Zonas;
                            if (strZonas != "") {
                                $.jstree._reference($("#arbolRegionZona")).uncheck_all();
                                var strZonasArreglo = strZonas.split(",");
                                for (i = 0; i < strZonasArreglo.length; i++) {
                                    $("#arbolRegionZona").jstree("check_node", "#" + strZonasArreglo[i], true);
                                }
                                $("#chkSeleccionar").attr("checked", true);
                                $.jstree._reference($("#arbolRegionZona")).get_unchecked(null, true).each(function () {
                                    if (this.className.toLowerCase().indexOf("jstree-leaf") == -1) {
                                        return true;
                                    }
                                    $("#chkSeleccionar").attr("checked", false);
                                });
                            }
                            $('#arbolRegionZona').jstree('close_all');
                        }
                    }
                },
                "themes": {
                    "theme": "apple",
                    "dots": true,
                    "icons": false
                },
                plugins: ["themes", "json_data", "ui", "checkbox"]
            });
            return false;
        }

        $("#ddlAccion").change();
        CargarSegmentoPais();
        var Zonas = $("#Zona").val();
        ConfigurarArbol(Zonas);
    })
</script>

<div class="div-12">
    @Html.HiddenFor(model => model.Proc)
    @Html.HiddenFor(model => model.IdContenidoDeta)
    @Html.HiddenFor(model => model.IdContenido)
    @Html.HiddenFor(model => model.Zona)
    @Html.HiddenFor(model => model.Seccion)

    @if (Model.Proc == 1)
    {
        <div class="div-3 divHomeImagenFondo"
             style="display: inline-block; text-align: left; margin-bottom: 15px;">
            <div class="titG">
                <span id="">Imagen:</span>
                <h6 id="lblMedidasHistApp">(@Model.Ancho x @Model.Alto pixeles)</h6>
            </div>
            <div style="display: inline-block;">
                @Html.HiddenFor(m => m.RutaContenido, new { id = "nombre-desktop-detalle", imageextension = "jpg", imagewidth = @Model.Ancho, imageheight = @Model.Alto, messageSize = "Las medidas no son correctas. Vuelve a intentar, por favor.", messageFormat = "El formato no es correcto. Vuelve a intentar, por favor." })
                <div id="img-desktop-detalle" style="display: inline-block; vertical-align: middle;"></div>
                <div class="pdr_modal2 borde_redondeado alignrigth">
                    <img src='@Url.Content("~/Content/Images/" + imagenVacia)' id="src-desktop-detalle" class="img-matriz-preview2" data-id="">
                </div>
            </div>
        </div>
    }


    <div class="div-3">
        <div class="titG">Campaña:</div>
        <div class="selectP2 borde_redondeado">
            @Html.DropDownListFor(model => model.Campania, new SelectList(Model.ListaCampanias, "CampaniaID", "Codigo"), new { id = "ddlCampaniaDetalle" })
        </div>
    </div>


    <div class="div-3">
        <div class="titG">Acción:</div>
        <div class="selectP2 borde_redondeado">
            @Html.DropDownListFor(model => model.Accion, new SelectList(Model.ListaAccion, "Codigo", "Descripcion"), "-- Seleccionar --", new { id = "ddlAccion" })
        </div>
    </div>

    <div id="div_codigo_detalle" style="display: none;">
        <div class="div-3">
            <div class="titG">Detalle:</div>
            <div class="selectP2 borde_redondeado">
                @Html.DropDownListFor(model => model.CodigoDetalle, new SelectList(Model.ListaCodigoDetalle, "Codigo", "Descripcion"), "-- Seleccionar --", new { id = "ddlCodigoDetalle" })
            </div>
        </div>
    </div>


    <div id="div_cuv" style="display: none;">
        <div class="div-3">
            <div class="titG">CUV:</div>
            <div class="selectP borde_redondeado" style="width: 100px;">
                @Html.TextBoxFor(model => model.CUV, new { @class = "input_search_form2", Style = "width: 100px;", maxlength = 5, id = "txtCUV",// onblur = "ValidarCUVMarquesina()"
           })
            </div>
        </div>

    </div>


    <div style="float:left">
        <div class="div-3">
            <div class="titC">Segmento:</div>
            <div class="selectA borde_redondeado">
                <ul id="ddlSegmento"></ul>&nbsp;
            </div>
        </div>
    </div>

    <div style="float:left">
        <div class="div-3">
            <div class="titC">Jerarquía:</div>
            <div class="treeview_content borde_redondeado">
                <div id="arbolRegionZona" class="demo">
                </div>
            </div>
        </div>
        <div class="div-3">
            <div class="titH">
                <div style="float:left">
                    <label id="lblSeleccionar">
                        <input type="checkbox" id="chkSeleccionar" />

                    </label>
                </div>
                <div style="float:left; margin-top:10px">
                    Seleccionar todo
                </div>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>


    @if (Model.Proc == 1)
    {
        <div class="div-3">
            <div style="color: #ff0000">
                @Model.LimitDetMensaje
            </div>
        </div>
    }
</div>

