@using Portal.Consultoras.Common
@model Portal.Consultoras.Web.Models.ValidacionAutomaticaModel
@{
    ViewBag.Title = "Ejecutar Validación Automática PROL";
}

<style>
    .titulo_grilla_ListaProcesoAutoProl {
        color: #00a2e8;
        text-decoration: none;
        font-weight: normal;
        padding: 5px;
        font-size: 12px !Important;
        font-family: 'museo_sans_500regular';
        font-weight: normal !Important;
        
        background: #f0f6f8;        
    }
    .fondoInfo_grilla_ListaProcesoAutoProl{
        background: #f8fcfd;
    }
</style>

<script type="text/javascript">

    jQuery(function () {
        $("#txtPais").val('@Util.SinAcentosCaracteres(ViewBag.NombrePais)');
        $("#btnGenerar").click(function () {
            IniciarProceso();
        });

        $("#txtFechaFacturacion").datepicker({
            showOn: "button",
            buttonImage: '@Url.Content("~/Content/Images/calendar.png")',
            buttonImageOnly: true,
            dateFormat: 'dd/mm/yy'
        }).mask('99/99/9999');

    });

    function RestriccionFechas() {
        if ($("#ddlCampania").val() == "") {
            $("#txtFechaFacturacion").datepicker("destroy");
            $("#txtFechaReFacturacion").datepicker("destroy");
            $("#txtFechaFacturacion").datepicker({
                showOn: "button",
                buttonImage: '@Url.Content("~/Content/Images/calendar.png")',
                buttonImageOnly: true,
                dateFormat: 'dd/mm/yy'
            }).mask('99/99/9999');
            $("#txtFechaReFacturacion").datepicker({
                showOn: "button",
                buttonImage: '@Url.Content("~/Content/Images/calendar.png")',
                buttonImageOnly: true,
                dateFormat: 'dd/mm/yy'
            }).mask('99/99/9999');
        }
        else {
            $("#txtFechaFacturacion").val('');
            $("#txtFechaReFacturacion").val('');
            $("#txtFechaFacturacion").datepicker("destroy");
            $("#txtFechaReFacturacion").datepicker("destroy");
            $("#txtFechaFacturacion").datepicker({
                showOn: "button",
                buttonImage: '@Url.Content("~/Content/Images/calendar.png")',
                buttonImageOnly: true,
                dateFormat: 'dd/mm/yy',
                minDate: new Date("01/01/" + (parseInt($("#ddlCampania").val().substring(0, 4)) - 1).toString()),
                maxDate: new Date("12/31/" + $("#ddlCampania").val().substring(0, 4))
            }).mask('99/99/9999');
            $("#txtFechaReFacturacion").datepicker({
                showOn: "button",
                buttonImage: '@Url.Content("~/Content/Images/calendar.png")',
                buttonImageOnly: true,
                dateFormat: 'dd/mm/yy',
                minDate: new Date("01/01/" + (parseInt($("#ddlCampania").val().substring(0, 4)) - 1).toString()),
                maxDate: new Date("12/31/" + $("#ddlCampania").val().substring(0, 4))
            }).mask('99/99/9999');
        }
        return false;
    }

    function IniciarProceso() {
        var waiting = {
            message: 'Espere unos minutos, por favor...',
            title: 'Ejecutando Proceso'
        };
        waitingDialog(waiting);

        var params = { FechaFacturacion: jQuery('#txtFechaFacturacion').val() };       
        $.ajax({
            type: 'POST',
            url: window.baseUrl + 'EjecucionPROLAuto/EjecutarValidacionPROLAuto',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(params),
            async: true,
            cache: false,
            success: function (data) {
                if (checkTimeout(data)) {
                    closeWaitingDialog();
                    if (data.success == true) {
                        alert(data.message);
                        ListarProceso();
                    }
                    else {
                        alert(data.message);
                    }
                }
            },
            error: function (data, error) {
                if (checkTimeout(data)) {
                    closeWaitingDialog();
                    alert("Se perdió la comunicación. Por favor refrescar la página.");
                }
            }
        });
    }

    function ListarProceso() {
        $.ajaxSetup({
            cache: false
        });
        $.get(baseUrl + "EjecucionPROLAuto/ListarProceso", function (data) {
            $('#divListadoPedido').html(data);
        });
    }

</script>
<div class="wrap_cab">
    <div class="filtros">
        <div class="elements">
            <div class="div-2">
                <h1>Ejecutar Validación Automática PROL</h1>
            </div>
        </div>
    </div>
</div>
<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper_reg">
            <div class="div-3">
                <div class="titF">País :</div>
                <div class="selectP2 disabled borde_redondeado">
                    <input type="text" id="txtPais" disabled="disabled" />
                </div>
            </div>
            <div class="div-3">
                <div class="titJ">Fecha facturación:</div>
                <div class="calendar borde_redondeado">
                    <input type="text" id="txtFechaFacturacion">
                </div>
            </div>
            <div class="div-3">
                <div class="titF"></div>
                <div class="input_add_alert_left">
                    <input type="button" name="" id="btnGenerar" value="Ejecutar" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper">
            <div id="divListadoPedido" class="tabla2" style="overflow-x:hidden;">
                @if (Model != null)
                {
                    Html.RenderPartial("ListaProcesoPROL", this.Model);
                }
            </div>
        </div>
        <div class="sep"></div>
    </div>
</div>
<div id="loadingScreen"></div>
@section Scripts
{
    <script type="text/javascript">
        $(function () {
            setInterval(function () {
                $.ajaxSetup({
                    cache: false
                });
                $('#divListadoPedido').hide().load(baseUrl + 'EjecucionPROLAuto/ListarProcesoParcial').fadeIn('slow');
            }, 60000);
        });
    </script>
}