@model Portal.Consultoras.Web.Models.ValidacionAutomaticaModel
<table id="tbListadoPedido">
    <thead>
        <tr>
            <th style="width: 15%;">Fecha/Hora Inicio
            </th>
            <th style="width: 15%;">Fecha/Hora Fin
            </th>
            <th style="width: 25%;">Estado
            </th>
            <th style="width: 15%;">Envío de Correo
            </th>
            <th style="width: 15%;">Fecha/Hora Inicio Envío Correo
            </th>
            <th style="width: 15%;">Fecha/Hora Fin Envío Correo
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaValidacionAutomatica)
        {
            <tr class="f3">
                <td class="center">
                    @Html.DisplayTextFor(modelItem => item.FechaHoraInicio)
                </td>
                <td class="center">
                    @if (item.FechaHoraFin.Year != 2000)
                    {
                        @Html.DisplayTextFor(modelItem => item.FechaHoraFin)
                    }
                </td>
                <td class="center">
                    @Html.DisplayTextFor(modelItem => item.DescripcionEstado)
                </td>
                <td class="center">
                    @if (item.EnvioCorreo)
                    {
                        <label>SI</label>
                    }
                    else
                    { 
                        <label>NO</label>
                    }
                </td>
                <td class="center">
                    @if (item.FechaHoraInicioEnvio.Year != 2000)
                    {
                        @Html.DisplayTextFor(modelItem => item.FechaHoraInicioEnvio)
                    }
                </td>
                <td class="center">
                    @if (item.FechaHoraFinEnvio.Year != 2000)
                    {
                        @Html.DisplayTextFor(modelItem => item.FechaHoraFinEnvio)
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
