@model Portal.Consultoras.Web.Models.ValidacionAutomaticaModel
<table id="tbListadoPedido">
    @if(Model != null)
    {
        <tr>
            <td class="titulo_grilla_ListaProcesoAutoProl">Fecha de Facturación</td>
            <td colspan="3" class="fondoInfo_grilla_ListaProcesoAutoProl">
                @Html.DisplayTextFor(modelItem => Model.FechaFacturacion)
            </td>            
        </tr>
        <tr>
            <td class="titulo_grilla_ListaProcesoAutoProl">Proceso</td>
            <td class="titulo_grilla_ListaProcesoAutoProl">Fecha / Hora Inicio</td>
            <td class="titulo_grilla_ListaProcesoAutoProl">Fecha / Hora Fin</td>
            <td class="titulo_grilla_ListaProcesoAutoProl">Estado</td>
        </tr>
        foreach (var item in Model.ListaValidacionAutomatica)
        {
            <tr>
                <td class="fondoInfo_grilla_ListaProcesoAutoProl">@Html.DisplayTextFor(modelItem => item.Proceso)</td>
                <td class="fondoInfo_grilla_ListaProcesoAutoProl">@Html.DisplayTextFor(modelItem => item.FechaHoraInicio)</td>
                <td class="fondoInfo_grilla_ListaProcesoAutoProl">@Html.DisplayTextFor(modelItem => item.FechaHoraFin)</td>
                <td class="fondoInfo_grilla_ListaProcesoAutoProl">@Html.DisplayTextFor(modelItem => item.Estado)</td>
            </tr>
        }
    }
</table>
