@using Portal.Consultoras.Common;
@using Portal.Consultoras.Web.Models.PagoEnLinea;
@model PagoEnLineaModel

@{
    ViewBag.Title = "Pago En Línea";
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
    var metodoPago = Model.MetodoPagoSeleccionado;
}

@section styles{

    @if (System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika").Contains(ViewBag.PaisAnalytics == null ? "" : ViewBag.PaisAnalytics))
    { 

        <link rel="stylesheet" href="@Url.Content("~/Content/Css/Mobile/Esika/pago-en-linea.css")?v=1">

    }
    else
    {

        <link rel="stylesheet" href="@Url.Content("~/Content/Css/Mobile/Lbel/pago-en-linea.css")?v=1">

    }

    <style type="text/css">
        .footer-page {
            display: none;
            margin-bottom: 54px;
        }
    </style>

}

<div class="cabecera_vista_pago_en_linea">
    <a href="@Request.UrlReferrer" class="enlace_regresar ajustePosicionFlecha" style="display:block" title="Regresar"></a>
    PAGO EN LÍNEA
</div>

<div class="content_belcorp">
    <div class="pestana_lbel"></div>

    <div class="proceso_de_pago_en_linea">

        <div class="cantidad_pasos_proceso_pago" id="divProcesoPasosVisa">

            <span class="paso_proceso_pago_en_linea paso_activo">1</span>
            <span class="paso_proceso_pago_en_linea mr-0">2</span>

            <div class="linea_conectora_pasos">
                <span class="fondo_pasos_proceso_pago_avance"></span>
            </div>
        </div>

        <div class="seleccion_monto_a_pagar" id="divPagoEnLineaPaso1">
            <h3>SELECCIONA EL TIPO DE PAGO</h3>

            <input type="hidden" id="hdMontoDeuda" value="@Model.MontoDeuda" name="MontoDeuda" />
            <input type="hidden" id="hdPorcentajeGastosAdministrativos" value="@Model.PorcentajeGastosAdministrativos" name="PorcentajeGastosAdministrativos" />

            <ul class="lista_opciones_pago">
                @foreach (var item in Model.ListaTipoPago)
                {
                    if (item.Codigo == Constantes.PagoEnLineaTipoPago.PagoTotal)
                    {
                        <li class="opcion_pago pagoTotal">
                            <div class="opcion_pago_contenido_visible_sin_desplegar opcionPagoMobile w-100">
                                <div class="col_izq">
                                    <div class="contenedor_monto_pago_total">
                                        <h4 class="titulo_monto_pago_total">
                                            @item.Descripcion:
                                        </h4>
                                        <div class="monto_total_pago_en_linea">
                                            <span class="tipo_moneda_pais">@Model.Simbolo</span>
                                            <span class="monto_moneda_pais">@Model.MontoDeudaString</span>
                                        </div>
                                    </div>
                                    <div class="fecha_vencimiento_pago_en_linea">
                                        <span>Vence </span>
                                        <span>@Model.FechaVencimientoString</span>
                                    </div>
                                </div>
                                <div class="col_der">
                                    <div class="icono_flecha_despliegue">
                                        <img src="@Url.Content("~/Content/Images/flecha-despliegue.svg")" alt="Desplegar contenido" />
                                    </div>
                                </div>
                            </div>
                            <div class="opcion_pago_contenido_visible_al_desplegar w-100" style="display:none;">
                                <div class="opcion_pago_monto">
                                    <div class="w-53 text-left">Monto :</div>
                                    <div class="w-45 text-right">@Model.MontoDeudaString</div>
                                </div>
                                <div class="opcion_pago_gastos_administrativos">
                                    <div class="w-53 text-left">@ViewBag.PagoEnLineaGastosLabel (@Model.PorcentajeGastosAdministrativos%) :</div>
                                    <div class="w-45 text-right">@Model.MontoGastosAdministrativosString</div>
                                </div>
                                <hr class="linea_separacion_montos_y_total" />
                                <div class="opcion_pago_total_a_pagar">
                                    <div class="w-53 text-left text-bold-black">TOTAL POR PAGAR :</div>
                                    <div class="w-45 text-right text-bold-black">@Model.MontoDeudaConGastosString</div>
                                </div>
                                <div class="aceptar_terminos_y_condiciones">
                                    <input type="hidden" value="@metodoPago.TerminosCondiciones" data-terminos />
                                    <div class="descripcion_opcion_activacion">
                                        Al presionar continuar aceptas los
                                        @if (metodoPago.TipoVisualizacionTyC == Constantes.PagoEnLineaMetodoPagoVisualizacionTyC.Popup)
                                        {
                                            <a class="ver_terminos_y_condiciones" data-tipovisualizacion="">
                                                términos y condiciones
                                            </a>
                                        }
                                        @if (metodoPago.TipoVisualizacionTyC == Constantes.PagoEnLineaMetodoPagoVisualizacionTyC.Archivo)
                                        {
                                            <a class="ver_terminos_y_condiciones" target="_blank" href="@metodoPago.TerminosCondiciones">
                                                términos y condiciones
                                            </a>
                                        }

                                    </div>
                                </div>
                                <button type="button" class="btn_pago_tarjeta_credito text-bold text-uppercase default-background w-100" id="btnPagoTotal">
                                    Continuar
                                </button>
                            </div>
                        </li>
                    }
                    if (item.Codigo == Constantes.PagoEnLineaTipoPago.PagoParcial)
                    {
                        <li class="opcion_pago pagoParcial">
                            <div class="opcion_pago_contenido_visible_sin_desplegar opcionPagoMobile w-100">
                                <div class="col_izq">
                                    <h4 class="titulo_monto_pago_editable">
                                        @item.Descripcion:
                                    </h4>
                                    <div class="monto_editable_pago_en_linea">
                                        <span class="tipo_moneda_pais">@Model.Simbolo</span>
                                        <input type="text" class="monto_a_editar" id="txtMontoParcial"
                                               placeholder="@Util.DecimalToStringFormat(0, Model.CodigoIso)"
                                               value="" onkeypress="return FuncionesGenerales.ValidarSoloDecimalPositivo(event, this, true);" />
                                    </div>
                                </div>
                                <div class="col_der">
                                    <div class="icono_flecha_despliegue">
                                        <img src="@Url.Content("~/Content/Images/flecha-despliegue.svg")" alt="Desplegar contenido" />
                                    </div>
                                </div>
                            </div>
                            <div class="opcion_pago_contenido_visible_al_desplegar w-100" style="display:none;" id="pnParcial">
                                <div class="opcion_pago_monto">
                                    <div class="w-53 text-left">Monto :</div>
                                    <div class="w-45 text-right" id="spnMontoParcial">
                                        @Util.DecimalToStringFormat(0, Model.CodigoIso)
                                    </div>
                                </div>
                                <div class="opcion_pago_gastos_administrativos">
                                    <div class="w-53 text-left">@ViewBag.PagoEnLineaGastosLabel (@Model.PorcentajeGastosAdministrativos%) :</div>
                                    <div class="w-45 text-right" id="spnMontoGastosAdministrativos">
                                        @Util.DecimalToStringFormat(0, Model.CodigoIso)
                                    </div>
                                </div>
                                <hr class="linea_separacion_montos_y_total" />
                                <div class="opcion_pago_total_a_pagar">
                                    <div class="w-53 text-left text-bold-black">TOTAL POR PAGAR :</div>
                                    <div class="w-45 text-right text-bold-black" id="spnMontoParcialConGastos">
                                        @Util.DecimalToStringFormat(0, Model.CodigoIso)
                                    </div>
                                </div>
                                <div class="aceptar_terminos_y_condiciones">
                                    <input type="hidden" value="@metodoPago.TerminosCondiciones" data-terminos />
                                    <div class="descripcion_opcion_activacion">
                                        Al presionar continuar aceptas los
                                        @if (metodoPago.TipoVisualizacionTyC == Constantes.PagoEnLineaMetodoPagoVisualizacionTyC.Popup)
                                        {
                                            <a class="ver_terminos_y_condiciones" data-tipovisualizacion="">
                                                términos y condiciones
                                            </a>
                                        }
                                        @if (metodoPago.TipoVisualizacionTyC == Constantes.PagoEnLineaMetodoPagoVisualizacionTyC.Archivo)
                                        {
                                            <a class="ver_terminos_y_condiciones" target="_blank" href="@metodoPago.TerminosCondiciones">
                                                términos y condiciones
                                            </a>
                                        }

                                    </div>
                                </div>
                                <button type="button" class="btn_pago_tarjeta_credito text-bold text-uppercase default-background w-100" id="btnPagoParcial">
                                    Continuar
                                </button>
                            </div>
                        </li>
                    }
                }
            </ul>
            <div class="info_pago_seguro_con_tarjetas">
                <p class="info_requerimiento_tarjeta_habilitada">Tu tarjeta debe estar habilitada para Compras Online</p>
                <div class="lista_tarjetas_permitidas_para_pago">
                    <div class="texto_pago_seguro text-uppercase">Pago seguro con</div>
                    @foreach (var itemMedioPago in Model.ListaMedioPago)
                    {
                        <div class="icono_marca_tarjeta">
                            <img src="@itemMedioPago.RutaIcono" alt="" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="popup_terminos_y_condiciones">
        <a href="#" class="cerrar_popup_terminos_y_condiciones" title="Cerrar">
        </a>
        <h4 class="titulo_terminos_y_condiciones text-uppercase">Términos y condiciones</h4>
        <div class="contenido_terminos_y_condiciones descripcion_terminos_y_condiciones" id="divContenidoTerminosCondiciones">

        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/PagoEnLinea/Index.js")?v=2"></script>
    <script type="text/javascript">
        var pasarelaActual = '@metodoPago.TipoPasarelaCodigoPlataforma';
        var metodoPagoPasarelaVisa = '@Constantes.PagoEnLineaMetodoPago.PasarelaVisa';
        var metodoPagoPasarelaBelcorpPayU = '@Constantes.PagoEnLineaMetodoPago.PasarelaBelcorpPayU';
        var rutaPagoVisa = '@Url.Action("PagoVisa", "PagoEnLinea", new { area = "Mobile" })';
        var urlPasarelaPago = '@Url.Action("PasarelaPago","PagoEnLinea", new { area = "Mobile" })';
        var rutaGuardarDatosPago = '@Url.Action("GuardarMontoDeuda", "PagoEnLinea", new { area = "" })';
        var tipoOrigenPantalla = 2;
    </script>
}
