
@{
    ViewBag.Title = "Pago Exitoso";
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}

@section styles{

    @if (System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika").Contains(ViewBag.PaisAnalytics == null ? "" : ViewBag.PaisAnalytics))
    {

        <link rel="stylesheet" href="@Url.Content("~/Content/Css/Mobile/Esika/pago-en-linea.css")">

    }
    else
    {

        <link rel="stylesheet" href="@Url.Content("~/Content/Css/Mobile/Lbel/pago-en-linea.css")">

    }

    <style type="text/css">
        .footer-page {
            display: none;
            margin-bottom: 54px;
        }
    </style>

}

<div class="cabecera_vista_pago_en_linea">
    <a href="@Request.UrlReferrer" class="enlace_regresar ajustePosicionFlecha" style="display:normal" title="Regresar"></a>
    PAGO EN LÍNEA
</div>

<div class="content_belcorp">
    <div class="pestana_lbel"></div>

    <div class="proceso_de_pago_en_linea">

        <div class="pago_rechazado">

            <div class="icono_pago_rechazado"></div>
            <h3 class="titulo_pago_rechazado">
                Pago <strong>rechazado</strong>
            </h3>
            <p class="mensaje_pago_rechazado">
                Tu pago no se pudo realizar.
            </p>

        </div>
        @if (!string.IsNullOrEmpty(Model.DescripcionCodigoAccion))
        {
            <br />
            <div class="resumen_pago">
                <p class="info_num_operacion_pago">
                    Número de operación: <span class="num_operacion_pago">@Model.NumeroOperacion</span>
                </p>
                <div class="num_tarjeta">
                    <span>Fecha de Operación:</span>
                    <span>@Model.FechaCreacionString</span>
                </div>
                <div class="num_tarjeta">
                    <span>Motivo de Denegación:</span>
                    <span>@Model.DescripcionCodigoAccion</span>
                </div>
            </div>
        }

    </div>

</div>

@section scripts{

}
