@using Portal.Consultoras.Common;
@using Portal.Consultoras.Web.Models.PagoEnLinea;
@model PagoEnLineaModel

@{
    ViewBag.Title = "Pago En Línea";
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
    var requiredFields = (IEnumerable<string>)ViewBag.PagoLineaCamposRequeridos;
}

@section styles{

    <link rel="stylesheet" href="@Url.Content("~/Content/Css/ui.jquery/Esika/jquery-ui.css")">

    @if (System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika").Contains(ViewBag.PaisAnalytics == null ? "" : ViewBag.PaisAnalytics))
    {

        <link rel="stylesheet" href="@Url.Content("~/Content/Css/Mobile/Esika/pago-en-linea.css")">

    }
    else
    {

        <link rel="stylesheet" href="@Url.Content("~/Content/Css/Mobile/Lbel/pago-en-linea.css")">

    }

    <style type="text/css">
        .footer-page {
            display: none;
            margin-bottom: 54px;
        }

        #btn_init {
            display: none !important;
        }

        #btn_open {
            display: none !important;
        }
    </style>

}

<div class="cabecera_vista_pago_en_linea">
    <a id="linkRegresar" href="@Request.UrlReferrer" class="enlace_regresar ajustePosicionFlecha" style="display:normal" title="Regresar"></a>
    PAGO EN LÍNEA
</div>

<div class="content_belcorp">
    <div class="pestana_lbel"></div>
    <div class="proceso_de_pago_en_linea">
        <div class="cantidad_pasos_proceso_pago">

            <span class="paso_proceso_pago_en_linea paso_activo paso_completado">1</span>
            <span class="paso_proceso_pago_en_linea paso_activo paso_completado">2</span>
            <span class="paso_proceso_pago_en_linea mr-0 paso_activo">3</span>

            <div class="linea_conectora_pasos">
                <span class="fondo_pasos_proceso_pago_avance"></span>
            </div>
        </div>
        <div class="pasarela_pago">
            <h3 class="text-center">
                TARJETA DE CRÉDITO O DÉBITO
            </h3>
            <div class="formulario_pasarela_pago">
                <div class="grupo_campo_formulario_pasarela_pago">
                    <label class="nom_campo_formulario_pasarela_pago w-100">*Número de tarjeta :</label>
                    <input type="text" value="" class="campo_formulario_pasarela_pago w-100 campo_num_tarjeta_credito_o_debito" />
                    <div class="mensaje_validacion text-center w-100" style="display:none;">
                        <span class="icono_validacion_incorrecta"></span>
                        <span>El número ingresado no es correcto.</span>
                    </div>
                </div>
                <div class="grupo_campo_formulario_pasarela_pago">
                    <div class="w-69 pr-7 vAlignTop">
                        <label class="nom_campo_formulario_pasarela_pago w-100">*Fecha de expiración :</label>
                        <select class="campo_formulario_pasarela_pago campo_seleccion_fecha_expiracion campo_mes mr-5">
                            <option value="0">MES</option>
                            @foreach (var month in Enumerable.Range(1, 12).Select(i => i.ToString("00")))
                            {
                                <option value="@month">@month</option>
                            }
                        </select>
                        <select class="campo_formulario_pasarela_pago campo_seleccion_fecha_expiracion campo_anio">
                            <option value="0">AÑO</option>
                            @foreach (var year in Enumerable.Range(DateTime.Now.Year, 20))
                            {
                                <option value="@year">@year</option>
                            }
                        </select>
                        <div class="mensaje_validacion text-center w-100" style="display:none;">
                            <span class="icono_validacion_incorrecta"></span>
                            <span>La fecha no es válida.</span>
                        </div>
                    </div>
                    <div class="w-30 pl-8 vAlignTop">
                        <label class="nom_campo_formulario_pasarela_pago w-100">
                            <span>*CVV :</span>
                            <span class="tooltip_informativo">
                                <img src="@Url.Content("~/Content/Images/icono_tooltip_informativo.svg")" alt="Tooltip Informativo" />
                                <span class="info_tooltip_informativo">
                                    Son los 3 dígitos que se ubican en la parte posterior de tu tarjeta, al lado derecho.
                                </span>
                            </span>
                        </label>
                        <input type="text" value="" class="campo_formulario_pasarela_pago w-100" />
                    </div>
                </div>
                <div class="grupo_campo_formulario_pasarela_pago">
                    <label class="nom_campo_formulario_pasarela_pago w-100">*Titular de la tarjeta :</label>
                    <input type="text" value="" class="campo_formulario_pasarela_pago w-100" placeholder="SOFÍA GARCÍA" />
                </div>
                @if (requiredFields.Contains(Constantes.PagoEnLineaCampos.FechaNacimiento))
                {
                    <div class="grupo_campo_formulario_pasarela_pago">
                        <label class="nom_campo_formulario_pasarela_pago w-100">*Fecha de nacimiento :</label>
                        <input type="text" value="" id="CampoFechaNacimiento" class="campo_formulario_pasarela_pago w-100" placeholder="00/00/0000" />
                    </div>
                }
                <div class="grupo_campo_formulario_pasarela_pago">
                    <label class="nom_campo_formulario_pasarela_pago w-100">*Correo Electrónico :</label>
                    <input type="email" value="" class="campo_formulario_pasarela_pago w-100" placeholder="tucorreo@belcorp.biz" />
                </div>
                <div class="grupo_campo_formulario_pasarela_pago">
                    <label class="nom_campo_formulario_pasarela_pago w-100">*Número de celular :</label>
                    <input type="text" value="" class="campo_formulario_pasarela_pago w-100" placeholder="000000000" />
                </div>
                <button type="submit" class="btn_pago_tarjeta_credito text-bold text-uppercase default-background w-100 mt-30">
                    Pagar
                </button>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>

        $(document).ready(function () {

            $("#CampoFechaNacimiento").datepicker();

        });

    </script>    
    
}