@model Portal.Consultoras.Web.Models.ReportePedidoCampaniaModel
@{
    ViewBag.Title = "Detalle de Pedido";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <title>Belcorp | Portal Consultoras</title>

    <meta name="description" content="" />
    <meta name="author" content="" />

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script type="text/javascript">var baseUrl = "@Url.Content("~")"; </script>
    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/Desktop/JQueryJs")
    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/Desktop/JQGridJs")
    <link href = "@Url.Content("~/Content/Css/ui.jquery/jquery-ui.css")" rel="stylesheet" type="text/css" />
    <link href = "@Url.Content("~/Content/Css/ui.jqgrid/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
    <link href = "@Url.Content("~/Content/Css/Site/style.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        window.history.forward();
        function noBack() { window.history.forward(); }
    </script>
    <script type="text/javascript" src="~/Scripts/maskedinput.js"></script>
    <script type="text/javascript" src="~/Scripts/General.js"></script>

    <script type="text/javascript" src="~/Scripts/modernizr.custom.js"></script>

    <script type="text/javascript" src="~/Scripts/jqueryslidemenu.js"></script>

    <script type="text/javascript" src="~/Scripts/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.touchSwipe.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.cycle.all.min.js"></script>
    <script type="text/javascript" src="~/Scripts/respond.min.js"></script>
    <script type="text/javascript" src="~/Scripts/trans-banner.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            fnGrilla();
            $('txtCodigos').val($('#CodigoConsultoras').val());
        });

        function fnGrilla() {
            jQuery("#gvwPedidosCampana").jqGrid({
                url: baseUrl + "ReportePedidoCampania/ConsultarPedidoCampania",
                hidegrid: false,
                datatype: 'json',
                postData: ({
                    vPaisID: function () { return jQuery.trim($("#ddlPais").val()); },
                    vCampania: function () { return jQuery.trim($("#ddlCampania").val()); },
                    vRegion: function () { return jQuery.trim($("#ddlRegion option:selected").text()); },
                    vZona: function () { return jQuery.trim($("#ddlZona option:selected").text()); },
                    vConsultora: function () { return jQuery.trim($('#txtCodigos').val()); }
                }),
                mtype: 'GET',
                contentType: "application/json; charset=utf-8",
                colNames: ['Cod. Consultora', 'Territorio', 'Cod. Venta', 'Cod. Producto', 'Unidades Demandadas', 'Monto Demandado', 'Cod. Tipo Oferta', 'Origen', 'Fecha Ult. Act.'],
                colModel: [
                    { name: 'CodigoConsultora', index: 'CodigoConsultora', width: 0, editable: false, align: 'center', hidden: true },
                    { name: 'Territorio', index: 'Territorio', width: 8, editable: true, resizable: false },
                    { name: 'CUV', index: 'CUV', width: 10, editable: true, resizable: false },
                    { name: 'CodigoProducto', index: 'CodigoProducto', width: 10, editable: true, resizable: false },
                    { name: 'UnidadesDemandadas', index: 'UnidadesDemandadas', width: 10, editable: true, resizable: false },
                    { name: 'MontoDemandado', index: 'MontoDemandado', width: 10, editable: true, resizable: false },
                    { name: 'TipoOferta', index: 'TipoOferta', width: 10, editable: true, resizable: false },
                    { name: 'Origen', index: 'Origen', width: 8, editable: true, resizable: false },
                    { name: 'FechaUltima', index: 'FechaUltima', width: 10, editable: true, resizable: false }
                ],
                jsonReader:
                    {
                        root: "rows",
                        page: "page",
                        total: "total",
                        records: "records",
                        repeatitems: true,
                        cell: "cell",
                        idCampania: "idCampania",
                        idPedido: "idPedido"
                    },
                pager: jQuery('#pager'),
                loadtext: 'Cargando datos...',
                recordtext: "{0} - {1} de {2} Registros",
                emptyrecords: 'No hay resultados',
                rowNum: $("#hdn_vrowNum").val(),
                scrollOffset: 0,
                rowList: [10, 20, 30, 40, 50],
                sortname: $("#hdn_vsortname").val(),
                sortorder: $("#hdn_vsortorder").val(),
                viewrecords: true,
                multiselect: false,
                height: 'auto',
                width: 930,
                pgtext: 'Pág: {0} de {1}',
                altRows: true,
                altclass: 'jQGridAltRowClass',
                loadComplete: function () { },
                gridComplete: function () { },
                page: $("#hdn_vpage").val()
            });
            jQuery("#gvwPedidosCampana").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
            jQuery("#gvwPedidosCampana").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
        }
    </script>

    <style type="text/css">
        * {
            font-family: Arial !Important;
        }
    </style>
</head>
<body>
    <input type="hidden" id="hdConsultoraId" />
    <div id="loadingScreen"></div>
    <div class="wrap_cab">
        <div class="filtros2">
            <div class="elements">
                <div class="div-2">
                    <h1>Reporte de <span>Pedidos Por Campaña</span></h1>
                </div>
                <div class="div-3">
                    <div class="titC">País:</div>
                    <div class="selectP2 borde_redondeado">
                        @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais" })
                    </div>
                    <div class="titC">Campaña:</div>
                    <div class="selectP2 borde_redondeado">
                        @Html.DropDownListFor(model => model.CampaniaID, new SelectList(Model.listaCampanias, "CampaniaID", "NombreCorto"), "-- Seleccionar --", new { id = "ddlCampania" })
                    </div>
                    <div class="titC">Región:</div>
                    <div class="selectP2 borde_redondeado">
                        @Html.DropDownListFor(model => model.RegionID, new SelectList(Model.listaRegiones, "RegionID", "Codigo"), "-- Seleccionar --", new { id = "ddlRegion" })
                    </div>
                </div>
                <div class="div-3">
                    <div class="titC">Zona:</div>
                    <div class="selectP2 borde_redondeado">
                        @Html.DropDownListFor(model => model.ZonaID, new SelectList(Model.listaZonas, "ZonaID", "Codigo"), "-- Seleccionar --", new { id = "ddlZona" })
                    </div>
                    <div class="titC">Consultoras:</div>
                    <div class="selectP2 borde_redondeado">
                        <input type="text" id="txtCodigos" value="@Model.CodConsultoratxt" />
                        @Html.Hidden("hdConsultoraId", (string)Model.CodConsultoratxt_ID)
                    </div>
                    <div class="input_search">
                        <input type="submit" name="" id="btnBuscar" value="Buscar" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrap">
        <div class="container clearfix">
            <div class="border-wrapper">

                <table id="gvwPedidosCampana"></table>
                <div id="pager"></div>

            </div>
        </div>
    </div>
    <div class="wrap">
        <div class="container clearfix" style="text-align: center">
            <div class="input_global">
                <input id="btnExcel" type="button" value="Excel" onclick="ExportExcel();" />
            </div>
            <div class="input_global">
                <input id="btnImprimir" type="button" value="Imprimir" onclick="Imprimir();" />
            </div>
        </div>
    </div>
    <div class="wrap">
        <div class="container clearfix">
            <div class="b_responde">
                <div class="logos">
                    <img src="~/Content/Images/ban-5.png" />
                    <img src="~/Content/Images/ban-6.png" />
                    <img src="~/Content/Images/ban-7.png" />
                </div>
                <div class="responde">
                    <img src="~/Content/Images/logo_responde.png" />
                </div>
            </div>
        </div>

        <footer id="footer">
	<div class="container clearfix">
		<div class="foot_list">
        </div>
		<div class="foot_social">
            <label>Síguenos</label>
			<p><img src="~/Content/Images/ico_facebook.png" /></p>
			<p><img src="~/Content/Images/ico_twitter.png" /></p>
		</div>
		<div class="foot_belcorp">
            <p><img src="~/Content/Images/logo_foot.png"></p>
			<p><strong>Av. República de Panamá 3664 - San Isidro</strong></p>
			<p><strong>Central Telefónica: 519 20 00</strong></p>
			<p>Copyright Belcorp 2012. All rights reserved</p>
		</div>
	</div>
	</footer>
    </div>
    <script type="text/javascript" src="~/Scripts/custom.js"></script>

    @Html.Hidden("hdn_vpage", (string)Model.vpage)
    @Html.Hidden("hdn_vsortname", (string)Model.vsortname)
    @Html.Hidden("hdn_vsortorder", (string)Model.vsortorder)
    @Html.Hidden("hdn_vrowNum", (string)Model.vrowNum)


    @Html.Hidden("CodigoConsultoras", (string)Model.CodConsultoratxt)
</body>
</html>
