@using Portal.Consultoras.Web.Models;

@model ShowRoomBannerLateralModel

@if (Model.MostrarShowRoomProductos == true)
{
    <li>
        <div id="bannerShowRoomTop" class="content_banner_header_showroom">
            <img src="@ViewBag.ImagenBannerShowroomVenta" alt="" />
        </div>
    </li>
}
else
{
    <li>
        <a href="@Url.Action("Intriga", "ShowRoom", new {area = "Mobile"})">
            <div class="content_banner_header_showroom">
                <div class="content_titulo"><div class="titulo_intriga">VENTA EXCLUSIVA WEB</div></div>
                <div class="faltan_dias_header"><b>@ViewBag.DiasFaltantesLetras</b></div>
                <img src="@ViewBag.ImagenBannerShowroomIntriga" alt="" />
            </div>
        </a>
    </li>
}

<script>
    var urlShowRoom = '@Url.Action("Index", "ShowRoom", new { area = "Mobile" })';
</script>