@using Portal.Consultoras.Web.Models;

@model ShowRoomBannerLateralModel

<div id="divShowRoomHoy" class="divShowRoom">
    <input type="hidden" id="hdEventoIDShowRoom" value="@Model.BEShowRoom.EventoID" />
    <input type="hidden" id="hdNombreEventoShowRoom" value="@Model.BEShowRoom.Nombre" />
    <input type="hidden" id="hdTemaEventoShowRoom" value="@Model.BEShowRoom.Tema" />
    @if (Model.MostrarShowRoomProductos)
    {
        <input type="hidden" id="hdtiposw" value="1" />
        <div class="fondo_m">
            <a class="bannersc" href="@Url.Action("Index", "ShowRoom", new { area="Mobile" })">
                <div class="content_banner_new_showroom">
                    <img style="" src="@ViewBag.ImagenPopupShowroomVenta" alt="-" />
                </div>
            </a>
        </div>
    }
    else if (Model.MostrarShowRoomProductos == false)
    {
        <input type="hidden" id="hdtiposw" value="2" />
        <div class="fondo_m">
            <a class="bannersi" href="@Url.Action("Intriga", "ShowRoom", new { area="Mobile" })">
                <div class="content_banner_new_showroom">
                    <div class="dias_faltantes"><span id="spnDiasFaltantes">@ViewBag.DiasFaltantesLetras </span> </div>
                    <img style="" src="@ViewBag.ImagenPopupShowroomIntriga" alt="-" />
                </div>
            </a>
        </div>
    }
</div>