@{
    ViewBag.Title = "Asesora Online";
    Layout = "~/Views/Shared/_AsesoraOnlineLayout.cshtml";

}

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<style type="text/css">

    header, .SubHeader{
        display:none;
    }

    #contentmain{
        margin-top:0!important;
    }

    .boton_ayuda{
        display:none;
    }

</style>

<div id="quiero-inscribirme" class="seccion_quiero_inscribirme">

    <div class="img_cabecera_asesora_online">
    </div>

    <div class="wrapper_contenido_asesora_online tipografia_lato pt-35">
        <div class="marca_asesora_online">
            <img src="@Url.Content("~/Content/Images/logo-asesora-online.svg")" alt="Ésika Asesora Online">
        </div>
        <div class="cabecera_asesora_online">
            <div class="fondo_titulo_asesora">
                <div class="extension_fondo"></div>
                <div class="titulo_principal_asesora_online tipografia_lato_light">
                    SUSCRÍBETE Y GANA MÁS CON<br /><span class="titulo_tu_asesora_online tipografia_lato_bold">ÉSIKA TE ASESORA</span>
                </div>
            </div>
            <div class="descripcion_asesora_online tipografia_lato_regular">
                <span>
                    Recibe por correo y mensajes de texto los mejores tips y tutoriales para vender más, gestionar tus clientes, comprar ofertas exclusivas y mucho más. Estás a un solo clic.
                </span>
            </div>
            <a href="#formulario-inscripcion" class="cta_inscripcion tipografia_lato_bold" title="Quiero inscribirme">
                QUIERO TIPS Y OFERTAS
            </a>
        </div>
    </div>

</div>

<div id="beneficios-asesora" class="seccion_beneficios_asesora">

    <div class="wrapper_contenido_asesora_online wrapper_inscripcion tipografia_lato">
        <div class="titulos_beneficios_asesora_online">
            @*<div class="pregunta_inscripcion tipografia_lato_bold">
                ¿POR QUÉ INSCRIBIRTE?
            </div>*@
            <div class="conoce_beneficios tipografia_lato_light">
                <span class="salto_linea">CONOCE LOS </span><span class="tipografia_lato_bold">BENEFICIOS</span> DE RECIBIR <span class="tipografia_lato_bold color_esika">ASESORÍA ONLINE</span>
            </div>
        </div>

        <div class="lista_beneficios_asesora_online">
            <div>
                <div class="iconos_beneficios_asesora_online">
                    <img class="icono_vender_mas" src="@Url.Content("~/Content/Images/icono-vender-mas-asesora-online.svg")" alt="Vende más">
                </div>
                <div class="titulo_beneficios_asesora_online tipografia_lato_bold">
                    <span class="salto_linea">Conocerás</span> como vender más
                </div>
                <div class="descripcion_beneficios_asesora_online">
                    Recibirás consejos y recomendaciones para vender más productos top, categorías y lanzamientos.
                </div>
            </div>
            <div>
                <div class="iconos_beneficios_asesora_online">
                    <img class="icono_oferta" src="@Url.Content("~/Content/Images/icono-ofertas-asesora-online.svg")" alt="Ofertas">
                </div>
                <div class="titulo_beneficios_asesora_online tipografia_lato_bold">
                    <span class="salto_linea">Estarás al tanto</span> de cada oferta
                </div>
                <div class="descripcion_beneficios_asesora_online">
                    Tendrás ofertas personalizadas que serán elegidas únicamente para ti.
                </div>
            </div>
            <div>
                <div class="iconos_beneficios_asesora_online">
                    <img class="icono_fechas_importantes" src="@Url.Content("~/Content/Images/icono-notificacion-fechas-importantes-asesora-online.svg")" alt="Fechas importantes">
                </div>
                <div class="titulo_beneficios_asesora_online tipografia_lato_bold">
                    Te recordaremos fechas importantes
                </div>
                <div class="descripcion_beneficios_asesora_online">
                    Tendrás notificaciones cada fecha o evento importante, no se te pasará ningún detalle en la campaña.
                </div>
            </div>
        </div>
    </div>

</div>

<div id="formulario-inscripcion" class="seccion_formulario_inscripcion">

    <div class="wrapper_contenido_asesora_online alinear_derecha tipografia_lato">
        <div class="titulo_formulario_inscripcion tipografia_lato_light">
            <span class="tipografia_lato_bold">SÓLO RESPONDE LA PREGUNTA</span><br />¡Y PREPÁRATE PARA CRECER!
        </div>
        <div class="contenedor_formulario">
            <form class="formulario_inscripcion tipografia_lato">
                <div class="seccion_primer_paso">
                    <div class="seccion_primer_paso_titulo">
                        @*<div class="num_paso tipografia_lato_light">1</div>*@
                        <div class="texto_titulo">
                            <span class="tipografia_lato_bold">¿Cuál es tu forma de vender ganadora?</span>
                            <span class="tipografia_lato_regular">Puedes seleccionar más de una opción.</span>
                        </div>
                    </div>
                    <div class="lista_opciones_crecimiento_negocio">
                        <div class="opcion_crecimiento_negocio">
                            <input id="revisar-catalogo-clientes" type="radio" name="opcion-crecimiento-negocio">
                            <label for="revisar-catalogo-clientes">
                                <span></span>
                                Reviso el catálogo con mis clientes
                            </label>
                        </div>
                        <div class="opcion_crecimiento_negocio textoOpcionDejarCatalogo">
                            <input id="dejar-catalogo-clientes" type="radio" name="opcion-crecimiento-negocio">
                            <label for="dejar-catalogo-clientes">
                                <span></span>
                                Dejo el catálogo a mis clientes y vuelvo
                            </label>
                        </div>
                        <div class="opcion_crecimiento_negocio textoOpcionTienda">
                            <input id="mis-clientes-vienen" type="radio" name="opcion-crecimiento-negocio">
                            <label for="mis-clientes-vienen">
                                <span></span>
                                Mis clientes vienen a mi tienda
                            </label>
                        </div>
                        <div class="opcion_crecimiento_negocio">
                            <input id="llamar-pedir-productos" type="radio" name="opcion-crecimiento-negocio">
                            <label for="llamar-pedir-productos">
                                <span></span>
                                Me llaman a pedirme los productos
                            </label>
                        </div>
                    </div>
                </div>
                @*<div class="seccion_segundo_paso">
                    <div class="seccion_segundo_paso_titulo">
                        <div class="num_paso tipografia_lato_light">2</div>
                        <div class="texto_titulo">
                            <span class="tipografia_lato_bold">Completa o modifica tus datos.</span>
                            <span class="ocultar_en_mobile">Todos son necesarios.</span>
                        </div>
                    </div>
                    <div class="datos_consultora">
                        <input id="email-consultora" class="tipografia_lato tipografia_lato_regular" type="email" name="email-consultora" placeholder="Ingresa tu email">
                        <input id="num-celular-consultora" class="tipografia_lato tipografia_lato_regular" type="text" name="num-celular-consultora" placeholder="Ingresa tu celular">
                        <input id="num-cedula-consultora" class="tipografia_lato tipografia_lato_regular" type="text" name="num-cedula-consultora" placeholder="Ingresa tu número de cédula">
                    </div>
                </div>*@
                <div class="seccion_enviar_formulario">
                    <div class="terminos_condiciones_form">
                        <div>
                            <input type="checkbox" id="terminos-condiciones">
                            <label class="tipografia_lato_light" for="terminos-condiciones">
                                <span></span>
                                Acepto los <a href="#" title="Términos y condiciones" target="_blank">términos y condiciones.</a>
                            </label>
                        </div>
                        <div>
                            <input class="btn_enviar_form tipografia_lato tipografia_lato_bold" type="submit" id="enviar-form" value="Quiero tips y ofertas">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

<div id="seccion-instagram" class="seccion_instagram">

    <div class="franja_gris">

    </div>
    <div class="contenedor-seccion-instagram">
        <div class="hashtag-esika tipografia_lato tipografia_lato_regular">#ESIKADIGITAL</div>
        <div class="elfsight-app-44abd7dc-0674-4db9-ad9c-c970cb8bf498"></div>
    </div>

    <div class="info_derechos_belcorp">
        <div class="marca_esika">
            <img src="@Url.Content("~/Content/Images//logo_esika_footer.svg")" alt="">
        </div>
        <div class="texto_info_derechos tipografia_lato tipografia_lato_regular">
            El contenido de www.esika.com, así como todas las marcas, logos o símbolos que mostramos, son propiedad intelectual de Belcorp, de sus filiales o de sus licenciantes. cualquier uso sin autorización previa está estrictamente prohibido y dará lugar a sanciones penales y civiles.
        </div>
    </div>

</div>

@System.Web.Optimization.Scripts.Render("~/Scripts/PortalConsultoras/AsesoraOnline/AsesoraOnline.js")
@System.Web.Optimization.Scripts.Render("~/Scripts/PortalConsultoras/AsesoraOnline/Index.js")
<script type="text/javascript" src="https://apps.elfsight.com/p/platform.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>

