@{
    ViewBag.Title = "Asesora Online";
    Layout = "~/Views/Shared/_AsesoraOnlineLayout.cshtml";
}

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<style type="text/css">
    header, .SubHeader {
        display: none;
    }

    #contentmain {
        margin-top: 0 !important;
    }

    .boton_ayuda {
        display: none;
    }
</style>

<div id="quiero-inscribirme" class="seccion_quiero_inscribirme">

    <div class="wrapper_contenido_asesora_online tipografia_lato pt-0">
        <div class="cabecera_asesora_online">
            <div class="extension_fondo_cabecera"></div>
            <div class="extension_fondo_cabecera_2"></div>
            <div class="titulo_principal_asesora_online">
                <span>
                    <img src="@Url.Content("~/Content/Images/logo-esika-landing.svg")" alt="Logo Ésika" />
                </span>
                <span>
                    <img src="@Url.Content("~/Content/Images/linea-separadora.svg")" alt="" />
                </span>
                <span class="tipografia_lato_light">
                    MI GUÍA DIGITAL
                </span>
            </div>
            <div class="descripcion_asesora_online tipografia_lato_regular">
                <div class="tipografia_lato_light">
                    RENOVAMOS LA FORMA DE ESTAR A TU LADO <span class="salto_linea">PARA DARTE CONSEJOS A DONDE VAYAS</span>
                </div>
                <div class="tipografia_lato_bold">SUSCRÍBETE Y LOGREMOS JUNTOS UN GRAN NEGOCIO</div>
            </div>
            <a href="#formulario-inscripcion" id="cta-suscribirme" class="cta_inscripcion tipografia_lato_bold" title="Quiero suscribirme">
                QUIERO SUSCRIBIRME
            </a>
        </div>
        <div class="img_cabecera_asesora_online">
            <img class="img_cabecera_coach_virtual_desktop" src="@Url.Content("~/Content/Images/img_cabecera_asesora_online.png")" alt="Ésika Asesora Online">
        </div>
    </div>

</div>

<div id="beneficios-asesora" class="seccion_beneficios_asesora">

    <div class="wrapper_contenido_asesora_online tipografia_lato">
        <a href="#titulo-asesora-online" class="arrow_down_coach_virtual">
            <img class="icono_vender_mas" src="@Url.Content("~/Content/Images/arrow-down.svg")" alt="Vende más">
        </a>
        <div class="titulos_beneficios_asesora_online" id="titulo-asesora-online">
            <div class="conoce_beneficios tipografia_lato_light">
                <span class="salto_linea">BENEFICIOS DE </span><span class="tipografia_lato_bold">ÉSIKA MI GUÍA <span class="salto_linea">DIGITAL</span></span>
            </div>
        </div>

        <div class="lista_beneficios_asesora_online">
            <div>
                <div class="contenedor_titulo_beneficio_asesora_online">
                    <div class="iconos_beneficios_asesora_online">
                        <img class="icono_vender_mas" src="@Url.Content("~/Content/Images/icono-vender-mas-asesora-online.svg")" alt="Vende más">
                    </div>
                    <div class="titulo_beneficios_asesora_online tipografia_lato_bold">
                        <span>
                            Recibirás<br />
                            <span class="color_esika">CONSEJOS PARA</span>
                            <br />
                            <span class="color_esika">TU NEGOCIO.</span>
                        </span>
                    </div>
                </div>
                <div class="descripcion_beneficios_asesora_online">
                    <span class="tipografia_lato_bold">Correos</span> con las técnicas de venta ganadoras de cada marca.
                </div>
            </div>
            <div>
                <div class="contenedor_titulo_beneficio_asesora_online contenedor_titulo_beneficio_ofertas">
                    <div class="iconos_beneficios_asesora_online">
                        <img class="icono_oferta" src="@Url.Content("~/Content/Images/icono-ofertas-asesora-online.svg")" alt="Ofertas">
                    </div>
                    <div class="titulo_beneficios_asesora_online tipografia_lato_bold">
                        <span>
                            Aprovecharás <span class="color_esika">OFERTAS</span>
                            <br />
                            <span class="color_esika">PERSONALIZADAS</span>
                            <br />
                            <span class="color_esika">PARA TI.</span>
                        </span>
                    </div>
                </div>
                <div class="descripcion_beneficios_asesora_online">
                    <span class="tipografia_lato_bold salto_linea">Mensajes de texto</span> avisándote las ofertas de <span class="tipografia_lato_bold">somosbelcorp.com</span>
                </div>
            </div>
            <div>
                <div class="contenedor_titulo_beneficio_asesora_online">
                    <div class="iconos_beneficios_asesora_online">
                        <img class="icono_fechas_importantes" src="@Url.Content("~/Content/Images/icono-notificacion-fechas-importantes-asesora-online.svg")" alt="Fechas importantes">
                    </div>
                    <div class="titulo_beneficios_asesora_online tipografia_lato_bold">
                        <span>
                            Tendrás
                            <br />
                            <span class="color_esika">ALERTAS DE</span>
                            <br />
                            <span class="color_esika">FECHA CLAVE.</span>
                        </span>
                    </div>
                </div>
                <div class="descripcion_beneficios_asesora_online">
                    <span class="tipografia_lato_bold">Mensajes de texto</span> con recordatorios de cada fecha clave de tu campaña.
                </div>
            </div>
        </div>
    </div>

</div>

<div id="formulario-inscripcion" class="seccion_formulario_inscripcion">
    <div class="seccion_formulario_inscripcion_fondo">
        <img src="@Url.Content("~/Content/Images/fondo_form.png")" alt="" />
    </div>
    <div class="wrapper_contenido_asesora_online alinear_derecha tipografia_lato">
        <div class="titulo_formulario_inscripcion tipografia_lato_light">
            <span class="tipografia_lato_bold">RESPONDE ESTA ENCUESTA</span><br />¡Y SUSCRÍBETE!
        </div>
        <div class="contenedor_formulario">
            <form class="formulario_inscripcion tipografia_lato">
                <div class="seccion_primer_paso">
                    <div class="seccion_primer_paso_titulo">
                        <div class="texto_titulo">
                            <span class="tipografia_lato_bold">¿Cuál es tu método de venta preferido?</span>
                            <span class="tipografia_lato_regular">Puedes seleccionar más de una opción.</span>
                        </div>
                    </div>
                    <div class="lista_opciones_crecimiento_negocio">
                        <div class="opcion_crecimiento_negocio">
                            <input id="revisar-catalogo-clientes" type="checkbox" name="opcion-crecimiento-negocio" value="1">
                            <label for="revisar-catalogo-clientes">
                                <span></span>
                                Reviso el catálogo con mis clientes
                            </label>
                        </div>
                        <div class="opcion_crecimiento_negocio textoOpcionDejarCatalogo">
                            <input id="dejar-catalogo-clientes" type="checkbox" name="opcion-crecimiento-negocio" value="1">
                            <label for="dejar-catalogo-clientes">
                                <span></span>
                                Dejo el catálogo a mis clientes y vuelvo
                            </label>
                        </div>
                        <div class="opcion_crecimiento_negocio textoOpcionTienda">
                            <input id="mis-clientes-vienen" type="checkbox" name="opcion-crecimiento-negocio" value="1">
                            <label for="mis-clientes-vienen">
                                <span></span>
                                Mis clientes vienen a mi tienda o mi casa
                            </label>
                        </div>
                        <div class="opcion_crecimiento_negocio">
                            <input id="llamar-pedir-productos" type="checkbox" name="opcion-crecimiento-negocio" value="1">
                            <label for="llamar-pedir-productos">
                                <span></span>
                                Me llaman a pedirme los productos
                            </label>
                        </div>
                        <div class="opcion_crecimiento_negocio">
                            <input id="compartir-catalogos" type="checkbox" name="opcion-crecimiento-negocio" value="1">
                            <label for="compartir-catalogos">
                                <span></span>
                                Comparto catálogos digitales
                            </label>
                        </div>
                    </div>
                </div>
                <div class="seccion_enviar_formulario">
                    <div class="terminos_condiciones_form">
                        <span id="AcepteTYC" style="color: rgb(202, 3, 0); display: none;">Tiene que aceptar los Términos y Condiciones</span>
                        <div>
                            <input type="checkbox" id="terminos-condiciones" value="1">
                            <label class="tipografia_lato_light" for="terminos-condiciones">
                                <span></span>
                                Acepto los <a href="https://s3.amazonaws.com/somosbelcorp/2017/VirtualCoach/Terminos/TerminosCondicionVC.pdf" title="Términos y condiciones" target="_blank">términos y condiciones.</a>
                            </label>
                        </div>
                        <div>
                            <input class="btn_enviar_form tipografia_lato tipografia_lato_bold" type="submit" id="enviar-form" value="Suscribirme">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

<a href="#formulario-inscripcion" class="cta_inscripcion cta_inscripcion_fixed tipografia_lato tipografia_lato_bold" title="Quiero suscribirme">
    QUIERO SUSCRIBIRME
</a>


@Html.Partial("FelicitacionesDialog")

@Html.Partial("ConsultoraYaRegistradaCoachVirtual")

@System.Web.Optimization.Scripts.Render("~/Scripts/General.js")
@System.Web.Optimization.Scripts.Render("~/Scripts/PortalConsultoras/AsesoraOnline/AsesoraOnline.js")
@System.Web.Optimization.Scripts.Render("~/Scripts/PortalConsultoras/AsesoraOnline/Index.js")
<script type="text/javascript" src="https://apps.elfsight.com/p/platform.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>

