@model Portal.Consultoras.Web.Models.ConsultarUbicacionModel
@{
    var nro = 0;
    var textoNingunaDireccion = Model.Puntos.Count > 1 ? "Ninguna dirección coincide, asignar manualmente" : (Model.Puntos.Count > 0 ? "La dirección no coincide, asignar manualmente" : "No figura dirección, asignar manualmente");
    var DireccionCadena = string.IsNullOrEmpty(Model.DireccionCadena) ? "" : Model.DireccionCadena + ",";
    var NombreComuna = string.IsNullOrEmpty(Model.NombreComuna) ? "" : Model.NombreComuna + ",";
}

<style>
    .modal-header {
        position: absolute;
        top: 0;
        left: 0;
        right: 4%;
        bottom: 90%;
        margin: 0 5px;
    }
        .modal-header h2 {
            border-bottom: 1px solid lightgray;
            margin-top: 15px;
            padding-bottom: 5px;
        }
        .modal-header img {
            position: absolute;
            top: 15px;
            right: 15px;
            cursor: pointer;
        }
    .modal-content {
        position: absolute;
        top: 10%;
        left: 0;
        right: 0;
        bottom: 10%;
    }
    .modal-buttons {
        position: absolute;
        top: 92.5%;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .modal-content div {
        padding: 5px 10px;
        box-sizing: border-box;
    }
    .modal-lado-izq {
        position: relative;
        float: left;
        width: 25%;
        height: 100%;
        overflow: auto;
    }

.fila-direccion:hover {
        background-color:black !important;
            color: white  !important;
         
        }



        .modal-lado-izq .fila-direccion {
            margin-bottom: 15px;
            transition: all 0.3s;
            cursor: pointer;
            /*border-radius: 10px;*/
            font-size: 14px;
            color: #702789;
            border:1px solid black;
                width: 90%;
              padding-top: 5px;
                 padding-bottom: 5px;
        }

            .modal-lado-izq .fila-direccion:hover, .modal-lado-izq .fila-direccion.selected {
                /*background-color: #009EE4;
                color: white;*/
                background-color:white;
                color:black;

            }

      .modal-lado-der {
        position: relative;
        float: left;
        width: 71%;
        height: 100%;
    }
     .modal-lado-der .territorio {
        float: left;
        width: 100%;
        height: 14%;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        border-radius: 10px;
        border: 1.5px solid lightgray;
        margin-top:10px;
        padding-top:1px;
    }
  .modal-lado-der .territorio h6 {
        text-transform: uppercase;
        font-size: 15px;
        font-weight: lighter;
        padding: 0;
        margin: 0;
    }
    .modal-lado-der .territorio span {
        text-transform: uppercase;
        font-size: 25px;
        font-weight: lighter;
        color: #768591;
    }
      .modal-lado-der .mapa {
        float: left;
        width: 100%;
        height: 86%;
    }
    .modal-content .modal-button-close {
        position: relative;
        float: left;
        width: 4%;
        margin-top: -8px;   
        text-align: right;
        cursor: pointer;
    }
    .button_purple {
        background-color: #722789;
        color: #fff;
        border: 0px;
        border-radius: 20px;
        padding: 10px 40px;
        font-size: 10pt;
        font-weight: 300;
        transition: all 0.3s;
        cursor: pointer;
        outline: none;
        font-family: inherit;
    }

    .field_3{
        float: left;
        width: 25%;
            text-align: center;
    }
    .button_purple:disabled {
        background-color: #BABABA;
        cursor: default;
    }
    .height_100 {
        /*height: 100% !important;*/
        height:350px !important;
    }
</style>

<div class="popup_eliminarCliente popup_ConsultaUbic">
    <div class="btn_cerrar_agregarUnidades">
        <a href="javascript:;" onclick="CerrarDiv(4);">
            <img src="@Url.Content("~/Content/Images/btn_cerrar_popup.svg")" alt="Cerrar" />
            <span class="texto_btn_cerrar">CERRAR</span>
        </a>
    </div>
  

    <div class="div-3 caja borde_redondeado" style="padding-left: 5% !important;width: 90%;text-align:left;">

        <span id="modal_title" class="elementsFont" style="font-weight: bold; text-align:center; "></span>
    </div>


    <div class="contenido_popUp eliminarCliente">
        <div style="width: 90%; padding-left: 5%;">


            @if (Model.ZonaPreferencial)
            {
                <div class="div-3 caja borde_redondeado" style="padding-left: 5% !important;width: 90%;text-align:left;">
                    <span class="elementsFont">Lamentablemente la consultora no puede ser registrada ya que en esa zona no tenemos cobertura</span><br />
                </div>
            }
            else if (Model.Puntos.Count == 0)
            {
            

                <div class="div-3 caja borde_redondeado" style="padding-left: 5% !important;width: 90%;text-align:left;">
                    <span class="elementsFont">   La direcci&oacute;n <b>@string.Format("{0} {1} {2}", DireccionCadena, NombreComuna, Model.NombreRegion)</b> no se pudo localizar.
                    <br /> <br />
                        Verifica que sea la direcci&oacute;n correcta o en todo caso podr&aacute;s georeferenciar m&aacute;s adelante.</span><br />
                </div>
            }
            else
            {
                <div class="modal-lado-izq">
                    @foreach (var item in Model.Puntos)
                    {
                        <div class="fila-direccion" data-latitud="@item.Item1" data-longitud="@item.Item2" data-nro="@nro">
                            <table cellpadding="0" cellspacing="0">
                                <tr style="font-size:12px;">
                                    <td style="padding: 0 10px 0 5px;"><span >@(nro + 1).</span></td>
                                    <td>@item.Item3</td>
                                </tr>
                            </table>
                        </div>
                        nro++;
                    }

                    @if (Model.Latitud != null)
                    {

                        <div style="font-size:13px;  font-family: 'Lato' !Important; color: #000 !Important;   text-align: left!Important;  font-weight: normal !Important; line-height: 1.25 !Important;">
                            <span style="font-weight:bold">Latitud</span>
                            <span>@Model.Latitud</span>
                        </div>
                    }
                    @if (Model.Longitud != null)
                    {
                        <div  style="font-size:13px;  font-family: 'Lato' !Important; color: #000 !Important;   text-align: left!Important;  font-weight: normal !Important; line-height: 1.25 !Important;">
                            <span style="font-weight:bold">Longitud</span>
                            <span>@Model.Longitud</span>
                        </div>
                    }

                    <div id="extraZonaOrigenDiv" style="display:none;font-size:13px;   font-family: 'Lato' !Important; color: #000 !Important;   text-align: left!Important;  font-weight: normal !Important; line-height: 1.25 !Important;">
                        <span style="font-weight:bold">Zona Origen</span>
                        <span id="extraZonaOrigen"></span>
                    </div>

                    <div id="extraSeccionOrigenDiv" style="display:none;font-size:13px;   font-family: 'Lato' !Important; color: #000 !Important;   text-align: left!Important;  font-weight: normal !Important; line-height: 1.25 !Important;">
                        <span style="font-weight:bold">Seccion Origen</span>
                        <span id="extraSeccionOrigen"></span>
                    </div>



                </div>

                <div class="modal-lado-der">
                    <div id="mapa" class="mapa @(Model.Puntos.Count == 0 ? "" : "height_100")"></div>
                    <div class="territorio" id="datos_territorio" style="display:none;  font-family: 'Lato' !Important;    font-weight: normal !Important; line-height: 1.25 !Important;">
                        <div class="field_3">
                            <h6>Regi&oacute;n</h6>
                            <span id="spanRegion" style="font-family: 'Lato' !Important; font-weight: normal !Important; line-height: 1.25 !Important; font-size:20px; color:black">@Model.Region</span>
                        </div>
                        <div class="field_3">
                            <h6>Zona</h6>
                            <span id="spanZona" style="font-family: 'Lato' !Important; font-weight: normal !Important; line-height: 1.25 !Important; font-size:20px; color:black">@Model.Zona</span>
                        </div>
                        <div class="field_3">
                            <h6>Secci&oacute;n</h6>
                            <span id="spanSeccion" style="font-family: 'Lato' !Important; font-weight: normal !Important; line-height: 1.25 !Important; font-size:20px; color:black">@Model.Seccion</span>
                        </div>
                        <div class="field_3">
                            <h6>Territorio</h6>
                            <span id="spanTerritorio" style="font-family: 'Lato' !Important; font-weight: normal !Important; line-height: 1.25 !Important; font-size:20px; color:black">@Model.Territorio</span>
                        </div>
                       
                    </div>
                    <div class="territorio" id="mensaje_territorio" style="display:none; border-style:none;">
                        <span style="font-weight:bold !important;    font-family: 'Lato' !Important;
    color: #000 !Important;
    text-align: left!Important;
    font-weight: normal !Important;
    line-height: 1.25 !Important; font-size:13px !important;  ">No se encontro territorio del sistema comercial con respecto a la ubicaci&oacute;n, proceda cambiando la dirección o asigne manualmente el territorio</span>
                    </div>
                </div>
            } 

        </div> 


        <div class="btn_grupo_eliminarCliente" style="width:90%; margin-left:5%; display:inline-block; margin-top:10px;">


            <button type="button"  id="btnAceptar" data-direccion-correcta="si" disabled class="btn_noEliminarCliente btnConsUbi"  >Aceptar</button>
            <button type="button" name="btn_noEliminarCliente" class="btn_noEliminarCliente btnConsUbi" id="btnEditarDireccion">Editar dirección</button>
            <button type="button" name="btn_noEliminarCliente" class="btn_noEliminarCliente btnConsUbi" id="btnNingunaDireccion"  data-direccion-correcta="no"></button>
           
        </div>
    </div>
</div>
<style>
    .btnConsUbi {
        float: none !important;
        text-align: center;
        font-weight: normal !important;
        width: 25% !important;
        font-size: 13px;
        line-height: normal !important;
    }

    button:disabled {
        background-color: #B75D9F;
        cursor: default;
    }

    .popup_ConsultaUbic h6 {
        display: block !Important;
        margin: 0 0 5px 0 !Important;
        padding: 0 !Important;
        font-family: 'Lato' !Important;
        font-size: 15px !Important;
        color: #000 !Important;
        text-align: center !Important;
        font-weight: normal !Important;
        line-height: 1.25 !Important;
    }

    .popup_ConsultaUbic {
        max-width: 1000px !important;
        margin: -300px auto 0 auto !important;
    }

    .elementsFont {
        width: 100%;
        font-family: 'lato';
        font-size: 11pt;
        font-weight: 300;
        color: black;
        margin-top: 10px;
    }

    .selectP2 select {
        height: 24px;
        font-family: 'Lato';
        color: black;
        font-size: 11.7px;
        cursor: pointer;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        width: 300px;
    }

    .selectUbicacion {
        width: 300px !important;
    }

        .selectUbicacion select {
            width: 300px !important;
        }

    keygen, select, select[size="0"], select[size="1"] {
        border-radius: 0px;
        border-color: rgb(169, 169, 169);
    }

    user agent stylesheet select:not(:-internal-list-box) {
        overflow: visible !important;
    }

    user agent stylesheet select {
        -webkit-appearance: menulist;
        box-sizing: border-box;
        align-items: center;
        white-space: pre;
        -webkit-rtl-ordering: logical;
        color: black;
        background-color: white;
        cursor: default;
        border-width: 1px;
        border-style: solid;
        border-color: initial;
        border-image: initial;
    }

    user agent stylesheet keygen, select {
        border-radius: 5px;
    }

    user agent stylesheet input, textarea, keygen, select, button {
        text-rendering: auto;
        color: initial;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: start;
        margin: 0em 0em 0em 0em;
        font: 13.3333px Arial;
    }

    user agent stylesheet input, textarea, keygen, select, button, meter, progress {
        -webkit-writing-mode: horizontal-tb;
    }


 
</style>

 

@Html.HiddenFor(m => Model.SolicitudPostulanteID)
@Html.HiddenFor(m => Model.Direccion)
@Html.HiddenFor(m => Model.NombreRegion)
@Html.HiddenFor(m => Model.NombreComuna)
@Html.HiddenFor(m => Model.Region)
@Html.HiddenFor(m => Model.Zona)
@Html.HiddenFor(m => Model.Seccion)
@Html.HiddenFor(m => Model.Territorio)
@Html.HiddenFor(m => Model.Direccion)
@Html.HiddenFor(m => Model.DireccionCadena)
@Html.HiddenFor(m=> Model.Latitud)
@Html.HiddenFor(m => Model.Longitud)
@Html.HiddenFor(m => Model.FuenteIngreso)


<script>
    var map, marker, markers = [], polygon;

    @{
        var titulo = Model.Puntos.Count > 1 ? "Elige la dirección correcta" : (Model.Puntos.Count > 0 ? "Confirma si es la dirección correcta" : "No se ha encontrado tu ubicación en el mapa");
    }

    $('#modal_title').html('@Html.Raw(titulo)');

    $('#btnNingunaDireccion').html('@Html.Raw(textoNingunaDireccion)');

    @if (Model.Puntos.Count == 0)
    {
        <text>$('#btnAceptar').hide();</text>
    }

    $(function () {
        setTimeout(cargarMapa, 1000);
    });

    $('#imgCerrar').click(function () {
        modal.dialog('close');
    })

    $('#btnEditarDireccion').click(function () {
        var solicitudPostulanteID = $('#SolicitudPostulanteID').val();
        $('#divEditarDireccion').empty();
        $('#divEditarDireccion').show();

        LoadSpinner('divEditarDireccion');
        $('#divEditarDireccion').css('z-index', '2000');
        $.get('@Url.Action("EditarDireccion", "Unete")', { id: solicitudPostulanteID }, function (html) {
        $('#divEditarDireccion').html(html);
        $('#divEditarDireccion').show();
        $('#divEditarDireccion').css('z-index', '2000');
        }).done(function () {

        });




    });

    $('#btnNingunaDireccion').click(function () {

        var solicitudPostulanteID = $('#SolicitudPostulanteID').val();
        $('#divEditarManualDireccion').empty();
        $('#divEditarManualDireccion').show();

        LoadSpinner('divEditarManualDireccion');
        $('#divEditarManualDireccion').css('z-index', '2000');
            $.get('@Url.Action("EditarDireccionManualmente", "Unete")', { id: solicitudPostulanteID }, function (html) {
                $('#divEditarManualDireccion').html(html);
                $('#divEditarManualDireccion').show();
                $('#divEditarManualDireccion').css('z-index', '2000');
        }).done(function () {

        });
       


    });

    $('#btnAceptar').click(function () {
        if (map) {
            var center = map.center;

            // post
            var data = {
                id: $('#SolicitudPostulanteID').val(),
                latitud: parseFloat(marker.getPosition().lat()),
                longitud: parseFloat(marker.getPosition().lng()),
                direccionCorrecta: $(this).attr('data-direccion-correcta'),
                direccionCadena: $('#DireccionCadena').val(),
                region: $('#NombreRegion').val(),
                comuna: $('#NombreComuna').val(),
                codregion: $('#Region').val(),
                codzona: $('#Zona').val(),
                codseccion: $('#Seccion').val(),
                codterritorio: $('#Territorio').val(),
                direccion: $('#Direccion').val()
            };

            

           // waitingDialog({});
            generalLoading();

            $.post('@Url.Action("ConsultarUbicacion", "Unete")', data, function (actualizado) {
                if (actualizado) {
                    //  modal.dialog('close');
                    $('#divConsultarUbicacion').hide();
                    fnGrilla();
                }
            }).complete(function () {
                // closeWaitingDialog({});
                generalCloseLoading();
            });
        }
    })

    $('.fila-direccion').click(function () {
        $('#btnAceptar').attr('disabled', false);
        $('#btnNingunaDireccion').attr('disabled', true);
        $('.fila-direccion').removeClass('selected');
        $(this).addClass('selected');

        if (map) {

            var lat = parseFloat($(this).attr('data-latitud').replace(',', '.'));
            var lnt = parseFloat($(this).attr('data-longitud').replace(',', '.'));

            map.panTo(new google.maps.LatLng(lat, lnt));
            for (var i in markers) {
                var marker = markers[i];
                if (marker.setAnimation) {
                    marker.setAnimation(null);
                }
            }
            markers[$(this).attr('data-nro')].setAnimation(google.maps.Animation.BOUNCE);

            // Consultar servicio para buscar territorio

            var data = {
                latitud: lat,
                longitud: lnt
            }

            //  waitingDialog({});
            generalLoading();

            $.post('@Url.Action("ConsultarTerritorios", "Unete")', data, function (json) {

                if (polygon != null) {
                    polygon.setMap(null);
                }

                var coords = JSON.parse(json.Vertices);

                if (coords != null && coords.length > 0) {
                    var bounds = new google.maps.LatLngBounds();

                    $.each(coords, function (i, coord) {
                        bounds.extend(new google.maps.LatLng(coord.lat, coord.lng));
                    })

                    polygon = new google.maps.Polygon({
                        paths: coords,
                        strokeColor: '#FF0000',
                        strokeOpacity: 0.8,
                        strokeWeight: 2,
                        fillColor: '#FF0000',
                        fillOpacity: 0.35
                    });

                    polygon.setMap(map);

                    map.fitBounds(bounds);

                    $('#datos_territorio').show();
                    $('mensaje_territorio').hide();
                    $('#spanRegion').html(json.Region);
                    $('#spanZona').html(json.Zona);
                    $('#spanSeccion').html(json.Seccion);
                    $('#spanTerritorio').html(json.Territorio);

                    $('#btnAceptar').attr('disabled', false);
                } else {
                    $('datos_territorio').hide();
                    $('mensaje_territorio').show();
                }

                $('#mapa').removeClass('height_100');

            }).complete(function () {
                // closeWaitingDialog({});
                generalCloseLoading();
            });

        }
    });

    function cargarMapa() {
        
        if (google && google.maps) {
            var markerBounds = new google.maps.LatLngBounds();
            modalOpcion.dialog('close');

            @if (Model.Puntos.Count > 0)
            {
               @*<text> $('#mapa').addClass('height_100'); </text>*@
		        <text>
            map = new google.maps.Map(document.getElementById('mapa'), {
                center: new google.maps.LatLng(parseFloat('@Model.Puntos[0].Item1'.replace(",", ".")), parseFloat('@Model.Puntos[0].Item2'.replace(",", ".")))
            });

            // Markers
            @for (var i = 0; i < Model.Puntos.Count; i++)
                    {
                        var punto = Model.Puntos[i];
                        <text>
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(parseFloat('@punto.Item1'.replace(",", ".")), parseFloat('@punto.Item2'.replace(",", "."))),
                map: map,
                animation: google.maps.Animation.DROP
            });
            markerBounds.extend(marker.getPosition());
            markers.push(marker);
            </text>
                    }

            @if( (Model.FuenteIngreso == "MovilSE") && Model.Latitud!=null && Model.Longitud!=null)
                    {
                        // Markers Purple
                        <text>

            marker = new google.maps.Marker({
                position: new google.maps.LatLng(parseFloat('@Model.Latitud'.replace(",", ".")), parseFloat('@Model.Longitud'.replace(",", "."))),
                map: map,
                animation: google.maps.Animation.DROP,
                icon: 'http://maps.google.com/mapfiles/ms/icons/purple-dot.png'
            });
            markerBounds.extend(marker.getPosition());
            markers.push(marker);
            marker.setAnimation(google.maps.Animation.BOUNCE);

            </text>
                    }

            </text>

                if (Model.Puntos.Count == 1)
                {
                    if (!string.IsNullOrWhiteSpace(Model.Vertices))
                    {
                        <text>
            var coords = JSON.parse('@Html.Raw(Model.Vertices.ToLower())');
            var bounds = new google.maps.LatLngBounds();

            $.each(coords, function (i, coord) {
                bounds.extend(new google.maps.LatLng(coord.lat, coord.lng));
                markerBounds.extend(new google.maps.LatLng(coord.lat, coord.lng));
            })

            polygon = new google.maps.Polygon({
                paths: coords,
                strokeColor: '#FF0000',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#FF0000',
                fillOpacity: 0.35
            });

            polygon.setMap(map);
            </text>
                    }

                    if (string.IsNullOrEmpty(Model.Region) || string.IsNullOrEmpty(Model.Zona) || string.IsNullOrEmpty(Model.Territorio))
                    {
                        <text>
            $('#datos_territorio').hide();
            $('#mensaje_territorio').show();
            </text>
                    }
                    else
                    {
                        <text>
            $('#datos_territorio').show();
            $('#mensaje_territorio').hide();
            $('#btnAceptar').attr('disabled', false);
            </text>
                    }

                    <text>
            $('.fila-direccion').addClass('selected');
            $('#btnAceptar').attr('disabled', false);
            markers[0].setAnimation(google.maps.Animation.BOUNCE);
            </text>
                }

                <text>map.fitBounds(markerBounds);</text>
	        }
        }
    }

    setTimeout(function () {
        $('.button_purple').css('behavior', 'url("@Url.Content("~/Content/Css/Pie/PIE.htc)")")');
    }, 10);

</script>