@using Portal.Consultoras.Common
@model Portal.Consultoras.Web.Models.ConsultarUbicacionModel
@{
    var nro = 0;
    var textoNingunaDireccion = Model.Puntos.Count > 1 ? "Ninguna dirección coincide, asignar manualmente" : (Model.Puntos.Count > 0 ? "La dirección no coincide, asignar manualmente" : "No figura dirección, asignar manualmente");
    var DireccionCadena = string.IsNullOrEmpty(Model.DireccionCadena) ? "" : Model.DireccionCadena + ",";
    var NombreComuna = string.IsNullOrEmpty(Model.NombreComuna) ? "" : Model.NombreComuna + ",";


}

<style>
    .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 29px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }

    #inputSearchBox {
        background-color: #fff;
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
        position: absolute;
        z-index: 10;
        left: 115px;
    }

        #inputSearchBox:focus {
            border-color: #4d90fe;
        }

    .modal-header {
        position: absolute;
        top: 0;
        left: 0;
        right: 4%;
        bottom: 90%;
        margin: 0 5px;
    }

        .modal-header h2 {
            border-bottom: 1px solid lightgray;
            margin-top: 15px;
            padding-bottom: 5px;
        }

        .modal-header img {
            position: absolute;
            top: 15px;
            right: 15px;
            cursor: pointer;
        }

    .modal-content {
        position: absolute;
        top: 10%;
        left: 0;
        right: 0;
        bottom: 10%;
    }

    .modal-buttons {
        position: absolute;
        top: 92.5%;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .modal-content div {
        padding: 5px 10px;
        box-sizing: border-box;
    }

    .modal-lado-izq {
        position: relative;
        float: left;
        width: 25%;
        height: 100%;
        overflow: auto;
    }

    .fila-direccion:hover {
        background-color: black !important;
        color: white !important;
    }



    .modal-lado-izq .fila-direccion {
        margin-bottom: 15px;
        transition: all 0.3s;
        cursor: pointer;
        /*border-radius: 10px;*/
        font-size: 14px;
        color: #702789;
        border: 1px solid black;
        width: 90%;
        padding-top: 5px;
        padding-bottom: 5px;
    }

        .modal-lado-izq .fila-direccion:hover, .modal-lado-izq .fila-direccion.selected {
            /*background-color: #009EE4;
                color: white;*/
            background-color: white;
            color: black;
        }

    .modal-lado-der {
        position: relative;
        float: left;
        width: 71%;
        height: 100%;
    }

        .modal-lado-der .territorio {
            float: left;
            width: 100%;
            height: 14%;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            border-radius: 10px;
            border: 1.5px solid lightgray;
            margin-top: 10px;
            padding-top: 1px;
        }

            .modal-lado-der .territorio h6 {
                text-transform: uppercase;
                font-size: 15px;
                font-weight: lighter;
                padding: 0;
                margin: 0;
            }

            .modal-lado-der .territorio span {
                text-transform: uppercase;
                font-size: 25px;
                font-weight: lighter;
                color: #768591;
            }

        .modal-lado-der .mapa {
            float: left;
            width: 100%;
            height: 86%;
        }

    .modal-content .modal-button-close {
        position: relative;
        float: left;
        width: 4%;
        margin-top: -8px;
        text-align: right;
        cursor: pointer;
    }

    .button_purple {
        background-color: #722789;
        color: #fff;
        border: 0px;
        border-radius: 20px;
        padding: 10px 40px;
        font-size: 10pt;
        font-weight: 300;
        transition: all 0.3s;
        cursor: pointer;
        outline: none;
        font-family: inherit;
    }

    .field_3 {
        float: left;
        width: 25%;
        text-align: center;
    }

    .button_purple:disabled {
        background-color: #BABABA;
        cursor: default;
    }

    .height_100 {
        height: 100% !important;
        /*height:350px !important;*/
    }


    /* POPUP EDITAR DIRECCIÓN */

    .contenedor_mapa_editarDireccion {
        height: 150px;
        display: block;
    }

    .background_popup_editarDireccion {
        display: block;
        position: fixed;
        z-index: 1000;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.6);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .popup_editarDireccion {
        display: block;
        margin: 0 auto;
        width: 873px;
        height: auto;
        background: #FFF;
        position: relative;
        padding: 0px 36px 22px 36px;
        box-sizing: border-box;
        top: -7px;
    }

    .titulo_popup_editarDireccion {
        display: block;
        width: 100%;
        position: relative;
        padding-bottom: 8px;
    }

    .titulo_popup_editarDireccion h4 {
        display: block;
        text-align: center;
        color: #000;
        font-family: 'Lato';
        font-size: 20px;
        letter-spacing: 0.1px;
    }

    .contenedor_datosEditarDireccion {
        display: block;
        background: #f2f2f2;
        margin-bottom: 6px;
        padding: 12px 28px;
    }

    .contenedor_datosEditarDireccion span {
        display: inline-block;
        margin-right: 72px;
        font-family: 'Lato';
        font-size: 14px;
        font-weight: 300;
        color: #000;
    }

    .contenedor_campoFormulario, .contenedor_grupoBotones {
        display: inline-block;
        vertical-align:top;
    }

    .contenedor_datosEditarDireccion .mensaje_validacion_error{
        display: block;
        position: relative;
        width: 100%;
        height: auto;
        padding-left: 10px;
        padding-top:3px;
    }

    .contenedor_datosEditarDireccion .mensaje_validacion_error span{
        color: red;
        font-size: 13px;
    }

    .contenedor_datosEditarDireccion span b {
        font-weight: 700;
    }

    .contenedor_datosEditarDireccion span:last-child {
        margin-right: 0px;
    }

    .texto-rojo {
        color: #e81c36 !important;
    }

    .formulario_editarDireccion {
        display: block;
        margin: 0;
        padding: 0;
    }

    .titulo_ubigeo {
        display: block;
        font-size: 13px;
        letter-spacing: 0.1px;
        color: #000;
        margin-bottom: 8px;
    }

    .titulo_ubigeo span {
        color: #000;
        font-weight: 700;
    }

    .contenedor_camposUbigeo {
        display: inline-block;
        vertical-align: top;
        margin-right: 17px;
        font-family: 'Lato';
        font-size: 13px;
        font-weight: 600;
        color: #000;
    }

    .campo_error_validacion{
        margin-bottom:10px;
    }

    .quitarMargenDerecho{
        margin-right:0px;
    }

    .contenedor_camposUbigeo:nth-child(5) {
        margin-right: 0px;
    }

    .contenedor_camposUbigeo label, .contenedor_camposUbigeo select {
        display: block;
    }

    .contenedor_camposUbigeo label {
        margin-right: 6px;
        margin-bottom: 16px;
        position:relative;
        top:9px;
    }

    .campoCodigoPostal_MX input[type="text"]{
        width:165px!important;
    }

    .contenedor_camposUbigeo select, .contenedor_direccionReferencia input, .contenedor_camposUbigeo input[type="text"] {
        height: 35px;
        border-radius: 0px;
        font-family: 'Lato';
        font-weight: 500;
        border: none;
        color: #000;
        background: #FFF;
    }

    .contenedor_camposUbigeo select, .contenedor_camposUbigeo input[type="text"] {
        padding-left: 7px;
    }

    .contenedor_camposUbigeo input[type="text"]{
        width:156px;
    }

    .contenedor_camposUbigeo select{
        width: 171px;
    }

    .contenedor_camposUbigeo select.paisColombia{
        width:158px;
    }

    .contenedor_camposUbigeo select:disabled, .contenedor_camposUbigeo input:read-only{
        background: #e2e2e2;
        color: #888888;
    }

    .contenedor_camposUbigeo.campoDireccionUbigeo.campo_dropDown{
        width: 175px;
        margin-right: 13px;
    }

    .contenedor_camposUbigeo.campoReferenciaUbigeo.campo_dropDownReferencia{
        display: inline-block;
        width: 550px;
    }

    .contenedor_camposUbigeo.campoReferenciaUbigeo.campo_dropDownReferencia label{
        display: block;
    }

    .contenedor_camposUbigeo.campoReferenciaUbigeo.campo_dropDownReferencia input{
        width:100.3%;
    }

    .contenedor_camposUbigeo.anchoDropdown select{
        width:162px;
    }

    .contenedor_camposUbigeo.campoBarrio{
        margin-right:0px;
    }

    .contenedor_camposUbigeo.campoBarrio input[type="text"]{
        width:151px;
    }

    .contenedor_camposUbigeo.campoDireccionUbigeo, .contenedor_camposUbigeo.campoReferenciaUbigeo {
        margin-top: 15px;
        width: 100%;
        margin-right: 0px;
    }

    .contenedor_camposUbigeo.campoDireccionUbigeo label, .contenedor_camposUbigeo.campoReferenciaUbigeo label{
        width:84px;
    }

    .contenedor_camposUbigeo.campoDireccionUbigeo label, .contenedor_camposUbigeo.campoReferenciaUbigeo label {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        top:9px;
    }

    /*.contenedor_camposUbigeo.campoDireccionUbigeo label {
        margin-right: 20px;
    }

    .contenedor_camposUbigeo.campoReferenciaUbigeo label {
        margin-right: 12px;
    }*/

    .contenedor_camposUbigeo.campoDireccionUbigeo input, .contenedor_camposUbigeo.campoReferenciaUbigeo input {
        margin-right: 13px;
        width: 402px;
        height: 35px;
        border: none;
        padding-left: 11px;
        box-sizing: border-box;
    }

    .ancho99{
        width:99.8%!important;
    }

    .contenedor_camposUbigeo.campoReferenciaUbigeo input.ancho99{
        width: 87.45%;
        margin-right: 0px;
    }

    /*.contenedor_camposUbigeo button{
        transition:opacity 0.3s ease;
        -moz-transition:opacity 0.3s ease;
        -o-transition:opacity 0.3s ease;
        -ms-transition:opacity 0.3s ease;
        -webkit-transition:opacity 0.3s ease;
    }

    .contenedor_camposUbigeo button:hover{
        opacity:0.8;
    }*/

    .contenedor_grupo_botones_campoDireccion {
        display: block;
        text-align: center;
        margin: 17px 3px 4px 0px;
    }

    .contenedor_grupo_botones_campoDireccion button#btnModificarDireccion, .contenedor_grupo_botones_campoDireccion button#btnGrabarDireccion{
        margin-right:12px;
    }

    .contenedor_camposUbigeo.campoDireccionUbigeo .direccionPrincipal{
        width:344px;
    }

    .contenedor_camposUbigeo.campoDireccionUbigeo .direccionSecundaria{
        width:292px;
        margin-right:0px;
    }

    .contenedor_direccionReferencia {
        display: block;
        margin-bottom: 17px;
    }

    .contenedor_direccionReferencia:last-child {
        margin-bottom: 0px;
    }

    .contenedor_direccionReferencia input {
        width: 403px;
        padding-left: 12px;
        margin-right: 19px;
    }

    .contenedor_direccionReferencia label {
        margin-right: 10px;
        font-family: 'Lato';
        font-size: 13px;
        color: #000;
        font-weight: 700;
    }

    .contenedor_direccionReferencia:first-child label {
        margin-right: 17px;
    }

    .contenedor_direccionReferencia button, .campos_regionZonaSeccion button, .contenedor_camposUbigeo.campoDireccionUbigeo button, .contenedor_camposUbigeo.campoReferenciaUbigeo button, .contenedor_grupo_botones_campoDireccion button {
        display: inline-block;
        height: 37px;
        color: #FFF;
        text-align: center;
        border: none;
        font-family: 'Lato';
        font-size: 14px;
        background: #642f80;
    }

    .HabInaButton {
        background: rgba(100, 47, 128, 0.2) !important;
    }

    .contenedor_direccionReferencia button, .campos_regionZonaSeccion button, .contenedor_camposUbigeo.campoDireccionUbigeo button, .contenedor_camposUbigeo.campoReferenciaUbigeo button {
        width: 234px;
    }

    /*.contenedor_direccionReferencia:nth-child(2) button, .campos_regionZonaSeccion button, .contenedor_camposUbigeo.campoReferenciaUbigeo button{
        background:rgba(100, 47, 128, 0.2);
    }*/

    .contenedor_mapa_editarDireccion, .contenedor_sinGeo {
        display: block;
        height: 421px;
        margin-bottom: 16px;
        position: relative;
    }

    .contenedor_mapa_editarDireccion {
        background: #f8f8f8;
    }

    .contenedor_sinGeo img {
        display: block;
        height: auto;
        width: 100%;
        border: 0px;
    }

    .mensaje_info_sinGeo, .icono_advertencia_blanco, .contenido_info_sinGeo {
        display: block;
    }

    .mensaje_info_sinGeo {
        position: absolute;
        top: 50%;
        margin: -94px auto 0 auto;
        width: 273px;
        left: 105px;
    }

    .icono_advertencia_blanco {
        width: 36px;
        height: 36px;
        margin: 0 auto 24px auto;
        text-align: center;
    }

    .icono_advertencia_blanco img {
        width: 100%;
        height: auto;
    }

    .contenido_info_sinGeo {
        font-family: 'Lato';
        font-size: 18px;
        color: #FFF;
        letter-spacing: 0.1px;
        text-align: center;
        font-weight: bold;
    }

    .contenedor_coordenadasYRegion {
        display: block;
    }

    .contenedor_coordenadasYRegion.alineadoDerecha{
        text-align: right;
        padding-right: 29px;
    }

    .campos_CoordenadasXY input[type="text"], .campos_regionZonaSeccion input[type="text"], .campos_CoordenadasXY, .campos_regionZonaSeccion {
        display: inline-block;
    }

    .campos_CoordenadasXY input[type="text"], .campos_regionZonaSeccion input[type="text"], .campos_CoordenadasXY label, .campos_regionZonaSeccion label {
        font-family: 'Lato';
        text-align: center;
        font-size: 13px;
        color: #000;
    }

    .campos_CoordenadasXY input[type="text"], .campos_regionZonaSeccion input[type="text"] {
        width: 103px;
        height: 35px;
        margin-right: 4px;
        border: 1px solid #000;
        background: #FFF;
        padding-left: 7px;
        padding-right: 7px;
    }

    .campos_regionZonaSeccion input[type="text"] {
        margin-right: 10px;
    }

    .campos_CoordenadasXY label, .campos_regionZonaSeccion label {
        padding: 0px 7px;
    }

    .anchoValidacionCampoPostal{
        width:145px;
    }

    /* FIN POPUP EDITAR DIRECCIÓN */
</style>

<!-- POPUP MENSAJE ERROR -->

<div class="popup_infoError" style="display:none;">
    <div class="info_error">
        <span>No se encontraron los v&eacute;rtices.</span>
    </div>
    <div class="grupo_botones_acciones_mensajeError">
        <button id="btnConfirmarGrabarPosicion" type="button">Aceptar</button>
        <button id="btnCancelarGrabarPosicion" type="button">Cancelar</button>
    </div>
</div>

<!-- FIN MENSAJE ERROR -->

<div class="contenedor_popup_eliminarCliente" id="divTemplateMensaje" style="display:none;"></div>

<div class="popup_eliminarCliente popup_ConsultaUbic">

    <div class="btn_cerrar_agregarUnidades">
        <a href="javascript:;" onclick="CerrarDiv(4);">
            <img src="@Url.Content("~/Content/Images/btn_cerrar_popup.svg")" alt="Cerrar" />
            <span class="texto_btn_cerrar">CERRAR</span>
        </a>
    </div>


    @*<div class="div-3 caja borde_redondeado" style="padding-left: 5% !important;width: 90%;text-align:left;">

            <span id="modal_title" class="elementsFont" style="font-weight: bold; text-align:center; "></span>
        </div>*@


    <div class="contenido_popUp eliminarCliente">



        <div class="popup_editarDireccion">
            <div class="titulo_popup_editarDireccion">
                <h4>EDITAR <b>DIRECCI&Oacute;N</b></h4>
            </div>
            <div class="contenedor_datosEditarDireccion">
                <span>
                    Postulante: <b>@Model.NombreCompleto</b>
                </span>
                <span>
                    Celular: <b>@Model.Celular</b>
                </span>
                <span id="spMalaZonificacion" class="texto-rojo">
                    Zona Rechaz&oacute;: <b>@Model.ZonaSeccionRechazo</b>
                </span>
            </div>
            <div class="contenedor_formulario_editarDireccion">
                @*<form method="post" class="formulario_editarDireccion">*@

                @using (Ajax.BeginForm("GrabarDatosDireccion", "Unete", null, new AjaxOptions()
                {
                    
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    OnSuccess = "OnSuccess",
                    OnBegin = "generalLoading();",
                    OnComplete = "generalCloseLoading();"
                }, new { @class = "formulario_editarDireccion"  }))
                {

                    @*@Html.HiddenFor(m => Model.EditarDireccionModel.SolicitudPostulanteID)
                    @Html.HiddenFor(m => Model.EditarDireccionModel.CodigoPais)
                    @Html.HiddenFor(m => Model.EditarDireccionModel.NombreLugarNivel1)
                    @Html.HiddenFor(m => Model.EditarDireccionModel.NombreLugarNivel2)
                    @Html.HiddenFor(m => Model.EditarDireccionModel.NombreLugarNivel3)
                    @Html.HiddenFor(m => Model.EditarDireccionModel.NombreLugarNivel4)
                    @Html.HiddenFor(m => Model.EditarDireccionModel.NombreLugarNivel5)
                    @Html.HiddenFor(m => Model.EditarDireccionModel.ContaValorNivel3)*@

                    <div class="contenedor_datosEditarDireccion">
                        <div class="titulo_ubigeo">
                            <span>UBIGEO</span>
                        </div>
                        @Html.Partial(Dictionaries.TemplateUbigeos[Model.EditarDireccionModel.CodigoPais], Model.EditarDireccionModel)

                    </div>
                }

                @*</form>*@
            </div>
            <div class="contenedor_mapa_editarDireccion" id="DivConGEO">
                @*agregar mapa*@
                <input id="inputSearchBox" class="controls" placeholder="Buscar" type="text" />

                <div id="mapa" class="mapa @(Model.Puntos.Count == 0 ? "" : "height_100")"></div>
            </div>
            <div class="contenedor_sinGeo" id="DivSinGEO">
                <div class="mensaje_info_sinGeo">
                    <span class="icono_advertencia_blanco">
                        <img src="@Url.Content("~/Content/Images/icono_advertencia_notificacion-blanco.svg")" alt="Icono Admiración" />
                    </span>
                    <span class="contenido_info_sinGeo">
                        La postulante no est&aacute; georeferenciada, por favor dale click a 'Editar Posici&oacute;n' para seleccionar su ubicaci&oacute;n
                    </span>
                </div>
                <img src="@Url.Content("~/Content/Images/img-sinGeo.png")" alt="Sin Geo" />
            </div>
            <div class="contenedor_coordenadasYRegion">
                <div id ="divLatLng" class="campos_CoordenadasXY">
                    <label>X/Y</label>
                    <input type="text" id="coordenadasX" name="coordenadasX" value="@Model.Latitud" />
                    <input type="text" id="coordenadasY" name="coordenadasY" value="@Model.Longitud" />
                </div>
                <div class="campos_regionZonaSeccion">
                    <label id="spRegZonaSec">Regi&oacute;n/Zona/Secci&oacute;n</label>
                    <input type="text" id="regionXY" name="region" value="" />
                    <button type="button" id="btnEditarPosicion">Editar Posici&oacute;n</button>
                    <button type="button" id="btnGrabarPosicion" data-direccion-correcta="si">Grabar Posici&oacute;n</button>
                </div>
            </div>
        </div>



        <div style="width: 90%; padding-left: 5%; display:none;">



            @if (Model.ZonaPreferencial)
            {
                <div class="div-3 caja borde_redondeado" style="padding-left: 5% !important;width: 90%;text-align:left;">
                    <span class="elementsFont">Lamentablemente la consultora no puede ser registrada ya que en esa zona no tenemos cobertura</span><br />
                </div>
            }
            else if (Model.Puntos.Count == 0)
            {


                <div class="div-3 caja borde_redondeado" style="padding-left: 5% !important;width: 90%;text-align:left;">
                    <span class="elementsFont">
                        La direcci&oacute;n <b>@string.Format("{0} {1} {2}", DireccionCadena, NombreComuna, Model.NombreRegion)</b> no se pudo localizar.
                        <br /> <br />
                        Verifica que sea la direcci&oacute;n correcta o en todo caso podr&aacute;s georeferenciar m&aacute;s adelante.
                    </span><br />
                </div>
            }
            else
            {
                <div class="modal-lado-izq">
                    @foreach (var item in Model.Puntos)
                    {
                        <div class="fila-direccion" data-latitud="@item.Item1" data-longitud="@item.Item2" data-nro="@nro">
                            <table cellpadding="0" cellspacing="0">
                                <tr style="font-size:12px;">
                                    <td style="padding: 0 10px 0 5px;"><span>@(nro + 1).</span></td>
                                    <td>@item.Item3</td>
                                </tr>
                            </table>
                        </div>
                        nro++;
                    }

                    @if (Model.Latitud != null)
                    {

                        <div style="font-size:13px;  font-family: 'Lato' !Important; color: #000 !Important;   text-align: left!Important;  font-weight: normal !Important; line-height: 1.25 !Important;">
                            <span style="font-weight:bold">Latitud</span>
                            <span>@Model.Latitud</span>
                        </div>
                    }
                    @if (Model.Longitud != null)
                    {
                        <div style="font-size:13px;  font-family: 'Lato' !Important; color: #000 !Important;   text-align: left!Important;  font-weight: normal !Important; line-height: 1.25 !Important;">
                            <span style="font-weight:bold">Longitud</span>
                            <span>@Model.Longitud</span>
                        </div>
                    }

                    <div id="extraZonaOrigenDiv" style="display:none;font-size:13px;   font-family: 'Lato' !Important; color: #000 !Important;   text-align: left!Important;  font-weight: normal !Important; line-height: 1.25 !Important;">
                        <span style="font-weight:bold">Zona Origen</span>
                        <span id="extraZonaOrigen"></span>
                    </div>

                    <div id="extraSeccionOrigenDiv" style="display:none;font-size:13px;   font-family: 'Lato' !Important; color: #000 !Important;   text-align: left!Important;  font-weight: normal !Important; line-height: 1.25 !Important;">
                        <span style="font-weight:bold">Seccion Origen</span>
                        <span id="extraSeccionOrigen"></span>
                    </div>



                </div>

                <div class="modal-lado-der">
                    <div id="mapa" class="mapa @(Model.Puntos.Count == 0 ? "" : "height_100")"></div>
                    <div class="territorio" id="datos_territorio" style="display:none;  font-family: 'Lato' !Important;    font-weight: normal !Important; line-height: 1.25 !Important;">
                        <div class="field_3">
                            <h6>Regi&oacute;n</h6>
                            <span id="spanRegion" style="font-family: 'Lato' !Important; font-weight: normal !Important; line-height: 1.25 !Important; font-size:20px; color:black">@Model.Region</span>
                        </div>
                        <div class="field_3">
                            <h6>Zona</h6>
                            <span id="spanZona" style="font-family: 'Lato' !Important; font-weight: normal !Important; line-height: 1.25 !Important; font-size:20px; color:black">@Model.Zona</span>
                        </div>
                        <div class="field_3">
                            <h6>Secci&oacute;n</h6>
                            <span id="spanSeccion" style="font-family: 'Lato' !Important; font-weight: normal !Important; line-height: 1.25 !Important; font-size:20px; color:black">@Model.Seccion</span>
                        </div>
                        <div class="field_3">
                            <h6>Territorio</h6>
                            <span id="spanTerritorio" style="font-family: 'Lato' !Important; font-weight: normal !Important; line-height: 1.25 !Important; font-size:20px; color:black">@Model.Territorio</span>
                        </div>

                    </div>
                    <div class="territorio" id="mensaje_territorio" style="display:none; border-style:none;">
                        <span style="font-weight:bold !important;    font-family: 'Lato' !Important;
    color: #000 !Important;
    text-align: left!Important;
    font-weight: normal !Important;
    line-height: 1.25 !Important; font-size:13px !important;  ">No se encontro territorio del sistema comercial con respecto a la ubicaci&oacute;n, proceda cambiando la dirección o asigne manualmente el territorio</span>
                    </div>
                </div>
            }

        </div>


        <div class="btn_grupo_eliminarCliente" style="width:90%; margin-left:5%; display:none; margin-top:10px;">


            <button type="button" id="btnAceptar" data-direccion-correcta="si" disabled class="btn_noEliminarCliente btnConsUbi">Aceptar</button>
            <button type="button" name="btn_noEliminarCliente" class="btn_noEliminarCliente btnConsUbi" id="btnEditarDireccion">Editar dirección</button>
            <button type="button" name="btn_noEliminarCliente" class="btn_noEliminarCliente btnConsUbi" id="btnNingunaDireccion" data-direccion-correcta="no"></button>

        </div>
    </div>
</div>
<style>
    .btnConsUbi {
        float: none !important;
        text-align: center;
        font-weight: normal !important;
        width: 25% !important;
        font-size: 13px;
        line-height: normal !important;
    }

    button:disabled {
        background-color: #B75D9F;
        cursor: default;
    }

    .popup_ConsultaUbic h6 {
        display: block !Important;
        margin: 0 0 5px 0 !Important;
        padding: 0 !Important;
        font-family: 'Lato' !Important;
        font-size: 15px !Important;
        color: #000 !Important;
        text-align: center !Important;
        font-weight: normal !Important;
        line-height: 1.25 !Important;
    }

    .popup_eliminarCliente.popup_ConsultaUbic {
        height: auto;
        max-width: 873px;
        margin: -300px auto 32px auto;
        padding-bottom: 2px;
    }

    .elementsFont {
        width: 100%;
        font-family: 'lato';
        font-size: 11pt;
        font-weight: 300;
        color: black;
        margin-top: 10px;
    }

    .selectP2 select {
        height: 24px;
        font-family: 'Lato';
        color: black;
        font-size: 11.7px;
        cursor: pointer;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        width: 300px;
    }

    .selectUbicacion {
        width: 300px !important;
    }

        .selectUbicacion select {
            width: 300px !important;
        }

    keygen, select, select[size="0"], select[size="1"] {
        border-radius: 0px;
        border-color: rgb(169, 169, 169);
    }

    user agent stylesheet select:not(:-internal-list-box) {
        overflow: visible !important;
    }

    user agent stylesheet select {
        -webkit-appearance: menulist;
        box-sizing: border-box;
        align-items: center;
        white-space: pre;
        -webkit-rtl-ordering: logical;
        color: black;
        background-color: white;
        cursor: default;
        border-width: 1px;
        border-style: solid;
        border-color: initial;
        border-image: initial;
    }

    user agent stylesheet keygen, select {
        border-radius: 5px;
    }

    user agent stylesheet input, textarea, keygen, select, button {
        text-rendering: auto;
        color: initial;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: start;
        margin: 0em 0em 0em 0em;
        font: 13.3333px Arial;
    }

    user agent stylesheet input, textarea, keygen, select, button, meter, progress {
        -webkit-writing-mode: horizontal-tb;
    }

    

</style>



@Html.HiddenFor(m => Model.SolicitudPostulanteID)
@Html.HiddenFor(m => Model.Direccion)
@Html.HiddenFor(m => Model.NombreRegion)
@Html.HiddenFor(m => Model.NombreComuna)
@Html.HiddenFor(m => Model.Region)
@Html.HiddenFor(m => Model.Zona)
@Html.HiddenFor(m => Model.Seccion)
@Html.HiddenFor(m => Model.Territorio)
@Html.HiddenFor(m => Model.Direccion)
@Html.HiddenFor(m => Model.DireccionCadena)
@Html.HiddenFor(m => Model.Latitud)
@Html.HiddenFor(m => Model.Longitud)
@Html.HiddenFor(m => Model.FuenteIngreso)


<script>

    var defaultOption = '<option value="" >--Seleccione--</option>';


    $(function () {

        $(document).ready(function () {
            
            var ZonaSeccionRechazo = "@Model.ZonaSeccionRechazo";
            if (ZonaSeccionRechazo == null || ZonaSeccionRechazo == "") {
                $('#spMalaZonificacion').hide();
            }
            else {
                $('#spMalaZonificacion').show();
            }

            $.validator.unobtrusive.parse('form');
            $.validator.unobtrusive.parse('form0');
            var camposUbigeoDireccionLabel = $(".campoDireccionUbigeo label");
            var camposUbigeoReferenciaLabel = $(".campoReferenciaUbigeo label");
            var camposUbigeo = $(".contenedor_camposUbigeo");

            if ($(camposUbigeoDireccionLabel).html().length > 11) {

                //$(camposUbigeoDireccionLabel).css({ "top": "3px" });

                if ($(camposUbigeo).length <= 5) {
                    $(camposUbigeo).find("label").css({ "display": "inline-block" });
                    $(camposUbigeo).find("input[type='text']").css({ "display": "inline-block" });
                    $(camposUbigeo).find("select").css({ "display": "inline-block" });
                }

            } else {

                if ($(camposUbigeoReferenciaLabel).length != 0) {

                    if ($(camposUbigeoReferenciaLabel).html().length > 11) {
                        $(camposUbigeoReferenciaLabel).css({ "top": "3px" });
                    }

                    if ($(camposUbigeo).length <= 5) {
                        $(camposUbigeo).find("label").css({ "display": "inline-block" });
                        $(camposUbigeo).find("input[type='text']").css({ "display": "inline-block" });
                        $(camposUbigeo).find("select").css({ "display": "inline-block" });
                    }

                } else {

                    $(camposUbigeo).find("label").css({ "display": "block" });
                    $(camposUbigeo).find("select").css({ "display": "block" });

                }

            }

            $('#DivSinGEO').hide();
            $('#DivConGEO').hide();
            $('#btnEditarPosicion').hide();
            $('#btnGrabarPosicion').hide();
            $('#coordenadasX').prop('readonly', true);
            $('#coordenadasY').prop('readonly', true);
            $('#regionXY').prop('readonly', true);

            $.validator.unobtrusive.parse('form');

            $('.numero').keydown(IntegerNumber);

            $('#LugarNivel1')
               .change(function () {
                   var nivel1 = $(this);
                   var nivel2 = $('#LugarNivel2');
                   nivel2.attr('disabled', 'disabled');

                   $('#NombreLugarNivel1').val(nivel1.find('option:selected').text());
                   $.getJSON('@Url.Action("ObtenerNivelN")',
                           { id: this.value, codigoIso: "@Model.EditarDireccionModel.CodigoPais", nivel: '@Enumeradores.TipoParametro.LugarNivel2.ToInt()' },
                           function (data) {
                               nivel2.html(defaultOption);

                               $.map(data,
                                   function (e, i) {
                                       nivel2.append('<option value="' + e.Value + '">' + e.Text + '</option>');
                                   });
                           })
                       .complete(function () {
                           nivel2.attr('disabled', false);
                           if (nivel1.val() == '') {
                               nivel2.html(defaultOption);
                           }
                       });
               });

            $('#LugarNivel2')
                .change(function () {
                    var nivel2 = $(this);
                    $('#NombreLugarNivel2').val(nivel2.find('option:selected').text());

                    if ("@Model.EditarDireccionModel.CodigoPais" == "CO")
                        return;

                    var nivel3 = $('#LugarNivel3');
                    nivel3.attr('disabled', 'disabled');

                    $.getJSON('@Url.Action("ObtenerNivelN")',
                            { id: this.value, codigoIso: "@Model.EditarDireccionModel.CodigoPais", nivel: '@Enumeradores.TipoParametro.LugarNivel3.ToInt()' },
                            function (data) {
                                nivel3.html(defaultOption);

                                $.map(data,
                                    function (e, i) {
                                        nivel3.append('<option value="' + e.Value + '">' + e.Text + '</option>');
                                    });
                            })
                        .complete(function () {
                            nivel3.attr('disabled', false);
                            if (nivel2.val() == '') {
                                nivel3.html(defaultOption);
                            }
                        });
                });

            $('#LugarNivel3')
                .change(function () {
                    var nivel3 = $(this);

                    $('#NombreLugarNivel3').val($(this).find('option:selected').text());

                    var nivel4 = $('#LugarNivel4');
                    if (nivel4.length == 0) return;
                    var div = $('#centroPoblado');
                    nivel4.attr('disabled', 'disabled');

                    if (this.value == '')
                    {
                        $('#LugarNivel4').html(defaultOption);
                        nivel4.attr('disabled', false);
                        return;
                    }

                    $.getJSON('@Url.Action("ObtenerNivelN")',
                            { id: this.value, codigoIso: "@Model.EditarDireccionModel.CodigoPais", nivel: '@Enumeradores.TipoParametro.LugarNivel4.ToInt()' },
                            function (data) {
                                nivel4.html(defaultOption);
                                if (data.length == 0) {
                                    $('#ContaValorNivel3').val('0');
                                    nivel4.val('');
                                    div.hide();
                                }
                                else {
                                    $('#ContaValorNivel3').val('1');
                                    div.show();
                                }
                                $.map(data,
                                    function (e, i) {
                                        nivel4.append('<option value="' + e.Value + '">' + e.Text + '</option>');
                                    });
                            })
                        .complete(function () {
                            nivel4.attr('disabled', false);
                            if (nivel3.val() == '') {
                                nivel4.html(defaultOption);

                            }
                        });
                });

            $('#LugarNivel4').change(function () {
                //$('#NombreLugarNivel4').val($(this).find('option:selected').text());
                var nivel3 = $(this);

                $('#NombreLugarNivel4').val($(this).find('option:selected').text());

                var nivel5 = $('#LugarNivel5');
                if (nivel5.length == 0) return;
                nivel5.attr('disabled', 'disabled');

                $.getJSON('@Url.Action("ObtenerNivelN")',
                        { id: this.value, codigoIso: "@Model.EditarDireccionModel.CodigoPais", nivel: '@Enumeradores.TipoParametro.LugarNivel5.ToInt()' },
                        function (data) {
                            nivel5.html(defaultOption);

                            $.map(data,
                                function (e, i) {
                                    nivel5.append('<option value="' + e.Value + '">' + e.Text + '</option>');
                                });
                        })
                    .complete(function () {
                        nivel5.attr('disabled', false);
                        if (nivel3.val() == '') {
                            nivel5.html(defaultOption);

                        }
                    });
            });

            $('#LugarNivel5').change(function () {
                $('#NombreLugarNivel5').val($(this).find('option:selected').text());
            });

            //$('#imgCerrarOpcion,#btnCancelar').click(function () {
            //   // modalOpcion.dialog('close');
            //    $('#divEditarDireccion').hide();
            //});
        });
    });




    function OnSuccess(html) {
        $('#divConsultarUbicacion').css({ "overflow-y": "hidden" });
        $('#divTemplateMensaje').empty();
        $('#divTemplateMensaje').html(html);
        $('#divTemplateMensaje').show();
        $('#divTemplateMensaje').css('z-index', '2000');
     
    }
    //# sourceURL===_ConsultarUbicacion.cshtml
</script>


<script>
    var map, marker, markers = [], markersSeleccionados = [], polygon, currentMaker, polygons = [];
    var urlContentImages = '@Url.Content("~/Content/Images/")';
    @{
        var titulo = Model.Puntos.Count > 1 ? "Elige la dirección correcta" : (Model.Puntos.Count > 0 ? "Confirma si es la dirección correcta" : "No se ha encontrado tu ubicación en el mapa");
    }

    $('#modal_title').html('@Html.Raw(titulo)');

    $('#btnNingunaDireccion').html('@Html.Raw(textoNingunaDireccion)');

    @if (Model.Puntos.Count == 0)
    {
        <text>$('#btnAceptar').hide();</text>
        <text>$('#DivSinGEO').show();</text>
        <text>$('#DivConGEO').hide();</text>
        <text>$('#spRegZonaSec').hide();</text>
        <text>$('#divLatLng').hide();</text>
        <text>$('#regionXY').hide();</text>
        <text>$('.contenedor_coordenadasYRegion').addClass('alineadoDerecha');</text>
        <text>$('#btnEditarPosicion').show();</text>
        <text> $('#btnGrabarPosicion').hide();</text>
        if (Model.EditarDireccionModel.CodigoPais == Constantes.CodigosISOPais.CostaRica || Model.EditarDireccionModel.CodigoPais == Constantes.CodigosISOPais.Panama || Model.EditarDireccionModel.CodigoPais == Constantes.CodigosISOPais.Salvador || Model.EditarDireccionModel.CodigoPais == Constantes.CodigosISOPais.Guatemala)
        {
            <text>$('.contenedor_coordenadasYRegion').hide();</text>
            <text>$('.popup_editarDireccion').css({ "padding-bottom": "0px" });</text>
        }
    }

    $(function () {
        setTimeout(cargarMapa, 1000);
    });

    $('#imgCerrar').click(function () {
        modal.dialog('close');
    })

    $('#btnEditarDireccion').click(function () {
        var solicitudPostulanteID = $('#SolicitudPostulanteID').val();
        $('#divEditarDireccion').empty();
        $('#divEditarDireccion').show();

        LoadSpinner('divEditarDireccion');
        $('#divEditarDireccion').css('z-index', '2000');
        $.get('@Url.Action("EditarDireccion", "Unete")', { id: solicitudPostulanteID }, function (html) {
            $('#divEditarDireccion').html(html);
            $('#divEditarDireccion').show();
            $('#divEditarDireccion').css('z-index', '2000');
        }).done(function () {

        });
    });

    $('#btnNingunaDireccion').click(function () {

        var solicitudPostulanteID = $('#SolicitudPostulanteID').val();
        $('#divEditarManualDireccion').empty();
        $('#divEditarManualDireccion').show();

        LoadSpinner('divEditarManualDireccion');
        $('#divEditarManualDireccion').css('z-index', '2000');
        $.get('@Url.Action("EditarDireccionManualmente", "Unete")', { id: solicitudPostulanteID }, function (html) {
            $('#divEditarManualDireccion').html(html);
            $('#divEditarManualDireccion').show();
            $('#divEditarManualDireccion').css('z-index', '2000');
        }).done(function () {

        });



    });

    $('#btnAceptar').click(function () {
        if (map) {
            var center = map.center;

            // post
            var data = {
                id: $('#SolicitudPostulanteID').val(),
                latitud: parseFloat(marker.getPosition().lat()),
                longitud: parseFloat(marker.getPosition().lng()),
                direccionCorrecta: $(this).attr('data-direccion-correcta'),
                direccionCadena: $('#DireccionCadena').val(),
                region: $('#NombreRegion').val(),
                comuna: $('#NombreComuna').val(),
                codregion: $('#Region').val(),
                codzona: $('#Zona').val(),
                codseccion: $('#Seccion').val(),
                codterritorio: $('#Territorio').val(),
                direccion: $('#Direccion').val()
            };



            // waitingDialog({});
            generalLoading();

            $.post('@Url.Action("ConsultarUbicacion", "Unete")', data, function (actualizado) {
                if (actualizado) {
                    //  modal.dialog('close');
                    $('#divConsultarUbicacion').hide();
                    fnGrilla();
                }
            }).complete(function () {
                // closeWaitingDialog({});
                generalCloseLoading();
            });
        }
    })

    $('#btnEditarPosicion').click(function () {
        $('#DivSinGEO').hide();
        $('#DivConGEO').show();
        $('#spRegZonaSec').show();
        $('#divLatLng').show();
        $('#regionXY').show();
        $('.contenedor_coordenadasYRegion').removeClass('alineadoDerecha');
        $('#mapa').addClass('height_100');
        $('#btnEditarPosicion').hide();
        $('#btnGrabarPosicion').show();
        $('#btnModificarDireccion').addClass('HabInaButton');
        $('#btnGrabarDireccion').addClass('HabInaButton');
        $('#btnActualizarSeccion').addClass('HabInaButton');
        $('#btnModificarDireccion').attr('disabled', true);
        $('#btnGrabarDireccion').attr('disabled', true);
        $('#btnActualizarSeccion').attr('disabled', true);
        EditMapa();
    });

    $('#btnGrabarPosicion').click(function () {
        var data = {
            id: $('#SolicitudPostulanteID').val(),
            latitud: parseFloat($('#coordenadasX').val()),
            longitud: parseFloat($('#coordenadasY').val()),
            direccionCorrecta: $(this).attr('data-direccion-correcta'),
            direccionCadena: $('#DireccionCadena').val(),
            region: $('#NombreRegion').val(),
            comuna: $('#NombreComuna').val(),
            codregion: $('#Region').val(),
            codzona: $('#Zona').val(),
            codseccion: $('#Seccion').val(),
            codterritorio: $('#Territorio').val(),
            direccion: $('#Direccion').val()
        };
        $('#divConfirmarPosicion').empty();
        $('#divConfirmarPosicion').show();

        LoadSpinner('divConfirmarPosicion');
        $('#divConfirmarPosicion').css('z-index', '2000');
        $.get('@Url.Action("ConfirmarPosicion", "Unete")', data, function (html) {
            $('#divConfirmarPosicion').html(html);
            $('#divConfirmarPosicion').show();
            $('#divConfirmarPosicion').css('z-index', '2000');
        }).done(function () {

        });
    });

    

    $('.fila-direccion').click(function () {
        $('#btnAceptar').attr('disabled', false);
        $('#btnNingunaDireccion').attr('disabled', true);
        $('.fila-direccion').removeClass('selected');
        $(this).addClass('selected');

        if (map) {

            var lat = parseFloat($(this).attr('data-latitud').replace(',', '.'));
            var lnt = parseFloat($(this).attr('data-longitud').replace(',', '.'));

            map.panTo(new google.maps.LatLng(lat, lnt));
            for (var i in markers) {
                var marker = markers[i];
                if (marker.setAnimation) {
                    marker.setAnimation(null);
                }
            }
            markers[$(this).attr('data-nro')].setAnimation(google.maps.Animation.BOUNCE);

            // Consultar servicio para buscar territorio

            var data = {
                latitud: lat,
                longitud: lnt
            }

            //  waitingDialog({});
            generalLoading();

            $.post('@Url.Action("ConsultarTerritorios", "Unete")', data, function (json) {

                if (polygon != null) {
                    polygon.setMap(null);
                }

                var coords = JSON.parse(json.Vertices);

                if (coords != null && coords.length > 0) {
                    var bounds = new google.maps.LatLngBounds();

                    $.each(coords, function (i, coord) {
                        bounds.extend(new google.maps.LatLng(coord.lat, coord.lng));
                    })

                    polygon = new google.maps.Polygon({
                        paths: coords,
                        strokeColor: '#FF0000',
                        strokeOpacity: 0.8,
                        strokeWeight: 2,
                        fillColor: '#FF0000',
                        fillOpacity: 0.35
                    });
                    
                    polygon.setMap(map);

                    map.fitBounds(bounds);

                    $('#datos_territorio').show();
                    $('mensaje_territorio').hide();
                    $('#spanRegion').html(json.Region);
                    $('#spanZona').html(json.Zona);
                    $('#spanSeccion').html(json.Seccion);
                    $('#spanTerritorio').html(json.Territorio);

                    $('#btnAceptar').attr('disabled', false);
                } else {
                    $('datos_territorio').hide();
                    $('mensaje_territorio').show();
                }

                //no quitar altura del mapa
                //$('#mapa').removeClass('height_100');

            }).complete(function () {
                // closeWaitingDialog({});
                generalCloseLoading();
            });

        }
    });
    function GetMarkerMorado() {
        var makerMorado = null;
        for (var i = 0; i < markers.length; i++) {
            if (markers[i].icon = urlContentImages + 'icono-maps-lbel.png') {
                return markers[i];
            }
        }
        //for (var mark in markers) {
        //    if (mark.icon = urlContentImages + 'icono-maps-lbel.png') {
        //        return mark;
        //    }
        //}
        return makerMorado;
    }
    function MostrarTerritorio(lat, lnt) {

        if (map) {

            map.panTo(new google.maps.LatLng(lat, lnt));
            for (var i in markers) {
                var marker = markers[i];
                if (marker.setAnimation) {
                    marker.setAnimation(null);
                }
                //if (marker[i].Icon = '') {
                //}
            }
            var markerMorado = GetMarkerMorado()
            markerMorado.setAnimation(google.maps.Animation.BOUNCE);

            // Consultar servicio para buscar territorio

            var data = {
                latitud: lat,
                longitud: lnt
            }

            //  waitingDialog({});
            generalLoading();

            $.post('@Url.Action("ConsultarTerritorios", "Unete")', data, function (json) {

                if (polygon != null) {
                    //polygon.setMap(null);
                }

                var coords = JSON.parse(json.Vertices);

                if (coords != null && coords.length > 0) {
                    var bounds = new google.maps.LatLngBounds();

                    $.each(coords, function (i, coord) {
                        bounds.extend(new google.maps.LatLng(coord.lat, coord.lng));
                    })

                    polygon = new google.maps.Polygon({
                        paths: coords,
                        strokeColor: '#FF0000',
                        strokeOpacity: 0.8,
                        strokeWeight: 2,
                        fillColor: '#FF0000',
                        fillOpacity: 0.35
                    });
                    polygons.push(polygon);
                    polygon.setMap(map);

                    map.fitBounds(bounds);

                    //$('#regionXY').val('');
                    $('#regionXY').val(json.Region + '/' + json.Zona + '/' + json.Seccion);
                    $('#Region').val(json.Region);
                    $('#Zona').val(json.Zona);
                    $('#Seccion').val(json.Seccion);
                    $('#Territorio').val(json.Territorio);

                } else {
                    if (json.Region != null && json.Zona != null && json.Seccion != null && json.Region != '' && json.Zona != '' && json.Seccion != '')
                    {
                        $('#regionXY').val(json.Region + '/' + json.Zona + '/' + json.Seccion);
                        $('#Region').val(json.Region);
                        $('#Zona').val(json.Zona);
                        $('#Seccion').val(json.Seccion);
                        $('#Territorio').val(json.Territorio);
                    }
                    else
                    {
                        $('#regionXY').val('');
                        $('#Region').val('');
                        $('#Zona').val('');
                        $('#Seccion').val('');
                        $('#Territorio').val('');
                    }
                    
                    //$('mensaje_territorio').show();
                    //alert('No se encontraron vertices');

                }

                //no quitar altura del mapa
                //$('#mapa').removeClass('height_100');

            }).complete(function () {
                // closeWaitingDialog({});
                generalCloseLoading();
            });

        }
    }
    function clearMarkers() {
       for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(null);
       }
       markers = [];
    }
    function clearPoligonos() {
        for (var i = 0; i < polygons.length; i++) {
            polygons[i].setMap(null);
        }
        polygons = [];
    }

    function EditMapa() {

        if (google && google.maps) {
            modalOpcion.dialog('close');

            map = new google.maps.Map(document.getElementById('mapa'), {
                center: { lat: -12.0463667, lng: -77.0427891 },
                zoom: 18,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });
            //infowindows
            var infowindow = new google.maps.InfoWindow();
            //searchBox
            var searchBox = new google.maps.places.SearchBox(document.getElementById('inputSearchBox'));

            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    marker = new google.maps.Marker({
                        position: pos,
                        map: map,
                        icon: urlContentImages + 'icono-maps-lbel.png'
                    });

                    map.setCenter(pos);
                    markers.push(marker);

                    marker.addListener('click', function () {
                        //Change the marker icon
                        //pintarRojo();
                        //setMarkerOnMap(map, this);
                        //this.setIcon(urlContentImages + 'icono-maps-lbel.png');
                        setMarkerOnMap(map, this);
                        clearMarkerMenosSeleccionado(this);
                        this.setIcon(urlContentImages + 'icono-maps-lbel.png');
                        MostrarTerritorio(this.position.lat(), this.position.lng());
                    });

                    map.setZoom(18);
                    //Se agregó
                    //MostrarTerritorio(pos.lat,pos.lng);
                }, function () { });
            }

            map.addListener('drag', function () {
                //   searchBox.setBounds(map.getBounds());
                var markerMorado = GetMarkerMorado();
                if (markerMorado) {
                    markerMorado.setPosition(map.getCenter());
                    $('#coordenadasX').val(markerMorado.position.lat());
                    $('#coordenadasY').val(markerMorado.position.lng());
                    var pos = {
                        lat: markerMorado.position.lat(),
                        lng: markerMorado.position.lng()

                    };
                    //MostrarTerritorio(markerMorado.position.lat(), markerMorado.position.lng());
                    //geocodePosition(pos);
                }

            });
            map.addListener('dragend', function () {
                // searchBox.setBounds(map.getBounds());
                var markerMorado = GetMarkerMorado();
                if (markerMorado) {
                    markerMorado.setPosition(map.getCenter());
                    $('#coordenadasX').val(markerMorado.position.lat());
                    $('#coordenadasY').val(markerMorado.position.lng());
                    var pos = {
                        lat: markerMorado.position.lat(),
                        lng: markerMorado.position.lng()
                    };
                    //geocodePosition(pos);
                    MostrarTerritorio(markerMorado.position.lat(), markerMorado.position.lng());
                }
            });


            map.addListener('bounds_changed', function () {
                // searchBox.setBounds(map.getBounds());
                var markerMorado = GetMarkerMorado();
                if (markerMorado) {
                    markerMorado.setPosition(map.getCenter());
                    $('#coordenadasX').val(markerMorado.position.lat());
                    $('#coordenadasY').val(markerMorado.position.lng());
                    var pos = {
                        lat: markerMorado.position.lat(),
                        lng: markerMorado.position.lng()
                    };
                    //geocodePosition(pos);
                    //MostrarTerritorio(markerMorado.position.lat(), markerMorado.position.lng());
                }
            });

            searchBox.addListener('places_changed', function () {
                clearMarkers();
                clearPoligonos();
                var places = searchBox.getPlaces();
                if (places.length == 0) {
                    map.setZoom(15);
                    return;
                }

                var bounds = new google.maps.LatLngBounds();
                places.forEach(function (place) {
                    var newMarker = new google.maps.Marker({
                        map: map,
                        title: place.name,
                        position: place.geometry.location,
                        icon: urlContentImages + 'icono-maps-lbel.png'
                    });
                    markers.push(newMarker);
                    newMarker.addListener('mouseover', function () {
                        infowindow.setContent('<div><strong>' + place.name + '</strong><br>' +
                          place.formatted_address + '</div>');
                        infowindow.open(map, this);
                    });
                    //setMarkerOnMap(map, newMarker);//quitamos los markers del mapa y ponemos solo el seleccionado
                    //pintarMorado(newMarker)//pintamos morado el marker y los demas rojo

                    if (place.geometry.viewport) {
                        bounds.union(place.geometry.viewport);
                    } else {
                        bounds.extend(place.geometry.location);
                    }
                    MostrarTerritorio(newMarker.position.lat(), newMarker.position.lng());
                    $('#coordenadasX').val(newMarker.position.lat());
                    $('#coordenadasY').val(newMarker.position.lng());
                    
                });
                map.fitBounds(bounds);
                map.setZoom(18);
            });
        }
    }

    function pintarRojo() {
        for (var i = 0; i < markers.length; i++) {
            markers[i].setIcon(urlContentImages + 'icono-maps-esika.png');
        }
    }

    function pintarMorado(marcador) {
        for (var i = 0; i < markers.length; i++) {
            if (markers[i].position.lat() == marcador.position.lat() && markers[i].position.lng() == marcador.position.lng())
            { markers[i].setIcon(urlContentImages + 'icono-maps-lbel.png'); }
            else
            { markers[i].setIcon(urlContentImages + 'icono-maps-esika.png'); }
        }
    }

    function clearMarkerMenosSeleccionado(marcador) {
        for (var i = 0; i < markers.length; i++) {
            if (markers[i].position.lat() == marcador.position.lat() && markers[i].position.lng() == marcador.position.lng())
            {  }
            else
            {
                //delete markers[i];
                markers.splice(i, 1);
            }
        }
    }

    function setMarkerOnMap(mapa, marcador) {
        for (var i = 0; i < markers.length; i++) {
            if (markers[i].position.lat() == marcador.position.lat() && markers[i].position.lng() == marcador.position.lng())
            { markers[i].setMap(mapa); }
            else
            { markers[i].setMap(null); }
        }
    }
    function cargarMapa() {
        var GLOBAL = {};
        if (google && google.maps) {
            var markerBounds = new google.maps.LatLngBounds();
            modalOpcion.dialog('close');
            @if (Model.Puntos.Count > 0)
            {

               @*<text> $('#mapa').addClass('height_100'); </text>*@
		        <text>
            $('#DivSinGEO').hide();
            $('#DivConGEO').show();
            $('#spRegZonaSec').show();
            $('#divLatLng').show();
            $('#regionXY').show();
            $('.contenedor_coordenadasYRegion').removeClass('alineadoDerecha');
            $('#btnEditarPosicion').hide();
            $('#btnGrabarPosicion').show();
            map = new google.maps.Map(document.getElementById('mapa'), {
                center: new google.maps.LatLng(parseFloat('@Model.Puntos[0].Item1'.replace(",", ".")), parseFloat('@Model.Puntos[0].Item2'.replace(",", ".")))
            });

            //infowindows
            var infowindow = new google.maps.InfoWindow();
            //searchBox
            var searchBox = new google.maps.places.SearchBox(document.getElementById('inputSearchBox'));
            var nombreIcono = 'icono-maps-lbel.png';
            @*@if (Model.Puntos.Count > 1)
            {
                <text>  nombreIcono = 'icono-maps-esika.png'; </text>
            }
            else
            {
                <text>  nombreIcono = 'icono-maps-lbel.png'; </text>
            }*@
            // Markers
            @for (var i = 0; i < Model.Puntos.Count; i++)
                    {
                        
                        var punto = Model.Puntos[i];
                        <text>
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(parseFloat('@punto.Item1'.replace(",", ".")), parseFloat('@punto.Item2'.replace(",", "."))),
                map: map,
                animation: google.maps.Animation.DROP,
                icon: urlContentImages + nombreIcono
            });
            marker.addListener('click', function () {
                //Change the marker icon
                //pintarRojo();
                setMarkerOnMap(map, this);
                clearMarkerMenosSeleccionado(this)
                this.setIcon(urlContentImages + 'icono-maps-lbel.png');
                MostrarTerritorio(this.position.lat(), this.position.lng());

            });
            @if(!string.IsNullOrEmpty(punto.Item3))
            {
                <text>
                marker.addListener('mouseover', function () {

                    infowindow.setContent('<div><strong>' + '@punto.Item3' + '</strong></div>');
                    infowindow.open(map, this);
                });
                </text>
            }
            markerBounds.extend(marker.getPosition());
            markers.push(marker);
            </text>
                    }

            

            </text>

                if (Model.Puntos.Count == 1)
                {
                    if (!string.IsNullOrWhiteSpace(Model.Vertices))
                    {
                        <text>
            var coords = JSON.parse('@Html.Raw(Model.Vertices.ToLower())');
            var bounds = new google.maps.LatLngBounds();

            $.each(coords, function (i, coord) {
                bounds.extend(new google.maps.LatLng(coord.lat, coord.lng));
                markerBounds.extend(new google.maps.LatLng(coord.lat, coord.lng));
            })

            polygon = new google.maps.Polygon({
                paths: coords,
                strokeColor: '#FF0000',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#FF0000',
                fillOpacity: 0.35
            });

            polygon.setMap(map);




            </text>
                    }

                    if (string.IsNullOrEmpty(Model.Region) || string.IsNullOrEmpty(Model.Zona) || string.IsNullOrEmpty(Model.Territorio))
                    {
                        
                        <text>
            $('#regionXY').val('');
            $('#datos_territorio').hide();
            $('#mensaje_territorio').show();
            </text>
                    }
                    else
                    {
                        var regionXYValue = Model.Region + '/' + Model.Zona + '/' + Model.Seccion;
                        <text>
            $('#regionXY').val('@regionXYValue');
            $('#datos_territorio').show();
            $('#mensaje_territorio').hide();
            $('#btnAceptar').attr('disabled', false);
            </text>
                    }

                    <text>
            $('.fila-direccion').addClass('selected');
            $('#btnAceptar').attr('disabled', false);
            markers[0].setAnimation(google.maps.Animation.BOUNCE);
            </text>
                }//termina if (Model.Puntos.Count == 1)

                <text>map.fitBounds(markerBounds);

            //evento searchBox changed
            google.maps.event.addListener(searchBox, 'places_changed', function () {
                clearMarkers();
                var places = searchBox.getPlaces();
                if (places.length == 0) {
                    map.setZoom(15);
                    return;
                }

                var bounds = new google.maps.LatLngBounds();
                places.forEach(function (place) {
                    marker = new google.maps.Marker({
                        map: map,
                        title: place.name,
                        position: place.geometry.location,
                        icon: urlContentImages + 'icono-maps-lbel.png'
                    });
                    markers.push(marker);
                    //marker.addListener('click', function () {
                    //    //Change the marker icon
                    //    marker.setIcon(urlContentImages + 'icono-maps-lbel.png');
                    //});

                    marker.addListener('mouseover', function () {
                        infowindow.setContent('<div><strong>' + place.name + '</strong><br>' +
                          place.formatted_address + '</div>');
                        infowindow.open(map, this);
                    });

                    if (place.geometry.viewport) {
                        //se comentó
                        //bounds.union(place.geometry.viewport);
                        markerBounds.union(place.geometry.viewport);
                    } else {
                        //se comentó
                        //bounds.extend(place.geometry.location);
                        markerBounds.extend(place.geometry.location);
                    }
                    MostrarTerritorio(marker.position.lat(), marker.position.lng());
                    $('#coordenadasX').val(marker.position.lat());
                    $('#coordenadasY').val(marker.position.lng());
                });
                //se comentó
                //map.fitBounds(bounds);
                //map.setZoom(18);
                map.fitBounds(markerBounds);
            });

            map.addListener('dragstart', function () {
                //   searchBox.setBounds(map.getBounds());
                if (markers.length > 1) {
                    var mapOldPositionCenter = this.getCenter();
                    //GLOBAL.startDragPositionCenter = mapOldPositionCenter;
                }
                else {
                    var markerMorado = GetMarkerMorado();
                    if (markerMorado) {
                        //    alert('Para arrastrar el mapa primero debe seleccionar un punto');
                        //    return;
                    }
                }
                
                
            });

            map.addListener('drag', function () {
                //   searchBox.setBounds(map.getBounds());
                var markerMorado = GetMarkerMorado();
                if (markers.length > 1) {
                    //var mapNewPositionCenter = this.getCenter();
                    //GLOBAL.endDragPositionCenter = mapNewPositionCenter;
                    //GLOBAL.endDragPositionCenter.lat = mapNewPositionCenter.lat() - GLOBAL.startDragPositionCenter.lat();
                    //GLOBAL.endDragPositionCenter.lng = mapNewPositionCenter.lng() - GLOBAL.startDragPositionCenter.lng();
                    //for (var i = 0; i < markers.length; i++) {
                    //    //markers[i].position.lat = 
                    //    markers[i].setPosition(GLOBAL.endDragPositionCenter);
                    //}
                    
                }
                else {
                    if (markerMorado) {
                        markerMorado.setPosition(map.getCenter());
                        $('#coordenadasX').val(markerMorado.position.lat());
                        $('#coordenadasY').val(markerMorado.position.lng());
                        var pos = {
                            lat: markerMorado.position.lat(),
                            lng: markerMorado.position.lng()

                        };
                        //geocodePosition(pos);
                    }
                }

            });
            map.addListener('dragend', function () {
                // searchBox.setBounds(map.getBounds());
                if (markers.length > 1) {
                    //var mapNewPositionCenter = this.getCenter();
                    //GLOBAL.endDragPositionCenter = mapNewPositionCenter;
                    //GLOBAL.endDragPositionCenter.lat = mapNewPositionCenter.lat() - GLOBAL.startDragPositionCenter.lat();
                    //GLOBAL.endDragPositionCenter.lng = mapNewPositionCenter.lng() - GLOBAL.startDragPositionCenter.lng();
                    //for (var i = 0; i < markers.length; i++) {
                    //    //markers[i].position.lat = 
                    //    markers[i].setPosition(GLOBAL.endDragPositionCenter);
                    //}
                }
                else {
                    var markerMorado = GetMarkerMorado();
                    if (markerMorado) {
                        markerMorado.setPosition(map.getCenter());
                        $('#coordenadasX').val(markerMorado.position.lat());
                        $('#coordenadasY').val(markerMorado.position.lng());
                        var pos = {
                            lat: markerMorado.position.lat(),
                            lng: markerMorado.position.lng()
                        };
                        //geocodePosition(pos);
                        MostrarTerritorio(markerMorado.position.lat(), markerMorado.position.lng());
                    }
                }
            });


            map.addListener('bounds_changed', function () {
                // searchBox.setBounds(map.getBounds());
                var markerMorado = GetMarkerMorado();
                if (markerMorado) {
                    $('#coordenadasX').val(markerMorado.position.lat());
                    $('#coordenadasY').val(markerMorado.position.lng());
                    marker.setPosition(map.getCenter());
                    var pos = {
                        lat: markerMorado.position.lat(),
                        lng: markerMorado.position.lng()
                    };
                    //geocodePosition(pos);
                }
            });

            </text>

	        }
        }
    }

    setTimeout(function () {
        $('.button_purple').css('behavior', 'url("@Url.Content("~/Content/Css/Pie/PIE.htc)")")');
    }, 8);


    //# sourceURL===_CargarMapa.cshtml
</script>





