@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.ServiceEvaluacionCrediticia
@using Portal.Consultoras.Web.ServiceUnete
@model Portal.Consultoras.Web.Models.ConsultarValidacionTelefonicaModel

@Html.HiddenFor(model => model.SolicitudPostulanteId)
@Html.HiddenFor(model => model.FechaRegValidacionTelefonica)

<style>
    .boton_celeste {
        width: 130px !important;
        background-color: #009EE4;
        color: white;
        border: none;
        outline: none;
        border-radius: 15px;
    }

        .boton_celeste:disabled {
            background-color: #BABABA;
            cursor: default;
        }

    .caja {
        border: 1px solid lightgray !important;
        padding: 10px !important;
        width: 94% !important;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    select:disabled {
        background-color: #BABABA;
        cursor: default;
    }
</style>

<div class="wrap_cab">
    <div class="filtros2">
        <div class="div-2">
            <h2>
                Validaci&oacute;n Telef&oacute;nica
                <img id="imgCerrar" src="@Url.Content("~/Content/Images/btnCerrar_AD.png")" class="float_rigth" style="cursor: pointer;" />
            </h2>
        </div>
    </div>
</div>
<div class="elements" id="opcionManual" style="padding-top: 0px !important;">
    <div class="caja borde_redondeado">
        <div class="div-3 ">
            <div class="titC">Estatus: </div>
            <div class="selectP2 borde_redondeado" style="width: 300px;">
                @Html.DropDownListFor(model => model.EstadoTelefonico, ViewBag.EstadosTelefonicos as SelectList, "Seleccione", new { @style = "width:300px;" })
            </div>
        </div>
        <div class="div-3" id="divRechazo" style="display: none">
            <div class="titC">Motivo Rechazo: </div>
            <div class="selectP2 borde_redondeado" style="width: 300px;">
                @Html.DropDownListFor(model => model.MotivoRechazoTelefonico, ViewBag.MotivosRechazoTelefonico as SelectList, "Seleccione",
                    new { @style = "width:300px;" })
            </div>
        </div>
    </div>
</div>

<div class="elements">
    <div class="div-2">
        <div class="input_search" style="text-align: center;">
            <input type="button" class="boton_celeste borde_redondeado" id="btnGuardar" value="Guardar" />
        </div>
    </div>
</div>


<script>
    
    $('#imgCerrar').click(function () {
        modal.dialog('close');
    });

    $("body").on("change", "#EstadoTelefonico", function () {
        var estadoSeleccionado = $(this).val();

        if (estadoSeleccionado == '@EnumsTipoEstadoTelefonico.Rechazado.ToInt()') {
            $("#divRechazo").show();
        } else $("#divRechazo").hide();
    });

    $("#btnGuardar").on("click", function () {

        var motivoRechazoTelefonico = $("#MotivoRechazoTelefonico").val();
        var estadoTelefonico = $('#EstadoTelefonico').val();

        if ((motivoRechazoTelefonico > 0 || estadoTelefonico == 1) && estadoTelefonico > 0) {
            var data = {
                SolicitudPostulanteId: $('#SolicitudPostulanteId').val(),
                EstadoTelefonico: estadoTelefonico,
                MotivoRechazoTelefonico: motivoRechazoTelefonico
            };

            waitingDialog({});
        
            $.post('@Url.Action("ConsultarValidacionTelefonica", "Unete")', data, function(actualizado) {
                if (actualizado) {
                    modal.dialog('close');
                    fnGrilla();
                }
            }).done(function() {
                closeWaitingDialog();
            });
        } else {
            
        }
    });

    setTimeout(function () {
        $('.boton_celeste').css('behavior', 'url("@Url.Content("~/Content/Css/Pie/PIE.htc)")")');
    }, 10);
</script>