@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Models;

@model Portal.Consultoras.Web.Models.EditarDireccionModel

<style>
    .validation {
        float: left;
        width: 170px !important;
        padding: 0 9px !important;
        min-height: 1px !important;
        color: #702789;
    }

    .validation_clear {
        float: left;
        width: 140px !important;
        height: 1px !important;
        padding: 0 9px !important;
    }

    .field_20 {
        color: #702789;
        float: left;
        width: 20%;
    }

    .field_80 {
        float: left;
        width: 80%;
    }

    .field_100 {
        float: left;
        width: 100%;
    }

    .field_85 {
        float: left;
        width: 85%;
    }

    .clear {
        height: 1px;
    }

    .field-validation-error {
        color: #702789;
    }

    .field_divider {
        width: 100%;
        height: 10px;
        float: left;
    }
</style>

@using (Ajax.BeginForm("EditarDireccion", "Unete", null, new AjaxOptions()
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    OnSuccess = "OnSuccess",
    OnBegin = "waitingDialog({});",
    OnComplete = "closeWaitingDialog({});"
}, null))
{
    @Html.HiddenFor(m => Model.SolicitudPostulanteID)
    @Html.HiddenFor(m => Model.CodigoPais)
    @Html.HiddenFor(m => Model.NombreLugarNivel1)
    @Html.HiddenFor(m => Model.NombreLugarNivel2)
    @Html.HiddenFor(m => Model.NombreLugarNivel3)
    @Html.HiddenFor(m => Model.NombreLugarNivel4)
    @Html.HiddenFor(m => Model.NombreLugarNivel5)
    @Html.HiddenFor(m => Model.ContaValorNivel3)
    <div class="wrap_cab">
        <div class="filtros2">
            <h2>
                Direcci&oacute;n del Solicitante
                <img id="imgCerrarOpcion" src="@Url.Content("~/Content/Images/btnCerrar_AD.png")" class="float_rigth" style="cursor: pointer;" />
            </h2>
        </div>
        <div class="elements" style="width:95% !important;padding-top:10px !important;">
            @Html.Partial(Dictionaries.TemplateUbigeos[Model.CodigoPais], Model)
        </div>
        <div class="elements" style="width:100% !important; padding:10px !important;">
            <div class="div-3">
                <div class="input_search" style="text-align:center;">
                    <input type="submit" style="float:initial !important;margin-right:20px;" id="btnGuardar" value="Aceptar" />
                    <input type="button" style="float:initial !important;" id="btnCancelar" value="Cancelar" />
                </div>
            </div>
        </div>
    </div>
}

<script>
    var defaultOption = '<option value="" >-- Seleccionar --</option>';

    $(function () {

        $.validator.unobtrusive.parse('form');

        $('.numero').keydown(IntegerNumber);

        $('#LugarNivel1')
           .change(function () {
               debugger;
               var nivel1 = $(this);
               var nivel2 = $('#LugarNivel2');
               nivel2.attr('disabled', 'disabled');

               $('#NombreLugarNivel1').val(nivel1.find('option:selected').text());
               $.getJSON('@Url.Action("ObtenerNivelN")',
                       { id: this.value, codigoIso: "@Model.CodigoPais", nivel: '@Enumeradores.TipoParametro.LugarNivel2.ToInt()' },
                       function (data) {
                           nivel2.html(defaultOption);

                           $.map(data,
                               function (e, i) {
                                   nivel2.append('<option value="' + e.Value + '">' + e.Text + '</option>');
                               });
                       })
                   .complete(function () {
                       nivel2.attr('disabled', false);
                       if (nivel1.val() == '') {
                           nivel2.html(defaultOption);
                       }
                   });
           });

        $('#LugarNivel2')
            .change(function () {
                debugger;
                var nivel2 = $(this);
                $('#NombreLugarNivel2').val(nivel2.find('option:selected').text());

                if ("@Model.CodigoPais" == "CO")
                    return;

                var nivel3 = $('#LugarNivel3');
                nivel3.attr('disabled', 'disabled');

                $.getJSON('@Url.Action("ObtenerNivelN")',
                        { id: this.value, codigoIso: "@Model.CodigoPais", nivel: '@Enumeradores.TipoParametro.LugarNivel3.ToInt()' },
                        function (data) {
                            nivel3.html(defaultOption);

                            $.map(data,
                                function (e, i) {
                                    nivel3.append('<option value="' + e.Value + '">' + e.Text + '</option>');
                                });
                        })
                    .complete(function () {
                        nivel3.attr('disabled', false);
                        if (nivel2.val() == '') {
                            nivel3.html(defaultOption);
                        }
                    });
            });

        $('#LugarNivel3')
            .change(function () {
                debugger;
                var nivel3 = $(this);

                $('#NombreLugarNivel3').val($(this).find('option:selected').text());

                var nivel4 = $('#LugarNivel4');
                if (nivel4.length == 0) return;
                var div = $('#centroPoblado');
                nivel4.attr('disabled', 'disabled');

                $.getJSON('@Url.Action("ObtenerNivelN")',
                        { id: this.value, codigoIso: "@Model.CodigoPais", nivel: '@Enumeradores.TipoParametro.LugarNivel4.ToInt()' },
                        function (data) {
                            nivel4.html(defaultOption);
                            if (data.length == 0) {
                                $('#ContaValorNivel3').val('0');
                                nivel4.val('');
                                div.hide();
                            }
                            else {
                                $('#ContaValorNivel3').val('1');
                                div.show();
                            }
                            $.map(data,
                                function (e, i) {
                                    nivel4.append('<option value="' + e.Value + '">' + e.Text + '</option>');
                                });
                        })
                    .complete(function () {
                        nivel4.attr('disabled', false);
                        if (nivel3.val() == '') {
                            nivel4.html(defaultOption);

                        }
                    });
            });

        $('#LugarNivel4').change(function () {
            //$('#NombreLugarNivel4').val($(this).find('option:selected').text());
            debugger;
            var nivel3 = $(this);

            $('#NombreLugarNivel4').val($(this).find('option:selected').text());

            var nivel5 = $('#LugarNivel5');
            if (nivel5.length == 0) return;
            nivel5.attr('disabled', 'disabled');

            $.getJSON('@Url.Action("ObtenerNivelN")',
                    { id: this.value, codigoIso: "@Model.CodigoPais", nivel: '@Enumeradores.TipoParametro.LugarNivel5.ToInt()' },
                    function (data) {
                        nivel5.html(defaultOption);
                      
                        $.map(data,
                            function (e, i) {
                                nivel5.append('<option value="' + e.Value + '">' + e.Text + '</option>');
                            });
                    })
                .complete(function () {
                    nivel5.attr('disabled', false);
                    if (nivel3.val() == '') {
                        nivel5.html(defaultOption);

                    }
                });
        });

        $('#LugarNivel5').change(function () {
            $('#NombreLugarNivel5').val($(this).find('option:selected').text());
        });

        $('#imgCerrarOpcion,#btnCancelar').click(function () {
            modalOpcion.dialog('close');
        });
    });

    function OnSuccess(html) {
        $('#modal_content').html(html);
    }
</script>