@using Portal.Consultoras.Web.ServiceUnete;
@model Portal.Consultoras.Web.Models.EditarDireccionManualmenteModel

@{
    var zonas = new SelectList(new List<ZonaBE>(), "ZonaID", "Codigo");
    var secciones = new SelectList(new List<SeccionBE>(), "SeccionID", "Codigo");
    var territorios = new SelectList(new List<TerritorioBE>(), "TerritorioID", "Codigo");
}

<style>
    .validation {
        float: left;
        width: 170px !important;
        padding: 0 9px !important;
        min-height: 1px !important;
        color: #702789;
    }

    .validation_clear {
        float: left;
        width: 140px !important;
        height: 1px !important;
        padding: 0 9px !important;
    }

    .field_20 {
        color: #702789;
        float: left;
        width: 20%;
    }

    .field_80 {
        float: left;
        width: 80%;
    }

    .field_100 {
        float: left;
        width: 100%;
    }

    .field_85 {
        float: left;
        width: 85%;
    }

    .clear {
        height: 1px;
    }

    .field-validation-error {
        color: #702789;
    }

    .field_divider {
        width: 100%;
        height: 10px;
        float: left;
    }
</style>

@using (Ajax.BeginForm("EditarDireccionManualmente", "Unete", null, new AjaxOptions()
{
    HttpMethod = "POST",
    UpdateTargetId = "divEditarManualDireccion",
    InsertionMode = InsertionMode.Replace,
    OnSuccess = "OnSuccess",
    OnBegin = "generalLoading();",
    OnComplete = "generalCloseLoading();"
}, null))
{
    @Html.HiddenFor(m => Model.SolicitudPostulanteID)
    @Html.HiddenFor(m => Model.CodigoPais)
    @Html.HiddenFor(m => Model.CodigoZona)
    @Html.HiddenFor(m => Model.CodigoSeccion)
    @Html.HiddenFor(m => Model.CodigoTerritorio)



    <div class="popup_eliminarCliente popup_EditarUbi">
        <div class="btn_cerrar_agregarUnidades">
            <a href="javascript:;" onclick="CerrarDiv(6);">
                <img src="@Url.Content("~/Content/Images/btn_cerrar_popup.svg")" alt="Cerrar" />
                <span class="texto_btn_cerrar">CERRAR</span>
            </a>
        </div>
        <h6><b> Gestionar Manualmente</b></h6>
        <div class="contenido_popUp eliminarCliente">

            <div class="elements" style="width: 95% !important; padding-top: 10px !important;">
                <div class="div-3">
                   
                    <div class="selectP2 seleccion_pagina textboxSB2 editarDireccion_camposSelect">
                        @Html.DropDownListFor(m => Model.Region, ViewBag.Regiones as SelectList, " Región", new { @class = "field_85 textboxSB" })
                    </div>
                </div>
                <div class="div-3">
                    <div class="validation_clear"></div>
                    <div class="validation">
                        @Html.ValidationMessageFor(m => Model.Region)
                    </div>
                </div>

                <div class="div-3">
                  
                    <div class="selectP2 seleccion_pagina textboxSB2 editarDireccion_camposSelect">
                        @Html.DropDownListFor(m => Model.Zona, zonas, "Zona", new { @class = "field_85 textboxSB", @disabled = true })
                    </div>
                </div>
                <div class="div-3">
                    <div class="validation_clear"></div>
                    <div class="validation">
                        @Html.ValidationMessageFor(m => Model.Zona)
                    </div>
                </div>

                <div class="div-3">
                     

                    <div class="selectP2 seleccion_pagina textboxSB2 editarDireccion_camposSelect">
                        @Html.DropDownListFor(m => Model.Seccion, secciones, "Sección", new { @class = "field_85 textboxSB", @disabled = true })
                    </div>
                </div>
                <div class="div-3">
                    <div class="validation_clear"></div>
                    <div class="validation">
                        @Html.ValidationMessageFor(m => Model.Seccion)
                    </div>
                </div>

                <div class="div-3">
                   
                    <div class="selectP2 seleccion_pagina textboxSB2 editarDireccion_camposSelect">
                        @Html.DropDownListFor(m => Model.Territorio, territorios, "Territorio", new { @class = "field_85 textboxSB", @disabled = true })
                    </div>
                </div>
                <div class="div-3">
                    <div class="validation_clear"></div>
                    <div class="validation">
                        @Html.ValidationMessageFor(m => Model.Territorio)
                    </div>
                </div>


            </div>

            <div class="btn_grupo_eliminarCliente" style="width:90%; margin-left:5%; display:inline-block; margin-top:10px;">

                <input type="submit" class="btn_noEliminarCliente btnEditarManualUbic" id="btnGuardar" value="Aceptar" />
                <button type="button" name="btn_noEliminarCliente" class="btn_noEliminarCliente btnEditarManualUbic" id="btnCancelar">Cancelar </button>
 

            </div>
        </div>
    </div>


    <style>
        .btnEditarManualUbic {
            float: none !important;
            text-align: center;
            font-weight: normal !important;
            width: 25% !important;
            font-size: 13px;
            line-height: normal !important;
        }

        button:disabled {
            background-color: #B75D9F;
            cursor: default;
        }

        .popup_EditarUbi h6 {
            display: block !Important;
            margin: 0 0 30px 0 !Important;
            padding: 0 !Important;
            font-family: 'Lato' !Important;
            font-size: 20px !Important;
            color: #000 !Important;
            text-align: center !Important;
            font-weight: normal !Important;
            line-height: 1.25 !Important;
        }

        .popup_EditarUbi {
            max-width: 600px !important;
            margin: 30px auto 0 auto !important;
            /*posicion*/
        }

        .elementsFont {
            width: 100%;
            font-family: 'lato';
            font-size: 11pt;
            font-weight: 300;
            color: black;
            margin-top: 10px;
        }

        .selectP2 select {
            height: 24px;
            font-family: 'Lato';
            color: black;
            font-size: 11.7px;
            cursor: pointer;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            width: 300px;
        }

        .div-3 .selectP2.editarDireccion_camposSelect{
            height:38px;
            margin:0 auto!important;
            position: relative;
            box-sizing: border-box;
            float:none;
        }

        .selectUbicacion {
            width: 300px !important;
        }

            .selectUbicacion select {
                width: 300px !important;
            }

        keygen, select, select[size="0"], select[size="1"] {
            border-radius: 0px;
            border-color: rgb(169, 169, 169);
        }

        user agent stylesheet select:not(:-internal-list-box) {
            overflow: visible !important;
        }

        user agent stylesheet select {
            -webkit-appearance: menulist;
            box-sizing: border-box;
            align-items: center;
            white-space: pre;
            -webkit-rtl-ordering: logical;
            color: black;
            background-color: white;
            cursor: default;
            border-width: 1px;
            border-style: solid;
            border-color: initial;
            border-image: initial;
        }

        user agent stylesheet keygen, select {
            border-radius: 5px;
        }

        user agent stylesheet input, textarea, keygen, select, button {
            text-rendering: auto;
            color: initial;
            letter-spacing: normal;
            word-spacing: normal;
            text-transform: none;
            text-indent: 0px;
            text-shadow: none;
            display: inline-block;
            text-align: start;
            margin: 0em 0em 0em 0em;
            font: 13.3333px Arial;
        }

        user agent stylesheet input, textarea, keygen, select, button, meter, progress {
            -webkit-writing-mode: horizontal-tb;
        }
    </style>


   
}

<script>
    var defaultOption = '<option value="" >Seleccione</option>';

    $(function () {

        $(document).ready(function () {

            $.validator.unobtrusive.parse('form');

            $('.numero').keydown(IntegerNumber);

            $('#btnCancelar, #imgCerrarOpcion').click(function () {
                // modalOpcion.dialog('close');

                $('#divEditarManualDireccion').hide();
            });

            $('select#Region').change(function () {
                $('select#Zona,select#Seccion,select#Territorio').attr('disabled', true);

                if (this.value == '') {
                    //$('select#Zona,select#Seccion,select#Territorio').html(defaultOption);
                    $('select#Zona').html('<option value="" >Zona</option>');
                    $('select#Seccion').html('<option value="" >Seccion</option>');
                    $('select#Territorio').html('<option value="" >Territorio</option>');
                    return;
                }

                $.getJSON('@Url.Action("ObtenerZonas")', { regionID: this.value }, function (data) {
                    //$('select#Zona,select#Seccion,select#Territorio').html(defaultOption);
                    $('select#Zona').html('<option value="" >Zona</option>');
                    $('select#Seccion').html('<option value="" >Seccion</option>');
                    $('select#Territorio').html('<option value="" >Territorio</option>');
                    $.map(data, function (e, i) {
                        $('select#Zona').append('<option value="' + e.Value + '">' + e.Text + '</option>');
                    });
                }).complete(function () {
                    $('select#Zona').attr('disabled', false);
                });
            });

            $('select#Zona').change(function () {
                $('select#Seccion,select#Territorio').attr('disabled', true);

                if (this.value == '') {
                    //   $('select#Seccion,select#Territorio').html(defaultOption);
 
                    $('select#Seccion').html('<option value="" >Seccion</option>');
                    $('select#Territorio').html('<option value="" >Territorio</option>');
                    $('#CodigoZona').val('');
                    return;
                }

                $('#CodigoZona').val($(this).find('option:selected').text());

                $.getJSON('@Url.Action("ObtenerSecciones")', { regionID: $('select#Region').val(), zonaID: this.value }, function (data) {
                    //$('select#Seccion,select#Territorio').html(defaultOption);
                    $('select#Seccion').html('<option value="" >Seccion</option>');
                    $('select#Territorio').html('<option value="" >Territorio</option>');
                    $.map(data, function (e, i) {
                        $('select#Seccion').append('<option value="' + e.Value + '">' + e.Text + '</option>');
                    });
                }).complete(function () {
                    $('select#Seccion').attr('disabled', false);
                });
            });

            $('select#Seccion').change(function () {
                $('select#Territorio').attr('disabled', true);

                if (this.value == '') {
                    //      $('select#Territorio').html(defaultOption);

                    $('select#Territorio').html('<option value="" >Territorio</option>');
                    $('#CodigoSeccion').val('');
                    return;
                }

                $('#CodigoSeccion').val($(this).find('option:selected').text());

                $.getJSON('@Url.Action("ObtenerTerritorios")', { regionID: $('select#Region').val(), zonaID: $('select#Zona').val(), seccionID: this.value }, function (data) {
                    //$('select#Territorio').html(defaultOption);
      
                    $('select#Territorio').html('<option value="" >Territorio</option>');
                    $.map(data, function (e, i) {
                        $('select#Territorio').append('<option value="' + e.Value + '">' + e.Text + '</option>');
                    });
                }).complete(function () {
                    $('select#Territorio').attr('disabled', false);
                });
            });

            $('select#Territorio').change(function () {

                if (this.value == '') {
                    $('#CodigoTerritorio').val('');
                    return;
                }

                $('#CodigoTerritorio').val($(this).find('option:selected').text());
            });
        });
    });

    function OnSuccess() {
       
        $('#divEditarManualDireccion').hide();
        //$('#divConsultarUbicacion').hide();
        //document.getElementById('btnBuscar').click();
    }
</script>
<style>
    .textboxSB {
        display: block;
        width: 100% !important;
        ;
        max-width: 283.5px;
        height: 44px;
        font-family: 'Lato';
        font-size: 13px;
        line-height: 44px;
        letter-spacing: 1.2px;
        color: #6a6a6a;
        padding-left: 15px;
        border: 1px solid #979797;
        color: black !important;
    }

    .textboxSB2 {
        max-width: 283.5px !important;
        width: 283.5px !important;
        margin-left: 20% !important;
    }
</style>
 