@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Models;

@model Portal.Consultoras.Web.Models.EditarDireccionModel

<style>
    .validation {
        float: left;
        width: 170px !important;
        padding: 0 9px !important;
        min-height: 1px !important;
        color: #702789;
    }

    .validation_clear {
        float: left;
        width: 140px !important;
        height: 1px !important;
        padding: 0 9px !important;
    }

    .field_20 {
        color: #702789;
        float: left;
        width: 20%;
    }

    .field_80 {
        float: left;
        width: 80%;
    }

    .field_100 {
        float: left;
        width: 100%;
    }

    .field_85 {
        float: left;
        width: 85%;
    }

    .clear {
        height: 1px;
    }

    .field-validation-error {
        color: #702789;
    }

    .field_divider {
        width: 100%;
        height: 10px;
        float: left;
    }
</style>

@using (Ajax.BeginForm("EditarDireccion", "Unete", null, new AjaxOptions()
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    OnSuccess = "OnSuccess",
    OnBegin = "generalLoading();",
    OnComplete = "generalCloseLoading();"
}, null))
{
    @Html.HiddenFor(m => Model.SolicitudPostulanteID)
    @Html.HiddenFor(m => Model.CodigoPais)
    @Html.HiddenFor(m => Model.NombreLugarNivel1)
    @Html.HiddenFor(m => Model.NombreLugarNivel2)
    @Html.HiddenFor(m => Model.NombreLugarNivel3)
    @Html.HiddenFor(m => Model.NombreLugarNivel4)
    @Html.HiddenFor(m => Model.NombreLugarNivel5)
    @Html.HiddenFor(m => Model.ContaValorNivel3)


    <div class="popup_eliminarCliente popup_EditarUbi">
        <div class="btn_cerrar_agregarUnidades">
            <a href="javascript:;" onclick="CerrarDiv(5);">
                <img src="@Url.Content("~/Content/Images/btn_cerrar_popup.svg")" alt="Cerrar" />
                <span class="texto_btn_cerrar">CERRAR</span>
            </a>
        </div>
        <h6><b>Direcci&oacute;n del Solicitante</b></h6>
        <div class="contenido_popUp eliminarCliente">
    
            @Html.Partial(Dictionaries.TemplateUbigeos[Model.CodigoPais], Model);

            <div class="btn_grupo_eliminarCliente" style="width:90%; margin-left:5%; display:inline-block; margin-top:10px;">

                <input type="submit" class="btn_noEliminarCliente btnEditarUbic" id="btnGuardar" value="Aceptar" />
                @*<input type="button" class="btn_noEliminarCliente btnEditarUbic" id="btnCancelar" value="Cancelar" />*@

                @*<button type="button" name="btn_noEliminarCliente" class="btn_noEliminarCliente btnEditarUbic" id="btnGuardar">Aceptar</button>*@
                <button type="button" name="btn_noEliminarCliente" class="btn_noEliminarCliente btnEditarUbic" id="btnCancelar">Cancelar </button>

   
 
            </div>
        </div>
    </div>


    <style>
            .btnEditarUbic {
                float: none !important;
                text-align: center;
                font-weight: normal !important;
                width: 25% !important;
                font-size: 13px;
                line-height: normal !important;
            }

            button:disabled {
                background-color: #B75D9F;
                cursor: default;
            }

            .popup_EditarUbi h6 {
                display: block !Important;
                margin: 0 0 30px 0 !Important;
                padding: 0 !Important;
                font-family: 'Lato' !Important;
                font-size: 20px !Important;
                color: #000 !Important;
                text-align: center !Important;
                font-weight: normal !Important;
                line-height: 1.25 !Important;
            }

            .popup_EditarUbi {
                max-width: 600px !important;
                margin: 30px auto 0 auto !important;
                /*posicion*/
            }

            .elementsFont {
                width: 100%;
                font-family: 'lato';
                font-size: 11pt;
                font-weight: 300;
                color: black;
                margin-top: 10px;
            }

            .selectP2 select {
                height: 24px;
                font-family: 'Lato';
                color: black;
                font-size: 11.7px;
                cursor: pointer;
                box-sizing: border-box;
                margin: 0;
                padding: 0;
                width: 300px;
            }

            .selectUbicacion {
                width: 300px !important;
            }

                .selectUbicacion select {
                    width: 300px !important;
                }

            keygen, select, select[size="0"], select[size="1"] {
                border-radius: 0px;
                border-color: rgb(169, 169, 169);
            }

            user agent stylesheet select:not(:-internal-list-box) {
                overflow: visible !important;
            }

            user agent stylesheet select {
                -webkit-appearance: menulist;
                box-sizing: border-box;
                align-items: center;
                white-space: pre;
                -webkit-rtl-ordering: logical;
                color: black;
                background-color: white;
                cursor: default;
                border-width: 1px;
                border-style: solid;
                border-color: initial;
                border-image: initial;
            }

            user agent stylesheet keygen, select {
                border-radius: 5px;
            }

            user agent stylesheet input, textarea, keygen, select, button {
                text-rendering: auto;
                color: initial;
                letter-spacing: normal;
                word-spacing: normal;
                text-transform: none;
                text-indent: 0px;
                text-shadow: none;
                display: inline-block;
                text-align: start;
                margin: 0em 0em 0em 0em;
                font: 13.3333px Arial;
            }

            user agent stylesheet input, textarea, keygen, select, button, meter, progress {
                -webkit-writing-mode: horizontal-tb;
            }

           
    </style>

   
}

<script>
    var defaultOption = '<option value="" >-- Seleccionar --</option>';

    $(function () {

        $(document).ready(function () {

            $.validator.unobtrusive.parse('form');

            $('.numero').keydown(IntegerNumber);

            $('#LugarNivel1')
               .change(function () {
                   var nivel1 = $(this);
                   var nivel2 = $('#LugarNivel2');
                   nivel2.attr('disabled', 'disabled');

                   $('#NombreLugarNivel1').val(nivel1.find('option:selected').text());
                   $.getJSON('@Url.Action("ObtenerNivelN")',
                           { id: this.value, codigoIso: "@Model.CodigoPais", nivel: '@Enumeradores.TipoParametro.LugarNivel2.ToInt()' },
                           function (data) {
                               nivel2.html(defaultOption);

                               $.map(data,
                                   function (e, i) {
                                       nivel2.append('<option value="' + e.Value + '">' + e.Text + '</option>');
                                   });
                           })
                       .complete(function () {
                           nivel2.attr('disabled', false);
                           if (nivel1.val() == '') {
                               nivel2.html(defaultOption);
                           }
                       });
               });

            $('#LugarNivel2')
                .change(function () {
                    var nivel2 = $(this);
                    $('#NombreLugarNivel2').val(nivel2.find('option:selected').text());

                    if ("@Model.CodigoPais" == "CO")
                        return;

                    var nivel3 = $('#LugarNivel3');
                    nivel3.attr('disabled', 'disabled');

                    $.getJSON('@Url.Action("ObtenerNivelN")',
                            { id: this.value, codigoIso: "@Model.CodigoPais", nivel: '@Enumeradores.TipoParametro.LugarNivel3.ToInt()' },
                            function (data) {
                                nivel3.html(defaultOption);

                                $.map(data,
                                    function (e, i) {
                                        nivel3.append('<option value="' + e.Value + '">' + e.Text + '</option>');
                                    });
                            })
                        .complete(function () {
                            nivel3.attr('disabled', false);
                            if (nivel2.val() == '') {
                                nivel3.html(defaultOption);
                            }
                        });
                });

            $('#LugarNivel3')
                .change(function () {
                    var nivel3 = $(this);

                    $('#NombreLugarNivel3').val($(this).find('option:selected').text());

                    var nivel4 = $('#LugarNivel4');
                    if (nivel4.length == 0) return;
                    var div = $('#centroPoblado');
                    nivel4.attr('disabled', 'disabled');

                    $.getJSON('@Url.Action("ObtenerNivelN")',
                            { id: this.value, codigoIso: "@Model.CodigoPais", nivel: '@Enumeradores.TipoParametro.LugarNivel4.ToInt()' },
                            function (data) {
                                nivel4.html(defaultOption);
                                if (data.length == 0) {
                                    $('#ContaValorNivel3').val('0');
                                    nivel4.val('');
                                    div.hide();
                                }
                                else {
                                    $('#ContaValorNivel3').val('1');
                                    div.show();
                                }
                                $.map(data,
                                    function (e, i) {
                                        nivel4.append('<option value="' + e.Value + '">' + e.Text + '</option>');
                                    });
                            })
                        .complete(function () {
                            nivel4.attr('disabled', false);
                            if (nivel3.val() == '') {
                                nivel4.html(defaultOption);

                            }
                        });
                });

            $('#LugarNivel4').change(function () {
                //$('#NombreLugarNivel4').val($(this).find('option:selected').text());
                var nivel3 = $(this);

                $('#NombreLugarNivel4').val($(this).find('option:selected').text());

                var nivel5 = $('#LugarNivel5');
                if (nivel5.length == 0) return;
                nivel5.attr('disabled', 'disabled');

                $.getJSON('@Url.Action("ObtenerNivelN")',
                        { id: this.value, codigoIso: "@Model.CodigoPais", nivel: '@Enumeradores.TipoParametro.LugarNivel5.ToInt()' },
                        function (data) {
                            nivel5.html(defaultOption);

                            $.map(data,
                                function (e, i) {
                                    nivel5.append('<option value="' + e.Value + '">' + e.Text + '</option>');
                                });
                        })
                    .complete(function () {
                        nivel5.attr('disabled', false);
                        if (nivel3.val() == '') {
                            nivel5.html(defaultOption);

                        }
                    });
            });

            $('#LugarNivel5').change(function () {
                $('#NombreLugarNivel5').val($(this).find('option:selected').text());
            });

            $('#imgCerrarOpcion,#btnCancelar').click(function () {
               // modalOpcion.dialog('close');
                $('#divEditarDireccion').hide();
            });
        });
    });

    function OnSuccess(html) {
        //modalOpcion.dialog('close');
        //modal.dialog('close');
        $('#divEditarDireccion').hide();
        $('#divConsultarUbicacion').hide();
        document.getElementById('btnBuscar').click();
        //$('#modal_content').html(html);
    }
</script>
<style>
    .textboxSB {
        display: block;
        width: 100% !important;
        ;
        max-width: 283.5px;
        height: 44px;
        font-family: 'Lato';
        font-size: 13px;
        line-height: 44px;
        letter-spacing: 1.2px;
        color: #6a6a6a;
        padding-left: 15px;
        border: 1px solid #979797;
        color: black !important;
    }

    .textboxSB2 {
        max-width: 283.5px !important;
        width: 283.5px !important;
        margin-left: 20% !important;
    }
</style>