@using Portal.Consultoras.Web.Models
@model Portal.Consultoras.Web.Models.HistorialPostulanteModel

@Html.Hidden("SolicitudPostulanteID", Model.SolicitudPostulanteID)
@Html.Hidden("CodigoISO", Model.CodigoISO)

<div class="popup_eliminarCliente popup_RechazarPost popup_rechazarPostulante">
    <div class="btn_cerrar_agregarUnidades">
        <a href="javascript:;" onclick="closeHistorialPostulante();">
            <img src="@Url.Content("~/Content/Images/btn_cerrar_popup.svg")" alt="Cerrar" />
            <span class="texto_btn_cerrar">CERRAR</span>
        </a>
    </div>
    <div class="contenido_popUp eliminarCliente contenido_popUp rechazarPostulante">
        <div class="contenido_popUp rechazarPostulante">
            <table>
                <thead>
                    <tr>
                        <td>Fecha</td>
                        <td>Evento</td>
                        <td>Observacion</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var evento in Model.ListaEventos)
                    {
                        <tr>
                            <td>@evento.Fecha</td>
                            <td>@evento.Evento</td>
                            <td>@evento.Observacion</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    </div>


<style>
    .btnRechazarPost {
        float: none !important;
        text-align: center;
        font-weight: normal !important;
        width: 25% !important;
        font-size: 13px;
        line-height: normal !important;
    }

    button:disabled {
        background-color: #B75D9F;
        cursor: default;
    }

    .popup_RechazarPost h6 {
        display: block !Important;
        margin: 0 0 30px 0 !Important;
        padding: 0 !Important;
        font-family: 'Lato' !Important;
        font-size: 20px !Important;
        color: #000 !Important;
        text-align: center !Important;
        font-weight: normal !Important;
        line-height: 1.25 !Important;
    }

    .popup_RechazarPost {
        max-width: 400px !important;
        margin: -300px auto 0 auto !important;
        /*posicion*/
    }

    .elementsFont {
        width: 100%;
        font-family: 'lato';
        font-size: 11pt;
        font-weight: 300;
        color: black;
        margin-top: 10px;
    }

    .selectP2 select {
        height: 24px;
        font-family: 'Lato';
        color: black;
        font-size: 11.7px;
        cursor: pointer;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        width: 300px;
    }

    .selectUbicacion {
        width: 300px !important;
    }

        .selectUbicacion select {
            width: 300px !important;
        }

    keygen, select, select[size="0"], select[size="1"] {
        border-radius: 0px;
        border-color: rgb(169, 169, 169);
    }

    user agent stylesheet select:not(:-internal-list-box) {
        overflow: visible !important;
    }

    user agent stylesheet select {
        -webkit-appearance: menulist;
        box-sizing: border-box;
        align-items: center;
        white-space: pre;
        -webkit-rtl-ordering: logical;
        color: black;
        background-color: white;
        cursor: default;
        border-width: 1px;
        border-style: solid;
        border-color: initial;
        border-image: initial;
    }

    user agent stylesheet keygen, select {
        border-radius: 5px;
    }

    user agent stylesheet input, textarea, keygen, select, button {
        text-rendering: auto;
        color: initial;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: start;
        margin: 0em 0em 0em 0em;
        font: 13.3333px Arial;
    }

    user agent stylesheet input, textarea, keygen, select, button, meter, progress {
        -webkit-writing-mode: horizontal-tb;
    }

    /* INICIO POPUP RECHAZAR POSTULANTE */

    /*.contenedor_popup_rechazarPostulante {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: transparent url(../../Content/Images/bg_popups.png) repeat left top;
        z-index: 1000;
        font-family: 'Lato';
    }*/

    .btn_cerrar_popupRechazarPostulante {
        display: block;
        width: 100%;
        max-width: 29px;
        height: auto;
        position: absolute;
        top: 5px;
        right: -43px;
    }

        .btn_cerrar_popupRechazarPostulante a {
            display: block;
            font-family: 'Lato';
            color: #FFF;
            font-size: 9px;
        }

        .btn_cerrar_popupRechazarPostulante span {
            margin-left: -2px;
        }

        .btn_cerrar_popupRechazarPostulante img {
            width: 100%;
            height: auto;
            border: 0px;
        }

    .popup_rechazarPostulante {
        top: 50% !important;
        left: 0%;
        right: 0%;
        bottom: 0%;
        margin: -199px auto 0 auto !important;
        width: 100% !important;
        max-width: 605px !important;
        height: auto !important;
        padding-top: 37px !important;
        padding-bottom: 34px !important;
        box-sizing: border-box !important;
    }

    .rechazarPostulante h1 {
        display: block;
        margin: 0 auto;
        text-align: center !important;
        font-size: 20px !important;
        font-family: 'Lato' !important;
        font-weight: normal !important;
        color: #000 !important;
        letter-spacing: 0.1px;
        margin-bottom: 8px !important;
    }

    .rechazarPostulante .texto_enNegritas {
        font-weight: 700;
    }

    .usuario_por_rechazar {
        text-align: center;
        font-size: 13px;
        font-weight: normal;
        letter-spacing: 0.1px;
        margin-top: 5px;
        color: #000;
    }

        .usuario_por_rechazar span {
            font-weight: 700;
        }

    .contenedor_motivoRechazo {
        display: block;
        margin: 0 auto;
        margin-top: 16px;
        margin-bottom: 17px;
    }

        .contenedor_motivoRechazo h4 {
            display: block;
            margin: 0 auto;
            text-align: center;
            font-family: 'Lato';
            font-weight: normal !important;
            font-size: 16px;
            letter-spacing: 0.1px;
            color: #642f80;
            margin-bottom: 25px;
        }

    .formulario_motivosRechazo {
        display: block;
        margin: 10px auto 0 auto;
        width: 100%;
        max-width: 330px;
        padding-left: 14px;
    }

    .opcion_motivoRechazo {
        display: block;
        margin: 0 auto;
        position: relative;
        margin-bottom: 10px;
    }

        .opcion_motivoRechazo input[type="checkbox"], .opcion_motivoRechazo label {
            display: inline-block !important;
            vertical-align: middle;
        }

        .opcion_motivoRechazo input[type="checkbox"] {
            display: none !important;
        }

        .opcion_motivoRechazo label {
            font-size: 13px;
            font-weight: normal;
            letter-spacing: 0.1px;
            color: #000;
            margin-left: 25px;
        }

            .opcion_motivoRechazo label:before {
                content: "";
                position: absolute;
                left: 0px;
                top: 0px;
                float: left;
                width: 13px;
                height: 13px;
                margin-top: 3px;
                margin-right: 4px;
                margin-bottom: 10px;
                border-radius: 1px;
                background: #FFF;
                border: none;
                cursor: pointer;
                z-index: 12;
            }

            .opcion_motivoRechazo label:after {
                content: "";
                position: absolute;
                left: -3px;
                top: -3px;
                float: left;
                width: 17px;
                height: 17px;
                margin-top: 3px;
                margin-right: 4px;
                margin-bottom: 10px;
                border-radius: 1px;
                background: #FFF;
                border: 1px solid #642f80;
                cursor: pointer;
                z-index: 10;
            }

        .opcion_motivoRechazo input[type="checkbox"]:checked + label:before {
            content: "";
            width: 13px;
            height: 13px;
            border-radius: 1px;
            background: #642f80;
            text-align: center;
        }

    .btn_grupo_rechazarPostulante {
        display: block;
        margin: 0 auto;
        text-align: center;
        margin-left: 18px;
    }

    .btn_rechazarPostulante {
        display: inline-block !important;
        width: 139px !important;
        height: 40px !important;
        margin-right: 16px !important;
        border: 0px !important;
        color: #FFF !important;
        font-size: 14px;
        letter-spacing: 0.1px;
        font-weight: normal !important;
        text-align: center;
    }

    .contenedor_campoMotivo {
        max-width: 335px;
        margin: 0 auto;
        overflow: initial;
        position: relative;
        left: -8px;
    }

        .contenedor_campoMotivo .selectP2.seleccion_pagina.textboxSB2 {
            float: none !important;
            margin-right: 0px !important;
            width: 100% !important;
            border: 0.5px solid #000;
        }

        .contenedor_campoMotivo select#TipoRechazo {
            float: none;
            width: 100% !important;
            max-width: none;
            font-size: 13px;
            color: #000 !important;
        }

        .contenedor_campoMotivo textarea#MotivoRechazo {
            float: none;
            font-family: 'Lato';
            background: #FFF;
            width: 99% !important;
            max-width: none;
            font-size: 13px;
            letter-spacing: 0.1px;
            padding: 0px;
            min-height: 70px;
        }

    /* FIN POPUP RECHAZAR POSTULANTE */
</style>

<script>

    function closeHistorialPostulante() {
        $('#divVerHistorialPostulante').hide();
    }
    
</script>