@using Portal.Consultoras.Web.Models
@model Portal.Consultoras.Web.Models.HistorialPostulanteModel

@Html.Hidden("SolicitudPostulanteID", Model.SolicitudPostulanteID)
@Html.Hidden("CodigoISO", Model.CodigoISO)

<div class="popup_eliminarCliente popup_RechazarPost popup_rechazarPostulante popupHistorialPostulante">
    <div class="btn_cerrar_agregarUnidades">
        <a href="javascript:;" onclick="closeHistorialPostulante();">
            <img src="@Url.Content("~/Content/Images/btn_cerrar_popup.svg")" alt="Cerrar" />
            <span class="texto_btn_cerrar">CERRAR</span>
        </a>
    </div>
    <div class="contenido_popUp eliminarCliente contenido_popUp rechazarPostulante">
        <div class="contenido_popUp rechazarPostulante">
            @*<table>
                <thead>
                    <tr>
                        <td>Fecha</td>
                        <td>Evento</td>
                        <td>Observacion</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var evento in Model.ListaEventos)
                    {
                        <tr>
                            <td>@evento.Fecha</td>
                            <td>@evento.Evento</td>
                            <td>@evento.Observacion</td>
                        </tr>
                    }
                </tbody>
            </table>*@
            <h1>HISTORIAL DE&nbsp;<span class="texto_enNegritas">POSTULANTE</span></h1>
            <div class="usuario_por_rechazar">Postulante:&nbsp;<span>@Model.NombreCompleto</span></div>

            <div class="info_historialPostulante">
                <div class="contenedor_contenido">
                    <div class="cabecera_info">
                        <div class="cabecera_item">Estado</div>
                        <div class="cabecera_item">Observaciones</div>
                    </div>
                    @foreach (var evento in Model.ListaEventos)
                    {
                        <div class="bloque">
                            <div class="franja_blanca"></div>
                            <div class="img_historialPostulante">
                                <div class="circulo-historial"></div>
                                <div class="linea-historial"></div>
                            </div>
                            <div class="contenido_info">
                                <div class="contenido_item_estado">
                                    <span class="info_estado">@evento.Evento</span>
                                    <span class="info_fecha">@evento.Fecha</span>
                                </div>
                                <div class="contenido_item_observaciones">
                                    <div class="icono_alert">
                                        <img src="~/Content/Images/Lbel/icono_advertencia_notificacion.svg" />
                                    </div>
                                    <div class="info_observaciones">
                                        <span class="info_observacion">@evento.Observacion</span>
                                        <span class="info_codigo">7105 H 005874</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
            <div class="btn_grupo_eliminarCliente btn_grupo_rechazarPostulante">

                <input type="submit" class="btn_noEliminarCliente btnRechazarPost btn_rechazarPostulante" onclick="closeHistorialPostulante()" value="Cerrar">

            </div>
        </div>
    </div>
</div>

<style>
    .btnRechazarPost {
        float: none !important;
        text-align: center;
        font-weight: normal !important;
        width: 25% !important;
        font-size: 13px;
        line-height: normal !important;
    }

    button:disabled {
        background-color: #B75D9F;
        cursor: default;
    }

    .popup_RechazarPost h6 {
        display: block !Important;
        margin: 0 0 30px 0 !Important;
        padding: 0 !Important;
        font-family: 'Lato' !Important;
        font-size: 20px !Important;
        color: #000 !Important;
        text-align: center !Important;
        font-weight: normal !Important;
        line-height: 1.25 !Important;
    }

    .popup_RechazarPost {
        max-width: 400px !important;
        margin: -300px auto 0 auto !important;
        /*posicion*/
    }

    .elementsFont {
        width: 100%;
        font-family: 'lato';
        font-size: 11pt;
        font-weight: 300;
        color: black;
        margin-top: 10px;
    }

    .selectP2 select {
        height: 24px;
        font-family: 'Lato';
        color: black;
        font-size: 11.7px;
        cursor: pointer;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        width: 300px;
    }

    .selectUbicacion {
        width: 300px !important;
    }

        .selectUbicacion select {
            width: 300px !important;
        }

    keygen, select, select[size="0"], select[size="1"] {
        border-radius: 0px;
        border-color: rgb(169, 169, 169);
    }

    user agent stylesheet select:not(:-internal-list-box) {
        overflow: visible !important;
    }

    user agent stylesheet select {
        -webkit-appearance: menulist;
        box-sizing: border-box;
        align-items: center;
        white-space: pre;
        -webkit-rtl-ordering: logical;
        color: black;
        background-color: white;
        cursor: default;
        border-width: 1px;
        border-style: solid;
        border-color: initial;
        border-image: initial;
    }

    user agent stylesheet keygen, select {
        border-radius: 5px;
    }

    user agent stylesheet input, textarea, keygen, select, button {
        text-rendering: auto;
        color: initial;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: start;
        margin: 0em 0em 0em 0em;
        font: 13.3333px Arial;
    }

    user agent stylesheet input, textarea, keygen, select, button, meter, progress {
        -webkit-writing-mode: horizontal-tb;
    }

    /* INICIO POPUP RECHAZAR POSTULANTE */

    /*.contenedor_popup_rechazarPostulante {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: transparent url(../../Content/Images/bg_popups.png) repeat left top;
        z-index: 1000;
        font-family: 'Lato';
    }*/

    .btn_cerrar_popupRechazarPostulante {
        display: block;
        width: 100%;
        max-width: 29px;
        height: auto;
        position: absolute;
        top: 5px;
        right: -43px;
    }

        .btn_cerrar_popupRechazarPostulante a {
            display: block;
            font-family: 'Lato';
            color: #FFF;
            font-size: 9px;
        }

        .btn_cerrar_popupRechazarPostulante span {
            margin-left: -2px;
        }

        .btn_cerrar_popupRechazarPostulante img {
            width: 100%;
            height: auto;
            border: 0px;
        }

    .popup_rechazarPostulante {
        top: 50% !important;
        left: 0%;
        right: 0%;
        bottom: 0%;
        margin: -199px auto 0 auto !important;
        width: 100% !important;
        max-width: 605px !important;
        height: auto !important;
        padding-top: 37px !important;
        padding-bottom: 34px !important;
        box-sizing: border-box !important;
    }

    .rechazarPostulante h1 {
        display: block;
        margin: 0 auto;
        text-align: center !important;
        font-size: 20px !important;
        font-family: 'Lato' !important;
        font-weight: normal !important;
        color: #000 !important;
        letter-spacing: 0.1px;
        margin-bottom: 8px !important;
    }

    .rechazarPostulante .texto_enNegritas {
        font-weight: 700;
    }

    .usuario_por_rechazar {
        text-align: center;
        font-size: 13px;
        font-weight: normal;
        letter-spacing: 0.1px;
        margin-top: 5px;
        color: #000;
    }

        .usuario_por_rechazar span {
            font-weight: 700;
        }

    .contenedor_motivoRechazo {
        display: block;
        margin: 0 auto;
        margin-top: 16px;
        margin-bottom: 17px;
    }

        .contenedor_motivoRechazo h4 {
            display: block;
            margin: 0 auto;
            text-align: center;
            font-family: 'Lato';
            font-weight: normal !important;
            font-size: 16px;
            letter-spacing: 0.1px;
            color: #642f80;
            margin-bottom: 25px;
        }

    .formulario_motivosRechazo {
        display: block;
        margin: 10px auto 0 auto;
        width: 100%;
        max-width: 330px;
        padding-left: 14px;
    }

    .opcion_motivoRechazo {
        display: block;
        margin: 0 auto;
        position: relative;
        margin-bottom: 10px;
    }

        .opcion_motivoRechazo input[type="checkbox"], .opcion_motivoRechazo label {
            display: inline-block !important;
            vertical-align: middle;
        }

        .opcion_motivoRechazo input[type="checkbox"] {
            display: none !important;
        }

        .opcion_motivoRechazo label {
            font-size: 13px;
            font-weight: normal;
            letter-spacing: 0.1px;
            color: #000;
            margin-left: 25px;
        }

            .opcion_motivoRechazo label:before {
                content: "";
                position: absolute;
                left: 0px;
                top: 0px;
                float: left;
                width: 13px;
                height: 13px;
                margin-top: 3px;
                margin-right: 4px;
                margin-bottom: 10px;
                border-radius: 1px;
                background: #FFF;
                border: none;
                cursor: pointer;
                z-index: 12;
            }

            .opcion_motivoRechazo label:after {
                content: "";
                position: absolute;
                left: -3px;
                top: -3px;
                float: left;
                width: 17px;
                height: 17px;
                margin-top: 3px;
                margin-right: 4px;
                margin-bottom: 10px;
                border-radius: 1px;
                background: #FFF;
                border: 1px solid #642f80;
                cursor: pointer;
                z-index: 10;
            }

        .opcion_motivoRechazo input[type="checkbox"]:checked + label:before {
            content: "";
            width: 13px;
            height: 13px;
            border-radius: 1px;
            background: #642f80;
            text-align: center;
        }

    .btn_grupo_rechazarPostulante {
        display: block;
        margin: 0 auto;
        text-align: center;
        margin-left: 18px;
    }

    .btn_rechazarPostulante {
        display: inline-block !important;
        width: 139px !important;
        height: 40px !important;
        margin-right: 16px !important;
        border: 0px !important;
        color: #FFF !important;
        font-size: 14px;
        letter-spacing: 0.1px;
        font-weight: normal !important;
        text-align: center;
    }

    .contenedor_campoMotivo {
        max-width: 335px;
        margin: 0 auto;
        overflow: initial;
        position: relative;
        left: -8px;
    }

        .contenedor_campoMotivo .selectP2.seleccion_pagina.textboxSB2 {
            float: none !important;
            margin-right: 0px !important;
            width: 100% !important;
            border: 0.5px solid #000;
        }

        .contenedor_campoMotivo select#TipoRechazo {
            float: none;
            width: 100% !important;
            max-width: none;
            font-size: 13px;
            color: #000 !important;
        }

        .contenedor_campoMotivo textarea#MotivoRechazo {
            float: none;
            font-family: 'Lato';
            background: #FFF;
            width: 99% !important;
            max-width: none;
            font-size: 13px;
            letter-spacing: 0.1px;
            padding: 0px;
            min-height: 70px;
        }

        

    /* FIN POPUP RECHAZAR POSTULANTE */

    /* POPUP HISTORIAL POSTULANTE */

    .popupHistorialPostulante {
        margin-top: -248.5px!important;
        min-width: 615px;
        width: 70%!important;
        max-width: none!important;
    }

    .info_historialPostulante {
        margin: 30px auto 28px auto;
        width: 77%;
        min-width: 415px;
        text-align: center;
    }

    .cabecera_info{
        text-align:left;
    }

    .cabecera_info .cabecera_item:first-child{
        width: auto;
        min-width: 238.11px;
        text-align:center;
    }

    .cabecera_info .cabecera_item:nth-child(2) {
        text-align: center;
        width: 58%;
    }

    .cabecera_item{
        font-size: 14px;
        letter-spacing: 0.1px;
        color: #642f80;
    }

    .cabecera_item, .contenido_item_estado, .contenido_item_observaciones {
        padding: 5px 8px;
    }

    .bloque {
        display: block;
        text-align: left;
        background-color: #f3f3f3;
        margin-bottom: 5px;
    }

    .franja_blanca {
        display: block;
        position: absolute;
        width: 14px;
        background: #FFF;
        height: 44px;
    }

    .contenedor_contenido{
        max-height: 245px;
        overflow: auto;
    }

    .img_historialPostulante {
        display: inline-block;
        margin-right: 2px;
        width: 10px;
        height: 35px;
        position: relative;
        top: 0px;
    }

    .img_historialPostulante .circulo-historial {
        display: block;
        background: #642f80;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 18px;
    }

    .img_historialPostulante .linea-historial{
        width: 1px;
        height: 50px;
        background: #642f80;
        margin: 0 auto;
        position: absolute;
        left: 4.74px;
    }

    .primerItem{
        top:24px;
        height:25px;
    }

    .ultimoItem{
        top:-24px;
        height:25px;
    }

    .cabecera_item, .contenido_item_observaciones {
        text-align: center;
    }

    .contenido_item_estado{
        min-width: 238.11px;
        text-align:left;
    }

    .cabecera_item, .contenido_info, .contenido_item_estado, .contenido_item_observaciones, .icono_alert, .info_observaciones {
        display: inline-block;
    }

    .contenido_item_estado, .contenido_item_observaciones {
        font-size: 12px;
        font-family: 'Lato Light';
        font-weight: 300;
        letter-spacing: 0.1px;
        line-height:17.5px;
    }

    .contenido_item_observaciones {
        text-align: left;
    }

    .icono_alert {
        margin-right: 1px;
    }

    .info_estado, .info_fecha, .info_observacion, .info_codigo{
        display:block;
    }

    .info_fecha {
        font-size: 12px;
        color: #642f80;
        letter-spacing: 0.1px;
    }

    .info_estado, .info_observacion, .info_codigo {
        color: #000;
    }

    .info_fecha, .info_codigo {
        font-size: 12px;
        letter-spacing: 0.1px;
        font-weight: 400;
        font-family: 'Lato';
    }

    .info_fecha{
        color: #642f80;
    }

    .info_observaciones {
        text-align: left;
    }

    .info_observacion {
        text-transform: uppercase;
    }

    /* FIN POPUP HISTORIAL POSTULANTE */

</style>

<script>

    if ($(".linea-historial").length > 1) {

        $(".linea-historial").first().addClass("primerItem");
        $(".linea-historial").last().addClass("ultimoItem");

    } else {

        $(".linea-historial").hide();

    }

    function closeHistorialPostulante() {
        $('#divVerHistorialPostulante').hide();
    }
    
</script>