@model MailVM
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title></title>

    <style>
        .mail-container {
            width: 650px;
            font-size: 15px;
            font-family: Verdana;
        }
        .row-separator {
            height:10px;
        }
        .text-center {
            text-align: center;
        }
        .title {
            font-weight:bold;
            font-size: 17px;
        }
        .information {
            font-size:14px;
        }
        .information-list { 
            font-size: 14px;
        }
        .steps-list {
            font-size: 14px;            
        }
            .steps-list td {
                vertical-align: top;
            }
        .green-text {
            color: #ACBB59;
        }
        .a {
            color:blue;
        }
    </style>
</head>
<body>
    <table class="mail-container">
        <tr>
            <td>
                <span class="information">Hola, @Model.NombreDestinatario</span>
            </td>
        </tr>
        <tr class="text-center">
            <td>
                <span class="title">&iexcl;YA TIENES UN NUEVO INGRESO!</span> <br />
                &iexcl;@Model.NombreCandidata quiere convertirse en Consultora! <br />
                @(Model.ParaGZ ? "Asegúrate de compartirle la oportunidad de negocio de belleza propio." : "Compartamos con ella la oportunidad de tener un negocio de belleza propio.")
            </td>
        </tr>
        <tr class="row-separator"></tr>
        <tr>
            <td><span class="information">Conozcamos un poco m&aacute;s de ella:</span></td>
        </tr>
        <tr>
            <td>
                <table class="information-list">
                    <tr><td>&bull;</td><td style="padding-left:10px;">Nombre Completo: @Model.NombreCompleto</td></tr>
                    <tr><td>&bull;</td><td style="padding-left:10px;">Fecha de nacimiento: @Model.FechaNacimiento</td></tr>
                    <tr><td>&bull;</td><td style="padding-left:10px;">Direcci&oacute;n: @Model.Direccion</td></tr>
                    <tr><td>&bull;</td><td style="padding-left:10px;">Tel&eacute;fono: @Model.Telefono</td></tr>
                    <tr><td>&bull;</td><td style="padding-left:10px;">E-mail: @Model.CorreoElectronico</td></tr>
                    <tr><td>&bull;</td><td style="padding-left:10px;">Edad: @Model.Edad</td></tr>
                    <tr><td>&bull;</td><td style="padding-left:10px;">Experiencia en venta: @Model.TieneExperiencia</td></tr>
                    <tr><td>&bull;</td><td style="padding-left:10px;">Evaluaci&oacute;n crediticia: @Model.EvaluacionCrediticia</td></tr>
                    <tr>
                        <td>&bull;</td>
                        <td style="padding-left:10px;">
                            &iquest;C&oacute;mo nos contact&oacute;? A trav&eacute;s de
                            @if (Model.ContactoUnete)
                            {
                                @: la web <a href="http://www.uneteabelcorp.com">www.uneteabelcorp.com</a>
                            }
                            else
                            {
                                @: Belcorp Responde (Call Center)
                            }
                        </td>
                    </tr>
                    @if (Model.ParaGZ)
                    {
                        <tr>
                            <td>&bull;</td>
                            <td style="padding-left:10px;">
                                Secci&oacute;n: @Model.CodigoSeccion
                            </td>
                        </tr>
                    }
                </table>

            </td>
        </tr>
        <tr class="row-separator"></tr>
        @if (!Model.ParaGZ)
        {
            <tr>
                <td><span class="green-text">Te recomendamos seguir estos pasos:</span></td>
            </tr>
            <tr class="row">
                <td>
                    <table class="steps-list">
                        <tr>
                            <td><span class="green-text">1.</span></td>
                            <td style="padding-left:15px;">
                                <span style="text-align:justify;">
                                    <span class="green-text">Contactar y coordinar la visita de incorporaci&oacute;n:</span>
                                    puedes llamarla y presentarte como la Socia Empresaria de la secci&oacute;n. Coordinen un d&iacute;a, hora y lugar de la visita. Recuerda mencionarle que deber&aacute; tener los documentos  necesarios a la mano.
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="green-text">2.</span></td>
                            <td style="padding-left:15px;">
                                <span style="text-align:justify;">
                                    <span class="green-text">Convertirla en Consultora:</span>
                                    durante la visita cu&eacute;ntale sobre el negocio, utiliza el material de incorporaci&oacute;n y concluye solicit&aacute;ndole que firme los papeles.
                                </span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="row-separator"></tr>
            <tr class="text-center">
                <td>
                    <span class="green-text information" style="font-size:12px;">
                        Recuerda que tu negocio crecer&aacute; m&aacute;s INVITANDO, ACOMPA&Ntilde;ANDO y logrando la REALIZANDO de m&aacute;s Consultoras. Ya invitaste a @Model.NombreCandidata. Ahora es tu turno de acompa&ntilde;arla durante sus primeras campa&ntilde;as.
                    </span>
                    <br /><br />
                    <span class="green-text" style="font-size: 18px;">
                        As&iacute; ganar&aacute;s m&aacute;s por sus pedidos consecutivos y por que llegue con &eacute;xito a su cuarta campa&ntilde;a. &iexcl;Ser&aacute;s quien la gu&iacute;e hacia sus metas!
                    </span>
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td><span>Recuerda:</span></td>
            </tr>
            <tr class="row">
                <td>
                    <table class="steps-list">
                        <tr>
                            <td><span>1.</span></td>
                            <td style="padding-left:15px;">
                                <span style="text-align:justify;">
                                    Verifica que la Socia Empresaria se encuentre al tanto de que ya tienen una posible Consultora interesada. Ella recibi&oacute; una notificaci&oacute;n v&Iacute;a mail y a trav&eacute;s de su Portal.
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td><span>2.</span></td>
                            <td style="padding-left:15px;">
                                <span style="text-align:justify;">
                                    Una vez tengan los documentos completos, crea su c&oacute;digo de Consultora.
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td><span>3.</span></td>
                            <td style="padding-left:15px;">
                                <span style="text-align:justify;">
                                    Gu&iacute;a a la Socia Empresaria para que acompa&ntilde;e a la nueva Consultora.
                                </span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="row-separator"></tr>
            <tr class="text-center">
                <td>
                    <span class="green-text" style="font-size: 18px;">
                        &iexcl;El crecimiento y desarrollo de tu equipo te garantiza mayores ganancias!
                    </span>
                </td>
            </tr>
        }
    </table>

</body>
</html>
