@model Portal.Consultoras.Web.Models.ValidacionTelefonicaModel

@{
    ViewBag.Title = "ValidacionTelefonica";
    Layout = "~/Views/Shared/_SACLayout.cshtml";
    
    var estadoPostulantes = ViewBag.EstadoPostulantes as SelectList;
}
<script async defer type="text/javascript" src="https://maps-api-ssl.google.com/maps/api/js?v3.exp"></script>        

<style>
    .ui-widget-content.ui-dialog {
        behavior: url('@Url.Content("~/Content/Css/Pie/PIE.htc)")') !important;
    }
</style>

<style>
    .ui-datepicker-trigger { cursor: pointer; }
    .ui-widget-header { height: 20px !important; }
    .modal_base { padding-left: 0 !important; }
    .modal_base .content {
        box-sizing: border-box;
        behavior: url('/Content/Css/Pie/PIE.htc)');
        z-index: 1000000;
    }
    .modal_base .content h2 {
        padding: 0 30px;
    } 
    .modal_base .content .elements {
        width: 95% !important;
        padding-top: 25px !important;
    }
    .div-3 .titC {
        width: 140px !important;
    }
    .width_150{
        width: 150px;
    }
    #Estado {
        width: 100%;
    }
</style>

<div class="wrap_cab">
    <div class="filtros2">
        <div class="elements">
            <div class="div-2">
                <h1>Herramienta de Gesti&oacute;n Telef&oacute;nica</h1>
            </div>
            <div class="div-3">
                <div class="titC width_150">Fecha Desde:</div>
                <div class="selectP2 borde_redondeado calendar">
                    @Html.TextBoxFor(m => Model.FechaDesde)
                </div>
                <div class="titC width_150">Fecha hasta:</div>
                <div class="selectP2 borde_redondeado calendar">
                    @Html.TextBoxFor(m => Model.FechaHasta)
                </div>
            </div>
            <div class="div-3">
                <div class="titC width_150">RFC:</div>
                <div class="selectP2 borde_redondeado">
                    @Html.TextBoxFor(m => Model.DocumentoIdentidad, new {@style = "text-transform: uppercase;"})
                </div>
                <div class="titC width_150">Zona:</div>
                <div class="selectP2 borde_redondeado calendar">
                    @Html.TextBoxFor(m => Model.CodigoZona, new {@style = "text-transform: uppercase;"})
                </div>
            </div>
            <div class="div-3">
                <div class="titC width_150"></div>
                <div class="input_search">
                    <input type="submit" name="" id="btnBuscar" value="Buscar" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="container clearfix" style="width:1300px;">
        <div class="border-wrapper" id="tablaSolicitudPostulantes" style="overflow-x:hidden">
            <table id="gvwPostulantesSinValidacionTelefonica"></table>
            <div id="pager"></div>
        </div>
    </div>
</div>

<div id="loadingScreen"></div>
<div id="modal_general" class="modal_base" style="display:none;">
    <div class="content" id="modal_content">
    </div>
</div>

<div id="modal_opcion" class="modal_base" style="display:none;">
    <div class="content" id="modal_opcion_content">
    </div>
</div>
<script>
    var colNames = [
        'ID',
        'Fecha Registro',
        'Nombre',
        'Apellido Paterno',
        'Apellido Materno',
        'Zona',
        'Dirección',
        'RFC',
        'Teléfono Fijo',
        'Teléfono Celular',
        'Validacion'
    ];

    function consultarValidacionTelefonica(solicitudPostulanteId) {
        waitingDialog({});
        modal.dialog("option", "width", 650);
        modal.dialog("option", "height", 325);

        $.get('@Url.Action("ConsultarValidacionTelefonica", "Unete")', { id: solicitudPostulanteId }, function (html) {
            $('#modal_content').html(html);
            modal.dialog('open');
        }).done(function () {
            closeWaitingDialog();
        });
    }

    function fnGrilla() {

        jQuery("#gvwPostulantesSinValidacionTelefonica").jqGrid({
            url: '@Url.Action("ConsultarSolicitudesPostulantesSinValidacionTelefonica", "Unete")',
            hidegrid: false,
            datatype: 'json',
            postData: ({
                PrefijoISOPais: function() { return $("#PrefijoISOPais").val(); },
                FechaDesde: function() { return $("#FechaDesde").val(); },
                FechaHasta: function() { return $("#FechaHasta").val(); },
                DocumentoIdentidad: function () { return $("#DocumentoIdentidad").val(); },
                CodigoZona: function () { return $("#CodigoZona").val(); }
            }),
            mtype: 'POST',
            contentType: "application/json; charset=utf-8",
            colNames: colNames,
            colModel: [
                { name: 'SolicitudPostulanteID', index: 'SolicitudPostulanteID', width: 3, editable: false, align: 'center' },
                { name: 'FechaCreacion', index: 'FechaCreacion', width: 14, editable: true, resizable: false, align: 'center' },
                { name: 'NombreCompleto', index: 'NombreCompleto', width: 15, editable: true, resizable: false },
                { name: 'ApellidoPaterno', index: 'ApellidoPaterno', width: 10, editable: true, resizable: false },
                { name: 'ApellidoMaterno', index: 'ApellidoMaterno', width: 10, editable: true, resizable: false },
                { name: 'Zona', index: 'Zona', width: 8, editable: true, resizable: false, align: 'center' },
                { name: 'Direccion', index: 'Direccion', width: 35, editable: true, resizable: false },
                { name: 'NumeroDocumento', index: 'NumeroDocumento', width: 8, editable: true, resizable: false, align: 'center' },
                { name: 'TelefonoFijo', index: 'TelefonoFijo', width: 10, editable: true, resizable: false, align: 'center' },
                { name: 'TelefonoCelular', index: 'TelefonoCelular', width: 10, editable: true, resizable: false, align: 'center' },
                {
                    name: 'Validacion',
                    index: 'Validacion',
                    width: 8,
                    editable: true,
                    resizable: false,
                    sortable: false,
                    align: 'center',
                    formatter: function(cellvalue, options, rowObject) {
                        return '<a href="javascript:void(0);"><img src="@Url.Content("~/Content/Images/icons/sign-warning.png")" onclick="consultarValidacionTelefonica(' + rowObject[0] + ');" /></a>';
                    }
                }
            ],
            jsonReader:
            {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: true,
                cell: "cell"
            },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'FechaCreacion',
            sortorder: 'desc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 1300,
            shrinkToFit: true,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function() {

            }
        });

        jQuery("#gvwPostulantesSinValidacionTelefonica").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#gvwPostulantesSinValidacionTelefonica").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
    }

    var modal;

    $(function() {
        $("#FechaDesde, #FechaHasta").datepicker({
            showOn: "button",
            buttonImage: '@Url.Content("~/Content/Images/calendar.png")',
            buttonImageOnly: true,
            dateFormat: 'dd/mm/yy'
        }).mask('99/99/9999');

        $('#btnBuscar').click(function (e) {

            fnGrilla();
            e.preventDefault();
            console.info(e.target);
        });

        fnGrilla();

        modal = $("#modal_general").dialog({
            autoOpen: false,
            dialogClass: "loadingScreenWindow",
            closeOnEscape: true,
            draggable: true,
            width: 350,
            minHeight: 50,
            height: 100,
            modal: true,
            buttons: {},
            resizable: false,
            open: function () {
                $('body').css('overflow', 'hidden');
            },
            close: function () {
                $('body').css('overflow', 'auto');
            }
        });
    });
</script>