@model Portal.Consultoras.Web.Models.CronogramaFICModel
@{
    ViewBag.Title = "Configuración Cronograma FIC";
}

<script type="text/javascript">

    String.prototype.lpad = function (padString, length) {
        var str = this;
        while (str.length < length)
            str = padString + str;
        return str;
    }

    function LimpiarDependencias(Id) {
        var ddlZona = $('#ddlZona');
        var ddlCampania = $('#ddlCampania');
        ddlCampania.empty();
        ddlZona.empty();
        if (Id != "") {
            ddlZona.append($('<option/>', {
                value: "",
                text: "-- Todas --"
            }));
        } else {
            ddlZona.append($('<option/>', {
                value: "",
                text: "-- Seleccionar --"
            }));
        }
        ddlCampania.append($('<option/>', {
            value: "",
            text: "-- Seleccionar --"
        }));
    }

    jQuery(document).ready(function () {
        $("#hdTipoCronograma").val('@Portal.Consultoras.Common.Constantes.TipoCronograma.Anticipado');
        fnGrilla();
        IniDivRegistro();

        $('#txtFecIniFac').keypress(function (e) {
            return false;
        });
        $('#txtFecIniFac').keydown(function (e) {
            return false;
        });


        $("#btnBuscar").click(function () {
            if (jQuery.trim($("#ddlPais").val()) == "") {
                alert("Debe seleccionar un País, verifique");
                return false;
            }
            if (jQuery.trim($("#ddlCampania").val()) != "")
                fnGrilla();
            else
                alert("Debe seleccionar una Campaña, verifique");
        });
    });
    
    function fnGrilla() {
        jQuery("#list").jqGrid({
            url: baseUrl + "CronogramaFIC/ConsultarCronogramaFIC",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                CampaniaID: function () { return jQuery.trim($("#ddlCampania").val()); },
                PaisID: function () { return jQuery.trim($("#ddlPais").val()); }
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['Campaña', 'Zona', 'Fecha', 'Opción', 'ZonaID', 'CampaniaID'],
            colModel: [
                { name: 'CampaniaCodigo', index: 'CampaniaCodigo', width: 30, editable: true, resizable: false },
                { name: 'Zona', index: 'Zona', width: 20, editable: true, resizable: false },
                { name: 'Fecha', index: 'Fecha', width: 40, editable: true, resizable: false },
                { name: 'Acciones', index: 'Acciones', width: 10, editable: true, sortable: false, align: 'center', resizable: false, formatter: ShowActions },
                { name: 'ZonaID', index: 'ZonaID', width: 20, editable: true, resizable: false, hidden: true },
                { name: 'CampaniaID', index: 'CampaniaID', width: 20, editable: true, resizable: false, hidden: true },
            ],
            jsonReader:
                {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: true,
                    cell: "cell",
                    id: "id",
                    zonaID: "ZonaID",
                    CampaniaID: "CampaniaID"
                },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'Nombre',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 930,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function () { },
            gridComplete: function () { }
        });
        jQuery("#list").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');

        function ShowActions(cellvalue, options, rowObject) {
            var Campania = $("#ddlCampania option:selected").text();
            var Pais = $("#ddlPais option:selected").text();
            var Edit = "&nbsp;<a href='javascript:;' onclick=\"jQuery('#list').Editar('" + options.rowId + "','" + rowObject[1].replace(/\"*/g, '') + "','" + rowObject[0] + "','" + Pais + "','" + rowObject[0] + "','" + rowObject[2] + "');\" >" + "<img src='@Url.Content("~/Content/Images/Edit.png")' alt='Editar Cronograma' title='Editar Cronograma' border='0' /></a>";
            return Edit;
        };
    }

    $.jgrid.extend({
        Editar: function (Id, Zona, Campania, Pais, CampaniaID, Fecha) {
            $("#txtFecIniFac").val(Fecha);
            $("#lblPais").text(Pais);
            $("#lblCampania").text(Campania);
            $("#lblZona").text(Zona);
            $("#txtFecIniFacN").val("");
            HideDiv();
            return false;
        }
    });

    function GetDateJson(jsonDate) {
        var jsonDate = jsonDate;
        var value = new Date(parseInt(jsonDate.substr(6)));
        var ret = value.getMonth() + 1 + "/" + value.getDate() + "/" + value.getFullYear();
        return ret;
    }

    function ShowDiv() {
        LimpiarCampos();
        $("#Registro").hide();
        $("#Listado").show('slow');
    }

    function HideDiv() {
        $("#Listado").hide('slow');
        $("#Registro").show();
    }

    function LimpiarCampos() {
        $("#lblPais").text('');
        $("#lblCampania").text('');
        $("#lblZona").text('');
        $('#txtFecIniFac').val('');
        $('#txtFecIniFacN').val('');
    }

    function IniDivRegistro() {
        $("#txtFecIniFacN").datepicker({
            showOn: "button",
            buttonImage: '@Url.Content("~/Content/Images/calendar.png")',
            buttonImageOnly: true,
            dateFormat: 'dd/mm/yy'
        }).mask('99/99/9999');
    }
    
    function GuardarCronograma() {
        var vMessage = "";
        var fecha = $.trim($("#txtFecIniFacN").val());

        if (fecha == "") vMessage += "- Debe ingresar la fecha límite para el ingreso a Pedido FIC.\n";
        else if (fecha.length != 10) vMessage += "- Debe ingresar una fecha válida para el ingreso a Pedido FIC.\n";

        if (vMessage != "") {
            alert(vMessage);
            $('#txtFecIniFacN').focus();
            return false;
        }

        var Cronograma = {
            FechaFin: fecha,
            PaisID: $("#ddlPais").val(),
            Zona: $("#lblZona").text(),
            Campania: $("#lblCampania").text()
        };

        jQuery.ajax({
            type: 'POST',
            url: baseUrl + 'CronogramaFIC/Update',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(Cronograma),
            async: true,
            success: function (data) {
                if (checkTimeout(data)) {
                    if (data.success) {
                        var item = data.items;
                        alert(data.message);
                        ShowDiv();
                        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                    }
                    else {
                        alert(data.message);
                    }
                }
            },
            error: function (data, error) {
                if (checkTimeout(data)) {
                    alert("Ocurrio un Error, vuelva a ingresar");
                }
            }
        });
        return false;
    }
</script>

<div id="Listado">

    <input type="hidden" id="hdTipoCronograma" />

    <div class="wrap_cab">
        <div class="filtros2">
            <div class="elements">
                <div class="div-2">
                    <h1>Configuración <span>Cronograma FIC</span></h1>
                </div>
                <div class="div-3">
                    <div class="titG">País:</div>
                    <div class="selectA borde_redondeado">
                        @Html.DropDownListFor(model => model.CampaniaID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais" })
                    </div>
                    <div class="titB">Campaña:</div>
                    <div class="selectA borde_redondeado">
                        @Html.DropDownListFor(model => model.CampaniaID, new SelectList(Model.DropDownListCampania, "CampaniaID", "NombreCorto"), "-- Seleccionar --", new { id = "ddlCampania" })
                    </div>
                    <div class="input_search">
                        <input type="submit" name="" id="btnBuscar" value="Buscar" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrap">
        <div class="container clearfix">
            <div class="border-wrapper">
                <table id="list"></table>
                <div id="pager"></div>
            </div>
        </div>
    </div>

</div>


<div id="Registro" style="display: none;">

    <div class="wrap_cab">
        <div class="filtros">
            <div class="elements">
                <div class="div-2">
                    <h1>Edición de Fechas de <span>Cronograma FIC</span></h1>
                </div>
            </div>
        </div>
    </div>

    <div class="wrap">
        <div class="container clearfix">
            <div class="border-wrapper_reg">
                <div class="div-3">
                    <table class="Edit_reg" style="text-align: left; width: 100%">
                        <tr>
                            <td>
                                <div class="label1">País:</div>
                                <div class="label2" id="lblPais"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="label1">Campaña:</div>
                                <div class="label2" id="lblCampania"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="label1">Zona:</div>
                                <div class="label2" id="lblZona"></div>
                            </td>
                        </tr>
                    </table>
                </div>
                <h3>Fecha Original</h3>
                <div class="div-3">
                    <div class="titF">Fecha:</div>
                    <div class="selectP2 borde_redondeado">
                        <input type="text" id="txtFecIniFac" readonly="true" />
                    </div>
                </div>

                <h3>Fecha Nueva</h3>
                <div class="div-3">
                    <div class="titF">Fecha:</div>
                    <div class="calendar borde_redondeado">
                        <input type="text" id="txtFecIniFacN" />
                    </div>
                </div>

                <div class="div-3">
                    <div class="titF"></div>
                    <div class="titC"></div>
                    <div class="input_global">
                        <input type="button" value="Guardar" id="btnGuardar" onclick="return GuardarCronograma();" />
                    </div>
                    <div class="input_global">
                        <input type="button" value="Cancelar" id="btnCancelar" onclick="ShowDiv();" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="loadingScreen"></div>