@model Portal.Consultoras.Web.Models.CronogramaFICModel
@{
    ViewBag.Title = "Desactivar Cronograma FIC";
}
<script>
    function LimpiarDependencias(Id) {
        var ddlRegion = $('#ddlRegion');
        var ddlZona = $('#ddlZona');
        ddlRegion.empty();
        ddlZona.empty();
        $('#chkSeleccionar').attr('checked', false);

        if (Id != "") {
            ddlZona.append($('<option/>', {
                value: "",
                text: "-- Todas --"
            }));
            ddlRegion.append($('<option/>', {
                value: "",
                text: "-- Todas --"
            }));
        } else {
            ddlZona.append($('<option/>', {
                value: "",
                text: "-- Seleccionar --"
            }));
            ddlRegion.append($('<option/>', {
                value: "",
                text: "-- Seleccionar --"
            }));
        }
    }

    // se refresca el arbol con el pais, region y zona seleccionadas
    function CargarArbol(pais, campania, zona) {        
        waitingDialog({});
        $.jstree._reference($("#arbolRegionZona")).refresh(-1);
    }

    function Grabar() {
        waitingDialog({});
        var CronogramaFICModel = {
            Lista: []
        };
        
        // se capturan todas las consultoras seleccionadas
        var objLista;

        $("#arbolRegionZona ul li").each(function () {
            
            if (this.className == "jstree-leaf jstree-checked" ||this.className == "jstree-last jstree-leaf jstree-checked") {
                var Zona = this.attributes.codigozona.value;
                var Campania = this.attributes.codigocampania.value;
                var CodigoConsultora = this.attributes.codigoconsultora.value;
                    objLista = {
                        Zona: Zona,
                        Campania: Campania,
                        CodigoConsultora: CodigoConsultora
                    };
                    CronogramaFICModel.Lista.push(objLista);
            }
        });

        // se envian los ids al servidor para ser grabados
        if (CronogramaFICModel.Lista.length == 0) {
            alert("Debe seleccionar al menos una consultora y/0 zona.");
            closeWaitingDialog();
            return false;
        }

        $.ajax({
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            url: baseUrl + 'CronogramaFIC/DeshabilitarConsultoras',
            data: JSON.stringify({ lista: CronogramaFICModel.Lista }),
            success: function (data) {                
                if (checkTimeout(data)) {
                    alert(data.message);
                    $('#chkSeleccionar').attr('checked', false);
                    CargarArbol();
                    closeWaitingDialog();
                }
            },
            error: function (data, error) {
                
                if (checkTimeout(data)) {
                    closeWaitingDialog();
                    alert("Se produjo un error al realizar la modificación de cronograma");
                }
            }
        });
    }
    
    $(function () {
        $("#btnCancelar").click(function () {
            location.href = '@Url.Action("Index", "CronogramaFIC")';
        })

        $("#btnBuscar").click(function () {
            if ($("#ddlPais").val() == "") {
                alert("Debe seleccionar un País, verifique");
                return false;
            }
            if ($("#ddlCampania").val() == "") {
                alert("Debe seleccionar una Capamaña, verifique");
                return false;
            }
            if ($("#ddlZona").val() == "") {
                alert("Debe seleccionar una Zona, verifique");
                return false;
            }

            $('#chkSeleccionar').attr('checked', false);
            CargarArbol();
        });

        $("#arbolRegionZona").jstree({
            json_data: {
                //data: treeModel
                ajax: {
                    url: baseUrl + "CronogramaFIC/CargarArbolRegionesZonas",
                    data: function (n) {                        
                        return { PaisID: $("#ddlPais").val(), Codigocampaña: $("#ddlCampania").val(), ZonaID: $("#ddlZona").val() };
                    },
                    type: "GET",
                    complete: function () {                        
                        $("#arbolRegionZona").jstree("set_theme", "apple", "@Url.Content("~/Content/Css/jstree/apple/stylejstree.css")");
                        closeWaitingDialog();
                    }
                }
            },
            "themes": {
                "theme": "apple",
                "dots": true,
                "icons": false
            },
            plugins: ["themes", "json_data", "ui", "checkbox"]
        });

        $('#txtDiasDuracionCronograma').val("1");

        $('#txtDiasDuracionCronograma').keyup(function (evt) {
            var theEvent = evt || window.event;
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
            var regex = /[1-9]|\./;
            if (!regex.test(key)) {
                theEvent.returnValue = false;
                if (theEvent.preventDefault) theEvent.preventDefault();
            }
        });

        $('#txtDiasDuracionCronograma').keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 49 || e.which > 57)) {
                return false;
            }
        });

        $("#chkSeleccionar").click(function () {            
            if (this.checked) $.jstree._reference($("#arbolRegionZona")).check_all();
            else $.jstree._reference($("#arbolRegionZona")).uncheck_all();
        });
    });
</script>

<div class="wrap_cab">
    <div class="filtros">
        <div class="elements">
            <div class="div-2">
                <h1>Desactivar <span>Cronograma FIC</span></h1>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper_reg">
            <div class="div-3">
                <div class="titF">País:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais" })
                </div>
            </div>
            <div class="div-3">
                <div class="titF">Campaña:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.CampaniaID, new SelectList(Model.DropDownListCampania, "CampaniaID", "Codigo"), "-- Seleccionar --", new { id = "ddlCampania" })
                </div>
            </div>
            <div class="div-3">
                <div class="titF">Zona:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.ZonaID, new SelectList(Model.listaZonas, "ZonaID", "Codigo"), "-- Seleccionar --", new { id = "ddlZona" })
                </div>
            </div>
            <div class="div-3">
                <div class="titF"></div>
                <div class="input_search">
                    <input type="submit" value="Buscar" id="btnBuscar" name="">
                </div>
            </div>
            <div class="div-3">
                <div class="titF"></div>
                <div class="titH" style="width: 300px;">
                    Marque las zonas y/o consultoras que desee deshabilitar:
                </div>
            </div>
            <div class="div-3">
                <div class="titF"></div>
                <div class="treeview_content borde_redondeado">
                    <div id="arbolRegionZona" class="demo">
                    </div>
                </div>
            </div>
            <div class="div-3">
                <div class="titF"></div>
                <div class="titH">
                    <label id="lblSeleccionar">
                        <input type="checkbox" id="chkSeleccionar" />
                        Seleccionar todo</label>
                </div>
            </div>
            <div class="div-3">
                <div class="titF"></div>
                <div class="input_horizontal">
                    <input type="submit" value="Deshabilitar" id="btnGrabar" name="btnGrabar" onclick="Grabar();">
                </div>
                <div class="input_search" style="margin-left:20px;">
                    <input type="submit" value="Cancelar" id="btnCancelar" name="">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="loadingScreen"></div>

