@model Portal.Consultoras.Web.Models.CronogramaModel
@{
    ViewBag.Title = "ActualizacionMasiva";
}
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('#Alerta').hide();
        $("#ddlCampania").change(function () {
            RestriccionFechas();
        });
        $("#txtFechaFacturacion").datepicker({
            showOn: "button",
            buttonImage: '@Url.Content("~/Content/Images/calendar.png")',
            buttonImageOnly: true,
            dateFormat: 'dd/mm/yy'
        }).mask('99/99/9999');
        $("#txtFechaReFacturacion").datepicker({
            showOn: "button",
            buttonImage: '@Url.Content("~/Content/Images/calendar.png")',
            buttonImageOnly: true,
            dateFormat: 'dd/mm/yy'
        }).mask('99/99/9999');
        $("#btnActualizar").click(function () {
            Actualizar();
        });
        CargarCampania();
        fnGrilla();
    });

    function fnGrilla() {
        jQuery("#list").jqGrid({
            url: baseUrl + "Cronograma/ConsultarLog",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                vBusqueda: ""
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['CodigosZonaRegionIncompleto', 'Código Usuario', 'Fecha', 'Campaña', 'Zona/Región', 'Fecha Facturación', 'Fecha Fin Facturación', 'Fecha ReFacturación'],
            colModel: [
                {
                    name: 'CodigosZonaRegion', index: 'CodigosZonaRegion', width: 0, editable: false, align: 'center',
                    hidden: true
                },
                { name: 'CodigoUsuario', index: 'CodigoUsuario', width: 12, editable: true, resizable: false },
                { name: 'Fecha', index: 'Fecha', width: 12, editable: true, resizable: false },
                { name: 'CampaniaCodigo', index: 'CampaniaCodigo', width: 10, editable: true, resizable: false },
                { name: 'CodigosZonaRegionIncompleto', index: 'CodigosZonaRegionIncompleto', width: 42, editable: true, sortable: false, align: 'center', resizable: false, formatter: ShowActions },
                { name: 'FechaFacturacion', index: 'FechaFacturacion', width: 12, editable: true, resizable: false },
                { name: 'FechaFinFacturacion', index: 'FechaFinFacturacion', width: 12, editable: true, resizable: false, hidden: true },
                { name: 'FechaReFacturacion', index: 'FechaReFacturacion', width: 12, editable: true, resizable: false }
            ],
            jsonReader:
                {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: true,
                    cell: "cell",
                    id: "id"
                },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'Nombre',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            width: '930',
            height: 'auto',
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function () { },
            gridComplete: function () { }
        });
        jQuery("#list").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');

        
    };
    function ShowActions(cellvalue, options, rowObject) {
        var cellValueInt = parseInt(cellvalue);
        if (rowObject[0] != rowObject[4]) {
            var Edit = rowObject[4] + "&nbsp;<a href='javascript:;' onclick=\"VerMas(this,'" + rowObject[0] + "','" + rowObject[4] + "');\" > ...Ver mas" + "</a>";
        }
        else {
            var Edit = rowObject[0];
        }
        return Edit;
    };
    function VerMas(object, CodigoCompleto, CodigoIncompleto) {
        var td = object.parentElement;
        td.innerHTML = CodigoCompleto + "&nbsp;<a href='javascript:;' onclick=\"VerMenos(this,'" + CodigoCompleto + "','" + CodigoIncompleto + "');\" > ...Ver menos" + "</a>";
        return false;
    }
    function VerMenos(object, CodigoCompleto, CodigoIncompleto) {
        var td = object.parentElement;
        td.innerHTML = CodigoIncompleto + "&nbsp;<a href='javascript:;' onclick=\"VerMas(this,'" + CodigoCompleto + "','" + CodigoIncompleto + "');\" > ...Ver mas" + "</a>";
        return false;
    }
    function CargarCampania() {
        var Id = "11";
        $.getJSON(baseUrl + 'Cronograma/ObtenterCampanias', { PaisID: Id == "" ? 0 : Id }, function (data) {
            if (checkTimeout(data)) {
            LimpiarDependencias(Id);
            var ddlCampania = $('#ddlCampania');
            ddlCampania.empty();
            if (data.lista.length > 0) {
                ddlCampania.append($('<option/>', {
                    value: "",
                    text: "-- Seleccionar --"
                }));
                if (Id != "") {
                    for (var item in data.lista) {
                        ddlCampania.append($('<option/>', {
                            value: data.lista[item].CampaniaID,
                            text: data.lista[item].Codigo
                        }));
                    }
                }
            }
            closeWaitingDialog();
            }
        });
    };
    function LimpiarDependencias(Id) {
        var ddlCampania = $('#ddlCampania');
        ddlCampania.empty();
        ddlCampania.append($('<option/>', {
            value: "",
            text: "-- Seleccionar --"
        }));
    };
    function Actualizar()
    {

        if (jQuery('#ddlCampania').val() == "") {
            alert('Seleccionar Campaña');
            return false;
        }
        if (jQuery('#ddlTipo').val() == "") {
            alert('Seleccionar Tipo');
            return false;
        }
        if (jQuery('#txtCodigos').val() == "") {
            alert('Ingresar Codigos');
            return false;
        }

        var fechaFacturacion = jQuery('#txtFechaFacturacion').val();
        var fechaRefacturacion = jQuery('#txtFechaReFacturacion').val();

        if (fechaFacturacion == "") {
            alert('Ingresar Fecha de Facturación');
            return false;
        }

        if (fechaRefacturacion == "") {
            alert('Ingresar Fecha de ReFacturación');
            return false;
        }

        if (compare_dates(fechaFacturacion, fechaRefacturacion)) {
            alert("La Fecha de Refacturación debe ser mayor o igual a la Fecha de Facturación.\n");
            return false;
        }

        var texto = jQuery('#txtCodigos').val();
        var texto = texto.replace(/\n/g, "|");

        var item = {
            CampaniaCodigo: jQuery('#ddlCampania').val(),
            codigos: texto,
            Tipo: jQuery('#ddlTipo').val(),
            FechaFacturacion: jQuery('#txtFechaFacturacion').val(),
            FechaReFacturacion: jQuery('#txtFechaReFacturacion').val()
        };

        waitingDialog({});

        jQuery.ajax({
            type: 'POST',
            url: baseUrl + 'Cronograma/ActualizarLog',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(item),
            async: true,
            success: function (data) {
                if (checkTimeout(data)) {
                closeWaitingDialog();
                if (data.success == true) {
                    var ulMensaje = $('#ulMensaje');
                    ulMensaje[0].innerHTML = data.message;
                    jQuery('#Alerta').show();
                    LimpiarFormulario();
                    fnGrilla();
                }
                else {
                    alert(data.message);
                }
                }
            },
            error: function (data, error) {
                if (checkTimeout(data)) {
                closeWaitingDialog();
                alert(data.message);
            }
            }
        });
    };
    function LimpiarFormulario() {
        $('#ddlCampania').val("");
        $('#ddlTipo').val("");
        $('#txtCodigos').val("");
        $('#txtFechaFacturacion').val("");
        $('#txtFechaReFacturacion').val("");
        RestriccionFechas();
    }
    function RestriccionFechas()
    {
        if ($("#ddlCampania").val() == "") {
            $("#txtFechaFacturacion").datepicker("destroy");
            $("#txtFechaReFacturacion").datepicker("destroy");
            $("#txtFechaFacturacion").datepicker({
                showOn: "button",
                buttonImage: '@Url.Content("~/Content/Images/calendar.png")',
                buttonImageOnly: true,
                dateFormat: 'dd/mm/yy'
            }).mask('99/99/9999');
            $("#txtFechaReFacturacion").datepicker({
                showOn: "button",
                buttonImage: '@Url.Content("~/Content/Images/calendar.png")',
                buttonImageOnly: true,
                dateFormat: 'dd/mm/yy'
            }).mask('99/99/9999');
        }
        else {
            $("#txtFechaFacturacion").val('');
            $("#txtFechaReFacturacion").val('');
            $("#txtFechaFacturacion").datepicker("destroy");
            $("#txtFechaReFacturacion").datepicker("destroy");
            $("#txtFechaFacturacion").datepicker({
                showOn: "button",
                buttonImage: '@Url.Content("~/Content/Images/calendar.png")',
                buttonImageOnly: true,
                dateFormat: 'dd/mm/yy',
                minDate: new Date("01/01/" + (parseInt($("#ddlCampania").val().substring(0, 4)) - 1).toString()),
                maxDate: new Date("12/31/" +  $("#ddlCampania").val().substring(0, 4))
            }).mask('99/99/9999');
            $("#txtFechaReFacturacion").datepicker({
                showOn: "button",
                buttonImage: '@Url.Content("~/Content/Images/calendar.png")',
                buttonImageOnly: true,
                dateFormat: 'dd/mm/yy',
                minDate: new Date("01/01/" + (parseInt($("#ddlCampania").val().substring(0, 4)) - 1).toString()),
                maxDate: new Date("12/31/" + $("#ddlCampania").val().substring(0, 4))
            }).mask('99/99/9999');
        }
        return false;
    }
</script>
<div class="wrap_cab">
    <div class="filtros2">
        <div class="elements">

            <div class="div-2">
                <h1>Actualización <span>Masiva</span></h1>
            </div>
            <div class="div-3">
                <div class="titJ">Campaña:</div>
                <div class="selectP2 borde_redondeado">
                    <select id="ddlCampania">
                    </select>
                </div>
                <div class="titI">Tipo:</div>
                <div class="selectP2 borde_redondeado">
                    <select id="ddlTipo">
                        <option value="">-- Seleccionar --</option>
                        <option value="1">Region</option>
                        <option value="2">Zona</option>
                    </select>
                </div>
            </div>
            <div class="div-3">
                <div class="titJ">Zona/region:(1 por linea):</div>
                <div class="textarea_zona borde_redondeado">
                    <textarea id="txtCodigos"></textarea>
                </div>
            </div>
            <div class="div-3">
                <div class="titJ">Fecha facturación:</div>
                <div class="calendar borde_redondeado">
                    <input type="text" id="txtFechaFacturacion">
                </div>
                <div class="titI">Fecha refacturación:</div>
                <div class="calendar borde_redondeado">
                    <input type="text" id="txtFechaReFacturacion">
                </div>
                <div class="input_add_alert_left">
                    <input id="btnActualizar" type="button" value="Actualizar" />
                </div>
            </div>
            <div class="div-4" id="Alerta">
                <div class="noti2" style="width: 97.5%;">
                    <div>
                        <div class="viewport">
                            <div class="overview" style="top: 0px; height:80px; overflow:auto;">
                                <h3>Importante</h3>
                                <ul class="mensajes" id="ulMensaje">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper">
            <table id="list"></table>
            <div id="pager"></div>
        </div>
    </div>
</div>
<div id="loadingScreen"></div>
