@model Portal.Consultoras.Web.Models.MatrizCampaniaModel
@{
    ViewBag.Title = "Actualización – Matriz Campaña";
    var imagenVacia = "prod_grilla_vacio.png";
}

<div class="wrap_cab">
    <div class="filtros2">
        <div class="elements">
            <div class="div-2">
                <h1>Actualización de <span>Matriz Campaña</span></h1>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <section class="container clearfix">
        <div class="ofertas_detalle">
            Ingrese el año de la campaña y el código de venta del producto que se actualizara la descripción:
        </div>
        <div class="border-wrapper_reg">
            <div class="div-3">
                <div class="titI">País:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais" })
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Año campaña:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(x => x.Nombre, new SelectList(Model.DropDownListCampania, "CampaniaID", "Codigo"), new { id = "ddlCampania" })
                </div>
                <div class="titC">Cod. Venta:</div>
                <div class="selectP2 borde_redondeado">
                    <input id="txtCodVenta" type="text" maxlength="6" /><img alt="Buscar Cod. Venta" src="" style="display: none" />
                </div>
                <div class="input_search">
                    <input id="btnBuscar" type="button" value="Buscar" />
                </div>
            </div>

            <div class="div-3">
                <div class="titI alignright">
                    <h3>Original:</h3>
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Descripción:</div>
                <div class="selectA borde_redondeado">
                    <input id="hdnSap" type="hidden" />
                    <input id="hdnIdMatrizComercial" type="hidden" />
                    <input id="hdnIdMatrizComercialImagen" type="hidden" />
                    <input id="txtDescripcion" type="text" maxlength="250" readonly="readonly" />
                </div>
                <div class="titC">Precio:</div>
                <div class="selectP2 borde_redondeado">
                    <input id="txtPrecio" type="text" maxlength="8" readonly="readonly" />
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Precio * Factor Rep.:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtFactorRepeticion" type="text" maxlength="3" readonly="readonly" /><img alt="Buscar Cod. Venta" src="" style="display: none" />
                </div>
            </div>

            <div class="div-3">
                <div class="titI alignright">
                    <h3>Nuevo:</h3>
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Descripción:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtDescripcionNueva" type="text" maxlength="250" /><img alt="Buscar Cod. Venta" src="" style="display: none" />
                </div>
                <div class="titC">Precio:</div>
                <div class="selectP2 borde_redondeado">
                    <input id="txtPrecioNuevo" type="text" maxlength="10" />
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Precio * Factor Rep.:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtFactorRepeticionNuevo" type="text" maxlength="3" /><img alt="Buscar Cod. Venta" src="" style="display: none" />
                </div>
            </div>

            @if (ViewBag.HabilitarRegalo)
            {
            <div class="div-3">
                <div class="titI">Descripción Regalo:</div>
                <div class="selectA borde_redondeado" >
                    <textarea id="txtRegaloDescripcion" maxlength="500" cols="29"></textarea>
                </div>
                <div class="titC">
                    <span>Imagen Seleccionada:</span>
                </div>
                <div class="pdr_modal borde_redondeado">
                    <img src='@Url.Content("~/Content/Images/" + imagenVacia)' id="imgSeleccionada" class="img-matriz-preview" data-id="">
                </div>
            </div>
            <div class="div-3" id="matriz-comercial" style="display:none">
                <div class="titI" style="visibility:hidden">Descripción Regalo:</div>
                <div class="Content_modal" style="margin-left: 10px; padding-top: 10px; padding-bottom: 0; width:545px">
                    <div id="matriz-comercial-header">
                        <div id="matriz-imagenes-paginacion"></div>
                    </div>
                    <div class="actions">
                        <div class="file-upload" id="file-upload"></div>
                    </div>
                    <div class="div-3">
                        <div id="matriz-comercial-images" class="matsriz-comercial-list matriz-campania">
                        </div>
                    </div>
                </div>
            </div>
            }

            <div class="div-3">
                <div class="titI"></div>
                <div class="input_search">
                    <input id="btnGrabar" type="submit" value="Grabar" />
                </div>
            </div>
    </section>
</div>

<div id="loadingScreen"></div>

@Html.Partial("~/Views/Shared/MatrizComercial/_divVistaPrevia.cshtml")
@Html.Partial("~/Views/Shared/MatrizComercial/_matrizComercialItemTemplate.cshtml")

@section scripts{
    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/Desktop/ActualizarMatrizCampania")
    <script src="@Url.Content("~/Scripts/jquery.paging.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var imagenVacia = '@imagenVacia';
        var rutaImagenVacia = '@Url.Content("~/Content/Images/" + imagenVacia)';
        var rutaTemporal = '@Url.Content("~/Content/Temporales/")';
        var imagen = '';
        $(document).ready(function () {
            var settings = {
                habilitarRegalo: '@ViewBag.HabilitarRegalo' == 'True',
                consultarDescripcionUrl: '@Url.Action("ConsultarDescripcion", "MatrizCampania")',
                cargarCampaniaUrl: '@Url.Action("CargarCampania", "MatrizCampania")',
                insertarProductoDescripcionUrl: '@Url.Action("InsertarProductoDescripcion", "MatrizCampania")',
                habilitarNemotecnico: false,
                actualizarMatrizComercialUrl: '@Url.Action("ActualizarMatrizComercial", "MatrizComercial")',
                getImagesByCodigoSapUrl: '@Url.Action("GetImagesByCodigoSAP", "MatrizComercial")',
            };
            actualizarMatrizCampaniaModule.ini(settings);
        });
    </script>
}
