@model Portal.Consultoras.Web.Models.ChatBotModel

@{
    ViewBag.Title = "Chatbot";
    string imagenVacia = "prod_grilla_vacio.png";
}
<script src="@Url.Content("~/Scripts/fileuploader.js")" type="text/javascript"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="@Url.Content("~/Content/Css/Toast/jquery.toast.min.css")" rel="stylesheet" />

<div class="wrap">
    <div class="containerReporte clearfix">

    </div>
    <div class="containerReporte clearfix">
        <h2>Reporte Operador:</h2>

        <div class="div-3">
            <div class="titC">Pais:</div>
            <div class="selectP2 borde_redondeado">
                @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais" })
            </div>
            <div class="titC">Consultora: </div>
            <div class="selectP2 borde_redondeado">
                <input id="txtCodConsultora" type="text" />
            </div>

            <div class="titC">Operador: </div>
            <div class="selectP2 borde_redondeado">
                <input id="txtNombreOperador" type="text" />
            </div>
        </div>

        <div class="div-3">

            <fieldset class="fieldset-2">
                <legend>Fecha</legend>

                <div class="titC" style="padding-left: 0px;">Fecha Inicio:</div>
                <div class="calendar borde_redondeado">
                    <input type="text" id="txtFechaInicio">
                </div>
                <div class="titC" style="padding-left: 5px;">Fecha Fin:</div>
                <div class="calendar borde_redondeado">
                    <input type="text" id="txtFechaFin">
                </div>

            </fieldset>
            <div class="input_search">
                <input type="submit" name="" id="btnBuscar" value="Buscar" style="margin-top: 22px;" />
            </div>
        </div>

        <div class="border-wrapper">

            <table id="tblChatBot"></table>
            <div id="pagertblChatBot"></div>


        </div>
    </div>
</div>
<script type="text/javascript">
var urlListarCampanias = '@Url.Action("ObtenerCampaniasPorUsuario", "BaseAdm")';
var rutaImagenEdit = '@Url.Content("~/Content/Images/Edit.png")';
var rutaImagenDelete = '@Url.Content("~/Content/Images/Delete.png")';
var rutaFileUpload = '@Url.Action("ImageLanzamientoUpload", "FileUpload")';
var rutaTemporal = '@Url.Content("~/Content/Temporales/")';

</script>

<script src="@Url.Content("~/Scripts/handlebars.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.paging.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.toast.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/AdminChatBot/ChatBot.js")"></script>