
@model Portal.Consultoras.Web.Models.SolicitudClienteModel
@{
    ViewBag.Title = "Solicitudes de pedidos de nuevos clientes";
}
<script type="text/javascript">
    jQuery(document).ready(function () {
        fnGrilla();
        $('#ddlPais').change(function () {
            $("#hdTipoConsulta").attr("value", "0");
            $("#hdpaginacion").attr("value", "0");
            $("#hdestado").attr("value", "0");
            $("#list").jqGrid("clearGridData", true).trigger("reloadGrid");
            var Id = $(this).val();
            if (Id != "") {
                waitingDialog({});
                $.ajaxSetup({ cache: false });
                $.ajax({
                    type: 'GET',
                    url: baseUrl + 'BaseAdm/ObtenerCampaniasZonasPorPais',
                    data: "PaisID=" + (Id == "" ? 0 : Id),
                    cache: false,
                    dataType: 'Json',
                    success: function (data) {
                        if (checkTimeout(data)) {
                            LimpiarDependencias(Id);
                            var ddlCampania = $('#ddlCampania');
                            var ddlCampaniaRZ = $('#ddlCampaniaRegistroZona');

                            ddlCampania.empty();
                            ddlCampaniaRZ.empty();
                            if (data.lista.length > 0) {
                                ddlCampania.append($('<option/>', {
                                    value: "",
                                    text: "-- Seleccionar --"
                                }));
                                ddlCampaniaRZ.append($('<option/>', {
                                    value: "",
                                    text: "-- Seleccionar --"
                                }));
                                if (Id != "") {
                                    for (var item in data.lista) {
                                        ddlCampania.append($('<option/>', {
                                            value: data.lista[item].CampaniaID,
                                            text: data.lista[item].Codigo
                                        }));
                                        ddlCampaniaRZ.append($('<option/>', {
                                            value: data.lista[item].CampaniaID,
                                            text: data.lista[item].Codigo
                                        }));
                                    }
                                }
                            }
                            closeWaitingDialog();
                        }
                    },
                    error: function (x, xh, xhr) {
                        if (checkTimeout(x)) {
                            closeWaitingDialog();
                        }
                    }
                });
            } else LimpiarDependencias(Id);
        });
        $("#btnBuscar").click(function () {
            if ($("#ddlPais").val() == "") {
                alert("Debe seleccionar el País, verifique.");
                return false;
            }
            if ($("#ddlCampania").val() == "") {
                alert("Debe seleccionar la Campaña, verifique.");
                return false;
            }
            if ($("#ddlEstadoSolicitudCliente").val() == "") {
                alert("Debe seleccionar el Estado, verifique.");
                return false;
            }
            $("#hdTipoConsulta").attr("value", "1");
            $("#hdpaginacion").attr("value", "0");
            $("#hdestado").attr("value", "0");
            fnGrilla();
        });

        $("#btnExcel").click(function () {
            ExportExcel();
        });

    });
    function fnGrilla() {
        jQuery("#list").jqGrid({
            url: baseUrl + "SolicitudCliente/Consultar",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                CampaniaID: function () { return jQuery.trim($("#ddlCampania").val()); },
                PaisID: function () { return jQuery.trim($("#ddlPais").val()); },
                Consulta: function () { return jQuery.trim($("#hdTipoConsulta").val()); },
                Paginacion: function () {return jQuery.trim($("#hdpaginacion").val());},
                Estado: function () {
                    $("#hdpaginacion").attr("value", "0");
                    return jQuery.trim($("#ddlEstadoSolicitudCliente").val());
                }
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['SolicitudClienteID', 'Campaña', 'Nombre del Cliente', 'Fecha de la Solicitud', 'Marca', 'Estado','Sección', 'Enviado', ''],
            colModel: [
                { name: 'SolicitudClienteID', index: 'SolicitudClienteID', width: 20, editable: true, sortable: true, resizable: false, hidden: true },
                { name: 'Campania', index: 'Campania', width: 40, editable: true, sortable: true, resizable: false, align: 'center' },
                { name: 'NombreCompleto', index: 'NombreCompleto', width: 160, editable: true, sortable: true, resizable: false },
                { name: 'FechaSolicitud', index: 'FechaSolicitud', width: 60, editable: true, sortable: true, resizable: false, align: 'center' },
                { name: 'MarcaNombre', index: 'MarcaNombre', width: 40, editable: true, sortable: true, resizable: false },
                { name: 'Estado', index: 'Estado', width: 30, editable: true, sortable: true, resizable: false },
                { name: 'Seccion', index: 'Seccion', width: 30, editable: true, sortable: true, resizable: false, align:'center' },
                { name: 'EnviadoGZ', index: 'EnviadoGZ', width: 30, editable: true, sortable: true, resizable: false, align: 'center' },
                { name: 'Detalle', index: 'Detalle', width: 30, editable: true, sortable: true, resizable: false, formatter: ShowActions, align: 'center' }
            ],
            jsonReader:
            {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: true,
                cell: "cell",
                id: "id"
            },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'Mensaje',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 930,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function () { },
            gridComplete: function () { }
        });
        jQuery("#list").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
    }
    function ShowActions(cellvalue, options, rowObject) {
        var cellValueInt = parseInt(cellvalue);
        var Des = "<a href='javascript:;' onclick=\"return jQuery('#list').Editar('" + rowObject[0] + "','" + rowObject[8] + "','" + rowObject[9]  + "');\" >" + "<img src='@Url.Content("~/Content/Images/Detail.png")' alt='Ver detalle' title='Ver detalle' border='0' /></a>";        
        return Des;
    }
    function LimpiarDependencias(Id) {
        var ddlCampania = $('#ddlCampania');
        var ddlCampaniaRZ = $('#ddlCampaniaRegistroZona');
        ddlCampania.empty();
        ddlCampaniaRZ.empty();
        ddlCampania.append($('<option/>', {
            value: "",
            text: "-- Seleccionar --"
        }));
        ddlCampaniaRZ.append($('<option/>', {
            value: "",
            text: "-- Seleccionar --"
        }));
    }
    $.jgrid.extend({
        Editar: function (id,paginacion,estado) {
            document.getElementById("SolicitudClienteId").value = id;
            document.getElementById("Paginacion").value = paginacion;
            document.getElementById("Estado").value =estado
            document.getElementById("frmSolicitudCredito").action = baseUrl + 'SolicitudCliente/Detalle';
            document.getElementById("frmSolicitudCredito").method = 'POST';
            document.getElementById("frmSolicitudCredito").submit();
            return false;
        }
    });

    function ExportExcel() {
        var m = true;
        if ($("#list").getGridParam("reccount") == 0) {
            m = confirm('La grilla se encuentra vacía.');
        }
        if (!m) {
            return;
        }

        var vCampaniaID = jQuery.trim($("#ddlCampania").val());
        var vPaisID = jQuery.trim($("#ddlPais").val());
        var vEstado = jQuery.trim($("#ddlEstadoSolicitudCliente").val());

            waitingDialog({});

            setTimeout(function () {
                DownloadAttachExcel(vCampaniaID, vPaisID, vEstado)
            }, 0);
    
    }

    function DownloadAttachExcel(vCampaniaID, vPaisID, vEstado) {

        var content = baseUrl + "SolicitudCliente/ExportarExcel?" +
            "CampaniaID=" + vCampaniaID +
            "&PaisID=" + vPaisID +
            "&Estado=" + vEstado;

        var iframe_ = document.createElement("iframe");
        iframe_.style.display = "none";
        iframe_.setAttribute("src", content);

        if (navigator.userAgent.indexOf("MSIE") > -1 && !window.opera) { // Si es Internet Explorer
            iframe_.onreadystatechange = function () {
                switch (this.readyState) {
                    case "loading":
                        waitingDialog({});
                        break;
                    case "complete":
                    case "interactive":
                    case "uninitialized":
                        closeWaitingDialog();
                        break;
                    default:
                        closeWaitingDialog();
                        break;
                }
            };
        }
        else {
            // Si es Firefox o Chrome
            $(iframe_).ready(function () {
                closeWaitingDialog();
            });
        }
        document.body.appendChild(iframe_);
    }
</script>
<form id="frmSolicitudCredito">
    @Html.HiddenFor(p => p.SolicitudClienteId)
    @Html.HiddenFor(p=>p.Paginacion)
    @Html.HiddenFor(p => p.Estado)
</form>
<input type="hidden" id="hdTipoConsulta" value="@ViewBag.HdConsulta" />
@Html.HiddenFor(p => p.Paginacion,new { @id = "hdpaginacion",@name="hdpaginacion" })
@Html.HiddenFor(p => p.Estado,new { @id = "hdestado",@name="hdestado" })
<div class="wrap_cab">
    <div class="filtros2">
        <div class="elements">
            <div class="div-2">
                <h1><span>Solicitudes de pedidos de nuevos clientes</span></h1>
            </div>
            <div class="div-3">
                <div class="titA">País:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais" })
                </div>
                <div class="titB">Campaña:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.Campania, new SelectList(Model.listaCampania, "CampaniaID", "NombreCorto"), "-- Seleccionar --", new { id = "ddlCampania" })
                </div>
                <div class="input_horizontal">
                    <input type="button" name="btnBuscar" id="btnBuscar" value="Buscar" style="float:right" />
                </div>
            </div>
            <div class ="div-3">
                <div class="titA">Estado:</div>
                <div class="selectA borde_redondeado">
                        @Html.DropDownListFor(model => model.EstadoSolicitudClienteID, new SelectList(Model.listaEstadoSolicitudCliente, "EstadoSolicitudClienteID", "Descripcion",1), new { id = "ddlEstadoSolicitudCliente" })
                </div>                
            </div>
        </div>
    </div>
</div>
<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper">
            <table id="list"></table>
            <div id="pager"></div>
        </div>
        <div class="div-3">
            <div class="titAuto">
                <div class="input_horizontal">
                    <input type="button" name="btnExcel" id="btnExcel" value="Excel" />
                </div>
            </div>
        </div>
    </div>
</div>

<div id="loadingScreen"></div>