@{
    ViewBag.Title = "ReporteAfiliadas";
}

<input type="hidden" id="hdTipoConsulta" value="@ViewBag.HdConsulta" />

<div class="wrap_cab">
    <div class="filtros2">
        <div class="elements">
            <div class="div-2">
                <h1><span>Reporte Afiliadas</span></h1>
            </div>
            <div class="div-3">
                <div class="titF">Fecha desde :</div>
                <div class="calendar borde_redondeado">
                    <input type="text" id="txtFechaInicio">
                </div>
                <div class="titF">al:</div>
                <div class="calendar borde_redondeado">
                    <input type="text" id="txtFechaFin">
                </div>
                <div class="input_horizontal">
                    <input type="button" name="btnBuscar" id="btnBuscar" value="Buscar" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper">
            <table id="list"></table>
            <div id="pager"></div>
        </div>
        <div class="div-3">
            <div class="titAuto">
                <div class="input_horizontal">
                    <input type="button" name="btnExcel" id="btnExcel" value="Excel" />
                </div>
            </div>
        </div>
    </div>
</div>
<div id="loadingScreen"></div>

<script type="text/javascript">

    jQuery(document).ready(function () {

        fnGrilla();

        IniFecha();
        FinFecha();

        $("#btnBuscar").click(function () {
            $("#hdTipoConsulta").attr("value", "1");
            fnGrilla();
        });

        $("#btnExcel").click(function () {
            ExportExcel();
        });

        

    });



    function IniFecha() {

        $("#txtFechaInicio").datepicker({
            showOn: "button",
            buttonImage: '@Url.Content("~/Content/Images/calendar.png")',
            buttonImageOnly: true,
            dateFormat: 'dd/mm/yy'
        }).mask('99/99/9999');

        $("#txtFechaInicio").datepicker("setDate", new Date());
    }

    function FinFecha() {

        $("#txtFechaFin").datepicker({
            showOn: "button",
            buttonImage: '@Url.Content("~/Content/Images/calendar.png")',
            buttonImageOnly: true,
            dateFormat: 'dd/mm/yy'
        }).mask('99/99/9999');

        $("#txtFechaFin").datepicker("setDate", new Date());
    }

    function fnGrilla() {

        var url = '@Url.Content("~/SolicitudCliente/ConsultarReportesAfiliados")';

        jQuery("#list").jqGrid({
            url: url,
            hidegrid: false,
            datatype: 'json',
            postData: ({
                fechaInicio: function () { return $("#txtFechaInicio").val(); },
                fechaFin: function () { return $("#txtFechaFin").val(); },
                Consulta: function () { return $("#hdTipoConsulta").val(); }
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['Codigo', 'Codigo Ubigeo', '@ViewBag.UnidadGeografica1', '@ViewBag.UnidadGeografica2', '@ViewBag.UnidadGeografica3', 'Nombres Completo', 'Es Afiliado', 'Segmento', 'Año Campaña Ingreso', 'Fecha Creación', 'Fecha Modificación'],
            colModel: [
                { name: 'Codigo', index: 'Codigo', width: 80, editable: true, sortable: false, resizable: false, hidden: false, align: "center" },
                { name: 'CodigoUbigeo', index: 'CodigoUbigeo', width: 200, editable: true, sortable: false, resizable: false, align: "center" },
                { name: 'UnidadGeografica1', index: 'UnidadGeografica1', width: 140, editable: true, sortable: false, resizable: false, align: 'center' },
                { name: 'UnidadGeografica2', index: 'UnidadGeografica2', width: 140, editable: true, sortable: false, resizable: false, align: 'center' },
                { name: 'UnidadGeografica3', index: 'UnidadGeografica3', width: 140, editable: true, sortable: false, resizable: false, align: 'center' },
                { name: 'NombreCompleto', index: 'NombreCompleto', width: 200, editable: true, sortable: false, resizable: false, align: 'center' },
                { name: 'EsAfiliado', index: 'EsAfiliado', width: 40, editable: true, sortable: false, resizable: false, align: 'center', edittype: 'checkbox', editoptions: { value: "True:False" }, formatter: "checkbox", formatoptions: { disabled: true } },
                { name: 'Segmento', index: 'Segmento', width: 150, editable: true, sortable: false, resizable: false, align: 'center' },
                { name: 'AnioCampanaIngreso', index: 'AnioCampanaIngreso', width: 60, editable: true, sortable: false, resizable: false, align: 'center' },
                { name: 'FechaCreacionString', index: 'FechaCreacionString', width: 50, editable: true, sortable: false, resizable: false, align: 'center' },
                { name: 'FechaModificacionString', index: 'FechaModificacionString', width: 50, editable: true, sortable: false, resizable: false, align: 'center' }
            ],
            jsonReader:
            {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: true,
                cell: "cell",
                id: "id"
            },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'Mensaje',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 930,
            autowidth: true,
            shrinkToFit: false,  
            forceFit: true,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function () { },
            gridComplete: function () { }
        });
        jQuery("#list").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');

    }

    function ExportExcel() {
        var m = true;
        if ($("#list").getGridParam("reccount") == 0) {
            m = confirm('La grilla se encuentra vacía.\n¿ Está seguro(a) que desea continuar con la operación ?');
        }
        if (!m) {
            return;
        }
        var fechaInicio = jQuery.trim($("#txtFechaInicio").val());
        var fechaFin = jQuery.trim($("#txtFechaFin").val());

        var vmessage = "";
        if (fechaInicio == "")
            vmessage += "Debe seleccionar un Fecha Inicio. \n";
        if (fechaFin == "")
            vmessage += "Debe seleccionar la Fecha Final \n";

        if (vmessage != "") {
            alert(vmessage);
            return false;
        }
        else {
            waitingDialog({});

            setTimeout(function () {
                DownloadAttachExcel(fechaInicio, fechaFin)
            }, 0);
        }
    }

    function DownloadAttachExcel(fechaInicio, fechaFin) {

        // TODO: evaluar la repercusion de este if
        var content = baseUrl + "SolicitudCliente/ExportarExcelReporteAfiliadas?" +
            "fechaInicio=" + fechaInicio +
            "&fechaFin=" + fechaFin;

        var iframe_ = document.createElement("iframe");
        iframe_.style.display = "none";
        iframe_.setAttribute("src", content);

        if (navigator.userAgent.indexOf("MSIE") > -1 && !window.opera) { // Si es Internet Explorer
            iframe_.onreadystatechange = function () {
                switch (this.readyState) {
                    case "loading":
                        waitingDialog({});
                        break;
                    case "complete":
                    case "interactive":
                    case "uninitialized":
                        closeWaitingDialog();
                        break;
                    default:
                        closeWaitingDialog();
                        break;
                }
            };
        }
        else {
            // Si es Firefox o Chrome
            $(iframe_).ready(function () {
                closeWaitingDialog();
            });
        }
        document.body.appendChild(iframe_);
    }

</script>
