@model Portal.Consultoras.Web.Models.SolicitudClienteModel
@{
    ViewBag.Title = "ReportePedidos";
}

<div class="wrap_cab">
    <div class="filtros2">
        <div class="elements">
            <div class="div-2">
                <h1><span>Reporte Pedidos</span></h1>
            </div>
            <div class="div-3">
                <div class="titF">Fecha desde:</div>
                <div class="calendar borde_redondeado">
                     <input type="text" id="txtFechaInicio">
                </div>
               <div class="titF" style="margin-left:60px">al:</div>
                <div class="calendar borde_redondeado">
                     <input type="text" id="txtFechaFin">
                </div>             
                <div class="input_horizontal">
                    <input type="button" name="btnBuscar" id="btnBuscar" value="Buscar"/>
                </div>
            </div>  
            <div class="div-3">
                <div class="titF">Estado:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.EstadoSolicitudClienteID, new SelectList(Model.listaEstadoSolicitudCliente, "EstadoSolicitudClienteID", "Descripcion"), new { id = "ddlEstado" })
                </div>
                <div class="titF" style="margin-left:-16px">Marca:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.listaMarcas, new SelectList(Model.listaMarcas, "Key", "Value"), "-- Selecione Marca --", new { id = "ddlMarca" })
                </div>                          
            </div>
            <div class ="div-3">
                <div class="titF">Campaña:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.listaCampania, new SelectList(Model.listaCampania, "CampaniaID", "NombreCorto"), "-- Seleccionar --", new { id = "ddlCampania" })
                </div>              
            </div>             
        </div>
    </div>
</div>
<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper">
            <table id="list"></table>
            <div id="pager"></div>
        </div>
         <div class="div-3">
            <div class="titAuto">
                <div class="input_horizontal">
                    <input type="button" name="btnExcel" id="btnExcel" value="Excel" />
                </div>
            </div>
        </div>
    </div>

</div>
<div id="loadingScreen"></div>

<script type="text/javascript">
    jQuery(function () {
        IniFecha();
        FinFecha();

        $("#btnBuscar").click(function () {

            if ($("#txtFechaInicio").val() == "") {
                alert("Debe seleccionar la fecha de Inicio");
                return false;
            }

            fnGrilla();

        });

        $("#btnExcel").click(function () {
            ExportExcel();
        });

        $("#ddlEstado").val("-1");
    });


    function IniFecha() {

        $("#txtFechaInicio").datepicker({
            showOn: "button",
            buttonImage: '@Url.Content("~/Content/Images/calendar.png")',
            buttonImageOnly: true,
            dateFormat: 'dd/mm/yy'
        }).mask('99/99/9999');

        $("#txtFechaInicio").datepicker("setDate", new Date());
    }
    
    function FinFecha() {

        $("#txtFechaFin").datepicker({
            showOn: "button",
            buttonImage: '@Url.Content("~/Content/Images/calendar.png")',
            buttonImageOnly: true,
            dateFormat: 'dd/mm/yy'
        }).mask('99/99/9999');

        $("#txtFechaFin").datepicker("setDate", new Date());
    }


    function fnGrilla() {
        jQuery("#list").jqGrid({
            url: baseUrl + "SolicitudCliente/ConsultarReportesPedidos",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                fechaInicio: function () { return jQuery.trim($("#txtFechaInicio").val()); },
                fechaFin: function () { return jQuery.trim($("#txtFechaFin").val()); },
                estado: function () { return jQuery.trim($("#ddlEstado").val()); },
                marca: function () { return jQuery.trim($("#ddlMarca").val()); },
                campania: function () { return jQuery.trim($("#ddlCampania").val()); }
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['SolicitudClienteID', 'Estado', 'Fecha Solicitud', 'Nombre Cliente','Dirección', 'Email Cliente', 'Tlf. Cliente', 'Marca', 'Campaña', 'Producto','Tono', 'Cantidad', 'Precio', 'Msj del Cliente', 'Cod. Consultora', 'Nombre Consultora', 'Tlf. Movil Consultora', 'Tlf. Fijo Consultora', 'Emal Consultora', 'Leído'],
            colModel: [
                { name: 'SolicitudClienteID', index: 'SolicitudClienteID', width: 20, editable: true, sortable: false, resizable: false, hidden: true, align: "center" },
                { name: 'Estado', index: 'Estado', width: 50, editable: true, sortable: false, resizable: false, align: "center" },
                { name: 'FechaSolicitud', index: 'FechaSolicitud', width: 60, editable: true, sortable: false, resizable: false, align: 'center' },
                { name: 'NombreCliente', index: 'NombreCliente', width: 220, editable: true, sortable: false, resizable: false, align: 'center' },
                { name: 'Direccion', index: 'Direccion', width: 150, editable: true, sortable: false, resizable: false, align: 'center' },
                { name: 'EmailCliente', index: 'EmailCliente', width: 140, editable: true, sortable: false, resizable: false, align: 'center' },
                { name: 'TelefonoCliente', index: 'TelefonoCliente', width: 50, editable: true, sortable: false, resizable: false, align: 'center' },
                { name: 'Marca', index: 'Marca', width: 60, editable: true, sortable: false, resizable: false, align: 'center' },
                { name: 'Campania', index: 'Campania', width: 60, editable: true, sortable: false, resizable: false, align: 'center' },
                { name: 'Producto', index: 'Producto', width: 100, editable: true, sortable: false, resizable: false, align: 'center' },
                { name: 'Tono', index: 'Tono', width: 100, editable: true, sortable: false, resizable: false, align: 'center' },
                { name: 'Cantidad', index: 'Cantidad', width: 60, editable: true, sortable: false, resizable: false, align: 'center' },
                { name: 'Precio', index: 'Precio', width: 60, editable: true, sortable: false, resizable: false, align: 'center' },
                { name: 'MensajeCliente', index: 'MensajeCliente', width: 150, editable: true, sortable: false, resizable: false, align: 'center' },
                { name: 'CodigoConsultora', index: 'CodigoConsultora', width: 80, editable: true, sortable: false, resizable: false, align: 'center' },
                { name: 'NombreConsultora', index: 'NombreConsultora', width: 220, editable: true, sortable: false, resizable: false, align: 'center' },
                { name: 'TelefonoMovilConsultora', index: 'TelefonoMovilConsultora', width: 80, editable: true, sortable: false, resizable: false, align: 'center' },
                { name: 'TelefonoFijoConsultora', index: 'TelefonoFijoConsultora', width: 80, editable: true, sortable: false, resizable: false, align: 'center' },
                { name: 'EmailConsultora', index: 'EmailConsultora', width: 180, editable: true, sortable: false, resizable: false, align: 'center' },
                { name: 'Leido', index: 'Leido', width: 50, editable: true, sortable: false, resizable: false, align: 'center', edittype: 'checkbox', editoptions: { value: "True:False" }, formatter: "checkbox", formatoptions: { disabled: true } }
            ],
            jsonReader:
            {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: true,
                cell: "cell",
                id: "id"
            },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'Mensaje',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 930,
            autowidth: true,
            shrinkToFit: false,
            forceFit: true,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function () { },
            gridComplete: function () { }
        });
        jQuery("#list").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');

    }

    function ExportExcel() {
        var m = true;
        if ($("#list").getGridParam("reccount") == 0) {
            m = confirm('La grilla se encuentra vacía.\n¿ Está seguro(a) que desea continuar con la operación ?');
        }
        if (!m) {
            return;
        }
        var fechaInicio = jQuery.trim($("#txtFechaInicio").val());
        var fechaFin = $("#txtFechaFin").val();
        var estado = jQuery.trim($("#ddlEstado").val());
        var marca = $("#ddlMarca").val();
        var campania = $("#ddlCampania").val();

        var vmessage = "";
        if (fechaInicio == "")
            vmessage += "Debe seleccionar un Fecha Inicio. \n";

        if (vmessage != "") {
            alert(vmessage);
            return false;
        }
        else {
            waitingDialog({});

            setTimeout(function () {
                DownloadAttachExcel(fechaInicio, fechaFin, estado, marca, campania)
            }, 0);
        }
    }

    function DownloadAttachExcel(fechaInicio, fechaFin, estado, marca, campania) {

        // TODO: evaluar la repercusion de este if
        var content = baseUrl + "SolicitudCliente/ExportarExcelReportePedidos?" +
            "fechaInicio=" + fechaInicio +
            "&fechaFin=" + fechaFin +
            "&estado=" + estado +
            "&marca=" + marca +
            "&campania=" + campania;

        var iframe_ = document.createElement("iframe");
        iframe_.style.display = "none";
        iframe_.setAttribute("src", content);

        if (navigator.userAgent.indexOf("MSIE") > -1 && !window.opera) { // Si es Internet Explorer
            iframe_.onreadystatechange = function () {
                switch (this.readyState) {
                    case "loading":
                        waitingDialog({});
                        break;
                    case "complete":
                    case "interactive":
                    case "uninitialized":
                        closeWaitingDialog();
                        break;
                    default:
                        closeWaitingDialog();
                        break;
                }
            };
        }
        else {
            // Si es Firefox o Chrome
            $(iframe_).ready(function () {
                closeWaitingDialog();
            });
        }
        document.body.appendChild(iframe_);
    }

</script>