@model Portal.Consultoras.Web.Models.SolicitudCreditoModel
@{
    ViewBag.Title = "DetalleCreditoDO";
}
<script type="text/javascript">

    jQuery(document).ready(function () {
        var TipoSolicitud = $("#hdTipoSolicitud").val();
        $("#btnRegresar").click(function () {
            if (TipoSolicitud == "INS") {
                location.href = '@Url.Action("SolicitudCredito", "SolicitudCredito")';
            } else {
                location.href = '@Url.Action("ReporteActualizacionDatos", "SolicitudCredito")';
            }
        });
    });
</script>
<div class="wrap_cab">
    <div class="filtros">
        <div class="elements">
            <div class="div-2">
                @if (Model.TipoSolicitud == "INS")
                {
                    <h1>Formulario de <span>Solicitud de Crédito</span></h1>
                }
                else
                {
                    <h1>Formulario de <span>Actualización de Datos</span></h1>
                }
            </div>
        </div>
    </div>
</div>

<div class="div-2">
@if (Model.TipoSolicitud == "INS")
{ 
<div class="wrap">
    <div class="container clearfix">
        <div class="div-3">
            <div class="titAutoVertical">Datos de la Inscripción:</div>
        </div>
        <div class="border-wrapper_reg">
            <div class="div-3">
                <div class="titI">Zona:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtZona" type="text" value="@Model.CodigoZona" disabled="disabled"/>
                </div>
                <div class="titI">Territorio:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtTerritorio" type="text" disabled="disabled" value="@Model.CodigoTerritorio" style="text-transform:uppercase;"  maxlength="9"/>
                </div>
                 <input type="hidden" id="hdTipoSolicitud" value="@Model.TipoSolicitud"/>
            </div>
            <div class="div-3">
                <div class="titI">Tipo de Contacto:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.TipoContacto, new SelectList(Model.ListaTipoContacto, "Codigo", "Descripcion"), "-- Seleccionar --", new { id = "ddlTipoContacto",disabled="disabled" })
                </div>
            </div>
            <div class="div-3">
                <div class="titI_2">Codigo de Consultora que Recomienda</div>
                <div class="selectA borde_redondeado">
                    <input id="txtCodigoConsultoraRecomienda" type="text" disabled="disabled" value="@Model.CodigoConsultoraRecomienda"  style="text-transform:uppercase;"/>
                </div>
                <div class="titI_2">Nombre Consultora que recomienda</div>
                <div class="selectA borde_redondeado">
                    <input id="txtNombreConsultoraRecomienda" type="text" disabled="disabled" value="@Model.NombreConsultoraRecomienda" style="text-transform: uppercase;"/>
                </div>
            </div>
        </div>
        <div class="div-3">
            <div class="titAutoVertical">Datos Personales de la Solicitante:</div>
        </div>
        <div class="border-wrapper_reg">
            <div class="div-3">
                <div class="titI">Primer Apellido:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtApellidoPaterno" type="text" disabled="disabled" value="@Model.ApellidoPaterno" maxlength="15"  style="text-transform: uppercase;" onkeypress="return FuncionesGenerales.ValidarSoloLetras(event);"/>
                </div>
                <div class="titI">Segundo Apellido:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtApellidoMaterno" type="text" disabled="disabled" value="@Model.ApellidoMaterno"  maxlength="15" style="text-transform: uppercase;" onkeypress="return FuncionesGenerales.ValidarSoloLetras(event);"/>
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Nombres:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtPrimerNombre" type="text" disabled="disabled" value="@Model.PrimerNombre" maxlength="15" style="text-transform: uppercase;" onkeypress="return FuncionesGenerales.ValidarSoloLetras(event);"/>
                </div>
            </div>
            <div class="div-3">
                <div class="titI_2">Fecha Nacimiento (DD/MM/AAAA):</div>
                <div class="selectA borde_redondeado" style="width: 50px; margin-right: 5px;">
                    @Html.DropDownListFor(model => model.DiaNacimiento, new SelectList(Model.ListaDiaNacimiento, "Valor", "Texto"), "----", new { id = "ddlDiaNacimiento", style = "width:50px", disabled = "disabled" })
                </div>
                <div class="selectA borde_redondeado" style="width: 100px; margin-right: 5px;">
                    @Html.DropDownListFor(model => model.MesNacimiento, new SelectList(Model.ListaMesNacimiento, "Valor", "Texto"), "------------", new { id = "ddlMesNacimiento", style = "width:100px", disabled = "disabled" })
                </div>
                <div class="selectA borde_redondeado" style="width: 68px;">
                    @Html.DropDownListFor(model => model.AnioNacimiento, new SelectList(Model.ListaAnioNacimiento, "Valor", "Texto"), "------", new { id = "ddlAnioNacimiento", style = "width:68px", disabled = "disabled" })
                </div>
                <div class="titI" style="margin-left: 5px; width: 120px;">Estado Civil:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.EstadoCivil, new SelectList(Model.ListaEstadoCivil, "Codigo", "Descripcion"), "-- Seleccionar --", new { id = "ddlEstadoCivil", disabled = "disabled" })
                </div>

            </div>
            <div class="div-3">
                <div class="titI">Tipo de Documento Identidad:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.TipoDocumento, new SelectList(Model.ListaTipoDocumento, "Codigo", "Descripcion"), "-- Seleccionar --", new { id = "ddlTipoDocumento",disabled="disabled" })
                </div>
                <div class="titI_2">Número Documento Identidad:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtNumeroDocumento" type="text" disabled="disabled" value="@Model.NumeroDocumento" maxlength="11" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);"/>
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Nivel Educativo:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.NivelEducativo, new SelectList(Model.ListaNivelEducativo, "Codigo", "Descripcion"), "-- Seleccionar --", new { id = "ddlNivelEducativo",disabled="disabled" })
                </div>
                <div class="titI">¿Vendes otras marcas?</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.CodigoOtrasMarcas, new SelectList(Model.ListaOtrasMarcas, "Codigo", "Descripcion"), "-- Seleccionar --", new { id = "ddlOtrasMarcas" ,disabled="disabled" })
                </div>
            </div>
        </div>
        <div class="div-3">
            <div class="titAutoVertical">Datos del Contacto:</div>
        </div>
        <div class="border-wrapper_reg">
            <div class="div-3">
                <div class="titI line_height" style="width:700px; text-align:left;">
                    (Ingresar al menos uno de los dos teléfonos)
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Teléfono 1:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtTelefono1" type="text" disabled="disabled" value="@Model.Telefono" maxlength="10" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);"/>
                </div>
                <div class="titI">Teléfono 2:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtTelefono2" type="text" disabled="disabled" value="@Model.Celular" maxlength="10"  onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);"/>
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Correo electrónico:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtCorreoElectronico" type="text"  disabled="disabled" value="@Model.CorreoElectronico" style="text-transform: uppercase;"/>
                </div>
                <div style="padding-top:8px;">
                    <table>
                        <tr>
                            <td> <input type="checkbox" id="chekCorreo" disabled="disabled" /></td>
                            <td><div style="color: #702789;font-size: 12px;">No tengo correo electrónico.</div></td>
                        </tr>
                    </table>      
                </div>
            </div>
        </div>
        <div class="div-3">
            <div class="titAutoVertical">Dirección de la Solicitante:</div>
        </div>
        <div class="border-wrapper_reg">
            <div class="div-3">
                <div class="titI">Dirección:</div>
                <div class="selectA borde_redondeado" style="width: 450px">
                    <input id="txtDireccionResidencia" type="text" disabled="disabled" maxlength="40" style="width:450px;text-transform:uppercase;" value="@Model.Direccion"  />
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Referencias:</div>
                <div class="selectA borde_redondeado" style="width: 450px">
                    <input id="txtReferencia" type="text"  disabled="disabled" maxlength="40"  style="width:450px;text-transform:uppercase;" value="@Model.Referencia" />
                </div>
            </div>

            <div class="div-3">
                <div class="titI line_height">Barrio:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtUnidadGeografica3" type="text"  value="@Model.UnidadGeografica3" disabled="disabled" maxlength="35" style="text-transform: uppercase;"/>
                </div>
                <div class="titI line_height">Municipio:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtUnidadGeografica2" type="text" value="@Model.UnidadGeografica2" disabled="disabled" maxlength="35" style="text-transform: uppercase;"/>
                </div>
            </div>
            <div class="div-3">
                <div class="titI line_height">Estado:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtUnidadGeografica1" type="text" value="@Model.UnidadGeografica1" disabled="disabled" maxlength="35" style="text-transform: uppercase;"/>
                </div>
                <div class="titI line_height">Codigo Postal:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtCodigoPostal" type="text" value="@Model.CodigoPostal" disabled="disabled" maxlength="5" style="text-transform: uppercase;" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);"/>
            </div>
                <input type="hidden" id="hdCodigoUbigeo" value="@Model.CodigoUbigeo"/>
        </div>
        </div>
        <div class="div-3">
            <div class="titAutoVertical">Dirección de Entrega en la Zona:</div>
        </div>
        <div class="border-wrapper_reg">
            <div class="div-3">
                <div class="titAutoVertical">(Autorizo entregar mi pedido en la siguiente dirección de mi zona.)</div>
            </div>
            <div class="div-3">
                <div class="titI">Dirección:</div>
                <div class="selectA borde_redondeado" style="width: 450px">
                    <input id="txtDireccionEntrega" type="text" disabled="disabled" style="width:450px;text-transform:uppercase;" maxlength="40" value="@Model.DireccionEntrega"  />
                </div>
            </div>
        </div>
        <div class="div-3">
            <div class="titAutoVertical">Referencia Familiar:</div>
        </div>
        <div class="border-wrapper_reg">
            <div class="div-3">
                <div class="titI">Nombres:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtNombreFamiliar" type="text" disabled="disabled"  maxlength="25" value="@Model.NombreFamiliar" style="text-transform: uppercase;" onkeypress="return FuncionesGenerales.ValidarSoloLetras(event);"/>
                </div>
                <div class="titI">Dirección:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtDireccionFamiliar" type="text" disabled="disabled" maxlength="35" value="@Model.DireccionFamiliar"  style="text-transform: uppercase;"/>
                </div>
            </div>
            <div class="div-3">
                <div class="titI line_height" style="width:700px; text-align:left;">
                    (Ingresar al menos uno de los dos teléfonos)
                </div>
            </div>
            <div class="div-3">
                <div class="titI_2">Teléfono referencia:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtTelefonoFamiliar" type="text" disabled="disabled" value="@Model.TelefonoFamiliar" maxlength="10" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);"/>
                </div>
                <div class="titI_2">Teléfono Celular:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtCelularFamiliar" type="text" disabled="disabled" value="@Model.CelularFamiliar" maxlength="10" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);"/>
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Tipo de Vinculo:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.TipoVinculoFamiliar, new SelectList(Model.ListaTipoVinculoFamiliar, "Codigo", "Descripcion"), "-- Seleccionar --", new { id = "ddlTipoVinculoFamiliar",disabled="disabled" })
                </div>
            </div>
        </div>
        <div class="div-3">
            <div class="titAutoVertical">Referencia no Familiar:</div>
        </div>
        <div class="border-wrapper_reg">
            <div class="div-3">
                <div class="titI">Nombres:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtNombreNoFamiliar" type="text" disabled="disabled" value="@Model.NombreNoFamiliar" maxlength="25"  style="text-transform: uppercase;" onkeypress="return FuncionesGenerales.ValidarSoloLetras(event);"/>
                </div>
                <div class="titI">Dirección:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtDireccionNoFamiliar" type="text" disabled="disabled" value="@Model.DireccionNoFamiliar"  maxlength="35" style="text-transform: uppercase;" onkeypress="return FuncionesGenerales.ValidarSoloLetras(event);"/>
                </div>
            </div>
            <div class="div-3">
                <div class="titI line_height" style="width:700px; text-align:left;">
                    (Ingresar al menos uno de los dos teléfonos)
                </div>
            </div>
            <div class="div-3">
                <div class="titI_2">Teléfono Residencia:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtTelefonoNoFamiliar" type="text" disabled="disabled" value="@Model.TelefonoNoFamiliar" maxlength="10" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);"/>
                </div>
                <div class="titI_2">Teléfono Celular:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtCelularNoFamiliar" type="text" disabled="disabled" value="@Model.CelularNoFamiliar" maxlength="10" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);"/>
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Tipo de Vinculo:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.TipoVinculoNoFamiliar, new SelectList(Model.ListaTipoVinculoNoFamiliar, "Codigo", "Descripcion"), "-- Seleccionar --", new { id = "ddlTipoVinculoNoFamiliar",disabled="disabled" })
                </div>
            </div>
        </div>
         <div class="div-3">
            <div class="titAuto">
                <div class="input_search">
                    <input id="btnRegresar" type="button" value="Regresar" />
                </div>
            </div>
        </div>
 </div>
  </div>       
}
else
{
<div class="wrap">
    <div class="container clearfix">
        <div class="div-3">
            <div class="titAutoVertical">Datos de la Inscripción:</div>
        </div>
        <div class="border-wrapper_reg">
            <div class="div-3">
                <div class="titI">Zona:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtZona" type="text" value="@Model.CodigoZona" disabled="disabled"/>
                </div>
                <div class="titI">Territorio:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtTerritorio" type="text" disabled="disabled" value="@Model.CodigoTerritorio" style="text-transform:uppercase;"  maxlength="9"/>
                </div>
                 <input type="hidden" id="hdTipoSolicitud" value="@Model.TipoSolicitud"/>
            </div>
            <div class="div-3" hidden="true">
                <div class="titI">Tipo de Contacto:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.TipoContacto, new SelectList(Model.ListaTipoContacto, "Codigo", "Descripcion"), "-- Seleccionar --", new { id = "ddlTipoContacto", disabled = "disabled" })
                </div>
            </div>
            <div class="div-3">
                <div class="titI_2">Codigo de Consultora: </div>
                <div class="selectA borde_redondeado">
                    <input id="txtCodigoConsultoraRecomienda" type="text" disabled="disabled" value="@Model.CodigoConsultoraRecomienda"  style="text-transform:uppercase;"/>
                </div>
                <div class="titI_2">Nombre Consultora: </div>
                <div class="selectA borde_redondeado">
                    <input id="txtNombreConsultoraRecomienda" type="text" disabled="disabled" value="@Model.NombreConsultoraRecomienda" style="text-transform: uppercase;"/>
                </div>
            </div>
        </div>
        <div class="div-3">
            <div class="titAutoVertical">Datos Personales de la Solicitante:</div>
        </div>
        <div class="border-wrapper_reg">
            <div class="div-3">
                <div class="titI">Primer Apellido:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtApellidoPaterno" type="text" disabled="disabled" value="@Model.ApellidoPaterno" maxlength="15"  style="text-transform: uppercase;" onkeypress="return FuncionesGenerales.ValidarSoloLetras(event);"/>
                </div>
                <div class="titI">Segundo Apellido:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtApellidoMaterno" type="text" disabled="disabled" value="@Model.ApellidoMaterno"  maxlength="15" style="text-transform: uppercase;" onkeypress="return FuncionesGenerales.ValidarSoloLetras(event);"/>
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Nombres:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtPrimerNombre" type="text" disabled="disabled" value="@Model.PrimerNombre" maxlength="15" style="text-transform: uppercase;" onkeypress="return FuncionesGenerales.ValidarSoloLetras(event);"/>
                </div>
                 <div class="titI_2">Número Documento Identidad:</div>
                @{
    var NumeroDocumento = Model.NumeroDocumento;
    if (Model.PaisID.Equals(12))//PR
    {
        NumeroDocumento = string.Format("*****{0}", Model.NumeroDocumento.Remove(0, 5));
    }
                    }
                <div class="selectA borde_redondeado">
                    <input id="txtNumeroDocumento" type="text" disabled="disabled" value="@NumeroDocumento" maxlength="11" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);"/>
                </div>
            </div>

            <div class="div-3">
                <div class="titI">Teléfono 1:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtTelefono1" type="text" disabled="disabled" value="@Model.Telefono" maxlength="10" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);"/>
                </div>
                <div class="titI">Teléfono 2:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtTelefono2" type="text" disabled="disabled" value="@Model.Celular" maxlength="10"  onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);"/>
                </div>
            </div>

               <div class="div-3">
                <div class="titI">Correo electrónico:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtCorreoElectronico" type="text"  disabled="disabled" value="@Model.CorreoElectronico" style="text-transform: uppercase;"/>
                </div>
                <div style="padding-top:8px;">
                    <table>
                        <tr>
                            <td> <input type="checkbox" id="chekCorreo" disabled="disabled" /></td>
                            <td><div style="color: #702789;font-size: 12px;">No tengo correo electrónico.</div></td>
                        </tr>
                    </table>      
                </div>
            </div>

            <div class="div-3"  hidden="true">
                <div class="titI_2">Fecha Nacimiento (DD/MM/AAAA):</div>
                <div class="selectA borde_redondeado" style="width: 50px; margin-right: 5px;">
                    @Html.DropDownListFor(model => model.DiaNacimiento, new SelectList(Model.ListaDiaNacimiento, "Valor", "Texto"), "----", new { id = "ddlDiaNacimiento", style = "width:50px", disabled = "disabled" })
                </div>
                <div class="selectA borde_redondeado" style="width: 100px; margin-right: 5px;">
                    @Html.DropDownListFor(model => model.MesNacimiento, new SelectList(Model.ListaMesNacimiento, "Valor", "Texto"), "------------", new { id = "ddlMesNacimiento", style = "width:100px", disabled = "disabled" })
                </div>
                <div class="selectA borde_redondeado" style="width: 68px;">
                    @Html.DropDownListFor(model => model.AnioNacimiento, new SelectList(Model.ListaAnioNacimiento, "Valor", "Texto"), "------", new { id = "ddlAnioNacimiento", style = "width:68px", disabled = "disabled" })
                </div>
                <div class="titI" style="margin-left: 5px; width: 120px;">Estado Civil:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.EstadoCivil, new SelectList(Model.ListaEstadoCivil, "Codigo", "Descripcion"), "-- Seleccionar --", new { id = "ddlEstadoCivil", disabled = "disabled" })
                </div>

            </div>
            <div class="div-3"  hidden="true">
                <div class="titI">Tipo de Documento Identidad:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.TipoDocumento, new SelectList(Model.ListaTipoDocumento, "Codigo", "Descripcion"), "-- Seleccionar --", new { id = "ddlTipoDocumento", disabled = "disabled" })
                </div>               
            </div>
            <div class="div-3"  hidden="true">
                <div class="titI">Nivel Educativo:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.NivelEducativo, new SelectList(Model.ListaNivelEducativo, "Codigo", "Descripcion"), "-- Seleccionar --", new { id = "ddlNivelEducativo", disabled = "disabled" })
                </div>
                <div class="titI"  hidden="true">¿Vendes otras marcas?</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.CodigoOtrasMarcas, new SelectList(Model.ListaOtrasMarcas, "Codigo", "Descripcion"), "-- Seleccionar --", new { id = "ddlOtrasMarcas", disabled = "disabled" })
                </div>
            </div>

        </div>
        <div class="div-3" hidden="true">
            <div class="titAutoVertical">Datos del Contacto:</div>
        </div>
        <div class="border-wrapper_reg" hidden="true">
            <div class="div-3">
                <div class="titI line_height" style="width:700px; text-align:left;">
                    (Ingresar al menos uno de los dos teléfonos)
                </div>
            </div>
            
         
        </div>

        <div class="div-3">
            <div class="titAutoVertical">Dirección de la Solicitante:</div>
        </div>
        <div class="border-wrapper_reg">
            <div class="div-3">
                <div class="titI">Dirección:</div>
                <div class="selectA borde_redondeado" style="width: 450px">
                    <input id="txtDireccionResidencia" type="text" disabled="disabled" maxlength="40" style="width:450px;text-transform:uppercase;" value="@Model.Direccion"  />
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Referencias:</div>
                <div class="selectA borde_redondeado" style="width: 450px">
                    <input id="txtReferencia" type="text"  disabled="disabled" maxlength="40"  style="width:450px;text-transform:uppercase;" value="@Model.Referencia" />
                </div>
            </div>

            <div class="div-3">
                <div class="titI line_height">Barrio:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtUnidadGeografica3" type="text"  value="@Model.UnidadGeografica3" disabled="disabled" maxlength="35" style="text-transform: uppercase;"/>
                </div>
                <div class="titI line_height">Municipio:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtUnidadGeografica2" type="text" value="@Model.UnidadGeografica2" disabled="disabled" maxlength="35" style="text-transform: uppercase;"/>
                </div>
            </div>
            <div class="div-3">
                <div class="titI line_height">Estado:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtUnidadGeografica1" type="text" value="@Model.UnidadGeografica1" disabled="disabled" maxlength="35" style="text-transform: uppercase;"/>
                </div>
                <div class="titI line_height">Codigo Postal:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtCodigoPostal" type="text" value="@Model.CodigoPostal" disabled="disabled" maxlength="5" style="text-transform: uppercase;" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);"/>
                </div>
                <input type="hidden" id="hdCodigoUbigeo" value="@Model.CodigoUbigeo"/>
            </div>
        </div>
        <div class="div-3">
            <div class="titAutoVertical">Dirección de Entrega en la Zona:</div>
        </div>
        <div class="border-wrapper_reg">
            <div class="div-3">
                <div class="titAutoVertical">(Autorizo entregar mi pedido en la siguiente dirección de mi zona.)</div>
        </div>
        <div class="div-3">
                <div class="titI">Dirección:</div>
                <div class="selectA borde_redondeado" style="width: 450px">
                    <input id="txtDireccionEntrega" type="text" disabled="disabled" style="width:450px;text-transform:uppercase;" maxlength="40" value="@Model.DireccionEntrega"  />
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Referencia:</div>
                <div class="selectA borde_redondeado" style="width: 450px">
                    <input id="txtReferenciaEntrega" type="text" disabled="disabled" style="width:450px;text-transform:uppercase;" maxlength="40" value="@Model.ReferenciaEntrega"  />
                </div>
            </div>
        </div>
        <div class="div-3" hidden="true">
            <div class="titAutoVertical">Referencia Familiar:</div>
        </div>
        <div class="border-wrapper_reg"  hidden="true">
            <div class="div-3">
                <div class="titI">Nombres:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtNombreFamiliar" type="text" disabled="disabled"  maxlength="25" value="@Model.NombreFamiliar" style="text-transform: uppercase;" onkeypress="return FuncionesGenerales.ValidarSoloLetras(event);"/>
                </div>
                <div class="titI">Dirección:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtDireccionFamiliar" type="text" disabled="disabled" maxlength="35" value="@Model.DireccionFamiliar"  style="text-transform: uppercase;"/>
                </div>
            </div>
            <div class="div-3">
                <div class="titI line_height" style="width:700px; text-align:left;">
                    (Ingresar al menos uno de los dos teléfonos)
                </div>
            </div>
            <div class="div-3">
                <div class="titI_2">Teléfono referencia:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtTelefonoFamiliar" type="text" disabled="disabled" value="@Model.TelefonoFamiliar" maxlength="10" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);"/>
                </div>
                <div class="titI_2">Teléfono Celular:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtCelularFamiliar" type="text" disabled="disabled" value="@Model.CelularFamiliar" maxlength="10" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);"/>
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Tipo de Vinculo:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.TipoVinculoFamiliar, new SelectList(Model.ListaTipoVinculoFamiliar, "Codigo", "Descripcion"), "-- Seleccionar --", new { id = "ddlTipoVinculoFamiliar", disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="div-3"  hidden="true">
            <div class="titAutoVertical">Referencia no Familiar:</div>
        </div>
        <div class="border-wrapper_reg"  hidden="true">
            <div class="div-3">
                <div class="titI">Nombres:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtNombreNoFamiliar" type="text" disabled="disabled" value="@Model.NombreNoFamiliar" maxlength="25"  style="text-transform: uppercase;" onkeypress="return FuncionesGenerales.ValidarSoloLetras(event);"/>
                </div>
                <div class="titI">Dirección:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtDireccionNoFamiliar" type="text" disabled="disabled" value="@Model.DireccionNoFamiliar"  maxlength="35" style="text-transform: uppercase;" onkeypress="return FuncionesGenerales.ValidarSoloLetras(event);"/>
                </div>
            </div>
            <div class="div-3">
                <div class="titI line_height" style="width:700px; text-align:left;">
                    (Ingresar al menos uno de los dos teléfonos)
                </div>
            </div>
            <div class="div-3">
                <div class="titI_2">Teléfono Residencia:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtTelefonoNoFamiliar" type="text" disabled="disabled" value="@Model.TelefonoNoFamiliar" maxlength="10" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);"/>
                </div>
                <div class="titI_2">Teléfono Celular:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtCelularNoFamiliar" type="text" disabled="disabled" value="@Model.CelularNoFamiliar" maxlength="10" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);"/>
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Tipo de Vinculo:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.TipoVinculoNoFamiliar, new SelectList(Model.ListaTipoVinculoNoFamiliar, "Codigo", "Descripcion"), "-- Seleccionar --", new { id = "ddlTipoVinculoNoFamiliar", disabled = "disabled" })
                </div>
            </div>
        </div>
         <div class="div-3">
            <div class="titAuto">
                <div class="input_search">
                    <input id="btnRegresar" type="button" value="Regresar" />
                </div>
            </div>
        </div>
    </div>
 </div>    
}        
    </div>


<div id="loadingScreen"></div>
