@*@model Portal.Consultoras.Web.Models.DetalleSolicitudModel
@{
    ViewBag.Title = "DetalleCreditoAR";
    Layout = "~/Views/Shared/_SACLayout.cshtml";
}
<script type="text/javascript">

    jQuery(document).ready(function () {
        $("#btnRegresar").click(function () {
            location.href = '@Url.Action("SolicitudCredito", "SolicitudCredito")';
        });
    });
</script>
<div class="wrap_cab">
    <div class="filtros">
        <div class="elements">
            <div class="div-2">
                <h1>Formulario de <span>Solicitud de Credito</span></h1>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="container clearfix">
        <div class="div-3">
            <div class="titAutoVertical">Datos de Inscripción:</div>
        </div>
        <div class="border-wrapper_reg">
            <div class="div-3">
                <div class="titI">Tipo Contacto:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.intTipoContacto, new SelectList(Model.listaTipoContactos, "intsecuencialTablaDetalle", "vchDescripcion"), "-- Seleccionar --", new { id = "ddlTipoContacto", disabled = "disabled" })
                </div>
                <div class="titI">Código Territorio:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.chrCodigoTerritorio, new SelectList(Model.listaTerritorios, "chrCodigo", "vchDescripcion"), "-- Seleccionar --", new { id = "ddlTerritorio", disabled = "disabled" })
                </div>
            </div>
            <div class="div-3">
                <div class="titI line_height">Código Consultora que Recomienda:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtCodConsultoraRefiere" type="text" value="@Model.vchCodigoConsultoraRecomienda" disabled="disabled" />
                </div>
                <div class="titI line_height">Nombre y Apellidos Consultora que Recomienda:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtNomConsultoraRefiere" type="text" value="@Model.vchNombreConsultoraRecomienda" disabled="disabled" />
                </div>
            </div>
        </div>
        <div class="div-3">
            <div class="titAutoVertical">Datos Personales de la Solicitante:</div>
        </div>
        <div class="border-wrapper_reg">
            <div class="div-3">
                <div class="titI">Apellido Paterno:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtPrimerApellido" type="text" value="@Model.vchApellidoPaterno" disabled="disabled" />
                </div>
                <div class="titI">Apellido Materno:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtSegundoApellido" type="text" value="@Model.vchApellidoMaterno" disabled="disabled" />
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Nombres:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtNombres" type="text" value="@Model.vchNombre" disabled="disabled" />
                </div>
                <div class="titI">Fecha Nacimiento (DD/MM/AAAA):</div>
                <div class="selectA borde_redondeado">
                    <input id="txtFechaNacimiento" type="text" value="@(Model.datFechaNacimiento == null ? string.Empty : Convert.ToDateTime(Model.datFechaNacimiento).ToString("dd/MM/yyyy"))" disabled="disabled" />
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Documento de Identidad:</div>
                <div class="selectA borde_redondeado">
                    <select id="ddlDocIdentidad" disabled="disabled">
                        <option value="">-- Seleccionar --</option>
                        <option value="0" selected="@(Model.intTipoDocumento == 0 ? "selected" : "")">DNI</option>
                    </select>
                </div>
                <div class="titI">Número Documento Identidad:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtNumeroDocIdentidad" type="text" value="@Model.vchNumeroDocumento" disabled="disabled" />
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Monotributarista:</div>
                <div class="titAuto">
                    <input id="chkMonotributarista" type="checkbox" value="@Model.chrMonotributarista" disabled="disabled" />
                </div>
                <div class="titI">Número de CUIT (XXYYYYYYYYZ):</div>
                <div class="selectA borde_redondeado">
                    <input id="txtNumeroCUIT" type="text" value="@Model.vchNumeroCUIT" disabled="disabled" />
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Estado Civil:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.intEstadoCivil, new SelectList(Model.listaEstadoCivil, "intsecuencialTablaDetalle", "vchDescripcion"), "-- Seleccionar --", new { id = "ddlEstadoCivil", disabled = "disabled" })
                </div>
                <div class="titI">Nivel Educativo:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.intNivelEducativo, new SelectList(Model.listaNivelEducativo, "intsecuencialTablaDetalle", "vchDescripcion"), "-- Seleccionar --", new { id = "ddlNivelEducativo", disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="div-3">
            <div class="titAutoVertical">Dirección de la Solicitante:</div>
        </div>
        <div class="border-wrapper_reg">
            <div class="div-3">
                <div class="titI line_height">Dirección de residencia (Avda,Biv,Calle):</div>
                <div class="selectA borde_redondeado">
                    <input id="txtDireccionResidencia" type="text" value="@Model.vchDireccion" disabled="disabled" />
                </div>
            </div>
            <div class="div-3">
                <div class="titI line_height">Número:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtNumeroResidencia" type="text" value="@Model.vchNumeroDireccion" disabled="disabled" />
                </div>
                <div class="titI line_height">Departamento:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtDepartamentoResidencia" type="text" value="@Model.vchDepartamento" disabled="disabled" />
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Referencia:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtReferencia" type="text" value="@Model.vchReferencia" disabled="disabled" />
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Barrio:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtMunicipio" type="text" value="@Model.vchBarrio" disabled="disabled" />
                </div>
                <div class="titI">Localidad / Departamento:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtCiudad" type="text" value="@Model.vchLocalidad" disabled="disabled" />
                </div>
            </div>
            <div class="div-3">
                <div class="titI line_height">Código Postal:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtCodigoPostal" type="text" value="@Model.vchCodigoPostal" disabled="disabled" />
                </div>
                <div class="titI line_height">Provincia:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtProvincia" type="text" value="@Model.vchProvincia" disabled="disabled" />
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Número teléfono residencia:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtTelefono1" type="text" value="@Model.vchTelefono" disabled="disabled" />
                </div>
                <div class="titI">Número teléfono celular:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtTelefono2" type="text" value="@Model.vchCelular" disabled="disabled" />
                </div>
            </div>
            <div class="div-3">
                <div class="titI line_height">¿Es consultora de empresa de venta directa?:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.intCodigoOtrasMarcas, new SelectList(Model.listaOtrasMarcas, "intsecuencialTablaDetalle", "vchDescripcion"), "-- Seleccionar --", new { id = "ddlOtrasMarcas", disabled = "disabled" })
                </div>
                <div class="titI">Correo Electrónico (E-Mail):</div>
                <div class="selectA borde_redondeado">
                    <input id="txtCorreoElectronico" type="text" value="@Model.vchCorreoElectronico" disabled="disabled" />
                </div>
                <div class="titAuto">
                    @if (string.IsNullOrEmpty(Model.vchCorreoElectronico))
                    {
                        <input type="checkbox" disabled="disabled" checked="checked" />
                    }
                    else
                    {
                        <input type="checkbox" disabled="disabled" />
                    }
                    <span>No tengo Correo electrónico</span>
                </div>
            </div>
        </div>
        <div class="div-3">
            <div class="titAutoVertical">Referencia Familiar</div>
        </div>
        <div class="border-wrapper_reg">
            <div class="div-3">
                <div class="titI">Nombres:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtNombresFamiliar" type="text" value="@Model.referenciaFamiliar.vchNombre" disabled="disabled" />
                </div>
                <div class="titI">Dirección:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtDireccionFamiliar" type="text" value="@Model.referenciaFamiliar.vchDireccion" disabled="disabled" />
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Teléfono:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtTelefonoFamiliar" type="text" value="@Model.referenciaFamiliar.vchTelefono" disabled="disabled" />
                </div>
                <div class="titI">Tipo de Vinculo:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.referenciaFamiliar.intTipoVinculo, new SelectList(Model.listaTipoVinculos, "intsecuencialTablaDetalle", "vchDescripcion"), "-- Seleccionar --", new { id = "ddlTpVinculoFamiliar", disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="div-3">
            <div class="titAutoVertical">Referencia no Familiar</div>
        </div>
        <div class="border-wrapper_reg">
            <div class="div-3">
                <div class="titI">Nombres:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtNombresNoFamiliar" type="text" value="@Model.referenciaNoFamiliar.vchNombre" disabled="disabled" />
                </div>
                <div class="titI">Dirección:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtDireccionNoFamiliar" type="text" value="@Model.referenciaNoFamiliar.vchDireccion" disabled="disabled" />
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Teléfono:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtTelefonoResidencia" type="text" value="@Model.referenciaNoFamiliar.vchTelefono" disabled="disabled" />
                </div>
                <div class="titI">Tipo de Vinculo:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.referenciaNoFamiliar.intTipoVinculo, new SelectList(Model.listaTipoVinculos2, "intsecuencialTablaDetalle", "vchDescripcion"), "-- Seleccionar --", new { id = "ddlTpVinculoNoFamiliar", disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="div-3">
            <div class="titAutoVertical">Datos Garante Fiador</div>
        </div>
        <div class="border-wrapper_reg">
            <div class="div-3">
                <div class="titI">Nombres:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtNombresFiador" type="text" value="@Model.referenciaFiador.vchNombre" disabled="disabled" />
                </div>
                <div class="titI">Dirección:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtDireccionFiador" type="text" value="@Model.referenciaFiador.vchDireccion" disabled="disabled" />
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Teléfono:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtTelefonoFiador" type="text" value="@Model.referenciaFiador.vchTelefono" disabled="disabled" />
                </div>
                <div class="titI">Número:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtNumeroFiador" type="text" value="@Model.referenciaFiador.vchNumeroDocumento" disabled="disabled" />
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Tipo de Vinculo:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.referenciaFiador.intTipoVinculo, new SelectList(Model.listaTipoVinculos3, "intsecuencialTablaDetalle", "vchDescripcion"), "-- Seleccionar --", new { id = "ddlTpVinculoFiador", disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="div-3">
            <div class="titAutoVertical">Dirección de Entrega en la Zona: (Autorizo entregar mi pedido en la siguiente dirección de mi zona.)</div>
        </div>
        <div class="border-wrapper_reg">
            <div class="div-3">
                <div class="titI">Dirección de residencia (Avda/Biv/Calle):</div>
                <div class="selectA borde_redondeado">
                    <input id="txtDireccionEntrega" type="text" value="@Model.vchDireccionEntrega" disabled="disabled" />
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Número:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtNumeroEntrega" type="text" value="@Model.vchNumeroDireccionEntrega" disabled="disabled" />
                </div>
                <div class="titI">Departamento:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtDepartamentoEntrega" type="text" value="@Model.vchDepartamentoEntrega" disabled="disabled" />
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Referencia:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtReferenciaEntrega" type="text" value="@Model.vchReferenciaEntrega" disabled="disabled" />
                </div>
            </div>
             <div class="div-3">
                <div class="titI">Localidad / Departamento:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtLocalidadEntrega" type="text" value="@Model.vchLocalEntrega" disabled="disabled" />
                </div>
                <div class="titI">Código postal:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtCodigoPostalEntrega" type="text" value="@Model.vchCodigoPostalEntrega" disabled="disabled" />
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Número teléfono residencia:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtTelefonoEntrega" type="text" value="@Model.vchTelefonoEntrega" disabled="disabled" />
                </div>
            </div>
        </div>
        <div class="div-3">
            <div class="titAuto">
                <div class="input_search">
                    <input id="btnRegresar" type="button" value="Regresar" />
                </div>
            </div>
        </div>
    </div>
</div>
<div id="loadingScreen"></div>*@
