@model Portal.Consultoras.Web.Models.SolicitudCreditoModel
@{
    ViewBag.Title = "DetalleCreditoVE"; 
}
<script type="text/javascript">

    jQuery(document).ready(function () {
        $("#btnRegresar").click(function () {
            location.href = '@Url.Action("SolicitudCredito", "SolicitudCredito")';
        });
    });
</script>
<div class="wrap_cab">
    <div class="filtros">
        <div class="elements">
            <div class="div-2">
                @if (Model.TipoSolicitud == "INS")
                {
                    <h1>Formulario de <span>Solicitud de Crédito</span></h1>
                }
                else
                {
                    <h1>Formulario de <span>Actualización de Datos</span></h1>
                }
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="container clearfix">
        <div class="div-3">
            <div class="titAutoVertical">Datos de la Inscripción:</div>
        </div>
        <div class="border-wrapper_reg">
            <div class="div-3">
                <div class="titI">Zona:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtZona" type="text" value="@Model.CodigoZona" disabled="disabled"/>
                </div>
                <div class="titI">Territorio:</div>
                <div class="selectA borde_redondeado" style="width: 50px;">
                    <label id="lblInicialTerritorio">@Model.CodigoZona.Substring(0, 2)@Model.CodigoZona.Trim()</label>
                </div>
                <div class="selectA borde_redondeado" style="width: 168px;">
                    <input id="txtTerritorio" type="text" value="@Model.CodigoTerritorio" style="width: 168px" maxlength="7" disabled="disabled"/>
                </div>
                <input type="hidden" id="hdTipoSolicitud" value="@Model.TipoSolicitud"/>
            </div>
            <div class="div-3">
                <div class="titI">Tipo de Contacto:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.TipoContacto, new SelectList(Model.ListaTipoContacto, "Codigo", "Descripcion"), "-- Seleccionar --", new { id = "ddlTipoContacto", disabled = "disabled" })
                </div>
            </div>
            <div class="div-3">
                <div class="titI_2">Codigo de Consultora que Recomienda</div>
                <div class="selectA borde_redondeado">
                    <input id="txtCodigoConsultoraRecomienda" type="text" value="@Model.CodigoConsultoraRecomienda" disabled="disabled"/>
                </div>
                <div class="titI_2">Nombre Consultora que recomienda</div>
                <div class="selectA borde_redondeado">
                    <input id="txtNombreConsultoraRecomienda" type="text" value="@Model.NombreConsultoraRecomienda" disabled="disabled" style="text-transform: uppercase;"/>
                </div>
            </div>
        </div>
        <div class="div-3">
            <div class="titAutoVertical">Datos Principales de la Solicitante:</div>
        </div>
        <div class="border-wrapper_reg">
            <div class="div-3">
                <div class="titI">Primer Apellido:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtApellidoPaterno" type="text" value="@Model.ApellidoPaterno" maxlength="15" style="text-transform: uppercase;" disabled="disabled"/>
                </div>
                <div class="titI">Segundo Apellido:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtApellidoMaterno" type="text" value="@Model.ApellidoMaterno" maxlength="15" style="text-transform: uppercase;" disabled="disabled"/>
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Primer Nombre:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtPrimerNombre" type="text" value="@Model.PrimerNombre" maxlength="15" style="text-transform: uppercase;" disabled="disabled"/>
                </div>
                <div class="titI">Segundo Nombre:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtSegundoNombre" type="text" value="@Model.SegundoNombre" maxlength="15" style="text-transform: uppercase;" disabled="disabled"/>
                </div>
            </div>
            <div class="div-3">
                <div class="titI_2">Fecha Nacimiento (DD/MM/AAAA):</div>
                <div class="selectA borde_redondeado" style="width: 50px;">
                    @Html.DropDownListFor(model => model.DiaNacimiento, new SelectList(Model.ListaDiaNacimiento, "Valor", "Texto"), "----", new { id = "ddlDiaNacimiento", style = "width:50px", disabled = "disabled" })
                </div>
                <div class="selectA borde_redondeado" style="width: 100px;">
                    @Html.DropDownListFor(model => model.MesNacimiento, new SelectList(Model.ListaMesNacimiento, "Valor", "Texto"), "------------", new { id = "ddlMesNacimiento", style = "width:100px", disabled = "disabled" })
                </div>
                <div class="selectA borde_redondeado" style="width: 68px;">
                    @Html.DropDownListFor(model => model.AnioNacimiento, new SelectList(Model.ListaAnioNacimiento, "Valor", "Texto"), "------", new { id = "ddlAnioNacimiento", style = "width:68px", disabled = "disabled" })
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Tipo de Documento:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.TipoDocumento, new SelectList(Model.ListaTipoDocumento, "Codigo", "Descripcion"), "-- Seleccionar --", new { id = "ddlTipoDocumento", disabled = "disabled" })
                </div>
                <div class="titI_2">Número cédula identidad:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtNumeroDocumento" type="text" value="@Model.NumeroDocumento" maxlength="8" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" disabled="disabled"/>
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Estado Civil:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.EstadoCivil, new SelectList(Model.ListaEstadoCivil, "Codigo", "Descripcion"), "-- Seleccionar --", new { id = "ddlEstadoCivil", disabled = "disabled" })
                </div>
                <div class="titI">Nivel Educativo:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.NivelEducativo, new SelectList(Model.ListaNivelEducativo, "Codigo", "Descripcion"), "-- Seleccionar --", new { id = "ddlNivelEducativo", disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="div-3">
            <div class="titAutoVertical">Dirección de la Solicitante:</div>
        </div>
        <div class="border-wrapper_reg">
            <div class="div-3">
                <div class="titI line_height">Estado:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtUnidadGeografica1" type="text" value="@Model.UnidadGeografica1" disabled="disabled" maxlength="35" style="text-transform: uppercase;"/>
                </div>
                <div class="titI line_height">Municipio:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtUnidadGeografica2" type="text" value="@Model.UnidadGeografica2" disabled="disabled" maxlength="35" style="text-transform: uppercase;"/>
                </div>
            </div>
            <div class="div-3">
                <div class="titI line_height">Parroquia:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtUnidadGeografica3" type="text" value="@Model.UnidadGeografica3" disabled="disabled" maxlength="35" style="text-transform: uppercase;"/>
                </div>
                <input type="hidden" id="hdCodigoUbigeo" value="@Model.CodigoUbigeo"/>
            </div>
            <div class="div-3">
                <div class="titI line_height" style="width:700px; text-align:left;">
                    Dirección (Av. ó Calle/ Cassa ó Edificio/ Urbanización ó Sector/Nro./Ciudad/Referencia)
                </div>
            </div>
            <div class="div-3">
                <div class="selectA borde_redondeado" style=" width:145px;">
                    @Html.DropDownListFor(model => model.AvenidaCalleCodigo, new SelectList(Model.ListaAvenidaCalle, "Valor", "Texto"), new { id = "ddlAvenidaCalle", style = "width:145px;", disabled = "disabled" })
                </div>
                <div class="selectA borde_redondeado">
                    <input id="txtAvenidaCalle" type="text" value="@Model.AvenidaCalle" maxlength="33" style="text-transform: uppercase;" disabled="disabled"/>
                </div>
                <div class="selectA borde_redondeado" style=" width:145px;">
                    @Html.DropDownListFor(model => model.CasaEdificioCodigo, new SelectList(Model.ListaCasaEdificio, "Valor", "Texto"), new { id = "ddlCasaEdificio", style = "width:145px;", disabled = "disabled" })
                </div>
                <div class="selectA borde_redondeado">
                    <input id="txtCasaEdificio" type="text" value="@Model.CasaEdificio" maxlength="20" style="text-transform: uppercase;" disabled="disabled"/>
                </div>
            </div>
            <div class="div-3">
                <div class="selectA borde_redondeado" style=" width:145px;">
                    @Html.DropDownListFor(model => model.UrbanizacionSectorCodigo, new SelectList(Model.ListaUrbanizacionSector, "Valor", "Texto"), new { id = "ddlUrbanizacionSector", style = "width:145px;", disabled = "disabled" })
                </div>
                <div class="selectA borde_redondeado">
                    <input id="txtUrbanizacionSector" type="text" value="@Model.UrbanizacionSector" maxlength="30" style="text-transform: uppercase;" disabled="disabled"/>
                </div>
                <div class="selectA borde_redondeado" style=" width:145px;">
                    @Html.DropDownListFor(model => model.ApartamentoCasaCodigo, new SelectList(Model.ListaApartamentoCasa, "Valor", "Texto"), new { id = "ddlApartamentoCasa", style = "width:145px;", disabled = "disabled" })
                </div>
                <div class="selectA borde_redondeado">
                    <input id="txtApartamentoCasa" type="text" value="@Model.ApartamentoCasa" maxlength="10" style="text-transform: uppercase;" disabled="disabled"/>
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Ciudad</div>
                <div class="selectA borde_redondeado">
                    <input id="txtCiudadSolicitante" type="text" value="@Model.CiudadSolicitante" maxlength="25" style="text-transform: uppercase;" disabled="disabled"/>
                </div>
            </div>
            <div class="div-3">
                <div class="titI_2">Número teléfono residencia:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtTelefono" type="text" value="@Model.Telefono" maxlength="11" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" disabled="disabled"/>
                </div>
                <div class="titI_2">Número teléfono celular:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtCelular" type="text" value="@Model.Celular" maxlength="11" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" disabled="disabled"/>
                </div>
            </div>
            <div class="div-3">
                <div class="titI_2 line_height">¿Es consultora de empresa de venta directa?:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.CodigoOtrasMarcas, new SelectList(Model.ListaOtrasMarcas, "Codigo", "Descripcion"), "-- Seleccionar --", new { id = "ddlOtrasMarcas", disabled = "disabled" })
                </div>
                <div class="titI_2">Correo electrónico  (e-Mail):</div>
                <div class="selectA borde_redondeado">
                    <input id="txtCorreoElectronico" type="text" value="@Model.CorreoElectronico" maxlength="100" style="text-transform: uppercase;" disabled="disabled"/>
                </div>
            </div>
        </div>
        <div class="div-3">
            <div class="titAutoVertical">Dirección de Entrega en la Zona</div>
        </div>
        <div class="border-wrapper_reg">
            <div class="div-3">
                <div class="titI line_height" style="width:700px; text-align:left;">
                    Dirección (Av. ó Calle/ Cassa ó Edificio/ Urbanización ó Sector/Nro./Ciudad/Referencia)
                </div>
            </div>
            <div class="div-3">
                <div class="selectA borde_redondeado" style=" width:145px;">
                    @Html.DropDownListFor(model => model.AvenidaCalleEntregaCodigo, new SelectList(Model.ListaAvenidaCalle, "Valor", "Texto"), new { id = "ddlAvenidaCalleEntrega", style = "width:145px;", disabled = "disabled" })
                </div>
                <div class="selectA borde_redondeado">
                    <input id="txtAvenidaCalleEntrega" type="text" value="@Model.AvenidaCalleEntrega" maxlength="33" style="text-transform: uppercase;", disabled="disabled"/>
                </div>
                <div class="selectA borde_redondeado" style=" width:145px;">
                    @Html.DropDownListFor(model => model.CasaEdificioEntregaCodigo, new SelectList(Model.ListaCasaEdificio, "Valor", "Texto"), new { id = "ddlCasaEdificioEntrega", style = "width:145px;", disabled = "disabled" })
                </div>
                <div class="selectA borde_redondeado">
                    <input id="txtCasaEdificioEntrega" type="text" value="@Model.CasaEdificioEntrega" maxlength="20" style="text-transform: uppercase;", disabled="disabled"/>
                </div>
            </div>
            <div class="div-3">
                <div class="selectA borde_redondeado" style=" width:145px;">
                    @Html.DropDownListFor(model => model.UrbanizacionSectorEntregaCodigo, new SelectList(Model.ListaUrbanizacionSector, "Valor", "Texto"), new { id = "ddlUrbanizacionSectorEntrega", style = "width:145px;", disabled = "disabled" })
                </div>
                <div class="selectA borde_redondeado">
                    <input id="txtUrbanizacionSectorEntrega" type="text" value="@Model.UrbanizacionSectorEntrega" maxlength="30" style="text-transform: uppercase;" disabled="disabled"/>
                </div>
                <div class="selectA borde_redondeado" style=" width:145px;">
                    @Html.DropDownListFor(model => model.ApartamentoCasaEntregaCodigo, new SelectList(Model.ListaApartamentoCasa, "Valor", "Texto"), new { id = "ddlApartamentoCasaEntrega", style = "width:145px;", disabled = "disabled" })
                </div>
                <div class="selectA borde_redondeado">
                    <input id="txtApartamentoCasaEntrega" type="text" value="@Model.ApartamentoCasaEntrega" maxlength="10" style="text-transform: uppercase;" disabled="disabled"/>
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Ciudad:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtCiudadEntrega" type="text" value="@Model.CiudadEntrega" maxlength="25" style="text-transform: uppercase;" disabled="disabled"/>
                </div>  
            </div>
            <div class="div-3">
                <div class="titI_2">Número de teléfono entrega 1:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtTelefonoEntrega" type="text" value="@Model.TelefonoEntrega" maxlength="11" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" disabled="disabled"/>
                </div>
                <div class="titI_2">Número de teléfono entrega 2:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtCelularEntrega" type="text" value="@Model.CelularEntrega" maxlength="11" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" disabled="disabled"/>
                </div>
            </div>
        </div>
        <div class="div-3">
            <div class="titAutoVertical">Referencia Familiar</div>
        </div>
        <div class="border-wrapper_reg">
            <div class="div-3">
                <div class="titI">Apellidos:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtApellidoFamiliar" type="text" value="@Model.ApellidoFamiliar" maxlength="25" style="text-transform: uppercase;" disabled="disabled"/>
                </div>
                <div class="titI">Nombres:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtNombreFamiliar" type="text" value="@Model.NombreFamiliar" maxlength="25" style="text-transform: uppercase;" disabled="disabled"/>
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Dirección:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtDireccionFamiliar" type="text" value="@Model.DireccionFamiliar" maxlength="35" style="text-transform: uppercase;" disabled="disabled"/>
                </div>
            </div>
            <div class="div-3">
                <div class="titI_2">Número de teléfono referencia 1:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtTelefonoFamiliar" type="text" value="@Model.TelefonoFamiliar" maxlength="11" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" disabled="disabled"/>
                </div>
                <div class="titI_2">Número de teléfono referencia 2:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtCelularFamiliar" type="text" value="@Model.CelularFamiliar" maxlength="11" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" disabled="disabled"/>
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Tipo de Vinculo:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.TipoVinculoFamiliar, new SelectList(Model.ListaTipoVinculoFamiliar, "Codigo", "Descripcion"), "-- Seleccionar --", new { id = "ddlTipoVinculoFamiliar", disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="div-3">
            <div class="titAutoVertical">Referencia no Familiar</div>
        </div>
        <div class="border-wrapper_reg">
            <div class="div-3">
                <div class="titI">Apellidos:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtApellidoNoFamiliar" type="text" value="@Model.ApellidoNoFamiliar" maxlength="25" style="text-transform: uppercase;" disabled="disabled"/>
                </div>
                <div class="titI">Nombres:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtNombreNoFamiliar" type="text" value="@Model.NombreNoFamiliar" maxlength="25" style="text-transform: uppercase;" disabled="disabled"/>
                </div>
            </div>
            <div class="div-3">
                <div class="titI_2">Número de teléfono referencia 1:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtTelefonoNoFamiliar" type="text" value="@Model.TelefonoNoFamiliar" maxlength="11" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" disabled="disabled"/>
                </div>
                <div class="titI_2">Número de teléfono referencia 2:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtCelularNoFamiliar" type="text" value="@Model.CelularNoFamiliar" maxlength="11" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" disabled="disabled"/>
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Tipo de Vinculo:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.TipoVinculoNoFamiliar, new SelectList(Model.ListaTipoVinculoNoFamiliar, "Codigo", "Descripcion"), "-- Seleccionar --", new { id = "ddlTipoVinculoNoFamiliar", disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="div-3">
            <div class="titAutoVertical">Datos del Fiador</div>
        </div>
        <div class="border-wrapper_reg">
            <div class="div-3">
                <div class="titI">Apellidos:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtApellidoAval" type="text" value="@Model.ApellidoPaternoAval" maxlength="25" style="text-transform: uppercase;" disabled="disabled"/>
                </div>
                <div class="titI">Nombres:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtNombreAval" type="text" value="@Model.PrimerNombreAval" maxlength="25" style="text-transform: uppercase;" disabled="disabled"/>
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Dirección:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtDireccionAval" type="text" value="@Model.DireccionAval" maxlength="35" style="text-transform: uppercase;" disabled="disabled"/>
                </div>
            </div>
            <div class="div-3">
                <div class="titI_2">Número de teléfono fiador:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtTelefonoAval" type="text" value="@Model.TelefonoAval" maxlength="11" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" disabled="disabled"/>
                </div>
                <div class="titI">Tipo de Documento:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.TipoDocumentoAval, new SelectList(Model.ListaTipoDocumento, "Codigo", "Descripcion"), "-- Seleccionar --", new { id = "ddlTipoDocumentoAval", disabled = "disabled" })
                </div>
            </div>
            <div class="div-3">
                <div class="titI_2">Número cédula identidad:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtNumeroDocumentoAval" type="text" value="@Model.NumeroDocumentoAval" maxlength="8" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" disabled="disabled"/>
                </div>
                <div class="titI">Tipo de Vinculo:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.TipoVinculoAval, new SelectList(Model.ListaTipoVinculoAval, "Codigo", "Descripcion"), "-- Seleccionar --", new { id = "ddlTipoVinculoAval", disabled = "disabled" })
                </div>
            </div>
        </div>
        @if (Model.TipoSolicitud == "INS")
        {
            <div class="div-3">
                <div class="titAutoVertical">Ingreso de Metas de Consultoras</div>
            </div>
            <div class="border-wrapper_reg">
                <div class="div-3">
                    <div class="titI">Monto de Meta Mínimo</div>
                    <div class="selectA borde_redondeado">
                        <input id="txtMontoMeta" type="text" value="@Model.MontoMeta" maxlength="25" disabled="disabled"/>
                    </div>
                    <div class="titI">Tipo de Meta</div>
                    <div class="selectA borde_redondeado">
                        @Html.DropDownListFor(model => model.TipoMeta, new SelectList(Model.ListaTipoMeta, "CodigoMeta", "Descripcion"), "-- Seleccionar --", new { id = "ddlTipoMeta", disabled = "disabled" })
                    </div>
                </div>
                <div class="div-3">
                    <div class="titI">Descripción</div>
                    <div class="selectA borde_redondeado">
                        <input id="txtDescripcionMeta" type="text" value="@Model.DescripcionMeta" maxlength="50" style="text-transform: uppercase;" disabled="disabled"/>
                    </div>
                </div>
            </div>
        }

        <div class="div-3">
            <div class="titAuto">
                <div class="input_search">
                    <input id="btnRegresar" type="button" value="Regresar" />
                </div>
            </div>
        </div>
    </div>
</div>
<div id="loadingScreen"></div>