@model Portal.Consultoras.Web.Models.OfertaNuevaModel
@{
    ViewBag.Title = "Pack de Ofertas para Consultora Nueva";
}
<script src="@Url.Content("~/Scripts/fileuploader.js")" type="text/javascript"></script>
<script type="text/javascript">
    var isoPAIS = "";

    $(document).unbind('keydown').bind('keydown', function (event) {
        var doPrevent = false;
        if (event.keyCode === 8) {
            var d = event.srcElement || event.target;
            if ((d.tagName.toUpperCase() === 'INPUT' && (d.type.toUpperCase() === 'TEXT' || d.type.toUpperCase() === 'PASSWORD'))
                 || d.tagName.toUpperCase() === 'TEXTAREA') {
                doPrevent = d.readOnly || d.disabled;
            }
            else {
                doPrevent = true;
            }
        }
        if (doPrevent) {
            event.preventDefault();
        }
    });

    jQuery(document).ready(function () {
        $(".qq-upload-list").css("display", "none");

        fnGrilla();
        $('#DialogPackOfertas').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 750,
            height: 500,
            draggable: true,
            title: ""
        });
        $('#DialogOfertasNueva').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 850,
            height: 620,
            draggable: true,
            title: "Registro / Edición Ofertas para Consultoras Nuevas",
            buttons:
            {
                "Guardar": function () {
                    var vMessage = "";
                    if (jQuery.trim($('#txtCampaniaInicio').val()) == "")
                        vMessage += "- Debe ingresar una Campaña Inicio.\n";
                    if (jQuery.trim($('#txtCampaniaInicio').val()) != "" && jQuery.trim($('#txtCampaniaFin').val()) != "") {
                        if (parseInt(jQuery.trim($('#txtCampaniaInicio').val()).substring(0,4)) !==
                            parseInt(jQuery.trim($('#txtCampaniaFin').val()).substring(0, 4)))
                            vMessage += "- La Campaña Inicio y Fin no presentan el mismo periodo Anual.\n";
                        else if (parseInt(jQuery.trim($("#txtCampaniaInicio").val())) > parseInt(jQuery.trim($("#txtCampaniaFin").val())))
                            vMessage += "- La Campaña Fin debe ser mayor o igual a la Campaña Inicio.\n";
                    }
                    if (jQuery.trim($('#txtNumeroPedido').val()) == "")
                        vMessage += "- Debe ingresar el Número de Pedido.\n";
                    if (jQuery.trim($("#txtCUV").val()) == "")
                        vMessage += "- Debe ingresar un número de CUV.\n";
                    if (jQuery.trim($("#txtDescripcion").val()) == "")
                        vMessage += "- Debe ingresar una descripción al producto.\n";
                    if (jQuery.trim($("#txtPrecioNormal").val()) == "" || jQuery.trim($("#txtPrecioParaTi").val()) == "")
                        vMessage += "- Debe ingresar los precios de la Oferta.\n";
                    else {
                        if (isNaN(jQuery.trim($("#txtPrecioNormal").val())) || isNaN(jQuery.trim($("#txtPrecioParaTi").val())))
                            vMessage += "- Debe ingresar valores correctos en Precio Normal y/o Precio Para Ti.\n";
                    }
                    if (jQuery.trim($('#txtGanaHasta').val()) == "")
                        vMessage += "- Debe ingresar el Monto de Gana Hasta.\n";

                    if (jQuery.trim($("#txtUnidadesPermitidas").val()) == "")
                        vMessage += "- Debe ingresar una Unidad Permitida.\n";
                    else if (parseInt($("#txtUnidadesPermitidas").val()) <= 0)
                        vMessage += "- Debe ingresar cantidad mayor a cero como Unidad Permitida.\n";
                    if (jQuery.trim($("#imagenProducto01").val()) == "" &&
                        jQuery.trim($("#imagenProducto02").val()) == "" &&
                        jQuery.trim($("#imagenProducto03").val()) == "")
                        vMessage += "- Debe adjuntar al menos una imagen.\n";

                    if (vMessage != "") {
                        alert(vMessage);
                        return false;
                    }
                    else {
                        waitingDialog({});
                        var metodo = '';
                        var items;
                        if ($("#hdAccion").val() == "0") { // Cuando Registra
                            if (jQuery.trim($('#txtCampaniaFin').val()) == "") {
                                metodo = 'ValidarOfertasNuevas';
                                items = {
                                    vPaisID: $('#ddlPais').val(),
                                    vCodigoCampania: $('#txtCampaniaInicio').val(),
                                    vCUV: $('#txtCUV').val()
                                };
                            }
                        }
                        else { // Cuando Actualiza
                            metodo = 'ValidarUnidadesPermitidas';
                            items = {
                                vPaisID: $('#ddlPais').val(),
                                vCodigoCampania: $('#txtCampaniaInicio').val(),
                                vCUV: $('#txtCUV').val(),
                                vUnidadesActual: $("#txtUnidadesPermitidas").val()
                            };
                        }

                        if (metodo !== '') {
                            jQuery.ajax({
                                type: 'POST',
                                url: baseUrl + 'OfertaNueva/' + metodo,
                                dataType: 'json',
                                contentType: 'application/json; charset=utf-8',
                                data: JSON.stringify(items),
                                async: true,
                                success: function (data) {
                                    if (checkTimeout(data)) {
                                        if (data.success == true) {
                                            GuardarOfertasNuevas();
                                        }
                                        else {
                                            closeWaitingDialog();
                                            alert(data.message);
                                        }
                                    }
                                },
                                error: function (data, error) {
                                    if (checkTimeout(data)) {
                                        closeWaitingDialog();
                                        alert(data.message);
                                    }
                                }
                            });
                        }
                        else {
                            GuardarOfertasNuevas();
                        }
                    }
                },
                "Cancelar": function () {
                    $(this).dialog('close');
                }
            }
        });

        $("#ddlPais").change(function () {
            var Id = $(this).val();
            if (Id != "") {
                waitingDialog({});
                $.ajaxSetup({ cache: false });
                $.getJSON(baseUrl + 'BaseAdm/ObtenerCampaniasPorPais', { PaisID: Id == "" ? 0 : Id }, function (data) {
                    if (checkTimeout(data)) {
                        var ddlCampania = $("#ddlCampania");

                        if (Id != "") {
                            if (data.lista.length > 0) {
                                for (var item in data.lista) {
                                    if (data.lista.hasOwnProperty(item)) {
                                        ddlCampania.append($('<option/>', {
                                            value: data.lista[item].CampaniaID,
                                            text: data.lista[item].Codigo
                                        }));
                                    }
                                }
                            }
                        }
                        closeWaitingDialog();
                    }
                });
                $.getJSON(baseUrl + 'OfertaNueva/ObtenerISOPais', { paisID: Id }, function (data) {
                    isoPAIS = data.ISO;
                });
                jQuery("#list").jqGrid("clearGridData");
            } else {
                var ddlCampania = $("#ddlCampania");
                ddlCampania.empty();
                ddlCampania.append($('<option/>', {
                    value: "",
                    text: "-- Seleccionar --"
                }));
                jQuery("#list").jqGrid("clearGridData");
            }
        });
        $('#txtCampaniaInicio').keyup(function (evt) {
            var theEvent = evt || window.event;
            var keycode = theEvent.keyCode || theEvent.which;
            
            key = $.trim(this.value);
            var regex = /[0-9]/;
            if (!regex.test(key) || ($(this).is(':disabled') || $(this).attr("readonly"))) {
                theEvent.returnValue = false;
                if (theEvent.preventDefault) theEvent.preventDefault();
            }
            else {
                var cuv = $.trim($('#txtCUV').val());
                if (key.length === 2 && keycode != 8 && keycode != 46) {
                    var fecha = new Date();
                    key = fecha.getFullYear().toString() + key;
                }
                if (key.length === 6 && cuv.length === 5)
                    BuscarByCUVCampaniaID(cuv, key);
            }
        });
        $('#txtCampaniaInicio').blur(function (e) {
            var val = this.value.replace(/[^0-9]/mg, "");
            if (val.length === 2) {
                var fecha = new Date();
                val = fecha.getFullYear().toString() + val;
            }
            if (val.length !== 6) {
                $('#hdCampaniaTemp').val('')
                $("#txtPrecioNormal").val('');
                $("#txtDescripcion").val('');
            }
            return $(this).val(val);
        });
        $('#txtCampaniaFin').keyup(function (evt) {
            var theEvent = evt || window.event;
            key = $.trim(this.value);
            var regex = /[0-9]/;
            if (!regex.test(key)) {
                theEvent.returnValue = false;
                if (theEvent.preventDefault) theEvent.preventDefault();
            }
        });
        $('#txtCampaniaFin').blur(function (e) {
            var val = this.value.replace(/[^0-9]/mg, "");
            if (val.length === 2) {
                var fecha = new Date();
                val = fecha.getFullYear().toString() + val;
            }
            if (val.length < 6)
                val = "";
            return $(this).val(val);
        });

        $('#txtCUV').keyup(function (evt) {
            var theEvent = evt || window.event;
            key = $.trim(this.value);
            var regex = /[0-9]/;
            if (!regex.test(key)) {
                theEvent.returnValue = false;
                if (theEvent.preventDefault) theEvent.preventDefault();
            }
            else {
                var campaniaid = $.trim($('#txtCampaniaInicio').val());
                if (key.length === 5 && campaniaid.length === 6)
                    BuscarByCUVCampaniaID(key, campaniaid);
            }
        });

        $('#txtCUV').blur(function (e) {
            var val = this.value.replace(/[^0-9]/mg, "");
            if (val.length !== 5) {
                $('#hdCUVTemp').val('')
                $("#txtPrecioNormal").val('');
                $("#txtDescripcion").val('');
            }
            return $(this).val(val);
        });

        $('#txtUnidadesPermitidas').keyup(function (evt) {
            var theEvent = evt || window.event;
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
            var regex = /[0-9]/;
            if (!regex.test(key)) {
                theEvent.returnValue = false;
                if (theEvent.preventDefault) theEvent.preventDefault();
            }
        });
        $('#txtUnidadesPermitidas').keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });
        $('#txtUnidadesPermitidas').blur(function (e) {
            return $(this).val(this.value.replace(/[^0-9]/mg, ""));
        });

        $('#txtPrecioParaTi').keypress(function (evt) {
            var theEvent = evt || window.event;
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
            var regex = /[0-9]|\./;
            if (!regex.test(key)) {
                theEvent.returnValue = false;
                if (theEvent.preventDefault) theEvent.preventDefault();
            }
        });
        $('#txtPrecioParaTi').blur(function (e) {
            return $(this).val(this.value.replace(/[^0-9.]/mg, ""));
        });

        $('#txtGanaHasta').keypress(function (evt) {
            var theEvent = evt || window.event;
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
            var regex = /[0-9]|\./;
            if (!regex.test(key)) {
                theEvent.returnValue = false;
                if (theEvent.preventDefault) theEvent.preventDefault();
            }
        });
        $('#txtGanaHasta').blur(function (e) {
            return $(this).val(this.value.replace(/[^0-9.]/mg, ""));
        });
        $('#txtNumeroPedido').keypress(function (evt) {
            var theEvent = evt || window.event;
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
            var regex = /[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚàèìòùÀÈÌÒÙ _+;:¡¿?$·#!&ºª\{\}\[\]*")(.,\/-]/;
            if (!regex.test(key)) {
                theEvent.returnValue = false;
                if (theEvent.preventDefault) theEvent.preventDefault();
            }
        });
        $('#txtNumeroPedido').blur(function (e) {
            return $(this).val(this.value.replace(/[^a-zA-Z0-9ñÑáéíóúÁÉÍÓÚàèìòùÀÈÌÒÙ _+;:¡¿?$·#!&ºª\{\}\[\]*")(.,\/-]/mg, ""));
        });
        
    });

    function BuscarByCUVCampaniaID(CUV, CampaniaID) {
        if (CUV != $('#hdCUVTemp').val() || CampaniaID != $('#hdCampaniaTemp').val()) {
            var item = {
                vPaisID: $("#ddlPais").val(),
                vCUV: CUV,
                vCodigoCampania: CampaniaID,
            };
            waitingDialog({});
            jQuery.ajax({
                type: 'POST',
                url: baseUrl + 'OfertaNueva/GetDescripcionPackByCUV',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(item),
                async: true,
                cache: false,
                success: function (data) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        if (data.success == true) {
                            $("#txtPrecioNormal").val(data.precionormal);
                            $("#txtDescripcion").val(data.descripcion);
                            $("#hdCUVTemp").val(CUV);
                            $("#hdCampaniaTemp").val(CampaniaID);
                            $('#hdCampaniaID').val(CampaniaID);
                        }
                        else {
                            alert(data.message);
                            $('#hdCUVTemp').val('');
                            $('#hdCampaniaTemp').val('');
                            $("#txtPrecioNormal").val('');
                            $("#txtDescripcion").val('');
                        }
                    }
                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        alert(data.message);
                    }
                }
            });
        }
    }

    function CheckUnicaImagen(imgId, isChecked) {
        var checks = {
            'chkImagen1': 1,
            'chkImagen2': 2,
            'chkImagen3': 3
        };

        if (isChecked)
            $("#hdImagenActiva").val(checks[imgId]);
        else
            $("#hdImagenActiva").val("0");

        // Elimina el item enviado
        delete checks[imgId];

        for (var item in checks) {
            var elem = document.getElementById(item);
            elem.checked = false;
            elem.setAttribute('disabled', 'disabled');
            if (!isChecked)
                elem.removeAttribute('disabled');
        }
    }

    function GuardarOfertasNuevas() {
        var accion = "";
        if ($("#hdAccion").val() == "0")
            accion = "InsertOfertasNuevas";
        else
            accion = "UpdateOfertasNuevas";

        var Item = {
            PaisID: $('#ddlPais').val(),
            CampaniaID: $('#hdCampaniaID').val(),
            CampaniaIDFin: ($.trim($('#txtCampaniaFin').val()) == "" ? 0 : $.trim($('#txtCampaniaFin').val())),
            NumeroPedido: $.trim($('#txtNumeroPedido').val()),
            CUV: $.trim($("#txtCUV").val()),
            Descripcion: $.trim($("#txtDescripcion").val()),
            PrecioNormal: ($.trim($("#txtPrecioNormal").val()) == "" ? parseFloat(0).toFixed(2) : $.trim($("#txtPrecioNormal").val())),
            PrecioParaTi: ($.trim($("#txtPrecioParaTi").val()) == "" ? parseFloat(0).toFixed(2) : $.trim($("#txtPrecioParaTi").val())),
            UnidadesPermitidas: ($.trim($("#txtUnidadesPermitidas").val()) == "" ? 0 : $.trim($("#txtUnidadesPermitidas").val())),
            FlagHabilitarOferta: $("#chkHabilitarOferta").is(':checked'),
            FlagImagenActiva: $.trim($("#hdImagenActiva").val()),
            ImagenProducto01: $.trim($("#imagenProducto01").val()),
            ImagenProducto02: $.trim($("#imagenProducto02").val()),
            ImagenProducto03: $.trim($('#imagenProducto03').val()),
            ImagenProductoAnterior01: $.trim($("#imagenProductoAnterior01").val()),
            ImagenProductoAnterior02: $.trim($("#imagenProductoAnterior02").val()),
            ImagenProductoAnterior03: $.trim($('#imagenProductoAnterior03').val()),
            OfertaNuevaId: $("#hdAccion").val(),
            ganahasta: $.trim($("#txtGanaHasta").val())
        };
        jQuery.ajax({
            type: 'POST',
            url: baseUrl + 'OfertaNueva/' + accion,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(Item),
            async: true,
            success: function (data) {
                if (checkTimeout(data)) {
                    closeWaitingDialog();
                    if (data.success == true) {
                        alert(data.message);
                        HideDialog("DialogOfertasNueva");
                        limpiarPopup();
                        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                    }
                    else {
                        alert(data.message);
                    }
                }
            },
            error: function (data, error) {
                if (checkTimeout(data)) {
                    closeWaitingDialog();
                    alert(data.message);
                    HideDialog("DialogOfertasNueva");
                }
            }
        });
    }

    function MostrarPopup() {
        var ddlPais = $("#ddlPais");
        if (ddlPais.val() == "") {
            alert("Para ingresar un nuevo registro primero debe seleccionar un País.");
            return false;
        }

        limpiarPopup();
        showDialog("DialogOfertasNueva");
    }

    function limpiarPopup() {
        $('#txtCampaniaInicio').val("");
        $('#txtCampaniaFin').val("");
        $('#hdCampaniaID').val("0");
        $('#txtNumeroPedido').val("");
        $('#txtCUV').val("");
        $('#txtDescripcion').val("");
        $('#txtPrecioNormal').val("");
        $('#txtPrecioParaTi').val("");
        $('#txtUnidadesPermitidas').val("");
        $('#txtGanaHasta').val("");
        $('#chkHabilitarOferta').removeAttr('checked');
        $('#txtCampaniaInicio').removeAttr('readonly');
        $('#txtCampaniaFin').removeAttr('readonly');
        $('#txtCUV').removeAttr('readonly');
        $('#hdCUVTemp').val('');
        $('#hdCampaniaTemp').val('');
        $("#imagenProducto01").val("");
        $("#imagenProducto02").val("");
        $("#imagenProducto03").val("");
        $("#hdAccion").val("0");
        $("#hdImagenActiva").val("0");
        var checks = ['chkImagen1', 'chkImagen2', 'chkImagen3'];
        for (var i = 0; i < checks.length; i++) {
            $('#' + checks[i]).removeAttr('checked');
            $('#' + checks[i]).removeAttr('disabled');
        }
        $('#imgpreview01').attr('src', '@Url.Content("~/Content/Images/prod_grilla_vacio.png")');
        $('#imgpreview02').attr('src', '@Url.Content("~/Content/Images/prod_grilla_vacio.png")');
        $('#imgpreview03').attr('src', '@Url.Content("~/Content/Images/prod_grilla_vacio.png")');
    }

    function fnGrilla() {
        jQuery("#list").jqGrid({
            url: baseUrl + "OfertaNueva/ConsultarOfertasNuevas",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                vpaisID: function () { return $("#ddlPais").val() },
                vCampaniaID: function () { return $("#ddlCampania option:selected").text() }
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['OfertaNuevaId', 'Campaña ID', 'UnidadesPermitidas', 'FlagImagenActiva', 'Habilitar Oferta', 'RutaImagen1', 'RutaImagen2', 'RutaImagen3', 'Nº Pedido', 'Código SAP', 'Campaña', 'CUV', 'Descripción', 'Precio Normal', 'Precio Para Ti', 'Gana Hasta', 'Foto', 'Detalle'],
            colModel: [
                {
                    name: 'OfertaNuevaId', index: 'OfertaNuevaId', width: 0, editable: false, align: 'center',
                    hidden: true
                },
                {
                    name: 'CampaniaID', index: 'CampaniaID', width: 0, editable: false, align: 'center',
                    hidden: true
                },
                {
                    name: 'UnidadesPermitidas', index: 'UnidadesPermitidas', width: 0, editable: false, align: 'center',
                    hidden: true
                },
                {
                    name: 'FlagImagenActiva', index: 'FlagImagenActiva', width: 0, editable: false, align: 'center',
                    hidden: true
                },
                {
                    name: 'FlagHabilitarOferta', index: 'FlagHabilitarOferta', width: 0, editable: false, align: 'center',
                    hidden: true
                },
                {
                    name: 'ImagenProducto01', index: 'ImagenProducto01', width: 0, editable: false, align: 'center',
                    hidden: true
                },
                {
                    name: 'ImagenProducto02', index: 'ImagenProducto02', width: 0, editable: false, align: 'center',
                    hidden: true
                },
                {
                    name: 'ImagenProducto03', index: 'ImagenProducto03', width: 0, editable: false, align: 'center',
                    hidden: true
                },
                { name: 'NumeroPedido', index: 'NumeroPedido', width: 15, editable: true, resizable: false },
                { name: 'CodigoProducto', index: 'CodigoProducto', width: 10, editable: true, resizable: false },
                { name: 'CodigoCampania', index: 'CodigoCampania', width: 10, editable: true, resizable: false },
                { name: 'CUV', index: 'CUV', width: 10, editable: true, resizable: true },
                { name: 'Descripcion', index: 'Descripcion', width: 25, editable: true, resizable: false },
                { name: 'PrecioNormal', index: 'PrecioNormal', width: 5, editable: true, resizable: false },
                { name: 'PrecioParaTi', index: 'PrecioParaTi', width: 5, editable: true, resizable: false },
                {
                    name: 'ganahasta', index: 'ganahasta', width: 0, editable: false, align: 'center',
                    hidden: true
                },
                { name: 'Imagen', index: 'Imagen', width: 15, editable: true, sortable: false, align: 'center', resizable: false, formatter: ShowImage },
                { name: 'vDetalle', index: 'vDetalle', width: 5, editable: true, sortable: false, align: 'center', resizable: false, formatter: ShowActions }
            ],
            jsonReader:
            {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: true,
                cell: "cell",
                id: "id",
                ISOPais: 'ISOPais'
            },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'NumeroPedido',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 930,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function (data) { isoPAIS = data.ISOPais; },
            gridComplete: function () { }
        });
        jQuery("#list").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');

        function ShowActions(cellvalue, options, rowObject) {
            var href = "#";
            var Edit = "&nbsp;<a href=\"" + href + "\" onclick=\"return jQuery('#list').Editar('" + rowObject[0] + "'); \">" + "<img src='@Url.Content("~/Content/Images/Edit.png")' alt='Editar Oferta Nueva' title='Editar Oferta Nueva' border='0' /></a>";
            var Del = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#list').Eliminar('" + rowObject[0] + "','" + rowObject[5] + "','" + rowObject[6] + "','" + rowObject[7] + "','" + rowObject[11] + "','" + rowObject[1] + "');\" >" + "<img src='@Url.Content("~/Content/Images/NotAllowed.png")' alt='Deshabilitar Oferta Nueva' title='Deshabilitar Oferta Nueva' border='0' /></a>";
            if (rowObject[4] == "1")
                return Edit + Del;
            else
                return Edit;
        }

        function ShowImage(cellvalue, options, rowObject) {
            var image = "";
            if (rowObject[3] === "1" && rowObject[5] !== "") {
                image = '<img src="' + rowObject[5] + '" alt="" width="70px" height="60px" title="" border="0" />';
            } else if (rowObject[3] === "2" && rowObject[6] !== "") {
                image = '<img src="' + rowObject[6] + '" alt="" width="70px" height="60px" title="" border="0" />';
            } else if (rowObject[3] === "3" && rowObject[7] !== "") {
                image = '<img src="' + rowObject[7] + '" alt="" width="70px" height="60px" title="" border="0" />';
            } else {
                image = '<img src="@Url.Content("~/Content/Images/prod_grilla_vacio.png")" alt="" width="60px" height="60px" title="" border="0" />';
            }
    return image;
};
}

$.jgrid.extend({
    Editar: function (ID) {
        if (ID) {
            limpiarPopup();
            $('#txtCampaniaInicio').attr('readonly', 'readonly');
            $('#txtCampaniaFin').attr('readonly', 'readonly');
            $('#txtCUV').attr('readonly', 'readonly');
            $("#hdAccion").val(ID);

            $('#txtCampaniaInicio').val(jQuery("#list").jqGrid('getCell', ID, 'CodigoCampania'));
            $('#hdCampaniaID').val(jQuery("#list").jqGrid('getCell', ID, 'CodigoCampania'));
            $('#txtNumeroPedido').val(jQuery("#list").jqGrid('getCell', ID, 'NumeroPedido'));
            $('#txtCUV').val(jQuery("#list").jqGrid('getCell', ID, 'CUV'));
            $('#txtDescripcion').val(jQuery("#list").jqGrid('getCell', ID, 'Descripcion'));
            $('#txtPrecioNormal').val(jQuery("#list").jqGrid('getCell', ID, 'PrecioNormal'));
            $('#txtPrecioParaTi').val(jQuery("#list").jqGrid('getCell', ID, 'PrecioParaTi'));
            $('#txtGanaHasta').val(jQuery("#list").jqGrid('getCell', ID, 'ganahasta'));
            $('#txtUnidadesPermitidas').val(jQuery("#list").jqGrid('getCell', ID, 'UnidadesPermitidas'));
            if (jQuery("#list").jqGrid('getCell', ID, 'FlagHabilitarOferta') == "1")
                $('#chkHabilitarOferta').attr('checked', true);
            var activa = jQuery("#list").jqGrid('getCell', ID, 'FlagImagenActiva');
            var chkactivo;
            if (activa == '1')
                chkactivo = 'chkImagen1';
            else if (activa == '2')
                chkactivo = 'chkImagen2';
            else if (activa == '3')
                chkactivo = 'chkImagen3';
            if (chkactivo) {
                $('#' + chkactivo).attr('checked', true);
                CheckUnicaImagen(chkactivo, true);
            }

            $('#imagenProducto01').val($("#list").jqGrid('getCell', ID, 'ImagenProducto01'));
            $('#imagenProducto02').val($("#list").jqGrid('getCell', ID, 'ImagenProducto02'));
            $('#imagenProducto03').val($("#list").jqGrid('getCell', ID, 'ImagenProducto03'));
            $('#imagenProductoAnterior01').val($("#list").jqGrid('getCell', ID, 'ImagenProducto01'));
            $('#imagenProductoAnterior02').val($("#list").jqGrid('getCell', ID, 'ImagenProducto02'));
            $('#imagenProductoAnterior03').val($("#list").jqGrid('getCell', ID, 'ImagenProducto03'));

            if ($.trim($("#imagenProducto01").val()) != "") {
                $('#imgpreview01').attr('src', $("#imagenProducto01").val());
            } else
                $('#imgpreview01').attr('src', '@Url.Content("~/Content/Images/prod_grilla_vacio.png")');

            if ($.trim($("#imagenProducto02").val()) != "") {
                $('#imgpreview02').attr('src', $("#imagenProducto02").val());
            } else
                $('#imgpreview02').attr('src', '@Url.Content("~/Content/Images/prod_grilla_vacio.png")');

            if ($.trim($("#imagenProducto03").val()) != "") {
                $('#imgpreview03').attr('src', $("#imagenProducto03").val());
            } else
                $('#imgpreview03').attr('src', '@Url.Content("~/Content/Images/prod_grilla_vacio.png")');
            
            FormatearImagenes('#imagenProducto01');
            FormatearImagenes('#imagenProducto02');
            FormatearImagenes('#imagenProducto03');
            FormatearImagenes('#imagenProductoAnterior01');
            FormatearImagenes('#imagenProductoAnterior02');
            FormatearImagenes('#imagenProductoAnterior03');

            showDialog("DialogOfertasNueva");
        } else {
            alert("Debe seleccionar una Oferta, verifique");
        }
        return false;
    },
    Eliminar: function (Id, Imagenproducto01, Imagenproducto02, Imagenproducto03, cuv, campaniaID) {
        var elimina = confirm('¿ Está seguro que desea deshabilitar el registro seleccionado?');
        if (!elimina)
            return false;

        var Item = {
            OfertaNuevaId: Id,
            ImagenProducto01: Imagenproducto01,
            ImagenProducto02: Imagenproducto02,
            ImagenProducto03: Imagenproducto03,
            CUV: cuv,
            CampaniaID: campaniaID
        };

        waitingDialog({});
        jQuery.ajax({
            type: 'POST',
            url: baseUrl + 'OfertaNueva/DeleteOfertaNueva',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(Item),
            async: true,
            success: function (data) {
                if (checkTimeout(data)) {
                    closeWaitingDialog();
                    if (data.success == true) {
                        alert(data.message);
                        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                    }
                    else
                        alert(data.message);
                }
            },
            error: function (data, error) {
                if (checkTimeout(data)) {
                    closeWaitingDialog();
                    alert("ERROR");
                }
            }
        });
        return false;
    }

});

    function FormatearImagenes(id) {
        var img01 = $(id).val().replace(/^.*[\\\/]/, '');
        if (img01.lastIndexOf("?") >= 0) {
            img01 = img01.substring(0, img01.lastIndexOf("?"));            
        }
        $(id).val(img01);
    }

function CargarDatos() {
    var ddlPais = $("#ddlPais");
    if (ddlPais.val() == "") {
        alert("Debe seleccionar un País.");
        return false;
    }

    var ddlCampania = $("#ddlCampania");
    if (ddlCampania.val() == "") {
        alert("Debe seleccionar una Campaña.");
        return false;
    }
    fnGrilla();
}
</script>
<div class="wrap_cab">
    <div class="filtros">
        <div class="elements">
            <div class="div-2">
                <h1>Ofertas Para <span>Consultoras Nuevas</span></h1>
            </div>
            <div class="div-3">
                <div class="titA">País:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais" })
                </div>
                <div class="titB">Campaña:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.CampaniaID, new SelectList(Model.listaCampania, "CampaniaID", "Codigo"), "-- Seleccionar --", new { id = "ddlCampania" })
                </div>
                <div class="input_horizontal">
                    <input id="btnCargar" type="button" value="Buscar" onclick="javascript: CargarDatos();">
                    <input id="btnNuevo" type="button" value="Nuevo" onclick="javascript: MostrarPopup();">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper">
            <table id="list"></table>
            <div id="pager"></div>
        </div>
    </div>
</div>
<div id="loadingScreen"></div>

<div id="DialogOfertasNueva" style="display: none;">
    <input id="hdAccion" type="hidden" value="0" />
    <div class="Content_modal">
        <div class="div-3">
            <div class="titG">País:</div>
            <div class="selectP2 borde_redondeado">
                <input id="txtPais" type="text" value="@Model.PaisNombre" readonly="readonly" />
            </div>
        </div>
        <div class="div-3">
            <div class="titG">Campaña Inicio:</div>
            <div class="selectP2 borde_redondeado">
                <input type="text" id="txtCampaniaInicio" maxlength="6" />
                <input type="hidden" id="hdCampaniaID" value="0" />
            </div>
            <div class="titG">Campaña Fin:</div>
            <div class="selectP2 borde_redondeado">
                <input type="text" id="txtCampaniaFin" maxlength="6" />
            </div>
        </div>
        <div class="div-3">
            <div class="titG">N° Pedido:</div>
            <div class="selectP2 borde_redondeado">
                <input type="text" id="txtNumeroPedido" maxlength="80" />
            </div>
            <div class="titG">CUV:</div>
            <div class="selectP2 borde_redondeado">
                <input type="text" id="txtCUV" maxlength="6" />
            </div>
        </div>
        <div class="div-3">
            <div class="titG">Descripción:</div>
            <div class="selectP2 borde_redondeado">
                <input type="text" id="txtDescripcion" maxlength="500" />
            </div>
            <div class="titG">Precio Normal:</div>
            <div class="selectP2 borde_redondeado">
                <input type="text" id="txtPrecioNormal" maxlength="10" readonly="readonly" />
            </div>
        </div>
        <div class="div-3">
            <div class="titG">Precio Para Ti:</div>
            <div class="selectP2 borde_redondeado">
                <input type="text" id="txtPrecioParaTi" maxlength="10" />
            </div>
            <div class="titG">Unid. Permitidas:</div>
            <div class="selectP2 borde_redondeado">
                <input type="text" id="txtUnidadesPermitidas" maxlength="4" />
            </div>
        </div>
        <div class="div-3">
            <div class="titG">¿Habilitar Oferta?</div>
            <div class="selectCheck borde_redondeado">
                <input type="checkbox" id="chkHabilitarOferta" />
            </div>

            <div class="titG" style="margin-left:190px;">Gana Hasta</div>
            <div class="selectP2 borde_redondeado">
                <input type="text" id="txtGanaHasta" maxlength="10" />
            </div>

        </div>
        <div class="div-3">
            <div class="titG">Imagen:</div>
            <div class="selectP2 borde_redondeado aligncenter" style="height: 130px;">
                <img src='@Url.Content("~/Content/Images/prod_grilla_vacio.png")' id="imgpreview01" style="height: 100%" />
            </div>
            <div class="selectP2 borde_redondeado aligncenter" style="height: 130px;">
                <img src='@Url.Content("~/Content/Images/prod_grilla_vacio.png")' id="imgpreview02" style="height: 100%" />
            </div>
            <div class="selectP2 borde_redondeado aligncenter" style="height: 130px;">
                <img src='@Url.Content("~/Content/Images/prod_grilla_vacio.png")' id="imgpreview03" style="height: 100%" />
            </div>

        </div>
        <div class="div-3">
            <div class="titG"></div>
            <div class="titG" style="width: 180px;">
                <div class="input_search">
                    <input type="hidden" id="imagenProducto01" />
                    <input type="hidden" id="imagenProductoAnterior01" />
                    <div id="fpUpload01">
                        <script type="text/javascript">
                            var uploader = new qq.FileUploader({
                                allowedExtensions: ['jpg', 'png', 'jpeg'],
                                element: document.getElementById('fpUpload01'),
                                action: '@Url.Action("ImageOfertaNuevaUpload", "FileUpload")',
                                onComplete: function (id, fileName, responseJSON) {
                                    if (checkTimeout(responseJSON)) {
                                        $(".qq-upload-list").css("display", "none");
                                        if (responseJSON.success) {
                                            $("#imagenProducto01").val(responseJSON.name);
                                            $('#imgpreview01').attr('src', '@Url.Content("~/Content/Temporales/")' + responseJSON.name);
                                        }
                                        else {
                                            alert(responseJSON.message);
                                        }
                                    }
                                },
                                onSubmit: function (id, fileName) { $(".qq-upload-list").css("display", "none"); },
                                onProgress: function (id, fileName, loaded, total) { $(".qq-upload-list").css("display", "none"); },
                                onCancel: function (id, fileName) { $(".qq-upload-list").css("display", "none"); }
                            });
                        </script>
                    </div>
                </div>
                <input id="hdImagenActiva" type="hidden" value="0" />
                <div class="check_habilitar">
                    Habilitar
                    <input id="chkImagen1" type="checkbox" onclick="javascript: CheckUnicaImagen(this.id, this.checked);" />
                </div>

            </div>
            <div class="titG" style="width: 180px;">
                <div class="input_search">
                    <input type="hidden" id="imagenProducto02" />
                    <input type="hidden" id="imagenProductoAnterior02" />
                    <div id="fpUpload02">
                        <script type="text/javascript">
                            var uploader = new qq.FileUploader({
                                allowedExtensions: ['jpg', 'png', 'jpeg'],
                                element: document.getElementById('fpUpload02'),
                                action: '@Url.Action("ImageOfertaNuevaUpload", "FileUpload")',
                                onComplete: function (id, fileName, responseJSON) {
                                    if (checkTimeout(responseJSON)) {
                                        $(".qq-upload-list").css("display", "none");
                                        if (responseJSON.success) {
                                            $("#imagenProducto02").val(responseJSON.name);
                                            $('#imgpreview02').attr('src', '@Url.Content("~/Content/Temporales/")' + responseJSON.name);
                                        }
                                        else {
                                            alert(responseJSON.message);
                                        }
                                    }
                                },
                                onSubmit: function (id, fileName) { $(".qq-upload-list").css("display", "none"); },
                                onProgress: function (id, fileName, loaded, total) { $(".qq-upload-list").css("display", "none"); },
                                onCancel: function (id, fileName) { $(".qq-upload-list").css("display", "none"); }
                            });
                        </script>
                    </div>
                </div>
                <div class="check_habilitar aligncenter">
                    Habilitar
                    <input id="chkImagen2" type="checkbox" onclick="javascript: CheckUnicaImagen(this.id, this.checked);" />
                </div>
            </div>
            <div class="titG" style="width: 180px;">
                <div class="input_search">
                    <input type="hidden" id="imagenProducto03" />
                    <input type="hidden" id="imagenProductoAnterior03" />
                    <div id="fpUpload03">
                        <script type="text/javascript">
                            var uploader = new qq.FileUploader({
                                allowedExtensions: ['jpg', 'png', 'jpeg'],
                                element: document.getElementById('fpUpload03'),
                                action: '@Url.Action("ImageOfertaNuevaUpload", "FileUpload")',
                                onComplete: function (id, fileName, responseJSON) {
                                    if (checkTimeout(responseJSON)) {
                                        $(".qq-upload-list").css("display", "none");
                                        if (responseJSON.success) {
                                            $("#imagenProducto03").val(responseJSON.name);
                                            $('#imgpreview03').attr('src', '@Url.Content("~/Content/Temporales/")' + responseJSON.name);
                                        }
                                        else {
                                            alert(responseJSON.message);
                                        }
                                    }
                                },
                                onSubmit: function (id, fileName) { $(".qq-upload-list").css("display", "none"); },
                                onProgress: function (id, fileName, loaded, total) { $(".qq-upload-list").css("display", "none"); },
                                onCancel: function (id, fileName) { $(".qq-upload-list").css("display", "none"); }
                            });
                        </script>
                    </div>
                </div>
                <div class="check_habilitar aligncenter">
                    Habilitar
                    <input id="chkImagen3" type="checkbox" onclick="javascript: CheckUnicaImagen(this.id, this.checked);" />
                </div>
            </div>
            <input type="hidden" id="hdCUVTemp" />
            <input type="hidden" id="hdCampaniaTemp" />
        </div>
    </div>
</div>
