@model Portal.Consultoras.Web.Models.CrossSellingAsociacionModel
@{
    ViewBag.Title = "AsociacionCrossSelling";
}
<script type="text/javascript">
    var paisNombre = "";
    var paisID = 11;

    $(document).unbind('keydown').bind('keydown', function (event) {
        var doPrevent = false;
        if (event.keyCode === 8) {
            var d = event.srcElement || event.target;
            if ((d.tagName.toUpperCase() === 'INPUT' && (d.type.toUpperCase() === 'TEXT' || d.type.toUpperCase() === 'PASSWORD'))
                 || d.tagName.toUpperCase() === 'TEXTAREA') {
                doPrevent = d.readOnly || d.disabled;
            }
            else {
                doPrevent = true;
            }
        }

        if (doPrevent) {
            event.preventDefault();
        }
    });

    $(document).ready(function () {
        IniDialogCrossSelling();
        fnGrilla();
        $.ajaxSetup({ cache: false });
        $('#ddlPais').change(function () {
            var Id = $(this).val();
            if (Id != "") {
                waitingDialog({});
                $.getJSON(baseUrl + 'CrossSelling/ObtenterCampaniasPorPais', { PaisID: Id == "" ? 0 : Id }, function (data) {
                    if (checkTimeout(data)) {
                        LimpiarDependencias(Id);

                        var ddlCampania = $('#ddlCampania');
                        ddlCampania.empty();
                        if (data.lista.length > 0) {
                            ddlCampania.append($('<option/>', {
                                value: "",
                                text: "-- Seleccionar --"
                            }));
                            if (Id != "") {
                                for (var item in data.lista) {
                                    ddlCampania.append($('<option/>', {
                                        value: data.lista[item].CampaniaID,
                                        text: data.lista[item].Codigo
                                    }));
                                }
                            }
                        }
                        closeWaitingDialog();
                    }
                });
            } else LimpiarDependencias(Id);
        });

        $.ajaxSetup({ cache: false });

        $('#ddlTC').change(function () {
            LimpiarDependenciasCUV();

            $("#list").jqGrid('setGridParam', { rowNum: 10 });
            $("#list").jqGrid("clearGridData", true);
            $("#list_Segmentacion").jqGrid('setGridParam', { rowNum: 10 });
            $("#list_Segmentacion").jqGrid("clearGridData", true);

            var Id = $(this).val();
            
            if (Id != "") {
                if (Id == 1) {
                    $('.selectcuv').hide();
                    $('.selectbuton').show();
                    $("#txtCUVSearch").val("");
                }
                else {
                    if (Id == 2) {
                        $('.selectcuv').show();
                        $('.selectbuton').show();
                    }
                }
            }
            else {
                if (Id == "") {
                    $('.selectcuv').hide();
                    $('.selectbuton').hide();
                }
            }

            var tipo = "";
            if (Id == 1) { tipo = "0"; }
            if (Id == 2) { tipo = "1"; }

            var campaniaID = $("#ddlCampania").val();

            if (Id != "") {
                waitingDialog({});
                $.getJSON(baseUrl + 'CrossSelling/ObtenerProductosRecomendadosHabilitados', { PaisID: $("#ddlPais").val(), CampaniaID: (campaniaID == "" ? 0 : campaniaID), Tipo: tipo }, function (data) {
                    if (checkTimeout(data)) {                        

                        var ddlCUVAsociado = $('#ddlCUVAsociado');
                        ddlCUVAsociado.empty();
                        if (data.lista.length > 0) {
                            ddlCUVAsociado.append($('<option/>', {
                                value: "",
                                text: "-- Seleccionar --"
                            }));
                            if (Id != "") {
                                for (var item in data.lista) {
                                    ddlCUVAsociado.append($('<option/>', {
                                        value: data.lista[item].CUV,
                                        text: data.lista[item].CUV
                                    }));
                                }
                            }
                        }

                        var ddlCUVAsociado2 = $('#ddlCUVAsociado2');
                        ddlCUVAsociado2.empty();
                        if (data.lista.length > 0) {
                            ddlCUVAsociado2.append($('<option/>', {
                                value: "",
                                text: "-- Seleccionar --"
                            }));
                            if (Id != "") {
                                for (var item in data.lista) {
                                    ddlCUVAsociado2.append($('<option/>', {
                                        value: data.lista[item].CUV,
                                        text: data.lista[item].CUV
                                    }));
                                }
                            }
                        }                        

                        closeWaitingDialog();
                    }


                });
            }

        });
        $('#ddlCampania').change(function () {
            var ddlTC = $('#ddlTC');
            ddlTC.empty();
            ddlTC.append($('<option/>', {
                value: "",
                text: "-- Seleccionar --"
            }));
            ddlTC.append($('<option/>', {
                value: "2",
                text: "Por CUV"
            }));
            LimpiarDependenciasCUV();
        });
        $.ajaxSetup({ cache: false });
        $('#ddlCUVAsociado').change(function () {
            var Id = $(this).val();
            if (Id != "") {
                waitingDialog({});
                $.getJSON(baseUrl + 'CrossSelling/ObtenerDescripcionProducto', { PaisID: paisID, CampaniaID: $("#txtCampaniaModal").val(), CUV: Id }, function (data) {
                    if (checkTimeout(data)) {
                        $("#txtDescripcionAsociadoModal").val("");

                        if (data.lista.length > 0) {
                            $("#txtDescripcionAsociadoModal").val(data.lista[0].Descripcion);
                        }
                        closeWaitingDialog();
                    }
                });
            } else $("#txtDescripcionAsociadoModal").val("");
        });


        $('#ddlCUVAsociado2').change(function () {
            var Id = $(this).val();
            if (Id != "") {
                waitingDialog({});
                $.getJSON(baseUrl + 'CrossSelling/ObtenerDescripcionProducto', { PaisID: paisID, CampaniaID: $("#txtCampaniaModal").val(), CUV: Id }, function (data) {
                    if (checkTimeout(data)) {
                        $("#txtDescripcionAsociadoModal2").val("");

                        if (data.lista.length > 0) {
                            $("#txtDescripcionAsociadoModal2").val(data.lista[0].Descripcion);
                        }
                        closeWaitingDialog();
                    }
                });
            } else $("#txtDescripcionAsociadoModal2").val("");
        });

        $("#btnBuscar").click(function () {

            var msjex = "";
            if ($("#ddlPais").val() == "")
                msjex += " - Debe seleccionar país .\n";
            if ($("#ddlCampania").val() == "")
                msjex += " - Debe seleccionar la campaña .\n";

            if ($("#ddlTC").val() == "")
                msjex += " - Debe seleccionar el tipo de CrossSelling .\n";
            if (msjex == "") {
                paisNombre = $("#ddlPais option:selected").text();
                paisID = $("#ddlPais").val();

                fnGrilla();
            }
            else {
                alert(msjex);
                return false;
            }

        });
    });

    function LimpiarDependenciasCUV() {
        var ddlCUVAsociado = $('#ddlCUVAsociado');
        ddlCUVAsociado.empty();
        ddlCUVAsociado.append($('<option/>', {
            value: "",
            text: "-- Seleccionar --"
        }));

        $('.selectcuv').hide();
       

        $("#list").jqGrid('setGridParam', { rowNum: 10 });
        $("#list").jqGrid("clearGridData", true);
        $("#list_Segmentacion").jqGrid('setGridParam', { rowNum: 10 });
        $("#list_Segmentacion").jqGrid("clearGridData", true);
    }

    function LimpiarDependencias(Id) {
        var ddlCampania = $('#ddlCampania');
        ddlCampania.empty();
        ddlCampania.append($('<option/>', {
            value: "",
            text: "-- Seleccionar --"
        }));

        var ddlCUVAsociado2 = $('#ddlCUVAsociado2');
        ddlCUVAsociado2.empty();
        ddlCUVAsociado2.append($('<option/>', {
            value: "",
            text: "-- Seleccionar --"
        }));

        var ddlTC = $('#ddlTC');
        ddlTC.empty();
        ddlTC.append($('<option/>', {
            value: "",
            text: "-- Seleccionar --"
        }));

        $('.selectcuv').hide();

        $("#list").jqGrid("clearGridData", true).trigger("reloadGrid");
        $("#list_Segmentacion").jqGrid("clearGridData", true).trigger("reloadGrid");
    }

    function IniDialogCrossSelling() {
        $('#DialogAsociarProductosRecomendado').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 820,
            draggable: true,
            title: "Registro de Asociación de Productos Recomendados",
			close: function (event, ui) {
                var TipoCros = $('#ddlTC').val();
                if (TipoCros == 1) {
                    jQuery("#list_Segmentacion").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                }
                HideDialog("DialogAsociarProductosRecomendado");
            },
            buttons:
            {
                "Guardar": function () {
                    var vMessage = "";
                    if (jQuery.trim($('#ddlCUVAsociado').val()) == "")
                        vMessage += "- Debe seleccionar el CUV Asociado.\n";
                    
                    var TipoCros = $('#ddlTC').val();
                    if (TipoCros==2) {
                        if (jQuery.trim($('#ddlCUVAsociado').val()) == jQuery.trim($('#ddlCUVAsociado2').val()))
                            vMessage += "- Debe seleccionar otro CUV2, es el mismo que el CUV1.\n";
                    }
                    
                    if (TipoCros == 1) {
                        if (jQuery.trim($('#txtDescripcionAsociadoModal').val()) == '')
                            vMessage += "- Debe Ingresar la descripción.\n";
                    }
                    if (vMessage != "") {
                        alert(vMessage);
                        return false;
                    }
                    else {
                        RegistrarAsociacionCrossSelling();
                    }
                },
                "Cancelar": function () {
                    HideDialog("DialogAsociarProductosRecomendado");
                    $(this).dialog('close');
                }
            }
        });
    }

    function fnGrilla() {
        var TipoCrossseling = $('#ddlTC').val();
        if (TipoCrossseling == 2 || TipoCrossseling == "") {
            $('#tbl_list_perfil').hide();
            $('#tbl_list_Segmentacion').hide();
            $('#tbl_list').show();
            subgrilla();
        }
        else {
            if (TipoCrossseling == 1) {
                $('#tbl_list_perfil').show();
                $('#tbl_list').hide();
                $('#tbl_list_Segmentacion').show();
                subgrilla_Segmentacion();
            }

        }

    }

    function subgrilla() {

        jQuery("#list").jqGrid({
            url: baseUrl + "CrossSelling/ConsultarProductosNoRecomendados",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                PaisID: function () { return ($("#ddlPais").val() == "" ? "11" : $("#ddlPais").val()); },
                CampaniaID: function () { return ($("#ddlCampania").val() == "" ? "0" : $("#ddlCampania").val()); },
                CUV: function () { return $("#txtCUVSearch").val(); }
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['Campaña', 'CUV', 'Descripción', 'Precio Oferta', ''],
            colModel: [
                { name: 'CodigoCampania', index: 'CodigoCampania', width: 60, editable: true, resizable: false },
                { name: 'CUV', index: 'CUV', width: 60, editable: true, resizable: false },
                { name: 'Descripcion', index: 'Descripcion', width: 200, editable: true, resizable: false },
                { name: 'PrecioOferta', index: 'PrecioOferta', width: 70, editable: true, resizable: false },
                { name: 'Options', index: 'Options', width: 40, editable: true, sortable: false, align: 'center', resizable: false, formatter: ShowActions }
            ],
            jsonReader:
            {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: true,
                cell: "cell",
                id: "id"
            },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'Nombre',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 930,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function () { },
            gridComplete: function () { }
        });
        jQuery("#list").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');

        function ShowActions(cellvalue, options, rowObject) {
            var Edit = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#list').Editar('" + options.rowId + "','" + rowObject[1] + "','" + rowObject[5] + "','" + rowObject[4] + "');\" >" + "<img src='@Url.Content("~/Content/Images/asociar.png")' alt='Asociar Producto Recomendado' title='Asociar Producto Recomendado' border='0' /></a>";
            var Del = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#list').Eliminar('" + options.rowId + "','" + rowObject[1] + "','" + rowObject[5] + "');\" >" + "<img src='@Url.Content("~/Content/Images/desasociar.png")' alt='DesAsociar Producto Recomendado' title='DesAsociar Producto Recomendado' border='0' /></a>";
            if (rowObject[4] == "0")
                return Edit;
            else
                return Edit + Del;
        };
        $.jgrid.extend({
            Editar: function (ID, CUV, CampaniaID, Flag) {

                if (ID) {
                    LimpiarDatos();

                    $(".divSegPla").hide();
                    $(".cuvDescCUV").show();
                    $(".cuvDDLCUV").show();
                    $(".cuv1asociar").html("CUV1 a asociar:");
                    $(".descripcion1asociar").html("Descripción 1 Asociada:");

                    $("#txtPaisModal").val(paisNombre);
                    $('#txtCampaniaModal').val(jQuery("#list").jqGrid('getCell', ID, 'CodigoCampania'));
                    $('#txtCUVModal').val(jQuery("#list").jqGrid('getCell', ID, 'CUV'));
                    $('#txtDescripcionModal').val(jQuery("#list").jqGrid('getCell', ID, 'Descripcion'));
                    $("#hdCampaniaID").val(CampaniaID);
                    if (Flag == "0")
                        $("#FlagTransaccion").val("0");
                    else
                        $("#FlagTransaccion").val("1");
                    waitingDialog({});

                    $.getJSON(baseUrl + 'CrossSelling/ObtenerCUVAsociado', { PaisID: paisID, CampaniaID: CampaniaID, CUV: CUV }, function (data) {
                        if (checkTimeout(data)) {
                            if (data.lista.length > 0 && data.lista.length < 2) {
                                $("#txtDescripcionAsociadoModal").val(data.lista[0].Descripcion);
                                $("#ddlCUVAsociado").val(data.lista[0].CUV);

                            }
                            else {
                                if (data.lista.length == 2) {
                                    $("#txtDescripcionAsociadoModal").val(data.lista[0].Descripcion);
                                    $("#ddlCUVAsociado").val(data.lista[0].CUV);

                                    $("#txtDescripcionAsociadoModal2").val(data.lista[1].Descripcion);
                                    $("#ddlCUVAsociado2").val(data.lista[1].CUV);
                                }
                            }
                            showDialog("DialogAsociarProductosRecomendado");
                            closeWaitingDialog();
                        }
                    });
                } else {
                    alert("Debe seleccionar un Producto, verifique");
                }
                return false;
            },
            Eliminar: function (ID, CUV, CampaniaID) {
                var elimina = confirm('¿ Está seguro que desea eliminar la asociación del producto recomendado seleccionado?');
                if (!elimina)
                    return false;

                var Item = {
                    CampaniaID: CampaniaID,
                    CUV: CUV,
                    PaisID: paisID
                };

                waitingDialog({});
                jQuery.ajax({
                    type: 'POST',
                    url: baseUrl + 'CrossSelling/DeleteAsociacionCrossSelling',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(Item),
                    async: true,
                    success: function (data) {
                        if (checkTimeout(data)) {
                            closeWaitingDialog();
                            LimpiarDatos();
                            if (data.success == true) {
                                alert(data.message);
                                jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            }
                            else
                                alert(data.message);
                        }
                    },
                    error: function (data, error) {
                        if (checkTimeout(data)) {
                            closeWaitingDialog();
                            alert("ERROR");
                        }
                    }
                });
                return false;
            }
        });

    }

    function subgrilla_Segmentacion() {


        jQuery("#list_Segmentacion").jqGrid({
            url: baseUrl + "CrossSelling/ConsultarProductosNoRecomendados",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                PaisID: function () { return ($("#ddlPais").val() == "" ? "11" : $("#ddlPais").val()); },
                CampaniaID: function () { return ($("#ddlCampania").val() == "" ? "0" : $("#ddlCampania").val()); },
                CUV: function () { return $("#txtCUVSearch").val(); },
                TipoCrossSelling: function () { return $('#ddlTC').val(); }
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['Campaña', 'Código de Perfil', 'IC','Descripción de Perfil', ''],
            colModel: [
                { name: 'CodigoCampania', index: 'CodigoCampania', width: 60, editable: true, resizable: false },
                { name: 'CodigoSegmento', index: 'CodigoSegmento', width: 1, editable: true, resizable: false },
                { name: 'CrossSellingAsociacionID', index: 'CrossSellingAsociacionID', width: 1, editable: true, resizable: false },
                { name: 'DescripcionSegmento', index: 'DescripcionSegmento', width: 330, editable: true, resizable: false },
                { name: 'Options', index: 'Options', width: 40, editable: true, sortable: false, align: 'center', resizable: false, formatter: ShowActions }
            ],
            jsonReader:
            {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: true,
                cell: "cell",
                id: "id"
            },
            pager: jQuery('#pager_Segmentacion'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'Nombre',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 930,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function () { },
            gridComplete: function () { }
        });
        jQuery("#list_Segmentacion").jqGrid('navGrid', "#pager_Segmentacion", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#list_Segmentacion").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');


        var myGrid = $('#list_Segmentacion');
        myGrid.jqGrid('hideCol', myGrid.getGridParam("colModel")[1].name);
        myGrid.jqGrid('setColProp', myGrid.getGridParam("colModel")[1].name, { width: 0 });
        myGrid.jqGrid('hideCol', myGrid.getGridParam("colModel")[2].name);
        myGrid.jqGrid('setColProp', myGrid.getGridParam("colModel")[2].name, { width: 0 });

        function ShowActions(cellvalue, options, rowObject) {
            var Edit = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#list_Segmentacion').Editar('" + options.rowId + "','" + rowObject[0] + "','" + rowObject[2] + "','" + rowObject[1] + "');\" >" + "<img src='@Url.Content("~/Content/Images/asociar.png")' alt='Asociar Producto Recomendado' title='Asociar Producto Recomendado' border='0' /></a>";
            var Del = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#list_Segmentacion').Eliminar('" + options.rowId + "','" + rowObject[0] + "','" + rowObject[1] + "');\" >" + "<img src='@Url.Content("~/Content/Images/desasociar.png")' alt='DesAsociar Producto Recomendado' title='DesAsociar Producto Recomendado' border='0' /></a>";
            if (rowObject[2] == "0")
                return Edit;
            else
                return Edit + Del;
        };
        $.jgrid.extend({
            Editar: function (ID, CampaniaID, Flag, CodigoSegmento) {

                if (ID) {
                    LimpiarDatos();
                    $(".divSegPla").show();
                    $(".cuvDescCUV").hide();
                    $(".cuvDDLCUV").hide();
                    $(".cuv1asociar").html("CUV a asociar:");
                    $(".descripcion1asociar").html("Descripción Asociada:");
                    $("#txtPaisModal").val(paisNombre);
                    $('#txtCampaniaModal').val(jQuery("#list_Segmentacion").jqGrid('getCell', ID, 'CodigoCampania'));                                       
                    $('#txtSegmentoPla').val(jQuery("#list_Segmentacion").jqGrid('getCell', ID, 'DescripcionSegmento'));
                    $('#SegmentoTexto').val(jQuery("#list_Segmentacion").jqGrid('getCell', ID, 'CodigoSegmento'));
                    $("#hdCampaniaID").val(CampaniaID);

					$('#CrossSellingAsociacionID').val(jQuery("#list_Segmentacion").jqGrid('getCell', ID, 'CrossSellingAsociacionID'));
                    if (Flag == "0")
                        $("#FlagTransaccion").val("0");
                    else
                        $("#FlagTransaccion").val("1");
                    waitingDialog({});
					fngrilla_productos_perfil();
                    showDialog("DialogAsociarProductosRecomendado");
                    closeWaitingDialog();

                } else {
                    alert("Debe seleccionar un Producto, verifique");
                }
                return false;
            },
            Eliminar: function (ID,  CampaniaID, CodigoSegmento) {
                var elimina = confirm('¿ Está seguro que desea eliminar la asociación del producto recomendado seleccionado?');
                if (!elimina)
                    return false;

                var Item = {
                    CampaniaID: CampaniaID,
                    PaisID: paisID,
                    CodigoSegmento: CodigoSegmento
                };

                waitingDialog({});
                jQuery.ajax({
                    type: 'POST',
                    url: baseUrl + 'CrossSelling/DeleteAsociacionCrossSelling',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(Item),
                    async: true,
                    success: function (data) {
                        if (checkTimeout(data)) {
                            closeWaitingDialog();
                            LimpiarDatos();
                            if (data.success == true) {
                                alert(data.message);
                                jQuery("#list_Segmentacion").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            }
                            else
                                alert(data.message);
                        }
                    },
                    error: function (data, error) {
                        if (checkTimeout(data)) {
                            closeWaitingDialog();
                            alert("ERROR");
                        }
                    }
                });
                return false;
            }
        });

    }

    function fngrilla_productos_perfil() {
        jQuery("#list_perfil").jqGrid({
            url: baseUrl + "CrossSelling/ObtenerCUVAsociado_Perfil",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                CampaniaID: function () { return $('#hdCampaniaID').val(); },
                CodigoSegmento: function () { return $('#SegmentoTexto').val(); },
                CrossSellingAsociacionID: function () { return $('#CrossSellingAsociacionID').val(); }
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['Campaña', 'CUV', 'Descripción', 'Precio Oferta', 'CrossSellingAsociacionID', ''],
            colModel: [
                { name: 'CodigoCampania', index: 'CodigoCampania', width: 60, editable: true, resizable: false },
                { name: 'CUV', index: 'CUV', width: 60, editable: true, resizable: false },
                { name: 'Descripcion', index: 'Descripcion', width: 200, editable: true, resizable: false },
                { name: 'PrecioOferta', index: 'PrecioOferta', width: 70, editable: true, resizable: false },
                { name: 'CrossSellingAsociacionID', index: 'CrossSellingAsociacionID', width: 70, editable: true, resizable: false },
                { name: 'Options', index: 'Options', width: 40, editable: true, sortable: false, align: 'center', resizable: false, formatter: ShowActions }
            ],
            jsonReader:
            {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: true,
                cell: "cell",
                id: "id"
            },
            pager: jQuery('#pager_perfil'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'Nombre',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 930,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function () { },
            gridComplete: function () { }
        });
        jQuery("#list_perfil").jqGrid('navGrid', "#pager_perfil", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#list_perfil").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');

        var listperfil = $('#list_perfil');
        listperfil.jqGrid('hideCol', listperfil.getGridParam("colModel")[0].name);
        listperfil.jqGrid('hideCol', listperfil.getGridParam("colModel")[3].name);
        listperfil.jqGrid('hideCol', listperfil.getGridParam("colModel")[4].name);

        function ShowActions(cellvalue, options, rowObject) {
            var Edit = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#list_perfil').Editar_perfil('" + options.rowId + "');\" >" + "<img src='@Url.Content("~/Content/Images/asociar.png")' alt='Editar' title='Editar' border='0' /></a>";
            var Del = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#list_perfil').Eliminar_perfil('" + options.rowId + "','" + rowObject[4] + "','" + rowObject[0] + "');\" >" + "<img src='@Url.Content("~/Content/Images/desasociar.png")' alt='DesAsociar Producto Recomendado' title='DesAsociar Producto Recomendado' border='0' /></a>";

            return Edit + Del;

        };
        $.jgrid.extend({
            Editar_perfil: function (ID) {
                if (ID) {
                    $("#txtDescripcionAsociadoModal").val(jQuery("#list_perfil").jqGrid('getCell', ID, 'Descripcion'));
                    $("#ddlCUVAsociado").val(jQuery("#list_perfil").jqGrid('getCell', ID, 'CUV'));
                    $("#txtEtiquetaPrecio").val(jQuery("#list_perfil").jqGrid('getCell', ID, 'PrecioOferta'));

                } else {
                    alert("Debe seleccionar un Producto, verifique");
                }
                return false;
            },
            Eliminar_perfil: function (ID, CrossSellingAsociacionID, CampaniaID) {

                var elimina = confirm('¿Está seguro que desea eliminar la asociación del producto recomendado seleccionado?');
                if (!elimina)
                    return false;

                var Item = {
                    PaisID: $("#ddlPais").val(),
                    CrossSellingAsociacionID: CrossSellingAsociacionID,
                    CampaniaID: CampaniaID
                };

                waitingDialog({});
                jQuery.ajax({
                    type: 'POST',
                    url: baseUrl + 'CrossSelling/DeleteAsociacionCrossSelling_Perfil',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(Item),
                    async: true,
                    success: function (data) {
                        if (checkTimeout(data)) {
                            closeWaitingDialog();
                            $("#txtCUVModal").val("");
                            $("#txtDescripcionModal").val("");
                            $("#txtDescripcionAsociadoModal").val("");
                            $("#ddlCUVAsociado")[0].selectedIndex = 0;
                            $("#txtDescripcionAsociadoModal2").val("");
                            $("#ddlCUVAsociado2")[0].selectedIndex = 0;
                            $("#txtEtiquetaPrecio").val("");

                            if (data.success == true) {
                                alert(data.message);
                                jQuery("#list_perfil").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            }
                            else
                                alert(data.message);
                        }
                    },
                    error: function (data, error) {
                        if (checkTimeout(data)) {
                            closeWaitingDialog();
                            alert("ERROR");
                        }
                    }
                });
                return false;
            }
        });

    }


    function LimpiarDatos() {
        $("#txtPaisModal").val("");
        $("#txtCampaniaModal").val("");
        $("#txtCUVModal").val("");
        $("#txtDescripcionModal").val("");
        $("#txtDescripcionAsociadoModal").val("");
        $("#ddlCUVAsociado")[0].selectedIndex = 0;
        $("#txtDescripcionAsociadoModal2").val("");
        $("#ddlCUVAsociado2")[0].selectedIndex = 0;
        $("#txtSegmentoPla").val("");
        $("#SegmentoTexto").val("");
        $("#txtEtiquetaPrecio").val("");
    }

	// Función que colocará el caracter "." como separador de miles.
    function SeparadorMiles(pnumero) {

        var resultado = "";
        var numero = pnumero.replace(/\,/g, '');

        if (numero[0] == "-") nuevoNumero = numero.replace(/\./g, '').substring(1);
        else nuevoNumero = numero.replace(/\./g, '');

        if (numero.indexOf(",") >= 0) nuevoNumero = nuevoNumero.substring(0, nuevoNumero.indexOf(","));

        for (var j, i = nuevoNumero.length - 1, j = 0; i >= 0; i--, j++)
            resultado = nuevoNumero.charAt(i) + ((j > 0) && (j % 3 == 0) ? "." : "") + resultado;

        if (numero.indexOf(",") >= 0) resultado += numero.substring(numero.indexOf(","));

        if (numero[0] == "-") return "-" + resultado;
        else return resultado;
    }

    function RegistrarAsociacionCrossSelling() {

        var accion = "";

        if ($("#FlagTransaccion").val() == "1")
            accion = "UpdateAsociacionCrossSelling";
        else
            accion = "InsertAsociacionCrossSelling";

        var Item = {
            CampaniaID: $('#hdCampaniaID').val(),
            CUV: jQuery('#txtCUVModal').val(),
            CUVAsociado: $("#ddlCUVAsociado").val(),
            CUVAsociado2: $("#ddlCUVAsociado2").val(),
            CodigoSegmento: $("#SegmentoTexto").val(),
            PaisID: paisID,
			Descripcion: $("#txtDescripcionAsociadoModal").val(),
            EtiquetaPrecio: $("#txtEtiquetaPrecio").val()
        };
        jQuery.ajax({
            type: 'POST',
            url: baseUrl + 'CrossSelling/' + accion,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(Item),
            async: true,
            success: function (data) {
                if (checkTimeout(data)) {
                    if (data.success == true) {
                        alert(data.message);            
                        var TipoCros = $('#ddlTC').val();

                        if (TipoCros != "") {
                            if (TipoCros == 2) {
								HideDialog("DialogAsociarProductosRecomendado");
                                LimpiarDatos();
                                jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            }
                            else {
                                if (TipoCros == 1) {
                                    $("#txtCUVModal").val("");
                                    $("#txtDescripcionModal").val("");
                                    $("#txtDescripcionAsociadoModal").val("");
                                    $("#ddlCUVAsociado")[0].selectedIndex = 0;
                                    $("#txtDescripcionAsociadoModal2").val("");
                                    $("#ddlCUVAsociado2")[0].selectedIndex = 0;
                                    $("#txtEtiquetaPrecio").val("");
                                    jQuery("#list_perfil").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');

                                }
                            }
                        }

                    }
                    else {
                        alert(data.message);
                    }
                }
            },
            error: function (data, error) {
                if (checkTimeout(data)) {
                    alert(data.message);
                    HideDialog("DialogAsociarProductosRecomendado");
                }
            }
        });
    }

    function isNumberKey(evt) {
        var CharCode = (evt.which) ? evt.which : event.keyCode;
        if (CharCode > 31 && (CharCode < 48 || CharCode > 57))
            return false;
        return true;

    }
    function NumCheck(e, field) {
        key = e.keyCode ? e.keyCode : e.which
        // backspace
        if (key == 8) return true
        // 0-9
        if (key > 47 && key < 58) {
            if (field.value == "") return true
            regexp = /.[0-9]{2}$/
            return !(regexp.test(field.value))
        }
        // .
        if (key == 46) {
            if (field.value == "") return false
            regexp = /^[0-9]+$/
            return regexp.test(field.value)
        }
        // other key
        return false

    }
</script>
<div class="wrap_cab">
    <div class="filtros">
        <div class="elements">
            <div class="div-2">
                <h1>Asociar <span>Productos Recomendados</span></h1>
            </div>
            <div class="div-3">
                <div class="titG">País:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.lstPais, new SelectList(Model.lstPais, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais" })
                </div>
                <div class="titB">Campaña:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.lstCampania, new SelectList(Model.lstCampania, "CampaniaID", "NombreCorto"), "-- Seleccionar --", new { id = "ddlCampania" })
                </div>
            </div>


            <div class="div-3">
                <div class="titG">Tipo CrossSelling:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.lstCampania, new SelectList(Model.lstCampania, "IdTC", "TPDescripcion"), "-- Seleccionar --", new { id = "ddlTC" })
                </div>

                <div class="selectcuv" style="display: none;">
                    <div class="titB">CUV:</div>
                    <div class="selectA borde_redondeado">
                        <input type="text" id="txtCUVSearch" />
                    </div>
                </div>
            </div>

            <div class="selectbuton" style="display: none; padding-left:4.7em">
                <div class="div-3">
                    <div class="titB"></div>
                    <div class="input_search">
                        <input type="button" value="Buscar" id="btnBuscar" name="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="tbl_list">

    <div class="wrap">
        <div class="container clearfix">
            <div class="border-wrapper">
                <table id="list"></table>
                <div id="pager"></div>
            </div>
        </div>
    </div>

</div>


<div id="tbl_list_Segmentacion">
    <div class="wrap">
        <div class="container clearfix">
            <div class="border-wrapper">
                <table id="list_Segmentacion"></table>
                <div id="pager_Segmentacion"></div>
            </div>
        </div>
    </div>

</div>


<div id="loadingScreen"></div>

<div id="DialogAsociarProductosRecomendado" style="display: none;">
	<input type="hidden" id="CrossSellingAsociacionID" value="0" />
    <input type="hidden" id="FlagTransaccion" value="0" />
    <input type="hidden" id="hdCampaniaID" value="0" />
    <input type="hidden" id="SegmentoTexto" value="0" />

    <div class="Content_modal">
        <div class="div-3">
            <div class="titB">País:</div>
            <div class="selectA borde_redondeado">
                <input type="text" id="txtPaisModal" readonly="true" />
            </div>
            <div class="titB">Campaña:</div>
            <div class="selectA borde_redondeado">
                <input type="text" id="txtCampaniaModal" readonly="true" />
            </div>
        </div>
        <div class="cuvDescCUV">
            <div class="div-3">
                <div class="titB">CUV:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtCUVModal" type="text" readonly="true" />
                </div>
                <div class="titB">Descripción:</div>
                <div class="selectA borde_redondeado">
                    <input type="text" id="txtDescripcionModal" readonly="true" />
                </div>
            </div>
        </div>

        <div class="divSegPla">
            <div class="div-3">
                <div class="titB">Perfil:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtSegmentoPla" type="text" readonly="true" />
                </div>
                <div class="titB" style="display:none">etiqueta de precio:</div>
                <div class="selectA borde_redondeado" style="display:none">
                    <input type="text" id="txtEtiquetaPrecio" />
                </div>
            </div>
        </div>


        <div class="div-3">
            <div class="titB cuv1asociar">CUV1 a Asociar:</div>
            <div class="selectA borde_redondeado">
                @Html.DropDownListFor(model => model.lstCrossSellingProducto, new SelectList(Model.lstCrossSellingProducto, "CUV", "CUV"), "-- Seleccionar --", new { id = "ddlCUVAsociado" })
            </div>
            <div class="titB1 line_height descripcion1asociar">Descripción 1 Asociada:</div>
            <div class="selectA borde_redondeado">
                <input type="text" id="txtDescripcionAsociadoModal" readonly="readonly" />
            </div>
        </div>
        <div class="cuvDDLCUV">
            <div class="div-3">
                <div class="titB">CUV2 a Asociar:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.lstCrossSellingProducto, new SelectList(Model.lstCrossSellingProducto, "CUV", "CUV"), "-- Seleccionar --", new { id = "ddlCUVAsociado2" })
                </div>
                <div class="titB1 line_height">Descripción 2 Asociada:</div>
                <div class="selectA borde_redondeado">
                    <input type="text" id="txtDescripcionAsociadoModal2" readonly="readonly" />
                </div>
            </div>

        </div>



        <div id="tbl_list_perfil">
            <div class="wrap">
                <div class="container_perfil clearfix">
                    <div class="border-wrapper">
                        <table id="list_perfil"></table>
                        <div id="pager_perfil"></div>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>
