@model Portal.Consultoras.Web.Models.AdministrarApeZonaModel
@{
    ViewBag.Title = "Administrar Zonas";
}

<script>
    jQuery(document).ready(function () {

        IniDialog();
        fnGrilla();

        $("#btnBuscar").click(function () { fnGrilla(); });

        $("#txtCodigoBusqueda").keypress(function (evt) {
            
            var charCode = (evt.which) ? evt.which : window.event.keyCode;
            if (charCode == 13) {
                fnGrilla();
            }
            if (charCode <= 13) {
                return false;
            }
            else {
                var keyChar = String.fromCharCode(charCode);
                var re = /[0-9]|\./;
                return re.test(keyChar);
            }
        });

        $("#txtCantidadDias").keypress(function (evt) {
            
            var charCode = (evt.which) ? evt.which : window.event.keyCode;
            if (charCode == 13) {
                ValidaZona();
            }
            if (charCode <= 13) {
                return false;
            }
            else {
                var keyChar = String.fromCharCode(charCode);
                var re = /[0-9]|\./;
                return re.test(keyChar);
            }
        });
    });

    function IniDialog() {
        
        $('#DialogRegitro').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 500,
            draggable: true,
            title: "Administrar Zona",
            buttons:
                {
                    "Guardar": function () {
                        Grabar();
                    },
                    "Salir": function () {
                        HideDialog("DialogRegitro");
                    }
                }
        });
    }

    function AbrirModal() {
        limpiarModal();
        showDialog("DialogRegitro");
    }

    function limpiarModal() {
        $('#txtCodigo').val("");
        $('#txtCantidadDias').val("");
    }

    function ValidaZona() {
        
        if ($('#txtCantidadDias').val() == "") {
            alert('Ingresar la cantidad de dias.');
            return false;
        }
        return false;
    }

    function LimpiaZona() {
        var imgValidaZona = $('#imgValidaZona');
        var imgLimpiaZona = $('#imgLimpiaZona');
        var txtCodigo = $('#txtCodigo');

        imgValidaZona[0].style['display'] = "inline";
        imgLimpiaZona[0].style['display'] = "none";
        txtCodigo.val("");
    }

    function Grabar() {
        var txtCantidadDias = $('#txtCantidadDias');
        var hidZonaID = $('#hidZonaID');

        if (hidZonaID.val() == "0") {
            alert('Seleccionar una Zona');
            return false;
        }
        if (txtCantidadDias.val() == "") {
            alert('Ingresar la cantidad de dias');
            return false;
        }
        
        waitingDialog({});
        
        var item = {
            ZonaID: hidZonaID.val(),
            CantidadDias: txtCantidadDias.val(),
        };
        
        jQuery.ajax({
            type: 'POST',
            url: baseUrl + 'AdministrarApeZona/Actualizar',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(item),
            async: true,
            success: function (data) {
                if (checkTimeout(data)) {
                    closeWaitingDialog();
                    if (data.success == true) {
                        HideDialog("DialogRegitro");
                        fnGrilla();
                        alert(data.message);
                    }
                    else
                        alert(data.message);
                }
            },
            error: function (data, error) {
                if (checkTimeout(data)) {
                    closeWaitingDialog();
                    alert("ERROR");
                }
            }
        });
    }

    function fnGrilla() {
        
        jQuery("#gvwZona").jqGrid({
            url: baseUrl + "AdministrarApeZona/Consultar",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                vRegionID: function () {
                    var regionID = jQuery.trim($("#ddlRegionID").val());
                    return regionID == "" ? 0 : regionID;
                },
                vCodigo: function () { return jQuery.trim($("#txtCodigoBusqueda").val()); }
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['ZonaID',  'Código Zona', 'Nombre', 'Cantidad días', ''],
            colModel: [
                { name: 'ZonaID', index: 'ZonaID', width: 0, editable: false, align: 'center', hidden: true },
                { name: 'Codigo', index: 'Codigo', width: 50, editable: false, align: 'center' },
                { name: 'Nombre', index: 'Nombre', width: 100, editable: false, align: 'center', resizable: false },
                { name: 'CantidadDias', index: 'CantidadDias', width: 50, editable: true },
                { name: 'Activo', index: 'Activo', width: 10, editable: true, sortable: false, align: 'center', resizable: false, formatter: ShowActions }
            ],
            jsonReader:
                {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: true,
                    cell: "cell"
                },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'ZonaID',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 930,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function () { },
            gridComplete: function () { }
        });
        jQuery("#gvwZona").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#gvwZona").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
    }

    function ShowActions(cellvalue, options, rowObject) {
        
        var edit = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#gvwZona').Editar('" + rowObject[0] + "');\" >" + "<img src='@Url.Content("~/Content/Images/Edit.png")' alt='Modificar' title='Modificar' border='0' /></a>";
        return edit;
    };

    $.jgrid.extend({
        Editar: function (ZonaID) {
            if (ZonaID) {
                AbrirModal();
                $('#hidZonaID').val(ZonaID);
                $('#txtCodigo').val(jQuery("#gvwZona").jqGrid('getCell', ZonaID, 'Codigo'));
                $('#txtCantidadDias').val(jQuery("#gvwZona").jqGrid('getCell', ZonaID, 'CantidadDias'));
            } else {
                alert("No selecciono una Zona");
            }
            return false;
        }
    });
</script>

<div class="wrap_cab">
    <div class="filtros2">
        <div class="elements">
            <div class="div-1">
                <div class="box">
                </div>
            </div>
            <div class="div-2">
                <h1><span>Administrar Zonas - Dias de entrega</span></h1>
            </div>
            <div class="div-3">
                <div class="titC">Regi&oacute;n :</div>
                <div class="selectP2 borde_redondeado">
                    @Html.DropDownList("ddlRegionID", new SelectList(Model.Regiones, "RegionID", "Codigo"), "-- Seleccionar --")
                </div>
                <div class="titC">Zona :</div>
                <div class="selectP2 borde_redondeado">
                    @Html.TextBox("txtCodigoBusqueda", "", new { maxlength = 8 })
                </div>
                <div class="titC"></div>
                <div class="input_search">
                    <input id="btnBuscar" type="button" value="Buscar" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrap">

    <section class="container clearfix">
        <div class="border-wrapper">

            <table id="gvwZona"></table>
            <div id="pager"></div>

        </div>
    </section>

</div>

<div id="loadingScreen"></div>

<div id="DialogRegitro">
    <div class="Content_modal">
        <div class="div-3">
            <div class="titB">Zona:</div>
            <div class="selectA borde_redondeado">
                @Html.TextBoxFor(model => model.Codigo, new { @class = "input_search_form", id = "txtCodigo", disabled = "disabled" })
            </div>
        </div>
        <div class="div-3">
            <div class="titB">Cantidad D&iacute;as:</div>
            <div class="selectA borde_redondeado">
                @Html.TextBoxFor(model => model.CantidadDias, new { @class = "input_search_form", maxlength = 50, id = "txtCantidadDias" })
            </div>
            <div class="titA" style="width: auto; padding: 10px 0px;">
                <img alt="Limpiar" src="~/Content/Images/remove.png" onclick="LimpiaZona();" id="imgLimpiaZona" style="display: none; cursor: pointer" />
            </div>
        </div>
    </div>
    @Html.HiddenFor(model => model.ZonaID, new { id = "hidZonaID" })
</div>