@{
    ViewBag.Title = "Mis clientes";
    Layout = null;
    Layout = "~/Views/Shared/_MainLayoutResponsive.cshtml";
}

<link href="@Url.Content("~/Content/Css/Site/Esika/style.css")" rel="stylesheet" />
<style>
    /*INIT Estilo Panel*/
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #808080;
        overflow-x: hidden;
        transition: 0.5s;
        /*padding-top: 60px;*/
    }

        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

            .sidenav a:hover {
                color: #f1f1f1;
            }

        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }
    /*END Estilo Panel*/
</style>
<input id="hfBaseUrl" type="hidden" value="@Url.Content("~")" />
<input id="hfPaisID" type="hidden" />
<input id="hfClienteID" type="hidden" />
<input id="hfCodigoCliente" type="hidden" />
<input id="hfNombreCliente" type="hidden" />

<hr class="clear" />

<input placeholder="Buscar" type="text" class="buscador_clientes" id="txtBusqueda" style="width:100%" />
<input type="button" id="btnAbrirFormulario" value="AGREGAR CLIENTE" />

<hr class="clear" />

<div id="handlebars_contenedor1"></div>
<script id="handlebars_plantilla1" type="text/x-handlebars-template">
    {{# each miData}}
    <div class="content_listado_notificaciones" onclick="seleccionarRegistro({{PaisID}}, {{ClienteID}}, '{{CodigoCliente}}', '{{NombreCliente}}')">
        <div style="display:none;" class="cliente_id">{{ClienteID}}</div>
        <div style="display:none;" class="codigo_cliente">{{CodigoCliente}}</div>

        <div class="nombre_cliente_sb">{{NombreCliente}}</div>
    </div>
    {{/each}}
</script>

<!-- INIT: Panel cliente-->
<div id="PanelClienteRegistro" class="sidenav">
    <div id="PanelClienteRegistro_contenedor">
    </div>
</div>
<!-- END: Panel cliente-->

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.11.2.min.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/handlebars.min.js")"></script>

<script type="text/javascript">

        var urlLoad = '@Url.Content("~/Content/Images/Loading.gif")';
        var baseUrl = "@Url.Content("~")";

        function seleccionarRegistro(pPaisID, pClienteID, pCodigoCliente, pNombreCliente) {
            console.log(pPaisID, pClienteID, pCodigoCliente, pNombreCliente);


            $("#hfPaisID").val(pPaisID);
            $("#hfClienteID").val(pClienteID);
            $("#hfCodigoCliente").val(pCodigoCliente);
            $("#hfNombreCliente").val(pNombreCliente);
    }

    function PanelRegistroShow() {
        $("#PanelClienteRegistro").css("width", "400px");
    }

    function PanelRegistroHide() {
        $("#PanelClienteRegistro").css("width", "0");
    }

        $(document).ready(function () {

            $('#PanelClienteRegistro_contenedor').load('@Url.Action("Detalle","TusClientes")');//TusClientes/Detalle.cshtml

            $("#btnAbrirFormulario").click(function () {
                PanelRegistroShow();
            });

            $("#txtBusqueda").keypress(function (e) {
                if (e.which == 13) {
                    //if (checkTimeout()) {
                        consultar();
                    //}
                }
            });

            function consultar() {
                var baseUrl = $("#hfBaseUrl").val();

                $.ajax({
                    type: 'POST',
                    url: baseUrl + 'TusClientes/Consultar',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({ texto: $("#txtBusqueda").val()}),
                    async: true,
                    success: function (data) {
                        console.log(data);
                        pintar(data);
                    },
                    error: function (data, error) { }
                });

            }

            function pintar(data) {
                var plantilla = $("#handlebars_plantilla1").html();

                var compiled = Handlebars.compile(plantilla);
                var html = compiled(data);

                $("#handlebars_contenedor1").empty()
                $("#handlebars_contenedor1").append(html);
            }

            consultar();
        });

</script>
