@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Models
@model PartialSectionBpt

@{
    ConfiguracionPaisDatosModel configuracionPaisDatosModel = Model.ConfiguracionPaisDatos;
    RevistaDigitalModel revistaDigital = Model.RevistaDigital;
    var urlLogo = revistaDigital.DLogoComercialNoActiva;
    if (revistaDigital.TieneRDC && revistaDigital.EsSuscrita)
    {
        urlLogo = revistaDigital.DLogoComercialActiva;
    }
}
@if (revistaDigital.TieneRDC)
{
    if (!revistaDigital.EsSuscrita)
    {
        <div class="home_block_rd home_rd" style="background-color: transparent; text-align: left;">
            <div class="content_belcorp" style="background-color: black;">
                <div class="rd_logo rd_logo2">
                    <img src="@revistaDigital.DLogoComercialActiva" alt="" class="large">
                </div>
                <div class="hblock_text" style="padding-top: 32px;">
                    <div class="hblock_tit" style="font-size: 14px;"> @Html.Raw(configuracionPaisDatosModel.Valor1)</div>
                    <div style="font-size: 18px;">@Html.Raw(configuracionPaisDatosModel.Valor2)</div>
                </div>
                <div class="btn_diagonal btn_stroke_white" onclick="RedireccionarContenedorInformativa(@Constantes.OrigenPedidoWeb.RevistaDigitalDesktopCatalogoSeccion);" style="top: 38px;">
                    <div class="activar_boton_dorado_a_blanco" style="padding:0 0;">
                        <a href="#"
                           style="padding-left: 0;text-align: center; color:white; padding:0 0;" onclick="">
                            SUSCRÍBETE GRATIS
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <hr class="clear" />
        <div style="height: 35px; background: #fff;"></div>
    }
}
else if (revistaDigital.TieneRDI)
{
    @*<div class="home_block_rd home_rd" style="background-color: transparent; text-align: left;">
            <div class="content_belcorp" style="background-color: black;">
                <div class="rd_logo">
                    <img src="@urlLogo" alt="" class="large">
                </div>
                <div class="hblock_text"  style="padding-top: 32px;">
                    <div class="hblock_tit">@Html.Raw(configuracionPaisDatosModel.Valor1)</div>
                    <div>@Html.Raw(configuracionPaisDatosModel.Valor2)</div>
                </div>
                <div class="btn_diagonal btn_stroke_white" style="top: 38px;">
                    <div class="activar_boton_rojo_a_blanco" style="padding:0px 0px;">
                        <a href="javascript:RedireccionarContenedorComprar(@Constantes.OrigenPedidoWeb.RevistaDigitalDesktopCatalogoSeccion, '@Constantes.ConfiguracionPais.OfertasParaTi')" style="    padding-left: 0px;
                            text-align: center; color:white; padding:0 0;">
                            VER TODAS MIS OFERTAS
                        </a>
                    </div>
                </div>
            </div>
        </div>*@

    <div class="contenedor_ganamas" style="padding-top: 6px; margin-top: -40px;">
        <div class="sb_contenedor_ganamas" style="top:0px;">
            <div class="head_gana_mas" style="margin-bottom: 0;">
                <div class="club_logo">
                    <div class="centrar_vertical">
                        <div class="centrar_cont_club logo_no_suscrita">
                        </div>
                    </div>
                </div><div class="clubtxt">
                    <div class="centrar_vertical">
                        <div class="centrar_cont_club">
                            <p>@Html.Raw(configuracionPaisDatosModel.Valor1)</p>
                        </div>
                    </div>
                </div><div class="club_btn">
                    <div class="centrar_vertical">
                        <div class="centrar_cont_club">
                            <div class="activar_boton_esika_no_animado bg_activar_boton_no_animado">
                                <a href="javascript:RedireccionarContenedorComprar(@Constantes.OrigenPedidoWeb.RevistaDigitalDesktopCatalogoSeccion, '@Constantes.ConfiguracionPais.Inicio')">VER MÁS</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>
        </div>
    </div>

    <hr class="clear" />
    <div style="height: 35px; background: #fff;"></div>
}
