@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Models
@model PartialSectionBpt

@{
    ConfiguracionPaisDatosModel configuracionPaisDatosModel = Model.ConfiguracionPaisDatos;
    RevistaDigitalModel revistaDigital = Model.RevistaDigital;
    var urlLogo = revistaDigital.DLogoComercialNoActiva;
    if (revistaDigital.TieneRDC && revistaDigital.EsSuscrita)
    {
        urlLogo = revistaDigital.DLogoComercialActiva;
    }
    else if (revistaDigital.TieneRDR)
    {
        urlLogo = revistaDigital.DLogoComercialFondoNoActiva;
    }
}
@if (revistaDigital.TieneRDC)
{
    if (!revistaDigital.EsSuscrita)
    {
        <div class="home_block_rd home_rd" style="background-color: transparent; text-align: left;">
            <div class="content_belcorp" style="background-color: black;">
                <div class="rd_logo rd_logo2">
                    <img src="@revistaDigital.DLogoComercialActiva" alt="" class="large">
                </div>
                <div class="hblock_text">
                    <div class="hblock_tit" style="font-size: 14px;"> @Html.Raw(configuracionPaisDatosModel.Valor1)</div>
                    <div style="font-size: 18px;">@Html.Raw(configuracionPaisDatosModel.Valor2)</div>
                </div>
                <div class="btn_diagonal btn_stroke_white" onclick="RedireccionarContenedorInformativa(@Constantes.OrigenPedidoWeb.RevistaDigitalDesktopCatalogoSeccion);">
                    <div class="activar_boton_dorado_a_blanco" style="padding:0 0;">
                        <a href="#" 
                           style="padding-left: 0;text-align: center; color:white; padding:0 0;" onclick="">
                            SUSCRÍBETE GRATIS
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <hr class="clear" />
        <div style="height: 35px; background: #fff;"></div>
    }
}
else if (revistaDigital.TieneRDI)
{
    <div class="home_block_rd home_rd" style="background-color: transparent; text-align: left;">
        <div class="content_belcorp" style="background-color: black;">
            <div class="rd_logo">
                <img src="@urlLogo" alt="" class="large">
            </div>
            <div class="hblock_text">
                <div class="hblock_tit">@Html.Raw(configuracionPaisDatosModel.Valor1)</div>
                <div>@Html.Raw(configuracionPaisDatosModel.Valor2)</div>
            </div>
            <div class="btn_diagonal btn_stroke_white">
                <div class="activar_boton_rojo_a_blanco" style="padding:0px 0px;">
                    <a href="javascript:RedireccionarContenedorComprar(@Constantes.OrigenPedidoWeb.RevistaDigitalDesktopCatalogoSeccion, '@Constantes.ConfiguracionPais.RevistaDigital')" style="    padding-left: 0px;
                        text-align: center; color:white; padding:0 0;">
                        VER TODAS MIS OFERTAS
                    </a>
                </div>
            </div>
        </div>
    </div>
    <hr class="clear" />
    <div style="height: 35px; background: #fff;"></div>
}
else if (revistaDigital.TieneRDR)
{
    <div class="revista_content" id="contentRevistaDigital" style="height: 300px; position: relative;">
        <div>
            <div style="height: 127px; position: relative; margin-bottom: 16px;">
                <img src="@urlLogo" alt="" class="large" />
            </div>
            <div>
                <span style="display: block; font-size: 18px; font-weight: bold; padding-left: 0;">@Html.Raw(configuracionPaisDatosModel.Valor1)</span>
                <span style="display: block; font-size: 15px; font-weight: bold; padding-left: 10px;">@Html.Raw(configuracionPaisDatosModel.Valor2)</span>
            </div>
            <div class="revistadigital revistaDigital_catalogosRevistas">
                <div class="boxoffer" onclick="RedireccionarContenedorInformativa(@Constantes.OrigenPedidoWeb.RevistaDigitalDesktopCatalogoSeccion);">
                    <div class="fondo_boton"></div>
                    <span class="texto_boton">VER M&Aacute;S OFERTAS PARA M&Iacute;</span>
                </div>
            </div>
        </div>
    </div>

}
