@model Portal.Consultoras.Web.Models.ClienteModel
@{
    ViewBag.Title = "Cátalogos";
}

<input type="hidden" id="hdPaisId" value="@Model.PaisID" />
<input type="hidden" id="hdCampaniaAnterior" value="@Model.CampaniaAnterior" />
<input type="hidden" id="hdCampaniaActual" value="@Model.CampaniaActual" />
<input type="hidden" id="hdCampaniaSiguiente" value="@Model.CampaniaSiguiente" />

<div id="contentCatalogo">
    <div class="titulo_central" id="TextoCampania"></div>
    <span class="arrow_catalogo"><img src="@Url.Content("~/Content/Images/Esika/catalogos_arrow.png")" onclick="CatalogoMostrar(-1, this)" data-accion="a" /></span>
    <div>
        <div class="content_carrusel_catalogo" id="divCatalogo">
        </div>
    </div>
    <span class="arrow_catalogo2"><img src="@Url.Content("~/Content/Images/Esika/catalogos_arrow2.png")" onclick="CatalogoMostrar(1, this)" data-accion="s" /></span>
    <hr class="clear" />
</div>

<div id="xHtmlItemCatalogo" style="display: none;">
    <div data-cam="{campania}" data-cat="{tipoCatalogo}">
        <div class="item1_catalogo" data-tipo="content">
            <a class="revista" data-tipo="img" target="_blank" href="">
                <img src="@Url.Content("~/Content/Images/catalogo_no_disponible.jpg")" />
            </a>
            <div data-tipo="descrip">{descripcion}</div>
            <input id="txtUrl{tipoCatalogo}" type="hidden" value="" />
            <a class="compartir_catalogo_mensaje"><img src="@Url.Content("~/Content/Images/Esika/catalogo_mensaje.png")" /></a>
            <a class="compartir_catalogo_facebook" data-accion="face" onclick="CompartirFacebook('{comp}', this)"><img src="@Url.Content("~/Content/Images/Esika/catalogo_facebook.png")" /></a>
        </div>
    </div>
</div>
