@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Models
@model MisCatalogosRevistasModel

@{
    Layout = "~/Views/Shared/_MainLayoutResponsive.cshtml";
    var title = Model.Titulo;
    ViewBag.Title = title;
    var userAgent = HttpContext.Current.Request.UserAgent.ToLower();
    var urlApp = userAgent.Contains("iphone;") ? "https://itunes.apple.com/pe/app/catalogos-esika-lbel-cyzone/id1052948837?mt=8"
                                                                                     : "https://play.google.com/store/apps/details?id=belcorp.modobeta.catalogov2&hl=es_419";
    var textApp = userAgent.Contains("iphone;") ? "Gratis en App Store" : "Gratis en Play Store";
}

<link href="@Url.Content("~/Content/Css/Site/MisCatalogosYRevistas/MisCatalogosYRevistas2.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Css/Site/jquery.tag-editor.css")" rel="stylesheet">

<input type="hidden" id="hdPaisNombre" value="@Model.PaisNombre" />
<input type="hidden" id="hdCampaniaAnterior" value="@Model.CampaniaAnterior" />
<input type="hidden" id="hdCampaniaActual" value="@Model.CampaniaActual" />
<input type="hidden" id="hdCampaniaSiguiente" value="@Model.CampaniaSiguiente" />
<input type="hidden" id="hdrCampaniaAnterior" value="@Model.CampaniaAnterior" />
<input type="hidden" id="hdrCampaniaActual" value="@Model.CampaniaActual" />
<input type="hidden" id="hdrCampaniaSiguiente" value="@Model.CampaniaSiguiente" />

<main class="w-100 row flex-column justify-content-center ml-0 mr-0 layout__main__content">

    <!-- BANNER DESCARGA TU APP DE CATÁLOGOS -->
    <section class="row flex-row justify-content-center align-items-center ml-0 mr-0 descarga__tu__app__catalogos__banner mostrarEnMobile">
        <div class="col pl-0 pr-0 descarga__tu__app__catalogos__img">
            <img src="@Url.Content("~/Content/Images/Mobile/Esika/fondo_app.png")" alt="Descarga tu app de catálogos" />
        </div>
        <div class="col-5 pl-0 pr-0 descarga__tu__app__catalogos__texto">
            <h3 class="text-bold text-uppercase">Descarga tu<br />app de catálogos</h3>
            <p class="text-thin">@textApp</p>
        </div>
        <a href="@urlApp" class="col-4 pl-0 pr-0 d-block text-uppercase text-center text-bold descarga__tu__app__catalogos__btn">
            Obtener
        </a>
    </section>
    <!-- FIN - BANNER DESCARGA TU APP DE CATÁLOGOS -->

    <!-- TITULO DE VISTA CATÁLOGOS -->
    <section class="row flex-row justify-content-start ml-0 mr-0 layout__view__title__wrapper">
        <div class="col-12 pl-0 pr-0 mx-auto layout__view__title">
            <div class="layout__view__title__background mostrarEnDesktop"></div>
            <h1 class="col-12 col-lg-6 col-xl-6 pl-lg-0 pl-xl-0 pr-lg-0 pr-xl-0 row flex-column flex-lg-row flex-xl-row flex-wrap flex-lg-nowrap flex-xl-nowrap justify-content-center justify-content-lg-start justify-content-xl-start align-items-lg-center align-items-xl-center layout__view__title__text text-uppercase">
                <a class="d-block layout__view__title__icono__volver mostrarEnMobile">
                    <img class="d-block" src="@Url.Content("~/Content/Images/icono_volver_mobile.svg")" alt="" />
                </a>
                <span class="d-block">
                    Mis <span class="text-bold">@title</span>
                </span>
            </h1>
        </div>
    </section>
    <!-- FIN - TITULO DE VISTA CATÁLOGOS -->

    <!-- TABS PARA MOSTRAR SECCIÓN CATÁLOGOS O REVISTAS -->
    <ul class="col-12 pl-0 pr-0 row flex-row justify-content-between ml-0 mr-0 mb-0 tabs__catalogos__revistas mostrarEnMobile">
        <li class="col-6 pl-0 pr-0 tab__catalogos__revistas tab__catalogos">
            <a class="d-block text-uppercase text-center" title="Catálogos">
                Catálogos
            </a>
            <div class="col-12 pl-0 pr-0 d-block indicador__catalogos__revistas indicador__catalogos__revistas--activo"></div>
        </li>
        <li class="col-6 pl-0 pr-0 tab__catalogos__revistas tab__revistas">
            <a class="d-block text-uppercase text-center" title="Revistas">
                Revistas
            </a>
            <div class="col-12 pl-0 pr-0 d-block indicador__catalogos__revistas"></div>
        </li>
    </ul>
    <!-- FIN - TABS PARA MOSTRAR SECCIÓN CATÁLOGOS O REVISTAS -->

    <section class="row flex-row justify-content-center ml-0 mr-0 mx-auto layout__content">

        <!-- CONTENIDO DE VISTA -->
        <section class="col-12 pl-0 pr-0 contenido__seccion__catalogo">
            <div class="col-12 col-sm-8 col-md-8 col-lg-7 col-xl-7 pl-0 pr-0 text-left info__catalogos__revistas mostrarEnDesktop">
                Revisa y comparte los catálogos con tus clientes.
            </div>
            <div class="col-12 pl-0 pr-0 text-center mx-auto info__catalogos__revistas mostrarEnMobile">
                Revisa y comparte los nuevos <span class="text-bold">Catálogos Digitales</span> con tus clientes.
            </div>
        </section>
        <!-- SECCIÓN CARRUSEL DE CATÁLOGOS CAMPAÑA ANTERIOR, ACTUAL Y SIGUIENTE -->
        <section class="col-12 pl-0 pr-0 row flex-row justify-content-center justify-content-lg-between justify-content-xl-between ml-lg-0 mr-lg-0 ml-xl-0 mr-xl-0 catalogos__por__campania__slider__wrapper contenido__seccion__catalogo">

            <div class="col-8 col-lg-12 col-xl-12 text-center pl-0 pr-0 catalogos__por__campania__num" id="contentCatalogo">
                <span class="text-uppercase text-bold" id="TextoCampania">Catálogos </span>
                @*<span class="text-uppercase text-bold num__campania">C17</span>*@
            </div>
            <a class="col-1 pl-0 pr-0 row flex-row justify-content-start align-items-start align-items-lg-center align-items-xl-center ml-0 mr-0 catalogos__por__campania__slider__control catalogos__por__campania__slider__control__izq" title="Atrás">
                <img src="@Url.Content("~/Content/Images/arrow_left.svg")" alt="" onclick="CatalogoMostrar(-1, this)" data-accion="a" />
            </a>

            <div class="col-12 col-lg-10 col-xl-10 pl-0 pr-0 row flex-row justify-content-center ml-0 mr-0 catalogos__por__campania__item__slider" id="divSection">
                                        
            </div>

            <div id="xhtmlSection" style="display: none;">
                <section class="col-12 pl-0 pr-0 row flex-row justify-content-center ml-0 mr-0 catalogos__por__campania__item__slider" id="{sectionid}">
                    <div class="col-12 pl-0 pr-0 row flex-row align-items-center ml-0 mr-0 catalogos__por__campania__item__imagenes">   
                        
                        <div class="col-12 pl-0 pr-0 row flex-row align-items-center ml-0 mr-0 content_carrusel_catalogo" id={divCatalogo} >

                        </div>
                                        
                    </div>
                </section>
            </div>

            <div id="xHtmlItemCatalogo" style="display: none;">
                <div class="col-10 col-lg-3 col-xl-3 pl-0 pr-0 catalogos__por__campania__item__imagen" data-cam="{campania}" data-cat="{tipoCatalogo}" data-estado="{estado}">
                    <a class="d-block mx-auto revista" data-tipo="img" href="" target="_blank">
                        <img class="d-block" src="@Url.Content("~/Content/Images/catalogo_no_disponible.jpg")" alt="" />
                    </a>
                    <div class="row flex-row justify-content-between align-items-start ml-0 mr-0 catalogos__por__campania__item__modos__compartir" data-tipo="content">

                        <div data-tipo="descrip" style="display:none;">{descripcion}</div>
                        <input id="txtUrl{tipoCatalogo}" type="hidden" value="" />

                        <a class="col-4 col-lg-6 col-xl-6 pl-0 pr-0 row flex-row justify-content-center align-items-center ml-0 mr-0 modo__compartir__catalogo modo__compartir__catalogo--whatsapp mostrarEnMobile" title="Compartir por WhatsApp" data-accion="whatsapp" onclick="RedesSociales.TagManagerWS('{comp}','{campania}');">
                            <img src="@Url.Content("~/Content/Images/mobile/Esika/catalogo_ws2.png")" alt="Compartir por WhatsApp" />
                        </a>
                        <a class="col-4 col-lg-6 col-xl-6 pl-0 pr-0 row flex-row justify-content-center align-items-center ml-0 mr-0 modo__compartir__catalogo modo__compartir__catalogo--facebook" title="Compartir por Facebook" data-accion="face" onclick="RedesSociales.CompartirFacebook('{comp}', '{campania}', this)">
                            <img src="@Url.Content("~/Content/Images/Esika/catalogo_facebook.png")" alt="Compartir por Facebook" />
                        </a>
                        <a class="col-4 col-lg-6 col-xl-6 pl-0 pr-0 row flex-row justify-content-center align-items-center ml-0 mr-0 modo__compartir__catalogo modo__compartir__catalogo--mail" title="Compartir por email" onclick="javascript: RedesSociales.AbrirCompartirCorreoActual('{tipoCatalogo}', '{campania}');">
                            <img src="@Url.Content("~/Content/Images/Esika/catalogo_mensaje.png")" alt="Compartir por email" />
                        </a>
                    </div>
                </div>
            </div>

            <div id="xhtmlSectionActual" style="display: none;">
                <section class="col-12 col-lg-10 col-xl-10 pl-0 pr-0 row flex-row justify-content-center ml-0 mr-0 catalogos__por__campania__item__slider" id="{sectionid}">
                    <div class="col-12 pl-0 pr-0 row flex-row flex-nowrap flex-lg-wrap flex-xl-wrap align-items-center ml-lg-0 ml-xl-0 mr-lg-0 mr-xl-0 catalogos__por__campania__item__imagenes" id={divCatalogo}>

                    </div>
                </section>
            </div>

            <div id="xHtmlItemCatalogoActual" style="display: none;">
                <div class="col-3 pl-0 pr-0 catalogos__por__campania__item__imagen" data-cam="{campania}" data-cat="{tipoCatalogo}" data-estado="{estado}">
                    <a class="d-block revista" data-tipo="img" href="" target="_blank">
                        <img class="d-block" src="@Url.Content("~/Content/Images/catalogo_no_disponible.jpg")" alt="" />
                    </a>                    
                </div>
            </div>

            <div id="xHtmlItemCatalogoPasosActual" style="display: none;">
                <div class="col-12 pl-0 pr-0 row flex-row justify-content-center justify-content-lg-between justify-content-xl-between align-items-center ml-0 mr-0 catalogos__por__campania__item__descrip">
                    <div class="col-7 pl-0 pr-0 mostrarEnDesktop">
                        Mejoramos la manera de compartir<br />nuestros catálogos. <span class="text-bold">¡Ahora son digitales!</span>
                    </div>
                    <div class="col-8 col-lg-5 col-xl-5 pl-0 pr-0 compartir__catalogo__area">
                        <button type="button" id="btnCompartir" class="col-12 pl-0 pr-0 row flex-row ml-0 mr-0 justify-content-center text-uppercase btn__compartir btn__compartir--slider">
                            Compartir
                        </button>
                        <div class="row flex-row align-items-center ml-0 mr-0 mx-auto opciones__compartir__catalogos">
                            <input id="txtUrlActual" value="" class="txtUrlActual"/>
                            <a class="d-block col-3 col-lg col-xl pl-0 pr-0 text-center opcion__compartir__catalogo opcion__compartir__catalogo--whatsapp" title="Compartir por WhatsApp" data-accion="whatsapp" onclick="RedesSociales.CompartirWhatsAppActual('{tipoCatalogoTodo}', '{campania}', '{textourl}')">
                                <img class="d-block mx-auto" src="@Url.Content("~/Content/Images/logo_whatsapp.svg")" alt="Compartir por WhatsApp" />
                            </a>
                            <a class="d-block col-3 col-lg col-xl pl-0 pr-0 text-center opcion__compartir__catalogo opcion__compartir__catalogo--facebook" title="Compartir por Facebook" data-accion="face" onclick="RedesSociales.CompartirFacebookActual('{tipoCatalogoTodo}', '{campania}', '{textourl}')">
                                <img class="d-block mx-auto" src="@Url.Content("~/Content/Images/logo_facebook2.svg")" alt="Compartir por Facebook" />
                            </a>
                            <a class="d-block col-3 col-lg col-xl pl-0 pr-0 text-center opcion__compartir__catalogo opcion__compartir__catalogo--email" title="Compartir por Email" data-accion="mail" onclick="javascript: RedesSociales.AbrirCompartirCorreoActual('{tipoCatalogoTodo}', '{campania}');">
                                <img class="d-block mx-auto" src="@Url.Content("~/Content/Images/logo_gmail.svg")" alt="Compartir por Email" />
                            </a>
                            <a class="d-block col-3 col-lg col-xl pl-0 pr-0 text-center opcion__compartir__catalogo opcion__compartir__catalogo--facebookMessenger" title="Compartir por Facebook Messenger">
                                <img class="d-block mx-auto" src="@Url.Content("~/Content/Images/logo__facebook__messenger.svg")" alt="Compartir por Facebook Messenger" />
                            </a>
                            <a class="d-block text-center text-uppercase opcion__compartir__catalogo opcion__compartir__catalogo--copiarEnlace" title="Copiar enlace" data-accion="copiar" onclick="javascript: CopiarEnlaceActual('{tipoCatalogoTodo}', '{campania}')">
                                Copiar enlace
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row flex-row justify-content-center ml-0 mr-0 mx-auto info__pasos__compartir__catalogo__campaniaActual__wrapper">
                    <div class="col-12 col-lg-7 col-xl-7 pl-lg-0 pr-xl-0 info__pasos__compartir__catalogo__campaniaActual">
                        <p class="col-12 pl-0 pr-0 text-left text-lg-center text-xl-center info__pasos__compartir__catalogo__campaniaActual__subtitulo info__pasos--parteSuperior">
                            <span class="d-block col-12 pl-0 pr-0">
                                A continuación te contamos cómo funciona :
                            </span>
                        </p>
                        <ul class="col-12 pl-0 pr-0 text-left lista__pasos__compartir__catalogo__campaniaActual">
                            <li class="row flex-row flex-nowrap flex-lg-wrap flex-xl-wrap justify-content-start align-items-start ml-0 mr-0 paso__compartir__catalogo__campaniaActual">
                                <span class="icono__paso__compartir__catalogo__campaniaActual">
                                    <img src="@Url.Content("~/Content/Images/icono_paso_compartir_catalogo.svg")" alt="" />
                                </span>
                                <span class="icono__paso__compartir__catalogo__campaniaActual__descrip">
                                    Comparte los 3 catálogos con un solo click
                                </span>
                            </li>
                            <li class="row flex-row flex-nowrap flex-lg-wrap flex-xl-wrap justify-content-start align-items-start ml-0 mr-0 paso__compartir__catalogo__campaniaActual">
                                <span class="icono__paso__compartir__catalogo__campaniaActual">
                                    <img src="@Url.Content("~/Content/Images/icono_paso_compartir_catalogo.svg")" alt="" />
                                </span>
                                <span class="icono__paso__compartir__catalogo__campaniaActual__descrip">
                                    Tu cliente podrá seleccionar los productos directament en el catálogo, agregarlos a su bolsa de compras y enviártelos.
                                </span>
                            </li>
                            <li class="row flex-row flex-nowrap flex-lg-wrap flex-xl-wrap justify-content-start align-items-start ml-0 mr-0 paso__compartir__catalogo__campaniaActual">
                                <span class="icono__paso__compartir__catalogo__campaniaActual">
                                    <img src="@Url.Content("~/Content/Images/icono_paso_compartir_catalogo.svg")" alt="" />
                                </span>
                                <span class="icono__paso__compartir__catalogo__campaniaActual__descrip">
                                    Te llegará una notificación cada vez que tengas un nuevo pedido y podrás aceptarlo o rechazarlo. Si lo aceptas, se agregará automáticamente a tu pase de pedido.
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="w-100" style="position:relative;">
                        <p class="col-12 col-sm-8 col-md-8 col-lg-7 col-xl-7 pl-0 pr-0 text-center mx-auto info__pasos__compartir__catalogo__campaniaActual__subtitulo info__pasos--parteInferior">
                            <span class="d-block col-12 pl-0 pr-0 text-bold mb-14">
                                ¡Olvídate de las capturas de pantalla y las libretas, nosotros llevamos los apuntes por ti!
                            </span>
                            <span class="d-block col-12 pl-0 pr-0">
                                Empieza a compartir los catálogos digitales por los medios que más uses
                            </span>
                        </p>
                        <div class="col-12 pl-0 pr-0 background__opciones__compartir__catalogos mostrarEnMobile"></div>
                        <div class="col-12 col-lg-8 col-xl-8 pl-0 pr-0 mx-auto compartir__catalogo__area">
                            <button type="button" class="col-12 pl-0 pr-0 row flex-row ml-0 mr-0 mx-auto justify-content-center text-uppercase btn__compartir" id="btnCompartirActual">
                                Compartir
                            </button>
                            <div class="row flex-row align-items-center ml-0 mr-0 mx-auto opciones__compartir__catalogos">
                                <a class="d-block col-3 col-lg col-xl pl-0 pr-0 text-center opcion__compartir__catalogo opcion__compartir__catalogo--whatsapp" title="Compartir por WhatsApp" data-accion="whatsapp" onclick="RedesSociales.CompartirWhatsAppActual('{tipoCatalogoTodo}', '{campania}', '{textourl}')">
                                    <img class="d-block mx-auto" src="@Url.Content("~/Content/Images/logo_whatsapp.svg")" alt="Compartir por WhatsApp" />
                                </a>
                                <a class="d-block col-3 col-lg col-xl pl-0 pr-0 text-center opcion__compartir__catalogo opcion__compartir__catalogo--facebook" title="Compartir por Facebook" data-accion="face" onclick="RedesSociales.CompartirFacebookActual('{tipoCatalogoTodo}', '{campania}', '{textourl}')">
                                    <img class="d-block mx-auto" src="@Url.Content("~/Content/Images/logo_facebook2.svg")" alt="Compartir por Facebook" />
                                </a>
                                <a class="d-block col-3 col-lg col-xl pl-0 pr-0 text-center opcion__compartir__catalogo opcion__compartir__catalogo--email" title="Compartir por Email" data-accion="mail" onclick="javascript: RedesSociales.AbrirCompartirCorreoActual('{tipoCatalogoTodo}', '{campania}');">
                                    <img class="d-block mx-auto" src="@Url.Content("~/Content/Images/logo_gmail.svg")" alt="Compartir por Email" />
                                </a>
                                <a class="d-block col-3 col-lg col-xl pl-0 pr-0 text-center opcion__compartir__catalogo opcion__compartir__catalogo--facebookMessenger" title="Compartir por Facebook Messenger">
                                    <img class="d-block mx-auto" src="@Url.Content("~/Content/Images/logo__facebook__messenger.svg")" alt="Compartir por Facebook Messenger" />
                                </a>
                                <a class="d-block text-center text-uppercase opcion__compartir__catalogo opcion__compartir__catalogo--copiarEnlace" title="Copiar enlace" data-accion="copiar" onclick="javascript: CopiarEnlaceActual('{tipoCatalogoTodo}', '{campania}')">
                                    Copiar enlace
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
  
            <a class="col-1 pl-0 pr-0 row flex-row justify-content-end align-items-start align-items-lg-center align-items-xl-center ml-0 mr-0 catalogos__por__campania__slider__control catalogos__por__campania__slider__control__der" title="Siguiente">
                <img src="@Url.Content("~/Content/Images/arrow_right.svg")" alt="" onclick="CatalogoMostrar(1, this)" data-accion="s" />
            </a>
        </section>
        <!-- FIN - SECCIÓN CARRUSEL DE CATÁLOGOS CAMPAÑA ANTERIOR, ACTUAL Y SIGUIENTE -->

        <!-- SECCIÓN MI REVISTA -->
        <section id="contentRevista" class="col-12 pl-0 pr-0 row flex-row justify-content-center align-items-start ml-0 mr-0 mi__revista__wrapper contenido__seccion__mi__revista">
            <div class="col-12 text-center pl-0 pr-0 revista__por__campania__num" data-titulo='revista'>
                <span class="text-uppercase text-bold">Revista C-18</span>
            </div>

            <!-- CONTENIDO SECCIÓN MI REVISTA CUANDO TIENE GND -->
            <div class="col-12 col-lg-6 col-xl-6 pl-0 pr-0 row flex-row justify-content-center justify-content-lg-between justify-content-xl-between align-items-center ml-0 mr-0 mi__revista">
                <a href="javascript:;" id="lbPortadaGana" title="Mi Revista" class="col-12 col-lg-6 col-xl-6 pl-0 pr-0 d-block mi__revista__imagen">
                    <img src="@Url.Content("~/Content/Images/revista_no_disponible.jpg")" id="imgPortadaGana" alt="Mi Revista" />
                </a>
                <div class="col-12 col-lg-6 col-xl-6 pl-0 pr-0 text-center mi__revista__info">
                    <p class="col-6 col-lg-12 col-xl-12 pl-0 pr-0 mx-auto mi__revista__info__texto">
                        Tu guía de negocio por siempre, <span class="text-bold text-uppercase">Ahora digital</span>
                    </p>
                    <a href="@Url.Action("Index", "GuiaNegocio")" target="_blank" class="d-block col-12 pl-0 pr-0 text-uppercase mx-auto btn__encuentra__aqui__tu__revista__digital">
                        Encuéntrala aquí
                    </a>
                </div>
            </div>
            <!-- FIN - CONTENIDO SECCIÓN MI REVISTA CUANDO TIENE GND -->

            <!-- CONTENIDO SECCIÓN MI REVISTA CUANDO NO TIENE GND -->
            <div class="col-12 col-lg-5 col-xl-5 pl-0 pr-0 row flex-row justify-content-around align-items-center ml-0 mr-0 revistas__por__campania__slider" style="display:none;">
                <a data-accion="a" class="col-1 pl-0 pr-0 row flex-row justify-content-start align-items-start align-items-lg-center align-items-xl-center ml-0 mr-0 revistas__por__campania__slider__control revistas__por__campania__slider__control__izq" title="Atrás">
                    <img src="@Url.Content("~/Content/Images/arrow_left.svg")" alt="" onclick="RevistaMostrar(-1, this)" />
                </a>
                <a href="javascript:;" onclick="MostrarMiRevista();" id="lbPortadaGana" title="Mi Revista" class="col-12 col-lg-6 col-xl-6 pl-0 pr-0 d-block mi__revista__imagen">
                    <img src="@Url.Content("~/Content/Images/revista_no_disponible.jpg")" id="imgPortadaGana" alt="Mi Revista" />
                </a>
                <a data-accion="d" class="col-1 pl-0 pr-0 row flex-row justify-content-end align-items-start align-items-lg-center align-items-xl-center ml-0 mr-0 revistas__por__campania__slider__control revistas__por__campania__slider__control__der" title="Siguiente">
                    <img src="@Url.Content("~/Content/Images/arrow_right.svg")" alt="" onclick="RevistaMostrar(1, this)" />
                </a>
            </div>
            <!-- CONTENIDO SECCIÓN MI REVISTA CUANDO NO TIENE GND -->

        </section>
        <!-- FIN - SECCIÓN MI REVISTA -->
        <!-- FIN - CONTENIDO DE VISTA -->
    </section>

</main>

<div id="CompartirCorreo" class="CompartirCorreoPop">
    <div class="contentCompartir">
        <a class="cerrar_compartir" style="margin-right:-50px;" href="javascript:;" onclick="javascript: $('#CompartirCorreo').hide();">
            <img src="@Url.Content("~/Content/Images/cerrar_04.png")" alt=" alternate text" />
        </a>
        <div class="titulo_compartir">COMPARTIR <b>CATÁLOGO</b></div>
        <div class="Label_compartir">Agregar contacto:</div>
        <a class="mostrar_todos">Añadir todos mis contáctos (##)</a>
        <hr class="clear" />
        <div id="tagParent" style="border: 1px solid #c5c5c5; margin: 10px 0 20px 0; padding: 10px; padding-left: 8px; ">
            <div style="width:100%;margin:auto;">
                <textarea id="tagCorreo"></textarea>
            </div>
        </div>
        <div class="Label_compartir">Mensaje (Editable):</div>
        <textarea name="comentarios" class="text_compartir" id="comentarios" maxlength="500"></textarea>
        <div class="Label_compartir" id="divDescEnviar">Catálogos a enviar:</div>
        <hr class="clear" />
        <div id="divCheckbox">
            <div data-cat="Esika">
                <div class="content_checkbox">
                    <input class="inputradio" type="checkbox">
                    <span class="inputfalso"></span>
                </div>
                <div class="check_label">Ésika</div>
            </div>
            <div data-cat="Lbel">
                <div class="content_checkbox">
                    <input class="inputradio" type="checkbox">
                    <span class="inputfalso"></span>
                </div>
                <div class="check_label">L'Bel</div>
            </div>
            <div data-cat="Cyzone">
                <div class="content_checkbox">
                    <input class="inputradio" type="checkbox">
                    <span class="inputfalso"></span>
                </div>
                <div class="check_label">Cyzone</div>
            </div>
            <hr class="clear" />
        </div>
        <a class="btn_enviar_correo" id="btnEnviarCorreo">ENVIAR</a>
    </div>
</div>

<div class="mensaje_alerta_belcorp" id="mensaje_alerta">
    <div class="content_mensaje_alerta">
        <a class="btn_cerrar_alerta" href="javascript:;" onclick="javascript: $('#mensaje_alerta').hide();"><img src="@Url.Content("~/Content/Images/cerrar_04.png")" /></a>
        <hr class="clear" />
        <div class="icono_mensaje_alerta icono_check_alerta"></div>
        <div class="texto_mensaje_alerta" id="mensaje_alerta_titulo">¡BIEN <b>HECHO</b>! </div>
        <div class="sub_texto_alerta" id="mensaje_alerta_texto">Se envió satisfactoriamente el correo a los clientes(s) seleccionado(s)</div>
        <a class="btn_ok_alerta" onclick="javascript: $('#mensaje_alerta').hide();">OK</a>
    </div>
</div>
<div class="mensaje_alerta_belcorp" id="mensaje_exclamacion">
    <div class="content_mensaje_alerta">
        <a class="btn_cerrar_alerta" href="javascript:;" onclick="javascript: $('#mensaje_exclamacion').hide();"><img src="@Url.Content("~/Content/Images/cerrar_04.png")" /></a>
        <hr class="clear" />
        <div class="icono_mensaje_alerta icono_exclamacion_alerta"></div>
        <div class="texto_mensaje_alerta" id="mensaje_exclamacion_titulo">LO <b>SENTIMOS</b> </div>
        <div class="sub_texto_alerta" id="mensaje_exclamacion_texto">Debe seleccionar al menos un Catálogo</div>
        <a class="btn_ok_alerta" onclick="javascript: $('#mensaje_exclamacion').hide();">OK</a>
    </div>
</div>

<div style="display: none;">
    @using (Html.BeginForm("MiRevista", "MisCatalogosRevistas", FormMethod.Post, new { id = "frmMiRevista", target = "_blank" }))
    {
        <input type="hidden" name="campaniaRevista" id="campaniaRevista" value="">
    }
</div>


    
<style type="text/css">
    .txtUrlActual{
        position: fixed;
        top: 0;
        left: 0;
        width: 1px;
        height: 1px;
        padding: 0;
        border: none;
        outline: none;
        box-shadow: none;
        background: transparent;
    }
</style>        

@section scripts{
    <script type="text/javascript" id="js-ready-Catalogo">
        var demo = true;

        var urlPiloto = '@Constantes.CatalogoUrlDefault.Piloto';
        var codigoConsultora = '@ViewBag.CodigoConsultoraDL';
        var imgNoDisponible = '@Url.Content("~/Content/Images/catalogo_no_disponible.jpg")';
        var imgIssuu = '@Constantes.CatalogoUrlParameters.UrlPart01' +
            '{img}' +
            '@Constantes.CatalogoUrlParameters.UrlPart02Alternativo';
        imgIssuu = imgIssuu.startsWith("https") ? imgIssuu.replace("https://", "http://") : imgIssuu;
        var urlObtenerPortadaRevista = '@Url.Action("ObtenerPortadaRevista", "Catalogo", new { area = "Mobile" })';
        var defaultImageRevista = '@Url.Content("~/Content/Images/revista_no_disponible.jpg")';
        var urlIconoClienteAutoCompletar = '@Url.Content("~/Content/Images/Esika/user.jpg")';
        var valContenidoCorreoDefecto = '@Html.Raw(ViewBag.TextoMensajeSaludoCorreo)';
        var RevistaCodigoIssuu = {
            '@Model.CampaniaAnterior': '@Model.CodigoRevistaAnterior',
            '@Model.CampaniaActual': '@Model.CodigoRevistaActual',
            '@Model.CampaniaSiguiente': '@Model.CodigoRevistaSiguiente'
        }
        var urlBuscadorIssu = '@Constantes.CatalogoUrlIssu.Buscador';
        var urlDetalle = '@Url.Action("Detalle", "MisCatalogosRevistas", new { area = "" })';
        var _Pagina = 1;
        var tipoOrigenEstrategia = 1;
    </script>
    @*@System.Web.Optimization.Scripts.Render("~/Bundle/Js/Desktop/MisCatalogosRevistas")*@
<script src="@Url.Content("~/Scripts/Tag/jquery.tags.input.js")"></script>
<script src="@Url.Content("~/Scripts/PortalConsultoras/Shared/General/RedesSociales.js")"></script>
<script src="@Url.Content("~/Scripts/PortalConsultoras/MisCatalogosRevistas/Index2.js")"></script>

}


