@{
    int nroCampania = ViewBag.CurrentCampania;
    int cantCampania = ViewBag.NroCampanias;
    
}
<div class="revista_content" id="contentRevista">
    <div class="titulo_central" data-titulo='revista'></div>
    <span class="arrow_revista" data-accion="a"><img src="@Url.Content("~/Content/Images/Esika/catalogos_arrow.png")" onclick="RevistaMostrar(-1, this)" /></span>
    <a class="revista_carrusel" id="lbPortadaGana" href="#" target="_blank">
        <img src="@Url.Content("~/Content/Images/Esika/revista_c09.png")" id="imgPortadaGana" />
    </a>
    <span class="arrow_revista" data-accion="d"><img src="@Url.Content("~/Content/Images/Esika/catalogos_arrow2.png")" onclick="RevistaMostrar(1, this)" /></span>
</div>
<div id="loadingScreen"></div>
<input id="hdrCampaniaActual" type="hidden" value="@nroCampania" />
<input id="hdrCampaniaAnterior" type="hidden" value="@CalcularCampania(nroCampania, -1, cantCampania)" />
<input id="hdrCampaniaSiguiente" type="hidden" value="@CalcularCampania(nroCampania, 1, cantCampania)" />

<span id="spNroCampania" style="display:none;">@nroCampania</span>

@helper CalcularCampania(Int32 currentCampania, int incremento, int NroCampanias)
{
    var nroCampania = currentCampania % 100;
    var year = currentCampania / 100;
    int result;

    if (nroCampania + incremento < 1)
    {
        result = (year - 1) * 100 + NroCampanias;
    }
    else if (nroCampania + incremento > NroCampanias)
    {
        result = (year + 1) * 100 + (nroCampania + incremento - NroCampanias);
    }
    else
    {
        result = currentCampania + incremento;
    }
    @result;
}

<script type="text/javascript" >
    //
</script>