@using Portal.Consultoras.Common
<script id="estrategia-template2" type="text/x-handlebars-template">
    <!-- INCION SECCION DE LANZAMIENTOS Y OFERTAS 
    
    <div id="bc_content_oferta">
        <div id="bc_promo" 
             data-origenpedidoweb="@Constantes.OrigenPedidoWeb.RevistaDigitalDesktopHomeLanzamiento"
             data-origenpedidoweb-popup="@Constantes.OrigenPedidoWeb.RevistaDigitalDesktopHomeLanzamiento">
            {{#each this.ListaLan as |item|}}
            <div class="bc_promo_contenido" data-item="{{EstrategiaID}}" data-item-tag="body"
                 data-item-cuv="{{CUV2}}"
                 data-tipoestrategiaimagenmostrar="{{TipoEstrategiaImagenMostrar}}">
                <div data-item-tag="contenido">
                    <div style="display:none;"><div data-estrategia="{{JSON2string item}}"></div></div>
                    <div data-item-tag="foto" class="producto_img_home" style="cursor:pointer; min-height:320px; margin: 0 !important; height:initial !important" 
                         onclick="javascript: VerDetalleEstrategia(event);">
                        {{#iff TipoEstrategiaDetalle.ImgHomeDesktop '!=' ''}}
                        <img src="{{TipoEstrategiaDetalle.ImgHomeDesktop}}" alt="" class="modelo" style="height: 300px;">
                        {{/iff}}
                        <a href="javascript:;" class="ver_detalle_carrusel" data-item-tag="verdetalle">VER DETALLE</a>
                    </div>
                    <div class="clearfix"></div>
                    <p class="ven-conoce">@ViewBag.NombreConsultora, CONOCE {{DescripcionResumen}}</p>
                    <a href="javascript:;" onclick="RDRedireccionarDetalle(event)" class="btn-descubre">DESCUBRIR MÁS</a>
                    <a href="javascript:RedireccionarContenedorComprar(@Constantes.OrigenPedidoWeb.RevistaDigitalDesktopHomeLanzamiento, '@Constantes.ConfiguracionPais.Lanzamiento')" class="ver-mas rd_ver_mas">
                        VER MÁS LANZAMIENTOS 
                    </a>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="bc_productos">
            <div class="bc_productos_contenido">
                <hr class="clear" />
                <div class="content_carrusel_ofertas content_carrusel_agregado" id="divListadoEstrategia" style="padding-bottom: 20px;"
                     data-origenpedidoweb="@Constantes.OrigenPedidoWeb.RevistaDigitalDesktopHomeSeccion"
                     data-origenpedidoweb-popup="@Constantes.OrigenPedidoWeb.RevistaDigitalDesktopHomePopUp"></div>
                <hr class="clear" />
                <div class="clearfix"></div>
                <div style="position: relative;">
                    <a href="@Url.Action("Index", "RevistaDigital")" class="ver-mas-ofertas rd_ver_mas">VER MÁS OFERTAS </a>
                </div>
            </div>
        </div>
    </div>
     FIN SECCION DE LANZAMIENTOS Y OFERTAS -->
    <div class="contenedor_ganamas">
        <div class="sb_contenedor_ganamas_bg">

        </div>
        <div class="sb_contenedor_ganamas">
            <div class="head_gana_mas">
                <div class="club_logo">
                    <img src="http://s3.amazonaws.com/consultorasQAS/SomosBelcorp/RevistaDigital/PE/GanaMasFondo.png" alt="">
                </div><div class="clubtxt">
                    <div class="centrar_vertical">
                        <div class="centrar_cont_club">
                           <p>ELIZABETH , TODAS <b>TUS OFERTAS EN UN SOLO LUGAR</b></p>
                        </div>
                    </div>
                </div><div class="club_btn">
                          <div class="centrar_vertical">
                              <div class="centrar_cont_club">
                                  <div class="activar_boton_esika_no_animado">
                                      <a>VER MÁS OFERTAS</a>
                                  </div>
                              </div>
                          </div>
                </div>
            </div>
            <div class="contenido_gana_mas">
                <!-- insertar carrusel aquí -->
            </div>
        </div>
    </div>
    <div class="contenedor_ganamas">
        <div class="sb_contenedor_ganamas_bg dorado_club">

        </div>
        <div class="sb_contenedor_ganamas">
            <div class="head_gana_mas">
                <div class="club_logo">
                    <div class="centrar_vertical">
                        <div class="centrar_cont_club">
                            <img src="/Content/Images/logo-club-ganamas-blanco.svg" alt="">
                        </div>
                    </div>
                </div><div class="clubtxt">
                    <div class="centrar_vertical">
                        <div class="centrar_cont_club">
                            <p>ELIZABETH , TODAS <b>TUS OFERTAS EN UN SOLO LUGAR</b></p>
                        </div>
                    </div>
                </div><div class="club_btn">
                    <div class="centrar_vertical club_btn_dorado">
                        <div class="centrar_cont_club club_btn_dorado">
                            <div class="activar_boton_blanco_no_animado">
                                <a>VER MÁS OFERTAS</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="contenido_gana_mas">
                <!-- insertar carrusel aquí -->
            </div>
        </div>
    </div>
</script>