<div class="contenedor_fondo_popup" id="fondoComunPopUp" style="display:none;">
    <div class="popup_inscripcion_asesoria_online tipografia_lato" style="display:none;">
        <a href="#" class="cerrar_popup_inscripcion" title="Cerrar">
            @*<img src="@Url.Content("~/Content/Images/icono-cerrar-popup-inscripcion.svg")" alt="Cerrar">*@
        </a>
        <div class="img_popup_inscripcion_asesoria_online">
            <img src="@Url.Content("~/Content/Images/img_inscripcion_asesoria_online.png")" alt="Inscripción Asesora Online">
        </div>
        <div class="contenido_popup">
            <div class="fondo_titulo_asesora">
                <div class="titulo_principal_asesora_online tipografia_lato_light">
                    SUSCRÍBETE Y GANA MÁS CON<br /><span class="titulo_tu_asesora_online tipografia_lato_bold">ÉSIKA TE ASESORA</span>
                </div>
            </div>
            <div class="mensaje_popup">
                <div class="texto_popup">
                    TODO LO QUE NECESITAS PARA GANAR MÁS, <span class="salto_linea">AHORA EN LA PALMA DE TUS MANOS (CORREO Y SMS)</span>
                </div>
                <div class="lista_beneficios_inscripcion">
                    <div class="beneficio_inscripcion">
                        <div class="icono_beneficio_inscripcion beneficio_vender_mas">
                            <img src="@Url.Content("~/Content/Images/icono-vender-mas-asesora-online-blanco.png")" alt="LOS MEJORES CONSEJOS PARA VENDER MÁS">
                        </div>
                        <div class="descripcion_beneficio_inscripcion">
                            <div>LOS MEJORES CONSEJOS PARA VENDER MÁS</div>
                        </div>
                    </div>
                    <div class="beneficio_inscripcion">
                        <div class="icono_beneficio_inscripcion beneficio_ofertas_asesoras">
                            <img src="@Url.Content("~/Content/Images/icono-ofertas-asesora-online.png")" alt="LAS OFERTAS EXCLUSIVAS SÓLO PARA TI">
                        </div>
                        <div class="descripcion_beneficio_inscripcion">
                            <div>LAS OFERTAS EXCLUSIVAS <span class="salto_linea">SÓLO PARA TI</span></div>
                        </div>
                    </div>
                    <div class="beneficio_inscripcion">
                        <div class="icono_beneficio_inscripcion beneficio_asesoramiento_gestion_clientes">
                            <img src="@Url.Content("~/Content/Images//icono-gestion-clientes-asesora-online.png")" alt="ASESORAMIENTO PARA GESTIONAR TUS CLIENTES">
                        </div>
                        <div class="descripcion_beneficio_inscripcion">
                            <div>ASESORAMIENTO PARA GESTIONAR TUS CLIENTES</div>
                        </div>
                    </div>
                </div>
                <div class="wrapper_cta_inscripcion">
                    <a href="index.html#formulario-inscripcion" class="cta_inscripcion tipografia_lato_bold" title="Quiero inscribirme">
                        QUIERO TIPS Y OFERTAS
                    </a>
                    <a href="index.html#beneficios-asesora" class="enlace_ver_mas_informacion tipografia_bold" title="">VER MÁS INFORMACIÓN</a>
                </div>
            </div>
        </div>
        <a href="#" class="enlace_no_volver_mostrar_mensaje" title="No volver a ver este mensaje">
            No volver a ver este mensaje
        </a>
    </div>
</div>