@model Portal.Consultoras.Web.Models.AdministracionPoput.ComunicadoModel
@{
    ViewBag.Title = "Administración de Popups";
}

<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
<link href="@Url.Content("~/Content/Css/Site/AdministracionPopups/administracion-popups.css")" rel="stylesheet" />

<!-- VISTA ADMINISTRACIÓN DE POPUPS -->
<main class="d__block layout__content w__100 ml__auto mr__auto vista__administracion__popups">
    <!-- CABECERA ADMINISTRACIÓN DE POPUPS -->
    <section class="d__block ml__auto mr__auto vista__administracion__popups__cabecera">
        <h1 class="d__block color__m text__bold vista__administracion__popups__titulo">
            Administración de Popups
        </h1>
        <div class="d__block administracion__popups__grilla__filtros">
            <div class="d__inline__block grupo__form__grilla__filtros">
                <label for="ddlCampania" class="d__inline__block text__bold grilla__filtro__label">Campaña:</label>
                @Html.DropDownListFor(model => model.CampaniaID, new SelectList(Model.listaCampania, "CampaniaID", "NombreCorto"), "-- Seleccionar --", new { @class = "d__inline__block text__bold border__color__gray__multimarca border__radius__4 grilla__filtro__campo grilla__filtro__select", @id = "ddlCampania" })
            </div>
            <div class="d__inline__block grupo__form__grilla__filtros">
                <label for="ddlEstado" class="d__inline__block text__bold grilla__filtro__label">Estado:</label>
                <select id="ddlEstado" class="d__inline__block text__bold border__color__gray__multimarca border__radius__4 grilla__filtro__campo grilla__filtro__select">
                    <option value="2">Todos</option>
                    <option value="1">Activo</option>
                    <option value="0">Inactivo</option>
                </select>
            </div>
            <div class="d__inline__block grupo__form__grilla__filtros">
                <div class="d__inline__block text__bold grilla__filtro__label">Nuevo Popup:</div>
                <a class="d__inline__block text__bold text__center background__color__m border__radius__4 btn__grilla__filtros btn__agregar" AccionId="1" title="Agregar Nuevo Popup">
                    <span class="d__inline__block text__bold">+</span>
                    <span class="d__inline__block text__bold">Agregar</span>
                </a>
            </div>
        </div>
    </section>
    <!-- FIN - CABECERA ADMINISTRACIÓN DE POPUPS -->
    <!-- GRILLA ADMINISTRACIÓN DE POPUPS -->
    <section class="d__block border__radius__4 vista__administracion__popups__contenido">
        <div class="d__flex administracion__popups__paginacion__grilla">
            <div class="d__flex administracion__popups__paginacion__componentes">
                <div class="d__block cantidad__registros__grilla">
                    Tengo <span class="text__bold">50</span> registros
                </div>
                <div class="d__flex paginador__grilla">
                    <div class="d__block">Página</div>
                    <div class="d__flex controles__paginacion__grilla">
                        <a class="d__block flecha__paginacion flecha__paginacion--izquierda" title="Página Anterior">
                            <img src="@Url.Content("~/Content/Images/flecha-campo-select.svg")" alt="Anterior">
                        </a>
                        <div class="d__block filtro__num__pagina">
                            <input id="PaginaActual" class="d__inline__block text__center border__color__gray__multimarca border__radius__4 paginacion__actual" type="text" value="1">
                            <span class="d__inline__block num__total__paginas">de 20</span>
                        </div>
                        <a class="d__block flecha__paginacion flecha__paginacion--derecha" title="Página Siguiente">
                            <img src="@Url.Content("~/Content/Images/flecha-campo-select.svg")" alt="Siguiente">
                        </a>
                    </div>
                </div>
            </div>
            <a class="d__block text__bold text__center background__color__m border__radius__4 btn__grilla__filtros btn__guardar__ordenamiento" title="Guardar ordenamiento">
                Guardar ordenamiento
            </a>
        </div>
        <div class="d__block administracion__popups__grilla" id="divTabla">
        </div>
        <div class="d__flex administracion__popups__paginacion__grilla">
            <div class="d__flex administracion__popups__paginacion__componentes">
                <div class="d__block cantidad__registros__grilla">
                    Tengo <span class="text__bold">50</span> registros
                </div>
                <div class="d__flex paginador__grilla">
                    <div class="d__block">Página</div>
                    <div class="d__flex controles__paginacion__grilla">
                        <a class="d__block flecha__paginacion flecha__paginacion--izquierda" title="Página Anterior">
                            <img src="@Url.Content("~/Content/Images/flecha-campo-select.svg")" alt="Anterior">
                        </a>
                        <div class="d__block filtro__num__pagina">
                            <input id="PaginaActual" class="d__inline__block text__center border__color__gray__multimarca border__radius__4 paginacion__actual" type="text" value="1">
                            <span class="d__inline__block num__total__paginas">de 20</span>
                        </div>
                        <a class="d__block flecha__paginacion flecha__paginacion--derecha" title="Página Siguiente">
                            <img src="@Url.Content("~/Content/Images/flecha-campo-select.svg")" alt="Siguiente">
                        </a>
                    </div>
                </div>
            </div>
            <a class="d__block text__bold text__center background__color__m border__radius__4 btn__grilla__filtros btn__guardar__ordenamiento" title="Guardar ordenamiento">
                Guardar ordenamiento
            </a>
        </div>
    </section>
    <!-- FIN - GRILLA ADMINISTRACIÓN DE POPUPS -->
</main>

<!-- MODAL AGREGAR NUEVO POPUP -->
<section class="d__flex w__100 modal__bg" id="AgregarPopup">
    <input type="hidden" id="hdAccion" value="" />
    <div class="d__block w__100 ml__auto mr__auto modal__wrapper">
        <header class="d__block modal__cabecera">
            <h2 class="d__block color__m text__bold modal__titulo" id="modalTitulo"></h2>
        </header>
        <section class="d__block modal__contenido modal__contenido--agregarNuevoPopup">
            <div class="d__block modal__contenido__seccion">
                <h4 class="d__block text__bold text__uppercase modal__contenido__subtitulo">Contenido</h4>
                <div class="d__flex modal__contenido__seccion__campos modal__contenido__seccion__campos--contenido">
                    <div class="d__flex grupo__form__campos">
                        <div class="d__block color__m text__bold grupo__form__campos__label grupo__form__campos__label--adjuntarFondo">Adjuntar Fondo : </div>
                        <div class="d__block mr-20">
                            <input id="imgPoputs" type="file" class="d__none text__bold" />
                            <label for="imgPoputs" class="d__block text__bold text__center background__color__m border__radius__4 btn__modal btn__modal--agregar" title="Agregar nuevo popup">
                                <span class="d__inline__block text__bold">+</span>
                                <span class="d__inline__block text__bold">Agregar</span>
                            </label>
                            <div class="caption">
                                <a href="#" onclick="ClearFileView()"><i class="glyphicon glyphicon-trash"></i></a>
                                <p id="description" class="d__block color__gray__multimarca info__formato__medidas">
                                    Formato de archivo JPG.<br/>
                                    (326 x 418 píxeles)
                                </p>
                            </div>
                        </div>
                        <div id="imgPreview" class="d__block imagen__cargada__thumbnail__wrapper">
                            <a href="" title="Eliminar" class="d__block enlace__eliminar__imagen__cargada">
                                <img src="@Url.Content("~/Content/Images/btn_cerrar_popup.svg")" alt="Eliminar Imagen" class="d__block m-0" />
                            </a>
                            <img class="d__block m-0 w__100 imagen__cargada__thumbnail" id="targetImg" />
                        </div>
                    </div>
                    <div class="d__flex grupo__form__campos">
                        <label for="txtTituloPrincipal" class="d__block text__bold color__m grupo__form__campos__label">Título principal : </label>
                        <input id="txtTituloPrincipal" type="text" class="d__block border__color__gray__multimarca border__radius__4 grupo__form__campos__input grupo__form__campos__input--seccionContenido" />
                    </div>
                    <div class="d__flex grupo__form__campos">
                        <label for="txtDescripcion" class="d__block text__bold color__m grupo__form__campos__label grupo__form__campos__label--descripcion">Descripción<br />(max de caract. 290) : </label>
                        <textarea id="txtDescripcion" class="d__block border__color__gray__multimarca border__radius__4 grupo__form__campos__textarea grupo__form__campos__textarea--seccionContenido"></textarea>
                    </div>
                    <div class="d__flex mb-40 grupo__form__campos">
                        <label for="txtUrl" class="d__block text__uppercase text__bold color__m grupo__form__campos__label">Url : </label>
                        <input id="txtUrl" type="text" class="d__block border__color__gray__multimarca border__radius__4 grupo__form__campos__input grupo__form__campos__input--seccionContenido" />
                    </div>
                </div>
            </div>
            <div class="d__block modal__contenido__seccion">
                <h4 class="d__block text__bold text__uppercase modal__contenido__subtitulo">Configuración</h4>
                <div class="d__flex modal__contenido__seccion__campos modal__contenido__seccion__campos--configuracion">

                    <div class="d__flex grupo__form__campos">
                        <div class="d__block text__bold color__m grupo__form__campos__label grupo__form__campos__label--segmentoConsultoras">Segmento de<br />consultoras : </div>
                        <div class="d__block">
                            <input id="fileCSV" type="file" class="d__none text__bold" onchange='getFileCSV()' />
                            <label for="fileCSV" class="d__block text__bold text__center background__color__m border__radius__4 btn__modal btn__modal--agregar" title="Agregar nuevo popup">
                                <span class="d__inline__block text__bold">+</span>
                                <span class="d__inline__block text__bold">Agregar</span>
                            </label>
                            <p class="d__block color__gray__multimarca info__formato__medidas" id="nameArchivo">
                            </p>
                        </div>
                        <div id="fileCSVThumbnail" class="d__block csv__cargado__thumbnail__wrapper">
                            <a href="" title="Eliminar" class="d__block enlace__eliminar__csv__cargado">
                                <img src="@Url.Content("~/Content/Images/btn_cerrar_popup.svg")" alt="Eliminar archivo CSV" class="d__block m-0" />
                            </a>
                            <img class="d__block m-0 w__100 csv__cargado__thumbnail" src="@Url.Content("~/Content/Images/csv_file_img.svg")" alt="" />
                        </div>
                    </div>

                    <div class="d__flex grupo__form__campos">
                        <label class="d__block text__bold color__m grupo__form__campos__label">Duración : </label>
                        <div class="d__flex mb-0 grupo__form__campos grupo__form__campos--minMax">
                            <label for="fechaMin" class="d__block text__bold grupo__form__campos__label grupo__form__campos__label--minMax">Min</label>
                            <input id="fechaMin" type="text" placeholder="dd/mm/aa" class="d__block border__color__gray__multimarca border__radius__4 grupo__form__campos__input grupo__form__campos__input--minMax" />
                        </div>
                        <div class="d__flex mb-0 grupo__form__campos grupo__form__campos--minMax">
                            <label for="fechaMax" class="d__block text__bold grupo__form__campos__label grupo__form__campos__label--minMax">Max</label>
                            <input id="fechaMax" type="text" placeholder="dd/mm/aa" class="d__block border__color__gray__multimarca border__radius__4 grupo__form__campos__input grupo__form__campos__input--minMax" />
                        </div>
                    </div>
                    <div class="d__flex grupo__form__campos">
                        <label class="d__block text__bold color__m grupo__form__campos__label">Duración : </label>
                        <div class="d__flex mb-0 grupo__form__campos grupo__form__campos--mobileDesktop">
                            <input id="checkMobile" type="checkbox" class="d__none border__color__gray__multimarca border__radius__4 grupo__form__campos__input" />
                            <label for="checkMobile" class="d__flex grupo__form__campos__label grupo__form__campos__label--conCheckbox">
                                <span class="d__inline__block text__bold">Mobile</span>
                                <span class="d__inline__block border__color__gray__multimarca border__radius__4 grupo__form__campos__checkbox"></span>
                            </label>
                        </div>
                        <div class="d__flex mb-0 grupo__form__campos grupo__form__campos--mobileDesktop">
                            <input id="checkDesktop" type="checkbox" class="d__none border__color__gray__multimarca border__radius__4 grupo__form__campos__input" />
                            <label for="checkDesktop" class="d__flex grupo__form__campos__label grupo__form__campos__label--conCheckbox">
                                <span class="d__inline__block text__bold">Desktop</span>
                                <span class="d__inline__block border__color__gray__multimarca border__radius__4 grupo__form__campos__checkbox"></span>
                            </label>
                        </div>
                    </div>
                    <div class="d__flex grupo__form__campos grupo__form__campos--botones">
                        <button id="btnDescartar" class="d__block text__bold btn__modal mr-25 border__radius__4 btn__modal--blanco btn__modal--descartar">
                            Descartar
                        </button>
                        <button id="btnGuardar" class="d__block text__bold background__color__m border__radius__4 btn__modal btn__modal--guardar">
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
<!-- FIN - MODAL AGREGAR NUEVO POPUP -->
<!-- FIN - VISTA ADMINISTRACIÓN DE POS -->
@section scripts{
    <script src="@Url.Content("~/Scripts/jquery.ui.core.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.ui.widget.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.ui.mouse.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.ui.sortable.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.ui.swappable.js")"></script> 
    <script src="@Url.Content("~/Scripts/PortalConsultoras/AdminPoput/AdminPoput.js")"></script>
}