
@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Helpers
@model Portal.Consultoras.Web.Models.EstrategiaPersonalizadaProductoModel

@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayoutContenedor.cshtml";
    var urlDomain = Util.GetUrlHost(Request);
    var mobileConfiguracion = Html.MobileAppConfiguracion();
    var fotoSmall = Util.GenerarRutaImagenResizeSmall(Model.FotoProducto01);
    var vbSimbolo = ViewBag.Simbolo ?? "";
}

@section styles{
    @System.Web.Optimization.Styles.Render("~/bundles/css/Mobile/Lanzamientos-Detalle")
}

<style>

</style>

<section class="bg_promo_ficha" style="background: url();">

</section>
<div class="container-fluid ficha_del_producto">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <section class="producto">
                <img src="http://i65.tinypic.com/16237l5.png" style="display:block; margin:auto; width:100%;     margin: 40px 0px;" /> 
            </section>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <section class="producto_compra_contiene">
                <div class="marca">ÉSIKA</div>
                <div class="nom_producto">
                    PACK TOTAL + PULSO + ALVIENTO
                </div>
                <div class="precio_antiguo">
                    S/.200
                </div>
                <div class="precio_para_ti">
                    Precio para tí <b>S/.110</b>
                </div>
                <div class="gana">
                    GANA S/.90
                </div>
                <div class="titulo_contenido">
                    CONTENIDO
                </div>
            </section>
        </div>
         <div class="col-md-12 col-sm-12 col-xs-12">
             <section class="producto_contenido">
                 <div class="contenido_producto">
                     x2 Labial en barra rouge l'intense 4g/14o.z
                     <img src="http://i64.tinypic.com/24ep8ua.png" style="display:block; margin:auto; width:100%;" />
                 </div>
                 <div class="contenido_producto">
                     x2 Labial en barra rouge l'intense 4g/14o.z
                 </div>
             </section>
         </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <section class="tabs">
                <ul>
                    <li>
                        <a>DETALLE DEL PACK</a>
                        <ul class="dropdown">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolores harum, est praesentium voluptatum minima, officiis facilis itaque voluptates qui ducimus veritatis cumque eveniet neque corporis hic magnam similique ut.
                        </ul>
                    </li>
                    <li>
                        <a>TIP DE VENTA</a>
                        <ul class="dropdown">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit modi nihil, mollitia doloribus excepturi veritatis cupiditate vitae labore eius blanditiis fuga quam, asperiores facilis aut velit sapiente repellendus provident, amet?
                        </ul>
                    </li>
                </ul>
            </section>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <section class="donde_encuentras_producto">
                <p class="titulo_set">SET DONDE ENCUENTRAS EL PRODUCTO</p>
                <img src="http://i67.tinypic.com/11i22qq.png" style="display:block; margin:auto; width:100%;" /> 
            </section>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="detalle-compartir">
                Comparte este producto con tus clientes
                <img src="/Content/Images/Esika/facebook.png" class="fb" href="javascript:;" data-compartir="FB">
            </div>
        </div>
    </div>
</div>

@if (Model.ClaseBloqueada == "")
{
    <div class="row">
        <div class="content_btn_agregar">
            <div class="content_320">
                <div class="content_cantidad_ficha_producto">
                    <a class="cantidad_menos_home"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
                    <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" data-input="cantidad">
                    <a class="cantidad_mas_home"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
                </div>
                <a class="@Model.ClaseBloqueada btn_agregar_ficha_producto"
                   id="tbnAgregarProducto"
                   data-bloqueada="@Model.ClaseBloqueada"
                   onclick="javascript:EstrategiaAgregar(event, true); ">AGRÉGALO</a>
                <hr class="clear">
            </div>
        </div>
    </div>
}

@if (Model.ClaseBloqueada != "")
{
    @Html.Action("RDMensajeBloqueadoDetalle", "RevistaDigital")
}

@Html.Partial("~/Areas/Mobile/Views/EstrategiaPersonalizada/template-producto-landing.cshtml", new ViewDataDictionary { { "TieneBotones", true } })
@section scripts{
    @System.Web.Optimization.Scripts.Render("~/bundles/Lanzamientos-Detalle")
    <script type="text/javascript">
        var origenPedidoWebEstrategia = '@Constantes.OrigenPedidoWeb.LanzamientoMobileProductPage';
        var tipoOrigenEstrategia = 272;
        var videoId = '@Model.TipoEstrategiaDetalle.UrlVideoMobile';
        var descripcionResumen = "@Model.DescripcionResumen";
        $(document).ready(function () {
            detalleLanzamiento.init({
                videoId: videoId,
                descripcionResumen: descripcionResumen
            });
        });
        function onYouTubeIframeAPIReady() {
            detalleLanzamiento.onYouTubeIframeAPIReady();
        }
    </script>
    <script>
        $('section.tabs ul li').click(function () {
                $(this).children('ul').slideToggle();
            });
    </script>
}
