
@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Helpers
@using Portal.Consultoras.Web.Models

@model Portal.Consultoras.Web.Models.EstrategiaPersonalizadaProductoModel

@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayoutContenedor.cshtml";
    var urlDomain = Util.GetUrlHost(Request);
    var mobileConfiguracion = Html.MobileAppConfiguracion();
    var fotoSmall = Util.GenerarRutaImagenResizeSmall(Model.FotoProducto01);
    var vbSimbolo = ViewBag.Simbolo ?? "";
    var revistaDigital = ViewBag.revistaDigital ?? new RevistaDigitalShortModel();
    var campaniaActual = ViewBag.CampaniaCodigo ?? 0;
}

@section styles{
    @System.Web.Optimization.Styles.Render("~/bundles/css/Mobile/Lanzamientos-Detalle")
}

<div data-item="" data-tag-html="@ViewBag.Campania">
    <div class="revista_ficha" style='background: url(@Model.TipoEstrategiaDetalle.ImgFichaFondoMobile); background-color: #efefef !important;'
         data-estadoregistro="@ViewBag.EstadoSuscripcion"
         data-OrigenPedidoWeb="@Constantes.OrigenPedidoWeb.LanzamientoMobileProductPage">
        <div style="display:none;"><div data-estrategia="@Json.Encode(Model)"></div></div>
        <div class="wrapper_resumen_mobile">
            <div class="detalle-prod">

                <div class="detalle-img">
                    <div class="img-portada" style="background:url(@fotoSmall);"></div>
                </div>
                <div class="detalle-info">
                    <div class="label-nuevo">
                        <img src="@Model.TipoEstrategiaDetalle.ImgFichaMobile" />
                    </div>
                    <div class="detalle-bloque-uno">
                        <div class="bloque1">
                            <p>@Model.DescripcionMarca</p>
                            <h1>@Model.DescripcionResumen</h1>
                        </div>
                        <div class="bloque2">
                            <span class="precio-tachado">@vbSimbolo @Model.PrecioTachado</span>
                            <span class="precio-para-ti">Precio para tí<b>@vbSimbolo @Model.PrecioVenta</b></span>
                            <span class="gana-rojo">GANA @vbSimbolo @Model.GananciaString</span>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div class="detalle-bloque-dos">
                        <p>@Model.TipoEstrategiaDetalle.Slogan</p>
                        <ul>
                            @foreach (var DescDetalle in Model.ListaDescripcionDetalle)
                            {
                                <li><span class="vineta">-</span><span class="txt-des">@DescDetalle.Trim()</span></li>
                                <div style="clear:both;"></div>
                            }
                        </ul>
                    </div>
                    <div id="ContenedorDeTonos" class="detalle-bloque-tres">
                        @Html.Partial("~/Views/Lanzamientos/Template_LanzamientosTonos.cshtml", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>

    @if (Model.ClaseBloqueada == "" || (revistaDigital.EsActiva && Model.CampaniaID == campaniaActual))
    {
        <div class="row">
            <div class="content_btn_agregar">
                <div class="content_320">
                    <div class="content_cantidad_ficha_producto">
                        <a class="cantidad_menos_home"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
                        <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" data-input="cantidad">
                        <a class="cantidad_mas_home"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
                    </div>
                    <a class="@Model.ClaseBloqueada btn_agregar_ficha_producto"
                       id="tbnAgregarProducto"
                       data-bloqueada="@Model.ClaseBloqueada"
                       onclick="javascript:EstrategiaAgregar(event, true); ">AGRÉGALO</a>
                    <hr class="clear">
                </div>
            </div>
        </div>
    }

</div>
<hr class="clear" />
<div>
    <div class="set_encuentras_producto" id="set_relacionados">
        <div class="wrapper_resumen_mobile">
            <p class="titulo_set">
                PACKS CON @Model.DescripcionResumen
            </p>
            <div class="set_encuentras_producto_carrusel">
                <div id="divOfertaProductos"></div>
            </div>
        </div>
    </div>
    @if ((Model.TipoEstrategiaDetalle.UrlVideoMobile ?? "") != "")
    {
        <div class="set_encuentras_producto_video" id="video_lanzamiento" style="padding-bottom: 0;">
            <div class="wrapper_resumen_mobile">
                <p class="titulo_set">
                    VIDEO
                </p>
                <div class="revista_producto_video" style="width: 100%">
                    <div id="ytMobileRevistaDigitalDetalle"
                         data-youtube="{ height:'415', width:'100%', enablejsapi:1, fs:0, showinfo:0, modestbranding:1, loop:1, videoId:'@Model.TipoEstrategiaDetalle.UrlVideoMobile', playerVars:{autoplay:1, rel:0}}"
                         data-extra="{'descripcionResumen':'@Model.DescripcionResumen'}"
                         class="yt-video"></div>
                </div>
            </div>
        </div>
    }
    <hr class="clear" />
    <div class="comparte_set_encuentras_producto_video" data-posicion="0" data-item="165">
        <div data-compartir-campos="" style="display:none;">
            <input type="hidden" class="CUV" value="@Model.CUV2" />
            <input type="hidden" class="rsFBMensaje" value="" />
            <input type="hidden" class="rsWAMensaje" value="" />
            <input type="hidden" class="rsFBRutaImagen" value="@Model.FotoProducto01" />
            <input type="hidden" class="rsWARutaImagen" value="@Model.FotoProducto01" />
            <input type="hidden" class="MarcaID" value="@Model.MarcaID" />
            <input type="hidden" class="MarcaNombre" value="@Model.DescripcionMarca" />
            <input type="hidden" class="Nombre" value="@Model.DescripcionResumen" />
            <input type="hidden" class="ProductoDescripcion" value="@Model.DescripcionDetalle" />
            <input type="hidden" class="Volumen" value="" />
            <input type="hidden" class="Palanca" value="LAN" />
        </div>
        @if (!mobileConfiguracion.EsAppMobile)
        {
            <div class="wrapper_resumen_mobile" style="height: 150px;">
                <hr />
                <p>Comparte el producto con tus clientes:</p>
                <ul>
                    <li>
                        <a href="javascript: void(0);" data-compartir="WA" style="display: block;background: #119e06;padding: 5px;">
                            <img src="~/Content/Images/mobile/img-icon/whatsapp-50x50.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="javascript: void(0);" data-compartir="FB">
                            <img src="~/Content/Images/mobile/Esika/facebook.png" alt="">
                        </a>
                    </li>

                </ul>
            </div>
        }
    </div>
</div>


@if (Model.ClaseBloqueada != "" && !(revistaDigital.EsActiva && Model.CampaniaID == campaniaActual))
{
    @Html.Action("RDMensajeBloqueadoDetalle", "RevistaDigital")
}

@Html.Partial("~/Areas/Mobile/Views/EstrategiaPersonalizada/template-producto-landing.cshtml", new ViewDataDictionary { { "TieneBotones", true } })
@section scripts{
    @System.Web.Optimization.Scripts.Render("~/bundles/Lanzamientos-Detalle")
    <script type="text/javascript">
        var origenPedidoWebEstrategia = '@Constantes.OrigenPedidoWeb.LanzamientoMobileProductPage';
        var tipoOrigenEstrategia = 272;
        $(document).ready(function () {
            detalleLanzamiento.init();
        });

    </script>
}
