
@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Helpers
@model Portal.Consultoras.Web.Models.EstrategiaPersonalizadaProductoModel

@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayoutContenedor.cshtml";
    var urlDomain = Util.GetUrlHost(Request);
}

@section styles{
    @*@System.Web.Optimization.Styles.Render("~/bundles/css/Mobile/Site/RevistaDigital-Detalle")*@
}
@*<div class="content_detalle_set_bpt_general" id="divDetalleContenido" data-item=""
         data-OrigenPedidoWeb="@Constantes.OrigenPedidoWeb.LanzamientoMobileProductPage"
         data-estadoregistro="@ViewBag.EstadoSuscripcion" data-tag-html="@ViewBag.Campania" style="display:none;">

        <div data-compartir-campos="" style="display:none;">
            <input type="hidden" class="CUV" value="@Model.CUV2" />
            <input type="hidden" class="rsFBMensaje" value="" />
            <input type="hidden" class="rsFBRuta" value="@Model.UrlCompartir" />
            <input type="hidden" class="rsWAMensaje" value="" />
            <input type="hidden" class="rsWARuta" value="@Model.UrlCompartir" />
            <input type="hidden" class="rsFBRutaImagen" value="@Model.FotoProducto01" />
            <input type="hidden" class="rsWARutaImagen" value="@Model.FotoProducto01" />
            <input type="hidden" class="MarcaID" value="@Model.MarcaID" />
            <input type="hidden" class="MarcaNombre" value="@Model.DescripcionMarca" />
            <input type="hidden" class="Nombre" value="@Model.DescripcionResumen" />
            <input type="hidden" class="ProductoDescripcion" value="@Model.DescripcionDetalle" />
            <input type="hidden" class="Volumen" value="" />
            <input type="hidden" class="Palanca" value="LAN" />
        </div>
        <div class="content_detalle_set_bpt">
            @{ var mobileConfiguracion = Html.MobileAppConfiguracion();
                if (mobileConfiguracion.MostrarBotonAtras)
                {
                    <a class="regresar_landing" href="javascript: RDDetalleVolver(@Model.CampaniaID);">VOLVER</a>
                }
            }

            @if (Model.TipoEstrategiaDetalle.ImgFichaFondoMobile != "")
            {
                <img src="@Model.TipoEstrategiaDetalle.ImgFichaFondoMobile" alt="" style="height: 280px;" />
            }
        </div>

        <div class="wrapper_resumen_mobile">
            @if (Model.TipoEstrategiaDetalle.ImgFichaMobile != "")
            {
                <div class="etiqueta_nuevo_bpt">
                    <img src="@Model.TipoEstrategiaDetalle.ImgFichaMobile" alt="" style="max-height:50px;" />
                </div>
            }

            <div class="nombre_producto_bpt">@Model.DescripcionResumen</div>
            @if (Model.DescripcionDetalle != "")
            {
                <div class="info-set_bpt">CONOCE POR QUÉ @Model.DescripcionResumen SERÁ GANADORA</div>
                <div class="content_descripcion_bpt">
                    <ol class="ol_detalle">
                        @foreach (var DescDetalle in Model.ListaDescripcionDetalle)
                        {
                            <li>@DescDetalle.Trim()</li>
                        }
                    </ol>
                </div>
            }
        </div>
        @if (mobileConfiguracion.MostrarHipervinculo)
        {
            <div class="share_social_nertwoks" data-posicion="0" data-item="165">
                <div class="title-compartir">Comparte este producto con tus clientes:</div>
                <div class="content_redes_ficha">
                    <a class="btn_compartir_ofertas" href="javascript: void(0);" data-compartir="WA">
                        <img src="/Content/Images/Mobile/Esika/catalogo_ws.png" alt="">
                    </a>
                    <a class="btn_compartir_ofertas" href="javascript: void(0);" data-compartir="FB">
                        <img src="/Content/Images/Mobile/Esika/facebook.png">
                    </a>
                </div>
            </div>
        }

        @if (Model.TipoEstrategiaDetalle.UrlVideoMobile != "")
        {
            <a class="btn_ver_video_bpt" href="#divDiveo">VER VIDEO CON TIPS</a>
        }

        <div class="">PACKS CON VIBRANZA</div>

        <div style="background:#F6F6F6; padding:30px;">
            <div id="divOfertaProductos"></div>
            @if (Model.TipoEstrategiaDetalle.UrlVideoMobile != "")
            {
                <div class="" style="padding-top:30px;" id="divDiveo">
                    <div class="video-responsive-bpt">
                        <div id="player"></div>

                        <script>
                            var tag = document.createElement('script');

                            tag.src = "https://www.youtube.com/iframe_api";
                            var firstScriptTag = document.getElementsByTagName('script')[0];
                            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

                            var player;
                            function onYouTubeIframeAPIReady() {
                                player = new YT.Player('player', {
                                    height: '415',
                                    width: '100%',
                                    videoId: '@Model.TipoEstrategiaDetalle.UrlVideoMobile',
                                    events: {
                                        'onStateChange': onPlayerStateChange
                                    }
                                });
                            }

                            function onPlayerStateChange(event) {
                                if (event.data == YT.PlayerState.PLAYING) {
                                    rdAnalyticsModule.CompartirProducto("YTI", player.getVideoUrl(), "@Model.DescripcionResumen");
                                }
                                if (event.data == YT.PlayerState.ENDED) {
                                    rdAnalyticsModule.CompartirProducto("YTF", player.getVideoUrl(), "@Model.DescripcionResumen");
                                }
                            }

                        </script>
                    </div>
                </div>
            }
        </div>
    </div>*@

<style>
    .revista_ficha {
        height: 176px !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center center !important;
    }

    .detalle-prod .detalle-img {
        float: initial;
        width: 221px;
        height: auto;
        margin-bottom: 46px;
        margin-right: 44px;
        padding-top: 35px;
        margin: auto;
    }

        .detalle-prod .detalle-img .img-portada {
            background-size: contain !important;
            background-repeat: no-repeat !important;
            background-position: center bottom !important;
            width: 100%;
            height: 330px;
            width: 221px;
            height: 210px;
            margin: auto;
        }

        .detalle-prod .detalle-img .detalle-compartir {
            font-size: 13px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.08;
            letter-spacing: normal;
            text-align: left;
            color: #000000;
            display: block;
            margin-top: 40px;
        }

            .detalle-prod .detalle-img .detalle-compartir img {
                position: relative;
                top: 5px;
                margin-left: 5px;
            }

                .detalle-prod .detalle-img .detalle-compartir img.fb {
                    width: 20px;
                }

                .detalle-prod .detalle-img .detalle-compartir img.emailico {
                    width: 27px;
                    height: 20px;
                    top: 5.39px;
                }

    .detalle-prod .detalle-info {
        float: left;
        background: white;
        width: 100%;
        padding: 27px 0px 0px 0px;
        /*box-shadow: 0px 1px 15px -2px #00000057;*/
    }

        .detalle-prod .detalle-info .label-nuevo {
            margin-bottom: 10px;
        }

        .detalle-prod .detalle-info .detalle-bloque-uno {
            margin-bottom: 29px;
        }

            .detalle-prod .detalle-info .detalle-bloque-uno .bloque1 {
                width: 100%;
            }

                .detalle-prod .detalle-info .detalle-bloque-uno .bloque1 p {
                    display: block;
                    font-size: 12px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.83;
                    letter-spacing: 0.8px;
                    text-align: left;
                    color: #000000;
                    margin-bottom: 0px;
                }

                .detalle-prod .detalle-info .detalle-bloque-uno .bloque1 h1 {
                    display: block;
                    font-size: 21px;
                    font-weight: bold !important;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.05;
                    letter-spacing: 0.9px;
                    text-align: left;
                    color: #000000;
                    margin-bottom: 0px !important;
                    margin-top: 0;
                    font-family:'Lato' !important;
                }

                .detalle-prod .detalle-info .detalle-bloque-uno .bloque1 span {
                    display: block;
                    font-size: 12px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.83;
                    letter-spacing: 0.8px;
                    text-align: left;
                    color: #000000;
                    margin-top: 2px;
                }

            .detalle-prod .detalle-info .detalle-bloque-uno .bloque2 {
                width: 100%;
                margin-top: 15px;
            }

                .detalle-prod .detalle-info .detalle-bloque-uno .bloque2 span.precio-tachado {
                    display: block;
                    font-size: 13px;
                    font-weight: 300;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: left;
                    color: #000000;
                    text-decoration: line-through;
                    margin-bottom: 2px;
                }

                .detalle-prod .detalle-info .detalle-bloque-uno .bloque2 span.precio-para-ti {
                    font-size: 13px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: left;
                    color: #000000;
                    display: block;
                    margin-top: -5px;
                }

                    .detalle-prod .detalle-info .detalle-bloque-uno .bloque2 span.precio-para-ti b {
                        font-size: 20px;
                        font-weight: bold;
                        position: relative;
                        margin-left: 5px;
                        top: 2px;
                    }

                .detalle-prod .detalle-info .detalle-bloque-uno .bloque2 span.gana-rojo {
                    display: block;
                    font-size: 13px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: left;
                    color: #e81c36;
                    margin-top: 5px;
                }

        .detalle-prod .detalle-info .detalle-bloque-dos {
            margin-bottom: 20px;
        }

            .detalle-prod .detalle-info .detalle-bloque-dos p {
                display: block;
                font-size: 18px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 0.83;
                letter-spacing: 0.5px;
                text-align: left;
                color: #000000;
                margin-bottom: 11px;
            }

            .detalle-prod .detalle-info .detalle-bloque-dos ul {
                padding: 0;
                margin: 0;
                list-style: none;
            }

                .detalle-prod .detalle-info .detalle-bloque-dos ul li {
                    font-size: 12px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.33;
                    letter-spacing: normal;
                    text-align: left;
                    color: #000000;
                    margin-bottom: 12px;
                }

                    .detalle-prod .detalle-info .detalle-bloque-dos ul li::before {
                        content: '-';
                        margin-right: 5px;
                    }

        .detalle-prod .detalle-info .detalle-bloque-tres {
            margin-bottom: 32px;
        }

        .detalle-prod .detalle-info .detalle-bloque-cuatro {
        }

    .set_encuentras_producto {
        height: auto;
        overflow: hidden;
        padding: 15px 0px 38px 0px;
        background: #f6f6f6;
        margin-top: 40px;
        width: 100%;
    }

        .set_encuentras_producto p.titulo_set {
            display: block;
            font-size: 15px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.07;
            letter-spacing: 0.6px;
            text-align: center;
            color: #000000;
            margin-bottom: 18px;
        }

        .set_encuentras_producto .set_encuentras_producto_carrusel {
            margin: auto;
            text-align: center;
        }

    .set_encuentras_producto_video {
        height: auto;
        overflow: hidden;
        padding: 19px 0px 24px 0px;
        background: white;
        width: 100%;
    }

        .set_encuentras_producto_video p.titulo_set {
            font-size: 13px;
            font-weight: bold;
            font-style: normal;
            display: block;
            width: 100%;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 2.5px;
            text-align: left;
            color: #000000;
            margin-bottom: 19px;
        }

        .set_encuentras_producto_video iframe {
            height: 455px;
            margin: auto;
        }

    .comparte_set_encuentras_producto_video {
        padding: 24px 0px 35px 0px;
        text-align: center;
    }

        .comparte_set_encuentras_producto_video hr {
            border-top: 1px solid #0000007a;
        }

        .comparte_set_encuentras_producto_video p {
            font-size: 13px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: normal;
            text-align: center;
            color: #000000;
            display: block;
            margin: auto;
            margin-bottom: 17px;
        }

        .comparte_set_encuentras_producto_video ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            text-align: center;
        }

            .comparte_set_encuentras_producto_video ul li {
                display: inline-block;
                width: 40px;
                margin-left: 2%;
                margin-right: 2%;
            }

                .comparte_set_encuentras_producto_video ul li a {
                    display: block;
                }

                    .comparte_set_encuentras_producto_video ul li a img {
                        width: 100%;
                    }
</style>


@{
    var btnDesabled = 0;
    var btnDesabledClass = "";

    if (Model.CodigoVariante == Constantes.TipoEstrategiaSet.IndividualConTonos)
    {
        if ((Model.Hermanos.Any()))
        {
            btnDesabled = 1;
        }
    }
    else if (Model.CodigoVariante == Constantes.TipoEstrategiaSet.CompuestaFija || Model.CodigoVariante == Constantes.TipoEstrategiaSet.CompuestaVariable)
    {
        if (Model.Hermanos != null && Model.Hermanos.Any())
        {
            if (Model.Hermanos[0].Digitable == 1 && Model.Hermanos[0].Hermanos.Any())
            {
                btnDesabled = 1;
            }
        }
    }
}

<div data-item="" data-tag-html="@ViewBag.Campania">
    <div class="revista_ficha" style='background: url(@Model.TipoEstrategiaDetalle.ImgFichaFondoMobile); background-color: #24303c !important;'
         data-estadoregistro="@ViewBag.EstadoSuscripcion" data-item=""
         data-OrigenPedidoWeb="@Constantes.OrigenPedidoWeb.LanzamientoMobileProductPage">
        <div style="display:none;"><div data-estrategia="@Json.Encode(Model)"></div></div>
        <div class="wrapper_resumen_mobile">
            <div class="detalle-prod" data-item="">
                <div data-compartir-campos="" style="display:none;">
                    <input type="hidden" class="CUV" value="@Model.CUV2" />
                    <input type="hidden" class="rsFBMensaje" value="" />
                    <input type="hidden" class="rsFBRuta" value="@Model.UrlCompartir" />
                    <input type="hidden" class="rsWAMensaje" value="" />
                    <input type="hidden" class="rsWARuta" value="@Model.UrlCompartir" />
                    <input type="hidden" class="rsFBRutaImagen" value="@Model.FotoProducto01" />
                    <input type="hidden" class="rsWARutaImagen" value="@Model.FotoProducto01" />
                    <input type="hidden" class="MarcaID" value="@Model.MarcaID" />
                    <input type="hidden" class="MarcaNombre" value="@Model.DescripcionMarca" />
                    <input type="hidden" class="Nombre" value="@Model.DescripcionResumen" />
                    <input type="hidden" class="ProductoDescripcion" value="@Model.DescripcionDetalle" />
                    <input type="hidden" class="Volumen" value="" />
                    <input type="hidden" class="Palanca" value="LAN" />
                </div>
                <div class="detalle-img">
                    <div class="img-portada" style="background:url(@Model.FotoProductoSmall);"></div>

                </div>
                <div class="detalle-info">
                    <div class="label-nuevo">
                        <img src="@Model.TipoEstrategiaDetalle.ImgFichaDesktop" />
                    </div>
                    <div class="detalle-bloque-uno">
                        <div class="bloque1">
                            <p>@Model.DescripcionMarca</p>
                            <h1>@Model.DescripcionResumen</h1>
                            @*<span>4g/.</span>*@
                        </div>
                        <div class="bloque2">
                            <span class="precio-tachado">@Model.Simbolo @Model.PrecioTachado</span>
                            <span class="precio-para-ti">precio para tí<b>@Model.Simbolo @Model.PrecioVenta</b></span>
                            <span class="gana-rojo">@Model.Simbolo @Model.Ganancia</span>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div class="detalle-bloque-dos">
                        <p>@Model.TipoEstrategiaDetalle.Slogan</p>
                        <ul>
                            @foreach (var DescDetalle in Model.ListaDescripcionDetalle)
                            {
                                <li>@DescDetalle.Trim()</li>
                            }
                        </ul>
                    </div>
                    <div id="ContenedorDeTonos" class="detalle-bloque-tres">
                        @Html.Partial("~/Views/Lanzamientos/Template_LanzamientosTonos.cshtml", Model)
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>
        </div>
    </div>
    <div class="set_encuentras_producto" id="set_relacionados">
        <div class="wrapper_resumen_mobile">
            <p class="titulo_set">
                PACKS CON @Model.DescripcionResumen
            </p>
            <div class="set_encuentras_producto_carrusel">
                <!-- aqui carrusel de productos -->
                <div id="divOfertaProductos"></div>
            </div>
        </div>
    </div>
    @if ((Model.TipoEstrategiaDetalle.UrlVideoDesktop ?? "") != "")
    {
        <div class="set_encuentras_producto_video" id="video_lanzamiento">
            <div class="wrapper_resumen_mobile">
                <div class="revista_producto_video" style="width: 100%">
                    <div id="player"></div>
                </div>
            </div>
        </div>
    }
    <div class="comparte_set_encuentras_producto_video" data-posicion="0" data-item="165">
        <div class="wrapper_resumen_mobile">
            <hr />
            <p>Comparte el producto con tus clientes:</p>
            <ul>
                <li><a href="javascript: void(0);" data-compartir="WA"><img src="~/Content/Images/mobile/img-icon/whatsapp-50x50.png" alt=""></a></li>
                <li><a href="javascript: void(0);" data-compartir="FB"><img src="~/Content/Images/mobile/Esika/facebook.png" alt=""></a></li>
            </ul>
        </div>
    </div>

    @if (Model.PuedeAgregarProducto)
    {
        <div class="row">
            <div class="content_btn_agregar">
                <div class="content_320">
                    @if (btnDesabled == 1)
                    {
                        btnDesabledClass = "btn_desactivado_general";
                    }
                    <div class="content_cantidad_ficha_producto">
                        <a class="cantidad_menos_home"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
                        <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" data-input="cantidad">
                        <a class="cantidad_mas_home"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
                    </div>
                    <a class="@btnDesabledClass btn_agregar_ficha_producto" id="tbnAgregarProducto"
                       onclick="javascript:EstrategiaAgregar(event, true); ">AGRÉGALO</a>
                    <hr class="clear">
                </div>
            </div>
        </div>
    }

</div>


@if (Model.ClaseBloqueada != "")
{
    @Html.Action("MensajeBloqueado", "RevistaDigital")
}
@Html.Partial("~/Areas/Mobile/Views/EstrategiaPersonalizada/template-producto-landing.cshtml")
@section scripts{
    @System.Web.Optimization.Scripts.Render("~/bundles/Lanzamientos-Detalle")
    <script type="text/javascript">
        var origenPedidoWebEstrategia = '@Constantes.OrigenPedidoWeb.LanzamientoMobileProductPage';
        var tipoOrigenEstrategia = 272;
        var videoId = '@Model.TipoEstrategiaDetalle.UrlVideoMobile';
        var descripcionResumen = "@Model.DescripcionResumen";
        $(document).ready(function () {
            detalleLanzamiento.init({
                videoId: videoId,
                descripcionResumen: descripcionResumen
            });
            RDDetalleObtener();
        });
        function onYouTubeIframeAPIReady() {
            detalleLanzamiento.onYouTubeIframeAPIReady();
        }
    </script>
}