@using Portal.Consultoras.Web.Areas.Mobile.Models

@model PaypalMobileModel

@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}
    <div class="titulo_mobile">
        <a href="@Request.UrlReferrer" class="enlace_regresar catalogosR" title="Regresar"></a>
        &nbsp;&nbsp;&nbsp;&nbsp;PAGOS EN LÍNEA
    </div>
    <div class="fondo_f2f2f2" style="border-bottom:0; background:white">
        <div class="pestana_esika"></div>
        <div class="pestana_lbel"></div>
    </div>
   <br/>
    <div class="fondo_f2f2f2" style="border-bottom:0; background:white">
        <div class="pestana_esika"></div>
        <div class="pestana_lbel"></div>
    </div>
   <br/>


    <div class="col-xs-12">
        <div class="block-center form-pagos">
            <form id="frmPago" method="POST" role="form">
                <input id="ORDERFORM" type="hidden" value="False" name="ORDERFORM" />
                <input id="SHOWCONFIRM" type="hidden" value="False" name="SHOWCONFIRM" />
                <input id="EMAILCUSTOMER" type="hidden" value="True" name="EMAILCUSTOMER" />
                <input id="LOGIN" type="hidden" name="LOGIN" value="@Model.Login" />
                <input id="PARTNER" type="hidden" name="PARTNER" value="@Model.Partner" />
                <input id="TYPE" type="hidden" name="TYPE" value="@Model.Type" />
                <input id="METHOD" type="hidden" name="METHOD" value="@Model.Method" />
                <input id="DESCRIPTION" type="hidden" value="Abono Cuenta - MyEbel" name="DESCRIPTION" />
                <input id="EXPDATE" type="hidden" name="EXPDATE" />
                <input id="NAME" type="hidden" name="NAME" value="@Model.NombreConsultora" />
                <input id="ADDRESS" type="hidden" name="ADDRESS" />
                <input id="CITY" type="hidden" name="CITY" />
                <input id="COUNTRY" type="hidden" name="COUNTRY" value="PUERTORICO" />
                <input id="ZIP" type="hidden" name="ZIP" />
                <input id="EMAIL" type="hidden" name="EMAIL" value="@Model.CorreoConsultora" />
                <input id="USER1" type="hidden" name="USER1" value="0282" />
                <input id="USER2" type="hidden" name="USER2" value="@Model.CodigoConsultora" />
                <input id="USER3" type="hidden" name="USER3" value="@Model.PaisID" />
                <input id="CARDNUM" type="hidden" name="CARDNUM" />
                <input id="AMOUNT" type="hidden" name="AMOUNT" />
                <input id="RETURNURL" name="RETURNURL" type="hidden" value="@Model.ReturnUrl" />
                <input id="FAILEDURL" name="FAILEDURL" type="hidden" />
                <input id="POSTURL" name="POSTURL" type="hidden" value="@Model.PostUrl" />
                <input id="COMMENT1" name="COMMENT1" type="hidden" value="@Model.CodigoConsultora" />

                <div>
                    <strong>Ingresa el monto a cancelar o abonar (Dólares)</strong>
                </div>
                <div>
                    Deuda total: <strong class="text-primary">@(string.Format("$ {0:#,##0.00}", Model.SaldoActual).Replace(',', '.'))</strong>
                </div>
                <hr class="line-white">

                <div class="form-group">
                    <label for="AMOUNT2" class="fw-400"> Ingresa el monto</label><br />
                    <input id="AMOUNT2" name="AMOUNT2" type="text" maxlength="9" style="width: 150px; display: inline;" class="form-control fc-line" />
                    <span class="field-validation-valid" data-valmsg-for="AMOUNT2" data-valmsg-replace="true"></span>
                    <span class="form-help">(dólares)</span>
                </div>

                <div class="form-group">
                    <label for="CARDNUM2" class="fw-400">Número de tarjeta de crédito</label>
                    <input id="CARDNUM2" name="CARDNUM2" type="text" maxlength="25" class="form-control fc-line " />
                    <span class="field-validation-valid" data-valmsg-for="CARDNUM2" data-valmsg-replace="true"></span>
                    <div class="img-card" style="margin-top:10px;">
                        <img src="@Url.Content("~/Content/images/mobile/Tarjeta_Visa.png")" alt="Visa" />
                        <img src="@Url.Content("~/Content/images/mobile/Tarjeta_MasterCard.png")" alt="Master Card" />
                        <img src="@Url.Content("~/Content/images/mobile/Tarjeta_AmericanExpress.png")" alt="American Express" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-7" style="padding-right: 0;">
                            <label for="ddlMes" class="fw-400">Fecha de vencimiento</label>
                            <select id="ddlMes" name="ddlMes" class="form-control fc-line">
                                <option value="">Mes</option>
                                <option value="01">Enero</option>
                                <option value="02">Febrero</option>
                                <option value="03">Marzo</option>
                                <option value="04">Abril</option>
                                <option value="05">Mayo</option>
                                <option value="06">Junio</option>
                                <option value="07">Julio</option>
                                <option value="08">Agosto</option>
                                <option value="09">Septiembre</option>
                                <option value="10">Octubre</option>
                                <option value="11">Noviembre</option>
                                <option value="12">Diciembre</option>
                            </select>
                        </div>
                        <div class="col-xs-5">
                            <label for="ddlAnho" class="fw-400">&nbsp;</label>
                            <select id="ddlAnho" name="ddlAnho" class="form-control fc-line">
                                <option value="">Año</option>
                                @foreach (var anio in Model.Anios)
                                {
                                    <option value="@anio.Substring(2, 2)">@anio</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button id="btnPagar" type="button" class="btn_editar_pedido" style="margin-top:10px">Pagar</button> 
                </div>              
            </form>
        </div>
    </div>


@section scripts
{
    <script type="text/javascript">

        var urlInsertDatosPago = "@Url.Action("InsertDatosPago", "Paypal", new {area = "Mobile"})";

        $(function () {

            $('#AMOUNT2').keypress(function (e) {
                var character = String.fromCharCode(e.keyCode);
                var newValue = this.value + character;
                if (isNaN(newValue) || hasDecimalPlace(newValue, 3)) {
                    e.preventDefault();
                    return false;
                }
            });

            $('#btnPagar').click(function (e) {
                var vMessage = "";
                var ekl = parseFloat(document.getElementById('AMOUNT2').value);
                var card = document.getElementById('CARDNUM2').value;
                var mes = document.getElementById('ddlMes').value;
                var anho = document.getElementById('ddlAnho').value;

                if ($.trim($("#AMOUNT2").val()) == "")
                    vMessage += "<p class='text-small'>- Debe ingresar el monto a cancelar o abonar.</p>";
                if (ekl == 0)
                    vMessage += "<p class='text-small'>- Debe ingresar un monto válido, ej. 2 o 2.00.</p>";
                if (card == "")
                    vMessage += "<p class='text-small'>- Debe ingresar el número de tarjeta de crédito.</p>";
                if (mes == "")
                    vMessage += "<p class='text-small'>- Debe seleccionar un mes de vencimiento.</p>";
                if (anho == "")
                    vMessage += "<p class='text-small'>- Debe seleccionar el año de vencimiento.</p>";

                if (vMessage == "") {
                    SetFechaVencimiento();
                    RegristarDatosPago();
                } else {
                    messageInfo("<div class='text-left'>" + vMessage + "</div>");
                    return false;
                }
            });

        });

        function hasDecimalPlace(value, x) {
            var pointIndex = value.indexOf('.');
            return pointIndex >= 0 && pointIndex < value.length - x;
        }

        function SetFechaVencimiento() {
            var mes = document.getElementById('ddlMes').value;
            var anho = document.getElementById('ddlAnho').value;
            var card = document.getElementById('CARDNUM2').value;
            var mont = document.getElementById('AMOUNT2').value;

            document.getElementById('EXPDATE').value = mes + anho;
            document.getElementById('CARDNUM').value = card;
            document.getElementById('AMOUNT').value = mont;
        }

        function RegristarDatosPago() {
            var montoAbono = document.getElementById('AMOUNT2').value;
            var nroTarjeta = document.getElementById('CARDNUM2').value;

            ShowLoading();

            jQuery.ajax({
                type: 'POST',
                url: urlInsertDatosPago,
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ nroTarjeta: nroTarjeta, monto: montoAbono }),
                async: true,
                success: function (data) {
                    if (checkTimeout(data)) {
                        CloseLoading();
                        if (data.success == true) {
                            document.getElementById("frmPago").action = "https://payflowlink.paypal.com";
                            $('#frmPago').submit();
                        } else {
                            messageInfo("Ya existe una transaccción con esta información, espere su confirmación.");
                        }
                    }
                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        CloseLoading();
                        messageInfo("ERROR");
                    }
                }
            });
        }

    </script>
}