@model Portal.Consultoras.Web.Models.Buscador.BusquedaProductoOutModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayoutResponsive.cshtml";
}

<link href="@Url.Content("~/Content/Css/Site/BusquedaProductos/busqueda-productos.css")" rel="stylesheet" />

<section class="row flex-row ml-0 mr-0 layout__content">
    <section class="row flex-row justify-content-lg-between justify-content-xl-between align-self-start ml-0 mr-0 w-100 mx-auto layout__content__wrapper">
        <section class="col-12 col-lg-6 col-xl-6 busqueda__productos__encontrados__wrapper">
            <h1 class="col-12 pl-0 pr-0 busqueda__productos__titulo">
                Resultados de la búsqueda
            </h1>
            <p class="col-12 pl-0 pr-0 busqueda__productos__encontrados">
                <span id="TotalProductos" class="busqueda__num__productos__encontrados">0</span>  resultados para: <span id="TextoBusqueda" class="busqueda__nom__filtro text-bold">@Model.TextoBusqueda</span>
            </p>
        </section>
        @if (Model.MostrarOpcionesOrdenamiento)
        {
            <section class="col-12 col-lg-6 col-xl-6 lista__opciones_ordenamiento">
                <div class="row flex-row justify-content-end ml-0 mr-0">
                    <div class="col-6 col-lg-10 col-xl-10 pl-0 pr-0 opcion_ordenamiento text-lg-right text-xl-right">
                        <label class="col-12 col-lg-3 col-xl-3 pl-0 d-inline-block text-center text-lg-right text-xl-right opcion__ordenamiento__label">Ordenar</label>
                        <!-- AL AGREGAR EL EVENTO CLICK POR JS PARA MOSTRAR EL LISTADO DE OPCIONES AGREGAR ESTA CLASE opcion__ordenamiento__dropdown--desplegado -->
                        <div id="dpw-ordenar" class="col-12 col-lg-6 col-xl-6 pl-0 pr-0 d-inline-block opcion__ordenamiento__dropdown text-left">
                            <span class="col-11 opcion__ordenamiento__dropdown__seleccionada mostrarEnDesktop">Recomendación</span>
                            <span class="col pl-0 pr-0 opcion__ordenamiento__dropdown__icono mostrarEnDesktop">
                                <img src="@Url.Content("~/Content/Images/ordenar-flecha-icono.svg")" alt="" />
                            </span>
                        </div>
                        <!-- FIN - AL AGREGAR EL EVENTO CLICK POR JS PARA MOSTRAR EL LISTADO DE OPCIONES AGREGAR ESTA CLASE opcion__ordenamiento__dropdown--desplegado -->
                    </div>
                    <ul id="ul-ordenar" class="col-9 col-md-10 col-lg-6 col-xl-6 pl-0 pr-0 opcion__ordenamiento__dropdown__lista d-none">


                        @for (int i = 0; i < Model.ListaOrdenamiento.Count; i++)
                        {
                            if (i == 0)
                            {
                                <li class="col-12 pl-0 pr-0 opcion__ordenamiento__dropdown__item d-block"
                                    data-value=" @Model.ListaOrdenamiento.ToList()[i].Value">
                                    <a class="col-12 d-block opcion__ordenamiento__dropdown__link opcion__ordenamiento__dropdown__link--seleccionada"
                                       title="@Model.ListaOrdenamiento.ToList()[i].Key">
                                        @Model.ListaOrdenamiento.ToList()[i].Key
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="col-12 pl-0 pr-0 opcion__ordenamiento__dropdown__item d-block"
                                    data-value=" @Model.ListaOrdenamiento.ToList()[i].Value">
                                    <a class="col-12 d-block opcion__ordenamiento__dropdown__link"
                                       title="@Model.ListaOrdenamiento.ToList()[i].Key">
                                        @Model.ListaOrdenamiento.ToList()[i].Key
                                    </a>
                                </li>
                            }
                        }

                    </ul>
                </div>
            </section>
        }
        <section class="col-12 fichas__productos__wrapper text-center" id="FichasProductosBuscador"></section>
    </section>
</section>
@section scripts{
    <script type="text/javascript">
    var textoBusqueda = '@Model.TextoBusqueda';
    var totalProductosPagina = '@Model.TotalProductosPagina';
    var totalCaracteresDescripcion = '@Model.TotalCaracteresDescripcion';
    </script>
    <script src="@Url.Content("~/Scripts/PortalConsultoras/Buscador/BusquedaProductoModule.js")"></script>
}

<script id="js-FichaProductoBuscador" type="text/x-handlebars-template">

    {{#each this as |item|}}
    <article class="ficha__producto ficha__producto--delgada" data-item="BuscadorFichasProductos" data-loaded="{{Loaded}}">

        <input type="hidden" class="hdBuscadorJSON" value="{{JSON2string item}}" />

        <div class="row flex-row justify-content-center ml-0 mr-0">
            <figure class="col-12 ficha__producto__imagen text-center">
                <img src="{{Imagen}}" onerror="this.onerror=null;this.src='@Url.Content("~/Content/Images/oferta-sin-imagen.svg")'" />
            </figure>
            <div class="col-12 pl-0 pr-0 ficha__producto__descrip d-block mx-auto text-left">
                <div class="col-12 pl-0 pr-0 ficha__producto__descrip__marca__pais text-uppercase">
                    {{DescripcionEstrategia}}
                </div>
                <div class="col-12 pl-0 pr-0 ficha__producto__descrip__nom text-bold">
                    {{Descripcion}}
                </div>
            </div>
            <div class="row flex-row align-items-baseline ml-0 mr-0 col-12 pl-0 pr-0 ficha__producto__precio">
                {{#if_eq TipoPersonalizacion 'LIQ'}}
                <div class="ficha__producto__precio__oferta text-bold text-left">
                    {{PrecioString}}
                </div>
                {{else}}
                <div class="ficha__producto__precio__normal text-left">
                    {{ValorizadoString}}
                </div>
                <div class="ficha__producto__precio__oferta text-bold text-left">
                    {{PrecioString}}
                </div>
                {{/if_eq}}
            </div>
            <div class="row flex-row justify-content-between ml-0 mr-0 pl-0 pr-0 ficha__producto__agregar__producto">
                {{#if_eq CodigoEstrategia '2003'}}
                <div class="w-100" data-OrigenPedidoWeb="{{OrigenPedidoWeb}}">
                    <!-- BOTÓN ELIGE TU OPCIÓN -->
                    <a class="redireccionarFicha row flex-row justify-content-center align-items-center ml-0 mr-0 btn_elegir_opcion btn__elegir__opcion--fichaProducto {{#if Stock}} btn_inactivo btn__inactivo--fichaProducto {{/if}} ml-0 mr-0 text-uppercase text-center" href="javascript:;">
                        {{#if Stock}}
                        Agotado
                        {{else}}
                        <span class="col-12 pl-0 pr-0 text-bold d-inline-block">
                        </span>
                        {{/if}}

                    </a>
                    <!-- FIN - BOTÓN ELIGE TU OPCIÓN -->
                </div>
                {{else}}
                <div class="col-12 col-md col-lg col-xl pl-0 pr-0">
                    <div class="row flex-row justify-content-between ml-0 mr-0 ficha__producto__rango__cantidad js-no-popup {{#if Stock}} selector_cant_desactivado selector__cant__desactivado--fichaProducto {{/if}}" data-cantidad-contenedor="">
                        <a class="col-4 col-md-4 col-lg-4 col-xl-4 pl-0 pr-0 menos d-block js-no-popup" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)">
                            <img class="d-block js-no-popup" src="/Content/Images/menos.svg" alt="">
                        </a>
                        <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" data-input="cantidad" class="col-4 col-md-8 col-lg-8 col-xl-8 pl-0 pr-0 d-block text-center text-bold ValidaNumeral ValidaPasteNumeral js-no-popup" {{#if Stock}} disabled {{/if}}>
                        <a class="col-4 col-md-4 col-lg-4 col-xl-4 pl-0 pr-0 mas d-block js-no-popup" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)">
                            <img class="d-block js-no-popup" src="/Content/Images/mas.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-7 col-lg-7 col-xl-7 pl-0 pr-0 flex-grow-1">
                    {{#if Stock}}
                    <a class="boton_Agregalo_home boton__agregalo--fichaProducto btn_inactivo btn__inactivo--fichaProducto text-center text-uppercase d-block">
                        Agotado
                    </a>
                    {{else}}
                    <a class="boton_Agregalo_home boton__agregalo--fichaProducto text-center text-uppercase d-block FichaAgregarProductoBuscador">
                        Agrégalo
                    </a>
                    {{/if}}
                </div>
                {{/if_eq}}
            </div>
            <div class="col-12 pl-0 pr-0 etiqueta_buscador_producto ficha__producto__etiqueta text-center">
                {{#if_eq Agregado 'Agregado'}}
                <span class="text-uppercase text-bold d-inline-block">{{Agregado}}</span>
                {{/if_eq}}
            </div>
        </div>
    </article>
    {{/each}}
</script>
