@model Portal.Consultoras.Web.Models.Buscador.BusquedaProductoOutModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayoutResponsive.cshtml";
}

<link href="@Url.Content("~/Content/Css/Site/BusquedaProductos/busqueda-productos.css")" rel="stylesheet" />

<section class="row flex-row ml-0 mr-0 layout__content">
    <!-- SECCIÓN FILTROS -->
    @if (ViewBag.FlagFiltrosBuscador)
    {
        <div class="col-12 pl-0 pr-0 background__filtros__mobile"></div>
        <section class="row flex-row justify-content-center align-items-stretch ml-0 mr-0 layout__content__filtros">
            <div class="col-12 pl-0 pr-0 filtros__wrapper">
                <div class="row flex-row justify-content-between align-items-center ml-0 mr-0 filtros_subtitulo mostrarEnMobile">
                    <div class="col-9 col-lg-12 col-xl-12 pl-0 pr-0">
                        <h3 class="col-12 pl-0 pr-0 text-bold text-uppercase">Filtra tus ofertas</h3>
                        <div class="col-12 pl-0 pr-0 text-bold">14 resultados</div>
                    </div>
                    <a id="cerrarFiltros" class="d-inline-block filtros__enlace__cerrar mostrarEnMobile">
                        <img src="@Url.Content("~/Content/Images/cerrar-filtros.svg")" alt="" />
                    </a>
                </div>
                <div class="col-12 pl-0 pr-0 filtros__subtitulo mostrarEnDesktop">
                    Filtrar por:
                </div>
                <ul class="row flex-row ml-0 mr-0 filtros__lista">
                    <li class="col-12 pl-0 pr-0 filtro__tipo">
                        <div class="row flex-row justify-content-between align-items-center ml-0 mr-0 filtro__tipo__titulo filtro__tipo__titulo--mostrarContenido">
                            <div class="col-10 pl-0 pr-0">Categorías</div>
                            <div class="d-inline-block filtro__tipo__titulo__icono__despliegue"></div>
                        </div>
                        <ul class="row flex-row ml-0 mr-0 filtro__tipo__items" id="filtrosCategorias"></ul>
                    </li>
                    <li class="col-12 pl-0 pr-0 filtro__tipo">
                        <div class="row flex-row justify-content-between align-items-center ml-0 mr-0 filtro__tipo__titulo filtro__tipo__titulo--mostrarContenido">
                            <div class="col-10 pl-0 pr-0">Marcas</div>
                            <div class="d-inline-block filtro__tipo__titulo__icono__despliegue"></div>
                        </div>
                        <ul class="row flex-row ml-0 mr-0 filtro__tipo__items" id="filtrosMarcas"></ul>
                    </li>
                </ul>
                <div class="row flex-row justify-content-between align-items-center ml-0 mr-0 mostrarEnMobile filtro__btn__mobile__wrapper">
                    <div class="col-6 pl-0">
                        <button class="col-12 pl-0 pr-0 text-uppercase filtro__btn filtro__btn--limpiar">
                            Limpiar
                        </button>
                    </div>
                    <div class="col-6 pl-0 pr-0">
                        <button class="col-12 pl-0 pr-0 text-uppercase filtro__btn filtro__btn--aplicar">
                            Aplicar
                        </button>
                    </div>
                </div>
            </div>
        </section>
    }
    <!-- FIN - SECCIÓN DE FILTROS -->
    <!-- SECCIÓN FICHA DE PRODUCTOS -->
    <section class="row flex-row justify-content-lg-between justify-content-xl-between align-self-start ml-0 mr-0 mx-auto layout__content__fichaProductos">
        <section class="col-12 col-lg-6 col-xl-6 busqueda__productos__encontrados__wrapper">
            <h1 class="col-12 pl-0 pr-0 busqueda__productos__titulo">
                Resultados de la búsqueda
            </h1>
            <p class="col-12 pl-0 pr-0 busqueda__productos__encontrados">
                <span id="TotalProductos" class="busqueda__num__productos__encontrados">0</span>  resultados para: <span id="TextoBusqueda" class="busqueda__nom__filtro text-bold">@Model.TextoBusqueda</span>
            </p>
        </section>
        @if (Model.MostrarOpcionesOrdenamiento)
        {
            <section class="col-12 col-lg-6 col-xl-6 lista__opciones__ordenamiento__y__filtrar">
                <div class="row flex-row justify-content-between justify-content-lg-end justify-content-xl-end ml-0 mr-0">
                    <div class="row flex-row align-items-center ml-0 mr-0 col-6 col-lg-11 col-xl-11 pl-0 pr-0 lista__opcion__wrapper lista__opcion__wrapper--filtrar mostrarEnMobile">
                        <div id="opcionFiltrar" class="col-12 pl-0 pr-0 opcion__filtrar">
                            <a class="col-12 col-lg-4 col-xl-4 pl-0 d-inline-block text-center opcion__filtrar__link" title="Filtrar">
                                Filtrar
                            </a>
                        </div>
                    </div>
                    <div class="row flex-row align-items-center ml-0 mr-0 col-12 col-lg-11 col-xl-11 pl-0 pr-0 lista__opcion__wrapper lista__opcion__wrapper--ordenar">
                        <div class="col-12 pl-0 pr-0 opcion__ordenamiento text-lg-right text-xl-right">
                            <label class="col-12 col-lg-4 col-xl-4 pl-0 d-inline-block text-center text-lg-right text-xl-right opcion__ordenamiento__label">
                                Ordenar
                            </label>
                            <!-- AL AGREGAR EL EVENTO CLICK POR JS PARA MOSTRAR EL LISTADO DE OPCIONES AGREGAR ESTA CLASE opcion__ordenamiento__dropdown--desplegado -->
                            <div id="dpw-ordenar" class="col-12 col-lg-6 col-xl-6 pl-0 pr-0 d-inline-block opcion__ordenamiento__dropdown text-left">
                                <span class="col-11 opcion__ordenamiento__dropdown__seleccionada mostrarEnDesktop ul-seleccionado">Recomendación</span>
                                <span class="col pl-0 pr-0 opcion__ordenamiento__dropdown__icono mostrarEnDesktop">
                                    <img src="@Url.Content("~/Content/Images/ordenar-flecha-icono.svg")" alt="" />
                                </span>
                            </div>
                            <!-- FIN - AL AGREGAR EL EVENTO CLICK POR JS PARA MOSTRAR EL LISTADO DE OPCIONES AGREGAR ESTA CLASE opcion__ordenamiento__dropdown--desplegado -->
                        </div>
                    </div>
                    <ul id="ul-ordenar" class="col-9 col-md-10 col-lg-6 col-xl-6 pl-0 pr-0 opcion__ordenamiento__dropdown__lista d-none">
                        @for (int i = 0; i < Model.ListaOrdenamiento.Count; i++)
                        {
                            if (i == 0)
                            {
                                <li class="col-12 pl-0 pr-0 opcion__ordenamiento__dropdown__item d-block"
                                    data-value=" @Model.ListaOrdenamiento.ToList()[i].Value " title="@Model.ListaOrdenamiento.ToList()[i].Key">
                                    <a class="col-12 d-block opcion__ordenamiento__dropdown__link opcion__ordenamiento__dropdown__link--seleccionada"
                                       title="@Model.ListaOrdenamiento.ToList()[i].Key">
                                        @Model.ListaOrdenamiento.ToList()[i].Key
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="col-12 pl-0 pr-0 opcion__ordenamiento__dropdown__item d-block"
                                    data-value=" @Model.ListaOrdenamiento.ToList()[i].Value " title="@Model.ListaOrdenamiento.ToList()[i].Key">
                                    <a class="col-12 d-block opcion__ordenamiento__dropdown__link"
                                       title="@Model.ListaOrdenamiento.ToList()[i].Key">
                                        @Model.ListaOrdenamiento.ToList()[i].Key
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </section>
        }
        <section class="col-12 fichas__productos__wrapper text-center" id="FichasProductosBuscador"></section>
    </section>
    <!-- FIN - SECCIÓN FICHA DE PRODUCTOS -->
</section>
@section scripts{
    <script type="text/javascript">
    var textoBusqueda = '@Model.TextoBusqueda';
    var totalProductosPagina = '@Model.TotalProductosPagina';
    var totalCaracteresDescripcion = '@Model.TotalCaracteresDescripcion';
    </script>
    <script src="@Url.Content("~/Scripts/PortalConsultoras/Buscador/BusquedaProductoModule.js")"></script>
}

<script id="js-fichaFiltros" type="text/x-handlebars-template">
    {{#each this as |item|}}
    <li class="col-12 pl-0 pr-0 filtro__item" data-item="BuscadorFiltros">
        <input type="hidden" class="BuscadorFiltroLabel" value="{{label}}" />
        <input type="hidden" class="BuscadorFiltroID" value="{{id}}" />
        <div class="row flex-row flex-nowrap align-items-center ml-0 mr-0 filtro__item__form_fields buscadorFiltrosSeleccionar">
            <input id="{{id}}" type="checkbox" class="filtro__item__checkbox buscadorFiltrosChecked" {{#if marcado}} checked {{/if}} /> <!--checked-->
            <label class="col-11 pl-0 mb-0 filtro__item__descrip" for="{{id}}">
                <span class="d-inline-block filtro__item__checkbox"></span>
                <span class="d-inline-block">{{label}} ({{count}})</span>
            </label>
        </div>
    </li>
    {{/each}}
</script>

<script id="js-FichaProductoBuscador" type="text/x-handlebars-template">

    {{#each this as |item|}}
    <article class="ficha__producto" data-item="BuscadorFichasProductos">

        <input type="hidden" class="hdBuscadorJSON" value="{{JSON2string item}}" />

        <div class="row flex-row justify-content-center ml-0 mr-0">
            <figure class="col-12 ficha__producto__imagen text-center">
                <img data-src="{{Imagen}}" data-src-error="@Url.Content("~/Content/Images/oferta-sin-imagen.svg")" class="lazy" />
            </figure>
            <div class="col-12 pl-0 pr-0 ficha__producto__descrip d-block mx-auto text-left">
                <div class="col-12 pl-0 pr-0 ficha__producto__descrip__marca__pais text-uppercase">
                    {{DescripcionEstrategia}}
                </div>
                <div class="col-12 pl-0 pr-0 ficha__producto__descrip__nom text-bold">
                    {{Descripcion}}
                </div>
            </div>
            <div class="row flex-row align-items-end ml-0 mr-0 col-12 pl-0 pr-0 ficha__producto__precio">
                {{#if_eq TipoPersonalizacion 'LIQ'}}
                <div class="ficha__producto__precio__oferta ficha__producto__precio__oferta--liquidacion text-bold text-left">
                    {{PrecioString}}
                </div>
                {{else}}
                <div class="ficha__producto__precio__normal text-left">
                    {{ValorizadoString}}
                </div>
                <div class="ficha__producto__precio__oferta text-bold text-left">
                    {{PrecioString}}
                </div>
                {{/if_eq}}
            </div>
            <div class="row flex-row justify-content-between ml-0 mr-0 pl-0 pr-0 ficha__producto__agregar__producto">
                {{#if_eq CodigoEstrategia '2003'}}
                <div class="w-100" data-OrigenPedidoWeb="{{OrigenPedidoWeb}}">
                    <!-- BOTÓN ELIGE TU OPCIÓN -->
                    <a class="redireccionarFicha row flex-row justify-content-center align-items-center ml-0 mr-0 btn_elegir_opcion btn__elegir__opcion--fichaProducto {{#if Stock}} btn_inactivo btn__inactivo--fichaProducto {{/if}} ml-0 mr-0 text-uppercase text-center" href="javascript:;">
                        {{#if Stock}}
                        Agotado
                        {{else}}
                        <span class="col-12 pl-0 pr-0 text-bold d-inline-block">
                        </span>
                        {{/if}}

                    </a>
                    <!-- FIN - BOTÓN ELIGE TU OPCIÓN -->
                </div>
                {{else}}
                <div class="col-12 col-md col-lg col-xl pl-0 pr-0">
                    <div class="row flex-row justify-content-between ml-0 mr-0 ficha__producto__rango__cantidad js-no-popup {{#if Stock}} selector_cant_desactivado selector__cant__desactivado--fichaProducto {{/if}}" data-cantidad-contenedor="">
                        <a class="col-4 col-md-4 col-lg-4 col-xl-4 pl-0 pr-0 menos d-block js-no-popup" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)">
                            <img class="d-block js-no-popup" src="/Content/Images/menos.svg" alt="">
                        </a>
                        <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" data-input="cantidad" class="col-4 col-md-8 col-lg-8 col-xl-8 pl-0 pr-0 d-block text-center text-bold ValidaNumeral ValidaPasteNumeral js-no-popup" {{#if Stock}} disabled {{/if}}>
                        <a class="col-4 col-md-4 col-lg-4 col-xl-4 pl-0 pr-0 mas d-block js-no-popup" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)">
                            <img class="d-block js-no-popup" src="/Content/Images/mas.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-7 col-lg-7 col-xl-7 pl-0 pr-0 flex-grow-1">
                    {{#if Stock}}
                    <a class="boton_Agregalo_home boton__agregalo--fichaProducto btn_inactivo btn__inactivo--fichaProducto text-center text-uppercase d-block">
                        Agotado
                    </a>
                    {{else}}
                    <a class="boton_Agregalo_home boton__agregalo--fichaProducto text-center text-uppercase d-block FichaAgregarProductoBuscador">
                        Agrégalo
                    </a>
                    {{/if}}
                </div>
                {{/if_eq}}
            </div>
            <div class="col-12 pl-0 pr-0 etiqueta_buscador_producto ficha__producto__etiqueta text-center">
                {{#if_eq Agregado 'Agregado'}}
                <span class="text-uppercase text-bold d-inline-block">{{Agregado}}</span>
                {{/if_eq}}
            </div>
        </div>
    </article>
    {{/each}}
</script>

@*

    <li class="col-12 pl-0 pr-0 filtro__tipo">
        <div class="row flex-row justify-content-between align-items-center ml-0 mr-0 filtro__tipo__titulo filtro__tipo__titulo--mostrarContenido">
            <div class="col-10 pl-0 pr-0">Precios</div>
            <div class="d-inline-block filtro__tipo__titulo__icono__despliegue"></div>
        </div>
        <ul class="row flex-row ml-0 mr-0 filtro__tipo__items" id="filtrosPrecios">
            <li class="col-12 pl-0 pr-0 filtro__item">
                <div class="row flex-row flex-nowrap align-items-center ml-0 mr-0 filtro__item__form_fields">
                    <input id="filtroPrimeraOpcionPrecio" type="checkbox" class="filtro__item__checkbox" />
                    <label class="col-11 pl-0 mb-0 filtro__item__descrip" for="filtroPrimeraOpcionPrecio">
                        <span class="d-inline-block filtro__item__checkbox"></span>
                        <span class="d-inline-block">Menos de S/ 50</span>
                    </label>
                </div>
            </li>
            <li class="col-12 pl-0 pr-0 filtro__item">
                <div class="row flex-row flex-nowrap align-items-center ml-0 mr-0 filtro__item__form_fields">
                    <input id="filtroSegundaOpcionPrecio" type="checkbox" class="filtro__item__checkbox" />
                    <label class="col-11 pl-0 mb-0 filtro__item__descrip" for="filtroSegundaOpcionPrecio">
                        <span class="d-inline-block filtro__item__checkbox"></span>
                        <span class="d-inline-block">De S/ 50 a S/ 100</span>
                    </label>
                </div>
            </li>
            <li class="col-12 pl-0 pr-0 filtro__item">
                <div class="row flex-row flex-nowrap align-items-center ml-0 mr-0 filtro__item__form_fields">
                    <input id="filtroTerceraOpcionPrecio" type="checkbox" class="filtro__item__checkbox" />
                    <label class="col-11 pl-0 mb-0 filtro__item__descrip" for="filtroTerceraOpcionPrecio">
                        <span class="d-inline-block filtro__item__checkbox"></span>
                        <span class="d-inline-block">De S/ 100 a S/ 200</span>
                    </label>
                </div>
            </li>
        </ul>
    </li>
    <li class="col-12 pl-0 pr-0 filtro__tipo">
        <div class="row flex-row justify-content-between align-items-center ml-0 mr-0 filtro__tipo__titulo filtro__tipo__titulo--mostrarContenido">
            <div class="col-10 pl-0 pr-0">Género</div>
            <div class="d-inline-block filtro__tipo__titulo__icono__despliegue"></div>
        </div>
        <ul class="row flex-row ml-0 mr-0 filtro__tipo__items" id="filtrosGenero">
            <li class="col-12 pl-0 pr-0 filtro__item">
                <div class="row flex-row flex-nowrap align-items-center ml-0 mr-0 filtro__item__form_fields">
                    <input id="filtroParaElla" type="checkbox" class="filtro__item__checkbox" />
                    <label class="col-11 pl-0 mb-0 filtro__item__descrip" for="filtroParaElla">
                        <span class="d-inline-block filtro__item__checkbox"></span>
                        <span class="d-inline-block">Para ella</span>
                    </label>
                </div>
            </li>
            <li class="col-12 pl-0 pr-0 filtro__item">
                <div class="row flex-row flex-nowrap align-items-center ml-0 mr-0 filtro__item__form_fields">
                    <input id="filtroParaEl" type="checkbox" class="filtro__item__checkbox" />
                    <label class="col-11 pl-0 mb-0 filtro__item__descrip" for="filtroParaEl">
                        <span class="d-inline-block filtro__item__checkbox"></span>
                        <span class="d-inline-block">Para él</span>
                    </label>
                </div>
            </li>
        </ul>
    </li>
    <li class="col-12 pl-0 pr-0 filtro__tipo">
        <div class="row flex-row justify-content-between align-items-center ml-0 mr-0 filtro__tipo__titulo filtro__tipo__titulo--mostrarContenido">
            <div class="col-10 pl-0 pr-0">Cantidad</div>
            <div class="d-inline-block filtro__tipo__titulo__icono__despliegue"></div>
        </div>
        <ul class="row flex-row ml-0 mr-0 filtro__tipo__items" id="filtrosCantidad">
            <li class="col-12 pl-0 pr-0 filtro__item">
                <div class="row flex-row flex-nowrap align-items-center ml-0 mr-0 filtro__item__form_fields">
                    <input id="filtroCantidadUnitarias" type="checkbox" class="filtro__item__checkbox" />
                    <label class="col-11 pl-0 mb-0 filtro__item__descrip" for="filtroCantidadUnitarias">
                        <span class="d-inline-block filtro__item__checkbox"></span>
                        <span class="d-inline-block">Unitarias</span>
                    </label>
                </div>
            </li>
            <li class="col-12 pl-0 pr-0 filtro__item">
                <div class="row flex-row flex-nowrap align-items-center ml-0 mr-0 filtro__item__form_fields">
                    <input id="filtroCantidadPacks" type="checkbox" class="filtro__item__checkbox" />
                    <label class="col-11 pl-0 mb-0 filtro__item__descrip" for="filtroCantidadPacks">
                        <span class="d-inline-block filtro__item__checkbox"></span>
                        <span class="d-inline-block">Packs</span>
                    </label>
                </div>
            </li>
        </ul>
    </li>
    <li class="col-12 pl-0 pr-0 filtro__tipo">
        <div class="row flex-row justify-content-between align-items-center ml-0 mr-0 filtro__tipo__titulo filtro__tipo__titulo--mostrarContenido">
            <div class="col-10 pl-0 pr-0">Secciones</div>
            <div class="d-inline-block filtro__tipo__titulo__icono__despliegue"></div>
        </div>
        <ul class="row flex-row ml-0 mr-0 filtro__tipo__items" id="filtrosSecciones">
            <li class="col-12 pl-0 pr-0 filtro__item">
                <div class="row flex-row flex-nowrap align-items-center ml-0 mr-0 filtro__item__form_fields">
                    <input id="filtroOfertasEspeciales" type="checkbox" class="filtro__item__checkbox" />
                    <label class="col-11 pl-0 mb-0 filtro__item__descrip" for="filtroOfertasEspeciales">
                        <span class="d-inline-block filtro__item__checkbox"></span>
                        <span class="d-inline-block">Ofertas Especiales</span>
                    </label>
                </div>
            </li>
            <li class="col-12 pl-0 pr-0 filtro__item">
                <div class="row flex-row flex-nowrap align-items-center ml-0 mr-0 filtro__item__form_fields">
                    <input id="filtroLosMasVendidos" type="checkbox" class="filtro__item__checkbox" />
                    <label class="col-11 pl-0 mb-0 filtro__item__descrip" for="filtroLosMasVendidos">
                        <span class="d-inline-block filtro__item__checkbox"></span>
                        <span class="d-inline-block">Los más vendidos</span>
                    </label>
                </div>
            </li>
            <li class="col-12 pl-0 pr-0 filtro__item">
                <div class="row flex-row flex-nowrap align-items-center ml-0 mr-0 filtro__item__form_fields">
                    <input id="filtroLoNuevo" type="checkbox" class="filtro__item__checkbox" />
                    <label class="col-11 pl-0 mb-0 filtro__item__descrip" for="filtroLoNuevo">
                        <span class="d-inline-block filtro__item__checkbox"></span>
                        <span class="d-inline-block">Lo Nuevo ¡Nuevo!</span>
                    </label>
                </div>
            </li>
            <li class="col-12 pl-0 pr-0 filtro__item">
                <div class="row flex-row flex-nowrap align-items-center ml-0 mr-0 filtro__item__form_fields">
                    <input id="filtroOfertasParaTi" type="checkbox" class="filtro__item__checkbox" />
                    <label class="col-11 pl-0 mb-0 filtro__item__descrip" for="filtroOfertasParaTi">
                        <span class="d-inline-block filtro__item__checkbox"></span>
                        <span class="d-inline-block">Ofertas para ti</span>
                    </label>
                </div>
            </li>
            <li class="col-12 pl-0 pr-0 filtro__item">
                <div class="row flex-row flex-nowrap align-items-center ml-0 mr-0 filtro__item__form_fields">
                    <input id="filtroSoloHoy" type="checkbox" class="filtro__item__checkbox" />
                    <label class="col-11 pl-0 mb-0 filtro__item__descrip" for="filtroSoloHoy">
                        <span class="d-inline-block filtro__item__checkbox"></span>
                        <span class="d-inline-block">¡Sólo Hoy!</span>
                    </label>
                </div>
            </li>
            <li class="col-12 pl-0 pr-0 filtro__item">
                <div class="row flex-row flex-nowrap align-items-center ml-0 mr-0 filtro__item__form_fields">
                    <input id="filtroGuiaNegocioDigital" type="checkbox" class="filtro__item__checkbox" />
                    <label class="col-11 pl-0 mb-0 filtro__item__descrip" for="filtroGuiaNegocioDigital">
                        <span class="d-inline-block filtro__item__checkbox"></span>
                        <span class="d-inline-block">Guía de Negocio Digital</span>
                    </label>
                </div>
            </li>
            <li class="col-12 pl-0 pr-0 filtro__item">
                <div class="row flex-row flex-nowrap align-items-center ml-0 mr-0 filtro__item__form_fields">
                    <input id="filtroCatalogo" type="checkbox" class="filtro__item__checkbox" />
                    <label class="col-11 pl-0 mb-0 filtro__item__descrip" for="filtroCatalogo">
                        <span class="d-inline-block filtro__item__checkbox"></span>
                        <span class="d-inline-block">Catálogo</span>
                    </label>
                </div>
            </li>
            <li class="col-12 pl-0 pr-0 filtro__item">
                <div class="row flex-row flex-nowrap align-items-center ml-0 mr-0 filtro__item__form_fields">
                    <input id="filtroDemostradoresHerramientasVenta" type="checkbox" class="filtro__item__checkbox" />
                    <label class="col-11 pl-0 mb-0 filtro__item__descrip" for="filtroDemostradoresHerramientasVenta">
                        <span class="d-inline-block filtro__item__checkbox"></span>
                        <span class="d-inline-block">Demostradores y<br />Herramientas de venta</span>
                    </label>
                </div>
            </li>
            <li class="col-12 pl-0 pr-0 filtro__item">
                <div class="row flex-row flex-nowrap align-items-center ml-0 mr-0 filtro__item__form_fields">
                    <input id="filtroLiquidaciones" type="checkbox" class="filtro__item__checkbox" />
                    <label class="col-11 pl-0 mb-0 filtro__item__descrip" for="filtroLiquidaciones">
                        <span class="d-inline-block filtro__item__checkbox"></span>
                        <span class="d-inline-block">Expofertas /<br />Liquidaciones</span>
                    </label>
                </div>
            </li>
        </ul>
    </li>*@