@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Models
@using Portal.Consultoras.Web.Models.Layout

@{
    var tagContenedor = "Contenedor";
    var menuList = (List<ConfiguracionPaisModel>)ViewBag.MenuContenedor ?? new List<ConfiguracionPaisModel>();
    var menuActivo = (MenuContenedorModel)ViewBag.MenuContenedorActivo ?? new MenuContenedorModel();
}

@if (menuActivo.MostrarMenuFlotante)
{
    <div class="op-menu-horizonta-fixed" data-menu-codigo="@menuActivo.Codigo" data-layout-menu2="">
        @if (menuList.Any())
        {

            <div class="op-menu-horizontal">
                <ul class="subnavegador" 
                    data-es-suscrita="@ViewBag.EsSuscrita.ToString().ToLower()" 
                    data-es-activa="@ViewBag.EsActiva.ToString().ToLower()">

                    @foreach (var menuhijo in menuList)
                    {
                        var claseActivo = menuhijo.Codigo == menuActivo.Codigo ? "activado" : string.Empty;

                        if (ViewBag.EsSuscrita)
                        {
                            claseActivo = menuhijo.Codigo == menuActivo.Codigo ? "default-dorado activado-dorado" : "default-dorado";
                        }
                        else
                        {
                            claseActivo = claseActivo + " activado-grande";
                        }

                    <li data-campania="@menuhijo.CampaniaId"
                        data-activo="1"
                        data-codigo="@menuhijo.Codigo"
                        data-es-ancla="@menuhijo.EsAncla"
                        onclick="menuModule.menuClick(this, '@menuhijo.UrlMenu')">

                        @if (!string.IsNullOrEmpty(menuhijo.DesktopLogoMenu))
                        {
                            <a href="javascript:void(0);"
                               class="gana_mas_horizontal @claseActivo"
                               role="menu"
                               region="Lateral"
                               parent="@tagContenedor - @menuActivo.NombreOrigenPantalla"
                               title="@menuhijo.DesktopSubTituloMenu">

                                @if (menuhijo.Codigo == menuActivo.Codigo)
                                {
                                    <img class="imgSeleccionado"
                                         src="@menuhijo.DesktopLogoMenu"
                                         role="menu"
                                         region="Lateral"
                                         parent="@tagContenedor - @menuActivo.NombreOrigenPantalla"
                                         title="@menuhijo.DesktopSubTituloMenu"
                                         alt="" />
                                    <img class="imgNoSeleccionado ocultar"
                                         src="@menuhijo.DesktopLogoMenuNoActivo"
                                         role="menu"
                                         region="Lateral"
                                         parent="@tagContenedor - @menuActivo.NombreOrigenPantalla"
                                         title="@menuhijo.DesktopSubTituloMenu"
                                         alt="" />
                                }
                                else
                                {
                                    <img src="@menuhijo.DesktopLogoMenuNoActivo"
                                         role="menu"
                                         region="Lateral"
                                         parent="@tagContenedor - @menuActivo.NombreOrigenPantalla"
                                         title="@menuhijo.DesktopSubTituloMenu"
                                         alt="" />
                                }
                            </a>

                        }
                        @if (!string.IsNullOrEmpty(menuhijo.DesktopTituloMenu))
                        {

                                <a href="javascript:void(0);" class="@claseActivo" role="menu"
                                 region="Lateral" parent="@tagContenedor - @menuActivo.NombreOrigenPantalla"
                               title="@menuhijo.DesktopTituloMenu">@menuhijo.DesktopTituloMenu </a>
                                }

                        </li>
                    }
                </ul>
            </div>
        }
    </div>

    <div class="clear"></div>
}
