@{
    List<Portal.Consultoras.Web.Models.PermisoModel> permisoList = ViewBag.Permiso;
    bool showLinks = permisoList != null && (ViewBag.Rol == Portal.Consultoras.Common.Constantes.Rol.Consultora || ViewBag.Rol == Portal.Consultoras.Common.Constantes.Rol.AdministradorSAC);
}

<script type="text/javascript">
    if (!Array.prototype.indexOf) {
        Array.prototype.indexOf = function (elt) {
            var len = this.length >>> 0;

            var from = Number(arguments[1]) || 0;
            from = (from < 0)
                 ? Math.ceil(from)
                 : Math.floor(from);
            if (from < 0)
                from += len;
            for (; from < len; from++) {
                if (from in this &&
                    this[from] === elt)
                    return from;
            }
            return -1;
        };
    }
</script>

<div id="footer_width_image"><img src="@Url.Content("~/Content/Images/somos_belcorp.png")" alt="SomosBelcorp" /></div>
<div id="footer_width_links" class="footer_margin_text">
    @if (showLinks)
    {
        if (ViewBag.CodigoISODL == "PE")
        { <link href="@Url.Content("~/Content/Css/Site/footer_PE.css")" rel="stylesheet" type="text/css" /> }

        string fieldWidthClass = "footer_width_item";
        foreach (var itemFooter in permisoList.Where(x => x.Posicion.ToLower().Equals("footer")))
        {
            var pageTarget = itemFooter.EsDireccionExterior ? "_blank" : "_self";
            if (ViewBag.CodigoISODL == "PE" && itemFooter.OrdenItem == 3) { fieldWidthClass = "field195px"; }

            <div class="@fieldWidthClass footer_text_10">
                <div class="vertical_align_parent margin_right_10">
                    <span class="vertical_align_child">
                        @if (String.IsNullOrWhiteSpace(itemFooter.UrlItem))
                        {
                            <a href="#">@itemFooter.Descripcion</a>
                        }
                        else if (!itemFooter.EsDireccionExterior)
                        {
                            <a href="javascript:;" onclick="return SetAnalyticsMenu('@itemFooter.UrlItem.Split('/')[1]', '@itemFooter.UrlItem.Split('/')[0]',@Convert.ToInt32(itemFooter.PaginaNueva), '@itemFooter.Descripcion',1, '@itemFooter.RolId')" target="@pageTarget" role="outbound-link" region="Outbound Link" parent="@itemFooter.Descripcion" id="lnk-out-@itemFooter.DescripcionFormateada" title="@itemFooter.Descripcion">@itemFooter.Descripcion</a>
                        }
                        else
                        {
                            <a href="javascript:;" onclick="return SetAnalyticsMenu('@itemFooter.UrlItem', '',@Convert.ToInt32(itemFooter.PaginaNueva), '@itemFooter.Descripcion',1, '@itemFooter.RolId')" target="@pageTarget" role="outbound-link" region="Outbound Link" parent="@itemFooter.Descripcion" id="lnk-out-@itemFooter.DescripcionFormateada" title="@itemFooter.Descripcion">@itemFooter.Descripcion</a>
                        }
                    </span>
                </div>
            </div>
        }
    }
</div>

<div id="footer_width_logos" class="text_align_right footer_margin_logos">
    <a href="#" onclick="return SetMarcaGoogleAnalytics('LBel','http://www.lbel.com');" role="outbound-link" region="Outbound Link" parent="L’bel" id="lnk-out-lbel" title="LBEL"><img class="margin_right_20" src="@Url.Content("~/Content/Images/lbel.png")" alt="L'BEL" /></a>
    <a href="#" onclick="return SetMarcaGoogleAnalytics('Esika','http://www.esika.biz');" role="outbound-link" region="Outbound Link" parent="Ésika" id="lnk-out-esika" title="ESIKA"><img class="margin_right_20" src="@Url.Content("~/Content/Images/esika.png")" alt="Ésika" /></a>
    <a href="#" onclick="return SetMarcaGoogleAnalytics('Cyzone','http://www.cyzone.com');" role="outbound-link" region="Outbound Link" parent="Cyzone" id="lnk-out-cyzone" title="CYZONE"><img class="margin_right_10" src="@Url.Content("~/Content/Images/cyzone.png")" alt="Cyzone" /></a>

</div>
<div id="footer_width_copyrigth" class="text_align_right">
    <span class="footer_text_10 margin_right_10"> SÍGUENOS EN </span>
    <a href="javascript:;" onclick="return SiguenosEnFacebook();" target="_blank" role="outbound-link" region="Outbound Link" parent="Facebook" id="lnk-out-facebook" title="Facebook Belcorp"><img src="@Url.Content("~/Content/Images/social_icon_facebook.png")" alt="Facebook" style="padding-right:54px;" /></a>
    <span id="copyright">
        <span class="copyright_text">Copyright Belcorp 2016.</span>
        <span class="copyright_text">All rights reserved.</span>
    </span>
</div>
<div class="clear"></div>