@using Portal.Consultoras.Common

@model Portal.Consultoras.Web.Models.ProductoModel
@{
    ViewBag.Title = "Incentivos SMS";
    Layout = null;
}

<html lang="es">
<head>
    <meta charset="utf-8" />
    <link href="@Url.Content("~/Content/Css/Site/incentivosSMS.css")" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700italic,300,700,900" rel="stylesheet" type="text/css" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="SomosBelcorp Web Mobile" />

    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.11.2.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.9.2.custom.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/General.js")"></script>
    <script type="text/javascript">
            var ViewBagEsMobile = 2;
            var productoModel = {
                'CUV': '@Model.CUV',
                'Cantidad': '1',
                'PrecioUnidad': '@Model.PrecioCatalogo',
                'TipoEstrategiaID': '@Model.TipoEstrategiaID',
                'MarcaID': '@Model.MarcaID',
                'DescripcionProd': '@Html.Raw(@Model.Descripcion)',
                'IndicadorMontoMinimo': '@Model.IndicadorMontoMinimo'
            };

            var urlHorarioRestringido = '@Url.Action("EnHorarioRestringido", "Pedido", new { area = "" })';
            var urlDesreservarPedido = '@Url.Action("PedidoValidadoDeshacerReserva", "Pedido", new { area = "", Tipo = "PV" })';
            var urlPedidoInsert = '@Url.Action("PedidoInsertar", "Pedido", new { area = "" })';
            var urlPedidoWeb = '@Url.Action("Index", "Pedido", new { area = "" })';
            var urlPedidoMobile = '@Url.Action("Index", "Pedido", new { area = "Mobile" })';

            var mensajePostFail = 'Hubieron problemas de conexión al intentar registrar su producto. Inténtelo más tarde.';
            var mensajeRegistroSatisfactorio = 'El producto se registró satisfactoriamente';
    </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/IncentivosSMS/Index.js")"></script>
    <script src="@Url.Content("~/Scripts/PortalConsultoras/EstrategiaAgregar/EstrategiaAgregar.js")"></script>
</head>
    <body>
        <div class="desktop">
            <div class="fondo_set">
                <div class="titulo_mobile">EXCLUSIVO PACK</div>
                <div class="wrapper_ficha_detalle">
                    <div class="content_producto_set">
                        <img src="@Url.Content("~/Content/Images/IncentivosSMS/201709/pack500x500.png")">
                    </div>
                    <div class="content_detalle_set">
                        <div class="content_left_ficha">
                            <div class="titulo_set">EXCLUSIVO PACK</div>
                            <div class="nombre_set_individual" style="width: 100%;margin-top: 3px; font-weight: normal">Para que tus ganancias crezcan y llegues a nivel 2 de regalo por pedido</div>
                        </div>
                        <div class="content_right_ficha">
                            <div class="precio_valorizado_showroom">Cód. @Model.CUV</div>
                            <div class="precio_oferta_venta">
                                A Solo<b>US$ 19.99</b>
                            </div>
                            <div class="ganancia_showroom">Gana US$ 27.98</div>
                        </div>
                        <hr class="clear">

                        <div class="notificacion_pack">Limitado a 1 pack por consultora</div>
                        <div class="titulo_separador">TU PACK INCLUYE</div>
                        <div class="nombre_set_individual">
                            <span class="cantidad_set">x1</span>Máscara Multilashes
                        </div>
                        <div class="nombre_set_individual">
                            <span class="cantidad_set">x1</span>Dancing Night
                        </div>
                        <div class="nombre_set_individual">
                            <span class="cantidad_set">x1</span>Grazzia
                        </div>

                        <div class="linea_separadora" style="margin-top: 20px; margin-bottom: 10px;"></div>
                        <div class="content_agregar">
                            <div class="content_mobile_agregar">
                                <div class="cantidad_desktop">
                                    <div class="liquidacion_rango_home" data-cantidad-contenedor="">
                                        <input type="text" disabled="disabled" value="1" size="2" maxlength="2" data-input="cantidad" class="liquidacion_rango_cantidad_pedido">
                                        <div class="liquidacion_rango_right_pedido">
                                            <a class="mas" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)"><img src="https://s3.amazonaws.com/uploads.hipchat.com/583104/4578891/rMnx6GzqNrZOPda/mas.png" alt=""></a>
                                            <a class="menos" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)"><img src="https://s3.amazonaws.com/uploads.hipchat.com/583104/4578891/KoqLwUxgA6rLXpX/menos.png" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="cantidad_mobile">
                                    <div class="content_cantidad_ficha_producto">
                                        <a class="cantidad_menos_home"><img src="https://s3.amazonaws.com/uploads.hipchat.com/583104/4578891/Z7MGkKIocGAOQ3z/menos.png" alt=""></a>
                                        <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" disabled="disabled" class="rango_cantidad_pedido">
                                        <a class="cantidad_mas_home"><img src="https://s3.amazonaws.com/uploads.hipchat.com/583104/4578891/yMcFFPmfz6tf6LC/mas.png" alt=""></a>
                                    </div>
                                </div>
                                <a href="javascript:void(0);" class="btn_agregar_set" onclick="InsertarProductoIncentivo()">AGRÉGALO</a>
                                <hr class="clear">
                                <a href="javascript:void(0);" onclick="RedirectToPedido()" class="btn_otros mobile_otros">@Constantes.IncentivosSMS.MensajeAgregarMasProductos</a>
                            </div>
                        </div>
                        <a href="javascript:void(0);" onclick="RedirectToPedido()" class="btn_otros desktop_otros">@Constantes.IncentivosSMS.MensajeAgregarMasProductos</a>
                    </div>
                    <div class="content_ficha_compra">
                        <div class="titulo_compra_POP">REGALO POR PEDIDO</div>
                        <div class="titulo_producto_compra_carrusel">Si tu pedido supera los <b>$100</b> recibirás una vajilla de 12 piezas</div>
                        <div class="content_imagen_carrusel_compra" data-img="" style="cursor: auto;">
                            <img src="@Url.Content("~/Content/Images/IncentivosSMS/201709/vajilla.png")">
                        </div>
                    </div>
                    <hr class="clear">
                </div>
            </div>
        </div>
        
        <div class="content-spinner2" id="loading-spin">
            <div class="busy-loader">
                <div class="w-ball-wrapper ball-1">
                    <div class="w-ball"></div>
                </div>
                <div class="w-ball-wrapper ball-2">
                    <div class="w-ball"></div>
                </div>
                <div class="w-ball-wrapper ball-3">
                    <div class="w-ball"> </div>
                </div> <div class="w-ball-wrapper ball-4">
                    <div class="w-ball"> </div>
                </div>
                <div class="w-ball-wrapper ball-5">
                    <div class="w-ball"> </div>
                </div>
            </div>
        </div>
        
        <div id="popupInformacionSB2Bueno" class="MensajeAlertaMobile" style="display:none;">
            <div class="content_mensajeAlerta">
                <a class="cerrar_popMobile" href="javascript:;" onclick="javascript: $('#popupInformacionSB2Bueno').hide();">
                    <img src="/Content/Images/mobile/Esika/cerrar_04.png" alt="-">
                </a>
                <hr class="clear">
                <div class="icono_alerta check_icono_mobile"></div>
                <div class="titulo_compartir">¡LO <b>LOGRASTE</b>!</div>
                <div id="mensajeInformacionSB2Bueno" class="mensaje_alerta"></div>
                <a href="javascript:;" onclick="$('#popupInformacionSB2Bueno').hide();" class="btn_ok_mobile"><b>OK</b></a>
            </div>
        </div>
        
        <div id="popupInformacionSB2Error" class="MensajeAlertaMobile" style="display:none;">
            <div class="content_mensajeAlerta">
                <a class="cerrar_popMobile" href="javascript:;" onclick="javascript: $('#popupInformacionSB2Error').hide();">
                    <img src="/Content/Images/mobile/Esika/cerrar_04.png" alt="-">
                </a>
                <hr class="clear">
                <div class="icono_alerta exclamacion_icono_mobile"></div>
                <div class="titulo_compartir"><b>LO SENTIMOS</b></div>
                <div id="mensajeInformacionSB2_Error" class="mensaje_alerta"></div>
                <a href="javascript:;" onclick="$('#popupInformacionSB2Error').hide();" class="btn_ok_mobile"><b>OK</b></a>
            </div>
        </div>
        
        <div id="popupInformacionSB2SesionFinalizada" class="MensajeAlertaMobile" style="display:none;">
            <div class="content_mensajeAlerta">
                <a class="cerrar_popMobile" href="javascript:;" onclick="window.location.href='@Url.Action("Index", "Login", new { area = "" })'">
                    <img src="/Content/Images/mobile/Esika/cerrar_04.png" alt="-">
                </a>
                <hr class="clear">
                <div class="icono_alerta exclamacion_icono_mobile"></div>
                <div class="titulo_compartir"><b>SESIÓN FINALIZADA</b></div>
                <div id="mensajeInformacionSB2_SesionFinalizada" class="mensaje_alerta"></div>
                <a href="javascript:;" onclick="window.location.href='@Url.Action("Index", "Login", new { area = "" })'" class="btn_ok_mobile"><b>OK</b></a>
            </div>
        </div>
    </body>
</html>