@{
    ViewBag.Title = "_ListadoOfertasWeb";
}
<script type="text/javascript">
    function InfoCommerceGoogle(ItemTotal, CUV, DescripcionProd, Categoria, Precio, Cantidad, Marca) {
        if (ItemTotal >= 0 && Precio >= 0 && Cantidad > 0) {
            dataLayer.push({
                'event': 'ecommerce',
                'transactionId': '@ViewBag.CodigoISODL' + '+' + '@ViewBag.CodigoConsultoraDL' + '+' + Math.floor(Math.random() * 1000000000),
            'transactionAffiliation': Categoria,
            'transactionTotal': ItemTotal,
            'transactionTax': '0',
            'transactionShipping': '0',
            'transactionProducts': [
                {
                    'sku': CUV,
                    'name': DescripcionProd,
                    'category': Marca,
                    'price': Precio,
                    'quantity': Cantidad
                }
            ]
        });
    }
}

function AgregarOfertaProducto(Object, TipoOferta) {
    if (HorarioRestringido())
        return;

    var Cantidad = $(Object).parent().parent().find(".ValidaNumeralOferta")[0].value;
    var OfertaProductoID = $(Object).prev('input[type="hidden"]').val();
    var div = $(Object).parent().parent().parent().parent().find(".producto_agregado");
    var TipoOfertaID = $(Object).parent().parent().parent().parent().find(".TipoOfertaSisID")[0].value;
    var ConfiguracionOfertaID = $(Object).parent().parent().parent().parent().find(".ConfiguracionOfertaID")[0].value;
    var MarcaID = $(Object).parent().parent().parent().parent().find(".MarcaID")[0].value;
    var CUV = $(Object).parent().parent().parent().parent().find(".CUV")[0].value;
    var PrecioUnidad = $(Object).parent().parent().parent().parent().find(".PrecioOferta")[0].value;
    var DescripcionProd = $(Object).parent().parent().parent().parent().find(".DescripcionProd")[0].value;
    var DescripcionMarca = $(Object).parent().parent().parent().parent().find(".DescripcionMarca")[0].value;

    waitingDialog({});
    if (Cantidad == "" || Cantidad == 0) {
        alert_msg("La cantidad ingresada debe ser mayor que 0, verifique.");
        closeWaitingDialog();
        return false;
    } else {
        $($(Object).parent().parent().find(".ValidaNumeralOfertaAnterior")).val(Cantidad);
        var Item = {
            MarcaID: MarcaID,
            Cantidad: Cantidad,
            PrecioUnidad: PrecioUnidad,
            CUV: CUV,
            ConfiguracionOfertaID: ConfiguracionOfertaID
        };

        jQuery.ajax({
            type: 'POST',
            url: baseUrl + 'OfertaWeb/InsertOfertaWebPortal',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(Item),
            async: true,
            success: function (data) {
                if (data.success == true) {
                    $(Object).attr('disabled', true);
                    $(div).css('display', 'block');
                    CalcularAcumuladoCarrito();
                    $("#hdFlagOferta").val("1");
                    $("#hdFlagOfertaWeb").val("1");
                    if (ConfiguracionOfertaID == '@Portal.Consultoras.Common.Constantes.TipoOferta.Web') {
                            dataLayer.push({
                                'event': 'pageview',
                                'virtualUrl': '/Pedido/Ofertas-exclusivas/Agregar'
                            });
                        }
                        else {
                            dataLayer.push({
                                'event': 'pageview',
                                'virtualUrl': '/Oferta-Web/Agregar-OfertaDupla'
                            });
                        }
                        InfoCommerceGoogle(parseFloat(Cantidad * PrecioUnidad).toFixed(2), DescripcionProd, CUV, 'oferta­‐exclusiva', PrecioUnidad, Cantidad, DescripcionMarca);
                    }
                    else {
                        alert_msg(data.message);
                    }
                    closeWaitingDialog();
                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        alert_msg(data.message);
                        closeWaitingDialog();
                    }
                }
            });
        }
    }

    function ActualizarCantidadProducto(Object) {
        var estadoBoton = $(Object).parent().find(".btnAdd")[0].disabled;

        if (estadoBoton) {
            waitingDialog({});
            var cantidadActual = $(Object).val();
            //Validación de Ingreso Vacío
            if (cantidadActual == "" || cantidadActual == "0") {
                var cantidadAnterior = $(Object).prev('input[type="hidden"]').val();
                $(Object).val(cantidadAnterior);
                closeWaitingDialog();
                return false;
            } else {

                var Cantidad = $(Object).val();
                var CantidadAnterior = $(Object).prev('input[type="hidden"]').val();
                var TipoOfertaID = $(Object).parent().parent().parent().find(".TipoOfertaSisID")[0].value;
                var ConfiguracionOfertaID = $(Object).parent().parent().parent().find(".ConfiguracionOfertaID")[0].value;
                var MarcaID = $(Object).parent().parent().parent().find(".MarcaID")[0].value;
                var CUV = $(Object).parent().parent().parent().find(".CUV")[0].value;
                var PrecioUnidad = $(Object).parent().parent().parent().find(".PrecioOferta")[0].value;
                var DescripcionProd = $(Object).parent().parent().parent().find(".DescripcionProd")[0].value;
                var DescripcionMarca = $(Object).parent().parent().parent().find(".DescripcionMarca")[0].value;

                if (Cantidad == CantidadAnterior) {
                    closeWaitingDialog();
                    return false;
                }
                else {
                    $(Object).prev('input[type="hidden"]').val(Cantidad);

                    var Item = {
                        MarcaID: MarcaID,
                        Cantidad: Cantidad,
                        CantidadAnterior: CantidadAnterior,
                        PrecioUnidad: PrecioUnidad,
                        CUV: CUV,
                        ConfiguracionOfertaID: ConfiguracionOfertaID
                    };

                    jQuery.ajax({
                        type: 'POST',
                        url: baseUrl + 'OfertaWeb/UpdateOfertaWebPortal',
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(Item),
                        async: true,
                        success: function (data) {
                            if (data.success == true) {
                                CalcularAcumuladoCarrito();
                                InfoCommerceGoogle(parseFloat(Cantidad * PrecioUnidad).toFixed(2), DescripcionProd, CUV, 'oferta­‐exclusiva', PrecioUnidad, Cantidad, DescripcionMarca);
                            }
                            else
                                alert_msg(data.message);
                            closeWaitingDialog();
                        },
                        error: function (data, error) {
                            if (checkTimeout(data)) {
                                alert_msg(data.message);
                                closeWaitingDialog();
                            }
                        }
                    });
                }
            }
        }
    }

    function CalcularAcumuladoCarrito() {
        var cantidad = 0;
        var items = $(".ValidaNumeralOferta");
        for (var i = 0; i < items.length; i++) {
            var estado = $(items[i]).parent().find(".btnAdd")[0].disabled;
            if (parseInt(items[i].value) > 0 && estado)
                cantidad += parseInt(items[i].value)
        }
        $("#spCantidadItems").text(cantidad);
    }
</script>

@{
    List<Portal.Consultoras.Web.Models.OfertaProductoModel> lstOfertas = ViewBag.ListaOfertasWeb;
    string ISO = ViewBag.ISO;
    string Simbolo = ViewBag.Simbolo;
}
<input type="hidden" id="hdFlagOferta" value="0" />
@if (lstOfertas != null)
{
    foreach (var item in lstOfertas)
    {
        if (item.ConfiguracionOfertaID == Portal.Consultoras.Common.Constantes.TipoOferta.Dupla)
        {
    <div class="modulo_ofertas_dupla">
        <input type="hidden" class="TipoOfertaSisID" value="@item.TipoOfertaSisID"/>
        <input type="hidden" class="ConfiguracionOfertaID" value="@item.ConfiguracionOfertaID"/>
        <input type="hidden" class="MarcaID" value="@item.MarcaID"/>
        <input type="hidden" class="CUV" value="@item.CUV"/>
        <input type="hidden" class="PrecioOferta" value="@item.PrecioOferta"/>
        <input type="hidden" class="DescripcionProd" value="@item.Descripcion"/>
        <input type="hidden" class="DescripcionMarca" value="@item.DescripcionMarca"/>
        <div class="ofertas_producto">
            <div class="ofertas_producto_left">
                <div class="producto_agregado_dupla">
                    <img src='@Url.Content("~/Content/Images/dupla.png")'>
                </div>
                <div class="producto_agregado" style="display: none;">
                    <div>Agregado</div>
                </div>
                @if (!item.ImagenProducto.Equals(string.Empty))
                {
                    <img src='@item.ImagenProducto' alt="Imagen Producto">
                }
                else
                {
                    <img src='@Url.Content("~/Content/Matriz/Producto_Sin_Imagen.png")' alt="Imagen Producto">
                }
            </div>
        </div>
        <div class="ofertas_foot">
            <div class="ofertas_detail">
                <span class="texto">@item.Descripcion
                </span>
            </div>
            <div class="ofertas_detail">
                <span class="texto_legal">@item.DescripcionLegal
                </span>
            </div>
        </div>
        <div class="ofertas_foot">
            <div class="ofertas_precio">
                Precio <b>Oferta</b>: 
                                <div>
                                    <span class="superindice">@Simbolo</span>
                                    <span class="num">
                                        @if (ViewBag.PaisID == "4")
                                        { // Validación para colombia req. 1478
                                            @item.PrecioOferta.ToString("#,##0").Replace(',', '.')
                                        }
                                        else
                                        {
                                            @item.PrecioOferta.ToString("#,##0.00")
                                        }
                                    </span>
                                </div>
            </div>
            <div class="ofertas_cantidad">
                <span>Cantidad</span>
                <input type="hidden" class="ValidaNumeralOfertaAnterior" />
                <input type="text" maxlength="2" class="ValidaNumeralOferta" onblur="ActualizarCantidadProducto(this)">
                <div class="ofertas_agregar_pedido">
                    <input type="hidden" value="@item.OfertaProductoID" class="OfertaProductoID" />
                    <input type="button" value="Agregar" class="btnAdd" onclick='AgregarOfertaProducto(this, 2)'>
                </div>
            </div>
        </div>
    </div>
        }
        else
        {
    <div class="modulo_ofertas">
        <input type="hidden" class="TipoOfertaSisID" value="@item.TipoOfertaSisID"/>
        <input type="hidden" class="ConfiguracionOfertaID" value="@item.ConfiguracionOfertaID"/>
        <input type="hidden" class="MarcaID" value="@item.MarcaID"/>
        <input type="hidden" class="CUV" value="@item.CUV"/>
        <input type="hidden" class="PrecioOferta" value="@item.PrecioOferta"/>
        <input type="hidden" class="DescripcionProd" value="@item.Descripcion"/>
        <input type="hidden" class="DescripcionMarca" value="@item.DescripcionMarca"/>
        <div class="ofertas_producto">
            <div class="ofertas_producto_left">
                <div class="producto_agregado" style="display: none;">
                    <div>Agregado</div>
                </div>
                @if (!item.ImagenProducto.Equals(string.Empty))
                {
                    <img src='@item.ImagenProducto' alt="Imagen Producto">
                }
                else
                {
                    <img src='@Url.Content("~/Content/Matriz/Producto_Sin_Imagen.png")' alt="Imagen Producto">
                }
            </div>
        </div>
        <div class="ofertas_foot">
            <div class="ofertas_detail">
                <span class="texto">@item.Descripcion
                </span>
            </div>
            <div class="ofertas_detail">
                <span class="texto_legal">@item.DescripcionLegal
                </span>
            </div>
        </div>
        <div class="ofertas_foot">
            <div class="ofertas_precio">
                Precio <b>Oferta</b>: 
                            <div>
                                <span class="superindice">@Simbolo</span>
                                <span class="num">
                                    @if (ViewBag.PaisID == "4")
                                    { // Validación para colombia req. 1478
                                        @item.PrecioOferta.ToString("#,##0").Replace(',', '.')
                                    }
                                    else
                                    {
                                        @item.PrecioOferta.ToString("#,##0.00")
                                    }
                                </span>
                            </div>
            </div>
            <div class="ofertas_cantidad">
                <span>Cantidad</span>
                <input type="hidden" class="ValidaNumeralOfertaAnterior" />
                <input type="text" maxlength="2" class="ValidaNumeralOferta" onblur="ActualizarCantidadProducto(this)">
                <div class="ofertas_agregar_pedido">
                    <input type="hidden" value="@item.OfertaProductoID" class="OfertaProductoID" />
                    <input type="button" value="Agregar" class="btnAdd" onclick='AgregarOfertaProducto(this, 1)'>
                </div>
            </div>
        </div>
    </div>
        }
    }
}