@model Portal.Consultoras.Web.Models.OfertaProductoModel
@{
    ViewBag.Title = "Administración de Ofertas Web";
}
<script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
<script type="text/javascript">

    var paisNombre = "";
    var paisID = 11;

    $(document).unbind('keydown').bind('keydown', function (event) {
        var doPrevent = false;
        if (event.keyCode === 8) {
            var d = event.srcElement || event.target;
            if ((d.tagName.toUpperCase() === 'INPUT' && (d.type.toUpperCase() === 'TEXT' || d.type.toUpperCase() === 'PASSWORD'))
                 || d.tagName.toUpperCase() === 'TEXTAREA') {
                doPrevent = d.readOnly || d.disabled;
            }
            else {
                doPrevent = true;
            }
        }
        if (doPrevent) {
            event.preventDefault();
        }
    });

    jQuery(document).ready(function () {
        $.ajaxSetup({ cache: false });
        IniDialogOfertas();
        IniDialogStockProducto();
        IniForm();
        IniDialogImages();
        fnGrilla();
        $('#txtOrdenModal').keyup(function (evt) {
            var theEvent = evt || window.event;
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
            var regex = /[0-9]|\./;
            if (!regex.test(key)) {
                theEvent.returnValue = false;
                if (theEvent.preventDefault) theEvent.preventDefault();
            }
        });

        $("#chkImagenProducto01").click(function () {
            if ($("#chkImagenProducto01").attr('checked')) {
                $("#ImagenProducto").val($("#preview1").attr('src').replace(/^.*[\\\/]/, ''));
                var img01 = $('#ImagenProducto').val();
                if (img01.lastIndexOf("?") >= 0) {
                    img01 = img01.substring(0, img01.lastIndexOf("?"));
                    $('#ImagenProducto').val(img01);
                }

                $("#chkImagenProducto02").removeAttr('checked')
                $("#chkImagenProducto03").removeAttr('checked')
            }
        });
        $("#chkImagenProducto02").click(function () {
            if ($("#chkImagenProducto02").attr('checked')) {
                $("#ImagenProducto").val($("#preview2").attr('src').replace(/^.*[\\\/]/, ''));
                var img01 = $('#ImagenProducto').val();
                if (img01.lastIndexOf("?") >= 0) {
                    img01 = img01.substring(0, img01.lastIndexOf("?"));
                    $('#ImagenProducto').val(img01);
                }

                $("#chkImagenProducto01").removeAttr('checked')
                $("#chkImagenProducto03").removeAttr('checked')
            }
        });

        $("#chkImagenProducto03").click(function () {
            if ($("#chkImagenProducto03").attr('checked')) {
                $("#ImagenProducto").val($("#preview3").attr('src').replace(/^.*[\\\/]/, ''));
                var img01 = $('#ImagenProducto').val();
                if (img01.lastIndexOf("?") >= 0) {
                    img01 = img01.substring(0, img01.lastIndexOf("?"));
                    $('#ImagenProducto').val(img01);
                }

                $("#chkImagenProducto01").removeAttr('checked')
                $("#chkImagenProducto02").removeAttr('checked')
            }
        });

        $('#txtOrdenModal').keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });

        $("#btnBuscar").click(function () {
            var msjex = "";
            if ($("#ddlPais").val() == "")
                msjex += " - Debe seleccionar un País .\n";
            if ($("#ddlCampania").val() == "")
                msjex += " - Debe seleccionar un Campania .\n";

            if (msjex == "") {
                paisNombre = $("#ddlPais option:selected").text();
                paisID = $("#ddlPais").val();
                fnGrilla();
            }
            else {
                alert(msjex);
                return false;
            }
        });
        $('#ddlPais').change(function () {
            var Id = $(this).val();
            if (Id != "") {
                waitingDialog({});
                $.getJSON(baseUrl + 'OfertaWeb/ObtenerCampaniasYConfiguracionPorPais', { PaisID: Id == "" ? 0 : Id }, function (data) {
                    if (checkTimeout(data)) {
                        LimpiarDependencias(Id);

                        var ddlCampania = $('#ddlCampania');
                        var ddlConfiguracionOferta = $("#ddlConfiguracionOferta");
                        ddlCampania.empty();
                        ddlConfiguracionOferta.empty();
                        if (data.lista.length > 0) {
                            ddlCampania.append($('<option/>', {
                                value: "",
                                text: "-- Seleccionar --"
                            }));
                            if (Id != "") {
                                for (var item in data.lista) {
                                    ddlCampania.append($('<option/>', {
                                        value: data.lista[item].CampaniaID,
                                        text: data.lista[item].Codigo
                                    }));
                                }
                            }
                        }
                        if (data.lstConfig.length > 0) {
                            ddlConfiguracionOferta.append($('<option/>', {
                                value: "0",
                                text: "-- Todos --"
                            }));
                            if (Id != "") {
                                for (var item in data.lstConfig) {
                                    ddlConfiguracionOferta.append($('<option/>', {
                                        value: data.lstConfig[item].CodigoOferta,
                                        text: data.lstConfig[item].Descripcion
                                    }));
                                }
                            }
                        }
                        closeWaitingDialog();
                    }
                });
            } else LimpiarDependencias(Id);
        });
        $("#lnkStock").click(function () {
            showDialog("DialogCargarStock");
            LimpiarCarga();
            return false;
        });

        $("#preview1").click(function () {
            if (!($("#chkImagenProducto01").attr("disabled"))) {
                var src = $(this).attr('src');
                $("#imgModal").attr('src', src);
                showDialog('DialogImagenContainer');
            }
        });
        $("#preview2").click(function () {
            if (!($("#chkImagenProducto02").attr("disabled"))) {
                var src = $(this).attr('src');
                $("#imgModal").attr('src', src);
                showDialog('DialogImagenContainer');
            }
        });
        $("#preview3").click(function () {
            if (!($("#chkImagenProducto03").attr("disabled"))) {
                var src = $(this).attr('src');
                $("#imgModal").attr('src', src);
                showDialog('DialogImagenContainer');
            }
        });
        $(".qq-upload-list").css("display", "none");
    });

    function IniForm() {
        $('#frmCargarStock').ajaxForm({
            beforeSubmit: function () {
                waitingDialog({});
                var fileValue = $('#flStock').val();
                var extensiones = ['csv'];
                var get_ext;
                var message = '';

                //validar la extension del archivo
                get_ext = fileValue.split('.');
                get_ext = get_ext.reverse();

                if ($.inArray(get_ext[0].toLowerCase(), extensiones) == -1 && fileValue.length > 0)
                    message = message + '- El tipo de archivo es inválido, asegúrese de seleccionar con extensión (csv).'

                if (message.length > 0) {
                    closeWaitingDialog();
                    alert(message);
                    return false;
                }
            },
            success: fnRespuestaCargaStock
        });
    }

    function fnRespuestaCargaStock(responseText, statusText, xhr, $form) {
        closeWaitingDialog();
        if (checkTimeout(responseText)) {
            $("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
            alert(responseText);
            $('#DialogCargarStock').dialog('close');
        }
    }

    function LimpiarDependencias(Id) {
        var ddlCampania = $('#ddlCampania');
        ddlCampania.empty();
        ddlCampania.append($('<option/>', {
            value: "",
            text: "-- Seleccionar --"
        }));
        var ddlConfiguracionOferta = $('#ddlConfiguracionOferta');
        ddlConfiguracionOferta.empty();
        ddlConfiguracionOferta.append($('<option/>', {
            value: "",
            text: "-- Seleccionar --"
        }));
        $("#list").jqGrid("clearGridData", true).trigger("reloadGrid");
    }

    function fnGrilla() {
        jQuery("#list").jqGrid({
            url: baseUrl + "OfertaWeb/ConsultarOfertaWeb",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                PaisID: function () { return $("#ddlPais").val() },
                CodigoOferta: function () { return ($("#ddlConfiguracionOferta").val() == "" ? "0" : $("#ddlConfiguracionOferta").val()); },
                CampaniaID: function () { return ($("#ddlCampania").val() == "" ? "0" : $("#ddlCampania").val()); }
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['Tipo Oferta', 'Código SAP', 'Campaña', 'CUV', 'Descripción', 'Precio Oferta', 'Orden', 'Stock', 'Foto', ''],
            colModel: [
                { name: 'TipoOferta', index: 'TipoOferta', width: 60, editable: true, resizable: false },
                { name: 'CodigoProducto', index: 'CodigoProducto', width: 70, editable: true, resizable: false },
                { name: 'CodigoCampania', index: 'CodigoCampania', width: 60, editable: true, resizable: false },
                { name: 'CUV', index: 'CUV', width: 60, editable: true, resizable: false },
                { name: 'Descripcion', index: 'Descripcion', width: 200, editable: true, resizable: false },
                { name: 'PrecioOferta', index: 'PrecioOferta', width: 70, editable: true, resizable: false },
                { name: 'Orden', index: 'Orden', width: 40, editable: true, resizable: false },
                { name: 'Stock', index: 'Stock', width: 40, editable: true, resizable: false, hidden: true },
                { name: 'Imagen', index: 'Imagen', width: 60, editable: true, resizable: false, sortable: false, align: 'center', formatter: ShowImage },
                { name: 'Options', index: 'Options', width: 40, editable: true, sortable: false, align: 'center', resizable: false, formatter: ShowActions }
            ],
            jsonReader:
            {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: true,
                cell: "cell",
                id: "id"
            },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'Nombre',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 930,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function () { },
            gridComplete: function () { }
        });
        jQuery("#list").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');

        function ShowActions(cellvalue, options, rowObject) {
            var Edit = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#list').Editar('" + options.rowId + "','" + rowObject[3] + "','" + rowObject[9] + "','" + rowObject[13] + "','" + rowObject[14] + "','" + rowObject[15] + "','" + rowObject[12] + "','" + rowObject[16] + "','" + rowObject[17] + "','" + rowObject[18] + "');\" >" + "<img src='@Url.Content("~/Content/Images/Edit.png")' alt='Editar Oferta Web' title='Editar Oferta Web' border='0' /></a>";
            var Del = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#list').Eliminar('" + options.rowId + "','" + rowObject[3] + "','" + rowObject[9] + "','" + rowObject[13] + "','" + rowObject[14] + "','" + rowObject[15] + "','" + rowObject[12] + "','" + rowObject[16] + "');\" >" + "<img src='@Url.Content("~/Content/Images/NotAllowed.png")' alt='Deshabilitar Oferta Web' title='Deshabilitar Oferta Web' border='0' /></a>";
            if (rowObject[11] == "1")
                return Edit + Del;
            else
                return Edit;
        };

        function ShowImage(cellvalue, options, rowObject) {
            var image = "";
            if (rowObject[8] != "") {
                image = '<img src="' +  rowObject[8] + '" alt="" width="70px" height="60px" title="" border="0" />';
            } else {
                image = '<img src=" @Url.Content("~/Content/Images/prod_grilla_vacio.png")" alt="" width="60px" height="60px" title="" border="0" />';
            }
            return image;
        };
    }

    $.jgrid.extend({
        Editar: function (ID, CUV, CampaniaID, Flag, CodigoOferta, ISO, FlagCheck, FlagOrden, CodigoSAP, DescripcionLegal) {
            if (ID) {
                LimpiarDatos();
                var flagDescripcion = 0;
                $.getJSON(baseUrl + 'OfertaWeb/ObtenerImagenesByCodigoSAP', { paisID: paisID, codigoSAP: CodigoSAP }, function (data) {
                    if (data.lista.length > 0) {
                        if (data.lista[0].FotoProducto01 != "") {
                            $('#preview1').attr('src', data.lista[0].FotoProducto01);
                            $("#chkImagenProducto01").val($('#preview1').attr('src').replace(/^.*[\\\/]/, ''));
                            var img01 = $('#chkImagenProducto01').val();
                            if (img01.lastIndexOf("?") >= 0) {
                                img01 = img01.substring(0, img01.lastIndexOf("?"));
                                $('#chkImagenProducto01').val(img01);
                            }

                            $("#chkImagenProducto01").removeAttr('disabled');
                        } else
                            $("#chkImagenProducto01").attr('disabled', true);
                        if (data.lista[0].FotoProducto02 != "") {
                            $('#preview2').attr('src', data.lista[0].FotoProducto02);
                            $("#chkImagenProducto02").val($('#preview2').attr('src').replace(/^.*[\\\/]/, ''));
                            var img01 = $('#chkImagenProducto02').val();
                            if (img01.lastIndexOf("?") >= 0) {
                                img01 = img01.substring(0, img01.lastIndexOf("?"));
                                $('#chkImagenProducto02').val(img01);
                            }

                            $("#chkImagenProducto02").removeAttr('disabled');
                        } else
                            $("#chkImagenProducto02").attr('disabled', true);
                        if (data.lista[0].FotoProducto03 != "") {
                            $('#preview3').attr('src', data.lista[0].FotoProducto03);
                            $("#chkImagenProducto03").val($('#preview3').attr('src').replace(/^.*[\\\/]/, ''));
                            var img01 = $('#chkImagenProducto03').val();
                            if (img01.lastIndexOf("?") >= 0) {
                                img01 = img01.substring(0, img01.lastIndexOf("?"));
                                $('#chkImagenProducto03').val(img01);
                            }

                            $("#chkImagenProducto03").removeAttr('disabled');
                        } else
                            $("#chkImagenProducto03").attr('disabled', true);
                    } else {
                        $("#chkImagenProducto02").attr('disabled', true);
                        $("#chkImagenProducto03").attr('disabled', true);
                        $("#chkImagenProducto01").attr('disabled', true);
                    }

                    if (Flag != "0")
                        $("#FlagTransaccion").val("1");

                    $.ajaxSetup({
                        cache: false
                    });
                    if (Flag == "0") {
                        $.getJSON(baseUrl + 'OfertaWeb/ObtenerOrdenPriorizacion', { paisID: paisID, ConfiguracionOfertaID: FlagOrden, CampaniaID: CampaniaID }, function (data) {
                            $('#txtOrdenModal').val(data.Orden);
                        });
                    } else {
                        $('#txtOrdenModal').val(jQuery("#list").jqGrid('getCell', ID, 'Orden'));
                        $("#hdOrdenAnterior").val(jQuery("#list").jqGrid('getCell', ID, 'Orden'));
                    }

                    $('#hdCampaniaID').val(CampaniaID);
                    $("#txtPaisModal").val(paisNombre);
                    $('#txtCampaniaModal').val(jQuery("#list").jqGrid('getCell', ID, 'CodigoCampania'));

                    $('#txtTipoOfertaModal').val(jQuery("#list").jqGrid('getCell', ID, 'TipoOferta'));
                    $('#txtCUVModal').val(jQuery("#list").jqGrid('getCell', ID, 'CUV'));
                    $('#txtDescripcionModal').val(jQuery("#list").jqGrid('getCell', ID, 'Descripcion'));
                    $('#txtDescripcionLegalModal').val(DescripcionLegal);
                    $('#txtPrecioOfertaModal').val(jQuery("#list").jqGrid('getCell', ID, 'PrecioOferta'));
                    var imagen = $($("#list").jqGrid('getCell', ID, 'Imagen')).attr('src').replace(/^.*[\\\/]/, '');

                    if (imagen != "prod_grilla_vacio.png") {
                        $('#ImagenProductoAnterior').val(imagen);
                        var img01 = $('#ImagenProductoAnterior').val();
                        if (img01.lastIndexOf("?") >= 0) {
                            img01 = img01.substring(0, img01.lastIndexOf("?"));
                            $('#ImagenProductoAnterior').val(img01);
                        }

                        $('#ImagenProducto').val(imagen);
                        var img02 = $('#ImagenProducto').val();
                        if (img02.lastIndexOf("?") >= 0) {
                            img02 = img02.substring(0, img02.lastIndexOf("?"));
                            $('#ImagenProducto').val(img02);
                        }

                    } else {
                        $('#ImagenProductoAnterior').val("");
                        $('#ImagenProducto').val("");
                    }
                    var img02 = $($("#list").jqGrid('getCell', ID, 'Imagen')).attr('src').replace(/^.*[\\\/]/, '');
                    if (img02.lastIndexOf("?") >= 0) {
                        img02 = img02.substring(0, img02.lastIndexOf("?"));
                    }

                    if ($("#chkImagenProducto03").val() == img02)
                        $('#chkImagenProducto03').attr('checked', true);
                    if ($("#chkImagenProducto02").val() == img02)
                        $('#chkImagenProducto02').attr('checked', true);
                    if ($("#chkImagenProducto01").val() == img02)
                        $('#chkImagenProducto01').attr('checked', true);

                    if (FlagCheck == 1)
                        $('#chkHabilitarOferta').attr('checked', true);
                    else
                        $('#chkHabilitarOferta').removeAttr('checked');
                    $('#hdCodigoOferta').val(CodigoOferta);
                    showDialog("DialogRegistroOfertaWeb");
                });
            } else {
                alert("Debe seleccionar un Producto, verifique");
            }
            return false;
        },
        Eliminar: function (ID, CUV, CampaniaID, Flag, CodigoOferta, ISO, FlagCheck, FlagOrden) {
            var elimina = confirm('¿ Está seguro que desea deshabiltar el producto seleccionado?');
            if (!elimina)
                return false;

            var Item = {
                CampaniaID: CampaniaID,
                CUV: CUV,
                PaisID: paisID
            };

            waitingDialog({});
            jQuery.ajax({
                type: 'POST',
                url: baseUrl + 'OfertaWeb/DeshabilitarOfertaWeb',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(Item),
                async: true,
                success: function (data) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        LimpiarDatos();
                        if (data.success == true) {
                            alert(data.message);
                            jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                        }
                        else
                            alert(data.message);
                    }
                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        alert("ERROR");
                    }
                }
            });
            return false;
        }
    });

    function LimpiarCarga() {
        var divcontainer = $('#flStock').closest('div');
        divcontainer.html(divcontainer.html());
    }

    function LimpiarDatos() {
        $('#hdCampaniaID').val("");
        $('#NombreImagen').val("");
        $('#NombreImagenAnterior').val("");
        $('#txtPaisModal').val("");
        $('#txtTipoOfertaModal').val("");
        $('#txtCUVModal').val("");
        $('#txtDescripcionModal').val("");
        $('#txtPrecioOfertaModal').val("");
        $('#chkHabilitarOferta').removeAttr('checked');
        $('#chkImagenProducto01').removeAttr('checked');
        $('#chkImagenProducto02').removeAttr('checked');
        $('#chkImagenProducto03').removeAttr('checked');
        $('#preview1').attr('src', '@Url.Content("~/Content/Images/prod_grilla_vacio.png")');
        $('#preview2').attr('src', '@Url.Content("~/Content/Images/prod_grilla_vacio.png")');
        $('#preview3').attr('src', '@Url.Content("~/Content/Images/prod_grilla_vacio.png")');
        $("#FlagTransaccion").val("0");
        $("#hdCodigoOferta").val("");
        $("#hdFlagImagen").val("0");
        $("#txtDescripcionLegalModal").val("");
    }

    function IniDialogOfertas() {
        $('#DialogRegistroOfertaWeb').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 800,
            draggable: true,
            title: "Registro / Edición Ofertas Web",
            buttons:
            {
                "Guardar": function () {
                    var vMessage = "";
                    if (jQuery.trim($('#txtDescripcionModal').val()) == "")
                        vMessage += "- Debe ingresar la Descripción del Producto.\n";
                    if (jQuery.trim($('#txtOrdenModal').val()) == "" || jQuery.trim($('#txtOrdenModal').val()) == "0")
                        vMessage += "- Debe ingresar un Orden de Priorización válido.\n";
                    if (vMessage != "") {
                        alert(vMessage);
                        return false;
                    }
                    else {
                        if ($("#FlagTransaccion").val() == "1") {
                            if ($("#hdOrdenAnterior").val() != $("#txtOrdenModal").val()) {
                                $.getJSON(baseUrl + 'OfertaWeb/ValidarPriorizacion', { paisID: paisID, codigoOferta: $.trim($("#hdCodigoOferta").val()), CampaniaID: jQuery('#hdCampaniaID').val(), Orden: $("#txtOrdenModal").val() }, function (data) {
                                    if (data.FlagExiste == "0")
                                        RegistrarOfertaWeb();
                                    else {
                                        alert("El valor de Priorización ya está asignado a otro Producto, verifique");
                                        return false;
                                    }
                                });
                            } else RegistrarOfertaWeb();
                        } else {
                            $.getJSON(baseUrl + 'OfertaWeb/ValidarPriorizacion', { paisID: paisID, codigoOferta: $.trim($("#hdCodigoOferta").val()), CampaniaID: jQuery('#hdCampaniaID').val(), Orden: $("#txtOrdenModal").val() }, function (data) {
                                if (data.FlagExiste == "0")
                                    RegistrarOfertaWeb();
                                else {
                                    alert("El valor de Priorización ya está asignado a otro Producto, verifique");
                                    return false;
                                }
                            });
                        }
                    }
                },
                "Cancelar": function () {
                    $(this).dialog('close');
                }
            }
        });
    }

    function IniDialogStockProducto() {
        $('#DialogCargarStock').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 480,
            draggable: true,
            title: "Carga Stock de Productos",
            buttons:
            {
                "Cargar": function () {
                    $('#frmCargarStock').submit();
                },
                "Cancelar": function () {
                    $(this).dialog('close');
                }
            }
        });
    }

    function IniDialogImages() {
        $('#DialogImagenContainer').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 250,
            height: 270,
            title: "Oferta Web",
            draggable: true
        });
    }

    function RegistrarOfertaWeb() {

        var accion = "";

        if ($("#FlagTransaccion").val() == "1")
            accion = "UpdateOfertaWeb";
        else
            accion = "InsertOfertaWeb";

        var Item = {
            CampaniaID: jQuery('#hdCampaniaID').val(),
            CUV: jQuery('#txtCUVModal').val(),
            Descripcion: $("#txtDescripcionModal").val(),
            PrecioOferta: $("#txtPrecioOfertaModal").val(),
            ImagenProducto: $("#ImagenProducto").val(),
            ImagenProductoAnterior: $('#ImagenProductoAnterior').val(),
            Orden: $("#txtOrdenModal").val(),
            UnidadesPermitidas: 0,
            CodigoCampania: $("#txtCampaniaModal").val(),
            FlagHabilitarProducto: $("#chkHabilitarOferta").attr('checked') ? 1 : 0,
            CodigoTipoOferta: $.trim($("#hdCodigoOferta").val()),
            FlagImagen: $("#hdFlagImagen").val(),
            DescripcionLegal: $("#txtDescripcionLegalModal").val(),
            PaisID: paisID
        };
        jQuery.ajax({
            type: 'POST',
            url: baseUrl + 'OfertaWeb/' + accion,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(Item),
            async: true,
            success: function (data) {
                if (checkTimeout(data)) {
                    if (data.success == true) {
                        alert(data.message);
                        HideDialog("DialogRegistroOfertaWeb");
                        LimpiarDatos();
                        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                    }
                    else {
                        alert(data.message);
                    }
                }
            },
            error: function (data, error) {
                if (checkTimeout(data)) {
                    alert(data.message);
                    HideDialog("DialogRegistroOfertaWeb");
                }
            }
        });

    }
</script>
<div class="wrap_cab">
    <div class="filtros">
        <div class="elements">
            <div class="div-2">
                <h1>Ofertas <span>Web</span></h1>
            </div>
            <div class="div-3">
                <div class="titG">País:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.CampaniaID, new SelectList(Model.lstPais, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais" })
                </div>
                <div class="titB">Campaña:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.CampaniaID, new SelectList(Model.lstCampania, "CampaniaID", "NombreCorto"), "-- Seleccionar --", new { id = "ddlCampania" })
                </div>
                <div class="input_search">
                    <a href="#" id="lnkStock">
                        <img title="Cargar Stock" src='@Url.Content("~/Content/Images/stok.png")' alt="" style="display:none;" />
                    </a>
                </div>
            </div>
            <div class="div-3">
                <div class="titG">Tipo Oferta:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.CodigoTipoOferta, new SelectList(Model.lstConfiguracionOferta, "CodigoOferta", "Descripcion"), "-- Seleccionar --", new { id = "ddlConfiguracionOferta" })
                </div>
                <div class="input_search">
                    <input type="button" value="Buscar" id="btnBuscar" name="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper">
            <table id="list"></table>
            <div id="pager"></div>
        </div>
    </div>
</div>
<div id="loadingScreen"></div>

<div id="DialogRegistroOfertaWeb" style="display: none;">
    <input type="hidden" id="hdCampaniaID" />
    <input type="hidden" id="ImagenProducto" />
    <input type="hidden" id="ImagenProductoAnterior" />
    <input type="hidden" id="FlagTransaccion" value="0" />
    <input type="hidden" id="hdCodigoOferta" value="" />
    <input type="hidden" id="hdCodigoCampania" value="" />
    <input type="hidden" id="hdFlagImagen" value="0" />
    <input type="hidden" id="hdOrdenAnterior" value="" />
    <div class="Content_modal">
        <div class="div-3">
            <div class="titG">País:</div>
            <div class="selectP2 borde_redondeado">
                <input type="text" id="txtPaisModal" readonly="readonly" />
            </div>
            <div class="titG">Campaña:</div>
            <div class="selectP2 borde_redondeado">
                <input type="text" id="txtCampaniaModal" readonly="readonly" />
            </div>
        </div>
        <div class="div-3">
            <div class="titG">Tipo Oferta:</div>
            <div class="selectP2 borde_redondeado">
                <input type="text" id="txtTipoOfertaModal" readonly="readonly" />
            </div>
            <div class="titG">CUV:</div>
            <div class="selectP2 borde_redondeado">
                <input type="text" id="txtCUVModal" readonly="readonly" />
            </div>
        </div>
        <div class="div-3">
            <div class="titG">Descripción:</div>
            <div class="selectP2 borde_redondeado">
                <input type="text" id="txtDescripcionModal" maxlength="150" />
            </div>
            <div class="titG">Descripción Legal:</div>
            <div class="selectP2 borde_redondeado">
                <input type="text" id="txtDescripcionLegalModal" maxlength="150" />
            </div>
        </div>
        <div class="div-3">
            <div class="titG">Precio Oferta:</div>
            <div class="selectP2 borde_redondeado">
                <input type="text" id="txtPrecioOfertaModal" readonly="readonly" />
            </div>
            <div class="titG">Orden:</div>
            <div class="selectP2 borde_redondeado">
                <input type="text" id="txtOrdenModal" maxlength="6" />
            </div>
        </div>
        <div class="div-3">
            <div class="titG">Imagen:</div>
            <div class="pdr_modal borde_redondeado aligncenter">
                <img src='@Url.Content("~/Content/Images/prod_grilla_vacio.png")' id="preview1" style="cursor:pointer">
            </div>
            <div class="pdr_modal borde_redondeado aligncenter">
                <img src='@Url.Content("~/Content/Images/prod_grilla_vacio.png")' id="preview2" style="cursor:pointer">
            </div>
            <div class="pdr_modal borde_redondeado aligncenter">
                <img src='@Url.Content("~/Content/Images/prod_grilla_vacio.png")' id="preview3" style="cursor:pointer">
            </div>
            <div class="titG">¿Habilitar Oferta?</div>
            <div class="selectCheck borde_redondeado">
                <input type="checkbox" class="check" id="chkHabilitarOferta" />
            </div>
        </div>
        <div class="div-3">
            <div class="titG"></div>
            <div class="pdr_modal_check aligncenter">
                <input type="checkbox" id="chkImagenProducto01">
            </div>
            <div class="pdr_modal_check aligncenter">
                <input type="checkbox" id="chkImagenProducto02">
            </div>
            <div class="pdr_modal_check aligncenter">
                <input type="checkbox" id="chkImagenProducto03">
            </div>
        </div>
    </div>
</div>

<div id="DialogCargarStock" style="display: none;">
    @using (Html.BeginForm("ActualizarStockMasivo", "OfertaWeb", FormMethod.Post, new { id = "frmCargarStock", enctype = "multipart/form-data" }))
    {
        <div class="Content_modal">
            <div class="div-3">
                <div class="titG">
                    Archivo :
                </div>
                <div class=" borde_redondeado">
                    <input type="file" id="flStock" name="flStock" />
                </div>
            </div>
        </div>
    }
</div>
<div id="DialogImagenContainer" style="display: none;">
    <div class="Content_modal">
        <img src='' id="imgModal" />
    </div>
</div>
