@using Portal.Consultoras.Web.GestionPasos
@model Portal.Consultoras.Web.Models.DetalleSolicitudPostulanteModel
    
@* Template de datos Aval para: Ecuador *@
<div>

    <div class="div-3 estilo2">
        <div class="filterEdit">
            @Html.Label("Nombre Familiar", new { @class = "label10" })
            <div class="selectP2 seleccion_pagina textboxSBEdit2">
                @Html.DisplayFor(m => m.NombreFamiliar, new { @class = "texto rfcSearch textboxSB"})
            </div>
        </div>
        <div class="filterEdit">
            @Html.Label("Apellido Familiar", new { @class = "label10" })
            <div class="selectP2 seleccion_pagina textboxSBEdit2">
                @Html.DisplayFor(m => m.ApellidoFamiliar, new { @class = "texto rfcSearch textboxSB" })
            </div>
        </div>
        <div class="filterEdit">
            @Html.Label("Tipo Vinculo", new { @class = "label10" })
            <div class="selectP2 seleccion_pagina textboxSBEdit2">
                @Html.DisplayFor(m => m.VinculoFamiliar, new { @class = "texto rfcSearch textboxSB" })
            </div>
        </div>
    </div>

    <div class="div-3 estilo2">
        <div class="filterEdit">
            @Html.Label("Celular Familiar", new { @class = "label10" })
            <div class="selectP2 seleccion_pagina textboxSBEdit2">
                @Html.DisplayFor(m => m.CelularFamiliar, new { @class = "texto rfcSearch textboxSB"})
            </div>
        </div>
        <div class="filterEdit">
            @Html.Label("Teléfono Familiar", new { @class = "label10" })
            <div class="selectP2 seleccion_pagina textboxSBEdit2">
                @Html.DisplayFor(m => m.TelefonoFamiliar, new { @class = "texto rfcSearch textboxSB" })
            </div>
        </div>
        <div class="filterEdit">
        </div>
    </div>
    
    <div class="div-3 div_3_fix estilo2">
        <div class="validation_clear2"></div>
    </div>

    <div class="div-3 estilo2">
        <div class="filterEdit">
            @Html.Label("Nombre No Familiar", new {@class="label10" })
            <div class="selectP2 seleccion_pagina textboxSBEdit2">
                @Html.DisplayFor(m => m.NombreNoFamiliar, new { @class = "texto rfcSearch textboxSB" })
            </div>
        </div>
        <div class="filterEdit">
            @Html.Label("Apellido No Familiar", new { @class = "label10" })
            <div class="selectP2 seleccion_pagina textboxSBEdit2">
                @Html.DisplayFor(m => m.ApellidoNoFamiliar, new { @class = "texto rfcSearch textboxSB" })
            </div>
        </div>
        <div class="filterEdit">           
        </div>
    </div>
    
    <div class="div-3 estilo2">
        <div class="filterEdit">
            @Html.Label("Celular No Familiar", new { @class = "label10" })
            <div class="selectP2 seleccion_pagina textboxSBEdit2">
                @Html.DisplayFor(m => m.CelularNoFamiliar, new { @class = "texto rfcSearch textboxSB"})
            </div>
        </div>
        <div class="filterEdit">
            @Html.Label("Teléfono No Familiar", new { @class = "label10" })
            <div class="selectP2 seleccion_pagina textboxSBEdit2">
                @Html.DisplayFor(m => m.TelefonoNoFamiliar, new { @class = "texto rfcSearch textboxSB"})
            </div>
        </div>
        <div class="filterEdit">
            @Html.Label("Monto Meta", new { @class = "label10" })
            <div class="selectP2 seleccion_pagina textboxSBEdit2">
                @Html.DisplayFor(m => m.MontoMeta, new { @class = "texto rfcSearch textboxSB"})
            </div>
        </div>
    </div>

    <div class="div-3 div_3_fix estilo2">
        <div class="validation_clear2"></div>
    </div>

    <div class="div-3 estilo2">
        <div class="filterEdit">
            @Html.Label("Primer Nombre Aval", new { @class = "label10" })
            <div class="selectP2 seleccion_pagina textboxSBEdit2">
                @Html.DisplayFor(m => m.PrimerNombreAval, new { @class = "texto rfcSearch textboxSB" })
            </div>
        </div>
        <div class="filterEdit">
            @Html.Label("Segundo Nombre Aval", new { @class = "label10" })
            <div class="selectP2 seleccion_pagina textboxSBEdit2">
                @Html.DisplayFor(m => m.SegundoNombreAval, new { @class = "texto rfcSearch textboxSB" })
            </div>
        </div>
        <div class="filterEdit">
            @Html.Label("Apellido Paterno Aval", new { @class = "label10" })
            <div class="selectP2 seleccion_pagina textboxSBEdit2">
                @Html.DisplayFor(m => m.ApellidoPaternoAval, new { @class = "texto rfcSearch textboxSB" })
            </div>
        </div>
    </div>
    
    <div class="div-3 estilo2">
        <div class="filterEdit">
            @Html.Label("Apellido Materno Aval", new {@class="label10" })
            <div class="selectP2 seleccion_pagina textboxSBEdit2">
                @Html.DisplayFor(m => m.ApellidoMaternoAval, new { @class = "texto rfcSearch textboxSB" })
            </div>
        </div>
        <div class="filterEdit">
            @Html.Label("Número Documento Aval", new { @class = "label10" })
            <div class="selectP2 seleccion_pagina textboxSBEdit2">
                @Html.DisplayFor(m => m.NumeroDocumentoAval, new { @class = "texto rfcSearch textboxSB" })
            </div>
        </div>
        <div class="filterEdit">
            @Html.Label("Dirección Aval", new { @class = "label10" })
            <div class="selectP2 seleccion_pagina textboxSBEdit2">
                @Html.DisplayFor(m => m.DireccionAval, new { @class = "texto rfcSearch textboxSB" })
            </div>
        </div>
    </div>

    <div class="div-3 estilo2">
        <div class="filterEdit">
            @Html.Label("Celular Aval", new { @class = "label10" })
            <div class="selectP2 seleccion_pagina textboxSBEdit2">
                @Html.DisplayFor(m => m.CelularAval, new { @class = "texto rfcSearch textboxSB" })
            </div>
        </div>
        <div class="filterEdit">
        </div>
        <div class="filterEdit">
        </div>
    </div>

</div>
<style>
    .validation_clear2 {
        float: left;
        width: 70px !important;
        height: 1px !important;
        padding: 0 9px !important;
    }

    .estilo2 {
        margin-bottom: 5px !important;
    }
    .label10 {
        cursor: default !important;
        font-size: 10px;
    }
</style>