
@using Portal.Consultoras.Common

@model Portal.Consultoras.Web.Models.EstrategiaPersonalizadaProductoModel

@{
    ViewBag.Title = "Lanzamientos - Detalle";
    Layout = "~/Views/Shared/_MainLayoutContenedor.cshtml";
}
@section styles{
    @System.Web.Optimization.Styles.Render("~/bundles/css/Site/RevistaDigital-Detalle")
    <style>
        .rd_volver, .content_belcorp {
            padding: 0 8%;
        }
    </style>
}
<div data-tag-html="@ViewBag.Campania">
    <div class="revista_ficha" style='background: url(@Model.TipoEstrategiaDetalle.ImgFichaFondoDesktop);'
         data-estadoregistro="@ViewBag.EstadoSuscripcion">
        <div class="revista_fondo_ficha"></div>
        <div class="content_belcorp">
            <div class="rd_volver">
                <a href="javascript: RDDetalleVolver(@Model.CampaniaID);">
                    <img class="previous_volver" src="@Url.Content("~/Content/Images/RevistaDigital/previous_volver.png")" />
                    VOLVER
                </a>
            </div>
            <div class="content_revista_ficha" data-item="">
                <div data-compartir-campos="" style="display:none;">
                    <input type="hidden" class="CUV" value="@Model.CUV2" />
                    <input type="hidden" class="rsFBMensaje" value="" />
                    <input type="hidden" class="rsFBRuta" value="@Model.UrlCompartir" />
                    <input type="hidden" class="rsWAMensaje" value="" />
                    <input type="hidden" class="rsWARuta" value="@Model.UrlCompartir" />
                    <input type="hidden" class="rsFBRutaImagen" value="@Model.FotoProducto01" />
                    <input type="hidden" class="rsWARutaImagen" value="@Model.FotoProducto01" />
                    <input type="hidden" class="MarcaID" value="@Model.MarcaID" />
                    <input type="hidden" class="MarcaNombre" value="@Model.DescripcionMarca" />
                    <input type="hidden" class="Nombre" value="@Model.DescripcionResumen" />
                    <input type="hidden" class="ProductoDescripcion" value="@Model.DescripcionDetalle" />
                    <input type="hidden" class="Volumen" value="" />
                    <input type="hidden" class="Palanca" value="LAN" />
                </div>
                <div class="content_revista_ficha_descripcion">
                    @if (Model.TipoEstrategiaDetalle.ImgFichaDesktop != "")
                    {
                        <div class="etiqueta_nuevo_bpt" style="position: absolute;top: 0;left: 0;">
                            <img src="@Model.TipoEstrategiaDetalle.ImgFichaDesktop" alt="" style="max-height:50px;" />
                        </div>
                    }
                    <div class="descripcion_text">
                        <div class="tit_revista_producto">@Model.DescripcionResumen</div>
                        @if (Model.DescripcionDetalle != "")
                        {
                            <div class="revista_separador">CONOCE POR QUÉ @Model.DescripcionResumen SERÁ GANADORA</div>
                            <div class="revista_list">
                                <ol class="ol_detalle">
                                    @foreach (var DescDetalle in Model.ListaDescripcionDetalle)
                                    {
                                        <li>@DescDetalle.Trim()</li>
                                    }
                                </ol>
                            </div>
                        }
                        <hr class="clear">
                        <div class="compartir_redes_ficha" style="padding-left: 0px; margin-top: 20px;">
                            <div class="texto_compartelo">Compártelo con tus clientes</div>
                            <a class="btn_compartir_facebook_ficha" href="javascript:;" data-compartir="FB" style="float: left;">
                                <img src="/Content/Images/Esika/facebook.png">
                            </a>
                            <hr class="clear">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="clear">
    <div class="pack_personalizado_ficha">
        <div class="content_belcorp">
            <div class="tit_pack">GARANTIZA EL NUEVO ÉXITO DE TU NEGOCIO</div>
            <div class="lanzamiento-view-detalle" style="margin-left: -4%;"
                 data-item-cuv="@Model.CUV2"
                 data-estrategia="@Json.Encode(Model)">
                <div id="divOfertaProductos" data-OrigenPedidoWeb="@Constantes.OrigenPedidoWeb.LanzamientoDesktopProductPage"></div>
            </div>
            @if ((Model.TipoEstrategiaDetalle.UrlVideoDesktop ?? "") != "")
            {
                <div class="revista_producto_video" style="width: 60%">
                    <div id="player"></div>

                    <script>
                    var tag = document.createElement('script');

                    tag.src = "https://www.youtube.com/iframe_api";
                    var firstScriptTag = document.getElementsByTagName('script')[0];
                    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

                    var player;
                    function onYouTubeIframeAPIReady() {
                        player = new YT.Player('player', {
                            height: '415',
                            width: '100%',
                            videoId: '@Model.TipoEstrategiaDetalle.UrlVideoDesktop',
                            events: {
                                'onStateChange': onPlayerStateChange
                            }
                        });
                    }

                    function onPlayerStateChange(event) {
                        if (event.data == YT.PlayerState.PLAYING) {
                            rdAnalyticsModule.CompartirProducto("YTI", player.getVideoUrl(), "@Model.DescripcionResumen");
                        }
                        if (event.data == YT.PlayerState.ENDED) {
                            rdAnalyticsModule.CompartirProducto("YTF", player.getVideoUrl(), "@Model.DescripcionResumen");
                        }
                    }

                    </script>

                </div>
            }
        </div>
    </div>
</div>
@Html.Action("MensajeBloqueado", "RevistaDigital")
<div class="flecha_scroll">
    <a href="javascript:;" title="Flecha Scroll" class="enlace_scroll"></a>
</div>

<div class="contenedor_popup_detalleCarousel" id="popupDetalleCarousel_lanzamiento" data-popup-main=""></div>

@Html.Partial("~/Views/EstrategiaPersonalizada/template-producto-landing.cshtml")
@Html.Partial("~/Views/EstrategiaPersonalizada/template-producto-verdetalle.cshtml")

@section scripts{
    <script type="text/javascript">
        var origenPedidoWebEstrategia = '@Constantes.OrigenPedidoWeb.LanzamientoDesktopProductPage';
        var tipoOrigenEstrategia = 172;
    </script>
    @System.Web.Optimization.Scripts.Render("~/bundles/RevistaDigital-Detalle")
}