
@using Portal.Consultoras.Common

@model Portal.Consultoras.Web.Models.EstrategiaPersonalizadaProductoModel

@{
    Layout = "~/Views/Shared/_MainLayoutContenedor.cshtml";
}
@section styles{
    @System.Web.Optimization.Styles.Render("~/bundles/css/Site/Lanzamientos-Detalle")
    <style>
        .rd_volver, .content_belcorp {
            padding: 0 8%;
        }
    </style>
}
<div class="revista_ficha" style='background: url(@Model.TipoEstrategiaDetalle.ImgFichaFondoDesktop); background-color: #24303c !important;'
     data-estadoregistro="@ViewBag.EstadoSuscripcion">
    <div class="content_belcorp">
        <div class="detalle-prod">
            <div class="detalle-img">
                <div class="img-portada" style="background:url(@Model.FotoProducto01);"></div>
                <div class="detalle-compartir">
                    Comparte este producto con tus clientes
                    <img src="~/Content/Images/Esika/facebook.png" class="fb" />
                </div>
            </div>
            <div class="detalle-info">
                <div class="label-nuevo">
                    <img src="@Model.TipoEstrategiaDetalle.ImgFichaDesktop" />
                </div>
                <div class="detalle-bloque-uno">
                    <div class="bloque1">
                        <p>@Model.DescripcionMarca</p>
                        <h1>@Model.DescripcionResumen</h1>
                        <span>4g/.</span>
                    </div>
                    <div class="bloque2">
                        <span class="precio-tachado">@Model.Simbolo @Model.PrecioVenta</span>
                        <span class="precio-para-ti">precio para tí<b>@Model.Simbolo @Model.PrecioTachado</b></span>
                        <span class="gana-rojo">GANA @Model.Simbolo @Model.GananciaString</span>
                    </div>
                    <div style="clear:both;"></div>
                </div>
                <div class="detalle-bloque-dos">
                    <p>@Model.TipoEstrategiaDetalle.Slogan</p>
                    <ul>
                        @foreach (var DescDetalle in Model.ListaDescripcionDetalle)
                        {
                            <li>@DescDetalle.Trim()</li>
                        }
                    </ul>

                </div>
                <div class="detalle-bloque-tres">
                    lista tonos aqui
                </div>
                <div class="detalle-bloque-cuatro">
                    btn comprar aqui
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
</div>
<div class="set_encuentras_producto">
    <div class="content_belcorp">
        <p class="titulo_set">
            SET DONDE ENCUENTRAS EL PRODUCTO
        </p>
        <div class="set_encuentras_producto_carrusel">
            <!-- aqui carrusel de productos -->
        </div>
    </div>
</div>
<div class="set_encuentras_producto_video">
    <div class="content_belcorp">
        @if ((Model.TipoEstrategiaDetalle.UrlVideoDesktop ?? "") != "")
        {
        <div class="revista_producto_video" style="width: 100%">
            <div id="player"></div>
        </div>
        }
    </div>
</div>
@Html.Action("MensajeBloqueado", "RevistaDigital")
<div class="flecha_scroll">
    <a href="javascript:;" title="Flecha Scroll" class="enlace_scroll"></a>
</div>

<div class="contenedor_popup_detalleCarousel" id="popupDetalleCarousel_lanzamiento" data-popup-main=""></div>

@Html.Partial("~/Views/EstrategiaPersonalizada/template-producto-landing.cshtml")
@Html.Partial("~/Views/EstrategiaPersonalizada/template-producto-verdetalle.cshtml")

@section scripts{
    <script type="text/javascript">
            var origenPedidoWebEstrategia = '@Constantes.OrigenPedidoWeb.LanzamientoDesktopProductPage';
            var tipoOrigenEstrategia = 172;
            var videoId = '@Model.TipoEstrategiaDetalle.UrlVideoDesktop';
            var descripcionResumen = "@Model.DescripcionResumen"
    </script>
    @System.Web.Optimization.Scripts.Render("~/bundles/Lanzamientos-Detalle")
}