
@using Portal.Consultoras.Common
@model Portal.Consultoras.Web.Models.EstrategiaPersonalizadaProductoModel

@{
    Layout = "~/Views/Shared/_MainLayoutContenedor.cshtml";
}

@section styles{
    @System.Web.Optimization.Styles.Render("~/bundles/css/Site/Lanzamientos-Detalle")
    <style>
        .rd_volver, .content_belcorp {
            padding: 0 8%;
        }
    </style>
}

<div data-item="" data-tag-html="@ViewBag.Campania">
    <div class="revista_ficha" style='background: url(@Model.TipoEstrategiaDetalle.ImgFichaFondoDesktop); background-color: #24303c !important;'
         data-estadoregistro="@ViewBag.EstadoSuscripcion"
         data-OrigenPedidoWeb="@Constantes.OrigenPedidoWeb.LanzamientoMobileProductPage">
        <div style="display:none;">
            <div data-estrategia="@Json.Encode(Model)"></div>
        </div>
        <div class="content_belcorp">
            <div class="detalle-prod" data-item="" style="position: relative;
    left: 7%;">
                <div data-compartir-campos="" style="display:none;">
                    <input type="hidden" class="CUV" value="@Model.CUV2" />
                    <input type="hidden" class="rsFBMensaje" value="" />
                    <input type="hidden" class="rsFBRuta" value="@Model.UrlCompartir" />
                    <input type="hidden" class="rsWAMensaje" value="" />
                    <input type="hidden" class="rsWARuta" value="@Model.UrlCompartir" />
                    <input type="hidden" class="rsFBRutaImagen" value="@Model.FotoProducto01" />
                    <input type="hidden" class="rsWARutaImagen" value="@Model.FotoProducto01" />
                    <input type="hidden" class="MarcaID" value="@Model.MarcaID" />
                    <input type="hidden" class="MarcaNombre" value="@Model.DescripcionMarca" />
                    <input type="hidden" class="Nombre" value="@Model.DescripcionResumen" />
                    <input type="hidden" class="ProductoDescripcion" value="@Model.DescripcionDetalle" />
                    <input type="hidden" class="Volumen" value="" />
                    <input type="hidden" class="Palanca" value="LAN" />
                </div>
                <div class="detalle-img">
                    <div class="img-portada" style="background:url(@Model.FotoProducto01);"></div>
                    <div class="detalle-compartir">
                        Comparte este producto con tus clientes
                        <img src="~/Content/Images/Esika/facebook.png" class="fb" href="javascript:;" data-compartir="FB" />
                    </div>
                </div>
                <div class="detalle-info">
                    <div class="label-nuevo">
                        <img src="@Model.TipoEstrategiaDetalle.ImgFichaDesktop" />
                    </div>
                    <div class="detalle-bloque-uno">
                        <div class="bloque1">
                            <p>@Model.DescripcionMarca</p>
                            <h1>@Model.DescripcionResumen</h1>
                            @*<span>4g/.</span>*@
                        </div>
                        <div class="bloque2">
                            <span class="precio-tachado">@Model.Simbolo @Model.PrecioTachado</span>
                            <span class="precio-para-ti">precio para tí<b>@Model.Simbolo @Model.PrecioVenta</b></span>
                            <span class="gana-rojo">GANA @Model.Simbolo @Model.GananciaString</span>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div class="detalle-bloque-dos">
                        <p>@Model.TipoEstrategiaDetalle.Slogan</p>
                        <ul>
                            @foreach (var DescDetalle in Model.ListaDescripcionDetalle)
                            {
                                <li>@DescDetalle.Trim()</li>
                            }
                        </ul>
                    </div>
                    <div class="detalle-bloque-tres">
                        lista tonos aqui
                        @Html.Partial("~/Views/Lanzamientos/Template_LanzamientosTonos.cshtml", Model)
                    </div>
                    @if (Model.PuedeAgregarProducto)
                    {
<<<<<<< HEAD
                        <style>
                            .input_agregar_cantidad {
                                float: left;
                                width:30%;
                            }
                                .input_agregar_cantidad input {
                                    width: 50%;
                                    float: left;
                                    text-align: center;
                                    height: 45px;
                                    border-right: 1px solid #cccccc !important;
                                }
                                .input_agregar_cantidad a.menos {
                                    width: 25%;
                                    /* float: left; */
                                    /* width: 60%; */
                                    float: left;
                                    text-align: center;
                                    height: 45px;
                                    padding-top: 0;
                                    /* border-right: 1px solid #cccccc; */
                                    border-top: 1px solid #cccccc;
                                    border-bottom: 1px solid #cccccc;
                                    padding-top: 12px;
                                    border-left: 1px solid #cccccc;
                                }
                                .input_agregar_cantidad a.mas {
                                    width: 25%;
                                    /* float: left; */
                                    /* width: 60%; */
                                    float: left;
                                    text-align: center;
                                    height: 45px;
                                    margin-top: 0;
                                    /* border-left: 1px solid #cccccc; */
                                    border-top: 1px solid #cccccc;
                                    border-bottom: 1px solid #cccccc;
                                    padding-top: 15px;
                                    border-right: 1px solid #cccccc;
                                }

                            .boton_agregar_cantidad {
                                float: left;
                                width:70%;
                            }
                        </style>
                            <div class="texto_elige_tono" style="    margin-bottom: 20px;"></div>
                            <div class="input_agregar_cantidad">
                                <a href="javascript:;" class="menos js-no-popup" data-bloqueada="" tabindex="0"><img class="js-no-popup" src="/Content/Images/Esika/menos.png" alt=""></a>
                                <input value="1" size="2" maxlength="2" id="txtCantidad" class="rango-cantidad-lanzamiento liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral js-no-popup " data-input="cantidad" tabindex="0" type="text">
                                <a href="javascript:;" class="mas js-no-popup" data-bloqueada="" tabindex="0"><img class="js-no-popup" src="/Content/Images/Esika/mas.png" alt=""></a>
=======
                        <div>
                            <div class="texto_elige_tono"></div>
                            <div class="clear"></div>
                            <div class="liquidacion_rango_home js-no-popup">
                                <input value="1" size="2" maxlength="2" id="txtCantidad" class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral js-no-popup " data-input="cantidad" tabindex="0" type="text">
                                <div class="liquidacion_rango_right_pedido js-no-popup">
                                    <a href="javascript:;" class="mas js-no-popup" data-bloqueada="" tabindex="0"><img class="js-no-popup" src="/Content/Images/Esika/mas.png" alt=""></a>
                                    <a href="javascript:;" class="menos js-no-popup" data-bloqueada="" tabindex="0"><img class="js-no-popup" src="/Content/Images/Esika/menos.png" alt=""></a>
                                </div>
>>>>>>> bb1882b1ac8732e7928b9109fdff190ea2d9b29d
                            </div>
                            <div class="boton_agregar_cantidad">
                                <a href="javascript:;" style="width: 95% !important; margin-top: 0px; margin-left: 5%;" class="@Model.ClaseBloqueada boton_Agregalo_home js-no-popup " id="tbnAgregarProducto" data-bloqueada="" onclick="javascript:EstrategiaAgregar(event, true); " tabindex="0">
                                    AGRÉGALO
                                </a>
                            </div>
                            <div style="clear:both;"></div>
                    }
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="set_encuentras_producto" id="set_relacionados">
        <div class="content_belcorp">
            <p class="titulo_set" style="    position: relative;
    left: 7%;">
                SET DONDE ENCUENTRAS EL PRODUCTO
            </p>
            <div class="set_encuentras_producto_carrusel" style="margin-left: -4%;"
                 data-item-cuv="@Model.CUV2"
                 data-estrategia="@Json.Encode(Model)">
                <div id="divOfertaProductos" data-OrigenPedidoWeb="@Constantes.OrigenPedidoWeb.LanzamientoDesktopProductPage" style="margin-left:0 !important; position: relative;
    left: 9%;"></div>
            </div>
        </div>
    </div>
    @if ((Model.TipoEstrategiaDetalle.UrlVideoDesktop ?? "") != "")
    {
        <div class="set_encuentras_producto_video" id="video_lanzamiento">
            <div class="content_belcorp">
                <div class="revista_producto_video" style="width: 100%; position: relative;
    left: 7%;">
                    <div id="player"></div>
                </div>
            </div>
        </div>
    }
</div>


    @Html.Partial("~/Views/EstrategiaPersonalizada/template-producto-landing.cshtml")

    @section scripts{
        @System.Web.Optimization.Scripts.Render("~/bundles/Lanzamientos-Detalle")
        <script type="text/javascript">
        var origenPedidoWebEstrategia = '@Constantes.OrigenPedidoWeb.LanzamientoDesktopProductPage';
        var tipoOrigenEstrategia = 172;
        var videoId = "@Model.TipoEstrategiaDetalle.UrlVideoDesktop";
        var descripcionResumen = "@Model.DescripcionResumen"
        $(document).ready(function () {
            detalleLanzamiento.init({
                videoId: videoId,
                descripcionResumen: descripcionResumen
            });
        });
        function onYouTubeIframeAPIReady() {
            detalleLanzamiento.onYouTubeIframeAPIReady();
        }
        </script>
    }
