
@using Portal.Consultoras.Common
@model Portal.Consultoras.Web.Models.EstrategiaPersonalizadaProductoModel

@{
    Layout = "~/Views/Shared/_MainLayoutContenedor.cshtml";
    var vbSimbolo = ViewBag.Simbolo ?? "";
}

@section styles{
    @System.Web.Optimization.Styles.Render("~/bundles/css/Site/Lanzamientos-Detalle")
    <style>
        .rd_volver, .content_belcorp {
            padding: 0 8%;
        }
    </style>
}

<div data-item="" data-tag-html="@ViewBag.Campania">
    <div class="revista_ficha"
         style='background: url(@Model.TipoEstrategiaDetalle.ImgFichaFondoDesktop); background-color: #efefef !important;'
         data-estadoregistro="@ViewBag.EstadoSuscripcion"
         data-OrigenPedidoWeb="@Constantes.OrigenPedidoWeb.LanzamientoMobileProductPage">
        <div style="display:none;">
            <div data-estrategia="@Json.Encode(Model)"></div>
        </div>
        <div class="content_belcorp">
            <div class="detalle-prod" data-item="" style="position: relative;left: 7%;">
                <div data-compartir-campos="" style="display:none;">
                    <input type="hidden" class="CUV" value="@Model.CUV2" />
                    <input type="hidden" class="rsFBMensaje" value="" />
                    <input type="hidden" class="rsWAMensaje" value="" />
                    <input type="hidden" class="rsFBRutaImagen" value="@Model.FotoProducto01" />
                    <input type="hidden" class="rsWARutaImagen" value="@Model.FotoProducto01" />
                    <input type="hidden" class="MarcaID" value="@Model.MarcaID" />
                    <input type="hidden" class="MarcaNombre" value="@Model.DescripcionMarca" />
                    <input type="hidden" class="Nombre" value="@Model.DescripcionResumen" />
                    <input type="hidden" class="ProductoDescripcion" value="@Model.DescripcionDetalle" />
                    <input type="hidden" class="Volumen" value="" />
                    <input type="hidden" class="Palanca" value="LAN" />
                </div>
                <div class="detalle-img">
                    <div class="img-portada" style="background:url(@Model.FotoProducto01);"></div>
                    <div class="detalle-compartir">
                        Comparte este producto con tus clientes
                        <img src="~/Content/Images/Esika/facebook.png" class="fb" href="javascript:;" data-compartir="FB" />
                    </div>
                </div>
                <div class="detalle-info">
                    <div class="label-nuevo">
                        <img src="@Model.TipoEstrategiaDetalle.ImgFichaDesktop" />
                    </div>
                    <div class="detalle-bloque-uno">
                        <div class="bloque1">
                            <p>@Model.DescripcionMarca</p>
                            <h1>@Model.DescripcionResumen</h1>
                        </div>
                        <div class="bloque2">
                            <span class="precio-tachado">@vbSimbolo @Model.PrecioTachado</span>
                            <span class="precio-para-ti">Precio para tí<b>@vbSimbolo @Model.PrecioVenta</b></span>
                            <span class="gana-rojo">GANA @vbSimbolo @Model.GananciaString</span>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div class="detalle-bloque-dos">
                        <p>@Model.TipoEstrategiaDetalle.Slogan</p>
                        <ul>
                            @foreach (var DescDetalle in Model.ListaDescripcionDetalle)
                            {
                                <li><span class="vineta">-</span><span class="txt-des">@DescDetalle.Trim()</span></li>
                                <div style="clear:both;"></div>
                            }
                        </ul>
                    </div>
                    <div class="detalle-bloque-tres">
                        @Html.Partial("~/Views/Lanzamientos/Template_LanzamientosTonos.cshtml", Model)
                    </div>
                    @if (Model.TipoAccionAgregar > 0)
                    {

                        <div class="input_agregar_cantidad" data-ContenedorCantidad="">
                            <a href="javascript:;" class="menos cantidad_menos_home js-no-popup" data-bloqueada="" tabindex="0"><img class="js-no-popup" src="/Content/Images/Esika/menos.png" alt=""></a>
                            <input value="1" size="2" maxlength="2" id="txtCantidad" class="rango-cantidad-lanzamiento liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral js-no-popup " data-input="cantidad" tabindex="0" type="text">
                            <a href="javascript:;" class="mas cantidad_mas_home js-no-popup" data-bloqueada="" tabindex="0"><img class="js-no-popup" src="/Content/Images/Esika/mas.png" alt=""></a>
                        </div>
                        <div class="boton_agregar_cantidad">
                            <a href="javascript:;" style="width: 95% !important; margin-top: 0px; margin-left: 5%;" class="@Model.ClaseBloqueada boton_Agregalo_home js-no-popup " id="tbnAgregarProducto" data-bloqueada="@Model.ClaseBloqueada" onclick="javascript:EstrategiaAgregarModule.EstrategiaAgregar(event, true); " tabindex="0">
                                AGRÉGALO
                            </a>
                        </div>
                        <div style="clear:both;"></div>
                    }
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="set_encuentras_producto" id="set_relacionados">
        <div class="content_belcorp">
            <p class="titulo_set" style="position: relative;left: 7%;">
                SET DONDE ENCUENTRAS EL PRODUCTO
            </p>
            <div class="set_encuentras_producto_carrusel"
                 style="margin-left: -4%;"
                 data-item-cuv="@Model.CUV2"
                 data-estrategia="@Json.Encode(Model)">
                <div id="divOfertaProductos"
                     data-OrigenPedidoWeb="@Constantes.OrigenPedidoWeb.LanzamientoDesktopProductPage"
                     style="margin-left:0 !important; position: relative;left: 9%;">
                </div>
            </div>
        </div>
    </div>
    @if ((Model.TipoEstrategiaDetalle.UrlVideoDesktop ?? "") != "")
    {
        <div class="set_encuentras_producto_video" id="video_lanzamiento">
            <div class="content_belcorp">
                <div class="revista_producto_video" style="width: 100%; position: relative;left: 7%;">
                    <div id="ytRevistaDigitalDetalle"
                         data-youtube="{ height:'415', width:'100%', videoId:'@Model.TipoEstrategiaDetalle.UrlVideoDesktop', playerVars:{rel:0}}"
                         data-extra="{'descripcionResumen':'@Model.DescripcionResumen'}"
                         class="yt-video"></div>
                </div>
            </div>
        </div>
    }
</div>
<div class="contenedor_popup_detalleCarousel" id="popupDetalleCarousel_lanzamiento" data-popup-main=""></div>
@Html.Partial("~/Views/EstrategiaPersonalizada/template-producto-landing.cshtml")
@Html.Partial("~/Views/EstrategiaPersonalizada/template-producto-verdetalle.cshtml")
@Html.Partial("~/Views/RevistaDigital/template-mensaje-bloqueado.cshtml", Model.MensajeProductoBloqueado)

@section scripts{
    @System.Web.Optimization.Scripts.Render("~/bundles/Lanzamientos-Detalle")
    <script type="text/javascript">
        var origenPedidoWebEstrategia = '@Constantes.OrigenPedidoWeb.LanzamientoDesktopProductPage';
        var tipoOrigenEstrategia = 172;
        $(document).ready(function () {
            detalleLanzamiento.init();
        });
    </script>
}
