@model Portal.Consultoras.Web.Models.ReportePedidoDDWebModel
@{
    ViewBag.Title = "Detalle de Pedido";
}
<script type="text/javascript">
    jQuery(document).ready(function () {
        fnGrilla();
        $("#btnExcel").click(function () {
            waitingDialog({});
            var vCampania = $('#hdn_CampaniaCod').val();
            var vPaisISO = $('#hdn_PaisISO').val();
            var vConsultoraCodigo = $('#hdn_ConsultoraCod').val();
            var vTipoProceso = $("#hdn_vTipoProceso").val();
            var vMotivoRechazo = $("#hdn_MotivoRechazo").val();

            setTimeout(function () {
                DownloadAttachExcel(vCampania, vPaisISO, vConsultoraCodigo, vTipoProceso, vMotivoRechazo)
            }, 0);
        });
        $("#btnImprimir").click(function () {
            waitingDialog({});
            var vPaisISO = $('#hdn_PaisISO').val();
            var vCampaniaCod = $('#hdn_CampaniaCod').val();
            var vConsultoraCod = $('#hdn_ConsultoraCod').val();
            var vConsultoraNombre = $('#hdn_ConsultoraNombre').val();
            var vUsuarioNombre = $('#hdn_UsuarioNombre').val();
            var vOrigen = $('#hdn_Origen').val();
            var vValidado = $('#hdn_Validado').val();
            var vSaldo = $('#hdn_Saldo').val();
            var vImporte = $('#hdn_Importe').val();
            var vImporteConDescuento = $('#hdn_ImporteConDescuento').val();
            var vUsuario = $('#hdn_vUsuario').val();
            var vTipoProceso = $("#hdn_vTipoProceso").val();
            var vMotivoRechazo = $("#hdn_MotivoRechazo").val();
            var vIndicadorConsultoraDigital = $("#hdn_IndicadorConsultoraDigital").val();
            var vpage = "";
            var vsortname = "";
            var vsortorder = "";
            var vrowNum = 0;
            setTimeout(function () {
                DownloadAttachPDF(vPaisISO, vCampaniaCod, vConsultoraCod, vConsultoraNombre, vUsuarioNombre, vOrigen,
                    vValidado, vSaldo, vImporte, vImporteConDescuento, vpage, vsortname, vsortorder, vrowNum, vUsuario, vTipoProceso, vMotivoRechazo, vIndicadorConsultoraDigital)
            }, 0);
        });
        $("#btnRegresar").click(function () {
            location.href = '@Url.Action("ReportePedidosDDWeb", "ReportePedidoDDWeb")';
        });
        // Si el pedido esta rechazado... mostrar el motivo.
        var EsRechazado = $('#EsRechazado').data("tienemotivo").trim();
        if (EsRechazado.length > 0) {
            $('#EsRechazado').text('SI');
            $('.motivoRechazo').show();
        } else {
            $('#EsRechazado').text('NO');
            $('.motivoRechazo').hide();
        }
    });

    function DownloadAttachPDF(vPaisISO, vCampaniaCod, vConsultoraCod, vConsultoraNombre, vUsuarioNombre, vOrigen,
        vValidado, vSaldo, vImporte, vImporteConDescuento, vpage, vsortname, vsortorder, vrowNum, vUsuario, vTipoProceso, vMotivoRechazo, vIndicadorConsultoraDigital) {
        // TODO: probar las repercusiones de este if
        if (checkTimeout()) {
            var content = baseUrl + "ReportePedidoDDWeb/ExportarPDF?" +
                    "vPaisISO=" + vPaisISO +
                    "&vCampaniaCod=" + vCampaniaCod +
                    "&vConsultoraCod=" + vConsultoraCod +
                    "&vConsultoraNombre=" + vConsultoraNombre +
                    "&vUsuarioNombre=" + vUsuarioNombre +
                    "&vOrigen=" + vOrigen +
                    "&vValidado=" + vValidado +
                    "&vSaldo=" + vSaldo +
                    "&vImporte=" + vImporte +
                    "&vImporteConDescuento=" + vImporteConDescuento +
                    "&vpage=" + vpage +
                    "&vsortname=" + vsortname +
                    "&vsortorder=" + vsortorder +
                    "&vrowNum=" + vrowNum +
                    "&vUsuario=" + vUsuario +
                    "&vTipoProceso=" + vTipoProceso +
                    "&vMotivoRechazo=" + encodeURIComponent(vMotivoRechazo.length > 122 ? vMotivoRechazo.substring(0, 121) + '...' : vMotivoRechazo) + 
                "&vIndicadorConsultoraDigital=" + vIndicadorConsultoraDigital;
            
            var iframe_ = document.createElement("iframe");
            iframe_.style.display = "none";
            iframe_.setAttribute("src", content);

            if (navigator.userAgent.indexOf("MSIE") > -1 && !window.opera) { // Si es Internet Explorer
                iframe_.onreadystatechange = function () {
                    switch (this.readyState) {
                        case "loading":
                            waitingDialog({});
                            break;
                        case "complete":
                        case "interactive":
                        case "uninitialized":
                            closeWaitingDialog();
                            break;
                        default:
                            closeWaitingDialog();
                            break;
                    }
                };
            }
            else {
                // Si es Firefox o Chrome
                $(iframe_).ready(function () {
                    closeWaitingDialog();
                });
            }
            document.body.appendChild(iframe_);
        }
    }

    function DownloadAttachExcel(vCampania, vPaisISO, vConsultoraCodigo, vTipoProceso, vMotivoRechazo) {
        var content = baseUrl + "ReportePedidoDDWeb/ExportarExcel?vCampania=" + vCampania +
                            "&vPaisISO=" + vPaisISO +
                            "&vConsultoraCodigo=" + vConsultoraCodigo +
                            "&vTipoProceso=" + vTipoProceso +
                            "&vMotivoRechazo=" + vMotivoRechazo;

        // TODO: probar las repercusiones de este if
        if (checkTimeout()) {
            var iframe_ = document.createElement("iframe");
            iframe_.style.display = "none";
            iframe_.setAttribute("src", content);
            iframe_.frameBorder = 0;

            if (navigator.userAgent.indexOf("MSIE") > -1 && !window.opera) { // Si es Internet Explorer
                iframe_.onreadystatechange = function () {
                    switch (this.readyState) {
                        case "loading":
                            waitingDialog({});
                            break;
                        case "complete":
                        case "interactive":
                        case "uninitialized":
                            closeWaitingDialog();
                            delCookie("DescargaCompleta");
                            break;
                        default:
                            closeWaitingDialog();
                            delCookie("DescargaCompleta");
                            break;
                    }
                };
            }
            else {
                // Si es Firefox o Chrome
                document.body.appendChild(iframe_);

                var _timer = setInterval(function () {
                    var success = getCookie("DescargaCompleta");
                    if (success === "1") {
                        clearInterval(_timer);
                        closeWaitingDialog();
                        delCookie("DescargaCompleta");
                    }
                }, 1000)
                return;
            }
            document.body.appendChild(iframe_);
        }
    }

    function getCookie(name) {
        var pairs = document.cookie.split("; "),
            count = pairs.length, parts;
        while (count--) {
            parts = pairs[count].split("=");
            if (parts[0] === name)
                return parts[1];
        }
        return false;
    }

    function delCookie(name) {
        date = new Date();
        date.setDate(date.getDate() - 1);
        document.cookie = name + "=" + '=;expires=' + date + "; path=/";
    }

    function fnGrilla() {
        jQuery("#gvwDetalleCampania").jqGrid({
            url: baseUrl + "ReportePedidoDDWeb/ConsultarPedidosDDWebDetalle",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                vPaisISO: function () { return jQuery.trim($("#hdn_PaisISO").val()); },
                vCampania: function () { return jQuery.trim($("#hdn_CampaniaCod").val()); },
                vConsultoraCodigo: function () { return jQuery.trim($("#hdn_ConsultoraCod").val()); },
                vTipoProceso: function () { return jQuery.trim($("#hdn_vTipoProceso").val()); },
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['Cod. Venta', 'Descripción', 'Cantidad', 'Precio Unitario', 'Precio Total'],
            colModel: [
                { name: 'CUV', index: 'CUV', width: 15, editable: true, resizable: false },
                { name: 'Descripcion', index: 'Descripcion', width: 45, editable: true, resizable: false },
                { name: 'Cantidad', index: 'Cantidad', width: 10, editable: true, resizable: false, align: "right" },
                { name: 'PrecioUnitario', index: 'PrecioUnitario', width: 15, editable: true, resizable: false, align: "right" },
                { name: 'PrecioTotal', index: 'PrecioTotal', width: 15, editable: true, resizable: false, align: "right" },
            ],
            jsonReader:
                {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: true,
                    cell: "cell",
                    idCampania: "idCampania",
                    idPedido: "idPedido"
                },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 18,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'CUV',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 930,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function () { },
            gridComplete: function () { }
        });
        jQuery("#gvwDetalleCampania").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#gvwDetalleCampania").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
    }
</script>

<!DOCTYPE html>

<div class="wrap_cab">
    <div class="filtros2">
        <div class="elements">
            <div class="div-2">
                <h1><span>Detalle de Pedido</span></h1>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper_reg">

            <table class="Edit_reg" style="text-align: left; width: 100%">
                <tr>
                    <td>
                        <div class="module_1">
                            <div class="label1">Campaña:</div>
                        </div>
                        <div class="module_1">
                            <div class="label2">@Model.lblCampaniaCod</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="module_1">
                            <div class="label1">Consultora:</div>
                        </div>
                        <div class="module_1">
                            <div class="label2">@Model.lblConsultoraCod </div>
                        </div>
                        <div class="module_2">
                            <div class="label2">@Model.lblConsultoraNombre </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="module_2">
                            <div class="label1">Origen:</div>
                        </div>
                        <div class="module_2">
                            <div class="label2">@Model.lblOrigen </div>
                        </div>
                        <div class="module_2">
                            <div class="label1">Validado:</div>
                        </div>
                        <div class="module_2">
                            <div class="label2">@Model.lblValidado </div>
                        </div>
                        <div class="module_2">
                            <div class="label1">Saldo: </div>
                        </div>
                        <div class="module_2">
                            <div class="label2">@Model.lblSaldo </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="module_1">
                            <div class="label1">Rechazado:</div>
                        </div>
                        <div class="module_2">
                            <div class="label2" id="EsRechazado" data-tienemotivo="@Model.MotivoRechazo"></div>
                        </div>
                        <div class="module_1 motivoRechazo">
                            <div class="label1">Motivo de rechazo:</div>
                        </div>
                        <div class="module_2 motivoRechazo">
                            <div class="label2">@Model.MotivoRechazo</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="module_1">
                            <div class="label1">100% Digital:</div>
                        </div>
                        <div class="module_2">
                            <div class="label2">@Model.IndicadorConsultoraDigital </div>
                        </div>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>
<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper">

            <table id="gvwDetalleCampania"></table>
            <div id="pager"></div>

        </div>
    </div>
</div>

<div class="wrap">
    <div class="container clearfix" style="text-align: center">
        <div class="total_global">Total Pedido con descuento*: @Model.lblImporteConDescuento </div>
        <div class="total_global">Total Pedido: @Model.lblImporte </div>
        <div class="input_global">
            <input id="btnExcel" type="button" value="Excel" />
        </div>
        <div class="input_global">
            <input id="btnImprimir" type="button" value="Imprimir" />
        </div>
        <div class="input_global">
            <input id="btnRegresar" type="button" value="Regresar" />
        </div>
    </div>
    <br />
    <div class="container clearfix">
        <p>* Descuento por ofertas con más de un precio</p>
    </div>

</div>

<div id="loadingScreen"></div>

@Html.Hidden("hdn_PaisISO", (string)Model.hdnpaisISO)
@Html.Hidden("hdn_CampaniaCod", (string)Model.lblCampaniaCod)
@Html.Hidden("hdn_ConsultoraCod", (string)Model.lblConsultoraCod)
@Html.Hidden("hdn_ConsultoraNombre", (string)Model.lblConsultoraNombre)
@Html.Hidden("hdn_UsuarioNombre", (string)Model.lblUsuarioNombre)
@Html.Hidden("hdn_Origen", (string)Model.lblOrigen)
@Html.Hidden("hdn_Validado", (string)Model.lblValidado)
@Html.Hidden("hdn_Saldo", (string)Model.lblSaldo)
@Html.Hidden("hdn_Importe", (string)Model.lblImporte)
@Html.Hidden("hdn_ImporteConDescuento", (string)Model.lblImporteConDescuento)
@Html.Hidden("hdn_vUsuario", Model.Usuario)
@Html.Hidden("hdn_vTipoProceso", Model.TipoProceso)
@Html.Hidden("hdn_MotivoRechazo", Model.MotivoRechazo)
@Html.Hidden("hdn_IndicadorConsultoraDigital", Model.IndicadorConsultoraDigital)

