@using Portal.Consultoras.Common;

@model Portal.Consultoras.Web.Models.ReportePedidoDDWebModel
@{
    ViewBag.Title = "Reporte de Pedidos DD y Web";
}

<script type="text/javascript">
    jQuery(document).ready(function () {
        $('#ddlPais').change(function () {
            var Id = $(this).val();
            if (Id != null) {
                waitingDialog({});
                $.ajaxSetup({ cache: false });
                $.getJSON(baseUrl + 'ReportePedidoDDWeb/ObtenterCampaniasyZonasPorPais', { PaisID: Id == "" ? 0 : Id }, function (data) {
                    if (checkTimeout(data)) {
                        LimpiarDependencias(Id);
                        if (Id != "") {
                            var ddlRegion = $('#ddlRegion');
                            var ddlZona = $('#ddlZona');
                            var ddlCampania = $('#ddlCampania');
                            if (data.DropDownListCampania.length > 0) {
                                for (var item in data.DropDownListCampania) {
                                    if (data.DropDownListCampania[item].CampaniaID) {
                                        ddlCampania.append($('<option/>', {
                                            value: data.DropDownListCampania[item].Codigo,
                                            text: data.DropDownListCampania[item].Codigo
                                        }));
                                    }
                                }
                            }
                            if (data.DropDownListZona.length > 0) {
                                for (var item in data.DropDownListZona) {
                                    if (data.DropDownListZona.hasOwnProperty(item)) {
                                        ddlZona.append($('<option/>', {
                                            value: data.DropDownListZona[item].Codigo,
                                            text: data.DropDownListZona[item].Codigo
                                        }));
                                    }
                                }
                            }
                            if (data.DropDownListRegion.length > 0) {
                                for (var item in data.DropDownListRegion) {
                                    if (data.DropDownListRegion.hasOwnProperty(item)) {
                                        ddlRegion.append($('<option/>', {
                                            value: data.DropDownListRegion[item].RegionID,
                                            text: data.DropDownListRegion[item].Codigo
                                        }));
                                    }
                                }
                            }
                        }
                        closeWaitingDialog();
                    }
                });
            }
        });
        $('#ddlRegion').change(function () {
            var Id = $(this).val();
            if (Id != null) {
                waitingDialog({});
                $.ajaxSetup({ cache: false });
                $.ajax({
                    type: 'GET',
                    url: baseUrl + 'ReportePedidoDDWeb/ObtenerZonasByRegion',
                    data: "PaisID=" + $("#ddlPais").val() + "&RegionID=" + (Id == "" ? -1 : Id),
                    cache: false,
                    dataType: 'Json',
                    success: function (data) {
                        if (checkTimeout(data)) {
                            var ddlZona = $('#ddlZona');
                            ddlZona.empty();
                            if (data.listaZonas.length > 0) {
                                ddlZona.append($('<option/>', {
                                    value: "",
                                    text: "-- Todas --"
                                }));
                                for (var item in data.listaZonas) {
                                    if (data.listaZonas.hasOwnProperty(item)) {
                                        ddlZona.append($('<option/>', {
                                            value: data.listaZonas[item].Codigo,
                                            text: data.listaZonas[item].Codigo
                                        }));
                                    }
                                }
                            }
                            closeWaitingDialog();
                        }
                    },
                    error: function (x, xh, xhr) {
                        if (checkTimeout(x)) {
                            closeWaitingDialog();
                        }
                    }
                });
            }
        });

        $("#txtCodConsultora").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: baseUrl + "ReportePedidoDDWeb/SelectConsultora", type: "GET", dataType: "json",
                    data: {
                        paisID: $("#ddlPais").val(),
                        codigo: request.term,
                        rowCount: 10
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.Codigo,
                                value: item.Codigo,
                                id: item.ConsultoraID
                            };
                        }));
                    }
                })
            },
            select: function (event, ui) {
                $("#hdn_CondultoraID").val(ui.item.id);
            },
            minLength: 3,
        });
        $("#txtCodConsultora").keypress(function (evt) {
            var charCode = (evt.which) ? evt.which : window.event.keyCode;
            if (charCode <= 13) {
                return false;
            }
            else {
                var keyChar = String.fromCharCode(charCode);
                var re = /[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ]/;
                return re.test(keyChar);
            }
        });
        $("#ddlEsRechazado").change(function () {
            var value = this.value;
            if (value == "1") {
                $("#ddlOrigen").val(2).change();
                $("#ddlEnviadosValidacion").val(0).change();
            }
        });

        $("#ddlOrigen").change(function () {
            if ($(this).val() == 1) {
            }
        });

        $("#txtFechaInicio, #txtFechaFin").datepicker({
            showOn: "button",
            buttonImage: '@Url.Content("~/Content/Images/calendar.png")',
            buttonImageOnly: true,
            dateFormat: 'dd/mm/yy'
        }).mask('99/99/9999');
        
        $("#btnBuscar").click(function () {
            if ($("#ddlPais").val() == "") {
                alert("Debe seleccionar un País, verifique");
                return false;
            }
            if ($("#ddlCampania").val() == "") {
                alert("Debe seleccionar una Campaña, verifique");
                return false;
            }
            ////if ($("#ddlRegion").val() == "") {
            ////    alert("Debe seleccionar una Region, verifique");
            ////    return false;
            ////}
            fnGrilla();
        });
        $("#btnExcel").click(function () {
            if ($("#ddlPais").val() == "") {
                alert("Debe seleccionar un País, verifique");
                return false;
            }
            if ($("#ddlCampania").val() == "") {
                alert("Debe seleccionar una Campaña, verifique");
                return false;
            }
            waitingDialog({});

            var paisID = jQuery.trim($("#ddlPais").val());
            var campania = jQuery.trim($("#ddlCampania").val());
            var consultora = jQuery.trim($("#txtCodConsultora").val());
            var regionID = $('#ddlRegion option:selected').text();
            var zonaID = jQuery.trim($("#ddlZona").val());
            var origen = jQuery.trim($("#ddlOrigen").val());
            var estadoValidacion = jQuery.trim($("#ddlEnviadosValidacion").val());
            var esRechazado = jQuery.trim($("#ddlEsRechazado option:selected").val());
            var fechaInicio = $("#txtFechaInicio").val();
            var fechaFin = $("#txtFechaFin").val();

            setTimeout(function () {
                DownloadExcelPedido(paisID, campania, consultora, regionID, zonaID, origen, estadoValidacion, esRechazado, fechaInicio, fechaFin)
            }, 0);
        });

        fnGrilla();
    });

    function DownloadExcelPedido(paisID, campania, consultora, regionID, zonaID, origen, estadoValidacion, esRechazado, fechaInicio, fechaFin) {        
        var urlExcel = "ExportarExcelCabecera";
        var urlCount = "ValidLimitCountCabecera";
        var mensajeError = "@Html.Raw(Constantes.MensajesError.ReportePedidoDDWeb_DescargaCabecera)";
        if ($("#hdnPedidoDetalle").val() === "1") {
            $("#hdnPedidoDetalle").val("0");
            urlExcel = "ExportarExcelDetallePedido";
            urlCount = "ValidLimitCountDetalle";
            mensajeError = "@Html.Raw(Constantes.MensajesError.ReportePedidoDDWeb_DescargaDetalle)";
        }

        var parameters = "?PaisID=" + paisID +
            "&Campania=" + campania +
            "&Consultora=" + consultora +
            "&RegionID=" + regionID +
            "&ZonaID=" + zonaID +
            "&Origen=" + origen +
            "&EstadoValidacion=" + estadoValidacion +
            "&EsRechazado=" + esRechazado +
            "&FechaInicio=" + fechaInicio +
            "&FechaFin=" + fechaFin;

        waitingDialog();
        $.get(baseUrl + "ReportePedidoDDWeb/" + urlCount + parameters)
            .done(function (response) {
                if (!checkTimeout(response)) return false;

                if (!response.success) alert(response.message);
                else DownloadAttachExcel(baseUrl + "ReportePedidoDDWeb/" + urlExcel + parameters);
            })
            .fail(function() { alert(mensajeError); })
            .always(closeWaitingDialog);
    }

    function DownloadAttachExcel(content) {
        var iframe_ = document.createElement("iframe");
        iframe_.style.display = "none";
        iframe_.setAttribute("src", content);
        iframe_.frameBorder = 0;

        if (navigator.userAgent.indexOf("MSIE") > -1 && !window.opera) { // Si es Internet Explorer
            iframe_.onreadystatechange = function () {
                switch (this.readyState) {
                    case "loading":
                        waitingDialog();
                        break;
                    case "complete":
                    case "interactive":
                    case "uninitialized":
                        closeWaitingDialog();
                        delCookie("DescargaCompleta");
                        break;
                    default:
                        closeWaitingDialog();
                        delCookie("DescargaCompleta");
                        break;
                }
            };
        }
        else {
            // Si es Firefox o Chrome
            document.body.appendChild(iframe_);

            var _timer = setInterval(function () {
                var success = getCookie("DescargaCompleta");
                if (success === "1") {
                    clearInterval(_timer);
                    closeWaitingDialog();
                    delCookie("DescargaCompleta");
                }
            }, 1000)
            return;
        }

        document.body.appendChild(iframe_);
    }

    function getCookie(name) {
        var pairs = document.cookie.split("; "),
            count = pairs.length, parts;
        while (count--) {
            parts = pairs[count].split("=");
            if (parts[0] === name)
                return parts[1];
        }
        return false;
    }

    function delCookie(name) {
        date = new Date();
        date.setDate(date.getDate() - 1);
        document.cookie = name + "=" + '=;expires=' + date + "; path=/";
    }
    function LimpiarDependencias(Id) {
        var ddlCampania = $('#ddlCampania');
        var ddlZona = $('#ddlZona');
        ddlCampania.empty();
        ddlZona.empty();

        if (Id == "") {
            ddlZona.append($('<option/>', {
                value: "",
                text: "-- Todas --"
            }));
        } else {
            ddlZona.append($('<option/>', {
                value: "",
                text: "-- Todas --"
            }));
        }
        ddlCampania.append($('<option/>', {
            value: "",
            text: "-- Seleccionar --"
        }));
    }
    function fnGrilla() {
        jQuery("#gvwPedidosCampana").jqGrid({
            url: baseUrl + "ReportePedidoDDWeb/ConsultarPedidosDDWeb",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                PaisID: function () { return jQuery.trim($("#ddlPais").val()); },
                Campania: function () { return jQuery.trim($("#ddlCampania").val()); },
                Consultora: function () { return jQuery.trim($("#txtCodConsultora").val()); },
                RegionID: function () { return jQuery.trim($('#ddlRegion option:selected').text()); },
                ZonaID: function () { return jQuery.trim($("#ddlZona").val()); },
                Origen: function () { return jQuery.trim($("#ddlOrigen").val()); },
                EstadoValidacion: function () { return jQuery.trim($("#ddlEnviadosValidacion").val()); },
                EsRechazado: function () { return $("#ddlEsRechazado option:selected").val(); },
                FechaInicio: function () { return $("#txtFechaInicio").val(); },
                FechaFin: function () { return $("#txtFechaFin").val(); }
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['PaisISO', 'N° Registro', 'Fecha Ingreso', 'Fecha/Hora Validación', 'Año / Campaña', 'Región', 'Zona', 'Sección', 'Cod. Consultora', 'Nombre Consultora', 'Documento Identidad', 'Monto Total Pedido', 'Monto Total Pedido con Descuento', 'Saldo', 'Origen', 'Validado', 'Estado', 'Tipo Proceso', 'Motivo de Rechazo', 'Detalle'],
            colModel: [
                { name: 'paisISO', index: 'paisISO', width: 0, editable: false, align: 'center', hidden: true },
                { name: 'NroRegistro', index: 'NroRegistro', width: 6, editable: true, resizable: false },
                { name: 'FechaRegistro', index: 'FechaRegistro', width: 10, editable: true, resizable: false },
                { name: 'FechaReserva', index: 'FechaReserva', width: 10, editable: true, resizable: false },
                { name: 'CampaniaCodigo', index: 'CampaniaCodigo', width: 8, editable: true, resizable: false },
                { name: 'Region', index: 'Region', width: 6, editable: true, resizable: false },
                { name: 'Zona', index: 'Zona', width: 6, editable: true, resizable: false },
                { name: 'Seccion', index: 'Seccion', width: 6, editable: true, resizable: false },
                { name: 'ConsultoraCodigo', index: 'ConsultoraCodigo', width: 10, editable: true, resizable: false },
                { name: 'ConsultoraNombre', index: 'ConsultoraNombre', width: 15, editable: true, resizable: false },
                { name: 'DocumentoIdentidad', index: 'DocumentoIdentidad', width: 15, editable: true, resizable: false },
                { name: 'ImporteTotal', index: 'ImporteTotal', width: 8, editable: true, resizable: false },
                { name: 'ImporteTotalConDescuento', index: 'ImporteTotalConDescuento', width: 8, editable: true, resizable: false },
                { name: 'ConsultoraSaldo', index: 'ConsultoraSaldo', width: 8, editable: true, resizable: false },
                { name: 'OrigenNombre', index: 'OrigenNombre', width: 6, editable: true, resizable: false },
                { name: 'EstadoValidacionNombre', index: 'EstadoValidacionNombre', width: 6, editable: true, resizable: false },
                { name: 'IndicadorEnviado', index: 'IndicadorEnviado', width: 6, editable: true, resizable: false },
                { name: 'TipoProceso', index: 'TipoProceso', width: 0, editable: false, align: 'center', hidden: true },
                {
                    name: 'MotivoRechazo', index: 'MotivoRechazo', width: 12, editable: true, resizable: false,
                    cellattr: function (rowId, tv, rawObject, cm, rdata) {
                        return 'style="white-space:normal !important;word-break: break-all;"';
                    },
                    formatter: function (cellValue, options, rowObject) {
                        return cellValue.replace(',', '<br/>');
                    }
                },
                { name: 'Detalle', index: 'Detalle', width: 6, editable: true, sortable: false, align: 'center', resizable: false, formatter: ShowActions }
            ],
            jsonReader:
                {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: true,
                    cell: "cell",
                    idCampania: "idCampania",
                    idPedido: "idPedido"
                },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'CampaniaCodigo',
            sortorder: 'asc',
            multiselect: false,
            height: 'auto',
            width: 1200,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function () { },
            gridComplete: function () { }
        });
        jQuery("#gvwPedidosCampana").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#gvwPedidosCampana").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');

        var paisID = '@ViewBag.PaisOcultoID';
        // 9 - México - 1630
        if (paisID != '9') {
            var myGrid = $('#gvwPedidosCampana');
            myGrid.jqGrid('hideCol', myGrid.getGridParam("colModel")[9].name);
        }


    }

    function SendData(paisISO, CampaniaCod, ConsultoraCod, ConsultoraNombre, UsuarioNombre, Origen, Validado, Saldo, Importe, importeConDescuento, tipoProceso, motivoRechazo) {
       
        var form1 = document.createElement("form");
        var data = document.createElement("input");
        form1.setAttribute("id", "form1");
        form1.action = baseUrl + "ReportePedidoDDWeb/ReportePedidosDDWebDetalle";
        form1.setAttribute("method", "POST");
        data.setAttribute("type", "hidden");
        data.setAttribute("name", "data");
        var d = {
            paisISO: paisISO,
            CampaniaCod: CampaniaCod,
            ConsultoraCod: ConsultoraCod,
            ConsultoraNombre: ConsultoraNombre,
            UsuarioNombre: UsuarioNombre,
            Origen: Origen,
            Validado: Validado,
            Saldo: Saldo,
            Importe: Importe,
            ImporteConDescuento: importeConDescuento,
            Usuario: $("#hdnUsuario").val(),
            TipoProceso: tipoProceso,
            MotivoRechazo: motivoRechazo == 'null' ? '' : motivoRechazo
        }
        data.value = JSON.stringify(d);
        form1.appendChild(data);
        document.body.appendChild(form1);
        form1.submit();
    }
    function ShowActions(cellvalue, options, rowObject) {
        var cellValueInt = parseInt(cellvalue);
        var Edit = "&nbsp;<a href=# >"
     + "<img src='@Url.Content("~/Content/Images/Detail.png")' alt='Detalle Registro' title='Detalle Registro' onclick=\"SendData('" + rowObject[0] + "','" +
                                                                                                                                       rowObject[4] + "','" +
                                                                                                                                       rowObject[8] + "','" +
                                                                                                                                       rowObject[9] + "','" +
                                                                                                                                       rowObject[8] + "','" +
                                                                                                                                       rowObject[14] + "','" +
                                                                                                                                       rowObject[15] + "','" +
                                                                                                                                       rowObject[13] + "','" +
                                                                                                                                       rowObject[11] + "','" +
                                                                                                                                       rowObject[12] + "','" +
                                                                                                                                       rowObject[17] + "','" +
                                                                                                                                       rowObject[18] + "');\" border='0' /></a>";
        return Edit;
    }

    function PedidosDetalleConsultoraExcel() {
        $("#hdnPedidoDetalle").val("1");
        $("#btnExcel").click();
    }
</script>

<div class="wrap_cab">
    <div class="filtros2">
        <div class="elements" style="width:1200px;">
            <div class="div-2">
                <h1>Reporte de <span>Pedidos Digitados DD y Web</span></h1>
            </div>
            <div class="div-3">
                <div class="titC">Pais:</div>
                <div class="selectP2 borde_redondeado">
                    @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais" })
                </div>
                <div class="titC">Campaña:</div>
                <div class="selectP2 borde_redondeado">
                    @Html.DropDownListFor(x => x.NombreCampania, new SelectList(Model.DropDownListCampania, "CampaniaID", "NombreCorto"), "-- Seleccionar --", new { id = "ddlCampania" })
                </div>
                <div class="titC">Región:</div>
                <div class="selectP2 borde_redondeado">
                    @Html.DropDownListFor(x => x.NombreRegion, new SelectList(Model.DropDownListRegion, "RegionID", "Codigo"), "-- Todas --", new { id = "ddlRegion" })
                </div>
                <div class="titC">Zona:</div>
                <div class="selectP2 borde_redondeado">
                    @Html.DropDownListFor(x => x.NombreZona, new SelectList(Model.DropDownListZona, "ZonaID", "Codigo"), "-- Todas --", new { id = "ddlZona" })
                </div>
            </div>
            <div class="div-3">
                <div class="titC">Origen:</div>
                <div class="selectP2 borde_redondeado">
                    <select id="ddlOrigen">
                        <option value="0">-- Todos --</option>
                        <option value="1">DD</option>
                        <option value="2">WEB</option>
                    </select>
                </div>
                <div class="titC">Validado:</div>
                <div class="selectP2 borde_redondeado">
                    <select id="ddlEnviadosValidacion">
                        <option value="0">-- Todos --</option>
                        <option value="202">SI</option>
                        <option value="201">NO</option>
                    </select>
                </div>
                <div class="titC">Consultora:</div>
                <div class="selectP2 borde_redondeado">
                    <input id="txtCodConsultora" type="text" />
                </div>
                <div class="titC">Rechazado?:</div>
                <div class="selectP2 borde_redondeado">
                    <select id="ddlEsRechazado">
                        <option value="2">-- Todos --</option>
                        <option value="1">SI</option>
                        <option value="0">NO</option>
                    </select>
                </div>
            </div>
            <div class="div-3">
                <fieldset class="fieldset-2">
                    <legend >Fecha de Ingreso</legend>

                    <div class="titC" style="padding-left: 0px;">Inicio:</div>
                    <div class="calendar borde_redondeado">
                        <input type="text" id="txtFechaInicio">
                    </div>
                    <div class="titC" style="padding-left: 5px;">Fin:</div>
                    <div class="calendar borde_redondeado">
                        <input type="text" id="txtFechaFin">
                    </div>
                </fieldset>
                <div class="input_search">
                    <input type="submit" name="" id="btnBuscar" value="Buscar" style="margin-top: 22px;" />
                </div>
            </div>
            <input type="hidden" id="hdnPedidoDetalle" value="0" />
            <div class="div-4">
                <div class="noti3">
                    Has click <a onclick="PedidosDetalleConsultoraExcel();" href="#">aquí</a> para descargar los pedidos detallados por Consultora.
                </div>
            </div>
        </div>
        <input type="hidden" id="hdnUsuario" value="@ViewBag.Usuario" />
    </div>
</div>


<div class="wrap">
    <div class="containerReporte clearfix">
        <div class="border-wrapper">
            <table id="gvwPedidosCampana"></table>
            <div id="pager"></div>

        </div>
    </div>
</div>
<div class="wrap">
    <div class="container clearfix" style="text-align: center">
        <div class="input_global">
            <input id="btnExcel" type="button" value="Exportar" />
        </div>
    </div>
</div>

<div id="loadingScreen"></div>



