
@model Portal.Consultoras.Web.Models.ClienteContactaConsultoraModel
@{
    ViewBag.Title = "Cliente Contacta Consultora";
}

<style>
    .colorboton .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
    {
        background: #e570e7;
        background: -moz-linear-gradient(top, #e570e7 0%, #c85ec7 30%, #a849a3 51%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#e570e7), color-stop(30%,#c85ec7), color-stop(51%,#a849a3));
        background: -webkit-linear-gradient(top, #e570e7 0%,#c85ec7 30%,#a849a3 51%);
        background: -o-linear-gradient(top, #e570e7 0%,#c85ec7 30%,#a849a3 51%);
        background: -ms-linear-gradient(top, #e570e7 0%,#c85ec7 30%,#a849a3 51%);
        background: linear-gradient(to bottom, #e570e7 0%,#c85ec7 30%,#a849a3 51%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e570e7', endColorstr='#a849a3',GradientType=0 );
        border: 1px solid #d3d3d3;
        color: white;
    }

    .noclose .ui-dialog-titlebar-close
     {
             display:none;
     }
</style>

<script type="text/javascript">
    $(document).ready(function () {

  
        $('#hrefTusDatos').click(function () {
            window.location.href = '@Url.Action("Index", "MisDatos")';
        });

        $('#hrefTerminos,#hrefTerminos0').click(function () {
            waitingDialog({});
            DownloadAttachPDF();
        });

        $('#DialogMensajes').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 400,
            draggable: true,
            title: ":: Mensaje ::",
            buttons:
            {
                "Aceptar": function () {
                    $(this).dialog('close');
                }
            }
        });
        
        $('#DialogMensajesConfirmacion').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 400,
            draggable: true,
            title: ":: Confirmar ::"
            
        });

        $('#divActualizarDatos').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 600,
            height: 480,
            draggable: true,
            title: "Actualizar Datos",
            buttons:
                    {
                        "Guardar": function () {
                            ActualizarDatos();

                        },
                     
                    },
            close: function (event, ui) {$('#aviso').html(''); $("#divActualizarDatos").dialog('close'); }
        });

        $('#divConfirmaCorreoAfiliado').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 550,
            close: function (event, ui) {
                $('#divConfirmaCorreoAfiliado').dialog('close');

            }
       
        });

        $('#divFelicitaciones').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 550,
            closeOnEscape: false,
            beforeClose: function (event, ui) { return false; },
            dialogClass: "noclose"      
        });

        $("#chk-pri-terminos-y-condiciones-sup").click(function(){

            $("#chk-pri-terminos-y-condiciones-bottom").prop("checked", $("#chk-pri-terminos-y-condiciones-sup").prop("checked"));
        });

        $("#chk-pri-terminos-y-condiciones-bottom").click(function(){

            $("#chk-pri-terminos-y-condiciones-sup").prop("checked", $("#chk-pri-terminos-y-condiciones-bottom").prop("checked"));
        });
    });

    function ActualizarDatos() {
        var Result = false;
        var CorreoElectronico = $('#txtEmail').val();
        var ConfirmarCorreo = $('#txtEmailConfirmacion').val();
               
        var m_telefonoCasa='';
        var m_telefonoCelular='';
        if ($('#txtTelefono').val()!='' && $('#txtTelefono').val() != $('#txtTelefono').attr('placeholder')) {
            m_telefonoCasa = $('#txtTelefono').val();
        }
        if ($('#txtCelular').val() != '' && $('#txtCelular').val() != $('#txtCelular').attr('placeholder')) {
            m_telefonoCelular = $('#txtCelular').val();
        }
          
        var m_email = $('#txtEmail').val();
        if (typeof (m_email) == "undefined")
            m_email = ''
        var m_error = 0;
        var m_mensaje = "";
          

        $('.requerido').each(function (i, elem) {
            if ($(elem).val() == '' || typeof ($(elem).val()) == 'undefined') {
                if (elem.id != 'txtTelefono')                
                {
                
                
                    $(elem).css({ 'border': '1px solid red' });
                    m_error++;
                    if (elem.id == 'txtCelular') {
                   
                        m_mensaje +="Debe ingresar teléfono celular. <br />";
                    }
                    if (elem.id == 'txtEmail') {                   
                        m_mensaje +="Debe ingresar correo electrónico. <br />";
                    }
                
                }
               

            } else {
                if (elem.id == 'txtTelefono') {
                      
                } else {
                    if (elem.id == 'txtCelular') {
                        $(elem).css({ 'border': '1px solid red' });
                        if (m_telefonoCelular == '') {
                            m_mensaje +="Debe ingresar teléfono celular. <br />";
                           
                        }
                        else
                            $(elem).css({ 'border': '' });
                            
                    } else {
                        $(elem).css({ 'border': '' });
                    }

                }


            }

        });
        
   


        if (m_email != '') {
            if (validarEmail(m_email) == false) {
                $('#txtEmail').css({ 'border': '1px solid red' });
                m_mensaje+="Formato  de Email No Válido. <br />";
                m_error++;
            }
            else {
                $('#txtEmail').css({ 'border': '' });
            }

        }

        if (CorreoElectronico != ConfirmarCorreo) {     
            m_error++;
            m_mensaje+="Las correos ingresados no coinciden. <br />";
                    
        }


        if (m_error > 0) {
            alert_msg(m_mensaje);
          
        }
        else {

            var item = {
                Telefono: jQuery('#txtTelefono').val(),
                Celular: jQuery('#txtCelular').val(),
                Email: $.trim(jQuery('#txtEmailConfirmacion').val()),
                ActualizarClave: null,
                ConfirmarClave: null,
                CorreoAnterior: $.trim(jQuery('#txtEmail').val()),
          
            };
            waitingDialog({});

            jQuery.ajax({
                type: 'POST',
                url: baseUrl + 'ClienteContactaConsultora/Registrar',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(item),
                async: true,
                success: function (data) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        if (data.success == true) {
                            Result = true;
                            $('#divActualizarDatos').dialog('close');
                            $('#divConfirmaCorreoAfiliado').dialog('open');
                            $('#aviso').html('');
                        }
                        else {
                            Result = false;
                            alert_msg(data.message);
                        }
                    }
                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        Result = false;
                        closeWaitingDialog();
                        alert_msg(data.message);
                    }
                }
        


            });
        }
        return Result;
    }

    function validarEmail(email) {

        var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
        return emailReg.test(email);
    }

    function cerrarDialogo(divDialogo) {
        $('#'+divDialogo).dialog('close');

        if(divDialogo == 'divFelicitaciones')
        {
            window.location.href =  '@Url.Action("Index", "Bienvenida")';
        }

        if(divDialogo == 'divConfirmaCorreoAfiliado')
        {
            dataLayer.push({
                'event': 'virtualEvent', 
                'category': 'CCC', 
                'action': 'Actualizar datos', 
                'label': 'Satisfactorio'
            });
        }
    }

    function marcacionAfiliacion(){
        var posicion = $("#hdnPosicion").val();

        dataLayer.push({
            'event': 'virtualEvent',
            'category': 'CCC',
            'action': 'Afiliación',
            'label': 'Botón ' + posicion
        });

    }
    
    function soloNumeros(e){
        var CharCode = (e.which) ? e.which : event.keyCode;
        if (CharCode > 31 && (CharCode < 48 || CharCode > 57))
            return false;
        return true;
    }

    function DownloadAttachPDF() {

        var iframe_ = document.createElement("iframe");
        iframe_.style.display = "none";
        var requestedFile = '/Content/FAQ/Afiliacion.pdf';
        iframe_.setAttribute("src", baseUrl + 'WebPages/DownloadPDF.aspx?file=' + requestedFile);

        if (navigator.userAgent.indexOf("MSIE") > -1 && !window.opera) { // Si es Internet Explorer

            iframe_.onreadystatechange = function () {
                switch (this.readyState) {
                    case "loading":
                        waitingDialog({});
                        break;
                    case "complete":
                    case "interactive":
                    case "uninitialized":
                        closeWaitingDialog();
                        break;
                    default:
                        closeWaitingDialog();
                        break;
                }
            };
        }
        else {
            // Si es Firefox o Chrome              
            $(iframe_).ready(function () {
                closeWaitingDialog();
            });
        }
        document.body.appendChild(iframe_);
    }




</script>

<div class="wrap_cab">
    <div class="filtros">
        <div class="elements">
            <div class="div-1">
                <div class="box">
                    <div class="box-t"></div>
                    <div class="box-c">
                        @if (ViewBag.Campania != null)
                        {
                            if (ViewBag.Dias == 0)
                            {

                            <p class="azul">Hoy es el cierre de <span>@ViewBag.Campania</span></p>

                            }
                            else
                            {
                            <p class="azul">Estás en <span>@ViewBag.Campania</span>, te quedan <strong>@ViewBag.Dias días</strong> para el cierre.</p>

                            }
                            <p>@ViewBag.MensajeCierreCampania</p>                            
                        }
                        else
                        {
                            <p>La Zona @ViewBag.CodigoZonaConsultora no se ubica en el cronograma, por favor contacte al Servicio de Atención al Cliente.</p>
                        }
                    </div>
                    <div class="box-b"></div>
                </div>
                <div class="welcome" id="MensajeWelcome">

                    @if (ViewBag.Lider == 1 && ViewBag.PortalLideres == true)
                    {
                        <input id="hdnLider" type="hidden" value="1" />                                       
                    }
                    else
                    {
                        <input id="hdnLider" type="hidden" value="0" />      
                    }

                </div>

            </div>

            @if (Model.Afiliado == false)
            {                        
                <div class="div-2" style="margin-top:15px">
                    <span class="paTit">Afiliación a
                        <br />
                        <b>Cliente Contacta Consultora </b>
                    </span>

                </div>
                
                  
                 
                 
            }
            else
            {
                
                 <div class="div-2">
                    <br />
					<span class="paTit">
                        Afiliación a<br />Cliente Contacta Consultora
                    </span>

                </div>
				
				
				
				
				
                 <div style="font-size:16px; font-family:Museo sans-serif 300">
                    <p>Querida @Model.NombreConsultora,<br /> Ya estás afiliada al Cliente Contacta Consultora.<br /> En caso no quieras que ningún cliente nuevo te contacte, puedes desafiliarte por medio del botón abajo.</p>
                 </div>
            }




        </div>
    </div>
</div>

@if (Model.Afiliado == false)
{                  
          
    <div class="wrap noPadd" id="paLand">
        <div class="container">

            <div id="paBann" class="clearfix">
                <div id="paMod">

                    <img src='@Url.Content("~/Content/Images/afiliacion/consultora.png")' alt="Consultora Belcorp" title="Consultora Belcorp" />
                </div>
                <div id="paCap">
                    <div>
                        <br><br><br>
                        <span class="paCapLg">¡Te damos la oportunidad de ganar<br>
                            <b>nuevos clientes y más pedidos!
                            </b>
                        </span>
                        <div id="paPar">
                            <p>
                                Te acercamos a los clientes que ya tienen pedidos de las páginas web de <br>
                                L´Bel, Ésika y Cyzone. Afíliate y tu nombre estará disponible para que <br>
								te elijan como su Consultora. 
                            </p>
                    </div>
                        <div id="paForm">
                            <div>
                                <p>
                                   <input role="checkbox" region="Principal-top" title="Términos y Condiciones" id="chk-pri-terminos-y-condiciones-sup" type="checkbox"  />
                                    @if (Model.Afiliado == false)
                                    {
                          
                                        <a id="hrefTerminos" style="color: #768591; cursor: pointer; text-decoration: underline;">He leído y acepto los Términos y Condiciones</a>
                          
                                    }
                                    else
                                    {
                                        <a style="color: #0094ff;">Deseo desafiliarme de este beneficio</a>
                       
                                    }

                                </p>

                                <ul>
                                    <li class="paAcept">

                                        @if (Model.Afiliado == false)
                                        {
                                            <input role="button" region="Principal-top" title="Afiliate aquí" id="btn-pri-afiliate-aqui-sup" type="button" value="AF&Iacute;LIATE AQUÍ" onclick="javascript: AceptarAfiliacion();" />                                            
                                        }
                                        else
                                        {
                                            <input role="button" region="Pop up" title="Aceptar desafiliación" id="btn-pri-aceptar-desafiliacion" type="button" value="ACEPTAR" onclick="javascript: AceptarDesafiliacion();" />
                                        }

                                    </li>

                                    <li>
                                        <input role="button" region="Principal" title="Entérate más aquí" id="btn-pri-enterate-mas-aqui" type="button" value="ENTÉRATE MÁS AQUÍ" onclick="javascript: EnterateMas();"
                                            class="btnBlanco" />

                                    </li>
                                </ul>




                </div>


            </div>
            </div>
                </div>
            </div>
            <div id="paParClientes" style="display: none">
            </div>

            <div id="DivEnterateMas">

                <div id="TituloEnterateMas" class="clearfix">
                    ¿Cómo funciona una vez que me aﬁlio?
                </div>

                <div id="ImagenesEnterateMas" style="padding: 0 50px;">
                    <div id="ImgEnterate">
                        <img src='@Url.Content("~/Content/Images/afiliacion/esquema.png")'alt="" style="width: 100%">
                        
                </div>
                </div>

               <div id="paForm">
                    <div style="text-align: center">
                        <p>
                            <input role="checkbox" region="Principal-bottom" title="Términos y Condiciones" type="checkbox" id="chk-pri-terminos-y-condiciones-bottom" />
                            @if (Model.Afiliado == false)
                            {
                          
                                <a id="hrefTerminos0" style="color: #768591; cursor: pointer; text-decoration: underline;">He leído y acepto los Términos y Condiciones</a>
                          
                                    }
                            else
                            {
                                <a style="color: #0094ff;">Deseo desafiliarme de este beneficio</a>

                                    }
                        </p>

                        <ul>
                            <li class="paAcept">

                                @if (Model.Afiliado == false)
                                {
                                    <input role="button" region="Principal-bottom" title="Afiliate aquí" id="btn-pri-afiliate-aqui-bottom" type="button" value="AFILIATE AQUÍ" onclick="javascript: AceptarAfiliacion0();" />
                                        }
                                else
                                {
                                    <input role="button" region="Pop up" title="Aceptar desafiliación" id="btn-pri-aceptar-desafiliacion" type="button" value="ACEPTAR" onclick="javascript: AceptarDesafiliacion();" />
                                        }

                            </li>

                        </ul>
                    </div>
                </div>

                <div id="letrasPequenasEnterateMas">
			<br><br><br>
                </div>

            </div>
            
        </div>
    </div>
                
                
                
           
}
else
{
            
    <div class="wrap">
        <div class="container clearfix">

            <div>
            </div>
            <br />
            <div class="div-3">
                <div style="width: 400px; float: left">&nbsp;</div>
                <div class="input_modifica_horizontal">
                    <input class="button_desafiliate" role="button" region="Principal" title="Desafíliate aquí" id="btn-pri-desafiliate-aqui" type="button" value="" onclick="javascript: AceptarDesafiliacion();" />
                </div>
            </div>



        </div>
    </div>
}

<div id="divActualizarDatos">
    <div class="Content_modalActualizar">
        <div id="divMensajeModalAfilia">
            Querida consultora para enterarte de las novedades de Belcorp, de la información de tu pedido y poder afiliarte al beneficio de
            Cliente Contacta Consultora es necesario que actualices tus datos.
        </div>
        <div class="div-3">
            <div class="titZ">Nombre:</div>
            <div class="titAuto">
                @Model.NombreCompleto
            </div>
        </div>
        <div class="div-3">
            <div class="titZ">Teléfono:</div>
            <div class="selectA borde_redondeado">
                @Html.TextBoxFor(model => model.Telefono, new { id = "txtTelefono", maxlength = "15", Class = "requerido",onKeyPress="return soloNumeros(event)"   })
            </div>
        </div>
        <div class="div-3">
            <div class="titZ">Celular:</div>
            <div class="selectA borde_redondeado">
                @Html.TextBoxFor(model => model.Celular, new { id = "txtCelular", maxlength = "15", Class = "requerido", onKeyPress="return soloNumeros(event)"})
            </div>
        </div>
        <div class="div-3">
            <div class="titZ">Correo Electrónico:</div>
            <div class="selectA borde_redondeado">
                @Html.TextBoxFor(model => model.Email, new { id = "txtEmail", maxlength = "50", Class = "requerido"})
            </div>
        </div>

        <div class="div-3">
            <div class="titZEM">Confirmación Correo Electrónico:</div>
            <div class="selectA borde_redondeado">
                @Html.TextBoxFor(model => model.EmailConfirmacion, new { id = "txtEmailConfirmacion", maxlength = "50", Class = "requerido"})
            </div>
        </div>
        <div class="div-3">
            <div class="cssMensaje">*Verifica que ambos correos coincidan en el mismo formato</div>            
    </div>
    </div>
     <label id="aviso"></label>
    <div id="loadingScreen"></div>
    @Html.Hidden("hdn_Correo", (string)Model.Email)
    <input id="hdnPosicion" type="hidden" value="" />
</div>

<div id="DialogMensajes" style="display: none;">
    <div class="Content_modal">
        <div class="message_text">
            Ocurrió un error en la comunicación o la sesión ha expirado. Por favor vuelva a autenticarse.        
        </div>
    </div>
</div>

<div id="DialogMensajesConfirmacion" style="display: none;">
    <div class="Content_modal">
        <div class="message_text">
            Ocurrió un error en la comunicación o la sesión ha expirado. Por favor vuelva a autenticarse.        
        </div>
    </div>
</div>



 <div id="divConfirmaCorreoAfiliado" style="color:#768591;">
                <h3 style="display: table;  margin: 0 auto 0 auto;color:#768591; font-family:Verdana;color:#660066;font-size:20px">ESTAS A SÓLO 1 PASO DE TERMINAR</h3>
                <p style="display: table;  margin: 5px auto;font-family:Verdana;color:#425363;font-size:13px">Para terminar de actualizar tus datos, sigue los siguientes pasos:</p>
                <div style="display: table;  margin: 5px auto;font-family:Verdana;color:#425363;font-size:13px">

                <table>

                    <tbody>
                        <tr>
                           <td style='width: 20px;'>1.</td>
                           <td>Entra a tu correo o <u>correo NO DESEADO</u> y encuentra un mail enviado por</td>
                        </tr>
                        <tr>
                           <td style='width: 20px;'></td>
                           <td>Somos Belcorp</td>
                        </tr>
                        <tr>
                           <td style='width: 20px;'>2.</td>
                           <td>Abre el mail que te hemos enviado y dale click donde dice <u>"aqui"</u></td>
                        </tr>
                        <tr>
                           <td style='width: 20px;'>3.</td>
                           <td>Ya estás lista para recibir todos los beneficios que Belcorp tiene para ti.</td>
                        </tr>

                    </tbody>

                 </table>

                 </div>
     <br />
      <div class ="btnMorado">
                <input value="Aceptar" type="button" onclick="cerrarDialogo('divConfirmaCorreoAfiliado');"/>
     </div>
</div>


 <div id="divFelicitaciones" style="color:#768591;">
                <h3 style="display: table;  margin: 0 auto 0 auto;color:#768591;font-family:Verdana;">¡Felicitaciones!</h3>
                <div style="display: table;  margin: 5px auto;font-family:Verdana;color:#768591;">
                     <p style="text-align:center;font-family:Verdana;">
                      Ya estás afiliada, revisa <u>DIARIAMENTE tu CORREO</u> para que puedas atender<br />
                        rápidamente los pedidos de tus nuevos clientes<br />
                        

                 </div>
      <div class ="btnMorado">
                <input role="button" region="Pop up" title="Afiliaciòn aceptada" id="btn-pop-afiliacion-aceptada" value="Aceptar" type="button" onclick="cerrarDialogo('divFelicitaciones');"/>
     </div>
</div>

<script type="text/javascript">

    function alert_msg(message) {
        $('#DialogMensajes .message_text').html(message);
        $('#DialogMensajes').dialog('open');
    }

    function confirm_msg(message,actionCallback) {
        $('#DialogMensajesConfirmacion .message_text').html(message);
        $('#DialogMensajesConfirmacion').dialog({ buttons:[
            {
                id:"btn-pri-aceptar-desafiliacion",
                role:"button",
                region:"Pop up",
                title:"Aceptar desafiliación",
                text: "Aceptar",
                click: function () {
                    
                    $(this).dialog('close');
                    actionCallback();

                }

            },
            {
                id:"btn-pri-cancelar-desafiliacion",
                role:"button",
                region:"Pop up",
                title:"Cancelar desafiliación",
                text: "Cancelar",
                click: function () {
                    
                    $(this).dialog('close');
                    
                }

            }]});
        $('#DialogMensajesConfirmacion').dialog('open');
    }

    function AceptarAfiliacion() {
       

        if ($("#chk-pri-terminos-y-condiciones-sup").prop("checked")) {
            Afiliar("Superior");
        } 
        else {
            alert_msg('Debes dar check en "He leído y acepto los Términos y Condiciones" para poder afiliarte');
        }
         

    }

    function AceptarAfiliacion0(){
        if ($("#chk-pri-terminos-y-condiciones-bottom").prop("checked")) {
            Afiliar("Inferior");
        } 
        else {
            alert_msg('Debes dar check en "He leído y acepto los Términos y Condiciones" para poder afiliarte');
        }
    }

    function Afiliar(tipoBoton)
    {
        $("#hdnPosicion").val(tipoBoton);
        
        waitingDialog({});
            
        var params = {
            esPrimera :  @Model.EsPrimeraVez.ToString().ToLower(),
            ConsultoraID : @Model.ConsultoraID,
            emailActivo : @Model.EmailActivo.ToString().ToLower()

            };
                    
        $.ajax({
            type: "POST",
            url: baseUrl + "ClienteContactaConsultora/AfiliarConsultora",
            contentType: 'application/json',
            data: JSON.stringify(params),
            success: function (data) {
                if (checkTimeout(data)) {
                    closeWaitingDialog();
                    if (data.success == true) {
                        marcacionAfiliacion();
                        $("#divFelicitaciones").dialog('open');
                       
                    }
                    else {
                        if(data.message =="email")
                            $("#divActualizarDatos").dialog('open');
                       
                        dataLayer.push({
                            'event': 'virtualPage', 
                            'pageUrl': 'clientecontactaconsultora/actualizar-datos', 
                            'pageTitle': 'Belcorp | Portal Consultoras | CCC – Actualizar Datos'
                        });
                            
                    }
                }
            },
            error: function (data, error) {
                if (checkTimeout(data)) {
                    closeWaitingDialog();
                    alert_msg("Ocurrió un error inesperado al momento de afiliarte. Consulte con su administrador del sistema para obtener mayor información");
                }
            }
        });
    }


    function Desafiliar()
    {
        waitingDialog({});
            

        var params = {
  
            ConsultoraID : '@Model.ConsultoraID'

            };

        $.ajax({
            type: "POST",
            url: baseUrl + "ClienteContactaConsultora/DesafiliarConsultora",
            contentType: 'application/json',
            data: JSON.stringify(params),
            success: function (data) {
                if (checkTimeout(data)) {
                    closeWaitingDialog();
                        
                    if (data.success == true) {
                        marcacionDesafiliacion();
                        location.href= baseUrl + "Bienvenida/Index";
                    }
                    else {
                        alert_msg(data.message);
                            
                    }
                }
            },
            error: function (data, error) {
                if (checkTimeout(data)) {
                    closeWaitingDialog();
                    alert_msg("Ocurrió un error inesperado al momento de desafiliarte. Consulte con su administrador del sistema para obtener mayor información");
                }
            }
        });
    }

    function AceptarDesafiliacion() {
            confirm_msg('¿Estás segura de querer desafiliarte de este beneficio?',Desafiliar);
    }

    function marcacionDesafiliacion(){
        var posicion = $("#hdnPosicion").val();

        dataLayer.push({
            'event': 'virtualEvent',
            'category': 'CCC',
            'action': 'Desafiliación',
            'label': 'Botón'
        });

    }

    function EnterateMas(){
        document.getElementById('DivEnterateMas').style.display = 'block';        
        $('html, body').animate({
            scrollTop: $("#DivEnterateMas").offset().top
        }, 500);
    }
</script>
