@using Portal.Consultoras.Web.Helpers
@model Portal.Consultoras.Web.Models.CatalogoPersonalizadoModel

@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
    bool EsLebel = ViewBag.EsLebel;
}

<link href="~/Content/Css/Mobile/esika/bootstrap-slider.min.css" rel="stylesheet" />

@section styles{

    <style type="text/css">
        body {
            background: #f5f5f7 !important;
        }
    </style>
}
<div class="titulo_mobile">
    @{  var mobileConfiguracion = Html.MobileAppConfiguracion();
        if (mobileConfiguracion.MostrarBotonAtras)
        {
            <a href="@Request.UrlReferrer" class="enlace_regresar catalogosP" title="Regresar"></a>
        } }
    &nbsp;&nbsp;&nbsp;&nbsp;LOS FAVORITOS DE TUS CLIENTES
</div>
<div class="fondo_f2f2f2" style="background: #f5f7f7; border-bottom:0">
    <div class="pestana_esika"></div>
    <div class="pestana_lbel mobileLiquidaciones pestana_favoritos"></div>
</div>
<div class="content_favoritos_banner">
    <div class="content_banner_imagen_fav">
        <img src="@ViewBag.UrlImagenFAVMobile" alt="favoritos" />
    </div>
    <div class="texto_favoritos">
        Porque conocemos a tus clientes, seleccionamos
        los productos que podrás venderles fácilmente
    </div>
    <hr class="clear" />

</div>
<div class="wrapper_resumen_mobile">
    <div class="texto_descripcionCatalogoPersonalizado">
        Encuentra una selección de los productos que tus clientes de seguro te solicitarán
    </div>

    <div id="orderby-filter">
        <div id="content-orderby">
            @if (Model.FiltersBySorting != null)
            {
                <select id="orderby-price" class="select-ffc" onchange="processFilterCatalogoPersonalizado(1);">
                    @foreach (var item in Model.FiltersBySorting)
                    {
                        <option value="@item.Codigo">@item.Descripcion</option>
                    }
                </select>
            }

            <input id="btnfltm" type="button" class="btn2-ffc" value="FILTROS" onclick="showCustomFilters();" />
        </div>
        <hr class="clear" />


        <div id="summary-filters">
            <div id="div-result-number" style="margin-left:0; float: left; width: 65%; font-size:13px;">
                <span id="result-number">
                </span>
            </div>

            <div id="div-delete-filters" style="display: none; margin-right:0px;">
                <a href="#" class="link-ffc_landing" onclick="deleteFilters();">Borrar Filtros</a>
            </div>
            <br /><br />
        </div>
    </div>
    <div class="row">
        <div id="custom-filters" style="display: none;" class="filtros_new">
            <div class="titulo_mobile" style="color:black; background:white">
                <a onclick="showOrderbyFilter();" class="enlace_regresar catalogosP flecha_black" title="Regresar"></a>
                &nbsp;&nbsp;&nbsp;&nbsp;SELECCIONA TUS FILTROS
            </div>
            <div id="divProductosEncontrados" class="texto_filtros" style="text-align:center;"><b>2</b> productos encontrados</div>
            <div class="texto_filtros">Encuentra de manera rápida los mejores productos especialmente escogidos para tus clientes</div>
            <br />
            <div id="content-filters" style="">
                <div class="panel-group" id="accordion">
                    <div class="content_panel">
                        <div class="titulo_filtro">
                            <a class="accordion-toggle" data-toggle="collapse" href="#CategoriaCollpase" style="text-decoration: none;">
                                <span class="title-accordion">CATEGORÍAS</span>
                            </a>
                        </div>
                        <div id="CategoriaCollpase" class="panel-collapse collapse">
                            <div class="panel-body panel_filtro">
                                <div id="idcategory" class="content-category">
                                    @if (Model.FiltersByCategory != null)
                                    {
                                        int cont = 1;
                                        foreach (var item in Model.FiltersByCategory)
                                        {
                                            <div class="block-checkbox">
                                                <input class="chkFiltroMobile" type="checkbox" id="c@(cont)" name="categoria" value="@item.Codigo">
                                                <label for="c@(cont)" class="label-checkbox">@item.Descripcion</label>
                                            </div>
                                            cont++;
                                        }
                                    }
                                    else
                                    {
                                        <div class="block-checkbox">
                                            <input type="checkbox" id="c1" name="categoria" value="01">
                                            <label for="c1" class="label-checkbox">FRAGANCIAS</label>
                                        </div>
                                        <div class="block-checkbox">
                                            <input type="checkbox" id="c2" name="categoria" value="02">
                                            <label for="c2" class="label-checkbox">MAQUILLAJE</label>
                                        </div>
                                        <div class="block-checkbox">
                                            <input type="checkbox" id="c3" name="categoria" value="04">
                                            <label for="c3" class="label-checkbox">CUIDADO PERSONAL</label>
                                        </div>
                                        <div class="block-checkbox">
                                            <input type="checkbox" id="c4" name="categoria" value="09">
                                            <label for="c4" class="label-checkbox">TRATAMIENTO CORPORAL</label>
                                        </div>
                                        <div class="block-checkbox">
                                            <input type="checkbox" id="c5" name="categoria" value="10">
                                            <label for="c5" class="label-checkbox">TRATAMIENTO FACIAL</label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content_panel">
                        <div class="titulo_filtro">
                            <a class="accordion-toggle" data-toggle="collapse" href="#collapseTwo" style="text-decoration: none;">
                                <span class="title-accordion">MARCAS</span>
                            </a>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body panel_filtro">
                                <div id="idmarca" class="content-category">
                                    @if (Model.FiltersByBrand != null)
                                    {
                                        int cont2 = 1;
                                        foreach (var item in Model.FiltersByBrand)
                                        {
                                            <div class="center-checkbox">
                                                <input class="chkFiltroMobile" type="checkbox" id="b(@cont2)" name="brand" value="@item.Codigo">
                                                <label for="b(@cont2)" class="label-checkbox">@item.Descripcion</label>
                                            </div>
                                            cont2++;
                                        }
                                    }
                                    else
                                    {
                                        <div class="center-checkbox">
                                            <input type="checkbox" id="b1" name="brand" value="L">
                                            <label for="b1" class="label-checkbox">L´BEL</label>
                                        </div>
                                        <div class="center-checkbox">
                                            <input type="checkbox" id="b2" name="brand" value="E">
                                            <label for="b2" class="label-checkbox">ÉSIKA</label>
                                        </div>
                                        <div class="center-checkbox">
                                            <input type="checkbox" id="b3" name="brand" value="C">
                                            <label for="b3" class="label-checkbox">CYZONE</label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content_panel">
                        <div class="titulo_filtro">
                            <a class="accordion-toggle" data-toggle="collapse" href="#collapseThree" style="text-decoration: none;">
                                <span class="title-accordion">FILTRAR PRECIO</span>
                            </a>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body panel_filtro">
                                <div style="font-size: 12px; width: 100%;">

                                    <div style="width: 100%; color: #e81c36; text-align: center;">
                                        <input id="txt-range-price" type="text" class="span2" value="" style="width: 98%;"
                                               data-slider-id="slider-price"
                                               data-slider-min="0"
                                               data-slider-max="0"
                                               data-slider-step="0.1"
                                               data-slider-value="[0,0]" />
                                    </div>
                                    <div style="text-align: left; width: 50%; float: left; color:#4a4a4a">
                                        <b>@ViewBag.Simbolo <span id="min-range-price">10</span></b>
                                    </div>
                                    <div style="text-align: right; width: 50%; float: left; color:#4a4a4a">
                                        <b>@ViewBag.Simbolo <span id="max-range-price">1000</span></b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content_btn_filtros">
                <a href="#" class="link-ffc" onclick="deleteFilters();">BORRAR FILTROS</a>

                <div id="save-filters" class="save-filters">
                    <input type="button" class="btn-ffc" value="APLICAR" onclick="OcultarSliderMobile();" />
                </div>
            </div>
        </div>
    </div>

    <div class="Content_favoritos_new">
        <div id="divCatalogoPersonalizado" class="contenedor_productos_liquidacion">
        </div>
    </div>
    <div class="clear"></div>

</div>

<div id="popUpCatalogoPersonalizado_003" class="MensajeAlertaMobile" style="display: none;"></div>

<div data-oferta="" class="MensajeAlertaMobile"></div>

<script id="template-mod-ofer1" type="text/x-handlebars-template">
    <div class="content_PopOferta" style="padding-bottom:0;" data-oferta-popup="">
        <div style="display:none;" id="hiddenCatalogo">
            <input type="hidden" class="hdItemCuv" value="{{CUV}}" />
            <input type="hidden" class="hdItemTipoOfertaSisID" value="{{TipoOfertaSisID}}" />
            <input type="hidden" class="hdItemConfiguracionOfertaID" value="{{ConfiguracionOfertaID}}" />
            <input type="hidden" class="hdItemIndicadorMontoMinimo" value="{{IndicadorMontoMinimo}}" />
            <input type="hidden" class="hdItemTipo" value="1" />
            <input type="hidden" class="hdItemMarcaID" value="{{MarcaID}}" />
            <input type="hidden" class="hdItemPrecioUnidad" value="{{PrecioCatalogo}}" />
            <input type="hidden" class="hdItemDescripcionProd" value="{{Descripcion}}" />
            <input type="hidden" class="hdItemPagina" value="0" />
            <input type="hidden" class="hdItemDescripcionCategoria" value="{{DescripcionCategoria}}" />
            <input type="hidden" class="hdItemDescripcionMarca" value="{{DescripcionMarca}}" />
            <input type="hidden" class="hdItemDescripcionEstrategia" value="{{DescripcionEstrategia}}" />
            <input type="hidden" class="OrigenPedidoWeb" value="@Portal.Consultoras.Common.Constantes.OrigenPedidoWeb.CatalogoPersonalizadoMobilePopUp" />
        </div>
        <div style="display:none;" id="hiddenRevista">
            <input type="hidden" class="hdItemCuv" value="{{productoRevista.CUV}}" />
            <input type="hidden" class="hdItemTipoOfertaSisID" value="{{productoRevista.TipoOfertaSisID}}" />
            <input type="hidden" class="hdItemConfiguracionOfertaID" value="{{productoRevista.ConfiguracionOfertaID}}" />
            <input type="hidden" class="hdItemIndicadorMontoMinimo" value="{{productoRevista.IndicadorMontoMinimo}}" />
            <input type="hidden" class="hdItemTipo" value="1" />
            <input type="hidden" class="hdItemMarcaID" value="{{productoRevista.MarcaID}}" />
            <input type="hidden" class="hdItemPrecioUnidad" value="{{productoRevista.PrecioCatalogo}}" />
            <input type="hidden" class="hdItemDescripcionProd" value="{{productoRevista.Descripcion}}" />
            <input type="hidden" class="hdItemPagina" value="0" />
            <input type="hidden" class="hdItemDescripcionCategoria" value="{{productoRevista.DescripcionCategoria}}" />
            <input type="hidden" class="hdItemDescripcionMarca" value="{{productoRevista.DescripcionMarca}}" />
            <input type="hidden" class="hdItemDescripcionEstrategia" value="{{productoRevista.DescripcionEstrategia}}" />
            <input type="hidden" class="OrigenPedidoWeb" value="@Portal.Consultoras.Common.Constantes.OrigenPedidoWeb.CatalogoPersonalizadoMobilePopUp" />
        </div>
        <a class="cerrar_popMobile" href="javascript:;" data-close="">
            <img src="/Content/Images/mobile/Esika/cerrar_04.png" alt="-">
        </a>
        <hr class="clear" />
        <div style="text-align:center">
            <div class="titulo_popOferta">OFERTA EN GUÍA DE NEGOCIO</div>
        </div>
        <div class="linea_separadora_black" style="margin-top:-10px;"></div>
        <hr class="clear" />
        <div class="content_item_oferta">
            <div class="content_imagen_oferta">
                <img src="{{UrlImagen}}" alt="">
            </div>
            <div class="titulo_producto_oferta" id="titulo">{{Descripcion}}</div>
            <div class="sub_texto_oferta">En Guía de Negocio: {{SimboloMoneda}} {{DecimalToStringFormat precio_revista}}</div>
            <div class="texto_ganancia_oferta">{{TxtGanancia}}: {{SimboloMoneda}} {{DecimalToStringFormat ganancia}}</div>
            <div class="liquidacion_rango_home" data-cantidad-contenedor="">
                <a class="cantidad_menos_home" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)" tabindex="0"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
                <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" data-input="cantidad" data-cantidad-input="revista">
                <a class="cantidad_mas_home" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)" tabindex="0"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
            </div>
            <div class="clear"></div>
            <a class="boton_Agregalo_home agregar-ofertarevista" data-cuv="revista" tabindex="0">AGRÉGALO</a>
        </div>
        <div class="row_20">
            <div class="sombra_oferta">
                <div class="content_item_oferta">
                    <div class="sub_texto_oferta" style="font-weight: 800;">
                        También puedes comprarlo <br />con el precio catálogo:
                    </div>
                    <div class="sub_texto_oferta" style="font-weight: 800;">{{SimboloMoneda}} {{DecimalToStringFormat precio_catalogo}}</div>
                    <hr class="clear" />
                    <br />
                    <div class="liquidacion_rango_home" data-cantidad-contenedor="">
                        <a class="cantidad_menos_home" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)" tabindex="0"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
                        <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" data-input="cantidad" data-cantidad-input="catalogo">
                        <a class="cantidad_mas_home" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)" tabindex="0"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
                    </div>
                    <div class="clear"></div>
                    <a class="boton_Agregalo_home agregar-ofertarevista" data-cuv="catalogo" tabindex="0">AGRÉGALO</a>
                </div>
            </div>
        </div>
    </div>
</script>

<form id="frmFichaProductoFAV" method="post" action="@Url.Action("Producto", "CatalogoPersonalizado", new { Area = "Mobile" })">
    <input type="hidden" id="CUVFP" name="CUVFP" />
</form>

<script id="template-catalogopersonalizado" type="text/x-handlebars-template">
    <div>
        {{#each this as |item|}}
        <div class="content_item_home landing_cat" style="position: relative;">
            <div class="liquidacion_item" data-item="catalogopersonalizado">
                <div style="display: none;">
                    <input type="hidden" class="hdItemCuv" value="{{CUV}}" />
                    <input type="hidden" class="hdItemTipoOfertaSisID" value="{{TipoOfertaSisID}}" />
                    <input type="hidden" class="hdItemConfiguracionOfertaID" value="{{ConfiguracionOfertaID}}" />
                    <input type="hidden" class="hdItemIndicadorMontoMinimo" value="{{IndicadorMontoMinimo}}" />
                    <input type="hidden" class="hdItemTipo" value="1" />
                    <input type="hidden" class="hdItemMarcaID" value="{{MarcaID}}" />
                    <input type="hidden" class="hdItemPrecioUnidad" value="{{PrecioCatalogo}}" />
                    <input type="hidden" class="hdItemDescripcionProd" value="{{Descripcion}}" />
                    <input type="hidden" class="hdItemPagina" value="0" />
                    <input type="hidden" class="hdItemDescripcionCategoria" value="{{DescripcionCategoria}}" />
                    <input type="hidden" class="hdItemDescripcionMarca" value="{{DescripcionMarca}}" />
                    <input type="hidden" class="hdItemDescripcionEstrategia" value="{{DescripcionEstrategia}}" />
                    <input type="hidden" class="hdItemRutaImagen" value="{{ImagenProductoSugerido}}" />
                    <input type="hidden" class="hdItemTipoOfertaRevista" value="{{TipoOfertaRevista}}" />
                    <input type="hidden" class="OrigenPedidoWeb" value="@Portal.Consultoras.Common.Constantes.OrigenPedidoWeb.CatalogoPersonalizadoMobile" />
                </div>

                <div class="producto_img_mobile" data-img="" onclick="mostrarFichaProductoFAV('{{CUV}}');">
                    <img src="{{ImagenProductoSugerido}}" class="imagen_producto" />
                </div>
                {{#if TieneOfertaEnRevista}}
                @if (EsLebel)
                {
                    <div class="etiqueta_guia_negocio"><span>OFERTA</span> MI NEGOCIO L'BEL</div>
                }
                else
                {
                    <div class="etiqueta_guia_negocio"><span>OFERTA</span> GUÍA DE NEGOCIO</div>
                }
                {{/if}}
                {{#if item.TieneLanzamientoCatalogoPersonalizado}}
                <div class="etiqueta_producto nuevofavorito">
                    <img src="@Url.Content("~/Content/Images/producto_lanzamiento_CP.png")" alt="Etiqueta Producto" />
                </div>
                {{/if}}
                <div class="producto_nombre_descripcion">
                    {{#IsNullOrEmpty DescripcionMarca '!='}}
                        <h6>{{DescripcionMarca}}</h6>
                    {{else}}
                        <h6>&ensp;&nbsp;</h6>
                    {{/IsNullOrEmpty}}

                    <p class="nombre_producto" onclick="mostrarFichaProductoFAV('{{CUV}}');" style=" cursor pointer;">
                        <b>{{Descripcion}}</b>
                    </p>
                    <div class="producto_precio" style="margin-bottom: 2px !important; margin-top: 10px;">
                        {{#if TieneOfertaEnRevista}}

                        {{else}}
                        <span class="producto_precio_normal">{{SimboloMoneda}} {{PrecioValorizadoString}}</span>
                        <span class="producto_precio_oferta"><b>{{SimboloMoneda}} {{PrecioCatalogoString}}</b></span>
                        {{/if}}
                    </div>
                    <div>
                        {{#if TieneOfertaEnRevista}}
                        <div class="seguir_pedido enlace_popupCatalogoPersonalizado">
                            <a title="AQUÍ" class="pop-ofertarevista22" onclick="mostrarFichaProductoFAV('{{CUV}}')" style="cursor: pointer;">¡MIRA LA OFERTA!</a>
                        </div>
                        {{/if}}
                    </div>
                    <hr class="clear">
                </div>
            </div>
        </div>
        {{/each}}
        <div class="clear"></div>
    </div>
</script>

<script id="template-mod-ofer2" type="text/x-handlebars-template">
    <div class="content_PopOferta" style="max-width:600px; padding-bottom:0" data-oferta-popup="">
        <div style="display:none;" id="hiddenCatalogo">
            <input type="hidden" class="hdItemCuv" value="{{CUV}}" />
            <input type="hidden" class="hdItemTipoOfertaSisID" value="{{TipoOfertaSisID}}" />
            <input type="hidden" class="hdItemConfiguracionOfertaID" value="{{ConfiguracionOfertaID}}" />
            <input type="hidden" class="hdItemIndicadorMontoMinimo" value="{{IndicadorMontoMinimo}}" />
            <input type="hidden" class="hdItemTipo" value="1" />
            <input type="hidden" class="hdItemMarcaID" value="{{MarcaID}}" />
            <input type="hidden" class="hdItemPrecioUnidad" value="{{PrecioCatalogo}}" />
            <input type="hidden" class="hdItemDescripcionProd" value="{{Descripcion}}" />
            <input type="hidden" class="hdItemPagina" value="0" />
            <input type="hidden" class="hdItemDescripcionCategoria" value="{{DescripcionCategoria}}" />
            <input type="hidden" class="hdItemDescripcionMarca" value="{{DescripcionMarca}}" />
            <input type="hidden" class="hdItemDescripcionEstrategia" value="{{DescripcionEstrategia}}" />
            <input type="hidden" class="OrigenPedidoWeb" value="@Portal.Consultoras.Common.Constantes.OrigenPedidoWeb.CatalogoPersonalizadoMobilePopUp" />
        </div>
        <div style="display:none;" id="hiddenRevista">
            <input type="hidden" class="hdItemCuv" value="{{productoRevista.CUV}}" />
            <input type="hidden" class="hdItemTipoOfertaSisID" value="{{productoRevista.TipoOfertaSisID}}" />
            <input type="hidden" class="hdItemConfiguracionOfertaID" value="{{productoRevista.ConfiguracionOfertaID}}" />
            <input type="hidden" class="hdItemIndicadorMontoMinimo" value="{{productoRevista.IndicadorMontoMinimo}}" />
            <input type="hidden" class="hdItemTipo" value="1" />
            <input type="hidden" class="hdItemMarcaID" value="{{productoRevista.MarcaID}}" />
            <input type="hidden" class="hdItemPrecioUnidad" value="{{productoRevista.PrecioCatalogo}}" />
            <input type="hidden" class="hdItemDescripcionProd" value="{{productoRevista.Descripcion}}" />
            <input type="hidden" class="hdItemPagina" value="0" />
            <input type="hidden" class="hdItemDescripcionCategoria" value="{{productoRevista.DescripcionCategoria}}" />
            <input type="hidden" class="hdItemDescripcionMarca" value="{{productoRevista.DescripcionMarca}}" />
            <input type="hidden" class="hdItemDescripcionEstrategia" value="{{productoRevista.DescripcionEstrategia}}" />
            <input type="hidden" class="OrigenPedidoWeb" value="@Portal.Consultoras.Common.Constantes.OrigenPedidoWeb.CatalogoPersonalizadoMobilePopUp" />
        </div>
        <a class="cerrar_popMobile" href="javascript:;" data-close="">
            <img src="/Content/Images/mobile/Esika/cerrar_04.png" alt="-">
        </a>
        <hr class="clear" />

        <div style="text-align:center">
            <div class="titulo_popOferta">OFERTA EN GUÍA DE NEGOCIO</div>
        </div>
        <div class="linea_separadora_black" style="margin-top:-10px;"></div>
        <hr class="clear" />
        <div class="content_item_oferta">
            <div class="content_imagen_oferta">
                {{#IsNullOrEmpty UrlImagen '!='}}
                <img src="{{UrlImagen}}" alt="" />
                {{/IsNullOrEmpty}}
            </div>
            <div class="titulo_producto_oferta" style="font-weight:400;" id="titulo">{{Descripcion}}</div>
            <div class="sub_texto_oferta">Precio para ti: {{SimboloMoneda}} {{DecimalToStringFormat precio_revista}}</div>
            <div class="texto_ganancia_oferta" style="text-transform: uppercase;">{{TxtGanancia}}: {{SimboloMoneda}} {{DecimalToStringFormat ganancia}}</div>
        </div>
        <div>
            {{#each lista_ObjNivel as |nivel|}}
            <div class="content_pack_niveles">
                <div class="row_20">
                    <div class="titulo_mobile">OFERTA x{{nivel.escala_nivel}}</div>
                    <div class="pestana_esika"></div>
                    <div class="pestana_lbel"></div>
                </div>

                <div class="contenido_compra_nivel" style="">
                    <div class="titulo_pack_048 centrar_vertical" style="width: 26%; text-align: left;">Compra</div>
                    <div class="centrar_vertical" style="width: 16%;">
                        {{#IsNullOrEmpty ../UrlImagen '!='}}
                        <img src="{{../UrlImagen}}" alt="" class="img_compra_nivel" />
                        {{/IsNullOrEmpty}}
                    </div>
                    <div class="sub_descripcion_oferta_048 centrar_vertical" style="width: 54%;">
                        <p><span>x{{nivel.escala_nivel}}</span>&nbsp;{{../Descripcion}}</p>
                    </div>
                </div>
                <br />
                <div class="titulo_pack">Precio para ti: {{SimboloMoneda}} {{DecimalToStringFormat nivel.precio_nivel}}</div>
                <div class="texto_ganancia_oferta_048">{{../TxtGanancia}}: {{SimboloMoneda}} {{DecimalToStringFormat nivel.ganancia_nivel}}</div>
                <br />
                <div style="width: 100%; border-top: 1px solid #dadada;"></div>
                <br />
                <div class="titulo_producto_oferta" style="margin-bottom:10px;">{{../TxtRecibeGratis}}:</div>
                <hr class="clear" />
                <div class="content_sub_items">
                    {{#each ../lista_oObjGratis as |item|}}
                    {{#if_eq nivel.escala_nivel item.escala_nivel_gratis}}
                    <div class="sub_imagen_oferta">
                        {{#IsNullOrEmpty item.imagen_gratis '!='}}
                        <img src="{{item.imagen_gratis}}" alt="" style="height: 60px;">
                        {{/IsNullOrEmpty}}

                        {{#IsNullOrEmpty item.imagen_gratis '=='}}
                        <div style="margin: 0 auto; text-align: center;">
                            <img src="@Url.Content(ViewBag.RutaImagenNoDisponible)" alt="" style="width: 55px; height: 55px; border: 0;" />
                        </div>
                        {{/IsNullOrEmpty}}

                    </div>
                    <div class="sub_descripcion_oferta"><p><span>x{{item.cantidad}}</span> {{item.descripcion_gratis}}</p></div>
                    <hr class="clear" />
                    {{/if_eq}}
                    {{/each}}
                </div>
            </div>

            {{/each}}

        </div>
        <div class="content_item_oferta" style="padding-top:0;">
            <div class="content_pack_niveles">
                <div class="sub_texto_oferta">
                    Elige la cantidad y el sistema
                    te ofrecerá la mejor combinación
                </div>
                <br />
                <div class="liquidacion_rango_home" data-cantidad-contenedor="">
                    <a class="cantidad_menos_home"  onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)" tabindex="0"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
                    <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" tabindex="0" data-input="cantidad" data-cantidad-input="revista">
                    <a class="cantidad_mas_home" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)" tabindex="0"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
                </div>
                <div class="clear"></div>
                <a class="boton_Agregalo_home agregar-ofertarevista" data-cuv="revista">AGRÉGALO</a>
            </div>
        </div>
        <div class="row_20">
            <div class="sombra_oferta">
                <div class="content_item_oferta">
                    <div class="sub_texto_oferta">
                        También puedes comprarlo <br />con el precio catálogo:
                    </div>
                    <div class="sub_texto_oferta">{{SimboloMoneda}} {{DecimalToStringFormat precio_catalogo}}</div>
                    <hr class="clear" />
                    <br />
                    <div class="liquidacion_rango_home" data-cantidad-contenedor="">
                        <a class="cantidad_menos_home" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)" tabindex="0"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
                        <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" data-input="cantidad" tabindex="0" data-cantidad-input="catalogo">
                        <a class="cantidad_mas_home" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)" tabindex="0"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
                    </div>
                    <div class="clear"></div>
                    <a class="boton_Agregalo_home agregar-ofertarevista" data-cuv="catalogo" tabindex="0">AGRÉGALO</a>
                </div>
            </div>
        </div>
    </div>
</script>
<script id="template-mod-ofer3" type="text/x-handlebars-template">

    <div class="content_PopOferta" style="padding-bottom:0; max-width:600px;" data-oferta-popup="">
        <a class="cerrar_popMobile" href="javascript:;" data-close="">
            <img src="/Content/Images/mobile/Esika/cerrar_04.png" alt="-">
        </a>
        <hr class="clear" />

        <div style="text-align:center">
            <div class="titulo_popOferta">OFERTA EN GUÍA DE NEGOCIO</div>
        </div>
        <div class="linea_separadora_black" style="margin-top:-10px;"></div>
        <hr class="clear" />
        <div>
            <div style="display:none;" id="hiddenCatalogo">
                <input type="hidden" class="hdItemCuv" value="{{CUV}}" />
                <input type="hidden" class="hdItemTipoOfertaSisID" value="{{TipoOfertaSisID}}" />
                <input type="hidden" class="hdItemConfiguracionOfertaID" value="{{ConfiguracionOfertaID}}" />
                <input type="hidden" class="hdItemIndicadorMontoMinimo" value="{{IndicadorMontoMinimo}}" />
                <input type="hidden" class="hdItemTipo" value="1" />
                <input type="hidden" class="hdItemMarcaID" value="{{MarcaID}}" />
                <input type="hidden" class="hdItemPrecioUnidad" value="{{PrecioCatalogo}}" />
                <input type="hidden" class="hdItemDescripcionProd" value="{{Descripcion}}" />
                <input type="hidden" class="hdItemPagina" value="0" />
                <input type="hidden" class="hdItemDescripcionCategoria" value="{{DescripcionCategoria}}" />
                <input type="hidden" class="hdItemDescripcionMarca" value="{{DescripcionMarca}}" />
                <input type="hidden" class="hdItemDescripcionEstrategia" value="{{DescripcionEstrategia}}" />
                <input type="hidden" class="OrigenPedidoWeb" value="@Portal.Consultoras.Common.Constantes.OrigenPedidoWeb.CatalogoPersonalizadoMobilePopUp" />
            </div>
            <div style="display:none;" id="hiddenRevista">
                <input type="hidden" class="hdItemCuv" value="{{productoRevista.CUV}}" />
                <input type="hidden" class="hdItemTipoOfertaSisID" value="{{productoRevista.TipoOfertaSisID}}" />
                <input type="hidden" class="hdItemConfiguracionOfertaID" value="{{productoRevista.ConfiguracionOfertaID}}" />
                <input type="hidden" class="hdItemIndicadorMontoMinimo" value="{{productoRevista.IndicadorMontoMinimo}}" />
                <input type="hidden" class="hdItemTipo" value="1" />
                <input type="hidden" class="hdItemMarcaID" value="{{productoRevista.MarcaID}}" />
                <input type="hidden" class="hdItemPrecioUnidad" value="{{productoRevista.PrecioCatalogo}}" />
                <input type="hidden" class="hdItemDescripcionProd" value="{{productoRevista.Descripcion}}" />
                <input type="hidden" class="hdItemPagina" value="0" />
                <input type="hidden" class="hdItemDescripcionCategoria" value="{{productoRevista.DescripcionCategoria}}" />
                <input type="hidden" class="hdItemDescripcionMarca" value="{{productoRevista.DescripcionMarca}}" />
                <input type="hidden" class="hdItemDescripcionEstrategia" value="{{productoRevista.DescripcionEstrategia}}" />
                <input type="hidden" class="OrigenPedidoWeb" value="@Portal.Consultoras.Common.Constantes.OrigenPedidoWeb.CatalogoPersonalizadoMobilePopUp" />
            </div>
        </div>
        <div class="content_item_oferta">
            <div class="content_imagen_oferta">
                {{#IsNullOrEmpty UrlImagen '!='}}
                <img src="{{UrlImagen}}" alt="" />
                {{/IsNullOrEmpty}}
            </div>
            <div class="titulo_producto_oferta" id="titulo">{{Descripcion}}</div>
            <div class="sub_texto_oferta">Precio para ti: {{SimboloMoneda}} {{DecimalToStringFormat precio_revista}}</div>
            <div class="texto_ganancia_oferta" style="text-transform: uppercase;">{{TxtGanancia}}: {{SimboloMoneda}} {{DecimalToStringFormat ganancia}}</div>

            <div class="liquidacion_rango_home" data-cantidad-contenedor="">
                <a class="cantidad_menos_home"  onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)" tabindex="0"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
                <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" data-input="cantidad" tabindex="0" data-cantidad-input="revista">
                <a class="cantidad_mas_home" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)" tabindex="0"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
            </div>
            <div class="clear"></div>
            <a class="boton_Agregalo_home agregar-ofertarevista" data-cuv="revista" tabindex="0">AGRÉGALO</a>
        </div>

        {{#each lista_oObjPack as |pack|}}
        <div class="item_pack_personalizado">
            <input type="hidden" class="hdItemPackCuv" value="{{pack.cuv_pack}}" />
            <input type="hidden" class="hdItemPackValorizado" value="{{pack.valorizado}}" />
            <input type="hidden" class="hdItemPackPrecio" value="{{pack.precio_pack}}" />

            <div class="row_20">
                <div class="titulo_mobile">{{pack.nombre_pack}}</div>
                <div class="pestana_esika"></div>
                <div class="pestana_lbel"></div>
            </div>
            <div class="content_item_oferta">
                <div class="titulo_producto_oferta"><span class="texto_unidad_pack">Precio para ti: </span>{{SimboloMoneda}} {{DecimalToStringFormat pack.precio_pack}}</div>
                <div class="texto_ganancia_oferta" style="text-transform: uppercase;">{{../TxtGanancia}}: {{SimboloMoneda}} {{DecimalToStringFormat pack.ganancia_pack}}</div>
                <hr class="clear" />
                {{#each ../lista_oObjItemPack as |item|}}
                {{#if_eq pack.cuv_pack item.cuv_pack_item}}
                <div class="content_sub_items">
                    <div class="sub_imagen_oferta">
                        {{#IsNullOrEmpty item.imagen_item_pack '!='}}
                        <img src="{{item.imagen_item_pack}}" alt="" />
                        {{/IsNullOrEmpty}}

                        {{#IsNullOrEmpty item.imagen_item_pack '=='}}
                        <div style="margin: 0 auto; text-align: center;">
                            <img src="@Url.Content(ViewBag.RutaImagenNoDisponible)" alt="" style="width: 55px; height: 55px; border: 0;" />
                        </div>
                        {{/IsNullOrEmpty}}
                    </div>
                    <div class="sub_descripcion_oferta"><p><span>x{{item.cantidad_item_pack}} </span>{{item.descripcion_item_pack}}</p></div>
                </div>
                <hr class="clear" />
                {{/if_eq}}
                {{/each}}
                <br />
                <div class="liquidacion_rango_home" data-cantidad-contenedor="">
                    <a class="cantidad_menos_home" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)" tabindex="0"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
                    <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" tabindex="0" data-input="cantidad" data-cantidad-input="pack">
                    <a class="cantidad_mas_home" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)" tabindex="0"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
                </div>
                <div class="clear"></div>
                <a class="boton_Agregalo_home agregar-ofertarevista" data-cuv="pack" data-cuvadd="{{pack.cuv_pack}}" tabindex="0">AGRÉGALO</a>
            </div>
        </div>
        {{/each}}
        <div class="row_20">
            <div class="sombra_oferta">
                <div class="content_item_oferta">
                    <div class="sub_texto_oferta">
                        También puedes comprarlo <br />con el precio catálogo:
                    </div>
                    <div class="sub_texto_oferta">{{SimboloMoneda}} {{DecimalToStringFormat precio_catalogo}}</div>
                    <hr class="clear" />
                    <br />
                    <div class="liquidacion_rango_home" data-cantidad-contenedor="">
                        <a class="cantidad_menos_home" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)" tabindex="0"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
                        <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" tabindex="0" data-input="cantidad" data-cantidad-input="catalogo">
                        <a class="cantidad_mas_home" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)" tabindex="0"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
                    </div>
                    <div class="clear"></div>
                    <a class="boton_Agregalo_home agregar-ofertarevista" data-cuv="catalogo" tabindex="0">AGRÉGALO</a>
                </div>
            </div>
        </div>
    </div>
</script>
@section scripts
{
    <script type="text/javascript">
        var urlObtenerOfertaRevista = '@Url.Action("ObtenerOfertaRevista", "CatalogoPersonalizado", new { area = "" })';
        var urlObtenerProductosCatalogoPersonalizado = '@Url.Action("ObtenerProductosCatalogoPersonalizado", "CatalogoPersonalizado", new { area = "" })';
        var urlReservadoOEnHorarioRestringido = '@Url.Action("ReservadoOEnHorarioRestringido", "Pedido", new { area = "" })';
        var urlPedidoValidado = '@Url.Action("Validado", "Pedido", new { area = "Mobile" })';
        var cantidadRegistros = 12;
        var offsetRegistros = 0;
        var cargandoRegistros = false;
        var divPadreOfertaRevista;
        var tipoOrigen = '2';
        var urlFichaProductoFAV = '@Url.Action("Producto", "CatalogoPersonalizado")';
        var urlCargarFiltros = '@Url.Action("CargarFiltros", "CatalogoPersonalizado", new { area = "" })';
    </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/CatalogoPersonalizado/CatalogoPersonalizado.js")"></script>
    <script src="~/Scripts/PortalConsultoras/Mobile/CatalogoPersonalizado/bootstrap-slider.min.js"></script>

}
