
@model Portal.Consultoras.Web.Models.EstrategiaPersonalizadaModel
@using Portal.Consultoras.Web.Models
@{
    Layout = "~/Views/Shared/_MainLayoutContenedor.cshtml";

    var revistaDigital = ViewBag.revistaDigital ?? new RevistaDigitalModel();
}
@section styles{
    @System.Web.Optimization.Styles.Render("~/bundles/css/Site/ccsOfertas")
}

<div class="bc_estrategia_contenido" id="seccion-estrategia-contenido">

    @foreach (var seccion in Model.ListaSeccion)
    {
        <div data-seccion="@seccion.Codigo"
             data-campania="@seccion.CampaniaID"
             data-url="@seccion.UrlObtenerProductos"
             data-templateProducto="@seccion.TemplateProducto"
             data-tipoPresentacion="@seccion.TipoPresentacion"
             data-tipoEstrategia="@seccion.TipoEstrategia"
             data-cantidadProductos="@seccion.CantidadMostrar"
             data-OrigenPedidoWeb="@seccion.OrigenPedido"
             data-OrigenPedidoWeb-popup="@seccion.OrigenPedidoPopup"
             id="@seccion.Codigo"
             class="seccion-estrategia-contenido">
            <div data-seccion-content="" class="seccion-content-contenedor">
                @Html.Partial("~/Views/EstrategiaPersonalizada/presentacion-" + seccion.TemplatePresentacion + ".cshtml", seccion)
            </div>
            <div data-seccion-load="" class="seccion-loading-contenedor">
                <br />
                <br />
                <br />
                <br />
                Cargando @seccion.Titulo
                <br />
                <img src="@Url.Content("~/Content/Images/Loading.gif")" />
                <br />
                <br />
                <br />
                <br />
            </div>
        </div>
    }

    <div id="no-productos" class="seccion-no-productos">
        Próximamente encontrarás aquí las mejores ofertas de la siguiente campaña que te harán ganar más y obtener más ingresos.<br />
        ¡Vuelve pronto!
    </div>
</div>

<div class="bc_clearfix"></div>

@Html.Partial("~/Views/EstrategiaPersonalizada/template-producto-landing.cshtml")
@Html.Partial("~/Views/EstrategiaPersonalizada/presentacion-carrusel-previsuales-producto.cshtml")



<div class="contenedor_popup_detalleCarousel" id="popupDetalleCarousel_lanzamiento" data-popup-main=""></div>
@Html.Partial("~/Views/EstrategiaPersonalizada/template-producto-verdetalle.cshtml")

<div class="contenedor_popup_detalleCarousel" id="popupDetalleCarousel_packNuevas"></div>
@Html.Partial("~/Views/EstrategiaPersonalizada/template-producto-packnueva.cshtml")

<!-- nuevo carrusel -->
    <!-- No Suscrita - No activa -->
	<div class="lonuevo_carrusel" style="background: url(https://s3.amazonaws.com/uploads.hipchat.com/583104/5343216/ilf4s4o6bKMIp0t/banner%20de%20lanzamiento%20%231%20en%20desktop.jpg); background-color: #24303c !important;">
		<img class="logo-club" src="~/Content/Images/RevistaDigital/etiqueta-club-ganamas-dorado-independiente.svg" />
        <div class="lonuevo_carrusel_portada">
			<div class="cont">
                <div class="foto_prod" style="background: url(https://s3.amazonaws.com/uploads.hipchat.com/583104/5343216/0MpYozOzq338MEB/producto-350px.png);
                    ">
                </div>
            </div>
		</div>
		<div class="lonuevo_carrusel_info">
			<div class="cont">
			<p>PERFUME VIBRANZA </p>
			<span>Realza tu sensualidad</span>
			<a href="">¿LO QUIERES?</a>
			</div>
		</div>
		<div style="clear:both;"></div>
    </div>

<!-- Suscrita - No activa -->
<div class="lonuevo_carrusel" style="background: url(https://s3.amazonaws.com/uploads.hipchat.com/583104/5343216/ilf4s4o6bKMIp0t/banner%20de%20lanzamiento%20%231%20en%20desktop.jpg); background-color: #24303c !important;">
    <img class="logo-club" src="~/Content/Images/RevistaDigital/etiqueta-club-ganamas-dorado-independiente.svg" />
    <div class="lonuevo_carrusel_portada">
        <div class="cont">
            <div class="foto_prod" style="background: url(https://s3.amazonaws.com/uploads.hipchat.com/583104/5343216/0MpYozOzq338MEB/producto-350px.png);
                    ">
            </div>
        </div>
    </div>
    <div class="lonuevo_carrusel_info">
        <div class="cont">
            <p>PERFUME VIBRANZA </p>
            <span>Realza tu sensualidad</span>
            <span class="noti">Podrás comprar este y <b>NUEVOS PRODUCTOS ¡DESDE LA C03!</b></span>
        </div>
    </div>
    <div style="clear:both;"></div>
</div>

<!-- Suscrita - activa / no Suscrita - activa -->
<div class="lonuevo_carrusel" style="background: url(https://s3.amazonaws.com/uploads.hipchat.com/583104/5343216/ilf4s4o6bKMIp0t/banner%20de%20lanzamiento%20%231%20en%20desktop.jpg); background-color: #24303c !important;">
    <img class="logo-club logo-club-negro" src="~/Content/Images/RevistaDigital/nuevo.png" />
    <div class="lonuevo_carrusel_portada">
        <div class="cont">
            <div class="foto_prod" style="background: url(https://s3.amazonaws.com/uploads.hipchat.com/583104/5343216/0MpYozOzq338MEB/producto-350px.png);
                    ">
            </div>
        </div>
    </div>
    <div class="lonuevo_carrusel_info">
        <div class="cont">
            <p>PERFUME VIBRANZA </p>
            <span>Realza tu sensualidad</span>
            <a href="" class="negro">VER PRODUCTO</a>
        </div>
    </div>
    <div style="clear:both;"></div>
</div>
<!-- fin nuevo carrusel -->

@Html.Partial("~/Views/RevistaDigital/template-mensaje-bloqueado.cshtml", Model.MensajeProductoBloqueado)
@if (Model.MensajeProductoBloqueado2 != null)
{
    @Html.Partial("~/Views/RevistaDigital/template-mensaje-bloqueado.cshtml", Model.MensajeProductoBloqueado2)
}

<div class="flecha_scroll">
    <a href="javascript:;" title="Flecha Scroll" class="enlace_scroll"></a>
</div>

@section scripts{
<script type="text/javascript">
    var urlOfertaCargarProductos = '@Url.Action("RDObtenerProductos", "RevistaDigital", new { area = ""})';
    var urlCargarProductosHv = '@Url.Action("HVObtenerProductos", "HerramientasVenta", new { area = ""})';
    var urlLoad = '@Url.Content("~/Content/Images/loading_spinner.gif")';
    var urlOfertaDetalleProducto = '@Url.Action("Detalle", "RevistaDigital")';
    var urlOfertaDetalleProductoTem = '@Url.Action("GuardarProductoTemporal", "RevistaDigital")';
    var urlOfertaDetalleProductoLan = '@Url.Action("Detalle", "Lanzamientos")';
    var urlOfertaDetalleProductoLanTem = '@Url.Action("GuardarProductoTemporal", "Lanzamientos")';
    var isScroll = false;
    var tipoOrigenPantalla = 1;
    var TipoOrigenPantallaODD = 111;
    var tipoOrigenEstrategia = 107;
    var OrigenDesktopODD = 3;
    var revistaDigital= @Html.Raw(Json.Encode(revistaDigital));
</script>

    @System.Web.Optimization.Scripts.Render("~/bundles/JsSB2-Ofertas")

}
