@using System.Configuration
@using Portal.Consultoras.Common


@model Portal.Consultoras.Web.Models.EstrategiaPersonalizadaModel
@{
    Layout = "~/Views/Shared/_MainLayoutContenedor.cshtml";
}
@section styles{
    <link href="@Url.Content("~/Content/Css/Site/slick-pedido.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Css/Site/flexslider.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/Site/Esika/revistaDigital.css")" rel="stylesheet" type="text/css" />
}


<div class="op_esika-para-mi-contenido">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates ullam asperiores dolorum eos deleniti distinctio. Voluptatem consectetur asperiores, commodi aperiam, soluta rerum nulla nam enim harum necessitatibus natus praesentium esse.
</div>
<div class="bc_clearfix"></div>

@Html.Partial("~/Views/EstrategiaPersonalizada/template-producto-landing.cshtml")
@Html.Partial("~/Views/EstrategiaPersonalizada/presentacion-carrusel-previsuales-producto.cshtml")


@section scripts{
    <script type="text/javascript">
        var urlLoad = '@Url.Content("~/Content/Images/loading_spinner.gif")';
    </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.flexslider.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/slick.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/EstrategiaPersonalizada/Index.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/EstrategiaPersonalizada/EstrategiaAccion.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/EstrategiaPersonalizada/LocalStorage.js")"></script>
    <script>
           /* $('.op_esika-para-mi .op_menu-horizontal ul li a').hover(function (e) {
                $(this).find('img.default').css('display', 'none');
                $(this).find('img.hover').css('display', 'inline');
                $(this).find('img.hover').css('margin-right', '5px');
            }, function (e) {
                $(this).find('img.default').css('display', 'inline');
                $(this).find('img.default').css('margin-right', '5px');
                $(this).find('img.hover').css('display', 'none');
            });*/
    </script>

    <script>
            $('.op_esika-menu ul li a').hover(function (e) {
                $(this).find('p').css('font-weight', 'bolder');

                /*$(this).find('span').css('color', '#333');*/
            }, function (e) {
                $(this).find('p').css('font-weight', 'normal');

                /*$(this).find('span').css('color', '#888888');*/
            });
    </script>

    <script>
            $(function () {
                $('.op_esika-menu ul').hide();
                $('.op_esika-menu ul:first').show();
                $('.op_esika-para-mi .op_menu-horizontal ul li').on('click', function () {
                    $('.op_esika-menu ul').hide();
                    var activeTab = $(this).find('a').attr('attr-modal');
                    $(activeTab).show();
                    return false;
                });
            })
    </script>
}