@using Portal.Consultoras.Web.Models
@model EstrategiaPersonalizadaModel

@{
    Layout = "~/Views/Shared/_MainLayoutContenedor.cshtml";
}
@section styles{
    @System.Web.Optimization.Styles.Render("~/bundles/css/Site/ccsOfertas")
    <link href="@Url.Content("~/Content/Css/Site/Contenedor/OfertaDelDia.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Css/Site/Ficha/Ficha.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Css/Site/Ficha/Carrusel.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Css/Site/Ficha/RedesSociales.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Css/Site/ProductoListado/CajaProducto.css")" rel="stylesheet" />
}

<div class="bc_estrategia_contenido" id="seccion-estrategia-contenido">

    @foreach (var seccion in Model.ListaSeccion)
    {
        <div data-seccion="@seccion.Codigo"
             data-campania="@seccion.CampaniaID"
             data-url="@seccion.UrlObtenerProductos"
             data-templateProducto="@seccion.TemplateProducto"
             data-tipoPresentacion="@seccion.TipoPresentacion"
             data-tipoEstrategia="@seccion.TipoEstrategia"
             data-cantidadProductos="@seccion.CantidadMostrar"
             data-OrigenPedidoWeb="@seccion.OrigenPedido"
             data-OrigenPedidoWeb-popup="@seccion.OrigenPedidoPopup"
             id="@seccion.Codigo"
             class="seccion-estrategia-contenido">
            <div data-seccion-content="" class="seccion-content-contenedor">
                @Html.Partial("~/Views/EstrategiaPersonalizada/presentacion-" + seccion.TemplatePresentacion + ".cshtml", seccion)
            </div>
            <div data-seccion-load="" class="seccion-loading-contenedor">
                <br />
                <br />
                <br />
                <br />
                Cargando @seccion.Titulo
                <br />
                <img src="@Url.Content("~/Content/Images/Loading.gif")" alt="....." />
                <br />
                <br />
                <br />
                <br />
            </div>
        </div>
    }

    <div id="no-productos" class="seccion-no-productos">
        Próximamente encontrarás aquí las mejores ofertas de la siguiente campaña que te harán ganar más y obtener más ingresos.<br />
        ¡Vuelve pronto!
    </div>
</div>

<div class="bc_clearfix"></div>

@Html.Partial("~/Views/EstrategiaPersonalizada/template-producto-landing.cshtml")
@Html.Partial("~/Views/EstrategiaPersonalizada/presentacion-carrusel-previsuales-producto.cshtml")



<div class="contenedor_popup_detalleCarousel" id="popupDetalleCarousel_lanzamiento" data-popup-main=""></div>
@Html.Partial("~/Views/EstrategiaPersonalizada/template-producto-verdetalle.cshtml")

<div class="contenedor_popup_detalleCarousel" id="popupDetalleCarousel_packNuevas"></div>
@Html.Partial("~/Views/EstrategiaPersonalizada/template-producto-packnueva.cshtml")



@Html.Partial("~/Views/RevistaDigital/template-mensaje-bloqueado.cshtml", Model.MensajeProductoBloqueado)
@if (Model.MensajeProductoBloqueado2 != null)
{
    @Html.Partial("~/Views/RevistaDigital/template-mensaje-bloqueado.cshtml", Model.MensajeProductoBloqueado2)
}

<div class="flecha_scroll">
    <a href="javascript:;" title="Flecha Scroll" class="enlace_scroll"></a>
</div>

@section scripts{
    <script type="text/javascript">
    var urlOfertaCargarProductos = '@Url.Action("RDObtenerProductos", "Estrategia", new { area = ""})';
    var urlCargarProductosHv = '@Url.Action("HVObtenerProductos", "Estrategia", new { area = ""})';
    var urlLoad = '@Url.Content("~/Content/Images/loading_spinner.gif")';
    var urlOfertaDetalleProducto = '@Url.Action("Detalle", "RevistaDigital")';
    var urlOfertaDetalleProductoTem = '@Url.Action("GuardarProductoTemporal", "Estrategia", new { area = "" })';
    //var urlOfertaDetalleProductoLan = '@Url.Action("Detalle", "Lanzamientos")';
    var urlOfertaDetalleProductoLan = '@Url.Action("Ficha", "DetalleEstrategia")';
    var isScroll = false;
    var tipoOrigenPantalla = 1;
    var TipoOrigenPantallaODD = 111;
    var tipoOrigenEstrategia = 107;
    var OrigenDesktopODD = 3;
    var variableEstrategia = @Html.Raw(Json.Encode(ViewBag.variableEstrategia)) || {};
</script>
    @System.Web.Optimization.Scripts.Render("~/bundles/JsSB2-Ofertas")
}
