@using System.Configuration
@using Portal.Consultoras.Common


@model Portal.Consultoras.Web.Models.EstrategiaPersonalizadaModel
@{
    Layout = "~/Views/Shared/_MainLayoutContenedor.cshtml";
}
@section styles{
    <link href="@Url.Content("~/Content/Css/Site/slick-pedido.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Css/Site/flexslider.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/Site/Esika/revistaDigital.css")" rel="stylesheet" type="text/css" />
}

<div class="bc_estrategia_contenido">
    @foreach (var seccion in Model.ListaSeccion)
    {
        <div data-seccion="@seccion.Codigo" data-campania="@seccion.CampaniaID">
            <div data-seccion-content="">
                @Html.Partial("~/Views/EstrategiaPersonalizada/presentacion-" + seccion.TemplatePresentacion + ".cshtml", seccion)
            </div>
            <div data-seccion-load=""></div>
            <div class="bc_vineta_baja">
                <img src="@Url.Content("~/Content/Images/RevistaDigital/Vector.png")" alt="">
            </div>
        </div>
    }
</div>

@*<div class="op_esika-para-mi-contenido">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates ullam asperiores dolorum eos deleniti distinctio. Voluptatem consectetur asperiores, commodi aperiam, soluta rerum nulla nam enim harum necessitatibus natus praesentium esse.
</div>*@
<div class="bc_clearfix"></div>

@Html.Partial("~/Views/EstrategiaPersonalizada/template-producto-landing.cshtml")
@Html.Partial("~/Views/EstrategiaPersonalizada/presentacion-carrusel-previsuales-producto.cshtml")


@section scripts{
    <script type="text/javascript">
        var urlOfertaCargarProductos = '@Url.Action("RDObtenerProductos", "RevistaDigital", new { area = ""})';
        var urlLoad = '@Url.Content("~/Content/Images/loading_spinner.gif")';
        var isScroll = false;
    </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.flexslider.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/slick.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/EstrategiaPersonalizada/EstrategiaAccion.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/EstrategiaPersonalizada/LocalStorage.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/RevistaDigital/RevistaDigital-Landing.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/RevistaDigital/RevistaDigital.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/EstrategiaPersonalizada/Index.js")"></script>

    <script>
        $('.bc_menu_estrategia .op_menu-horizontal ul li a').on('click', function () {
            $('.bc_menu_estrategia .op_menu-horizontal ul li a').removeClass('activo-menu-estrategia');
    $(this).addClass('activo-menu-estrategia');
        });
    </script>
}
