@using System.Web.Optimization
@using Portal.Consultoras.Common
@model Portal.Consultoras.Web.Models.EstrategiaOutModel

@{
                /**/

                ViewBag.Title = "Detalle Oferta";
                Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@Styles.Render("~/Bundle/Css/Desktop/EstrategiaProducto-DetalleProducto")
@section styles{
    <style>
        .SubHeader {
            display: none;
        }
    </style>
}
<div id="contenedor-detalle-producto"></div>
<hr class="clear" />
@{Html.RenderPartial("MasVendidosDP");}
<div class="section_comentarios">
    <div class="content_belcorp">
        <div class="titulo_principal_comentarios">COMENTARIOS</div>
        <div style="text-align:center;"><div id="star_promedio_valorizado" class="rateyo-readonly-comentarios"></div></div>
        <div id="texto1_recomiendan" class="subtexto_comentario">95% de personas lo recomiendan (295 de 364)</div>
        <div class="content_filtros_bestSeller">
            <select id="ddlFiltro" class="select_bestSeller">
                <option value="2">NUEVOS</option>
                <option value="1">ANTIGUOS</option>
            </select>
            <div class="texto_filtros_bestSeller">ORDENAR POR</div>
        </div>
        <a name="ComentariosUsuarios"></a>
        <div class="contentAgregarComentarios">
            <div class="texto_agregarComentarios">AGREGA TU COMENTARIO</div>
            <div class="contentValoracion">
                <div class="titulo_principal_comentarios">¡VALORAMOS TU OPINIÓN!</div>
                <div class="subtitulo_comentarios">Cuéntanos tu experiencia con este producto</div>
                <div class="content_detalle_puntuacion">
                    Evalúa el Producto
                    <div class="rateyo-puntuacion-seccion-comentario"></div><br />
                    ¿Lo recomiendas?
                    <div>
                        <a class="respuesta_pregunta" id="btnRecomendar">SI</a>
                        <a class="respuesta_pregunta" id="btnNoRecomendar">NO</a>
                        <input type="hidden" id="hdRecomendado" value="" />
                    </div>
                </div>
                <div class="content_detalle_comentarios">
                    <textarea type="text" class="texto_comentario_usuario" id="txtComentario" placeholder="Escribe un comentario sobre el producto" maxlength="400"> </textarea>
                    <a class="enviar_comentario_Seller" disabled="disabled">ENVIAR COMENTARIO</a>
                    <a class="cancelar_comentario">CANCELAR</a>
                </div>
                <hr class="clear" />
            </div>
            <div class="content_confirmacion_comentario">
                <div class="icono_check_comentario"></div>
                <div class="titulo_principal_comentarios extra_titulo">¡TU COMENTARIO SE ENVIÓ CON ÉXITO!</div>
                <div class="subtexto_comentario" style="font-size:14px;">¡Gracias por tu comentario! Revisaremos su contenido para publicarlo en nuestra página</div>
                <a class="btn_cerrar_comentario">CERRAR</a>
            </div>
        </div>

        <div id="contenedorComentarios">
        </div>
    </div>
</div>
<script id="template-detalle-producto" type="text/x-handlebars-template">
    <div>
        <div class="fondo_set_best_seller">
            <div class="content_belcorp" data-popup-body="" data-item="">
                <div class="content_solo_ficha_set" data-OrigenPedidoWeb="@Constantes.OrigenPedidoWeb.MasVendidosDesktopProductPageFicha" data-tipoestrategiaimagenmostrar="{{TipoEstrategiaImagenMostrar}}" data-cuv="">
                    <div data-compartir-campos="" style="display:none;">
                        <input type="hidden" class="CUV" value="{{CUV2}}" />
                        <input type="hidden" class="rsFBMensaje" value="" />
                        <input type="hidden" class="rsWAMensaje" value="" />
                        <input type="hidden" class="rsFBRutaImagen" value="{{ImgUrl FotoProducto01}}" />
                        <input type="hidden" class="rsWARutaImagen" value="{{ImgUrl FotoProducto01}}" />
                        <input type="hidden" class="MarcaID" value="{{MarcaID}}" />
                        <input type="hidden" class="MarcaNombre" value="{{DescripcionMarca}}" />
                        <input type="hidden" class="Nombre" value="{{DescripcionCUV2}}" />
                        <input type="hidden" class="ProductoDescripcion" value="{{DescripcionComercial}}" />
                        <input type="hidden" class="Volumen" value="{{Volumen}}" />
                        <input type="hidden" class="Palanca" value="BS" />
                        <input type="hidden" id="hdTipoEstrategiaID" value="{{TipoEstrategiaID}}" />
                    </div>
                    <div data-estrategia="{{CodigoEstrategia}}"></div>
                    <div class="content_producto_set_best_seller">
                        <div>
                            <img src={{ImgUrl FotoProducto01}} class="imagen_producto_best_seller imagen_producto">
                        </div>

                        <div class="compartir_redes_ficha" style="padding-left: 0px; margin-top: 20px;">
                            <div class="texto_compartelo">Compártelo con tus clientes</div>
                            <a class="btn_compartir_facebook_ficha" style="float: left;" href="javascript: void(0);" data-compartir="FB">
                                <img src="/Content/Images/Mobile/Esika/facebook2.png">
                            </a>
                            <hr class="clear">
                        </div>
                        <hr class="clear">
                    </div>
                    <div class="content_detalle_set">
                        <div class="content_left_ficha" style="width: 63%;">
                            <div class="producto_best_detalle">{{DescripcionMarca}}</div>
                            <div class="titulo_set">{{DescripcionCUV2}}</div>
                        </div>
                        <div class="content_right_ficha" style="text-align: right; width: 35%;">
                            <div class="precio_valorizado_showroom" id="precio-tachado-{{EstrategiaID}}">{{SimboloMoneda}} {{PrecioTachado}}</div>
                            <div class="precio_oferta_venta">
                                Precio para ti <b>{{SimboloMoneda}} {{PrecioString}}</b>
                            </div>

                            <div class="ganancia_showroom" id="precio-gana-{{EstrategiaID}}">Gana {{SimboloMoneda}} {{GananciaString}}</div>
                        </div>
                        <hr class="clear">
                        <div class="content_puntuacion_detalle">
                            <div class="rateyo-readonly-widg" id="star-{{EstrategiaID}}"></div>
                            <a href="#ComentariosUsuarios" class="texto_puntuacion_detalle" id="recommendation-{{EstrategiaID}}"></a>
                        </div>

                        <div class="comentarios_best_seller_ficha">
                            <div id="last-commentary-{{EstrategiaID}}">
                                <br />
                            </div>
                            <div id="consultant-commentary-{{EstrategiaID}}">- Sandra A.</div>
                        </div>
                        <div class="liquidacion_rango_home" data-cantidad-contenedor="">
                            <input type="text" value="1" size="2" maxlength="2" class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" data-input="cantidad" data-cantidad-input="-">
                            <div class="liquidacion_rango_right_pedido">
                                <a class="mas" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)" data-cantidad-agregar="+"><img src="/Content/Images/Esika/mas.png" alt=""></a>
                                <a class="menos" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)" data-cantidad-agregar="-"><img src="/Content/Images/Esika/menos.png" alt=""></a>
                            </div>
                        </div>
                        <a class="boton_Agregalo_home btn_aregar_set" data-btn-agregar-sr="" onclick="javascript:CargarProductoDestacado({ EstrategiaID: '{{EstrategiaID}}' , TipoEstrategiaID: '{{TipoEstrategiaID}}' , Posicion: {{Posicion}} , FlagNueva: '{{FlagNueva}}' }, this, true);">AGRÉGALO</a>
                    </div>

                </div>
                <hr class="clear">
            </div>
        </div>
    </div>
</script>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.content_carrusel_best.slick-initialized').slick('unslick');
            $('.content_carrusel_best').not('.slick-initialized').slick({
                slidesToShow: 4,
                dots: false,
                vertical: false,
                infinite: true,
                speed: 300,
                centerPadding: '0px',
                centerMode: true,
                slidesToScroll: 1,
                variableWidth: false,
                prevArrow: '<a class="previous_ofertas js-slick-prev" style="display: block;left: -5%; text-align:left; top:10%;"><img src="' + baseUrl + 'Content/Images/Esika/previous_ofertas_home.png")" alt="" /></a>',
                nextArrow: '<a class="previous_ofertas js-slick-next" style="display: block;right: -5%; text-align:right; top:10%;"><img src="' + baseUrl + 'Content/Images/Esika/next.png")" alt="" /></a>',
            });
        });
        $(function () {
            var rating = 1.6;
            $(".rateyo-readonly-widg").rateYo({
                rating: rating,
                precision: 2,
                minValue: 1,
                maxValue: 5,
                starWidth: "17px",
                readOnly: true
            })
            $(".puntuacion_usuario_visible").rateYo({
                rating: 4,
                precision: 2,
                minValue: 1,
                maxValue: 5,
                starWidth: "19px",
                spacing: "5px",
                readOnly: true
            })
        });
        $(document).ready(function () {
            bestSellerCommentModule.ini({
                urlListarComentarios: '@Url.Action("ListarComentarios", "EstrategiaProductoComentario")',
                urlRegistrarComentario: '@Url.Action("RegistrarComentario", "EstrategiaProductoComentario")',
                urlImagenUsuarioDefault: '@Url.Content("~/Content/Images/Esika/user.jpg")',
                origenPantalla: 1
            });
            masVendidosModule.ini({
                baseUrl: baseUrl,
                urlDetalleProducto :'@Url.Action("DetalleProducto", "EstrategiaProducto")'
            });
        });
    </script>

    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/Desktop/EstrategiaProducto-DetalleProducto")

    <script type="text/javascript">
        var tipoOrigenEstrategia = 1;
        var tieneMasVendidos = 1;
        var tipoOrigenPantalla = 1;
    </script>
}