@model Portal.Consultoras.Web.Models.AdministrarLugaresPagoModel
@{
    ViewBag.Title = "Administrar Lugares de Pago";
}
<script src="@Url.Content("~/Scripts/fileuploader.js")" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/jquery.form.js"></script>
<script type="text/ecmascript">
    var isoPAIS = "";
    jQuery(document).ready(function () {
        $(".qq-upload-list").css("display", "none");
        IniDialogRegistroLugaresPago();

        $("#ddlPais").change(function () {
            var Id = $(this).val();
            if (Id != "") {
                waitingDialog({});
                $.ajaxSetup({ cache: false });
                $.getJSON(baseUrl + 'OfertaNueva/ObtenerISOPais', { paisID: Id }, function (data) {
                    isoPAIS = data.ISO;
                    closeWaitingDialog();
                });
                jQuery("#gvwLugaresPago").jqGrid("clearGridData");
            } else {
                jQuery("#gvwLugaresPago").jqGrid("clearGridData");
            }
        });

        $("#btnBuscar").click(function () {

            if ($("#ddlPais").val() == "") {
                alert("Debe seleccionar un País, verifique");
                return false;
            }

            fnGrilla();
        });

        $('#frmLugarPago').ajaxForm({
            beforeSubmit: function () {

                var message = '';

                if (jQuery.trim($('#ddlPaisDialogo').val()) == "")
                    message += "- Debe seleccionar un País.\n";

                if (jQuery.trim($('#Nombre').val()) == "")
                    message += "- Debe ingresar el Nombre.\n";

                if (jQuery.trim($('#UrlSitio').val()) == "")
                    message += "- Debe ingresar el Site.\n";

                if (jQuery.trim($('#ArchivoLogo').val()) == "")
                    message += "- Debe adjuntar una imagen de Logo.\n";

                if (message != "") {
                    alert(message);
                    return false;
                }

                if (jQuery('#LugarPagoID').val() == "0")
                    jQuery('#PaisID').val(jQuery('#ddlPaisDialogo').val());

                if (message.length > 0) {
                    alert(message);
                    return false;
                }
            },
            success: fnRespuestaLugarPago,
            debug:true
        });

        function fnRespuestaLugarPago(responseText, statusText, xhr, $form) {

            if (checkTimeout(responseText)) {
                $("#gvwLugaresPago").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');

    if(responseText.posicion==-1)
    {
    alert('La posición ingresada ya existe, ingrese una diferente');
    return false;
    }

               else if (responseText && typeof responseText === "string") {
                    alert($.parseJSON(responseText).message);
                } else {
                    alert(responseText.message);
                }
                HideDialog("DialogRegistroLugaresPago");
            }
        }
    });

    function IniDialogRegistroLugaresPago() {
        $('#DialogRegistroLugaresPago').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 900,
            draggable: true,
            title: "Actualización de Lugar de Pago",
            buttons:
            {
                "Guardar": function () {
                    var vMessage = "";
                    $('#frmLugarPago').submit();

                },
                "Cerrar": function () {
                    HideDialog("DialogRegistroLugaresPago");
                }
            }
        });
    }

    function MostrarDialogo() {
        showDialog("DialogRegistroLugaresPago");
    }

    function fnGrilla() {

        jQuery("#gvwLugaresPago").jqGrid({
            url: baseUrl + "AdministrarLugaresPago/Consultar",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                vpaisID: function () { return $("#ddlPais").val() }
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
colNames: ['LugarPagoID', 'PaisID', 'ArchivoLogo', 'Lugar', 'Url del Site', 'Logo', 'Url del Instructivo','UrlSitioOculto', 'ArchivoInstructivoOculto','Texto Pago','Posición', 'Opcion'],
colModel: [
{ name: 'LugarPagoID', index: 'LugarPagoID', width: 0, editable: true, resizable: false, hidden: true },
{ name: 'PaisID', index: 'PaisID', width: 0, editable: true, resizable: false, hidden: true },
{ name: 'ArchivoLogo', index: 'ArchivoLogo', width: 0, editable: true, resizable: false, hidden: true },

{ name: 'Lugar', index: 'Lugar', width: 20, editable: true, resizable: false },
{ name: 'UrlSitio', index: 'UrlSitio', width: 25, editable: true, resizable: false, formatter: ShowUrl },
{ name: 'Imagen', index: 'Imagen', width: 22, editable: true, sortable: false, align: 'center', resizable: false, formatter: ShowImage },
{ name: 'ArchivoInstructivo', index: 'ArchivoInstructivo', width: 30, editable: true, resizable: false, formatter: ShowFile },
{ name: 'UrlSitioOculto', index: 'UrlSitioOculto', width: 25, editable: true, resizable: false, hidden: true },
{ name: 'ArchivoInstructivoOculto', index: 'ArchivoInstructivoOculto', width: 30, editable: true, resizable: false, hidden: true },
{ name: 'TextoPago', index: 'TextoPago', width: 30, editable: true, resizable: false  },
{ name: 'Posicion', index: 'Posicion', width: 10, editable: true, resizable: false  },
{ name: 'Activo', index: 'Activo', width: 10, editable: true, sortable: false, align: 'center', resizable: false, formatter: ShowActions },





            ],
            jsonReader:
                {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: true,
                    cell: "cell",
                    id: "id",
                    ISOPais: 'ISOPais'
                },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50,60],
            sortname: 'Lugar',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 930,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function (data) { isoPAIS = data.ISOPais; },
            gridComplete: function () { }
        });
        jQuery("#gvwLugaresPago").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#gvwLugaresPago").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');

        function ShowActions(cellvalue, options, rowObject) {
            var cellValueInt = parseInt(cellvalue);
            var Edit = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#gvwLugaresPago').Editar('" + rowObject[0] + "');\" >" + "<img src='@Url.Content("~/Content/Images/Edit.png")' alt='Editar Lugar de Pago' title='Editar Lugar de Pago' border='0' /></a>";
            var Del = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#gvwLugaresPago').Eliminar('" + rowObject[0] + "');\" >" + "<img src='@Url.Content("~/Content/Images/Delete.png")' alt='Eliminar Lugar de Pago' title='Eliminar Lugar de Pago' border='0' /></a>";

            return Edit + Del;
        };

        function ShowImage(cellvalue, options, rowObject) {

            var image = "";
            if (rowObject[2] !== "")
                image = '<img src="' + rowObject[2] + '" alt="" width="160px" height="60px" title="" border="0" />';
            else
                image = '<img src="@Url.Content("~/Content/Images/prod_grilla_vacio.png")" alt="" width="60px" height="60px" title="" border="0" />';
            return image;
        };

        function ShowUrl(cellvalue, options, rowObject) {

            var contenido = cellvalue;
            var valorParcial = cellvalue.substring(0, 15);
            if (cellvalue.length > 15) {
                contenido = valorParcial + "&nbsp;<a href='javascript:;' onclick=\"VerMas(this,'" + cellvalue + "','" + valorParcial + "');\" > ...Ver mas" + "</a>";
            }
            return contenido;
        };

        function ShowFile(cellvalue, options, rowObject) {

            var contenido = cellvalue;
            var valorParcial = cellvalue.substring(0, 20);
            if (cellvalue.length > 20) {
                contenido = valorParcial + "&nbsp;<a href='javascript:;' onclick=\"VerMas(this,'" + cellvalue + "','" + valorParcial + "');\" > ...Ver mas" + "</a>";
            }
            return contenido;
        };
    }

    $.jgrid.extend({
        Editar: function (Id) {

            if (Id) {
                $('#LugarPagoID').val(Id);
                $('#PaisID').val(jQuery("#gvwLugaresPago").jqGrid('getCell', Id, 'PaisID'));
                $('#ddlPaisDialogo').val(jQuery("#gvwLugaresPago").jqGrid('getCell', Id, 'PaisID'));
                $('#Nombre').val(jQuery("#gvwLugaresPago").jqGrid('getCell', Id, 'Lugar'));

    $('#UrlSitio').val(jQuery("#gvwLugaresPago").jqGrid('getCell', Id, 'UrlSitioOculto'));
                $('#ArchivoLogo').val($("#gvwLugaresPago").jqGrid('getCell', Id, 'ArchivoLogo'));
                $('#ArchivoLogoAnterior').val($("#gvwLugaresPago").jqGrid('getCell', Id, 'ArchivoLogo'));

                if ($.trim($("#ArchivoLogo").val()) != "") {
                    $('#imgPreviaLogo').attr('src', $("#ArchivoLogo").val());

                    var img01 = $('#ArchivoLogo').val().replace(/^.*[\\\/]/, '');
                    if (img01.lastIndexOf("?") >= 0) {
                        img01 = img01.substring(0, img01.lastIndexOf("?"));
                        $('#ArchivoLogo').val(img01);
                    }

                    img01 = $('#ArchivoLogoAnterior').val().replace(/^.*[\\\/]/, '');
                    if (img01.lastIndexOf("?") >= 0) {
                        img01 = img01.substring(0, img01.lastIndexOf("?"));
                        $('#ArchivoLogoAnterior').val(img01);
                    }
                }
    $('#TextoPago').val(jQuery("#gvwLugaresPago").jqGrid('getCell', Id, 'TextoPago'));
     $('#Posicion').val(jQuery("#gvwLugaresPago").jqGrid('getCell', Id, 'Posicion'));
                $('#ArchivoInstructivo').val(jQuery("#gvwLugaresPago").jqGrid('getCell', Id, 'ArchivoInstructivoOculto'));


                $('#ddlPaisDialogo').prop('disabled', 'disabled');
                showDialog("DialogRegistroLugaresPago");
            } else {
                alert("No selecciono el Lugar de Pago");
            }
            return false;
        },
        Eliminar: function (Id) {
            var elimina = confirm('¿ Está seguro que desea eliminar el registro seleccionado ?');
            if (!elimina)
                return false;
            waitingDialog({});
            jQuery.ajax({
                type: 'POST',
                url: baseUrl + 'AdministrarLugaresPago/Eliminar',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ LugarPagoID: Id }),
                async: true,
                success: function (data) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        limpiarPopup();
                        if (data.success == true) {
                            alert(data.message);
                            jQuery("#gvwLugaresPago").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                        }
                        else
                            alert(data.message);
                    }
                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        alert("ERROR");
                    }
                }
            });
            return false;
        }
    });

    function VerMas(object, ValorCompleto, ValorParcial) {

        var td = object.parentElement;
        td.innerHTML = ValorCompleto + "&nbsp;<a href='javascript:;' onclick=\"VerMenos(this,'" + ValorCompleto + "','" + ValorParcial + "');\" > ...Ver menos" + "</a>";
        return false;
    }

    function VerMenos(object, ValorCompleto, ValorParcial) {

        var td = object.parentElement;
        td.innerHTML = ValorParcial + "&nbsp;<a href='javascript:;' onclick=\"VerMas(this,'" + ValorCompleto + "','" + ValorParcial + "');\" > ...Ver mas" + "</a>";
        return false;
    }

    function MostrarPopup() {
        var ddlPais = $("#ddlPais");
        if (ddlPais.val() == "") {
            alert("Para ingresar un nuevo registro primero debe seleccionar un País.");
            return false;
        }

        limpiarPopup();
        MostrarDialogo();
    }

    function limpiarPopup() {

        $('#PaisID').val("");
        $('#ddlPaisDialogo').prop('disabled', false);
        $('#ddlPaisDialogo')[0].selectedIndex = 0;
        $('#Nombre').val("");
        $('#TextoPago').val("");
        $('#Posicion').val("");
        $('#UrlSitio').val("");
        $('#imgPreviaLogo').attr('src', '@Url.Content("~/Content/Images/prod_grilla_vacio.png")');
        $('#ArchivoLogo').val("");
        $('#ArchivoInstructivo').val("");
        $('#LugarPagoID').val("0");
    }



     $(function () {
        $('#Posicion').keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });
    });


</script>

<div class="wrap_cab">
    <div class="filtros">
        <div class="elements">
            <div class="div-2">
                <h1>Administrar <span>Lugares de Pago</span></h1>
            </div>
            <div class="div-3">
                <div class="titG">País:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais" })
                </div>
                <div class="input_search">
                    <input type="button" value="Buscar" id="btnBuscar" name="btnBuscar">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper">
            <table id="gvwLugaresPago"></table>
            <div id="pager"></div>
        </div>
        <div class="div-3">
            <div class="titAuto">
                <div class="input_search">
                    <input type="button" name="btnNuevo" id="btnNuevo" value="Nuevo" onclick="javascript: MostrarPopup();" />
                </div>
            </div>
        </div>
    </div>
</div>
<div id="loadingScreen"></div>

<div id="DialogRegistroLugaresPago" style="display: none;">
    @using (Html.BeginForm("Mantener", "AdministrarLugaresPago", FormMethod.Post, new { id = "frmLugarPago", enctype = "multipart/form-data" }))
    {
        <div class="Content_modal">
            @Html.Hidden("LugarPagoID")
            @Html.Hidden("PaisID")
            <div class="div-3">
                <div class="titB">País:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPaisDialogo" })
                </div>
                <div class="titG">Lugar:</div>
                <div class="selectA borde_redondeado">
                    @Html.TextBox("Nombre", null, new { maxlength = 80 })
                </div>
            </div>

            <div class="div-3">
                <div class="titB">Logo:</div>
                <div class="selectA borde_redondeado aligncenter" style="height: 100px;">
                    <img src='@Url.Content("~/Content/Images/prod_grilla_vacio.png")' id="imgPreviaLogo" />
                </div>
                <div style="float: left; width: 424px;">
                    <div class="div-3">
                        <div class="titG">Url de Site:</div>
                        <div class="selectA borde_redondeado">
                            @Html.TextBox("UrlSitio", null, new { maxlength = 1000 })
                        </div>
                    </div>
                    <div class="div-3">
                        <div class="titG">Url Instructivo:</div>
                        <div class="selectA borde_redondeado">
                            @Html.TextBox("ArchivoInstructivo", null, new { maxlength = 3000 })
                        </div>
                    </div>
                    <div class="div-3">
                        <div class="titG">TextoPago:</div>
                        <div class="selectA borde_redondeado">
                            @Html.TextBox("TextoPago", null, new { maxlength = 100 })
                        </div>
                    </div> 
                    <div class="div-3">
                        <div class="titG">Posición:</div>
                        <div class="selectA borde_redondeado">
                            @Html.TextBox("Posicion", null, new { maxlength = 2 })
                        </div>
                    </div> 
                </div>
            </div>
            <div class="div-3">
                <div class="titB"></div>
                <div class="input_search">
                    <input type="hidden" id="ArchivoLogo" name="ArchivoLogo" />
                    <input type="hidden" id="ArchivoLogoAnterior" name="ArchivoLogoAnterior" />
                    <div id="fpUpload">
                        <script type="text/javascript">
                            var uploader = new qq.FileUploader({
                                allowedExtensions: ['jpg', 'png', 'jpeg'],
                                element: document.getElementById('fpUpload'),
                                action: '@Url.Action("ImageLugaresPagoUpload", "FileUpload")',
                                onComplete: function (id, fileName, responseJSON) {

                                    if (checkTimeout(responseJSON)) {
                                        $(".qq-upload-list").css("display", "none");
                                        if (responseJSON.success) {
                                            $("#ArchivoLogo").val(responseJSON.name);
                                            $('#imgPreviaLogo').attr('src', '@Url.Content("~/Content/Temporales/")' + responseJSON.name);
                                        }
                                        else {
                                            alert(responseJSON.message);
                                        }
                                    }
                                },
                                onSubmit: function (id, fileName) { $(".qq-upload-list").css("display", "none"); },
                                onProgress: function (id, fileName, loaded, total) { $(".qq-upload-list").css("display", "none"); },
                                onCancel: function (id, fileName) { $(".qq-upload-list").css("display", "none"); }
                            });
                        </script>
                    </div>
                </div>
            </div>
            @Html.ValidationSummary(null, new { @class = "validation-error-server", @id = "divMensaje" })
        </div>
    }
</div>
