@using Portal.Consultoras.Web.Models
@using Portal.Consultoras.Common
@model Portal.Consultoras.Web.Models.EditarDireccionModel
@* Template para Perú *@

<div class="div-3">
   
    <div class="selectP2 seleccion_pagina textboxSB2">
        @Html.DropDownListFor(m => Model.LugarNivel1, Model.LugaresNivel1, @Dictionaries.LabelLugar1[Model.CodigoPais], new { @class = "field_85 textboxSB" })
    </div>
</div>
<div class="div-3">
    <div class="validation_clear"></div>
    <div class="validation">
        @Html.ValidationMessageFor(m => Model.LugarNivel1)
    </div>
</div>
<div class="div-3">
    
    <div class="selectP2 seleccion_pagina textboxSB2">
        @Html.DropDownListFor(m => Model.LugarNivel2, new List<SelectListItem>(), Dictionaries.LabelLugar2[Model.CodigoPais], new { @class = "field_85 textboxSB" })
    </div>
</div>
<div class="div-3">
    <div class="validation_clear"></div>
    <div class="validation">
        @Html.ValidationMessageFor(m => Model.LugarNivel2)
    </div>
</div>
<div class="div-3">
   

    <div class="selectP2 seleccion_pagina textboxSB2">
       @Html.DropDownListFor(m => Model.LugarNivel3, new List<SelectListItem>(), Dictionaries.LabelLugar3[Model.CodigoPais], new { @class = "field_85 textboxSB" })
    </div>

</div>
<div class="div-3">
    <div class="validation_clear"></div>
    <div class="validation">
        @Html.ValidationMessageFor(m => Model.LugarNivel3)
    </div>
</div>
<div class="div-3" id="centroPoblado">
    

    <div class="selectP2 seleccion_pagina textboxSB2">
        @Html.DropDownListFor(m => Model.LugarNivel4, new List<SelectListItem>(), "-- Seleccionar --", new { @class = "field_85 textboxSB" })
    </div>

</div>
<div class="div-3">
    <div class="validation_clear"></div>
    <div class="validation">
        @Html.ValidationMessageFor(m => Model.LugarNivel4)
    </div>
</div>
<div class="div-3">
  

    <div class="selectP2 seleccion_pagina textboxSB2">
        @Html.TextBoxFor(m => Model.CalleOAvenida, new { @class = "field_85 textboxSB", @placeholder = "Dirección Ejm: Av. Castellana 100" })
    </div>
</div>
<div class="div-3">
    <div class="validation_clear"></div>
    <div class="validation">
        @Html.ValidationMessageFor(m => Model.CalleOAvenida)
    </div>
</div>
<div class="div-3">
   

    <div class="selectP2 seleccion_pagina textboxSB2">
        @Html.TextBoxFor(m => Model.Referencia, new { @class = "field_85 textboxSB", @placeholder = "Referencia" })
    </div>
</div>
<div class="div-3">
    <div class="validation_clear"></div>
    <div class="validation">
        @Html.ValidationMessageFor(m => Model.Referencia)
    </div>
</div>



@*<div class="div-3">

    <div class="selectP2 seleccion_pagina textboxSB2">
        @Html.DropDownListFor(m => Model.LugarNivel1, Model.LugaresNivel1, @Dictionaries.LabelLugar1[Model.CodigoPais], new { @class = "field_85 textboxSB" })
        @Html.DropDownListFor(m => Model.LugarNivel2, new List<SelectListItem>(), Dictionaries.LabelLugar2[Model.CodigoPais], new { @class = "field_85 textboxSB" })
        @Html.DropDownListFor(m => Model.LugarNivel3, new List<SelectListItem>(), Dictionaries.LabelLugar3[Model.CodigoPais], new { @class = "field_85 textboxSB" })
    </div>
</div>
<div class="div-3">
    <div class="validation_clear"></div>
    <div class="validation">
        @Html.ValidationMessageFor(m => Model.LugarNivel1)
        @Html.ValidationMessageFor(m => Model.LugarNivel2)
        @Html.ValidationMessageFor(m => Model.LugarNivel3)
    </div>
</div>

<div class="div-3">


    <div class="selectP2 seleccion_pagina textboxSB2">
        @Html.TextBoxFor(m => Model.CalleOAvenida, new { @class = "field_85 textboxSB", @placeholder = "Dirección Ejm: Av. Castellana 100" })
        @Html.TextBoxFor(m => Model.Referencia, new { @class = "field_85 textboxSB", @placeholder = "Referencia" })
    </div>
</div>
<div class="div-3">
    <div class="validation_clear"></div>
    <div class="validation">
        @Html.ValidationMessageFor(m => Model.CalleOAvenida)
        @Html.ValidationMessageFor(m => Model.Referencia)
    </div>
</div>*@






 