@model Portal.Consultoras.Web.Models.EditarDireccionModel
@* Template para Guatemala *@

<div class="contenedor_camposUbigeo">
    <label>@Dictionaries.LabelLugar1[Model.CodigoPais]:</label>
    <div class="contenedor_campoFormulario">
        @Html.DropDownListFor(m => Model.LugarNivel1, Model.LugaresNivel1)
        <span class="mensaje_validacion_error">@Html.ValidationMessageFor(m => Model.LugarNivel1)</span>
    </div>
</div>
<div class="contenedor_camposUbigeo">
    <label>@Dictionaries.LabelLugar2[Model.CodigoPais]:</label>
    <div class="contenedor_campoFormulario">
        @Html.DropDownListFor(m => Model.LugarNivel2, Model.LugaresNivel2)
        <span class="mensaje_validacion_error">@Html.ValidationMessageFor(m => Model.LugarNivel2)</span>
    </div>
</div>
<div class="contenedor_camposUbigeo">
    <label>@Dictionaries.LabelLugar3[Model.CodigoPais]:</label>
    <div class="contenedor_campoFormulario">
        @Html.DropDownListFor(m => Model.LugarNivel3, Model.LugaresNivel3)
        <span class="mensaje_validacion_error">@Html.ValidationMessageFor(m => Model.LugarNivel3)</span>
    </div>
</div>
<div class="contenedor_camposUbigeo">
    <label>@Dictionaries.LabelLugar4[Model.CodigoPais]:</label>
    <div class="contenedor_campoFormulario">
        @Html.DropDownListFor(m => Model.LugarNivel4, Model.LugaresNivel4)
        <span class="mensaje_validacion_error">@Html.ValidationMessageFor(m => Model.LugarNivel4)</span>
    </div>
</div>
@if (Model.CodigoPais == "GT")
{
    <div class="contenedor_camposUbigeo campoDireccionUbigeo campo_dropDown">
        <label>@Dictionaries.LabelLugar5[Model.CodigoPais]:</label>
        <div class="contenedor_campoFormulario">
            @Html.DropDownListFor(m => Model.LugarNivel5, Model.LugaresNivel5)
            <span class="mensaje_validacion_error">@Html.ValidationMessageFor(m => Model.LugarNivel5)</span>
        </div>
    </div>
    <div class="contenedor_camposUbigeo campoReferenciaUbigeo campo_dropDownReferencia">
        <label>Direcci&oacute;n:</label>
        <div class="contenedor_campoFormulario" style="width:100%;">
            @Html.TextBoxFor(m => Model.CalleOAvenida, new { @placeholder = "Ejm: Av. Castellana 100" })
            <span class="mensaje_validacion_error">@Html.ValidationMessageFor(m => Model.CalleOAvenida)</span>
        </div>
    </div>
    <div class="contenedor_grupo_botones_campoDireccion">
        <button id="btnModificarDireccion" type="button">Editar Direcci&oacute;n</button>
        <button id="btnGrabarDireccion" type="submit">Grabar direcci&oacute;n</button>
        <button id="btnActualizarSeccion" type="button">Actualizar secci&oacute;n manualmente</button>
        <button id="btnCancelarEdicion" type="button">Cancelar</button>
    </div>
}
else
{
    <div class="contenedor_camposUbigeo campoDireccionUbigeo" style="margin-top:5px;">
        <label>Direcci&oacute;n:</label>
        <div class="contenedor_campoFormulario" style="width:99.85%;">
            @Html.TextBoxFor(m => Model.CalleOAvenida, new { @style = "width:99.85%;", @placeholder = "Ejm: Av. Castellana 100" })
            <span class="mensaje_validacion_error">@Html.ValidationMessageFor(m => Model.CalleOAvenida)</span>
        </div>
        <div class="contenedor_grupo_botones_campoDireccion">
            <button id="btnModificarDireccion" type="button">Editar Direcci&oacute;n</button>
            <button id="btnGrabarDireccion" type="submit">Grabar direcci&oacute;n</button>
            <button id="btnActualizarSeccion" type="button">Actualizar secci&oacute;n manualmente</button>
            <button id="btnCancelarEdicion" type="button">Cancelar</button>
        </div>
    </div>
}

@Html.HiddenFor(m => Model.SolicitudPostulanteID)
@Html.HiddenFor(m => Model.CodigoPais)
@Html.HiddenFor(m => Model.NombreLugarNivel1)
@Html.HiddenFor(m => Model.NombreLugarNivel2)
@Html.HiddenFor(m => Model.NombreLugarNivel3)
@Html.HiddenFor(m => Model.NombreLugarNivel4)
@Html.HiddenFor(m => Model.NombreLugarNivel5)
@Html.HiddenFor(m => Model.ContaValorNivel3)

@Html.HiddenFor(m => Model.LugarNivel1)
@Html.HiddenFor(m => Model.LugarNivel2)
@Html.HiddenFor(m => Model.LugarNivel3)
@Html.HiddenFor(m => Model.LugarNivel4)
@Html.HiddenFor(m => Model.LugarNivel5)

<script>
    var codigoPais = '@Model.CodigoPais';

    var NombreLugarNivel1Ant = '';
    var NombreLugarNivel2Ant = '';
    var NombreLugarNivel3Ant = '';
    var NombreLugarNivel4Ant = '';
    var htmlLugarNivel2Ant = '';
    var htmlLugarNivel3Ant = '';
    var htmlLugarNivel4Ant = '';
    var LugarNivel1Ant = '';
    var LugarNivel2Ant = '';
    var LugarNivel3Ant = '';
    var LugarNivel4Ant = '';
    var CalleOAvenidaAnt = '';
    var htmlLugarNivel5Ant = '';//GT
    var LugarNivel5Ant = '';//GT
    var NombreLugarNivel5Ant = '';//GT

    $(document).ready(function () {

        codigoPais = '@Model.CodigoPais';

        $("#LugarNivel1").prepend("<option value=''>--Seleccione--</option>");
        @if (string.IsNullOrEmpty(Model.LugarNivel1))
        {
            <text>$("#LugarNivel1").val('');</text>
        }
        $("#LugarNivel2").prepend("<option value=''>--Seleccione--</option>");
        @if (string.IsNullOrEmpty(Model.LugarNivel2))
        {
            <text>$("#LugarNivel2").val('');</text>
        }
        $("#LugarNivel3").prepend("<option value=''>--Seleccione--</option>");
        @if (string.IsNullOrEmpty(Model.LugarNivel3))
        {
            <text>$("#LugarNivel3").val('');</text>
        }
        $("#LugarNivel4").prepend("<option value=''>--Seleccione--</option>");
        @if (string.IsNullOrEmpty(Model.LugarNivel4))
        {
            <text>$("#LugarNivel4").val('');</text>
        }
        if (codigoPais == 'GT') {
            $("#LugarNivel5").prepend("<option value=''>--Seleccione--</option>");
            @if (string.IsNullOrEmpty(Model.LugarNivel5))
            {
                <text>$("#LugarNivel5").val('');</text>
            }
        }
    });

    $('#btnGrabarDireccion').hide();
    $('#btnCancelarEdicion').hide();
    $('#btnModificarDireccion').show();
    $('#btnActualizarSeccion').show();
    HabilitarDatosDireccion(0);

    function HabilitarDatosDireccion(IsEdit) {
        if (IsEdit == 1) {
            $('#LugarNivel1').prop('disabled', false);
            $("#LugarNivel2").prop('disabled', false);
            $("#LugarNivel3").prop('disabled', false);
            $("#LugarNivel4").prop('disabled', false);
            $("#CalleOAvenida").prop('readonly', false);
            if (codigoPais == 'GT') {
                $("#LugarNivel5").prop('disabled', false);
            }
        }
        else {
            $("#LugarNivel1").prop('disabled', true);
            $("#LugarNivel2").prop('disabled', true);
            $("#LugarNivel3").prop('disabled', true);
            $("#LugarNivel4").prop('disabled', true);
            $("#CalleOAvenida").prop('readonly', true);
            if (codigoPais == 'GT') {
                $("#LugarNivel5").prop('disabled', true);
            }
        }
    }

    $('#btnModificarDireccion').click(function () {
            htmlLugarNivel2Ant = $("#LugarNivel2").html();
            htmlLugarNivel3Ant = $("#LugarNivel3").html();
            htmlLugarNivel4Ant = $("#LugarNivel4").html();
            LugarNivel1Ant = $("#LugarNivel1").val();
            LugarNivel2Ant = $("#LugarNivel2").val();
            LugarNivel3Ant = $("#LugarNivel3").val();
            LugarNivel4Ant = $("#LugarNivel4").val();
            NombreLugarNivel1Ant = $("#NombreLugarNivel1").val();
            NombreLugarNivel2Ant = $("#NombreLugarNivel2").val();
            NombreLugarNivel3Ant = $("#NombreLugarNivel3").val();
            NombreLugarNivel4Ant = $("#NombreLugarNivel4").val();
            CalleOAvenidaAnt = $("#CalleOAvenida").val();
            if (codigoPais == 'GT') {
                htmlLugarNivel5Ant = $("#LugarNivel5").html();
                LugarNivel5Ant = $("#LugarNivel5").val();
                NombreLugarNivel5Ant = $("#NombreLugarNivel5").val();
            }

            $('#btnModificarDireccion').hide();
            $('#btnGrabarDireccion').show();
            $('#btnCancelarEdicion').show();
            $('#btnActualizarSeccion').hide();
            $('#btnEditarPosicion').addClass('HabInaButton');
            $('#btnGuardarPosicion').addClass('HabInaButton');
            $('#btnActualizarSeccion').addClass('HabInaButton');
            $('#btnEditarPosicion').attr('disabled', true);
            $('#btnGuardarPosicion').attr('disabled', true);
            $('#btnActualizarSeccion').attr('disabled', true);
            HabilitarDatosDireccion(1);
    });

    $('#btnGrabarDireccion').click(function () {
        if ($('#formTemplate').valid()) {
            $('#btnModificarDireccion').show();
            $('#btnGrabarDireccion').hide();
            $('#btnCancelarEdicion').hide();
            $('#btnActualizarSeccion').show();
            $('#btnEditarPosicion').removeClass('HabInaButton');
            $('#btnGuardarPosicion').removeClass('HabInaButton');
            $('#btnActualizarSeccion').removeClass('HabInaButton');
            $('#btnEditarPosicion').attr('disabled', false);
            $('#btnGuardarPosicion').attr('disabled', false);
            $('#btnActualizarSeccion').attr('disabled', false);
        }
    });

    $('#btnCancelarEdicion').click(function () {
        $("#LugarNivel1").val(LugarNivel1Ant);
        $("#LugarNivel2").html(htmlLugarNivel2Ant);
        $("#LugarNivel2").val(LugarNivel2Ant);
        $("#LugarNivel3").html(htmlLugarNivel3Ant);
        $("#LugarNivel3").val(LugarNivel3Ant);
        $("#LugarNivel4").html(htmlLugarNivel4Ant);
        $("#LugarNivel4").val(LugarNivel4Ant);
        $("#NombreLugarNivel1").val(NombreLugarNivel1Ant);
        $("#NombreLugarNivel2").val(NombreLugarNivel2Ant);
        $("#NombreLugarNivel3").val(NombreLugarNivel3Ant);
        $("#NombreLugarNivel4").val(NombreLugarNivel4Ant);
        $("#CalleOAvenida").val(CalleOAvenidaAnt);
        if (codigoPais == 'GT') {
            $("#LugarNivel5").html(htmlLugarNivel5Ant);
            $("#LugarNivel5").val(LugarNivel5Ant);
            $("#NombreLugarNivel5").val(NombreLugarNivel5Ant);
        }

        $('#btnModificarDireccion').show();
        $('#btnGrabarDireccion').hide();
        $('#btnCancelarEdicion').hide();
        $('#btnActualizarSeccion').show();
        $('#btnEditarPosicion').removeClass('HabInaButton');
        $('#btnGuardarPosicion').removeClass('HabInaButton');
        $('#btnActualizarSeccion').removeClass('HabInaButton');
        $('#btnEditarPosicion').attr('disabled', false);
        $('#btnGuardarPosicion').attr('disabled', false);
        $('#btnActualizarSeccion').attr('disabled', false);
        HabilitarDatosDireccion(0);
        $(".field-validation-error span").empty();
    });

    $('#btnActualizarSeccion').click(function () {

        var solicitudPostulanteID = '@Model.SolicitudPostulanteID';
        $('#divEditarManualDireccion').empty();
        $('#divEditarManualDireccion').show();

        LoadSpinner('divEditarManualDireccion');
        $('#divEditarManualDireccion').css('z-index', '2000');
        $.get('@Url.Action("EditarDireccionManualmente", "Unete")', { id: solicitudPostulanteID }, function (html) {
            $('#divEditarManualDireccion').html(html);
            $('#divEditarManualDireccion').show();
            $('#divEditarManualDireccion').css('z-index', '2000');
        }).done(function () {

        });
    });
</script>