@model Portal.Consultoras.Web.Models.EditarDireccionModel

@* Template para los países Colombia y Chile *@

@{
    var tit1 = "";
}


<div class="contenedor_camposUbigeo anchoDropdown">
    @if (Model.CodigoPais == "CO")
    {
        <label class="saltoLinea">@Dictionaries.LabelLugar1[Model.CodigoPais]:</label>
    }
    else
    {
        <label>@Dictionaries.LabelLugar1[Model.CodigoPais]:</label>
    }
    <div class="contenedor_campoFormulario">
        @Html.DropDownListFor(m => Model.LugarNivel1, Model.LugaresNivel1, new { @class = "paisColombia"})
        <span class="mensaje_validacion_error">@Html.ValidationMessageFor(m => Model.LugarNivel1)</span>
    </div>
</div>
<div class="contenedor_camposUbigeo anchoDropdown">
    @if (Model.CodigoPais == "CO")
    {
        <label class="saltoLinea">@Dictionaries.LabelLugar2[Model.CodigoPais]:</label>
    }
    else
    {
        <label>@Dictionaries.LabelLugar2[Model.CodigoPais]:</label>
    }
    <div class="contenedor_campoFormulario">
        @Html.DropDownListFor(m => Model.LugarNivel2, Model.LugaresNivel2, new { @class = "paisColombia" })
        <span class="mensaje_validacion_error">@Html.ValidationMessageFor(m => Model.LugarNivel2)</span>
    </div>
</div>
@if (Model.CodigoPais == "CO")
{
    <div class="contenedor_camposUbigeo campoReferenciaUbigeo" style="width:auto; margin-top:0px;">
        <label class="saltoLinea">Dirección:</label>
        <div class="contenedor_campoFormulario">
            @Html.TextBoxFor(m => Model.NombreDireccionEdicion, new { @style = "width:382px; margin-right:0px;", @placeholder = "Ejm: 97B 35 2" })
            <span class="mensaje_validacion_error">@Html.ValidationMessageFor(m => Model.NombreDireccionEdicion)</span>
        </div>
    </div>
}
else
{
    <div class="contenedor_camposUbigeo quitarMargenDerecho anchoDropdown">
        <label style="top:9px; width:44px;">N&uacute;mero:</label>
        <div class="contenedor_campoFormulario">
            @Html.TextBoxFor(m => Model.Numero, new { @placeholder = "Ejm: 100", @maxlength = 5 })
            <span class="mensaje_validacion_error">@Html.ValidationMessageFor(m => Model.Numero)</span>
        </div>
    </div>
}

@if (Model.CodigoPais == "CO")
{
    tit1 = "Barrio";

}
else
{
    tit1 = "Calle o Avenida";

}

@if (Model.CodigoPais == "CO")
{
    <div class="contenedor_camposUbigeo campoDireccionUbigeo" style="width:auto;">
        <label style="margin-bottom:0px; width:auto;">@tit1:</label>
        <div class="contenedor_campoFormulario">
            @Html.TextBoxFor(m => Model.CalleOAvenida, new { @style = "width:450px;", @placeholder = " Ejm: Av. Castellana 100" })
            <span class="mensaje_validacion_error">@Html.ValidationMessageFor(m => Model.CalleOAvenida)</span>
        </div>
    </div>

    <div class="contenedor_camposUbigeo quitarMargenDerecho anchoDropdown" style="margin-top:15px;">
        <label>Dirección:</label>
        <div class="contenedor_campoFormulario">
            @Html.DropDownListFor(m => Model.LugarNivel3, Model.LugaresNivel3, new { @class = "paisColombia" })
            <span class="mensaje_validacion_error">@Html.ValidationMessageFor(m => Model.LugarNivel3)</span>
        </div>
    </div>
    <div class="contenedor_grupo_botones_campoDireccion">
        <button id="btnModificarDireccion" type="button">Editar Direcci&oacute;n</button>
        <button id="btnGrabarDireccion" type="submit">Grabar direcci&oacute;n</button>
        <button id="btnActualizarSeccion" type="button">Actualizar secci&oacute;n manualmente</button>
        <button id="btnCancelarEdicion" type="button">Cancelar</button>
    </div>
}
else
{
    <div class="contenedor_camposUbigeo campoDireccionUbigeo">
        <label style="margin-bottom:0px; top:0px;">@tit1:</label>
        <div class="contenedor_campoFormulario">
            @Html.TextBoxFor(m => Model.CalleOAvenida, new { @placeholder = " Ejm: Av. Castellana 100" })
            <span class="mensaje_validacion_error">@Html.ValidationMessageFor(m => Model.CalleOAvenida)</span>
        </div>
        <div class="contenedor_grupoBotones">
            <button id="btnModificarDireccion" type="button">Editar Direcci&oacute;n</button>
            <button id="btnGrabarDireccion" type="submit">Grabar direcci&oacute;n</button>
        </div>
    </div>

    <div class="contenedor_camposUbigeo campoReferenciaUbigeo">
        <label>Referencia:</label>
        <div class="contenedor_campoFormulario">
            @Html.TextBoxFor(m => Model.Referencia, new { @placeholder = "Ej. entre calle 1 y calle 3" })
            <span class="mensaje_validacion_error">@Html.ValidationMessageFor(m => Model.Referencia)</span>
        </div>
        <div class="contenedor_grupoBotones">
            <button id="btnActualizarSeccion" type="button">Actualizar secci&oacute;n manualmente</button>
            <button id="btnCancelarEdicion" type="button">Cancelar</button>
        </div>
    </div>
}

        @Html.HiddenFor(m => Model.SolicitudPostulanteID)
        @Html.HiddenFor(m => Model.CodigoPais)
        @Html.HiddenFor(m => Model.NombreLugarNivel1)
        @Html.HiddenFor(m => Model.NombreLugarNivel2)
        @Html.HiddenFor(m => Model.NombreLugarNivel3)
        @Html.HiddenFor(m => Model.NombreLugarNivel4)
        @Html.HiddenFor(m => Model.NombreLugarNivel5)
        @Html.HiddenFor(m => Model.ContaValorNivel3)

        @Html.HiddenFor(m => Model.LugarNivel1)
        @Html.HiddenFor(m => Model.LugarNivel2)
        @Html.HiddenFor(m => Model.LugarNivel3)


        <script>

            var codigoPais = '@Model.CodigoPais';

    var NombreLugarNivel1Ant = '';
    var NombreLugarNivel2Ant = '';
    var NombreLugarNivel3Ant = '';//CO
            var htmlLugarNivel2Ant = '';
            var htmlLugarNivel3Ant = '';//CO
            var LugarNivel1Ant = '';
            var LugarNivel2Ant = '';
            var LugarNivel3Ant = '';//CO
            var CalleOAvenidaAnt = '';
            var ReferenciaAnt = '';

            var NombreDireccionEdicionAnt = '';//CO
            var NumeroAnt = ''//CL


            $(document).ready(function () {

                codigoPais = '@Model.CodigoPais';

                $("#LugarNivel1").prepend("<option value=''>--Seleccione--</option>");//.val('');
                @if (string.IsNullOrEmpty(Model.LugarNivel1))
        {
            <text>$("#LugarNivel1").val('');</text>
        }
                $("#LugarNivel2").prepend("<option value=''>--Seleccione--</option>");//.val('');
                @if (string.IsNullOrEmpty(Model.LugarNivel2))
        {
            <text>$("#LugarNivel2").val('');</text>
        }
                if (codigoPais == 'CO') {
                    $("#LugarNivel3").prepend("<option value=''>--Seleccione--</option>");//.val('');
                    @if (string.IsNullOrEmpty(Model.LugarNivel3))
            {
                <text>$("#LugarNivel3").val('');</text>
            }
                }
            });

            $('#btnGrabarDireccion').hide();
            $('#btnCancelarEdicion').hide();
            $('#btnModificarDireccion').show();
            $('#btnActualizarSeccion').show();
            HabilitarDatosDireccion(0);

            function HabilitarDatosDireccion(IsEdit) {
                if (IsEdit == 1) {
                    $('#LugarNivel1').prop('disabled', false);
                    $("#LugarNivel2").prop('disabled', false);

                    $("#CalleOAvenida").prop('readonly', false);
                    $("#Referencia").prop('readonly', false);
                    if (codigoPais == 'CO') {
                        $("#LugarNivel3").prop('disabled', false);
                        $("#NombreDireccionEdicion").prop('readonly', false);
                    } else {
                        $("#Numero").prop('readonly', false);
                    }
                }
                else {
                    $("#LugarNivel1").prop('disabled', true);
                    $("#LugarNivel2").prop('disabled', true);
                    $("#CalleOAvenida").prop('readonly', true);
                    $("#Referencia").prop('readonly', true);
                    if (codigoPais == 'CO') {
                        $("#LugarNivel3").prop('disabled', true);
                        $("#NombreDireccionEdicion").prop('readonly', true);
                    } else {
                        $("#Numero").prop('readonly', true);
                    }
                }
            }

            $('#btnModificarDireccion').click(function () {

                htmlLugarNivel2Ant = $("#LugarNivel2").html();
                LugarNivel1Ant = $("#LugarNivel1").val();
                LugarNivel2Ant = $("#LugarNivel2").val();
        NombreLugarNivel1Ant = $("#NombreLugarNivel1").val();
        NombreLugarNivel2Ant = $("#NombreLugarNivel2").val();
                CalleOAvenidaAnt = $("#CalleOAvenida").val();
                ReferenciaAnt = $("#Referencia").val();
                if (codigoPais == 'CO') {
                    htmlLugarNivel3Ant = $("#LugarNivel3").html();
                    LugarNivel3Ant = $("#LugarNivel3").val();
            NombreLugarNivel3Ant = $("#NombreLugarNivel3").val();
                    NombreDireccionEdicionAnt = $("#NombreDireccionEdicion").val();
                } else { NumeroAnt = $("#Numero").val(); }

                $('#btnModificarDireccion').hide();
                $('#btnGrabarDireccion').show();
                $('#btnCancelarEdicion').show();
                $('#btnActualizarSeccion').hide();
                $('#btnEditarPosicion').addClass('HabInaButton');
                $('#btnGuardarPosicion').addClass('HabInaButton');
                $('#btnActualizarSeccion').addClass('HabInaButton');
                $('#btnEditarPosicion').attr('disabled', true);
                $('#btnGuardarPosicion').attr('disabled', true);
                $('#btnActualizarSeccion').attr('disabled', true);
                HabilitarDatosDireccion(1);
            });

            $('#btnGrabarDireccion').click(function () {
                if ($('#formTemplate').valid()) {
                    $('#btnModificarDireccion').show();
                    $('#btnGrabarDireccion').hide();
                    $('#btnCancelarEdicion').hide();
                    $('#btnActualizarSeccion').show();
                    $('#btnEditarPosicion').removeClass('HabInaButton');
                    $('#btnGuardarPosicion').removeClass('HabInaButton');
                    $('#btnActualizarSeccion').removeClass('HabInaButton');
                    $('#btnEditarPosicion').attr('disabled', false);
                    $('#btnGuardarPosicion').attr('disabled', false);
                    $('#btnActualizarSeccion').attr('disabled', false);
                    //HabilitarDatosDireccion(0);
                }
            });

            $('#btnCancelarEdicion').click(function () {
                $("#LugarNivel1").val(LugarNivel1Ant);
                $("#LugarNivel2").html(htmlLugarNivel2Ant);
                $("#LugarNivel2").val(LugarNivel2Ant);
        $("#NombreLugarNivel1").val(NombreLugarNivel1Ant);
        $("#NombreLugarNivel2").val(NombreLugarNivel2Ant);
                $("#CalleOAvenida").val(CalleOAvenidaAnt);
                $("#Referencia").val(ReferenciaAnt);
                if (codigoPais == 'CO') {
                    $("#LugarNivel3").html(htmlLugarNivel3Ant);
                    $("#LugarNivel3").val(LugarNivel3Ant);
            $("#NombreLugarNivel3").val(NombreLugarNivel3Ant);
                    $("#NombreDireccionEdicion").val(NombreDireccionEdicionAnt);
                } else { $("#Numero").val(NumeroAnt); }

                $('#btnModificarDireccion').show();
                $('#btnGrabarDireccion').hide();
                $('#btnCancelarEdicion').hide();
                $('#btnActualizarSeccion').show();
                $('#btnEditarPosicion').removeClass('HabInaButton');
                $('#btnGuardarPosicion').removeClass('HabInaButton');
                $('#btnActualizarSeccion').removeClass('HabInaButton');
                $('#btnEditarPosicion').attr('disabled', false);
                $('#btnGuardarPosicion').attr('disabled', false);
                $('#btnActualizarSeccion').attr('disabled', false);
                HabilitarDatosDireccion(0);
        $(".field-validation-error span").empty();
            });

            $('#btnActualizarSeccion').click(function () {

                var solicitudPostulanteID = '@Model.SolicitudPostulanteID';
                $('#divEditarManualDireccion').empty();
                $('#divEditarManualDireccion').show();

                LoadSpinner('divEditarManualDireccion');
                $('#divEditarManualDireccion').css('z-index', '2000');
                $.get('@Url.Action("EditarDireccionManualmente", "Unete")', { id: solicitudPostulanteID }, function (html) {
                    $('#divEditarManualDireccion').html(html);
                    $('#divEditarManualDireccion').show();
                    $('#divEditarManualDireccion').css('z-index', '2000');
                }).done(function () {

                });
            });
            //# sourceURL===_Ubigeogrupo3.cshtml
        </script>
