@using System.Collections.Generic
@using Portal.Consultoras.Web.Models
@using Portal.Consultoras.Common
@model Portal.Consultoras.Web.Models.EditarDireccionModel
@* Template para Ecuador  *@

@*<div class="div-3">

        <div class="selectP2 seleccion_pagina textboxSB2">
            @Html.DropDownListFor(m => Model.LugarNivel1, Model.LugaresNivel1, Dictionaries.LabelLugar1[Model.CodigoPais] , new { @class = "field_85 textboxSB" })
        </div>
    </div>
    <div class="div-3">
        <div class="validation_clear"></div>
        <div class="validation">
            @Html.ValidationMessageFor(m => Model.LugarNivel1)
        </div>
    </div>
    <div class="div-3">

        <div class="selectP2 seleccion_pagina textboxSB2">
            @Html.DropDownListFor(m => Model.LugarNivel2, new List<SelectListItem>(), Dictionaries.LabelLugar2[Model.CodigoPais], new { @class = "field_85 textboxSB" })
        </div>
    </div>
    <div class="div-3">
        <div class="validation_clear"></div>
        <div class="validation">
            @Html.ValidationMessageFor(m => Model.LugarNivel2)
        </div>
    </div>

    <div class="div-3">


        <div class="selectP2 seleccion_pagina textboxSB2">
            @Html.TextBoxFor(m => Model.LugarNivel3, new { @class = "field_85 textboxSB", @placeholder = Dictionaries.LabelLugar3[Model.CodigoPais] })
        </div>
    </div>
    <div class="div-3">
        <div class="validation_clear"></div>
        <div class="validation">
            @Html.ValidationMessageFor(m => Model.LugarNivel3)
        </div>
    </div>
    <div class="div-3">

        <div class="selectP2 seleccion_pagina textboxSB2">
            @Html.TextBoxFor(m => Model.CalleOAvenida, new { @class = "field_85 textboxSB", @placeholder = Dictionaries.LabelLugar4[Model.CodigoPais] + " Ejm: Av. Castellana 100" })
        </div>
    </div>
    <div class="div-3">
        <div class="validation_clear"></div>
        <div class="validation">
            @Html.ValidationMessageFor(m => Model.CalleOAvenida)
        </div>
    </div>
    <div class="div-3">


        <div class="selectP2 seleccion_pagina textboxSB2">
            @Html.TextBoxFor(m => Model.LugarNivel4, new { @class = "field_85 textboxSB", @placeholder = Dictionaries.LabelLugar5[Model.CodigoPais] })
        </div>
    </div>
    <div class="div-3">
        <div class="validation_clear"></div>
        <div class="validation">
            @Html.ValidationMessageFor(m => Model.LugarNivel4)
        </div>
    </div>
    <div class="div-3">


        <div class="selectP2 seleccion_pagina textboxSB2">
            @Html.TextBoxFor(m => Model.Referencia, new { @class = "field_85 textboxSB", @placeholder = "Referencia Ej. entre calle 1 y calle 3" })
        </div>
    </div>
    <div class="div-3">
        <div class="validation_clear"></div>
        <div class="validation">
            @Html.ValidationMessageFor(m => Model.Referencia)
        </div>
    </div>*@



@*aqui nuevo*@
<div class="contenedor_camposUbigeo">
    <label>@Dictionaries.LabelLugar1[Model.CodigoPais]:</label>
    @Html.DropDownListFor(m => Model.LugarNivel1, Model.LugaresNivel1)
    @*<span>@Html.ValidationMessageFor(m => Model.LugarNivel1)</span>*@
</div>
<div class="contenedor_camposUbigeo">
    <label>@Dictionaries.LabelLugar2[Model.CodigoPais]:</label>
    @Html.DropDownListFor(m => Model.LugarNivel2, Model.LugaresNivel2)
    @*<span>@Html.ValidationMessageFor(m => Model.LugarNivel2)</span>*@
</div>
<div class="contenedor_camposUbigeo campoBarrio">
    <label>@Dictionaries.LabelLugar3[Model.CodigoPais]:</label>
    @Html.TextBoxFor(m => Model.LugarNivel3, Model.LugaresNivel3)
    @*<span>@Html.ValidationMessageFor(m => Model.LugarNivel3)</span>*@
</div>
<div class="contenedor_camposUbigeo campoDireccionUbigeo">
    <label>@Dictionaries.LabelLugar4[Model.CodigoPais]:</label>
    @Html.TextBoxFor(m => Model.CalleOAvenida, new { @class = "direccionPrincipal", @placeholder = " Ejm: Av. Castellana 100" })
    @*<span>@Html.ValidationMessageFor(m => Model.CalleOAvenida)</span>*@
    @Html.TextBoxFor(m => Model.LugarNivel4, new { @class = "direccionSecundaria", @placeholder = Dictionaries.LabelLugar5[Model.CodigoPais] })
    @*<span>@Html.ValidationMessageFor(m => Model.LugarNivel4)</span>*@
</div>
<div class="contenedor_camposUbigeo campoReferenciaUbigeo">
    <label>Referencia:</label>
    @Html.TextBoxFor(m => Model.Referencia, new { @class = "ancho99", @placeholder = "Ej. entre calle 1 y calle 3" })
    @*<span>@Html.ValidationMessageFor(m => Model.Referencia)</span>*@
    <div class="contenedor_grupo_botones_campoDireccion">
        <button id="btnModificarDireccion" type="button">Editar Direcci&oacute;n</button>
        <button id="btnGrabarDireccion" type="submit">Grabar direcci&oacute;n</button>
        <button id="btnActualizarSeccion" type="button">Actualizar secci&oacute;n</button>
        <button id="btnCancelarEdicion" type="button">Cancelar Direcci&oacute;n</button>
    </div>
</div>

@Html.HiddenFor(m => Model.SolicitudPostulanteID)
@Html.HiddenFor(m => Model.CodigoPais)
@Html.HiddenFor(m => Model.NombreLugarNivel1)
@Html.HiddenFor(m => Model.NombreLugarNivel2)
@Html.HiddenFor(m => Model.NombreLugarNivel3)
@Html.HiddenFor(m => Model.NombreLugarNivel4)
@Html.HiddenFor(m => Model.NombreLugarNivel5)
@Html.HiddenFor(m => Model.ContaValorNivel3)

<script>
    $('#btnGrabarDireccion').hide();
    $('#btnCancelarEdicion').hide();
    $('#btnModificarDireccion').show();
    $('#btnActualizarSeccion').show();
    HabilitarDatosDireccion(0);

    function HabilitarDatosDireccion(IsEdit) {
        if (IsEdit == 1) {
            $('#LugarNivel1').prop('disabled', false);
            $("#LugarNivel2").prop('disabled', false);
            $("#LugarNivel3").prop('readonly', false);
            $("#LugarNivel4").prop('readonly', false);
            $("#CalleOAvenida").prop('readonly', false);
            $("#Referencia").prop('readonly', false);
        }
        else {
            $("#LugarNivel1").prop('disabled', true);
            $("#LugarNivel2").prop('disabled', true);
            $("#LugarNivel3").prop('readonly', true);
            $("#LugarNivel4").prop('readonly', true);
            $("#CalleOAvenida").prop('readonly', true);
            $("#Referencia").prop('readonly', true);
        }
    }

    $('#btnModificarDireccion').click(function () {
        $('#btnModificarDireccion').hide();
        $('#btnGrabarDireccion').show();
        //$('#btnCancelarEdicion').show();
        //$('#btnActualizarSeccion').hide();
        $('#btnEditarPosicion').addClass('HabInaButton');
        $('#btnGuardarPosicion').addClass('HabInaButton');
        $('#btnActualizarSeccion').addClass('HabInaButton');
        $('#btnEditarPosicion').attr('disabled', true);
        $('#btnGuardarPosicion').attr('disabled', true);
        $('#btnActualizarSeccion').attr('disabled', true);
        HabilitarDatosDireccion(1);
    });

    $('#btnGrabarDireccion').click(function () {
        $('#btnModificarDireccion').show();
        $('#btnGrabarDireccion').hide();
        //$('#btnCancelarEdicion').hide();
        $('#btnActualizarSeccion').show();
        $('#btnEditarPosicion').removeClass('HabInaButton');
        $('#btnGuardarPosicion').removeClass('HabInaButton');
        $('#btnActualizarSeccion').removeClass('HabInaButton');
        $('#btnEditarPosicion').attr('disabled', false);
        $('#btnGuardarPosicion').attr('disabled', false);
        $('#btnActualizarSeccion').attr('disabled', false);
        HabilitarDatosDireccion(0);
    });

    $('#btnCancelarEdicion').click(function () {
        $('#btnGrabarDireccion').hide();
        //$('#btnCancelarEdicion').hide();
        $('#btnModificarDireccion').show();
        $('#btnActualizarSeccion').show();
        $('#btnEditarPosicion').removeClass('HabInaButton');
        $('#btnGuardarPosicion').removeClass('HabInaButton');
        HabilitarDatosDireccion(0);
    });

    $('#btnActualizarSeccion').click(function () {

        var solicitudPostulanteID = '@Model.SolicitudPostulanteID';
        $('#divEditarManualDireccion').empty();
        $('#divEditarManualDireccion').show();

        LoadSpinner('divEditarManualDireccion');
        $('#divEditarManualDireccion').css('z-index', '2000');
        $.get('@Url.Action("EditarDireccionManualmente", "Unete")', { id: solicitudPostulanteID }, function (html) {
            $('#divEditarManualDireccion').html(html);
            $('#divEditarManualDireccion').show();
            $('#divEditarManualDireccion').css('z-index', '2000');
        }).done(function () {

        });
    });
    //# sourceURL===_Ubigeogrupo3.cshtml
</script>