@model Portal.Consultoras.Web.Models.EditarDireccionModel
@* Template para Ecuador  *@

<div class="contenedor_camposUbigeo">
    <label>@Dictionaries.LabelLugar1[Model.CodigoPais]:</label>
    <div class="contenedor_campoFormulario">
        @Html.DropDownListFor(m => Model.LugarNivel1, Model.LugaresNivel1, new { @class = "paisEcuador" })
        <span class="mensaje_validacion_error">@Html.ValidationMessageFor(m => Model.LugarNivel1)</span>
    </div>
</div>
<div class="contenedor_camposUbigeo">
    <label>@Dictionaries.LabelLugar2[Model.CodigoPais]:</label>
    <div class="contenedor_campoFormulario">
        @Html.DropDownListFor(m => Model.LugarNivel2, Model.LugaresNivel2, new { @class = "paisEcuador" })
        <span class="mensaje_validacion_error">@Html.ValidationMessageFor(m => Model.LugarNivel2)</span>
    </div>
</div>
<div class="contenedor_camposUbigeo campoBarrio">
    <label>@Dictionaries.LabelLugar3[Model.CodigoPais]:</label>
    <div class="contenedor_campoFormulario">
        @Html.TextBoxFor(m => Model.LugarNivel3, Model.LugaresNivel3)
        <span class="mensaje_validacion_error">@Html.ValidationMessageFor(m => Model.LugarNivel3)</span>
    </div>
</div>
<div class="contenedor_camposUbigeo campoDireccionUbigeo">
    <label style="margin-bottom:0px; top:0px;">@Dictionaries.LabelLugar4[Model.CodigoPais]:</label>
    <div class="contenedor_campoFormulario">
        @Html.TextBoxFor(m => Model.CalleOAvenida, new { @class = "direccionPrincipal", @placeholder = " Ejm: Av. Castellana 100" })
        <span class="mensaje_validacion_error">@Html.ValidationMessageFor(m => Model.CalleOAvenida)</span>
    </div>
    <label style="margin-bottom:0px; top:0px; margin-right:9px;">@Dictionaries.LabelLugar5[Model.CodigoPais]:</label>
    <div class="contenedor_campoFormulario">
        @Html.TextBoxFor(m => Model.LugarNivel4, new { @class = "direccionSecundaria", @placeholder = Dictionaries.LabelLugar5[Model.CodigoPais] })
        <span class="mensaje_validacion_error">@Html.ValidationMessageFor(m => Model.LugarNivel4)</span>
    </div>
</div>
<div class="contenedor_camposUbigeo campoReferenciaUbigeo">
    <label>Referencia:</label>
    <div class="contenedor_campoFormulario" style="width:89.7%;">
        @Html.TextBoxFor(m => Model.Referencia, new { @style = "width:100%;", @placeholder = "Ej. entre calle 1 y calle 3" })
        <span class="mensaje_validacion_error">@Html.ValidationMessageFor(m => Model.Referencia)</span>
    </div>
    <div class="contenedor_grupo_botones_campoDireccion">
        <button id="btnModificarDireccion" type="button">Editar Direcci&oacute;n</button>
        <button id="btnGrabarDireccion" type="submit">Grabar direcci&oacute;n</button>
        <button id="btnActualizarSeccion" type="button">Actualizar secci&oacute;n manualmente</button>
        <button id="btnCancelarEdicion" type="button">Cancelar</button>
    </div>
</div>

@Html.HiddenFor(m => Model.SolicitudPostulanteID)
@Html.HiddenFor(m => Model.CodigoPais)
@Html.HiddenFor(m => Model.NombreLugarNivel1)
@Html.HiddenFor(m => Model.NombreLugarNivel2)
@Html.HiddenFor(m => Model.NombreLugarNivel3)
@Html.HiddenFor(m => Model.NombreLugarNivel4)
@Html.HiddenFor(m => Model.NombreLugarNivel5)
@Html.HiddenFor(m => Model.ContaValorNivel3)

@Html.HiddenFor(m => Model.LugarNivel1)
@Html.HiddenFor(m => Model.LugarNivel2)
@Html.HiddenFor(m => Model.LugarNivel3)
@Html.HiddenFor(m => Model.LugarNivel4)

<script>
    var NombreLugarNivel1Ant = '';
    var NombreLugarNivel2Ant = '';
    var htmlLugarNivel2Ant = '';
    var LugarNivel1Ant = '';
    var LugarNivel2Ant = '';
    var LugarNivel3Ant = '';
    var LugarNivel4Ant = '';
    var CalleOAvenidaAnt = '';
    var ReferenciaAnt = '';

    $(document).ready(function () {
        $("#LugarNivel1").prepend("<option value=''>--Seleccione--</option>");
        @if (string.IsNullOrEmpty(Model.LugarNivel1))
        {
            <text>$("#LugarNivel1").val('');</text>
        }
        $("#LugarNivel2").prepend("<option value=''>--Seleccione--</option>");
        @if (string.IsNullOrEmpty(Model.LugarNivel2))
        {
            <text>$("#LugarNivel2").val('');</text>
        }
    });

    $('#btnGrabarDireccion').hide();
    $('#btnCancelarEdicion').hide();
    $('#btnModificarDireccion').show();
    $('#btnActualizarSeccion').show();
    HabilitarDatosDireccion(0);

    function HabilitarDatosDireccion(IsEdit) {
        if (IsEdit == 1) {
            $('#LugarNivel1').prop('disabled', false);
            $("#LugarNivel2").prop('disabled', false);
            $("#LugarNivel3").prop('readonly', false);
            $("#LugarNivel4").prop('readonly', false);
            $("#CalleOAvenida").prop('readonly', false);
            $("#Referencia").prop('readonly', false);
        }
        else {
            $("#LugarNivel1").prop('disabled', true);
            $("#LugarNivel2").prop('disabled', true);
            $("#LugarNivel3").prop('readonly', true);
            $("#LugarNivel4").prop('readonly', true);
            $("#CalleOAvenida").prop('readonly', true);
            $("#Referencia").prop('readonly', true);
        }
    }

    $('#btnModificarDireccion').click(function () {
        htmlLugarNivel2Ant = $("#LugarNivel2").html();
        LugarNivel1Ant = $("#LugarNivel1").val();
        LugarNivel2Ant = $("#LugarNivel2").val();
        NombreLugarNivel1Ant = $("#NombreLugarNivel1").val();
        NombreLugarNivel2Ant = $("#NombreLugarNivel2").val();
        LugarNivel3Ant = $("#LugarNivel3").val();
        LugarNivel4Ant = $("#LugarNivel4").val();
        CalleOAvenidaAnt = $("#CalleOAvenida").val();
        ReferenciaAnt = $("#Referencia").val();

        $('#btnModificarDireccion').hide();
        $('#btnGrabarDireccion').show();
        $('#btnCancelarEdicion').show();
        $('#btnActualizarSeccion').hide();
        $('#btnEditarPosicion').addClass('HabInaButton');
        $('#btnGuardarPosicion').addClass('HabInaButton');
        $('#btnActualizarSeccion').addClass('HabInaButton');
        $('#btnEditarPosicion').attr('disabled', true);
        $('#btnGuardarPosicion').attr('disabled', true);
        $('#btnActualizarSeccion').attr('disabled', true);
        HabilitarDatosDireccion(1);
    });

    $('#btnGrabarDireccion').click(function () {
        if ($('#formTemplate').valid()) {
            $('#btnModificarDireccion').show();
            $('#btnGrabarDireccion').hide();
            $('#btnCancelarEdicion').hide();
            $('#btnActualizarSeccion').show();
            $('#btnEditarPosicion').removeClass('HabInaButton');
            $('#btnGuardarPosicion').removeClass('HabInaButton');
            $('#btnActualizarSeccion').removeClass('HabInaButton');
            $('#btnEditarPosicion').attr('disabled', false);
            $('#btnGuardarPosicion').attr('disabled', false);
            $('#btnActualizarSeccion').attr('disabled', false);
        }
    });

    $('#btnCancelarEdicion').click(function () {

        $("#LugarNivel1").val(LugarNivel1Ant);
        $("#LugarNivel2").html(htmlLugarNivel2Ant);
        $("#LugarNivel2").val(LugarNivel2Ant);
        $("#NombreLugarNivel1").val(NombreLugarNivel1Ant);
        $("#NombreLugarNivel2").val(NombreLugarNivel2Ant);
        $("#LugarNivel3").val(LugarNivel3Ant);
        $("#LugarNivel4").val(LugarNivel4Ant);
        $("#CalleOAvenida").val(CalleOAvenidaAnt);
        $("#Referencia").val(ReferenciaAnt);

        $('#btnModificarDireccion').show();
        $('#btnGrabarDireccion').hide();
        $('#btnCancelarEdicion').hide();
        $('#btnActualizarSeccion').show();
        $('#btnEditarPosicion').removeClass('HabInaButton');
        $('#btnGuardarPosicion').removeClass('HabInaButton');
        $('#btnActualizarSeccion').removeClass('HabInaButton');
        $('#btnEditarPosicion').attr('disabled', false);
        $('#btnGuardarPosicion').attr('disabled', false);
        $('#btnActualizarSeccion').attr('disabled', false);
        HabilitarDatosDireccion(0);
        $(".field-validation-error span").empty();
    });

    $('#btnActualizarSeccion').click(function () {

        var solicitudPostulanteID = '@Model.SolicitudPostulanteID';
        $('#divEditarManualDireccion').empty();
        $('#divEditarManualDireccion').show();

        LoadSpinner('divEditarManualDireccion');
        $('#divEditarManualDireccion').css('z-index', '2000');
        $.get('@Url.Action("EditarDireccionManualmente", "Unete")', { id: solicitudPostulanteID }, function (html) {
            $('#divEditarManualDireccion').html(html);
            $('#divEditarManualDireccion').show();
            $('#divEditarManualDireccion').css('z-index', '2000');
        }).done(function () {

        });
    });
</script>