@using Portal.Consultoras.Common
@model Portal.Consultoras.Web.Models.EditarDireccionModel

@* Template para los países Colombia y Chile *@
@{

    var tit1 = "";
}
<div class="div-3">
 
    <div class="selectP2 seleccion_pagina textboxSB2">
        @Html.DropDownListFor(m => Model.LugarNivel1, Model.LugaresNivel1, Dictionaries.LabelLugar1[Model.CodigoPais], new { @class = "field_85 textboxSB" })
    </div>
</div>
<div class="div-3">
    <div class="validation_clear"></div>
    <div class="validation">
        @Html.ValidationMessageFor(m => Model.LugarNivel1)
    </div>
</div>

<div class="div-3">
  
    <div class="selectP2 seleccion_pagina textboxSB2">
        @Html.DropDownListFor(m => Model.LugarNivel2, new List<SelectListItem>(), Dictionaries.LabelLugar2[Model.CodigoPais], new { @class = "field_85 textboxSB" })
    </div>
</div>
<div class="div-3">
    <div class="validation_clear"></div>
    <div class="validation">
        @Html.ValidationMessageFor(m => Model.LugarNivel2)
    </div>
</div>
<div class="div-3">
    @if (Model.CodigoPais == "CO")
    {
        tit1= "Barrio";
    
    }
    else
    {
        tit1 = "Calle &oacute; avenida";
       
    }
    
    <div class="selectP2 seleccion_pagina textboxSB2">
         
        @Html.TextBoxFor(m => Model.CalleOAvenida, new { @class = "field_85 textboxSB", @placeholder = tit1 + " Ejm: Av. Castellana 100" })
    </div>

   

</div>
<div class="div-3">
    <div class="validation_clear"></div>
    <div class="validation">
        @Html.ValidationMessageFor(m => Model.CalleOAvenida)
    </div>
</div>

@if (Model.CodigoPais == "CO")
{
    <div class="div-3">
    
         <div class="selectP2 seleccion_pagina textboxSB2" >
             @Html.DropDownListFor(m => Model.LugarNivel3, Model.LugaresNivel3, "Dirección", new { @class = "field_85 textboxSB", })
         </div>
    </div>
    <div class="div-3">
        <div class="validation_clear"></div>
        <div class="validation">
            @Html.ValidationMessageFor(m => Model.LugarNivel3)
        </div>
    </div>
    <div class="div-3">

 

        <div class="selectP2 seleccion_pagina textboxSB2">
            @Html.TextBoxFor(m => Model.NombreDireccionEdicion, new { @class = "field_85 textboxSB", @placeholder = "Ejm: 97B 35 2" })
        </div>
    </div>
    <div class="div-3">
        <div class="validation_clear"></div>
        <div class="validation">
            @Html.ValidationMessageFor(m => Model.NombreDireccionEdicion)
        </div>
    </div>
}
else
{
    <div class="div-3">
         
        <div class="selectP2 seleccion_pagina textboxSB2">
            @Html.TextBoxFor(m => Model.Numero, new { @class = "numero field_85 textboxSB", @placeholder = "Ejm: 100", @maxlength = 5 })
        </div>
    </div>
    <div class="div-3">
        <div class="validation_clear"></div>
        <div class="validation">
            @Html.ValidationMessageFor(m => Model.Numero)
        </div>
    </div>
    <div class="div-3">
       

        <div class="selectP2 seleccion_pagina textboxSB2">
            @Html.TextBoxFor(m => Model.Referencia, new { @class = "field_85 textboxSB", @placeholder = "Ej. entre calle 1 y calle 3" })
        </div>
    </div>
    <div class="div-3">
        <div class="validation_clear"></div>
        <div class="validation">
            @Html.ValidationMessageFor(m => Model.Referencia)
        </div>
    </div>
}


