@model Portal.Consultoras.Web.Models.EditarDireccionModel

@* Template para México *@

<div class="div-3">

        <div class="selectP2 seleccion_pagina textboxSB2">
            @Html.DropDownListFor(m => Model.LugarNivel1, Model.LugaresNivel1, Dictionaries.LabelLugar1[Model.CodigoPais], new { @class = "field_85 textboxSB" })
        </div>
    </div>
    <div class="div-3">
        <div class="validation_clear"></div>
        <div class="validation">
            @Html.ValidationMessageFor(m => Model.LugarNivel1)
        </div>
    </div>
    <div class="div-3">

        <div class="selectP2 seleccion_pagina textboxSB2">
            @Html.DropDownListFor(m => Model.LugarNivel2, new List<SelectListItem>(), Dictionaries.LabelLugar2[Model.CodigoPais], new { @class = "field_85 textboxSB" })
        </div>
    </div>
    <div class="div-3">
        <div class="validation_clear"></div>
        <div class="validation">
            @Html.ValidationMessageFor(m => Model.LugarNivel2)
        </div>
    </div>
    <div class="div-3">

        <div class="selectP2 seleccion_pagina textboxSB2">
            @Html.DropDownListFor(m => Model.LugarNivel3, new List<SelectListItem>(), "Colonia", new { @class = "field_85 textboxSB" })
        </div>
    </div>
    <div class="div-3">
        <div class="validation_clear"></div>
        <div class="validation">
            @Html.ValidationMessageFor(m => Model.LugarNivel3)
        </div>
    </div>
    <div class="div-3">

        <div class="selectP2 seleccion_pagina textboxSB2">
            @Html.TextBoxFor(m => Model.CalleOAvenida, new { @class = "field_85 textboxSB", @placeholder = "Dirección Ej. Calle/Nº/Edif/Apto" })
        </div>
    </div>
    <div class="div-3">
        <div class="validation_clear"></div>
        <div class="validation">
            @Html.ValidationMessageFor(m => Model.CalleOAvenida)
        </div>
    </div>
    <div class="div-3">

        <div class="selectP2 seleccion_pagina textboxSB2">
            @Html.TextBoxFor(m => Model.Referencia, new { @class = "field_85 textboxSB", @placeholder = "Referencia Ej. entre calle 1 y calle 3" })
        </div>
    </div>
    <div class="div-3">
        <div class="validation_clear"></div>
        <div class="validation">
            @Html.ValidationMessageFor(m => Model.Referencia)
        </div>
    </div>
    <div class="div-3">

        <div class="selectP2 seleccion_pagina textboxSB2">
            @Html.TextBoxFor(m => Model.Numero, new { @class = "numero field_85 textboxSB", @placeholder = "Codigo Postal Ejm: 100", @maxlength = 5 })
        </div>
    </div>
    <div class="div-3">
        <div class="validation_clear"></div>
        <div class="validation">
            @Html.ValidationMessageFor(m => Model.Numero)
        </div>
    </div>
