@model Portal.Consultoras.Web.Models.ProductoComentarioModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SACLayout.cshtml";
}

<div id="contenedor-cupon">
    <div class="wrap_cab">
        <div class="filtros2">
            <div class="elements" style="margin-left: 300px !important;">
                <div class="div-2">
                    <h1><span>Administrar Comentarios del Producto</span></h1>
                </div>

                <div class="div-3">
                    <div class="titG">País:</div>
                    <div class="selectA borde_redondeado">
                        @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.Paises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais" })
                    </div>
                    <div class="titG">Estado:</div>
                    <div class="selectA borde_redondeado">
                        @Html.DropDownListFor(model => model.EstadoComentarioID, new SelectList(Model.EstadosComentario, "EstadoComentarioProductoId", "Nombre"), "-- Seleccionar --", new { id = "ddlEstadoComentario" })
                    </div>
                </div>

                <div class="div-3">
                    <div class="titG">Tipo:</div>
                    <div class="selectA borde_redondeado">
                        @Html.DropDownListFor(model => model.TipoComentarioID, new SelectList(Model.TiposComentario, "TipoComentarioProductoId", "Nombre"), "-- Seleccionar --", new { id = "ddlTipoComentario" })
                    </div>
                    <div id="divSAP" style="display:none">
                        <div class="titG">SAP:</div>
                        <div class="selectA borde_redondeado">
                            @Html.TextBoxFor(model => model.SAP, new { id = "txtSAP", maxlength = "20" })
                        </div>
                    </div>
                </div>

                <div id="divCUV" class="div-3" style="display:none">
                    <div class="titG">Campaña:</div>
                    <div class="selectA borde_redondeado">
                        @Html.DropDownListFor(model => model.CampaniaID, new SelectList(Model.Campanias, "CampaniaID", "NombreCorto"), "-- Seleccionar --", new { id = "ddlCampania" })
                    </div>
                    <div class="titG">CUV:</div>
                    <div class="selectA borde_redondeado">
                        @Html.TextBoxFor(model => model.CUV, new { id = "txtCUV", maxlength = "8" })
                    </div>
                </div>

                <div id="divBuscarComentarios" class="div-3" style="display: none;">
                    <div class="input_search">
                        <input type="button" value="Buscar" id="BuscarComentarios" name="" style="float: right; margin-right: 110px;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrap" id="contenedor-grilla-producto-comentario" style="display: none;">
        <div class="container clearfix">
            <div class="border-wrapper">
                <table id="tabla-producto-comentario"></table>
                <div id="pager-producto-comentario"></div>
            </div>
        </div>
    </div>
</div>

<div id="loadingScreen"></div>

@section scripts{
    <script src="~/Scripts/PortalConsultoras/ProductoComentario/ProductoComentarioAdmModule.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            settings = {
                listarCampaniasUrl: '@Url.Action("ObtenerCampaniasPorUsuario", "BaseAdm")',
                listarProductoComentarioUrl: '@Url.Action("ListarProductoComentario", "ProductoComentario")',
                imagenEnableUrl : '@Url.Content("~/Content/Images/like.png")',
                imagenDisableUrl: '@Url.Content("~/Content/Images/dislike.png")',
                actualizarEstadoProductoComentarioUrl: '@Url.Action("ActualizarEstadoProductoComentario", "ProductoComentario")',
            };
            productoComentarioAdmModule.ini(settings);
        });
    </script>
}
