@{
    ViewBag.Title = "Pago en Línea";
}
<!-- Titulo -->
<div class="fondo_f9f9f9">
    <div class="content_belcorp content_belcorp_misPedidos">
        <div class="fondo_negro_lateral"></div>
        <div class="titulo_interiores"><span>PAGO EN LÍNEA</span></div>
    </div>
    <hr class="clear" />
    <div class="linea_separadora" style="margin-top:-1px"></div>
</div>
<!-- Fin titulo-->
<div class="content_belcorp">
    <div class="pestana_lbel"></div>
    <div class="EstadoCuenta">
        <div class="content_left_pagos">
            <form class="formulario_actualizar_datos">
                <div class="datos_consultora">
                    <div class="datos_consultora_textos">
                        <div class="datos_cod_usuario">
                            <span>Tu Código de usuario:</span>
                            <span id="codigoUsuario">@ViewBag.CodigoConsultoraDL</span>
                        </div>
                        <div class="datos_nombre_usuario">
                            <span>Tu Nombre completo:</span>
                            <span id="nombresUsuario">@ViewBag.NombreCompleto</span>
                        </div>
                        <div class="datos_nombre_usuario">
                            <span>Vencimiento del pago:</span>
                            <span id="nombreGerenteZonal">@ViewBag.FechaVencimiento</span>
                        </div>
                        <div class="datos_nombre_usuario">
                            <span>Pago total:</span>
                            <span id="monedaPagoTotal" class="lblMoneda">@ViewBag.Simbolo</span>
                            <span id="pagoTotal">@ViewBag.SaldoActual</span>
                        </div>
                        <div class="datos_nombre_usuario">
                            <span>Pago parcial:</span>
                            <span id="monedaPagoParcial" class="lblMoneda">@ViewBag.Simbolo</span>
                            <span id="monedaPagoParcial" class="lblMoneda">
                                <input type="text" name="txtPagoParcial" id="txtPagoParcial" />
                            </span>
                        </div>
                        @*<div class="enlace_cambiarContraseniachkAceptoContratoMD">
                                <a href="javascript:;" class="cambiar_contrasenia misDatosContraseniaEnlace">CAMBIAR CONTRASEÑA</a>
                            </div>*@
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="content_derecha_pagos">
        <div class="resumen_pagos">
            <div class="titulo_detalle_pago_img" style="float: none; display: inline-block; vertical-align: middle; margin-left: -11px; ">
            </div>
            <div style="display:inline-block; vertical-align:middle">
                RESUMEN<b> DE PAGO</b>
            </div>
            <table>
                <tbody>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;@ViewBag.Simbolo</td>
                    </tr>
                    <tr>
                        <td>&nbsp;Saldo a Pagar</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;Comisión()</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;Total a Pagar</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;Saldo Restante<br />al @DateTime.Today.ToShortDateString()</td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div style="clear:both;"></div>
    <div>
        <div>
            <input type="checkbox" name="chkAceptoTerminos" id="chkAceptoTerminos" />
            <span id="textoAceptoTerminos">He leído y acepto los terminos y condiciones</span>
        </div>
        <div>
            <textarea name="areaTerminosCondiciones" id="areaTerminosCondiciones" cols="20" rows="2"></textarea>
            <input type="text" name="txtTerminosCondiciones" id="txtTerminosCondiciones" />
        </div>
    </div>
    <div style="clear:both;">
        <div></div>
        <div>
            <a class="pagar_btn" id="btnPagar">PAGAR</a>

            @*<form id="formBoton" action="token.aspx" method="post" runat="server">
                <script id="javascriptBoton" src='https://static-content.vnforapps.com/v1/js/checkout.js?qa=true'
                        data-sessiontoken='@ViewBag.SessionToken'
                        data-merchantid='@ViewBag.MerchantId'
                        data-merchantlogo='@ViewBag.MerchantLogo'
                        data-formbuttoncolor='@ViewBag.ButtonColor'
                        data-purchasenumber='@ViewBag.PurchaseNumber'
                        data-amount='@ViewBag.SaldoActual'
                        data-recurrence='FALSE'
                        data-recurrencetype=''
                        data-recurrencefrequency=''
                        data-recurrenceamount='0'></script>
            </form>*@
        </div>
    </div>
