@using Portal.Consultoras.Common;
@using Portal.Consultoras.Web.Models.PagoEnLinea;
@model PagoEnLineaModel

@{
    ViewBag.Title = "Pago en Línea";
}

@section styles{
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Site/Esika/pago-en-linea.css")">
}

<div class="fondo_f9f9f9">
    <div class="content_belcorp content_belcorp_misPedidos">
        <div class="fondo_negro_lateral"></div>
        <div class="titulo_interiores"><span>PAGO EN LÍNEA</span></div>
    </div>
    <hr class="clear" />
    <div class="linea_separadora" style="margin-top:-1px"></div>
</div>

<div class="content_belcorp">
    <div class="pestana_lbel"></div>

    <div class="proceso_de_pago_en_linea">
        <div class="cantidad_pasos_proceso_pago">

            <span class="paso_proceso_pago_en_linea paso_activo">1</span>
            <span class="paso_proceso_pago_en_linea">2</span>
            <span class="paso_proceso_pago_en_linea mr-0">3</span>

            <div class="linea_conectora_pasos">
                <span class="fondo_pasos_proceso_pago_avance"></span>
            </div>
        </div>

        <div class="seleccion_metodo_y_tipo_de_pago">
            <div class="seleccion_tipo_pago">
                <h3 class="titulo_seleccion_tipo_pago">SELECCIONA EL TIPO DE PAGO</h3>

                <input type="hidden" id="hdMontoDeuda" value="@Model.MontoDeuda" name="MontoDeuda" />
                <input type="hidden" id="hdPorcentajeGastosAdministrativos" value="@Model.PorcentajeGastosAdministrativos" name="PorcentajeGastosAdministrativos" />

                @foreach (var item in Model.ListaTipoPago)
                {
                    if (item.Codigo == Constantes.PagoEnLineaTipoPago.PagoTotal)
                    {
                    <div class="monto_total_pago_en_linea opcionPagoDesktop">
                        <div class="col_izq">
                            <h4 class="titulo_pago_total">@item.Descripcion:</h4>
                            <div class="monto_total_a_pagar">

                                <span>@Model.Simbolo </span>
                                <span>@Model.MontoDeudaString</span>
                            </div>
                            <div class="fecha_vencimiento_monto_total">
                                <span>Vence</span>
                                <span>@Model.FechaVencimientoString</span>
                            </div>
                            <div>
                                Monto: @Model.MontoDeudaString
                            </div>
                            <div>
                                Gastos Adm. (@Model.PorcentajeGastosAdministrativos%): @Model.MontoGastosAdministrativosString
                            </div>
                            <div>
                                TOTAL POR PAGAR: @Model.MontoDeudaConGastosString
                            </div>
                            <button type="button" class="cta_pago_en_linea btn_pago_credito_visa" id="btnPagoTotal">
                                <span>
                                    Continuar
                                </span>
                            </button>
                        </div>
                        <div class="col_der">
                            <input type="radio" id="rbPagoTotal" name="opcionPago" value="1" checked />
                            <label for="rbPagoTotal">
                                <span></span>
                            </label>
                        </div>
                    </div>
                    }
                    if (item.Codigo == Constantes.PagoEnLineaTipoPago.PagoParcial)
                    {
                        <div class="monto_parcial_pago_en_linea opcionPagoDesktop">
                            <div class="col_izq">
                                <h4 class="titulo_pago_parcial">@item.Descripcion:</h4>
                                <div class="monto_editable_pago_en_linea">
                                    <span>@Model.Simbolo </span>
                                    <input type="text" class="monto_a_editar" id="txtMontoParcial"
                                           placeholder="@Util.DecimalToStringFormat(0, Model.CodigoIso)"
                                           value="" onkeypress="return FuncionesGenerales.ValidarSoloDecimalPositivo(event, this, true);" />
                                </div>
                                <div>
                                    Monto: <span id="spnMontoParcial">@Util.DecimalToStringFormat(0, Model.CodigoIso)</span>
                                </div>
                                <div>
                                    Gastos Adm. (@Model.PorcentajeGastosAdministrativos%): <span id="spnMontoGastosAdministrativos">@Util.DecimalToStringFormat(0, Model.CodigoIso)</span>
                                </div>
                                <div>
                                    TOTAL POR PAGAR: <span id="spnMontoParcialConGastos">@Util.DecimalToStringFormat(0, Model.CodigoIso)</span>
                                </div>
                                <button type="button" class="cta_pago_en_linea btn_pago_credito_visa" id="btnPagoParcial">
                                    <span>
                                        Continuar
                                    </span>
                                </button>
                            </div>
                            <div class="col_der">
                                <input type="radio" id="rbPagoParcial" name="opcionPago" value="2" />
                                <label for="rbPagoParcial">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

        <div>
            PAGA SEGURO CON
            @foreach (var itemMedioPago in Model.ListaMedioPago)
            {
            <div style="width: 40px; height:20px;">
                <img src="@itemMedioPago.RutaIcono" alt="" style="width: 100%;" />
            </div>
            }
            <br />
            Recuerda habilitar tu tarjeta para Pagos por Internet.
        </div>
    </div>
</div>

@section scripts{
    <script src="@Url.Content("~/Scripts/PortalConsultoras/PagoEnLinea/Index.js")"></script>    

    <script type="text/javascript">
        var rutaGuardarDatosPago = '@Url.Action("GuardarDatosPago", "PagoEnLinea")';
        var rutaPagoVisa = '@Url.Action("MetodoPago", "PagoEnLinea")';
        var tipoOrigenPantalla = 1;
    </script>
}