@using Portal.Consultoras.Common;
@using Portal.Consultoras.Web.Models.PagoEnLinea;
@model PagoEnLineaModel

@{
    ViewBag.Title = "Pago en Línea";
}

@section styles{
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Site/Esika/pago-en-linea.css")">
}

<div class="fondo_f9f9f9">
    <div class="content_belcorp content_belcorp_misPedidos">
        <div class="fondo_negro_lateral"></div>
        <div class="titulo_interiores"><span>PAGO EN LÍNEA</span></div>
    </div>
    <hr class="clear" />
    <div class="linea_separadora" style="margin-top:-1px"></div>
</div>

<div class="content_belcorp">
    <div class="pestana_lbel"></div>

    <div class="proceso_de_pago_en_linea">
        <div class="cantidad_pasos_proceso_pago">

            <span class="paso_proceso_pago_en_linea paso_activo">1</span>
            <span class="paso_proceso_pago_en_linea mr-0">2</span>

            <div class="linea_conectora_pasos">
                <span class="fondo_pasos_proceso_pago_avance"></span>
            </div>
        </div>

        <div class="seleccion_metodo_y_tipo_de_pago">
            <div class="seleccion_metodo_pago" id="divMetodoPagoVisa">
                <h3 class="titulo_seleccion_metodo_pago">Selecciona el método de pago :</h3>
                <div class="metodo_pago_seleccionado">
                    <span class="icono_marca_tarjeta">
                        <img src="@Url.Content("~/Content/Images/logo-visa.svg")" alt="Visa" />
                    </span>
                    <span class="marca_tarjeta">Tarjeta Crédito VISA</span>
                </div>
            </div>
            <div class="seleccion_tipo_pago">
                <h3 class="titulo_seleccion_tipo_pago">Selecciona el tipo de pago :</h3>
                <div class="monto_total_pago_en_linea opcionPagoDesktop">
                    <div class="col_izq">
                        <h4 class="titulo_pago_total">Pago total:</h4>
                        <div class="monto_total_a_pagar">
                            <input type="hidden" id="hdMontoDeuda" value="@Model.MontoDeuda" name="MontoDeuda" />
                            <span>@Model.Simbolo </span>
                            <span>@Model.MontoDeudaString</span>
                        </div>
                        <div class="fecha_vencimiento_monto_total">
                            <span>Vence</span>
                            <span>@Model.FechaVencimientoString</span>
                        </div>
                    </div>
                    <div class="col_der">
                        <input type="radio" id="rbPagoTotal" name="opcionPago" value="1" checked />
                        <label for="rbPagoTotal">
                            <span></span>
                        </label>
                    </div>
                </div>
                <div class="monto_parcial_pago_en_linea opcionPagoDesktop">
                    <div class="col_izq">
                        <h4 class="titulo_pago_parcial">Pago Parcial:</h4>
                        <div class="monto_editable_pago_en_linea">
                            <span>@Model.Simbolo </span>
                            <input type="text" class="monto_a_editar" id="txtMontoParcial"
                                   placeholder="@Util.DecimalToStringFormat(0,Model.CodigoIso)"
                                   value="" onkeypress="return FuncionesGenerales.ValidarSoloDecimalPositivo(event, this, true);" />
                        </div>
                    </div>
                    <div class="col_der">
                        <input type="radio" id="rbPagoParcial" name="opcionPago" value="2" />
                        <label for="rbPagoParcial">
                            <span></span>
                        </label>
                    </div>
                </div>
                <div class="info_cargo_gastos_administrativos">
                    <input type="hidden" id="hdMontoGastosAdministrativosString" value="@Model.MontoGastosAdministrativosString" />
                    *Cargo por uso plataforma online: <span id="spnPorcentajeGastosAdministrativos">@Model.PorcentajeGastosAdministrativos</span>% (<span class="tipo_moneda_pais">@Model.Simbolo </span><span class="monto_comision_pago_en_linea" id="spnMontoGastosAdministrativos">@Model.MontoGastosAdministrativosString</span>)
                </div>
            </div>
            <div class="aceptar_terminos_y_condiciones">
                <div class="area_activa_barra_activacion">
                    <div class="barra_activacion" data-estado="0">
                        <div class="control_activacion"></div>
                        <div class="tooltip_terminos_y_condiciones" style="display:none;">
                            <span>Debes aceptar los términos y condiciones</span>
                        </div>
                    </div>
                </div>
                <div class="descripcion_opcion_activacion">
                    Acepta los términos y condiciones
                </div>
            </div>
        </div>

        <div class="contenedor_info_pago_seguro_y_ctas">
            <div class="info_pago_seguro_con_tarjetas">
                <div class="icono_pago_seguro">
                </div>
                <div class="texto_info_pago_seguro">
                    <span class="texto_pago_seguro solo_visa">Pago seguro a través de</span>
                </div>
                <div class="icono_marcas_tarjetas">
                    <span class="icono_marca_visa">
                        <img src="@Url.Content("~/Content/Images/logo-visa.svg")" alt="Visa" />
                    </span>
                </div>
            </div>

            <div class="contenedor_cta">
                <button type="button" class="cta_pago_en_linea btn_pago_credito_visa" id="btnPagarVisa">
                    <span>
                        Continuar
                    </span>
                </button>
            </div>

        </div>

    </div>

    <div class="fondo_modal">
        <div class="popup_terminos_y_condiciones">
            <a href="#" class="cerrar_popup_terminos_y_condiciones" title="Cerrar">
            </a>
            <h4 class="titulo_terminos_y_condiciones">Términos y condiciones</h4>
            <div class="contenido_terminos_y_condiciones">
                <p class="descripcion_terminos_y_condiciones">
                    El uso de tarjetas de crédito o débito VISA se sujetará a los establecido en estos Términos y Condiciones y, en relación con su emisor, y a lo pactado en los respectivos contratos suscritos con el banco emisor del medio de pago.
                </p>
                <p class="descripcion_terminos_y_condiciones">
                    En caso de contradicción, predominará lo expresado en ese último instrumento. Tratándose de tarjetas bancarias aceptadas en el Sitio, los aspectos relativos a éstas, tales como fecha de emisión, caducidad, bloqueos, cobros de intereses de compra en cuotas, etc..,
                    se regirán por los respectivos contratos suscritos con el banco emisor del medio de pago.
                </p>
                <p class="descripcion_terminos_y_condiciones">
                    El uso de este medio de pago generará un gasto USO VISA de 3% del monto pagado, el cual le será cargado en su tarjeta junto con el monto a pagar determinado por el titular en cada transacción. Este gasto generará un comprobante electrónico el cual podrá ser visualizado en
                    su estado de cuenta de consultora y en la web.
                </p>
                <p class="descripcion_terminos_y_condiciones">
                    Al utilizar una tarjeta de crédito, el nombre del titular debe coincidir con el nombre utilizado al registrarse en su solicitud de crédito de consultora BELCORP. De lo contrario, se podría anular la operación bajo cualquier sospecha y/o confirmación de pago no autorizado.
                </p>
            </div>
            <div class="aceptar_terminos_y_condiciones mb-0">
                <div class="area_activa_barra_activacion">
                    <div class="barra_activacion" data-estado="0">
                        <div class="control_activacion">
                        </div>
                        <div class="tooltip_terminos_y_condiciones" style="display:none;">
                            <span>Debes aceptar los términos y condiciones</span>
                        </div>
                    </div>
                </div>
                <div class="descripcion_opcion_activacion">
                    Acepta los términos y condiciones
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts{
    <script src="@Url.Content("~/Scripts/PortalConsultoras/PagoEnLinea/Index.js")"></script>    

    <script type="text/javascript">
        var rutaGuardarDatosPago = '@Url.Action("GuardarDatosPago", "PagoEnLinea")';
        var rutaPagoVisa = '@Url.Action("PagoVisa","PagoEnLinea")';
        var tipoOrigenPantalla = 1;
    </script>
}