@using Portal.Consultoras.Common;
@using Portal.Consultoras.Web.Models.PagoEnLinea;
@model PagoEnLineaModel

@{
    ViewBag.Title = "Pago en Línea";
}

@section styles{
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Site/Esika/pago-en-linea.css")">
}

<div class="fondo_f9f9f9">
    <div class="content_belcorp content_belcorp_misPedidos">
        <div class="fondo_negro_lateral"></div>
        <div class="titulo_interiores"><span>PAGO EN LÍNEA</span></div>
    </div>
    <hr class="clear" />
    <div class="linea_separadora" style="margin-top:-1px"></div>
</div>

<a id="linkRegresar" class="btn_paso_anterior_pago_en_linea" href="@Url.Action("Index", "PagoEnLinea")">REGRESAR</a>

<div class="content_belcorp">
    <div class="pestana_lbel"></div>

    <div class="proceso_de_pago_en_linea">
        <div class="cantidad_pasos_proceso_pago">

            <span class="paso_proceso_pago_en_linea paso_activo paso_completado">1</span>
            <span class="paso_proceso_pago_en_linea paso_activo">2</span>
            <span class="paso_proceso_pago_en_linea paso_activo mr-0">3</span>

            <div class="linea_conectora_pasos">
                <span class="fondo_pasos_proceso_pago_avance"></span>
            </div>
        </div>

        <div class="vista_confirmacion_pago">
            <h3 class="titulo_seleccion_monto_a_pagar">Elige el método de pago</h3>

            @foreach (var item in Model.ListaMetodoPago)
            {
            <div class="monto_total_pago_en_linea opcionPagoDesktop">
                <div class="col_izq">
                    <h4 class="titulo_pago_total">
                        <img src="@item.RutaIcono" alt="" style="width: 40px;" />@item.Descripcion
                    </h4>
                    <br />
                    <div class="monto_total_a_pagar">

                        <span>@Model.Simbolo </span>
                        <span>@Model.MontoDeudaConGastosString</span>
                    </div>
                    <div class="aceptar_terminos_y_condiciones">
                        <div class="descripcion_opcion_activacion">
                            Al presionar continuar aceptas los <a id="lnkAceptaTerminosCondiciones" style="text-decoration: underline;">términos y condiciones</a>
                        </div>
                    </div>

                    @if (Constantes.PagoEnLineaMetodoPago.PasarelaVisa == item.TipoPasarelaCodigoPlataforma)
                    {
                        <div class="contenedor_btn_pagar_con_visa">                            
                            <form id="formBoton" action="@Url.Action("PagoVisaResultado", "PagoEnLinea")" method="post">
                                <script id="javascriptBoton" src="@Model.PagoVisaModel.UrlLibreriaPagoVisa"
                                        data-sessiontoken="@Model.PagoVisaModel.SessionToken"
                                        data-merchantid="@Model.PagoVisaModel.MerchantId" data-merchantlogo="@Model.PagoVisaModel.MerchantLogo"
                                        data-formbuttoncolor="@Model.PagoVisaModel.FormButtonColor" data-purchasenumber="@Model.PagoVisaModel.PurchaseNumber"
                                        data-amount="@Model.PagoVisaModel.Amount" data-recurrence="@Model.PagoVisaModel.Recurrence"
                                        data-recurrencetype="@Model.PagoVisaModel.RecurrenceType" data-recurrencefrequency="@Model.PagoVisaModel.RecurrenceFrequency"
                                        data-recurrenceamount="@Model.PagoVisaModel.RecurrenceAmount"
                                        data-usertoken="@Model.PagoVisaModel.TokenTarjetaGuardada"
                                        data-buttonsize="LARGE"></script>
                            </form>
                        </div>
                    }
                    else
                    {
                        <button type="button" class="cta_pago_en_linea btn_pago_credito_visa" data-metodopago="@item.TipoPasarelaCodigoPlataforma">
                            <span>
                                Continuar
                            </span>
                        </button>
                    }
                </div>
                <div class="col_der">
                    <input type="radio" id="rbPagoTotal" name="opcionPago" value="1" checked />
                    <label for="rbPagoTotal">
                        <span></span>
                    </label>
                </div>
            </div>
            }
        </div>        
    </div>
</div>

<div class="fondo_modal">
    <div class="popup_terminos_y_condiciones">
        <a href="#" class="cerrar_popup_terminos_y_condiciones" title="Cerrar">
        </a>
        <h4 class="titulo_terminos_y_condiciones">Términos y condiciones</h4>
        <div class="contenido_terminos_y_condiciones">
            <p class="descripcion_terminos_y_condiciones">
                El uso de tarjetas de crédito o débito VISA se sujetará a los establecido en estos Términos y Condiciones y, en relación con su emisor, y a lo pactado en los respectivos contratos suscritos con el banco emisor del medio de pago.
            </p>
            <p class="descripcion_terminos_y_condiciones">
                En caso de contradicción, predominará lo expresado en ese último instrumento. Tratándose de tarjetas bancarias aceptadas en el Sitio, los aspectos relativos a éstas, tales como fecha de emisión, caducidad, bloqueos, cobros de intereses de compra en cuotas, etc..,
                se regirán por los respectivos contratos suscritos con el banco emisor del medio de pago.
            </p>
            <p class="descripcion_terminos_y_condiciones">
                El uso de este medio de pago generará un gasto USO VISA de 3% del monto pagado, el cual le será cargado en su tarjeta junto con el monto a pagar determinado por el titular en cada transacción. Este gasto generará un comprobante electrónico el cual podrá ser visualizado en
                su estado de cuenta de consultora y en la web.
            </p>
            <p class="descripcion_terminos_y_condiciones">
                Al utilizar una tarjeta de crédito, el nombre del titular debe coincidir con el nombre utilizado al registrarse en su solicitud de crédito de consultora BELCORP. De lo contrario, se podría anular la operación bajo cualquier sospecha y/o confirmación de pago no autorizado.
            </p>
        </div>
        @*<div class="aceptar_terminos_y_condiciones mb-0">
            <div class="area_activa_barra_activacion">
                <div class="barra_activacion" data-estado="0">
                    <div class="control_activacion">
                    </div>
                    <div class="tooltip_terminos_y_condiciones" style="display:none;">
                        <span>Debes aceptar los términos y condiciones</span>
                    </div>
                </div>
            </div>
            <div class="descripcion_opcion_activacion">
                Acepta los términos y condiciones
            </div>
        </div>*@
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var colorBoton = '@Model.PagoVisaModel.FormButtonColor';
        var metodoPagoPasarelaVisa = '@Constantes.PagoEnLineaMetodoPago.PasarelaVisa';
        var metodoPagoPasarelaBelcorpPayU = '@Constantes.PagoEnLineaMetodoPago.PasarelaBelcorpPayU';
        var tipoOrigenPantalla = 1;
        var urlPasarelaPago = '@Url.Action("PasarelaPago","PagoEnLinea")';
    </script>

    <script src="@Url.Content("~/Scripts/PortalConsultoras/PagoEnLinea/MetodoPago.js")"></script>
}