@using Portal.Consultoras.Common;
@using Portal.Consultoras.Web.Models.PagoEnLinea;
@model PagoEnLineaModel

@{
    ViewBag.Title = "Pago en Línea";
}

@section styles{

    @if (System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika").Contains(ViewBag.PaisAnalytics == null ? "" : ViewBag.PaisAnalytics))
    {

        <link rel="stylesheet" href="@Url.Content("~/Content/Css/Site/Esika/pago-en-linea.css")">

    }
    else
    {
        <link rel="stylesheet" href="@Url.Content("~/Content/Css/Site/Lbel/pago-en-linea.css")">
    }

}

<div class="fondo_f9f9f9">
    <div class="content_belcorp content_belcorp_misPedidos">
        <div class="fondo_negro_lateral"></div>
        <div class="titulo_interiores"><span>PAGO EN LÍNEA</span></div>
    </div>
    <hr class="clear" />
    <div class="linea_separadora" style="margin-top:-1px"></div>
</div>

<div class="content_belcorp">
    <div class="pestana_lbel"></div>
    <div class="proceso_de_pago_en_linea">
        <a id="linkRegresar" class="btn_paso_anterior_pago_en_linea" href="@Url.Action("Index", "PagoEnLinea")">
            <span class="icono_back_arrow">
                <img src="@Url.Content("~/Content/Images/icono_volver.svg")" alt="Volver" />
            </span>
            <span class="enlace_texto">VOLVER</span>
        </a>
        <div class="clear"></div>
        <div class="cantidad_pasos_proceso_pago">

            <span class="paso_proceso_pago_en_linea paso_activo paso_completado">1</span>
            <span class="paso_proceso_pago_en_linea paso_activo">2</span>
            <span class="paso_proceso_pago_en_linea mr-0">3</span>

            <div class="linea_conectora_pasos">
                <span class="fondo_pasos_proceso_pago_avance"></span>
            </div>
        </div>

        <div class="vista_confirmacion_pago">
            <h3 class="titulo_seleccion_monto_a_pagar w-100 text-center">Elige el método de pago</h3>

            @foreach (var item in Model.ListaMetodoPago)
            {
            <div class="metodo_pago_seleccion_tarjeta metodoPago text-center">
                <div class="opcion_pago_contenido_visible_sin_desplegar opcionPagoDesktop w-100">
                    <div class="col_izq text-left">
                        <div class="icono_marca_tarjeta">
                            <img src="@item.RutaIcono" alt="" />
                        </div>
                        <h4 class="titulo_pago_total titulo_pago_total_paso_2">
                            @item.Descripcion
                        </h4>
                    </div>
                    <div class="col_der">
                        <div class="icono_flecha_despliegue">
                            <img src="@Url.Content("~/Content/Images/flecha-despliegue.svg")" alt="Desplegar contenido" />
                        </div>
                    </div>
                </div>
                <div class="opcion_pago_contenido_visible_al_desplegar w-100" style="display:none;">
                    <div class="monto_total_a_pagar mt-12 mb-14">
                        <span class="texto_descripcion_tipo_pago text-uppercase">Pago Total :</span>
                        <span class="tipo_moneda_pais">@Model.Simbolo</span>
                        <span class="monto_moneda_pais">@Model.MontoDeudaConGastosString</span>
                    </div>
                    <div class="aceptar_terminos_y_condiciones">
                        <input type="hidden" value="@item.TerminosCondiciones" data-terminos />
                        <div class="descripcion_opcion_activacion">
                            Al presionar continuar aceptas los
                            @if (item.TipoVisualizacionTyC == Constantes.PagoEnLineaMetodoPagoVisualizacionTyC.Popup)
                            {
                                <a class="ver_terminos_y_condiciones" data-tipovisualizacion="">
                                    términos y condiciones
                                </a>
                            }
                            @if (item.TipoVisualizacionTyC == Constantes.PagoEnLineaMetodoPagoVisualizacionTyC.Archivo)
                            {
                                <a class="ver_terminos_y_condiciones" target="_blank" href="@item.TerminosCondiciones">
                                    términos y condiciones
                                </a>
                            }
                        </div>
                    </div>
                    @if (Constantes.PagoEnLineaMetodoPago.PasarelaVisa == item.TipoPasarelaCodigoPlataforma)
                    {
                        <form id="formBoton" action="@Url.Action("PagoVisaResultado", "PagoEnLinea")" method="post">
                            <script id="javascriptBoton" src="@Model.PagoVisaModel.UrlLibreriaPagoVisa"
                                data-sessiontoken="@Model.PagoVisaModel.SessionToken"
                                data-merchantid="@Model.PagoVisaModel.MerchantId" data-merchantlogo="@Model.PagoVisaModel.MerchantLogo"
                                data-formbuttoncolor="@Model.PagoVisaModel.FormButtonColor" data-purchasenumber="@Model.PagoVisaModel.PurchaseNumber"
                                data-amount="@Model.PagoVisaModel.Amount" data-recurrence="@Model.PagoVisaModel.Recurrence"
                                data-recurrencetype="@Model.PagoVisaModel.RecurrenceType" data-recurrencefrequency="@Model.PagoVisaModel.RecurrenceFrequency"
                                data-recurrenceamount="@Model.PagoVisaModel.RecurrenceAmount"
                                data-usertoken="@Model.PagoVisaModel.TokenTarjetaGuardada"
                                data-buttonsize="LARGE"></script>
                        </form>
                    }
                    else
                    {
                        <button type="button"
                                class="cta_pago_en_linea btn_pago_tarjeta_credito default-background"
                                data-metodopago="@item.TipoPasarelaCodigoPlataforma"
                                data-mediopago="@item.PagoEnLineaMedioPagoId"
                                data-tipotarjeta="@item.TipoTarjeta">
                            Continuar
                        </button>
                    }
                </div>
            </div>
            }
            <!-- HD-2960 - NUEVO MÉTODO DE PAGO -->
            <div class="metodo_pago_seleccion_tarjeta metodoPago text-center">
                <div class="opcion_pago_contenido_visible_sin_desplegar opcionPagoDesktop w-100">
                    <div class="col_izq text-left">
                        <div class="icono_marca_tarjeta">
                            <img src="@Url.Content("~/Content/Images/icono_banca_por_internet.png")" alt="Pagos Banca por Internet" />
                        </div>
                        <h4 class="titulo_pago_total pt-0">
                            Pagos banca por internet
                        </h4>
                    </div>
                    <div class="col_der">
                        <div class="icono_flecha_despliegue">
                            <img src="@Url.Content("~/Content/Images/flecha-despliegue.svg")" alt="Desplegar contenido" />
                        </div>
                    </div>
                </div>
                <div class="opcion_pago_contenido_visible_al_desplegar w-100">
                    <p class="texto_informativo_lista_bancos">Te redireccionaremos al banco que elijas.</p>
                    <ul class="listado_bancos">
                        <li class="banco_nombre">
                            <a href="@ViewBag.Interbank" title="Interbank" class="enlace_banco" target="_blank">
                                <img src="@Url.Content("~/Content/Images/banco_interbank.png")" alt="Interbank" />
                            </a>
                        </li>
                         <li class="banco_nombre">
                            <a href="@ViewBag.Scotiabank" title="Scotiabank" class="enlace_banco" target="_blank">
                                <img src="@Url.Content("~/Content/Images/banco_scotiabank.png")" alt="Scotiabank" />
                            </a>
                        </li>
                        <li class="banco_nombre">
                            <a href="@ViewBag.Continental" title="BBVA" class="enlace_banco" target="_blank">
                                <img src="@Url.Content("~/Content/Images/banco_bbva.png")" alt="BBVA" />
                            </a>
                        </li>
                        <li class="banco_nombre">
                            <a href="@ViewBag.VCP" title="BCP" class="enlace_banco" target="_blank">
                                <img src="@Url.Content("~/Content/Images/banco_bcp.png")" alt="BCP" />
                            </a>
                        </li>
                        <li class="banco_nombre">
                            <a href="@ViewBag.BancoNacion" title="Banco de la Nación" class="enlace_banco" target="_blank">
                                <img src="@Url.Content("~/Content/Images/banco_de_la_nacion.png")" alt="Banco de la Nación" />
                            </a>
                        </li>
                        <li class="banco_nombre">
                            <a href="@ViewBag.Multifacil" title="Multifácil" class="enlace_banco" target="_blank">
                                <img src="@Url.Content("~/Content/Images/multi_facil.png")" alt="Multifácil" />
                            </a>
                        </li>
                        <li class="banco_nombre">
                            <a href="@ViewBag.WesterUnion" title="Western Union" class="enlace_banco" target="_blank">
                                <img src="@Url.Content("~/Content/Images/western_union.png")" alt="Wester Union" />
                            </a>
                        </li>
                        <li class="banco_nombre">
                            <a href="@ViewBag.Pichincha" title="Banco Pichincha" class="enlace_banco" target="_blank">
                                <img src="@Url.Content("~/Content/Images/banco_pichincha.png")" alt="Banco Pichincha" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- FIN - HD-2960 - NUEVO MÉTODO DE PAGO -->
        </div>        
    </div>
    <div class="popup_terminos_y_condiciones">
        <a href="#" class="cerrar_popup_terminos_y_condiciones" title="Cerrar">
        </a>
        <h4 class="titulo_terminos_y_condiciones text-uppercase">Términos y condiciones</h4>
        <div class="contenido_terminos_y_condiciones descripcion_terminos_y_condiciones" id="divContenidoTerminosCondiciones">

        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var colorBoton = '@Model.PagoVisaModel.FormButtonColor';
        var metodoPagoPasarelaVisa = '@Constantes.PagoEnLineaMetodoPago.PasarelaVisa';
        var metodoPagoPasarelaBelcorpPayU = '@Constantes.PagoEnLineaMetodoPago.PasarelaBelcorpPayU';
        var tipoOrigenPantalla = 1;
        var urlPasarelaPago = '@Url.Action("PasarelaPago","PagoEnLinea")';
    </script>

    <script src="@Url.Content("~/Scripts/PortalConsultoras/PagoEnLinea/MetodoPago.js")?v1"></script>
}