@using Portal.Consultoras.Web.Models.PagoEnLinea;
@model PagoEnLineaModel

@{
    ViewBag.Title = "Pago en Línea";
}

@section styles{
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Site/Esika/pago-en-linea.css")">
}

<div class="fondo_f9f9f9">
    <div class="content_belcorp content_belcorp_misPedidos">
        <div class="fondo_negro_lateral"></div>
        <div class="titulo_interiores"><span>PAGO EN LÍNEA</span></div>
    </div>
    <hr class="clear" />
    <div class="linea_separadora" style="margin-top:-1px"></div>
</div>

<div class="content_belcorp">
    <div class="pestana_lbel"></div>

    <div class="proceso_de_pago_en_linea">
        <div class="cantidad_pasos_proceso_pago">

            <span class="paso_proceso_pago_en_linea paso_activo paso_completado">1</span>
            <span class="paso_proceso_pago_en_linea paso_activo mr-0">2</span>

            <div class="linea_conectora_pasos">
                <span class="fondo_pasos_proceso_pago_avance"></span>
            </div>
        </div>

        <div class="vista_confirmacion_pago">
            <h3 class="titulo_seleccion_monto_a_pagar">Confirma el monto final</h3>
            <div class="resumen_pago">
                <div class="monto_pagado">
                    <span>Monto :</span>
                    <span>@Model.Simbolo @Model.MontoDeudaString</span>
                </div>
                <div class="monto_gastos_administrativos">
                    <span>Cargo plataforma online (@Model.PorcentajeGastosAdministrativos%) :</span>
                    <span>@Model.Simbolo @Model.MontoGastosAdministrativosString</span>
                </div>
                <div class="total_monto_pagado">
                    <span>Total pagado :</span>
                    <span>@Model.Simbolo @Model.MontoDeudaConGastosString</span>
                </div>
            </div>
        </div>

        <div class="contenedor_info_pago_seguro_y_ctas mt-27">
            <div class="info_pago_seguro_con_tarjetas">
                <div class="icono_pago_seguro">
                </div>
                <div class="texto_info_pago_seguro">
                    <span class="texto_pago_seguro solo_visa">Pago seguro a través de</span>
                </div>
                <div class="icono_marcas_tarjetas">
                    <span class="icono_marca_visa">
                        <img src="@Url.Content("~/Content/Images/logo-visa.svg")" alt="Visa" />
                    </span>
                </div>
            </div>

        </div>

        <div class="contenedor_btn_pagar_con_visa">
            <a id="linkRegresar" class="btn_paso_anterior_pago_en_linea" href="@Url.Action("Index","PagoEnLinea")">REGRESAR</a>
            <form id="formBoton" action="@Url.Action("PagoVisaResultado","PagoEnLinea")" method="post">
                <script id="javascriptBoton" src="@Model.PagoVisaModel.UrlLibreriaPagoVisa"
                        data-sessiontoken="@Model.PagoVisaModel.SessionToken"
                        data-merchantid="@Model.PagoVisaModel.MerchantId" data-merchantlogo="@Model.PagoVisaModel.MerchantLogo"
                        data-formbuttoncolor="@Model.PagoVisaModel.FormButtonColor" data-purchasenumber="@Model.PagoVisaModel.PurchaseNumber"
                        data-amount="@Model.PagoVisaModel.Amount" data-recurrence="@Model.PagoVisaModel.Recurrence"
                        data-recurrencetype="@Model.PagoVisaModel.RecurrenceType" data-recurrencefrequency="@Model.PagoVisaModel.RecurrenceFrequency"
                        data-recurrenceamount="@Model.PagoVisaModel.RecurrenceAmount"
                        data-usertoken="@Model.PagoVisaModel.TokenTarjetaGuardada"
                        data-buttonsize="LARGE"></script>                
            </form>
        </div>

    </div>

</div>

@section scripts{    
    <script type="text/javascript">
        var colorBoton = '@Model.PagoVisaModel.FormButtonColor';
        var tipoOrigenPantalla = 1;
    </script>

    <script src="@Url.Content("~/Scripts/PortalConsultoras/PagoEnLinea/PagoVisa.js")"></script>    
}