@using Portal.Consultoras.Web.Models.PagoEnLinea;
@model PagoEnLineaModel

@{
    ViewBag.Title = "Pago en Línea";
}

@section styles{

    @if (System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika").Contains(ViewBag.PaisAnalytics == null ? "" : ViewBag.PaisAnalytics))
    {

        <link rel="stylesheet" href="@Url.Content("~/Content/Css/Site/Esika/pago-en-linea.css")">

    }
    else
    {
        <link rel="stylesheet" href="@Url.Content("~/Content/Css/Site/Lbel/pago-en-linea.css")">
    }

}

<div class="fondo_f9f9f9">
    <div class="content_belcorp content_belcorp_misPedidos">
        <div class="fondo_negro_lateral"></div>
        <div class="titulo_interiores"><span>PAGO EN LÍNEA</span></div>
    </div>
    <hr class="clear" />
    <div class="linea_separadora" style="margin-top:-1px"></div>
</div>

<div class="content_belcorp">
    <div class="pestana_lbel"></div>

    <div class="proceso_de_pago_en_linea">

        <div class="pago_exitoso">
            <h3 class="titulo_pago_exitoso text-center">
                <span class="icono_pago_exitoso"></span>
                <span>¡Pago <b>exitoso</b>!</span>
            </h3>
            <div class="col_izq w-100">
                <p class="mensaje_felicitacion_por_pago_exitoso">
                    ¡Muy bien @Model.NombreConsultora @Model.PrimerApellido! <span class="imagen_felicitacion"><img src="@Url.Content("~/Content/Images/celebracion-img.png")" alt="Felicitaciones" /></span>
                </p>
                <p class="info_constancia_pago_exitoso">
                    Te enviamos una constancia de pago a tu correo o puedes imprimirla <a href='@Url.Action("Index", "Notificaciones")' class="enlace_ir_a_notificaciones" title="Ir A Notificaciones">aquí</a>.
                </p>
                <p class="info_horarios_efectivos_pagos">
                    @Model.MensajeInformacionPagoExitoso
                </p>
            </div>
            <div class="col_der w-100">
                <div class="resumen_pago_exitoso">
                    <h3 class="titulo_resumen_pago_exitoso">
                        Resumen del pago
                    </h3>
                    <div class="resumen_pago">
                        <div class="num_operacion">
                            <span>N° de operación:</span>
                            <span>@Model.NumeroOperacion</span>
                        </div>
                        <div class="monto_pagado">
                            <span>Nro. Tarjeta:</span>
                            <span>@Model.TarjetaEnmascarada</span>
                        </div>
                        <div class="monto_pagado">
                            <span>Fecha de Pago:</span>
                            <span>@Model.FechaCreacionString</span>
                        </div>
                        <div class="monto_pagado">
                            <span>Monto:</span>
                            <span>@Model.Simbolo @Model.MontoDeudaString</span>
                        </div>
                        <div class="monto_gastos_administrativos">
                            <span>@ViewBag.PagoEnLineaCargoLabel:</span>
                            <span>@Model.Simbolo @Model.MontoGastosAdministrativosString</span>
                        </div>
                        <div class="total_monto_pagado">
                            <span>Total pagado:</span>
                            <span>@Model.Simbolo @Model.MontoDeudaConGastosString</span>
                        </div>
                        <div class="monto_saldo_pendiente">
                            <div>Saldo pendiente:</div>
                            <div>
                                <span>@Model.Simbolo</span>
                                <span>@Model.SaldoPendienteString</span>
                            </div>
                        </div>
                        <div class="fecha_vencimiento_saldo_pendiente">
                            <span>Vencimiento:</span>
                            <span>@Model.FechaVencimientoString</span>
                        </div>
                    </div>
                </div>
            </div>
            <p class="terminos_web text-center">Revisar Términos y Condiciones de Uso Web <a href="@ViewBag.UrlCondiciones" class="enlace_ir_a_notificaciones" target="_blank">Aquí</a></p>
        </div>

    </div>

 </div>

@section scripts{
    <script type="text/javascript">
        var listaIconoLluvia = new Array();

        listaIconoLluvia[0] = '@Url.Content("~/Content/Images/confetti-rombo.svg")';
        listaIconoLluvia[1] = '@Url.Content("~/Content/Images/confetti-estrella.svg")';
        listaIconoLluvia[2] = '@Url.Content("~/Content/Images/confetti-circulo.svg")';
        listaIconoLluvia[3] = '@Url.Content("~/Content/Images/confetti-ondas.svg")';

        $(document).ready(function () {
            dataLayer.push({
                'event': 'virtualEvent',
                'category': 'Pago en Línea',
                'action': 'Clic en Botón',
                'label': 'Pago Exitoso'
            });
        });
    </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/nieve.js")"></script>
}