@{
    ViewBag.Title = "Pago en Línea";
}

@section styles{

    @if (System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika").Contains(ViewBag.PaisAnalytics == null ? "" : ViewBag.PaisAnalytics))
    {

        <link rel="stylesheet" href="@Url.Content("~/Content/Css/Site/Esika/pago-en-linea.css")">

    }
    else
    {
        <link rel="stylesheet" href="@Url.Content("~/Content/Css/Site/Lbel/pago-en-linea.css")">
    }

}

<div class="fondo_f9f9f9">
    <div class="content_belcorp content_belcorp_misPedidos">
        <div class="fondo_negro_lateral"></div>
        <div class="titulo_interiores"><span>PAGO EN LÍNEA</span></div>
    </div>
    <hr class="clear" />
    <div class="linea_separadora" style="margin-top:-1px"></div>
</div>

<div class="content_belcorp">
    <div class="pestana_lbel"></div>

    <div class="proceso_de_pago_en_linea">

        <div class="pago_rechazado">
            <h3 class="titulo_pago_rechazado text-center">
                <span class="icono_pago_rechazado"></span>
                <span>¡Pago <b>rechazado</b>!</span>
            </h3>
            <p class="mensaje_pago_rechazado">
                Tu pago no se pudo realizar.
            </p>
        </div>
        @if (!string.IsNullOrEmpty(Model.DescripcionCodigoAccion))
    {
        <div class="resumen_pago resumen_pago_rechazado">
            <div class="num_operacion">
                <span>N° de operación:</span>
                <span>@Model.NumeroOperacion</span>
            </div>
            <div class="monto_pagado">
                <span>Fecha de Operación:</span>
                <span>@Model.FechaCreacionString</span>
            </div>
            <div class="monto_pagado">
                <span>Motivo de Denegación:</span>
                <span>@Model.DescripcionCodigoAccion</span>
            </div>
        </div>
    }

    </div>

</div>

@section scripts{
    
}