@{
    ViewBag.Title = "Pago en Línea";
}

@section styles{
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Site/Esika/pago-en-linea.css")">
}

<!-- Titulo -->
<div class="fondo_f9f9f9">
    <div class="content_belcorp content_belcorp_misPedidos">
        <div class="fondo_negro_lateral"></div>
        <div class="titulo_interiores"><span>PAGO EN LÍNEA</span></div>
    </div>
    <hr class="clear" />
    <div class="linea_separadora" style="margin-top:-1px"></div>
</div>
<!-- Fin - titulo-->

<div class="content_belcorp">
    <div class="pestana_lbel"></div>

    <!-- VISTA PROCESO DE PAGO EN LÍNEA -->

    <div class="proceso_de_pago_en_linea">
        <div class="cantidad_pasos_proceso_pago">

            <!-- CANTIDAD DE PASOS PROCESO PAGO EN LÍNEA -->
            <!--  Cuando el paso esté en proceso, agregar la clase paso_activo, cuando esté el paso completado agregar la clase paso_completado también -->
            <span class="paso_proceso_pago_en_linea paso_activo">1</span>
            <span class="paso_proceso_pago_en_linea mr-0">2</span>

            <!-- FIN - CANTIDAD DE PASOS PROCESO PAGO EN LÍNEA -->

            <div class="linea_conectora_pasos">
                <span class="fondo_pasos_proceso_pago_avance"></span>
            </div>
        </div>

        <!-- VISTA SELECCIÓN DE MÉTODO Y TIPO DE PAGO -->

        <div class="seleccion_metodo_y_tipo_de_pago">
            <div class="seleccion_metodo_pago">
                <h3 class="titulo_seleccion_metodo_pago">Selecciona el método de pago :</h3>
                <div class="metodo_pago_seleccionado">
                    <span class="icono_marca_tarjeta">
                        <img src="@Url.Content("~/Content/Images/logo-visa.svg")" alt="Visa" />
                    </span>
                    <span class="marca_tarjeta">Tarjeta Crédito VISA</span>
                </div>
            </div>
            <div class="seleccion_tipo_pago">
                <h3 class="titulo_seleccion_tipo_pago">Selecciona el tipo de pago :</h3>
                <div class="monto_total_pago_en_linea">
                    <div class="col_izq">
                        <h4 class="titulo_pago_total">Pago total:</h4>
                        <div class="monto_total_a_pagar">
                            <span>S/ </span>
                            <span>1000.00</span>
                        </div>
                        <div class="fecha_vencimiento_monto_total">
                            <span>Vence</span>
                            <span>15/01</span>
                        </div>
                    </div>
                    <div class="col_der">
                        <input type="radio" id="pagoTotal" name="opcionPago" value="1" checked />
                        <label for="pagoTotal">
                            <span></span>
                        </label>
                    </div>
                </div>
                <div class="monto_parcial_pago_en_linea">
                    <div class="col_izq">
                        <h4 class="titulo_pago_parcial">Pago Parcial:</h4>
                        <div class="monto_editable_pago_en_linea">
                            <span>S/ </span>
                            <input type="text" value="" placeholder="0.00" class="monto_a_editar" />
                        </div>
                    </div>
                    <div class="col_der">
                        <input type="radio" id="pagoParcial" name="opcionPago" value="2" />
                        <label for="pagoParcial">
                            <span></span>
                        </label>
                    </div>
                </div>
                <div class="info_cargo_gastos_administrativos">
                    *Cargo por gastos administrativos: 3% (<span class="tipo_moneda_pais">S/ </span><span class="monto_comision_pago_en_linea">20.00</span>)
                </div>
            </div>
            <div class="aceptar_terminos_y_condiciones">
                <div class="area_activa_barra_activacion">
                    <div class="barra_activacion" data-estado="0">
                        <div class="control_activacion"></div>
                        <!-- TOOLTIP QUE TE INDICA QUE DEBES ACEPTAR LOS TÉRMINOS Y CONDICIONES ANTES DE HACER EL PAGO -->
                        <div class="tooltip_terminos_y_condiciones" style="display:none;">
                            <span>Debes aceptar los términos y condiciones</span>
                        </div>
                        <!-- FIN - TOOLTIP QUE TE INDICA QUE DEBES ACEPTAR LOS TÉRMINOS Y CONDICIONES ANTES DE HACER EL PAGO -->
                    </div>
                </div>
                <div class="descripcion_opcion_activacion">
                    Acepta los <a href="" class="ver_terminos_y_condiciones" title="Términos y condiciones">términos y condiciones</a>
                </div>
            </div>
        </div>

        <!-- FIN - VISTA SELECCIÓN DE MÉTODO Y TIPO DE PAGO -->

        <!-- INFORMACIÓN DE PAGO SEGURO CON TARJETA DE CRÉDITO VISA (OCULTAR CUANDO LA VISTA PAGO EXITOSO ESTÉ ACTIVA) -->

        <div class="contenedor_info_pago_seguro_y_ctas">
            <div class="info_pago_seguro_con_tarjetas">
                <div class="icono_pago_seguro">
                </div>
                <div class="texto_info_pago_seguro">
                    <span class="texto_pago_seguro solo_visa">Pago seguro a través de</span>
                </div>
                <div class="icono_marcas_tarjetas">
                    <span class="icono_marca_visa">
                        <img src="@Url.Content("~/Content/Images/logo-visa.svg")" alt="Visa" />
                    </span>
                </div>
            </div>

            <!-- CALL TO ACTION PAGO EN LÍNEA -->

            <div class="contenedor_cta">
                <button type="button" class="cta_pago_en_linea btn_pago_credito_visa">
                    <span>
                        Continuar
                    </span>
                </button>
            </div>

            <!-- FIN - CALL TO ACTION PAGO EN LÍNEA -->

        </div>

        <!-- FIN - INFORMACIÓN DE PAGO SEGURO CON TARJETA DE CRÉDITO VISA (OCULTAR CUANDO LA VISTA PAGO EXITOSO ESTÉ ACTIVA) -->

    </div>

    <!-- POPUP DE TÉRMINOS Y CONDICIONES -->

    <div class="fondo_modal">
        <div class="popup_terminos_y_condiciones">
            <a href="#" class="cerrar_popup_terminos_y_condiciones" title="Cerrar">
            </a>
            <h4 class="titulo_terminos_y_condiciones">Términos y condiciones</h4>
            <p class="descripcion_terminos_y_condiciones">
                dfdsasdf sdfsd fasf as fas adfdsasdf sdfsd fasf as fas adfdsasdf sdfsd fasf as fas adfdsasdf sdfsd fasf as fas adfdsasdf sdfsd fasf as fas adfdsasdf sdfsd fasf as fas adfdsasdf sdfsd fasf as fas adfdsasdf sdfsd fasf as fas afas adfdsasdf sdfsd fasf as fas adfdsasdf sdfsd fasf as fas adfdsasdf sdfsd fasf as fas afas adfdsasdf sdfsd fasf as fas adfdsasdf sdfsd fasf as fas adfdsasdf sdfsd fasf as fas a.
            </p>
            <div class="aceptar_terminos_y_condiciones mb-0">
                <div class="area_activa_barra_activacion">
                    <div class="barra_activacion" data-estado="0">
                        <div class="control_activacion">
                        </div>
                        <!-- TOOLTIP QUE TE INDICA QUE DEBES ACEPTAR LOS TÉRMINOS Y CONDICIONES ANTES DE HACER EL PAGO -->
                        <div class="tooltip_terminos_y_condiciones" style="display:none;">
                            <span>Debes aceptar los términos y condiciones</span>
                        </div>
                        <!-- FIN - TOOLTIP QUE TE INDICA QUE DEBES ACEPTAR LOS TÉRMINOS Y CONDICIONES ANTES DE HACER EL PAGO -->
                    </div>
                </div>
                <div class="descripcion_opcion_activacion">
                    Acepta los términos y condiciones
                </div>
            </div>
        </div>
    </div>

    <!-- FIN - POPUP DE TÉRMINOS Y CONDICIONES -->

    <!-- FIN - VISTA PROCESO DE PAGO EN LÍNEA -->

    @*<div class="EstadoCuenta">
            <div class="content_left_pagos">
                <form class="formulario_actualizar_datos">
                    <div class="datos_consultora">
                        <div class="datos_consultora_textos">
                            <div class="datos_cod_usuario">
                                <span>Tu Código de usuario:</span>
                                <span id="codigoUsuario">@ViewBag.CodigoConsultoraDL</span>
                            </div>
                            <div class="datos_nombre_usuario">
                                <span>Tu Nombre completo:</span>
                                <span id="nombresUsuario">@ViewBag.NombreCompleto</span>
                            </div>
                            <div class="datos_nombre_usuario">
                                <span>Vencimiento del pago:</span>
                                <span id="nombreGerenteZonal">@ViewBag.FechaVencimiento</span>
                            </div>
                            <div class="datos_nombre_usuario">
                                <span>Pago total:</span>
                                <span id="monedaPagoTotal" class="lblMoneda">@ViewBag.Simbolo</span>
                                <span id="pagoTotal">@ViewBag.SaldoActual</span>
                            </div>
                            <div class="datos_nombre_usuario">
                                <span>Pago parcial:</span>
                                <span id="monedaPagoParcial" class="lblMoneda">@ViewBag.Simbolo</span>
                                <span id="monedaPagoParcial" class="lblMoneda">
                                    <input type="text" name="txtPagoParcial" id="txtPagoParcial" />
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="content_derecha_pagos">
            <div class="resumen_pagos">
                <div class="titulo_detalle_pago_img" style="float: none; display: inline-block; vertical-align: middle; margin-left: -11px; ">
                </div>
                <div style="display:inline-block; vertical-align:middle">
                    RESUMEN<b> DE PAGO</b>
                </div>
                <table>
                    <tbody>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;@ViewBag.Simbolo</td>
                        </tr>
                        <tr>
                            <td>&nbsp;Saldo a Pagar</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;Comisión()</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;Total a Pagar</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;Saldo Restante<br />al @DateTime.Today.ToShortDateString()</td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>*@
    @*<div style="clear:both;"></div>
        <div>
            <div>
                <input type="checkbox" name="chkAceptoTerminos" id="chkAceptoTerminos" />
                <span id="textoAceptoTerminos">He leído y acepto los terminos y condiciones</span>
            </div>
            <div>
                <textarea name="areaTerminosCondiciones" id="areaTerminosCondiciones" cols="20" rows="2"></textarea>
                <input type="text" name="txtTerminosCondiciones" id="txtTerminosCondiciones" />
            </div>
        </div>
        <div style="clear:both;">
            <div></div>
            <div>*@
    @*<a class="pagar_btn" id="btnPagar">PAGAR</a>*@
    @*<form id="formBoton" action="@Url.Action("PagoEnLinea", "PagoEnLinea")" method="post" runat="server">
                    <script id="javascriptBoton" src='https://static-content.vnforapps.com/v1/js/checkout.js?qa=true'
                            data-sessiontoken='@ViewBag.SessionToken'
                            data-merchantid='@ViewBag.MerchantId'
                            data-merchantlogo='@ViewBag.MerchantLogo'
                            data-formbuttoncolor='@ViewBag.ButtonColor'
                            data-purchasenumber='@ViewBag.PurchaseNumber'
                            data-amount='@ViewBag.SaldoActual'></script>
                </form>
            </div>
        </div>*@
</div>

@section scripts{
    <script src="@Url.Content("~/Scripts/PortalConsultoras/PagoEnLinea/Index.js")"></script>
}