@{
    ViewBag.Title = "Pagos en Línea";
}

<div class="fondo_f9f9f9">
    <div class="content_belcorp content_belcorp_misPedidos">
        <div class="fondo_negro_lateral"></div>
        <div class="titulo_interiores">MIS <span> PAGOS EN LÍNEA</span></div>

    </div>
    <hr class="clear" />
    <div class="linea_separadora" style="margin-top:-1px"></div>
</div>
<div class="content_belcorp">
    <div class="pestana_lbel"></div>
    <div class="tabla_misPedidos">
        <div class="content_mis_pedidos">
            <form id="frmPago" method="post">

                <input id="ORDERFORM" type="hidden" value="False" name="ORDERFORM">
                <input id="SHOWCONFIRM" type="hidden" value="False" name="SHOWCONFIRM">
                <input id="EMAILCUSTOMER" type="hidden" value="True" name="EMAILCUSTOMER">
                <input id="LOGIN" type="hidden" name="LOGIN" value="@ViewBag.LOGN">
                <input id="PARTNER" type="hidden" name="PARTNER" value="@ViewBag.PTNR">
                <input id="TYPE" type="hidden" name="TYPE" value="@ViewBag.TYPE">
                <input id="METHOD" type="hidden" name="METHOD" value="@ViewBag.METH">
                <input id="DESCRIPTION" type="hidden" value="Abono Cuenta - MyEbel" name="DESCRIPTION">
                <input id="EXPDATE" type="hidden" name="EXPDATE">
                <input id="NAME" type="hidden" name="NAME" value="@ViewBag.Nombre">
                <input id="ADDRESS" type="hidden" name="ADDRESS">
                <input id="CITY" type="hidden" name="CITY">
                <input id="COUNTRY" type="hidden" name="COUNTRY" value="PUERTORICO">
                <input id="ZIP" type="hidden" name="ZIP">
                <input id="EMAIL" type="hidden" name="EMAIL" value="@ViewBag.EMAIL">
                <input id="USER1" type="hidden" name="USER1" value="0282">
                <input id="USER2" type="hidden" name="USER2" value="@ViewBag.CodigoConsultora">
                <input id="USER3" type="hidden" name="USER3" value="@ViewBag.PaisID">
                <input id="CARDNUM" type="hidden" name="CARDNUM">
                <input id="AMOUNT" type="hidden" name="AMOUNT">
                <input id="RETURNURL" name="RETURNURL" type="hidden" value="@ViewBag.RURL">
                <input id="FAILEDURL" name="FAILEDURL" type="hidden">
                <input id="POSTURL" name="POSTURL" type="hidden" value="@ViewBag.PURL">
                <input id="COMMENT1" name="COMMENT1" type="hidden" value="@ViewBag.CodigoConsultora">

                <div class="titulo_detalle_pago titulo_campanias">
                    <div>INGRESAR<b>&nbsp;MONTO</b></div>
                </div>
                <div class="texto_descripcion">
                    Ingresa el monto a cancelar o abonar (Dólares)
                </div>

                <br />
                <div class="titulo_detalle_pago titulo_campanias">
                    <div>TOTAL DEUDA:&nbsp;<div id="divSaldo" style="float:right"><b>@ViewBag.SaldoActual</b></div></div>
                </div>
                <div>
                    <div class="monto_texto">Monto a Abonar:</div>
                    <div>
                        <div>
                            <input type="text" maxlength="9" id="AMOUNT2" class="pago_ingreso_datos">
                                <input type="checkbox" id="chkMontoPagar" style="float:left;">
                            <div class="check_label" style="margin-top:7px;">TODO</div>

                        </div>
                    </div>
                </div>
                <hr class="clear">
                <br />
                <div class="linea_separadora" style="height:1px;margin-top:10px;"></div>
                <br />
                <div class="titulo_detalle_pago titulo_campanias">
                    <div style="margin-top:8px;">TARJETA <b>DE CRÉDITO:</b></div>
                    <div>
                        <input id="CARDNUM2" type="text" maxlength="25" class="cuadro_tarjeta" /><img alt="Buscar Cod. Venta" src="" style="display: none" />
                    </div>
                </div>
                <br />
                <div class="texto_descripcion" style="padding-top:20px;">
                    Estas son las tarjetas que aceptamos:&nbsp;
                    
                    <div style="margin-top:10px;">
                        <img src="~/Content/Images/paypal_tarjetas.png" alt="" />
                    </div>
                </div>
                <hr class="clear">
                <div class="linea_separadora" style="height:1px;margin-top:10px;"></div>
                <div class="titulo_detalle_pago titulo_campanias">
                    <br/>
                    <div>FECHA  <b>DE VENCIMIENTO:&nbsp;</b></div>
                    <div class="select_fecha_pago">
                        <select data-val="true" id="ddlMes" name="ddlMes">
                            <option value="01">Enero</option>
                            <option value="02">Febrero</option>
                            <option value="03">Marzo</option>
                            <option value="04">Abril</option>
                            <option value="05">Mayo</option>
                            <option value="06">Junio</option>
                            <option value="07">Julio</option>
                            <option value="08">Agosto</option>
                            <option value="09">Septiembre</option>
                            <option value="10">Octubre</option>
                            <option value="11">Noviembre</option>
                            <option value="12">Diciembre</option>
                        </select>
                        <select data-val="true" id="ddlAnho" name="ddlAnho">
                        </select>
                    </div>
                </div>

                <div>
                    <div></div>
                    <div>
                        <a class="pagar_btn" id="btnPagar">PAGAR</a>
                    </div>
                </div>

                <div id="loadingScreen"></div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        var selectedTodo = false;
        var montoTotal = $("#AMOUNT2").val();
        $(document).ready(function () {

            $('#AMOUNT2').keypress(function (e) {
                var character = String.fromCharCode(e.keyCode);
                var newValue = this.value + character;
                if (isNaN(newValue) || hasDecimalPlace(newValue, 3)) {
                    e.preventDefault();
                    return false;
                }
            });

            $.getJSON(baseUrl + 'Paypal/ObtenerAnios', { paisID: 0 }, function (data) {
                if (checkTimeout(data)) {
                    var ddlAnio = $('#ddlAnho');
                    ddlAnio.empty();
                    if (data.lista.length > 0) {
                        for (var item in data.lista) {
                            if (data.lista.hasOwnProperty(item)) {

                                ddlAnio.append($('<option/>', {
                                    value: data.lista[item].substring(2, 4),
                                    text: data.lista[item]
                                }));
                            }
                        }
                    }
                }
            });

            $("#chkMontoPagar").click(function () {              
                $("#AMOUNT2").val("");
                if (this.checked) {
                    $("#AMOUNT2").val($("#divSaldo").text());
                    $("#AMOUNT2").attr("readonly", "readonly");
                } else {
                    $('#AMOUNT2').removeAttr("readonly");
                }
            });

            $('#btnPagar').click(function (event) {
                SetFechaVencimiento();
                var vMessage = "";
                var ekl = parseFloat(document.getElementById('AMOUNT2').value);
                var card = document.getElementById('CARDNUM2').value;
                if ($.trim($("#AMOUNT2").val()) == "")
                    vMessage += "- Debe ingresar el monto a Abonar.\n";
                if (ekl == 0)
                    vMessage += "- Debe ingresar un monto válido, ej. 2 o 2.00.\n";
                if (card == "")
                    vMessage += "- Debe ingresar el número de tarjeta de crédito. \n";

                if (vMessage == "")
                    RegristarDatosPago();
                else {
                    alert(vMessage);
                    return false;
                }
            });
        });

        function SetFechaVencimiento() {
            var mes = document.getElementById('ddlMes').value;
            var anho = document.getElementById('ddlAnho').value;
            var card = document.getElementById('CARDNUM2').value;
            var mont = document.getElementById('AMOUNT2').value;

            document.getElementById('EXPDATE').value = mes + anho;
            document.getElementById('CARDNUM').value = card;
            document.getElementById('AMOUNT').value = mont;
        }

        function RegristarDatosPago() {
            var resultado = false;
            var montoAbono = document.getElementById('AMOUNT2').value;
            var nroTarjeta = document.getElementById('CARDNUM2').value;
            var parametros = { accion: 'RegistrarPago', montoAbono: montoAbono, nroTarjeta: nroTarjeta };

            waitingDialog({});
            jQuery.ajax({
                type: 'POST',
                url: baseUrl + 'Paypal/InsertDatosPago',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ NroTarjeta: nroTarjeta, Monto: montoAbono }),
                async: true,
                success: function (data) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        if (data.success == true) {
                            document.getElementById("frmPago").action = "https://payflowlink.paypal.com";
                            $('#frmPago').submit();
                        }
                        else {
                            alert("Ya existe una transaccción con esta información, espere su confirmación.");
                        }
                    }
                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        alert("ERROR");
                    }
                }
            });
        }

        function hasDecimalPlace(value, x) {
            var pointIndex = value.indexOf('.');
            return pointIndex >= 0 && pointIndex < value.length - x;
        }
    </script>
}
