@using Portal.Consultoras.Common
@model Portal.Consultoras.Web.Models.MisDatosModel
@{
    ViewBag.Title = "Index";
}

<script>

    function CambiarContrasenia() {

        var oldPassword = $("#txtContraseniaAnterior").val();
        var newPassword01 = $("#txtNuevaContrasenia01").val();
        var newPassword02 = $("#txtNuevaContrasenia02").val();
        var vMessage = "";

        if (oldPassword == "")
            vMessage += "- Debe ingresar la Contraseña Anterior.\n";

        if (newPassword01 == "")
            vMessage += "- Debe ingresar la Nueva Contraseña.\n";

        if (newPassword02 == "")
            vMessage += "- Debe repetir la Nueva Contraseña.\n";

        if (newPassword01.length <= 3)
            vMessage += "- la Nueva Contraseña debe de tener mas de 6 caracteres.\n";

        if (newPassword01 != "" && newPassword02 != "") {
            if (newPassword01 != newPassword02)
                vMessage += "- Los campos de la nueva contraseña deben ser iguales, verifique.\n";
        }

        if (vMessage != "") {
            alert(vMessage);
            return false;
        } else {

            var item = {
                OldPassword: oldPassword,
                NewPassword: newPassword01
            };

            waitingDialog({});
            jQuery.ajax({
                type: 'POST',
                url: baseUrl + 'MisDatos/CambiarContrasenia',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(item),
                async: true,
                success: function (data) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        if (data.success == true) {
                            if (data.message == "0")
                                alert("La contraseña anterior ingresada es inválida");
                            else if (data.message == "1")
                                alert("Hubo un error al intentar cambiar la contraseña, por favor intente nuevamente.");
                            else if (data.message == "2")
                                alert("Se cambió satisfactoriamente la contraseña.");
                            $("#divUsuario").dialog('close');
                            return false;
                        }
                    }
                },
                error: function (data, error) {

                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        $("#divUsuario").dialog('close');
                        alert("Error en el Cambio de Contraseña");
                    }
                }
            });
        }
    }

    jQuery(document).ready(function () {

        $('#divUsuario').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 600,
            height: 350,
            draggable: true,
            title: "Cambiar Contraseña",
            buttons:
                    {
                        "Guardar": function () {
                            CambiarContrasenia();
                        },
                        "Cancelar": function () {
                            $(this).dialog('close');
                        }
                    }
        });

        $("#btnActualizar").click(function () { Actualizar(); });
        $('#ddlCompartirDatos').val($('#hdn_CompartirDatos').val());
        $("#txtEMail").keypress(function (evt) {
            var charCode = (evt.which) ? evt.which : window.event.keyCode;
            if (charCode <= 13) {
                return false;
            }
            else {
                var keyChar = String.fromCharCode(charCode);
                var re = /[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ_.@@-]/;
                return re.test(keyChar);
            }
        });
        $("#txtTelefono").keypress(function (evt) {
            var charCode = (evt.which) ? evt.which : window.event.keyCode;
            if (charCode <= 13) {
                return false;
            }
            else {
                var keyChar = String.fromCharCode(charCode);
                var re = /[0-9+ *#-]/;
                return re.test(keyChar);
            }
        });
        $("#txtCelular").keypress(function (evt) {
            var charCode = (evt.which) ? evt.which : window.event.keyCode;
            if (charCode <= 13) {
                return false;
            }
            else {
                var keyChar = String.fromCharCode(charCode);
                var re = /[0-9+ *#-]/;
                return re.test(keyChar);
            }
        });
        $("#txtSobrenombre").keypress(function (evt) {
            var charCode = (evt.which) ? evt.which : window.event.keyCode;
            if (charCode <= 13) {
                PreBuscar();
            }
            if (charCode <= 13) {
                return false;
            }
            else {
                var keyChar = String.fromCharCode(charCode);
                var re = /[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ _.-]/;
                return re.test(keyChar);
            }
        });

        $('#hrefContrato').click(function () {
            waitingDialog({});
            DownloadAttachContratoCO();
        });
        $('#hrefTerminos').click(function () {
            waitingDialog({});
            DownloadAttachContratoActualizarDatos();
    });
    });

    function VerModal() {
        $("#divUsuario").dialog("open");
        $("#txtContraseniaAnterior").val("");
        $("#txtNuevaContrasenia01").val("");
        $("#txtNuevaContrasenia02").val("");
        return false;
    }

    function Actualizar() {
        if (jQuery.trim($('#txtEMail').val()) == "") {
            $('#txtEMail').focus();
            alert("Debe ingresar EMail.\n");
            return false;
        }
        if (!validateEmail(jQuery.trim($('#txtEMail').val()))) {
            $('#txtEMail').focus();
            alert("El formato del correo electrónico ingresado no es correcto.\n");
            return false;
        }
        if (($('#txtTelefono').val() == null || $.trim($('#txtTelefono').val()) == "") &&
            ($('#txtCelular').val() == null || $.trim($('#txtCelular').val()) == "")) {
            $('#txtTelefono').focus();
            alert('Debe ingresar al menos un número de contacto: celular o teléfono.');
            return false;
        }

        waitingDialog({});
        var item = {
            CodigoUsuario: jQuery('#hdn_CodigoUsuario').val(),
            EMail: $.trim(jQuery('#txtEMail').val()),
            Telefono: jQuery('#txtTelefono').val(),
            Celular: jQuery('#txtCelular').val(),
            Sobrenombre: jQuery('#txtSobrenombre').val(),
            CorreoAnterior: $.trim(jQuery('#hdn_Correo').val()),
            NombreCompleto: jQuery('#hdn_NombreCompleto').val(),
            CompartirDatos: false,
            AceptoContrato: $('#chkAceptoContrato').is(':checked')
        };
        jQuery.ajax({
            type: 'POST',
            url: baseUrl + 'MisDatos/ActualizarDatos',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(item),
            async: true,
            success: function (data) {
                if (checkTimeout(data)) {
                    closeWaitingDialog();
                    if (data.success == true) {
                        alert(data.message);
                    }
                    else
                        alert(data.message);
                }
            },
            error: function (data, error) {
                if (checkTimeout(data)) {
                    closeWaitingDialog();
                    alert("ERROR");
                }
            }
        });
    }

    function ValidateOnlyNums(id) {
        return $("#" + id).val($("#" + id).val().replace(/[^\d]/g, ""));
    }
    function DownloadAttachPDF(requestedFile) {
        var iframe_ = document.createElement("iframe");
        iframe_.style.display = "none";
        iframe_.setAttribute("src", baseUrl + 'WebPages/DownloadPDF.aspx?file=' + requestedFile);

        if (navigator.userAgent.indexOf("MSIE") > -1 && !window.opera) { // Si es Internet Explorer

            iframe_.onreadystatechange = function () {

                switch (this.readyState) {
                    case "loading":
                        waitingDialog({});
                        break;
                    case "complete":
                    case "interactive":
                    case "uninitialized":
                        closeWaitingDialog();
                        break;
                    default:
                        closeWaitingDialog();
                        break;
                }
            };
        }
        else {
            // Si es Firefox o Chrome
            $(iframe_).ready(function () {
                closeWaitingDialog();
            });
        }
        document.body.appendChild(iframe_);
    }
    function DownloadAttachContratoCO() {
        var requestedFile = "/Content/FAQ/Contrato_CO.pdf";
        DownloadAttachPDF(requestedFile);
    }
    function DownloadAttachContratoActualizarDatos() {
        var requestedFile = "/Content/FAQ/@Model.NombreArchivoContrato" + ".pdf";
        DownloadAttachPDF(requestedFile);
    }
</script>
<div class="wrap_cab">
    <div class="filtros">
        <div class="elements">
            <div class="div-1">
                <div class="box">
                    <div class="box-t"></div>
                    <div class="box-c">
                        @if (ViewBag.Campania != null)
                        {
                            if (ViewBag.Dias == 0)
                            {
                                <p class="azul">Hoy es el cierre de <span>@ViewBag.Campania</span></p>
                            }
                            else
                            {
                                <p class="azul">Estás en <span>@ViewBag.Campania</span>, te quedan <strong>@ViewBag.Dias días</strong> para el cierre.</p>
                            }
                            <p>@ViewBag.MensajeCierreCampania</p>
                        }
                        else
                        {
                            <p>La Zona @ViewBag.CodigoZonaConsultora no se ubica en el cronograma, por favor contacte al Servicio de Atención al Cliente.</p>
                        }
                    </div>
                    <div class="box-b"></div>
                </div>
            </div>
            <div class="div-2">
                <h1><span>Mis Datos</span></h1>
            </div>
        </div>
    </div>
</div>
<div class="wrap">
    <section class="container clearfix">

        <div class="border-wrapper">
            <div class="div-3">
                <div class="titE">* Tu Código de usuario:</div>
                <div class="titI_3">
                    @Model.CodigoUsuario " - " @Model.DigitoVerificador
                </div>
                <div class="input_modifica">
                    <input type="button" onclick="return VerModal();" value="Cambiar Contraseña" />
                </div>
            </div>
            @if (@Model.UsuarioPrueba == 1)
            {
                <div class="div-3">
                    <div class="titE">
                        <div class="red_texto">
                            Consultora Asociada:
                        </div>
                    </div>
                    <div class="titI_3">
                        <div class="red_texto">
                            @Model.NombreConsultoraAsociada
                        </div>
                    </div>
                </div>
            }
            <div class="div-3">
                <div class="titE">* Tu Nombre completo:</div>
                <div class="titAuto">
                    @Model.NombreCompleto
                </div>
            </div>
            <div class="div-3">
                <div class="titE">¿Qu&eacute nombre te gustar&iacutea que te digamos?:</div>
                <div class="selectA borde_redondeado">
                    @Html.TextBoxFor(model => model.Sobrenombre, new { id = "txtSobrenombre", maxlength = "80" })
                </div>
            </div>
            <div class="div-3">
                <div class="titE">* Tu Correo Electrónico:</div>
                <div class="selectA borde_redondeado">
                    @Html.TextBoxFor(model => model.EMail, new { id = "txtEMail", maxlength = "50" })
                </div>
            </div>
            <div class="div-3">
                <div class="titE">Tu Teléfono:</div>
                <div class="selectA borde_redondeado">
                    @Html.TextBoxFor(model => model.Telefono, new { id = "txtTelefono", maxlength = "15", onblur = "return ValidateOnlyNums(this.id);" })
                </div>
            </div>
            <div class="div-3">
                <div class="titE">Tu Celular:</div>
                <div class="selectA borde_redondeado">
                    @Html.TextBoxFor(model => model.Celular, new { id = "txtCelular", maxlength = "15", onblur = "return ValidateOnlyNums(this.id);" })
                </div>
            </div>
            <div class="div-3" style="display:none">
                <div class="titE">Compartir mis datos</div>
                <div class="selectA borde_redondeado">
                    <select id="ddlCompartirDatos">
                        <option value="1">SI</option>
                        <option value="0">NO</option>
                    </select>
                </div>
            </div>

            @if (Model.PaisISO == Constantes.CodigosISOPais.Peru)
            {
                var aceptoContratoAttributes = new Dictionary<string, object> { { "id", "chkAceptoContrato" } };
                if (Model.AceptoContrato) { aceptoContratoAttributes.Add("disabled", "disabled"); }
                Model.AceptoContrato = true;

                <div class="div-3" style="margin-left:180px;">
                    <div style="float: left;">
                        @Html.CheckBoxFor(model => model.AceptoContrato, aceptoContratoAttributes)
                    </div>
                    <div class="terminosContrato">
                        Declaro que he leído los <a id="hrefTerminos" class="" style="color: #993399 ; cursor:pointer;">términos y condiciones </a>
                        sobre Protección de Datos Personales <br> y que me  encuentro de acuerdo con los mismos.
                    </div>
                </div>
            }

            <div class="div-3">
                <div class="titE">* Estos datos son obligatorios</div>
                <div class="input_add2_left">
                    <input id="btnActualizar" type="button" value="Actualizar" />
                </div>
                <div>
                    @Html.Label("", Model.CorreoAlerta, new { id = "lblCorreo", visible = true, @class = "laber_alerta" })
                </div>
            </div>
            @if (Model.PaisISO == Constantes.CodigosISOPais.Colombia)
            {
                <div class="div-3">
                    <div style="font-size:14px;margin-left:155px;">
                        <a id="hrefContrato" style="color: #0094ff;cursor:pointer;text-decoration:underline"> Conoce aquí los términos legales de tu crédito de conformidad con la nueva ley multinivel.</a>
                    </div>
                </div>
            }

            <div class="gerente_zona">Gerente de Zona</div>

            <div class="div-3">
                <div class="gerente_zona_body">
                    <div class="titC">Nombre: </div>
                    <div class="titAuto">@Model.NombreGerenteZonal</div>
                </div>
            </div>
        </div>


        <div>
        </div>

        @Html.Hidden("hdn_Correo", (string)Model.EMail)
        @Html.Hidden("hdn_CodigoUsuario", (string)Model.CodigoUsuario)
        @Html.Hidden("hdn_NombreCompleto", (string)Model.NombreCompleto)
        @Html.Hidden("hdn_CompartirDatos", Model.CompartirDatos ? "1" : "0")

    </section>
</div>
<div id="loadingScreen"></div>
<div id="divUsuario">
    <div class="Content_modalActualizar">
        <div class="div-3">
            <div class="titZ">Contraseña Anterior:</div>
            <div class="selectA borde_redondeado">
                <input type="password" id="txtContraseniaAnterior" maxlength="20" />
            </div>
        </div>
        <div class="div-3">
            <div class="titZ">Contraseña Nueva:</div>
            <div class="selectA borde_redondeado">
                <input type="password" id="txtNuevaContrasenia01" maxlength="20" />
            </div>
        </div>
        <div class="div-3">
            <div class="titZ">Repetir Contraseña Nueva:</div>
            <div class="selectA borde_redondeado">
                <input type="password" id="txtNuevaContrasenia02" maxlength="20" />
            </div>
        </div>
    </div>
</div>