@{
    ViewBag.Title = "Escala de Descuentos";
}

<!-- Titulo -->
<div class="fondo_f9f9f9">
    <div class="content_belcorp content_belcorp_misPedidos">
        <div class="fondo_negro_lateral"></div>
        <div class="titulo_interiores">ESCALA DE <span>DESCUENTOS</span></div>
    </div>
    <hr class="clear" />
    <div class="linea_separadora" style="margin-top:-1px"></div>
</div>
<div class="pestana_lbel" style="margin-left:119px;"></div><!--PESTAÑA PARA DARLE ESTILO CON LBEL-->
<!-- Fin titulo-->
<div class="content_descuento_html">
    <div class="titulo_escala">APROVECHA ESTOS EXCELENTES DESCUENTOS</div>
    <div class="subtitulo_escala">¡Tú decides cuánto quieres ganar!</div>
    <div class="texto_escala">
        <b>¿CÓMO CALCULO EL PORCENTAJE DE DESCUENTO?</b><br />
        Suma todo los productos con descuento variable y ubícate en el monto de la escala que corresponda,
        luego debes aplicar el 1% de descuento alcanzado para aquellos productos que son VARIABLES.
        Para el resto de productos, aplícale el descuento fijo correspondiente
    </div>
    <div class="title_barra">ESCALA DE DESCUENTO VARIABLE</div>
    <div class="texto_barra_lateral">
        <span>Si el monto total de tu pedido es:</span>
        <b>Tu descuento valor catálogo es:</b>
    </div>
    <div class="barra_fija_descuento">
        <div class="texto_porcentaje">
            S/. 250 a S/. 600 <br/><span>25% DSCTO</span>
            <div class="separador_porcentaje_escala"></div>
        </div>
        <div class="texto_porcentaje" style="margin-left:11%">
            S/. 601 a S/. 1200 <br /><span>30% DSCTO</span>
            <div class="separador_porcentaje_escala"></div>
        </div>
        <div class="texto_porcentaje" style="margin-left:11%">
            S/. 1201 a S/. 1900 <br /><span>35% DSCTO</span>
            <div class="separador_porcentaje_escala"></div>
        </div>
        <div class="texto_porcentaje" style="margin-left:11%">
            S/. 1901 a más <br /><span>40% DSCTO</span>
            <div class="separador_porcentaje_escala"></div>
        </div>
        <div class="barra_escala_fija"></div>
        <div class="texto_inferior_barra">Estos descuentos aplican en: Cosméticos y bijouterie de los catálogos Ésika, L'bel y Cyzone</div>
    </div>
    <hr class="clear">
    <div class="title_barra">DESCUENTO FIJO</div>
    <div style="width:80%; margin:0 auto;">
        <div class="content_descuento_detalle">
            <span>25% DSCTO</span><br/>
            en cuidado personal
        </div>
        <div class="content_descuento_detalle">
            <span>20% DSCTO</span><br />
            en promociones cosméticas, relojes, lentes, ropa y accesorios cosméticos
        </div>
        <div class="content_descuento_detalle">
            <span>10% DSCTO</span><br />
            en catálogo de expofertas
        </div>        
    </div>
    <hr class="clear">
    <div class="title_barra">SIN DESCUENTO</div>
    <div class="texto_inferior_barra" style="margin-top:-12px">Productos en la Guía de Negocio Ésika, promociones no cosméticas, muestras y material de ayuda de venta ofrecidos <br/>en la Guía de Negocio Ésika y/o catálogos.</div>
    <div class="texto_final_escala">
        <b>IMPORTANTE:</b> Todo pedido tendrá recardo por flete dependiendo del monto del pedido, peso y distancia: En Lima entre S/. 8.00 y S/. 17.00 en Provincia entre S/. 10.00 y S/. 20.00. Loreto y Madre de Dios entre S/. 20.00 y S/. 25.00. Evita el cobro del Flete Adicional pasando tu pedido en fecha. Si pasas tu pedido en fecha extemporánea de facturación se cobrará un adicional de S/.  5.00 en Lima, S/. 7.00 en Provinci y S/ 10.00 en Zonas Alejadas.
    </div>
</div>

@*<div class="wrap_cab">
    <div class="filtros">
        <div class="elements">
            <div class="div-1">
                <div class="box">
                    <div class="box-t"></div>
                    <div class="box-c">
                        @if (ViewBag.Campania != null)
                        {
                            if (ViewBag.Dias == 0)
                            {
                            <p class="azul">Hoy es el cierre de <span>@ViewBag.Campania</span></p>
                            }
                            else
                            {
                            <p class="azul">Estás en <span>@ViewBag.Campania</span>, te quedan <strong>@ViewBag.Dias días</strong> para el cierre.</p>
                            }
                            <p>@ViewBag.MensajeCierreCampania</p>
                            //R20151104
                            if (ViewBag.TieneFechaPromesa == 1)
                            { 
                                    <p>@ViewBag.MensajeFechaPromesa</p>
                            }
                        }
                        else
                        {
                            <p>La Zona @ViewBag.CodigoZonaConsultora no se ubica en el cronograma, por favor contacte al Servicio de Atención al Cliente.</p>
                        }
                    </div>
                    <div class="box-b"></div>
                </div>
            </div>
            <div class="div-2">
                <h1><span>Escala de Descuentos</span></h1>
            </div>
        </div>
    </div>
</div>*@


@*<div class="wrap">
    <div class="container clearfix container_escalaDescuento">
        <div>
           
            <img src="@ViewBag.Ruta"/>

        </div>
    </div>
</div>*@


    <div id="loadingScreen"></div>
