@using System.Globalization
@model Portal.Consultoras.Web.Models.ClienteModel
<style>
    .clienteMensajeEditar {
        display: table;
        padding-left:20px;
        padding-right:20px;
    }

    .clienteMensajeEditar span {
        vertical-align: middle;
        display: table-cell;
        padding-right: 5px;
    }
</style>

<div class="btn_cerrar_agregarUnidades">
    <a href="javascript:;" onclick="CerrarClienteDetalle();">
        <img src="@Url.Content("~/Content/Images/btn_cerrar_popup.svg")" alt="Cerrar" />
        <span class="texto_btn_cerrar">CERRAR</span>
    </a>
</div>
@{
    if (Model.ClienteID == 0)
    {
        <h6>AGREGAR <b>CLIENTE</b></h6>
    }
    else
    {
        <h6>EDITAR <b>CLIENTE</b></h6>
    }
}
<form action="" method="post">
    @Html.HiddenFor(model => model.ClienteID)
    @Html.HiddenFor(model => model.CodigoCliente)

    @Html.TextBoxFor(model => model.NombreCliente, new { placeholder = "Nombres", maxlength = "100", @class = "input-nombre", autocomplete = "off" })
    <div class="noti mensaje_producto_noExiste" id="divNotiNombre">
        <div class="noti_message red_texto_size">
            <span class="icono_advertencia_notificacion"></span>
            <span class="descripcion_mensaje">
                Por favor ingresa un nombre válido.
            </span>
        </div>
    </div>
    @Html.TextBoxFor(model => model.ApellidoCliente, new { placeholder = "Apellidos", maxlength = "100", @class = "input-nombre", autocomplete = "off" })

    @Html.TextBoxFor(model => model.Telefono, new { placeholder = "Teléfono Fijo", maxlength = "20", @class = "input-number", autocomplete = "off" })
    @Html.TextBoxFor(model => model.Celular, new { placeholder = "Celular", maxlength = "20", @class = "input-number", autocomplete = "off" })

    @Html.TextBoxFor(model => model.eMail, new { placeholder = "Correo Electrónico (Opcional)", maxlength = "80", @class = "input-correo", autocomplete = "off" })
    <div class="noti mensaje_producto_noExiste" id="divNotiCorreo">
        <div class="noti_message red_texto_size">
            <span class="icono_advertencia_notificacion"></span>
            <span class="descripcion_mensaje">
                El correo ingresado <b>no existe.</b> <br />
                Por favor ingresa un correo válido.
            </span>
        </div>
    </div>
    <input type="button" class="btnCliente_cancelar" name="cancelar" value="CANCELAR" onclick="CerrarClienteDetalle();" />
    <input type="button" class="btnCliente_agregar" name="agregarCliente" value="GUARDAR" onclick="MantenerClienteDetalle();" />
    <br />
    <br />
    <br />
    <div id="divValidationSummary"></div>
</form>

<script>
    $(".input-correo").keypress(function (evt) {
        var charCode = (evt.which) ? evt.which : window.event.keyCode;
        if (charCode <= 13) return;

        var keyChar = String.fromCharCode(charCode);
        var re = /[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ_.@@-]/;
        $('#divNotiCorreo').hide();
        $('#divNotiCorreo2').hide();
        return re.test(keyChar);
    });

    $(".input-number").keypress(function (e) {
        $(this).val($(this).val().replace(/[^\d].+/, ""));
        if ((event.which < 48 || event.which > 57)) event.preventDefault();
    });

    $(".input-nombre").keypress(function (evt) {
        var charCode = (evt.which) ? evt.which : window.event.keyCode;
        if (charCode <= 13) return;

        var keyChar = String.fromCharCode(charCode);
        var re = /[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ _.\/-]/;
        $('#divNotiNombre').hide();
        $('#divNotiNombre2').hide();
        return re.test(keyChar);
    });

    $("#form1").submit(function (e) {
        AbrirSplash();
    });

    function MantenerClienteDetalle() {
        var div = $('#divAgregarCliente');
        var vcont = 0;

        $('#divNotiNombre').hide();
        $('#divNotiCorreo').hide();

        if (jQuery.trim($(div).find('#NombreCliente').val()) == "") {
            vcont++;
            $('#divNotiNombre').show();
        }

        $("#divValidationSummary").html("");
        if (jQuery.trim($(div).find('#Telefono').val()) == "" && jQuery.trim($(div).find('#Celular').val()) == "") {
            vcont++;
            $("#divValidationSummary").html("* Debes Ingresar al menos un teléfono de contacto");
        }

        if (jQuery.trim($(div).find('#eMail').val()) != "") {
            if (!validateEmail($(div).find('#eMail').val())) {
                vcont++;
                $('#divNotiCorreo').show();
            }
        }

        if (vcont > 0) return false;

        var id = $(div).find('#ClienteID').val();
        var codigo = $(div).find('#CodigoCliente').val();
        var nombreCliente = jQuery.trim($(div).find('#NombreCliente').val());
        var apellidoCliente = jQuery.trim($(div).find('#ApellidoCliente').val());
        var correo = jQuery.trim($(div).find('#eMail').val());
        var telefono = jQuery.trim($(div).find('#Telefono').val());
        var celular = jQuery.trim($(div).find('#Celular').val());

        var item = {
            ClienteID: id,
            CodigoCliente: codigo,
            NombreCliente: nombreCliente,
            ApellidoCliente: apellidoCliente,
            Nombre: jQuery.trim(nombreCliente + " " + apellidoCliente),
            eMail: correo,
            Telefono: telefono,
            Celular: celular
        };

        AbrirSplash();

        jQuery.ajax({
            type: 'POST',
            url: baseUrl + 'Cliente/Mantener',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(item),
            async: true,
            success: function (data) {
                if (checkTimeout(data)) {
                    if (data.success == true) {
                        CerrarSplash();

                        item.CodigoCliente = data.extra.split("|")[0];
                        item.ClienteID = data.extra.split("|")[1];

                        AbrirMensaje(data.message, null, function () {
                            flagClienteDetalle = false;

                            if ($.isFunction(ClienteDetalleOK)) ClienteDetalleOK(item);
                        });

                        $('#divAgregarCliente').hide();
                    }
                    else {
                        alert(data.message);
                        CerrarSplash();
                    }
                }
            },
            error: function (data, error) {
                if (checkTimeout(data)) {
                    CerrarClienteDetalle();
                    alert(data.message);
                }
            }
        });
    }

    function CerrarClienteDetalle() {
        $('#divAgregarCliente').hide();
        $('#divNotiNombre').hide();
        $('#divNotiCorreo').hide();

        flagClienteDetalle = false;

        if ($.isFunction(ClienteDetalleCANCEL)) ClienteDetalleCANCEL();

        return false;
    }
</script>