@{
    ViewBag.Title = "MisClientes";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="fondo_f9f9f9">
    <div class="content_belcorp">
        <div class="fondo_negro_lateral"></div>
        <div class="titulo_interiores" style="width:16%;">MIS <span>CLIENTES</span></div>
    </div>
    <hr class="clear" />
    <div class="linea_separadora" style="margin-top:-1px"></div>
</div>
<div class="content_belcorp">
    <div class="pestana_lbel"></div><!--PESTAÑA PARA DARLE ESTILO CON LBEL-->
    <hr class="clear" />
    <input  type="text" class="buscador_clientes"/>
    <a class="agregar_cliente_btn" onclick="javascript: $('#divAgregarCliente').show();">AGREGAR CLIENTE</a>
    <hr class="clear" />
            <!--PGINADOR-->
        <div class="resultado_busqueda">Resultado   5 - 5  de 15 registrados</div>
        <ul class="paginador_notificaciones">
            <li class="texto_pagina">Página</li>
            <li class="flecha_paginador_atras" onclick="CambioPagina(3)"></li>
            <li style="margin-right: 6px;">
                <span class="paginas_pedidos">
                    <span class="pagina_actual">
                        <input type="text" name="paginaactual" value="1" class="ValidaNumeral" id="paginaactual" onblur="CambioPagina(-1)" data-val="1">
                    </span> de
                    <span class="paginas_totales">1</span>
                </span>
            </li>
            <li class="flecha_paginador_adelante" onclick="CambioPagina(4)"></li>
            <li><input type="text" value="10" class="numero_lista"/></li>

        </ul>
        <hr class="clear" />
        <div class="linea_separadora" style="height:2px"></div>
        <!--LISTADO ITEMS-->
        <div class="content_listado_notificaciones">
            <div class="nombre_cliente_sb texto_gris">Nombres y Apellidos</div>
            <div class="correo_clientes texto_gris">Correo</div>
            <div class="pedido_detalle_cliente texto_gris">Ver pedidos</div>
            <div class="editar_cliente texto_gris">Editar</div>
            <div class="eliminar_cliente texto_gris">Eliminar</div>
        </div>
        <div class="linea_separadora" style="margin-top:-1px"></div>
        <div class="content_listado_notificaciones">
            <div class="nombre_cliente_sb">Fiorella Goyzueta</div>
            <div class="correo_clientes">fgoyzueta@gmail.com</div>
            <div class="pedido_detalle_cliente"><a href="#"><img src="/Content/Images/icono_lupa.png"></a></div>
            <div class="editar_cliente"><a href="#" onclick="javascript: $('#divEditarCliente').show();"><img src="/Content/Images/Esika/editar_clientes.png"></a></div>
            <div class="eliminar_cliente"><a href="#" onclick="javascript: $('#divEliminarCliente').show();"><img src="/Content/Images/Esika/tacho-copy.png"></a></div>
        </div>
        <div class="content_listado_notificaciones">
            <div class="nombre_cliente_sb">Maribel Arcaya Huarisco</div>
            <div class="correo_clientes">marcay@sixto.com.pe</div>
            <div class="pedido_detalle_cliente"><a href="#"><img src="/Content/Images/icono_lupa.png"></a></div>
            <div class="editar_cliente"><a href="#" onclick="javascript: $('#divEditarCliente').show();"><img src="/Content/Images/Esika/editar_clientes.png"></a></div>
            <div class="eliminar_cliente"><a href="#" onclick="javascript: $('#divEliminarCliente').show();"><img src="/Content/Images/Esika/tacho-copy.png"></a></div>
        </div>
        
        
        <!--FIN-->
        <div class="linea_separadora" style="margin-top: -1px; margin-bottom: 17px"></div>
        <!--PGINADOR-->
        <div class="resultado_busqueda">Resultado   5 - 5  de 15 registrados</div>
        <ul class="paginador_notificaciones">
            <li class="texto_pagina">Página</li>
            <li class="flecha_paginador_atras" onclick="CambioPagina(3)"></li>
            <li style="margin-right: 6px;">
                <span class="paginas_pedidos">
                    <span class="pagina_actual">
                        <input type="text" name="paginaactual" value="1" class="ValidaNumeral" id="paginaactual" onblur="CambioPagina(-1)" data-val="1">
                    </span> de
                    <span class="paginas_totales">1</span>
                </span>
            </li>
            <li class="flecha_paginador_adelante" onclick="CambioPagina(4)"></li>
            <li><input type="text" value="10" class="numero_lista" /></li>

        </ul>
        <hr class="clear" />
    <a class="agregar_cliente_btn" onclick="javascript: $('#divAgregarCliente').show();">AGREGAR CLIENTE</a>

</div>

<!-- POPUP AGREGAR CLIENTE -->

<div class="contenedor_popup_agregarCliente mis_clientes" id="divAgregarCliente">
    <div class="popup_agregarCliente">
        <div class="btn_cerrarPopupCliente">
            <a href="javascript:;" onclick="javascript: $('#divAgregarCliente').hide();">
                <img src="@Url.Content("~/Content/Images/cerrar_04.png")" alt=" alternate text" />
            </a>
        </div>
        <h6>AGREGAR <b>CLIENTE</b></h6>
        <form action="" method="post">
            <input type="text" name="nombre" id="Nombres" value="" placeholder="Nombres y Apellidos" maxlength="50" class="input_search_form ValidaAlfabeto" />
            <input type="email" name="correoelectronico" value="" placeholder="Correo Electrónico" maxlength="80" id="Correo" class="input_search_form ValidarFormatoCorreo" />
            <input type="button" class="btnCliente_cancelar" name="cancelar" value="CANCELAR" onclick="javascript: $('#divAgregarCliente').hide();" />
            <input type="button" class="btnCliente_agregar" name="agregarCliente" value="GUARDAR" onclick="javascript: ValidarRegistroCliente();" />
        </form>
    </div>
</div>

<!-- FIN POPUP AGREGAR CLIENTE -->

<!-- POPUP EDITAR CLIENTE -->

<div class="contenedor_popup_agregarCliente mis_clientes" id="divEditarCliente">
    <div class="popup_agregarCliente">
        <div class="btn_cerrarPopupCliente">
            <a href="javascript:;" onclick="javascript: $('#divEditarCliente').hide();">
                <img src="@Url.Content("~/Content/Images/cerrar_04.png")" alt=" alternate text" />
            </a>
        </div>
        <h6>EDITAR <b>CLIENTE</b></h6>
        <form action="" method="post">
            <input type="text" name="nombre" id="Nombres" value="Fiorella Goyzueta" placeholder="Nombres y Apellidos" maxlength="50" />
            <input type="email" name="correoelectronico" value="fgoyzueta@gmail.com" placeholder="Correo Electrónico" maxlength="80" />
            <input type="button" class="btnCliente_cancelar" name="cancelar" value="CANCELAR" onclick="javascript: $('#divEditarCliente').hide();" />
            <input type="button" class="btnCliente_agregar" name="editarCliente" value="GUARDAR" />
        </form>
    </div>
</div>

<!-- FIN POPUP EDITAR CLIENTE -->

<!-- POPUP ELIMINAR CLIENTE -->

<div class="contenedor_popup_eliminarCliente" id="divEliminarCliente">
    <div class="popup_eliminarCliente">
        <div class="btn_cerrar_eliminarCliente">
            <a href="javascript:;" onclick="javascript: $('#divEliminarCliente').hide();">
                <img src="@Url.Content("~/Content/Images/cerrar_04.png")" alt=" alternate text" />
            </a>
        </div>
        <div class="contenido_popUp eliminarCliente">
            <div class="icono_advertencia"></div>
            <h1><b>IMPORTANTE</b></h1>
            <span class="mensaje_eliminarCliente">¿Estás seguro que quieres eliminar a tu cliente?</span>
            <div class="btn_grupo_eliminarCliente">
                <button type="button" name="btn_eliminarCliente" class="btn_eliminarCliente">
                    SI, DESEO ELIMINARLO
                </button>
                <button type="button" name="btn_noEliminarCliente" class="btn_noEliminarCliente">
                    NO ELIMINAR
                </button>
            </div>
        </div>
    </div>
</div>

<!-- FIN POPUP ELIMINAR CLIENTE -->
<!-- POPUP DETALLE PEDIDO CLIENTE -->
<div class="popup_detalle_cliente">
    <div class="content_popUp">
        <div class="btn_cerrar_popup_pedidosFacturados" data-accion="close">
            <a href="#" title="Cerrar Popup">
                <img src="@Url.Content("~/Content/Images/btn_cerrar_popupPercepcion.png")" alt="Cerrar" />
            </a>
            <div class="clear"></div>
        </div>
        <div class="pedidosFacturados_campania">
            <span></span>
            <h1>MIS&nbsp;<b>PEDIDOS FACTURADOS</b></h1>
            <form>
                <select data-selectcamp="">C-09</select>
            </form>
        </div>
        <div class="contenedor_bloque_datos">
            <span class="texto_descripcion">Estos son productos facturados por SomosBelcorp.com, donde encontrarás todos los productos que llegaron en tu caja de pedido.</span>
            <div class="icono_imprimir">
                <a href="#" title="Imprimir">
                    <img src="@Url.Content("~/Content/Images/imprimir.png")" alt="Imprimir" onclick="Imprimir();" />
                </a>
            </div>
            <div class="icono_excel">
                <a href="#" title="Descargar Excel">
                    <img src="@Url.Content("~/Content/Images/icono-excel.png")" alt="Descargar Excel" onclick="ExportExcelFacturado(this);" />
                </a>
            </div>
            <div class="linea_separadora" style="height:2px; margin-top:21px;"></div>
        </div>
        <!--CONTENIDO TABLAS FACTURADOS-->
        <div id="divContenidofacturado">

        </div>
    </div>
</div>