@model Portal.Consultoras.Web.Models.ConfiguracionValidacionModel
@using Portal.Consultoras.Common;
@{
    ViewBag.Title = "Configuración Validación";
}
<script type="text/javascript">
    var chkId = [];
    $(function () {

        $('#txtNroDias').keyup(function (evt) {
            var theEvent = evt || window.event;
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
            var regex = /[0-9]|\./;
            if (!regex.test(key)) {
                theEvent.returnValue = false;
                if (theEvent.preventDefault) theEvent.preventDefault();
            }
        });

        $('#txtNroDias').keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });

        $('#PaisID').change(function () {
            var Id = $(this).val();
            Limpiar();
            if (Id != null && Id != '') {
                waitingDialog({});
                $.ajaxSetup({ cache: false });
                
                $.getJSON(baseUrl + 'ConfiguracionValidacion/ObtenerConfiguracionPedidosPorPais', { PaisID: Id }, function (data) {
                    var lbHas = $('#lbHas');
                    var lbHasStorage = $('#lbHasStorage');
                    var lbHasNot = $('#lbHasNot');
                    var lbHasNotStorage = $('#lbHasNotStorage');

                    if (data.Modelo.length > 0) {
                        $("#chkFlagNoValidados").attr("checked", data.Modelo[0].FlagNoValidados);
                        $("#hdFlag").val("1");
                        $("#txtNroDias").val(data.Modelo[0].DiasAntes);

                        $("#cboHoraInicio option").filter(function () {
                            return $(this).text() == data.Modelo[0].HoraInicio.Hours;
                        }).attr('selected', true);

                        $("#cboMinInicio option").filter(function () {
                            return $(this).text() == data.Modelo[0].HoraInicio.Minutes;
                        }).attr('selected', true);

                        $("#cboHoraCierre option").filter(function () {
                            return $(this).text() == data.Modelo[0].HoraFin.Hours;
                        }).attr('selected', true);

                        $("#cboMinCierre option").filter(function () {
                            return $(this).text() == data.Modelo[0].HoraFin.Minutes;
                        }).attr('selected', true);

                        $("#cboHoraInicioNoFacturable option").filter(function () {
                            return $(this).text() == data.Modelo[0].HoraInicioNoFacturable.Hours;
                        }).attr('selected', true);

                        $("#cboMinInicioNoFacturable option").filter(function () {
                            return $(this).text() == data.Modelo[0].HoraInicioNoFacturable.Minutes;
                        }).attr('selected', true);

                        $("#cboHoraCierreNoFacturable option").filter(function () {
                            return $(this).text() == data.Modelo[0].HoraCierreNoFacturable.Hours;
                        }).attr('selected', true);

                        $("#cboMinCierreNoFacturable option").filter(function () {
                            return $(this).text() == data.Modelo[0].HoraCierreNoFacturable.Minutes;
                        }).attr('selected', true);

                        
                        if (data.Modelo[0].HabilitarRestriccionHoraria == 1)
                            $('#chkHabilitarRestriccionHoraria').attr('checked', true);
                        else
                            $('#chkHabilitarRestriccionHoraria').removeAttr('checked');

                        SetOpcionProceso("GroupProcRegular", data.Modelo[0].ProcesoRegular);
                        SetOpcionProceso("GroupProcDA", data.Modelo[0].ProcesoDA);
                        SetOpcionProceso("GroupProcDAPRD", data.Modelo[0].ProcesoDAPRD);
                    }
                    if (data.listaZonas.length > 0) {
                        for (var item in data.listaZonas) {
                            lbHas.append($('<option/>', {
                                value: data.listaZonas[item].ZonaID,
                                text: data.listaZonas[item].Codigo
                            }));
                        }
                        for (var item in data.listaZonas) {
                            lbHasStorage.append($('<option/>', {
                                value: data.listaZonas[item].ZonaID,
                                text: data.listaZonas[item].Codigo
                            }));
                        }
                    }

                    if (data.listaZonasActivas.length > 0) {

                        for (var item in data.listaZonasActivas) {
                            lbHasNotStorage.append($('<option/>', {
                                value: data.listaZonasActivas[item].ZonaID,
                                text: data.listaZonasActivas[item].Codigo
                            }));
                        }
                        
                        var divac = document.getElementById("lbHasNot");
                        for (var item in data.listaZonasActivas) {
                            var lab = document.createElement("label");

                            if (lab.attachEvent) {
                                evento(lab, true, data.listaZonasActivas[item].ZonaID);
                            }
                            else {
                                evento(lab, false, data.listaZonasActivas[item].ZonaID);
                            }
                            var chk = document.createElement("input");
                            chk.type = "checkbox";
                            chk.name = "checbx";
                            chk.value = data.listaZonasActivas[item].ZonaID;
                            if (data.listaZonasActivas[item].ValidacionActiva == 1)
                                chk.setAttribute("checked", true);
                            lab.appendChild(chk);
                            lab.innerHTML += data.listaZonasActivas[item].Codigo;
                            divac.appendChild(lab);
                        }
                    }
                    closeWaitingDialog();
                });
            }
        });

        $('#btnGrabar').click(function () {
            GuardarPedido();
        });
    });

    function evento(elem, isAttach, id) {
        if (isAttach)
            elem.attachEvent("onclick", function () {
                chkId = [];
                chkId.push(id);
                $('#lbHasNot').find('label').removeClass("active");
                elem.className = "active"
            });
        else
            elem.addEventListener('click', function () {
                chkId = [];
                chkId.push(id);
                $('#lbHasNot').find('label').removeClass("active");
                elem.className = "active";
            }, false);
    }

    function Filter(toFilterID, filter) {
        var newOptions = [];
        var toFilter = document.getElementById(toFilterID);
        var toFilterStorage = document.getElementById(toFilterID.concat("Storage")).options;

        for (var i = 0; i < toFilterStorage.length; i++) {
            if (toFilterStorage[i].text.toLowerCase().indexOf(filter.toLowerCase()) != -1) {
                newOptions.push(new Option(toFilterStorage[i].text, toFilterStorage[i].value));
            }
        }
        
        if (toFilter.tagName.toLowerCase() == "div") {
            toFilter.innerHTML = "";

            for (i = 0; i < newOptions.length; i++) {
                var lab = document.createElement("label");
                if (lab.attachEvent) {
                    evento(lab, true, newOptions[i].value);
                }
                else {
                    evento(lab, false, newOptions[i].value);
                }
                lab.innerText = newOptions[i].text
                var chk = document.createElement("input");
                chk.type = "checkbox";
                chk.name = "checbx";
                chk.value = newOptions[i].value;
                lab.appendChild(chk);
                toFilter.appendChild(lab);
            }
        }
        else {
            toFilter.options.length = 0;
            for (i = 0; i < newOptions.length; i++) {
                toFilter.options.length++;
                toFilter.options[i] = newOptions[i];
                toFilter.options[i].selected = false;
            }
        }
        return;
    }

    function SortOptions(options, valueType, sortArg) {
        if (sortArg === 'text') {
            if (valueType === 'string') {
                options.sort(function (a, b) {
                    if (a.text.toLowerCase() < b.text.toLowerCase()) { return -1; }
                    if (a.text.toLowerCase() > b.text.toLowerCase()) { return 1; }
                    return 0;
                });
            } else if (valueType === 'int') {
                options.sort(function (a, b) {
                    return a.text - b.text;
                });
            }
        } else if (sortArg === 'value') {
            if (valueType === 'string') {
                options.sort();
            } else if (valueType === 'int') {
                options.sort(function (a, b) {
                    return a.value - b.value;
                });
            }
        }
    }

    function MoveSelected(fromBoxID, toBoxID, sortArg, valueType) {
        var fromBox = document.getElementById(fromBoxID);
        var toBoxStorage = document.getElementById(toBoxID.concat('Storage'));
        var fromBoxStorage = document.getElementById(fromBoxID.concat('Storage'));
        var toBoxFilterText = document.getElementById(toBoxID.concat('Filter')).value;
        var fromBoxFilterText = document.getElementById(fromBoxID.concat('Filter')).value;

        var newToBoxOptions = [];
        var newFromBoxOptions = [];
        var selectedVals = [];

        for (var i = 0; i < toBoxStorage.options.length; i++) {
            newToBoxOptions.push(toBoxStorage.options[i]);
        }
        
        if (fromBox.tagName.toLowerCase() == "div") {
            var labels = fromBox.getElementsByTagName("label");
            for (i = 0; i < labels.length; i++) {
                for (m = 0; m < chkId.length; m++) {
                    if (labels[i].children.checbx.value == chkId[m]) {
                        newToBoxOptions.push(new Option(labels[i].innerText, chkId[m]));
                        selectedVals.push(chkId[m]);
                    }
                }
            }
        }
        else {
            for (i = 0; i < fromBox.options.length; i++) {
                if (fromBox.options[i].selected) {
                    newToBoxOptions.push(fromBox.options[i]);
                    selectedVals.push(fromBox.options[i].value);
                }
            }
        }

        var l = fromBoxStorage.options.length;
        for (var j = 0; j < selectedVals.length; j++) {
            for (i = 0; i < l; i++) {
                if (fromBoxStorage.options[i].value == selectedVals[j]) {
                    fromBoxStorage.options[i] = null;
                    break;
                }
            }
        }

        for (i = 0; i < fromBoxStorage.options.length; i++) {
            newFromBoxOptions.push(fromBoxStorage.options[i]);
        }


        toBoxStorage.options.length = 0;
        fromBoxStorage.options.length = 0;

        SortOptions(newToBoxOptions, valueType, sortArg);
        SortOptions(newFromBoxOptions, valueType, sortArg);

        for (i = 0; i < newFromBoxOptions.length; i++) {
            fromBoxStorage.options.length++;
            fromBoxStorage.options[i] = newFromBoxOptions[i];
            fromBoxStorage.options[i].selected = false;
        }

        for (i = 0; i < newToBoxOptions.length; i++) {
            toBoxStorage.options.length++;
            toBoxStorage.options[i] = new Option(newToBoxOptions[i].text, newToBoxOptions[i].value);
            toBoxStorage.options[i].selected = false;
        }

        Filter(toBoxID, toBoxFilterText);
        Filter(fromBoxID, fromBoxFilterText);
        chkId = [];
    }

    function MoveAll(fromBoxID, toBoxID, sortArg, valueType) {
        chkId = [];
        var fromBox = document.getElementById(fromBoxID);
        if (fromBox.tagName.toLowerCase() == "div") {
            var lst = fromBox.getElementsByTagName("label");
            for (var i = 0; i < lst.length; i++) {
                chkId.push(lst[i].children.checbx.value);
            }
        }
        else {
            for (var i = 0; i < fromBox.options.length; i++) {
                fromBox.options[i].selected = true;
            }
        }

        MoveSelected(fromBoxID, toBoxID, sortArg, valueType);
    }

    function ClearFilter(toClearID) {
        var toClearFilter = document.getElementById(toClearID.concat('Filter'));
        toClearFilter.value = "";
        Filter(toClearID, "");
    }

    function GuardarPedido() {
        waitingDialog({});
        var PaisID = jQuery.trim($("#PaisID").val());

        var HoraInicio = $("#cboHoraInicio option:selected").text();
        var MinutosInicio = $("#cboMinInicio option:selected").text();
        var HoraCierre = $("#cboHoraCierre option:selected").text();
        var MinutosCierre = $("#cboMinCierre option:selected").text();
        var HoraInicioNoFacturable = $("#cboHoraInicioNoFacturable option:selected").text();
        var MinutosInicioNoFacturable = $("#cboMinInicioNoFacturable option:selected").text();
        var HoraCierreNoFacturable = $("#cboHoraCierreNoFacturable option:selected").text();
        var MinutosCierreNoFacturable = $("#cboMinCierreNoFacturable option:selected").text();

        var NroDias = $("#txtNroDias").val();
        var lstBoxActivos = document.getElementById('lbHasNot');
        var lstBoxInactivos = document.getElementById('lbHas');
        var FlagNoValidados = $("#chkFlagNoValidados").is(":checked");

        var vMessage = "";
        if (PaisID == "")
            vMessage += "- Debe seleccionar un País.\n";

        if (NroDias == "")
            vMessage += "- Debe ingresar los números de días anteriores a la fecha de facturación.\n";

        if (parseInt(HoraInicio, 10) > parseInt(HoraCierre, 10))
            vMessage += "- La hora de Inicio no puede ser mayor a la hora de cierre.\n";
        if (parseInt(HoraInicio) == parseInt(HoraCierre)) {
            if (parseInt(MinutosInicio, 10) > parseInt(MinutosCierre, 10))
                vMessage += "- Los Minutos de la hora de Inicio no puede ser mayor a los Minutos de la Hora de Cierre.\n";
        }

        if (parseInt(HoraInicioNoFacturable, 10) > parseInt(HoraCierreNoFacturable, 10))
            vMessage += "- La hora de Inicio No Facturable no puede ser mayor a la Hora de Cierre No Facturable.\n";
        if (parseInt(HoraInicioNoFacturable, 10) == parseInt(HoraCierreNoFacturable, 10)) {
            if (parseInt(MinutosInicioNoFacturable, 10) > parseInt(MinutosCierreNoFacturable, 10))
                vMessage += "- Los Minutos de la hora de Inicio No Facturable no puede ser mayor a los Minutos de la Hora de Cierre No Facturable.\n";
        }
        if (NroDias > 21)
            vMessage += "- El número de días debe ser menor o igual a 21 .\n";

        var ProcesoRegularSeleccionado = GetOpcionProceso("GroupProcRegular");
        var ProcesoDASeleccionado = GetOpcionProceso("GroupProcDA");
        var ProcesoDAPRDSeleccionado = GetOpcionProceso("GroupProcDAPRD");

        if (ProcesoRegularSeleccionado == -1)
            vMessage += "- Debe seleccionar la opción para el proceso regular.\n";
        if (ProcesoDASeleccionado == -1)
            vMessage += "- Debe seleccionar la opción para el proceso de demanda anticipada.\n";
        if (ProcesoDAPRDSeleccionado == -1)
            vMessage += "- Debe seleccionar la opción para el proceso de demanda anticipada PRD.\n";

        
        var habilitarRestriccionHoraria = $("#chkHabilitarRestriccionHoraria").is(':checked');

        if (vMessage != "") {
            alert(vMessage);
            closeWaitingDialog();
            $('#PaisID').focus();
            return false;
        } else {
            var JsonData = {
                listaZonasActivas: [],
                listaZonas: [],
                PaisID: PaisID,
                HoraInicio: HoraInicio + ":" + MinutosInicio,
                HoraFin: HoraCierre + ":" + MinutosCierre,
                HoraInicioNoFacturable: HoraInicioNoFacturable + ":" + MinutosInicioNoFacturable,
                HoraCierreNoFacturable: HoraCierreNoFacturable + ":" + MinutosCierreNoFacturable,
                DiasAntes: NroDias,
                FlagRegistro: $("#hdFlag").val(),
                FlagNoValidados: FlagNoValidados,
                ProcesoRegular: ProcesoRegularSeleccionado,
                ProcesoDA: ProcesoDASeleccionado,
                ProcesoDAPRD: ProcesoDAPRDSeleccionado,
                HabilitarRestriccionHoraria: habilitarRestriccionHoraria
            };

            var lst = lstBoxActivos.getElementsByTagName("label");
            for (var i = 0; i < lst.length; i++) {
                JsonData.listaZonasActivas.push({
                    "ZonaID": lst[i].children.checbx.value,
                    "Codigo": lst[i].innerText,
                    "ValidacionActiva": lst[i].children.checbx.checked ? 1 : 0
                });
            }

            for (var i = 0; i < lstBoxInactivos.options.length; i++) {
                JsonData.listaZonas.push({
                    "ZonaID": lstBoxInactivos.options[i].value,
                    "Codigo": lstBoxInactivos.options[i].text
                });
            }

            
            jQuery.ajax({
                type: 'POST',
                url: baseUrl + 'ConfiguracionValidacion/Mantener',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(JsonData),
                async: true,
                success: function (data) {
                    closeWaitingDialog();
                    if (data.success == true) {
                        var item = data.items;
                        alert(data.message);
                    }
                    else {

                        alert(data.message);
                    }
                },
                error: function (data, error) {
                    closeWaitingDialog();
                    alert("Error del Sistema.");
                }
            });
        }
    }

    function GetOpcionProceso(groupName) {
        var response = -1;

        $("input:radio[name=" + groupName + "]").each(function () {
            if ($(this).is(':checked'))
                response = $(this).val();
        });

        return response;
    }

    function SetOpcionProceso(groupName, value) {
        $("input:radio[name=" + groupName + "]").each(function () {
            if ($(this).val() == value)
                $(this).attr("checked", true);
        });
    }

    function Limpiar() {
        $("#cboHoraInicio option").filter(function () {
            return $(this).text() == '00';
        }).attr('selected', true);

        $("#cboMinInicio option").filter(function () {
            return $(this).text() == '00';
        }).attr('selected', true);

        $("#cboHoraCierre option").filter(function () {
            return $(this).text() == '00';
        }).attr('selected', true);

        $("#cboMinCierre option").filter(function () {
            return $(this).text() == '00';
        }).attr('selected', true);


        $("#cboHoraInicioNoFacturable option").filter(function () {
            return $(this).text() == '00';
        }).attr('selected', true);

        $("#cboMinInicioNoFacturable option").filter(function () {
            return $(this).text() == '00';
        }).attr('selected', true);

        $("#cboHoraCierreNoFacturable option").filter(function () {
            return $(this).text() == '00';
        }).attr('selected', true);

        $("#cboMinCierreNoFacturable option").filter(function () {
            return $(this).text() == '00';
        }).attr('selected', true);

        $("#txtNroDias").val("");
        $("#hdFlag").val("0");
        $("#chkFlagNoValidados").attr("checked", false);
        $("#chkHabilitarRestriccionHoraria").attr("checked", false);

        var lbHas = $('#lbHas');
        var lbHasStorage = $('#lbHasStorage');
        var lbHasNot = $('#lbHasNot');
        var lbHasNotStorage = $('#lbHasNotStorage');
        lbHas.empty();
        lbHasStorage.empty();
        lbHasNot.empty();
        lbHasNotStorage.empty();
    }

    function paste(obj) {
        var totalCharacterCount = window.clipboardData.getData('Text');
        var strValidChars = "0123456789";
        var strChar;
        var FilteredChars = "";
        for (i = 0; i < totalCharacterCount.length; i++) {
            strChar = totalCharacterCount.charAt(i);
            if (strValidChars.indexOf(strChar) != -1) {
                FilteredChars = FilteredChars + strChar;
            }
        }
        obj.value = FilteredChars;
        return false;
    }

</script>
<input id="hdFlag" value="0" type="hidden" />
<div class="wrap_cab">

    <div class="filtros2">
        <div class="elements">
            <div class="div-2">
                <h1>Configuración de <span>Validación de Pedidos</span></h1>
            </div>
            <div class="div-3">
                <div class="titJ">País:</div>
                <div class="selectP borde_redondeado">
                    @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --")
                </div>
                <div class="titD"></div>

            </div>
            <div class="div-3">
                <div class="titJ">Hora Inicio:</div>
                <div class="selectH2 borde_redondeado">
                    <select id="cboHoraInicio">
                        <option value="0">00</option>
                        <option value="1">01</option>
                        <option value="2">02</option>
                        <option value="3">03</option>
                        <option value="4">04</option>
                        <option value="5">05</option>
                        <option value="6">06</option>
                        <option value="7">07</option>
                        <option value="8">08</option>
                        <option value="9">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                    </select>
                </div>
                <div class="titD">Hrs.</div>
                <div class="selectH2 borde_redondeado">
                    <select id="cboMinInicio">
                        <option value="0">00</option>
                        <option value="1">01</option>
                        <option value="2">02</option>
                        <option value="3">03</option>
                        <option value="4">04</option>
                        <option value="5">05</option>
                        <option value="6">06</option>
                        <option value="7">07</option>
                        <option value="8">08</option>
                        <option value="9">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                        <option value="34">34</option>
                        <option value="35">35</option>
                        <option value="36">36</option>
                        <option value="37">37</option>
                        <option value="38">38</option>
                        <option value="39">39</option>
                        <option value="40">40</option>
                        <option value="41">41</option>
                        <option value="42">42</option>
                        <option value="43">43</option>
                        <option value="44">44</option>
                        <option value="45">45</option>
                        <option value="46">46</option>
                        <option value="47">47</option>
                        <option value="48">48</option>
                        <option value="49">49</option>
                        <option value="50">50</option>
                        <option value="51">51</option>
                        <option value="52">52</option>
                        <option value="53">53</option>
                        <option value="54">54</option>
                        <option value="55">55</option>
                        <option value="56">56</option>
                        <option value="57">57</option>
                        <option value="58">58</option>
                        <option value="59">59</option>
                    </select>
                </div>
                <div class="titD">Min.</div>
                <div class="titJ">Hora Fin:</div>
                <div class="selectH2 borde_redondeado">
                    <select id="cboHoraCierre">
                        <option value="0">00</option>
                        <option value="1">01</option>
                        <option value="2">02</option>
                        <option value="3">03</option>
                        <option value="4">04</option>
                        <option value="5">05</option>
                        <option value="6">06</option>
                        <option value="7">07</option>
                        <option value="8">08</option>
                        <option value="9">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                    </select>
                </div>
                <div class="titD">Hrs.</div>
                <div class="selectH2 borde_redondeado">
                    <select id="cboMinCierre">
                        <option value="0">00</option>
                        <option value="1">01</option>
                        <option value="2">02</option>
                        <option value="3">03</option>
                        <option value="4">04</option>
                        <option value="5">05</option>
                        <option value="6">06</option>
                        <option value="7">07</option>
                        <option value="8">08</option>
                        <option value="9">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                        <option value="34">34</option>
                        <option value="35">35</option>
                        <option value="36">36</option>
                        <option value="37">37</option>
                        <option value="38">38</option>
                        <option value="39">39</option>
                        <option value="40">40</option>
                        <option value="41">41</option>
                        <option value="42">42</option>
                        <option value="43">43</option>
                        <option value="44">44</option>
                        <option value="45">45</option>
                        <option value="46">46</option>
                        <option value="47">47</option>
                        <option value="48">48</option>
                        <option value="49">49</option>
                        <option value="50">50</option>
                        <option value="51">51</option>
                        <option value="52">52</option>
                        <option value="53">53</option>
                        <option value="54">54</option>
                        <option value="55">55</option>
                        <option value="56">56</option>
                        <option value="57">57</option>
                        <option value="58">58</option>
                        <option value="59">59</option>
                    </select>
                </div>
                <div class="titD">Min.</div>
            </div>

            <div class="div-3">
                <div class="titJ">Hora Inicio No Facturable:</div>
                <div class="selectH2 borde_redondeado">
                    <select id="cboHoraInicioNoFacturable">
                        <option value="0">00</option>
                        <option value="1">01</option>
                        <option value="2">02</option>
                        <option value="3">03</option>
                        <option value="4">04</option>
                        <option value="5">05</option>
                        <option value="6">06</option>
                        <option value="7">07</option>
                        <option value="8">08</option>
                        <option value="9">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                    </select>
                </div>
                <div class="titD">Hrs.</div>
                <div class="selectH2  borde_redondeado">
                    <select id="cboMinInicioNoFacturable">
                        <option value="0">00</option>
                        <option value="1">01</option>
                        <option value="2">02</option>
                        <option value="3">03</option>
                        <option value="4">04</option>
                        <option value="5">05</option>
                        <option value="6">06</option>
                        <option value="7">07</option>
                        <option value="8">08</option>
                        <option value="9">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                        <option value="34">34</option>
                        <option value="35">35</option>
                        <option value="36">36</option>
                        <option value="37">37</option>
                        <option value="38">38</option>
                        <option value="39">39</option>
                        <option value="40">40</option>
                        <option value="41">41</option>
                        <option value="42">42</option>
                        <option value="43">43</option>
                        <option value="44">44</option>
                        <option value="45">45</option>
                        <option value="46">46</option>
                        <option value="47">47</option>
                        <option value="48">48</option>
                        <option value="49">49</option>
                        <option value="50">50</option>
                        <option value="51">51</option>
                        <option value="52">52</option>
                        <option value="53">53</option>
                        <option value="54">54</option>
                        <option value="55">55</option>
                        <option value="56">56</option>
                        <option value="57">57</option>
                        <option value="58">58</option>
                        <option value="59">59</option>
                    </select>
                </div>
                <div class="titD">Min.</div>
                <div class="titJ">Hora Cierre No Facturable:</div>
                <div class="selectH2  borde_redondeado">
                    <select id="cboHoraCierreNoFacturable">
                        <option value="0">00</option>
                        <option value="1">01</option>
                        <option value="2">02</option>
                        <option value="3">03</option>
                        <option value="4">04</option>
                        <option value="5">05</option>
                        <option value="6">06</option>
                        <option value="7">07</option>
                        <option value="8">08</option>
                        <option value="9">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                    </select>
                </div>
                <div class="titD">Hrs.</div>
                <div class="selectH2  borde_redondeado">
                    <select id="cboMinCierreNoFacturable">
                        <option value="0">00</option>
                        <option value="1">01</option>
                        <option value="2">02</option>
                        <option value="3">03</option>
                        <option value="4">04</option>
                        <option value="5">05</option>
                        <option value="6">06</option>
                        <option value="7">07</option>
                        <option value="8">08</option>
                        <option value="9">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                        <option value="34">34</option>
                        <option value="35">35</option>
                        <option value="36">36</option>
                        <option value="37">37</option>
                        <option value="38">38</option>
                        <option value="39">39</option>
                        <option value="40">40</option>
                        <option value="41">41</option>
                        <option value="42">42</option>
                        <option value="43">43</option>
                        <option value="44">44</option>
                        <option value="45">45</option>
                        <option value="46">46</option>
                        <option value="47">47</option>
                        <option value="48">48</option>
                        <option value="49">49</option>
                        <option value="50">50</option>
                        <option value="51">51</option>
                        <option value="52">52</option>
                        <option value="53">53</option>
                        <option value="54">54</option>
                        <option value="55">55</option>
                        <option value="56">56</option>
                        <option value="57">57</option>
                        <option value="58">58</option>
                        <option value="59">59</option>
                    </select>
                </div>
                <div class="titD">Min.</div>
            </div>
            <div class="div-3">
                <div class="titJ" style="line-height: 15px;">N° de Días anteriores a la fecha de Facturación:</div>
                <div class="ndias borde_redondeado">
                    <input type="text" id="txtNroDias" maxlength="3" onpaste="return paste(this);" />
                </div>
                <div class="titAuto">
                    <label>
                        <input type="checkbox" name="chkHabilitarRestriccionHoraria" id="chkHabilitarRestriccionHoraria" value="@Model.HabilitarRestriccionHoraria" />
                        Habilitar Restricción de Horario:
                    </label>
                </div>
            </div>
            <div class="div-3">
                <div class="titJC">Proc. Regular:</div>
                <div class="titAutoC">
                    <div class="">
                        <input type="radio" id="optRegularTodos" value="0" name="GroupProcRegular" />
                        Todos
                    </div>
                </div>
                <div class="titAutoC">
                    <div class="">
                        <input type="radio" id="optRegularValidado" value="@Constantes.EstadoPedido.Procesado" name="GroupProcRegular" />
                        Validado
                    </div>
                </div>
                <div class="titAutoC">
                    <div class="">
                        <input type="radio" id="optRegularNoValidado" value="@Constantes.EstadoPedido.Pendiente" name="GroupProcRegular" />
                        No Validado
                    </div>
                </div>
            </div>
            <div class="div-3">
                <div class="titJC">Proc. Demanda Ant.:</div>
                <div class="titAutoC">
                    <div class="">
                        <input type="radio" id="optDATodos" value="0" name="GroupProcDA" />
                        Todos
                    </div>
                </div>
                <div class="titAutoC">
                    <div class="">
                        <input type="radio" id="optDAValidado" value="@Constantes.EstadoPedido.Procesado" name="GroupProcDA" />
                        Validado
                    </div>
                </div>
                <div class="titAutoC">
                    <div class="">
                        <input type="radio" id="optDANoValidado" value="@Constantes.EstadoPedido.Pendiente" name="GroupProcDA" />
                        No Validado
                    </div>
                </div>
            </div>
            <div class="div-3">
                <div class="titJC">Proc. Demanda Ant.PRD:</div>
                <div class="titAutoC">
                    <div class="">
                        <input type="radio" id="optDAPRDTodos" value="0" name="GroupProcDAPRD" />
                        Todos
                    </div>
                </div>
                <div class="titAutoC">
                    <div class="">
                        <input type="radio" id="optDAPRDValidado" value="@Constantes.EstadoPedido.Procesado" name="GroupProcDAPRD" />
                        Validado
                    </div>
                </div>
                <div class="titAutoC">
                    <div class="">
                        <input type="radio" id="optDAPRDNoValidado" value="@Constantes.EstadoPedido.Pendiente" name="GroupProcDAPRD" />
                        No Validado
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="wrap">
    <div class="container clearfix">

        <div class="border-wrapper">

            <div class="zonatit">
                <h3>Zonas Inactivas</h3>
            </div>
            <div class="zonatit2">
                <h3>Zonas Activas</h3>
            </div>
            <div class="zona1">
                <input type="text" id="lbHasFilter" onkeyup="javascript:Filter('lbHas',this.value);" style="display: none" />
                @Html.ListBoxFor(s => s.listaZonas, new MultiSelectList(Model.listaZonas, "ZonaID", "Codigo"), new
           {
               id = "lbHas",
               style = "height: 200px;width:100%;"
           })
            </div>
            <div class="zona2">
                <input id="btnToHasNot" type="button" onclick="MoveSelected('lbHas', 'lbHasNot', 'text', 'string');" value=">" />
                <input id="btnAllToHasNot" type="button" onclick="MoveAll('lbHas', 'lbHasNot', 'text', 'string');" value=">>" />
                <input id="btnAllToHas" type="button" onclick="MoveAll('lbHasNot', 'lbHas', 'text', 'string');" value="<<" />
                <input id="btnToHas" type="button" onclick="MoveSelected('lbHasNot', 'lbHas', 'text', 'string');" value="<" />
            </div>
            <div class="zona3">
                <input type="text" id="lbHasNotFilter" onkeyup="javascript:Filter('divactivas',this.value);" style="display: none" />
                <div id="lbHasNot" class="list_content"></div>
            </div>
        </div>
        <div class="sep"></div>

        <div class="elements2">
            <div class="div-3">

                <div class="input_validar">
                    <input type="button" value="Grabar" id="btnGrabar" />
                </div>
            </div>
        </div>

    </div>
</div>


<div id="loadingScreen"></div>
<select id="lbHasStorage" multiple="multiple" style="height: 300px; width: 300px; display: none"></select>
<select id="lbHasNotStorage" multiple="multiple" style="height: 300px; width: 300px; display: none"></select>