@model Portal.Consultoras.Web.Models.AdmCuponModel

@{
    ViewBag.Title = "Administrar Cupón";
    Layout = "~/Views/Shared/_SACLayout.cshtml";
}

<input type="hidden" id="hdTipoConsulta" value="0" />

<div id="contenedor-cupon">
    <div class="wrap_cab">
        <div class="filtros2">
            <div class="elements" style="margin-left: 300px !important;">
                <div class="div-2">
                    <h1><span>Administrar Cupón</span></h1>
                </div>
                <div class="div-3">
                    <div class="titA">País:</div>
                    <div class="selectA borde_redondeado">
                        @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.ListaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais" })
                    </div>
                    <div class="titB">Campaña:</div>
                    <div class="selectA borde_redondeado">
                        @Html.DropDownListFor(model => model.CampaniaID, new SelectList(Model.ListaCampanias, "CampaniaID", "NombreCorto"), "-- Seleccionar --", new { id = "ddlCampania" })
                    </div>
                </div>
                <div id="contenedor-boton-crear-cupon" class="div-3" style="display: none;">
                    <div class="input_search">
                        <input type="button" value="Crear" id="btnMostrarPopupMantCupon" name="" style="float: right; margin-right: 250px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrap" id="contenedor-grilla-cupones" style="display: block;">
        <div class="container clearfix">
            <div class="border-wrapper">
                <table id="tabla-cupones"></table>
                <div id="pagerEvento"></div>
            </div>
        </div>
    </div>
</div>

<div id="contenedor-cupon-consultora" style="display: none;">
    <div class="wrap_cab">
        <div class="filtros2">
            <div class="elements" style="margin-left: 300px !important;">
                <div class="div-2">
                    <h1><span>Administrar Cupón</span></h1>
                </div>
                <div class="" style="width: 75% !important;">
                    <div class="titB" style="float: right; cursor: pointer;"><strong><a id="btnRegresar">&lt;&lt;Regresar</a></strong></div>
                </div>
                <div class="div-3" style="border: 1px solid #cfcfcf !important; width: 75% !important;">
                    <div class="titB"><strong>Campaña:</strong></div>
                    <div class="selectA borde_redondeado" style="border: none !important; width: 100px !important;">
                        <span id="spnCampania"></span>
                    </div>
                    <div class="titB"><strong>Tipo:</strong></div>
                    <div class="selectA borde_redondeado" style="border: none !important; width: 100px !important;">
                        <span id="spnTipo"></span>
                    </div>
                    <div class="titB" style="width: 80px !important;"><strong>Descripción:</strong></div>
                    <div class="selectA borde_redondeado" style="border: none !important; width: 100px !important;">
                        <span id="spnDescripcion"></span>
                    </div>
                    <input type="hidden" id="hdCuponId-cupon-consultora" value="" />
                    <input type="hidden" id="hdTipoId-Cupon" value="" />
                </div>
                <div class="div-3">
                    <div class="input_search">
                        <input type="button" value="Cargar" id="btnCargarConsultoras" name="" style="float: right; margin-right: 230px;">
                        <input type="button" value="Agregar" id="btnMostrarPopupMantCuponConsultora" name="" style="float: right; margin-right: 5px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrap" id="contenedor-grilla-cupon-consultoras" style="display: none;">
        <div class="container clearfix">
            <div class="border-wrapper">
                <table id="tabla-cupon-consultoras"></table>
                <div id="pagerEvento"></div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/AdministrarCupon/Partials/mantenimientoCupon.cshtml")
@Html.Partial("~/Views/AdministrarCupon/Partials/mantenimientoCuponConsultora.cshtml")
@Html.Partial("~/Views/AdministrarCupon/Partials/mantenimientoCargaCuponConsultora.cshtml")

<div id="loadingScreen"></div>
<script type="text/javascript">
    var urlListarCampanias = '@Url.Action("ObtenerCampaniasPorUsuario", "BaseAdm")';
    var urlCrearCupon = '@Url.Action("CrearCupon", "AdministrarCupon")';
    var urlActualizarCupon = '@Url.Action("ActualizarCupon", "AdministrarCupon")';
    var urlCrearCuponConsultora = '@Url.Action("CrearCuponConsultora", "AdministrarCupon")';
    var urlActualizarCuponConsultora = '@Url.Action("ActualizarCuponConsultora", "AdministrarCupon")';
    var urlListarCuponesPorCampania = '@Url.Action("ListarCuponesPorCampania", "AdministrarCupon")';
    var urlListarCuponConsultorasPorCupon = '@Url.Action("ListarCuponConsultorasPorCupon", "AdministrarCupon")';
    var urlCuponConsultoraCargaMasiva = '@Url.Action("CuponConsultoraCargaMasiva", "AdministrarCupon")';
    var urlImagenEdit = '@Url.Content("~/Content/Images/Edit.png")';
    var urlImagenDelete = '@Url.Content("~/Content/Images/Delete.png")';
    var urlImagenDetail = '@Url.Content("~/Content/Images/icono_lupa.png")';
    var urlImagenEnable = '@Url.Content("~/Content/Images/enable.png")';
    var urlImagenDisable = '@Url.Content("~/Content/Images/disable.png")';
</script>
<script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
<script src="~/Scripts/PortalConsultoras/Campania/CampaniaModule.js"></script>
<script src="~/Scripts/PortalConsultoras/Cupon/CuponAdm.js"></script>
<script src="~/Scripts/PortalConsultoras/Cupon/CuponAdmModule.js"></script>