@model Portal.Consultoras.Web.Models.ConsultoraFicticiaModel
@{
    ViewBag.Title = "Usuarios de Prueba";
}

<script>

    jQuery(document).ready(function () {
        $("#btnNuevo").click(function () { AbrirModal(); $('#hdn_Accion').val("Insertar"); });
        IniDialog();
        $("#btnBuscar").click(function () { fnGrilla(); });
        $("#ddlPaisR").change(function () { LimpiaConsultora(); LimpiaUsuario(); });
        $("#txtNombres").keypress( function (evt) {
            var charCode = (evt.which) ? evt.which : window.event.keyCode;
            if (charCode == 13) {
                fnGrilla();
            }
            if (charCode <= 13) {
                return false;
            }
            else {
                var keyChar = String.fromCharCode(charCode);
                var re = /[a-zA-ZñÑáéíóúÁÉÍÓÚ ]/;
                return re.test(keyChar);
            }
        });
        $("#txtUsuario").keypress( function (evt) {
            var charCode = (evt.which) ? evt.which : window.event.keyCode;
            if (charCode == 13) {
                fnGrilla();
            }
            if (charCode <= 13) {
                return false;
            }
            else {
                var keyChar = String.fromCharCode(charCode);
                var re = /[0-9a-zA-ZñÑáéíóúÁÉÍÓÚ]/;
                return re.test(keyChar);
            }
        });
        $("#txtUsuarioAD").keypress(function (evt) {
            var charCode = (evt.which) ? evt.which : window.event.keyCode;
            if (charCode == 13) {
                ValidaUsuario();
            }
            if (charCode <= 13) {
                return false;
            }
            else {
                var keyChar = String.fromCharCode(charCode);
                var re = /[0-9a-zA-ZñÑáéíóúÁÉÍÓÚ]/;
                return re.test(keyChar);
            }
        });
        $("#txtConsultoraCodigo").keypress(function (evt) {
            var charCode = (evt.which) ? evt.which : window.event.keyCode;
            if (charCode == 13) {
                ValidaConsultora();
            }
            if (charCode <= 13) {
                return false;
            }
            else {
                var keyChar = String.fromCharCode(charCode);
                var re = /[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ]/;
                return re.test(keyChar);
            }
        });
        fnGrilla();
    });

    function IniDialog() {
        $('#DialogConsultoras').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 600,
            draggable: true,
            title: "Registro Consultora Ficticia",
            buttons:
            {
                "Guardar": function () {
                    Grabar();
                },
                "Cancelar": function () {
                    $(this).dialog('close');
                }
            }
        });
    }

    function AbrirModal() {
        limpiarModal();
        showDialog("DialogConsultoras");
    }

    function limpiarModal() {
        $('#ddlPaisR').val("");
        $('#txtClave').val("");
        $('#txtConfirmarClave').val("");
        $('#txtConsultoraCodigo')[0].disabled = false;
        $('#txtUsuarioAD')[0].disabled = false;
        $('#ddlPaisR')[0].disabled = false;

        LimpiaUsuario();
        LimpiaConsultora();
    }

    function ValidaUsuario() {
        if ($('#ddlPaisR').val() == "") {
            alert('Seleccione País');
            return false;
        }
        if ($('#txtUsuarioAD').val() == "") {
            alert('Ingresar Usuario');
            return false;
        }

        var item = {
            CodigoUsuario: jQuery('#txtUsuarioAD').val(),
            PaisID: jQuery('#ddlPaisR').val()
        };

        waitingDialog({});

        jQuery.ajax({
            type: 'POST',
            url: baseUrl + 'ConsultoraFicticia/ValidarUsuario',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(item),
            async: true,
            success: function (data) {
                if (checkTimeout(data)) {
                    closeWaitingDialog();
                    if (data.success == true) {
                        var imgValidaUsuario = $('#imgValidaUsuario');
                        var imgLimpiaUsuario = $('#imgLimpiaUsuario');
                        var txtUsuarioAD = $('#txtUsuarioAD');

                        imgValidaUsuario[0].style['display'] = "none";
                        imgLimpiaUsuario[0].style['display'] = "inline";
                        txtUsuarioAD[0].disabled = true;
                    }
                    else {
                        alert(data.message);
                    }
                }
            },
            error: function (data, error) {
                if (checkTimeout(data)) {
                    closeWaitingDialog();
                    alert("Ocurrió un error de comunicación. Por favor, refrescar la página.");
                }
            }
        });

        

        return false;
    }
    function LimpiaUsuario() {
        var imgValidaUsuario = $('#imgValidaUsuario');
        var imgLimpiaUsuario = $('#imgLimpiaUsuario');
        var txtUsuarioAD = $('#txtUsuarioAD');

        imgValidaUsuario[0].style['display'] = "inline";
        imgLimpiaUsuario[0].style['display'] = "none";
        txtUsuarioAD[0].disabled = false;
        txtUsuarioAD.val("");
    }

    function ValidaConsultora() {

        if ($('#ddlPaisR').val() == "") {
            alert('Seleccione País');
            return false;
        }
        if ($('#txtConsultoraCodigo').val() == "") {
            alert('Ingresar Codigo Consultora');
            return false;
        }
        
        waitingDialog({});

        var item = {
            CodigoConsultora: jQuery('#txtConsultoraCodigo').val(),
            PaisID: jQuery('#ddlPaisR').val()
        };

        jQuery.ajax({
            type: 'POST',
            url: baseUrl + 'ConsultoraFicticia/ValidarConsultora',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(item),
            async: true,
            success: function (data) {
                if (checkTimeout(data)) {
                    closeWaitingDialog();
                    if (data.success == true) {
                        var imgValidaConsultora = $('#imgValidaConsultora');
                        var imgLimpiaConsultora = $('#imgLimpiaConsultora');
                        var txtConsultoraCodigo = $('#txtConsultoraCodigo');

                        imgValidaConsultora[0].style['display'] = "none";
                        imgLimpiaConsultora[0].style['display'] = "inline";
                        txtConsultoraCodigo[0].disabled = true;
                        $('#hdn_ConsultoraID').val(data.ConsultoraID);
                    }
                    else {
                        alert(data.message);
                    }
                }
            },
            error: function (data, error) {
                if (checkTimeout(data)) {
                    closeWaitingDialog();
                    alert("Ocurrió un error de comunicación. Por favor, refrescar la página.");
                }
            }
        });

        return false;
    }
    function LimpiaConsultora() {
        var imgValidaConsultora = $('#imgValidaConsultora');
        var imgLimpiaConsultora = $('#imgLimpiaConsultora');
        var txtConsultoraCodigo = $('#txtConsultoraCodigo');

        imgValidaConsultora[0].style['display'] = "inline";
        imgLimpiaConsultora[0].style['display'] = "none";
        txtConsultoraCodigo[0].disabled = false;
        txtConsultoraCodigo.val("");
    }

    function Grabar() {
        var txtUsuarioAD = $('#txtUsuarioAD');
        var txtConsultoraCodigo = $('#txtConsultoraCodigo');
        var ddlPaisR = $('#ddlPaisR');
        var ClaveSecreta = $('#txtClave').val();
        var ConfirmarClaveSecreta = $('#txtConfirmarClave').val();

        if (ddlPaisR.val() == "") {
            alert('Seleccionar País');
            return false;
        }
        if (txtUsuarioAD.val() == "") {
            alert('Ingresar Usuario');
            return false;
        }
        if (txtUsuarioAD[0].disabled == false) {
            alert('Validar Usuario');
            return false;
        }
        if (txtConsultoraCodigo.val() == "") {
            alert('Ingresar Consultora');
            return false;
        }
        if (txtConsultoraCodigo[0].disabled == false) {
            alert('Validar Consultora');
            return false;
        }

        if ($('#hdn_Accion').val() == "Insertar") {
            if (ClaveSecreta.length <= 6) {
                alert('la Contraseña debe de tener mas de 6 caracteres.');
                return false;
            }
        }
        
        if (ClaveSecreta != "" && ConfirmarClaveSecreta != "") {
            if (ClaveSecreta != ConfirmarClaveSecreta) {
                alert('Los campos de la contraseña deben ser iguales, verifique.');
                return false
            }
        }

        waitingDialog({});
        var item = {
            CodigoUsuario: txtUsuarioAD.val(),
            CodigoConsultora: txtConsultoraCodigo.val(),
            PaisID: ddlPaisR.val(),
            ActualizarClave: ClaveSecreta,
            ConsultoraID: $("#hdn_ConsultoraFicticiaID").val() == "" ? "0" : $("#hdn_ConsultoraFicticiaID").val(),
        };
        if ($('#hdn_Accion').val() == "Insertar") {
            jQuery.ajax({
                type: 'POST',
                url: baseUrl + 'ConsultoraFicticia/InsertarConsultoraFicticia',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(item),
                async: true,
                success: function (data) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        if (data.success == true) {
                            HideDialog("DialogConsultoras");
                            alert(data.message);
                            fnGrilla();
                        }
                        else
                            alert(data.message);
                    }
                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        alert("ERROR");
                    }
                }
            });
        }
        else {
            jQuery.ajax({
                type: 'POST',
                url: baseUrl + 'ConsultoraFicticia/ActualizarConsultoraFicticia',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(item),
                async: true,
                success: function (data) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        if (data.success == true) {
                            HideDialog("DialogConsultoras");
                            alert(data.message);
                            fnGrilla();
                        }
                        else
                            alert(data.message);
                    }
                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        alert("ERROR");
                    }
                }
            });
        }
    }

    function fnGrilla() {
        jQuery("#list").jqGrid({
            url: baseUrl + "ConsultoraFicticia/ConsultarConsultoraFicticia",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                vPaisID: function () { return jQuery.trim($("#ddlPais").val()); },
                vCodigoUsuario: function () { return jQuery.trim($("#txtUsuario").val()); },
                vNombreCompleto: function () { return jQuery.trim($("#txtNombres").val()); }
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['ConsultoraID', 'PaisID', 'Usuario', 'Consultora Asociada', 'Nombres', 'País', 'Zona', ''],
            colModel: [
                { name: 'ConsultoraID', index: 'ConsultoraID', width: 0, editable: false, align: 'center', hidden: true },
                { name: 'PaisID', index: 'PaisID', width: 0, editable: false, align: 'center', hidden: true },
                { name: 'CodigoUsuario', index: 'CodigoUsuario', width: 15, editable: false, resizable: false },
                { name: 'CodigoConsultora', index: 'CodigoConsultora', width: 15, editable: false, resizable: false },
                { name: 'NombreCompleto', index: 'NombreCompleto', width: 30, editable: true, resizable: false },
                { name: 'NombrePais', index: 'NombrePais', width: 15, editable: true, resizable: false },
                { name: 'NombreZona', index: 'NombreZona', width: 15, editable: true, resizable: false },
                { name: 'Activo', index: 'Activo', width: 10, editable: true, sortable: false, align: 'center', resizable: false, formatter: ShowActions }
            ],
            jsonReader:
                {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: true,
                    cell: "cell"
                },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'CodigoConsultora',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 930,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function () { },
            gridComplete: function () { }
        });
        jQuery("#list").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
    }

    function ShowActions(cellvalue, options, rowObject) {
        var cellValueInt = parseInt(cellvalue);
        var Edit = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#list').Editar('" + rowObject[1] + "','" + rowObject[3] + "','" + rowObject[2] + "','" + rowObject[0] + "');\" >" + "<img src='@Url.Content("~/Content/Images/Edit.png")' alt='Editar' title='Editar' border='0' /></a>";
        var Del = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#list').Eliminar('" + rowObject[2] + "','" + rowObject[1] + "');\" >" + "<img src='@Url.Content("~/Content/Images/Delete.png")' alt='Eliminar' title='Eliminar' border='0' /></a>";
        return Edit + Del;
    };

    $.jgrid.extend({
        Eliminar: function (CodigoUsuario, PaisID) {

            var elimina = confirm('¿ Está seguro que desea eliminar el registro seleccionado?');
            if (!elimina)
                return false;

            waitingDialog({});
            var item = {
                CodigoUsuario: CodigoUsuario,
                PaisID: PaisID
            };

            jQuery.ajax({
                type: 'POST',
                url: baseUrl + 'ConsultoraFicticia/EliminarConsultoraFicticia',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(item),
                async: true,
                success: function (data) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        if (data.success == true) {
                            alert(data.message);
                            fnGrilla();
                        }
                        else
                            alert(data.message);
                    }
                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        alert("ERROR");
                    }
                }
            });
        },
        Editar: function (PaisId, CodigoConsultora, CodigoUsuario, ConsultoraID) {
            AbrirModal();

            var imgValidaConsultora = $('#imgValidaConsultora');
            var imgValidaUsuario = $('#imgValidaUsuario');
            var imgLimpiaConsultora = $('#imgLimpiaConsultora');
            var imgLimpiaUsuario = $('#imgLimpiaUsuario');
            var txtConsultoraCodigo = $('#txtConsultoraCodigo');
            var txtUsuarioAD = $('#txtUsuarioAD');
            var ddlPaisR = $('#ddlPaisR');
            var hdn_Accion = $('#hdn_Accion');
            var hdn_ConsultoraFicticiaID = $('#hdn_ConsultoraFicticiaID');

            imgValidaUsuario[0].style['display'] = "none";
            imgLimpiaUsuario[0].style['display'] = "none";
            txtUsuarioAD[0].disabled = true;
            ddlPaisR[0].disabled = true;

            imgValidaConsultora[0].style['display'] = "none";
            imgLimpiaConsultora[0].style['display'] = "inline";
            txtConsultoraCodigo[0].disabled = true;

            txtConsultoraCodigo.val(CodigoConsultora);
            txtUsuarioAD.val(CodigoUsuario);
            ddlPaisR.val(PaisId);
            hdn_Accion.val("Actualizar");
            hdn_ConsultoraFicticiaID.val(ConsultoraID);
        }
    });


</script>

<div class="wrap_cab">

    <div class="filtros2">
        <div class="elements">
            <div class="div-2">
                <h1>Mantenimiento de<span> Usuarios de Prueba</span></h1>
            </div>
            <div class="div-3">
                <div class="titB">País:</div>
                <div class="selectP2 borde_redondeado">
                    @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais" })
                </div>
            </div>
            <div class="div-3">
                <div class="titB">Usuario:</div>
                <div class="selectP2 borde_redondeado">
                    @Html.TextBoxFor(model => model.Usuario, new { maxlength = 20, id = "txtUsuario" })
                </div>
                <div class="titB">Nombres:</div>
                <div class="selectP2 borde_redondeado">
                    @Html.TextBoxFor(model => model.Nombres, new { maxlength = 100, id = "txtNombres" })
                </div>
                <div class="addlist_tab">
                    <input id="btnNuevo" type="button" value="Nuevo" />
                </div>
                <div class="addlist_tab">
                    <input id="btnBuscar " type="button" value="Buscar" onclick="fnGrilla();" />

                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrap">

    <section class="container clearfix">
        <div class="border-wrapper">
            <table id="list"></table>
            <div id="pager"></div>
        </div>
    </section>

</div>

<div id="DialogConsultoras">
    <div class="Content_modal">
        <div class="div-3">
            <div class="titF">País:</div>
            <div class="selectA borde_redondeado">
                @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPaisR" })
            </div>
        </div>
        <div class="div-3">
            <div class="titF">Usuario:</div>
            <div class="selectA borde_redondeado">
                @Html.TextBoxFor(model => model.Usuario, new { @class = "input_search_form", maxlength = 20, id = "txtUsuarioAD" })

            </div>
            <div class="titA" style="width: auto; padding: 10px 0px;">
                <img alt="Valida Usuario" src="~/Content/Images/check.png" onclick="ValidaUsuario();" id="imgValidaUsuario" style="cursor: pointer" />
                <img alt="Limpia Usuario" src="~/Content/Images/remove.png" onclick="LimpiaUsuario();" style="display: none; cursor: pointer" id="imgLimpiaUsuario" />
            </div>
        </div>
        <div class="div-3">
            <div class="titF">Consultora Asociada:</div>
            <div class="selectA borde_redondeado">
                @Html.TextBoxFor(model => model.CodigoConsultora, new { @class = "input_search_form", maxlength = 20, id = "txtConsultoraCodigo" })
            </div>
            <div class="titA" style="width: auto; padding: 10px 0px;">
                <img alt="Valida Consultora" src="~/Content/Images/check.png" onclick="ValidaConsultora();" id="imgValidaConsultora" style="cursor: pointer" />
                <img alt="Limpia Consultora" src="~/Content/Images/remove.png" onclick="LimpiaConsultora();" style="display: none; cursor: pointer" id="imgLimpiaConsultora" />
            </div>
        </div>
        <div class="div-3">
            <div class="titF">Contraseña:</div>
            <div class="selectA borde_redondeado">
                <input id="txtClave" type="password" class="input_search_form" />
            </div>
        </div>
        <div class="div-3">
            <div class="titF">Confirmar Contraseña:</div>
            <div class="selectA borde_redondeado">
                <input id="txtConfirmarClave" type="password" class="input_search_form" />
            </div>
        </div>
        @Html.Hidden("hdn_ConsultoraID")
        @Html.Hidden("hdn_Accion")
        @Html.Hidden("hdn_ConsultoraFicticiaID")
    </div>
</div>
<div id="loadingScreen"></div>
