@model  Portal.Consultoras.Web.Models.HojaInscripcionPaso2Model
@{
    var nro = 0;
}
<div id="modal" class="modal-fondo" style="display:none;">
    <div class="modal-panel">
        <div class="modal-header">
            <h2 id="modal_title"></h2>
            <img id="imgCerrar" src="@Url.Content("~/Content/Images/btnCerrar_AD.png")"/>
        </div>
        <div class="modal-content">
            @if (Model.ZonaPreferencial)
            {
                <div style="position: relative; float: left; width: 90%; height: 100%; padding: 20px 40px;">
                    <h3 style="font-size: 12pt;">
                        Lamentablemente la consultora no puede ser registrada ya que en esa zona no tenemos cobertura
                    </h3>
                </div>
            }
            else if (Model.Puntos.Count == 0)
            {
                <div style="position: relative; float: left; width: 90%; height: 100%; padding: 20px 40px;">
                    <h3 style="font-size: 12pt;">
                        La direcci&oacute;n <span style="font-weight: bold; color: #722789;">@(ViewData["Direccion"])</span> no se pudo localizar.
                        <br/> <br/>
                        Verifica que sea la direcci&oacute;n correcta o en todo caso podr&aacute;s georeferenciar m&aacute;s adelante.
                    </h3>
                </div>
            }
            else
            {
                <div class="modal-lado-izq">
                    @foreach (var item in Model.Puntos)
                    {
                        <div class="fila-direccion" data-latitud="@item.Item1" data-longitud="@item.Item2" data-nro="@nro">
                            <table cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="padding: 0 10px 0 5px;"><span style="font-weight: bold">@(nro + 1).</span></td>
                                    <td>@item.Item3</td>
                                </tr>
                            </table>
                        </div>
                        nro++;
                    }
                </div>
                <div id="mapa" class="modal-lado-der">
                </div>
            }
        </div>
        <div class="modal-buttons">
            <button type="button" class="button_purple clear" id="btnAceptar" data-direccion-correcta="S" disabled>Aceptar</button>
            <button type="button" class="button_purple clear" id="btnEditarDireccion">Editar direcci&oacute;n</button>
            <button type="button" class="button_purple clear" id="btnNingunaDireccion" data-direccion-correcta="N"></button>
        </div>
    </div>
</div>


<script>
    var map, marker, markers = [];

    $('#modal').fadeIn(400, cargarMapa);

    @{
        var textoNingunaDireccion = Model.Puntos.Count > 1 ? "Ninguna dirección coincide, pero deseo continuar" : (Model.Puntos.Count > 0 ? "La dirección no coincide, pero deseo continuar" : "No figura dirección, pero deseo continuar");
        var titulo = Model.Puntos.Count > 1 ? "Elige la dirección correcta" : (Model.Puntos.Count > 0 ? "Confirma si es la dirección correcta" : "No se ha encontrado tu ubicación en el mapa");
    }

    $('#modal_title').html('@Html.Raw(titulo)');

    $('#btnNingunaDireccion').text('@Html.Raw(textoNingunaDireccion)');

    if (@(Model.ZonaPreferencial ? 1 : 0) == 1) {
        $('#btnNingunaDireccion').attr('disabled', true);
    }

    @if (Model.Puntos.Count == 0)
    {
        <text>$('#btnAceptar').hide();</text>
    }

    $('body').css('overflow', 'hidden');
    $('#btnEditarDireccion, #imgCerrar').click(function() {
        $('#modal').fadeOut();
        $('body').css('overflow', 'auto');
    });

    $('#btnNingunaDireccion').click(function() {
        $('#Latitud').val('');
        $('#Longitud').val('');
        $('#DireccionCorrecta').val($(this).attr('data-direccion-correcta'));
        $('#btnEnviar').click();
        $('#modal').fadeOut();
        $('body').css('overflow', 'auto');
    });

    $('#btnAceptar').click(function () {
        var latitud = null;
        var longitud = null;

        if (map) {
            var center = map.center;
            latitud = parseFloat(center.lat());
            longitud = parseFloat(center.lng());

            $('#Latitud').val(latitud);
            $('#Longitud').val(longitud);        
        }

        $('#DireccionCorrecta').val($(this).attr('data-direccion-correcta'));
        $('#btnEnviar').click();
        $('#modal').fadeOut();
        $('body').css('overflow', 'auto');
    });

    $('.fila-direccion').click(function () {
        $('#btnAceptar').attr('disabled', false);
        $('#btnNingunaDireccion').attr('disabled', true);
        $('.fila-direccion').removeClass('selected');
        $(this).addClass('selected');

        if (map) {

            var lat = parseFloat($(this).attr('data-latitud').replace(',', '.'));
            var lnt = parseFloat($(this).attr('data-longitud').replace(',', '.'));

            map.panTo(new google.maps.LatLng(lat, lnt));
            for (var i in markers) {
                var marker = markers[i];
                marker.setAnimation(null);
            }
            markers[$(this).attr('data-nro')].setAnimation(google.maps.Animation.BOUNCE);
        }
    });

    function cargarMapa() {

        @if (Model.Puntos.Count > 0)
	    {
		    <text>
                if (google && google.maps) {
                    var markerBounds = new google.maps.LatLngBounds();
                    var mapOptions = {
                        center: new google.maps.LatLng(parseFloat('@Model.Puntos[0].Item1'.replace(",", ".")), parseFloat('@Model.Puntos[0].Item2'.replace(",", "."))),
                        zoom: 15,
                        mapTypeId: google.maps.MapTypeId.DROP,
                        animation: google.maps.Animation.DROP
                    };
                    map = new google.maps.Map(document.getElementById("mapa"),
                         mapOptions);
                    // Markers
                     @if (Model.Puntos.Count == 1)
                    {
                        var punto = Model.Puntos[0];
                        <text>
                            marker = new google.maps.Marker({
                                position: new google.maps.LatLng(parseFloat('@punto.Item1'.replace(",", ".")), parseFloat('@punto.Item2'.replace(",", "."))),
                                map: map,
                                animation: google.maps.Animation.DROP,
                                zoom: 15
                            });
                        </text>
                    }

                    else {
                    for (var i = 0; i < Model.Puntos.Count; i++)
                    {
                        var punto = Model.Puntos[i];
                        <text>
                            marker = new google.maps.Marker({
                                position: new google.maps.LatLng(parseFloat('@punto.Item1'.replace(",", ".")), parseFloat('@punto.Item2'.replace(",", "."))),
                                map: map,
                                animation: google.maps.Animation.DROP
                            });
                            markerBounds.extend(marker.getPosition());
                            markers.push(marker);
                        </text>
                    }

                    <text>map.fitBounds(markerBounds);</text>
            }
        }
        </text>
        }
        @if (Model.Puntos.Count == 1)
        {
             <text>
        $('.fila-direccion').addClass('selected');
        $('#btnAceptar').attr('disabled', false);
        </text>
	    }
    }


</script>