@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Models;
@using Portal.Consultoras.Web.Controllers;
@using Portal.Consultoras.Web.HojaInscripcionBelcorpPais;
@using Portal.Consultoras.Web.HojaInscripcionODS;

@model HojaInscripcionPaso3Model
@{
    var tiposMetas = ViewBag.TiposMetas != null ? ViewBag.TiposMetas as SelectList : new SelectList(new List<TipoMeta>());
    var estadosCiviles = ViewBag.EstadosCiviles != null ? ViewBag.EstadosCiviles as SelectList : new SelectList(new List<TablaLogicaDatos>());
    var nivelesEducativos = ViewBag.NivelesEducativos != null ? ViewBag.NivelesEducativos as SelectList : new SelectList(new List<TablaLogicaDatos>());
    var tiposNacionalidad = ViewBag.TiposNacionalidad != null ? ViewBag.TiposNacionalidad as SelectList : new SelectList(new List<TablaLogicaDatos>());
    var tiposContacto = ViewBag.TiposContacto != null ? ViewBag.TiposContacto as SelectList : new SelectList(new List<TablaLogicaDatos>());
}

@using (Ajax.BeginForm("Paso3", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "Formulario",
    OnBegin = "showLoader",
    OnComplete = "hideLoader"
}))
{
    @Html.HiddenFor(m => Model.Token)

    @Html.Hidden("Paso", 3)
    @Html.HiddenFor(m => Model.CodigoISO)
    @Html.HiddenFor(m => Model.TipoSolicitud)
    @Html.HiddenFor(m => Model.FuenteIngreso)
    @Html.HiddenFor(m => Model.PaisID)
    @Html.HiddenFor(m => Model.UsuarioCreacion)

    //Campos del Formulario 1
    @Html.HiddenFor(m => Model.NumeroDocumento)
    @Html.HiddenFor(m => Model.PrimerNombre)
    @Html.HiddenFor(m => Model.SegundoNombre)
    @Html.HiddenFor(m => Model.ApellidoPaterno)
    @Html.HiddenFor(m => Model.ApellidoMaterno)
    @Html.HiddenFor(m => Model.FechaNacimiento)
    @Html.HiddenFor(m => Model.Dia)
    @Html.HiddenFor(m => Model.Mes)
    @Html.HiddenFor(m => Model.Anio)
    @Html.HiddenFor(m => Model.Sexo)
    @Html.HiddenFor(m => Model.EstadoPostulante)
    @Html.HiddenFor(m => Model.CodigoConsultora)

    //Campos del Formulario 2
    @Html.HiddenFor(m => Model.Telefono)
    @Html.HiddenFor(m => Model.Celular)
    @Html.HiddenFor(m => Model.CorreoElectronico)
    @Html.HiddenFor(m => Model.Region)
    @Html.HiddenFor(m => Model.Comuna)
    @Html.HiddenFor(m => Model.CalleOAvenida)
    @Html.HiddenFor(m => Model.Numero)
    @Html.HiddenFor(m => Model.DptoCasa)
    @Html.HiddenFor(m => Model.NombreRegion, new { @class = "ignore" })
    @Html.HiddenFor(m => Model.NombreComuna, new { @class = "ignore" })
    @Html.HiddenFor(m => Model.Latitud)
    @Html.HiddenFor(m => Model.Longitud)
    @Html.HiddenFor(m => Model.DireccionCorrecta)
    @Html.HiddenFor(m => Model.DptoCasa)
    @Html.HiddenFor(m => Model.DireccionColombia)
    @Html.HiddenFor(m => Model.NombreDireccionColombia)
    @Html.HiddenFor(m => Model.Colonia)
    @Html.HiddenFor(m => Model.PrefijoCelular)
    @Html.HiddenFor(m => Model.NombrePrefijoCelular)
    @Html.HiddenFor(m => Model.NombreColonia)
    @Html.HiddenFor(m => Model.CodigoPostal)

    <div class="field12">
        <h2>Finaliza</h2>
    </div>

    <div class="field4 no-margin-bottom"><b>*</b> Estado civil</div>
    <div class="field8 no-margin-bottom lastfield">
        @Html.DropDownListFor(m => Model.EstadoCivil, estadosCiviles, "-- Seleccionar --", new { @class = "field11" })
    </div>
    <div class="field4 auto-height"></div>
    <div class="field8 auto-height lastfield">
        @Html.ValidationMessageFor(m => Model.EstadoCivil)
    </div>

    <div class="field4 no-margin-bottom"><b>*</b> Nivel educativo</div>
    <div class="field8 no-margin-bottom lastfield">
        @Html.DropDownListFor(m => Model.NivelEducativo, nivelesEducativos, "-- Seleccionar --", new { @class = "field11" })
    </div>
    <div class="field4 auto-height"></div>
    <div class="field8 auto-height lastfield">
        @Html.ValidationMessageFor(m => Model.NivelEducativo)
    </div>
    if(Model.CodigoISO != "MX")
    { 
    <div class="field4 no-margin-bottom"><b>*</b> Nacionalidad</div>
    <div class="field8 no-margin-bottom lastfield">
        @Html.DropDownListFor(m => Model.Nacionalidad, tiposNacionalidad, "-- Seleccionar --", new { @class = "field11" })
    </div>
    <div class="field4 auto-height"></div>
    <div class="field8 auto-height lastfield">
        @Html.ValidationMessageFor(m => Model.Nacionalidad)
    </div>
    }

    <div class="field4 no-margin-bottom"><b>*</b> ¿Vendes otras marcas?</div>
    <div class="field8 no-margin-bottom lastfield">
        @Html.RadioButtonFor(m => Model.TieneExperiencia, 1)S&iacute;&nbsp;
        @Html.RadioButtonFor(m => Model.TieneExperiencia, 0)No
    </div>
    <div class="field4 auto-height"></div>
    <div class="field8 auto-height lastfield">
        @Html.ValidationMessageFor(m => Model.TieneExperiencia)
    </div>

    <div class="field4 no-margin-bottom"><b>*</b> ¿Te recomend&oacute; una consultora?</div>
    <div class="field8 no-margin-bottom lastfield">
        @Html.RadioButtonFor(m => Model.RecomendoConsultora, 'S') S&iacute;&nbsp;
        @Html.RadioButtonFor(m => Model.RecomendoConsultora, 'N') No
    </div>
    <div class="field4 auto-height"></div>
    <div class="field8 auto-height lastfield">
        @Html.ValidationMessageFor(m => Model.RecomendoConsultora)
    </div>

    <div id="TablaConsultoraRecomienda" style="display: none;" class="field12">
        <div class="field4 no-margin-bottom">C&oacute;digo consultora que recomienda</div>
        <div class="field8 no-margin-bottom lastfield">
            @Html.TextBoxFor(m => Model.CodigoConsultoraRecomienda, new 
            { 
                @class = "ignore field11", 
                @style = "margin-right: 10px;",
                @placeholder = Html.Raw("Código consultora"),
                @maxlength = Dictionaries.MaxLengthCodigoConsultora[Model.CodigoISO]
            })
            <img id="consultora_loader" src="@Url.Content("~/Content/HojaInscripcion/Images/small_loader.GIF")" style="position: absolute; margin-top: -13px; display: none;" />
        </div>
        <div class="field4 auto-height"></div>
        <div class="field8 auto-height lastfield">
            @Html.ValidationMessageFor(m => Model.CodigoConsultoraRecomienda)
        </div>
        <div class="field4 no-margin-bottom">Nombre consultora que recomienda</div>
        <div class="field8 no-margin-bottom lastfield">
            @Html.TextBox("NombreConsultoraRecomienda", null, new { @class = "ignore field11", @disabled = true, @placeholder = "Nombre de la consultora" })
        </div>
    </div>
    <div class="field12 text_align_center">
        <button type="submit" class="button_purple clear">FINALIZAR</button>
    </div>
}

<script>
    $.validator.setDefaults({
        ignore: '.ignore'
    });

    $.validator.addMethod('ConsultoraRecomiendaValida', function (value, element) {
        return $('#NombreConsultoraRecomienda').val().length > 0;
    }, 'No existe consultora con el código ingresado');

    $('div[data-paso="1"]').click(IrAPaso);
    $('div[data-paso="2"]').click(IrAPaso);
    $('div[data-paso="1"], div[data-paso="2"], div[data-paso="3"]').addClass('item_color');

    $(function () {

        $.validator.unobtrusive.parse('form');

        $('#CodigoConsultoraRecomienda').keydown(IntegerNumber);

        $('#CodigoConsultoraRecomienda').rules('add', 'ConsultoraRecomiendaValida');

        if ($('input[name="RecomendoConsultora"]:checked').val() == 'S') {
            $('#TablaConsultoraRecomienda').show();
        }

        $('input[name="RecomendoConsultora"]').change(function () {
            if (this.value == 'S') {
                $('#TablaConsultoraRecomienda').fadeIn();
                $('#TablaConsultoraRecomienda').find('input').removeClass('ignore');
            } else {
                $('#TablaConsultoraRecomienda').hide();
                $('#TablaConsultoraRecomienda').find('input').addClass('ignore');
            }
        });


        $('#CodigoConsultoraRecomienda').donetyping(function () {
            $('#consultora_loader').show();
            $(this).attr('disabled', true);
            $.getJSON('@Url.Action("ObtenerNombreConsultora")', { codigoISO: '@Model.CodigoISO', codigoConsultora: this.value }, function (nombre) {
                $('#NombreConsultoraRecomienda').val(nombre);
                $('#CodigoConsultoraRecomienda').valid();
            }).complete(function () {
                $('#consultora_loader').fadeOut();
                $('#CodigoConsultoraRecomienda').attr('disabled', false);
                $('#CodigoConsultoraRecomienda').focus();
            });
        });

        $('#contenedor_pais').hide();
        $('#ComboPais').hide();

    })
</script>
