@using Portal.Consultoras.Common
@model Portal.Consultoras.Web.Models.HojaInscripcionPaso1Model

@using (Ajax.BeginForm("Paso1", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "Formulario",
    OnBegin = "showLoader",
    OnComplete = "hideLoader"
}))
{
    @Html.HiddenFor(m => Model.Token)

    @Html.Hidden("Paso", 1)
    @Html.HiddenFor(m => Model.CodigoISO)
    @Html.HiddenFor(m => Model.FuenteIngreso)
    @Html.HiddenFor(m => Model.PaisID)
    @Html.HiddenFor(m => Model.UsuarioCreacion)
    @Html.HiddenFor(m => Model.EstadoPostulante)
    @Html.HiddenFor(m => Model.TipoSolicitud)
    @Html.HiddenFor(m => Model.CodigoConsultora)

    <div class="field4 no-margin-bottom"> <b>*</b> Primer nombre</div>
    <div class="field8 no-margin-bottom lastfield">
        @Html.TextBoxFor(m => Model.PrimerNombre, new { @class = "text field11 rfcSearch", @placeholder = "Primer nombre", @maxlength = 15 })
    </div>
    <div class="field4 auto-height"></div>
    <div class="field8 auto-height lastfield">
        @Html.ValidationMessageFor(m => Model.PrimerNombre)
    </div>

    <div class="field4 no-margin-bottom">Segundo nombre</div>
    <div class="field8 no-margin-bottom lastfield">
        @Html.TextBoxFor(m => Model.SegundoNombre, new { @class = "text field11 rfcSearch", @placeholder = "Segundo nombre", @maxlength = 15 })
    </div>
    <div class="field4 auto-height"></div>
    <div class="field8 auto-height lastfield">
        @Html.ValidationMessageFor(m => Model.SegundoNombre)
    </div>

    <div class="field4 no-margin-bottom"><b>*</b>Apellido paterno</div>
    <div class="field8 no-margin-bottom lastfield">
        @Html.TextBoxFor(m => Model.ApellidoPaterno, new { @class = "text field11 rfcSearch", @placeholder = "Apellido Paterno", @maxlength = 15 })
    </div>
    <div class="field4 auto-height"></div>
    <div class="field8 auto-height lastfield">
        @Html.ValidationMessageFor(m => Model.ApellidoPaterno)
    </div>
    if (Model.CodigoISO == Constantes.CodigosISOPais.Chile)
    {
        <div class="field4 no-margin-bottom">
            <b>*</b>Apellido materno
        </div>
        <div class="field8 no-margin-bottom lastfield">
            @Html.TextBoxFor(m => Model.ApellidoMaterno, new { @class = "text field11", @placeholder = "Apellido Materno", @maxlength = 15 })
        </div>
        <div class="field4 auto-height"></div>
        <div class="field8 auto-height lastfield">
            @Html.ValidationMessageFor(m => Model.ApellidoMaterno)
        </div>
    }
    else if (Model.CodigoISO == Constantes.CodigosISOPais.Colombia || Model.CodigoISO == Constantes.CodigosISOPais.Mexico)
    {
        <div class="field4 no-margin-bottom">Apellido materno</div>
        <div class="field8 no-margin-bottom lastfield">
            @Html.TextBoxFor(m => Model.ApellidoMaterno, new { @class = "text field11 rfcSearch", @placeholder = "Apellido Materno", @maxlength = 15 })
        </div>
        <div class="field4 auto-height"></div>
        <div class="field8 auto-height lastfield"></div>
    }

    if (Model.CodigoISO == Constantes.CodigosISOPais.Mexico)
    {
        <div class="field4 no-margin-bottom">
            <b>*</b>Fecha nacimiento
        </div>
        <div class="field8 no-margin-bottom lastfield">
            <div class="field4 no-margin-bottom">
                @Html.DropDownListFor(m => Model.Dia, ViewBag.Days as SelectList, "Día", new { @class = "field10 rfcSearch" })
            </div>
            <div class="field4 no-margin-bottom">
                @Html.DropDownListFor(m => Model.Mes, ViewBag.Months as SelectList, "Mes", new { @class = "field10 rfcSearch" })
            </div>
            <div class="field4 no-margin-bottom">
                @Html.DropDownListFor(m => Model.Anio, ViewBag.Years as SelectList, "Año", new { @class = "field10 rfcSearch" })
            </div>
        </div>
        <div class="field4 auto-height"></div>
        <div class="field8 auto-height lastfield">
            @Html.ValidationMessageFor(m => Model.FechaNacimiento)
        </div>
        <div class="field4 no-margin-bottom"><b>*</b>@Dictionaries.LabelDocumentoIdentidad[Model.CodigoISO]</div>
        <div class="field8 no-margin-bottom lastfield">
            @Html.TextBoxFor(m => Model.NumeroDocumento, new
       {
           @class = "field11",
           @placeholder = Dictionaries.PlaceholderDocumentoIdentidad[Model.CodigoISO],
           @maxlength = (Dictionaries.MaxLengthDocumentoIdentidad.ContainsKey(Model.CodigoISO) ? Dictionaries.MaxLengthDocumentoIdentidad[Model.CodigoISO] : 15),
           @readOnly = true
       })
        </div>
        <div class="field4 auto-height"></div>
        <div class="field8 auto-height lastfield">
            @(string.Format("Ejm: {0}", Dictionaries.EjemploDocumentoIdentidad[Model.CodigoISO]))
        </div>
        <div class="field4 auto-height"></div>
        <div class="field8 auto-height lastfield">
            @Html.ValidationMessageFor(m => Model.NumeroDocumento)
        </div>
    }
    else
    {
        <div class="field4 no-margin-bottom"><b>*</b>@Dictionaries.LabelDocumentoIdentidad[Model.CodigoISO]</div>
        <div class="field8 no-margin-bottom lastfield">
            @Html.TextBoxFor(m => Model.NumeroDocumento, new
       {
           @class = "field11",
           @placeholder = Dictionaries.PlaceholderDocumentoIdentidad[Model.CodigoISO],
           @maxlength = (Dictionaries.MaxLengthDocumentoIdentidad.ContainsKey(Model.CodigoISO) ? Dictionaries.MaxLengthDocumentoIdentidad[Model.CodigoISO] : 15)
       })
        </div>

        <div class="field4 auto-height"></div>
        <div class="field8 auto-height lastfield">
            @(string.Format("Ejm: {0}", Dictionaries.EjemploDocumentoIdentidad[Model.CodigoISO]))
        </div>

        <div class="field4 auto-height"></div>
        <div class="field8 auto-height lastfield">
            @Html.ValidationMessageFor(m => Model.NumeroDocumento)
        </div>

        <div class="field4 no-margin-bottom">
            <b>*</b>Fecha nacimiento
        </div>
        <div class="field8 no-margin-bottom lastfield">
            <div class="field4 no-margin-bottom">
                @Html.DropDownListFor(m => Model.Dia, ViewBag.Days as SelectList, "Día", new { @class = "field10" })
            </div>
            <div class="field4 no-margin-bottom">
                @Html.DropDownListFor(m => Model.Mes, ViewBag.Months as SelectList, "Mes", new { @class = "field10" })
            </div>
            <div class="field4 no-margin-bottom">
                @Html.DropDownListFor(m => Model.Anio, ViewBag.Years as SelectList, "Año", new { @class = "field10" })
            </div>
        </div>
        <div class="field4 auto-height"></div>
        <div class="field8 auto-height lastfield">
            @Html.ValidationMessageFor(m => Model.FechaNacimiento)
        </div>
    }

    <div class="field4 no-margin-bottom"><b>*</b>Sexo</div>
    <div class="field8 no-margin-bottom lastfield">
        @Html.RadioButtonFor(m => Model.Sexo, 'F') Femenino&nbsp;
        @Html.RadioButtonFor(m => Model.Sexo, 'M') Masculino
    </div>
    <div class="field4 auto-height"></div>
    <div class="field8 auto-height lastfield">
        @Html.ValidationMessageFor(m => Model.Sexo)
    </div>


    <div class="field12 text_align_center" style="margin-top:20px;">
        <button type="submit" class="button_purple clear">CONTINUAR</button>
    </div>
}


<script>

    $('div[data-paso="1"]').unbind('click');
    $('div[data-paso="2"]').unbind('click');
    $('div[data-paso="1"]').addClass('item_color');
    $('div[data-paso="2"], div[data-paso="3"]').removeClass('item_color');

    $('#wrap_tabs').show();

    $(document).ready(function() {

        $.validator.unobtrusive.parse('form');

        $('.text').keypress(Text);

        $('#Anio, #Mes').change(function() {
            updateNumberOfDays();
        });

        $('#contenedor_pais').show();

        if ("@Model.CodigoISO" === "MX") {
            $("body").on("change", ".rfcSearch", function(evt) {
                var primerNombre = $("#PrimerNombre").val();
                var segundoNombre = $("#SegundoNombre").val();
                var apellidoPaterno = $("#ApellidoPaterno").val();
                var apellidoMaterno = $("#ApellidoMaterno").val();
                var diaNacimiento = $("#Dia").val();
                var mesNacimiento = $("#Mes").val();
                var anioNacimiento = $("#Anio").val();

                if (primerNombre && apellidoPaterno && diaNacimiento && mesNacimiento && anioNacimiento) {
                    Utils.Ajax({
                        url: "@Url.Action("GenerarRfc", "HojaInscripcion", new {area = ""})",
                        parametros: {
                            Nombres: primerNombre + ' ' + segundoNombre,
                            ApellidoPaterno: apellidoPaterno,
                            ApellidoMaterno: apellidoMaterno,
                            DiaNacimiento: diaNacimiento,
                            MesNacimiento: mesNacimiento,
                            AnioNacimiento: anioNacimiento
                        }
                    }, function(response) {
                        $("#NumeroDocumento").val(response.Rfc);
                    });
                }
            });
        }
    });

    function updateNumberOfDays() {
        var day = $('#Dia').val();
        var validDay = false;
        $('#Dia').html('');

        month = $('#Mes').val();
        year = $('#Anio').val();
        days = daysInMonth(month, year);

        $('#Dia').append($('<option />').val('').html('Día'));

        for (i = 1; i < days + 1 ; i++) {
            if (i == day) { validDay = true; }
            $('#Dia').append($('<option />').val(i).html(i));
        }

        if (validDay) {
            $('#Dia').val(day);
        }
    }

    function daysInMonth(month, year) {
        return new Date(year, month, 0).getDate();
    }
</script>

@if (Model.PostulanteRegistrada.HasValue && Model.PostulanteRegistrada.Value)
{
    <div id="modal_postulante_registrada" class="modal_base" style="display:none;">
        <div class="content text_align_center">
            <div style="height:30px;"></div>
            <h2>Ya formas parte de Belcorp!</h2>
            <div style="height:20px;"></div>
            <div class="field12 text_align_center">
                <button id="btnAceptar" type="button" class="button_purple clear">ACEPTAR</button>
            </div>
        </div>
    </div>

    <script>
        $('#modal_postulante_registrada').fadeIn();

        $('#btnAceptar').click(function () {
            $('#modal_postulante_registrada').fadeOut();
        });
    </script>
}

@if (Model.SolicitudRegistrada.HasValue && Model.SolicitudRegistrada.Value)
{
    <div id="modal_solicitud_registrada" class="modal_base" style="display:none;">
        <div class="content text_align_center">
            <div style="height:30px;"></div>
            <h2>Ya se encuentra registrada tu solicitud.</h2>
            <div style="height:20px;"></div>
            <div class="field12 text_align_center">
                <button id="btnAceptar" type="button" class="button_purple clear">ACEPTAR</button>
            </div>
        </div>
    </div>

    <script>
        $('#modal_solicitud_registrada').fadeIn();

        $('#btnAceptar').click(function () {
            $('#modal_solicitud_registrada').fadeOut();
        });
    </script>
}

@if (Model.ValidacionBloqueo.HasValue && Model.ValidacionBloqueo.Value)
{
    <div id="modal_solicitud_registrada" class="modal_base" style="display:none;">
        <div class="content text_align_center">
            <div style="height:30px;"></div>
            <h2>Lamentablemente <b>@Model.NombreCompleto </b> no cumple con todos los requisitos de inscripción.</h2>
            <div style="height:20px;"></div>
            <div class="field12 text_align_center">
                <button id="btnAceptar" type="button" class="button_purple clear">ACEPTAR</button>
            </div>
        </div>
    </div>

    <script>
        $('#modal_solicitud_registrada').fadeIn();

        $('#btnAceptar').click(function () {
            $('#modal_solicitud_registrada').fadeOut();
        });
    </script>
}