@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Areas.Mobile.Models
@using Portal.Consultoras.Web.CustomHelpers
@model  PedidoWebClientePrincipalMobilModel

@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}
<div class="titulo_mobile">
    @{ var mobileConfiguracion = Html.MobileAppConfiguracion();
        if (mobileConfiguracion.MostrarBotonAtras)
        {
            <a href="@Request.UrlReferrer" class="enlace_regresar catalogosR" title="Regresar"></a>
        } }
    PEDIDO INGRESADO POR CLIENTE
</div>
<div class="fondo_f2f2f2">
    <div class="pestana_esika"></div>
    <div class="pestana_lbel"></div>
    <div class="tabs-link tab-primary upper">
        @for (int i = 0; i < Model.ListaPedidoCliente.Count; i++)
        {
            <a id="tab_@i" href="javascript:;" class="mytab @( i == 0 ? "active" : "")" style="width: @(100.00 / Model.ListaPedidoCliente.Count)%">
                @*CAMPAÑA*@
                <br />
                <b>C@(Model.ListaPedidoCliente[i].CampaniaID.ToString().Substring(4))</b>
                @(Model.ListaPedidoCliente[i].CampaniaID.ToString().Substring(0, 4))
            </a>
            <input id="htab_@i" type="hidden" value="@Model.ListaPedidoCliente[i].CampaniaID" />
        }
    </div>
</div>

<div class="col-xs-12">
    @for (int i = 0; i < Model.ListaPedidoCliente.Count; i++)
    {
        <div id="tabcontenido_@i" class="block-white" style="margin-top: 0px;">
            @foreach (var item2 in Model.ListaPedidoCliente[i].ListaPedidoWebDetalle)
            {
                var totalPedido = Model.PaisID == Constantes.PaisID.Colombia ? (string.Format("{0:#,##0}", item2.ImporteTotalPedido).Replace(',', '.')) : (string.Format("{0:#,##0.00}", item2.ImporteTotalPedido));
                var collapse = "collapse";
                <div class="panel-group claseAcordion" id="accordion_@(i + "_" + item2.ClienteID)" role="tablist" aria-multiselectable="false">
                    <div class="panel panel-line-info border_bababa">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title upper">
                                <a role="button" class="esconderPrecio" data-toggle="collapse" data-parent="#accordion" href="#collapseOne_@(i + "_" + item2.ClienteID)" aria-expanded="false" aria-controls="collapseOne">
                                    <i class="icon-plus-belcorp"></i> @Html.DisplayTextFor(modelItem => @item2.Nombre)
                                    <div class="panel-title-total">@Model.Simbolo @totalPedido</div>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne_@(i + "_" + item2.ClienteID)" class="panel-collapse @collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body posr">
                                <div class="list-table-new">
                                    <ul class="list-table-title">
                                        <li>Productos <span class="table-title-right">Cant</span></li>
                                    </ul>
                                    <ul class="list-table-body">
                                        @foreach (var item3 in item2.ListaPedidoWebDetalleProductos)
                                        {
                                            <li>
                                                <div class="posr">
                                                    <div class="table-width">
                                                        <div class="upper">@Html.DisplayTextFor(modelItem => @item3.DescripcionProd)</div>
                                                        <div class="mb-10">
                                                            <div>@Html.DisplayTextFor(modelItem => item3.CUV)</div>
                                                        </div>
                                                        Precio unitario
                                                        @if (Model.PaisID == Constantes.PaisID.Colombia)
                                                        {
                                                            @Model.Simbolo @(string.Format("{0:#,##0}", item3.PrecioUnidad).Replace(',', '.'))
                                                        }
                                                        else
                                                        {
                                                            @Model.Simbolo @(string.Format("{0:#,##0.00}", item3.PrecioUnidad))
                                                        }
                                                        <br />
                                                        @*<div class="upper">*@
                                                        <div>
                                                            <strong>Subtotal </strong>
                                                            @if (Model.PaisID == Constantes.PaisID.Colombia)
                                                            {
                                                                <b>@Model.Simbolo  @(string.Format("{0:#,##0}", item3.ImporteTotal).Replace(',', '.'))</b>
                                                            }
                                                            else
                                                            {
                                                                <b>@Model.Simbolo  @(string.Format("{0:#,##0.00}", item3.ImporteTotal))</b>
                                                            }
                                                        </div>
                                                    </div>
                                                    <span class="cantidad-numero"> @Html.DisplayTextFor(modelItem => @item3.Cantidad) </span>

                                                    @if (Model.ListaPedidoCliente[i].TieneDescuentoCuv && item3.IndicadorOfertaCUV)
                                                    {
                                                        <div class="alert-top-icon text-success">
                                                            <div class="text-left">
                                                                El precio total no incluye el descuento para ofertas con más de
                                                                un precio (1x, 2x).
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </li>
                                        }


                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    @*<td class="upper" style="padding-top:30px;"><strong>Total Pedido</strong></td>*@
                                                    <td style="padding-top:30px;"><strong>Total</strong></td>
                                                    <td class="text-right" style="padding-top: 30px;">
                                                        <b>@Model.Simbolo @totalPedido</b>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>


        if (Model.ListaPedidoCliente[i].TieneDescuentoCuv)
        {
            <div id="parteSubTotal_@i" class="block-info text-center" style="margin-top: -10px;text-transform: capitalize">
                Subtotal<br />
                <div class="text-lg">@Model.Simbolo @Model.ListaPedidoCliente[i].SubtotalString</div>
            </div>
            <div id="parteDescuento_@i" class="block-info text-center" style="margin-top: -10px;text-transform: capitalize">
                @*DESCUENTO OFERTAS CON MAS DE UN PRECIO<br />*@
                Descuentos ofertas por niveles<br />
                <div class="text-lg">@Model.Simbolo @Model.ListaPedidoCliente[i].DescuentoString</div>
            </div>
        }
            <div id="parteFinal_@i" class="block-info text-center" style="margin-top: -10px;text-transform: capitalize">
            @*TOTAL PEDIDO <br />*@
            Total <br />
                <div class="text-lg">@Model.Simbolo @Model.ListaPedidoCliente[i].ImporteTotalString</div>
            </div>
    }
    <br />

</div>
<hr class="clear" />
<a href="javascript:;" class="btn_editar_pedido" onclick="onEnviarCorreoConsultora();" style="text-transform:none">
    Enviar a mi correo
</a>






@section scripts{

    <script type="text/javascript">
        var ISO = "";
        var tabActual = "tab_1";
        jQuery(document).ready(function () {

            $("body").on("click", ".esconderPrecio", function () {
                var div = $(this).find('.panel-title-total');
                if ($(div).is(':visible')) {
                    $(div).hide();
                } else {
                    $(div).show();
                }
            });

            $('.claseAcordion .panel-collapse').on('shown.bs.collapse', function () {
                $(this).prev().find(".icon-plus-belcorp").removeClass("icon-plus-belcorp").addClass("icon-minus-belcorp");
            }).on('hidden.bs.collapse', function () {
                $(this).prev().find(".icon-minus-belcorp").removeClass("icon-minus-belcorp").addClass("icon-plus-belcorp");
            });

            $("#tab_0").addClass("active");
            $("#tab_2").removeClass("active");
            $("#tab_1").removeClass("active");
            $("#tabcontenido_0").show();
            $("#tabcontenido_1").hide();
            $("#tabcontenido_2").hide();
            $("#parteSubTotal_0,#parteDescuento_0,#parteFinal_0").show();
            $("#parteSubTotal_1,#parteDescuento_1,#parteFinal_1").hide();
            $("#parteSubTotal_2,#parteDescuento_2,#parteFinal_2").hide();

            $(".mytab").click(function () {
                var id = $(this).attr("id");
                //capturando tab activado
                var valorTab = $('.mytab.active');
                var idTab = $(valorTab).attr("id");
                var campaniaHidden = $("#h" + id).val();
                if (idTab != id) {
                    dataLayer.push({ 'event': 'virtualPage', 'pageUrl': '/Mobile/PedidoCliente/' + campaniaHidden, 'pageName': 'Pedidos clientes – ' + campaniaHidden + ' | Somos Belcorp Mobile' });
                }
                if (id == "tab_0") {
                    $("#" + id).addClass("active");
                    $("#tab_2").removeClass("active");
                    $("#tab_1").removeClass("active");
                    $("#tabcontenido_0").fadeIn();
                    $("#tabcontenido_1").hide();
                    $("#tabcontenido_2").hide();
                    $("#parteSubTotal_0,#parteDescuento_0,#parteFinal_0").fadeIn();
                    $("#parteSubTotal_1,#parteDescuento_1,#parteFinal_1").hide();
                    $("#parteSubTotal_2,#parteDescuento_2,#parteFinal_2").hide();
                }
                if (id == "tab_1") {
                    $("#" + id).addClass("active");
                    $("#tab_2").removeClass("active");
                    $("#tab_0").removeClass("active");
                    $("#tabcontenido_0").hide();
                    $("#tabcontenido_1").fadeIn();
                    $("#tabcontenido_2").hide();
                    $("#parteSubTotal_0,#parteDescuento_0,#parteFinal_0").hide();
                    $("#parteSubTotal_1,#parteDescuento_1,#parteFinal_1").fadeIn();
                    $("#parteSubTotal_2,#parteDescuento_2,#parteFinal_2").hide();
                }
                if (id == "tab_2") {
                    $("#" + id).addClass("active");
                    $("#tab_1").removeClass("active");
                    $("#tab_0").removeClass("active");
                    $("#tabcontenido_0").hide();
                    $("#tabcontenido_1").hide();
                    $("#tabcontenido_2").fadeIn();
                    $("#parteSubTotal_0,#parteDescuento_0,#parteFinal_0").hide();
                    $("#parteSubTotal_1,#parteDescuento_1,#parteFinal_1").hide();
                    $("#parteSubTotal_2,#parteDescuento_2,#parteFinal_2").fadeIn();
                }
            });
        });

        function onEnviarCorreoCliente(ClientId, Email, CampaniaID) {
            var item = {
                ClientId: ClientId,
                Email: Email,
                CampaniaId: CampaniaID
            };
            ShowLoading();
            jQuery.ajax({
                type: 'POST',
                url: '@Url.Action("EnviarEmailCliente", "PedidoCliente", new { area = "Mobile" })',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(item),
                async: true,
                success: function (data) {
                    if (checkTimeout(data)) {
                        if (data.success == true) {
                            messageInfo(data.message);
                            CloseLoading();
                            dataLayer.push({ 'event': 'virtualEvent', 'category': 'Pedidos Web', 'action': 'Enviar email', 'label': 'Detalle cliente - ' + CampaniaID });
                        }
                        else {
                            CloseLoading();
                            messageInfo(data.message);
                        }
                    }
                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        messageInfo(data.message);
                        CloseLoading();
                    }
                }
            });
        }

        function onEnviarCorreoConsultora() {
            var valorTab = $('.mytab.active');
            var id = $(valorTab).attr("id");
            var campaniaHidden = $("#h" + id).val();
            var item = {
                CampaniaId: campaniaHidden
            };
            ShowLoading();
            jQuery.ajax({
                type: 'POST',
                url: '@Url.Action("EnviarEmailConsultora", "PedidoCliente", new { area = "Mobile" })',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(item),
                async: true,
                success: function (data) {
                    if (checkTimeout(data)) {
                        if (data.success == true) {
                            messageInfo(data.message);
                            CloseLoading();
                            dataLayer.push({ 'event': 'virtualEvent', 'category': 'Pedidos Web', 'action': 'Enviar email', 'label': 'Detalle consultora - ' + campaniaHidden });
                        }
                        else {
                            CloseLoading();
                            messageInfo(data.message);
                        }
                    }
                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        messageInfo(data.message);
                        CloseLoading();
                    }
                }
            });
        }
    </script>
}
