
@model Portal.Consultoras.Web.Models.AdministrarPalancaModel
@{
    string imagenVacia = "prod_grilla_vacio.png";
}

<div class="div-3">
    <div class="titG">Palanca:</div>
    <div class="">
        @Model.Descripcion
    </div>
</div>
<div class="div-3">
    <div class="titG">Incluyente:</div>
    <div class="selectCheck borde_redondeado">
        @Html.RadioButtonFor(m => m.Excluyente, false)
    </div>
    <div class="titG">Excluyente:</div>
    <div class="selectCheck borde_redondeado">
        @Html.RadioButtonFor(m => m.Excluyente, true)
    </div>
</div>
<div class="div-3">
    <div class="titG">¿Activar Palanca?</div>
    <div class="selectCheck borde_redondeado">
        @Html.CheckBoxFor(m => m.Estado)
    </div>
    </div>
    <div class="div-3">
    <div class="titG">Desde Campaña:</div>
    <div class="selectP2 borde_redondeado">
        @Html.DropDownListFor(model => model.DesdeCampania, new SelectList(Model.ListaCampanias, "CampaniaID", "NombreCorto"), "-- Seleccionar --", new { id = "ddlCampania" })
    </div>
</div>
<div class="div-3">
    <div class="titG">Mostrar Campaña Siguiente:</div>
    <div class="selectCheck borde_redondeado">
        @Html.CheckBoxFor(m => m.MostrarCampaniaSiguiente)
    </div>
    <div class="titG">Mostrar Pagina Informativa:</div>
    <div class="selectCheck borde_redondeado">
        @Html.CheckBoxFor(m => m.MostrarPagInformativa)
    </div>
</div>
<div class="div-3">
    <div class="titG">Tipo Estrategia:</div>
    <div class="selectMulti borde_redondeado">
        @Html.DropDownListFor(model => model.TipoEstrategiaSeleccionado, new SelectList(Model.ListaTipoEstrategia, "Codigo", "Descripcion"), new { id = "ddlEstrategia", multiple = "multiple" })
    </div>
</div>

<!-- INICIO SECCION PARA HOME DE PALANACA -->
<div id="div-revista-digital" class="div-3 Content_modal" style="margin-left: 12px; width: 94%; padding-top: 10px; padding-bottom: 0; margin-bottom: 10px;">
    <div style="color: white;">
        <div style="display: inline-block; width:97%; text-align: center; padding: 8px; background: #00A2E8; border-top-left-radius: 10px; border-top-right-radius: 10px">
            Datos para Home
        </div>
    </div>
          
    <div class="div-3" style="display: inline-block; text-align: left; margin-top: 15px;">
        <div class="titG">Imagen de fondo:</div>
        <div style="display: inline-block;">
            <input type="hidden" id="nombre-img-home-desktop" />
            <div id="img-home-desktop" style="display: inline-block;vertical-align: middle;"></div>
            <div class="pdr_modal2 borde_redondeado alignrigth">
                <img src='@Url.Content("~/Content/Images/" + imagenVacia)' id="src-img-home-desktop" class="img-matriz-preview2" data-id="">
            </div>
        </div>
    </div>
    <div class="div-3">
        <div class="titG">Tipo Presentacion:</div>
        <div class="selectP2 borde_redondeado">
            @Html.DropDownListFor(model => model.HTipoPresentacion, new SelectList(Model.ListaTipoPresentacion, "TablaLogicaDatosID", "Descripcion"), "-- Seleccionar --", new { id = "ddlPresentacion" }) 
        </div>
    </div>
    <div class="div-3">
        <div class="titG">Maximo de Productos:</div>
        <div class="selectP2 borde_redondeado">
            @Html.TextBoxFor(model => model.HMaxProductos)
        </div>
    </div>
    <div class="div-3">
        <div class="titG">Tipo Estrategia:</div>
        <div class="selectMulti borde_redondeado">
            @Html.DropDownListFor(model => model.HTipoEstrategiaSeleccionado, new SelectList(Model.ListaTipoEstrategia, "Codigo", "Descripcion"), new { id = "ddlHEstrategia", multiple = "multiple" })
        </div>
    </div>
</div>
<!-- FIN SECCION PALANCA HOME -->

