@model Portal.Consultoras.Web.Models.AdministrarPalancaModel
@{
    string imagenVacia = "prod_grilla_vacio.png";
}

@Html.HiddenFor(m => m.ConfiguracionPaisID)
<div class="div-3">
    <div class="titG">Palanca:</div>
    <div class="borde_redondeado">
        @Model.Descripcion
    </div>
</div>
<div class="div-3" style="display: none;">
    <div class="titG">Incluyente:</div>
    <div class="titG borde_redondeado">
        @Html.RadioButtonFor(m => m.Excluyente, false)
    </div>
    <div class="titG">Excluyente:</div>
    <div class="titG borde_redondeado">
        @Html.RadioButtonFor(m => m.Excluyente, true)
    </div>
</div>
<div class="div-3" style="display: none;">
    <div class="titG">¿Activar Palanca?</div>
    <div class="titG borde_redondeado">
        @Html.CheckBoxFor(m => m.Estado)
    </div>
</div>
<div class="div-3">
    <div class="titG">Desde Campaña:</div>
    <div class="selectP2 borde_redondeado">
        @Html.DropDownListFor(model => model.DesdeCampania, new SelectList(Model.ListaCampanias, "CampaniaID", "NombreCorto"), "-- Seleccionar --", new { id = "ddlCampania" })
    </div>
</div>

<div class="div-3" style="display: none; text-align: left; margin-bottom: 15px;">
    <div class="titG">Icono Menu:</div>
    <div style="display: inline-block;">
        @Html.HiddenFor(m => m.Logo, new { id = "nombre-icono" })
        <div id="img-icono" style="display: inline-block;vertical-align: middle;"></div>
        <div class="pdr_modal2 borde_redondeado alignrigth">
            <img src='@Url.Content("~/Content/Images/" + imagenVacia)' id="src-icono" class="img-matriz-preview2" data-id="">
        </div>
    </div>
</div>
<div class="div-3">
    <div class="titG">URL Menu:</div>
    <div class="titG selectP2 borde_redondeado">
        @Html.TextBoxFor(m => m.UrlMenu, false)
    </div>
    <div class="titG" style="width: 100px; display: inline-block;">
        Ancla <input type="checkbox" id="cbAncla"
                     style="display: inline-block !important; margin: 5px; vertical-align: middle; height: 15px !important;" />
    </div>
</div>
<div class="div-3">

</div>

<div class="div-3" style="display: none">
    <div class="titG">Color Menu:</div>
    <div class="titG borde_redondeado">
        @Html.TextBoxFor(m => m.Color, false)
    </div>
</div>

<div id="div-revista-digital" class="div-3 Content_modal" style="margin-left: 12px; width: 94%; padding-top: 10px; padding-bottom: 0; margin-bottom: 10px;">
    <div style="color: white;">
        <div style="display: inline-block; width:97%; text-align: center; padding: 8px; background: #00A2E8; border-top-left-radius: 10px; border-top-right-radius: 10px">
            Datos Generales
        </div>
    </div>
    <div class="fontColorAdm">
        <div class="sideLeft">
            <h4>Desktop</h4>
        </div>
        <div class="sideRight">
            <h4>Mobile</h4>
        </div>
    </div>
    <div class="clear-fix"></div>
    <div class="fontColorAdm">
        <div class="sideLeft">
            <div class="div-3" style="display: inline-block; text-align: left; margin-bottom: 15px;">
                <div class="titG">Fondo Banner:</div>
                <div style="display: inline-block;">
                    @Html.HiddenFor(m => m.DesktopFondoBanner, new { id = "nombre-desktop-fondo-banner" })
                    <div id="img-desktop-fondo-banner" style="display: inline-block;vertical-align: middle;"></div>
                    <div class="pdr_modal2 borde_redondeado alignrigth">
                        <img src='@Url.Content("~/Content/Images/" + imagenVacia)' id="src-desktop-fondo-banner" class="img-matriz-preview2" data-id="">
                    </div>
                </div>
            </div>
            <div class="div-3" style="display: inline-block; text-align: left; margin-bottom: 15px;">
                <div class="titG">Logo Banner:</div>
                <div style="display: inline-block;">
                    @Html.HiddenFor(m => m.DesktopLogoBanner, new { id = "nombre-desktop-logo-banner" })
                    <div id="img-desktop-logo-banner" style="display: inline-block;vertical-align: middle;"></div>
                    <div class="pdr_modal2 borde_redondeado alignrigth">
                        <img src='@Url.Content("~/Content/Images/" + imagenVacia)' id="src-desktop-logo-banner" class="img-matriz-preview2" data-id="">
                    </div>
                </div>
            </div>

			<div class="div-3">
                <div class="titG" style="padding-bottom: 0;">Orden:</div>    
                <br />  
                <div class="titG selectP2 borde_redondeado" style="width: 312px;">
                    @Html.TextBoxFor(m => m.Orden, new { @style = "width: 312px;" })
                </div>
            </div>

			<div class="div-3">
                <div class="titG" style="padding-bottom: 0;">OrdenBPT:</div>    
                <br />  
                <div class="titG selectP2 borde_redondeado" style="width: 312px;">
                    @Html.TextBoxFor(m => m.OrdenBpt, new { @style = "width: 312px;" })
                </div>
            </div>

            <div class="div-3">
                <div class="titG" style="padding-bottom: 0;">Título Menu:</div>    
                <br />  
                <div class="titG selectP2 borde_redondeado" style="width: 312px;">
                    @Html.TextBoxFor(m => m.DesktopTituloMenu, new { @style = "width: 312px;" })
                </div>
            </div>
            <div class="div-3">
                <div class="titG" style="padding-bottom: 0;">Sub Título Menu:</div>
                <br />
                <div class="titG selectP2 borde_redondeado" style="width: 312px;">
                    @Html.TextBoxFor(m => m.DesktopSubTituloMenu, new { @style = "width: 312px;" })
                </div>

            </div>
            <div class="div-3">
                <div class="titG" style="padding-bottom: 0;">Título Banner:</div>
                <br />
                <div class="titG selectP2 borde_redondeado" style="width: 312px;">
                    @Html.TextBoxFor(m => m.DesktopTituloBanner, new { @style = "width: 312px;" })
                </div>
            </div>
            <div class="div-3">
                <div class="titG" style="padding-bottom: 0;">Sub Título Banner:</div>
                <br />
                <div class="titG selectP2 borde_redondeado" style="width: 312px;">
                    @Html.TextBoxFor(m => m.DesktopSubTituloBanner, new { @style = "width: 312px;" })
                </div>
            </div>
        </div>
        <div class="sideRight">
            <div class="div-3" style="display: inline-block; text-align: left; margin-bottom: 15px;">
                <div class="titG">Fondo Banner:</div>
                <div style="display: inline-block;">
                    @Html.HiddenFor(m => m.MobileFondoBanner, new { id = "nombre-mobile-fondo-banner" })
                    <div id="img-mobile-fondo-banner" style="display: inline-block;vertical-align: middle;"></div>
                    <div class="pdr_modal2 borde_redondeado alignrigth">
                        <img src='@Url.Content("~/Content/Images/" + imagenVacia)' id="src-mobile-fondo-banner" class="img-matriz-preview2" data-id="">
                    </div>
                </div>
            </div>
            <div class="div-3" style="display: inline-block; text-align: left; margin-bottom: 15px;">
                <div class="titG">Logo Banner:</div>
                <div style="display: inline-block;">
                    @Html.HiddenFor(m => m.MobileLogoBanner, new { id = "nombre-mobile-logo-banner" })
                    <div id="img-mobile-logo-banner" style="display: inline-block;vertical-align: middle;"></div>
                    <div class="pdr_modal2 borde_redondeado alignrigth">
                        <img src='@Url.Content("~/Content/Images/" + imagenVacia)' id="src-mobile-logo-banner" class="img-matriz-preview2" data-id="">
                    </div>
                </div>
            </div>

			<div class="div-3">
                <div class="titG" style="padding-bottom: 0;">Orden:</div>    
                <br />  
                <div class="titG selectP2 borde_redondeado" style="width: 312px;">
                    @Html.TextBoxFor(m => m.MobileOrden, new { @style = "width: 312px;" })
                </div>
            </div>

			<div class="div-3">
                <div class="titG" style="padding-bottom: 0;">OrdenBPT:</div>    
                <br />  
                <div class="titG selectP2 borde_redondeado" style="width: 312px;">
                    @Html.TextBoxFor(m => m.MobileOrdenBpt, new { @style = "width: 312px;" })
                </div>
            </div>

            <div class="div-3">
                <div class="titG" style="padding-bottom: 0;">Título Menu:</div>
                <br />
                <div class="titG selectP2 borde_redondeado" style="width: 312px;">
                    @Html.TextBoxFor(m => m.MobileTituloMenu, new { @style = "width: 312px;" })
                </div>
            </div>
            <div class="div-3">
                <div class="titG" style="padding-bottom: 0;">Sub Título Menu:</div>
                <br />
                <div class="titG selectP2 borde_redondeado" style="width: 312px;">
                    @Html.TextBoxFor(m => m.MobileSubTituloMenu, new { @style = "width: 312px;" })
                </div>
            </div>
            <div class="div-3">
                <div class="titG" style="padding-bottom: 0;">Título Banner:</div>
                <br />
                <div class="titG selectP2 borde_redondeado" style="width: 312px;">
                    @Html.TextBoxFor(m => m.MobileTituloBanner, new { @style = "width: 312px;" })
                </div>
            </div>
            <div class="div-3">
                <div class="titG" style="padding-bottom: 0;">Sub Título Banner:</div>
                <br />
                <div class="titG selectP2 borde_redondeado" style="width: 312px;">
                    @Html.TextBoxFor(m => m.MobileSubTituloBanner, new { @style = "width: 312px;" })
                </div>
            </div>
        </div>
    </div>
</div>
