@using Portal.Consultoras.Web.Models
@using Portal.Consultoras.Common
@model Portal.Consultoras.Web.Models.DetalleEstrategiaFichaModel

@{
    Layout = "~/Views/Shared/_MainLayoutResponsive.cshtml";

    var OrigenPedidoWeb = Model.IsMobile ? Constantes.OrigenPedidoWeb.MobileContenedorArmaTuPack : Constantes.OrigenPedidoWeb.DesktopContenedorArmaTuPack;
}


@section css{
    @System.Web.Optimization.Styles.Render("~/Bundle/Css/Responsive/ArmaTuPack")

}


<div id="cabecera" class="banner_armaTuPack" style="display:none">
    <h1>¡Arma tu pack y llévatelo a S/100! </h1>
    <p>ELIGE: 2 Fragancias + 1 Maquillaje + 1 Tratamiento Corporal</p>
</div>

<div class="Select_ArmaTuPack" data-OrigenPedidoWeb="@OrigenPedidoWeb" data-item="">
    <div style="display:none;">
        <div id="data-estrategia" data-estrategia='@Html.Raw(Json.Encode(Model))'></div>
    </div>
    <div id="seleccionados" class="container d-flex align-items-center justify-content-center " style="display:none;">
        <ul class="Select_Group">
            <li class="Select_Item active">
                <!-- Colocar la clase active cuando se ha selecionado un porducto  -->
                <div class="product-select">
                    <button class="product_select_close"><img src="/Content/Images/mobile/Esika/close-button-white.svg"></button>
                    <img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201904/E/productos/PE_200089488.jpg" />
                </div>
            </li>
            <li>+</li>
            <li class="Select_Item">

            </li>
            <li>+</li>
            <li class="Select_Item">

            </li>
            <li>+</li>
            <li class="Select_Item">

            </li>
        </ul>
        <div class="Agregar_ArmaTuPack_fixed">
            <div data-agregado='tooltip' class="popover bottom tooltip_bloqueo" role="tooltip" id="" style="display: block;">
                <div class="arrow"></div>
                <div class="popover-content">
                    <span data-agregado="mensaje1"></span>
                    <!-- <img class="tooltop-emoji" src="/Content/Images/Mobile/Esika/1f44d.png" /> -->
                    <span data-agregado="mensaje2">Debes elegir tus opciones para poder agregar la oferta.</span>
                </div>
            </div>
            <button class="Agregar_ArmaTuPack">Agregar</button>
        </div>
    </div>
</div>

<div id="grupos" class="container" style="margin-bottom:60px">
    <section class="Sections_Pack" style="display:none;">
        <div class="Title_pack d-flex">
            <h3>FRAGANCIA</h3>
            @*<span>Elige 2 opciones</span>*@
            <span class="listo">¡Listo!</span>
        </div>

        <div id="Select_Items" class="row" style="display:none;">
            <div id="Pack_Items" class="col-12 d-md-flex justify-content-between">
                <article class="product_pack">
                    <div class="row">
                        <div class="col-md-12 col-7 flex-row align-items-center ">
                            <div class="product_img_Pack">
                                <img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201904/E/productos/PE_200089488.jpg">
                            </div>
                            <div class="product_descripcion_Pack">
                                <h3>Ruby 80msla  80msla </h3>
                            </div>
                        </div>
                        <div class="col-md-12 col-5 flex-row-reverse align-items-center ">
                            <div class="product_descripcion_Pack">
                                <button class="active">Elígelo</button>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="product_pack">
                    <div class="row">
                        <div class="col-md-12 col-7 flex-row align-items-center ">
                            <div class="product_img_Pack">
                                <img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201904/E/productos/PE_200089488.jpg">
                            </div>
                            <div class="product_descripcion_Pack">
                                <h3>Ruby 80msla  80msla </h3>
                            </div>
                        </div>
                        <div class="col-md-12 col-5 flex-row-reverse align-items-center ">
                            <div class="product_descripcion_Pack">
                                <button class="active">Elígelo</button>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="product_pack">
                    <div class="row">
                        <div class="col-md-12 col-7 flex-row align-items-center ">
                            <div class="product_img_Pack">
                                <img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201904/E/productos/PE_200089488.jpg">
                            </div>
                            <div class="product_descripcion_Pack">
                                <h3>Ruby 80msla  80msla </h3>
                            </div>
                        </div>
                        <div class="col-md-12 col-5 flex-row-reverse align-items-center ">
                            <div class="product_descripcion_Pack">
                                <button>Elígelo</button>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="product_pack">
                    <div class="row">
                        <div class="col-md-12 col-7 flex-row align-items-center ">
                            <div class="product_img_Pack">
                                <img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201904/E/productos/PE_200089488.jpg">
                            </div>
                            <div class="product_descripcion_Pack">
                                <h3>Ruby 80msla  80msla </h3>
                            </div>
                        </div>
                        <div class="col-md-12 col-5 flex-row-reverse align-items-center ">
                            <div class="product_descripcion_Pack">
                                <button class="disable">Elígelo</button>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="product_pack">
                    <div class="row">
                        <div class="col-md-12 col-7 flex-row align-items-center ">
                            <div class="product_img_Pack">
                                <img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201904/E/productos/PE_200089488.jpg">
                            </div>
                            <div class="product_descripcion_Pack">
                                <h3>Ruby 80msla  80msla </h3>
                            </div>
                        </div>
                        <div class="col-md-12 col-5 flex-row-reverse align-items-center ">
                            <div class="product_descripcion_Pack">
                                <button class="disable">Elígelo</button>
                            </div>
                        </div>
                    </div>
                </article>


            </div>

        </div>
    </section>

    <section class="Sections_Pack" style="display:none;">
        <div class="Title_pack d-flex">
            <h3>Maquillaje</h3>
            <span>Elige 2 opciones</span>
            @*<span class="listo">¡Listo!</span>*@
        </div>

        <div id="Select_Items" class="row">
            <div id="Pack_Items" class="col-12 d-md-flex justify-content-between">
                <article class="product_pack">
                    <div class="row">
                        <div class="col-md-12 col-7 flex-row align-items-center ">
                            <div class="product_img_Pack">
                                <img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201904/E/productos/PE_200089488.jpg">
                            </div>
                            <div class="product_descripcion_Pack">
                                <h3>Ruby 80msla  80msla </h3>
                            </div>
                        </div>
                        <div class="col-md-12 col-5 flex-row-reverse align-items-center ">
                            <div class="product_descripcion_Pack">
                                <button>Elígelo</button>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="product_pack">
                    <div class="row">
                        <div class="col-md-12 col-7 flex-row align-items-center ">
                            <div class="product_img_Pack">
                                <img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201904/E/productos/PE_200089488.jpg">
                            </div>
                            <div class="product_descripcion_Pack">
                                <h3>Ruby 80msla  80msla </h3>
                            </div>
                        </div>
                        <div class="col-md-12 col-5 flex-row-reverse align-items-center ">
                            <div class="product_descripcion_Pack">
                                <button>Elígelo</button>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="product_pack">
                    <div class="row">
                        <div class="col-md-12 col-7 flex-row align-items-center ">
                            <div class="product_img_Pack">
                                <img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201904/E/productos/PE_200089488.jpg">
                            </div>
                            <div class="product_descripcion_Pack">
                                <h3>Ruby 80msla  80msla </h3>
                            </div>
                        </div>
                        <div class="col-md-12 col-5 flex-row-reverse align-items-center ">
                            <div class="product_descripcion_Pack">
                                <button>Elígelo</button>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="product_pack">
                    <div class="row">
                        <div class="col-md-12 col-7 flex-row align-items-center ">
                            <div class="product_img_Pack">
                                <img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201904/E/productos/PE_200089488.jpg">
                            </div>
                            <div class="product_descripcion_Pack">
                                <h3>Ruby 80msla  80msla </h3>
                            </div>
                        </div>
                        <div class="col-md-12 col-5 flex-row-reverse align-items-center ">
                            <div class="product_descripcion_Pack">
                                <button class="disable">Elígelo</button>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="product_pack">
                    <div class="row">
                        <div class="col-md-12 col-7 flex-row align-items-center ">
                            <div class="product_img_Pack">
                                <img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201904/E/productos/PE_200089488.jpg">
                            </div>
                            <div class="product_descripcion_Pack">
                                <h3>Ruby 80msla  80msla </h3>
                            </div>
                        </div>
                        <div class="col-md-12 col-5 flex-row-reverse align-items-center ">
                            <div class="product_descripcion_Pack">
                                <button class="disable">Elígelo</button>
                            </div>
                        </div>
                    </div>
                </article>

            </div>

        </div>
    </section>
</div>

@*<div id="grupo-2" class="container d-xs-block d-sm-block d-md-block d-lg-none d-xl-none" style="margin-bottom:60px">
        <section class="Sections_Pack">
            <div class="Title_pack d-flex">
                <h3>FRAGANCIA</h3>
                <span>Elige 2 opciones</span>
                <span class="listo">¡Listo!</span>
            </div>

            <div id="Select_Items" class="row" style="display:none;">
                <div id="Pack_Items" class="col-12 d-md-flex justify-content-between">
                    <article class="product_pack">
                        <div class="row">
                            <div class="col-md-12 col-7 flex-row align-items-center ">
                                <div class="product_img_Pack">
                                    <img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201904/E/productos/PE_200089488.jpg">
                                </div>
                                <div class="product_descripcion_Pack">
                                    <h3>Ruby 80msla  80msla </h3>
                                </div>
                            </div>
                            <div class="col-md-12 col-5 flex-row-reverse align-items-center ">
                                <div class="product_descripcion_Pack">
                                    <button class="active">Elígelo</button>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="product_pack">
                        <div class="row">
                            <div class="col-md-12 col-7 flex-row align-items-center ">
                                <div class="product_img_Pack">
                                    <img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201904/E/productos/PE_200089488.jpg">
                                </div>
                                <div class="product_descripcion_Pack">
                                    <h3>Ruby 80msla  80msla </h3>
                                </div>
                            </div>
                            <div class="col-md-12 col-5 flex-row-reverse align-items-center ">
                                <div class="product_descripcion_Pack">
                                    <button class="active">Elígelo</button>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="product_pack">
                        <div class="row">
                            <div class="col-md-12 col-7 flex-row align-items-center ">
                                <div class="product_img_Pack">
                                    <img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201904/E/productos/PE_200089488.jpg">
                                </div>
                                <div class="product_descripcion_Pack">
                                    <h3>Ruby 80msla  80msla </h3>
                                </div>
                            </div>
                            <div class="col-md-12 col-5 flex-row-reverse align-items-center ">
                                <div class="product_descripcion_Pack">
                                    <button>Elígelo</button>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="product_pack">
                        <div class="row">
                            <div class="col-md-12 col-7 flex-row align-items-center ">
                                <div class="product_img_Pack">
                                    <img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201904/E/productos/PE_200089488.jpg">
                                </div>
                                <div class="product_descripcion_Pack">
                                    <h3>Ruby 80msla  80msla </h3>
                                </div>
                            </div>
                            <div class="col-md-12 col-5 flex-row-reverse align-items-center ">
                                <div class="product_descripcion_Pack">
                                    <button class="disable">Elígelo</button>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="product_pack">
                        <div class="row">
                            <div class="col-md-12 col-7 flex-row align-items-center ">
                                <div class="product_img_Pack">
                                    <img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201904/E/productos/PE_200089488.jpg">
                                </div>
                                <div class="product_descripcion_Pack">
                                    <h3>Ruby 80msla  80msla </h3>
                                </div>
                            </div>
                            <div class="col-md-12 col-5 flex-row-reverse align-items-center ">
                                <div class="product_descripcion_Pack">
                                    <button class="disable">Elígelo</button>
                                </div>
                            </div>
                        </div>
                    </article>


                </div>

            </div>
        </section>

        <section class="Sections_Pack error">
            <div class="Title_pack d-flex">
                <h3>TRATAMIENTO CORPORAL</h3>
                <span>Elige 2 opciones</span>
                 <span class="listo">¡Listo!</span>
            </div>

            <div  id="Select_Items" class="row" style="display:block;">
                <div id="Pack_Items" class="col-12 d-md-flex justify-content-between">
                    <article class="product_pack">
                        <div class="row">
                            <div class="col-md-12 col-7 flex-row align-items-center ">
                                <div class="product_img_Pack">
                                    <img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201904/E/productos/PE_200089488.jpg">
                                </div>
                                <div class="product_descripcion_Pack">
                                    <h3>Ruby 80msla  80msla </h3>
                                </div>
                            </div>
                            <div class="col-md-12 col-5 flex-row-reverse align-items-center ">
                                <div class="product_descripcion_Pack">
                                    <button class="active">Elígelo</button>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="product_pack">
                        <div class="row">
                            <div class="col-md-12 col-7 flex-row align-items-center ">
                                <div class="product_img_Pack">
                                    <img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201904/E/productos/PE_200089488.jpg">
                                </div>
                                <div class="product_descripcion_Pack">
                                    <h3>Ruby 80msla  80msla </h3>
                                </div>
                            </div>
                            <div class="col-md-12 col-5 flex-row-reverse align-items-center ">
                                <div class="product_descripcion_Pack">
                                    <button class="active">Elígelo</button>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="product_pack">
                        <div class="row">
                            <div class="col-md-12 col-7 flex-row align-items-center ">
                                <div class="product_img_Pack">
                                    <img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201904/E/productos/PE_200089488.jpg">
                                </div>
                                <div class="product_descripcion_Pack">
                                    <h3>Ruby 80msla  80msla </h3>
                                </div>
                            </div>
                            <div class="col-md-12 col-5 flex-row-reverse align-items-center ">
                                <div class="product_descripcion_Pack">
                                    <button>Elígelo</button>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="product_pack">
                        <div class="row">
                            <div class="col-md-12 col-7 flex-row align-items-center ">
                                <div class="product_img_Pack">
                                    <img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201904/E/productos/PE_200089488.jpg">
                                </div>
                                <div class="product_descripcion_Pack">
                                    <h3>Ruby 80msla  80msla </h3>
                                </div>
                            </div>
                            <div class="col-md-12 col-5 flex-row-reverse align-items-center ">
                                <div class="product_descripcion_Pack">
                                    <button class="disable" >Elígelo</button>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="product_pack">
                        <div class="row">
                            <div class="col-md-12 col-7 flex-row align-items-center ">
                                <div class="product_img_Pack">
                                    <img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201904/E/productos/PE_200089488.jpg">
                                </div>
                                <div class="product_descripcion_Pack">
                                    <h3>Ruby 80msla  80msla </h3>
                                </div>
                            </div>
                            <div class="col-md-12 col-5 flex-row-reverse align-items-center ">
                                <div class="product_descripcion_Pack">
                                    <button class="disable">Elígelo</button>
                                </div>
                            </div>
                        </div>
                    </article>


                </div>

            </div>
        </section>

        <section class="Sections_Pack">
            <div class="Title_pack d-flex">
                <h3>Maquillaje</h3>
                <span>Elige 2 opciones</span>
                <span class="listo">¡Listo!</span>
            </div>

            <div id="Select_Items" class="row">
                <div id="Pack_Items" class="col-12 d-md-flex justify-content-between">
                    <article class="product_pack">
                        <div class="row">
                            <div class="col-md-12 col-7 flex-row align-items-center ">
                                <div class="product_img_Pack">
                                    <img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201904/E/productos/PE_200089488.jpg">
                                </div>
                                <div class="product_descripcion_Pack">
                                    <h3>Ruby 80msla  80msla </h3>
                                </div>
                            </div>
                            <div class="col-md-12 col-5 flex-row-reverse align-items-center ">
                                <div class="product_descripcion_Pack">
                                    <button>Elígelo</button>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="product_pack">
                        <div class="row">
                            <div class="col-md-12 col-7 flex-row align-items-center ">
                                <div class="product_img_Pack">
                                    <img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201904/E/productos/PE_200089488.jpg">
                                </div>
                                <div class="product_descripcion_Pack">
                                    <h3>Ruby 80msla  80msla </h3>
                                </div>
                            </div>
                            <div class="col-md-12 col-5 flex-row-reverse align-items-center ">
                                <div class="product_descripcion_Pack">
                                    <button>Elígelo</button>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="product_pack">
                        <div class="row">
                            <div class="col-md-12 col-7 flex-row align-items-center ">
                                <div class="product_img_Pack">
                                    <img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201904/E/productos/PE_200089488.jpg">
                                </div>
                                <div class="product_descripcion_Pack">
                                    <h3>Ruby 80msla  80msla </h3>
                                </div>
                            </div>
                            <div class="col-md-12 col-5 flex-row-reverse align-items-center ">
                                <div class="product_descripcion_Pack">
                                    <button>Elígelo</button>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="product_pack">
                        <div class="row">
                            <div class="col-md-12 col-7 flex-row align-items-center ">
                                <div class="product_img_Pack">
                                    <img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201904/E/productos/PE_200089488.jpg">
                                </div>
                                <div class="product_descripcion_Pack">
                                    <h3>Ruby 80msla  80msla </h3>
                                </div>
                            </div>
                            <div class="col-md-12 col-5 flex-row-reverse align-items-center ">
                                <div class="product_descripcion_Pack">
                                    <button class="disable">Elígelo</button>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="product_pack">
                        <div class="row">
                            <div class="col-md-12 col-7 flex-row align-items-center ">
                                <div class="product_img_Pack">
                                    <img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201904/E/productos/PE_200089488.jpg">
                                </div>
                                <div class="product_descripcion_Pack">
                                    <h3>Ruby 80msla  80msla </h3>
                                </div>
                            </div>
                            <div class="col-md-12 col-5 flex-row-reverse align-items-center ">
                                <div class="product_descripcion_Pack">
                                    <button class="disable">Elígelo</button>
                                </div>
                            </div>
                        </div>
                    </article>

                </div>

            </div>
        </section>
    </div>*@

@Html.Partial("~/Views/ArmaTuPack/Detalle/cabecera-template.cshtml")
@Html.Partial("~/Views/ArmaTuPack/Detalle/grupos-template.cshtml")
@Html.Partial("~/Views/ArmaTuPack/Detalle/seleccionados-template.cshtml")

@section scripts{

    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/Mixto/ArmaTuPack")


    <script>
        $(document).ready(function () {

            $('#divCarruselMenuRes').slick({
                infinite: true,
                vertical: false,

                autoplay: false,
                speed: 300,


                slidesToShow: 4,
                slidesToScroll: 4,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3,
                            infinite: true,
                            dots: true
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                    // You can unslick at a given breakpoint now by adding:
                    // settings: "unslick"
                    // instead of a settings object
                ],

                prevArrow: '<a class="previous_ofertas_mobile js-slick-prev-h" style="left: -13%;"><img src="/Content/Images/mobile/Esika/previous_ofertas_home.png"></a>',
                nextArrow: '<a class="previous_ofertas_mobile js-slick-next-h" style="right: -13%;"><img src="/Content/Images/mobile/Esika/next.png")"/></a>'
            });

        });
    </script>
}
