@using Portal.Consultoras.Web.Models
@using Portal.Consultoras.Common
@model Portal.Consultoras.Web.Models.DetalleEstrategiaFichaModel

@{
    Layout = "~/Views/Shared/_MainLayoutResponsive.cshtml";

    var OrigenPedidoWeb = Model.IsMobile ? Constantes.OrigenPedidoWeb.MobileContenedorArmaTuPack : Constantes.OrigenPedidoWeb.DesktopContenedorArmaTuPack;
}


@section css{
    @System.Web.Optimization.Styles.Render("~/Bundle/Css/Responsive/ArmaTuPack")

}


<div id="cabecera" class="banner_armaTuPack">
</div>

<div class="Select_ArmaTuPack" data-OrigenPedidoWeb="@OrigenPedidoWeb" data-item="">
    <div style="display:none;">
        <div id="data-estrategia" data-estrategia='@Html.Raw(Json.Encode(Model))'></div>
    </div>
    <div id="seleccionados" class="container d-flex align-items-center justify-content-center " style="display:none;">
    </div>
</div>

<div id="grupos" class="container" >
</div>



@Html.Partial("~/Views/ArmaTuPack/Detalle/cabecera-template.cshtml")
@Html.Partial("~/Views/ArmaTuPack/Detalle/grupos-template.cshtml")
@Html.Partial("~/Views/ArmaTuPack/Detalle/seleccionados-template.cshtml")

@section scripts{
    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/Mixto/ArmaTuPack")
}


<script>

    window.addEventListener("scroll", function () {
        var scrollTop = window.scrollY;
        var element = document.querySelector(".Select_ArmaTuPack");
        if (scrollTop >= 175) {
            element.className += " Select_fixed";
            document.querySelector("#grupos").style.paddingTop = "185px"; 
        } else {
            element.classList.remove("Select_fixed");
            document.querySelector("#grupos").style.paddingTop = "15px"; 
        }
    });
 
</script>