@model Portal.Consultoras.Web.Models.ParticipantesDemandaAnticipadaModel
@{
    ViewBag.Title = "Participantes Demanda Anticipada";
}

<script>
    var idpagina = 'Index';
    var principalurl = '@Url.Action("Index", "ParticipantesDemandaAnticipada")';
    var Guardarurl = '@Url.Action("GuardarParticipantesDemandaAnticipada", "ParticipantesDemandaAnticipada")';
    var ObtenerByIdurl = '@Url.Action("GetConsultoraByCodigo", "ParticipantesDemandaAnticipada")';
    var ObtenerCampaniaByZona = '@Url.Action("GetCampaniaActualByZona", "ParticipantesDemandaAnticipada")';
</script>

<style>

    .hide
    {
        display:none;
    }
    .show
    {
        display:block;
    }

</style>

<script>

    jQuery(document).ready(function () {
        fnGrilla();
        $("#btnNuevo").click(function () {
            $('#ui-id-2')[0].innerHTML = "Registro de Participantes de Demanda Anticipada";
            $('#lbltitF')[0].innerHTML = "Campaña Actual:";
            $('#txtcodigoconsultoraedit')[0].readOnly = false;
            limpiarModal();
            AbrirModal();
           
        });
        IniDialog();
        $("#btnBuscar").click(function () {
            fnGrilla();
        });

        $(document).on("click", ".EditarRegistro", function () {
            
            $('#ui-id-2')[0].innerHTML = "Edición de Participantes de Demanda Anticipada";
            $('#lbltitF')[0].innerHTML = "Campaña:";
            $('#txtcodigoconsultoraedit')[0].readOnly = true;
            $('#divzona').addClass('hide');
            $('.EditarRegistro').removeClass('on');
            $(this).addClass('on');

            var id = this.parentElement.parentElement.parentElement.id;
            var idzona = this.parentElement.parentElement.parentElement.children[1].innerHTML;
            var idconsultora = this.parentElement.parentElement.parentElement.children[2].innerHTML;
            var Campania = this.parentElement.parentElement.parentElement.children[3].innerHTML;
            var CodigoConsultora = this.parentElement.parentElement.parentElement.children[5].innerHTML;
            var TipoConfiguracion = this.parentElement.parentElement.parentElement.children[7].innerHTML;
            var fecha = this.parentElement.parentElement.parentElement.children[10].innerHTML;
            
            $('#TxtEditId')[0].value = id;
            $('#ddlCampaniaEdit').val(Campania);
            $('#txtcodigoconsultoraedit').val(CodigoConsultora);
            $('#txtcodigoconsultoraedit')[0].dataset.id = id;
            $('#txtcodigoconsultoraedit')[0].dataset.idzona = idzona;
            $('#txtcodigoconsultoraedit')[0].dataset.idconsultora = idconsultora;
            $('#txtcodigoconsultoraedit')[0].dataset.fecha = fecha;
            $('#chkparticipa')[0].checked = TipoConfiguracion == "1";
            AbrirModal();

        });

        $("#btnguardar").click(function (e) {
            
            var campania = $('#ddlCampaniaEdit').val();

            if(campania == null || campania == "")
            {
                alert("Por favor ingrese un código de consultora correcta");
                return false;
            }

            if(campania == "0")
            {
                alert("La zona de la Consultora no esta asociada a una Campaña");
                $('#txtzona').val("");
                $('#txtzona')[0].dataset.codigozona = "";
                $('#txtcodigoconsultoraedit')[0].dataset.idzona = "";
                $('#txtcodigoconsultoraedit')[0].dataset.idconsultora = "";
                $('#ddlCampaniaEdit').val("");
                $('#chkparticipa')[0].checked = false;
                $('#txtcodigoconsultoraedit').val("");
                $('#txtcodigoconsultoraedit').focus();
                return false;
            }

            id_ = $('#TxtEditId')[0].value;

            var iditem = $('#txtcodigoconsultoraedit').val();
            var url_ = ObtenerByIdurl;
            var parametros = { codigoConsultora: iditem };

            $('#btnguardar').prop('disabled', true);

            $.getJSON(url_,
                 parametros,
                 function (resultado) {

                     if (id_ == "" && resultado.CodigoCampania == campania && resultado.CodigoConsultora == iditem) {

                         alert("Esta Consultora ya existe en la Campaña " + resultado.CodigoCampania);
                         $('#txtzona').val("");
                         $('#txtzona')[0].dataset.codigozona = "";
                         $('#txtcodigoconsultoraedit')[0].dataset.idzona = "";
                         $('#txtcodigoconsultoraedit')[0].dataset.idconsultora = "";
                         $('#ddlCampaniaEdit').val("");
                         $('#chkparticipa')[0].checked = false;
                         $('#txtcodigoconsultoraedit').val("");
                         $('#txtcodigoconsultoraedit').focus();
                         $('#btnguardar').prop('disabled', false);
                         return false;

                     }
                     else {

                         saveerror = false;
                         mensajeajax = "";
                         idgenerado = 0;

                         var form = document.getElementById('frmguardar');
                         form.action = Guardarurl;
                         form.method = "post";
                         var formData = new FormData(form);

                         formData.append("TxtZonaID", $('#txtcodigoconsultoraedit')[0].dataset.idzona)
                         formData.append("TxtConsultoraID", $('#txtcodigoconsultoraedit')[0].dataset.idconsultora)
                         formData.append("TxtCodigoCampania", $('#ddlCampaniaEdit').val())
                         formData.append("TxtFecha", $('#txtcodigoconsultoraedit')[0].dataset.fecha)
                         formData.append("TxtTipoConfiguracion", $('#chkparticipa')[0].checked == true ? 1 : 0)

                         jQuery.ajax({
                             url: form.getAttribute('action'),
                             data: formData,
                             cache: false,
                             contentType: false,
                             processData: false,
                             type: 'POST',
                             async: false,
                             success: function (data) {
                                 idgenerado = data.idkey;
                                 mensajeajax = data.mensaje;
                                 saveerror = data.error;
                             }
                         });

                         if (!saveerror) {

                             $('#DialogConsultoras').dialog('close');

                             if (id_ != 0) {

                                 fnGrilla();
                             }
                             else {

                                 var campania_ = $('#ddlCampaniaEdit').val();
                                 var codigo_ = $('#txtcodigoconsultoraedit').val();

                                 $('#ddlCampania').val(campania_);
                                 $('#txtcodigoconsultora').val(codigo_);

                                 fnGrilla();

                             }

                         }
                         $('#divzona').removeClass('hide');
                         $('#btnguardar').prop('disabled', false);
                     }


                 }).fail(function (jqxhr, textStatus, error) {
                     var err = textStatus + ", " + error;
                     alert("Request Failed: " + err);
                     $('#btnguardar').prop('disabled', false);
                 });

        });

        $("#btncancelar").click(function () {
            $('#DialogConsultoras').dialog('close');
        });

        $('#txtcodigoconsultoraedit').keypress(function (e) {
            
            if (e.which == 13) {

                var iditem = $(this).val();
                var url_ = ObtenerByIdurl;
                var parametros = { codigoConsultora: iditem };

                $.getJSON(url_,
                     parametros,
                     function (resultado) {

                         if (resultado.CodigoConsultora == iditem) {

                             $('#txtzona').val(resultado.NombreZona);
                             $('#txtzona')[0].dataset.codigozona = resultado.CodigoZona;
                             $('#txtcodigoconsultoraedit')[0].dataset.idzona = resultado.ZonaID;
                             $('#txtcodigoconsultoraedit')[0].dataset.idconsultora = resultado.ConsultoraID;
                         }
                         else {

                             alert("Por Favor ingrese un Código de Consultora Correcta");
                             $('#txtcodigoconsultoraedit').val("");
                             $('#txtcodigoconsultoraedit').focus();
                             return false;

                         }

                            var codigozona = $('#txtzona')[0].dataset.codigozona;

                            var iditem_ = codigozona;
                            var url1_ = ObtenerCampaniaByZona;
                            var parametros1 = { CodigoZona: iditem_ };

                            $.getJSON(url1_,
                            parametros1,
                            function (resultado1) {

                                $('#ddlCampaniaEdit').val(resultado1.CampaniaID);

                            }).fail(function (jqxhr, textStatus, error) {
                                var err = textStatus + ", " + error;
                                alert("Request Failed: " + err);
                            });


                        }).fail(function (jqxhr, textStatus, error) {
                            var err = textStatus + ", " + error;
                            alert("Request Failed: " + err);
                        });

            }

        });

        $(".Numeros").keypress(function (e) {

            if ($.inArray(e.keyCode, [8, 9, 27, 13, 110, 190]) !== -1 ||
                (e.keyCode == 65 && e.ctrlKey === true) || 
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                    return;
                }
 
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });
        
    });

    function IniDialog() {
        $('#DialogConsultoras').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 600,
            draggable: true,
            title: "Registro/Edición de Participantes de Demanda Anticipada"
           
        });
    }

    function AbrirModal() {
        showDialog("DialogConsultoras");
    }

    function limpiarModal() {
       
        if ($($('.jqgfirstrow')[0].nextElementSibling).length > 0)
        {
            $('.jqgfirstrow')[0].nextElementSibling.remove();
        }
        $('#divzona').removeClass('hide');
        $('#txtzona').val("");
        $('#txtzona')[0].dataset.codigozona = "";
        $('#ddlCampania').val("");
        $('#txtcodigoconsultora').val("");
        $('#ddlCampaniaEdit').val("");
        $('#TxtEditId')[0].value = "";
        $('#txtcodigoconsultoraedit').val("");
        $('#txtcodigoconsultoraedit')[0].dataset.id = "";
        $('#txtcodigoconsultoraedit')[0].dataset.idzona = "";
        $('#txtcodigoconsultoraedit')[0].dataset.idconsultora = "";
        $('#txtcodigoconsultoraedit')[0].dataset.fecha = "";
        $('#txtcodigoconsultoraedit').val("");
        $('#chkparticipa')[0].checked = false;
        
    }
   

    function fnGrilla() {

        jQuery("#list").jqGrid({
            url: baseUrl + "ParticipantesDemandaAnticipada/ObtenerConfiguracionConsultora",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                CodigoCampania: function () {
                    return jQuery.trim($("#ddlCampania").val());
                },
                CodigoConsultora: function () {
                    return jQuery.trim($("#txtcodigoconsultora").val()) != "" ? jQuery.trim($("#txtcodigoconsultora").val()) : "1";
                }
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['ConfiguracionConsultoraDAID', 'ZonaID', 'ConsultoraID', 'Campaña', 'Código Zona', 'Código Consultora', 'Nombre Completo', 'Tipo Configuración','Aceptó Participar?', 'Monto Pedido Web', 'Fecha Creación', 'Fecha Modificación', 'Usuario Modificación', 'Acción'],
            colModel: [
                { name: 'ConfiguracionConsultoraDAID', index: 'ConfiguracionConsultoraDAID', width: 0, editable: false, align: 'center', hidden: true },
                { name: 'ZonaID', index: 'ZonaID', width: 0, editable: false, align: 'center', hidden: true },
                { name: 'ConsultoraID', index: 'ConsultoraID', width: 0, editable: false, hidden: true },
                { name: 'CodigoCampania', index: 'CodigoCampania', width: 29, editable: true, align: 'center', resizable: false },
                { name: 'CodigoZona', index: 'CodigoZona', width: 27, editable: true, align: 'center', resizable: false },
                { name: 'CodigoConsultora', index: 'CodigoConsultora', width: 50, editable: true, align: 'center', resizable: false },
                { name: 'NombreCompleto', index: 'NombreCompleto', width: 120, editable: true, resizable: false },
                { name: 'TipoConfiguracion', index: 'TipoConfiguracion', width: 40, editable: true, align: 'center', hidden : true },
                { name: 'AceptoParticipar', index: 'AceptoParticipar', width: 40, editable: true, align: 'center', resizable: false },
                { name: 'ImporteTotal', index: 'ImporteTotal', width: 60, editable: true, align: 'center', resizable: false },
                { name: 'Fecha', index: 'Fecha', width: 40, editable: true, align: 'center', resizable: false },
                { name: 'FechaModificada', index: 'FechaModificada', width: 40, editable: true, align: 'center', resizable: false },
                { name: 'CodigoUsuario', index: 'CodigoUsuario', width: 40, editable: true, align: 'center', resizable: false },
                { name: 'Activo', index: 'Activo', width: 25, editable: true, sortable: false, align: 'center', resizable: false, formatter: ShowActions },

            ],
            jsonReader:
                {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: true,
                    cell: "cell",
                    id: "id",
                    ISOPais: 'ISOPais'
                },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'Fecha',
            sortorder: 'desc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 930,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            gridComplete: function () { }
        });
        jQuery("#list").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
    }

        function ShowActions(cellvalue, options, rowObject) {
            var cellValueInt = parseInt(cellvalue);
            var Edit = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#list').Edit('" + rowObject[0] + "');\" >" + "<img class='EditarRegistro' src='@Url.Content("~/Content/Images/Edit.png")' alt='Editar Registro' title='Editar Registro' border='0' /></a>";
                return Edit;
        };

    function ExportarExcel() {
        
        var CodigoCampania = jQuery.trim($("#ddlCampania").val());
        if (CodigoCampania == "") {
            alert("Debe seleccionar una campaña.");
            return false;
        }

        waitingDialog({});

        setTimeout(function () {
            DownloadAttachExcel(CodigoCampania)
        }, 0);
    }

    function DownloadAttachExcel(CodigoCampania) {
        
        if (checkTimeout()) {
            var content = baseUrl + "ParticipantesDemandaAnticipada/ExportarExcel?CodigoCampania=" + CodigoCampania;
            var iframe_ = document.createElement("iframe");
            iframe_.style.display = "none";
            iframe_.setAttribute("src", content);

            if (navigator.userAgent.indexOf("MSIE") > -1 && !window.opera) { // Si es Internet Explorer
                iframe_.onreadystatechange = function () {
                    switch (this.readyState) {
                        case "loading":
                            waitingDialog({});
                            break;
                        case "complete":
                        case "interactive":
                        case "uninitialized":
                            closeWaitingDialog();
                            break;
                        default:
                            closeWaitingDialog();
                            break;
                    }
                };
            }
            else {
                // Si es Firefox o Chrome
                $(iframe_).ready(function () {
                    closeWaitingDialog();
                });
            }
            document.body.appendChild(iframe_);
        }
    }


</script>

<div class="wrap_cab">
    <div class="filtros2">
        <div class="elements">
            <div class="div-2">
                <h1><span>Participantes de Demanda Anticipada</span></h1>
            </div>
            <div class="div-3">
                <div class="titB">Campaña:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.listaCampania, new SelectList(Model.listaCampania, "CampaniaID", "NombreCorto"), "-- Seleccionar --", new { id = "ddlCampania" })
                </div>

                <div class="titB">Consultora:</div>
                <div class="selectP2 borde_redondeado">
                    <input class="Numeros" type="text" id="txtcodigoconsultora" name="txtcodigoconsultora" maxlength="25" />
                </div>
                <div class="addlist_tab">
                    <input id="btnNuevo" type="button" value="Nuevo" />
                </div>
                <div class="addlist_tab">
                    <input id="btnBuscar " type="button" value="Buscar" onclick="fnGrilla();" />
                </div>
            </div>

        </div>
    </div>
</div>

<div class="wrap">

    <section class="container clearfix">
        <div class="border-wrapper">
            <table id="list"></table>
            <div id="pager"></div>
        </div>
        <br />

        <div class="div-3">
                <div class="input_horizontal">
                    <input type="button" value="Descargar" id="btnExportarExcel" name="btnExportarExcel" onclick="ExportarExcel();">
                </div>
            </div>

    </section>

</div>

<div id="DialogConsultoras">
    <form method="post" id="frmguardar" action="logistica">
        <input type="hidden" class="form-control" id="TxtEditId" name="TxtEditId" value="" />

        <div class="Content_modal">
        <div class="div-3">
            <div class="titF">Codigo Consultora:</div>
            <div class="selectA borde_redondeado">
                <input class="Numeros" maxlength="25" type="text" id="txtcodigoconsultoraedit" name="txtcodigoconsultoraedit" data-idusuario="@Model.CodigoUsuario" data-fecha="" data-id="" data-idzona="" data-idconsultora="" />
            </div>
        </div>
        <div id="divzona" class="div-3">
            <div class="titF">Zona:</div>
            <div class="selectA borde_redondeado">
                <input type="text" id="txtzona" data-codigozona="" name="txtzona" readonly="true"/>
            </div>
        </div>
        <div class="div-3">
            <div class="titF" id="lbltitF">Campaña:</div>
            <div class="selectA borde_redondeado">
                <input type="text" id="ddlCampaniaEdit" name="ddlCampaniaEdit" readonly="true" />
            </div>
        </div>
        
        <div class="div-3">
            <div class="titF">Acepta participar ?:</div>
            <div class="">
                <input type="checkbox" id="chkparticipa" name="chkparticipa" />
            </div>
        </div>
            <div class="addlist_tab" style="float:right;">
                <input type="button"  id="btncancelar" title="Cancelar" value="Cancelar" />
            </div>
            <div class="addlist_tab" style="float:right;">
                    <input type="button" id="btnguardar" title="Aceptar" value="Guardar" />
            </div>
            
    
    </div>

    </form>
    
</div>
<div id="loadingScreen"></div>
