@{
    ViewBag.Title = "Pedido Web Detalle";
}
<script type="text/javascript">
    jQuery(document).ready(function () {
        fnGrilla();
        $("#btnRegresar").click(function () {
            location.href = '@Url.Action("PedidoWeb", "PedidoWeb")';
        });
    });

    function fnGrilla() {
        jQuery("#list").jqGrid({
            url: baseUrl + "PedidoWeb/ConsultarPedidoWebDetalleClientes",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                CampaniaId: function () { return jQuery.trim($("#hdCampaniaId").val()); }
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['Nombre', 'Opcion'],
            colModel: [
                { name: 'Nombre', index: 'Nombre', width: 120, editable: true, resizable: false },
                { name: 'Activo', index: 'Activo', width: 12, editable: true, sortable: false, align: 'center', resizable: false, hidden: true }
            ],
            jsonReader:
                {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: true,
                    cell: "cell",
                    id: "id",
                    simbolo: "simbolo"
                },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'Nombre',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 930,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function () {
                var timeOut = 50;
                var rowIds = $("#list").getDataIDs();
                $.each(rowIds, function (index, rowId) {
                    setTimeout(function () {
                        $("#list").expandSubGridRow(rowId);
                    }, timeOut);
                    timeOut = timeOut + 200;
                });
            },
            gridComplete: function () { },
            subGrid: true,
            subGridRowExpanded: function (subgrid_id, row_id) {
                var subgrid_table_id;
                subgrid_table_id = subgrid_id + "_t";
                jQuery("#" + subgrid_id).html("<table id='" + subgrid_table_id + "' class='scroll' style='text-align:center;'></table>");
                jQuery("#" + subgrid_table_id).jqGrid({
                    url: baseUrl + "PedidoWeb/ConsultarPedidoWebDetalleProductos",
                    datatype: "json",
                    postData: ({
                        CampaniaId: function () { return jQuery.trim($("#hdCampaniaId").val()); },
                        ClientId: function () { return row_id; }
                    }),
                    colNames: ['Código', 'Descripción', 'Cantidad', 'Precio Unit.', 'Precio Total', ''],
                    colModel: [
                      { name: "CUV", index: "CUV", width: 80, key: true, sortable: false },
                      { name: "DescripcionProd", index: "DescripcionProd", width: 150, sortable: false },
                      { name: "Cantidad", index: "Cantidad", width: 60, align: "right", sortable: false },
                      { name: "PrecioUnidad", index: "PrecioUnidad", width: 80, align: "right", sortable: false },
                      { name: "ImporteTotal", index: "ImporteTotal", width: 80, align: "right", sortable: false },
                      { name: "ImporteTotalSin", index: "ImporteTotalSin", width: 80, align: "right", sortable: false, hidden: true }
                    ],
                    height: '100%',
                    width: 905,
                    rowNum: 100,
                    sortname: 'Nombre',
                    sortorder: "asc",
                    footerrow: true,
                    loadComplete: function (data) {
                        var $this = $(this),
                            sum = $this.jqGrid("getCol", "ImporteTotalSin", false, "sum");
                        $this.jqGrid("footerData", "set", { PrecioUnidad: "Total:", ImporteTotal: data.simbolo + "" + data.totalSum });
                    }
                });
            }
        });
        jQuery("#list").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');

        function ShowActions(cellvalue, options, rowObject) {
            var cellValueInt = parseInt(cellvalue);
        };
    }

    function AbrirModal() {
        limpiar();
        showDialog("DialogClientes");
    }

    $.jgrid.extend({
        EnviarEmail: function (Email, ClientId) {
            var CampaniaId = jQuery.trim($("#hdCampaniaId").val());
            if (jQuery.trim(Email) == "" && ClientId != "0") {
                alert("El cliente seleccionado no tiene email registrado");
                return false;
            }

            var elimina = confirm('¿Está seguro que desea enviar el email al cliente seleccionado?');
            if (!elimina)
                return;

            waitingDialog({});
            jQuery.ajax({
                type: 'POST',
                url: baseUrl + 'PedidoWeb/EnviarEmail',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ ClientId: ClientId, Email: Email, CampaniaId: CampaniaId }),
                async: true,
                success: function (data) {
                    if (checkTimeout(data)) {
                        if (data.success == true) {
                            closeWaitingDialog();
                            alert(data.message);
                        }
                        else {
                            closeWaitingDialog();
                            alert(data.message);
                        }
                    }
                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        alert("ERROR");
                    }
                }
            });
            return false;
        }
    });

    function Imprimir() {
        window.print();
    }

    function ExportExcel() {
        waitingDialog({});
        CampaniaID = jQuery.trim($("#hdCampaniaId").val());
        setTimeout(function () { DownloadAttachExcel(CampaniaID) }, 0);
    }

    function DownloadAttachExcel(CampaniaID) {
        if (checkTimeout()) {
            var content = baseUrl + "PedidoWeb/ExportarExcel?" +
                "vCampaniaID=" + CampaniaID;

            var iframe_ = document.createElement("iframe");
            iframe_.style.display = "none";
            iframe_.setAttribute("src", content);

            if (navigator.userAgent.indexOf("MSIE") > -1 && !window.opera) { // Si es Internet Explorer
                iframe_.onreadystatechange = function () {
                    switch (this.readyState) {
                        case "loading":
                            waitingDialog({});
                            break;
                        case "complete":
                        case "interactive":
                        case "uninitialized":
                            closeWaitingDialog();
                            break;
                        default:
                            closeWaitingDialog();
                            break;
                    }
                };
            }
            else {
                // Si es Firefox o Chrome
                $(iframe_).ready(function () {
                    closeWaitingDialog();
                });
            }
            document.body.appendChild(iframe_);
        }
    }
</script>

<div class="wrap_cab">
    <div class="filtros">
        <div class="elements">
            <div class="div-1">
                <div class="box">
                    <div class="box-t"></div>
                    <div class="box-c">
                        @if (ViewBag.Campania != null)
                        {
                            if (ViewBag.Dias == 0)
                            {
                                <p class="azul">Hoy es el cierre de <span>@ViewBag.Campania</span></p>
                            }
                            else
                            {
                                <p class="azul">Estás en <span>@ViewBag.Campania</span>, te quedan <strong>@ViewBag.Dias días</strong> para el cierre.</p>
                            }
                            <p>@ViewBag.MensajeCierreCampania</p>
                        }
                        else
                        {
                            <p>La Zona @ViewBag.CodigoZonaConsultora no se ubica en el cronograma, por favor contacte al Servicio de Atención al Cliente.</p>
                        }
                    </div>
                    <div class="box-b"></div>
                </div>
            </div>
            <div class="div-2">
                <h1><span>Pedidos Web Ingresados</span></h1>
            </div>
            <div class="div-2">
                <p style="font: normal 14px Arial, Helvetica, sans-serif; color: #702789; padding-left: 2px;">En este espacio encontrarás todos los productos que ingresas vía somosbelcorp.</p>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hdCampaniaId" value="@ViewBag.CampaniaId"/>
<div class="wrap">
    <section class="container clearfix">
        
        <div class="div-3" style="margin:0px; padding: 0px;">
            <div class="titAuto2 line_height">Código Consultora:</div>
            <div class="titAuto2 line_height">@ViewBag.CodigoPW</div>
        </div>
        <div class="div-3" style="margin:0px; padding: 0px;">
            <div class="titAuto2 line_height">Nombre Consultora:</div>
            <div class="titAuto2 line_height">@ViewBag.NombrePW</div>
        </div>
        <div class="div-3" style="margin:0px; padding: 0px;">
            <div class="titAuto2 line_height">Dirección:</div>
            <div class="titAuto2 line_height">@ViewBag.DireccionPW</div>
        </div>
        <div class="div-3" style="margin:0px; padding: 0px 0px 10px 0px;">
            <div class="titAuto2 line_height">Zona:</div>
            <div class="titAuto2 line_height">@ViewBag.Zona</div>
        </div>
        <div class="div-3">
            <div class="input_horizontal">
                <input id="btnRegresar" type="submit" value="Regresar" />
                <div style="float: right;">
                    <input id="btnExcel" type="button" value="Excel" onclick="ExportExcel();" />
                    <input type="button" onclick="Imprimir();" value="Imprimir" />
                </div>
            </div>
        </div>
        <div class="border-wrapper">
            <div class="grila_fixed">
                <table id="list"></table>
                <div id="pager"></div>
            </div>
        </div>
        <div class="sep"></div>
        <div class="elements2">
            <div class="div-3">
                <div class="titAutoRight">
                    <label class="color_red" style=" color:black; font-weight:bold;">
                        Monto Total: @ViewBag.SimboloPW @ViewBag.TotalPW
                    </label>
                </div>
            </div>
        </div>
    </section>
</div>
<div id="loadingScreen"></div>
        <div class="border-wrapper">
            <div class="grila_fixed">
                <table id="list"></table>
                <div id="pager"></div>
            </div>
        </div>
        <div class="sep"></div>
        <div class="elements2">
            @if (Model.TieneDescuentoCuv)
            {
                <div class="subTotalPROL">SubTotal: <span id="subTotal"><span id="sSimbolo">@Model.Simbolo</span>@Model.SubTotalString</span></div>                
                <div style="clear: both"></div>
                <div class="leyendaIndicadorPROL">
                    <img src="@Url.Content("~/Content/Images/indicador.png")" />Descuento por ofertas con más de un precio <span id="Descuento"><span id="sSimbolo">@Model.Simbolo</span>@Model.DescuentoString</span>
                </div>
            }
            <div class="div-3">
                <div class="total">Monto Total: <span id="sSimbolo" class="superindice">@Model.Simbolo</span><span id="sTotal" class="num">@Model.TotalString</span></div>
            </div>
        </div>
    </section>
</div>
<div id="loadingScreen"></div>
