@{
    ViewBag.Title = "Pedido Web";
}

<script type="text/javascript">
    var ISO = "";
    jQuery(document).ready(function () {
        fnGrilla();
    });

    function fnGrilla() {
        jQuery("#list").jqGrid({
            url: baseUrl + "PedidoWeb/ConsultarPedidoWeb",
            hidegrid: false,
            datatype: 'json',
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['Campaña', 'Total Pedido', 'Nro. Clientes', 'Estado'],
            colModel: [
                { name: 'CampaniaID', index: 'Campaña', width: 100, editable: true, resizable: false, formatter: SeleccionarCampania },
                { name: 'ImporteTotal', index: 'ImporteTotal', width: 80, editable: true, resizable: false },
                { name: 'Clientes', index: 'Clientes', width: 80, editable: true, resizable: false },
                { name: 'EstadoPedidoDesc', index: 'EstadoPedidoDesc', width: 100, editable: true, resizable: false, }
            ],
            jsonReader:
                {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: true,
                    cell: "cell",
                    id: "id"
                },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'CampaniaID',
            sortorder: 'desc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 930,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function (data) {
                ISO = data.ISOPais;
            },
            gridComplete: function () { }
        });
        jQuery("#list").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');

        function SeleccionarCampania(cellvalue, options, rowObject) {
            var Render = "<a href=\"javascript:RedirectToAction(" + options.rowId + ")\">" + rowObject[0] + "</a>";
            return Render
        };
    }

    function RedirectToAction(CampaniaId) {

        var frmDinamico = document.createElement("form");
        var data = document.createElement("input");
        frmDinamico.setAttribute("id", "frmDinamico");
        frmDinamico.action = baseUrl + "PedidoWeb/PedidoWebDetalle";
        frmDinamico.setAttribute("method", "POST");
        data.setAttribute("type", "hidden");
        data.setAttribute("name", "data");
        var json = {
            CampaniaId: CampaniaId
        }

        data.value = JSON.stringify(json);
        frmDinamico.appendChild(data);
        document.body.appendChild(frmDinamico);
        frmDinamico.submit();
    }
</script>

<script type="text/javascript">
    var CE_SNAPSHOT_NAME = "Pedido_Web_Detalle";
</script>

<script type="text/javascript">
    setTimeout(function () {
        var a = document.createElement("script");
        var b = document.getElementsByTagName("script")[0];
        a.src = document.location.protocol + "//dnn506yrbagrg.cloudfront.net/pages/scripts/0017/4400.js?" + Math.floor(new Date().getTime() / 3600000);
        a.async = true; a.type = "text/javascript"; b.parentNode.insertBefore(a, b)
    }, 1);
</script>

<div class="wrap_cab">
    <div class="filtros">
        <div class="elements">
            <div class="div-1">
                <div class="box">
                    <div class="box-t"></div>
                    <div class="box-c">
                        @if(ViewBag.Campania != null)
                        {
                            if (ViewBag.Dias == 0)
                            {
                            <p class="azul">Hoy es el cierre de <span>@ViewBag.Campania</span></p>
                            }
                            else
                            {
                                <p class="azul">Estás en <span>@ViewBag.Campania</span>, te quedan <strong>@ViewBag.Dias días</strong> para el cierre.</p>
                            }
                            <p>@ViewBag.MensajeCierreCampania</p>							
                        }
                        else
                        {
                            <p>La Zona @ViewBag.CodigoZonaConsultora no se ubica en el cronograma, por favor contacte al Servicio de Atención al Cliente.</p>
                        }
                    </div>
                    <div class="box-b"></div>
                </div>
            </div>
            <div class="div-2">
                <h1><span>Pedidos Web Ingresados</span></h1>
            </div>
            <div class="div-2">
                <p style="font: normal 14px Arial, Helvetica, sans-serif;color: #702789; padding-left:2px;">En este espacio encontrarás todos los productos que ingresas vía somosbelcorp.</p>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <section class="container clearfix">
        <div class="border-wrapper">
            <table id="list"></table>
            <div id="pager"></div>
        </div>
    </section>
</div>
