@model Portal.Consultoras.Web.Models.OfertaLiquidacionModel

@if (Model.ListaProductos != null && Model.ListaProductos.Count > 0)
{
    var posicion = 1;
    foreach (var item in Model.ListaProductos)
    {
        var tipoTallaColor = (item.TallaColor.Length > 0
                              && item.TallaColor.Contains("^")) ? item.TallaColor.Split('^')[0] : "";
        
        var tallacolor = (item.TallaColor.Length > 0
                          && item.TallaColor.Contains("^")) ? item.TallaColor.Split('^')[1].Replace("</>", "@") : item.TallaColor.Replace("</>", "@");
        
        var arrOption = tallacolor.Split('@');
        <div class="liquidacion_productos2">
            <div class="liquidacion_item" data-idposicion="@posicion">
                <input type="hidden" class="TipoOfertaSisID" value="@item.TipoOfertaSisID" />
                <input type="hidden" class="OfertaProductoID" value="@item.OfertaProductoID" />
                <input type="hidden" class="ConfiguracionOfertaID" value="@item.ConfiguracionOfertaID" />
                <input type="hidden" class="MarcaID" value="@item.MarcaID" />
                <input type="hidden" class="CUV" value="@item.CUV" />
                <input type="hidden" class="PrecioOferta" value="@item.PrecioOferta" />
                <input type="hidden" class="Stock" value="@item.Stock" />
                <input type="hidden" class="DescripcionProd" value="@item.Descripcion" />
                <input type="hidden" class="DescripcionMarca" value="@item.DescripcionMarca" />
                <input type="hidden" class="DescripcionCategoria" value="@item.DescripcionCategoria" />
                <input type="hidden" class="DescripcionEstrategia" value="@item.DescripcionEstrategia" />
                <div class="liquidacion_imagen">
                    @if (!item.ImagenProducto.Equals(string.Empty))
                    {
                        <img src='@item.ImagenProducto' alt="Imagen Producto" class="imagenpop" />
                    }
                    else
                    {
                        <img src='@Url.Content("~/Content/Matriz/Producto_Sin_Imagen.png")' alt="Imagen Producto" class="imagenpop" />
                    }
                </div>
                <h1 class="liquidacion_titulo_item">@item.DescripcionMarca</h1>
                <p class="liquidacion_descripcion">@item.Descripcion</p>
                <div class="liquidacion_precio_tachado"></div>
                <div class="liquidacion_precio"><span>@ViewBag.Simbolo <span id="precio_oferta">@item.PrecioOferta</span></span></div>
                <hr class="clear" />                
                @if (arrOption.Length > 2)
                {
                    <p class="liquidacion_cantidad" style="visibility: hidden;">Stock: <span class="spStock">@item.Stock</span>  unidades.</p>
                    <div id="tonostallas" style="display:none;" data-array-tonostallas="@tallacolor"></div>
                    <div class="liquidacion_rango_home" style="visibility: hidden;">
                        <input type="text" value="1" size="2" maxlength="2" class="liquidacion_rango_cantidad_pedido ValidaNumeral txtCantidad" />
                        <div class="liquidacion_rango_right_pedido">
                            <a class="mas"><img src="@Url.Content("~/Content/Images/Esika/mas.png")" alt="" /></a>
                            <a class="menos"><img src="@Url.Content("~/Content/Images/Esika/menos.png")" alt="" /></a>
                        </div>
                    </div>
                    <hr class="clear" />
                    <a class="boton_liquidacion js-boton_tonotalla" style="width:218px!important;">@(tipoTallaColor == "C" ? "elegir tono" : "elegir talla")</a>
                }
                else
                {
                    <p class="liquidacion_cantidad">Stock: <span class="spStock">@item.Stock</span>  unidades.</p>
                    <div class="liquidacion_rango_home" style="margin-left: 20px;">
                        <input type="text" value="1" size="2" maxlength="2" class="liquidacion_rango_cantidad_pedido ValidaNumeral txtCantidad" />
                        <div class="liquidacion_rango_right_pedido">
                            <a class="mas"><img src="@Url.Content("~/Content/Images/Esika/mas.png")" alt="" /></a>
                            <a class="menos"><img src="@Url.Content("~/Content/Images/Esika/menos.png")" alt="" /></a>
                        </div>
                    </div>
                    <hr class="clear" />
                    <a class="boton_liquidacion js-boton_liquidacion">agregar</a>
                }
            </div>
        </div>
        
        posicion++;
    }

    <script type="text/javascript">

        var mostrarVerMas = '@Model.MostrarVerMas';
        if (mostrarVerMas.toUpperCase() == 'FALSE') {
            $('#boton_vermas').hide();
        } else {
            $('#boton_vermas').show();
        };
    

    @{List<object> arrayEstrategia = new List<object>();
        int posProducto = 0;
        string variantcad = "";
        string categoriacad = "";
        
    foreach (var item in Model.ListaProductos)
    {
        posProducto += 1;

        if (item.DescripcionEstrategia == null || item.DescripcionEstrategia == "")
        {
            variantcad = "Estándar";
        }
        else { variantcad = item.DescripcionEstrategia; }

        if (item.DescripcionCategoria == null || item.DescripcionCategoria == "")
        {
            categoriacad = "Sin Categoría";
        }
        else { categoriacad = item.DescripcionCategoria; }

        arrayEstrategia.Add(new
        {
            name = item.Descripcion,
            id = item.CUV,
            price = item.PrecioOferta.ToString(),
            brand = item.DescripcionMarca,
            category = categoriacad,
            variant = variantcad,
            list = "Liquidación Web",
            position = posProducto


        });
     }
    }

        var arrayJS = '@Html.Raw(Json.Encode(arrayEstrategia))';
        if ($.parseJSON(arrayJS) != null) {
            if ($.parseJSON(arrayJS).length > 0) {
                dataLayer.push({
                    'event': 'productImpression',
                    'ecommerce': {
                        'impressions': $.parseJSON(arrayJS)
                    }
                });
            }
        }
    </script>
}


