@model Portal.Consultoras.Web.Models.OfertaProductoModel
@{
    ViewBag.Title = "Administración de Ofertas Liquidación";
}

<script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/fileuploader.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.toast.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/handlebars.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.paging.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/AdminContenido/ToastHelper.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/AdminContenido/Paginador.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/AdminContenido/Nemotecnico.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/AdminContenido/DescripcionComercial.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/AdminContenido/MatrizComercialFileUpload.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/AdminContenido/OfertaLiquidacion.js")" type="text/javascript"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="@Url.Content("~/Content/Css/Toast/jquery.toast.min.css")" rel="stylesheet" />

<script type="text/javascript">

    var paisNombre = "";
    var paisID = 11;
    var ofertaLiquidacionObj;
    
    var isVistaPreviaOpened = false;

    $(document).unbind('keydown').bind('keydown', function (event) {
        var doPrevent = false;
        if (event.keyCode === 8) {
            var d = event.srcElement || event.target;
            if ((d.tagName.toUpperCase() === 'INPUT' && (d.type.toUpperCase() === 'TEXT' || d.type.toUpperCase() === 'PASSWORD'))
                 || d.tagName.toUpperCase() === 'TEXTAREA') {
                doPrevent = d.readOnly || d.disabled;
            }
            else {
                doPrevent = true;
            }
        }
        if (doPrevent) {
            event.preventDefault();
        }
    });

    var numeroImagenesPorPagina = 10;

    jQuery(document).ready(function () {
        ofertaLiquidacionObj = OfertaLiquidacion({
            codigoSapElementId: 'hdnCodigoSAP',
            fileUploadElementId: 'file-upload-matriz',
            paisID: paisID,
            actualizarMatrizComercialAction: '@Url.Action("ActualizarMatrizComercial", "MatrizComercial")',
            getImagesByCodigoSAPAction: '@Url.Action("GetImagesByCodigoSAP", "MatrizComercial")',
            getImagesByNemotecnico: '@Url.Action("GetImagesByNemotecnicoSAP", "MatrizComercial")',
            numeroImagenesPorPagina: numeroImagenesPorPagina,
            imagenProductoElementId: 'ImagenProducto',
            expValidacionNemotecnico: @Html.Raw(Model.ExpValidacionNemotecnico),
            actualizarDescripcionComercialAction: '@Url.Action("ActualizarDescripcionComercial", "MatrizComercial")'
            });


        IniDialogOfertas();
        IniDialogImages();
        IniDialogStockProducto();
        IniAdministracionCorreos();
        IniDialogCantidadMaximaLiquidacion();
        IniForm();
        fnGrilla();

        $('#matriz-comercial-header').on('click', '#matriz-busqueda-nemotecnico #btnBuscarNemotecnico', ofertaLiquidacionObj.buscarNemotecnico);
        $('#matriz-comercial-header').on('click', '#matriz-busqueda-nemotecnico #btnLimpiarBusquedaNemotecnico', ofertaLiquidacionObj.limpiarBusquedaNemotecnico);

        $("#txtCUVTC").keyup(function () {

            if ($(this).val().length == 5) {
                if ($("#txtCUVTC").val() == "") {
                    alert("Debe ingresar un valor para el CUV2");
                    return false;
                }

                waitingDialog({});
                $.ajaxSetup({ cache: false });

                var params = {
                    CUV: $("#txtCUVTC").val(),
                    CampaniaID: $("#ddlCampania").val()
                };

                jQuery.ajax({
                    type: 'POST',
                    url: baseUrl + 'OfertaLiquidacion/GetOfertaByCUV',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(params),
                    async: true,
                    success: function (data) {
                        if (data.success) {
                            $("#txtDescripcionCUVTC").val(data.data.DescripcionCUV);
                            $("#txtPrecioCUVTC").val(parseFloat(data.data.PrecioUnitario).toFixed(2));
                            closeWaitingDialog();
                        } else {
                            alert(data.message);
                            closeWaitingDialog();
                        }
                    },
                    error: function (data, error) {
                        $('#mensajeErrorCUV').val(data.message);
                        alert($('#mensajeErrorCUV').val());
                        closeWaitingDialog();
                    }
                });
            }

        });
        $("#linkTallaColor").click(function () {
            if ($.trim($("#txtCUVModal").val()) == "") {
                alert("Debe ingresar un valor para CUV");
                return false;
            }
            fnGrillaTC();
            showDialog("DialogTonoMarca");
            return false;
        });

        $('#txtOrdenModal').keyup(function (evt) {
            var theEvent = evt || window.event;
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
            var regex = /[0-9]|\./;
            if (!regex.test(key)) {
                theEvent.returnValue = false;
                if (theEvent.preventDefault) theEvent.preventDefault();
            }
        });
        $('#txtCantidadMaxima').keyup(function (evt) {
            var theEvent = evt || window.event;
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
            var regex = /[0-9]|\./;
            if (!regex.test(key)) {
                theEvent.returnValue = false;
                if (theEvent.preventDefault) theEvent.preventDefault();
            }
        });
        $('#txtOrdenModal').keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });
        $('#txtCantidadMaxima').keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });
        $('#txtStockMinimo').keyup(function (evt) {
            var theEvent = evt || window.event;
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
            var regex = /[0-9]|\./;
            if (!regex.test(key)) {
                theEvent.returnValue = false;
                if (theEvent.preventDefault) theEvent.preventDefault();
            }
        });

        $('#txtStockMinimo').keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });

        $('#txtUnidadesPermitidasModal').keyup(function (evt) {
            var theEvent = evt || window.event;
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
            var regex = /[0-9]|\./;
            if (!regex.test(key)) {
                theEvent.returnValue = false;
                if (theEvent.preventDefault) theEvent.preventDefault();
            }
        });

        $('#txtUnidadesPermitidasModal').keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });

        $("#btnBuscar").click(function () {
            var msjex = "";
            if ($("#ddlPais").val() == "")
                msjex += " - Debe seleccionar un País .\n";
            if ($("#ddlCampania").val() == "")
                msjex += " - Debe seleccionar un Campania .\n";

            if (msjex == "") {
                paisNombre = $("#ddlPais option:selected").text();
                paisID = $("#ddlPais").val();
                ofertaLiquidacionObj.actualizarPais(paisID);
                fnGrilla();
            }
            else {
                alert(msjex);
                return false;
            }
        });
        $('#ddlPais').change(function () {
            var Id = $(this).val();
            if (Id != "") {
                waitingDialog({});
                $.getJSON(baseUrl + 'OfertaLiquidacion/ObtenerCampaniasYConfiguracionPorPais', { PaisID: Id == "" ? 0 : Id }, function (data) {
                    if (checkTimeout(data)) {
                        LimpiarDependencias(Id);

                        var ddlCampania = $('#ddlCampania');
                        var ddlConfiguracionOferta = $("#ddlConfiguracionOferta");

                        if(data.habilitarNemotecnico) {
                            $("#matriz-busqueda-nemotecnico").show();
                        }else{
                            $("#matriz-busqueda-nemotecnico").hide();
                        }

                        ofertaLiquidacionObj.actualizarParNemotecnico(data.habilitarNemotecnico);

                        ddlCampania.empty();
                        ddlConfiguracionOferta.empty();
                        if (data.lista.length > 0) {
                            ddlCampania.append($('<option/>', {
                                value: "",
                                text: "-- Seleccionar --"
                            }));
                            if (Id != "") {
                                for (var item in data.lista) {
                                    ddlCampania.append($('<option/>', {
                                        value: data.lista[item].CampaniaID,
                                        text: data.lista[item].Codigo
                                    }));
                                }
                            }
                        }
                        if (data.lstConfig.length > 0) {
                            ddlConfiguracionOferta.append($('<option/>', {
                                value: "0",
                                text: "-- Todos --"
                            }));
                            if (Id != "") {
                                for (var item in data.lstConfig) {
                                    ddlConfiguracionOferta.append($('<option/>', {
                                        value: data.lstConfig[item].CodigoOferta,
                                        text: data.lstConfig[item].Descripcion
                                    }));
                                }
                            }
                        }
                        closeWaitingDialog();
                    }
                });
            } else LimpiarDependencias(Id);
        });
        $("#lnkStock").click(function () {
            showDialog("DialogCargarStock");
            LimpiarCarga();
            return false;
        });
        $("#lnkAdmEmail").click(function () {
            showDialog("DialogAdministradorCorreos");
            LimpiarAdministrador();
            return false;
        });
        $("#lnkModal").click(function () {
            showDialog("DialogAdministrarCantidad");
            LimpiarDatosMaximoItems();
            return false;
        });

        var chkImagenProductoOnClick = function () {

            $(".chkImagenProducto").prop('checked', false);
            $(this).attr('checked', 'checked');
            var nombreImagen = formatUrl($(this).attr('value'));
            $('#ImagenProducto').val(nombreImagen);
        };

        var imagenOnClick = function () {
            $("#imgPreview").attr("src", $(this).attr("src"));
            var index = $(this).attr("id").split("-");
            var descripcionComercial = $("#descripcion-comercial-"+index[2]).attr("value");
            var idMatrizComercial = $("#id-matriz-comercial-imagen-" + index[2]).attr("value");
            var editData = {
                IdMatrizComercialImagen: idMatrizComercial,
                DescripcionComercial: descripcionComercial
            };
            SetHandlebars('#descripcion-comercial-template', editData, '#descripcion-comercial');
            isVistaPreviaOpened = true;
            showDialog('divVistaPrevia');
        };

        $("#matriz-comercial-lista-imagenes").on("click", ".chkImagenProducto", chkImagenProductoOnClick);
        $("#matriz-comercial-lista-imagenes").on("click", ".img-matriz-preview", imagenOnClick);

        $('#ddlPaisAdm').change(function () {
            var Id = $(this).val();
            if (Id != "") {
                waitingDialog({});
                $.ajaxSetup({ cache: false });
                $.getJSON(baseUrl + 'OfertaLiquidacion/ObtenerDatosAdministracionCorreo', { PaisID: Id == "" ? 0 : Id }, function (data) {
                    if (checkTimeout(data)) {
                        if (data.Correo != "") {
                            $("#txtCorreos").val(data.Correo);
                            $("#txtStockMinimo").val(data.Stock);
                            $("#hdAdmCorreosFlag").val("1");
                        } else
                            $("#hdAdmCorreosFlag").val("0");
                        closeWaitingDialog();
                    }
                });
            } else {
                $("#txtCorreos").val("");
                $("#txtStockMinimo").val("");
            }
        });

        $('#ddlPaisCantidad').change(function () {
            var Id = $(this).val();
            if (Id != "") {
                waitingDialog({});
                $.ajaxSetup({ cache: false });
                $.getJSON(baseUrl + 'OfertaLiquidacion/ObtenerCantidadMaximaPorPais', { PaisID: Id == "" ? 0 : Id }, function (data) {
                    if (checkTimeout(data)) {
                        $("#txtCantidadMaxima").val(data.Cantidad);
                        closeWaitingDialog();
                    }
                });
            } else {
                LimpiarDatosMaximoItems();
            }
        });

        $("#btnExcel").click(function () {
            ExportExcel();
        });

        $(".qq-upload-list").css("display", "none");
        
    });

    function formatUrl(url) {
        var newUrl = url.replace(/^.*[\\\/]/, '');
        if (newUrl.lastIndexOf("?") >= 0) {
            newUrl = newUrl.substring(0, newUrl.lastIndexOf("?"));
        }

        return newUrl;
    };

    function IniDialogImages() {
        $('#divVistaPrevia').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 250,
            draggable: false,
            title: "Vista previa",
            buttons:
            {
                "Cerrar": function () {
                    if(isVistaPreviaOpened){
                        var codigoSap =  $('#hdnCodigoSAP').val();
                        ofertaLiquidacionObj.obtenerImagenes(codigoSap, 1, true).done(function () {
                            showDialog("matriz-comercial-dialog");
                            closeWaitingDialog();
                        });
                    }
                    isVistaPreviaOpened = false;
                    $(this).dialog('close');
                }
            }
        });
    }

    function IniForm() {
        $('#frmCargarStock').ajaxForm({
            beforeSubmit: function () {
                waitingDialog({});
                var fileValue = $('#flStock').val();
                var extensiones = ['csv'];
                var get_ext;
                var message = '';

                //validar la extension del archivo
                get_ext = fileValue.split('.');
                get_ext = get_ext.reverse();

                if ($.inArray(get_ext[0].toLowerCase(), extensiones) == -1 && fileValue.length > 0)
                    message = message + '- El tipo de archivo es inválido, asegúrese de seleccionar con extensión (csv).'

                if (message.length > 0) {
                    closeWaitingDialog();
                    alert(message);
                    return false;
                }
            },
            success: fnRespuestaCargaStock
        });
    }

    function fnRespuestaCargaStock(responseText, statusText, xhr, $form) {
        closeWaitingDialog();
        if (checkTimeout(responseText)) {
            $("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
            alert(responseText);
            $('#DialogCargarStock').dialog('close');
        }
    }

    function LimpiarDependencias(Id) {
        var ddlCampania = $('#ddlCampania');
        ddlCampania.empty();
        ddlCampania.append($('<option/>', {
            value: "",
            text: "-- Seleccionar --"
        }));
        var ddlConfiguracionOferta = $('#ddlConfiguracionOferta');
        ddlConfiguracionOferta.empty();
        ddlConfiguracionOferta.append($('<option/>', {
            value: "",
            text: "-- Seleccionar --"
        }));
        $("#list").jqGrid("clearGridData", true).trigger("reloadGrid");
    }

    function fnGrillaTC() {
        $("#listTC").jqGrid("GridUnload");
        jQuery("#listTC").jqGrid({
            url: baseUrl + "OfertaLiquidacion/ConsultarTallaColor",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                CampaniaID: $("#ddlCampania").val(),
                CUV: $("#txtCUVModal").val()
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['ID', 'CUV', 'Descripción', 'Precio', 'Tipo', 'Talla/Color', 'Desc T/C', '', ''],
            colModel: [
                { name: 'ID', index: 'ID', width: 0, editable: true, resizable: false, hidden: true },
                { name: 'CUV', index: 'CUV', width: 20, editable: true, resizable: false, hidden: false },
                { name: 'DescripcionCUV', index: 'DescripcionCUV', width: 110, editable: true, resizable: false, hidden: false },
                { name: 'PrecioUnitario', index: 'PrecioUnitario', width: 30, editable: true, resizable: false, hidden: false },
                { name: 'Tipo', index: 'Tipo', width: 0, editable: true, resizable: false, hidden: true },
                { name: 'DescripcionTipo', index: 'DescripcionTipo', width: 50, editable: true, resizable: false, hidden: false },
                { name: 'DescripcionTallaColor', index: 'DescripcionTallaColor', width: 90, editable: true, resizable: false, hidden: false },
                { name: 'Accion', index: 'Accion', width: 30, editable: true, resizable: false, hidden: false, align: "center", formatter: ShowActionsTC },
                { name: 'IDAux', index: 'IDAux', width: 0, editable: true, resizable: false, hidden: true }
            ],
            jsonReader:
            {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: true,
                cell: "cell",
                id: "id"
            },
            pager: jQuery('#pagerTC'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [],
            sortname: 'ID',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 650,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function () { },
            gridComplete: function () {
                showDialog("DialogTonoMarca");
            }
        });
        jQuery("#listTC").jqGrid('navGrid', "#pagerTC", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#listTC").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
    }
    function ShowActionsTC(cellvalue, options, rowObject) {
        var cellValueInt = parseInt(rowObject[0]);
        var Des = "<a href='javascript:;' onclick=\"return EditarTalla('" + rowObject[0] + "');\" >" + "<img src='@Url.Content("~/Content/Images/Edit.png")' alt='Editar Talla/Color' title='Editar Talla/Color' border='0' /></a>";
        if ($.trim(rowObject[1]) != $.trim($("#txtCUVModal").val())) {
            Des += "<a href='javascript:;' onclick=\"return Eliminar('" + rowObject[0] + "');\" >" + "<img src='@Url.Content("~/Content/Images/Delete.png")' alt='Quitar Talla/Color' title='Quitar Talla/Color' border='0' /></a>";
        }
        return Des;
    }
    function EditarTalla(id) {
        $("#hdTallaColorID").val(id);
        $('#txtCUVTC').val(jQuery("#listTC").jqGrid('getCell', id, 'CUV'));
        $('#txtDescripcionCUVTC').val(jQuery("#listTC").jqGrid('getCell', id, 'DescripcionCUV'));
        $('#txtPrecioCUVTC').val(jQuery("#listTC").jqGrid('getCell', id, 'PrecioUnitario'));
        $('#ddlTallaColor').val(jQuery("#listTC").jqGrid('getCell', id, 'Tipo'));
        $('#txtDescripcionTC').val(jQuery("#listTC").jqGrid('getCell', id, 'DescripcionTallaColor'));
        $('#txtCUVTC').attr("readonly", true);
        showDialog("DialogEditarTallaColor");
        return false;
    }
    function Eliminar(id) {
        var elimina = confirm('¿ Está seguro que desea eliminar el registro seleccionado?');
        if (!elimina)
            return false;

        var params = {
            Id: id
        };

        jQuery.ajax({
            type: 'POST',
            url: baseUrl + 'OfertaLiquidacion/EliminarTallaColor',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(params),
            async: true,
            success: function (data) {
                alert(data.message);
                fnGrillaTC();
            },
            error: function (data, error) {
                alert(data.message);
            }
        });
    }

    function fnGrilla() {
        jQuery("#list").jqGrid({
            url: baseUrl + "OfertaLiquidacion/ConsultarOfertaLiquidacion",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                PaisID: function () { return $("#ddlPais").val() },
                CodigoOferta: function () { return ($("#ddlConfiguracionOferta").val() == "" ? "0" : $("#ddlConfiguracionOferta").val()); },
                CampaniaID: function () { return ($("#ddlCampania").val() == "" ? "0" : $("#ddlCampania").val()); }
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['Tipo Oferta', 'Código SAP', 'Campaña', 'CUV', 'Descripción', 'Precio Oferta', 'Orden', 'Saldo', 'Stock Inicial', 'Unid.Permitidas', 'Foto', ''],
            colModel: [
                { name: 'TipoOferta', index: 'TipoOferta', width: 50, editable: true, resizable: false },
                { name: 'CodigoProducto', index: 'CodigoProducto', width: 60, editable: true, resizable: false },
                { name: 'CodigoCampania', index: 'CodigoCampania', width: 50, editable: true, resizable: false },
                { name: 'CUV', index: 'CUV', width: 40, editable: true, resizable: false },
                { name: 'Descripcion', index: 'Descripcion', width: 135, editable: true, resizable: false },
                { name: 'PrecioOferta', index: 'PrecioOferta', width: 60, editable: true, resizable: false },
                { name: 'Orden', index: 'Orden', width: 35, editable: true, resizable: false },
                { name: 'Stock', index: 'Stock', width: 35, editable: true, resizable: false },
                { name: 'StockInicial', index: 'StockInicial', width: 50, editable: true, resizable: false },
                { name: 'UnidadesPermitidas', index: 'UnidadesPermitidas', width: 65, editable: true, resizable: false },
                { name: 'Imagen', index: 'Imagen', width: 55, editable: true, resizable: false, sortable: false, align: 'center', formatter: ShowImage },
                { name: 'Options', index: 'Options', width: 60, editable: true, sortable: false, align: 'center', resizable: false, formatter: ShowActions }
            ],
            jsonReader:
            {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: true,
                cell: "cell",
                id: "id"
            },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'Nombre',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 930,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function () { },
            gridComplete: function () { }
        });
        jQuery("#list").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');

        function ShowActions(cellvalue, options, rowObject) {
            var cellValueInt = parseInt(cellvalue);
            var Edit = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#list').Editar('" + options.rowId + "','" + rowObject[3] + "','" + rowObject[11] + "','" + rowObject[15] + "','" + rowObject[16] + "','" + rowObject[17] + "','" + rowObject[14] + "','" + rowObject[18] + "','" + rowObject[19] + "','" + rowObject[12] + "','" + rowObject[8] + "');\" >" + "<img src='@Url.Content("~/Content/Images/Edit.png")' alt='Editar Oferta Liquidación' title='Editar Oferta Liquidación' border='0' /></a>";
            var Del = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#list').Eliminar('" + options.rowId + "','" + rowObject[3] + "','" + rowObject[11] + "','" + rowObject[15] + "','" + rowObject[16] + "','" + rowObject[17] + "','" + rowObject[14] + "','" + rowObject[18] + "');\" >" + "<img src='@Url.Content("~/Content/Images/NotAllowed.png")' alt='Deshabilitar Oferta Liquidación' title='Deshabilitar Oferta Liquidación' border='0' /></a>";
            var Remove = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#list').Remover('" + options.rowId + "','" + rowObject[3] + "','" + rowObject[11] + "','" + rowObject[15] + "','" + rowObject[16] + "','" + rowObject[17] + "','" + rowObject[14] + "','" + rowObject[18] + "');\" >" + "<img src='@Url.Content("~/Content/Images/delete.png")' alt='Eliminar Oferta Liquidación' title='Eliminar Oferta Liquidación' border='0' /></a>";

            var resultado = Edit;

            if (rowObject[14] == "1")
                resultado += Del;

            if (rowObject[6] > 0)
                resultado += Remove;

            return resultado;
        };

        function ShowImage(cellvalue, options, rowObject) {
            var image = "";
            var filename = rowObject[10].replace(/^.*[\\\/]/, '')
            if (rowObject[10] != "") {
                image = '<img src="' + rowObject[10] + '" alt="" width="70px" height="60px" title="" border="0" />';
            } else {
                image = '<img src="@Url.Content("~/Content/Images/prod_grilla_vacio.png")" alt="" width="60px" height="60px" title="" border="0" />';
            }
            return image;
        };
    }

    function llenarDatosFormulario(ID, CUV, CampaniaID, Flag, CodigoOferta, ISO, FlagCheck, FlagOrden, CodigoSAP, Stock, StockInicial) {
        if (Flag != "0")
            $("#FlagTransaccion").val("1");

        $.ajaxSetup({
            cache: false
        });
        if (Flag == "0") {
            $.getJSON(baseUrl + 'OfertaLiquidacion/ObtenerOrdenPriorizacion', { paisID: paisID, ConfiguracionOfertaID: FlagOrden, CampaniaID: CampaniaID }, function (data) {
                $('#txtOrdenModal').val(data.Orden);
            });
        } else {
            $('#txtOrdenModal').val(jQuery("#list").jqGrid('getCell', ID, 'Orden'));
            $("#hdOrdenAnterior").val(jQuery("#list").jqGrid('getCell', ID, 'Orden'));
        }

        $('#hdCampaniaID').val(CampaniaID);
        $('#hdStockProducto').val(StockInicial);
        $("#txtPaisModal").val(paisNombre);
        $('#txtCampaniaModal').val(jQuery("#list").jqGrid('getCell', ID, 'CodigoCampania'));

        $('#txtTipoOfertaModal').val(jQuery("#list").jqGrid('getCell', ID, 'TipoOferta'));
        $('#txtCUVModal').val(jQuery("#list").jqGrid('getCell', ID, 'CUV'));
        $('#txtDescripcionModal').val(jQuery("#list").jqGrid('getCell', ID, 'Descripcion'));
        $('#txtPrecioOfertaModal').val(jQuery("#list").jqGrid('getCell', ID, 'PrecioOferta'));
        if (jQuery("#list").jqGrid('getCell', ID, 'UnidadesPermitidas') == "0")
            $("#txtUnidadesPermitidasModal").val("1");
        else
            $("#txtUnidadesPermitidasModal").val(jQuery("#list").jqGrid('getCell', ID, 'UnidadesPermitidas'));

        if (FlagCheck == 1)
            $('#chkHabilitarOferta').attr('checked', true);
        else
            $('#chkHabilitarOferta').removeAttr('checked');
        $('#hdCodigoOferta').val(CodigoOferta);

        $('#hdnCodigoSAP').val(CodigoSAP);

        showDialog("DialogRegistroOfertaWeb");
    }

    $.jgrid.extend({
        Editar: function (ID, CUV, CampaniaID, Flag, CodigoOferta, ISO, FlagCheck, FlagOrden, CodigoSAP, Stock, StockInicial) {
            if (!ID) {
                alert("Debe seleccionar un Producto, verifique");
                return false;
            }
            LimpiarDatos();
            $("#matriz-imagenes-paginacion, #file-upload-matriz").empty();
            var imgSeleccionada = $($("#list").jqGrid('getCell', ID, 'Imagen')).attr('src');
            $("#ImagenProducto").val(formatUrl(imgSeleccionada));

            ofertaLiquidacionObj.limpiarFiltrosNemotecnico();

            ofertaLiquidacionObj.obtenerImagenes(CodigoSAP, 1, true).done(function (data) {
                llenarDatosFormulario(ID, CUV, CampaniaID, Flag, CodigoOferta, ISO, FlagCheck, FlagOrden, CodigoSAP, Stock, StockInicial);

                ofertaLiquidacionObj.actualizarPais(paisID);

                var params = {
                    idMatrizComercial: data.idMatrizComercial,
                    idImagenMatriz: 0,
                    paisID: paisID,
                    codigoSAP: CodigoSAP,
                    descripcionOriginal: jQuery("#list").jqGrid('getCell', ID, 'Descripcion'),
                };
                ofertaLiquidacionObj.crearObjetoUpload(params);
                closeWaitingDialog();
            });

            return false;
        },
        Eliminar: function (ID, CUV, CampaniaID, Flag, CodigoOferta, ISO, FlagCheck, FlagOrden) {
            var elimina = confirm('¿ Está seguro que desea deshabiltar el producto seleccionado?');
            if (!elimina)
                return false;

            var Item = {
                CampaniaID: CampaniaID,
                CUV: CUV,
                PaisID: paisID
            };

            waitingDialog({});
            jQuery.ajax({
                type: 'POST',
                url: baseUrl + 'OfertaLiquidacion/DeshabilitarOfertaWeb',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(Item),
                async: true,
                success: function (data) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        LimpiarDatos();
                        if (data.success == true) {
                            alert(data.message);
                            jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                        }
                        else
                            alert(data.message);
                    }
                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        alert("ERROR");
                    }
                }
            });
            return false;
        },
        Remover: function (ID, CUV, CampaniaID, Flag, CodigoOferta, ISO, FlagCheck, FlagOrden) {
            var elimina = confirm('¿ Está seguro que desea eliminar el producto seleccionado?');
            if (!elimina)
                return false;

            var Item = {
                CampaniaID: CampaniaID,
                CUV: CUV,
                PaisID: paisID
            };

            waitingDialog({});
            jQuery.ajax({
                type: 'POST',
                url: baseUrl + 'OfertaLiquidacion/RemoverOfertaLiquidacion',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(Item),
                async: true,
                success: function (data) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        LimpiarDatos();
                        if (data.success == true) {
                            alert(data.message);
                            jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                        }
                        else
                            alert(data.message);
                    }
                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        alert("ERROR");
                    }
                }
            });
            return false;
        }
    });

    function LimpiarCarga() {
        var divcontainer = $('#flStock').closest('div');
        divcontainer.html(divcontainer.html());
    }

    function LimpiarDatos() {
        $('#hdCampaniaID').val("");
        $('#NombreImagen').val("");
        $('#NombreImagenAnterior').val("");
        $('#txtPaisModal').val("");
        $('#txtTipoOfertaModal').val("");
        $('#txtCUVModal').val("");
        $('#txtDescripcionModal').val("");
        $('#txtPrecioOfertaModal').val("");
        $('#chkHabilitarOferta').removeAttr('checked');
        $("#FlagTransaccion").val("0");
        $("#hdCodigoOferta").val("");
        $("#hdFlagImagen").val("0");
        $("#hdStockProducto").val("0");
        $('#txtUnidadesPermitidasModal').val("");
        $('#hdnCodigoSAP').val('');
    }


    function IniDialogOfertas() {
        $('#DialogTonoMarca').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 700,
            draggable: false,
            title: "Seleccionar Talla/Color",
            buttons:
            {
                "Nueva Talla/Color": function () {
                    $("#hdTallaColorID").val("0");
                    $("#ddlTallaColor").val("0");
                    $("#txtDescripcionTC").val("");
                    $("#txtCUVTC").val("");
                    $("#txtDescripcionCUVTC").val("");
                    $("#txtPrecioCUVTC").val("");
                    $('#txtCUVTC').attr("readonly", false);
                    showDialog("DialogEditarTallaColor");
                },
                "Salir": function () {
                    $(this).dialog('close');
                }
            }
        });

        $('#DialogEditarTallaColor').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 550,
            draggable: false,
            title: "Registro Talla/Color",
            buttons:
            {
                "Guardar": function () {
                    var msj = "";

                    if ($.trim($("#txtCUVTC").val()) == "") {
                        msj += "- Ingrese un CUV." + "\n";
                    }

                    if ($.trim($("#txtDescripcionCUVTC").val()) == "") {
                        msj += "- Ingrese una descripción para el CUV." + "\n";
                    }

                    if ($("#ddlTallaColor").val() == "0") {
                        msj += "- Seleccione el tipo (Talla/Color)." + "\n";
                    }

                    if ($("#txtDescripcionTC").val() == "") {
                        msj += "- Ingrese descripción (Talla/Color)." + "\n";
                    }

                    if (msj != "") {
                        alert(msj);
                        return false;
                    }

                    var id = $("#hdTallaColorID").val();
                    var cuv = $("#txtCUVTC").val();
                    var campaniaID = $("#ddlCampania").val();
                    var tipo = $("#ddlTallaColor").val();
                    var descripcion = $("#txtDescripcionTC").val();
                    var cuvPadre = $("#txtCUVModal").val();
                    var descripcionCUV = $("#txtDescripcionCUVTC").val();

                    var params = {
                        Id: id,
                        Cuv: cuv,
                        CampaniaID: campaniaID,
                        Tipo: tipo,
                        Descripcion: descripcion,
                        CUVPadre: cuvPadre,
                        DescripcionCUV: descripcionCUV
                    };

                    jQuery.ajax({
                        type: 'POST',
                        url: baseUrl + 'OfertaLiquidacion/RegistrarTallaColor',
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(params),
                        async: true,
                        success: function (data) {
                            if (data.success) {
                                alert(data.message);
                                fnGrillaTC();
                                HideDialog("DialogEditarTallaColor");
                            } else {
                                alert(data.message);
                            }
                        },
                        error: function (data, error) {
                            alert(data.message);
                        }
                    });
                },
                "Salir": function () {
                    $(this).dialog('close');
                }
            }
        });

        $('#DialogRegistroOfertaWeb').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 800,
            draggable: true,
            title: "Registro / Edición Ofertas Liquidación",
            open: function(event, ui) { $(".ui-dialog-titlebar-close", ui.dialog).hide(); },
            buttons:
            {
                "Guardar": function () {
                    var vMessage = "";
                    if (jQuery.trim($('#txtDescripcionModal').val()) == "")
                        vMessage += "- Debe ingresar la Descripción del Producto.\n";
                    if (jQuery.trim($('#txtOrdenModal').val()) == "" || jQuery.trim($('#txtOrdenModal').val()) == "0")
                        vMessage += "- Debe ingresar un Orden de Priorización válido.\n";
                    if (jQuery.trim($('#txtUnidadesPermitidasModal').val()) == "" || jQuery.trim($('#txtOrdenModal').val()) == "0")
                        vMessage += "- Debe ingresar las unidades permitidas válido.\n";
                    if (jQuery.trim($('#hdStockProducto').val()) == "0" && $("#chkHabilitarOferta").attr('checked')) {
                        vMessage += "- La Oferta no se podrá habilitar hasta que el stock sea mayor que 0.\n";
                        $("#chkHabilitarOferta").removeAttr('checked');
                    }
                    if (vMessage != "") {
                        alert(vMessage);
                        return false;
                    }
                    else {
                        if ($("#FlagTransaccion").val() == "1") {
                            if ($("#hdOrdenAnterior").val() != $("#txtOrdenModal").val()) {
                                $.getJSON(baseUrl + 'OfertaLiquidacion/ValidarPriorizacion', { paisID: paisID, codigoOferta: $.trim($("#hdCodigoOferta").val()), CampaniaID: jQuery('#hdCampaniaID').val(), Orden: $("#txtOrdenModal").val() }, function (data) {
                                    if (data.FlagExiste == "0")
                                        RegistrarOfertaWeb();
                                    else {
                                        alert("El valor de Priorización ya está asignado a otro Producto, verifique");
                                        return false;
                                    }
                                });
                            } else RegistrarOfertaWeb();
                        } else {
                            $.getJSON(baseUrl + 'OfertaLiquidacion/ValidarPriorizacion', { paisID: paisID, codigoOferta: $.trim($("#hdCodigoOferta").val()), CampaniaID: jQuery('#hdCampaniaID').val(), Orden: $("#txtOrdenModal").val() }, function (data) {
                                if (data.FlagExiste == "0")
                                    RegistrarOfertaWeb();
                                else {
                                    alert("El valor de Priorización ya está asignado a otro Producto, verifique");
                                    return false;
                                }
                            });
                        }
                    }
                },
                "Cancelar": function () {
                    $(this).dialog('close');
                }
            }
        });
    }

    function IniDialogStockProducto() {
        $('#DialogCargarStock').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 480,
            draggable: true,
            title: "Carga Stock de Productos",
            buttons:
            {
                "Cargar": function () {
                    $('#frmCargarStock').submit();
                },
                "Cancelar": function () {
                    $(this).dialog('close');
                }
            }
        });
    }

    function IniDialogCantidadMaximaLiquidacion() {
        $('#DialogAdministrarCantidad').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 480,
            draggable: true,
            title: "Administar Cantidad de Items a Mostrar",
            buttons:
            {
                "Guardar": function () {

                    var paisID = $("#ddlPaisCantidad").val();
                    var Cantidad = $("#txtCantidadMaxima").val();
                    var vMessage = "";
                    if (jQuery.trim(paisID) == "")
                        vMessage += "- Debe seleccionar el País.\n";
                    if (jQuery.trim(Cantidad) == "")
                        vMessage += "- Debe ingresar la Cantidad.\n";

                    if (vMessage != "") {
                        alert(vMessage);
                        return false;
                    } else
                        ActualizarMaximoItemsLiquidacion(paisID, Cantidad);
                },
                "Cancelar": function () {
                    $(this).dialog('close');
                }
            }
        });
    }

    function IniAdministracionCorreos() {
        $('#DialogAdministradorCorreos').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 560,
            draggable: true,
            title: "Administración de Correos",
            buttons:
            {
                "Guardar": function () {

                    var vMessage = "";
                    if (jQuery.trim($('#txtCorreos').val()) == "")
                        vMessage += "- Debe ingresar el correo eléctronico.\n";
                    if (jQuery.trim($('#txtStockMinimo').val()) == "")
                        vMessage += "- Debe ingresar el Stock Mínimo a controlar.\n";
                    if (vMessage != "") {
                        alert(vMessage);
                        return false;
                    }

                    var Item = {
                        Correos: jQuery('#txtCorreos').val(),
                        StockMinimo: jQuery('#txtStockMinimo').val(),
                        FlagRegistro: $("#hdAdmCorreosFlag").val(),
                        PaisID: paisID
                    };
                    jQuery.ajax({
                        type: 'POST',
                        url: baseUrl + 'OfertaLiquidacion/AdministrarCorreosOferta',
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(Item),
                        async: true,
                        success: function (data) {
                            if (checkTimeout(data)) {
                                if (data.success == true) {
                                    alert(data.message);
                                    HideDialog("DialogAdministradorCorreos");
                                    LimpiarAdministrador();
                                }
                                else {
                                    alert(data.message);
                                }
                            }
                        },
                        error: function (data, error) {
                            if (checkTimeout(data)) {
                                alert(data.message);
                                HideDialog("DialogAdministradorCorreos");
                            }
                        }
                    });
                },
                "Cancelar": function () {
                    $(this).dialog('close');
                }
            }
        });
    }

    function RegistrarOfertaWeb() {
        var accion = "";
        if ($("#FlagTransaccion").val() == "1")
            accion = "UpdateOfertaWeb";
        else
            accion = "InsertOfertaWeb";

        var Item = {
            CampaniaID: jQuery('#hdCampaniaID').val(),
            CUV: jQuery('#txtCUVModal').val(),
            Descripcion: $("#txtDescripcionModal").val(),
            PrecioOferta: $("#txtPrecioOfertaModal").val(),
            ImagenProducto: $("#ImagenProducto").val(),
            ImagenProductoAnterior: $('#ImagenProductoAnterior').val(),
            Orden: $("#txtOrdenModal").val(),
            UnidadesPermitidas: $("#txtUnidadesPermitidasModal").val(),
            CodigoCampania: $("#txtCampaniaModal").val(),
            FlagHabilitarProducto: $("#chkHabilitarOferta").attr('checked') ? 1 : 0,
            CodigoTipoOferta: $.trim($("#hdCodigoOferta").val()),
            FlagImagen: $("#hdFlagImagen").val(),
            PaisID: paisID
        };
        waitingDialog({ title: "Procesando" });
        jQuery.ajax({
            type: 'POST',
            url: baseUrl + 'OfertaLiquidacion/' + accion,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(Item),
            async: true,
            success: function (data) {
                if (checkTimeout(data)) {
                    closeWaitingDialog();
                    if (data.success == true) {
                        alert(data.message);
                        HideDialog("DialogRegistroOfertaWeb");
                        LimpiarDatos();
                        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                    }
                    else {
                        alert(data.message);
                    }
                }
            },
            error: function (data, error) {
                if (checkTimeout(data)) {
                    closeWaitingDialog();
                    alert(data.message);
                    HideDialog("DialogRegistroOfertaWeb");
                }
            }
        });
    }

    function LimpiarAdministrador() {
        $('#ddlPaisAdm option[value=]').attr('selected', 'selected');
        $("#txtCorreos").val("");
        $("#txtStockMinimo").val("");
        $("#hdAdmCorreosFlag").val("0");
    }

    function ActualizarMaximoItemsLiquidacion(paisID, cantidad) {
        jQuery.ajax({
            type: 'POST',
            url: baseUrl + 'OfertaLiquidacion/ActualizarCantidadMaximaMostrar',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ PaisID: paisID, Cantidad: cantidad }),
            async: true,
            success: function (data) {
                if (checkTimeout(data)) {
                    if (data.success == true) {
                        alert(data.message);
                        HideDialog("DialogAdministrarCantidad");
                        LimpiarDatosMaximoItems();
                    }
                    else {
                        alert(data.message);
                    }
                }
            },
            error: function (data, error) {
                if (checkTimeout(data)) {
                    alert(data.message);
                    HideDialog("DialogRegistroOfertaWeb");
                }
            }
        });
    }

    function LimpiarDatosMaximoItems() {
        $("#ddlPaisCantidad").val("");
        $("#txtCantidadMaxima").val("");
    }

    function ExportExcel() {
        var m = true;
        if ($("#list").getGridParam("reccount") == 0) {
            m = confirm('La grilla se encuentra vacía.\n¿ Está seguro(a) que desea continuar con la operación ?');
        }
        if (!m) {
            return;
        }
        var vPaisID = jQuery.trim($("#ddlPais").val());
        var vCampaniaID = $("#ddlCampania").val();
        var vCodigoOferta = $("#ddlConfiguracionOferta").val();
        var vmessage = "";
        if (vPaisID == "")
            vmessage += "Debe seleccionar un País. \n";
        if (vCampaniaID == "")
            vmessage += "Debe seleccionar la Campaña \n";

        if (vmessage != "") {
            alert(vmessage);
            return false;
        }
        else {
            waitingDialog({});

            setTimeout(function () {
                DownloadAttachExcel(vPaisID, vCampaniaID, vCodigoOferta)
            }, 0);
        }
    }

    function DownloadAttachExcel(vPaisID, vCampania, vCodigoOferta) {
        var content = baseUrl + "OfertaLiquidacion/ExportarExcel?" +
            "vPaisID=" + vPaisID +
            "&vCampania=" + vCampania +
            "&vCodigoOferta=" + vCodigoOferta;

        var iframe_ = document.createElement("iframe");
        iframe_.style.display = "none";
        iframe_.setAttribute("src", content);

        if (navigator.userAgent.indexOf("MSIE") > -1 && !window.opera) { // Si es Internet Explorer
            iframe_.onreadystatechange = function () {
                switch (this.readyState) {
                    case "loading":
                        waitingDialog({});
                        break;
                    case "complete":
                    case "interactive":
                    case "uninitialized":
                        closeWaitingDialog();
                        break;
                    default:
                        closeWaitingDialog();
                        break;
                }
            };
        }
        else {
            // Si es Firefox o Chrome
            $(iframe_).ready(function () {
                closeWaitingDialog();
            });
        }
        document.body.appendChild(iframe_);
    }

    function editarDescripcionComercial(idImagen) {
        ofertaLiquidacionObj.editarDescripcionComercial(idImagen);
    }

</script>
<div class="wrap_cab">
    <div class="filtros">
        <div class="elements">
            <div class="div-2">
                <h1>Ofertas <span>Liquidación</span></h1>
            </div>
            <div class="div-3">
                <div class="titC">País:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.CampaniaID, new SelectList(Model.lstPais, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais" })
                </div>
                <div class="titB">Campaña:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.CampaniaID, new SelectList(Model.lstCampania, "CampaniaID", "NombreCorto"), "-- Seleccionar --", new { id = "ddlCampania" })
                </div>
                <div class="input_search">
                    <a href="#" id="lnkAdmEmail">
                        <img title="Administrar Email" src='@Url.Content("~/Content/Images/email_admin.png")' alt="" />
                    </a>
                    <a href="#" id="lnkStock">
                        <img title="Cargar Stock" src='@Url.Content("~/Content/Images/stok.png")' alt="" />
                    </a>
                    <a href="#" id="lnkModal">
                        <img title="Modal" src='@Url.Content("~/Content/Images/admmaxitems.png")' alt="" />
                    </a>
                </div>
            </div>
            <div class="div-3">
                <div class="titC">Tipo Oferta:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.CodigoTipoOferta, new SelectList(Model.lstConfiguracionOferta, "CodigoOferta", "Descripcion"), "-- Seleccionar --", new { id = "ddlConfiguracionOferta" })
                </div>
                <div class="input_search">
                    <input type="button" value="Buscar" id="btnBuscar" name="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper">
            <table id="list"></table>
            <div id="pager"></div>
        </div>
        <div class="div-3">
            <div class="titAuto">
                <div class="input_horizontal">
                    <input type="button" name="btnExcel" id="btnExcel" value="Excel" />
                </div>
            </div>
        </div>
    </div>
</div>

<div id="loadingScreen"></div>

@Html.Partial("OfertaLiquidacionDialog")

<div id="DialogAdministradorCorreos" style="display: none;">
    <input id="hdAdmCorreosFlag" type="hidden" value="0" />
    <div class="Content_modal">
        <div class="div-3" style="margin-bottom: 0px;">
            <div class="titF">País:</div>
            <div class="selectA borde_redondeado">
                @Html.DropDownListFor(model => model.CampaniaID, new SelectList(Model.lstPais, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPaisAdm" })
            </div>
        </div>
        <div class="red_texto" style="font-size: 11px; padding-left: 182px;">
            Se debera ingresar los correos separados por coma ( , ).
        </div>
        <div class="div-3">
            <div class="titF">Correo:</div>
            <div class="selectA borde_redondeado">
                <input type="text" id="txtCorreos" maxlength="250" />
            </div>
        </div>
        <div class="div-3">
            <div class="titF_2">Numero de productos con stock > 0:</div>
            <div class="selectA borde_redondeado">
                <input type="text" id="txtStockMinimo" maxlength="4" />
            </div>
        </div>
    </div>
</div>

<div id="DialogCargarStock" style="display: none;">
    @using (Html.BeginForm("ActualizarStockMasivo", "OfertaLiquidacion", FormMethod.Post, new { id = "frmCargarStock", enctype = "multipart/form-data" }))
    {
        <div class="Content_modal">
            <div class="div-3">
                <div class="titC">
                    Archivo :
                </div>
                <div class="selectA borde_redondeado">
                    <input type="file" id="flStock" name="flStock" />
                </div>
            </div>
        </div>
    }
</div>

<div id="DialogAdministrarCantidad" style="display: none;">
    <div class="Content_modal">
        <div class="div-3">
            <div class="titC">
                País :
            </div>
            <div class="selectA borde_redondeado">
                @Html.DropDownListFor(model => model.CampaniaID, new SelectList(Model.lstPais, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPaisCantidad" })
            </div>
        </div>
        <div class="div-3">
            <div class="titC">
                Cantidad :
            </div>
            <div class="selectA borde_redondeado">
                <input type="text" id="txtCantidadMaxima" name="txtCantidadMaxima" maxlength="3" />
            </div>
        </div>
    </div>
</div>

<div id="DialogTonoMarca" style="display: none;">
    <div class="Content_modal">
        <table id="listTC"></table>
        <div id="pagerTC"></div>
    </div>
</div>

<div id="DialogEditarTallaColor" style="display: none;">
    <div class="Content_modal">
        <div class="div-3">
            <div class="titG">CUV:</div>
            <div class="selectP2 borde_redondeado">
                 <input type="text" id="txtCUVTC" />
            </div>
        </div>
        <div class="div-3">
            <div class="titG">Descripción:</div>
            <div class="selectP2 borde_redondeado" style="width: 300px">
                 <input type="text" id="txtDescripcionCUVTC" style="width: 290px" />
            </div>
        </div>
        <div class="div-3">
            <div class="titG">Precio:</div>
            <div class="selectP2 borde_redondeado">
                 <input type="text" id="txtPrecioCUVTC" readonly="readonly" />
            </div>
        </div>
        <div class="div-3">
            <div class="titG">Tipo:</div>
            <div class="selectP2 borde_redondeado">
                <select id="ddlTallaColor">
                    <option value='0'>-- Seleccionar --</option>
                    <option value='C'>Color</option>
                    <option value='T'>Talla</option>
                </select>
            </div>
        </div>
        <div class="div-3">
            <div class="titG">Descripción (Talla/Color):</div>
            <div class="selectP2 borde_redondeado">
                <input type="text" id="txtDescripcionTC" />
            </div>
        </div>
    </div>
</div>