@using Portal.Consultoras.Common
@model Portal.Consultoras.Web.Models.ActualizarDatosModel

@{
    ViewBag.Title = "Liquidación Web";
    string ISO = ViewBag.ISO;
    string Simbolo = ViewBag.Simbolo;
}

@section styles{
    <style type="text/css">
        body {
            background: white;
        }
    </style>
}

<div class="envolvente_pop_up">
    <div class="pop_liquidacion" id="pop_liquidacion" style="display: none;">
        <div class="check_liquidacion">
            <img src="@Url.Content("~/Content/Images/Esika/check_liquidacion.png")" />
        </div>
        <div class="titulo_liquidacion">
            ¡PRODUCTO AGREGADO SATISFACTORIAMENTE!
        </div>
        <hr class="clear" />
        <div class="imagen_pop_l">
            <img id="imgProductoAgregado" src="" alt="" />
        </div>
        <div class="info_pop_liquidacion">
            <h1 id="nombreProductoAgregado"></h1>
            <h2>
                <span id="cantidadProductoAgregado"></span> unidades
            </h2>
            <p>@ViewBag.Simbolo <span id="totalProductoAgregado"></span></p>
        </div>
        <hr class="clear" />
        <a href="javascript: CerrarProductoAgregado();" class="boton_pop_up">CERRAR</a>
    </div>
</div>

<div class="wrapper_home_interiores">
    <div class="titulo_principal"><h1 class="titulo_principal_interiores">LIQUIDACIÓN WEB</h1></div>
    <p class="liquidacion_info">
        <strong>APROVECHA ESTOS PRODUCTOS SOLO POR WEB. Se atenderá hasta agotar stock.</strong><br />
        Suma al monto mínimo del pedido, suma la escala de comisión, otorga puntaje. No comisiona. Precio neto consultora. Productos vigentes en @ViewBag.CampaniaID.
    </p>
</div>
<div class="fondo_f5f5f7">
    <div id="htmlListado"></div>
    <div style="text-align:center" class="liquidacion_productos2">
    </div>
</div>
<div id="DialogMensajeProducto" style="display: none;">
    <div>
        <div id="divReservaSatisfactoria" class="modal_1">
            <div class="modal_1_title color_title">Estimada Consultora, debe ir a la opción de Ver Mi Pedido para verificar las Ofertas de Liquidación agregadas.</div>
        </div>
        <div class="div-3">
            <div class="input_modal">
                <input type="button" value="Cerrar" onclick="$('#DialogMensajeProducto').dialog('close');" />
            </div>
        </div>
    </div>
</div>
<div id="DialogMensajesBanner" style="display: none;">
    <div class="message_text">
        Ocurrió un error en la comunicación o la sesión ha expirado. Por favor vuelva a autenticarse.
    </div>
</div>
<div id="DialogMensajes" style="display: none;">
    <div class="terminos_title_2">
        Lo Sentimos
    </div>
    <div class="linea_superior margin_10"></div>
    <div class="pop_pedido_mensaje">
    </div>
</div>
<div id="loadingScreen"></div>

<div id="divVistaPrevia" class="Content_modal_ZE" style="display: none; background-color: #fff; overflow: hidden;">
    <input type="hidden" class="TipoOfertaSisID" />
    <input type="hidden" class="OfertaProductoID" />
    <input type="hidden" class="ConfiguracionOfertaID" />
    <input type="hidden" class="MarcaID" />
    <input type="hidden" class="CUV" />
    <input type="hidden" class="PrecioOferta" />
    <input type="hidden" class="Stock" />
    <input type="hidden" class="DescripcionProd" />
    <input type="hidden" class="DescripcionMarca" />
    <input type="hidden" class="DescripcionCategoria" />
    <input type="hidden" class="DescripcionEstrategia" />
    <input type="hidden" class="spStock" />

    <div class="Content_modal_ZE texto-centrado" style="overflow: hidden;">
        <img id="imgZonaEstrategiaEdit" style="height: 200px; margin: 5px;" src="" alt="Imagen Producto" />
    </div>
    <br />
    <div class="zona0Edit pedidos_datos_titulo"></div>
    <div class="zona1Edit pedidos_datos_info texto-centrado" style="width:100%"></div>
    <div class="zona2Edit texto-centrado"></div>
    <div class="zona3Edit_1 pedidos_para_ti texto-centrado"></div>
    <div class="zona3Edit_2 liquidacion_precio texto-centrado"></div>
    <div class="clear"></div>
    <div class="stock_disponible">Stock: <span class="span_stock"></span> unidades.</div>
    <br />
    <ul id="OfertasResultados" class="listaOfertas"></ul>

    <div class="zona4Edit zona_estrategia_4 texto-centrado"></div>
    <div class="zonaCantidad texto-centrado">
        <table style="margin: 0 auto;" cellpadding="10" cellspacing="10">
            <tr>
                <td style="vertical-align: middle;">Unidades: &nbsp;&nbsp;</td>
                <td>

                    <div class="liquidacion_rango_home">
                        <input type="text" value="1" size="2" maxlength="2" class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" name="txtCantidadPopup" id="txtCantidadPopup" />
                        <div class="liquidacion_rango_right_pedido">
                            <a class="mas"><img src="@Url.Content("~/Content/Images/Esika/mas.png")" alt="" /></a>
                            <a class="menos"><img src="@Url.Content("~/Content/Images/Esika/menos.png")" alt="" /></a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="tallaColor">
                <td style="vertical-align: middle;">Talla/Color: &nbsp;&nbsp;</td>
                <td>
                    <select id="ddlTallaColor" class="js-select_tallacolor" style="width: 130px; height: 30px; border: 1px solid #cccccc;"></select>
                </td>
            </tr>
        </table>
    </div>

    <br />
    <div class="div-3 texto-centrado">
        <input class="btnBotonRojo js-boton_agregar_popup" type="button" value="Agregar" />
        <br />
        <input class="btnBotonNegro" type="button" value="Cerrar" onclick="javascript: $('#divVistaPrevia').dialog('close');" />
    </div>
</div>


<script id="OfertasLiquidacion-template" type="text/x-handlebars-template">
    {{#each this}}
    <div>
        <div class="liquidacion_productos2">
            <div class="liquidacion_item" data-idposicion="{{Posicion}}">
                <input type="hidden" class="TipoOfertaSisID" value="{{TipoOfertaSisID}}" />
                <input type="hidden" class="OfertaProductoID" value="{{OfertaProductoID}}" />
                <input type="hidden" class="ConfiguracionOfertaID" value="{{ConfiguracionOfertaID}}" />
                <input type="hidden" class="MarcaID" value="{{MarcaID}}" />
                <input type="hidden" class="CUV" value="{{CUV}}" />
                <input type="hidden" class="PrecioOferta" value="{{PrecioOferta}}" />
                <input type="hidden" class="Stock" value="{{Stock}}" />
                <input type="hidden" class="DescripcionProd" value="{{Descripcion}}" />
                <input type="hidden" class="DescripcionMarca" value="{{DescripcionMarca}}" />
                <input type="hidden" class="DescripcionCategoria" value="{{DescripcionCategoria}}" />
                <input type="hidden" class="DescripcionEstrategia" value="{{DescripcionEstrategia}}" />
                <div class="liquidacion_imagen">
                    <img data-src="{{ImagenProducto}}" class="imagen_producto" data-lazy-seccion-liquidacion=""/>
                </div>
                <h1 class="liquidacion_titulo_item">{{DescripcionMarca}}</h1>
                <p class="liquidacion_descripcion">{{Descripcion}}</p>
                <div class="liquidacion_precio_tachado"></div>
                <div class="liquidacion_precio"><span>@ViewBag.Simbolo<span id="precio_oferta">{{PrecioString}}</span></span></div>
                <hr class="clear" />

                {{#if TieneTallaColor}}
                <a class="boton_liquidacion js-boton_tonotalla" tipo-tonotalla="{{TipoTallaColor}}" data-array-tonostallas="{{TallaColor}}" style="width:218px!important;">
                    {{TextoBotonTallaColor}}
                </a>
                {{else}}
                <p class="liquidacion_cantidad">Stock: <span class="spStock">{{Stock}}</span>  unidades.</p>
                <div class="liquidacion_rango_home" style="margin-left: 20px;">
                    <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral txtCantidad" />
                    <div class="liquidacion_rango_right_pedido">
                        <a class="mas"><img src="@Url.Content("~/Content/Images/Esika/mas.png")" alt="" /></a>
                        <a class="menos"><img src="@Url.Content("~/Content/Images/Esika/menos.png")" alt="" /></a>
                    </div>
                </div>
                <hr class="clear" />
                <a class="boton_liquidacion js-boton_liquidacion">agregar</a>
                {{/if}}
            </div>
        </div>
    </div>
    {{/each}}
</script>

@section scripts{
    <script type="text/javascript">
        var DesktopLiquidacion = @Constantes.OrigenPedidoWeb.DesktopLiquidacion;
        var MobileLiquidacion = @Constantes.OrigenPedidoWeb.MobileLiquidacion;
    </script>
    <script type="text/javascript" src="~/Scripts/PortalConsultoras/OfertaLiquidacion/Index.js"></script>
}