@model Portal.Consultoras.Web.Models.ActualizarDatosModel

@{
    ViewBag.Title = "Liquidación Web";
    string ISO = ViewBag.ISO;
    string Simbolo = ViewBag.Simbolo;
}

@section styles{
    <style type="text/css">
        body {
            background: white;
        }
    </style>
}

<div class="envolvente_pop_up">

    <div class="pop_liquidacion" id="pop_liquidacion" style="display: none;">
        <div class="check_liquidacion"><img src="@Url.Content("~/Content/Images/Esika/check_liquidacion.png")" /></div>
        <div class="titulo_liquidacion">
            ¡PRODUCTO AGREGADO SATISFACTORIAMENTE!
        </div>
        <hr class="clear" />
        <div class="imagen_pop_l"><img id="imgProductoAgregado" src="" alt="" /></div>
        <div class="info_pop_liquidacion">
            <h1 id="nombreProductoAgregado"></h1>
            <h2><span id="cantidadProductoAgregado"></span> unidades</h2>
            <p>@ViewBag.Simbolo <span id="totalProductoAgregado"></span></p>
        </div>
        <hr class="clear" />
        <a href="javascript: CerrarProductoAgregado();" class="boton_pop_up">CERRAR</a>
    </div>
</div>
<div class="wrapper_home_interiores">

    <div class="titulo_principal"><h1 class="titulo_principal_interiores">LIQUIDACIÓN WEB</h1></div>
    <p class="liquidacion_info">
        <strong>APROVECHA ESTOS PRODUCTOS SOLO POR WEB. Se atenderá hasta agotar stock.</strong> @*<span>Se atenderá hasta agotar stock.</span>*@<br />
        Suman al monto mínimo del pedido. No suma la escala de comisión, ni otorga puntaje, ni comisión. Precio neto consultora. Productos vigentes en @ViewBag.CampaniaID.
    </p>
</div>
<div class="fondo_f5f5f7">
    <div id="htmlListado"></div>
    <div style="text-align:center" class="liquidacion_productos2">
        <img style="display:none;" id="loader" src="@Url.Content("~/Content/Images/loading_spinner.gif" )" alt="" width="30" height="31" />
        <div class="clear"></div>
        <div id="boton_vermas" class="ver-mas-vertical" style="display:none;">
            <span class="text">VER MÁS</span>
            <span class="icon"></span>
        </div>
    </div>
</div>
<div id="DialogMensajeProducto" style="display: none;">
    <div>
        <div id="divReservaSatisfactoria" class="modal_1">
            <div class="modal_1_title color_title">Estimada Consultora, debe ir a la opción de Ver Mi Pedido para verificar las Ofertas de Liquidación agregadas.</div>
        </div>
        <div class="div-3">
            <div class="input_modal">
                <input type="button" value="Cerrar" onclick="$('#DialogMensajeProducto').dialog('close');" />
            </div>
        </div>
    </div>
</div>
<div id="DialogMensajesBanner" style="display: none;">
    <div class="message_text">
        Ocurrió un error en la comunicación o la sesión ha expirado. Por favor vuelva a autenticarse.
    </div>
</div>
<div id="DialogMensajes" style="display: none;">
    <div class="terminos_title_2">
        MENSAJE
    </div>
    <div class="linea_superior margin_10"></div>
    <div class="pop_pedido_mensaje">
    </div>
</div>
<div id="DialogMensajeHorario" style="display: none;">
    <div class="message_text">
    </div>
</div>
<div id="loadingScreen"></div>

<div id="divVistaPrevia" class="Content_modal_ZE" style="display: none; background-color: #fff; overflow: hidden;">
    <input type="hidden" class="TipoOfertaSisID" />
    <input type="hidden" class="OfertaProductoID" />
    <input type="hidden" class="ConfiguracionOfertaID" />
    <input type="hidden" class="MarcaID" />
    <input type="hidden" class="CUV" />
    <input type="hidden" class="PrecioOferta" />
    <input type="hidden" class="Stock" />
    <input type="hidden" class="DescripcionProd" />
    <input type="hidden" class="DescripcionMarca" />
    <input type="hidden" class="DescripcionCategoria" />
    <input type="hidden" class="DescripcionEstrategia" />
    <input type="hidden" class="spStock" />

    <div class="Content_modal_ZE texto-centrado" style="overflow: hidden;">
        <img id="imgZonaEstrategiaEdit" style="height: 200px; margin: 5px;" src="" alt="Imagen Producto" />
    </div>
    <br />
    <div class="zona0Edit pedidos_datos_titulo"></div>
    <div class="zona1Edit pedidos_datos_info texto-centrado" style="width:100%"></div>
    <div class="zona2Edit texto-centrado"></div>
    <div class="zona3Edit_1 pedidos_para_ti texto-centrado"></div>
    <div class="zona3Edit_2 liquidacion_precio texto-centrado"></div>
    <div class="clear"></div>
    <div class="stock_disponible">Stock: <span class="span_stock"></span> unidades.</div>
    <br />
    <ul id="OfertasResultados" class="listaOfertas"></ul>

    @* Esto no es muestra si esta activo ProgramaOfertasNuevas*@
    <div class="zona4Edit zona_estrategia_4 texto-centrado"></div>
    <div class="zonaCantidad texto-centrado">
        <table style="margin: 0 auto;" cellpadding="10" cellspacing="10">
            <tr>
                <td style="vertical-align: middle;">Unidades: &nbsp;&nbsp;</td>
                <td>

                    <div class="liquidacion_rango_home">
                        <input type="text" value="1" size="2" maxlength="2" class="liquidacion_rango_cantidad_pedido ValidaNumeral" name="txtCantidadPopup" id="txtCantidadPopup" />
                        <div class="liquidacion_rango_right_pedido">
                            <a class="mas"><img src="@Url.Content("~/Content/Images/Esika/mas.png")" alt="" /></a>
                            <a class="menos"><img src="@Url.Content("~/Content/Images/Esika/menos.png")" alt="" /></a>
                        </div>
                    </div>

                    @*<div class="liquidacion_rango_left_pedido" style="width: 35px;"><a class="js-menos_popup"><img src="@Url.Content("~/Content/Images/Esika/menos.png")" alt="" /></a></div>
                        <input type="text" value="1" name="txtCantidadPopup" id="txtCantidadPopup" maxlength="2" class="liquidacion_rango_cantidad_pedido" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" />
                        <div class="liquidacion_rango_right_pedido" style="width: 35px;"><a class="js-mas_popup"><img src="@Url.Content("~/Content/Images/Esika/mas.png")" alt="" /></a></div>*@
                </td>
            </tr>
            <tr class="tallaColor">
                <td style="vertical-align: middle;">Talla/Color: &nbsp;&nbsp;</td>
                <td>
                    <select id="ddlTallaColor" class="js-select_tallacolor" style="width: 130px; height: 30px; border: 1px solid #cccccc;"></select>
                </td>
            </tr>
        </table>
    </div>
    @* Esto no es muestra si esta activo ProgramaOfertasNuevas*@
    <br />
    <div class="div-3 texto-centrado">
        <input class="btnBotonRojo js-boton_agregar_popup" type="button" value="Agregar" />
        <br />
        <input class="btnBotonNegro" type="button" value="Cerrar" onclick="javascript: $('#divVistaPrevia').dialog('close');" />
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var cantidadItemPagina = 12;
        var cantidadItemMostrarInicio = 12;
        var posicionFinalMostrada = 0;
        var cantidadRegistros = 12;
        var offset = 0;
        var puedeCargar = true;

        $(document).ready(function () {
            HorarioRestringido();
            IniDialog();

            $(document).on('click', '#boton_vermas', function () {
                puedeCargar = false;
                ObtenerListadoOfertasPaginado();
            });
            $(window).scroll(function () {
                if ($(this).scrollTop() > 70) {
                    $('.productos_fixed').addClass("fixed");
                } else {
                    $('.productos_fixed').removeClass("fixed");
                }
            });
            $(document).on('change', '.js-select_tallacolor', function () {

                $(this).parents('.Content_modal_ZE').find('.CUV').attr("value", $("option:selected", this).attr("value"));
                $(this).parents('.Content_modal_ZE').find('.pedidos_datos_info').html($("option:selected", this).attr("desc-talla"));
                $(this).parents('.Content_modal_ZE').find('.liquidacion_precio').html('<span>' + $("option:selected", this).attr("desc-precio") + '</span>'); //2024
                $(this).parents('.Content_modal_ZE').find(".DescripcionProd").attr("value", $("option:selected", this).attr("desc-talla")); //2024
                $(this).parents('.Content_modal_ZE').find(".PrecioOferta").attr("value", $("option:selected", this).attr("precio-real")); //2024

                var spanStock = $(this).parents('.Content_modal_ZE').find('.span_stock');
                var HiddenStock = $(this).parents('.Content_modal_ZE').find(".Stock");
                var CUV = $(this).parents('.Content_modal_ZE').find(".CUV").attr("value");
                //r20160216
                //var Orden = $(this).parent().parent().parent().parent().find(".Oden").attr("value"); ???
                $.ajaxSetup({
                    cache: false
                });
                waitingDialog({});
                $.getJSON(baseUrl + 'OfertaLiquidacion/ObtenerStockActualProducto', { CUV: CUV }, function (data) {
                    $(spanStock).text(data.Stock);
                    $(HiddenStock).val(data.Stock);
                    closeWaitingDialog();
                });

            });

            $('.ValidaNumeralOferta').live('keyup', function (evt) {
                var theEvent = evt || window.event;
                var key = theEvent.keyCode || theEvent.which;
                key = String.fromCharCode(key);
                var regex = /[0-9]|\./;
                if (!regex.test(key)) {
                    theEvent.returnValue = false;
                    if (theEvent.preventDefault) theEvent.preventDefault();
                }
            });

            $('.ValidaNumeralOferta').live('keypress', function (e) {
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                    return false;
                }
            });

            $("#btnVerPedido").click(function () {
                _gaq.push(['_trackEvent', 'Liquidacion-Web', 'Ver-Pedido']);
                dataLayer.push({
                    'event': 'pageview',
                    'virtualUrl': '/Liquidacion-Web/Ver-Pedido'
                });
                location.href = baseUrl + 'Pedido/Index';
            });

            $('.ValidaNumeralOferta').keypress(function (e) {
                if (e.which == 13) {
                    var object = $(this).parent().find(".boton_liquidacion");
                    var estado = $(this).parent().find(".boton_liquidacion")[0].disabled;
                    if (!estado)
                        AgregarOfertaProducto(object, 0);
                }
            });

            $(document).on('click', '.js-boton_tonotalla', function () {
                var contenedor = $(this).parent().parent();
                var objProducto = {
                    imagenProducto: $(contenedor).find('.imagenpop').attr('src'),
                    tituloMarca: $(contenedor).find('.liquidacion_titulo_item').text(),
                    descripcion: $(contenedor).find('.liquidacion_descripcion').text(),
                    precio: $(contenedor).find('.liquidacion_precio').text(),
                    tonosTallas: $(contenedor).find('#tonostallas').attr('data-array-tonostallas')
                };
                var objHidden = {
                    TipoOfertaSisID: $(contenedor).find('.TipoOfertaSisID').val(),
                    OfertaProductoID: $(contenedor).find('.OfertaProductoID').val(),
                    ConfiguracionOfertaID: $(contenedor).find('.ConfiguracionOfertaID').val(),
                    MarcaID: $(contenedor).find('.MarcaID').val(),
                    CUV: $(contenedor).find('.CUV').val(),
                    PrecioOferta: $(contenedor).find('.PrecioOferta').val(),
                    Stock: $(contenedor).find('.Stock').val(),
                    DescripcionProd: $(contenedor).find('.DescripcionProd').val(),
                    DescripcionMarca: $(contenedor).find('.DescripcionMarca').val(),
                    DescripcionCategoria: $(contenedor).find('.DescripcionCategoria').val(),
                    DescripcionEstrategia: $(contenedor).find('.DescripcionEstrategia').val()
                };

                cargarProductoPopup(objProducto, objHidden);
            });

            $(document).on('click', ".js-boton_agregar_popup", function () {
                _gaq.push(['_trackEvent', 'Liquidacion-Web', 'Agregar-Liquidacion']);
                dataLayer.push({
                    'event': 'pageview',
                    'virtualUrl': '/Liquidacion-Web/Agregar-Liquidacion'
                });
                var contenedor = $(this).parents('#divVistaPrevia');

                var txtCantidad = $(contenedor).find("#txtCantidadPopup");
                var Cantidad = $(contenedor).find("#txtCantidadPopup")[0].value;
                var OfertaProductoID = $(contenedor).find(".OfertaProductoID")[0].value;
                var div = "Agregado";
                var TipoOfertaID = $(contenedor).find(".TipoOfertaSisID")[0].value;
                var ConfiguracionOfertaID = $(contenedor).find(".ConfiguracionOfertaID")[0].value;
                var MarcaID = $(contenedor).find(".MarcaID")[0].value;
                var CUV = $(contenedor).find(".CUV")[0].value;
                var PrecioUnidad = $(contenedor).find(".PrecioOferta")[0].value;
                var Stock = $(contenedor).find(".Stock")[0].value;
                var lblStock = $(contenedor).find(".spStock");
                var HiddenStock = $(contenedor).find("input.Stock");
                var DescripcionProd = $(contenedor).find(".DescripcionProd")[0].value;
                var DescripcionMarca = $(contenedor).find(".DescripcionMarca")[0].value;
                var DescripcionCategoria = $(contenedor).find(".DescripcionCategoria")[0].value;
                var DescripcionEstrategia = $(contenedor).find(".DescripcionEstrategia")[0].value;
                var imagenProducto = $(contenedor).find(".Content_modal_ZE img").attr("src");

                if (Cantidad == "" || Cantidad == 0) {
                    alert_msg("La cantidad ingresada debe ser mayor que 0, verifique.");
                    $('.liquidacion_rango_cantidad_pedido').val(1);
                    return false;
                } else {
                    $($(this).parent().parent().find(".ValidaNumeralOfertaAnterior")).val(Cantidad);
                    var Item = {
                        MarcaID: MarcaID,
                        Cantidad: Cantidad,
                        PrecioUnidad: PrecioUnidad,
                        CUV: CUV,
                        ConfiguracionOfertaID: ConfiguracionOfertaID
                    };
                    waitingDialog({});
                    $.ajaxSetup({
                        cache: false
                    });

                    $.getJSON(baseUrl + 'OfertaLiquidacion/ValidarUnidadesPermitidasPedidoProducto', { CUV: CUV }, function (data) {
                        if (parseInt(data.Saldo) < parseInt(Cantidad)) {
                            var Saldo = data.Saldo;
                            var UnidadesPermitidas = data.UnidadesPermitidas;
                            $.getJSON(baseUrl + 'OfertaLiquidacion/ObtenerStockActualProducto', { CUV: CUV }, function (data) {
                                $(Stock).text(data.Stock);
                                $(Stock).val(data.Stock);
                                if (Saldo == UnidadesPermitidas)
                                    alert_msg("Lamentablemente, la cantidad solicitada sobrepasa las Unidades Permitidas de Venta (" + UnidadesPermitidas + ") del producto.");
                                else {
                                    if (Saldo == "0")
                                        alert_msg("Las Unidades Permitidas de Venta son solo (" + UnidadesPermitidas + "), pero Usted ya no puede adicionar más, debido a que ya agregó este producto a su pedido, verifique.");
                                    else
                                        alert_msg("Las Unidades Permitidas de Venta son solo (" + UnidadesPermitidas + "), pero Usted solo puede adicionar (" + Saldo + ") más, debido a que ya agregó este producto a su pedido, verifique.");
                                }
                                closeWaitingDialog();
                                return false;
                            });
                        } else {
                            $.ajaxSetup({
                                cache: false
                            });
                            $.getJSON(baseUrl + 'OfertaLiquidacion/ObtenerStockActualProducto', { CUV: CUV }, function (data) {
                                $(Stock).text(data.Stock);
                                $(Stock).val(data.Stock);
                                if (parseInt(data.Stock) < parseInt(Cantidad)) {
                                    alert_msg("Lamentablemente, la cantidad solicitada sobrepasa el stock actual (" + data.Stock + ") del producto, verifique.");
                                    closeWaitingDialog();
                                    return false;
                                }
                                else {

                                    jQuery.ajax({
                                        type: 'POST',
                                        url: baseUrl + 'OfertaLiquidacion/InsertOfertaWebPortal',
                                        dataType: 'json',
                                        contentType: 'application/json; charset=utf-8',
                                        data: JSON.stringify(Item),
                                        async: true,
                                        success: function (data) {
                                            if (data.success == true) {
                                                $(this).attr('disabled', true);
                                                //$(this).parent().parent().parent().parent().find(".ddlTallaColor").attr('disabled', true);
                                                $(this).parent().parent().parent().parent().find(".ValidaNumeralOferta").attr('disabled', true);
                                                $(div).css('display', 'block');
                                                //$("#hdFlagOferta").val("1");
                                                //$("#hdFlagOfertaLiquidacion").val("1");
                                                $(lblStock).text(parseInt(Stock - Cantidad));
                                                $(HiddenStock).val(parseInt(Stock - Cantidad));
                                                $(txtCantidad).val(1);
                                                InfoCommerceGoogle(parseFloat(Cantidad * PrecioUnidad).toFixed(2), CUV, DescripcionProd, DescripcionCategoria, PrecioUnidad, Cantidad, DescripcionMarca, DescripcionEstrategia);
                                                CargarCantidadProductosPedidos();
                                                MostrarProductoAgregado(imagenProducto, DescripcionProd, Cantidad, parseFloat(Cantidad * PrecioUnidad).toFixed(2));
                                                $('#divVistaPrevia').dialog('close');
                                            }
                                            else {
                                                alert_msg(data.message);
                                            }
                                            closeWaitingDialog();
                                        },
                                        error: function (data, error) {
                                            if (checkTimeout(data)) {
                                                alert_msg(data.message);
                                                closeWaitingDialog();
                                            }
                                        }
                                    });

                                }
                            });
                        }
                    });
                }
            });
            $(document).on('click', ".js-boton_liquidacion", function () {
                _gaq.push(['_trackEvent', 'Liquidacion-Web', 'Agregar-Liquidacion']);
                dataLayer.push({
                    'event': 'pageview',
                    'virtualUrl': '/Liquidacion-Web/Agregar-Liquidacion'
                });
                var txtCantidad = $(this).parents('.liquidacion_item').find(".txtCantidad");
                var Cantidad = $(this).parents('.liquidacion_item').find(".txtCantidad")[0].value;
                var OfertaProductoID = $(this).parents('.liquidacion_item').find(".OfertaProductoID")[0].value;
                var div = "Agregado";
                var TipoOfertaID = $(this).parents('.liquidacion_item').find(".TipoOfertaSisID")[0].value;
                var ConfiguracionOfertaID = $(this).parents('.liquidacion_item').find(".ConfiguracionOfertaID")[0].value;
                var MarcaID = $(this).parents('.liquidacion_item').find(".MarcaID")[0].value;
                var CUV = $(this).parents('.liquidacion_item').find(".CUV")[0].value;
                var PrecioUnidad = $(this).parents('.liquidacion_item').find(".PrecioOferta")[0].value;
                var Stock = $(this).parents('.liquidacion_item').find(".Stock")[0].value;
                var lblStock = $(this).parent().find(".spStock");
                var HiddenStock = $(this).parent().find("input.Stock");
                var DescripcionProd = $(this).parents('.liquidacion_item').find(".DescripcionProd")[0].value;
                var DescripcionMarca = $(this).parents('.liquidacion_item').find(".DescripcionMarca")[0].value;
                var DescripcionCategoria = $(this).parents('.liquidacion_item').find(".DescripcionCategoria")[0].value;
                var DescripcionEstrategia = $(this).parents('.liquidacion_item').find(".DescripcionEstrategia")[0].value;
                var imagenProducto = $(this).parents('.liquidacion_item').find(".liquidacion_imagen img").attr("src");

                if (Cantidad == "" || Cantidad == 0) {
                    alert_msg("La cantidad ingresada debe ser mayor que 0, verifique.");
                    $('.liquidacion_rango_cantidad_pedido').val(1);
                    return false;
                }
                else {
                    $($(this).parent().parent().find(".ValidaNumeralOfertaAnterior")).val(Cantidad);
                    var Item = {
                        MarcaID: MarcaID,
                        Cantidad: Cantidad,
                        PrecioUnidad: PrecioUnidad,
                        CUV: CUV,
                        ConfiguracionOfertaID: ConfiguracionOfertaID
                    };
                    waitingDialog({});
                    $.ajaxSetup({
                        cache: false
                    });

                    $.getJSON(baseUrl + 'OfertaLiquidacion/ValidarUnidadesPermitidasPedidoProducto', { CUV: CUV }, function (data) {
                        if (parseInt(data.Saldo) < parseInt(Cantidad)) {
                            var Saldo = data.Saldo;
                            var UnidadesPermitidas = data.UnidadesPermitidas;
                            $.getJSON(baseUrl + 'OfertaLiquidacion/ObtenerStockActualProducto', { CUV: CUV }, function (data) {
                                $(Stock).text(data.Stock);
                                $(Stock).val(data.Stock);
                                if (Saldo == UnidadesPermitidas)
                                    alert_msg("Lamentablemente, la cantidad solicitada sobrepasa las Unidades Permitidas de Venta (" + UnidadesPermitidas + ") del producto.");
                                else {
                                    if (Saldo == "0")
                                        alert_msg("Las Unidades Permitidas de Venta son solo (" + UnidadesPermitidas + "), pero Usted ya no puede adicionar más, debido a que ya agregó este producto a su pedido, verifique.");
                                    else
                                        alert_msg("Las Unidades Permitidas de Venta son solo (" + UnidadesPermitidas + "), pero Usted solo puede adicionar (" + Saldo + ") más, debido a que ya agregó este producto a su pedido, verifique.");
                                }
                                closeWaitingDialog();
                                return false;
                            });
                        } else {
                            $.ajaxSetup({
                                cache: false
                            });
                            $.getJSON(baseUrl + 'OfertaLiquidacion/ObtenerStockActualProducto', { CUV: CUV }, function (data) {
                                $(Stock).text(data.Stock);
                                $(Stock).val(data.Stock);
                                if (parseInt(data.Stock) < parseInt(Cantidad)) {
                                    alert_msg("Lamentablemente, la cantidad solicitada sobrepasa el stock actual (" + data.Stock + ") del producto, verifique.");
                                    closeWaitingDialog();
                                    return false;
                                }
                                else {

                                    jQuery.ajax({
                                        type: 'POST',
                                        url: baseUrl + 'OfertaLiquidacion/InsertOfertaWebPortal',
                                        dataType: 'json',
                                        contentType: 'application/json; charset=utf-8',
                                        data: JSON.stringify(Item),
                                        async: true,
                                        success: function (data) {
                                            if (data.success == true) {
                                                $(this).attr('disabled', true);
                                                //$(this).parent().parent().parent().parent().find(".ddlTallaColor").attr('disabled', true);
                                                $(this).parent().parent().parent().parent().find(".ValidaNumeralOferta").attr('disabled', true);
                                                $(div).css('display', 'block');
                                                //$("#hdFlagOferta").val("1");
                                                //$("#hdFlagOfertaLiquidacion").val("1");
                                                $(lblStock).text(parseInt(Stock - Cantidad));
                                                $(HiddenStock).val(parseInt(Stock - Cantidad));
                                                $(txtCantidad).val(1);
                                                InfoCommerceGoogle(parseFloat(Cantidad * PrecioUnidad).toFixed(2), CUV, DescripcionProd, DescripcionCategoria, PrecioUnidad, Cantidad, DescripcionMarca, DescripcionEstrategia);
                                                CargarCantidadProductosPedidos();
                                                MostrarProductoAgregado(imagenProducto, DescripcionProd, Cantidad, parseFloat(Cantidad * PrecioUnidad).toFixed(2));
                                            }
                                            else {
                                                alert_msg(data.message);
                                            }
                                            closeWaitingDialog();
                                        },
                                        error: function (data, error) {
                                            if (checkTimeout(data)) {
                                                alert_msg(data.message);
                                                closeWaitingDialog();
                                            }
                                        }
                                    });

                                }
                            });
                        }
                    });
                }
            });

        });

        function ObtenerListadoOfertasPaginado() {
            currentRequest = $.ajax({
                type: 'GET',
                url: '@Url.Action("GetListadoOfertasLiquidacionPaginado", "OfertaLiquidacion")',
                data: { "offset": offset, "cantidadregistros": cantidadRegistros },
                dataType: 'html',
                // Se setea cache: false porque las solicitudes GET a vecen se colocan en cache por los navegadores
                // IE es particularmente agresivo en ese aspecto
                cache: false,
                beforeSend: function () {
                    $('#loader').show();
                    $('#boton_vermas').hide();
                },
                success: function (data) {
                    if (data != null || data != undefined) {
                        $('#htmlListado').append(data);
                        offset += cantidadRegistros;
                    } else {
                        //$('#boton_vermas').hide();
                    };
                },
                complete: function (data) {
                    $('#loader').hide();
                    //if (data.responseText.trim() !== "") {
                    //    $('#boton_vermas').show();
                    //};
                    puedeCargar = true;
                },
                error: function () {
                    puedeCargar = true;
                    $('#boton_vermas').show();
                    $('#loader').hide();
                    //Error
                }
            });
        };
        function cargarProductoPopup(objProducto, objHidden) {
            waitingDialog({});

            var divVistaPrevia = $("#divVistaPrevia");
            var arrayTonosTallas = objProducto.tonosTallas.split("@("@")");
            var option = '';

            for (var i = 0; i < arrayTonosTallas.length - 1; i++) {

                var strOption = arrayTonosTallas[i].split("|");
                var strCuv = strOption[0];
                var strDescCuv = strOption[1];
                var strDescTalla = strOption[2];
                var strDescPrecio = Number(strOption[3]).toFixed(2);
                var strPrecioReal = strOption[3];

                option += '<option value="' + strCuv + '"' +
                          'desc-talla="' + strDescCuv + '"' +
                          'desc-precio="' + strDescPrecio + '"' +
                          'precio-real="' + strPrecioReal + '"' +
                          '>' + strDescTalla + '</option>';

            };
            $(divVistaPrevia).find('#ddlTallaColor').html(option);

            $(divVistaPrevia).find('#imgZonaEstrategiaEdit').attr('src', objProducto.imagenProducto);
            $(divVistaPrevia).find('.pedidos_datos_titulo').text(objProducto.tituloMarca);
            $(divVistaPrevia).find('.pedidos_datos_info').text(objProducto.descripcion);
            $(divVistaPrevia).find('.liquidacion_precio').html('<span>' + objProducto.precio + '</span>');
            $(divVistaPrevia).find('.span_stock').html(objHidden.Stock);

            //Seteo valores de inputs hidden
            $(divVistaPrevia).find('.TipoOfertaSisID').val(objHidden.TipoOfertaSisID);
            $(divVistaPrevia).find('.OfertaProductoID').val(objHidden.OfertaProductoID);
            $(divVistaPrevia).find('.ConfiguracionOfertaID').val(objHidden.ConfiguracionOfertaID);
            $(divVistaPrevia).find('.MarcaID').val(objHidden.MarcaID);
            $(divVistaPrevia).find('.CUV').val(objHidden.CUV);
            $(divVistaPrevia).find('.PrecioOferta').val(objHidden.PrecioOferta);
            $(divVistaPrevia).find('.Stock').val(objHidden.Stock);
            $(divVistaPrevia).find('.DescripcionProd').val(objHidden.DescripcionProd);
            $(divVistaPrevia).find('.DescripcionMarca').val(objHidden.DescripcionMarca);
            $(divVistaPrevia).find('.DescripcionCategoria').val(objHidden.DescripcionCategoria);
            $(divVistaPrevia).find('.DescripcionEstrategia').val(objHidden.DescripcionEstrategia);

            $(divVistaPrevia).find('#txtCantidadPopup').val(1);
            $(divVistaPrevia).css({ "background-color": "#FFF" });

            var spanStock = $(divVistaPrevia).find('.span_stock');
            var HiddenStock = $(divVistaPrevia).find(".Stock");
            var CUV = $(divVistaPrevia).find(".CUV").attr("value");

            $.ajaxSetup({
                cache: false
            });

            $.getJSON(baseUrl + 'OfertaLiquidacion/ObtenerStockActualProducto', { CUV: CUV }, function (data) {
                $(spanStock).text(data.Stock);
                $(HiddenStock).val(data.Stock);
                closeWaitingDialog();
                showDialog('divVistaPrevia');
                $(divVistaPrevia).find('#txtCantidadPopup').blur();
            });
        };
        function HorarioRestringido() {
            waitingDialog({});
            $.ajax({
                type: 'GET',
                url: baseUrl + 'Pedido/EnHorarioRestringido',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (checkTimeout(data)) {
                        if (data.success == true) {
                            alert_msgHorario(data.message);
                            horarioRestringido = true;
                            setTimeout(function () { location.href = baseUrl + 'Bienvenida/Index'; }, 2500);
                        } else {
                            $('#loader').show();
                            ObtenerListadoOfertasPaginado();
                        }
                    }
                    closeWaitingDialog();
                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        alert(data.message);
                    };
                    closeWaitingDialog();
                }
            });
        };
        function IniDialog() {
            $('#DialogMensajes').dialog({
                autoOpen: false,
                resizable: false,
                modal: true,
                closeOnEscape: true,
                width: 400,
                draggable: true,
                buttons:
                {
                    "Aceptar": function () {
                        $(this).dialog('close');
                    }
                }
            });

            $('#DialogMensajeProducto').dialog({
                autoOpen: false,
                resizable: false,
                modal: true,
                closeOnEscape: true,
                width: 500,
                draggable: true
            });

            $('#DialogMensajesBanner').dialog({
                autoOpen: false,
                resizable: false,
                modal: true,
                closeOnEscape: true,
                width: 400,
                draggable: true,
                title: ":: Mensaje ::",
                buttons:
                {
                    "Aceptar": function () {
                        $(this).dialog('close');
                    }
                }
            });

            $('#DialogMensajeHorario').dialog({
                autoOpen: false,
                resizable: false,
                modal: true,
                closeOnEscape: false,
                width: 400,
                draggable: true,
                title: ":: Mensaje ::",
                open: function (event, ui) { $(".ui-dialog-titlebar-close").hide(); },
                buttons:
                {
                    "Aceptar": function () {
                        location.href = baseUrl + 'Bienvenida/Index';
                    }
                }
            });

            $('#divVistaPrevia').dialog({
                autoOpen: false,
                resizable: false,
                modal: true,
                closeOnEscape: true,
                width: 350,
                draggable: false,
                open: function (event, ui) {
                    $(".ui-dialog-titlebar-close", ui.dialog | ui).hide();
                }
            });
        };
        function alert_msg(message) {
            $('#DialogMensajes .pop_pedido_mensaje').html(message);
            $('#DialogMensajes').dialog('open');
        }
        function alert_msgHorario(message) {
            $('#DialogMensajeHorario .message_text').html(message);
            $('#DialogMensajeHorario').dialog('open');
        };
        function InfoCommerceGoogle(ItemTotal, CUV, DescripcionProd, Categoria, Precio, Cantidad, Marca, variant) {
            if (ItemTotal >= 0 && Precio >= 0 && Cantidad > 0) {
                if (variant == null || variant == "") { variant = "Estándar"; }
                if (Categoria == null || Categoria == "") { Categoria = "Sin Categoría"; }
                dataLayer.push({
                    'event': 'addToCart',
                    'ecommerce': {
                        'add': {
                            'actionField': { 'list': 'Liquidación Web' },
                            'products': [{
                                'name': DescripcionProd,
                                'price': Precio,
                                'brand': Marca,
                                'id': CUV,
                                'category': Categoria,
                                'variant': variant,
                                'quantity': parseInt(Cantidad),
                                'position': 1
                            }]
                        }
                    }
                })
            }
        };
        function MostrarProductoAgregado(imagen, descripcion, cantidad, total) {

            $("#imgProductoAgregado").attr("src", imagen);
            $("#nombreProductoAgregado").text(descripcion);
            $("#cantidadProductoAgregado").text(cantidad);
            $("#totalProductoAgregado").text(total)

            $('#pop_liquidacion').show();

            setTimeout(CerrarProductoAgregado, 3000);
        };
        function CerrarProductoAgregado() {
            $('#pop_liquidacion').hide();
        };
    </script>
}