@using Portal.Consultoras.Web.Areas.Mobile.Models
@using System.Globalization
@using Portal.Consultoras.Web.Helpers

@model List<ClienteMobileModel>

    @{
        Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
    }

    @section styles{
        <style type="text/css">
            body {
                background: #FFF !important;
            }

            .posr .cli-ac-delete {
                top: 30px;
            }

            .divTabla {
                display: table;
                width: 100%;
            }

                .divTabla .divIcono {
                    display: table-cell;
                    width: 32px;
                }

                .divTabla .divCelda {
                    display: table-cell;
                }

            .clienteMensaje {
                color: #df3d3d;
                font-weight: bold;
                display: table;
            }

                .clienteMensaje span {
                    vertical-align: middle;
                    display: table-cell;
                    padding-right: 5px;
                }

            #divAgregarCliente {
                display: none;
            }
        </style>
    }
    <div class="titulo_mobile">
        @{  var mobileConfiguracion = Html.MobileAppConfiguracion();
            if (mobileConfiguracion.MostrarBotonAtras)
            {
                <a href="@Request.UrlReferrer" class="enlace_regresar catalogosR" title="Regresar"></a>
            } }
        &nbsp;&nbsp;&nbsp;&nbsp;LISTADO DE CLIENTES
    </div>

    <div class="pestana_esika"></div>
    <div class="pestana_lbel"></div>

    <div class="col-xs-12">
        <div class="text-center">
            <a href="javascript:;" class="btn_ver_pedido_reservado agregarCliente">Agregar cliente</a>
        </div>
        <div class="list-table-new">
            <ul class="list-table-title upper">
                <li>Cliente</li>
            </ul>
            <ul class="list-table-body list-body-clientes">
                @foreach (var cliente in Model)
                {
                    <li>
                        <div class="posr">
                            <div class="divTabla">
                                <div class="divIcono">
                                    @{
                                        if (cliente.TieneTelefono == 0)
                                        {
                                            <img src="/Content/Images/icons/icoWarning.png" height="24" />
                                        }
                                    }
                                </div>
                                <div class="divCelda">
                                    <div class="table-width">
                                        <div>
                                            <strong class="upper clienteNombre">@cliente.Nombre</strong>
                                        </div>
                                        <div class="mt-10">Teléfono Fijo: <span class="clienteTelefono">@cliente.Telefono</span></div>
                                        <div class="mt-10">Celular: <span class="clienteCelular">@cliente.Celular</span></div>
                                        <div class="mt-10">Correo: <span class="clienteEmail">@cliente.Email</span></div>
                                        <input type="hidden" class="clienteId" value="@cliente.ClienteID" />
                                        <input type="hidden" class="clienteCodigo" value="@cliente.CodigoCliente" />
                                    </div>
                                    <a href='javascript:;' class="cli-ac-edit text-primary actualizarCliente">EDITAR</a>
                                    <a href='javascript:;' class="cli-ac-delete text-primary" onclick="return EliminarCliente(@cliente.ClienteID);"><i class="icon-delete icon-lg"></i></a>
                                </div>
                            </div>

                        </div>
                    </li>
                                        }
            </ul>
        </div>
        <div class="text-center mt-20">
            <a href="javascript:;" class="btn_ver_pedido_reservado agregarCliente">Agregar cliente</a>
        </div><br>
    </div>

    <div class="modal fade" id="modal-id">
        <div class="modal-dialog modal-alert">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-close-belcorp"></i></button>
                </div>
                <div class="modal-body">
                    <p class="text-lg">¿Estás segura que quieres <br> eliminar este cliente?</p><br>
                    <p>
                        <a href="#" class="btn_belcorp" data-dismiss="modal" onclick="ConfirmaEliminarCliente();"> Aceptar</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="contenedor_popup_clientes modal" id="divAgregarCliente">
        <div class="popup_agregarCliente">
            <div id="divDetalleCliente"></div>
        </div>
    </div>

    @section scripts
{
        <script type="text/javascript">
            var esAgregarCliente = true;
            var posicionClienteActual = 0;
            var fnEliminarCliente = null;
            var urlEliminarCliente = '@Url.Action("Eliminar", "Cliente", new {area = "Mobile"})';

            $(document).ready(function () {
                $("body").on("click", ".agregarCliente", function (event) {
                    if (gTipoUsuario == '2') {
                        var msgg = "Por el momento esta sección no está habilitada, te encuentras en una sesión de prueba. Una vez recibas tu código de consultora, podrás acceder a todos los beneficios de Somos Belcorp.";
                        $('#popupInformacionSB2Error').find('#mensajeInformacionSB2_Error').text(msgg);
                        $('#popupInformacionSB2Error').show();
                        return false;
                    }
                    else {
                        esAgregarCliente = true;
                        
                        showClienteDetalle(null);
                    }
                });

                $("body").on("click", ".actualizarCliente", function (event) {
                    if (gTipoUsuario == '2') {
                        var msgg = "Por el momento esta sección no está habilitada, te encuentras en una sesión de prueba. Una vez recibas tu código de consultora, podrás acceder a todos los beneficios de Somos Belcorp.";
                        $('#popupInformacionSB2Error').find('#mensajeInformacionSB2_Error').text(msgg);
                        $('#popupInformacionSB2Error').show();
                        return false;
                    }
                    else {
                        esAgregarCliente = false;
                        var divPadre = $(this).parent("div");
                        
                        showClienteDetalle(divPadre);
                    }
                });
            });

            var ClienteDetalleOK = null;
            function showClienteDetalle(divPadre) {
                var cliente = {};
                if (divPadre != null) {
                    var divInfo = $(divPadre).find(".table-width");

                    cliente.ClienteID = $(divInfo).find(".clienteId").val();
                    cliente.CodigoCliente = $(divInfo).find(".clienteCodigo").val();
                    cliente.NombreCliente = $(divInfo).find(".clienteNombre").html();
                    cliente.Nombre = cliente.NombreCliente;
                    cliente.eMail = $(divInfo).find(".clienteEmail").html();
                    cliente.Telefono = $(divInfo).find(".clienteTelefono").html();
                    cliente.Celular = $(divInfo).find(".clienteCelular").html();
                }

                ShowLoading();
                $.ajax({
                    type: 'GET',
                    dataType: 'html',
                    cache: false,
                    url: '@Url.Action("AgregarCliente", "Cliente", new { area = "Mobile" })',
                    data: cliente,
                    success: function (data) {
                        CloseLoading();

                        $("#divDetalleCliente").html(data);
                        $("#divAgregarCliente").modal("show");

                        ClienteDetalleOK = RealizarLuegoGuardarCliente;
                    },
                    error: function (xhr, ajaxOptions, error) {
                        CloseLoading();
                        alert('Error: ' + xhr.status + " - " + xhr.responseText);
                    }
                });
            }

            function RealizarLuegoGuardarCliente(data) {
                if (data.Insertado) {
                    var clienteNombre = data.Nombre == "" || data.Nombre == null ? "" : data.Nombre;
                    var clienteEmail = data.Email == "" || data.Email == null ? "" : data.Email;
                    var clienteId = data.ClienteID == "" || data.ClienteID == null ? "" : data.ClienteID;
                    var clienteCodigo = data.CodigoCliente == "" || data.CodigoCliente == null ? "" : data.CodigoCliente;
                    var clienteTelefono = data.Telefono == "" || data.Telefono == null ? "" : data.Telefono;
                    var clienteCelular = data.Celular == "" || data.Celular == null ? "" : data.Celular;

                    var htmlInsertar = '';
                    htmlInsertar += '<li>';
                    htmlInsertar += '<div class="posr">';
                    htmlInsertar += '<div class="divTabla">';
                    htmlInsertar += '<div class="divIcono">';
                    htmlInsertar += '</div>';
                    htmlInsertar += '<div class="divCelda">';
                    htmlInsertar += '<div class="table-width">';
                    htmlInsertar += '<div>';
                    htmlInsertar += '<strong class="upper clienteNombre">' + clienteNombre + '</strong>';
                    htmlInsertar += '</div>';
                    htmlInsertar += '<div class="mt-10">Teléfono Fijo: <span class="clienteTelefono">' + clienteTelefono + '</span></div>';
                    htmlInsertar += '<div class="mt-10">Celular: <span class="clienteCelular">' + clienteCelular + '</span></div>';
                    htmlInsertar += '<div class="mt-10">Correo: <span class="clienteEmail">' + clienteEmail + '</span></div>';
                    htmlInsertar += '<input type="hidden" class="clienteId" value="' + clienteId + '" />';
                    htmlInsertar += '<input type="hidden" class="clienteCodigo" value="' + clienteCodigo + '" />';
                    htmlInsertar += '</div>';
                    htmlInsertar += '<a href="javascript:;" class="cli-ac-edit text-primary actualizarCliente">EDITAR</a>';
                    htmlInsertar += '<a href="javascript:;" class="cli-ac-delete text-primary" onclick="return EliminarCliente(' + clienteId + ');"><i class="icon-delete icon-lg"></i></a>';
                    htmlInsertar += '</div>';
                    htmlInsertar += '</div>';
                    htmlInsertar += '</div>';
                    htmlInsertar += '</li>';

                    $(".list-body-clientes").append(htmlInsertar);

                    dataLayer.push({
                        'event': 'virtualEvent',
                        'category': 'Clientes',
                        'action': 'Agregar',
                        'label': 'Satisfactorio',
                    });
                } else {
                    var inputClienteId = $(".clienteId[value=" + data.ClienteID + "]");
                    var divPadre = $(inputClienteId).parent(".table-width");
                    var clienteNombreActualizar = $(divPadre).find(".clienteNombre");
                    var clienteEmailActualizar = $(divPadre).find(".clienteEmail");
                    var clienteTelefonoActualizar = $(divPadre).find(".clienteTelefono");
                    var clienteCelularActualizar = $(divPadre).find(".clienteCelular");
                    var clienteCodigoActualizar = $(divPadre).find(".clienteCodigo");

                    clienteNombreActualizar.html(data.Nombre);
                    clienteEmailActualizar.html(data.Email);
                    clienteTelefonoActualizar.html(data.Telefono);
                    clienteCelularActualizar.html(data.Celular);
                    clienteCodigoActualizar.html(data.CodigoCliente);

                    inputClienteId.parent().parent().parent().find(".divIcono").html("");

                    dataLayer.push({
                        'event': 'virtualEvent',
                        'category': 'Clientes',
                        'action': 'Editar',
                        'label': 'Satisfactorio',
                    });
                }
            }

            function EliminarCliente(clienteId) {
                $("#modal-id").modal("show");

                fnEliminarCliente = function () {
                    ShowLoading();

                    jQuery.ajax({
                        type: 'POST',
                        url: urlEliminarCliente,
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify({ clienteId: clienteId }),
                        async: true,
                        success: function (data) {
                            if (checkTimeout(data)) {
                                if (data.success == true) {
                                    var inputClienteId = $(".clienteId[value=" + clienteId + "]");
                                    var liEliminar = $(inputClienteId).parents("li");
                                    $(liEliminar).remove();

                                    dataLayer.push({
                                        'event': 'virtualEvent',
                                        'category': 'Clientes',
                                        'action': 'Eliminar',
                                        'label': 'Satisfactorio',
                                    });
                                }

                                window.messageInfo(data.message);

                                CloseLoading();
                            }
                        },
                        error: function (data, error) {
                            if (checkTimeout(data)) {
                                CloseLoading();
                                console.error(data);
                            }
                        }
                    });
                };
            }

            function ConfirmaEliminarCliente() {
                $("#modal-id").modal("hide");

                if ($.isFunction(fnEliminarCliente)) {
                    fnEliminarCliente();
                }
            }

        </script>
    }
