@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Areas.Mobile.Models
@using Portal.Consultoras.Web.Helpers
@model MiAsesorBellezaModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
    string contenedorClass = "contenedor" + Model.OrdenMaximo.ToString();
    string liClass, classOculto, dataTag = "", marcaNombre = "";
}

<div class="titulo_mobile titulo_asesorBelleza">
    @{  var mobileConfiguracion = Html.MobileAppConfiguracion();
        if (mobileConfiguracion.MostrarBotonAtras)
        {
            <a href="@Request.UrlReferrer" class="enlace_regresar catalogosR" title="Regresar"></a>
        } }
    &nbsp;&nbsp;&nbsp;&nbsp;MI ASESOR DE BELLEZA
</div>
<div class="fondo_f2f2f2">
    <div class="pestana_esika"></div>
    <div class="pestana_lbel"></div>
    <ul class="tabs_asesoresBelleza @contenedorClass" data-tab="tab" style="margin-bottom:0">
        @for (int i = 1; i <= Model.OrdenMaximo; i++)
        {
            liClass = i == 1 ? "one" : (i == 2 ? "two" : "three");
            classOculto = i == 1 ? "" : "oculto";

            if (Model.OrdenEsika == i)
            {
                dataTag = "Esika";
                marcaNombre = "Ésika";
            }
            else if (Model.OrdenLbel == i)
            {
                dataTag = "Lbel";
                marcaNombre = "L'bel";
            }
            else if (Model.OrdenCyzone == i)
            {
                dataTag = "Cyzone";
                marcaNombre = "Cyzone";
            }

            <li class="@liClass">
                <a href="#" data-tag="@dataTag">
                    @marcaNombre
                    <div class="marcador_tab @classOculto"></div>
                </a>
            </li>
        }

        <hr id="barCursor">
    </ul>
</div>

<div class="wrapper_resumen_mobile">
    @if (Model.OrdenEsika != 0)
    {
        <div class="tab_contenido_asesorBelleza" data-tag-html="Esika" @if (Model.OrdenEsika != 1) { <text> style="display:none;" </text>  }>
            <a href="http://www.esika.com/coach-de-belleza/maquillador-virtual/" target="_blank">
                <div class="asesor_belleza_contenido">
                    <div class="asesor_belleza_img">
                        <img src="@Url.Content("~/Content/Images/mobile/Esika/maquillador_virtual_esika.png")" alt="Maquillador Virtual" />
                    </div>
                    <div class="asesor_belleza_texto">
                        <span>Maquillador</span>
                        <span>Virtual</span>
                    </div>
                </div>
            </a>
            <a href="http://www.esika.com/coach-de-belleza/manicure-virtual/" target="_blank">
                <div class="asesor_belleza_contenido">
                    <div class="asesor_belleza_img">
                        <img src="@Url.Content("~/Content/Images/mobile/Esika/manicure_virtual_esika.png")" alt="Manicure Virtual" />
                    </div>
                    <div class="asesor_belleza_texto">
                        <span>Manicure</span>
                        <span>Virtual</span>
                    </div>
                </div>
            </a>
            <a href="http://www.esika.com/blog/" target="_blank">
                <div class="asesor_belleza_contenido">
                    <div class="asesor_belleza_img">
                        <img src="@Url.Content("~/Content/Images/mobile/Esika/esika_blog.png")" alt="Esika Blog" />
                    </div>
                    <div class="asesor_belleza_texto">
                        <span>Ésika</span>
                        <span>Blog</span>
                    </div>
                </div>
            </a>
        </div>
    }

    @if (Model.OrdenLbel != 0)
    {
        <div class="tab_contenido_asesorBelleza" data-tag-html="Lbel" @if (Model.OrdenLbel != 1) { <text> style="display:none;" </text>   }>
            <a href="http://www.lbel.com/pe/asesor-de-bases-y-polvos/" target="_blank">
                <div class="asesor_belleza_contenido">
                    <div class="asesor_belleza_img">
                        <img src="@Url.Content("~/Content/Images/mobile/Lbel/asesor_basePolvos_lbel.png")" alt="Maquillador Virtual" />
                    </div>
                    <div class="asesor_belleza_texto">
                        <span>Asesor de</span>
                        <span>bases y polvos</span>
                    </div>
                </div>
            </a>
            <a href="http://www.lbel.com/diagnosticodepiel" target="_blank">
                <div class="asesor_belleza_contenido">
                    <div class="asesor_belleza_img">
                        <img src="@Url.Content("~/Content/Images/mobile/Lbel/diagnostico_piel_lbel.png")" alt="Diagnóstico de piel" />
                    </div>
                    <div class="asesor_belleza_texto">
                        <span>Diagnóstico</span>
                        <span>de piel</span>
                    </div>
                </div>
            </a>
            <a href="http://www.lbel.com/tutoriales" target="_blank">
                <div class="asesor_belleza_contenido">
                    <div class="asesor_belleza_img">
                        <img src="@Url.Content("~/Content/Images/mobile/Lbel/belleza_medida_lbel.png")" alt="Belleza a tu medida" />
                    </div>
                    <div class="asesor_belleza_texto">
                        <span>Belleza a</span>
                        <span>tu medida</span>
                    </div>
                </div>
            </a>
        </div>
    }
    @if (Model.OrdenCyzone != 0)
    {
        <div class="tab_contenido_asesorBelleza" data-tag-html="Cyzone" @if (Model.OrdenCyzone != 1) { <text> style="display:none;" </text>   }>
            <a href="http://www.cyzone.com/pe/maquillador-virtual" target="_blank">
                <div class="asesor_belleza_contenido">
                    <div class="asesor_belleza_img">
                        <img src="@Url.Content("~/Content/Images/mobile/maquillador_virtual_cyzone.png")" alt="Maquillador Virtual" />
                    </div>
                    <div class="asesor_belleza_texto">
                        <span>Maquillador</span>
                        <span>Virtual</span>
                    </div>
                </div>
            </a>
            <a href="http://www.cyzone.com/pe/manicure-virtual" target="_blank">
                <div class="asesor_belleza_contenido">
                    <div class="asesor_belleza_img">
                        <img src="@Url.Content("~/Content/Images/mobile/manicure_virtual_cyzone.png")" alt="Manicure Virtual" />
                    </div>
                    <div class="asesor_belleza_texto">
                        <span>Manicure</span>
                        <span>Virtual</span>
                    </div>
                </div>
            </a>
            <a href="http://www.cyzone.com/look-book/" target="_blank">
                <div class="asesor_belleza_contenido">
                    <div class="asesor_belleza_img">
                        <img src="@Url.Content("~/Content/Images/mobile/lookbook_cyzone.png")" alt="Lookbook" />
                    </div>
                    <div class="asesor_belleza_texto">
                        <span class="lookbook">Look<b>book</b></span>
                    </div>
                </div>
            </a>
        </div>
    }
</div>

@section scripts{
    <script src="@Url.Content("~/Scripts/PortalConsultoras/Mobile/MiAsesorBelleza/Index.js")"></script>
}


