@model Portal.Consultoras.Web.Models.LugaresPagoModel
@{
    ViewBag.Title = "Lugares de Pago";
}

<script type="text/javascript">
    function EventoAnalytics1(NombreBanco) {
        //debugger;
        _gaq.push(['_trackEvent', 'Lugares de Pago', 'Link-1', NombreBanco.replace(/\s+/g, '-')]);
        dataLayer.push({
            'event': 'pageview',
            'virtualUrl': '/Lugares de Pago/Link-1/' + NombreBanco.replace(/\s+/g, '-')
        });
    }
    function EventoAnalytics2(NombreBanco) {
        //debugger;
        _gaq.push(['_trackEvent', 'Lugares de Pago', 'Link-2', NombreBanco.replace(/\s+/g, '-')]);
        dataLayer.push({
            'event': 'pageview',
            'virtualUrl': '/Lugares de Pago/Link-2/' + NombreBanco.replace(/\s+/g, '-')
        });
    }
    function EventoAnalytics3(NombreBanco) {
        //debugger;
        _gaq.push(['_trackEvent', 'Lugares de Pago', 'Link-3', NombreBanco.replace(/\s+/g, '-')]);
        dataLayer.push({
            'event': 'pageview',
            'virtualUrl': '/Lugares de Pago/Link-3/' + NombreBanco.replace(/\s+/g, '-')
        });
    }
</script>

<div class="wrap_cab">
    <div class="filtros">
        <div class="elements">
            <div class="div-1">
                <div class="box">
                    <div class="box-t"></div>
                    <div class="box-c">
                        @if (ViewBag.Campania != null)
                        {
                            if (ViewBag.Dias == 0)
                            {
                            <p class="azul">Hoy es el cierre de <span>@ViewBag.Campania</span></p>
                            }
                            else
                            {
                            <p class="azul">Estás en <span>@ViewBag.Campania</span>, te quedan <strong>@ViewBag.Dias días</strong> para el cierre.</p>
                            }
                            <p>@ViewBag.MensajeCierreCampania</p>
							<!-- R2161 -->
                            if (ViewBag.TieneFechaPromesa == 1)
                            {
                                //R20151104
                                    <p>@ViewBag.MensajeFechaPromesa</p>
                            }
                        }
                        else
                        {
                            <p>La Zona @ViewBag.CodigoZonaConsultora no se ubica en el cronograma, por favor contacte al Servicio de Atención al Cliente.</p>
                        }
                    </div>
                    <div class="box-b"></div>
                </div>
            </div>
            <div class="div-2">
                <h1>Lugares<span> de Pago</span></h1>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper_reg">
            @if (Model.listaLugaresPago != null && Model.listaLugaresPago.Count() > 0)
            {
                foreach (var lugarPago in Model.listaLugaresPago)
                {
                <div class="module_lugares_pago">
                    @Html.Hidden("LugarPagoID", lugarPago.LugarPagoID)
                    <div class="module_lugares_link">
                        <a href="@lugarPago.UrlSitio" target="_blank" onclick="EventoAnalytics1('@lugarPago.Nombre')">Haga clic aquí</a>
                    </div>
                    <div class="module_lugares_img">
                        <a href="@lugarPago.UrlSitio" target="_blank" onclick="EventoAnalytics2('@lugarPago.Nombre')">
                            <!-- img src='@Url.Content("~/Content/LugaresPago/" + Model.ISO + "/" + lugarPago.ArchivoLogo)' alt="Logo Lugar de Pago" width="420" height="67" / -->
                            <!-- 1664 -->
                            <img src='@lugarPago.ArchivoLogo' alt="Logo Lugar de Pago" width="420" height="67" />
                        </a>
                    </div>
                    @if (!string.IsNullOrEmpty(lugarPago.ArchivoInstructivo))
                    {
                        <div class="module_lugares_btn">
                            <a href="@lugarPago.ArchivoInstructivo" target="_blank" onclick="EventoAnalytics3('@lugarPago.Nombre')">Ver Agencias Bancarias</a>
                        </div>
                    }
                </div>
                }
            }
            else
            {
            }
        </div>
    </div>
</div>
<div id="loadingScreen"></div>
