@using Portal.Consultoras.Web.Models.CaminoBrillante
@using Portal.Consultoras.Common

@{
    ViewBag.CaminoBrillante = true;
    Layout = "~/Views/Shared/_MainLayoutResponsive.cshtml";
}

@section css{
    @System.Web.Optimization.Styles.Render("~/Bundle/Css/CaminoBrillante")
}



<link href="~/Content/Css/Site/FichaProductoResponsive/ficha-producto-responsive.css" rel="stylesheet" />



<section data-layout="ubicacionWeb" class="row flex-row ml-0 mr-0 layout__view__breadcrumbs__wrapper mostrarEnDesktop">
    <div class="col-12 pl-0 pr-0 mx-auto layout__view__breadcrumbs">
        <ul class="row flex-row align-items-center ml-0 mr-0 layout__view__lista__breadcrumbs">
            <li class="layout__view__breadcrumb">
                <a id="is-mobile" href="@Url.Action("Index", "Bienvenida", new { area = "Mobile" })" title="Home">Home</a>
                <a id="is-desktop" href="@Url.Action("Index", "Bienvenida")" title="Home">Home</a>

            </li>
            <li class="layout__view__breadcrumb layout__view__breadcrumb--active__view">
                <span class="d-block">Camino Brillante</span>
            </li>
        </ul>
    </div>
</section>

<br />
<div class="container ">
    <h2 class="title">Mi nivel</h2>
    <input type="hidden" id="hfNivelActual" value="@ViewBag.NivelActual" />
    <div id="box-niveles">
        <div id="ProgressBar">
            <div class="Progress medal-@ViewBag.NivelActual"></div>
            @foreach (var nivel in @ViewBag.Niveles as List<NivelCaminoBrillanteModel>)
            {
                var decorador = nivel.EsPasado ? "" : "onclick=\"TagMostrarPopupNivel('" + nivel.DescripcionNivel + "');\" data-toggle=\"modal\" data-target=\"#Nivel_" + nivel.CodigoNivel + "_Bnf\"";
                var estilos = "pt" + nivel.CodigoNivel;
                <span class='point @estilos' @Html.Raw(decorador) onclick='TagClickSeleccionNivel("@nivel.DescripcionNivel")'>
                    <img src=@nivel.UrlImagenNivel>
                    <em>@nivel.DescripcionNivel</em>
                </span>
            }
        </div>
    </div>
    @foreach (var nivel in @ViewBag.Niveles as List<NivelCaminoBrillanteModel>)
    {
        if (nivel.EsActual)
        {
            <div class="cont-benf" id="BeneficiosPrincipal">
                <h2 class='title'>Mis beneficios</h2>
                <ul class='box-beneficios' id='BeneficiosPrincipal'>
                    @foreach (var beneficio in nivel.Beneficios as List<NivelCaminoBrillanteModel.BeneficioCaminoBrillanteModel>)
                    {
                        <li>
                            <img src='@beneficio.UrlIcono'>
                            <div class="txt-benf">
                                <p class="text-bold">
                                    @if (string.IsNullOrEmpty(beneficio.Descripcion))
                                    {
                                        <span>@beneficio.NombreBeneficio</span>
                                    }
                                    else
                                    {
                                        @beneficio.NombreBeneficio<span>@beneficio.Descripcion</span>
                                    }
                                </p>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        }
        else if (!nivel.EsPasado)
        {
            var idModal = "Nivel_" + nivel.CodigoNivel + "_Bnf";
            <div class="modal fade" id='@idModal' tabindex="-1" role="dialog" aria-labelledby="@nivel.DescripcionNivel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <button id="btnCerrarNiveles" type="button" class="close" data-dismiss="modal" aria-label="Close" value="@nivel.DescripcionNivel"><span aria-hidden="true">&times;</span></button>
                        <div class="modal-body pad-center">
                            <div class="indicador-nivel" style="text-align:center; margin-bottom: 20px;">
                                <center><img id="m_imagen" style="float: unset; max-width: 100px !important;" src="@nivel.UrlImagenNivelFull" /></center>
                                <div class="left-mod" style="width: 100%; margin-left: 0px; ">
                                    <h2 id="m_titulo" style="color: black; font-size: 20px; font-weight: bold;">@nivel.DescripcionNivel</h2>@ViewBag.Pais
                                    <div class="cont-textLograr">
                                        <p id="m_montoMinimo">
                                            <b>Lo logras con:</b><span style='float: right'>
                                                @if (nivel.PuntajeAcumulado.HasValue)
                                                {
                                                    @nivel.Puntaje @Html.Raw(" puntos")
                                                }
                                                else
                                                {
                                                    @ViewBag.SimboloMoneda @Util.DecimalToStringFormat(Convert.ToDecimal(nivel.MontoMinimo), @ViewBag.CodigoISODL)
                                                }
                                            </span>
                                        </p>
                                        @if (nivel.MontoFaltante.HasValue)
                                        {
                                            <p id="m_montoFaltante"><b>Te falta:</b><span style='float: right'>@ViewBag.SimboloMoneda @Util.DecimalToStringFormat(Convert.ToDecimal(nivel.MontoFaltante), @ViewBag.CodigoISODL)</span></p>
                                        }
                                        @if (nivel.PuntajeAcumulado.HasValue)
                                        {
                                            <p id="m_montoFaltante"><b>Tu puntaje es:</b><span style='float: right'>@nivel.PuntajeAcumulado puntos</span></p>
                                        }
                                    </div>
                                    @if (nivel.EnterateMas == 1 || nivel.EnterateMas == 2)
                                    {
                                        <div class="box-enterate">
                                            <a target="_blank" href="@Url.Action("EnterateMas", "CaminoBrillante", new { nivel = nivel.CodigoNivel  })">Enterate más</a>
                                        </div>
                                    }
                                </div>
                            </div>
                            <h4 class="subtitle text-center">Conoce los beneficios:</h4>
                            <ul class="box-beneficios two-colums" id="ListaBeneficios">
                                @foreach (var beneficio in nivel.Beneficios as List<NivelCaminoBrillanteModel.BeneficioCaminoBrillanteModel>)
                                {
                                    <li>
                                        <img src='@beneficio.UrlIcono'>
                                        <div class="txt-benf">
                                            <p class="text-bold">
                                                @if (string.IsNullOrEmpty(beneficio.Descripcion))
                                                {
                                                    <span>@beneficio.NombreBeneficio</span>
                                                }
                                                else
                                                {
                                                    @beneficio.NombreBeneficio<span>@beneficio.Descripcion</span>
                                                }
                                            </p>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }
    }

    @if (@ViewBag.TieneOfertasEspeciales)
    {
        <a id="OfertasEspeciales" href="@Url.Action("Ofertas", "CaminoBrillante")" class="btn-principal">Ver ofertas</a>
    }





    @if (ViewBag.ResumenLogros != null)
    {
        var logro = ViewBag.ResumenLogros as LogroCaminoBrillanteModel;
        <div id="cont-logros" class="cont-logros">
            <h2 class="title" id="TituloLogros">@logro.Titulo</h2>
            <div class="boxcenter">
                <div class="owl-carousel owl-crec" id="Carusel-Logros">

                    @foreach (var indicador in logro.Indicadores)
                    {
                        <div class="item">
                            <input type="hidden" value="@indicador.Titulo" />
                            <div class="shad box-@indicador.Titulo">
                                <p class="text-bold">@indicador.Titulo</p>
                                <span class="text-down">@indicador.Descripcion</span>
                                <ul class="list-crec">
                                    @foreach (var medalla in indicador.Medallas)
                                    {
                                        <li>
                                            @if (medalla.Tipo == Constantes.CaminoBrillante.Logros.Indicadores.Medallas.Codes.CIRC)
                                            {
                                                var decorator = medalla.Estado ? "crec-activo" : "crec-inactivo";
                                                <div class="circle-porcent @decorator">
                                                    <span>@medalla.Valor</span>
                                                </div>
                                            }
                                            else if (medalla.Tipo == Constantes.CaminoBrillante.Logros.Indicadores.Medallas.Codes.PIE
                                                || medalla.Tipo == Constantes.CaminoBrillante.Logros.Indicadores.Medallas.Codes.PED
                                                || medalla.Tipo == Constantes.CaminoBrillante.Logros.Indicadores.Medallas.Codes.TIM)
                                            {
                                                <img src="@medalla.UrlMedalla" />
                                            }
                                            <p>@medalla.Titulo</p>
                                        </li>
                                    }
                                </ul>
                                <a onclick="TagVerTodos('@indicador.Codigo')" href="@Url.Action("Logros", "CaminoBrillante", new { opcion = indicador.Codigo })" class="btn-link">Ver todos</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }

        
    <h2 class="title fleft">Kit y Demostradores</h2>
    <a href="#" class="ver-todos">Ver todos</a>
    <div class="clear"></div>
    <section class="regular slider" id="template-Kits">

        <div class="revistadigital-landing">
            <article class="ficha__producto ficha__producto__kit mgtop" data-item="BuscadorFichasProductos">
                <div class="etiq-producto">
                    <img class="ficha__producto__tag_enable " src="https://S3.amazonaws.com/somosbelcorpqa/Iconos/CAMINOBRILLANTE/NIVELES/TAG/Etiqueta_Nivel_02_A.png" />
                </div>
                <div class="row flex-row justify-content-center ml-0 mr-0">
                    <figure class="col-12 pl-0 pr-0 row flex-row ml-0 mr-0 justify-content-center align-items-end ficha__producto__imagen text-center producto_img_home">
                        <img class="" src="http://somosbelcorpprd.s3.amazonaws.com/Iconos/CAMINOBRILLANTE/KITS/CR/31219.png">
                        <a href="javascript:;" class="ver_detalle_carrusel" data-item-tag="verdetalle">VER DETALLE</a>
                    </figure>
                    <div style="display:none;">
                        <div data-kit=""></div>
                    </div>
                    <div class="col-12 pl-0 pr-0 ficha__producto__descrip d-block mx-auto text-left">
                        <div class="col-12 pl-0 pr-0 ficha__producto__descrip__marca__pais text-uppercase">
                            L'Bel
                        </div>
                        <div class="col-12 pl-0 pr-0 ficha__producto__descrip__nom text-bold redireccionarFicha boxheight">
                            Kit Coral
                        </div>
                    </div>
                    <div class="row flex-row align-items-end align-items-md-baseline ml-0 mr-0 col-12 pl-0 pr-0 ficha__producto__precio">
                        <div>
                            <div style="text-align: left;padding-right: 15px;font-size: 12px;">
                                Precio para ti<br /><b>¢ 19.990</b>
                            </div>
                        </div>
                        <div>
                            <div style="font-size: 12px;text-align: left;">Ganancia<br>¢ 88.550</div>
                        </div>
                    </div>
                    <div class="row flex-row justify-content-between ml-0 mr-0 pl-0 pr-0 ficha__producto__agregar__producto">
                        <div class="col-12 col-md col-lg col-xl pl-0 pr-0" style="display:none;">
                            <div class="row flex-row justify-content-between ml-0 mr-0 ficha__producto__rango__cantidad js-no-popup" data-cantidad-contenedor="">
                                <a class="col-4 col-md-4 col-lg-4 col-xl-4 pl-0 pr-0 menos d-block js-no-popup" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)">
                                    <img class="d-block js-no-popup" src="https://www.somosbelcorp.com/Content/Images/menos.svg" alt="">
                                </a>
                                <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" data-input="cantidad" class="col-4 col-md-8 col-lg-8 col-xl-8 pl-0 pr-0 d-block text-center text-bold ValidaNumeral ValidaPasteNumeral js-no-popup">
                                <a class="col-4 col-md-4 col-lg-4 col-xl-4 pl-0 pr-0 mas d-block js-no-popup" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)">
                                    <img class="d-block js-no-popup" src="https://www.somosbelcorp.com/Content/Images/mas.svg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-12 col-xl-12 pl-0 pr-0 flex-grow-1">
                            <a class="boton_Agregalo_home boton_agregar_ofertas boton__agregalo--fichaProducto text-center d-block FichaAgregarProductoBuscador act">
                                <i>
                                    <img src="/Content/CaminoBrillante/imgs/add_to_cart2.svg" />
                                </i> Agregar
                            </a>
                        </div>
                    </div>
                    <div class="col-12 pl-0 pr-0 etiqueta_buscador_producto ficha__producto__etiqueta text-center" data-Agregado="DivAgregado">
                        <span class="text-uppercase text-bold d-inline-block">Agregado</span>
                    </div>
                </div>
            </article>
        </div>
        <div class="revistadigital-landing">
            <article class="ficha__producto ficha__producto__kit mgtop" data-item="BuscadorFichasProductos">
                <div class="etiq-producto">
                    <img class="ficha__producto__tag_enable " src="https://S3.amazonaws.com/somosbelcorpqa/Iconos/CAMINOBRILLANTE/NIVELES/TAG/Etiqueta_Nivel_02_A.png" />
                </div>
                <div class="row flex-row justify-content-center ml-0 mr-0">
                    <figure class="col-12 pl-0 pr-0 row flex-row ml-0 mr-0 justify-content-center align-items-end ficha__producto__imagen text-center producto_img_home">
                        <img class="" src="http://somosbelcorpprd.s3.amazonaws.com/Iconos/CAMINOBRILLANTE/KITS/CR/31219.png">
                        <a href="javascript:;" class="ver_detalle_carrusel" data-item-tag="verdetalle">VER DETALLE</a>
                    </figure>
                    <div style="display:none;">
                        <div data-kit=""></div>
                    </div>
                    <div class="col-12 pl-0 pr-0 ficha__producto__descrip d-block mx-auto text-left">
                        <div class="col-12 pl-0 pr-0 ficha__producto__descrip__marca__pais text-uppercase">
                            L'Bel
                        </div>
                        <div class="col-12 pl-0 pr-0 ficha__producto__descrip__nom text-bold redireccionarFicha boxheight">
                            Kit Coral
                        </div>
                    </div>
                    <div class="row flex-row align-items-end align-items-md-baseline ml-0 mr-0 col-12 pl-0 pr-0 ficha__producto__precio">
                        <div>
                            <div style="text-align: left;padding-right: 15px;font-size: 12px;">
                                Precio para ti<br /><b>¢ 19.990</b>
                            </div>
                        </div>
                        <div>
                            <div style="font-size: 12px;text-align: left;">Ganancia<br>¢ 88.550</div>
                        </div>
                    </div>
                    <div class="row flex-row justify-content-between ml-0 mr-0 pl-0 pr-0 ficha__producto__agregar__producto">
                        <div class="col-12 col-md col-lg col-xl pl-0 pr-0" style="display:none;">
                            <div class="row flex-row justify-content-between ml-0 mr-0 ficha__producto__rango__cantidad js-no-popup" data-cantidad-contenedor="">
                                <a class="col-4 col-md-4 col-lg-4 col-xl-4 pl-0 pr-0 menos d-block js-no-popup" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)">
                                    <img class="d-block js-no-popup" src="https://www.somosbelcorp.com/Content/Images/menos.svg" alt="">
                                </a>
                                <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" data-input="cantidad" class="col-4 col-md-8 col-lg-8 col-xl-8 pl-0 pr-0 d-block text-center text-bold ValidaNumeral ValidaPasteNumeral js-no-popup">
                                <a class="col-4 col-md-4 col-lg-4 col-xl-4 pl-0 pr-0 mas d-block js-no-popup" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)">
                                    <img class="d-block js-no-popup" src="https://www.somosbelcorp.com/Content/Images/mas.svg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-12 col-xl-12 pl-0 pr-0 flex-grow-1">
                            <a class="boton_Agregalo_home boton_agregar_ofertas boton__agregalo--fichaProducto text-center d-block FichaAgregarProductoBuscador act">
                                <i>
                                    <img src="/Content/CaminoBrillante/imgs/add_to_cart2.svg" />
                                </i> Agregar
                            </a>
                        </div>
                    </div>
                    <div class="col-12 pl-0 pr-0 etiqueta_buscador_producto ficha__producto__etiqueta text-center" data-Agregado="DivAgregado">
                        <span class="text-uppercase text-bold d-inline-block">Agregado</span>
                    </div>
                </div>
            </article>
        </div>
        <div class="revistadigital-landing">
            <article class="ficha__producto ficha__producto__kit mgtop" data-item="BuscadorFichasProductos">
                <div class="etiq-producto">
                    <img class="ficha__producto__tag_enable " src="https://S3.amazonaws.com/somosbelcorpqa/Iconos/CAMINOBRILLANTE/NIVELES/TAG/Etiqueta_Nivel_02_A.png" />
                </div>
                <div class="row flex-row justify-content-center ml-0 mr-0">
                    <figure class="col-12 pl-0 pr-0 row flex-row ml-0 mr-0 justify-content-center align-items-end ficha__producto__imagen text-center producto_img_home">
                        <img class="" src="http://somosbelcorpprd.s3.amazonaws.com/Iconos/CAMINOBRILLANTE/KITS/CR/31219.png">
                        <a href="javascript:;" class="ver_detalle_carrusel" data-item-tag="verdetalle">VER DETALLE</a>
                    </figure>
                    <div style="display:none;">
                        <div data-kit=""></div>
                    </div>
                    <div class="col-12 pl-0 pr-0 ficha__producto__descrip d-block mx-auto text-left">
                        <div class="col-12 pl-0 pr-0 ficha__producto__descrip__marca__pais text-uppercase">
                            L'Bel
                        </div>
                        <div class="col-12 pl-0 pr-0 ficha__producto__descrip__nom text-bold redireccionarFicha boxheight">
                            Kit Coral
                        </div>
                    </div>
                    <div class="row flex-row align-items-end align-items-md-baseline ml-0 mr-0 col-12 pl-0 pr-0 ficha__producto__precio">
                        <div>
                            <div style="text-align: left;padding-right: 15px;font-size: 12px;">
                                Precio para ti<br /><b>¢ 19.990</b>
                            </div>
                        </div>
                        <div>
                            <div style="font-size: 12px;text-align: left;">Ganancia<br>¢ 88.550</div>
                        </div>
                    </div>
                    <div class="row flex-row justify-content-between ml-0 mr-0 pl-0 pr-0 ficha__producto__agregar__producto">
                        <div class="col-12 col-md col-lg col-xl pl-0 pr-0" style="display:none;">
                            <div class="row flex-row justify-content-between ml-0 mr-0 ficha__producto__rango__cantidad js-no-popup" data-cantidad-contenedor="">
                                <a class="col-4 col-md-4 col-lg-4 col-xl-4 pl-0 pr-0 menos d-block js-no-popup" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)">
                                    <img class="d-block js-no-popup" src="https://www.somosbelcorp.com/Content/Images/menos.svg" alt="">
                                </a>
                                <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" data-input="cantidad" class="col-4 col-md-8 col-lg-8 col-xl-8 pl-0 pr-0 d-block text-center text-bold ValidaNumeral ValidaPasteNumeral js-no-popup">
                                <a class="col-4 col-md-4 col-lg-4 col-xl-4 pl-0 pr-0 mas d-block js-no-popup" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)">
                                    <img class="d-block js-no-popup" src="https://www.somosbelcorp.com/Content/Images/mas.svg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-12 col-xl-12 pl-0 pr-0 flex-grow-1">
                            <a class="boton_Agregalo_home boton_agregar_ofertas boton__agregalo--fichaProducto text-center d-block FichaAgregarProductoBuscador act">
                                <i>
                                    <img src="/Content/CaminoBrillante/imgs/add_to_cart2.svg" />
                                </i> Agregar
                            </a>
                        </div>
                    </div>
                    <div class="col-12 pl-0 pr-0 etiqueta_buscador_producto ficha__producto__etiqueta text-center" data-Agregado="DivAgregado">
                        <span class="text-uppercase text-bold d-inline-block">Agregado</span>
                    </div>
                </div>
            </article>
        </div>
        <div class="revistadigital-landing">
            <article class="ficha__producto ficha__producto__kit mgtop" data-item="BuscadorFichasProductos">
                <div class="etiq-producto">
                    <img class="ficha__producto__tag_enable " src="https://S3.amazonaws.com/somosbelcorpqa/Iconos/CAMINOBRILLANTE/NIVELES/TAG/Etiqueta_Nivel_02_A.png" />
                </div>
                <div class="row flex-row justify-content-center ml-0 mr-0">
                    <figure class="col-12 pl-0 pr-0 row flex-row ml-0 mr-0 justify-content-center align-items-end ficha__producto__imagen text-center producto_img_home">
                        <img class="" src="http://somosbelcorpprd.s3.amazonaws.com/Iconos/CAMINOBRILLANTE/KITS/CR/31219.png">
                        <a href="javascript:;" class="ver_detalle_carrusel" data-item-tag="verdetalle">VER DETALLE</a>
                    </figure>
                    <div style="display:none;">
                        <div data-kit=""></div>
                    </div>
                    <div class="col-12 pl-0 pr-0 ficha__producto__descrip d-block mx-auto text-left">
                        <div class="col-12 pl-0 pr-0 ficha__producto__descrip__marca__pais text-uppercase">
                            L'Bel
                        </div>
                        <div class="col-12 pl-0 pr-0 ficha__producto__descrip__nom text-bold redireccionarFicha boxheight">
                            Kit Coral
                        </div>
                    </div>
                    <div class="row flex-row align-items-end align-items-md-baseline ml-0 mr-0 col-12 pl-0 pr-0 ficha__producto__precio">
                        <div>
                            <div style="text-align: left;padding-right: 15px;font-size: 12px;">
                                Precio para ti<br /><b>¢ 19.990</b>
                            </div>
                        </div>
                        <div>
                            <div style="font-size: 12px;text-align: left;">Ganancia<br>¢ 88.550</div>
                        </div>
                    </div>
                    <div class="row flex-row justify-content-between ml-0 mr-0 pl-0 pr-0 ficha__producto__agregar__producto">
                        <div class="col-12 col-md col-lg col-xl pl-0 pr-0" style="display:none;">
                            <div class="row flex-row justify-content-between ml-0 mr-0 ficha__producto__rango__cantidad js-no-popup" data-cantidad-contenedor="">
                                <a class="col-4 col-md-4 col-lg-4 col-xl-4 pl-0 pr-0 menos d-block js-no-popup" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)">
                                    <img class="d-block js-no-popup" src="https://www.somosbelcorp.com/Content/Images/menos.svg" alt="">
                                </a>
                                <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" data-input="cantidad" class="col-4 col-md-8 col-lg-8 col-xl-8 pl-0 pr-0 d-block text-center text-bold ValidaNumeral ValidaPasteNumeral js-no-popup">
                                <a class="col-4 col-md-4 col-lg-4 col-xl-4 pl-0 pr-0 mas d-block js-no-popup" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)">
                                    <img class="d-block js-no-popup" src="https://www.somosbelcorp.com/Content/Images/mas.svg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-12 col-xl-12 pl-0 pr-0 flex-grow-1">
                            <a class="boton_Agregalo_home boton_agregar_ofertas boton__agregalo--fichaProducto text-center d-block FichaAgregarProductoBuscador act">
                                <i>
                                    <img src="/Content/CaminoBrillante/imgs/add_to_cart2.svg" />
                                </i> Agregar
                            </a>
                        </div>
                    </div>
                    <div class="col-12 pl-0 pr-0 etiqueta_buscador_producto ficha__producto__etiqueta text-center" data-Agregado="DivAgregado">
                        <span class="text-uppercase text-bold d-inline-block">Agregado</span>
                    </div>
                </div>
            </article>
        </div>
        <div class="revistadigital-landing">
            <article class="ficha__producto ficha__producto__kit mgtop" data-item="BuscadorFichasProductos">
                <div class="etiq-producto">
                    <img class="ficha__producto__tag_enable " src="https://S3.amazonaws.com/somosbelcorpqa/Iconos/CAMINOBRILLANTE/NIVELES/TAG/Etiqueta_Nivel_02_A.png" />
                </div>
                <div class="row flex-row justify-content-center ml-0 mr-0">
                    <figure class="col-12 pl-0 pr-0 row flex-row ml-0 mr-0 justify-content-center align-items-end ficha__producto__imagen text-center producto_img_home">
                        <img class="" src="http://somosbelcorpprd.s3.amazonaws.com/Iconos/CAMINOBRILLANTE/KITS/CR/31219.png">
                        <a href="javascript:;" class="ver_detalle_carrusel" data-item-tag="verdetalle">VER DETALLE</a>
                    </figure>
                    <div style="display:none;">
                        <div data-kit=""></div>
                    </div>
                    <div class="col-12 pl-0 pr-0 ficha__producto__descrip d-block mx-auto text-left">
                        <div class="col-12 pl-0 pr-0 ficha__producto__descrip__marca__pais text-uppercase">
                            L'Bel
                        </div>
                        <div class="col-12 pl-0 pr-0 ficha__producto__descrip__nom text-bold redireccionarFicha boxheight">
                            Kit Coral
                        </div>
                    </div>
                    <div class="row flex-row align-items-end align-items-md-baseline ml-0 mr-0 col-12 pl-0 pr-0 ficha__producto__precio">
                        <div>
                            <div style="text-align: left;padding-right: 15px;font-size: 12px;">
                                Precio para ti<br /><b>¢ 19.990</b>
                            </div>
                        </div>
                        <div>
                            <div style="font-size: 12px;text-align: left;">Ganancia<br>¢ 88.550</div>
                        </div>
                    </div>
                    <div class="row flex-row justify-content-between ml-0 mr-0 pl-0 pr-0 ficha__producto__agregar__producto">
                        <div class="col-12 col-md col-lg col-xl pl-0 pr-0" style="display:none;">
                            <div class="row flex-row justify-content-between ml-0 mr-0 ficha__producto__rango__cantidad js-no-popup" data-cantidad-contenedor="">
                                <a class="col-4 col-md-4 col-lg-4 col-xl-4 pl-0 pr-0 menos d-block js-no-popup" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)">
                                    <img class="d-block js-no-popup" src="https://www.somosbelcorp.com/Content/Images/menos.svg" alt="">
                                </a>
                                <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" data-input="cantidad" class="col-4 col-md-8 col-lg-8 col-xl-8 pl-0 pr-0 d-block text-center text-bold ValidaNumeral ValidaPasteNumeral js-no-popup">
                                <a class="col-4 col-md-4 col-lg-4 col-xl-4 pl-0 pr-0 mas d-block js-no-popup" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)">
                                    <img class="d-block js-no-popup" src="https://www.somosbelcorp.com/Content/Images/mas.svg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-12 col-xl-12 pl-0 pr-0 flex-grow-1">
                            <a class="boton_Agregalo_home boton_agregar_ofertas boton__agregalo--fichaProducto text-center d-block FichaAgregarProductoBuscador act">
                                <i>
                                    <img src="/Content/CaminoBrillante/imgs/add_to_cart2.svg" />
                                </i> Agregar
                            </a>
                        </div>
                    </div>
                    <div class="col-12 pl-0 pr-0 etiqueta_buscador_producto ficha__producto__etiqueta text-center" data-Agregado="DivAgregado">
                        <span class="text-uppercase text-bold d-inline-block">Agregado</span>
                    </div>
                </div>
            </article>
        </div>


        <div class="revistadigital-landing">
            <div class="ficha__producto ficha__producto__kit ">
                <figure class="col-12 pl-0 pr-0 row flex-row ml-0 mr-0 justify-content-center align-items-end ficha__producto__imagen text-center producto_img_home">

                    <img class="" src="http://somosbelcorpprd.s3.amazonaws.com/Iconos/CAMINOBRILLANTE/KITS/BO/30783.jpg">

                    <a href="javascript:;" class="ver_detalle_carrusel" data-item-tag="verdetalle">VER DETALLE</a>    
                </figure>
                <div style="display:none;">
                    <div data-demostrador="{{JSON2string this}}"></div>
                </div>
                <div class="col-12 pl-0 pr-0 ficha__producto__descrip d-block mx-auto text-left">
                    <div class="col-12 pl-0 pr-0 ficha__producto__descrip__marca__pais text-uppercase">
                        Esika
                    </div>
                    <div class="col-12 pl-0 pr-0 ficha__producto__descrip__nom text-bold redireccionarFicha">
                        CATALOGO ESIKA BO C10/2019
                    </div>

                </div>
                <div class="row flex-row align-items-end align-items-md-baseline ml-0 mr-0 col-12 pl-0 pr-0 ficha__producto__precio">
                    <div>
                        <div style="text-align: left;padding-right: 15px; font-size: 12px;">Precio normal<br /><div style="text-decoration:line-through;">Bs 0.00</div></div>
                    </div>
                    <div>
                        <div style="font-size: 12px;text-align: left;">Precio para ti<br /><b>  Bs 12.80</b></div>
                    </div>
                </div>
                <div class="row flex-row justify-content-between ml-0 mr-0 pl-0 pr-0 ficha__producto__agregar__producto">
                    <div class="col-12 col-md col-lg col-xl pl-0 pr-0">
                        <div class="row flex-row justify-content-between ml-0 mr-0 ficha__producto__rango__cantidad js-no-popup" data-cantidad-contenedor="">
                            <a class="col-4 col-md-4 col-lg-4 col-xl-4 pl-0 pr-0 menos d-block js-no-popup" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)">
                                <img class="d-block js-no-popup" src="https://www.somosbelcorp.com/Content/Images/menos.svg" alt="">
                            </a>
                            <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" data-input="cantidad" class="col-4 col-md-8 col-lg-8 col-xl-8 pl-0 pr-0 d-block text-center text-bold ValidaNumeral ValidaPasteNumeral js-no-popup">
                            <a class="col-4 col-md-4 col-lg-4 col-xl-4 pl-0 pr-0 mas d-block js-no-popup" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)">
                                <img class="d-block js-no-popup" src="https://www.somosbelcorp.com/Content/Images/mas.svg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-7 col-lg-7 col-xl-7 pl-0 pr-0 flex-grow-1">
                        <a class="boton_Agregalo_home boton_agregar_ofertas boton__agregalo--fichaProducto text-center d-block FichaAgregarProductoBuscador act cartbtn">
                            <i>
                                <img src="/Content/CaminoBrillante/imgs/add_to_cart2.svg" />
                            </i> Agregar
                        </a>
                    </div>
                </div>

                <div class="col-12 pl-0 pr-0 etiqueta_buscador_producto ficha__producto__etiqueta text-center" data-Agregado="DivAgregado">
                    <span class="text-uppercase text-bold d-inline-block">Agregado</span>
                </div>

                <div class="col-12 pl-0 pr-0 etiqueta_buscador_producto ficha__producto__etiqueta text-center" style="display:none;" data-Agregado="DivAgregado">
                    <span class="text-uppercase text-bold d-inline-block">Agregado</span>
                </div>

            </div>

        </div>


</section>


        <div id="boxganancias">
            <h2 class="title">Mis Ganancias</h2>
            <div class="box-right-ganancias">
                <p class="text-bold">Monto de mi pedido C10</p>
                <canvas id="canvas"></canvas>
                <span class="text-bold">Campañas</span>
            </div>
            <div class="box-left-ganancias">

                <div class="box-montos">
                    <p class="text-bold">Ganancia 08</p>
                    <img src="https://s3.amazonaws.com/somosbelcorpqa/Iconos/CAMINOBRILLANTE/BENEFICIOS/pago_diferido.svg">
                    <span>S/ 100.00</span>
                </div>

                <div class="box-montos">
                    <p class="text-bold">Ganancia de periodo</p>
                    <img src="https://s3.amazonaws.com/somosbelcorpqa/Iconos/CAMINOBRILLANTE/BENEFICIOS/pago_diferido.svg">
                    <span> S/ 100.00</span>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>



        @*<script src="~/Scripts/jquery-1.11.2.js"></script>*@
        <script src="~/Scripts/Chart.min.js"></script>

    </div>


@section scripts{
    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/bootstrap")
    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/CaminoBrillante")
}

