@using Portal.Consultoras.Web.Models.CaminoBrillante
@using Portal.Consultoras.Common

@{
    //ViewBag.CaminoBrillante = true;
    Layout = "~/Views/Shared/_MainLayoutResponsive.cshtml";
    var origenPedido = ViewBag.EsMobile ? Constantes.OrigenPedidoWeb.CaminoBrillanteMobilePedido_Carrusel : Constantes.OrigenPedidoWeb.CaminoBrillanteDesktopPedido_Carrusel;
    ViewBag.origenPedido = origenPedido;
}

@section css{
    @System.Web.Optimization.Styles.Render("~/Bundle/Css/CaminoBrillante")
    <style>
        div.content_responsive {
            margin-top: 0px;
        }
    </style>
}
<link href="~/Content/Css/Site/FichaProductoResponsive/ficha-producto-responsive.css" rel="stylesheet" />

<div id="overlayer"><div class="loadingScreen-mensaje"></div></div>
<section data-layout="ubicacionWeb" class="row flex-row ml-0 mr-0 layout__view__breadcrumbs__wrapper mostrarEnDesktop">
    <div class="col-12 pl-0 pr-0 mx-auto layout__view__breadcrumbs">
        <ul class="row flex-row align-items-center ml-0 mr-0 layout__view__lista__breadcrumbs">
            <li class="layout__view__breadcrumb">
                <a id="is-mobile" href="@Url.Action("Index", "Bienvenida", new { area = "Mobile" })" title="Home">Home</a>
                <a id="is-desktop" href="@Url.Action("Index", "Bienvenida")" title="Home">Home</a>

            </li>
            <li class="layout__view__breadcrumb layout__view__breadcrumb--active__view">
                <span class="d-block">Camino Brillante</span>
            </li>
        </ul>
    </div>
</section>

<br />
<div class="container ">
    <h2 class="title">Mi nivel</h2>
    <input type="hidden" id="hfNivelActual" value="@ViewBag.NivelActual" />
    <div id="box-niveles">
        <div id="ProgressBar">
            <div class="Progress medal-@ViewBag.NivelActual"></div>
            @foreach (var nivel in @ViewBag.Niveles as List<NivelCaminoBrillanteModel>)
            {
                var decorador = nivel.EsPasado ? "" : "onclick=\"TagMostrarPopupNivel('" + nivel.DescripcionNivel + "');\" data-toggle=\"modal\" data-target=\"#Nivel_" + nivel.CodigoNivel + "_Bnf\"";
                var estilos = "pt" + nivel.CodigoNivel;
                <span class='point @estilos' @Html.Raw(decorador) onclick='TagClickSeleccionNivel("@nivel.DescripcionNivel")'>
                    <img src=@nivel.UrlImagenNivel>
                    <em>@nivel.DescripcionNivel</em>
                </span>
            }
        </div>
    </div>


    <div class="box-pg-bar">
        <div id="progress-b">
            <div class="progress-barnew">
                <div class="new-bar">
                    <span class="tip-valor">S/1000</span>
                </div>
                <img src="~/Content/CaminoBrillante/imgs/flag.svg" class="flagimg" />
            </div>
            <div class="valor-final">
                <p>S/1000</p>
                <span>Topacio</span>
            </div>

            <p class="etiq-falta">Te falta S/50 para cambiar a <span>Nivel Coral</span></p>
        </div>
    </div>

        @foreach (var nivel in @ViewBag.Niveles as List<NivelCaminoBrillanteModel>)
        {
            if (nivel.EsActual)
            {
                <div class="cont-benf" id="BeneficiosPrincipal">
                    <h2 class='title tit-benef'><img src="@nivel.UrlImagenNivelFull"> Beneficios de @nivel.DescripcionNivel</h2>
                    <div class='box-beneficios' id='BeneficiosPrincipal'>
                        @if (nivel.BeneficiosShow != null)
                        {
                            <div class="boxtog">
                                <ul>
                                    @foreach (var beneficio in nivel.BeneficiosShow as List<NivelCaminoBrillanteModel.BeneficioCaminoBrillanteModel>)
                                    {
                                        <li>
                                            <img src='@beneficio.UrlIcono'>
                                            <div class="txt-benf">
                                                <p class="text-bold">
                                                    @if (string.IsNullOrEmpty(beneficio.Descripcion))
                                                    {
                                                        <span>@beneficio.NombreBeneficio</span>
                                                    }
                                                    else
                                                    {
                                                        @beneficio.NombreBeneficio<span>@beneficio.Descripcion</span>
                                                    }
                                                </p>
                                            </div>
                                        </li>
                                     }
                                </ul>
                            </div>
                        }   
                        @if (nivel.BeneficiosHide != null)
                        {
                            <div class="boxtom">
                                <ul>
                                    @foreach (var beneficio in nivel.BeneficiosHide as List<NivelCaminoBrillanteModel.BeneficioCaminoBrillanteModel>)
                                    {
                                        <li>
                                            <img src='@beneficio.UrlIcono'>
                                            <div class="txt-benf">
                                                <p class="text-bold">
                                                    @if (string.IsNullOrEmpty(beneficio.Descripcion))
                                                    {
                                                        <span>@beneficio.NombreBeneficio</span>
                                                    }
                                                    else
                                                    {
                                                        @beneficio.NombreBeneficio<span>@beneficio.Descripcion</span>
                                                    }
                                                </p>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                    </div>
                    <p class="tog-vermas text-bold">Ver más</p>
                </div>
            }
            else if (!nivel.EsPasado)
            {
                var idModal = "Nivel_" + nivel.CodigoNivel + "_Bnf";
                <div class="modal fade" id='@idModal' tabindex="-1" role="dialog" aria-labelledby="@nivel.DescripcionNivel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <button id="btnCerrarNiveles" type="button" class="close" data-dismiss="modal" aria-label="Close" value="@nivel.DescripcionNivel"><span aria-hidden="true">&times;</span></button>
                            <div class="modal-body pad-center">
                                <div class="indicador-nivel" style="text-align:center; margin-bottom: 20px;">
                                    <center><img id="m_imagen" style="float: unset; max-width: 100px !important;" src="@nivel.UrlImagenNivelFull" /></center>
                                    <div class="left-mod" style="width: 100%; margin-left: 0px; ">
                                        <h2 id="m_titulo" style="color: black; font-size: 20px; font-weight: bold;">@nivel.DescripcionNivel</h2>@ViewBag.Pais
                                        <div class="cont-textLograr">
                                            <p id="m_montoMinimo">
                                                <b>Lo logras con:</b><span style='float: right'>
                                                    @if (nivel.PuntajeAcumulado.HasValue)
                                                    {
                                                        @nivel.Puntaje @Html.Raw(" puntos")
                                                    }
                                                    else
                                                    {
                                                        <em>@ViewBag.SimboloMoneda</em> @Util.DecimalToStringFormat(Convert.ToDecimal(nivel.MontoMinimo), @ViewBag.CodigoISODL)
                                                    }
                                                </span>
                                            </p>
                                            @if (nivel.MontoFaltante.HasValue)
                                            {
                                                <p id="m_montoFaltante"><b>Te falta:</b><span style='float: right'>@ViewBag.SimboloMoneda @Util.DecimalToStringFormat(Convert.ToDecimal(nivel.MontoFaltante), @ViewBag.CodigoISODL)</span></p>
                                            }
                                            @if (nivel.PuntajeAcumulado.HasValue)
                                            {
                                                <p id="m_montoFaltante"><b>Tu puntaje es:</b><span style='float: right'>@nivel.PuntajeAcumulado puntos</span></p>
                                            }
                                        </div>
                                        @if (nivel.EnterateMas == 1 || nivel.EnterateMas == 2)
                                        {
                                            <div class="box-enterate">
                                                <a target="_blank" href="@Url.Action("EnterateMas", "CaminoBrillante", new { nivel = nivel.CodigoNivel  })">Entérate más</a>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <h4 class="subtitle text-center">Conoce los beneficios:</h4>
                                <ul class="box-beneficios two-colums" id="ListaBeneficios">
                                    @foreach (var beneficio in nivel.Beneficios as List<NivelCaminoBrillanteModel.BeneficioCaminoBrillanteModel>)
                                    {
                                        <li>
                                            <img src='@beneficio.UrlIcono'>
                                            <div class="txt-benf">
                                                <p class="text-bold">
                                                    @if (string.IsNullOrEmpty(beneficio.Descripcion))
                                                    {
                                                        <span>@beneficio.NombreBeneficio</span>
                                                    }
                                                    else
                                                    {
                                                        @beneficio.NombreBeneficio<span>@beneficio.Descripcion</span>
                                                    }
                                                </p>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

    @if (ViewBag.TieneOfertasEspeciales)
    {
        if (ViewBag.TieneCarrusel == "1")
        {
            <div class="ficha" data-item="CarruselFichasProductos"></div>
            <div class="camino_brillante">
                <div class="camino_brillante" data-estrategia="{{JSON2string this}}">  </div>
                <div id="carrusel" style="margin-top:25px;"></div>
                @Html.Partial("Partial/template_kit")
                @Html.Partial("Partial/template_demostrador")
                <script id="template-carrusel" type="text/x-handlebars-template">
                    <div class="box-kit-demos">

                        <h2 class="title fleft">Kits y demostradores</h2>
                        {{#if VerMas}}
                        <a href="@Url.Action("Ofertas", "CaminoBrillante")" class="ver-todos">Ver todos</a>
                        {{/if}}
                        <div class="clear"></div>

                        <section class="regular slider">
                            {{#each Items}}
                            <div class="revistadigital-landing">
                                {{#iff TipoOferta '==' 2}}
                                {{> demostrador_template}}
                                {{/iff}}
                                {{#iff TipoOferta '==' 1}}
                                {{> kit_template}}
                                {{/iff}}
                            </div>
                            {{/each}}
                        </section>
                    </div>
                </script>
            </div>
        }
        else
        {
            <a id="OfertasEspeciales" href="@Url.Action("Ofertas", "CaminoBrillante")" class="btn-principal">Ver ofertas</a>
        }
    }

        @if (ViewBag.ResumenLogros != null)
        {
            var logro = ViewBag.ResumenLogros as LogroCaminoBrillanteModel;
            <div id="cont-logros" class="cont-logros">
                <h2 class="title" id="TituloLogros">@logro.Titulo</h2>
                <div class="boxcenter">
                    <div class="owl-carousel owl-crec" id="Carusel-Logros">

                        @foreach (var indicador in logro.Indicadores)
                        {
                            <div class="item">
                                <input type="hidden" value="@indicador.Titulo" />
                                <div class="shad box-@indicador.Titulo">
                                    <p class="text-bold">@indicador.Titulo</p>
                                    <span class="text-down">@indicador.Descripcion</span>
                                    <ul class="list-crec">
                                        @foreach (var medalla in indicador.Medallas)
                                        {
                                            <li>
                                                @if (medalla.Tipo == Constantes.CaminoBrillante.Logros.Indicadores.Medallas.Codes.CIRC)
                                                {
                                                    var decorator = medalla.Estado ? "crec-activo" : "crec-inactivo";
                                                    <div class="circle-porcent @decorator">
                                                        <span>@medalla.Valor</span>
                                                    </div>
                                                }
                                                else if (medalla.Tipo == Constantes.CaminoBrillante.Logros.Indicadores.Medallas.Codes.PIE
                                                    || medalla.Tipo == Constantes.CaminoBrillante.Logros.Indicadores.Medallas.Codes.PED
                                                    || medalla.Tipo == Constantes.CaminoBrillante.Logros.Indicadores.Medallas.Codes.TIM)
                                                {
                                                    <img src="@medalla.UrlMedalla" />
                                                }
                                                <p>@medalla.Titulo</p>
                                            </li>
                                        }
                                    </ul>
                                    <a onclick="TagVerTodos('@indicador.Codigo')" href="@Url.Action("Logros", "CaminoBrillante", new { opcion = indicador.Codigo })" class="btn-link">Ver todos</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }

    @if (ViewBag.TieneGanancias == "1")
    {
        <div id="boxganancias">
            <h2 class="title">Mis ganancias</h2>
            <div class="box-right-ganancias">
                <p id="titulo-ganancia" class="text-bold"></p>
                <canvas id="canvas"></canvas>
                <span id="titulo-subtitulo" class="text-bold"></span>
            </div>
            <div class="box-left-ganancias">
                <div class="box-montos">
                    <p id="ganancia-campania-nombre" class="text-bold"></p>
                    <img src="https://s3.amazonaws.com/somosbelcorpqa/Iconos/CAMINOBRILLANTE/BENEFICIOS/pago_diferido.svg">
                    <span id="ganancia-campania"></span>
                </div>
                <div class="box-montos">
                    <p class="text-bold">Ganancia de periodo</p>
                    <img src="https://s3.amazonaws.com/somosbelcorpqa/Iconos/CAMINOBRILLANTE/BENEFICIOS/pago_diferido.svg">
                    <span id="ganancia-periodo"></span>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    }
</div>

@section scripts{
    <script>
    var urlGetCarrusel = '@Url.Action("GetCarruselCaminoBrillante", "CaminoBrillante")';
    var urlGetMisGanancias = '@Url.Action("GetMisGanancias", "CaminoBrillante")';
    var urlAgregarUnico = '@Url.Action("PedidoAgregarProductoTransaction", "PedidoRegistro", new { area = "" })';
    var _origenPedidoWeb = '@Constantes.OrigenPedidoWeb.CaminoBrillanteDesktopPedido';
        var TineCarrusel = '@ViewBag.TieneCarrusel';
        var TieneGanancias = '@ViewBag.TieneGanancias';
    </script>
    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/bootstrap")
    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/CaminoBrillante")
    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/CaminoBrillante/Carrusel")
    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/CaminoBrillante/Ganancias")
}
