
@{
    Layout = "~/Views/Shared/_MainLayoutResponsive.cshtml";
    ViewBag.Title = ViewBag.Vista;
    var data = ViewBag.Informacion;
}

<link href="~/Content/CaminoBrillante/css/estilos.css" rel="stylesheet" />
<br />


<div class="container">

    <h2 class="title">@data.Titulo</h2>

    <div class="contain-camb">

        @for (int i = 0; i < data.Indicadores.Length; i++)
        {
            <div class="box-camb">
                <p class="text-bold">@data.Indicadores[i].Titulo</p>
                <div class="cambio-crec">
                    @{
                        var NombreModal = 1;
                    }

                    @foreach (var item2 in data.Indicadores[i].Medallas)
                    {



                        if (item2 != null)
                        {

                            <div class="itm">

                                @if (item2.Tipo == "PIE")
                                {
                                    string[] torta = item2.Valor.Split('-');
                                    var imagen = torta[1].PadLeft(2, '0') + "_" + torta[2].PadLeft(2, '0') + ".svg";
                                    <div class="circle-porcent imgpizz">
                                        <img src="~/Content/CaminoBrillante/imgs/PIZZA_@imagen" />
                                    </div>
                                }
                                else if (item2.Tipo == "CIRC")
                                {
                                    string Estilo = item2.Estado ? "crec-activo" : "crec-inactivo";
                                    <div class="circle-porcent @Estilo">
                                        <span>@item2.Valor</span>
                                    </div>
                                }
                                else if (item2.Tipo == "NIV")
                                {
                                    if (Portal.Consultoras.Common.Constantes.CaminoBrillante.Niveles.Iconos.Keys.Contains((string)item2.Valor))
                                    {
                                        int estado = item2.Estado ? 1 : 0;
                                        <div class="circle-porcent imgpizz">
                                            <img src='@Portal.Consultoras.Common.Constantes.CaminoBrillante.Niveles.Iconos[(string)item2.Valor][estado]'>
                                        </div>
                                    }
                                    else
                                    {
                                        <img src=''>
                                    }
                                }
                                else if (item2.Tipo == "PED")
                                {
                                    if (item2.Estado)
                                    {
                                        <img src="~/Content/CaminoBrillante/imgs/pedido_activo.svg" />
                                    }
                                    else
                                    {
                                        <img src="~/Content/CaminoBrillante/imgs/pedido_desactivo.svg" />
                                    }
                                }
                                else if (item2.Tipo == "TIME")
                                {
                                    if (item2.Estado)
                                    {
                                        <img src="~/Content/CaminoBrillante/imgs/Tiempojuntos_activo.svg" />
                                    }
                                    else
                                    {
                                        <img src="~/Content/CaminoBrillante/imgs/Tiempojuntos_inactivo.svg" />
                                    }
                                }

                                @if (item2.Tipo != "NIV")
                                {
                                    <a href="#" class="inactivo">@item2.Titulo</a>
                                }

                                @if (@item2.Subtitulo == "¡Ya lo tienes!")
                                {
                                    <span class="como-log inactivo">@item2.Subtitulo</span>
                                }
                                else
                                {
                                    <span data-toggle="modal" data-target="#Modal-@data.Indicadores[i].Codigo-@NombreModal" class="como-log">@item2.Subtitulo</span>

                                    if (@item2.ModalTitulo != null && item2.ModalDescripcion != null)
                                    {
                                        <div class="modal fade" id="Modal-@data.Indicadores[i].Codigo-@NombreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <div class="modal-body pad-center">
                                                        <div class="indicador-nivel">
                                                            @if (item2.Tipo == "PED")
                                                            {
                                                                <div class="circle-porcent imgpizz">
                                                                    <img src="~/Content/CaminoBrillante/imgs/pedido_activo.svg" />
                                                                </div>
                                                            }
                                                            else if (item2.Tipo == "PIE")
                                                            {
                                                                string[] torta = item2.Valor.Split('-');
                                                                var imagen = torta[1].PadLeft(2, '0') + "_" + torta[2].PadLeft(2, '0') + ".svg";
                                                                <div class="circle-porcent imgpizz">
                                                                    <img src="~/Content/CaminoBrillante/imgs/PIZZA_@imagen" />
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="circle-porcent crec-activo doble">
                                                                    <span>@item2.Valor</span>
                                                                </div>
                                                            }
                                                            <div class="left-mod">
                                                                <h2>@item2.ModalTitulo</h2>
                                                                <p>@item2.ModalDescripcion</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        }
                        NombreModal = NombreModal + 1;
                    }
                </div>
            </div>
        }
    </div>
</div>


<script src="~/Scripts/jquery-1.11.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>