@using Portal.Consultoras.Web.Models.CaminoBrillante
@using Portal.Consultoras.Common
@{
    //ViewBag.CaminoBrillante = true;
    Layout = "~/Views/Shared/_MainLayoutResponsive.cshtml";
    var data = ViewBag.Informacion;
    var categoria = ViewBag.Vista;
    data = new { Titulo = "Logros" };
    //data.Titulo = "Logros";

}

@section css{

    <link href="~/Content/CaminoBrillante/css/estilos.css" rel="stylesheet" />
    <style>
        div.content_responsive {
            margin-top: 0px;
        }
    </style>
}

<section data-layout="ubicacionWeb" class="row flex-row ml-0 mr-0 layout__view__breadcrumbs__wrapper mostrarEnDesktop">
    <div class="col-12 pl-0 pr-0 mx-auto layout__view__breadcrumbs">
        <ul class="row flex-row align-items-center ml-0 mr-0 layout__view__lista__breadcrumbs">
            <li class="layout__view__breadcrumb">
                <a id="is-mobile" href="@Url.Action("Index", "Bienvenida", new { area = "Mobile" })" title="Home">Home</a>
                <a id="is-desktop" href="@Url.Action("Index", "Bienvenida")" title="Home">Home</a>
            </li>
            <li class="layout__view__breadcrumb">
                <a href="@Url.Action("Index", "CaminoBrillante")" class="d-block" title="CaminoBrillante">Camino Brillante</a>
            </li>
            <li class="layout__view__breadcrumb layout__view__breadcrumb--active__view">
                <span class="d-block">@ViewBag.Vista</span>
            </li>
        </ul>
    </div>
</section>

<br />

<div class="top-boxlogros">
    <div class="foto_perfil_home">
        <img id="imgFotoUsuario" src="@ViewBag.FotoPerfil">
    </div>

    <span class="top-anios"><img src="~/Content/CaminoBrillante/imgs/corazon.png">10 años</span>
    <p class="frase-logros">¡Gracias por este tiempo</p>

    <ul class="bar-logros">
        <li>
            <span>Escala Máxima</span>
            <p>25%</p>
        </li>
        <li>
            <span>Constancia del periodo</span>
            <p>5 de 6</p>
        </li>
        <li>
            <span>Incremento Máximo</span>
            <p>25%</p>
        </li>
    </ul>

</div>

<div class="container" id="logros">



</div>
<br />

<script id="template-logros" type="text/x-handlebars-template">
    {{#each this}}
    {{#if_eq Id 'RESUMEN'}}
    <div class="top-boxlogros">
        <div class="foto_perfil_home">
            <img id="imgFotoUsuario" src="@ViewBag.FotoPerfil">
        </div>
        {{#each Indicadores}}
        <span class="top-anios"><img src="~/Content/CaminoBrillante/imgs/corazon.png">{{Titulo}}</span>
        <p class="frase-logros">{{Descripcion}}</p>
        <ul class="bar-logros">
            {{#each Medallas }}
            <li>
                <span>{{Titulo}}</span>
                <p>{{Valor}}</p>
            </li>
            {{/each}}
        </ul>
        {{/each}}
    </div>
    {{else if_eq Id 'CONSTANCIA_DETALLADA'}}
    <div class="container cambio-crec logreg">
        <p class="text-bold">Constancia del periodo: C04 a C09</p>
        <section class="regular  slider">
            {{#each Indicadores}}
            <div>
                <p class="text-bold">{{Titulo}}</p>
                {{#each Medallas }}
                <div class="itm">
                    <div class="bord circle-porcent crec-activo">
                        <span>{{Valor}}</span>
                    </div>
                    <span class="como-log inactivo">{{Valor}}</span>
                </div>
                {{/each}}
            </div>
            {{/each}}
        </section>
    </div>
    {{else}}


    {{#each Indicadores}}
    <div class="container box-incremento mo-3 deskshow">
        <p class="text-bold">{{Titulo}}</p>
        <div class="cambio-crec">
            {{#each Medallas }}
            {{#if_eq Tipo 'PIE'}}
            <h1>NIV {{Titulo}} {{Subtitulo}}  :PPPP </h1>

            {{else if_eq Tipo 'NIV'}}
            <h1></h1>




            <div class="itm">
                {{#if_eq Tipo 'CIRC'}}
                <div class="circle-porcent {{#if Estado}}crec-activo{{else}}bord crec-inactivo{{/if}}">
                    <span>{{Valor}}</span>
                </div>
                {{/if_eq}}
                {{#if_eq Tipo 'NIV'}}
                {{else}}
                <a href="#" class="inactivo"></a>
                {{/if_eq}}
                {{#if Estado}}
                <span class="como-log inactivo"></span>
                {{else}}
                <span data-toggle="modal" class=" como-log {{#IsNullOrEmpty ModalTitulo}}{{#IsNullOrEmpty ModalDescripcion}}inactivo{{/IsNullOrEmpty}}{{/IsNullOrEmpty}}"
                      {{#IsNullOrEmpty ModalTitulo '!='}} {{#IsNullOrEmpty ModalDescripcion '!='}}
                      data-target="#medalla-{{../Codigo}}-{{@Html.Raw("@index")}}"
                      onclick="ComoLograrlo('@Html.Raw(data.Titulo)','{{../Titulo}}','{{ModalTitulo}}','{{ModalDescripcion}}')"
                      {{/IsNullOrEmpty}} {{/IsNullOrEmpty}}>{{Subtitulo}}</span>
                {{#IsNullOrEmpty ModalTitulo '!='}}
                {{#IsNullOrEmpty ModalDescripcion '!='}}
                <div class="modal fade" id="medalla-{{../Codigo}}-{{@Html.Raw("@index")}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" onloadeddata="PopupComoLograrlo('@Html.Raw(data.Titulo)','{{Titulo}}')">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="CerrarComoLograrlo('@Html.Raw(data.Titulo)','{{../Titulo}}','{{ModalTitulo}}')">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="modal-body pad-center">
                                <div class="indicador-nivel">
                                    {{#if_eq Tipo 'PIE'}}
                                    <div class="circle-porcent imgpizz crec-activo">
                                        <img src="{{UrlMedallaFull}}" />
                                    </div>
                                    {{else if_eq Tipo 'CIRC'}}
                                    <div class="circle-porcent crec-activo">
                                        <span>{{Valor}}</span>
                                    </div>
                                    {{else if_eq Tipo 'NIV'}}
                                    <div class="circle-porcent imgpizz crec-activo">
                                        <img src='{{UrlMedallaFull}}'>
                                    </div>
                                    {{else if_eq Tipo 'PED'}}
                                    <div class="circle-porcent imgpizz crec-activo">
                                        <img src="{{UrlMedallaFull}}" />
                                    </div>
                                    {{else if_eq Tipo 'TIME'}}
                                    <div class="circle-porcent imgpizz crec-activo">
                                        <img src="{{UrlMedallaFull}}" />
                                    </div>
                                    {{/if_eq}}
                                    <div class="left-mod">
                                        <h2>{{ModalTitulo}}</h2>
                                        <p>{{{ModalDescripcion}}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/IsNullOrEmpty}}
                {{/IsNullOrEmpty}}
                {{/if}}
            </div>


            {{/if_eq}}

            {{/each}}
        </div>
    </div>
    {{/each}}

    {{/if_eq}}
    {{/each}}
</script>



<hr />

<div class="container">



    <div class="box-camb mo-1">
        <p class="text-bold">Cambio de escala</p>
        <div class="cambio-crec">

            <div class="itm bigitem">
                <div class="bord circle-porcent crec-activo">
                    <span>20%</span>
                </div>

                <a href="#" class="inactivo"></a>

                <span class="como-log inactivo">¡Ya lo tienes!</span>
            </div>
            <div class="right-m ">
                <div class="itm">
                    <div class="bord circle-porcent crec-activo">
                        <span>25%</span>
                    </div>

                    <a href="#" class="inactivo"></a>

                    <span class="como-log inactivo">¡Ya lo tienes!</span>
                </div>

                <div class="itm">
                    <div class="bord circle-porcent crec-inactivo">
                        <span>28%</span>
                    </div>

                    <a href="#" class="inactivo"></a>

                    <span data-toggle="modal" class=" como-log " data-target="#medalla-ESCALA-2" onclick="ComoLograrlo('Crecimiento','Cambio de escala','Cambio de escala 28%','Pasa un monto de pedido superior a <b>Bs 757.99</b>')">¿Cómo lograrlo?</span>
                    <div class="modal fade" id="medalla-ESCALA-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" onloadeddata="PopupComoLograrlo('Crecimiento','')">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="CerrarComoLograrlo('Crecimiento','Cambio de escala','Cambio de escala 28%')">
                                    <span aria-hidden="true">×</span>
                                </button>
                                <div class="modal-body pad-center">
                                    <div class="indicador-nivel">
                                        <div class="circle-porcent crec-activo">
                                            <span>28%</span>
                                        </div>
                                        <div class="left-mod">
                                            <h2>Cambio de escala 28%</h2>
                                            <p>Pasa un monto de pedido superior a <b>Bs 757.99</b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="itm">
                    <div class="bord circle-porcent crec-inactivo">
                        <span>30%</span>
                    </div>

                    <a href="#" class="inactivo"></a>

                    <span data-toggle="modal" class=" como-log " data-target="#medalla-ESCALA-3" onclick="ComoLograrlo('Crecimiento','Cambio de escala','Cambio de escala 30%','Pasa un monto de pedido superior a <b>Bs 1,384.99</b>')">¿Cómo lograrlo?</span>
                    <div class="modal fade" id="medalla-ESCALA-3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" onloadeddata="PopupComoLograrlo('Crecimiento','')">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="CerrarComoLograrlo('Crecimiento','Cambio de escala','Cambio de escala 30%')">
                                    <span aria-hidden="true">×</span>
                                </button>
                                <div class="modal-body pad-center">
                                    <div class="indicador-nivel">
                                        <div class="circle-porcent crec-activo">
                                            <span>30%</span>
                                        </div>
                                        <div class="left-mod">
                                            <h2>Cambio de escala 30%</h2>
                                            <p>Pasa un monto de pedido superior a <b>Bs 1,384.99</b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="itm">
                    <div class="bord circle-porcent crec-inactivo">
                        <span>35%</span>
                    </div>

                    <a href="#" class="inactivo"></a>

                    <span data-toggle="modal" class=" como-log " data-target="#medalla-ESCALA-4" onclick="ComoLograrlo('Crecimiento','Cambio de escala','Cambio de escala 35%','Pasa un monto de pedido superior a <b>Bs 2,428.99</b>')">¿Cómo lograrlo?</span>
                    <div class="modal fade" id="medalla-ESCALA-4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" onloadeddata="PopupComoLograrlo('Crecimiento','')">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="CerrarComoLograrlo('Crecimiento','Cambio de escala','Cambio de escala 35%')">
                                    <span aria-hidden="true">×</span>
                                </button>
                                <div class="modal-body pad-center">
                                    <div class="indicador-nivel">
                                        <div class="circle-porcent crec-activo">
                                            <span>35%</span>
                                        </div>
                                        <div class="left-mod">
                                            <h2>Cambio de escala 35%</h2>
                                            <p>Pasa un monto de pedido superior a <b>Bs 2,428.99</b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="box-camb mo-2">
        <p class="text-bold">Cambio de escala</p>
        <div class="cambio-crec">
            <section class="regular  slider">
                <div>
                    <div class="bigitem">
                        <div class="itm">
                            <div class="bord circle-porcent crec-activo">
                                <span>C02</span>
                            </div>
                            <span class="como-log inactivo">C02</span>
                        </div>
                    </div>
                    <div class="right-m">
                        <div class="itm">
                            <div class="bord circle-porcent crec-activo">
                                <span>C02</span>
                            </div>
                            <span class="como-log inactivo">C02</span>
                        </div>
                        <div class="itm">
                            <div class="bord circle-porcent crec-activo">
                                <span>C02</span>
                            </div>
                            <span class="como-log inactivo">C03</span>
                        </div>
                        <div class="itm">
                            <div class="bord circle-porcent crec-activo">
                                <span>C01</span>
                            </div>
                            <span class="como-log inactivo">C04</span>
                        </div>
                        <div class="itm">
                            <div class="bord circle-porcent crec-activo">
                                <span>C02</span>
                            </div>
                            <span class="como-log inactivo">C05</span>
                        </div>
                        <div class="itm">
                            <div class="bord circle-porcent crec-activo">
                                <span>C02</span>
                            </div>
                            <span class="como-log inactivo">C06</span>
                        </div>

                    </div>
                </div>
                <div>
                    <div class="itm">
                        <img src="~/Content/CaminoBrillante/imgs/activo.svg" />
                    </div>
                    <div class="itm">
                        <img src="~/Content/CaminoBrillante/imgs/activo.svg" />
                    </div>
                    <div class="itm">
                        <img src="~/Content/CaminoBrillante/imgs/activo.svg" />
                    </div>
                    <div class="itm">
                        <img src="~/Content/CaminoBrillante/imgs/activo.svg" />
                    </div>
                    <div class="itm">
                        <img src="~/Content/CaminoBrillante/imgs/activo.svg" />
                    </div>
                    <div class="itm">
                        <img src="~/Content/CaminoBrillante/imgs/activo.svg" />
                    </div>
                </div>
            </section>


        </div>
    </div>

    <div class="clear"></div>
</div>


<div class="container box-incremento mo-3 deskshow">
    <p class="text-bold">Constancia del periodo: <span>C04 a C09</span></p>
    <div class="cambio-crec">
        <div class="itm">
            <div class=" circle-porcent crec-activo">
                <span>C01</span>
            </div>
            <span class="como-log inactivo">C01</span>
        </div>
        <div class="itm">
            <div class="bord circle-porcent crec-activo">
                <span>C02</span>
            </div>
            <span class="como-log inactivo">C02</span>
        </div>
        <div class="itm">
            <div class="bord circle-porcent crec-activo">
                <span>C02</span>
            </div>
            <span class="como-log inactivo">C03</span>
        </div>
        <div class="itm">
            <div class="bord circle-porcent crec-activo">
                <span>C01</span>
            </div>
            <span class="como-log inactivo">C04</span>
        </div>
        <div class="itm">
            <div class="bord circle-porcent crec-activo">
                <span>C02</span>
            </div>
            <span class="como-log inactivo">C05</span>
        </div>
        <div class="itm">
            <div class="bord circle-porcent crec-activo">
                <span>C02</span>
            </div>
            <span class="como-log inactivo">C06</span>
        </div>


    </div>
</div>


<div class="container cambio-crec mo-3 movshow">
    <p class="text-bold">Constancia del periodo: <span>C04 a C09</span></p>
    <div class="cambio-crec">
        <div class="bigitem">
            <div class="itm">
                <div class="bord circle-porcent crec-activo">
                    <span>C02</span>
                </div>
                <span class="como-log inactivo">C02</span>
            </div>
        </div>
        <div class="right-m">
            <div class="itm">
                <div class="bord circle-porcent crec-activo">
                    <span>C02</span>
                </div>
                <span class="como-log inactivo">C02</span>
            </div>
            <div class="itm">
                <div class="bord circle-porcent crec-activo">
                    <span>C02</span>
                </div>
                <span class="como-log inactivo">C03</span>
            </div>
            <div class="itm">
                <div class="bord circle-porcent crec-activo">
                    <span>C01</span>
                </div>
                <span class="como-log inactivo">C04</span>
            </div>
            <div class="itm">
                <div class="bord circle-porcent crec-activo">
                    <span>C02</span>
                </div>
                <span class="como-log inactivo">C05</span>
            </div>
            <div class="itm">
                <div class="bord circle-porcent crec-activo">
                    <span>C02</span>
                </div>
                <span class="como-log inactivo">C06</span>
            </div>

        </div>
    </div>
</div>


@section scripts{
    <script>
        var urlGetLogros = '@Url.Action("GetLogros", "CaminoBrillante")';
        var categoriaLogro = "@categoria";
    </script>

    <script>
        $(document).on('ready', function () {

            //$('.carousel').carousel({
            //    interval: 1000,
            //    pause: false,
            //    interval: false
            //});

            $(".regular").slick({
                dots: false,
                infinite: false,
                slidesToShow: 1,
                slidesToScroll: 1,
                //initialSlide: 2,
                prevArrow: '<a style="display: block;left: 0;margin-left: -3%; top: 40%;"><img src="' + baseUrl + 'Content/Images/PL20/left_black_compra.png")" alt="" class="icono_clase_control_color_dinamico"/></a>',
                nextArrow: '<a style="display: block;right: 0;margin-right: 2%; text-align:right;  top: 40%;"><img src="' + baseUrl + 'Content/Images/PL20/right_black_compra.png")" alt="" class="icono_clase_control_color_dinamico"/></a>',
                responsive: [
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            prevArrow: '<a style="display: block;left: 0;margin-left: -4%; top: 40%;"><img src="' + baseUrl + 'Content/Images/PL20/left_black_compra.png")" alt="" class="icono_clase_control_color_dinamico"/></a>',
                            nextArrow: '<a style="display: block;right: 0;margin-right: 0%; text-align:right;  top: 40%;"><img src="' + baseUrl + 'Content/Images/PL20/right_black_compra.png")" alt="" class="icono_clase_control_color_dinamico"/></a>',
                        }
                    }
                ]
            });
        });
    </script>

    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/bootstrap")
    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/CaminoBrillante/logros")

}
