
@{
    ViewBag.Title = "Crecimiento";
    var data = ViewBag.Informacion;
}


<link href="~/Content/CaminoBrillante/css/estilos.css" rel="stylesheet" />
<br />


<div class="container">

    <h2 class="title">@data.Titulo</h2>

    <div class="contain-camb">

        @for (int i = 0; i < data.Indicadores.Length; i++)
        {
            <div class="box-camb">
                <p class="text-bold">@data.Indicadores[i].Titulo</p>
                <div class="cambio-crec">

                    @foreach (var item2 in data.Indicadores[i].Medallas)
                    {
                        if (item2 != null)
                        {

                            <div class="itm">

                                @if (item2.Tipo == "PIE")
                                {
                                    string[] torta = @item2.Valor.Split('-');
                                    var imagen = torta[1].PadLeft(2, '0') + "_" + torta[2].PadLeft(2, '0') + ".svg";


                                    <div class="circle-porcent imgpizz">
                                        <img src="~/Content/CaminoBrillante/imgs/PIZZA_@imagen" />
                                    </div>
                                }
                                else if (item2.Tipo == "CIRC" || item2.Tipo == "NIV")
                                {
                                    if (item2.Estado)
                                    {
                                        string Valor = item2.Valor.Replace("%", "");
                                        string Estilo = Valor.Equals("25") ? "veinticinco" : "cinco";

                                        <div class="circle-porcent @Estilo">
                                            <span>@item2.Valor</span>
                                        </div>
                                    }

                                }
                                else if (item2.Tipo == "PED" || item2.Tipo == "TIME")
                                {
                                    if (item2.Estado)
                                    {
                                        <img src="~/Content/CaminoBrillante/imgs/pedido_activo.svg" />
                                    }
                                    else
                                    {
                                        <img src="~/Content/CaminoBrillante/imgs/pedido_desactivo.svg" />
                                    }
                                }
                                <a href="" class="inactivo">@item2.Titulo</a>
                                <span data-toggle=modal data-target=#ModalPorcentaje class="como-log inactivo">¿Cómo lograrlo?</span>
                            </div>
                        }
                    }
                </div>
            </div>
        }
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="ModalPorcentaje" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body pad-center">
                <div class="indicador-nivel" style="text-align:center; margin-bottom: 20px;">
                    <center>
                        <img id="m_imagen" style="float: unset; max-width: 100px !important;" />
                    </center>
                    <div class="left-mod" style="width: 100%; margin-left: 0px;">
                        <h2 id="m_titulo" style="color: black; font-size: 20px; font-weight: bold;"></h2>
                        <p id="m_montoMinimo"></p>
                    </div>
                </div>
                <h4 class="subtitle text-center">Mis Beneficios</h4>
                <ul class="box-beneficios two-colums" id="ListaBeneficios"></ul>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.11.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>