@using Portal.Consultoras.Web.Models.CaminoBrillante
@using Portal.Consultoras.Common
@{
    //ViewBag.CaminoBrillante = true;
    Layout = "~/Views/Shared/_MainLayoutResponsive.cshtml";
    var data = ViewBag.Informacion;
    var categoria = ViewBag.Vista;
    data = new { Titulo = "Logros" };
    //data.Titulo = "Logros";

}

@section css{
    <link href="~/Content/CaminoBrillante/css/estilos.css" rel="stylesheet" />
    <style>
        div.content_responsive {
            margin-top: 0px;
        }
    </style>
}

<section data-layout="ubicacionWeb" class="row flex-row ml-0 mr-0 layout__view__breadcrumbs__wrapper mostrarEnDesktop">
    <div class="col-12 pl-0 pr-0 mx-auto layout__view__breadcrumbs">
        <ul class="row flex-row align-items-center ml-0 mr-0 layout__view__lista__breadcrumbs">
            <li class="layout__view__breadcrumb">
                <a id="is-mobile" href="@Url.Action("Index", "Bienvenida", new { area = "Mobile" })" title="Home">Home</a>
                <a id="is-desktop" href="@Url.Action("Index", "Bienvenida")" title="Home">Home</a>
            </li>
            <li class="layout__view__breadcrumb">
                <a href="@Url.Action("Index", "CaminoBrillante")" class="d-block" title="CaminoBrillante">Camino Brillante</a>
            </li>
            <li class="layout__view__breadcrumb layout__view__breadcrumb--active__view">
                <span class="d-block">@ViewBag.Vista</span>
            </li>
        </ul>
    </div>
</section>

<br />

<div class="container" id="logros"></div>

<br />
<div class="clear"></div>

<script id="template-logros" type="text/x-handlebars-template">
    {{#each this}}
    {{#if_eq Id 'RESUMEN'}}
    <div class="top-boxlogros">
        <div class="foto_perfil_home"><img id="imgFotoUsuario" src="@ViewBag.FotoPerfil"></div>
        {{#each Indicadores}}
        <span class="top-anios"><img src="~/Content/CaminoBrillante/imgs/corazon.png">{{Titulo}}</span>
        <p class="frase-logros">{{Descripcion}}</p>
        <ul class="bar-logros">{{#each Medallas }}<li><span>{{Titulo}}</span><p>{{Valor}}</p></li>{{/each}}</ul>
        {{/each}}
    </div>
    {{else if_eq Id 'CONSTANCIA_DETALLADA'}}
    <!-- Popups -->
    <div>
        {{#each Indicadores}}
        {{#each Medallas }}
        {{#if Estado}}
        {{else}}
        {{#IsNullOrEmpty ModalTitulo '!='}}
        {{#IsNullOrEmpty ModalDescripcion '!='}}
        <div class="modal fade" id="medalla-{{../Codigo}}-{{@Html.Raw("@index")}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" onloadeddata="PopupComoLograrlo('@Html.Raw(data.Titulo)','{{Titulo}}')">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="CerrarComoLograrlo('@Html.Raw(data.Titulo)','{{../Titulo}}','{{ModalTitulo}}')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-body pad-center">
                        <div class="indicador-nivel">
                            {{#if_eq Tipo 'PIE'}}
                            <div class="circle-porcent imgpizz crec-activo">
                                <img src="{{UrlMedallaFull}}" />
                            </div>
                            {{else if_eq Tipo 'CIRC'}}
                            <div class="circle-porcent crec-activo">
                                <span>{{Valor}}</span>
                            </div>
                            {{else if_eq Tipo 'NIV'}}
                            <div class="circle-porcent imgpizz crec-activo">
                                <img src='{{UrlMedallaFull}}'>
                            </div>
                            {{else if_eq Tipo 'PED'}}
                            <div class="circle-porcent imgpizz crec-activo">
                                <img src="{{UrlMedallaFull}}" />
                            </div>
                            {{else if_eq Tipo 'TIME'}}
                            <div class="circle-porcent imgpizz crec-activo">
                                <img src="{{UrlMedallaFull}}" />
                            </div>
                            {{/if_eq}}
                            <div class="left-mod">
                                <h2>{{ModalTitulo}}</h2>
                                <p>{{{ModalDescripcion}}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/IsNullOrEmpty}}
        {{/IsNullOrEmpty}}
        {{/if}}
        {{/each}}
        {{/each}}
    </div>
    <!-- Desktop -->
    <div class="box-camb mo-2 deskshow">
        <div class="cambio-crec">
            <section class="regular  slider">
                
                {{#each Indicadores}}
                <div class="right-m">
                    <p id="indicador-title" class="text-bold _hide">{{../Titulo}} {{Titulo}}</p>
                    {{#each Medallas }}
                    <div class="itm">
                        <div class="circle-porcent imgpizz">
                            <img src="{{UrlMedalla}}" />
                        </div>
                        {{#if Estado}}
                        <span class="como-log inactivo">{{Subtitulo}}</span>
                        {{else}}
                        <span data-toggle="modal" class=" como-log {{#IsNullOrEmpty ModalTitulo}}{{#IsNullOrEmpty ModalDescripcion}}inactivo{{/IsNullOrEmpty}}{{/IsNullOrEmpty}}"
                              {{#IsNullOrEmpty ModalTitulo '!='}} {{#IsNullOrEmpty ModalDescripcion '!='}}
                              data-target="#medalla-{{../Codigo}}-{{@Html.Raw("@index")}}"
                              onclick="ComoLograrlo('@Html.Raw(data.Titulo)','{{../Titulo}}','{{ModalTitulo}}','{{ModalDescripcion}}')"
                              {{/IsNullOrEmpty}} {{/IsNullOrEmpty}}>{{Subtitulo}}</span>
                        {{/if}}
                    </div>
                    {{/each}}
                </div>
                {{/each}}
            </section>
        </div>
    </div>
    <!-- Mobile -->
    <div class="box-camb mo-2 movshow">
        <div class="cambio-crec">
            <section class="regular  slider">
                {{#each Indicadores}}
                <div class="right-m">
                    <p id="indicador-title" class="text-bold _hide">{{../Titulo}}  {{Titulo}}</p>
                    {{#if MedallaDestacada}}
                    <span class="como-log inactivo">Último Obtenido</span>
                    <div class="bigitem">
                        <div class="itm">
                            <div class="circle-porcent imgpizz" style="padding:2px">
                                <img style="max-width:inherit" src="{{MedallaDestacada.UrlMedalla}}" />
                            </div>
                        </div>
                    </div>
                    {{else}}
                    <br />
                    {{/if}}
                    <div class="{{#if MedallaDestacada}}right-m{{/if}}">
                        {{#each Medallas }}
                        {{#unless Destacar}}
                        <div class="itm">
                            <div class="circle-porcent imgpizz">
                                <img src="{{UrlMedalla}}" />
                            </div>
                            {{#if Estado}}
                            <span class="como-log inactivo">{{Subtitulo}}</span>
                            {{else}}
                            <span data-toggle="modal" class=" como-log {{#IsNullOrEmpty ModalTitulo}}{{#IsNullOrEmpty ModalDescripcion}}inactivo{{/IsNullOrEmpty}}{{/IsNullOrEmpty}}"
                                  {{#IsNullOrEmpty ModalTitulo '!='}} {{#IsNullOrEmpty ModalDescripcion '!='}}
                                  data-target="#medalla-{{../Codigo}}-{{@Html.Raw("@index")}}"
                                  onclick="ComoLograrlo('@Html.Raw(data.Titulo)','{{../Titulo}}','{{ModalTitulo}}','{{ModalDescripcion}}')"
                                  {{/IsNullOrEmpty}} {{/IsNullOrEmpty}}>{{Subtitulo}}</span>
                            {{/if}}
                        </div>
                        {{/unless}}
                        {{/each}}
                    </div>
                </div>
                {{/each}}
            </section>
        </div>
    </div>
    {{else if_eq Id 'CRECIMIENTO' }}
    <!-- Popups -->
    <div>
        {{#each Indicadores}}
        {{#each Medallas }}
        {{#if Estado}}
        {{else}}
        {{#IsNullOrEmpty ModalTitulo '!='}}
        {{#IsNullOrEmpty ModalDescripcion '!='}}
        <div class="modal fade" id="medalla-{{../Codigo}}-{{@Html.Raw("@index")}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" onloadeddata="PopupComoLograrlo('@Html.Raw(data.Titulo)','{{Titulo}}')">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="CerrarComoLograrlo('@Html.Raw(data.Titulo)','{{../Titulo}}','{{ModalTitulo}}')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-body pad-center">
                        <div class="indicador-nivel">
                            {{#if_eq Tipo 'PIE'}}
                            <div class="circle-porcent imgpizz crec-activo">
                                <img src="{{UrlMedallaFull}}" />
                            </div>
                            {{else if_eq Tipo 'CIRC'}}
                            <div class="circle-porcent crec-activo">
                                <span>{{Valor}}</span>
                            </div>
                            {{else if_eq Tipo 'NIV'}}
                            <div class="circle-porcent imgpizz crec-activo">
                                <img src='{{UrlMedallaFull}}'>
                            </div>
                            {{else if_eq Tipo 'PED'}}
                            <div class="circle-porcent imgpizz crec-activo">
                                <img src="{{UrlMedallaFull}}" />
                            </div>
                            {{else if_eq Tipo 'TIME'}}
                            <div class="circle-porcent imgpizz crec-activo">
                                <img src="{{UrlMedallaFull}}" />
                            </div>
                            {{/if_eq}}
                            <div class="left-mod">
                                <h2>{{ModalTitulo}}</h2>
                                <p>{{{ModalDescripcion}}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/IsNullOrEmpty}}
        {{/IsNullOrEmpty}}
        {{/if}}
        {{/each}}
        {{/each}}
    </div>
    <!-- Desktop -->
    <div>
        {{#each Indicadores}}

        <div class="box-camb mo-1 deskshow">
            <p class="text-bold">{{Titulo}}</p>
            <div class="cambio-crec">
                {{#each Medallas }}
                <div class="itm">
                    {{#if_eq Tipo 'CIRC'}}
                    <div class=" circle-porcent {{#if Estado}}crec-activo  {{else}} bord crec-inactivo{{/if}}"><span>{{Valor}}</span></div>
                    {{/if_eq}}
                    {{#if Estado}}
                    <span class="como-log inactivo">{{Subtitulo}}</span>
                    {{else}}
                    <span data-toggle="modal" class=" como-log {{#IsNullOrEmpty ModalTitulo}}{{#IsNullOrEmpty ModalDescripcion}}inactivo{{/IsNullOrEmpty}}{{/IsNullOrEmpty}}"
                          {{#IsNullOrEmpty ModalTitulo '!='}} {{#IsNullOrEmpty ModalDescripcion '!='}}
                          data-target="#medalla-{{../Codigo}}-{{@Html.Raw("@index")}}"
                          onclick="ComoLograrlo('@Html.Raw(data.Titulo)','{{../Titulo}}','{{ModalTitulo}}','{{ModalDescripcion}}')"
                          {{/IsNullOrEmpty}} {{/IsNullOrEmpty}}>{{Subtitulo}}</span>
                    {{/if}}
                </div>
                {{/each}}
            </div>
        </div>
        {{/each}}
    </div>
    <!-- Mobile -->
    <div>
        {{#each Indicadores}}
        <div class="box-camb mo-1 movshow">
            <p class="text-bold">{{Titulo}}</p>
            {{#if MedallaDestacada}}
            <span class="como-log inactivo">Último Obtenido</span>
            <div class="bigitem">
                <div class="itm">
                    <div class="bord circle-porcent crec-activo">
                        <span>{{MedallaDestacada.Valor}}</span>
                    </div>
                </div>
            </div>
            {{else}}
            <br />
            {{/if}}
            <div class="cambio-crec {{#if MedallaDestacada}}right-m{{/if}}">
                {{#each Medallas }}
                {{#unless Destacar}}
                <div class="itm">
                    {{#if_eq Tipo 'CIRC'}}
                    <div class=" circle-porcent {{#if Estado}}crec-activo {{else}}bord crec-inactivo{{/if}}"><span>{{Valor}}</span></div>
                    {{/if_eq}}
                    {{#if Estado}}
                    <span class="como-log inactivo">{{Subtitulo}}</span>
                    {{else}}
                    <span data-toggle="modal" class=" como-log {{#IsNullOrEmpty ModalTitulo}}{{#IsNullOrEmpty ModalDescripcion}}inactivo{{/IsNullOrEmpty}}{{/IsNullOrEmpty}}"
                          {{#IsNullOrEmpty ModalTitulo '!='}} {{#IsNullOrEmpty ModalDescripcion '!='}}
                          data-target="#medalla-{{../Codigo}}-{{@Html.Raw("@index")}}"
                          onclick="ComoLograrlo('@Html.Raw(data.Titulo)','{{../Titulo}}','{{ModalTitulo}}','{{ModalDescripcion}}')"
                          {{/IsNullOrEmpty}} {{/IsNullOrEmpty}}>{{Subtitulo}}</span>
                    {{/if}}
                </div>
                {{/unless}}
                {{/each}}
            </div>
        </div>
        {{/each}}
    </div>
    {{else}}
    <!-- Popups -->
    <div>
        {{#each Indicadores}}
        {{#each Medallas }}
        {{#if Estado}}
        {{else}}
        {{#IsNullOrEmpty ModalTitulo '!='}}
        {{#IsNullOrEmpty ModalDescripcion '!='}}
        <div class="modal fade" id="medalla-{{../Codigo}}-{{@Html.Raw("@index")}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" onloadeddata="PopupComoLograrlo('@Html.Raw(data.Titulo)','{{Titulo}}')">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="CerrarComoLograrlo('@Html.Raw(data.Titulo)','{{../Titulo}}','{{ModalTitulo}}')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-body pad-center">
                        <div class="indicador-nivel">
                            {{#if_eq Tipo 'PIE'}}
                            <div class="circle-porcent imgpizz crec-activo">
                                <img src="{{UrlMedallaFull}}" />
                            </div>
                            {{else if_eq Tipo 'CIRC'}}
                            <div class="circle-porcent crec-activo">
                                <span>{{Valor}}</span>
                            </div>
                            {{else if_eq Tipo 'NIV'}}
                            <div class="circle-porcent imgpizz crec-activo">
                                <img src='{{UrlMedallaFull}}'>
                            </div>
                            {{else if_eq Tipo 'PED'}}
                            <div class="circle-porcent imgpizz crec-activo">
                                <img src="{{UrlMedallaFull}}" />
                            </div>
                            {{else if_eq Tipo 'TIME'}}
                            <div class="circle-porcent imgpizz crec-activo">
                                <img src="{{UrlMedallaFull}}" />
                            </div>
                            {{/if_eq}}
                            <div class="left-mod">
                                <h2>{{ModalTitulo}}</h2>
                                <p>{{{ModalDescripcion}}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/IsNullOrEmpty}}
        {{/IsNullOrEmpty}}
        {{/if}}
        {{/each}}
        {{/each}}
    </div>
    <!-- Desktop -->
    <div class="container box-incremento mo-3 deskshow">
        {{#each Indicadores}}
        <p class="cambio-crec text-bold">{{Titulo}}</p>
        <div class="cambio-crec">
            {{#each Medallas }}
            <div class="itm">
                {{#if_eq Tipo 'CIRC'}}
                <div class=" circle-porcent {{#if Estado}}crec-activo {{else}}bord crec-inactivo{{/if}}"><span>{{Valor}}</span></div>
                {{/if_eq}}
                {{#if Estado}}
                <span class="como-log inactivo">{{Subtitulo}}</span>
                {{else}}
                <span data-toggle="modal" class=" como-log {{#IsNullOrEmpty ModalTitulo}}{{#IsNullOrEmpty ModalDescripcion}}inactivo{{/IsNullOrEmpty}}{{/IsNullOrEmpty}}"
                      {{#IsNullOrEmpty ModalTitulo '!='}} {{#IsNullOrEmpty ModalDescripcion '!='}}
                      data-target="#medalla-{{../Codigo}}-{{@Html.Raw("@index")}}"
                      onclick="ComoLograrlo('@Html.Raw(data.Titulo)','{{../Titulo}}','{{ModalTitulo}}','{{ModalDescripcion}}')"
                      {{/IsNullOrEmpty}} {{/IsNullOrEmpty}}>{{Subtitulo}}</span>
                {{/if}}
            </div>
            {{/each}}
        </div>
        {{/each}}
    </div>
    <!-- Mobile -->
    <div class="container box-incremento mo-3 movshow">
        {{#each Indicadores}}
        <p class="cambio-crec text-bold">{{Titulo}}</p>
        {{#if MedallaDestacada}}
        <span class="como-log inactivo">Último Obtenido</span>
        <div class="bigitem">
            <div class="itm">
                <div class="bord circle-porcent crec-activo">
                    <span>{{MedallaDestacada.Valor}}</span>
                </div>
            </div>
        </div>
        {{else}}
        <br />
        {{/if}}
        <div class="cambio-crec {{#if MedallaDestacada}}right-m{{/if}}">
            {{#each Medallas }}
            {{#unless Destacar}}
            <div class="itm">
                {{#if_eq Tipo 'CIRC'}}
                <div class=" circle-porcent {{#if Estado}} crec-activo{{else}} bord crec-inactivo{{/if}}"><span>{{Valor}}</span></div>
                {{/if_eq}}
                {{#if Estado}}
                <span class="como-log inactivo">{{Subtitulo}}</span>
                {{else}}
                <span data-toggle="modal" class=" como-log {{#IsNullOrEmpty ModalTitulo}}{{#IsNullOrEmpty ModalDescripcion}}inactivo{{/IsNullOrEmpty}}{{/IsNullOrEmpty}}"
                      {{#IsNullOrEmpty ModalTitulo '!='}} {{#IsNullOrEmpty ModalDescripcion '!='}}
                      data-target="#medalla-{{../Codigo}}-{{@Html.Raw("@index")}}"
                      onclick="ComoLograrlo('@Html.Raw(data.Titulo)','{{../Titulo}}','{{ModalTitulo}}','{{ModalDescripcion}}')"
                      {{/IsNullOrEmpty}} {{/IsNullOrEmpty}}>{{Subtitulo}}</span>
                {{/if}}
            </div>
            {{/unless}}
            {{/each}}
        </div>
        {{/each}}
    </div>
    <div class="clear"></div>
    {{/if_eq}}
    {{/each}}
</script>

@section scripts{
    <script>
        var urlGetLogros = '@Url.Action("GetLogros", "CaminoBrillante")';
        var categoriaLogro = "@categoria";

        function onRenderedTemplate() {
            $(".regular").slick({
                dots: false,
                infinite: false,
                slidesToShow: 1,
                slidesToScroll: 1,
                initialSlide: 4, 
                prevArrow: '<a style="display: block;left: 0;margin-left: -3%; top: 40%;"><img src="' + baseUrl + 'Content/Images/PL20/left_black_compra.png")" alt="" class="icono_clase_control_color_dinamico"/></a>',
                nextArrow: '<a style="display: block;right: 0;margin-right: 2%; text-align:right;  top: 40%;"><img src="' + baseUrl + 'Content/Images/PL20/right_black_compra.png")" alt="" class="icono_clase_control_color_dinamico"/></a>',
                responsive: [
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            prevArrow: '<a style="display: block;left: 0;margin-left: -4%; top: 40%;"><img src="' + baseUrl + 'Content/Images/PL20/left_black_compra.png")" alt="" class="icono_clase_control_color_dinamico"/></a>',
                            nextArrow: '<a style="display: block;right: 0;margin-right: 0%; text-align:right;  top: 40%;"><img src="' + baseUrl + 'Content/Images/PL20/right_black_compra.png")" alt="" class="icono_clase_control_color_dinamico"/></a>',
                        }
                    }
                ]
            });
    }

        $(function () {
            Handlebars.registerHelper('reverse', function (arr) {
                arr.reverse();
                console.log(arr);
            });
        });

    </script>

    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/bootstrap")
    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/CaminoBrillante/logros")
}
