@{
    Layout = "~/Views/Shared/_MainLayoutResponsiveCaminoBrillante.cshtml";
    var Demostradores = ViewBag.Demostradores;
}

<link href="@Url.Content("~/Content/Css/Site/BusquedaProductos/filtros-busqueda.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Css/Site/FichaProductoResponsive/ficha-producto-responsive.css")" rel="stylesheet" />
<link href="~/Content/CaminoBrillante/css/cb-oferta.css" rel="stylesheet" />

<div class="op-menu-horizonta-fixed subbox" data-menu-codigo="" data-layout-menu2="">
    <div class="op-menu-horizontal">
        <ul class="subnavegador" data-es-suscrita="" data-es-activa="">
            <li data-campania="" data-activo="1" data-codigo="" data-es-ancla="">
                <a href="javascript:void(0);" class="default-dorado activado-dorado" id="Tab-kits">Kits</a>
            </li>
            <li data-campania="" data-activo="1" data-codigo="" data-es-ancla="">
                <a href="javascript:void(0);"
                   class="default-dorado" id="Tab-Demostradores">Demostradores</a>
            </li>
        </ul>
    </div>
</div>


<section data-layout="ubicacionWeb" class="row flex-row ml-0 mr-0 layout__view__breadcrumbs__wrapper mostrarEnDesktop">
    <div class="col-12 pl-0 pr-0 mx-auto layout__view__breadcrumbs">
        <ul class="row flex-row align-items-center ml-0 mr-0 layout__view__lista__breadcrumbs">
            <li class="layout__view__breadcrumb">
                <a href="/Bienvenida" class="d-block" title="Home">Home</a>
            </li>

            <li class="layout__view__breadcrumb">
                <a href="/CaminoBrillante" class="d-block" title="CaminoBrillante">Camino Brillante</a>
            </li>
        </ul>
    </div>
</section>

<div class="row flex-row ml-0 mr-0 mx-auto layout__content layout__content--vistaResultadosBusqueda">


    @*<section class="row flex-row justify-content-center align-items-stretch ml-0 mr-0 layout__content__filtros">
            <div class="col-12 pl-0 pr-0 filtros__wrapper">

                <!-- SECCIÓN ETIQUETAS DE CRITERIOS ELEGIDOS EN LOS FILTROS (MOBILE) -->
                <div class="row flex-row align-items-baseline ml-0 mr-0 mostrarEnMobile layout__content__etiquetas__criteriosElegidos layout__content__etiquetas__criteriosElegidosMobile">
                    <ul class="row flex-row ml-0 lista__etiquetas__criteriosElegidos criteriosBuscadorMobile"></ul>
                </div>
                <!-- FIN - SECCIÓN ETIQUETAS DE CRITERIOS ELEGIDOS EN LOS FILTROS (MOBILE) -->
                <div class="col-12 pl-0 pr-0 filtros__subtitulo mostrarEnDesktop">
                    Filtrar por:
                </div>
                <ul class="row flex-row ml-0 mr-0 filtros__lista filtros__lista-handleBar">

                    <li class="col-12 pl-0 pr-0 filtro__tipo">

                        <ul class="row flex-row ml-0 mr-0 filtro__tipo__items">
                            <li class="col-12 pl-0 pr-0 filtro__item" data-item="BuscadorFiltros">
                                <!-- <input type="hidden" class="BuscadorFiltroLabel" value="Ésika">
                                <input type="hidden" class="BuscadorFiltroID" value="mar-esika">
                                <input type="hidden" class="BuscadorSeccionFiltro" value="Marcas"> -->
                                <div class="row flex-row flex-nowrap align-items-center ml-0 mr-0 ">
                                    <input id="Check-kits" checked type="checkbox" class="filtro__item__checkbox buscadorFiltrosChecked"> <!--checked-->

                                    <span class="d-inline-block">Kit</span>

                                </div>
                            </li>
                            <li class="col-12 pl-0 pr-0 filtro__item" data-item="BuscadorFiltros">
                                <!--                    <input type="hidden" class="BuscadorFiltroLabel" value="L'Bel">
                                       <input type="hidden" class="BuscadorFiltroID" value="mar-lbel">
                                       <input type="hidden" class="BuscadorSeccionFiltro" value="Marcas"> -->
                                <div class="row flex-row flex-nowrap align-items-center ml-0 mr-0 ">
                                    <input id="Check-Demostradores" type="checkbox" class="filtro__item__checkbox buscadorFiltrosChecked"> <!--checked-->

                                    <span class="d-inline-block">Demostradores</span>

                                </div>
                            </li>

                        </ul>
                    </li>


                </ul>

            </div>
        </section>*@

    <section class="row flex-row justify-content-lg-between justify-content-xl-between align-self-start ml-0 mr-0 mx-auto layout__content__fichaProductos">
        <section class="col-12 col-lg-6 col-xl-6 busqueda__productos__encontrados__wrapper pr-lg-0 pr-xl-0">
            <br />
            <h1 class="col-12 pl-0 pr-0 busqueda__productos__titulo">
                @*Resultado de Demostradores*@
            </h1>
            <p class="col-12 pl-0 pr-0 busqueda__productos__encontrados">
                @*<span id="TotalProductos" class="busqueda__num__productos__encontrados">Estos son los kits según tu nivel</span>*@
            </p>
        </section>


        @*<section class="col-12 col-lg-6 col-xl-6 lista__opciones__ordenamiento__y__filtrar pl-lg-0 pl-xl-0">
                <div class="row flex-row justify-content-between justify-content-lg-end justify-content-xl-end ml-0 mr-0">

                    <div class="row flex-row ml-0 mr-0 col-12 col-lg-11 col-xl-11 pl-0 pr-0 lista__opcion__wrapper lista__opcion__wrapper--ordenar">
                        <div class="col-12 pl-0 pr-0 opcion__ordenamiento text-lg-right text-xl-right">
                            <label class="col-12 col-lg-4 col-xl-4 pl-0 d-inline-block text-center text-lg-right text-xl-right opcion__ordenamiento__label">
                                Ordenar
                            </label>

                            <div id="dpw-ordenar" class="col-12 col-lg-6 col-xl-6 pl-0 pr-0 d-inline-block opcion__ordenamiento__dropdown text-left">
                                <span class="col-11 opcion__ordenamiento__dropdown__seleccionada mostrarEnDesktop ul-seleccionado">Recomendación</span>
                                <span class="col pl-0 pr-0 opcion__ordenamiento__dropdown__icono mostrarEnDesktop">
                                    <img src="/Content/Images/ordenar-flecha-icono.svg" alt="">
                                </span>
                            </div>

                        </div>
                    </div>
                    <ul id="ul-ordenar" class="col-9 col-md-10 col-lg-6 col-xl-6 pl-0 pr-0 opcion__ordenamiento__dropdown__lista d-none">

                        <li class="col-12 pl-0 pr-0 opcion__ordenamiento__dropdown__item d-block" data-value=" PRECIO-ASC " title="Precio de menor a mayor">
                            <a class="col-12 d-block opcion__ordenamiento__dropdown__link" title="Precio de menor a mayor">
                                Precio de menor a mayor
                            </a>
                        </li>
                        <li class="col-12 pl-0 pr-0 opcion__ordenamiento__dropdown__item d-block" data-value=" PRECIO-DESC " title="Precio de mayor a menor">
                            <a class="col-12 d-block opcion__ordenamiento__dropdown__link" title="Precio de mayor a menor">
                                Precio de mayor a menor
                            </a>
                        </li>
                    </ul>
                </div>
            </section>*@


        @*<section class="tabs-top">
                <ul>
                    <li><a href="" class="activo">Kit</a></li>
                    <li><a href="">Demostradores</a></li>
                </ul>
            </section>*@


        <!-- SECCIÓN ETIQUETAS DE CRITERIOS ELEGIDOS EN LOS FILTROS (DESKTOP) -->
        <!--         <section class="row flex-row align-items-baseline ml-0 mr-0 mx-auto w-100 mostrarEnDesktop layout__content__etiquetas__criteriosElegidos layout__content__etiquetas__criteriosElegidosDesktop" style="display: none">
            <ul class="row flex-row ml-0 lista__etiquetas__criteriosElegidos criteriosBuscadorDesktop"></ul>
            <a title="Limpiar filtros" class="text-right enlace__limpiar__filtros">
                Limpiar filtros
            </a>
        </section> -->
        <!-- FIN - SECCIÓN ETIQUETAS DE CRITERIOS ELEGIDOS EN LOS FILTROS (DESKTOP) -->
        <div id="divresultadosKit">
            @ViewBag.CantidadKit
        </div>
        <section class="col-12 fichas__productos__wrapper text-center" id="kits">

        </section>

        <div id="divresultadosDemostradores" style="display:none;">
            @ViewBag.CantidadDemostradores
        </div>
        <section class="col-12 fichas__productos__wrapper text-center" id="Demostradores" style="display:none;">

        </section>
    </section>
</div>

<script id="template-Kits" type="text/x-handlebars-template">
    {{#each this}}
    <article class="ficha__producto {{#if FlagHabilitado}} {{else}} producto_desactivado {{/if}}" data-item="BuscadorFichasProductos">
        <div class="etiq-producto">
            @*@{var image = "/Content/CaminoBrillante/imgs/Nivel_0" + item.CodigoNivel + ".svg";}*@
            <img src="/Content/CaminoBrillante/imgs/Nivel_0{{CodigoNivel}}.svg"  />
        </div>
        <div class="row flex-row justify-content-center ml-0 mr-0">
            <figure class="col-12 pl-0 pr-0 row flex-row ml-0 mr-0 justify-content-center align-items-end ficha__producto__imagen text-center">
                @*@{
                    var imagenKit = string.IsNullOrEmpty(item.FotoProductoMedium) ? ViewBag.RutaImagenNoDisponible : item.FotoProductoMedium;
                }*@
                {{#IsNullOrEmpty FotoProductoMedium '!='}}
                <img class="lazy redireccionarFicha" src="{{FotoProductoMedium}}">
                {{/IsNullOrEmpty}}
                {{#IsNullOrEmpty FotoProductoMedium '=='}}
                <img class="lazy redireccionarFicha" src="@ViewBag.RutaImagenNoDisponible">
                {{/IsNullOrEmpty}}
               @* <img class="lazy redireccionarFicha" src="@Url.Content(imagenKit)">*@
            </figure>
            <div class="col-12 pl-0 pr-0 ficha__producto__descrip d-block mx-auto text-left">
                <div class="col-12 pl-0 pr-0 ficha__producto__descrip__marca__pais text-uppercase">
                    {{DescripcionMarca}}
                </div>
                <div class="col-12 pl-0 pr-0 ficha__producto__descrip__nom text-bold redireccionarFicha">
                    {{DescripcionCUV}}
                </div>
            </div>
            <div class="row flex-row align-items-end align-items-md-baseline ml-0 mr-0 col-12 pl-0 pr-0 ficha__producto__precio">
                <div>
                    <div style="text-align: left;padding-right: 15px;font-size: 12px;">Precio para ti<br /><b>@ViewBag.Moneda {{PrecioCatalogo}}</b></div>
                </div>
                <div>
                    <div style="font-size: 12px;text-align: left;">Ganancia<br />@ViewBag.Moneda {{Ganancia}}</div>
                </div>
            </div>
            <div class="row flex-row justify-content-between ml-0 mr-0 pl-0 pr-0 ficha__producto__agregar__producto">
                <div class="col-12 col-md col-lg col-xl pl-0 pr-0" style="display:none;">
                    <div class="row flex-row justify-content-between ml-0 mr-0 ficha__producto__rango__cantidad js-no-popup" data-cantidad-contenedor="">
                        <a class="col-4 col-md-4 col-lg-4 col-xl-4 pl-0 pr-0 menos d-block js-no-popup" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)">
                            <img class="d-block js-no-popup" src="https://www.somosbelcorp.com/Content/Images/menos.svg" alt="">
                        </a>
                        <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" data-input="cantidad" class="col-4 col-md-8 col-lg-8 col-xl-8 pl-0 pr-0 d-block text-center text-bold ValidaNumeral ValidaPasteNumeral js-no-popup">
                        <a class="col-4 col-md-4 col-lg-4 col-xl-4 pl-0 pr-0 mas d-block js-no-popup" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)">
                            <img class="d-block js-no-popup" src="https://www.somosbelcorp.com/Content/Images/mas.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-12 col-xl-12 pl-0 pr-0 flex-grow-1">
                    <a class="boton_Agregalo_home boton_agregar_ofertas boton__agregalo--fichaProducto text-center d-block FichaAgregarProductoBuscador act">
                        <i>
                            <img src="@Url.Content("/Content/CaminoBrillante/imgs/add_to_cart2.svg")" />
                        </i> Agregar
                    </a>
                </div>
            </div>
            {{#if FlagSeleccionado}}
            <div class="col-12 pl-0 pr-0 etiqueta_buscador_producto ficha__producto__etiqueta text-center" data-Agregado="DivAgregado">
                <span class="text-uppercase text-bold d-inline-block">Agregado</span>
            </div>
            {{else}}
            <div class="col-12 pl-0 pr-0 etiqueta_buscador_producto ficha__producto__etiqueta text-center" style="display:none;" data-Agregado="DivAgregado">
                <span class="text-uppercase text-bold d-inline-block">Agregado</span>
            </div>
            {{/if}}

            @*@{
                if (FlagSeleccionado)
                {

                }
                else
                {
                    <div class="col-12 pl-0 pr-0 etiqueta_buscador_producto ficha__producto__etiqueta text-center" style="display:none;" data-Agregado="DivAgregado">
                        <span class="text-uppercase text-bold d-inline-block">Agregado</span>
                    </div>
                }
            }*@
        </div>
    </article>
    {{/each}}
</script>

<script id="template-Demostradores" type="text/x-handlebars-template">
    {{#each this}}
    <article class="ficha__producto " data-item="BuscadorFichasProductos">
        <div class="row flex-row justify-content-center ml-0 mr-0">
            <figure class="col-12 pl-0 pr-0 row flex-row ml-0 mr-0 justify-content-center align-items-end ficha__producto__imagen text-center">
                {{#IsNullOrEmpty FotoProductoMedium '!='}}
                <img class="lazy redireccionarFicha" src="{{FotoProductoMedium}}">
                {{/IsNullOrEmpty}}
                {{#IsNullOrEmpty FotoProductoMedium '=='}}
                <img class="lazy redireccionarFicha" src="@ViewBag.RutaImagenNoDisponible">
                {{/IsNullOrEmpty}}
            </figure>
            <div style="display:none;">
                <div data-demostrador="{{JSON2string this}}"></div>
            </div>
            <div class="col-12 pl-0 pr-0 ficha__producto__descrip d-block mx-auto text-left">
                <div class="col-12 pl-0 pr-0 ficha__producto__descrip__marca__pais text-uppercase">
                    {{DescripcionMarca}}
                </div>
                <div class="col-12 pl-0 pr-0 ficha__producto__descrip__nom text-bold redireccionarFicha">
                    {{DescripcionCUV}}
                </div>

            </div>
            @*<div class="row flex-row align-items-end align-items-md-baseline ml-0 mr-0 col-12 pl-0 pr-0 ficha__producto__precio">
                    <div class="ficha__producto__precio__normal text-left">@ViewBag.Moneda @item.PrecioValorizado</div>
                    <div class="ficha__producto__precio__oferta text-bold text-left">@ViewBag.Moneda @item.PrecioCatalogo</div>
                </div>*@
            <div class="row flex-row align-items-end align-items-md-baseline ml-0 mr-0 col-12 pl-0 pr-0 ficha__producto__precio">
                <div>
                    <div style="text-align: left;padding-right: 15px; font-size: 12px;">Precio normal<br /><div style="text-decoration:line-through;">@ViewBag.Moneda {{PrecioValorizado}}</div></div>
                </div>
                <div>
                    <div style="font-size: 12px;text-align: left;">Precio para ti<br /><b> @ViewBag.Moneda {{PrecioCatalogo}}</b></div>
                </div>
            </div>
            <div class="row flex-row justify-content-between ml-0 mr-0 pl-0 pr-0 ficha__producto__agregar__producto">
                <div class="col-12 col-md col-lg col-xl pl-0 pr-0">
                    <div class="row flex-row justify-content-between ml-0 mr-0 ficha__producto__rango__cantidad js-no-popup" data-cantidad-contenedor="">
                        <a class="col-4 col-md-4 col-lg-4 col-xl-4 pl-0 pr-0 menos d-block js-no-popup" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)">
                            <img class="d-block js-no-popup" src="https://www.somosbelcorp.com/Content/Images/menos.svg" alt="">
                        </a>
                        <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" data-input="cantidad" class="col-4 col-md-8 col-lg-8 col-xl-8 pl-0 pr-0 d-block text-center text-bold ValidaNumeral ValidaPasteNumeral js-no-popup">
                        <a class="col-4 col-md-4 col-lg-4 col-xl-4 pl-0 pr-0 mas d-block js-no-popup" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)">
                            <img class="d-block js-no-popup" src="https://www.somosbelcorp.com/Content/Images/mas.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-7 col-lg-7 col-xl-7 pl-0 pr-0 flex-grow-1">
                    <a class="boton_Agregalo_home boton_agregar_ofertas boton__agregalo--fichaProducto text-center d-block FichaAgregarProductoBuscador act cartbtn">
                        <i>
                            <img src="@Url.Content("/Content/CaminoBrillante/imgs/add_to_cart2.svg")" />
                        </i> Agregar
                    </a>
                </div>
            </div>
            <div class="col-12 pl-0 pr-0 etiqueta_buscador_producto ficha__producto__etiqueta text-center" style="display:none;" data-Agregado="DivAgregado">
                <span class="text-uppercase text-bold d-inline-block">Agregado</span>
            </div>
        </div>
    </article>
    {{/each}}
</script>


<script src="https://www.somosbelcorp.com/Bundle/Js/Desktop/JQuery3Js?v=6K-kHHuzTBQeaIUNJP1kR-uZJRJv9nA2SlHvYURb6j41"></script>
<script src="~/Scripts/PortalConsultoras/CaminoBrillante/Ofertas.js"></script>
<script src="~/Scripts/PortalConsultoras/Cliente/Index.js"></script>

@section scripts{
    <script type="text/javascript">
        var urlGetKits = '@Url.Action("GetKits", "CaminoBrillante", new { area = "" })';
        var urlGetDemostradores = '@Url.Action("GetDemostradores", "CaminoBrillante", new { area = "" })';
        var urlAgregarUnico = '@Url.Action("PedidoAgregarProductoTransaction", "PedidoRegistro", new { area = "" })';
        var origenPedidoWeb = 1181901;
    </script>
}