@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Models.CaminoBrillante

@{
    Layout = "~/Views/Shared/_MainLayoutResponsive.cshtml";
    var origenPedido = ViewBag.EsMobile ? Constantes.OrigenPedidoWeb.CaminoBrillanteMobilePedido : Constantes.OrigenPedidoWeb.CaminoBrillanteDesktopPedido;
    ViewBag.origenPedido = origenPedido;
}

<link href="@Url.Content("~/Content/Css/Site/BusquedaProductos/filtros-busqueda.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Css/Site/FichaProductoResponsive/ficha-producto-responsive.css")" rel="stylesheet" />

<link href="~/Content/CaminoBrillante/css/estilos.css" rel="stylesheet" />
<input type="hidden" id="moneda" value="@ViewBag.Moneda">


<div id="popupInformacion" class="MensajeAlertaMobile" style="display:none;">
    <div class="content_mensajeAlerta">
        <a class="cerrar_popMobile" href="javascript:;" onclick="javascript: $('#popupInformacion').hide();">
            <img src="/Content/Images/mobile/Esika/cerrar_04.png" alt="-">
        </a>
        <hr class="clear">
        <div class="icono_alerta exclamacion_icono_mobile"></div>
        <div class="titulo_compartir"><b>IMPORTANTE</b></div>
        <div id="mensajeInformacion" class="mensaje_alerta"></div>
        <a href="javascript:;" onclick="$('#popupInformacion').hide();" class="btn_ok_mobile btn-aceptar"><b>OK</b></a>
    </div>
</div>

<div id="popupInformacion2" class="MensajeAlertaMobile" style="display:none;">
    <div class="content_mensajeAlerta">
        <a class="cerrar_popMobile" href="javascript:;" onclick="javascript: $('#popupInformacion2').hide();">
            <img src="/Content/Images/mobile/Esika/cerrar_04.png" alt="-">
        </a>
        <hr class="clear">
        <div class="icono_alerta exclamacion_icono_mobile"></div>
        <div class="titulo_compartir"><b>IMPORTANTE</b></div>
        <div id="mensajeInformacion2" class="mensaje_alerta"></div>
        <a href="javascript:;" onclick="ModificarPedido2('2');" class="btn_ok_mobile btn-aceptar" style="width:152px;"><b>Modificar mi pedido</b></a>
    </div>
</div>

<div id="popupInformacionValidado" class="MensajeAlertaMobile pedido detalle" style="display:none;">
    <div class="content_mensajeAlerta">
        <a class="cerrar_popMobile" href="javascript:;" onclick="javascript: $('#popupInformacionValidado').hide();">
            <img src="/Content/Images/mobile/Esika/cerrar_04.png" alt="-">
        </a>
        <hr class="clear">
        <div class="icono_alerta exclamacion_icono_mobile" style="display: none;"></div>
        <div class="icono_alerta check_icono_mobile" style="display: none;"></div>
        <div class="contet_alert">
            <div class="titulo_compartir"><b id="bTagTitulo">MENSAJE</b></div>
            <div id="mensajeInformacionvalidado" class="mensaje_alerta"></div>
        </div>
        <a href="javascript:;" onclick="$('#popupInformacionValidado').hide();" class="btn_ok_mobile"><b>OK</b></a>
    </div>
</div>

<div class="subbox" data-menu-codigo="">
    <div class="op-menu-horizontal">
        <ul class="subnavegador" data-es-suscrita="" data-es-activa="">
            <li data-campania="" data-activo="1" data-codigo="" data-es-ancla="">
                <a href="javascript:void(0)" class="default-dorado activado-dorado" id="Tab-kits">Kits</a>
            </li>
            <li data-campania="" data-activo="1" data-codigo="" data-es-ancla="">
                <a class="default-dorado" id="Tab-Demostradores">Demostradores</a>
            </li>
        </ul>
    </div>
</div>

<section data-layout="ubicacionWeb" class="row flex-row ml-0 mr-0 layout__view__breadcrumbs__wrapper mostrarEnDesktop mgtop_responsive">
    <div class="col-12 pl-0 pr-0 mx-auto layout__view__breadcrumbs">
        <ul class="row flex-row align-items-center ml-0 mr-0 layout__view__lista__breadcrumbs">
            <li class="layout__view__breadcrumb">
                <a id="is-mobile" href="@Url.Action("Index", "Bienvenida", new { area = "Mobile" })" title="Home">Home</a>
                <a id="is-desktop" href="@Url.Action("Index", "Bienvenida")" title="Home">Home</a>
            </li>
            <li class="layout__view__breadcrumb">
                <a href="@Url.Action("Index","CaminoBrillante")" class="d-block" title="CaminoBrillante">Camino Brillante</a>
            </li>
        </ul>
    </div>
</section>

<div class="ml-0 mr-0 mx-auto layout__content__fichaProductos clearboth opOrdenar" style="display:none">
    <div>
        <select id="ddlfiltros" class="marca_ept" data-filtro-tipo="fijo" data-filtro-campo="marca"></select>
        <select id="ddlOrdenar" class="marca_ept" data-filtro-tipo="fijo" data-filtro-campo="precio" data-filtro-accion="orden"></select>

    </div>
</div>

<div class="row flex-row ml-0 mr-0 mx-auto layout__content layout__content--vistaResultadosBusqueda">
    <section class="row flex-row justify-content-lg-between justify-content-xl-between align-self-start ml-0 mr-0 mx-auto layout__content__fichaProductos">
        <section class="col-12 col-lg-6 col-xl-6 busqueda__productos__encontrados__wrapper pr-lg-0 pr-xl-0">
            <br />
            <h1 class="col-12 pl-0 pr-0 busqueda__productos__titulo"></h1>
            <p class="col-12 pl-0 pr-0 busqueda__productos__encontrados"></p>
        </section>
        <div id="divresultadosKit">
        </div>
        <section class="col-12 fichas__productos__wrapper text-center" id="kits"></section>

        <div id="divresultadosDemostradores" style="display:none;">
        </div>
        <section class="col-12 fichas__productos__wrapper text-center" id="Demostradores" style="display:none;"></section>
    </section>
</div>

<style>
    .hide {
        display: none;
    }

    .boxgrid {
        display: grid !important;
    }

    #ddlfiltros option, #ddlOrdenar option, #ddlfiltros, #ddlOrdenar {
        text-transform: uppercase;
    }

        #ddlfiltros option, #ddlOrdenar option {
            padding: 4px;
            font-size: 12px;
        }

    #ddlfiltros, #ddlOrdenar {
        font-size: 12px;
    }
</style>

@Html.Partial("Partial/template_kit")
@Html.Partial("Partial/template_demostrador")
<script id="template-Kits" type="text/x-handlebars-template">
    {{#each this}}
    {{> kit_template}}
    {{/each}}
</script>

<script id="template-Demostradores" type="text/x-handlebars-template">
    {{#each this}}
    {{> demostrador_template}}
    {{/each}}
</script>


@section scripts{
    <script type="text/javascript">

        var urlLoad = '@Url.Content("~/Content/Images/Loading.gif")';
        var urlGetKits = '@Url.Action("GetKits", "CaminoBrillante", new { area = "" })';
        var urlGetDemostradores = '@Url.Action("GetDemostradores", "CaminoBrillante", new { area = "" })';
        var urlAgregarUnico = '@Url.Action("PedidoAgregarProductoTransaction", "PedidoRegistro", new { area = "" })';
        var _origenPedidoWeb = @origenPedido;
        var nroRegistrosDemostradores = 12;
        var nroRegistrosKits = 12;
        var TineCarrusel = '1';//solo para ofertas.cshtml siempre sera 1.
        var urlObtenerFiltros = '@Url.Action("GetFiltrosCaminoBrillante", "CaminoBrillante", new { area = "" })';
    </script>
    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/bootstrap")
    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/CaminoBrillante/ofertas")
    <script>
        /* temporal Eliminar con el Homologado  */
        function isMobile() {
            return "True" === "@ViewBag.EsMobile";
        }
    </script>
}