@{
    Layout = "~/Views/Shared/_MainLayoutResponsive.cshtml";
    ViewBag.Title = "Ofertas";
    var Demostradores = ViewBag.Demostradores;
}

@*<link href="@Url.Content("~/Content/Css/Site/BusquedaProductos/busqueda-productos.css")" rel="stylesheet" />*@
<link href="@Url.Content("~/Content/Css/Site/BusquedaProductos/filtros-busqueda.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Css/Site/FichaProductoResponsive/ficha-producto-responsive.css")" rel="stylesheet" />
<link href="~/Content/CaminoBrillante/css/ganamas.css" rel="stylesheet" />

<style>
    .desactive-mas-menos {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: gray;
        opacity: 0.6;
        cursor: not-allowed;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }

    .desactivo {
        pointer-events: none;
        cursor: none;
        text-decoration: none;
        opacity: 0.4;
    }
</style>

<div class="op-menu-horizonta-fixed subbox" data-menu-codigo="" data-layout-menu2="">


    <div class="op-menu-horizontal">
        <ul class="subnavegador"
            data-es-suscrita=""
            data-es-activa="">

            <li data-campania=""
                data-activo="1"
                data-codigo=""
                data-es-ancla="">

                <a href="javascript:void(0);"
                   class="default-dorado activado-dorado" id="Tab-kits">
                    Kit
                </a>

            </li>
            <li data-campania=""
                data-activo="1"
                data-codigo=""
                data-es-ancla="">


                <a href="javascript:void(0);"
                   class="default-dorado" id="Tab-Demostradores">
                    Demostradores
                </a>
            </li>
        </ul>
    </div>

</div>

<div class="row flex-row ml-0 mr-0 mx-auto layout__content layout__content--vistaResultadosBusqueda">


    @*<section class="row flex-row justify-content-center align-items-stretch ml-0 mr-0 layout__content__filtros">
            <div class="col-12 pl-0 pr-0 filtros__wrapper">

                <!-- SECCIÓN ETIQUETAS DE CRITERIOS ELEGIDOS EN LOS FILTROS (MOBILE) -->
                <div class="row flex-row align-items-baseline ml-0 mr-0 mostrarEnMobile layout__content__etiquetas__criteriosElegidos layout__content__etiquetas__criteriosElegidosMobile">
                    <ul class="row flex-row ml-0 lista__etiquetas__criteriosElegidos criteriosBuscadorMobile"></ul>
                </div>
                <!-- FIN - SECCIÓN ETIQUETAS DE CRITERIOS ELEGIDOS EN LOS FILTROS (MOBILE) -->
                <div class="col-12 pl-0 pr-0 filtros__subtitulo mostrarEnDesktop">
                    Filtrar por:
                </div>
                <ul class="row flex-row ml-0 mr-0 filtros__lista filtros__lista-handleBar">

                    <li class="col-12 pl-0 pr-0 filtro__tipo">

                        <ul class="row flex-row ml-0 mr-0 filtro__tipo__items">
                            <li class="col-12 pl-0 pr-0 filtro__item" data-item="BuscadorFiltros">
                                <!-- <input type="hidden" class="BuscadorFiltroLabel" value="Ésika">
                                <input type="hidden" class="BuscadorFiltroID" value="mar-esika">
                                <input type="hidden" class="BuscadorSeccionFiltro" value="Marcas"> -->
                                <div class="row flex-row flex-nowrap align-items-center ml-0 mr-0 ">
                                    <input id="Check-kits" checked type="checkbox" class="filtro__item__checkbox buscadorFiltrosChecked"> <!--checked-->

                                    <span class="d-inline-block">Kit</span>

                                </div>
                            </li>
                            <li class="col-12 pl-0 pr-0 filtro__item" data-item="BuscadorFiltros">
                                <!--                    <input type="hidden" class="BuscadorFiltroLabel" value="L'Bel">
                                       <input type="hidden" class="BuscadorFiltroID" value="mar-lbel">
                                       <input type="hidden" class="BuscadorSeccionFiltro" value="Marcas"> -->
                                <div class="row flex-row flex-nowrap align-items-center ml-0 mr-0 ">
                                    <input id="Check-Demostradores" type="checkbox" class="filtro__item__checkbox buscadorFiltrosChecked"> <!--checked-->

                                    <span class="d-inline-block">Demostradores</span>

                                </div>
                            </li>

                        </ul>
                    </li>


                </ul>

            </div>
        </section>*@

    <section class="row flex-row justify-content-lg-between justify-content-xl-between align-self-start ml-0 mr-0 mx-auto layout__content__fichaProductos">
        <section class="col-12 col-lg-6 col-xl-6 busqueda__productos__encontrados__wrapper pr-lg-0 pr-xl-0">
            <br />
            <h1 class="col-12 pl-0 pr-0 busqueda__productos__titulo">
                @*Resultado de Demostradores*@
            </h1>
            <p class="col-12 pl-0 pr-0 busqueda__productos__encontrados">
                @*<span id="TotalProductos" class="busqueda__num__productos__encontrados">Estos son los kits según tu nivel</span>*@
            </p>
        </section>


        @*<section class="col-12 col-lg-6 col-xl-6 lista__opciones__ordenamiento__y__filtrar pl-lg-0 pl-xl-0">
                <div class="row flex-row justify-content-between justify-content-lg-end justify-content-xl-end ml-0 mr-0">

                    <div class="row flex-row ml-0 mr-0 col-12 col-lg-11 col-xl-11 pl-0 pr-0 lista__opcion__wrapper lista__opcion__wrapper--ordenar">
                        <div class="col-12 pl-0 pr-0 opcion__ordenamiento text-lg-right text-xl-right">
                            <label class="col-12 col-lg-4 col-xl-4 pl-0 d-inline-block text-center text-lg-right text-xl-right opcion__ordenamiento__label">
                                Ordenar
                            </label>

                            <div id="dpw-ordenar" class="col-12 col-lg-6 col-xl-6 pl-0 pr-0 d-inline-block opcion__ordenamiento__dropdown text-left">
                                <span class="col-11 opcion__ordenamiento__dropdown__seleccionada mostrarEnDesktop ul-seleccionado">Recomendación</span>
                                <span class="col pl-0 pr-0 opcion__ordenamiento__dropdown__icono mostrarEnDesktop">
                                    <img src="/Content/Images/ordenar-flecha-icono.svg" alt="">
                                </span>
                            </div>

                        </div>
                    </div>
                    <ul id="ul-ordenar" class="col-9 col-md-10 col-lg-6 col-xl-6 pl-0 pr-0 opcion__ordenamiento__dropdown__lista d-none">

                        <li class="col-12 pl-0 pr-0 opcion__ordenamiento__dropdown__item d-block" data-value=" PRECIO-ASC " title="Precio de menor a mayor">
                            <a class="col-12 d-block opcion__ordenamiento__dropdown__link" title="Precio de menor a mayor">
                                Precio de menor a mayor
                            </a>
                        </li>
                        <li class="col-12 pl-0 pr-0 opcion__ordenamiento__dropdown__item d-block" data-value=" PRECIO-DESC " title="Precio de mayor a menor">
                            <a class="col-12 d-block opcion__ordenamiento__dropdown__link" title="Precio de mayor a menor">
                                Precio de mayor a menor
                            </a>
                        </li>
                    </ul>
                </div>
            </section>*@


        @*<section class="tabs-top">
                <ul>
                    <li><a href="" class="activo">Kit</a></li>
                    <li><a href="">Demostradores</a></li>
                </ul>
            </section>*@


        <!-- SECCIÓN ETIQUETAS DE CRITERIOS ELEGIDOS EN LOS FILTROS (DESKTOP) -->
        <!--         <section class="row flex-row align-items-baseline ml-0 mr-0 mx-auto w-100 mostrarEnDesktop layout__content__etiquetas__criteriosElegidos layout__content__etiquetas__criteriosElegidosDesktop" style="display: none">
            <ul class="row flex-row ml-0 lista__etiquetas__criteriosElegidos criteriosBuscadorDesktop"></ul>
            <a title="Limpiar filtros" class="text-right enlace__limpiar__filtros">
                Limpiar filtros
            </a>
        </section> -->
        <!-- FIN - SECCIÓN ETIQUETAS DE CRITERIOS ELEGIDOS EN LOS FILTROS (DESKTOP) -->
        <div id="divresultadosKit" style="display:none">
            @ViewBag.CantidadKit
        </div>

        <section class="col-12 fichas__productos__wrapper text-center" id="kits">

            @{
                foreach (var item in Model)
                {
                    <article class="ficha__producto " data-item="BuscadorFichasProductos">

                        <input type="hidden" id="hdCuv" value="@item.Cuv1" />
                        @*<input type="hidden" id="hdCodigoSap" value="@item.CodigoKit" />
                            <input type="hidden" id="hdCodigoKit" value="@item.CodigoSap" />*@

                        <div class="etiqueta-box etiq-coral">

                            <img src="~/Content/CaminoBrillante/imgs/coral.svg" />
                            <span class="etiqueta">Coral </span>
                        </div>
                        <div class="row flex-row justify-content-center ml-0 mr-0">
                            <figure class="col-12 pl-0 pr-0 row flex-row ml-0 mr-0 justify-content-center align-items-end ficha__producto__imagen text-center">
                                <img data-src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201905/E/productos/PE_200094549.jpg" data-src-error="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201905/E/productos/PE_200094549.jpg" class="lazy redireccionarFicha" src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201905/E/productos/PE_200094549.jpg">
                                @*<a title="Ver detalle" class="row flex-row ml-0 mr-0 justify-content-center align-items-center col pl-0 pr-0 text-bold text-uppercase mostrarEnDesktop redireccionarFicha btn__ver__detalle">
                                        Ver detalle
                                    </a>*@
                            </figure>
                            <div class="col-12 pl-0 pr-0 ficha__producto__descrip d-block mx-auto text-left">
                                <div class="col-12 pl-0 pr-0 ficha__producto__descrip__marca__pais text-uppercase">
                                    Catálogo Esika
                                </div>
                                <div class="col-12 pl-0 pr-0 ficha__producto__descrip__nom text-bold redireccionarFicha">
                                    @item.Descripcion
                                </div>
                            </div>
                            <div class="row flex-row align-items-end align-items-md-baseline ml-0 mr-0 col-12 pl-0 pr-0 ficha__producto__precio">
                                <div class="ficha__producto__precio__normal text-left">S/. 48.00</div>
                                <div class="ficha__producto__precio__oferta text-bold text-left">S/ @item.PrecioCatalogo</div>
                            </div>
                            <div class="row flex-row justify-content-between ml-0 mr-0 pl-0 pr-0 ficha__producto__agregar__producto">
                                @*<div class="col-12 col-md col-lg col-xl pl-0 pr-0">
                                        <div class="row flex-row justify-content-between ml-0 mr-0 ficha__producto__rango__cantidad js-no-popup" data-cantidad-contenedor="">
                                            <a class="col-4 col-md-4 col-lg-4 col-xl-4 pl-0 pr-0 menos d-block js-no-popup desactivo" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)">
                                                <img class="d-block js-no-popup" src="https://www.somosbelcorp.com/Content/Images/menos.svg" alt="">
                                            </a>
                                            <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" data-input="cantidad" class="col-4 col-md-8 col-lg-8 col-xl-8 pl-0 pr-0 d-block text-center text-bold ValidaNumeral ValidaPasteNumeral js-no-popup" disabled="disabled">
                                            <a class="col-4 col-md-4 col-lg-4 col-xl-4 pl-0 pr-0 mas d-block js-no-popup desactivo" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)">
                                                <img class="d-block js-no-popup" src="https://www.somosbelcorp.com/Content/Images/mas.svg" alt="">
                                            </a>
                                        </div>
                                    </div>*@
                                <div class="col-12 col-md-12 col-lg-12 col-xl-12 pl-0 pr-0 flex-grow-1">
                                    <a class="boton_Agregalo_home boton__agregalo--fichaProducto text-center d-block FichaAgregarProductoBuscador act">
                                        <i>
                                            <img src="~/Content/CaminoBrillante/imgs/add_to_cart2.svg" />

                                        </i> Agregar
                                    </a>
                                </div>
                            </div>
                            <div class="col-12 pl-0 pr-0 etiqueta_buscador_producto ficha__producto__etiqueta text-center" style="display:none;" data-Agregado="DivAgregado">
                                <span class="text-uppercase text-bold d-inline-block">Agregado</span>
                            </div>
                        </div>
                    </article>
                }
            }
        </section>

        <hr />

        <div id="divresultadosDemostradores" style="display:none;">
            @ViewBag.CantidadDemostradores
        </div>
        <section class="col-12 fichas__productos__wrapper text-center" id="Demostradores" style="display:none;">
            @{
                foreach (var item in Demostradores)
                {
                    <article class="ficha__producto " data-item="BuscadorFichasProductos">

                        <input type="hidden" id="hdCuv" value="@item.Cuv1" />
                        @*<input type="hidden" id="hdCodigoSap" value="@item.CodigoKit" />
                            <input type="hidden" id="hdCodigoKit" value="@item.CodigoSap" />*@

                        @*<div class="etiqueta-box etiq-coral">
                                <img src="~/Content/CaminoBrillante/imgs/coral.svg" />
                                <span class="etiqueta">Coral </span>
                            </div>*@
                        <div class="row flex-row justify-content-center ml-0 mr-0">
                            <figure class="col-12 pl-0 pr-0 row flex-row ml-0 mr-0 justify-content-center align-items-end ficha__producto__imagen text-center">
                                <img data-src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201905/E/productos/PE_200094549.jpg" data-src-error="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201905/E/productos/PE_200094549.jpg" class="lazy redireccionarFicha" src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201905/E/productos/PE_200094549.jpg">
                                @*<a title="Ver detalle" class="row flex-row ml-0 mr-0 justify-content-center align-items-center col pl-0 pr-0 text-bold text-uppercase mostrarEnDesktop redireccionarFicha btn__ver__detalle">
                                        Ver detalle
                                    </a>*@
                            </figure>
                            <div class="col-12 pl-0 pr-0 ficha__producto__descrip d-block mx-auto text-left">
                                <div class="col-12 pl-0 pr-0 ficha__producto__descrip__marca__pais text-uppercase">
                                    Catálogo Esika
                                </div>
                                <div class="col-12 pl-0 pr-0 ficha__producto__descrip__nom text-bold redireccionarFicha">
                                    @item.Descripcion
                                </div>
                            </div>
                            <div class="row flex-row align-items-end align-items-md-baseline ml-0 mr-0 col-12 pl-0 pr-0 ficha__producto__precio">
                                <div class="ficha__producto__precio__normal text-left">S/. 48.00</div>
                                <div class="ficha__producto__precio__oferta text-bold text-left">S/ @item.PrecioCatalogo</div>
                            </div>
                            <div class="row flex-row justify-content-between ml-0 mr-0 pl-0 pr-0 ficha__producto__agregar__producto">
                                <div class="col-12 col-md col-lg col-xl pl-0 pr-0">
                                    <div class="row flex-row justify-content-between ml-0 mr-0 ficha__producto__rango__cantidad js-no-popup" data-cantidad-contenedor="">
                                        <a class="col-4 col-md-4 col-lg-4 col-xl-4 pl-0 pr-0 menos d-block js-no-popup" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)">
                                            <img class="d-block js-no-popup" src="https://www.somosbelcorp.com/Content/Images/menos.svg" alt="">
                                        </a>
                                        <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" data-input="cantidad" class="col-4 col-md-8 col-lg-8 col-xl-8 pl-0 pr-0 d-block text-center text-bold ValidaNumeral ValidaPasteNumeral js-no-popup">
                                        <a class="col-4 col-md-4 col-lg-4 col-xl-4 pl-0 pr-0 mas d-block js-no-popup" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)">
                                            <img class="d-block js-no-popup" src="https://www.somosbelcorp.com/Content/Images/mas.svg" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12 col-md-7 col-lg-7 col-xl-7 pl-0 pr-0 flex-grow-1">
                                    <a class="boton_Agregalo_home boton__agregalo--fichaProducto text-center d-block FichaAgregarProductoBuscador act cartbtn">
                                        <i>
                                            <img src="~/Content/CaminoBrillante/imgs/add_to_cart2.svg" />

                                        </i> Agregar
                                    </a>
                                </div>
                            </div>
                            <div class="col-12 pl-0 pr-0 etiqueta_buscador_producto ficha__producto__etiqueta text-center" style="display:none;" data-Agregado="DivAgregado">
                                <span class="text-uppercase text-bold d-inline-block">Agregado</span>
                            </div>
                        </div>
                    </article>
                }
            }
        </section>
    </section>
</div>

<script src="https://www.somosbelcorp.com/Bundle/Js/Desktop/JQuery3Js?v=6K-kHHuzTBQeaIUNJP1kR-uZJRJv9nA2SlHvYURb6j41"></script>
<script src="https://www.somosbelcorp.com/Bundle/Js/Mixto/PageResponsive?v=UnwRHvNM2IKDp7bnVYbR9vzcKjvNhncrgvXVwHUULCg1"></script>

<script type='text/javascript'>
    (function () {
        var proto = document.location.protocol || 'http:';
        var trme = document.createElement('script');
        trme.type = 'text/javascript';
        trme.async = true;
        trme.src = proto + '//trackme-cls1-cgn-bct.i6.inconcertcc.com/inconcert/apps/trackme/js/tm.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(trme, s);
    })();

    function Buscador() {
        location.href = baseUrl + 'Mobile/Buscador';
    }
</script>


<script src="~/Scripts/PortalConsultoras/Cliente/Index.js"></script>
<script src="~/Scripts/PortalConsultoras/Pedido/ofertafinal.js"></script>
<script src="~/Scripts/PortalConsultoras/EstrategiaAgregar/EstrategiaAgregar.js"></script>
<script src="~/Scripts/PortalConsultoras/EstrategiaAgregar/EstrategiaAgregarProvider.js"></script>
<script src="~/Scripts/PortalConsultoras/EstrategiaAgregar/PedidoRegistro.js"></script>

<script type="text/javascript">
    var tipoOrigen = "1";
    var reservaResponse = {
        data: { Reserva: false }
    };
    var baseUrl = "/";

    function AgregarProducto() {


        var items = document.getElementsByClassName('boton_Agregalo_home boton__agregalo--fichaProducto text-center d-block FichaAgregarProductoBuscador');

        for (var i = 0; i < items.length; i++) {
            items[i].onclick = function (e) {
                e.preventDefault();
                AbrirSplash();
                var cuvCapturado = this.parentElement.parentElement.parentElement.parentElement.children[0].value;
                var cantidadCapturado = this.parentElement.parentElement.children[0].children[0].children[1].value;

                var params = {
                    CuvTonos: cuvCapturado,
                    CUV: cuvCapturado,
                    Cantidad: cantidadCapturado,
                    TipoEstrategiaID: 3014,
                    EstrategiaID: "34076",
                    OrigenPedidoWeb: "1181901",
                    TipoEstrategiaImagen: "6",
                    FlagNueva: false,
                    EsEditable: false,
                    SetId: null,
                    ClienteID: 0
                };

                var resultado = e.target;

                jQuery.ajax({
                    type: "POST",
                    url: baseUrl + "PedidoRegistro/PedidoAgregarProductoTransaction",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(params),
                    async: true,
                    cache: false,
                    success: function (data) {
                        //dfd.resolve(data);
                        resultado.parentElement.parentElement.parentElement.lastElementChild.style.display = 'block';
                        CerrarSplash();
                        CargarResumenCampaniaHeader(true);

                    },
                    error: function (data, error) {
                        alert("error");
                        // dfd.reject(data, error);
                    }
                });
            }
        }
    }


    function CambiarOferta() {


        $('#Tab-kits').click(function () {
            $('#kits').show();
            $('#Demostradores').hide();
            $("#Tab-kits").addClass("activado-dorado");
            $("#Tab-Demostradores").removeClass("activado-dorado");
            $("#divresultadosDemostradores").hide();
            $("#divresultadosKit").show();
        });


        $('#Tab-Demostradores').click(function () {
            $('#Demostradores').show();
            $('#kits').hide();

            $("#Tab-kits").removeClass("activado-dorado");
            $("#Tab-Demostradores").addClass("activado-dorado");            
            $("#divresultadosKit").hide();
            $("#divresultadosDemostradores").show();
        });
    }





    AgregarProducto();
    CambiarOferta();

</script>

<script src="~/Scripts/PortalConsultoras/Buscador/BusquedaProductoModule.js"></script>
