
@model Portal.Consultoras.Web.Models.ConfiguracionSeccionHomeModel
<style>
    .slick-slider {
        margin-top: 15px !important;
    }
</style>
<div class="bc_plantilla_estrategia_personalizada" style="background: url(@Model.ImagenFondo) center center no-repeat; background-position: center !important; min-height: 500px;vertical-align: middle;"
     data-plantilla="simple-centrado">
    <div class="content_estrategia_carrusel">
        <div class="titulo">
            @if (Model.Titulo != "")
            {
                <h2>@Model.Titulo</h2>
            }
            @if (Model.VerMas)
            {
                <div class="boton-ir">
                    <a href="javascript: window.location.href = '@Model.UrlLandig'">VER MÁS OFERTAS</a>
                </div>
            }
            <div style="float:right; padding: 0 10px; display:none;" data-productos-info="">
                <div id="divCantProductos" class="cantidad_productos_resultado">
                    Mostrando <span data-productos-mostrar="">@Model.CantidadMostrar</span> de <span data-productos-total="">@Model.CantidadProductos</span>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="contenido" data-seccion-productos=""></div>
    </div>
</div>