
@model Portal.Consultoras.Web.Models.ConfiguracionSeccionHomeModel
<style>
    .slick-slider {
        margin-top: 15px !important;
    }
</style>
<div class="bc_plantilla_estrategia_personalizada" style="background: url(@Model.ImagenFondo) center center no-repeat; background-position: center !important; min-height: 500px;vertical-align: middle;"
     data-plantilla="simple-centrado">
    <div class="parche_presentacion_contenedor">
        <div class="bloque-titulo">
            <div class="seccion-titulo">
                <span>@Model.Titulo</span>
            </div>
            <div class="cantidad" style="display:none;"data-productos-info="">
                <span id="divCantProductos">Mostrando <span data-productos-mostrar="">@Model.CantidadMostrar</span> de <span data-productos-total="">@Model.CantidadProductos</span></span>
            </div>

            @if (Model.VerMas)
            {
                <div class="ir">
                    <a href="javascript: menuModule.sectionClick('@Model.UrlLandig', '@Model.TituloBtnAnalytics')">VER MÁS OFERTAS</a>
                </div>
            }
            <div class="parche_clear"></div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="content_estrategia_carrusel">
        <div class="contenido" data-seccion-productos=""></div>
    </div>
</div>