@using Portal.Consultoras.Common
@model Portal.Consultoras.Web.Models.ConfiguracionSeccionHomeModel
@{
    var esShowRoom = Portal.Consultoras.Web.SessionManager.SessionManager.Instance.GetEsShowRoom();
    var mostrarShowRoomProductos = Portal.Consultoras.Web.SessionManager.SessionManager.Instance.GetMostrarShowRoomProductos();
    var mostrarShowRoomProductosExpiro = Portal.Consultoras.Web.SessionManager.SessionManager.Instance.GetMostrarShowRoomProductosExpiro();

    var mostrarPopupIntriga = !mostrarShowRoomProductos && !mostrarShowRoomProductosExpiro;
    var mostrarPopupVenta = mostrarShowRoomProductos && !mostrarShowRoomProductosExpiro;
    var backgroundVenta = mostrarPopupIntriga ? "" : "background: url('" + @Model.ImagenFondo + "') center center no-repeat;";
}

@if (esShowRoom)
{
    <div class="bc_plantilla_estrategia_personalizada"
         data-OrigenPedidoWeb=""
         data-plantilla="ShowRoom"
         style="@backgroundVenta;min-height: 500px; vertical-align: middle;">
        <div class="parche_presentacion_contenedor  parche_presentacion_contenedor_834">
            @if (mostrarPopupVenta)
            {
                var seccionTituloClass = "seccion-titulo";
                var vermasClass = "";

                if (ViewBag.EsSuscrita)
                {
                    seccionTituloClass += " seccion-titulo-dorado";
                    vermasClass += " dorado";
                }

                <div class="bloque-titulo">
                    <div class="@seccionTituloClass">
                        <span>@Model.Titulo</span>
                    </div>
                    <div class="cantidad" tyle="display:none;" data-productos-info="">
                        <span>Mostrando <span data-productos-mostrar="">@Model.CantidadMostrar</span> de <span data-productos-total="">@Model.CantidadProductos</span></span>
                    </div>

                    @if (Model.VerMas)
                    {
                        <div class="ir">
                            <a class="@vermasClass" href="javascript: menuModule.sectionClick('@Model.UrlLandig', '@Model.TituloBtnAnalytics','@Model.OrigenPedido')">VER MÁS OFERTAS</a>
                        </div>
                    }
                    <div class="parche_clear"></div>
                </div>
            }
        </div>
        <div class="clear"></div>
        @if (mostrarPopupIntriga)
        {
            <div data-seccion-productos=""></div>
        }
        else
        {
            <div class="contenido" data-seccion-productos="" style="width: 88%;"></div>
        }
    </div>


    if (mostrarPopupIntriga)
    {
        <script id="template-showroom" type="text/x-handlebars-template">
            <div class="" data-popup-main="" style="max-height: 550px;">
                <div class="" data-popup-body style="text-align:center; position:relative">
                    <input type="hidden" id="hdEventoIDShowRoom" value="{{EventoId}}" />
                    <input type="hidden" id="spnShowRoomEvento" value="{{EventoNombre}}" />
                    <input type="hidden" id="spnShowRoomEventoDescripcion" value="{{EventoTema}}" />
                    <div class="contenedorMensajeIntrigaA">
                        <div class="dias_intriga_home dias_inicio_landing" style="text-align: center; padding:0">{{MensajeDiasFaltantes}}</div>
                    </div>
                    <div class="contenedorMensajeIntrigaB">
                    </div>
                    <a href="/ShowRoom/Intriga">
                        <img class="imagen_dias_intriga_inicio" style="height: 500px;" src="@Model.ImagenFondo" />
                    </a>
                </div>
            </div>
        </script>
    }

    if (mostrarPopupVenta)
    {
    }

}
