@model Portal.Consultoras.Web.Models.ConfiguracionSeccionHomeModel

@{ 
    var seccionTituloClass = "seccion-titulo";
    var vermasClass = "";

    if (ViewBag.EsSuscrita)
    {
        seccionTituloClass += " seccion-titulo-dorado";
        vermasClass += " dorado";
    }
}
<div class="bc_plantilla_estrategia_personalizada">
    <div class="parche_presentacion_contenedor parche_presentacion_contenedor_834"
         style="background: url(@Model.ImagenFondo);
            height: 500px;
            background-position: 54.5% 0;   
            background-repeat: no-repeat;
            background-size: cover;"
         data-plantilla="Banner">

        <div class="bloque-titulo">
            <div class="@seccionTituloClass">
                <span>@Model.Titulo</span>
            </div>
            <div class="cantidad">
                <span style="display:none;">Mostrando 3 de 161</span>
            </div>

            @if (Model.VerMas)
            {
                <div class="ir">
                    <a class="@vermasClass" onclick="javascript: menuModule.sectionClick('@Model.UrlLandig', '@Model.TituloBtnAnalytics', this);">VER MÁS OFERTAS</a>
                </div>
            }
            <div class="parche_clear"></div>
        </div>
        <div class="bloque-contenido"></div>
    </div>
</div>