@using Portal.Consultoras.Common
@model Portal.Consultoras.Web.Models.ConfiguracionSeccionHomeModel
@{
    var esShowRoom = Portal.Consultoras.Web.SessionManager.SessionManager.Instance.GetEsShowRoom();
    var mostrarShowRoomProductos = Portal.Consultoras.Web.SessionManager.SessionManager.Instance.GetMostrarShowRoomProductos();
    var mostrarShowRoomProductosExpiro = Portal.Consultoras.Web.SessionManager.SessionManager.Instance.GetMostrarShowRoomProductosExpiro();

    var mostrarPopupIntriga = !mostrarShowRoomProductos && !mostrarShowRoomProductosExpiro;
    var mostrarPopupVenta = mostrarShowRoomProductos && !mostrarShowRoomProductosExpiro;
    var backgroundVenta = mostrarPopupIntriga ? "" : "background: url('" + @Model.ImagenFondo + "') center center no-repeat;";
}

@if (esShowRoom)
{
    <div class="bc_plantilla_estrategia_personalizada"
         data-OrigenPedidoWeb=""
         data-plantilla="ShowRoom"
         style="@backgroundVenta;min-height: 500px; vertical-align: middle;">
        <div class="parche_presentacion_contenedor  parche_presentacion_contenedor_834">
            @if (mostrarPopupVenta)
            {
                var seccionTituloClass = "seccion-titulo";
                var vermasClass = "";

                if (ViewBag.EsSuscrita)
                {
                    seccionTituloClass += " seccion-titulo-dorado";
                    vermasClass += " dorado";
                }

                <div class="bloque-titulo">
                    <div class="@seccionTituloClass">
                        <span>@Model.Titulo</span>
                    </div>
                    <div class="cantidad" tyle="display:none;" data-productos-info="">
                        <span>Mostrando <span data-productos-mostrar="">@Model.CantidadMostrar</span> de <span data-productos-total="">@Model.CantidadProductos</span></span>
                    </div>

                    @if (Model.VerMas)
                    {
                        <div class="ir">
                            <a class="@vermasClass" href="javascript: menuModule.sectionClick('@Model.UrlLandig', '@Model.TituloBtnAnalytics')">VER MÁS OFERTAS</a>
                        </div>
                    }
                    <div class="parche_clear"></div>
                </div>
            }
        </div>
        <div class="clear"></div>
        @if (mostrarPopupIntriga)
        {
            <div data-seccion-productos=""></div>
        }
        else
        {
            <div class="contenido" data-seccion-productos="" style="width: 88%;"></div>
        }
    </div>


    if (mostrarPopupIntriga)
    {
        <script id="template-showroom" type="text/x-handlebars-template">
            <div class="" data-popup-main="" style="max-height: 550px;">
                <div class="" data-popup-body style="text-align:center; position:relative">
                    <input type="hidden" id="hdEventoIDShowRoom" value="{{EventoId}}" />
                    <input type="hidden" id="spnShowRoomEvento" value="{{EventoNombre}}" />
                    <input type="hidden" id="spnShowRoomEventoDescripcion" value="{{EventoTema}}" />
                    <div class="contenedorMensajeIntrigaA">
                        <div class="dias_intriga_home dias_inicio_landing" style="text-align: center; padding:0">{{MensajeDiasFaltantes}}</div>
                    </div>
                    <div class="contenedorMensajeIntrigaB">
                    </div>
                    <a href="/ShowRoom/Intriga">
                        <img class="imagen_dias_intriga_inicio" style="height: 500px;" src="@Model.ImagenFondo" />
                    </a>
                </div>
            </div>
        </script>
    }

    if (mostrarPopupVenta)
    {
        @*<script id="template-showroom" type="text/x-handlebars-template">
            <div class="content_estrategia_carrusel content_estrategia_carrusel_834" style="height: auto;">

                        <div class="contenido contenido_834" style="position:relative;">
                            {{#each this.data as |item|}}
                            <div class="revistadigital-landing">
                                <div class="content_item_carrusel" data-posicion="{{Posicion}}" data-item="{{OfertaShowRoomID}}">
                                    
                                    <div data-campos="" style="display:none;">
                                        <input type="hidden" class="hdOfertaShowRoomID" value="{{OfertaShowRoomID}}" />
                                        <input type="hidden" class="valorCuv" value="{{CUV}}" />
                                        <input type="hidden" class="claseMarcaID" value="{{MarcaID}}" />
                                        <input type="hidden" class="clasePrecioUnidad" value="{{PrecioOferta}}" />
                                        <input type="hidden" class="claseConfiguracionOfertaID" value="{{ConfiguracionOfertaID}}" />
                                        <input type="hidden" class="DescripcionProd" value="{{Descripcion}}" />
                                        <input type="hidden" class="DescripcionMarca" value="{{DescripcionMarca}}" />
                                        <input type="hidden" class="posicionEstrategia" value="{{Posicion}}" />
                                        <input type="hidden" class="origenPedidoWeb" value="@Constantes.OrigenPedidoWeb.DesktopShowRoomContenedor" />
                                    </div>
                                    <div data-item-tag="contenido">
                                        <div class="producto_img_home" data-img="">
                                            {{#IsNullOrEmpty ImagenProducto '=='}}
                                            <img src="@Url.Content("~/Content/Images/showroom/no_disponible.png")" style="max-width: 100% !important;" class="imagen_producto" alt="" data-img-lazy="1" />
                                            {{else}}
                                            <img src="{{ImagenProducto}}" alt="" style="max-width: 100% !important;" class="imagen_producto" data-img-lazy="1" />
                                            {{/IsNullOrEmpty}}
                                            <a class="ver_detalle_carrusel" href="{{UrlDetalle}}">VER DETALLE</a>
                                        </div>
                                    </div>
                                    <div class="producto_nombre_descripcion" data-item-tag="descripcion">
                                        <h6>&ensp;&nbsp;</h6>
                                        <p class="nombre-producto nombre_producto"><b>{{Descripcion}}</b></p>
                                    </div>
                                    <div class="producto_nombre_descripcion" data-item-tag="precio">
                                        <div>
                                            <span class="producto_precio_normal">{{SimboloMoneda}} {{FormatoPrecioValorizado}}</span>
                                            <span class="producto_precio_oferta"><b>{{SimboloMoneda}} {{FormatoPrecioOferta}}</b></span>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="producto_nombre_descripcion" data-item-tag="agregar">
                                        {{#iff TipoAccionAgregar '==' '2'}}
                                        <div class="texto_elige_tono"></div>
                                        <div class="clear"></div>
                                        <div class="liquidacion_rango_home" data-cantidad-contenedor="">
                                            <input type="text" value="1" min="1" max="99" size="2" maxlength="2"
                                                   class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral"
                                                   oninput="FuncionesGenerales.MaxLengthCheck(this, 2)" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);"
                                                   data-input="cantidad" data-cantidad-input="-">
                                            <div class="liquidacion_rango_right_pedido">
                                                <a class="mas" data-cantidad-agregar="+" href="javascript:;"><img src="/Content/Images/Esika/mas.png" alt=""></a>
                                                <a class="menos" data-cantidad-agregar="-" href="javascript:;"><img src="/Content/Images/Esika/menos.png" alt=""></a>
                                            </div>
                                        </div>
                                        <a class="boton_Agregalo_home" data-btn-agregar-sr="">AGRÉGALO</a>
                                        {{/iff}}
                                        {{#iff TipoAccionAgregar '==' '3'}}
                                        <div class="texto_elige_tono"></div>
                                        <div class="clear"></div>
                                        <a class="btn_elige_tono" href="{{UrlDetalle}}">
                                            <b style="color:#000000">ELIGE TU OPCIÓN</b>
                                        </a>
                                        {{/iff}}
                                        <div class="clear"></div>
                                        <div style="margin-top: 9px; margin-bottom: 9px; height: 15px;">
                                            <div class="agregado product-add" style="text-align: right; display: {{Agregado}};">
                                                AGREGÁDO
                                                <div class="icono"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                            <div class="clear"></div>
                    <hr class="clear" />
                </div>
            </div>
        </script>*@

    }

}
