@using Portal.Consultoras.Common
@{
    ViewBag.Title = "Ingresa tu Pedido";
}

@section styles{
    <link href="@Url.Content("~/Content/Css/Site/style-pedido.css")" rel="stylesheet" />
}

<div class="franja_negra pedidoReservado"></div>
<div class="wrapper_general2">
    <h1 class="titulo_principal_interiores pedido_left">INGRESA <strong>TU PEDIDO</strong></h1>
    <div class="clear"></div>
    <div class="caja_pedidos pedidoReservado">

        <div class="escalaDescuento_texto">

            <div class="mensaje_escalaDescuento">Estimada Consultora en estos momentos no se encuentra activa la <strong>&nbsp;@ViewBag.MensajeCampaniaZona</strong> para su país.</div>

            <div class="clear"></div>
        </div>

        <div class="clear"></div>

        <div class="contenedor_banners">
            <ul>
                @if (ViewBag.CodigoIso == Constantes.CodigosISOPais.Peru || ViewBag.CodigoIso == Constantes.CodigosISOPais.Chile)
                {
                    <li>
                        <a href="javascript:;" title="Catálogo Personalizado">
                            <img src="@ViewBag.UrlBanner01" alt="Catálogo Personalizado" />
                            <div>CATÁLOGO PERSONALIZADO</div>
                        </a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="@Url.Action("Index", "MisCatalogosRevistas")" title="Mi Catálogo Web">
                            <img src="@ViewBag.UrlBanner01" alt="Mi Catálogo Web" />
                            <div>MIS CATÁLOGOS Y REVISTAS</div>
                        </a>
                    </li>
                }

                @if (ViewBag.CodigoIso == Constantes.CodigosISOPais.Venezuela)
                {
                    <li>
                        <a href="javascript:;" title="Monto Mínimo">
                            <img src="@ViewBag.UrlBanner02" alt="Monto Mínimo" />
                            <div>MONTO MÍNIMO</div>
                        </a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="@Url.Action("OfertasLiquidacion", "OfertaLiquidacion")" title="Liquidaciones Web">
                            <img src="@ViewBag.UrlBanner02" alt="Liquidaciones Web" />
                            <div>LIQUIDACIONES WEB</div>
                        </a>
                    </li>
                }
                <li>
                    <a href="javascript:;" title="Productos Agregados" onclick="CargarProductoAgotados();">
                        <img src="@ViewBag.UrlBanner03" alt="Productos Agotados" />
                        <div>PRODUCTOS AGOTADOS</div>
                    </a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
</div>

<div id="loadingScreen"></div>
