@model Portal.Consultoras.Web.Models.PedidoDetalleModel
@using Newtonsoft.Json;
@Html.Hidden("hdfSimbolo", Model.Simbolo)
@Html.Hidden("hdfTotal", Model.Total)
@Html.Hidden("hdfTotalMinimo", Model.Total_Minimo)
@Html.Hidden("hdfTotalCliente", Model.Total_Cliente)
@{
    var existe = "0";
    var tipoEstrategiaID = (Session["TipoEstrategiaID"] != null) ? Session["TipoEstrategiaID"].ToString() : "";
}
<input type="hidden" id="hdTipoEstrategiaID" value="@tipoEstrategiaID" />
<input type="hidden" id="hdCantItemRecomendado" value="@ViewBag.ListaEstrategias.Count" />
<input type="hidden" id="hdListaEstrategiasPedido" value="@JsonConvert.SerializeObject(ViewBag.ListaEstrategias)" />
<input type="hidden" id="hdErrorInsertarProducto" value="@ViewBag.ErrorInsertarProducto"/>
    @if (ViewBag.ListaEstrategias != null)
    {
        if (ViewBag.ListaEstrategias.Count > 1)
        {
            existe = ViewBag.ListaEstrategias[1].CUV2.ToString();
            var prev = (ViewBag.ListaEstrategias.Count < 4) ? "prev2" : "prev";
            var next = (ViewBag.ListaEstrategias.Count < 4) ? "next2" : "next";            
    <div id="jCarouselLiteDemo" class="cEnd clearfix border-wrapper">
    <div>
            <span style="font-size: 20px; font-family: Arial; padding: 0; color: #00A0E8; margin-left: 35px">Productos <strong>destacados</strong>
            <a href="javascript:mostrarOcultar()">
                <img id="divTituloCarrusel" style="cursor:pointer; margin:0; padding:0; height:20px; width:20px;" src="@Url.Content("~/Content/Images/chevron-right.png")" />
            </a>
                <span class="new vermas" style="text-align: right; float: right; margin-top: 10px; margin-right: 20px;">@Html.ActionLink("Ver más...", "EstrategiasAll", "AdministrarEstrategia")</span>
                @*<span class="new" style="text-align: right; float: right; margin-top: 10px; margin-right: 20px;"><a class="vermas" href="#">Ver más...</a></span>*@
        </span>
    </div> 
	<div id="divCarrusel" class="carousel default">
		<a href="#" class="@prev" onclick="javascript:InfoCommerceGoogleDestacadoPreviousCarrusel()" >&nbsp;</a>
		<div class="jCarouselLite">
			<ul id="listaEstrategias">
                @{int countEstrategia = 0;}
                @foreach (var estrategia in ViewBag.ListaEstrategias)
                {
                    countEstrategia++;
                    var flagEstrella = (estrategia.FlagEstrella == 0) ? "hidden" : "visible";
                    var descripcion = "";
                        if (estrategia.DescripcionCUV2 != null)
                        {
                        descripcion = (estrategia.DescripcionCUV2.Length > 30) ? estrategia.DescripcionCUV2.Substring(0, 30) + "..." : estrategia.DescripcionCUV2;
                        }

                        if (estrategia.FlagNueva == 1)
                        {
                            descripcion = descripcion.Split('|')[0];
                        }
                    
                        <li><a href="javascript:CargaZonaProducto({EstrategiaID:'@estrategia.EstrategiaID', TipoEstrategiaID:'@estrategia.TipoEstrategiaID', Posicion:@countEstrategia, FlagNueva:@estrategia.FlagNueva});"> @*bug 2621*@
                    <div class="Content_modal_ZE divContainer" style="background-color: @estrategia.ColorFondo" >
                    <div style="text-align:center; margin:3px; overflow: hidden; background-color: @estrategia.ColorFondo">
                                    <div style="position: absolute; width: 100%;">
                        <img style="float:right; margin-top:10px;" src='@estrategia.ImagenURL'>
                    </div>
                                    <div style="position: absolute; width: 100%;">
                        <img id="imgEstrella" style="float:left; margin-top:10px; width:23px; margin-left:10px; height:23px; visibility: @flagEstrella" src="@Url.Content("~/Content/Images/star_reco.png")">
                    </div>
                    <img style="height: 130px; margin:5px;" src='@estrategia.FotoProducto01' title="@estrategia.DescripcionCUV2" alt="@estrategia.DescripcionCUV2">
                    </div>
                                <div style="height: 70px">
                                    <div class="zona_estrategia_1" style="text-align: center; color: #7B4583; font-weight: bold">@descripcion</div>
                            @if (estrategia.Precio > 0)
                            {
                                <div class="zona_estrategia_2" style="display: none">@estrategia.EtiquetaDescripcion @estrategia.Simbolo @estrategia.Precio</div>
                            }
                            @if (estrategia.Precio2 > 0)
                            {
                                <div class="zona_estrategia_3" style="text-align: center">@estrategia.EtiquetaDescripcion2 @estrategia.Simbolo
                                    @if (Session["PaisID"].ToString() == "4")
                                    {
                                        @estrategia.Precio2.ToString("#,##0").Replace(',', '.')
                                    }
                                    else
                                    {
                                        @estrategia.Precio2.ToString("#,##0.00")
                                    }
                                </div>
                            }
                            <div class="zona_estrategia_4" style="display: none">@estrategia.TextoLibre</div>
                        </div>
                        <div class="ofertas_agregar_ZE" style="display: none;">
                            <input type="button" value="Agregar" class="btnAdd" onclick="javascript:CargaZonaProducto({EstrategiaID:'@estrategia.EstrategiaID        ', TipoEstrategiaID:'@estrategia.TipoEstrategiaID        ',Posicion:@countEstrategia    })" />
                        </div> 
				    </div>                    
                    </a>
                    </li>
                }
			</ul>
		</div>
		<a href="#" class="@next"  onclick="javascript:InfoCommerceGoogleDestacadoNextCarrusel()">&nbsp;</a>
		<div class="clear"></div>   
	</div>
	<script type="text/javascript">
	    $(".default .jCarouselLite").jCarouselLite({
	        btnNext: ".default .next",
	        btnPrev: ".default .prev"
          
	    });
	    if ("00000" == "@existe") {
	        $("#listaEstrategias li").last().css("display", "none");
	    }
	    
	</script>     
</div>
    
        }
    }
<div style="clear: both">&nbsp;</div>
<div class="border-wrapper">
            <div class="@ViewBag.ClaseTabla">
<table id="tbListadoPedido">
    <thead>
        <tr>
            <th style="width: 10%;">Codigo  
            </th>
            <th style="width: 20%;">Producto  
            </th>
            <th style="width: 10%;">Cantidad  
            </th>
            <th style="width: 15%;">Precio Unitario  
            </th>
            <th style="width: 15%;">Precio Total  
            </th>
            <th style="width: 20%;">
                <div class="filter">
                    @Html.DropDownListFor(model => model.Nombre, new SelectList(Model.DropDownListCliente, "ClienteID", "Nombre"), new { id = "ddlClientes", onchange = "CambiarCliente(this)" })
                    @*<select id="ddlClientes" onchange="CambiarCliente(this)"></select>*@
                </div>
            </th>
            <th style="width: 10%;">Acción
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            var clase_row = string.Empty;
        }
        @foreach (var item in Model.ListaDetalle)
        {
            if (!item.EliminadoTemporal)
            {
                clase_row = item.EstadoItem == 0 ? item.ClaseFila : "f3";
                <tr class="@clase_row">
                    <td class="center">
                        @Html.DisplayFor(modelItem => item.CUV)
                    </td>
                    <td>
                        <div class="table_label">
                      

                            @if (item.IndicadorMontoMinimo == 0)
                            {
                                @Html.Label("", "*", new { @class = "color_red_grilla" });
                            }

                            @if (item.TipoPedido == "M")
                            {
                                // 1687
                                // 1635
                            <label class="mensaje-movil">
                                        (*)@Html.LabelFor(modelItem => item.DescripcionProd, item.DescripcionProd.Split('|')[0], new { id = "lblLPDesProd" + item.PedidoDetalleID })
                                </label>
                                <!-- div class="tipopedido_grilla_item">[App móvil]</!-->
                            }
                            else
                            {
                                //else if(item.TipoPedido == "X"){
                                // 1635
                                    @Html.LabelFor(modelItem => item.DescripcionProd, item.DescripcionProd.Split('|')[0], new { id = "lblLPDesProd" + item.PedidoDetalleID })
                                <!-- div class="tipopedido_grilla_item">[App móvil + web]</!-->
                            }
                        </div>                        
                        @if (item.ConfiguracionOfertaID == Portal.Consultoras.Common.Constantes.TipoOferta.Liquidacion)
                        {
                            <div class="oferta_grilla_item">
                                [Oferta Liquidación]
                            </div>
                        }
                        else if (item.ConfiguracionOfertaID == Portal.Consultoras.Common.Constantes.TipoOferta.Flexipago)
                        {
                            <div class="oferta_grilla_item">
                                [Oferta Flexipago]
                            </div>
                        }
                        else if (item.TipoOfertaSisID == Portal.Consultoras.Common.Constantes.ConfiguracionOferta.ShowRoom)
                        {
                            <div class="oferta_grilla_item">
                                [Pre-venta Digital]
                            </div>
                        }
                        else
                        {
                            <div class="oferta_grilla_item">
                                @if (item.DescripcionOferta != null && item.DescripcionOferta != "")
                                {
                                    @Html.LabelFor(modelItem => item.DescripcionOferta, item.DescripcionOferta, new { @class = "prueba" })
                                }
                                else if(!string.IsNullOrEmpty( item.DescripcionEstrategia))
                                {
                                    @Html.LabelFor(modelItem => item.DescripcionEstrategia, item.DescripcionEstrategia, new { @class = "prueba" })
                                }
                            </div>
                        }
                            @Html.Hidden("hdfTipoEstrategia" + item.PedidoID, item.TipoEstrategiaID)
                            @Html.Hidden("hdfCampaniaID" + item.PedidoID, item.CampaniaID)
                            @Html.Hidden("hdfPedidoId" + item.PedidoID, item.PedidoID)
                            @Html.Hidden("hdfPedidoDetalleID" + item.PedidoID, item.PedidoDetalleID)
                            @Html.Hidden("hdfTipoOfertaSisID" + item.PedidoID, item.TipoOfertaSisID)
                            @Html.Hidden("hdfCUV" + item.PedidoID, item.CUV)

                    </td>
                    <td class="center">
                        <span>                            
                            @Html.Hidden("txtLPTempCant" + item.PedidoDetalleID, item.Cantidad)
                            @*if (item.ConfiguracionOfertaID == Portal.Consultoras.Common.Constantes.TipoOferta.Nueva)
                            {
                                @Html.TextBoxFor(modelItem => item.Cantidad, new { id = "txtLPCant" + item.PedidoDetalleID, maxlength = "2", ReadOnly = "ReadOnly", onkeydown = "return false;", style = "border-style: none; background-color:#F0F6F8; width: 30px;", @class = "ValidaNumeralPedido" })
                            }
                            else
                            {*@
                                @Html.TextBoxFor(modelItem => item.Cantidad, new { id = "txtLPCant" + item.PedidoDetalleID, maxlength = "2", onblur = "UpdateLiquidacion(" + item.CampaniaID + "," + item.PedidoID + "," + item.PedidoDetalleID + "," + item.TipoOfertaSisID + ",'" + item.CUV.ToString() + "','1','" + item.Cantidad + "')", onfocus = "EstadoActualizacion(" + item.PedidoDetalleID + ")", style = "border-style: none; background-color:#F0F6F8; width: 30px;", @class = "ValidaNumeralPedido" })
                            @*}*@
                        </span>
                    </td>
                    <td class="center">
                        <span style="vertical-align: super; font-size: small;">@Model.Simbolo</span>
                        <span>
                            @Html.Hidden("hdfLPPrecioU" + item.PedidoDetalleID, item.PrecioUnidad, new { @class = "classPrecioUnidad" })
                            @if (Session["PaisID"].ToString() == "4")
                            {
                                @Html.LabelFor(modelItem => item.PrecioUnidad, string.Format("{0:#,##0}", item.PrecioUnidad).Replace(',', '.'))
                            }
                            else
                            {
                                @Html.LabelFor(modelItem => item.PrecioUnidad, string.Format("{0:#,##0.00}", item.PrecioUnidad))
                            }
                        </span>
                    </td>
                    <td class="center">
                        <span style="vertical-align: super; font-size: small;">@Model.Simbolo</span>
                        <span>
                            @if (item.IndicadorMontoMinimo == 1)
                            {
                                //@Html.Hidden("lblLPImpTotalMinimo" + item.ImporteTotal, item.ImporteTotal, new { @class = "classImporteTotal_minimo" })
                                if (Session["PaisID"].ToString() == "4")
                                {
                                    @Html.LabelFor(modelItem => item.ImporteTotal, string.Format("{0:#,##0}", item.ImporteTotal).Replace(',', '.'), new { id = "lblLPImpTotalMinimo" + item.PedidoDetalleID, @class = "classImporteTotal_minimo", style = "display: none;" })
                                }
                                else
                                {
                                       
                                    @Html.LabelFor(modelItem => item.ImporteTotal, string.Format("{0:N2}", item.ImporteTotal), new { id = "lblLPImpTotalMinimo" + item.PedidoDetalleID, @class = "classImporteTotal_minimo", style = "display: none;" })
                                }
                            }
                            @if (Session["PaisID"].ToString() == "4")
                            {
                                @Html.LabelFor(modelItem => item.ImporteTotal, string.Format("{0:#,##0}", item.ImporteTotal).Replace(',', '.'), new { id = "lblLPImpTotal" + item.PedidoDetalleID, @class = "classImporteTotal" })
                            }
                            else
                            {
                                @Html.LabelFor(modelItem => item.ImporteTotal, string.Format("{0:N2}", item.ImporteTotal), new { id = "lblLPImpTotal" + item.PedidoDetalleID, @class = "classImporteTotal" })
                            }
                        </span>
                            @*REQ20150701*@
                            @if (ViewBag.EstadoSimplificacionCUV)
                            {
                                if (item.IndicadorOfertaCUV)
                                {
                                <input type="hidden" name="ExisteIndicadorOfertaCUV" class="ExisteIndicadorOfertaCUV" value="true" />
                                <a class="imgIndicadorCUV" href="#" title="" data-title="">
                                    <img id="IndicadorOfercarCUVImage" src="@Url.Content("~/Content/Images/indicador.png")" style="vertical-align:middle;" /></a>
                                }
                            }
                    </td>
                    <td>
                        @Html.Hidden("hdfLPCli" + item.PedidoDetalleID, item.ClienteID, new { @class = "classClienteID" })
                        @Html.Hidden("hdfLPCliDes" + item.PedidoDetalleID, item.Nombre)
                        @if (item.ConfiguracionOfertaID == Portal.Consultoras.Common.Constantes.TipoOferta.Nueva)
                        {
                            @Html.TextBoxFor(modelItem => item.Nombre, new { id = "txtLPCli" + item.PedidoDetalleID, maxlength = "50", @class = "classClienteNombre ValidaAlfanumerico", ReadOnly = "ReadOnly", onkeydown = "return false;", style = "border-style: none; background-color:#F0F6F8;" })
                        }
                        else
                        {
                            @Html.TextBoxFor(modelItem => item.Nombre, new { id = "txtLPCli" + item.PedidoDetalleID, maxlength = "50", @class = "classClienteNombre ValidaAlfanumerico", onblur = "BlurF(" + item.CampaniaID + "," + item.PedidoID + "," + item.PedidoDetalleID + ",'2')", style = "border-style: none; background-color:#F0F6F8;" })
                        }
                    </td>
                    <td class="center">
                        <div align="center">
                            @if (item.DescripcionLarga.Contains("'"))
                            {
                                    item.DescripcionLarga = item.DescripcionLarga.Replace("'", "");
                            }
                                @Ajax.ActionLink(" ", "Delete", new { CampaniaID = item.CampaniaID, PedidoID = item.PedidoID, PedidoDetalleID = item.PedidoDetalleID, TipoOfertaSisID = item.TipoOfertaSisID, CUV = item.CUV, Cantidad = item.Cantidad, Pagina = Model.Pagina, PaginaDe = Model.PaginaDe, Registros = Model.Registros, RegistrosDe = Model.RegistrosDe, RegostrosTotal = Model.RegistrosTotal, ClienteID = Model.ClienteID_, CUVReco = ViewBag.CUVReco }, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "divListadoPedido", OnSuccess = "ActualizarModeloPaginar('" + Model.ClienteID_ + "');SaveDeleteAnalytics('" + @Html.Encode(item.DescripcionProd) + "','" + item.CUV + "','" + item.PrecioUnidad + "','" + @Html.Encode(item.DescripcionLarga) + "','" + item.Categoria + "','" + item.DescripcionEstrategia + "','" + item.Cantidad + "');", OnBegin = "if (ReservadoOEnHorarioRestringido()) return false;", OnComplete = "CerrarSplash()" }, new { id = "btnLPDelete" + item.PedidoDetalleID, @class = "eliminar", title = "Eliminar" })
                        </div>
                    </td>
                </tr>  
                //CCSS_JZ_PROLV
                        if (!string.IsNullOrEmpty(item.Mensaje))
                        { 
                    if (item.TipoObservacion != 0)
                    {
                    <tr class="@item.ClaseFila red_texto">
                        <td></td>
                        <td colspan="6">
                            @Html.Raw(item.Mensaje.Replace("¿Deseas aceptar el reemplazo?", ""))
                        </td>
                    </tr>
                    }
                    else
                    {
                    <tr class="@item.ClaseFila red_texto" style=" color:#702790;">
                        <td></td>
                        <td colspan="6">
                            @Html.Raw(item.Mensaje)
                        </td>
                    </tr>
                        }
            }
        }
        }
        <script type="text/javascript">
            CargarAutocomplete();
        </script>
    </tbody>
</table>

<!-- paginador -->
<div class="paginador">
    <div class="paginador_left">
        <span>@Model.Registros - @Model.RegistrosDe de @Model.RegistrosTotal Registro(s)</span>
    </div>
    <div class="paginador_right">
        <input type="button" id="btnPrimeraPagina" value='v' class="btn_pag_1" onclick="Paginar(1)" />
        <input type="button" id="btnPaginaAnterior" value="<" class="btn_pag_2" onclick="Paginar(3)" />
        <span>Pág.: @Model.Pagina de @Model.PaginaDe</span>
        <input type="button" id="btnPaginaSiguiente" value=">" class="btn_pag_3" onclick="Paginar(4)" />
        <input type="button" id="btnUltimaPagina" value=">|" class="btn_pag_4" onclick="Paginar(2)" />
    </div>
    <input type="hidden" id="hdnRegistros" value="@Model.Registros" />
    <input type="hidden" id="hdnRegistrosDe" value="@Model.RegistrosDe" />
    <input type="hidden" id="hdnRegistrosTotal" value="@Model.RegistrosTotal" />
    <input type="hidden" id="hdnPagina" value="@Model.Pagina" />
    <input type="hidden" id="hdnPaginaDe" value="@Model.PaginaDe" />
    <input type="hidden" id="hdnClienteID2_" value="@Model.ClienteID_" />
</div>

<!-- cierra paginador -->
@if (ViewBag.ErrorDelete != null)
{
    <script type="text/javascript">
        //debugger;
        alert_msg(@Html.Raw(Json.Encode(ViewBag.ErrorDelete)));
        CalcularTotal();

    </script>
    ViewBag.ErrorDelete = "";
}
        <script>
            var existeOfertaCUV = $("#tbListadoPedido").find('.ExisteIndicadorOfertaCUV').val();
            $("#LeyendaIndicadorCUV").hide();
            if (existeOfertaCUV == "true") {
                $("#LeyendaIndicadorCUV").show();
            }            
            
            @*$("#tbListadoPedido").find('a[class="imgIndicadorCUV"]').tooltip({ content: "<img src=@Url.Content("~/Content/Images/aviso.png") />" });*@

        </script>
    </div>
</div>
