@model Portal.Consultoras.Web.Models.PedidoDetalleModel
@Html.Hidden("hdfSimbolo", Model.Simbolo)
@Html.Hidden("hdfTotal", Model.Total)
@Html.Hidden("hdfTotalMinimo", Model.Total_Minimo)
@Html.Hidden("hdfModificacionPedidoProl", Model.ModificacionPedidoProl)
<div class="paginador_pedidos mostrarPaginadorPedidos">
    <div>
        @if (Model != null)
        {
            Html.RenderPartial("ListadoPedidoPaginar", this.Model);
        }

    </div>
</div>

<table id="tbListadoPedido">
    <thead>
        <tr>
            <th class="texto_encabezado_pedidos cabecera_codigo" align="left">Código</th>
            <th class="texto_encabezado_pedidos cabecera_producto" align="left">Producto</th>
            <th class="texto_encabezado_pedidos">Unidades</th>
            <th class="texto_encabezado_pedidos precioUnitario">Precio Unitario</th>
            <th class="texto_encabezado_pedidos subtotal">Subtotal</th>
            <th class="texto_encabezado_pedidos">Cliente</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaDetalle)
{
    if (item.PedidoDetalleIDPadre == 0)
    {
        <tr class="@item.ClaseFila mouse_encima">
            <td class="texto_pedidos">
                @Html.DisplayFor(modelItem => item.CUV)
            </td>
            <td class="texto_pedidos">
                <div class="table_label">
                    @if (item.IndicadorMontoMinimo == 0)
                    {
                        @Html.Label("", "*", new { @class = "color_red_grilla" });
                    }
                    @if (item.TipoPedido == "PV")
                    {
                        @Html.DisplayFor(modelItem => item.DescripcionProd)
                    }
                    else
                    {
                        <label class="mensaje-movil">(*)@Html.DisplayFor(modelItem => item.DescripcionProd)</label>
                    }
                </div>
                @if (item.ConfiguracionOfertaID == Portal.Consultoras.Common.Constantes.TipoOferta.Web)
                {
                    <div class="oferta_grilla_item">
                        [Oferta Web]
                    </div>
                }
                else if (item.ConfiguracionOfertaID == Portal.Consultoras.Common.Constantes.TipoOferta.Liquidacion)
                {
                    <div class="oferta_grilla_item">
                        [Oferta Liquidación]
                    </div>
                }
                else if (item.ConfiguracionOfertaID == Portal.Consultoras.Common.Constantes.TipoOferta.Dupla)
                {
                    <div class="oferta_grilla_item">
                        [Oferta Dupla]
                    </div>
                }
                else if (item.ConfiguracionOfertaID == Portal.Consultoras.Common.Constantes.TipoOferta.Nueva)
                {
                    <div class="oferta_grilla_item">
                        [Pack Oferta Nueva]
                    </div>
                }
                else if (item.ConfiguracionOfertaID == Portal.Consultoras.Common.Constantes.TipoOferta.Flexipago)
                {
                    <div class="oferta_grilla_item">
                        [Oferta Flexipago]
                    </div>
                }
            </td>
            <td class="texto_pedidos" style="text-align: center;">
                @Html.DisplayFor(modelItem => item.Cantidad)                
            </td>
            <td class="texto_pedidos precioUnitario">
                @Model.Simbolo @string.Format("{0:#,##0.00}", item.PrecioUnidad)
            </td>
            <td class="texto_pedidos subtotal" style="width: 140px;">
                @Model.Simbolo @string.Format("{0:#,##0.00}", item.ImporteTotal)
                @*<span style="vertical-align: super; font-size: small;">@Model.Simbolo</span>
                <span>
                @if (item.IndicadorMontoMinimo == 1)
                {
                    @Html.Hidden("hdfImporteMinimoTotal" + item.ImporteTotal, item.ImporteTotal, new { @class = "classImporteTotal_minimo" })
                }
                @Html.DisplayFor(modelItem => item.ImporteTotal)

                </span>*@
                @*REQ20150701*@
                @if (ViewBag.EstadoSimplificacionCUV)
                {
                    if (item.IndicadorOfertaCUV)
                    {

                        <input type="hidden" name="ExisteIndicadorOfertaCUV" class="ExisteIndicadorOfertaCUV" value="true" />
                        <a class="imgIndicadorCUV" href="#" title="" data-title="">
                            <img id="IndicadorOfercarCUVImage" src="@Url.Content("~/Content/Images/indicador.png")" style="vertical-align:middle;" />
                        </a>

                    }
                }
            </td>
            <td class="center texto_pedidos">
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
        </tr>
                //CCSS_JZ_PROL
                if (!string.IsNullOrEmpty(item.ObservacionPROL))
                {
                    string[] observaciones = item.ObservacionPROL.Split('|');
                    <tr class="@item.ClaseFila red_texto mouse_encima" style="color: #702790;">
                        <td></td>
                        <td colspan="6">
                            @if (observaciones != null)
                            {
                                foreach (string ob in observaciones)
                                {
                                    if (!string.IsNullOrEmpty(ob))
                                    {
                                        <div>@ob</div>
                                    }
                                }
                            }
                            else
                            {
                                @Html.Raw(item.ObservacionPROL)
                            }
                        </td>
                    </tr>
                }
    }
    else
    {
        <tr class="@item.ClaseFila mouse_encima">
            <td></td>
            <td>
                @Html.DisplayFor(modelItem => item.CUV)
            </td>
            <td colspan="4">
                @Html.DisplayFor(modelItem => item.DescripcionProd)
            </td>
        </tr>
    }
}
    </tbody>
</table>


<!-- paginador -->
<div class="paginador paginador_pedidos">
    <div>
        @if (Model != null)
        {
            Html.RenderPartial("ListadoPedidoPaginar", this.Model);
        }
    </div>

    @*<div class="paginador_left">
            <span>@Model.Registros - @Model.RegistrosDe de @Model.RegistrosTotal Registro(s)</span>
        </div>
        <div class="paginador_right">
            <input type="button" id="btnPrimeraPagina" value='v' class="btn_pag_1" onclick="Paginar(1)" />
            <input type="button" id="btnPaginaAnterior" value="<" class="btn_pag_2" onclick="Paginar(3)" />
            <span>Pág.: @Model.Pagina de @Model.PaginaDe</span>
            <input type="button" id="btnPaginaSiguiente" value=">" class="btn_pag_3" onclick="Paginar(4)" />
            <input type="button" id="btnUltimaPagina" value=">|" class="btn_pag_4" onclick="Paginar(2)" />
        </div>*@
    <input type="hidden" id="hdnRegistros" value="@Model.Registros" />
    <input type="hidden" id="hdnRegistrosDe" value="@Model.RegistrosDe" />
    <input type="hidden" id="hdnRegistrosTotal" value="@Model.RegistrosTotal" />
    <input type="hidden" id="hdnPagina" value="@Model.Pagina" />
    <input type="hidden" id="hdnPaginaDe" value="@Model.PaginaDe" />
    <input type="hidden" id="hdnClienteID2_" value="@Model.ClienteID_" />
</div>
<!-- cierra paginador -->
