@model Portal.Consultoras.Web.Models.PedidoSb2Model

<input type="hidden" id="hdErrorInsertarProducto" value="@Model.ErrorInsertarProducto" />
 
<div class="paginador_pedidos mostrarPaginadorPedidos">
    <div class="titulo_mis_pedidos">
        <h1>MIS <b>PEDIDOS</b></h1>
    </div>
    <div id="paginadorCab">
        @*@if (Model != null)
        {
            Html.RenderPartial("ListadoPedidoPaginar", Model);
        }*@
    </div>
</div>

<table data-tag="table" id="tbListaPedido">
    <thead>
        <tr>
            <th class="texto_encabezado_pedidos cabecera_codigo" align="left">Código</th>
            <th class="texto_encabezado_pedidos cabecera_producto" align="left">Producto</th>
            <th class="texto_encabezado_pedidos cabecera_unidades">Unidades</th>
            <th class="texto_encabezado_pedidos precioUnitario cabecera_precioUnitario">Precio Unitario</th>
            <th class="texto_encabezado_pedidos subtotal cabecera_subtotal">
                <span class="mostrarPrecioUnitario">Precio Unitario</span>
                <span>Subtotal</span>
            </th>
            <th class="texto_encabezado_pedidos cabecera_cliente">
                <select id="ddlClientes" onchange="CambiarCliente(this)">
                    
                </select>
            </th>
            <th class="texto_encabezado_pedidos acciones"></th>
        </tr>
    </thead>
    
    <tbody id="tbobyDetallePedido">
        
    </tbody>    
</table>

<div class="paginador_pedidos mostrarPaginadorPedidos inferior">
    <div id="paginadorPie">
        @*@if (Model != null)
        {
            Html.RenderPartial("ListadoPedidoPaginar", Model);
        }*@
    </div>

    @*<input type="hidden" id="hdnRegistros" value="@Model.Registros" />
    <input type="hidden" id="hdnRegistrosDe" value="@Model.RegistrosDe" />
    <input type="hidden" id="hdnRegistrosTotal" value="@Model.RegistrosTotal" />
    <input type="hidden" id="hdnPagina" value="@Model.Pagina" />
    <input type="hidden" id="hdnPaginaDe" value="@Model.PaginaDe" />
    <input type="hidden" id="hdnClienteID2_" value="@Model.ClienteID_" />*@
</div>

<div class="clear"></div>

<script type="text/javascript">
    $(document).ready(function () {
        var existeOfertaCUV = $("#divListadoPedido").find('.ExisteIndicadorOfertaCUV').val();
        $("#LeyendaIndicadorCUV").hide();
        if (existeOfertaCUV == "true") {
            $("#LeyendaIndicadorCUV").show();
        }
        CargarAutocomplete();
    });
</script>

@if (Model.ErrorDelete != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            alert_msg(@Html.Raw(Json.Encode(Model.ErrorDelete)));
            CalcularTotal();
        });
    </script>
    Model.ErrorDelete = "";
}

