@model Portal.Consultoras.Web.Models.PedidoDetalleModel
@using Newtonsoft.Json
@using Portal.Consultoras.Web.ServicePedido
@{var mensajePedido = "";}

@Html.Hidden("hdfAccionPROL", Model.BotonPROL)
@Html.Hidden("hdfReserva", Model.Reserva)
@Html.Hidden("hdfObsInfor", Model.ObservacionInformativa)
@Html.Hidden("hdfModificaPedido", Model.EsModificacion)
@Html.Hidden("hdfZonaValida", Model.ZonaValida)
@Html.Hidden("hdfPROLSinStock", Model.PROLSinStock)@*1510*@

@* PCABRERA GR-385 - INICIO *@
<input type="hidden" id="hdeTipoPROL" value="@ViewBag.TipoPROL" />
@* PCABRERA GR-385 - FIN *@

@if (!Model.ErrorPROL)
{

    if (Model.ObservacionRestrictiva == false && Model.ObservacionInformativa == false)
    {
        if (Model.PROLSinStock)//1510 - R2207
        { 
            mensajePedido += "Tu pedido se guardó con éxito";
            <div class="modal_1">
                <div class="modal_1_title color_title">¡Lo lograste! Tu pedido fue guardado con éxito</div>                
        		<div class="modal_1_texto"></div>
                <div class="div-3">
                    <div class="input_modal"><input type="button" value="Cerrar" onclick="$('#divObservacionesPROL').dialog('close');" /></div>
                </div>
            </div>
        }
        else
        {
             mensajePedido += "Tu pedido se guardó con éxito";
            <div class="modal_1">
                <div class="modal_1_title color_title">¡Lo lograste! Tu pedido fue guardado con éxito</div>
                @* CC2584 - CSR Cambiar de texto al hacer clic en boton Guardar en PE *@
                 @if (ViewBag.ZonaNuevoPROLM == false)
                 { 
                <div class="modal_1_texto">Recuerda, al final de tu campaña valida tu pedido para reservar tus productos.</div>
                 }
                <div class="div-3">
                    <div class="input_modal"><input type="button" value="Cerrar" onclick="$('#divObservacionesPROL').dialog('close');" /></div>
                </div>
            </div>
        }
        
         mensajePedido = "-1 "+mensajePedido;
    }
    else
    {
        <div class="modal_2">
            @if (Model.EsDiaPROL)
            {
                <div class="modal_2_title color_title">Importante</div>
            }
            else
            {
                <div class="modal_2_title color_title">Aviso</div>
            }
            <div class="modal_2_texto">
                <ul>
                    <!--CCSS_JZ_PROL-->
                    @foreach (var item in Model.ListaObservacionesPROL)
                    {
                        //R2004
                        if (ViewBag.NombrePais == "Bolivia" || ViewBag.NombrePais == "México")
                        {
                            if (item.Caso == 6 || item.Caso == 8 || item.Caso == 9 || item.Caso == 10)
                            {
                                item.Caso = 105;
                            }
                        }
                        
                        bool ObsMM = false;
                        if (item.Caso == 95 || item.Caso == 105) //R2004
                        {
                            ObsMM = true;
                            <li>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                            @{mensajePedido += item.Caso + " " + item.Descripcion + " ";}
                            <script type="text/javascript">
                                _gaq.push(['_trackEvent', 'Pedido', 'Mensajes', 'Tipo-' + '@item.Caso']);
                                dataLayer.push({
                                    'event': 'pageview',
                                    'virtualUrl': '/Pedido/Mensajes/Tipo-' + '@item.Caso'
                                });
                            </script>
                            </li>
                            break;
                        }
                        else if (!ObsMM)
                        {
                            if (ViewBag.MenuNotificaciones == 0 && item.Caso == 0 && Model.ObservacionInformativa)
                            {
                                <li>
                                @Html.DisplayFor(modelItem => item.Descripcion)
                                @{mensajePedido += item.Caso + " " + item.Descripcion + " ";}
                                <script type="text/javascript">
                                    _gaq.push(['_trackEvent', 'Pedido', 'Mensajes', 'Tipo-' + '@item.Caso']);
                                    dataLayer.push({
                                        'event': 'pageview',
                                        'virtualUrl': '/Pedido/Mensajes/Tipo-' + '@item.Caso'
                                    });
                                </script>
                                </li>
                            }
                            else
                            {
                                <li>
                                    @{mensajePedido += "-1" + " " + "Tu pedido tiene observaciones, por favor revísalo." + " ";}
                                    Tu pedido tiene observaciones, por favor revísalo.
                                </li>
                                break;
                            }
                        }
                    }                   
                </ul>
                 @Html.Hidden("hdfMensajePedido", mensajePedido.Trim().Replace(" ", "_"))
            </div>
            <div class="div-3">
                <div id="DivObsInfBut" style=" display:none;" >
                    <div class="input_modal_inline"><input id="btnCancelar" type="button" value="No" onclick="CancelarObsInformativas()" /></div>
                    <div class="input_modal_inline"><input id="btnAceptar" type="button" value="Si" onclick="AceptarObsInformativas()" /></div>
                </div>
                <div id="DivObsBut" style=" display:none;" >
                    <div class="input_modal"><input id="btnCerrar" type="button" value="Cerrar" onclick="CerrarObs()" /></div>
                </div>
            </div>
        </div>
    }
}
else
{
    mensajePedido = "-1 " + Model.ListaObservacionesPROL[0].Descripcion;
    
    <div class="modal_1">
        <div class="modal_1_title color_title">Error</div>
        <div class="modal_1_texto">Error: @Model.ListaObservacionesPROL[0].Descripcion</div>
        <div class="div-3">
            <div class="input_modal"><input type="button" value="Cerrar" onclick="$('#divObservacionesPROL').dialog('close');" /></div>
        </div>
    </div>
}

@Html.Hidden("hdfMensajePedido", mensajePedido.Trim().Replace(" ", "_"))
@if(ViewBag.PedidoWebDetalle!=null){
@Html.Hidden("hdfPedidoWebDetalle",Html.Raw(Json.Encode(( List<BEPedidoWebDetalle>)ViewBag.PedidoWebDetalle)))
@Html.Hidden("hdfObservacionesPROL",Html.Raw(Json.Encode(Model)))
}

