@using Portal.Consultoras.Common
@model Portal.Consultoras.Web.Models.PedidoDetalleModel

@{
    ViewBag.Title = "Pedido Reservado";
}

@section styles{
    <link href="@Url.Content("~/Content/Css/Site/style-pedido.css")" rel="stylesheet" />
}

<div class="franja_negra pedidoReservado" style="background: #000 url(@ViewBag.UrlFranjaNegra) no-repeat center bottom;"></div>
<div class="wrapper_general2">
    @if (ViewBag.ZonaNuevoPROL == true)
    {
        <h1 class="titulo_principal_interiores pedido_left">PEDIDO <strong>RESERVADO CON ÉXITO</strong></h1>
    }
    else
    {
        <h1 class="titulo_principal_interiores pedido_left">PEDIDO <strong>VALIDADO CON ÉXITO</strong></h1>
    }
    <div class="clear"></div>
    <div class="caja_pedidos pedidoReservado">

        @Html.Hidden("hdfCorreo", (string)Model.eMail)

        <div id="divBarra" style="display: none;">
            <div id="divBarraMensaje">
                <div id="divBarraMensajeLogrado" style="display:none;">
                    <div style="float:right;">
                        <div class="content_BarrMensaje">
                            <div class="mensaje_barra" style="display: inline;"></div>
                            <div class="agrega_barra"></div>
                        </div>
                        <hr class="clear" />
                        <div class="flechita_barra"></div>
                    </div>
                    <hr class="clear" />
                </div>
            </div>
            <hr class="clear" />
            <div id="divBarraLimite">
            </div>
            <hr class="clear" />
            <div id="divBarraPosicion" class="BarraPosicion">
                <span id="divBarraEspacioLimite" class="BarraLimite">
                    <span id="divBarraEspacioLogrado" class="BarraLogrado"></span>
                </span>
            </div>
            <div class="informacion_barra">*Información referencial. Todo pedido realizado a través de la web está sujeto a stock.</div>
        </div>
        <div class="clear"></div>

        <div class="escalaDescuento_texto" style="margin-bottom: 20px; margin-top: 5px;">
            <div class="iconos_acciones">
                <div class="icono_email">
                    <a href="javascript:;" title="Enviar por Correo">
                        <img src="@Url.Content("~/Content/Images/Esika/imprimir.png")" alt="Enviar por correo" onclick="EnviarCorreo();" />
                    </a>
                </div>
            </div>
            <div class="clear"></div>
            <div style="margin-top: 20px; overflow: hidden; margin-bottom: -10px;">
                <div class="titulo_mis_pedidos">
                    @if (ViewBag.ZonaNuevoPROL == true)
                    {
                        <h1>MI <b>PEDIDO RESERVADO CON ÉXITO</b></h1>
                    }
                    else
                    {
                        <h1>MI <b>PEDIDO VALIDADO CON ÉXITO</b></h1>
                    }
                </div>

                <div id="paginadorCab"></div>

            </div>
            <hr class="clear" />
        </div>

        <div id="divListadoPedido" class="divListadoPedido">
            <div class="linea_separadora" style="height:2px;"></div>
            <div class="content_listado_notificaciones">
                <div class="cod_venta_listado texto_gris">Código</div>
                <div class="descripcion_listado texto_gris">Producto</div>
                <div class="cantidad_listado texto_gris">Cantidad</div>
                <div class="unitario_listado texto_gris">Precio Unitario</div>
                <div class="total_listado texto_gris">Precio Total</div>
                <div class="cliente_listado texto_gris">Cliente</div>
            </div>
            <div class="linea_separadora"></div>
            <div id="divListado"></div>
        </div>
        <div class="montos_pedidoValidado">
            <div class="contenedor_montos_sinDescuento">
                <div class="caja_montos_textos_sinDescuento pValidado">
                    <span>TOTAL SIN DSCTO.</span>
                    <span class="dscto_ofertasNiveles">(-) Dscto. Ofertas Por Niveles</span>
                </div>
                <div class="caja_montos_cantidades_sinDescuento pValidado">
                    <span>@Model.Simbolo @Model.TotalSinDsctoFormato</span>
                    <span>@Model.Simbolo @ViewBag.MontoDescuento</span>
                </div>
            </div>
            <hr class="clear">

            <div class="monto_totalValidado"><b>MONTO TOTAL :</b><span>@Model.Simbolo @Model.TotalConDsctoFormato</span></div>

            <hr class="clear" />
            <div class="monto_gananciaValidado">
                @{
                    string cabezaEscala = null, pieEscala = null;
                    string lbl1Ganancia = null, lbl2Ganancia = null;

                    if (Model.PaisID == 11 || Model.PaisID == 4 || Model.PaisID == 6 || Model.PaisID == 7 || Model.PaisID == 8
                        || Model.PaisID == 12 || Model.PaisID == 13) //PE,CO,EC,GT.SV,PR,DO
                    {
                        cabezaEscala = "Ganancia estimada total";
                        pieEscala = "Ganancia total = Ahorro estimado proveniente de sus descuentos por compras en catálogo + ahorro estimado proveniente de compras en Guía de Negocio y Otros";
                        lbl1Ganancia = "Mis descuentos";
                        lbl2Ganancia = "Ganancia estimada *(Guia de negocio y otros)";
                    }
                    else if (Model.PaisID == 9 || Model.PaisID == 10) //PA,MX
                    {
                        cabezaEscala = "Ganancia estimada total";
                        pieEscala = "Ganancia total = Ahorro estimado proveniente de sus descuentos por compras en catálogo + ahorro estimado proveniente de compras en Revista y Otros";
                        lbl1Ganancia = "Mis descuentos";
                        lbl2Ganancia = "Ganancia estimada *(Revista y otros)";
                    }
                    else if (Model.PaisID == 3) //CH
                    {
                        cabezaEscala = "Comisión y ahorro total";
                        pieEscala = "Comisión = ganancia estimada proveniente de tus descuentos por compras en catálogo; Ahorro = ahorro estimado proveniente de compras en Guía de Negocio y Otros";
                        lbl1Ganancia = "Mis descuentos (-)10% retencion comisión liquida";
                        lbl2Ganancia = "Ahorro estimado *(Guia de negocio y otros)";
                    }
                    else if (Model.PaisID == 14) //VE
                    {
                        cabezaEscala = "Oportunidad de ahorro total";
                        pieEscala = "Oportunidad de Ahorro Total = Ahorro estimado proveniente de sus descuentos por compras en catálogo + ahorro estimado proveniente de compras en Revista y Otros";
                        lbl1Ganancia = "Por tus compras de productos de catalogo";
                        lbl2Ganancia = "Por tus comprar de productos de revista";
                    }
                    else if (Model.PaisID == 2) //BO
                    {
                        cabezaEscala = "Ganancia total";
                        pieEscala = "Ganancia total = Ahorro estimado proveniente de sus descuentos por compras en catálogo + ahorro estimado proveniente de compras en Guía de Negocio y Otros";
                        lbl1Ganancia = "Mis descuentos";
                        lbl2Ganancia = "Ganancia estimada *(Guia de negocio y otros)";
                    }
                    else if (Model.PaisID == 5) //CR
                    {
                        cabezaEscala = "Oportunidad de ahorro total";
                        pieEscala = "Oportunidad de Ahorro Total = Ahorro estimado proveniente de sus descuentos por compras en catálogo + ahorro estimado proveniente de compras en Revista y Otros";
                        lbl1Ganancia = "Mis descuentos";
                        lbl2Ganancia = "Oportunidad de ahorro *(Revista y otros)";
                    }
                }


                @(cabezaEscala): <span>@Model.Simbolo @ViewBag.GananciaEstimada</span>

                <input type="hidden" id="hdeCabezaEscala" value="@cabezaEscala" />
                <input type="hidden" id="hdePieEscala" value="@pieEscala" />
                <input type="hidden" id="hdeLbl1Ganancia" value="@lbl1Ganancia" />
                <input type="hidden" id="hdeLbl2Ganancia" value="@lbl2Ganancia" />
            </div>

            <div class="info_extra_Validado abrir_popupMisGanancias">
                <img src="@Url.Content("~/Content/Images/Esika/info-copy.png")" onclick="MostrarDetalleGanancia();">
            </div>

            <hr class="clear" />
            <div>
                <a class="btn_ModificaPedido" onclick="ModificarPedido();">MODIFICA TU PEDIDO</a>

                @{
                    string[] tooltips = ViewBag.ProlTooltip.Split('|');
                    string tooltip1 = tooltips[0];
                    string tooltip2 = tooltips[1];
                }

                <div class="info_modificarvalidado">
                    <div class="icono_tooltip_validado"></div>
                    <div class="info_tooltip" style="width: 172px;">@tooltip1 <br /> @tooltip2 </div>
                </div>

                <hr class="clear" />
            </div>
            <hr class="clear" />
            <div class="linea_gris" style="margin-top:30px"></div>
        </div>
        
        <div class="contenedor_eliminacion_pedido">
            @if (ViewBag.EsKitNueva == 1)
            {
                <p class="precio_total_sinDescuento">
                    <span class="icon-advertencia"></span>
                    <span>
                        Por ser tu primer pedido estarás recibiendo el Kit de nuevas, el cual será incluido en tu factura.
                    </span>
                </p>
            }
        </div>
        <div class="clear"></div>

        <div class="datos_para_movil">
            @if (ViewBag.Pais_ISO == Constantes.CodigosISOPais.CostaRica)
            {
                <p class="productos_ingresados_movil">
                    <span class="icon-mobile"><img src="@Url.Content("~/Content/Images/mobile-pedido.png")" alt="" /></span><b> Producto ingresado por aplicación "Pedido Belcorp" desde celular.</b>
                </p>
            }
            else if (ViewBag.PedidoProductoMovil == 1)
            {
                <p class="productos_ingresados_movil">
                    <span class="icon-mobile"><img src="@Url.Content("~/Content/Images/mobile-pedido.png")" alt="" /></span><b> Tienes productos pendientes de validación ingresados desde celular, por favor modifique su pedido y valide nuevamente.</b>
                </p>
            }
        </div>

        <div class="contenedor_banners">
            <ul>
                <li>
                    <a href="@Model.accionBanner_01" title="Descúbrelos aquí" target="_blank">
                        <div class="imagen_banner_inferior">
                            <img src="@ViewBag.UrlBanner01" alt="Descúbrelos aquí" />
                        </div>
                        <div class="nombre_banner_inferior">DESCÚBRELOS AQUÍ</div>
                    </a>
                </li>

                @if (ViewBag.Pais_ISO == Constantes.CodigosISOPais.Venezuela)
                {
                    <li>
                        <a href="javascript:;" title="Monto Mínimo">
                            <div class="imagen_banner_inferior">
                                <img src="@ViewBag.UrlBanner02" alt="Monto Mínimo" />
                            </div>
                            <div class="nombre_banner_inferior">MONTO MÍNIMO</div>
                        </a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="javascript:void(0);" onclick="MostrarMensaje('Para acceder a esta opción primero debes Modificar tu Pedido.');" title="Entérate aquí">
                            <div class="imagen_banner_inferior">
                                <img src="@ViewBag.UrlBanner02" alt="Entérate aquí" />
                            </div>
                            <div class="nombre_banner_inferior">ENTÉRATE AQUÍ</div>
                        </a>
                    </li>
                }

                <li>
                    <a href="javascript:;" title="Infórmate aquí" onclick="CargarProductoAgotados(1);">
                        <div class="imagen_banner_inferior">
                            <img src="@ViewBag.UrlBanner03" alt="Infórmate aquí" />
                        </div>
                        <div class="nombre_banner_inferior">INFÓRMATE AQUÍ</div>
                    </a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
</div>

<div id="DialogMensajes" style="display: none;">
    <div class="terminos_title_2">
        MENSAJE
    </div>
    <div class="linea_superior margin_10"></div>
    <div class="pop_pedido_mensaje">
    </div>
</div>

<div class="contenedor_popup_productosAgotados" id="divProductoAgotado" style="display: none;">
    <div class="popup_productosAgotados">
        <div class="btn_cerrar_agregarUnidades">
            <a href="javascript:void(0);" onclick="CerrarProductoAgotados()">
                <img src="@Url.Content("~/Content/Images/btn_cerrar_popup.svg")" alt="Cerrar" />
                <span class="texto_btn_cerrar">CERRAR</span>
            </a>
        </div>
        <div class="contenedor_lista_productosAgotados">
            <h6>PRODUCTOS <b>AGOTADOS</b> de <b>@((string)ViewBag.Campania.ToUpper())</b></h6>
            
            <div class="content_cuv">
                <section>
                    <div class="filtroInput">
                        <label for="ddlCategoriaProductoAgotado">Categoria</label>
                        <select id="ddlCategoriaProductoAgotado" class="producto_faltante"></select>
                    </div>
                    <div class="filtroInput">
                        <label for="producto-faltante-busqueda-cuv">CUV</label>
                        <input id="producto-faltante-busqueda-cuv" type="text" class="producto_faltante ValidaNumeralPedido" maxlength="5">
                    </div>
                    <div class="filtroInput">
                        <label for="producto-faltante-busqueda-descripcion">Producto</label>
                        <input id="producto-faltante-busqueda-descripcion" type="text" class="producto_faltante">
                    </div>
                    <div class="filtroInput">
                        <label for="ddlCatalogoRevistaProductoAgotado">Catalogo o Revista</label>
                        <select id="ddlCatalogoRevistaProductoAgotado" class="producto_faltante"></select>
                    </div>
                    <div class="filtroButton">
                        <input type="button" onclick="CargarProductoAgotados(0);" class="buscar_icono">
                    </div>
                    <br style="clear:both;" />
                </section>
            </div>

            <div class="tabla_productos_agotados" id="tblProductosFaltantes"  style="overflow-y:hidden;"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="contenedor_fondo_popup_ganancia" id="popupGanancias" style="display:none;">
    <div class="popup_mis_ganancias">
        <div class="btn_cerrar_actualizarMisDatos">
            <a href="javascript:;" title="Cerrar" class="cerrar_tutorial" onclick="return $('#popupGanancias').fadeOut(200);">
                <img src="@Url.Content("~/Content/Images/btn_cerrar_popup.svg")" alt="Cerrar" />
                <span class="texto_btn_cerrar">CERRAR</span>
            </a>
        </div>
        <div class="contenido_misGanancias" id="detalleGanancia">
            <h6>GANANCIA ESTIMADA TOTAL</h6>
            <div class="mis_descuentos">
                <span class="mis_descuentos_texto">Mis descuentos</span>
                <span class="mis_descuentos_monto">@Model.Simbolo @ViewBag.MontoAhorroCatalogo</span>
            </div>
            <div class="mis_descuentos">
                <span class="mis_descuentos_texto">Oportunidad de ahorro (Revista y otros)</span>
                <span class="mis_descuentos_monto">@Model.Simbolo @ViewBag.MontoAhorroRevista</span>
            </div>
            <div class="separador_montos_misGanancias"></div>
            <div class="mis_descuentos">
                <span class="monto_total_misGanancias">@Model.Simbolo @ViewBag.GananciaEstimada</span>
            </div>
            <div class="nota_popup_misGanancias">
                <span>*Oportunidad de ahorro= ahorro estimado proveniente de la resta de los precios en catálogo de los productos menos el monto a pagar de los mismos.</span>
            </div>
        </div>
    </div>
</div>

<div id="divConfirmValidarPROL" style="display: none;">
    <div class="terminos_title_2">
        Importante
    </div>
    <div class="linea_superior margin_10"></div>
    <div class="pop_pedido_mensaje">
        <ul>
            <li>Al hacer click en el botón <b>"Continuar"</b> se perderá la reserva de tus productos. Recuerda, que si lo modificas debes volver a validar.</li>
        </ul>
    </div>
    <div style="text-align: center; margin-top: 30px;">
        <input id="btnValidarConfirm" type="button" value="Cancelar" onclick="CerrarDialogo('divConfirmValidarPROL')" class="input_modifica_horizontal" style="width: 120px; margin-left: 0;" />
        <input id="btnNoValidarConfirm" type="button" value="Continuar" onclick="ConfirmarModificar()" class="input_modifica_horizontal" style="width: 120px; margin-left: 20px;" />
    </div>
</div>

<div id="loadingScreen"></div>

@Html.Hidden("hdfModificacionPedidoProl", Model.ModificacionPedidoProl)


<script id="producto-template" type="text/x-handlebars-template">
    <div class="linea_separadora" style="height:2px;"></div>
    <div class="content_listado_notificaciones">
        <div class="cod_venta_listado texto_gris">Código</div>
        <div class="descripcion_listado texto_gris">Producto</div>
        <div class="cantidad_listado texto_gris">Cantidad</div>
        <div class="unitario_listado texto_gris">Precio Unitario</div>
        <div class="total_listado texto_gris">Precio Total</div>
        <div class="cliente_listado texto_gris">Cliente</div>
    </div>
    <div class="linea_separadora"></div>
    {{#each this}}
    <div class="content_listado_notificaciones">
        <div class="cod_venta_listado">{{CUV}}</div>
        <div class="descripcion_listado pedidoPadreToolTip descri_list" style="position:relative;">
            
            <span class="texto_pedidos_ofertas">
                <label for="{{DescripcionOferta}}">{{DescripcionOferta}}</label>
            </span>

            {{#if_eq TipoPedido 'M'}}
            <span style="position:relative">
                <p class="productos_ingresados_movil">
                    <span class="icon-mobile"><img src="@Url.Content("~/Content/Images/mobile-pedido.png")" alt="Alternate Text" /></span>
                </p>
                <label for="{{DescripcionCortadaProd}}" id="lblLPDesProd{{PedidoDetalleID}}">{{Split DescripcionCortadaProd '|' 0}}</label>
            </span>
            {{else}}
            <span style="position:relative">
                <label for="{{DescripcionCortadaProd}}" id="lblLPDesProd{{PedidoDetalleID}}">{{Split DescripcionCortadaProd '|' 0}}</label>
            </span>
            {{/if_eq}}

            <div id="tooltipDescPro" class="tooltipPedido">
                {{Split DescripcionProd '|' 0}}
            </div>

        </div>
        <div class="cantidad_listado cantidad_listado_pdd">{{Cantidad}}</div>
        <div class="unitario_listado">@Model.Simbolo {{FormatoPrecioUnidad}}</div>
        <div class="total_listado">@Model.Simbolo {{FormatoImporteTotal}}</div>
        <div class="cliente_listado">{{Nombre}}</div>

        {{#if AceptoBackOrder}}
        <div class="stock_content_aceptado">
            <div class="texto_stock" style="color:black"><b>Te entregaremos el producto en la siguiente campaña.</b></div>
        </div>
        {{/if}}

    </div>

    {{#each this.ListObservacionProl}}
    <div class="content_listado_notificaciones">
        <div class="mensaje_producto_validado">{{{this}}}</div>
    </div>
    {{/each}}

    {{/each}}
</script>

<script id="paginador-template" type="text/x-handlebars-template">
    <ul class="paginador_notificaciones js-paginador-percepciones" data-paginacion="block" style="margin-top:5px">
        <li class="seleccion_pagina">
            <select data-paginacion="rows" style="height: 24px;" data-val="{{RegistrosTotal}}">
                <option value="10">ver 10 filas</option>
                <option value="20">ver 20 filas</option>
                <option value="30">ver 30 filas</option>
                <option value="40">ver 40 filas</option>
                <option value="50">ver 50 filas</option>
            </select>
        </li>
        <li class="texto_pagina">Página</li>
        <li class="flecha_paginador_atras" data-paginacion="back"></li>
        <li style="margin-right: 6px;">
            <span class="paginas_pedidos">
                <span class="pagina_actual">
                    <input type="text" name="paginaactual" data-paginacion="page" value="{{Pagina}}" class="ValidaNumeral ValidaPasteNumeral" id="paginaactual" data-val="{{Pagina}}">
                </span> de
                <span class="paginas_totales" id="spnPedidoPaginarPaginaDe" data-paginacion="pageCount">{{PaginaDe}}</span>
            </span>
        </li>
        <li class="flecha_paginador_adelante" data-paginacion="next"></li>
    </ul>
</script>

<script id="productos-faltantes-template" type="text/x-handlebars-template">
    <table>
        <tr>
            <th class="categoria_productoAgotado">Categoría</th>
            <th class="codigo_productoAgotado">Código</th>
            <th class="producto_productoAgotado">Producto</th>
            <th class="catalogo_productoAgotado">Catálogo o Revista</th>
            <th class="pagina_productoAgotado">Página</th>
        </tr>
        <tr>
            <td colspan="5" style="padding-right: 0;">
                <table style="max-height:308px; overflow-y: auto; display: block;">
                    {{#each this.Detalle}}
                    <tr>
                        <td>{{Categoria}}</td>
                        <td>{{CUV}}</td>
                        <td>{{Descripcion}}</td>
                        <td>{{Catalogo}}</td>
                        <td class="text-right">{{NumeroPagina}}</td>
                    </tr>
                    {{/each}}
                </table>
            </td>
        </tr>
        <tr id="tfoot">
            <td colspan="5" style="text-align: right;"> No se encontró información</td>
        </tr>
    </table>
</script>

@section scripts{
    <script type="text/javascript">
        var correoElectronico = '@Model.eMail';
        var urlLoad = '@Url.Content("~/Content/Images/Loading.gif")';
    </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/Pedido/Validado.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/Pedido/barra.js")"></script>
}
