@model Portal.Consultoras.Web.Models.PedidoDetalleModel
@{
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
    ViewBag.Title = "Pedido Validado";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <title>Belcorp | Portal Consultoras</title>

    <meta name="description" content="" />
    <meta name="author" content="" />

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script type="text/javascript">var baseUrl = "@Url.Content("~")"; </script>
    @System.Web.Optimization.Scripts.Render("~/bundles/JQueryJs")
    @System.Web.Optimization.Scripts.Render("~/bundles/JQGridJs")
    <link href = "@Url.Content("~/Content/Css/ui.jquery/jquery-ui.css")" rel="stylesheet" type="text/css" />
    <link href = "@Url.Content("~/Content/Css/ui.jqgrid/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
    <link href = "@Url.Content("~/Content/Css/Site/style.css")" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
        window.history.forward();
        function noBack() { window.history.forward(); }
    </script>
    <script type="text/javascript" src="~/Scripts/General.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.preloadify.min.js"></script>

    <!-- HTML5 Shiv -->
    <script type="text/javascript" src="~/Scripts/modernizr.custom.js"></script>

    <script type="text/javascript" src="~/Scripts/jquery.cycle.all.min.js"></script>
    <script type="text/javascript" src="~/Scripts/respond.min.js"></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/JsonSupport.js")'></script>
    <style type="text/css"> 
    * 
    { 
    font-family: Arial !Important; 
    } 
    </style>
</head>
<body onload="noBack();" onpageshow="if (event.persisted) noBack();" onunload="">

    <div class="wrap_cab">
        <!-- ***************** - Header - ***************** -->
        <header id="header">
		
		<div class="container clearfix">
			
            <div class="top_head">
            	<div class="top_head1" id="userWelcome">Hola, @ViewBag.Usuario</div>
            	<div class="top_head2">
                  	<ul>
                    	<li>Mis Datos</li>
                    	<li>Ayuda</li>
                    	<li>Cerrar Sesión</li>
                    </ul>
                </div>
            	<div class="top_head3">
				<form action="" class="" id="" />
					<div class="top_head3_input"><input type="text" name="search" id="search" /></div>
					<div class="top_head3_btn"><input type="submit" class="btn_search" id="submit" value="" /></div>
				</form>
                </div>
            	<div class="top_head4">
                	<div class="pais">
                    <img src='@Url.Content("~/Content/Banderas/" + ViewBag.BanderaImagen)'>
                    <p>@ViewBag.NombrePais</p>
                    </div>
                </div>
            </div>
            
			<a href="#" id="logo">
                <img src="~/Content/Images/logo_belcorp.png" alt="" id="imgLogo" />
			</a>
                
                  <a class="toggleMenu" href="#">Menu</a>
                  <div class="menu_responsive">
                      
                  </div>
		</div>

	</header>
    </div>
    <div class="wrap_cab">
        <div class="filtros">
            <div class="elements">
        	    <div class="div-1">
                    @*<div class="box">
                        <div class="box-t"></div>
                        <div class="box-c">
                            <p class="azul">Estás en <span>@ViewBag.Campania</span>, te quedan <strong>@ViewBag.Dias días</strong> para el cierre.</p>
                            <p>@ViewBag.MensajeCierreCampania</p>
                        </div>
                        <div class="box-b"></div>
                    </div>*@
                </div>
        	    <div class="div-2"><h1><span>Pedido</span> validado con éxito</h1></div>
            </div>	
        </div>
    </div>
    <div class="wrap">
        <div class="container clearfix">
            @Html.Hidden("hdfCorreo", (string)Model.eMail)
            <div class="top_tabla">
    	        <div class="email" onclick="EnviarCorreo()" style = "cursor:pointer;">E-mail</div>
    	        <div class="imprimir" onclick="Imprimir()" style = "cursor:pointer;">Imprimir</div>
            </div>

            <div class="border-wrapper">
                <div id="divListadoPedido" class="tabla">
                    @if (Model != null)
                    {
                        Html.RenderPartial("ListadoPedidoReservado", this.Model);
                    }
                </div>
            </div>
            <div class="sep"></div>
            <div class="elements2">
        	    <div class="div-3">
                    <div class="input_modifica">
                        @using (Ajax.BeginForm("ModificarPedidoReservado", "Pedido", new AjaxOptions { HttpMethod = "Post", OnBegin = "AbrirSplash()", OnComplete = "CerrarSplash()", OnSuccess = "Success()", OnFailure = "Error()", Confirm = "La acción de Modificar su Pedido deshará la reserva realizada. Esta seguro que desea continuar?" }))
                        {
                            <input type="submit" name="" id="btnModificarPedido" value="Modifica tu Pedido" />
                        }
                    </div>
				    <div class="total">Monto Total: <span id="sSimbolo" class="superindice">@ViewBag.Simbolo</span><span id="sTotal" class="num">@ViewBag.Total</span></div>
                </div>
            </div>


            <div class="sep"></div>

            <div class="banner-wrapper">
                <div class="one-fourth">
                    <img src="~/Content/Images/ban-1.png" class="ajust" />
                </div>
                <!--/ .one-fourth-->

                <div class="one-fourth">
                    <img src="~/Content/Images/ban-2.png" class="ajust"/>
                </div>
                <!--/ .one-fourth-->

                <div class="one-fourth">
                    <img src="~/Content/Images/ban-3.png" class="ajust" />
                </div>
                <!--/ .one-fourth-->

                <div class="one-fourth last">
                    <img src="~/Content/Images/ban-4.png" class="ajust" />
                </div>
                <!--/ .one-fourth-->
            </div>
        </div>
    </div>
    <div class="wrap">

        <div class="container clearfix">
            <div class="b_responde">
                <div class="logos">
                    <img src="~/Content/Images/ban-5.png" />
                    <img src="~/Content/Images/ban-6.png" />
                    <img src="~/Content/Images/ban-7.png" />
                </div>
                <div class="responde">
                    <img src="~/Content/Images/logo_responde.png" />
                </div>
            </div>

        </div>
    <footer id="footer">
		
		<div class="container clearfix">
			<div class="foot_list">
                <label>Links</label>
                <ol>
                <li>Ingresa tu Pedido</li>
                <li>Catálogo Virtual</li>
                <li>Estado de Cuenta</li>
                <li>Productos agotados</li>
                <li>CAPEDEVI</li>
                <li>Clientes</li>
                <li>Superate</li>
                <li>Mis Datos</li>
                <li>Ayuda</li>
                <li>Términos y Condiciones</li>
                </ol>
            </div>
			<div class="foot_social">
            	<label>Síguenos</label>
				<p><img src="~/Content/Images/ico_facebook.png" /></p>
				<p><img src="~/Content/Images/ico_twitter.png" /></p>
			</div>
			<div class="foot_belcorp">
                <p><img src="~/Content/Images/logo_foot.png"></p>
				<p><strong>Av. República de Panamá 3664 - San Isidro</strong></p>
				<p><strong>Central Telefónica: 519 20 00</strong></p>
				<p>Copyright Belcorp 2012. All rights reserved</p>
			</div>
		</div>
	</footer>
    </div>
    <script type="text/javascript" src="~/Scripts/jqueryslidemenu.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="~/Scripts/trans-banner.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.touchSwipe.min.js"></script>
    <script type="text/javascript" src="~/Scripts/custom.js"></script>
</body>
</html>
