@using Portal.Consultoras.Common
@model Portal.Consultoras.Web.Models.PedidoDetalleModel

@{
    ViewBag.Title = "Pedido Reservado";
}

@section styles{
    <link href="@Url.Content("~/Content/Css/Site/style-pedido.css")" rel="stylesheet" />
}

<div class="franja_negra pedidoReservado"></div>
<div class="wrapper_general2">
    @if (ViewBag.ZonaNuevoPROL == true)
    {
        <h1 class="titulo_principal_interiores pedido_left">PEDIDO <strong>RESERVADO CON ÉXITO</strong></h1>
    }
    else
    {
        <h1 class="titulo_principal_interiores pedido_left">PEDIDO <strong>VALIDADO CON ÉXITO</strong></h1>
    }
    <div class="clear"></div>
    <div class="caja_pedidos pedidoReservado">

        <div class="escalaDescuento_texto" style="margin-bottom: 20px;">
            <div style="float:left;">
                <div class="content_BarrMensaje">
                    <div class="mensaje_barra" style="display: inline;">¡YA LLEGAS AL 30% DSCTO!</div>
                    <div class="agrega_barra">Solo agrega S/. 313.19 más.</div>
                </div>
                <hr class="clear">
                <div class="flechita_barra"></div>
            </div>

            @*@if (ViewBag.EscalaDescuento != 0)
            {
                <div class="mensaje_escalaDescuento">¡Tú puedes! Te faltan <strong>&nbsp;@ViewBag.Simbolo @ViewBag.MontoEscalaDescuento</strong> para llegar a tu siguiente escala de descuento de <strong>&nbsp; @ViewBag.PorcentajeEscala%.</strong></div>
            }*@

            <div class="iconos_acciones">

                <div class="icono_email">
                    <a href="javascript:;" title="Enviar por Correo">
                        <img src="@Url.Content("~/Content/Images/Esika/imprimir.png")" alt="Enviar por correo" onclick="EnviarCorreo();" />
                    </a>
                </div>
            </div>
            <div class="clear"></div>
            <div style="margin-top: 20px; overflow: hidden; margin-bottom: -10px;">
                <div class="titulo_mis_pedidos">
                    <h1>MI <b>PEDIDO RESERVADO CON ÉXITO</b></h1>
                </div>
                <ul class="paginador_notificaciones js-paginador-percepciones" data-paginacion="block" style="margin-top:5px">
                    <li class="seleccion_pagina">
                        <select data-paginacion="rows" style="height: 24px;" data-val="">
                            <option value="10">ver 10 filas</option>
                            <option value="20">ver 20 filas</option>
                            <option value="30">ver 30 filas</option>
                            <option value="40">ver 40 filas</option>
                            <option value="50">ver 50 filas</option>
                        </select>
                    </li>
                    <li class="texto_pagina">Página</li>
                    <li class="flecha_paginador_atras" data-paginacion="back"></li>
                    <li style="margin-right: 6px;">
                        <span class="paginas_pedidos">
                            <span class="pagina_actual">
                                <input type="text" name="paginaactual" data-paginacion="page" value="1" class="ValidaNumeral" id="paginaactual" data-val="1">
                            </span> de
                            <span class="paginas_totales" id="spnPedidoPaginarPaginaDe" data-paginacion="pageCount">2</span>
                        </span>
                    </li>
                    <li class="flecha_paginador_adelante" data-paginacion="next"></li>
                </ul>
            </div>
            <hr class="clear" />
        </div>

        <div id="divListadoPedido" class="divListadoPedido">
            <div class="linea_separadora" style="height:2px;"></div>
            <div class="content_listado_notificaciones">
                <div class="cod_venta_listado texto_gris">Código</div>
                <div class="descripcion_listado texto_gris">Producto</div>
                <div class="cantidad_listado texto_gris">Cantidad</div>
                <div class="unitario_listado texto_gris">Precio Unitario</div>
                <div class="total_listado texto_gris">Precio Total</div>
                <div class="cliente_listado texto_gris">Cliente</div>
            </div>
            <div class="linea_separadora" style="margin-top:-1px;"></div>
            <div class="content_listado_notificaciones">
                <div class="cod_venta_listado">00059</div>
                <div class="descripcion_listado">CY ESMALTE NAILS IN CITRUS IN</div>
                <div class="cantidad_listado">1</div>
                <div class="unitario_listado">S/. 14.90</div>
                <div class="total_listado">S/. 14.90</div>
                <div class="cliente_listado">usuariopruebape</div>
            </div>
            <div class="content_listado_notificaciones">
                <div class="cod_venta_listado">00059</div>
                <div class="descripcion_listado">CY ESMALTE NAILS IN CITRUS IN</div>
                <div class="cantidad_listado">1</div>
                <div class="unitario_listado">S/. 14.90</div>
                <div class="total_listado">S/. 14.90</div>
                <div class="cliente_listado">usuariopruebape</div>
            </div>
            <div class="content_listado_notificaciones">
                <div class="cod_venta_listado">00059</div>
                <div class="descripcion_listado">CY ESMALTE NAILS IN CITRUS IN</div>
                <div class="cantidad_listado">1</div>
                <div class="unitario_listado">S/. 14.90</div>
                <div class="total_listado">S/. 14.90</div>
                <div class="cliente_listado">usuariopruebape</div>
            </div>

        </div>
        <div class="montos_pedidoValidado">
            <div class="monto_totalValidado">MONTO TOTAL: <span>S/. 580.000.00</span></div>
            <div class="info_extra_Validado">
                <img src="@Url.Content("~/Content/Images/Esika/info-copy.png")">
                <!--MONTOS-->
                <div class="monto_resumenValidado">
                    <div class="monto_1">Total sin Dscto.</div>
                    <div class="monto_numero" style="opacity:0.6">S/.  680,000,000</div>
                    <hr class="clear" />
                    <div class="monto_1">Dscto. por niveles </div>
                    <div class="monto_numero">S/. -100,000,000</div>
                </div>
                <!--FIN-->
            </div>

            <hr class="clear" />
            <div class="monto_gananciaValidado">MI GANANCIA: <span>S/. 150.000.00</span></div>
            <hr class="clear" />
            <a class="btn_ModificaPedido" href="#">MODIFICA TU PEDIDO</a>
            <div class="info_modificarvalidado">
                Es importante <br />que guardes tu pedido
                <span>Puedes realizar cambios hasta el 6 de Junio. </span>
            </div>
            <hr class="clear" />
            <div class="linea_gris" style="margin-top:30px"></div>
            <div class="eliminar_pedidoValidado">Para eliminar el pedido completo haz <a href="#">click aquí</a></div>
            <div class="eliminar_pedidoValidado" style="float:left">
                <span style="color: #e81c36">(*)</span>    El precio no incluye el descuento de ofertas por niveles.<br />
                Guarda tu pedido y elegiremos la mejor opción para ti.
            </div>


        </div>
        <!--CAJA GUARDAR PEDIDO-->
        @*<div class="caja_guardar_pedido">
                <div class="contenedor_guardadoPedido">
                    <div class="bloque_montosPedido">
                        <div class="caja_montos">

                            @if (ViewBag.EstadoSimplificacionCUV != null && ViewBag.EstadoSimplificacionCUV)
                            {

                                <div class="caja_montos_textos">
                                    <p class="monto_total">
                                        SUB TOTAL :
                                    </p>
                                    <p class="monto_total">
                                        <img src="@Url.Content("~/Content/Images/indicador.png")" /> DESCUENTO POR OFERTAS CON MÁS DE UN PRECIO :
                                    </p>
                                    <p class="monto_total">
                                        MONTO TOTAL :
                                    </p>
                                </div>
                                <div class="caja_montos_cantidades">
                                    <p class="monto_total">
                                        <b>
                                            @Model.Simbolo
                                            @(ViewBag.Pais_ISO == "CO" ? Convert.ToDecimal(ViewBag.SubTotal).ToString("#,##0").Replace(',', '.') : ViewBag.SubTotal)
                                        </b>
                                    </p>
                                    <p class="monto_total">
                                        <b>
                                            @ViewBag.Simbolo @String.Format("{0:N2}", ViewBag.Descuento)
                                        </b>
                                    </p>
                                    <p class="monto_total">
                                        <b>
                                            @Model.Simbolo
                                            @(ViewBag.Pais_ISO == "CO" ? Convert.ToDecimal(ViewBag.Total).ToString("#,##0").Replace(',', '.') : ViewBag.Total)
                                        </b>
                                    </p>
                                </div>
                            }
                            else
                            {
                                <div class="caja_montos_textos">
                                    <p class="monto_total" style="line-height:29px;">
                                        MONTO TOTAL :
                                    </p>
                                    <p class="monto_ganancia">
                                        MI GANANCIA :
                                    </p>
                                </div>
                                <div class="caja_montos_cantidades">
                                    <p class="monto_total">
                                        <b>
                                            @Model.Simbolo
                                            @(ViewBag.Pais_ISO == "CO" ? Convert.ToDecimal(ViewBag.Total).ToString("#,##0").Replace(',', '.') : ViewBag.Total)
                                        </b>
                                    </p>
                                    <p class="monto_ganancia">
                                        <b>
                                            @Model.Simbolo
                                            @String.Format("{0:N2}", ViewBag.GananciaEstimada)
                                        </b>
                                    </p>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="contenedor_btnGuardarPedido">
                        <div class="mensajes"></div>
                        <div class="boton_guardarPedido">
                            <input type="button" id="btnModificarPedido" value="Modifica tu Pedido" style="text-transform: uppercase;" class="info_copy" onclick="ModificarPedido();" />
                            <div class="mensaje_fecha_limite_cambios">Para agregar o eliminar productos dar click.</div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>*@

        <div class="contenedor_eliminacion_pedido">
            @if (ViewBag.EsKitNueva == 1)
            {
                <p class="precio_total_sinDescuento">
                    <span class="icon-advertencia"></span>
                    <span>
                        Por ser tu primer pedido estarás recibiendo el Kit de nuevas, el cual será incluido en tu factura.
                    </span>
                </p>
            }
        </div>
        <div class="clear"></div>

        <div class="datos_para_movil">
            @if (ViewBag.Pais_ISO == Constantes.CodigosISOPais.CostaRica)
            {
                <p class="productos_ingresados_movil">
                    <span class="icon-mobile"><img src="@Url.Content("~/Content/Images/mobile-pedido.png")" alt="" /></span><b> Producto ingresado por aplicación "Pedido Belcorp" desde celular.</b>
                </p>
            }
            else if (ViewBag.PedidoProductoMovil == 1)
            {
                <p class="productos_ingresados_movil">
                    <span class="icon-mobile"><img src="@Url.Content("~/Content/Images/mobile-pedido.png")" alt="" /></span><b> Tienes productos pendientes de validación ingresados desde celular, por favor modifique su pedido y valide nuevamente.</b>
                </p>
            }
        </div>

        <div class="contenedor_banners">
            <ul>
                @if (ViewBag.Pais_ISO == Constantes.CodigosISOPais.Peru || ViewBag.Pais_ISO == Constantes.CodigosISOPais.Chile)
                {
                    <li>
                        <a href="javascript:;" onclick="MostrarMensaje('Para acceder a esta opción primero debes Modificar tu Pedido.');" title="Catálogo Personalizado">
                            <img src="@ViewBag.UrlBanner01" alt="Catálogo Personalizado" />
                            <div>CATÁLOGO PERSONALIZADO</div>
                        </a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="@Url.Action("Index", "MisCatalogosRevistas")" title="Mis Catálogos y Revistas">
                            <img src="@ViewBag.UrlBanner01" alt="Mis Catálogos y Revistas" />
                            <div>MIS CATÁLOGOS Y REVISTAS</div>
                        </a>
                    </li>
                }

                @if (ViewBag.Pais_ISO == Constantes.CodigosISOPais.Venezuela)
                {
                    <li>
                        <a href="javascript:;" title="Monto Mínimo">
                            <img src="@ViewBag.UrlBanner02" alt="Monto Mínimo" />
                            <div>MONTO MÍNIMO</div>
                        </a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="@Url.Action("OfertasLiquidacion", "OfertaLiquidacion")" onclick="MostrarMensaje('Para acceder a esta opción primero debes Modificar tu Pedido.');" title="Liquidaciones Web">
                            <img src="@ViewBag.UrlBanner02" alt="Liquidaciones Web" />
                            <div>LIQUIDACIONES WEB</div>
                        </a>
                    </li>
                }
                <li>
                    <a href="javascript:;" title="Productos Agregados" onclick="CargarProductoAgotados();">
                        <img src="@ViewBag.UrlBanner03" alt="Productos Agotados" />
                        <div>PRODUCTOS AGOTADOS</div>
                    </a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
</div>

<div id="DialogMensajes" style="display: none;">
    <div class="terminos_title_2">
        MENSAJE
    </div>
    <div class="linea_superior margin_10"></div>
    <div class="pop_pedido_mensaje">
    </div>
</div>

<div class="contenedor_popup_productosAgotados" id="divProductoAgotado" style="display: none;">
    <div class="popup_productosAgotados">
        <div class="btn_cerrar_productosAgotados">
            <a href="javascript:;" onclick="javascript: $('#divProductoAgotado').hide()">
                <img src="@Url.Content("~/Content/Images/cerrar_04.png")" alt=" alternate text" />
            </a>
        </div>
        <div class="contenedor_lista_productosAgotados">
            <h6>PRODUCTOS <b>AGOTADOS</b></h6>
            <div class="tabla_productos_agotados" id="tblProductoSugerido">
                <table></table>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div id="divConfirmValidarPROL" style="display: none;">
    <div class="terminos_title_2">
        Importante
    </div>
    <div class="linea_superior margin_10"></div>
    <div class="pop_pedido_mensaje">
        <ul>
            <li>Al hacer click en el botón <b>"Continuar"</b> se perderá la reserva de tus productos. Recuerda, que si lo modificas debes volver a validar.</li>
        </ul>
    </div>
    <div style="text-align: center; margin-top: 30px;">
        <input id="btnValidarConfirm" type="button" value="Cancelar" onclick="CerrarDialogo('divConfirmValidarPROL')" class="input_modifica_horizontal" style="width: 120px; margin-left: 0;" />
        <input id="btnNoValidarConfirm" type="button" value="Continuar" onclick="ConfirmarModificar()" class="input_modifica_horizontal" style="width: 120px; margin-left: 20px;" />
    </div>
</div>

<div id="loadingScreen"></div>

@Html.Hidden("hdfModificacionPedidoProl", Model.ModificacionPedidoProl)

@section scripts{
    <script type="text/javascript">
        var correoElectronico = '@Model.eMail';
    </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/Pedido/Validado.js")"></script>
}
