
@using Portal.Consultoras.Common
@model Portal.Consultoras.Web.Models.MisPedidosSb2Model

@{
    ViewBag.Title = "Mis Pedidos";
}

@{
    //var base1 = new BaseController();
    Model.ListaFacturados = Model.ListaFacturados ?? new List<Portal.Consultoras.Web.ServicePedido.BEPedidoWeb>();
    var cantidad = Model.ListaFacturados.Count;
    var mensajeCantidad = cantidad == 0
        ? "No tienes pedidos facturados."
            : "Revisa el detalle de tus pedidos facturados.";
}

@{
    string cabezaEscala = null, pieEscala = null;

    if (ViewBag.PaisISO == Constantes.CodigosISOPais.Peru ||
        ViewBag.PaisISO == Constantes.CodigosISOPais.Colombia ||
        ViewBag.PaisISO == Constantes.CodigosISOPais.Ecuador ||
        ViewBag.PaisISO == Constantes.CodigosISOPais.Guatemala ||
        ViewBag.PaisISO == Constantes.CodigosISOPais.Salvador ||
        ViewBag.PaisISO == Constantes.CodigosISOPais.Dominicana ||
        ViewBag.PaisISO == Constantes.CodigosISOPais.PuertoRico) //PE,CO,EC,GT.SV,DO,PR
    {

        cabezaEscala = "Ganancia estimada total";
        pieEscala = "Ganancia total = Ahorro estimado proveniente de sus descuentos por compras en catálogo + ahorro estimado proveniente de compras en Guía de Negocio y Otros";
    }
    else if (ViewBag.PaisISO == Constantes.CodigosISOPais.Panama ||
        ViewBag.PaisISO == Constantes.CodigosISOPais.Mexico) //PA,MX
    {
        cabezaEscala = "Ganancia estimada total";
        pieEscala = "Ganancia total = Ahorro estimado proveniente de sus descuentos por compras en catálogo + ahorro estimado proveniente de compras en Revista y Otros";
    }
    else if (ViewBag.PaisISO == Constantes.CodigosISOPais.Chile) //CH
    {
        cabezaEscala = "Comisión y ahorro total";
        pieEscala = "Comisión = ganancia estimada proveniente de tus descuentos por compras en catálogo; Ahorro = ahorro estimado proveniente de compras en Guía de Negocio y Otros";
    }
    else if (ViewBag.PaisISO == Constantes.CodigosISOPais.Venezuela) //VE
    {
        cabezaEscala = "Oportunidad de ahorro total";
        pieEscala = "Oportunidad de Ahorro Total = Ahorro estimado proveniente de sus descuentos por compras en catálogo + ahorro estimado proveniente de compras en Revista y Otros";
    }
    else if (ViewBag.PaisISO == Constantes.CodigosISOPais.Bolivia) //BO
    {
        cabezaEscala = "Ganancia total";
        pieEscala = "Ganancia total = Ahorro estimado proveniente de sus descuentos por compras en catálogo + ahorro estimado proveniente de compras en Guía de Negocio y Otros";
    }
    else if (ViewBag.PaisISO == Constantes.CodigosISOPais.CostaRica) //CR
    {
        cabezaEscala = "Oportunidad de ahorro total";
        pieEscala = "Oportunidad de Ahorro Total = Ahorro estimado proveniente de sus descuentos por compras en catálogo + ahorro estimado proveniente de compras en Revista y Otros";
    }
}
<div class="fondo_f9f9f9">
    <div class="content_belcorp content_belcorp_misPedidos">
        <div class="fondo_negro_lateral"></div>
        <div class="titulo_interiores">MIS <span>PEDIDOS</span></div>
        <div class="titulo_tabs mis_pagos_tabs">
            <ul class="tabs_pagos" data-tab="tab">
                <li class="one">
                    <a href="javascript:;" data-tag="UltimasCampanias">
                        <div class="icono_pagos ultima_campana"></div>
                        MIS<b> ULTIMAS CAMPAÑAS</b>
                        <div class="marcador_tab oculto"></div>
                    </a>
                </li>
                @if (Model.MostrarClienteOnline) {
                    <li class="two">
                        <a href="javascript:;" data-tag="PedidosClientesOnline">
                            <div class="icono_pagos online_2"></div>
                            MIS PEDIDOS DEL<b> APP DE CATÁLOGOS</b>
                            <div class="marcador_tab oculto"></div>
                        </a>
                    </li>
                }               
                <hr id="barCursor" />
            </ul>
        </div>
    </div>
    <hr class="clear" />
    <div class="linea_separadora" style="margin-top:-1px"></div>
</div>
<div class="content_belcorp">
    <div class="pestana_lbel" style="margin-bottom:0;"></div>
</div>

@if (Model.MostrarClienteOnline) {
    <div id="ClientesOnline" data-tag-html="PedidosClientesOnline" class="content_belcorp content_belcorp_misPedidos" style="display:none">
        <div class="tabla_misPedidos">
            <div class="icono_online"></div>
            <div class="pedidosFacturados_campania" style="width:auto; float:left; margin-top:48px; margin-bottom:0">
                <h1>MIS PEDIDOS DEL <b> APP DE CATÁLOGOS</b></h1>
                <form novalidate="novalidate">
                    @Html.DropDownListFor(model => model.CampaniaActualConsultoraOnline, new SelectList(Model.CampaniasConsultoraOnline, "CampaniaID", "NombreCorto"), new { id = "ddlCampania" })
                </form>
            </div>
            <hr class="clear" />
            <div class="texto_descripcion" style="margin-top:23px; margin-bottom:17px;">Estos son los <b>pedidos aceptados</b>  que llegaron por el App del catálogo y los portales de Esika, L’Bel y Cyzone.</div>
            <div id="divTablaClientesOnline"></div>
        </div>
    </div>
}

<div id="divUltimosPedidos" data-tag-html="UltimasCampanias" style="display:none">
    <div data-div="f">
        <div class="popup_frame" data-popup="facturado">
            <div class="popup_body">
                <div class="popup_btn_cerrar_top" data-accion="close">
                    <a href="javascript:;" title="Cerrar Popup">
                        <div class="icono_regresar"><span class="img"></span></div>
                        <div class="texto_btn_regresar">REGRESAR A MIS PEDIDOS</div>
                    </a>
                </div>
                <div class="popup_content">
                    <div class="pedidosFacturados_campania">
                        <h1>PEDIDO&nbsp;<b> FACTURADO</b></h1>
                        <form>
                            <select data-selectcamp="" data-selectpedidoid=""></select>
                        </form>
                        <a id="verIngresado" class="veringresado" style="top: 12px;">
                            <b class="flecha_adelante"></b>
                            <b>Pedido Ingresado por Cliente</b>
                        </a>
                    </div>
                    <div class="contenedor_bloque_datos">
                        <span class="texto_descripcion">Estos son los productos que te llegaron en la caja de pedido.</span>
                        <div class="icono_imprimir" style="bottom: 20%;right: 3.5%;">
                            <a href="javascript:;" title="Imprimir">
                                <img src="@Url.Content("~/Content/Images/imprimir.png")" alt="Imprimir" onclick="Imprimir();" />
                            </a>
                        </div>
                        <div class="icono_excel">
                            <a href="javascript:;" title="Descargar Excel">
                                <img src="@Url.Content("~/Content/Images/icono-excel.png")" alt="Descargar Excel" onclick="ExportExcelFacturado(this);" />
                            </a>
                        </div>
                        <div class="linea_separadora" style="height:2px; margin-top:21px;"></div>
                    </div>
                    <div id="divContenidofacturado">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-div="i">
        <div class="popup_frame" data-popup="ingresado">
            <div class="popup_body">
                <div class="popup_btn_cerrar_top" data-accion="close">
                    <a href="javascript:;" title="Cerrar Popup">
                        <div class="icono_regresar"><span class="img"></span></div>
                        <div class="texto_btn_regresar">REGRESAR A MIS PEDIDOS</div>
                    </a>
                </div>
                <div class="popup_content">
                    <div>
                        <div class="pedidosFacturados_campania">
                            <h1>PEDIDO&nbsp;<b> INGRESADO</b></h1>
                            <form>
                                <select data-selectcamp="" data-selectpedidoid=""></select>
                            </form>
                            <a id="regresarFacturado" class="veringresado" style="top: 12px;">
                                <b class="flecha_adelante"></b>
                                <b>Pedido Facturado</b>
                            </a>
                        </div>
                        <div class="contenedor_bloque_datos">
                            <span class="texto_descripcion">Estos son los productos que ingresaste por SomosBelcorp.com</span>
                            <div class="icono_imprimir" style="bottom: 20%;right: 3.5%;">
                                <a href="javascript:;" title="Imprimir">
                                    <img src="@Url.Content("~/Content/Images/imprimir.png")" alt="Imprimir" onclick="Imprimir();" />
                                </a>
                            </div>
                            <div class="icono_excel">
                                <a href="javascript:;" title="Descargar Excel">
                                    <img src="@Url.Content("~/Content/Images/icono-excel.png")" alt="Descargar Excel" onclick="ExportExcel(this);" />
                                </a>
                            </div>
                            <div class="linea_separadora" style="height:2px; margin-top:21px;"></div>
                        </div>
                        <div class="acordion_contenedor" id="pedidoPorCliente" data-camp="" data-idpedido="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-div="d">
        <div class="content_belcorp content_belcorp_misPedidos" id="contenidoGrilla">
           
            <div class="tabla_misPedidos">
                <div class="content_mis_pedidos">
                    <div class="icono_campanias"></div>
                    <div class="titulo_detalle_pago titulo_campanias">
                        <div>MIS ÚLTIMOS<b> PEDIDOS</b></div>
                    </div>
                    <div class="texto_descripcion" style="margin-top:23px; margin-bottom:17px;">@mensajeCantidad</div>
                    <hr class="clear" />
                    <div class="linea_separadora" style="height:2px"></div>
                    <div class="content_datos_mispedidos">
                        <div class="nombre_campania texto_gris_cabeceraMisPedidos">Campaña</div>
                        <div class="fecha_pedido texto_gris_cabeceraMisPedidos">Fecha</div>
                        <div class="monto_totalPedido texto_gris_cabeceraMisPedidos">Monto Total</div>
                        <div class="canal_ingreso texto_gris_cabeceraMisPedidos">Canal Ingreso</div>
                        <div class="cantidad_prod texto_gris_cabeceraMisPedidos">Cant. Prod.</div>
                        <div class="seguimiento texto_gris_cabeceraMisPedidos">Seguimiento</div>
                        <div class="pack_documentario texto_gris_cabeceraMisPedidos">Paq. Document.</div>
                        <div class="estado_detalles texto_gris_cabeceraMisPedidos">Ver Estado / Detalles</div>
                    </div>
                    <div class="linea_separadora" style="margin-top:-1px"></div>
                    @foreach (var item in Model.ListaFacturados)
{
    var campaniaFacturadoNro = (item.CampaniaID == 0) ? "" : item.CampaniaID.ToString().Substring(4, 2);
    var formatoCampaniaFacturado = (item.CampaniaID == 0) ? "" : item.CampaniaID.ToString().Substring(0, 4) + "-" + item.CampaniaID.ToString().Substring(4, 2);
    var formatoFechaFacturado = item.FechaRegistro.Day.ToString().PadLeft(2, '0') + " de " + Util.NombreMesAbrev(item.FechaRegistro.Month);

    var estiloSinRuta = "ingresado";
    var targetPaqueteDocumentario = "";
    var rutaPaqueteDocumentario = "javascript:;";
    if (!string.IsNullOrEmpty(item.RutaPaqueteDocumentario))
    {
        rutaPaqueteDocumentario = item.RutaPaqueteDocumentario;
        targetPaqueteDocumentario = "_blank";
        estiloSinRuta = "";
    }
    var claseEstado = item.EstadoPedidoDesc.ToUpper() == "INGRESADO" ? "estado_detalleIngresado" : "estado_detalleFacturado";

    <div class="content_datos_mispedidos" data-camp="@item.CampaniaID" data-estado="@item.EstadoPedidoDesc" data-idpedido="@item.PedidoID">
        <div class="nombre_campania texto_bold" data-campnro="@campaniaFacturadoNro" data-campformat="@formatoCampaniaFacturado">@formatoCampaniaFacturado</div>
        <div class="fecha_pedido">@formatoFechaFacturado</div>
        <div class="monto_totalPedido"
             data-parcial="@(Util.DecimalToStringFormat(item.ImporteCredito, Model.UserIso))"
             data-flete="@(Util.DecimalToStringFormat(item.Flete, Model.UserIso))"
             data-facturado="@(Util.DecimalToStringFormat(item.ImporteTotal, Model.UserIso))">
            @Model.Simbolo @(Util.DecimalToStringFormat(item.ImporteTotal, Model.UserIso))
        </div>
        <div class="canal_ingreso">@item.CanalIngreso</div>
        <div class="cantidad_prod">@item.CantidadProductos</div>
        <div class="seguimiento">
            <a title="Seguimiento" href="javascript:;" onclick="CargarFramePedido(@item.CampaniaID,'@item.NumeroPedido');">
                <img src="@Url.Content("~/Content/Images/icono-seguimiento.png")" alt="Seguimiento" />
            </a>
        </div>
        <div class="pack_documentario @estiloSinRuta">
            <a href="@rutaPaqueteDocumentario" target="@targetPaqueteDocumentario" title="Pack Documentario">
                <img src="@Url.Content("~/Content/Images/paquete_documentario.svg")" alt="Pack Documentario" />
            </a>
        </div>
        <div class="estado_detalles">
            <div data-accion="detalle" data-estado="@item.EstadoPedidoDesc">
                <span class="estado_texto @claseEstado">
                    @if (item.EstadoPedidoDesc.ToUpper() == "RECHAZADO")
                    {
                        <span class="estado_rechazado_icono">
                            <img src="@Url.Content("~/Content/Images/icono-rechazado.png")" alt="Rechazado" />
                        </span>
                    }
                    @item.EstadoPedidoDesc.ToUpper()
                </span>
                <span>
                    <a href="javascript:;" title="Ver Estado / Detalles" class="icono_verDetalle">
                        <img src="@Url.Content("~/Content/Images/icono-ver-estado.png")" alt="Ver Estado / Detalles" />
                    </a>
                </span>
            </div>
        </div>
    </div>
}
                </div>
            </div>
        </div>
    </div>
    <div id="lblcampania" hidden="hidden"></div>
</div>
<div style="display:none;">
    @Html.DropDownListFor(model => model.ClienteId, new SelectList(Model.Clientes, "ClienteID", "Nombre"), new { id = "ddlClientes" })
</div>
<div class="POPUP_deskptop" id="PopSeguimiento">
    <div class="wrapper_seguimiento">
        <a class="btn_regresar" href="javascript:;" onclick="javascript: $('#PopSeguimiento').hide();">REGRESAR</a>
        <iframe src="" width="100%" height="100%"></iframe>
    </div>
</div>

@if (Model.MostrarClienteOnline) {
    <div id="popup_cliente_online_detalle" class="contenedor_popup_percepciones" style="display: none;">
        <div class="popup_Pendientes">
            <div class="cubre"></div>
            <div class="btn_cerrar_popupPercepcion" onclick="$('#popup_cliente_online_detalle').hide();">
                <a class="regresaPendientes" title="Regresar" style="text-align: right;">
                    <div class="icono_regresar"><img src="/Content/Images/btn_regresar.svg" alt="Regresar"></div>
                    <div class="texto_btn_regresar">REGRESAR</div>
                </a>
            </div>
            <div class="content_popUp_Pendientes">
                <div class="percepcion_campania libero">
                    <h1><b class="spnClienteOnlineTitulo"></b></h1>
                </div>

                <div class="contenedor_bloque_datos">
                    <div class="datos_cliente_pendientes">
                        <div class="bloque_datos izq">
                            <div class="nombre_cliente">
                                <span class="AtribCliente">Nombre:</span>
                                <span class="datoPedidoCliente spnClienteOnlineNombre"></span>
                            </div>
                            <div class="telefono_cliente">
                                <span class="AtribCliente">Teléfono:</span>
                                <span class="datoPedidoCliente spnClienteOnlineTelefono"></span>
                            </div>
                        </div>
                        <div class="bloque_datos der">
                            <div class="correo_cliente">
                                <span class="AtribCliente">Correo:</span>
                                <span class="datoPedidoCliente spnClienteOnlineEmail"></span>
                            </div>
                            <div class="direccion_cliente">
                                <span class="AtribCliente">Dirección:</span>
                                <span class="datoPedidoCliente spnClienteOnlineDireccion"></span>
                            </div>
                        </div>
                        <div class="bloque_datos izq divClienteOnlineMensaje">
                            <div class="nombre_cliente">
                                <span class="AtribCliente">Comentario:</span>
                                <span class="datoPedidoCliente spnClienteOnlineMensaje"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="divTablaClienteOnlineDetalles" style="max-height: 419px; overflow: auto; margin-top: 38px;">
                </div>
                <div class="linea_separadora" style="height:2px;"></div>

                <div class="calculo_PendientesTotal venderecha">
                    <h4>TOTAL PEDIDO: <span class="spnClienteOnlineTotal"></span></h4>
                </div>
                <div class="clear"></div>
                <div class="linea_separadora_roja solo-cliente-online-aceptado" style="height: 2px;"></div>

                <div class="btn_grupo_accionesPedido accionesPendientes solo-cliente-online-aceptado">
                    <button id="cancelarSolicitud" type="button" class="btn_eliminarCliente venderecha-ancho" onclick="AbrirConfirmacionCancelado();">
                        QUIERO CANCELAR TODO EL PEDIDO
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="contenedor_popup_agregarUnidades" id="dialog_confirmacionCancelado" style="display: none;">
        <div class="popup_rechazarPendientes">
            <input type="hidden" id="hdePedidoIdRechazo" />
            <div class="btn_cerrar_agregarUnidades">
                <a id="cierreRechazoPendientes" onclick="NoAceptarConfirmacionCancelado();">
                    <img src="/Content/Images/btn_cerrar_popup.svg" alt="Cerrar">
                </a>
            </div>
            <div class="contenido_popUp confirmacionRechazo">
                <div class="icono_exclamacion" id="apro_o_excla"></div>
                <h1 class="titulo_confirma"><b>¿SEGURO QUE QUIERES CANCELAR TODO EL PEDIDO?</b></h1>
                <button type="button" class="btn_eliminarCliente venizquierda sedetiene" onclick="NoAceptarConfirmacionCancelado();">
                    NO, DÉJAME VERLO
                </button>
                <button type="button" class="btn_eliminarCliente venderecha prosigue" onclick="AceptarConfirmacionCancelado();">
                    SI, CANCELO EL PEDIDO
                </button>
            </div>
        </div>
    </div>
    <div class="contenedor_popup_agregarUnidades" id="dialog_motivoCancelado" style="display: none;">
        <div class="popup_agregarUnidades mrechaza">
            <div class="btn_cerrar_agregarUnidades">
                <a id="cierreMotivoRechazo" onclick="CancelarSolicitud();">
                    <img src="/Content/Images/btn_cerrar_popup.svg" alt="Cerrar">
                </a>
            </div>
            <div class="contenido_popUp motivoRechazo">

                <input type="hidden" name="SolicitudId" id="SolicitudId" />
                <input type="hidden" name="NumIteracion" id="NumIteracion" />
                <input type="hidden" name="CodigoUbigeo" id="CodigoUbigeo" />
                <input type="hidden" name="Campania" id="Campania" />
                <input type="hidden" name="MarcaID" id="MarcaID" />
                <h1 class="titulo_mensajeMotivoRechazo"><b>¡CUÉNTANOS PORQUÉ LO CANCELASTE!</b></h1>
                @foreach(var motivoRechazo in Model.MotivosRechazo)
                {
                    <div class="optionsRechazo" data-id="@motivoRechazo.MotivoSolicitudID">@motivoRechazo.Motivo</div>
                }
                <textarea id="txtOtrosCancelado" placeholder="Otros:"></textarea>
            </div>
            <button type="button" class="btn_eliminarCliente btn-negro" id="btnRechazarPedido" onclick="CancelarSolicitud();">
                ENVIAR
            </button>
        </div>
    </div>
    <div class="contenedor_popup_agregarUnidades" id="dialog_mensajeCancelado" style="display: none;">
        <div class="popup_rechazarPendientes">

            <div class="btn_cerrar_agregarUnidades">
                <a id="cierreRechazoPendientes" onclick="CerrarMensajeCancelado();">
                    <img src="/Content/Images/btn_cerrar_popup.svg" alt="Cerrar">
                </a>
            </div>
            <div class="contenido_popUp confirmacionRechazo">
                <div class="icono_exclamacion" id="apro_o_excla"></div>
                <h1 class="titulo_confirma"><b>CANCELASTE</b> EL PEDIDO</h1>
                <span class="mensaje_agregarUnidades spnMensajeSolicitudCancelada"></span>
                <button type="button" class="btn_ok ok_aceptaPedido" onclick="CerrarMensajeCancelado()">
                    OK
                </button>
            </div>
        </div>
    </div>
}

<script id="html-detalle-ingresado" type="text/x-handlebars-template">
    {{#each this.Rows as |detalle|}}
    <div class="acordion_titulo" data-cliente="{{detalle.ClienteID}}">
        <div class="titulo_nombreCliente" data-acordion="">
            <span class="icono_despliegue_acordion"></span>
            <span class="nombreCliente">{{detalle.Nombre}}</span>
        </div>
        <div class="productos_agregados_usuario">
            <span class="cantidad_productos_agregados"><b>{{detalle.Cantidad}}</b></span>
            &nbsp;productos
        </div>
        <div class="totalPedidoFacturado">
            <span>TOTAL:</span>
            <span>
                <b>{{SimboloMoneda}} {{detalle.ImporteTotal}}</b>
            </span>
        </div>
        <div class="paginador_pedidos mostrarPaginadorPedidos inferior" style="display:none;">
            <div>
                <ul class="paginador_notificaciones" data-paginacion="block" data-camp="{{detalle.CampaniaId}}" data-cliente="{{detalle.ClienteID}}" data-idpedido="{{pedidoId}}" data-estado=" ingresado">
                    <li data-paginacion='recordCount' style="display:none;">{{RecordCount}}</li>
                    <li class="texto_pagina">Página</li>
                    <li class="flecha_paginador_atras" data-paginacion="back"></li>
                    <li>
                        <span class="paginas_pedidos">
                            <span class="pagina_actual">
                                <input type="text" name="paginaactual" value="{{detalle.CurrentPage}}" data-paginacion="page" data-val="{{Pagina}}">
                            </span> de
                            <span class="paginas_totales" data-paginacion="pageCount">{{detalle.PageCount}}</span>
                        </span>
                    </li>
                    <li class="flecha_paginador_adelante" data-paginacion="next"></li>
                    <li class="seleccion_pagina">
                        <select data-paginacion="rows" data-val="{{PageSize}}">
                            <option value="10">ver 10 filas</option>
                            <option value="20">ver 20 filas</option>
                            <option value="30">ver 30 filas</option>
                            <option value="40">ver 40 filas</option>
                            <option value="50">ver 50 filas</option>
                        </select>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <div class="icono_mas_menos" data-acordion=""></div>
        <div class="linea_separadora" style="height:1px; position:absolute; bottom:0%;"></div>
    </div>
    <div class="acordion_contenido" data-contenido="{{detalle.ClienteID}}"></div>
    {{/each}}
    <div class="linea_separadora_roja" style="height: 2px; margin-top:-1px;"></div>
    <div style="text-align:right; padding-right:40px;" id="detalle_ingresado_resumen">
        <div class="cantidad_clientes_pedidosIngresados">
            <span>{{CantidadCliente}}</span>
            <span>CLIENTES</span>
        </div>
        <div class="cantidad_productos_pedidosIngresados">
            <span>{{CantidadProducto}}</span>
            <span>PRODUCTOS</span>
        </div>
        <div class="content_datos_pedidosFacturados padding_area_montosTotales" style="width:19%!important; font-size:14px;">
            <div class="totalTexto">SUBTOTAL:</div>
            <div class="totalTexto">OFERTAS POR NIVELES:</div>
            <div class="totalTexto">MONTO TOTAL:</div>
        </div>
        <div class="content_datos_pedidosFacturados padding_area_montosTotales" style="font-size:15px;">
            <div class="totalNumero texto_bold">{{SimboloMoneda}} {{SubTotal}}</div>
            <div class="totalNumero texto_bold">{{SimboloMoneda}} {{OfertaNiveles}}</div>
            <div class="totalNumero texto_bold">{{SimboloMoneda}} {{ImporteTotal}}</div>
        </div>
    </div>
</script>
<script id="html-detalle-ingresado-detalle" type="text/x-handlebars-template">
    <div class="content_datos_pedidosIngresados">
        <div class="codigo_prod texto_gris_popup">Código</div>
        <div class="descripcion_prod texto_gris_popup">Producto</div>
        <div class="cantidadProd texto_gris_popup">Unidades</div>
        <div class="precioUnitario_prod texto_gris_popup">Precio Unitario</div>
        <div class="importePago_prod texto_gris_popup">Subtotal</div>
        <div class="importePago_prod texto_gris_popup">Cliente</div>
    </div>
    {{#each this.Rows as |detalle|}}
    <div class="content_datos_pedidosIngresados">
        <div class="codigo_prod">{{detalle.CUV}}</div>
        <div class="descripcion_prod">{{detalle.DescripcionProd}}</div>
        <div class="cantidadProd">{{detalle.Cantidad}}</div>
        <div class="precioUnitario_prod">{{SimboloMoneda}} {{detalle.PrecioUnidad}}</div>
        <div class="importePago_prod">{{SimboloMoneda}} {{detalle.ImporteTotal}}</div>
        <div class="importePago_prod">{{detalle.NombreCliente}}</div>
    </div>
    {{/each}}
    <div class="linea_separadora_roja" style="height: 1px; margin-top:-1px;"></div>

    <div style="text-align:right; padding-right:40px;">
        <div class="content_datos_pedidosFacturados padding_area_montosTotales" style="width:30%;">
            <div class="totalTexto" style="font-size:14px; text-align:right;">
                TOTAL&nbsp;&nbsp;
                <span>{{Nombre}}</span>
            </div>
        </div>
        <div class="content_datos_pedidosFacturados padding_area_montosTotales">
            <div class="totalNumero texto_bold" style="font-size:15px;">{{SimboloMoneda}} {{ImporteTotal}}</div>
        </div>
    </div>
    <div class="linea_separadora" style="height:1px;"></div>
</script>
<script id="html-detalle-facturado" type="text/x-handlebars-template">
    <div class="paginador_pedidos mostrarPaginadorPedidos inferior" style="width:46%; margin-top:0px!important; padding-bottom:43px!important; float:right;">
        <div>
            <ul class="paginador_notificaciones" data-paginacion="block" data-camp="{{CampaniaId}}" data-cliente="{{ClienteID}}" data-estado="{{tipo}}" data-idpedido="{{pedidoId}}">
                {{#iff RecordCount '>' 0}}
                <li class="productos_agregados_usuario" style="display: none;">
                    <span class="cantidad_productos_agregados"><b>{{RecordCount}}</b></span>
                    &nbsp;productos
                </li>
                <li class="seleccion_pagina" style="margin-left:10px;">
                    <select data-paginacion="rows" data-val="{{PageSize}}">
                        <option value="10">ver 10 filas</option>
                        <option value="20">ver 20 filas</option>
                        <option value="30">ver 30 filas</option>
                        <option value="40">ver 40 filas</option>
                        <option value="50">ver 50 filas</option>
                    </select>
                </li>
                <li data-paginacion='recordCount' style="display:none;">{{RecordCount}}</li>
                <li class="texto_pagina">Página</li>
                <li class="flecha_paginador_atras" data-paginacion="back" style="margin-right:8px;"></li>
                <li>
                    <span class="paginas_pedidos">
                        <span class="pagina_actual">
                            <input type="text" name="paginaactual" value="{{CurrentPage}}" data-paginacion="page" data-val="{{Pagina}}">
                        </span> de
                        <span class="paginas_totales" data-paginacion="pageCount">{{PageCount}}</span>
                    </span>
                </li>
                <li class="flecha_paginador_adelante" data-paginacion="next"></li>
                {{/iff}}
                <div class="clear"></div>
            </ul>
        </div>
    </div>
    <div style="float:right;">
        <div class="productos_agregados_usuario" style="display:inline-block;">
            <span class="cantidad_productos_agregados"><b>{{CantidadProducto}}</b></span>
            &nbsp;productos
        </div>
        <div class="totalPedidoFacturado" style="display:inline-block; margin-right:0px!important;">
            <span>
                TOTAL
                {{#iff ClienteID '>' '0'}}
                <span data-cliente-nombre="">{{Nombre}}</span>
                {{/iff}}
                :
            </span>
           <b>&nbsp;&nbsp;{{SimboloMoneda}} <span data-facturadoCabecera=""> </span></b>
        </div>
    </div>
    <div class="clear"></div>
    <div class="linea_separadora" style="height:1px;"></div>
    <div id="divGrilla">
        <div class="content_datos_pedidosFacturados">
            <div class="codigo_prod texto_gris_popup">Código</div>
            <div class="descripcion_prod texto_gris_popup">Producto</div>
            <div class="cantidadProd texto_gris_popup">Unidades</div>
            <div class="precioUnitario_prod texto_gris_popup">Precio Unitario</div>
            <div class="totalPrecio_prod texto_gris_popup">Subtotal</div>
            {{#iff tipo '==' 'f'}}
            <div class="totalPrecio_prod texto_gris_popup">Descuento</div>
            <div class="totalPrecio_prod texto_gris_popup">Importe a Pagar</div>
            {{/iff}}
            {{#iff tipo '==' 'i'}}
            <div class="cliente texto_gris_popup">
                <select data-cliente="{{ClienteID}}" data-val="{{ClienteID}}" data-camp="{{CampaniaId}}" data-idpedido="{{pedidoId}}"></select>
            </div>
            {{/iff}}
        </div>
        <div id="pedidoSugerido">
            {{#each this.Rows as |detalle|}}
            <div class="content_datos_pedidosFacturados">
                <div class="codigo_prod">{{detalle.CUV}}</div>
                <div class="descripcion_prod">{{detalle.DescripcionProd}}</div>
                <div class="cantidadProd">{{detalle.Cantidad}}</div>
                <div class="precioUnitario_prod">{{SimboloMoneda}} {{detalle.PrecioUnidad}}</div>
                <div class="totalPrecio_prod">{{SimboloMoneda}} {{detalle.ImporteTotal}}</div>
                {{#iff detalle.tipo '==' 'f'}}
                <div class="totalPrecio_prod">{{SimboloMoneda}} {{detalle.MontoEscala}}</div>
                <div class="totalPrecio_prod">{{SimboloMoneda}} {{detalle.ImportePagar}}</div>
                {{/iff}}
                <div class="cliente">{{detalle.NombreCliente}}</div>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="linea_separadora_roja" style="height: 2px; margin-top:-1px;"></div>
    {{#iff tipo '==' 'f'}}
    <div style="text-align:right; padding-right:40px;">
        <div class="content_datos_pedidosFacturados padding_area_montosTotales" style="width:13%!important;">
            <div class="totalTexto">IMPORTE TOTAL:</div>
            <div class="totalTexto">FLETE:</div>
            <div class="totalTexto">TOTAL FACTURADO:</div>
        </div>
        <div class="content_datos_pedidosFacturados padding_area_montosTotales">
            <div class="totalNumero texto_bold">{{SimboloMoneda}} <span data-total=""></span></div>
            <div class="totalNumero texto_bold">{{SimboloMoneda}} <span data-flete=""></span></div>
            <div class="totalNumero texto_bold">{{SimboloMoneda}} <span data-facturado=""></span></div>
        </div>
    </div>
    {{else}}
    <div style="text-align:right; padding-right:40px;" id="detalle_ingresado_resumen">
        <div class="cantidad_clientes_pedidosIngresados" style="display: none;">
            <span>{{CantidadCliente}}</span>
            <span>CLIENTES</span>
        </div>
        <div class="cantidad_productos_pedidosIngresados">
            <span>{{CantidadProducto}}</span>
            <span>PRODUCTOS</span>
        </div>
        <div class="content_datos_pedidosFacturados padding_area_montosTotales" style="width:18%!important; font-size:14px;">
            <div class="info_extra_Validado">
                <img src="/Content/Images/Esika/info-copy.png">
                <div class="monto_resumenValidado">
                    <div class="monto_1">Total sin Dscto.</div>
                    <div class="monto_numero" style="opacity:0.6">{{SimboloMoneda}} {{ImporteTotal}}</div>
                    <hr class="clear">
                    <div class="monto_1">Dscto. por niveles </div>
                    <div class="monto_numero">{{SimboloMoneda}} {{OfertaNiveles}}</div>
                </div>
            </div>
            <div class="totalTexto">MONTO TOTAL:</div>
            <div class="totalTexto">@(cabezaEscala.Trim().ToUpper()): </div>
        </div>
        <div class="content_datos_pedidosFacturados padding_area_montosTotales" style="font-size:15px;">
            <div class="totalNumero texto_bold">{{SimboloMoneda}} {{ImporteFacturado}}</div>
            <div class="totalNumero texto_bold">{{SimboloMoneda}} {{Ganancia}}</div>
        </div>
    </div>
    {{/iff}}
    <div class="clear"></div>
</script>

@if (Model.MostrarClienteOnline) {
    <script id="html-clientes-online" type="text/x-handlebars-template">
        <div class="content_datos_mispedidos">
            <div class="tipo_online texto_gris">Tipo y nombre<br />de Cliente</div>
            <div class="origen_online texto_gris">Origen</div>
            <div class="canpana_online texto_gris">Campaña</div>
            <div class="registro_online texto_gris">Fecha Registro</div>
            <div class="total_online texto_gris">Precio Total.</div>
            <div class="detalle_online texto_gris">Estado</div>
        </div>
        <div class="linea_separadora" style="height:2px"></div>
        {{#each this as |detalle|}}
            <div class="content_datos_mispedidos">
                <div class="tipo_online">
                    <span class="tipo_cliente">{{detalle.TipoCliente}}</span>
                    <span>{{detalle.Cliente}}</span>
                </div>
                <div class="origen_online">{{detalle.Origen}}</div>
                <div class="canpana_online">{{detalle.Campania}}</div>
                <div class="registro_online">{{detalle.FechaSolicitudString}}</div>
                <div class="total_online">{{detalle.PrecioTotalString}}</div>
                <div class="detalle_online" onclick="CargarDetallleClienteOnline('{{detalle.SolicitudClienteID}}', '{{detalle.MarcaID}}', '{{detalle.Cliente}}', '{{detalle.Direccion}}', '{{detalle.Telefono}}', '{{detalle.Email}}', '{{detalle.Estado}}', '{{detalle.EstadoDesc}}', '{{detalle.MensajeDelCliente}}', '{{detalle.PrecioTotalString}}');">
                    {{#iff detalle.Estado '==' 'A'}}
                    <span class="facturado_online estado_detalleFacturado"> {{detalle.EstadoDesc}} </span>
                    {{else}}
                    <span class="facturado_online estado_cancelado"> {{detalle.EstadoDesc}} </span>
                    {{/iff}}
                    <a href="javascript:;" title="Ver Estado / Detalles" class="lupa_online">
                        <img src="/Content/Images/icono-ver-estado.png" alt="Ver Estado / Detalles">
                    </a>
                </div>
            </div>
        {{/each}}
    </script>
    <script id="html-clientes-online-detalle-marcas" type="text/x-handlebars-template">
        <div class="content_datos_pendientes">
            <div class="texto_gris_popup padding_tabla_pendientes dinamicostableextragrande">Producto</div>
            <div class="texto_gris_popup padding_tabla_pendientes dinamicostableextragrande">Unidades</div>
            <div class="texto_gris_popup padding_tabla_pendientes dinamicostableextragrande">Precio Unitario</div>
            <div class="texto_gris_popup padding_tabla_pendientes dinamicostableextragrande">Subtotal</div>
        </div>
        <div class="linea_separadora" style="margin-top:-1px"></div>
        {{#each this as |detalle|}}
        <div class="content_datos_percepciones">
            <div class="padding_tabla_percepcion dinamicostableextragrande">{{detalle.Producto}}</div>
            <div class="padding_tabla_percepcion dinamicostableextragrande">{{detalle.Cantidad}}</div>
            <div class="padding_tabla_percepcion dinamicostableextragrande">{{detalle.PrecioUnitarioString}}</div>
            <div class="padding_tabla_percepcion dinamicostableextragrande">{{detalle.PrecioTotalString}}</div>
        </div>
        {{/each}}
    </script>
    <script id="html-clientes-online-detalle-catalogos" type="text/x-handlebars-template">
        <div class="content_datos_pendientes">
            <div class="texto_gris_popup padding_tabla_pendientes dinamicostablemini">Codigo</div>
            <div class="texto_gris_popup padding_tabla_pendientes dinamicostableextragrande">Producto</div>
            <div class="texto_gris_popup padding_tabla_pendientes dinamicostablemini">Unidades</div>
            <div class="texto_gris_popup padding_tabla_pendientes dinamicostablemedio">Precio Unitario</div>
            <div class="texto_gris_popup padding_tabla_pendientes dinamicostablemedio">Subtotal</div>
            <div class="texto_gris_popup padding_tabla_pendientes dinamicostablegrande">Acción</div>
        </div>
        <div class="linea_separadora" style="margin-top:-1px"></div>
        {{#each this as |detalle|}}
        <div class="content_datos_percepciones">
            <div class="padding_tabla_percepcion dinamicostablemini">{{detalle.CUV}}</div>
            <div class="padding_tabla_percepcion dinamicostableextragrande">{{detalle.Producto}}</div>
            <div class="padding_tabla_percepcion dinamicostablemini">{{detalle.Cantidad}}</div>
            <div class="padding_tabla_percepcion dinamicostablemedio">{{detalle.PrecioUnitarioString}}</div>
            <div class="padding_tabla_percepcion dinamicostablemedio">{{detalle.PrecioTotalString}}</div>
            <div class="padding_tabla_percepcion dinamicostablegrande">{{detalle.TipoAtencionString}}</div>
        </div>
        {{/each}}
    </script>
}
@section scripts{
    <script>
        var urlLoad = '@Url.Content("~/Content/Images/Loading.gif")';
        var urlPedidos = '@ViewBag.URLWebTracking';
        var lanzarTabClienteOnline = ('@Model.LanzarTabClienteOnline' == 'True');
    </script>
    <script src="@Url.Content("~/Scripts/PortalConsultoras/MisPedidos/Index.js")"></script>
    @if (Model.MostrarClienteOnline) {
        <script>
            var urlClienteOnline = '@Url.Action("ClienteOnline", "MisPedidos")';
            var urlClienteOnlineDetalle = '@Url.Action("ClienteOnlineDetalle", "MisPedidos")';
            var urlClienteOnlineCancelarSolicitud = '@Url.Action("ClienteOnlineCancelarSolicitud", "MisPedidos")';
            var campaniaActual = '@Model.CampaniaActualConsultoraOnline';

            var mensajeCanceladoMarcas = '@Constantes.COPedidoCanceladoMensaje.Marcas';
            var mensajeCanceladoPortal = '@Constantes.COPedidoCanceladoMensaje.Portal';
        </script>
        <script src="@Url.Content("~/Scripts/PortalConsultoras/MisPedidos/ClienteOnline.js")"></script>
    }
}