@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Areas.Mobile.Models
@using Portal.Consultoras.Web.Areas.Mobile.Helpers

@{
    var items = (List<MenuMobileModel>)ViewBag.MenuMobile;
    var itemsMenu = items == null ? new List<MenuMobileModel>() : items.Where(p => p.Posicion.ToLower().Equals("menu")).ToList();
    var urlDomain = Util.GetUrlHost(Request);
}

<div class="botones">
    <a class="menu_mobile_belcorp indicador_bel" href="@Url.Action("Index", "Pedido", new {area = "Mobile"})"
       role="menu" region="Lateral-inferior" parent="Ingresa tu Pedido" title="Ingresa tu Pedido" id="lnk-lat-ingresa-tu-pedido">INGRESA<b>TU PEDIDO</b></a>
@foreach (var item in itemsMenu)
{
    if (item.SubMenu.Count == 0)
    {
        var target = item.PaginaNueva ? "_blank" : "_self";
        var url = item.Version == "Completa"
            ? item.UrlItem.StartsWith("http") ? item.UrlItem : string.Format("{0}Mobile/Menu/Ver?url={1}", urlDomain, item.UrlItem)
            : item.UrlItem.StartsWith("http") ? item.UrlItem : string.Format("{0}{1}", urlDomain, item.UrlItem);
        var onclickF = "";
        if (item.Descripcion.ToLower().Trim() == "mi comunidad")
        {
            //url = ViewBag.EsUsuarioComunidad == 0 ? "javascript:;" : url;
            //onclickF = ViewBag.EsUsuarioComunidad == 0 ? "onclick='return ShowComunidad();'" : "";
            <a class="menu_mobile_belcorp" href="http://comunidad.somosbelcorp.com" role="menu" region="Principal" parent="@item.MenuPadreDescripcion" title="@item.Descripcion" id="lnk-prin-@item.Descripcion.GenerateLinkForGoogleTagManager()" target="@target">
                @item.Descripcion
            </a>
        }
        else
        {
            <a class="menu_mobile_belcorp" href="@url" @onclickF role="menu" region="Principal" parent="@item.MenuPadreDescripcion" title="@item.Descripcion" id="lnk-prin-@item.Descripcion.GenerateLinkForGoogleTagManager()" target="@target">
                @*@if (item.Descripcion.ToLower().Trim() == "consultora online")
                {
                    <div id="divPedidosOnlineSinLeer" class="circulo cir-l circlemenu-success" style="display: none;">0</div>
                }
                @if (item.Descripcion.ToLower().Trim() == "mis notificaciones")
                {
                    <div id="divNotificacionesSinLeer" class="circulo cir-l" style="display:none;">0</div>
                }*@
                @item.Descripcion
            </a>
        }
    }
    else
    {
        <a class="menu_mobile_belcorp indicador_submenu" data-toggle="collapse" data-parent="#accordion" href="#SubMenu_@item.Descripcion.GenerateLinkForGoogleTagManager()">@item.Descripcion</a>
        <div class="panel-collapse collapse submenu_1" id="SubMenu_@item.Descripcion.GenerateLinkForGoogleTagManager()">
            @foreach (var subItem in item.SubMenu)
            {
                var target = subItem.PaginaNueva ? "_blank" : "_self";
                var url = subItem.Version == "Completa"
                    ? subItem.UrlItem.StartsWith("http") ? subItem.UrlItem : string.Format("{0}Mobile/Menu/Ver?url={1}", urlDomain, subItem.UrlItem)
                    : subItem.UrlItem.StartsWith("http") ? subItem.UrlItem : string.Format("{0}{1}", urlDomain, subItem.UrlItem);

                <a class="menu_subHeader" href="@url" role="menu" region="Principal" parent="@subItem.MenuPadreDescripcion" title="@subItem.Descripcion" id="lnk-prin-@subItem.Descripcion.GenerateLinkForGoogleTagManager()" target="@target">@subItem.Descripcion</a>
            }
        </div>
    }
}
</div>
