
@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Helpers

<!DOCTYPE html>
<html lang="es-PE">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="SomosBelcorp Web Mobile" />

    <title>Somos Belcorp</title>

    @Html.Partial("~/Views/Shared/VistaParcialMainLayout/_vpTagManagerHeader.cshtml", new ViewDataDictionary { { "TipoLayout", 1 } })
    @Html.Partial("~/Views/Shared/VistaParcialMainLayout/_GoogleOptimize.cshtml")
    @Html.Partial("~/Views/Shared/VistaParcialMainLayout/_vpTagManager.cshtml")

    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>

    @if (ViewContext.EsPaisEsika())
    {
        <link href="@Url.Content("~/Content/Images/Esika/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
        @Styles.Render("~/Content/Css/Mobile/Esika/CssSB2Mobile")
    }
    else
    {
        <link href="@Url.Content("~/Content/Images/icons/favicon_lbel.ico")" rel="shortcut icon" type="image/x-icon" />
        @Styles.Render("~/Content/Css/Mobile/Lbel/CssSB2Mobile")
    }

    @Html.Partial("~/Views/Shared/VistaParcialMainLayout/_vpVariablesGeneralesPortal.cshtml")
    <script type="text/javascript">
        var isEsika = '@ViewContext.EsPaisEsika().ToString().ToLower()';
        window.urlLogDynamo = '@Portal.Consultoras.Web.Infraestructure.Settings.Instance.UrlLogDynamo';
        window.urlLogElastic = '@Portal.Consultoras.Web.Infraestructure.Settings.Instance.UrlLogElastic';
        window.patternElastic = '@Portal.Consultoras.Web.Infraestructure.Settings.Instance.PatternElastic';

        // Seteando Controlador y Accion
        @{
            var routeValues = HttpContext.Current.Request.RequestContext.RouteData.Values;
            string ctrl = routeValues.ContainsKey("controller") ? routeValues["controller"].ToString() : "CtrlNoRoute";
            string acti = routeValues.ContainsKey("action") ? routeValues["action"].ToString() : "ActiNoRoute";
        }
        window.controllerName = '@ctrl.ToLower()';
        window.actionName     = '@acti.ToLower()';
    </script>

    @RenderSection("styles", required: false)

    @if (TempData.ContainsKey("PixelCodigoIso"))
    {
        <noscript id="noscript-pixel-image"></noscript>
    }
</head>
<body>
    @Html.Partial("~/Views/Shared/VistaParcialMainLayout/_vpTagManagerBody.cshtml")

	<input type="hidden" id="hdCampaniaCodigo" value="@ViewBag.CampaniaCodigo" />

	<section style="min-height: 380px;">
		<div id="content" data-content="" style="margin-top: 0;">
			@RenderBody()
		</div>
		<div class="clear">
			<br />
			<br />
		</div>
	</section>

	<div class="content-spinner2" id="loading-spin">
		<div class="busy-loader">
			<div class="w-ball-wrapper ball-1">
				<div class="w-ball"></div>
			</div>
			<div class="w-ball-wrapper ball-2">
				<div class="w-ball"></div>
			</div>
			<div class="w-ball-wrapper ball-3">
				<div class="w-ball"> </div>
			</div> <div class="w-ball-wrapper ball-4">
				<div class="w-ball"> </div>
			</div>
			<div class="w-ball-wrapper ball-5">
				<div class="w-ball"> </div>
			</div>
		</div>
	</div>

	<div id="popupInformacion" class="MensajeAlertaMobile" style="display:none;">
		<div class="content_mensajeAlerta">
			<a class="cerrar_popMobile" href="javascript:;" onclick="javascript: $('#popupInformacion').hide();">
				<img src="/Content/Images/mobile/Esika/cerrar_04.png" alt="-">
			</a>
			<hr class="clear">
			<div class="icono_alerta exclamacion_icono_mobile"></div>
			<div class="titulo_compartir"><b>IMPORTANTE</b></div>
			<div id="mensajeInformacion" class="mensaje_alerta"></div>
			<a href="javascript:;" onclick="$('#popupInformacion').hide();" class="btn_ok_mobile btn-aceptar"><b>OK</b></a>
		</div>
	</div>

	<div id="popupInformacionSB2Malo" class="MensajeAlertaMobile" style="display:none;">
		<div class="content_mensajeAlerta">
			<a class="cerrar_popMobile" href="javascript:;" onclick="javascript: $('#popupInformacionSB2Malo').hide();">
				<img src="/Content/Images/mobile/Esika/cerrar_04.png" alt="-">
			</a>
			<hr class="clear">
			<div class="icono_alerta exclamacion_icono_mobile"></div>
			<div class="titulo_compartir"><b>IMPORTANTE</b></div>
			<div id="mensajeInformacionSB2_Malo" class="mensaje_alerta"></div>
			<a href="javascript:;" onclick="$('#popupInformacionSB2Malo').hide();" class="btn_ok_mobile"><b>OK</b></a>
		</div>
	</div>
	<div id="popupInformacionSB2Error" class="MensajeAlertaMobile" style="display:none;">
		<div class="content_mensajeAlerta">
			<a class="cerrar_popMobile" href="javascript:;" onclick="javascript: $('#popupInformacionSB2Error').hide();">
				<img src="/Content/Images/mobile/Esika/cerrar_04.png" alt="-">
			</a>
			<hr class="clear">
			<div class="icono_alerta exclamacion_icono_mobile"></div>
			<div class="titulo_compartir"><b>LO SENTIMOS</b></div>
			<div id="mensajeInformacionSB2_Error" class="mensaje_alerta"></div>
			<a href="javascript:;" onclick="$('#popupInformacionSB2Error').hide();" class="btn_ok_mobile"><b>OK</b></a>
		</div>
	</div>
	<div id="popupInformacionSB2SesionFinalizada" class="MensajeAlertaMobile" style="display:none;">
		<div class="content_mensajeAlerta">
			<a class="cerrar_popMobile" href="javascript:;" onclick="window.location.href='@Url.Action("Index", "Login", new { area = "" })'">
				<img src="/Content/Images/mobile/Esika/cerrar_04.png" alt="-">
			</a>
			<hr class="clear">
			<div class="icono_alerta exclamacion_icono_mobile"></div>
			<div class="titulo_compartir"><b>SESIÓN FINALIZADA</b></div>
			<div id="mensajeInformacionSB2_SesionFinalizada" class="mensaje_alerta"></div>
			<a href="javascript:;" onclick="window.location.href='/Login'" class="btn_ok_mobile"><b>OK</b></a>
		</div>
	</div>
	<div id="popupInformacionSB2Bueno" class="MensajeAlertaMobile" style="display:none;">
		<div class="content_mensajeAlerta">
			<a class="cerrar_popMobile" href="javascript:;" onclick="javascript: $('#popupInformacionSB2Bueno').hide();">
				<img src="/Content/Images/mobile/Esika/cerrar_04.png" alt="-">
			</a>
			<hr class="clear">
			<div class="icono_alerta check_icono_mobile"></div>
			<div class="titulo_compartir">¡LO <b>LOGRASTE</b>!</div>
			<div id="mensajeInformacionSB2Bueno" class="mensaje_alerta"></div>
			<a href="javascript:;" onclick="$('#popupInformacionSB2Bueno').hide();" class="btn_ok_mobile"><b>OK</b></a>
		</div>
	</div>

	<div style="display:none">
		<a id="HiddenRedesSocialesWA" href="#" data-action="share/whatsapp/share">WA</a>
	</div>

	@Html.Partial("~/Areas/Mobile/Views/Shared/VistaParcialMobileLayout/vp_BloquePopupMensajesInformacion.cshtml")

	@Scripts.Render("~/Scripts/MobileLayoutEmpty")
	@Scripts.Render("~/Scripts/MobileLayout")

	<script type="text/javascript">
    var baseUrl = "@Url.Content("~")";
    var urlReservadoEnHorarioRestringuido = '@Url.Action("ReservadoOEnHorarioRestringido", "Pedido", new { area = "" })';
    var urlGetCantidadProductos = '@Url.Action("GetResumenCampaniaAgrupado", "GestionContenido", new { area = "" })';
    var urlGetNotificacionesSinLeer = '@Url.Action("GetNotificacionesSinLeer", "Notificaciones", new { area = "" })';
    var formatDecimalPaisMain = '@ViewBag.FormatDecimalPais';
    var ViewBagEsMobile = '@ViewBag.EsMobile';
    var urlChatbot = '@Portal.Consultoras.Web.Infraestructure.Settings.Instance.UrlChatBot';
    var ingresoExterno = '@ViewContext.GetUniqueSession("IngresoExterno")';
    var gTipoUsuario = '@ViewBag.TipoUsuario';
    var usuarioNombre = '@ViewBag.UsuarioNombre';
    var campaniaCodigo = '@ViewBag.CampaniaCodigo';
    var campaniaAnio = parseInt(parseInt(campaniaCodigo) / 100);
    var campaniaNro = parseInt(campaniaCodigo) - campaniaAnio * 100;

    var IsoPais = '@ViewBag.CodigoISODL';

    //Postulante
    var mostrarBannerPostulante = '@ViewBag.MostrarBannerPostulante';

    //GPR
    var estaRechazado = '@ViewBag.IndicadorGPRSB';
    var cerrarRechazado = '@ViewBag.CerrarRechazado';
    var mostrarBannerRechazo = '@ViewBag.MostrarBannerRechazo';

    var MobilePedidoSugerido = @Constantes.OrigenPedidoWeb.MobilePedidoSugerido;
    var MobilePedidoOfertaFinal = @Constantes.OrigenPedidoWeb.MobilePedidoOfertaFinal;

    //ODD
    var MostrarBannerPL20 = '@ViewBag.MostrarBannerPL20';
    var EstadoActivo = '@ViewBag.EstadoActivo';
    var ocultarBannerTop = '@Session["OcultarBannerTop"]';

    var habilitarChatEmtelco = '@ViewBag.HabilitarChatEmtelco';
    var sesionEsShowRoom = '@Session["EsShowRoom"]';

    var fingerprintOk = '@ViewBag.FingerprintOk';
    var tokenPedidoAutenticoOk = '@ViewBag.TokenPedidoAutenticoOk';

    var urlPedidoValidado = '@Url.Action("Validado", "Pedido", new { area = "Mobile" })';
    var userData = {
        'aplicacion': '@(Constantes.LogDynamoDB.AplicacionPortalConsultoras)',
        'rol': '@(Constantes.LogDynamoDB.RolConsultora)',
        'campana': '@ViewBag.AnalyticsCampania',
        'region': '@ViewBag.AnalyticsRegion',
        'zona': '@ViewBag.AnalyticsZona',
        'seccion': '@ViewBag.AnalyticsSeccion',
        'pais': '@ViewBag.AnalyticsPais',
        'codigoConsultora': '@ViewBag.AnalyticsCodigoConsultora'
        };
    var MensajePedidoMobile = '@ViewBag.MensajePedidoMobile';
    var OrigenDesktopODD = 0;

    //BANNER APP
    var urlOcultarBannerApp = '@Url.Action("OcultarBannerApp", "Bienvenida", new { area = "Mobile" })';
    var actionName = '@ViewContext.RouteData.GetRequiredString("action")';
    var controllerName = '@ViewContext.RouteData.GetRequiredString("controller")';
    var oBannerApp = @Html.Raw(@Json.Encode(ViewBag.BannerApp));
	</script>

	<script type="text/javascript">
		$(function () {
			SetFormatDecimalPais(formatDecimalPaisMain);

			HandlebarsRegisterHelper();

			if (ingresoExterno == "NoSoporta") {
				$("body").on("click", ".enlace_regresar", function (e) {
					window.location.href = urlChatbot;
				});
			} else if (ingresoExterno == "Soporta") {
				$(".enlace_regresar").hide();
			}

			$("body").on("keyup", ".ValidaNumeral", function (evt) {
				var theEvent = evt || window.event;
				var key = theEvent.keyCode || theEvent.which;
				key = String.fromCharCode(key);
				var regex = /[0-9]|\./;
				if (!regex.test(key)) {
					theEvent.returnValue = false;
					if (theEvent.preventDefault) theEvent.preventDefault();
				}
			});

			$("body").on("keypress", ".ValidaNumeral", function (e) {
				if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
					return false;
				}
			});

			$("body").on('paste', ".ValidaPasteNumeral", function (e) {
				var $input = $(this);
				var previousVal = $input.val();
				var pastedValue = e.originalEvent.clipboardData.getData('text/plain').trim();
				if (isNaN(pastedValue) === false && isInt(Number(pastedValue))) {
					$input.val(pastedValue);
					e.preventDefault();
				} else {
					$input.val(previousVal);
					e.preventDefault();
				};
			});

			$("body").on("click", "[data-popup-main]", function (e) {
				if (!$(e.target).closest('[data-popup-body]').length) {

					if ($(e.target).is(':visible')) {

						var functionHide = $.trim($('[data-popup-main]').attr("data-popup-function-hide"));
						FuncionEjecutar(functionHide);
						$(e.target).hide();
						$('body').css({ 'overflow-y': 'scroll' });
					}
				}
			});

			$("body").on("click", "[data-popup-close]", function (e) {
				var popupClose = $("#" + $(this).attr("data-popup-close")) || $(this).parent("[data-popup-main]");

				var functionHide = $.trim($(popupClose).attr("data-popup-function-hide"));
				FuncionEjecutar(functionHide);
				$(popupClose).hide();
				$('body').css({ 'overflow-y': 'scroll' });
			});
		});

		function ShowLoading() {
			$("#loading-spin").fadeIn();
		}

		function CloseLoading() {
			$("#loading-spin").fadeOut("fast");
		}

		function messageInfo(message, fnAceptar) {
			message = $.trim(message);
			if (message == "") {
				return false;
			}

			$('#mensajeInformacion').html(message);
			$('#popupInformacion').show();
			if ($.isFunction(fnAceptar)) {
				$('#popupInformacion .btn-aceptar').off('click');
				$('#popupInformacion .btn-aceptar').on('click', fnAceptar);
			}
		}

		function messageInfoBueno(message, fnAceptar) {
			$('#mensajeInformacionSB2Bueno').html(message);
			$('#popupInformacionSB2Bueno').show();
			if ($.isFunction(fnAceptar)) {
				$('#popupInformacionSB2Bueno .btn_ok_mobile').off('click');
				$('#popupInformacionSB2Bueno .btn_ok_mobile').on('click', fnAceptar);
			}
		}

		function messageInfoMalo(message, fnAceptar) {
			$('#mensajeInformacionSB2_Malo').html(message);
			$('#popupInformacionSB2Malo').show();
			if ($.isFunction(fnAceptar)) {
				$('#popupInformacionSB2Malo .btn-aceptar').off('click');
				$('#popupInformacionSB2Malo .btn-aceptar').on('click', fnAceptar);
			}
		}

		function messageInfoError(message, fnAceptar) {
			$('#mensajeInformacionSB2_Error').html(message);
			$('#popupInformacionSB2Error').show();
			if ($.isFunction(fnAceptar)) {
				$('#popupInformacionSB2Error .btn-aceptar').off('click');
				$('#popupInformacionSB2Error .btn-aceptar').on('click', fnAceptar);
			}
		}

		function messageInfoValidado(message, fnAceptar) {
			$('#mensajeInformacionvalidado').html(message);
			$('#popupInformacionValidado').show();
			if ($.isFunction(fnAceptar)) {
				$('#popupInformacionValidado .btn_ok_mobile').off('click');
				$('#popupInformacionValidado .btn_ok_mobile').on('click', fnAceptar);
			}
		}

		function SeparadorMiles(pnumero) {
			// Función que colocará el caracter "." como separador de miles.

			var resultado = "";
			var numero = pnumero.replace(/\,/g, '');
			var nuevoNumero = "";
			if (numero[0] == "-") nuevoNumero = numero.replace(/\./g, '').substring(1);
			else nuevoNumero = numero.replace(/\./g, '');

			if (numero.indexOf(",") >= 0) nuevoNumero = nuevoNumero.substring(0, nuevoNumero.indexOf(","));

			for (var j, i = nuevoNumero.length - 1, j = 0; i >= 0; i-- , j++)
				resultado = nuevoNumero.charAt(i) + ((j > 0) && (j % 3 == 0) ? "." : "") + resultado;

			if (numero.indexOf(",") >= 0) resultado += numero.substring(numero.indexOf(","));

			if (numero[0] == "-") return "-" + resultado;
			else return resultado;
		}

		function ReservadoOEnHorarioRestringido(mostrarAlerta) {
			mostrarAlerta = typeof mostrarAlerta !== 'undefined' ? mostrarAlerta : true;
			var restringido = true;

			$.ajaxSetup({ cache: false });
			jQuery.ajax({
				type: 'GET',
				url: urlReservadoEnHorarioRestringuido,
				dataType: 'json',
				contentType: 'application/json; charset=utf-8',
				async: false,
				success: function (data) {
					if (!checkTimeout(data)) {
						return false;
					}

					if (data.success == false) {
						restringido = false;
						return false;
					}

					if (data.pedidoReservado) {
						var fnRedireccionar = function () {
							ShowLoading();
							location.href = urlPedidoValidado
						}
						if (mostrarAlerta == true) {
							CloseLoading();
							AbrirMensaje(data.message);
						}
						else fnRedireccionar();
					}
					else if (mostrarAlerta == true) {
						AbrirMensaje(data.message);
					}
				},
				error: function (error) {
					AbrirMensaje('Ocurrió un error al intentar validar el horario restringido o si el pedido está reservado. Por favor inténtelo en unos minutos.');
				}
			});

			return restringido;
		};
	</script>

	@RenderSection("scripts", required: false)
	@if (TempData.ContainsKey("PixelCodigoIso"))
	{
		@System.Web.Optimization.Scripts.Render("~/bundles/JS-Login-Header")
		<script>
        var pixelAnalytics = Analytics();
        pixelAnalytics.invocarEventoPixelById('@(TempData["PixelMarcacion"])', '@(TempData["PixelId"])');
		</script>
		@TempData.Remove("PixelCodigoIso");
	}

	@{
		if (TempData.ContainsKey("LimpiarLocalStorage"))
		{
			TempData.Remove("LimpiarLocalStorage");
			<script>limpiar_local_storage();</script>
		}
	}
</body>
</html>