@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Models;
@using Portal.Consultoras.Web.Areas.Mobile.Helpers
@using Portal.Consultoras.Web.Helpers

@{
    ShowRoomBannerLateralModel showRoomBannerLateral = new ShowRoomBannerLateralModel();
    if (ViewBag.MostrarShowRoomBannerLateral == true) { showRoomBannerLateral = ViewBag.ShowRoomBannerLateral; }
    
    bool esIngresoUnico = ViewContext.EsIngresoUnico();
}

<!DOCTYPE html>
<html lang="es-PE">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="SomosBelcorp Web Mobile" />

    <title>Somos Belcorp</title>

    @Html.Partial("~/Views/Shared/VistaParcialMainLayout/_GoogleOptimize.cshtml")

    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>

    @if (System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika").Contains(ViewBag.PaisAnalytics))
    {
        <link href="@Url.Content("~/Content/Images/Esika/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
        @Styles.Render("~/Content/Css/Mobile/Esika/CssSB2Mobile")
        @Styles.Render("~/Content/Css/Mobile/Esika/Contenedor")
    }
    else
    {
        <link href="@Url.Content("~/Content/Images/icons/favicon_lbel.ico")" rel="shortcut icon" type="image/x-icon" />
        @Styles.Render("~/Content/Css/Mobile/Lbel/CssSB2Mobile")
        @Styles.Render("~/Content/Css/Mobile/Lbel/Contenedor")
    }

    <link href="@Url.Content("~/Content/Css/Mobile/calc.css")" rel="stylesheet" type="text/css" />

    @Html.Partial("~/Views/Shared/VistaParcialMainLayout/_vpVariablesGeneralesPortal.cshtml")
    <script type="text/javascript">
        var isEsika = '@(System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika").Contains(ViewBag.PaisAnalytics))' == "True";
        var revistaDigital = @Html.Raw(Json.Encode(ViewBag.revistaDigital));
    </script>

    @RenderSection("styles", required: false)

    @if (TempData.ContainsKey("PixelCodigoIso"))
    {
        <noscript id="noscript-pixel-image"></noscript>
    }
</head>
<body>
    @Html.Partial("~/Views/Shared/VistaParcialMainLayout/_vpTagManager.cshtml")

    @if (ViewBag.PaisesConTrackingJetlore == "1")
    {
        <script type="text/javascript" src="https://assets.jetlore.com/js/jltracking.js"></script>

        <script type="text/javascript">
            var trackingJetloreAccessToken = '@System.Configuration.ConfigurationManager.AppSettings.Get("TrackingJetloreAccessToken")';

            JL.tracking({
                cid: trackingJetloreAccessToken,
                user_id: '@ViewBag.CodigoConsultoraDL',
                feed_id: 'Belcorp_' + '@ViewBag.CodigoISODL',
            });
        </script>
    }

    <input type="hidden" id="hdCampaniaCodigo" value="@ViewBag.CampaniaCodigo" />
    <input type="hidden" id="hdTipoOfertaFinal" value="@ViewBag.OfertaFinal" />
    <input type="hidden" id="hdTipoCatalogoPersonalizado" value="@ViewBag.CatalogoPersonalizado" />
    <input type="hidden" id="hdEsCatalogoPersonalizadoZonaValida" value="@Convert.ToString(ViewBag.EsCatalogoPersonalizadoZonaValida)" />
    <input type="hidden" id="hdCodigoEstrategia" value="@Util.Trim(ViewBag.CodigoEstrategia)" />

    <div class="menu">
        <div class="content_close">
            <div class="icon-close">
                <img src="@Url.Content("~/Content/Images/mobile/Esika/btn_cerrar_header.png")" alt="X" />
            </div>
        </div>
        <div class="foto_menu">
            @if (!string.IsNullOrEmpty(ViewBag.FotoPerfil))
            {
                <a href="@Url.Action("Index", "MiPerfil", new {area = "Mobile"})" title="Actualizar datos" class="subir_foto_mobile subir_foto_mobile_menu default-background"></a>
                <div class="foto_usuaria_mobile">
                    @if (ViewBag.FotoPerfilAncha)
                    {
                        <img id="imgFotoUsuario" src="@ViewBag.FotoPerfil" alt="" style="width:auto; height:100%" />
                    }
                    else
                    {
                        <img id="imgFotoUsuario" src="@ViewBag.FotoPerfil" alt="" style="width:100%; height:auto" />
                    }

                </div>
            }
        </div>
        <br />
        <div class="saludo_menu">¡Hola @ViewBag.NombreConsultora!</div>
        @Html.Partial("_MobileMenuLateral")
        <a id="lnk-cerrar-sesion" role="menu" region="Menú Lateral" parent="Cerrar Sesion" title="Cerrar Sesion" class="btn_cerrar_sesion" href="@Url.Action("LogOut", "Login", new { area = "" })">Cerrar sesión</a>
    </div>

    <div id="divAlertaPedidosOnline" class="alert-top alert-success alert-top-conline" style="display: none;">
        <a href="@Url.Action("MisPedidos", "ConsultoraOnline", new { area = "Mobile" })">
            <span class="alert-icon"><i class="icon-notificaciones-belcorp"></i></span>
            <span id="spanNumeroPedidoOnline1" class="alert-number"></span>
            <div class="alert-text upper center-min">TIENES <span id="spanNumeroPedidoOnline2">0</span> NUEVOS PEDIDOS DE CONSULTORA ONLINE</div>
        </a>
        <span class="alert-close"><i class="icon-close-belcorp"></i></span>
    </div>

    <header id="new-header">
        @if (ViewBag.mostrarBannerPostulante == true)
        {
            @Html.Partial("~/Areas/Mobile/Views/Shared/VistaParcialMobileLayout/_vpBloqueMensajesPostulante.cshtml")
        }
        else if (ViewBag.MostrarBannerRechazo == true)
        {
            @Html.Partial("~/Areas/Mobile/Views/Shared/VistaParcialMobileLayout/_vpBloqueMensajesPedido.cshtml")
        }
        else if (ViewBag.MostrarBannerTopPL20 == true)
        {
            <div id="flexslidertop" class="header_slider" style="overflow:hidden;">
                <a id="btn_cerrar_oferta_mobile" class="btn_cerrar_oferta_mobile">X</a>
                <ul class="slides">
                    @if (ViewBag.TieneOfertaDelDia == true)
                    {
                        <li style="height: 60px;">
                            @Html.Partial("~/Areas/Mobile/Views/OfertaDelDia/_OfertaDelDiaBannerTop.cshtml");
                        </li>
                    }

                    @if (Session["EsShowRoom"] != null && @Session["EsShowRoom"].ToString() == "1")
                    {
                        @Html.Partial("~/Areas/Mobile/Views/Shared/VistaParcialMobileLayout/_vpBloqueBannerShowRoomTop.cshtml", showRoomBannerLateral)
                    }
                </ul>
            </div>
        }
        @if (ViewBag.MostrarBannerApp == true && !ViewBag.MostrarBannerRechazo == true)
        {
            <div class="banner_app"><div>X</div></div>
        }

        <div class="container-fluid agregarBackgroundCincuentaAniosBelcorp" style="padding-top:9px; padding-bottom:9px;">
            <div class="row">
                <div class="col-xs-4 icono_menuMobile_cincuenta_anios_belcorp">
                    @*<img src="@Url.Content("~/Content/Images/mobile/Esika/icon_menu.png")" id="ic_menu" class="icon-menu" alt="Menú" />*@
                    <img src="@Url.Content("~/Content/Images/mobile/icono-menu-mobile.svg")" id="ic_menu" class="icon-menu" alt="Menú" />
                </div>
                <div class="col-xs-4 text-center">
                    <a role="link" region="Superior" parent="Bienvenida" title="Bienvenida"
                       class="logo_mobile" href="@Url.Action("Index", "Bienvenida", new { area = "Mobile" })"></a>
                </div>
                <div class="col-xs-4 text-right">
                    <div class="menu-shop">
                        <div class="contenedor_circulos">
                            <div class="circulo-1 iniciarTransicion"></div>
                            <div class="circulo-2 iniciarTransicion"></div>
                            <div class="circulo-3 iniciarTransicion"></div>
                        </div>
                        <a role="link" region="Superior" parent="Pedido" title="Pedido"
                           class="campana_mobile" href="@Url.Action("Detalle", "Pedido", new { area = "Mobile" })" id="lnk-sup-pedido">
                            <span role="link" region="Superior" parent="Pedido" title="Pedido" class="icon-menu-shop"><i class="icon-shop-belcorp"></i></span>
                            <span role="link" region="Superior" parent="Pedido" title="Pedido" class="num-menu-shop">0</span>
                        </a>
                        <a role="link" region="Superior" parent="Notificaciones" title="Notificaciones"
                           class="campana_mobile" href="@Url.Action("Index", "Notificaciones", new { area="Mobile" })" style="margin-left: -15px;">
                            <div role="link" region="Superior" parent="Notificaciones" title="Notificaciones" class="campana_svg_mobile"><p role="link" region="Superior" parent="Notificaciones" title="Notificaciones" class="notificaciones_mobiles">0</p></div>
                        </a>
                        <div class="popover bottom tooltip_agregado" role="tooltip" id="" style="display: block;">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                ¡Genial! 👍 Agregaste una oferta
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section style="min-height: 380px;">
        <div id="contentmobile" data-content="">

            @if (ViewBag.MostrarBannerPL20 == true && ViewBag.MostrarBannerOtros == false)
            {
                if (ViewBag.MostrarODD == false)
                {
                    <div id="content_slider_banner" class="content_slider_banner" style="display:none;">
                        @if (ViewBag.PermitirCerrarBannerPL20 == true)
                        {
                            <a class="btn_cerrar_oferta_mobile" href="javascript:void(0);" onclick="closeBannerPL20();">X</a>
                        }
                        <div id="flexslider">
                            <ul class="slides">
                                @if (ViewBag.MostrarShowRoomBannerLateral == true)
                                {
                                    <li>
                                        @Html.Partial("~/Areas/Mobile/Views/Shared/VistaParcialMobileLayout/_vpBloqueBannerShowRoom.cshtml", showRoomBannerLateral)
                                    </li>
                                }

                                @if (ViewBag.MostrarOfertaDelDia == true)
                                {
                                    <li data-section="ODD">
                                        @Html.Partial("~/Areas/Mobile/Views/OfertaDelDia/_OfertaDelDiaBanner.cshtml")
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                }
            }
            @RenderBody()
        </div>
        <div class="clear">
            <br />
            <br />
        </div>
    </section>

    <footer class="footer-page">
        @Html.Partial("_MobileMenuFooter")
        <hr class="clear" />
    </footer>

    <div class="content-spinner2" id="loading-spin">
        <div class="busy-loader">
            <div class="w-ball-wrapper ball-1">
                <div class="w-ball"></div>
            </div>
            <div class="w-ball-wrapper ball-2">
                <div class="w-ball"></div>
            </div>
            <div class="w-ball-wrapper ball-3">
                <div class="w-ball"> </div>
            </div> <div class="w-ball-wrapper ball-4">
                <div class="w-ball"> </div>
            </div>
            <div class="w-ball-wrapper ball-5">
                <div class="w-ball"> </div>
            </div>
        </div>
    </div>

    @*<script id="estrategia-template_carrusel" type="text/x-handlebars-template">
        {{#each this.ListaOfertas  as |oferta|}}
        <div data-item="">
            <div style="display:none;" data-item-campos="">
                <input type="text" class="tipoestrategia-id-odd" value="{{oferta.TipoEstrategiaID}}" />
                <input type="text" class="estrategia-id-odd" value="{{oferta.EstrategiaID}}" />
                <input type="text" class="marca-id-odd" value="{{oferta.MarcaID}}" />
                <input type="text" class="cuv2-odd" value="{{oferta.CUV2}}" />
                <input type="text" class="limite-venta-odd" value="{{oferta.LimiteVenta}}" />
                <input type="text" class="flagnueva-odd" value="{{oferta.FlagNueva}}" />
                <input type="text" class="precio-odd" value="{{oferta.PrecioOferta}}" />
                <input type="text" class="nombre-odd" value="{{oferta.NombreOferta}}" />
                <input type="text" class="indmonto-min-odd" value="{{oferta.IndicadorMontoMinimo}}" />
                <input type="text" class="teimagenmostrar-odd" value="{{oferta.TipoEstrategiaImagenMostrar}}" />
                <input type="text" Class="imagen-odd" value="{{oferta.ImagenDisplay}}" />
                <input type="text" class="origenPedidoWeb-odd" value="1" />
                <input type="hidden" class="DescripcionEstrategia" value="{{oferta.DescripcionEstrategia}}" />
            </div>
            <div data-compartir-campos="" style="display:none;">
                <input type="hidden" class="CUV" value="{{oferta.CUV2}}" />
                <input type="hidden" class="rsFBMensaje" value="" />
                <input type="hidden" class="rsWAMensaje" value="" />
                <input type="hidden" class="rsFBRutaImagen" value="{{oferta.ImagenDisplay}}" />
                <input type="hidden" class="rsWARutaImagen" value="{{oferta.ImagenDisplay}}" />
                <input type="hidden" class="MarcaID" value="{{oferta.MarcaID}}" />
                <input type="hidden" class="MarcaNombre" value="{{oferta.DescripcionMarca}}" />
                <input type="hidden" class="Nombre" value="{{oferta.NombreOferta}}" />
                <input type="hidden" class="ProductoDescripcion" value="{{oferta.DescripcionOferta}}" />
                <input type="hidden" class="Palanca" value="ODD" />
            </div>
            <div class="saludo_paginacion">
                <p>@ViewBag.NombreConsultora</p>, te mostramos <b>{{oferta.Posicion}} de {{../CantidadProductos}}</b>
                {{#iff ../CantidadProductos '>' 1}}
                &nbsp;ofertas
                {{/iff}}
                {{#iff ../CantidadProductos '<' 2}}
                &nbsp;oferta
                {{/iff}}
            </div>
            <div class="producto_img_mobile">
                <img src="{{oferta.ImagenDisplay}}" alt="" id="img-display-odd" />
            </div>
            <div class="nombre_set_display">{{oferta.NombreOferta}}</div>
            <div class="precio_valorizado_mobile">VALORIZADO EN <span>@ViewBag.Simbolo {{oferta.PrecioCatalogoFormat}}</span></div>
            <div class="producto_precio_hoy_mobile">
                A SOLO <span>@ViewBag.Simbolo {{oferta.PrecioOfertaFormat}}</span>
            </div>

            {{#IsNullOrEmpty oferta.DescripcionOferta '!='}}
            <div class="titulo_contenido">CONTENIDO</div>
            <div class="nombre_set_producto_hoy">{{{oferta.DescripcionOferta}}}</div>
            {{/IsNullOrEmpty}}

            <div class="content_redes_ficha" data-item="">
                <div class="texto_redes">Comparte este producto con tus clientes:</div>
                <a class="btn_compartir_ofertas" href="javascript: void(0);" data-compartir="WA"><img src="/Content/Images/Mobile/Esika/catalogo_ws.png" alt=""></a>
                <a class="btn_compartir_ofertas" href="javascript: void(0);" data-compartir="FB"><img src="/Content/Images/Mobile/Esika/facebook.png" alt=""></a>
            </div>
        </div>
        {{/each}}
    </script>*@

    @Html.Partial("~/Areas/Mobile/Views/Shared/VistaParcialMobileLayout/vp_BloquePopupMensajesInformacion.cshtml")
    @Html.Partial("~/Areas/Mobile/Views/Shared/VistaParcialMobileLayout/_vpBloquePopupPostulante.cshtml")
    @Html.Partial("~/Areas/Mobile/Views/Shared/VistaParcialMobileLayout/_vpBloquePopupComunidad.cshtml")
    @Html.Partial("~/Areas/Mobile/Views/Shared/VistaParcialMobileLayout/_vpBloquePopupSesionFinalizada.cshtml")

    <div style="display:none">
        <a id="HiddenRedesSocialesWA" href="#" data-action="share/whatsapp/share">WA</a>
    </div>

    @Scripts.Render("~/Scripts/MobileLayout")

    <script type="text/javascript">
        var urlRegistrarUsuarioComunidad = '@Url.Action("RegistrarUsuarioComunidad", "Bienvenida", new { area = "" })';
        var urlValidarCorreoComunidad = '@Url.Action("ValidarCorreoComunidad", "Bienvenida", new { area = "" })';
        var urlValidarCorreoIngresado = '@Url.Action("ValidarCorreoIngresado", "Bienvenida", new { area = "" })';
        var urlValidarUsuarioIngresado = '@Url.Action("ValidarUsuarioIngresado", "Bienvenida", new { area = "" })';
        var urlGetCantidadProductos = '@Url.Action("GetResumenCampaniaAgrupado", "GestionContenido", new { area = "" })';
        var urlGetNotificacionesSinLeer = '@Url.Action("GetNotificacionesSinLeer", "Notificaciones", new { area = "" })';
        var urlGetCantidadPedidos = '@Url.Action("GetCantidadPedidos", "ConsultoraOnline", new { area = "Mobile" })';
        var urlGetShowRoom = '@Url.Action("MostrarShowRoomBannerLateral", "Bienvenida", new { area = "" })';
        var urlCloseBannerPL20 = '@Url.Action("CloseBannerPL20", "Pedido", new { area = "" })';
        var urlOcultarBannerTop = '@Url.Action("OcultarBannerTop", "Pedido", new { area = "" })';
        var urlDeshacerReservaPedidoReservado2 = '@Url.Action("PedidoValidadoDeshacerReserva", "Pedido", new { area = "" })';
        var urlReservadoEnHorarioRestringuido = '@Url.Action("ReservadoOEnHorarioRestringido", "Pedido", new { area = "" })';
        var urlPedidoValidado = '@Url.Action("Validado", "Pedido", new { area = "Mobile" })';
        var urlOfertaDelDiaMobile = '@Url.Action("Index", "OfertaDelDia", new { area = "Mobile" })';

        var urlValidarStockEstrategia = '@Url.Action("ValidarStockEstrategia", "Pedido", new { area = "" })';
        var urlPedidoInsertZe = '@Url.Action("AgregarProductoZE", "Pedido", new { area = "" })';
        var baseUrl = "@Url.Content("~")";
        var tipoOfertaFinalCatalogoPersonalizado = '@Constantes.TipoOfertaFinalCatalogoPersonalizado.Jetlore';

        var formatDecimalPaisMain = '@ViewBag.FormatDecimalPais';
        var esPaisTrackingJetlore = '@ViewBag.PaisesConTrackingJetlore';
        var indicadorEnviadoDescarga = '@ViewBag.IndicadorEnviado';

        var IsoPais = '@ViewBag.CodigoISODL';
        var gTipoUsuario = '@ViewBag.TipoUsuario';

        //Postulante
        var mostrarBannerPostulante = '@ViewBag.MostrarBannerPostulante';

        //GPR
        var estaRechazado = '@ViewBag.IndicadorGPRSB';
        var cerrarRechazado = '@ViewBag.CerrarRechazado';
        var mostrarBannerRechazo = '@ViewBag.MostrarBannerRechazo';

        var mostrarOfertaDelDia = '@ViewBag.MostrarODD';
        var usuarioNombre = '@ViewBag.UsuarioNombre';
        var campaniaCodigo = '@ViewBag.CampaniaCodigo';
        var campaniaAnio = parseInt(parseInt(campaniaCodigo) / 100);
        var campaniaNro = parseInt(campaniaCodigo) - campaniaAnio * 100;
        var MostrarBannerPL20 = '@ViewBag.MostrarBannerPL20';
        var MostrarBannerOtros = '@ViewBag.MostrarBannerOtros';
        var ocultarBannerTop = '@Session["OcultarBannerTop"]';
        var TipoOrigenPantallaODD = 2;
        // New Chat
        var emt_client_type = '@ViewBag.TipoUsuario';
        var emt_country = '@ViewBag.CodigoISODL';
        var emt_email_address = '@ViewBag.CorreoC';
        var emt_first_name = '@ViewBag.NombreC';
        var emt_id = '@ViewBag.CodigoUsuario';
        var emt_type = '0';
        var emt_device = ' ';
        var emt_default_message = '@Html.Raw(ViewBag.MensajeChat)';

        var habilitarChatEmtelco = '@ViewBag.HabilitarChatEmtelco';        
        var sesionEsShowRoom = '@Session["EsShowRoom"]';
        var EstadoActivo = '@ViewBag.EstadoActivo';
        var ViewBagEsMobile = '@ViewBag.EsMobile';

        var tokenPedidoAutenticoOk = '@ViewBag.TokenPedidoAutenticoOk';
        var _ModificacionPedidoProl = '@ViewBag.ModificarPedidoProl';
        window.urlLogDynamo = '@System.Configuration.ConfigurationManager.AppSettings["UrlLogDynamo"]';
        window.urlLogElastic = '@System.Configuration.ConfigurationManager.AppSettings["UrlLogElastic"]';
        window.patternElastic = '@System.Configuration.ConfigurationManager.AppSettings["PatternElastic"]';
        var userData = {
            'aplicacion': '@(Constantes.LogDynamoDB.AplicacionPortalConsultoras)',
            'rol': '@(Constantes.LogDynamoDB.RolConsultora)',
            'campana': '@ViewBag.AnalyticsCampania',
            'region': '@ViewBag.AnalyticsRegion',
            'zona': '@ViewBag.AnalyticsZona',
            'seccion': '@ViewBag.AnalyticsSeccion',
            'pais': '@ViewBag.AnalyticsPais',
            'codigoConsultora': '@ViewBag.AnalyticsCodigoConsultora'
        };
        var vbFotoPerfil = '@ViewBag.FotoPerfil';
        if (vbFotoPerfil != null && vbFotoPerfil != "") {
            $('.foto_menu').show();
        }

        var ViewIndicadorGPRSB = '@ViewBag.IndicadorGPRSB';
        var MensajePedidoMobile = '@ViewBag.MensajePedidoMobile';
        var OrigenDesktopODD = 0;

        //BANNER APP
        var urlOcultarBannerApp = '@Url.Action("OcultarBannerApp", "Bienvenida", new { area = "Mobile" })';
        var oBannerApp = @Html.Raw(@Json.Encode(ViewBag.BannerApp));

        // Seteando Controlador y Accion
        @{
            var routeValues = HttpContext.Current.Request.RequestContext.RouteData.Values;
            string ctrl = routeValues.ContainsKey("controller") ? routeValues["controller"].ToString() : "CtrlNoRoute";
            string acti = routeValues.ContainsKey("action") ? routeValues["action"].ToString() : "ActiNoRoute";
        }
        window.controllerName = '@ctrl.ToLower()';
        window.actionName     = '@acti.ToLower()';
        //console.log("controllerName:" + controllerName + " | actionName:" + actionName);
    </script>

    @if (ViewBag.TieneOfertaDelDia == true)
    {
        <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/Bienvenida/OfertaDelDia.js")"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                //window.OfertaDelDia.CargarODD();
                OfertaDelDiaModule.Inicializar();
                //$("div[id^='content_oferta_dia_mobile']").click(function () {
                //    document.location.href = urlOfertaDelDiaMobile;
                //});
            });
        </script>
    }

    @if (ViewBag.MostrarBannerPL20 == true || ViewBag.MostrarBannerOtros == true)
    {
        if (ViewBag.MostrarShowRoomBannerLateral == true)
        {
            <script type="text/javascript">
        var mostrarShowRoomProductos = '@showRoomBannerLateral.MostrarShowRoomProductos';
        var showRoomDiasFaltantes = @showRoomBannerLateral.DiasFaltantes;
        var showRoomMesFaltante = @showRoomBannerLateral.MesFaltante;
        var showRoomAnioFaltante = @showRoomBannerLateral.AnioFaltante;

        function AgregarTagManagerShowRoomAnalytics() {
            var EventoIdentificador = $("#hdEventoIDShowRoom").val();
            var EventoShowRoomNombre = $("#hdNombreEventoShowRoom").val();
            var EventoShowRoomTema = $("#hdTemaEventoShowRoom").val();

            if (mostrarShowRoomProductos == 'True') {
                dataLayer.push({
                    'event': 'promotionView',
                    'ecommerce': {
                        'promoView': {
                            'promotions': [
                                {
                                    'id': EventoIdentificador,
                                    'name': EventoShowRoomNombre + ' ' + EventoShowRoomTema + ' - Compra Ya',
                                    'position': 'Home Slider - 1',
                                    'creative': 'Banner'
                                }
                            ]
                        }
                    }
                });
            } else {
                dataLayer.push({
                    'event': 'promotionView',
                    'ecommerce': {
                        'promoView': {
                            'promotions': [
                                {
                                    'id': EventoIdentificador,
                                    'name': EventoShowRoomNombre + ' ' + EventoShowRoomTema + ' - Entérate',
                                    'position': 'Home Slider - 1',
                                    'creative': 'Banner'
                                }
                            ]
                        }
                    }
                });
            }
            if ($('#flexslidertop ul.slides li').length > 0) {
                if (mostrarShowRoomProductos == 'True') {
                    dataLayer.push({
                        'event': 'promotionView',
                        'ecommerce': {
                            'promoView': {
                                'promotions': [
                                    {
                                        'id': EventoIdentificador,
                                        'name': 'Venta Exclusiva Web ' + EventoShowRoomNombre + ' - Compra Ya',
                                        'position': 'Home superior - 1',
                                        'creative': 'Banner'
                                    }
                                ]
                            }
                        }
                    });
                } else {
                    dataLayer.push({
                        'event': 'promotionView',
                        'ecommerce': {
                            'promoView': {
                                'promotions': [
                                    {
                                        'id': EventoIdentificador,
                                        'name': 'Venta Exclusiva Web ' + EventoShowRoomNombre + ' - Entérate',
                                        'position': 'Home superior - 1',
                                        'creative': 'Banner'
                                    }
                                ]
                            }
                        }
                    });
                }
            }
        }

        function CargarShowRoom() {
            AgregarTagManagerShowRoomAnalytics();
            if (mostrarShowRoomProductos == 'True') {
                $("#lnkConoceMasShowRoomBannerLateralHoy, #lnkConoceMasShowRoomBannerLateralImagenHoy").click(function () {
                    AgregarTagManagerShowRoomBannerLateralConocesMas(true);
                });
            }
            else {
                $("#lnkConoceMasShowRoomBannerLateral").click(function () {
                    AgregarTagManagerShowRoomBannerLateralConocesMas(false);
                });
                AgregarTimerShowRoom(showRoomDiasFaltantes, showRoomMesFaltante, showRoomAnioFaltante);
            }
        }

        function AgregarTagManagerShowRoomBannerClick() {
            dataLayer.push({
                'event': 'promotionClick',
                'ecommerce': {
                    'promoView': {
                        'promotions': [
                            {
                                'id': '123',
                                'name': 'venta',
                                'position': 'Home pop-up - 1',
                                'creative': 'Banner'
                            }
                        ]
                    }
                }
            });

        }

        function AgregarTagManagerShowRoomBannerLateralConocesMas(esHoy) {
            var name = 'showroom digital ' + $("#hdTemaEventoShowRoom").val();
            if (esHoy) name += " - fase 2";

            dataLayer.push({
                'event': 'promotionClick',
                'ecommerce': {
                    'promoClick': {
                        'promotions': [
                            {
                                'id': $("#hdEventoIDShowRoom").val(),
                                'name': name,
                                'position': 'Home lateral - 1',
                                'creative': 'Banner'
                            }]
                    }
                }
            });
        }

        function AgregarTagManagerShowRoomBannerLateral(esHoy) {
            var name = 'showroom digital ' + $("#hdTemaEventoShowRoom").val();
            if (esHoy) name += " - fase 2";

            dataLayer.push({
                'event': 'promotionView',
                'ecommerce': {
                    'promoView': {
                        'promotions': [
                            {
                                'id': $("#hdEventoIDShowRoom").val(),
                                'name': name,
                                'position': 'Home lateral - 1',
                                'creative': 'Banner'
                            }]
                    }
                }
            });
        }

        function AgregarTimerShowRoom(dia, mes, anio) {
            var calcNewYear = setInterval(function () {
                date_future = new Date(anio, mes - 1, dia);
                date_now = new Date();

                seconds = Math.floor((date_future - (date_now)) / 1000);
                minutes = Math.floor(seconds / 60);
                hours = Math.floor(minutes / 60);
                days = Math.floor(hours / 24);

                hours = hours - (days * 24);
                minutes = minutes - (days * 24 * 60) - (hours * 60);
                seconds = seconds - (days * 24 * 60 * 60) - (hours * 60 * 60) - (minutes * 60);

                $(".clsDia").html(days);
                $(".clsHora").html(hours);
                $(".clsMinuto").html(minutes);
                $(".clsSegundo").html(seconds);

                if (days == 0 && hours == 0 && minutes == 0 && seconds == 0) {
                    clearInterval(calcNewYear);
                }
                if (days < 0) {
                    $(".clsDia").html(0);
                    $(".clsHora").html(0);
                    $(".clsMinuto").html(0);
                    $(".clsSegundo").html(0);
                    clearInterval(calcNewYear);
                }
            }, 1000);
        }

            </script>
        }
    }
    <script type="text/javascript">
        function messageInfoPostulante() {
            $('.icon-close').click();
            $('#mensajeInformacionvalidado').html('Por el momento esta sección no está habilitada, te encuentras en una sesión de prueba. Una vez recibas tu código de consultora, podrás acceder a todos los beneficios de Somos Belcorp.');
            $('#popupInformacionValidado').show();
            return false;
        }
    </script>
    @RenderSection("scripts", required: false)
    @{Html.PlaceScripts();}

    @{
        if (!esIngresoUnico)
        {
            <link href="@Url.Content("~/emt_chat/css/style-client.css")" rel="stylesheet">
            <link rel="stylesheet" href="@Url.Content("~/emt_chat/css/font-awesome.min.css")">
            <div class="CMXD-containment-wrapper"></div><div id="marca"> <div class="CMXD-btn-help"> <div id="btn_init" class="CMXD-help" style="display:none;"></div><div id="btn_open" class="CMXD-open" style="display: none"></div></div><div class="container-movil"></div><div id="CMXD-container-chat" class="CMXD-container-chat" style="display: none"> <div class="CMXD-header-chat"> <i class="fa fa-comments-o" aria-hidden="true"></i> CHAT EN LÍNEA <div class="CMXD-icons"> <a class="display-a" id="btn_minimize" href=""> <i class="fa fa-minus" aria-hidden="true"></i> </a> <a class="display-a" id="btn_wClose" href="" style="display: none"> <i class="fa fa-times" aria-hidden="true"></i> </a> </div><hr class="CMXD-line"> </div><div id="chat"> <div id="interaction" class="CMXD-container-welcome" style="display: none"> <div class='chat-wrapper'> <div id="transcript" class='chat-message padding container-chat'></div></div><div id="slideDownTranscript" class="message-end CMXD-animate2"> <span class="fa fa-angle-double-down"></span> </div><div class="container-txt"> <textarea class="txtarea" rows="2" id="Entry" placeholder="Escribe un Mensaje..."></textarea> <a class="" href=""> <div class="send send2" id="btn_Send"> <i class="fa fa-paper-plane-o" aria-hidden="true"></i><br>Enviar </div></a> </div></div><div id="loading" class="pop-up"> <div class="CMXD-container-welcome"> <div class="CMXD-img-welcome"> <img id="loading_image" src="" alt=""> </div><div id="loading_title" class="CMXD-welcome"> Bienvenida a nuestro <br>chat en línea </div><div id="loading_description" class="CMXD-description"> En un momento uno de nuestros asesores estará contigo </div></div></div><div id="schedule" class="pop-up"> <div class="CMXD-container-welcome"> <div class="CMXD-img-welcome"> <img id="schedule_image" src="" alt="Imagen fuera de horario"> </div><div id="schedule_title" class="CMXD-welcome"> </div><div id="schedule_description" class="CMXD-description"> </div></div></div><div id="Error" class="pop-up"> <div class="CMXD-container-welcome"> <div class="CMXD-img-welcome"> <img id="Error_image" src="" alt=""> </div><div class="CMXD-welcome"> Error de conexión </div><div class="CMXD-description"> En estos momentos no es posible establecer conexión. Por favor intenta más tarde. <br /><br /> <a href="" class="btn-no display-a" id="btn_mclose"> OK</a> </div></div></div><div id="alert" class="pop-up"> <div class="CMXD-container-welcome"> <div class="CMXD-img-welcome"> <img id="alert_image" src="" alt=""> </div><div class="CMXD-welcome"> ¿Desea cerrar la sesión de chat? </div><div class="CMXD-description"> <a href="" class="btn-yes display-a" id="btn_close"> Si</a> <a href="" class="btn-no display-a" id="btn_nwClose"> No</a> </div></div></div></div><div id="poll" class="pop-up"> <div class="CMXD-container-welcome"> <div id="poll_title" class="CMXD-welcome"> <br />Encuesta de Satisfacción </div><div id="poll_description" class="CMXD-description"> </div></div></div></div></div>
            <script type="text/javascript" src="@Url.Content("~/emt_chat/js/gen.js")?v1"></script>
        }
    }

    @if (TempData.ContainsKey("PixelCodigoIso"))
    {
        @System.Web.Optimization.Scripts.Render("~/bundles/JS-Login-Header")
        <script>
            var pixelAnalytics = Analytics();
            pixelAnalytics.invocarEventoPixelById('@(TempData["PixelMarcacion"])', '@(TempData["PixelId"])');
        </script>
        TempData.Remove("PixelCodigoIso");
    }
</body>
</html>