@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Models;
@using Portal.Consultoras.Web.Areas.Mobile.Helpers
@using Newtonsoft.Json;

@{
    Layout = null;
    ShowRoomBannerLateralModel showRoomBannerLateral = new ShowRoomBannerLateralModel();
    if (ViewBag.MostrarShowRoomBannerLateral == true) { showRoomBannerLateral = ViewBag.ShowRoomBannerLateral; }

    OfertaDelDiaModel ofertaDelDia = new OfertaDelDiaModel();
    if (ViewBag.MostrarOfertaDelDia == true) { ofertaDelDia = ViewBag.OfertaDelDia; }
}

<!DOCTYPE html>
<html lang="es-PE">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="SomosBelcorp Web Mobile" />
    <title>Somos Belcorp</title>

    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>

    @if (System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika").Contains(ViewBag.PaisAnalytics == null ? "" : ViewBag.PaisAnalytics))
    {
        <link href="@Url.Content("~/Content/Images/Esika/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
        @Styles.Render("~/Content/Css/Mobile/Esika/CssSB2Mobile")
    }
    else
    {
        <link href="@Url.Content("~/Content/Images/icons/favicon_lbel.ico")" rel="shortcut icon" type="image/x-icon" />
        @Styles.Render("~/Content/Css/Mobile/Lbel/CssSB2Mobile")
    }
    <link href="@Url.Content("~/Content/Css/Mobile/calc.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Content/Css/Mobile/flexslider.css")" rel="stylesheet" type="text/css" />

    @Html.Partial("~/Views/Shared/VistaParcialMainLayout/_vpVariablesGeneralesPortal.cshtml")
    <script type="text/javascript">
        var isEsika = '@(System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika").Contains(ViewBag.PaisAnalytics == null ? "" : ViewBag.PaisAnalytics))' == "True";
    </script>

    @RenderSection("styles", required: false)

</head>
<body>
    <script type="text/javascript"> 
        dataLayer = [{
            'campana': '@ViewBag.AnalyticsCampania',
            'segmento': '@ViewBag.AnalyticsSegmento',
            'edad': '@ViewBag.AnalyticsEdad',
            'zona': '@ViewBag.AnalyticsZona',
            'pais': '@ViewBag.AnalyticsPais',
            'rol': '@ViewBag.AnalyticsRol',
            'region': '@ViewBag.AnalyticsRegion',
            'seccion': '@ViewBag.AnalyticsSeccion',
            'codigoconsultora': '@ViewBag.AnalyticsCodigoConsultora',
            'periodo': '@ViewBag.AnalyticsPeriodo',
            'segmentoconstancia': '@ViewBag.AnalyticsSegmentoConstancia',
            'socianivel': '@ViewBag.AnalyticsSociaNivel',
            'semana-periodo': '@ViewBag.SemanaAnalytics'
        }];
    </script>

    <div class="menu">
        <div class="content_close">
            <div class="icon-close">
                <img src="@Url.Content("~/Content/Images/mobile/Esika/btn_cerrar_header.png")" alt="X" />
            </div>
        </div>
        <div class="foto_menu" style="display:none">
            <div class="content_foto">
                <div class="foto_usuaria_mobile">
                    <img src="/Content/Images/mobile/Esika/user.jpg" alt="-">
                </div>
            </div>
        </div>
        <br />
        <div class="saludo_menu">¡Hola @ViewBag.NombreConsultora!</div>
        @Html.Partial("_MobileMenuLateral")
        <a role="menu" region="Menú Lateral" parent="Cerrar Sesion" title="Cerrar Sesion" class="btn_cerrar_sesion" href="@Url.Action("LogOut", "Login", new { area = "" })">Cerrar sesión</a>
    </div>

    <section style="min-height: 380px;">
        <div id="content" data-content="" style="margin-top: 5px;">
            @RenderBody()
        </div>
        <div class="clear">
            <br />
            <br />
        </div>
    </section>

    <div style="display:none">
        <a id="HiddenRedesSocialesWA" href="#" data-action="share/whatsapp/share">WA</a>
    </div>


    <script src="/Scripts/jquery-1.11.2.js"></script>
    <script src="/Scripts/jquery-ui-1.9.2.custom.js"></script>
    <script src="/Scripts/jquery.validate.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/accordion.js"></script>
    <script src="~/Scripts/PortalConsultoras/Shared/General/RedesSociales.js"></script>
    <script src="/Scripts/General.js"></script>
    <script src="/Scripts/LogError.js"></script>

    <script type="text/javascript" src="@Url.Content("~/Scripts/handlebars.min.js")"></script>
    <script src="@Url.Content("~/Scripts/PortalConsultoras/Shared/TrackingJetlore.js")"></script>
    
    <script type="text/javascript">
        var urlRegistrarUsuarioComunidad = '@Url.Action("RegistrarUsuarioComunidad", "Bienvenida", new { area = "" })';
        var urlValidarCorreoComunidad = '@Url.Action("ValidarCorreoComunidad", "Bienvenida", new { area = "" })';
        var urlValidarCorreoIngresado = '@Url.Action("ValidarCorreoIngresado", "Bienvenida", new { area = "" })';
        var urlValidarUsuarioIngresado = '@Url.Action("ValidarUsuarioIngresado", "Bienvenida", new { area = "" })';
        var urlGetCantidadProductos = '@Url.Action("GetResumenCampaniaAgrupado", "GestionContenido", new { area = "" })';
        var urlGetNotificacionesSinLeer = '@Url.Action("GetNotificacionesSinLeer", "Notificaciones", new { area = "" })';
        var urlGetCantidadPedidos = '@Url.Action("GetCantidadPedidos", "ConsultoraOnline", new { area = "Mobile" })';
        var urlGetShowRoom = '@Url.Action("MostrarShowRoomBannerLateral", "Bienvenida", new { area = "" })';
        var urlCloseBannerPL20 = '@Url.Action("CloseBannerPL20", "Pedido", new { area = "" })';
        var urlValidarStockEstrategia = '@Url.Action("ValidarStockEstrategia", "Pedido", new { area = "" })';
        var urlPedidoInsertZe = '@Url.Action("AgregarProductoZE", "Pedido", new { area = "" })';
        var baseUrl = "@Url.Content("~")";
        var tipoOfertaFinalCatalogoPersonalizado = '@Constantes.TipoOfertaFinalCatalogoPersonalizado.Jetlore';

        var formatDecimalPaisMain = '@ViewBag.FormatDecimalPais';
        var esPaisTrackingJetlore = '@ViewBag.PaisesConTrackingJetlore';
        var indicadorEnviadoDescarga = '@ViewBag.IndicadorEnviado';
        var estaRechazado = '@ViewBag.IndicadorGPRSB';
        var cerrarRechazado = '@ViewBag.CerrarRechazado';
        var mostrarBannerRechazo = '@ViewBag.MostrarBannerRechazo';


        var sesionEsShowRoom = '@Portal.Consultoras.Web.SessionManager.SessionManager.Instance.GetEsShowRoom().ToString().ToLower()' === 'true';
        var MostrarBannerPL20 = '@ViewBag.MostrarBannerPL20';

        var ViewBagEsMobile = '@ViewBag.EsMobile';

        window.urlLogDynamo = '@System.Configuration.ConfigurationManager.AppSettings["UrlLogDynamo"]';

        // Seteando Controlador y Accion
        @{
            var routeValues = HttpContext.Current.Request.RequestContext.RouteData.Values;
            string ctrl = routeValues.ContainsKey("controller") ? routeValues["controller"].ToString() : "CtrlNoRoute";
            string acti = routeValues.ContainsKey("action") ? routeValues["action"].ToString() : "ActiNoRoute";
        }
        window.controllerName = '@ctrl.ToLower()';
        window.actionName     = '@acti.ToLower()';
        //console.log("controllerName:" + controllerName + " | actionName:" + actionName);

        var userData = {
            'aplicacion': '@(Constantes.LogDynamoDB.AplicacionPortalConsultoras)',
            'rol': '@(Constantes.LogDynamoDB.RolConsultora)',
            'campana': '@ViewBag.AnalyticsCampania',
            'region': '@ViewBag.AnalyticsRegion',
            'zona': '@ViewBag.AnalyticsZona',
            'seccion': '@ViewBag.AnalyticsSeccion',
            'pais': '@ViewBag.AnalyticsPais',
            'codigoConsultora': '@ViewBag.AnalyticsCodigoConsultora'
        };
    </script>

    <script type="text/javascript">
        
        $(document).ready(function () {
            aCam.push($("#hdCampaniaAnterior").val());
            aCam.push($("#hdCampaniaActual").val());
            aCam.push($("#hdCampaniaSiguiente").val());

            aCamRev.push($("#hdrCampaniaAnterior").val());
            aCamRev.push($("#hdrCampaniaActual").val());
            aCamRev.push($("#hdrCampaniaSiguiente").val());
            rCampSelect = $("#hdrCampaniaAnterior").val();//$("#hdrCampaniaActual").val();
            $("#contentRevista .titulo_central[data-titulo='revista']").text("REVISTA C-" + rCampSelect.substring(4, 6));
            RevistaMostrar(-1); 

            $('#campaniaRevista').val(rCampSelect);

            $('ul[data-tab="tab"] li a[data-tag]').click(function (e) {
                $("[data-tag-html]").hide();
                var tag = $(this).attr("data-tag") || "";
                var obj = $("[data-tag-html='" + tag + "']");
                $.each(obj, function (ind, objTag) {
                    $(objTag).fadeIn(300).show();
                });

                $('ul[data-tab="tab"] li a').find("div.marcador_tab").addClass("oculto");
                $(this).find("div.marcador_tab").removeClass("oculto");
            });

            $('ul[data-tab="tab"]').mouseover(function () {
                $("#barCursor").css("opacity", "1");
            }).mouseout(function () {
                $("#barCursor").css("opacity", "0");
            });

            ordenCat[0] = isEsika ? tagLbel : tagEsika;
            ordenCat[1] = isEsika ? tagEsika : tagLbel;
            ordenCat[2] = tagCyzone;
            ordenCat[3] = "";

            CargarCarruselCatalogo();
            ColumnasDeshabilitadasxPais();
        });

        var tagLbel = "Lbel";
        var tagEsika = "Esika";
        var tagCyzone = "Cyzone";

        var campSelect = "";
        var campSelectI = 1;

        var aCam = new Array();
        var linkCat = new Object();
        var descrCat = new Object();
        var ordenCat = new Object();

        var cantCat = 3;
        var cantCam = 3;
        var cont = 0;

        var listaCorreo = new Array();

        var imgIssuu = '';
        imgIssuu = imgIssuu.startsWith("https") ? imgIssuu.replace("https://", "http://") : imgIssuu;

        function InsertarLogCatalogoDynamo(opcionAccion, campaniaCatalogo, marca, cantidad) {
            InsertarLogDymnamo(
                'Catalogo-Compartir',
                opcionAccion,
                true,
                [
                    { 'key': 'CampaniaCatalogo', 'value': campaniaCatalogo },
                    { 'key': 'Marca', 'value': marca },
                    { 'key': 'Cantidad', 'value': cantidad }
                ]
            );
        }

        function CargarCarruselCatalogo() {
            ShowLoading();
            var htmlBase = "";
            var totalItem = cantCat * cantCam;

            $("#divCatalogo").children()
                             .not('.previous_carrusel_catalogo, .next_carrusel_catalogo, .previous_carrusel_catalogo *, .next_carrusel_catalogo *')
                             .remove();

            for (var i = 0; i < totalItem; i++) {
                var nro = "";
                var anio = "";
                var tipo = "";

                if (i < cantCat) {
                    anio = $("#hdCampaniaAnterior").val().substring(0, 4);
                    nro = $("#hdCampaniaAnterior").val().substring(4, 6);
                }
                else if (i < cantCat * 2) {
                    anio = $("#hdCampaniaActual").val().substring(0, 4);
                    nro = $("#hdCampaniaActual").val().substring(4, 6);
                }
                else if (i < cantCat * 3) {
                    anio = $("#hdCampaniaSiguiente").val().substring(0, 4);
                    nro = $("#hdCampaniaSiguiente").val().substring(4, 6);
                }

                var x = i - parseInt(i / cantCat) * cantCat;
                x = x < 0 ? 3 : x > 2 ? 3 : x;

                tipo = ordenCat[x];
                if (nro == "" || anio == "" || tipo == "") {
                    continue;
                }

                var data = {
                    campania: anio + nro,
                    tipoCatalogo: tipo,
                    comp: tipo,
                    descripcion: descrCat[tipo],
                    estado: "0"
                };
                var source = $("#catalogo-template").html();
                var template = Handlebars.compile(source);
                var context = data;
                var html = template(context);

                $("#divCatalogo").append(html);
            }
    
            CloseLoading();
        }
        function ColumnasDeshabilitadasxPais(valor, accion, label) {
            ShowLoading();

            if (!(typeof (accion) === 'undefined')) {
                SetGoogleAnalytics("", accion, label);
            }

            var deferedCam = new Object();
            for (var i = 0; i < aCam.length; i++) {
                var camp = aCam[i];
                deferedCam[camp] = jQuery.Deferred();

                deferedCam[camp] = ObtenerEstadoCatalogo(camp, deferedCam[camp]);
                deferedCam[camp].done(function (data, camp) {
                    if (data != null) GetCatalogosLinksByCampania(data, camp);
                    else cont += cantCat;
                });
            }

            $.when(deferedCam[aCam[0]], deferedCam[aCam[1]], deferedCam[aCam[2]]).done(function () {
                FinRenderCatalogo();
            });
        }
        function ObtenerEstadoCatalogo(campana, defered) {
            jQuery.ajax({
                type: "GET",
                url: urlDetalle,
                dataType: "json",
                data: { campania: campana },
                success: function (result) {
                    if (checkTimeout(result)) {
                        defered.resolve(result, campana);
                    }
                },
                error: function (result, x, xh, xhr) {
                    if (checkTimeout(result)) {
                        defered.resolve(null, campana);
                    }
                }
            });
            return defered.promise();

        }
        function GetCatalogosLinksByCampania(data, campania) {
            ShowLoading();
            $.ajaxSetup({ cache: false });

            var paisNombre = $("#hdPaisNombre").val();

            var defered = new Object();

            var anio = campania.substring(0, 4);
            var nro = campania.substring(4, 6);
            var idCat = "#divCatalogo";

            for (var i = 0; i < cantCat; i++) {
                var tagCat = i == 0 && data.estadoLbel != 1 ? tagLbel
                : i == 1 && data.estadoCyzone != 1 ? tagCyzone
                : i == 2 && data.estadoEsika != 1 ? tagEsika
                : "";

                if (tagCat == "") {
                    cont++;
                    continue;
                }

                var estado = i == 0 && data.estadoLbel != 1 ? "1"
                    : i == 1 && data.estadoCyzone != 1 ? "1"
                    : i == 2 && data.estadoEsika != 1 ? "1"
                    : "0";

                defered[tagCat] = jQuery.Deferred();

                var elemItem = "[data-cam='" + campania + "'][data-cat='" + tagCat + "']";
                $(idCat).find(elemItem).find("[data-tipo='content']").hide();
                $(elemItem).attr("data-estado", estado)

                var catalogo = tagCat.toLowerCase() + "." + paisNombre + ".c" + nro + "." + anio;

                var codigoISSUU = '', urlCat;
                $.each(data.listCatalogo, function (key, catalogo) {
                    if (catalogo.marcaCatalogo.toLowerCase() == tagCat.toLowerCase()) {
                        codigoISSUU = catalogo.DocumentID;
                        urlCat = catalogo.SkinURL;
                    }
                });
                cont++;
                if (codigoISSUU == '') {
                    $(idCat).find(elemItem).find("[data-tipo='img']").attr("href", linkCat[tagCat]);
                    $(idCat).find(elemItem).find("[data-tipo='img']").attr("onclick", "SetGoogleAnalytics('','Ver catálogo','" + tagCat + "')");
                    $(idCat).find(elemItem).find("[data-tipo='img'] img").attr("src", imgNoDisponible);
                }
                else {
                    var n = campania.substring(4, 6);
                    var a = campania.substring(0, 4);
                    $(idCat).find(elemItem).find("[data-tipo='img']").attr("onclick", "SetGoogleAnalytics('" + codigoISSUU + "','Ver catálogo','" + tagCat + "')");
                    var urlCatWS = urlCat;

                    urlCatWS = urlCatWS.ReplaceAll("/", "%2F");
                    urlCatWS = urlCatWS.ReplaceAll(":", "%3A");
                    urlCatWS = urlCatWS.ReplaceAll("?", "%3F");
                    urlCatWS = urlCatWS.ReplaceAll("=", "%3D");

                    $(idCat).find(elemItem).find("[data-tipo='img']").attr("href", urlCat);
                    $(idCat).find(elemItem).find("#txtUrl" + tagCat).val(urlCat);
                    $(idCat).find(elemItem).find("[data-tipo='img'] img").attr("src", imgIssuu.replace("{img}", codigoISSUU));

                    $(idCat).find(elemItem).find("[data-accion='face']").attr("title", 'FB-' + tagCat + ' C' + n + a);
                    $(idCat).find(elemItem).find("[data-tipo='img']").attr("title", 'Ver-' + tagCat + ' C' + n + a);

                    $(idCat).find(elemItem).find(".btn_ws").attr("href", "whatsapp://send?text=" + urlCatWS);
                    $(idCat).find(elemItem).find(".btn_ws").attr("data-action", "share/whatsapp/share");
                }
            }

            FinRenderCatalogo();
        }

        function SetGoogleAnalytics(Imagen, Accion, Label) {
            dataLayer.push({
                'event': 'virtualEvent',
                'category': 'Catálogos y revistas',
                'action': Accion,
                'label': Label,
                'value': 0
            });
        }
        function FinRenderCatalogo() {
            ShowLoading();
            if (cont >= cantCam * cantCat) {
                campSelect = campSelect || $("#hdCampaniaAnterior").val().substring(4, 6);
                campSelectI = campSelectI || 1;
                $('[data-tag-html="Catalogos"] .titulo_catalogo').text("CATÁLOGOS C-" + campSelect);
                $("#divCatalogo > div > div").show();
                CatalogoMostrar(-1); //-1 Catalogo Anterior, 0 Catalogo actual, 1 Catalogo siguiente.
                CloseLoading();
            }
        }

        function CatalogoMostrar(accion, btn) {
            campSelectI = accion == -1 ? campSelectI - 1 : accion == 1 ? campSelectI + 1 : campSelectI;
            campSelectI = campSelectI <= 0 ? 0 : campSelectI >= cantCam - 1 ? cantCam - 1 : campSelectI;
            
            var campS = aCam[campSelectI];
            campSelect = campS.substring(4, 6);
            $('[data-tag-html="Catalogos"] .titulo_catalogo').text("CATÁLOGOS C-" + campSelect);
            $("#divCatalogo > div").hide();
            $("#divCatalogo > div[data-cam='" + campS + "'][data-estado='1']").show();
            
            $("#divCatalogo > a img").show();
            if (campSelectI == 0 || campSelectI == cantCam - 1) {
                if (btn != null) {
                    $(btn).hide();
                }
            }

            if (btn != null) {
                dataLayer.push({
                    'event': 'virtualEvent',
                    'category': 'Catálogos y revistas',
                    'action': accion == -1 ? 'Ver anterior campaña' : 'Ver siguiente campaña',
                    'label': 'Catálogos C-' + campSelect,
                    'value': 0
                });
            }

            if (campSelectI == "0")
                $(".previous_carrusel_catalogo img").hide();
        }

        function renderItemCliente(event, ui) {
            var htmlTag = ''
                + '<a>'
                        + '<div class="content_datos_c">'
                            + '<div class="nombre_compartir">{nombre}</div>'
                            + '<div class="correo_compartir">{email}</div>'
                        + '</div>'
            + '</a>';
            $(this).data('ui-autocomplete')._renderItem = function (ul, item) {
                var htmlTagAdd = htmlTag.replace('{nombre}', item.nombre);
                htmlTagAdd = htmlTagAdd.replace('{email}', item.email);
                return $('<li>')
                    .append(htmlTagAdd)
                    .appendTo(ul);
            };
        }        

        var campaniaEmail = "";
        function AbrirCompartirCorreo(tipoCatalogo, campania) {
            dataLayer.push({
                'event': 'virtualEvent',
                'category': 'Catálogos y revistas',
                'action': 'Compartir email – clic botón',
                'label': tipoCatalogo,
                'value': 0
            });

            $("#comentarios").val(valContenidoCorreoDefecto);
            $('#tagCorreo').removeTagAll();
            campaniaEmail = campania;
            $("#divCheckbox").find("[type='checkbox']").removeAttr('checked');
            $("#divCheckbox").find("[data-cat='" + tipoCatalogo + "']").find("[type='checkbox']").prop("checked", true);
            $('#CompartirCorreoMobile').show();
        }

        var rCampSelect = "";
        var rCampSelectI = 1;
        var cantCamRev = 3;
        var aCamRev = new Array();


        function MostrarRevistaCorrecta(campania) {
            var urlImagen = "";
            var defered = jQuery.Deferred();
            defered = ObtenerImagenRevista(campania, defered);
            defered.done(function (urlRevista) { urlImagen = urlRevista; });

            $.when(defered).done(function () {
                $("#imgPortadaGana").attr("src", !urlImagen || urlImagen == "" ? defaultImageRevista : urlImagen);
                $('[data-tag-html="Revistas"] .titulo_catalogo').text("REVISTA C-" + rCampSelect.substring(4, 6));
                FinRenderCatalogo();
            });
        }

        function MostrarMiRevista() {
            dataLayer.push({
                'event': 'virtualEvent',
                'category': 'Catálogos y revistas',
                'action': 'Ver revista',
                'label': 'Revista',
                'value': 0
            });

            var frmMiRevista = $('#frmMiRevista');
            frmMiRevista.submit();
        }

        function ObtenerImagenRevista(campania, defered) {
            jQuery.ajax({
                type: 'POST',
                url: urlObtenerPortadaRevista,
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ codigoRevista: RevistaCodigoIssuu[campania] }),
                success: function (response) {
                    if (checkTimeout(response)) {
                        defered.resolve(!response ? defaultImageRevista :
                            response.startsWith("https") ? response.replace("https://", "http://") : response);
                    }
                },
                error: function (data, error) {
                    if (checkTimeout(data)) defered.resolve(defaultImageRevista);
                }
            });
            return defered.promise();
        }
        function RevistaMostrar(accion, btn) {
            rCampSelectI = accion == -1 ? rCampSelectI - 1 : accion == 1 ? rCampSelectI + 1 : rCampSelectI;
            rCampSelectI = rCampSelectI <= 0 ? 0 : rCampSelectI >= cantCamRev - 1 ? cantCamRev - 1 : rCampSelectI;

            rCampSelect = aCamRev[rCampSelectI] || "";

            dataLayer.push({
                'event': 'virtualEvent',
                'category': 'Catálogos y revistas',
                'action': accion == -1 ? 'Ver anterior campaña' : 'Ver siguiente campaña',
                'label': 'Revista C-' + rCampSelect.substr(4),
                'value': 0
            });
    
            ShowLoading();
            MostrarRevistaCorrecta(rCampSelect);

            $(".content_revistas_mobile > a img").show();
            if (rCampSelectI == 0 || rCampSelectI == cantCamRev - 1) {
                $(btn).hide();
            }

            $('#campaniaRevista').val(rCampSelect);

            if(rCampSelectI == "0")
                $(".previous_revistas_mobile img").hide();
        }

        function TagManagerPaginasVirtuales() {
            dataLayer.push({
                'event': 'virtualPage',
                'pageUrl': '/Mobile/catalogo/revistas/',
                'pageName': 'Catálogo – Revistas | Somos Belcorp'
            });
        }
        function TagManagerWS(catalogo, campaniaCatalogo) {
            dataLayer.push({
                'event': 'virtualEvent',
                'category': 'Catálogos y revistas',
                'action': 'Compartir WhatsApp',
                'label': catalogo,
                'value': 0
            });
            InsertarLogCatalogoDynamo('Whatsapp', campaniaCatalogo, catalogo, 1);
        }


        function ShowLoading() {
            $("#loading-spin").fadeIn();
        }

        function CloseLoading() {
            $("#loading-spin").fadeOut("fast");
        }
    </script>

    @RenderSection("scripts", required: false)
    @{Html.PlaceScripts();}
</body>
</html>