@{
    ViewBag.Title = "_ListadoOfertasLiquidacion";
}

<script type="text/javascript">
    function InfoCommerceGoogle(ItemTotal,CUV,DescripcionProd,Categoria,Precio,Cantidad, Marca, DescripcionEstrategia, PosicionLista) {
        if (ItemTotal >= 0 && Precio >= 0 && Cantidad > 0)
        {
            var vvariante = "";
            var vcategoria = "";
            if (DescripcionEstrategia == "")
            { vvariante = "Estándar" } else { vvariante = DescripcionEstrategia; }

            if (Categoria == "")
            { vcategoria = "Sin categoría" } else { vcategoria = Categoria; }
            dataLayer.push({
                'event': 'addToCart',
                'ecommerce': {
                    'add': {
                        'actionField': { 'list': 'Productos destacados' },
                        'products': [{
                            'name': DescripcionProd,
                            'price': Precio,
                            'brand': Marca,
                            'id': CUV,
                            'category': vcategoria,
                            'variant': vvariante,
                            'quantity': Cantidad*1,
                            'position': PosicionLista*1
                        }]
                    }
                }
            })

        }
    }

    function AgregarOfertaProducto(Object) {

        var Cantidad = $(Object).parent().parent().find(".ValidaNumeralOferta")[0].value;
        var OfertaProductoID = $(Object).prev('input[type="hidden"]').val();
        var div = $(Object).parent().parent().parent().parent().find(".producto_agregado");
        var TipoOfertaID = $(Object).parent().parent().parent().parent().find(".TipoOfertaSisID")[0].value;
        var ConfiguracionOfertaID = $(Object).parent().parent().parent().parent().find(".ConfiguracionOfertaID")[0].value;
        var MarcaID = $(Object).parent().parent().parent().parent().find(".MarcaID")[0].value;
        var CUV = $(Object).parent().parent().parent().parent().find(".CUV")[0].value;
        var PrecioUnidad = $(Object).parent().parent().parent().parent().find(".PrecioOferta")[0].value;
        var Stock = $(Object).parent().parent().parent().parent().find(".Stock")[0].value;
        var lblStock = $(Object).parent().parent().parent().parent().find(".spStock");
        var HiddenStock = $(Object).parent().parent().parent().parent().find(".Stock");
        var DescripcionProd = $(Object).parent().parent().parent().parent().find(".DescripcionProd")[0].value;
        var DescripcionMarca = $(Object).parent().parent().parent().parent().find(".DescripcionMarca")[0].value;
        var PosicionLista = $(Object).parent().parent().parent().parent().find(".PosicionLista")[0].value;
        var DescripcionEstrategia = $(Object).parent().parent().parent().parent().find(".DescripcionEstrategia")[0].value;
        var DescripcionCategoria = $(Object).parent().parent().parent().parent().find(".DescripcionCategoria")[0].value;
        if (Cantidad == "" || Cantidad == 0) {
            alert_msg("La cantidad ingresada debe ser mayor que 0, verifique.");
            return false;
        }
        else {
            $($(Object).parent().parent().find(".ValidaNumeralOfertaAnterior")).val(Cantidad);
            var Item = {
                MarcaID: MarcaID,
                Cantidad: Cantidad,
                PrecioUnidad: PrecioUnidad,
                CUV: CUV,
                ConfiguracionOfertaID: ConfiguracionOfertaID
            };
            waitingDialog({});
            $.ajaxSetup({
                cache: false
            });

            $.getJSON(baseUrl + 'Accesorizate/ValidarUnidadesPermitidasPedidoProducto', { CUV: CUV }, function (data) {
                if (parseInt(data.Saldo) < parseInt(Cantidad)) {
                    var Saldo = data.Saldo;
                    var UnidadesPermitidas = data.UnidadesPermitidas;
                    $.getJSON(baseUrl + 'Accesorizate/ObtenerStockActualProducto', { CUV: CUV }, function (data) {
                        $(lblStock).text(data.Stock);
                        $(HiddenStock).val(data.Stock);
                        if (Saldo == UnidadesPermitidas)
                            alert_msg("Lamentablemente, la cantidad solicitada sobrepasa las Unidades Permitidas de Venta (" + UnidadesPermitidas + ") del producto.");
                        else {
                            if (Saldo == "0")
                                alert_msg("Las Unidades Permitidas de Venta son solo (" + UnidadesPermitidas + "), pero Usted ya no puede adicionar más, debido a que ya agregó este producto a su pedido, verifique.");
                            else
                                alert_msg("Las Unidades Permitidas de Venta son solo (" + UnidadesPermitidas + "), pero Usted solo puede adicionar (" + Saldo + ") más, debido a que ya agregó este producto a su pedido, verifique.");
                        }
                        closeWaitingDialog();
                        return false;
                    });
                } else {
                    $.ajaxSetup({
                        cache: false
                    });
                    $.getJSON(baseUrl + 'Accesorizate/ObtenerStockActualProducto', { CUV: CUV }, function (data) {
                        $(lblStock).text(data.Stock);
                        $(HiddenStock).val(data.Stock);
                        if (parseInt(data.Stock) < parseInt(Cantidad)) {
                            alert_msg("Lamentablemente, la cantidad solicitada sobrepasa el stock actual (" + data.Stock + ") del producto, verifique.");
                            closeWaitingDialog();
                            return false;
                        }
                        else {

                            jQuery.ajax({
                                type: 'POST',
                                url: baseUrl + 'Accesorizate/InsertOfertaWebPortal',
                                dataType: 'json',
                                contentType: 'application/json; charset=utf-8',
                                data: JSON.stringify(Item),
                                async: true,
                                success: function (data) {
                                    if (data.success == true) {
                                        $(Object).attr('disabled', true);
                                        $(div).css('display', 'block');
                                        CalcularAcumuladoCarrito();
                                        $("#hdFlagOferta").val("1");
                                        $("#hdFlagOfertaLiquidacion").val("1");
                                        var StockN = $(Object).parent().parent().parent().parent().find(".Stock")[0].value;
                                        $(lblStock).text(parseInt(StockN) - parseInt(Cantidad));
                                        $(HiddenStock).val(parseInt(StockN) - parseInt(Cantidad));

                                        InfoCommerceGoogle(parseFloat(Cantidad * PrecioUnidad).toFixed(2),CUV,DescripcionProd,DescripcionCategoria, PrecioUnidad,Cantidad, DescripcionMarca, DescripcionEstrategia,PosicionLista)
                                    }
                                    else {
                                        alert_msg(data.message);
                                    }
                                    closeWaitingDialog();
                                },
                                error: function (data, error) {
                                    if (checkTimeout(data)) {
                                        alert_msg(data.message);
                                        closeWaitingDialog();
                                    }
                                }
                            });

                        }
                    });
                }
            });
        }
    }


    function ActualizarCantidadProducto(Object) {

        var estadoBoton = $(Object).parent().find(".btnAdd")[0].disabled;

        if (estadoBoton) {
            waitingDialog({});
            var cantidadActual = $(Object).val();
            if (cantidadActual == "" || cantidadActual == "0") {
                var cantidadAnterior = $(Object).prev('input[type="hidden"]').val();
                $(Object).val(cantidadAnterior);
                closeWaitingDialog();
                return false;
            } else {
                var Cantidad = $(Object).val();
                var CantidadAnterior = $(Object).prev('input[type="hidden"]').val();
                var TipoOfertaID = $(Object).parent().parent().parent().find(".TipoOfertaSisID")[0].value;
                var ConfiguracionOfertaID = $(Object).parent().parent().parent().find(".ConfiguracionOfertaID")[0].value;
                var MarcaID = $(Object).parent().parent().parent().find(".MarcaID")[0].value;
                var CUV = $(Object).parent().parent().parent().find(".CUV")[0].value;
                var PrecioUnidad = $(Object).parent().parent().parent().find(".PrecioOferta")[0].value;
                var Stock = $(Object).parent().parent().parent().find(".Stock")[0].value;
                var lblStock = $(Object).parent().parent().parent().find(".spStock");
                var HiddenStock = $(Object).parent().parent().parent().find(".Stock");
                var DescripcionProd = $(Object).parent().parent().parent().parent().find(".DescripcionProd")[0].value;
                var DescripcionMarca = $(Object).parent().parent().parent().parent().find(".DescripcionMarca")[0].value;
                var PosicionLista = $(Object).parent().parent().parent().parent().find(".PosicionLista")[0].value;
                var DescripcionEstrategia = $(Object).parent().parent().parent().parent().find(".DescripcionEstrategia")[0].value;
                var DescripcionCategoria = $(Object).parent().parent().parent().parent().find(".DescripcionCategoria")[0].value;
                $.ajaxSetup({
                    cache: false
                });
                $.getJSON(baseUrl + 'Accesorizate/ValidarUnidadesPermitidasPedidoProducto', { CUV: CUV }, function (data) {
                    if (parseInt(data.Saldo) < parseInt(Cantidad)) {
                        var Saldo = data.Saldo;
                        var UnidadesPermitidas = data.UnidadesPermitidas;
                        $.getJSON(baseUrl + 'Accesorizate/ObtenerStockActualProducto', { CUV: CUV }, function (data) {
                            $(lblStock).text(data.Stock);
                            $(HiddenStock).val(data.Stock);
                            if (Saldo == UnidadesPermitidas)
                                alert_msg("Lamentablemente, la cantidad solicitada sobrepasa las Unidades Permitidas de Venta (" + UnidadesPermitidas + ") del producto.");
                            else {
                                if (Saldo == "0")
                                    alert_msg("Las Unidades Permitidas de Venta son solo (" + UnidadesPermitidas + "), pero Usted ya no puede adicionar más, debido a que ya agregó este producto a su pedido, verifique.");
                                else
                                    alert_msg("Las Unidades Permitidas de Venta son solo (" + UnidadesPermitidas + "), pero Usted solo puede adicionar (" + Saldo + ") más, debido a que ya agregó este producto a su pedido, verifique.");
                            }
                            $(Object).val(CantidadAnterior);
                            closeWaitingDialog();
                            return false;
                        });
                    } else {
                        if (parseInt(CantidadAnterior) < parseInt(Cantidad)) {
                            $.ajaxSetup({
                                cache: false
                            });
                            $.getJSON(baseUrl + 'Accesorizate/ObtenerStockActualProducto', { CUV: CUV }, function (data) {

                                $(lblStock).text(data.Stock);
                                $(HiddenStock).val(data.Stock);
                                var CantidadaValidar = parseInt(Cantidad) - parseInt(CantidadAnterior);
                                if (parseInt(data.Stock) < parseInt(CantidadaValidar)) {
                                    $(Object).val(CantidadAnterior);
                                    alert_msg("Lamentablemente, no puede actualizar la cantidad del Producto, ya que sobrepasa el stock actual (" + data.Stock + "), verifique");
                                    
                                    closeWaitingDialog();
                                    return false;
                                } else {
                                    if (Cantidad == CantidadAnterior) {
                                        closeWaitingDialog();
                                        return false;
                                    }
                                    else {
                                        $(Object).prev('input[type="hidden"]').val(Cantidad);

                                        var Flag = 0;
                                        var StockNuevo = 0;
                                        if (parseInt(CantidadAnterior) > parseInt(cantidadActual)) {
                                            Flag = 1;
                                            StockNuevo = parseInt(CantidadAnterior) - parseInt(cantidadActual);
                                        } else if (parseInt(cantidadActual) > parseInt(CantidadAnterior)) {
                                            Flag = 2;
                                            StockNuevo = parseInt(cantidadActual) - parseInt(CantidadAnterior);
                                        }

                                        var Item = {
                                            MarcaID: MarcaID,
                                            Cantidad: Cantidad,
                                            CantidadAnterior: CantidadAnterior,
                                            PrecioUnidad: PrecioUnidad,
                                            CUV: CUV,
                                            ConfiguracionOfertaID: ConfiguracionOfertaID,
                                            Flag: Flag,
                                            Stock: StockNuevo
                                        };

                                        jQuery.ajax({
                                            type: 'POST',
                                            url: baseUrl + 'Accesorizate/UpdateOfertaWebPortal',
                                            dataType: 'json',
                                            contentType: 'application/json; charset=utf-8',
                                            data: JSON.stringify(Item),
                                            async: true,
                                            success: function (data) {
                                                if (data.success == true) {
                                                    var StockN = $(Object).parent().parent().parent().find(".Stock")[0].value;
                                                    var stockActual = 0;
                                                    if (parseInt(Cantidad) > parseInt(CantidadAnterior))
                                                        stockActual = parseInt(StockN) - (parseInt(Cantidad) - parseInt(CantidadAnterior));
                                                    else if (parseInt(CantidadAnterior) > parseInt(Cantidad))
                                                        stockActual = parseInt(StockN) + (parseInt(CantidadAnterior) - parseInt(Cantidad));
                                                    else
                                                        stockActual = StockN;

                                                    $(lblStock).text(stockActual);
                                                    $(HiddenStock).val(stockActual);

                                                    CalcularAcumuladoCarrito();
                                                    InfoCommerceGoogle(parseFloat(Cantidad * PrecioUnidad).toFixed(2), CUV, DescripcionProd, DescripcionCategoria, PrecioUnidad, Cantidad, DescripcionMarca, DescripcionEstrategia, PosicionLista)
                                                }
                                                else {
                                                    alert_msg(data.message);
                                                }
                                                closeWaitingDialog();
                                            },
                                            error: function (data, error) {
                                                if (checkTimeout(data)) {
                                                    alert_msg(data.message);
                                                    closeWaitingDialog();
                                                }
                                            }
                                        });
                                    }

                                }
                            });
                        } else {
                            $.getJSON(baseUrl + 'Accesorizate/ObtenerStockActualProducto', { CUV: CUV }, function (data) {
                                $(lblStock).text(data.Stock);
                                $(HiddenStock).val(data.Stock);

                                if (Cantidad == CantidadAnterior) {
                                    closeWaitingDialog();
                                    return false;
                                }
                                else {
                                    $(Object).prev('input[type="hidden"]').val(Cantidad);

                                    var Flag = 0;
                                    var StockNuevo = 0;
                                    if (parseInt(CantidadAnterior) > parseInt(cantidadActual)) {
                                        Flag = 1;
                                        StockNuevo = parseInt(CantidadAnterior) - parseInt(cantidadActual);
                                    } else if (parseInt(cantidadActual) > parseInt(CantidadAnterior)) {
                                        Flag = 2;
                                        StockNuevo = parseInt(cantidadActual) - parseInt(CantidadAnterior);
                                    }

                                    var Item = {
                                        MarcaID: MarcaID,
                                        Cantidad: Cantidad,
                                        CantidadAnterior: CantidadAnterior,
                                        PrecioUnidad: PrecioUnidad,
                                        CUV: CUV,
                                        ConfiguracionOfertaID: ConfiguracionOfertaID,
                                        Flag: Flag,
                                        Stock: StockNuevo
                                    };

                                    jQuery.ajax({
                                        type: 'POST',
                                        url: baseUrl + 'Accesorizate/UpdateOfertaWebPortal',
                                        dataType: 'json',
                                        contentType: 'application/json; charset=utf-8',
                                        data: JSON.stringify(Item),
                                        async: true,
                                        success: function (data) {
                                            if (data.success == true) {
                                                var StockN = $(Object).parent().parent().parent().find(".Stock")[0].value;
                                                var stockActual = 0;
                                                if (parseInt(Cantidad) > parseInt(CantidadAnterior))
                                                    stockActual = parseInt(StockN) - (parseInt(Cantidad) - parseInt(CantidadAnterior));
                                                else if (parseInt(CantidadAnterior) > parseInt(Cantidad))
                                                    stockActual = parseInt(StockN) + (parseInt(CantidadAnterior) - parseInt(Cantidad));
                                                else
                                                    stockActual = StockN;

                                                $(lblStock).text(stockActual);
                                                $(HiddenStock).val(stockActual);

                                                CalcularAcumuladoCarrito();

                                                InfoCommerceGoogle(parseFloat(Cantidad * PrecioUnidad).toFixed(2), CUV, DescripcionProd, DescripcionCategoria, PrecioUnidad, Cantidad, DescripcionMarca, DescripcionEstrategia, PosicionLista)
                                            }
                                            else {
                                                alert_msg(data.message);
                                            }
                                            closeWaitingDialog();
                                        },
                                        error: function (data, error) {
                                            if (checkTimeout(data)) {
                                                alert_msg(data.message);
                                            }
                                        }
                                    });
                                }

                            });
                        }
                    }
                });
            }
        }
    }



    function CalcularAcumuladoCarrito() {
        var cantidad = 0;
        var items = $(".ValidaNumeralOferta");
        for (var i = 0; i < items.length; i++) {
            var estado = $(items[i]).parent().find(".btnAdd")[0].disabled;
            if (parseInt(items[i].value) > 0 && estado)
                cantidad += parseInt(items[i].value)
        }
        $("#spCantidadItems").text(cantidad);
    }

</script>
<input type="hidden" id="hdFlagOferta" value="0" />
@{
    List<Portal.Consultoras.Web.Models.OfertaProductoModel> lstOfertas = ViewBag.ListaOfertasLiquidacion;
    string ISO = ViewBag.ISO;
    string Simbolo = ViewBag.Simbolo;
}
@if (lstOfertas != null)
{
    var posicion=0;
    foreach (var item in lstOfertas)
    {
        if (item.ConfiguracionOfertaID == Portal.Consultoras.Common.Constantes.TipoOferta.Accesorizate)
        {
            posicion++;
          
    <div class="modulo_ofertas">
        <input type="hidden" class="TipoOfertaSisID" value="@item.TipoOfertaSisID"/>
        <input type="hidden" class="ConfiguracionOfertaID" value="@item.ConfiguracionOfertaID"/>
        <input type="hidden" class="MarcaID" value="@item.MarcaID"/>
        <input type="hidden" class="CUV" value="@item.CUV"/>
        <input type="hidden" class="PrecioOferta" value="@item.PrecioOferta"/>
        <input type="hidden" class="Stock" value="@item.Stock"/>
        <input type="hidden" class="DescripcionProd" value="@item.Descripcion"/>
        <input type="hidden" class="DescripcionMarca" value="@item.DescripcionMarca"/>
        <input type="hidden" class="DescripcionCategoria" value="@item.DescripcionCategoria"/>
        <input type="hidden" class="DescripcionEstrategia" value="@item.DescripcionEstrategia"/>
        <input type="hidden" class="PosicionLista" value="@posicion"/>
        <div class="ofertas_producto">
            <div class="ofertas_producto_left">
                <div class="producto_agregado" style="display: none;">
                    <div>Agregado</div>
                </div>
                @if (!item.ImagenProducto.Equals(string.Empty))
                {
                    <img src='@item.ImagenProducto' alt="Imagen Producto" />
                }
                else
                {
                    <img src='@Url.Content("~/Content/Matriz/Producto_Sin_Imagen.png")' alt="Imagen Producto" />
                }
            </div>
        </div>
        <div class="ofertas_foot">
            <div class="ofertas_detail">
                <span class="texto">@item.Descripcion
                </span>
            </div>
            <div class="ofertas_precio_normal">Stock : <span class="spStock">@item.Stock</span></div>
        </div>
        <div class="ofertas_foot">
            <div class="ofertas_precio">
                Precio <b>Oferta</b>: 
                            <div>
                                <span class="superindice">@Simbolo</span><span class="num">@string.Format("{0:#,##0.00}", item.PrecioOferta)</span>
                            </div>
            </div>
            <div class="ofertas_cantidad">
                <span>Cantidad</span>
                <input type="hidden" class="ValidaNumeralOfertaAnterior" />
                <input type="text" maxlength="2" class="ValidaNumeralOferta" onblur="ActualizarCantidadProducto(this)">
                <div class="ofertas_agregar_pedido">
                    <input type="hidden" value="@item.OfertaProductoID" class="OfertaProductoID" />
                    <input type="button" value="Agregar" class="btnAdd" onclick='AgregarOfertaProducto(this)'>
                </div>
            </div>
        </div>
    </div>
    

        }
    }

    <script>
        $(document).ready(function () {

            var ListaTipoOfertaSisID = $(".TipoOfertaSisID");
            var ListaConfiguracionOfertaID = $(".ConfiguracionOfertaID");
            var ListaMarcaID = $(".MarcaID");
            var ListaCUV = $(".CUV");
            var ListaPrecioOferta = $(".PrecioOferta");
            var ListaStock = $(".Stock");
            var ListaDescripcionProdD = $(".DescripcionProd");
            var ListaDescripcionMarca = $(".DescripcionMarca");
            var ListaDescripcionCategoria = $(".DescripcionCategoria");
            var ListaDescripcionEstrategia = $(".DescripcionEstrategia");
            var ListaPosicionLista = $(".PosicionLista");
         
            var vimpressions = new Array();
            var variente = "";
            var categoria = "";
            if(ListaTipoOfertaSisID.length>0)
            {

            for (var i = 0; i < ListaTipoOfertaSisID.length; i++) {
                
                if ($(ListaDescripcionEstrategia[i]).val() == "")
                { variente = "Estándar" } else { variente = $(ListaDescripcionEstrategia[i]).val();}

                if ($(ListaDescripcionCategoria[i]).val() == "")
                { categoria = "Sin categoría" } else { categoria = $(ListaDescripcionCategoria[i]).val(); }

                vimpressions.push({

                    'name': $(ListaDescripcionProdD[i]).val(),
                    'id': $(ListaCUV[i]).val(),
                    'price': $(ListaPrecioOferta[i]).val(),
                    'brand': $(ListaDescripcionMarca[i]).val(),
                    'category': categoria,
                    'variant': variente,
                    'list': 'Accesorízate',
                    'position': $(ListaPosicionLista[i]).val() *1

                });

            }

            dataLayer.push({
                'event': 'productImpression',
                'ecommerce': {
                    'impressions': vimpressions
                }
            })
         }
        });
    </script>
}


