@{
    ViewBag.Title = "Accesorízate";
}
<script type="text/javascript">
    $(function () {
        $(window).scroll(function () {
            if ($(this).scrollTop() > 70) {
                $('.productos_fixed').addClass("fixed");
                $("#msjproducto").css("color", "#fff");
            } else {
                $('.productos_fixed').removeClass("fixed");
                $("#msjproducto").css("color", "#6c217f");
            }
        });

        $('.ValidaNumeralOferta').live('keyup', function (evt) {
            var theEvent = evt || window.event;
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
            var regex = /[0-9]|\./;
            if (!regex.test(key)) {
                theEvent.returnValue = false;
                if (theEvent.preventDefault) theEvent.preventDefault();
            }
        });

        $('.ValidaNumeralOferta').live('keypress', function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });
        IniDialog();
        $("#btnVerPedido").click(function () {
            dataLayer.push({
                'event': 'pageview',
                'virtualUrl': '/Accesorizate/Ver-Pedido'
            });
            location.href = '@Url.Action("Index", "Pedido")';
        });

        $('.ValidaNumeralOferta').keypress(function (e) {
            if (e.which == 13) {
                var object = $(this).parent().find(".btnAdd");
                var estado = $(this).parent().find(".btnAdd")[0].disabled;
                if (!estado)
                    AgregarOfertaProducto(object, 0);
            }
        })

        if (HorarioRestringido())
            setTimeout(function () { location.href = '@Url.Action("Index", "Bienvenida")'; }, 2500);
    });

    function HorarioRestringido() {
        var horarioRestringido = false;
        jQuery.ajax({
            type: 'GET',
            url: baseUrl + 'Pedido/EnHorarioRestringido',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            async: false,
            success: function (data) {
                if (checkTimeout(data)) {
                    if (data.success == true) {
                        alert_msgHorario(data.message);
                        //$("#DialogMensajeHorario").siblings(".ui-dialog-titlebar").hide();
                        horarioRestringido = true;
                    }
                }
            },
            error: function (data, error) {
                if (checkTimeout(data)) {
                    alert(data.message);
                }
            }
        });
        return horarioRestringido;
    }

    function IniDialog() {
        $('#DialogMensajeProducto').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 500,
            draggable: true
        });

        $('#DialogMensajesBanner').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 400,
            draggable: true,
            title: ":: Mensaje ::",
            buttons:
            {
                "Aceptar": function () {
                    $(this).dialog('close');
                }
            }
        });

        $('#DialogMensajeHorario').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: false,
            width: 400,
            draggable: true,
            title: ":: Mensaje ::",
            open: function (event, ui) { $(".ui-dialog-titlebar-close").hide(); },
            buttons:
            {
                "Aceptar": function () {
                    location.href = '@Url.Action("Index", "Bienvenida")';
                }
            }
        });
    }

    function alert_msg(message) {
        $('#DialogMensajesBanner .message_text').html(message);
        $('#DialogMensajesBanner').dialog('open');
    }

    function alert_msgHorario(message) {
        $('#DialogMensajeHorario .message_text').html(message);
        $('#DialogMensajeHorario').dialog('open');
    }

</script>
<div class="wrap_cab">
    <div class="filtros">
        <div class="elements">
            <div class="productos_fixed">
                <div class="productos_fixed_main">
                    <div class="div-2">
                        <h1>Accesor&iacute;zate</h1>
                        <div id="msjproducto" class="title" style="color:#6c217f">M&aacute;s productos para ti</div>
                        <div class="title">
                            <div>Estos productos solo pueden ser pedidos por web. Suman al monto mínimo del pedido. Suma a la escala</div>
                            <div>de comisión y otorga puntaje.</div>
                            <div>No hay límite de unidades. Precio neto consultora. Los productos son vigentes durante la campaña @ViewBag.CampaniaID.</div>
                            <div style="color:red;">Se atenderá hasta agotar stock.</div>
                        </div>
                    </div>
                    <div class="carrito">
                        <div class="carrito_compras">
                            <div><span id="spCantidadItems">0</span> productos agregados</div>
                        </div>
                        <div class="input_ver_pedido">
                            <input type="button" id="btnVerPedido" value="Ver mi pedido" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="container clearfix">
        <div class="">
            @Html.Partial("_ListadoProductos")
        </div>
    </div>
</div>
<div id="loadingScreen"></div>
<div id="DialogMensajeProducto" style="display: none;">
    <div>
        <div id="divReservaSatisfactoria" class="modal_1">
            <div class="modal_1_title color_title">Estimada Consultora, debe ir a la opción de Ver Mi Pedido para verificar los Productos Accesor&iacute;zate agregados.</div>
        </div>
        <div class="div-3">
            <div class="input_modal">
                <input type="button" value="Cerrar" onclick="$('#DialogMensajeProducto').dialog('close');" />
            </div>
        </div>
    </div>
</div>

<div id="DialogMensajesBanner" style="display: none;">
    <div class="message_text">
        Ocurrió un error en la comunicación o la sesión ha expirado. Por favor vuelva a autenticarse.        
    </div>
</div>
