@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Helpers
@model Portal.Consultoras.Web.Models.EstrategiaPersonalizadaProductoModel

@{
    var layout = ViewContext.MobileLayout();
    Layout = string.Format("~/Areas/Mobile/Views/Shared/{0}.cshtml", layout);
    var codigo = ViewBag.Codigo ?? "";
}

@section styles
{
    <style>
        footer {
            display: none;
        }

        .btn-volver-fix-detalle span {
            font-family: 'Lato';
            font-size: 11.9px;
            font-weight: 400;
            letter-spacing: .5px;
            color: #000;
            position: relative;
            top: 1px;
        }

        .btn-volver-fix-detalle img {
            width: 6px;
            height: 11px;
            margin-right: 5px;
            position: relative;
            top: -2px;
        }

    </style>
    @Styles.Render("~/bundles/Css/Mobile/Site/OfertaParaTi-Detalle")
}

<div class="titulo_mobile" style="display:none;">
    @{ var mobileConfiguracion = Html.MobileAppConfiguracion();
        if (mobileConfiguracion.MostrarBotonAtras)
        {
            <a href="@Request.UrlReferrer" class="enlace_regresar catalogosP" title="Regresar" style="z-index: 10;"></a>
        }
    }
    @if (codigo == Constantes.ConfiguracionPais.RevistaDigital)
    {
        <div class="revistadigital-detalle-titulo">
            <div class="logo_EPT_content">
                @if (mobileConfiguracion.MostrarBotonAtras)
                {
                    <span>VOLVER</span>
                }
            </div>
            <div class="texto_usuario_ept">CLUB GANA+</div>
        </div>
    }
    else
    {
        <span>&nbsp;&nbsp;&nbsp;&nbsp;OFERTAS PARA TI</span>
    }
</div>

@{
    var btnDesabled = 0;
    var btnDesabledClass = "";
    var fotoMedium = Util.GenerarRutaImagenResizeMedium(Model.FotoProducto01);
    var vbSimbolo = ViewBag.Simbolo ?? "";
}
<div style="height: 15px;"></div>
<div data-item="" data-tipoestrategiaimagenmostrar="@Model.TipoEstrategiaImagenMostrar" data-estadoregistro="@ViewBag.EstadoSuscripcion">
    <div class="wrapper_resumen_mobile" id="divDetalleContenido" style="padding-bottom:74px;">
        <div style="display:none;"><div data-estrategia="@Json.Encode(Model)"></div></div>
        <div class="content_oferta_guia_negocio">
            @if (ViewBag.origenPedidoWebEstrategia != Constantes.OrigenPedidoWeb.LanzamientoMobileProductPage)
            {
                <div class="btn-volver-fix-detalle">
                    @if (mobileConfiguracion.MostrarBotonAtras)
                    {
                        <span><img src="/Content/Images/mobile/flecha-volver-detalle.svg" alt="Volver"> VOLVER</span>
                    }
                </div>
            }
            
            <div class="content_imagen_ficha">
                <img id="fav_imagen_prod" src="@fotoMedium" alt="PRODUCTO" class="imagen_producto">
            </div>
            <div class="marca_oferta048">@Model.DescripcionMarca</div>
            <div id="fav_nombre_prod" class="titulo_ficha_producto">@Model.DescripcionCompleta</div>

            @if (Model.Precio > 0)
            {
                <div class="precio_tachado_048"> Valorizado a: <span>@vbSimbolo @Model.PrecioTachado</span></div>
            }
            @if (Model.CodigoEstrategia == Constantes.TipoEstrategiaCodigo.HerramientasVenta)
            {
                if (String.IsNullOrEmpty(Model.PrecioNiveles))
                {
                    <div class="precio_para_ti_048 precio_para_ti_048_izquierdo">Precio para ti:</div> <div class="precio_para_ti_048_derecho"><b>@vbSimbolo @Model.PrecioVenta</b></div>
                }
                else
                {
                    <div class="precio_para_ti_048">
                        <div class="precio_para_ti_048 precio_para_ti_048_izquierdo">Precio para ti:</div><b>1x @vbSimbolo @Model.PrecioVenta</b>
                    </div>
                    var PrecioNiveles = Model.PrecioNiveles.Split('|').ToList();
                    foreach (var item in PrecioNiveles)
                    {
                        
                        <div class="precio_para_ti_portantos"><div class="precio_para_ti_048"><b>@item</b></div></div>
                        
                    }
                }
            }
            else
            {
                <div class="precio_para_ti_048">Precio para ti: <b>@vbSimbolo @Model.PrecioVenta</b></div>
            }
            @if (Model.Ganancia > 0)
            {
                <div class="gana_048">Gana: @vbSimbolo @Model.GananciaString</div>
            }
            <div data-compartir-campos="" style="display:none;">
                <input type="hidden" class="CUV" value="@Model.CUV2" />
                <input type="hidden" class="rsFBMensaje" value="" />
                <input type="hidden" class="rsWAMensaje" value="" />
                <input type="hidden" class="rsFBRutaImagen" value="@Model.FotoProducto01" />
                <input type="hidden" class="rsWARutaImagen" value="@Model.FotoProducto01" />
                <input type="hidden" class="MarcaID" value="@Model.MarcaID" />
                <input type="hidden" class="MarcaNombre" value="@Model.DescripcionMarca" />
                <input type="hidden" class="Nombre" value="@Model.DescripcionCompleta" />
                <input type="hidden" class="ProductoDescripcion" value="" />
                <input type="hidden" class="Volumen" value="" />
                <input type="hidden" class="Palanca" value="OPT" />
            </div>
            @if (Model.CodigoEstrategia != "")
            {
                <div data-estrategia="@Model.CodigoVariante">

                    @if (Model.CodigoVariante == Constantes.TipoEstrategiaSet.IndividualConTonos)
                    {
                        if ((Model.Hermanos.Any()))
                        {
                            btnDesabled = 1;
                            <div class="content_tonos_producto" data-tono="" data-tono-select="" data-tono-digitable="1">
                                <div class="tono_select_opt">
                                    <div class="content_tono_elegido texto_sin_tono" data-tono-change="1">
                                        <div class="tono_seleccionado" style="display:none;"><img src="~/Content/Images/showroom/no_disponible.png" /></div>
                                        <div class="texto_tono_seleccionado">ELIGE  TU TONO</div>
                                        <hr class="clear" />
                                    </div>
                                    <div class="content_tonos_select" style="display:none;" data-tono-select-area="1">
                                        @foreach (var Hermano in Model.Hermanos)
                                        {
                                            <div class="content_tono_elegido" data-tono-change="2" data-tono-cuv="@Hermano.Cuv" data-tono-nombre="@Hermano.NombreBulk" data-tono-descripcion="@Hermano.NombreComercial">
                                                <div class="tono_seleccionado"><img src="@Hermano.ImagenBulk" alt=""></div>
                                                <div class="texto_tono_seleccionado">@Hermano.NombreBulk</div>
                                                <hr class="clear" />
                                            </div>
                                        }
                                    </div>
                                </div>
                                <hr class="clear">
                                <div data-tono-div="">
                                    @foreach (var Hermano in Model.Hermanos)
                                    {
                                        <div style="display: none;">
                                            <input type="hidden" name="nameMarcaID" id="Estrategia_hd_MarcaID" value="@Hermano.IdMarca" />
                                            <input type="hidden" name="namePrecioCatalogo" id="Estrategia_hd_PrecioCatalogo" value="@Hermano.PrecioCatalogo" />
                                        </div>
                                        <div class="content_tono_detalle" data-tono-cuv="@Hermano.Cuv" data-tono-change="2" data-tono-nombre="@Hermano.NombreBulk">
                                            <img src="@Hermano.ImagenBulk" alt="">
                                        </div>
                                    }
                                </div>
                                <hr class="clear">
                            </div>
                        }
                    }                    else if (Model.CodigoVariante == Constantes.TipoEstrategiaSet.CompuestaFija || Model.CodigoVariante == Constantes.TipoEstrategiaSet.CompuestaVariable)
                    {
                        var claseItem = Model.CodigoVariante == Constantes.TipoEstrategiaSet.CompuestaFija ? "content_producto_individual" : "";
                        var claseItem3 = Model.CodigoVariante == Constantes.TipoEstrategiaSet.CompuestaVariable ? "content_producto_compuesto" : "";
                        if (Model.Hermanos != null && Model.Hermanos.Any())
                        {
                            <div class="titulo_contenido">CONTENIDO</div>
                            <div class="@claseItem">
                                @foreach (var Hermano in Model.Hermanos)
                                {
                                    if ((Hermano.NombreComercial ?? "") == "" && Hermano.Digitable != 1)
                                    {
                                        continue;
                                    }
                                    <div>
                                        <div class="@claseItem3" data-tono="" data-tono-select="" data-tono-digitable="@Hermano.Digitable">
                                            <div style="display: none;">
                                                <input type="hidden" name="nameMarcaID" id="Estrategia_hd_MarcaID" value="@Hermano.IdMarca" />
                                                <input type="hidden" name="namePrecioCatalogo" id="Estrategia_hd_PrecioCatalogo" value="@Hermano.PrecioCatalogo" />
                                            </div>
                                            <div class="nombre_producto_opt" data-tono-select-nombrecomercial="">
                                                @if (@Hermano.Cantidad > 0)
                                                {
                                                    <span class="cantidad_producto_opt">x @Hermano.Cantidad </span>
                                                }
                                                <span data-tono-select-nombrecomercial="">@Hermano.NombreComercial</span>
                                            </div>
                                            @if (Hermano.Digitable == 1)
                                            {
                                                <div class="content_tonos_producto">
                                                    <div class="tono_select_opt">
                                                        <div class="content_tono_elegido texto_sin_tono" data-tono-change="1">
                                                            <div class="tono_seleccionado" style="display: none;"><img src="~/Content/Images/showroom/no_disponible.png" alt=""></div>
                                                            <div class="texto_tono_seleccionado">ELIGE  TU TONO</div>
                                                            <hr class="clear" />
                                                        </div>
                                                        <div class="content_tonos_select" style="display:none;" data-tono-select-area="1">
                                                            @foreach (var Tono in Hermano.Hermanos)
                                                            {
                                                                btnDesabled = 1;
                                                                <div class="content_tono_elegido" data-tono-change="2" data-tono-cuv="@Tono.Cuv" data-tono-nombre="@Tono.NombreBulk" data-tono-descripcion="@Tono.NombreComercial">
                                                                    <div class="tono_seleccionado"><img src="@Tono.ImagenBulk" alt=""></div>
                                                                    <div class="texto_tono_seleccionado">@Tono.NombreBulk</div>
                                                                    <hr class="clear" />
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                    <hr class="clear">
                                                </div>
                                            }
                                            <hr class="clear" />
                                        </div>
                                    </div>
                                }
                            </div>
                        }

                    }
                </div>
            }
            @if (mobileConfiguracion.MostrarHipervinculo && Model.CodigoEstrategia != Constantes.TipoEstrategiaCodigo.HerramientasVenta)
            {
                <div>
                    <div class="content_redes_ficha">
                        <div class="texto_redes">Comparte este producto con tus clientes:</div>
                        <a class="btn_compartir_ofertas" href="javascript: void(0);" data-compartir="WA"><img src="/Content/Images/Mobile/Esika/catalogo_ws.png" alt=""></a>
                        <a class="btn_compartir_ofertas" href="javascript: void(0);" data-compartir="FB"><img src="/Content/Images/Mobile/Esika/facebook.png" alt=""></a>
                    </div>
                    <hr class="clear">
                </div>
            }

            @if (Model.TextoLibre != "")
            {
                <div class="alerta_notificacion">@Model.TextoLibre</div>
            }
        </div>

    </div>

    @if ((Model.ClaseBloqueada ?? "") == "")
    {
        if (Model.TipoAccionAgregar > 0)
        {
        <div class="row">
            <div class="content_btn_agregar">
                <div class="content_320">
                    @if (btnDesabled == 1)
                    {
                        btnDesabledClass = "btn_desactivado_general";
                    }
                    <div class="content_cantidad_ficha_producto" data-cantidad-contenedor="">
                        <a class="cantidad_menos_home" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
                        <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" data-input="cantidad">
                        <a class="cantidad_mas_home" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
                    </div>
                    <a class="@btnDesabledClass btn_agregar_ficha_producto" id="tbnAgregarProducto"
                       onclick="javascript:EstrategiaAgregarModule.EstrategiaAgregar(event, true); ">AGRÉGALO</a>
                    <hr class="clear">
                </div>
            </div>
        </div>
        }
    }
</div>

@if ((Model.ClaseBloqueada ?? "") != "")
{
    if (Model.CodigoEstrategia == Constantes.TipoEstrategiaCodigo.HerramientasVenta)
    {
        @Html.Action("MensajeBloqueado", "HerramientasVenta")
    }
    else
    {
        @Html.Action("RDMensajeBloqueadoDetalle", "RevistaDigital")
    }
}

@section scripts{
    <script type="text/javascript">

        var urlLoad = '@Url.Content("~/Content/Images/Loading.gif")';

        var tipoOrigenEstrategia = 262;
        var origenPedidoWebEstrategia = '@ViewBag.origenPedidoWebEstrategia';
        var origenRetorno = $.trim('@ViewBag.OrigenUrl') || '@Url.Action("Index", "Bienvenida", new { area = "Mobile" })';
        var urlRetorno =  $.trim('@ViewBag.OrigenUrl') || '@Url.Action("Index", "Ofertas", new { area = "Mobile" })';
    </script>

    @System.Web.Optimization.Scripts.Render("~/bundles/Mobile/OfertaParaTi-Detalle")

}