@using Portal.Consultoras.Common
@model Portal.Consultoras.Web.Models.EstrategiaPedidoModel

@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";

}

@section styles
{
    <style>
    footer {
         display: none;
    }
    </style>
<link href="@Url.Content("~/Content/Css/Mobile/esika/revistaDigital.css")" rel="stylesheet" type="text/css" />
}

<div class="titulo_mobile" style="">
    <a href="@Request.UrlReferrer" class="enlace_regresar catalogosP" title="Regresar" style="z-index: 10;"></a>
    @if (Model.Codigo == Constantes.MenuCodigo.RevistaDigital)
    {
        <div class="revistadigital-detalle-titulo">
            <div class="logo_EPT_content"><span>VOLVER</span></div>
            <div class="texto_usuario_ept">ÉSIKA PARA MÍ</div>
        </div>
    }
    else
    {
        <span>&nbsp;&nbsp;&nbsp;&nbsp;OFERTAS PARA TI</span>
    }    
</div>
@if (Model.Codigo != Constantes.MenuCodigo.RevistaDigital)
{
    <div class="" style="border-bottom:0">
        <div class="pestana_esika"></div><!--PESTANA ESIKA-->
        <div class="pestana_lbel"></div><!--PESTANA LBEL-->
    </div>
}
@{ 
    var btnDesabled = 0;
    var btnDesabledClass = "";
}
<div class="wrapper_resumen_mobile" style="padding-bottom:74px;" data-item="" data-tipoestrategiaimagenmostrar="@Model.TipoEstrategiaImagenMostrar">    
    <div class="content_oferta_guia_negocio">
        <div class="content_imagen_ficha">
            <img id="fav_imagen_prod" src="@Model.FotoProducto01" alt="PRODUCTO" class="imagen_producto">
        </div>
        <div class="marca_oferta048">@Model.DescripcionMarca</div>
    <div id="fav_nombre_prod" class="titulo_ficha_producto">@Model.Descripcion</div>
        
        @if (Model.Codigo == Constantes.MenuCodigo.RevistaDigital)
        {
               
            <div class="precio_bpt">
                @if (Model.Precio > 0)
                {
                <span class="precio_tachado_bpt">@Model.Simbolo @Model.PrecioTachado</span>
                }     
                <b>@Model.Simbolo @Model.PrecioString</b>
            </div>
        }
        else
        {
            if (Model.Precio > 0)
             {
                 <div class="precio_tachado_048">@Model.Simbolo @Model.PrecioTachado</div>
             }        
            <div class="precio_para_ti_048">Precio para ti <b>@Model.Simbolo @Model.PrecioString</b></div>
        }
        <div data-compartir-campos="" style="display:none;">
            <input type="hidden" class="CUV" value="@Model.CUV2" />
            <input type="hidden" class="rsFBMensaje" value="" />
            <input type="hidden" class="rsFBRuta" value="@Model.UrlCompartir" />
            <input type="hidden" class="rsWAMensaje" value="" />
            <input type="hidden" class="rsWARuta" value="@Model.UrlCompartir" />
            <input type="hidden" class="rsFBRutaImagen" value="@Model.FotoProducto01" />
            <input type="hidden" class="rsWARutaImagen" value="@Model.FotoProducto01" />
            <input type="hidden" class="MarcaID" value="@Model.MarcaID" />
            <input type="hidden" class="MarcaNombre" value="@Model.DescripcionMarca" />
            <input type="hidden" class="Nombre" value="@Model.Descripcion" />
            <input type="hidden" class="ProductoDescripcion" value="" />
            <input type="hidden" class="Volumen" value="" />
            <input type="hidden" class="Palanca" value="OPT" />
        </div>
        @if (Model.CodigoEstrategia != "")
        {
            <div data-estrategia="@Model.CodigoEstrategia">

            @if (Model.CodigoEstrategia == Constantes.TipoEstrategiaSet.IndividualConTonos)
            {
                if (( Model.Hermanos.Any()))
                {
                    btnDesabled = 1;
                    <div class="content_tonos_producto" data-tono="" data-tono-select="" data-tono-digitable="1" >
                        <div class="tono_select_opt">
                            <div class="content_tono_elegido texto_sin_tono" data-tono-change="1" >
                                <div class="tono_seleccionado" style="display:none;"><img src="~/Content/Images/showroom/no_disponible.png" /></div>
                                <div class="texto_tono_seleccionado">ELIGE  TU TONO</div>
                                <hr class="clear" />
                            </div>
                            <div class="content_tonos_select" style="display:none;">
                                @foreach (var Hermano in Model.Hermanos)
                                {
                                    <div class="content_tono_elegido" data-tono-change="2" data-tono-cuv="@Hermano.CUV" data-tono-nombre="@Hermano.NombreBulk" data-tono-descripcion="@Hermano.NombreComercial">
                                        <div class="tono_seleccionado"><img src="@Hermano.ImagenBulk" alt=""></div>
                                        <div class="texto_tono_seleccionado">@Hermano.NombreBulk</div>
                                        <hr class="clear" />
                                    </div>
                                }
                            </div>
                        </div>
                        <hr class="clear">
                        <div data-tono-div="">
                            @foreach (var Hermano in Model.Hermanos)
                            {
                                <div style="display: none;">
                                    <input type="hidden" name="nameMarcaID" id="Estrategia_hd_MarcaID" value="@Hermano.MarcaID" />
                                    <input type="hidden" name="namePrecioCatalogo" id="Estrategia_hd_PrecioCatalogo" value="@Hermano.PrecioCatalogo" />
                                </div>
                                <div class="content_tono_detalle" data-tono-cuv="@Hermano.CUV" data-tono-change="2" data-tono-nombre="@Hermano.NombreBulk">
                                    <img src="@Hermano.ImagenBulk" alt="">
                                </div>
                            }
                        </div>
                        <hr class="clear">
                    </div>
                }
            }
            else if (Model.CodigoEstrategia == Constantes.TipoEstrategiaSet.CompuestaFija || Model.CodigoEstrategia == Constantes.TipoEstrategiaSet.CompuestaVariable)
            {
                var claseItem = Model.CodigoEstrategia == Constantes.TipoEstrategiaSet.CompuestaFija ? "content_producto_individual" : "";
                var claseItem3 = Model.CodigoEstrategia == Constantes.TipoEstrategiaSet.CompuestaVariable ? "content_producto_compuesto" : "";
                if (Model.Hermanos != null && Model.Hermanos.Any())
                 {
                     <div class="titulo_contenido">CONTENIDO</div>
                     <div class="@claseItem">
                         @foreach (var Hermano in Model.Hermanos)
                         {
                             <div>
                                 <div class="@claseItem3" data-tono=""  data-tono-select="" data-tono-digitable="@Hermano.Digitable">
                                     <div style="display: none;">
                                         <input type="hidden" name="nameMarcaID" id="Estrategia_hd_MarcaID" value="@Hermano.MarcaID" />
                                         <input type="hidden" name="namePrecioCatalogo" id="Estrategia_hd_PrecioCatalogo" value="@Hermano.PrecioCatalogo" />
                                     </div>
                                     <div class="nombre_producto_opt" data-tono-select-nombrecomercial="">
                                         <span class="cantidad_producto_opt">x @Hermano.Cantidad </span>
                                         <span data-tono-select-nombrecomercial="">@Hermano.NombreComercial</span>
                                     </div>
                                     @if (Hermano.Digitable == 1)
                                     {
                                         <div class="content_tonos_producto">
                                             <div class="tono_select_opt">
                                                 <div class="content_tono_elegido texto_sin_tono" data-tono-change="1">
                                                     <div class="tono_seleccionado" style="display: none;"><img src="~/Content/Images/showroom/no_disponible.png" alt=""></div>
                                                     <div class="texto_tono_seleccionado">ELIGE  TU TONO</div>
                                                     <hr class="clear" />
                                                 </div>
                                                 <div class="content_tonos_select" style="display:none;">
                                                     @foreach (var Tono in Hermano.Hermanos)
                                                     {
                                                         btnDesabled = 1;
                                                         <div class="content_tono_elegido" data-tono-change="2" data-tono-cuv="@Tono.CUV" data-tono-nombre="@Tono.NombreBulk" data-tono-descripcion="@Tono.NombreComercial">
                                                             <div class="tono_seleccionado"><img src="@Tono.ImagenBulk" alt=""></div>
                                                             <div class="texto_tono_seleccionado">@Tono.NombreBulk</div>
                                                             <hr class="clear" />
                                                         </div>
                                                     }
                                                 </div>
                                             </div>
                                             <hr class="clear">
                                         </div>
                                     }
                                     <hr class="clear" />
                                 </div>
                             </div>
                         }
                     </div>
                 }
                
            }
            </div>
        }

        <!--REDES-->
        <div>
            <div class="content_redes_ficha">
                <div class="texto_redes">Comparte el producto con tus clientes:</div>
                <a class="btn_compartir_ofertas" href="javascript: void(0);" data-compartir="WA"><img src="/Content/Images/Mobile/Esika/catalogo_ws.png" alt=""></a>
                <a class="btn_compartir_ofertas" href="javascript: void(0);" data-compartir="FB"><img src="/Content/Images/Mobile/Esika/facebook.png" alt=""></a>
            </div>
            <hr class="clear">
        </div>
        <!--FIN REDES-->        
        
        @if (Model.TextoLibre != "")
        {
            <div class="alerta_notificacion">@Model.TextoLibre</div>
        }
    </div>
    @if (Model.ClaseBloqueada == "")
    {
        <div class="row">
            <div class="content_btn_agregar">
                <div class="content_320">
                    <div class="content_cantidad_ficha_producto">
                        <a class="cantidad_menos_home"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
                        <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" data-input="cantidad">
                        <a class="cantidad_mas_home"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
                    </div>
                    @if (btnDesabled == 1)
                    {
                        btnDesabledClass = "btn_desactivado_general";
                    }
                    <a class="btn_agregar_ficha_producto @btnDesabledClass @Model.ClaseBloqueada" data-bloqueada="@Model.ClaseBloqueada" id="tbnAgregarProducto" onclick="javascript:CargarProductoDestacado({ EstrategiaID: '@Model.EstrategiaID' , TipoEstrategiaID: '@Model.TipoEstrategiaID' , Posicion: '@Model.Orden' , FlagNueva: '@Model.FlagNueva' }, this, true); ">AGRÉGALO</a>
                    <hr class="clear">
                </div>
            </div>
        </div>
    }
    @if (Model.ClaseBloqueada != "")
    {
        <div class="row">
            <div class="content_inscribirte">
                INSCRÍBETE EN ÉSIKA PARA MÍ Y EN C-13<br />
                PODRÁS ACCEDER A OFERTAS COMO ESTA
                <a href="javascript: void(0);" class="btn_inscribirse">INSCRIBIRME A ÉSIKA PARA MÍ</a>
                <a href="javascript: RDPageInformativa();" class="enterate_aqui" style="text-decoration:underline;">ENTÉRATE MÁS DE ÉSIKA PARA MÍ AQUÍ</a>
            </div>
        </div>
    }
   
</div>

@section scripts{
    <script type="text/javascript">

        var urlLoad = '@Url.Content("~/Content/Images/Loading.gif")';

        var tipoOrigenEstrategia = 262;
        var origenPedidoWebEstrategia = '@Constantes.OrigenPedidoWeb.MobileOfertasParaTiDetalle';
        var origenRetorno = $.trim('@Model.OrigenUrl') || '@Url.Action("Index", "Bienvenida", new { area = "Mobile" })';
    </script>

<script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/RevistaDigital/RevistaDigital.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/RevistaDigital/RevistaDigital-Suscripcion.js")"></script>
}