@model Portal.Consultoras.Web.Models.DetalleEstrategia.DetalleEstrategiaBreadCrumbsModel

@if (Model.Visible)
{
    <div class="container" id="div-container-breadcubs">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcumbs">
                    <li><a href="@Model.Inicio.Url">@Model.Inicio.Texto</a></li>
                    <li><a href="@Model.Ofertas.Url">@Model.Ofertas.Texto</a></li>
                    <li><a href="@Model.Palanca.Url">@Model.Palanca.Texto</a></li>
                    <li><a href="@Model.Producto.Texto">@Model.Producto.Texto</a></li>
                </ul>
            </div>
        </div>
    </div>
}
