@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Helpers
@model Portal.Consultoras.Web.Models.DetalleEstrategiaFichaModel

@{
    var layout = ViewContext.MobilePedidoLayout();
    ViewBag.Title = "Ficha-Mobile";
    Layout = string.Format("~/Areas/Mobile/Views/Shared/{0}.cshtml", layout);
    var mobileConfiguracion = Html.MobileAppConfiguracion();
    var origen = Request.Params["origen"];
}

@section styles{
    @System.Web.Optimization.Styles.Render("~/Bundle/Css/Mobile/Ficha")
    @if (System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika").Contains(ViewBag.PaisAnalytics))
    {
        @Styles.Render("~/Bundle/Css/Mobile/Ficha-Esika")
    }
    else
    {
        @Styles.Render("~/Bundle/Css/Mobile/Ficha-Lbel")
    }
    <style id="styleRelojOdd"></style>
}
@if (!Constantes.IngresoExternoOrigen.App.Equals(origen))
{
    @Html.Partial("_BreadCrumb", Model.BreadCrumbs)
}
@Html.Partial("_ElegirOpciones")
@Html.Partial("ResumenOpcionesTemplate")

<script id="detalle_ficha_template" type="text/x-handlebars-template">
    {{#if TieneReloj}}
    <div id="EtiquetaOdd">
        <div id="clock" class="clock_odd"></div>
    </div>
    {{/if}}
    <div id="ImagenDeFondo" class="bg_imagen_producto" data-estadoregistro=""></div>
    <div class="container box-container">
        <div class="row imagen_producto ">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <img src="{{ImgMedium FotoProducto01}}" />
            </div>
            {{#iff CodigoVariante 'ContainsArray' '[2001,2003]'}}
            <hr class="clear">
            <div id="contenedor_foto_referencial" class="texto_referencial">
                <span data-texto_referencial="">* Foto Referencial</span>
            </div>
            {{/iff}}
        </div>
        <hr class="clear">

        {{#IsNullOrEmpty ImagenURL '!='}}
        <div id="EtiquetaPackNuevas" class="row label_producto">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <img src="{{ImagenURL}}" alt="" />
            </div>
        </div>
        {{/IsNullOrEmpty}}
        <div class="row marca_producto">
            <div class="col-md-12 col-sm-12 col-xs-12">
                {{#if EsMultimarca}}
                <h2></h2>
                {{else}}
                <h2>{{DescripcionMarca}}</h2>
                {{/if}}

            </div>
        </div>
        <div class="row descripcion_producto">
            <div class="col-md-12 col-sm-12 col-xs-12">
                {{DescripcionCompleta}}
            </div>
        </div>
        {{#IsNullOrEmpty this.ListaDescripcionDetalle '!='}}
        <div id="SloganLanzamientos">
            <span class="nombre_detalle_producto_tono"><strong>{{this.TipoEstrategiaDetalle.Slogan}}</strong></span>
            <ul class="descripcion_detalle_producto_tono" style="list-style-type: none;">
                {{#each this.ListaDescripcionDetalle}}
                <li><span class="vineta">-</span><span class="txt-des">{{Trim this}}</span></li>
                {{/each}}
            </ul>
        </div>
        {{/IsNullOrEmpty}}


        {{#iff Precio '>' 0}}
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 precio_producto">
                <p>Precio catálogo <span>{{SimboloMoneda}} {{PrecioTachado}}</span></p>
            </div>
        </div>
        {{/iff}}

        <ul class="list_style_none precio">
            <li class="precio_producto">
                <p>
                    Precio para ti
                    <b style="font-size: 14px;">
                        {{#IsNullOrEmpty ListaPrecioNiveles '!='}}1x {{/IsNullOrEmpty}}{{SimboloMoneda}} {{PrecioVenta}}
                    </b>
                </p>
                {{#each ListaPrecioNiveles as |itemNivel|}}
                <span class="subprecio">{{itemNivel}}</span>
                {{/each}}
            </li>
            {{#iff Ganancia '>' 0}}
            <li class="gana_precio_producto">
                <p class="ganancia">GANA {{SimboloMoneda}} {{GananciaString}}</p>
            </li>
            {{/iff}}
        </ul>
    </div>
    {{#iff CodigoVariante 'ContainsArray' '[2001,2002,2003]'}}
    <div class="container">
        <div class="">
            <div class="seleccion_tonos">
                <div id="componentes" data-codigovariante="{{CodigoVariante}}">

                </div>
            </div>
        </div>
    </div>
    {{/iff}}
</script>

@Html.Partial("ComponentesTemplate")

<div data-item="" data-OrigenPedidoWeb="@Model.OrigenUrl" data-OrigenPedidoWebAgregar="@Model.OrigenAgregar">
    <div style="display: none;">
        <div id="data-estrategia" data-estrategia="@Json.Encode(Model)"></div>
    </div>

    <div id="seccion_ficha_handlebars"></div>

    @if (ViewBag.CampaniaCodigo == Model.Campania)
    {
        <div id="dvContenedorAgregar" class="content_btn_agregar">
            <div class="content_320">
                <div data-selecciontono="tooltip" class="popover top tooltip_agregar_desabilitado" role="tooltip" id="" style="display: none;">
                    <div class="arrow" style="left: 75%;"></div>
                    <div class="popover-content">
                        <ul class="list-inline popover_texto">
                            <li><img class="icon_alerta" src="/Content/Images/Mobile/Esika/icono-alerta.svg" alt="" /></li>
                            <li>Debes elegir tus opciones para poder agregar la oferta.</li>
                        </ul>
                    </div>
                </div>

                <div data-limitepedido="tooltip" class="popover top tooltip_limite_pedidos" role="tooltip" id="" style="display: none;">
                    <div class="arrow"></div>
                    <div class="popover-content">
                        <ul class="list-inline popover_texto">
                            <li><img class="ico_alerta" src="/Content/Images/Mobile/Esika/icono-alerta.svg" alt="" /></li>
                            <li>Lo sentimos <img class="tooltop-emoji" src="/Content/Images/Mobile/Esika/1f615.png" /> Has llegado al límite de pedidos para esta oferta.</li>
                        </ul>
                    </div>
                </div>

                <div class="content_cantidad_ficha_producto" data-cantidad-contenedor="">
                    <a class="cantidad_menos_home" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)">
                        <img id="imgFichaProduMenos" src="/Content/Images/Mobile/Esika/menos.png" alt="">
                    </a>
                    <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" data-input="cantidad">
                    <a class="cantidad_mas_home" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)">
                        <img id="imgFichaProduMas" src="/Content/Images/Mobile/Esika/mas.png" alt="">
                    </a>
                </div>

                <a class="btn_agregar_ficha_producto @Model.ClaseBloqueada"
                   id="btnAgregalo"
                   data-bloqueada=""
                   onclick="javascript:EstrategiaAgregarModule.EstrategiaAgregar(event, false, 0, true); ">AGRÉGALO</a>
                <hr class="clear">
            </div>
        </div>
    }
</div>

<div class="container" id="ContenidoProducto" style="display:none;">
    <div class="row tabs">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <ul class="tabs ficha_tabs">
                <li id="div_ficha_tab1">
                    <a class="tab-link">DETALLE DEL PRODUCTO</a>
                    <ul>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim porro dolorum dolor blanditiis omnis sunt aut totam iste, aliquam provident excepturi laborum quo optio! Omnis, ab? Fuga odio eum iure?
                    </ul>
                </li>
                <li id="div_ficha_tab2">
                    <a class="tab-link">DETALLE DEL PACK</a>
                    <ul>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim porro dolorum dolor blanditiis omnis sunt aut totam iste, aliquam provident excepturi laborum quo optio! Omnis, ab? Fuga odio eum iure?
                    </ul>
                </li>
                <li id="div_ficha_tab3">
                    <a class="tab-link">TIPS DE VENTA</a>
                    <ul>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim porro dolorum dolor blanditiis omnis sunt aut totam iste, aliquam provident excepturi laborum quo optio! Omnis, ab? Fuga odio eum iure?
                    </ul>
                </li>
                <li id="div_ficha_tab4">
                    <a class="tab-link">BENEFICIOS</a>
                    <ul>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim porro dolorum dolor blanditiis omnis sunt aut totam iste, aliquam provident excepturi laborum quo optio! Omnis, ab? Fuga odio eum iure?
                    </ul>
                </li>
                <li id="div_ficha_tab5">
                    <a class="active">VIDEO</a>
                    <ul style="display: block;">
                        <div class="video-visual" id="contenido_5">
                            <div class="contenedor_iframe_seccion_tab" id="contenedor-tab-video"></div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
@if (Model.TieneCarrusel)
{
    <div class="col-md-12 col-sm-12 col-xs-12 ficha_lineaencuentraproducto">
        <hr>
    </div>
    <hr class="clear" />
    <div id="divFichaCarrusel" class="container">

        <div class="row carrusel">
            <div>
                <div class="set_encuentras_producto">
                    <div class="wrapper_resumen_mobile ficha_encuentraproducto">
                        <p id="tituloCarrusel" class="titulo_set"></p>
                        <div class="set_encuentras_producto_carrusel" data-OrigenPedidoWeb="@Model.OrigenUrl" data-OrigenPedidoWebAgregar="@Model.OrigenAgregar">
                            <div id="divFichaCarruselProducto"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}

<!--compartir-->
@if (!mobileConfiguracion.EsAppMobile)
{
    if (Model.TieneCompartir)
    {
        <div class="col-md-12 col-sm-12 col-xs-12 ficha_lineaencuentraproducto">
            <hr>
        </div>
        <div id="Contenedor_redes_sociales" data-item="">
            <div data-compartir-campos="" style="display:none;">
                <input type="hidden" class="CUV" value="" />
                <input type="hidden" class="rsFBMensaje" value="" />
                <input type="hidden" class="rsWAMensaje" value="" />
                <input type="hidden" class="rsFBRutaImagen" value="" />
                <input type="hidden" class="rsWARutaImagen" value="" />
                <input type="hidden" class="MarcaID" value="" />
                <input type="hidden" class="MarcaNombre" value="" />
                <input type="hidden" class="Nombre" value="" />
                <input type="hidden" class="ProductoDescripcion" value="" />
                <input type="hidden" class="Volumen" value="" />
                <input type="hidden" class="Palanca" value="" />
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 share">
                <p>Comparte el producto con tus clientes</p>
                <a href="javascript: void(0);" class="text-right">
                    <img src="~/Content/Images/showroom/redes_whatsapp.png" alt="" class="wsp" data-compartir="WA">
                </a>
                <a href="javascript: void(0);">
                    <img src="~/Content/Images/showroom/redes_facebook.png" alt="" class="fb" data-compartir="FB">
                </a>
                <div class="clearfix"></div>
            </div>
        </div>
    }
    else
    {
        <div class="share"></div>
    }
}
else
{
    <div class="share"></div>
}


@Html.Partial("~/Areas/Mobile/Views/EstrategiaPersonalizada/template-producto-landing.cshtml", new ViewDataDictionary { { "TieneBotones", false } })
@Html.Partial("~/Views/DetalleEstrategia/template-ficha-detalle-video.cshtml")

@if (ViewBag.CampaniaCodigo != Model.Campania)
{
    @Html.Action("RDMensajeBloqueadoDetalle", "RevistaDigital")
}

@Html.Partial("_template-ofertadeldia-style")

@section scripts{
    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/Mixto/Ficha")
    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/Mixto/EstrategiaAgregar")

    <script>
        AbrirLoad();

		window.videoKey = '@Model.CodigoVideo';
		var fichaModule;
        var carruselModule;

		var tieneCarrusel = '@Model.TieneCarrusel';
        var urlGetCantidadProductos = '@Url.Action("GetResumenCampaniaAgrupado", "GestionContenido", new {area = ""})';

        $(document).ready(function () {
			fichaModule = FichaModule({
				palanca: "@Model.Palanca",
				origen: "@Model.OrigenUrl",
				tieneSession: "@Model.TieneSession",
				campania: "@Model.Campania",
				cuv: "@Model.Cuv",
				urlObtenerComponentes: '@Url.Action("ObtenerComponentes", "DetalleEstrategia", new { area = "" })'
			});
			fichaModule.Inicializar();
            //CerrarLoad();

			if (tieneCarrusel) {
                //AbrirLoad();
				carruselModule = CarruselModule({
					palanca: "@Model.Palanca",
					campania: "@Model.Campania",
					cuv: "@Model.Cuv",
                    urlDataCarrusel: '@Url.Action("FichaObtenerProductosCarrusel", "Estrategia", new {Area = ""})',
                    idPlantillaProducto: "#producto-landing-template",
                    divCarruselContenedor: "#divFichaCarrusel",
                    idTituloCarrusel: "#tituloCarrusel",
                    divCarruselProducto: "#divFichaCarruselProducto"
                });
                carruselModule.Inicializar();
            }
            CerrarLoad();
		});

        $(document).ajaxStop(function () {
            //CerrarLoad();
        })
    </script>
}