@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Helpers
@model Portal.Consultoras.Web.Models.DetalleEstrategiaFichaModel

@{
    ViewBag.Title = "Ficha-Mobile";
    Model.CodigoVideo = "Ajoq2mlOliw";
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayoutContenedor.cshtml";
}

@section styles{
    <link href="@Url.Content("~/Content/Css/Mobile/Ficha/ficha.css")" rel="stylesheet" />

}

<div class="container" data-item="" data-tag-html="@Model.Campania" data-OrigenPedidoWeb="@Model.Origen">
    <div class="row">
        <div class="col-md-12">
            <ul class="breadcumbs">
                <li><a href="">Inicio</a></li>
                <li><a href="">Club Gana+</a></li>
                <li><a href="">Ofertas para tí</a></li>
                <li><a href="">Nuevo</a></li>
            </ul>
        </div>
    </div>
</div>
<div style="display:none;"><div id="data-estrategia" data-estrategia="@Json.Encode(Model)"></div></div>

<div id="seccion_ficha_handlebars"></div>
<script id="detalle_ficha_template" type="text/x-handlebars-template">
    <div class="bg_imagen_producto" style='background: url(""); background-color: #efefef !important;'
         data-estadoregistro="">
    </div>
    <div class="container">
        <div class="row imagen_producto bg_imagen_producto_subir">
            <div class="col-md-12 col-sm-12 col-xs-12">
                        <img src="{{ImgSmall FotoProducto01}}" />
            </div>
        </div>
        <div class="row label_producto">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <img src="img/label.jpg" alt="">
            </div>
        </div>
        <div class="row marca_producto">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h2>{{DescripcionMarca}}</h2>
            </div>
        </div>
        <div class="row descripcion_producto">
            <div class="col-md-12 col-sm-12 col-xs-12">
                        {{DescripcionCompleta}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 precio_producto">
                <p>Valorizado en <span>{{SimboloMoneda}} {{PrecioTachado}}</span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 col-sm-7 col-xs-7 precio_producto">
                <p>Precio para ti  <b>{{SimboloMoneda}} {{PrecioVenta}}</b></p>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-5 gana_precio_producto">
                <p>GANA {{SimboloMoneda}} {{GananciaString}}</p>
            </div>
        </div>
            </div>   

        <div class="row seleccion_tonos">

            <div data-estrategia="{{CodigoVariante}}">

                {{#iff CodigoVariante '==' '2001'}}
                {{#each this.Hermanos as |componente|}}
                <div class="content_tonos_producto" data-tono="" data-tono-select="{{CUVSelect}}" data-tono-digitable="1">
                    <div class="tono_select_opt">
                        <div class="content_tono_elegido texto_sin_tono" data-tono-change="1">
                            <div class="tono_seleccionado" style="display:none;"><img src="~/Content/Images/showroom/no_disponible.png" /></div>
                            <div class="texto_tono_seleccionado">ELIGE  TU TONO</div>
                            <hr class="clear" />
                        </div>
                        <div class="content_tonos_select" style="display:none;" data-tono-select-area="1">
                            {{#each this.Detalle as |variedad|}}
                            <div class="content_tono_elegido" data-tono-change="2"
                                 data-tono-cuv="{{variedad.Cuv}}" d
                                 ata-tono-nombre="{{variedad.NombreBulk}}"
                                 data-tono-descripcion="{{variedad.NombreComercial}}">
                                <div class="tono_seleccionado"><img src="{{variedad.ImagenBulk}}" alt=""></div>
                                <div class="texto_tono_seleccionado">{{variedad.NombreBulk}}</div>
                                <hr class="clear" />
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    <hr class="clear">
                    <div data-tono-div="">
                        {{#each this.Detalle as |variedad|}}
                        <div style="display: none;">
                            <input type="hidden" name="nameMarcaID" id="Estrategia_hd_MarcaID" value="{{variedad.MarcaID}}" />
                            <input type="hidden" name="namePrecioCatalogo" id="Estrategia_hd_PrecioCatalogo" value="{{variedad.PrecioCatalogo}}" />
                        </div>
                        <div class="content_tono_detalle" d
                             ata-tono-cuv="{{variedad.Cuv}}"
                             data-tono-change="2"
                             data-tono-nombre="{{variedad.NombreBulk}}">
                            <img src="{{variedad.ImagenBulk}}" alt="">
                        </div>
                        <div style="clear:both;"></div>
                        {{/each}}
                    </div>
                    <hr class="clear">
                </div>
                {{/each}}
                {{/iff}}
                {{#iff CodigoVariante 'ContainsArray' '[2002,2003]'}}
                <div class="contenido_titulo">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <span>CONTENIDO</span>
                    </div>
                    </div>
                    <div class="content_producto_compuesto">
                        {{#each this.Hermanos as |componente|}}
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="" data-tono="" data-tono-select="" data-tono-digitable="{{componente.Digitable}}">
                                <div style="display: none;">
                                    <input type="hidden" name="nameMarcaID" id="Estrategia_hd_MarcaID" value="{{componente.MarcaID}}" />
                                    <input type="hidden" name="namePrecioCatalogo" id="Estrategia_hd_PrecioCatalogo" value="{{componente.PrecioCatalogo}}" />
                                </div>
                                <div class="nombre_producto_opt" data-tono-select-nombrecomercial="">
                                    <span class="cantidad_producto_opt">x {{componente.Cantidad}}</span>
                                    <span data-tono-select-nombrecomercial="">{{componente.NombreComercial}}</span>
                                </div>
                                {{#iff componente.Digitable '==' '1'}}
                                <div class="content_tonos_producto">
                                    <div class="tono_select_opt">
                                        <div class="content_tono_elegido texto_sin_tono" data-tono-change="1">
                                            <div class="tono_seleccionado" style="display: none;"><img src="~/Content/Images/showroom/no_disponible.png" alt=""></div>
                                            <div class="texto_tono_seleccionado">ELIGE  TU TONO</div>
                                            <hr class="clear" />
                                        </div>
                                        <div class="content_tonos_select" style="display:none;" data-tono-select-area="1">
                                            {{#each componente.Hermanos as |variedad|}}
                                            <div class="content_tono_elegido" data-tono-change="2"
                                                 data-tono-cuv="{{variedad.Cuv}}"
                                                 data-tono-nombre="{{variedad.NombreBulk}}"
                                                 data-tono-descripcion="{{variedad.NombreComercial}}">
                                                <div class="tono_seleccionado"><img src="{{variedad.ImagenBulk}}" alt=""></div>
                                                <div class="texto_tono_seleccionado">{{variedad.NombreBulk}}</div>
                                                <hr class="clear" />
                                            </div>
                                            {{/each}}
                                        </div>
                                    </div>
                                    <hr class="clear">
                                </div>
                                {{/iff}}
                                <hr class="clear" />
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    {{/iff}}
                </div>
            </div>
</script>
<div class="row">
    <div class="content_btn_agregar">
        <div class="content_320">
            <div class="content_cantidad_ficha_producto" data-cantidad-contenedor="">
                <a class="cantidad_menos_home" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
                <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" data-input="cantidad">
                <a class="cantidad_mas_home" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
            </div>
            <a class="btn_agregar_ficha_producto"
               id="tbnAgregarProducto"
               data-bloqueada=""
               onclick="javascript:EstrategiaAgregarModule.EstrategiaAgregar(event, true); ">AGRÉGALO</a>
            <hr class="clear">
        </div>
    </div>
</div>

<div class="container">
    <div class="row tabs">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <ul class="tabs ficha_tabs">
                <li>
                    <a>DETALLE DEL PACK</a>
                    <ul>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim porro dolorum dolor blanditiis omnis sunt aut totam iste, aliquam provident excepturi laborum quo optio! Omnis, ab? Fuga odio eum iure?
                    </ul>
                </li>
                @*<li>
                    <a>TIP DE VENTA</a>
                    <ul>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis itaque nisi ratione sit excepturi. Porro nemo ipsam fugiat quidem accusamus, cumque temporibus atque! Voluptatum nesciunt odio consectetur eos, quibusdam sint?
                    </ul>
                </li>*@
                <li id="tabVideo">
                    <a>VIDEO</a>
                    <div class="video-visual">
                        <div class="video-container">
                            <div id="ytFicha"
                                 data-youtube="{ height:'220', width:'100%', enablejsapi:1, fs:0, showinfo:0, modestbranding:1, loop:1, playerVars:{autoplay:1,rel:0}}"
                                 class="yt-video"></div>
                        </div>
                    </div>


                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row carrusel">
        <div>

            <div class="set_encuentras_producto" id="set_relacionados">

                <div class="wrapper_resumen_mobile ficha_encuentraproducto">
                    <p class="titulo_set">
                        SET DONDE ENCUENTRAS EL PRODUCTO
                    </p>
                    <div class="set_encuentras_producto_carrusel">
                        <div id="divOfertaProductos"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 ficha_lineaencuentraproducto">
        <hr>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12 ficha_redes">
        <p>Comparte el producto con tus clientes</p>
        <a href="javascript: void(0);" class="text-right"><img src="~/Content/Images/showroom/redes_whatsapp.png" alt="" class="wsp" data-compartir="WA"></a>
        <a href="javascript: void(0);"><img src="~/Content/Images/showroom/redes_facebook.png" alt="" class="fb" data-compartir="FB"></a>
        <div class="clearfix"></div>


    </div>
</div>

@Html.Partial("~/Areas/Mobile/Views/EstrategiaPersonalizada/template-producto-landing.cshtml", new ViewDataDictionary { { "TieneBotones", true } })

@section scripts{
    @System.Web.Optimization.Scripts.Render("~/bundles/EstrategiaAgregar")


    <script>
        window.videoKey = '@Model.CodigoVideo';

        var fichaModule;
        $(document).ready(function() {
            fichaModule = FichaModule({
                palanca: "@Model.Palanca",
                origen: "@Model.Origen",
                tieneSession: "@Model.TieneSession",
                campania: "@Model.Campania",
                cuv: "@Model.Cuv",
                urlObtenerComponentes: '@Url.Action("ObtenerComponentes", "DetalleEstrategia", new { area = "" })'
            });
            fichaModule.Inicializar();
        });

    </script>
    @System.Web.Optimization.Scripts.Render("~/bundles/Ficha")

}
