@using Portal.Consultoras.Common
@model Portal.Consultoras.Web.Models.ShowRoomOfertaModel
@{
    ViewBag.Title = "Detalle Oferta";
    //Layout = "~/Views/Shared/_MainLayout.cshtml";
    Layout = "~/Views/Shared/_MainLayoutContenedor.cshtml";
}
@section styles{
    <link href="@Url.Content("~/Content/Css/Site/slick-pedido.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Css/Site/DetalleSetProductos/DetalleSetProductos.css")" rel="stylesheet" />

    <style>
        .SubHeader {
            display: none;
        }

        #PopDetalleCompra, .fondo_set, .catalogoPersonalizadoBloque {
            display: none;
        }
    </style>
}

@{
    var styleWidth = "";
    if (Model.TieneCompraXcompra)
    {
        if (Model.ListaShowRoomCompraPorCompra != null && Model.ListaShowRoomCompraPorCompra.Count > 0)
        {
            styleWidth = "";
        }
        else
        {
            styleWidth = "width: 65%;";
        }
    }
    else
    {
        styleWidth = "width: 65%;";
    }
}

<div class="contenedor_detalle texto_font">
    <div class="contenedor_fichas">
        <div class="contenedor_ficha_etiquetas">
            <div class="contenedor_etiqueta_odd">
                <div class="clock clock_odd"></div>
            </div>
            <div class="contenedor_etiqueta_nuevo">
                <div class="triangulo_etiqueta_nuevo"></div>
                <div class="etiqueta_nuevo">NUEVO</div>
            </div>
        </div>
        <div class="contenedor_ficha_producto">
            <div class="ficha_producto">
                <div class="contenedor_imagen">
                    <img class="contenedor_img" src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201809/E/productos/PE_200050018.jpg" alt="">
                </div>
                <div class="texto_referencial">
                    <span data-texto_referencial="">* Foto Referencial</span>
                </div>
                <div class="ficha_redes_sociales">
                    <div class="texto_redes_sociales">Comparte este producto con tus clientes</div>
                    <a class="btn_compartir_facebook" href="javascript:;" data-compartir="FB">
                        <img class="contenedor_img" src="/Content/Images/Esika/facebook.png">
                    </a>
                </div>
            </div>
            <div class="ficha_detalle">
                <div class="contenedor_nombre_precio">
                    <div class="contenedor_izquierdo">
                        <div class="nombre_marca">
                            <span data-nombre_marca="">ÉSIKA</span>
                        </div>
                        <div class="descripcion" data-descripcion="">PACK TOTAL + PULSO + ALVIENTO</div>
                    </div>
                    <div class="contenedor_derecho">
                        <div class="precio_valorizado">Valorizado en <span data-precio_valorizado="">S/.200</span></div>
                        <div class="precio_venta_oferta">Precio para ti <b><span data-precio_venta_oferta="">S/.110</span></b></div>
                        <div class="ganancia">GANA <span data-ganancia="">S/.90</span></div>
                    </div>
                </div>
                <div class="contenedor_lista_detalle">
                    <div class="texto_contenido">CONTENIDO:</div>
                    <div class="detalle_producto" data-tono="" data-tono-select="" data-tono-digitable="">
                        <div class="marca_cantidad_descripcion_detalle">
                            <div class="marca_detalle_producto">
                                <span data-marca_detalle_producto>LBEL</span>
                            </div>
                            <div class="cantidad_descripcion_detalle">
                                <span class="cantidad_detalle_producto" data-cantidad_detalle_producto="">x2</span>
                                <span class="descripcion_detalle_producto" data-descripcion_detalle_producto="" @* data-tono-cuv-producto="" data-tono-select-nombrecomercial="" *@>
                                    Labial en barra rouge l'intense 4g/14o.z
                                </span>
                            </div>
                        </div>
                        <div class="selector_tono" data-selector_tono="">
                            <div class="elige_tono" data-tono-showroom-change="1">
                                <div class="img_item_tono" data-img_item_tono="" style="display: none;">
                                    <img src="~/Content/Images/showroom/no_disponible.png" alt="">
                                </div>
                                <div class="txt_item_tono txt_bold" data-txt_item_tono="">ELIGE TU TONO</div>
                                <div class="contenedor_flecha_tonos">
                                    <div class="dibujar_linea dibujar_flecha_tonos" data-flecha-tonos=""></div>
                                </div>
                            </div>
                            <div class="contenedor_items_tonos" data-visible="0" style="display: none;">
                                <div class="contenedor_item_tono" data-tono-showroom-change="2" data-tono-cuv="" data-tono-nombre="Rose Desir" data-tono-descripcion="">
                                    <div class="img_item_tono"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201809/L/productos/bulk/PE_200087991_B.jpg" alt=""></div>
                                    <div class="txt_item_tono">Rose Desir</div>
                                    <hr class="clear">
                                </div>
                                <div class="contenedor_item_tono" data-tono-showroom-change="2" data-tono-cuv="" data-tono-nombre="Berry Riche" data-tono-descripcion="">
                                    <div class="img_item_tono"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201808/L/productos/bulk/PE_200087990_B.jpg" alt=""></div>
                                    <div class="txt_item_tono">Berry Riche</div>
                                    <hr class="clear">
                                </div>
                                <div class="contenedor_item_tono" data-tono-showroom-change="2" data-tono-cuv="" data-tono-nombre="Roselle" data-tono-descripcion="">
                                    <div class="img_item_tono"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201809/L/productos/bulk/PE_200082704_B.jpg" alt=""></div>
                                    <div class="txt_item_tono">Roselle</div>
                                    <hr class="clear">
                                </div>
                            </div>
                        </div>
                        <hr class="clear">
                    </div>
                    <div class="detalle_producto" data-tono="" data-tono-select="" data-tono-digitable="">
                        <div class="marca_cantidad_descripcion_detalle">
                            <div class="marca_detalle_producto">
                                <span data-marca_detalle_producto>ÉSIKA</span>
                            </div>
                            <div class="cantidad_descripcion_detalle">
                                <span class="cantidad_detalle_producto" data-cantidad_detalle_producto="">x1</span>
                                <span class="descripcion_detalle_producto" data-descripcion_detalle_producto="" @* data-tono-cuv-producto="" data-tono-select-nombrecomercial="" *@>
                                    Perfume Pulso 100m/3.4 fl.oz
                                </span>
                            </div>
                        </div>
                        <hr class="clear">
                    </div>
                </div>
                <div class="contenedor_agregar">
                    <div class="contenedor_rangos">
                        <input class="txt_cantidad_pedido ValidaNumeral ValidaPasteNumeral" type="text" value="1" size="2" maxlength="2" data-input="cantidad" data-cantidad-input="-">
                        <div>
                            <a class="txt_menos menos" data-cantidad-agregar="-">
                                <div class="dibujar_linea dibujar_menos"></div>
                            </a>
                            <a class="txt_mas mas" data-cantidad-agregar="+">
                                <div class="dibujar_linea dibujar_mas"></div>
                            </a>
                        </div>
                    </div>
                    <a id="btnAgregalo" class="btn_agregalo btn_agregalo_desactivado" onclick="javascript:EstrategiaAgregarShowRoom(event, true); ">AGRÉGALO</a>
                    <div class="contenedor_agregado">
                        <div class="txt_agregado" data-txt_agregado="">
                            <span class="span_agregado">AGREGADO</span>
                            <div class="check_agregado">
                                <div class="dibujar_linea dibujar_check_agregado"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contenedor_ficha_tabs">
            <div class="tabla_ficha_tab">
                <div class="row_ficha_tab">
                    <div class="cell_ficha_tab">
                        <div class="contents_ficha_tab">
                            <input id="ficha_tab_1" class="imput_tab_clean imput_tab" type="radio" name="tabs" data-numTab="1" checked>
                            <label for="ficha_tab_1" class="label_tab">DETALLE DEL PRODUCTO</label>
                        </div>
                    </div>
                    <div class="cell_ficha_tab">
                        <div class="contents_ficha_tab">
                            <input id="ficha_tab_2" class="imput_tab_clean imput_tab" type="radio" data-numTab="2" name="tabs">
                            <label for="ficha_tab_2" class="label_tab">DETALLE DEL PACK</label>
                        </div>
                    </div>
                    <div class="cell_ficha_tab">
                        <div class="contents_ficha_tab">
                            <input id="ficha_tab_3" class="imput_tab_clean imput_tab" type="radio" data-numTab="3" name="tabs">
                            <label for="ficha_tab_3" class="label_tab">TIPS DE VENTA</label>
                        </div>
                    </div>
                    <div class="cell_ficha_tab">
                        <div class="contents_ficha_tab">
                            <input id="ficha_tab_4" class="imput_tab_clean imput_tab" type="radio" data-numTab="4" name="tabs">
                            <label for="ficha_tab_4" class="label_tab">BENEFICIOS</label>
                        </div>
                    </div>
                    <div class="cell_ficha_tab">
                        <div class="contents_ficha_tab">
                            <input id="ficha_tab_5" class="imput_tab_clean imput_tab" type="radio" data-numTab="5" name="tabs">
                            <label for="ficha_tab_5" class="label_tab">VIDEO</label>
                        </div>
                    </div>
                </div>
            </div>
            <section id="contenido_1" class="seccion_tab">
                <ul class="txt_ul">
                    <li class="txt_li">
                        <div class="txt_li_titulo">Labial en barra rouge lintense:</div>
                        <div>El labial Color HD Velvet tiene un color mate 5 veces más intenso que hidrata tus labios. Contiene una fórmula con pigmentos de color saturado y microprismas que capturan la luz para amplificar el color. Labial de sensación ligera.</div>
                    </li>
                    <li>
                        <div class="txt_li_titulo">Pulso:</div>
                        <div>Posee un poder de seduccón innato que le permite conquistar a cualquier mujer a través de su mirada penetrante y su media sonrisa. Su aspecto puede parecer irreverente pero su elegancia y gestos de caballerosidad lo hacen irresistible. Aún sin conocerlo, puedes saber que</div>
                    </li>
                </ul>
            </section>
            <section id="contenido_2" class="seccion_tab">
                <ul class="txt_ul">
                    <li class="txt_li">
                        <div class="txt_li_titulo">Labial en barra rouge lintense:</div>
                        <div>El labial Color HD Velvet tiene un color mate 5 veces más intenso que hidrata tus labios. Contiene una fórmula con pigmentos de color saturado y microprismas que capturan la luz para amplificar el color. Labial de sensación ligera.</div>
                    </li>
                    <li>
                        <div class="txt_li_titulo">Pulso:</div>
                        <div>Posee un poder de seduccón innato que le permite conquistar a cualquier mujer a través de su mirada penetrante y su media sonrisa. Su aspecto puede parecer irreverente pero su elegancia y gestos de caballerosidad lo hacen irresistible. Aún sin conocerlo, puedes saber que</div>
                    </li>
                </ul>
            </section>
            <section id="contenido_3" class="seccion_tab">
                <div class="contenedor_img_txt">
                    <div class="txt_img_seccion_tab">
                        <div class="img_seccion_tab">
                            <img class="contenedor_img" src="https://s3.amazonaws.com/consultorasPRD/SomosBelcorp/Matriz/PE/PE_2000934882018554845_vffslsirks.png" alt="">
                        </div>
                        <div class="txt_seccion_tab">
                            Tiene un aroma maderoso con Canela de Magadascar de larga duración.<br />
                            Su envase azul es moderno y sotisficado. Inspirado en el hombre.
                        </div>
                    </div>
                    <div class="txt_img_seccion_tab">
                        <div class="img_seccion_tab">
                            <img class="contenedor_img" src="https://s3.amazonaws.com/consultorasPRD/SomosBelcorp/Matriz/PE/PE_2000892222018550244_gbatklhzxl.png" alt="">
                        </div>
                        <div class="txt_seccion_tab">
                            Aplícala directamente en la muñeca de tu cliente usando el demostrador.
                        </div>
                    </div>
                    <div class="txt_img_seccion_tab">
                        <div class="img_seccion_tab">
                            <img class="contenedor_img" src="https://s3.amazonaws.com/consultorasPRD/SomosBelcorp/Matriz/PE/PE_200083615201851656_wedqazhdhj.png" alt="">
                        </div>
                        <div class="txt_seccion_tab">
                            Convencelo comentando que el olor durará hasta el final del día y pregunta: "¿Te pido el fresco aroma de Cardigan Evolución?"
                        </div>
                    </div>
                </div>
            </section>
            <section id="contenido_4" class="seccion_tab">
                <div class="contenedor_txt_p">
                    <div class="txt_p_titulo">¿Por qué nos encanta?</div>
                    <div class="txt_p">
                        El Labial Color HD Velvet tiene un color mate 5 veces más intenso que hidrata tus labios. Contiene una fórmula con pigmentos de color saturado y microprismas que capturan la luz para amplificar el color. Labial de sensación ligera.
                    </div>
                    <div class="txt_p_titulo">¿Qué hace?</div>
                    <div class="txt_p">
                        El nuevo labial mate posee una gran innovación que mantiene tus labios hidratados hasta por 24 horas. Disfruta de todo el color
                        y la suavidad de miles de pétalos de rosa en tus labios.
                    </div>
                    <div class="txt_p_titulo">¿Cómo funciona?</div>
                    <div class="txt_p">
                        Labial Mate aterciopelado, no reseca los labios y viene con identificador de color en el envase.
                    </div>
                </div>
            </section>
            <section id="contenido_5" class="seccion_tab">
                <div class="contenedor_iframe_seccion_tab">
                    <iframe class="iframe_seccion_tab"
                            src="https://www.youtube.com/embed/Ib8S28KNZeU"></iframe>
                </div>
            </section>
        </div>
        <div class="contenedor_ficha_carrusel">
            <div class="contenedor_titulo_carrusel">
                <div class="contenedor_linea_carrusel">
                    <div class="dibujar_linea dibujar_linea_titulo_carrusel linea_izquierda"></div>
                </div>
                <div class="txt_titulo_carrusel">SET DONDE ENCUENTRAS EL PRODUCTO</div>
                <div class="contenedor_linea_carrusel">
                    <div class="dibujar_linea dibujar_linea_titulo_carrusel linea_derecha"></div>
                </div>
            </div>
            <div class="contenedor_carrusel">
                <div class="responsive">
                    <div class="contenedor_producto_carrusel" data-item="">
                        <div class="contenedor_imagen_carrusel" data-img="">
                            <img class="imagen_producto" src="https://s3.amazonaws.com/consultorasPRD/SomosBelcorp/Matriz/PE/PE_200091042201768749_wttltqeyse.png" data-img-lazy="1">
                            <a class="btn_ver_detalle" href="">VER DETALLE</a>
                        </div>
                        <div class="contenedor_detalle_carrusel">
                            <div class="marca_detalle_carrusel">ÉSIKA</div>
                            <div class="descripcion_detalle_carrusel">7 Kalos Sport + 4 Shampoos Mañanas Felic ...</div>
                            <div class="precio_detalle_carrusel">
                                <span class="precio_oferta_normal_carrusel">S/. 875.00</span>
                                <span class="precio_oferta_venta_carrusel">S/. 329.90</span>
                            </div>
                            <div class="contenedor_agregar_carrusel">
                                <div class="contenedor_rangos contenedor_rangos_carrusel" data-cantidad-contenedor="">
                                    <input class="txt_cantidad_pedido_carrusel ValidaNumeral ValidaPasteNumeral" type="text" value="1" size="2" maxlength="2" data-input="cantidad" data-cantidad-input="-">
                                    <div class="menos_mas_carrusel">
                                        <a class="txt_mas_carrusel mas" data-cantidad-agregar="+">
                                            <div class="dibujar_linea dibujar_mas dibujar_mas_carrusel"></div>
                                        </a>
                                        <a class="txt_menos_carrusel menos" data-cantidad-agregar="-">
                                            <div class="dibujar_linea dibujar_menos dibujar_menos_carrusel"></div>
                                        </a>
                                    </div>
                                </div>
                                <a id="btnAgregalo" class="btn_agregalo btn_agregalo_carrusel btn_agregalo_desactivado" data-btn-agregar-sr="">AGRÉGALO</a>
                                <div class="contenedor_agregado">
                                    <div class="txt_agregado">
                                        <span class="span_agregado">AGREGADO</span>
                                        <div class="check_agregado">
                                            <div class="dibujar_linea dibujar_check_agregado"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contenedor_producto_carrusel" data-item="">
                        <div class="contenedor_imagen_carrusel" data-img="">
                            <img class="imagen_producto" src="https://s3.amazonaws.com/consultorasPRD/SomosBelcorp/Matriz/PE/PE_200091042201768749_wttltqeyse.png" data-img-lazy="1">
                            <a class="btn_ver_detalle" href="">VER DETALLE</a>
                        </div>
                        <div class="contenedor_detalle_carrusel">
                            <div class="marca_detalle_carrusel">ÉSIKA</div>
                            <div class="descripcion_detalle_carrusel">7 Kalos Sport + 4 Shampoos Mañanas Felic ...</div>
                            <div class="precio_detalle_carrusel">
                                <span class="precio_oferta_normal_carrusel">S/. 875.00</span>
                                <span class="precio_oferta_venta_carrusel">S/. 329.90</span>
                            </div>
                            <div class="contenedor_agregar_carrusel">
                                <div class="contenedor_rangos contenedor_rangos_carrusel" data-cantidad-contenedor="">
                                    <input class="txt_cantidad_pedido_carrusel ValidaNumeral ValidaPasteNumeral" type="text" value="1" size="2" maxlength="2" data-input="cantidad" data-cantidad-input="-">
                                    <div class="menos_mas_carrusel">
                                        <a class="txt_mas_carrusel mas" data-cantidad-agregar="+">
                                            <div class="dibujar_linea dibujar_mas dibujar_mas_carrusel"></div>
                                        </a>
                                        <a class="txt_menos_carrusel menos" data-cantidad-agregar="-">
                                            <div class="dibujar_linea dibujar_menos dibujar_menos_carrusel"></div>
                                        </a>
                                    </div>
                                </div>
                                <a id="btnAgregalo" class="btn_agregalo btn_agregalo_carrusel btn_agregalo_desactivado" data-btn-agregar-sr="">AGRÉGALO</a>
                                <div class="contenedor_agregado">
                                    <div class="txt_agregado">
                                        <span class="span_agregado">AGREGADO</span>
                                        <div class="check_agregado">
                                            <div class="dibujar_linea dibujar_check_agregado"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contenedor_producto_carrusel" data-item="">
                        <div class="contenedor_imagen_carrusel" data-img="">
                            <img class="imagen_producto" src="https://s3.amazonaws.com/consultorasPRD/SomosBelcorp/Matriz/PE/PE_200091042201768749_wttltqeyse.png" data-img-lazy="1">
                            <a class="btn_ver_detalle" href="">VER DETALLE</a>
                        </div>
                        <div class="contenedor_detalle_carrusel">
                            <div class="marca_detalle_carrusel">ÉSIKA</div>
                            <div class="descripcion_detalle_carrusel">7 Kalos Sport + 4 Shampoos Mañanas Felic ...</div>
                            <div class="precio_detalle_carrusel">
                                <span class="precio_oferta_normal_carrusel">S/. 875.00</span>
                                <span class="precio_oferta_venta_carrusel">S/. 329.90</span>
                            </div>
                            <div class="contenedor_agregar_carrusel">
                                <div class="contenedor_rangos contenedor_rangos_carrusel" data-cantidad-contenedor="">
                                    <input class="txt_cantidad_pedido_carrusel ValidaNumeral ValidaPasteNumeral" type="text" value="1" size="2" maxlength="2" data-input="cantidad" data-cantidad-input="-">
                                    <div class="menos_mas_carrusel">
                                        <a class="txt_mas_carrusel mas" data-cantidad-agregar="+">
                                            <div class="dibujar_linea dibujar_mas dibujar_mas_carrusel"></div>
                                        </a>
                                        <a class="txt_menos_carrusel menos" data-cantidad-agregar="-">
                                            <div class="dibujar_linea dibujar_menos dibujar_menos_carrusel"></div>
                                        </a>
                                    </div>
                                </div>
                                <a id="btnAgregalo" class="btn_agregalo btn_agregalo_carrusel btn_agregalo_desactivado" data-btn-agregar-sr="">AGRÉGALO</a>
                                <div class="contenedor_agregado">
                                    <div class="txt_agregado">
                                        <span class="span_agregado">AGREGADO</span>
                                        <div class="check_agregado">
                                            <div class="dibujar_linea dibujar_check_agregado"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contenedor_producto_carrusel" data-item="">
                        <div class="contenedor_imagen_carrusel" data-img="">
                            <img class="imagen_producto" src="https://s3.amazonaws.com/consultorasPRD/SomosBelcorp/Matriz/PE/PE_200091042201768749_wttltqeyse.png" data-img-lazy="1">
                            <a class="btn_ver_detalle" href="">VER DETALLE</a>
                        </div>
                        <div class="contenedor_detalle_carrusel">
                            <div class="marca_detalle_carrusel">ÉSIKA</div>
                            <div class="descripcion_detalle_carrusel">7 Kalos Sport + 4 Shampoos Mañanas Felic ...</div>
                            <div class="precio_detalle_carrusel">
                                <span class="precio_oferta_normal_carrusel">S/. 875.00</span>
                                <span class="precio_oferta_venta_carrusel">S/. 329.90</span>
                            </div>
                            <div class="contenedor_agregar_carrusel">
                                <div class="contenedor_rangos contenedor_rangos_carrusel" data-cantidad-contenedor="">
                                    <input class="txt_cantidad_pedido_carrusel ValidaNumeral ValidaPasteNumeral" type="text" value="1" size="2" maxlength="2" data-input="cantidad" data-cantidad-input="-">
                                    <div class="menos_mas_carrusel">
                                        <a class="txt_mas_carrusel mas" data-cantidad-agregar="+">
                                            <div class="dibujar_linea dibujar_mas dibujar_mas_carrusel"></div>
                                        </a>
                                        <a class="txt_menos_carrusel menos" data-cantidad-agregar="-">
                                            <div class="dibujar_linea dibujar_menos dibujar_menos_carrusel"></div>
                                        </a>
                                    </div>
                                </div>
                                <a id="btnAgregalo" class="btn_agregalo btn_agregalo_carrusel btn_agregalo_desactivado" data-btn-agregar-sr="">AGRÉGALO</a>
                                <div class="contenedor_agregado">
                                    <div class="txt_agregado">
                                        <span class="span_agregado">AGREGADO</span>
                                        <div class="check_agregado">
                                            <div class="dibujar_linea dibujar_check_agregado"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="" style="display: none; margin-top:-90px; padding-bottom: 30px; overflow:hidden;">
    <div class="content_belcorp" style="width: 65%">
        <div class="responsive" style="margin-left: 10em;">
            @{ var posicionxxx = 1; }
            @foreach (var oferta in Model.ListaOfertaShowRoom)
            {
                var descripcion = oferta.Descripcion;
                if (descripcion != null && descripcion.Length > 41)
                {
                    descripcion = descripcion.Substring(0, 40) + " ...";
                }
                <div class="set-productos-showroom-carrusel" data-item="@oferta.OfertaShowRoomID">
                    <div data-campos="">
                        <input type="hidden" class="hdOfertaShowRoomID" value="@oferta.OfertaShowRoomID" />
                        <input type="hidden" id="hcuv" class="valorCuv" value="@oferta.CUV" />
                        <input type="hidden" class="claseMarcaID" value="@oferta.MarcaID" />
                        <input type="hidden" id="hprecio" class="clasePrecioUnidad" value="@oferta.PrecioOferta" />
                        <input type="hidden" class="claseConfiguracionOfertaID" value="@oferta.ConfiguracionOfertaID" />
                        <input type="hidden" id="hnombrecuv" class="DescripcionProd" value="@oferta.Descripcion" />
                        <input type="hidden" id="hmarca" class="DescripcionMarca" value="@oferta.DescripcionMarca" />
                        <input type="hidden" class="posicionEstrategia" value="@posicionxxx" />
                    </div>
                    <div class="producto_img_home mini" data-img="">
                        <img src="@oferta.ImagenProducto" style="width: auto; height: 100%;" class="imagen_producto" data-img-lazy="1">
                        <a class="ver_detalle_carrusel" href="@Url.Action("DetalleOferta", "ShowRoom", new {id = oferta.OfertaShowRoomID})">VER DETALLE</a>
                    </div>
                    <div class="producto_nombre_descripcion">
                        <p class="nombre-producto-set">@descripcion</p>
                        <div class="producto_precio" style="margin-bottom: 3px;">
                            <span class="precio-oferta-normal">@oferta.Simbolo @oferta.FormatoPrecioValorizado</span>
                            <span class="precio-oferta-venta"><b>@oferta.Simbolo @oferta.FormatoPrecioOferta</b></span>
                        </div>
                        <div class="liquidacion_rango_home" data-cantidad-contenedor="">
                            <input type="text" value="1" size="2" maxlength="2" class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" data-input="cantidad" data-cantidad-input="-">
                            <div class="liquidacion_rango_right_pedido">
                                <a class="mas" data-cantidad-agregar="+"><img src="/Content/Images/Esika/mas.png" alt=""></a>
                                <a class="menos" data-cantidad-agregar="-"><img src="/Content/Images/Esika/menos.png" alt=""></a>
                            </div>
                        </div>
                        <a class="boton_Agregalo_home" data-btn-agregar-sr="">AGRÉGALO</a>
                        <div class="clear"></div>
                        <div style="padding-top: 9px; height: 30px;">
                            <div class="agregado product-add" data-btn-agregar-sr="" style="text-align: right; display: @oferta.Agregado;">
                                AGREGADO
                                <div class="icono"></div>
                            </div>
                        </div>
                    </div>
                </div>
                {
                    posicionxxx++;
                }
            }
        </div>
    </div>
</div>

<div class="fondo_set" style="background:url(@ViewBag.ImagenFondoProductPage) no-repeat; background-size: contain;height:340px;">
    <div class="content_belcorp" data-item>
        <div class="rd_volver" style="margin-left: 145px; position: absolute; top: -20px;">
            <a href="@Url.Action("Index", "Showroom")">
                <img class="previous_volver" src="@Url.Content("~/Content/Images/RevistaDigital/previous_volver.png")" style="width: 8px" />
                <span style="top: -4px; position: absolute;left: 15px; font-weight: bold; font-family: 'Lato'; font-size:15px">VOLVER</span>
            </a>
        </div>
        <div class="content_solo_ficha_set" data-posicion="0" data-item="@Model.OfertaShowRoomID">
            <div data-compartir-campos="" style="display: none;">
                <input type="hidden" id="hcuv" class="CUV" value="@Model.CUV" />
                <input type="hidden" class="rsFBMensaje" value="@Model.FBMensaje" />
                <input type="hidden" class="rsWAMensaje" value="@Model.FBMensaje" />
                <input type="hidden" class="rsFBRutaImagen" value="@Model.ImagenProducto" />
                <input type="hidden" class="rsWARutaImagen" value="@Model.ImagenProducto" />
                <input type="hidden" id="hnombrecuv" class="Nombre" value="@Model.Descripcion" />
                <input type="hidden" class="MarcaID" value="@Model.MarcaID" />
                <input type="hidden" id="hmarca" class="MarcaNombre" value="@Model.DescripcionMarca" />
                <input type="hidden" class="ProductoDescripcion" value="@Model.Descripcion" />
                <input type="hidden" class="Palanca" value="SR" />
            </div>
            <div class="content_producto_set">
                <div data-img="">
                    <img src="@Model.ImagenProducto" style="width: 100%;" class="imagen_producto">
                </div>

                <div class="compartir_redes_ficha" style="padding-left: 0px; margin-top: 20px;">
                    <div class="texto_compartelo">Compártelo con tus clientes</div>
                    <a class="btn_compartir_facebook_ficha btn_compartir_facebook_ficha_fix_ODD" href="javascript:;" data-compartir="FB" style="float: left;">
                        <img src="/Content/Images/Esika/facebook.png">
                    </a>
                    <hr class="clear">
                </div>
                <hr class="clear">
            </div>
            <div class="content_detalle_set detailItem" style="@styleWidth">
                <div data-campos="" style="display: none;" data-estrategiaJson="@Json.Encode(Model)">
                    <input type="hidden" class="hdOfertaShowRoomID" value="@Model.OfertaShowRoomID" />
                    <input type="hidden" class="valorCuv" value="@Model.CUV" />
                    <input type="hidden" class="claseMarcaID" value="@Model.MarcaID" />
                    <input type="hidden" id="hprecio" class="clasePrecioUnidad" value="@Model.PrecioOferta" />
                    <input type="hidden" class="claseConfiguracionOfertaID" value="@Model.ConfiguracionOfertaID" />
                    <input type="hidden" class="DescripcionProd" value="@Model.Descripcion" />
                    <input type="hidden" class="DescripcionMarca" value="@Model.DescripcionMarca" />
                    <input type="hidden" class="posicionEstrategia" value="0" />
                </div>
                <div class="content_left_ficha">
                    <div class="titulo_set">@Model.Descripcion</div>
                </div>
                <div class="content_right_ficha" style="text-align: right">
                    <div class="precio_valorizado_showroom">@Model.Simbolo @Model.FormatoPrecioValorizado</div>
                    <div class="precio_oferta_venta">
                        Precio para ti <b>@Model.Simbolo @Model.FormatoPrecioOferta</b>
                    </div>

                    <div class="ganancia_showroom">Gana @Model.Simbolo @Model.FormatoGana</div>
                </div>
                <hr class="clear" />
                <div class="titulo_contenido">CONTENIDO</div>
                @{
                    var btnDesabled = 0;
                    var btnDesabledClass = "";
                }
                <hr class="clear">
                @if (Model.CodigoProducto != "")
                {
                    <div data-estrategia="@Model.CodigoEstrategia">
                        @if (Model.ProductoTonos != null && Model.ProductoTonos.Any())
                        {
                            <div>
                                @foreach (var producto in Model.ProductoTonos)
                                {
                                    if ((producto.NombreComercial ?? "") == "" && producto.Digitable != 1)
                                    {
                                        continue;
                                    }
                                    <div>
                                        <div class="content_producto_tono" data-tono="" data-tono-select="" data-tono-digitable="@producto.Digitable">
                                            <div style="display: none;">
                                                <input type="hidden" name="nameMarcaID" id="Estrategia_hd_MarcaID" value="@producto.MarcaID" />
                                                <input type="hidden" name="namePrecioCatalogo" id="Estrategia_hd_PrecioCatalogo" value="@producto.PrecioCatalogo" />
                                            </div>
                                            <div class="nombre_marca_set">
                                                @if (@producto.DescripcionMarca != "")
                                                {
                                                    <span class="brand">@producto.DescripcionMarca</span>
                                                }
                                            </div>
                                            <div class="content_detalle_showroom">
                                                <div class="content_imagen_individual">
                                                    <img src="@producto.Imagen" style="width: 100%;" alt="@producto.NombreComercial">
                                                </div>
                                                @if (@producto.Cantidad > 0)
                                                {
                                                    <span class="cantidad_producto_opt">x @producto.Cantidad </span>
                                                }
                                                <div class="nombre_set_individual">
                                                    <span data-tono-cuv-producto="@producto.CUV" data-tono-select-nombrecomercial="">@producto.NombreComercial</span>
                                                    <span class="detalle_set_showroom">@producto.Descripcion</span>
                                                    <span class="detalle_set_showroom"></span>
                                                </div>
                                                @if (producto.Digitable == 1)
                                                {
                                                    <div class="tonos_set_individual">
                                                        <div class="tono_select_opt">
                                                            <div class="content_tono_elegido texto_sin_tono" data-tono-showroom-change="1">
                                                                <div class="tono_seleccionado" style="display: none;"><img src="~/Content/Images/showroom/no_disponible.png" alt=""></div>
                                                                <div class="texto_tono_seleccionado">ELIGE  TU TONO</div>
                                                                <hr class="clear" />
                                                            </div>
                                                            <div class="content_tonos_select" style="width:102%;">
                                                                @foreach (var tono in producto.Hermanos)
                                                                {
                                                                    btnDesabled = 1;
                                                                    <div class="content_tono_elegido" data-tono-showroom-change="2" data-tono-cuv="@tono.CUV" data-tono-nombre="@tono.NombreBulk" data-tono-descripcion="@tono.NombreComercial">
                                                                        <div class="tono_seleccionado"><img src="@tono.ImagenBulk" alt=""></div>
                                                                        <div class="texto_tono_seleccionado">@tono.NombreBulk</div>
                                                                        <hr class="clear" />
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                        <hr class="clear">
                                                    </div>
                                                }
                                                <hr class="clear" />
                                            </div>
                                            <div class="precio_regular_set"></div>
                                            <hr class="clear">
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                }
                <div class="linea_separadora" style="margin-top: 20px; margin-bottom: 10px;"></div>
                <div class="liquidacion_rango_home">
                    <input type="text" value="1" size="2" maxlength="2" class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" data-input="cantidad" data-cantidad-input="-">
                    <div class="liquidacion_rango_right_pedido">
                        <a class="mas" data-cantidad-agregar="+"><img src="/Content/Images/Esika/mas.png" alt=""></a>
                        <a class="menos" data-cantidad-agregar="-"><img src="/Content/Images/Esika/menos.png" alt=""></a>
                    </div>
                </div>
                @if (btnDesabled == 1)
                {
                    btnDesabledClass = "btn_desactivado_general";
                }
                <a id="btnAgregalo" class="boton_Agregalo_home btn_aregar_set @btnDesabledClass" onclick="javascript:EstrategiaAgregarShowRoom(event, true); ">AGRÉGALO</a>
            </div>
            @if (Model.TieneCompraXcompra)
            {
                if (Model.ListaShowRoomCompraPorCompra != null && Model.ListaShowRoomCompraPorCompra.Count > 0)
                {
                    <div class="content_ficha_compra slider center" style="margin-top: 0px !important;">

                        @{ var posicionCpcVertical = 1; }
                        @foreach (var item in Model.ListaShowRoomCompraPorCompra)
                        {
                            var descripcion = item.Descripcion;
                            if (descripcion != null && descripcion.Length > 41)
                            {
                                descripcion = descripcion.Substring(0, 40) + " ...";
                            }

                            <div data-posicion="@posicionCpcVertical" data-item="@item.OfertaShowRoomID" style="height: 430px !important;">
                                <div data-campos="">
                                    <input type="hidden" class="hdOfertaShowRoomID" value="@item.OfertaShowRoomID" />
                                    <input type="hidden" class="valorCuv" value="@item.CUV" />
                                    <input type="hidden" class="claseMarcaID" value="@item.MarcaID" />
                                    <input type="hidden" class="clasePrecioUnidad" value="@item.PrecioOferta" />
                                    <input type="hidden" class="DescripcionProd" value="@item.Descripcion" />
                                    <input type="hidden" class="DescripcionMarca" value="@item.DescripcionMarca" />
                                    <input type="hidden" class="posicionEstrategia" value="@posicionCpcVertical" />
                                </div>
                                <div style="height: 350px;">
                                    <div class="titulo_compra_POP" style="font-size: 21px; color: #bda571;">PROMOCIÓN</div>
                                    <div class="titulo_producto_compra_carrusel">@descripcion</div>
                                    <div class="precio_set_compra" style="font-size: 16px;">
                                        <b style="font-weight: 900;">A SÓLO @item.Simbolo @item.FormatoPrecioOferta</b>
                                    </div>
                                    <div class="descripcion_producto_compra" style="text-align: center;">Valorizado en @item.Simbolo @item.FormatoPrecioValorizado</div>
                                    <div class="content_imagen_carrusel_compra" data-img="" style="cursor: auto;">
                                        @if (item.ImagenProducto != "")
                                        {
                                            <img data-src="@item.ImagenProducto" class="imagen_producto" data-img-lazy="1">
                                        }
                                        else
                                        {
                                            <img data-src="@Url.Content("~/Content/Images/showroom/no_disponible.png")" class="imagen_producto" data-img-lazy="1" />
                                        }
                                    </div>
                                    <div class="precio_set_compra" style="font-size: 14px; line-height: 17px;">@Model.TextoCondicionCompraCpc</div>
                                </div>

                                <hr class="clear" />
                                <a class="btn_agrega_carrusel_compra verDetalleCompraPorCompra">VER PROMOCIÓN</a>
                            </div>
                            {
                                posicionCpcVertical++;
                            }
                        }
                    </div>
                }
            }
        </div>
        <hr class="clear" />
    </div>
</div>
<hr class="clear" />
<div class="catalogoPersonalizadoBloque" style="margin-top:85px; padding-bottom: 30px; overflow:hidden;">
    <div class="content_belcorp" style="width: 85%">
        <div class="titulo_carrusel_showroom"><b>VER MÁS SETS </b>EXCLUSIVOS PARA TI</div>
        <div class="responsive" style="margin-left: 10em;">
            @{ var posicionx = 1; }
            @foreach (var oferta in Model.ListaOfertaShowRoom)
            {
                var descripcion = oferta.Descripcion;
                if (descripcion != null && descripcion.Length > 41)
                {
                    descripcion = descripcion.Substring(0, 40) + " ...";
                }
                <div class="set-productos-showroom-carrusel" data-item="@oferta.OfertaShowRoomID">
                    <div data-campos="">
                        <input type="hidden" class="hdOfertaShowRoomID" value="@oferta.OfertaShowRoomID" />
                        <input type="hidden" id="hcuv" class="valorCuv" value="@oferta.CUV" />
                        <input type="hidden" class="claseMarcaID" value="@oferta.MarcaID" />
                        <input type="hidden" id="hprecio" class="clasePrecioUnidad" value="@oferta.PrecioOferta" />
                        <input type="hidden" class="claseConfiguracionOfertaID" value="@oferta.ConfiguracionOfertaID" />
                        <input type="hidden" id="hnombrecuv" class="DescripcionProd" value="@oferta.Descripcion" />
                        <input type="hidden" id="hmarca" class="DescripcionMarca" value="@oferta.DescripcionMarca" />
                        <input type="hidden" class="posicionEstrategia" value="@posicionx" />
                    </div>
                    <div class="producto_img_home mini" data-img="">
                        <img src="@oferta.ImagenProducto" style="width: auto; height: 100%;" class="imagen_producto" data-img-lazy="1">
                        <a class="ver_detalle_carrusel" href="@Url.Action("DetalleOferta", "ShowRoom", new {id = oferta.OfertaShowRoomID})">VER DETALLE</a>
                    </div>
                    <div class="producto_nombre_descripcion">
                        <p class="nombre-producto-set">@descripcion</p>
                        <div class="producto_precio" style="margin-bottom: 3px;">
                            <span class="precio-oferta-normal">@oferta.Simbolo @oferta.FormatoPrecioValorizado</span>
                            <span class="precio-oferta-venta"><b>@oferta.Simbolo @oferta.FormatoPrecioOferta</b></span>
                        </div>
                        <div class="liquidacion_rango_home" data-cantidad-contenedor="">
                            <input type="text" value="1" size="2" maxlength="2" class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" data-input="cantidad" data-cantidad-input="-">
                            <div class="liquidacion_rango_right_pedido">
                                <a class="mas" data-cantidad-agregar="+"><img src="/Content/Images/Esika/mas.png" alt=""></a>
                                <a class="menos" data-cantidad-agregar="-"><img src="/Content/Images/Esika/menos.png" alt=""></a>
                            </div>
                        </div>
                        <a class="boton_Agregalo_home" data-btn-agregar-sr="">AGRÉGALO</a>
                        <div class="clear"></div>
                        <div style="padding-top: 9px; height: 30px;">
                            <div class="agregado product-add" data-btn-agregar-sr="" style="text-align: right; display: @oferta.Agregado;">
                                AGREGADO
                                <div class="icono"></div>
                            </div>
                        </div>
                    </div>
                </div>
                {
                    posicionx++;
                }
            }
        </div>
    </div>
</div>
@if (!string.IsNullOrEmpty(Model.TipNegocio))
{
    <div class="content_belcorp" style="margin-top:30px;">
        <div class="content_tip_negocio">
            <div class="tip_negocio_showroom">
                <span class="titulo_tip">tip de negocio</span>@Model.TipNegocio
            </div>
        </div>
    </div>
}

@if (Model.TieneCompraXcompra)
{
    if (Model.ListaShowRoomCompraPorCompra != null && Model.ListaShowRoomCompraPorCompra.Count > 0)
    {
        <div id="PopDetalleCompra" class="Content_general_pop_up" style="display: none;" data-popup-main>
            <div class="content_ficha_producto_nueva" style="width: 750px;" data-popup-body>
                <a class="cerrar_fichaProducto" href="javascript:;" onclick=" javascript: $('#PopDetalleCompra').fadeOut(); ">
                    <img src="/Content/Images/cerrar_04_blanco.png" alt=" alternate text">
                </a>

                <div style="margin: -43px -51px 0px -51px">
                    <div class="content_titulo_pop">
                        <div class="precio_set_compra" style="letter-spacing: 1px; padding-top: 28px; color: white; font-size: 15px; margin-left: 50px; margin-right: 50px; text-transform: uppercase;">@Model.TextoCondicionCompraCpc</div>
                        <div class="titulo_compra_POP" style="letter-spacing: 4.6px; height: 65px; margin-top: -10px;">PROMOCIÓN</div>
                    </div>
                </div>

                <div class="content_carrusel_pop_compra">
                    @{ var posicionCpc = 1; }
                    @foreach (var item in Model.ListaShowRoomCompraPorCompra)
                    {
                        <div data-posicion="@posicionCpc" data-item="@item.OfertaShowRoomID">
                            <div data-campos="">
                                <input type="hidden" class="hdOfertaShowRoomID" value="@item.OfertaShowRoomID" />
                                <input type="hidden" class="valorCuv" value="@item.CUV" />
                                <input type="hidden" class="claseMarcaID" value="@item.MarcaID" />
                                <input type="hidden" class="clasePrecioUnidad" value="@item.PrecioOferta" />
                                <input type="hidden" class="DescripcionProd" value="@item.Descripcion" />
                                <input type="hidden" class="DescripcionMarca" value="@item.DescripcionMarca" />
                                <input type="hidden" class="posicionEstrategia" value="@posicionCpc" />
                            </div>

                            <div class="content_imagen_compra" data-img="">
                                @if (item.ImagenProducto != "")
                                {
                                    <img data-src="@item.ImagenProducto" class="imagen_producto" data-img-lazy="1">
                                }
                                else
                                {
                                    <img data-src="@Url.Content("~/Content/Images/showroom/no_disponible.png")" class="imagen_producto" data-img-lazy="1" />
                                }
                            </div>

                            <div class="content_datos_carrusel">
                                <div class="titulo_pop_compra">@item.Descripcion</div>
                                <div class="precio_set_compra" style="text-align:left"><b>A SÓLO @item.Simbolo @item.FormatoPrecioOferta</b></div>
                                <div class="descripcion_producto_compra" style="font-weight:400;">Valorizado en @item.Simbolo @item.FormatoPrecioValorizado</div>
                                <div class="producto_compra">@item.DescripcionLegal</div>

                                <div class="liquidacion_rango_home" data-cantidad-contenedor="">
                                    <input type="text" value="1" min="1" max="99" size="2" maxlength="2"
                                           class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral"
                                           oninput="FuncionesGenerales.MaxLengthCheck(this, 2)" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);"
                                           data-input="cantidad" data-cantidad-input="-">
                                    <div class="liquidacion_rango_right_pedido">
                                        <a class="mas" data-cantidad-agregar="+" href="javascript:;"><img src="/Content/Images/Esika/mas.png" alt=""></a>
                                        <a class="menos" data-cantidad-agregar="-" href="javascript:;"><img src="/Content/Images/Esika/menos.png" alt=""></a>
                                    </div>
                                </div>
                                <a data-btn-agregar-cpc="" class="boton_Agregalo_home btn_aregar_set" onclick="" style="width: 70%;">
                                    AGRÉGALO
                                </a>
                                <hr class="clear" />
                            </div>
                            <hr class="clear" />
                        </div>
                        {
                            posicionCpc++;
                        }
                    }
                </div>
                <div class="legal_footer_compra">@Model.TextoDescripcionLegalCpc</div>
            </div>
        </div>
    }
}



@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/ShowRoom/ShowRoom.js")"></script>
    <script type="text/javascript">
        var tipoOrigenPantalla = 11;
        var origenPedidoWeb = '@Constantes.OrigenPedidoWeb.DesktopShowRoomProductPage';
        var origenPedidoWebTactica = '@Constantes.OrigenPedidoWeb.DesktopShowRoomProductPageTactica';
        var origenPedidoWebCarrusel = '@Constantes.OrigenPedidoWeb.DesktopShowRoomProductPageCarrusel';
        var iconoLluvia = '@ViewBag.IconoLLuvia';
        var CodigoVariante = '@Model.CodigoEstrategia';
        var vfallSpeed = 4;
        var vnumObjects = 8;
        var esShowRoom = true;

    </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/nieve.js")"></script>
}

