@using Newtonsoft.Json
@using Portal.Consultoras.Common
@model Portal.Consultoras.Web.Models.ShowRoomEventoModel
@{
    ViewBag.Title = "ShowRoom";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section styles{
   
    <link href="@Url.Content("~/Content/Css/Site/jquery.range.css")" rel="stylesheet" />    
}



<input type="hidden" id="hdListaProductosEnShowRoom" value="@JsonConvert.SerializeObject(Model.ListaShowRoomOferta)" />
<input type="hidden" id="hdTotalProductos" value="@Model.ListaShowRoomOferta.Count" />
<!--MAQUETADO NUEVO-->
<div class="catalogoPersonalizadoBloque">
    <div class="content_banner_intriga">
        <img src="@Url.Content("~/Content/Images/showroom/BARRA SUPERIOR_COMPRA.png")" />
    </div>
    <div class="content_belcorp">
        <div class="content_filtros_left">
            <span class="titulo_filtro_fav">FILTROS</span>
            <div class="linea_separadora" style="height:3px;"></div>
            <div class="texto_fav_filtro" style="cursor:pointer;"> BORRAR FILTROS</div>
            <div id="limiteFlt" class="linea_separadora"></div>
            <!--PRIMER FILTRO-->
            <span class="titulo_filtro_fav">CATEGORÍAS</span>
            <hr class="clear">
            <div id="div-filter-category">

                <div class="seleccion_filtro_fav">MAMÁ MODERNA</div>
                <div class="seleccion_filtro_fav">MAMÁ MODERNA</div>
                <div class="seleccion_filtro_fav">MAMÁ MODERNA</div>
                
            </div>
            <div class="linea_separadora"></div>
            
            <!--TERCER FILTRO-->
            <span class="titulo_filtro_fav">RANGO DE PRECIO</span>
            <div class="content_filtro_range">
                    <input class="range-slider" value="" style="width:100%; display:none;"/>
                </div>
                
            <hr class="clear" />        
           
        </div>
        <div class="content-left-item">
            @{ var posicionx = 1; }
            @foreach (var item in Model.ListaShowRoomOferta)
            {
                var formatoPrecioOferta = Util.DecimalToStringFormat(item.PrecioOferta, Model.CodigoIso);
                var formatoPrecioCatalogo = Util.DecimalToStringFormat(item.PrecioCatalogo, Model.CodigoIso);

                <div class="set-productos-showroom" data-posicion="@posicionx">
                    
                    <input type="hidden" id="hdOfertaShowRoomID" value="@item.OfertaShowRoomID"/>
                    <input type="hidden" class="valorCuv" value="@item.CUV"/>
                    <input type="hidden" class="claseMarcaID" value="@item.MarcaID"/>
                    <input type="hidden" class="clasePrecioUnidad" value="@item.PrecioCatalogo"/>
                    <input type="hidden" class="claseConfiguracionOfertaID" value="@item.ConfiguracionOfertaID"/>
                    <input type="hidden" class="DescripcionProd" value="@item.Descripcion"/>
                    <input type="hidden" class="DescripcionMarca" value="@item.DescripcionMarca"/>
                    <input type="hidden" class="posicionEstrategia" value="@posicionx"/>

                    <div class="producto_img_home mini" data-img="">
                        @if (string.IsNullOrEmpty(item.ImagenMini))
                        {
                            <img src="@Url.Content("~/Content/Images/showroom/no_disponible.png")" style="width: auto; height: 100%;" class="imagen_producto" />
                        }
                        else
                        {
                            <img src="@item.ImagenMini" alt="" style="width: auto; height: 100%;" class="imagen_producto"/>
                        }
                        
                        <a class="ver_detalle_carrusel" href="@Url.Action("DetalleOferta","ShowRoom", new {id=item.OfertaShowRoomID})">VER DETALLE</a>
                    </div>
                    <div class="producto_nombre_descripcion">
                        <p class="nombre-producto-set">@item.Descripcion</p>
                        <div class="producto_precio" style="margin-bottom: 3px;">
                            <span class="precio-oferta-normal">@Model.Simbolo @formatoPrecioOferta</span>
                            <span class="precio-oferta-venta"><b>@Model.Simbolo @formatoPrecioCatalogo</b></span>
                        </div>
                        <div class="liquidacion_rango_home" data-cantidad-contenedor="">
                            <input type="text" value="1" min="1" max="99" size="2" maxlength="2"
                                   class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral txtCantidad"
                                   oninput="maxLengthCheck(this, 2)" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);">
                            @*<input class="showroom_cantidad txtCantidad" value="1" min="1" max="99" oninput="maxLengthCheck(this, 2)" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" />*@
                            <div class="liquidacion_rango_right_pedido">
                                <a class="mas suma" data-cantidad-agregar="+" href="javascript:;"><img src="/Content/Images/Esika/mas.png" alt=""></a>
                                <a class="menos resta" data-cantidad-agregar="-" href="javascript:;"><img src="/Content/Images/Esika/menos.png" alt=""></a>
                            </div>
                        </div>
                        <a class="boton_Agregalo_home btnAgregarOfertaShowRoom">
                            AGRÉGALO
                        </a>
                        <div class="clear"></div>
                        <div style="padding-top: 9px; height: 15px;">
                            <div class="agregado product-add" style="text-align: right; display: none;">
                                AGREGADO
                                <div class="icono"></div>
                            </div>
                        </div>
                    </div>
                </div>
                {
                    posicionx++;
                }
            }

            <hr class="clear"/>
        </div>
       
    </div>
    <hr class="clear" />
</div>

<!--FIN-->


    <div class="banner_showroom">
        @*<img src="@Url.Content("~/Content/Images/showroom/banner_showroom.jpg")" alt="">*@
        <img src="@Model.ImagenCabeceraProducto" alt="">
    </div>
    @*<div class="wrapper_showroom">
        <div class="titulo_buscado">
            <div class="titulo_showroom">
                <span>¡Oportunidad única! Sets exclusivos sólo por la Web!</span><br />
            </div>
        </div>
    </div>*@

    <div id="divMensajeProductoAgregado" class="divAgregarShowRoom" style="display: none;">
        <div class="titulo_producto_agregado">
            ¡Has agregado <span id="spnNombreOfertaShowRoom">Hola</span> a tu pedido!

        </div>


        <div class="div_bonotes_producto">
            <div class="child_center_botones">
                <a class="volver_set" id="btnCerrarSet">VOLVER A SETS</a>
                <a class="volver_set2" href="@Url.Action("Index","Pedido")" id="btnIrMipedido">VER MI PEDIDO</a>

            </div>

        </div>


    </div>

    <div id="DialogMensajesBanner" style="display: none;">
        <div class="message_text">
            Ocurrió un error en la comunicación o la sesión ha expirado. Por favor vuelva a autenticarse.
        </div>
    </div>

    <div id="loadingScreen"></div>

    @section scripts{
        <script src="@Url.Content("~/Scripts/slick-vertical.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.range.js")"></script>


        <script type="text/javascript">
            var listatipo = "";

            $(document).ready(function () {
                $(".seleccion_filtro_fav").on("click", function () {

                    $(this).toggleClass("seleccion_click_flitro");
                });                

                TagManagerOfertaShowRoom();

                $('#DialogMensajesBanner').dialog({
                    autoOpen: false,
                    resizable: false,
                    modal: true,
                    closeOnEscape: true,
                    width: 400,
                    draggable: true,
                    title: ":: Mensaje ::",
                    buttons:
                    {
                        "Aceptar": function () {
                            $(this).dialog('close');
                        }
                    }
                });

                $('#divMensajeProductoAgregado').dialog({
                    autoOpen: false,
                    resizable: false,
                    modal: true,
                    closeOnEscape: true,
                    width: 456,
                    draggable: true,
                });

                $("body").on("click", ".btnAgregarOfertaShowRoom", function (e) {
                    //debugger;
                    var article = $(this).parents(".set-productos-showroom").eq(0);
                    var cantidad = $(article).find(".txtCantidad").val();
                    listatipo = "0";
                    AgregarOfertaShowRoom(article, cantidad);
                    e.preventDefault();
                    (this).blur();
                });

                $("#btnCerrarSet").click(function () {
                    $("#divMensajeProductoAgregado").dialog('close');
                    $("#DialogSetDetalle").dialog("close");

                    dataLayer.push({
                        'event': 'virtualEvent',
                        'category': 'Ofertas Showroom',
                        'action': 'Click popup Bolsa',
                        'label': 'Volver a sets'
                    });
                });

                $("#btnIrMipedido").click(function () {
                    dataLayer.push({
                        'event': 'virtualEvent',
                        'category': 'Ofertas Showroom',
                        'action': 'Click popup Bolsa',
                        'label': 'Ir a carrito'
                    });
                });

                var link = '@Model.RutaShowRoomPopup';
                $("#linkTerminosCondicionesShowRoom").attr("href", link);
            });

            function alert_msg(message) {
                $('#DialogMensajesBanner .message_text').html(message);
                $('#DialogMensajesBanner').dialog('open');
                //$('#DialogMensajesBanner').show();
            }

            function AgregarOfertaShowRoom(article, cantidad) {
                //debugger;
                //var cantidad = $(article).find(".txtCantidad").val();
                var CUV = $(article).find(".valorCuv").val();
                var MarcaID = $(article).find(".claseMarcaID").val();
                var PrecioUnidad = $(article).find(".clasePrecioUnidad").val();
                var ConfiguracionOfertaID = $(article).find(".claseConfiguracionOfertaID").val();
                var nombreProducto = $(article).find(".DescripcionProd").val();
                var posicion = $(article).find(".posicionEstrategia").val();
                var descripcionMarca = $(article).find(".DescripcionMarca").val();

                if (cantidad == "" || cantidad == 0) {
                    alert_msg("La cantidad ingresada debe ser mayor que 0, verifique.");
                } else {
                    waitingDialog({});
                    $.ajaxSetup({
                        cache: false
                    });
                    $.getJSON(baseUrl + 'ShowRoom/ValidarUnidadesPermitidasPedidoProducto', { CUV: CUV }, function (data) {
                        if (parseInt(data.Saldo) < parseInt(cantidad)) {
                            var Saldo = data.Saldo;
                            var UnidadesPermitidas = data.UnidadesPermitidas;

                            closeWaitingDialog();

                            if (Saldo == UnidadesPermitidas)
                                alert_msg("Lamentablemente, la cantidad solicitada sobrepasa las Unidades Permitidas de Venta (" + UnidadesPermitidas + ") del producto.");
                            else {
                                if (Saldo == "0")
                                    alert_msg("Las Unidades Permitidas de Venta son solo (" + UnidadesPermitidas + "), pero Usted ya no puede adicionar más, debido a que ya agregó este producto a su pedido, verifique.");
                                else
                                    alert_msg("Las Unidades Permitidas de Venta son solo (" + UnidadesPermitidas + "), pero Usted solo puede adicionar (" + Saldo + ") más, debido a que ya agregó este producto a su pedido, verifique.");
                            }
                        } else {
                            var Item = {
                                MarcaID: MarcaID,
                                Cantidad: cantidad,
                                PrecioUnidad: PrecioUnidad,
                                CUV: CUV,
                                ConfiguracionOfertaID: ConfiguracionOfertaID
                            };

                            $.ajaxSetup({ cache: false });

                            jQuery.ajax({
                                type: 'POST',
                                url: baseUrl + 'ShowRoom/InsertOfertaWebPortal',
                                dataType: 'json',
                                contentType: 'application/json; charset=utf-8',
                                data: JSON.stringify(Item),
                                async: true,
                                success: function (response) {
                                    closeWaitingDialog();

                                    if (response.success == true) {
                                        $("#spnNombreOfertaShowRoom").html(nombreProducto);

                                        $("#divMensajeProductoAgregado").parent().find(".ui-dialog-titlebar").hide();
                                        $("#divMensajeProductoAgregado").parent().css("overflow", "inherit");
                                        $("#divMensajeProductoAgregado").parent().css("border", "0");
                                        $("#divMensajeProductoAgregado").parent().css("border-radius", "0");
                                        $("#divMensajeProductoAgregado").parent().css("-webkit-border-radius", "0");
                                        $("#divMensajeProductoAgregado").parent().css("-moz-border-radius", "0");
                                        $("#divMensajeProductoAgregado").parent().css("-khtml-border-radius", "0");
                                        $("#divMensajeProductoAgregado").parent().css("padding", "0");
                                        $('#divMensajeProductoAgregado').dialog('open');
                                                                                                
                                        $(article).find(".txtCantidad").val("1");

                                        AgregarTagManagerProductoAgregadoSW(CUV, nombreProducto, PrecioUnidad, cantidad, descripcionMarca, listatipo);
                                        CargarResumenCampaniaHeader(true);
                                        TrackingJetloreAdd(cantidad, $("#hdCampaniaCodigo").val(), CUV);
                                    }
                                    else messageInfoError(response.message);
                                },
                                error: function (response, error) {
                                    if (checkTimeout(response)) {
                                        closeWaitingDialog();
                                        console.log(response);
                                    }
                                }
                            });
                        }
                    });
                }
            }

            function maxLengthCheck(object, cantidadMaxima) {
                if (object.value.length > cantidadMaxima)
                    object.value = object.value.slice(0, cantidadMaxima);
            }

            function TagManagerOfertaShowRoom() {
                var cadListaofertaShowRoom = $("#hdListaProductosEnShowRoom").val();
                var listaofertaShowRoom = JSON.parse(cadListaofertaShowRoom);
                var cantidadofertaShowRoom = $('.set-productos-showroom').length;

                var arrayEstrategia = new Array();
                var position = 1;
                for (var i = 0; i < cantidadofertaShowRoom; i++) {
                    var ofertaShowRoom = listaofertaShowRoom[i];
                    var list = ofertaShowRoom.Stock > 0 ? 'Ofertas Showroom' : 'Ofertas Showroom - agotados';

                    var impresionofertaShowRoom = {
                        'name': ofertaShowRoom.Descripcion,
                        'id': ofertaShowRoom.CUV,
                        'price': ofertaShowRoom.PrecioCatalogo.toString(),
                        'category': 'NO DISPONIBLE',
                        'brand': ofertaShowRoom.DescripcionMarca,
                        'position': position,
                        'list': list
                    };
                    position++;
                    arrayEstrategia.push(impresionofertaShowRoom);
                }

                if (arrayEstrategia.length > 0) {
                    dataLayer.push({
                        'event': 'productImpression',
                        'ecommerce': {
                            'impressions': arrayEstrategia
                        }
                    });
                }
            }

            function AgregarTagManagerClickProducto(article, opcion) {
                var nombreProducto = $(article).find(".DescripcionProd").val();
                var cuv = $(article).find(".valorCuv").val();
                var precio = $(article).find(".clasePrecioUnidad").val();
                var marca = $(article).find(".DescripcionMarca").val();
                var posicion = $(article).find(".posicionEstrategia").val();
                var list = opcion == 1 ? 'Ofertas Showroom' : 'Ofertas Showroom popUp';

                dataLayer.push({
                    'event': 'productClick',
                    'ecommerce': {
                        'click': {
                            'actionField': { 'list': list },
                            'products': [{
                                'name': nombreProducto,
                                'id': cuv,
                                'price': precio,
                                'brand': marca,
                                'category': 'NO DISPONIBLE',
                                'position': parseInt(posicion)
                            }]
                        }
                    }
                });

                dataLayer.push({
                    'event': 'productDetails',
                    'ecommerce': {
                        'detail': {
                            'products': [{
                                'name': nombreProducto,
                                'id': cuv,
                                'price': precio,
                                'brand': marca,
                                'category': 'NO DISPONIBLE',
                            }]
                        }
                    }
                });

            }

            function AgregarTagManagerProductoAgregadoSW(CUV, nombreProducto, PrecioUnidad, cantidad, descripcionMarca, tipo) {
                var lista = tipo == 0 ? "Ofertas Showroom" : "Ofertas Showroom popUp";
                dataLayer.push({
                    'event': 'addToCart',
                    'ecommerce': {
                        'add': {
                            'actionField': { 'list': lista },
                            'products': [{
                                'name': nombreProducto,
                                'id': CUV,
                                'price': PrecioUnidad,
                                'brand': descripcionMarca,
                                'variant': 'Ofertas Showroom',
                                'category': 'NO DISPONIBLE',
                                'quantity': cantidad
                            }]
                        }
                    }
                });
            }
        </script>

    }
