
@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Models
@using System.Web.Optimization

@model Portal.Consultoras.Web.Models.ShowRoomEventoModel
@{
    ViewBag.Title = "ShowRoom";
    Layout = "~/Views/Shared/_MainLayoutContenedor.cshtml";

    var revistaDigital = ViewBag.revistaDigital ?? new RevistaDigitalShortModel();
}

@section styles{
    @Styles.Render("~/Bundle/Css/Desktop/ShowRoom-Index")
}

<div class="catalogoPersonalizadoBloque BloqueLandingRD">
    <div class="content_belcorp parche_productos_1000">
        <div class="content-left-item content_new_showroom">
            <div style="float:left;">
                <div id="divCantProductos" class="cantidad_productos_resultado">
                    Mostrando <span id="spnCantidadFiltro">0</span> de <span id="spnCantidadTotal">0 productos</span>
                </div>
            </div>
            <div style="float:right;">
                @if (Model.TieneCategoria)
                {
                    <div class="content_filtro_categoria" id="filtro_categoria" style="cursor: pointer; min-width: 260px;">
                        FILTRAR POR CATEGORÍA
                        <div class="content_detalle_filtro" id="detalle_filtro_categoria" style="display: none;">
                            @if (Model.ListaCategoria != null && Model.ListaCategoria.Count > 0)
                            {
                                <div id="div-filter-category">
                                    @foreach (var itemCategoria in Model.ListaCategoria)
                                    {
                                        if (!string.IsNullOrEmpty(itemCategoria.Descripcion))
                                        {
                                            <div data-filtro-categoria="" class="seleccion_filtro_fav" data-categoriacodigo="@itemCategoria.Codigo">@itemCategoria.Descripcion</div>
                                            <input type="hidden" id="hdatacategoriadescripcion" value="@itemCategoria.Descripcion" />
                                        }
                                    }
                                </div>
                            }
                        </div>
                    </div>
                }

                <div class="content_filtro_categoria" style="cursor: pointer; min-width:350px;">
                    <div id="filtro_precio" class="txt_filtrar_por_precio">
                        FILTRAR POR PRECIO
                    </div>
                    <div class="content_detalle_filtro" id="detalle_filtro_precio">
                        <div class="content_filtro_range_showroom">
                            <input class="range-slider" type="text" value="" />
                        </div>
                    </div>
                </div>

                @if (Model.FiltersBySorting != null)
                {
                    <div class="filtros_derecha_SHOWROOM">
                        <select id="filter-sorting" class="select_filtros_fav" style="min-width:220px; margin-left:0; height:33px; border:0;box-shadow:inset 0 0 0 1px #b8b8b8">
                            <option value="00">ORDENAR POR</option>
                            @foreach (var item in Model.FiltersBySorting)
                            {
                                <option value="@item.Codigo">@item.Descripcion</option>
                            }
                        </select>
                    </div>
                }

            </div>
        </div>
        <hr class="clear" />
        <div class="contenedor_productos_showroom"
             id="divProductosShowRoom"
             data-OrigenPedidoWeb="@Constantes.OrigenPedidoWeb.DesktopLandingShowroomShowroomCarrusel"
             style="margin-top: 25px;"></div>
    </div>
    <hr class="clear" />
    @if (Model.ProductosPerdio)
    {
        if (!revistaDigital.EsSuscrita && !revistaDigital.EsActiva)
        {
            <!--JN NO SUSCRITA Historia 636-->
            <!-- INICIO ZONA DORADA-->
            <div id="block_inscribete" style="display: none;">
                <div class="zona_dorada_contenedor_desktop">

                </div>
                <div class="contenido_zona_dorada_contenedor_desktop">
                    <div class="fix-zona-dorada">
                        <div class="xblock-cont-uno">
                            <img src="@Model.PerdioLogo" style="width:90px;" /><p>@Model.PerdioTitulo <b>@Model.PerdioSubTitulo</b></p><div style="clear:both;"></div>
                        </div>
                        <div class="xblock-cont-dos">
                            <a href="@Url.Action("Informacion", "RevistaDigital")">SUSCRÍBETE GRATIS</a>
                        </div>

                        <div style="clear: both;"></div>
                    </div>
                </div>
            </div>
            <!-- FIN ZONA DORADA-->

        }
        else if (revistaDigital.EsSuscrita && !revistaDigital.EsActiva)
        {
            <!-- INICIO ZONA DORADA-->
            <div id="block_inscribete" style="display: none;">
                <div class="zona_dorada_contenedor_desktop">

                </div>
                <div class="contenido_zona_dorada_contenedor_desktop">
                    <div class="fix-zona-dorada">
                        <div class="block-cont cont-uno">
                            <div class="block-cell">
                                <div class="logo-dorado-contenedor"></div>
                            </div>
                        </div>
                        <div class="block-cont cont-dos">
                            <div class="block-cell">
                                <p>
                                    @Model.PerdioTitulo <b>@Model.PerdioSubTitulo</b>
                                </p>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </div>
            </div>
            <!-- FIN ZONA DORADA-->
        }
        else
        {
            <div>
                <div id="block_inscribete" style="display: none;">
                    <div class="content_belcorp">
                        <div class="block_inscribete_predio">
                            <span class="hblock_title_perdio">@Model.PerdioTitulo</span><br />
                            <span class="hblock_title_perdio2">@Model.PerdioSubTitulo</span>
                        </div>
                    </div>
                </div>

            </div>
        }

        <div class="content_belcorp parche_productos_1000" data-listado-content="" style="margin-bottom: 55px;">
            <div id="divOfertaProductosPerdio" class="divOfertaProductosPerdiofix" data-content-perdido="@Model.CampaniaID" style="position: relative; top: -230px; display: none;"></div>

        </div>
    }

    <hr class="clear" />
    <div id="divOfertaProductosLoad" style="display: none;">
        Cargando Productos<br>
    </div>
    <hr class="clear" />

    <div class="popup_banner_especial" id="PopupBannerEspecial"> </div>

    <hr class="clear" />

    @if (Model.TieneSubCampania)
    {
        <div id="divContentSubCampania" class="banner_especial_showroom" style="background: @Model.ColorFondoContenidoOfertaSubCampania;display:none;">
            <div class="promocion_especial_header" id="banner-sub-campania"></div>
            <div class="content_set_oferta_especial" style="max-width: 1024px; padding: 0 0% 0 6%;">
                <div class="content_carrusel_oferta_especial" id="contenedor-showroom-subcampanias" data-OrigenPedidoWeb="@Constantes.OrigenPedidoWeb.DesktopLandingShowroomShowroomSubCampania"></div>
            </div>
        </div>
    }
    else
    {
        if (Model.TieneCompraXcompra)
        {
        }
    }

</div>

@if (Model.TieneCompraXcompra)
{
}


<div id="divMensajeProductoAgregado" class="divAgregarShowRoom" style="display: none;">
    <div class="titulo_producto_agregado">
        ¡Has agregado <span id="spnNombreOfertaShowRoom">Hola</span> a tu pedido!
    </div>
    <div class="div_bonotes_producto">
        <div class="child_center_botones">
            <a class="volver_set" id="btnCerrarSet">VOLVER A SETS</a>
            <a class="volver_set2" href="@Url.Action("Index", "Pedido")" id="btnIrMipedido">VER MI PEDIDO</a>
        </div>
    </div>
</div>

<div id="DialogMensajesBanner" style="display: none;">
    <div class="message_text">
        Ocurrió un error en la comunicación o la sesión ha expirado. Por favor vuelva a autenticarse.
    </div>
</div>

<div id="loadingScreen"></div>

@Html.Partial("~/Views/EstrategiaPersonalizada/template-producto-landing.cshtml")

<script id="banner-sub-campania-template" type="text/x-handlebars-template">
    <div class="titulo_promocion_showroom" style="background: url(@Model.ImagenFondoTituloOfertaSubCampania) no-repeat right top">
        <div class="content_titulo" style="color: @Model.ColorTextoInicialOfertaSubCampania">
            @Model.TextoInicialOfertaSubCampania
            <span class="titulo_banner_showroom" style="color: @Model.ColorTextoTituloOfertaSubCampania">@Model.TextoTituloOfertaSubCampania</span>
        </div>
    </div>
    <div class="content_set_especial_header" id="content_set_especial_header">
        <div class="content_imagen_promocion">
            <img src="{{ImgUrl FotoProducto01}}" />
        </div>
        <div class="content_set_precio_especial">
            <span style="font-size: 12px;">{{DescripcionCortada}}</span>
            <br />
            A SÓLO <span class="precio_set_especial">@Model.Simbolo {{PrecioVenta}}</span>
        </div>
        <div style="float:right; right: 0;">
            <a href="#" class="btn_descubre_set_especial" id="VerOfertaEspecial"><span>@Model.TextoBotonVerMasOfertaSubCampania</span></a>
        </div>
    </div>
    <a href="#" class="btn_descubre_set_especial info_desplegable" id="BajarOfertaEspecial"></a>
</script>

@Html.Partial("~/Views/RevistaDigital/template-mensaje-bloqueado.cshtml", @Model.MensajeProductoBloqueado)

@section scripts{

    <script type="text/javascript">
        var urlLoad = '@Url.Content("~/Content/Images/Loading.gif")';
        var tipoOrigenPantalla = 1;
        var urlTerminosCondiciones = '@Model.UrlTerminosCondiciones';
        var precioMin = '@Model.PrecioMinFiltro';
        var precioMax = '@Model.PrecioMaxFiltro';
        var closeBannerCompraPorCompra = '@Model.CloseBannerCompraPorCompra';
        var origenPedidoWeb = '@Constantes.OrigenPedidoWeb.DesktopLandingShowroomShowroomCarrusel';
        var origenPedidoWebCarrusel = -1;
        var iconoLluvia = '@Model.IconoLLuvia';
        var origenPedidoWebSubCampania = '@Constantes.OrigenPedidoWeb.DesktopLandingShowroomShowroomSubCampania';
        var tieneCompraXCompra = '@Model.TieneCompraXcompra';
        var tieneSubCampania = '@Model.TieneSubCampania';
        var vfallSpeed = 4;
        var vnumObjects = 8;
        var esShowRoom = true;
    </script>

    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/Desktop/ShowRoom-Index")

}