@using Newtonsoft.Json
@using Portal.Consultoras.Common
@model Portal.Consultoras.Web.Models.ShowRoomEventoModel
@{
    ViewBag.Title = "ShowRoom";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section styles{

    <link href="@Url.Content("~/Content/Css/Site/jquery.range.css")" rel="stylesheet"/>
    <link href="@Url.Content("~/Content/Css/Site/slick-pedido.css")" rel="stylesheet"/>
}

<input type="hidden" id="hdListaProductosEnShowRoom" value="@JsonConvert.SerializeObject(Model.ListaShowRoomOferta)" />
<input type="hidden" id="hdTotalProductos" value="@Model.ListaShowRoomOferta.Count" />
<!--MAQUETADO NUEVO-->
<div class="catalogoPersonalizadoBloque">
    <div class="content_banner_intriga">
        <img src="@Url.Content("~/Content/Images/showroom/BARRA SUPERIOR_COMPRA.png")"/>
    </div>
    <div class="content_belcorp">
        <div class="content_filtros_left">
            <span class="titulo_filtro_fav">FILTROS</span>
            <div class="linea_separadora" style="height: 3px;"></div>
            <div class="texto_fav_filtro" style="cursor: pointer;"> BORRAR FILTROS</div>
            <div id="limiteFlt" class="linea_separadora"></div>
            <!--PRIMER FILTRO-->
            <span class="titulo_filtro_fav">CATEGORÍAS</span>
            <hr class="clear">
            <div id="div-filter-category">

                <div class="seleccion_filtro_fav">MAMÁ MODERNA</div>
                <div class="seleccion_filtro_fav">MAMÁ MODERNA</div>
                <div class="seleccion_filtro_fav">MAMÁ MODERNA</div>

            </div>
            <div class="linea_separadora"></div>

            <!--TERCER FILTRO-->
            <span class="titulo_filtro_fav">RANGO DE PRECIO</span>
            <div class="content_filtro_range">
                <input class="range-slider" value="" style="width: 100%; display: none;"/>
            </div>

            <hr class="clear"/>

        </div>
        <div class="content-left-item">
            @{ var posicionx = 1; }
            @foreach (var item in Model.ListaShowRoomOferta)
            {
                var formatoPrecioOferta = Util.DecimalToStringFormat(item.PrecioOferta, Model.CodigoIso);
                var formatoPrecioCatalogo = Util.DecimalToStringFormat(item.PrecioCatalogo, Model.CodigoIso);

                <div class="set-productos-showroom" data-posicion="@posicionx" data-item="@item.OfertaShowRoomID">
                    <div data-campos="">
                        <input type="hidden" class="hdOfertaShowRoomID" value="@item.OfertaShowRoomID"/>
                        <input type="hidden" class="valorCuv" value="@item.CUV"/>
                        <input type="hidden" class="claseMarcaID" value="@item.MarcaID"/>
                        <input type="hidden" class="clasePrecioUnidad" value="@item.PrecioCatalogo"/>
                        <input type="hidden" class="claseConfiguracionOfertaID" value="@item.ConfiguracionOfertaID"/>
                        <input type="hidden" class="DescripcionProd" value="@item.Descripcion"/>
                        <input type="hidden" class="DescripcionMarca" value="@item.DescripcionMarca"/>
                        <input type="hidden" class="posicionEstrategia" value="@posicionx"/>
                    </div>

                    <div class="producto_img_home mini" data-img="">
                        @if (string.IsNullOrEmpty(item.ImagenMini))
                        {
                            <img src="@Url.Content("~/Content/Images/showroom/no_disponible.png")" style="width: auto; height: 100%;" class="imagen_producto"/>
                        }
                        else
                        {
                            <img src="@item.ImagenMini" alt="" style="width: auto; height: 100%;" class="imagen_producto"/>
                        }

                        <a class="ver_detalle_carrusel" href="@Url.Action("DetalleOferta", "ShowRoom", new {id = item.OfertaShowRoomID})">VER DETALLE</a>
                    </div>
                    <div class="producto_nombre_descripcion">
                        <p class="nombre-producto-set">@item.Descripcion</p>
                        <div class="producto_precio" style="margin-bottom: 3px;">
                            <span class="precio-oferta-normal">@Model.Simbolo @formatoPrecioOferta</span>
                            <span class="precio-oferta-venta"><b>@Model.Simbolo @formatoPrecioCatalogo</b></span>
                        </div>
                        <div class="liquidacion_rango_home" data-cantidad-contenedor="">
                            <input type="text" value="1" min="1" max="99" size="2" maxlength="2"
                                   class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral"
                                   oninput="maxLengthCheck(this, 2)" onkeypress=" return FuncionesGenerales.ValidarSoloNumeros(event); "
                                   data-input="cantidad" data-cantidad-input="-">
                            <div class="liquidacion_rango_right_pedido">
                                <a class="mas" data-cantidad-agregar="+" href="javascript:;"><img src="/Content/Images/Esika/mas.png" alt=""></a>
                                <a class="menos" data-cantidad-agregar="-" href="javascript:;"><img src="/Content/Images/Esika/menos.png" alt=""></a>
                            </div>
                        </div>
                        <a class="boton_Agregalo_home" data-btn-agregar-sr="">
                            AGRÉGALO
                        </a>
                        <div class="clear"></div>
                        <div style="padding-top: 9px; height: 15px;">
                            <div class="agregado product-add" style="text-align: right; display: @item.Agregado;">
                                AGREGADO
                                <div class="icono"></div>
                            </div>
                        </div>
                    </div>
                </div>
                {
                    posicionx++;
                }
            }

            <hr class="clear"/>
        </div>

    </div>
    <hr class="clear"/>
    @if (Model.TieneCompraXcompra)
    {
        if (Model.ListaShowRoomCompraPorCompra != null && Model.ListaShowRoomCompraPorCompra.Count > 0)
        {
            <div class="content_banner_compra">
                <div class="content_interno_banner">
                    <div class="content_imagen_banner_compra">
                        @*<img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/CO/201704/C/productos/CO_200084402.jpg">*@
                        <img src="@Model.ListaShowRoomCompraPorCompra[0].ImagenProducto">
                    </div>
                    <div class="content_oferta">
                        @*<b>RELOJ ESFÉRIC A SÓLO S/.5 </b>POR LA COMPRA DE 2 SETS O MÁS*@
                        <b>@Model.ListaShowRoomCompraPorCompra[0].Descripcion A SÓLO S/.5 </b>POR LA COMPRA DE 2 SETS O MÁS
                        <span class="solo_falta_compra">[ Sólo te falta 1 Set más para comprarlo ]</span>
                    </div>
                    <a class="btn_ver_detalle_compra" id="btnVerDetalleCompraPorCompra">VER DETALLE</a>
                    <hr class="clear"/>
                </div>
            </div>
        }
    }
</div>

@if (Model.TieneCompraXcompra)
{
    if (Model.ListaShowRoomCompraPorCompra != null && Model.ListaShowRoomCompraPorCompra.Count > 0)
    {
        <div id="PopDetalleCompra" class="Content_general_pop_up" style="display: none;" data-popup-main>
            <div class="content_ficha_producto_nueva" style="width:750px;" data-popup-body>
                <a class="cerrar_fichaProducto" href="javascript:;" onclick="javascript: $('#PopDetalleCompra').fadeOut();">
                    <img src="/Content/Images/cerrar_04_blanco.png" alt=" alternate text">
                </a>

                <div class="content_carrusel_pop_compra">
                    @{ var posicionCpc = 1; }
                    @foreach (var item in Model.ListaShowRoomCompraPorCompra)
                    {
                        <div data-posicion="@posicionCpc" data-item="@item.OfertaShowRoomID">
                            <div data-campos="">
                                <input type="hidden" class="hdOfertaShowRoomID" value="@item.OfertaShowRoomID" />
                                <input type="hidden" class="valorCuv" value="@item.CUV" />
                                <input type="hidden" class="claseMarcaID" value="@item.MarcaID" />
                                <input type="hidden" class="clasePrecioUnidad" value="@item.PrecioCatalogo" />
                                <input type="hidden" class="claseConfiguracionOfertaID" value="@item.ConfiguracionOfertaID" />
                                <input type="hidden" class="DescripcionProd" value="@item.Descripcion" />
                                <input type="hidden" class="DescripcionMarca" value="@item.DescripcionMarca" />
                                <input type="hidden" class="posicionEstrategia" value="@posicionCpc" />
                            </div>
                            <div class="titulo_compra_POP">PROMOCIÓN</div>
                            <div class="precio_set_compra">A SÓLO @item.Simbolo @item.PrecioCatalogo</div>
                            <div class="content_imagen_compra">
                                <img src="@item.ImagenProducto">
                            </div>
                            <div class="content_datos_carrusel">
                                <div class="producto_compra">LLévate un @item.Descripcion por la compra de 2 Sets o más.</div>
                                <div class="descripcion_producto_compra">@item.DescripcionLegal</div>
                                <div class="liquidacion_rango_home">
                                    <input type="text" value="1" min="1" max="99" size="2" maxlength="2"
                                           class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral"
                                           oninput="maxLengthCheck(this, 2)" onkeypress=" return FuncionesGenerales.ValidarSoloNumeros(event); "
                                           data-input="cantidad" data-cantidad-input="-">
                                    <div class="liquidacion_rango_right_pedido">
                                        <a class="mas" data-cantidad-agregar="+"><img src="/Content/Images/Esika/mas.png" alt=""></a>
                                        <a class="menos" data-cantidad-agregar="-"><img src="/Content/Images/Esika/menos.png" alt=""></a>
                                    </div>
                                </div>
                                <a data-btn-agregar-cpc="" class="boton_Agregalo_home btn_aregar_set" onclick="" style="width: 72%;">
                                    AGRÉGALO
                                </a>
                                <hr class="clear" />
                                <div class="notificacion_compra">Compra un set más y llévate la oferta</div>
                            </div>
                            <hr class="clear" />
                        </div>
                        {
                            posicionCpc++;
                        }
                    }
                </div>

            </div>
        </div>
    }
}
    

<!--FIN-->


    @*<div class="banner_showroom">
     
        <img src="@Model.ImagenCabeceraProducto" alt="">
    </div>*@
    @*<div class="wrapper_showroom">
        <div class="titulo_buscado">
            <div class="titulo_showroom">
                <span>¡Oportunidad única! Sets exclusivos sólo por la Web!</span><br />
            </div>
        </div>
    </div>*@

    <div id="divMensajeProductoAgregado" class="divAgregarShowRoom" style="display: none;">
        <div class="titulo_producto_agregado">
            ¡Has agregado <span id="spnNombreOfertaShowRoom">Hola</span> a tu pedido!

        </div>


        <div class="div_bonotes_producto">
            <div class="child_center_botones">
                <a class="volver_set" id="btnCerrarSet">VOLVER A SETS</a>
                <a class="volver_set2" href="@Url.Action("Index","Pedido")" id="btnIrMipedido">VER MI PEDIDO</a>

            </div>

        </div>


    </div>

    <div id="DialogMensajesBanner" style="display: none;">
        <div class="message_text">
            Ocurrió un error en la comunicación o la sesión ha expirado. Por favor vuelva a autenticarse.
        </div>
    </div>

    <div id="loadingScreen"></div>

    @section scripts{
        <script type="text/javascript" src="@Url.Content("~/Scripts/slick.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.range.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/ShowRoom/Index.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/ShowRoom/ShowRoom.js")"></script>
        <script type="text/javascript">
            var tipoOrigenPantalla = 1;
        </script>

    }
