@using Portal.Consultoras.Common
@model Portal.Consultoras.Web.Models.EstrategiaPedidoModel

@{
    ViewBag.Title = "Intriga";
    Layout = "~/Views/Shared/_MainLayoutContenedor.cshtml";
}

<div class="content_belcorp" style="text-align:center;">
    <div class="content_set_intriga">

        @*<input type="hidden" id="hdOfertaShowRoomID" value="@Model.OfertaShowRoomID" />*@
        <input type="hidden" class="valorCuv" value="@Model.CUV" />
        <input type="hidden" class="claseMarcaID" value="@Model.MarcaID" />
        <input type="hidden" class="clasePrecioUnidad" value="@Model.PrecioOferta" />
        <input type="hidden" class="claseConfiguracionOfertaID" value="@Model.ConfiguracionOfertaID" />
        <input type="hidden" class="DescripcionProd" value="@Model.Descripcion" />
        <input type="hidden" class="DescripcionMarca" value="@Model.DescripcionMarca" />
        <input type="hidden" class="posicionEstrategia" value="@Model.Orden" />
        <div class="texto_adelanto_intriga">MIRA EL ADELANTO...</div>
        <div class="set_silueta_intriga">
            <img src="@Url.Content("~/Content/Images/showroom/intriga1.png")" />
            <div class="linea_separadora_intriga"></div>
        </div>
        <div class="set_visible_intriga">
            <div class="content_set_imagen_intriga">
            @if (Model.ImagenProducto != "")
            {
                <img class="set_img" src="@Model.ImagenProducto">
            }
            else
            {
                <img class="set_img" src="@Url.Content("~/Content/Images/showroom/no_disponible.png")" />
            }                
            </div>
            
            <div class="linea_separadora_intriga"></div>
            <div class="nombre_set_showroom">@Model.Descripcion</div>
            <div class="precio_showroom_intriga">
                <span class="precio_oferta_showroom">@Model.Simbolo @Model.FormatoPrecioValorizado </span>@Model.Simbolo @Model.FormatoPrecioOferta
            </div>
            <div class="liquidacion_rango_home" data-cantidad-contenedor="">
                <input type="text" value="1" size="2" maxlength="2" class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" data-input="cantidad" data-cantidad-input="-">
                <div class="liquidacion_rango_right_pedido">
                    <a class="mas" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)" data-cantidad-agregar="+"><img src="/Content/Images/Esika/mas.png" alt=""></a>
                    <a class="menos" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)" data-cantidad-agregar="-"><img src="/Content/Images/Esika/menos.png" alt=""></a>
                </div>
            </div>
            <a class="boton_Agregalo_home" style="width:61%;border:1px solid black;" onclick="AgregarOfertaShowRoom()">
                AGRÉGALO
            </a>
            <div class="agregado product-add" style="text-align:right; padding-top:10px; padding-right: 10px; display: @Model.Agregado;">
                AGREGADO
                <div class="icono"></div>
            </div>
        </div>
        <div class="set_silueta_intriga">
            <img src="@Url.Content("~/Content/Images/showroom/intriga2.png")" />
            <div class="linea_separadora_intriga"></div>
        </div>

    </div>
    <div class="content_confirmacion_correo" id="divIntrigaProgramarAviso" style="display: none;" >
        <div id="divIntrigaProgramarAvisoDatos">
            <div class="titulo_confirmacion">¡NO TE QUEDES FUERA!</div>
            <div class="texto_confirmacion">Confirma tu correo <br />y entérate primero</div>
            <div class="correo_showroon"><input type="text" value="@Model.EMail" id="txtIntrigaEmail"></div>
            <div class="correo_showroon icono_celular"><input type="text" value="@Model.Celular" id="txtIntrigaCelular" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);"></div>
            <div class="termino_condiciones_intriga" style="display:inline-block; width:auto">Estoy de acuerdo con los </div>

            <a onclick="click_terminos_y_condiciones_form_intriga()" href="@Model.UrlTerminosCondiciones" target="_blank" style="text-decoration:underline; display: inline-block;">términos y condiciones.</a>         
            <a class="btn_enviar_correo_intriga" id="btnIntrigaConfirmarCorreo">CONFIRMA TU CORREO</a>
        </div>
        <div id="divIntrigaEmailRespuestaOk">
            <div class="titulo_confirmacion" style="margin-top:25px;margin-bottom: 30px;">¡ahora serás la primera en enterarte!</div>
            <div class="texto_confirmacion">Mantente atenta, te notificaremos a:<b data-email-registrado="">@Model.EMail</b></div>
            <a class="link_cambiar_correo" data-email-cambiar="">CAMBIAR CORREO</a>
        </div>       
        <div style="text-align:center;" id="divIntrigaEmailRespuestaConfirmar">
            <img src="@Url.Content("~/Content/Images/showroom/notificacion.png")" />
            <div class="titulo_confirmacion" style="margin-bottom: 20px;">AHORA SÓLO DEBES CONFIRMAR TU CORREO</div>
            <div class="texto_confirmacion">Te hemos enviado un correo a:<b data-email-registrado="">@Model.EMail</b>Entra a tu cuenta para confirmarlo</div>
            <a class="link_cambiar_correo" data-email-reenviar="">ENVIAR NUEVAMENTE</a> &nbsp; &nbsp; &nbsp; &nbsp;  
            <a class="link_cambiar_correo" data-email-cambiar="">CAMBIAR CORREO</a>
        </div>
    </div>
    <hr class="clear" />
    <div class="texto_final_intriga">¿Tienes dudas sobre la Venta Exclusiva Web?.
        <a href="@Model.UrlTerminosCondiciones" style="display:inline-block">Resuélvelas aquí.</a>
    </div>
</div>

<div id="DialogMensajesBanner" style="display: none;">
    <div class="message_text">
        Ocurrió un error en la comunicación o la sesión ha expirado. Por favor vuelva a autenticarse.
    </div>
</div>

<div id="divMensajeProductoAgregado" class="divAgregarShowRoom" style="display: none;">
    <div class="titulo_producto_agregado">
        ¡Has agregado <span id="spnNombreOfertaShowRoom">Hola</span> a tu pedido!
    </div>
    <div class="div_bonotes_producto">
        <div class="child_center_botones">
            <a class="volver_set" id="btnCerrarSet">VOLVER A SETS</a>
            <a class="volver_set2" href="@Url.Action("Index", "Pedido")" id="btnIrMipedido">VER MI PEDIDO</a>
        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">
        var emailOriginal = $.trim('@Model.EMail').toLowerCase();
        var emailActivo = $.trim('@Model.EMailActivo');
        var origenPedidoWeb = '@Constantes.OrigenPedidoWeb.ShowRoomDesktopLandingIntriga';

        var celularOriginal = $.trim('@Model.Celular').toLowerCase();
        var suscrito = $.trim('@Model.Suscripcion');

        $(document).ready(function () {
            $('.ubicacion_web').find('span').eq(0).hide();
            $('.ubicacion_web').find('span').eq(1).hide();

            $('#DialogMensajesBanner').dialog({
                autoOpen: false,
                resizable: false,
                modal: true,
                closeOnEscape: true,
                width: 400,
                draggable: true,
                title: ":: Mensaje ::",
                buttons:
                {
                    "Aceptar": function () {
                        $(this).dialog('close');
                    }
                }
            });

            $('#divMensajeProductoAgregado').dialog({
                autoOpen: false,
                resizable: false,
                modal: true,
                closeOnEscape: true,
                width: 456,
                draggable: true,
            });
        });

        function AgregarOfertaShowRoom() {
            var article = $('.content_set_intriga');
            var cantidad = $(article).find('[data-input="cantidad"]').val();
            var listatipo = "0";

            var CUV = $(article).find(".valorCuv").val();
            var MarcaID = $(article).find(".claseMarcaID").val();
            var PrecioUnidad = $(article).find(".clasePrecioUnidad").val();
            var ConfiguracionOfertaID = $(article).find(".claseConfiguracionOfertaID").val();
            var nombreProducto = $(article).find(".DescripcionProd").val();
            var posicion = $(article).find(".posicionEstrategia").val();
            var descripcionMarca = $(article).find(".DescripcionMarca").val();

            if (cantidad == "" || cantidad == 0) {
                AbrirMensaje("La cantidad ingresada debe ser mayor que 0, verifique.");
            } else {
                waitingDialog({});
                $.ajaxSetup({
                    cache: false
                });
                
                var Item = {
                    MarcaID: MarcaID,
                    Cantidad: cantidad,
                    PrecioUnidad: PrecioUnidad,
                    CUV: CUV,
                    ConfiguracionOfertaID: ConfiguracionOfertaID,
                    OrigenPedidoWeb: origenPedidoWeb
                };

                $.ajaxSetup({ cache: false });
                
                jQuery.ajax({
                    type: 'POST',
                    url: baseUrl + 'ShowRoom/InsertOfertaWebPortal',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(Item),
                    async: true,
                    success: function (response) {
                        closeWaitingDialog();

                        if (response.success == true) {
                            AgregarTagManagerProductoAgregadoSW(CUV, nombreProducto, PrecioUnidad, cantidad, descripcionMarca, listatipo);
                            CargarResumenCampaniaHeader(true);
                            TrackingJetloreAdd(cantidad, $("#hdCampaniaCodigo").val(), CUV);

                            $('.agregado.product-add').show();
                            $(".liquidacion_rango_cantidad_pedido.ValidaNumeral.ValidaPasteNumeral").val("1");
                        }
                        else messageInfoError(response.message);
                    },
                    error: function (response, error) {
                        if (checkTimeout(response)) {
                            closeWaitingDialog();
                        }
                    }
                });
            }
        }

        function AgregarTagManagerProductoAgregadoSW(CUV, nombreProducto, PrecioUnidad, cantidad, descripcionMarca, tipo) {
            var lista = tipo == 0 ? "Ofertas Showroom" : "Ofertas Showroom popUp";
            dataLayer.push({
                'event': 'addToCart',
                'ecommerce': {
                    'add': {
                        'actionField': { 'list': lista },
                        'products': [{
                            'name': nombreProducto,
                            'id': CUV,
                            'price': PrecioUnidad.toString(),
                            'brand': descripcionMarca,
                            'variant': 'Ofertas Showroom',
                            'category': 'NO DISPONIBLE',
                            'quantity': cantidad.toString()
                        }]
                    }
                }
            });
        }

    </script>

<script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/ShowRoom/Intriga.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/EstrategiaAgregar/EstrategiaAgregar.js")"></script>
}
