
@using Newtonsoft.Json
@using Portal.Consultoras.Common
@using System.Linq;
@model Portal.Consultoras.Web.Models.ShowRoomEventoModel
@{
    ViewBag.Title = "ShowRoom";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section styles{

    <link href="@Url.Content("~/Content/Css/Site/ion.rangeSlider/normalize.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Css/Site/ion.rangeSlider/ion.rangeSlider.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Css/Site/ion.rangeSlider/ion.rangeSlider.skinHTML5.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Css/Site/slick-pedido.css")" rel="stylesheet" />
}

<input type="hidden" id="hdListaProductosEnShowRoom" value="@JsonConvert.SerializeObject(Model.ListaShowRoomOferta)" />
<input type="hidden" id="hdTotalProductos" value="@Model.ListaShowRoomOferta.Count" />
<div class="catalogoPersonalizadoBloque">
    <div class="content_belcorp">
        <div class="content-left-item content_new_showroom">
            <div style="float:left;">
                <div id="divCantProductos" class="cantidad_productos_resultado">
                    Mostrando <span id="spnCantidadFiltro">0</span> de <span id="spnCantidadTotal">0 productos</span>
                </div>
            </div>
            <div style="float:right;">
                @if (Model.TieneCategoria)
                {
                    <div class="content_filtro_categoria" id="filtro_categoria" style="cursor: pointer; min-width: 260px;">
                        FILTRAR POR CATEGORÍA
                        <div class="content_detalle_filtro" id="detalle_filtro_categoria" style="display: none;">
                            @if (Model.ListaCategoria != null && Model.ListaCategoria.Count > 0)
                            {
                                <div id="div-filter-category">
                                    @foreach (var itemCategoria in Model.ListaCategoria)
                                    {
                                        if (!string.IsNullOrEmpty(itemCategoria.Descripcion))
                                        {
                                            <div data-filtro-categoria="" class="seleccion_filtro_fav" data-categoriacodigo="@itemCategoria.Codigo">@itemCategoria.Descripcion</div>
                                            <input type="hidden" id="hdatacategoriadescripcion" value="@itemCategoria.Descripcion" />
                                        }
                                    }
                                </div>
                            }
                        </div>
                    </div>
                }

                <div class="content_filtro_categoria" style="cursor: pointer; min-width:350px;">
                    <div id="filtro_precio" class="txt_filtrar_por_precio">
                        FILTRAR POR PRECIO
                    </div>
                    <div class="content_detalle_filtro" id="detalle_filtro_precio">
                        <div class="content_filtro_range_showroom">
                            <input class="range-slider" type="text" value="" />
                        </div>
                    </div>
                </div>

                @if (Model.FiltersBySorting != null)
                {
                    <div class="filtros_derecha_SHOWROOM">
                        <select id="filter-sorting" class="select_filtros_fav" style="min-width:220px; margin-left:0; height:33px; border:0;box-shadow:inset 0 0 0 1px #b8b8b8">
                            <option value="00">ORDENAR POR</option>
                            @foreach (var item in Model.FiltersBySorting)
                            {
                                <option value="@item.Codigo">@item.Descripcion</option>
                            }
                        </select>
                    </div>
                }

            </div>

            <hr class="clear" />
            <div id="divProductosShowRoom"></div>
        </div>

    </div>

    <div class="popup_banner_especial" id="PopupBannerEspecial"> </div>

    <hr class="clear" />
    @if (Model.TieneSubCampania)
    {
        var listaSubCampania = Model.ListaShowRoomOferta.Where(p => p.EsSubCampania).OrderBy(p => p.Orden).ToList();

        if (listaSubCampania != null && listaSubCampania.Count > 0)
        {
            var precioOferta = listaSubCampania[0].FormatoPrecioOferta;
            var descripcion = listaSubCampania[0].Descripcion;
            if (descripcion != null && descripcion.Length > 41)
            {
                descripcion = descripcion.Substring(0, 40) + " ...";
            }

            <div class="banner_especial_showroom" style="background: @Model.ColorFondoContenidoOfertaSubCampania;display:none">
                <div class="promocion_especial_header">
                    <div class="titulo_promocion_showroom" style="background: url(@Model.ImagenFondoTituloOfertaSubCampania) no-repeat right top">
                        <div class="content_titulo" style="color: @Model.ColorTextoInicialOfertaSubCampania">
                            @Model.TextoInicialOfertaSubCampania
                            <span class="titulo_banner_showroom" style="color: @Model.ColorTextoTituloOfertaSubCampania">@Model.TextoTituloOfertaSubCampania</span>
                        </div>
                    </div>
                    <div class="content_set_especial_header" id="content_set_especial_header">
                        <div class="content_imagen_promocion">
                            <img src="@listaSubCampania[0].ImagenMini">
                        </div>
                        <div class="content_set_precio_especial">
                            <span style="font-size: 12px;">@descripcion</span>
                            <br />
                            A SÓLO <span class="precio_set_especial">@Model.Simbolo @precioOferta</span>
                        </div>
                        <div style="float:right; right: 0;">
                            <a href="#" class="btn_descubre_set_especial" id="VerOfertaEspecial"><span>@Model.TextoBotonVerMasOfertaSubCampania</span></a>
                        </div>
                    </div>
                    <a href="#" class="btn_descubre_set_especial info_desplegable" id="BajarOfertaEspecial"></a>

                </div>
                <style>
                    
                </style>
                <div class="content_set_oferta_especial">
                    <div class="content_carrusel_oferta_especial" id="contenedor-showroom-subcampanias"></div>
                </div>
            </div>
        }
    }
    else
    {
        if (Model.TieneCompraXcompra)
        {
            if (Model.ListaShowRoomCompraPorCompra != null && Model.ListaShowRoomCompraPorCompra.Count > 0)
            {
                var descripcion = Model.ListaShowRoomCompraPorCompra[0].Descripcion;
                if (descripcion != null && descripcion.Length > 41)
                {
                    descripcion = descripcion.Substring(0, 40) + " ...";
                }

                <div class="content_banner_compra" id="divBannerCompraPorCompra" style="display: none;" data-cuv="@Model.ListaShowRoomCompraPorCompra[0].CUV" data-descripcion="@Model.ListaShowRoomCompraPorCompra[0].Descripcion">
                    <div class="titulo_promocion">PROMOCIÓN</div>
                    @{
                        var _descripcion = Model.ListaShowRoomCompraPorCompra[0].Descripcion;
                        if (_descripcion != null && _descripcion.Length > 41)
                        {
                            _descripcion = _descripcion.Substring(0, 40) + " ...";
                        }
                        _descripcion = "Showroom - " + _descripcion + " A SÓLO " + Model.ListaShowRoomCompraPorCompra[0].Simbolo + " " + Model.ListaShowRoomCompraPorCompra[0].FormatoPrecioOferta;
                    }
                    <div class="content_interno_banner" onclick="compraxcompra_promotion_click('@Model.ListaShowRoomCompraPorCompra[0].CUV','@_descripcion')">
                        <div style="width: 65%; margin: 0 auto;">
                            <div class="content_imagen_banner_compra">
                                <img src="@Model.ListaShowRoomCompraPorCompra[0].ImagenProducto">
                            </div>
                            <div class="content_oferta">
                                <b class="content_oferta_promocion">
                                    @descripcion<span class="solo_inferior">

                                        A SÓLO @Model.ListaShowRoomCompraPorCompra[0].Simbolo @Model.ListaShowRoomCompraPorCompra[0].FormatoPrecioOferta
                                    </span>
                                </b>
                                @Model.TextoCondicionCompraCpc
                            </div>
                            <a class="btn_ver_detalle_compra" id="btnVerDetalleCompraPorCompra">DESCÚBRELO AQUÍ</a>
                            <hr class="clear" />
                        </div>

                    </div>
                </div>
            }
        }
    }

</div>

@if (Model.TieneCompraXcompra)
{
    if (Model.ListaShowRoomCompraPorCompra != null && Model.ListaShowRoomCompraPorCompra.Count > 0)
    {
        <div id="PopDetalleCompra" class="Content_general_pop_up" style="display: none;" data-popup-main>
            <div class="content_ficha_producto_nueva" style="width: 750px;" data-popup-body>
                <a class="cerrar_fichaProducto" href="javascript:;" onclick=" javascript: $('#PopDetalleCompra').fadeOut(); ">
                    <img src="/Content/Images/cerrar_04_blanco.png" alt=" alternate text">
                </a>

                <div style="margin: -43px -51px 0px -51px">
                    <div class="content_titulo_pop">
                        <div class="precio_set_compra" style="letter-spacing: 1px; padding-top: 28px; color: white; font-size: 15px; margin-left: 50px; margin-right: 50px; text-transform: uppercase;">@Model.TextoCondicionCompraCpc</div>
                        <div class="titulo_compra_POP" style="letter-spacing: 4.6px; height: 65px; margin-top: -10px;">PROMOCIÓN</div>
                    </div>
                </div>

                <div class="content_carrusel_pop_compra">
                    @{ var posicionCpc = 1; }
                    @foreach (var item in Model.ListaShowRoomCompraPorCompra)
                    {
                        <div data-posicion="@posicionCpc" data-item="@item.OfertaShowRoomID">
                            <div data-campos="">
                                <input type="hidden" class="hdOfertaShowRoomID" value="@item.OfertaShowRoomID" />
                                <input type="hidden" class="valorCuv" value="@item.CUV" />
                                <input type="hidden" class="claseMarcaID" value="@item.MarcaID" />
                                <input type="hidden" class="clasePrecioUnidad" value="@item.PrecioOferta" />
                                <input type="hidden" class="DescripcionProd" value="@item.Descripcion" />
                                <input type="hidden" class="DescripcionMarca" value="@item.DescripcionMarca" />
                                <input type="hidden" class="posicionEstrategia" value="@posicionCpc" />
                            </div>

                            <div class="content_imagen_compra" data-img="">
                                @if (item.ImagenProducto != "")
                                {
                                    <img data-src="@item.ImagenProducto" class="imagen_producto" data-img-lazy="1" />
                                }
                                else
                                {
                                    <img data-src="@Url.Content("~/Content/Images/showroom/no_disponible.png")" style="width: auto; height: 100%;" class="imagen_producto" data-img-lazy="1" />
                                }
                            </div>

                            <div class="content_datos_carrusel">
                                <div class="titulo_pop_compra">@item.Descripcion</div>
                                <div class="precio_set_compra" style="text-align:left"><b>A SÓLO @item.Simbolo @item.FormatoPrecioOferta</b></div>
                                <div class="descripcion_producto_compra" style="font-weight:400;">Valorizado en @item.Simbolo @item.FormatoPrecioValorizado</div>
                                <div class="producto_compra">@item.DescripcionLegal</div>

                                <div class="liquidacion_rango_home" data-cantidad-contenedor="">
                                    <input type="text" value="1" min="1" max="99" size="2" maxlength="2"
                                           class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral"
                                           oninput="FuncionesGenerales.MaxLengthCheck(this, 2)" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);"
                                           data-input="cantidad" data-cantidad-input="-">
                                    <div class="liquidacion_rango_right_pedido">
                                        <a class="mas" data-cantidad-agregar="+" href="javascript:;"><img src="/Content/Images/Esika/mas.png" alt=""></a>
                                        <a class="menos" data-cantidad-agregar="-" href="javascript:;"><img src="/Content/Images/Esika/menos.png" alt=""></a>
                                    </div>
                                </div>
                                <a data-btn-agregar-cpc="" class="boton_Agregalo_home btn_aregar_set" onclick="" style="width: 70%;">
                                    AGRÉGALO
                                </a>
                                <hr class="clear" />
                            </div>
                            <hr class="clear" />
                        </div>
                        {
                            posicionCpc++;
                        }
                    }
                </div>
                <div class="legal_footer_compra">@Model.TextoDescripcionLegalCpc</div>
            </div>
        </div>
    }
}

<div id="divMensajeProductoAgregado" class="divAgregarShowRoom" style="display: none;">
    <div class="titulo_producto_agregado">
        ¡Has agregado <span id="spnNombreOfertaShowRoom">Hola</span> a tu pedido!
    </div>
    <div class="div_bonotes_producto">
        <div class="child_center_botones">
            <a class="volver_set" id="btnCerrarSet">VOLVER A SETS</a>
            <a class="volver_set2" href="@Url.Action("Index", "Pedido")" id="btnIrMipedido">VER MI PEDIDO</a>
        </div>
    </div>
</div>

<div id="DialogMensajesBanner" style="display: none;">
    <div class="message_text">
        Ocurrió un error en la comunicación o la sesión ha expirado. Por favor vuelva a autenticarse.
    </div>
</div>

<div id="loadingScreen"></div>

<script id="template-showroom-subcampania" type="text/x-handlebars-template">
    {{#each this as |producto|}}

    <div data-posicion="{{Posicion}}" data-item="{{OfertaShowRoomID}}">
        <div data-campos="">
            <input type="hidden" class="hdOfertaShowRoomID" value="{{OfertaShowRoomID}}" />
            <input type="hidden" class="valorCuv" value="{{CUV}}" />
            <input type="hidden" class="claseMarcaID" value="{{MarcaID}}" />
            <input type="hidden" class="clasePrecioUnidad" value="{{PrecioOferta}}" />
            <input type="hidden" class="claseConfiguracionOfertaID" value="{{ConfiguracionOfertaID}}" />
            <input type="hidden" class="DescripcionProd" value="{{Descripcion}}" />
            <input type="hidden" class="DescripcionMarca" value="{{DescripcionMarca}}" />
            <input type="hidden" class="posicionEstrategia" value="{{Posicion}}" />
        </div>
        <div class="content_item_carrusel">
            <div class="producto_img_home" data-img="">
                <img src="{{producto.ImagenProducto}}" class="imagen_producto" data-img-lazy="1" />
            </div>
            <div class="content_info_set_especial">
                <div class="titulo_set_especial">{{producto.Descripcion}}</div>
                <div class="descripcion_set_especial">

                    {{#each producto.ListaDetalleOfertaShowRoom as |detalle|}}
                    {{detalle.NombreProducto}} <br />
                    {{/each}}
                </div>
                <div class="precio_set_especial_showroom">VALORIZADO EN {{SimboloMoneda}} {{producto.FormatoPrecioValorizado}}</div>
                <div class="precio_set_especial_showroom" style="margin-top: -3px;"> A SOLO <span class="precio_real_set">{{SimboloMoneda}} {{producto.FormatoPrecioOferta}}</span></div>
            </div>
            <div class="producto_nombre_descripcion" style="padding-bottom: 15px">
                <div class="liquidacion_rango_home js-no-popup">
                    <input type="text" value="1" min="1" max="99" size="2" maxlength="2" id="txtCantidad"
                           class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral"
                           oninput="FuncionesGenerales.MaxLengthCheck(this, 2)" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);"
                           data-input="cantidad" data-cantidad-input="-">
                    <div class="liquidacion_rango_right_pedido js-no-popup">
                        <a class="mas js-no-popup" tabindex="0"><img class="js-no-popup" src="/Content/Images/Esika/mas.png" alt=""></a>
                        <a class="menos js-no-popup" tabindex="0"><img class="js-no-popup" src="/Content/Images/Esika/menos.png" alt=""></a>
                    </div>
                </div>
                <a class="boton_Agregalo_home js-no-popup" data-btn-agregar-sr="">
                    AGRÉGALO
                </a>
            </div>

        </div>
    </div>

    {{/each}}

</script>

<script id="template-showroom" type="text/x-handlebars-template">
    {{#each this as |item|}}
    <div class="set-productos-showroom" data-posicion="{{Posicion}}" data-item="{{OfertaShowRoomID}}">
        <div data-campos="">
            <input type="hidden" class="hdOfertaShowRoomID" value="{{OfertaShowRoomID}}" />
            <input type="hidden" class="valorCuv" value="{{CUV}}" />
            <input type="hidden" class="claseMarcaID" value="{{MarcaID}}" />
            <input type="hidden" class="clasePrecioUnidad" value="{{PrecioOferta}}" />
            <input type="hidden" class="claseConfiguracionOfertaID" value="{{ConfiguracionOfertaID}}" />
            <input type="hidden" class="DescripcionProd" value="{{Descripcion}}" />
            <input type="hidden" class="DescripcionMarca" value="{{DescripcionMarca}}" />
            <input type="hidden" class="posicionEstrategia" value="{{Posicion}}" />
        </div>

        <div class="producto_img_home mini" data-img="" onclick="click_producto_showroow('{{Descripcion}}','{{CUV}}','{{PrecioOferta}}','{{DescripcionMarca}}','{{Posicion}}')">
            {{#IsNullOrEmpty ImagenProducto '=='}}
            <img data-src="@Url.Content("~/Content/Images/showroom/no_disponible.png")" style="width: auto; height: 100%;" class="imagen_producto" data-lazy-seccion-showroom="" />
            {{else}}
            <img data-src="{{ImagenProducto}}" alt="" style="width: auto; height: 100%;" class="imagen_producto" data-lazy-seccion-showroom="" />
            {{/IsNullOrEmpty}}

        </div>
        <div class="producto_nombre_descripcion">
            <p class="nombre-producto-set">{{Descripcion}}</p>
            <div class="producto_precio" style="margin-bottom: 3px;">
                <span class="precio-oferta-normal">{{SimboloMoneda}} {{FormatoPrecioValorizado}}</span>
                <span class="precio-oferta-venta"><b>{{SimboloMoneda}} {{FormatoPrecioOferta}}</b></span>
            </div>
            {{#iff TipoAccionAgregar '==' '2'}}
            <div class="liquidacion_rango_home" data-cantidad-contenedor="">
                <input type="text" value="1" min="1" max="99" size="2" maxlength="2"
                       class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral"
                       oninput="FuncionesGenerales.MaxLengthCheck(this, 2)" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event); "
                       data-input="cantidad" data-cantidad-input="-">
                <div class="liquidacion_rango_right_pedido">
                    <a class="mas" data-cantidad-agregar="+" href="javascript:;"><img src="/Content/Images/Esika/mas.png" alt=""></a>
                    <a class="menos" data-cantidad-agregar="-" href="javascript:;"><img src="/Content/Images/Esika/menos.png" alt=""></a>
                </div>
            </div>
            <a class="boton_Agregalo_home" data-btn-agregar-sr="">
                AGRÉGALO
            </a>
            {{/iff}}
            {{#iff TipoAccionAgregar '==' '3'}}
            <a class="btn_elige_tono" href="{{UrlDetalle}}">
                <b style="color:#000000">ELIGE TU OPCIÓN</b>
            </a>
            {{/iff}}

            <div class="clear"></div>
            <div style="padding-top: 9px;margin-bottom:6px; height: 15px;">
                <div class="agregado product-add" style="text-align: right; display: {{Agregado}};">
                    AGREGADO
                    <div class="icono"></div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    <hr class="clear" />
</script>

@section scripts{

    <script type="text/javascript">
        var urlLoad = '@Url.Content("~/Content/Images/Loading.gif")';
        var tipoOrigenPantalla = 1;
        var urlTerminosCondiciones = '@Model.UrlTerminosCondiciones';
        var precioMin = '@ViewBag.PrecioMin';
        var precioMax = '@ViewBag.PrecioMax';
        var urlDetalleShowRoom = '@Url.Action("DetalleOferta", "ShowRoom")';
        var closeBannerCompraPorCompra = '@ViewBag.CloseBannerCompraPorCompra';
        var origenPedidoWeb = '@Constantes.OrigenPedidoWeb.DesktopShowRoomLandingCompra';
        var origenPedidoWebTactica = '@Constantes.OrigenPedidoWeb.DesktopShowRoomLandingCompraTactica';
        var origenPedidoWebCarrusel = -1;
        var iconoLluvia = '@ViewBag.IconoLLuvia';
        var origenPedidoWebSubCampania = '@Constantes.OrigenPedidoWeb.DesktopShowRoomSubCampanias';
        var tieneCompraXCompra = '@Model.TieneCompraXcompra';
        var itemsCompraXCompra = '@(Model.ListaShowRoomCompraPorCompra != null ? Model.ListaShowRoomCompraPorCompra.Count : 0)';
        var tieneSubCampania = '@Model.TieneSubCampania';
        var itemsSubCampania = @Model.ListaShowRoomOferta.Where(p => p.EsSubCampania).OrderBy(p => p.Orden).ToList().Count;

    </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/nieve.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ion.rangeSlider/ion.rangeSlider.js")"></script>
    @System.Web.Optimization.Scripts.Render("~/Scripts/PortalConsultoras/ShowRoom/ShowRoomJs")

}