@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Areas.Mobile.Models

@model PedidoDetalleMobileModel

@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <ol class="breadcrumb-next upper">
            <li><a href="@Request.UrlReferrer"><i class="icon-angle-left"></i> VOLVER </a></li>
            <li>|</li>
            <li>MI PEDIDO</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="margin-bottom: 0px; margin-top: 0px;">
            <div class="panel panel-line">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title upper">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" onclick="return MostrarOcultarResumenPedido();">
                            Mi pedido <span>@Model.DescripcionCampaniaActual </span>
                            <span class="pull-right"><i class="icon-angle-down" id="iconCollpase"></i></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body posr">
                        Productos: <strong><span id="spnCantidadProductos">@Model.CantidadProductos</span></strong><br />
                        Monto Total: <strong>@Model.Simbolo <span id="spnDescripcionTotal">@Model.DescripcionTotal</span></strong>
                        @if (Model.CodigoISO == Constantes.CodigosISOPais.Dominicana ||
                                Model.CodigoISO == Constantes.CodigosISOPais.PuertoRico ||
                                Model.CodigoISO == Constantes.CodigosISOPais.Mexico ||
                                Model.CodigoISO == Constantes.CodigosISOPais.Colombia)
                        {
                            <br />
                            <span class="text-success">Total Validando Monto Mínimo: <strong>@Model.Simbolo <span id="spnTotalMontoMinimo">@Model.DescripcionTotalMinimo</span></strong></span>
                        }

                        <div class="block-center center-min">
                            <a href="javascript:;" onclick="EjecutarPROL();" class="btn btn-line-hover btn-right btn-Ejecutar-PROL">@Model.BotonPROL</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="block-white" id="listadoPedido">
            <div class="text-center">
                <img alt="Cargando..." src="@Url.Content("~/Content/images/Loading.gif")" />
            </div>
        </div>
        <div class="block-white text-center">
            <a href="javascript:;" onclick="EjecutarPROL();" class="btn btn-line-hover btn-Ejecutar-PROL">@Model.BotonPROL</a>
        </div>
    </div>
</div>

<!-- START Popup para Eliminar Item -->
<div class="modal fade" id="popup-eliminar-item">
    <div class="modal-dialog modal-alert ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-close-belcorp"></i></button>
            </div>
            <div class="modal-body">
                <div class="text-lg">
                    ¿Estás segura que quieres eliminar el producto?
                </div>
                <br />
                <div>
                    <a href="javascript:;" onclick="ConfirmaEliminarPedido();" data-dismiss="modal" class="btn btn-line">ACEPTAR</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Popup para Eliminar Item -->
<!-- START Popup para Observaciones PROL -->
<div class="modal fade" id="popup-observaciones-prol">
    <div class="modal-dialog modal-alert ">
        <div class="modal-content">
            <div class="modal-body">
                <h3 id="modal-prol-titulo" class="text-primary text-lg"></h3>
                <div id="modal-prol-contenido"></div>
                <br />
                <div id="modal-prol-botonesAceptarCancelar" style="display: none;">
                    <a href="javascript:;" onclick="AceptarObsInformativas();" class="btn btn-line btn-aceptar">ACEPTAR</a>
                    <a href="javascript:;" onclick="CancelarObsInformativas();" class="btn btn-line btn-aceptar">CANCELAR</a>
                </div>
                <div id="modal-prol-botoneAceptar">
                    <a href="javascript:;" data-dismiss="modal" class="btn btn-line btn-aceptar">ACEPTAR</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Popup para Observaciones PROL -->
<!-- START POPUP PERSONALIZADO 2 SEGUNDOS SE OCULTA -->
<div id="popup-eliminar-mensaje" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-alert ">
        <div class="modal-content">
            <div class="modal-body">
                <div id="mensajeInformacionEliminar" class="text-lg"></div>
            </div>
        </div>
    </div>
</div>
<!-- END POPUP PERSONALIZADO 2 SEGUNDOS SE OCULTA -->

<input id="hdfPROLSinStock" type="hidden" value="0" />
<input id="hdfModificaPedido" type="hidden" value="0" />

@section Scripts{
    <script type="text/javascript">

        var codigoIsoPais = '@Model.CodigoISO';
        var mensajeGuardarCO = '@Model.MensajeGuardarCO';
        var menuNotificaciones = '@ViewBag.MenuNotificaciones';
        var falgValidacionPedido = '@Model.FlagValidacionPedido';
        var ofertaLiquidacion = '@Constantes.ConfiguracionOferta.Liquidacion';
        var ofertaShowRoom = '@Constantes.ConfiguracionOferta.ShowRoom';
        var ofertaAccesorizate = '@Constantes.ConfiguracionOferta.Accesorizate';

        var urlEjecutarServicioPROL = '@Url.Action("EjecutarServicioPROL", "Pedido", new {area = "Mobile"})';
        var urlPedidoValidado = '@Url.Action("Validado", "Pedido", new {area = "Mobile"})';
        var urlHorarioRestringido = '@Url.Action("EnHorarioRestringido", "Pedido", new {area = ""})';
        var urlListadoPedido = '@Url.Action("CargarListaPedido", "Pedido", new {area = "Mobile"})';
        var urlValidarUnidadesPermitidasPedidoProducto = '@Url.Action("ValidarUnidadesPermitidasPedidoProducto", "OfertaLiquidacion", new {area = ""})';
        var urlObtenerStockActualProducto = '@Url.Action("ObtenerStockActualProducto", "OfertaLiquidacion", new {area = ""})';
        var urlPedidoUpdate = '@Url.Action("Update", "Pedido", new {area = ""})';
        var urlValidarUnidadesPermitidasPedidoProducto2 = '@Url.Action("ValidarUnidadesPermitidasPedidoProducto", "Accesorizate", new {area = ""})';
        var urlObtenerStockActualProducto2 = '@Url.Action("ObtenerStockActualProducto", "Accesorizate", new {area = ""})';
        var urlValidarStockEstrategia = '@Url.Action("ValidarStockEstrategia", "Pedido", new {area = ""})';
        var urlPedidoDelete = '@Url.Action("Delete", "Pedido", new {area = ""})';
        var urlInsertarDesglose = '@Url.Action("InsertarDesglose", "Pedido", new {area = ""})';
        var urlDeshacerReservaPedidoReservado = '@Url.Action("DeshacerReservaPedidoReservado", "Pedido", new {area = ""})';
        var urlActualizarCantidadTotalPedido = '@Url.Action("CalcularTotal", "Pedido", new {area = "Mobile"})';
        var urlObtenerMarcaEstrategia = '@Url.Action("ObtenerMarcaEstrategia", "Pedido", new {area = "Mobile"})';

        var urlValidarUnidadesPermitidasPedidoProductoShowRoom = '@Url.Action("ValidarUnidadesPermitidasPedidoProducto", "ShowRoom", new {area = ""})';
        var urlObtenerStockActualProductoShowRoom = '@Url.Action("ObtenerStockActualProducto", "ShowRoom", new {area = ""})';

        var fnEliminarProducto = null;

        $(function() {
            CargarPedido();
        });

        function EjecutarPROL() {
            if (!ReservadoOEnHorarioRestringido(true)) {
                //Se Valida que existan productos
                if ($(".list-table-body li").length > 0) {
                    EjecutarServicioPROL();
                } else {
                    messageInfo('<h3 class="text-primary">No existen productos en su Pedido.</h3>');
                }
            }
        }

        function EjecutarServicioPROL() {
            ShowLoading();

            jQuery.ajax({
                type: 'POST',
                url: urlEjecutarServicioPROL,
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                async: true,
                cache: false,
                success: function(model) {

                    CloseLoading();

                    if (!model.ValidacionInteractiva) {
                        messageInfo('<h3 class="text-primary">' + model.MensajeValidacionInteractiva + '</h3>');
                        return;
                    }

                    if (model.PROLSinStock == true) {
                        $("hdfPROLSinStock").val("1");
                    } else {
                        $("hdfPROLSinStock").val("0");
                    }

                    if (model.EsModificacion == true) {
                        $("hdfModificaPedido").val("1");
                    } else {
                        $("hdfModificaPedido").val("0");
                    }

                    var actionCad = "";
                    var step = 0;
                    var arrayProductoGuardado = new Array();
                    var botonEjecutarPROL = $.trim($('.btn-Ejecutar-PROL:first').text()).toLowerCase();
                    var mensajePedidoCheckout = ConstruirObservacionesPROL(model);

                    if (model.ErrorPROL) {
                        if (botonEjecutarPROL == "guardar pedido") {
                            actionCad = "Guardar";
                        } else if (botonEjecutarPROL == "validar pedido") {
                            actionCad = "Validar";
                        }
                    } else {
                        if (model.ObservacionRestrictiva == false && model.ObservacionInformativa == false) {
                            if (botonEjecutarPROL == "guardar pedido") {
                                actionCad = "Guardar";
                                mensajePedidoCheckout = "Guardado con éxito";
                                step = 1;
                            } else if (botonEjecutarPROL == "validar pedido") {
                                actionCad = "Validado";
                                mensajePedidoCheckout = "Satisfactoriamente";
                                step = 3;
                            }
                        } else {
                            if (botonEjecutarPROL == "guardar pedido") {
                                actionCad = "Guardar";
                                step = 1;
                            } else if (botonEjecutarPROL == "validar pedido") {
                                actionCad = "Validar";
                                step = 2;
                            }
                        }
                    }

                    if (model.ListaProductos.length > 0 && (step == 1 || step == 2 || step == 3)) {

                        $.each(model.ListaProductos, function(index, item) {
                            if (item.DescripcionEstrategia == null || item.DescripcionEstrategia == "") {
                                item.DescripcionEstrategia = "Estándar";
                            }

                            if (item.Categoria == null || item.Categoria == "") {
                                item.Categoria = "Sin Categoría";
                            }

                            arrayProductoGuardado.push(
                                {
                                    name: item.DescripcionProd,
                                    id: item.CUV,
                                    price: item.PrecioUnidad.toString(),
                                    brand: item.DescripcionMarca,
                                    category: item.Categoria,
                                    variant: item.DescripcionEstrategia,
                                    quantity: item.Cantidad
                                });
                        });

                        if (botonEjecutarPROL == "guardar pedido") {
                            if (model.PeriodoAnalisisPedido == "Venta") {
                                dataLayer.push({
                                    'event': 'productCheckout',
                                    'action': 'Guardar',
                                    'label': mensajePedidoCheckout,
                                    'ecommerce': {
                                        'checkout': {
                                            'actionField': { 'step': 1, 'option': mensajePedidoCheckout },
                                            'products': arrayProductoGuardado
                                        }
                                    }
                                });
                            } else {
                                dataLayer.push({
                                    'event': 'productCheckout',
                                    'action': 'Validar',
                                    'label': mensajePedidoCheckout,
                                    'ecommerce': {
                                        'checkout': {
                                            'actionField': { 'step': 2, 'option': mensajePedidoCheckout },
                                            'products': arrayProductoGuardado
                                        }
                                    }
                                });
                            }
                        } else {
                            if (botonEjecutarPROL == "validar pedido") {
                                if (model.PeriodoAnalisisPedido == "Facturacion") {
                                    dataLayer.push({
                                        'event': 'productCheckout',
                                        'action': 'Validar',
                                        'label': mensajePedidoCheckout,
                                        'ecommerce': {
                                            'checkout': {
                                                'actionField': { 'step': 2, 'option': mensajePedidoCheckout },
                                                'products': arrayProductoGuardado
                                            }
                                        }
                                    });
                                }
                            }
                        }
                    }

                    $('.btn-Ejecutar-PROL').text(model.BotonPROL);

                    if (model.Reserva == true) {
                        if (model.ZonaValida == true) {
                            if (model.ObservacionInformativa == false) {
                                if (model.PROLSinStock == true) {
                                    messageInfo('<h3 class="text-primary">Tu pedido se guardó con éxito</h3>');
                                    CargarPedido();
                                } else {
                                    dataLayer.push({
                                        'event': 'productCheckout',
                                        'action': 'Validado',
                                        'ecommerce': {
                                            'checkout': {
                                                'actionField': { 'step': 3 },
                                                'products': arrayProductoGuardado
                                            }
                                        }
                                    });

                                    messageInfo('<h3 class="text-primary">Tu pedido fue validado con éxito</h3><p>Tus productos fueron reservados.</p>');
                                    window.setTimeout(function() {
                                        location.href = urlPedidoValidado;
                                    }, 2000);
                                }
                            } else {
                                $('#modal-prol-botonesAceptarCancelar').show();
                                $('#modal-prol-botoneAceptar').hide();

                                $('#popup-observaciones-prol').modal("show");

                                CargarPedido();
                            }
                        } else {
                            if (model.CodigoISO == "VE" && model.ZonaNuevoProlM) {
                                var mensajeInformacionVE = '<h3 class="text-primary">Tu pedido se guardó con éxito</h3>';
                                mensajeInformacionVE += '<p class="text-small">Te recordamos que el monto mínimo para pasar pedido es de Bs.700.</p>';
                                mensajeInformacionVE += '<p class="text-small">Los productos EXPOFERTAS e IMPERDIBLES CYZONE no suman para el monto mínimo.</p>';
                                messageInfo(mensajeInformacionVE);
                            } else if (model.CodigoISO == "CO" && model.ZonaNuevoProlM) {
                                var mensajeInformacionCO = '<h3 class="text-primary">Tu pedido se guardó con éxito</h3>';
                                mensajeInformacionCO += '<p>' + mensajeGuardarCO + '</p>';
                                messageInfo(mensajeInformacionCO);
                            } else {
                                messageInfo('<h3 class="text-primary">Tu pedido se guardó con éxito</h3>');
                            }
                            CargarPedido();
                        }
                    } else {
                        $('#modal-prol-botonesAceptarCancelar').hide();
                        $('#modal-prol-botoneAceptar').show();
                        $('#popup-observaciones-prol').modal("show");

                        CargarPedido();
                    }
                },
                error: function(data, error) {
                    if (checkTimeout(data)) {
                        CloseLoading();
                        if (data.mensaje != undefined || data.mensaje != null) {
                            messageInfo('<h3 class="text-primary">' + data.mensaje + '</h3>')
                        }
                        else {
                            var mensaje_ = "Por favor, vuelva a intentarlo";
                            messageInfo('<h3 class="text-primary">' + mensaje_ + '</h3>')
                        }
                        console.error(data);
                    }
                }
            });
        }

        function ObtenerPedidoValidado() {
            var detalle = null;
            jQuery.ajax({
                type: 'POST',
                url: urlObtenerPedidoValidado,
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                async: false,
                cache: false,
                success: function(pedidoModelo) {
                    detalle = pedidoModelo.Detalle;
                },
                error: function(data, error) {
                    if (checkTimeout(data)) {
                        console.error(data);
                    }
                }
            });

            return detalle;
        }

        function ConstruirObservacionesPROL(model) {
            var mensajePedido = "";

            if (model.ErrorPROL) {
                mensajePedido += "-1 " + model.ListaObservacionesPROL[0].Descripcion;

                $("#modal-prol-titulo").html("ERROR");
                $("#modal-prol-contenido").html(mensajePedido);

            } else {

                if (model.ObservacionRestrictiva == false && model.ObservacionInformativa == false) {

                    if (model.PROLSinStock) {
                        mensajePedido += "¡Lo lograste! Tu pedido fue guardado con éxito.";

                        $("#modal-prol-titulo").html(mensajePedido);
                        $("#modal-prol-contenido").html("");

                    } else {
                        mensajePedido += "¡Lo lograste! Tu pedido fue guardado con éxito.";

                        $("#modal-prol-titulo").html(mensajePedido);
                        $("#modal-prol-contenido").html("Recuerda, al final de tu campaña valida tu pedido para reservar tus productos.");

                        mensajePedido += " Recuerda, al final de tu campaña valida tu pedido para reservar tus productos.";
                    }

                    mensajePedido = "-1 " + mensajePedido;

                } else {

                    if (model.EsDiaPROL) {
                        $("#modal-prol-titulo").html("IMPORTANTE");
                    } else {
                        $("#modal-prol-titulo").html("AVISO");
                    }

                    var htmlObservacionesPROL = "<ul class='text-left' style='padding-left: 15px;'>";
                    $.each(model.ListaObservacionesPROL, function(index, item) {

                        if (model.CodigoISO == "BO" || model.CodigoISO == "MX") {

                            if (item.Caso == 6 || item.Caso == 8 || item.Caso == 9 || item.Caso == 10) {
                                item.Caso = 105;
                            }
                        }

                        if (item.Caso == 95 || item.Caso == 105) {

                            htmlObservacionesPROL += "<li>" + item.Descripcion + "</li>";
                            mensajePedido += item.Caso + " " + item.Descripcion + " ";
                            return false;

                        } else {

                            if (menuNotificaciones == 0 && item.Caso == 0 && model.ObservacionInformativa) {

                                htmlObservacionesPROL += "<li>" + item.Descripcion + "</li>";
                                mensajePedido += item.Caso + " " + item.Descripcion + " ";

                            } else {

                                htmlObservacionesPROL += "<li>Tu pedido tiene observaciones, por favor revísalo.</li>";
                                mensajePedido += "-1" + " " + "Tu pedido tiene observaciones, por favor revísalo." + " ";
                                return false;
                            }
                        }
                    });
                    htmlObservacionesPROL += "</ul>";

                    $("#modal-prol-contenido").html(htmlObservacionesPROL);
                }
            }

            return mensajePedido;
        }

        function AceptarObsInformativas() {
            ShowLoading();
            jQuery.ajax({
                type: 'POST',
                url: urlInsertarDesglose,
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                async: true,
                success: function(data) {
                    if (checkTimeout(data)) {
                        if (data.success == true) {
                            if ($('#hdfPROLSinStock').val() == 1) {
                                CloseLoading();
                                $('#popup-observaciones-prol').modal('hide');
                                messageInfo('<h3 class="text-primary">Tu pedido se guardó con éxito</h3>');
                                CargarPedido();
                            } else
                                location.href = urlPedidoValidado;
                        } else {
                            CloseLoading();
                            messageInfo(data.message);
                        }
                    }
                },
                error: function(data, error) {
                    if (checkTimeout(data)) {
                        CloseLoading();
                        messageInfo("Ocurrió un error al ejecutar la acción. Por favor inténtelo de nuevo.");
                    }
                }
            });
        }

        function CancelarObsInformativas() {
            if ($('#hdfModificaPedido').val() != 1) {
                ShowLoading();
                jQuery.ajax({
                    type: 'POST',
                    url: urlDeshacerReservaPedidoReservado + '?Tipo=PI',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    async: true,
                    success: function(data) {
                        if (checkTimeout(data)) {
                            if (data.success == true) {
                                $('#popup-observaciones-prol').modal('hide');
                                CloseLoading();
                            } else {
                                CloseLoading();
                                messageInfo(data.message);
                            }
                        }
                    },
                    error: function(data, error) {
                        if (checkTimeout(data)) {
                            CloseLoading();
                            messageInfo("Ocurrió un error al ejecutar la acción. Por favor inténtelo de nuevo.");
                        }
                    }
                });
            } else {
                $('#popup-observaciones-prol').modal('hide');
            }
        }

        function HorarioRestringido(mostrarAlerta) {
            mostrarAlerta = typeof mostrarAlerta !== 'undefined' ? mostrarAlerta : true;

            var horarioRestringido = false;
            jQuery.ajax({
                type: 'GET',
                url: urlHorarioRestringido,
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                async: false,
                cache: false,
                success: function(response) {
                    if (checkTimeout(response)) {
                        // SI esta en horario restringido
                        if (response.success == true) {
                            if (mostrarAlerta == true)
                                window.messageInfo(response.message);
                            horarioRestringido = true;
                        }
                    }
                },
                error: function(response, error) {
                    if (checkTimeout(response)) {
                        console.error(response);
                    }
                }
            });
            return horarioRestringido;
        }

        function CargarPedido() {
            $('#listadoPedido').load(urlListadoPedido);
        }


        ////////

        function ReservadoOEnHorarioRestringido(mostrarAlerta) {
            mostrarAlerta = typeof mostrarAlerta !== 'undefined' ? mostrarAlerta : true;
            var restringido = true;

            $.ajaxSetup({ cache: false });
            jQuery.ajax({
                type: 'GET',
                url: '@Url.Action("ReservadoOEnHorarioRestringido", "Pedido", new { area = "" })',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                async: false,
                success: function (data) {
                   
                    if (checkTimeout(data)) {
                        if (data.success == false)
                            restringido = false;
                        else {

                            if (data.pedidoReservado) {
                                var fnRedireccionar = function () {
                                    ShowLoading();
                                    location.href = '@Url.Action("Validado", "Pedido", new { area = "Mobile" })';
                                }
                                if (mostrarAlerta == true) {
                                    CloseLoading();
                                    alert_msg(data.message, fnRedireccionar);
                                }

                                else fnRedireccionar();

                            }
                            else if (mostrarAlerta == true) alert_msg(data.message);
                        }
                    }
                },
                error: function (error) {
                    console.log(error);
                    alert_msg('Ocurrió un error al intentar validar el horario restringido o si el pedido está reservado. Por favor inténtelo en unos minutos.');
                }
            });
            return restringido;
        }

        function alert_msg(message, fnClose) {
            messageInfoValidado('<h3 class="text-primary">' + message + '</h3>', fnClose);

        }

        ////////

        function UpdateLiquidacion(CampaniaID, PedidoID, PedidoDetalleID, TipoOfertaSisID, CUV, FlagValidacion, CantidadModi) {
           
            /////
            if (ReservadoOEnHorarioRestringido())
                return;
            //////


            var cantidadActual = parseInt($('#Cantidad_' + PedidoDetalleID).val());
            var cantidadAnterior = parseInt($('#CantidadTemporal_' + PedidoDetalleID).val());
            if (cantidadActual != cantidadAnterior) {
                if (HorarioRestringido())
                    return;

                if (TipoOfertaSisID == ofertaLiquidacion) {

                    var PROL = falgValidacionPedido;

                    $.ajaxSetup({ cache: false });

                    var CliID = $('#ClienteID_' + PedidoDetalleID).val();
                    var CliDes = $('#ClienteNombre_' + PedidoDetalleID).val();
                    var Cantidad = $('#Cantidad_' + PedidoDetalleID).val();
                    var CantidadAnti = $('#CantidadTemporal_' + PedidoDetalleID).val();
                    var DesProd = $('#DescripcionProducto_' + PedidoDetalleID).html();
                    var Flag = 0;
                    var StockNuevo = 0;

                    if (parseInt(CantidadAnti) > parseInt(Cantidad)) {
                        Flag = 1;
                        StockNuevo = parseInt(CantidadAnti) - parseInt(Cantidad);
                    } else if (parseInt(Cantidad) > parseInt(CantidadAnti)) {
                        Flag = 2;
                        StockNuevo = parseInt(Cantidad) - parseInt(CantidadAnti);
                    }
                    if (FlagValidacion == "1") {
                        if (CantidadAnti == Cantidad)
                            return false;
                    }

                    if (Cantidad.length == 0) {
                        messageInfo('Por favor ingrese una cantidad válida.');
                        $('#Cantidad_' + PedidoDetalleID).val(cantidadAnterior);
                        return;
                    }

                    if (Cantidad == 0) {
                        messageInfo('Por favor ingrese una cantidad mayor a cero.');
                        $('#Cantidad_' + PedidoDetalleID).val(cantidadAnterior);
                        return;
                    }

                    var PrecioUnidad = $('#PrecioUnidad_' + PedidoDetalleID).val();

                    if (CliDes.length == 0) {
                        CliID = 0;
                    }

                    $.getJSON(urlValidarUnidadesPermitidasPedidoProducto, { CUV: CUV }, function(data) {
                        var Saldo = data.Saldo;
                        var UnidadesPermitidas = data.UnidadesPermitidas;
                        var CantidadPedida = data.CantidadPedida;

                        Cantidad = parseInt(Cantidad) + parseInt(CantidadPedida);

                        if (parseInt(data.UnidadesPermitidas) < parseInt(Cantidad)) {
                            if (PROL == "1") {
                                UpdateConCantidad(CampaniaID, PedidoID, PedidoDetalleID, FlagValidacion, CantidadModi);
                                $('#Cantidad_' + PedidoDetalleID).val(CantidadModi);
                            } else
                                $('#Cantidad_' + PedidoDetalleID).val($('#CantidadTemporal_' + PedidoDetalleID).val());

                            if (Saldo == UnidadesPermitidas)
                                messageInfo("Lamentablemente, la cantidad solicitada sobrepasa las Unidades Permitidas de Venta (" + UnidadesPermitidas + ") del producto " + CUV + ".");
                            else {
                                if (Saldo == "0")
                                    messageInfo("Las Unidades Permitidas de Venta son solo (" + UnidadesPermitidas + "), pero Usted ya no puede adicionar más, debido a que ya agregó este producto (" + CUV + ") a su pedido, verifique.");
                                else
                                    messageInfo("Las Unidades Permitidas de Venta son solo (" + UnidadesPermitidas + "), pero Usted solo puede adicionar (" + Saldo + ") más, debido a que ya agregó este producto (" + CUV + ") a su pedido, verifique.");
                            }
                            return false;
                        } else {
                            $.getJSON(urlObtenerStockActualProducto, { CUV: CUV }, function(data) {
                                var CantidadActual = $('#Cantidad_' + PedidoDetalleID).val();
                                var CantidadaValidar = parseInt(CantidadActual) - parseInt(CantidadAnti);
                                if (parseInt(data.Stock) < parseInt(CantidadaValidar)) {
                                    if (PROL == "1") {
                                        UpdateConCantidad(CampaniaID, PedidoID, PedidoDetalleID, FlagValidacion, CantidadModi);
                                        $('#Cantidad_' + PedidoDetalleID).val(CantidadModi);
                                    } else
                                        $('#Cantidad_' + PedidoDetalleID).val($('#CantidadTemporal_' + PedidoDetalleID).val());

                                    messageInfo("Lamentablemente, no puede actualizar la cantidad del Producto (" + CUV + "), ya que sobrepasa el stock actual (" + data.Stock + "), verifique.");
                                    return false;
                                } else {

                                    var Cantidad = $('#Cantidad_' + PedidoDetalleID).val();
                                    var Unidad = $('#PrecioUnidad_' + PedidoDetalleID).val();
                                    var Total = parseFloat(Cantidad * Unidad).toFixed(2);
                                    $('#ImporteTotal_' + PedidoDetalleID).html(Total);

                                    var item = {
                                        CampaniaID: CampaniaID,
                                        PedidoID: PedidoID,
                                        PedidoDetalleID: PedidoDetalleID,
                                        ClienteID: CliID,
                                        Cantidad: Cantidad,
                                        PrecioUnidad: PrecioUnidad,
                                        ClienteDescripcion: CliDes,
                                        DescripcionProd: DesProd,
                                        Stock: StockNuevo,
                                        Flag: Flag,
                                        TipoOfertaSisID: TipoOfertaSisID,
                                        CUV: CUV,
                                        ClienteID_: "-1"
                                    };

                                    ShowLoading();

                                    jQuery.ajax({
                                        type: 'POST',
                                        url: urlPedidoUpdate,
                                        dataType: 'json',
                                        contentType: 'application/json; charset=utf-8',
                                        data: JSON.stringify(item),
                                        async: true,
                                        success: function(data) {
                                            if (checkTimeout(data)) {
                                                CloseLoading();

                                                if (data.success == true) {
                                                    if (PROL == "0")
                                                        $('#CantidadTemporal_' + PedidoDetalleID).val($('#Cantidad_' + PedidoDetalleID).val());

                                                    CalcularTotalPedido(data.Total, data.Total_Minimo);
                                                    ActualizarCantidadTotalPedido();
                                                    CargarPedido();
                                                }
                                            }
                                        },
                                        error: function(data, error) {
                                            if (checkTimeout(data)) {
                                                CloseLoading();
                                                console.error(data);
                                            }
                                        }
                                    });
                                }
                            });
                        }
                    });
                } else if (TipoOfertaSisID == ofertaShowRoom) {

                    var PROL = falgValidacionPedido;

                    $.ajaxSetup({ cache: false });

                    var CliID = $('#ClienteID_' + PedidoDetalleID).val();
                    var CliDes = $('#ClienteNombre_' + PedidoDetalleID).val();
                    var Cantidad = $('#Cantidad_' + PedidoDetalleID).val();
                    var CantidadAnti = $('#CantidadTemporal_' + PedidoDetalleID).val();
                    var DesProd = $('#DescripcionProducto_' + PedidoDetalleID).html();
                    var Flag = 0;
                    var StockNuevo = 0;

                    if (parseInt(CantidadAnti) > parseInt(Cantidad)) {
                        Flag = 1;
                        StockNuevo = parseInt(CantidadAnti) - parseInt(Cantidad);
                    } else if (parseInt(Cantidad) > parseInt(CantidadAnti)) {
                        Flag = 2;
                        StockNuevo = parseInt(Cantidad) - parseInt(CantidadAnti);
                    }
                    if (FlagValidacion == "1") {
                        if (CantidadAnti == Cantidad)
                            return false;
                    }

                    if (Cantidad.length == 0) {
                        messageInfo('Por favor ingrese una cantidad válida.');
                        $('#Cantidad_' + PedidoDetalleID).val(cantidadAnterior);
                        return;
                    }

                    if (Cantidad == 0) {
                        messageInfo('Por favor ingrese una cantidad mayor a cero.');
                        $('#Cantidad_' + PedidoDetalleID).val(cantidadAnterior);
                        return;
                    }

                    var PrecioUnidad = $('#PrecioUnidad_' + PedidoDetalleID).val();

                    if (CliDes.length == 0) {
                        CliID = 0;
                    }

                    $.getJSON(urlValidarUnidadesPermitidasPedidoProductoShowRoom, { CUV: CUV }, function(data) {
                        var Saldo = data.Saldo;
                        var UnidadesPermitidas = data.UnidadesPermitidas;
                        var CantidadPedida = data.CantidadPedida;

                        Cantidad = parseInt(Cantidad) + parseInt(CantidadPedida);

                        if (parseInt(data.UnidadesPermitidas) < parseInt(Cantidad)) {
                            if (PROL == "1") {
                                UpdateConCantidad(CampaniaID, PedidoID, PedidoDetalleID, FlagValidacion, CantidadModi);
                                $('#Cantidad_' + PedidoDetalleID).val(CantidadModi);
                            } else
                                $('#Cantidad_' + PedidoDetalleID).val($('#CantidadTemporal_' + PedidoDetalleID).val());

                            if (Saldo == UnidadesPermitidas)
                                messageInfo("Lamentablemente, la cantidad solicitada sobrepasa las Unidades Permitidas de Venta (" + UnidadesPermitidas + ") del producto " + CUV + ".");
                            else {
                                if (Saldo == "0")
                                    messageInfo("Las Unidades Permitidas de Venta son solo (" + UnidadesPermitidas + "), pero Usted ya no puede adicionar más, debido a que ya agregó este producto (" + CUV + ") a su pedido, verifique.");
                                else
                                    messageInfo("Las Unidades Permitidas de Venta son solo (" + UnidadesPermitidas + "), pero Usted solo puede adicionar (" + Saldo + ") más, debido a que ya agregó este producto (" + CUV + ") a su pedido, verifique.");
                            }
                            return false;
                        } else {
                            $.getJSON(urlObtenerStockActualProductoShowRoom, { CUV: CUV }, function(data) {
                                var CantidadActual = $('#Cantidad_' + PedidoDetalleID).val();
                                var CantidadaValidar = parseInt(CantidadActual) - parseInt(CantidadAnti);
                                if (parseInt(data.Stock) < parseInt(CantidadaValidar)) {
                                    if (PROL == "1") {
                                        UpdateConCantidad(CampaniaID, PedidoID, PedidoDetalleID, FlagValidacion, CantidadModi);
                                        $('#Cantidad_' + PedidoDetalleID).val(CantidadModi);
                                    } else
                                        $('#Cantidad_' + PedidoDetalleID).val($('#CantidadTemporal_' + PedidoDetalleID).val());

                                    messageInfo("Lamentablemente, no puede actualizar la cantidad del Producto (" + CUV + "), ya que sobrepasa el stock actual (" + data.Stock + "), verifique.");
                                    return false;
                                } else {

                                    var Cantidad = $('#Cantidad_' + PedidoDetalleID).val();
                                    var Unidad = $('#PrecioUnidad_' + PedidoDetalleID).val();
                                    var Total = parseFloat(Cantidad * Unidad).toFixed(2);
                                    $('#ImporteTotal_' + PedidoDetalleID).html(Total);

                                    var item = {
                                        CampaniaID: CampaniaID,
                                        PedidoID: PedidoID,
                                        PedidoDetalleID: PedidoDetalleID,
                                        ClienteID: CliID,
                                        Cantidad: Cantidad,
                                        PrecioUnidad: PrecioUnidad,
                                        ClienteDescripcion: CliDes,
                                        DescripcionProd: DesProd,
                                        Stock: StockNuevo,
                                        Flag: Flag,
                                        TipoOfertaSisID: TipoOfertaSisID,
                                        CUV: CUV,
                                        ClienteID_: "-1"
                                    };

                                    ShowLoading();

                                    jQuery.ajax({
                                        type: 'POST',
                                        url: urlPedidoUpdate,
                                        dataType: 'json',
                                        contentType: 'application/json; charset=utf-8',
                                        data: JSON.stringify(item),
                                        async: true,
                                        success: function(data) {
                                            if (checkTimeout(data)) {
                                                CloseLoading();

                                                if (data.success == true) {
                                                    if (PROL == "0")
                                                        $('#CantidadTemporal_' + PedidoDetalleID).val($('#Cantidad_' + PedidoDetalleID).val());

                                                    CalcularTotalPedido(data.Total, data.Total_Minimo);
                                                    ActualizarCantidadTotalPedido();
                                                    CargarPedido();
                                                }
                                            }
                                        },
                                        error: function(data, error) {
                                            if (checkTimeout(data)) {
                                                CloseLoading();
                                                console.error(data);
                                            }
                                        }
                                    });
                                }
                            });
                        }
                    });
                } else if (TipoOfertaSisID == ofertaAccesorizate) {

                    var PROL = falgValidacionPedido;

                    $.ajaxSetup({ cache: false });

                    var CliID = $('#ClienteID_' + PedidoDetalleID).val();
                    var CliDes = $('#ClienteNombre_' + PedidoDetalleID).val();
                    var Cantidad = $('#Cantidad_' + PedidoDetalleID).val();
                    var CantidadAnti = $('#CantidadTemporal_' + PedidoDetalleID).val();
                    var DesProd = $('#DescripcionProducto_' + PedidoDetalleID).html();

                    var Flag = 0;
                    var StockNuevo = 0;

                    if (parseInt(CantidadAnti) > parseInt(Cantidad)) {
                        Flag = 1;
                        StockNuevo = parseInt(CantidadAnti) - parseInt(Cantidad);
                    } else if (parseInt(Cantidad) > parseInt(CantidadAnti)) {
                        Flag = 2;
                        StockNuevo = parseInt(Cantidad) - parseInt(CantidadAnti);
                    }
                    if (FlagValidacion == "1") {
                        if (CantidadAnti == Cantidad)
                            return false;
                    }

                    if (Cantidad.length == 0) {
                        messageInfo('Por favor ingrese una cantidad válida.');
                        $('#Cantidad_' + PedidoDetalleID).val(cantidadAnterior);
                        return;
                    }

                    if (Cantidad == 0) {
                        messageInfo('Por favor ingrese una cantidad mayor a cero.');
                        $('#Cantidad_' + PedidoDetalleID).val(cantidadAnterior);
                        return;
                    }

                    if (CliDes.length == 0) {
                        CliID = 0;
                    }

                    var PrecioUnidad = $('#PrecioUnidad_' + PedidoDetalleID).val();

                    $.getJSON(urlValidarUnidadesPermitidasPedidoProducto2, { CUV: CUV }, function(data) {
                        var Saldo = data.Saldo;
                        var UnidadesPermitidas = data.UnidadesPermitidas;
                        if (parseInt(data.UnidadesPermitidas) < parseInt(Cantidad)) {
                            if (PROL == "1") {
                                UpdateConCantidad(CampaniaID, PedidoID, PedidoDetalleID, FlagValidacion, CantidadModi);
                                $('#Cantidad_' + PedidoDetalleID).val(CantidadModi);
                            } else
                                $('#Cantidad_' + PedidoDetalleID).val($('#CantidadTemporal_' + PedidoDetalleID).val());

                            if (Saldo == UnidadesPermitidas)
                                messageInfo("Lamentablemente, la cantidad solicitada sobrepasa las Unidades Permitidas de Venta (" + UnidadesPermitidas + ") del producto " + CUV + ".");
                            else {
                                if (Saldo == "0")
                                    messageInfo("Las Unidades Permitidas de Venta son solo (" + UnidadesPermitidas + "), pero Usted ya no puede adicionar más, debido a que ya agregó este producto (" + CUV + ") a su pedido, verifique.");
                                else
                                    messageInfo("Las Unidades Permitidas de Venta son solo (" + UnidadesPermitidas + "), pero Usted solo puede adicionar (" + Saldo + ") más, debido a que ya agregó este producto (" + CUV + ") a su pedido, verifique.");
                            }
                            return false;
                        } else {
                            $.getJSON(urlObtenerStockActualProducto2, { CUV: CUV }, function(data) {
                                var CantidadActual = $('#Cantidad_' + PedidoDetalleID).val();
                                var CantidadaValidar = parseInt(CantidadActual) - parseInt(CantidadAnti);
                                if (parseInt(data.Stock) < parseInt(CantidadaValidar)) {
                                    if (PROL == "1") {
                                        UpdateConCantidad(CampaniaID, PedidoID, PedidoDetalleID, FlagValidacion, CantidadModi);
                                        $('#Cantidad_' + PedidoDetalleID).val(CantidadModi);
                                    } else
                                        $('#Cantidad_' + PedidoDetalleID).val($('#CantidadTemporal_' + PedidoDetalleID).val());

                                    messageInfo("Lamentablemente, no puede actualizar la cantidad del Producto (" + CUV + "), ya que sobrepasa el stock actual (" + data.Stock + "), verifique.");
                                    return false;
                                } else {

                                    var Cantidad = $('#Cantidad_' + PedidoDetalleID).val();
                                    var Unidad = $('#PrecioUnidad_' + PedidoDetalleID).val();
                                    var Total = parseFloat(Cantidad * Unidad).toFixed(2);
                                    $('#ImporteTotal_' + PedidoDetalleID).html(Total);

                                    var item = {
                                        CampaniaID: CampaniaID,
                                        PedidoID: PedidoID,
                                        PedidoDetalleID: PedidoDetalleID,
                                        ClienteID: CliID,
                                        Cantidad: Cantidad,
                                        PrecioUnidad: PrecioUnidad,
                                        ClienteDescripcion: CliDes,
                                        DescripcionProd: DesProd,
                                        Stock: StockNuevo,
                                        Flag: Flag,
                                        TipoOfertaSisID: TipoOfertaSisID,
                                        CUV: CUV,
                                        ClienteID_: "-1"
                                    };

                                    ShowLoading();

                                    jQuery.ajax({
                                        type: 'POST',
                                        url: urlPedidoUpdate,
                                        dataType: 'json',
                                        contentType: 'application/json; charset=utf-8',
                                        data: JSON.stringify(item),
                                        async: true,
                                        success: function(data) {
                                            if (checkTimeout(data)) {
                                                CloseLoading();

                                                if (data.success == true) {
                                                    if (PROL == "0")
                                                        $('#CantidadTemporal_' + PedidoDetalleID).val($('#Cantidad_' + PedidoDetalleID).val());

                                                    CalcularTotalPedido(data.Total, data.Total_Minimo);
                                                    ActualizarCantidadTotalPedido();
                                                    CargarPedido();
                                                }
                                            }
                                        },
                                        error: function(data, error) {
                                            if (checkTimeout(data)) {
                                                CloseLoading();
                                                console.error(data);
                                            }
                                        }
                                    });
                                }
                            });
                        }
                    });
                } else {

                    var Cantidad = $('#Cantidad_' + PedidoDetalleID).val();

                    if (Cantidad.length == 0) {
                        messageInfo('Por favor ingrese una cantidad válida.');
                        $('#Cantidad_' + PedidoDetalleID).val(cantidadAnterior);
                        return;
                    }

                    if (Cantidad == 0) {
                        messageInfo('Por favor ingrese una cantidad mayor a cero.');
                        $('#Cantidad_' + PedidoDetalleID).val(cantidadAnterior);
                        return;
                    }

                    var CantidadAnti = $('#CantidadTemporal_' + PedidoDetalleID).val();

                    var param = ({
                        MarcaID: 0,
                        CUV: CUV,
                        PrecioUnidad: 0,
                        Descripcion: 0,
                        Cantidad: Cantidad,
                        IndicadorMontoMinimo: 0,
                        TipoOferta: 1
                    });
                    ShowLoading();

                    jQuery.ajax({
                        type: 'POST',
                        url: urlValidarStockEstrategia,
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(param),
                        async: true,
                        success: function(datos) {
                            if (!datos.result) {
                                CloseLoading();

                                messageInfo(datos.message);

                                $('#Cantidad_' + PedidoDetalleID).val(CantidadAnti);
                                return false;
                            } else {
                                Update(CampaniaID, PedidoID, PedidoDetalleID, FlagValidacion);
                                CloseLoading();
                            }
                        },
                        error: function(data, error) {
                            if (checkTimeout(data)) {
                                CloseLoading();
                                console.error(data);
                            }
                        }
                    });
                }
            }
        }

        function UpdateConCantidad(CampaniaID, PedidoID, PedidoDetalleID, FlagValidacion, CantidadModi) {

            var CliID = $('#ClienteID_' + PedidoDetalleID).val();
            var CliDes = $('#ClienteNombre_' + PedidoDetalleID).val();
            var Cantidad = $('#Cantidad_' + PedidoDetalleID).val();
            var CantidadAnti = $('#CantidadTemporal_' + PedidoDetalleID).val();
            var DesProd = $('#DescripcionProducto_' + PedidoDetalleID).html();

            if (FlagValidacion == "1") {
                if (CantidadAnti == Cantidad)
                    return false;
            }

            if (Cantidad.length == 0) {
                messageInfo('Por favor ingrese una cantidad válida.');
                return;
            }

            if (Cantidad == 0) {
                messageInfo('Por favor ingrese una cantidad mayor a cero.');
                return;
            }

            if (CliDes.length == 0) {
                CliID = 0;
            }

            var Cantidad = CantidadModi;
            var PrecioUnidad = $('#PrecioUnidad_' + PedidoDetalleID).val();
            var Total = parseFloat(Cantidad * PrecioUnidad).toFixed(2);

            $('#ImporteTotal_' + PedidoDetalleID).html(Total);
            $('#ImporteTotalMinimo_' + PedidoDetalleID).html(Total);

            var item = {
                CampaniaID: CampaniaID,
                PedidoID: PedidoID,
                PedidoDetalleID: PedidoDetalleID,
                ClienteID: CliID,
                Cantidad: Cantidad,
                PrecioUnidad: PrecioUnidad,
                ClienteDescripcion: CliDes,
                DescripcionProd: DesProd,
                ClienteID_: "-1"
            };

            ShowLoading();

            jQuery.ajax({
                type: 'POST',
                url: urlPedidoUpdate,
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(item),
                async: true,
                success: function(data) {
                    if (checkTimeout(data)) {
                        CloseLoading();

                        if (data.success == true) {
                            $('#CantidadTemporal_' + PedidoDetalleID).val($('#Cantidad_' + PedidoDetalleID).val());

                            CalcularTotalPedido(data.Total, data.Total_Minimo);
                            ActualizarCantidadTotalPedido();
                            CargarPedido();
                        }
                    }
                },
                error: function(data, error) {
                    if (checkTimeout(data)) {
                        CloseLoading();
                        console.error(data);
                    }
                }
            });
        }

        function Update(CampaniaID, PedidoID, PedidoDetalleID, FlagValidacion) {

            var CliID = $('#ClienteID_' + PedidoDetalleID).val();
            var CliDes = $('#ClienteNombre_' + PedidoDetalleID).val();
            var Cantidad = $('#Cantidad_' + PedidoDetalleID).val();
            var CantidadAnti = $('#CantidadTemporal_' + PedidoDetalleID).val();
            var DesProd = $('#DescripcionProducto_' + PedidoDetalleID).html();

            if (FlagValidacion == "1") {
                if (CantidadAnti == Cantidad)
                    return false;
            } else {
                if (ClienteAnti == CliDes)
                    return false;
            }

            if (Cantidad.length == 0) {
                messageInfo('Por favor ingrese una cantidad válida.');
                return;
            }

            if (Cantidad == 0) {
                messageInfo('Por favor ingrese una cantidad mayor a cero.');
                return;
            }

            if (CliDes.length == 0) {
                CliID = 0;
            }

            var PrecioUnidad = $('#PrecioUnidad_' + PedidoDetalleID).val();
            var Cantidad = $('#Cantidad_' + PedidoDetalleID).val();
            var Total = parseFloat(Cantidad * PrecioUnidad).toFixed(2);
            $('#ImporteTotal_' + PedidoDetalleID).html(Total);
            $('#ImporteTotalMinimo_' + PedidoDetalleID).html(Total);

            var item = {
                CampaniaID: CampaniaID,
                PedidoID: PedidoID,
                PedidoDetalleID: PedidoDetalleID,
                ClienteID: CliID,
                Cantidad: Cantidad,
                PrecioUnidad: PrecioUnidad,
                ClienteDescripcion: CliDes,
                DescripcionProd: DesProd,
                ClienteID_: "-1"
            };

            ShowLoading();

            jQuery.ajax({
                type: 'POST',
                url: urlPedidoUpdate,
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(item),
                async: true,
                success: function(data) {
                    if (checkTimeout(data)) {
                        CloseLoading();

                        if (data.success == true) {

                            $('#CantidadTemporal_' + PedidoDetalleID).val($('#Cantidad_' + PedidoDetalleID).val());

                            CalcularTotalPedido(data.Total, data.Total_Minimo);
                            ActualizarCantidadTotalPedido();
                            CargarPedido();
                        }
                    }
                },
                error: function(data, error) {
                    if (checkTimeout(data)) {
                        CloseLoading();
                        console.error(data);
                    }
                }
            });

        }

        function CalcularTotalPedido(Total, Total_Minimo) {

            if (codigoIsoPais == 'CO') {
                Total = Total.replace(/\,/g, '');
                Total = parseFloat(Total).toFixed(0);
                $('#sTotal').html(SeparadorMiles(Total));
            } else {
                Total = parseFloat(Total.replace(',', ''));
                $('#sTotal').html(parseFloat(Total).toFixed(2));
            }

            if (codigoIsoPais == "PR" || codigoIsoPais == "DO" || codigoIsoPais == "MX" || codigoIsoPais == "CO") {

                if (codigoIsoPais == "CO") {
                    Total_Minimo = Total_Minimo.replace(/\,/g, '');
                    Total_Minimo = parseFloat(Total_Minimo).toFixed(0);
                    $('#sTotalMinimo').html(Total_Minimo);
                } else {
                    Total_Minimo = parseFloat(Total_Minimo.replace(',', ''));
                    $('#sTotalMinimo').html(Total_Minimo.toFixed(2));
                }
            }
        }

        function SeparadorMiles(pnumero) {
            var resultado = "";
            var numero = pnumero.replace(/\,/g, '');
            var nuevoNumero;

            if (numero[0] == "-") nuevoNumero = numero.replace(/\./g, '').substring(1);
            else nuevoNumero = numero.replace(/\./g, '');

            if (numero.indexOf(",") >= 0) nuevoNumero = nuevoNumero.substring(0, nuevoNumero.indexOf(","));

            for (var j, i = nuevoNumero.length - 1, j = 0; i >= 0; i--, j++)
                resultado = nuevoNumero.charAt(i) + ((j > 0) && (j % 3 == 0) ? "." : "") + resultado;

            if (numero.indexOf(",") >= 0) resultado += numero.substring(numero.indexOf(","));

            if (numero[0] == "-") return "-" + resultado;
            else return resultado;
        }

        function EliminarPedido(CampaniaID, PedidoID, PedidoDetalleID, TipoOfertaSisID, CUV, Cantidad, DescripcionProd, PrecioUnidad, MarcaID, DescripcionOferta) {

            $("#popup-eliminar-item").modal("show");

            fnEliminarProducto = function() {
                var param = ({
                    CampaniaID: CampaniaID,
                    PedidoID: PedidoID,
                    PedidoDetalleID: PedidoDetalleID,
                    TipoOfertaSisID: TipoOfertaSisID,
                    CUV: CUV,
                    Cantidad: Cantidad,
                    Pagina: 0,
                    PaginaDe: 0,
                    Registros: 0,
                    RegistrosDe: 0,
                    RegostrosTotal: 0,
                    ClienteID: "-1",
                    CUVReco: ""
                });

                ShowLoading();

                jQuery.ajax({
                    type: 'POST',
                    url: urlPedidoDelete,
                    dataType: 'html',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(param),
                    async: true,
                    success: function(html) {
                        CargarPedido();
                        ActualizarCantidadTotalPedido();
                        CloseLoading();
                        var descripcionMarca = GetDescripcionMarca(MarcaID);
                        TagManagerClickEliminarProducto(DescripcionProd, CUV, PrecioUnidad, descripcionMarca, DescripcionOferta, Cantidad);
                        messageDelete('El producto fue Eliminado.');
                    },
                    error: function(data, error) {
                        if (checkTimeout(data)) {
                            CloseLoading();
                            console.error(data);
                        }
                    }
                });
            };
        }

        function GetDescripcionMarca(marcaId) {
            var result = "";

            switch (marcaId) {
                case 1:
                    result = "Lbel";
                    break;
                case 2:
                    result = "Esika";
                    break;
                case 3:
                    result = "Cyzone";
                    break;
                case 4:
                    result = "S&M";
                    break;
                case 5:
                    result = "Home Collection";
                    break;
                case 6:
                    result = "Finart";
                    break;
                case 7:
                    result = "Generico";
                    break;
                case 8:
                    result = "Glance";
                    break;
                default:
                    result = "NO DISPONIBLE";
                    break;
            }

            return result;
        }

        function ActualizarCantidadTotalPedido() {
            jQuery.ajax({
                type: 'POST',
                url: urlActualizarCantidadTotalPedido,
                dataType: 'json',
                async: true,
                success: function(response) {
                    if (checkTimeout(response)) {
                        if (response.success) {
                            var data = response.data;
                            $(".num-menu-shop").html(data.CantidadProductos);
                            $("#spnCantidadProductos").html(data.CantidadProductos);
                            $("#spnDescripcionTotal").html(data.DescripcionTotal);
                            $("#spnTotalMontoMinimo").html(data.DescripcionTotalMinimo);
                        } else {
                            window.messageInfo(response.message);
                        }
                    }
                },
                error: function(response, error) {
                    if (checkTimeout(response)) {
                        console.error(response);
                    }
                }
            });
        }

        function ConfirmaEliminarPedido() {
            $("#popup-eliminar-item").modal("hide");

            if (ReservadoOEnHorarioRestringido())
                return;

            if ($.isFunction(fnEliminarProducto)) {
                fnEliminarProducto();
            }
        }

        function messageDelete(message) {
            $('#mensajeInformacionEliminar').html(message);
            $("#popup-eliminar-mensaje").modal("show");
            setTimeout(function() {
                $("#popup-eliminar-mensaje").modal("hide");
            }, 2000);
        }

        function MostrarOcultarResumenPedido() {
            if ($("#iconCollpase").attr("class") == "icon-angle-up") {
                $("#iconCollpase").removeClass("icon-angle-up");
                $("#iconCollpase").addClass("icon-angle-down");
            } else {
                $("#iconCollpase").removeClass("icon-angle-down");
                $("#iconCollpase").addClass("icon-angle-up");
            }
        }

        function TagManagerClickEliminarProducto(descripcionProd, cuv, precioUnidad, descripcionMarca, descripcionOferta, cantidad) {
            var variant;
            if (descripcionOferta == "") {
                variant = "Estándar";
            } else {
                descripcionOferta = descripcionOferta.replace('[', '').replace(']', '');
                descripcionOferta = descripcionOferta.trimLeft();
                variant = descripcionOferta.trimRight();
            }

            dataLayer.push({
                'event': 'removeFromCart',
                'ecommerce': {
                    'remove': {
                        'products': [{
                            'name': descripcionProd,
                            'id': cuv,
                            'price': precioUnidad.toString(),
                            'brand': descripcionMarca,
                            'category': 'NO DISPONIBLE',
                            'variant': variant,
                            'quantity': cantidad
                        }]
                    }
                }
            });
        }

    </script>
}