@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Areas.Mobile.Models
@using Portal.Consultoras.Web.Helpers
@using Portal.Consultoras.Web.SessionManager

@model PedidoDetalleMobileModel
@{
    var layout = ViewContext.MobileLayout();
    Layout = string.Format("~/Areas/Mobile/Views/Shared/{0}.cshtml", layout);
}

<link href="@Url.Content("~/Content/Css/Site/slick-pedido.css")" rel="stylesheet" />


<input type="hidden" id="hdEsFacturacion" value="@Model.EsFacturacion.ToString()" />
<input type="hidden" id="hdOfertaFinal" value="@Model.OfertaFinal" />
<input type="hidden" id="hdEsOfertaFinalZonaValida" value="@Model.EsOfertaFinalZonaValida.ToString()" />
<input type="hidden" id="hdOfertaFinalGanaMas" value="@Model.OfertaFinalGanaMas" />
<input type="hidden" id="hdEsOFGanaMasZonaValida" value="@Model.EsOFGanaMasZonaValida.ToString()" />
<input type="hidden" id="hdListaParametriaOfertaFinal" value="@Newtonsoft.Json.JsonConvert.SerializeObject(Model.ListaParametriaOfertaFinal)" />
<input type="hidden" id="hdEsConsultoraNueva" value="@Model.EsConsultoraNueva.ToString()" />
<input type="hidden" id="hdListaEscala" value="@Newtonsoft.Json.JsonConvert.SerializeObject(Model.DataBarra.ListaEscalaDescuento)" />
<input type="hidden" id="hdMontoMinimo" value="@Model.MontoMinimo" />

<div class="contenedor_producto">
    <div class="content_320 ingresoPedidom">
        <input id="hdAccionBotonProl" type="hidden" value="@ViewBag.AccionBoton" />
        <div class="contenedor_detalle_pedidoIngresado">
            <div class="contenedor_resumenPedido">
                @{  var mobileConfiguracion = Html.MobileAppConfiguracion();
                    if (mobileConfiguracion.MostrarBotonAtras)
                    {
                        <a href="@Request.UrlReferrer" class="enlace_regresar detalleP" title="Regresar"></a>
                    }
                 }
                <h2 class="nombre_campania_pedido">
                    MI PEDIDO
                    <span>@Model.DescripcionCampaniaActual</span>
                </h2>

                <div id="divProductosDetalle">
                    <div class="text-center">
                        <img alt="Cargando..." src="@Url.Content("~/Content/images/Loading.gif")" />
                    </div>
                </div>
            </div>
        </div>

        @{
            string[] tooltips = Model.ProlTooltip.Split('|');
            string tooltip1 = "";
            string tooltip2 = "";

            if (ViewBag.TipoUsuario == 2)
            {
                tooltip1 = "TE ENCUENTRAS UNA SESIÓN DE PRUEBA";
                tooltip2 = "Muy pronto podrás acceder a todos los beneficios de Somos Belcorp.";
            }
            else
            {
                tooltip1 = tooltips[0];
                tooltip2 = tooltips[1];
            }
        }

        @{
            if (ViewBag.TipoUsuario == 2)
            {
                <div class="tooltip_noOlvidesGuardarTuPedido" style="display: none; width: 300.3px;">
                    <h2>@tooltip1</h2>
                    <span>@tooltip2</span>
                </div>
            }
            else
            {
                <div class="tooltip_noOlvidesGuardarTuPedido" style="display: none;">
                    <h2>@tooltip1</h2>
                    <span>@tooltip2</span>
                </div>
            }
        }

        <div id="divCondicionesCupon" style="display: none; color: #9b9b9b; margin-bottom: 35px;">
            <div style="text-align:center; font-size: 11px;">*No incluye herramientas de venta</div>
            <div class="clearfix"></div>    
        </div>

    </div>
</div>

<div class="btn_guardarPedido">
    <input type="submit" value="@Model.Prol" id="btnGuardarPedido" name="btnGuardarPedido" onclick="EjecutarPROL();" />
</div>

<div class="MensajeAlertaMobile" id="popup-observaciones-prol" style="display:none;">
    <div class="content_mensajeAlerta">
        <a class="cerrar_popMobile" href="javascript:;" onclick="$('#popup-observaciones-prol').hide();">
            <img src="/Content/Images/mobile/Esika/cerrar_04.png" alt="-">
        </a>
        <hr class="clear">
        <div id="iconoPopupMobile" class="icono_alerta exclamacion_icono_mobile"></div>
        <div class="titulo_compartir"><b>IMPORTANTE</b></div>
        <div class="mensaje_alerta" id="modal-prol-contenido"></div>
        <div id="modal-prol-botoneAceptar">
            <a href="javascript:;" onclick="$('#popup-observaciones-prol').hide();" class="btn_ok_mobile"><b>OK</b></a>
        </div>
    </div>
</div>
<div id="popup-eliminar-mensaje" class="MensajeAlertaMobile" style="display:none;">
    <div class="content_mensajeAlerta">
        <a class="cerrar_popMobile" href="javascript:;" onclick="javascript: $('#popup-eliminar-item').hide();">
            <img src="/Content/Images/mobile/Esika/cerrar_04.png" alt="-">
        </a>
        <hr class="clear">
        <div class="icono_alerta exclamacion_icono_mobile"></div>
        <div class="titulo_compartir"><b>IMPORTANTE</b></div>
        <div class="mensaje_alerta" id="mensajeInformacionEliminar"></div>
    </div>
</div>

<div class="contenedor_fondo_popup agregarScrollVertical" id="divOfertaFinal" style="display: none;" data-popup-main="" data-popup-function-hide="PopupOfertaFinalCerrar"></div>
<div class="PopMobile1" id="contenedor_popup_ofertaFinalVerDetalle" style="display: none;"></div>

<div id="divConfirmEliminarTotal" class="MensajeAlertaMobile" style="display:none;">
    <div class="content_mensajeAlerta">
        <a class="cerrar_popMobile" href="javascript:;" onclick="EliminarPedidoTotalNo();">
            <img src="/Content/Images/mobile/Esika/cerrar_04.png" alt="-">
        </a>
        <hr class="clear">
        <div class="icono_alerta exclamacion_icono_mobile"></div>
        <div class="titulo_compartir"><b>IMPORTANTE</b></div>
        <div class="mensaje_alerta">¿Deseas eliminar el pedido completo?.</div>
        <a href="javascript:;" onclick="EliminarPedidoTotalSi();" class="btn_ok_mobile"><b>OK</b></a>
    </div>
</div>

<div id="popup-eliminar-item" class="MensajeAlertaMobile" style="display:none;">
    <div class="content_mensajeAlerta">
        <a class="cerrar_popMobile" href="javascript:;" onclick="javascript: $('#popup-eliminar-item').hide();">
            <img src="/Content/Images/mobile/Esika/cerrar_04.png" alt="-">
        </a>
        <hr class="clear">
        <div class="icono_alerta exclamacion_icono_mobile"></div>
        <div class="titulo_compartir"><b>IMPORTANTE</b></div>
        <div class="mensaje_alerta">¿Estás segura que quieres eliminar el producto?</div>
        <div id="mensaleAvisoRegalo" class="mensaje_alerta">Recuerda que tienes un premio ganado, si eliminas este producto podrías perderlo. ¿Deseas continuar?</div>
        <a href="javascript:;" onclick="ConfirmaEliminarPedido();" class="btn_ok_mobile"><b>OK</b></a>
    </div>
</div>
<div id="MensajeLograste" class="MensajeAlertaMobile" style="display:none;">
    <div class="content_mensajeAlerta">
        <a class="cerrar_popMobile" href="javascript:;" onclick="javascript: $('#MensajeLograste').hide();">
            <img src="/Content/Images/mobile/Esika/cerrar_04.png" alt="-">
        </a>
        <hr class="clear">
        <div class="icono_alerta check_icono_mobile"></div>
        <div class="titulo_compartir">¡LO <b>LOGRASTE</b>!</div>
        <div class="mensaje_alerta">Tu pedido fue guardado con éxito</div>
        <a class="btn_ok_mobile"><b>OK</b></a>
    </div>
</div>

<input id="hdfModificaPedido" type="hidden" value="0" />
<input type="hidden" id="hdfTotal" value="@Model.Total" />

<div class="contenedor_fondo_popup_ganancia" id="popupGanancias" style="display:none;">
    <div class="popup_mis_ganancias">
        <div class="btn_cerrar_actualizarMisDatos">
            <a href="javascript:;" title="Cerrar" class="cerrar_tutorial" onclick="return $('#popupGanancias').fadeOut(200);">
                <img src="@Url.Content("~/Content/Images/btn_cerrar_popup.svg")" alt="Cerrar" />
                <span class="texto_btn_cerrar">CERRAR</span>
            </a>
        </div>
        <div class="contenido_misGanancias" id="detalleGanancia">
            <h6>GANANCIA ESTIMADA TOTAL</h6>
            <div class="mis_descuentos">
                <span class="mis_descuentos_texto">Mis descuentos</span>
                <span class="mis_descuentos_monto">@Model.Simbolo @ViewBag.MontoAhorroCatalogo</span>
            </div>
            <div class="mis_descuentos">
                <span class="mis_descuentos_texto">Oportunidad de ahorro (Revista y otros)</span>
                <span class="mis_descuentos_monto">@Model.Simbolo @ViewBag.MontoAhorroRevista</span>
            </div>
            <div class="separador_montos_misGanancias"></div>
            <div class="mis_descuentos">
                <span class="monto_total_misGanancias">@Model.Simbolo @ViewBag.GananciaEstimada</span>
            </div>
            <div class="nota_popup_misGanancias">
                <span>*Oportunidad de ahorro= ahorro estimado proveniente de la resta de los precios en catálogo de los productos menos el monto a pagar de los mismos.</span>
            </div>
        </div>
    </div>
</div>

<script id="template-Detalle" type="text/x-handlebars-template">
    <div class="textos_resumen">
        <span id="lblProductosResumen">HE AGREGADO :</span>
        <span id="lblTotalResumen">
            MONTO TOTAL :
        </span>

        @{
            string cabezaEscala = null, pieEscala = null;
            string lbl1Ganancia = null, lbl2Ganancia = null;

            if (Model.CodigoISO == Constantes.CodigosISOPais.Peru ||
                        Model.CodigoISO == Constantes.CodigosISOPais.Colombia ||
                        Model.CodigoISO == Constantes.CodigosISOPais.Ecuador ||
                        Model.CodigoISO == Constantes.CodigosISOPais.Guatemala ||
                        Model.CodigoISO == Constantes.CodigosISOPais.Salvador ||
                        Model.CodigoISO == Constantes.CodigosISOPais.Dominicana ||
                        Model.CodigoISO == Constantes.CodigosISOPais.PuertoRico)
            {
                cabezaEscala = "Ganancia estimada total";
                pieEscala = "*Ganancia Total = Ahorro estimado proveniente de tus descuentos por compras en catálogo + ahorro estimado proveniente de compras de Guía de Negocio y Otros.";
                lbl1Ganancia = "Mis descuentos";
                lbl2Ganancia = "Ganancia estimada *(Guia de negocio y otros)";
            }
            else if (Model.CodigoISO == Constantes.CodigosISOPais.Mexico || Model.CodigoISO == Constantes.CodigosISOPais.Panama)
            {
                cabezaEscala = "Ganancia estimada total";
                pieEscala = "*Ganancia Total = Ahorro estimado proveniente de tus descuentos por compras en catálogo + ahorro estimado proveniente de compras en Revista y Otros.";
                lbl1Ganancia = "Mis descuentos";
                lbl2Ganancia = "Ganancia estimada *(Revista y otros)";
            }
            else if (Model.CodigoISO == Constantes.CodigosISOPais.Chile)
            {
                cabezaEscala = "Comisión y ahorro total";
                pieEscala = "*Comisión = Ganancia estimada proveniente de tus descuentos por compras en catálogo; <br>Ahorro = Ahorro estimado proveniente de compras de Guía de Negocio y Otros.";
                lbl1Ganancia = "Mis descuentos (-)10% retencion comisión liquida";
                lbl2Ganancia = "Ahorro estimado *(Guia de negocio y otros)";
            }
            else if (Model.CodigoISO == Constantes.CodigosISOPais.Venezuela)
            {
                cabezaEscala = "Oportunidad de ahorro total";
                pieEscala = "Oportunidad de Ahorro Total = Ahorro estimado proveniente de sus descuentos por compras en catálogo + ahorro estimado proveniente de compras en Revista y Otros";
                lbl1Ganancia = "Por tus compras de productos de catalogo";
                lbl2Ganancia = "Por tus comprar de productos de revista";
            }
            else if (Model.CodigoISO == Constantes.CodigosISOPais.Bolivia)
            {
                cabezaEscala = "Ganancia total";
                pieEscala = "Ganancia total = Ahorro estimado proveniente de sus descuentos por compras en catálogo + ahorro estimado proveniente de compras en Guía de Negocio y Otros";
                lbl1Ganancia = "Mis descuentos";
                lbl2Ganancia = "Ganancia estimada *(Guia de negocio y otros)";
            }
            else if (Model.CodigoISO == Constantes.CodigosISOPais.CostaRica)
            {
                cabezaEscala = "Oportunidad de ahorro total";
                pieEscala = "Oportunidad de Ahorro Total = Ahorro estimado proveniente de sus descuentos por compras en catálogo + ahorro estimado proveniente de compras en Revista y Otros";
                lbl1Ganancia = "Mis descuentos";
                lbl2Ganancia = "Oportunidad de ahorro *(Revista y otros)";
            }
        }

        <input type="hidden" id="hdeCabezaEscala" value="@cabezaEscala" />
        <input type="hidden" id="hdePieEscala" value="@pieEscala" />
        <input type="hidden" id="hdeLbl1Ganancia" value="@lbl1Ganancia" />
        <input type="hidden" id="hdeLbl2Ganancia" value="@lbl2Ganancia" />

        <div class="mi_ganancia">
            @(cabezaEscala.ToUpper().Trim()) :
        </div>
    </div>
    <div class="montos_resumen">
        <span><b data-cantidadproducto="">{{this.TotalProductos}}</b>&nbsp;&nbsp;UNIDADES</span>
        <span><b>{{SimboloMoneda}}&nbsp;&nbsp;</b><b data-pedidocondescuento="">{{FormatoTotalConDescuento}}</b></span>
        <span class="mi_ganancia"><b>{{SimboloMoneda}}&nbsp;&nbsp;</b><b class="lblDescripcionGanancia" data-ganancia="">{{FormatoMontoGanancia}}</b></span>
    </div>
    <div class="contenedor_cupon" id="cupon-pedido-mobile" style="display: none;">
        <div class="background_cupon"></div>
        <div class="contenedorCuponConocelo content_pedido_cupon_monto" style="display: none;">
            <div class="icono_cupon_monto"><img src="@Url.Content("~/Content/Images/PL20/cupon_gif_negro.gif")" alt="" /></div>
            <div class="texto_cupon_monto">Tienes un dscto exclusivo para ti, <a id="linkConocerDescuento2" class="link_cupon_home" style="color:black;">conócelo aquí</a></div>
        </div>
        <div class="contenedorCuponInfo content_pedido_cupon_monto" style="display: none;" data-cupon-info-pedido="">
            <div class="icono_cupon_monto"><img src="@Url.Content("~/Content/Images/PL20/cupon_gif_negro.gif")" alt="" /></div>
            <div class="texto_cupon_monto">Agrega alguna oferta exclusiva web para hacer válido tu cupón de descuento de 00 % || S/. 00.00</div>
        </div>
    </div>
    <div class="detalle_pedido_ingresado">
        <span class="titulo_detalle">DETALLE</span>
    </div>

    {{#IsNullOrEmpty this.MensajeCierreCampania '!='}}
    <div class="alert-top-icon text-success">
    </div>
    {{/IsNullOrEmpty}}
    <div id="divContenidoDetalle">
        {{#each this.ListaDetalleModel as |detalle|}}
        <div class="contenedor_items_pedido">
            <div class="bloque_descripcion_items_ingresados">
                <div class="descripcion_item_pedido">
                    <span class="mensaje_tipoProd">
                        {{#iff detalle.TipoPedido '==' 'M'}}
                        <br />
                        <span>App móvil</span>
                        {{/iff}}

                        {{#IsNullOrEmpty detalle.DescripcionOferta '!='}}
                        <br />
                        {{#iff (UpperCase DescripcionOferta) 'Contains' 'OFERTA PARA TI'}}
                        {{else}}
                        <label for="{{detalle.DescripcionOferta}}">{{Replace (Replace detalle.DescripcionOferta '[' '') ']' ''}}</label>
                        {{/iff}}
                        {{/IsNullOrEmpty}}

                    </span>
                    <span class="cod_prod">
                        {{#if detalle.EstadoSimplificacionCuv}}
                        {{#if detalle.IndicadorOfertaCUV}}
                        <input type="hidden" name="ExisteIndicadorOfertaCUV" class="ExisteIndicadorOfertaCUV" value="true" />
                        <span class="icon-advertencia"></span>
                        {{/if}}
                        {{/if}}
                        {{detalle.CUV}}
                    </span>
                    <span class="desc_prod">
                        {{#iff detalle.IndicadorMontoMinimo '==' 0}}
                        <span class="texto_rojo">*</span>
                        {{/iff}}
                        <span">{{Split detalle.DescripcionProd '|' 0}}</span>
                    </span>
                    {{#iff detalle.EsKitNueva '==' false}}
                    <span class="nom_cliente">Cliente: {{detalle.Nombre}}</span>
                    {{/iff}}
                </div>

                {{#if detalle.EsKitNueva}}
                <div class="icono_kitNuevas">
                    <a href="javascript:;" title="Ver Info Kit Nuevas">
                        <img src="@Url.Content("~/Content/Images/Esika/info-copy.png")" alt="Ver Info Kit Nuevas" />
                    </a>
                    <div class="tooltip_kitNuevas">
                        <span class="icono_notaDemanda" style="display:inline-block;"></span>
                        <span class="texto_tooltipKitNuevas">
                            Este Kit se agrega automáticamente sólo en tu primer pedido.
                        </span>
                    </div>
                </div>
                {{else}}
                
                <div class="icono_eliminar_item_pedido">
                    <a href="javascript:;" title="Eliminar" onclick="EliminarPedidoEvento(event)" data-pedidodetalleid="{{detalle.PedidoDetalleID}}" data-setid="{{detalle.SetID}}">
                        <img src="@Url.Content("~/Content/Images/Esika/tacho-copy.png")" alt="Eliminar" />
                    </a>
                </div>
                
                {{/if}}
            </div>            
            <div class="bloque_cantidades_precios_items_ingresados">
                <div class="contenedor_cantidadProductos">
                    <div data-cantidad-contenedor="">
                        <div class="campo_cantidadProductos">
                            {{#iff detalle.EsKitNueva '==' true}}
                            <input type="tel"
                                   class="ValidaNumeral ValidaPasteNumeral Cantidad"                                   
                                   maxlength="2"
                                   name="Cantidad_{{detalle.PedidoDetalleID}}"
                                   value="{{detalle.Cantidad}}"
                                   data-pedidodetalleid="{{detalle.PedidoDetalleID}}"
                                   data-setId="{{detalle.SetID}}"
                                   data-cantidad-input="-"
                                   readonly="readonly"
                                   autocomplete="off">
                            {{else iff detalle.TipoEstrategiaID '==' 1}}
                            <input type="tel"
                                   class="ValidaNumeral ValidaPasteNumeral Cantidad"                                   
                                   maxlength="2"
                                   name="Cantidad_{{detalle.PedidoDetalleID}}"
                                   value="{{detalle.Cantidad}}"
                                   data-pedidodetalleid="{{detalle.PedidoDetalleID}}"
                                   data-setId="{{detalle.SetID}}"
                                   data-cantidad-input="-"
                                   readonly="readonly"
                                   autocomplete="off">
                            {{else}}
                            <input type="tel"
                                   class="ValidaNumeral ValidaPasteNumeral Cantidad"                                   
                                   maxlength="2"
                                   name="Cantidad_{{detalle.PedidoDetalleID}}"
                                   onblur="UpdateLiquidacionEvento(event)"
                                   onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);"
                                   value="{{detalle.Cantidad}}"
                                   data-pedidodetalleid="{{detalle.PedidoDetalleID}}"
                                   data-setId="{{detalle.SetID}}"
                                   data-cantidad-input="-"
                                   autocomplete="off">
                            {{/iff}}
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="precios_item">
                    <span class="precio_normal_pedido">
                        <span>{{SimboloMoneda}} {{detalle.FormatoPrecioUnidad}}</span>
                    </span>
                    <span class="precio_oferta_pedido">
                        {{#if ../EstadoSimplificacionCuv}}
                        {{#if detalle.IndicadorOfertaCUV}}
                        <span class="icon-advertencia"></span>
                        {{/if}}
                        {{/if}}
                        <span>{{SimboloMoneda}} <label class="ImporteTotal">{{detalle.FormatoImporteTotal}}</label></span>
                    </span>
                </div>
            </div>

            {{#IsNullOrEmpty detalle.Mensaje '!='}}
            <div class="notificacion_productoAgotado">
                <small>
                    {{#iff detalle.TipoObservacion '!=' 0}}
                    {{{Replace detalle.Mensaje '¿Deseas aceptar el reemplazo?' ''}}}
                    {{else}}
                    {{detalle.Mensaje}}
                    {{/iff}}
                </small>
            </div>
            {{/IsNullOrEmpty}}
            {{#if EsBackOrder}}
            {{#if AceptoBackOrder}}
            <div class="stock_content_agotado">
                <div class="texto_stock" style="color:black"><b>Te entregaremos el producto en la siguiente campaña.</b></div>
            </div>
            {{else}}
            <div class="stock_content">
                <div class="texto_stock">No contamos con stock de este producto. ¿Deseas que te lo entreguemos en la siguiente campaña?</div>
                <a class="btn_no_stock" onclick="EliminarPedidoEvento(event, '{{EsBackOrder}}');" data-pedidodetalleid="{{detalle.PedidoDetalleID}}" data-setid="{{detalle.SetID}}" >NO, GRACIAS</a>
                <a class="btn_si_stock" onclick="AceptarBackOrder('{{CampaniaID}}', '{{PedidoID}}', '{{PedidoDetalleID}}', '{{ClienteID_}}');" href="javascript:;">¡SI, POR FAVOR!</a>
                <hr class="clear" />
            </div>
            {{/if}}
            {{/if}}
        </div>
        {{/each}}
    </div>

    <div class="separador"></div>
    <div style="margin-left: -28px;">
        <div class="textos_resumen">
            <span style="margin-left:30px;">HE AGREGADO :</span>
            <span>
                <div class="info_validado">
                    <img src="/Content/Images/Esika/info-copy.png" />
                    <div class="tooltip_validado_importe">
                        <div class="left_reservado">
                            <div class="datos_Reservado">
                                <span>Total sin Dscto. </span>
                                <span>Dscto por niveles</span>
                            </div>
                        </div>
                        <div class="right_reservado">
                            <div class="datos_Reservado">
                                <span data-pedidototal="">{{SimboloMoneda}} {{FormatoTotal}}</span>
                                <span data-montodescuento="">{{SimboloMoneda}} {{#iff FormatoMontoDescuento '>' 0}}-{{/iff}}{{FormatoMontoDescuento}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                MONTO TOTAL :
            </span>

            <div class="mi_ganancia" style="margin-left: 30px;">
                @(cabezaEscala) :
            </div>
        </div>

        <div class="montos_resumen">
            <span><b data-cantidadproducto="">{{TotalProductos}}</b>&nbsp;&nbsp;UNIDADES</span>
            <span><b>{{SimboloMoneda}}&nbsp;&nbsp;</b><b data-pedidocondescuento="">{{FormatoTotalConDescuento}}</b></span>
            <span class="mi_ganancia"><b>{{SimboloMoneda}}&nbsp;&nbsp;</b><b data-ganancia="">{{FormatoMontoGanancia}}</b></span>
        </div>
    </div>

    <div class="mensajes_adicionales_ingresoPedido" id="iconoAdvertenciaNotificacion" style="display: none;">
        <span class="icono_advertencia_notificacion"></span>
        <span class="detalle_mensajeAdicional">
            El precio total no incluye el descuento para ofertas con más de un precio (1x, 2x).<br />
            Al validar tu pedido, el sistema elegirá la mejor combinación de precios posibles para ti.
        </span>
    </div>
    
    <div class="mensaje_eliminarPedido">
        <span>
            Para eliminar el pedido completo
            <a href="javascript:;" title="Haz click aquí" onclick="PedidoDetalleEliminarTodoConfirmar()">haz click aquí</a>
        </span>
    </div>
  
    
</script>

<script id="ofertaFinal-template" type="text/x-handlebars-template">
    <div  data-popup-body="">
        <div class="popup_ofertaFinal fondo_gris_popup" data-meta="{{TipoMeta}}" data-meta-total="{{TotalPedido}}">
            <a class="cerrar_popMobile" href="javascript:;" style="top:6px; right:10px;" data-popup-close="divOfertaFinal" onclick="of_google_analytics_cerrar_popup()">
                <div class="draw_close" alt="Cerrar"></div>
            </a>
            <div class="numero_pedido" id="div-numero-pedido" style="display: none;">
                <div class="numero_pedido_fondo">
                    <img id="img-numero-pedido-fondo" src="/Content/Images/popup_pedido/numero_pedido_mobile_bg.png">
                    <div class="content-texto-numero-pedido" id="msg-numero-pedido" style="padding-top: 15px;">
                        <span class="numero_pd" id="numero-pd">4</span>
                        <span class="posicion_pd" id="posicion-pd">TO.</span>
                        <div class="texto_pd" id="texto-pd">PEDIDO</div>
                    </div>
                    <div style="clear:both;"></div>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div class="content_texto_OPT" id="div-content-of-titulo">
                <div class="icono_alerta {{ofIconoSuperior}}" id="ofIconoSuperior" style="margin-top:10px; margin-bottom:10px; width:40px; height:40px;"></div>

                <h1 class="ofertaFinal_titulo" id="spnTituloOfertaFinal">
                    {{#if_eq TipoMeta 'MM'}}
                    <span><b>AÚN TE FALTA {{SimboloMoneda}} <span data-monto="">{{MetaMontoStr}}</span><br />PARA LLEGAR AL MONTO MÍNIMO</b></span>
                    {{else if_eq TipoMeta 'GM'}}
                    <span>¡GUARDASTE TU <b>PEDIDO<br />CON ÉXITO!</b></span>
                    {{else}}
                    <span>¡GUARDASTE TU <b>PEDIDO<br />CON ÉXITO!</b></span>
                    {{/if_eq}}
                </h1>
                <div class="ofertaFinal_descripcion" id="msjOfertaFinal" data-meta-porcentaje="{{MetaPorcentaje}}" data-meta-monto="{{MontoMeta}}">
                    {{#if_eq TipoMeta 'MM'}}
                    <span>TE AYUDAMOS A ALCANZARLO CON ESTAS OFERTAS</span>
                    {{else if_eq TipoMeta 'GM'}}
                    {{#iff Cross '==' '1'}}
                    <span>APROVECHA ESTAS OFERTAS Y <br><b>GANA MÁS</b> SUMANDO LOS COMPLEMENTOS DE TU PEDIDO</span>
                    {{else}}
                    <span>APROVECHA ESTAS OFERTAS Y <br><b>GANA MÁS</b> ESTA CAMPAÑA</span>
                    {{/iff}}
                    {{else if_eq TipoMeta 'RG'}}
                    <span class="mensaje_premios_increibles">@ViewBag.NombreConsultora APROVECHA ESTAS OFERTAS Y <b>GANA PREMIOS INCREÍBLES</b></span>
                    {{else}}
                    <span>ALCANZA EL <b style="font-size:23px;">{{MetaPorcentaje}}%</b> DSCTO AGREGANDO {{SimboloMoneda}} <span data-monto="">{{MetaMontoStr}}</span> DE ESTAS OFERTAS</span>
                    {{/if_eq}}
                </div>
                <div class="content_producto_alternativo" id="div-regalo-pn" style="display: none;">
                    <div class="content-texto-producto-alternativo">
                        <div id="msg-regalo-pn2">AGREGA S/.50.00 PARA <b>GANAR UN ESIKA LEYENDA 100ML*</b> Y ACCEDER A PACKS EXCLUSIVOS NUEVAS**</div>
                    </div>
                    <div class="content_imagen_alternativo" style="display: none;">
                        <img id="img-regalo-pn" src="http://S3.amazonaws.com/consultorasQAS/SomosBelcorp/Matriz/PE/PE_2000111962017530330_cjzkqorxhx.png">
                    </div>
                </div>
            </div>

            <div class="btn_regalo_sorpresa" id="linkRegaloSorpresa" style="background-image: url('/Content/Images/mobile/sr_of_mobile.png'); display: none;">
                <div class="txt_regalo_sorpresa">
                    <span id="msg-regalo-sp-1" class="span_1_regalo_sorpresa" style="display:none">!GANASTE!<br></span>
                    <span id="msg-regalo-sp-2" class="span_2_regalo_sorpresa" style="display:none">ESCOGE TU PREMIO<br></span>
                    <span id="msg-regalo-sp-3" class="span_3_regalo_sorpresa" style="display:block">¡TE FALTA <span data-regalo-agrega="">$119.00</span> PARA<br></span>
                    <span id="msg-regalo-sp-4" class="span_4_regalo_sorpresa" style="display:block">ESCOGER TU PREMIO!<br></span>
                    <span id="msg-regalo-sp-link" class="span_link_regalo_sorpresa">HAZ CLICK AQUÍ</span>
                </div>
                <div class="img_regalos_sorpresa">
                    <div class="img_regalo_sorpresa" id="of-regalo-foto2">
                        <img src="{{RegaloFoto2}}">
                    </div>
                    <div class="img_regalo_sorpresa img_2_regalo_sorpresa" id="of-regalo-foto1">
                        <img src="{{RegaloFoto1}}">
                    </div>
                </div>
            </div>

            <div class="contenedor_carruselOfertaFinal">
                <div class="bloque_carousel" style="margin-bottom:17px;">
                    <div class="slider center" id="divCarruselOfertaFinal" style="width: 100%">
                        {{#each this.Detalle}}
                        <div class="content_item_carrusel_ofertaFinal" data-item="ofertaFinal" data-id="{{ID}}">
                            <div style="display: none;">
                                <input type="hidden" class="hdOfertaFinalCuv" value="{{CUV}}" />
                                <input type="hidden" class="hdOfertaFinalTipoOfertaSisID" value="{{TipoOfertaSisID}}" />
                                <input type="hidden" class="hdOfertaFinalConfiguracionOfertaID" value="{{ConfiguracionOfertaID}}" />
                                <input type="hidden" class="hdOfertaFinalIndicadorMontoMinimo" value="{{IndicadorMontoMinimo}}" />
                                <input type="hidden" class="hdOfertaFinalTipo" value="1" />
                                <input type="hidden" class="hdOfertaFinalMarcaID" value="{{MarcaID}}" />
                                <input type="hidden" class="hdOfertaFinalPrecioUnidad" value="{{PrecioCatalogo}}" />
                                <input type="hidden" class="hdOfertaFinalDescripcionProd" value="{{Descripcion}}" />
                                <input type="hidden" class="hdOfertaFinalNombreComercial" value="{{NombreComercial}}" />
                                <input type="hidden" class="hdOfertaFinalVolumen" value="{{Volumen}}" />
                                <input type="hidden" class="hdOfertaFinalPagina" value="0" />
                                <input type="hidden" class="hdOfertaFinalDescripcionCategoria" value="{{DescripcionCategoria}}" />
                                <input type="hidden" class="hdOfertaFinalDescripcionMarca" value="{{DescripcionMarca}}" />
                                <input type="hidden" class="hdOfertaFinalDescripcionEstrategia" value="{{DescripcionEstrategia}}" />
                                <input type="hidden" class="hdOfertaFinalImagenProductoSugerido" value="{{ImagenProductoSugerido}}" />
                                <input type="hidden" class="hdOfertaFinalImagenProductoSugeridoMedium" value="{{ImagenProductoSugeridoMedium}}" />
                                <input type="hidden" class="hdOfertaFinalPrecioValorizado" value="{{PrecioValorizado}}" />
                                <input type="hidden" class="hdOfertaFinalPrecioCatalogo" value="{{PrecioCatalogo}}" />
                                <input type="hidden" class="hdOfertaFinalPrecioValorizadoString" value="{{PrecioValorizadoString}}" />
                                <input type="hidden" class="hdOfertaFinalPrecioCatalogoString" value="{{PrecioCatalogoString}}" />
                                <input type="hidden" class="hdOfertaFinalDescripcionComercial" value="{{DescripcionComercial}}" />
                                <input type="hidden" class="hdOfertaFinalDescripcionRelacionado" value="{{CUVComplemento}}" />
                                <input type="hidden" class="hdOfertaFinalCUVPedidoImagen" value="{{CUVPedidoImagen}}" />
                                <input type="hidden" class="hdOfertaFinalID" value="{{ID}}" />
                                <input type="hidden" class="hdOfertaFinalTipoMeta" value="{{TipoMeta}}" />
                                <input type="hidden" class="hdOfertaFinalTipoEstrategiaID" value="{{TipoEstrategiaID}}" />
                            </div>
                            <div class="contenido_item_ofertaFinal">
                                <div class="producto_img_home" onclick="javascript:CargarVerDetalleOF(this, event);" data-id="{{id}}" data-verdetalle="">
                                    <img src="{{ImagenProductoSugeridoSmall}}">
                                </div>
                                <div class="producto_nombre_descripcion">
                                    <div onclick="javascript:CargarVerDetalleOF(this, event);" data-id="{{id}}">
                                        <h6>{{DescripcionMarca}}</h6>
                                        <p class="nombre_producto">
                                            <b>{{NombreComercial}}</b>
                                        </p>
                                        <div class="producto_precio">
                                            {{#iff PrecioValorizado '>' '0'}}
                                            <span class="producto_precio_normal">{{SimboloMoneda}} {{PrecioValorizadoString}}</span>
                                            {{/iff}}
                                            <span class="producto_precio_oferta"><b>{{SimboloMoneda}} {{PrecioCatalogoString}}</b></span>
                                        </div>
                                    </div>
                                    <div class="contenedor_cantidadProductos">
                                        <span class="textoCantidad">CANTIDAD:</span>
                                        <div>
                                            <a class="cantidad_menos_home"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
                                            <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" data-input="cantidad">
                                            <a class="cantidad_mas_home"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <a class="boton_Agregalo_home agregarOfertaFinal" onclick="of_google_analytics_addtocar('mobile','list',{{ID}},'{{TipoMeta}}')">
                                        AGRÉGALO
                                    </a>
                                    <div class="clear"></div>
                                    <div class="content_carrusel_agregado" style="display: block;padding: 0px 0px 10px;">
                                        <div class="agregado product-add" style="text-align:right;display:none;">
                                            AGREGADO
                                            <div class="icono"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
                <button class="enlace_btnNoGracias btnNoGraciasOfertaFinal icono_terminar_pedido" id="btnNoGraciasOfertaFinal" style="display:{{#iff TipoMeta '==' 'MM'}}none;{{else}}block;{{/iff}};" onclick="of_google_analytics_cerrar_popup()">
                    RESERVA TU PEDIDO
                </button>
                <div id="txt-disclaimer-pn" class="txt-ayuda1-pn" style="display: none;">
                    *En caso tu pedido no tenga observaciones y supere el monto mínimo.<br><br>
                    ** Encuéntralos en la sección de Ofertas para Ti.
                </div>
            </div>
            <div class="content_producto_alternativo" id="div-regalo-pn" style="display:none;">
                <div class="content_imagen_alternativo">
                    <img id="img-regalo-pn" src="http://S3.amazonaws.com/consultorasQAS/SomosBelcorp/Matriz/PE/PE_2000111962017530330_cjzkqorxhx.png">
                </div>
                <div class="content-texto-producto-alternativo">
                    <div id="msg-regalo-pn2">
                        Llega al monto mínimo <b>Gana 1 ÉSIKA MAGNAT</b>
                    </div>
                    <div id="txt-disclaimer-pn" class="txt-ayuda1-pn" style="display: none;"></div>
                </div>
            </div>
        </div>

        <div id="ContentSorpresaMobile" class="ContentSorpresaMobile" style="background-image: url('/Content/Images/mobile/banner_mobile.png'); display: none;">
            <div class="btn_regresa_OF" href="javascript:;" data-regresar-of="">
                <img class="img_regresa_OF" img="" src="/Content/Images/Esika/regresar.png" alt="">
                <span class="span_regresa_OF">VOLVER</span>
            </div>
            <a class="cerrar_popMobile" href="javascript:;" style="top:12px; right:15px; position:absolute;" data-regresar-of="">
                <div class="draw_close draw_close_white" alt="Cerrar"></div>
            </a>

            <div class="icono_regalo_sorpresa">
                <img src="/Content/Images/gif-regalo-gano.gif" alt="">
            </div>
            <div class="txt_regalo_sorpresa_popup box_regalo_sorpresa_popup">
                <span class="span_3_regalo_sorpresa_popup" id="of-regalo-msg1">FELICIDADES @ViewBag.NombreConsultora<br></span>
                <span class="span_3_regalo_sorpresa_popup" id="of-regalo-msg2">TE FALTAN $119.00<br></span>
                <span class="span_4_regalo_sorpresa_popup" id="of-regalo-msg3">¡ESCOGE TU PREMIO!<br></span>
            </div>

            <div class="arrow_box" id="content-regalo-agrega" style="display:none;">
                <div class="txt_regalo_sorpresa_popup">
                    <div class="span_2_regalo_sorpresa_producto"><b>TE FALTA <span data-regalo-agrega="">$119.00</span></b><br></div>
                    <div class="span_1_regalo_sorpresa_producto">PARA TU META DE <span id="of-regalo-montometa">$300.00</span></div>
                </div>
            </div>
            <div class="slider center" id="divCarruselRegaloMobile" style="width: 100%; margin: 0 auto 0 auto;">
                {{#each this.Upselling.Regalos}}
                <div class="content_item_carrusel_ofertaFinal" data-item="ofertaFinalRegalo" data-id="{{UpSellingRegaloId}}">
                    <div class="content_info_regalo" id="of-regalo-{{UpSellingRegaloId}}">
                        <input type="hidden" class="of-regalo-cuv" value="{{CUV}}" />
                        <input type="hidden" class="of-regalo-stock" value="{{StockActual}}" />
                        <div class="titulo_regalo_producto">{{Nombre}}</div>
                        <div class="content_imagen_sorpresa">
                            <img class="of-regalo-imagen" src="{{Imagen}}" alt="" />
                        </div>
                        <div class="descripcion_regalo">
                            {{Descripcion}}
                        </div>
                        <div>
                            <input class="boton_quiero_este_premio" type="button" data-agregar-regalo="" value="QUIERO ESTE PREMIO" onclick="InsertUpSellingRegalo('{{UpSellingRegaloId}}','{{CUV}}')" />
                        </div>

                        {{#iff StockActual '==' '0'}}
                        <div class="content_regalo_sinstock" data-regalo-sinstock="">
                            <div class="txt_agotado">AGOTADO</div>
                        </div>
                        {{/iff}}
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="txt_paginacion_premio" id="txt_paginacion_premio_gana">
                <span class="span_paginacion_premio_1" id="of-regalo-actual">1</span>
                <span> / </span><span id="of-regalo-total">3</span>
            </div>
            <div class="btn_sigue_comprando" id="btn_sigue_comprando_gana">SIGUE COMPRANDO Y GANA</div>
            <div class="txt_nota_premio" data-regalo-recuerda="">Recuerda <b>pasar pedido en la siguiente<br />campaña</b> para recibir tu premio</div>
            <a class="btn_legal_RS" target="_blank" href="@ViewBag.UrlTerminosOfertaFinalRegalo" id="of-regalo-terminos">*Descargar términos y condiciones</a>

        </div>

        <div id="divGanoRegalo" class="ContentSorpresaMobile" style="background-image: url('/Content/Images/mobile/banner_mobile.png'); display: none;">
            <div class="btn_regresa_OF" id="btnCambiarRegalo">
                <img class="img_regresa_OF" img="" src="/Content/Images/Esika/regresar.png" alt="">
                <span class="span_regresa_OF">CAMBIAR REGALO</span>
            </div>
            <a class="cerrar_popMobile" href="javascript:;" style="top:12px; right:15px; position: absolute;" data-regresar-of="">
                <div class="draw_close draw_close_white" alt="Cerrar"></div>
            </a>
            <div class="icono_regalo_sorpresa" style="margin-top: 20px;">
                <img src="/Content/Images/gif-regalo-gano.gif" alt="">
            </div>
            <div class="txt_regalo_sorpresa_popup box_regalo_sorpresa_popup">
                <span class="span_1_regalo_sorpresa_popup" id="of-gano-msg1">¡GANASTE @ViewBag.NombreConsultora!<br></span>
                <span class="span_2_regalo_sorpresa_popup" id="of-gano-msg3">SUPERASTE TU META, ORDENANDO <span id="of-regalo-montometa-msg3">$300.00</span><br></span>
            </div>

            <div class="arrow_box">
                <div class="txt_regalo_sorpresa_popup">
                    <div class="span_2_regalo_ganaste_producto" id="of-regalo-estuyo"><b>SOLO RECUERDA</b><br></div>
                    <div class="span_1_regalo_ganaste_producto" data-regalo-recuerda="">Pasar pedido en la siguiente<br>campaña para recibir tu premio*</div>
                </div>
            </div>

            <div class="content_info_regalo">
                <div class="titulo_regalo_producto" id="of-regalo-descripcion">Bicicleta Rockrider 340 Azul</div>
                <div class="content_imagen_sorpresa">
                    <img id="of-regalo-imagen" src="https://image.prntscr.com/image/jehvsnsYSyS4klODMOPo5w.png" alt=""/>
                </div>
                <div class="descripcion_regalo" id="of-regalo-descripcion-larga">
                    Pedalier de acero con triple plato, con protección de plástico de color azul. Tamaño 80cm x 120cm.
                </div>
            </div>

            <a class="btn_legal_RS" target="_blank" href="@ViewBag.UrlTerminosOfertaFinalRegalo" style="margin-top:35px;" id="of-regalo-terminos">*Descargar términos y condiciones</a>
        </div>

    </div>
    
</script>

<script id="ofertaFinalVerDetalle-template" type="text/x-handlebars-template">
        <div class="content_popMobile" data-item="{{ID}}" style="padding-bottom:0;">
        <a class="btn_cerrar_escala" href="javascript:;" onclick="javascript: $('#contenedor_popup_ofertaFinalVerDetalle').hide();">REGRESAR</a>
        <hr class="clear">
        <div class="content_imagen_ficha" style="overflow:hidden;">
            <img src="{{ImagenProductoSugerido}}" alt="PRODUCTO" style="width:90%;">
        </div>
        <div class="marca_ficha_producto">{{DescripcionMarca}}</div>
        <div class="titulo_ficha_producto" style="line-height:16px;">{{NombreComercial}}</div>
        <div class="precio_ficha_producto">
            {{#iff PrecioValorizado '>' '0'}}
            <span class="precio_tachado_ficha">{{SimboloMoneda}} {{PrecioValorizadoString}}</span><br />
            {{/iff}}
            <span class="texto_comple_ficha">Precio para ti </span>&nbsp;{{SimboloMoneda}} {{PrecioCatalogoString}}
        </div>
        {{#iff DescripcionRelacionado '!=' ''}}
        <div class="producto_sugerido_texto">
            Cómpralo porque ya tienes<br />
            <b>{{DescripcionRelacionado}}</b><br />
            en tu pedido
        </div>
        {{/iff}}
        <div class="content_redes_ficha">
            <div data-compartir-campos="" style="display:none;">
                <input type="hidden" class="CUV" value="{{CUV}}" />
                <input type="hidden" class="rsFBMensaje" value="" />
                <input type="hidden" class="rsWAMensaje" value="" />
                <input type="hidden" class="rsFBRutaImagen" value="{{ImagenProductoSugerido}}" />
                <input type="hidden" class="rsWARutaImagen" value="{{ImagenProductoSugerido}}" />
                <input type="hidden" class="MarcaID" value="{{MarcaID}}" />
                <input type="hidden" class="MarcaNombre" value="{{DescripcionMarca}}" />
                <input type="hidden" class="Nombre" value="{{Descripcion}}" />
                <input type="hidden" class="ProductoDescripcion" value="{{DescripcionComercial}}" />
                <input type="hidden" class="Volumen" value="{{Volumen}}" />
                <input type="hidden" class="Palanca" value="OF" />
                <input type="hidden" class="ID" value="{{ID}}" />
                <input type="hidden" class="TipoMeta" value="{{TipoMeta}}" />
                <input type="hidden" class="PrecioValorizado" value="{{PrecioValorizado}}" />
                <input type="hidden" class="PrecioCatalogo" value="{{PrecioCatalogo}}" />
                <input type="hidden" class="PrecioValorizadoString" value="{{PrecioValorizadoString}}" />
                <input type="hidden" class="PrecioCatalogoString" value="{{PrecioCatalogoString}}" />
                <input type="hidden" class="DescripcionEstrategia" value="{{DescripcionEstrategia}}" />
                <input type="hidden" class="hdOfertaFinalTipoEstrategiaID" value="{{TipoEstrategiaID}}" />
            </div>
            @if (mobileConfiguracion.MostrarHipervinculo)
            {
            <a class="btn_compartir_ofertas" href="javascript: void(0);" data-compartir="WA">
                <img src="/Content/Images/Mobile/Esika/catalogo_ws.png" alt="">
            </a>
            <a class="btn_compartir_ofertas" href="javascript: void(0);" data-compartir="FB">
                <img src="/Content/Images/Mobile/Esika/facebook.png" alt="">
            </a>
            }
        </div>
        <hr class="clear">
        <div style="margin-left:-20px; margin-right:-20px;">
            <div class="content_btn_agregar content_OPT">
                <div class="content_320" style="max-width:292px; width:auto;">
                    <div class="content_cantidad_ficha_producto">
                        <a class="cantidad_menos_home"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
                        <input type="tel" value="1" size="2" maxlength="2" id="txtCantidadFichaOPT" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" data-input="cantidad">
                        <a class="cantidad_mas_home"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
                    </div>
                        <a class="btn_agregar_ficha_producto agregarOfertaFinalVerDetalle" href="javascript:;" data-popup-verdetalle="{{id}}"
                           onclick="of_google_analytics_addtocar('mobile','detail',{{ID}},'{{TipoMeta}}')">AGRÉGALO</a>
                    <hr class="clear">
                </div>
            </div>
        </div>
    </div>
</script>

@Html.Partial("~/Views/Shared/Cupon/popupCuponGanaMobile.cshtml")
@Html.Partial("~/Views/Shared/Cupon/popupCuponConfirmarMobile.cshtml")
@Html.Partial("~/Views/Shared/Cupon/popupCuponGanasteMobile.cshtml")

@section Scripts{

    <script type="text/javascript">
        var codigoIsoPais = '@Model.CodigoISO';
        var menuNotificaciones = '@ViewBag.MenuNotificaciones';
        var falgValidacionPedido = '@Model.FlagValidacionPedido';
        var ofertaLiquidacion = '@Constantes.ConfiguracionOferta.Liquidacion';
        var ofertaShowRoom = '@Constantes.ConfiguracionOferta.ShowRoom';
        var ofertaAccesorizate = '@Constantes.ConfiguracionOferta.Accesorizate';

        var urlEjecutarServicioPROL = '@Url.Action("EjecutarServicioPROL", "Pedido", new {area = ""})';
        var urlPedidoValidado = '@Url.Action("Validado", "Pedido", new {area = "Mobile"})';
        var urlHorarioRestringido = '@Url.Action("EnHorarioRestringido", "Pedido", new {area = ""})';

        var urlValidarUnidadesPermitidasPedidoProductoShowRoom = '@Url.Action("ValidarUnidadesPermitidasPedidoProducto", "ShowRoom", new {area = ""})';
        var urlObtenerStockActualProductoShowRoom = '@Url.Action("ObtenerStockActualProducto", "ShowRoom", new {area = ""})';
        var urlValidarUnidadesPermitidasPedidoProducto = '@Url.Action("ValidarUnidadesPermitidasPedidoProducto", "OfertaLiquidacion", new {area = ""})';
        var urlObtenerStockActualProducto = '@Url.Action("ObtenerStockActualProducto", "OfertaLiquidacion", new {area = ""})';
        var urlValidarUnidadesPermitidasPedidoProducto2 = '@Url.Action("ValidarUnidadesPermitidasPedidoProducto", "Accesorizate", new {area = ""})';
        var urlObtenerStockActualProducto2 = '@Url.Action("ObtenerStockActualProducto", "Accesorizate", new {area = ""})';

        var urlValidarStockEstrategia = '@Url.Action("ValidarStockEstrategia", "Pedido", new {area = ""})';
        var urlPedidoUpdate = '@Url.Action("Update", "Pedido", new {area = ""})';
        var urlPedidoDelete = '@Url.Action("Delete", "Pedido", new {area = ""})';
        var urlPedidoDeleteAll = '@Url.Action("DeleteAll", "Pedido", new { area = "" })';
        var urlInsertarDesglose = '@Url.Action("InsertarDesglose", "Pedido", new {area = ""})';
        var urlDeshacerReservaPedidoReservado = '@Url.Action("PedidoValidadoDeshacerReserva", "Pedido", new { area = "" })';
        var urlPedidoAceptarBackOrder = '@Url.Action("AceptarBackOrder", "Pedido", new { area = "" })';

        var urlDetallePedido = '@Url.Action("CargarDetallePedido", "Pedido", new { area = "" })';
        var urlValidarKitNuevas = '@Url.Action("ValidarKitNuevas", "Pedido", new { area = "" })';
        var urlReservadoOEnHorarioRestringido = '@Url.Action("ReservadoOEnHorarioRestringido", "Pedido", new { area = "" })';
        var fnEliminarProducto = null;

        var listaEscalaDescuento = JSON.parse($("#hdListaEscala").val());
        var listaParametriaOfertaFinal = JSON.parse($("#hdListaParametriaOfertaFinal").val());

        var urlLoad = '@Url.Content("~/Content/Images/Loading.gif")';
        var viewBagPaisID = '@Model.PaisID';
        var viewBagNombrePais = '@ViewBag.NombrePais';
        var urlPedidoInsert = '@Url.Action("PedidoInsertar", "Pedido", new {area = ""})';

        var origenPagina = 2;
        var cuvOfertaProl = '@ViewBag.CUVOfertaProl';
        var autoReservar = ('@Model.AutoReservar'.toLowerCase() == 'true');
        var tieneCupon = '@Model.TieneCupon';
        var esEmailActivo = '@Model.EmailActivo';
        var viewBagCampaniaActual = '@Model.CampaniaActual';
        var paisISO = '@ViewBag.paisISO';
        var viewBagAmbiente = '@ViewBag.Ambiente';
        var paginaOrigenCupon = 21;
        var correo = '@Model.EMail';
        var celular = '@Model.Celular';

        var consultoraRegaloPN = '@ViewBag.ConsultoraTieneRegaloPN';
        var ofertaFinalEstado = '@ViewBag.OfertaFinalEstado';
        var ofertaFinalAlgoritmo = '@ViewBag.OfertaFinalAlgoritmo';
        var nombreConsultora = '@ViewBag.NombreConsultora';
        var MobilePedidoOfertaFinal = @Constantes.OrigenPedidoWeb.MobilePedidoOfertaFinal;
        var mensajePedidoVacio = '@Constantes.MensajesError.Reserva_SinDetalle';
        var mensajeErrorReserva = '@Constantes.MensajesError.Reserva_Error';
        var mensajeSinConexionReserva = '@Constantes.MensajesError.SinConexion_Reserva';
    </script>
    @System.Web.Optimization.Scripts.Render("~/bundles/JsMobile/PedidoDetalle")

    @if (Model.MostrarPopupPrecargados)
    {
        <script>
            $(document).ready(function () {
                messageInfoValidado('@Html.Raw(Constantes.RecuperacionPedido.Mensaje)');
            });

        </script>
    }    
}
