@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Areas.Mobile.Models
@using Portal.Consultoras.Web.Models
@using Portal.Consultoras.Web.Helpers;

@model PedidoMobileModel
@{
    var layout = ViewContext.MobilePedidoLayout();
    ViewBag.SourcePage = 2;
    Layout = string.Format("~/Areas/Mobile/Views/Shared/{0}.cshtml", layout);
    var mobileConfiguracion = Html.MobileAppConfiguracion();
}
@section styles
{
    @Styles.Render("~/Bundle/Css/Mobile/Pedido")
}
<div class="wrapper_resumen_mobile sin_padding">
    @if (!mobileConfiguracion.EsAppMobile)
    {
        <div class="titulo_mobile alineaIzquierda pl-49 agregarSombraInferior">
            <a href="@Request.UrlReferrer" class="enlace_regresar ajustePosicionFlecha" style="display:normal" title="Regresar"></a>
            INGRESAR PEDIDO C@(Model.CampaniaNro)
        </div>
    }
    @Html.Partial("~/Areas/Mobile/Views/Util/_barra.cshtml")
    <input type="hidden" id="hdfSimbolo" value="@Model.Simbolo" />
    <input type="hidden" id="hdfTotal" value="@Model.Total" />
    <div class="banner_ingresoPedido nuevaAlturaBanner" style="background: #000 url(@ViewBag.UrlFranjaNegra) no-repeat center center;">
        <div class="content_320 ingresoPedido">
            <form>
                @Html.Hidden("txtClienteId", Model.ClienteId)
                @if (ViewBag.MobileApp && Model.ClienteId > 0)
                {
                    <input type="text" id="txtClienteNombre" placeholder="Cliente" class="PedidoClienteNombre" disabled value="@Model.Nombre" />
                }
                else
                {
                    <input type="text" id="txtClienteNombre" placeholder="Cliente" class="PedidoClienteNombre" />
                }

                <input type="tel" name="codigoProducto" value="" placeholder="Código" id="txtCodigoProducto" oninput="FuncionesGenerales.MaxLengthCheck(this, 5)" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" />
            </form>
        </div>
    </div>

    <div class="franja_inferior_banner_pedido"></div>

    <div style="display:none;" class="mensaje_ingreso_cuvs" id="divMensajeCUV">
        <a id="btnCerrarMensaje" class="cerrar_mensajeMobile" style="display:none;" href="javascript:;" onclick="javascript: $('#divMensajeCUV').hide();">
            <img src="@Url.Content("~/Content/Images/mobile/Esika/cerrar_04.png")" alt="-" />
        </a>
        <span id="divIcono" class="icono_aprobacion"></span>
        <span id="divMensaje" class="mensaje_productoCUV">
        </span>
    </div>

    <div class="contenedor_producto">
        <div class="content_320 ingresoPedidom">
            <div id="divProductoMantenedor" style="display: none;">
                <div style="display: none;">
                    <input type="hidden" id="hdfCUV" />
                    <input type="hidden" id="hdTipoOfertaSisID" />
                    <input type="hidden" id="hdConfiguracionOfertaID" />
                    <input type="hidden" id="hdfDescripcionCategoria" />
                    <input type="hidden" id="hdfDescripcionEstrategia" />
                    <input type="hidden" id="hdfDescripcionMarca" />
                    <input type="hidden" id="hdfIndicadorMontoMinimo" />
                    <input type="hidden" id="hdfMarcaID" />
                    <input type="hidden" id="hdfPrecioUnidad" />
                    <input type="hidden" id="hdfDescripcionProd" />
                    <input type="hidden" id="hdCuvRecomendado" />
                    <input type="hidden" id="hdTipoEstrategiaID" />
                    <input type="hidden" id="hdCuvEnSession" value="@Session["CUVProductoDesctacado"]" />
                    <input type="hidden" id="hdfValorFlagNueva" />
                    <input type="hidden" id="hdLimiteVenta" />
                </div>
                <div id="divProductoObservaciones"></div>
                <div id="divProductoInformacion">
                    <div class="nombreProducto" id="divNombreProducto"></div>
                    <div class="precioProducto">
                        <span id="spnTextoPrecio"></span>
                        <span class="precioOferta" id="spnPrecio"></span>
                    </div>
                    <div class="contenedor_cantidadProductos">
                        <span class="textoCantidad">CANTIDAD:</span>
                        <div>
                            <span class="signo_menos" id="resta">
                                <img src="/Content/Images/Mobile/Esika/menos.png">
                            </span>
                            <div class="campo_cantidadProductos">
                                <input type="tel" name="cantidad" value="1" id="txtCantidad" min="1" max="99" maxlength="2" oninput="FuncionesGenerales.MaxLengthCheck(this,2);" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" />
                            </div>
                            <span class="signo_mas" id="suma">
                                <img src="/Content/Images/Mobile/Esika/mas.png">
                            </span>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="divResumenPedido">
                <div class="contenedor_resumenPedido montosIngresoPedido">
                    <div class="textos_resumen">
                        <span id="lblProductosResumen" style="margin-left: 30px;">HE AGREGADO :</span>
                        <span id="lblTotalResumen">

                            <div class="info_validado">
                                <img src="/Content/Images/Esika/info-copy.png" />
                                <div class="tooltip_validado_importe">
                                    <div class="left_reservado">
                                        <div class="datos_Reservado">
                                            <span>Total sin Dscto. </span>
                                            <span>Dscto por niveles</span>
                                        </div>
                                    </div>
                                    <div class="right_reservado">
                                        <div class="datos_Reservado">
                                            <span data-pedidototal="">@Model.Simbolo @Model.DescripcionTotal</span>
                                            <span data-montodescuento="">@Model.Simbolo @Model.DescuentoStr</span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            MONTO TOTAL :
                        </span>
                        @{
                            string cabezaEscala = null, pieEscala = null;
                            string lbl1Ganancia = null, lbl2Ganancia = null;

                            if (Model.CodigoIso == Constantes.CodigosISOPais.Peru ||
                                        Model.CodigoIso == Constantes.CodigosISOPais.Colombia ||
                                        Model.CodigoIso == Constantes.CodigosISOPais.Ecuador ||
                                        Model.CodigoIso == Constantes.CodigosISOPais.Guatemala ||
                                        Model.CodigoIso == Constantes.CodigosISOPais.Salvador ||
                                        Model.CodigoIso == Constantes.CodigosISOPais.Dominicana ||
                                        Model.CodigoIso == Constantes.CodigosISOPais.PuertoRico)
                            {
                                cabezaEscala = "Ganancia estimada total";
                                pieEscala = "*Ganancia Total = Ahorro estimado proveniente de tus descuentos por compras en catálogo + ahorro estimado proveniente de compras de Guía de Negocio y Otros.";
                                lbl1Ganancia = "Mis descuentos";
                                lbl2Ganancia = "Ganancia estimada *(Guia de negocio y otros)";
                            }
                            else if (Model.CodigoIso == Constantes.CodigosISOPais.Mexico || Model.CodigoIso == Constantes.CodigosISOPais.Panama)
                            {
                                cabezaEscala = "Ganancia estimada total";
                                pieEscala = "*Ganancia Total = Ahorro estimado proveniente de tus descuentos por compras en catálogo + ahorro estimado proveniente de compras en Revista y Otros.";
                                lbl1Ganancia = "Mis descuentos";
                                lbl2Ganancia = "Ganancia estimada *(Revista y otros)";
                            }
                            else if (Model.CodigoIso == Constantes.CodigosISOPais.Chile)
                            {
                                cabezaEscala = "Comisión y ahorro total";
                                pieEscala = "*Comisión = Ganancia estimada proveniente de tus descuentos por compras en catálogo; <br>Ahorro = Ahorro estimado proveniente de compras de Guía de Negocio y Otros.";
                                lbl1Ganancia = "Mis descuentos (-)10% retencion comisión liquida";
                                lbl2Ganancia = "Ahorro estimado *(Guia de negocio y otros)";
                            }
                            else if (Model.CodigoIso == Constantes.CodigosISOPais.Venezuela)
                            {
                                cabezaEscala = "Oportunidad de ahorro total";
                                pieEscala = "Oportunidad de Ahorro Total = Ahorro estimado proveniente de sus descuentos por compras en catálogo + ahorro estimado proveniente de compras en Revista y Otros";
                                lbl1Ganancia = "Por tus compras de productos de catalogo";
                                lbl2Ganancia = "Por tus comprar de productos de revista";
                            }
                            else if (Model.CodigoIso == Constantes.CodigosISOPais.Bolivia)
                            {
                                cabezaEscala = "Ganancia total";
                                pieEscala = "Ganancia total = Ahorro estimado proveniente de sus descuentos por compras en catálogo + ahorro estimado proveniente de compras en Guía de Negocio y Otros";
                                lbl1Ganancia = "Mis descuentos";
                                lbl2Ganancia = "Ganancia estimada *(Guia de negocio y otros)";
                            }
                            else if (Model.CodigoIso == Constantes.CodigosISOPais.CostaRica)
                            {
                                cabezaEscala = "Oportunidad de ahorro total";
                                pieEscala = "Oportunidad de Ahorro Total = Ahorro estimado proveniente de sus descuentos por compras en catálogo + ahorro estimado proveniente de compras en Revista y Otros";
                                lbl1Ganancia = "Mis descuentos";
                                lbl2Ganancia = "Oportunidad de ahorro *(Revista y otros)";
                            }

                        }
                        <input type="hidden" id="hdeCabezaEscala" value="@cabezaEscala" />
                        <input type="hidden" id="hdePieEscala" value="@pieEscala" />
                        <input type="hidden" id="hdeLbl1Ganancia" value="@lbl1Ganancia" />
                        <input type="hidden" id="hdeLbl2Ganancia" value="@lbl2Ganancia" />
                        <span class="mi_ganancia" style="margin-left:30px;">@(cabezaEscala.ToUpper().Trim()) :</span>
                    </div>

                    <div class="montos_resumen">
                        <span><b data-cantidadproducto="">@Model.CantidadProductos</b>&nbsp;&nbsp;UNIDADES</span>
                        <span><b>@Model.Simbolo&nbsp;&nbsp;</b><b data-pedidocondescuento="">@Model.MontoConDsctoStr</b></span>
                        <span class="mi_ganancia"><b>@Model.Simbolo&nbsp;&nbsp;</b><b data-ganancia="">@Model.GananciaFormat</b></span>
                    </div>
                </div>
                <button type="button" class="btn_verMiPedido">
                    VER MI PEDIDO
                </button>
            </div>

        </div>
    </div>

    @if (ViewBag.CantPedidosPendientes > 0)
    {
        <div class="content_320" style="padding-top:0">
            <div style="float:left; max-width:185px;">
                <div class="titulo_tooltip_p">Tienes @ViewBag.CantPedidosPendientes pedido(s) pendiente(s) del <span>App de Catálogos</span></div>
                <div class="hora_tooltip_p">Te quedan <b>@ViewBag.TeQuedanConsultoraOnline</b> horas</div>
            </div>
            <div style="float:right;">
                <a class="btn_revisalo_pendiente" href="@Url.Action("Pendientes", "ConsultoraOnline")">REVÍSALO</a>
            </div>
            <hr class="clear">
        </div>
    }
    <div id="divListaEstrategias" style="display:none; margin-bottom: 50px;">
        @Html.Partial("~/Areas/Mobile/Views/Pedido/_PartialSectionBpt.cshtml", Model.PartialSectionBpt)
    </div>

    <div class="btn_agregarPedido">
        <input type="submit" value="AGRÉGALO A TU PEDIDO" id="btnAgregarProducto" name="btnAgregarProducto" style="display:none;" />
    </div>

    <div class="alert alert-success alert-full" style="display: none;" id="divMensajeProductoAgregado">
        <img src="@Url.Content("~/Content/Images/mobile/img-icon/alert-success.png")" alt="Alert" class="img-responsive" />
        <p>Producto <br /> Agregado</p>
    </div>
</div>
<input type="hidden" id="hdTipoEstrategiaID" value="0" />

<div id="divVistaPrevia" class="Content_modal_ZE" style="display: none; background-color: #fff; overflow: hidden;">
    <div class="Content_modal_ZE texto-centrado" style="overflow: hidden;">
        <div style="position: absolute; width: 100%;">
            <img id="imgTipoOfertaEdit" style="float: left;" src="">
        </div>
        <div style="position: absolute; width: 100%;">
            <img id="imgEstrellaEdit" style="float:left; margin-top:10px; width:23px; height:23px; margin-left:10px" src="">
        </div>
        <img id="imgZonaEstrategiaEdit" style="height: 200px; margin: 5px;" src="" alt="Imagen Producto" />
    </div>
    <br />
    <div class="zona0Edit pedidos_datos_titulo"></div>
    <div class="zona1Edit pedidos_datos_info texto-centrado" style="width:100%"></div>
    <div class="zona2Edit texto-centrado"></div>
    <div class="zona3Edit_1 pedidos_para_ti texto-centrado"></div>
    <div class="zona3Edit_2 liquidacion_precio texto-centrado"></div>
    <br />
    <ul id="OfertasResultados" class="listaOfertas"></ul>
    <div class="zona4Edit zona_estrategia_4 texto-centrado"></div>
    <div class="zonaCantidad texto-centrado">
        <table style="margin: 0 auto;" cellpadding="10" cellspacing="10">
            <tr>
                <td style="vertical-align: middle;">Unidades: &nbsp;&nbsp;</td>
                <td>
                    <div class="liquidacion_rango_home" data-cantidad-contenedor="">
                        <input type="tel" value="1" size="2" maxlength="2" data-input="cantidad" class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" name="txtCantidadZE" id="txtCantidadZE" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" />
                        <div class="liquidacion_rango_right_pedido">
                            <a class="mas" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)"><img src="" alt="" /></a>
                            <a class="menos"  onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)"><img src="" alt="" /></a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="tallaColor">
                <td style="vertical-align: middle;">Talla/Color: &nbsp;&nbsp;</td>
                <td>
                    <select id="ddlTallaColor" style="width: 130px; height: 30px; border: 1px solid #cccccc;"></select>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="MensajeAlertaMobile" id="PopSugerido" style="display:none;">
    <div class="content_mensajeAlerta">
        <a class="cerrar_popMobile" href="javascript:;" onclick="CancelarProductosSugeridos();">
            <img src="/Content/Images/mobile/Esika/cerrar_04.png" alt="-">
        </a>
        <hr class="clear" />
        <div class="icono_alerta exclamacion_icono_mobile iphone_1"></div>
        <div class="mensaje_alerta iphone_2">
            Se agotó este producto. Prueba <b>reemplazarlo</b>  con:
        </div>
        <hr class="clear" />
        <div class="contenedor_carrusel_home" id="divCarruselSugerido">
        </div>
    </div>


</div>

<div class="contenedor_fondo_popup_ganancia" id="popupGanancias" style="display:none;">
    <div class="popup_mis_ganancias">
        <div class="btn_cerrar_actualizarMisDatos">
            <a href="javascript:;" title="Cerrar" class="cerrar_tutorial" onclick="return $('#popupGanancias').fadeOut(200);">
                <img src="@Url.Content("~/Content/Images/btn_cerrar_popup.svg")" alt="Cerrar" />
                <span class="texto_btn_cerrar">CERRAR</span>
            </a>
        </div>
        <div class="contenido_misGanancias" id="detalleGanancia">
            <h6>GANANCIA ESTIMADA TOTAL</h6>
            <div class="mis_descuentos">
                <span class="mis_descuentos_texto">Mis descuentos</span>
                <span class="mis_descuentos_monto">@Model.Simbolo @Model.FormatoMontoAhorroCatalogo</span>
            </div>
            <div class="mis_descuentos">
                <span class="mis_descuentos_texto">Oportunidad de ahorro (Revista y otros)</span>
                <span class="mis_descuentos_monto">@Model.Simbolo @Model.FormatoMontoAhorroRevista</span>
            </div>
            <div class="separador_montos_misGanancias"></div>
            <div class="mis_descuentos">
                <span class="monto_total_misGanancias">@Model.Simbolo @Model.GananciaFormat</span>
            </div>
            <div class="nota_popup_misGanancias">
                <span>*Oportunidad de ahorro= ahorro estimado proveniente de la resta de los precios en catálogo de los productos menos el monto a pagar de los mismos.</span>
            </div>
        </div>
    </div>
</div>

<div class="contenedor_popup_clientes modal" id="divAgregarCliente" style="display: none;">
    <div class="popup_agregarCliente">
        <div id="divDetalleCliente"></div>
    </div>
</div>
<div id="popupClienteIngresado" class="MensajeAlertaMobile" style="display:none;">
    <div class="content_mensajeAlerta">
        <a class="cerrar_popMobile" href="javascript:;" onclick="javascript: $('#popupClienteIngresado').hide();">
            <img src="/Content/Images/mobile/Esika/cerrar_04.png" alt="-">
        </a>
        <hr class="clear">
        <div class="icono_alerta exclamacion_icono_mobile"></div>
        <div class="titulo_compartir">¡BIEN <b>HECHO!</b></div>
        <div class="mensaje_alerta">Tu cliente fue guardado con éxito.</div>
        <a href="javascript:;" onclick="$('#popupClienteIngresado').hide();" class="btn_ok_mobile"><b>OK</b></a>
    </div>
</div>

@Html.Partial("~/Areas/Mobile/Views/EstrategiaPersonalizada/template-producto-landing.cshtml", new ViewDataDictionary { { "TieneBotones", true } })

<script id="js-CarruselSugerido" type="text/x-handlebars-template">
    {{#each this}}
    <div class="sugerido" data-item="producto">
        <div style="display: none;">
            <input type="hidden" class="hdSugeridoCuv" value="{{CUV}}" />
            <input type="hidden" class="hdSugeridoTipoOfertaSisID" value="{{TipoOfertaSisID}}" />
            <input type="hidden" class="hdSugeridoConfiguracionOfertaID" value="{{ConfiguracionOfertaID}}" />
            <input type="hidden" class="hdSugeridoIndicadorMontoMinimo" value="{{IndicadorMontoMinimo}}" />
            <input type="hidden" class="hdSugeridoTipo" value="1" />
            <input type="hidden" class="hdSugeridoMarcaID" value="{{MarcaID}}" />
            <input type="hidden" class="hdSugeridoPrecioUnidad" value="{{PrecioCatalogo}}" />
            <input type="hidden" class="hdSugeridoDescripcionProd" value="{{Descripcion}}" />
            <input type="hidden" class="hdSugeridoPagina" value="0" />
            <input type="hidden" class="hdSugeridoDescripcionCategoria" value="{{DescripcionCategoria}}" />
            <input type="hidden" class="hdSugeridoDescripcionMarca" value="{{DescripcionMarca}}" />
            <input type="hidden" class="hdSugeridoDescripcionEstrategia" value="{{DescripcionEstrategia}}" />
            <input type="hidden" class="hdTipoEstrategiaID" value="{{TipoEstrategiaID}}" />
        </div>

        <div class="content_item_home">
            <div class="producto_img_mobile">
                <img src="{{ImagenProductoSugeridoSmall}}">
            </div>
            <div class="producto_nombre_descripcion">
                <h6>{{DescripcionMarca}}</h6>
                <p class="nombre_producto">{{Descripcion}}</p>
                <div class="producto_precio">
                    <span class="producto_precio_oferta"><b>@Model.Simbolo {{PrecioCatalogoString}}</b></span>
                </div>
                <div class="clear"></div>

                <div class="sugeridos_rango_home" data-cantidad-contenedor="">
                    <a class="cantidad_menos_home" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
                    <input type="tel" value="1" size="2" maxlength="2" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" data-input="cantidad">
                    <a class="cantidad_mas_home" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
                </div>
                <div class="clear"></div>
                <a class="boton_Agregalo_home btnAgregarSugerido" href="javascript:;">AGRÉGALO</a>
            </div>
        </div>
    </div>
    {{/each}}
</script>


<div class="PopMobile1" id="popupDetalleCarousel_lanzamiento" data-popup-main=""></div>

@Html.Partial("~/Views/Shared/Cupon/popupCuponGanaMobile.cshtml")
@Html.Partial("~/Views/Shared/Cupon/popupCuponConfirmarMobile.cshtml")
@Html.Partial("~/Views/Shared/Cupon/popupCuponGanasteMobile.cshtml")

@section scripts
{
    <script type="text/javascript">

        var mensajeCUVNoExiste = "Lo sentimos, el producto solicitado no existe.";
        var mensajeCUVAgotado = "Lo sentimos, este producto está agotado.";
        if (isEsika) var mensajeCUVOfertaEspecial = '@Constantes.MensajeEstaEnRevista.EsikaMobile';
        else var mensajeCUVOfertaEspecial = '@Constantes.MensajeEstaEnRevista.LbelMobile';
        var mensajeCUVLiquidacion = "Este producto solo lo puedes agregar a tu pedido desde la página de Liquidación Web.";

        @if (mobileConfiguracion.MostrarHipervinculo)
        {
            <text>
                mensajeCUVLiquidacion = "Este producto solo lo puedes agregar a tu pedido desde la página de <a href=" + '@(Url.Action("Index", "OfertaLiquidacion", new { area = "Mobile"}))' + ">Liquidación Web.</a>";
            </text>
        }

        var mensajeCUVCantidadMaxima = "Ya ingresaste la cantidad máxima permitida de este producto (#)";

        var cantProductosLoad = 'Model.ListaEstrategias.Count';
        var posicion = -1;
        var posicionAnteriorPrimeraEstrategia = 0;
        var posicionAnteriorUltimaEstrategia = 0;
        var esTipoDrag = 0;
        var ofertaLiquidacion = '@Constantes.ConfiguracionOferta.Liquidacion';
        var ofertaAccesorizate = '@Constantes.ConfiguracionOferta.Accesorizate';

        var urlPedidoInsert = '@Url.Action("PedidoInsertar", "Pedido", new {area = ""})';
        var urlFindByCUV = '@Url.Action("FindByCUV", "Pedido", new {area = ""})';
        var urlObtenerProductosSugeridos = '@Url.Action("ObtenerProductosSugeridos", "Estrategia", new { area = "" })';
        var urlIngresoFAD = '@Url.Action("IngresoFAD", "Pedido", new {area = ""})';
        var urlValidarStockEstrategia = '@Url.Action("ValidarStockEstrategia", "Pedido", new {area = ""})';
        var urlReservadoOEnHorarioRestringido = '@Url.Action("ReservadoOEnHorarioRestringido", "Pedido", new { area = "" })';

        var urlCarruselPrev = "@Url.Content("~/Content/Images/mobile/Esika/previous_ofertas_home.png")";
        var urlCarruselNext = "@Url.Content("~/Content/Images/mobile/Esika/next.png")";

        var urlValidarKitNuevas = '@Url.Action("ValidarKitNuevas", "Pedido", new { area = "" })';
        var urlValidarUnidadesPermitidasPedidoProducto = '@Url.Action("ValidarUnidadesPermitidasPedidoProducto", "Accesorizate", new {area = ""})';
        var urlObtenerStockActualProducto = '@Url.Action("ObtenerStockActualProducto", "Accesorizate", new {area = ""})';
        var urlEnHorarioRestringido = '@Url.Action("EnHorarioRestringido", "Pedido", new {area = ""})';
        var urlSesionExperirada = '@Url.Action("SesionExpirada", "Login", new { area = "" })';
        var paisIDSesion = '@Model.PaisId';

        var urlValidadoPedido = '@Url.Action("Validado", "Pedido", new { area = "Mobile" })';
        var urlPedidoInsertZe = '@Url.Action("AgregarProductoZE", "Pedido", new { area = "" })';

        var urlLoad = '@Url.Content("~/Content/Images/Loading.gif")';
        var productoSugerido = false;
        var productoAgotado = false;

        var tipoOrigenEstrategia = 21;

        var urlClienteDetalle = "@Url.Action("AgregarCliente", "Cliente", new { area = "Mobile" })";
        var lstClientes = @Html.Raw(@Json.Encode(Model.ListaClientes));
        var urlImagenListaCliente = '@Url.Content("~/Content/Images/arrow.png")';

        var tieneCupon = '@Model.TieneCupon';
        var paginaOrigenCupon = 21;
        var tieneMasVendidos = @Model.TieneMasVendidos;
        var esEmailActivo = '@Model.EmailActivo';
        var viewBagCampaniaActual = '@Model.CampaniaActual';
        var tipoOrigenEstrategia = 21;
        var origenPedidoWebEstrategia = @Constantes.OrigenPedidoWeb.OfertasParaTiMobilePedido;
        var origenPedidoWebFichaProducto = @Constantes.OrigenPedidoWeb.VirtualCoachMobilePedido;
        var MobilePedidoSugerido = @Constantes.OrigenPedidoWeb.MobilePedidoSugerido;
        var origenPedidoWebMobilePedido = @Constantes.OrigenPedidoWeb.MobilePedido;
        var paisISO = '@ViewBag.paisISO';
        var viewBagAmbiente = '@ViewBag.Ambiente';
        var correo = '@Model.EMail';
        var celular = '@Model.Celular';

        var VirtualCoachCuv = '@ViewBag.VirtualCoachCuv';
        var VirtualCoachCampana = '@ViewBag.VirtualCoachCampana' || 0;
        var dataBarra = JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.DataBarra))');
        var listaMensajeMeta = dataBarra == null ? null : dataBarra.ListaMensajeMeta;
        var urlInsertarDemandaTotalReemplazoSugerido = '@Url.Action("InsertarDemandaTotalReemplazoSugerido", "Pedido", new { area = "" })';
    </script>

    @if (mobileConfiguracion.EsAppMobile)
    {
        <script>
            $(document).ready(function () {
                belcorp.estrategia.initialize();
                belcorp.pedido.initialize();
                belcorp.pedido.subscribe("onProductoAgregado", MostrarBarra);
                belcorp.estrategia.subscribe("onProductoAgregado", MostrarBarra);
            });
        </script>
    }

    @Scripts.Render("~/Bundle/Js/Mobile/Pedido")

    @if (Model.MostrarPopupPrecargados)
    {
        <script>
            $(document).ready(function () { messageInfoValidado('@Html.Raw(Constantes.RecuperacionPedido.Mensaje)'); });
        </script>
    }
}