@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Areas.Mobile.Models
@using Portal.Consultoras.Web.Helpers

@model PedidoDetalleMobileModel
@{
    var layout =  ViewContext.MobileLayout();
    Layout = string.Format("~/Areas/Mobile/Views/Shared/{0}.cshtml", layout);
}

<div class="titulo_mobile">MI PEDIDO RESERVADO</div>
<div class="pestana_esika"></div>
<div class="pestana_lbel"></div>

<div id="ResumenPedidoReservado">
    <div class="wrapper_resumen_mobile">
        @if (Model.MostrarEscalaDescuento)
        {
            <div>
                <div class="content_BarrMensaje">
                    <div class="mensaje_barra" style="display: inline;">¡TÚ PUEDES! </div>
                    <div class="agrega_barra"><span>Te faltan @Model.Simbolo @Model.DescripcionMontoEscalaDescuento para llegar a tu siguiente escala de descuento de @Model.PorcentajeEscala%. </span></div>
                </div>
                <hr class="clear">
                <div class="flechita_barra"></div>
            </div>

        }
        <hr class="clear" />
            <div class="left_reservado">
                <div class="agregados_reservado">Unidades agregadas</div>
                <div class="monto_reservado_mobile">MONTO TOTAL</div>
                @{                                                              
                    string cabezaEscala=null, pieEscala=null;
                    string lbl1Ganancia = null, lbl2Ganancia = null;
                    if (Model.CodigoISO == Constantes.CodigosISOPais.Peru ||
                                Model.CodigoISO == Constantes.CodigosISOPais.Colombia ||
                                Model.CodigoISO == Constantes.CodigosISOPais.Ecuador ||
                                Model.CodigoISO == Constantes.CodigosISOPais.Guatemala ||
                                Model.CodigoISO == Constantes.CodigosISOPais.Salvador ||
                                Model.CodigoISO == Constantes.CodigosISOPais.Dominicana ||
                                Model.CodigoISO == Constantes.CodigosISOPais.PuertoRico)
                    {
                        cabezaEscala = "Ganancia estimada total";
                        pieEscala = "*Ganancia Total = Ahorro estimado proveniente de tus descuentos por compras en catálogo + ahorro estimado proveniente de compras de Guía de Negocio y Otros.";
                        lbl1Ganancia = "Mis descuentos";
                        lbl2Ganancia = "Ganancia estimada *(Guia de negocio y otros)";
                    }
                    else if (Model.CodigoISO == Constantes.CodigosISOPais.Mexico || Model.CodigoISO == Constantes.CodigosISOPais.Panama)
                    {
                        cabezaEscala = "Ganancia estimada total";
                        pieEscala = "*Ganancia Total = Ahorro estimado proveniente de tus descuentos por compras en catálogo + ahorro estimado proveniente de compras en Revista y Otros.";
                        lbl1Ganancia = "Mis descuentos";
                        lbl2Ganancia = "Ganancia estimada *(Revista y otros)";
                    }
                    else if (Model.CodigoISO == Constantes.CodigosISOPais.Chile)
                    {
                        cabezaEscala = "Comisión y ahorro total";
                        pieEscala = "*Comisión = Ganancia estimada proveniente de tus descuentos por compras en catálogo; <br>Ahorro = Ahorro estimado proveniente de compras de Guía de Negocio y Otros.";
                        lbl1Ganancia = "Mis descuentos (-)10% retencion comisión liquida";
                        lbl2Ganancia = "Ahorro estimado *(Guia de negocio y otros)";
                    }
                    else if (Model.CodigoISO == Constantes.CodigosISOPais.Venezuela)
                    {
                        cabezaEscala = "Oportunidad de ahorro total";
                        pieEscala = "Oportunidad de Ahorro Total = Ahorro estimado proveniente de sus descuentos por compras en catálogo + ahorro estimado proveniente de compras en Revista y Otros";
                        lbl1Ganancia = "Por tus compras de productos de catalogo";
                        lbl2Ganancia = "Por tus comprar de productos de revista";
                    }
                    else if (Model.CodigoISO == Constantes.CodigosISOPais.Bolivia)
                    {
                        cabezaEscala = "Ganancia total";
                        pieEscala = "Ganancia total = Ahorro estimado proveniente de sus descuentos por compras en catálogo + ahorro estimado proveniente de compras en Guía de Negocio y Otros";
                        lbl1Ganancia = "Mis descuentos";
                        lbl2Ganancia = "Ganancia estimada *(Guia de negocio y otros)";
                    }
                    else if (Model.CodigoISO == Constantes.CodigosISOPais.CostaRica)
                    {
                        cabezaEscala = "Oportunidad de ahorro total";
                        pieEscala = "Oportunidad de Ahorro Total = Ahorro estimado proveniente de sus descuentos por compras en catálogo + ahorro estimado proveniente de compras en Revista y Otros";
                        lbl1Ganancia = "Mis descuentos";
                        lbl2Ganancia = "Oportunidad de ahorro *(Revista y otros)";
                    }                                                                                                
                }

                <input type="hidden" id="hdeCabezaEscala" value="@cabezaEscala" />
                <input type="hidden" id="hdePieEscala" value="@pieEscala" />
                <input type="hidden" id="hdeLbl1Ganancia" value="@lbl1Ganancia" />
                <input type="hidden" id="hdeLbl2Ganancia" value="@lbl2Ganancia" />

                <div class="ganancia_reservado">
                    @(cabezaEscala.ToUpper().Trim())
                </div>
            </div>
            <div class="right_reservado">
                <div class="agregados_reservado">@Model.CantidadProductos</div>
                <div class="monto_reservado_mobile">@Model.Simbolo @Model.DescripcionTotal</div>
                <div class="ganancia_reservado">@Model.Simbolo @Model.DescripcionGanaciaEstimada</div>
            </div>
        <hr class="clear" />


        <div id="PedidoReservado" class="panel-collapse collapse">

            <div class="linea_gris" style="margin-top:10px;"></div>
            <span class="detalle_reservado">DETALLE</span>
            <div class="linea_gris"></div>
            @foreach (var item in Model.Detalle)
            {
                <div class="detalle_pedido_reservado">
                    <div class="left_reservado" style="width:235px;">
                        <div class="datos_Reservado">
                            <span> @item.CUV </span>
                            <span>@item.DescripcionProd</span>
                        </div>
                        <div class="texto_reservado">Cliente: @item.Nombre</div>
                    </div>
                    <div class="right_reservado">
                        <div class="texto_reservado">CANT</div>
                        <div class="datos_Reservado"><b>@item.Cantidad</b></div>
                    </div>
                    <hr class="clear" /><br />
                    <div class="left_reservado">
                        <div class="texto_reservado">
                            <span>Precio Unitario</span>
                        </div>
                        <div class="importe_reservado">SUBTOTAL</div>
                    </div>
                    <div class="right_reservado">
                        <div class="texto_reservado">
                            <span>@Model.Simbolo @item.DescripcionPrecioUnidad</span>
                        </div>
                        <div class="importe_reservado">
                            @if (item.IndicadorOfertaCUV && Model.PedidoConDescuentoCuv)
                            {
                                <span class="icono_advertencia_notificacion"></span>
                            }
                            @Model.Simbolo @item.DescripcionImporteTotal
                        </div>
                    </div>

                    @if (item.AceptoBackOrder)
                    {
                        <hr class="clear" /><br />
                        <div class="stock_content_agotado">
                            <div class="texto_stock" style="color:black"><b>Te entregaremos el producto en la siguiente campaña.</b></div>
                        </div>
                    }
                    @if (item.ListObservacionProl.Any())
                    {
                        <hr class="clear" /><br />
                        foreach (var obs in item.ListObservacionProl)
                        {
                            <div class="stock_content_agotado">
                                <div class="texto_stock" style="color:black"><b>@Html.Raw(obs)</b></div>
                            </div>
                        }
                        @*<hr class="clear" /><br />
                        <div class="notificacion_productoAgotado">
                            <small>
                                @Html.Raw(item.ObservacionPROL);
                            </small>
                        </div>*@
                    }
                </div>
            }

            <div class="left_reservado">
                <div class="importe_final">
                    <div class="info_validado">
                        <img src="@Url.Content("~/Content/Images/Esika/info-copy.png")" />
                        <div class="tooltip_validado_importe">
                            <div class="left_reservado">
                                <div class="datos_Reservado">
                                    <span>Total sin Dscto. </span>
                                    <span>Dscto por niveles</span>
                                </div>
                            </div>
                            <div class="right_reservado">
                                <div class="datos_Reservado">
                                    <span>@Model.Simbolo @Model.DescripcionSubTotal</span>
                                    <span>@Model.Simbolo @Model.DescripcionDescuento</span>
                                </div>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <b>MONTO TOTAL</b>
                </div>
                <div class="ganancia_Pedidovalidado" style="margin-top:7px">@(cabezaEscala.ToUpper().Trim())</div>
            </div>

            <div class="right_reservado">
                <div class="importe_final" style="font-size:15px"><b>@Model.Simbolo @Model.DescripcionTotal</b></div>
                <div class="ganancia_Pedidovalidado" style="font-size:15px">@Model.Simbolo @Model.DescripcionGanaciaEstimada</div>
            </div>
            <hr class="clear" />
        </div>

        <a class="btn_ver_pedido_reservado" data-toggle="collapse" data-parent="#accordion" href="#PedidoReservado">VER MI PEDIDO</a>
        <div class="tooltip_validado">
            <div class="icono_tooltip_validado"></div>
            @{
                string[] tooltips = Model.ProlTooltip.Split('|');
                string tooltip1 = tooltips[0];
                string tooltip2 = tooltips[1];
            }
            <div class="info_tooltip">
                @tooltip1 <br /> @tooltip2
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
    <a id="btn_editar_pedido" class="btn_editar_pedido" href="javascript:;">MODIFICA TU PEDIDO</a>
</div>

<div class="modal fade" id="divConfirmModificarPedido">
    <div class="modal-dialog modal-alert ">
        <div class="modal-content">
            <div class="modal-body">
                <div class="icono_alerta exclamacion_icono_mobile"></div>
                <div class="titulo_compartir"><b>¡IMPORTANTE!</b></div>
                <div class="mensaje_alerta">Al hacer clic en "Continuar" se perderá la reserva de tus productos. Recuerda que si lo modificas debes volver a validar.</div>
            </div>
            <div id="modal-prol-contenido">
                <div id="modal-prol-botonesAceptarCancelar">
                    <a href="javascript:;" class="btn_borde_black" data-dismiss="modal">CANCELAR</a>
                   
                    <a href="javascript:;" class="btn_belcorp" data-dismiss="modal" onclick="ConfirmarModificarPedido();">CONTINUAR</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contenedor_fondo_popup_ganancia" id="popupGanancias" style="display:none;">
    <div class="popup_mis_ganancias">
        <div class="btn_cerrar_actualizarMisDatos">
            <a href="javascript:;" title="Cerrar" class="cerrar_tutorial" onclick="return $('#popupGanancias').fadeOut(200);">
                <img src="@Url.Content("~/Content/Images/btn_cerrar_popup.png")" alt="Cerrar" />
                <span class="texto_btn_cerrar">CERRAR</span>
            </a>
        </div>
        <div class="contenido_misGanancias" id="detalleGanancia">
            <h6>GANANCIA ESTIMADA TOTAL</h6>
            <div class="mis_descuentos">
                <span class="mis_descuentos_texto">Mis descuentos</span>
                <span class="mis_descuentos_monto">@Model.Simbolo @ViewBag.MontoAhorroCatalogo</span>
            </div>
            <div class="mis_descuentos">
                <span class="mis_descuentos_texto">Oportunidad de ahorro (Revista y otros)</span>
                <span class="mis_descuentos_monto">@Model.Simbolo @ViewBag.MontoAhorroRevista</span>
            </div>
            <div class="separador_montos_misGanancias"></div>
            <div class="mis_descuentos">
                <span class="monto_total_misGanancias">@Model.Simbolo @Model.DescripcionGanaciaEstimada</span>
            </div>
            <div class="nota_popup_misGanancias">
                <span>*Oportunidad de ahorro= ahorro estimado proveniente de la resta de los precios en catálogo de los productos menos el monto a pagar de los mismos.</span>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        var modificacionPedidoProl = '@Model.ModificacionPedidoProl';

        var urlDeshacerReservaPedidoReservado = '@Url.Action("PedidoValidadoDeshacerReserva", "Pedido", new { area = "" })';
        var urlIngresarPedido = '@Url.Action("Detalle", "Pedido", new {area = "Mobile"})';
    </script>
    <script src="@Url.Content("~/Scripts/PortalConsultoras/Mobile/Pedido/Validado.js")"></script>
}