@model Portal.Consultoras.Web.Models.NavidadConsultoraModel
@{
}
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Css/Site/navidadConsultora.css")" /> 
<script src="@Url.Content("~/Scripts/fileuploader.js")" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/jquery.form.js"></script>
<script>
    function mostrarImagenEdit(idImagen) {
        $('#verImagen').attr("src", $("#" + idImagen).attr('src'));
    }

    function fnGrilla() {
        if (jQuery("#listImage").attr("role") != "grid") {
            jQuery("#listImage").jqGrid({
                url: baseUrl + "NavidadConsultora/ListaNavidadConsultora",
                hidegrid: false,
                datatype: 'json',
                postData: ({
                    PaisId: function () { return $("#ddlPais").val() },
                    CampaniaId: function () { return $("#ddlCampania").val() }
                }),
                mtype: 'GET',
                contentType: "application/json; charset=utf-8",
                colNames: ['', 'Campaña', 'Imagen', 'Acción', ''],
                colModel: [
                    { name: 'ImagenId', index: 'ImagenId', width: 20, editable: true, resizable: false, hidden: true },
                    { name: 'CampaniaID', index: 'CampaniaID', width: 50, editable: true, resizable: false, formatter: CentrarCampania },
                    { name: 'NombreImg', index: 'NombreImg', width: 100, editable: true, resizable: false, formatter: SeleccionarCampania },
                    { name: 'ImagenId', index: 'ImagenId', width: 20, editable: true, resizable: false, formatter: Edicion },
                    { name: 'PaisId', index: 'PaisId', width: 1, editable: true, resizable: false, hidden: true }
                ],
                jsonReader:
                    {
                        root: "rows",
                        page: "page",
                        total: "total",
                        records: "records",
                        repeatitems: true,
                        cell: "cell",
                        id: "id"
                    },
                loadtext: 'Cargando datos...',
                emptyrecords: 'No hay resultados',
                rownumbers: true,
                rowNum: 0,
                scrollOffset: 0,
                viewrecords: true,
                multiselect: false,
                height: 'auto',
                width: 930,
                altRows: true,
                altclass: 'jQGridAltRowClass',
                loadComplete: function (data) {
                },
                gridComplete: function () { }
            });
        } else {
            $("#listImage").jqGrid("clearGridData", true);
            jQuery("#listImage").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
        }

        function CentrarCampania(cellvalue, options, rowObject) {
            var Render = "<div class=\"centrar\">" + rowObject[1] + "</div>";
            return Render
        };
        function SeleccionarCampania(cellvalue, options, rowObject) {
            var Render = "<div class=\"centrar\"><img id=\"Img"+options.rowId+"\" width=\"100\" height=\"100\" src=\"" + rowObject[2] + "\"/></div>";
            return Render
        };

        function Edicion(cellvalue, options, rowObject) {          
            var Render = "<div class=\"centrar\"><a href=\"javascript:EditarImagen(" + options.rowId + ", 'Img" + options.rowId + "', " + rowObject[1] + ", " + rowObject[4] + ")\"><img src=\"@Url.Content("~/Content/Images/Edit.png")\"/></a>";
            Render = Render + "<a href=\"javascript:EliminarImagen(" + options.rowId + ", " + rowObject[4] + ", " + rowObject[1] + ")\"><img src=\"@Url.Content("~/Content/Images/Delete.png")\"/></a></div>";
            return Render
        };
    }

    function EliminarImagen(codigo,pais,campania) {
        var r = confirm('¿Está seguro de eliminar el ítem seleccionado?')
        if (r == true) {
            waitingDialog({});
            jQuery.ajax({
                type: 'POST',
                url: baseUrl + 'NavidadConsultora/EliminarImagen',
                data: {
                    ImagenId: codigo,
                    PaisId: pais,
                    CampaniaID: campania
                },
                async: true,
                success: function (data) {
                    if (data) {
                        closeWaitingDialog();
                        alert('Se ha eliminado Correctamente');
                        $("#listImage").jqGrid("clearGridData", true);
                        if ($("#ddlPais").val() != '') {
                            fnGrilla();
                        }
                    } else {
                        closeWaitingDialog();
                        alert('Ocurrió un error durante la eliminación');
                        $("#listImage").jqGrid("clearGridData", true);
                        if ($("#ddlPais").val() != '') {
                            fnGrilla();
                        }
                    }
                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        $("#listImage").jqGrid("clearGridData", true);
                        if ($("#ddlPais").val() != '') {
                            fnGrilla();
                        }
                    }
                }
            });
        }
    }

    function GuardarImagen(PaisId, CampaniaID, tipoMantenimiento, ImagenId, ImagenActualizar) {
        waitingDialog({});
        jQuery.ajax({
            type: 'POST',
            url: baseUrl + 'NavidadConsultora/GuardarImagen',
            data: {
                PaisId: PaisId,
                CampaniaID: CampaniaID,
                tipoMantenimiento: tipoMantenimiento,
                ImagenId: ImagenId,
                ImagenActualizar: ImagenActualizar
            },
            async: true,
            success: function (data) {
                if (data == "true") {
                    closeWaitingDialog();
                    alert("Se guardó la imagen correctamente");
                    $("#listImage").jqGrid("clearGridData", true);
                    if ($("#ddlPais").val() != '') {
                        fnGrilla();
                    }
                } else if (data == "repetido") {
                    closeWaitingDialog();
                    alert("Ya existe imagen para esta campaña.");               
                    $("#listImage").jqGrid("clearGridData", true);
                    if ($("#ddlPais").val() != '') {
                        fnGrilla();
                    }
                } else {
                    closeWaitingDialog();
                    alert("Ocurrió un error al guardar la imagen.");
                    $("#listImage").jqGrid("clearGridData", true);
                    if ($("#ddlPais").val() != '') {
                        fnGrilla();
                    }
                }
            },
            error: function (data, error) {
                if (checkTimeout(data)) {
                    closeWaitingDialog();
                    $("#listImage").jqGrid("clearGridData", true);
                    if ($("#ddlPais").val() != '') {
                        fnGrilla();
                    }
                }
            }
        });
    }

    function EditarImagen(codigo, idImagen, campana, pais) {
        $("#ddlCampaniaImg").prop('disabled', 'disabled');
        $("#tipoMantenimiento").val('Editar');
        $("#ddlPaisImg").val(pais);
        $("#ddlCampaniaImg").val(campana);
        $("#ImagenId").val(codigo);
        mostrarImagenEdit(idImagen);
        showDialog("popFormImagen");
    }

    jQuery(document).ready(function () {
        $('#popFormImagen').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 500,
            height:690,
            draggable: true,
            title: "Agregar/Editar Imagen Navidad Consultora",
            close: function (event, ui) {
                $('#verImagen').attr('src', '@Url.Content("~/Content/Images/prod_grilla_vacio.png")');
                $("#tipoImagen").val('');
            }
        });

        $.ajaxSetup({ cache: false });
        uploader = new qq.FileUploader({
            allowedExtensions: ['jpg', 'png', 'jpeg'],
            element: document.getElementById('flUpload'),
            action: '@Url.Action("ImageMatrizUpload", "NavidadConsultora")',
            onComplete: function (id, fileName, responseJSON) {
                if (checkTimeout(responseJSON)) {
                    $(".qq-upload-list")[0].style['display'] = "none";
                    $(".qq-upload-list").css("display", "none");
                    if (responseJSON.success) {
                        $("#ImagenActualizar").val(responseJSON.nameFile);
                        $('#verImagen').attr('src', '@Url.Content("~/Content/Temporales/")' + responseJSON.nameFile);
                    } else if (!responseJSON.success) {
                        alert('La imagen no tiene las dimensiones correctas.');
                        $("#ImagenActualizar").val('');
                    }else {
                        alert(responseJSON.message);
                        $("#ImagenActualizar").val('');
                    }
                }
            },
            onSubmit: function (id, fileName) { $(".qq-upload-list").css("display", "none"); $(".qq-upload-list")[0].style['display'] = "none"; },
            onProgress: function (id, fileName, loaded, total) { $(".qq-upload-list").css("display", "none"); $(".qq-upload-list")[0].style['display'] = "none"; },
            onCancel: function (id, fileName) { $(".qq-upload-list").css("display", "none"); $(".qq-upload-list")[0].style['display'] = "none"; }
        });

        $("#cancelarFile").click(function () {
            HideDialog("popFormImagen");
            //$('#popFormImagen').dialog("close");
            $('#verImagen').attr('src', '@Url.Content("~/Content/Images/prod_grilla_vacio.png")');
            $("#tipoImagen").val('');
            $('#ImagenActualizar').val("");
        });

        $("#btnNuevo").click(function () {
            if ($('#ddlPais').val() != "") {
                $("#ddlCampaniaImg").prop('disabled', false);
                $("#ddlCampaniaImg").val("");
                $("#ImagenId").val("");
                $("#tipoMantenimiento").val('Nuevo');
                $("#ddlPaisImg").val($("#ddlPais").val());
                showDialog("popFormImagen");
            } else {
                alert('Seleccionar país.');
            }
        });

        $("#btnBuscar").click(function () {
            $("#listImage").jqGrid("clearGridData", true);
            if ($('#ddlPais').val() != '') {
                fnGrilla();          
            } else {
                alert('Seleccionar país');
            }
        });

        $("#guardarFile").click(function () {

            if ($("#ddlPaisImg").val() != "" && $("#ddlCampaniaImg").val() != "" && $('#verImagen').attr("src") != '@Url.Content("~/Content/Images/prod_grilla_vacio.png")' && $('#ImagenActualizar').val() != "") {
                var PaisId = $('#ddlPaisImg').val();
                var CampaniaID = $('#ddlCampaniaImg').val();
                var tipoMantenimiento = $('#tipoMantenimiento').val();
                var ImagenId = $('#ImagenId').val();
                var ImagenActualizar = $('#ImagenActualizar').val();
                HideDialog("popFormImagen");
                //$('#popFormImagen').dialog("close");
                GuardarImagen(PaisId, CampaniaID, tipoMantenimiento, ImagenId, ImagenActualizar);
                $('#ImagenActualizar').val("");
            } else if ($('#verImagen').attr("src") == '@Url.Content("~/Content/Images/prod_grilla_vacio.png")') {
                alert("Seleccione una imagen.");
            } else if ($("#ddlPaisImg").val() == "") {
                alert("Debe seleccionar país");
            } else if ($("#ddlCampaniaImg").val() == "") {
                alert("Debe seleccionar campaña");
            } else if ($("#ddlPaisImg").val() == "" || $("#ddlCampaniaImg").val() == "") {
                alert("Debe seleccionar país y campaña");
            } else if ($('#ImagenActualizar').val() == "") {
                HideDialog("popFormImagen");
                //$('#popFormImagen').dialog("close");
            }
        });

        $("#ddlPais").change(function () {
            if ($("#ddlPais").val() == "") {
                $("#ddlCampania").val("");
            }
        });

        $('#ddlPaisImg').prop('disabled', 'disabled');

    });
</script>

<div class="wrap_cab">
    <div class="filtros">
        <div class="elements">
            <div class="div-2">
                <h1>Administrar Imagen Navidad Consultora</h1>
            </div>
            <div class="div-3">
                <div class="titG">País:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.PaisId, new SelectList(Model.ListaPaises, "PaisID", "Nombre", Model.PaisId), "-- Seleccionar --", new { id = "ddlPais" })
                </div>
                <div class="titB">Campaña:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.CampaniaId, new SelectList(Model.ListaCampania, "CampaniaID", "NombreCorto", Model.CampaniaId), "-- Seleccionar --", new { id = "ddlCampania" })
                </div>

                <div class="contenedor-botones">
                    <div class="botones">
                        <input type="button" value="Buscar" id="btnBuscar">
                        <input type="submit" value="Nuevo" id="btnNuevo">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper">
            <table id="listImage"></table>
        </div>
    </div>
    <div id="popFormImagen" class="oculto border-wrapper">
        <br />
        <form id="formImagen" method="post" action="@Url.Action("GuardarImagen", "NavidadConsultora")"  enctype="multipart/form-data">
                <div class="border-wrapper">
                <br />
                <div class="div-5">
                    <input type="hidden" id="tipoMantenimiento" name="tipoMantenimiento" />
                    <input type="hidden" id="ImagenId" name="ImagenId" />
                    <input type="hidden" id="ImagenActualizar" name="ImagenActualizar" />              
                    <div class="titB">País:</div>
                    <div class="selectA borde_redondeado">
                        @Html.DropDownListFor(model => model.PaisId, new SelectList(Model.ListaPaises, "PaisID", "Nombre", Model.PaisId), "-- Seleccionar --", new { id = "ddlPaisImg" })
                    </div>
                </div>
                <div class="div-5">
                    <div class="titB">Campaña:</div>
                    <div class="selectA borde_redondeado">
                        @Html.DropDownListFor(model => model.CampaniaId, new SelectList(Model.ListaCampania, "CampaniaID", "NombreCorto", Model.CampaniaId), "-- Seleccionar --", new { id = "ddlCampaniaImg" })
                    </div>
                </div>
                <div class="div-4">
                    <div class="titB">Imagen:</div>
                    <div class="selectA borde_redondeado">
                        <img width="200" height="200" id="verImagen" src="@Url.Content("~/Content/Images/prod_grilla_vacio.png")"/>
                    </div>
                </div>
                <div class="div-6">
                    <div class="titG">
                        Tamaño máximo: 200KB
                    </div>
                </div>
                <div class="div-6">
                    <div class="titG">
                        Medida: 403 x 403
                    </div>
                </div>
                <div class="div-5">
                    <div class="titG">
                    </div>
                </div>
                <div class="div-8">
                    <div class="titG">
                        <div id="flUpload">
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-7">
                <button type="button" id="guardarFile" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                    <span class="ui-button-text">Grabar</span>
                </button>
                <button type="button" id="cancelarFile" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                    <span class="ui-button-text">Cancelar</span>
                </button>
            </div>

        </form>
    </div>
</div>


