@model Portal.Consultoras.Web.Models.NavidadConsultoraModel

@{
    ViewBag.Title = "Index";
}
<script>
    jQuery(document).ready(function () {
        $("#compartirA").click(function () {
            var popWwidth = 570;
            var popHeight = 420;
            var left = (screen.width / 2) - (popWwidth / 2);
            var top = (screen.height / 2) - (popHeight / 2);
            var url = "http://www.facebook.com/sharer/sharer.php?u="+$("#ruta").val();
            window.open(url, 'Facebook', "width=" + popWwidth + ",height=" + popHeight + ",menubar=0,toolbar=0,directories=0,scrollbars=no,resizable=no,left=" + left + ",top=" + top + "");
        });
    });
</script>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Css/Site/navidadConsultora.css")" /> 
<div class="wrap_cab">
    <div class="filtros">
        <div class="elements">
            <div class="div-1">
                <div class="box">
                    <div class="box-t"></div>
                    <div class="box-c">
                        @if (ViewBag.Campania != null)
                        {
                            if (ViewBag.Dias == 0)
                            {
                            <p class="azul">Hoy es el cierre de <span>@ViewBag.Campania</span></p>
                            }
                            else
                            {
                            <p class="azul">Faltan @ViewBag.Dias días para el cierre de <span>@ViewBag.Campania</span></p>
                            }
                            <p>@ViewBag.MensajeCierreCampania</p>
                        }
                        else
                        {
                            <p>La Zona @ViewBag.CodigoZonaConsultora no se ubica en el cronograma, por favor contacte al Servicio de Atención al Cliente.</p>
                        }
                    </div>
                    <div class="box-b"></div>
                </div>
            </div>
            <div class="productos_fixed">
                <div class="productos_fixed_main">
                    <div class="div-2">
                        <h1>Guía de regalos <span></span></h1>
                        <div>
                            <div>Aprovecha la Campaña navideña y consigue más pedidos compartiendo catálogos por Facebook con tus clientes y amigos.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrap">
    <div class="container clearfix">
        <div class="centrar">
            <img id="imagenCompartir" src="@Model.UrlImagen"/>
            <br />
            <br />
            <input type="hidden" id="ruta" value="@Model.UrlComparte" />
            <a id="compartirA">
                <img src="@Url.Content("~/Content/Images/compartir_facebook.png")" style="cursor:pointer;" title="Compartir en Facebook" alt="Compartir en Facebook"/>
            </a>
        </div>
    </div>
</div>
