@model Portal.Consultoras.Web.Models.AdministrarIncentivosModel
@{
    ViewBag.Title = "Administrar Incentivos";
}
<script src="@Url.Content("~/Scripts/fileuploader.js")" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/jquery.form.js"></script>
<script type="text/ecmascript">
    var isoPAIS = "";
    jQuery(document).ready(function () {
        $("input[name$='grupoUrlPDF']").click(function () {
            var test = $(this).val();
            $("div.zona").hide(100);
            $("#zona" + test).show(100);
        });

        $(".qq-upload-list").css("display", "none");
        IniDialogRegistroIncentivos();

        $("#ddlPais").change(function () {
            var Id = $(this).val();
            if (Id != "") {
                waitingDialog({});
                $.ajaxSetup({ cache: false });
                $.getJSON(baseUrl + 'BaseAdm/ObtenerCampaniasPorPais', { PaisID: Id == "" ? 0 : Id }, function (data) {
                    if (checkTimeout(data)) {
                        var ddlCampania = $("#ddlCampania");

                        if (Id != "") {
                            if (data.lista.length > 0) {
                                for (var item in data.lista) {
                                    if (data.lista.hasOwnProperty(item)) {
                                        ddlCampania.append($('<option/>', {
                                            value: data.lista[item].CampaniaID,
                                            text: data.lista[item].Codigo
                                        }));
                                    }
                                }
                            }
                        }
                        closeWaitingDialog();
                    }
                });
                $.getJSON(baseUrl + 'OfertaNueva/ObtenerISOPais', { paisID: Id }, function (data) {
                    isoPAIS = data.ISO;
                });
                jQuery("#gvwIncentivos").jqGrid("clearGridData");
            } else {
                var ddlCampania = $("#ddlCampania");
                ddlCampania.empty();
                ddlCampania.append($('<option/>', {
                    value: "",
                    text: "-- Seleccionar --"
                }));
                jQuery("#gvwIncentivos").jqGrid("clearGridData");
            }
        });

        $("#btnBuscar").click(function () {
            if ($("#ddlPais").val() == "") {
                alert("Debe seleccionar un País, verifique");
                return false;
            }

            if ($("#ddlCampania").val() == "") {
                alert("Debe seleccionar una Campaña, verifique");
                return false;
            }

            fnGrilla();
        });

        $('#frmIncentivo').ajaxForm({
            beforeSubmit: function () {

                var fileValue = $('#flArchivoPDF').val();

                var extensiones = ['pdf'];
                var get_ext;

                var message = "";

                if (jQuery.trim($('#ddlPaisDialogo').val()) == "")
                    message += "- Debe seleccionar un País.\n";

                if (jQuery.trim($('#ddlCampaniaInicioDialogo').val()) == "")
                    message += "- Debe seleccionar una Campaña de Inicio.\n";

                if (jQuery.trim($('#ddlCampaniaFinDialogo').val()) == "")
                    message += "- Debe seleccionar una Campaña de Fin.\n";

                if (jQuery.trim($('#Titulo').val()) == "")
                    message += "- Debe ingresar el Titulo.\n";

                if (jQuery.trim($('#ArchivoPortada').val()) == "")
                    message += "- Debe ingresar el archivo o url de la Portada.\n";

                var urlpdf = $('input[name=grupoUrlPDF]:checked', '#frmIncentivo').val();

                if (urlpdf == "url") {
                    if (jQuery.trim($('#Url').val()) == "") {
                        message += "- Debe ingresar la url del Incentivo.\n";
                    }
                }
                if (urlpdf == "pdf") {
                    if (jQuery.trim($('#ArchivoPDF').val()) == "" && fileValue == "") {
                        message += "- Debe ingresar el pdf del Incentivo.\n";
                    }
                    else {
                        get_ext = fileValue.split('.');
                        get_ext = get_ext.reverse();

                        if ($.inArray(get_ext[0].toLowerCase(), extensiones) == -1 && fileValue.length > 0)
                            message += '- El tipo de archivo es inválido, asegúrese de seleccionar un documento PDF (*.pdf).'
                    }
                }

                if (jQuery('#IncentivoID').val() == "0")
                    jQuery('#PaisID').val(jQuery('#ddlPaisDialogo').val());

                if (message.length > 0) {
                    alert(message);
                    return false;
                }
            },
            success: fnRespuestaIncentivo
        });

        function fnRespuestaIncentivo(responseText, statusText, xhr, $form) {

            if (checkTimeout(responseText)) {
                $("#gvwIncentivos").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                limpiarPopup();
                HideDialog("DialogRegistroIncentivos");
                if (responseText && typeof responseText === "string") {
                    alert($.parseJSON(responseText).message);
                } else {
                    alert(responseText.message);
                }

            }
        }
    });

    function IniDialogRegistroIncentivos() {
        $('#DialogRegistroIncentivos').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 900,
            draggable: true,
            title: "Actualización de Incentivos",
            buttons:
            {
                "Guardar": function () {
                    var vMessage = "";
                    $('#frmIncentivo').submit();
                },
                "Cerrar": function () {
                    HideDialog("DialogRegistroIncentivos");
                }
            }
        });
    }

    function MostrarDialogo() {
        showDialog("DialogRegistroIncentivos");
    }

    function fnGrilla() {
        jQuery("#gvwIncentivos").jqGrid({
            url: baseUrl + "AdministrarIncentivos/Consultar",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                vpaisID: function () { return $("#ddlPais").val() },
                vCampaniaID: function () { return $("#ddlCampania").val() }
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['IncentivoID', 'PaisID', 'CampaniaIDInicio', 'CampaniaIDFin', 'ArchivoPortada', 'CampañaInicio', 'CampañaFin', 'Titulo', 'Subtitulo', 'Portada', 'Url', 'ArchivoPDF', 'Opcion', 'UrlOculto', 'ArchivoPDFOculto'],
            colModel: [
                { name: 'IncentivoID', index: 'IncentivoID', width: 0, editable: true, resizable: false, hidden: true },
                { name: 'PaisID', index: 'PaisID', width: 0, editable: true, resizable: false, hidden: true },
                { name: 'CampaniaIDInicio', index: 'CampaniaIDInicio', width: 0, editable: true, resizable: false, hidden: true },
                { name: 'CampaniaIDFin', index: 'CampaniaIDFin', width: 0, editable: true, resizable: false, hidden: true },
                { name: 'ArchivoPortada', index: 'ArchivoPortada', width: 0, editable: true, resizable: false, hidden: true },
                { name: 'CampañaInicio', index: 'CampañaInicio', width: 15, editable: true, resizable: false },
                { name: 'CampañaFin', index: 'CampañaFin', width: 15, editable: true, resizable: false },
                { name: 'Titulo', index: 'Titulo', width: 20, editable: true, resizable: false },
                { name: 'Subtitulo', index: 'Subtitulo', width: 20, editable: true, resizable: false },
                { name: 'Imagen', index: 'Imagen', width: 30, editable: true, sortable: false, align: 'center', resizable: false, formatter: ShowImage },
                { name: 'Url', index: 'Url', width: 30, editable: true, resizable: false, formatter: ShowUrl },
                { name: 'ArchivoPDF', index: 'ArchivoPDF', width: 30, editable: true, resizable: false, formatter: ShowPdf },
                { name: 'Activo', index: 'Activo', width: 15, editable: true, sortable: false, align: 'center', resizable: false, formatter: ShowActions },
                { name: 'UrlOculto', index: 'UrlOculto', width: 30, editable: true, resizable: false, hidden: true },
                { name: 'ArchivoPDFOculto', index: 'ArchivoPDF', width: 30, editable: true, resizable: false, hidden: true }
            ],
            jsonReader:
                {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: true,
                    cell: "cell",
                    id: "id",
                    ISOPais: 'ISOPais'
                },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'Lugar',
            sortorder: 'desc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 930,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function (data) { isoPAIS = data.ISOPais; },
            gridComplete: function () { }
        });
        jQuery("#gvwIncentivos").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#gvwIncentivos").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');

        function ShowActions(cellvalue, options, rowObject) {
            var cellValueInt = parseInt(cellvalue);
            var Edit = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#gvwIncentivos').Editar('" + rowObject[0] + "');\" >" + "<img src='@Url.Content("~/Content/Images/Edit.png")' alt='Editar Incentivo' title='Editar Incentivo' border='0' /></a>";
            var Del = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#gvwIncentivos').Eliminar('" + rowObject[0] + "');\" >" + "<img src='@Url.Content("~/Content/Images/Delete.png")' alt='Eliminar Incentivo' title='Eliminar Incentivo' border='0' /></a>";

            return Edit + Del;
        };

        function ShowImage(cellvalue, options, rowObject) {

            var image = "";
            if (rowObject[4] !== "")
                image = '<img src="' + rowObject[4] + '" alt="" width="160px" height="60px" title="" border="0" />';
            else
                image = '<img src="@Url.Content("~/Content/Images/prod_grilla_vacio.png")" alt="" width="60px" height="60px" title="" border="0" />';
            return image;
        };

        function ShowUrl(cellvalue, options, rowObject) {

            var contenido = cellvalue;
            var valorParcial = cellvalue.substring(0, 15);
            if (cellvalue.length > 15) {
                contenido = valorParcial + "&nbsp;<a href='javascript:;' onclick=\"VerMas(this,'" + cellvalue + "','" + valorParcial + "');\" > ...Ver mas" + "</a>";
            }
            return contenido;
        };

        function ShowPdf(cellvalue, options, rowObject) {

            var contenido = cellvalue;
            var valorParcial = cellvalue.substring(0, 20);
            if (cellvalue.length > 20) {
                contenido = valorParcial + "&nbsp;<a href='javascript:;' onclick=\"VerMas(this,'" + cellvalue + "','" + valorParcial + "');\" > ...Ver mas" + "</a>";
            }
            return contenido;
        };
    }

    $.jgrid.extend({
        Editar: function (Id) {

            if (Id) {
                $('#IncentivoID').val(Id);
                $('#PaisID').val(jQuery("#gvwIncentivos").jqGrid('getCell', Id, 'PaisID'));
                $('#ddlPaisDialogo').val(jQuery("#gvwIncentivos").jqGrid('getCell', Id, 'PaisID'));
                $('#ddlCampaniaInicioDialogo').val(jQuery("#gvwIncentivos").jqGrid('getCell', Id, 'CampaniaIDInicio'));
                $('#ddlCampaniaFinDialogo').val(jQuery("#gvwIncentivos").jqGrid('getCell', Id, 'CampaniaIDFin'));
                $('#Titulo').val(jQuery("#gvwIncentivos").jqGrid('getCell', Id, 'Titulo'));
                $('#Subtitulo').val(jQuery("#gvwIncentivos").jqGrid('getCell', Id, 'Subtitulo'));
                $('#ArchivoPortada').val($("#gvwIncentivos").jqGrid('getCell', Id, 'ArchivoPortada'));
                $('#ArchivoPortadaAnterior').val($("#gvwIncentivos").jqGrid('getCell', Id, 'ArchivoPortada'));

                if ($.trim($("#ArchivoPortada").val()) != "") {
                    $('#imgPreviaLogo').attr('src', $("#ArchivoPortada").val());

                    var img01 = $('#ArchivoPortada').val().replace(/^.*[\\\/]/, '');
                    if (img01.lastIndexOf("?") >= 0) {
                        img01 = img01.substring(0, img01.lastIndexOf("?"));
                        $('#ArchivoPortada').val(img01);
                    }

                    img01 = $('#ArchivoPortadaAnterior').val().replace(/^.*[\\\/]/, '');
                    if (img01.lastIndexOf("?") >= 0) {
                        img01 = img01.substring(0, img01.lastIndexOf("?"));
                        $('#ArchivoPortadaAnterior').val(img01);
                    }

                }

                $('#ArchivoPDF').val(jQuery("#gvwIncentivos").jqGrid('getCell', Id, 'ArchivoPDFOculto'));

                var file01 = $('#ArchivoPDF').val().replace(/^.*[\\\/]/, '');
                if (file01.lastIndexOf("?") >= 0) {
                    file01 = file01.substring(0, file01.lastIndexOf("?"));
                    $('#ArchivoPDF').val(file01);
                }

                $('#Url').val(jQuery("#gvwIncentivos").jqGrid('getCell', Id, 'UrlOculto'));
                $('#ddlPaisDialogo').prop('disabled', 'disabled');

                if ($.trim($("#Url").val()) != "")
                    $("input[name=grupoUrlPDF][value=url]").attr('checked', 'checked').click();
                if ($.trim($("#ArchivoPDF").val()) != "")
                    $("input[name=grupoUrlPDF][value=pdf]").attr('checked', 'checked').click();

                showDialog("DialogRegistroIncentivos");
            } else {
                alert("No selecciono el Incentivo");
            }
            return false;
        },
        Eliminar: function (Id) {
            var elimina = confirm('¿ Está seguro que desea eliminar el registro seleccionado ?');
            if (!elimina)
                return false;
            waitingDialog({});
            jQuery.ajax({
                type: 'POST',
                url: baseUrl + 'AdministrarIncentivos/Eliminar',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ IncentivoID: Id }),
                async: true,
                success: function (data) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        limpiarPopup();
                        if (data.success == true) {
                            alert(data.message);
                            jQuery("#gvwIncentivos").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                        }
                        else
                            alert(data.message);
                    }
                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        alert("ERROR");
                    }
                }
            });
            return false;
        }
    });

    function VerMas(object, ValorCompleto, ValorParcial) {

        var td = object.parentElement;
        td.innerHTML = ValorCompleto + "&nbsp;<a href='javascript:;' onclick=\"VerMenos(this,'" + ValorCompleto + "','" + ValorParcial + "');\" > ...Ver menos" + "</a>";
        return false;
    }

    function VerMenos(object, ValorCompleto, ValorParcial) {

        var td = object.parentElement;
        td.innerHTML = ValorParcial + "&nbsp;<a href='javascript:;' onclick=\"VerMas(this,'" + ValorCompleto + "','" + ValorParcial + "');\" > ...Ver mas" + "</a>";
        return false;
    }

    function MostrarPopup() {
        var ddlPais = $("#ddlPais");
        if (ddlPais.val() == "") {
            alert("Para ingresar un nuevo registro primero debe seleccionar un País.");
            return false;
        }

        limpiarPopup();
        MostrarDialogo();
    }

    function limpiarPopup() {

        $('#PaisID').val("");
        $('#ddlPaisDialogo').prop('disabled', false);
        $('#ddlPaisDialogo')[0].selectedIndex = 0;
        $('#ddlPaisDialogo').removeAttr("disabled");
        $('#ddlCampaniaInicioDialogo')[0].selectedIndex = 0;
        $('#ddlCampaniaFinDialogo')[0].selectedIndex = 0;
        $('#Titulo').val("");
        $('#Subtitulo').val("");
        $('#imgPreviaLogo').attr('src', '@Url.Content("~/Content/Images/prod_grilla_vacio.png")');
        $('#ArchivoPortada').val("");
        $('#ArchivoPDF').val("");
        $('#Url').val("");

        var control = $("#flArchivoPDF");
        control.replaceWith(control = control.clone(true));

        $('#IncentivoID').val("0");
        $("input[name=grupoUrlPDF][value=url]").attr('checked', 'checked').click();
    }
</script>

<div class="wrap_cab">
    <div class="filtros">
        <div class="elements">
            <div class="div-2">
                <h1>Administrar<span> Incentivos</span></h1>
            </div>
            <div class="div-3">
                <div class="titG">País:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais" })
                </div>
                <div class="titB">Campaña:</div>
                <div class="selectA borde_redondeado">
                    <select id="ddlCampania">
                        <option value="">-- Seleccionar --
                        </option>
                    </select>
                </div>
                <div class="input_search">
                    <input type="button" value="Buscar" id="btnBuscar" name="btnBuscar">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper">

            <table id="gvwIncentivos"></table>
            <div id="pager"></div>

        </div>
        <div class="div-3">
            <div class="titAuto">
                <div class="input_search">
                    <input type="button" name="btnNuevo" id="btnNuevo" value="Nuevo" onclick="javascript: MostrarPopup();" />
                </div>
            </div>
        </div>
    </div>
</div>

<div id="loadingScreen"></div>

<div id="DialogRegistroIncentivos" style="display: none;">
    @using (Html.BeginForm("Mantener", "AdministrarIncentivos", FormMethod.Post, new { id = "frmIncentivo", enctype = "multipart/form-data" }))
    {
        <div class="Content_modal">
            @Html.Hidden("IncentivoID")
            @Html.Hidden("PaisID")
            <div class="div-3">
                <div class="titB">País:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPaisDialogo" })
                </div>
                <div class="titB line_height">Campaña Inicio:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.CampaniaIDInicio, new SelectList(Model.listaCampania, "CampaniaID", "NombreCorto"), "-- Seleccionar --", new { id = "ddlCampaniaInicioDialogo" })
                </div>
            </div>
            <div class="div-3">
                <div class="titB">Portada:</div>
                <div class="selectA borde_redondeado aligncenter" style="height: 280px;">
                    <img src='@Url.Content("~/Content/Images/prod_grilla_vacio.png")' id="imgPreviaLogo" />
                </div>
                <div style="float: left; width: 368px;">
                    <div class="div-3">
                        <div class="titB line_height">Campaña Fin:</div>
                        <div class="selectA borde_redondeado">
                            @Html.DropDownListFor(model => model.CampaniaIDFin, new SelectList(Model.listaCampania, "CampaniaID", "NombreCorto"), "-- Seleccionar --", new { id = "ddlCampaniaFinDialogo" })
                        </div>
                    </div>
                    <div class="div-3">
                        <div class="titB">Titulo:</div>
                        <div class="selectA borde_redondeado">
                            @Html.TextBox("Titulo", null, new { maxlength = 80 })
                        </div>
                    </div>
                    <div class="div-3">
                        <div class="titB">Subtitulo:</div>
                        <div class="selectA borde_redondeado">
                            @Html.TextBox("Subtitulo", null, new { maxlength = 80 })
                        </div>
                    </div>
                    <div class="div-3">
                        <div class="titB">PDF:</div>
                        <div class="titAuto">
                            <label for="">
                                <input name="grupoUrlPDF" type="radio" value="url">
                                Url Incentivo
                            </label>
                            <label for="">
                                <input name="grupoUrlPDF" type="radio" value="pdf">
                                PDF Incentivo
                            </label>
                        </div>
                    </div>
                    <div class="div-3 zona" style="display: none;" id="zonaurl">
                        <div class="titB"></div>
                        <div class="selectA borde_redondeado">
                            @Html.TextBox("Url", null, new { maxlength = 80 })
                        </div>
                    </div>
                    <div class="div-3 zona" id="zonapdf">
                        <div class="titB"></div>
                        <div class="selectA borde_redondeado" style="border: none; background: none;">
                            @Html.TextBox("ArchivoPDF", null, new { maxlength = 80 })
                            <input type="file" id="flArchivoPDF" name="flArchivoPDF" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-3">
                <div class="titB"></div>
                <div class="titB" style="width: 180px;">
                    <div class="input_search">
                        <input type="hidden" id="ArchivoPortada" name="ArchivoPortada" />
                        <input type="hidden" id="ArchivoPortadaAnterior" name="ArchivoPortadaAnterior" />
                        <div id="fpUpload">
                            <script type="text/javascript">
                                var uploader = new qq.FileUploader({
                                    allowedExtensions: ['jpg', 'png', 'jpeg'],
                                    element: document.getElementById('fpUpload'),
                                    action: '@Url.Action("ImageIncentivoUpload", "FileUpload")',
                                    onComplete: function (id, fileName, responseJSON) {
                                        
                                        if (checkTimeout(responseJSON)) {
                                            $(".qq-upload-list").css("display", "none");
                                            if (responseJSON.success) {
                                                $("#ArchivoPortada").val(responseJSON.name);
                                                $('#imgPreviaLogo').attr('src', '@Url.Content("~/Content/Temporales/")' + responseJSON.name);
                                            }
                                            else {
                                                alert(responseJSON.message);
                                            }
                                        }
                                    },
                                    onSubmit: function (id, fileName) { $(".qq-upload-list").css("display", "none"); },
                                    onProgress: function (id, fileName, loaded, total) { $(".qq-upload-list").css("display", "none"); },
                                    onCancel: function (id, fileName) { $(".qq-upload-list").css("display", "none"); }
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            @Html.ValidationSummary(null, new { @class = "validation-error-server", @id = "divMensaje" })
        </div>
    }
</div>
