@using Portal.Consultoras.Common
@model IEnumerable<Portal.Consultoras.Web.Models.CDRWebModel>

@if (Model.Any())
{
    
    foreach (var item in Model)
    {
        var claseEstado = item.Estado == Constantes.EstadoCDRWeb.Pendiente
            ? "estado_pendiente"
            : item.Estado == Constantes.EstadoCDRWeb.Enviado
                ? "estado_enviado"
                : item.Estado == Constantes.EstadoCDRWeb.Aceptado
                    ? "estado_aprobado"
                    : item.Estado == Constantes.EstadoCDRWeb.Observado //Rechazado
                        ? "estado_observado"
                        : "";

        var formatoHoraAtencion = "";
        var formatoFechaAtencion = "";
        if (item.FechaAtencion.HasValue)
        {
            var horaAtencion = item.FechaAtencion.Value.Hour > 12 ? item.FechaAtencion.Value.Hour - 12 : item.FechaAtencion.Value.Hour;
            var minutoAtencion = item.FechaAtencion.Value.Minute.ToString().PadLeft(2, '0');
            var formatoDiaAtencion = item.FechaAtencion.Value.Hour > 12 ? "pm" : "am";
            formatoHoraAtencion = horaAtencion.ToString().PadLeft(2, '0') + ":" + minutoAtencion + " " + formatoDiaAtencion;

            formatoFechaAtencion = item.FechaAtencion.Value.Day.ToString().PadLeft(2, '0') + "/" +
                                    item.FechaAtencion.Value.Month.ToString().PadLeft(2, '0') + "/" + item.FechaAtencion.Value.Year;
        }

        var cantAprobados = "";
        var cantRechazados = "";
        if (item.CantidadAprobados != 0)
        {
            cantAprobados = item.CantidadAprobados == 1 ? item.CantidadAprobados + " producto aprobado," : item.CantidadAprobados + " productos aprobados,";
        }

        if (item.CantidadRechazados != 0)
        {
            cantRechazados = item.CantidadRechazados == 1 ? item.CantidadRechazados + " rechazado" : item.CantidadRechazados + " rechazados";
        }

        var formatoFechaCulminado = "--/--/----";
        if (item.FechaCulminado.HasValue)
        {
            formatoFechaCulminado = item.FechaCulminado.Value.Day.ToString().PadLeft(2, '0') + "/" +
                                    item.FechaCulminado.Value.Month.ToString().PadLeft(2, '0') + "/" + item.FechaCulminado.Value.Year;
        }

        var formatoCampania = item.CampaniaID.ToString().Substring(0, 4) + "-" + item.CampaniaID.ToString().Substring(4, 2);
        <div class="border-radius-4 registro_solicitud_cdr abrir_detallemb">
            <input type="hidden" class="cdrweb_id" value="@item.CDRWebID" />
            <input type="hidden" class="cdrweb_pedidoid" value="@item.PedidoID" />
            <input type="hidden" class="cdrweb_estado" value="@item.Estado" />
            <input type="hidden" class="cdrweb_formatoFechaCulminado" value="@formatoFechaCulminado" />
            <input type="hidden" class="cdrweb_formatocampania" value="@formatoCampania" />
            <input type="hidden" class="cdrweb_CantidadAprobados" value="@item.CantidadAprobados" />
            <input type="hidden" class="cdrweb_CantidadRechazados" value="@item.CantidadRechazados" />

            <div class="datos_solicitud_cdr">
                <div class="fecha_solicitud tipografia_lato_light">
                    @formatoFechaAtencion
                </div>
                <div class="num_campania tipografia_lato_bold numcampsubraya">
                    CAMPAÑA @formatoCampania
                </div>
                <div class="num_solicitud tipografia_lato_regular numsolsubraya">
                    SOLICITUD N° - <span>@item.CDRWebID</span>
                </div>
                <div class="resumen_resolucion tipografia_lato_light">
                    @if (item.CantidadAprobados != 0)
                    {
                        <span class="productos_aprobados">@cantAprobados</span>
                    }
                    @if (item.CantidadRechazados != 0)
                    {
                        <span class="productos_rechazados">@cantRechazados</span>
                    }
                </div>
            </div>
            <div class="tipografia_lato_bold estado_registro_solicitud_cdr @claseEstado">
                @item.EstadoDescripcion
            </div>
        </div>
    }

}
else
{
    <div>
        <div class="text-center mensaje_sin_solicitudes_registradas_wrapper">
            <div class="mensaje_sin_solicitudes_registradas_icono">
                <img src="@Url.Content("~/Content/Images/icono_notificacion_negativa.svg")" alt="No tiene ningún cambio y devolución" />
            </div>
            <p class="tipografia_lato_bold mensaje_sin_solicitudes_registradas">
                No tienes ningún<br />cambio y devolución
            </p>
        </div>
    </div>
}

