@using Portal.Consultoras.Web.Areas.Mobile.Models
@using Portal.Consultoras.Web.CustomHelpers
@{

    var layout = ViewContext.MobileLayout();
    Layout = string.Format("~/Areas/Mobile/Views/Shared/{0}.cshtml", layout);
    MobileAppConfiguracionModel mobileConfiguracion = Html.MobileAppConfiguracion();
}

@section styles
{
    @if (System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika").Contains(ViewBag.PaisAnalytics))
    {
        <link href="@Url.Content("~/Content/Css/Mobile/esika/cdr.css")" rel="stylesheet" />
    }
    else
    {
        <link href="@Url.Content("~/Content/Css/Mobile/lbel/cdr.css")" rel="stylesheet" />
    }

    <style type="text/css">
        .footer-page {
            display:none;
        }
    </style>
}

@{
    if (!mobileConfiguracion.EsAppMobile)
    {
        <div class="titulo_mobile fijarTituloMobile">
            <a href="@Request.UrlReferrer" class="enlace_regresar catalogosR" title="Regresar"></a>
            CAMBIOS Y DEVOLUCIONES
        </div>

        <div class="pestana_esika"></div>
        <div class="pestana_lbel"></div>
    }
}


@if (ViewBag.Origen == "0")
{
    <div class="wrapper_resumen_mobile tipografia_lato bloqueCDRRegistro pt-50">

        <div class="content_mensaje_solicitud_enviada">
            <div class="icono_solicitud_enviada">
                <img src="@Url.Content("~/Content/Images/Esika/icono_check_esika.svg")" alt="Solicitud Enviada">
            </div>
            <div class="titulo_solicitud_enviada tipografia_lato_regular">
                ¡SOLICITUD <span class="tipografia_lato_bold">ENVIADA!</span>
            </div>
            <div class="mensaje_solicitud_enviada tipografia_lato_regular">
                Vamos a evaluarla y en un plazo de 30 minutos te enviaremos una respuesta a tu correo electrónico.
            </div>
        </div>

        <div class="detalle_solicitud_cdr">
            <div class="text-bold titulo_detalle_solicitud_cdr">
                Solicitud de Cambio y devolución
            </div>
            <div class="text-thin info_detalle_cdr">
                <div class="info_fecha_solicitud">
                    Fecha: <span class="tipografia_lato_regular">10/10/2016</span>
                </div>
                <div class="info_num_solicitud">
                    Solicitud: <span class="tipografia_lato_regular">Nº 12345678</span>
                </div>
                <div class="info_campania_solicitud">
                    Campaña: <span class="tipografia_lato_regular">2016-15</span>
                </div>
            </div>
            <div class="detalle_solicitud_listado">
                <div class="text-bold detalle_tipo_solicitud_titulo">
                    Solicitud de cambio
                </div>
                <div class="detalle_tipo_solicitud">
                    <div class="detalle_producto_cdr">
                        <span class="detalle_cod_producto tipografia_lato_regular">
                            00411
                        </span>
                        <span class="text-bold detalle_nom_producto">
                            Berrylicious shampoo rojo 375ml.
                        </span>
                        <span class="detalle_cantidad_producto tipografia_lato_regular">
                            x2 unidades
                        </span>
                        <span class="detalle_precio_producto tipografia_lato_regular">
                            S/.15.00
                        </span>
                    </div>
                    <div class="detalle_cdr_solucion">
                        <span class="text-bold detalle_cdr_solucion_titulo color_marca">
                            Cambiar por:
                        </span>
                        <span class="detalle_cod_producto tipografia_lato_regular">
                            98765
                        </span>
                        <span class="text-bold detalle_nom_producto">
                            Máscara Full Size Negro.
                        </span>
                        <span class="detalle_cantidad_producto tipografia_lato_regular">
                            x2 unidades
                        </span>
                        <span class="detalle_precio_producto tipografia_lato_regular">
                            S/.15.00
                        </span>
                    </div>
                </div>
                <div class="text-bold detalle_tipo_solicitud_titulo">
                    Solicitud de reenvío
                </div>
                <div class="detalle_tipo_solicitud">
                    <div class="detalle_producto_cdr">
                        <span class="detalle_cod_producto tipografia_lato_regular">
                            00411
                        </span>
                        <span class="text-bold detalle_nom_producto">
                            Berrylicious shampoo rojo 375ml.
                        </span>
                        <span class="detalle_cantidad_producto tipografia_lato_regular">
                            x2 unidades
                        </span>
                    </div>
                    <div class="detalle_cdr_solucion">
                        <span class="text-bold detalle_cdr_solucion_titulo color_marca">
                            Reenviar:
                        </span>
                        <span class="detalle_cdr_solucion_titulo tipografia_lato_regular">
                            el mismo producto
                        </span>
                    </div>
                </div>
                <div class="text-bold detalle_tipo_solicitud_titulo">
                    Solicitud de devolución
                </div>
                <div class="detalle_tipo_solicitud">
                    <div class="detalle_producto_cdr">
                        <span class="detalle_cod_producto tipografia_lato_regular">
                            00411
                        </span>
                        <span class="text-bold detalle_nom_producto">
                            Berrylicious shampoo rojo 375ml.
                        </span>
                        <span class="detalle_cantidad_producto tipografia_lato_regular">
                            x2 unidades
                        </span>
                    </div>
                    <div class="detalle_cdr_solucion">
                        <span class="text-bold detalle_cdr_solucion_titulo color_marca">
                            Devolución:
                        </span>
                        <span class="detalle_cdr_monto_devolucion tipografia_lato_regular">
                            S/.15
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="enlace_solicitudes_anteriores tipografia_lato tipografia_lato_regular" title="Ver solicitudes">
            <span class="icono_arrow_left">
                <img src="@Url.Content("~/Content/Images/mobile/left-arrow.png")" alt="Ver tus solicitudes" />
            </span>
            <span>VER TUS SOLICITUDES</span>
        </a>

    </div>
}
else if (ViewBag.Origen == "1")
{
    <div class="datos_solicitud_cdr_consulta tipografia_lato bloqueCDRDetalle">
        <div class="wrapper_resumen_mobile">
            <div class="text-bold datos_solicitud_cdr_titulo">
                Solicitud de cambios y devoluciones
            </div>
            <div class="dato_fecha_solicitud_cdr">
                <span class="text-thin">Fecha</span>
                <span class="tipografia_lato_regular">@ViewBag.FormatoFechaCulminado</span>
            </div>
            <div class="dato_num_solicitud_cdr">
                <span class="text-thin">Solicitud</span>
                <span class="tipografia_lato_regular">Nº @ViewBag.CDR_ID</span>
            </div>
            <div class="dato_campania_solicitud_cdr">
                <span class="text-thin">Campaña</span>
                <span class="tipografia_lato_regular">@ViewBag.FormatoCampania</span>
            </div>
            <div class="estado_productos_cdr">
                <span class="tipografia_lato_regular">@ViewBag.EstadoProductos</span>
            </div>
        </div>
    </div>

    <div class="wrapper_resumen_mobile tipografia_lato bloqueCDRDetalle">
        <div id="MiDetalleCDR" class="detalle_solicitud_listado mb-60">
            @{ foreach (var item in ViewBag.ListaDetalle)
                {
                    <div class="d-flex text-bold detalle_tipo_solicitud_titulo">
                        <span class="d-inline-block detalle_tipo_solicitud_icono">
                            <img src="@Url.Content("~/Content/Images/opcion_cambio_otro_producto_cdr.svg")" alt="" class="opcion_cdr_icono opcion_cdr_icono--solicitudReclamo" />
                        </span>
                        <span class="d-inline-block text-uppercase">
                            Cambiar por otro producto
                            @*@item.SolucionSolicitada*@
                        </span>
                        @*<div class="text-bold estado_solic_cdr">
                                @if (item.Estado == 4)
                                {<span class="text-bold estado_registro_solicitud_cdr estado_rechazado">RECHAZADO</span>}
                                @if (item.Estado == 3)
                                {<span class="text-bold estado_registro_solicitud_cdr estado_aprobado">APROBADO</span>}
                                @if (item.Estado == 2)
                                {<span class="text-bold estado_registro_solicitud_cdr estado_en_evaluacion">EN EVALUACION</span>}
                                @if (item.Estado == 1)
                                {<span class="text-bold estado_registro_solicitud_cdr estado_pendiente">PENDIENTE</span>}
                            </div>*@
                    </div>
                    <div class="detalle_tipo_solicitud">
                        <div class="detalle_producto_cdr detalle_producto_cdr--flex">
                            @if (item.GrupoID != "" && item.GrupoID != null)
                            {
                                <div class="text-bold text-center tag_sb tag_sb--standard">Set o Pack</div>
                            }
                            <div class="detalle_productos_solicitud_cdr">
                                <span class="detalle_cod_producto">
                                    @item.CUV
                                </span>
                                <span class="text-bold detalle_nom_producto">
                                    @item.Descripcion
                                </span>
                                <span class="detalle_cantidad_producto">
                                    x @item.Cantidad unidades
                                </span>
                                <span class="detalle_precio_producto detalle_precio_producto--relative">
                                    @ViewBag.Simbolo @item.FormatoPrecio1
                                </span>
                            </div>
                        </div>
                        <div class="detalle_cdr_solucion">
                            @if (item.CodigoOperacion.Equals("T"))
                            {
                                <div class="text-bold detalle_cdr_solucion_titulo detalle_cdr_solucion_titulo_trueque">
                                    @item.Solicitud :
                                </div>
                                if (item.DetalleReemplazo != null)
                                {
                                    foreach (var el in item.DetalleReemplazo)
                                    {
                                        <div class="d-flex detalle_productos_solicitud_cdr detalle_productos_solicitud_cdr--trueque">
                                            <div>
                                                <span class="detalle_cod_producto">
                                                    @el.CUV
                                                </span>
                                                <span class="text-bold detalle_nom_producto">
                                                    @el.Descripcion
                                                </span>
                                                <span class="detalle_cantidad_producto">
                                                    x @el.Cantidad unidades
                                                </span>
                                                <span class="detalle_precio_producto detalle_precio_producto--relative">
                                                    @el.Simbolo @el.PrecioFormato
                                                </span>
                                            </div>
                                            <div>
                                                <span class="d-block text-center text-bold text-uppercase tag_sb tag__sb--estadoSolicitud estado_rechazado">
                                                    Rechazado
                                                </span>
                                            </div>
                                            <div class="d-flex w-100 border-radius-4 acciones_detalle_productos_solicitud_cdr">
                                                <div class="d-flex descripcion_acciones">
                                                    <span class="d-inline-block descripcion_acciones_icono_alerta">
                                                        <img src="@Url.Content("~/Content/Images/icono_alerta_cierre_sesion.svg")" alt="" />
                                                    </span>
                                                    <span class="d-inline-block">
                                                        Debes modificar la cantidad y/o eliminar este producto para procesar nuevamente tu solicitud.
                                                    </span>
                                                </div>
                                                <div class="d-flex w-100">
                                                    <div id="divCantidad" data-cantidad-contenedor="" class="d-flex control_cantidad_producto_cdr">
                                                        <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad1" class="d-flex text-bold rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral"
                                                               data-input="cantidad" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);">
                                                        <a class="d-flex cantidad_menos_home" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
                                                        <a class="d-flex cantidad_mas_home" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
                                                    </div>
                                                    <a href="" title="Eliminar producto" class="d-flex enlace_eliminar_producto">
                                                        <span class="d-inline-block enlace_eliminar_producto_icono">
                                                            <img src="@Url.Content("~/Content/Images/Esika/icons-trash.svg")" alt="Eliminar producto" />
                                                        </span>
                                                        <span class="d-inline-block text-underline">
                                                            Eliminar producto
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="btn_cta_wrapper">
                                                <button id="btnSiguiente1"
                                                        class="d-block text-uppercase text-bold tipografia_lato border-radius-4 btn__sb btn__sb__primary--multimarca btn__sb--continuarEnvio">
                                                    Actualizar solicitud
                                                </button>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="detalle_productos_solicitud_cdr">
                                        <span class="detalle_cod_producto">
                                            @item.CUV2
                                        </span>
                                        <span class="text-bold detalle_nom_producto">
                                            @item.Descripcion2
                                        </span>
                                        <soan class="detalle_cantidad_producto">
                                            x @item.Cantidad2 unidades
                                        </soan>
                                        <span class="detalle_precio_producto detalle_precio_producto--relative">
                                            @ViewBag.Simbolo @item.FormatoPrecio2
                                        </span>
                                    </div>
                                }

                            }
                            else
                            {
                                <div class="text-bold detalle_cdr_solucion_titulo">
                                    @item.Solicitud
                                </div>
                            }
                        </div>
                    </div>
                }
            }
        </div>

    </div>
}