@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Areas.Mobile.Models;
@using Portal.Consultoras.Web.CustomHelpers
@model Portal.Consultoras.Web.Models.MisReclamosModel
@{
    var layout = ViewContext.MobileLayout();
    Layout = string.Format("~/Areas/Mobile/Views/Shared/{0}.cshtml", layout);
    MobileAppConfiguracionModel mobileConfiguracion = Html.MobileAppConfiguracion();
    int Cantidad = 0;
    var listaCdr = new List<Portal.Consultoras.Web.Models.CDRWebModel>();
    if (Model.ListaCDRWeb.Any())
    {
        Cantidad = Model.ListaCDRWeb.Count;
        listaCdr = Model.ListaCDRWeb;
    }
    string msg = Model.MensajeGestionCdrInhabilitada;
}



@section styles
{
    @if (System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika").Contains(ViewBag.PaisAnalytics))
    {
        <link href="@Url.Content("~/Content/Css/Mobile/esika/cdr.css")" rel="stylesheet" />
    }
    else
    {
        <link href="@Url.Content("~/Content/Css/Mobile/lbel/cdr.css")" rel="stylesheet" />
    }
}

@{
    if (!mobileConfiguracion.EsAppMobile)
    {
        <div class="titulo_mobile">
            <a href="@Request.UrlReferrer" class="enlace_regresar catalogosR" title="Regresar"></a>
            CAMBIOS Y DEVOLUCIONES
        </div>

        <div class="pestana_esika"></div>
        <div class="pestana_lbel"></div>
    }
}

<div class="wrapper_resumen_mobile">

    @if (msg.Length > 0 && Cantidad == 0)
    {
        <div class="mensaje_vista_cdr">
            @Html.Raw(msg)

        </div>
    }
    else
    {
        if (Cantidad > 0)
        {
            <input id="hdNroSolicitudes" type="hidden" value="@Cantidad" />
            <div class="grilla_registros_solicitud_cdr">
                <h4 class="tipografia_lato_bold titulo_solicitudes_registradas">Mis solicitudes registradas</h4>
                @if (Cantidad > 6)
                {
                    //Este filtro se muestra cuando la cantidad de solicitudes excede a 6
                    <div class="campo_orden_solicitudes_cdr_wrapper">
                        <label id="lblTextoSeleccionado">Filtrar por :</label>
                        <select id="OrdenarSolicitudesRegistradasPor" class="border-radius-4 campo_ordenar_solicitudes_por">
                            <option value="0">Todos</option>
                            <option value="1">Pendientes</option>
                            <option value="2">Enviados</option>
                            <option value="3">Aceptados</option>
                            <option value="4">Observados</option>
                            @*<option value="4">Rechazados</option>*@

                        </select>
                    </div>
                    //Fin - Este filtro se muestra cuando la cantidad de solicitudes excede a 6
                }
                <div id="divMisReclamos">
                    @Html.Partial("~/Areas/Mobile/Views/MisReclamos/_ListaMisReclamos.cshtml", listaCdr)
                </div>
            </div>
        }
        else
        {
            <div id="VistaSinSolicitudesRegistradas">
                <div class="text-center mensaje_sin_solicitudes_registradas_wrapper">
                    <div class="mensaje_sin_solicitudes_registradas_icono">
                        <img src="@Url.Content("~/Content/Images/icono_notificacion_negativa.svg")" alt="No tiene ningún cambio y devolución" />
                    </div>
                    <p class="tipografia_lato_bold mensaje_sin_solicitudes_registradas">
                        No tienes ningún<br />cambio y devolución
                    </p>
                </div>
            </div>
        }
    }



</div>
<div class="btn_cta_wrapper">
    <a id="linkNuevoReclamo" href="javascript:void(0);" onclick="misReclamos.Funciones.NuevaSolicitud();"
       class="text-uppercase tipografia_lato tipografia_lato_bold border-radius-4 btn_cta_cdr btn_cta_cdr--agregarSolicitud">
        Agregar cambio
    </a>
</div>

@section scripts{
    @Scripts.Render("~/Bundle/Js/Mobile/MisReclamos")
}

<script type="text/javascript">
    var mensajeGestionCdrInhabilitada = '@Html.Raw(Model.MensajeGestionCdrInhabilitada)';
    var mensajeCdrFueraDeFechaCompleto = '@Html.Raw(Constantes.CdrWebMensajes.FueraDeFecha)';
    var urlReclamo = '@Url.Action("Reclamo", "MisReclamos", new { area = "Mobile" } )';
    var UrlGetMisReclamos = '@Url.Action("GetReclamos","MisReclamos", new { area = "mobile"})';
    var urlValidarCargaDetalle = '@Url.Action("ValidarCargaDetalle", "MisReclamos", new { area = "Mobile" })';
</script>

