@using Portal.Consultoras.Web.Areas.Mobile.Models
@using Portal.Consultoras.Common
@model Portal.Consultoras.Web.Models.MisReclamosModel
@{
    ViewBag.Title = "Cambios y Devoluciones";
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}

<style type="text/css">
    .footer-page {
        padding-bottom: 70px;
    }
</style>

<div class="titulo_mobile">
    @{
        var mobileConfiguracion = Session["MobileAppConfiguracion"] == null ? new MobileAppConfiguracionModel() : (MobileAppConfiguracionModel)Session["MobileAppConfiguracion"];
        if (mobileConfiguracion.MostrarBotonAtras)
        {
        <a class="enlace_regresar catalogosR" title="Regresar"></a>
        }
    }
    CAMBIOS Y DEVOLUCIONES
</div>

<div class="pestana_esika"></div><!--PESTANA ESIKA-->
<div class="pestana_lbel"></div><!--PESTANA LBEL-->

<div class="wrapper_resumen_mobile">
    <div>
        <span class="mensaje_vista_cdr tipografia_lato_bold">
            Queremos verte siempre satisfecha con nuestros productos y servicio.
        </span>
        <span class="mensaje_vista_cdr tipografia_lato_regular">
            Si tuviste inconvenientes con algún producto y estás dentro del <a href="@Model.UrlPoliticaCdr" class="plazo_permitido" title="Detalle de plazo permitido" target="_blank">plazo permitido</a> sigue estos pasos.
        </span>
    </div>
    <div class="contenedor_proceso_registro_cdr">
        <div class="pasos_proceso_registro">
            <!-- Status icono off -->
            <!-- Fin Status icono off -->
            <!-- Status icono on -->
            <div class="icono_paso icono_producto icono_paso_activo">
                <img src="@Url.Content("~/Content/Images/mobile/cdr_paso1_activo.png")" />
            </div>
            <!-- Fin Status icono on -->
            <!-- Status icono off -->
            <div class="icono_paso icono_solucion_elegida">
                <img src="@Url.Content("~/Content/Images/mobile/cdr_paso2.png")" />
            </div>
            <!-- Fin Status icono off -->
            <!-- Status icono on -->
            <!-- Fin Status icono on -->
            <!-- Status icono off -->
            <div class="icono_paso icono_solucion_elegida">
                <img src="@Url.Content("~/Content/Images/mobile/cdr_paso3.png")" />
            </div>
            <!-- Fin Status icono off -->
            <!-- Status icono on -->
            @*<div class="icono_paso icono_envio_solicitud_cdr icono_paso_activo">
                    <img src="@Url.Content("~/Content/Images/mobile/cdr_paso3_activo.png")" />
                </div>*@
            <!-- Fin Status icono on -->
            <div class="linea_conexion_pasos"></div>
        </div>

        <!-- INICIO VISTA CON QUÉ PRODUCTO HAS TENIDO INCONVENIENTES -->
        <div class="pregunta_inconveniente_producto tipografia_lato tipografia_lato_bold Registro1">
            ¿Con qué producto has tenido inconvenientes?
            <div class="mi_solicitud_cdr">
                <div class="pestania_ver_mi_solicitud">
                    <img src="@Url.Content("~/Content/Images/mobile/pestania_ver_solicitud.svg")" alt="Ver mi solicitud">
                </div>
                <span class="num_solicitudes">2</span>
                <div class="datos_solicitud_opened">
                    <div>
                        <div class="titulo_solicitud_opened tipografia_lato_bold">
                            MI SOLICITUD
                        </div>
                        <div class="cant_prod_solicitud_opened tipografia_lato_regular">
                            2 productos agregados
                        </div>
                        <div class="icono_flecha_mi_solicitud ocultar_mi_solicitud">
                            <img src="@Url.Content("~/Content/Images/mobile/left-arrow.png")" alt="">
                        </div>
                    </div>
                    
                    <div id="divDetalleUltimasSolicitudes"></div>

                    <div class="listado_productos_agregados">
                        <div class="producto_agregado">
                            <span class="cod_producto_agregado tipografia_lato_regular">00411</span>
                            <span class="nom_producto_agregado tipografia_lato_regular">Berrylicious shampoo rojo 375 ml.</span>
                            <span class="cant_producto_agregado tipografia_lato_regular">2 unidades</span>
                            <span class="icono_eliminar_producto_agregado">
                                <img src="@Url.Content("~/Content/Images/mobile/icono-eliminar-cdr.png")" alt="Eliminar producto de lista de solicitud">
                            </span>
                        </div>
                        <div class="producto_agregado">
                            <span class="cod_producto_agregado tipografia_lato_regular">98765</span>
                            <span class="nom_producto_agregado tipografia_lato_regular">Máscara Full Size Negro</span>
                            <span class="cant_producto_agregado tipografia_lato_regular">1 unidades</span>
                            <span class="icono_eliminar_producto_agregado">
                                <img src="@Url.Content("~/Content/Images/mobile/icono-eliminar-cdr.png")" alt="Eliminar producto de lista de solicitud">
                            </span>
                        </div>
                        <div class="producto_agregado">
                            <span class="cod_producto_agregado tipografia_lato_regular">00411</span>
                            <span class="nom_producto_agregado tipografia_lato_regular">Berrylicious shampoo rojo 375 ml.</span>
                            <span class="cant_producto_agregado tipografia_lato_regular">2 unidades</span>
                            <span class="icono_eliminar_producto_agregado">
                                <img src="@Url.Content("~/Content/Images/mobile/icono-eliminar-cdr.png")" alt="Eliminar producto de lista de solicitud">
                            </span>
                        </div>
                        <div class="producto_agregado">
                            <span class="cod_producto_agregado tipografia_lato_regular">98765</span>
                            <span class="nom_producto_agregado tipografia_lato_regular">Máscara Full Size Negro</span>
                            <span class="cant_producto_agregado tipografia_lato_regular">1 unidades</span>
                            <span class="icono_eliminar_producto_agregado">
                                <img src="@Url.Content("~/Content/Images/mobile/icono-eliminar-cdr.png")" alt="Eliminar producto de lista de solicitud">
                            </span>
                        </div>
                    </div>
                    <div class="enlace_ir_al_final">
                        <div class="icono_flecha_mi_solicitud">
                            <img src="@Url.Content("~/Content/Images/mobile/left-arrow.png")" alt="">
                        </div>
                        <a href="" class="tipografia_lato_regular" title="Ir al final">IR AL FINAL</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="campos_registro_solicitud_cdr Registro1">
            <form class="formulario_inscripcion">
                @Html.DropDownListFor(model => model.CampaniaID, new SelectList(Model.ListaCampania, "CampaniaID", "NombreCorto", Model.CampaniaID), new { id = "ddlCampania", @class = "select_reclamo", @required = "required" })

                <!-- INICIO CAMPO PARA INGRESAR CÓDIGO PRODUCTO -->
                <input id="cuvmobile" class="tipografia_lato tipografia_lato_regular" type="text" value="" placeholder="Código del producto" />
                <!-- FIN CAMPO PARA INGRESAR CÓDIGO PRODUCTO -->
                <div id="DescripcionCuv" class="producto_cdr" style="font-size:13px; display:none;">
                    <span id="txtCuv" class="codigo_producto_cdr tipografia_lato_bold">00411</span> - <span id="txtDescripcionCuv" class="nom_producto_cdr tipografia_lato_bold">Berrylicious shampoo rojo 375ml</span>
                    <a href="#" class="enlace_cambiar_producto tipografia_lato_regular" title="Cambiar producto">CAMBIAR PRODUCTO</a>
                </div>
                <div class="contenedor_cantidadProductos contenedor_campo_cantidad_productos">
                    <span class="texto_cantidad_productos tipografia_lato tipografia_lato_regular">Cantidad:</span>
                    <div id="divCantidad">
                        <a class="cantidad_menos_home"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
                        <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" data-input="cantidad" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);">
                        <a class="cantidad_mas_home"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
                    </div>
                </div>
            </form>
        </div>
        <!--PASO A PASO RECLAMOS-->
        <div style="display:none;">
            <input type="hidden" name="CDRWebID" id="CDRWebID" value="@Model.CDRWebID" />
            <input type="hidden" id="hdMontoMinimoPedido" value="@Model.MontoMinimo" />
            <input type="hidden" id="hdPedidoID" value="@Model.PedidoID" />
            <input type="hidden" id="hdNumeroPedido" value="@Model.NumeroPedido" />
            <input type="hidden" id="txtPrecioUnidad" />
            <input type="hidden" id="hdImporteTotalPedido" />
        </div>
        <!-- FIN VISTA CON QUÉ PRODUCTO HAS TENIDO INCONVENIENTES -->
        <!-- INICIO VISTA CUÁL FUE EL INCONVENIENTE -->
        <div class="pregunta_inconveniente_producto tipografia_lato tipografia_lato_bold Registro2" style="display:none;">
            ¿Cuál fue el inconveniente?
        </div>
        <div class="campos_registro_solicitud_cdr Registro2" style="display:none;">
            <form class="formulario_inscripcion">
                <div id="listaMotivos" class="lista_opciones_motivo_cdr">
                </div>
            </form>
        </div>
        <!-- FIN VISTA CUÁL FUE EL INCONVENIENTE -->
        <!-- INICIO VISTA SOLUCIÓN REFERENTE AL CAMBIO O DEVOLUCIÓN -->
        <div class="pregunta_inconveniente_producto tipografia_lato tipografia_lato_bold mb-23 Registro3" style="display:none;">
            Escoge una solución
        </div>
        <div class="listado_soluciones_cdr tipografia_lato Registro3" id="listado_soluciones_cdr" style="display:none;">
        </div>
        <!-- FIN VISTA SOLUCIÓN REFERENTE AL CAMBIO O DEVOLUCIÓN -->

        <!--INICIO DE VISTA CAMBIARLO POR OTRO PRODUCTO-->
        <div class="eleccion_solucion_cdr tipografia_lato Registro4" id="Cambio2" style="display:none;">
            <div class="titulo_eleccion_cdr tipografia_lato_bold">
                <span>ELEGISTE:</span>
                <span>CAMBIARLO POR OTRO PRODUCTO</span>
            </div>
            <div class="descripcion_eleccion_cdr tipografia_lato tipografia_lato_regular" @*data-tipo-confirma="canje"*@>
                <span>
                    <input type="hidden" id="hdMontoMinimoReclamo" />
                    Puedes cambiarlo por otro producto(s) cuyo monto sea mayor o igual al que reclamas (<span id="spnSimboloMonedaReclamo">S/.</span><span id="spnMontoMinimoReclamoFormato">15</span>)
                </span>
                <span >Búscalo en tus catálogos de Campaña <span id="spnNumeroCampaniaReclamo">15</span>:</span>
                <div data-detalle-confirma=""></div>
            </div>
            
            <form class="formulario_inscripcion">
                <input id="cuvmobile2" class="tipografia_lato tipografia_lato_regular" type="text" value="" placeholder="Código del producto" />

                <div id="DescripcionCuv2" class="producto_cdr" style="font-size:13px; display:none;">
                    <span id="txtCuv2" class="codigo_producto_cdr tipografia_lato_bold">00411</span> - <span id="txtDescripcionCuv2" class="nom_producto_cdr tipografia_lato_bold">Berrylicious shampoo rojo 375ml</span>
                    <a href="#" id="aCambiarProducto2" class="enlace_cambiar_producto tipografia_lato_regular" title="Cambiar producto">CAMBIAR PRODUCTO</a>
                </div>
                <div class="contenedor_cantidadProductos contenedor_campo_cantidad_productos">
                    <span class="texto_cantidad_productos tipografia_lato tipografia_lato_regular">Cantidad:</span>
                    <div id="divCantidad2">
                        <a class="cantidad_menos_home"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
                        <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad2" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" data-input="cantidad" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);">
                        <a class="cantidad_mas_home"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
                    </div>
                </div>
            </form>
        </div>
        <!--FIN DE VISTA CAMBIARLO POR OTRO PRODUCTO-->
     </div>

        @*Canje*@
        <div class="eleccion_solucion_cdr tipografia_lato Registro4" id="eleccion" style="display:none;" data-tipo-confirma="canje">
            <div>
                <span>Te proponemos la siguiente solución</span>
                <div data-detalle-confirma=""></div>
            </div>
            @*<div class="descripcion_eleccion_cdr tipografia_lato tipografia_lato_regular" data-tipo-confirma="canje">
                    <span>
                        Puedes cambiarlo por otro producto (s) cuyo monto sea mayor o igual al que reclamas <span>(Bs.180.09)</span>
                    </span>
                    <span>Búscalo en tus catálogos de Campaña <span>15</span>:</span>
                    <div data-detalle-confirma=""></div>
                </div>*@
            <div class="info_importante_cdr tipografia_lato">
                <div class="titulo_info_cdr tipografia_lato_regular">
                    TEN EN CUENTA
                </div>
                <div id="spnMensajeTenerEnCuentaCambio" class="content_info_cdr tipografia_lato_regular">
                </div>
            </div>
        </div>
        <!-- INICIO VISTA FINALIZACIÓN DE SOLICITUD -->
        <div class="pregunta_inconveniente_producto tipografia_lato tipografia_lato_bold mb-23 AceptarSolucion" style="display:none;">
            <span class="titulo_revision_resumen">Revisa el resumen, finaliza y envía tu solicitud</span>
            <span class="mensaje_vista_cdr tipografia_lato_regular">
                Asegúrate de tener todos los inconvenientes registrados porque <span class="tipografia_lato_bold">sólo puedes hacer 1 solicitud web por pedido.</span>
            </span>
        </div>
        <div id="divDetallePaso3" class="AceptarSolucion" style="display:none;">
            <!--template-detalle-banner-->
        </div>

        @*<div class="content_solicitud_cdr tipografia_lato">
                <div class="contenedor_info_cdr">
                    <div class="titulo_solicitud_cdr tipografia_lato_bold">Solicitud de cambio</div>
                    <div class="info_solicitud_cdr tipografia_lato_regular">
                        <span>00411</span> - <span>Berrylicious shampoo rojo 375ml.</span>
                    </div>
                </div>
                <div class="contenedor_info_cdr">
                    <div class="titulo_solicitud_cdr tipografia_lato_bold">Cambiar por:</div>
                    <div class="info_solicitud_cdr tipografia_lato_regular">
                        <span>98765</span> - <span>Máscara full size negro.</span>
                    </div>
                </div>
                <div class="icono_eliminar_solic_cdr">
                    <a href="" title="eliminar solicitud">
                        <img src="@Url.Content("~/Content/Images/mobile/icono-eliminar-cdr.png")" />
                    </a>
                </div>
            </div>*@
        <div class="validacion_datos tipografia_lato AceptarSolucion" style="display:none;">
            <div class="validacion_seccion_titulo">
                <div class="titulo_validacion_datos tipografia_lato_bold">Valida tus datos</div>
                <div class="mensaje_validacion_datos tipografia_lato_regular">En caso de necesitar contactarnos contigo, lo haremos a través de:</div>
            </div>
            <div class="validacion_seccion_datos">
                <form>
                    <div class="mb-27">
                        <label class="tipografia_lato_regular">Correo electrónico</label>
                        <input type="hidden" id="hdEmail" value="@Model.Email" />
                        <input type="text" id="txtEmail" value="@Model.Email" />
                    </div>
                    <div class="mb-23">
                        <label class="tipografia_lato_regular">Celular</label>
                        <input type="text" id="txtTelefono" value="@Model.Telefono" />
                        <input type="hidden" id="hdTelefono" value="@Model.Telefono" />
                        <div class="correo_reclamo_error">
                            <span id="spnTelefonoError" style="display: none;">
                                *Teléfono incorrecto
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="content_politica_devolucion tipografia_lato AceptarSolucion" style="display:none;">
            <input type="checkbox" value="" id="politica-devolucion" name="politica-devolucion" />
            <label for="politica-devolucion">
                <span></span>
                <a href="@Model.UrlPoliticaCdr" target="_blank" class="enlace_politica_devolucion tipografia_lato_regular"
                   title="acepto la política de devolución">
                    Acepto la política de cambios y devoluciones
                </a>
            </label>
        </div>
        <div class="tooltip_btn_reportar_inconveniente tipografia_lato AceptarSolucion" style="display:none;">
            <span class="icono_alerta_cdr">
                <img src="@Url.Content("~/Content/Images/Esika/icono_advertencia_notificacion.svg")" alt="reportar inconveniente">
            </span>
            <span class="tipografia_lato tipografia_lato_regular texto_tooltip_reportar_inconveniente">
                Si tuviste otro inconveniente en la misma campaña repórtalo ahora.
            </span>
        </div>
        <!-- FIN VISTA FINALIZACIÓN DE SOLICITUD -->
        <!--SOLICITUD ENVIADA-->
        <div class="wrapper_resumen_mobile tipografia_lato bloqueCDRRegistro" id="SolicitudEnviada" style="display:none;">
            <!-- VISTA SOLICITUD ENVIADA -->
            <div class="content_mensaje_solicitud_enviada">
                <div class="icono_solicitud_enviada">
                    <img src="@Url.Content("~/Content/Images/Esika/icono_check_esika.svg")" alt="Solicitud Enviada">
                </div>
                <div class="titulo_solicitud_enviada tipografia_lato_regular">
                    ¡SOLICITUD <span class="tipografia_lato_bold">ENVIADA!</span>
                </div>
                <div class="mensaje_solicitud_enviada tipografia_lato_regular">
                    Vamos a evaluarla y en un plazo de 30 minutos te enviaremos una respuesta a tu correo electrónico.
                </div>
            </div>

            <div class="detalle_solicitud_cdr">
                <div class="titulo_detalle_solicitud_cdr tipografia_lato_bold">
                    Solicitud de Cambio y devolución
                </div>
                <div class="info_detalle_cdr tipografia_lato_light">
                    <div class="info_fecha_solicitud">
                        Fecha: <span class="tipografia_lato_regular" id="spnSolicitudFechaCulminado"></span>
                    </div>
                    <div class="info_num_solicitud">
                        Solicitud: Nº <span class="tipografia_lato_regular" id="spnSolicitudNumeroSolicitud"></span>
                    </div>
                    <div class="info_campania_solicitud">
                        Campaña: <span class="tipografia_lato_regular" id="spnSolicitudCampania"></span>
                    </div>
                </div>
                <div class="detalle_solicitud_listado" id="divDetalleEnviar">
                    @*<div class="detalle_tipo_solicitud_titulo tipografia_lato_bold">
                            Solicitud de cambio
                        </div>
                        <div class="detalle_tipo_solicitud">
                            <div class="detalle_producto_cdr">
                                <span class="detalle_cod_producto tipografia_lato_regular">
                                    00411
                                </span>
                                <span class="detalle_nom_producto tipografia_lato_bold">
                                    Berrylicious shampoo rojo 375ml.
                                </span>
                                <span class="detalle_cantidad_producto tipografia_lato_regular">
                                    x2 unidades
                                </span>
                                <span class="detalle_precio_producto tipografia_lato_regular">
                                    S/.15.00
                                </span>
                            </div>
                            <div class="detalle_cdr_solucion">
                                <span class="detalle_cdr_solucion_titulo color_marca tipografia_lato_bold">
                                    Cambiar por:
                                </span>
                                <span class="detalle_cod_producto tipografia_lato_regular">
                                    98765
                                </span>
                                <span class="detalle_nom_producto tipografia_lato_bold">
                                    Máscara Full Size Negro.
                                </span>
                                <span class="detalle_cantidad_producto tipografia_lato_regular">
                                    x2 unidades
                                </span>
                                <span class="detalle_precio_producto tipografia_lato_regular">
                                    S/.15.00
                                </span>
                            </div>
                        </div>
                        <div class="detalle_tipo_solicitud_titulo tipografia_lato_bold">
                            Solicitud de reenvío
                        </div>
                        <div class="detalle_tipo_solicitud">
                            <div class="detalle_producto_cdr">
                                <span class="detalle_cod_producto tipografia_lato_regular">
                                    00411
                                </span>
                                <span class="detalle_nom_producto tipografia_lato_bold">
                                    Berrylicious shampoo rojo 375ml.
                                </span>
                                <span class="detalle_cantidad_producto tipografia_lato_regular">
                                    x2 unidades
                                </span>
                            </div>
                            <div class="detalle_cdr_solucion">
                                <span class="detalle_cdr_solucion_titulo tipografia_lato_bold color_marca">
                                    Reenviar:
                                </span>
                                <span class="detalle_cdr_solucion_titulo tipografia_lato_regular">
                                    el mismo producto
                                </span>
                            </div>
                        </div>
                        <div class="detalle_tipo_solicitud_titulo tipografia_lato_bold">
                            Solicitud de devolución
                        </div>
                        <div class="detalle_tipo_solicitud">
                            <div class="detalle_producto_cdr">
                                <span class="detalle_cod_producto tipografia_lato_regular">
                                    00411
                                </span>
                                <span class="detalle_nom_producto tipografia_lato_bold">
                                    Berrylicious shampoo rojo 375ml.
                                </span>
                                <span class="detalle_cantidad_producto tipografia_lato_regular">
                                    x2 unidades
                                </span>
                            </div>
                            <div class="detalle_cdr_solucion">
                                <span class="detalle_cdr_solucion_titulo tipografia_lato_bold color_marca">
                                    Devolución:
                                </span>
                                <span class="detalle_cdr_monto_devolucion tipografia_lato_regular">
                                    S/.15
                                </span>
                            </div>
                        </div>*@
                </div>
            </div>
            <!-- FIN VISTA SOLICITUD ENVIADA -->
            <!-- INICIO BOTÓN VER SOLICITUDES ANTERIORES -->
            <a href="#" class="enlace_solicitudes_anteriores tipografia_lato tipografia_lato_regular" title="Ver solicitudes">
                <span class="icono_arrow_left">
                    <img src="@Url.Content("~/Content/Images/mobile/left-arrow.png")" alt="Ver tus solicitudes" />
                </span>
                <span href="@Url.Action("Index")">VER TUS SOLICITUDES</span>
            </a>
            <!-- FIN BOTÓN VER SOLICITUDES ANTERIORES -->

        </div>
        <!--FIN SOLICITUD ENVIADA-->
        <!-- INICIO VISTA CONFIRMACIÓN ELECCIÓN -->
        @*<div class="pregunta_inconveniente_producto tipografia_lato tipografia_lato_bold mb-23">
                    Confirma tu elección
            </div>
            <div>
                <div class="contenedor_producto_cambio_por tipografia_lato">
                    <span class="texto_producto_a_cambiar">Vas a cambiar:</span>
                    <div class="producto_cdr tipografia_lato">
                        <span class="codigo_producto_cdr tipografia_lato_bold">00411</span> - <span class="nom_producto_cdr tipografia_lato_bold">Berrylicious shampoo rojo 375ml</span>
                        <span class="cantidad_producto tipografia_lato_regular">
                            x<span>2</span> unidades
                        </span>
                    </div>
                </div>
                <div class="contenedor_producto_cambio_por tipografia_lato">
                    <span class="texto_producto_a_cambiar">Por:</span>
                    <div class="producto_cdr tipografia_lato">
                        <span class="codigo_producto_cdr tipografia_lato_bold">98765</span> - <span class="nom_producto_cdr tipografia_lato_bold">Máscara Full Size Negro</span>
                        <span class="cantidad_producto tipografia_lato_regular">
                            x<span>2</span> unidades
                        </span>
                    </div>
                </div>
            </div>
            <div class="info_importante_cdr tipografia_lato">
                <div class="titulo_info_cdr tipografia_lato_regular">
                    TEN EN CUENTA
                </div>
                <div class="content_info_cdr tipografia_lato_regular">
                    Es importante que le entregues al transportista el producto a cambiar en la entrega de tu siguiente pedido, en caso contrario, el cambio será anulado y se cargará nuevamente el monto a tu saldo.
                </div>
            </div>*@
        <!-- FIN VISTA CONFIRMACIÓN ELECCIÓN -->
        <!-- INICIO VISTA FINALIZACIÓN DE SOLICITUD -->
        @*<div class="pregunta_inconveniente_producto tipografia_lato tipografia_lato_bold mb-23">
                <span class="titulo_revision_resumen">Revisa el resumen, finaliza y envía tu solicitud</span>
                <span class="mensaje_vista_cdr tipografia_lato_regular">
                    Asegúrate de tener todos los inconvenientes registrados porque <span class="tipografia_lato_bold">sólo puedes hacer 1 solicitud web por pedido.</span>
                </span>
            </div>
            <div class="content_solicitud_cdr tipografia_lato">
                <div class="contenedor_info_cdr">
                    <div class="titulo_solicitud_cdr tipografia_lato_bold">Solicitud de cambio</div>
                    <div class="info_solicitud_cdr tipografia_lato_regular">
                        <span>00411</span> - <span>Berrylicious shampoo rojo 375ml.</span>
                    </div>
                </div>
                <div class="contenedor_info_cdr">
                    <div class="titulo_solicitud_cdr tipografia_lato_bold">Cambiar por:</div>
                    <div class="info_solicitud_cdr tipografia_lato_regular">
                        <span>98765</span> - <span>Máscara full size negro.</span>
                    </div>
                </div>
                <div class="icono_eliminar_solic_cdr">
                    <a href="" title="eliminar solicitud">
                        <img src="@Url.Content("~/Content/Images/mobile/icono-eliminar-cdr.png")" />
                    </a>
                </div>
            </div>
            <div class="validacion_datos tipografia_lato">
                <div class="validacion_seccion_titulo">
                    <div class="titulo_validacion_datos tipografia_lato_bold">Valida tus datos</div>
                    <div class="mensaje_validacion_datos tipografia_lato_regular">Es por si necesitamos contactarnos contigo.</div>
                </div>
                <div class="validacion_seccion_datos">
                    <form>
                        <div class="mb-27">
                            <label class="tipografia_lato_regular">Correo electrónico</label>
                            <input type="text" value="juanita@hotmail.com" />
                        </div>
                        <div class="mb-23">
                            <label class="tipografia_lato_regular">Celular</label>
                            <input type="text" value="988978654" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="content_politica_devolucion tipografia_lato">
                <input type="checkbox" value="" id="politica-devolucion" name="politica-devolucion" />
                <label for="politica-devolucion">
                    <span></span>
                    <a href="" class="enlace_politica_devolucion tipografia_lato_regular" title="acepto la política de devolución">
                        Acepto la política de devolución
                    </a>
                </label>
            </div>
            <div class="tooltip_btn_reportar_inconveniente tipografia_lato">
                <span class="icono_alerta_cdr">
                    <img src="@Url.Content("~/Content/Images/Esika/icono_advertencia_notificacion.svg")" alt="reportar inconveniente">
                </span>
                <span class="tipografia_lato tipografia_lato_regular texto_tooltip_reportar_inconveniente">
                    Si tuviste otro inconveniente en la misma campaña repórtalo ahora.
                </span>
            </div>*@

        <!-- INICIO BOTÓN REPORTAR OTRO INCONVENIENTE -->
        @*<button class="tipografia_lato tipografia_lato_bold btn_reportar_inconveniente">REPORTA OTRO INCONVENIENTE</button>*@
        <!-- FIN BOTÓN REPORTAR OTRO INCONVENIENTE -->
        <!-- FIN VISTA FINALIZACIÓN DE SOLICITUD -->
        <!-- INICIO ENLACE QUIERO VER OTRA ALTERNATIVA -->
        @*<a href="#" class="enlace_quiero_ver_otra_alternativa tipografia_lato tipografia_lato_regular" title="Quiero ver otra alternativa">
                QUIERO VER OTRA ALTERNATIVA
            </a>*@
        <!-- FIN ENLACE QUIERO VER OTRA ALTERNATIVA -->
        <!-- INICIO BOTÓN VER SOLICITUDES ANTERIORES -->
        <a href="@Request.UrlReferrer" class="enlace_solicitudes_anteriores tipografia_lato tipografia_lato_regular" title="Ver solicitudes anteriores">
            <span class="icono_arrow_left">
                <img src="@Url.Content("~/Content/Images/mobile/left-arrow.png")" alt="Ver solicitudes anteriores" />
            </span>
            <span>VER SOLICITUDES ANTERIORES</span>
        </a>
        <!-- FIN BOTÓN VER SOLICITUDES ANTERIORES -->

    </div>
</div>

<!-- INICIO BOTONES CTA (CALL TO ACTION) -->
<button id="btnSiguiente1"
        class="btn_cta_cdr tipografia_lato tipografia_lato_bold">
    SIGUIENTE
</button>
<button id="btnSiguiente2"
        class="btn_cta_cdr tipografia_lato tipografia_lato_bold"
        style="display:none;">
    SIGUIENTE @*CAMBIALO POR ESTE PRODUCTO*@
</button>
<button id="btnSiguiente3"
        class="btn_cta_cdr tipografia_lato tipografia_lato_bold"
        style="display:none;">
    SIGUIENTE @*CONFIRMA TU ELECCIÓN*@
</button>
<button id="btnAceptarSolucion"
        class="btn_cta_cdr tipografia_lato tipografia_lato_bold"
        data-cambiopaso="3"
        style="display:none;">
    ACEPTAR LA SOLUCIÓN @*ACEPTAR LA SOLUCIÓN*@
</button>
<button id="btnSiguiente4"
        class="btn_cta_cdr tipografia_lato tipografia_lato_bold"
        style="display:none;">
    FINALIZA Y ENVÍA TU SOLICITUD
</button>
<!-- FIN BOTONES CTA (CALL TO ACTION) -->

<script id="template-motivo" type="text/x-handlebars-template">
    {{#each this as |item|}}
    <div class="motivo_cdr">
        <input id="{{item.CodigoReclamo}}" type="radio" name="motivo-cdr" />
        <label for="{{item.CodigoReclamo}}" class="tipografia_lato_regular">
            <span></span>
            {{item.DescripcionReclamo}}
        </label>
    </div>
    {{/each}}
</script>
<script id="template-operacion" type="text/x-handlebars-template">
    {{#each this as |item|}}
    <a href="#"
       id="{{item.CodigoOperacion}}"
       data-tipo="{{item.Tipo}}"
       class="solucion_cdr tipografia_lato_bold"
       title="{{item.CDRTipoOperacion.DescripcionOperacion}}">
        {{item.CDRTipoOperacion.DescripcionOperacion}}
    </a>
    {{/each}}
</script>

<script id="template-detalle-banner" type="text/x-handlebars-template">
    {{#each detalle as |item|}}
    <div class="content_solicitud_cdr tipografia_lato">
        <div class="contenedor_info_cdr">
            <div class="titulo_solicitud_cdr tipografia_lato_bold">
                {{#if_eq CodigoOperacion 'C'}}
                {{item.SolucionSolicitada}}
                {{else if_eq CodigoOperacion 'D'}}
                {{item.SolucionSolicitada}}
                {{else if_eq CodigoOperacion 'F'}}
                {{item.SolucionSolicitada}}
                {{else if_eq CodigoOperacion 'G'}}
                {{item.SolucionSolicitada}}
                {{else if_eq CodigoOperacion 'T'}}
                {{item.CUV2}}<br />
                <b>{{item.Descripcion2}}</b> <br />
                {{item.Cantidad2}} unidades<br />
                Costo: {{../Simbolo}} {{DecimalToStringFormat item.Precio2}}
                {{else}}
                {{/if_eq}}
            </div>
            <div class="info_solicitud_cdr tipografia_lato_regular">
                <span>{{item.CUV}}</span> - <span>{{item.Descripcion}}</span>
            </div>
        </div>
        @*<div class="contenedor_info_cdr">
                <div class="titulo_solicitud_cdr tipografia_lato_bold">Cambiar por:</div>
                <div class="info_solicitud_cdr tipografia_lato_regular">
                    <span>98765</span> - <span>Máscara full size negro.</span>
                </div>
            </div>*@
        <div class="icono_eliminar_solic_cdr">
            <a href="" title="eliminar solicitud">
                <img src="@Url.Content("~/Content/Images/mobile/icono-eliminar-cdr.png")" />
            </a>
        </div>
    </div>
    {{/each}}
</script>

<script id="template-detalle-paso3" type="text/x-handlebars-template">
    {{#each detalle as |item|}}
    <div class="content_solicitud_cdr tipografia_lato">
        <div class="contenedor_info_cdr">
            <div class="titulo_solicitud_cdr tipografia_lato_bold">
                {{#if_eq CodigoOperacion 'C'}}
                {{item.SolucionSolicitada}}
                {{else if_eq CodigoOperacion 'D'}}
                {{item.SolucionSolicitada}}
                {{else if_eq CodigoOperacion 'F'}}
                {{item.SolucionSolicitada}}
                {{else if_eq CodigoOperacion 'G'}}
                {{item.SolucionSolicitada}}
                {{else if_eq CodigoOperacion 'T'}}
                {{item.CUV2}}<br />
                <b>{{item.Descripcion2}}</b> <br />
                {{item.Cantidad2}} unidades<br />
                Costo: {{../Simbolo}} {{DecimalToStringFormat item.Precio2}}
                {{else}}
                {{/if_eq}}
            </div>
            <div class="info_solicitud_cdr tipografia_lato_regular">
                <span>{{item.CUV}}</span> - <span>{{item.Descripcion}}</span>
            </div>
            <div class="icono_eliminar_solic_cdr">
                <a href="" title="eliminar solicitud" data-pedidodetalleid="{{item.CDRWebDetalleID}}" data-accion="x">
                    <img src="@Url.Content("~/Content/Images/mobile/icono-eliminar-cdr.png")" />
                </a>
            </div>
        </div>
    </div>
    {{/each}}
</script>

<script id="template-detalle-paso3-enviada" type="text/x-handlebars-template">
    {{#each detalle as |item|}}
    <div class="content_solicitud_cdr tipografia_lato">
        <div class="contenedor_info_cdr">
            <div class="titulo_solicitud_cdr tipografia_lato_bold">
                {{#if_eq CodigoOperacion 'C'}}
                {{item.SolucionSolicitada}}
                {{else if_eq CodigoOperacion 'D'}}
                {{item.SolucionSolicitada}}
                {{else if_eq CodigoOperacion 'F'}}
                {{item.SolucionSolicitada}}
                {{else if_eq CodigoOperacion 'G'}}
                {{item.SolucionSolicitada}}
                {{else if_eq CodigoOperacion 'T'}}
                {{item.CUV2}}<br />
                <b>{{item.Descripcion2}}</b> <br />
                {{item.Cantidad2}} unidades<br />
                Costo: {{../Simbolo}} {{DecimalToStringFormat item.Precio2}}
                {{else}}
                {{/if_eq}}
            </div>
            <div class="info_solicitud_cdr tipografia_lato_regular">
                <span>{{item.CUV}}</span> - <span>{{item.Descripcion}}</span>
            </div>
        </div>
    </div>
    {{/each}}
</script>

<script id="template-confirmacion" type="text/x-handlebars-template">
    {{#iff CUV2 '!=' ''}}
    <div class="content_resumen_cambio">
        {{else}}
        <div class="contenedor_producto_cambio_por tipografia_lato">
            {{/iff}}
            <div class="texto_producto_a_cambiar">{{DescripcionConfirma}}:</div>
            <div class="producto_cdr tipografia_lato">
                <span class="codigo_producto_cdr tipografia_lato_bold">
                    {{CUV}}
                </span> - <span class="nom_producto_cdr tipografia_lato_bold">
                    {{DescripcionProd}}
                </span>
                <span class="cantidad_producto tipografia_lato_regular">
                    x<span>{{Cantidad}}</span> unidades
                </span>
            </div>
        </div>
        {{#IsNullOrEmpty CUV2  '!=' }}
        <div class="indicador_reclamo"></div>
        <div class="content_resumen_cambio">
            <div class="titulo_resumen">{{DescripcionConfirma2}}:</div>
            <div class="descri_producto_reclamo">
                {{CUV2}} <br />
                <b>{{DescripcionProd2}}</b><br />
                x{{Cantidad2}} unidades
            </div>
        </div>
        {{/IsNullOrEmpty}}

</script>
@section scripts{
    <script src="@Url.Content("~/Scripts/PortalConsultoras/Mobile/MisReclamos/Reclamo.js")"></script>
}
<script type="text/javascript">
    var UrlBuscarCuv = '@Url.Action("BuscarCUV", "MisReclamos", new { area = "" } )';
    var UrlBuscarMotivo = '@Url.Action("BuscarMotivo", "MisReclamos", new { area = "" } )';
    var UrlCargarDetalle = '@Url.Action("DetalleCargar", "MisReclamos", new { area = "" } )';
    var UrlBuscarOperacion = '@Url.Action("BuscarOperacion", "MisReclamos", new { area = ""} )';
    var UrlValidarPaso1 = '@Url.Action("ValidarPaso1", "MisReclamos", new { area = ""} )';
    var UrlObtenerMontos = '@Url.Action("ObtenerMontoProductosCdrByCodigoOperacion", "MisReclamos", new { area = ""} )';
    var UrlBuscarCuvCambiar = '@Url.Action("BuscarCuvCambiar", "MisReclamos", new { area = ""} )';
</script>

