@model Portal.Consultoras.Web.Models.UsuarioRolModel
@{
    ViewBag.Title = "Index";
}

<script>
    jQuery(document).ready(function () {
        IniDialog();
        fnGrilla();
        $("#btnBuscar").click(function () { fnGrilla(); });
        $("#txtRol").keypress(function (e) {
            if (e.which == 13) {
                fnGrilla();
            }
            if (charCode <= 13) {
                return false;
            }
            else {
                var keyChar = String.fromCharCode(charCode);
                var re = /[a-zA-ZñÑáéíóúÁÉÍÓÚ]/;
                return re.test(keyChar);
            }
        });
        $("#txtUsuario").keypress(function (evt) {
            var charCode = (evt.which) ? evt.which : window.event.keyCode;
            if (charCode == 13) {
                fnGrilla();
            }
            if (charCode <= 13) {
                return false;
            }
            else {
                var keyChar = String.fromCharCode(charCode);
                var re = /[a-zA-ZñÑáéíóúÁÉÍÓÚ]/;
                return re.test(keyChar);
            }
        });
        $("#txtUsuarioAD").keypress(function (evt) {
            var charCode = (evt.which) ? evt.which : window.event.keyCode;
            if (charCode == 13) {
                ValidaUsuario();
            }
            if (charCode <= 13) {
                return false;
            }
            else {
                var keyChar = String.fromCharCode(charCode);
                var re = /[0-9a-zA-ZñÑáéíóúÁÉÍÓÚ]/;
                return re.test(keyChar);
            }
        });
        $("#ddlPaisR").change(function () { LimpiaUsuario(); });
    });
    function IniDialog() {
        $('#DialogRegitro').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 500,
            draggable: true,
            title: "Asociar Usuario a Rol",
            buttons:
            {
                "Guardar": function () {
                    Grabar();
                },
                "Salir": function () {
                    HideDialog("DialogRegitro");
                }
            }
        });
    }
    function AbrirModal() {
        limpiarModal();
        showDialog("DialogRegitro");
    }
    function limpiarModal() {
        $('#ddlPaisR').val("");
        $('#ddlRol').val("0");

        LimpiaUsuario();
    }
    function ValidaUsuario() {
        if ($('#ddlPaisR').val() == "") {
            alert('Seleccione País');
            return false;
        }
        if ($('#txtUsuarioAD').val() == "") {
            alert('Ingresar Usuario');
            return false;
        }

        var item = {
            CodigoUsuario: jQuery('#txtUsuarioAD').val(),
            PaisID: jQuery('#ddlPaisR').val()
        };

        waitingDialog({});

        jQuery.ajax({
            type: 'POST',
            url: baseUrl + 'UsuarioRol/ValidarUsuario',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(item),
            async: true,
            success: function (data) {
                if (checkTimeout(data)) {
                    closeWaitingDialog();
                    if (data.success == true) {
                        var imgValidaUsuario = $('#imgValidaUsuario');
                        var imgLimpiaUsuario = $('#imgLimpiaUsuario');
                        var txtUsuarioAD = $('#txtUsuarioAD');

                        imgValidaUsuario[0].style['display'] = "none";
                        imgLimpiaUsuario[0].style['display'] = "inline";
                        txtUsuarioAD[0].disabled = true;
                    }
                    else {
                        alert(data.message);
                    }
                }
            },
            error: function (data, error) {
                if (checkTimeout(data)) {
                    closeWaitingDialog();
                    alert(data.message);
                }
            }
        });
        return false;
    }
    function LimpiaUsuario() {
        var imgValidaUsuario = $('#imgValidaUsuario');
        var imgLimpiaUsuario = $('#imgLimpiaUsuario');
        var txtUsuarioAD = $('#txtUsuarioAD');

        imgValidaUsuario[0].style['display'] = "inline";
        imgLimpiaUsuario[0].style['display'] = "none";
        txtUsuarioAD[0].disabled = false;
        txtUsuarioAD.val("");
    }
    function Grabar() {
        var txtUsuarioAD = $('#txtUsuarioAD');
        var ddlRol = $('#ddlRol');

        if (ddlRol.val() == "0") {
            alert('Seleccionar Rol');
            return false;
        }
        if (txtUsuarioAD.val() == "") {
            alert('Ingresar Usuario');
            return false;
        }
        if (txtUsuarioAD[0].disabled == false) {
            alert('Validar Usuario');
            return false;
        }
        waitingDialog({});
        var item = {
            RolID: ddlRol.val(),
            CodigoUsuario: txtUsuarioAD.val(),
        };
        jQuery.ajax({
            type: 'POST',
            url: baseUrl + 'UsuarioRol/InsertarUsuarioRol',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(item),
            async: true,
            success: function (data) {
                if (checkTimeout(data)) {
                    closeWaitingDialog();
                    if (data.success == true) {
                        HideDialog("DialogRegitro");
                        alert(data.message);
                    }
                    else
                        alert(data.message);
                }
            },
            error: function (data, error) {
                if (checkTimeout(data)) {
                    closeWaitingDialog();
                    alert("ERROR");
                }
            }
        });
    }
    function fnGrilla() {
        jQuery("#gvwUsuario").jqGrid({
            url: baseUrl + "UsuarioRol/ConsultarUsuarioRol",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                vRolDescripcion: function () { return jQuery.trim($("#txtRol").val()); },
                vNombreUsuario: function () { return jQuery.trim($("#txtUsuario").val()); }
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['CodigoUsuario', 'RolID', 'Usuario', 'Rol', ''],
            colModel: [
                { name: 'CodigoUsuario', index: 'CodigoUsuario', width: 0, editable: false, align: 'center', hidden: true },
                { name: 'RolID', index: 'RolID', width: 0, editable: false, align: 'center', hidden: true },
                { name: 'UsuarioNombre', index: 'UsuarioNombre', width: 45, editable: true, resizable: false },
                { name: 'RolDescripcion', index: 'RolDescripcion', width: 45, editable: true, resizable: false },
                { name: 'Activo', index: 'Activo', width: 10, editable: true, sortable: false, align: 'center', resizable: false, formatter: ShowActions }
            ],
            jsonReader:
                {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: true,
                    cell: "cell"
                },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'CodigoUsuario',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 930,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function () { },
            gridComplete: function () { }
        });
        jQuery("#gvwUsuario").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#gvwUsuario").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
    }
    function ShowActions(cellvalue, options, rowObject) {
        var cellValueInt = parseInt(cellvalue);
        var Edit = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#list').Eliminar('" + rowObject[0] + "','" + rowObject[1] + "');\" >" + "<img src='@Url.Content("~/Content/Images/Delete.png")' alt='Editar' title='Editar' border='0' /></a>";
        return Edit;
    };

    $.jgrid.extend({

        Eliminar: function (CodigoUsuario, RolID) {

            var elimina = confirm('¿ Está seguro que desea eliminar el registro seleccionado?');
            if (!elimina)
                return false;

            waitingDialog({});

            var item = {
                CodigoUsuario: CodigoUsuario,
                RolID: RolID
            };

            jQuery.ajax({
                type: 'POST',
                url: baseUrl + 'UsuarioRol/EliminarUsuarioRol',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(item),
                async: true,
                success: function (data) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        if (data.success == true) {
                            alert(data.message);
                            fnGrilla();
                        }
                        else
                            alert(data.message);
                    }
                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        alert("ERROR");
                    }
                }
            });
        }
    });
</script>
<div class="wrap_cab">
    <div class="filtros2">
        <div class="elements">
            <div class="div-1">
                <div class="box">
                </div>
            </div>
            <div class="div-2">
                <h1><span>Asociar Usuario Rol</span></h1>
            </div>
            <div class="div-3">
                 <div class="titC">Usuario:</div>
                 <div class="input_cliente">
                    @Html.TextBoxFor(model => model.RolDescripcion, new { maxlength = 20, id = "txtUsuario" })
                </div>
                 <div class="titC">Rol:</div>
                <div class="input_cliente">
                    @Html.TextBoxFor(model => model.RolDescripcion, new { maxlength = 20, id = "txtRol" })
                </div>
                <div class="input_search">
                    <input id="btnBuscar" type="button" value="Buscar" />
                </div>
            </div>
            <div class="div-4-add">
                <div class="new"><a href="#" onclick="AbrirModal();">+ Agregar nueva Asociación</a></div>
            </div>
        </div>
    </div>
</div>

<div class="wrap">

    <section class="container clearfix">
        <div class="border-wrapper">

            <table id="gvwUsuario"></table>
            <div id="pager"></div>

        </div>
    </section>

</div>
<div id="loadingScreen"></div>
<div id="DialogRegitro">
    <div class="Content_modal">
        <div class="div-3">
            <div class="titB">País:</div>
            <div class="selectA borde_redondeado">
                @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPaisR" })
            </div>
        </div>
        <div class="div-3">
            <div class="titB">Rol:</div>
            <div class="selectA borde_redondeado">
                @Html.DropDownListFor(x => x.RolDescripcion, new SelectList(Model.DropDownListRol, "RolID", "Descripcion"), new { id = "ddlRol" })
            </div>
        </div>
        <div class="div-3">
            <div class="titB">Usuario:</div>
            <div class="selectA borde_redondeado">
                @Html.TextBoxFor(model => model.CodigoUsuario, new { @class = "input_search_form", maxlength = 50, id = "txtUsuarioAD" })
            </div>
            <div class="titA" style=" width:auto; padding: 10px 0px;">
                <img alt="Valida Usuario" src="~/Content/Images/check.png" onclick="ValidaUsuario();" id="imgValidaUsuario" style="cursor: pointer" />
                <img alt="Limpia Usuario" src="~/Content/Images/remove.png" onclick="LimpiaUsuario();" style="display: none; cursor: pointer" id="imgLimpiaUsuario" />
            </div>
        </div>
    </div>
    @Html.Hidden("hdn_RolID")
    @Html.Hidden("hdn_UsuarioCodigo")
</div>
