
@{
    ViewBag.Title = "Administrar Beneficios Camino Brillante";
}

<input type="hidden" id="hdTipoConsulta" value="0" />
<div class="wrap_cab">
    <div class="filtros2">
        <div class="elements">
            <div class="div-2">
                <h1><span>Administrar Tipo de Estrategia</span></h1>
            </div>
            <div class="div-3">
                <div class="titA">País:</div>
                <div class="selectA borde_redondeado">
                    @*@Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais" })*@
                </div>

                <div class="input_horizontal">
                    <input type="button" name="btnBuscar" id="btnBuscar" value="Buscar" />
                    <input type="button" name="btnNuevo" id="btnNuevo" value="Nuevo" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper">
            <table id="list"></table>
            <div id="pager"></div>
        </div>
    </div>
</div>
<div id="DialogAdministracionTipoEstrategia" style="display: none;">
    <input type="hidden" id="hdPais" value="" />
    <input type="hidden" id="hdofertas" value="" />
    <input type="hidden" id="hdofertaid" value="0" />
    <input type="hidden" id="hdTipoEstrategiaID" value="0" />
    <div class="Content_modal">
        <div class="div-3">
            <div class="titB">País:</div>
            <div class="selectP2 borde_redondeado">
                <input type="text" id="txtPaisModal" readonly="readonly" />
            </div>
            <div class="titB">Orden:</div>
            <div class="selectP2 borde_redondeado">
                <input type="text" id="txtOrden" />
            </div>
        </div>
        <div class="div-3">
            <div class="titB">Código:</div>
            <div class="selectP2 borde_redondeado">
                <input type="text" id="txCodigoOriginalModal" />
            </div>
            <div class="titB">Activo:</div>
            <div class="selectCheck borde_redondeado">
                <input type="checkbox" id="chkActivo" />
            </div>
        </div>
        <div class="div-3">
            <div class="titB">Descripción:</div>
            <div class="selectP2 borde_redondeado" style="width:535px">
                <input type="text" id="txtDescripcionOriginalModal" style="width:100%" />
            </div>
        </div>
        <div class="div-3">
            <div class="titB">Tipo:</div>
            <div class="selectE borde_redondeado">
                <div class="titB">Nueva:</div>
                <div class="selectCheck borde_redondeado">
                    <input type="checkbox" id="chkNueva" />
                </div>
                <div class="titF">Recomendación por CUV:</div>
                <div class="selectCheck borde_redondeado">
                    <input type="checkbox" id="chkRecoProduc" />
                </div>
                <div class="titF" style="width:180px">Recomendación por perfil:</div>
                <div class="selectCheck borde_redondeado">
                    <input type="checkbox" id="chkRecoPerfil" />
                </div>
            </div>
        </div>
        <div class="div-3 divCodigoPrograma">
            <div class="titB">Código Programa:</div>
            <div class="selectP2 borde_redondeado">
                <input type="text" id="txtCodigoPrograma" />
            </div>
        </div>

        <div class="div-3">
            <div class="titB">Validar Tamaño :</div>
            <div class="selectCheck borde_redondeado">
                <input type="checkbox" id="chkValImg" />
            </div>
            <div class="titB">Tamaño (Kb):</div>
            <div class="selectP2 borde_redondeado">
                <input type="number" id="txtPesoMaximoImagen" />
            </div>

        </div>


        <div class="div-3">
            <div class="titA"></div>
            <div class="titG">
                <div class="input_search">
                    <input type="button" name="btnNuevaOferta" id="btnNuevaOferta" value="Ofertas" style="float:right;" />
                </div>
            </div>
        </div>
        <div>
            <div class="float-left">
                <div class="div-3">
                    <div class="titB">Mostrar imagen:</div>
                    <div class="selectCheck borde_redondeado">
                        <input type="checkbox" id="chkMostrarImg" />
                    </div>
                </div>
                <div class="div-3">
                    <div class="titB">Imagen:</div>
                    <div class="selectP2 borde_redondeado aligncenter" style="height: 162px;">
                        <img src='@Url.Content("~/Content/Images/prod_grilla_vacio.png")' id="img01">
                    </div>

                    <div class="titB" style="display: none;">Oferta:</div>
                    <div class="container clearfix" style="display: none;">
                        <div class="selectA borde_redondeado">
                        </div>
                    </div>
                </div>
                <div class="div-3">
                    <div class="titF">Tamaño de imagen: (Ancho: 62px - Alto: 62px)</div>
                    <div class="titG" style="width: 180px;">
                        <div class="input_search">
                            <input type="hidden" id="imagenProducto01" />
                            <input type="hidden" id="imagenProductoAnterior01" />
                            <div id="fpUpload01">
                                @*<script type="text/javascript">
                            $.ajaxSetup({ cache: false });
                            new qq.FileUploader({
                                allowedExtensions: ['jpg', 'png', 'jpeg'],
                                element: document.getElementById('fpUpload01'),
                                action: '@Url.Action("ImageTipoOfertaUpload", "AdministrarTipoEstrategia")',
                                onComplete: function (id, fileName, responseJSON) {
                                    if (checkTimeout(responseJSON)) {
                                        $(".qq-upload-list").css("display", "none");
                                        if (responseJSON.success) {
                                            $("#imagenProducto01").val(responseJSON.name);
                                            $('#img01').attr('src', '@Url.Content("~/Content/Temporales/")' + responseJSON.name);
                                        }
                                        else {
                                            alert(responseJSON.message);
                                        }
                                    }
                                },
                                onSubmit: function (id, fileName) { $(".qq-upload-list").css("display", "none"); },
                                onProgress: function (id, fileName, loaded, total) { $(".qq-upload-list").css("display", "none"); },
                                onCancel: function (id, fileName) { $(".qq-upload-list").css("display", "none"); }
                            });
                                </script>*@
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="float-left">
                <div class="div-3 divOfertaIndependiente">
                    <div class="titB">Imagen Independiente:</div>
                    <div class="selectCheck borde_redondeado">
                        <input type="checkbox" id="chkMostrarImgIndependiente" />
                    </div>
                </div>
                <div class="div-3 divOfertaIndependiente" style="display:none;">
                    <div class="titB">Imagen indep.:</div>
                    <div class="selectP2 borde_redondeado aligncenter" style="height: 162px;">
                        <img src='@Url.Content("~/Content/Images/prod_grilla_vacio.png")' id="imgOfertaIndependiente">
                    </div>
                </div>
                <div class="div-3 divOfertaIndependiente" style="display:none;">
                    <div class="titF">Tamaño de imagen: (Ancho: 62px - Alto: 62px)</div>
                    <div class="titG" style="width: 180px;">
                        <div class="input_search">
                            <input type="hidden" id="hdImagenOfertaIndependiente" />
                            <input type="hidden" id="hdImagenOfertaIndependienteAnterior" />
                            <div id="fpUpload02">
                                @*<script type="text/javascript">
                            $.ajaxSetup({ cache: false });
                            new qq.FileUploader({
                                allowedExtensions: ['jpg', 'png', 'jpeg'],
                                element: document.getElementById('fpUpload02'),
                                action: '@Url.Action("ImageTipoOfertaUpload", "AdministrarTipoEstrategia")',
                                onComplete: function (id, fileName, responseJSON) {
                                    if (checkTimeout(responseJSON)) {
                                        $(".qq-upload-list").css("display", "none");
                                        if (responseJSON.success) {
                                            $("#hdImagenOfertaIndependiente").val(responseJSON.name);
                                            $('#imgOfertaIndependiente').attr('src', '@Url.Content("~/Content/Temporales/")' + responseJSON.name);
                                        }
                                        else {
                                            alert(responseJSON.message);
                                        }
                                    }
                                },
                                onSubmit: function (id, fileName) { $(".qq-upload-list").css("display", "none"); },
                                onProgress: function (id, fileName, loaded, total) { $(".qq-upload-list").css("display", "none"); },
                                onCancel: function (id, fileName) { $(".qq-upload-list").css("display", "none"); }
                            });
                                </script>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="DialogAdministracionNuevaOferta" style="display: none;">
    <div class="Content_modal">
        <div class="div-3" style="display: none">
            <div class="titB">País:</div>
            <div class="selectP2 borde_redondeado">
                <input type="text" id="txtPaisOferta" readonly="readonly" />
            </div>
        </div>
        <div class="div-3">
            <div class="titB">Código:</div>
            <div class="selectP2 borde_redondeado" style="width:50px">
                <input type="text" id="txtCodigoOferta" style="width:50px" />
            </div>
            <div class="titB">Descripción:</div>
            <div class="selectP2 borde_redondeado" style="width:230px">
                <input type="text" id="txtDescripcionOferta" style="width:230px" />
            </div>
            <div class="input_search">
                <input type="button" name="btnAgregarOferta" id="btnAgregarOferta" value="Agregar" style="float:right" />
            </div>
        </div>
        <div class="div-3">
            <div class="container clearfix">
                <div class="selectA borde_redondeado" style="width:630px">
                    <table id="listaOfertas"></table>
                    <div id="pagerOferta"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="loadingScreen"></div>

