@model Portal.Consultoras.Web.Models.CaminoBrillante.AdministrarCaminoBrillanteModel
@{
    ViewBag.Title = "Administrar Beneficios Camino Brillante";
}
<script src="@Url.Content("~/Scripts/fileuploader.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        IniDialog();
        fnGrilla();

        $.ajaxSetup({ cache: false });

        $("#btnNuevo").click(function () {
            if ($("#ddlPais").val() == "") {
                alert("Debe seleccionar el País, verifique.");
                return false;
            }
            $.ajaxSetup({ cache: false });
            $("#chkNueva").attr("checked", false);
            $("#chkRecoProduc").attr("checked", false);
            $("#chkRecoPerfil").attr("checked", false);
            $("#txtPaisOferta").val($("#ddlPais option:selected").html());
            $("#txtPaisModal").val($("#ddlPais option:selected").html());
            $("#hdPais").val($("#ddlPais").val());
            $("#txtDescripcionOriginalModal").val("");
            $("#txtOrden").val("");
            $('#img01').attr('src', '@Url.Content("~/Content/Images/prod_grilla_vacio.png")');
            $('#imgOfertaIndependiente').attr('src', '@Url.Content("~/Content/Images/prod_grilla_vacio.png")');
            $("#hdofertas").val("");
            $("#chkActivo").attr("checked", true);
            $("#imagenProducto01").val("");
            $("#imagenProductoAnterior01").val("");
            $("#hdImagenOfertaIndependiente").val("");
            $("#hdImagenOfertaIndependienteAnterior").val("");


            $("#hdTipoEstrategiaID").val("0");
            $("#txtCodigoPrograma").prop('disabled', true).val("");

            $("#chkMostrarImg").attr("checked", false);

            $("#chkMostrarImgIndependiente").attr("checked", false);
            $(".divOfertaIndependiente").hide();

			$("#chkValImg").attr("checked", false);
			$("#txtPesoMaximoImagen").val("0");

            //fnGrillaOfertas('0');
            showDialog("DialogAdministracionTipoEstrategia");
        });

        $("#btnBuscar").click(function () {

            if ($("#ddlPais").val() == "") {
                alert("Debe seleccionar el País, verifique.");
                return false;
            }

            if ($("#ddlNivel").val() == "") {
                alert("Debe seleccionar un nivel, verifique.");
                return false;
            }
            $("#hdTipoConsulta").val("1");
            fnGrilla();
        });
    });

    function fnGrilla() {
        jQuery("#list").jqGrid({
            url: baseUrl + "CaminoBrillanteAdministrar/Consultar",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                //CampaniaID: function () { return jQuery.trim($("#ddlCampania").val()); },
                paisID: function () { return jQuery.trim($("#ddlPais").val()); },
                CodigoNivel: function () { return jQuery.trim($("#ddlNivel").val());},
                Consulta: function () { return jQuery.trim($("#hdTipoConsulta").val()) }
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            //colNames: ['TipoEstrategiaID', 'Código de Estrategia', 'Tipo de Estrategia', 'Ofertas', 'Orden', 'Imagen', 'OfertaID', 'Acción', '', '', '', 'CodigoPrograma', 'FlagMostrarImg', 'MostrarImgOfertaIndependiente', 'ImagenOfertaIndependiente', 'FlagValidarImagen', 'PesoMaximoImagen'],
            colNames: ['Nro', 'Nombre Beneficio', 'Descripción', 'Orden', 'Icono', 'Opcion'],
            colModel: [
                { name: 'Registro', index: 'Registro', width: 20, editable: true, resizable: false},
                { name: 'NombreBeneficio', index: 'NombreBeneficio', width: 230, editable: true, resizable: false},
                { name: 'Descripcion', index: 'Descripcion', width: 230, editable: true, resizable: false},
                { name: 'Orden', index: 'Orden', width: 35, editable: true, align: 'center', hidden: false, formatter: true },
                { name: 'Icono', index: 'Icono', width: 35, editable: true, align: 'center', resizable: true },
                { name: 'Opcion', index: 'Opcion', width: 70, editable: true, resizable: false, sortable: true, align: 'center', formatter: ShowActions },
                //{ name: 'OfertaID', index: 'OfertaID', width: 0, editable: true, resizable: false, hidden: true },
                //{ name: 'FlagActivo', index: 'FlagActivo', width: 40, align: 'center', editable: true, resizable: false, formatter: ShowActions },
                //{ name: 'FlagNueva', index: 'FlagNueva', width: 0, editable: true, resizable: false, hidden: true },
                //{ name: 'FlagRecoProduc', index: 'FlagRecoProduc', width: 0, editable: true, resizable: false, hidden: true },
                //{ name: 'FlagRecoPerfil', index: 'FlagRecoPerfil', width: 0, editable: true, resizable: false, hidden: true },
                //{ name: 'CodigoPrograma', index: 'CodigoPrograma', width: 0, editable: true, resizable: false, hidden: true },
                //{ name: 'FlagMostrarImg', index: 'FlagMostrarImg', width: 0, editable: true, resizable: false, hidden: true },
                //{ name: 'MostrarImgOfertaIndependiente', index: 'MostrarImgOfertaIndependiente', width: 0, editable: false, resizable: false, hidden: true },
                //{ name: 'ImagenOfertaIndependiente', index: 'ImagenOfertaIndependiente', width: 0, editable: false, resizable: false, hidden: true, formatter: ShowImage },
                //{ name: 'FlagValidarImagen', index: 'FlagValidarImagen', width: 0, editable: true, resizable: false, hidden: true },
                //{ name: 'PesoMaximoImagen', index: 'PesoMaximoImagen', width: 180, editable: true, resizable: false, hidden: true },
            ],
            jsonReader:
            {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: true,
                cell: "cell",
                id: "id"
            },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'Mensaje',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 930,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function () { },
            gridComplete: function () { }
        });
        jQuery("#list").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
    }

    function IniDialog() {
        $('#DialogAdministracionTipoEstrategia').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 805,
            draggable: true,
            title: "Registro de Tipo de Estrategias",
            buttons:
            {
                "Guardar": function () {
                    var tipoEstrategiaID = $("#hdTipoEstrategiaID").val();
                    var descripcionEstrategia = $("#txtDescripcionOriginalModal").val();
                    var imagenEstrategia = $("#imagenProducto01").val();
                    var imagenAnterior = $("#imagenProductoAnterior01").val();
                    var orden = $("#txtOrden").val();
                    var flagActivo = "0";
                    var ofertaID = "";
                    var imagenOfertaIndependiente = $("#hdImagenOfertaIndependiente").val();
                    var imagenOfertaIndependienteAnterior = $("#hdImagenOfertaIndependienteAnterior").val();

                    if ($("#chkActivo").attr("checked")) {
                        flagActivo = "1";
                    }

                    if ($.trim(descripcionEstrategia) == "") {
                        alert("No ingresó la descripción.");
                        return false;
                    }

                    if (!$.isNumeric(orden)) {
                        alert("No ingresó un valor válido para el orden a mostrar.");
                        return false;
                    }

                    if ($.trim(orden) == "") {
                        alert("No ingresó el orden a mostrar.");
                        return false;
                    }

                    if (parseInt(orden) <= 0) {
                        alert("Ingrese un orden mayor a cero.");
                        return false;
                    }

                    ofertaID = $("#hdofertas").val();

                    if (ofertaID.length > 0) {
                        ofertaID = ofertaID.substring(0, ofertaID.length - 1);
                    }

                    if ($("#chkMostrarImg").attr("checked")) {
                        if ($("#img01").attr("src") == "" || ($("#img01").attr("src").indexOf('prod_grilla_vacio.png') >= 0)) {
                            alert("Se debe seleccionar una imagen.");
                            return false;
                        }
                    }

                    if ($("#chkMostrarImgIndependiente").attr("checked")) {
                        if ($("#imgOfertaIndependiente").attr("src") == "" || ($("#imgOfertaIndependiente").attr("src").indexOf('prod_grilla_vacio.png') >= 0)) {
                            alert("Debe seleccionar una imagen para oferta independiente.");
                            return false;
                        }
                    }

                    if ($("#chkValImg").attr("checked")) {
                        if ($("#txtPesoMaximoImagen").val() == "" || $("#txtPesoMaximoImagen").val() == "0") {
                            alert("Debe Ingresar un tamaño en Kb mayor a 0 de la imagen a validar.");
                            return false;
                        }
                    }


                    var flagNueva = ($("#chkNueva").attr("checked")) ? "1" : "0";
                    var flagRecoPerfil = ($("#chkRecoPerfil").attr("checked")) ? "1" : "0";
                    var flagRecoProduc = ($("#chkRecoProduc").attr("checked")) ? "1" : "0";
                    var codigoPrograma = flagNueva ? $("#txtCodigoPrograma").val() : null;
                    var flagMostrarImg = ($("#chkMostrarImg").attr("checked")) ? "1" : "0";
                    var flagMostrarImgIndependiente = ($("#chkMostrarImgIndependiente").attr("checked")) ? true : false;
                    var codigo = $("#txCodigoOriginalModal").val();
                    var flagValidarImagen = ($("#chkValImg").attr("checked")) ? "1" : "0";
                    var pesoMaximoImagen = flagValidarImagen ? $("#txtPesoMaximoImagen").val() : "0";

                    var params = {
                        TipoEstrategiaID: tipoEstrategiaID,
                        DescripcionEstrategia: descripcionEstrategia,
                        ImagenEstrategia: imagenEstrategia,
                        Orden: orden,
                        FlagActivo: flagActivo,
                        OfertaID: ofertaID,
                        ImagenAnterior: imagenAnterior,
                        FlagNueva: flagNueva,
                        FlagRecoPerfil: flagRecoPerfil,
                        FlagRecoProduc: flagRecoProduc,
                        CodigoPrograma: codigoPrograma,
                        FlagMostrarImg: flagMostrarImg,
                        FlagValidarImagen: flagValidarImagen,
                        PesoMaximoImagen: pesoMaximoImagen,
                        MostrarImgOfertaIndependiente: flagMostrarImgIndependiente,
                        ImagenOfertaIndependiente: imagenOfertaIndependiente,
                        ImagenOfertaIndependienteAnterior: imagenOfertaIndependienteAnterior,
                        Codigo: codigo
                    };

                    jQuery.ajax({
                        type: 'POST',
                        url: baseUrl + 'AdministrarTipoEstrategia/Registrar',
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(params),
                        async: true,
                        success: function (data) {
                            if (checkTimeout(data)) {
                                if (data.success == true) {
                                    alert(data.message);
                                    HideDialog("DialogAdministracionTipoEstrategia");
                                    $("#hdTipoConsulta").val("1");
                                    jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                }
                                else {
                                    alert(data.message);
                                }
                            }
                        },
                        error: function (data, error) {
                            if (checkTimeout(data)) {
                                alert(data.message);
                                HideDialog("DialogAdministracionTipoEstrategia");
                            }
                        }
                    });

                },
                "Cancelar": function () {
                    HideDialog("DialogAdministracionTipoEstrategia");
                }
            }
        });


        $('#DialogAdministracionNuevaOferta').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 700,
            draggable: true,
            title: "Registro de Ofertas",
            buttons:
            {
                "Nueva Oferta": function () {
                    $("#hdofertaid").val("0");
                    $("#txtCodigoOferta").val("");
                    $("#txtDescripcionOferta").val("");
                    $("#btnAgregarOferta").val("Agregar");
                    $("#txtCodigoOferta").focus();
                },
                "Salir": function () {
                    HideDialog("DialogAdministracionNuevaOferta");
                }
            }
        });

    }

    function ShowImage(cellvalue, options, rowObject) {
        var image = "";
        if (cellvalue != "") {
            image = '<img src="' + cellvalue + '" alt="" width="100px" height="25px" title="" border="0" />';
        } else {
            image = '<img src="@Url.Content("~/Content/Images/prod_grilla_vacio.png")" alt="" width="60px" height="60px" title="" border="0" />';
        }
        return image;
    }

    function ShowActions(cellvalue, options, rowObject) {
        var cellValueInt = parseInt(cellvalue);
        var Des = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#list').Editar('"
            + rowObject[0]
            + "','" + rowObject[1]
            + "','" + rowObject[2]
            + "','" + rowObject[4]
            + "','" + rowObject[5]
            + "','" + rowObject[6]
            + "','" + rowObject[7]
            + "','" + rowObject[11]
            + "','" + rowObject[12]
            + "','" + rowObject[13]
            + "','" + rowObject[14]
            + "','" + rowObject[15]
            + "','" + rowObject[16]
            + "');\" >"
            + "<img src='@Url.Content("~/Content/Images/Edit.png")' alt='Editar Mensaje' title='Editar Mensaje' border='0' /></a>";

        Des += "&nbsp;&nbsp;<a href='javascript:;' onclick=\"return jQuery('#list').Eliminar('" + rowObject[0] + "');\" >" + "<img src='@Url.Content("~/Content/Images/Delete.png")' alt='Eliminar Mensaje' title='Eliminar Mensaje' border='0' /></a>";
        return Des;
    }
</script>

<input type="hidden" id="hdTipoConsulta" value="0" />
<div class="wrap_cab">
    <div class="filtros2">
        <div class="elements">
            <div class="div-2">
                <h1><span>Administrar Beneficios Camino Brillante</span></h1>
            </div>
            <div class="div-3">
                <div class="titA">País:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais" })
                </div>

                <div class="titA">Nivel:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.CodigoNivel, new SelectList(Model.listaNiveles, "CodigoNivel", "DescripcionNivel"), "-- Seleccionar --", new { id = "ddlNivel" })
                </div>

                <div class="input_horizontal">
                    <input type="button" name="btnBuscar" id="btnBuscar" value="Buscar" />
                    <input type="button" name="btnNuevo" id="btnNuevo" value="Nuevo" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper">
            <table id="list"></table>
            <div id="pager"></div>
        </div>
    </div>
</div>
<div id="DialogAdministracionTipoEstrategia" style="display: none;">
    <input type="hidden" id="hdPais" value="" />
    <input type="hidden" id="hdofertas" value="" />
    <input type="hidden" id="hdofertaid" value="0" />
    <input type="hidden" id="hdTipoEstrategiaID" value="0" />
    <div class="Content_modal">
        <div class="div-3">
            <div class="titB">País:</div>
            <div class="selectP2 borde_redondeado">
                <input type="text" id="txtPaisModal" readonly="readonly" />
            </div>
            <div class="titB">Orden:</div>
            <div class="selectP2 borde_redondeado">
                <input type="text" id="txtOrden" />
            </div>
        </div>
        <div class="div-3">
            <div class="titB">Código:</div>
            <div class="selectP2 borde_redondeado">
                <input type="text" id="txCodigoOriginalModal" />
            </div>
            <div class="titB">Activo:</div>
            <div class="selectCheck borde_redondeado">
                <input type="checkbox" id="chkActivo" />
            </div>
        </div>
        <div class="div-3">
            <div class="titB">Descripción:</div>
            <div class="selectP2 borde_redondeado" style="width:535px">
                <input type="text" id="txtDescripcionOriginalModal" style="width:100%" />
            </div>
        </div>
        <div class="div-3">
            <div class="titB">Tipo:</div>
            <div class="selectE borde_redondeado">
                <div class="titB">Nueva:</div>
                <div class="selectCheck borde_redondeado">
                    <input type="checkbox" id="chkNueva" />
                </div>
                <div class="titF">Recomendación por CUV:</div>
                <div class="selectCheck borde_redondeado">
                    <input type="checkbox" id="chkRecoProduc" />
                </div>
                <div class="titF" style="width:180px">Recomendación por perfil:</div>
                <div class="selectCheck borde_redondeado">
                    <input type="checkbox" id="chkRecoPerfil" />
                </div>
            </div>
        </div>
        <div class="div-3 divCodigoPrograma">
            <div class="titB">Código Programa:</div>
            <div class="selectP2 borde_redondeado">
                <input type="text" id="txtCodigoPrograma" />
            </div>
        </div>

        <div class="div-3">
            <div class="titB">Validar Tamaño :</div>
            <div class="selectCheck borde_redondeado">
                <input type="checkbox" id="chkValImg" />
            </div>
            <div class="titB">Tamaño (Kb):</div>
            <div class="selectP2 borde_redondeado">
                <input type="number" id="txtPesoMaximoImagen" />
            </div>

        </div>


        <div class="div-3">
            <div class="titA"></div>
            <div class="titG">
                <div class="input_search">
                    <input type="button" name="btnNuevaOferta" id="btnNuevaOferta" value="Ofertas" style="float:right;" />
                </div>
            </div>
        </div>
        <div>
            <div class="float-left">
                <div class="div-3">
                    <div class="titB">Mostrar imagen:</div>
                    <div class="selectCheck borde_redondeado">
                        <input type="checkbox" id="chkMostrarImg" />
                    </div>
                </div>
                <div class="div-3">
                    <div class="titB">Imagen:</div>
                    <div class="selectP2 borde_redondeado aligncenter" style="height: 162px;">
                        <img src='@Url.Content("~/Content/Images/prod_grilla_vacio.png")' id="img01">
                    </div>

                    <div class="titB" style="display: none;">Oferta:</div>
                    <div class="container clearfix" style="display: none;">
                        <div class="selectA borde_redondeado">
                        </div>
                    </div>
                </div>
                <div class="div-3">
                    <div class="titF">Tamaño de imagen: (Ancho: 62px - Alto: 62px)</div>
                    <div class="titG" style="width: 180px;">
                        <div class="input_search">
                            <input type="hidden" id="imagenProducto01" />
                            <input type="hidden" id="imagenProductoAnterior01" />
                            <div id="fpUpload01">
                                @*<script type="text/javascript">
                                    $.ajaxSetup({ cache: false });
                                    var uploader = new qq.FileUploader({
                                        allowedExtensions: ['jpg', 'png', 'jpeg'],
                                        element: document.getElementById('fpUpload01'),
                                        action: '@Url.Action("ImageTipoOfertaUpload", "AdministrarTipoEstrategia")',
                                        onComplete: function (id, fileName, responseJSON) {
                                            if (checkTimeout(responseJSON)) {
                                                $(".qq-upload-list").css("display", "none");
                                                if (responseJSON.success) {
                                                    $("#imagenProducto01").val(responseJSON.name);
                                                    $('#img01').attr('src', '@Url.Content("~/Content/Temporales/")' + responseJSON.name);
                                                }
                                                else {
                                                    alert(responseJSON.message);
                                                }
                                            }
                                        },
                                        onSubmit: function (id, fileName) { $(".qq-upload-list").css("display", "none"); },
                                        onProgress: function (id, fileName, loaded, total) { $(".qq-upload-list").css("display", "none"); },
                                        onCancel: function (id, fileName) { $(".qq-upload-list").css("display", "none"); }
                                    });
                                        </script>*@
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="float-left">
                <div class="div-3 divOfertaIndependiente">
                    <div class="titB">Imagen Independiente:</div>
                    <div class="selectCheck borde_redondeado">
                        <input type="checkbox" id="chkMostrarImgIndependiente" />
                    </div>
                </div>
                <div class="div-3 divOfertaIndependiente" style="display:none;">
                    <div class="titB">Imagen indep.:</div>
                    <div class="selectP2 borde_redondeado aligncenter" style="height: 162px;">
                        <img src='@Url.Content("~/Content/Images/prod_grilla_vacio.png")' id="imgOfertaIndependiente">
                    </div>
                </div>
                <div class="div-3 divOfertaIndependiente" style="display:none;">
                    <div class="titF">Tamaño de imagen: (Ancho: 62px - Alto: 62px)</div>
                    <div class="titG" style="width: 180px;">
                        <div class="input_search">
                            <input type="hidden" id="hdImagenOfertaIndependiente" />
                            <input type="hidden" id="hdImagenOfertaIndependienteAnterior" />
                            <div id="fpUpload02">
                                @*<script type="text/javascript">
                                    $.ajaxSetup({ cache: false });
                                    var uploader = new qq.FileUploader({
                                        allowedExtensions: ['jpg', 'png', 'jpeg'],
                                        element: document.getElementById('fpUpload02'),
                                        action: '@Url.Action("ImageTipoOfertaUpload", "AdministrarTipoEstrategia")',
                                        onComplete: function (id, fileName, responseJSON) {
                                            if (checkTimeout(responseJSON)) {
                                                $(".qq-upload-list").css("display", "none");
                                                if (responseJSON.success) {
                                                    $("#hdImagenOfertaIndependiente").val(responseJSON.name);
                                                    $('#imgOfertaIndependiente').attr('src', '@Url.Content("~/Content/Temporales/")' + responseJSON.name);
                                                }
                                                else {
                                                    alert(responseJSON.message);
                                                }
                                            }
                                        },
                                        onSubmit: function (id, fileName) { $(".qq-upload-list").css("display", "none"); },
                                        onProgress: function (id, fileName, loaded, total) { $(".qq-upload-list").css("display", "none"); },
                                        onCancel: function (id, fileName) { $(".qq-upload-list").css("display", "none"); }
                                    });
                                        </script>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="DialogAdministracionNuevaOferta" style="display: none;">
    <div class="Content_modal">
        <div class="div-3" style="display: none">
            <div class="titB">País:</div>
            <div class="selectP2 borde_redondeado">
                <input type="text" id="txtPaisOferta" readonly="readonly" />
            </div>
        </div>
        <div class="div-3">
            <div class="titB">Código:</div>
            <div class="selectP2 borde_redondeado" style="width:50px">
                <input type="text" id="txtCodigoOferta" style="width:50px" />
            </div>
            <div class="titB">Descripción:</div>
            <div class="selectP2 borde_redondeado" style="width:230px">
                <input type="text" id="txtDescripcionOferta" style="width:230px" />
            </div>
            <div class="input_search">
                <input type="button" name="btnAgregarOferta" id="btnAgregarOferta" value="Agregar" style="float:right" />
            </div>
        </div>
        <div class="div-3">
            <div class="container clearfix">
                <div class="selectA borde_redondeado" style="width:630px">
                    <table id="listaOfertas"></table>
                    <div id="pagerOferta"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="loadingScreen"></div>



