@using Portal.Consultoras.Web.Models
@model Portal.Consultoras.Web.Models.ConfiguracionSeccionHomeModel
@{
    //var revistaDigital = ViewBag.revistaDigital ?? new RevistaDigitalShortModel();
    //var camapaniaEfectiva = "C" + revistaDigital.CampaniaActiva;
}

<div class="contenedor_MasGanadoras_carrusel" 
     style="background: url(@Model.ImagenFondo);background-position-x: center;background-repeat: no-repeat; background-size: cover;"
     data-plantilla="carrusel-individuales-v2">
    <div class="row">
        <div class="col-xs-6">
            <h3 class="titulo_MasGanadoras">@Model.Titulo</h3>
        </div>
        <div style="display:none;">
            <div style="display:none;" data-productos-info="">
                <span>
                    Mostrando 
                    <span data-productos-mostrar="">@Model.CantidadMostrar</span> 
                    de 
                    <span data-productos-total="">@Model.CantidadProductos</span>
                </span>
            </div>
        </div>

        @if (Model.VerMas)
        {
            <div class="col-xs-6 text-right" data-seccion-vermas="@Model.Codigo">
                <a class="boton_MasGanadoras" 
                   href="javascript:;"
                   onclick="javascript: menuModule.sectionClick('@Model.UrlLandig', 'BotonVerMas', this);" >
                VER MÁS
                </a>
            </div>
        }
    </div>
    <div class="carousel-mas-ganadoras"
         data-seccion-productos=""
         data-content-item="@Model.CampaniaID">
    </div>
</div>
