@using Portal.Consultoras.Web.Models
@model Portal.Consultoras.Web.Models.ConfiguracionSeccionHomeModel
@{
    //var revistaDigital = ViewBag.revistaDigital ?? new RevistaDigitalShortModel();
    //var camapaniaEfectiva = "C" + revistaDigital.CampaniaActiva;
}

<div class="contenedor_MasGanadoras_carrusel" @(ViewBag.revistaDigital.EsActiva == true ? "suscrita" : "nosuscrita"  )
     style="background: url(@Model.ImagenFondo);background-position-x: center;background-repeat: no-repeat; background-size: cover;"
     data-plantilla="carrusel-individuales-v2">
        <ul class="title_MasGanadoras">
        <li class="">
            <h3 class="titulo_MasGanadoras">@Model.Titulo</h3>
        </li>
        

        <li style="display:none;">
            <div style="display:none;" data-productos-info="">
                <span>
                    Mostrando
                    <span data-productos-mostrar="">@Model.CantidadMostrar</span>
                    de
                    <span data-productos-total="">@Model.CantidadProductos</span>
                </span>
            </div>
        </li>

        @if (Model.VerMas)
        {
            <li class="text-right" data-seccion-vermas="@Model.Codigo">
                <a class="boton_MasGanadoras"
                   href="javascript:;"
                   onclick="javascript: menuModule.sectionClick('@Model.UrlLandig', '@Model.Titulo');">
                    VER MÁS
                </a>
            </li>
        }
        </ul>
    
    <div class="carousel-mas-ganadoras"
         data-seccion-productos=""
         data-content-item="@Model.CampaniaID">
    </div>
</div>
