
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}

@section styles{

    @if (System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika").Contains(ViewBag.PaisAnalytics))
    {
        <link href="@Url.Content("~/Content/Css/Mobile/esika/descargar-app.css")" rel="stylesheet" />
    }
    else
    {
        <link href="@Url.Content("~/Content/Css/Mobile/lbel/descargar-app.css")" rel="stylesheet" />
    }

    <style>
        header, footer {
            display: none;
        }

        #contentmobile {
            margin-top: 0 !important;
        }
    </style>
}

<div class="contenedor_vista_descargar_app">
    <a href="@Url.Action("Index", "Bienvenida", new { area = "Mobile" })" class="btn_cerrar_vista_descargar_app" title="Cerrar">
        <img src="@Url.Content("~/Content/Images/boton-cerrar-vista-descargar-app.svg")" alt="Cerrar">
    </a>
    <div>
        <h1 class="titulo_descargar_app">
            Tu negocio es más fácil con el <span class="nombre_app"></span>
        </h1>
        <p class="info_descarga">Descárgalo y disfruta de sus beneficios</p>
        <button type="button" class="btn_descargar_app">¡Descárgalo ahora!</button>
    </div>
    <div class="imagen_descargar_app_e_ir_a_version_web">
        <div class="img_vista_descargar_app">
            @if (System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika").Contains(ViewBag.PaisAnalytics))
            {
                <img src="@Url.Content("~/Content/Images/Esika/img-descarga-app.png")" alt="Descargar App" />
            }
            else
            {
                <img src="@Url.Content("~/Content/Images/Lbel/img-descarga-app.png")" alt="Descargar App" />
            }
        </div>
        <div class="alternativa_version_web">
            Todavía no, <a href="@Url.Action("Index", "Bienvenida", new { area = "Mobile" })" class="enlace_ir_version_web" title="Ir a la versión web">ir a la versión web</a>
        </div>
    </div>
</div>
@section scripts{
    <script>
        var comunicadoId = '@ViewBag.ComunicadoId';
        var esPaisEsika = '@ViewBag.EsPaisEsika';
        var url = '@ViewBag.Url';

        var marcacionBannerAppModule = (function () {
            "use strict"

            var settings = {
                ComunicadoId: comunicadoId,
                EsPaisEsika: esPaisEsika,
                UrlDescargar: url,
                DescargarName: esPaisEsika === "1" ? "Descargar app consultora Ésika" : "Descargar app consultora L'bel",
                LoadPageName: esPaisEsika === "1" ? "Banner Descargar app consultora Ésika" : "Banner Descargar app consultora L'bel"
            };

            var elements = {
                btnCerrar: '.btn_cerrar_vista_descargar_app',
                btnDescargar: '.btn_descargar_app',
                linkEnlace: '.enlace_ir_version_web'
            };

            var _bindEvents = function () {
                $(elements.btnCerrar).click(function (e) {
                    dataLayer.push({
                        'event': 'virtualEvent',
                        'category': 'Banner Pop-up',
                        'action': 'Banner Descargar app consultora',
                        'label': 'Cerrar Pop-up'
                    });
                });

                $(elements.btnDescargar).click(function (e) {
                    dataLayer.push({
                        'event': 'promotionClick',
                        'ecommerce': {
                            'promoClick': {
                                'promotions': [
                                    {
                                        'id': settings.ComunicadoId,
                                        'name': settings.DescargarName,
                                        'creative': 'Banner Pop-up',
                                        'position': 'Home Pop-up'
                                    }]
                            }
                        }
                    });
                    window.open(Url);
                });

                $(elements.linkEnlace).click(function (e) {
                    dataLayer.push({
                        'event': 'virtualEvent',
                        'category': 'Banner Pop-up',
                        'action': 'Banner Descargar app consultora',
                        'label': 'Ir a la versión web'
                    });
                });
            };

            var _loadPageMarcacion = function () {
                dataLayer.push({
                    'event': 'promotionView',
                    'ecommerce': {
                        'promoView': {
                            'promotions': [
                                {
                                    'id': settings.ComunicadoId,
                                    'name': settings.LoadPageName,
                                    'position': 'Home Pop-up',
                                    'creative': 'Banner'
                                }]
                        }
                    }
                });
            };

            var initializer = function () {
                _bindEvents();
                _loadPageMarcacion();
            };

            return {
                ini: function () {
                    initializer();
                }
            };
        })();

        $(document).ready(function () {
            marcacionBannerAppModule.ini();
        });
    </script>
}