@model Portal.Consultoras.Web.Models.RVDigitalModel
@{
    ViewBag.Title = "Index";
}
<script type="text/javascript">
    jQuery(document).ready(function () {
        if (checkTimeout()) {
            fnGrilla();
        }

        $("#btnBuscar").click(function () {
            if (checkTimeout()) {
                fnGrilla();
            }
        });

        $("#ddlCampania").change(function () {
            if ($("#ddlCampania").val() != "")
                $("#divMensaje").html("Paquetes encontrados para la campaña: " + $("#ddlCampania").val());
            else
                $("#divMensaje").html("");
        });

        $(".confirmLink").click(function (e) {
            e.preventDefault();
            var targetUrl = $(this).attr("href");

            $("#dialog").dialog({
                modal: true,
                resizable: false,
                width: '600px',
                buttons: {
                    "Confirmar": function () {
                        HideDialog("dialog");
                        //$(this).dialog("close");
                        waitingDialog({});
                        jQuery.ajax({
                            type: 'POST',
                            url: baseUrl + 'RVDigital/AceptarPaqueteDocumentarioWeb',
                            dataType: 'json',
                            contentType: 'application/json; charset=utf-8',
                            data: null,
                            async: true,
                            success: function (data) {
                                if (checkTimeout(data)) {
                                    closeWaitingDialog();
                                    $('#divMensajePaqueteWeb').hide();
                                }
                            },
                            error: function (data, error) {
                                if (checkTimeout(data)) {
                                    closeWaitingDialog();
                                    alert(data.message);
                                }
                            }
                        }); 
                    },
                    "Cancelar": function () {
                        HideDialog("dialog");
                        //$(this).dialog("close");
                    }
                }
            });

            $("#dialog").dialog("open");
    });
    });

    function fnGrilla() {
        jQuery("#list").jqGrid({
            url: baseUrl + "RVDigital/Consultar",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                Campania: function () { return jQuery.trim($("#ddlCampania").val()); }
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['Nombre', 'Campaña', 'Fecha', 'Descargar Archivo'],
            colModel: [
                { name: 'Nombre', index: 'Nombre', width: 100, editable: true, resizable: false },
                { name: 'Campania', index: 'Campania', width: 60, editable: true, resizable: false, align: 'center' },
                { name: 'Fecha', index: 'Fecha', width: 60, editable: true, resizable: false, align: 'center' },
                { name: 'Ruta', index: 'Ruta', width: 40, editable: true, sortable: false, align: 'center', resizable: false, formatter: ShowActions }
            ],
            jsonReader:
                {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: true,
                    cell: "cell",
                    id: "id"
                },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'Nombre',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            width: '930',
            height: 'auto',
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function () { },
            gridComplete: function () { }
        });
        jQuery("#list").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');

        function ShowActions(cellvalue, options, rowObject) {
            var cellValueInt = parseInt(cellvalue);
            var Descargar = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#list').Descargar('" + rowObject[3] + "');\" >" + "<img src='@Url.Content("~/Content/Images/Edit.png")' alt='Descargar Documento' title='Descargar Documento' border='0' /></a>";
            return Descargar;
        };
    }

    $.jgrid.extend({
        Descargar: function (Ruta) {
            $("#hdfRutaFTP").val(Ruta);
            waitingDialog({});
            setTimeout(function () { DownloadAttachPDF() }, 0);
            return false;
        }
    });

    function DownloadAttachPDF() {
        var iframe_ = document.createElement("iframe");
        iframe_.style.display = "none";
        var requestedFile = $("#hdfRutaFTP").val();
        iframe_.setAttribute("src", baseUrl + 'WebPages/DownloadFTP.aspx?file=' + requestedFile);

        if (navigator.userAgent.indexOf("MSIE") > -1 && !window.opera) { // Si es Internet Explorer
            iframe_.onreadystatechange = function () {
                switch (this.readyState) {
                    case "loading":
                        waitingDialog({});
                        break;
                    case "complete":
                    case "interactive":
                    case "uninitialized":
                        closeWaitingDialog();
                        break;
                    default:
                        closeWaitingDialog();
                        break;
                }
            };
        }
        else {
            // Si es Firefox o Chrome
            $(iframe_).ready(function () {
                closeWaitingDialog();
            });
        }
        document.body.appendChild(iframe_);
        showDialog("divPaqueteDocumentario");
    }

</script>

<div class="wrap_cab">

    <div class="filtros">
        <div class="elements">
            <div class="div-1">
                <div class="box">
                    <div class="box-t"></div>
                    <div class="box-c">
                        @if(ViewBag.Campania != null)
                        {
                            if (ViewBag.Dias == 0)
                            {
                                <p class="azul">Hoy es el cierre de <span>@ViewBag.Campania</span></p>
                            }
                            else
                            {
                                <p class="azul">Estás en <span>@ViewBag.Campania</span>, te quedan <strong>@ViewBag.Dias días</strong> para el cierre.</p>
                            }
                            <p>@ViewBag.MensajeCierreCampania</p>
                        }
                        else
                        {
                            <p>La Zona @ViewBag.CodigoZonaConsultora no se ubica en el cronograma, por favor contacte al Servicio de Atención al Cliente.</p>
                        }
                    </div>
                    <div class="box-b"></div>
                </div>
            </div>
            <div class="div-2">
                <h1><span>Paquete Documentario</span></h1>
            </div>
            <div class="div-3">
                <div class="titG" style="width:200px;">Seleccionar Campaña:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.CampaniaID, new SelectList(Model.listaCampania, "CampaniaID", "CampaniaID"), "-- Seleccionar --", new { id = "ddlCampania" })
                </div>
                <div class="input_search">
                    <input type="submit" name="" id="btnBuscar" value="Buscar" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrap">
    <section class="container clearfix" style="min-height: 300px;">
	<div id="divMensaje" style="color: #702789;font-size: 12px;text-align:center;"></div>
        <div class="border-wrapper">
            <table id="list"></table>
            <div id="pager"></div>

        </div>
    </section>
    <input type="hidden" id="hdfRutaFTP"/>
</div>
<div style="color: #702789;font-size: 12px;text-align:center;background: #fff;">
	Ud. necesita tener un lector de archivos PDF instalado para poder visualizar los paquetes documentarios. De no tener uno, puede descargalo <a href="http://get.adobe.com/es/reader/" target="_blank">Aquí</a>
</div>
<div id="loadingScreen"></div>

<div style="display:none;" id="dialog" title="Confirmación requerida">
  Confirmo que no deseo recibir el paquete documentario en físico, lo consultaré por la web
</div>

