@using Portal.Consultoras.Common;
@{
    ViewBag.Title = "Actualiza tu correo electronico";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@if (System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika").Contains(ViewBag.PaisAnalytics == null ? "" : ViewBag.PaisAnalytics))
{
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Site/Esika/mi-perfil.css")">
}
else
{
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Site/Lbel/mi-perfil.css")">
}

<style>
    .footer-page {
        display: none;
    }
</style>

<div class="fondo_f9f9f9">
    <div class="content_belcorp">
        <div class="fondo_negro_lateral"></div>
        <div class="titulo_interiores"><span>ACTUALIZA</span> TU CORREO ELECTRÓNICO</div>
    </div>
    <hr class="clear" />
    <div class="linea_separadora" style="margin-top:-1px"></div>
</div>
<div class="content_belcorp">
    <div class="pestana_lbel"></div>
</div>
<section class="vista_actualizar_correo">
    <div id="tabVistas" class="wrapper_content_actualizar_correo">
        <a id="btnVolver" class="d-block enlace_volver_a_mi_perfil enlace_volver_a_mi_perfil--vistaActualizarCorreo" title="Volver">
            <span class="d-inline-block enlace_volver_a_mi_perfil_icono">
                <img src="@Url.Content("~/Content/Images/icono_enlace_volver.svg")" alt="Volver" />
            </span>
            <span class="d-inline-block text-bold enlace_volver_a_mi_perfil_texto">
                Volver
            </span>
        </a>
        <div vista-id="1" class="form_actualizar_correo" style="display:none;">

            <!--INI HD-4520-->
            <div class="grupo_form_cambio_datos grupo_form_cambio_datos--vistaActualizacionCorreo infoActual" style="display:none;">
                <div class="w-100 infoActualDetalle">
                    <spam>TU CORREO ELECTRÓNICO ACTUAL ES</spam>
                    <spam id="correoActual"></spam>
                </div>
            </div>
            <!--FIN HD-4520-->

            <!-- INICIO -Cuando el formato del correo sea incorrecto agregar la clase grupo_form_cambio_datos--validacionErronea,
    si el formato del correo es correcto remover clase mencionada anteriormente y agregar grupo_form_datos--validacionExitosa -->
            <div class="grupo_form_cambio_datos grupo_form_cambio_datos--vistaActualizacionCorreo">
                <div class="w-100">
                    <input id="NuevoCorreo" name="NuevoCorreo" class="w-100 eventActPerfil_Auto" type="text" value="" autocomplete="off" />
                    <label for="NuevoCorreo" class="w-100">Ingresa tu nuevo correo electrónico</label>
                    <span id="ValidateCorreo" class="text-bold mensaje_validacion_campo mensaje_validacion_campo--vistasActualizacion"></span>
                </div>
            </div>
            <!-- FIN -Cuando el formato del correo sea incorrecto agregar la clase grupo_form_cambio_datos--validacionErronea,
    si el formato del correo es correcto remover clase mencionada anteriormente y agregar grupo_form_datos--validacionExitosa -->
            <div class="grupo_input_actualizarMisDatos campos_actualizarDatos terminos_y_condiciones_wrapper pt-31">
                <div class="checkbox_condiciones_wrapper w-100">
                    <div class="checkbox_condiciones_descripcion">
                        <span class="asterisco_actualizar_datos">(*)&nbsp;</span>
                        Estoy de acuerdo con los <span><a href="javascript:;" id="hrefTerminosMD" target="_blank">términos y condiciones</a></span> sobre Protección de datos personales
                    </div>
                    <div class="grupo_form_checkbox_condiciones">
                        <input class="checkbox_condiciones_checkbox" type="checkbox" name="chkAceptoContratoMD" id="chkAceptoContratoMD" />
                        <label for="chkAceptoContratoMD" class="checkbox_condiciones_label"></label>
                    </div>
                </div>
            </div>
            <div class="grupo_form_cambio_datos grupo_form_cambio_datos--vistaActualizacionCorreo">
                <button id="btnActualizarCorreo" type="button" class="d-block border-radius-4 text-bold mt-23 btn_deshabilitado btn_primario btn_primario--miPerfil">
                    Guardar
                </button>
            </div>
        </div>
        <div vista-id="2" class="revisa_tu_correo text-center" style="display:none;">
            <div class="icono_correo_sobre"></div>
            <h3 class="d-block text-bold actualizacion_celular_titulo">Confirmación de correo</h3>
            <p class="w-100 envio_instrucciones_info">
                <span class="d-block w-100">
                    Te hemos enviado un correo de confirmación a:
                </span>
                <span class="d-block w-100 text-bold correo_actual" id="txtCorreoEnviado">
                    cambiodecorreo@example.com
                </span>
                <a id="btnReescribirCorreo" class="d-block enlace_cambiar_correo" title="Cambia de correo">
                    Cambia de correo
                </a>
            </p>
            <div class="text-center">
                <div class="w-100 envio_instrucciones_info">
                    <span class="w-100">¿Aún no recibes nuestro correo?</span>
                    <a id="btnReenviameInstruciones" title="Reenviar el correo" class="enlace_reenviar_instrucciones w-100">
                        Reenviar el correo
                    </a>
                </div>
                <div id="spnReenviarInstrucciones" class="notificacion_estado notificacion_estado--exito" style="display:none">
                    <span class="notificacion_estado_img">
                        <img src="@Url.Content("~/Content/Images/icono_confirmacion_con_fondo.svg")" alt="" />
                    </span>
                    <span class="text-bold">¡Listo! Se reenvió el correo.</span>
                </div>
                <button type="button" class="d-block center-block border-radius-4 text-bold mt-23 btn_primario btn_primario--miPerfil"
                        onclick="location.href='@Url.Action("Index")'">
                    Ir a ver mis datos
                </button>
            </div>
            @*<h1 class="titulo_revisa_tu_correo text-uppercase">
                Revisa <span class="text-bold">tu correo</span>
            </h1>
            <div class="icono_correo_sobre"></div>
            <p class="w-100 envio_instrucciones_info">
                <span class="w-100">Te hemos enviado las instrucciones a:</span>
                <span id="txtCorreoEnviado" class="w-100 text-bold"></span>
            </p>
            <p class="w-100 envio_instrucciones_info">
                <span class="w-100">¿Aún no recibes nuestro correo?</span>
                <a id="btnReenviameInstruciones" title="Reenvíenme las instrucciones" class="enlace_reenviar_instrucciones w-100 text-uppercase text-bold">
                    Reenvíenme las instrucciones
                </a>
            </p>
            <p class="w-100 cambiar_correo_info">
                <span>¿Este no es tu correo?</span>
                <a id="btnReescribirCorreo" title="Cambia tu correo" class="enlace_cambiar_correo text-bold">Cambia tu correo</a>
            </p>*@
        </div>
        <div vista-id="3" class="revisa_tu_correo text-center" style="display:none;">
            <div class="center-block icono_success icono_success--miPerfil">
                <img class="d-block" src="@Url.Content("~/Content/Images/success_icon.svg")" alt="¡El cambio de correo fue exitoso!" />
            </div>
            <h6 class="center-block text-bold text-center mensaje_success mensaje_success--miPerfil">
                ¡El cambio de<br />correo fue exitoso!
            </h6>
        </div>
    </div>
</section>

<input type="hidden" id="hdn_enlaceTerminosCondiciones" value="@ViewBag.UrlPdfTerminosyCondiciones" />
<input type="hidden" id="hdn_IsConfirmar" value="@ViewBag.IsConfirmar" />
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/MiPerfil/Base.js")?v=3"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/MiPerfil/ActualizarCorreo.js?v=2")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            debugger;
            new MiPerfil_ActualizarCorreo({
                UrlPaginaPrevia: '@Url.Action("Index")',
                UrlActualizarEnviarCorreo: '@Url.Action("ActualizarEnviarCorreo")',
                MensajeError: '@Html.Raw(Constantes.MensajesError.ActivacionCorreo)',
                MensajeReenvioExitoso: '@Html.Raw(Constantes.MensajesExito.UpdCorreoConsultora_Reenvio)',
                CorreoActual: '@ViewBag.CorreoActual',
                IsConfirmar: $("#hdn_IsConfirmar").val()
            }).Inicializar();
        });

        var inputEmail = document.getElementById("NuevoCorreo");
        FuncionesGenerales.AutoCompletarEmailAPartirDeArroba(inputEmail);
    </script>
}


