@{
    ViewBag.Title = "Actualiza tu numero de celular";
}

@if (System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika").Contains(ViewBag.PaisAnalytics == null ? "" : ViewBag.PaisAnalytics))
{
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Site/Esika/mi-perfil.css")">
}
else
{
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Site/Lbel/mi-perfil.css")">
}

<div class="fondo_f9f9f9">
    <div class="content_belcorp">
        <div class="fondo_negro_lateral"></div>
        <div class="titulo_interiores"><span>ACTUALIZA</span> TU NÚMERO DE CELULAR</div>
    </div>
    <hr class="clear" />
    <div class="linea_separadora" style="margin-top:-1px"></div>
</div>
<div class="content_belcorp">
    <div class="pestana_lbel"></div>
</div>
<section class="vista_actualizar_celular">
    <div class="wrapper_content_actualizar_celular">
        <div>
            <a id="btnVolver" class="d-block enlace_volver_a_mi_perfil enlace_volver_a_mi_perfil--vistaActualizarCorreo" title="Volver">
                <span class="d-inline-block enlace_volver_a_mi_perfil_icono">
                    <img src="@Url.Content("~/Content/Images/icono_enlace_volver.svg")" alt="Volver" />
                </span>
                <span class="d-inline-block text-bold enlace_volver_a_mi_perfil_texto">
                    Volver
                </span>
            </a>
            <div class="form_actualizar_celular">
                <!-- INICIO -Cuando el formato del celular sea incorrecto agregar la clase grupo_form_cambio_datos--validacionErronea,
                 si el formato del correo es correcto remover clase mencionada anteriormente y agregar grupo_form_datos--validacionExitosa -->
                <div class="grupo_form_cambio_datos grupo_form_cambio_datos--vistaActualizacionCelular">
                    <div class="w-100">
                        <input id="NuevoCelular" name="NuevoCelular" class="w-100 eventActPerfil_Auto" type="text" value="" />
                        <label for="NuevoCelular" class="w-100">Ingresa tu nuevo número</label>
                        <span id="ValidateCelular" class="text-bold mensaje_validacion_campo mensaje_validacion_campo--vistasActualizacion"></span>
                    </div>
                </div>
                <!-- FIN -Cuando el formato del celular sea incorrecto agregar la clase grupo_form_cambio_datos--validacionErronea,
                 si el formato del correo es correcto remover clase mencionada anteriormente y agregar grupo_form_datos--validacionExitosa -->
                <div class="grupo_input_actualizarMisDatos campos_actualizarDatos terminos_y_condiciones_wrapper pt-31">
                    <div class="checkbox_condiciones_wrapper w-100">
                        <div class="checkbox_condiciones_descripcion">
                            <span class="asterisco_actualizar_datos">(*)&nbsp;</span>
                            Estoy de acuerdo con los <span><a href="javascript:;" id="hrefTerminosMD" target="_blank">términos y condiciones</a></span> sobre Protección de datos personales
                        </div>
                        <div class="grupo_form_checkbox_condiciones">
                            <input class="checkbox_condiciones_checkbox" type="checkbox" name="chkAceptoContratoMD" id="chkAceptoContratoMD" />
                            <label for="chkAceptoContratoMD" class="checkbox_condiciones_label"></label>
                        </div>
                    </div>
                </div>
                <div class="grupo_form_cambio_datos grupo_form_cambio_datos--vistaActualizacionCelular">
                    <button id="btn_continuar" type="button" class="d-block border-radius-4 text-bold btn_deshabilitado btn_primario btn_primario--miPerfil">
                        Guardar
                    </button>
                </div>
            </div>
            <div class="revisa_tu_celular text-center" style="display:none;">
                <div class="icono_mensaje_sms"></div>
                <h3 class="d-block text-bold actualizacion_celular_titulo">Código de confirmación</h3>
                <p class="w-100 envio_instrucciones_info">
                    <span class="d-block w-100">Te hemos enviado un código SMS al:</span>
                    <span class="d-inline-block text-bold num_celular_actual" id="NumeroMensajeEnviado"></span>
                    <a href="#" class="d-inline-block enlace_cambiar_numero_celular" title="Cambiar número">Cambiar número</a>
                </p>
                <div class="area_ingreso_codigo_sms">
                    <div class="d-block texto_ingreso_codigo text-bold">Ingresa el código aquí</div>
                    <div class="campos_ingreso_codigo_sms">
                        <div class="wrapper_campo_ingreso_codigo_sms">
                            <input class="text-bold campo_ingreso_codigo_sms text-center" type="text" value="" maxlength="1" />
                            <span class="d-block w-100 multimarca-background-color campo_ingreso_codigo_sms_borde_inferior"></span>
                        </div>
                        <div class="wrapper_campo_ingreso_codigo_sms">
                            <input class="text-bold campo_ingreso_codigo_sms text-center" type="text" value="" maxlength="1" />
                            <span class="d-block w-100 multimarca-background-color campo_ingreso_codigo_sms_borde_inferior"></span>
                        </div>
                        <div class="wrapper_campo_ingreso_codigo_sms">
                            <input class="text-bold campo_ingreso_codigo_sms text-center" type="text" value="" maxlength="1" />
                            <span class="d-block w-100 multimarca-background-color campo_ingreso_codigo_sms_borde_inferior"></span>
                        </div>
                        <div class="wrapper_campo_ingreso_codigo_sms">
                            <input class="text-bold campo_ingreso_codigo_sms text-center" type="text" value="" maxlength="1" />
                            <span class="d-block w-100 multimarca-background-color campo_ingreso_codigo_sms_borde_inferior"></span>
                        </div>
                        <div class="wrapper_campo_ingreso_codigo_sms">
                            <input class="text-bold campo_ingreso_codigo_sms text-center" type="text" value="" maxlength="1" />
                            <span class="d-block w-100 multimarca-background-color campo_ingreso_codigo_sms_borde_inferior"></span>
                        </div>
                        <div class="wrapper_campo_ingreso_codigo_sms">
                            <input class="text-bold campo_ingreso_codigo_sms text-center" type="text" value="" maxlength="1" />
                            <span class="d-block w-100 multimarca-background-color campo_ingreso_codigo_sms_borde_inferior"></span>
                            <div class="icono_validacion_codigo_sms validacion_erronea"></div>
                        </div>
                    </div>
                    <div class="w-100 codigo_sms_caducidad" style="display:none;">
                        Puedes solicitar un código nuevo en<br /><span class="text-bold" id="time_counter">3</span><span class="text-bold"> segundos</span>
                    </div>
                    <div class="w-100 envio_instrucciones_info">
                        <a href="#" title="Reenvíenme las instrucciones" class="enlace_reenviar_instrucciones w-100">
                            Reenviar nuevamente el código
                        </a>
                    </div>
                    @*<button type="button" class="d-block border-radius-4 text-bold mt-23 btn_deshabilitado btn_primario btn_primario--miPerfil">
                        Validar código
                    </button>*@
                </div>
            </div>
        </div>
        <div id="celular_actualizado" class="celular_actualizado text-center" style="display:none;">

            <div class="center-block icono_success icono_success--miPerfil">
                <img class="d-block" src="@Url.Content("~/Content/Images/success_icon.svg")" alt="¡El cambio de correo fue exitoso!" />
            </div>
            <h6 class="center-block text-bold text-center mensaje_success mensaje_success--miPerfil">
                ¡El cambio de<br />número fue exitoso!
            </h6>
            @*<div class="icono_actualizacion_celular_exitoso"></div>
            <h1 class="titulo_correo_actualizado text-uppercase">
                ¡Actualizaste <span class="text-bold">tu celular</span>!
            </h1>
            <p class="mensaje_celular_actualizado">
                Continúa visitando somosbelcorp.com<br />y descubre todas la ofertas que tenemos para ti.
            </p>
            <a href="@Url.Action("Index")" class="btn_acept text-uppercase text-bold default-background-color">Ok</a>*@
        </div>
        <div id="celular_no_actualizado" class="celular_actualizado text-center" style="display:none;">

            <div class="center-block icono_success icono_success--miPerfil">
                <img class="d-block" src="@Url.Content("~/Content/Images/icono_pendiente_confirmacion.svg")" alt="El cambio de correo no se completo" />
            </div>
            <h6 id="message" class="center-block text-bold text-center mensaje_success mensaje_success--miPerfil"></h6>
            <button type="button" class="d-block center-block border-radius-4 text-bold mt-23 btn_primario btn_primario--miPerfil"
                    onclick="location.href='@Url.Action("Index")'">
                Ir a ver mis datos
            </button>
        </div>
    </div>
</section>

<input type="hidden" id="hdn_enlaceTerminosCondiciones" value="@ViewBag.UrlPdfTerminosyCondiciones" />

@section scripts
{

    <script>
    var actualizaCelularData = {
            UrlPaginaPrevia: '@Url.Action("Index")',
            celular: '@ViewBag.Celular',
            iniciaNumero: @ViewBag.IniciaNumeroCelular,
            IsConfirmar:@ViewBag.IsConfirmarCel,
            urlProvider: {
                enviarSmsCodigo: '@Url.Action("EnviarSmsCodigo")',
                confirmarSmsCode: '@Url.Action("ConfirmarSmsCode")'
        }

        };
        var listaIconoLluvia = [
            '@Url.Content("~/Content/Images/lluvia/ov-d.svg")',
            '@Url.Content("~/Content/Images/lluvia/ov-r.svg")',
            '@Url.Content("~/Content/Images/lluvia/sq-d.svg")',
            '@Url.Content("~/Content/Images/lluvia/sq-r.svg")',
            '@Url.Content("~/Content/Images/lluvia/trg-d.svg")',
            '@Url.Content("~/Content/Images/lluvia/trg-r.svg")',
        ];
        var noIniciarLluvia = true;
        var lluviaContainerId = "#celular_actualizado";
    </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/MiPerfil/Base.js")?v=3"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/MiPerfil/ActualizarCelular.js?v=2")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/nieve.js")"></script>
}


