@using Portal.Consultoras.Common
@model Portal.Consultoras.Web.Models.MisDatosModel
@{
    ViewBag.Title = "Mi Perfil";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@if (System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika").Contains(ViewBag.PaisAnalytics == null ? "" : ViewBag.PaisAnalytics))
{
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Site/Esika/mi-perfil.css")">
}
else
{
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Site/Lbel/mi-perfil.css")">
}

@section styles{
    <style type="text/css">
        .asteriscos {
            color: #e81c36;
        }
    </style>
}

<div class="fondo_f9f9f9">
    <a href="@Url.Action("Index", "Bienvenida", new { area = "" })" style="display: none;" id="volverBienvenida">Volver</a>
    <div class="content_belcorp">
        <div class="fondo_negro_lateral"></div>
        <div class="titulo_interiores titulo_misPagos"><span>MI</span> PERFIL</div>
    </div>
    <hr class="clear" />
    <div class="linea_separadora" style="margin-top:-1px"></div>
</div>
<div class="content_belcorp">
    <div class="pestana_lbel pestana_lbel_mi_perfil"></div>
</div>
<section class="datos_usuario_iniciales w-100">
    <div class="wrapper_content_mi_perfil">
        <div class="foto_consultora">
            <a href="@Url.Action("CambiarFotoPerfil", "MiPerfil", new {area = ""})" title="Editar imagen" class="icono_camara default-background-color"></a>
            <div class="contenedor_foto_consultora">
                @if (ViewBag.FotoPerfilAncha)
                {
                    <img id="imgFotoPerfilCambiar" src="@ViewBag.FotoPerfil" alt="Imagen Consultora" class="consultora_img" style="width: auto; height: 100%" />
                }
                else
                {
                    <img id="imgFotoPerfilCambiar" src="@ViewBag.FotoPerfil" alt="Imagen Consultora" class="consultora_img" style="width: 100%; height: auto;" />
                }
            </div>
        </div>
        <div class="datos_consultora_mi_perfil text-left text-uppercase">
            <div class="nom_consultora text-bold">
                @Model.NombreCompleto
            </div>
            <div class="datos_codigo_y_zona">
                <input type="hidden" id="hdn_CorreoMD" value="@Model.EMail" />
                <input type="hidden" id="hdn_CodigoUsuarioMD" value="@Model.CodigoUsuario" />
                <input type="hidden" id="hdn_CodigoUsuarioReal" value="@Model.CodigoUsuarioReal" />
                <input type="hidden" id="hdn_NombreCompletoMD" value="@Model.NombreCompleto" />
                <input type="hidden" id="hdn_NombreArchivoContratoMD" value="@Model.NombreArchivoContrato" />
                <input type="hidden" id="hdn_CaracterMinimo" value="@Model.limiteMinimoTelef" />
                <input type="hidden" id="hdn_CaracterMaximo" value="@Model.limiteMaximoTelef" />
                <input type="hidden" id="hdn_ServicioSMS" value="@Model.ServiceSMS" />
                <input type="hidden" id="hdn_PuedeActualizar" value="@Model.ActualizaDatos" />
                <input type="hidden" id="hdn_enlaceTerminosCondiciones" value="@ViewBag.UrlPdfTerminosyCondiciones" />
                <input type="hidden" id="hdn_iniciaNumero" value="@Model.IniciaNumeroCelular" />
                <div class="datos_codigo">
                    <span>Código : </span>
                    <span class="text-bold">@Model.CodigoUsuario</span>
                </div>
                <div class="datos_zona">
                    <span>Zona : </span>
                    <span class="text-bold">@Model.Zona</span>
                </div>
            </div>
            @if (Model.NombreGerenteZonal != "" && Model.IndicadorConsultoraDigital == 0)
            {
                <div class="datos_gerente_zona">
                    <span>Gerente de zona : </span>
                    <span class="text-bold">@Model.NombreGerenteZonal</span>
                </div>
            }
            <a href="@Url.Action("CambiarContrasenia", "MiPerfil", new {area = ""})" title="Cambiar contraseña" class="enlace_cambiar_contrasenia_consultora text-bold">
                <span class="icono_cambio_password"></span>
                <span class="enlace_texto">Cambiar contraseña</span>
            </a>
        </div>
    </div>
</section>
<section class="form_cambio_datos">
    <div class="wrapper_content_mi_perfil">
        <fieldset class="grupo_form_cambio_datos text-uppercase">
            <div class="w-82">
                <input id="txtSobrenombreMD" name="txtSobrenombreMD" class="w-100" type="text" onkeypress="return FuncionesGenerales.ValidarSoloLetrasYNumeros(event)" value="@Model.Sobrenombre" maxlength="80" />
                <label for="txtSobrenombreMD" class="w-100">¿Cómo quieres que te llamemos?</label>
            </div>
        </fieldset>
        <fieldset class="grupo_form_cambio_datos text-uppercase">
            <div class="w-82">
                <input id="txtEMailMD" name="txtEMailMD" class="w-100" type="text" value="@Model.EMail" readonly />
                <label for="txtEMailMD" class="w-100">Correo Electrónico <span class="asteriscos">*</span></label>
            </div>
            <a id="btnCambiarEmail" href="@Url.Action("ActualizarCorreo", "MiPerfil", new {area = ""})" title="Cambiar" class="enlace_cambiar_dato w-18 text-right">
                <span class="icono_cambiar_dato"></span>
                <span class="enlace_texto text-bold">Cambiar</span>
            </a>
        </fieldset>
        <div class="tooltip_info_revision_correo" style="display:none;">
            <div class="icono_info_alerta"></div>
            <div class="tooltip_texto">
                <p>
                    Revisa tu correo <span class="text-bold" id="EmailNuevo">@Model.EMail</span><br />para cambiar de cuenta.
                </p>
                <a id="hrefNocambiarCorreo" class="enlace_no_cambiar_correo" title="Ya no quiero cambiar mi correo">
                    Ya no quiero cambiar mi correo
                </a>
            </div>
        </div>
        <fieldset class="grupo_form_cambio_datos text-uppercase">
            <div class="w-82">
                <input id="txtCelularMD" name="txtCelularMD" class="w-100" type="text" value="@Model.Celular" maxlength="@Model.limiteMaximoTelef" />
                <label for="txtCelularMD" class="w-100">Celular <span class="asteriscos">*</span></label>
            </div>
            <a id="btnCambiarCelular" href="@Url.Action("ActualizarCelular", "MiPerfil", new {area = ""})" title="Cambiar" class="enlace_cambiar_dato w-18 text-right">
                <span class="icono_cambiar_dato"></span>
                <span class="enlace_texto text-bold">Cambiar</span>
            </a>
        </fieldset>
        <fieldset class="grupo_form_cambio_datos text-uppercase">
            <div class="w-82">
                <input id="txtTelefonoMD" name="txtTelefonoMD" class="w-100" type="text" value="@Model.Telefono" maxlength="@Model.limiteMaximoTelef" />
                <label for="txtTelefonoMD" class="w-100">Número fijo <span class="asteriscos">*</span></label>
            </div>
        </fieldset>
        <fieldset class="grupo_form_cambio_datos text-uppercase mb-61">
            <a id="btnAgregarOtroNumero" href="" title="Agregar otro número" class="enlace_agregar_num_adicional">
                <span class="icono_agregar_num_adicional"></span>
                <span class="enlace_texto text-bold">Agregar otro número</span>
            </a>
            <div class="contenedor_campos_num_adicional w-100" style="display:none;">
                <div class="w-82">
                    <input id="txtTelefonoTrabajoMD" name="txtTelefonoTrabajoMD" class="w-100" type="text" value="@Model.TelefonoTrabajo" maxlength="@Model.limiteMaximoTelef" />
                    <label for="txtTelefonoTrabajoMD" class="label_num_adicional w-100">Número adicional</label>
                </div>
                <a href="#" title="Cambiar" class="enlace_eliminar_numero_adicional w-18 text-right">
                    <span class="icono_eliminar_numero_adicional"></span>
                    <span class="enlace_texto text-bold">Eliminar</span>
                </a>
            </div>
        </fieldset>
        <div class="linea_separadora"></div>
        <div class="grupo_input_actualizarMisDatos campos_actualizarDatos mt-20">
            <div class="checkbox_condiciones">
                <input type="checkbox" name="chkAceptoContratoMD" id="chkAceptoContratoMD" />
                <label for="chkAceptoContratoMD" class="texto_terminosCondiciones">
                    <span class="asterisco_actualizar_datos">(*)&nbsp;</span>
                    <span>
                        Estoy de acuerdo con los <span><a href="javascript:;" id="hrefTerminosMD" target="_blank">términos y condiciones</a></span> sobre Protección de datos personales

                    </span>
                </label>
            </div>
        </div>

        <fieldset class="grupo_form_cambio_datos">
            <div class="w-50 text-left v-alignMiddle">
                <div class="datos_obligatorios">
                    <span class="asterisco_actualizar_datos">(*)&nbsp;</span>Datos obligatorios
                </div>
                @if (Model.PaisID == Constantes.PaisID.Colombia)
                {
                    <p>&nbsp;</p>
                    <p>
                        Modifica tus datos comunicándote al 5948060 en Bogotá y 018000937452 a nivel nacional.
                    </p>
                }
            </div>
            <div class="w-50 text-right v-alignMiddle text-uppercase">
                <button id="btnGuardar" type="button" class="btn_guardar_datos_nuevos text-uppercase text-bold default-background-color mt-13">
                    Guardar
                </button>
            </div>
        </fieldset>
    </div>
</section>

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/MiPerfil/Base.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/MiPerfil/Index.js?v=2")"></script>
}