@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Helpers
@model Portal.Consultoras.Web.Models.ClienteOnlineModel

@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}

<div class="titulo_mobile">
    @{  var mobileConfiguracion = Html.MobileAppConfiguracion();
        if (mobileConfiguracion.MostrarBotonAtras)
        {
            <a href="@Request.UrlReferrer" class="enlace_regresar catalogosR" title="Regresar"></a>
        } }
    &nbsp;&nbsp;HISTORIAL DE PEDIDOS
</div>
<div class="fondo_f2f2f2 triang_pe">
    <div class="pestana_esika"></div>
    <div class="pestana_lbel"></div>
    <div class="content_320">
        <div class="titulo_pedido_cancelado"> PEDIDO @Model.EstadoDesc.ToUpper() DE @Model.Cliente.ToUpper()</div>
        <div class="content_dato_historial">
            <span class="nom_his">Nombre</span>
            <span class="nom_his_2"><b>@Model.Cliente</b></span>
        </div>
        <div class="content_dato_historial">
            <span class="nom_his">Teléfono:</span>
            <span class="nom_his_2"><b>@Model.Telefono</b></span>
        </div>
        <div class="content_dato_historial">
            <span class="nom_his">Correo:</span>
            <span class="nom_his_2"><b>@Model.Email</b></span>
        </div>
        <div class="content_dato_historial">
            <span class="nom_his">Dirección:</span>
            <span class="nom_his_2"><b>@Model.Direccion</b></span>
        </div>
        @if (Model.MarcaID != 0)
        {
            <div class="content_dato_historial">
                <span class="nom_his">Comentario:</span>
                <span class="nom_his_2"><b>@Model.MensajeDelCliente</b></span>
            </div>
        }
    </div>
    <hr class="clear" />
</div>
<div class="wrapper_resumen_mobile">
    @foreach (var detalle in Model.Detalles)
    {
        <div class="detalle_pedido_reservado">
            <div class="left_reservado" style="width:228px;">
                <div class="datos_Reservado">
                    @if (Model.MarcaID == 0)
                    { <span> @detalle.CUV </span> }
                    <span>@detalle.Producto</span>
                </div>

            </div>
            <div class="right_reservado">
                <div class="texto_reservado">CANT</div>
                <div class="datos_Reservado"><b>@detalle.Cantidad</b></div>
            </div>
            <hr class="clear"><br>
            <div class="left_reservado">
                <div class="texto_reservado">
                    <span>Precio Unitario</span>
                    <span>Subtotal</span>
                </div>
            </div>
            <div class="right_reservado">
                <div class="texto_reservado">
                    <span>@detalle.PrecioUnitarioString</span>
                    <span>@detalle.PrecioTotalString</span>
                </div>
            </div>

            @if (Model.MarcaID == 0)
            {
                <hr class="clear" />
                <a href="javascript:;" class="btn_ingreso_pedido">@detalle.TipoAtencionString.ToUpper()</a>
            }
        </div>
    }

    <div class="left_reservado">
        <div class="importe_final" style="font-size:16px;"><b>MONTO TOTAL</b> </div>
    </div>
    <div class="right_reservado">
        <div class="importe_final" style="font-size:16px"><b>@Model.PrecioTotalString</b></div>
    </div>
    <hr class="clear" style="margin-bottom: 30px;" />
    @if (Model.PuedeCancelar)
    { <a href="javascript:AbrirConfirmacionCancelado();" class="btn_cancelar_pendientes">QUIERO CANCELAR TODO EL PEDIDO</a> }
</div>

<div id="dialog_confirmacionCancelado" class="MensajeAlertaMobile">
    <div class="content_mensajeAlerta">
        <a class="cerrar_popMobile" onclick="NoAceptarConfirmacionCancelado();">
            <img src="/Content/Images/mobile/Esika/cerrar_04.png" alt="-">
        </a>
        <hr class="clear">
        <div class="icono_alerta exclamacion_icono_mobile"></div>
        <div class="titulo_compartir">¿VAS A <b>CANCELAR EL PEDIDO</b>?</div>
        <div class="mensaje_alerta">Si cancelas el pedido vas a perderlo</div>
        <div class="col-xs-12 col-sm-6">
            <a class="btn_acepto_pedido" onclick="NoAceptarConfirmacionCancelado();">NO, DÉJAME VERLO</a>
        </div>
        <div class="col-xs-12 col-sm-6">
            <a class="btn_rechazo_pedido" onclick="AceptarConfirmacionCancelado();">SI, CANCELO EL PEDIDO</a>
        </div>

    </div>
</div>
<div id="dialog_motivoCancelado" class="MensajeAlertaMobile" style="padding:10px;">
    <div class="content_mensajeAlerta">
        <a class="cerrar_popMobile" onclick="CancelarSolicitud(@Model.SolicitudClienteID, @Model.MarcaID);">
            <img src="/Content/Images/mobile/Esika/cerrar_04.png" alt="-">
        </a>
        <hr class="clear">
        <div class="titulo_compartir"> <b>CUÉNTANOS POR QUÉ LO CANCELASTE</b></div>
        <div>
            @foreach (var motivoRechazo in Model.MotivosRechazo)
            {
                <div class="opcion_rechazo" data-id="@motivoRechazo.MotivoSolicitudID">@motivoRechazo.Motivo</div>
            }
        </div>
        <textarea id="txtOtrosCancelado" rows="10" class="comentario_rechazados"></textarea>
        <a class="btn_acepto_pedido" onclick="CancelarSolicitud(@Model.SolicitudClienteID, @Model.MarcaID);">ENVIAR</a>
    </div>
</div>
<div id="dialog_mensajeCancelado" class="MensajeAlertaMobile">
    <div class="content_mensajeAlerta">
        <a class="cerrar_popMobile" onclick="CerrarMensajeCancelado();">
            <img src="/Content/Images/mobile/Esika/cerrar_04.png" alt="-">
        </a>
        <hr class="clear">
        <div class="icono_alerta exclamacion_icono_mobile"></div>
        <div class="titulo_compartir"><b>CANCELASTE</b> EL PEDIDO</div>
        <div class="mensaje_alerta spnMensajeSolicitudCancelada"></div>
        <a class="btn_ok_mobile" onclick="CerrarMensajeCancelado();">OK</a>
    </div>
</div>

@section scripts{
    <script>
        var urlClienteOnlineHistorial = '@Url.Action("Historial", "ConsultoraOnline", new { Area = "Mobile" })';
        var urlClienteOnlineCancelarSolicitud = '@Url.Action("ClienteOnlineCancelarSolicitud", "MisPedidos", new { Area = "" })';
        var urlPedidoValidado = '@Url.Action("Validado", "Pedido", new { Area = "Mobile" })';

        var mensajeCanceladoMarcas = '@Constantes.COPedidoCanceladoMensaje.Marcas';
        var mensajeCanceladoPortal = '@Constantes.COPedidoCanceladoMensaje.Portal';
    </script>
    <script src="@Url.Content("~/Scripts/PortalConsultoras/Mobile/ConsultoraOnline/DetallePedidoHistorial.js")"></script>
}