@using Portal.Consultoras.Web.Helpers
@model Portal.Consultoras.Web.Areas.Mobile.Models.ConsultoraOnlineHistorialMobileModel
@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}

<div class="titulo_mobile">
    @{  var mobileConfiguracion = Html.MobileAppConfiguracion();
        if (mobileConfiguracion.MostrarBotonAtras)
        {
            <a href="@Request.UrlReferrer" class="enlace_regresar catalogosR" title="Regresar"></a>
        } }
    &nbsp;&nbsp;&nbsp;&nbsp;HISTORIAL DE PEDIDOS
</div>
<div class="fondo_f2f2f2">
    <div class="pestana_esika"></div>
    <div class="pestana_lbel"></div>
    <div id="div-tabs" class="tabs-link tab-primary upper">
        @foreach (var campania in Model.CampaniasConsultoraOnline)
            {
            <a href="javascript:;" class="mytab" data-campania-id="@campania.CampaniaID">
                <small>Campaña</small> <br />
                <b>@campania.NroCampania</b> @campania.Anio
            </a>
        }
    </div>
</div>
<div class="wrapper_resumen_mobile">
    <div class="texto_historial">
        Estos son los <b>pedidos aceptados</b> que llegaron por el App de Catálogos y los portales de Esika, L’Bel y Cyzone.
    </div>

    <div id="divTablaClientesOnline">
    </div>
</div>


<script id="html-clientes-online" type="text/x-handlebars-template">
    {{#each this as |detalle|}}
    <div class="content_historial_pedido">
        <div class="titulo_pendiente">{{detalle.TipoCliente}}</div>
        <div class="nombre_cliente_pendiente">{{detalle.Cliente}}</div>
        <div class="descripcion_pendiente">
            <span style="float:left;">Origen</span>
            <span style="float: right;">{{detalle.Origen}}</span>
            <hr class="clear" />
            <span style="float:left;">Campaña</span>
            <span style="float: right;">{{detalle.Campania}}</span>
            <hr class="clear" />
            <span style="float:left;">Fecha de registro</span>
            <span style="float: right;">{{detalle.FechaSolicitudString}}</span>
        </div>
        <hr class="clear">
        <div class="precio_pendiente" style="margin-bottom:10px;">
            <span style="float:left;">PRECIO TOTAL</span>
            <span style="float: right;">{{detalle.PrecioTotalString}}</span>
        </div>
        <hr class="clear">
        <div class="descripcion_pendiente">
            <span style="float:left;">Estado</span>
            <span style="float: right;" onclick="CargarDetalleHistorial('{{detalle.SolicitudClienteID}}')">
                {{#iff detalle.Estado '==' 'A'}}
                <a href="javascript:;" class="facturado_pendiente">
                    {{detalle.EstadoDesc}}
                </a>
                {{else}}
                <a href="javascript:;" class="facturado_pendiente cancelado_pendiente">{{detalle.EstadoDesc}}</a>
                {{/iff}}
                <a href="javascript:;" class="lupa_pendiente"><img src="@Url.Content("~/Content/Images/icono-ver-estado.png")" alt="-" /></a>
                <hr class="clear" />
            </span>
        </div>
    </div>
    {{/each}}
</script>

@section scripts{
    <script>
        var urlClienteOnline = '@Url.Action("ClienteOnline", "MisPedidos", new { Area = ""})';
        var urlClienteOnlineDetalleHistorial = '@Url.Action("DetallePedidoHistorial", "ConsultoraOnline", new { Area = "Mobile" })';
        var campaniaActual = '@Model.CampaniaActualConsultoraOnline';
    </script>
    <script src="@Url.Content("~/Scripts/PortalConsultoras/Mobile/ConsultoraOnline/Historial.js")"></script>
}