@using Portal.Consultoras.Web.CustomHelpers
@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}

@section styles{
    <link href="@Url.Content("~/Content/Css/Mobile/esika/slick.css")" rel="stylesheet" />
    <style type="text/css">
        body {
            background: #FFF !important;
            overflow-x: hidden;
        }

        .justificar {
            padding: 7px;
            text-align: justify;
        }

        .justificarTexto {
            padding: 7px;
            text-align: justify;
            margin-top: -26px;
        }
    </style>
}
<div class="titulo_mobile">
    @{ var mobileConfiguracion = Html.MobileAppConfiguracion();
        if (mobileConfiguracion.MostrarBotonAtras)
        {
            <a href="@Request.UrlReferrer" class="enlace_regresar catalogosR" title="Regresar"></a>
        } }
    &nbsp;&nbsp;&nbsp;&nbsp;APP DE CATÁLOGOS
</div>
<div class="fondo_f2f2f2" style="background-color:white;">
    <div class="pestana_esika"></div>
    <div class="pestana_lbel"></div>
    @if (ViewBag.EmailConfirmado != null && ViewBag.EmailConfirmado)
    {
        <div class="col-xs-12">
            <div class="block-white text-center text-success">
                <div><i class="icon-exclamation-circle icon-ulg"></i></div>
                Tu correo @ViewBag.EmailConsultora ha sido validado.
            </div>
        </div>
    }
</div>

<div class="col-xs-12">
    <div id="divTab1" style="margin-top:20px">
        <div class="block-center">
            <div class="mb-30">
                <h3 class="title-h3 tnormal"><strong>Bienvenida a Consultora Online</strong></h3>
                <p class="mt-10">A partir de ahora, tu nombre aparecerá en las páginas web de nuestras marcas y nuevos clientes te contactarán.</p>
                <p>Si deseas desactivar tu cuenta, <a href="javascript:;" id="lnkDesactivar">haz clic aquí</a>.</p>
            </div>
            <div>

                <div class="col-xs-6 col-xs-360">
                    <div class="item-list-col" style="margin-top:20px">
                        <img src="@Url.Content("~/Content/Images/mobile/img-consultoraonline/landing-2-llamar.png")" alt="Llama">
                        <p>Recibe la notificación y contacta al cliente.</p>
                    </div>
                </div>
                <div class="col-xs-6 col-xs-360" style="margin-top:20px">
                    <div class="item-list-col">
                        <img src="@Url.Content("~/Content/Images/mobile/img-consultoraonline/landing-2-acepta.png")" alt="Acepta">
                        <p>Acepta el pedido en máximo 24 horas.</p>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="item-list-col">
                        <img src="@Url.Content("~/Content/Images/mobile/img-consultoraonline/landing-2-entrega.png")" alt="Entrega">
                        <p>Entrega el pedido y comienza una nueva relación con tu nuevo cliente.</p>
                    </div>
                </div>



            </div>
            <div class="row">
                <div class="bg-gray">
                    <div class="col-xs-12">
                        <div class="block-center">
                            <h3 class="title-landing text-center">NO OLVIDES LOS PRÓXIMOS PASOS</h3>

                            <div class="text-center">
                                <img src="@Url.Content("~/Content/Images/mobile/img-consultoraonline/actualizaTuPerfil.png")" alt="Actualiza tu perfil" width="170" class="img-landing">
                                <p><strong>Actualiza tu perfil</strong></p>
                            </div>
                            <p>Ingresa a MI PERFIL y luego a tus datos personales. Esta información le servirá al cliente para comunicarse contigo.</p>

                            <div class="text-center">
                                <img src="@Url.Content("~/Content/Images/mobile/img-consultoraonline/aceptarPedido.png")" alt="Manténte conectada" width="135" class="img-landing">
                                <p><strong>Manténte conectada</strong></p>
                            </div>
                            <p>Recuerda que debes estar atenta a los nuevos pedidos. Estos te llegan a tu correo y también los puedes revisar en MIS PEDIDOS.</p>

                            <div class="text-center">
                                <img src="@Url.Content("~/Content/Images/mobile/img-consultoraonline/nuevoCliente.png")" alt="Contáctalos al instante" width="140" class="img-landing">
                                <p><strong>Contáctalos al instante</strong></p>
                            </div>
                            <p>Cuando te llegue un nuevo pedido, debes llamar a tu cliente y confirmar fecha y dirección de entrega. Esto también lo haces en MIS PEDIDOS.</p>
                            <p>Recuerda que sólo tienes 24 horas para aceptar o rechazar el pedido.</p>
                        </div>
                    </div>
                    <hr class="clear" />
                </div>
            </div>
            <div class="row sec-white-landing">
                <div class="col-xs-12">
                    <h3 class="title-landing text-center">CONSEJOS PARA CONSEGUIR MÁS CLIENTES</h3>
                    <ul class="list-num-landing">
                        <li>
                            <div><strong>1. Aparece primera en la lista</strong></div>
                            <p>Para aparecer primera en la lista, debes ser constante, y brindar una atención personalizada para así recibir buenos comentarios y tener 5 de 5 estrellas. </p>
                        </li>
                        <li>
                            <div><strong>2. Conviértelo en cliente frecuente</strong></div>
                            <p>Aprovecha que está familiarizado con el uso de internet, agrégalo a Whatsapp, compártele los catálogos y envíale las novedades de las redes sociales.</p>
                        </li>
                        <li>
                            <div><strong>3. Prepara el pedido</strong></div>
                            <p>Arma una bolsita con el/los productos del pedido, coloca una tarjeta con tus datos para que pueda volver a llamarte, el precio total y coloca dentro probadores de otros productos que crees que puedan agradarle a tu cliente.</p>
                        </li>
                        <li>
                            <div><strong>4. ¿Cómo causar una buena primera impresión? </strong></div>
                            <p>La primera impresión es lo que cuenta: Al encontrarte con tu cliente, no te olvides de usar los productos y ponerte los accesorios de las marcas que tengas. Estos clientes buscan que tú seas su asesora de belleza.</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row bg-gray posr over-hidden">
                <img src="@Url.Content("~/Content/Images/mobile/img-consultoraonline/bg-slide-landing.png")" alt="¿TIENES MÁS PREGUNTAS?" class="img-landing-bg-left-bottom" />
                <div class="col-xs-12">
                    <h3 class="title-landing text-center">¿TIENES MÁS PREGUNTAS?</h3>
                    <div class="slide-landing" style="padding:15px;">
                        <div class="item-slide-landing">
                            <div class="title-slide-landing justificar">
                                ¿Qué debo hacer si el precio que el cliente vio en la web es diferente al de la campaña actual?
                            </div>
                            <p class="justificarTexto">El precio que aparece en la web es el precio regular (precio sin descuento). Ofrece a tus clientes el precio catálogo de tu campaña vigente.</p>
                        </div>
                        <div class="item-slide-landing">
                            <div class="title-slide-landing justificar">
                                ¿Qué hago si el cliente ya no quiere el pedido?
                            </div>
                            <p class="justificarTexto">Si el cliente te dice que ya no quiere el pedido, puedes cancelarlo tú misma en la sección MIS PEDIDOS.</p>
                        </div>
                        <div class="item-slide-landing">
                            <div class="title-slide-landing justificar">
                                ¿Qué pasa si rechazo el pedido de mi cliente?
                            </div>
                            <p class="justificarTexto">Puedes ACEPTAR o RECHAZAR el pedido de tu cliente desde la sección MIS PEDIDOS. De esta forma el pedido será asignado a otra Consultora Online.</p>
                        </div>
                        <div class="item-slide-landing">
                            <div class="title-slide-landing justificar">
                                ¿Necesito tener el producto solicitado en stock?
                            </div>
                            <p class="justificarTexto">Esto dependerá del cliente y de cuándo quiere recibir su pedido. Pregúntale si necesita su pedido con urgencia o si podría esperar a que sus productos lleguen junto con el pedido que realizas cada campaña. Si deseas, también puedes adquirir los productos en uno de nuestros <a href="javascript:void(0);" data-toggle="modal" data-target="#popupBelcenters">Belcenters.</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="popupDesafiliar" class="modal fade" data-backdrop="static" data-keyboard="false" style="z-index: 10000 !important; ">
    <div class="modal-dialog modal-alert ">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row text-left">
                    <div class="col-xs-12">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-close-belcorp"></i></button>
                        <h3 class="title-landing text-center bold">¿DESACTIVAR CONSULTORA ONLINE?</h3>
                    </div>
                </div>

                <div class="row text-left">
                    <div class="form-controls-grey">
                        <div class="col-xs-12">
                            <div class="form-group">
                                Si desactivas Consultora Online, los clientes no podrán encontrarte en la lista de consultoras. Puedes volver en cualquier momento.
                            </div>
                            <div class="form-group">
                                <strong>Cuéntanos por qué te vas</strong>
                            </div>
                            <div class="form-group">
                                <div class="check-label" style="text-align: left; padding-left: 30px;">
                                    <span>Los clientes no desean esperar tanto tiempo para el pedido.</span>
                                    <div class="checkbox checkbox--standalone" style="left:-15px;">
                                        <input type="radio" id="rbtOpcion1" class="checkbox__input" name="optionsRadios" value="1">
                                        <label for="rbtOpcion1" class="checkbox__label"></label>
                                    </div>
                                </div>
                                <div class="check-label" style="text-align: left; padding-left: 30px;">
                                    <span>No me llegan pedidos.</span>
                                    <div class="checkbox checkbox--standalone" style="left:-15px;">
                                        <input type="radio" id="rbtOpcion2" class="checkbox__input" name="optionsRadios" value="2">
                                        <label for="rbtOpcion2" class="checkbox__label"></label>
                                    </div>
                                </div>
                                <div class="check-label" style="text-align: left; padding-left: 30px;">
                                    <span>No me genera ingresos.</span>
                                    <div class="checkbox checkbox--standalone" style="left:-15px;">
                                        <input type="radio" id="rbtOpcion3" class="checkbox__input" name="optionsRadios" value="3">
                                        <label for="rbtOpcion3" class="checkbox__label"></label>
                                    </div>
                                </div>
                                <div class="check-label" style="text-align: left; padding-left: 30px;">
                                    <span>Por diferencia en precios de web y campaña.</span>
                                    <div class="checkbox checkbox--standalone" style="left:-15px;">
                                        <input type="radio" id="rbtOpcion4" class="checkbox__input" name="optionsRadios" value="4">
                                        <label for="rbtOpcion4" class="checkbox__label"></label>
                                    </div>
                                </div>
                                <div class="check-label" style="text-align: left; padding-left: 30px;">
                                    <span>Volveré. Sólo me estoy tomando un descanso.</span>
                                    <div class="checkbox checkbox--standalone" style="left:-15px;">
                                        <input type="radio" id="rbtOpcion5" class="checkbox__input" name="optionsRadios" value="5">
                                        <label for="rbtOpcion5" class="checkbox__label"></label>
                                    </div>
                                </div>
                                <div class="check-label" style="text-align: left; padding-left: 30px;">
                                    <span>Otros</span>
                                    <div class="checkbox checkbox--standalone" style="left:-15px;">
                                        <input type="radio" id="rbtOpcion6" class="checkbox__input" name="optionsRadios" value="6">
                                        <label for="rbtOpcion6" class="checkbox__label"></label>
                                    </div>
                                </div>
                            </div>

                            <div class="block-center text-center" style="line-height: 50px;">
                                <a href="javascript:;" id="btnDesactivar" class="btn btn-action-hover btn-round btn-align">Desactivar</a>
                                <a href="javascript:;" id="btnCancelar" class="btn btn-line-action btn-round btn-align">Cancelar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="popupBelcenters" class="modal fade" data-backdrop="static" data-keyboard="false" style="z-index: 10001 !important; ">
    <div class="modal-dialog modal-alert modal-lg">
        <div class="modal-content">
            <div class="modal-body text-left" style="font-size: 0.9em;">
                <div class="row">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-close-belcorp"></i></button>
                </div>
                @Html.Partial("Belcenters")
            </div>
        </div>
    </div>
</div>

@section scripts
{

    <script type="text/javascript">

    var consultoraID = '@ViewBag.ConsultoraID';
    var urlDesafiliar = '@Url.Action("Desafiliar", "ConsultoraOnline", new {area = "Mobile"})';
    var urlInformacion = '@Url.Action("Informacion", "ConsultoraOnline", new {area = "Mobile"})';

    $(document).ready(function () {

        $('.slide-landing').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            dots: true,
            arrows: false,
            infinite: true,
        });

        $("#lnkDesactivar").click(function () {
            $("#popupDesafiliar").modal("show");
        });

        $("#btnCancelar").click(function () {
            $("#popupDesafiliar").modal("hide");
        });

        $("#btnDesactivar").click(function () {
            var opcion = $('input[type=radio]:checked').val();

            if (opcion == undefined) {
                messageInfo("Seleccione una opcion para la desafiliación");
            } else {
                var params = {
                    consultoraID: consultoraID,
                    opcionDesafiliacion: opcion
                };

                jQuery.ajax({
                    type: 'POST',
                    url: urlDesafiliar,
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(params),
                    async: true,
                    success: function (data) {
                        if (checkTimeout(data)) {
                            if (data.success == true) {
                                dataLayer.push({
                                    'event': 'virtualEvent',
                                    'category': 'CCC',
                                    'action': 'Desactivar',
                                    'label': $('input[type=radio]:checked').parent().prev().html()
                                });
                                window.location = urlInformacion;
                            } else {
                                messageInfo(data.message);
                            }
                        }
                    },
                    error: function (data, error) {
                        if (checkTimeout(data)) {
                            messageInfo(data.message);
                            CloseLoading();
                        }
                    }
                });

                $("#popupDesafiliar").modal("hide");
            }
        });
    });

    </script>
}
