@using Portal.Consultoras.Web.CustomHelpers
@model Portal.Consultoras.Web.Models.ClienteContactaConsultoraModel

@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}

@section styles{
    <link href="@Url.Content("~/Content/Css/Mobile/esika/slick.css")" rel="stylesheet" />

    <style type="text/css">
        body {
            background: #FFF !important;
        }

        .justificar {
            padding: 7px;
            text-align: justify;
        }

        .justificarTexto {
            padding: 7px;
            text-align: justify;
            margin-top: -26px;
        }
    </style>
}

<div class="titulo_mobile">
    @{ var mobileConfiguracion = Html.MobileAppConfiguracion();
        if (mobileConfiguracion.MostrarBotonAtras)
        {
            <a href="@Request.UrlReferrer" class="enlace_regresar catalogosR" title="Regresar"></a>
        } }
    &nbsp;&nbsp;&nbsp;&nbsp;APP DE CATÁLOGOS
</div>
<div class="pestana_esika"></div>
<div class="pestana_lbel"></div>

<div style="overflow:hidden;">
    <br />
    @if (!Model.Afiliado && !Model.EmailActivo && Model.Email != null && !Model.Email.Equals(""))
    {
        <div class="col-xs-12">
            <div class="block-white text-center text-danger">
                <div><i class="icon-exclamation-circle icon-ulg"></i></div>
                Todavía no has confirmado tu correo, si quieres que te volvamos a enviar el correo de confirmación <a href="javascript:;" id="lnkEnviarCorreo">haz clic aquí</a>
            </div>
        </div>
    }
    <div class="col-xs-12">
        <div class="block-center">
            <div class="mb-30">
                <h3 class="title-h3">CONSULTORA <strong>ONLINE</strong></h3>
                <p class="mt-10">Esta es la herramienta que te permitirá recibir pedidos de nuevos clientes que viven cerca de ti y buscan una Consultora Belcorp.</p>
                <p class="text-center mt-20">
                    @if (!Model.Afiliado)
                    {
                        <a href="javascript:;" class="btn btn-action-hover btn-round btn-activate" id="btnActivarConsultora">ACTÍVATE AQUÍ</a>
                    }
                </p>
                <p class="text-center">
                    <img src="@Url.Content("~/Content/Images/mobile/img-consultoraonline/landing1-gif1.gif")" alt="Actualiza tu perfil" width="250" class="img-landing" />
                </p>
                <div class="mt-30">
                    <h4 class="title-h4 text-center">¿CÓMO FUNCIONA?</h4>
                </div>

                <div class="list-landing-1">
                    <p class="text-center">
                        <img src="@Url.Content("~/Content/Images/mobile/img-consultoraonline/img-landing2-1.png")" alt="¿CÓMO FUNCIONA?" width="230" class="img-landing" />
                    </p>
                    <h4 class="title-h4"><strong>1. ACTIVA CONSULTORA ONLINE</strong></h4>
                    <p class="landing-1-descripcion">Tu nombre estará disponible en las páginas web de L´Bel, Ésika y Cyzone cuando clientes de tu zona quieran comprar un producto.</p>

                </div>

                <div class="list-landing-1">
                    <p class="text-center">
                        <img src="@Url.Content("~/Content/Images/mobile/img-consultoraonline/img-landing2-2.png")" alt="ACTIVA CONSULTORA ONLINE" width="130" class="img-landing" />
                    </p>
                    <h4 class="title-h4 title-dark"><strong>2. RECIBE EL PEDIDO Y CONTACTA AL CLIENTE</strong></h4>
                    <p class="landing-1-descripcion">Apenas un cliente te escoja, te llegará un correo informándote que tienes un pedido nuevo, junto con los datos de tu cliente. Llámalo, cuéntale quién eres y confirma su pedido.</p>
                </div>

                <div class="list-landing-1">
                    <p class="text-center">
                        <img src="@Url.Content("~/Content/Images/mobile/img-consultoraonline/img-landing2-3.png")" alt="RECIBE EL PEDIDO Y CONTACTA AL CLIENTE" width="145" class="img-landing" />
                    </p>
                    <h4 class="title-h4 title-success"><strong>3. ACEPTA AL CLIENTE</strong></h4>
                    <p class="landing-1-descripcion">Una vez hayas conversado y confirmado el pedido con tu cliente, deberás ingresar a la sección MIS PEDIDOS  en SomosBelcorp.com y dar click en ACEPTAR PEDIDO. Recuerda que solo tienes 24 horas para aceptar. </p>
                </div>

                <div class="list-landing-1">
                    <p class="text-center">
                        <img src="@Url.Content("~/Content/Images/mobile/img-consultoraonline/img-landing2-4.png")" alt="ACEPTA AL CLIENTE" width="165" class="img-landing" />
                    </p>
                    <h4 class="title-h4 title-info"><strong>4. COMIENZA UNA NUEVA RELACIÓN</strong></h4>
                    <p class="landing-1-descripcion">Ahora que estás en contacto con un nuevo cliente, ¡la relación depende de ti! Aprovecha este primer acercamiento para ganar un cliente frecuente. </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-gray posr over-hidden">
    <img src="@Url.Content("~/Content/Images/mobile/img-consultoraonline/bg-slide-landing.png")" alt="¿TIENES MÁS PREGUNTAS?" class="img-landing-bg-left-bottom" />
    <div class="col-xs-12">
        <h3 class="title-landing text-center">¿TIENES MÁS PREGUNTAS?</h3>
        <div class="slide-landing" style="padding:15px;">
            <div class="item-slide-landing">
                <div class="title-slide-landing justificar">
                    ¿Qué debo hacer si el precio que el cliente vio en la web es diferente al de la campaña actual?
                </div>
                <p class="justificarTexto">El precio que aparece en la web es el precio regular (precio sin descuento). Ofrece a tus clientes el precio catálogo de tu campaña vigente.</p>
            </div>
            <div class="item-slide-landing">
                <div class="title-slide-landing justificar">
                    ¿Qué hago si el cliente ya no quiere el pedido?
                </div>
                <p class="justificarTexto">Si el cliente te dice que ya no quiere el pedido, puedes cancelarlo tú misma en la sección MIS PEDIDOS.</p>
            </div>
            <div class="item-slide-landing">
                <div class="title-slide-landing justificar">
                    ¿Qué pasa si rechazo el pedido de mi cliente?
                </div>
                <p class="justificarTexto">Puedes ACEPTAR o RECHAZAR el pedido de tu cliente desde la sección MIS PEDIDOS. De esta forma el pedido será asignado a otra Consultora Online.</p>
            </div>
            <div class="item-slide-landing">
                <div class="title-slide-landing justificar">
                    ¿Necesito tener el producto solicitado en stock?
                </div>
                <p class="justificarTexto">Esto dependerá del cliente y de cuándo quiere recibir su pedido. Pregúntale si necesita su pedido con urgencia o si podría esperar a que sus productos lleguen junto con el pedido que realizas cada campaña. Si deseas, también puedes adquirir los productos en uno de nuestros <a href="javascript:void(0);" data-toggle="modal" data-target="#popupBelcenters">Belcenters.</a></p>
            </div>
        </div>
    </div>
</div>

<div id="popupBelcenters" class="modal fade" data-backdrop="static" data-keyboard="false" style="z-index: 10001 !important; ">
    <div class="modal-dialog modal-alert modal-lg">
        <div class="modal-content">
            <div class="modal-body text-left" style="font-size: 0.9em;">
                <div class="row">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-close-belcorp"></i></button>
                </div>
                @Html.Partial("Belcenters")
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        var urlInscripcion = '@Url.Action("Inscripcion", "ConsultoraOnline", new{ area="Mobile"})';
        var urlEnviaCorreo = '@Url.Action("EnviaCorreo", "ConsultoraOnline", new { area = "Mobile" })';
        var urlBienvenida = '@Url.Action("Index", "Bienvenida", new { area = "Mobile" })';
        var urlIndex = '@Url.Action("Index", "ConsultoraOnline", new { area = "Mobile" })';

        $(document).ready(function () {
            $('.slide-landing').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                dots: true,
                arrows: false,
                infinite: true,
            });

            $("#btnActivarConsultora").click(function () {
                window.location = urlInscripcion;
            });

            $("#lnkEnviarCorreo").on("click", function (e) {
                ShowLoading();
                jQuery.ajax({
                    type: 'POST',
                    url: urlEnviaCorreo,
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    async: true,
                    success: function (data) {
                        if (checkTimeout(data)) {
                            CloseLoading();
                            if (data.success == true) {
                                messageInfo(data.message);
                            } else {
                                if (data.data == "BIENVENIDA") {
                                    window.location = urlBienvenida;
                                }
                                if (data.data == "ERROR") {
                                    window.location = urlIndex;
                                }
                            }
                        }
                    },
                    error: function (data, error) {
                        if (checkTimeout(data)) {
                            messageInfo(data.message);
                            CloseLoading();
                        }
                    }
                });
            });
        });
    </script>
}