@using Portal.Consultoras.Web.CustomHelpers
@model Portal.Consultoras.Web.Models.ClienteContactaConsultoraModel

@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}

@section styles{
    <style type="text/css">
        body {
            background: #FFF !important;
        }
    </style>
}

<div class="row">
    <div class="col-xs-12">
        <ol class="breadcrumb-next upper">
            <li>
                @{ var mobileConfiguracion = Html.MobileAppConfiguracion();
                    if (mobileConfiguracion.MostrarBotonAtras)
                    {
                        <a href="@Request.UrlReferrer"><i class="icon-angle-left"></i> Volver </a>
                    } }
            </li>
            <li>|</li>
            <li>
                Activar Consultora online
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="block-center">
            <form id="frmAfiliacion" role="form">
                <div>
                    <h3 class="title-h3">INSCRIPCIÓN CONSULTORA <strong>ONLINE</strong></h3>
                    <small>Completa tus datos e inscríbete</small>
                </div>
                <hr class="line-m5">
                <div class="text-right text-primary">
                    <small>*Campos obligatorios</small>
                </div>

                <div class="form-group">
                    <label for="" class="fw-400">Nombre completo <span class="text-primary">*</span></label>
                    @Html.TextBoxFor(p => p.NombreCompleto, new { @readonly = "readonly", @class = "form-control fc-line" })
                </div>

                <div class="form-group">
                    <label for="" class="fw-400">Correo electrónico <span class="text-primary">*</span></label>
                    @Html.TextBoxFor(p => p.Email, new { @class = "form-control fc-line", @maxlength = "50" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>

                <div class="form-group">
                    <label for="" class="fw-400">Teléfono fijo </label>
                    @Html.TextBoxFor(p => p.Telefono, new { @class = "form-control fc-line", @maxlength = "15", @onKeyPress = "return FuncionesGenerales.ValidarSoloNumeros(event);" })
                    @Html.ValidationMessageFor(model => model.Telefono)
                </div>

                <div class="form-group">
                    <label for="" class="fw-400">Celular <span class="text-primary">*</span></label>
                    @Html.TextBoxFor(p => p.Celular, new { @class = "form-control fc-line", @maxlength = "15", @onKeyPress = "return FuncionesGenerales.ValidarSoloNumeros(event);" })
                    @Html.ValidationMessageFor(model => model.Celular)
                </div>

                <p class="small">
                    Al inscribirme acepto que los clientes me encuentren en las páginas web de las marcas, futuros aplicativos y acepto los <a href="@ViewBag.PDFLink" target="_blank">términos y condiciones</a>.
                </p>

                <p class="mt-20">
                    <button type="button" id="btnInscribirme" class="btn btn-action-hover btn-round" style="padding-left:63px; padding-right:63px; margin-bottom:40px;">Inscribirme</button>
                </p><br>

                @Html.Hidden("hdn_Email", Model.Email)
                @Html.Hidden("hdn_NombreCompleto", Model.NombreCompleto)
                @Html.HiddenFor(model => model.EsPrimeraVez, new { id = "hdn_EsPrimeraVez" })
            </form>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        var urlInscripcion = '@Url.Action("Inscripcion", "ConsultoraOnline", new { area = "Mobile" })';
        var urlInscripcionCompleta = '@Url.Action("InscripcionCompleta", "ConsultoraOnline", new { area = "Mobile" })';

        $(document).ready(function () {

            $("#btnInscribirme").on("click", function (e) {
                e.preventDefault();

                var item = {
                    NombreCompleto: $("#NombreCompleto").val(),
                    Email: $('#Email').val(),
                    Telefono: $('#Telefono').val(),
                    Celular: $("#Celular").val()
                };

                if (!$("#frmAfiliacion").valid()) {
                    return false;
                }

                ShowLoading();

                jQuery.ajax({
                    type: 'POST',
                    url: urlInscripcion,
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(item),
                    async: true,
                    success: function (data) {
                        if (checkTimeout(data)) {
                            if (data.success == true) {
                                CloseLoading();
                                dataLayer.push({
                                    'event': 'virtualEvent',
                                    'category': 'CCC',
                                    'action': 'Inscríbete',
                                    'label': '(not available)'
                                });
                                window.location = urlInscripcionCompleta;
                            }
                            else {
                                CloseLoading();
                                messageInfo(data.message);
                            }
                        }
                    },
                    error: function (data, error) {
                        if (checkTimeout(data)) {
                            messageInfo(data.message);
                            CloseLoading();
                        }
                    }
                });
            });

        });

    </script>
}