
@model Portal.Consultoras.Web.Models.ClienteContactaConsultoraModel
@using Portal.Consultoras.Web.CustomHelpers
@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}

@section styles{
    <style type="text/css">
        body {
            background: #f0f0f0 !important;
        }
    </style>
}

<div class="row">
    <div class="col-xs-12">
        <ol class="breadcrumb-next upper">
            <li>
                @{ var mobileConfiguracion = Html.MobileAppConfiguracion();
                    if (mobileConfiguracion.MostrarBotonAtras)
                    {
                        <a href="@Request.UrlReferrer"><i class="icon-angle-left"></i> Volver </a>
                    } }
            </li>
            <li>|</li>
            <li>
                CONSULTORA ONLINE
            </li>
        </ol>
    </div>
</div>

<div class="row">
    @if (ViewBag.MensajeValidacionCorreo != null && ViewBag.MensajeValidacionCorreo != "")
    {
        <div class="col-xs-12">
            <div class="block-white text-center text-success">
                <div><i class="icon-exclamation-circle icon-ulg"></i></div>
                @ViewBag.MensajeValidacionCorreo
            </div>
        </div>
    }
    <div class="col-xs-12">
        <div class="material-tabs">
            <a href="@Url.Action("Index", "ConsultoraOnline", new { area = "Mobile" })" class="visible-tab">CONSULTORA<br>ONLINE</a>
            <a href="@Url.Action("MisPedidos", "ConsultoraOnline", new { area = "Mobile" })" class="visible-tab">MIS<br>PEDIDOS</a>
            <a href="javascript:;" class="visible-tab active">MI<br>PERFIL</a>
        </div>
        <div class="perfil-content">
            <div class="perfil-header perfil-section">
                @if (Model.UrlImagen == null)
                {
                    <div id="divInicialesConsultora" class="div-img-perfil-avatar">@Html.DisplayFor(model => model.iniciales)</div>
                    <img src="#" id="imgFotoConsultora" alt="@Model.NombreCompleto" class="img-perfil-avatar" style="display: none;" />
                }
                else
                {
                    <img src="@Html.DisplayFor(model => model.UrlImagen)" id="imgFotoConsultora" alt="@Model.NombreCompleto" class="img-perfil-avatar" />
                }

                <div class="mt-10 text-primary">
                    @using (Html.BeginForm("MiPerfil", "ConsultoraOnline", FormMethod.Post, new { id = "frmSubirFoto", enctype = "multipart/form-data" }))
                    {
                        <input type="file" name="SubirFoto" id="SubirFoto" style="display: block !important; opacity: 0 !important; width: 100%;">
                        <div style="margin-top: -20px;">
                            <i class="icon-plus-circle-belcorp"></i> Subir foto
                        </div>
                    }
                </div>

                <div class="perfil-valoracion mt-10">
                    <div class="valoracion-stars">
                        @for (int i = 1; i < 6; i++)
                        {
                            if (i <= Model.Valoracion)
                            {
                                <span class="glyphicon glyphicon-star"></span>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-star-empty"></span>
                            }
                        }
                    </div>
                    <small>@string.Format("{0:0.0}", Model.Valoracion) / 5</small>
                </div>
            </div>

            <div id="divModoLectura" class="perfil-datos perfil-section">
                <h3 class="title-perfil">
                    Mis datos
                    <a href="javascript:void(0);" onclick="MostrarModoEdicion()" class="btn btn-line-action btn-title btn-round">Editar</a>
                </h3>
                <div class="row">
                    <div class="list-datos-pefil">
                        <div class="col-xs-6  item-dato-content text-right">
                            <div class="item-dato"><strong>Nombre Completo*</strong></div>
                        </div>
                        <div class="col-xs-6 item-dato-content ">
                            <div class="item-dato">@Model.NombreCompleto</div>
                        </div>
                    </div>

                    <div class="list-datos-pefil">
                        <div class="col-xs-6  item-dato-content text-right">
                            <div class="item-dato"><strong>Correo Electrónico*</strong></div>
                        </div>
                        <div class="col-xs-6 item-dato-content ">
                            <div id="EmailModoLectura" class="item-dato">
                                @Model.Email
                            </div>
                        </div>
                    </div>

                    <div class="list-datos-pefil">
                        <div class="col-xs-6  item-dato-content text-right">
                            <div class="item-dato"><strong>¿Qué beneficios le ofreces a tus clientes?</strong></div>
                        </div>
                        <div class="col-xs-6 item-dato-content ">
                            <div class="item-dato">
                                <span id="BeneficioModoLectura" @(Model.BeneficiosId > 0 ? "style='display: none;'" : "")>@Model.Beneficio</span>
                                <a id="aBeneficioModoLectura" href="javascript:void(0);" onclick="MostrarModoEdicion()" @(Model.BeneficiosId > 0 ? "" : "style='display: none;'")>Agregar</a>
                            </div>
                        </div>
                    </div>

                    <div class="list-datos-pefil">
                        <div class="col-xs-6  item-dato-content text-right">
                            <div class="item-dato"><strong>Enlace de página en Facebook</strong></div>
                        </div>
                        <div class="col-xs-6 item-dato-content ">
                            <div class="item-dato">
                                <span id="EnlacePaginaModoLectura" @(string.IsNullOrEmpty(Model.EnlacePagina) ? "style='display: none;'" : "")>@Model.EnlacePagina</span>
                                <a id="aEnlacePaginaModoLectura" href="javascript:void(0);" onclick="MostrarModoEdicion()" @(string.IsNullOrEmpty(Model.EnlacePagina) ? "" : "style='display: none;'")>Agregar</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div id="divModoEdicion" class="perfil-datos-edit perfil-section" style="display: none;">
                <h3 class="title-perfil">Mis datos</h3>
                <div class="form-controls-grey mt-20">
                    <div class="form-group">
                        <label for="NombreCompleto">Nombre completo*</label>
                        <input type="text" class="form-control" id="NombreCompleto" value="@Model.NombreCompleto" readonly="readonly" />
                    </div>

                    <div class="form-group">
                        <label for="Email">Correo Electrónico*</label>
                        <input type="email" class="form-control" id="Email" value="@Model.Email" />
                        <input type="hidden" id="CorreoAnterior" value="@Model.CorreoAnterior" />
                        <p class="text-danger text-form-valid">Si cambias tu correo, recuerda que necesitaremos validarlo.</p>
                    </div>

                    <p class="mt-20"><strong>¿Qué beneficio le ofreces a tus clientes?</strong></p>

                    <div class="mb-20">

                        <div class="check-label check-normal">
                            <div class="checkbox checkbox--standalone">
                                <input type="radio" id="checkbox1" class="checkbox__input" name="BeneficiosId" value="1" @(Model.BeneficiosId == 1 ? "checked='checked'" : "") style="position:absolute;" />
                                <label for="checkbox1" class="checkbox__label checkbox__label-check"></label>
                            </div>
                            <span>Puedo Ofrecerte descuentos especiales</span>
                        </div>

                        <div class="check-label check-normal">
                            <div class="checkbox checkbox--standalone">
                                <input type="radio" id="checkbox2" class="checkbox__input" name="BeneficiosId" value="2" @(Model.BeneficiosId == 2 ? "checked='checked'" : "") style="position:absolute;" />
                                <label for="checkbox2" class="checkbox__label checkbox__label-check"></label>
                            </div>
                            <span>Puedo brindar asesoría de imagen</span>
                        </div>

                        <div class="check-label check-normal">
                            <div class="checkbox checkbox--standalone">
                                <input type="radio" id="checkbox3" class="checkbox__input" name="BeneficiosId" value="3" @(Model.BeneficiosId == 3 ? "checked='checked'" : "") style="position:absolute;" />
                                <label for="checkbox3" class="checkbox__label checkbox__label-check"></label>
                            </div>
                            <span>Soy experta en tratamiento faciales</span>
                        </div>

                        <div class="check-label check-normal">
                            <div class="checkbox checkbox--standalone">
                                <input type="radio" id="checkbox4" class="checkbox__input" name="BeneficiosId" value="4" @(Model.BeneficiosId == 4 ? "checked='checked'" : "") style="position:absolute;" />
                                <label for="checkbox4" class="checkbox__label checkbox__label-check"></label>
                            </div>
                            <span>Soy experta en maquillaje</span>
                        </div>

                        <div class="check-label check-normal">
                            <div class="checkbox checkbox--standalone">
                                <input type="radio" id="checkbox5" class="checkbox__input" name="BeneficiosId" value="5" @(Model.BeneficiosId == 5 ? "checked='checked'" : "") style="position:absolute;" />
                                <label for="checkbox5" class="checkbox__label checkbox__label-check"></label>
                            </div>
                            <span>Cuento conprobadores de los productos</span>
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="EnlacePagina">Enlace de página en Facebook</label>
                        <input id="EnlacePagina" type="url" class="form-control" placeholder="www.facebook.com/tunombre" value="@Model.EnlacePagina" />
                    </div>

                    <div class="row text-center">
                        <div class="col-xs-6 col-xs-360">
                            <p class="mt-10">
                                <a href="javascript:void(0);" onclick="GuardarDatos()" class="btn btn-action-hover btn-round btn-perfil">Guardar</a>
                            </p>
                        </div>
                        <div class="col-xs-6 col-xs-360">
                            <p class="mt-10">
                                <a href="javascript:void(0);" onclick="OcultarModoEdicion()" class="btn btn-line-action btn-round btn-perfil">Cancelar</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="perfil-puntaje perfil-section">
                <h3 class="title-perfil">PUNTAJE</h3>
                <div>
                    <span class="text-lg bold">@string.Format("{0:0.0}", Model.Valoracion)</span>
                </div>
                <p>
                    Tu puntaje dependerá de la calificación que te den tus clientes atendidos y tu desempeño como Consultora.
                    Cuanto mayor sea tu puntaje, mejor será tu posición en el listado.
                </p>
                <p>
                    Recuerda pasar pedido para que tu nombre aparezca en el listado.
                </p>
            </div>

            <div class="perfil-comentarios perfil-section">
                <h3 class="title-perfil">COMENTARIOS DE CLIENTES</h3>

                <ul class="list-comentarios-perfil">
                    <li>
                        <img alt="Cargando..." src="@Url.Content("~/Content/images/Loading.gif")" />
                    </li>
                </ul>

                <p class="text-center">
                    <a id="btnMostrarComentarios" href="javascript:;" class="btn btn-line" style="display:none;"><i class="icon-angle-down"></i> Ver más</a>
                </p>
            </div>

        </div>
    </div>
</div>

<div id="popupPerfilCambioEmail" class="modal fade" data-backdrop="static" data-keyboard="false" style="z-index: 10000 !important; ">
    <div class="modal-dialog modal-alert modal-full-top">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-close-belcorp"></i></button>
                <img src="@Url.Content("~/Content/Images/mobile/img-consultoraonline/send-message-success.png")" alt="Mensaje enviado" width="50" />
            </div>
            <div class="modal-body text-center">
                <p class="text-primary">Para poder hacer efectivo el cambio de correo por favor revisa el mail que te acabamos de mandar a:</p>
                <p class="text-primary text-md bold" id="EmailPopup"></p>
                <p class="mt-30">Si no verificas el nuevo correo no podremos guardar los cambios.</p>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        var paginaComentarios = 1;
        var urlSubirFotoPerfil = '@Url.Action("SubirFotoPerfil", "ConsultoraOnline", new { area = "Mobile" })';
        var urlListarComentarios = '@Url.Action("ListarComentarios", "ConsultoraOnline", new { area = "Mobile" })';
        var urlActualizarDatosPerfil = '@Url.Action("ActualizarDatosPerfil", "ConsultoraOnline", new { area = "Mobile" })';

        $(document).ready(function () {
            ListarComentario();

            $('#SubirFoto').on('change', function (e) {
                if (typeof FormData != "undefined") {
                    var files = e.target.files;
                    var imageType = /image.*/;

                    if (files.length > 0) {
                        if (window.FormData !== undefined) {
                            if (files[0].type.match(imageType)) {
                                var data = new FormData();
                                for (var x = 0; x < files.length; x++) {
                                    data.append(files[x].type, files[x]);
                                }
                                ShowLoading();
                                $.ajax({
                                    type: "POST",
                                    url: urlSubirFotoPerfil,
                                    contentType: false,
                                    processData: false,
                                    data: data,
                                    success: function (data) {
                                        CloseLoading();

                                        var decha = new Date();
                                        $("#divInicialesConsultora").hide();
                                        $("#imgFotoConsultora").attr("src", data.rutaImagen + '?' + decha.getTime());
                                        $("#imgFotoConsultora").show();
                                    },
                                    error: function (xhr, status, p3, p4) {
                                        CloseLoading();
                                    }
                                });
                            } else {
                                messageInfo("Solo puede subir un archivo tipo imagen.");
                            }
                        } else {
                            messageInfo("Este buscador HTML5 no soporta la carga de archivos.");
                        }
                    }
                } else {
                    $("#frmSubirFoto").submit();
                }
            });

            $("#btnMostrarComentarios").on("click", function (e) {
                ListarComentario();
            });
        });

        function MostrarModoEdicion() {
            $("#divModoLectura").hide();
            $("#divModoEdicion").show();
        }

        function OcultarModoEdicion() {
            $("#divModoLectura").show();
            $("#divModoEdicion").hide();
        }

        function GuardarDatos() {
            $.ajaxSetup({ cache: false });

            if ($("#Email").val() == "") {
                messageInfo("El correo está vacío.")
                return false;
            }

            var Email = $('#Email').val();
            var CorreoAnterior = $('#CorreoAnterior').val();
            var EnlacePagina = $('#EnlacePagina').val();
            var Beneficio = "";
            var BeneficiosId = document.getElementsByName('BeneficiosId');
            for (var i = 0; i < BeneficiosId.length; i++) {
                if (BeneficiosId[i].checked == true) {
                    if (i == 0) { BeneficiosId = $('#checkbox1').val(); Beneficio = 'Puedo ofrecerte descuentos especiales'; };
                    if (i == 1) { BeneficiosId = $('#checkbox2').val(); Beneficio = 'Puedo brindar asesoría de imagen'; };
                    if (i == 2) { BeneficiosId = $('#checkbox3').val(); Beneficio = 'Soy experta en tratamientos faciales'; };
                    if (i == 3) { BeneficiosId = $('#checkbox4').val(); Beneficio = 'Soy experta en maquillaje'; };
                    if (i == 4) { BeneficiosId = $('#checkbox5').val(); Beneficio = 'Cuento con probadores de los productos'; };
                }
            }
            ShowLoading();
            $.ajax({
                datatype: "json",
                type: "POST",
                url: urlActualizarDatosPerfil,
                data: {
                    Email: Email,
                    CorreoAnterior: CorreoAnterior,
                    EnlacePagina: EnlacePagina,
                    BeneficiosId: BeneficiosId,
                    Beneficio: Beneficio
                },
                cache: false,
                success: function (data) {
                    CloseLoading();
                    if (data.success == true) {

                        if (data.model.Email != data.model.CorreoAnterior) {
                            $('#EmailPopup').html(data.model.Email);
                            $("#popupPerfilCambioEmail").modal("show");
                        }

                        OcultarModoEdicion();

                        $('#EmailModoLectura').html(data.model.CorreoAnterior);
                        $('#Email').val(data.model.CorreoAnterior);
                        $('#CorreoAnterior').val(data.model.CorreoAnterior);

                        if (data.model.BeneficiosId > 0) {
                            $('#BeneficioModoLectura').html(data.model.Beneficio);
                            $('#BeneficioModoLectura').show();
                            $('#aBeneficioModoLectura').hide();
                        } else {
                            $('#BeneficioModoLectura').html("");
                            $('#BeneficioModoLectura').hide();
                            $('#aBeneficioModoLectura').show();
                        }

                        if (data.model.EnlacePagina != null && data.model.EnlacePagina != "") {
                            $('#EnlacePaginaModoLectura').html(data.model.EnlacePagina);
                            $('#EnlacePaginaModoLectura').show();
                            $('#aEnlacePaginaModoLectura').hide();
                        } else {
                            $('#EnlacePaginaModoLectura').html("");
                            $('#EnlacePaginaModoLectura').hide();
                            $('#aEnlacePaginaModoLectura').show();
                        }
                    } else {
                        messageInfo(data.message);
                    }
                },
                error: function (x, xh, xhr) {
                    CloseLoading();
                    console.error(xh);
                }
            });
        }

        function ListarComentario() {
            $.ajax({
                data: { pagina: paginaComentarios },
                datatype: "json",
                type: "POST",
                url: urlListarComentarios,
                cache: false,
                success: function (data) {

                    if (data.lstComentarios.length == 0) {

                        $(".list-comentarios-perfil").html('<li><div class="coment-sec-perfil"><h4 class="coment-subtitles">No se encontraron comentarios para mostrar.</h4></div></li>');

                    } else {

                        if (paginaComentarios == 1) {
                            $(".list-comentarios-perfil").html("");
                        }

                        if (paginaComentarios < data.totalPaginas) {
                            paginaComentarios += 1;
                            $("#btnMostrarComentarios").show();
                        } else {
                            $("#btnMostrarComentarios").hide();
                        }

                        $.each(data.lstComentarios, function (index, item) {
                            var fecha = new Date(parseInt(item.FechaCreacion.replace('/Date(', '')));

                            var html = '<li>';
                            html += '<div class="coment-sec-perfil">';
                            html += '<h4 class="coment-subtitles">Comentario</h4>';
                            html += '<div>"' + item.Comentario + '"</div>';
                            html += '</div>';
                            html += '<div class="coment-sec-perfil">';
                            html += '<h4 class="coment-subtitles">Valoración</h4>';
                            html += '<div class="valoracion-in-coment">';
                            for (var i = 1; i < 6; i++) {
                                if (i <= item.Valoracion) {
                                    html += '<span class="glyphicon glyphicon-star"></span>';
                                } else {
                                    html += '<span class="glyphicon glyphicon-star-empty"></span>';
                                }
                            }
                            html += '<small> ' + +item.Valoracion + ' / 5</small>';
                            html += '</div>';
                            html += '</div>';
                            html += '<div class="coment-sec-perfil">';
                            html += '<h4 class="coment-subtitles">Cliente</h4>';
                            html += '<div>' + item.Cliente + '</div>';
                            html += '</div>';
                            html += '<div class="coment-sec-perfil">';
                            html += '<h4 class="coment-subtitles">Fecha</h4>';
                            html += '<div>' + fecha.yyyymmdd() + '</div>';
                            html += '</div>';
                            html += '</li>';

                            $('.list-comentarios-perfil').append(html);
                        });
                    }
                }
            });
        }

        Date.prototype.yyyymmdd = function () {
            var yyyy = this.getFullYear();
            var mm = this.getMonth() < 9 ? "0" + (this.getMonth() + 1) : (this.getMonth() + 1);
            var dd = this.getDate() < 10 ? "0" + this.getDate() : this.getDate();
            return "".concat(dd).concat("/").concat(mm).concat("/").concat(yyyy);
        };

    </script>
}