@using Portal.Consultoras.Web.CustomHelpers
@model Portal.Consultoras.Web.Models.MisPedidosModel

@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}

@section styles{
    <style type="text/css">
        body {
            background: #FFF !important;
            overflow-x: hidden;
        }
    </style>
}
<div class="titulo_mobile">
    @{ var mobileConfiguracion = Html.MobileAppConfiguracion();
        if (mobileConfiguracion.MostrarBotonAtras)
        {
            <a href="@Request.UrlReferrer" class="enlace_regresar catalogosR" title="Regresar"></a>
        } }
    &nbsp;&nbsp;&nbsp;&nbsp;CONSULTORA ONLINE
</div>
<div class="fondo_f2f2f2">
    <div class="pestana_esika"></div>
    <div class="pestana_lbel"></div>
    <div class="material-tabs">
        <a href="@Url.Action("Index", "ConsultoraOnline", new { area = "Mobile" })" class="visible-tab" style="width: 50% !important;">CONSULTORA ONLINE</a>
        <a href="javascript:;" class="visible-tab active" style="width: 50% !important;">MIS PEDIDOS</a>
    </div>
</div>


<div class="col-xs-12">


    @if (Model.ListaPedidos.Count == 0)
    {<div class="col-xs-12">
            <div class="icono_alerta exclamacion_icono_mobile"></div>
            <div class="mensaje_alerta">No existen pedidos para mostrar.</div>

        </div>

    }
    else
    {

        <ul class="list-notificaciones">
            @foreach (var item in Model.ListaPedidos.Take(10))
            {
                <li class="@(string.IsNullOrEmpty(item.Estado) ? "no-read" : "")">
                    <div class="text-noti">
                        <div class="upper">
                            <strong>
                                @if (string.IsNullOrEmpty(item.Estado))
                                {
                                    <span>NUEVO PEDIDO DE @item.Cliente</span> <br />
                                    <span>CAMPAÑA @item.Campania.Substring(4, 2) @item.Campania.Substring(0, 4)</span>
                                }
                                else
                                {
                                    <span>PEDIDO DE @item.Cliente</span> <br />
                                    <span>CAMPAÑA @item.Campania.Substring(4, 2) @item.Campania.Substring(0, 4)</span><br />
                                    <span>
                                        @if (item.Estado.Trim().Equals("A"))
                                        {
                                            <span>ESTADO: ACEPTADO</span>
                                        }
                                        else if (item.Estado.Trim().Equals("R"))
                                        {
                                            <span>ESTADO: RECHAZADO</span>
                                        }
                                        else if (item.Estado.Trim().Equals("C"))
                                        {
                                            <span>ESTADO: CANCELADO</span>
                                        }
                                    </span>
                                }
                            </strong>
                        </div>
                        <span>@item.FechaSolicitud.ToString("dd/MM/yyyy") @String.Format("{0:hh:mm tt}", item.FechaSolicitud)</span>
                    </div>
                    <a href="javascript:;" class="btn btn-link btn-more" onclick="VisualizarDetalle(@item.PedidoId);">Ver detalle <i class="icon-angle-next-belcorp"></i></a>
                </li>
            }
        </ul>

        if (Model.ListaPedidos.Count > 10)
        {
            <p class="text-center">
                <a href="javascript:;" class="btn btn-line btnMostrar"><i class="icon-angle-down"></i> Ver más pedidos</a>
            </p>
        }
    }

</div>


@section scripts
{
    <script type="text/javascript">

        var valorInicial = 0;
        var urlDetallePedido = '@Url.Action("DetallePedido", "ConsultoraOnline", new { area = "Mobile" })';
        var urlMostrarMasPedidos = '@Url.Action("MostrarMasPedidos", "ConsultoraOnline", new { area = "Mobile" })';

        $(document).ready(function () {

            $(".btnMostrar").on("click", function (e) {
                e.preventDefault();

                valorInicial = valorInicial + 10;

                ShowLoading();

                jQuery.ajax({
                    type: 'POST',
                    url: urlMostrarMasPedidos,
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({ cantidadOmitir: valorInicial }),
                    async: true,
                    success: function (json) {
                        if (checkTimeout(json)) {
                            CloseLoading();
                            if (json.success == true) {
                                if (json.total <= (valorInicial + 10)) {
                                    $('.btnMostrar').hide();
                                }
                                $.each(json.lista, function (index, item) {
                                    var fecha = new Date(parseInt(item.FechaSolicitud.replace('/Date(', '')));

                                    var html = '<li';
                                    if (item.Estado == '') {
                                        html += ' class="no-read"';
                                    }
                                    html += '>';
                                    html += '<span class="icon-noti icon-cart-list-pedidos"></span>';
                                    html += '<div class="text-noti">';
                                    html += '<div class="upper">';
                                    html += '<strong>';
                                    if (item.Estado == '') {
                                        html += '<span>NUEVO PEDIDO DE ' + item.Cliente + '</span><br />';
                                        html += '<span>CAMPAÑA ' + item.Campania.substring(4, 6) + ' ' + item.Campania.substring(0, 4) + '</span>';
                                    } else {
                                        html += '<span>PEDIDO DE ' + item.Cliente + '</span><br />';
                                        html += '<span>CAMPAÑA ' + item.Campania.substring(4, 6) + ' ' + item.Campania.substring(0, 4) + '</span><br />';
                                        var estado = "";
                                        if ($.trim(item.Estado) == "A") {
                                            estado = "ACEPTADO";
                                        } else if ($.trim(item.Estado) == "R") {
                                            estado = "RECHAZADO";
                                        } else if ($.trim(item.Estado) == "C") {
                                            estado = "CANCELADO";
                                        }
                                        html += '<span>ESTADO: ' + estado + '</span>';
                                    }
                                    html += '</strong>';
                                    html += '</div>';
                                    html += '<span>' + fecha.yyyymmddhhmm() + '</span>';
                                    html += '</div>';
                                    html += '<a href="javascript:;" class="btn btn-link btn-more" onclick="VisualizarDetalle(' + item.PedidoId + ');">Ver detalle <i class="icon-angle-next-belcorp"></i></a>';
                                    html += '</li>';

                                    $('.list-notificaciones').append(html);
                                });
                            }
                        }
                    }
                });
            });
        });

        function VisualizarDetalle(pedidoId) {
            location.href = urlDetallePedido + "?pedidoId=" + pedidoId;
        }

        Date.prototype.yyyymmddhhmm = function () {
            var yyyy = this.getFullYear();
            var mm = this.getMonth() < 9 ? "0" + (this.getMonth() + 1) : (this.getMonth() + 1);
            var dd = this.getDate() < 10 ? "0" + this.getDate() : this.getDate();

            var hora24 = this.getHours();

            var tt = "a. m.";
            if (hora24 > 11) {
                tt = "p. m.";
            }

            if (hora24 > 12) {
                hora24 = hora24 - 12;
            } else if (hora24 == 0) {
                hora24 = 12;
            }

            if (hora24 < 10) {
                hora24 = "0" + hora24;
            }

            var min = this.getMinutes() < 10 ? "0" + this.getMinutes() : this.getMinutes();
            return "".concat(dd).concat("/").concat(mm).concat("/").concat(yyyy).concat(" ").concat(hora24).concat(":").concat(min).concat(" ").concat(tt);
        };

    </script>
}
