@model Portal.Consultoras.Web.Models.MisPedidosModel
<img class="position_relative margin_right_10" src="/Content/Images/ConsultoraOnline/ic_pedido.png" width="36" height="34" alt="" />
<p class="font_size_24">Tienes <strong id="PedidosPendientes" class="text_color_morado font_size_24">@ViewBag.CantidadPedidos</strong> pedidos del App de Catálogos</p>

<p>
    Recuerda que antes de Aceptar o Rechazar un pedido debes llamar a tu cliente y confirmar el pedido.
Así como el precio, la fecha y dirección de entrega.
</p>

<table id="idTablaListaPedido">
    <thead>
        <tr>
            <th class="" style="width: 150px;">CLIENTE</th>
            <th class="" style="width: 125px;">ORIGEN DE PEDIDO</th>
             <th style="width: 100px;">CÓDIGO</th>
            <th class="text_align_left" style="width: 160px;">PRODUCTO</th>
            <th style="width: 80px;">CANTIDAD</th>
            <th style="width: 130px;">PRECIO UNITARIO</th>
            <th class="" style="width: 140px;" >PRECIO TOTAL</th>
            <th style="width: 160px;">ESTADO</th>
        </tr>
    </thead>
    <tbody>
        @{
            int nroProductos = 0;
            double sumaTotalPrecios = 0;
            int nroDivPanelPedido = 0;
            bool muestraDatosPersonales = true;
            int rowspanFilasAdicionales = 2;
        }
        @foreach (var item in Model.ListaPedidos)
        {
            ++nroDivPanelPedido;
            muestraDatosPersonales = item.Estado.Trim().Equals("R") || item.Estado.Trim().Equals("C") ? false : true;
            sumaTotalPrecios = 0;
            nroProductos = item.DetallePedido.Count();
            <tr>
                <td @(nroProductos > 1 ?
                    Html.Raw(String.Format("rowspan=\"{0}\"", nroProductos + rowspanFilasAdicionales)) :
                    Html.Raw("rowspan=\"2\"")) class="text_align_left">
                    @{string srcImage = "ic_notificacion";
                      if (item.Estado.Trim().ToUpper() == "A")
                      {
                          srcImage = "ic_aceptar";
                      }
                      else if (item.Estado.Trim().ToUpper() == "R")
                      {
                          srcImage = "ic_cerrar";
                      }
                      else if (item.Estado.Trim().ToUpper() == "C")
                      {
                          srcImage = "ic_cerrar";
                      }
                    }
                    <div  id="@Html.Raw(String.Format("alertImage{0}", nroDivPanelPedido))" style="float: left;">
                        <img class="margin_right_10 vertical_align_top" src="@Html.Raw(String.Format("/Content/Images/ConsultoraOnline/{0}.png", srcImage))" width="19" height="19" alt="" />
                    </div>
                    <div class="margin_bottom_20 display_inline_block">
                        @item.Cliente<br />
                        @if (muestraDatosPersonales)
                        {
                            <div id="@Html.Raw(String.Format("telefonoDisplay{0}", nroDivPanelPedido))">
                                <br />
                                <span>Teléfono:</span><br />@item.Telefono</div>
                        }
                    </div>
                    @if (muestraDatosPersonales)
                    { 
                        <div id="@Html.Raw(String.Format("datosDisplay{0}", nroDivPanelPedido))">
                            <br />
                            <img class="margin_right_10 vertical_align_top" src="/Content/Images/ConsultoraOnline/ic_ver_detalle.png" width="19" height="19" alt="" />

                            <div id="btninfo" class="btn_correo_direc text_color_morado cursor_pointer display_inline_block">
                                Ver correo<br />
                                y dirección  
                        <div id="info" class="cont_correo_direc ocultarHide">
                            Correo: @item.Email<br />
                            Dirección: @item.Direccion
                        </div>

                            </div>
                        </div>
                    }
                </td>
                @if (nroProductos > 0)
                {
                    sumaTotalPrecios += item.DetallePedido[0].PrecioTotal;
                    <td>@(item.DetallePedido[0].MedioContacto != "" ? item.DetallePedido[0].MedioContacto : "Web " + item.DetallePedido[0].Marca)</td>
                    <td>@(item.DetallePedido[0].CUV != "" ? item.DetallePedido[0].CUV : "-")</td>                   
                    <td class="text_align_left">
                        @Html.Raw(String.Format("{0}{1} {2}",
                            item.DetallePedido[0].Producto,
                            item.DetallePedido[0].Tono == "" ? "" : "<br/>Tono: " + item.DetallePedido[0].Tono,
                            item.DetallePedido[0].Marca))</td>
                    <td>@Html.Raw(item.DetallePedido[0].Cantidad)</td>
                    <td>@ViewBag.Simbolo @Html.Raw(item.DetallePedido[0].PrecioUnitario.ToString("N2"))</td>
                    
                    <td class="">@ViewBag.Simbolo @Html.Raw(item.DetallePedido[0].PrecioTotal.ToString("N2"))</td>
                }
                else
                {
                    <td class="text_align_left">- </td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td class="text_align_right">-</td>
                }
                <td @(nroProductos > 1 ?
                    Html.Raw(String.Format("rowspan=\"{0}\"", nroProductos + rowspanFilasAdicionales)) :
                    Html.Raw("rowspan=\"2\""))>

                    <div id="@Html.Raw(String.Format("DivPanel{0}", nroDivPanelPedido))">
                        @if (string.IsNullOrEmpty(item.Estado))
                        {
                            <button type="button" class="boton_morado_2 margin_bottom_45 btnAceptar" data-id="@item.PedidoId" data-imgPane="@nroDivPanelPedido" >ACEPTAR</button><br />
                            
                            <button type="button" class="boton_linea_morado_2 btnRechazar" onclick="RechazarSolicitud(@item.PedidoId,@item.NumIteracion,'@item.CodigoUbigeo','@item.Campania','@item.MarcaID','@Html.Raw(String.Format("{0}", nroDivPanelPedido))');" >RECHAZAR</button> 
                            <p class="mensaje_notificacion font_size_11">
                                Tienes hasta las @String.Format("{0:hh:mm tt}", item.FechaSolicitud) del @item.FechaSolicitud.AddDays(1).ToString("dd/MM")
                                para aceptar o rechazar el pedido
                            </p>
                        }
                        else if (item.Estado.Trim().Equals("A"))
                        {                        
                            <div class="text_verde2 margin_bottom_45">ACEPTADO</div>                            
                            if (item.FechaModificacion.Value.AddDays(1) >= DateTime.Now)
                            {
                            <button type="button" class="boton_linea_verde margin_left_23 btnCancelar" onclick="CancelarSolicitud(@item.PedidoId,'@Html.Raw(String.Format("DivPanel{0}", nroDivPanelPedido))','@nroDivPanelPedido');">CANCELAR</button>
                            <div class="wrap_pregunta">
                                <img class="ic_pregunta" src="/Content/Images/ConsultoraOnline/ic_pregunta.png" width="19" height="19" alt="" />
                                <img class="cont_info" src="/Content/Images/ConsultoraOnline/cont_pregunta.png" width="140" height="48" alt="" />
                            </div>
                            }
                            else
                            {
                                <p class="font_size_11">El día @String.Format("{0:dd/MM}", item.FechaModificacion) a las  @String.Format("{0:hh:mm tt}", item.FechaModificacion)</p>
                            }
                        }
                        else if (item.Estado.Trim().Equals("R"))
                        {
                            <div class="text_gris_azul">RECHAZADO</div>
                            <p class="font_size_11">El día @String.Format("{0:dd/MM}", item.FechaModificacion) a las  @String.Format("{0:hh:mm tt}", item.FechaModificacion)</p>
                        }
                        else if (item.Estado.Trim().Equals("C"))
                        {
                            <div class="text_gris_azul">CANCELADO</div>
                            <p class="font_size_11">El día @item.FechaModificacion.Value.ToString("dd/MM") a las  @String.Format("{0:hh:mm tt}", item.FechaModificacion)</p>
                        }
                    </div>
                </td>
            </tr>
                        if (nroProductos > 1)
                        {

                            for (int i = 1; i <= nroProductos - 1; i++)
                            {
                                sumaTotalPrecios += item.DetallePedido[i].PrecioTotal;
            <tr>
                <td>@(item.DetallePedido[i].MedioContacto != "" ? item.DetallePedido[i].MedioContacto : "Web " + item.DetallePedido[i].Marca)</td>
                <td>@(item.DetallePedido[i].CUV != "" ? item.DetallePedido[i].CUV : "-")</td>                   
                <td class="text_align_left">
                    @Html.Raw(String.Format("{0}{1}<br/>{2}",
                            item.DetallePedido[i].Producto,
                            item.DetallePedido[i].Tono == "" ? "" : "<br/>Tono: " + item.DetallePedido[i].Tono,
                            item.DetallePedido[i].Marca))
                </td>
                <td>@item.DetallePedido[i].Cantidad</td>
                <td>@ViewBag.Simbolo @item.DetallePedido[i].PrecioUnitario.ToString("N2")</td>
                
                <td class="">@ViewBag.Simbolo  @item.DetallePedido[i].PrecioTotal.ToString("N2")</td>
            </tr>
                            }
                
            <tr>
                <td id="tdMontoTotal" class=""colspan="6"><span class="ClaseMontoTotal"><span>TOTAL :</span>@ViewBag.Simbolo  @sumaTotalPrecios.ToString("N2")</span></td>
            </tr>
            
                        }
            <tr>
                <td class="text_align_right text_align_left" colspan="6" id="@String.Format("MensajeConsultora{0}", nroDivPanelPedido)">
                    @if(item.Estado.Trim() != "R" && item.Estado.Trim() != "C")
                    {                      
                        <span style="padding-left: 20px;">Comentario:</span>
                        <p style="padding-left: 20px;text-align: justify;">
                            @item.MensajeDelCliente
                        </p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    int PagActual = (int)ViewBag.IndiceActualPagina;
    int PagFinal = (int)ViewBag.IndiceUltimaPagina;
    int PagActualVisual = ++PagActual;
    int PagFinalVisual = ++PagFinal;
}

<div id="Pager">
    <ul class="menu_paginacion">
        <li class="tab_0">PÁGINA</li>
        @if (PagFinalVisual <= 10)
        {
            for (int i = 1; i <= PagFinalVisual; i++)
            {
                if (i == PagActualVisual)
                {
            <li class="tab_select"><a href="@Html.Raw(String.Format("/ConsultoraOnline/MisPedidos/Page/{0}", i))">@i</a></li>
                }
                else
                {
            <li class="tab"><a href="@Html.Raw(String.Format("/ConsultoraOnline/MisPedidos/Page/{0}", i))">@i</a></li>
                }
            }
        }
        else
        {
            int cantPagedBackward = 0;
            int cantPagedForward = 0;
            int cantSpace = 5;
            int elemento = 0;
            bool firstSet = true;
            bool firstComplete = false;
            if (PagActualVisual - cantSpace >= 2)
            {
            <li class="tab_0"><a href="@Html.Raw(String.Format("/ConsultoraOnline/MisPedidos/Page/{0}", PagActualVisual - 1))">&#60;</a> </li>
            }
            for (int i = PagActualVisual; i <= PagFinalVisual; i++)
            {
                elemento++;
                cantPagedBackward = PagActualVisual - cantSpace;
                cantPagedForward = PagActualVisual + cantSpace;
                if (cantPagedForward <= 10)
                {
                    cantPagedForward = cantPagedForward + (10 - cantPagedForward);
                }
                if (i != 1 && i <= cantSpace && !firstComplete && PagActualVisual <= cantSpace)
                {
                    for (int j = 1; j < i; j++)
                    {
                        if (PagActualVisual == 1)
                        {
                            continue;
                        }
            <li class="tab"><a href="@Html.Raw(String.Format("/ConsultoraOnline/MisPedidos/Page/{0}", j))">@j</a></li>
                    }
                    firstComplete = true;
                }
                if (cantPagedBackward >= 1 && firstSet)
                {
                    i = cantPagedBackward;
                    firstSet = false;
                }
                if (i == PagActualVisual)
                {
            <li class="tab_select"><a href="@Html.Raw(String.Format("/ConsultoraOnline/MisPedidos/Page/{0}", i))">@i</a></li>
                }
                else
                {                   
            <li class="tab"><a href="@Html.Raw(String.Format("/ConsultoraOnline/MisPedidos/Page/{0}", i))">@i</a></li>
                }

                if (i == cantPagedForward)
                {
            <li class="tab_0"><a href="@Html.Raw(String.Format("/ConsultoraOnline/MisPedidos/Page/{0}", PagActualVisual + 1))">&#62;</a></li>
                    break;
                }
            }
        }


    </ul>
</div>
