@*model Portal.Consultoras.Web.Models.ClienteContactaConsultoraModel*@
@using Portal.Consultoras.Web.CustomHelpers;
@System.Web.Optimization.Styles.Render("~/bundles/CSSFuzemodal")
@System.Web.Optimization.Scripts.Render("~/bundles/JSFuzemodal")

<!--[if IE]>

<script type="text/javascript">
$(function() {
  $("label img").on("click", function() {
    $("#" + $(this).parents("label").attr("for")).click();
  });
});
</script>
<![endif]-->

<nav class="menu_consultora">
    <ul>
        <li class="@Html.IsSelected(actions: "Index", controllers: "ConsultoraOnline")">@Html.ActionLink("CONSULTORA ONLINE", "Index", "ConsultoraOnline")</li>
        <li class="@Html.IsSelected(actions: "MisPedidos", controllers: "ConsultoraOnline")">@Html.ActionLink("MIS PEDIDOS", "MisPedidos", "ConsultoraOnline",null,null)</li>
        <!--
        <li class="@Html.IsSelected(actions: "MiPerfil", controllers: "ConsultoraOnline")"><a href="mi_perfil.html">MI PERFIL</a></li>
            -->
        
    </ul>
    <div class="field100_co">
        <button id="btnDesactivar" type="button" class="boton_linea_morado float_rigth">DESACTIVAR</button></div>
</nav>


<!-------------------------------------------MODALS----------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------>
<div id="modal_desactivar_consultora" class="fuzemodal tsm ie8" style="display:none">
    <div class="fuzemodal_title">
        <span>¿DESACTIVAR CONSULTORA ONLINE?</span>
        <div class="fuzemodal_title_items" onclick="$('#modal_desactivar_consultora').fuzemodal('close');">
            <img src="/Content/Images/ConsultoraOnline/close.png" alt="X" />
        </div>
    </div>

    <div class="fuzemodal_content">
        
        <br/>
        Si desactivas Consultora Online, los clientes no podrán encontrarte
		en la lista de consultoras. Puedes volver en cualquier momento.
        <br /><br />
        <p class="margin_bottom_10">Cuéntanos por qué te vas</p>        
        <div>
            <form id="frmDesafiliacion">
            <input type="radio" value="1" id="cb6" name="checkbox">
            <label for="cb6">Lo clientes no desean esperar tanto tiempo para el pedido.</label>
            
            <input type="radio" value="2" id="cb7" name="checkbox">
            <label for="cb7">No me llegan pedidos.</label>
            
            <input type="radio" value="3" id="cb8" name="checkbox">
            <label for="cb8">No me genera ingresos.</label>
            
            <input type="radio" value="4" id="cb9" name="checkbox">
            <label for="cb9">Por diferencia en precios de web y campaña.</label>
            
            <input type="radio" value="5" id="cb10" name="checkbox">
            <label for="cb10">Volveré. Sólo me estoy tomando un descanso.</label>
            
            <input type="radio" value="6" id="cb11" name="checkbox">
            <label for="cb11">Otros</label>
            <!-- <textarea name="MensajeDesafiliacionOtros" id="MensajeDesafiliacionOtros"></textarea> -->
            </form>
        </div>
                
        <div class="fuzemodal_buttons clear_co">                
            <button id="btnCancelarDesactivar" class="boton_morado_2 display_inline_block" type="button" onclick="desa();">DESACTIVAR</button>
            <button id="btnDesactivarModal" class="boton_linea_morado_2 display_inline_block " type="button" onclick="$('#modal_desactivar_consultora').fuzemodal('close');">CANCELAR</button>
        </div>
        
        
    </div>
</div>

<script>

    $(document).ready(function () {

        //*************************************MODALS*******************************//
        $("#modal_desactivar_consultora").fuzemodal({ buttonIdOrClass: '#btnDesactivar', speed: 450 });
    });

    function desa()
    {
        var opc = $('input[name=checkbox]:checked', '#frmDesafiliacion').val();
        var params = {
            ConsultoraID:@ViewBag.ConsultoraID,
            OpcionDesafiliacion: opc
            };
        $.ajax({
            type: "POST",
            url: baseUrl + "ConsultoraOnline/Desafiliar", 
            contentType: 'application/json',
            data: JSON.stringify(params),
            success: function (data) {
                if (checkTimeout(data)) {

                    if (data.success == true) {
                        $('#modal_desactivar_consultora').fuzemodal('close');
                        location.href = baseUrl + "ConsultoraOnline/Informacion";
                    }
                    else {
                        alert_msg(data.message);
                    }
                }
            },
            error: function (data, error) {
                if (checkTimeout(data)) {
                    closeWaitingDialog();
                    alert_msg("Ocurrió un error inesperado al momento de desafiliarte. Consulte con su administrador del sistema para obtener mayor información");
                }
            }
        });
        
    }

</script>
