@using Portal.Consultoras.Web.Models
@{
    var countMotivos = 0;
    MisPedidosMotivoRechazoModel motivoOtros = null;
}
<link href="@Url.Content("~/Content/Css/Site/ConsultoraOnline/MotivosRechazo.css")" rel="stylesheet" />

<div id="MotivosRechazo" class="mobile hide motivos__rechazo__modal" style="display:block;">
    <div id="MotivosRechazo-Paso1">
        <a class="enlace__cerrar__modal__motivos__rechazo" onclick="javascript:$('#MotivosRechazo').fadeOut(100);" alt="Cerrar"></a>
        <h2 class="d-block text-bold motivo__rechazo__modal__titulo">¿A qué se debe el rechazo del pedido?</h2>
        <ul class="w-100 d-flex lista__motivos__rechazo">
            @foreach (var motivoRechazo in ViewBag.MotivosRechazo)
            {
                //countMotivos += 1;

                if (@motivoRechazo.MotivoSolicitudID != 11) //diferente a 11 otros
                {
                    <li class="d-block motivo__rechazo">
                        <input id="@motivoRechazo.MotivoSolicitudID" name="motivoRechazo" type="radio" class="d-none field__checkbox__sb" value="@motivoRechazo.MotivoSolicitudID" />
                        <label for="@motivoRechazo.MotivoSolicitudID" class="border-radius-4 text-center mr-0 tag__checkbox__sb tag__checkbox__sb--motivoRechazo">@motivoRechazo.Motivo</label>
                    </li>
                }
                else
                {
                    motivoOtros = motivoRechazo;
                }


            }

            @*<li class="d-block motivo__rechazo">
                    <input id="1" name="motivoRechazo" type="radio" class="d-none field__checkbox__sb" value="" />
                    <label for="1" class="border-radius-4 text-center mr-0 tag__checkbox__sb tag__checkbox__sb--motivoRechazo">El cliente vive muy lejos</label>
                </li>
                <li class="d-block motivo__rechazo">
                    <input id="2" name="motivoRechazo" type="radio" class="d-none field__checkbox__sb" value="" />
                    <label for="2" class="border-radius-4 text-center mr-0 tag__checkbox__sb tag__checkbox__sb--motivoRechazo">Tengo productos en stock</label>
                </li>
                <li class="d-block motivo__rechazo">
                    <input id="3" name="motivoRechazo" type="radio" class="d-none field__checkbox__sb" value="" />
                    <label for="3" class="border-radius-4 text-center mr-0 tag__checkbox__sb tag__checkbox__sb--motivoRechazo">No conozco el cliente</label>
                </li>
                <li class="d-block motivo__rechazo">
                    <input id="4" name="motivoRechazo" type="radio" class="d-none field__checkbox__sb" value="" />
                    <label for="4" class="border-radius-4 text-center mr-0 tag__checkbox__sb tag__checkbox__sb--motivoRechazo">Productos agotados</label>
                </li>
                <li class="d-block motivo__rechazo">
                    <input id="5" name="motivoRechazo" type="radio" class="d-none field__checkbox__sb" value="" />
                    <label for="5" class="border-radius-4 text-center mr-0 tag__checkbox__sb tag__checkbox__sb--motivoRechazo">No pasaré pedido</label>
                </li>
                <li class="d-block motivo__rechazo">
                    <input id="6" name="motivoRechazo" type="radio" class="d-none field__checkbox__sb" value="" />
                    <label for="6" class="border-radius-4 text-center mr-0 tag__checkbox__sb tag__checkbox__sb--motivoRechazo">Pruebo la herramienta</label>
                </li>*@
        </ul>
        @if (motivoOtros != null)
        {
            <div class="d-flex form__group__fields form__group__fields--motivoAdicionalWrapper">
                <input id="OtroMotivo" type="checkbox" class="d-none field__checkbox__sb" value="@motivoOtros.MotivoSolicitudID">
                <label for="OtroMotivo" class="border-radius-4 text-center label__checkbox__sb"></label>
                <span class="d-inline-block motivo__adicional__otro">@motivoOtros.Motivo</span>
            </div>
        }

        <div class="d-flex form__group__fields">
            <input id="txtOtroMotivo" type="text" class="d-block w-100 p-0 text__field__sb" placeholder="Dinos cuál fue el motivo">
        </div>
        <button class="d-block w-100 center-block border-radius-4 text-bold btn__sb--disabled btn__sb btn__sb__primary btn__sb__primary--multimarca btn__sb__primary--confirmar">Confirmar</button>
    </div>
    <div id="MotivosRechazo-Paso2" class="motivos__rechazo__modal__paso2" style="display:none;">
        <a class="enlace__cerrar__modal__motivos__rechazo" onclick="javascript:$('#MotivosRechazo').fadeOut(100);" alt="Cerrar"></a>
        <div class="d-block center-block motivos__rechazo__modal__icono">
            <img src="@Url.Content("~/Content/Images/success_icon.svg")" alt="" />
        </div>
        <p class="d-block text-center motivos__rechazo__modal__mensaje">¡Gracias!</p>
    </div>
</div>