@{
    ViewBag.Title = "Index";
}
@System.Web.Optimization.Styles.Render("~/Bundle/Css/Desktop/Fuzemodal")

@if (ViewBag.EmailConfirmado != null && ViewBag.EmailConfirmado)
{
    <div class="field100_co margin_bottom_20 margin_top_20">
        <div class="con_notificacion">
            <img class="position_relative" src="/Content/Images/ConsultoraOnline/ic_valido.png" width="44" height="51" alt="" />
            <p class="text_notificacion">Tu correo @ViewBag.EmailConsultora ha sido validado.</p>
        </div>
    </div>
}
<div class="banner_bienvenida">
    <div class="text_bienvenida">
        <h2>BIENVENIDA AL <strong>APP DE CATÁLOGOS</strong></h2>
        <p class="font_weight_500">A partir de ahora, tu nombre aparecerá en el App de Catálogos Ésika, L’bel y Cyzone y en la página web de las marcas, y nuevos clientes te contactarán.</p>
        <div class="field25_co max_width_250 margin_right_5_porc">
            <img src="/Content/Images/ConsultoraOnline/a_txt_llama.png" width="137" height="37" alt="" />
            <p class="margin_left_36 top_menos_6">Recibe la notificación y contacta al cliente.</p>
        </div>
        <div class="field25_co max_width_250 margin_right_5_porc">
            <img src="/Content/Images/ConsultoraOnline/b_txt_acepta.png" width="137" height="37" alt="" />
            <p class="margin_left_36 top_menos_6">Acepta el pedido en máximo 24 horas.</p>
        </div>
        <div class="field40_co max_width_300">
            <img src="/Content/Images/ConsultoraOnline/c_txt_entrega.png" width="137" height="37" alt="" />
            <p class="margin_left_36 top_menos_6">Entrega el pedido y comienza una relación con tu nuevo cliente.</p>
        </div>
    </div>
</div>
@Html.Partial("_MenuConsultoraOnline")
<div class="cont_prox_pasos">
    <h2>NO OLVIDES LOS PRÓXIMOS PASOS</h2>
    <div class="colum_prox_paso margin_right_40">
        <img src="/Content/Images/ConsultoraOnline/img_prox_paso_1.png" width="228" height="144" alt="" />
        <p class="text_align_center font_weight_500">Actualiza tu perfil</p>
        Ingresa a MI PERFIL y luego a TUS DATOS PERSONALES. Esta información le servirá al cliente para comunicarse contigo y visualizar tu perfil en el App de Catálogos.
    </div>
    <div class="colum_prox_paso margin_right_40">
        <img src="/Content/Images/ConsultoraOnline/img_prox_paso_2.png" width="228" height="144" alt="" />
        <p class="text_align_center font_weight_500">Mantente conectada</p>
        Recuerda que debes estar atenta a los nuevos pedidos. Estos te llegan a tu correo y también los puedes revisar en MIS PEDIDOS.
    </div>
    <div class="colum_prox_paso">
        <img src="/Content/Images/ConsultoraOnline/img_prox_paso_3.png" width="228" height="144" alt="" />
        <p class="text_align_center font_weight_500">Contáctalos al instante</p>
        Cuando te llegue un nuevo pedido, debes llamar a tu cliente y confirmar fecha y dirección de entrega. Esto también lo haces en MIS PEDIDOS.
        <br />
        <br />
        Recuerda que sólo tienes 24 horas para aceptar o rechazar el pedido,
        de lo contrario, se reasignará el pedido de clientes nuevos a otra consultora que pueda atenderlos.
    </div>
    <div class="cont_mas_clientes">
        <h2>CONSEJOS PARA CONSEGUIR MÁS CLIENTES</h2>
        <strong>1. Aparece primera en la lista</strong>
        <p>Para aparecer primera en la lista, tanto en el App de Catálogos Ésika, L'bel y Cyzone como en las páginas web de las marcas, debes ser constante, y brindar una atención personalizada para así recibir buenos comentarios y tener 5 de 5 estrellas.</p>
        <strong>2. Conviértelo en cliente frecuente</strong>
        <p>Aprovecha que está familiarizado con el uso de internet, agrégalo a Whatsapp, compártele los catálogos por la web o invítalos a descargarse el App de Catálogos, y envíale las novedades de las redes sociales.</p>
        <strong>3. Prepara el pedido</strong>
        <p>Arma una bolsita con el/los productos del pedido, coloca una tarjeta con tus datos para que pueda volver a llamarte, el precio total y coloca dentro probadores de otros productos que crees que puedan agradarle a tu cliente.</p>
        <strong>4. ¿Cómo causar una buena primera impresión? </strong>
        <p>La primera impresión es lo que cuenta: Al encontrarte con tu cliente, no te olvides de usar los productos y ponerte los accesorios de las marcas que tengas. Estos clientes buscan que tu seas su asesora de belleza.</p>
    </div>
</div>

<div class="cont_mas_preguntas">
    <h2 class="text_align_center">¿TIENES MÁS PREGUNTAS?</h2>
    <div class="centrar_preguntas">
        <div class="cont_pregunta">
            <h3>¿Qué debo hacer si el precio que el cliente vio en el App de Catálogos o en la página web es diferente al de la campaña actual? </h3>
            <p>El precio que aparece en la web y en el App de Catálogos es el precio regular (precio sin descuento). Ofrece a tus clientes el precio catálogo de tu campaña vigente.</p>
        </div>
        <div class="cont_pregunta">
            <h3>¿Qué hago si el cliente ya no quiere el pedido?</h3>
            Si el cliente te dice que ya no quiere el pedido, puedes cancelarlo tú misma en la sección MIS PEDIDOS.
        </div>
        <div class="cont_pregunta">
            <h3>¿Qué pasa si rechazo el pedido de mi cliente? </h3>
            <p>Puedes ACEPTAR o RECHAZAR el pedido de tu cliente desde la sección MIS PEDIDOS. De esta forma el pedido será asignado a otra Consultora Online.</p>
        </div>
        <div class="cont_pregunta">
            <h3>¿Necesito tener el producto solicitado en stock?</h3>
            <p>
                Esto dependerá del cliente y de cuándo quiere recibir su pedido. Pregúntale si necesita su pedido con urgencia o si podría esperar
                a que sus productos lleguen junto con el pedido que realizas cada campaña.
                Si deseas, también puedes adquirir los productos en uno de nuestros <span id="btnBelcenters" class="link">Belcenters</span>.
            </p>
        </div>
    </div>
</div>

@Html.Partial("_Belcenters")

@section scripts{

    <script src="@Url.Content("~/Scripts/fuzemodal-1.3/fuzemodal-1.3.2.min.js")"></script>
    <script>
    
        $("#modal_belcenters").fuzemodal({ buttonIdOrClass: '#btnBelcenters', speed: 450 });
        $("#modal_desactivar_consultora").fuzemodal({ buttonIdOrClass: '#btnDesactivar', speed: 450 });

        function desa()
        {
            var opc = $('input[name=checkbox]:checked', '#frmDesafiliacion').val();
            var params = {
                ConsultoraID:@ViewBag.ConsultoraID,
                OpcionDesafiliacion: opc
            };
            $.ajax({
                type: "POST",
                url: baseUrl + "ConsultoraOnline/Desafiliar",
                contentType: 'application/json',
                data: JSON.stringify(params),
                success: function (data) {
                    if (checkTimeout(data)) {

                        if (data.success == true) {
                            $('#modal_desactivar_consultora').fuzemodal('close');
                            location.href = baseUrl + "ConsultoraOnline/Informacion";
                        }
                        else {
                            alert_msg(data.message);
                        }
                    }
                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        alert_msg("Ocurrió un error inesperado al momento de desafiliarte. Consulte con su administrador del sistema para obtener mayor información");
                    }
                }
            });
        }
    </script>
}