
@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Models

@model Portal.Consultoras.Web.Models.EstrategiaPersonalizadaProductoModel

@{
    ViewBag.Title = "Revista Digital - Detalle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section styles{
    <link href="@Url.Content("~/Content/Css/Site/Esika/revistaDigital.css")" rel="stylesheet" />
}

<div class="revista_ficha" style='background: url(@Model.TipoEstrategiaDetalle.ImgFichaFondoDesktop);' 
     data-estadoregistro="@ViewBag.EstadoSuscripcion">
    <div class="revista_fondo_ficha"></div>
    <div class="content_belcorp">       
        <div class="rd_volver">
            <a href="@Url.Action("Index","RevistaDigital", new { area = ""})">
                <img class="previous_volver" src="@Url.Content("~/Content/Images/RevistaDigital/previous_volver.png")"/>
                VOLVER
            </a>
        </div>
        <div class="content_revista_ficha" data-item="">
            <div data-compartir-campos="" style="display:none;">
                <input type="hidden" class="CUV" value="@Model.CUV2" />
                <input type="hidden" class="rsFBMensaje" value="" />
                <input type="hidden" class="rsFBRuta" value="@Model.UrlCompartir" />
                <input type="hidden" class="rsWAMensaje" value="" />
                <input type="hidden" class="rsWARuta" value="@Model.UrlCompartir" />
                <input type="hidden" class="rsFBRutaImagen" value="@Model.FotoProducto01" />
                <input type="hidden" class="rsWARutaImagen" value="@Model.FotoProducto01" />
                <input type="hidden" class="MarcaID" value="@Model.MarcaID" />
                <input type="hidden" class="MarcaNombre" value="@Model.DescripcionMarca" />
                <input type="hidden" class="Nombre" value="@Model.DescripcionResumen" />
                <input type="hidden" class="ProductoDescripcion" value="@Model.DescripcionDetalle" />
                <input type="hidden" class="Volumen" value="" />
                <input type="hidden" class="Palanca" value="LAN" />
            </div>
            <div class="content_revista_ficha_descripcion">
                @if (Model.TipoEstrategiaDetalle.ImgFichaDesktop != "")
                {
                    <div class="etiqueta_nuevo_bpt" style="position: absolute;top: 0;left: 0;">
                        <img src="@Model.TipoEstrategiaDetalle.ImgFichaDesktop" alt="" style="max-height:50px;" />
                    </div>
                }
                <div class="descripcion_text">
                    <div class="tit_revista_producto">@Model.DescripcionResumen</div>
                    @if (Model.DescripcionDetalle != "")
                    {
                        <div class="revista_separador">CONOCE POR QUÉ @Model.DescripcionResumen SERÁ GANADORA</div>
                        <div class="revista_list">
                            <ol class="ol_detalle">
                                @foreach (var DescDetalle in Model.ListaDescripcionDetalle)
                                {
                                    <li>@DescDetalle.Trim()</li>
                                }
                            </ol>
                        </div>
                    }
                    <hr class="clear">
                    <div class="compartir_redes_ficha" style="padding-left: 0px; margin-top: 20px;">
                        <div class="texto_compartelo">Compártelo con tus clientes</div>
                        <a class="btn_compartir_facebook_ficha" href="javascript:;" data-compartir="FB" style="float: left;">
                            <img src="/Content/Images/Esika/facebook.png">
                        </a>
                        <hr class="clear">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="clear">
<div class="pack_personalizado_ficha">
    <div class="content_belcorp">
        @if (ViewBag.TieneProductosPerdio)
        {
            <div style="margin-bottom: 30px">
                <div >
                    <span class="hblock_title_perdio">@ViewBag.NombreConsultora, POR SI TE LO PERDISTE</span><br />
                    <span class="hblock_title_perdio2">GANA MÁS CON OFERTAS PARA SUSCRIPTORAS DESDE C-@ViewBag.CampaniaMasDos</span>
                </div>

                @*<div class="btn_diagonal rd_btn_rojo_right" style="top: 0;">
                    <a href="javascript: RDPageInformativa();">INSCRIBIRME A ÉSIKA PARA MÍ</a>
                </div>*@
            </div>
            <hr class="clear">
        }
        else
        {
            <div class="tit_pack">GARANTIZA EL NUEVO ÉXITO DE TU NEGOCIO</div>
        }

        <div class="lanzamiento-view-detalle">
            <div id="divOfertaProductos" data-OrigenPedidoWeb="@Constantes.OrigenPedidoWeb.RevistaDigitalDesktopProductPage"></div>
        </div>
        @if ((Model.TipoEstrategiaDetalle.UrlVideoDesktop ?? "") != "")
        {
            <div class="revista_producto_video" style="width: 60%">
                @*<iframe width="560" height="315" src="https://www.youtube.com/embed/YOUR_VIDEO_CODE" frameborder="0" allowfullscreen></iframe>*@
                <iframe width="100%" height="415" frameborder="0" allowfullscreen
                        src="https://www.youtube.com/embed/@Model.TipoEstrategiaDetalle.UrlVideoDesktop?autoplay=0"></iframe>
            </div>
        }
    </div>
</div>
@Html.Action("MensajeBloqueado", "RevistaDigital")
<div class="flecha_scroll">
    <a href="javascript:;" title="Flecha Scroll" class="enlace_scroll">
    </a>
</div>


@Html.Partial("~/Views/EstrategiaPersonalizada/template-producto-landing.cshtml")
@section scripts{
    <script type="text/javascript">
        var origenPedidoWebEstrategia = '@Constantes.OrigenPedidoWeb.RevistaDigitalDesktopProductPage';
        var tipoOrigenEstrategia = 172;
    </script>
<script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/EstrategiaPersonalizada/Index.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/EstrategiaPersonalizada/LocalStorage.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/Cupon/Cupon.js")"></script>
    @*<script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/Bienvenida/Estrategia.js")"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/RevistaDigital/RevistDigital-Landing.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/RevistaDigital/RevistaDigital.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/RevistaDigital/RevistaDigital-Suscripcion.js")"></script>
}