
@using Portal.Consultoras.Web.Models
@using System.Configuration
@using Portal.Consultoras.Common

@model Portal.Consultoras.Web.Models.RevistaDigitalModel
@{
    ViewBag.Title = "ÉSIKA PARA MÍ";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section styles{
    <link href="@Url.Content("~/Content/Css/Site/jquery.range.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Css/Site/slick-pedido.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Css/Site/flexslider.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/Site/Esika/revistaDigital.css")" rel="stylesheet" type="text/css" />
}
<!--MAQUETADO NUEVO-->

    @*<div class="logo_EPT_content">
        <div class="logo_EPT"><img src="@Url.Content("~/Content/Images/RevistaDigital/logo_EPT.png")" /></div>
    </div>
    <div class="texto_usuario_ept">
        @Html.Raw(Util.Trim(Model.Titulo))
        <span class="texto_light">@Model.TituloDescripcion</span>
    </div>*@
    
    <div class="home_block_rd" style="margin-top: 61px;">
        <div class="hblock"></div>
        <div class="content_belcorp" style="background-color: black; padding: 0 !important">
            <div class="rd_logo">
                <img src="@Url.Content("~/Content/Images/RevistaDigital/esika-para-mi-blanco2.svg")" height="70px">
            </div>
            <div class="hblock_text">
                <div class="hblock_tit">@Html.Raw(Util.Trim(Model.Titulo))</div>
                <div style="width: 85%">@Model.TituloDescripcion</div>
            </div>
        </div>
    </div>

<hr class="clear" />
<input type="hidden" name="estadoAccion" id="hdEstadoAccion" value="@Model.EstadoAccion" />
@if (Model.ListaTabs.Any())
{
    <div class="content_tabs_landing">
        <div class="content_tabs_bpt">
            <ul class="tabs_pagos" data-tab="tab">
                @foreach (var tabs in Model.ListaTabs)
                {
                    <li>
                        <a href="javascript:;" id="@tabs.Id" data-tag="@tabs.Id">
                            <div class="texto_tab_pagos">@tabs.Descripcion</div>
                            <div class="marcador_tab oculto"></div>
                        </a>
                    </li>
                }
                <hr id="barCursor">
            </ul>
        </div>
    </div>
}
<hr class="clear" />

@if (Model.EstadoAccion == 1)
{
    // Productos Misma campaña
}
else if (Model.EstadoAccion == 2)
{
    // Productos Diferente campaña
}
else if (Model.EstadoAccion == 3)
{
    // tabs => Misma Campaña - Diferente campaña
}

@if (Model.EstadoInformativa == 1)
{
    // Mostrar pagina informativa
}


<div style="display: none;" data-tag-html="1">

        <div class="catalogoPersonalizadoBloque">
            <div class="content_belcorp">
                <div class="content_slider_ept" id="divCarruselLan" data-OrigenPedidoWeb="@Constantes.OrigenPedidoWeb.RevistaDigitalDesktopLandingCarrusel" data-lista-producto-cantidad="@((Model.ListaProducto ?? new List<EstrategiaPedidoModel>()).Count())">
                    @Html.Partial("~/Views/RevistaDigital/template-lan.cshtml", Model)
                </div>
            </div>
        </div>
    }
    catch(Exception e)
    {
        <p style="color: red;"> Error del html @e.Message</p>
    }
    @try
    {
        <hr class="clear"/>
        <div class="BloqueLandingRD">
            <div class="content_belcorp">
                <div>
                    <div class="titulo_pagina">MIS OFERTAS</div>
                    <div id="divFiltros">
                        <select class="marca_ept" data-filtro-tipo="fijo" data-filtro-campo="marca">
                            @foreach (var item in Model.FiltersByBrand)
                            {
                                <option value="@item.Codigo">@item.Descripcion</option>
                            }
                        </select>
                        <select class="marca_ept" data-filtro-tipo="fijo" data-filtro-campo="precio" data-filtro-accion="orden">
                            @foreach (var item1 in Model.FiltersBySorting)
                            {
                                <option value="@item1.Codigo">@item1.Descripcion</option>
                            }
                        </select>
                    </div>
                    @*<div class="content_buscador_landing">
                        <input type="text" placeholder="ESCRIBE AQUÍ EL PRODUCTO QUE BUSCAS">
                        <a class="buscar_landing_ept">BUSCAR</a>
                </div>*@
                    <hr class="clear"/>
                    <div id="divCantProductos" class="cantidad_productos_fav" style="float: none; text-align: right; margin-bottom: 20px;">
                        <div style="display: inline-block;">
                            Mostrando <span id="spnCantidadFiltro">0</span> de <span id="spnCantidadTotal">0</span> productos
                        </div>
                        <div style="display: inline-block; margin: 0 0 0 15px;">
                            <div id="div-delete-filters" style="display: none; margin-right: 0px;">
                                <a href="javascript:;" class="link-ffc_landing" data-filtro-tipo="borrar" style="text-decoration: underline;">Borrar Filtros</a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="clear"/>
                <div data-listado-campania="">
                    <hr class="clear"/>
                    <div id="divOfertaProductos" style="text-align: center;"></div>
                    <hr class="clear"/>
                    <div id="divOfertaProductosLoad" style="text-align: center; min-height:150px;padding: 50px;">Cargando Productos<br></div>
                    <hr class="clear" />
                </div>
            </div>
            <hr class="clear"/>
        </div>
    catch (Exception e)
    {
        <p style="color: red;"> Error del html @e.Message</p>
    }
    
</div>
<div id="divMensajeProductoAgregado" class="divAgregarShowRoom" style="display: none;">
    <div class="titulo_producto_agregado">
        ¡Has agregado <span id="spnNombreOfertaShowRoom">Hola</span> a tu pedido!
    </div>
    <div class="div_bonotes_producto">
        <div class="child_center_botones">
            <a class="volver_set" id="btnCerrarSet">VOLVER A SETS</a>
            <a class="volver_set2" href="@Url.Action("Index","Pedido")" id="btnIrMipedido">VER MI PEDIDO</a>
        </div>
    </div>
</div>

<hr class="clear" />
<div class="Vista3" style="display: none;" data-tag-html="0">
    <div class="content_gana_mas">
        <div class="content_revista_izquierda"><img src="@Url.Content("~/Content/Images/RevistaDigital/revista_izquierda.png")" /></div>
        
        <div class="content_texto_gana">
            <div style="width:406px;margin:0 auto;">
                <div class="titulo_gana_landing">INCREMENTA EN MÁS DE 20%* TUS GANANCIAS CON TU REVISTA ONLINE: </div>
                <div>
                    <div class="texto_resaltante_gana">GANA+</div>
                    <div class="texto_descripcion_resaltante">Hasta 65% dscto todas las campañas.</div>
                </div>
                <div>
                    <div class="texto_resaltante_gana">VENDE+</div>
                    <div class="texto_descripcion_resaltante">Encuentra los productos que tus clientes siempre te piden.</div>
                </div>
                <div>
                    <div class="texto_resaltante_gana">PUNTOS+</div>
                    <div class="texto_descripcion_resaltante">Todos los productos que compras en Ésika para mí también suman puntos.</div>
                </div>
            </div>           
        </div>
        <div class="content_revista_derecha"><img src="@Url.Content("~/Content/Images/RevistaDigital/celular_revista.png")" /></div>
        <hr class="clear" />      
    </div>
    <div class="content_funciona_esika">
        <div class="content_belcorp">
            <div class="titulo_funciona">¿cómo funciona ésika para mí?</div>
            <div class="bloque_respuesta">
                <img src="@Url.Content("~/Content/Images/RevistaDigital/icono1.png")" /><br />
                <b>En esta campaña</b> te inscribes a Ésika para mí, tu nueva revista online personalizada.
            </div>
            <div class="bloque_respuesta">
                <img src="@Url.Content("~/Content/Images/RevistaDigital/icono2.png")" /><br />
                <b>A partir de C-@Model.CampaniaMasDos </b>recibirás unicamente la versión online de tu revista. En C-@Model.CampaniaMasUno podrás visualizar las ofertas de la C-@Model.CampaniaMasDos e ir planificando el pedido de la próxima campaña.

            </div>
            <div class="bloque_respuesta">
                <img src="@Url.Content("~/Content/Images/RevistaDigital/icono3.png")" /><br />
                <b>En C-@Model.CampaniaMasDos </b>podrás comprar tus ofertas de Ésika para mí y disfrutar todos sus beneficios.
            </div>
        </div>
        <hr class="clear" />
    </div>
    <div class="content_belcorp">
        <div class="titulo_funciona">preguntas frecuentes</div>
        <div class="ept_preguntasRespuestas_accordion">
            <div class="box_pregunta_ept">
                <div class="tit_pregunta_ept">¿Qué es “Ésika para mí”? </div>
                <div class="text_respuesta_ept">Es tu revista online personalizada, con las mejores y exclusivas ofertas que se acomodan a tus preferencias y de tu negocio. Son las ofertas que sí o sí tus clientes te pedirán.</div>
            </div>
            <div class="box_pregunta_ept">
                <div class="tit_pregunta_ept">¿Las ofertas de “Ésika para mí” tienen algún descuento adicional? ¿O es su precio final lo que sale en el momento de la compra?</div>
                <div class="text_respuesta_ept">El precio que ves en “Ésika para mí” es el precio neto consultora, es el precio que deberás pagar una vez facturado tu pedido.</div>
            </div>
            <div class="box_pregunta_ept">
                <div class="tit_pregunta_ept">¿Las ofertas de “Ésika para mí” suman puntos a mi pedido? ¿Cuántos?</div>
                <div class="text_respuesta_ept">Sí, todas tus compras de ofertas en “Ésika para mí” suman puntos para los concursos y bonificaciones vigentes que tengas en ese momento.</div>
            </div>
        </div>
        <div class="ept_preguntasRespuestas_accordion2">
            <div class="box_pregunta_ept2">
                <div class="tit_pregunta_ept2">Mi amiga y yo tenemos el mismo producto, pero los precios son distintos. ¿Por qué?</div>
                <div class="text_respuesta_ept2">“Ésika para mí” ofrece ofertas personalizadas en función a tu historial de compra y preparará para ti las mejores ofertas en función a esto. De esta manera, las ofertas que figuren en tu “Ésika para mí” tendrán mayor probabilidad de venta, porque ya tienes clientes que seguramente estén interesados en estos.</div>
            </div>
            <div class="box_pregunta_ept2">
                <div class="tit_pregunta_ept2">¿Cuál es mi ganancia por la venta de los productos de “Ésika para mí”?</div>
                <div class="text_respuesta_ept2">Todos los precios son no comisionables (funciona como revista). La ganancia es el precio de catálogo del producto menos el precio de la revista online.</div>
            </div>
            <div class="box_pregunta_ept2">
                <div class="tit_pregunta_ept2">¿Por qué cancelaron mi revista impresa?</div>
                <div class="text_respuesta_ept2">Si no has recibido la revista impresa, es porque te debes haber suscrito por algunos de nuestros medios. En caso no desees recibir los beneficios de “Esika para mí”, puedes desafiliarte directamente desde Somosbelcorp. com en la sección ¿Qué és Ésika para mí? o llamando al call center de tu país. Una vez solicites retirarte de “Ésika para mí”, recibirás tu revista regular 2 campañas después.</div>
            </div>
        </div>
        <hr class="clear"/>
        
        <div class="descargarPreguntasRespuestas">
            <a href="@ConfigurationManager.AppSettings["UrlPreguntasFrecuentesRD"].Trim()" target="_blank">+ MÁS PREGUNTAS FRECUENTES</a>
        </div>
       
        <div id="divAnularSuscripcion">
            <div class="titulo_no_inscrita">
                ¿ya no quieres estar inscrita a ésika para mí?
            </div>
            <div class="texto_no_inscrita">al anular tu inscripción dejarás de recibir tu revista online <b>ésika para mí</b> Y volverás a recibir tu revista impresa en 2 campañas.</div>
            <div class="advertencia_no_inscrita">
                Tienes hasta el cierre de campaña para cancelar tu inscripción y garantizar la recepción de tu revista impresa dentro de dos campañas.
                Cualquier duda llama a @Model.NumeroContacto o haz click
                <a href="#" style="display: inline-block; text-decoration: underline;" class="belcorpChat">aquí</a>
            </div>
            <div class="btn_diagonal btn_stroke"> <a class="" href="javascript: RDDesuscripcion();">CANCELAR MI INSCRIPCIÓN</a> </div>
            <hr class="clear" />
            <div class="legal_gana_mas">*Comparación vs. consultoras que no compraron ofertas digitales de www.somosbelcorp.com. <br />Período evaluado: Dic. 2016 – Abr. 2017 (Perú y Chile).</div>
        </div>
        <div id="divMensajeAnularSuscripcion" style="display: none">
            <div class="titulo_no_inscrita">
                haz anulado tu inscripción con éxito
            </div>
            <div class="texto_no_inscrita">
                al anular tu inscripción dejarás de recibir tu revista online <b>ésika para mí</b> Y volverás a recibir tu revista impresa en 2 campañas.
            </div>
            <hr class="clear" />
            <div class="legal_gana_mas"></div>
        </div>
    </div>
</div>

<div id="DialogMensajesBanner" style="display: none;">
    <div class="message_text">
        Ocurrió un error en la comunicación o la sesión ha expirado. Por favor vuelva a autenticarse.
    </div>
</div>

<div data-OrigenPedidoWeb="@Constantes.OrigenPedidoWeb.RevistaDigitalDesktopLanding">
    @Html.Partial("~/Views/Bienvenida/template-opt.cshtml")
</div>

<div class="contenedor_popup_detalleCarousel" id="popupDetalleCarousel_lanzamiento" data-popup-main=""></div>
<script id="lanzamiento-template" type="text/x-handlebars-template">
    <div class="content_ficha_producto_nueva" data-popup-body="" data-item="">
        <a class="cerrar_fichaProducto" href="javascript:;" data-popup-close="popupDetalleCarousel_lanzamiento" title="Cerrar">
            <img src="/Content/Images/cerrar_04_blanco.png" alt="Cerrar">
        </a>
        <div data-item="" data-tipoestrategiaimagenmostrar="{{TipoEstrategiaImagenMostrar}}" data-cuv="">
            <input type="hidden" class="OrigenPedidoWeb" value="@Constantes.OrigenPedidoWeb.DesktopHomeOfertasParaTiPopUp" />
            <div data-compartir-campos="" style="display:none;">
                <input type="hidden" class="CUV" value="{{CUV2}}" />
                <input type="hidden" class="rsFBMensaje" value="" />
                <input type="hidden" class="rsFBRuta" value="{{UrlCompartirFB}}" />
                <input type="hidden" class="rsWAMensaje" value="" />
                <input type="hidden" class="rsWARuta" value="{{UrlCompartirFB}}" />
                <input type="hidden" class="rsFBRutaImagen" value="{{FotoProducto01}}" />
                <input type="hidden" class="rsWARutaImagen" value="{{FotoProducto01}}" />
                <input type="hidden" class="MarcaID" value="{{MarcaID}}" />
                <input type="hidden" class="MarcaNombre" value="{{DescripcionMarca}}" />
                <input type="hidden" class="Nombre" value="{{DescripcionCompleta}}" />
                <input type="hidden" class="ProductoDescripcion" value="{{DescripcionComercial}}" />
                <input type="hidden" class="Volumen" value="{{Volumen}}" />
                <input type="hidden" class="Palanca" value="OPT" />
            </div>
            <div class="content_left_ficha">
                {{#if_eq FlagMostrarImg '1'}}
                {{#if_eq TipoEstrategiaImagenMostrar '@Constantes.TipoEstrategia.Lanzamiento'}}
                <div class="etiqueta_producto">
                    <img src="{{ImagenURL}}" alt="Etiqueta Producto" />
                </div>
                {{/if_eq}}
                {{/if_eq}}
                <div class="content_ficha_producto">
                    <img id="fav_imagen_prod" src="{{FotoProducto01}}" style="max-width: 300px !important;">
                </div>
                <div class="compartir_redes_ficha" style="padding-left:0;margin-left: -16px;">
                    <div class="texto_compartelo">Compártelo con tus clientes</div>
                    <a class="btn_compartir_facebook_ficha" href="javascript: void(0);" data-compartir="FB">
                        <img src="@Url.Content("~/Content/Images/Mobile/Esika/facebook.png")" />
                    </a>
                    <hr class="clear">
                </div>
            </div>
            <div class="content_right_ficha">
                <div style="min-height:300px;">
                    <div {{#iff CodigoEstrategia 'ContainsArray' '[2002,2003]'}} class="content_left_ficha" {{/iff}}>
                        <div class="marca_producto">{{DescripcionMarca}}</div>
                        <div id="fav_nombre_prod" class="titulo_ficha_producto" data-prod-descripcion=""
                             {{#iff CodigoEstrategia '==' ''}} style="font-size:22px; line-height:30px;" {{/iff}}>
                            {{DescripcionCompleta}}
                        </div>
                    </div>
                    <div {{#iff CodigoEstrategia 'ContainsArray' '[2002,2003]'}} class="content_right_ficha" style="text-align:right;" {{/iff}}>
                        <div class="precio_ficha_producto">
                            {{#iff Precio '>' 0}}
                            <span class="producto_precio_normal">{{Simbolo}} {{PrecioTachado}}</span><br />
                            {{/iff}}
                            <div style="margin-top:-5px;"><span class="texto_precio_ficha">Precio para ti:</span>{{Simbolo}} {{PrecioString}}</div>
                        </div>
                    </div>
                    <hr class="clear">
                    <div data-estrategia="{{CodigoEstrategia}}">
                        {{#iff CodigoEstrategia '!=' ''}}
                        {{#iff CodigoEstrategia '==' '2001'}}
                        <div class="content_tonos" data-tono="" data-tono-select="{{CUVSelect}}" data-tono-digitable="1">
                            <div class="tono_select_opt">
                                <div class="content_tono_elegido texto_sin_tono" data-tono-change="1">
                                    <div class="tono_seleccionado" style="display:none;"><img src="~/Content/Images/showroom/no_disponible.png" alt=""></div>
                                    <div class="texto_tono_seleccionado">ELIGE TU TONO</div>
                                    <hr class="clear">
                                </div>
                                <div class="content_tonos_select" style="display:none;">
                                    {{#each this.Detalle as |Tono|}}
                                    <div class="content_tono_elegido" data-tono-change="2" data-tono-cuv="{{Tono.CUV}}" data-tono-nombre="{{Tono.NombreBulk}}" data-tono-descripcion="{{Tono.NombreComercial}}">
                                        <div class="tono_seleccionado"><img src="{{Tono.ImagenBulk}}" alt=""></div>
                                        <div class="texto_tono_seleccionado">{{Tono.NombreBulk}}</div>
                                        <hr class="clear" />
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                            <div class="content_tonos_maquillaje" data-tono-div="">
                                {{#each this.Detalle as |item1|}}
                                <div style="display: none;">
                                    <input type="hidden" name="nameMarcaID" id="Estrategia_hd_MarcaID" value="{{item1.MarcaID}}" />
                                    <input type="hidden" name="namePrecioCatalogo" id="Estrategia_hd_PrecioCatalogo" value="{{item1.PrecioCatalogo}}" />
                                </div>
                                <div id="fav_tono_{{item1.CUV}}" class="content_tono_detalle {{#iff item1.CUVSelect '!=' ''}}borde_seleccion_tono{{/iff}}" data-tono-cuv="{{item1.CUV}}" data-tono-change="2" data-tono-nombre="{{item1.NombreBulk}}" data-tono-descripcion="{{item1.NombreComercial}}">
                                    <img src="{{item1.ImagenBulk}}" alt="">
                                </div>
                                {{/each}}
                            </div>
                            <!--FIN-->
                        </div>
                        {{/iff}}
                        {{#iff CodigoEstrategia 'ContainsArray' '[2002,2003]'}}
                        <div class="titulo_contenido">CONTENIDO</div>

                        {{#each this.Detalle as |item1|}}

                        <div class="content_producto_tono" data-tono="" data-tono-select="{{item1.CUVSelect}}" data-tono-digitable="{{item1.Digitable}}" style="border-bottom: {{../Linea}};">
                            <div style="display: none;">
                                <input type="hidden" name="nameMarcaID" id="Estrategia_hd_MarcaID" value="{{item1.MarcaID}}" />
                                <input type="hidden" name="namePrecioCatalogo" id="Estrategia_hd_PrecioCatalogo" value="{{item1.PrecioCatalogo}}" />
                            </div>
                            <div class="content_left_ficha" data-tono-visible="" style="width:{{#iff item1.Digitable '==' '1'}}50%,{{else}}100%{{/iff}}; margin-right:0">
                                <div class="sub_nombre_producto">
                                    <span class="cantidad_producto_opt">x{{item1.Cantidad}} </span>
                                    <span data-tono-select-nombrecomercial="">{{item1.NombreComercial}}</span>
                                </div>
                            </div>
                            {{#iff item1.Digitable '==' '1'}}
                            <div class="content_right_ficha" style="width:50%;">
                                <div class="tono_select_opt">
                                    <div class="content_tono_elegido texto_sin_tono" data-tono-change="1">
                                        <div class="tono_seleccionado" style="display:none;"><img src="~/Content/Images/showroom/no_disponible.png" alt=""></div>
                                        <div class="texto_tono_seleccionado">ELIGE TU TONO</div>
                                        <hr class="clear">
                                    </div>
                                    <div class="content_tonos_select" style="width:102%;">
                                        {{#each item1.Hermanos as |tono|}}
                                        <div class="content_tono_elegido" data-tono-change="2" data-tono-cuv="{{tono.CUV}}" data-tono-nombre="{{tono.NombreBulk}}" data-tono-descripcion="{{tono.NombreComercial}}">
                                            <div class="tono_seleccionado"><img src="{{tono.ImagenBulk}}" alt="PRODUCTO"></div>
                                            <div class="texto_tono_seleccionado">{{tono.NombreBulk}}</div>
                                            <hr class="clear">
                                        </div>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                            {{/iff}}
                            <hr class="clear" />
                        </div>
                        {{/each}}
                        {{/iff}}
                        {{/iff}}
                    </div>
                </div>
                <hr class="clear" />
                <div class="liquidacion_rango_home">
                    <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" data-input="cantidad" data-cantidad-input="-">
                    <div class="liquidacion_rango_right_pedido">
                        <a class="mas" data-cantidad-agregar="+"><img src="/Content/Images/Esika/mas.png" alt=""></a>
                        <a class="menos" data-cantidad-agregar="-"><img src="/Content/Images/Esika/menos.png" alt=""></a>
                    </div>
                </div>
                <a class="boton_Agregalo_home ficha_btn_agregar btn_desactivado_general" id="tbnAgregarProducto" onclick="javascript:CargarProductoDestacado({ EstrategiaID: '{{EstrategiaID}}' , TipoEstrategiaID: '{{TipoEstrategiaID}}' , Posicion: {{Posicion}} , FlagNueva: '{{FlagNueva}}' }, this, true);" style="cursor: pointer;">
                    AGRÉGALO
                </a>
                {{#if MostrarTextoLibre}}
                <div class="mensaje_advertencia_detalleCarousel" style="margin-top:10px; margin-left:0px;">
                    <span class="icono_advertencia_notificacion"></span>
                    <span>{{TextoLibre}}</span>
                </div>
                {{/if}}
            </div>
            <hr class="clear" />
        </div>
    </div>
</script>

<div class="contenedor_popup_detalleCarousel" id="popupDetalleCarousel_packNuevas"></div>
<script id="packnuevas-template" type="text/x-handlebars-template">
    <div class="popup_detalleCarousel packNuevas" data-popup-body="">
        <div class="btn_cerrar_detalleCarousel">
            <a href="javascript:;" onclick="return $('#popupDetalleCarousel_packNuevas').hide();" title="Cerrar">
                <img src="@Url.Content("~/Content/Images/btn_cerrar_popup.svg")" alt="Cerrar" />
                <span class="texto_btn_cerrar">CERRAR</span>
            </a>
        </div>
        <div class="contenido_popUp" data-item="packNueva" data-tipoestrategiaimagenmostrar="{{#if_eq FlagMostrarImg '1'}}{{TipoEstrategiaImagenMostrar}}{{/if_eq}}">
            <input type="hidden" class="OrigenPedidoWeb" value="@Portal.Consultoras.Common.Constantes.OrigenPedidoWeb.DesktopHomeOfertasParaTiPopUp" />
            <div class="bloque_producto_packNuevas">
                <div class="content_item_carrusel">
                    {{#if_eq FlagMostrarImg '1'}}
                    {{#if_eq TipoEstrategiaImagenMostrar '@Portal.Consultoras.Common.Constantes.TipoEstrategia.PackNuevas'}}
                    <div class="etiqueta_producto">
                        <img src="{{ImagenURL}}" alt="Etiqueta Producto" />
                    </div>
                    {{/if_eq}}
                    {{/if_eq}}
                    <div class="producto_img_home">
                        <img src="{{FotoProducto01}}">
                    </div>
                    <div class="etiqueta_producto">
                    </div>
                    <div class="producto_nombre_descripcion">
                        <h6>{{DescripcionMarca}}</h6>
                        <p class="nombre_producto">
                            <b>{{DescripcionCUVSplit}}</b>
                        </p>
                        <div class="producto_precio">
                            <span class="producto_precio_oferta"><b>{{Simbolo}} {{PrecioString}}</b></span>
                        </div>
                        <div class="monto_ganancia_producto">
                            <span>GANANCIA :</span><span>&nbsp;{{Simbolo}} {{PrecioTachado}}</span>
                        </div>
                        <a class="boton_Agregalo_home" onclick="javascript:CargarProductoDestacado({ EstrategiaID: '{{EstrategiaID}}' , TipoEstrategiaID: '{{TipoEstrategiaID}}' , Posicion: {{Posicion}} , FlagNueva: '{{FlagNueva}}' }, this, true, 1); ">
                            AGRÉGALO
                        </a>

                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="descripcion_set_packNuevas">
                <h6>Contenido del Set:</h6>
                <div class="descripcion_lista">
                    {{#each ArrayContenidoSet as |item|}}
                    <span>
                        {{item}}
                    </span>
                    {{/each}}
                </div>
                {{#if MostrarTextoLibre}}
                <div class="mensaje_advertencia_detalleCarousel">
                    <span class="icono_advertencia_notificacion"></span>
                    <span>{{TextoLibre}}</span>
                </div>
                {{/if}}
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</script>

<div class="flecha_scroll">
    <a href="javascript:;" title="Flecha Scroll" class="enlace_scroll">
    </a>
</div>

@section scripts{
    <script type="text/javascript">
        var urlLoad = '@Url.Content("~/Content/Images/loading_spinner.gif")';
        var tipoOrigenPantalla = 1;
        var precioMin = '@Model.PrecioMin';
        var precioMax = '@Model.PrecioMax';
        var urlOfertaDetalle = '@Url.Action("Detalle", "RevistaDigital")';
        var urlOfertaCargarProductos = '@Url.Action("GetProductos", "RevistaDigital")';
        var origenPedidoWebEstrategia = '@Constantes.OrigenPedidoWeb.RevistaDigitalDesktopLanding';
        var tipoOrigenEstrategia = 17;
        var estadoAccion = '@Model.EstadoAccion';
        var dosCam = 0;
        try {
            dosCam = '@Model.CampaniaMasDos';
        } catch (e) {
           console.log(e);
        }
    </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.flexslider.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/slick.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.range.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/Bienvenida/Estrategia.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/OfertasParaTi/Ofertas.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/RevistaDigital/RevistaDigital.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/RevistaDigital/RevistaDigital-Suscripcion.js")"></script>
}
