@using Portal.Consultoras.Common

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section styles{

    <link href="@Url.Content("~/Content/Css/Site/jquery.range.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Css/Site/slick-pedido.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Css/Site/flexslider.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/Site/Esika/revistaDigital.css")" rel="stylesheet" />
}
<div class="content_belcorp">
    <div class="cabecera_esikaParaMi">
        <div class="cabecera_fondo_rojo"></div>
        <div class="cabecera_logoMarca">
            <img src="/Content/Images/esika-para-mi-img-blanco.svg" alt="Ésika Para Mí">
        </div>
        <div class="cabecera_content">
            <span>INSCRÍBETE A TU NUEVA REVISTA ONLINE PERSONALIZADA</span>
            <span>Y APROVECHA LOS BENEFICIOS REEMPLAZANDO TU REVISTA IMPRESA POR TU REVISTA ONLINE</span>
        </div>
        <div class="cabecera_boton_inscribeteAEsikaParaMi">
            <button type="button" onclick="RDSuscripcion()">INSCRIBIRME A &Eacute;SIKA PARA M&Iacute;</button>
            <span>Al inscribirte estas aceptando los <a href="#" title="Términos y Condiciones" target="_blank">T&eacute;rminos y Condiciones.</a></span>
        </div>
    </div>
    <div class="imagen_modeloRevistaDigital">
        <img src="@Url.Content("~/Content/Images/mujer-seccion-revista-bienvenida.png")" alt="Modelo Ésika Para Mí" />
    </div>
    <div class="contenido_esikaParaMi">
        <div class="contenido_comoFuncionaEsikaParaMi">
            <h4>¿C&Oacute;MO FUNCIONA &Eacute;SIKA PARA M&Iacute;?</h4>
            <div class="contenido_pasos_comoFunciona">
                <span>1</span>
                <span><b>Te inscribes</b> a &Eacute;sika para m&iacute; en esta campaña.</span>
            </div>
            <div class="contenido_pasos_comoFunciona">
                <span>2</span>
                <span>En la C-11 podr&aacute;s <b>ver todas tus ofertas.</b></span>
            </div>
            <div class="contenido_pasos_comoFunciona">
                <span>3</span>
                <span>En <b>C-12 podr&aacute;s comprar</b> tus ofertas de &Eacute;sika para m&iacute;.</span>
            </div>
        </div>
        <div class="contenido_comoFuncionaEsikaParaMi fondoContenido">
            <h4>SER&Aacute; UN &Eacute;XITO</h4>
            <div class="contenido_beneficiosEsikaParaMi">
                <span>GANA +</span>
                <span>Hasta 65% dscto todas las campañas.</span>
            </div>
            <div class="contenido_beneficiosEsikaParaMi">
                <span>VENDE +</span>
                <span>Encuentra los productos que tus clientes siempre te piden.</span>
            </div>
            <div class="contenido_beneficiosEsikaParaMi">
                <span>+ PUNTOS</span>
                <span>Todos los productos que compras en &Eacute;sika para m&iacute; suman puntos.</span>
            </div>
        </div>
    </div>
    <div class="contenido_desenfocado">
        <div class="fondo_sobreContenidoDesenfocado">
            <div class="contenido_fondoDesenfocado">
                <span>OFERTAS DISPONIBLES CON TU INSCRIPCI&Oacute;N</span>
                <span>INSCR&Iacute;BETE A &Eacute;SIKA PARA M&Iacute; Y ACCEDE A OFERTAS, BONIFICACIONES, Y LANZAMIENTOS DE LAS 3 MARCAS.</span>
                <button type="button" onclick="RDSuscripcion()">INSCRIBIRME A &Eacute;SIKA PARA M&Iacute;</button>
                <span>Al inscribirte estas aceptando los <a href="#" title="Términos y Condiciones">T&eacute;rminos y Condiciones</a> y recibir&aacute;s tu Revista &uacute;nicamente por v&iacute;a online, en campaña 12</span>
            </div>
        </div>
        <div class="grupo_imagenes_carrusel_desenfocadas">
            <img src="@Url.Content("~/Content/Images/img-carrusel1.png")" alt="Carrusel 1" />
        </div>
        <div class="grupo_imagenes_carrusel_desenfocadas">
            <img src="@Url.Content("~/Content/Images/img-carrusel2.png")" alt="Carrusel 2" />
        </div>
    </div>
    @*<div class="logo_EPT_content">
            <div class="logo_EPT">
                <img src="@Url.Content("~/Content/Images/RevistaDigital/logo_EPT.png")"/>
            </div>
        </div>

        <div class="texto_usuario_srd">
            INSCRÍBETE A TU NUEVA REVISTA ONLINE PERSONALIZADA<br/>
            <span class="texto_light">Inscríbete y aprovecha los beneficios <br/>que te harán ganar más.</span>
        </div>
        <div class="botones_cabecera_srd">
            <button type="button" onclick="RDSuscripcion()">INSCRIBIRME A &Eacute;SIKA PARA M&Iacute;</button><br/>
            <span>Al inscribirte estas aceptando los Términos y Condiciones.</span>
        </div>
        <hr class="clear"/>
        <div class="backgroud2_srd"></div>*@
</div>
<!-- POPUP INSCRITA A REVISTA DIGITAL -->
<div class="Content_general_pop_up" id="PopRDInscrita" data-popup-main="" style="display:none;">
    <div class="contenedor_popup_inscritaRevistaDigital" data-popup-body="">
        <a class="cerrar_fichaProducto" style="top:1px; right:-35px;" href="javascript: CerrarPopup('#PopRDInscrita');">
            <img src="/Content/Images/cerrar_04_blanco.png" alt="Cerrar">
        </a>
        <div class="popup_estasInscritaRevistaDigital">
            <div class="contenido_felicitaciones">
                <span>¡FELICIDADES <span class="nombre_usuariaInscrita" data-usuario="">YULIANA</span>!</span>
                <span>Est&aacute;s inscrita a &Eacute;sika para m&iacute;</span>
            </div>
            <div class="contenido_recuerdaIngresar">
                <span>Recuerda ingresar a somosbelcorp.com desde los primeros d&iacute;as de la pr&oacute;xima campaña.</span>
            </div>
            <a href="javascript: RDSuscripcionRedireccionar()" class="link_entendido" title="Entendido">ACEPTAR</a>
        </div>
    </div>
</div>

<!-- FIN POPUP INSCRITA A REVISTA DIGITAL -->
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/RevistaDigital/RevistaDigital-Suscripcion.js")"></script>
}