@using System.Configuration
@using Portal.Consultoras.Common

@model Portal.Consultoras.Web.Models.RevistaDigitalModel
@{
    ViewBag.Title = "ÉSIKA PARA MÍ";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section styles{
    <link href="@Url.Content("~/Content/Css/Site/slick-pedido.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Css/Site/flexslider.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/Site/Esika/revistaDigital.css")" rel="stylesheet" type="text/css" />

    <style>
    .SubHeader{
        display:none;
    }
    .bc_barra_opciones{
            height: 100%;
    background: black;
    position: fixed;
    width: 7%;
    margin-top:62px;
    top: 0;
        z-index: 10;
    }
    ul.bc_opciones{
        padding: 0;
        margin:0;
        height: 100%;
        list-style: none;
    }
    ul.bc_opciones li{
        width:100%;
    }
    ul.bc_opciones li a{
            display: block;
    color: white;
    padding: 10px;
    word-wrap: break-word;
    text-align: center;
    transition:.3s;
        padding: 20px 0px;
    }
    ul.bc_opciones li a::after{
            content: '';
    width: 50px;
    background: red;
    height: 1px;
    display: block;
    margin: auto;
    margin-top: 10px;
    display: none;
    transition:.3s;
    }
    ul.bc_opciones li a:hover::after{
        display: block;
    }
    ul.bc_opciones li img.icono-menu{
        display: block;
        margin:auto;
            margin-bottom: 10px;
    }
    ul.bc_opciones span.bc_campana{
        font-size: 13px;
    }
    ul.bc_opciones li ul{
        padding: 0;
            height: 100%;
        margin:0;
        list-style: none;
        position: absolute;
        left: 100%;
        top:0;
        display: block;
        z-index:1;
        width: 125px;
        background: #f5f4f4;
         transition:2s;
            -webkit-transition:2s;
        -moz-transition:2s;
    }
    ul.bc_opciones li ul li{
        transition:.3s;
    }
    ul.bc_opciones li ul li:hover{
             box-shadow: -4px 0px 10px 0px rgba(0, 0, 0, 0.28);

    }

    ul.bc_opciones li ul li a{
            color: #929292;
        text-decoration: none;
        transition:.3s;
            border-bottom: 1px solid rgba(0, 0, 0, 0.10);
            padding: 20px 10px;
    }
    ul.bc_opciones li ul li a:hover{
        color:#333;
    }
    ul.bc_opciones li ul li a:hover::after{
        display: none;
    }
    ul.bc_opciones li ul li a p{
        text-transform: uppercase;
        display: block;
        text-align: left;
            margin-bottom: 5px;
        transition:.3s;
    }
    ul.bc_opciones li ul li a .separa-titulo{
           display: block;
    border: 1px solid #929292;
    /* height: 10px; */
    width: 20px;
    margin-bottom: 7px;
    margin-left: 0;
    margin-top: 0;
        }
    ul.bc_opciones li ul li a span{
        display: block;
        text-align: left;
    }

    .bc_contenido{
        margin-left: 16%;
        margin-top:30px;
    }
    .bc_contenido a.btn-comprar{
           background: black;
    color: white;
    letter-spacing: 1px;
    padding: 10px;
    text-decoration: none;
    margin: auto;
    width: 200px;
    /* bottom: 0; */
    display: inline-block;
    margin-top: 36px;
    text-align: center;
    }
    .bc_contenido .bc_venta_exclusiva{
            background: url(@Url.Content("~/Content/Images/RevistaDigital/DIADELAMOR_FONDO.png"));
    background-size: cover;
    height: 570px;
    background-repeat: no-repeat;
    background-position: left top;


    }
    .bc_contenido .bc_ofertas_personalizadas{
             background: url(@Url.Content("~/Content/Images/RevistaDigital/bc_ofertas_personalizadas.png"));
    background-size: contain;
        height: 560px;
    background-repeat: no-repeat;
    background-position: left top;
    padding: 70px 0px;
    margin-top: -50px;

    }
    .bc_contenedor_showroom{
       margin: auto;
    /* padding: 0px 250px; */
    display: block;
    text-align: center !important;
    width: 750px;
    padding-top: 75px;
    }
    .bc_adorno1{
            position: absolute;
    margin-top: -34px;
    }
    .bc_adorno2{
            position: absolute;
    margin-top: -34px;
    right:0;
    }
    .bc_adorno3{
               position: absolute;
    margin-top: 11px;
    left: 0;
    margin-left: 11%;
    }
    .bc_vineta_baja{
    width:100%;
    margin:60px 0px;
    }
    .bc_vineta_baja img{
        display: block;
        margin: auto;
        width:50px;
    }
    .bc_showroom {
        margin-bottom: 20px;
    }
    .bc_showroom span.txt1{
        color:#cb1723;
        border-top:1px solid #cb1723;
        border-bottom: 1px solid #cb1723;
        letter-spacing: 2px;
        font-weight: bolder;
    font-size: 15px;

    }
    .bc_showroom span.txt2{
        color:#333;
        letter-spacing: 1.5px;
        font-weight: bolder;
        font-size: 12px;
        margin-left: 20px;
    }
    .revistadigital-landing .content_item_carrusel{
            box-shadow: none !important;
    }
        .bc_contenido .bc_venta_exclusiva_recomendado{
            background: url(@Url.Content("~/Content/Images/RevistaDigital/ofertas_personalizadas.png"));
    background-size: cover;
    height: 500px;
    background-repeat: no-repeat;
    background-position: left center;
    }
        .bc_contenido .bc_venta_exclusiva_recomendado .bc_showroom2{
        text-align:left;
        }
        .bc_contenido .bc_venta_exclusiva_recomendado .bc_showroom2 span.txt1 {
        color: #cb1723;
    border-top: 1px solid #cb1723;
    border-bottom: 1px solid #cb1723;
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: 15px;
}
  .bc_contenido .bc_venta_exclusiva_recomendado .bc_showroom2 span.txt2 {
    color: #333;
    letter-spacing: 1.5px;
    font-weight: bolder;
    font-size: 12px;
    margin-left: 20px;
}
        .bc_contenido .bc_venta_exclusiva_recomendado  a.btn-comprar {
    background: black;
    color: white;
    letter-spacing: 1px;
    padding: 10px;
    text-decoration: none;
    margin: auto;
    width: 200px;
    /* bottom: 0; */
    display: inline-block;
    margin-top: 25px;
    text-align: center;
}
        .bc_contenido .bc_venta_exclusiva_recomendado .bc_contenedor_showroom {
    margin: auto;
    /* padding: 0px 250px; */
    display: block;
    text-align: center !important;
    width: 750px;
    padding-top: 65px;
}
    </style>
}

<!--<div class="home_block_rd" style="margin-top: 61px;">
    <div class="hblock"></div>
    <div class="content_belcorp" style="background-color: black; padding: 0 !important">
        <div class="rd_logo">
            <img src="@Url.Content("~/Content/Images/RevistaDigital/esika-para-mi-blanco2.svg")" height="70px">
        </div>
        <div class="hblock_text">
            <div class="hblock_tit">@Html.Raw(Util.Trim(Model.Titulo))</div>
            <div style="width: 85%">@Model.TituloDescripcion</div>
        </div>
    </div>
</div>-->

<hr class="clear" />
<div class="bc_barra_opciones">
    <ul class="bc_opciones">
        <li>
            <a href="#"><img src="@Url.Content("~/Content/Images/RevistaDigital/carrito.png")" class="icono-menu" alt="">COMPRAR <br><span class="bc_campana">C - 14</span></a>
            <ul class="default">
                <li><a href=""><p>Inicio</p><div class="separa-titulo"></div><span>Lanzamientos y novedades</span></a></li>
                <li><a href=""><p>DIA DEL AMOR Y LA AMISTAD</p><div class="separa-titulo"></div><span>Ofertas hasta 65% de Dscto.</span></a></li>
                <li><a href=""><p>MIS OFERTAS</p><div class="separa-titulo"></div><span>Ofertas creadas para tí.</span></a></li>
            </ul>
        </li>
        <li>
            <a href="#"><img src="@Url.Content("~/Content/Images/RevistaDigital/corazon.png")" class="icono-menu" alt="">REVISAR <br><span class="bc_campana">C - 15</span></a>
            <ul>
                <li><a href=""><p>MIS OFERTAS</p><div class="separa-titulo"></div><span>Lanzamientos y novedades</span></a></li>
                <li><a href=""><p>DIA DEL AMOR Y LA AMISTAD</p><div class="separa-titulo"></div><span>Ofertas hasta 65% de Dscto.</span></a></li>
                <li><a href=""><p>Inicio</p><div class="separa-titulo"></div><span>Ofertas creadas para tí.</span></a></li>
            </ul>
        </li>
        <li>
            <a href="#"><img src="@Url.Content("~/Content/Images/RevistaDigital/interrogacion.png")" class="icono-menu" alt="">SABER <br>MÁS</a>
            <ul>
                <li><a href=""><p>DIA DEL AMOR Y LA AMISTAD</p><div class="separa-titulo"></div><span>Lanzamientos y novedades</span></a></li>
                <li><a href=""><p>MIS OFERTAS</p><div class="separa-titulo"></div><span>Ofertas hasta 65% de Dscto.</span></a></li>
                <li><a href=""><p>Inicio</p><div class="separa-titulo"></div><span>Ofertas creadas para tí.</span></a></li>
            </ul>
        </li>
    </ul>
</div>
<div class="bc_contenido">
    <div class="bc_venta_exclusiva" style="background:none; background-color:white;">
        slider aqui
    </div>
    <div class="bc_vineta_baja" style="margin-bottom:15px;">
        <img src="@Url.Content("~/Content/Images/RevistaDigital/Vector.png")" alt="">
    </div>
    <div class="bc_venta_exclusiva">
        <div class="bc_contenedor_showroom">
            <p class="bc_showroom">
                <span class="txt1" style="color:white; border-bottom:1px solid white; border-top:1px solid white;">
                    VENTA EXCLUSIVA WEB
                </span>
                <span class="txt2" style="color:white; font-weight:normal;">
                    HASTA <b>65% DE DSCTO</b> EN SETS EXCLUSIVOS ONLINE
                </span>
            </p>
        </div>
      @*<div style="height: 350px; overflow: hidden; width: 1020px; margin: 55px auto auto;" data-tag-html="201712">
                <div id="divOfertaProductos" data-content-item="@Model.CampaniaID" style="text-align: center;"></div>
            </div> *@
        <div class="bc_contenedor_showroom" style="padding-top: 0;
    margin-top: -25px;">
            <a href="" class="btn-comprar">!COMPRA YA!</a>
        </div>
    </div>
    <div class="bc_vineta_baja" style="margin-bottom:10px;">
        <img src="@Url.Content("~/Content/Images/RevistaDigital/Vector.png")" alt="">
    </div>
    <div class="bc_venta_exclusiva_recomendado" style="background:url(@Url.Content("~/Content/Images/RevistaDigital/bc_ofertas_personalizadas.png")); background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: right top;">
        <div class="bc_contenedor_showroom" style=" padding-top 74px;">
            <p class="bc_showroom2">
                <span class="txt1">
                    RECOMENDADAS PARA TÍ
                </span>
                <span class="txt2">
                    OFERTAS PERSONALIZADAS PARA TU NEGOCIO
                </span>
            </p>
        </div>
      <div style="display: none; height: 370px; overflow: hidden; width: 1020px;  margin: auto; margin-top: 20px;" data-tag-html="201712">
        <div id="divOfertaProductos" data-content-item="@Model.CampaniaID" style="text-align: center;"></div>
    </div> 
        <div class="bc_contenedor_showroom" style="padding-top: 0;
    margin-top: -25px;">
            <a href="" class="btn-comprar">VER TODAS MIS OFERTAS</a>
        </div>
    </div>
    <div class="bc_vineta_baja">
        <img src="@Url.Content("~/Content/Images/RevistaDigital/VectoruP.png")" alt="">
    </div>
</div>

<hr class="clear" />
<div data-OrigenPedidoWeb="@Constantes.OrigenPedidoWeb.RevistaDigitalDesktopLanding">
    @Html.Partial("~/Views/EstrategiaPersonalizada/template-producto-landing.cshtml")
</div>

<div class="contenedor_popup_detalleCarousel" id="popupDetalleCarousel_lanzamiento" data-popup-main=""></div>
@Html.Partial("~/Views/EstrategiaPersonalizada/template-producto-verdetalle.cshtml")

<div class="contenedor_popup_detalleCarousel" id="popupDetalleCarousel_packNuevas"></div>
@Html.Partial("~/Views/EstrategiaPersonalizada/template-producto-packnueva.cshtml")

@Html.Partial("~/Views/EstrategiaPersonalizada/template-lanzamiento-carrusel.cshtml")
@Html.Partial("~/Views/RevistaDigital/template-mensaje-bloqueado.cshtml", Model.MensajeProductoBloqueado)
@Html.Partial("~/Views/RevistaDigital/template-mensaje-inscrita.cshtml")

<div class="flecha_scroll">
    <a href="javascript:;" title="Flecha Scroll" class="enlace_scroll"></a>
</div>

@section scripts{
    <script type="text/javascript">
        var urlLoad = '@Url.Content("~/Content/Images/loading_spinner.gif")';
        var tipoOrigenPantalla = 1;
        var urlOfertaCargarProductos = '@Url.Action("RDObtenerProductos", "RevistaDigital")';
        var urlOfertaDetalleProducto = '@Url.Action("Detalle", "RevistaDigital")';
        var urlOfertaDetalleProductoTem = '@Url.Action("GuardarProductoTemporal", "RevistaDigital")';
        var urlTerminosCondicionesRD = '@ConfigurationManager.AppSettings["UrlTerminosCondicionesRD"].Trim()';
        var urlRevistaDigital = '@Url.Action("Index", "RevistaDigital")';
        var origenPedidoWebEstrategia = '@Constantes.OrigenPedidoWeb.RevistaDigitalDesktopLanding';
        var tipoOrigenEstrategia = 17;
        var CantidadFilas = @Model.CantidadFilas;
        var mayormenor = '@Constantes.ShowRoomTipoOrdenamiento.ValorPrecio.MayorAMenor';
        var menormayor = '@Constantes.ShowRoomTipoOrdenamiento.ValorPrecio.MenorAMayor';
        var tieneMasVendidos = 0;

    /*ejecutar menu modo desktop*/
    $('ul.bc_opciones li ul li a').hover(function(e) {
        $(this).find('p').css('font-weight', 'bolder')
    }, function(e) {
        $(this).find('p').css('font-weight', 'normal')
    });

    $('ul.bc_opciones li').hover(function(e) {
        $(this).find('ul').css({
            display: "block"
        });
    }, function(e) {
        $(this).find('ul').css({
            display: "none"
        });
        $("ul.bc_opciones li ul.default").css({
            display: "block"
        });
    });

    /*$("ul.bc_opciones li ul").mouseleave(function(){
        $("ul.bc_opciones li ul.default").css("display", "block !important");
    }); */

   /* $("ul.bc_opciones").mouseleave(function(e){
        $("ul.bc_opciones li ul.default").css("display", "block !important");
    });*/

    </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.flexslider.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/slick.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/EstrategiaPersonalizada/Index.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/EstrategiaPersonalizada/LocalStorage.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/Cupon/Cupon.js")"></script>
    @*<script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/Bienvenida/Estrategia.js")"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/RevistaDigital/RevistDigital-Landing.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/RevistaDigital/RevistaDigital.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/RevistaDigital/RevistaDigital-Suscripcion.js")"></script>
}
