
<div class="Content_general_pop_up" id="PopRDSuscripcion" style="display: none;">
    <div class="popup_rd_bloqueado popup_confirmacion_datos">
        <a class="cerrar_fichaProducto" style="position: absolute; top:0px; right: -35px;" href="javascript:;" data-popup-close="PopRDSuscripcion">
            <img src="/Content/Images/cerrar_04_blanco.png" alt="" alternate="" text="">
        </a>
        <div class="contenido-table-datos">
            <div class="cont-datos">
                <div class="form_datos">
                    <p class="felicidades">FELICIDADES @ViewBag.NombreConsultora</p>
                    <p class="estasganando">¡YA ESTÁS SUSCRITA!</p>
                    <span class="confirmanos">
                        Confírmanos tus datos <b>y además de los beneficios del Club</b>, podrás recibir los mejores tips para ganar.
                    </span>
                    <div class="form-datos">
                        <div class="input">
                            <img src="~/Content/Images/mailIcon.png" alt="">
                            <input id="CorreoAnterior" type="hidden" value="@ViewBag.EMail"  />
                            <input id="Email" type="text" class="txtformvalidar" value="@ViewBag.EMail" placeholder="Tu correo electrónico"/>
                        </div>
                        <div class="input">
                            <img src="~/Content/Images/phoneIcon.png" alt="" class="phone">
                            <input type="hidden" id="hdn_CaracterMinimo" value="@ViewBag.limiteMinimoTelef" />
                            <input id="Celular" type="text" value="@ViewBag.Celular" placeholder="Tu teléfono" class="txtformvalidar" onkeydown="return limitarMaximo(event,this.value,@ViewBag.limiteMaximoTelef,'Celular')" />
                        </div>
                        <button onclick="javascript:return RDConfirmarDatos();">CONFIRMAR DATOS</button>
                        <div class="input">
                            <img src="~/Content/Images/alertIcon.png" alt="" class="info">
                            <span>
                                No olvides buscar nuestro mail en tus correos no deseados y/o promociones y agregarlo como remitente seguro.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

