@model Portal.Consultoras.Web.Models.RevistaDigitalModel

@foreach (var lan in Model.ListaProducto)
{
    <div class="content_item_ept" data-item="" data-ImgPrevia="@lan.EstrategiaDetalle.ImgPrevDesktop" data-estrategia="@Json.Encode(lan)">
        <div style="display:none;"></div>
        <div>
            @if (lan.EstrategiaDetalle.ImgFichaDesktop != "")
            {
                <div class="etiqueta_nuevo_ept">
                    <img src="@lan.EstrategiaDetalle.ImgFichaDesktop" alt="" style="max-height:50px;" />
                </div>
            }
            <div class="detalle_set_banner">
                <div class="content_set_imagen_banner">
                    <img src="@lan.FotoProducto01" alt="" />
                </div>
                @if (lan.DescripcionResumen != "")
                {
                    <div class="titulo_set_banner_ept">@lan.DescripcionResumen</div>
                }
                <div class="detalle_set_banner_ept">
                    @lan.DescripcionCortada
                </div>
                <div class="producto_nombre_descripcion">
                    <div class="producto_precio" style="margin-bottom: 3px;">
                        @if (lan.Precio > 0)
                        {
                            <span class="precio-oferta-normal">@lan.Simbolo @lan.PrecioTachado</span>
                        }
                        <span class="precio-oferta-venta"><b>@lan.Simbolo @lan.PrecioString</b></span>
                    </div>
                </div>
                <div class="producto_nombre_descripcion">
                    @if (Model.IsMobile)
                    {
                        <div class="liquidacion_rango_home">
                            <a class="cantidad_menos_home" tabindex="0"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
                            <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" data-input="cantidad" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" tabindex="0">
                            <a class="cantidad_mas_home" tabindex="0"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
                        </div>
                        <div class="clear"></div>
                    }
                    else
                    {
                        <div class="liquidacion_rango_home" data-cantidad-contenedor="">
                            <input type="text" value="1" min="1" max="99" size="2" maxlength="2" class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" oninput="maxLengthCheck(this, 2)" onkeypress=" return FuncionesGenerales.ValidarSoloNumeros(event); " data-input="cantidad" data-cantidad-input="-">
                            <div class="liquidacion_rango_right_pedido">
                                <a class="mas" data-cantidad-agregar="+" href="javascript:;"><img src="/Content/Images/Esika/mas.png" alt=""></a>
                                <a class="menos" data-cantidad-agregar="-" href="javascript:;"><img src="/Content/Images/Esika/menos.png" alt=""></a>
                            </div>
                        </div>
                    }
                    <a class="boton_Agregalo_home" href="javascript:;" onclick="javascript:CargarProductoDestacado({ EstrategiaID: '@lan.EstrategiaID' , TipoEstrategiaID: '@lan.TipoEstrategiaID' , Posicion: @lan.Orden , FlagNueva: '@lan.FlagNueva' }, this); ">
                        AGRÉGALO
                    </a>
                    <div class="clear"></div>
                    <div style="padding-top:9px; height: 15px;">
                        <div class="agregado product-add" style="text-align:right;display:@(lan.IsAgregado ? "block" : "none");" >
                            AGREGADO
                            <div class="icono"></div>
                        </div>
                    </div>
                </div>
                <a class="btn_mas_info_set rd_ver_mas" href="javascript: window.location = '@Url.Action("Detalle", "RevistaDigital", new { area = Model.IsMobile ? "Mobile" : "" })/@lan.EstrategiaID';">ver más de este producto
                    
                </a>
            </div>
        </div>

        @if (lan.EstrategiaDetalle.ImgFondoDesktop != "")
        {
            <div class="imagen_fondo">
                <img src="@lan.EstrategiaDetalle.ImgFondoDesktop" alt="" />
            </div>
        }
    </div>
}