@model Portal.Consultoras.Web.Models.RevistaDigitalInformativoModel

<div class="Content_general_pop_up" id="PopRDSuscripcion" style="display:none;">
    <div class="popup_rd_bloqueado popup_confirmacion_datos">
        <a class="cerrar_fichaProducto" style="position: absolute; top:0px; right: -35px;" href="javascript:;" data-popup-close="PopRDSuscripcion">
            <img src="/Content/Images/cerrar_04_blanco.png" alt="" alternate="" text="">
        </a>
        <div class="contenido-table-datos">
            <div class="cont-datos">
                <div class="form_datos">
                    <p class="felicidades">¡FELICIDADES @Model.NombreConsultora!</p>
                    <p class="estasganando">
                        @if (Model.EsSuscripcionInmediata)
                        {
                            <text>YA ESTÁS SUSCRITA </text>
                        }
                        else
                        {

                            <text>DISFRUTA LOS BENEFICIOS DESDE LA CAMPAÑA  </text> @Model.CampaniaX1
                        }
                    </p>
                    <span class="confirmanos">
                        @if (Model.EsSuscripcionInmediata)
                        {
                            <text> Por favor, confírmanos tus datos <br />
                                para recibir los mejores tips. </text>
                        }
                        else
                        {

                            <text> Ya estás suscrita al Club. <br />
                                Por favor, confirmanos tus datos.</text>
                        }

                    </span>
                    <div class="form-datos">
                        <div class="input">
                            <p id="errorCampos" class="txtvalidar" style="display: none">Debe ingresar al menos un campo.</p>
                        </div>
                        <div class="input">
                            <img src="~/Content/Images/mailIcon.png" alt="">
                            <input id="CorreoAnterior" type="hidden" value="@Model.Email" />
                            <input id="Email" type="text" class="txtformvalidar" value="@Model.Email" placeholder="Tu correo electrónico" />
                            <p id="errorEmail" class="txtvalidar" style="display: none">Debe ingresar un email válido</p>
                        </div>
                        <div class="input">
                            <img src="~/Content/Images/phoneIcon.png" alt="" class="phone">
                            <input type="hidden" id="hdn_CaracterMinimo" value="@Model.LimiteMin" />
                            <input type="hidden" id="hdn_CaracterMaximo" value="@Model.LimiteMax" />
                            <input id="Celular" type="text" value="@Model.Celular" placeholder="Tu teléfono" class="txtformvalidar" />
                            <p id="errorPhone" class="txtvalidar" style="display: none">Debe ingresar un número válido</p>
                        </div>

                        <div class="validar_chk">
                            <div class="inputchk">
                                <input type="checkbox" name="chkinput" id="chkinput" />
                                <label for="chkinput"></label>
                            </div>
                            <div class="txtchk">
                                Declaro que he leído los <a href="@Model.UrlTerminosCondicionesDatosUsuario" target="_blank" class="terminos">términos y condiciones</a> sobre Protección de Datos Personales y que me encuentro de acuerdo con los mismos. <span class="obligatorio">(Obligatorio)</span>
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                        <button>CONFIRMAR DATOS</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

