@using System.Configuration
@using Portal.Consultoras.Common

@model Portal.Consultoras.Web.Models.RevistaDigitalModel
@{
    ViewBag.Title = "ÉSIKA PARA MÍ";
    Layout = ViewBag.TipoLayout == "2" ? "~/Views/Shared/_MainLayout.cshtml" : "~/Views/Shared/_MainLayoutContenedor.cshtml";
}
@section styles{
    @System.Web.Optimization.Styles.Render("~/bundles/css/Site/RevistaDigital-Info")
}

<div class="back-to">
    <a href="@Url.Action("Index", "Ofertas")">
        <img src="@Url.Content("~/Content/Images/RevistaDigital/triangle.png")" alt="">VOLVER
    </a>
</div>
<div class="show-gana" style="background:url(@Url.Content("~/Content/Images/marquesina-landing.jpg"));">
    <div class="contenedor">
        <div class="img-descriptiva">
            <img src="@Url.Content("~/Content/Images/RevistaDigital/GIF-4.0.gif")" alt="">
        </div>
        <div class="texto-descriptivo">
            <div>
                <p class="nombre">
                    @Model.NombreConsultora, LLEGÓ
                </p>
                <p class="gana-mas">
                    GANA +
                </p>
                <span class="txt-descriptivo">
                    UN ESPACIO ONLINE CREADO <b>SOLO PARA TI</b>
                </span>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="que-ofrecemos">
    <div class="nuevo_contenedor_informativo">
        <p class="titulo-ofrece">
            ¿QUÉ TE OFRECE?
        </p>
        <div class="ofrece-bloque">
            <div class="icono">
                <div class="img">
                    <img src="@Url.Content("~/Content/Images/RevistaDigital/offer-suscription-icon.svg")" alt="">
                </div>
            </div>
            <div class="texto">
                <p class="titulo">
                    + OFERTAS EXCLUSIVAS
                </p>
                <span class="descripcion">
                    Packs y productos de tus productos favoritos ¡y con precios exclusivos para ti!
                </span>
            </div>
            <div class="clear"></div>
        </div>
        <div class="ofrece-bloque">
            <div class="icono">
                <div class="img">
                    <img src="@Url.Content("~/Content/Images/RevistaDigital/speed-suscription-icon.svg")" alt="">
                </div>
            </div>
            <div class="texto">
                <p class="titulo">
                    + FACILIDAD Y RAPIDEZ
                </p>
                <span class="descripcion">
                    ¡Adiós errores! Ya no tendrás que digitar códigos.
                </span>
            </div>
            <div class="clear"></div>
        </div>
        <div class="ofrece-bloque">
            <div class="icono">
                <div class="img">
                    <img src="@Url.Content("~/Content/Images/RevistaDigital/money-suscription-icon.svg")" alt="">
                </div>
            </div>
            <div class="texto">
                <p class="titulo">
                    + TIPS PARA GANAR
                </p>
                <span class="descripcion">
                    La información que necesitas de cada producto para venderlo ¡al instante!
                </span>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="como-funciona">
    <div class="nuevo_contenedor_informativo">
        <div class="funciona-asi">
            <div class="funciona-tal">
                <p class="titulo-ofrece">
                    ¿CÓMO FUNCIONA?
                </p>
                <span class="info-funciona">
                    1. En la C-@Model.CampaniaActual te suscribes a <b>GANA +</b> y podrás visualizar ofertas únicas para ti. <br>
                    2. En la C-@Model.CampaniaFuturoActiva, <b>dejarás de recibir la revista impresa</b> y podrás comprar y disfrutar de GANA +
                </span>
            </div>
        </div>
        <div class="funciona-asi">
            <img src="@Url.Content("~/Content/Images/RevistaDigital/visualo.png")" alt="">
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="suscribete-gratis" data-estadoregistro="@Model.EstadoSuscripcion">
    <div id="divCambiosEstadoRegistro">
        <div id="divSuscripcion">
            <div class="titulo_no_inscrita">@Model.Titulo</div>
            <div class="texto_no_inscrita">@Model.SubTitulo</div>
            <div class="advertencia_no_inscrita">
                @Model.SubTitulo2
                Cualquier duda llama a @Model.NumeroContacto o haz click
                <a href="javascript:;" style="display: inline-block; text-decoration: underline;" class="belcorpChat">aquí</a>
            </div>
            @if (Model.EsSuscrita)
            {
                <div class="btn_diagonal btn_stroke"> <a class="" href="javascript: RDDesuscripcion();">CANCELAR MI SUSCRIPCIÓN</a> </div>
            }
            else
            {
                <div class="btn_diagonal rd_btn_rojo"><a href="javascript: RDSuscripcion()">SUSCRÍBETE GRATIS AQUÍ</a></div>
            }
            <hr class="clear" />
            <div class="legal_gana_mas">Al inscribirte estás aceptando los <a href="javascript: MostrarTerminos();">Términos y Condiciones.</a>.</div>
            <hr class="clear" />
            <div class="legal_gana_mas">*Comparación vs. consultoras que no compraron ofertas digitales de www.somosbelcorp.com. <br />Período evaluado: Dic. 2016 – Abr. 2017 (Perú y Chile).</div>
        </div>
    </div>
</div>

<div class="content_belcorp">
    <div class="titulo_funciona">preguntas frecuentes</div>
    <div class="ept_preguntasRespuestas_accordion">
        <div class="box_pregunta_ept">
            <div class="tit_pregunta_ept">¿Qué es “Ésika para mí”? </div>
            <div class="text_respuesta_ept">Es tu revista online personalizada, con las mejores y exclusivas ofertas que se acomodan a tus preferencias y de tu negocio. Son las ofertas que sí o sí tus clientes te pedirán.</div>
        </div>
        <div class="box_pregunta_ept">
            <div class="tit_pregunta_ept">¿Las ofertas de “Ésika para mí” tienen algún descuento adicional? ¿O es su precio final lo que sale en el momento de la compra?</div>
            <div class="text_respuesta_ept">El precio que ves en “Ésika para mí” es el precio neto consultora, es el precio que deberás pagar una vez facturado tu pedido.</div>
        </div>
        <div class="box_pregunta_ept">
            <div class="tit_pregunta_ept">¿Las ofertas de “Ésika para mí” suman puntos a mi pedido? ¿Cuántos?</div>
            <div class="text_respuesta_ept">Sí, todas tus compras de ofertas en “Ésika para mí” suman puntos para los concursos y bonificaciones vigentes que tengas en ese momento.</div>
        </div>
    </div>
    <div class="ept_preguntasRespuestas_accordion2">
        <div class="box_pregunta_ept2">
            <div class="tit_pregunta_ept2">Mi amiga y yo tenemos el mismo producto, pero los precios son distintos. ¿Por qué?</div>
            <div class="text_respuesta_ept2">“Ésika para mí” ofrece ofertas personalizadas en función a tu historial de compra y preparará para ti las mejores ofertas en función a esto. De esta manera, las ofertas que figuren en tu “Ésika para mí” tendrán mayor probabilidad de venta, porque ya tienes clientes que seguramente estén interesados en estos.</div>
        </div>
        <div class="box_pregunta_ept2">
            <div class="tit_pregunta_ept2">¿Cuál es mi ganancia por la venta de los productos de “Ésika para mí”?</div>
            <div class="text_respuesta_ept2">Todos los precios son no comisionables (funciona como revista). La ganancia es el precio de catálogo del producto menos el precio de la revista online.</div>
        </div>
        <div class="box_pregunta_ept2">
            <div class="tit_pregunta_ept2">¿Por qué cancelaron mi revista impresa?</div>
            <div class="text_respuesta_ept2">Si no has recibido la revista impresa, es porque te debes haber suscrito por algunos de nuestros medios. En caso no desees recibir los beneficios de “Esika para mí”, puedes desafiliarte directamente desde Somosbelcorp. com en la sección ¿Qué és Ésika para mí? o llamando al call center de tu país. Una vez solicites retirarte de “Ésika para mí”, recibirás tu revista regular 2 campañas después.</div>
        </div>
    </div>
    <hr class="clear" />

    <div class="descargarPreguntasRespuestas">
        <a href="@ConfigurationManager.AppSettings["UrlPreguntasFrecuentesRD"].Trim()" target="_blank">+ MÁS PREGUNTAS FRECUENTES</a>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var urlLoad = '@Url.Content("~/Content/Images/loading_spinner.gif")';
        var tipoOrigenPantalla = 1;
        var urlTerminosCondicionesRD = '@ConfigurationManager.AppSettings["UrlTerminosCondicionesRD"].Trim()';
        var urlRevistaDigital = '@Url.Action("Comprar", "RevistaDigital")';
        var isScroll = false;
    </script>

    @System.Web.Optimization.Scripts.Render("~/bundles/RevistaDigital-Info")
}
