@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Helpers
@model Portal.Consultoras.Web.Models.EstrategiaPedidoModel

@{
    var mobileConfiguracion = Html.MobileAppConfiguracion();
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayoutContenedor.cshtml";
}
@section styles
{
    @if (ViewContext.GetUniqueSession("IngresoExterno") != null)
    {
        <style>
            #content {
                margin-top: 0px !important;
            }
        </style>
    }
}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<div class="titulo_mobile hideTituloMobileDetalleOferta">
    @{
        if (mobileConfiguracion.MostrarBotonAtras)
        {
            <a href="@Request.UrlReferrer" class="enlace_regresar catalogosP" title="Regresar"></a>
        }
    }
    &nbsp;&nbsp;&nbsp;&nbsp;VOLVER

</div>
<div class="pestana_esika hideTituloMobileDetalleOferta"></div>
<div class="pestana_lbel hideTituloMobileDetalleOferta"></div>

<div class="content_room_product_sheet content_detalle_s">
    @if (mobileConfiguracion.MostrarBotonAtras)
    {
        <a href="@Request.UrlReferrer" class="btn_volver_detalle_oferta" title="Volver">
            <span class="icono_flecha_volver">
                <img src="@Url.Content("~/Content/Images/mobile/flecha-volver-detalle.svg")" alt="Volver" />
            </span>
            <span class="texto_enlace_volver_detalle">VOLVER</span>
        </a>
    }

    <div class="product_sheet_image" data-img="" style="background: url(@ViewBag.ImagenFondoProductPage) no-repeat top center; background-size: 100% auto;">
        <img src="@Model.ImagenProducto" width="236" style="margin-top: 20px;">
    </div>

    <div class="wrapper_resumen_mobile" style="margin-top: 10px;">
        <h1>@Model.Descripcion</h1>
        <input type="hidden" id="swdetdescripcion" value="@Model.Descripcion" />
        <input type="hidden" id="swdetmarca" value="@Model.DescripcionMarca" />
        <input type="hidden" id="swdetprecio" value="@Model.PrecioOferta" />
        <input type="hidden" id="swdeteventoofertaid" value="@Model.EstrategiaID" />
        <div class="price_product">
            <s class="price_offer">@Model.Simbolo @Model.FormatoPrecioValorizado</s>
            <span class="price">Precio para ti <b>@Model.Simbolo @Model.FormatoPrecioOferta</b></span>
            <span class="comment">Gana @Model.Simbolo @Model.FormatoGana</span>
        </div>
        <div class="item_product">
            <div class="description_item" data-item >
                <div class="detail detailItem">
                    <div class="" >
                        <div style="display:none;"><div @*data-estrategiaJson="@Json.Encode(Model)"*@></div></div>
                        @{
                            var btnDesabled = 0;
                            var btnDesabledClass = "";
                        }
                        <hr class="clear">
                        @if (Model.CodigoProducto != "")
                        {
                            <div data-estrategia="@Model.CodigoEstrategia">
                                @if (Model.Hermanos != null && Model.Hermanos.Any())
                                {
                                    var claseItem = Model.CodigoEstrategia == Constantes.TipoEstrategiaSet.CompuestaFija ? "content_producto_individual" : "";
                                    var claseItem3 = Model.CodigoEstrategia == Constantes.TipoEstrategiaSet.CompuestaVariable ? "content_producto_compuesto" : "";

                                        <div class="@claseItem">
                                            @foreach (var producto in Model.Hermanos)
                                            {
                                                if ((producto.NombreComercial ?? "") == "" && producto.Digitable != 1)
                                                {
                                                    continue;
                                                }
                                                <div>
                                                    <div class="@claseItem3 content_detalle_set_showroom" data-tono="" data-tono-select="" data-tono-digitable="@producto.Digitable">
                                                        <div style="display: none;">
                                                            <input type="hidden" name="nameMarcaID" id="Estrategia_hd_MarcaID" value="@producto.IdMarca" />
                                                            <input type="hidden" name="namePrecioCatalogo" id="Estrategia_hd_PrecioCatalogo" value="@producto.PrecioCatalogo" />
                                                        </div>
                                                        @if (@producto.DescripcionMarca != "")
                                                        {
                                                            <span class="brand">@producto.DescripcionMarca</span>
                                                        }
                                                        <div class="content_imagen_individual">
                                                            <img src="@producto.Imagen">
                                                        </div>
                                                        <div class="content_descripcion_set">
                                                            @if (@producto.Cantidad > 0)
                                                            {
                                                                <span class="cantidad_producto_opt">x @producto.Cantidad </span>
                                                            }
                                                            <span class="product_name" data-tono-cuv-producto="@producto.Cuv" data-tono-select-nombrecomercial="">@producto.NombreComercial</span>
                                                            <span class="price">@producto.Descripcion</span>
                                                        </div>
                                                        <hr class="clear">
                                                        @if (producto.Digitable == 1)
                                                        {
                                                            <div class="content_tonos_producto">
                                                                <div class="tono_select_opt">
                                                                    <div class="content_tono_elegido texto_sin_tono" 
                                                                         data-tono-showroom-change="1"
                                                                    >
                                                                        <div class="tono_seleccionado" style="display: none;">
                                                                            <img src="~/Content/Images/showroom/no_disponible.png" alt="">
                                                                        </div>
                                                                        <div class="texto_tono_seleccionado">ELIGE  TU TONO</div>
                                                                        <hr class="clear" />
                                                                    </div>
                                                                    <div class="content_tonos_select" style="display:none;">
                                                                        @foreach (var tono in producto.Hermanos)
                                                                        {
                                                                            btnDesabled = 1;
                                                                            <div class="content_tono_elegido" 
                                                                                 data-tono-showroom-change="2" 
                                                                                 data-tono-cuv="@tono.Cuv" 
                                                                                 data-tono-nombre="@tono.NombreBulk" 
                                                                                 data-tono-descripcion="@tono.NombreComercial"
                                                                            >
                                                                                <div class="tono_seleccionado"><img src="@tono.ImagenBulk" alt=""></div>
                                                                                <div class="texto_tono_seleccionado">@tono.NombreBulk</div>
                                                                                <hr class="clear" />
                                                                            </div>
                                                                        }
                                                                    </div>
                                                                </div>
                                                                <hr class="clear">
                                                            </div>
                                                        }
                                                        <hr class="clear" />
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    }


                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="variants" style="display: none;">
                <a href="#" class="select_variant">
                    <span class="color" style="background-color: #C31727;"></span>
                    <span class="title_variant">
                        Rojo Pimienta
                    </span>
                </a>
                <span class="variants_items">
                    <a href="#" data-color="#D44F82" data-title="Pimienta Caliente">
                        <span class="color" style="background-color: #D44F82;"></span>
                        <span class="title_variant">
                            Pimienta Caliente
                        </span>
                    </a>
                    <a href="#" data-color="#B02F48" data-title="Café Habano">
                        <span class="color" style="background-color: #B02F48;"></span>
                        <span class="title_variant">
                            Café Habano
                        </span>
                    </a>
                    <a href="#" data-color="#E9316D" data-title="Ciruela Glam">
                        <span class="color" style="background-color: #E9316D;"></span>
                        <span class="title_variant">
                            Ciruela Glam
                        </span>
                    </a>
                    <a href="#" data-color="#C31727" data-title="Coral Ensueño">
                        <span class="color" style="background-color: #C31727;"></span>
                        <span class="title_variant">
                            Coral Ensueño
                        </span>
                    </a>
                    <a href="#" data-color="#DB2020" data-title="Frambuesa Encanto">
                        <span class="color" style="background-color: #DB2020;"></span>
                        <span class="title_variant">
                            Frambuesa Encanto
                        </span>
                    </a>
                    <a href="#" data-color="#95494C" data-title="Fucsia Vibrante">
                        <span class="color" style="background-color: #95494C;"></span>
                        <span class="title_variant">
                            Fucsia Vibrante
                        </span>
                    </a>
                    <a href="#" data-color="#982218" data-title="Magenta Sweet">
                        <span class="color" style="background-color: #982218;"></span>
                        <span class="title_variant">
                            Magenta Sweet
                        </span>
                    </a>
                    <a href="#" data-color="#EE7389" data-title="Melon Intense">
                        <span class="color" style="background-color: #EE7389;"></span>
                        <span class="title_variant">
                            Melon Intense
                        </span>
                    </a>
                    <a href="#" data-color="#DE5C52" data-title="Pimienta Caliente">
                        <span class="color" style="background-color: #DE5C52;"></span>
                        <span class="title_variant">
                            Pimienta Caliente
                        </span>
                    </a>
                    <a href="#" data-color="#CE7869" data-title="Café Habano">
                        <span class="color" style="background-color: #CE7869;"></span>
                        <span class="title_variant">
                            Café Habano
                        </span>
                    </a>
                </span>
                <div class="variants_colors">
                    <a href="#" class="variant" style="background-color: #D44F82;" data-color="#D44F82" data-title="Pimienta Caliente"></a>
                    <a href="#" class="variant" style="background-color: #B02F48;" data-color="#B02F48" data-title="Café Habano"></a>
                    <a href="#" class="variant" style="background-color: #E9316D;" data-color="#E9316D" data-title="Ciruela Glam"></a>
                    <a href="#" class="variant" style="background-color: #C31727;" data-color="#C31727" data-title="Coral Ensueño"></a>
                    <a href="#" class="variant" style="background-color: #DB2020;" data-color="#DB2020" data-title="Frambuesa Encanto"></a>
                    <a href="#" class="variant" style="background-color: #95494C;" data-color="#95494C" data-title="Fucsia Vibrante"></a>
                    <a href="#" class="variant" style="background-color: #982218;" data-color="#982218" data-title="Magenta Sweet"></a>
                    <a href="#" class="variant" style="background-color: #EE7389;" data-color="#EE7389" data-title="Melon Intense"></a>
                    <a href="#" class="variant" style="background-color: #DE5C52;" data-color="#DE5C52" data-title="Pimienta Caliente"></a>
                    <a href="#" class="variant" style="background-color: #CE7869;" data-color="#CE7869" data-title="Café Habano"></a>
                </div>
            </div>
        </div>
    </div>

    @if (Model.TieneCompraXcompra)
    {
        @*if (Model.ListaShowRoomCompraPorCompra != null && Model.ListaShowRoomCompraPorCompra.Count > 0)
        {
            <div style="max-width: 250px; margin: 0 auto;">
                <div class="box_promotions">
                    <div class="titulo_compra_carrusel">PROMOCIÓN</div>
                    <div class="content_compra_carrusel">
                        @{ var posicionCpc = 1; }
                        @foreach (var item in Model.ListaShowRoomCompraPorCompra)
                        {
                            var descripcion = item.Descripcion;
                            if (descripcion != null && descripcion.Length > 41)
                            {
                                descripcion = descripcion.Substring(0, 40) + " ...";
                            }
                            <div data-posicion="@posicionCpc" data-item="@item.EstrategiaID">
                                <div data-campos="">
                                    <input type="hidden" class="hdOfertaShowRoomID" value="@item.EstrategiaID" />
                                    <input type="hidden" class="valorCuv" value="@item.CUV" />
                                    <input type="hidden" class="claseMarcaID" value="@item.MarcaID" />
                                    <input type="hidden" class="clasePrecioUnidad" value="@item.PrecioOferta" />
                                    <input type="hidden" class="DescripcionProd" value="@item.Descripcion" />
                                    <input type="hidden" class="DescripcionMarca" value="@item.DescripcionMarca" />
                                    <input type="hidden" class="posicionEstrategia" value="@posicionCpc" />
                                </div>
                                <div class="nombre_producto_pop_compra">@descripcion</div>
                                <div class="precio_set_compra">A SÓLO @item.Simbolo @item.FormatoPrecioOferta</div>
                                <div class="descripcion_compra">Valorizado en @item.Simbolo @item.FormatoPrecioValorizado</div>
                                <div class="content_imagen_carrusel_compra">
                                    @if (item.ImagenProducto != "")
                                    {
                                        <img data-src="@item.ImagenProducto" class="imagen_producto" data-img-lazy="1" />
                                    }
                                    else
                                    {
                                        <img data-src="@Url.Content("~/Content/Images/showroom/no_disponible.png")" style="width: auto; height: 100%;" class="imagen_producto" data-img-lazy="1" />
                                    }
                                </div>
                                <div style="height: 50px;">
                                    <div class="texto_banner_compra" style="text-align: center">
                                        <span>@Model.TextoCondicionCompraCpc</span>
                                    </div>
                                </div>

                                <a class="btn_agrega_compra verDetalleCompraPorCompra">VER PROMOCIÓN</a>
                            </div>
                            {
                                posicionCpc++;
                            }
                        }
                    </div>
                </div>
            </div>

        }*@
    }

    <div class="other_consultants">
        <div class="oc_title">
            <b>VER MÁS SETS</b> EXCLUSIVOS PARA TI
        </div>
        <div class="content_carrusel_intriga" id="divEstrategias">
            @{ var posicionx = 0; }
            <div class="variable-width">
                @*@foreach (var oferta in Model.ListaOfertaShowRoom)
                {
                    var descripcion = oferta.Descripcion;
                    if (descripcion != null && descripcion.Length > 41)
                    {
                        descripcion = descripcion.Substring(0, 40) + " ...";
                    }

                    posicionx++;
                    <div class="slider_item" data-posicion="@posicionx" data-item="@oferta.EstrategiaID" data-position="@posicionx">
                        <div data-campos="" style="display: none;">
                            <input type="hidden" class="hdOfertaShowRoomID" value="@oferta.EstrategiaID" />
                            <input type="hidden" class="valorCuv" value="@oferta.CUV" />
                            <input type="hidden" class="claseMarcaID" value="@oferta.MarcaID" />
                            <input type="hidden" class="clasePrecioUnidad" value="@oferta.PrecioOferta" />
                            <input type="hidden" class="claseConfiguracionOfertaID" value="@oferta.ConfiguracionOfertaID" />
                            <input type="hidden" class="DescripcionProd" value="@oferta.Descripcion" />
                            <input type="hidden" class="DescripcionMarca" value="@oferta.DescripcionMarca" />
                            <input type="hidden" class="posicionEstrategia" value="@posicionx" />
                        </div>
                        <a href="@Url.Action("DetalleOferta", "ShowRoom", new {id = oferta.EstrategiaID, area = "Mobile"})" class="slider_item_content">
                            <div data-img="">
                                <img src="@oferta.ImagenProducto" data-img-lazy="1" />
                            </div>
                            <span class="title">@descripcion</span>
                            <span class="precio_tachado_carrusel_set">@oferta.Simbolo @oferta.FormatoPrecioValorizado</span>
                            <span class="price"><b>@oferta.Simbolo @oferta.FormatoPrecioOferta </b></span>
                        </a>
                    </div>
                }*@
            </div>
            <div class="content_orden_carrusel" data-posicion-set="">
                <div class="orden_listado_numero"><span data-posicion-current=""></span> / @posicionx</div>
                <div class="linea_separadora_mobile" style="margin-top: -7px;"></div>
                <div class="orden_flecha">
                    <img src="@Url.Content("~/Content/Images/Esika/flecha_orden.png")" alt="flecha" />
                </div>
                <div class="orden_flecha" style="right: 0;">
                    <img src="@Url.Content("~/Content/Images/Esika/flecha_orden_right.png")" alt="flecha" />
                </div>
            </div>


        </div>

    </div>
    @if (!string.IsNullOrEmpty(Model.TipNegocio))
    {
        <div class="business_tips">
            <h3 class="title">tip de negocio</h3>
            <div class="content">@Model.TipNegocio</div>
        </div>
    }
    <div class="share_social_nertwoks" data-posicion="0" data-item="@Model.EstrategiaID">
        <div data-compartir-campos="" style="display: none;">
            <input type="hidden" class="CUV" value="@Model.CUV" />
            <input type="hidden" class="rsFBMensaje" value="@Model.FBMensaje" />
            <input type="hidden" class="rsWAMensaje" value="@Model.FBMensaje" />
            <input type="hidden" class="rsFBRutaImagen" value="@Model.ImagenProducto" />
            <input type="hidden" class="rsWARutaImagen" value="@Model.ImagenProducto" />
            <input type="hidden" class="Nombre" value="@Model.Descripcion" />
            <input type="hidden" class="MarcaID" value="@Model.MarcaID" />
            <input type="hidden" class="MarcaNombre" value="@Model.DescripcionMarca" />
            <input type="hidden" class="ProductoDescripcion" value="@Model.Descripcion" />
            <input type="hidden" class="Palanca" value="SR" />
        </div>
        @if (mobileConfiguracion.MostrarBotonAtras)
        {
            <div class="title">Comparte este producto con tus clientes:</div>
            <div class="content_redes_ficha">
                <a class="btn_compartir_ofertas" href="javascript: void(0);" data-compartir="WA">
                    <img src="/Content/Images/Mobile/Esika/catalogo_ws.png" alt="">
                </a>
                <a class="btn_compartir_ofertas" href="javascript: void(0);" data-compartir="FB">
                    <img src="/Content/Images/Mobile/Esika/facebook.png">
                </a>
            </div>
        }
    </div>
</div>

<div class="content_btn_agregar" data-posicion="0" data-item="@Model.EstrategiaID" data-estrategia-id="@Model.EstrategiaID" data-campania-id="@Model.CampaniaID">
    <div data-campos="" style="display:none;">
        <input type="hidden" class="hdOfertaShowRoomID" value="@Model.EstrategiaID" />
        <input type="hidden" class="valorCuv" value="@Model.CUV" />
        <input type="hidden" class="claseMarcaID" value="@Model.MarcaID" />
        <input type="hidden" class="clasePrecioUnidad" value="@Model.PrecioOferta" />
        <input type="hidden" class="claseConfiguracionOfertaID" value="@Model.ConfiguracionOfertaID" />
        <input type="hidden" class="DescripcionProd" value="@Model.Descripcion" />
        <input type="hidden" class="DescripcionMarca" value="@Model.DescripcionMarca" />
        <input type="hidden" class="posicionEstrategia" value="0" />
    </div>
    <div class="content_320">
        <div class="content_cantidad_ficha_producto">
            <a class="cantidad_menos_home" href="javascript: void(0);"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
            <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" data-input="cantidad">
            <a class=" cantidad_mas_home" href="javascript: void(0);"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
        </div>
        @if (btnDesabled == 1)
        {
            btnDesabledClass = "btn_desactivado_general";
        }
        <a id="btnAgregalo" class="btn_agregar_ficha_producto @btnDesabledClass" onclick="javascript:EstrategiaAgregarShowRoom(event); ">AGRÉGALO</a>
        <hr class="clear">
    </div>
</div>

<div class="PopMobile1" id="PopCompra" data-popup-main="">
    <div class="content_popMobile" data-popup-body="" style="max-width: 450px;">
        <a class="cerrar_popMobile" id="CerrarPopCompra" style="position:absolute;right: 10px;top: 10px;">
            <img src="/Content/Images/cerrar_04_blanco.png" alt="-">
        </a>
        <div style="margin:-20px -20px 0 -20px;">
            <div class="titulo_compra_POP">PROMOCIÓN</div>
        </div>

        @if (Model.TieneCompraXcompra)
        {
            @*if (Model.ListaShowRoomCompraPorCompra != null && Model.ListaShowRoomCompraPorCompra.Count > 0)
            {
                <div class="content_pop_compra">
                    @{ var posicionCpc = 1; }
                    @foreach (var item in Model.ListaShowRoomCompraPorCompra)
                    {
                        var descripcion = item.Descripcion;
                        if (descripcion != null && descripcion.Length > 41)
                        {
                            descripcion = descripcion.Substring(0, 40) + " ...";
                        }
                        <div data-posicion="@posicionCpc" data-item="@item.EstrategiaID">
                            <div data-campos="">
                                <input type="hidden" class="hdOfertaShowRoomID" value="@item.EstrategiaID" />
                                <input type="hidden" class="valorCuv" value="@item.CUV" />
                                <input type="hidden" class="claseMarcaID" value="@item.MarcaID" />
                                <input type="hidden" class="clasePrecioUnidad" value="@item.PrecioOferta" />
                                <input type="hidden" class="DescripcionProd" value="@item.Descripcion" />
                                <input type="hidden" class="DescripcionMarca" value="@item.DescripcionMarca" />
                                <input type="hidden" class="posicionEstrategia" value="@posicionCpc" />
                            </div>
                            <div class="set_dia_compra_pop">
                                @Model.TextoCondicionCompraCpc
                            </div>
                            <div class="content_imagen_carrusel_compra">
                                @if (item.ImagenProducto != "")
                                {
                                    <img data-src="@item.ImagenProducto" class="imagen_producto" data-img-lazy="1" />
                                }
                                else
                                {
                                    <img data-src="@Url.Content("~/Content/Images/showroom/no_disponible.png")" style="width: auto; height: 100%;" class="imagen_producto" data-img-lazy="1" />
                                }
                            </div>
                            <div style="height: 130px;">
                                <div class="nombre_producto_pop_compra">@descripcion</div>
                                <div class="precio_set_compra">
                                    A SÓLO @item.Simbolo @item.FormatoPrecioOferta
                                </div>
                                <div class="descripcion_compra">Valorizado en @item.Simbolo @item.FormatoPrecioValorizado</div>
                                <div class="precio_producto_compra">@item.DescripcionLegal</div>
                            </div>
                            <div>
                                <div class="content_cantidad_ficha_producto">
                                    <a class="cantidad_menos_home" href="javascript: void(0);"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
                                    <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" data-input="cantidad">
                                    <a class=" cantidad_mas_home" href="javascript: void(0);"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
                                </div>
                                <a class="btn_agregar_ficha_producto" data-btn-agregar-cpc="" style="background:black;" href="javascript: void(0);">AGRÉGALO</a>
                                <hr class="clear">
                            </div>
                        </div>
                        {
                            posicionCpc++;
                        }
                    }
                </div>
            }*@
        }
        <div class="legal_footer_compra">
            @Model.TextoDescripcionLegalCpc
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/EstrategiaAgregar/EstrategiaAgregarProvider.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/ShowRoom/ShowRoom.js")"></script>
    <script type="text/javascript">
        var tipoOrigenPantalla = 21;
        var urlCarruselPrev = "@Url.Content("~/Content/Images/mobile/Esika/previous_ofertas_home.png")";
        var urlCarruselNext = "@Url.Content("~/Content/Images/mobile/Esika/next.png")";
        var origenPedidoWeb = '@Constantes.OrigenPedidoWeb.MobileShowRoomProductPage';
        var origenPedidoWebTactica = '@Constantes.OrigenPedidoWeb.MobileShowRoomProductPageTactica';
        var origenPedidoWebCarrusel = '@Constantes.OrigenPedidoWeb.MobileShowRoomProductPageCarrusel';
        var CodigoVariante = '@Model.CodigoEstrategia';

    </script>
}

