@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}

@using Newtonsoft.Json
@using Portal.Consultoras.Common
@model Portal.Consultoras.Web.Models.ShowRoomEventoModel

@section styles{
    <style type="text/css">
        body {
           background: #f5f5f7 !important;
            padding-top: 0px;
            overflow-x:hidden;
        }
    </style>

    <link href="@Url.Content("~/Content/Css/Mobile/esika/slick.css")" rel="stylesheet"/>
    <link href="~/Content/Css/Mobile/esika/bootstrap-slider.min.css" rel="stylesheet"/>
}
<!--  MAQUETADO NUEVO-->
<div class="content_banner_header_showroom">
    <a href="@Request.UrlReferrer" class="enlace_regresar ingresoP" title="Regresar" style="top:26%;"></a>   
    <img src="@Url.Content("~/Content/Images/mobile/img-showroom/BARRA_SUPERIOR_TEXTOJUNTO_CATEGORIA.png")" />
</div>
<div class="wrapper_resumen_mobile">
    <div id="orderby-filter">
        <div id="content-orderby" style="margin-top: 15px;">
            @if (Model.FiltersBySorting != null)
            {
                <select id="orderby-price" class="select-ffc">
                    @foreach (var item in Model.FiltersBySorting)
                    {
                        <option value="@item.Codigo">@item.Descripcion</option>
                    }
                </select>
            }

            <input id="btnfltm" type="button" class="btn2-ffc" value="FILTROS" onclick=" showCustomFilters(); ">
        </div>
        <hr class="clear">
        <div id="summary-filters">
            <div id="div-result-number" style="margin-left: 0; float: left; width: 65%; font-size: 13px;">
                <span id="result-number">Mostrando <span id="spnCantidadFiltro">0</span> de <span id="spnCantidadTotal">0</span> productos</span>
            </div>

            <div id="div-delete-filters" style="display: none; margin-right: 0px;">
                <a href="#" class="link-ffc_landing" onclick=" deleteFilters(); ">Borrar Filtros</a>
            </div>
            <br><br>
        </div>
    </div>
    <div class="row">
        <div id="custom-filters" style="display: none;" class="filtros_new">
            <div class="titulo_mobile" style="color: black; background: white">
                <a onclick=" showOrderbyFilter(); " class="enlace_regresar catalogosP flecha_black" title="Regresar"></a>
                &nbsp;&nbsp;&nbsp;&nbsp;SELECCIONA TUS FILTROS
            </div>
            <div id="divProductosEncontrados" class="texto_filtros" style="text-align: center;"><b>2</b> productos encontrados
            </div>
            <div class="texto_filtros">Encuentra de manera rápida los mejores productos especialmente escogidos para tus clientes</div>
            <br/>
            <div id="content-filters" style="">
                <div class="panel-group" id="accordion">
                    @if (Model.TieneCategoria)
                    {
                        if (Model.ListaCategoria != null && Model.ListaCategoria.Count > 0)
                        {
                            <div class="content_panel">
                                <div class="titulo_filtro">
                                    <a class="accordion-toggle" data-toggle="collapse" href="#CategoriaCollpase" style="text-decoration: none;">
                                        <span class="title-accordion">CATEGORÍAS</span>
                                    </a>
                                </div>
                                <div id="CategoriaCollpase" class="panel-collapse collapse">
                                    <div class="panel-body panel_filtro">
                                        <div id="idcategory" class="content-category">
                                            @{
                                                var cont = 1;
                                            }
                                            @foreach (var categoria in Model.ListaCategoria)
                                            {
                                                <div class="block-checkbox">
                                                    <input class="chkFiltroMobile" type="checkbox" id="c@(cont)" name="categoria" value="@categoria.Codigo">
                                                    <label for="c@(cont)" class="label-checkbox">@categoria.Descripcion</label>
                                                </div>
                                                {
                                                    cont++;
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                    <div class="content_panel">
                        <div class="titulo_filtro">
                            <a class="accordion-toggle" data-toggle="collapse" href="#collapseThree" style="text-decoration: none;">
                                <span class="title-accordion">FILTRAR PRECIO</span>
                            </a>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body panel_filtro">
                                <div style="font-size: 12px; width: 100%;">

                                    <div style="width: 100%; color: #e81c36; text-align: center;">
                                        <input id="txt-range-price" type="text" class="span2" value="" style="width: 98%;"
                                               data-slider-id="slider-price"
                                               data-slider-min="0"
                                               data-slider-max="0"
                                               data-slider-step="1"
                                               data-slider-value="[0,0]"/>
                                    </div>
                                    <div style="text-align: left; width: 50%; float: left; color: #4a4a4a">
                                        <b>@ViewBag.Simbolo <span id="min-range-price">10</span></b>
                                    </div>
                                    <div style="text-align: right; width: 50%; float: left; color: #4a4a4a">
                                        <b>@ViewBag.Simbolo <span id="max-range-price">1000</span></b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content_btn_filtros">
                <a href="#" class="link-ffc" onclick=" deleteFilters(); ">BORRAR FILTROS</a>

                <div id="save-filters" class="save-filters">
                    <input id="btnBuscarShowRoom" type="button" class="btn-ffc" value="APLICAR"/>
                </div>
            </div>
        </div>
    </div>

    <div class="contenedor_productos_liquidacion content_showroom" style="position: relative;">
        <div id="divProductosShowRoom">
            @*@{ var posicions = 1; }
            @foreach (var item in Model.ListaShowRoomOferta)
            {
                <div class="content_item_home" style="position: relative;">
                    <div class="liquidacion_item" data-posicion="@posicions">
                        <div class="producto_img_mobile">
                            <a class="btnVerDetalleOfertaShowRoom" href="@Url.Action("DetalleOferta", "ShowRoom", new {id = item.OfertaShowRoomID, area = "Mobile"})">
                                @if (string.IsNullOrEmpty(item.ImagenMini))
                                {
                                    <img src="@Url.Content("~/Content/Images/showroom/no_disponible.png")" />
                                }
                                else
                                {
                                    <img src="@item.ImagenProducto" alt="" />
                                }
                            </a>
                        </div>
                        <div class="producto_nombre_descripcion">
                            <p class="nombre_producto" style="cursor: pointer; height: 36px;">
                                <b>@item.Descripcion</b>
                            </p>
                            <div class="producto_precio">
                                <span class="producto_precio_normal">@item.Simbolo @item.FormatoPrecioOferta</span>
                                <span class="producto_precio_oferta"><b>@item.Simbolo @item.FormatoPrecioCatalogo</b></span>
                            </div>
                        </div>
                    </div>
                </div>
                {
                    posicions++;
                }
            }*@
        </div>
    </div>
</div>

<hr class="clear" />
<!--FIN-->

<div class="titulo_showroom_mobile">
    <a onclick=" SetMarcaGoogleAnalyticsTermino(); " href="@Model.UrlTerminosCondiciones" target="_blank">
        T&eacute;rminos y condiciones de la @Model.Nombre<br/>
        @Model.Tema
    </a>
</div>

@if (Model.TieneCompraXcompra)
{
    if (Model.ListaShowRoomCompraPorCompra != null && Model.ListaShowRoomCompraPorCompra.Count > 0)
    {
        <div class="content_promocion">
            <div class="pestana_promocion" id="AbrirBannerCompra">PROMOCIÓN</div>
            <div class="content_desplegable_banner" id="BannerCompra">
                <div class="content_carrusel_intriga" style="background: white;" id="LlamarPopCompra">
                    <div class="content_banner_img"><img src="@Model.ListaShowRoomCompraPorCompra[0].ImagenProducto"/>
                    </div>
                    <div class="content_banner_right">
                        <div class="texto_banner_compra">
                            <b style="margin-top: 10px;">
                                @{
                                    var descripcion = Model.ListaShowRoomCompraPorCompra[0].Descripcion;
                                    if (descripcion != null && descripcion.Length > 41)
                                    {
                                        descripcion = descripcion.Substring(0, 40) + " ...";
                                    }
                                }
                                @descripcion
                            </b>
                            <b style="font-size: 18px;">A SÓLO @Model.ListaShowRoomCompraPorCompra[0].Simbolo @Model.ListaShowRoomCompraPorCompra[0].FormatoPrecioCatalogo </b>
                            <span class="set_dia_banner">@Model.TextoCondicionCompraCpc</span>
                        </div>
                        @*<a class="btn_ver_detalle_pop_compra">VER DETALLE</a>*@
                    </div>
                    <hr class="clear"/>
                </div>
            </div>
        </div>
    }
}
    

<!--MODAL AGREGAR PEDIDO-->
<div id="divMensajeProductoAgregado" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-alert ">
        <div class="modal-content">
            <div class="modal-body">
                <div class="texto_pedido_m">¡Has agregado <span id="spnNombreOfertaShowRoom">Hola</span> a tu pedido!</div>
                <a id="btnCerrarPedido" class="boton_volver_set">VOLVER A SETS</a>
                <a id="btnIrMipedido" class="boton_ver_pedido" href="@Url.Action("Index", "Pedido", new { area = "Mobile" })">VER MI PEDIDO</a>
            </div>
        </div>
    </div>
</div>
<!--POP UP COMPRA X COMPRA / QUITAR EL SCROLL DEL BODY CUANDO SALGA ESTE POP UP-->
<div class="PopMobile1" id="PopCompra" data-popup-main="">
    <div class="content_popMobile" data-popup-body="" style="max-width: 450px;">
        <a class="cerrar_popMobile" id="CerrarPopCompra" style="position:absolute;right: 10px;top: 10px;">
            <img src="/Content/Images/cerrar_04_blanco.png" alt="-">
        </a>
        <div style="margin:-20px -20px 0 -20px;">
            <div class="titulo_compra_POP">PROMOCIÓN</div>
        </div>
       
        @if (Model.TieneCompraXcompra)
        {
            if (Model.ListaShowRoomCompraPorCompra != null && Model.ListaShowRoomCompraPorCompra.Count > 0)
            {
                <div class="content_pop_compra">
                    @{ var posicionCpc = 1; }
                    @foreach (var item in Model.ListaShowRoomCompraPorCompra)
                    {
                        var descripcion = item.Descripcion;
                        if (descripcion != null && descripcion.Length > 41)
                        {
                            descripcion = descripcion.Substring(0, 40) + " ...";
                        }
                        <div data-posicion="@posicionCpc" data-item="@item.OfertaShowRoomID">
                            <div data-campos="">
                                <input type="hidden" class="hdOfertaShowRoomID" value="@item.OfertaShowRoomID"/>
                                <input type="hidden" class="valorCuv" value="@item.CUV"/>
                                <input type="hidden" class="claseMarcaID" value="@item.MarcaID"/>
                                <input type="hidden" class="clasePrecioUnidad" value="@item.PrecioCatalogo"/>
                                <input type="hidden" class="DescripcionProd" value="@item.Descripcion"/>
                                <input type="hidden" class="DescripcionMarca" value="@item.DescripcionMarca"/>
                                <input type="hidden" class="posicionEstrategia" value="@posicionCpc"/>
                            </div>
                            <div class="set_dia_compra_pop">@Model.TextoCondicionCompraCpc</div>
                            <div class="content_imagen_carrusel_compra">
                                @if (item.ImagenProducto != "")
                                {
                                    <img src="@item.ImagenProducto" class="imagen_producto">
                                }
                                else
                                {
                                    <img src="@Url.Content("~/Content/Images/showroom/no_disponible.png")" style="width: auto; height: 100%;" class="imagen_producto"/>
                                }
                            </div>
                            <div style="height: 130px;">
                                <div class="nombre_producto_pop_compra">@descripcion</div>
                                <div class="precio_set_compra">
                                    A SÓLO @item.Simbolo @item.FormatoPrecioCatalogo
                                </div>
                                <div class="descripcion_compra">Valorizado en @item.Simbolo @item.FormatoPrecioOferta</div>
                                <div class="precio_producto_compra">@item.DescripcionLegal</div>
                            </div>
                            <div>
                                <div class="content_cantidad_ficha_producto">
                                    <a class="cantidad_menos_home"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
                                    <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" data-input="cantidad">
                                    <a class=" cantidad_mas_home"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
                                </div>
                                <a class="btn_agregar_ficha_producto" data-btn-agregar-cpc="" style="background:black;">AGRÉGALO</a>
                                <hr class="clear">
                            </div>
                            @*<a class="btn_agrega_compra" data-btn-agregar-cpc="">AGRÉGALO</a>*@
                        </div>
                        {
                            posicionCpc++;
                        }
                    }
                </div>
            }
        }
        <div class="legal_footer_compra">
            @Model.TextoDescripcionLegalCpc
        </div>
    </div>
</div>

<script id="template-showroom" type="text/x-handlebars-template">
    {{#each this as |item|}}
    <div class="content_item_home" style="position: relative;">
        <div class="liquidacion_item" data-posicion="{{Posicion}}">
            <div class="producto_img_mobile">
                <a class="btnVerDetalleOfertaShowRoom" href="{{UrlDetalle}}">
                    {{#IsNullOrEmpty ImagenMini '=='}}
                        <img src="@Url.Content("~/Content/Images/showroom/no_disponible.png")" />
                    {{/IsNullOrEmpty}}
                    
                    {{#IsNullOrEmpty ImagenMini '!='}}
                        <img src="{{ImagenMini}}" alt="" />
                    {{/IsNullOrEmpty}}
                </a>
            </div>
            <div class="producto_nombre_descripcion">
                <p class="nombre_producto" style="cursor: pointer; height: 36px;">
                    <b>{{Descripcion}}</b>
                </p>
                <div class="producto_precio">
                    <span class="producto_precio_normal">{{Simbolo}} {{FormatoPrecioOferta}}</span>
                    <span class="producto_precio_oferta"><b>{{Simbolo}} {{FormatoPrecioCatalogo}}</b></span>
                </div>
            </div>
        </div>
    </div>
    {{/each}} 
    <hr class="clear" />   
</script>

@section scripts{
    <script src="@Url.Content("~/Scripts/slick.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/Mobile/ShowRoom/Index.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/ShowRoom/ShowRoom.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/Mobile/CatalogoPersonalizado/bootstrap-slider.min.js")"></script>
    <script type="text/javascript">
        var urlEnHorarioRestringido = '@Url.Action("EnHorarioRestringido", "Pedido", new {area = ""})';
        var urlValidarUnidadesPermitidasPedidoProducto = '@Url.Action("ValidarUnidadesPermitidasPedidoProducto", "ShowRoom", new { area = "" })';
        var urlObtenerStockActualProducto = '@Url.Action("ObtenerStockActualProducto", "ShowRoom", new { area = "" })';
        var urlInsertOfertaWebPortal = '@Url.Action("InsertOfertaWebPortal", "ShowRoom", new { area = "" })';
        var urlActualizarCantidadTotalPedido = '@Url.Action("ObtenerResumenPedido", "OfertaLiquidacion", new { area = "Mobile" })';
        var tipoOrigenPantalla = 2;
        var precioMin = '@ViewBag.PrecioMin';
        var precioMax = '@ViewBag.PrecioMax';
        var simbolo = '@Model.Simbolo';
        var urlDetalleShowRoom = '@Url.Action("DetalleOferta", "ShowRoom", new {area = "Mobile"})';
        var urlLoad = '@Url.Content("~/Content/Images/Loading.gif")';
    </script>
    
}