@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}

@using Newtonsoft.Json
@using Portal.Consultoras.Common
@model Portal.Consultoras.Web.Models.ShowRoomEventoModel

@section styles{
    <style type="text/css">
        body {
            background: #FFF !important;
            padding-top: 0px;
            overflow-x:hidden;
        }
    </style>

    <link href="@Url.Content("~/Content/Css/Mobile/esika/slick.css")" rel="stylesheet" />
}
<!--  MAQUETADO NUEVO-->
<div class="content_banner_header_showroom">   
    <img src="@Url.Content("~/Content/Images/mobile/img-showroom/BARRA_SUPERIOR_TEXTOJUNTO_CATEGORIA.png")" @*style="width: 100%;"*@ />
</div>
<div class="wrapper_resumen_mobile">
    <div id="orderby-filter">
        <div id="content-orderby" style="margin-top:15px;">
            <select id="orderby-price" class="select-ffc" onchange="processFilterCatalogoPersonalizado(1);">
                <option value="01">PRECIO | menor a mayor</option>
                <option value="02">PRECIO | mayor a menor</option>
                <option value="03">RELEVANCIA</option>
            </select>

            <input id="btnfltm" type="button" class="btn2-ffc" value="FILTROS" onclick="showCustomFilters();">
        </div>
        <hr class="clear">
        <div id="summary-filters">
            <div id="div-result-number" style="margin-left:0; float: left; width: 65%; font-size:13px;">
                <span id="result-number">Mostrando 12 de 32 productos</span>
            </div>

            <div id="div-delete-filters" style="display: none; margin-right:0px;">
                <a href="#" class="link-ffc_landing" onclick="deleteFilters();">Borrar Filtros</a>
            </div>
            <br><br>
        </div>
    </div>

    <div class="contenedor_productos_liquidacion" style="position: relative;">

        @{ var posicions = 1; }
        @foreach (var item in Model.ListaShowRoomOferta)
            {
                var subTitulo = "";
                var contadorDetalles = 1;
                foreach (var detalle in item.ListaDetalleOfertaShowRoom)
                {
                    subTitulo += contadorDetalles == item.ListaDetalleOfertaShowRoom.Count ? detalle.NombreProducto : detalle.NombreProducto + " + ";
                    contadorDetalles++;
                }
                var inhabilitar = item.Stock == 0;
                var formatoPrecioOferta = Util.DecimalToStringFormat(item.PrecioOferta, Model.CodigoIso);
                var formatoPrecioCatalogo = Util.DecimalToStringFormat(item.PrecioCatalogo, Model.CodigoIso);
            <div class="content_item_home landing_showroom" style="position: relative;">
                <div class="liquidacion_item" data-posicion="@posicions">
                    <input type="hidden" id="hdOfertaShowRoomID" value="@item.OfertaShowRoomID" />
                    <input type="hidden" class="valorCuv" value="@item.CUV" />
                    <input type="hidden" class="claseMarcaID" value="@item.MarcaID" />
                    <input type="hidden" class="clasePrecioUnidad" value="@item.PrecioCatalogo" />
                    <input type="hidden" class="claseConfiguracionOfertaID" value="@item.ConfiguracionOfertaID" />
                    <input type="hidden" class="DescripcionProd" value="@item.Descripcion" />
                    <input type="hidden" class="DescripcionMarca" value="@item.DescripcionMarca" />
                    <input type="hidden" class="posicionEstrategia" value="@posicions" />

                    <div class="producto_img_mobile">
                        <a class="btnVerDetalleOfertaShowRoom" href="@Url.Action("ListadoProductoShowRoom", new { id = posicions })">
                            @if (string.IsNullOrEmpty(item.ImagenMini))
                            {
                                <img src="@Url.Content("~/Content/Images/showroom/no_disponible.png")" @*style="width: 100%;"*@ />
                            }
                            else
                            {
                                <img src="@item.ImagenProducto" alt="" />
                            }
                        </a>
                    </div>
                    <div class="producto_nombre_descripcion">
                        <p class="nombre_producto __web-inspector-hide-shortcut__" style="cursor:pointer; height:20px;">
                            <b>@item.Descripcion</b>
                        </p>
                        <div class="producto_precio">
                            <span class="producto_precio_oferta" style="padding-left:0px;"><b>@item.Simbolo @item.PrecioCatalogo</b></span>
                        </div>
                    </div>
                </div>
            </div>
            {
                posicions++;
            }
        }
        </div>
    </div>

<hr class="clear" />
<!--FIN-->

@*<input type="hidden" id="hdListaProductosEnShowRoom" value="@JsonConvert.SerializeObject(Model.ListaShowRoomOferta)" />*@
<!-- <div class="wrapper_resumen_mobile">
    <div class="titulo_showroom_mobile">
        <span>¡Oportunidad única! Sets exclusivos sólo por la Web!</span><br>
        @*Los productos no otorgan puntaje en concursos ni participan en ofertas de niveles. Precio neto Consultora.*@
    </div>
    <br />
</div>-->


<div class="titulo_showroom_mobile">
    <a onclick="SetMarcaGoogleAnalyticsTermino();" href="@Model.RutaShowRoomPopup" target="_blank">
        T&eacute;rminos y condiciones de la @Model.Nombre<br />
        @Model.Tema
    </a>
</div>

<!--MODAL AGREGAR PEDIDO-->
<div id="divMensajeProductoAgregado" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-alert ">
        <div class="modal-content">
            <div class="modal-body">
                <div class="texto_pedido_m">¡Has agregado <span id="spnNombreOfertaShowRoom">Hola</span> a tu pedido!</div>
                <a id="btnCerrarPedido" class="boton_volver_set">VOLVER A SETS</a>
                <a id="btnIrMipedido" class="boton_ver_pedido" href="@Url.Action("Index", "Pedido", new { area = "Mobile" })">VER MI PEDIDO</a>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="@Url.Content("~/Scripts/slick.min.js")"></script>
    <script type="text/javascript">
        var urlEnHorarioRestringido = '@Url.Action("EnHorarioRestringido", "Pedido", new {area = ""})';
        var urlValidarUnidadesPermitidasPedidoProducto = '@Url.Action("ValidarUnidadesPermitidasPedidoProducto", "ShowRoom", new { area = "" })';
        var urlObtenerStockActualProducto = '@Url.Action("ObtenerStockActualProducto", "ShowRoom", new { area = "" })';
        var urlInsertOfertaWebPortal = '@Url.Action("InsertOfertaWebPortal", "ShowRoom", new { area = "" })';
        var urlActualizarCantidadTotalPedido = '@Url.Action("ObtenerResumenPedido", "OfertaLiquidacion", new { area = "Mobile" })';

        $(document).ready(function () {
            TagManagerOfertaShowRoom();
            
            $("body").on("click", ".suma", function () {
                var article = $(this).parents(".listado_item").eq(0);
                var cantidad = $(article).find(".txtCantidad").val();
                var cajaTexto = $(article).find(".txtCantidad");
                if (cantidad == 99)
                    $(cajaTexto).val(Number(99));
                else
                    $(cajaTexto).val(Number(cantidad) + 1);
            });

            $("body").on("click", ".resta", function () {
                var article = $(this).parents(".listado_item").eq(0);
                var cantidad = $(article).find(".txtCantidad").val();
                var cajaTexto = $(article).find(".txtCantidad");
                if (cantidad == 1)
                    $(cajaTexto).val(Number(1));
                else
                    $(cajaTexto).val(Number(cantidad) - 1);
            });

            $("body").on("click", ".btnVerDetalleOfertaShowRoom", function (e) {
                var article = $(this).parents(".listado_item").eq(0);
                AgregarTagManagerClickProducto(article);
                //e.preventDefault();
                //(this).blur();
            });

            $("body").on("click", ".btnAgregarOfertaShowRoom", function (e) {
                var article = $(this).parents(".listado_item").eq(0);
                var cantidad = $(article).find(".txtCantidad").val();
                
                AgregarOfertaShowRoom(article, cantidad);
                e.preventDefault();
                (this).blur();
            });

            $("#btnCerrarPedido").click(function () {
                $("#divMensajeProductoAgregado").modal("hide");

                dataLayer.push({
                    'event': 'virtualEvent',
                    'category': 'Ofertas Showroom',
                    'action': 'Click popup Bolsa',
                    'label': 'Volver a sets'
                });
            });

            $("#btnIrMipedido").click(function () {
                dataLayer.push({
                    'event': 'virtualEvent',
                    'category': 'Ofertas Showroom',
                    'action': 'Click popup Bolsa',
                    'label': 'Ir a carrito'
                });
            });
        });

        //gr-1521
        function SetMarcaGoogleAnalyticsTermino() {
            dataLayer.push({ 'event': 'virtualEvent', 'category': 'Ofertas Showroom', 'action': 'Click enlace', 'label': 'Términos y Condiciones' });

        }

        function AgregarOfertaShowRoom(article, cantidad) {
            
            var CUV = $(article).find(".valorCuv").val();
            var MarcaID = $(article).find(".claseMarcaID").val();
            var PrecioUnidad = $(article).find(".clasePrecioUnidad").val();
            var ConfiguracionOfertaID = $(article).find(".claseConfiguracionOfertaID").val();
            var nombreProducto = $(article).find(".DescripcionProd").val();
            var posicion = $(article).find(".posicionEstrategia").val();
            var descripcionMarca = $(article).find(".DescripcionMarca").val();

            if (cantidad == "" || cantidad == 0) {
                messageInfo("La cantidad ingresada debe ser mayor que 0, verifique.");
            } else {
                ShowLoading();

                $.ajaxSetup({ cache: false });
                $.getJSON(urlValidarUnidadesPermitidasPedidoProducto, { CUV: CUV }, function (data) {
                    if (parseInt(data.Saldo) < parseInt(cantidad)) {
                        var Saldo = data.Saldo;
                        var UnidadesPermitidas = data.UnidadesPermitidas;

                        $.getJSON(urlObtenerStockActualProducto, { CUV: CUV }, function (data) {

                            $(article).find(".claseStock").text(data.Stock);

                            CloseLoading();
                            if (Saldo == UnidadesPermitidas) {
                                messageInfo("Lamentablemente, la cantidad solicitada sobrepasa las Unidades Permitidas de Venta (" + UnidadesPermitidas + ") del producto.");
                            }
                            else {
                                if (Saldo == "0")
                                    messageInfo("Las Unidades Permitidas de Venta son solo (" + UnidadesPermitidas + "), pero Usted ya no puede adicionar más, debido a que ya agregó este producto a su pedido, verifique.");
                                else
                                    messageInfo("Las Unidades Permitidas de Venta son solo (" + UnidadesPermitidas + "), pero Usted solo puede adicionar (" + Saldo + ") más, debido a que ya agregó este producto a su pedido, verifique.");
                            }
                        });
                    } else {
                        var Item = {
                            MarcaID: MarcaID,
                            Cantidad: cantidad,
                            PrecioUnidad: PrecioUnidad,
                            CUV: CUV,
                            ConfiguracionOfertaID: ConfiguracionOfertaID
                        };

                        $.ajaxSetup({ cache: false });
                        $.getJSON(urlObtenerStockActualProducto, { CUV: CUV }, function (data) {

                            if (parseInt(data.Stock) < parseInt(cantidad)) {
                                $(article).find(".claseStock").text(data.Stock);

                                CloseLoading();
                                messageInfo("Lamentablemente, la cantidad solicitada sobrepasa el stock actual (" + data.Stock + ") del producto, verifique.");
                            }
                            else {
                                jQuery.ajax({
                                    type: 'POST',
                                    url: urlInsertOfertaWebPortal,
                                    dataType: 'json',
                                    contentType: 'application/json; charset=utf-8',
                                    data: JSON.stringify(Item),
                                    async: true,
                                    success: function (response) {
                                        CloseLoading();

                                        if (response.success == true) {
                                            $("#spnNombreOfertaShowRoom").html(nombreProducto);

                                            $("#divMensajeProductoAgregado").modal("show");

                                            var stockRestante = parseInt(data.Stock) - parseInt(cantidad);
                                            if (stockRestante < 1) {
                                                $(article).find(".resta").attr('disabled', 'disabled');
                                                $(article).find(".suma").attr('disabled', 'disabled');
                                                $(article).find(".txtCantidad").attr('disabled', 'disabled');
                                                $(article).find(".btnAgregarOfertaProducto").attr('disabled', 'disabled');

                                                $(article).find(".claseStock").text("0");
                                                $(article).find(".txtCantidad").val("0");

                                                var htmlAgotado = '<div class="producto_agotado">';
                                                htmlAgotado += '<div class="agotado_texto">AGOTADO</div>';
                                                htmlAgotado += '</div>';
                                                var htmlBotonAgotado = '<a class="btn_agregar_mobile">AGOTADO</a>';

                                                var divAgotado = $(article).find(".divEstaAgotado");
                                                $(divAgotado).html("");
                                                $(divAgotado).html(htmlAgotado);
                                                var divBotonAgotado = $(article).find(".divBotonAgotado");
                                                $(divBotonAgotado).html("");
                                                $(divBotonAgotado).html(htmlBotonAgotado);
                                            } else {
                                                $(article).find(".claseStock").text(stockRestante);
                                                $(article).find(".txtCantidad").val("1");
                                            }
                                            
                                            AgregarTagManagerProductoAgregadoSWR(CUV, nombreProducto, PrecioUnidad, cantidad, descripcionMarca,0);
                                            //ActualizarCantidadTotalPedido();
                                            CargarCantidadProductosPedidos();
                                            TrackingJetloreAdd(cantidad, $("#hdCampaniaCodigo").val(), CUV);
                                        }
                                        else messageInfoError(response.message);
                                    },
                                    error: function (response, error) {
                                        if (checkTimeout(response)) {
                                            CloseLoading();
                                            console.log(response);
                                        }
                                    }
                                });
                            }
                        });
                    }
                });
            }
        }

        function ActualizarCantidadTotalPedido() {
            jQuery.ajax({
                type: 'POST',
                url: urlActualizarCantidadTotalPedido,
                dataType: 'json',
                async: true,
                success: function (response) {
                    if (checkTimeout(response)) {
                        if (response.success) {
                            var data = response.data;
                            $(".num-menu-shop").html(data.CantidadProductos);
                        } else {
                            window.messageInfo(response.message);
                        }
                    }
                },
                error: function (response, error) {
                    if (checkTimeout(response)) {
                        console.log(response);
                    }
                }
            });
        }

        function maxLengthCheck(object, cantidadMaxima) {
            if (object.value.length > cantidadMaxima)
                object.value = object.value.slice(0, cantidadMaxima);
        }

        function TagManagerOfertaShowRoom() {
            var cadListaofertaShowRoom = $("#hdListaProductosEnShowRoom").val();
            var listaofertaShowRoom = JSON.parse(cadListaofertaShowRoom);
            var cantidadofertaShowRoom = $('.listado_item').length;

            var arrayEstrategia = new Array();
            var position = 1;
            for (var i = 0; i < cantidadofertaShowRoom; i++) {
                var ofertaShowRoom = listaofertaShowRoom[i];
                var list = ofertaShowRoom.Stock > 0 ? 'Ofertas Showroom' : 'Ofertas Showroom - agotados';

                var impresionofertaShowRoom = {
                    'name': ofertaShowRoom.Descripcion,
                    'id': ofertaShowRoom.CUV,
                    'price': ofertaShowRoom.PrecioCatalogo.toString(),
                    'category': 'NO DISPONIBLE',
                    'brand': ofertaShowRoom.DescripcionMarca,
                    'position': position,
                    'list': list
                };
                position++;
                arrayEstrategia.push(impresionofertaShowRoom);
            }

            if (arrayEstrategia.length > 0) {
                dataLayer.push({
                    'event': 'productImpression',
                    'ecommerce': {
                        'impressions': arrayEstrategia
                    }
                });
            }
        }

        function AgregarTagManagerProductoAgregadoSWR(CUV, nombreProducto, PrecioUnidad, cantidad, descripcionMarca, tipo) {
            
            var lista = tipo == 0 ? "Ofertas Showroom" : "Ofertas Showroom popUp";
            dataLayer.push({
                'event': 'addToCart',
                'ecommerce': {
                    'add': {
                        'actionField': { 'list': lista },
                        'products': [{
                            'name': nombreProducto,
                            'id': CUV,
                            'price': PrecioUnidad,
                            'brand': descripcionMarca,
                            'variant': 'Ofertas Showroom',
                            'category': 'NO DISPONIBLE',
                            'quantity': cantidad
                        }]
                    }
                }
            });
        }

        function AgregarTagManagerProductoAgregado(CUV, nombreProducto, PrecioUnidad, cantidad, descripcionMarca) {
            dataLayer.push({
                'event': 'addToCart',
                'ecommerce': {
                    'add': {
                        'products': [{
                            'name': nombreProducto,
                            'id': CUV,
                            'price': PrecioUnidad,
                            'brand': descripcionMarca,
                            'variant': 'Ofertas Showroom',
                            'category': 'NO DISPONIBLE',
                            'quantity': cantidad
                        }]
                    }
                }
            });
        }

        function AgregarTagManagerClickProducto(article) {
            var nombreProducto = $(article).find(".DescripcionProd").val();
            var cuv = $(article).find(".valorCuv").val();
            var precio = $(article).find(".clasePrecioUnidad").val();
            var marca = $(article).find(".DescripcionMarca").val();
            var posicion = $(article).find(".posicionEstrategia").val();
            var list = 'Ofertas Showroom';

            dataLayer.push({
                'event': 'productClick',
                'ecommerce': {
                    'click': {
                        'actionField': { 'list': list },
                        'products': [{
                            'name': nombreProducto,
                            'id': cuv,
                            'price': precio,
                            'brand': marca,
                            'category': 'NO DISPONIBLE',
                            'position': parseInt(posicion)
                        }]
                    }
                }
            });
        }
        
        function CompartirFacebook(urlBase) {
            var popWwidth = 570;
            var popHeight = 420;
            var left = (screen.width / 2) - (popWwidth / 2);
            var top = (screen.height / 2) - (popHeight / 2);
            var url = "http://www.facebook.com/sharer/sharer.php?u=" + urlBase;

            window.open(url, 'Facebook', "width=" + popWwidth + ",height=" + popHeight + ",menubar=0,toolbar=0,directories=0,scrollbars=no,resizable=no,left=" + left + ",top=" + top + "");
        }

       
    </script>
    <script src="@Url.Content("~/Scripts/PortalConsultoras/Mobile/CatalogoPersonalizado/Index.js")"></script>
}