@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayoutContenedor.cshtml";
}

@using Newtonsoft.Json
@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Helpers
@model Portal.Consultoras.Web.Models.ShowRoomEventoModel

@section styles{
    <style type="text/css">
        body {
            background: #f5f5f7 !important;
            padding-top: 0px;
            overflow-x: hidden;
        }

        #btn_init {
            display: none !important;
        }

        #btn_open {
            display: none !important;
        }
    </style>

    <link href="@Url.Content("~/Content/Css/Mobile/esika/slick.css")" rel="stylesheet" />
    <link href="~/Content/Css/Mobile/esika/bootstrap-slider.min.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Css/Mobile/RevistaDigital/RedimensionLandingRD.css")" rel="stylesheet" />
}
    @{  var mobileConfiguracion = Html.MobileAppConfiguracion();
    }
<div class="wrapper_resumen_mobile">
    <div id="orderby-filter">
        <div id="content-orderby" style="margin-top: 15px;">
            @if (Model.FiltersBySorting != null)
            {
                <select id="orderby-price" class="select-ffc">
                    @foreach (var item in Model.FiltersBySorting)
                    {
                        <option value="@item.Codigo">@item.Descripcion</option>
                    }
                </select>
            }

            <input id="btnfltm" type="button" class="btn2-ffc" value="FILTROS" onclick=" showCustomFilters(); ">
        </div>
        <hr class="clear">
        <div id="summary-filters">
            <div id="div-result-number" style="margin-left: 0; float: left; width: 65%; font-size: 13px;">
                <span id="result-number">Mostrando <span id="spnCantidadFiltro">0</span> de <span id="spnCantidadTotal">0</span></span>
            </div>

            <div id="div-delete-filters" style="display: none; margin-right: 0px;">
                <a href="#" class="link-ffc_landing" onclick=" deleteFilters(); ">Borrar Filtros</a>
            </div>
            <br><br>
        </div>
    </div>
    <div class="row">
        <div id="custom-filters" style="display: none;" class="filtros_new">
            <div class="titulo_mobile" style="color: black; background: white">
                <a onclick=" showOrderbyFilter(); " class="enlace_regresar catalogosP flecha_black" title="Regresar"></a>
                &nbsp;&nbsp;&nbsp;&nbsp;SELECCIONA TUS FILTROS
            </div>
            <div class="texto_filtros">Encuentra de manera rápida los mejores productos especialmente escogidos para tus clientes</div>
            <br />
            <div id="content-filters" style="">
                <div class="panel-group" id="accordion">
                    @if (Model.TieneCategoria)
                    {
                        if (Model.ListaCategoria != null && Model.ListaCategoria.Count > 0)
                        {
                            <div class="content_panel">
                                <div class="titulo_filtro">
                                    <a class="accordion-toggle" data-toggle="collapse" href="#CategoriaCollpase" style="text-decoration: none;">
                                        <span class="title-accordion">CATEGORÍAS</span>
                                    </a>
                                </div>
                                <div id="CategoriaCollpase" class="panel-collapse collapse">
                                    <div class="panel-body panel_filtro">
                                        <div id="idcategory" class="content-category">
                                            @{
                                                var cont = 1;
                                            }
                                            @foreach (var categoria in Model.ListaCategoria)
                                            {
                                                <div class="block-checkbox">
                                                    <input class="chkFiltroMobile" type="checkbox" id="c@(cont)" name="categoria" value="@categoria.Codigo">
                                                    <label for="c@(cont)" class="label-checkbox">@categoria.Descripcion</label>
                                                </div>
                                                {
                                                    cont++;
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                    <div class="content_panel">
                        <div class="titulo_filtro">
                            <a class="accordion-toggle" data-toggle="collapse" href="#collapseThree" style="text-decoration: none;">
                                <span class="title-accordion">FILTRAR PRECIO</span>
                            </a>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body panel_filtro">
                                <div style="font-size: 12px; width: 100%;">

                                    <div style="width: 100%; color: #e81c36; text-align: center;">
                                        <input id="txt-range-price" type="text" class="span2" value="" style="width: 98%;"
                                               data-slider-id="slider-price"
                                               data-slider-min="0"
                                               data-slider-max="0"
                                               data-slider-step="1"
                                               data-slider-value="[0,0]" />
                                    </div>
                                    <div style="text-align: left; width: 50%; float: left; color: #4a4a4a">
                                        <b>@ViewBag.Simbolo <span id="min-range-price">10</span></b>
                                    </div>
                                    <div style="text-align: right; width: 50%; float: left; color: #4a4a4a">
                                        <b>@ViewBag.Simbolo <span id="max-range-price">1000</span></b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content_btn_filtros">
                <a href="#" class="link-ffc" onclick=" deleteFilters(); ">BORRAR FILTROS</a>

                <div id="save-filters" class="save-filters">
                    <input id="btnBuscarShowRoom" type="button" class="btn-ffc" value="APLICAR" />
                </div>
            </div>
        </div>
    </div>

    <div class="contenedor_productos_liquidacion content_showroom" style="position: relative;">
        <div id="divProductosShowRoom" style="display: inline-flex; flex-wrap:wrap; justify-content:center;">
        </div>
    </div>
</div>

<hr class="clear" />

<div class="titulo_showroom_mobile">
    @if (mobileConfiguracion.MostrarHipervinculo)
    {
        <a onclick=" SetMarcaGoogleAnalyticsTermino(); " href="@Model.UrlTerminosCondiciones" target="_blank">
            T&eacute;rminos y condiciones de la @Model.Nombre<br/>
            @Model.Tema
        </a>
    }
</div>

@if (Model.TieneCompraXcompra)
{
    if (Model.ListaShowRoomCompraPorCompra != null && Model.ListaShowRoomCompraPorCompra.Count > 0)
    {
        <div class="content_promocion">
            <div class="pestana_promocion" id="AbrirBannerCompra">PROMOCIÓN</div>
            <div class="content_desplegable_banner" id="BannerCompra">
                <div class="content_carrusel_intriga" style="background: white;" id="LlamarPopCompra"
                     data-promotion-impresion-id ="@Model.ListaShowRoomCompraPorCompra[0].CUV"
                      @{
                          var _descripcion = Model.ListaShowRoomCompraPorCompra[0].Descripcion;
                          if (_descripcion != null && _descripcion.Length > 41)
                          {
                              _descripcion = _descripcion.Substring(0, 40) + " ...";
                          }
                          _descripcion = "Showroom - " + _descripcion + " A SÓLO " + Model.ListaShowRoomCompraPorCompra[0].Simbolo + " " + Model.ListaShowRoomCompraPorCompra[0].FormatoPrecioOferta;
                      }
                     data-promotion-impresion-name ="@_descripcion">
                    <div class="content_banner_img">
                        <img src="@Model.ListaShowRoomCompraPorCompra[0].ImagenProducto" />
                    </div>
                    <div class="content_banner_right">
                        <div class="texto_banner_compra">
                            <b style="margin-top: 10px;">
                                @{
                                    var descripcion = Model.ListaShowRoomCompraPorCompra[0].Descripcion;
                                    if (descripcion != null && descripcion.Length > 41)
                                    {
                                        descripcion = descripcion.Substring(0, 40) + " ...";
                                    }
                                }
                                @descripcion
                            </b>
                            <b style="font-size: 18px;">A SÓLO @Model.ListaShowRoomCompraPorCompra[0].Simbolo @Model.ListaShowRoomCompraPorCompra[0].FormatoPrecioOferta </b>
                            <span class="set_dia_banner">@Model.TextoCondicionCompraCpc</span>
                        </div>
                    </div>
                    <hr class="clear" />
                </div>
            </div>
        </div>
    }
}
<div id="divMensajeProductoAgregado" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-alert ">
        <div class="modal-content">
            <div class="modal-body">
                <div class="texto_pedido_m">¡Has agregado <span id="spnNombreOfertaShowRoom">Hola</span> a tu pedido!</div>
                <a id="btnCerrarPedido" class="boton_volver_set">VOLVER A SETS</a>
                <a id="btnIrMipedido" class="boton_ver_pedido" href="@Url.Action("Index", "Pedido", new { area = "Mobile" })">VER MI PEDIDO</a>
            </div>
        </div>
    </div>
</div>

@if (Model.TieneSubCampania)
{
    var listaSubCampania = Model.ListaShowRoomOferta.Where(p => p.EsSubCampania).OrderBy(p => p.Orden).ToList();

    if (listaSubCampania != null && listaSubCampania.Count > 0)
    {
        <div class="content_sub_oferta_showroom" id="content_sub_oferta_showroom">
            <div class="content_titulo_sub_oferta">
                <hr class="clear" />
                <div class="content_titulo_texto_sw" style="color: @Model.ColorTextoInicialOfertaSubCampania">
                    <span style="font-size: 12px;">@Model.TextoInicialOfertaSubCampania</span> 
                    <span class="titulo_banner_showroom" style="font-size=11px;color: @Model.ColorTextoTituloOfertaSubCampania">@Model.TextoTituloOfertaSubCampania</span>
                </div>
                <a href="#" class="btn_descubre_set_especial" id="btn_descubre_mobile"></a>
            </div>
            <hr class="clear" />

        </div>
        <div class="content_display_set_suboferta">
            <div class="content_header_sub">
                <div class="content_titulo_sub_oferta">
                    <hr class="clear" />
                    <div class="content_titulo_texto_sw" style="color: @Model.ColorTextoInicialOfertaSubCampania">
                        @Model.TextoInicialOfertaSubCampania
                        <span class="titulo_banner_showroom" style="color: @Model.ColorTextoTituloOfertaSubCampania">@Model.TextoTituloOfertaSubCampania</span>
                    </div>
                    <a href="#" class="btn_descubre_set_especial btn_descubre_set_especial_click" id="btn_cerrar_mobile"></a>
                </div>
                <div style="top: 45px; left: 50%; border: solid transparent; height: 0; width: 0; pointer-events: none; border-color: rgba(0, 0, 0, 0);
                    border-top-color: #020202; border-width: 12px; margin-left: -12px; position: absolute;"></div>
            </div>
            <div id="contenedor-showroom-subcampanias-mobile" class="content_info_set_especial" style="height: 100%;"></div>
            <div class="content_btn_agregar" style="display:none;" id="agregarSetEspecial">
                <div class="content_320">
                    <div class="content_cantidad_ficha_producto">
                        <a class="cantidad_menos_home"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
                        <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" data-input="cantidad">
                        <a class=" cantidad_mas_home"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
                    </div>
                    <a class="btn_agregar_ficha_producto" data-odd-accion="agregar">AGRÉGALO</a>
                    <hr class="clear">
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="PopMobile1" id="PopCompra" data-popup-main="">
        <div class="content_popMobile" data-popup-body="" style="max-width: 450px;">
            <a class="cerrar_popMobile" id="CerrarPopCompra" style="position:absolute;right: 10px;top: 10px;">
                <img src="/Content/Images/cerrar_04_blanco.png" alt="-">
            </a>
            <div style="margin:-20px -20px 0 -20px;">
                <div class="titulo_compra_POP">PROMOCIÓN</div>
            </div>

            @if (Model.TieneCompraXcompra)
            {
                if (Model.ListaShowRoomCompraPorCompra != null && Model.ListaShowRoomCompraPorCompra.Count > 0)
                {
                    <div class="content_pop_compra">
                        @{ var posicionCpc = 1; }
                        @foreach (var item in Model.ListaShowRoomCompraPorCompra)
                        {
                            var descripcion = item.Descripcion;
                            if (descripcion != null && descripcion.Length > 41)
                            {
                                descripcion = descripcion.Substring(0, 40) + " ...";
                            }
                            <div data-posicion="@posicionCpc" data-item="@item.OfertaShowRoomID">
                                <div data-campos="">
                                    <input type="hidden" class="hdOfertaShowRoomID" value="@item.OfertaShowRoomID" />
                                    <input type="hidden" class="valorCuv" value="@item.CUV" />
                                    <input type="hidden" class="claseMarcaID" value="@item.MarcaID" />
                                    <input type="hidden" class="clasePrecioUnidad" value="@item.PrecioOferta" />
                                    <input type="hidden" class="DescripcionProd" value="@item.Descripcion" />
                                    <input type="hidden" class="DescripcionMarca" value="@item.DescripcionMarca" />
                                    <input type="hidden" class="posicionEstrategia" value="@posicionCpc" />
                                </div>
                                <div class="set_dia_compra_pop">@Model.TextoCondicionCompraCpc</div>
                                <div class="content_imagen_carrusel_compra">
                                    @if (item.ImagenProducto != "")
                                    {
                                        <img data-src="@item.ImagenProducto" class="imagen_producto" data-img-lazy="1" />
                                    }
                                    else
                                    {
                                        <img data-src="@Url.Content("~/Content/Images/showroom/no_disponible.png")" style="width: auto; height: 100%;" class="imagen_producto" data-img-lazy="1"/>
                                    }
                                </div>
                                <div style="height: 130px;">
                                    <div class="nombre_producto_pop_compra">@descripcion</div>
                                    <div class="precio_set_compra">
                                        A SÓLO @item.Simbolo @item.FormatoPrecioOferta
                                    </div>
                                    <div class="descripcion_compra">Valorizado en @item.Simbolo @item.FormatoPrecioValorizado</div>
                                    <div class="precio_producto_compra">@item.DescripcionLegal</div>
                                </div>
                                <div>
                                    <div class="content_cantidad_ficha_producto">
                                        <a class="cantidad_menos_home" href="javascript: void(0);"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
                                        <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" data-input="cantidad">
                                        <a class=" cantidad_mas_home" href="javascript: void(0);"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
                                    </div>
                                    <a class="btn_agregar_ficha_producto" data-btn-agregar-cpc="" style="background:black;" href="javascript: void(0);">AGRÉGALO</a>
                                    <hr class="clear">
                                </div>
                            </div>
                            {
                                posicionCpc++;
                            }
                        }
                    </div>
                                }
                            }
            <div class="legal_footer_compra">
                @Model.TextoDescripcionLegalCpc
            </div>
        </div>
    </div>
                            }

<script id="template-showroom" type="text/x-handlebars-template">
    {{#each this as |item|}}
    <div class="revistadigital-landing content_item_home_palanca">
        <div class="content_item_home_bpt box_producto_mobile_fix" data-posicion="{{Posicion}}">
            <div style="display:none;">
                <input type="hidden" id="hdswventaID" value="{{OfertaShowRoomID}}" />
                <input type="hidden" id="hdswventaDescripcion" value="{{Descripcion}}" />
                <input type="hidden" id="hdswventaprecio" value="{{PrecioOferta}}" />
                <input type="hidden" id="hdswventaposicion" value="{{Posicion}}" />
                <input type="hidden" id="hdswventamarca" value="{{DescripcionMarca}}" />
            </div>
            <div class="producto_img_mobile_bpt swproddetcompra">
                <a class="btnVerDetalleOfertaShowRoom swproddetcompraimg" href="{{UrlDetalle}}">
                    {{#IsNullOrEmpty ImagenProducto '=='}}
                    <img data-src="@Url.Content("~/Content/Images/showroom/no_disponible.png")" data-lazy-seccion-showroom="" />
                    {{else}}
                    <img data-src="{{ImagenProducto}}" alt="" onclick="click_producto_showroow('{{Descripcion}}','{{CUV}}','{{PrecioOferta}}','{{DescripcionMarca}}','{{Posicion}}')" data-lazy-seccion-showroom="" />
                    {{/IsNullOrEmpty}}
                </a>
            </div>
            
            <div class="producto_nombre_descripcion">
                <h6>&ensp;&nbsp;</h6>
                <p class="nombre_producto" style="cursor: pointer; height: 36px;">
                    <b>{{Descripcion}}</b>
                </p>
                <div class="producto_precio">
                    <span class="producto_precio_normal">{{SimboloMoneda}} {{FormatoPrecioValorizado}}</span>
                    <span class="producto_precio_oferta"><b>{{SimboloMoneda}} {{FormatoPrecioOferta}}</b></span>
                </div>
            </div>

            {{#iff TipoAccionAgregar '==' '2'}}
            <div class="texto_elige_tono">&ensp;&nbsp;</div>
            {{/iff}}
            {{#iff TipoAccionAgregar '==' '3'}}
            <div class="texto_elige_tono"> ELIGE TU OPCIÓN </div>
            {{/iff}}
            <div class="clear"></div>
        </div>
    </div>
    {{/each}}
    <hr class="clear" />
</script>

<script id="template-showroom-subcampanias-mobile" type="text/x-handlebars-template">
    {{#each this.Lista as |oferta|}}
    <div id="contenedor_showroom_mobile" class="content_info_set_especial" data-item="">
        <div style="display:none;" data-item="">
            <input type="hidden" class="hdOfertaShowRoomID" value="{{oferta.OfertaShowRoomID}}" />
            <input type="hidden" class="valorCuv" value="{{oferta.CUV}}" />
            <input type="hidden" class="claseMarcaID" value="{{oferta.MarcaID}}" />
            <input type="hidden" class="clasePrecioUnidad" value="{{oferta.PrecioOferta}}" />
            <input type="hidden" class="claseConfiguracionOfertaID" value="{{oferta.ConfiguracionOfertaID}}" />
            <input type="hidden" class="DescripcionProd" value="{{oferta.Descripcion}}" />
            <input type="hidden" class="DescripcionMarca" value="{{oferta.DescripcionMarca}}" />
            <input type="hidden" class="posicionEstrategia" value="{{oferta.Posicion}}" />
        </div>
        <div data-compartir-campos="" style="display:none;">
            <input type="hidden" class="CUV" value="{{oferta.CUV}}" />
            <input type="hidden" class="rsFBMensaje" value="" />
            <input type="hidden" class="rsWAMensaje" value="" />
            <input type="hidden" class="rsFBRutaImagen" value="{{oferta.ImagenProducto}}" />
            <input type="hidden" class="rsWARutaImagen" value="{{oferta.ImagenProducto}}" />
            <input type="hidden" class="MarcaID" value="{{oferta.MarcaID}}" />
            <input type="hidden" class="MarcaNombre" value="{{oferta.DescripcionMarca}}" />
            <input type="hidden" class="Nombre" value="{{oferta.Descripcion}}" />
            <input type="hidden" class="ProductoDescripcion" value="{{oferta.Descripcion}}" />
            <input type="hidden" class="Palanca" value="Showroom" />
        </div>
        <div class="saludo_paginacion">
            @ViewBag.NombreConsultora, te mostramos <b>{{oferta.Posicion}} de {{../CantidadProductos}}</b>
            {{#iff ../CantidadProductos '>' 1}}
            &nbsp;ofertas
            {{/iff}}
            {{#iff ../CantidadProductos '<' 2}}
            &nbsp;oferta
            {{/iff}}
        </div>
        <div class="set_oferta_content">
            <div class="producto_img_mobile" data-img="">
                <img src="{{oferta.ImagenProducto}}" alt="Solo Hoy" id="img-display-odd" data-img-lazy="1"/>
            </div>
            <div class="nombre_set_display">{{oferta.Descripcion}}</div>
            <div class="precio_valorizado_mobile">VALORIZADO EN <span>{{SimboloMoneda}} {{oferta.FormatoPrecioValorizado}}</span></div>
            <div class="producto_precio_hoy_mobile">
                A SOLO <span>{{SimboloMoneda}} {{oferta.FormatoPrecioOferta}}</span>
            </div>
            <div class="titulo_contenido">CONTENIDO</div>
            <div class="nombre_set_producto_hoy">{{{oferta.Contenido}}}</div>
            <div class="content_redes_ficha" data-item="">
                @if (mobileConfiguracion.MostrarHipervinculo)
                {
                    <div class="texto_redes">Comparte este producto con tus clientes:</div>
                    <a class="btn_compartir_ofertas" href="javascript: void(0);" data-compartir="WA"><img src="/Content/Images/Mobile/Esika/catalogo_ws.png" alt=""></a>
                    <a class="btn_compartir_ofertas" href="javascript: void(0);" data-compartir="FB"><img src="/Content/Images/Mobile/Esika/facebook.png" alt=""></a>
                }
             </div>
        </div>
    </div>
    {{/each}}
</script>

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/Mobile/CatalogoPersonalizado/bootstrap-slider.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/Mobile/ShowRoom/Index.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/ShowRoom/ShowRoom.js")"></script>    
    <script type="text/javascript">
        var urlEnHorarioRestringido = '@Url.Action("EnHorarioRestringido", "Pedido", new {area = ""})';
        var urlValidarUnidadesPermitidasPedidoProducto = '@Url.Action("ValidarUnidadesPermitidasPedidoProducto", "ShowRoom", new { area = "" })';
        var urlObtenerStockActualProducto = '@Url.Action("ObtenerStockActualProducto", "ShowRoom", new { area = "" })';
        var urlInsertOfertaWebPortal = '@Url.Action("InsertOfertaWebPortal", "ShowRoom", new { area = "" })';
        var urlActualizarCantidadTotalPedido = '@Url.Action("ObtenerResumenPedido", "OfertaLiquidacion", new { area = "Mobile" })';
        var tipoOrigenPantalla = 2;
        var precioMin = '@ViewBag.PrecioMin';
        var precioMax = '@ViewBag.PrecioMax';
        var urlDetalleShowRoom = '@Url.Action("DetalleOferta", "ShowRoom", new {area = "Mobile"})';
        var urlLoad = '@Url.Content("~/Content/Images/Loading.gif")';
        var origenPedidoWebTactica = '@Constantes.OrigenPedidoWeb.MobileShowRoomLandingCompraTactica';
        var origenPedidoWebSubCampania = '@Constantes.OrigenPedidoWeb.MobileShowRoomSubCampanias';
        var tieneCompraXCompra = '@Model.TieneCompraXcompra';
        var itemsCompraXCompra = '@Model.ListaShowRoomCompraPorCompra.Count';
        var tieneSubCampania = '@Model.TieneSubCampania';
        var itemsSubCampania = @Model.ListaShowRoomOferta.Where(p => p.EsSubCampania && p.UnidadesPermitidasRestantes > 0).OrderBy(p => p.Orden).ToList().Count;
    </script>
}