@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayoutContenedor.cshtml";
}


@using Newtonsoft.Json
@using Portal.Consultoras.Common
@model Portal.Consultoras.Web.Models.EstrategiaPedidoModel


@section styles{
    <style type="text/css">
        body {
            overflow-x: hidden;
        }
    </style>

    <link href="@Url.Content("~/Content/Css/Mobile/esika/slick.css")" rel="stylesheet" />
}
<div class="fondo_gris" style="padding-top:20px; padding-bottom:15px;display: none;" id="divIntrigaProgramarAviso">
    <div id="divIntrigaProgramarAvisoDatos">
        <div class="titulo_mensaje_landing">¡no te quedes fuera!</div>
        <div class="mensaje_landing">Confirma tu correo y entérate primero</div>
        <div class="correo_showroon"><input type="text" value="@Model.EMail" id="txtIntrigaEmail"></div>
        <div class="correo_showroon icono_celular"><input type="tel" value="@Model.Celular" id="txtIntrigaCelular" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);"></div>
        <a class="btn_correo_showroom" id="btnIntrigaConfirmarCorreo" ">CONFIRMA TU CORREO</a>
        <div class="termino_condiciones_intriga" style="display:inline-block; width:auto">Estoy de acuerdo con los </div>
        <a onclick="click_terminos_y_condiciones_form_intriga()" href="@Model.UrlTerminosCondiciones" target="_blank" style="text-decoration:underline; display: inline-block;font-size:10.5px">términos y condiciones.</a>
    </div>
    <div id="divIntrigaEmailRespuestaOk">
        <div class="titulo_confirmacion" style="margin-bottom: 17px;">¡ahora serás la primera en enterarte!</div>
        <div class="texto_confirmacion">Mantente atenta, te notificaremos a:<b data-email-registrado="">@Model.EMail</b></div>
        <a class="link_cambiar_correo" data-email-cambiar="">CAMBIAR CORREO</a>
    </div>
    <div style="text-align:center" id="divIntrigaEmailRespuestaConfirmar">
        <img src="/Content/Images/Esika/sobre_mailing.png">
        <div class="titulo_confirmacion" style="margin-bottom:15px; font-size:17px; margin-top:15px;">AHORA SÓLO DEBES <br /> CONFIRMAR TU CORREO</div>
        <div class="texto_confirmacion">Te hemos enviado un correo a:<b data-email-registrado="">@Model.EMail</b>Entra a tu cuenta para confirmarlo</div>
        <a class="link_cambiar_correo" data-email-reenviar="">ENVIAR NUEVAMENTE</a> &nbsp; &nbsp; &nbsp; &nbsp;
        <a class="link_cambiar_correo" data-email-cambiar="">CAMBIAR CORREO</a>

    </div>
</div>
<div class="texto_adelanto">Mira el adelanto…</div>
<div class="content_carrusel_intriga">
    <div class="variable-width">
        <div>
            <div class="producto_faltante">
                <img src="@Url.Content("~/Content/Images/Mobile/img-showroom/pronto2.png")" alt="" />
            </div>
            <div class="linea_separadora_intriga"></div>
        </div>
        <div style="width: 250px;">

            <div class="content_imagen_intriga">
                @if (Model.ImagenProducto != "")
                {
                    <img src="@Model.ImagenProducto">
                }
                else
                {
                    <img src="@Url.Content("~/Content/Images/showroom/no_disponible.png")" />
                }
            </div>
            <div class="linea_separadora_intriga"></div>
            <div class="titulo_ficha_producto">@Model.Descripcion </div>
            <div class="precio_ficha_producto">
                <span class="precio_tachado_ficha">@Model.Simbolo @Model.FormatoPrecioValorizado </span>@Model.Simbolo @Model.FormatoPrecioOferta
            </div>
            <div class="liquidacion_rango_home" data-cantidad-contenedor="">
                <a class="cantidad_menos_home" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)" tabindex="0" href="javascript: void(0);"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
                <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" data-input="cantidad" tabindex="0">
                <a class="cantidad_mas_home" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)" tabindex="0" href="javascript: void(0);"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
            </div>
            <hr class="clear" />
            <input id="hdCampaniaCodigo" type="hidden" value="@Model.CodigoCampania" />
            <input id="hdProductoNombre" type="hidden" value="@Model.Descripcion" />
            <input id="hdMarcaDescripcion" type="hidden" value="@Model.DescripcionMarca" />
            <a class="boton_Agregalo_home" href="javascript: void(0);">
                AGRÉGALO
            </a>
            <div style="display: block;
    padding: 0px 0px 10px;">
                <div class="agregado product-add" style="text-align: right; display: @Model.Agregado;">
                    AGREGADO
                    <div class="icono"></div>
                </div>
            </div>
        </div>
        <div>
            <div class="producto_faltante">
                <img src="@Url.Content("~/Content/Images/Mobile/img-showroom/pronto2.png")" alt="" />
            </div>
            <div class="linea_separadora_intriga"></div>
        </div>
    </div>
</div>
<div class="PopMobile1" style="display:none;">
    <div class="content_popMobile" style="text-align:center">
        <a class="cerrar_popMobile" href="javascript:;" onclick="javascript: $('#divIntrigaEmailRespuestaConfirmar').hide();">
            <img src="/Content/Images/mobile/Esika/cerrar_04.png" alt="-">
        </a>
        <hr class="clear" />
        <img src="/Content/Images/Esika/sobre_mailing.png">
        <div class="titulo_confirmacion" style="margin-bottom:15px; font-size:17px; margin-top:15px;">AHORA SÓLO DEBES <br /> CONFIRMAR TU CORREO</div>
        <div class="texto_confirmacion">Te hemos enviado un correo a:<b data-email-registrado="">@Model.EMail</b>Entra a tu cuenta para confirmarlo</div>
        <a class="link_cambiar_correo" data-email-reenviar="">ENVIAR NUEVAMENTE</a> &nbsp; &nbsp; &nbsp; &nbsp;
        <a class="link_cambiar_correo" data-email-cambiar="">CAMBIAR CORREO</a>

    </div>

</div>

@section scripts{
    <script type="text/javascript">
        var emailOriginal = $.trim('@Model.EMail').toLowerCase();
        var emailActivo = $.trim('@Model.EMailActivo');
        var celularOriginal = $.trim('@Model.Celular').toLowerCase();
        var suscrito = $.trim('@Model.Suscripcion');

        var urlInsertOfertaWebPortal = '@Url.Action("InsertOfertaWebPortal", "ShowRoom", new {area = ""})';
        var urlObtenerStockActualProducto = '@Url.Action("ObtenerStockActualProducto", "ShowRoom", new {area = ""})';
        var origenPedidoWeb = '@Constantes.OrigenPedidoWeb.MobileShowRoomLandingIntriga';

        $(document).ready(function () {

            $('.variable-width').on('init', function (event, slick) {
                setTimeout(function () {
                    slick.setPosition();
                    slick.slickGoTo(1);
                }, 500);
            });

            $('.variable-width').slick({
                dots: true,
                infinite: false,
                speed: 300,
                slidesToShow: 2,
                centerPadding: '0px',
                centerMode: true,
                variableWidth: true,
                slidesToScroll: 1,
                centerMode: true,
                arrows: false,
                dots: false,
            });

            $("body").on("click", ".boton_Agregalo_home", function(e) {
                var cantidad = $("#txtCantidad").val();

                AgregarOfertaShowRoomIntriga(cantidad);
                e.preventDefault();
                (this).blur();
            });



        });

        function AgregarOfertaShowRoomIntriga(cantidad) {
            var CUV = @Model.CUV;
            var MarcaID =@Model.MarcaID;
            var PrecioUnidad = '@Model.PrecioOferta';
            var ConfiguracionOfertaID = @Model.ConfiguracionOfertaID;
            var nombreProducto = $("#hdProductoNombre").val();
            var posicion = 1;
            var descripcionMarca = $("#hdMarcaDescripcion").val();

            if (cantidad == "" || cantidad == 0) {
                messageInfo("La cantidad ingresada debe ser mayor que 0, verifique.");
            } else {
                var Item = {
                    MarcaID: MarcaID,
                    Cantidad: cantidad,
                    PrecioUnidad: PrecioUnidad,
                    CUV: CUV,
                    ConfiguracionOfertaID: ConfiguracionOfertaID,
                    OrigenPedidoWeb: origenPedidoWeb
                };

                $.ajaxSetup({ cache: false });
                $.getJSON(urlObtenerStockActualProducto, { CUV: CUV }, function(data) {
                    if (parseInt(data.Stock) < parseInt(cantidad)) {
                        CloseLoading();
                        messageInfo("Lamentablemente, la cantidad solicitada sobrepasa el stock actual (" + data.Stock + ") del producto, verifique.");
                    } else {
                        jQuery.ajax({
                            type: 'POST',
                            url: urlInsertOfertaWebPortal,
                            dataType: 'json',
                            contentType: 'application/json; charset=utf-8',
                            data: JSON.stringify(Item),
                            async: true,
                            success: function(response) {
                                CloseLoading();

                                if (response.success == true) {

                                    var stockRestante = parseInt(data.Stock) - parseInt(cantidad);
                                    if (stockRestante < 1) {
                                        $("#txtCantidad").val("0");
                                    } else {
                                        $("#txtCantidad").val("1");
                                    }

                                    ShowLoading();

                                    AgregarTagManagerProductoAgregado(CUV, nombreProducto, PrecioUnidad, cantidad, descripcionMarca);
                                    CargarCantidadProductosPedidos();
                                    TrackingJetloreAdd(cantidad, $("#hdCampaniaCodigo").val(), CUV);
                                    $(".agregado").show();
                                    CloseLoading();
                                }
                                else messageInfoError(response.message);
                            },
                            error: function(response, error) {
                                if (checkTimeout(response)) {
                                    CloseLoading();
                                }
                            }
                        });
                    }

                });
            }
        }

        function AgregarTagManagerProductoAgregado(CUV, nombreProducto, PrecioUnidad, cantidad, descripcionMarca) {
            dataLayer.push({
                'event': 'addToCart',
                'ecommerce': {
                    'add': {
                        'actionField': { 'list': 'Ofertas Showroom' },
                        'products': [{
                            'name': nombreProducto,
                            'id': CUV,
                            'price': PrecioUnidad.toString(),
                            'brand': descripcionMarca,
                            'variant': 'Ofertas Showroom',
                            'category': 'NO DISPONIBLE',
                            'quantity': cantidad.toString()
                        }]
                    }
                }
            });
        }

    </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/ShowRoom/Intriga.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/EstrategiaAgregar/EstrategiaAgregar.js")"></script>

}