@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}
@section styles{
    <style type="text/css">
        body {
            overflow-x:hidden;
        }
    </style>

    <link href="@Url.Content("~/Content/Css/Mobile/esika/slick.css")" rel="stylesheet" />
}
<div class="content_banner_header_showroom">
    <div class="faltan_dias_header">FALTAN <b>5 DÍAS</b></div>
    <img src="@Url.Content("~/Content/Images/Mobile/img-showroom/banner_intriga_new_header.png")" alt="Solo Hoy" />
</div>
<div class="fondo_gris" style="padding-top:20px; padding-bottom:15px;">   
    <div class="titulo_mensaje_landing">¡no te quedes fuera!</div>
    <div class="mensaje_landing">Confirma tu correo y entérate primero</div>
    <div class="correo_showroon"><input type="text" value="ashimabukuro@belcorp.biz"/></div>
    <a href="#" class="btn_correo_showroom">QUIERO ENTERARME PRIMERO</a>
    <div class="termino_condiciones_intriga">Estoy de acuerdo con los términos y condiciones.</div>
</div>   
<div class="texto_adelanto">Mira el adelanto…</div>
<div class="content_carrusel_intriga">
    <div class="variable-width">
        <div>
            <div class="producto_faltante">
                <img src="@Url.Content("~/Content/Images/Mobile/img-showroom/pronto2.png")" alt="Solo Hoy" />
            </div>
            <div class="linea_separadora_intriga"></div>
        </div>
        <div>
            <div class="content_imagen_intriga"><img src="https://S3.amazonaws.com/consultorasQAS/SomosBelcorp/Matriz/PE/PE_200042737_2017254271_03_mumegycqit.png"></div>
            <div class="linea_separadora_intriga"></div>
            <div class="titulo_ficha_producto">Girlink </div>
            <div class="precio_ficha_producto">
                <span class="precio_tachado_ficha">S/. 60.00 </span>S/. 38.90
            </div>
            <div class="liquidacion_rango_home">
                <a class="cantidad_menos_home" tabindex="0"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
                <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" tabindex="0">
                <a class="cantidad_mas_home" tabindex="0"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
            </div>
            <hr class="clear" />
            <a class="boton_Agregalo_home">
                AGRÉGALO
            </a>
        </div>       
        <div>
            <div class="producto_faltante">
                <img src="@Url.Content("~/Content/Images/Mobile/img-showroom/pronto2.png")" alt="Solo Hoy" />
            </div>
            <div class="linea_separadora_intriga"></div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/slick.min.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".termino_condiciones_intriga").click(function () {
                $(this).toggleClass('check_intriga');
            });
            $('.variable-width').on('init', function (event, slick) {
                setTimeout(function () {
                    slick.setPosition();
                    slick.slickGoTo(1);
                }, 500);
            });
           
            $('.variable-width').slick({
                dots: true,
                infinite: false,
                speed: 300,
                slidesToShow: 2,
                centerPadding: '0px',
                centerMode: true,
                variableWidth: true,
                slidesToScroll: 1,
                centerMode: true,
                arrows: false,
                dots: false,
            });
            //$('.variable-width').slickGoTo(2);
            

        });
    </script> 
   
}