@using Portal.Consultoras.Web.Models.PagoEnLinea;
@model PagoEnLineaModel

@*@section styles{
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Site/Esika/pago-en-linea.css")">
}*@

<div class="logo_lista_detalle">    
</div>

<div class="content_belcorp">
    <div class="pestana_lbel"></div>

    <!-- VISTA PROCESO DE PAGO EN LÍNEA -->

    <div class="proceso_de_pago_en_linea">

        <!-- VISTA PAGO EXITOSO -->

        <div class="pago_exitoso" style="text-align: center;">
            <h3 class="titulo_pago_exitoso">
                <span class="icono_pago_exitoso"></span>
                <span>Constancia de Pago</span>
            </h3>
            <div class="col_izq">
                <p class="mensaje_felicitacion_por_pago_exitoso">
                    Muy bien @Model.NombreConsultora <span class="imagen_felicitacion"><img src="@Url.Content("~/Content/Images/celebracion-img.png")" alt="Felicitaciones" /></span>
                </p>
                @*<p class="info_constancia_pago_exitoso">
                    Te enviamos una constancia de pago a tu correo o puedes revisarla <a href='@Url.Action("DetallePagoEnLinea", "Notificaciones")?solicitudId=@Model.PagoEnLineaResultadoLogId' class="enlace_ir_a_notificaciones" title="Ir A Notificaciones">aquí</a>.
                </p>*@
                @*<p class="info_horarios_efectivos_pagos">
                    @Model.MensajeInformacionPagoExitoso
                </p>*@
            </div>
            <div class="col_der">
                <div class="resumen_pago_exitoso">
                    <h3 class="titulo_resumen_pago_exitoso">
                        Resumen del pago
                    </h3>
                    <div class="resumen_pago">
                        <div class="num_operacion">
                            <span>N° de operación:</span>
                            <span>@Model.NumeroOperacion</span>
                        </div>
                        <div class="num_operacion">
                            <span>Fecha de Pago:</span>
                            <span>@Model.FechaCreacionString</span>
                        </div>
                        <div class="monto_pagado">
                            <span>Monto:</span>
                            <span>@Model.Simbolo @Model.MontoDeudaString</span>
                        </div>
                        <div class="monto_gastos_administrativos">
                            <span>Gastos administrativos:</span>
                            <span>@Model.Simbolo @Model.MontoGastosAdministrativosNotString</span>
                        </div>
                        <div class="total_monto_pagado">
                            <span>Total pagado:</span>
                            <span>@Model.Simbolo @Model.MontoDeudaConGastosNotString</span>
                        </div>
                        @*<div class="monto_saldo_pendiente">
                            <div>Saldo pendiente:</div>
                            <div>
                                <span>@Model.Simbolo</span>
                                <span>@Model.SaldoPendienteString</span>
                            </div>
                        </div>*@
                        <div class="fecha_vencimiento_saldo_pendiente">
                            <span>Vencimiento:</span>
                            <span>@Model.FechaVencimientoString</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- FIN - VISTA PAGO EXITOSO -->

    </div>

    <!-- FIN - VISTA PROCESO DE PAGO EN LÍNEA -->

</div>