@using Portal.Consultoras.Web.Models.PagoEnLinea;
@model PagoEnLineaModel

<div class="logo_lista_detalle">    
</div>

<div class="content_belcorp">
    <div class="proceso_de_pago_en_linea pt-12">
        <div class="pago_exitoso">
            <h3 class="titulo_pago_exitoso text-center">
                <span class="icono_pago_exitoso"></span>
                <span>Constancia de <b>Pago</b></span>
            </h3>
            <div>
                <p class="mensaje_felicitacion_por_pago_exitoso">
                    ¡Muy bien @Model.NombreConsultora @Model.PrimerApellido! <span class="imagen_felicitacion"><img src="@Url.Content("~/Content/Images/celebracion-img.png")" alt="Felicitaciones" /></span>
                </p>
            </div>
            <div class="w-100">
                <div class="resumen_pago_exitoso">
                    <h3 class="titulo_resumen_pago_exitoso">
                        Resumen del pago
                    </h3>
                    <div class="resumen_pago">
                        <div class="num_operacion">
                            <span>N° de operación:</span>
                            <span>@Model.NumeroOperacion</span>
                        </div>
                        <div class="monto_pagado">
                            <span>Nro. Tarjeta:</span>
                            <span>@Model.TarjetaEnmascarada</span>
                        </div>
                        <div class="monto_pagado">
                            <span>Fecha de Pago:</span>
                            <span>@Model.FechaCreacionString</span>
                        </div>
                        <div class="monto_pagado">
                            <span>Monto:</span>
                            <span>@Model.Simbolo @Model.MontoDeudaString</span>
                        </div>
                        <div class="monto_gastos_administrativos">
                            <span>@ViewBag.PagoEnLineaCargoLabel:</span>
                            <span>@Model.Simbolo @Model.MontoGastosAdministrativosNotString</span>
                        </div>
                        <div class="total_monto_pagado">
                            <span>Total pagado:</span>
                            <span>@Model.Simbolo @Model.MontoDeudaConGastosNotString</span>
                        </div>
                        <div class="fecha_vencimiento_saldo_pendiente">
                            <span>Vencimiento:</span>
                            <span>@Model.FechaVencimientoString</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="clearfix" style="text-align:center;">
        <div class="input_global">
            <input type="button" class="btn_imprimir text-bold" onclick="printElement('.proceso_de_pago_en_linea')" value="Imprimir">
        </div>
    </div>

</div>