@model Portal.Consultoras.Web.Models.NotificacionesModel
@{
    ViewBag.Title = "Notificaciones";
    var sinLeer = Model.ListaNotificaciones.Where(x => x.Visualizado == false).Count();
}

@section styles{
    @if (System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika").Contains(ViewBag.PaisAnalytics == null ? "" : ViewBag.PaisAnalytics))
    {
        <link rel="stylesheet" href="@Url.Content("~/Content/Css/Site/Esika/pago-en-linea.css")">
    }
    else
    {
        <link rel="stylesheet" href="@Url.Content("~/Content/Css/Site/Lbel/pago-en-linea.css")">
    }

}
<style type="text/css">
    .Content_modal_home {
        background: #FFF;
        padding: 20px 10px 10px 10px;
        min-height: 350px;
        overflow: auto;
        border: 1px solid #D0D0D0;
        position: relative;
        width: 60%;
        margin: 0 auto;
        max-height: none;
    }

    .no_leido {
        font-weight: 900;
    }
</style>
<div class="fondo_f9f9f9">
    <div class="content_belcorp">
        <div class="fondo_negro_lateral"></div>
        <div class="titulo_interiores">MIS <span>NOTIFICACIONES</span></div>
    </div>
    <hr class="clear" />
    <div class="linea_separadora" style="margin-top:-1px"></div>
</div>
<div class="content_belcorp">
    <div class="pestana_lbel"></div>
    <div class="content_left_pagos">
        @using (Html.BeginForm("", "", FormMethod.Post, new { id = "frmConsultoraOnline" }))
        {
            <input type="hidden" name="lanzarTabConsultoraOnline" value="true">
        }

        <a role="menu" region="Superior" title="Notificaciones" id="lnk-sup-notificacion" style="cursor:default!important;">
            <img src="/Content/Images/Esika/notificaciones.png" alt="" style="float:left">
            <p class="notificaciones notificaciones_existentes notificaciones_activas js-notificaciones">@sinLeer</p>
        </a>
        @if (sinLeer > 0)
        {
            <div class="aviso_mensajes">TIENES <span class="js-notificaciones2">@sinLeer</span> MENSAJES SIN LEER</div>
        }
        else
        {
            <div class="aviso_mensajes">NO <b>TIENES MENSAJES SIN LEER</b></div>
        }
        <hr class="clear">
        <div class="linea_separadora" style="height:2px"></div>
        <div class="content_datos_mispagos">
            <div class="fecha_pagos texto_black_notificaciones">Destinatario</div>
            <div class="movimientos_pagos texto_black_notificaciones">Asunto</div>
            <div class="pedidos_pagos texto_black_notificaciones" style="padding-right:50px;">Fecha y Hora</div>
            <div class="abonos_pagos texto_black_notificaciones">Campaña</div>
        </div>
        <div class="linea_separadora" style="margin-top:-1px"></div>
        <div id="dellateContenido">
            @foreach (var item in Model.ListaNotificaciones)
            {
                <div class="content_datos_mispagos">
                    <div class="fecha_pagos">SOMOSBELCORP</div>
                    <a class="movimientos_pagos_content @(item.Visualizado ? "" : "no_leido")" onclick="VisualizarPopup('@item.ProcesoId','@item.Observaciones','@item.Estado','@item.FacturaHoy.ToString()','@item.FechaFacturacion.Day','@item.FechaFacturacion.Month','@item.Visualizado.ToString()','@item.Asunto','@item.Proceso','@item.EsMontoMinimo.ToString()', this)">@item.Asunto</a>
                    <div class="pedidos_pagos">@Html.DisplayTextFor(modelItem => item.FechaHoraValidación)</div>
                    <div class="abonos_pagos">
                        @if (item.CampaniaId != 0)
                        {
                            @Html.DisplayTextFor(modelItem => item.CampaniaId)
                        }
                    </div>
                </div>
            }
            <div class="linea_separadora" style="height:2px"></div>
            <hr class="clear">
        </div>
    </div>
</div>
<div class="PopUpNotificaciones">
    <div class="fondo_popNoti">
        <div class="content_popNotificaciones">
            <div class="saludo_notificaciones">Hola Valeria,</div>
            <div class="btn_cerrar_popup_notificaciones" data-accion="close">
                <a href="#" title="Cerrar Popup">
                    <img src="@Url.Content("~/Content/Images/btn_cerrar_popupPercepcion.png")" alt="Cerrar" />
                </a>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="content_popNotificaciones">
        <div class="texto_titulo_noti">
            ¡Lo lograste!<br />
            Tu pedido ha sido reservado con éxito.
        </div>
        <div class="texto_secundario_noti">
            Para que el pedido pase correctamente, se ha tenido que realizar lo siguiente:<br />
            - Se eliminó el producto 05364 - <span>CY CC BETTER LIPS DR. ROSE</span> - por estar agotado<br /><br />

            Será enviado a Belcorp el día de hoy, siempre y cuando cumplas con el monto mínimo y no tengas deuda pendiente.
        </div>
        <p class="texto_detalle">DETALLE</p>
        <div class="linea_separadora" style="height:2px; margin-bottom:17px;"></div>

        <div class="cantidad_productos_notificaciones"><span>5 productos</span>	TOTAL   <span>S/. 147.60</span></div>
        <ul class="paginador_notificaciones">
            <li class="texto_pagina">Página</li>
            <li class="flecha_paginador_atras" onclick="CambioPagina(3)"></li>
            <li style="margin-right: 6px;">
                <span class="paginas_pedidos">
                    <span class="pagina_actual">
                        <input type="text" name="paginaactual" value="1" class="ValidaNumeral ValidaPasteNumeral" id="paginaactual" onblur="CambioPagina(-1)" data-val="1">
                    </span> de
                    <span class="paginas_totales">1</span>
                </span>
            </li>
            <li class="flecha_paginador_adelante" onclick="CambioPagina(4)"></li>
        </ul>
        <hr class="clear" />
        <div class="linea_separadora"></div>
        <div class="content_listado_notificaciones">
            <div class="cod_venta_notificaciones texto_gris">Cód. Venta</div>
            <div class="descripcion_notificaciones texto_gris">Descripción</div>
            <div class="cantidad_notificaciones texto_gris">Cantidad</div>
            <div class="unitario_notificaciones texto_gris">Precio Unitario</div>
            <div class="total_notificaciones texto_gris">Precio total</div>
        </div>
        <div class="content_listado_notificaciones">
            <div class="cod_venta_notificaciones">34727</div>
            <div class="descripcion_notificaciones">CY EXCHANGE BOLSO REAC</div>
            <div class="cantidad_notificaciones">1</div>
            <div class="unitario_notificaciones">S/. 43.90</div>
            <div class="total_notificaciones">S/. 43.90</div>
        </div>
        <div class="content_listado_notificaciones">
            <div class="cod_venta_notificaciones">34727</div>
            <div class="descripcion_notificaciones">ES CFX LAPIZ LABIAL EN BARRA 2G VINO GOLDEN</div>
            <div class="cantidad_notificaciones">1</div>
            <div class="unitario_notificaciones">S/. 19.90</div>
            <div class="total_notificaciones">S/. 19.90</div>
        </div>
        <div class="linea_separadora" style="margin-top: -1px; margin-bottom: 17px"></div>
        <div class="cantidad_productos_notificaciones"><span>5 productos</span>	TOTAL   <span>S/. 147.60</span></div>
        <ul class="paginador_notificaciones">
            <li class="texto_pagina">Página</li>
            <li class="flecha_paginador_atras" onclick="CambioPagina(3)"></li>
            <li style="margin-right: 6px;">
                <span class="paginas_pedidos">
                    <span class="pagina_actual">
                        <input type="text" name="paginaactual" value="1" class="ValidaNumeral ValidaPasteNumeral" id="paginaactual" onblur="CambioPagina(-1)" data-val="1">
                    </span> de
                    <span class="paginas_totales">1</span>
                </span>
            </li>
            <li class="flecha_paginador_adelante" onclick="CambioPagina(4)"></li>
        </ul>
        <hr class="clear" />
        <div class="linea_inferior_roja" style="margin-top:10px"></div>
        <div class="num_total_pago" id="montoPagarEstadoCuenta" style="padding-right:10px"> S/.  327.49</div>
        <div class="texto_monto_pago">Total Monto a pagar: </div>
    </div>
</div>
<div id="divNotificacionCatalogo" class="wrap" style="display:none;">
    <div class="Content_modal_home">
        <a onclick="$('#divNotificacionCatalogo').hide(); $('.content_left_pagos').show();">CERRAR X</a>
        <div id="divDetalleNotificacionCatalogo">
        </div>
    </div>
</div>
<div id="divObservaciones" class="wrap" style="display:none;">
    <div class="Content_modal_home">
        <a onclick="$('#divObservaciones').hide(); $('.content_left_pagos').show();" class="cerrar_cdr_noti">CERRAR X</a>
        <div id="divListadoObservaciones">
        </div>
        <br />
        
    </div>
</div>
<br />
<br />

@section scripts{
    <script>
        var urlPedidoConsultoraOnline = '@Url.Action("", "Pedido")';
        var urlMisPedidosClienteOnline = '@Url.Action("", "MisPedidos")';
    </script>
    <script src="@Url.Content("~/Scripts/PortalConsultoras/Notificaciones/Index.js")"></script>
}
