@using Portal.Consultoras.Common
@model Portal.Consultoras.Web.Models.CDRWebModel

@{
    var formatoCampania = Model.CampaniaID.ToString().Substring(0, 4) + "-" + Model.CampaniaID.ToString().Substring(4, 2);
}

<div class="logo_lista_detalle">
</div>
<div class="content_datos_cdr">
    <div class="linea_separadora"></div>
    <div class="saludo_cdr">¡Hola @Model.NombreConsultora!</div>
    <div class="titulo_cdr">HEMOS RECIBIDO TU SOLICITUD DE CAMBIOS Y <br />DEVOLUCIONES</div>
    <div class="respuesta_cdr">En estos momentos la estamos evaluando y en 30 minutos te daremos una respuesta</div>
    <div style="text-align:center">
        <div class="texto_fila_cdr">Fecha: @Model.FechaCulminado.Value.ToString("dd/MM/yyyy")</div>
        <div class="texto_fila_cdr">Solicitud: Nº @Model.CDRWebID</div>
        <div class="texto_fila_cdr">Campaña: @formatoCampania</div>
    </div>
    <div class="resumen_aprobado_cdr">Resumen: <b>@Model.ResumenResolucion</b> </div>
    <div class="subtitulo_cdr">DETALLE DE LA SOLICITUD</div>
    @foreach (var item in Model.ListaDetalle)
    {
        <div class="content_detalle_pedido_cdr">
            <div class="content_float_cdr">
                <div class="left_detalle_cdr">@item.CUV</div>
                <div class="right_detalle_cdr"> Solución solicitada: </div>
            </div>
            <div class="content_float_cdr">
                <div class="left_detalle_cdr"><b>@item.Descripcion</b></div>
                <div class="right_detalle_cdr"><b>@item.Solicitud</b></div>
            </div>

            @if ((new List<string> {
                    Constantes.CodigoOperacionCDR.Canje,
                    Constantes.CodigoOperacionCDR.Devolucion,
                    Constantes.CodigoOperacionCDR.Faltante,
                    Constantes.CodigoOperacionCDR.FaltanteAbono }
                ).Contains(item.CodigoOperacion))
            {
                <div class="content_float_cdr">
                    <div class="left_detalle_cdr">@item.Cantidad unidades</div>
                    <div class="right_detalle_cdr">
                        <div class="texto_detalle_cdr"></div>
                    </div>
                </div>
                <div class="content_float_cdr">
                    <div class="left_detalle_cdr">Costo: @Model.Simbolo @Util.DecimalToStringFormat(item.Precio, Model.CodigoIso)</div>
                    <div class="right_detalle_cdr"></div>
                </div>
            }
            else if (item.CodigoOperacion == Constantes.CodigoOperacionCDR.Trueque)
            {
                <div class="content_float_cdr">
                    <div class="left_detalle_cdr">@item.Cantidad unidades</div>
                    <div class="right_detalle_cdr">
                        <div class="texto_detalle_cdr">@item.CUV2</div>
                    </div>
                </div>
                <div class="content_float_cdr">
                    <div class="left_detalle_cdr">Costo: @Model.Simbolo @Util.DecimalToStringFormat(item.Precio, Model.CodigoIso)</div>
                    <div class="right_detalle_cdr">
                        <div class="texto_detalle_cdr">@item.Descripcion2</div>
                        <div class="texto_detalle_cdr">@item.Cantidad2 unidades</div>
                        <div class="texto_detalle_cdr">Costo: @Model.Simbolo @Util.DecimalToStringFormat(item.Precio2, Model.CodigoIso)</div>
                    </div>
                </div>
            }
        </div>
    }
    <a href="@Url.Action("Index","MisReclamos")" class="ver_solicitud_sb"> VER LA SOLICITUD EN SOMOS BELCORP</a>
</div>

