@model Portal.Consultoras.Web.Models.NotificacionesModel
@{
    decimal totalPRol = 0;
    decimal totalPedido = 0;
    decimal descuento = 0;
    bool IndicadorOferta = false;
}

@if (Model.Origen != 3)
{
    <div style='font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #333333; margin: 0; padding: 0; background-color: #F0F0F0;'>
        <table width='100%' border='0' cellpadding='0' cellspacing='0'>
            <tr>
                <td width='100%' style='height: 50px; background: #6C207F;'>&nbsp;</td>
            </tr>
        </table>
        <table width='100%' border='0' cellpadding='0' cellspacing='0' style='padding: 0px; margin: 0px;'>
            <tr>
                <td width='100%' style='text-align: center; background-color: #F0F0F0; overflow: hidden; display: block; padding: 24px 0px 24px 0px;'>
                    <table border='0' cellpadding='0' cellspacing='0' style='width: 675px; margin: 0px auto; text-align: left;'>
                        <tr>
                            <td valign='top'>
                                <table width='675' border='0' cellpadding='0' cellspacing='0'>
                                    <tr>
                                        <td align='left' style='color: #6C207F; font-size: 25px; padding: 0px 0px 10px 0px; text-align: left;'>BELCORP</td>
                                    </tr>
                                    <tr>
                                        <td width='675' valign='top' style='background: #E5E5E5; line-height: 18px; padding: 20px 20px 30px 20px;'>
                                            <table width='100%' border='0' cellpadding='0'>
                                                <tr>
                                                    <td style='padding: 0px 0px 15px 0px; text-align: left; display: block;'>Hola @Model.NombreConsultora,</td>
                                                </tr>
                                                <tr>
                                                    <td style='padding: 0px 0px 0px 0px; text-align: left; display: block;'><span id="sFelicitaciones"></span></td>
                                                </tr>
                                                <tr>
                                                    <td style='padding: 0px 0px 0px 0px; text-align: left; display: block;'><span id="sMensajePedidoPROL"></span></td>
                                                </tr>
                                                @if (Model.ListaNotificacionesDetalle.Count != 0)
                                                {
                                                    <tr>
                                                        <td style='padding: 0px 0px 15px 0px; text-align: left; display: block;'></td>
                                                    </tr>
                                                    <tr>
                                                        <td style='padding: 0px 0px 0px 0px; text-align: left;'>
                                                            <ul style='padding: 0px 0px 0px 15px; margin-top: 0px; text-align: left;'>
                                                                @foreach (var item in Model.ListaNotificacionesDetalle)
                                                                {
                                                                    <li>
                                                                        @Html.DisplayTextFor(modelItem => item.MensajePROL)
                                                                    </li>
                                                                }
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style='padding: 0px 0px 0px 0px; text-align: left; display: block;'>&nbsp;</td>
                                                    </tr>
                                                }
                                                <tr>
                                                    <td style='padding: 0px 0px 0px 0px; text-align: left; display: block;'><span id="SaltoLinea" ></span></td>
                                                </tr>
                                                
                                                <tr>
                                                    <td style='padding: 0px 0px 15px 0px; text-align: left; display: block;'><span id="sMensajeFacturacion"></span></td>
                                                </tr>
                                                <tr>
                                                    <td style='padding: 0px 0px 0px 0px; text-align: left;'>Detalle de pedido:</td>
                                                </tr>
                                                <tr>
                                                    <td style='padding: 0px 0px 15px 0px; text-align: center;'>
                                                        @if (Model.ListaNotificacionesDetallePedido.Count != 0)
                                                        {
                                                            <table style='border: 1px solid #8064A2; width: 100%;' cellspacing='0'>
                                                                <tr>
                                                                    <td style='font-weight: bold; text-align: center; color: #FFFFFF; background-color: #8064A2;'>Cód. Venta</td>
                                                                    <td style='font-weight: bold; text-align: center; color: #FFFFFF; background-color: #8064A2;'>Descripción</td>
                                                                    <td style='font-weight: bold; text-align: center; color: #FFFFFF; background-color: #8064A2;'>Cantidad</td>
                                                                    <td style='font-weight: bold; text-align: center; color: #FFFFFF; background-color: #8064A2;'>Precio Unit.</td>
                                                                    <td style='font-weight: bold; text-align: center; color: #FFFFFF; background-color: #8064A2;'>Precio Total</td>
                                                                </tr>
                                                                @foreach (var item in Model.ListaNotificacionesDetallePedido)
                                                                {
                                                                    totalPRol = item.MontoTotalProl;
                                                                    totalPedido = item.ImporteTotalPedido;
                                                                                                                                        
                                                                    if (string.IsNullOrEmpty(item.ObservacionPROL))
                                                                    {
                                                                    <tr>
                                                                        <td style='border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #8064A2'>@item.CUV</td>
                                                                        <td style='border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #8064A2; text-align: left'>@item.Descripcion</td>
                                                                        <td style='border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #8064A2'>@item.Cantidad</td>
                                                                        <td style='border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #8064A2'>@string.Format("{0:N2}", item.PrecioUnidad)</td>
                                                                        <td style='border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #8064A2'>@string.Format("{0:N2}", item.ImporteTotal)
                                                                            @if (item.IndicadorOferta == 1){
                                                                                IndicadorOferta = true;
                                                                                <input type="hidden" name="ExisteIndicadorOfertaCUV" class="ExisteIndicadorOfertaCUV" value="true" />
                                                                                <img id="IndicadorOfercarCUVImage" src="@Url.Content("~/Content/Images/indicador.png")" style="vertical-align:middle;" />
                                                                            }
                                                                        </td>
                                                                    </tr>
                                                                    }
                                                                    else
                                                                    {
                                                                    <tr>
                                                                        <td>@item.CUV</td>
                                                                        <td style='text-align: left'>@item.Descripcion</td>
                                                                        <td>@item.Cantidad</td>
                                                                        <td>@string.Format("{0:N2}", item.PrecioUnidad)</td>
                                                                        <td>@string.Format("{0:N2}", item.ImporteTotal)</td>
                                                                    </tr>
                                                                        string[] obser = item.ObservacionPROL.Split('|');
                                                                        if (obser != null)
                                                                        {
                                                                            int total = obser.Length - 1;
                                                                            int count = 1;
                                                                            foreach (string ob in obser)
                                                                            {
                                                                                if (!string.IsNullOrEmpty(ob))
                                                                                {
                                                                                    if (total == count)
                                                                                    {
                                                                    <tr>
                                                                        <td style='border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #8064A2'></td>
                                                                        <td colspan='4' style='border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #8064A2; text-align: left'>@ob</td>
                                                                    </tr>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                    <tr>
                                                                        <td></td>
                                                                        <td colspan='4' style='text-align: left'>@ob</td>
                                                                    </tr>
                                                                                    }
                                                                                }
                                                                                count++;
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                                <tr>
                                                                    <td colspan="3">
                                                                        <div id="leyendaIndicadorPROLMensaje"  class="leyendaIndicadorPROLMensaje">
                                                                            * Descuento para ofertas con mas de un precio
                                                                        </div> 
                                                                    </td>

                                                                     @if (IndicadorOferta == true)
                                                                     {
                                                                        <td><b>SUBTOTAL:</b></td>
                                                                        <td><b>@string.Format("{0:N2}", Model.ListaNotificacionesDetallePedido.Sum(p => p.ImporteTotal))</b></td>                                                                         
                                                                        // <td><b>@string.Format("{0:N2}", totalPedido)</b></td>
                                                                     }else{
                                                                        <td><b>TOTAL:</b></td>
                                                                        <td><b>@string.Format("{0:N2}", Model.ListaNotificacionesDetallePedido.Sum(p => p.ImporteTotal))</b></td>                                                                         
                                                                     }
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                     @if (IndicadorOferta == true)
                                                                     {                                                                    
                                                                        <td><b>DESCUENTO*:</b></td>
                                                                        <td><b>@string.Format("{0:N2}", totalPRol-Model.ListaNotificacionesDetallePedido.Sum(p => p.ImporteTotal))</b></td>
                                                                     }else{
                                                                        <td></td>
                                                                        <td></td>
                                                                     }
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                     @if (IndicadorOferta == true)
                                                                     {                                                                     
                                                                        <td><b>TOTAL:</b></td>
                                                                        <td><b>@string.Format("{0:N2}", totalPRol)</b></td>
                                                                     }
                                                                     else
                                                                     {
                                                                        <td></td>
                                                                        <td></td>                                                                     
                                                                     } 
                                                                </tr>
                                                            </table>
                                                        }
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style='text-align: left;'>Gracias,</td>
                                                </tr>
                                                <tr>
                                                    <td><img src='@Url.Content("~/Content/Images/belcorp_logo.png")' alt="SomosBelcorp" width="82" height="82" /></td>                                                      
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <table width='100%' border='0' cellpadding='0' cellspacing='0' style='text-align: center;'>
            <tr>
                <td width='100%' style='height: 50px; background: #FFFFFF;'>
                    <table border='0' cellpadding='0' cellspacing='0' style='width: 675px; margin: 0px auto;'>
                        <tr>
                            <td style='padding: 5px 0px 0px 0px; font-size: 11px; color: #6C207F; text-align: right;'>Copyright Belcorp 2013. All rights reserved</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
}
else
{
    <div style='font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #333333; margin: 0; padding: 0; background-color: #F0F0F0;'>
        <table width='100%' border='0' cellpadding='0' cellspacing='0'>
            <tr>
                <td width='100%' style='height: 50px; background: #6C207F;'>&nbsp;</td>
            </tr>
        </table>
        <table width='100%' border='0' cellpadding='0' cellspacing='0' style='padding: 0px; margin: 0px;'>
            <tr>
                <td width='100%' style='text-align: center; background-color: #F0F0F0; overflow: hidden; display: block; padding: 24px 0px 24px 0px;'>
                    <table border='0' cellpadding='0' cellspacing='0' style='width: 675px; margin: 0px auto; text-align: left;'>
                        <tr>
                            <td valign='top'>
                                <table width='675' border='0' cellpadding='0' cellspacing='0'>
                                    <tr>
                                        <td align='left' style='color: #6C207F; font-size: 25px; padding: 0px 0px 10px 0px; text-align: left;'>BELCORP</td>
                                    </tr>
                                    <tr>
                                        <td width='675' valign='top' style='background: #E5E5E5; line-height: 18px; padding: 20px 20px 30px 20px;'>
                                            <table width='100%' border='0' cellpadding='0'>
                                                <tr>
                                                    <td style='padding: 0px 0px 15px 0px; text-align: left; display: block;'>Hola @Model.NombreConsultora</td>
                                                </tr>
                                                <tr>
                                                    <td style='padding: 0px 0px 15px 0px; text-align: left; display: block;'><span>Te informamos lo siguiente: </span></td>
                                                </tr>
                                                @if (Model.ListaNotificacionesDetallePedido.Count != 0)
                                                {
                                                    <tr>
                                                        <td style='padding: 0px 0px 0px 0px; text-align: left;'>
                                                            <ul style='padding: 0px 0px 0px 15px; margin-top: 0px; text-align: left;'>
                                                                @foreach (var item in Model.ListaNotificacionesDetallePedido)
                                                                {
                                                                    <li>
                                                                        @Html.DisplayTextFor(modelItem => item.ObservacionPROL)
                                                                    </li>
                                                                }
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style='padding: 0px 0px 0px 0px; text-align: left; display: block;'>&nbsp;</td>
                                                    </tr>
                                                }
                                                <tr>
                                                    <td style='text-align: left;'>Gracias,</td>
                                                </tr>
                                                <tr>
                                                    <td>Equipo BELCORP.</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <table width='100%' border='0' cellpadding='0' cellspacing='0' style='text-align: center;'>
            <tr>
                <td width='100%' style='height: 50px; background: #FFFFFF;'>
                    <table border='0' cellpadding='0' cellspacing='0' style='width: 675px; margin: 0px auto;'>
                        <tr>
                            <td style='padding: 5px 0px 0px 0px; font-size: 11px; color: #6C207F; text-align: right;'>Copyright Belcorp 2013. All rights reserved</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
}
        <script>
            var existeOfertaCUV = $('input[name=ExisteIndicadorOfertaCUV]').val();
            $("#leyendaIndicadorPROLMensaje").hide()
            if (existeOfertaCUV == "true") {
                $("#leyendaIndicadorPROLMensaje").show();
            }            
        </script>