@using Portal.Consultoras.Common
@model Portal.Consultoras.Web.Models.SolicitudClienteConsultoraModel
@using System.Globalization;
    <input type="hidden" class="cSolicitudClienteID" value="@Model.SolicitudClienteId"/>
     <div id="ldnHeader">
         <div id="ldnHeader_titulo"><p>Estimada<br /> <b>@ViewBag.NombreCompleto</b></p></div>
         <div id="ldnHeader_logo">
             Has recibido una<br/><b style="font-family: 'museo_sans_700regular';">Solicitud de pedido</b>
         </div>
   
     </div>

      <div style ="background:white;padding:0px;">

            <div class="clear"></div>

            <div style="margin:5px auto 5px auto;width:700px;font-family:'museo_sans_100regular';font-size:14px;color:#425363">
                @if(String.IsNullOrEmpty(Model.Estado))
                {
                    <p>Tienes hasta el @Model.FechaEjecucion.ToString("dddd", new CultureInfo("es-ES")) @Model.FechaDescripcion a las @Model.FechaEjecucion.ToString("HH:mm") horas para contactarte con tu nuevo cliente y notificarnos <br /> si vas aceptar o rechazar su pedido presionando los botones al final de este mensaje. Sus datos son:</p>
    
                }
                else if(Model.Estado.Equals("A"))
                {
                    <p>Has aceptado la solicitud de pedido. Sus datos son:</p>
                }

                  <table style="margin:20px auto 20px auto;font-family:'Museo Sans 300';">
                    <tr>
                        <td style="width:200px">
                            Nombre de cliente:
                        </td>
                        <td style="width:200px">
                            @Model.NombreCliente 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Correo:
                        </td>
                        <td>
                            @Model.EmailCliente
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Teléfono:
                        </td>
                        <td> 
                            @Model.TelefonoCliente
                        </td>
                    </tr>
                    <tr>
                        <td style="width:200px; vertical-align:top;">
                            Mensaje del Cliente:
                        </td>
                        <td style="width:200px"> 
                            @Model.Mensaje
                        </td>
                    </tr>
                </table >
                     @if (Model.lsProductosDetalle.Count>0){
                  <p style="text-align: justify;">A continuación se detallan los productos que el cliente ha solicitado a precio referencial. <br />Guíate del precio que figura en el catálogo y ofrécele los descuentos u ofertas de la campaña.</p>
                         
                         <table>
                            <tr>
                                <td>
                                    Marca del Pedido: @Model.MarcaNombre
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Campaña/Catálogo del Pedido: @Model.Campania
                            </tr>
                        </table>
                         
                        <br />
                        <table border='0' cellspacing='0' cellpadding='0' id="ldnTabla" style='width: 590px;'>
                        <tr style='background: #009999; border: solid thin;border-color:#009999;'>
                            <th style='width: 320px;'>
                            PRODUCTO</th>
                            <th style='width: 60px;'>
                            CANTIDAD</th>
                            @if (Model.MarcaID != 2)
                            {
                                <th style='width: 90px;'>
                                PRECIO SIN DESCUENTO</th>
                                <th style='width: 120px;'>
                                PRECIO TOTAL</th>
                            }
                        </tr>
                        @{ decimal total = 0.0M;}
                        @foreach (var item in Model.lsProductosDetalle)
                        {
                            var preciounitario = String.Format("{0}", String.Format("{0:#,##0.00}", item.Precio));
                            var preciototal = String.Format("{0}", String.Format("{0:#,##0.00}", item.Precio * (decimal)item.Cantidad));
                        <tr  style='background:#e8e8e8'>
                        <td style='border: solid thin;border-color:#425363;width: 320px;'>
                            <input type="hidden" class="cDescripcionMarca" value="@item.DescripcionMarca"/>
                            <input type="hidden" class="cID" value="@item.CUV"/>
                             <input type="hidden" class="cDescripcion" value="@item.DescripcionProducto"/>
                             <input type="hidden" class="cCantidad" value="@item.Cantidad"/>
                             <input type="hidden" class="cPrecioUnitario" value="@item.Precio"/> 
                        @item.DescripcionProducto
                        </td>
                        <td style='border: solid thin;border-color:#425363; width: 60px; text-align: center;'>
                        @item.Cantidad
                        </td>
                             @if (Model.MarcaID != 2)
                             {
                                 if (ViewBag.PaisID == Constantes.PaisID.Colombia)
                                 {
                                <td style='width: 90px;'>
                                @String.Format("{0}", String.Format("{0:#,##0}", item.Precio).Replace(',', '.'))
                                </td>
                                <td style='width: 120px;'>
                                 @String.Format("{0}", String.Format("{0:#,##0}", item.Precio * (decimal)item.Cantidad).Replace(',', '.'))
                                </td>
                                 }
                                 else
                                 {
                                <td style=' width: 90px;'>
                                 @String.Format("{0}", String.Format("{0:#,##0.00}", item.Precio))
                                </td>
                                <td style='width: 120px;'>
                                 @String.Format("{0}", String.Format("{0:#,##0.00}", item.Precio * (decimal)item.Cantidad))
                                </td>
     
                                 }

                                 total += item.Precio * (decimal)item.Cantidad;
                             }
                              </tr>
                        }
                             @if (Model.MarcaID != 2)
                             {
                             <tr>

                                 <td colspan="2" style="border:none;"></td>
                                  <td  style="font-family: 'museo_sans_700regular';font-size:15px;background:white;width: 90px;color:#009999;">TOTAL</td>
                                  @if (ViewBag.PaisID == Constantes.PaisID.Colombia)
                                  {
                                    <td style="font-family: 'museo_sans_700regular';font-size:15px;background:white;width: 120px; color:#009999;">@String.Format("{0:#,##0}", total).Replace(',', '.')</td>
                                  }
                                  else
                                  {
              
                                    <td style="font-family: 'museo_sans_700regular';font-size:15px;background:white;width: 120px;color:#009999;">@String.Format("{0:#,##0.00}", total)</td>
         
                                  }
                             </tr>
                             }
                        </table>
                     }

                  <br />
                  <style>
                      #taMensaje.ui-widget-content { border:solid thin;border-color:#425363;color:#425363; }
                  </style>
                  <div style="width:480px;margin:0px auto 0px auto;">
                                  <span id="MensajeClienteInfo" style="color:red"></span><br /><span style=" font-family: 'Museo Sans 300'; ">Mensaje para el cliente:</span><br/>
                                    @if (String.IsNullOrEmpty(Model.Estado))
                                    {
                                        if (String.IsNullOrEmpty(Model.MensajeaCliente))
                                        {
                                            Model.MensajeaCliente = string.Format("Gracias por haber escogido a {0} como tu Consultora. Pronto se pondrá en contacto contigo para coordinar la hora y lugar de entrega.", ViewBag.NombreCompleto);
                                        }
                                        
                                         @Html.TextAreaFor(
                                                 m => m.MensajeaCliente,
                                                new
                                                {
                                                    rows = 4,
                                                    cols = 60,
                                                    placeholder = "Máximo 250 caracteres",
                                                    id = "taMensaje",
                                                    @class = "text ui-widget-content ui-corner-all #e8e8e8 ie8placeholder",
                                                    maxlength = 250,
                                                    style = "font-family: 'museo_sans_100regular';"

                                                })
                                    }
                                    else
                                    {
                                       @Html.TextAreaFor(
                                       m => m.MensajeaCliente,
                                       new
                                       {
                                           rows = 4,
                                           cols = 60,
                                           placeholder = "Máximo 250 caracteres",
                                           @readonly = true,
                                           id = "taMensaje",
                                           @class = "text ui-widget-content ui-corner-all #e8e8e8 ie8placeholder",
                                           maxlength = 250,
                                           style = "font-family: 'museo_sans_100regular';"
                                       })
                                    }
                                </div>  
                  <br/>
                  <p style='font-size:14px;' >
                                Gracias,<br/>
                                Equipo BELCORP</p>
            </div>

      </div>
                     

    <div id="buttonsAction" >
        <div class="btnMorado">
            @if (String.IsNullOrEmpty(Model.Estado))
            {
                
                <input type="button" style="width:150px;margin-right:10px;" value="Aceptar"  onclick="AceptarSolicitud(@Model.SolicitudClienteId,@Model.ConsultoraID,'@Html.Encode(Model.MarcaNombre)','@Model.EmailCliente.ToString()',' @Html.Encode(Model.NombreCliente.ToString())')"/>
    
                <input type="button" style="width:150px;margin-left:10px;" value="Rechazar" onclick="RechazarSolicitud(@Model.SolicitudClienteId,@Model.NumIteracion,'@Model.CodigoUbigeo','@Model.Campania',@Model.MarcaID)" />
            }
        </div>
    </div>


<script type="text/javascript" >

    $(document).ready(function () {
          
        var ListaID= $(".cID");
        var ListaDescripcion= $(".cDescripcion");
        var ListaCantidad = $(".cCantidad");
        var ListaPrecioUnitario = $(".cPrecioUnitario");
        var ListaMarca= $(".cDescripcionMarca");

        var vcProductos= new Array();
        var variente = "";
        var categoria = "";
        var solicitudclienteid=$(".cSolicitudClienteID").val();


        dataLayer.push(
            {'event': 'virtualPage', 
            'pageUrl': '/notificaciones/solicitud-de-pedido/'+ $('.cSolicitudClienteID').val() +'', 
            'pageTitle': 'Notificaciones – Solicitud de pedido'}
            );

        if(ListaDescripcion.length>0)
        {

            for (var i = 0; i < ListaDescripcion.length; i++) {               
                   
                vcProductos.push({
                    'id':  $(ListaID[i]).val(),
                    'name':  $(ListaDescripcion[i]).val(),
                    'quantity': parseInt( $(ListaCantidad[i]).val()),
                    'price':  $(ListaPrecioUnitario[i]).val(),
                    'brand':   $(ListaMarca[i]).val()
                });
            }
                                
            dataLayer.push({
                'event': 'orderRequest', 
                'order': {
                    'id':  solicitudclienteid,                        
                    'products': vcProductos
                }
            });

        }
    });

</script>