@using Portal.Consultoras.Common
@model Portal.Consultoras.Web.Models.CDRWebModel

@{
    var formatoFechaAtencion = "--/--/----";
    if (Model.FechaAtencion.HasValue)
    {
        formatoFechaAtencion = Model.FechaAtencion.Value.Day.ToString().PadLeft(2, '0') + "/" +
    Model.FechaAtencion.Value.Month.ToString().PadLeft(2, '0') + "/" + Model.FechaAtencion.Value.Year;
    }

    var formatoCampania = Model.CampaniaID.ToString().Substring(0, 4) + "-" + Model.CampaniaID.ToString().Substring(4, 2);
}

<div class="logo_lista_detalle">    
</div>
<div class="content_datos_cdr">
    <div class="linea_separadora"></div>
    <div class="saludo_cdr">¡Hola @Model.NombreConsultora!</div>
    <div class="titulo_cdr">ESTA ES LA RESPUESTA A TU SOLICITUD DE CAMBIOS <br/>Y DEVOLUCIONES</div>
    @*<div class="respuesta_cdr">En estos momentos la estamos evaluando y en XX horas te daremos una respuesta</div>*@
    <div style="text-align:center">
        <div class="texto_fila_cdr">Fecha: @formatoFechaAtencion</div>
        <div class="texto_fila_cdr">Solicitud: Nº @Model.CDRWebID</div>
        <div class="texto_fila_cdr">Campaña: @formatoCampania</div>
    </div>
    <div class="resumen_aprobado_cdr">Resumen: <b>@Model.ResumenResolucion</b> </div>
    <div class="subtitulo_cdr">DETALLE DE LA SOLICITUD</div>
    @foreach (var item in Model.ListaDetalle)
    {
        var descripcionEstado = item.Estado == Constantes.EstadoCDRWeb.Aceptado
                                ? "APROBADO"
                                : item.Estado == Constantes.EstadoCDRWeb.Enviado
                                    ? "ENVIADO"
                                    : item.Estado == Constantes.EstadoCDRWeb.Observado
                                        ? "RECHAZADO"
                                        : item.Estado == Constantes.EstadoCDRWeb.Pendiente
                                            ? "PENDIENTE"
                                            : "";

        var descripcionCompleta = item.Estado == Constantes.EstadoCDRWeb.Aceptado
            ? ""
            : item.Estado == Constantes.EstadoCDRWeb.Enviado
                ? ""
                : item.Estado == Constantes.EstadoCDRWeb.Observado
                    ? item.Observacion
                    : item.Estado == Constantes.EstadoCDRWeb.Pendiente
                        ? "Revisa la respuesta en Somos Belcorp."
                        : "";

        <div class="content_detalle_pedido_cdr">
            <div>
                <div class="estado_cdr_detalle">@descripcionEstado</div>
                <div class="estado_cdr_detalle" style="font-weight: 300;">
                    @descripcionCompleta
                    @if (item.Estado == Constantes.EstadoCDRWeb.Pendiente)
                    {
                        <span style="font-weight: 700;">
                            <a href="#" style="text-decoration: underline; display: inline-block; margin-left: 5px;">Ir ahora</a>
                        </span>
                    }
                </div>
            </div>

            <div class="content_float_cdr">
                <div class="left_detalle_cdr">@item.CUV</div>
                <div class="right_detalle_cdr"> Solución solicitada: </div>
            </div>
            <div class="content_float_cdr">
                <div class="left_detalle_cdr"><b>@item.Descripcion</b></div>
                <div class="right_detalle_cdr"><b>@item.Solicitud</b></div>
            </div>

            @if ((new List<string> {
                    Constantes.CodigoOperacionCDR.Canje,
                    Constantes.CodigoOperacionCDR.Devolucion,
                    Constantes.CodigoOperacionCDR.Faltante,
                    Constantes.CodigoOperacionCDR.FaltanteAbono }
                    ).Contains(item.CodigoOperacion))
            {
                <div class="content_float_cdr">
                    <div class="left_detalle_cdr">@item.Cantidad unidades</div>
                    <div class="right_detalle_cdr">
                        <div class="texto_detalle_cdr"></div>
                    </div>
                </div>
                <div class="content_float_cdr">
                    <div class="left_detalle_cdr">Costo: @Model.Simbolo @Util.DecimalToStringFormat(item.Precio, Model.CodigoIso)</div>
                    <div class="right_detalle_cdr"></div>
                </div>
            }
            else if (item.CodigoOperacion == Constantes.CodigoOperacionCDR.Trueque)
            {
                <div class="content_float_cdr">
                    <div class="left_detalle_cdr">@item.Cantidad unidades</div>
                    <div class="right_detalle_cdr">
                        <div class="texto_detalle_cdr">@item.CUV2</div>
                    </div>
                </div>
                <div class="content_float_cdr">
                    <div class="left_detalle_cdr">Costo: @Model.Simbolo @Util.DecimalToStringFormat(item.Precio, Model.CodigoIso)</div>
                    <div class="right_detalle_cdr">
                        <div class="texto_detalle_cdr">@item.Descripcion2</div>
                        <div class="texto_detalle_cdr">@item.Cantidad2 unidades</div>
                        <div class="texto_detalle_cdr">Costo: @Model.Simbolo @Util.DecimalToStringFormat(item.Precio2, Model.CodigoIso)</div>
                    </div>
                </div>
            }
        </div>
    }    
    <a href="@Url.Action("Index","MisReclamos")" class="ver_solicitud_sb"> VER LA SOLICITUD EN SOMOS BELCORP</a>    
</div>