@using Portal.Consultoras.Web.GestionPasos
@model Portal.Consultoras.Web.Models.DetalleSolicitudPostulanteModel
    
@* Template de datos Generales para: México *@

<div class="elements border_modal" style="padding-top: 15px !important">
    <div class="div-3 div_3_fix">
        <div class="titC">Primer nombre:</div>
        <div class="selectP2 borde_redondeado">
            @Html.TextBoxFor(m => m.PrimerNombre, new { @class = "texto rfcSearch" })
        </div>
        <div class="titC">Apellido Paterno:</div>
        <div class="selectP2 borde_redondeado">
            @Html.TextBoxFor(m => m.ApellidoPaterno, new { @class = "texto rfcSearch" })
        </div>
        <div class="titC">Sexo:</div>
        <div class="selectP2 borde_redondeado" style="display: flex; align-items: center; font-size: 11px; ">
            @Html.RadioButtonFor(m => m.Sexo, 'F', new { @style = "float:none;width:auto" }) &nbsp; Femenino&nbsp; <br />
            @Html.RadioButtonFor(m => m.Sexo, 'M', new { @style = "float:none;width:auto" }) &nbsp; Masculino
        </div>
    </div>
    <div class="div-3 div_3_fix">
        <div class="validation_clear"></div>
        <div class="validation">
            @Html.ValidationMessageFor(m => m.PrimerNombre)
        </div>
        <div class="validation_clear"></div>
        <div class="validation">
            @Html.ValidationMessageFor(m => m.ApellidoPaterno)
        </div>
        <div class="validation_clear"></div>
        <div class="validation">
            @Html.ValidationMessageFor(m => m.Sexo)
        </div>
    </div>
    <div class="div-3 div_3_fix">
        <div class="titC">Segundo nombre:</div>
        <div class="selectP2 borde_redondeado">
            @Html.TextBoxFor(m => m.SegundoNombre, new { @class = "texto rfcSearch" })
        </div>

        <div class="titC">Apellido Materno:</div>
        <div class="selectP2 borde_redondeado">
            @Html.TextBoxFor(m => m.ApellidoMaterno, new { @class = "texto rfcSearch" })
        </div>
        <div class="titC">Fecha Nacimiento:</div>
        <div class="selectP2 borde_redondeado calendar">
            @Html.TextBoxFor(m => m.FechaNacimiento, new { @class = "texto rfcSearch" })
        </div>
    </div>
    <div class="div-3 div_3_fix">
        <div class="validation_clear"></div>
        <div class="validation">
            @Html.ValidationMessageFor(m => m.SegundoNombre)
        </div>
        <div class="validation_clear"></div>
        <div class="validation">
            @Html.ValidationMessageFor(m => m.ApellidoMaterno)
        </div>
        <div class="validation_clear"></div>
        <div class="validation">
            @Html.ValidationMessageFor(m => m.FechaNacimiento)
        </div>
    </div>
    <div class="div-3 div_3_fix">
        <div class="titC">Telf. Fijo:</div>
        <div class="selectP2 borde_redondeado">
            @*@Html.TextBoxFor(m => m.Telefono, new { @class = "numero" })*@
            @Html.TextBoxForExpressionRequiredIf(m => m.Telefono, new { @class = "numero" })
        </div>

        <div class="titC">Celular:</div>
        <div class="selectP2 borde_redondeado">
            @Html.TextBoxFor(m => m.Celular, new { @class = "numero" })
        </div>
        <div class="titC">Correo Electr&oacute;nico:</div>
        <div class="selectP2 borde_redondeado">
            @Html.TextBoxFor(m => m.CorreoElectronico)
        </div>
        <div class="validation_clear"></div>
        <div class="validation">
            @Html.ValidationMessageFor(m => m.CorreoElectronico)
        </div>
    </div>
    <div class="div-3 div_3_fix">
        <div class="validation_clear"></div>
        <div class="validation">
            @Html.ValidationMessageFor(m => m.Telefono)
        </div>
        <div class="validation_clear"></div>
        <div class="validation">
            @Html.ValidationMessageFor(m => m.Celular)
        </div>
        <div class="validation_clear"></div>
        <div class="validation">
            @Html.ValidationMessageFor(m => m.CorreoElectronico)
        </div>
    </div>
    <div class="div-3 div_3_fix">
        <div class="titC">RFC:</div>
        <div class="selectP2 borde_redondeado">
            @Html.TextBoxForExpressionRequiredIf(m => m.NumeroDocumento, new { @readOnly = true })
        </div>
        @*<div class="input_search">
                <button type="button" id="btnGenerarRfc" style ="background-color:#702789;background-image: url(../../Content/Images/bg_input4.png) 0 0 n-repeat; color: #fff; font-size: 14px; border: 0; " data-url="@Url.Action("GenerarRfc", "Unete", new {area = ""})">Generar RFC</button>
            </div>*@
    </div>
    <div class="div-3 div_3_fix">
        <div class="validation_clear"></div>
        <div class="validation">
            @Html.ValidationMessageFor(m => m.NumeroDocumento)
        </div>
    </div>
</div>