@using Portal.Consultoras.Web.GestionPasos
@model Portal.Consultoras.Web.Models.DetalleSolicitudPostulanteModel
    
@* Template de datos Generales para: México *@

<div>

    <div class="div-3 estilo2">
        <div class="filterEdit">
            <div class="selectP2 seleccion_pagina textboxSBEdit2">
                @Html.TextBoxFor(m => m.PrimerNombre, new { @class = "texto rfcSearch textboxSB", @placeholder = "Primer nombre" })
            </div>
        </div>
        <div class="filterEdit">
            <div class="selectP2 seleccion_pagina textboxSBEdit2">
                @Html.TextBoxFor(m => m.ApellidoPaterno, new { @class = "texto rfcSearch textboxSB", @placeholder = "Apellido Paterno" })
            </div>
        </div>
        <div class="filterEdit">
            <div class="selectP2 seleccion_pagina textboxSBEdit2">
                @Html.RadioButtonFor(m => m.Sexo, 'F', new { @style = "float:none;width:auto", @class = "RadioSB" })<span style="color:black">&nbsp; Femenino&nbsp; </span>
                @Html.RadioButtonFor(m => m.Sexo, 'M', new { @style = "float:none;width:auto", @class = "RadioSB" })<span style="color:black">&nbsp; Masculino </span>
            </div>
        </div>
    </div>

    <div class="div-3 div_3_fix estilo2">
        <div class="validation_clear2"></div>
        <div class="validation">
            @Html.ValidationMessageFor(m => m.PrimerNombre)
        </div>
        <div class="validation_clear2"></div>
        <div class="validation">
            @Html.ValidationMessageFor(m => m.ApellidoPaterno)
        </div>
        <div class="validation_clear2"></div>
        <div class="validation" style="float: right;">
            @Html.ValidationMessageFor(m => m.Sexo)
        </div>
    </div>


    <div class="div-3 estilo2">
        <div class="filterEdit">
            <div class="selectP2 seleccion_pagina textboxSBEdit2">
                @Html.TextBoxFor(m => m.SegundoNombre, new { @class = "texto rfcSearch textboxSB", @placeholder = "Segundo nombre" })
            </div>
        </div>
        <div class="filterEdit">
            <div class="selectP2 seleccion_pagina textboxSBEdit2">
                @Html.TextBoxFor(m => m.ApellidoMaterno, new { @class = "texto rfcSearch textboxSB", @placeholder = "Apellido Materno" })
            </div>
        </div>
        <div class="filterEdit">
            <div class="selectP2 seleccion_pagina textboxSBEdit2 fechaDetalleSolicitud">
                @Html.TextBoxFor(m => m.FechaNacimiento, new { @class = "rfcSearch DatePickerSB", @placeholder = "Fecha Nacimiento" })
            </div>
        </div>
    </div>


    <div class="div-3 div_3_fix">
        <div class="validation_clear2"></div>
        <div class="validation">
            @Html.ValidationMessageFor(m => m.SegundoNombre)
        </div>
        <div class="validation_clear2"></div>
        <div class="validation">
            @Html.ValidationMessageFor(m => m.ApellidoMaterno)
        </div>
        <div class="validation_clear2"></div>
        <div class="validation">
            @Html.ValidationMessageFor(m => m.FechaNacimiento)
        </div>
    </div>

    <div class="div-3 estilo2">
        <div class="filterEdit">
            <div class="selectP2 seleccion_pagina textboxSBEdit2">
                @Html.TextBoxForExpressionRequiredIf(m => m.Telefono, new { @class = "numero textboxSB", @placeholder = "Telf. Fijo" })
            </div>
        </div>
        <div class="filterEdit">
            <div class="selectP2 seleccion_pagina textboxSBEdit2">
                @Html.TextBoxForExpressionRequiredIf(m => m.Celular, new { @class = "numero textboxSB", @placeholder = "Celular" })
            </div>
        </div>
        <div class="filterEdit">
            <div class="selectP2 seleccion_pagina textboxSBEdit2">
                @Html.TextBoxFor(m => m.CorreoElectronico, new { @class = "textboxSB", @placeholder = "Correo Electronico" })
            </div>
        </div>

    </div>

    <div class="div-3 div_3_fix">
        <div class="validation_clear2"></div>
        <div class="validation">
            @Html.ValidationMessageFor(m => m.Telefono)
        </div>
        <div class="validation_clear2"></div>
        <div class="validation">
            @Html.ValidationMessageFor(m => m.Celular)
        </div>
        <div class="validation_clear2"></div>
        <div class="validation">
            @Html.ValidationMessageFor(m => m.CorreoElectronico)
        </div>
    </div>

    <div class="div-3 estilo2">
        <div class="filterEdit">
            <div class="selectP2 seleccion_pagina textboxSBEdit2">
                @Html.TextBoxForExpressionRequiredIf(m => m.NumeroDocumento, new { @readOnly = true, @class = "textboxSB", @placeholder = "Numero Documento" })
            </div>
        </div>
    </div>
    <div class="div-3 div_3_fix">
        <div class="validation_clear2"></div>
        <div class="validation">
            @Html.ValidationMessageFor(m => m.NumeroDocumento)
        </div>
    </div>
</div>
<style>
    .validation_clear2 {
        float: left;
        width: 70px !important;
        height: 1px !important;
        padding: 0 9px !important;
    }

    .estilo2 {
        margin-bottom: 5px !important;
    }
</style>