@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Areas.Mobile.Models
@using Portal.Consultoras.Web.Models
@using Portal.Consultoras.Web.Helpers

@model PedidoDetalleMobileModel
@{
    var layout = ViewContext.MobilePedidoLayout();
    Layout = string.Format("~/Areas/Mobile/Views/Shared/{0}.cshtml", layout);
}

<link href="@Url.Content("~/Content/Css/Site/slick-pedido.css")" rel="stylesheet" />


<input type="hidden" id="hdEsFacturacion" value="@Model.EsFacturacion.ToString()" />
<input type="hidden" id="hdOfertaFinal" value="@Model.OfertaFinal" />
<input type="hidden" id="hdEsOfertaFinalZonaValida" value="@Model.EsOfertaFinalZonaValida.ToString()" />
<input type="hidden" id="hdOfertaFinalGanaMas" value="@Model.OfertaFinalGanaMas" />
<input type="hidden" id="hdEsOFGanaMasZonaValida" value="@Model.EsOFGanaMasZonaValida.ToString()" />
<input type="hidden" id="hdListaParametriaOfertaFinal" value="@Newtonsoft.Json.JsonConvert.SerializeObject(Model.ListaParametriaOfertaFinal)" />
<input type="hidden" id="hdEsConsultoraNueva" value="@Model.EsConsultoraNueva.ToString()" />
<input type="hidden" id="hdListaEscala" value="@Newtonsoft.Json.JsonConvert.SerializeObject(Model.DataBarra.ListaEscalaDescuento)" />
<input type="hidden" id="hdMontoMinimo" value="@Model.MontoMinimo" />

<div class="contenedor_producto">
    <div class="content_320 ingresoPedidom pt-22">
        <input id="hdAccionBotonProl" type="hidden" value="@ViewBag.AccionBoton" />
        <div class="contenedor_detalle_pedidoIngresado">
            <div class="contenedor_resumenPedido">
                @{ var mobileConfiguracion = Html.MobileAppConfiguracion();
        if (mobileConfiguracion.MostrarBotonAtras)
        {
            <a href="@Request.UrlReferrer" class="enlace_regresar detalleP" title="Regresar"></a>
}
                }
                <h2 class="nombre_campania_pedido">
                    MI PEDIDO FIC
                    <span>@ViewBag.DescripcionCampaniaActual</span>
                </h2>

                <div class="bloque_info_pedido_fic text-left mb-20">
                    <p class="info_pedido_fic">
                        <strong>Recuerda :</strong> este pedido <span class="text-uppercase">No</span> te será facturado. Sólo nos estás ayudando a conocer tus preferencias y la de tus clientes.
                    </p>
                </div>

                <div id="divProductosDetalle">
                    <div class="text-center">
                        <img alt="Cargando..." src="@Url.Content("~/Content/images/Loading.gif")" />
                    </div>
                </div>
            </div>
        </div>


        <div class="tooltip_noOlvidesGuardarTuPedido">
            <h2>Haz click aquí cuando hayas finalizado</h2>
            <span>Podrás optar por un pedido sorpresa a un super precio</span>
        </div>

    </div>
</div>

<div class="btn_guardarPedido">
    <input type="submit" value="GUARDA TU PEDIDO" id="btnGuardarPedido" name="btnGuardarPedido" onclick="MensajeGuardar();" />
</div>

<div id="popup-eliminar-mensaje" class="MensajeAlertaMobile" style="display:none;">
    <div class="content_mensajeAlerta">
        <a class="cerrar_popMobile" href="javascript:;" onclick="javascript: $('#popup-eliminar-item').hide();">
            <img src="/Content/Images/mobile/Esika/cerrar_04.png" alt="-">
        </a>
        <hr class="clear">
        <div class="icono_alerta exclamacion_icono_mobile"></div>
        <div class="titulo_compartir"><b>IMPORTANTE</b></div>
        <div class="mensaje_alerta" id="mensajeInformacionEliminar"></div>
    </div>
</div>

<div class="contenedor_fondo_popup" id="divOfertaFinal" style="display: none;" data-popup-main="" data-popup-function-hide="PopupOfertaFinalCerrar"></div>
<div class="PopMobile1" id="contenedor_popup_ofertaFinalVerDetalle" style="display: none;"></div>

<div id="divConfirmEliminarTotal" class="MensajeAlertaMobile" style="display:none;">
    <div class="content_mensajeAlerta">
        <a class="cerrar_popMobile" href="javascript:;" onclick="EliminarPedidoTotalNo();">
            <img src="/Content/Images/mobile/Esika/cerrar_04.png" alt="-">
        </a>
        <hr class="clear">
        <div class="icono_alerta exclamacion_icono_mobile"></div>
        <div class="titulo_compartir"><b>IMPORTANTE</b></div>
        <div class="mensaje_alerta">¿Deseas eliminar el pedido completo?.</div>
        <a href="javascript:;" onclick="EliminarPedidoTotalSi();" class="btn_ok_mobile"><b>OK</b></a>
    </div>
</div>

<div id="popup-eliminar-item" class="MensajeAlertaMobile" style="display:none;">
    <div class="content_mensajeAlerta">
        <a class="cerrar_popMobile" href="javascript:;" onclick="javascript: $('#popup-eliminar-item').hide();">
            <img src="/Content/Images/mobile/Esika/cerrar_04.png" alt="-">
        </a>
        <hr class="clear">
        <div class="icono_alerta exclamacion_icono_mobile"></div>
        <div class="titulo_compartir"><b>IMPORTANTE</b></div>
        <div class="mensaje_alerta">¿Estás segura que quieres eliminar el producto?</div>
        <a href="javascript:;" onclick="ConfirmaEliminarPedido();" class="btn_ok_mobile"><b>OK</b></a>
    </div>
</div>
<div id="MensajeLograste" class="MensajeAlertaMobile" style="display:none;">
    <div class="content_mensajeAlerta">
        <a class="cerrar_popMobile" href="javascript:;" onclick="javascript: $('#MensajeLograste').hide();">
            <img src="/Content/Images/mobile/Esika/cerrar_04.png" alt="-">
        </a>
        <hr class="clear">
        <div class="icono_alerta check_icono_mobile"></div>
        <div class="titulo_compartir">¡LO <b>LOGRASTE</b>!</div>
        <div class="mensaje_alerta">Tu pedido fue guardado con éxito</div>
        <a class="btn_ok_mobile"><b>OK</b></a>
    </div>
</div>

<input id="hdfModificaPedido" type="hidden" value="0" />
<input type="hidden" id="hdfTotal" value="@Model.Total" />

<div class="contenedor_fondo_popup_ganancia" id="popupGanancias" style="display:none;">
    <div class="popup_mis_ganancias">
        <div class="btn_cerrar_actualizarMisDatos">
            <a href="javascript:;" title="Cerrar" class="cerrar_tutorial" onclick="return $('#popupGanancias').fadeOut(200);">
                <img src="@Url.Content("~/Content/Images/btn_cerrar_popup.svg")" alt="Cerrar" />
                <span class="texto_btn_cerrar">CERRAR</span>
            </a>
        </div>

    </div>
</div>

<script id="template-Detalle" type="text/x-handlebars-template">
    <div class="textos_resumen">
        <span id="lblProductosResumen">HE AGREGADO :</span>
        <span id="lblTotalResumen">
            MONTO TOTAL :
        </span>
    </div>
    <div class="montos_resumen">
        <span><b data-cantidadproducto="">{{this.TotalProductos}}</b>&nbsp;&nbsp;UNIDADES</span>
        <span><b>{{SimboloMoneda}}&nbsp;&nbsp;</b><b data-pedidocondescuento="">{{FormatoTotalConDescuento}}</b></span>     
    </div>

    <div class="detalle_pedido_ingresado">
        <span class="titulo_detalle">DETALLE</span>
    </div>
    {{#IsNullOrEmpty this.MensajeCierreCampania '!='}}
    <div class="alert-top-icon text-success">
    </div>
    {{/IsNullOrEmpty}}
    <div id="divContenidoDetalle">
        {{#each this.ListaDetalleModel as |detalle|}}
        <div class="contenedor_items_pedido">
            <div class="bloque_descripcion_items_ingresados">
                <div class="descripcion_item_pedido">
                    <span class="mensaje_tipoProd">
                        {{#iff detalle.TipoPedido '==' 'M'}}
                        <br />
                        <span>App móvil</span>
                        {{/iff}}

                        {{#if_eq FlagConsultoraOnline '1'}}
                        <br />
                        <span>CLIENTE ONLINE</span>
                        {{else}}

                        {{#iff OrigenPedidoWeb '==' '@Constantes.OrigenPedidoWeb.DesktopPedidoOfertaFinal'}}
                        {{else if_eq OrigenPedidoWeb '@Constantes.OrigenPedidoWeb.MobilePedidoOfertaFinal'}}
                        {{else iff detalle.ConfiguracionOfertaID '==' @Constantes.TipoOferta.Liquidacion}}
                        <br />
                        <span>Oferta Liquidación</span>
                        {{else iff detalle.ConfiguracionOfertaID '==' @Constantes.TipoOferta.Flexipago}}
                        <br />
                        <span>Oferta Flexipago</span>
                        {{else iff detalle.TipoOfertaSisID '==' @Constantes.ConfiguracionOferta.ShowRoom}}
                        <br />
                        <span>OFERTAS ESPECIALES GANA+</span>
                        {{else}}
                        {{#IsNullOrEmpty detalle.DescripcionOferta '!='}}
                        <br />
                        {{#iff (UpperCase DescripcionOferta) 'Contains' 'OFERTA PARA TI'}}
                        {{else}}
                        <label for="{{detalle.DescripcionOferta}}">{{Replace (Replace detalle.DescripcionOferta '[' '') ']' ''}}</label>
                        {{/iff}}
                        {{/IsNullOrEmpty}}
                        {{/iff}}

                        {{/if_eq}}
                    </span>
                    <span class="cod_prod">
                        {{#if detalle.EstadoSimplificacionCuv}}
                        {{#if detalle.IndicadorOfertaCUV}}
                        <input type="hidden" name="ExisteIndicadorOfertaCUV" class="ExisteIndicadorOfertaCUV" value="true" />
                        <span class="icon-advertencia"></span>
                        {{/if}}
                        {{/if}}
                        {{detalle.CUV}}
                    </span>
                    <span class="desc_prod">
                        {{#iff detalle.IndicadorMontoMinimo '==' 0}}
                        <span class="texto_rojo">*</span>
                        {{/iff}}
                        <span id="DescripcionProducto_{{detalle.PedidoDetalleID}}">{{Split detalle.DescripcionProd '|' 0}}</span>
                    </span>
                    {{#iff detalle.EsKitNueva '==' false}}
                    <span class="nom_cliente">Cliente: {{detalle.Nombre}}</span>
                    {{/iff}}
                </div>

                {{#if detalle.EsKitNueva}}
                <div class="icono_kitNuevas">
                    <a href="javascript:;" title="Ver Info Kit Nuevas">
                        <img src="@Url.Content("~/Content/Images/Esika/info-copy.png")" alt="Ver Info Kit Nuevas" />
                    </a>
                    <div class="tooltip_kitNuevas">
                        <span class="icono_notaDemanda" style="display:inline-block;"></span>
                        <span class="texto_tooltipKitNuevas">
                            Este Kit se agrega automáticamente sólo en tu primer pedido.
                        </span>
                    </div>
                </div>
                {{else}}
                <div class="icono_eliminar_item_pedido">
                    <a href="javascript:;" title="Eliminar" onclick="EliminarPedidoEvento(event)" data-pedidodetalleid="{{detalle.PedidoDetalleID}}">
                        <img src="@Url.Content("~/Content/Images/Esika/tacho-copy.png")" alt="Eliminar" />
                    </a>
                </div>
                {{/if}}
            </div>
            <div style="display: none;">
                <input type="hidden" id="PrecioUnidad_{{detalle.PedidoDetalleID}}" name="PrecioUnidad_{{detalle.PedidoDetalleID}}" value="{{detalle.PrecioUnidad}}">
                <input type="hidden" id="ClienteID_{{detalle.PedidoDetalleID}}" name="ClienteID_{{detalle.PedidoDetalleID}}" value="{{detalle.ClienteID}}">
                <input type="hidden" id="ClienteNombre_{{detalle.PedidoDetalleID}}" name="ClienteNombre_{{detalle.PedidoDetalleID}}" value="{{detalle.Nombre}}">
                <input type="hidden" id="CantidadTemporal_{{detalle.PedidoDetalleID}}" name="CantidadTemporal_{{detalle.PedidoDetalleID}}" value="{{detalle.Cantidad}}">

                <input type="hidden" id="CampaniaID_{{detalle.PedidoDetalleID}}" name="CampaniaID_{{detalle.PedidoDetalleID}}" value="{{detalle.CampaniaID}}">
                <input type="hidden" id="PedidoID_{{detalle.PedidoDetalleID}}" name="PedidoID_{{detalle.PedidoDetalleID}}" value="{{detalle.PedidoID}}">
                <input type="hidden" id="TipoOfertaSisID_{{detalle.PedidoDetalleID}}" name="TipoOfertaSisID_{{detalle.PedidoDetalleID}}" value="{{detalle.TipoOfertaSisID}}">
                <input type="hidden" id="CUV_{{detalle.PedidoDetalleID}}" name="CUV_{{detalle.PedidoDetalleID}}" value="{{detalle.CUV}}">

                <input type="hidden" id="DescripcionProd_{{detalle.PedidoDetalleID}}" name="DescripcionProd_{{detalle.PedidoDetalleID}}" value="{{Split detalle.DescripcionProd '|' 0}}">
                <input type="hidden" id="MarcaID_{{detalle.PedidoDetalleID}}" name="MarcaID_{{detalle.PedidoDetalleID}}" value="{{detalle.MarcaID}}">
                <input type="hidden" id="DescripcionOferta_{{detalle.PedidoDetalleID}}" name="DescripcionOferta_{{detalle.PedidoDetalleID}}" value="{{detalle.DescripcionOferta}}">
                <input type="hidden" id="EsBackOrder_{{detalle.PedidoDetalleID}}" name="EsBackOrder_{{detalle.PedidoDetalleID}}" value="{{detalle.EsBackOrder}}">
            </div>
            <div class="bloque_cantidades_precios_items_ingresados">
                <div class="contenedor_cantidadProductos">
                    <div data-cantidad-contenedor="">
                        <div class="campo_cantidadProductos">
                            {{#iff detalle.EsKitNueva '==' true}}
                            <input type="tel"
                                   class="ValidaNumeral ValidaPasteNumeral"
                                   id="Cantidad_{{detalle.PedidoDetalleID}}"
                                   maxlength="2"
                                   name="Cantidad_{{detalle.PedidoDetalleID}}"
                                   value="{{detalle.Cantidad}}"
                                   data-pedidodetalleid="{{detalle.PedidoDetalleID}}"
                                   data-cantidad-input="-"
                                   readonly="readonly"
                                   autocomplete="off">
                            {{else iff detalle.TipoEstrategiaID '==' 1}}
                            <input type="tel"
                                   class="ValidaNumeral ValidaPasteNumeral"
                                   id="Cantidad_{{detalle.PedidoDetalleID}}"
                                   maxlength="2"
                                   name="Cantidad_{{detalle.PedidoDetalleID}}"
                                   value="{{detalle.Cantidad}}"
                                   data-pedidodetalleid="{{detalle.PedidoDetalleID}}"
                                   data-cantidad-input="-"
                                   readonly="readonly"
                                   autocomplete="off">
                            {{else}}
                            <input type="tel"
                                   class="ValidaNumeral ValidaPasteNumeral"
                                   id="Cantidad_{{detalle.PedidoDetalleID}}"
                                   maxlength="2"
                                   name="Cantidad_{{detalle.PedidoDetalleID}}"
                                   onblur="UpdateLiquidacionEvento(event)"
                                   onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);"
                                   value="{{detalle.Cantidad}}"
                                   data-pedidodetalleid="{{detalle.PedidoDetalleID}}"
                                   data-cantidad-input="-"
                                   autocomplete="off">
                            {{/iff}}
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="precios_item">
                    <span class="precio_normal_pedido">
                        <span>{{SimboloMoneda}} {{detalle.FormatoPrecioUnidad}}</span>
                    </span>
                    <span class="precio_oferta_pedido">
                        {{#if ../EstadoSimplificacionCuv}}
                        {{#if detalle.IndicadorOfertaCUV}}
                        <span class="icon-advertencia"></span>
                        {{/if}}
                        {{/if}}
                        <span>{{SimboloMoneda}} <label id="ImporteTotal_{{detalle.PedidoDetalleID}}">{{detalle.FormatoImporteTotal}}</label></span>
                    </span>
                </div>
            </div>

            {{#IsNullOrEmpty detalle.Mensaje '!='}}
            <div class="notificacion_productoAgotado">
                <small>
                    {{#iff detalle.TipoObservacion '!=' 0}}
                    {{{Replace detalle.Mensaje '¿Deseas aceptar el reemplazo?' ''}}}
                    {{else}}
                    {{detalle.Mensaje}}
                    {{/iff}}
                </small>
            </div>
            {{/IsNullOrEmpty}}
            {{#if EsBackOrder}}
            {{#if AceptoBackOrder}}
            <div class="stock_content_agotado">
                <div class="texto_stock" style="color:black"><b>Te entregaremos el producto en la siguiente campaña.</b></div>
            </div>
            {{else}}
            <div class="stock_content">
                <div class="texto_stock">No contamos con stock de este producto. ¿Deseas que te lo entreguemos en la siguiente campaña?</div>
                <a class="btn_no_stock" onclick="EliminarPedidoEvento(event, '{{EsBackOrder}}');" data-pedidodetalleid="{{detalle.PedidoDetalleID}}">NO, GRACIAS</a>
                <a class="btn_si_stock" onclick="AceptarBackOrder('{{CampaniaID}}', '{{PedidoID}}', '{{PedidoDetalleID}}', '{{ClienteID_}}');" href="javascript:;">¡SI, POR FAVOR!</a>
                <hr class="clear" />
            </div>
            {{/if}}
            {{/if}}
        </div>
        {{/each}}
    </div>

    <div class="separador"></div>
    <div style="margin-left: -28px;">
        <div class="textos_resumen">
            <span id="lblProductosResumen">HE AGREGADO :</span>
            <span style="margin-left:30px;">
                MONTO TOTAL :
            </span>
        </div>

        <div class="montos_resumen">
            <span><b data-cantidadproducto="">{{TotalProductos}}</b>&nbsp;&nbsp;UNIDADES</span>
            <span><b>{{SimboloMoneda}}&nbsp;&nbsp;</b><b data-pedidocondescuento="">{{FormatoTotalConDescuento}}</b></span>           
        </div>
    </div>

    <div class="mensajes_adicionales_ingresoPedido" id="iconoAdvertenciaNotificacion" style="display: none;">
        <span class="icono_advertencia_notificacion"></span>
        <span class="detalle_mensajeAdicional">
            El precio total no incluye el descuento para ofertas con más de un precio (1x, 2x).<br />
            Al validar tu pedido, el sistema elegirá la mejor combinación de precios posibles para ti.
        </span>
    </div>
    <div class="mensaje_eliminarPedido">
        <span>
            Para eliminar el pedido completo
            <a href="javascript:;" title="Haz click aquí" onclick="PedidoDetalleEliminarTodoConfirmar()">haz click aquí</a>
        </span>
    </div>
</script>


<script id="ofertaFinal-template" type="text/x-handlebars-template">
    <div data-popup-body="">
        <div class="popup_ofertaFinal fondo_gris_popup" data-meta="{{TipoMeta}}" data-meta-total="{{TotalPedido}}">
            <div class="btn_regalo_sorpresa" id="linkRegaloSorpresa" style="display: none;">DESCUBRE TU PREMIO <span style="text-decoration: underline;">AQUÍ</span></div>
            <a class="cerrar_popMobile" href="javascript:;" style="top:7px; right:7px;" data-popup-close="divOfertaFinal" onclick="of_google_analytics_cerrar_popup()">
                <img src="/Content/Images/mobile/Esika/cerrar_04.png" alt="Cerrar">
            </a>
            <div class="numero_pedido" id="div-numero-pedido" style="display: none;">
                <div class="numero_pedido_fondo">
                    <img id="img-numero-pedido-fondo" src="/Content/Images/popup_pedido/numero_pedido_mobile_bg.png">
                    <div class="content-texto-numero-pedido" id="msg-numero-pedido" style="padding-top: 15px;">
                        <span class="numero_pd" id="numero-pd">4</span>
                        <span class="posicion_pd" id="posicion-pd">TO.</span>
                        <div class="texto_pd" id="texto-pd">PEDIDO</div>
                    </div>
                    <div style="clear:both;"></div>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div class="content_texto_OPT" id="div-content-of-titulo">
                <div class="icono_alerta {{ofIconoSuperior}}" id="ofIconoSuperior" style="margin-top:10px; margin-bottom:10px; width:40px; height:40px;"></div>

                <h1 class="ofertaFinal_titulo" id="spnTituloOfertaFinal">
                    {{#if_eq TipoMeta 'MM'}}
                    <span><b>AÚN TE FALTA {{SimboloMoneda}} <span data-monto="">{{MetaMontoStr}}</span><br />PARA LLEGAR AL MONTO MÍNIMO</b></span>
                    {{else if_eq TipoMeta 'GM'}}
                    <span>¡GUARDASTE TU <b>PEDIDO<br />CON ÉXITO!</b></span>
                    {{else}}
                    <span>¡GUARDASTE TU <b>PEDIDO<br />CON ÉXITO!</b></span>
                    {{/if_eq}}
                </h1>
                <div class="ofertaFinal_descripcion" id="msjOfertaFinal" data-meta-porcentaje="{{MetaPorcentaje}}" data-meta-monto="{{MontoMeta}}">
                    {{#if_eq TipoMeta 'MM'}}
                    <span>TE AYUDAMOS A ALCANZARLO CON ESTAS OFERTAS</span>
                    {{else if_eq TipoMeta 'GM'}}
                    {{#iff Cross '==' '1'}}
                    <span>APROVECHA ESTAS OFERTAS Y <br><b>GANA MÁS</b> SUMANDO LOS COMPLEMENTOS DE TU PEDIDO</span>
                    {{else}}
                    <span>APROVECHA ESTAS OFERTAS Y <br><b>GANA MÁS</b> ESTA CAMPAÑA</span>
                    {{/iff}}
                    {{else if_eq TipoMeta 'RG'}}
                    <span class="mensaje_premios_increibles">@ViewBag.NombreConsultora APROVECHA ESTAS OFERTAS Y <b>GANA PREMIOS INCREÍBLES</b></span>
                    {{else}}
                    <span>ALCANZA EL <b style="font-size:23px;">{{MetaPorcentaje}}%</b> DSCTO AGREGANDO {{SimboloMoneda}} <span data-monto="">{{MetaMontoStr}}</span> DE ESTAS OFERTAS</span>
                    {{/if_eq}}
                </div>
                <div class="content_producto_alternativo" id="div-regalo-pn" style="display: none;">
                    <div class="content-texto-producto-alternativo">
                        <div id="msg-regalo-pn2">AGREGA S/.50.00 PARA <b>GANAR UN ESIKA LEYENDA 100ML*</b> Y ACCEDER A PACKS EXCLUSIVOS NUEVAS**</div>
                    </div>
                    <div class="content_imagen_alternativo" style="display: none;">
                        <img id="img-regalo-pn" src="@Globals.RutaCdn/Matriz/PE/PE_2000111962017530330_cjzkqorxhx.png">
                    </div>
                </div>
            </div>

            <div class="contenedor_carruselOfertaFinal" style="padding-top:0;">
                <div class="bloque_carousel" style="margin-bottom:17px;">
                    <div class="slider center" id="divCarruselOfertaFinal" style="width: 100%">
                        {{#each this.Detalle}}
                        <div class="content_item_carrusel_ofertaFinal" data-item="ofertaFinal" data-id="{{ID}}">
                            <div style="display: none;">
                                <input type="hidden" class="hdOfertaFinalCuv" value="{{CUV}}" />
                                <input type="hidden" class="hdOfertaFinalTipoOfertaSisID" value="{{TipoOfertaSisID}}" />
                                <input type="hidden" class="hdOfertaFinalConfiguracionOfertaID" value="{{ConfiguracionOfertaID}}" />
                                <input type="hidden" class="hdOfertaFinalIndicadorMontoMinimo" value="{{IndicadorMontoMinimo}}" />
                                <input type="hidden" class="hdOfertaFinalTipo" value="1" />
                                <input type="hidden" class="hdOfertaFinalMarcaID" value="{{MarcaID}}" />
                                <input type="hidden" class="hdOfertaFinalPrecioUnidad" value="{{PrecioCatalogo}}" />
                                <input type="hidden" class="hdOfertaFinalDescripcionProd" value="{{Descripcion}}" />
                                <input type="hidden" class="hdOfertaFinalNombreComercial" value="{{NombreComercial}}" />
                                <input type="hidden" class="hdOfertaFinalVolumen" value="{{Volumen}}" />
                                <input type="hidden" class="hdOfertaFinalPagina" value="0" />
                                <input type="hidden" class="hdOfertaFinalDescripcionCategoria" value="{{DescripcionCategoria}}" />
                                <input type="hidden" class="hdOfertaFinalDescripcionMarca" value="{{DescripcionMarca}}" />
                                <input type="hidden" class="hdOfertaFinalDescripcionEstrategia" value="{{DescripcionEstrategia}}" />
                                <input type="hidden" class="hdOfertaFinalImagenProductoSugerido" value="{{ImagenProductoSugerido}}" />
                                <input type="hidden" class="hdOfertaFinalImagenProductoSugeridoMedium" value="{{ImagenProductoSugeridoMedium}}" />
                                <input type="hidden" class="hdOfertaFinalPrecioValorizado" value="{{PrecioValorizado}}" />
                                <input type="hidden" class="hdOfertaFinalPrecioCatalogo" value="{{PrecioCatalogo}}" />
                                <input type="hidden" class="hdOfertaFinalPrecioValorizadoString" value="{{PrecioValorizadoString}}" />
                                <input type="hidden" class="hdOfertaFinalPrecioCatalogoString" value="{{PrecioCatalogoString}}" />
                                <input type="hidden" class="hdOfertaFinalDescripcionComercial" value="{{DescripcionComercial}}" />
                                <input type="hidden" class="hdOfertaFinalDescripcionRelacionado" value="{{CUVComplemento}}" />
                                <input type="hidden" class="hdOfertaFinalCUVPedidoImagen" value="{{CUVPedidoImagen}}" />
                                <input type="hidden" class="hdOfertaFinalID" value="{{ID}}" />
                                <input type="hidden" class="hdOfertaFinalTipoMeta" value="{{TipoMeta}}" />
                                <input type="hidden" class="hdOfertaFinalTipoEstrategiaID" value="{{TipoEstrategiaID}}" />
                            </div>
                            <div class="contenido_item_ofertaFinal">
                                <div class="producto_img_home" onclick="javascript:CargarVerDetalleOF(this, event);" data-id="{{id}}" data-verdetalle="">
                                    <img src="{{ImagenProductoSugeridoSmall}}">
                                </div>
                                <div class="producto_nombre_descripcion">
                                    <div onclick="javascript:CargarVerDetalleOF(this, event);" data-id="{{id}}">
                                        <h6>{{DescripcionMarca}}</h6>
                                        <p class="nombre_producto">
                                            <b>{{NombreComercial}}</b>
                                        </p>
                                        <div class="producto_precio">
                                            {{#iff PrecioValorizado '>' '0'}}
                                            <span class="producto_precio_normal">{{SimboloMoneda}} {{PrecioValorizadoString}}</span>
                                            {{/iff}}
                                            <span class="producto_precio_oferta"><b>{{SimboloMoneda}} {{PrecioCatalogoString}}</b></span>
                                        </div>
                                    </div>
                                    <div class="contenedor_cantidadProductos">
                                        <span class="textoCantidad">CANTIDAD:</span>
                                        <div data-cantidad-contenedor="">
                                            <a class="cantidad_menos_home" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
                                            <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" data-input="cantidad">
                                            <a class="cantidad_mas_home" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <a class="boton_Agregalo_home agregarOfertaFinal" onclick="of_google_analytics_addtocar('mobile','list',{{ID}},'{{TipoMeta}}')">
                                        AGRÉGALO
                                    </a>
                                    <div class="clear"></div>
                                    <div class="content_carrusel_agregado" style="display: block;
    padding: 0px 0px 10px;">
                                        <div class="agregado product-add" style="text-align:right;display:none;">
                                            AGREGADO
                                            <div class="icono"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
                <button class="enlace_btnNoGracias btnNoGraciasOfertaFinal icono_terminar_pedido" id="btnNoGraciasOfertaFinal" style="display:{{#iff TipoMeta '==' 'MM'}}none;{{else}}block;{{/iff}};" onclick="of_google_analytics_cerrar_popup()">
                    RESERVA TU PEDIDO
                </button>
                <div id="txt-disclaimer-pn" class="txt-ayuda1-pn" style="display: none;">
                    *En caso tu pedido no tenga observaciones y supere el monto mínimo.<br><br>
                    ** Encuéntralos en la sección de Ofertas para Ti.
                </div>
            </div>
            <div class="content_producto_alternativo" id="div-regalo-pn" style="display:none;">
                <div class="content_imagen_alternativo">
                    <img id="img-regalo-pn" src="@Globals.RutaCdn/Matriz/PE/PE_2000111962017530330_cjzkqorxhx.png">
                </div>
                <div class="content-texto-producto-alternativo">
                    <div id="msg-regalo-pn2">
                        Llega al monto mínimo <b>Gana 1 ÉSIKA MAGNAT</b>
                    </div>
                    <div id="txt-disclaimer-pn" class="txt-ayuda1-pn" style="display: none;"></div>
                </div>
            </div>
        </div>

        @{
            var imagenFondoOFRegalo = (ViewBag.ImagenFondoOFRegalo != null) ? ViewBag.ImagenFondoOFRegalo : "";
            var titulo1OFRegalo = (ViewBag.Titulo1OFRegalo != null) ? ViewBag.Titulo1OFRegalo : "";
            var colorFondo1OFRegalo = (ViewBag.ColorFondo1OFRegalo != null) ? ViewBag.ColorFondo1OFRegalo : "";
        }

        <div id="ContentSorpresaMobile" class="ContentSorpresaMobile" style="background: url(@imagenFondoOFRegalo); background-size:cover; background-position:center -6px;">
            <div class="btn_regresa_OF" id="btnRegresoOF" style="background-color: @colorFondo1OFRegalo">CONTINUAR COMPRANDO</div>
            <div class="icono_regalo_sorpresa" style="margin-top:47px;"></div>
            <div class="titulo_regalo_sorpresa" id="of-regalo-msg1" style="display: none;"><b>¡GANA ESTE PREMIO* </b><br />@titulo1OFRegalo</div>
            <div class="titulo_regalo_sorpresa" id="of-regalo-msg2" style="display: none;">
                FELICIDADES @ViewBag.NombreConsultora <span class="font_700_regalo">¡GANASTE!</span>
            </div>
            <div class="fondo_blanco_regalo">
                <div class="content_detalle_monto" id="of-regalo-montos" style="display: none;">
                    TU META ES <span id="of-regalo-montometa">$200.000</span><br />
                    <b>¡AGREGA <span id="of-regalo-montosaldo">$23.999</span> Y LISTO!</b>
                </div>
                <div class="content_info_regalo">
                    <div class="titulo_regalo_producto" id="of-regalo-descripcion">Bicicleta Rockrider 340 Azul</div>
                    <div class="content_imagen_sorpresa"><img id="of-regalo-imagen" src="https://image.prntscr.com/image/jehvsnsYSyS4klODMOPo5w.png" alt="" /></div>
                    <div class="descripcion_regalo" id="of-regalo-descripcion-larga">
                        Pedalier de acero con triple plato, con protección de plástico de color azul. Tamaño 80cm x 120cm.
                    </div>
                </div>
            </div>
            <div class="btn_sigue_comprando" id="btn_sigue_comprando_gana">SIGUE COMPRANDO Y GANA</div>
            <a class="btn_legal_RS" target="_blank" href="@ViewBag.UrlTerminosOfertaFinalRegalo" id="of-regalo-terminos">*Descargar términos y condiciones</a>
        </div>
    </div>

</script>

<script id="ofertaFinalVerDetalle-template" type="text/x-handlebars-template">
    <div class="content_popMobile" data-item="{{ID}}" style="padding-bottom:0;">
        <a class="btn_cerrar_escala" href="javascript:;" onclick="javascript: $('#contenedor_popup_ofertaFinalVerDetalle').hide();">REGRESAR</a>
        <hr class="clear">
        <div class="content_imagen_ficha" style="overflow:hidden;">
            <img src="{{ImagenProductoSugerido}}" alt="PRODUCTO" style="width:90%;">
        </div>
        <div class="marca_ficha_producto">{{DescripcionMarca}}</div>
        <div class="titulo_ficha_producto" style="line-height:16px;">{{NombreComercial}}</div>
        <div class="precio_ficha_producto">
            {{#iff PrecioValorizado '>' '0'}}
            <span class="precio_tachado_ficha">{{SimboloMoneda}} {{PrecioValorizadoString}}</span><br />
            {{/iff}}
            <span class="texto_comple_ficha">Precio para ti </span>&nbsp;{{SimboloMoneda}} {{PrecioCatalogoString}}
        </div>
        {{#iff DescripcionRelacionado '!=' ''}}
        <div class="producto_sugerido_texto">
            Cómpralo porque ya tienes<br />
            <b>{{DescripcionRelacionado}}</b><br />
            en tu pedido
        </div>
        {{/iff}}
        <div class="content_redes_ficha">
            <div data-compartir-campos="" style="display:none;">
                <input type="hidden" class="CUV" value="{{CUV}}" />
                <input type="hidden" class="rsFBMensaje" value="" />
                <input type="hidden" class="rsWAMensaje" value="" />
                <input type="hidden" class="rsFBRutaImagen" value="{{ImagenProductoSugerido}}" />
                <input type="hidden" class="rsWARutaImagen" value="{{ImagenProductoSugerido}}" />
                <input type="hidden" class="MarcaID" value="{{MarcaID}}" />
                <input type="hidden" class="MarcaNombre" value="{{DescripcionMarca}}" />
                <input type="hidden" class="Nombre" value="{{Descripcion}}" />
                <input type="hidden" class="ProductoDescripcion" value="{{DescripcionComercial}}" />
                <input type="hidden" class="Volumen" value="{{Volumen}}" />
                <input type="hidden" class="Palanca" value="OF" />
                <input type="hidden" class="ID" value="{{ID}}" />
                <input type="hidden" class="TipoMeta" value="{{TipoMeta}}" />
                <input type="hidden" class="PrecioValorizado" value="{{PrecioValorizado}}" />
                <input type="hidden" class="PrecioCatalogo" value="{{PrecioCatalogo}}" />
                <input type="hidden" class="PrecioValorizadoString" value="{{PrecioValorizadoString}}" />
                <input type="hidden" class="PrecioCatalogoString" value="{{PrecioCatalogoString}}" />
                <input type="hidden" class="DescripcionEstrategia" value="{{DescripcionEstrategia}}" />
                <input type="hidden" class="hdOfertaFinalTipoEstrategiaID" value="{{TipoEstrategiaID}}" />
            </div>
            @if (mobileConfiguracion.MostrarHipervinculo)
            {
                <a class="btn_compartir_ofertas" href="javascript: void(0);" data-compartir="WA">
                    <img src="/Content/Images/Mobile/Esika/catalogo_ws.png" alt="">
                </a>
                <a class="btn_compartir_ofertas" href="javascript: void(0);" data-compartir="FB">
                    <img src="/Content/Images/Mobile/Esika/facebook.png" alt="">
                </a>
            }
        </div>
        <hr class="clear">
        <div style="margin-left:-20px; margin-right:-20px;">
            <div class="content_btn_agregar content_OPT">
                <div class="content_320" style="max-width:292px; width:auto;">
                    <div class="content_cantidad_ficha_producto" data-cantidad-contenedor="">
                        <a class="cantidad_menos_home" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
                        <input type="tel" value="1" size="2" maxlength="2" id="txtCantidadFichaOPT" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" data-input="cantidad">
                        <a class="cantidad_mas_home" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
                    </div>
                    <a class="btn_agregar_ficha_producto agregarOfertaFinalVerDetalle" href="javascript:;" data-popup-verdetalle="{{ID}}"
                       onclick="of_google_analytics_addtocar('mobile','detail',{{ID}},'{{TipoMeta}}')">AGRÉGALO</a>
                    <hr class="clear">
                </div>
            </div>
        </div>
    </div>
</script>

@Html.Partial("~/Views/Shared/Cupon/popupCuponGanaMobile.cshtml")
@Html.Partial("~/Views/Shared/Cupon/popupCuponConfirmarMobile.cshtml")
@Html.Partial("~/Views/Shared/Cupon/popupCuponGanasteMobile.cshtml")

@section Scripts{

    <script type="text/javascript">
        var codigoIsoPais = '@Model.CodigoISO';
        var menuNotificaciones = '@ViewBag.MenuNotificaciones';
        var falgValidacionPedido = '@Model.FlagValidacionPedido';
        var ofertaLiquidacion = '@Constantes.ConfiguracionOferta.Liquidacion';
        var ofertaShowRoom = '@Constantes.ConfiguracionOferta.ShowRoom';
        var ofertaAccesorizate = '@Constantes.ConfiguracionOferta.Accesorizate';
        
        var urlEjecutarServicioPROL = '@Url.Action("AdministradorPedido", "PedidoFIC", new {area = "Mobile"})';
        var urlPedidoValidado = '@Url.Action("Validado", "Pedido", new {area = "Mobile"})';
        var urlHorarioRestringido = '@Url.Action("EnHorarioRestringido", "Pedido", new {area = ""})';

        var urlValidarUnidadesPermitidasPedidoProductoShowRoom = '@Url.Action("ValidarUnidadesPermitidasPedidoProducto", "ShowRoom", new {area = ""})';
        var urlObtenerStockActualProductoShowRoom = '@Url.Action("ObtenerStockActualProducto", "ShowRoom", new {area = ""})';
        var urlValidarUnidadesPermitidasPedidoProducto = '@Url.Action("ValidarUnidadesPermitidasPedidoProducto", "OfertaLiquidacion", new {area = ""})';
        var urlObtenerStockActualProducto = '@Url.Action("ObtenerStockActualProducto", "OfertaLiquidacion", new {area = ""})';
        var urlValidarUnidadesPermitidasPedidoProducto2 = '@Url.Action("ValidarUnidadesPermitidasPedidoProducto", "Accesorizate", new {area = ""})';
        var urlObtenerStockActualProducto2 = '@Url.Action("ObtenerStockActualProducto", "Accesorizate", new {area = ""})';

        var urlValidarStockEstrategia = '@Url.Action("ValidarStockEstrategia", "Pedido", new {area = ""})';
        var urlPedidoUpdate = '@Url.Action("Update", "PedidoFIC", new {area = "Mobile" })';
        var urlPedidoDelete = '@Url.Action("Delete", "PedidoFIC", new {area = "Mobile" })';
        var urlPedidoDeleteAll = '@Url.Action("DeleteAll", "PedidoFIC", new { area = "Mobile" })';
        var urlInsertarDesglose = '@Url.Action("InsertarDesglose", "Pedido", new {area = ""})';
        var urlDeshacerReservaPedidoReservado = '@Url.Action("PedidoValidadoDeshacerReserva", "", new { area = "" })';
        var urlPedidoAceptarBackOrder = '@Url.Action("AceptarBackOrder", "Pedido", new { area = "" })';

        var urlDetallePedido = '@Url.Action("CargarDetallePedido", "PedidoFIC", new { area = "Mobile" })';
        var urlValidarKitNuevas = '@Url.Action("ValidarKitNuevas", "Pedido", new { area = "" })';
        var urlReservadoOEnHorarioRestringido = '@Url.Action("ReservadoOEnHorarioRestringido", "", new { area = "" })';
        var fnEliminarProducto = null;

        var listaEscalaDescuento = JSON.parse($("#hdListaEscala").val());
        var listaParametriaOfertaFinal = JSON.parse($("#hdListaParametriaOfertaFinal").val());

        var urlLoad = '@Url.Content("~/Content/Images/Loading.gif")';
        var viewBagPaisID = '@Model.PaisID';
        var viewBagNombrePais = '@ViewBag.NombrePais';
        var urlPedidoInsert = '@Url.Action("PedidoInsertar", "Pedido", new {area = ""})';

        var origenPagina = 2;
        var cuvOfertaProl = '@ViewBag.CUVOfertaProl';
        var autoReservar = ('@Model.AutoReservar'.toLowerCase() == 'true');
        var tieneCupon = '@Model.TieneCupon';
        var esEmailActivo = '@Model.EmailActivo';
        var viewBagCampaniaActual = '@Model.CampaniaActual';
        var paisISO = '@ViewBag.paisISO';
        var viewBagAmbiente = '@ViewBag.Ambiente';
        var paginaOrigenCupon = 21;
        var correo = '@Model.EMail';
        var celular = '@Model.Celular';

        var consultoraRegaloPN = '@ViewBag.ConsultoraTieneRegaloPN';
        var ofertaFinalEstado = '@ViewBag.OfertaFinalEstado';
        var ofertaFinalAlgoritmo = '@ViewBag.OfertaFinalAlgoritmo';
        var nombreConsultora = '@ViewBag.NombreConsultora';
        var MobilePedidoOfertaFinal = @Constantes.OrigenPedidoWeb.MobilePedidoOfertaFinal;
    </script>

    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/Mobile/PedidoFIC/Detalle.js")"></script>

    @System.Web.Optimization.Scripts.Render("~/bundles/JsMobile/PedidoFICDetalle")

    @if (Model.MostrarPopupPrecargados)
    {
        <script>
            $(document).ready(function () { messageInfoValidado('@Html.Raw(Constantes.RecuperacionPedido.Mensaje)'); });
        </script>
    }

}
