@using Portal.Consultoras.Web.Models
@model MisCatalogosRevistasModel

@{
    Layout = "~/Areas/Mobile/Views/Shared/_SinSesionMobileLayout.cshtml";
    var userAgent = HttpContext.Current.Request.UserAgent.ToLower();
    var urlApp = userAgent.Contains("iphone;") ? "https://itunes.apple.com/pe/app/catalogos-esika-lbel-cyzone/id1052948837?mt=8"
                                                                                     : "https://play.google.com/store/apps/details?id=belcorp.modobeta.catalogov2&hl=es_419";
    var textApp = userAgent.Contains("iphone;") ? "Gratis en App Store" : "Gratis en Play Store";
}

<input type="hidden" id="hdPaisNombre" value="@Model.PaisNombre" />
<input type="hidden" id="hdCampaniaAnterior" value="@Model.CampaniaAnterior" />
<input type="hidden" id="hdCampaniaActual" value="@Model.CampaniaActual" />
<input type="hidden" id="hdCampaniaSiguiente" value="@Model.CampaniaSiguiente" />
<input type="hidden" id="hdrCampaniaAnterior" value="@Model.CampaniaAnterior" />
<input type="hidden" id="hdrCampaniaActual" value="@Model.CampaniaActual" />
<input type="hidden" id="hdrCampaniaSiguiente" value="@Model.CampaniaSiguiente" />

<span id="spNroCampania" style="display:none;">@Model.CampaniaActual</span>

@{
    if (HttpContext.Current.Request.Browser.IsMobileDevice && ViewBag.ActivacionAppCatalogoWhastUp == 1)
    {
        <div class="wrapper_resumen_mobile">
            <div class="content_320">
                <div class="content_app">
                    DESCARGA TU<br />
                    APP DE CATÁLOGOS<br />
                    <span>@textApp</span>
                </div>
                <a class="btn_obtener_app" href="@urlApp">OBTENER</a>
                <hr class="clear" />
            </div>
        </div>
    }
}
<div class="titulo_mobile">
    &nbsp;&nbsp;&nbsp;&nbsp;MEUS CATÁLOGOS E REVISTAS
</div>
<div class="fondo_f2f2f2">
    <div class="pestana_esika"></div>
    <div class="pestana_lbel"></div>
    <ul class="tabs_pagos" data-tab="tab" style="margin-bottom:0">
        <li class="one">
            <a href="#" data-tag="Catalogos">
                CATÁLOGOS
                <div class="marcador_tab"></div>
            </a>
        </li>
        <li class="two">
            <a href="#" data-tag="Revistas" onclick="TagManagerPaginasVirtuales()">
                REVISTAS
                <div class="marcador_tab oculto"></div>
            </a>
        </li>
        
        <hr id="barCursor">
    </ul>
    <hr class="clear" />
</div>
<div class="wrapper_resumen_mobile">
    <div id="tab_catalogos_mobile" data-tag-html="Catalogos">
        <div class="texto_catalogos_mobile">Rever e compartilhar catálogos com seus clientes</div>
        <div class="titulo_catalogo">CATÁLOGOS C-@Portal.Consultoras.Common.Util.SubStr(Model.CampaniaAnterior.ToString(), 4, 2)</div>
        <div class="content_carrusel_catalogo" id="divCatalogo">
            <a class="previous_carrusel_catalogo" style="left:0"><img style="display:none;" src="@Url.Content("~/Content/Images/mobile/Esika/previous_ofertas_home.png")" alt="-" onclick="CatalogoMostrar(-1, this)"/></a>
            <a class="next_carrusel_catalogo" style="right:0"><img src="@Url.Content("~/Content/Images/mobile/Esika/next.png")" alt="-" onclick="CatalogoMostrar(1, this)"/></a>
        </div>
       
    </div>
    <div id="tab_revistas_mobile" data-tag-html="Revistas" style="display:none;">
        <div class="titulo_catalogo">REVISTAS C-@Portal.Consultoras.Common.Util.SubStr(Model.CampaniaAnterior.ToString(), 4, 2)</div>
        <div class="content_revistas_mobile">
            <a class="previous_revistas_mobile" style="left:-30px"><img style="display:none;" src="@Url.Content("~/Content/Images/mobile/Esika/previous_ofertas_home.png")" alt="-" onclick="RevistaMostrar(-1, this)"/></a>
            <a id="lbPortadaGana" href="#" onclick="MostrarMiRevista();">
                <img src="@Url.Content("~/Content/Images/revista_no_disponible.jpg")" alt="-" id="imgPortadaGana" />
            </a>
        </div>
    </div>
    
</div>

<div id="CompartirCorreoMobile" class="PopMobile1">
    <div class="content_popMobile">
        <a class="cerrar_popMobile" href="javascript:;" onclick="javascript: $('#CompartirCorreoMobile').hide();">
            <img src="@Url.Content("~/Content/Images/mobile/Esika/cerrar_04.png")" alt="-" />
        </a>
        <hr class="clear" />
        <div class="titulo_compartir">COMPARTIR <b>CATÁLOGO</b></div>
        <div class="Label_compartir">Agregar contacto:</div>
        <a class="mostrar_todos">Añadir todos mis contáctos (##)</a>
        <hr class="clear" />
        <div id="tagParent" style="border: 1px solid #c5c5c5; margin: 10px 0 20px 0; padding: 10px; padding-top: 14px; ">
            <div style="min-height:25px; max-height:150px;">
                <textarea id="tagCorreo"></textarea>
            </div>
        </div>
        <div class="Label_compartir">Mensaje (Editable):</div>
        <hr class="clear" />

        <textarea name="comentarios" class="text_compartir" id="comentarios" maxlength="500">
        </textarea>
        <div class="Label_compartir">Catálogos a enviar:</div>
        <hr class="clear" />
        <div id="divCheckbox">
            <div data-cat="Esika">
                <div class="content_checkbox">
                    <input class="inputradio" type="checkbox">
                    <span class="inputfalso"></span>
                </div>
                <div class="check_label">Ésika</div>
            </div>
            <div data-cat="Lbel">
                <div class="content_checkbox">
                    <input class="inputradio" type="checkbox">
                    <span class="inputfalso"></span>
                </div>
                <div class="check_label">L'Bel</div>
            </div>
            <div data-cat="Cyzone">
                <div class="content_checkbox">
                    <input class="inputradio" type="checkbox">
                    <span class="inputfalso"></span>
                </div>
                <div class="check_label">Cyzone</div>
            </div>
            <hr class="clear">
        </div>
        <a class="btn_enviar_correo" id="btnEnviarCorreo">ENVIAR</a>
    </div>
</div>
<div id="MensajeAlertaMobile" class="MensajeAlertaMobile" style="display:none;">
    <div class="content_mensajeAlerta">
        <a class="cerrar_popMobile" href="javascript:;" onclick="javascript: $('#MensajeAlertaMobile').hide();">
            <img src="@Url.Content("~/Content/Images/mobile/Esika/cerrar_04.png")" alt="-" />
        </a>
        <hr class="clear" />
        <div class="icono_alerta check_icono_mobile"></div>
        <div class="titulo_compartir">¡BIEN <b>HECHO</b>!</div>
        <div class="mensaje_alerta">Se envió satisfactoriamente el correo a los clientes(s) seleccionado(s)</div>
        <a class="btn_ok_mobile" onclick="javascript: $('#MensajeAlertaMobile').hide();">OK</a>
    </div>
</div>
<div id="MensajeAlertaMobile2" class="MensajeAlertaMobile" style="display:none;">
    <div class="content_mensajeAlerta">
        <a class="cerrar_popMobile" href="javascript:;" onclick="javascript: $('#MensajeAlertaMobile2').hide();">
            <img src="@Url.Content("~/Content/Images/mobile/Esika/cerrar_04.png")" alt="-" />
        </a>
        <hr class="clear" />
        <div class="icono_alerta exclamacion_icono_mobile"></div>
        <div class="titulo_compartir">¡LO <b>SENTIMOS</b>!</div>
        <div class="mensaje_alerta">Debe seleccionar al menos <br />un Catálogo</div>
        <a class="btn_ok_mobile" onclick="javascript: $('#MensajeAlertaMobile2').hide();">OK</a>
    </div>

</div>

<div style="display: none;">
    @using (Html.BeginForm("MiRevista", "CatalogoRevista", FormMethod.Post, new { id = "frmMiRevista", target = "_blank"}))
    {
        <input type="hidden" name="campaniaRevista" id="campaniaRevista" value="">
    }
</div>

<script id="catalogo-template" type="text/x-handlebars-template">
    <div class="content_item_catalogo" data-cam="{{campania}}" data-cat="{{tipoCatalogo}}" data-estado="{{estado}}" style="display: none;">
        <div data-tipo="content">
            <a class="content_catalogo" data-tipo="img" target="_blank" href="">
                <img src="@Url.Content("~/Content/Images/catalogo_no_disponible.jpg")" />
            </a>
            <input id="txtUrl{{tipoCatalogo}}" type="hidden" value="" />
            <div style="width: 216px; margin:0 auto;">
                <a class="btn_ws @Model.NombreClasews" onclick="TagManagerWS('{{comp}}','{{campania}}');"><img src="@Url.Content("~/Content/Images/mobile/Esika/catalogo_ws2.png")" alt="-" /></a>          
                <a class="btn_facebook @Model.NombreClasefb" href="" data-accion="face" onclick="RedesSociales.CompartirFacebook('{{comp}}','{{campania}}', this); return false;"><img src="@Url.Content("~/Content/Images/mobile/Esika/catalogo_facebook.png")" alt="-" /></a>
            </div>
            
        </div>
    </div>
</script>

@section styles{

    <link href="~/Content/Css/Mobile/jquery.tag-editor.css" rel="stylesheet" />
<style type="text/css">
    body {
        overflow-x: hidden;
    }
</style>

}
@section scripts{
    <script type="text/javascript">
        var imgNoDisponible = '@Url.Content("~/Content/Images/catalogo_no_disponible.jpg")';
        var imgIssuu = '@Portal.Consultoras.Common.Constantes.CatalogoUrlParameters.UrlPart01' + '{img}' + '@Portal.Consultoras.Common.Constantes.CatalogoUrlParameters.UrlPart02Alternativo'
        var codigoIso = '@ViewBag.CodigoISO';
        var defaultImageRevista = '@Url.Content("~/Content/Images/revista_no_disponible.jpg")';
        var urlObtenerPortadaRevista = '@Url.Action("ObtenerPortadaRevista", "CatalogoRevista", new { area = "Mobile" })';
        var urlIconoClienteAutoCompletar = '@Url.Content("~/Content/Images/Esika/user.jpg")';
        var urlBienvenidaMobile = '@Url.Action("Index", "Bienvenida", new { area = "Mobile" })';
        var urlEnviarMail = '@Url.Action("EnviarEmail", "MisCatalogosRevistas", new { area = "" })';
        var valContenidoCorreoDefecto = '@Html.Raw(ViewBag.TextoMensajeSaludoCorreo)';
        var RevistaCodigoIssuu = {
            '@Model.CampaniaAnterior': '@Model.CodigoRevistaAnterior',
            '@Model.CampaniaActual': '@Model.CodigoRevistaActual',
            '@Model.CampaniaSiguiente': '@Model.CodigoRevistaSiguiente'
        };
        var urlDetalle = '@Url.Action("Detalle", "CatalogoRevista", new { area = "Mobile" })';
    </script>
    <script src="@Url.Content("~/Scripts/Tag/jquery.tags.input.js")"></script>
    <script src="@Url.Content("~/Scripts/Tag/jquery.tag-editor.js")"></script>
    <script src="@Url.Content("~/Scripts/Tag/jquery.caret.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Tag/jquery.tag-autcomplete.js")"></script>
}
