@using Portal.Consultoras.Common
@{
    ViewBag.Title = "_ListadoEstrategias";
}

<style>
    .message_text {
        background: #FFF;
        padding: 20px 10px 10px 10px;
        border: 1px solid #D0D0D0;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -khtml-border-radius: 10px;
        border-radius: 10px;
        behavior: url('../../../../Content/Css/Pie/PIE.htc');
        position: relative;
    }
</style>

<script type="text/javascript">

    function InfoCommerceGoogle(ItemTotal, CUV, DescripcionProd, Categoria, Precio, Cantidad, Marca, variant, MarcaID) {

        if (ItemTotal >= 0 && Precio >= 0 && Cantidad > 0) {
            if (variant == null || variant == "") { variant = "Estándar"; }
            if (Categoria == null || Categoria == "") { Categoria = "Sin Categoría"; }
            dataLayer.push({
                'event': 'addToCart',
                'ecommerce': {
                    'add': {
                        'actionField': { 'list': 'Productos destacados' },
                        'products': [{
                            'name': DescripcionProd,
                            'price': Precio,
                            'brand': Marca,
                            'id': CUV,
                            'category': Categoria,
                            'variant': variant,
                            'quantity': parseInt(Cantidad),
                            'position': MarcaID
                        }]
                    }
                }
            })
        }
    }

    function ReservadoOEnHorarioRestringido(mostrarAlerta) {

        mostrarAlerta = typeof mostrarAlerta !== 'undefined' ? mostrarAlerta : true;
        var restringido = true;

        $.ajaxSetup({ cache: false });
        jQuery.ajax({
            type: 'GET',
            url: '@Url.Action("ReservadoOEnHorarioRestringido", "Pedido")',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            async: false,
            success: function (data) {
                if (checkTimeout(data)) {
                    if (data.success == false) restringido = false;
                    else {
                        if (data.pedidoReservado) {
                            var fnRedireccionar = function () {
                                waitingDialog({});
                                location.href = '@Url.Action("PedidoValidado", "Pedido")'
                            }
                            if (mostrarAlerta == true) alert_msg(data.message, fnRedireccionar);
                            else fnRedireccionar();
                        }
                        else if (mostrarAlerta == true) alert_msg(data.message);
                    }
                }
            },
            error: function (error) {
                alert_msg('Ocurrió un error al intentar validar el horario restringido o si el pedido está reservado. Por favor inténtelo en unos minutos.');
            }
        });
        return restringido;
    };

    $(document).ready(function () {
        $(document).on('click', '.js-boton_agregar', function () {
            var contenedor = $(this).parents(".js-producto_destacado");
            AgregarOfertaProducto(contenedor);
        });
    });

    function AgregarOfertaProducto(contenedor) {
        var Cantidad = $(contenedor).find(".txtCantidad")[0].value;
        var OfertaProductoID = $(contenedor).find(".OfertaProductoID")[0].value;
        var TipoOfertaID = $(contenedor).find(".TipoOfertaSisID")[0].value;
        var ConfiguracionOfertaID = $(contenedor).find(".ConfiguracionOfertaID")[0].value;
        var MarcaID = $(contenedor).find(".MarcaID")[0].value;
        var CUV = $(contenedor).find(".CUV")[0].value;
        var PrecioUnidad = $(contenedor).find(".PrecioOferta")[0].value;
        var DescripcionProd = $(contenedor).find(".DescripcionProd")[0].value;
        var DescripcionMarca = $(contenedor).find(".DescripcionMarca")[0].value;
        var LimiteVenta = $(contenedor).find(".LimiteVenta")[0].value;
        var DescripcionMarcaProducto = $(contenedor).find(".DescripcionMarcaProducto")[0].value;
        var DescripcionCategoria = $(contenedor).find(".DescripcionCategoria")[0].value;
        var DescripcionEstrategia = $(contenedor).find(".DescripcionEstrategia")[0].value;
    };

    function CalcularAcumuladoCarrito() {
        var cantidad = 0;
        var items = $(".ValidaNumeralOferta");
        for (var i = 0; i < items.length; i++) {
            var estado = $(items[i]).parent().find(".btnAdd")[0].disabled;
            if (parseInt(items[i].value) > 0 && estado)
                cantidad += parseInt(items[i].value)
        }
        $("#spCantidadItems").text(cantidad);
    }
</script>

@{
    List<Portal.Consultoras.Web.ServicePedido.BEEstrategia> lstEstrategias = ViewBag.ListaEstrategias;
    string ISO = ViewBag.ISO;
    string Simbolo = ViewBag.Simbolo;
}
<input type="hidden" id="hdFlagOferta" value="0" />
@if (lstEstrategias != null)
{
    var posicion = 1;
    <div style="max-width: 1136px; margin: 0 auto; height: auto; width: 100%;">
    @foreach (var item in lstEstrategias)
    {
        var descripcion = item.DescripcionCUV2;
        var tallacolor = item.TallaColor.Replace("</>", "@");
        var arrOption = tallacolor.Split('@');
        string[] ofertas = descripcion.Split('|');
        if (item.FlagNueva == 1)
        {
            descripcion = ofertas[0];
        }

            <div class="js-producto_destacado">
                <div class="estrateg_item" data-identificador="@posicion">
                    <input type="hidden" class="TipoOfertaSisID" value="0" />
                    <input type="hidden" class="ConfiguracionOfertaID" value="0" />
                    <input type="hidden" class="MarcaID" value="@item.MarcaID" />
                    <input type="hidden" class="CUV" value="@item.CUV2" />
                    <input type="hidden" class="PrecioOferta" value="@item.Precio2" />
                    <input type="hidden" class="DescripcionProd" value="@descripcion" />
                    <input type="hidden" class="DescripcionMarca" value="@item.MarcaID" />
                    <input type="hidden" class="LimiteVenta" value="@item.LimiteVenta" />
                    <input type="hidden" class="ExisteTalla" value="@arrOption.Length" />
                    <input type="hidden" class="DescripcionMarcaProducto" value="@item.DescripcionMarca" />
                    <input type="hidden" class="DescripcionCategoria" value="@item.DescripcionCategoria" />
                    <input type="hidden" class="DescripcionEstrategia" value="@item.DescripcionEstrategia" />

                    <div class="producto_agregado" style="display: none;">
                        <div>Agregado</div>
                    </div>

                    <div class="estrateg_imagen">
                        @if (!item.FotoProducto01.Equals(string.Empty))
                        {
                            <img src='@item.FotoProducto01' alt="Imagen Producto" class="imagenpop" />
                        }
                        else
                        {
                            <img src='@Url.Content("~/Content/Matriz/Producto_Sin_Imagen.png")' alt="Imagen Producto" class="imagenpop" />
                        }
                    </div>
                    <div class="etiqueta_producto">
                        @if (item.TipoEstrategiaImagenMostrar == Constantes.TipoEstrategia.PackNuevas || item.TipoEstrategiaImagenMostrar == Constantes.TipoEstrategia.Lanzamiento)
                        {
                            <img src="@item.ImagenURL" alt="Etiqueta Producto" />
                        }
                    </div>    
                    <h1 class="liquidacion_titulo_item">@item.DescripcionMarca</h1>
                    @if (item.FlagNueva == 1)
                    {
                        <input type="hidden" class="ExisteFlagNueva" value="@item.FlagNueva" />
                        <p class="estrateg_descripcion">@descripcion</p>
                        if (item.Precio > 0)
                        {
                            <span style="padding: 3px; text-align: left; color: #A1A1A1">
                                @item.EtiquetaDescripcion @Simbolo
                                @if (ViewBag.PaisID == "4")
                                {
                                    @item.Precio.ToString("#,##0").Replace(',', '.')
                                }
                                else
                                {
                                    @item.Precio.ToString("#,##0.00")
                                }
                            </span>
                        }
                        <br />
                        <ul id="OfertasResultados" class="listaOfertasDestacados">
                            @{
                        string str = item.DescripcionCUV2.Replace('|', '-');
                        ofertas = str.Split('-');
                        string data = string.Join(" - ", ofertas.Where(x => x != ofertas[0]).ToArray());
                            }
                            @data
                        </ul>
                        <div class="liquidacion_precio_tachado"></div>
                        <div class="liquidacion_precio"><span>@ViewBag.Simbolo @item.Precio2</span></div>
                    }
                    else
                    {
                        <input type="hidden" class="ExisteFlagNueva" value="0" />
                        <p class="estrateg_descripcion">@item.DescripcionCUV2</p>
                        if (item.Precio > 0)
                        {
                            <span style="padding: 3px; text-align: left; color: #A1A1A1">
                                @item.EtiquetaDescripcion @Simbolo
                                @if (ViewBag.PaisID == "4")
                                {
                                    @item.Precio.ToString("#,##0").Replace(',', '.')
                                }
                                else
                                {
                                    @item.Precio.ToString("#,##0.00")
                                }
                            </span>
                        }
                        <span style="padding: 3px;" class="zona_estrategia_4">@item.TextoLibre</span>
                        <div class="liquidacion_precio_tachado"></div>
                        <div class="liquidacion_precio">
                            <span>
                                @if (ViewBag.PaisID == "4")
                                {
                                    @ViewBag.Simbolo<text>&nbsp</text>@item.Precio2.ToString("#,##0").Replace(',', '.')
                                }
                                else
                                {
                                    @ViewBag.Simbolo<text>&nbsp</text>@item.Precio2.ToString("#,##0.00")
                                }
                            </span>
                        </div>
                    }
                    <hr class="clear" />
                    <p class="liquidacion_cantidad"></p>
                    <input type="hidden" class="ValidaNumeralOfertaAnterior" />
                    @if (item.FlagNueva == 1)
                    {
                        <div style=" margin-left: 20px;">
                            <div class="liquidacion_rango_home" data-cantidad-contenedor="">
                                <input type="text" value="@item.LimiteVenta" size="2" maxlength="2" data-input="cantidad" class="liquidacion_rango_cantidad_pedido ValidaNumeral txtCantidad" />
                                <div class="liquidacion_rango_right_pedido">
                                    <a class="mas" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)"><img src="@Url.Content("~/Content/Images/Esika/mas.png")" alt="" /></a>
                                    <a class="menos" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)"><img src="@Url.Content("~/Content/Images/Esika/menos.png")" alt="" /></a>
                                </div>
                            </div>
                        </div>
                        <hr class="clear" />
                        <input type="hidden" value="0" class="OfertaProductoID" />
                        <a class="boton_liquidacion js-boton_agregar" style="width: 216px!important;" data-identificador="@posicion">agregar</a>
                    }
                    else
                    {
                        <div style=" margin-left: 20px;">
                            <div class="liquidacion_rango_home" @(item.TipoTallaColor != "" ? "style=visibility:hidden" : "") data-cantidad-contenedor="">
                                <input type="text" value="1" size="2" maxlength="2" data-input="cantidad" class="liquidacion_rango_cantidad_pedido ValidaNumeral txtCantidad" />
                                <div class="liquidacion_rango_right_pedido">
                                    <a class="mas" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)"><img src="@Url.Content("~/Content/Images/Esika/mas.png")" alt="" /></a>
                                    <a class="menos" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)"><img src="@Url.Content("~/Content/Images/Esika/menos.png")" alt="" /></a>
                                </div>
                            </div>
                        </div>
                        <hr class="clear" />
                        <input type="hidden" value="0" class="OfertaProductoID" />
                        <a class="boton_liquidacion @(item.TipoTallaColor != "" ? "js-boton_tonotalla" : "js-boton_agregar")" @(item.TipoTallaColor != "" ? "style=width:218px!important" : "") data-identificador="@posicion">
                            @(item.TipoTallaColor == "" ? "agregar" : (item.TipoTallaColor == "C" ? "elegir tono" : "elegir talla"))
                        </a>
                    }
                </div>
                @{
                    posicion++;
                }
            </div>
    }
        <div class="clear"></div>
    </div>
}
