@using Mensajes = Portal.Consultoras.Common.Constantes.MatrizNemotecnicoMensajes
@model Portal.Consultoras.Web.Models.EstrategiaModel
@{
    ViewBag.Title = "Administración de Estrategias";
    const string imagenVacia = "prod_grilla_vacio.png";
}

<div id="DialogAdministracionEstrategia" style="display: none;">
    <input type="hidden" id="hdPais" value="" />
    <input type="hidden" id="hdCampania" value="" />
    <input type="hidden" id="hdTipoEstrategiaID" value="" />
    <input type="hidden" id="hdColorFondo" value="#FFF" />
    <input type="hidden" id="hdCodigoPrograma" value="">
    <input type="hidden" id="hdNumeroPedido" value="">
    <input type="hidden" id="hdEstrategiaPrecioAnt" />
    <input type="hidden" id="hdImagenMiniaturaURLAnterior" />
    <input type="hidden" id="_id" />
    <input type="hidden" id="CodigoEstrategia">
    <input type="hidden" id="flagImagenUrl">
    <input type="hidden" id="DescripcionEstrategia">
    <input type="hidden" id="MarcaID">
    <input type="hidden" id="MarcaDescripcion">
    <input type="hidden" id="CodigoProducto">
    <input type="hidden" id="CodigoSAP">

    <div class="Content_modal">
        <div class="div-3">
            <div class="titG">Campaña:</div>
            <div class="selectP2 borde_redondeado">
                <input id="spanCampania" type="text" readonly="readonly" />
            </div>
            <div class="titG">Tipo de Estrategia:</div>
            <div class="selectP2 borde_redondeado">
                <input id="spanTipoEstrategia" type="text" readonly="readonly" />
            </div>
        </div>

        <div class="div-3 DatosNuevas" style="display: none">
            <div class="titG">Campaña fin:</div>
            <div class="selectP2 borde_redondeado">
                @Html.DropDownListFor(model => model.CampaniaID, new SelectList(Model.listaCampania, "CampaniaID", "NombreCorto"), "-- Seleccionar --", new { id = "ddlCampaniaFin" })
            </div>
            <div class="titG">Pedido Asociado:</div>
            <div class="checksPedidosAsociados">
            </div>
        </div>
        <div class="div-3 Content_modal" style="margin-left: 12px; width: 92%; padding-top: 10px; padding-bottom: 0;">
            <div style="color: white;">
                <div style="display: inline-block; width: 48%; text-align: center; padding: 8px; background: #00A2E8; border-top-left-radius: 10px;">
                    Información CUV Oferta
                </div>
                <div id="divPrecioValorizado" style="display: inline-block; width: 47%; text-align: center; padding: 8px; background: #00A2E8; margin-left: -3px; border-left: 1px #D0D0D0 solid; border-top-right-radius: 10px;">
                    Precio Valorizado
                </div>
            </div>
            <div>
                <div style="display: inline-block; width: 48%; text-align: center; padding: 8px; margin-right: -3px; border-right: 1px #D0D0D0 solid;">
                    <div style="display: inline-block;">CUV2:</div>
                    <div style="display: inline-block;">
                        <input type="text" id="txtCUV2" maxlength="5" class="ValidaNumeral" style="width: 60px;" />
                    </div>
                    <div style="display: inline-block; padding-left: 40px;">Precio para ti:</div>
                    <div style="display: inline-block;">
                        <input type="text" id="txtPrecio2" maxlength="10" class="ValidaNumeral" style="width: 60px;" />
                    </div>
                </div>
                <div style="display: inline-block; width: 47%; text-align: center; padding: 8px; margin-right: -3px;">
                    <div style="display: inline-block;">Ganancia: </div>
                    <div style="display: inline-block; width: 90px;">
                        <input type="text" id="txtGanancia" class="ValidaNumeral" style="width: 60px;" />
                    </div>
                    <div style="display: inline-block; padding-left: 40px;">Valorizado:</div>
                    <div style="display: inline-block;">
                        <input type="text" id="txtPrecio" style="width: 60px;" />
                    </div>
                </div>
            </div>
        </div>
        <div class="div-3">
            <div class="titG">Descripción:</div>
            <div class="titG">
                <input type="text" id="txtDescripcion" style="width: 520px;" />
            </div>
        </div>
        <div class="div-3">
            <div id="seccionTallaColor">
                <div class="titG">Talla/Color:</div>
                <div class="titG" style="width: auto;">
                    <a href="#" style="margin-left: 5px" id="linkTallaColor">
                        <img src='@Url.Content("~/Content/Images/icons/small/list-icon2.png")' border="0" alt="Agregar Tonos/Tallas/Colores" title="Agregar Tonos/Tallas/Colores" />
                    </a>
                </div>
            </div>
            <div class="titG">¿Activar Oferta?</div>
            <div class="selectCheck borde_redondeado">
                <input type="checkbox" class="check" id="chkHabilitarOferta" style="margin-top: 2px; margin-left: 15px;" />
            </div>
            <div class="titG chkEsOfertaIndependiente" style="width:142px;padding-left:26px;">Cupón independiente?</div>
            <div class="selectCheck borde_redondeado chkEsOfertaIndependiente">
                <input type="checkbox" class="check" id="chkEsOfertaIndependiente" style="margin-top: 2px;  margin-left: 15px;" />
            </div>
        </div>
        <div class="div-3" id="divSeccionIndividual">
            <div id="seccionFlagIndividual">
                <div class="titG">Producto Individual:</div>
                <div class="titG" style="width: auto;">
                    <input type="checkbox" class="check" id="chkFlagIndividual" style="margin-top: -5px;" />
                </div>
            </div>
            <div id="seccionSlogan">
                <div class="titG" style="width: auto;margin-left:20px;">Slogan:</div>
                <div class="titG" style="width: auto;">
                    <input type="text" id="txtSlogan" style="width: 480px;" />
                </div>
            </div>
        </div>
        <div class="div-3">
            <div class="titG">
                <span>Imagen Seleccionada:</span>

            </div>
            <div class="titG">
                <div class="pdr_modal borde_redondeado alignrigth">
                    <img name="picture-normal" src='@Url.Content("~/Content/Images/" + imagenVacia)' id="imgSeleccionada" class="img-matriz-preview" style="font-size:9px !important;" data-id="">
                </div>
            </div>

            <div id="seccionImagenMiniatura">
                <div class="titG">Imagen Miniatura:</div>
                <div class="titG3">
                    <div class="pdr_modal borde_redondeado alignrigth">
                        <img name="picture-mini" src='@Url.Content("~/Content/Images/" + imagenVacia)' id="imgMiniSeleccionada" class="img-matriz-preview" style="font-size:9px !important;" data-id="">
                    </div>
                </div>
                <div class="titC" style="padding: 0; width: 180px; padding-right: 20px;">
                    <div class="input_search">
                        <div id="fpPopupImagenProducto">
                            <script type="text/javascript">
                            $.ajaxSetup({ cache: false });
                            var uploader = new qq.FileUploader({
                                allowedExtensions: ['jpg', 'png', 'jpeg', 'gif'],
                                element: document.getElementById('fpPopupImagenProducto'),
                                action: '@Url.Action("ImageMatrizUpload", "FileUpload")',
                                onComplete: function (id, fileName, responseJSON) {
                                    if (checkTimeout(responseJSON)) {
                                        $(".qq-upload-list").css("display", "none");
                                        if (responseJSON.success) {
                                            var rutaImagen = '@Url.Content("~/Content/Temporales/")' + responseJSON.name;
                                            $("#imgMiniSeleccionada").attr('src', rutaImagen);
                                        }
                                        else {
                                            alert(responseJSON.message);
                                        }
                                    }
                                },
                                onSubmit: function (id, fileName) { $(".qq-upload-list").css("display", "none"); },
                                onProgress: function (id, fileName, loaded, total) { $(".qq-upload-list").css("display", "none"); },
                                onCancel: function (id, fileName) { $(".qq-upload-list").css("display", "none"); }
                            });
                            </script>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--SECCION PARA CARRUSEL DE LANZAMIENTOS -->
        <div id="div-revista-digital" class="div-3 Content_modal" style="margin-left: 12px; width: 94%; padding-top: 10px; padding-bottom: 0; margin-bottom: 10px;">
            <div style="color: white;">
                <div style="display: inline-block; width:97%; text-align: center; padding: 8px; background: #00A2E8; border-top-left-radius: 10px; border-top-right-radius: 10px">
                    VISUALES  DE LA SECCIÓN  LANZAMIENTOS
                </div>
            </div>
            <div class="fontColorAdm">
                <div style="display: inline-block; width: 48%; text-align: left; padding: 8px; margin-right: -3px; border-right: 1px #D0D0D0 solid;">
                    <h4>Home Desktop</h4>
                    <div style="display: inline-block; width: 100%;">
                        <input type="hidden" id="nombre-img-home-desktop" />
                        <label style="width: 130px; display: inline-block;">Img. Lanzamiento:</label>
                        <div id="img-home-desktop" style="display: inline-block;vertical-align: middle;"></div>
                        <div class="pdr_modal2 borde_redondeado alignrigth">
                            <img src='@Url.Content("~/Content/Images/" + imagenVacia)' id="src-img-home-desktop" class="img-matriz-preview2" data-id="">
                        </div>
                        <div class="inforRdText">400 x 560 pixeles</div>
                    </div>
                </div>
                <div class="fontColorAdm" style="display: inline-block; width: 47%; text-align: left; padding: 8px; margin-right: -3px; vert-align: top; position: absolute">
                    <h4>Home Mobile</h4>
                    <div style="display: inline-block; width: 100%">
                        <input type="hidden" id="nombre-img-home-mobile" />
                        <label style="width: 130px; display: inline-block;">Img. Lanzamiento:</label>
                        <div id="img-home-mobile" style="display: inline-block; vertical-align: middle;"></div>
                        <div class="pdr_modal2 borde_redondeado alignrigth">
                            <img src='@Url.Content("~/Content/Images/" + imagenVacia)' id="src-img-home-mobile" class="img-matriz-preview2" data-id="">
                        </div>
                        <div class="inforRdText">375 x 270 pixeles</div>
                    </div>
                </div>
            </div>
            <div class="clear-fix"></div>
            <div class="fontColorAdm">
                <div style="display: inline-block; width: 48%; text-align: left; padding: 8px; margin-right: -3px; border-right: 1px #D0D0D0 solid;">
                    <h4>Carrusel Desktop</h4>
                    <div style="display: inline-block; width: 100%;">
                        <input type="hidden" id="nombre-img-fondo-desktop" />
                        <label style="width: 130px; display: inline-block;">Imagen de Fondo: </label>
                        <div id="img-fondo-desktop" style="display: inline-block;vertical-align: middle;"></div>
                        <div class="pdr_modal2 borde_redondeado alignrigth">
                            <img src='@Url.Content("~/Content/Images/" + imagenVacia)' id="src-img-fondo-desktop" class="img-matriz-preview2" data-id="">
                        </div>
                        <div class="inforRdText">794 x 395 pixeles</div>
                    </div>
                </div>
                <div class="fontColorAdm" style="display: inline-block; width: 47%; text-align: left; padding: 8px; margin-right: -3px; vert-align: top; position: absolute">
                    <h4>Carrusel Mobile</h4>
                    <div style="width: 100%">
                        <input type="hidden" id="nombre-img-fondo-mobile" />
                        <label style="width: 130px; display: inline-block;">Imagen de Fondo: </label>
                        <div id="img-fondo-mobile" style="display: inline-block; vertical-align: middle;"></div>
                        <div class="pdr_modal2 borde_redondeado alignrigth">
                            <img src='@Url.Content("~/Content/Images/" + imagenVacia)' id="src-img-fondo-mobile" class="img-matriz-preview2" data-id="">
                        </div>
                        <div class="inforRdText">1024 x 155 pixeles</div>
                    </div>
                </div>
            </div>
            <div class="clear-fix"></div>
            <div class="fontColorAdm">
                <div style="display: inline-block; width: 48%; text-align: left; padding: 8px; margin-right: -3px; border-right: 1px #D0D0D0 solid;">
                    <h4>Ficha Desktop</h4>
                    <div style="display: inline-block; width: 100%;">
                        <input type="hidden" id="nombre-img-ficha-fondo-desktop" />
                        <label style="width: 130px; display: inline-block;">Imagen de Fondo: </label>
                        <div id="img-ficha-fondo-desktop" style="display: inline-block; vertical-align: middle;"></div>
                        <div class="pdr_modal2 borde_redondeado alignrigth">
                            <img src='@Url.Content("~/Content/Images/" + imagenVacia)' id="src-img-ficha-fondo-desktop" class="img-matriz-preview2" data-id="">
                        </div>
                        <div class="inforRdText">1280 x 322 pixeles</div>
                    </div>
                    <br /><br />
                    <div style="display: inline-block; width: 100%;">
                        <input type="hidden" id="nombre-img-ficha-desktop" />
                        <label style="width: 130px; display: inline-block;">Sello: </label>
                        <div id="img-ficha-desktop" style="display: inline-block; vertical-align: middle;"></div>
                        <div class="pdr_modal2 borde_redondeado alignrigth">
                            <img src='@Url.Content("~/Content/Images/" + imagenVacia)' id="src-img-ficha-desktop" class="img-matriz-preview2" data-id="">
                        </div>
                        <div class="inforRdText">121 x 32 pixeles</div>
                    </div>
                    <br /><br />
                    <div style="display: inline-block; width: 100%;">
                        <label style="width: 245px;display: inline-block;">Key Video: <span style="font-size: 11px"> https://www.youtube.com/watch?v=</span></label>
                        <input type="text" id="url-video-desktop" style="width: 90px" />
                    </div>
                </div>
                <div style="display: inline-block; width: 47%; text-align: left; padding: 8px; margin-right: -3px; vert-align: top; position: absolute">
                    <h4>Ficha Mobile</h4>
                    <div style="display: inline-block; width: 100%">
                        <input type="hidden" id="nombre-img-ficha-fondo-mobile" />
                        <label style="width: 130px; display: inline-block;">Imagen de Fondo: </label>
                        <div id="img-ficha-fondo-mobile" style="display: inline-block; vertical-align: middle;"></div>
                        <div class="pdr_modal2 borde_redondeado alignrigth">
                            <img src='@Url.Content("~/Content/Images/" + imagenVacia)' id="src-img-ficha-fondo-mobile" class="img-matriz-preview2" data-id="" />
                        </div>
                        <div class="inforRdText">1024 x 176 pixeles</div>
                    </div>
                    <br /><br />
                    <div style="display: inline-block; width: 100%">
                        <input type="hidden" id="nombre-img-ficha-mobile" />
                        <label style="width: 130px; display: inline-block;">Sello: </label>
                        <div id="img-ficha-mobile" style="display: inline-block; vertical-align: middle;"></div>
                        <div class="pdr_modal2 borde_redondeado alignrigth">
                            <img src='@Url.Content("~/Content/Images/" + imagenVacia)' id="src-img-ficha-mobile" class="img-matriz-preview2" data-id="">
                        </div>
                        <div class="inforRdText">121 x 32 pixeles</div>
                    </div>
                    <br /><br />
                    <div style="display: inline-block; width: 100%;">
                        <label style="width: 245px;display: inline-block;">Key Video: <span style="font-size: 11px"> https://www.youtube.com/watch?v=</span></label>
                        <input type="text" id="url-video-mobile" style="width: 90px" />
                    </div>
                </div>
            </div>
        </div>
        <!--FIN SECCION PARA CARRUSEL DE LANZAMIENTOS -->

        <div class="Content_modal" style="margin-left: 10px; width: 94%; padding-top: 10px; padding-bottom: 0;">
            <div class="div-3">
                <div style="color: white;">
                    <div id="divImagenEstrategia" style="display: inline-block; text-align: center; padding: 8px; background: #00A2E8; border-top-left-radius: 10px; border-top-right-radius: 10px; cursor: pointer;">
                        Imagen - Matriz Somos Belcorp
                    </div>
                    <div id="divInformacionAdicionalEstrategia" style="display: inline-block; text-align: center; padding: 8px; color: #702789; background: #D0D0D0; border-top-left-radius: 10px; border-top-right-radius: 10px; cursor: pointer;">
                        Información Adicional
                    </div>
                </div>
            </div>
            <!--IMAGENES-->
            <div id="divImagenEstrategiaContenido">
                <div id="matriz-comercial-header">
                    <div id="matriz-busqueda-nemotecnico">
                        <a title="@HttpUtility.HtmlDecode(Mensajes.TooltipInformacionFormatoBusqueda)" class="search-button-field">
                            <i class="material-icons">info</i>
                        </a>
                        <div class="busqueda-exacta">
                            <label for="chkTipoBusquedaNemotecnico">@Mensajes.TextoBusquedaExacta</label>
                            <input type="checkbox" id="chkTipoBusquedaNemotecnico">
                        </div>

                        <input id="txtBusquedaNemotecnico" class="search-input-field" placeholder="@Mensajes.PlaceHolderTextoNemotecnico" maxlength="100" type="text" />
                        <a id="btnBuscarNemotecnico" title="@Mensajes.TextoBotonBuscar" class="search-button-field">
                            <i class="material-icons">search</i>
                        </a>
                        <a id="btnLimpiarBusquedaNemotecnico" title="@Mensajes.TextoBotonLimpiar" class="search-button-field">
                            <i class="material-icons">undo</i>
                        </a>
                    </div>
                    <div id="matriz-imagenes-paginacion"></div>
                </div>
                <div class="actions">
                    <div class="file-upload" id="file-upload"></div>
                </div>
                <div class="div-3">
                    <div id="matriz-comercial-images" class="matriz-comercial-list matriz-comercial-zona-estrategia">
                    </div>
                </div>
            </div>
            <div id="divInformacionAdicionalEstrategiaContenido" style="display: none;">
                <div id="seccionEsSubCampania">
                    <div class="div-3">
                        <div class="titG4">¿Es SubCampaña?:</div>
                        <div class="titE">
                            <div class="selectCheck borde_redondeado">
                                <input style="text-align:left; position:absolute; left:0px; top:-14px;" type="checkbox" class="check" id="chkEsSubCampania">
                            </div>
                        </div>
                    </div>
                </div>

                <div id="seccionMensajeAdicional">
                    <div class="div-3">
                        <div id="lblMensaje" class="titG">Mensaje Adicional:</div>
                        <div class="titE">
                            <textarea rows="3" id="txtTextoLibre" maxlength="400" style="resize: none;font-size: 14px; font-weight: normal; resize: none;overflow-y: scroll; background-color:#fff; border-color: #B4B4B4; width:400px"></textarea>
                        </div>
                    </div>
                </div>
                <div id="seccionOfertaUltimoMinuto">
                    <div class="div-3 OfertaUltimoMinuto">
                        <div class="titH">Oferta de Último Minuto</div>
                        <div class="selectCheck borde_redondeado">
                            <input type="checkbox" class="check" id="chkOfertaUltimoMinuto" style="margin-top: 2px; margin-left: 15px;" />
                        </div>
                    </div>
                </div>
                <div class="div-est-3 DatosNuevas" id="div-orden" style="display: none">
                    <div class="titB">&nbsp;</div>
                    <div class="titB">Orden:</div>
                    <div class="titB">
                        <input type="text" id="txtOrden" value="" maxlength="3" />
                    </div>
                </div>
                <div class="div-3">
                    <div class="titG">Limite de Venta:</div>
                    <div class="titAuto">
                        <input type="text" id="txtLimite" value="99" style="width: 26px;" />
                    </div>
                    <div class="titE">&nbsp;(Número de Unidades máximas por Consultora)</div>
                </div>
                <div class="div-est-3 DatosNuevas" style="display: none">
                    <div class="titB">&nbsp;</div>
                    <div class="titB">Alcance:</div>
                    <div class="titD">
                        <input type="text" id="txtAlcance" readonly="readonly" />
                    </div>
                    <div class="titA" style="width: 20px">
                        <a href="#" style="margin-left: 5px" id="linkAlcance">
                            <img src='@Url.Content("~/Content/Images/search.png")' border="0" alt="Seleccionar alcance" title="Seleccionar alcance" />
                        </a>
                    </div>
                    <div class="titG" style="width: 300px">&nbsp;(Seleccionar Pa&iacute;s, Regi&oacute;n o Zona)</div>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="matriz-comercial-item-template" type="text/x-handlebars-template">
    {{#each imagenes}}
    <div class="titG2 div-img-matriz-comercial">
        <div id='contenedor' class="pdr_modal borde_redondeado aligncenter">
            <img name="picture-{{@@index}}" id="img-matriz-{{@@index}}" title='{{NemoTecnico}}' src='{{Foto}}' class="img-matriz-preview" style="font-size:9px !important;">
        </div>
        <div class="pdr_modal_check aligncenter">
            <input type="checkbox" value="{{Foto}}" id="chkImagenProducto{{@@index}}" class="chkImagenProducto">
        </div>
        <div class="pdr_modal borde_redondeado aligncenter" style="display:none">
            <input id="descripcion-comercial-{{@@index}}" value='{{DescripcionComercial}}'>
        </div>
        <div class="pdr_modal borde_redondeado aligncenter" style="display:none">
            <input id="id-matriz-comercial-imagen-{{@@index}}" value='{{IdMatrizComercialImagen}}'>
        </div>

    </div>
    {{/each}}
</script>

<div id="divVistaPrevia" class="Content_modal_ZE" style="display: none; background-color: #fff; width: 200px; height: 330px; overflow: hidden; text-align: center">
    <div class="Content_modal_ZE" style="margin: 5px; overflow: hidden;">
        <div style="position: absolute; width: 100%;">
            <img id="imgTipoOferta" style="float: right; margin-top: 10px;" src="">
        </div>
        <img id="imgZonaEstrategia" style="width: 128px; height: 161px; margin: 5px;" src="" alt="Imagen Producto">
    </div>
    <div class="div-3" style="text-align:center; color:black;">
        <div id="descripcion-comercial">
        </div>
    </div>
    <div class="zona_estrategia_1"></div>
    <div>&nbsp;</div>
    <div class="zona_estrategia_2"></div>
    <div class="zona_estrategia_3"></div>
    <div class="zona_estrategia_4"></div>
</div>

<script id="descripcion-comercial-template" type="text/x-handlebars-template">
    <div style="text-align:center; color:black;" onclick='javascript:adminEstrategiaModule.EditarDescripcionComercial({{IdMatrizComercialImagen}})'>
        <img src="../Content/Images/PL20/editar.png" style="width:14px; height:14px">
        <a id="label-descripcioncomercial-{{IdMatrizComercialImagen}}" title="{{DescripcionComercial}}">{{DescripcionComercial}}</a>
    </div>
</script>
    