@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "Estrategias";
}

<script type="text/javascript">
    $(function () {

        //R2469 - Cargando Marcador
             @{List<object> arrayEstrategia = new List<object>();
               int posProducto = 0;
               string variantcad = "";
               string categoriacad = "";}
                @foreach (var item in ViewBag.ListaEstrategias)
                {



                    if (item.CUV2 != "00000") {

                        posProducto += 1;

                        if (item.DescripcionEstrategia == null || item.DescripcionEstrategia == "")
                        {
                            variantcad = "Estándar";
                        }
                        else { variantcad = item.DescripcionEstrategia; }


                        if (item.DescripcionCategoria == null || item.DescripcionCategoria == "")
                        {
                            categoriacad = "Sin Categoría";
                        }
                        else { categoriacad = item.DescripcionCategoria; }

                        arrayEstrategia.Add(new
                        {
                            name = item.DescripcionCUV2,
                            id = item.CUV2,
                            price = item.Precio2.ToString(),
                            brand = item.DescripcionMarca,
                            category = categoriacad,
                            variant = variantcad,
                            list = "Productos destacados",
                            position = posProducto

                        });

                    }

                }
                var arrayJS = '@Html.Raw(Json.Encode(arrayEstrategia))';

                dataLayer.push({

                    'event': 'productImpression',
                    'ecommerce': {
                        'impressions': $.parseJSON(arrayJS)// arrayJS

            }
        });
        //FIN R2469


        $(window).scroll(function () {
            if ($(this).scrollTop() > 70) {
                $('.productos_fixed').addClass("fixed");
            } else {
                $('.productos_fixed').removeClass("fixed");
            }
        });

        $('.ValidaNumeralOferta').live('keyup', function (evt) {
            var theEvent = evt || window.event;
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
            var regex = /[0-9]|\./;
            if (!regex.test(key)) {
                theEvent.returnValue = false;
                if (theEvent.preventDefault) theEvent.preventDefault();
            }
        });

        $('.ValidaNumeralOferta').live('keypress', function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });
        IniDialog();
        $("#btnVerPedido").click(function () {
            _gaq.push(['_trackEvent', 'Oferta-Web', 'Ver-Pedido']);
            dataLayer.push({
                'event': 'pageview',
                'virtualUrl': '/Oferta-Web/Ver-Pedido'
            });
            location.href = '@Url.Action("Index", "Pedido")';
        });

        $('.ValidaNumeralOferta').keypress(function (e) {
            if (e.which == 13) {
                var object = $(this).parent().find(".btnAdd");
                var estado = $(this).parent().find(".btnAdd")[0].disabled;
                if (!estado)
                    AgregarOfertaProducto(object, 0);
            }
        })
        $(".ddlTallaColor").change(function () {
            if ($.trim($(this).val()) != "") { // 2209
                $(this).parent().parent().parent().find(".zona1Edit").html($("option:selected", this).attr("desc-talla"));
                $(this).parent().parent().parent().find(".CUV")[0].value = $("option:selected", this).attr("value");
                $(this).parent().parent().parent().find(".DescripcionProd")[0].value = $("option:selected", this).attr("desc-talla");
            }// 2209
        });

        $(document).on('click', '.js-boton_tonotalla', function () {
            //var contenedor = $(this).parent().parent();
            var objProducto = {
                //imagenProducto: $(contenedor).find('.imagenpop').attr('src'),
                //tituloMarca: $(contenedor).find('.liquidacion_titulo_item').text(),
                //descripcion: $(contenedor).find('.liquidacion_descripcion').text(),
                //precio: $(contenedor).find('.liquidacion_precio').text(),
                //tonosTallas: $(contenedor).find('#tonostallas').attr('data-array-tonostallas')
            };
            var objHidden = {
                //TipoOfertaSisID: $(contenedor).find('.TipoOfertaSisID').val(),
                //OfertaProductoID: $(contenedor).find('.OfertaProductoID').val(),
                //ConfiguracionOfertaID: $(contenedor).find('.ConfiguracionOfertaID').val(),
                //MarcaID: $(contenedor).find('.MarcaID').val(),
                //CUV: $(contenedor).find('.CUV').val(),
                //PrecioOferta: $(contenedor).find('.PrecioOferta').val(),
                //Stock: $(contenedor).find('.Stock').val(),
                //DescripcionProd: $(contenedor).find('.DescripcionProd').val(),
                //DescripcionMarca: $(contenedor).find('.DescripcionMarca').val(),
                //DescripcionCategoria: $(contenedor).find('.DescripcionCategoria').val(),
                //DescripcionEstrategia: $(contenedor).find('.DescripcionEstrategia').val()
            };

            cargarProductoPopup(objProducto, objHidden);
        });
        function cargarProductoPopup(objProducto, objHidden) {
            waitingDialog({});

            var divVistaPrevia = $("#divVistaPrevia");
            @*var arrayTonosTallas = objProducto.tonosTallas.split("@("@")");
            var option = '';

            for (var i = 0; i < arrayTonosTallas.length - 1; i++) {

                var strOption = arrayTonosTallas[i].split("|");
                var strCuv = strOption[0];
                var strDescCuv = strOption[1];
                var strDescTalla = strOption[2];
                var strDescPrecio = Number(strOption[3]).toFixed(2);
                var strPrecioReal = strOption[3];

                option += '<option value="' + strCuv + '"' +
                          'desc-talla="' + strDescCuv + '"' +
                          'desc-precio="' + strDescPrecio + '"' +
                          'precio-real="' + strPrecioReal + '"' +
                          '>' + strDescTalla + '</option>';

            };
            $(divVistaPrevia).find('#ddlTallaColor').html(option);

            $(divVistaPrevia).find('#imgZonaEstrategiaEdit').attr('src', objProducto.imagenProducto);
            $(divVistaPrevia).find('.pedidos_datos_titulo').text(objProducto.tituloMarca);
            $(divVistaPrevia).find('.pedidos_datos_info').text(objProducto.descripcion);
            $(divVistaPrevia).find('.liquidacion_precio').html('<span>' + objProducto.precio + '</span>');
            $(divVistaPrevia).find('.span_stock').html(objHidden.Stock);

            //Seteo valores de inputs hidden
            $(divVistaPrevia).find('.TipoOfertaSisID').val(objHidden.TipoOfertaSisID);
            $(divVistaPrevia).find('.OfertaProductoID').val(objHidden.OfertaProductoID);
            $(divVistaPrevia).find('.ConfiguracionOfertaID').val(objHidden.ConfiguracionOfertaID);
            $(divVistaPrevia).find('.MarcaID').val(objHidden.MarcaID);
            $(divVistaPrevia).find('.CUV').val(objHidden.CUV);
            $(divVistaPrevia).find('.PrecioOferta').val(objHidden.PrecioOferta);
            $(divVistaPrevia).find('.Stock').val(objHidden.Stock);
            $(divVistaPrevia).find('.DescripcionProd').val(objHidden.DescripcionProd);
            $(divVistaPrevia).find('.DescripcionMarca').val(objHidden.DescripcionMarca);
            $(divVistaPrevia).find('.DescripcionCategoria').val(objHidden.DescripcionCategoria);
            $(divVistaPrevia).find('.DescripcionEstrategia').val(objHidden.DescripcionEstrategia);

            $(divVistaPrevia).find('#txtCantidadPopup').val(1);*@
            $(divVistaPrevia).css({ "background-color": "#FFF" });

            //var spanStock = $(divVistaPrevia).find('.span_stock');
            //var HiddenStock = $(divVistaPrevia).find(".Stock");
            //var CUV = $(divVistaPrevia).find(".CUV").attr("value");

            //$.ajaxSetup({
            //    cache: false
            //});

            //$.getJSON(baseUrl + 'OfertaLiquidacion/ObtenerStockActualProducto', { CUV: CUV }, function (data) {
            //    $(spanStock).text(data.Stock);
            //    $(HiddenStock).val(data.Stock);
                closeWaitingDialog();
                showDialog('divVistaPrevia');
                $(divVistaPrevia).find('#txtCantidadPopup').blur();
            //});
        };

        @*if (HorarioRestringido())
            setTimeout(function () { location.href = '@Url.Action("Index", "Bienvenida")'; }, 2500);*@
    });

    function IniDialog() {
        $('#DialogMensajeProducto').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 500,
            draggable: true
        });

        $('#DialogMensajesBanner').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 400,
            draggable: true,
            title: ":: Mensaje ::",
            buttons:
            {
                "Aceptar": function () {
                    $(this).dialog('close');
                }
            }
        });

        $('#DialogMensajeHorario').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: false,
            width: 400,
            draggable: true,
            title: ":: Mensaje ::",
            open: function (event, ui) { $(".ui-dialog-titlebar-close").hide(); },
            buttons:
            {
                "Aceptar": function () {
                    location.href = '@Url.Action("Index", "Bienvenida")';
                }
            }
        });

        $('#divVistaPrevia').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 350,
            draggable: false,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close", ui.dialog | ui).hide();
            }
        });

    };

    function HorarioRestringido(mostrarAlerta) {
        //debugger;
        mostrarAlerta = typeof mostrarAlerta !== 'undefined' ? mostrarAlerta : true;
        var horarioRestringido = false;
        $.ajaxSetup({
            cache: false
        });
        jQuery.ajax({
            type: 'GET',
            url: baseUrl + 'Pedido/EnHorarioRestringido',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            async: false,
            success: function (data) {
                //debugger;
                if (checkTimeout(data)) {
                    // esta en horario restringido
                    if (data.success == true) {
                        if (mostrarAlerta == true)
                            alert_msg(data.message);
                        horarioRestringido = true;
                    }
                    // no esta en horario restringido
                    //else {
                    //    horarioRestringido = false;

                    //}
                }
            },
            error: function (data, error) {
                //debugger;
                if (checkTimeout(data)) {
                    alert_msg(data.message);
                }
            }
        });
        return horarioRestringido;
    };
    function alert_msg(message, fnClose) {
        $('#DialogMensajesBanner .message_text').html(message);
        if ($.isFunction(fnClose)) $('#DialogMensajesBanner').dialog({ close: fnClose });
        else $('#DialogMensajesBanner').dialog({ close: null });

        $('#DialogMensajesBanner').dialog('open');
    };
    function alert_msgHorario(message) {
        $('#DialogMensajeHorario .message_text').html(message);
        $('#DialogMensajeHorario').dialog('open');
    };
</script>
<div class="wrapper_home_interiores">

    <div class="titulo_principal"><h1 class="titulo_principal_interiores">PRODUCTOS DESTACADOS</h1></div>
    @*<p class="liquidacion_info">
        </p>*@
</div>
<div class="fondo_f5f5f7">
    @Html.Partial("_ListadoEstrategias")
</div>
<div id="loadingScreen"></div>
<div id="DialogMensajeProducto" style="display: none;">
    <div>
        <div id="divReservaSatisfactoria" class="modal_1">
            <div class="modal_1_title color_title">Estimada Consultora, debe ir a la opción de Ver Mi Pedido para verificar las Ofertas Web agregadas.</div>
        </div>
        <div class="div-3">
            <div class="input_modal">
                <input type="button" value="Cerrar" onclick="$('#DialogMensajeProducto').dialog('close');" />
            </div>
        </div>
    </div>
</div>
<div id="DialogMensajesBanner" style="display: none;">
    <div class="message_text">
        Ocurrió un error en la comunicación o la sesión ha expirado. Por favor vuelva a autenticarse.
    </div>
</div>
<div id="DialogMensajeHorario" style="display: none;">
    <div class="message_text">
        Ocurrió un error en la comunicación o la sesión ha expirado. Por favor vuelva a autenticarse.
    </div>
</div>
<div id="divVistaPrevia" class="Content_modal_ZE" style="display: none; background-color: #fff; overflow: hidden;">
    <input type="hidden" class="TipoOfertaSisID" />
    <input type="hidden" class="OfertaProductoID" />
    <input type="hidden" class="ConfiguracionOfertaID" />
    <input type="hidden" class="MarcaID" />
    <input type="hidden" class="CUV" />
    <input type="hidden" class="PrecioOferta" />
    <input type="hidden" class="Stock" />
    <input type="hidden" class="DescripcionProd" />
    <input type="hidden" class="DescripcionMarca" />
    <input type="hidden" class="DescripcionCategoria" />
    <input type="hidden" class="DescripcionEstrategia" />
    <input type="hidden" class="spStock" />

    <div class="Content_modal_ZE texto-centrado" style="overflow: hidden;">
        <img id="imgZonaEstrategiaEdit" style="height: 200px; margin: 5px;" src="" alt="Imagen Producto" />
    </div>
    <br />
    <div class="zona0Edit pedidos_datos_titulo"></div>
    <div class="zona1Edit pedidos_datos_info texto-centrado" style="width:100%"></div>
    <div class="zona2Edit texto-centrado"></div>
    <div class="zona3Edit_1 pedidos_para_ti texto-centrado"></div>
    <div class="zona3Edit_2 liquidacion_precio texto-centrado"></div>
    <div class="clear"></div>
    <div class="stock_disponible">Stock: <span class="span_stock"></span> unidades.</div>
    <br />
    <ul id="OfertasResultados" class="listaOfertas"></ul>

    @* Esto no es muestra si esta activo ProgramaOfertasNuevas*@
    <div class="zona4Edit zona_estrategia_4 texto-centrado"></div>
    <div class="zonaCantidad texto-centrado">
        <table style="margin: 0 auto;" cellpadding="10" cellspacing="10">
            <tr>
                <td style="vertical-align: middle;">Unidades: &nbsp;&nbsp;</td>
                <td>
                    <div class="liquidacion_rango_home">
                        <input type="text" value="1" size="2" maxlength="2" class="liquidacion_rango_cantidad_pedido ValidaNumeral" id="txtCantidadPopup" />
                        <div class="liquidacion_rango_right_pedido">
                            <a class="mas"><img src="@Url.Content("~/Content/Images/Esika/mas.png")" alt="" /></a>
                            <a class="menos"><img src="@Url.Content("~/Content/Images/Esika/menos.png")" alt="" /></a>
                        </div>
                    </div>

                    @*<div class="liquidacion_rango_left_pedido" style="width: 35px;"><a class="js-menos_popup"><img src="@Url.Content("~/Content/Images/Esika/menos.png")" alt="" /></a></div>
                    <input type="text" value="1" name="txtCantidadPopup" id="txtCantidadPopup" maxlength="2" class="liquidacion_rango_cantidad_pedido" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" />
                    <div class="liquidacion_rango_right_pedido" style="width: 35px;"><a class="js-mas_popup"><img src="@Url.Content("~/Content/Images/Esika/mas.png")" alt="" /></a></div>*@
                </td>
            </tr>
            <tr class="tallaColor">
                <td style="vertical-align: middle;">Talla/Color: &nbsp;&nbsp;</td>
                <td>
                    <select id="ddlTallaColor" class="js-select_tallacolor" style="width: 130px; height: 30px; border: 1px solid #cccccc;"></select>
                </td>
            </tr>
        </table>
    </div>
    @* Esto no es muestra si esta activo ProgramaOfertasNuevas*@
    <br />
    <div class="div-3 texto-centrado">
        <input class="btnBotonRojo js-boton_agregar_popup" type="button" value="Agregar" />
        <br />
        <input class="btnBotonNegro" type="button" value="Cerrar" onclick="javascript: $('#divVistaPrevia').dialog('close');" />
    </div>
</div>
