@using Portal.Consultoras.Common

@model Portal.Consultoras.Web.Models.EstrategiaModel
@{
    ViewBag.Title = "Administración de Estrategias";
    var imagenVacia = "prod_grilla_vacio.png";
}

<script src="@Url.Content("~/Scripts/fileuploader.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.toast.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/handlebars.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.paging.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/AdminContenido/ToastHelper.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/AdminContenido/Paginador.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/AdminContenido/Nemotecnico.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/AdminContenido/DescripcionComercial.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/AdminContenido/MatrizComercialFileUpload.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/AdminContenido/AdministrarEstrategia.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/AdminContenido/AdministrarEstrategia/NuevoMasivo.js")" type="text/javascript"></script>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="@Url.Content("~/Content/Css/Toast/jquery.toast.min.css")" rel="stylesheet" />

<input type="hidden" id="mensajeErrorCUV" />
<input type="hidden" id="mensajeErrorCUV2" />
<input type="hidden" id="hdEstrategiaIDConsulta" />
<input type="hidden" id="ImagenProducto" />
<input type="hidden" id="hdEstrategiaID" />
<input type="hidden" id="hdEstrategiaCodigo" />
<input type="hidden" id="hdTipoConsulta" value="0" />
<input type="hidden" id="hdZonas" value="" />
<input type="hidden" id="hdSimbolo" />
<input type="hidden" id="hdTallaColorID" />
<input type="hidden" id="hdTipoCargaShowroom" />
<input type="hidden" id="hdNiveles" />
<input type="hidden" id="hdnCodigoSAP" />
<input type="hidden" id="hdnIdMatrizComercial" />
<div class="wrap_cab_plan50">
    <div class="filtros2_plan50">
        <div class="elements_plan50">
            <div class="div-2">
                <h1><span>Zona de Estrategias @(Model.TipoVistaEstrategia == Constantes.TipoVistaEstrategia.ProgramaNuevas ? "- Programa de Nuevas" : string.Empty)</span></h1>
            </div>
            <div class="div-3">
                <div class="titG">País:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais" })
                </div>
                <div class="titG">Campaña:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.CampaniaID, new SelectList(Model.listaCampania, "CampaniaID", "NombreCorto"), "-- Seleccionar --", new { id = "ddlCampania" })
                </div>
            </div>
            <div class="div-3">
                <div class="titG">Tipo de Estrategia:</div>
                <div class="selectA borde_redondeado">
                    <select id="ddlTipoEstrategia" name="ddlTipoEstrategia">
                        @if (Model.ListaTipoEstrategia != null)
                        {
                            <option value="">-- Seleccionar --</option>
                            for (int i = 0; i < Model.ListaTipoEstrategia.Count(); i++)
                            {
                                <option flag-nueva="@Model.ListaTipoEstrategia.ToList()[i].FlagNueva"
                                        flag-recoproduct="@Model.ListaTipoEstrategia.ToList()[i].FlagRecoProduc"
                                        flag-recoperfil="@Model.ListaTipoEstrategia.ToList()[i].FlagRecoPerfil"
                                        codigo-programa="@Model.ListaTipoEstrategia.ToList()[i].CodigoPrograma"
                                        imagen-tipo="@Model.ListaTipoEstrategia.ToList()[i].Imagen"
                                        value="@Model.ListaTipoEstrategia.ToList()[i].TipoEstrategiaID"
                                        data-id="@Model.ListaTipoEstrategia.ToList()[i].CodigoGeneral"
                                        data-codigo="@Model.ListaTipoEstrategia.ToList()[i].Codigo"
                                        data-FValidarImagen="@Model.ListaTipoEstrategia.ToList()[i].FlagValidarImagen"
                                        data-PesoMaximo="@Model.ListaTipoEstrategia.ToList()[i].PesoMaximoImagen">
                                    @Model.ListaTipoEstrategia.ToList()[i].Descripcion
                                </option>
                            }
                        }
                    </select>
                </div>
                <div class="titG">CUV<sub>2</sub>:</div>
                <div class="selectA borde_redondeado">
                    <input type="text" id="CUV" name="CUV" />
                </div>
            </div>

            <div class="div-3">
                <div class="titG">Tiene imagen?:</div>
                <div class="selectA borde_redondeado">
                    <select id="ddlTieneImagen" name="ddlTieneImagen">
                        <option value="-1" selected>-- Seleccionar --</option>
                        <option value="1">Si</option>
                        <option value="0">No</option>
                    </select>
                </div>
                <div class="titG">Oferta Activa?:</div>
                <div class="selectA borde_redondeado">
                    <select id="ddlOfertaActiva" name="ddlOfertaActiva">
                        <option value="-1" selected>-- Seleccionar --</option>
                        <option value="1">Si</option>
                        <option value="0">No</option>
                    </select>
                </div>
            </div>

            <div class="div-3">
                <div class="titG">&nbsp;</div>
                <div class="input_horizontal">
                    <input type="button" name="btnBuscar" id="btnBuscar" value="Buscar" />
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <!--SHOWROOM-INICIO-->
    <div class="wrap_plan50" id="divShowRoomEvento" style="display: none;">
        <div class="container_plan50 clearfix">
            <h3>Evento</h3>
            <div id="divShowRoomEventoNuevo" style="display: none;">
                <div class="div-3">
                    <div class="input_search">
                        <input type="button" value="Nuevo Evento" id="btnNuevoShowRoom" name="">
                    </div>
                </div>
            </div>
            <div class="border-wrapper">
                <table id="listEvento"></table>
                <div id="pagerEvento"></div>
            </div>
        </div>
    </div>

    <div class="wrap_plan50" id="divPersonalizacion" style="display: none;">
        <div class="container_plan50 clearfix">
            <h3>Personalización</h3>
            <div class="div-3">
                <div class="titC">Nivel:</div>
                <div class="selectA borde_redondeado">
                    <select id="cbNivelEvento"></select>
                </div>

                <div class="input_horizontal">
                    <input type="button" value="Buscar Personalización" id="btnBuscarPersonalizacionNivel" name="">
                </div>
            </div>
        </div>
    </div>

    <!--SHOWROOM-FIN-->
    <div class="wrap_plan50" id="divSeccionProductos" style="">
        <div class="container_plan50 clearfix">
            <h3>Producto</h3>
            <div class="div-3">
                <div class="input_horizontal">
                    <input type="button" name="btnNuevo" id="btnNuevo" value="Nuevo" />
                    @if (Model.TipoVistaEstrategia == Constantes.TipoVistaEstrategia.Todos)
                    {
                        <input type="button" name="btnNuevoMasivo" id="btnNuevoMasivo" value="Nuevo Masivo" />
                    }
                </div>
                <div class="input_modifica_pedido">
                    <input type="button" name="btnDescripcionMasivo" id="btnDescripcionMasivo" value="Descrip. Masivo" />
                    <input type="button" name="btnDescripcionMasivoProd" id="btnDescripcionMasivoProd" value="Descrip. Masivo Producto" style="display: none;" />
                    <input type="button" name="btnActivarDesactivar" id="btnActivarDesactivar" value="Activar/Desactivar" style="display: none;" />
                    <input type="button" name="btnCargaBloqueoCuv" id="btnCargaBloqueoCuv" value="Cargar Bloqueados" style="display: none;" />
                </div>
            </div>

            <div class="border-wrapper">
                <table id="list"></table>
                <div id="pager"></div>
            </div>
            <div id="mensajeActivarDesactivar" style="display: none;">(*) Las filas con el check seleccionado indican que la oferta está habilitada. Las filas con el check sin seleccionar indican que la oferta no está habilitada.</div>
        </div>
    </div>
</div>

@Html.Partial("AdministrarEstrategiaDialog")

<div id="DialogZona" style="display: none;">
    <div class="Content_modal">
        <div class="div-3">
            <div class="treeview_est_content">
                <div id="arbolRegionZona" class="demo">
                </div>
            </div>
        </div>
        <div class="div-3">
            <div class="titF"></div>
            <div class="titF"></div>
            <div class="titH">
                <input type="checkbox" id="chkSeleccionar" />Seleccionar todo
            </div>
        </div>
    </div>
</div>
<div id="DialogEditarTallaColor" style="display: none;">
    <div class="Content_modal">
        <div class="div-3">
            <div class="titG">CUV:</div>
            <div class="selectP2 borde_redondeado">
                <input type="text" id="txtCUVTC" />
            </div>
        </div>
        <div class="div-3">
            <div class="titG">Descripción:</div>
            <div class="selectP2 borde_redondeado" style="width: 300px">
                <input type="text" id="txtDescripcionCUVTC" style="width: 290px" readonly="readonly" />
            </div>
        </div>
        <div class="div-3">
            <div class="titG">Precio:</div>
            <div class="selectP2 borde_redondeado">
                <input type="text" id="txtPrecioCUVTC" readonly="readonly" />
            </div>
        </div>
        <div class="div-3">
            <div class="titG">Tipo:</div>
            <div class="selectP2 borde_redondeado">
                <select id="ddlTallaColor">
                    <option value='0'>-- Seleccionar --</option>
                    <option value='C'>Color</option>
                    <option value='T'>Talla</option>
                </select>
            </div>
        </div>
        <div class="div-3">
            <div class="titG">Descripción (Talla/Color):</div>
            <div class="selectP2 borde_redondeado">
                <input type="text" id="txtDescripcionTC" />
            </div>
        </div>
    </div>
</div>
<div id="DialogTonoMarca" style="display: none;">
    <div class="Content_modal">
        <table id="listTC"></table>
        <div id="pagerTC"></div>
    </div>
</div>

@Html.Partial("_NuevoMasivo")


<div id="DialogDescMasivo" style="display: none;">
    <div class="Content_modal">
        <div id="divDescMasivoPaso1">
            <div class="div-3" style="text-align: center;">
                Seleccione el archivo para la carga masiva de las descripciones:
            </div>
            <div class="container" style="width: 70%;">
                <div class="border-wrapper">
                    <input type="file" id="fileDescMasivo" name="fileDescMasivo" />
                </div>
            </div>
            <div class="div-3" style="margin: 15px auto; width: 200px;">
                Formato de archivo (*.csv):<br />
                - CUV<br />
                <span id="seccionFormatoArchivoGeneral">
                    - Descripción<br />
                </span>
                <span id="seccionFormatoArchivoSetShowroon">
                    - Precio Normal<br />
                    - Unidades Permitidas<br />
                    - Nombre de Set<br />
                    - Tip Negocio<br />
                    - Es Subcampaña<br />
                    - Estado de Set<br />
                    <br><i>Separador de campos:</i> "|"
                </span>
                <span id="seccionFormatoArchivoProductoShowroon">
                    - Posición<br />
                    - Nombre de Producto<br />
                    - Descripcion<br />
                    - Marca de Producto<br />
                    <br><i>Separador de campos:</i> "|"
                </span>
            </div>
            <div class="div-3">
                <div class="input_horizontal" style="text-align: center;">
                    <input type="button" name="btnAceptarDescMasivo1" id="btnAceptarDescMasivo1" value="Continuar" style="float: none;" />
                    <input type="button" name="btnCancelarDescMasivo1" id="btnCancelarDescMasivo1" value="Cancelar" style="float: none;" />
                </div>
            </div>
        </div>
        <div id="divDescMasivoPaso2" style="display: none;">
            <div class="div-3" style="text-align: center;">
                Resultado de la actualización:
            </div>
            <div class="container" style="margin: 15px auto; width: auto;">
                <div class="border-wrapper">
                    <label id="estadoCargaMasiva"></label>
                    <table id="listCargaDescMasiva"></table>
                    <div id="pagerCargaDescMasiva"></div>
                </div>
            </div>
            <div class="div-3">
                <div class="input_horizontal" style="text-align: center;">
                    <input type="button" name="btnCancelarMasivo2" onclick="HideDialog('DialogDescMasivo')" value="Cerrar" style="float: none;" />
                </div>
            </div>
        </div>
    </div>
</div>
<div id="DialogDescActualizada">
    <div class="Content_modal">
        <div class="container" style="margin: 15px auto; width: auto;">
            <div class="border-wrapper">
                <table id="listDescActualizada"></table>
                <div id="pagerDescActualizada"></div>
            </div>
        </div>
        <div class="div-3">
            <div class="input_horizontal" style="text-align: center;">
                <input type="button" name="btnCancelarMasivo2" onclick="HideDialog('DialogDescActualizada')" value="Volver" style="float: none;" />
            </div>
        </div>
    </div>
</div>
<div id="DialogDescNoActualizada">
    <div class="Content_modal">
        <div class="container" style="margin: 15px auto; width: auto;">
            <div class="border-wrapper">
                <table id="listDescNoActualizada"></table>
                <div id="pagerDescNoActualizada"></div>
            </div>
        </div>
        <div class="div-3">
            <div class="input_horizontal" style="text-align: center;">
                <input type="button" name="btnCancelarMasivo2" onclick="HideDialog('DialogDescNoActualizada')" value="Volver" style="float: none;" />
            </div>
        </div>
    </div>
</div>

<div id="DialogBloqueoCuv" style="display: none;">
    <div class="Content_modal" id="divCuvsBloqueados" style="max-height: 160px; margin-bottom: 14px">
        <p id="titleCuvBloqueado" style="margin-bottom: .5em;"> Cuvs cargados:</p>
        <p id="listCuvsBloqueados" style="word-break: break-all; padding: 0 22px 0 0;"></p>
    </div>

    <div class="Content_modal">
        <div id="divBloqueoCuvPaso1">
            <div class="div-3" style="text-align: center;">
                Seleccione el archivo para la carga de CUVs bloqueados en Revista Digital Reducida:
            </div>
            <div class="container" style="width: 70%;">
                <div class="border-wrapper">
                    <input type="file" id="fileBloqueoCuv" name="fileBloqueoCuv" />
                </div>
            </div>
            <div class="div-3" style="margin: 15px auto; width: 200px;">
                Formato de archivo (*.csv):<br />
                - CUV<br />
            </div>
            <div class="div-3">
                <div class="input_horizontal" style="text-align: center;">
                    <input type="button" name="btnAceptarBloqueoCuv1" id="btnAceptarBloqueoCuv1" value="Continuar" style="float: none;" />
                    <input type="button" name="btnCancelarBloqueoCuv1" id="btnCancelarBloqueoCuv1" value="Cancelar" style="float: none;" onclick="HideDialog('DialogBloqueoCuv')" />
                </div>
            </div>
        </div>
        <div id="divBloqueoCuvPaso2" style="display: none;">
            <div class="div-3" style="text-align: center;">
                Resultado de la carga de CUVs bloqueados en Revista Digital Reducida:
            </div>
            <div class="container" style="margin: 15px auto; width: auto;">
                <div class="border-wrapper">
                    <label id="estadoBloqueoCuv"></label>
                    <table id="listCargaBloqueoCuv"></table>
                    <div id="pagerCargBloqueoCuv"></div>
                </div>
            </div>
            <div class="div-3">
                <div class="input_horizontal" style="text-align: center;">
                    <input type="button" name="btnCancelarMasivo2" onclick="HideDialog('DialogBloqueoCuv')" value="Cerrar" style="float: none;" />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- SHOWROOM-INICIO -->

<div id="DialogDatosShowRoom" style="display: none;">
    <div class="Content_modal">
        <input type="hidden" id="hdEventoID" />
        <input type="hidden" id="hdCampaniaMinimaPersonalizacion" />
        <div class="div-3">
            <div class="titG">País:</div>
            <div class="selectP2 borde_redondeado" style="background: #F9F9F0;">
                <input type="text" id="txtEventoPaisID" readonly="readonly" style="background: #F9F9F0;" />
            </div>
            <div class="titG">Campaña:</div>
            <div class="selectP2 borde_redondeado" style="background: #F9F9F0;">
                <input type="text" id="txtEventoCampaniaID" readonly="readonly" style="background: #F9F9F0;" />
            </div>
        </div>
        <div class="div-3">
            <div class="titG">Nombre:</div>
            <div class="selectP2 borde_redondeado">
                <input type="text" id="txtEventoNombre" />
            </div>
            <div class="titG">Tema:</div>
            <div class="selectP2 borde_redondeado">
                <input type="text" id="txtEventoTema" />
            </div>
        </div>
        <div class="div-3">
            <div class="titG">Dias Antes Fact.:</div>
            <div class="selectP2 borde_redondeado">
                <input type="text" id="txtEventoDiasAntes" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" />
            </div>
            <div class="titG">Dias Despues Fact.:</div>
            <div class="selectP2 borde_redondeado">
                <input type="text" id="txtEventoDiasDespues" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" />
            </div>
        </div>
        <div class="div-3">

            <div id="divEventoEstado">
                <div class="titG">Habilitar Evento</div>
                <div class="selectCheck borde_redondeado" style="float: left; width: 170px; margin-right: 30px;">
                    <input type="checkbox" class="check" id="chkEventoEstado" />
                </div>
            </div>
            <div>
                <div class="titG">Habilitar Compra por Compra</div>
                <div class="selectCheck borde_redondeado" style="float: left; width: 170px; margin-right: 30px; ">
                    <input type="checkbox" class="check" id="chkEventocompraXcompra" />
                </div>
            </div>
        </div>
        <div class="div-3">
            <div>
                <div class="titG">Habilitar SubCampañas</div>
                <div class="selectCheck borde_redondeado" style="float: left; width: 170px; margin-right: 30px; ">
                    <input type="checkbox" class="check" id="chkEventoTieneSubCampania" />
                </div>
            </div>
        </div>
        <div class="div-3">

        </div>
    </div>
</div>

<div id="DialogPersonalizacionDetalle">
    <div class="wrap">
        <fieldset style="border: 1px black; border-style: groove; margin-bottom: 20px;">
            <legend></legend>
            <div class="container clearfix" style="width: 750px;">
                <h3>Mobile</h3>
                <div id="divPersonalizacionDetalleMobile">
                </div>
            </div>
        </fieldset>
        <fieldset style="border: 1px black; border-style: groove;">
            <legend></legend>
            <div class="container clearfix" style="width: 750px;">
                <h3>Desktop</h3>
                <div id="divPersonalizacionDetalleDesktop">

                </div>
            </div>
        </fieldset>
    </div>
</div>

<div id="DialogRegistroOfertaShowRoomDetalle" style="display: none;">
    <div class="Content_modal" style="max-height: 450px;">
        <div class="div-3">
            <div class="titG">País:</div>
            <div class="selectP2 borde_redondeado" style="background: #F9F9F0;">
                <input type="text" id="txtPaisDetalle" readonly="readonly" style="background: #F9F9F0;" />
            </div>
            <div class="titG">Campaña:</div>
            <div class="selectP2 borde_redondeado" style="background: #F9F9F0;">
                <input type="text" id="txtCampaniaDetalle" readonly="readonly" style="background: #F9F9F0;" />
            </div>
        </div>
        <div class="div-3">
            <div class="titG">CUV:</div>
            <div class="selectP2 borde_redondeado" style="background: #F9F9F0;">
                <input type="text" id="txtCUVDetalle" readonly="readonly" style="background: #F9F9F0;" />
            </div>
            <div class="titG">Precio Normal:</div>
            <div class="selectP2 borde_redondeado" style="background: #F9F9F0;">
                <input type="text" id="txtPrecioValorizadoDetalle" readonly="readonly" style="background: #F9F9F0;" />
            </div>
        </div>
        <div class="div-3">
            <div class="titG">Descripción:</div>
            <div class="selectP2 borde_redondeado" style="background: #F9F9F0; width: 513px;">
                <input type="text" id="txtDescripcionDetalle" readonly="readonly" style="background: #F9F9F0; width: 513px;" />
            </div>
        </div>
        <div class="div-3">
            <div class="input_search" style="float: right; padding-right: 155px;">
                <input type="button" value="Nuevo" id="btnNuevoDetalle" name="">
            </div>
        </div>
        <div class="container" style="width: auto;">
            <div class="border-wrapper">
                <table id="listShowRoomDetalle"></table>
                <div id="pagerShowRoomDetalle"></div>
            </div>
        </div>
    </div>
</div>

<div id="DialogRegistroOfertaShowRoomDetalleEditar" style="display: none;">
    <div class="Content_modal">
        <input type="hidden" id="hdEstrategiaProductoID" />
        <input type="hidden" id="hdEstrategiaID" />
        <input type="hidden" id="hdImagenDetalle" />
        <input type="hidden" id="hdImagenDetalleAnterior" />

        <div class="div-3">
            <div class="titG">CUV:</div>
            <div class="selectP2 borde_redondeado">
                <input type="text" id="txtCUVProductoDetalle" />
            </div>
            <div class="titG">Marca Producto:</div>
            <div class="selectP2 borde_redondeado">
                <select id="ddlMarcaProductoDetalle">
                    <option value="0" selected>Seleccione</option>
                    <option value="1">Lbel</option>
                    <option value="2">Esika</option>
                    <option value="3">Cyzone</option>
                </select>
            </div>
        </div>

        <div class="div-3">
            <div class="titG">Nombre Producto:</div>
            <div class="selectP2 borde_redondeado">
                <input type="text" id="txtNombreProductoDetalle" />
            </div>
            <div class="titG">Descripcion 1:</div>
            <div class="selectP2 borde_redondeado">
                <input type="text" id="txtDescripcion1Detalle" />
            </div>
        </div>
        <div class="div-3">
            <div class="titG">Precio Oferta:</div>
            <div class="selectP2 borde_redondeado">
                <input type="text" id="txtPrecioOfertaDetalle" />
            </div>
            <div class="titG">¿Activar Oferta?:</div>
            <div class="selectP2 borde_redondeado">
                <input type="checkbox" id="chkActivoOfertaDetalle" />
            </div>
        </div>
        <div class="div-3">
            <div class="titG">Imagen:</div>
            <div class="pdr_modal borde_redondeado aligncenter" style="width: 168px; height: 200px;">
                <img src='@Url.Content("~/Content/Images/prod_grilla_vacio.png")' id="imgProductoDetalle" style="cursor: pointer; max-width: 100% !important;">
            </div>
        </div>
        <div class="div-3">
            <div class="titG"></div>
            <div class="titC" style="padding: 0; width: 180px; padding-right: 20px;">
                <div class="input_search">
                    <div id="fpPopupImagenProductoDetalle">
                        <script type="text/javascript">
                            $.ajaxSetup({ cache: false });
                            var uploader = new qq.FileUploader({
                                allowedExtensions: ['jpg', 'png', 'jpeg', 'gif'],
                                element: document.getElementById('fpPopupImagenProductoDetalle'),
                                action: '@Url.Action("ImageMatrizUpload", "FileUpload")',
                                onComplete: function(id, fileName, responseJSON) {
                                    if (checkTimeout(responseJSON)) {
                                        $(".qq-upload-list").css("display", "none");
                                        if (responseJSON.success) {
                                            var rutaImagen = '@Url.Content("~/Content/Temporales/")' + responseJSON.name;
                                            $("#imgProductoDetalle").attr('src', rutaImagen);
                                            $("#hdImagenDetalle").val(responseJSON.name);
                                        } else {
                                            alert(responseJSON.message);
                                        }
                                    }
                                },
                                onSubmit: function(id, fileName) { $(".qq-upload-list").css("display", "none"); },
                                onProgress: function(id, fileName, loaded, total) { $(".qq-upload-list").css("display", "none"); },
                                onCancel: function(id, fileName) { $(".qq-upload-list").css("display", "none"); }
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- SHOWROOM-FIN -->

<div id="loadingScreen"></div>

<script type="text/javascript">
    var adminEstrategiaModule;
    var rutaImagenBloqueado  = '@Url.Content("~/Content/Images/rutaImagenBloqueado.jpg")';
    var _toastHelper = ToastHelper();

    jQuery(document).ready(function () {

        adminEstrategiaModule = AdministrarEstrategia({
            actualizarMatrizComercialAction: '@Url.Action("ActualizarMatrizComercial", "MatrizComercial")',
            getImagesBySapCodeAction: '@Url.Action("GetImagesBySapCode", "AdministrarEstrategia")',
            getFiltrarEstrategiaAction: '@Url.Action("FiltrarEstrategia", "AdministrarEstrategia")',
            uploadAction: '@Url.Action("ImageMatrizUpload", "FileUpload")',
            getImagesByCodigoSAPAction: '@Url.Action("GetImagesByCodigoSAP", "MatrizComercial")',
            getImagesByNemotecnico: '@Url.Action("GetImagesByNemotecnicoSAP", "MatrizComercial")',
            habilitarNemotecnico: @Json.Encode(Model.habilitarNemotecnico),
            expValidacionNemotecnico: @Html.Raw(Model.ExpValidacionNemotecnico),
            actualizarDescripcionComercialAction: '@Url.Action("ActualizarDescripcionComercial", "MatrizComercial")',
            tipoEstrategiaIncentivosProgramaNuevas: '@Constantes.TipoEstrategiaCodigo.IncentivosProgramaNuevas',
            rutaImagenVacia: '@Url.Content("~/Content/Images/" + imagenVacia)',
            urlActivarDesactivarEstrategias: baseUrl + 'AdministrarEstrategia/ActivarDesactivarEstrategias',
            rutaImagenEdit: '@Url.Content("~/Content/Images/Edit.png")',
            rutaImagenDelete: '@Url.Content("~/Content/Images/Delete.png")',
            urlGetOfertaByCUV: baseUrl + 'AdministrarEstrategia/GetOfertaByCUV',
            urlS3: "@Model.UrlS3",
            rutaTemporal: '@Url.Content("~/Content/Temporales/")',
            urlConsultarCuvTipoConfigurado: baseUrl + 'AdministrarEstrategia/ConsultarCuvTipoConfigurado',
            urlConsultarCuvTipoConfiguradoTemporal: baseUrl + 'AdministrarEstrategia/ConsultarCuvTipoConfiguradoTemporal',
            urlDeshabilitarEstrategia: baseUrl + 'AdministrarEstrategia/DeshabilitarEstrategia',
            urlImageLanzamientoUpload: '@Url.Action("ImageLanzamientoUpload", "FileUpload")',
            urlUploadCvs: '@Url.Action("UploadCvs", "AdministrarEstrategia")',
            rutaImagenDisable: '@Url.Content("~/Content/Images/NotAllowed.png")',
            urlEliminarEstrategia: baseUrl + 'AdministrarEstrategia/EliminarEstrategia',
            urlUploadBloqueoCuv: '@Url.Action("UploadBloqueoCuvs","AdministrarEstrategia")',

            // SHOWROOM-INICIO
            urlConsultarShowRoom: baseUrl + 'ShowRoom/ConsultarShowRoom',
            urlGetShowRoomNiveles: baseUrl + 'ShowRoom/GetShowRoomNiveles',
            urlGetShowRoomPersonalizacionNivel: baseUrl + 'ShowRoom/GetShowRoomPersonalizacionNivel',
            urlGuardarPersonalizacionNivelShowRoom: baseUrl + 'ShowRoom/GuardarPersonalizacionNivelShowRoom',
            urlImageMatrizUpload: '@Url.Action("ImageMatrizUpload", "FileUpload")',
            urlDeshabilitarShowRoomEvento: baseUrl + 'ShowRoom/DeshabilitarShowRoomEvento',
            urlEliminarShowRoomEvento: baseUrl + 'ShowRoom/EliminarShowRoomEvento',
            urlGuardarShowRoom: baseUrl + 'ShowRoom/GuardarShowRoom',
            urlConsultarOfertaShowRoomDetalle: baseUrl + "ShowRoom/ConsultarOfertaShowRoomDetalleNew",
            urlEliminarOfertaShowRoomDetalleAll: baseUrl + 'ShowRoom/EliminarOfertaShowRoomDetalleAllNew',
            urlEliminarOfertaShowRoomDetalle: baseUrl + 'ShowRoom/EliminarOfertaShowRoomDetalleNew',
            urlInsertOfertaShowRoomDetalle: baseUrl + 'ShowRoom/InsertOfertaShowRoomDetalleNew',
            urlUpdateOfertaShowRoomDetalle: baseUrl + 'ShowRoom/UpdateOfertaShowRoomDetalleNew',
            rutaImagenTemporal: '@Url.Content("~/Content/Temporales/")',
            imagenEdit: '@Url.Content("~/Content/Images/Edit.png")',
            imagenDeshabilitar: '@Url.Content("~/Content/Images/NotAllowed.png")',
            imagenEliminar: '@Url.Content("~/Content/Images/delete.png")',
            imagenProductoVacio: '@Url.Content("~/Content/Images/prod_grilla_vacio.png")',
            urlUploadFileStrategyShowroom: '@Url.Action("UploadFileSetStrategyShowroom", "AdministrarEstrategia")',
            urlUploadFileProductStrategyShowroom: '@Url.Action("UploadFileProductStrategyShowroom", "AdministrarEstrategia")',
            urlCargarArbolRegionesZonas: '@Url.Action("CargarArbolRegionesZonas", "AdministrarEstrategia")',
            rutastylejstree: '@Url.Content("~/Content/Css/jstree/apple/stylejstree.css")'
            // SHOWROOM-FIN
        });

        adminEstrategiaModule.Inicializar();

        $.jgrid.extend({
            Editar: adminEstrategiaModule.Editar,
            Eliminar: adminEstrategiaModule.Deshabilitar,
            Remover: adminEstrategiaModule.Remover,
            EditarEvento: adminEstrategiaModule.EditarEvento,
            DeshabilitarEvento: adminEstrategiaModule.DeshabilitarEvento,
            EliminarEvento: adminEstrategiaModule.EliminarEvento,
            EditarProducto: adminEstrategiaModule.EditarProducto,
            EliminarProducto: adminEstrategiaModule.EliminarProducto,
            EditarProductoDetalle: adminEstrategiaModule.EditarProductoDetalle,
            EliminarProductoDetalle: adminEstrategiaModule.EliminarProductoDetalle
        });

        admNuevoMasivoModulo = NuevoMasivo({
            urlConsultarOfertasPersonalizadas: baseUrl + "AdministrarEstrategiaMasivo/ConsultarOfertasParaTi",
            urlConsultarCuvTipoConfigurado: baseUrl + 'AdministrarEstrategiaMasivo/ConsultarCuvTipoConfigurado',
            urlEstrategiaTemporalInsert: baseUrl + "AdministrarEstrategiaMasivo/EstrategiaTemporalInsert",
            urlEstrategiaTemporalConsultar: baseUrl + "AdministrarEstrategiaMasivo/ConsultarOfertasParaTiTemporal",
            urlEstrategiaTemporalCancelar: baseUrl + "AdministrarEstrategiaMasivo/CancelarInsertEstrategiaTemporal",
            urlConsultarCuvTipoConfiguradoTemporal: baseUrl + 'AdministrarEstrategiaMasivo/ConsultarCuvTipoConfiguradoTemporal',
            urlEstrategiaOfertasPersonalizadasInsert: baseUrl + "AdministrarEstrategiaMasivo/EstrategiaOfertasPersonalizadasInsert",
            MensajeErrorGeneral: "Lo sentimos, vuelva a intentarlo"
        });

        admNuevoMasivoModulo.Inicializar();

    });

    $(document).keydown(function (e) {
        if (e.keyCode == 8 && e.target.tagName != 'INPUT' && e.target.tagName != 'TEXTAREA') {
            e.preventDefault();
        }
    });

</script>
