@model Portal.Consultoras.Web.Models.EstrategiaProgramaNuevasModel
<style>
    #Precio, #Valorizado, #Ganancia, #Orden {
        text-align: right;
    }
</style>
<form action="" method="post">
    <div class="Content_modal">
        @Html.HiddenFor(model => model.EstrategiaID)
        @Html.HiddenFor(model => model.CodigoSAP)

        <div class="div-3">
            <div class="titG"><span class="required">(*)</span>Cod. programa:</div>
            <div class="selectA" style="width:150px">
                @Html.TextBoxFor(model => model.CodigoPrograma, new { autocomplete = "off", maxlength = "3" })
            </div>
        </div>
        <div class="div-3">
            <div class="titG">Campaña inicio:</div>
            <div class="selectA" style="width:150px">
                @Html.TextBoxFor(model => model.CampaniaInicio, new { autocomplete = "off", @readonly = "readonly" })
            </div>
            <div class="titG"><span class="required">(*)</span>Campaña fin:</div>
            <div class="selectA" style="width:150px">
                @Html.DropDownListFor(model => model.CampaniaFin, new SelectList(ViewBag.ddlCampania, "CampaniaID", "Codigo"), "-- Seleccionar --")
            </div>
        </div>
        <div class="EstrategiaTabla">
            <div class="EstrategiaTablaHeader">
                <div>
                    <span class="required">(*)</span>Código
                </div>
                <div>
                    Precio
                </div>
                <div>
                    Precio valorizado
                </div>
                <div>
                    Ganancia
                </div>
            </div>
            <div class="EstrategiaTablaDetail">
                <div class="div-3">
                    <div class="selectA" style="width:150px">
                        @Html.TextBoxFor(model => model.CUV, new { autocomplete = "off", maxlength = "5" })
                    </div>
                    <div class="selectA" style="width:150px">
                        @Html.TextBoxFor(model => model.Precio, new { autocomplete = "off", maxlength = "10" })
                    </div>
                    <div class="selectA" style="width:150px">
                        @Html.TextBoxFor(model => model.Valorizado, new { autocomplete = "off", maxlength = "10" })
                    </div>
                    <div class="selectA" style="width:150px">
                        @Html.TextBoxFor(model => model.Ganancia, new { autocomplete = "off", maxlength = "10" })
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="div-3">
            <div class="titG"><span class="required">(*)</span>Descripción:</div>
            <div class="selectA" style="width:290px">
                @Html.TextBoxFor(model => model.DescripcionCUV, new { autocomplete = "off", maxlength = "800" })
            </div>
            <div class="titG">Imagen:</div>
            <div class="titG titImage">
                <div class="pdr_modal borde_redondeado">
                    <img src='@Model.ImageUrl' id="imgSeleccionada" class="img-matriz-preview">
                </div>
            </div>
        </div>
        <div class="div-3">
            <div class="titG">Mensaje:</div>
            <div class="selectA" style="width:290px">
                @Html.TextBoxFor(model => model.Mensaje, new { autocomplete = "off", maxlength = "800" })
            </div>
            <div class="titG">¿Activar Oferta?</div>
            <div>
                @Html.CheckBoxFor(model => model.Activo)
            </div>
        </div>
        <div class="div-3">
            <div class="titG"><span class="required">(*)</span>Orden:</div>
            <div class="selectA" style="width:100px">
                @Html.TextBoxFor(model => model.Orden, new { autocomplete = "off", maxlength = "3" })
            </div>
        </div>

        <div class="Content_modal">
            <div class="EstrategiaTab">
                <div class="EstrategiaTabHeader">
                    <div class="active">
                        Imágenes - Disponibles
                    </div>
                    <div></div>
                </div>
                <div class="EstrategiaTabDetail">
                </div>
                <div class="EstrategiaTabFooter">
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="div-3">
        <div class="EstrategiaRequerido"><span class="required">(*)</span>Campos obligatorios</div>
        <div class="EstrategiaBotones">
            <input type="button" id="btnGuardar" value="GUARDAR" />
            <input type="button" id="btnCancelar" value="CANCELAR" class="EstrategiaBotonSecundario" />
        </div>
    </div>
</form>
<div id="divVistaPrevia">
    <div class="Content_modal">
        <img id="imgZonaEstrategia" src="" alt="Imagen Producto">
    </div>
    <div class="div-3">
        <div class="EstrategiaBotones"></div>
        <div class="EstrategiaBotones">
            <input type="button" id="btnSalir" value="SALIR" class="EstrategiaBotonSecundario" />
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/fileuploader.js")" type="text/javascript"></script>
<script src="@Url.Content(string.Format("~/Scripts/PortalConsultoras/EstrategiaProgramaNuevas/Detalle.js?ver{0}", DateTime.Now.Ticks.ToString()))" type="text/javascript"></script>