@model Portal.Consultoras.Web.Models.ConsultaDatoConsultoraModel
@{
    ViewBag.Title = "ConsultaDatoConsultora";
}
<script>
    jQuery(document).ready(function () {        
        // Establece los efectos para cada uno de los Tabs
        $(".contenido_tab").hide(); //Ocultar capas 
        $("ul.tabs li:first").addClass("activa").show(); //Activar primera pestaña
        $(".contenido_tab:first").show(); //Mostrar contenido primera pestaña        

        // Sucesos al hacer click en una pestaña 
        $("ul.tabs li").click(function () {
            $("ul.tabs li").removeClass("activa"); //Borrar todas las clases "activa"
            $(this).addClass("activa"); //Añadir clase "activa" a la pestaña seleccionada
            $(".contenido_tab").hide(); //Ocultar todo el contenido de la pestaña
            var activatab = $(this).find("a").attr("href"); //Leer el valor de href para identificar la pestaña activa 
            $(activatab).fadeIn(); //Visibilidad con efecto fade del contenido activo   

            if (activatab == "#tab-estadoCuenta")//evento por pestaña seleccionada
            {
                GridEstadoCuentaDetalle();
            }
            if (activatab == "#tab-estadoConsultora")//evento por pestaña seleccionada
            {          
                EstadoConsultoraForm();
            }
            if (activatab == "#tab-seguimientoPedido") {
                Seguimiento();
            }

            if (activatab == "#tab-paqueteDocumentario") {
                validarExiteInformacion();
            }

            if (activatab == "#tab-pedidoFacturado") {
                fnGrillaPedidoFacturado();
            }
            return false;
        });

        $("#btnBuscar").click(function () {
            if ($("#ddlPais").val() == "") {
                alert("Debe seleccionar un País, verifique");
                return false;
            } else if ($("#txtCodigos").val() == "" && $("#txtDocumento").val() == "") {
                alert("codigo de consultora y documento invalidos, verifique");
                return false;
            } else {
                // Establece los efectos para cada uno de los Tabs
                $("ul.tabs li").removeClass("activa"); //Borrar todas las clases "activa"
                $(".contenido_tab").hide(); //Ocultar capas
                $("ul.tabs li:first").addClass("activa").show(); //Activar primera pestaña
                $(".contenido_tab:first").show(); //Mostrar contenido primera pestaña

                $("#gvwEstadoCuentaDetalle").jqGrid("clearGridData", true);
                $("#listPedidoFacturado").jqGrid("clearGridData", true);
                $("#fecha-vencimiento").html('');
                $("#monto-pagar").html('');
               DatoConsultora();
            }


            $.ajax({
                dataType: "json",
                url: baseUrl + "ConsultaDatoConsultora/GetCampaniasRVDigitalWeb",
                data: "CodigoConsultora=" + $("#txtCodigos").val(),
                success: function (resultado) {                    
                    $("#ddlCampaniaPaquete").empty();
                    $("#ddlCampaniaPaquete").append('<option value= "">-- Seleccionar --</option>');

                    for (var i in resultado) {
                        var campania = resultado[i];
                        if (typeof (campania.CampaniaID) != 'undefined')
                        $("#ddlCampaniaPaquete").append('<option value=' + campania.CampaniaID + '>' + campania.Codigo + '</option>');
                    }
                }
            });

        });

        //inicializar valores
        ControlesPaqueteDocumentario();    
    });    

</script>

<div class="wrap_cab">
    <div class="filtros2">
        <div class="elements">
            <div class="div-2">
                <h1>Consulta Datos de Consultora</h1>
            </div>
            <div class="div-3">
                <div class="titG">País:</div>
                <div class="selectP2 borde_redondeado">
                    @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais" })
                </div>
                <div class="titG">Cod. Consultora:</div>
                <div class="selectP2 borde_redondeado">
                    <input type="text" id="txtCodigos" />
                </div>
            </div>
            <div class="div-3">
                <div class="titG">Documento de Identidad:</div>
                <div class="selectP2 borde_redondeado">
                    <input type="text" id="txtDocumento" />
                </div>
                <div class="input_search">
                    <input type="submit" name="" id="btnBuscar" value="Buscar" />
                </div>
            </div>

        </div>
    </div>
</div>

<div class="wrap">
    <div class="container-dato-consultora clearfix">
        <div class="border-wrapper">
            <ul class="tabs">
                <li><a href="#tab-datoConsultora">Datos de Consultora</a></li>
                <li><a href="#tab-estadoConsultora">Estado de Consultora</a></li>
                <li><a href="#tab-estadoCuenta">Estado de Cuenta</a></li>
                <li><a href="#tab-pedidoFacturado">Pedido Facturado</a></li>
                <li><a href="#tab-seguimientoPedido">Seguimiento Pedido</a></li>
                <li><a href="#tab-paqueteDocumentario">Paquete Documentario</a></li>
            </ul>
            <div class="contenedor_tab">
                <div class="contenedor_datos">
                    <div class="div-3">
                        <input type="hidden" id="txtDCConsultoraID" />
                        <input type="hidden" id="txtDCCodigoConsultora"/>
                        <div class="titK">Codigo Consultora:</div>
                        <div class="div-text-mediano" id="txtDCCodigoConsultoraVisible"></div>
                        <div class="titK">Nombre de Consultora:</div>
                        <div class="div-text-grande"id="txtDCNombreConsultora"></div>
                    </div>
                    <div class="div-3">
                        <div class="titK">Region:</div>
                        <div class="div-text-pequeno" id="txtDCRegion"></div>
                        <div class="titK">Zona:</div>
                        <div class="div-text-pequeno" id="txtDCZona"></div>
                        <div class="titK">Seccion:</div>
                        <div class="div-text-pequeno" id="txtDCSeccion"></div>
                    </div>
                </div>

                <div id="tab-datoConsultora" class="contenido_tab">
                    @Html.Partial("_DatoConsultora")
                </div>
                <div id="tab-estadoConsultora" class="contenido_tab">
                    @Html.Partial("_EstadoConsultora")
                </div>
                <div id="tab-estadoCuenta" class="contenido_tab">
                    @Html.Partial("_EstadoCuenta")
                </div>
                <div id="tab-pedidoFacturado" class="contenido_tab">
                    @Html.Partial("_PedidoFacturado")
                </div>
                <div id="tab-seguimientoPedido" class="contenido_tab">
                    @Html.Partial("_SeguimientoPedido")
                </div>
                <div id="tab-paqueteDocumentario" class="contenido_tab">
                    @Html.Partial("_PaqueteDocumentario")
                </div>
            </div>
        </div>
    </div>
</div>