@model Portal.Consultoras.Web.Models.PercepcionesModel
@{
    ViewBag.Title = "Index";
}

<script>

    jQuery(document).ready(function () {
        fnGrilla();
        IniDialog();
    });

    function IniDialog() {
        $('#DialogDetalle').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 970,
            height: 490,
            draggable: true,
            title: "Detalle de Percepciones",
            close: function (event, ui) { CerrarDialogo(); }
        });
    }

    function CerrarDialogo() {
        _gaq.push(['_trackPageview']);
    }

    function AbrirModal() {
        _gaq.push(['_trackPageview', '/Percepciones/Detalle']);
        dataLayer.push({
            'event': 'pageview',
            'virtualUrl': '/Percepciones/Detalle'
        });
        showDialog("DialogDetalle");
    }

    function fnGrilla() {
        jQuery("#list").jqGrid({
            url: baseUrl + "Percepciones/Consultar",
            hidegrid: false,
            datatype: 'json',
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['IdComprobantePercepcion', 'RUCAgentePerceptor', 'DireccionAgentePerceptor', 'NombreAgentePerceptor', 'Nro. de Comprobante', 'Fecha de emisión', 'Importe Percepcion', 'Detalle'],
            colModel: [
                { name: 'IdComprobantePercepcion', index: 'IdComprobantePercepcion', width: 0, editable: false, align: 'center', hidden: true },
                { name: 'RUCAgentePerceptor', index: 'RUCAgentePerceptor', width: 0, editable: false, align: 'center', hidden: true },
                { name: 'DireccionAgentePerceptor', index: 'DireccionAgentePerceptor', width: 0, editable: false, align: 'center', hidden: true },
                { name: 'NombreAgentePerceptor', index: 'NombreAgentePerceptor', width: 0, editable: false, align: 'center', hidden: true },
                { name: 'NumeroComprobanteSerie', index: 'NumeroComprobanteSerie', width: 30, editable: true, resizable: false },
                { name: 'FechaEmision', index: 'FechaEmision', width: 30, editable: true, resizable: false },
                { name: 'ImportePercepcion', index: 'ImportePercepcion', width: 30, editable: true, resizable: false },
                                { name: 'Detalle', index: 'Detalle', width: 10, editable: true, sortable: false, align: 'center', resizable: false, formatter: ShowActions }
            ],
            jsonReader:
                {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: true,
                    cell: "cell"
                },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'NombreAgentePerceptor',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 930,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function () { },
            gridComplete: function () { }
        });
        jQuery("#list").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
    }
    function ShowActions(cellvalue, options, rowObject) {
        var cellValueInt = parseInt(cellvalue);
        var Edit = "&nbsp;<a href=# >" + "<img src='@Url.Content("~/Content/Images/Detail.png")' alt='Detalle Registro' title='Detalle Registro' onclick=\"SendData('" + rowObject[0] + "','" + rowObject[1] + "','" + rowObject[2] + "','" + rowObject[3] + "','" + rowObject[4] + "','" + rowObject[5] + "','" + rowObject[6] + "');\" border='0' /></a>";
        return Edit;
    }

    function fnGrillaDetalle(IdCompPercepcion) {
        $.ajaxSetup({ cache: false });
        jQuery("#listDetalle").jqGrid({
            url: baseUrl + "Percepciones/ConsultarDetalle",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                IdComprobantePercepcion: function () { return $('#hdfPercepcionDetalleID').val() },
                IdComprobantePercepcion2: $('#hdfPercepcionDetalleID').val()
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['Tipo', 'Nro. Serie', 'Nro. Correlativo', 'Fecha Emisión documento', 'Precio de Venta(S/.)', 'Porcentaje de Percepción', 'Importe Percepciones(S/.)', 'Monto Total Cobrado(S/.)'],
            colModel: [
                { name: 'TipoDocumento', index: 'TipoDocumento', width: 7, editable: true, resizable: false },
                { name: 'NumeroDocumentoSerie', index: 'NumeroDocumentoSerie', width: 15, editable: true, resizable: false },
                { name: 'NumeroDocumentoCorrelativo', index: 'NumeroDocumentoCorrelativo', width: 15, editable: true, resizable: false },
                { name: 'FechaEmisionDocumento', index: 'FechaEmisionDocumento', width: 10, editable: true, resizable: false },
                { name: 'Monto', index: 'Monto', width: 10, editable: true, resizable: false },
                { name: 'PorcentajePercepcion', index: 'PorcentajePercepcion', width: 10, editable: true, resizable: false },
                { name: 'ImportePercepcion', index: 'ImportePercepcion', width: 15, editable: true, resizable: false },
                { name: 'MontoTotal', index: 'MontoTotal', width: 15, editable: true, resizable: false }
            ],
            jsonReader:
                {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: true,
                    cell: "cell"
                },
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 1000,
            scrollOffset: 0,
            sortname: 'FechaEmisionDocumento',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 890,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function () { AbrirModal(); },
            gridComplete: function () { }
        });
        jQuery("#listDetalle").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#listDetalle").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
    }
    function SendData(IdComprobantePercepcion, RUCAgentePerceptor, DireccionAgentePerceptor, NombreAgentePerceptor, NumeroComprobanteSerie, FechaEmision, ImportePercepcion) {
        //var form1 = document.createElement("form");
        //var data = document.createElement("input");
        //form1.setAttribute("id", "form1");
        //form1.action = baseUrl + "Percepciones/PercepcionDetalle";
        //form1.setAttribute("method", "POST");
        //data.setAttribute("type", "hidden");
        //data.setAttribute("name", "data");
        //var d = {
        //    IdComprobantePercepcion: IdComprobantePercepcion,
        //    RUCAgentePerceptor: RUCAgentePerceptor,
        //    DireccionAgentePerceptor: DireccionAgentePerceptor,
        //    NombreAgentePerceptor: NombreAgentePerceptor,
        //    NumeroComprobanteSerie: NumeroComprobanteSerie,
        //    FechaEmision: FechaEmision,
        //    ImportePercepcion: ImportePercepcion
        //}
        //data.value = JSON.stringify(d);
        //form1.appendChild(data);
        //document.body.appendChild(form1);
        //form1.submit();

        $('#hdfPercepcionDetalleID').val(IdComprobantePercepcion);
        var lblRUCAgentePerceptor = $('#lblRUCAgentePerceptor');
        var lblNombreAgentePerceptor = $('#lblNombreAgentePerceptor');
        var lblNumeroComprobanteSerie = $('#lblNumeroComprobanteSerie');
        var lblFechaEmision = $('#lblFechaEmision');
        var lblImportePercepcion = $('#lblImportePercepcion');
        var lblDireccion = $('#lblDireccion');
        var lblRUC = $('#lblRUC');
        var lblRazonSocial = $('#lblRazonSocial');
        var lblSimbolo = $('#lblSimbolo');
        var lblImportePercepcionTexto = $('#lblImportePercepcionTexto');

        lblRUCAgentePerceptor.text(RUCAgentePerceptor);
        lblNombreAgentePerceptor.text(NombreAgentePerceptor);
        lblNumeroComprobanteSerie.text(NumeroComprobanteSerie);
        lblFechaEmision.text(FechaEmision);
        lblImportePercepcion.text(ImportePercepcion);

        var item = {
            ImportePercepcion: ImportePercepcion
        };
        $.ajaxSetup({ cache: false });
        jQuery.ajax({
            type: 'POST',
            url: baseUrl + 'Percepciones/GetDatosBelcorp',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(item),
            async: true,
            success: function (data) {
                if (checkTimeout(data)) {
                    closeWaitingDialog();
                    if (data.success == true) {
                        lblDireccion.text(data.Direccion);
                        lblRUC.text(data.RUC);
                        lblRazonSocial.text(data.RazonSocial);
                        lblSimbolo.text(data.Simbolo);
                        lblImportePercepcionTexto.text(data.Texto);
                    }
                    else {
                        lblDireccion.text("");
                        lblRUC.text("");
                        lblRazonSocial.text("");
                        lblSimbolo.text("");
                        lblImportePercepcionTexto.text("");
                    }
                }
            },
            error: function (data, error) {
                if (checkTimeout(data)) {
                    lblDireccion.text("");
                    lblRUC.text("");
                    lblRazonSocial.text("");
                    lblSimbolo.text("");
                    lblImportePercepcionTexto.text("");
                }
            }
        });

        fnGrillaDetalle(IdComprobantePercepcion);


    }

    function Imprimir() {
        waitingDialog({});
        _gaq.push(['_trackEvent', 'Percepciones', 'Imprimir']);
        dataLayer.push({
            'event': 'pageview',
            'virtualUrl': '/Percepciones/Imprimir'
        });
        setTimeout(function () {
            DownloadAttachPDF()
        }, 0);
    }

    function DownloadAttachPDF() {
        var lblIdComprobantePercepcion = $('#hdfPercepcionDetalleID').val();
        var lblRUCAgentePerceptor = $('#lblRUCAgentePerceptor').text();
        var lblNombreAgentePerceptor = $('#lblNombreAgentePerceptor').text();
        var lblNumeroComprobanteSerie = $('#lblNumeroComprobanteSerie').text();
        var lblFechaEmision = $('#lblFechaEmision').text();
        var lblImportePercepcion = $('#lblImportePercepcion').text();
        var lblImportePercepcionTexto = $('#lblImportePercepcionTexto').text();
        var lblSimbolo = $('#lblSimbolo').text();

        var content = baseUrl + "Percepciones/ExportarPDF?" +
            "vIdComprobantePercepcion=" + lblIdComprobantePercepcion +
            "&vRUCAgentePerceptor=" + lblRUCAgentePerceptor +
            "&vNombreAgentePerceptor=" + lblNombreAgentePerceptor +
            "&vNumeroComprobanteSerie=" + lblNumeroComprobanteSerie +
            "&vFechaEmision=" + lblFechaEmision +
            "&vImportePercepcion=" + lblImportePercepcion +
            "&vImportePercepcionTexto=" + lblImportePercepcionTexto +
            "&vSimbolo=" + lblSimbolo;


        var iframe_ = document.createElement("iframe");
        iframe_.style.display = "none";
        iframe_.setAttribute("src", content);

        if (navigator.userAgent.indexOf("MSIE") > -1 && !window.opera) { // Si es Internet Explorer
            iframe_.onreadystatechange = function () {
                switch (this.readyState) {
                    case "loading":
                        waitingDialog({});
                        break;
                    case "complete":
                    case "interactive":
                    case "uninitialized":
                        closeWaitingDialog();
                        break;
                    default:
                        closeWaitingDialog();
                        break;
                }
            };
        }
        else {
            // Si es Firefox o Chrome
            $(iframe_).ready(function () {
                closeWaitingDialog();
            });
        }
        document.body.appendChild(iframe_);

    }

</script>

<div class="wrap_cab">

    <div class="filtros">
        <div class="elements">
            <div class="div-1">
                <div class="box">
                    <div class="box-t"></div>
                    <div class="box-c">
                        @if(ViewBag.Campania != null)
                        {
                            if (ViewBag.Dias == 0)
                            {
                                <p class="azul">Hoy es el cierre de <span>@ViewBag.Campania</span></p>
                            }
                            else
                            {
                                <p class="azul">Estás en <span>@ViewBag.Campania</span>, te quedan <strong>@ViewBag.Dias días</strong> para el cierre.</p>
                            }
                            <p>@ViewBag.MensajeCierreCampania</p>
                        }
                        else
                        {
                            <p>La Zona @ViewBag.CodigoZonaConsultora no se ubica en el cronograma, por favor contacte al Servicio de Atención al Cliente.</p>
                        }
                    </div>
                    <div class="box-b"></div>
                </div>
            </div>
            <div class="div-2">
                <h1>Consultas Escala<span> de Percepciones</span></h1>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="container clearfix">
        <div class="div-3">
            <div class="titE" style="float:none; text-align:left;">
                Codigo Consultora: @Model.CodigoConsultora
            </div>
            <div class="titE" style="float:none; text-align:left;">
                Código Territorial: @Model.CodigoTerritorial
            </div>
        </div>
        <div class="border-wrapper">

            <div>
                <table id="list"></table>
                <div id="pager"></div>
            </div>
        </div>
    </div>
</div>

<div id="DialogDetalle">
    <div class="wrap_cab">
            <input id="hdfPercepcionDetalleID" type="hidden" value="0" />
            <div class="filtros" style="background:none;">
                <div class="elements_percepcion">
                    <div class="percepciones_left">
                        <h2 class="celeste_texto">
                            <span id="lblRazonSocial"></span>
                        </h2>
                        <div class="div-3 spacing_2">
                            <div class="titAuto2">
                                <span id="lblDireccion"></span>
                            </div>
                        </div>
                        <div class="div-3 spacing">
                            <div class="titAuto2">Señor(es):</div>
                            <div class="titAuto2">
                                <span id="lblNombreAgentePerceptor"></span>
                            </div>
                        </div>
                        <div class="div-3 spacing">
                            <div class="titAuto2">RUC/DNI:</div>
                            <div class="titAuto2">
                                <span id="lblRUCAgentePerceptor"></span>
                            </div>
                        </div>
                        <div class="div-3 spacing">
                            <div class="titAuto2">Fecha de Emisión:</div>
                            <div class="titAuto2">
                                <span id="lblFechaEmision"></span>
                            </div>
                        </div>
                    </div>
                    <div class="percepciones_right">
                        <div class="div-3 spacing">
                            <div class="titAuto2">RUC:</div>
                            <div class="titAuto2">
                                <span id="lblRUC"></span>
                            </div>
                        </div>
                        <h2 class="celeste_texto">Comprobante de Percepciones Venta Interna</h2>
                        <div class="div-3 spacing">
                            <div class="titAuto2">Nro:</div>
                            <div class="titAuto2">
                                <span id="lblNumeroComprobanteSerie"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    <div class="wrap">
        <div class="container_percepcion clearfix">
            <div class="border-wrapper">
                <div id="gvwDetalleCampania" class="tabla">
                    <table id="listDetalle"></table>
                </div>
            </div>
            <div class="sep"></div>
            <div class="div-3">
                <div class="total">Total: <span class="superindice" id="lblSimbolo"></span><span class="num" id="lblImportePercepcion"></span></div>
                <div style="width: 20px; float: right;">&nbsp</div>
                <div class="total_white">
                    <span id="lblImportePercepcionTexto"></span>
                </div>
            </div>
            <div class="div-3 spacing">
                <div class="titAuto2">Nro. autorización impresión de SUNAT: 2247770011</div>
            </div>
            <div class="div-3 spacing">
                <div class="titAuto2">Fecha autorización: 27/01/2011</div>
            </div>
            <div class="div-3 spacing">
                <div class="titAuto2">Serie 001 - del 8000001 hasta - 99999999</div>
            </div>
            <div class="div-3 spacing">
                <div class="input_modifica">
                    <input type="button" onclick="Imprimir();" value="Imprimir" />
                </div>
            </div>
        </div>
    </div>    
</div>
<div id="loadingScreen"></div>


