
@model Portal.Consultoras.Web.Models.CatalogoPersonalizadoModel

@{
    ViewBag.Title = "Los favoritos de tus clientes esta campaña";
}

@section styles{
    <link href="~/Content/Css/Mobile/esika/bootstrap-slider.min.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Css/Site/ion.rangeSlider/normalize.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Css/Site/ion.rangeSlider/ion.rangeSlider.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Css/Site/ion.rangeSlider/ion.rangeSlider.skinHTML5.css")" rel="stylesheet" />
    <style>
        body {
            background: white;
        }

        .disabledbutton {
            pointer-events: none;
            opacity: 0.4;
        }
    </style>

}

<div class="fondo_f9f9f9" style="background:white;overflow: visible; height:116px;">
    <div class="content_belcorp content_belcorp_misPedidos">
        <div class="content_img_fav">
            <img src="@ViewBag.UrlImagenFAVLanding" alt="favoritos" />
        </div>
        <div class="texto_banner_seccion_fav">
            @ViewBag.NombreConsultoraFAV, estos son los
            <span class="altas_seccion_fav">FAVORITOS</span>
            <span class="clientes_fav_texto">DE TUS CLIENTES</span>
        </div>
        <div class="texto_complementario_fav">
            Porque conocemos a tus clientes, seleccionamos
            los productos que podrás venderles fácilmente.
        </div>
        <div data-maq onclick="AbrirMaqueta(2)" style="display: none;"><span>Niveles</span></div>
        <div data-maq onclick="AbrirMaqueta(3)" style="display: none;"><span>Pack</span></div>
    </div>
    <hr class="clear" />

</div>
<div id="cuerpo" class="catalogoPersonalizadoBloque" style="min-height:150px;">
    <div data-div="d">
        <div class="content_belcorp content_belcorp_misPedidos" id="contenidoGrilla">

            <div class="clear"></div>
            <div class="content_filtros_left">
                <span class="titulo_filtro_fav">FILTROS</span>
                <div class="linea_separadora" style="height:3px;"></div>
                <div class="texto_fav_filtro" style="cursor:pointer;display:none;"> BORRAR FILTROS</div>
                <div id="limiteFlt" class="linea_separadora"></div>
                <span class="titulo_filtro_fav">CATEGORÍAS</span>
                <hr class="clear" />
                <div id="div-filter-category">

                    @if (Model.FiltersByCategory != null)
                    {
                        foreach (var item in Model.FiltersByCategory)
                        {
                            <div data-value="@item.Codigo" class="seleccion_filtro_fav">@item.Descripcion</div>
                        }
                    }
                    else
                    {
                        <div class="seleccion_filtro_fav">MAQUILLAJE</div>
                        <div class="seleccion_filtro_fav">PERFUMES</div>
                        <div class="seleccion_filtro_fav">TRATAMIENTO FACIAL</div>
                        <div class="seleccion_filtro_fav">CUIDADO PERSONAL</div>
                        <div class="seleccion_filtro_fav">ACCESORIOS</div>
                    }
                </div>
                <div class="linea_separadora"></div>
                <span class="titulo_filtro_fav">MARCAS</span>
                <hr class="clear" />
                <div id="div-filter-brand">

                    @if (Model.FiltersByBrand != null)
                    {
                        foreach (var item in Model.FiltersByBrand)
                        {
                            <div data-value="@item.Codigo" class="seleccion_filtro_fav">@item.Descripcion</div>
                        }
                    }
                    else
                    {
                        <div class="seleccion_filtro_fav">ESIKA</div>
                        <div class="seleccion_filtro_fav">L'BEL</div>
                        <div class="seleccion_filtro_fav">CYZONE</div>
                    }

                </div>
                <div class="linea_separadora"></div>
                <span class="titulo_filtro_fav">RANGO DE PRECIO</span>
                <div class="content_filtro_range">
                    <input class="range-slider" type="text" value="" style="display:none;" />
                </div>

                <hr class="clear" />

                <div class="linea_separadora"></div>
                <span class="titulo_filtro_fav">TIPO DE PUBLICACIÓN</span>
                <hr class="clear" />
                <div id="div-filter-published">
                    @if (Model.FiltersByPublished != null)
                    {
                        foreach (var item in Model.FiltersByPublished)
                        {
                            <div data-value="@item.Codigo" class="seleccion_filtro_fav">@item.Descripcion</div>
                        }
                    }
                    else
                    {
                        <div class="seleccion_filtro_fav">TODOS</div>
                        <div class="seleccion_filtro_fav">SÓLO CATÁLOGO</div>
                        <div class="seleccion_filtro_fav">SÓLO GUÍA DE NEGOCIO</div>
                    }
                </div>
                <hr class="clear" />
            </div>
            <div class="content-left-item">
                <div id="divCantProductos" class="cantidad_productos_fav"></div>
                <div class="filtros_derecha">
                    ORDENAR POR

                    @if (Model.FiltersBySorting != null)
                    {
                        <select id="filter-sorting" class="select_filtros_fav" onchange="filterFAVDesktop()">
                            @foreach (var item in Model.FiltersBySorting)
                            {
                                <option value="@item.Codigo">@item.Descripcion</option>
                            }
                        </select>
                    }
                    else
                    {
                        <select class="select_filtros_fav">
                            <option>PRECIO | Menor a mayor</option>
                            <option>PRECIO | Menor a mayor</option>
                            <option>PRECIO | Menor a mayor</option>
                        </select>
                    }

                </div>
                <hr class="clear" />
                <div id="divCatalogoPersonalizado"></div>
            </div>

            <div class="clear"></div>
        </div>
    </div>
</div>

<div data-oferta=""></div>
<div id="divmaquetaof48nivel" class="mod-ofer2">
    <div class="cuerpo-mod" data-oferta-popup="">
        <div class="cerrar-mod" data-close=""><img src="@Url.Content("/Content/Images/btn_cerrar_popupPercepcion.png")" /></div>
        <div class="encabezado_popupCatalogoPersonalizado">
            <div class="linea_encabezado_popupCatalogoPersonalizado"></div>
            <div class="titulo_popupCatalogoPersonalizado">OFERTA EN GUÍA DE NEGOCIO</div>
            <div class="linea_encabezado_popupCatalogoPersonalizado"></div>
        </div>
        <div class="content_carrusel_pack">
            <a class="flechas_carrusel" style="left:-10%;"><img src="@Url.Content("/Content/Images/Esika/previous_ofertas_home.png")" /></a>
            <a class="flechas_carrusel" style="right:-10%;"><img src="@Url.Content("/Content/Images/Esika/next.png")" /></a>
            <div class="item_pack_personalizado ">
                <div class="content_item_pack">
                    <div class="fondo_negro_pack">COMPRA 1X</div>
                    <br />
                    <div class="img_principal_pack" style="margin-top:16px;">
                        <img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201616/C/productos/PE_200069929.jpg" alt="">
                    </div>
                    <div class="titulo_pack">Descripcion</div>
                    <div class="texto_unidad_pack">Precio para ti S/ 10.00</div>
                    <div class="texto_ganancia_pack">Gana: S/ 10.00</div>
                </div>

            </div>
            <div class="item_pack_personalizado  linea_d">
                <div class="content_item_pack">
                    <div class="fondo_negro_pack">COMPRA 2X</div>
                    <div class="pack_inter width_100">
                        <div class="titulo_pack" style="height:auto">Precio para ti S/ 10.00</div>
                        <div class="texto_ganancia_pack">GANA: S/ 10.00</div>
                        <div class="gratis_set">Gratis:</div>
                        <div class="content_sub_items">
                            <div class="sub_imagen_oferta"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201617/C/productos/PE_200085914.jpg" alt=""></div>
                            <div class="sub_descripcion_oferta"><p><span>x1</span>&nbsp;Pulso 100ml</p></div>
                            <hr class="clear">
                            <div class="sub_imagen_oferta"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201617/C/productos/PE_200072978.jpg" alt=""></div>
                            <div class="sub_descripcion_oferta"><p><span>x2</span>&nbsp;Cy° Star Glow. Red apple jam</p></div>
                            <hr class="clear">
                            <div class="sub_imagen_oferta"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201617/C/productos/PE_200076540.jpg" alt=""></div>
                            <div class="sub_descripcion_oferta"><p><span>x4</span>&nbsp;Cy° Twelve o'clock. Fashion hours</p></div>
                            <hr class="clear">

                        </div>
                    </div>
                </div>
            </div>
            <div class="item_pack_personalizado linea_d">
                <div class="content_item_pack">
                    <div class="fondo_negro_pack">COMPRA 2X</div>
                    <div class="pack_inter width_100">
                        <div class="titulo_pack" style="height:auto">Precio para ti S/ 10.00</div>
                        <div class="texto_ganancia_pack">GANA: S/ 10.00</div>
                        <div class="gratis_set">Gratis:</div>
                        <div class="content_sub_items">
                            <div class="sub_imagen_oferta"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201616/C/productos/PE_200069929.jpg" alt=""></div>
                            <div class="sub_descripcion_oferta"><p><span>x2</span>&nbsp;Desodorante roll-on. Girlink</p></div>
                            <hr class="clear">
                            <div class="sub_imagen_oferta"><img src="https://S3.amazonaws.com/consultorasQAS/SomosBelcorp/Matriz/PE/PE_200085580_2016842452_01_czsopveocx.png" alt=""></div>
                            <div class="sub_descripcion_oferta"><p><span>x2</span>&nbsp;Pulso 100ml</p></div>
                            <hr class="clear">
                            <div class="sub_imagen_oferta"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201617/C/productos/PE_210070052.jpg" alt=""></div>
                            <div class="sub_descripcion_oferta"><p><span>x3</span>&nbsp;Be close Refrescante bucal</p></div>
                            <hr class="clear">
                            <div class="sub_imagen_oferta"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201617/C/productos/PE_200085861.jpg" alt=""></div>
                            <div class="sub_descripcion_oferta"><p><span>x2</span>&nbsp;Body revolution.</p></div>
                            <hr class="clear">
                            <div class="sub_imagen_oferta"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201616/C/productos/PE_200069929.jpg" alt=""></div>
                            <div class="sub_descripcion_oferta"><p><span>x2</span>&nbsp;Pulso 100ml</p></div>
                            <hr class="clear">
                            <div class="sub_imagen_oferta"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201616/C/productos/PE_200069929.jpg" alt=""></div>
                            <div class="sub_descripcion_oferta"><p><span>x2</span>&nbsp;Pulso 100ml</p></div>
                            <hr class="clear">
                            <div class="sub_imagen_oferta"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201616/C/productos/PE_200069929.jpg" alt=""></div>
                            <div class="sub_descripcion_oferta"><p><span>x2</span>&nbsp;Pulso 100ml</p></div>
                            <hr class="clear">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="texto_mencion">Elige la cantidad y el sistema te ofrecerá la mejor combinación</div>
        <div style="width:215px; margin:0 auto; margin-top:10px;">
            <div class="liquidacion_rango_home js-no-popup">
                <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral js-no-popup" tabindex="0" data-cantidad-input="revista">
                <div class="liquidacion_rango_right_pedido js-no-popup">
                    <a class="mas js-no-popup" tabindex="0"><img class="js-no-popup" src="/Content/Images/Esika/mas.png" alt=""></a>
                    <a class="menos js-no-popup" tabindex="0"><img class="js-no-popup" src="/Content/Images/Esika/menos.png" alt=""></a>
                </div>
            </div>
            <a class="boton_Agregalo_home agregar-ofertarevista" data-cuv="revista">AGRÉGALO</a>
        </div>
        <div class="row_40">
            <div class="sombra_oferta">
                <div class="texto_sombra">También puedes comprarlo con el precio catálogo: <br /><span>S/. 39.00</span></div>
                <div style="width:215px; float:left; margin-top:12px;">
                    <div class="liquidacion_rango_home js-no-popup">
                        <input type="text" value="1" size="2" maxlength="2" id="txtCantidad"
                               class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral js-no-popup" tabindex="0" data-cantidad-input="catalogo">
                        <div class="liquidacion_rango_right_pedido js-no-popup">
                            <a class="mas js-no-popup" tabindex="0"><img class="js-no-popup" src="/Content/Images/Esika/mas.png" alt=""></a>
                            <a class="menos js-no-popup" tabindex="0"><img class="js-no-popup" src="/Content/Images/Esika/menos.png" alt=""></a>
                        </div>
                    </div>
                    <a class="boton_Agregalo_home agregar-ofertarevista" data-cuv="catalogo">AGRÉGALO</a>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="divmaquetaof48pack" class="mod-ofer3">
    <div class="cuerpo-mod" data-oferta-popup="">
        <div class="cerrar-mod" data-close=""><img src="@Url.Content("/Content/Images/btn_cerrar_popupPercepcion.png")" /></div>
        <div class="encabezado_popupCatalogoPersonalizado">
            <div class="linea_encabezado_popupCatalogoPersonalizado"></div>
            <div class="titulo_popupCatalogoPersonalizado">OFERTA EN GUÍA DE NEGOCIO</div>
            <div class="linea_encabezado_popupCatalogoPersonalizado"></div>
        </div>
        <div class="item_pack_personalizado">
            <div class="content_item_pack">
                <div class="img_principal_pack">
                    <img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201616/C/productos/PE_200069929.jpg" alt="">
                </div>
                <div class="titulo_pack">Descripcion</div>
                <div class="texto_unidad_pack">Precio para ti S/ 10.00</div>
                <div class="texto_ganancia_pack">Gana: S/ 10.00</div>
            </div>
            <div style="width:215px; margin:0 auto; margin-top:10px;">
                <div class="liquidacion_rango_home js-no-popup">
                    <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral js-no-popup" tabindex="0" data-cantidad-input="revista">
                    <div class="liquidacion_rango_right_pedido js-no-popup">
                        <a class="mas js-no-popup" tabindex="0"><img class="js-no-popup" src="/Content/Images/Esika/mas.png" alt=""></a>
                        <a class="menos js-no-popup" tabindex="0"><img class="js-no-popup" src="/Content/Images/Esika/menos.png" alt=""></a>
                    </div>
                </div>
                <a class="boton_Agregalo_home agregar-ofertarevista" data-cuv="revista">AGRÉGALO</a>
            </div>
        </div>
        <div class="content_66">
            <div class="content_carrusel_pack">
                <a class="flechas_carrusel" style="left:-10%;"><img src="@Url.Content("/Content/Images/Esika/previous_ofertas_home.png")" /></a>
                <a class="flechas_carrusel" style="right:-10%;"><img src="@Url.Content("/Content/Images/Esika/next.png")" /></a>
                <div class="item_pack_personalizado linea_d">
                    <div class="content_item_pack">
                        <div class="fondo_negro_pack">PACK GANANCIA</div>
                        <div class="pack_inter width_100">
                            <div class="titulo_pack" style="height:auto">Precio para ti S/ 10.00</div>
                            <div class="texto_ganancia_pack">GANA: S/ 10.00</div>
                            <div class="content_sub_items">
                                <div class="sub_imagen_oferta"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201616/C/productos/PE_200069929.jpg" alt=""></div>
                                <div class="sub_descripcion_oferta"><p><span>x2</span>&nbsp;Desodorante roll-on. Girlink</p></div>
                                <hr class="clear">
                                <div class="sub_imagen_oferta"><img src="https://S3.amazonaws.com/consultorasQAS/SomosBelcorp/Matriz/PE/PE_200085580_2016842452_01_czsopveocx.png" alt=""></div>
                                <div class="sub_descripcion_oferta"><p><span>x2</span>&nbsp;Pulso 100ml</p></div>
                                <hr class="clear">
                                <div class="sub_imagen_oferta"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201617/C/productos/PE_210070052.jpg" alt=""></div>
                                <div class="sub_descripcion_oferta"><p><span>x3</span>&nbsp;Be close Refrescante bucal</p></div>
                                <hr class="clear">
                                <div class="sub_imagen_oferta"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201617/C/productos/PE_200085861.jpg" alt=""></div>
                                <div class="sub_descripcion_oferta"><p><span>x2</span>&nbsp;Body revolution.</p></div>
                                <hr class="clear">
                                <div class="sub_imagen_oferta"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201616/C/productos/PE_200069929.jpg" alt=""></div>
                                <div class="sub_descripcion_oferta"><p><span>x2</span>&nbsp;Pulso 100ml</p></div>
                                <hr class="clear">
                                <div class="sub_imagen_oferta"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201616/C/productos/PE_200069929.jpg" alt=""></div>
                                <div class="sub_descripcion_oferta"><p><span>x2</span>&nbsp;Pulso 100ml</p></div>
                                <hr class="clear">
                                <div class="sub_imagen_oferta"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201616/C/productos/PE_200069929.jpg" alt=""></div>
                                <div class="sub_descripcion_oferta"><p><span>x2</span>&nbsp;Pulso 100ml</p></div>
                                <hr class="clear">
                            </div>
                        </div>
                    </div>
                    <div style="width:215px; margin:0 auto; margin-top:10px;">
                        <div class="liquidacion_rango_home js-no-popup">
                            <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral js-no-popup" tabindex="0" data-cantidad-input="revista">
                            <div class="liquidacion_rango_right_pedido js-no-popup">
                                <a class="mas js-no-popup" tabindex="0"><img class="js-no-popup" src="/Content/Images/Esika/mas.png" alt=""></a>
                                <a class="menos js-no-popup" tabindex="0"><img class="js-no-popup" src="/Content/Images/Esika/menos.png" alt=""></a>
                            </div>
                        </div>
                        <a class="boton_Agregalo_home agregar-ofertarevista" data-cuv="revista">AGRÉGALO</a>
                    </div>
                </div>
                <div class="item_pack_personalizado linea_d">
                    <div class="content_item_pack">
                        <div class="fondo_negro_pack" style="width:90%;">PACK MÁXIMA GANANCIA</div>
                        <div class="pack_inter width_100">
                            <div class="titulo_pack" style="height:auto">Precio para ti S/ 10.00</div>
                            <div class="texto_ganancia_pack">GANA: S/ 10.00</div>

                            <div class="content_sub_items">
                                <div class="sub_imagen_oferta"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201616/C/productos/PE_200069929.jpg" alt=""></div>
                                <div class="sub_descripcion_oferta"><p><span>x2</span>&nbsp;Desodorante roll-on. Girlink</p></div>
                                <hr class="clear">
                                <div class="sub_imagen_oferta"><img src="https://S3.amazonaws.com/consultorasQAS/SomosBelcorp/Matriz/PE/PE_200085580_2016842452_01_czsopveocx.png" alt=""></div>
                                <div class="sub_descripcion_oferta"><p><span>x2</span>&nbsp;Pulso 100ml</p></div>
                                <hr class="clear">
                                <div class="sub_imagen_oferta"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201617/C/productos/PE_210070052.jpg" alt=""></div>
                                <div class="sub_descripcion_oferta"><p><span>x3</span>&nbsp;Be close Refrescante bucal</p></div>
                                <hr class="clear">
                                <div class="sub_imagen_oferta"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201617/C/productos/PE_200085861.jpg" alt=""></div>
                                <div class="sub_descripcion_oferta"><p><span>x2</span>&nbsp;Body revolution.</p></div>
                                <hr class="clear">
                                <div class="sub_imagen_oferta"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201616/C/productos/PE_200069929.jpg" alt=""></div>
                                <div class="sub_descripcion_oferta"><p><span>x2</span>&nbsp;Pulso 100ml</p></div>
                                <hr class="clear">
                                <div class="sub_imagen_oferta"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201616/C/productos/PE_200069929.jpg" alt=""></div>
                                <div class="sub_descripcion_oferta"><p><span>x2</span>&nbsp;Pulso 100ml</p></div>
                                <hr class="clear">
                                <div class="sub_imagen_oferta"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201616/C/productos/PE_200069929.jpg" alt=""></div>
                                <div class="sub_descripcion_oferta"><p><span>x2</span>&nbsp;Pulso 100ml</p></div>
                                <hr class="clear">
                            </div>
                        </div>
                    </div>
                    <div style="width:215px; margin:0 auto; margin-top:10px;">
                        <div class="liquidacion_rango_home js-no-popup">
                            <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral js-no-popup" tabindex="0" data-cantidad-input="revista">
                            <div class="liquidacion_rango_right_pedido js-no-popup">
                                <a class="mas js-no-popup" tabindex="0"><img class="js-no-popup" src="/Content/Images/Esika/mas.png" alt=""></a>
                                <a class="menos js-no-popup" tabindex="0"><img class="js-no-popup" src="/Content/Images/Esika/menos.png" alt=""></a>
                            </div>
                        </div>
                        <a class="boton_Agregalo_home agregar-ofertarevista" data-cuv="revista">AGRÉGALO</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row_40">
            <div class="sombra_oferta">
                <div class="texto_sombra">También puedes comprarlo con el precio catálogo: <br /><span>{{SimboloMoneda}} {{DecimalToStringFormat precio_catalogo}}</span></div>
                <div style="width:215px; float:left; margin-top:12px;">
                    <div class="liquidacion_rango_home js-no-popup">
                        <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral js-no-popup" tabindex="0" data-cantidad-input="catalogo">
                        <div class="liquidacion_rango_right_pedido js-no-popup">
                            <a class="mas js-no-popup" tabindex="0"><img class="js-no-popup" src="/Content/Images/Esika/mas.png" alt=""></a>
                            <a class="menos js-no-popup" tabindex="0"><img class="js-no-popup" src="/Content/Images/Esika/menos.png" alt=""></a>
                        </div>
                    </div>
                    <a class="boton_Agregalo_home agregar-ofertarevista" data-cuv="catalogo">AGRÉGALO</a>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="PopFichaProductoNueva" class="Content_general_pop_up"></div>

<script id="template-catalogopersonalizado" type="text/x-handlebars-template">
    <div class="content-favclientes catper pantallaCatalogoPersonalizado">
        {{#each this as |item|}}
        <div class="contiene-productos" data-item="catalogopersonalizado">
            <div id="hiddenCatalogo" style="display: none;">
                <input type="hidden" class="hdItemCuv" value="{{CUV}}" />
                <input type="hidden" class="hdItemTipoOfertaSisID" value="{{TipoOfertaSisID}}" />
                <input type="hidden" class="hdItemConfiguracionOfertaID" value="{{ConfiguracionOfertaID}}" />
                <input type="hidden" class="hdItemIndicadorMontoMinimo" value="{{IndicadorMontoMinimo}}" />
                <input type="hidden" class="hdItemTipo" value="1" />
                <input type="hidden" class="hdItemMarcaID" value="{{MarcaID}}" />
                <input type="hidden" class="hdItemPrecioUnidad" value="{{PrecioCatalogo}}" />
                <input type="hidden" class="hdItemDescripcionProd" value="{{Descripcion}}" />
                <input type="hidden" class="hdItemPagina" value="0" />
                <input type="hidden" class="hdItemDescripcionCategoria" value="{{DescripcionCategoria}}" />
                <input type="hidden" class="hdItemDescripcionMarca" value="{{DescripcionMarca}}" />
                <input type="hidden" class="hdItemDescripcionEstrategia" value="{{DescripcionEstrategia}}" />
                <input type="hidden" class="hdItemTipoOfertaRevista" value="{{TipoOfertaRevista}}" />
                <input type="hidden" class="OrigenPedidoWeb" value="@Portal.Consultoras.Common.Constantes.OrigenPedidoWeb.CatalogoPersonalizadoDesktop" />
                <input type="hidden" class="hdItemEsMaquillaje" value="{{EsMaquillaje}}" />
            </div>
            <div class="producto_img_home mini" data-img="">
                <img src="{{ImagenProductoSugerido}}" style="width: auto; height: 100%;" class="imagen_producto">
                <a class="ver_detalle_carrusel" href="javascript:;" onclick="mostrarFichaProductoFAV2('{{CUV}}')">VER DETALLE</a>
            </div>

            {{#if item.TieneLanzamientoCatalogoPersonalizado}}
            <div class="etiqueta_producto nuevofavorito">
                <img src="@Url.Content("~/Content/Images/producto_lanzamiento_CP.png")" alt="Etiqueta Producto" />
            </div>
            {{/if}}
            <div class="producto_nombre_descripcion">
                {{#IsNullOrEmpty DescripcionMarca '!='}}
                <h6>{{DescripcionMarca}}</h6>
                {{else}}
                <h6>&ensp;&nbsp;</h6>
                {{/IsNullOrEmpty}}
                <p class="nombre_producto">
                    <b>{{Descripcion}}</b>
                </p>
                <div class="producto_precio" style="margin-bottom:28px;">
                    <span class="producto_precio_normal">{{SimboloMoneda}} {{PrecioValorizadoString}}</span>
                    <span class="producto_precio_oferta"><b>{{SimboloMoneda}} {{PrecioCatalogoString}}</b></span>
                </div>
                {{#if TieneOfertaEnRevista}}
                <div class="seguir_pedido enlace_popupCatalogoPersonalizado" style="width:auto; left:50%; margin-left:-52.5px;">
                    <a title="AQUÍ" class="pop-ofertarevista">¡MIRA LA OFERTA!</a>
                </div>
                {{/if}}
                <div class="liquidacion_rango_home" data-cantidad-contenedor="">
                    <input type="text" value="1" size="2" maxlength="2" class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" data-input="cantidad" data-cantidad-input="-">
                    <div class="liquidacion_rango_right_pedido">
                        <a class="mas" data-cantidad-agregar="+"><img src="/Content/Images/Esika/mas.png" alt=""></a>
                        <a class="menos" data-cantidad-agregar="-"><img src="/Content/Images/Esika/menos.png" alt=""></a>
                    </div>
                </div>
                <a class="boton_Agregalo_home" data-btn-agregar-catalogopersonalizado="">
                    AGRÉGALO
                </a>
                <div class="clear"></div>
                <div style="padding-top:9px; height: 15px;">
                    <div class="agregado product-add" style="text-align: right; display:{{#if IsAgregado }}block;{{else}}none;{{/if}}">
                        AGREGADO
                        <div class="icono"></div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        <div class="clear"></div>
    </div>
</script>

<script id="template-mod-ofer1" type="text/x-handlebars-template">
    <div class="cuerpo-mod" data-oferta-popup="">
        <div style="display:none;" id="hiddenCatalogo">
            <input type="hidden" class="hdItemCuv" value="{{CUV}}" />
            <input type="hidden" class="hdItemTipoOfertaSisID" value="{{TipoOfertaSisID}}" />
            <input type="hidden" class="hdItemConfiguracionOfertaID" value="{{ConfiguracionOfertaID}}" />
            <input type="hidden" class="hdItemIndicadorMontoMinimo" value="{{IndicadorMontoMinimo}}" />
            <input type="hidden" class="hdItemTipo" value="1" />
            <input type="hidden" class="hdItemMarcaID" value="{{MarcaID}}" />
            <input type="hidden" class="hdItemPrecioUnidad" value="{{PrecioCatalogo}}" />
            <input type="hidden" class="hdItemDescripcionProd" value="{{Descripcion}}" />
            <input type="hidden" class="hdItemPagina" value="0" />
            <input type="hidden" class="hdItemDescripcionCategoria" value="{{DescripcionCategoria}}" />
            <input type="hidden" class="hdItemDescripcionMarca" value="{{DescripcionMarca}}" />
            <input type="hidden" class="hdItemDescripcionEstrategia" value="{{DescripcionEstrategia}}" />
            <input type="hidden" class="OrigenPedidoWeb" value="@Portal.Consultoras.Common.Constantes.OrigenPedidoWeb.CatalogoPersonalizadoDesktopPopUp" />
        </div>
        <div style="display:none;" id="hiddenRevista">
            <input type="hidden" class="hdItemCuv" value="{{productoRevista.CUV}}" />
            <input type="hidden" class="hdItemTipoOfertaSisID" value="{{productoRevista.TipoOfertaSisID}}" />
            <input type="hidden" class="hdItemConfiguracionOfertaID" value="{{productoRevista.ConfiguracionOfertaID}}" />
            <input type="hidden" class="hdItemIndicadorMontoMinimo" value="{{productoRevista.IndicadorMontoMinimo}}" />
            <input type="hidden" class="hdItemTipo" value="1" />
            <input type="hidden" class="hdItemMarcaID" value="{{productoRevista.MarcaID}}" />
            <input type="hidden" class="hdItemPrecioUnidad" value="{{productoRevista.PrecioCatalogo}}" />
            <input type="hidden" class="hdItemDescripcionProd" value="{{productoRevista.Descripcion}}" />
            <input type="hidden" class="hdItemPagina" value="0" />
            <input type="hidden" class="hdItemDescripcionCategoria" value="{{productoRevista.DescripcionCategoria}}" />
            <input type="hidden" class="hdItemDescripcionMarca" value="{{productoRevista.DescripcionMarca}}" />
            <input type="hidden" class="hdItemDescripcionEstrategia" value="{{productoRevista.DescripcionEstrategia}}" />
            <input type="hidden" class="OrigenPedidoWeb" value="@Portal.Consultoras.Common.Constantes.OrigenPedidoWeb.CatalogoPersonalizadoDesktopPopUp" />
        </div>
        <div class="cerrar-mod" data-close=""><img src="@Url.Content("/Content/Images/btn_cerrar_popupPercepcion.png")" /></div>
        <div class="encabezado_popupCatalogoPersonalizado">
            <div class="linea_encabezado_popupCatalogoPersonalizado"></div>
            <div class="titulo_popupCatalogoPersonalizado">OFERTA EN GUÍA DE NEGOCIO</div>
            <div class="linea_encabezado_popupCatalogoPersonalizado"></div>
        </div>
        <div class="contiene-productos">
            <div class="producto_img_home mini" id="imagenAnimacion">
                <img src="{{UrlImagen}}" />
            </div>

            <div class="producto_nombre_descripcion">
                <h6></h6>
                <span>{{Descripcion}}</span>
                <span>{{SimboloMoneda}} {{DecimalToStringFormat precio_revista}}</span>
                <span>{{TxtGanancia}}: {{SimboloMoneda}} {{DecimalToStringFormat ganancia}}</span>
                <hr class="clear">
                <div class="clear"></div>
            </div>
            <hr class="clear">
            <div class="mod-cantidades metido">
                <div class="liquidacion_rango_home">
                    <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" class="liquidacion_rango_cantidad_pedido ValidaNumeral" data-cantidad-input="revista">
                    <div class="liquidacion_rango_right_pedido">
                        <a class="mas"><img src="/Content/Images/Esika/mas.png" alt=""></a>
                        <a class="menos"><img src="/Content/Images/Esika/menos.png" alt=""></a>
                    </div>
                </div>
                <a class="boton_Agregalo_home agregar-ofertarevista" data-cuv="revista">AGRÉGALO</a>
            </div>
            <div class="sombrio">
                <div style="width: 50%;"></div>
            </div>
        </div>
        <div class="pos-baja">
            <div class="informa">
                <h6>También puedes comprarlo con el precio catálogo:</h6>
                <span>{{SimboloMoneda}} {{DecimalToStringFormat precio_catalogo}}</span>
            </div>
            <div class="mod-cantidades">
                <div class="liquidacion_rango_home">
                    <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" class="liquidacion_rango_cantidad_pedido ValidaNumeral" data-cantidad-input="catalogo">
                    <div class="liquidacion_rango_right_pedido">
                        <a class="mas"><img src="/Content/Images/Esika/mas.png" alt=""></a>
                        <a class="menos"><img src="/Content/Images/Esika/menos.png" alt=""></a>
                    </div>
                </div>
                <a class="boton_Agregalo_home agregar-ofertarevista" data-cuv="catalogo">AGRÉGALO</a>
            </div>

        </div>
    </div>
</script>

<script id="template-mod-ofer2" type="text/x-handlebars-template">
    <div class="cuerpo-mod" data-oferta-popup="">
        <div style="display:none;" id="hiddenCatalogo">
            <input type="hidden" class="hdItemCuv" value="{{CUV}}" />
            <input type="hidden" class="hdItemTipoOfertaSisID" value="{{TipoOfertaSisID}}" />
            <input type="hidden" class="hdItemConfiguracionOfertaID" value="{{ConfiguracionOfertaID}}" />
            <input type="hidden" class="hdItemIndicadorMontoMinimo" value="{{IndicadorMontoMinimo}}" />
            <input type="hidden" class="hdItemTipo" value="1" />
            <input type="hidden" class="hdItemMarcaID" value="{{MarcaID}}" />
            <input type="hidden" class="hdItemPrecioUnidad" value="{{PrecioCatalogo}}" />
            <input type="hidden" class="hdItemDescripcionProd" value="{{Descripcion}}" />
            <input type="hidden" class="hdItemPagina" value="0" />
            <input type="hidden" class="hdItemDescripcionCategoria" value="{{DescripcionCategoria}}" />
            <input type="hidden" class="hdItemDescripcionMarca" value="{{DescripcionMarca}}" />
            <input type="hidden" class="hdItemDescripcionEstrategia" value="{{DescripcionEstrategia}}" />
            <input type="hidden" class="OrigenPedidoWeb" value="@Portal.Consultoras.Common.Constantes.OrigenPedidoWeb.CatalogoPersonalizadoDesktopPopUp" />
        </div>
        <div style="display:none;" id="hiddenRevista">
            <input type="hidden" class="hdItemCuv" value="{{productoRevista.CUV}}" />
            <input type="hidden" class="hdItemTipoOfertaSisID" value="{{productoRevista.TipoOfertaSisID}}" />
            <input type="hidden" class="hdItemConfiguracionOfertaID" value="{{productoRevista.ConfiguracionOfertaID}}" />
            <input type="hidden" class="hdItemIndicadorMontoMinimo" value="{{productoRevista.IndicadorMontoMinimo}}" />
            <input type="hidden" class="hdItemTipo" value="1" />
            <input type="hidden" class="hdItemMarcaID" value="{{productoRevista.MarcaID}}" />
            <input type="hidden" class="hdItemPrecioUnidad" value="{{productoRevista.PrecioCatalogo}}" />
            <input type="hidden" class="hdItemDescripcionProd" value="{{productoRevista.Descripcion}}" />
            <input type="hidden" class="hdItemPagina" value="0" />
            <input type="hidden" class="hdItemDescripcionCategoria" value="{{productoRevista.DescripcionCategoria}}" />
            <input type="hidden" class="hdItemDescripcionMarca" value="{{productoRevista.DescripcionMarca}}" />
            <input type="hidden" class="hdItemDescripcionEstrategia" value="{{productoRevista.DescripcionEstrategia}}" />
            <input type="hidden" class="OrigenPedidoWeb" value="@Portal.Consultoras.Common.Constantes.OrigenPedidoWeb.CatalogoPersonalizadoDesktopPopUp" />
        </div>
        <div class="cerrar-mod" data-close=""><img src="@Url.Content("/Content/Images/btn_cerrar_popupPercepcion.png")" /></div>
        <div class="encabezado_popupCatalogoPersonalizado">
            <div class="linea_encabezado_popupCatalogoPersonalizado"></div>
            <div class="titulo_popupCatalogoPersonalizado">OFERTA EN GUÍA DE NEGOCIO</div>
            <div class="linea_encabezado_popupCatalogoPersonalizado"></div>
        </div>
        <div>
            <div class="content_carrusel_pack" id="divCarruselNivel">
                <div class="item_pack_personalizado linea_d">
                    <div class="content_item_pack">
                        <div class="fondo_negro_pack">OFERTA X1</div>
                        <br />
                        <div class="img_principal_pack" style="margin-top:16px;">
                            {{#IsNullOrEmpty UrlImagen '!='}}
                            <img src="{{UrlImagen}}" alt="" />
                            {{/IsNullOrEmpty}}
                        </div>
                        <div class="titulo_pack">{{Descripcion}}</div>
                        <div class="texto_unidad_pack">Precio para ti {{SimboloMoneda}} {{DecimalToStringFormat precio_revista}}</div>
                        <div class="texto_ganancia_pack">{{TxtGanancia}}: {{SimboloMoneda}} {{DecimalToStringFormat ganancia}}</div>
                    </div>
                </div>
                {{#each lista_ObjNivel as |nivel|}}
                <div class="item_pack_personalizado  linea_d">
                    <div class="content_item_pack">
                        <div class="fondo_negro_pack">OFERTA X{{nivel.escala_nivel}}</div>
                        <div class="pack_inter width_100">
                            <div class="contenido_compra_nivel">
                                <div class="titulo_pack_048 centrar_vertical" style="width: 25%; text-align: left;">Compra</div>
                                <div class="centrar_vertical" style="width: 16%;">
                                    {{#IsNullOrEmpty ../UrlImagen '!='}}
                                    <img src="{{../UrlImagen}}" alt="" class="img_compra_nivel" />
                                    {{/IsNullOrEmpty}}
                                </div>
                                <div class="sub_descripcion_oferta_048 centrar_vertical" style="width: 54%;">
                                    <p><span>x{{nivel.escala_nivel}}</span>&nbsp;{{../Descripcion}}</p>
                                </div>
                            </div>
                            <br />
                            <div class="titulo_pack" style="height: auto">Precio para ti {{SimboloMoneda}} {{DecimalToStringFormat nivel.precio_nivel}}</div>
                            <div class="texto_ganancia_pack_048">{{../TxtGanancia}}: {{SimboloMoneda}} {{DecimalToStringFormat nivel.ganancia_nivel}}</div>
                            <br />
                            <div style="width: 100%; border-top: 1px solid #dadada;"></div>
                            <br />
                            <div class="gratis_set">{{../TxtRecibeGratis}}:</div>
                            <div class="content_sub_items">
                                {{#each ../lista_oObjGratis as |item|}}
                                {{#if_eq nivel.escala_nivel item.escala_nivel_gratis}}
                                <div class="sub_imagen_oferta">
                                    {{#IsNullOrEmpty item.imagen_gratis '!='}}
                                    <img src="{{item.imagen_gratis}}" alt="" />
                                    {{/IsNullOrEmpty}}

                                    {{#IsNullOrEmpty item.imagen_gratis '=='}}
                                    <div style="margin: 0 auto; text-align: center;">
                                        <img src="@Url.Content(ViewBag.RutaImagenNoDisponible) " alt="" style="width: 55px; height: 55px; border: 0;" />
                                    </div>
                                    {{/IsNullOrEmpty}}
                                </div>
                                <div class="sub_descripcion_oferta">
                                    <p><span>x{{item.cantidad}}</span>&nbsp;{{item.descripcion_gratis}}</p>
                                    <div class="peso_ficha_producto">{{item.volumen}}</div>
                                </div>
                                <hr class="clear">
                                {{/if_eq}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="texto_mencion">Elige la cantidad y el sistema te ofrecerá la mejor combinación</div>
        <div style="width:215px; margin:0 auto; margin-top:10px;">
            <div class="liquidacion_rango_home js-no-popup">
                <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral js-no-popup" tabindex="0" data-cantidad-input="revista">
                <div class="liquidacion_rango_right_pedido js-no-popup">
                    <a class="mas js-no-popup" tabindex="0"><img class="js-no-popup" src="/Content/Images/Esika/mas.png" alt=""></a>
                    <a class="menos js-no-popup" tabindex="0"><img class="js-no-popup" src="/Content/Images/Esika/menos.png" alt=""></a>
                </div>
            </div>
            <a class="boton_Agregalo_home agregar-ofertarevista" data-cuv="revista">AGRÉGALO</a>
        </div>
        <div class="row_40">
            <div class="sombra_oferta">
                <div class="texto_sombra">También puedes comprarlo con el precio catálogo: <br /><span>{{SimboloMoneda}} {{DecimalToStringFormat precio_catalogo}}</span></div>
                <div style="width:215px; float:left; margin-top:12px;">
                    <div class="liquidacion_rango_home js-no-popup">
                        <input type="text" value="1" size="2" maxlength="2" id="txtCantidad"
                               class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral js-no-popup" tabindex="0" data-cantidad-input="catalogo">
                        <div class="liquidacion_rango_right_pedido js-no-popup">
                            <a class="mas js-no-popup" tabindex="0"><img class="js-no-popup" src="/Content/Images/Esika/mas.png" alt=""></a>
                            <a class="menos js-no-popup" tabindex="0"><img class="js-no-popup" src="/Content/Images/Esika/menos.png" alt=""></a>
                        </div>
                    </div>
                    <a class="boton_Agregalo_home agregar-ofertarevista" data-cuv="catalogo">AGRÉGALO</a>
                </div>
            </div>

        </div>
    </div>
</script>
<script id="template-mod-ofer3" type="text/x-handlebars-template">
    <div class="cuerpo-mod" data-oferta-popup="">
        <div class="cerrar-mod" data-close=""><img src="@Url.Content("/Content/Images/btn_cerrar_popupPercepcion.png")" /></div>
        <div class="encabezado_popupCatalogoPersonalizado">
            <div class="linea_encabezado_popupCatalogoPersonalizado"></div>
            <div class="titulo_popupCatalogoPersonalizado">OFERTA EN GUÍA DE NEGOCIO</div>
            <div class="linea_encabezado_popupCatalogoPersonalizado"></div>
        </div>
        <div>
            <div style="display:none;" id="hiddenCatalogo">
                <input type="hidden" class="hdItemCuv" value="{{CUV}}" />
                <input type="hidden" class="hdItemTipoOfertaSisID" value="{{TipoOfertaSisID}}" />
                <input type="hidden" class="hdItemConfiguracionOfertaID" value="{{ConfiguracionOfertaID}}" />
                <input type="hidden" class="hdItemIndicadorMontoMinimo" value="{{IndicadorMontoMinimo}}" />
                <input type="hidden" class="hdItemTipo" value="1" />
                <input type="hidden" class="hdItemMarcaID" value="{{MarcaID}}" />
                <input type="hidden" class="hdItemPrecioUnidad" value="{{PrecioCatalogo}}" />
                <input type="hidden" class="hdItemDescripcionProd" value="{{Descripcion}}" />
                <input type="hidden" class="hdItemPagina" value="0" />
                <input type="hidden" class="hdItemDescripcionCategoria" value="{{DescripcionCategoria}}" />
                <input type="hidden" class="hdItemDescripcionMarca" value="{{DescripcionMarca}}" />
                <input type="hidden" class="hdItemDescripcionEstrategia" value="{{DescripcionEstrategia}}" />
                <input type="hidden" class="OrigenPedidoWeb" value="@Portal.Consultoras.Common.Constantes.OrigenPedidoWeb.CatalogoPersonalizadoDesktopPopUp" />
            </div>
            <div style="display:none;" id="hiddenRevista">
                <input type="hidden" class="hdItemCuv" value="{{productoRevista.CUV}}" />
                <input type="hidden" class="hdItemTipoOfertaSisID" value="{{productoRevista.TipoOfertaSisID}}" />
                <input type="hidden" class="hdItemConfiguracionOfertaID" value="{{productoRevista.ConfiguracionOfertaID}}" />
                <input type="hidden" class="hdItemIndicadorMontoMinimo" value="{{productoRevista.IndicadorMontoMinimo}}" />
                <input type="hidden" class="hdItemTipo" value="1" />
                <input type="hidden" class="hdItemMarcaID" value="{{productoRevista.MarcaID}}" />
                <input type="hidden" class="hdItemPrecioUnidad" value="{{productoRevista.PrecioCatalogo}}" />
                <input type="hidden" class="hdItemDescripcionProd" value="{{productoRevista.Descripcion}}" />
                <input type="hidden" class="hdItemPagina" value="0" />
                <input type="hidden" class="hdItemDescripcionCategoria" value="{{productoRevista.DescripcionCategoria}}" />
                <input type="hidden" class="hdItemDescripcionMarca" value="{{productoRevista.DescripcionMarca}}" />
                <input type="hidden" class="hdItemDescripcionEstrategia" value="{{productoRevista.DescripcionEstrategia}}" />
                <input type="hidden" class="OrigenPedidoWeb" value="@Portal.Consultoras.Common.Constantes.OrigenPedidoWeb.CatalogoPersonalizadoDesktopPopUp" />
            </div>
        </div>
        <div class="item_pack_personalizado">
            <div class="content_item_pack">
                <div class="img_principal_pack">
                    {{#IsNullOrEmpty UrlImagen '!='}}
                    <img src="{{UrlImagen}}" alt="" />
                    {{/IsNullOrEmpty}}
                </div>
                <div class="titulo_pack">{{Descripcion}}</div>
                <div class="texto_unidad_pack">Precio para ti {{SimboloMoneda}} {{DecimalToStringFormat precio_revista}}</div>
                <div class="texto_ganancia_pack">{{TxtGanancia}}: {{SimboloMoneda}} {{DecimalToStringFormat ganancia}}</div>
            </div>
            <div style="width:215px; margin:0 auto; margin-top:10px;">
                <div class="liquidacion_rango_home js-no-popup">
                    <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral js-no-popup" tabindex="0" data-cantidad-input="revista">
                    <div class="liquidacion_rango_right_pedido js-no-popup">
                        <a class="mas js-no-popup" tabindex="0"><img class="js-no-popup" src="/Content/Images/Esika/mas.png" alt=""></a>
                        <a class="menos js-no-popup" tabindex="0"><img class="js-no-popup" src="/Content/Images/Esika/menos.png" alt=""></a>
                    </div>
                </div>
                <a class="boton_Agregalo_home agregar-ofertarevista" data-cuv="revista">AGRÉGALO</a>
            </div>
        </div>
        <div class="content_66">
            <div class="content_carrusel_pack" id="divCarruselPack">
                {{#each lista_oObjPack as |pack|}}
                <div class="item_pack_personalizado linea_d">
                    <input type="hidden" class="hdItemPackCuv" value="{{pack.cuv_pack}}" />
                    <input type="hidden" class="hdItemPackValorizado" value="{{pack.valorizado}}" />
                    <input type="hidden" class="hdItemPackPrecio" value="{{pack.precio_pack}}" />
                    <div class="content_item_pack">
                        <div class="fondo_negro_pack">{{pack.nombre_pack}}</div>
                        <div class="pack_inter width_100">
                            <div class="titulo_pack" style="height: auto">Precio para ti: {{SimboloMoneda}} {{DecimalToStringFormat pack.precio_pack}}</div>
                            <div class="texto_ganancia_pack_048">{{../TxtGanancia}}: {{SimboloMoneda}} {{DecimalToStringFormat pack.ganancia_pack}}</div>
                            <div class="content_sub_items">
                                {{#each ../lista_oObjItemPack as |item|}}
                                {{#if_eq pack.cuv_pack item.cuv_pack_item}}
                                <div class="sub_imagen_oferta">
                                    {{#IsNullOrEmpty item.imagen_item_pack '!='}}
                                    <img src="{{item.imagen_item_pack}}" alt="" />
                                    {{/IsNullOrEmpty}}

                                    {{#IsNullOrEmpty item.imagen_item_pack '=='}}
                                    <div style="margin: 0 auto; text-align: center;">
                                        <img src="@Url.Content(ViewBag.RutaImagenNoDisponible)" alt="" style="width: 55px; height: 55px; border: 0;" />
                                    </div>
                                    {{/IsNullOrEmpty}}
                                </div>
                                <div class="sub_descripcion_oferta">
                                    <p><span>x{{item.cantidad_item_pack}}</span>&nbsp;{{item.descripcion_item_pack}}</p>
                                    <div class="peso_ficha_producto">{{item.volumen}}</div>
                                </div>
                                <hr class="clear" />
                                {{/if_eq}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    <div style="width:215px; margin:0 auto; margin-top:10px;" data-cantidad-contenedor="">
                        <div class="liquidacion_rango_home js-no-popup">
                            <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral js-no-popup" tabindex="0" data-cantidad-input="pack">
                            <div class="liquidacion_rango_right_pedido js-no-popup">
                                <a class="mas js-no-popup" tabindex="0"><img class="js-no-popup" src="/Content/Images/Esika/mas.png" alt=""></a>
                                <a class="menos js-no-popup" tabindex="0"><img class="js-no-popup" src="/Content/Images/Esika/menos.png" alt=""></a>
                            </div>
                        </div>
                        <a class="boton_Agregalo_home agregar-ofertarevista" data-cuv="pack" data-cuvadd="{{pack.cuv_pack}}">AGRÉGALO</a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="row_40">
            <div class="sombra_oferta">
                <div class="texto_sombra">También puedes comprarlo con el precio catálogo: <br /><span>{{SimboloMoneda}} {{DecimalToStringFormat precio_catalogo}}</span></div>
                <div style="width:215px; float:left; margin-top:12px;">
                    <div class="liquidacion_rango_home js-no-popup">
                        <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral js-no-popup" tabindex="0" data-cantidad-input="catalogo">
                        <div class="liquidacion_rango_right_pedido js-no-popup">
                            <a class="mas js-no-popup" tabindex="0"><img class="js-no-popup" src="/Content/Images/Esika/mas.png" alt=""></a>
                            <a class="menos js-no-popup" tabindex="0"><img class="js-no-popup" src="/Content/Images/Esika/menos.png" alt=""></a>
                        </div>
                    </div>
                    <a class="boton_Agregalo_home agregar-ofertarevista" data-cuv="catalogo">AGRÉGALO</a>
                </div>
            </div>

        </div>
    </div>
</script>

<script id="template-fichaproductofav" type="text/x-handlebars-template">
    <div class="content_ficha_producto_nueva" data-item="catalogopersonalizado" data-popup-body="">
        <input type="hidden" id="hdCuvFichaProductoFAV" value="{{CUV}}" />
        <input type="hidden" id="hdCuvFichaProductoFAVSelect" value="" />
        <div style="display: none;">
            <input type="hidden" class="hdItemCuv" value="{{CUV}}" />
            <input type="hidden" class="hdItemTipoOfertaSisID" value="{{TipoOfertaSisID}}" />
            <input type="hidden" class="hdItemConfiguracionOfertaID" value="{{ConfiguracionOfertaID}}" />
            <input type="hidden" class="hdItemIndicadorMontoMinimo" value="{{IndicadorMontoMinimo}}" />
            <input type="hidden" class="hdItemTipo" value="1" />
            <input type="hidden" class="hdItemMarcaID" value="{{MarcaID}}" />
            <input type="hidden" class="hdItemPrecioUnidad" value="{{PrecioCatalogo}}" />
            <input type="hidden" class="hdItemDescripcionProd" value="{{Descripcion}}" />
            <input type="hidden" class="hdItemPagina" value="0" />
            <input type="hidden" class="hdItemDescripcionCategoria" value="{{DescripcionCategoria}}" />
            <input type="hidden" class="hdItemDescripcionMarca" value="{{DescripcionMarca}}" />
            <input type="hidden" class="hdItemDescripcionEstrategia" value="{{DescripcionEstrategia}}" />
            <input type="hidden" class="hdItemTipoOfertaRevista" value="{{TipoOfertaRevista}}" />
            <input type="hidden" class="OrigenPedidoWeb" value="@Portal.Consultoras.Common.Constantes.OrigenPedidoWeb.CatalogoPersonalizadoDesktopPopUp" />
            <input type="hidden" class="hdItemEsMaquillaje" value="{{EsMaquillaje}}" />
        </div>
        <div data-compartir-campos="" style="display:none;">
            <input type="hidden" class="CUV" value="{{CUV}}" />
            <input type="hidden" class="rsFBMensaje" value="" />
            <input type="hidden" class="rsWAMensaje" value="" />
            <input type="hidden" class="rsFBRutaImagen" value="{{ImagenProductoSugerido}}" />
            <input type="hidden" class="rsWARutaImagen" value="{{ImagenProductoSugerido}}" />
            <input type="hidden" class="MarcaID" value="{{MarcaID}}" />
            <input type="hidden" class="MarcaNombre" value="{{DescripcionMarca}}" />
            <input type="hidden" class="Nombre" value="{{Descripcion}}" />
            <input type="hidden" class="ProductoDescripcion" value="{{DescripcionComercial}}" />
            <input type="hidden" class="Volumen" value="{{Volumen}}" />
            <input type="hidden" class="Palanca" value="FAV" />
        </div>
        <a class="cerrar_fichaProducto" href="javascript:;" onclick="javascript: $('#PopFichaProductoNueva').hide();">
            <img src="/Content/Images/cerrar_04_blanco.png" alt=" alternate text">
        </a>
        <div class="content_left_ficha">
            <div class="content_ficha_producto">
                <img id="fav_imagen_prod" class="imagen_producto" src="{{ImagenProductoSugerido}}" alt="PRODUCTO">
            </div>
            <div class="compartir_redes_ficha" style="margin-left: -20px; padding-left: 0px;">
                <div class="texto_compartelo">Compártelo con tus clientes</div>
                <a class="btn_compartir_facebook_ficha" href="javascript: void(0);" data-compartir="FB">
                    <img src="@Url.Content("~/Content/Images/Esika/facebook.png")" />
                </a>
                <hr class="clear" />
            </div>
        </div>
        <div class="content_right_ficha">
            <div id="fav_nombre_prod" class="titulo_ficha_producto">{{Descripcion}}</div>
            <div class="peso_ficha_producto">{{Volumen}}</div>
            <div id="fav_descripcion_prod" class="descripcion_ficha_producto">{{DescripcionComercial}}</div>
            <div class="precio_ficha_producto">
                <span class="precio_tachado_ficha">{{SimboloMoneda}} {{PrecioValorizadoString}}</span>{{SimboloMoneda}} {{PrecioCatalogoString}}
            </div>
            {{#if EsMaquillaje }}
            <div class="content_tonos">
                <div class="linea_gris" style="height:1px;"></div>
                <div class="content_tonos_maquillaje">
                    {{#each Hermanos as |item1|}}
                    <div id="fav_tono_{{item1.CUV}}" class="content_tono_detalle" onclick="cambiarInfoFichaProductoFAV(1,'{{item1.CUV}}',1)">
                        <img src="{{item1.ImagenBulk}}" alt="PRODUCTO">
                        <div class="tooltip_tono">{{item1.NombreBulk}}</div>
                    </div>
                    {{/each}}
                </div>

                <select id="fav_cbo_tono" class="tono_labial_select" onchange="cambiarInfoFichaProductoFAV(2,null,1)">
                    {{#each Tonos as |item2|}}
                    <option value="{{item2.CUV}}">{{item2.NombreBulk}}</option>
                    {{/each}}
                </select>
            </div>
            {{/if}}
            <div class="liquidacion_rango_home">
                <input type="text" value="1" size="2" maxlength="2" class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" data-input="cantidad" data-cantidad-input="-">
                <div class="liquidacion_rango_right_pedido">
                    <a class="mas" data-cantidad-agregar="+"><img src="/Content/Images/Esika/mas.png" alt=""></a>
                    <a class="menos" data-cantidad-agregar="-"><img src="/Content/Images/Esika/menos.png" alt=""></a>
                </div>
            </div>
            <a class="boton_Agregalo_home ficha_btn_agregar" onclick="agregarCuvPedidoFichaProductoFAV(1)" style="cursor: pointer;">
                AGRÉGALO
            </a>
        </div>
    </div>
</script>

@section scripts{
    <script type="text/javascript">
        var urlLoad = '@Url.Content("~/Content/Images/Loading.gif")';
        var urlObtenerProductosCatalogoPersonalizado = '@Url.Action("ObtenerProductosCatalogoPersonalizado", "CatalogoPersonalizado", new { area = "" })';
        var urlReservadoOEnHorarioRestringido = '@Url.Action("ReservadoOEnHorarioRestringido", "Pedido", new { area = "" })';
        var urlPedidoValidado = '@Url.Action("PedidoValidado", "Pedido", new { area = "" })';
        var urlCargarFiltros = '@Url.Action("CargarFiltros", "CatalogoPersonalizado", new { area = "" })';
        var cantidadRegistros = 12;
        var offsetRegistros = 0;
        var cargandoRegistros = false;

        var tipoOrigen = "1";
        var urlGetInfoFichaProducto = '@Url.Action("GetInfoFichaProductoFAV", "CatalogoPersonalizado")';
        var precioMin = '@ViewBag.PrecioMin';
        var precioMax = '@ViewBag.PrecioMax';
    </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ion.rangeSlider/ion.rangeSlider.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/CatalogoPersonalizado/CatalogoPersonalizado.js")"></script>
    <script src="~/Scripts/PortalConsultoras/Mobile/CatalogoPersonalizado/bootstrap-slider.min.js"></script>
}
