@{
    ViewBag.Title = "Catálogo personalizado";
}

<div class="fondo_f9f9f9">
    <div class="content_belcorp content_belcorp_misPedidos">
        <div class="fondo_negro_lateral"></div>
        <div class="titulo_interiores favoritosClientes"><span>LOS FAVORITOS </span> DE TUS CLIENTES ESTA CAMPAÑA</div>
    </div>
    <hr class="clear" />
    <div class="linea_separadora" style="margin-top: -1px; position: relative; z-index: 20;"></div>
</div>
<div id="cuerpo" class="catalogoPersonalizadoBloque" style="min-height:150px;">
    <div data-div="d">
        <div class="content_belcorp content_belcorp_misPedidos" id="contenidoGrilla">
                <div class="pestana_lbel new"></div>
                <div id="divCatalogoPersonalizado"></div>
                <div class="clear"></div>
                <div id="boton_vermas" class="ver-mas-vertical">
                    <span class="text">VER MÁS</span>
                    <span class="icon"></span>
                </div>
            <div class="clear"></div>
            </div><!--PESTAÑA PARA DARLE ESTILO CON LBEL-->
    </div>
</div>
<!-- POPUP MENSAJE -->
<div id="DialogMensajes" style="display: none;">
    <div class="terminos_title_2">
        MENSAJE
    </div>
    <div class="linea_superior margin_10"></div>
    <div class="pop_pedido_mensaje">
    </div>
</div>
<!-- FIN POPUP MENSAJE -->

<div class="mod-ofer1">
</div>
<div class="mod-ofer2">
</div>
<div class="mod-ofer3">
</div>

<script id="template-catalogopersonalizado" type="text/x-handlebars-template">
    <div class="content-favclientes catper pantallaCatalogoPersonalizado">
        {{#each this as |item|}}
        <div class="contiene-productos" data-item="catalogopersonalizado">
            <div id="hiddenCatalogo" style="display: none;">
                <input type="hidden" class="hdItemCuv" value="{{CUV}}" />
                <input type="hidden" class="hdItemTipoOfertaSisID" value="{{TipoOfertaSisID}}" />
                <input type="hidden" class="hdItemConfiguracionOfertaID" value="{{ConfiguracionOfertaID}}" />
                <input type="hidden" class="hdItemIndicadorMontoMinimo" value="{{IndicadorMontoMinimo}}" />
                <input type="hidden" class="hdItemTipo" value="1" />
                <input type="hidden" class="hdItemMarcaID" value="{{MarcaID}}" />
                <input type="hidden" class="hdItemPrecioUnidad" value="{{PrecioCatalogo}}" />
                <input type="hidden" class="hdItemDescripcionProd" value="{{Descripcion}}" />
                <input type="hidden" class="hdItemPagina" value="0" />
                <input type="hidden" class="hdItemDescripcionCategoria" value="{{DescripcionCategoria}}" />
                <input type="hidden" class="hdItemDescripcionMarca" value="{{DescripcionMarca}}" />
                <input type="hidden" class="hdItemDescripcionEstrategia" value="{{DescripcionEstrategia}}" />
            </div>
            <div class="producto_img_home mini">
                <img src="{{ImagenProductoSugerido}}" style="width: auto; height: 100%;" class="imagen_producto">
            </div>
            {{#IsNullOrEmpty item.Sello '!='}}
            <div class="etiqueta_producto nuevofavorito">
                <img src="~/Content/Images/nuevo-producto.png" alt="Etiqueta Producto" />
            </div>
            {{/IsNullOrEmpty}}
            <div class="producto_nombre_descripcion">
                <h6>{{DescripcionMarca}}</h6>
                <p class="nombre_producto">
                    <b>{{Descripcion}}</b>
                </p>
                <div class="producto_precio" style="margin-bottom:28px;">
                    <span class="producto_precio_oferta"><b>{{Simbolo}} {{PrecioCatalogoString}}</b></span>
                </div>
                {{#if TieneOfertaEnRevista}}
                <div class="seguir_pedido enlace_popupCatalogoPersonalizado" style="width:92%; left:12px;">
                    <a title="AQUÍ" class="pop-ofertarevista">¡MIRA LA OFERTA</a>
                    EN TU GUÍA DE NEGOCIO!
                </div>
                {{/if}}
                <div class="liquidacion_rango_home" data-cantidad-contenedor="">
                    <input type="text" value="1" size="2" maxlength="2" class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" data-input="cantidad" data-cantidad-input="-">
                    <div class="liquidacion_rango_right_pedido">
                        <a class="mas" data-cantidad-agregar="+"><img src="/Content/Images/Esika/mas.png" alt=""></a>
                        <a class="menos" data-cantidad-agregar="-"><img src="/Content/Images/Esika/menos.png" alt=""></a>
                    </div>
                </div>
                <a class="boton_Agregalo_home" data-btn-agregar-catalogopersonalizado="">
                    AGRÉGALO
                </a>
                <div class="clear"></div>
                <div style="padding-top:9px; height: 15px;">
                    <div class="agregado product-add" style="text-align: right; display:{{#if IsAgregado }}block;{{else}}none;{{/if}}">
                        AGREGADO
                        <div class="icono"></div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        <div class="clear"></div>
    </div>
</script>

<script id="template-mod-ofer1" type="text/x-handlebars-template">
    <div class="cuerpo-mod">
        <div style="display:none;" id="hiddenCatalogo">
            <input type="hidden" class="hdItemCuv" value="{{CUV}}" />
            <input type="hidden" class="hdItemTipoOfertaSisID" value="{{TipoOfertaSisID}}" />
            <input type="hidden" class="hdItemConfiguracionOfertaID" value="{{ConfiguracionOfertaID}}" />
            <input type="hidden" class="hdItemIndicadorMontoMinimo" value="{{IndicadorMontoMinimo}}" />
            <input type="hidden" class="hdItemTipo" value="1" />
            <input type="hidden" class="hdItemMarcaID" value="{{MarcaID}}" />
            <input type="hidden" class="hdItemPrecioUnidad" value="{{PrecioCatalogo}}" />
            <input type="hidden" class="hdItemDescripcionProd" value="{{Descripcion}}" />
            <input type="hidden" class="hdItemPagina" value="0" />
            <input type="hidden" class="hdItemDescripcionCategoria" value="{{DescripcionCategoria}}" />
            <input type="hidden" class="hdItemDescripcionMarca" value="{{DescripcionMarca}}" />
            <input type="hidden" class="hdItemDescripcionEstrategia" value="{{DescripcionEstrategia}}" />
        </div>
        <div style="display:none;" id="hiddenRevista">
                <input type="hidden" class="hdItemCuv" value="{{productoRevista.CUV}}" />
                <input type="hidden" class="hdItemTipoOfertaSisID" value="{{productoRevista.TipoOfertaSisID}}" />
                <input type="hidden" class="hdItemConfiguracionOfertaID" value="{{productoRevista.ConfiguracionOfertaID}}" />
                <input type="hidden" class="hdItemIndicadorMontoMinimo" value="{{productoRevista.IndicadorMontoMinimo}}" />
                <input type="hidden" class="hdItemTipo" value="1" />
                <input type="hidden" class="hdItemMarcaID" value="{{productoRevista.MarcaID}}" />
                <input type="hidden" class="hdItemPrecioUnidad" value="{{productoRevista.PrecioCatalogo}}" />
                <input type="hidden" class="hdItemDescripcionProd" value="{{productoRevista.Descripcion}}" />
                <input type="hidden" class="hdItemPagina" value="0" />
                <input type="hidden" class="hdItemDescripcionCategoria" value="{{productoRevista.DescripcionCategoria}}" />
                <input type="hidden" class="hdItemDescripcionMarca" value="{{productoRevista.DescripcionMarca}}" />
                <input type="hidden" class="hdItemDescripcionEstrategia" value="{{productoRevista.DescripcionEstrategia}}" />
        </div>
        <div class="cerrar-mod" onclick="$('.mod-ofer1').hide()"><img src="@Url.Content("/Content/Images/btn_cerrar_popupPercepcion.png")" /></div>
        <div class="encabezado_popupCatalogoPersonalizado">
            <div class="linea_encabezado_popupCatalogoPersonalizado"></div>
            <div class="titulo_popupCatalogoPersonalizado">OFERTAS EN GUÍA DE NEGOCIO</div>
            <div class="linea_encabezado_popupCatalogoPersonalizado"></div>
        </div>
        <div class="contiene-productos">
            <div class="producto_img_home mini" id="imagenAnimacion">

                <img src="{{UrlImagen}}" />
            </div>

            <div class="producto_nombre_descripcion">
                @*<div class="etiqueta_producto nuevofavorito">
                        <img src="/Content/Images/ofertarevista.png" alt="Etiqueta Producto">
                    </div>*@
                <h6></h6>
                <span>{{Descripcion}}</span>
                <span>{{Simbolo}} {{precio_revista}}</span>
                <span>GANANCIA: {{Simbolo}} {{ganancia}}</span>
                <hr class="clear">
                <div class="clear"></div>
            </div>
            <hr class="clear">
            <div class="mod-cantidades metido">
                <div class="liquidacion_rango_home">
                    <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" class="liquidacion_rango_cantidad_pedido ValidaNumeral">
                    <div class="liquidacion_rango_right_pedido">
                        <a class="mas"><img src="/Content/Images/Esika/mas.png" alt=""></a>
                        <a class="menos"><img src="/Content/Images/Esika/menos.png" alt=""></a>
                    </div>
                </div>
                <a class="boton_Agregalo_home agregar-ofertarevista" data-cuv="revista">
                    AGRÉGALO
                </a>
            </div>
            <div class="sombrio">
                <div style="width: 50%;"></div>
            </div>
        </div>
        <div class="pos-baja">

            <div class="informa">
                <h6>También puedes comprarlo con el precio catálogo:</h6>
                <span>{{Simbolo}} {{precio_catalogo}}</span>
            </div>

            <div class="mod-cantidades">
                <div class="liquidacion_rango_home">
                    <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" class="liquidacion_rango_cantidad_pedido ValidaNumeral">
                    <div class="liquidacion_rango_right_pedido">
                        <a class="mas"><img src="/Content/Images/Esika/mas.png" alt=""></a>
                        <a class="menos"><img src="/Content/Images/Esika/menos.png" alt=""></a>
                    </div>
                </div>
                <a class="boton_Agregalo_home agregar-ofertarevista" data-cuv="catalogo">
                    AGRÉGALO
                </a>
            </div>

        </div>

    </div>
</script>
<script id="template-mod-ofer2" type="text/x-handlebars-template">
    <div class="cuerpo-mod">
        <div class="cerrar-mod" onclick="$('.mod-ofer2').hide()"><img src="@Url.Content("/Content/Images/btn_cerrar_popupPercepcion.png")" /></div>
        <div class="contiene-productos">
            <span class="mencion">Elige la cantidad y el sistema te ofrecerá la mejor combinación</span>
            <hr class="clear">
            <div class="producto_img_home mini">

                <img src="http://S3.amazonaws.com/consultorasQAS/SomosBelcorp/Matriz/PE/PE_200064288_20131041749_01_rrdhiqdnya.png" />
                <span class="inc">Dorsay 100 ml</span>
            </div>

            <div class="producto_nombre_descripcion">
                <div class="etiqueta_producto nuevofavorito">
                    <img src="/Content/Images/ofertarevista.png" alt="Etiqueta Producto">
                </div>
            </div>

            <div class="compras">
                <div class="columnas c1">
                    <span></span>
                    <span>Compra 1x $ 29.900</span>
                    <span>GANANCIA:  $ 9.500</span>
                </div>
                <div class="columnas c2">
                    <span></span>
                    <span>Compra 2x $ 99.900</span>
                    <span>GANANCIA:  $ 29.500</span>
                    <img src="http://S3.amazonaws.com/consultorasQAS/SomosBelcorp/Matriz/PE/PE_200064288_20131041749_01_rrdhiqdnya.png" />
                </div>
                <div class="columnas c3">
                    <span></span>
                    <span>Compra 4x $ 189.900</span>
                    <span>GANANCIA:  $ 59.500</span>
                    <img src="http://S3.amazonaws.com/consultorasQAS/SomosBelcorp/Matriz/PE/PE_200064288_20131041749_01_rrdhiqdnya.png" />
                </div>
                <div class="columnas c4">
                    <span></span>
                    <span>Compra 6x $ 249.900</span>
                    <span>GANANCIA:  $ 99.500</span>
                    <img src="http://S3.amazonaws.com/consultorasQAS/SomosBelcorp/Matriz/PE/PE_200064288_20131041749_01_rrdhiqdnya.png" />
                </div>
            </div>
            <hr class="clear">
            <div class="mod-cantidades metido">
                <div class="liquidacion_rango_home">
                    <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" class="liquidacion_rango_cantidad_pedido ValidaNumeral">
                    <div class="liquidacion_rango_right_pedido">
                        <a class="mas"><img src="/Content/Images/Esika/mas.png" alt=""></a>
                        <a class="menos"><img src="/Content/Images/Esika/menos.png" alt=""></a>
                    </div>
                </div>
                <a class="boton_Agregalo_home">
                    AGRÉGALO
                </a>
            </div>
            <div class="sombrio">
                <div style="width: 50%;"></div>
            </div>
        </div>
        <div class="pos-baja">

            <div class="informa">
                <h6>También puedes comprarlo con el precio catálogo:</h6>
                <span>$ 39.900</span>
            </div>

            <div class="mod-cantidades">
                <div class="liquidacion_rango_home">
                    <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" class="liquidacion_rango_cantidad_pedido ValidaNumeral">
                    <div class="liquidacion_rango_right_pedido">
                        <a class="mas"><img src="/Content/Images/Esika/mas.png" alt=""></a>
                        <a class="menos"><img src="/Content/Images/Esika/menos.png" alt=""></a>
                    </div>
                </div>
                <a class="boton_Agregalo_home">
                    AGRÉGALO
                </a>
            </div>

        </div>

    </div>
</script>
<script id="template-mod-ofer3" type="text/x-handlebars-template">
    <div class="cuerpo-mod">
        <div class="cerrar-mod" onclick="$('.mod-ofer3').hide()"><img src="@Url.Content("/Content/Images/btn_cerrar_popupPercepcion.png")" /></div>
        <div class="contiene-productos">
            <div class="etiqueta_producto nuevofavorito">
                <img src="/Content/Images/ofertarevista.png" alt="Etiqueta Producto">
            </div>
            <div class="compras">
                <div class="columnas c1">
                    <img src="http://S3.amazonaws.com/consultorasQAS/SomosBelcorp/Matriz/PE/PE_200064288_20131041749_01_rrdhiqdnya.png" />
                    <span>Pulso 100 ml</span>
                    <span>Precio revista $ 29.900</span>
                    <span>GANANCIA:  $ 10.000</span>
                    <div class="opciones-paralelas">
                        <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" class="liquidacion_rango_cantidad_pedido ValidaNumeral">
                        <div class="liquidacion_rango_right_pedido">
                            <a class="mas"><img src="/Content/Images/Esika/mas.png" alt=""></a>
                            <a class="menos"><img src="/Content/Images/Esika/menos.png" alt=""></a>
                        </div>
                        <a class="boton_Agregalo_home">
                            AGRÉGALO
                        </a>
                    </div>
                </div>
                <div class="columnas c2">
                    <div class="marquer">PACK GANANCIA</div>
                    <span></span>
                    <span>$ 189.900</span>
                    <span>GANANCIA:  $ 289.500</span>
                    <h5>INCLUYE:</h5>
                    <h6><img class="miniaturaproducto" src="http://S3.amazonaws.com/consultorasQAS/SomosBelcorp/Matriz/PE/PE_200064288_20131041749_01_rrdhiqdnya.png" />3 Pulso 100ml</h6>
                    <h6><img class="miniaturaproducto" src="http://S3.amazonaws.com/consultorasQAS/SomosBelcorp/Matriz/PE/PE_200064288_20131041749_01_rrdhiqdnya.png" />1 Élanie 50 ml</h6>
                    <h6><img class="miniaturaproducto" src="http://S3.amazonaws.com/consultorasQAS/SomosBelcorp/Matriz/PE/PE_200064288_20131041749_01_rrdhiqdnya.png" />1 Vanilla Hombre 100ml</h6>
                    <div class="opciones-paralelas">
                        <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" class="liquidacion_rango_cantidad_pedido ValidaNumeral">
                        <div class="liquidacion_rango_right_pedido">
                            <a class="mas"><img src="/Content/Images/Esika/mas.png" alt=""></a>
                            <a class="menos"><img src="/Content/Images/Esika/menos.png" alt=""></a>
                        </div>
                        <a class="boton_Agregalo_home">
                            AGRÉGALO
                        </a>
                    </div>

                </div>
                <div class="columnas c3">
                    <div class="marquer">PACK MÁXIMA GANANCIA</div>
                    <span></span>
                    <span>$ 249.900</span>
                    <span>GANANCIA:  $ 469.200</span>
                    <h5>INCLUYE:</h5>
                    <h6><img class="miniaturaproducto" src="http://S3.amazonaws.com/consultorasQAS/SomosBelcorp/Matriz/PE/PE_200064288_20131041749_01_rrdhiqdnya.png" />2 Pulso 100ml</h6>
                    <h6><img class="miniaturaproducto" src="http://S3.amazonaws.com/consultorasQAS/SomosBelcorp/Matriz/PE/PE_200064288_20131041749_01_rrdhiqdnya.png" />1 Bravío 100ml</h6>
                    <h6><img class="miniaturaproducto" src="http://S3.amazonaws.com/consultorasQAS/SomosBelcorp/Matriz/PE/PE_200064288_20131041749_01_rrdhiqdnya.png" />1 Sexy Gold 50ml</h6>
                    <h6><img class="miniaturaproducto" src="http://S3.amazonaws.com/consultorasQAS/SomosBelcorp/Matriz/PE/PE_200064288_20131041749_01_rrdhiqdnya.png" />1 Strong Musk 50ml</h6>
                    <div class="opciones-paralelas">
                        <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" class="liquidacion_rango_cantidad_pedido ValidaNumeral">
                        <div class="liquidacion_rango_right_pedido">
                            <a class="mas"><img src="/Content/Images/Esika/mas.png" alt=""></a>
                            <a class="menos"><img src="/Content/Images/Esika/menos.png" alt=""></a>
                        </div>
                        <a class="boton_Agregalo_home">
                            AGRÉGALO
                        </a>
                    </div>

                </div>
            </div>
            <hr class="clear">

            <div class="sombrio">
                <div style="width: 50%;"></div>
            </div>
        </div>
        <div class="pos-baja">

            <div class="informa">
                <h6>También puedes comprarlo con el precio catálogo:</h6>
                <span>$ 39.900</span>
            </div>

            <div class="mod-cantidades">
                <div class="liquidacion_rango_home">
                    <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" class="liquidacion_rango_cantidad_pedido ValidaNumeral">
                    <div class="liquidacion_rango_right_pedido">
                        <a class="mas"><img src="/Content/Images/Esika/mas.png" alt=""></a>
                        <a class="menos"><img src="/Content/Images/Esika/menos.png" alt=""></a>
                    </div>
                </div>
                <a class="boton_Agregalo_home">
                    AGRÉGALO
                </a>
            </div>

        </div>

    </div>
</script>
@section scripts{

<script type="text/javascript">
    var urlLoad = '@Url.Content("~/Content/Images/Loading.gif")';
    var viewBagSimbolo = '@Html.Raw(ViewBag.Simbolo)';
</script>
<script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/CatalogoPersonalizado/index.js")"></script>
}