@model Portal.Consultoras.Web.Models.ServicioModel
@{
    ViewBag.Title = "Administrar Servicios";
}

<script>

    jQuery(document).ready(function () {
        IniDialog();
        IniDialogParametro();
        $("#btnBuscar").click(function () { fnGrilla(); });
        $("#btnAgregar").click(function () { AgregarParametroServicio(); });
        $("#txtDescripcion").keypress(function (evt) {
            var charCode = (evt.which) ? evt.which : window.event.keyCode;
            if (charCode == 13) {
                fnGrilla();
            }
            if (charCode <= 13) {
                return false;
            }
            else {
                var keyChar = String.fromCharCode(charCode);
                var re = /[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ ]/;
                return re.test(keyChar);
            }
        });
        $("#txtDescripcionD").keypress(function (evt) {
            var charCode = (evt.which) ? evt.which : window.event.keyCode;
            if (charCode == 13) {
                fnGrilla();
            }
            if (charCode <= 13) {
                return false;
            }
            else {
                var keyChar = String.fromCharCode(charCode);
                var re = /[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ ]/;
                return re.test(keyChar);
            }
        });
        fnGrilla();
		//R2161
        $("#chkSeleccionar").click(function () {
            if (this.checked)
                $.jstree._reference($("#arbolRegionZona")).check_all();
            else
                $.jstree._reference($("#arbolRegionZona")).uncheck_all();
        });
        $("#ddlPaisesServSegZona").change(function () {
            waitingDialog({});
            var value = this.value;
            if (value !== "") {
                CargarServicioCampanias();
            }
            else {
                $("#arbolRegionZona").html("");
                $('#ddlSegmentoServicio').empty();
                $('#ddlCampaniaServSegZona').empty();
            }
            closeWaitingDialog();
        });
        $("#ddlCampaniaServSegZona").change(function () {
            waitingDialog({});
            var value = this.value;
            if (value !== "") {
                CargarSegmentoPais();
                var strZonas = CargarSegmentoZonaConfigurada();
                ConfigurarArbol(strZonas);
            }
            else {
                $('#ddlSegmentoServicio').empty();
                $("#arbolRegionZona").html("");
            }
            closeWaitingDialog();
        });
    });

	//R2161
	function CargarSegmentoPais() {
        var PaisId = $('#ddlPaisesServSegZona').val();
        if (PaisId != -1) {
            $.ajaxSetup({
                cache: false,
                async: false
            });
            $.getJSON(baseUrl + 'Servicios/CargarSegmentoPais', { PaisId: PaisId }, function (data) {
                if (checkTimeout(data)) {
                    var ddlSegmentoServicio = $('#ddlSegmentoServicio');
                    ddlSegmentoServicio.empty();
                    if (data.listasegmento.length > 0) {                       
                        for (var item in data.listasegmento) {
                            if (data.listasegmento.hasOwnProperty(+item)) {

                                ddlSegmentoServicio.append('<input type="Checkbox" value="' + data.listasegmento[item].BannerSegmentoId + '" />' + data.listasegmento[item].BannerSegmentoDes + '<br>');                               
                            }
                        }

                        var ServicioId = $("#hdSeccionIdSegZon").val();
                        var CampaniaId = $('#ddlCampaniaServSegZona').val();
                        
                        $.getJSON(baseUrl + 'Servicios/ObtenerServicioCampaniaSegmentoZona', { CampaniaId: CampaniaId, ServicioId: ServicioId, PaisId: PaisId },
                            function (data) {
                                if (checkTimeout(data)) {
                                    if (data && data.Servicio && data.Servicio.SegmentoInternoID) {
                                        var segmentosInternos = data.Servicio.SegmentoInternoID.split(',');

                                        $("#ddlSegmentoServicio").find('input[type="checkbox"]').each(function () {

                                            var valor = $(this).attr('value');
                                            if ($.inArray(valor, segmentosInternos) > -1) {
                                                $(this).attr("checked", true);
                                            }
                                        });
                                    }
                                }
                            });

                    }
                }
            });
            $.ajaxSetup({
                async: true
            });
        }
        else {
            $('#ddlSegmentoServicio').empty();
        }
        return false;
    }

    function CargarServicioCampanias() {
        var ServicioId = $("#hdSeccionIdSegZon").val();
        var PaisId = $('#ddlPaisesServSegZona').val();
        if (PaisId != -1) {
            $.ajaxSetup({
                cache: false,
                async: false
            });
            $.getJSON(baseUrl + 'Servicios/CargarServicioCampanias', { ServicioId: ServicioId, PaisId: PaisId }, function (data) {
                if (checkTimeout(data)) {
                    var ddlCampaniaServSegZona = $('#ddlCampaniaServSegZona');
                    ddlCampaniaServSegZona.empty();
                    if (data.listacampanias.length > 0) {
                        ddlCampaniaServSegZona.append($('<option/>', {
                            value: "-1",
                            text: "-- Seleccione --"
                        }));
                        for (var item in data.listacampanias) {
                            if (data.listacampanias.hasOwnProperty(+item)) {
                                ddlCampaniaServSegZona.append($('<option/>', {
                                    value: data.listacampanias[item].CampaniaID,
                                    text: data.listacampanias[item].Codigo
                                }));
                            }
                        }
                    }
                }
            });
            $.ajaxSetup({
                async: true
            });
        }
        else {
            $('#ddlCampaniaServSegZona').empty();
        }
        return false;
    }

    function CargarSegmentoZonaConfigurada() {
        var ServicioId = $("#hdSeccionIdSegZon").val();
        var CampaniaId = $('#ddlCampaniaServSegZona').val();
        var PaisId = $('#ddlPaisesServSegZona').val();
        var Segmento = -1;
        var ConfiguracionZona = "";
        $.ajaxSetup({
            cache: false,
            async: false
        });
        $.getJSON(baseUrl + 'Servicios/ObtenerSegmentoZona', { ServicioId: ServicioId, CampaniaId: CampaniaId, PaisId: PaisId }, function (data) {
            if (checkTimeout(data)) {
                Segmento = data.Segmento,
                ConfiguracionZona = data.ConfiguracionZona
            }
        });
        $.ajaxSetup({
            async: true
        });

        $('#ddlSegmentoServicio').val(Segmento);
        return ConfiguracionZona;
    }

    function GuardarInformacionServiciosSegmentoZona() {
        waitingDialog({});
        var PaisId = $('#ddlPaisesServSegZona').val();
        if (PaisId == '') {
            alert('Debe seleccionar un país.');
            return false;
        }

        var CampaniaId = $('#ddlCampaniaServSegZona').val();
        if (CampaniaId == '') {
            alert('Debe seleccionar una campaña.');
            return false;
        }

        var ServicioId = $("#hdSeccionIdSegZon").val();
        var Segmento = -100;

        var SegmentoInterno = "";

        $("#ddlSegmentoServicio").find('input[type="checkbox"]').each(function () {
            if ($(this).attr("checked")) {
                SegmentoInterno += $(this).val() + ",";
            }
        });
        if (SegmentoInterno != "") {
            SegmentoInterno = SegmentoInterno.substring(0, SegmentoInterno.length - 1);
        }

        var zonas = "";
        $.jstree._reference($("#arbolRegionZona")).get_checked(null, true).each(function () {
            if (this.className.toLowerCase().indexOf("jstree-leaf") == -1) {
                return true;
            }
            zonas += this.id + ",";
        });
        if (zonas != "") {
            zonas = zonas.substring(0, zonas.length - 1);
        }
        if (zonas == "") {
            alert("No se ha marcado ninguna zona o región.");
            return false;
        }
        $.ajaxSetup({
            cache: false,
        });
        $.getJSON(baseUrl + 'Servicios/UpdServicioCampaniaSegmentoZona', { ServicioId: ServicioId, CampaniaId: CampaniaId, PaisId: PaisId, Segmento: Segmento, ConfiguracionZona: zonas, SegmentoInternoId: SegmentoInterno }, function (data) {
            if (checkTimeout(data)) {
                alert(data.Mensaje);
                $('#ddlPaisesServSegZona').val('')
                $('#ddlCampaniaServSegZona').val('')
                $("#arbolRegionZona").html("");
                $('#ddlSegmentoServicio').empty();
            }
        });
        closeWaitingDialog();
        return false;
    }

    function ConfigurarArbol(Zonas) {
        $.ajaxSetup({
            cache: false
        });
        $("#arbolRegionZona").jstree({
            json_data: {
                ajax: {
                    url: baseUrl + "Servicios/CargarArbolRegionesZonas",
                    data: function (n) {
                        return { pais: $("#ddlPaisesServSegZona").val() };
                    },
                    type: "GET",
                    error: function (XMLHttpRequest, textStatus, errorThrown) { },
                    success: function (data, textStatus, jqXHR) { },
                    complete: function () {
                        $("#arbolRegionZona").jstree("set_theme", "apple", "@Url.Content("~/Content/Css/jstree/apple/stylejstree.css")");

                        var strZonas = Zonas;
                        if (strZonas != "") {
                            $.jstree._reference($("#arbolRegionZona")).uncheck_all();
                            var strZonasArreglo = strZonas.split(",");
                            for (i = 0; i < strZonasArreglo.length; i++) {
                                $("#arbolRegionZona").jstree("check_node", "#" + strZonasArreglo[i], true);
                            }
                            $("#chkSeleccionar").attr("checked", true);
                            $.jstree._reference($("#arbolRegionZona")).get_unchecked(null, true).each(function () {
                                if (this.className.toLowerCase().indexOf("jstree-leaf") == -1) {
                                    return true;
                                }
                                $("#chkSeleccionar").attr("checked", false);
                            });
                        } else {
                            $.jstree._reference($("#arbolRegionZona")).check_all();
                            var zonas = "";
                            $.jstree._reference($("#arbolRegionZona")).get_checked(null, true).each(function () {
                                if (this.className.toLowerCase().indexOf("jstree-leaf") == -1) {
                                    return true;
                                }
                                zonas += this.id + ",";
                            });
                            if (zonas != "") {
                                zonas = zonas.substring(0, zonas.length - 1);
                            }

                            $("#chkSeleccionar").attr("checked", true);
                        }
                        $('#arbolRegionZona').jstree('close_all');
                    }
                }
            },
            "themes": {
                "theme": "apple",
                "dots": true,
                "icons": false
            },
            plugins: ["themes", "json_data", "ui", "checkbox"]
        });
        return false;
    }

    function IniDialog() {
        $('#DialogRegistroServicio').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 600,
            draggable: true,
            title: "Ingresa o Actualiza el Servicio",
            buttons:
            {
                "Guardar": function () {
                    Grabar();
                },
                "Cancelar": function () {
                    $(this).dialog('close');
                }
            }
        });
        $('#DialogSegZonaServicio').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 450,
            draggable: true,
            title: "Segmento y Zona",
            buttons:
            {
                "Grabar": function () {
                    GuardarInformacionServiciosSegmentoZona();
                },
                "Cancelar": function () {
                    $(this).dialog('close');
                }
            }
        });
    };

    function IniDialogParametro() {
        $('#DialogoParametros').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 470,
            draggable: true,
            title: "Lista de Parámetros",
            buttons:
            {
                "Salir": function () {
                    $(this).dialog('close');
                }
            }
        });
    };

    function Grabar() {
        if (jQuery.trim($('#txtDescripcionD').val()) == "") {
            alert('Ingresar Descripción');
            $('#txtDescripcion').focus();
            return false;
        }
        if (jQuery.trim($('#txtUrlD').val()) == "") {
            alert('Ingresar Url');
            $('#txtUrl').focus();
            return false;
        }
        if (!ValidaURL(jQuery.trim($('#txtUrlD').val()))) {
            alert('Formato de Url incorrecto.');
            $('#txtUrl').focus();
            return false;
        }
        var item = {
            ServicioId: $('#hdServicioId').val(),
            Descripcion: jQuery('#txtDescripcionD').val(),
            Url: jQuery('#txtUrlD').val()
        };
        waitingDialog({});
        jQuery.ajax({
            type: 'POST',
            url: baseUrl + 'Servicios/Mantener',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(item),
            async: true,
            success: function (data) {

                if (checkTimeout(data)) {

                    if (data.success == true) {
                        var item = data.items;
                        alert(data.message);
                        HideDialog("DialogRegistroServicio");
                        fnGrilla();
                    }
                    else {
                        alert(data.message);
                    }
                }
                closeWaitingDialog();
            },
            error: function (data, error) {

                if (checkTimeout(data)) {

                    alert(data.message);
                }
                closeWaitingDialog();
            }
        });
        closeWaitingDialog();
    }

    function ValidaURL(url) {
        var regex = /^(ht|f)tps?:\/\/\w+([\.\-\w]+)?\.([a-z]{2,4}|travel)(:\d{2,5})?(\/.*)?$/i;

        var regex = /^(https?|ftp):\/\/[^\/\s]+(\/.*)?$/;

        return regex.test(url);
    }

    function AbrirModal() {
        limpiar();
        showDialog("DialogRegistroServicio");
        return false;
    }

    function limpiar() {
        $('#hdServicioId').val("0");
        $('#txtDescripcionD').val("");
        $('#txtUrlD').val("");
    }

    function fnGrilla() {
        jQuery("#list").jqGrid({
            url: baseUrl + "Servicios/ConsultarServicios",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                vDescripcion: function () { return jQuery.trim($("#txtDescripcion").val()); }
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['ServicioId', 'Nombre', 'Url', 'Opción'],
            colModel: [
                { name: 'ServicioId', index: 'ServicioId', width: 0, editable: false, align: 'center', hidden: true },
                { name: 'Descripcion', index: 'Descripcion', width: 50, editable: true, resizable: false },
                { name: 'Url', index: 'Url', width: 40, editable: false, resizable: false },
                { name: 'Activo', index: 'Activo', width: 10, editable: true, sortable: false, align: 'center', resizable: false, formatter: ShowActions }
            ],
            jsonReader:
                {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: true,
                    cell: "cell"
                },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'ServicioId',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 930,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function () { },
            gridComplete: function () { }
        });
        jQuery("#list").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
    };

    function ShowActions(cellvalue, options, rowObject) {
        var cellValueInt = parseInt(cellvalue);
        var Edit = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#list').Editar('" + rowObject[0] + "','" + rowObject[1] + "','" + rowObject[2] + "');\" >" + "<img src='@Url.Content("~/Content/Images/Edit.png")' alt='Editar' title='Editar' border='0' /></a>";
        var Del = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#list').Eliminar('" + rowObject[0] + "');\" >" + "<img src='@Url.Content("~/Content/Images/Delete.png")' alt='Eliminar' title='Eliminar' border='0' /></a>";
        var Par = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#list').AgregarParametro('" + rowObject[0] + "');\" >" + "<img src='@Url.Content("~/Content/Images/list_add_font.png")' alt='Parametros' title='Agregar Parametros' border='0' /></a>";
        //RQ_PBS - R2161
        var Conf = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#list').ConfigurarSegZona('" + rowObject[0] + "');\" >" + "<img src='@Url.Content("~/Content/Images/configuracion.png")' alt='Configurar Segmento y Zona' title='Configurar Segmento y Zona' border='0' /></a>";
        return Edit + Del + Par + Conf;
    };

    function fnGrilla2(id) {
        jQuery("#list2").jqGrid({
            url: baseUrl + "Servicios/ConsultarParametrosbyServicios",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                ServicioId: function () { return jQuery.trim($("#hdServicioId_Param").val()); }
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['Correlativo', 'ServicioId', 'ParametroId', 'Descripción', 'Opción'],
            colModel: [
                { name: 'Correlativo', index: 'Correlativo', width: 0, editable: false, align: 'center', hidden: true },
                { name: 'ServicioId', index: 'ServicioId', width: 0, editable: false, align: 'center', hidden: true },
                { name: 'ParametroId', index: 'ParametroId', width: 0, editable: true, resizable: false, hidden: true },
                { name: 'Descripcion', index: 'Descripcion', width: 80, editable: false, resizable: false },
                { name: 'Activo', index: 'Activo', width: 20, editable: true, sortable: false, align: 'center', resizable: false, formatter: ShowActions2 }
            ],
            cmTemplate: { sortable: false },
            jsonReader:
                {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: true,
                    cell: "cell"
                },
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 100,
            scrollOffset: 0,
            rowList: [100, 200, 300, 400, 500],
            sortname: 'ServicioId',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 400,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function () { },
            gridComplete: function () { }
        });
        jQuery("#list2").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
    };

    function ShowActions2(cellvalue, options, rowObject) {
        var cellValueInt = parseInt(cellvalue);
        var Del = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#list2').EliminarParametro('" + rowObject[1] + "','" + rowObject[2] + "');\" >" + "<img src='@Url.Content("~/Content/Images/Delete.png")' alt='Eliminar' title='Eliminar' border='0' /></a>";
        return Del;
    };

    $.jgrid.extend({
        Editar: function (Id, descripcion, url) {
            AbrirModal();
            $('#hdServicioId').val(Id);
            $('#txtDescripcionD').val(descripcion);
            $('#txtUrlD').val(url);
            return false;
        },
        Eliminar: function (Id) {
            var elimina = confirm('¿ Está seguro que desea eliminar el registro seleccionado?');
            if (!elimina)
                return false;
            waitingDialog({});
            jQuery.ajax({
                type: 'POST',
                url: baseUrl + 'Servicios/Delete',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ ServicioID: Id }),
                async: true,
                success: function (data) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        limpiar();
                        if (data.success == true) {
                            alert(data.message);
                            fnGrilla();
                        }
                        else
                            alert(data.message);
                    }
                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        alert("ERROR");
                    }
                }
            });
            return false;
        },
        EliminarParametro: function (IdServicio, IdParametro) {
            var elimina = confirm('¿ Está seguro que desea eliminar el registro seleccionado?');
            if (!elimina)
                return false;
            waitingDialog({});
            jQuery.ajax({
                type: 'POST',
                url: baseUrl + 'Servicios/DeleteServicioParametro',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ ServicioID: IdServicio, ParametroId: IdParametro }),
                async: true,
                success: function (data) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        limpiar();
                        if (data.success == true) {
                            alert(data.message);
                            fnGrilla2();
                        }
                        else
                            alert(data.message);
                    }
                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        alert("ERROR");
                    }
                }
            });
            return false;
        },
        AgregarParametro: function (Id) {
            showDialog("DialogoParametros");
            $("#ddlParametro").val("");
            $('#hdServicioId_Param').val(Id);
            fnGrilla2();
            return false;
        },
        ConfigurarSegZona: function (id, obj) {
            var subgrid = $(obj).closest('table');
            
            $('#hdSeccionIdSegZon').val(id);
            $("#arbolRegionZona").html("");
            $('#ddlSegmentoBanner').empty();
            $('#ddlCampaniaServSegZona').empty();
            $('#ddlSegmentoServicio').empty();


            $.ajaxSetup({ cache: false });
            $.getJSON(baseUrl + 'Servicios/CargarServicioPaises', { ServicioId: id }, function (data) {
                if (checkTimeout(data)) {
                    var ddlPaisesServSegZona = $('#ddlPaisesServSegZona');
                    ddlPaisesServSegZona.empty();
                    if (data.listapaises.length > 0) {
                        ddlPaisesServSegZona.append($('<option/>', {
                            value: "",
                            text: "-- Seleccionar --"
                        }));
                        for (var item in data.listapaises) {
                            if (data.listapaises.hasOwnProperty(+item)) {
                                ddlPaisesServSegZona.append($('<option/>', {
                                    value: data.listapaises[item].PaisID,
                                    text: data.listapaises[item].Nombre
                                }));
                            }
                        }
                    }
                }
            });

            $('#DialogSegZonaServicio').dialog('option', 'title', 'Configuración de Segmento y Zonas');
            $('#DialogSegZonaServicio').dialog('open');
            return false;
        }
    });

    function AgregarParametroServicio() {
        if (jQuery.trim($('#ddlParametro').val()) == "") {
            alert('Seleccionar Parámetro');
            $('#ddlParametro').focus();
            return false;
        }
        var item = {
            ServicioId: $('#hdServicioId_Param').val(),
            ParametroId: jQuery('#ddlParametro').val()
        };
        waitingDialog({});
        jQuery.ajax({
            type: 'POST',
            url: baseUrl + 'Servicios/InsertParametro',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(item),
            async: true,
            success: function (data) {

                if (checkTimeout(data)) {

                    if (data.success == true) {
                        var item = data.items;
                        $("#ddlParametro").val("");
                        fnGrilla2();
                    }
                    else {
                        alert(data.message);
                    }
                }
                closeWaitingDialog();
            },
            error: function (data, error) {

                if (checkTimeout(data)) {

                    alert(data.message);
                }
                closeWaitingDialog();
            }
        });
        closeWaitingDialog();
    }
</script>

<div class="wrap_cab">
    <div class="filtros">
        <div class="elements">
            <div class="div-2">
                <h1>Administración <span>de Servicios</span></h1>
            </div>
            <div class="div-3">
                <div class="titG">Nombre:</div>
                <div class="selectA borde_redondeado">
                    @Html.TextBoxFor(model => model.Descripcion, new { maxlength = 20, id = "txtDescripcion" })
                </div>
                <div class="input_search">
                    <input type="submit" value="Buscar" id="btnBuscar" name="">
                </div>
            </div>
            <div class="div-3">
                <div class="titG"></div>
                <div class="new_left"><a href="#" onclick="return AbrirModal();">+ Agregar nuevo Servicio</a></div>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper">
            <table id="list"></table>
            <div id="pager"></div>
        </div>
    </div>
</div>

<div id="DialogRegistroServicio" style="display: none;">
    <div class="Content_modal">
        <div class="div-3">
            <div class="titJ">Nombre:</div>
            <div class="selectA borde_redondeado">
                <input id="txtDescripcionD" type="text">
            </div>
        </div>
        <div class="div-3">
            <div class="titJ">URL:</div>
            <div class="selectA borde_redondeado">
                <input id="txtUrlD" type="text">
            </div>
        </div>
    </div>
    @Html.Hidden("hdServicioId")
</div>

<div id="DialogoParametros" style="display: none;">
    <div class="Content_modal">
        <div class="div-3">
            <div class="titC">Parámetro:</div>
            <div class="selectP2 borde_redondeado">
                @Html.DropDownListFor(model => model.ParametroId, new SelectList(Model.listaParametros, "ParametroId", "Descripcion"), "-- Seleccionar --", new { id = "ddlParametro" })
            </div>
            <div class="input_search">
                <input type="submit" value="Agregar" id="btnAgregar" name="">
            </div>
        </div>
        <div class="border-wrapper">
            <table id="list2"></table>
        </div>
    </div>
    @Html.Hidden("hdServicioId_Param")
</div>
<div id="DialogSegZonaServicio" style="display: none">
    <div class="Content_modal">
        @Html.Hidden("hdSeccionIdSegZon")
        <div class="div-3">
            <div class="titC">País:</div>
            <div class="selectA borde_redondeado">
                <select id="ddlPaisesServSegZona"></select>
            </div>
        </div>
        <div class="div-3">
            <div class="titC">Campaña:</div>
            <div class="selectA borde_redondeado">
                <select id="ddlCampaniaServSegZona"></select>
            </div>
        </div>
        <div class="div-3">
            <div class="titC">Segmento:</div>
            <div class="selectA borde_redondeado">
                <ul id="ddlSegmentoServicio"></ul>&nbsp;
            </div>
        </div>
        <div class="div-3">
            <div class="titC">Jerarquía:</div>
            <div class="treeview_content borde_redondeado">
                <div id="arbolRegionZona" class="demo">
                </div>
            </div>
        </div>
        <div class="div-3">
            <div class="titC"></div>
            <div class="titH">
                <label id="lblSeleccionar">
                    <input type="checkbox" id="chkSeleccionar" />
                    Seleccionar todo</label>
            </div>
        </div>
    </div>
</div>
