
@using Portal.Consultoras.Common

@model Portal.Consultoras.Web.Models.RevistaDigitalLandingModel
@{
    ViewBag.Title = "Guía de Negocio Digitalizada";
    Layout = "~/Views/Shared/_MainLayoutContenedor.cshtml";
    var idBorrar = "borrar" + Model.CampaniaID;
}

@section styles{
    @System.Web.Optimization.Styles.Render("~/Bundle/Css/Desktop/GuiaNegocio")
}

<div class="BloqueLandingRD" data-listado-campania="@Model.CampaniaID">
    <div class="content_belcorp parche_productos_1000" data-listado-content="">

        <div id="orderby-filter">
            <div id="divBusquedaFiltros" class="rd-busqueda-filtros">
                <div class="rd-seccion2">
                    <div id="divCantProductos" class="cantidad_productos_fix cantidad_productos_fav" style="text-align:left;">
                        <div class="rd-cantidad">
                            Mostrando <span id="spnCantidadFiltro">0</span> de <span id="spnCantidadTotal">0</span>
                        </div>
                        <div class="rd-filtro-limpiar">
                            <div id="div-delete-filters" style="display: none; margin-right: 0px;">
                                <a href="javascript:;" class="link-ffc_landing" data-filtro-tipo="@idBorrar" style="text-decoration: underline;">Borrar Filtros</a>
                            </div>
                        </div>
                    </div>
                    <div id="divFiltros" class="rd-fitlros-fix rd-filtros">
                        @if (Model.FiltersByBrand.Any())
                        {
                            <select class="marca_ept" data-filtro-tipo="fijo" data-filtro-campo="marca">
                                @foreach (var item in Model.FiltersByBrand)
                                {
                                    <option value="@item.Codigo">@item.Descripcion</option>
                                }
                            </select>
                        }
                        @if (Model.FiltersBySorting.Any())
                        {
                            <select class="marca_ept" data-filtro-tipo="fijo" data-filtro-campo="precio" data-filtro-accion="orden">
                                @foreach (var item1 in Model.FiltersBySorting)
                                {
                                    <option value="@item1.Codigo">@item1.Descripcion</option>
                                }
                            </select>
                        }

                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>


        <div id="RDListado" data-content-item="@Model.CampaniaID"
             data-OrigenPedidoWeb="@Constantes.OrigenPedidoWeb.DesktopLandingGNDGNDCarrusel"
             data-OrigenPedidoWeb-popup="@Constantes.OrigenPedidoWeb.DesktopLandingGNDGNDFicha">

            <div id="divOfertaProductos" style="text-align: center;"></div>
            <div id="no-productos" class="seccion-no-productos">
                Próximamente encontrarás aquí las mejores ofertas que te harán ganar más y obtener más ingresos.<br />
                ¡Vuelve pronto!
            </div>
            <hr class="clear" />
        </div>
    </div>
    <hr class="clear" />
    <div id="divOfertaProductosLoad" style="display: none;">Cargando Productos<br></div>
    <hr class="clear" />
</div>

<hr class="clear" />

@Html.Partial("~/Views/EstrategiaPersonalizada/template-producto-landing.cshtml")

@* DEUDA TECNICA <div class="contenedor_popup_detalleCarousel" id="popupDetalleCarousel_lanzamiento" data-popup-main=""></div>*@
@* DEUDA TECNICA
    @Html.Partial("~/Views/EstrategiaPersonalizada/template-producto-verdetalle.cshtml")*@

@* DEUDA TECNICA <div class="contenedor_popup_detalleCarousel" id="popupDetalleCarousel_packNuevas"></div>*@
@* DEUDA TECNICA
    @Html.Partial("~/Views/EstrategiaPersonalizada/template-producto-packnueva.cshtml")*@

<div class="flecha_scroll">
    <a href="javascript:;" title="Flecha Scroll" class="enlace_scroll"></a>
</div>

@Html.Partial("~/Views/GuiaNegocio/_GuiaNegocioFlotante.cshtml")

@section scripts{
    <script type="text/javascript">
    var urlLoad = '@Url.Content("~/Content/Images/loading_spinner.gif")';
    var tipoOrigenPantalla = 1;
    var urlOfertaCargarProductos = '@Url.Action("GNDObtenerProductos", "Estrategia", new { area = ""})';
    var origenPedidoWebEstrategia = '@Constantes.OrigenPedidoWeb.DesktopLandingGNDGNDCarrusel';
    var urlOfertaDetalleProductoTem = '@Url.Action("GuardarProductoTemporal", "Estrategia", new { area = "" })';
    var tipoOrigenEstrategia = 1;
    var CantidadFilas = @Model.CantidadFilas;
    var mayormenor = '@Constantes.ShowRoomTipoOrdenamiento.ValorPrecio.MayorAMenor';
    var menormayor = '@Constantes.ShowRoomTipoOrdenamiento.ValorPrecio.MenorAMayor';
    var lsListaRD = "GNDLista";
    var campaniaId = @Model.CampaniaID;
    var defaultImageRevista = '@Url.Content("~/Content/Images/revista_no_disponible.jpg")';
    var urlObtenerPortadaRevista = '@Url.Action("ObtenerPortadaRevista", "Catalogo", new { area = "Mobile" })';
    var RevistaCodigoIssuu = {
        '@Model.CampaniaID': '@ViewBag.CodigoRevistaActual'
    };
    var contadorgnddesktop = 1;

    </script>
    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/Desktop/GuiaNegocio")
}