@using Portal.Consultoras.Web.Helpers
@using Portal.Consultoras.Web.Models
@model NotificacionesModel
@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}

@section styles{
    <style type="text/css">
        body {
            background: #FFF !important;
        }
    </style>
}

<div class="titulo_mobile">
    @{  var mobileConfiguracion = Html.MobileAppConfiguracion();
        if (mobileConfiguracion.MostrarBotonAtras)
        {
            <a href="@Request.UrlReferrer" class="enlace_regresar catalogosR" title="Regresar"></a>
        } }
    &nbsp;&nbsp;&nbsp;&nbsp;MIS NOTIFICACIONES
</div>
<div class="pestana_esika"></div>
<div class="pestana_lbel"></div>

<div class="col-xs-12">
    <ul class="list-notificaciones noti-detalle">
        <li>

            <div class="text-noti">
                <div class="sub_titulo_noti">
                    <span>@ViewBag.Asunto</span>
                    <span>CAMPAÑA @ViewBag.Campania.ToString().Substring(4) @ViewBag.Campania.ToString().Substring(0, 4)</span>
                </div>
                <span>@ViewBag.FechaEjecucion</span>
            </div>
        </li>
    </ul>
</div>
<hr class="clear" />

<div class="col-xs-12 notificaciones_detalle_mobile">
    <p class="consultora_saludo_noti">Te ha llegado el siguiente pedido a través del Catálogo Virtual.</p>
    <div class="list-table">
        <ul>
            <li>
                Nombre de cliente: <strong>@Model.NotificacionDetalleCatalogo.NombreCliente</strong>
            </li>
            <li>
                Correo: <strong>@Model.NotificacionDetalleCatalogo.CorreoCliente</strong>
            </li>
            <li>
                Teléfono: <strong>@Model.NotificacionDetalleCatalogo.TelefonoCliente</strong>
            </li>
        </ul>
    </div>

    @if (!string.IsNullOrEmpty(Model.NotificacionDetalleCatalogo.DetalleNotificacion))
    {
        <div id="divTablaDetalle" class="hide">
            @Html.Raw(Model.NotificacionDetalleCatalogo.DetalleNotificacion)
        </div>
        <h3 class="title-line">Detalle del pedido</h3>
        <p class="consultora_saludo_noti" style="margin:20px 0 0 0">A continuación se detalla lo que el cliente ha solicitado y el precio que espera pagar.</p>
        <div id="DetalleNotificacion">

        </div>
    }
    <hr class="clear" />
    <div class="left_reservado">
        <div class="importe_final">
            <b>MONTO TOTAL</b>
        </div>

    </div>
    <div class="right_reservado">
        <div class="importe_final" style="font-size:15px"><b id="spanTotalPedido"></b></div>
    </div>
    <hr class="clear" />
    <p class="firma_notificaciones">

        Gracias,
        <br>
        Equipo de Belcorp.

    </p>
    <br>
</div>

@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            CargarDetallePedido();
        });

        function CargarDetallePedido() {

            var tbl = $('#divTablaDetalle table tr:has(td)').map(function (i, v) {
                var $td = $('td', this);
                return {
                    id: ++i,
                    codigo: $td.eq(0).text(),
                    descripcion: $td.eq(1).text(),
                    cantidad: $td.eq(2).text(),
                    precioUnitario: $td.eq(3).text(),
                    precioTotal: $td.eq(4).text()
                }
            }).get();

            if (tbl.length > 0) {
                for (var i in tbl) {
                    if (i == (tbl.length - 1)) break;

                    var htmlTable = '';
                    htmlTable += '<div class="detalle_notificaciones">';
                    htmlTable += '  <div class="left_reservado" style="width:235px;">';
                    htmlTable += '      <div class="datos_Reservado">';
                    htmlTable += '          <span>' + tbl[i].codigo + '</span>';
                    htmlTable += '          <span>' + tbl[i].descripcion + '<span>';
                    htmlTable += '      </div>';
                    htmlTable += '  </div>';
                    htmlTable += '  <div class="right_reservado">';
                    htmlTable += '      <div class="texto_reservado">CANT</div>';
                    htmlTable += '      <div class="datos_Reservado"><b>' + tbl[i].cantidad + '</b></div>';
                    htmlTable += '  </div>';
                    htmlTable += '  <hr class="clear"><br>';
                    htmlTable += '  <div class="left_reservado">';
                    htmlTable += '      <div class="texto_reservado">';
                    htmlTable += '          <span>Precio Unitario</span>';
                    htmlTable += '      </div>';
                    htmlTable += '      <div class="importe_reservado">SUBTOTAL</div>';
                    htmlTable += '  </div>';
                    htmlTable += '  <div class="right_reservado">';
                    htmlTable += '      <div class="texto_reservado">';
                    htmlTable += '          <span>' + tbl[i].precioUnitario + '</span>';
                    htmlTable += '      </div>';
                    htmlTable += '      <div class="importe_reservado">' + tbl[i].precioTotal + '</div>';
                    htmlTable += '  </div>';
                    htmlTable += '</div>';
                    $('#DetalleNotificacion').append(htmlTable);
                }
                $('#spanTotalPedido').html(' ' + tbl[tbl.length - 1].precioTotal);
            }
        }

    </script>
}