@using Portal.Consultoras.Web.CustomHelpers
@model Portal.Consultoras.Web.Areas.Mobile.Models.NotificacionesMobileModel
@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}

@section styles{
    <style type="text/css">
        body {
            background: #FFF !important;
        }
    </style>
}

<div class="titulo_mobile">
    @{ var mobileConfiguracion = Html.MobileAppConfiguracion();
        if (mobileConfiguracion.MostrarBotonAtras)
        {
            <a href="@Request.UrlReferrer" class="enlace_regresar catalogosR" title="Regresar"></a>
        } }
    &nbsp;&nbsp;&nbsp;&nbsp;MIS NOTIFICACIONES
</div>
<div class="pestana_esika"></div>
<div class="pestana_lbel"></div>

<div class="col-xs-12">
    <ul class="list-notificaciones noti-detalle">
        <li>
            <div class="text-noti">
                <div class="sub_titulo_noti">
                    <span>@Model.Asunto</span>
                </div>
                <span>@Model.FechaFacturacion</span>
            </div>
        </li>
    </ul>
</div>
<br />

<div class="col-xs-12 notificaciones_detalle_mobile">
    <p class="consultora_saludo_noti" style="margin-bottom:5px;"><b>Hola @Model.NombreConsultora</b></p>

    <span id="sMensajeFacturacion" style="margin-bottom:10px; display:block">Te informamos lo siguiente:</span>
    @foreach (var item in Model.ListaNotificacionesDetallePedido)
    {
        <div class="detalle_notificaciones" style="border-bottom:0; padding-bottom:0; padding-top:0px; padding-left:20px;">
            @Html.DisplayTextFor(modelItem => item.ObservacionPROL)
        </div>
    }

    <hr class="clear" />
    <p class="firma_notificaciones">
        Gracias, <br />
        Equipo de Belcorp.
    </p>
    <br />
</div>