@using Portal.Consultoras.Web.Models
@using System.Globalization;
@using Portal.Consultoras.Web.Helpers
@model SolicitudClienteConsultoraModel
@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}

@section styles{
    <style type="text/css">
        body {
            background: #FFF !important;
        }
    </style>
}

<input type="hidden" id="hdSolicitudId" value="@Model.SolicitudClienteId" />

<div class="titulo_mobile">
    @{  var mobileConfiguracion = Html.MobileAppConfiguracion();
        if (mobileConfiguracion.MostrarBotonAtras)
        {
            <a href="@Request.UrlReferrer" class="enlace_regresar catalogosR" title="Regresar"></a>
        } }
    &nbsp;&nbsp;&nbsp;&nbsp;MIS NOTIFICACIONES
</div>
<div class="pestana_esika"></div>
<div class="pestana_lbel"></div>

<div class="col-xs-12">
    <ul class="list-notificaciones noti-detalle">
        <li>

            <div class="text-noti">
                <div class="sub_titulo_noti">
                    <span>@Model.Asunto</span>
                    <span>CAMPAÑA @Model.Campania.ToString().Substring(4) @Model.Campania.ToString().Substring(0, 4)</span>

                </div>
                <span>@Model.FechaEjecucion</span>
            </div>
        </li>
    </ul>
</div>




<br />


<div class="col-xs-12">
    @if (String.IsNullOrEmpty(Model.Estado))
    {
        <p style="text-align: justify;">
            Tienes hasta el @Model.FechaEjecucion.ToString("dddd", new CultureInfo("es-ES")) <strong>@Model.FechaDescripcion a las @Model.FechaEjecucion.ToString("HH:mm") horas</strong> para contactarte con tu nuevo cliente y notificarnos
            si vas aceptar o rechazar su pedido presionando los botones al final de este mensaje. <br />Sus datos son:
        </p>
    }
    else if (Model.Estado.Equals("A"))
    {
        <p>Has aceptado la solicitud de pedido.<br /> Sus datos son:</p>
    }
</div>


<div class="col-xs-12">
    <div class="list-table">
        <ul>
            <li>
                Nombre de cliente: <strong>@Model.NombreCliente</strong>
            </li>
            <li>
                Correo: <strong>@Model.EmailCliente</strong>
            </li>
            <li>
                Teléfono: <strong>@Model.TelefonoCliente</strong>
            </li>
        </ul>
    </div>
    <br />
    @if (Model.lsProductosDetalle.Count > 0)
    {
        <h3 class="title-line">Detalle del pedido</h3>
            <p style="text-align: justify;">A continuación se detalla lo que el cliente ha solicitado y el precio que espera pagar. En caso no figure el precio, guíate por el precio que figura en el catálogo.</p>
            <div class="list-table-new">
                <ul class="list-table-title upper">
                    <li>Productos <span class="table-title-right">Cant</span></li>
                </ul>
                <ul class="list-table-body">
                    @foreach (var item in Model.lsProductosDetalle)
                    {
                        var preciounitario = String.Format("{0}", String.Format("{0:#,##0.00}", item.Precio));
                        var preciototal = String.Format("{0}", String.Format("{0:#,##0.00}", item.Precio * (decimal)item.Cantidad));

                        <li>
                            <input type="hidden" class="cDescripcionMarca" value="@item.DescripcionMarca" />
                            <input type="hidden" class="cID" value="@item.CUV" />
                            <input type="hidden" class="cDescripcion" value="@item.DescripcionProducto" />
                            <input type="hidden" class="cCantidad" value="@item.Cantidad" />
                            <input type="hidden" class="cPrecioUnitario" value="@item.Precio" />

                            <div class="posr">
                                <div class="table-width">
                                    <strong class="upper">@item.DescripcionProducto</strong>

                                    <div class="mb-10">
                                        <strong class="text-lg">@item.CUV</strong>
                                    </div>

                                    @if (Model.MarcaID != 2)
                                    {
                                        <div>
                                            Precio Unitario :
                                            @if (ViewBag.PaisID == 4)
                                            {
                                                <span>@ViewBag.Simbolo @String.Format("{0:#,##0}", item.Precio).Replace(',', '.')</span>
                                            }
                                            else
                                            {
                                                <span>@ViewBag.Simbolo @String.Format("{0:#,##0.00}", item.Precio)</span>
                                            }
                                            <br />

                                            <div class="upper">
                                                <strong>Subtotal </strong>
                                                <strong>
                                                    @if (ViewBag.PaisID == 4)
                                                    {
                                                        <span>@ViewBag.Simbolo @String.Format("{0:#,##0}", item.Precio * (decimal)item.Cantidad).Replace(',', '.')</span>
                                                    }
                                                    else
                                                    {
                                                        <span>@ViewBag.Simbolo @String.Format("{0:#,##0.00}", item.Precio * (decimal)item.Cantidad)</span>
                                                    }
                                                </strong>
                                            </div>
                                        </div>
                                    }
                                </div>

                                <div class="cantidad-numero">
                                    <span class="num-cuadro"> @item.Cantidad </span>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <br />
            <div class="text-right text-success upper" style="font-size:1.2em;">
                <strong>Total Pedido</strong> @ViewBag.Simbolo @string.Format("{0:N2}", Model.lsProductosDetalle.Sum(p => (p.Cantidad * p.Precio)))
            </div>
            <hr class="success" />
    }

    <div class="form-group form-controls-grey">
        <div id="MensajeClienteInfo" style="color:red"></div>
        <br />
        <div style="margin-bottom: 10px;">Este es el mensaje que le llegará al cliente una vez aceptado el pedido:</div>

        @if (String.IsNullOrEmpty(Model.Estado))
            {
                if (String.IsNullOrEmpty(Model.MensajeaCliente))
                {
                    Model.MensajeaCliente = string.Format("Gracias por haber escogido a {0} como tu Consultora. Pronto se pondrá en contacto contigo para coordinar la hora y lugar de entrega.", ViewBag.NombreCompleto);
                }

                @Html.TextAreaFor(m => m.MensajeaCliente, new { rows = 4, cols = 60, placeholder = "Máximo 250 caracteres", id = "taMensaje", @class = "form-control", maxlength = 250 })
        }
        else
        {
            @Html.TextAreaFor(m => m.MensajeaCliente, new { rows = 4, cols = 60, placeholder = "Máximo 250 caracteres", @readonly = true, id = "taMensaje", @class = "form-control", maxlength = 250 })
        }
    </div>

    <div class="block-center text-center">
        <p>
            @if (String.IsNullOrEmpty(Model.Estado))
            {
                <button id="btnGuardar" class="btn btn-line-action btn-wfijo btn-round" type="button" onclick="AceptarSolicitud(@Model.SolicitudClienteId,@Model.ConsultoraID,'@Html.Encode(Model.MarcaNombre)','@Model.EmailCliente.ToString()',' @Html.Encode(Model.NombreCliente.ToString())')">
                    Aceptar
                </button>
                    <br />
                    <br />
                    <button id="btnRechazar" type="button" class="btn btn-line-action btn-wfijo btn-round" onclick="RechazarSolicitud(@Model.SolicitudClienteId,@Model.NumIteracion,'@Model.CodigoUbigeo','@Model.Campania',@Model.MarcaID)">
                        Rechazar
                    </button>
            }
        </p>
    </div>

    <p><b>Gracias, <br> Equipo de Belcorp</b></p><br />
</div>


<div class="modal fade" id="DiagloBotonCancelar">
    <div class="modal-dialog modal-alert ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-close-belcorp"></i></button>
            </div>
            <div class="modal-body">
                <div class="text-lg">
                    Pedido Rechazado
                </div>
                <br />
                <div class="text-md">
                    Esperamos que pronto puedas aceptar solicitudes de otros clientes para que tu negocio siga creciendo.
                </div>
                <br />
                <div>
                    <a href="javascript:;" onclick="cerrarDialogo();" data-dismiss="modal" class="btn btn-line">ACEPTAR</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DiagloBotonAceptar">
    <div class="modal-dialog modal-alert ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-close-belcorp"></i></button>
            </div>
            <div class="modal-body">
                <div class="text-lg">
                    ¡Ya tienes un nuevo cliente!
                </div>
                <br />
                <div class="text-md">
                    Has aceptado esta nueva solicitud de pedido. Contacta a tu nuevo cliente, sé amable y esfuérzate por entregarle sus productos lo más pronto posible.
                </div>
                <br />
                <div>
                    <a href="javascript:;" onclick="cerrarDialogo();" data-dismiss="modal" class="btn btn-line">ACEPTAR</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {

            var ListaID = $(".cID");
            var ListaDescripcion = $(".cDescripcion");
            var ListaCantidad = $(".cCantidad");
            var ListaPrecioUnitario = $(".cPrecioUnitario");
            var ListaMarca = $(".cDescripcionMarca");

            var vcProductos = new Array();
            var variente = "";
            var categoria = "";
            var solicitudclienteid = $("#hdSolicitudId").val();

            if (ListaDescripcion.length > 0) {
                for (var i = 0; i < ListaDescripcion.length; i++) {

                    vcProductos.push({
                        'id': $(ListaID[i]).val(),
                        'name': $(ListaDescripcion[i]).val(),
                        'quantity': parseInt($(ListaCantidad[i]).val()),
                        'price': $(ListaPrecioUnitario[i]).val(),
                        'brand': $(ListaMarca[i]).val()
                    });
                }
                dataLayer.push({
                    'event': 'orderRequest',
                    'order': {
                        'id': solicitudclienteid,
                        'products': vcProductos
                    }
                });
            }
        });

        function cerrarDialogo() {
            location.href = '@Url.Action("index", "Notificaciones", new { area = "Mobile" })';
        }

        function AceptarSolicitud(SolicitudClienteId, ConsultoraID, Marca, EmailCliente, NombreCliente) {

            var MensajeaCliente = $('#taMensaje').val();
            var error = 0;
            if ($.trim(MensajeaCliente).length == 0) {
                messageInfo("Ingrese un mensaje");
                return;
            }
            ShowLoading();
            var params = {
                SolicitudId: SolicitudClienteId,
                ConsultoraID: ConsultoraID,
                emailCliente: EmailCliente,
                NombreCliente: NombreCliente,
                MensajeaCliente: MensajeaCliente,
                Marca: Marca
            };
            $.ajax({
                type: "POST",
                url: '@Url.Action("AceptarSolicitud", "Notificaciones", new { area = "Mobile" })',
                contentType: 'application/json',
                data: JSON.stringify(params),
                success: function (data) {
                    if (checkTimeout(data)) {
                        dataLayer.push({ 'event': 'virtualEvent', 'category': 'CCC', 'action': 'Aceptar orden', 'label': SolicitudClienteId });
                        CloseLoading();
                        if (data.success == true) {
                            $('#MensajeClienteInfo').text('');
                            $('#DiagloBotonAceptar').modal('show');
                        } else {
                            messageInfo(data.message);
                        }
                    }
                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        CloseLoading();
                        messageInfo("Ocurrió un error inesperado. Consulte con su administrador del sistema para obtener mayor información");
                    }
                }
            });
        }

        function RechazarSolicitud(SolicitudId, NumIteracion, CodigoUbigeo, Campania, MarcaID) {
            ShowLoading();
            var params = {
                SolicitudId: SolicitudId,
                NumIteracion: NumIteracion,
                CodigoUbigeo: CodigoUbigeo,
                Campania: Campania,
                MarcaId: MarcaID
            };
            $.ajax({
                type: "POST",
                url: '@Url.Action("RechazarSolicitud", "Notificaciones", new { area = "Mobile" })',
                contentType: 'application/json',
                data: JSON.stringify(params),
                success: function (data) {
                    if (checkTimeout(data)) {
                        CloseLoading();
                        if (data.success == true) {
                            dataLayer.push({ 'event': 'virtualEvent', 'category': 'CCC', 'action': 'Rechazar orden', 'label': SolicitudId });

                            $('#DiagloBotonCancelar').modal('show');

                            $.post('@Url.Action("ActualizarEstadoNotificacion", "Notificaciones", new { area = "" })' + "?ProcesoId=" + ProcesoId + "&TipoOrigen=" + TipoOrigen, function (data) {
                            });
                        }
                    }
                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        CloseLoading();
                        messageInfo("Ocurrió un error inesperado. Consulte con su administrador del sistema para obtener mayor información");
                    }
                }
            });
        }
    </script>
}
