@using Portal.Consultoras.Web.Helpers
@using Portal.Consultoras.Common
@model Portal.Consultoras.Web.Models.CDRWebModel

@{
    ViewBag.Title = "Notificaciones CDR";
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}

@section styles
{
    @if (System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika").Contains(ViewBag.PaisAnalytics))
    {
        <link href="@Url.Content("~/Content/Css/Mobile/esika/cdr.css")" rel="stylesheet" />
    }
    else
    {
        <link href="@Url.Content("~/Content/Css/Mobile/lbel/cdr.css")" rel="stylesheet" />
    }
}

<div class="titulo_mobile">
    @{  var mobileConfiguracion = Html.MobileAppConfiguracion();
        if (mobileConfiguracion.MostrarBotonAtras)
        {
            <a href="@Request.UrlReferrer" class="enlace_regresar catalogosR" title="Regresar"></a>
        } }
    &nbsp;&nbsp;&nbsp;&nbsp;MIS NOTIFICACIONES
</div>

@{
    var formatoCampania = Model.CampaniaID.ToString().Substring(0, 4) + "-" + Model.CampaniaID.ToString().Substring(4, 2);
}

<div class="pestana_esika"></div>
<div class="pestana_lbel"></div>

<div class="wrapper_resumen_mobile">

    <div class="content_detalle_notificaciones_cdr tipografia_lato">
        <div class="saludo_consultora_en_sesion tipografia_lato_regular text-center">
            !Hola, <span class="text-uppercase">@Model.NombreConsultora!</span>
        </div>
        <div class="respuesta_solicitud_cdr tipografia_lato_bold text-center">
            @if (Model.Proceso == "CDR-CULM")
            {
                <span>HEMOS RECIBIDO TU SOLICITUD DE CAMBIOS Y DEVOLUCIONES</span>
            }
            else if (Model.Proceso == "CDR")
            {
                <span>ESTA ES LA RESPUESTA A TU SOLICITUD DE CAMBIOS Y DEVOLUCIONES</span>
            }
        </div>

        @if (Model.Proceso == "CDR-CULM")
        {
            <div class="tiempo_respuesta_solicitud_cdr tipografia_lato_regular text-center">
                En estos momentos la estamos evaluando y en 30 min te daremos una respuesta
            </div>
        }

        <div class="datos_solicitud_cdr_notificacion tipografia_lato text-center">
            <div class="dato_fecha_solicitud_cdr text-center">
                <span class="tipografia_lato_regular">Fecha</span>
                <span class="tipografia_lato_regular">@Model.FechaCulminado.Value.ToString("dd/MM/yyyy")</span>
            </div>
            <div class="dato_num_solicitud_cdr text-center">
                <span class="tipografia_lato_regular">Solicitud</span>
                <span class="tipografia_lato_regular">Nº @Model.CDRWebID</span>
            </div>
            <div class="dato_campania_solicitud_cdr text-center">
                <span class="tipografia_lato_regular">Campaña</span>
                <span class="tipografia_lato_regular">@formatoCampania</span>
            </div>
        </div>

        @if (Model.Proceso == "CDR")
        {
            <div class="contenedor_mensajes_respuesta_cdr">
                <div class="resumen_respuesta_cdr">
                    <span class="tipografia_lato_regular">Resumen: </span>
                    <span class="tipografia_lato_bold"> @Model.ResumenResolucion</span>
                </div>

                <div class="saldo_actualizado">
                    <span class="tipografia_lato_regular">Tu saldo actualizado es de:</span>
                    <span class="tipografia_lato_bold">@Model.Simbolo @Util.DecimalToStringFormat(Model.ConsultoraSaldo, Model.CodigoIso)</span>
                </div>
            </div>
        }

        <div class="lista_detalle_notificaciones_cdr">
            <div class="titulo_cabecera_lista_detalle_notificacion_cdr text-center tipografia_lato_bold">DETALLE DE LA SOLICITUD</div>

            @foreach (var item in Model.ListaDetalle)
            {
                var descripcionCompleta = "";
                if (Model.Proceso == "CDR")
                {
                    var descripcionEstado = item.Estado == Constantes.EstadoCDRWeb.Aceptado
                ? "APROBADO"
                : item.Estado == Constantes.EstadoCDRWeb.Enviado
                    ? "ENVIADO"
                    : item.Estado == Constantes.EstadoCDRWeb.Observado
                        ? "RECHAZADO"
                        : item.Estado == Constantes.EstadoCDRWeb.Pendiente
                            ? "PENDIENTE"
                            : "";

                    descripcionCompleta = item.Estado == Constantes.EstadoCDRWeb.Aceptado
                        ? ""
                        : item.Estado == Constantes.EstadoCDRWeb.Enviado
                            ? ""
                            : item.Estado == Constantes.EstadoCDRWeb.Observado
                                ? item.Observacion
                                : item.Estado == Constantes.EstadoCDRWeb.Pendiente
                                    ? "Revisa la respuesta en Somos Belcorp."
                                    : "";

                    <div class="lista_detalle_estado_solicitud_cdr">
                        <span class="tipografia_lato_bold">Estado de solicitud :</span>
                        <span class="tipografia_lato_bold color_marca text-right">@descripcionEstado</span>
                    </div>
                }

                <div class="info_detalle_notificacion_cdr">
                    <div class="detalle_producto_cdr">
                        <span class="detalle_cod_producto tipografia_lato_regular">
                            @item.CUV
                        </span>
                        <span class="detalle_nom_producto tipografia_lato_bold">
                            @item.Descripcion
                        </span>
                        <span class="detalle_cantidad_producto tipografia_lato_regular">
                            x @item.Cantidad unidades
                        </span>
                        <span class="detalle_precio_producto tipografia_lato_regular">
                            @Model.Simbolo @Util.DecimalToStringFormat(item.Precio, Model.CodigoIso)
                        </span>
                    </div>

                    <div class="detalle_cdr_solucion">
                        @if ((new List<string> {
                                        Constantes.CodigoOperacionCDR.Canje,
                                        Constantes.CodigoOperacionCDR.Devolucion,
                                        Constantes.CodigoOperacionCDR.Faltante,
                                        Constantes.CodigoOperacionCDR.FaltanteAbono }
                            ).Contains(item.CodigoOperacion))
                        {
                            <span class="detalle_cdr_solucion_titulo color_marca tipografia_lato_bold">
                                @item.Solicitud
                            </span>
                        }
                        else
                        {
                            <span class="detalle_cdr_solucion_titulo color_marca tipografia_lato_bold">
                                @item.Solicitud
                            </span>
                            <span class="detalle_cod_producto tipografia_lato_regular">
                                @item.CUV2
                            </span>
                            <span class="detalle_nom_producto tipografia_lato_bold">
                                @item.Descripcion2
                            </span>
                            <span class="detalle_cantidad_producto tipografia_lato_regular">
                                x @item.Cantidad2 unidades
                            </span>
                            <span class="detalle_precio_producto tipografia_lato_regular">
                                @Model.Simbolo @Util.DecimalToStringFormat(item.Precio2, Model.CodigoIso)
                            </span>
                        }

                        @if (descripcionCompleta != "")
                        {
                            <span class="detalle_cdr_solucion_titulo color_marca tipografia_lato_bold">
                                Motivo de rechazo
                            </span>
                            <span class="detalle_cod_producto tipografia_lato_regular">
                                @descripcionCompleta
                            </span>
                        }
                    </div>
                </div>
            }
            <a href="@Url.Action("Index","MisReclamos", new {area="Mobile"})" class="btn_verSolicitud_somosBelcorp text-center tipografia_lato_bold" title="Ver la solicitud en Somos Belcorp">
                VER LA SOLICITUD EN SOMOS BELCORP
            </a>
        </div>
    </div>

</div>