@using Portal.Consultoras.Web.Models.PagoEnLinea;
@model PagoEnLineaModel

@{
    ViewBag.Title = "Pago Exitoso";
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}

@section styles{

    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Mobile/Esika/pago-en-linea.css")">

    <style type="text/css">
        .footer-page {
            display: none;
            margin-bottom: 54px;
        }
    </style>

}

<!-- TÍTULO -->
<div class="cabecera_vista_pago_en_linea">
    <a href="@Request.UrlReferrer" class="enlace_regresar ajustePosicionFlecha" style="display:normal" title="Regresar"></a>
    &nbsp;&nbsp;&nbsp;&nbsp;MIS NOTIFICACIONES
</div>
<!-- FIN - TÍTULO -->

<div class="content_belcorp">
    <div class="pestana_lbel"></div>

    <!-- VISTA PROCESO DE PAGO EN LÍNEA -->

    <div class="proceso_de_pago_en_linea">

        <!-- VISTA PAGO EXITOSO -->

        <div class="pago_exitoso">

            <div class="icono_pago_exitoso"></div>
            <h3 class="titulo_pago_exitoso">
                <strong>Constancia de Pago</strong>
            </h3>
            <p class="mensaje_felicitacion_por_pago_exitoso">
                Muy bien @Model.NombreConsultora <span class="imagen_felicitacion"><img src="@Url.Content("~/Content/Images/celebracion-img.png")" alt="Felicitaciones" /></span>
            </p>
            @*<p class="info_constancia_pago_exitoso">
                Te enviamos una constancia de pago a tu correo o puedes revisarla <a href="" class="enlace_ir_a_notificaciones" title="Ir A Notificaciones">aquí</a>
            </p>*@
            <div class="resumen_pago_exitoso">
                <h3 class="titulo_resumen_pago_exitoso">
                    Resumen del pago
                </h3>
                <div class="resumen_pago">
                    <p class="info_num_operacion_pago">
                        Número de operación: <span class="num_operacion_pago">@Model.NumeroOperacion</span>
                    </p>
                    <p class="info_num_operacion_pago">
                        Fecha de Pago: <span class="num_operacion_pago">@Model.FechaCreacionString</span>
                    </p>
                    <div class="monto_pagado">
                        <span>Monto:</span>
                        <span>@Model.Simbolo @Model.MontoDeudaString</span>
                    </div>
                    <div class="monto_gastos_administrativos">
                        <span>Gastos administrativos:</span>
                        <span>@Model.Simbolo @Model.MontoGastosAdministrativosNotString</span>
                    </div>
                    <div class="total_monto_pagado">
                        <span>Total pagado:</span>
                        <span>@Model.Simbolo @Model.MontoDeudaConGastosNotString</span>
                    </div>
                    @*<div class="monto_saldo_pendiente">
                        <div>Saldo pendiente:</div>
                        <div>
                            <span>@Model.Simbolo</span>
                            <span>@Model.SaldoPendienteString</span>
                        </div>
                    </div>*@
                    <div class="fecha_vencimiento_saldo_pendiente">
                        <span>Fecha de Vencimiento:</span>
                        <span>@Model.FechaVencimientoString</span>
                    </div>
                </div>
            </div>
            @*<p class="info_horarios_efectivos_pagos">
                @Model.MensajeInformacionPagoExitoso
            </p>*@
        </div>

        <!-- FIN - VISTA PAGO EXITOSO -->

    </div>

    <!-- FIN - VISTA PROCESO DE PAGO EN LÍNEA -->

</div>

@section scripts{

}
