@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.CustomHelpers
@model Portal.Consultoras.Web.Models.NotificacionesModel
@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}

@section styles{
    <style type="text/css">
        body {
            background: #FFF !important;
        }
    </style>
}

<div class="titulo_mobile">
    @{ var mobileConfiguracion = Html.MobileAppConfiguracion();
        if (mobileConfiguracion.MostrarBotonAtras)
        {
            <a href="@Request.UrlReferrer" class="enlace_regresar catalogosR" title="Regresar"></a>
        } }
    &nbsp;&nbsp;&nbsp;&nbsp;MIS NOTIFICACIONES
</div>
<div class="pestana_esika"></div>
<div class="pestana_lbel"></div>

<div class="col-xs-12">
    <ul class="list-notificaciones noti-detalle">
        <li>
            <div class="text-noti">
                <div class="sub_titulo_noti">
                    <span>PEDIDO RECHAZADO DE</span>
                    <span>CAMPAÑA @Html.Raw(Model.Campania)</span>
                </div>
            </div>
        </li>
    </ul>
</div>
<br />

<div class="col-xs-12 notificaciones_detalle_mobile">
    <div style="width: 95%; margin: 0 auto;">
        <p class="consultora_saludo_noti" style="text-align: center;"><b>¡Hola @Model.NombreConsultora!</b></p>
        <br />
        <span>@Html.Raw(Model.CuerpoMensaje1)</span>
        <br />
        <div style="width: 80%; text-align: left; margin: 0 auto;">
            <ul class="vineta">
                @foreach (var item in Model.CuerpoDetalles)
                {
                    <li class="vineta1">@Html.Raw(item)</li>
                }
            </ul>
        </div>
        <br />
        <span>@Html.Raw(Model.CuerpoMensaje2)</span>
        <br /><br /><br />
        <div style="display:flex;">
            @switch (Model.MotivoRechazo)
            {
                case Constantes.GPRMotivoRechazo.Mostrar2OpcionesNotificacion:
                case Constantes.GPRMotivoRechazo.MontoMinino:
                case Constantes.GPRMotivoRechazo.MontoMaximo:
                case Constantes.GPRMotivoRechazo.ValidacionMontoMinimoStock:
                    <a class='btnnotificacion' href="@Url.Action("Index", "Pedido", new { area = "Mobile" })">MODIFICA TU PEDIDO</a>
                    break;
            }
        </div>
    </div>

    <hr class="clear" />
    <br />
    <br />
</div>
