@model Portal.Consultoras.Web.Models.NotificacionesModel
@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}

@section styles{
    <style type="text/css">
        body { background: #FFF !important; }
    </style>
}

<div class="titulo_mobile">
    <a href="@Request.UrlReferrer" class="enlace_regresar catalogosR" title="Regresar"></a>
    &nbsp;&nbsp;&nbsp;&nbsp;MIS NOTIFICACIONES
</div>
<div class="pestana_esika"></div><!--PESTANA ESIKA-->
<div class="pestana_lbel"></div><!--PESTANA LBEL-->

<div class="col-xs-12">
    <ul class="list-notificaciones noti-detalle">
        <li>
            <div class="text-noti">
                <div class="sub_titulo_noti">
                    <span>PEDIDO RECHAZADO DE</span>
                    <span>CAMPAÑA @Model.CampaniaDescripcion</span>
                </div>
                <span>@Model.FechaValidacionString</span>
            </div>
        </li>
    </ul>
</div>
<br />

<div class="col-xs-12 notificaciones_detalle_mobile">
    <p class="consultora_saludo_noti"><b>Hola @Model.NombreConsultora</b></p>
    <br /><br />

    <span id="sMensajeFacturacion"> @Model.DescripcionRechazo</span>

    <hr class="clear" />
    <p class="firma_notificaciones">
        Gracias, <br />
        Equipo de Belcorp.
    </p>
    <br />
</div>