<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=10,chrome=1" />
    <meta name="description" content="Portal de consultoras" />
    <meta name="author" content="Belcorp" />

    <title>Belcorp | Portal Consultoras</title>

    @Html.Partial("~/Views/Shared/VistaParcialMainLayout/_vpTagManagerHeader.cshtml")
    @Html.Partial("~/Views/Shared/VistaParcialMainLayout/_GoogleOptimize.cshtml")
    @Html.Partial("~/Views/Shared/VistaParcialMainLayout/_vpTagManager.cshtml")

    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900" rel="stylesheet" type="text/css">
    @if (System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika").Contains(ViewBag.PaisAnalytics == null ? "" : ViewBag.PaisAnalytics))
    {
        <link href="@Url.Content("~/Content/Images/icons/favicon_esika.ico")" rel="shortcut icon" type="image/x-icon" />
        @System.Web.Optimization.Styles.Render("~/Bundle/Css/Mixto/Site-Esika-CssSB2")
    }
    else
    {
        <link href="@Url.Content("~/Content/Images/icons/favicon_lbel.ico")" rel="shortcut icon" type="image/x-icon" />
        @System.Web.Optimization.Styles.Render("~/Bundle/Css/Mixto/Site-Lbel-CssSB2")
    }
    @System.Web.Optimization.Styles.Render("~/Bundle/Css/Desktop/Site-AsesoraOnline")
    <link href="@Url.Content("~/Content/Css/Site/calc.css")" rel="stylesheet" type="text/css" />

    @Html.Partial("~/Views/Shared/VistaParcialMainLayout/_vpVariablesGeneralesPortal.cshtml")
    <script type="text/javascript">
     var baseUrl = "@Url.Content("~")";
    </script>
    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/Desktop/JQueryJs")

    @RenderSection("styles", required: false)
    <script type="text/javascript" src="https://ok383.infusionsoft.com/app/webTracking/getTrackingCode"></script>
</head>
<body>
    @Html.Partial("~/Views/Shared/VistaParcialMainLayout/_vpTagManagerBody.cshtml")

    <div>
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
