@using Portal.Consultoras.Common;
@using System.Web.Optimization;

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta name="expires" content="0" />
    <meta name="description" content="Pasa tu pedido e informate de lo último de las marcas de Belcorp." />
    <meta name="author" content="Belcorp" />
    <meta property="og:title" content="Somos Belcorp| Cree en ti" />
    <meta property="og:description" content="Pasa tu pedido e informate de lo último de las marcas de Belcorp." />
    <meta property="og:image" content="~/Content/Images/Login2/logo_intro.png" />
    <meta property="og:site_name" content="Somos Belcorp" />

    <title data-id="titulo" id="tituloPagina">@ViewBag.TituloPagina</title>

    @Html.Partial("~/Views/Shared/VistaParcialMainLayout/_GoogleOptimize.cshtml")

    <link rel="shortcut icon" type="image/x-icon" id="iconoPagina" data-id="iconPagina" href="@ViewBag.IconoPagina" />

    @if (ViewBag.EsPaisEsika) {
        <div data-id="cssStyle" 
             class="current-belcorp-style" 
             data-srcesika="@Url.Content("~/Content/Css/Site/Login2/style_esika.css")" 
             data-srclbel="@Url.Content("~/Content/Css/Site/Login2/style_lbel.css")" 
             id="cssStyle"
        >@Styles.Render("~/Content/Css/Site/Login2/Esika")</div>
    }
    
    @if (ViewBag.EsPaisLbel) {
        <div data-id="cssStyleLbel" 
             class="current-belcorp-style" 
             data-srcesika="@Url.Content("~/Content/Css/Site/Login2/style_esika.css")" 
             data-srclbel="@Url.Content("~/Content/Css/Site/Login2/style_lbel.css")" 
             id="cssStyleLbel" 
        >@Styles.Render("~/Content/Css/Site/Login2/Lbel")</div>
    }

    @Styles.Render("~/Content/Css/Login")

    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900' rel='stylesheet' type='text/css' />

    <script type="text/javascript">

        //Variables nuevo chat
        var emt_client_type = '';
        var emt_country = '';
        var emt_email_address = '';
        var emt_first_name = '';
        var emt_id = '';
        var emt_type = '';
        var emt_device = ' ';
        var emt_default_message = '@Html.Raw(Constantes.ConfiguracionManager.MensajeChatBienvenida)';
        //Fin Variables nuevo chat

        // varaibles log de error
        var userData = {
            'aplicacion': '',
            'rol': '',
            'campana': '',
            'region': '',
            'zona': '',
            'seccion': '',
            'pais': '',
            'codigoConsultora': ''
        };
        //Fin variables log Error

        if (typeof InstallTrigger !== 'undefined') {
            if (document.getElementById("cssStyle").getAttribute("disabled") == "disabled")
                document.getElementById("cssStyle").disabled = true;
            if (document.getElementById("cssStyleLbel").getAttribute("disabled") == "disabled")
                document.getElementById("cssStyleLbel").disabled = true;
        };

        var esPaisEsika = '@ViewBag.EsPaisEsika';
        var esPaisLbel = '@ViewBag.EsPaisLbel';
        window.urlLogDynamo = '@System.Configuration.ConfigurationManager.AppSettings["UrlLogDynamo"]';

        // Seteando Controlador y Accion
        @{
            var routeValues = HttpContext.Current.Request.RequestContext.RouteData.Values;
            string ctrl = routeValues.ContainsKey("controller") ? routeValues["controller"].ToString() : "CtrlNoRoute";
            string acti = routeValues.ContainsKey("action") ? routeValues["action"].ToString() : "ActiNoRoute";
        }
        window.controllerName = '@ctrl.ToLower()';
        window.actionName     = '@acti.ToLower()';
        //console.log("controllerName:" + controllerName + " | actionName:" + actionName);

        var _gaq = _gaq || [];

        _gaq.push(['_setDomainName', 'none']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

    <script type="text/javascript">
        var CE_SNAPSHOT_NAME = "Login";
    </script>

    <script type="text/javascript">
        setTimeout(function () {
            var a = document.createElement("script");
            var b = document.getElementsByTagName("script")[0];
            a.src = document.location.protocol + "//dnn506yrbagrg.cloudfront.net/pages/scripts/0017/4400.js?" + Math.floor(new Date().getTime() / 3600000);
            a.async = true; a.type = "text/javascript"; b.parentNode.insertBefore(a, b)
        }, 1);
    </script>

    @RenderSection("headerScripts", required: false)
</head>
<body class="body_login @Model.NombreClase" onload="noback();" onpageshow="if(event.persisted) noback();" onunload="">

    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-M8QMC8" height="0" width="0" style="display:none;visibility:hidden;"></iframe>
    </noscript>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l !== 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-M8QMC8');
    </script>
    <div id="divMant" style="display: none;" class="modal_mantenimiento">
        <a href="#" onclick="closeMant();">
        </a>
    </div>
    <div id="box-pop-up" style="display: none;">
        <div class="content-pop-up pb-0">
            <div class="cabecera">
                PRIVACIDAD DE DATOS
            </div>
            <div class="indicador_lbel"></div>
            <div style="height: 275px; padding-right: 15%; padding-left: 15%; margin-top: 55px;">

                <div style="color: #222;" id="pop-up-body" class="default-skin">
                    TRANSBEL, S.A. de C.V.,  con domicilio en Rancho San Javier, Carretera México Querétaro Km. 41.5, Nave 6, Lotes 2 y 3, Col. Ex hacienda San Miguel, Cuautitlán Izcalli  Mex., C.P. 54715 y sucursal en Edificio Torre Reforma Piso 32, Paseo de la Reforma 483, Col. Cuauhtémoc, Del. Cuauhtémoc C.P. 06500, Teléfono +52 55 5284 36 00 Ciudad de México (en adelante “Belcorp”) pone a su disposición el presente Aviso de Privacidad, a fin de dar cumplimiento a la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (en adelante la “Ley”).
                    <br />
                    <br />
                    @*Datos Personales que se recaban. - Nombre; fecha de nacimiento, Registro Federal de Contribuyentes; domicilio
                    fiscal; domicilio particular; dirección de correo electrónico; número de teléfono fijo y celular; número de
                    credencial para votar (IFE); número de Registro Federal de Contribuyentes (RFC); número de Clave única de Registro
                    de Población (CURP); escolaridad; firma autógrafa; referencias familiares, lo cual incluye: nombre, teléfono.
                    Asimismo, con los datos personales proporcionados, Belcorp podrá obtener indirectamente datos personales de índole
                    financiera adicionales de usted como pueden ser su reporte de historial crediticio en cualquiera de las Sociedades
                    de información Crediticia existentes en el territorio de los Estados Unidos Mexicanos u otros antecedentes o
                    registros financieros.*@
                    Datos Personales que se recaban.- Nombre; fecha de nacimiento, Registro Federal de Contribuyentes; domicilio fiscal; domicilio particular; dirección de correo electrónico; número de teléfono fijo y celular; número de credencial para votar (IFE); número de Registro Federal de Contribuyentes (RFC); número de Clave única de Registro de Población (CURP); escolaridad; firma autógrafa; referencias familiares, lo cual incluye: nombre, teléfono. Asimismo, con los datos personales proporcionados, Belcorp podrá obtener indirectamente datos personales de índole financiera adicionales de usted como pueden ser su reporte de historial crediticio en cualquiera de las Sociedades de información Crediticia existentes en el territorio de los Estados Unidos Mexicanos u otros antecedentes o registros financieros. 

                    <br />
                    <br />

                    @*Finalidades y/o Usos de los datos personales.- Los datos personales que recaba Belcorp son utilizados para cumplir con
                    las obligaciones derivadas de la relación que con usted se cree, así como para enviarle información, recordatorios y/o
                    invitaciones para actividades organizadas por La Compañía, brindarle beneficios para usted y su negocio, llevar a cabo
                    la cobranza y procesamiento de pagos; reingresos a venta directa; formar una base de datos de personas dedicadas a la
                    venta directa; análisis de mercado; realizar llamadas para fines publicitarios y mercadotécnicos, envío de publicidad y
                    promociones sobre Los Productos o servicios de Belcorp; análisis a fin de determinar la eficacia de nuestra publicidad y
                    promociones; y para mapearla y contactarla con posibles compradoras mediante el uso de una aplicación de software a ser
                    instalada en dispositivos móviles y tabletas electrónicas con dicho fin (la “App”). Los datos de familiares serán utilizados
                    únicamente para contactarlos e intentar localizar a la consultora.*@

                    Finalidades y/o Usos de los datos personales.- Los datos personales que recaba Belcorp son utilizados para cumplir con las obligaciones derivadas de la relación que con usted se cree, así como para enviarle información, recordatorios y/o invitaciones para actividades organizadas por La Compañía, brindarle beneficios para usted y su negocio, llevar a cabo la cobranza y procesamiento de pagos; reingresos a venta directa; formar una base de datos de personas dedicadas a la venta directa; análisis de mercado; realizar llamadas para fines publicitarios y mercadotécnicos, envío de publicidad y promociones sobre Los Productos o servicios de Belcorp; análisis a fin de determinar la eficacia de nuestra publicidad y promociones; y para mapearla y contactarla con posibles compradoras mediante el uso de una aplicación de software a ser instalada en dispositivos móviles y tabletas electrónicas con dicho fin (la “App”). Los datos de familiares serán utilizados únicamente para contactarlos e intentar localizar a la consultora.

                    <br />
                    <br />

                    @*Por lo tanto, al firmar el presente documento, usted brinda su consentimiento en forma libre, voluntaria, previa, expresa,
                    informada e inequívoca a Belcorp, para que realice el tratamiento de sus datos personales conforme a lo indicado precedentemente.*@
                    Por lo tanto, al firmar el presente documento, usted brinda su consentimiento en forma libre, voluntaria, previa, expresa, informada e inequívoca a Belcorp, para que realice el tratamiento de sus datos personales conforme a lo indicado precedentemente.

                    <br />
                    <br />

                    @*Transferencias de datos personales .- Belcorp podrá transferir sus datos personales a cualquier sociedad filial o subsidiaria,
                    así como a cualquier Sociedad de Información Crediticia para efectos de reporte por falta de pago oportuno y a través de la App
                    a posibles compradoras a efecto de que ellas puedan contactarla a usted y usted pueda realizar alguna venta. Asimismo, en caso
                    de que Belcorp decida vender su cartera de clientes, sus datos personales serán transferidos al tercero adquirente y dicha
                    transferencia la será notificada a través de una modificación al presente Aviso de Privacidad de conformidad con los términos
                    aquí establecidos. Excepto por lo anterior, Belcorp no cederá o transferirá sus datos personales a terceros ajenos a Belcorp
                    sin su conocimiento previo. Sin embargo, Belcorp podrá transferir sus datos personales cuando dicha transferencia esté
                    prevista en la Ley.*@

                    Transferencias de datos personales.- Belcorp podrá transferir sus datos personales a cualquier sociedad filial o subsidiaria, así como a cualquier Sociedad de Información Crediticia para efectos de reporte por falta de pago oportuno y a través de la App a posibles compradoras a efecto de que ellas puedan contactarla a usted y usted pueda realizar alguna venta. Asimismo, en caso de que Belcorp decida vender su cartera de clientes, sus datos personales serán transferidos al tercero adquirente y dicha transferencia la será notificada a través de una modificación al presente Aviso de Privacidad de conformidad con los términos aquí establecidos. Excepto por lo anterior, Belcorp no cederá o transferirá sus datos personales a terceros ajenos a Belcorp sin su conocimiento previo. Sin embargo, Belcorp podrá transferir sus datos personales cuando dicha transferencia esté prevista en la Ley. 


                    <br />
                    <br />

                    @*Derechos que le corresponden respecto a sus datos personales. - Usted podrá ejercitar ante la Persona responsable de Datos Personales
                    de Belcorp los derechos de acceso, rectificación cancelación y oposición (derechos ARCO), establecidos en la Ley. Asimismo, podrá revocar,
                    en todo momento, el consentimiento que haya otorgado y que fuese necesario para el tratamiento de sus datos personales, así como solicitar
                    que se limite el uso o divulgación de sus datos personales. Lo anterior, enviando su petición al correo electrónico:
                    privacidadbelcorpmx@belcorp.biz o presentándose en la sucursal ubicada en Edificio Torre Reforma Piso 32, Paseo de la Reforma 483,
                    Col. Cuauhtémoc, Del. Cuauhtémoc C.P. 06500, Teléfono +52 55 5284 36 00 Ciudad de México. Belcorp pondrá a su disposición a partir de
                    enero de 2012 los Formatos Sugeridos para llevar a cabo el ejercicio de derechos ARCO a través de su sitio web:
                    <a href="https://www.somosbelcorp.com">www.somosbelcorp.com</a> - <a href="https://www.uneteabelcorp.com">www.uneteabelcorp.com</a>
                    o en el domicilio antes mencionado.*@


                    Derechos que le corresponden  respecto a sus datos personales.- Usted podrá ejercitar ante la Persona responsable de Datos Personales de Belcorp los derechos de acceso, rectificación cancelación y oposición (derechos ARCO), establecidos en la Ley. Asimismo, podrá revocar, en todo momento, el consentimiento que haya otorgado y que fuese  necesario para el tratamiento de sus datos personales, así como solicitar que se limite el uso o divulgación de sus datos personales. Lo anterior, enviando su petición al correo electrónico: privacidadbelcorpmx@belcorp.biz o presentándose en la sucursal ubicada en Edificio Torre Reforma Piso 32, Paseo de la Reforma 483, Col. Cuauhtémoc, Del. Cuauhtémoc C.P. 06500, Teléfono +52 55 5284 36 00 Ciudad de México. Belcorp pondrá a su disposición a partir de enero de 2012 los Formatos Sugeridos para llevar a cabo el ejercicio de derechos ARCO a través de su sitio web: <a href="https://www.somosbelcorp.com">www.somosbelcorp.com</a> - <a href="https://www.uneteabelcorp.com">www.uneteabelcorp.com</a>   o en el domicilio antes mencionado.


    <br />
    <br />

    Cambios al Aviso de Privacidad.- En caso de existir cambios en el presente se pondrá a su disposición la versión actualizada del mismo
    a través de la página web <a href="https://www.somosbelcorp.com">www.somosbelcorp.com</a> - <a href="https://www.uneteabelcorp.com ">www.uneteabelcorp.com </a>
    o se le enviará la versión actualizada al domicilio que nos proporcionó.

    <br />
    <br />

    @*En caso de no estar de acuerdo con los términos del presente, le pedimos que lo informe a la Persona responsable de Datos Personales
    de Belcorp dentro de los 5 días hábiles siguientes a haber recibido este Aviso de Privacidad, de lo contario, se entenderá que está
    de acuerdo en que sus datos personales sean tratados de conformidad con el presente.*@
                    En caso de no estar de acuerdo con los términos del presente, le pedimos que lo informe a la Persona responsable de Datos Personales de Belcorp dentro de los 5 días hábiles siguientes a haber recibido este Aviso de Privacidad, de lo contario, se entenderá que está de acuerdo en que sus datos personales sean tratados de conformidad con el presente.
    <br />
    <br />

    @*De haber proporcionado datos de terceros, usted garantiza que ha obtenido las autorizaciones necesarias para tal efecto y que les ha
    informado del tratamiento que se les dará a sus datos personales en los términos de este aviso de Privacidad.*@

                    De haber proporcionado datos de terceros, usted garantiza que ha obtenido las autorizaciones necesarias para tal efecto y que les ha informado del tratamiento que se les dará a sus datos personales en los términos de este aviso de Privacidad.

    <br />
    <br />

    @*En término de la Ley y su Reglamento, le informamos que, ante la negativa de respuesta a las solicitudes de derechos ARCO o
    inconformidad con la misma, usted puede presentar ante el Instituto Federal de Acceso a la información y Protección de Datos,
    la correspondiente Solicitud de Protección de Derechos en los plazos y términos fijados por la Ley y su Reglamento.*@

                    En término de la Ley y su Reglamento, le informamos que, ante la negativa de respuesta a las solicitudes de derechos ARCO o inconformidad con la misma, usted puede presentar ante el Instituto Federal de Acceso a la información y Protección de Datos, la correspondiente Solicitud de Protección de Derechos en los plazos y términos fijados por la Ley y su Reglamento.

    <br />
    <br />

    @*HAGO CONSTAR BAJO PROTESTA DE DECIR VERDAD QUE TODOS LOS DATOS REGISTRADOS SON VERDADEROS; POR LO QUE ASUMO MI RESPONSABLIDAD
    CON TODAS LAS CONSECUENCIAS JURIDICAS EN LA PARTE CIVIL, PENAL Y COMERCIAL SOBRE DATOS ENTREGADOS.*@
                    HAGO CONSTAR BAJO PROTESTA DE DECIR VERDAD QUE TODOS LOS DATOS REGISTRADOS SON VERDADEROS; POR LO QUE ASUMO MI RESPONSABLIDAD CON TODAS LAS CONSECUENCIAS JURIDICAS EN LA PARTE CIVIL, PENAL Y COMERCIAL SOBRE DATOS ENTREGADOS.xxx

</div>
            </div>
            <div style="height: 50px;">

                <div style="text-align: right; padding-top: 0; padding-right: 15%; color: #000; font-weight: bold;">
                    <span style="border-bottom: 1px solid #000; cursor: pointer;" onclick="CloseDialog()">OK, GRACIAS</span>
                </div>
            </div>
            <div class="clear"></div>
            <div class="enlaces_archivos_arco">
                <div class="texto_solicitudes">Solicitudes :</div>
                <div class="grupo_enlaces_archivos_arco">
                    <a href="'@System.Configuration.ConfigurationManager.AppSettings.Get("URLSolicitudAcceso")'" id="btnAccesoUrl" title="Acceso" class="enlace_archivo_arco" >Acceso</a>
                    <a href="'@System.Configuration.ConfigurationManager.AppSettings.Get("URLSolicitudCancelacion")'" id="btnCancelacionUrl"  title="Cancelación" class="enlace_archivo_arco" >Cancelación</a>
                    <a href="'@System.Configuration.ConfigurationManager.AppSettings.Get("URLSolicitudOposicion")'" id="btnOposicionUrl"  title="Oposición" class="enlace_archivo_arco" target="_blank">Oposición</a>
                    <a href="'@System.Configuration.ConfigurationManager.AppSettings.Get("URLSolicitudRectificacion")'" id="btnRectificacionUrl"  title="Rectificación" class="enlace_archivo_arco">Rectificación</a>
                </div>
            </div>
        </div>
    </div>

    <div id="bg_1" style="display: none;">
        <div class="content_bg_1">
            <a href="javascript:closeit()" class="cerrar"></a>
            <div id="header">
                <div class="fondo_sesgado"></div>
                <span>
                    CREA <strong>TU CORREO</strong>
                </span>
                <div class="indicador_lbel"></div>
            </div>
            <div class="mensaje_pop_up">
                Necesitas tener un correo electrónico para utilizar nuestra plataforma.
                <br />
                <br />
                Si no lo tienes, create una cuenta en Gmail:
            </div>
            <div class="logo_gmail">
                <a href="https://www.gmail.com" target="_blank">
                    <img src="~/Content/Images/Login2/popup_esika/gmail.png" alt="" />
                </a>
            </div>
            Gmail
        </div>
    </div>

    <div id="ContentPlaceHolderPopup">
    </div>

    <div id="container">
        <div class="fondo_form"></div>
        <span class="hola"></span>
        <div id="content">
            <section id="main_formulaio">
                <div class="wrapper">
                    <div class="wrapMain">
                        <div class="content-left">
                            <label id="PageTitleLabel" style="display: none;"></label>
                            <label id="STSLabel" style="display: none;"></label>

                            <section class="content-wrapper main-content clear-fix">
                                @RenderBody()
                            </section>
                        </div>
                        <div class="content-right">
                            <div class="top">
                                <div class="boxMenu">
                                    <div class="nav">
                                        <a id="RecuadroComunidad" href="javascript:RedirectComunidadVirtual()" title="DESCUBRE NUESTRA COMUNIDAD SOMOS BELCORP" class="nav3 m-left-tres" role="menu" region="Superior" parent="DESCUBRE NUESTRA COMUNIDAD SOMOS BELCORP">
                                            <span>COMUNIDAD VIRTUAL</span>
                                        </a>
                                        <a href="javascript:openDialog()" rel="banner-login" title="CREA TU CORREO AQUÍ" class="nav2 m-left-uno" role="menu" region="Superior" parent="CREA TU CORREO AQUÍ">
                                            <span>CREA TU CORREO AQUÍ</span>
                                        </a>
                                        <a href="#" onclick="return RedirectUneteaBelcorp();" rel="banner-login" title="ÚNETE A BELCORP" class="nav1 m-left-dos" role="outbound-link" region="Outbound Link" parent="ÚNETE A BELCORP">
                                            <span>ÚNETE A BELCORP</span>
                                        </a>
                                        <a id="PagoLinea" style="display: none;" href="#" onclick="return RedirectPagoLinea();" rel="banner-login" title="Pagos en Linea" class="nav0 m-left-cuatro">
                                            <span>PAGOS EN LÍNEA AQUÍ</span>
                                        </a>
                                        <a id="DespachosCobranza" style="display: none;" href="#" onclick="return RedirectDespachosCobranza();" rel="banner-login" title="Informacion de Despachos de Cobranza" class="nav0 m-left-cuatro">
                                            <span>ENTREGAS Y COBRANZAS</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sombra_superior"></div>

                        <div class="content-alerta-red-user  left">
                            <div class="alerta_red_peru_user left">@Html.Raw(Constantes.TooltipLoginUsuario.PE)</div>
                            <div class="alerta_red_bolivia_user left">@Html.Raw(Constantes.TooltipLoginUsuario.BO)</div>
                            <div class="alerta_red_chile_user left">@Html.Raw(Constantes.TooltipLoginUsuario.CL)</div>
                            <div class="alerta_red_pr_user left">@Html.Raw(Constantes.TooltipLoginUsuario.PR)</div>
                            <div class="alerta_red_do_user left">@Html.Raw(Constantes.TooltipLoginUsuario.DO)</div>
                            <div class="alerta_red_mx_user left">@Html.Raw(Constantes.TooltipLoginUsuario.MX)</div>
                            <div class="alerta_red_ec_user left">@Html.Raw(Constantes.TooltipLoginUsuario.EC)</div>
                            <div class="alerta_red_ve_user left">@Html.Raw(Constantes.TooltipLoginUsuario.VE)</div>
                            <div class="alerta_red_co_user left">@Html.Raw(Constantes.TooltipLoginUsuario.CO)</div>
                            <div class="alerta_red_cam_user9 left">@Html.Raw(Constantes.TooltipLoginUsuario.PA)</div>
                            <div class="alerta_red_cam_user7 left">@Html.Raw(Constantes.TooltipLoginUsuario.CAM)</div>
                        </div>
                        <div class="content-alerta-red-clave">
                            <div class="alerta_red_peru_clave left">@Html.Raw(Constantes.TooltipLoginPassword.PE)</div>
                            <div class="alerta_red_bolivia_clave left">@Html.Raw(Constantes.TooltipLoginPassword.BO)</div>
                            <div class="alerta_red_chile_clave left">@Html.Raw(Constantes.TooltipLoginPassword.CL)</div>
                            <div class="alerta_red_pr_clave left">@Html.Raw(Constantes.TooltipLoginPassword.PR)</div>
                            <div class="alerta_red_do_clave left">@Html.Raw(Constantes.TooltipLoginPassword.DO)</div>
                            <div class="alerta_red_mx_clave left">@Html.Raw(Constantes.TooltipLoginPassword.MX)</div>
                            <div class="alerta_red_ec_clave left">@Html.Raw(Constantes.TooltipLoginPassword.EC)</div>
                            <div class="alerta_red_ve_clave left">@Html.Raw(Constantes.TooltipLoginPassword.VE)</div>
                            <div class="alerta_red_co_clave left">@Html.Raw(Constantes.TooltipLoginPassword.CO)</div>
                            <div class="alerta_red_cam_clave left">@Html.Raw(Constantes.TooltipLoginPassword.CAM)</div>
                        </div>

                    </div>
                </div>
            </section>
        </div>
        <div class="logo_content_ab">
            <a class="logos_footer" href="http://www.belcorp.biz/">
                <img src="~/Content/Images/Login2/logo_belcorp.png" alt="" />
            </a>
            <a class="logos_footer" id="footer_esika" href="http://www.esika.com/">
                <img src="~/Content/Images/Login2/logo_esika2.png" alt="" />
            </a>
            <a class="logos_footer" href="http://www.lbel.com/pe/">
                <img src="~/Content/Images/Login2/logo_lbel2.png" alt="http://www.lbel.com/pe/" />
            </a>
            <a class="logos_footer" href="http://www.cyzone.com/">
                <img src="~/Content/Images/Login2/logo_cyzone.png"  alt="" style="width: 52px; height: 16px; top: 1.5px; position:relative;"/>
            </a>
            <a class="" href="https://es-la.facebook.com/SomosBelcorpOficial" target="_blank">
                <img src="~/Content/Images/Login2/separador.png" style="height: 20px; width: 1px; margin-top: 13px;" />
                <img src="~/Content/Images/Login2/logo_facebook.png" alt="" style="width: 15px; margin-top: 16px; margin-left: 15px;" />
            </a>
        </div>
        <input id="hddFondoFestivoEsika" type="hidden" value="@Model.RutaEventoEsika" />
        <input id="hddFondoFestivoLebel" type="hidden" value="@Model.RutaEventoLBel" />
    </div>
    
    @Scripts.Render("~/bundles/JsLogin2")

    @RenderSection("scripts", required: false)

    @{
        if (Request.Browser.IsMobileDevice)
        {
            <link href="@Url.Content("~/emt_chat/css/style-client.css")" rel="stylesheet">
            <link rel="stylesheet" href="@Url.Content("~/emt_chat/css/font-awesome.min.css")">
            <div class="CMXD-containment-wrapper"></div><div id="marca"> <div class="CMXD-btn-help"> <div id="btn_init" class="CMXD-help_rc" style="display:none;"></div><div id="btn_open" class="CMXD-open" style="display: none"></div></div><div class="container-movil"></div><div id="CMXD-container-chat" class="CMXD-container-chat" style="display: none"> <div class="CMXD-header-chat"> <i class="fa fa-comments-o" aria-hidden="true"></i> CHAT EN LÍNEA <div class="CMXD-icons"> <a class="display-a" id="btn_minimize" href=""> <i class="fa fa-minus" aria-hidden="true"></i> </a> <a class="display-a" id="btn_wClose" href="" style="display: none"> <i class="fa fa-times" aria-hidden="true"></i> </a> </div><hr class="CMXD-line"> </div><div id="chat"> <div id="interaction" class="CMXD-container-welcome" style="display: none"> <div class='chat-wrapper'> <div id="transcript" class='chat-message padding container-chat'></div></div><div id="slideDownTranscript" class="message-end CMXD-animate2"> <span class="fa fa-angle-double-down"></span> </div><div class="container-txt"> <textarea class="txtarea" rows="2" id="Entry" placeholder="Escribe un Mensaje..."></textarea> <a class="" href=""> <div class="send send2" id="btn_Send"> <i class="fa fa-paper-plane-o" aria-hidden="true"></i><br>Enviar </div></a> </div></div><div id="loading" class="pop-up"> <div class="CMXD-container-welcome"> <div class="CMXD-img-welcome"> <img id="loading_image" src="" alt=""> </div><div id="loading_title" class="CMXD-welcome"> Bienvenida a nuestro <br>chat en línea </div><div id="loading_description" class="CMXD-description"> En un momento uno de nuestros asesores estará contigo </div></div></div><div id="schedule" class="pop-up"> <div class="CMXD-container-welcome"> <div class="CMXD-img-welcome"> <img id="schedule_image" src="" alt="Imagen fuera de horario"> </div><div id="schedule_title" class="CMXD-welcome"> </div><div id="schedule_description" class="CMXD-description"> </div></div></div><div id="Error" class="pop-up"> <div class="CMXD-container-welcome"> <div class="CMXD-img-welcome"> <img id="Error_image" src="" alt=""> </div><div class="CMXD-welcome"> Error de conexión </div><div class="CMXD-description"> En estos momentos no es posible establecer conexión. Por favor intenta más tarde. <br /><br /> <a href="" class="btn-no display-a" id="btn_mclose"> OK</a> </div></div></div><div id="alert" class="pop-up"> <div class="CMXD-container-welcome"> <div class="CMXD-img-welcome"> <img id="alert_image" src="" alt=""> </div><div class="CMXD-welcome"> ¿Desea cerrar la sesión de chat? </div><div class="CMXD-description"> <a href="" class="btn-yes display-a" id="btn_close"> Si</a> <a href="" class="btn-no display-a" id="btn_nwClose"> No</a> </div></div></div></div><div id="poll" class="pop-up"> <div class="CMXD-container-welcome"> <div id="poll_title" class="CMXD-welcome"> <br />Encuesta de Satisfacción </div><div id="poll_description" class="CMXD-description"> </div></div></div></div></div>
            <script type="text/javascript" src="@Url.Content("~/emt_chat/js/gen.js")?v1"></script>
        }
        else
        {
            <link href="@Url.Content("~/emt_chat/css/style-client.css")" rel="stylesheet">
            <link rel="stylesheet" href="@Url.Content("~/emt_chat/css/font-awesome.min.css")">
            <div class="CMXD-containment-wrapper"></div><div id="marca"> <div class="CMXD-btn-help"> <div id="btn_init" class="CMXD-help_rc" style="display:none;"></div><div id="btn_open" class="CMXD-open" style="display: none"></div></div><div class="container-movil"></div><div id="CMXD-container-chat" class="CMXD-container-chat" style="display: none"> <div class="CMXD-header-chat"> <i class="fa fa-comments-o" aria-hidden="true"></i> CHAT EN LÍNEA <div class="CMXD-icons"> <a class="display-a" id="btn_minimize" href=""> <i class="fa fa-minus" aria-hidden="true"></i> </a> <a class="display-a" id="btn_wClose" href="" style="display: none"> <i class="fa fa-times" aria-hidden="true"></i> </a> </div><hr class="CMXD-line"> </div><div id="chat"> <div id="interaction" class="CMXD-container-welcome" style="display: none"> <div class='chat-wrapper'> <div id="transcript" class='chat-message padding container-chat'></div></div><div class="container-txt"> <textarea class="txtarea" rows="2" id="Entry" placeholder="Escribe un Mensaje..."></textarea> <a class="" href=""> <div class="send send2" id="btn_Send"> <i class="fa fa-paper-plane-o" aria-hidden="true"></i><br>Enviar </div></a> </div></div><div id="loading" class="pop-up"> <div class="CMXD-container-welcome"> <div class="CMXD-img-welcome"> <img id="loading_image" src="" alt=""> </div><div id="loading_title" class="CMXD-welcome"> Bienvenida a nuestro <br>chat en línea </div><div id="loading_description" class="CMXD-description"> En un momento uno de nuestros asesores estará contigo </div></div></div><div id="schedule" class="pop-up"> <div class="CMXD-container-welcome"> <div class="CMXD-img-welcome"> <img id="schedule_image" src="" alt="Imagen fuera de horario"> </div><div id="schedule_title" class="CMXD-welcome"> </div><div id="schedule_description" class="CMXD-description"> </div></div></div><div id="Error" class="pop-up"> <div class="CMXD-container-welcome"> <div class="CMXD-img-welcome"> <img id="Error_image" src="" alt=""> </div><div class="CMXD-welcome"> Error de conexión </div><div class="CMXD-description"> En estos momentos no es posible establecer conexión. Por favor intenta más tarde. <br /><br /> <a href="" class="btn-no display-a" id="btn_mclose"> OK</a> </div></div></div><div id="alert" class="pop-up"> <div class="CMXD-container-welcome"> <div class="CMXD-img-welcome"> <img id="alert_image" src="" alt=""> </div><div class="CMXD-welcome"> ¿Desea cerrar la sesión de chat? </div><div class="CMXD-description"> <a href="" class="btn-yes display-a" id="btn_close"> Si</a> <a href="" class="btn-no display-a" id="btn_nwClose"> No</a> </div></div></div></div><div id="poll" class="pop-up"> <div class="CMXD-container-welcome"> <div id="poll_title" class="CMXD-welcome"> <br />Encuesta de Satisfacción </div><div id="poll_description" class="CMXD-description"> </div></div></div></div></div>
            <script type="text/javascript" src="@Url.Content("~/emt_chat/js/gen.js")?v1"></script>
        }
    }

</body>
</html>
