@using Portal.Consultoras.Common;
@using System.Web.Optimization;

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta name="expires" content="0" />
    <meta name="description" content="Pasa tu pedido e informate de lo último de las marcas de Belcorp." />
    <meta name="author" content="Belcorp" />
    <meta property="og:title" content="Somos Belcorp| Cree en ti" />
    <meta property="og:description" content="Pasa tu pedido e informate de lo último de las marcas de Belcorp." />
    <meta property="og:image" content="~/Content/Images/Login2/logo_intro.png" />
    <meta property="og:site_name" content="Somos Belcorp" />

    <title data-id="titulo" id="tituloPagina">@ViewBag.TituloPagina</title>

    @*@Html.Partial("~/Views/Shared/VistaParcialMainLayout/_vpTagManagerHeader.cshtml")*@
    @Html.Partial("~/Views/Shared/VistaParcialMainLayout/_GoogleOptimize.cshtml")
    @Html.Partial("~/Views/Shared/VistaParcialMainLayout/_vpTagManager.cshtml")

    <link rel="shortcut icon" type="image/x-icon" id="iconoPagina" data-id="iconPagina" href="@ViewBag.IconoPagina" />

    @{
        /*Limpiando de saltos de linea*/
        var regex = new System.Text.RegularExpressions.Regex(@"\t|\n|\r");
        string linkEsika = Styles.Render("~/Content/Css/Site/Login2/Esika").ToHtmlString();
        string linkLbel = Styles.Render("~/Content/Css/Site/Login2/Lbel").ToHtmlString();
        linkEsika = regex.Replace(linkEsika, "");
        linkLbel = regex.Replace(linkLbel, "");
    }
    <script>
        var bIsLocal = /^localhost/i.test(location.hostname)
            , oDivEsika = document.createElement("div")
            , oDivLbel = document.createElement("div");

        oDivEsika.innerHTML = '@Html.Raw(linkEsika)';
        oDivLbel.innerHTML  = '@Html.Raw(linkLbel)';
        window.UrlStyles = {
            esika: bIsLocal ? '@Url.Content("~/Content/Css/Site/Login2/style_esika.css")': oDivEsika.firstChild.href,
            lbel : bIsLocal ? '@Url.Content("~/Content/Css/Site/Login2/style_lbel.css")' : oDivLbel.firstChild.href
        };
    </script>
    @if (ViewBag.EsPaisEsika != null && ViewBag.EsPaisEsika)
    {
        <div data-id="cssStyle"
             class="current-belcorp-style"
             data-srcesika="@Url.Content("~/Content/Css/Site/Login2/style_esika.css")"
             data-srclbel="@Url.Content("~/Content/Css/Site/Login2/style_lbel.css")"
             id="cssStyle">
            @Styles.Render("~/Content/Css/Site/Login2/Esika")
        </div>
    }

    @if (ViewBag.EsPaisLbel != null && ViewBag.EsPaisLbel)
    {
        <div data-id="cssStyleLbel"
             class="current-belcorp-style"
             data-srcesika="@Url.Content("~/Content/Css/Site/Login2/style_esika.css")"
             data-srclbel="@Url.Content("~/Content/Css/Site/Login2/style_lbel.css")"
             id="cssStyleLbel">
            @Styles.Render("~/Content/Css/Site/Login2/Lbel")
        </div>
    }

    @Styles.Render("~/Content/Css/Login")

    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900' rel='stylesheet' type='text/css' />

    <script type="text/javascript">

        //Variables nuevo chat
        var emt_client_type = '';
        var emt_country = '@ViewBag.IsoPais';
        var emt_email_address = '';
        var emt_first_name = '';
        var emt_id = '';
        var emt_type = '';
        var emt_device = ' ';
        var emt_default_message = '@Html.Raw(Constantes.ConfiguracionManager.MensajeChatBienvenida)';
        //Fin Variables nuevo chat

        // varaibles log de error
        var userData = {
            'aplicacion': '',
            'rol': '',
            'campana': '',
            'region': '',
            'zona': '',
            'seccion': '',
            'pais': '',
            'codigoConsultora': ''
        };
        //Fin variables log Error

        if (typeof InstallTrigger !== 'undefined') {
            if (document.getElementById("cssStyle")) {
                if (document.getElementById("cssStyle").getAttribute("disabled") == "disabled")
                    document.getElementById("cssStyle").disabled = true;
            }
            if (document.getElementById("cssStyleLbel")) {
                if (document.getElementById("cssStyleLbel").getAttribute("disabled") == "disabled")
                    document.getElementById("cssStyleLbel").disabled = true;
            }
        }

        var esPaisEsika = '@ViewBag.EsPaisEsika';
        var esPaisLbel = '@ViewBag.EsPaisLbel';
        window.urlLogDynamo = '@System.Configuration.ConfigurationManager.AppSettings["UrlLogDynamo"]';
        window.urlLogElastic = '@System.Configuration.ConfigurationManager.AppSettings["UrlLogElastic"]';
        window.patternElastic = '@System.Configuration.ConfigurationManager.AppSettings["PatternElastic"]';

        // Seteando Controlador y Accion
        @{
            var routeValues = HttpContext.Current.Request.RequestContext.RouteData.Values;
            string ctrl = routeValues.ContainsKey("controller") ? routeValues["controller"].ToString() : "CtrlNoRoute";
            string acti = routeValues.ContainsKey("action") ? routeValues["action"].ToString() : "ActiNoRoute";
        }
        window.controllerName = '@ctrl.ToLower()';
        window.actionName = '@acti.ToLower()';

        var _gaq = _gaq || [];

        _gaq.push(['_setDomainName', 'none']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

    <script type="text/javascript">
        var CE_SNAPSHOT_NAME = "Login";
    </script>

    <script type="text/javascript">
        setTimeout(function () {
            var a = document.createElement("script");
            var b = document.getElementsByTagName("script")[0];
            a.src = document.location.protocol + "//dnn506yrbagrg.cloudfront.net/pages/scripts/0017/4400.js?" + Math.floor(new Date().getTime() / 3600000);
            a.async = true; a.type = "text/javascript"; b.parentNode.insertBefore(a, b)
        }, 1);
    </script>

    @RenderSection("headerScripts", required: false)
</head>
<body class="body_login @Model.NombreClase" onload="noback();" onpageshow="if(event.persisted) noback();" onunload="">

    @Html.Partial("~/Views/Shared/VistaParcialMainLayout/_vpTagManagerBody.cshtml")

    <div id="divMant" style="display: none;" class="modal_mantenimiento">
        <a href="#" onclick="closeMant();">
        </a>
    </div>

    @*Popup para mexico privacidad de datos*@ 
    <div id="box-pop-up" style="display: none;">
         @Html.Partial("~/Views/Shared/_PopupPrivacidadDatos.cshtml")
    </div>
   
    <div id="bg_1" style="display: none;">
        <div class="content_bg_1">
            <a href="javascript:closeit()" class="cerrar"></a>
            <div id="header">
                <div class="fondo_sesgado"></div>
                <span>
                    CREA <strong>TU CORREO</strong>
                </span>
                <div class="indicador_lbel"></div>
            </div>
            <div class="mensaje_pop_up">
                Necesitas tener un correo electrónico para utilizar nuestra plataforma.
                <br />
                <br />
                Si no lo tienes, create una cuenta en Gmail:
            </div>
            <div class="logo_gmail">
                <a href="https://www.gmail.com" target="_blank">
                    <img src="~/Content/Images/Login2/popup_esika/gmail.png" alt="" />
                </a>
            </div>
            Gmail
        </div>
    </div>

    <div id="ContentPlaceHolderPopup">
    </div>

    <div id="container">
        <div class="fondo_form"></div>
        <span class="hola"></span>
        <div id="content">
            <section id="main_formulaio">
                <div class="wrapper">
                    <div class="wrapMain">
                        <div class="content-left">
                            <label id="PageTitleLabel" style="display: none;"></label>
                            <label id="STSLabel" style="display: none;"></label>

                            <section class="content-wrapper main-content clear-fix">
                                @RenderBody()
                            </section>
                        </div>
                        <div class="content-right">
                            <div class="top">
                                <div class="boxMenu">
                                    <div class="nav">
                                        <a id="RecuadroComunidad" href="javascript:RedirectComunidadVirtual()" title="DESCUBRE NUESTRA COMUNIDAD SOMOS BELCORP" class="nav3 m-left-tres" role="menu" region="Superior" parent="DESCUBRE NUESTRA COMUNIDAD SOMOS BELCORP">
                                            <span>COMUNIDAD VIRTUAL</span>
                                        </a>
                                        <a href="javascript:openDialog()" rel="banner-login" title="CREA TU CORREO AQUÍ" class="nav2 m-left-uno" role="menu" region="Superior" parent="CREA TU CORREO AQUÍ">
                                            <span>CREA TU CORREO AQUÍ</span>
                                        </a>
                                        <a href="#" onclick="return RedirectUneteaBelcorp();" rel="banner-login" title="ÚNETE A BELCORP" class="nav1 m-left-dos" role="outbound-link" region="Outbound Link" parent="ÚNETE A BELCORP">
                                            <span>ÚNETE A BELCORP</span>
                                        </a>
                                        <a id="PagoLinea" style="display: none;" href="#" onclick="return RedirectPagoLinea();" rel="banner-login" title="Pagos en Linea" class="nav0 m-left-cuatro">
                                            <span>PAGOS EN LÍNEA AQUÍ</span>
                                        </a>
                                        <a id="DespachosCobranza" style="display: none;" href="#" onclick="return RedirectDespachosCobranza();" rel="banner-login" title="Informacion de Despachos de Cobranza" class="nav0 m-left-cuatro">
                                            <span>ENTREGAS Y COBRANZAS</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sombra_superior"></div>

                        <div class="content-alerta-red-user  left">
                            <div class="alerta_red_peru_user left">@Html.Raw(Constantes.TooltipLoginUsuario.PE)</div>
                            <div class="alerta_red_bolivia_user left">@Html.Raw(Constantes.TooltipLoginUsuario.BO)</div>
                            <div class="alerta_red_chile_user left">@Html.Raw(Constantes.TooltipLoginUsuario.CL)</div>
                            <div class="alerta_red_pr_user left">@Html.Raw(Constantes.TooltipLoginUsuario.PR)</div>
                            <div class="alerta_red_do_user left">@Html.Raw(Constantes.TooltipLoginUsuario.DO)</div>
                            <div class="alerta_red_mx_user left">@Html.Raw(Constantes.TooltipLoginUsuario.MX)</div>
                            <div class="alerta_red_ec_user left">@Html.Raw(Constantes.TooltipLoginUsuario.EC)</div>
                            <div class="alerta_red_ve_user left">@Html.Raw(Constantes.TooltipLoginUsuario.VE)</div>
                            <div class="alerta_red_co_user left">@Html.Raw(Constantes.TooltipLoginUsuario.CO)</div>
                            <div class="alerta_red_cam_user9 left">@Html.Raw(Constantes.TooltipLoginUsuario.PA)</div>
                            <div class="alerta_red_cam_user7 left">@Html.Raw(Constantes.TooltipLoginUsuario.CAM)</div>
                        </div>
                        <div class="content-alerta-red-clave">
                            <div class="alerta_red_peru_clave left">@Html.Raw(Constantes.TooltipLoginPassword.PE)</div>
                            <div class="alerta_red_bolivia_clave left">@Html.Raw(Constantes.TooltipLoginPassword.BO)</div>
                            <div class="alerta_red_chile_clave left">@Html.Raw(Constantes.TooltipLoginPassword.CL)</div>
                            <div class="alerta_red_pr_clave left">@Html.Raw(Constantes.TooltipLoginPassword.PR)</div>
                            <div class="alerta_red_do_clave left">@Html.Raw(Constantes.TooltipLoginPassword.DO)</div>
                            <div class="alerta_red_mx_clave left">@Html.Raw(Constantes.TooltipLoginPassword.MX)</div>
                            <div class="alerta_red_ec_clave left">@Html.Raw(Constantes.TooltipLoginPassword.EC)</div>
                            <div class="alerta_red_ve_clave left">@Html.Raw(Constantes.TooltipLoginPassword.VE)</div>
                            <div class="alerta_red_co_clave left">@Html.Raw(Constantes.TooltipLoginPassword.CO)</div>
                            <div class="alerta_red_cam_clave left">@Html.Raw(Constantes.TooltipLoginPassword.CAM)</div>
                        </div>

                    </div>
                </div>
            </section>
        </div>
        <div class="logo_content_ab">
            <a class="logos_footer" href="http://www.belcorp.biz/">
                <img src="~/Content/Images/Login2/logo_belcorp.png" alt="" />
            </a>
            <a class="logos_footer" id="footer_esika" href="http://www.esika.com/">
                <img src="~/Content/Images/Login2/logo_esika2.png" alt="" />
            </a>
            <a class="logos_footer" href="http://www.lbel.com/pe/">
                <img src="~/Content/Images/Login2/logo_lbel2.png" alt="http://www.lbel.com/pe/" />
            </a>
            <a class="logos_footer" href="http://www.cyzone.com/">
                <img src="~/Content/Images/Login2/logo_cyzone.png" alt="" style="width: 52px; height: 16px; top: 1.5px; position:relative;" />
            </a>
            <a class="" href="https://es-la.facebook.com/SomosBelcorpOficial" target="_blank">
                <img src="~/Content/Images/Login2/separador.png" style="height: 20px; width: 1px; margin-top: 13px;" />
                <img src="~/Content/Images/Login2/logo_facebook.png" alt="" style="width: 15px; margin-top: 16px; margin-left: 15px;" />
            </a>
        </div>
        <input id="hddFondoFestivoEsika" type="hidden" value="@Model.RutaEventoEsika" />
        <input id="hddFondoFestivoLebel" type="hidden" value="@Model.RutaEventoLBel" />
    </div>

    @Scripts.Render("~/bundles/JsLogin2")

    @RenderSection("scripts", required: false)

    @{
        if (Request.Browser.IsMobileDevice)
        {
            <link href="@Url.Content("~/emt_chat/css/style-client.css")" rel="stylesheet">
            <link rel="stylesheet" href="@Url.Content("~/emt_chat/css/font-awesome.min.css")">
            <div class="CMXD-containment-wrapper"></div><div id="marca"> <div class="CMXD-btn-help"> <div id="btn_init" class="CMXD-help_rc" style="display:none;"></div><div id="btn_open" class="CMXD-open" style="display: none"></div></div><div class="container-movil"></div><div id="CMXD-container-chat" class="CMXD-container-chat" style="display: none"> <div class="CMXD-header-chat"> <i class="fa fa-comments-o" aria-hidden="true"></i> CHAT EN LÍNEA <div class="CMXD-icons"> <a class="display-a" id="btn_minimize" href=""> <i class="fa fa-minus" aria-hidden="true"></i> </a> <a class="display-a" id="btn_wClose" href="" style="display: none"> <i class="fa fa-times" aria-hidden="true"></i> </a> </div><hr class="CMXD-line"> </div><div id="chat"> <div id="interaction" class="CMXD-container-welcome" style="display: none"> <div class='chat-wrapper'> <div id="transcript" class='chat-message padding container-chat'></div></div><div id="slideDownTranscript" class="message-end CMXD-animate2"> <span class="fa fa-angle-double-down"></span> </div><div class="container-txt"> <textarea class="txtarea" rows="2" id="Entry" placeholder="Escribe un Mensaje..."></textarea> <a class="" href=""> <div class="send send2" id="btn_Send"> <i class="fa fa-paper-plane-o" aria-hidden="true"></i><br>Enviar </div></a> </div></div><div id="loading" class="pop-up"> <div class="CMXD-container-welcome"> <div class="CMXD-img-welcome"> <img id="loading_image" src="" alt=""> </div><div id="loading_title" class="CMXD-welcome"> Bienvenida a nuestro <br>chat en línea </div><div id="loading_description" class="CMXD-description"> En un momento uno de nuestros asesores estará contigo </div></div></div><div id="schedule" class="pop-up"> <div class="CMXD-container-welcome"> <div class="CMXD-img-welcome"> <img id="schedule_image" src="" alt="Imagen fuera de horario"> </div><div id="schedule_title" class="CMXD-welcome"> </div><div id="schedule_description" class="CMXD-description"> </div></div></div><div id="Error" class="pop-up"> <div class="CMXD-container-welcome"> <div class="CMXD-img-welcome"> <img id="Error_image" src="" alt=""> </div><div class="CMXD-welcome"> Error de conexión </div><div class="CMXD-description"> En estos momentos no es posible establecer conexión. Por favor intenta más tarde. <br /><br /> <a href="" class="btn-no display-a" id="btn_mclose"> OK</a> </div></div></div><div id="alert" class="pop-up"> <div class="CMXD-container-welcome"> <div class="CMXD-img-welcome"> <img id="alert_image" src="" alt=""> </div><div class="CMXD-welcome"> ¿Desea cerrar la sesión de chat? </div><div class="CMXD-description"> <a href="" class="btn-yes display-a" id="btn_close"> Si</a> <a href="" class="btn-no display-a" id="btn_nwClose"> No</a> </div></div></div></div><div id="poll" class="pop-up"> <div class="CMXD-container-welcome"> <div id="poll_title" class="CMXD-welcome"> <br />Encuesta de Satisfacción </div><div id="poll_description" class="CMXD-description"> </div></div></div></div></div>
            <script type="text/javascript" src="@Url.Content("~/emt_chat/js/gen.js")?v1"></script>
        }
        else
        {
            <link href="@Url.Content("~/emt_chat/css/style-client.css")" rel="stylesheet">
            <link rel="stylesheet" href="@Url.Content("~/emt_chat/css/font-awesome.min.css")">
            <div class="CMXD-containment-wrapper"></div><div id="marca"> <div class="CMXD-btn-help"> <div id="btn_init" class="CMXD-help_rc" style="display:none;"></div><div id="btn_open" class="CMXD-open" style="display: none"></div></div><div class="container-movil"></div><div id="CMXD-container-chat" class="CMXD-container-chat" style="display: none"> <div class="CMXD-header-chat"> <i class="fa fa-comments-o" aria-hidden="true"></i> CHAT EN LÍNEA <div class="CMXD-icons"> <a class="display-a" id="btn_minimize" href=""> <i class="fa fa-minus" aria-hidden="true"></i> </a> <a class="display-a" id="btn_wClose" href="" style="display: none"> <i class="fa fa-times" aria-hidden="true"></i> </a> </div><hr class="CMXD-line"> </div><div id="chat"> <div id="interaction" class="CMXD-container-welcome" style="display: none"> <div class='chat-wrapper'> <div id="transcript" class='chat-message padding container-chat'></div></div><div class="container-txt"> <textarea class="txtarea" rows="2" id="Entry" placeholder="Escribe un Mensaje..."></textarea> <a class="" href=""> <div class="send send2" id="btn_Send"> <i class="fa fa-paper-plane-o" aria-hidden="true"></i><br>Enviar </div></a> </div></div><div id="loading" class="pop-up"> <div class="CMXD-container-welcome"> <div class="CMXD-img-welcome"> <img id="loading_image" src="" alt=""> </div><div id="loading_title" class="CMXD-welcome"> Bienvenida a nuestro <br>chat en línea </div><div id="loading_description" class="CMXD-description"> En un momento uno de nuestros asesores estará contigo </div></div></div><div id="schedule" class="pop-up"> <div class="CMXD-container-welcome"> <div class="CMXD-img-welcome"> <img id="schedule_image" src="" alt="Imagen fuera de horario"> </div><div id="schedule_title" class="CMXD-welcome"> </div><div id="schedule_description" class="CMXD-description"> </div></div></div><div id="Error" class="pop-up"> <div class="CMXD-container-welcome"> <div class="CMXD-img-welcome"> <img id="Error_image" src="" alt=""> </div><div class="CMXD-welcome"> Error de conexión </div><div class="CMXD-description"> En estos momentos no es posible establecer conexión. Por favor intenta más tarde. <br /><br /> <a href="" class="btn-no display-a" id="btn_mclose"> OK</a> </div></div></div><div id="alert" class="pop-up"> <div class="CMXD-container-welcome"> <div class="CMXD-img-welcome"> <img id="alert_image" src="" alt=""> </div><div class="CMXD-welcome"> ¿Desea cerrar la sesión de chat? </div><div class="CMXD-description"> <a href="" class="btn-yes display-a" id="btn_close"> Si</a> <a href="" class="btn-no display-a" id="btn_nwClose"> No</a> </div></div></div></div><div id="poll" class="pop-up"> <div class="CMXD-container-welcome"> <div id="poll_title" class="CMXD-welcome"> <br />Encuesta de Satisfacción </div><div id="poll_description" class="CMXD-description"> </div></div></div></div></div>
            <script type="text/javascript" src="@Url.Content("~/emt_chat/js/gen.js")?v1"></script>
        }
    }

</body>
</html>
