@using Portal.Consultoras.Common

<!DOCTYPE html>
<html lang="es" class="no-js">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=10,chrome=1" />
    <meta name="description" content="Portal de consultoras" />
    <meta name="author" content="Belcorp" />

    <title>Belcorp | Portal Consultoras</title>

    @Html.Partial("~/Views/Shared/VistaParcialMainLayout/_GoogleOptimize.cshtml")

    <link href="@Url.Content("~/Content/Css/Site/flipclock.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/Site/slick.css")" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900" rel="stylesheet" type="text/css">
    @if (System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika").Contains(ViewBag.PaisAnalytics == null ? "" : ViewBag.PaisAnalytics))
    {
        <link href="@Url.Content("~/Content/Images/Esika/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
        @System.Web.Optimization.Styles.Render("~/Content/Css/Site/Esika/CssSB2")
        @System.Web.Optimization.Styles.Render("~/Content/Css/Site/Esika/Contenedor")
    }
    else
    {
        <link href="@Url.Content("~/Content/Images/icons/favicon_lbel.ico")" rel="shortcut icon" type="image/x-icon" />
        @System.Web.Optimization.Styles.Render("~/Content/Css/Site/Lbel/CssSB2")
        @System.Web.Optimization.Styles.Render("~/Content/Css/Site/Lbel/Contenedor")
    }
    <link href="@Url.Content("~/Content/Css/Site/calc.css")" rel="stylesheet" type="text/css" />

    @Html.Partial("~/Views/Shared/VistaParcialMainLayout/_vpVariablesGeneralesPortal.cshtml")
    <script type="text/javascript">
        var baseUrl = "@Url.Content("~")";
        var isEsika = '@(System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika").Contains(ViewBag.PaisAnalytics == null ? "" : ViewBag.PaisAnalytics))' == "True";
        var trackingJetloreAccessToken = '@System.Configuration.ConfigurationManager.AppSettings.Get("TrackingJetloreAccessToken")';
        var tipoOfertaFinalCatalogoPersonalizado = '@Constantes.TipoOfertaFinalCatalogoPersonalizado.Jetlore';
        var esPaisTrackingJetlore = '@ViewBag.PaisesConTrackingJetlore';
        var indicadorEnviadoDescarga = '@ViewBag.IndicadorEnviado';
        var gTipoUsuario = '@ViewBag.TipoUsuario';
        var IsoPais = '@ViewBag.CodigoISODL';

        //Postulante
        var mostrarBannerPostulante = '@ViewBag.MostrarBannerPostulante';

        //GPR
        var estaRechazado = '@ViewBag.IndicadorGPRSB';
        var cerrarRechazado = '@ViewBag.CerrarRechazado';
        var mostrarBannerRechazo = '@ViewBag.MostrarBannerRechazo';

        //ODD
        var MostrarODD = '@ViewBag.MostrarODD';
        var tieneOfertaDelDia = '@ViewBag.TieneOfertaDelDia';
        var mostrarOfertaDelDiaContenedor ='@ViewBag.MostrarOfertaDelDiaContenedor';
        var esContenedorOfertas = true;
        // New Chat
        var emt_client_type = '@ViewBag.TipoUsuario';
        var emt_country = '@ViewBag.CodigoISODL';
        var emt_email_address = '@ViewBag.CorreoC';
        var emt_first_name = '@ViewBag.NombreC';
        var emt_id = '@ViewBag.CodigoUsuario';
        var emt_type = '0';
        var emt_device = ' ';
        var emt_default_message = '@Html.Raw(ViewBag.MensajeChat)';
        // New Chat -->
        var mostrarBannerRechazo = '@ViewBag.MostrarBannerRechazo';
        var FechaActual = '@(DateTime.Now.ToString("dd/MM/yyyy"))';

        window.urlLogDynamo = '@System.Configuration.ConfigurationManager.AppSettings["UrlLogDynamo"]';
        window.urlLogElastic = '@System.Configuration.ConfigurationManager.AppSettings["UrlLogElastic"]';
        window.patternElastic = '@System.Configuration.ConfigurationManager.AppSettings["PatternElastic"]';

        // Seteando Controlador y Accion
        @{
            var routeValues = HttpContext.Current.Request.RequestContext.RouteData.Values;
            string ctrl = routeValues.ContainsKey("controller") ? routeValues["controller"].ToString() : "CtrlNoRoute";
            string acti = routeValues.ContainsKey("action") ? routeValues["action"].ToString() : "ActiNoRoute";
        }
        window.controllerName = '@ctrl.ToLower()';
        window.actionName     = '@acti.ToLower()';

        var userData = {
            'aplicacion': '@(Constantes.LogDynamoDB.AplicacionPortalConsultoras)',
            'rol': '@(Constantes.LogDynamoDB.RolConsultora)',
            'campana': '@ViewBag.CampaniaCodigo',
            'region': '@ViewBag.RegionAnalytics',
            'zona': '@ViewBag.ZonaAnalytics',
            'seccion': '@ViewBag.SeccionAnalytics',
            'pais': '@ViewBag.PaisAnalytics',
            'codigoConsultora': '@ViewBag.CodigoConsultoraDL'
        };
        var usuarioNombre = '@ViewBag.UsuarioNombre';
        var controllerName = '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower()';

        var revistaDigital = @Html.Raw(Json.Encode(ViewBag.revistaDigital));
    </script>
    <style id="styleRelojOdd"></style>
    @RenderSection("styles", required: false)

    @if (TempData.ContainsKey("PixelCodigoIso"))
    {
        <noscript id="noscript-pixel-image"></noscript>
    }
</head>
<body>
    @Html.Partial("~/Views/Shared/VistaParcialMainLayout/_vpTagManager.cshtml")

    @if (ViewBag.PaisesConTrackingJetlore == "1")
    {
        <script type="text/javascript" src="https://assets.jetlore.com/js/jltracking.js"></script>
        <script type="text/javascript">
            JL.tracking({
                cid: trackingJetloreAccessToken,
                user_id: '@ViewBag.CodigoConsultoraDL',
                feed_id: 'Belcorp_' + '@ViewBag.CodigoISODL',
            });
        </script>
    }

    <script type="text/javascript">
        if (!String.prototype.startsWith) {
            String.prototype.startsWith = function (searchString, position) {
                position = position || 0;
                return this.indexOf(searchString, position) === position;
            };
        }
    </script>

    <header>
        @if (ViewBag.MostrarBannerPostulante == true)
        {
            @Html.Partial("~/Views/Shared/VistaParcialMainLayout/_vpBloqueMensajesPostulante.cshtml")
        }
        else if (ViewBag.MostrarBannerRechazo == true)
        {
            @Html.Partial("~/Views/Shared/VistaParcialMainLayout/_vpBloqueMensajesPedido.cshtml")
        }

        <div class="clear"></div>
        <div class="wrapper_header">
            <div class="logo_esika">
                <a class="@ViewBag.ClaseLogoSB" href="@Url.Action("Index", "Bienvenida")"></a>
            </div>
            <div class="menu_new_esika">
                @Html.Partial("~/Views/Shared/_Menu.cshtml")
            </div>
            @Html.Partial("~/Views/Shared/VistaParcialMainLayout/_vpMenuB.cshtml")
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </header>
    <div class="fondo_oscuro"></div>
    <style>
        .data-layaout-body {
            width: initial !important;
        }
        

    </style>
    @{
        string controllerAction = this.ViewContext.RouteData.Values["controller"].ToString() + this.ViewContext.RouteData.Values["action"].ToString();
        controllerAction = controllerAction.ToLower();
    }
    <div id="contentmain" class="content" data-content="" style="margin-top: 61px;">
        @Html.Partial("~/Views/Shared/_MenuContenedorOferta.cshtml")
        <div data-layout-body="" class="data-layaout-body">
            @if (!(controllerAction == "bienvenidaindex"
                    || controllerAction == "showroomindex"
                    || controllerAction == "showroomintriga"
                    || ("/" + controllerAction).Contains("revistadigital")
                    || ("/" + controllerAction).Contains("guianegocio")
                )
                && (@ViewBag.Title != "" && @ViewBag.Title != null))
            {
                <div class="SubHeader">
                    <div class="ubicacion_web">
                        <span><a href="@Url.Action("Index", "Bienvenida")">Home</a></span>
                        <span> | @ViewBag.Title</span>
                    </div>
                </div>
            }

            @RenderBody()
            @if (ViewBag.TerminoMostrar == 1)
            {
                <div class="footerTerminos">
                    <a id="linkTerminosCondicionesShowRoom" onclick="SetMarcaGoogleAnalyticsTermino();" target="_blank">T&eacute;rminos y condiciones</a>
                </div>
            }

            @if (ViewBag.BannerInferior != null)
            {
                @Html.Partial("~/Views/ShowRoom/_BannerInferior.cshtml", (Portal.Consultoras.Web.Models.Estrategia.ShowRoom.BannerInferiorConfiguracion)ViewBag.BannerInferior)
            }
            <hr class="clear" />
            <footer class="footer_e">
                @Html.Partial("~/Views/Shared/_Footer.cshtml")
            </footer>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/VistaParcialMainLayout/_vpFeDeErratas.cshtml")
    @Html.Partial("~/Views/Shared/VistaParcialMainLayout/_vpRegistroComunidad.cshtml")

    <input type="hidden" id="hdCampaniaCodigo" value="@ViewBag.CampaniaCodigo" />
    <input type="hidden" id="hdTipoOfertaFinal" value="@ViewBag.OfertaFinal" />
    <input type="hidden" id="hdTipoCatalogoPersonalizado" value="@ViewBag.CatalogoPersonalizado" />
    <input type="hidden" id="hdFlagOfertaWeb" value="0" />
    <input type="hidden" id="hdFlagOfertaLiquidacion" value="0" />
    <input type="hidden" id="hdFlagValidacion" value="0" />
    <input type="hidden" id="hdFlagValidacionReserva" value="0" />
    <input type="hidden" id="hdEsCatalogoPersonalizadoZonaValida" value="@Convert.ToString(ViewBag.EsCatalogoPersonalizadoZonaValida)" />
    <input type="hidden" id="hdCodigoEstrategia" value="@Util.Trim(ViewBag.CodigoEstrategia)" />

    @Html.Partial("~/Views/Shared/VistaParcialMainLayout/_vpBannerLateralShowRoom.cshtml")

    @Html.Partial("~/Views/Shared/VistaParcialMainLayout/_vpDialogMensajes.cshtml")

    @Html.Partial("~/Views/Shared/VistaParcialMainLayout/_vpDialogErrorMainLayout.cshtml")

    @Html.Partial("~/Views/Shared/VistaParcialMainLayout/_vpDialogSesionMainLayout.cshtml")

    @Html.Partial("~/Views/Shared/VistaParcialMainLayout/_vpDialogMensajePostulante.cshtml")

    @Html.Partial("~/Views/Shared/VistaParcialMainLayout/_vpDialogPedidoReservado.cshtml")

    @Html.Partial("~/Views/Shared/VistaParcialMainLayout/_vpTemplateResumenCampania.cshtml")

<script id="ofertadeldia-template" type="text/x-handlebars-template">
        <div data-odd-tipoventana="baner">
            <div class="content_oferta_dia" id="banner-odd" data-item="">
                <div style="display:none;" data-item-campos="">
                    <input type="hidden" Class="tipoestrategia-id-odd" value="{{TipoEstrategiaID}}" />
                    <input type="hidden" Class="estrategia-id-odd" value="{{EstrategiaID}}" />
                    <input type="hidden" Class="marca-id-odd" value="{{MarcaID}}" />
                    <input type="hidden" Class="cuv2-odd" value="{{CUV2}}" />
                    <input type="hidden" Class="limite-venta-odd" value="{{LimiteVenta}}" />
                    <input type="hidden" Class="flagnueva-odd" value="{{FlagNueva}}" />
                    <input type="hidden" Class="precio-odd" value="{{PrecioOferta}}" />
                    <input type="hidden" Class="nombre-odd" value="{{NombreOferta}}" />
                    <input type="hidden" Class="indmonto-min-odd" value="{{IndicadorMontoMinimo}}" />
                    <input type="hidden" Class="teimagenmostrar-odd" value="{{TipoEstrategiaImagenMostrar}}" />
                    <input type="hidden" Class="imagen-odd" value="{{ImagenBanner}}" />
                    <input type="hidden" class="origenPedidoWeb-odd" value="2" />
                    <input type="hidden" Class="marca-descripcion-odd" value="{{DescripcionMarca}}" />
                    <input type="hidden" Class="tipoestrategia-descripcion-odd" value="{{TipoEstrategiaDescripcion}}" />
                </div>
                <div>
                    <div style="height:42px; overflow:hidden;"><img src="{{ImagenSoloHoy}}" id="img-solohoy-odd" alt="" /></div>
                    <div class="clock"></div>
                    <div class="message"></div>
                </div>
                <div class="producto_set">
                    <img src="{{ImagenBanner}}" alt="" id="img-banner-odd" class="imagen_producto" />
                </div>
                <div class="precio_set_dia">
                    <div class="nombre_set_oferta">{{NombreOferta}}</div>
                    <span>{{SimboloMoneda}} {{PrecioOfertaFormat}}</span>
                </div>
                <div style="float: left">
                    <input type="hidden" value="1" style="color:white" size="2" maxlength="2" class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral js-no-popup txtcantidad-odd" tabindex="0">
                    <a class="btn_agrega_set_dia" data-odd-accion="agregar" data-odd-accion-type="banner" data-odd-accion-element="0" data-odd-cabecera-position="0" href="javascript: void(0);">AGRÉGALO YA</a>
                </div>
                <a class="btn_detalle_hoy" data-odd-accion="veroferta" data-odd-cantidad="{{CantidadProductos}}" onclick="odd_desktop_google_analytics_promotion_click_verofertas();">
                    <div class="circulo_hoy"><span id="odd_simbolo_ver_ofertas" style="margin-left:1px;display:block;text-align:center;">+</span></div>
                    <div class="texto_detalle_set">{{TextoVerDetalle}}</div>
                </a>
            </div>
            <a class="btn_cerrar_ofertaDia" href="javascript:;" onclick="closeOfertaDelDia(this);" style="display: none;">x</a>
        </div>
        <div class="content_pop_oferta_dia {{ClassDimension}}" id="PopOfertaDia">
            <div class="parche_presentacion_contenedor parche_presentacion_contenedor_834">
                <div class="rd_volver" style="position: absolute; margin-top: 28px;">
                    <a href="javascript: void(0);" data-odd-accion="regresar" style="display:none;">
                        <img class="previous_volver icono_clase_control_color_dinamico" src="/Content/Images/PL20/ld_arrowright_blanco.png" style="width: 8px">
                        <span class="clase_control_color_dinamico" style="top: -4px; position: absolute;left: 15px; font-weight: bold; font-family: 'Lato'; font-size:15px; color:#fff;">VOLVER</span>
                    </a>
                </div>
                <div id="imgSoloHoy" style="height:42px; overflow:hidden;float:left;margin-top: 19px; margin-left:-13px; "><img src="{{ImagenSoloHoy}}" alt="" style="width:74%" /></div>
                <div class="clock" style="float:right; left: 50px;top: 22px;"></div>
                <div style="clear:both;"></div>
            </div>
            <hr class="clear" />
            <div data-odd-tipoventana="detalle" style="display:none; margin-top: 50px">
                <hr class="clear" />
                <div class="parche_presentacion_contenedor parche_presentacion_contenedor_834">

                    <div id="divOddCarruselDetalle">
                        {{#each this.ListaOfertas  as |detalle|}}
                        <div data-item="" data-item-position="{{detalle.ID}}">
                            <div style="display:none;" data-item-campos="">
                                <input type="hidden" class="tipoestrategia-id-odd" value="{{detalle.TipoEstrategiaID}}" />
                                <input type="hidden" class="estrategia-id-odd" value="{{detalle.EstrategiaID}}" />
                                <input type="hidden" class="marca-id-odd" value="{{detalle.MarcaID}}" />
                                <input type="hidden" class="cuv2-odd" value="{{detalle.CUV2}}" />
                                <input type="hidden" class="limite-venta-odd" value="{{detalle.LimiteVenta}}" />
                                <input type="hidden" class="flagnueva-odd" value="{{detalle.FlagNueva}}" />
                                <input type="hidden" class="precio-odd" value="{{detalle.PrecioOferta}}" />
                                <input type="hidden" class="nombre-odd" value="{{detalle.NombreOferta}}" />
                                <input type="hidden" class="indmonto-min-odd" value="{{detalle.IndicadorMontoMinimo}}" />
                                <input type="hidden" class="teimagenmostrar-odd" value="{{detalle.TipoEstrategiaImagenMostrar}}" />
                                <input type="hidden" Class="imagen-odd" value="{{detalle.ImagenDisplay}}" />
                                <input type="hidden" class="origenPedidoWeb-odd" value="4" />
                                <input type="hidden" Class="marca-descripcion-odd" value="{{DescripcionMarca}}" />
                                <input type="hidden" Class="tipoestrategia-descripcion-odd" value="{{TipoEstrategiaDescripcion}}" />
                            </div>
                            <div data-compartir-campos="" style="display:none;">
                                <input type="hidden" class="CUV" value="{{detalle.CUV2}}" />
                                <input type="hidden" class="rsFBMensaje" value="" />
                                <input type="hidden" class="rsWAMensaje" value="" />
                                <input type="hidden" class="rsFBRutaImagen" value="{{detalle.ImagenDisplay}}" />
                                <input type="hidden" class="rsWARutaImagen" value="{{detalle.ImagenDisplay}}" />
                                <input type="hidden" class="MarcaID" value="{{detalle.MarcaID}}" />
                                <input type="hidden" class="MarcaNombre" value="{{detalle.DescripcionMarca}}" />
                                <input type="hidden" class="Nombre" value="{{detalle.NombreOferta}}" />
                                <input type="hidden" class="ProductoDescripcion" value="{{detalle.DescripcionOferta}}" />
                                <input type="hidden" class="Volumen" value="{{detalle.Volumen}}" />
                                <input type="hidden" class="Palanca" value="ODD" />
                                <input type="hidden" Class="marca-descripcion-odd" value="{{DescripcionMarca}}" />
                                <input type="hidden" Class="tipoestrategia-descripcion-odd" value="{{TipoEstrategiaDescripcion}}" />
                            </div>
                            <div class="content_set_pop_hoy" style="width:100%;">
                                <div class="imagen_set_Oferta_pop">
                                    <img src="{{detalle.ImagenDisplay}}" alt="" id="img-display-odd" class="imagen_producto" data-img-lazy="1" />
                                    <div class="compartir_redes_ficha" style="margin-top:10px;">
                                        <div class="texto_compartelo clase_control_color_dinamico" style="color:#fff;">Comparte la oferta con tus clientes</div>
                                        <a class="btn_compartir_facebook_ficha btn_compartir_facebook_ficha_fix_ODD" href="javascript: void(0);" data-compartir="FB">
                                            <img src="https://s3.amazonaws.com/uploads.hipchat.com/583104/4578891/dUttu2lhWRcJ1AQ/face_new.png" />
                                        </a>
                                        <hr class="clear">
                                    </div>
                                </div>
                                <div class="right_set_hoy clase_control_color_dinamico">
                                    <div class="height_min">
                                        <div class="titulo_set_ODD clase_control_color_dinamico">{{detalle.NombreOferta}}</div>
                                        <div class="descripcion_set_ofertaDia clase_control_color_dinamico">{{{detalle.DescripcionOferta}}}</div>
                                        <div class="precio_valorizado_oferta clase_control_color_dinamico">VALORIZADO EN <span>{{SimboloMoneda}} {{detalle.PrecioCatalogoFormat}}</span></div>
                                        <div class="precio_ofertaDia clase_control_color_dinamico">A SOLO <span>{{SimboloMoneda}} {{detalle.PrecioOfertaFormat}}</span></div>
                                    </div>
                                    <div>
                                        <div class="liquidacion_rango_home js-no-popup">
                                            <input type="text" style="color:white;" value="1" size="2" maxlength="2" class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral js-no-popup txtcantidad-odd clase_control_color_dinamico" tabindex="0">
                                            <div class="liquidacion_rango_right_pedido js-no-popup clase_control_color_dinamico">
                                                <a class="mas js-no-popup clase_control_color_dinamico" tabindex="0">
                                                    <div class="cross cross_clase_control_color_dinamico"></div>
                                                    <img class="js-no-popup" src="/Content/Images/Esika/mas.png" alt="" style="display:none">
                                                </a>
                                                <a class="menos js-no-popup clase_control_color_dinamico" tabindex="0">
                                                    <div class="cross_line cross_line_clase_control_color_dinamico"></div>
                                                    <img class="js-no-popup" src="/Content/Images/Esika/menos.png" alt="" style="display:none">
                                                </a>
                                            </div>
                                        </div>
                                        <a class="btn_pop_agregalo_oferta clase_control_color_dinamico" data-odd-accion="agregar" data-odd-accion-type="detail" data-odd-accion-element="{{detalle.ID}}">AGRÉGALO</a>
                                    </div>
                                </div>
                                <div style="clear:both;"></div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div  style="display:none;" data-odd-tipoventana="carrusel" class="content_estrategia_carrusel content_estrategia_carrusel_834">
                <div class="saludo_mas_productos" data-odd-texto="cliente" style="display:none;">{{UsuarioNombre}}, APROVECHA ESTAS OFERTAS ¡SOLO HOY!</div>
                    <div id="divOddCarrusel" class="contenido contenido_834">
                        {{#each this.ListaOfertas  as |detalle|}}
                            <div data-item="" data-item-position="{{detalle.ID}}" class="revistadigital-landing" style="min-width: auto;">
                                <div class="content_item_carrusel" >
                                    <div style="display:none;" data-item-campos="">
                                        <input type="hidden" class="tipoestrategia-id-odd" value="{{detalle.TipoEstrategiaID}}" />
                                        <input type="hidden" class="estrategia-id-odd" value="{{detalle.EstrategiaID}}" />
                                        <input type="hidden" class="marca-id-odd" value="{{detalle.MarcaID}}" />
                                        <input type="hidden" class="cuv2-odd" value="{{detalle.CUV2}}" />
                                        <input type="hidden" class="limite-venta-odd" value="{{detalle.LimiteVenta}}" />
                                        <input type="hidden" class="flagnueva-odd" value="{{detalle.FlagNueva}}" />
                                        <input type="hidden" class="precio-odd" value="{{detalle.PrecioOferta}}" />
                                        <input type="hidden" class="nombre-odd" value="{{detalle.NombreOferta}}" />
                                        <input type="hidden" class="indmonto-min-odd" value="{{detalle.IndicadorMontoMinimo}}" />
                                        <input type="hidden" class="teimagenmostrar-odd" value="{{detalle.TipoEstrategiaImagenMostrar}}" />
                                        <input type="hidden" Class="imagen-odd" value="{{detalle.ImagenDisplay}}" />
                                        <input type="hidden" class="origenPedidoWeb-odd" value="3" />
                                        <input type="hidden" Class="marca-descripcion-odd" value="{{DescripcionMarca}}" />
                                        <input type="hidden" Class="tipoestrategia-descripcion-odd" value="{{TipoEstrategiaDescripcion}}" />
                                    </div>
                                    <div class="producto_img_home" data-odd-accion="verdetalle">
                                        <img src="{{detalle.ImagenDisplay}}" alt="" id="img-display-odd" class="imagen_producto" data-img-lazy="1" />
                                        <a class="ver_detalle_carrusel" style="top: 80px;" onclick="odd_google_analytics_product_click('{{EscapeSpecialChars detalle.NombreOferta}}', '{{detalle.CUV2}}', {{detalle.PrecioOferta}}, '{{EscapeSpecialChars DescripcionMarca}}', '', {{Position}}, 'Oferta del día - Slider Productos');">VER DETALLE</a>
                                    </div>
                                    <div class="producto_nombre_descripcion" data-item-tag="descripcion">
                                        <h6>&ensp;&nbsp;</h6>
                                        <p class="nombre-producto nombre_producto"><b>{{detalle.NombreOferta}}</b></p>
                                    </div>
                                    <div class="producto_nombre_descripcion" data-item-tag="precio">
                                        <div>
                                            {{#iff detalle.PrecioCatalogo '>' 0}}
                                            <span class="producto_precio_normal">{{{SimboloMoneda}}} {{detalle.PrecioCatalogoFormat}}</span>
                                            {{/iff}}
                                            <span class="producto_precio_oferta">{{{SimboloMoneda}}} {{detalle.PrecioOfertaFormat}}</span>
                                        </div>
                                    </div>
                                    <div class="producto_nombre_descripcion" data-item-tag="agregar">
                                        <div class="texto_elige_tono"></div>
                                        <div class="clear"></div>
                                        <div class="liquidacion_rango_home" data-cantidad-contenedor="">
                                            <input type="text" value="1" size="2" maxlength="2"
                                                   class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral js-no-popup txtcantidad-odd"
                                                   tabindex="0">
                                            <div class="liquidacion_rango_right_pedido js-no-popup">
                                                <a class="mas js-no-popup" tabindex="0"><img class="js-no-popup" src="/Content/Images/Esika/mas.png" alt=""></a>
                                                <a class="menos js-no-popup" tabindex="0"><img class="js-no-popup" src="/Content/Images/Esika/menos.png" alt=""></a>
                                            </div>
                                        </div>
                                        <a class="boton_Agregalo_home" data-odd-accion="agregar" data-odd-accion-type="list" data-odd-accion-element="{{detalle.ID}}">AGRÉGALO</a>
                                        <div class="clear"></div>
                                        <div style="margin: 9px 0;height: 15px;">
                                            <div class="agregado product-add" style="text-align:right; display:{{detalle.Agregado}};">
                                                AGREGADO
                                                <div class="icono"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                        </div>
            </div>

        </div>
    </script>
    @Html.Partial("_template-ofertadeldia-style")

    @System.Web.Optimization.Scripts.Render("~/bundles/JQueryJs")

    <script type="text/javascript">
        var formatDecimalPaisMain = '@ViewBag.FormatDecimalPais';
        var esPaisTrackingJetlore = '@ViewBag.PaisesConTrackingJetlore';
        var viewBagRol = '@ViewBag.Rol';
        var usuarioNombre = '@ViewBag.UsuarioNombre';
        var campaniaCodigo = '@ViewBag.CampaniaCodigo';
        var campaniaAnio = parseInt(parseInt(campaniaCodigo) / 100);
        var campaniaNro = parseInt(campaniaCodigo) - campaniaAnio * 100;
        var sesionEsShowRoom = '@Portal.Consultoras.Web.SessionManager.SessionManager.Instance.GetEsShowRoom().ToString().ToLower()' === 'true';
        var EfectoTutorialSalvavidas = '@ViewBag.Efecto_TutorialSalvavidas';
        var ViewBagEsMobile = '@ViewBag.EsMobile';
        var _ModificacionPedidoProl = '@ViewBag.ModificarPedidoProl';
        var gTipoUsuario = '@ViewBag.TipoUsuario';
        var tokenPedidoAutenticoOk = '@ViewBag.TokenPedidoAutenticoOk';
        var mostrarBannerPostulante = '@ViewBag.MostrarBannerPostulante';
        var MensajePedidoDesktop = '@ViewBag.MensajePedidoDesktop';
        var clock;
        var TipoOrigenPantallaODD = 1;
        var ViewIndicadorGPRSB = '@ViewBag.IndicadorGPRSB';
        var OrigenDesktopODD = 0;
    </script>
    @System.Web.Optimization.Scripts.Render("~/bundles/JsSB2")
    <script type='text/javascript'>
        (function () {
            var proto = document.location.protocol || 'http:';
            var trme = document.createElement('script');
            trme.type = 'text/javascript';
            trme.async = true;
            trme.src = proto + '//trackme-cls1-cgn-bct.i6.inconcertcc.com/inconcert/apps/trackme/js/tm.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(trme, s);
        })();
    </script>

    @RenderSection("scripts", required: false)

    <link href="@Url.Content("~/emt_chat/css/style-client.css")" rel="stylesheet">
    <link rel="stylesheet" href="@Url.Content("~/emt_chat/css/font-awesome.min.css")">
    <div class="CMXD-containment-wrapper"></div><div id="marca"> <div class="CMXD-btn-help"> <div id="btn_init" class="CMXD-help"></div><div id="btn_open" class="CMXD-open" style="display: none"></div></div><div class="container-movil"></div><div id="CMXD-container-chat" class="CMXD-container-chat" style="display: none"> <div class="CMXD-header-chat"> <i class="fa fa-comments-o" aria-hidden="true"></i> CHAT EN LÍNEA <div class="CMXD-icons"> <a class="display-a" id="btn_minimize" href=""> <i class="fa fa-minus" aria-hidden="true"></i> </a> <a class="display-a" id="btn_wClose" href="" style="display: none"> <i class="fa fa-times" aria-hidden="true"></i> </a> </div><hr class="CMXD-line"> </div><div id="chat"> <div id="interaction" class="CMXD-container-welcome" style="display: none"> <div class='chat-wrapper'> <div id="transcript" class='chat-message padding container-chat'></div></div><div id="slideDownTranscript" class="message-end CMXD-animate2"> <span class="fa fa-angle-double-down"></span> </div><div class="container-txt"> <textarea class="txtarea" rows="2" id="Entry" placeholder="Escribe un Mensaje..."></textarea> <a class="" href=""> <div class="send send2" id="btn_Send"> <i class="fa fa-paper-plane-o" aria-hidden="true"></i><br>Enviar </div></a> </div></div><div id="loading" class="pop-up"> <div class="CMXD-container-welcome"> <div class="CMXD-img-welcome"> <img id="loading_image" src="" alt=""> </div><div id="loading_title" class="CMXD-welcome"> Bienvenida a nuestro <br>chat en línea </div><div id="loading_description" class="CMXD-description"> En un momento uno de nuestros asesores estará contigo </div></div></div><div id="schedule" class="pop-up"> <div class="CMXD-container-welcome"> <div class="CMXD-img-welcome"> <img id="schedule_image" src="" alt="Imagen fuera de horario"> </div><div id="schedule_title" class="CMXD-welcome"> </div><div id="schedule_description" class="CMXD-description"> </div></div></div><div id="Error" class="pop-up"> <div class="CMXD-container-welcome"> <div class="CMXD-img-welcome"> <img id="Error_image" src="" alt=""> </div><div class="CMXD-welcome"> Error de conexión </div><div class="CMXD-description"> En estos momentos no es posible establecer conexión. Por favor intenta más tarde. <br /><br /> <a href="" class="btn-no display-a" id="btn_mclose"> OK</a> </div></div></div><div id="alert" class="pop-up"> <div class="CMXD-container-welcome"> <div class="CMXD-img-welcome"> <img id="alert_image" src="" alt=""> </div><div class="CMXD-welcome"> ¿Desea cerrar la sesión de chat? </div><div class="CMXD-description"> <a href="" class="btn-yes display-a" id="btn_close"> Si</a> <a href="" class="btn-no display-a" id="btn_nwClose"> No</a> </div></div></div></div><div id="poll" class="pop-up"> <div class="CMXD-container-welcome"> <div id="poll_title" class="CMXD-welcome"> <br />Encuesta de Satisfacción </div><div id="poll_description" class="CMXD-description"> </div></div></div></div></div>
    <script type="text/javascript" src="@Url.Content("~/emt_chat/js/gen.js")?v1"></script>

    @if (TempData.ContainsKey("PixelCodigoIso"))
    {
        @System.Web.Optimization.Scripts.Render("~/bundles/JS-Login-Header")
        <script>
            var pixelAnalytics = Analytics();
            pixelAnalytics.invocarEventoPixelById('@(TempData["PixelMarcacion"])', '@(TempData["PixelId"])');
        </script>
        @TempData.Remove("PixelCodigoIso");
    }
</body>
</html>
