<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


    <title>Belcorp | Portal Consultoras</title>

    <meta http-equiv="X-UA-Compatible" content="IE=8" /> @*//     agregado req 2068*@
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script type="text/javascript">var baseUrl = "@Url.Content("~")"; </script>
    @System.Web.Optimization.Scripts.Render("~/bundles/JQueryJs")
    @System.Web.Optimization.Scripts.Render("~/bundles/JQGridJs")
    @System.Web.Optimization.Scripts.Render("~/bundles/Templates")
    @*ITG - 1869 Empaquetado y minificacion de archivos css y js - Inicio*@
    @System.Web.Optimization.Styles.Render("~/Content/Css/Site/CssMain")
    @* ITG - 1869 Empaquetado y minificacion de archivos css y js - Fin*@
    <link href = "@Url.Content("~/Content/Css/jcarousellite/style.css")" rel="stylesheet" type="text/css" />
    <link href = "@Url.Content("~/Content/Css/Spectrum/spectrum.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/Spectrum/spectrum.js")" ></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.jcarousellite.js")" ></script>
    <script type="text/javascript">
        window.history.forward();
        function noBack() { window.history.forward(); }
    </script>
    @System.Web.Optimization.Scripts.Render("~/bundles/JSTree")
    @System.Web.Optimization.Scripts.Render("~/bundles/JsPluginsHeader")

    <!--Cambios_Landing_Comunidad-->
    <script type="text/javascript" src="@Url.Content("~/Scripts/fuzescale-1.3.min.js")"></script> 
    <link href="@Url.Content("~/Scripts/owl.carousel.2.0.0-beta.2.4/assets/owl.carousel.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/owl.carousel.2.0.0-beta.2.4/owl.carousel.min.js")"></script>

    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,100,400italic,700,900' rel='stylesheet' type='text/css' />

    <!-- R2469 (CSR) Correccion de Etiquetas de Seguimiento-->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        @*_gaq.push(['_setAccount', 'UA-38299403-1']);
        _gaq.push(['_setDomainName', 'somosbelcorp.com']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_setCustomVar', 1, 'Campana', '@ViewBag.Campania', 2]);
        _gaq.push(['_setCustomVar', 2, 'Segmento', '@ViewBag.SegmentoAnalytics', 2]);
        _gaq.push(['_setCustomVar', 3, 'Edad', '@ViewBag.EdadAnalytics', 2]);
        _gaq.push(['_setCustomVar', 4, 'Zona', '@ViewBag.ZonaAnalytics', 2]);
        _gaq.push(['_setCustomVar', 5, 'Pais', '@ViewBag.PaisAnalytics', 2]);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();*@
    </script>
    <!-- templates -->
    <script id="templateFeErratas" type="text/x-jquery-tmpl">
        <li>
            <span class="tit_fede">
                ${Titulo} -
                <label>${Campania}</label>
            </span>
            <span class="text_fede">
                <label>Página:</label>${Pagina}
            </span>
            <span class="text_fede">
                <label>Dice:</label>${Dice}
            </span>
            <span class="text_fede">
                <label>Debe decir:</label>${DebeDecir}
            </span>
        </li>
    </script>

    <!-- Belcorp Responde -->
    <script type="text/javascript">
        function mainmenu() {
            $(".responde ul").css({ display: "none" });
            $(".responde li").hover(function () {
                $(this).find('ul:first:hidden').css({ visibility: "visible", display: "none" }).slideDown(100);
            }, function () {
                $(this).find('ul:first').slideUp(100);
            });
        }
        $(document).ready(function () {
            mainmenu();
        });
    </script>

    <script type="text/javascript">
        function ExportExcel() {
            var m = true;
            if ($("#listAnunciados").getGridParam("reccount") == 0) {
                m = confirm('La grilla se encuentra vacía.\n¿ Está seguro(a) que desea continuar con la operación ?');
            }
            if (!m) {
                return;
            }

            waitingDialog({});

            setTimeout(function () {
                DownloadAttachExcel()
            }, 0);
        }

        function DownloadAttachExcel() {
            if (checkTimeout()) {
                var content = baseUrl + "Bienvenida/ExportarExcelFaltantesAnunciados";

                var iframe_ = document.createElement("iframe");
                iframe_.style.display = "none";
                iframe_.setAttribute("src", content);

                if (navigator.userAgent.indexOf("MSIE") > -1 && !window.opera) { // Si es Internet Explorer
                    iframe_.onreadystatechange = function () {
                        switch (this.readyState) {
                            case "loading":
                                waitingDialog({});
                                break;
                            case "complete":
                            case "interactive":
                            case "uninitialized":
                                closeWaitingDialog();
                                break;
                            default:
                                closeWaitingDialog();
                                break;
                        }
                    };
                }
                else {
                    // Si es Firefox o Chrome
                    $(iframe_).ready(function () {
                        closeWaitingDialog();
                    });
                }
                document.body.appendChild(iframe_);
            }
        }
    </script>
    <!--RQ 2634 DC-->
    <script src="https://webchat-cls1-cgn-bct.i6.inconcertcc.com/v2/click_to_chat?token=@ViewBag.TokenAtento&container_id=belcorpChat"></script>
      
    <script type='text/javascript'>
        (function () {
            var proto = document.location.protocol || 'http:';
            var trme = document.createElement('script');
            trme.type = 'text/javascript';
            trme.async = true;
            trme.src = proto + '//trackme-cls1-cgn-bct.i6.inconcertcc.com/inconcert/apps/trackme/js/tm.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(trme, s);
        })();
    </script>
    <!--Cambios_Landing_Comunidad-->
    <!--[if gte IE 7]>
        <style type="text/css">
            #nav li:hover ul.subs {
                display: block;
                text-transform: none;
                line-height: 20px;
                font-size: 14px;
                background-color: #e7ebe9;
                left: -43%;
                padding: 2%;
                position: absolute;
                top: 95px;
                width: 139%;
                z-index: 99;
            }
        </style>
    <![endif]-->
    <style type='text/css'>
         .iconoCorreo {
            text-align: right;
            width: 10%;
         }

        .campania {
            width: 30%;
         }
    </style>
    <!--[if lte IE 8]>
    <style type='text/css'>
         .iconoCorreo {
            text-align: right; width: 9%;
         }
    </style>
    <![endif]-->
    <!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
    <!--[if gt IE 8]><!-->
    <html class="no-js" lang="en">
    <!--<![endif]-->
</html>
</head>
<body onload="noBack();" onpageshow="if (event.persisted) noBack();" onunload="">
 <!--R2469 (CSR) Nueva  Etiquetas de Seguimiento-->
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-M8QMC8"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
(function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
        'gtm.start':
        new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
    '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-M8QMC8');</script>
    <!-- End Google Tag Manager -->  
    <script type="text/javascript">
        dataLayer.push({
            'event': 'userCustomVars',
            'campana': '@ViewBag.CampaniaCodigo',
            'segmento': '@ViewBag.SegmentoAnalytics',
            'edad': '@ViewBag.EdadAnalytics',
            'zona': '@ViewBag.ZonaAnalytics',
            'pais': '@ViewBag.PaisAnalytics',
            'rol': '@ViewBag.esConsultoraLiderAnalytics',
            'region': '@ViewBag.RegionAnalytics',
            'seccion': '@ViewBag.SeccionAnalytics',
            'codigoconsultora': '@ViewBag.CodigoConsultoraDL',
            'periodo': '@ViewBag.PeriodoAnalitycs',
            'segmentoconstancia': '@ViewBag.SegmentoConstancia',
            'socianivel': '@ViewBag.DescripcionNivelAnalytics'
        });
    </script>
    <!-- End Google Tag Manager -->
    <!-- Google Tag Manager -->
    <!--R2469 (CSR) Correccion de Etiquetas de Seguimiento
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-NKXJR4" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script type="text/javascript">
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
            var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NKXJR4');
    </script>-->
    <!-- End Google Tag Manager -->
    <!--Inicio Cambios_Landing_Comunidad-->
    @{
        var campania = (string)ViewBag.Campania ?? "0000";
        campania = campania.Substring(campania.Length - 2);

        var consultora = ViewBag.Rol == Portal.Consultoras.Common.Constantes.Rol.Consultora;
    }
    <div id="wrap_header_menu_background">
        <div id="wrap_header_menu" class="field100">
            <div id="logo_tsmv" class="field20">
                @*@if(consultora)
                                    {
    <a href="@Url.Action("Landing", "Bienvenida")" style="cursor:pointer;text-decoration:underline;" target="_self">
                        <img src="@Url.Content("~/Content/Images/belcorp_logo.png")" alt="SomosBelcorp" width="82" height="82" /></a>
                                    }
    else
                                    {
*@<a href="@Url.Action("Index", "Bienvenida")" style="cursor:pointer;text-decoration:underline;" target="_self">
                    <img src="@Url.Content("~/Content/Images/belcorp_logo.png")" alt="SomosBelcorp" width="82" height="82" />
                </a>
                                               @* }*@
            </div>

            <div id="cont_menus" class="field80">
                <div id="header_tsmv">
                        <div class="field50">
                            @*Nombre usuario*@
                            <div class="menu_opciones_sh"><span class="margin_right_20">@ViewBag.Usuario</span></div>
                            @*Perfil de consultora*@
                            <div class="menu_opciones">
                                <span class="margin_right_20">
                                    @if(consultora)
                                                {
                                         <!--Cambio link CGI(GOT)-->
                                    <a href="javascript:;" onclick="RedirectTusDatosGoogleAnalytics();" role="menu" region="Superior" title="Mis Datos" id="lnk-sup-mis-datos">
                                        Mis Datos
                                        </a>
                                                }
                                </span>
                            </div>
                            @*Cerrar sesión*@
                            <div class="menu_opciones">
                                <span class="margin_right_20">
                                    <!--Cambio link CGI(GOT)-->
                                <a href="javascript:;" onclick="CerrarSesion();" role="menu" region="Superior" title="Cerrar Sesión" id="lnk-sup-cerrar-sesion">
                                    Cerrar Sesión
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="field50">
                            @*Información Belcorp Responde*@
                            @if (ViewBag.Rol == Portal.Consultoras.Common.Constantes.Rol.Consultora)
                            {
                                if (ViewBag.CantidadListaBelcorpResponde != 0 && ViewBag.ListaBelcorpResponde != null)
                                {
                                    if (@ViewBag.ListaBelcorpResponde[0].Telefono1 != null || @ViewBag.ListaBelcorpResponde[0].Telefono2 != null || @ViewBag.ListaBelcorpResponde[0].Escribenos != null || @ViewBag.ListaBelcorpResponde[0].Chat != null)
                                    {
			
                                <div class="belcorp_responde" style="width: 30%;" id="DivBelcorpResponde">
                                    <ul class="responde">
                                            <li>
                                                <a href="#" class="responde_logo" role="menu" region="Superior" title="Belcorp Responde">
                                                    <img alt="" src="~/Content/Images/Comunidad/belcorpresponde_min.png" />
                                                </a>
                                            <ul class="submenu_br" style="display: none;">
                                                @if (@ViewBag.ListaBelcorpResponde[0].Telefono1 != null || @ViewBag.ListaBelcorpResponde[0].Telefono2 != null)
                                                {
                                                    <li>
                                                        <a href="#" class="responde_item_telf" role="menu" region="Outbound Link" parent="Belcorp responde" title="Desde un celular" id="lnk-sup-desde-un-celular">
                                                            @if (@ViewBag.ListaBelcorpResponde[0].Telefono1 != null)
                                                            {
                                                                <span>@ViewBag.ListaBelcorpResponde[0].Telefono1</span>
                                                            }
                                                            @if (@ViewBag.ListaBelcorpResponde[0].Telefono2 != null)
                                                            {
                                                                <span>@ViewBag.ListaBelcorpResponde[0].Telefono2</span>
                                                            }
                                                        </a>
                                                    </li>
                                        }
                                                @if (@ViewBag.ListaBelcorpResponde[0].Escribenos != null)
                                                {
                                                    <li>
                                                        @if (@ViewBag.ListaBelcorpResponde[0].EscribenosURL != null)
                                                        {
                                                            <a href="@ViewBag.ListaBelcorpResponde[0].EscribenosURL?@ViewBag.QSBR" class="responde_item_email" target="_blank" role="menu" region="Outbound Link" parent="Belcorp responde" title="Formulario" id="lnk-sup-formulario">
                                                                <span>@ViewBag.ListaBelcorpResponde[0].Escribenos</span>
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a href="#" class="responde_item_email" role="menu" region="Outbound Link" parent="Belcorp responde" title="Formulario" id="lnk-sup-formulario">
                                                                <span>@ViewBag.ListaBelcorpResponde[0].Escribenos</span>
                                                            </a>  
                                                        }
                                                    </li>
                                                }
                                                @if (@ViewBag.ListaBelcorpResponde[0].Chat != null)
                                                {
                                                    <li>
                                                        @if (@ViewBag.ListaBelcorpResponde[0].ChatURL != null)
                                                        {
                                                            <a href="@ViewBag.ListaBelcorpResponde[0].ChatURL" class="responde_item_chat" target="_blank">
                                                                <span>@ViewBag.ListaBelcorpResponde[0].Chat</span>
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a href="#" class="responde_item_chat">
                                                                <span>@ViewBag.ListaBelcorpResponde[0].Chat</span>
                                                            </a>
                            }
                                                    </li>
                                                }
                                            </ul>
                                        </li>
                                    </ul>
                    </div>
			
                                    }
                                }
                                @*Landing*@
                                <div class="menu_opciones field30" >
                                    <span class="margin_right_20">
                                    @if (consultora)
                                    {
                                                 <a  href="@Url.Action("Landing", "Bienvenida")" role="menu" region="Superior" title="como navego" id="lnk-sup-como-navego">¿C<span style="text-transform:lowercase;">ómo navego?</span></a>
                                          }
                                   </span>
                                </div>

@*Información notificaciones*@
                                <div class="field10" >
                                        @if (ViewBag.TieneNotificaciones == 1)
                                        {
                                        <div class="pointer">
                                        <img id="Notificacion" href="javascript:;" onclick="Notificaciones();" src='@Url.Content("~/Content/Images/comunidad/ConNotificaciones.png")' role="menu" region="superior" parent="Notificaciones" title="Notificaciones" id="lnk-sup-notificaciones" />
                                    </div>
                                        }
                                        else
                                        { 
                                        <div class="pointer">
                                        <img id="Notificacion" href="javascript:;" onclick="Notificaciones();" src='@Url.Content("~/Content/Images/comunidad/SinNotificaciones.png")' role="menu" region="superior" parent="Notificaciones" title="Notificaciones" id="lnk-sup-notificaciones" />
                                    </div>
                                        }
            </div>
@*Información campaña*@
                                <div class="field30 campaign">Estás en <span>C-@campania</span></div>
                            }
    </div>
                    </div>
                @Html.Partial("_SACMenu")
            </div>
        </div>
        <div id="white_bg_for_menu"></div>
    </div>
    <div id="cont_contenido" style="">
        <div class="clear top"></div>

        <div class="container_landing">
            @RenderSection("featured", required: false)
            @RenderBody()
        </div>
        @if (ViewBag.Rol == Portal.Consultoras.Common.Constantes.Rol.Consultora)
        {
            string nombre_pais = ViewBag.NombrePais;
            switch (nombre_pais)
            {
                case "Ecuador":
            <a href="http://200.32.70.19/Belcorp/" target="_blank" class="floating-chat"></a>
                    break;
                case "Colombia":
                case "Bolivia":
                case "Chile":
                case "México":
                case "Puerto Rico":
                case "República Dominicana":
                case "Perú":
                case "Panamá": //RQ20151103
                case "Costa Rica": //RQ20151103
                case "El Salvador": //RQ20151103
                case "Guatemala": //RQ20151103

                
                <a href=href id="belcorpChat" class="floating-chat"></a>
                    break;
             
                  
            }
        }
    </div>
    <div class="clear"></div>
    @*gr-1521*@
    @if (ViewBag.TerminoMostrar == 1)
    {
        <div class="footerTerminos">
            <a onclick="SetMarcaGoogleAnalyticsTermino();" href="http://comunidad.somosbelcorp.com/t5/D%C3%ADa-del-Padre-Pre-venta-Digital/D%C3%8DA-DEL-PADRE-PRE-VENTA-DIGITAL-EXCLUSIVA/m-p/28917#M2/?utm_source=somosbelcorp.com&utm_medium=referral&utm_content=TerminosyCondiciones&utm_campaign=ShowroomDigital" target="_blank">T&eacute;rminos y condiciones</a>
        </div>
    }


    <div id="footer">
        @Html.Partial("_SACFooter")
    </div>
    <!--Fin Cambios_Landing_Comunidad-->
    <!--/ #wrap-->
    <div id="divFaltantesAnunciadosMain" class="wrap">
        <div class="Content_modal_home">
            <table id="listAnunciados"></table>
        </div>
        <div class="wrap">
            <div class="input_global">
                <input id="btnExcel" type="button" value="Excel" onclick="return ExportExcel();" />
            </div>
        </div>
    </div>
    <div id="ModalFeDeErratas" style="display: none;">
        <div class="lista_erratas">
            <ul id="ListadoFeErratas"></ul>
        </div>
    </div>
        <!--Inicio Cambios_Landing_Comunidad-->
    <div id="divRegistroComunidad" class="wrap">
        <div id="divRegCom_Form" class="Content_modal_Com">
            <div class="webFormCom">
                <div class="div-3">
                    ¿Aún no eres parte de nuestra comunidad? 
                    Ingresa tus datos aquí.
                </div>
                <div class="div-3">
                    <div class="formcontrol user">
                        <input id="txtNombreConCom" runat="server" type="text" class="inputForm" value="@ViewBag.NombreC" readonly="readonly" />
                    </div>
                    <div class="formcontrol user">
                        <input id="txtApellidoConCom" runat="server" type="text" class="inputForm" value="@ViewBag.ApellidoC" readonly="readonly" />
                    </div>
                    <div class="formcontrol user">
                         <!--RQ 2573 EGL-->
                        <input id="txtUsuarioComunidad" runat="server" type="text" class="inputForm ValidaAlfanumerico" maxlength="25" onpaste="return false;" value="Tu apodo en la comunidad" onfocus="if (this.value == 'Tu apodo en la comunidad') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Tu apodo en la comunidad';}else{if (this.value != 'Tu apodo en la comunidad') {ValidarUsuarioIngresado(this.value);}}" />
                        <div id="ErrorUsuario" style="font-size: 11px; color: red; display: none;">Debe ingresar un apodo.</div>
                        <div id="ValUsuario" style="font-size: 11px; display: none;">
                            <img src="../Content/Images/loadingCatalogo.gif" width="12" style="vertical-align: middle;" alt="Cargando" />
                            Validando...
                        </div>
                    </div>
                    <div id="ES_Usuario" style="height: 10px; display: none;"></div>
                    <div class="formcontrol mail">
                        <input id="txtNuevoCorreoComunidad" runat="server" type="text" class="inputForm" value="Correo electrónico" onfocus="if (this.value == 'Correo electrónico') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Correo electrónico';}else{if (this.value != 'Correo electrónico') {ValidarCorreoIngresado(this.value);}}" />
                        <div id="ErrorCorreo" style="font-size: 11px; color: red; display: none;"></div>
                        <div id="ValCorreo" style="font-size: 11px; display: none;">
                            <img src="../Content/Images/loadingCatalogo.gif" width="12" style="vertical-align: middle;" alt="Cargando" />
                            Validando...
                        </div>
                    </div>
                    <div id="ES_Correo" style="height: 10px; display: none;"></div>
                </div>
                <div class="div-3">
                    <div class="input_validar" style="float: left;">
                        <input id="btnRegistrarUsuarioComunidad" type="button" value="Crea tu cuenta" onclick="return ValidarCorreoComunidad(2)" />
                    </div>
                </div>
            </div>
            <div class="webFormComDiv">
            </div>
            <div class="webFormCom">
                <div class="div-3">
                    Si ya eres miembro de la Comunidad 
                    Somos Belcorp, ingresa tu correo aquí:
                </div>
                <div class="div-3">
                    <div class="formcontrol mail">
                        <input id="txtCorreoComunidad" runat="server" type="text" class="inputForm" value="Correo electrónico" onfocus="if (this.value == 'Correo electrónico') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Correo electrónico';}else{if (this.value != 'Correo electrónico') {}}" />
                        <div id="ErrorCorreoC" style="font-size: 11px; color: red; display: none;"></div>
                    </div>
                    <div id="ES_CorreoC" style="height: 10px; display: none;"></div>
                </div>
                <div class="div-3">
                    <div class="input_validar" style="float: left;">
                        <input id="btnValidarCorreo" type="button" value="Ingresar" onclick="return ValidarCorreoComunidad(1)" />
                    </div>
                </div>
            </div>
        </div>
        <div id="divMenCom_Form" class="Content_modal_Com">
            <div class="div-3">
                <b>¡Gracias por unirte a Somos Belcorp!</b>, una comunidad de mujeres emprendedoras
                <br />
                y apasionadas por el negocio de la belleza.
                <br />
                <br />
                Revisa tu correo y sigue los pasos para ingresar.
                ¡Te esperamos!
                <br />
                <br />
            </div>
            <div class="div-3">
                <div class="input_validar" style="float: left;">
                    <input id="btnAceptarMensajeCom" type="button" value="Aceptar" onclick="return $('#divRegistroComunidad').dialog('close');" />
                </div>
            </div>
        </div>
    </div>
    <div id="DialogMensajesCom" style="display: none;">
        <div class="Content_modal">
            <div class="message_text">
    </div>
        </div>
    </div>
    <!--Fin Cambios_Landing_Comunidad-->
    <!--Div Banner Lateral ShowRoom-->
    <div id="ctras" class="caja-traslado" style="display: none;">
        <input type="hidden" id="hdEventoIDShowRoom" />
        <input type="hidden" id="hdNombreEventoShowRoom" />
        <a href="#" class="mover">
            <img src="@Url.Content("~/Content/Images/showroom/preventa_pop.jpg")" alt="" />
        </a>
        <div class="contenido-ct">
            <div class="titulo_caja_traslado">
                SÓLO FALTAN
            </div>
            <div class="caja_dias">
                <span id="spnDiasFaltantes">12</span>
            </div>
            <div class="titulo_caja_traslado">
                DÍAS
            </div>
            <div style="height: 20px; width: 100%; margin-top:20px">
                <div class="text_hora">hrs</div>
                <div class="text_hora">min</div>
                <div class="text_hora no_margin_right">sec</div>
            </div>
            <div class="fondo_contador">
                <div class="text_numero"><span id="spnHorasFaltantes">18</span></div>
                <div class="text_bolita">&#8226;</div>
                <div class="text_numero"><span id="spnMinutosFaltantes">25</span></div>
                <div class="text_bolita">&#8226;</div>
                <div class="text_numero"><span id="spnSegundosFaltantes">02</span></div>
            </div>

            <a href=""
               class="boton_showroom" id="lnkConoceMasShowRoomBannerLateral" target="_blank">CONOCE MÁS AQUÍ</a>
        </div>
    </div>

    <div id="ctrasHoy" class="caja-traslado" style="display: none;">
        <a href="#" class="mover">
            <img src="@Url.Content("~/Content/Images/showroom/preventa_pop.jpg")" alt="" />
        </a>
        <div class="contenido-ct">
            <div class="titulo_caja_traslado">
                SETS DESDE
            </div>
            <div class="precio_caja_traslado">
                $ 5,990
            </div>
            <div class="imagen_hoy_caja">
                <img src="@Url.Content("~/Content/Images/showroom/contador_hoy.png")" alt="" />
            </div>

            <a href="#" class="boton_showroom" id="lnkConoceMasShowRoomBannerLateralHoy">VER OFERTAS AQUÍ</a>
        </div>
    </div>

    <!--[if lt IE 9]>
	<script src="~/Scripts/selectivizr-and-extra-selectors.min.js"></script>
	<script src="~/Scripts/IE8.js"></script>
    <![endif]-->
    @System.Web.Optimization.Scripts.Render("~/bundles/JsPluginsFooter")

    <script type="text/javascript">
        $(document).ready(function () {
            $('#scrollbar1').tinyscrollbar();
        });

        //gr-1521
        function SetMarcaGoogleAnalyticsTermino() {
            dataLayer.push({ 'event': 'virtualEvent', 'category': 'Ofertas Showroom', 'action': 'Click enlace', 'label': 'Términos y Condiciones' });

        }

        function SetMarcaGoogleAnalytics(Marca, Url) {
            _gaq.push(['_trackEvent', 'Link', Marca, 'Site']);
            dataLayer.push({
                'event': 'pageview',
                'virtualUrl': '/Link/' + Marca + '/Site'
            });
            window.open(Url, '_blank');
            return false;
        }

        function RedirectTusDatosGoogleAnalytics() {
            _gaq.push(['_trackEvent', 'Menu-Superior', 'Datos']);
            dataLayer.push({
                'event': 'pageview',
                'virtualUrl': '/Menu-Superior/Datos'
            });
            location.href = '@Url.Action("Index", "MisDatos")';
        }

        function RedirectIngresaTuPedido() {
            _gaq.push(['_trackEvent', 'Mapa-Site', 'Pedido']);
            dataLayer.push({
                'event': 'pageview',
                'virtualUrl': '/Mapa-Site/Pedido'
            });
            location.href = '@Url.Action("Index", "Pedido")';
        }

        function RedirectCatalogoVirtual() {
            _gaq.push(['_trackEvent', 'Mapa-Site', 'Catalogo']);
            dataLayer.push({
                'event': 'pageview',
                'virtualUrl': '/Mapa-Site/Catalogo'
            });
            location.href = '@Url.Action("Index", "Catalogo")';
        }

        function RedirectEstadoCuenta() {
            _gaq.push(['_trackEvent', 'Mapa-Site', 'Estado-cuenta']);
            dataLayer.push({
                'event': 'pageview',
                'virtualUrl': '/Mapa-Site/Estado-cuenta'
            });
            location.href = '@Url.Action("Index", "EstadoCuenta")';
        }

        function RedirectCapedevi(URL) {
            _gaq.push(['_trackEvent', 'Mapa-Site', 'CAPEVEDI']);
            dataLayer.push({
                'event': 'pageview',
                'virtualUrl': '/Mapa-Site/CAPEVEDI'
            });
            window.open(URL, '_blank');
            return false;
        }

        function RedirectClientes() {
            _gaq.push(['_trackEvent', 'Mapa-Site', 'Clientes']);
            dataLayer.push({
                'event': 'pageview',
                'virtualUrl': '/Mapa-Site/Clientes'
            });
            location.href = '@Url.Action("Index", "Cliente")';
        }

        function RedirectSuperate() {
            _gaq.push(['_trackEvent', 'Mapa-Site', 'Superate']);
            dataLayer.push({
                'event': 'pageview',
                'virtualUrl': '/Mapa-Site/Superate'
            });
            window.open('@Url.Action("Index", "Superate")', '_blank');
            return false;
        }

        function RedirectAyuda() {
            _gaq.push(['_trackEvent', 'Mapa-Site', 'Ayuda']);
            dataLayer.push({
                'event': 'pageview',
                'virtualUrl': '/Mapa-Site/Ayuda'
            });
            window.open('@ViewBag.UrlAyuda', '_blank');
            return false;
        }

        function RedirectTerminosyReferencias() {
            _gaq.push(['_trackEvent', 'Mapa-Site', 'Terminos-condiciones']);
            dataLayer.push({
                'event': 'pageview',
                'virtualUrl': '/Mapa-Site/Terminos-condiciones'
            });
            window.open('@ViewBag.UrlTerminos', '_blank');
            return false;
        }

        function SiguenosEnFacebook() {
            _gaq.push(['_trackEvent', 'Follow', 'Facebook']);
            dataLayer.push({
                'event': 'pageview',
                'virtualUrl': '/Follow/Facebook'
            });
            window.open('https://www.facebook.com/SomosBelcorpOficial?fref=ts', '_blank');
            return false;
        }

        /*Inicio Cambios_Landing_Comunidad*/
        function CerrarSesion() {
            _gaq.push(['_trackEvent', 'Header', 'Cerrar-Sesion']);
            dataLayer.push({
                'event': 'pageview',
                'virtualUrl': '/Header/Cerrar-Sesion'
            });
                location.href = '@Url.Action("LogOut", "Login")';
        }
        /*Fin Cambios_Landing_Comunidad*/

        //R2073
		function Notificaciones() {
            dataLayer.push({
                'event': 'pageview',
                'virtualUrl': '/Notificacion/Notificacion'
            });
            location.href = '@Url.Action("Index", "Notificaciones")';
        }

    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $(".tooltip1").mouseover(function () {
                eleOffset = $(this).offset();

                $(this).next().fadeIn("fast").css({

                    //left: eleOffset.left + $(this).outerWidth(),
                    bottom: eleOffset.bottom

                });
            }).mouseout(function () {
                $(this).next().hide();
            });

        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#divFaltantesAnunciadosMain').dialog({
                autoOpen: false,
                resizable: false,
                modal: true,
                closeOnEscape: true,
                width: 625,
                heigth: 500,
                draggable: true,
                //create: function (event) { $(event.target).parent().css('position', 'fixed'); },
                title: "Productos Faltantes Anunciados"
            });

            $('#ModalFeDeErratas').dialog({
                autoOpen: false,
                resizable: false,
                modal: true,
                closeOnEscape: true,
                width: 650,
                heigth: 500,
                draggable: true,
                title: "Fe de Erratas"
            });

            /*Inicio Cambios_Landing_Comunidad*/
            $('#divRegistroComunidad').dialog({
                autoOpen: false,
                resizable: false,
                modal: true,
                closeOnEscape: true,
                width: 760,
                heigth: 500,
                draggable: true,
                //create: function (event) { $(event.target).parent().css('position', 'fixed'); },
                title: "Comunidad Somos Belcorp"
        });

            $('#DialogMensajesCom').dialog({
                autoOpen: false,
                resizable: false,
                modal: true,
                closeOnEscape: true,
                width: 400,
                draggable: true,
                title: "Comunidad SomosBelcorp",
                buttons:
                {
                    "Aceptar": function () {
                        $(this).dialog('close');
                    }
                }
            });

            $(".ValidaAlfanumericoCom").keypress(function (evt) {
                var charCode = (evt.which) ? evt.which : window.event.keyCode;
                if (charCode <= 13) {
                    return true;
                }
                else {
                    var keyChar = String.fromCharCode(charCode);
                    var re = /[a-zA-Z0-9_-]/;
                    return re.test(keyChar);
                }
            });
            /*Fin Cambios_Landing_Comunidad*/

            MostrarShowRoomBannerLateral();
        });

        /*ShowRoom*/
        function MostrarShowRoomBannerLateral() {
            $("#lnkConoceMasShowRoomBannerLateral").click(function () {
                AgregarTagManagerShowRoomBannerLateralConocesMas(false);
            });

            $("#lnkConoceMasShowRoomBannerLateralHoy").click(function () {
                AgregarTagManagerShowRoomBannerLateralConocesMas(true);
            });

            var togglediv = 0;

            $("#ctras").hover(function () {
                if (togglediv == 0) {
                    $('.caja-traslado').animate({
                        'right': '0'
                    }, 800);
                    togglediv = 1;
                    AgregarTagManagerShowRoomBannerLateral(false);
                }
                else if (togglediv == 1) {
                    $('.caja-traslado').animate({
                        'right': '-181px'
                    }, 800);
                    togglediv = 0;
                }
            });

            $("#ctrasHoy").hover(function () {
                if (togglediv == 0) {
                    $('.caja-traslado').animate({
                        'right': '0'
                    }, 800);
                    togglediv = 1;
                    AgregarTagManagerShowRoomBannerLateral(true);
                }
                else if (togglediv == 1) {
                    $('.caja-traslado').animate({
                        'right': '-181px'
                    }, 800);
                    togglediv = 0;
                }
            });

            var idRol = '@ViewBag.Rol';

            if (idRol == 1) {

                $.ajax({
                    type: "POST",
                    url: baseUrl + "Bienvenida/MostrarShowRoomBannerLateral",
                    contentType: 'application/json',
                    success: function (response) {
                        if (checkTimeout(response)) {
                            if (response.success) {
                                var showroomConsultora = response.data;
                                var evento = response.evento;

                                if (showroomConsultora.EventoConsultoraID != 0) {
                                    if (response.estaActivoLateral) {
                                        $("#hdNombreEventoShowRoom").val(evento.Nombre);
                                        $("#hdEventoIDShowRoom").val(evento.EventoID);

                                        if (response.mostrarShowRoomProductos) {
                                            $("#lnkConoceMasShowRoomBannerLateralHoy").attr("href", response.rutaShowRoomBannerLateral);

                                            $("#ctrasHoy").show();
                                        } else {
                                            $("#lnkConoceMasShowRoomBannerLateral").attr("href", response.rutaShowRoomBannerLateral);
                                            AgregarTimerShowRoom(response.diasFaltantes, response.mesFaltante, response.anioFaltante);

                                            $("#ctras").show();
                                        }
                                    }
                                }
                            }
                        }
                    },
                    error: function (response, error) {
                        if (checkTimeout(response)) {
                            closeWaitingDialog();
                            console.log("Ocurrió un error en ShowRoom");
                            //alert("Ocurrió un error en ShowRoom");
                        }
                    }
                });
            }

        }

        function AgregarTimerShowRoom(dia, mes, anio) {
            var calcNewYear = setInterval(function () {
                //date_future = new Date(new Date().getFullYear() + 1, 0, 1);
                date_future = new Date(anio, mes - 1, dia);
                date_now = new Date();

                seconds = Math.floor((date_future - (date_now)) / 1000);
                minutes = Math.floor(seconds / 60);
                hours = Math.floor(minutes / 60);
                days = Math.floor(hours / 24);

                hours = hours - (days * 24);
                minutes = minutes - (days * 24 * 60) - (hours * 60);
                seconds = seconds - (days * 24 * 60 * 60) - (hours * 60 * 60) - (minutes * 60);

                //$("#time").text("Time until new year:\nDays: " + days + " Hours: " + hours + " Minutes: " + minutes + " Seconds: " + seconds);
                $("#spnDiasFaltantes").html(days);
                $("#spnHorasFaltantes").html(hours);
                $("#spnMinutosFaltantes").html(minutes);
                $("#spnSegundosFaltantes").html(seconds);

                if (days == 0 && hours == 0 && minutes == 0 && seconds == 0) {
                    clearInterval(calcNewYear);

                    $("#lnkConoceMasShowRoomBannerLateralHoy").attr("href", baseUrl + "ShowRoom/Index");
                    $("#ctras").hide();
                    $("#ctrasHoy").show();
                }
                if (days < 0) {
                    $("#spnDiasFaltantes").html(0);
                    $("#spnHorasFaltantes").html(0);
                    $("#spnMinutosFaltantes").html(0);
                    $("#spnSegundosFaltantes").html(0);
                    clearInterval(calcNewYear);

                    $("#lnkConoceMasShowRoomBannerLateralHoy").attr("href", baseUrl + "ShowRoom/Index");
                    $("#ctras").hide();
                    $("#ctrasHoy").show();
                }
            }, 1000);
        }

        function AgregarTagManagerShowRoomBannerLateral(esHoy) {
            var name = 'showroom digital ' + $("#hdNombreEventoShowRoom").val();

            if (esHoy)
                name += " - fase 2";

            dataLayer.push({
                'event': 'promotionView',
                'ecommerce': {
                    'promoView': {
                        'promotions': [
                            {
                                'id': $("#hdEventoIDShowRoom").val(),
                                'name': name,
                                'position': 'Home lateral - 1',
                                'creative': 'Banner'
                            }]
                    }
                }
            });
        }

        function AgregarTagManagerShowRoomBannerLateralConocesMas(esHoy) {
            var name = 'showroom digital ' + $("#hdNombreEventoShowRoom").val();

            if (esHoy)
                name += " - fase 2";

            dataLayer.push({
                'event': 'promotionClick',
                'ecommerce': {
                    'promoClick': {
                        'promotions': [
                            {
                                'id': $("#hdEventoIDShowRoom").val(),
                                'name': name,
                                'position': 'Home lateral - 1',
                                'creative': 'Banner'
                            }]
                    }
                }
            });
        }

        /*Inicio Cambios_Landing_Comunidad*/

        function ValidarCorreoComunidad(tipo) {
            $.ajaxSetup({
                cache: false
            });
            var result = true;
            if (tipo == 2) {

                //RQ 2573 EGL
                if ($('#txtUsuarioComunidad').val() == 'Tu apodo en la comunidad') {
                    $('#ErrorUsuario').css({ "display": "block" });
                    $('#ES_Usuario').css({ "display": "block" });
                    $('#ErrorUsuario').html("Debe ingresar un apodo.");
                    result = false;
                }
                else {
                    if ($('#ErrorUsuario').html() != "Este apodo ya existe.") {

                    }
                }

                if ($('#txtNuevoCorreoComunidad').val() == 'Correo electrónico') {
                    $('#ErrorCorreo').css({ "display": "block" });
                    $('#ES_Correo').css({ "display": "block" });
                    $('#ErrorCorreo').html("Debe ingresar su correo.");
                    result = false;
                }
                else {
                    if (!ValidarCorreo($('#txtNuevoCorreoComunidad').val())) {
                        $('#ErrorCorreo').css({ "display": "block" });
                        $('#ES_Correo').css({ "display": "block" });
                        $('#ErrorCorreo').html("El formato del correo es incorrecto.");
                        $('#ErrorCorreo').css({ "color": "red" });
                        result = false;
                    }
                    else {
                        if ($('#ErrorCorreo').html() != "Este correo ya existe.") {

                        }
                    }
                }

                if (result) {
                    //RQ 2573 EGL
                    if ($('#ErrorUsuario').html() != 'Apodo Disponible.' || $('#ErrorCorreo').html() != 'Correo Disponible.')
                        return;
                    var params = {
                        usuario: $("#txtUsuarioComunidad").val(),
                        correo: $("#txtNuevoCorreoComunidad").val()
                    };

                    waitingDialog({});
                    jQuery.ajax({
                        type: 'POST',
                        url: baseUrl + 'Bienvenida/RegistrarUsuarioComunidad',
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(params),
                        async: true,
                        success: function (data) {
                            if (checkTimeout(data)) {
                                closeWaitingDialog();
                                if (data.success == true) {
                                    $('#divRegistroComunidad').dialog('option', 'width', 540);
                                    $("#divRegistroComunidad").dialog("option", "position", "center");
                                    $("#divRegCom_Form").css({ "display": "none" });
                                    $("#divMenCom_Form").css({ "display": "block" });

                                    /*Cambio CGI(GOT)*/
                                    dataLayer.push({
                                        'event': 'virtualEvent',
                                        'category': 'Formulario',
                                        'action': 'Crear cuenta',
                                        'label': 'Mi comunidad'
                                    });

                                } else {
                                    alert_msg_com(data.message);
                                }
                            }
                        },
                        error: function (data, error) {
                            if (checkTimeout(data)) {
                                closeWaitingDialog();
                                alert_msg_com(data.message);
                            }
                        }
                    });

                }
            } else {

                if ($('#txtCorreoComunidad').val() == 'Correo electrónico') {
                    $('#ErrorCorreoC').css({ "display": "block" });
                    $('#ES_CorreoC').css({ "display": "block" });
                    $('#ErrorCorreoC').html("Debe ingresar su correo.");
                    result = false;
                }
                else {
                    if (!ValidarCorreo($('#txtCorreoComunidad').val())) {
                        $('#ErrorCorreoC').css({ "display": "block" });
                        $('#ES_CorreoC').css({ "display": "block" });
                        $('#ErrorCorreoC').html("El formato del correo es incorrecto.");
                        $('#ErrorCorreoC').css({ "color": "red" });
                        result = false;
                    }
                }

                if (result) {
                    if ($('#ErrorCorreo').html() != '')
                        return;

                    var params = {
                        correo: $("#txtCorreoComunidad").val()
                    };

                    waitingDialog({});
                    jQuery.ajax({
                        type: 'POST',
                        url: baseUrl + 'Bienvenida/ValidarCorreoComunidad',
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(params),
                        async: true,
                        success: function (data) {
                            
                            /*Cambio CGI(GOT)*/
                            if (checkTimeout(data)) {
                                closeWaitingDialog();
                                if (data.success == true) {
                                    //RQ - 2507 (EGL)
                                    dataLayer.push({
                                        'event': 'virtualEvent',
                                        'category': 'Formulario',
                                        'action': 'Ingresar',
                                        'label': 'Mi comunidad'
                                    });

                                    $('#divRegistroComunidad').dialog('option', 'width', 540);
                                    $("#divRegistroComunidad").dialog("option", "position", "center");
                                    $("#divRegCom_Form").css({ "display": "none" });
                                    $("#divMenCom_Form").css({ "display": "block" });
                                } else {
                                    alert_msg_com(data.message);
                                }
                            }
                        },
                        error: function (data, error) {
                            if (checkTimeout(data)) {
                                closeWaitingDialog();
                                alert_msg_com(data.message);
                            }
                        }
                    });
                }
            }
        }

        function alert_msg_com(message) {
            $('#DialogMensajesCom .message_text').html(message);
            $('#DialogMensajesCom').dialog('open');
        }

        function AbrirModalRegistroComunidad() {
            $.ajaxSetup({
                cache: false
            });
            $('#divRegistroComunidad').dialog('option', 'width', 760);
            $("#divRegistroComunidad").dialog("option", "position", "center");
            $("#divRegCom_Form").css({ "display": "block" });
            $("#divMenCom_Form").css({ "display": "none" });
            showDialog("divRegistroComunidad");
            SendPushMiComunidad()

            return false;
        }
        //CGI(GOT)
        function SendPushMiComunidad() {
            //RQ - 2507 (EGL)
            dataLayer.push({ 'event': 'virtualPage', 'pageUrl': '/mi-comunidad/formulario-de-registro', 'pageTitle': 'Mi comunidad – Formulario de registro' });
        }


        function ValidarUsuarioIngresado(usuario) {
            $.ajaxSetup({
                cache: false
            });
            $('#ValUsuario').css({ "display": "block" });
            $('#ErrorUsuario').css({ "display": "none" });
            $.ajax({
                type: "POST",
                url: baseUrl + "Bienvenida/ValidarUsuarioIngresado",
                data: "{'usuario': '" + usuario + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $('#ValUsuario').css({ "display": "none" });
                    $('#ErrorUsuario').css({ "display": "block" });
                    $('#ES_Usuario').css({ "display": "block" });
                    //RQ 2573 EGL
                    if (data.success == true) {
                        $('#ErrorUsuario').html("Este apodo ya existe.");
                        $('#ErrorUsuario').css({ "color": "red" });
                    } else {
                        $('#ErrorUsuario').html("Apodo Disponible.");
                        $('#ErrorUsuario').css({ "color": "green" });
                    }
                },
                error: function (result) {
                    alert('Ocurrió un error al intentar validar el usuario. Por favor, volver a intentar.');
                }
            });
        }

        function ValidarCorreoIngresado(correo) {
            $.ajaxSetup({
                cache: false
            });
            $('#ValCorreo').css({ "display": "block" });
            $('#ErrorCorreo').css({ "display": "none" });
            $.ajax({
                type: "POST",
                url: baseUrl + "Bienvenida/ValidarCorreoIngresado",
                data: "{'correo': '" + correo + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $('#ValCorreo').css({ "display": "none" });
                    $('#ErrorCorreo').css({ "display": "block" });
                    $('#ES_Correo').css({ "display": "block" });
                    if (data.success == true) {
                        $('#ErrorCorreo').html("Este correo ya existe.");
                        $('#ErrorCorreo').css({ "color": "red" });
                    } else {
                        $('#ErrorCorreo').html("Correo Disponible.");
                        $('#ErrorCorreo').css({ "color": "green" });
                    }
                },
                error: function (result) {
                    alert('Ocurrió un error al intentar validar el correo. Por favor, volver a intentar.');
                }
            });
        }

        function ValidarCorreo(correo) {
            expr = /^([a-zA-Z0-9_\.\-])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            return expr.test(correo);
        }

        /*Fin Cambios_Landing_Comunidad*/

        function AbrirModalFaltanteAnunciado() {
            //jQuery("#listAnunciados").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
            $.ajaxSetup({
                cache: false
            });
            waitingDialog({});
            fnGrillaAnunciados();
            setTimeout(function () { showDialog("divFaltantesAnunciadosMain") }, 1500);
            closeWaitingDialog();
            _gaq.push(['_trackEvent', 'Mapa-Site', 'Productos-agotados']);
            dataLayer.push({
                'event': 'pageview',
                'virtualUrl': '/Mapa-Site/Productos-agotados'
            });
            return false;
        }

        function AbrirModalFeErratas() {
            //debugger;
            //$.ajaxSetup({
            //    cache: false
            //});
            waitingDialog({});

            // llamada para cargar banners y llenar su template
            $.ajax({
                type: 'GET',
                url: baseUrl + 'FeErratas/Index',
                data: '',
                cache: false,
                dataType: 'Json',
                success: function (data) {
                    //debugger;
                    var arrayFeErratas = $.map(data.lista, function (obj, index) {
                        return {
                            Titulo: obj.Titulo,
                            Campania: obj.NombreCorto,
                            Pagina: obj.Pagina,
                            Dice: obj.Dice,
                            DebeDecir: obj.DebeDecir
                        };
                    });
                    $('#ListadoFeErratas').html('');
                    $('#templateFeErratas').tmpl(arrayFeErratas).appendTo('#ListadoFeErratas');
                }
            });


            setTimeout(function () { showDialog("ModalFeDeErratas") }, 1500);
            closeWaitingDialog();
            return false;
        }

        function fnGrillaAnunciados() {
            jQuery("#listAnunciados").jqGrid({
                url: baseUrl + "Bienvenida/ConsultarFaltantesAnunciados",
                hidegrid: false,
                datatype: 'json',
                mtype: 'GET',
                contentType: "application/json; charset=utf-8",
                colNames: ['Codigo', 'Producto'],
                colModel: [
                    { name: 'Codigo', index: 'Codigo', width: 60, editable: true, resizable: false },
                    { name: 'Producto', index: 'Producto', width: 150, editable: true, resizable: false }
                ],
                jsonReader:
                    {
                        root: "rows",
                        page: "page",
                        total: "total",
                        records: "records",
                        repeatitems: true,
                        cell: "cell",
                        id: "id"
                    },
                pager: jQuery('#pagerAnunciados'),
                loadtext: 'Cargando datos...',
                recordtext: "{0} - {1} de {2} Registros",
                emptyrecords: 'No hay resultados',
                rowNum: 1000,
                scrollOffset: 0,
                rowList: [1000, 2000, 3000],
                sortname: 'Codigo',
                sortorder: 'asc',
                viewrecords: true,
                multiselect: false,
                height: 'auto',
                width: '550',
                pgtext: 'Pág: {0} de {1}',
                altRows: true,
                altclass: 'jQGridAltRowClass',
                loadComplete: function () { },
                gridComplete: function () { }
            });
            jQuery("#listAnunciados").jqGrid('navGrid', "#pagerAnunciados", { edit: false, add: false, refresh: false, del: false, search: false });
            jQuery("#listAnunciados").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
        }
    </script>
    <input type="hidden" id="hdFlagOfertaWeb" value="0" />
    <input type="hidden" id="hdFlagOfertaLiquidacion" value="0" />
    <input type="hidden" id="hdFlagValidacion" value="0" />
    <input type="hidden" id="hdFlagValidacionReserva" value="0" />
    @RenderSection("scripts", required: false)
</body>
</html>
