@using Portal.Consultoras.Common

<!DOCTYPE html>
<html lang="es" class="no-js">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=10,chrome=1" />
    <meta name="description" content="Portal de consultoras" />
    <meta name="author" content="Belcorp" />

    <title>Belcorp | Portal Consultoras</title>

    <link href="@Url.Content("~/Content/Css/Site/flipclock.css")" rel="stylesheet" type="text/css" />

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700italic,300,700,900" rel="stylesheet" type="text/css" />
    @if (System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika").Contains(ViewBag.PaisAnalytics == null ? "" : ViewBag.PaisAnalytics))
    {
        <link href="@Url.Content("~/Content/Images/icons/favicon_esika.ico")" rel="shortcut icon" type="image/x-icon" />
        @System.Web.Optimization.Styles.Render("~/Content/Css/Site/Esika/CssSB2")
    }
    else
    {
        <link href="@Url.Content("~/Content/Images/icons/favicon_lbel.ico")" rel="shortcut icon" type="image/x-icon" />
        @System.Web.Optimization.Styles.Render("~/Content/Css/Site/Lbel/CssSB2")
    }

    <script type="text/javascript">
        var baseUrl = "@Url.Content("~")";
        var isEsika = '@(System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika").Contains(ViewBag.PaisAnalytics == null ? "" : ViewBag.PaisAnalytics))' == "True";
        var trackingJetloreAccessToken = '@System.Configuration.ConfigurationManager.AppSettings.Get("TrackingJetloreAccessToken")';
        var tipoOfertaFinalCatalogoPersonalizado = '@Constantes.TipoOfertaFinalCatalogoPersonalizado.Jetlore';
        var esPaisTrackingJetlore = '@ViewBag.PaisesConTrackingJetlore';
        var indicadorEnviadoDescarga = '@ViewBag.IndicadorEnviado';
        var estaRechazado = '@ViewBag.IndicadorGPRSB';
        var cerrarRechazado = '@ViewBag.CerrarRechazado';
        var motivoRechazo = '@ViewBag.MotivoRechazo';
        var UrlChat = '@ViewBag.UrlBelcorpChat';
        var mostrarBannerRechazo = '@ViewBag.MostrarBannerRechazo';
        var UrlChatAnterior = 'https://chat1-cls1-cgn-bct.i6.inconcertcc.com/inconcert/apps/webdesigner/BelcorpNew?token=@ViewBag.TokenAtento';
        var IsoPais = '@ViewBag.CodigoISODL';
        var BelcorpFechaChat_Pais = '@(System.Configuration.ConfigurationManager.AppSettings["FechaChat_" + ViewBag.CodigoISODL])';
        var PaisesChatEMTELCO ='@(System.Configuration.ConfigurationManager.AppSettings["PaisesBelcorpChatEMTELCO"])';
        var FechaActual = '@(System.DateTime.Now.ToString("dd/MM/yyyy"))';
        var estadoPedido = '@ViewBag.EstadoPedido';
        var validacionAbierta = '@ViewBag.ValidacionAbierta';

        var urlLogDynamo = '@System.Configuration.ConfigurationManager.AppSettings["UrlLogDynamo"]';
        var userData = {
            'campana': '@ViewBag.CampaniaCodigo',
            'region': '@ViewBag.RegionAnalytics',
            'zona': '@ViewBag.ZonaAnalytics',
            'seccion': '@ViewBag.SeccionAnalytics',
            'pais': '@ViewBag.PaisAnalytics',
            'codigoConsultora': '@ViewBag.CodigoConsultoraDL'
        };
    </script>

    @RenderSection("styles", required: false)
</head>
<body>
    <!-- Google Tag Manager -->
    <script type="text/javascript">
        dataLayer = [{
            'campana': '@ViewBag.CampaniaCodigo',
            'segmento': '@ViewBag.SegmentoAnalytics',
            'edad': '@ViewBag.EdadAnalytics',
            'zona': '@ViewBag.ZonaAnalytics',
            'pais': '@ViewBag.PaisAnalytics',
            'rol': '@ViewBag.esConsultoraLiderAnalytics',
            'region': '@ViewBag.RegionAnalytics',
            'seccion': '@ViewBag.SeccionAnalytics',
            'codigoconsultora': '@ViewBag.CodigoConsultoraDL',
            'periodo': '@ViewBag.PeriodoAnalytics',
            'segmentoconstancia': '@ViewBag.SegmentoConstancia',
            'socianivel': '@ViewBag.DescripcionNivelAnalytics',
            'semana-periodo': '@ViewBag.SemanaAnalytics'
        }];
    </script>
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-M8QMC8" height="0" width="0" style="display: none; visibility: hidden;"></iframe>
    </noscript>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                        '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-M8QMC8');
    </script>
    <!-- End Google Tag Manager -->
    @if (ViewBag.PaisesConTrackingJetlore == "1")
    {
        <script type="text/javascript" src="https://assets.jetlore.com/js/jltracking.js"></script>
        <script type="text/javascript">
            JL.tracking({
                cid: trackingJetloreAccessToken,
                user_id: '@ViewBag.CodigoConsultoraDL',
                feed_id: 'Belcorp_' + '@ViewBag.CodigoISODL',
            });
        </script>
    }

    <script type="text/javascript">
        if (!String.prototype.startsWith) {
            String.prototype.startsWith = function (searchString, position) {
                position = position || 0;
                return this.indexOf(searchString, position) === position;
            };
        }
    </script>
    @if (ViewBag.Rol == Portal.Consultoras.Common.Constantes.Rol.Consultora)
    {
        string nombre_pais = ViewBag.PaisAnalytics;

        switch (nombre_pais)
        {
            case "EC":
        <div class="boton_ayuda"><span id="belcorpChat1" class="boton-home"><a href="http://200.32.70.19/Belcorp/" target="_blank">¿Necesitas ayuda?</a> </span></div>
                break;
            case "CO":
            case "BO":
            case "CL":
            case "MX":
            case "PR":
            case "DO":
            case "PE":
            case "PA":
            case "CR":
            case "SV":
            case "GT":
            <div class="boton_ayuda"><span class="boton-home belcorpChat"><a href="#">¿Necesitas ayuda?</a> </span></div>
                break;
        }
    }
    <!-- cabecera -->
    <header>

        <!--OFERTA DEL DIA -->
        <div class="bloque_oferta_dia" id="OfertaDelDia" style="display: none">
        </div>
        <!--OFERTA DEL DIA -->

        <div id="bloquemensajesPedido" style="display: none">
            <div class="oscurecer_animacion"></div>
            <div class="bloque_mensajesPedido" style="display: block">
                <div class="icono_cerrar_mensaje" style="top: 16px">
                    <span>
                        <a href="javascript:void();" id="cerrarMensajeEstadoPedido" title="Cerrar" onclick="cerrarMensajeEstadoPedido();">
                            <img src="/Content/Images/btn_cerrar_popup.png" alt="Cerrar">
                        </a>
                    </span>
                    <span>CERRAR</span>
                </div>
                <div class="icono_estadoPedido">
                    <img src="@Url.Content("~/Content/Images/icono_exclamacion_estado_pedido.png")" alt="Icono Estado Pedido" />
                </div>
                <div class="mensajes_estadoPedido">                  
                    <span class="mensaje_estadoActualPedido">TU PEDIDO HA SIDO RECHAZADO</span>
                    <span class="mensaje_horarioIngresoPedido">Tienes una deuda de S/. <span>200</span> que debes regularizar.
                        <a href="#" title="MIRA LOS LUGARES DE PAGO">MIRA LOS LUGARES DE PAGO</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="wrapper_header">
            <div class="logo_esika">
                <a href="@Url.Action("Index", "Bienvenida")"></a>
            </div>
            <div class="menu_new_esika">
                @Html.Partial("~/Views/Shared/_Menu.cshtml")
            </div>
            @{
                string controllerAction = this.ViewContext.RouteData.Values["controller"].ToString() + this.ViewContext.RouteData.Values["action"].ToString();
            }
            <div class="menu_esika_b">
                <div class="campana user-profile">
                    <img class="mostrar_perfil oculto" region="Superior" src="/Content/Images/Esika/user.jpg" alt="Esika">
                    @*CAMBIAR LA CLASE POR "OCULTAR_PERFIL"*@
                </div>
                <div class="campana">
                    <a class="@(controllerAction == "BienvenidaIndex" ? "oculto" : "")" href="javascript:;" onclick="Notificaciones();" role="menu" region="Superior" title="Notificaciones" id="lnk-sup-notificacion">
                        <div class="campana_svg mensaje_svg"></div>
                        <p class="notificaciones notificaciones_existentes js-notificaciones">0</p>
                    </a>
                </div>
                <div class="borde_c @(controllerAction == "BienvenidaIndex" ? "invisible" : "")"></div>
                <div class="campana cart_compras" style="width: auto;">
                    <div class="contenedor_circulos">
                        <div class="circulo-1 iniciarTransicion"></div>
                        <div class="circulo-2 iniciarTransicion"></div>
                        <div class="circulo-3 iniciarTransicion"></div>
                    </div>
                    <a href="#">
                        <div class="campana_svg"></div>
                        <p class="notificaciones" id="pCantidadProductosPedido" style="width: 14px;">0</p>
                    </a>
                    <div class="info_cam">
                        <div class="flechita_info"></div>
                        <div class="linea_blanca"></div>
                        <div id="SinProductos">
                            <div class="sin_productos">
                                Todavía no has agregado
                                <br />
                                ningún producto a tu<br />
                                pedido.
                            </div>
                            <a href="javascript:;" onclick="RedirectIngresaTuPedido();" class="ver_pedido esika">INGRESA TU PEDIDO</a>
                        </div>
                        <div id="carrito_items">
                        </div>
                    </div>
                </div>
                <div class="borde_c"></div>
                <div class="mensaje_header" id="salvavidaTutorial" style="display: none;">
                    <div class="campana_svg tutoriales_svg">
                        <div class="contenedor_circulosTutorial">
                            <div class="circulo-1 iniciarTransicion"></div>
                            <div class="circulo-2 iniciarTransicion"></div>
                            <div class="circulo-3 iniciarTransicion"></div>
                        </div>
                        <div class="tooltip_tutorial" style="display: none;">
                            <div class="cerrar_tooltipTutorial">
                                <a href="javascript:void();" onclick="ocultarUbicacionTutorial();" title="Cerrar">
                                    <img src="@Url.Content("~/Content/Images/btn_cerrar_popup_color_negro.svg")" alt="Cerrar" />
                                </a>
                            </div>
                            <span class="titulo_necesitasAyuda">¿Necesitas ayuda?</span>
                            <span class="descripcion_necesitasAyuda">Hoy te brindamos este salvavidas que te ayudará a comprender la sección en donde te encuentres</span>
                        </div>
                    </div>
                </div>
                <div class="boton_cam">
                    @{
                        if (ViewBag.CampaniaCodigo == null || ViewBag.CampaniaCodigo.ToString().Length < 6)
                        {
                        @:ESTÁS EN <br /> <span>-</span>
                        }
                        else
                        {
                        @:ESTÁS EN <br /> <span>C-@(Portal.Consultoras.Common.Util.SubStr((ViewBag.CampaniaCodigo ?? "").ToString(), 4, 2))</span>
                        }
                    }
                </div>
                <div class="boton_cerrar_s">
                    <a href="javascript:;" onclick="CerrarSesion();" role="menu" region="Superior" title="Cerrar Sesión" id="lnk-sup-cerrar-sesion">CERRAR
                        <br />
                        SESIÓN
                    </a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </header>
    <div class="fondo_oscuro"></div>
    <div class="ubicacion_web @(controllerAction == "BienvenidaIndex" ? "oculto" : "")">
        <span><a href="@Url.Action("Index", "Bienvenida")">Home</a></span> <span>| @ViewBag.Title</span>
    </div>
    <!-- end cabecera -->
    <!-- contenedor -->
    <div class="content" data-content="">
        @RenderBody()
        @if (ViewBag.TerminoMostrar == 1)
        {
            <div class="footerTerminos">
                <a id="linkTerminosCondicionesShowRoom" onclick="SetMarcaGoogleAnalyticsTermino();" target="_blank">T&eacute;rminos y condiciones</a>
            </div>
        }
        <!-- footer -->
        <hr class="clear" />
        <footer class="footer_e">
            @Html.Partial("~/Views/Shared/_Footer.cshtml")
        </footer>
        <!-- end footer -->
    </div>
    <!-- end contenedor -->
    <div id="ModalFeDeErratas" style="display: none;">
        <div class="lista_erratas">
            <ul id="ListadoFeErratas"></ul>
        </div>
    </div>
    <div id="divRegistroComunidad" class="wrap">
        <div id="divRegCom_Form" class="Content_modal_Com">
            <div class="webFormCom">
                <div class="div-3">
                    ¿Aún no eres parte de nuestra comunidad?
                    Ingresa tus datos aquí.
                </div>
                <div class="div-3">
                    <div class="formcontrol user">
                        <input id="txtNombreConCom" runat="server" type="text" class="inputForm" value="@ViewBag.NombreC" readonly="readonly" />
                    </div>
                    <div class="formcontrol user">
                        <input id="txtApellidoConCom" runat="server" type="text" class="inputForm" value="@ViewBag.ApellidoC" readonly="readonly" />
                    </div>
                    <div class="formcontrol user">
                        <input id="txtUsuarioComunidad" runat="server" type="text" class="inputForm ValidaAlfanumerico" maxlength="25" onpaste="return false;" value="Tu apodo en la comunidad" onfocus="if (this.value == 'Tu apodo en la comunidad') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Tu apodo en la comunidad';}else{if (this.value != 'Tu apodo en la comunidad') {ValidarUsuarioIngresado(this.value);}}" />
                        <div id="ErrorUsuario" style="font-size: 11px; color: red; display: none;">Debe ingresar un apodo.</div>
                        <div id="ValUsuario" style="font-size: 11px; display: none;">
                            <img src="../Content/Images/loadingCatalogo.gif" style="vertical-align: middle;" alt="Cargando" />
                            Validando...
                        </div>
                    </div>
                    <div id="ES_Usuario" style="height: 10px; display: none;"></div>
                    <div class="formcontrol mail">
                        <input id="txtNuevoCorreoComunidad" runat="server" type="text" class="inputForm" value="Correo electrónico" onfocus="if (this.value == 'Correo electrónico') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Correo electrónico';}else{if (this.value != 'Correo electrónico') {ValidarCorreoIngresado(this.value);}}" />
                        <div id="ErrorCorreo" style="font-size: 11px; color: red; display: none;"></div>
                        <div id="ValCorreo" style="font-size: 11px; display: none;">
                            <img src="../Content/Images/loadingCatalogo.gif" style="vertical-align: middle;" alt="Cargando" />
                            Validando...
                        </div>
                    </div>
                    <div id="ES_Correo" style="height: 10px; display: none;"></div>
                </div>
                <div class="div-3">
                    <div class="input_validar" style="float: left;">
                        <input id="btnRegistrarUsuarioComunidad" type="button" value="Crea tu cuenta" onclick="return ValidarCorreoComunidad(2)" />
                    </div>
                </div>
            </div>
            <div class="webFormComDiv">
            </div>
            <div class="webFormCom">
                <div class="div-3">
                    Si ya eres miembro de la Comunidad
                    Somos Belcorp, ingresa tu correo aquí:
                </div>
                <div class="div-3">
                    <div class="formcontrol mail">
                        <input id="txtCorreoComunidad" runat="server" type="text" class="inputForm" value="Correo electrónico" onfocus="if (this.value == 'Correo electrónico') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Correo electrónico';}else{if (this.value != 'Correo electrónico') {}}" />
                        <div id="ErrorCorreoC" style="font-size: 11px; color: red; display: none;"></div>
                    </div>
                    <div id="ES_CorreoC" style="height: 10px; display: none;"></div>
                </div>
                <div class="div-3">
                    <div class="input_validar" style="float: left;">
                        <input id="btnValidarCorreo" type="button" value="Ingresar" onclick="return ValidarCorreoComunidad(1)" />
                    </div>
                </div>
            </div>
        </div>
        <div id="divMenCom_Form" class="Content_modal_Com">
            <div class="div-3">
                <b>¡Gracias por unirte a Somos Belcorp!</b>, una comunidad de mujeres emprendedoras
                <br />
                y apasionadas por el negocio de la belleza.
                <br />
                <br />
                Revisa tu correo y sigue los pasos para ingresar.
                ¡Te esperamos!
                <br />
                <br />
            </div>
            <div class="div-3">
                <div class="input_validar" style="float: left;">
                    <input id="btnAceptarMensajeCom" type="button" value="Aceptar" onclick="return $('#divRegistroComunidad').dialog('close');" />
                </div>
            </div>
        </div>
    </div>
    <div id="DialogMensajesCom" style="display: none;">
        <div class="Content_modal">
            <div class="message_text">
            </div>
        </div>
    </div>
    <input type="hidden" id="hdCampaniaCodigo" value="@ViewBag.CampaniaCodigo" />
    <input type="hidden" id="hdTipoOfertaFinal" value="@ViewBag.OfertaFinal" />
    <input type="hidden" id="hdTipoCatalogoPersonalizado" value="@ViewBag.CatalogoPersonalizado" />
    <input type="hidden" id="hdFlagOfertaWeb" value="0" />
    <input type="hidden" id="hdFlagOfertaLiquidacion" value="0" />
    <input type="hidden" id="hdFlagValidacion" value="0" />
    <input type="hidden" id="hdFlagValidacionReserva" value="0" />
    <input type="hidden" id="hdEsCatalogoPersonalizadoZonaValida" value="@Convert.ToString(ViewBag.EsCatalogoPersonalizadoZonaValida)" />
    <!--Div Banner Lateral ShowRoom-->
    <div id="ctras" class="caja-traslado" style="display: none;">
        <input type="hidden" id="hdEventoIDShowRoom" />
        <input type="hidden" id="hdNombreEventoShowRoom" />
        <a href="#" class="mover">
            @*<img src="@Url.Content("~/Content/Images/showroom/preventa_pop.jpg")" alt="" />*@
            <img id="imgPestaniaShowRoomLateral" alt="imgPestaniaShowRoomLateral" style="max-width: 100% !important;" />
        </a>
        <div class="contenido-ct">
            <div class="titulo_caja_traslado">
                SÓLO FALTAN
            </div>
            <div class="caja_dias">
                <span id="spnDiasFaltantes">12</span>
            </div>
            <div class="titulo_caja_traslado">
                DÍAS
            </div>
            <div style="height: 20px; width: 100%; margin-top: 20px">
                <div class="text_hora">hrs</div>
                <div class="text_hora">min</div>
                <div class="text_hora no_margin_right">sec</div>
            </div>
            <div class="fondo_contador">
                <div class="text_numero"><span id="spnHorasFaltantes">18</span></div>
                <div class="text_bolita">&#8226;</div>
                <div class="text_numero"><span id="spnMinutosFaltantes">25</span></div>
                <div class="text_bolita">&#8226;</div>
                <div class="text_numero"><span id="spnSegundosFaltantes">02</span></div>
            </div>

            <a href=""
                class="boton_showroom" id="lnkConoceMasShowRoomBannerLateral" target="_blank">CONOCE MÁS AQUÍ</a>
        </div>
    </div>
    <div id="ctrasHoy" class="caja-traslado" style="display: none;">
        <a href="#" class="mover">
            @*<img src="@Url.Content("~/Content/Images/showroom/preventa_pop.jpg")" alt="" />*@
            <img id="imgPestaniaShowRoomLateralHoy" alt="imgPestaniaShowRoomLateralHoy" style="max-width: 100% !important;" />
        </a>
        <div class="contenido-ct">
            <div style="width: 154px; height: 197px; margin-left: -8px;">
                <img id="imgVentaTagLateralHoy" alt="" />
            </div>
            <a href="#" class="boton_showroom" id="lnkConoceMasShowRoomBannerLateralHoy">VER OFERTAS AQUÍ</a>
        </div>
    </div>
    <div id="alertDialogMensajes" style="display: none;">
        <div class="terminos_title_2">MENSAJE</div>
        <div class="linea_superior margin_10"></div>
        <div class="pop_pedido_mensaje"></div>
    </div>

    <!-- POPUP MENSAJE ERROR - exclamacion  -->
    <div class="contenedor_popup_agregarUnidades contenedor_popup_error" id="dialog_ErrorMainLayout" style="display: none;">
        <div class="popup_agregarUnidades">
            <div class="btn_cerrar_agregarUnidades">
                <a href="javascript:;" onclick="return $('#dialog_ErrorMainLayout').hide();">
                    <img src="@Url.Content("~/Content/Images/btn_cerrar_popup.png")" alt="Cerrar" />
                    <span class="texto_btn_cerrar">CERRAR</span>
                </a>
            </div>
            <div class="contenido_popUp">
                <span class="icono_exclamacion"></span>
                <h1 class="titulo_agregarUnidades"><b>LO SENTIMOS</b></h1>
                <div id="mensajeInformacionSB2_Error" class="mensaje_agregarUnidades"></div>
                <button type="button" name="btn_ok" class="btn_ok" onclick="return $('#dialog_ErrorMainLayout').hide();">
                    OK
                </button>
            </div>
        </div>
    </div>
    <!-- FIN POPUP MENSAJE ERROR - exclamacion -->

    <!-- POPUP SESIÓN FINALIZADA - exclamacion  -->
    <div class="contenedor_popup_agregarUnidades contenedor_popup_error" id="dialog_SesionMainLayout" style="display: none;">
        <div class="popup_agregarUnidades">
            <div class="btn_cerrar_agregarUnidades">
                <a href="javascript:;" onclick="window.location.href='@Url.Action("Index", "Login", new { area = "" })'">
                    <img src="@Url.Content("~/Content/Images/btn_cerrar_popup.png")" alt="Cerrar" />
                    <span class="texto_btn_cerrar">CERRAR</span>
                </a>
            </div>
            <div class="contenido_popUp">
                <span class="icono_exclamacion"></span>
                <h1 class="titulo_agregarUnidades"><b>SESIÓN FINALIZADA</b></h1>
                <div id="mensajeSesionSB2_Error" class="mensaje_agregarUnidades"></div>
                <button type="button" name="btn_ok" class="btn_ok" onclick="window.location.href='@Url.Action("Index", "Login", new { area = "" })'">
                    OK
                </button>
            </div>
        </div>
    </div>
    <!-- FIN POPUP SESIÓN FINALIZADA - exclamacion -->

    <div id="divMensajeConfirmacion" style="display: none;">
        <div class="terminos_title_2 divTitle">
            IMPORTANTE
        </div>
        <div class="pop_pedido_mensaje divTexto">
            <p></p>
        </div>
        <div style="text-align: center; margin-top: 30px;">
            <input type="button" value="CANCELAR" onclick="$('#divMensajeConfirmacion').dialog('close');" class="input_modifica_horizontal btnMensajeCancelar" style="width: 100px; margin-left: 0;" />
            <input type="button" value="ACEPTAR" onclick="$('#divMensajeConfirmacion').dialog('close');" class="input_modifica_horizontal btnMensajeAceptar" style="width: 100px; margin-left: 20px;" />
        </div>
    </div>

    <script id="resumenCampania-template" type="text/x-handlebars-template">
        <div class="info_productos_carrito">
            He agregado <span>{{cantidadProductos}}</span> unidades.<br />
            Últimos agregados:
        </div>
        <!--ITEMS CARRITO-->
        {{#each this.ultimosTresPedidos}}
        <div class="productos_agregado_carrito">
            <div class="marca_belcorp">{{DescripcionLarga}}</div>
            <hr class="clear" />
            @*<div class="descripcion_producto_carrito">{{DescripcionProd}}</div>*@
            <div class="descripcion_producto_carrito">{{Split DescripcionProd '|' 0}}</div>
            <div class="marca_belcorp" style="font-size: 13px;">x{{Cantidad}}</div>
            <div class="precio_carrito">{{../Simbolo}}{{ImporteTotal}}</div>
        </div>
        {{/each}}
        <!--FIN-->
        <div class="pago_pedido_carrito">
            <div class="info_copy">
                <img src="@Url.Content("~/Content/Images/Esika/info-copy.png")" />
                <!--TOOLTIP-->
                <div class="tooltip_importe">
                    <div class="left_reservado">
                        <div class="datos_Reservado">
                            <span>Total sin Dscto. </span>
                            <span>Dscto por niveles</span>
                        </div>
                    </div>
                    <div class="right_reservado">
                        <div class="datos_Reservado">
                            <span data-pedidototal="">{{Simbolo}} {{montoWebAcumulado}}</span>
                            <span data-montodescuento="">{{Simbolo}} {{#iff DescuentoProl '>' 0}}-{{/iff}}{{DescuentoProlStr}}</span>
                        </div>
                    </div>
                </div>
                <!--FIN-->
            </div>
            PEDIDO TOTAL
            <span>{{Simbolo}} <span data-pedidocondescuento="">{{montoWebConDescuentoStr}}</span></span>
        </div>
        <hr class="clear" />
        <a href="javascript:;" onclick="RedirectIngresaTuPedido();" class="ver_pedido" role="menu" region="Superior" title="Ver mi pedido" id="lnk-sup-ver-mi-pedido">VER TODO MI PEDIDO</a>
    </script>
    <!--OFERTA DEL DIA -->
    <script id="ofertadeldia-template" type="text/x-handlebars-template">
        <div class="content_oferta_dia" id="banner-odd">
            <div class="reloj_oferta">
                TE QUEDAN @*<span>05:00:20</span>*@
                <div class="clock"></div>
                <div class="message"></div>
            </div>
            <div class="solo_hoy">
                @*<img src="@Url.Content("~/Content/Images/PL20/solo_hoy.png")" alt="" />*@
                <img id="img-solohoy-odd" alt="" />
            </div>
            <div class="producto_set">
                <img src="@Url.Content("~/Content/Images/PL20/set_hoy.png")" alt="" id="img-banner-odd" />
            </div>
            <div class="precio_set_dia">
                <div class="nombre_set_oferta">{{NombreOferta}}</div>
                A SOLO <span>@ViewBag.Simbolo {{PrecioOfertaFormat}}</span>
            </div>
            <div style="float: left">
                <a class="btn_agrega_set_dia" onclick="addOfertaDelDiaPedido(1);">AGRÉGALO</a>
            </div>
            <a class="btn_detalle_hoy">
                <div class="circulo_hoy"><span>+</span></div>
                <div class="texto_detalle_set">VER DETALLE</div>
            </a>

            <input type="hidden" id="tipoestrategia-id-odd" value="{{TipoEstrategiaID}}" />
            <input type="hidden" id="estrategia-id-odd" value="{{EstrategiaID}}" />
            <input type="hidden" id="marca-id-odd" value="{{MarcaID}}" />
            <input type="hidden" id="cuv2-odd" value="{{CUV2}}" />
            <input type="hidden" id="limite-venta-odd" value="{{LimiteVenta}}" />
            <input type="hidden" id="flagnueva-odd" value="{{FlagNueva}}" />
            <input type="hidden" id="precio-odd" value="{{PrecioOferta}}" />
            <input type="hidden" id="nombre-odd" value="{{NombreOferta}}" />
            <input type="hidden" id="indmonto-min-odd" value="{{IndicadorMontoMinimo}}" />
            <input type="hidden" id="teimagenmostrar-odd" value="{{TipoEstrategiaImagenMostrar}}" />

        </div>
        <a class="btn_cerrar_ofertaDia" href="javascript:;" onclick="closeOfertaDelDia();">x</a>
        <div class="content_pop_oferta_dia" id="PopOfertaDia" style="display: none;">
            @*<a href="javascript:;" onclick="javascript: $('#PopOfertaDia').slideUp();" title="Cerrar" class="cerrar_pop_oferta">
                <img src="/Content/Images/cerrar_04_blanco.png" alt="Cerrar">
            </a>*@

            @*<div class="reloj_popOferta">05:00:20</div>*@
            <hr class="clear" />
            <div class="content_set_pop_hoy">
                <div class="imagen_set_Oferta_pop">
                    <img src="@Url.Content("~/Content/Images/PL20/set_hoy.png")" alt="" id="img-display-odd" /></div>
                <div class="right_set_hoy">
                    <div class="producto_gratis_ofertaDia">{{NombreOferta}}</div>
                    <div class="descripcion_set_ofertaDia">{{DescripcionOferta}}</div>
                </div>
            </div>
            <div class="precio_valorizado_oferta">VALORIZADO EN <span>@ViewBag.Simbolo {{PrecioCatalogoFormat}}</span></div>
            <div class="precio_ofertaDia">A SOLO <span>@ViewBag.Simbolo {{PrecioOfertaFormat}}</span></div>
            <div style="text-align: center">
                <div class="liquidacion_rango_home js-no-popup">
                    <input type="text" value="1" style="color: white" size="2" maxlength="2" id="txtcantidad-odd" class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral js-no-popup" tabindex="0">
                    <div class="liquidacion_rango_right_pedido js-no-popup">
                        <a class="mas js-no-popup" tabindex="0">
                            <img class="js-no-popup" src="/Content/Images/PL20/mas.png" alt=""></a>
                        <a class="menos js-no-popup" tabindex="0">
                            <img class="js-no-popup" src="/Content/Images/PL20/menos.png" alt=""></a>
                    </div>
                </div>
                <a class="btn_pop_agregalo_oferta" onclick="addOfertaDelDiaPedido(2);">AGRÉGALO A TU PEDIDO</a>
            </div>
        </div>
    </script>
    <!--OFERTA DEL DIA -->


    @System.Web.Optimization.Scripts.Render("~/bundles/JQueryJs")
    <script type="text/javascript">
        var formatDecimalPaisMain = '@ViewBag.FormatDecimalPais';
        var vbSimbolo = '@ViewBag.Simbolo';
        var esPaisTrackingJetlore = '@ViewBag.PaisesConTrackingJetlore';
        var viewBagRol = '@ViewBag.Rol';
        var DesktopHomeBanners = @Portal.Consultoras.Common.Constantes.OrigenPedidoWeb.DesktopHomeBanners;
        var DesktopHomeOfertasParaTi = @Portal.Consultoras.Common.Constantes.OrigenPedidoWeb.DesktopHomeOfertasParaTi;
        var DesktopHomeOfertasParaTiPopUp = @Portal.Consultoras.Common.Constantes.OrigenPedidoWeb.DesktopHomeOfertasParaTiPopUp;
        var DesktopHomeCatalogoPersonalizado = @Portal.Consultoras.Common.Constantes.OrigenPedidoWeb.DesktopHomeCatalogoPersonalizado;
        var DesktopHomeCatalogoPersonalizadoPopUp = @Portal.Consultoras.Common.Constantes.OrigenPedidoWeb.DesktopHomeCatalogoPersonalizadoPopUp;
        var DesktopHomeLiquidacion = @Portal.Consultoras.Common.Constantes.OrigenPedidoWeb.DesktopHomeLiquidacion;
        var DesktopPedidoOfertasParaTi = @Portal.Consultoras.Common.Constantes.OrigenPedidoWeb.DesktopPedidoOfertasParaTi;
        var DesktopPedidoOfertasParaTiPopUp = @Portal.Consultoras.Common.Constantes.OrigenPedidoWeb.DesktopPedidoOfertasParaTiPopUp;
        var DesktopPedidoSugerido = @Portal.Consultoras.Common.Constantes.OrigenPedidoWeb.DesktopPedidoSugerido;
        var DesktopPedidoOfertaFinal = @Portal.Consultoras.Common.Constantes.OrigenPedidoWeb.DesktopPedidoOfertaFinal;
        var DesktopLiquidacion = @Portal.Consultoras.Common.Constantes.OrigenPedidoWeb.DesktopLiquidacion;
        var DesktopCatalogoPersonalizadoPopUp = @Portal.Consultoras.Common.Constantes.OrigenPedidoWeb.DesktopCatalogoPersonalizadoPopUp;
        var DesktopCatalogoPersonalizado = @Portal.Consultoras.Common.Constantes.OrigenPedidoWeb.DesktopCatalogoPersonalizado;
        var sesionEsShowRoom = '@Session["EsShowRoom"]';
        var EfectoTutorialSalvavidas = '@ViewBag.Efecto_TutorialSalvavidas';

        var ViewBagEsMobile = '@ViewBag.EsMobile';

        /*PL20-1226*/
        var tieneOfertaDelDia = '@ViewBag.TieneOfertaDelDia';
    </script>
    @System.Web.Optimization.Scripts.Render("~/bundles/JsSB2")
    @*<script src="https://webchat-cls1-cgn-bct.i6.inconcertcc.com/v2/click_to_chat?token=@ViewBag.TokenAtento&container_id=belcorpChat"></script>*@
    <script src="@Url.Content("~/Scripts/flipclock.js")" type="text/javascript"></script>

    <script type="text/javascript">
        var clock;

        $(document).ready(function() {

            //clock = $('.clock').FlipClock({
            //    clockFace: 'HourlyCounter'
            //});
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            //var cambio=0;
            //$(".btn_detalle_hoy").on("click", function () {
            //    if(cambio==0){
            //        $('#PopOfertaDia').slideDown(); //muestro mediante id 
            //        $(".circulo_hoy span").html("+");
            //        cambio=1;
            //    }
            //    else{
            //        $('#PopOfertaDia').slideUp(); //muestro mediante id 
            //        $(".circulo_hoy span").html("x");
            //        cambio=0;
            //    }
            
            //});     
        });

    </script>

    <script type='text/javascript'>
        (function () {
            var proto = document.location.protocol || 'http:';
            var trme = document.createElement('script');
            trme.type = 'text/javascript';
            trme.async = true;
            trme.src = proto + '//trackme-cls1-cgn-bct.i6.inconcertcc.com/inconcert/apps/trackme/js/tm.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(trme, s);
        })();
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
