@using Portal.Consultoras.Common
<!DOCTYPE html>
<html lang="es" class="no-js">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=10,chrome=1" />

    <meta name="description" content="Portal de consultoras" />
    <meta name="author" content="Belcorp" />

    <title>Belcorp | Portal Consultoras</title>

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700italic,300,700,900" rel="stylesheet" type="text/css" />

    @if (System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika").Contains(ViewBag.PaisAnalytics))
    {
        <link href="@Url.Content("~/Content/Images/icons/favicon_esika.ico")" rel="shortcut icon" type="image/x-icon" />
        @System.Web.Optimization.Styles.Render("~/Content/Css/Site/Esika/CssSB2")        
    }
    else
    {   
        <link href="@Url.Content("~/Content/Images/icons/favicon_lbel.ico")" rel="shortcut icon" type="image/x-icon" />
        @System.Web.Optimization.Styles.Render("~/Content/Css/Site/Lbel/CssSB2")        
    }

    <script type="text/javascript">
        var baseUrl = "@Url.Content("~")";
        var _gaq = _gaq || [];

        var isEsika = '@(System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika").Contains(ViewBag.PaisAnalytics))' == "True";

        var trackingJetloreAccessToken = '@System.Configuration.ConfigurationManager.AppSettings.Get("TrackingJetloreAccessToken")';

        var tipoOfertaFinalCatalogoPersonalizado = '@Constantes.TipoOfertaFinalCatalogoPersonalizado.Jetlore';

        window.history.forward();

        function noBack() {
            window.history.forward();
        }
    </script>

    @RenderSection("styles", required: false)

</head>
<body onload="noBack();" onpageshow="if (event.persisted) noBack();" onunload="">

    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-M8QMC8" height="0" width="0" style="display:none; visibility:hidden;"></iframe>
    </noscript>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                        '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-M8QMC8');
    </script>
                 
    @if (ViewBag.OfertaFinal == Constantes.TipoOfertaFinalCatalogoPersonalizado.Jetlore || ViewBag.CatalogoPersonalizado == Constantes.TipoOfertaFinalCatalogoPersonalizado.Jetlore)
    {
        <script type="text/javascript" src="https://assets.jetlore.com/js/jltracking.js"></script>

        <script type="text/javascript">
            JL.tracking({
                cid: trackingJetloreAccessToken,
                user_id: '@ViewBag.CodigoConsultoraDL',
                feed_id: 'Belcorp_' + '@ViewBag.CodigoISODL',
            });
        </script>
    }
    
    <script type="text/javascript">
        dataLayer.push({
            'event': 'userCustomVars',
            'campana': '@ViewBag.CampaniaCodigo',
            'segmento': '@ViewBag.SegmentoAnalytics',
            'edad': '@ViewBag.EdadAnalytics',
            'zona': '@ViewBag.ZonaAnalytics',
            'pais': '@ViewBag.PaisAnalytics',
            'rol': '@ViewBag.esConsultoraLiderAnalytics',
            'region': '@ViewBag.RegionAnalytics',
            'seccion': '@ViewBag.SeccionAnalytics',
            'codigoconsultora': '@ViewBag.CodigoConsultoraDL',
            'periodo': '@ViewBag.PeriodoAnalitycs',
            'segmentoconstancia': '@ViewBag.SegmentoConstancia',
            'socianivel': '@ViewBag.DescripcionNivelAnalytics'
        });

        if (!String.prototype.startsWith) {
            String.prototype.startsWith = function (searchString, position) {
                position = position || 0;
                return this.indexOf(searchString, position) === position;
            };
        }
    </script>
    <!-- End Google Tag Manager -->
    @if (ViewBag.PaisAnalytics == "EC")
    {
        <div class="boton_ayuda">
            <a href="http://200.32.70.19/Belcorp/" class="boton-home chat" target="_blank">
                <span style="display: block; height: 100%; width: 100%;">¿Necesitas ayuda?</span>
            </a>
        </div>
    }
    else
    {
        <div class="boton_ayuda"><span id="belcorpChat" class="boton-home">¿Necesitas ayuda?</span></div>
    }

    @*<div id="toDown" class="boton_ayuda flecha_b"><a href="javascript:;" class="boton-home fondo_b">Bajar</a></div>
        <div id="toUp" class="boton_ayuda flecha_a"><a href="javascript:;" class="boton-home fondo_a">Subir</a></div>*@

    <!-- cabecera -->
    <header>
        <div class="wrapper_header">
            <div class="fondo_oscuro"></div>
            <div class="logo_esika">
                <a href="@Url.Action("Index", "Bienvenida")"></a>
            </div>

            <div class="menu_new_esika">
                @Html.Partial("~/Views/Shared/_Menu.cshtml")
            </div>

            @{
                string controllerAction = this.ViewContext.RouteData.Values["controller"].ToString() + this.ViewContext.RouteData.Values["action"].ToString();
            }
            <div class="menu_esika_b">
                <div class="campana user-profile">
                    <img class="mostrar_perfil oculto" region="Superior"  src="/Content/Images/Esika/user.jpg" alt="Esika"> @*CAMBIAR LA CLASE POR "OCULTAR_PERFIL"*@
                </div>

                <div class="campana">
                    <a class="@(controllerAction == "BienvenidaIndex" ? "oculto" : "")" href="javascript:;" onclick="Notificaciones();" role="menu" region="Superior" title="Notificaciones" id="lnk-sup-notificacion">
                        <div class="campana_svg mensaje_svg"></div>
                        <p class="notificaciones notificaciones_existentes js-notificaciones">0</p>
                    </a>
                </div>

                <div class="borde_c @(controllerAction == "BienvenidaIndex" ? "invisible" : "")"></div>
                <div class="campana cart_compras" style="width:auto;">
                    <div class="circulo-1"></div>
                    <a href="#">
                        <div class="campana_svg"></div>
                        <p class="notificaciones" id="pCantidadProductosPedido" style="width:14px;">0</p>
                    </a>

                    <div class="info_cam">
                        <div class="flechita_info"></div>
                        <div class="linea_blanca"></div>
                        <div id="SinProductos">
                            <div class="sin_productos">
                                Todavía no has agregado <br />ningún producto a tu<br /> pedido.
                            </div>
                            <a href="javascript:;" onclick="RedirectIngresaTuPedido();" class="ver_pedido esika">INGRESA TU PEDIDO</a>
                        </div>
                        <div id="carrito_items">
                        </div>

                        @*<h1> RESUMEN DE CAMPAÑA</h1>
                            <p>
                                PEDIDO WEB ACUMULADO <br />
                                <b>TOTAL A PAGAR</b>
                            </p>
                            <span>
                                <span id="spPedidoWebAcumulado"></span>
                                <br />
                                <span id="spTotalMontoAPagar"></span>
                            </span>*@
                    </div>
                </div>

                <div class="borde_c"></div>
                <div class="mensaje_header" id="salvavidaTutorial" style="display:none;">
                    <a href="#" class="abrir_tutorial">
                        <div class="campana_svg tutoriales_svg">
                            <div class="tooltip_tutorial">
                                <span><b>Haciendo clic en el salvavidas</b>, podrás conocer cómo navegar en las páginas de Somos Belcorp</span>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="boton_cam">
                    @{
                        if (ViewBag.CampaniaCodigo == null || ViewBag.CampaniaCodigo.ToString().Length < 6)
                        {
                            @:ESTÁS EN <br /> <span>-</span>
                        }
                        else
                        {
                            @:ESTÁS EN <br /> <span>C-@(Portal.Consultoras.Common.Util.SubStr((ViewBag.CampaniaCodigo ?? "").ToString(), 4, 2))</span>
                        }
                    }
                </div>
                <div class="boton_cerrar_s">
                    <a href="javascript:;" onclick="CerrarSesion();" role="menu" region="Superior" title="Cerrar Sesión" id="lnk-sup-cerrar-sesion">
                        CERRAR <br /> SESIÓN
                    </a>
                </div>

            </div>
        </div>
        <div class="clear"></div>
    </header>

    <div class="ubicacion_web @(controllerAction == "BienvenidaIndex" ? "oculto" : "")">
        <span><a href="@Url.Action("Index", "Bienvenida")">Home</a></span> <span> | @ViewBag.Title</span>
    </div>

    <!-- end cabecera -->
    <!-- contenedor -->
    <div class="content">
        @RenderBody()

        @if (ViewBag.TerminoMostrar == 1)
        {
            <div class="footerTerminos">
                <a onclick="SetMarcaGoogleAnalyticsTermino();" href="http://comunidad.somosbelcorp.com/t5/D%C3%ADa-del-Padre-Pre-venta-Digital/D%C3%8DA-DEL-PADRE-PRE-VENTA-DIGITAL-EXCLUSIVA/m-p/28917#M2/?utm_source=somosbelcorp.com&utm_medium=referral&utm_content=TerminosyCondiciones&utm_campaign=ShowroomDigital" target="_blank">T&eacute;rminos y condiciones</a>
            </div>
        }
        <!-- footer -->
        <hr class="clear" />
        <footer class="footer_e">
            @Html.Partial("~/Views/Shared/_Footer.cshtml")
        </footer>
        <!-- end footer -->
    </div>
    <!-- end contenedor -->

    <div id="ModalFeDeErratas" style="display: none;">
        <div class="lista_erratas">
            <ul id="ListadoFeErratas"></ul>
        </div>
    </div>

    <div id="divRegistroComunidad" class="wrap">
        <div id="divRegCom_Form" class="Content_modal_Com">
            <div class="webFormCom">
                <div class="div-3">
                    ¿Aún no eres parte de nuestra comunidad?
                    Ingresa tus datos aquí.
                </div>
                <div class="div-3">
                    <div class="formcontrol user">
                        <input id="txtNombreConCom" runat="server" type="text" class="inputForm" value="@ViewBag.NombreC" readonly="readonly" />
                    </div>
                    <div class="formcontrol user">
                        <input id="txtApellidoConCom" runat="server" type="text" class="inputForm" value="@ViewBag.ApellidoC" readonly="readonly" />
                    </div>
                    <div class="formcontrol user">
                        <input id="txtUsuarioComunidad" runat="server" type="text" class="inputForm ValidaAlfanumerico" maxlength="25" onpaste="return false;" value="Tu apodo en la comunidad" onfocus="if (this.value == 'Tu apodo en la comunidad') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Tu apodo en la comunidad';}else{if (this.value != 'Tu apodo en la comunidad') {ValidarUsuarioIngresado(this.value);}}" />
                        <div id="ErrorUsuario" style="font-size: 11px; color: red; display: none;">Debe ingresar un apodo.</div>
                        <div id="ValUsuario" style="font-size: 11px; display: none;">
                            <img src="../Content/Images/loadingCatalogo.gif" style="vertical-align: middle;" alt="Cargando" />
                            Validando...
                        </div>
                    </div>
                    <div id="ES_Usuario" style="height: 10px; display: none;"></div>
                    <div class="formcontrol mail">
                        <input id="txtNuevoCorreoComunidad" runat="server" type="text" class="inputForm" value="Correo electrónico" onfocus="if (this.value == 'Correo electrónico') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Correo electrónico';}else{if (this.value != 'Correo electrónico') {ValidarCorreoIngresado(this.value);}}" />
                        <div id="ErrorCorreo" style="font-size: 11px; color: red; display: none;"></div>
                        <div id="ValCorreo" style="font-size: 11px; display: none;">
                            <img src="../Content/Images/loadingCatalogo.gif" style="vertical-align: middle;" alt="Cargando" />
                            Validando...
                        </div>
                    </div>
                    <div id="ES_Correo" style="height: 10px; display: none;"></div>
                </div>
                <div class="div-3">
                    <div class="input_validar" style="float: left;">
                        <input id="btnRegistrarUsuarioComunidad" type="button" value="Crea tu cuenta" onclick="return ValidarCorreoComunidad(2)" />
                    </div>
                </div>
            </div>
            <div class="webFormComDiv">
            </div>
            <div class="webFormCom">
                <div class="div-3">
                    Si ya eres miembro de la Comunidad
                    Somos Belcorp, ingresa tu correo aquí:
                </div>
                <div class="div-3">
                    <div class="formcontrol mail">
                        <input id="txtCorreoComunidad" runat="server" type="text" class="inputForm" value="Correo electrónico" onfocus="if (this.value == 'Correo electrónico') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Correo electrónico';}else{if (this.value != 'Correo electrónico') {}}" />
                        <div id="ErrorCorreoC" style="font-size: 11px; color: red; display: none;"></div>
                    </div>
                    <div id="ES_CorreoC" style="height: 10px; display: none;"></div>
                </div>
                <div class="div-3">
                    <div class="input_validar" style="float: left;">
                        <input id="btnValidarCorreo" type="button" value="Ingresar" onclick="return ValidarCorreoComunidad(1)" />
                    </div>
                </div>
            </div>
        </div>
        <div id="divMenCom_Form" class="Content_modal_Com">
            <div class="div-3">
                <b>¡Gracias por unirte a Somos Belcorp!</b>, una comunidad de mujeres emprendedoras
                <br />
                y apasionadas por el negocio de la belleza.
                <br />
                <br />
                Revisa tu correo y sigue los pasos para ingresar.
                ¡Te esperamos!
                <br />
                <br />
            </div>
            <div class="div-3">
                <div class="input_validar" style="float: left;">
                    <input id="btnAceptarMensajeCom" type="button" value="Aceptar" onclick="return $('#divRegistroComunidad').dialog('close');" />
                </div>
            </div>
        </div>
    </div>

    <div id="DialogMensajesCom" style="display: none;">
        <div class="Content_modal">
            <div class="message_text">
            </div>
        </div>
    </div>
    
    <input type="hidden" id="hdCampaniaCodigo" value="@ViewBag.CampaniaCodigo" />
    <input type="hidden" id="hdTipoOfertaFinal" value="@ViewBag.OfertaFinal" />
    <input type="hidden" id="hdTipoCatalogoPersonalizado" value="@ViewBag.CatalogoPersonalizado" />
    <input type="hidden" id="hdFlagOfertaWeb" value="0" />
    <input type="hidden" id="hdFlagOfertaLiquidacion" value="0" />
    <input type="hidden" id="hdFlagValidacion" value="0" />
    <input type="hidden" id="hdFlagValidacionReserva" value="0" />

    <!--Div Banner Lateral ShowRoom-->
    <div id="ctras" class="caja-traslado" style="display: none;">
        <input type="hidden" id="hdEventoIDShowRoom" />
        <input type="hidden" id="hdNombreEventoShowRoom" />
        <a href="#" class="mover">
            <img src="@Url.Content("~/Content/Images/showroom/preventa_pop.jpg")" alt="" />
        </a>
        <div class="contenido-ct">
            <div class="titulo_caja_traslado">
                SÓLO FALTAN
            </div>
            <div class="caja_dias">
                <span id="spnDiasFaltantes">12</span>
            </div>
            <div class="titulo_caja_traslado">
                DÍAS
            </div>
            <div style="height: 20px; width: 100%; margin-top:20px">
                <div class="text_hora">hrs</div>
                <div class="text_hora">min</div>
                <div class="text_hora no_margin_right">sec</div>
            </div>
            <div class="fondo_contador">
                <div class="text_numero"><span id="spnHorasFaltantes">18</span></div>
                <div class="text_bolita">&#8226;</div>
                <div class="text_numero"><span id="spnMinutosFaltantes">25</span></div>
                <div class="text_bolita">&#8226;</div>
                <div class="text_numero"><span id="spnSegundosFaltantes">02</span></div>
            </div>
            <a href=""
               class="boton_showroom" id="lnkConoceMasShowRoomBannerLateral" target="_blank">CONOCE MÁS AQUÍ</a>
        </div>
    </div>

    <div id="ctrasHoy" class="caja-traslado" style="display: none;">
        <a href="#" class="mover">
            <img src="@Url.Content("~/Content/Images/showroom/preventa_pop.jpg")" alt="" />
        </a>
        <div class="contenido-ct">
            <div class="titulo_caja_traslado">
                SETS DESDE
            </div>
            <div class="precio_caja_traslado">
                $ 5,990
            </div>
            <div class="imagen_hoy_caja">
                <img src="@Url.Content("~/Content/Images/showroom/contador_hoy.png")" alt="" />
            </div>
            <a href="#" class="boton_showroom" id="lnkConoceMasShowRoomBannerLateralHoy">VER OFERTAS AQUÍ</a>
        </div>
    </div>

    <div id="alertDialogMensajes" style="display: none;">
        <div class="terminos_title_2">MENSAJE</div>
        <div class="linea_superior margin_10"></div>
        <div class="pop_pedido_mensaje"></div>
    </div>

    <script id="resumenCampania-template" type="text/x-handlebars-template">
        <div class="info_productos_carrito">
            He agregado <span>{{cantidadProductos}}</span> productos.<br />
            Últimos agregados:
        </div>
        <!--ITEMS CARRITO-->
        {{#each this.ultimosTresPedidos}}
        <div class="productos_agregado_carrito">
            <div class="marca_belcorp">{{DescripcionLarga}}</div>
            <hr class="clear" />
            <div class="descripcion_producto_carrito">{{DescripcionProd}}</div>
            <div class="marca_belcorp" style="font-size:13px;">x{{Cantidad}}</div>
            <div class="precio_carrito">{{../Simbolo}}{{ImporteTotal}}</div>
        </div>
        {{/each}}
        <!--FIN-->
        <div class="pago_pedido_carrito">
            <div class="info_copy">
                <img src="@Url.Content("~/Content/Images/Esika/info-copy.png")" />
                <!--TOOLTIP-->
                <div class="tooltip_importe">
                    <div class="left_reservado">
                        <div class="datos_Reservado">
                            <span>Total sin Dscto. </span>
                            <span>Dscto por niveles</span>
                        </div>
                    </div>
                    <div class="right_reservado">
                        <div class="datos_Reservado">
                            <span data-pedidototal="">{{Simbolo}} {{montoWebAcumulado}}</span>
                            <span data-montodescuento="">{{Simbolo}} {{DescuentoProlStr}}</span>
                        </div>
                    </div>
                </div>
                <!--FIN-->
            </div>
        PEDIDO TOTAL 
        <span>{{Simbolo}} <span data-pedidocondescuento="">{{montoWebConDescuentoStr}}</span></span></div>
        <hr class="clear" />
        <a href="javascript:;" onclick="RedirectIngresaTuPedido();" class="ver_pedido" role="menu" region="Superior" title="Ver mi pedido" id="lnk-sup-ver-mi-pedido">VER TODO MI PEDIDO</a>

    </script>

    @System.Web.Optimization.Scripts.Render("~/bundles/JQueryJs")

    <script type="text/javascript">
        var formatDecimalPaisMain = '@ViewBag.FormatDecimalPais';
        var vbSimbolo = '@ViewBag.Simbolo';
    </script>

    @System.Web.Optimization.Scripts.Render("~/bundles/JsSB2")

    <script src="https://webchat-cls1-cgn-bct.i6.inconcertcc.com/v2/click_to_chat?token=@ViewBag.TokenAtento&container_id=belcorpChat"></script>

    <script type='text/javascript'>
        (function () {
            var proto = document.location.protocol || 'http:';
            var trme = document.createElement('script');
            trme.type = 'text/javascript';
            trme.async = true;
            trme.src = proto + '//trackme-cls1-cgn-bct.i6.inconcertcc.com/inconcert/apps/trackme/js/tm.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(trme, s);
        })();
    </script>
    
    @RenderSection("scripts", required: false)
</body>
</html>