
@model Portal.Consultoras.Web.Models.PermisoModel
@{
    var permisoList = Model.SubMenus ?? new List<Portal.Consultoras.Web.Models.PermisoModel>();
    string urlProgramaNuevas = "";
    var programasBelcorpMenu = (List<Portal.Consultoras.Web.Models.ServicioCampaniaModel>)ViewBag.ProgramaBelcorpMenu;
    programasBelcorpMenu = programasBelcorpMenu ?? new List<Portal.Consultoras.Web.Models.ServicioCampaniaModel>();
    foreach (var item in programasBelcorpMenu)
    {
        if (item.Descripcion.ToLower().Trim() == "programa nuevas")
        {
            urlProgramaNuevas = item.Url;
        }
    }

    var claseSociaEmpresaria = (ViewBag.Lider == 1 && ViewBag.PortalLideres) ? "menu_socia_empresaria" : "";

}

@if (permisoList.Count > 0)
{
    <ul id="ulNavPrincipal-@Model.PermisoID" class="nav_principal @(claseSociaEmpresaria)">
        <!--AÑADIR CLASE "menu_socia_empresaria" SI LLEVA SOCIA EMPRESARIA -->
        @foreach (var menuPadre in permisoList)
        {
            <li class="new_menu @menuPadre.ClaseMenuItem" style="margin-left: 5px;" data-codigo="@menuPadre.Codigo">
                @if (menuPadre.SubMenus.Count > 0)
                {
                    //Menu padre con hijos
                    <a href="javascript:;" class="new_menu_a" id="lnk-pri-@menuPadre.DescripcionFormateada"
                       target="@menuPadre.PageTarget" role="menu" region="Principal" parent="@menuPadre.Descripcion" title="@menuPadre.Descripcion">
                        <span>@menuPadre.Descripcion</span>
                        <div class="flecha_menu"></div>
                        <div class="pestana_esika"></div>
                    </a>

                    <ul class="@(menuPadre.ClaseSubMenu)">
                        <li>
                            <div class="linea_menu"> </div>
                            @{
                                var margin = "";
                                var contador = 0;
                                var contadorRe = 0;
                                var totolSubMenu = menuPadre.SubMenus.Count() + 1;
                                var cantPorFilaHijo = 6;
                                var divHtmlF = "";
                                var addImgen = false;
                                var subMenu2 = false;
                                var subMenuModel = new Portal.Consultoras.Web.Models.PermisoModel();
                                foreach (var menuHijo in menuPadre.SubMenus)
                                {
                                    //SI TIENE NIETOS
                                    if (menuHijo.SubMenus.Count > 0)
                                    {
                                        var nieto = menuHijo.SubMenus[0];
                                        if (nieto.SubMenus.Any())
                                        {
                                            subMenuModel = menuHijo;
                                            subMenu2 = true;
                                            break;
                                        }

                                        contador++;
                                        margin = contador == menuPadre.SubMenus.Count() ? "no_margin_right" : "";
                                        <div class="content_left_menu @(margin)">

                                            <p class="menu_enlace">
                                                <b>@menuHijo.Descripcion</b>
                                            </p>

                                            @foreach (var menuNieto in menuHijo.SubMenus)
                                            {
                                                if (menuNieto.UrlItem == "")
                                                {
                                                    <a href="javascript:;" class="menu_enlace">
                                                        @menuNieto.Descripcion
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a href="javascript:;" class="menu_enlace" onclick="@menuNieto.OnClickFunt"
                                                       target="@menuNieto.PageTarget" role="menu" region="Principal" parent="@menuHijo.Descripcion" title="@menuNieto.Descripcion" id="lnk-pri-@menuNieto.DescripcionFormateada">
                                                        @menuNieto.Descripcion
                                                    </a>
                                                }
                                            }
                                        </div>

                                    }
                                    else
                                    {
                                        addImgen = true;
                                        if (contadorRe % cantPorFilaHijo == 0)
                                        {
                                            @Html.Raw("<div class='content_left_menu'>")
                                            divHtmlF = "</div>";
                                        }
                                        if (contadorRe == 0)
                                        {
                                            contadorRe++;
                                            <a href="javascript:;" class="menu_titulo"
                                               onclick="RedirectMenu('Index', 'Pedido', 0, 'Pedido')"
                                               target="_self" role="menu" region="Principal" parent="MI NEGOCIO" title="Ingreso Pedido" id="lnk-pri-ingreso-pedidos">
                                                INGRESA TU PEDIDO
                                            </a>
                                        }
                                        if (menuHijo.UrlItem == "")
                                        {
                                            <a href="javascript:;" class="menu_enlace">
                                                @menuHijo.Descripcion
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="javascript:;" class="menu_enlace" onclick="@menuHijo.OnClickFunt"
                                               target="@menuHijo.PageTarget" role="menu" region="Principal" parent="@menuPadre.Descripcion" title="@menuHijo.Descripcion" id="lnk-pri-@menuHijo.DescripcionFormateada">
                                                @menuHijo.Descripcion
                                            </a>
                                        }

                                        contadorRe++;
                                        if (contadorRe > 0 && (contadorRe % cantPorFilaHijo == 0 || contadorRe == totolSubMenu))
                                        {
                                            @Html.Raw(divHtmlF)
                                            divHtmlF = "";
                                        }
                                    }
                                }

                                if (subMenu2)
                                {
                                    var listaMenu2 = new Portal.Consultoras.Web.Models.PermisoModel();
                                    listaMenu2.PermisoID = subMenuModel.PermisoID;
                                    listaMenu2.SubMenus = new List<Portal.Consultoras.Web.Models.PermisoModel>();
                                    listaMenu2.SubMenus.Add(subMenuModel);
                                    <div>
                                        @Html.Partial("~/Views/Shared/_Menu2.cshtml", listaMenu2)
                                    </div>
                                    contadorRe++;
                                }

                                if (contadorRe > 0 && (contadorRe % cantPorFilaHijo == 0 || contadorRe == totolSubMenu) && divHtmlF != "")
                                {
                                    @Html.Raw(divHtmlF)
                                    divHtmlF = "";
                                }

                                if (addImgen)
                                {
                                    <div data-imagen="">
                                        @{
                                            var opcion = "CATÁLOGOS Y REVISTAS";
                                            var tooltip = "Mis Catálogos y Revistas";
                                            opcion = !ViewBag.TituloCatalogo ? "CATÁLOGOS" : opcion;
                                            tooltip = !ViewBag.TituloCatalogo ? "Mis Catálogos" : tooltip;
                                        }
                                        <a href="javascript:;" class="menu_imagen" onclick="RedirectMenu('Index', 'MisCatalogosRevistas', 0, 'MisCatalogosRevistas')" target="_self" role="menu" region="Principal" parent="MI NEGOCIO" title="@tooltip" id="lnk-pri-miscatalogosrevistas">
                                            <img role="menu" region="Principal" parent="MI NEGOCIO" title="@tooltip" src="@(ViewBag.UrlRaizS3)Menu/MiNegocio/@(ViewBag.codigoISOMenu)/imagen_01.png" />


                                            <div role="menu" region="Principal" parent="MI NEGOCIO" title="@tooltip" class="titulo_imagen">
                                                @opcion
                                            </div>
                                        </a>
                                        @if (ViewBag.SegmentoConsultoraMenu == 1)
                                        {
                                            <a href="@urlProgramaNuevas" class="menu_imagen no_margin_right" role="menu" region="Principal" parent="MI NEGOCIO" title="Programa Nuevas" target="_blank">
                                                <img role="menu" region="Principal" parent="MI NEGOCIO" title="Programa Nuevas" src="@(ViewBag.UrlRaizS3)Menu/MiNegocio/@(ViewBag.codigoISOMenu)/imagen_02.png" />
                                                <div role="menu" region="Principal" parent="MI NEGOCIO" title="Programa Nuevas" class="titulo_imagen">PROGRAMA NUEVAS</div>
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="javascript:;" class="menu_imagen no_margin_right" onclick="RedirectMenu('Index', 'Incentivos', 0, 'Incentivos')" target="_self" role="menu" region="Principal" parent="MI NEGOCIO" title="Incentivos" id="lnk-pri-Incentivos">
                                                <img role="menu" region="Principal" parent="MI NEGOCIO" title="Incentivos" src="@(ViewBag.UrlRaizS3)Menu/MiNegocio/@(ViewBag.codigoISOMenu)/imagen_03.png" />
                                                <div role="menu" region="Principal" parent="MI NEGOCIO" title="Incentivos" class="titulo_imagen">INCENTIVOS</div>
                                            </a>
                                        }
                                    </div>
                                }

                            }
                        </li>
                    </ul>
                }
                else
                {
                    //Menu padre sin hijos
                    if (menuPadre.UrlItem == "")
                    {
                        <a href="javascript:;" class="new_menu_a @menuPadre.ClaseMenu">
                            <span>@menuPadre.Descripcion</span>
                        </a>
                    }
                    else
                    {
                        <a href="javascript:;" class="new_menu_a @menuPadre.ClaseMenu"
                           onclick="@menuPadre.OnClickFunt"
                           target="@menuPadre.PageTarget" role="menu" region="Principal" parent="@menuPadre.Descripcion" title="@menuPadre.Descripcion" id="lnk-pri-@menuPadre.DescripcionFormateada">
                            @if (menuPadre.UrlImagen != "")
                            {
                                <img src="@menuPadre.UrlImagen" alt="@menuPadre.Descripcion" style="margin-top: -5px;" role="menu" region="Principal" parent="@menuPadre.Descripcion" title="@menuPadre.Descripcion" />
                            }
                            else
                            {
                                <span>@menuPadre.Descripcion</span>
                            }
                        </a>
                    }
                }
            </li>
        }
        <li class="clear"></li>
    </ul>
}

@if (ViewBag.MostrarBuscadorYFiltros)
{
    <div class="buscador_filtros">
        <input type="text" value="" id="CampoBuscadorProductos" class="campo_buscador_filtros" placeholder="¿Buscas ofertas?" />
        <a class="enlace_busqueda_filtros" title="Buscar">
            <img src="@Url.Content("~/Content/Images/icono_lupa.png")" alt="Buscar" />
        </a>
        <a class="opcion_limpiar_campo_busqueda_productos" title="Cerrar" style="display:none;">
            <img src="@Url.Content("~/Content/Images/btn_cerrar_popup_color_negro.svg")" alt="Cerrar" />
        </a>
    </div>
}
