@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Models
@using Portal.Consultoras.Web.Models.Layout

@{
    var tagContenedor = "Contenedor";
    var menuList = (List<ConfiguracionPaisModel>)ViewBag.MenuContenedor ?? new List<ConfiguracionPaisModel>();
    var menuActivo = (MenuContenedorModel)ViewBag.MenuContenedorActivo ?? new MenuContenedorModel();
    menuActivo.ConfiguracionPais = menuActivo.ConfiguracionPais ?? new ConfiguracionPaisModel();
    menuActivo.ConfiguracionPais.DesktopFondoBanner = Util.Trim(menuActivo.ConfiguracionPais.DesktopFondoBanner);
    var estiloFondoBanner = menuActivo.ConfiguracionPais.DesktopFondoBanner != "" ? "style=background:url(" + menuActivo.ConfiguracionPais.DesktopFondoBanner + ");" : "";

    var classMenuX = menuActivo.CampaniaId == menuActivo.CampaniaX0 ? "desplegable activo" : "desplegable";
    var classMenuX1 = menuActivo.CampaniaId == menuActivo.CampaniaX1 ? "desplegable activo" : "desplegable";
    var classMenuInfo = menuActivo.Codigo == Constantes.ConfiguracionPais.Informacion ? "desplegable activo" : "desplegable";

}
<div class="bc_menu_estrategia" data-menu-codigo="@menuActivo.Codigo" @estiloFondoBanner>
    @if (ViewBag.TieneRevistaDigital)
    {
        if ((menuActivo.ConfiguracionPais.DesktopTituloBanner != "" || menuActivo.ConfiguracionPais.DesktopSubTituloBanner != "")
        && menuActivo.Codigo != Constantes.ConfiguracionPais.Informacion)
        {
            <div class="contenedor_cabecera_2018">
                <div class="sb_contenedor_cabecera_2018">
                    @if (menuActivo.ConfiguracionPais.DesktopTituloBanner != "")
                    {
                        @menuActivo.ConfiguracionPais.DesktopTituloBanner <img src="@menuActivo.ConfiguracionPais.DesktopLogoBanner" alt="" />
                    }
                </div>
            </div>
        }
    }
    @if (!ViewBag.TieneRevistaDigital)
    {
        <div class="contenedor_top">
            @if (menuActivo.ConfiguracionPais.DesktopLogoBanner != "")
            {
                <div class="logo">
                    <img class="imagen_logo" src="@menuActivo.ConfiguracionPais.DesktopLogoBanner" alt="">
                </div>
            }
            @if (menuActivo.ConfiguracionPais.DesktopTituloBanner != "" || menuActivo.ConfiguracionPais.DesktopSubTituloBanner != "")
            {
                <div class="texto-info">
                    <div class="centrar-horizontal">
                        @if (menuActivo.ConfiguracionPais.DesktopTituloBanner != "")
                        {
                            <p>@menuActivo.ConfiguracionPais.DesktopTituloBanner</p>
                        }
                        @if (menuActivo.ConfiguracionPais.DesktopSubTituloBanner != "")
                        {
                            <span>@menuActivo.ConfiguracionPais.DesktopSubTituloBanner</span>
                        }
                    </div>
                </div>
            }
        </div>
        <div class="clear"></div>
    }
    @if (menuActivo.CampaniaX0 > 0)
    {
        <div class="op_menu-horizontal" data-layout-menu1="">
            <ul>
                <li data-campania="@menuActivo.CampaniaX0" data-codigo="1"
                    onclick="menuModule.tabClick(this, '@Url.Action("Index", "Ofertas")', '@menuActivo.NombreOrigenPantalla')">
                    <a class="@classMenuX">
                        <img src="@Url.Content("~/Content/Images/carrito.png")" alt="" class="default">
                        <img src="@Url.Content("~/Content/Images/carrito-hover.png")" alt="" class="hover" style="display:none;">
                        <img src="@Url.Content("~/Content/Images/carrito-hover.png")" alt="" class="click-menu" style="display:none;">
                        <span>COMPRAR C-@menuActivo.CampaniaX0ConFormato</span>
                    </a>
                </li>
                @if (!ViewBag.TieneRDI)
                {
                    <li data-campania="@menuActivo.CampaniaX1" data-codigo="2"
                        onclick="menuModule.tabClick(this, '@Url.Action("Revisar", "Ofertas")', '@menuActivo.NombreOrigenPantalla')">
                        <a class="@classMenuX1">
                            <img src="@Url.Content("~/Content/Images/ojito.png")" alt="" class="default">
                            <img src="@Url.Content("~/Content/Images/ojito-hover.png")" alt="" class="hover" style="display:none;">
                            <img src="@Url.Content("~/Content/Images/ojito-hover.png")" alt="" class="click-menu" style="display:none;">
                            <span>REVISAR C-@menuActivo.CampaniaX1ConFormato</span>
                        </a>
                    </li>
                }
                <li data-campania="0" data-codigo="3"
                    onclick="menuModule.tabClick(this, '@Url.Action("Informacion", "RevistaDigital")', '@menuActivo.NombreOrigenPantalla')">
                    <a class="@classMenuInfo">
                        <span>CONOCE TODO SOBRE CLUB GANA+</span>
                    </a>
                </li>
            </ul>
        </div>
    }
</div>

@if (menuActivo.MostrarMenuFlotante) {
<div data-layout-menu2="">
    @if (menuList.Any())
    {
        <div class="op-menu-vertical sticky">
            <ul class="subnavegador" data-es-suscrita="@ViewBag.EsSuscrita.ToString().ToLower()" data-es-activa="@ViewBag.EsActiva.ToString().ToLower()">
                @foreach (var menuhijo in menuList)
                {
                    var claseActivo = menuhijo.Codigo == menuActivo.Codigo ? "activo" : string.Empty;
                    if (ViewBag.EsSuscrita)
                    {
                        claseActivo = menuhijo.Codigo == menuActivo.Codigo ? "default-dorado activo-dorado" : "default-dorado";
                    }
                    <li data-campania="@menuhijo.CampaniaId" data-activo="1"
                        data-codigo="@menuhijo.Codigo"
                        data-es-ancla="@menuhijo.EsAncla"
                        onclick="menuModule.menuClick(this, '@menuhijo.UrlMenu')">

                        <div class="contenedorMenu">
                            <a href="javascript:;" class="@claseActivo" role="menu" region="Lateral" parent="@tagContenedor - @menuActivo.NombreOrigenPantalla" title="@menuhijo.DesktopSubTituloMenu">
                                <div class="contenedorInformacion">
                                    @if (!string.IsNullOrEmpty(menuhijo.DesktopLogoMenu))
                                    {
                                        <div class="contenedorImagen">
                                            <img style="display:inline;" src="@menuhijo.DesktopLogoMenu" role="menu" region="Lateral" parent="@tagContenedor - @menuActivo.NombreOrigenPantalla" title="@menuhijo.DesktopSubTituloMenu" alt="" />
                                        </div>
                                    }
                                    @if (!string.IsNullOrEmpty(menuhijo.DesktopTituloMenu))
                                    {
                                        <div class="contenedorDescripcion">
                                            <span>@menuhijo.DesktopTituloMenu</span>
                                        </div>
                                    }
                                    <div class="contenedorTitulo">
                                        <p>@menuhijo.DesktopSubTituloMenu</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                }
            </ul>
        </div>
    }
</div>
}