@{
    // Asignar permisosList con los elementos solo de la cabecera
    var permisoList = (List<Portal.Consultoras.Web.Models.PermisoModel>)ViewBag.Permiso;

    permisoList = permisoList != null
        ? permisoList.Where(x => x.Posicion.ToLower().Equals("header") && x.Mostrar).OrderBy(p => p.OrdenItem).ToList()
        : new List<Portal.Consultoras.Web.Models.PermisoModel>();
}

@if (permisoList.Count > 0)
{
    <ul id="ulNavPrincipal" class="nav_principal">
        @foreach (var menuPadre in permisoList)
        {
            var pageTarget = menuPadre.PaginaNueva ? "_blank" : "_self";

            if (menuPadre.SubMenus.Count > 0)
            {
                //Menu padre con hijos

                var menuEspecial = menuPadre.SubMenus.Count == 1; //Solo Cuenten con un Hijo

                <li class="new_menu @(menuEspecial ? "menu_especial" : "")">
                    <a href="javascript:;" target="@pageTarget" role="menu" region="Principal" parent="@menuPadre.Descripcion" title="@menuPadre.Descripcion" id="lnk-pri-@menuPadre.DescripcionFormateada">
                        @menuPadre.Descripcion
                        <div class="flecha_menu"></div>
                    </a>
                    <ul>
                        @foreach (var menuHijo in menuPadre.SubMenus)
                        {
                            var pageTargetHijo = menuHijo.PaginaNueva ? "_blank" : "_self";

                            if (menuHijo.SubMenus.Count > 0)
                            {
                                <li>
                                    @if (!string.IsNullOrEmpty(menuHijo.Descripcion))
                                    {
                                        <div class="titulo_menu">
                                            @menuHijo.Descripcion
                                        </div>
                                    }

                                    @foreach (var menuNieto in menuHijo.SubMenus)
                                    {
                                        var pageTargetNieto = menuNieto.PaginaNueva ? "_blank" : "_self";

                                        switch (menuNieto.Descripcion.ToUpperInvariant())
                                        {
                                            case "PEDIDO FIC":
                                                if (ViewBag.IndicadorPermisoFIC == 1)
                                                {
                                                    if (menuNieto.EsDireccionExterior)
                                                    {
                                                        <a href="javascript:;" onclick="return SetAnalyticsMenu('@menuNieto.UrlItem', '', @Convert.ToInt32(menuNieto.PaginaNueva), '@menuNieto.Descripcion') " target="@pageTargetNieto" role="menu" region="Principal" parent="@menuHijo.Descripcion" title="@menuNieto.Descripcion" id="lnk-pri-@menuNieto.DescripcionFormateada">
                                                            @menuNieto.Descripcion
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a href="javascript:;" onclick="return SetAnalyticsMenu('@menuNieto.UrlItem.Split('/')[1]', '@menuNieto.UrlItem.Split('/')[0]', @Convert.ToInt32(menuNieto.PaginaNueva), '@menuNieto.Descripcion') " target="@pageTargetNieto" role="menu" region="Principal" parent="@menuHijo.Descripcion" title="@menuNieto.Descripcion" id="lnk-pri-@menuNieto.DescripcionFormateada">
                                                            @menuNieto.Descripcion
                                                        </a>
                                                    }
                                                }
                                                break;
                                            case "OFERTAS FLEXIPAGO":
                                                if (ViewBag.IndicadorPermisoFlexipago)
                                                {
                                                    if (menuNieto.EsDireccionExterior)
                                                    {
                                                        <a href="javascript:;" onclick="return SetAnalyticsMenu('@menuNieto.UrlItem', '', @Convert.ToInt32(menuNieto.PaginaNueva), '@menuNieto.Descripcion') " target="@pageTargetNieto" role="menu" region="Principal" parent="@menuHijo.Descripcion" title="@menuNieto.Descripcion" id="lnk-pri-@menuNieto.DescripcionFormateada">
                                                            @menuNieto.Descripcion
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a href="javascript:;" onclick="return SetAnalyticsMenu('@menuNieto.UrlItem.Split('/')[1]', '@menuNieto.UrlItem.Split('/')[0]', @Convert.ToInt32(menuNieto.PaginaNueva), '@menuNieto.Descripcion') " target="@pageTargetNieto" role="menu" region="Principal" parent="@menuHijo.Descripcion" title="@menuNieto.Descripcion" id="lnk-pri-@menuNieto.DescripcionFormateada">
                                                            @menuNieto.Descripcion
                                                        </a>
                                                    }
                                                }
                                                break;
                                            default:
                                                if (string.IsNullOrEmpty(menuNieto.UrlItem))
                                                {
                                                    <a href="javascript:;">
                                                        @menuNieto.Descripcion
                                                    </a>
                                                }
                                                else if (menuNieto.EsDireccionExterior)
                                                {
                                                    <a href="javascript:;" onclick="return SetAnalyticsMenu('@menuNieto.UrlItem', '', @Convert.ToInt32(menuNieto.PaginaNueva), '@menuNieto.Descripcion') " target="@pageTargetNieto" role="menu" region="Principal" parent="@menuHijo.Descripcion" title="@menuNieto.Descripcion" id="lnk-pri-@menuNieto.DescripcionFormateada">
                                                        @menuNieto.Descripcion
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a href="javascript:;" onclick="return SetAnalyticsMenu('@menuNieto.UrlItem.Split('/')[1]', '@menuNieto.UrlItem.Split('/')[0]', @Convert.ToInt32(menuNieto.PaginaNueva), '@menuNieto.Descripcion') " target="@pageTargetNieto" role="menu" region="Principal" parent="@menuHijo.Descripcion" title="@menuNieto.Descripcion" id="lnk-pri-@menuNieto.DescripcionFormateada">
                                                        @menuNieto.Descripcion
                                                    </a>
                                                }
                                                break;
                                        }
                                    }
                                </li>
                            }
                            else
                            {
                                <li>
                                    @if (string.IsNullOrEmpty(menuHijo.UrlItem))
                                    {
                                        <a href="javascript:;">
                                            @menuHijo.Descripcion
                                        </a>
                                    }
                                    else if (menuHijo.EsDireccionExterior)
                                    {
                                        <a href="javascript:;" onclick="return SetAnalyticsMenu('@menuHijo.UrlItem', '', @Convert.ToInt32(menuHijo.PaginaNueva), '@menuHijo.Descripcion')" target="@pageTargetHijo" role="menu" region="Principal" parent="@menuPadre.Descripcion" title="@menuHijo.Descripcion" id="lnk-pri-@menuHijo.DescripcionFormateada">
                                            @menuHijo.Descripcion
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="javascript:;" onclick="return SetAnalyticsMenu('@menuHijo.UrlItem.Split('/')[1]', '@menuHijo.UrlItem.Split('/')[0]', @Convert.ToInt32(menuHijo.PaginaNueva), '@menuHijo.Descripcion')" target="@pageTargetHijo" role="menu" region="Principal" parent="@menuPadre.Descripcion" title="@menuHijo.Descripcion" id="lnk-pri-@menuHijo.DescripcionFormateada">
                                            @menuHijo.Descripcion
                                        </a>
                                    }
                                </li>
                            }
                        }
                    </ul>
                </li>
            }
            else
            {
                //Menu padre sin hijos

                switch (menuPadre.Descripcion.ToUpperInvariant())
                {
                    case "SOCIA EMPRESARIA":
                        if (ViewBag.Lider == 1 && ViewBag.PortalLideres)
                        {
                            <li class="new_menu">
                                <a href="javascript:;" onclick="return setanalyticsmenu('@menuPadre.UrlItem', '' , @Convert.ToInt32(menuPadre.PaginaNueva) , '@menuPadre.Descripcion')" target="@pageTarget" role="menu" region="Principal" parent="@menuPadre.Descripcion" title="@menuPadre.Descripcion" id="lnk-pri-@menuPadre.DescripcionFormateada">
                                    @menuPadre.Descripcion
                                </a>
                                <script type="text/javascript">
                                    document.getElementById("ulNavPrincipal").className += " menu_socia_empresaria";
                                </script>
                            </li>
                        }
                        break;
                    case "MI COMUNIDAD":
                        if (ViewBag.EsUsuarioComunidad == 0)
                        {
                            <li class="new_menu">
                                <a href="javascript:;" onclick="AbrirModalRegistroComunidad()" target="@pageTarget" role="menu" region="Principal" parent="@menuPadre.Descripcion" title="@menuPadre.Descripcion" id="lnk-pri-@menuPadre.DescripcionFormateada">
                                    @menuPadre.Descripcion
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="new_menu">
                                <a href="javascript:;" onclick="return setanalyticsmenu('@menuPadre.UrlItem', '' , @Convert.ToInt32(menuPadre.PaginaNueva) , '@menuPadre.Descripcion')" target="@pageTarget" role="menu" region="Principal" parent="@menuPadre.Descripcion" title="@menuPadre.Descripcion" id="lnk-pri-@menuPadre.DescripcionFormateada">
                                    @menuPadre.Descripcion
                                </a>
                            </li>
                        }
                        break;
                    default:
                        if (string.IsNullOrEmpty(menuPadre.UrlItem))
                        {
                            <li class="new_menu">
                                <a href="javascript:;">
                                    @menuPadre.Descripcion
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="new_menu">
                                <a href="javascript:;" onclick="return setanalyticsmenu('@menuPadre.UrlItem.Split('/')[1]', '@menuPadre.UrlItem.Split('/')[0]' , @Convert.ToInt32(menuPadre.PaginaNueva) , '@menuPadre.Descripcion')" target="@pageTarget" role="menu" region="Principal" parent="@menuPadre.Descripcion" title="@menuPadre.Descripcion" id="lnk-pri-@menuPadre.DescripcionFormateada">
                                    @menuPadre.Descripcion
                                </a>
                            </li>
                        }
                        break;
                }
            }
        }
    </ul>
}