
@{
    var menuList = (List<Portal.Consultoras.Web.Models.Layout.MenuContenedorModel>)ViewBag.MenuContenedor ?? new List<Portal.Consultoras.Web.Models.Layout.MenuContenedorModel>();
    //var listaNegra = menuList.Where(p => p.IsMenuCampania).ToList() ?? new List<Portal.Consultoras.Web.Models.Layout.MenuContenedorModel>();
    var listaPloma = menuList.Where(p => p.IsMenuCampania == false).ToList() ?? new List<Portal.Consultoras.Web.Models.Layout.MenuContenedorModel>();
    var menuActivo = (Portal.Consultoras.Web.Models.Layout.MenuContenedorModel)ViewBag.MenuContenedorActivo ?? new Portal.Consultoras.Web.Models.Layout.MenuContenedorModel();
    var estiloFondoBanner = menuActivo.FondoBanner != "" ? "style='background: url(" + menuActivo.FondoBanner + ");'" : "";
}
<div class="op_esika-para-mi" @estiloFondoBanner>
    <div>
        @if (menuActivo.LogoBanner != "")
        {
            <div class="logo" style="background: url(@menuActivo.LogoBanner);"></div>
        }
        @if (menuActivo.TituloBanner != "" || menuActivo.SubTituloBanner != "")
        {
            <div class="texto-info">
                <div class="centrar-horizontal">
                    @if (menuActivo.TituloBanner != "")
                    {
                        <p>@menuActivo.TituloBanner</p>
                    }
                    @if (menuActivo.SubTituloBanner != "")
                    {
                        <span>@menuActivo.SubTituloBanner</span>
                    }
                </div>
            </div>
        }
    </div>
    <div class="clear"></div>
    <div class="op_menu-horizontal" data-layout-menu1="">
        @if (menuActivo.CampaniaX0 > 0)
        {
            <ul>
                <li data-campania="@menuActivo.CampaniaX0">
                    <a href="javascript:;" class="desplegable menuactivo" attr-modal="#open-menu1">
                        <img src="img/carrito.png" alt="" class="default"><img src="img/fill-1.svg" alt="" class="hover menuactivo">
                        <span>COMPRAR C-@(menuActivo.CampaniaX0 % 100)</span>
                    </a>
                </li><li data-campania="@menuActivo.CampaniaX1">
                    <a href="javascript:;" class="desplegable" attr-modal="#open-menu2">
                        <img src="img/ojos.svg" alt="" class="default"><img src="img/ojos_negro.svg" alt="" class="hover">
                        <span>REVISAR C-@(menuActivo.CampaniaX1 % 100)</span>
                    </a>
                </li><li data-campania="@menuActivo.CampaniaX0">
                    <a href="javascript:;" class="desplegable" attr-modal="#open-menu3">
                        <span>SABER MÁS DE ÉSIKA PARA MÍ</span>
                    </a>
                </li>
            </ul>
        }
        @*@if (listaNegra.Any())
        {
            <ul class="menu_estrategia">
                @foreach (var menu in listaNegra)
                {<li data-campania="@menu.CampaniaID" data-activo="@menu.Activa">
                        <a href="javascript:;" class="desplegable" attr-modal="#open-menu-@menu.CampaniaID">
                            @menu.TituloMenu
                        </a>
                    </li>}
            </ul>
        }*@
    </div>
</div>
<div data-layout-menu2="">
    @if (listaPloma.Any())
    {
        <div class="op_esika-menu sticky" id="op_esika-menu" data-margin-top="20" data-sticky-for="1023" data-sticky-class="is-sticky">
            <ul class="subnavegador">
                @foreach (var menuhijo in listaPloma)
                {
                    <li data-campania="@menuhijo.CampaniaID" data-activo="@menuhijo.Activa"
                        data-codigo="@menuhijo.Codigo"
                        onclick="MenuContenedorClick(event, '@menuhijo.UrlMenu')">
                        <a href="javascript:;">
                            <span>@menuhijo.SubTituloMenu</span>
                            <p>@menuhijo.TituloMenu</p>
                        </a>
                    </li>
                }
            </ul>
        </div>
    }

    @*<ul class="subnavegador" id="open-menu1">
        <li>
            <a href="">
                <p>INICIO</p>
                <span>Muestras renovadas y más</span>
            </a>
        </li>
    </ul>*@

</div>
