
@{
    var permisoList = (List<Portal.Consultoras.Web.Models.Layout.MenuContenedorModel>)ViewBag.MenuContenedor ?? new List<Portal.Consultoras.Web.Models.Layout.MenuContenedorModel>();
    var listaNegra = permisoList.Where(p => p.IsMenuCampania);
    var listaPloma = permisoList.Where(p => p.IsMenuCampania == false);
}
<div class="bc_menu_estrategia" style="background: url(@Url.Content("~/Content/Images/Esika/bg_estrellas.png"));">
    <div class="logo" style="background: url(@Url.Content("~/Content/Images/Esika/bg_esika.png"));"></div>
    <div class="texto-info">
        <div class="centrar-horizontal">
            <p>SOFIA, ESTA NAVIDAD EMPIEZA GANANDO ESTA CAMPAÑA</p>
            <span>¡GANA MÁS DESDE EL PRIMER DÍA CON TU GUIÍA DE NEGOCIO ONLINE PERSONALIZADA!</span>
        </div>
    </div>
    <div class="clear"></div>
    <div class="op_menu-horizontal">
        @if (listaNegra.Any())
        {
            <ul class="menu_estrategia">
                @foreach (var menu in listaNegra)
                {<li data-campania="@menu.CampaniaID" data-activo="@menu.Activa">
                        <a href="javascript:;" class="desplegable" attr-modal="#open-menu-@menu.CampaniaID">
                            @menu.TituloMenu
                        </a>
                    </li>}
                @*<li>
                    <a class="desplegable" attr-modal="#open-menu1">
                        <img src="@Url.Content("~/Content/Images/Esika/carrito.png")" alt="" class="default"><img src="img/fill-1.svg" alt="" class="hover">
                        COMPRAR C-14
                    </a>
                </li>*@
            </ul>
        }
    </div>
</div>
<div data-layout-menu2="">
    @if (listaPloma.Any())
    {
        <div class="op-menu-vertical">
            <ul class="sbmenu_estrategia">
                @foreach (var menuhijo in listaPloma)
                {
                    <li data-campania="@menuhijo.CampaniaID" data-activo="@menuhijo.Activa" style="display:none;">
                        <a href="javascript:;">
                            <p>@menuhijo.TituloMenu</p>
                            <span>@menuhijo.SubTituloMenu</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    }

    @*<ul class="subnavegador" id="open-menu1">
        <li>
            <a href="">
                <p>INICIO</p>
                <span>Muestras renovadas y más</span>
            </a>
        </li>
    </ul>*@

</div>
