
@{
    var permisoList = (List<Portal.Consultoras.Web.Models.Layout.MenuContenedorModel>)ViewBag.MenuContenedor ?? new List<Portal.Consultoras.Web.Models.Layout.MenuContenedorModel>();
    var listaNegra = permisoList.Where(p => p.IsMenuCampania).ToList() ?? new List<Portal.Consultoras.Web.Models.Layout.MenuContenedorModel>();
    var listaPloma = permisoList.Where(p => p.IsMenuCampania == false).ToList() ?? new List<Portal.Consultoras.Web.Models.Layout.MenuContenedorModel>();
    var codigoSeleccionado = ViewBag.MenuCodigoSeleccionado;
}
<div class="bc_menu_estrategia" style="background: url(@Url.Content("~/Content/Images/Esika/bg_estrellas.png"));">
    <div class="logo" style="background: url(@Url.Content("~/Content/Images/Esika/bg_esika.png"));"></div>
    <div class="texto-info">
        <div class="centrar-horizontal">
            <p>SOFIA, ESTA NAVIDAD EMPIEZA GANANDO ESTA CAMPAÑA</p>
            <span>¡GANA MÁS DESDE EL PRIMER DÍA CON TU GUIÍA DE NEGOCIO ONLINE PERSONALIZADA!</span>
        </div>
    </div>
    <div class="clear"></div>
    <div class="op_menu-horizontal" data-layout-menu1="">
        @if (listaNegra.Any())
        {
            var menuContenedor = listaNegra[0];
            <ul class="menu_estrategia">
                <li data-campania="@menuContenedor.CampaniaX0">
                    <a href="javascript:;" class="desplegable">
                        <img src="img/carrito.png" alt="" class="default"><img src="img/fill-1.svg" alt="" class="hover">
                        COMPRAR C-@(menuContenedor.CampaniaX0 % 100)
                    </a>
                </li><li data-campania="@menuContenedor.CampaniaX1">
                    <a href="javascript:;" class="desplegable">
                        <img src="img/ojos.svg" alt="" class="default"><img src="img/ojos_negro.svg" alt="" class="hover">
                        REVISAR C-@(menuContenedor.CampaniaX1 % 100)
                    </a>
                </li><li data-campania="0" data-url="RevistaDigital/Informacion">
                    <a href="javascript:;" class="desplegable">
                        SABER MÁS DE ÉSIKA PARA MÍ
                    </a>
                </li>
            </ul>
            @*<ul class="menu_estrategia">
                @foreach (var menu in listaNegra)
                {<li data-campania="@menu.CampaniaID" data-activo="@menu.Activa">
                        <a href="javascript:;" class="desplegable" attr-modal="#open-menu-@menu.CampaniaID">
                            @menu.TituloMenu
                        </a>
                    </li>}
            </ul>*@
        }
    </div>
</div>
<div data-layout-menu2="" data-menu-seleccionado="@codigoSeleccionado">
    @if (listaPloma.Any())
    {
        <div class="op-menu-vertical">
            <ul class="sbmenu_estrategia">
                @foreach (var menuhijo in listaPloma)
                {
                    <li data-campania="@menuhijo.CampaniaID" data-activo="@menuhijo.Activa" data-codigo="@menuhijo.Codigo"
                        onclick="MenuContenedorClick(event, '@menuhijo.UrlMenu')" style="display:none;">
                        <a href="javascript:;">
                            <p>@menuhijo.TituloMenu</p>
                            <span>@menuhijo.SubTituloMenu</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    }

    @*<ul class="subnavegador" id="open-menu1">
        <li>
            <a href="">
                <p>INICIO</p>
                <span>Muestras renovadas y más</span>
            </a>
        </li>
    </ul>*@

</div>
