@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Models
@using Portal.Consultoras.Web.Models.Layout

@{
    var menuList = (List<ConfiguracionPaisModel>) ViewBag.MenuContenedor ?? new List<ConfiguracionPaisModel>();
    //var listaNegra = menuList.Where(p => p.IsMenuCampania).ToList() ?? new List<Portal.Consultoras.Web.Models.Layout.MenuContenedorModel>();
    //var listaPloma = menuList.Where(p => p.IsMenuCampania == false).ToList() ?? new List<MenuContenedorModel>();
    var menuActivo = (MenuContenedorModel) ViewBag.MenuContenedorActivo ?? new MenuContenedorModel();
    menuActivo.ConfiguracionPais.DesktopFondoBanner = Util.Trim(menuActivo.ConfiguracionPais.DesktopFondoBanner);
    var estiloFondoBanner = menuActivo.ConfiguracionPais.DesktopFondoBanner != "" ? "style=background:url(" + menuActivo.ConfiguracionPais.DesktopFondoBanner + ");" : "";

    var classMenuX = menuActivo.CampaniaId == menuActivo.CampaniaX0 ? "desplegable activo" : "desplegable";
    var classMenuX1 = menuActivo.CampaniaId == menuActivo.CampaniaX1 ? "desplegable activo" : "desplegable";
    var classMenuInfo = menuActivo.Codigo == Constantes.ConfiguracionPais.Informacion ? "desplegable activo" : "desplegable";
}
<div class="bc_menu_estrategia" data-menu-codigo="@menuActivo.Codigo" @estiloFondoBanner>
    <div>
        @if (menuActivo.ConfiguracionPais.DesktopLogoBanner != "")
        {
            <div class="logo" style="background: url(@menuActivo.ConfiguracionPais.DesktopLogoBanner);"></div>
        }
        @if (menuActivo.ConfiguracionPais.DesktopTituloBanner != "" || menuActivo.ConfiguracionPais.DesktopSubTituloBanner != "")
        {
            <div class="texto-info">
                <div class="centrar-horizontal">
                    @if (menuActivo.ConfiguracionPais.DesktopTituloBanner != "")
                    {
                        <p>@menuActivo.ConfiguracionPais.DesktopTituloBanner</p>
                    }
                    @if (menuActivo.ConfiguracionPais.DesktopSubTituloBanner != "")
                    {
                        <span>@menuActivo.ConfiguracionPais.DesktopSubTituloBanner</span>
                    }
                </div>
            </div>
        }
    </div>
    <div class="clear"></div>
    <div class="op_menu-horizontal" data-layout-menu1="">
        @if (menuActivo.CampaniaX0 > 0)
        {
            <ul>
                <li data-campania="@menuActivo.CampaniaX0">
                    <a href="@Url.Action("Index", "Ofertas")" class="@classMenuX" attr-modal="#open-menu1">
                        <img src="@Url.Content("~/Content/Images/carrito.png")" alt="" class="default"><img src="@Url.Content("~/Content/Images/fill-1.svg")" alt="" class="hover menuactivo">
                        <span>COMPRAR C-@(menuActivo.CampaniaX0 % 100)</span>
                    </a>
                </li>
                <li data-campania="@menuActivo.CampaniaX1">
                    <a href="@Url.Action("Revisar", "Ofertas")" class="@classMenuX1" attr-modal="#open-menu2">
                        <img src="@Url.Content("~/Content/Images/ojos.svg")" alt="" class="default"><img src="@Url.Content("~/Content/Images/ojos_negro.svg")" alt="" class="hover">
                        <span>REVISAR C-@(menuActivo.CampaniaX1 % 100)</span>
                    </a>
                </li>
                <li data-campania="0" data-url="">
                    <a href="@Url.Action("Informacion", "RevistaDigital")" class="@classMenuInfo" attr-modal="#open-menu3">
                        <span>SABER MÁS DE ÉSIKA PARA MÍ</span>
                    </a>
                </li>
            </ul>
         } 
    </div>
</div>
<div data-layout-menu2="">
    @if (menuList.Any())
    {
        <div class="op-menu-vertical sticky">
            <ul class="subnavegador">
                @foreach (var menuhijo in menuList)
                {
                    var claseActivo = "";
                    claseActivo = menuhijo.Codigo == menuActivo.Codigo ? "activo" : "";
                    <li data-campania="@menuhijo.CampaniaId" data-activo="1"
                        data-codigo="@menuhijo.Codigo"
                        data-es-ancla="@menuhijo.EsAncla"
                        onclick="menuModule.menuClick(this, '@menuhijo.UrlMenu')">
                        
                        <div class="contenedorMenu">
                            <a href="javascript:;" class="@claseActivo">
                                <div class="contenedorInformacion">
                                    @if (menuhijo.Logo != "" && menuhijo.Logo != null)
                                    {
                                        <div class="contenedorImagen">
                                            <img style="display:inline;" src="@menuhijo.Logo" />
                                        </div>
                                    }
                                    @if (menuhijo.Descripcion != "" && menuhijo.Descripcion != null)
                                    {
                                        <div class="contenedorDescripcion">
                                            <span>@menuhijo.Descripcion</span>
                                        </div>
                                    }
                                    <div class="contenedorTitulo">
                                        <p>@menuhijo.DesktopTituloMenu</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                }
            </ul>
        </div>
    }
</div>
