@{
    List<Portal.Consultoras.Web.Models.PermisoModel> permisoList = ViewBag.PermisosHeader;
    List<Portal.Consultoras.Web.Models.ServicioCampaniaModel> servicioList = ViewBag.ServicioHeader;
    string ServiceController = ViewBag.ServiceController;
    string ServiceAction = ViewBag.ServiceAction;
}
@if (permisoList != null)
{
    <ul>
        @foreach (var mp in permisoList.Where(p => p.IdPadre == 0 && p.Mostrar && String.Compare(p.Posicion,"Header",StringComparison.OrdinalIgnoreCase)==0).OrderBy(p => p.OrdenItem))
        {
            <li>
                @if (mp.UrlItem.ToString().Trim().Equals(string.Empty))
                {
                    <a href="#">@mp.Descripcion</a>
                }
                else
                {
                    if (mp.PaginaNueva == true)
                    {
                    <a href="javascript:;" target="_blank">@mp.Descripcion</a>
                    }
                    else if(@mp.UrlItem!="" && @mp.UrlItem.Contains("/"))
                    {
                    <a href="javascript:;">@mp.Descripcion</a>
                    }
                }
                @if (permisoList.Count(p => p.IdPadre == mp.PermisoID) > 0)
                {
                    @:<ul>
                }
                @RenderMenuItem(permisoList, mp)
                @if (permisoList.Count(p => p.IdPadre == mp.PermisoID) > 0)
                {
                        @:</ul>
                                }
            </li>
        }
        @if (ViewBag.Rol == Portal.Consultoras.Common.Constantes.Rol.AdministradorSAC ||
            ViewBag.Rol == Portal.Consultoras.Common.Constantes.Rol.SAC )
        {
            if (servicioList.Count > 0)
            {
            <li><a href="#">Programas Belcorp</a>
                <ul>
                    @foreach (var mp in servicioList)
                    {
                        <li>
                            <a href="@Url.Action(ServiceAction, ServiceController, new { ServicioId = mp.ServicioId, Url = mp.Url })" target="_blank" onclick="return SetAnalyticsProgramasBelcorp('@mp.Descripcion')">@mp.Descripcion</a>
                        </li>
                    }
                </ul>
            </li>
            }
        }
    </ul>
}
@helper RenderMenuItem(List<Portal.Consultoras.Web.Models.PermisoModel> permisoList, Portal.Consultoras.Web.Models.PermisoModel mi)
{
    foreach (var cp in permisoList.Where(p => p.IdPadre == mi.PermisoID && p.Mostrar && String.Compare(p.Posicion, "Header", StringComparison.OrdinalIgnoreCase) == 0))
    {
        @:<li>
        if (cp.PaginaNueva)
        {
            <a href="javascript:;" target="_blank">@cp.Descripcion</a>
        }
        else if(@cp.UrlItem!="" && @cp.UrlItem.Contains("/"))
        {
            <a href="javascript:;">@cp.Descripcion</a>
        }
        if (permisoList.Count(p => p.IdPadre == cp.PermisoID) > 0)
        {
           @:<ul>  
        }
        
        @RenderMenuItem(permisoList, cp)
        if (permisoList.Count(p => p.IdPadre == cp.PermisoID) > 0)
        {
            @:</ul>
        }
        else
        {
            @:</li>
        }
    }
}
