@using Portal.Consultoras.Common

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <title>Belcorp | Portal Consultoras</title>

    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script type="text/javascript">var baseUrl = "@Url.Content("~")"; </script>
    @System.Web.Optimization.Scripts.Render("~/bundles/JQueryJs")
    @System.Web.Optimization.Scripts.Render("~/bundles/JQGridJs")
    @System.Web.Optimization.Styles.Render("~/Content/Css/Site/CssMain")
    <link href="@Url.Content("~/Content/Css/Spectrum/spectrum.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/colorpicker/colorpicker.css")" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
        var userData = {
            'aplicacion': '@(Constantes.LogDynamoDB.AplicacionPortalConsultoras)',
            'rol': '@(Constantes.LogDynamoDB.RolConsultora)',
            'campana': '@ViewBag.CampaniaCodigo',
            'region': '@ViewBag.RegionAnalytics',
            'zona': '@ViewBag.ZonaAnalytics',
            'seccion': '@ViewBag.SeccionAnalytics',
            'pais': '@ViewBag.PaisAnalytics',
            'codigoConsultora': '@ViewBag.CodigoConsultoraDL'
        };

        var urlLogDynamo = '@System.Configuration.ConfigurationManager.AppSettings["UrlLogDynamo"]';
        window.history.forward();
        function noBack() { window.history.forward(); }

        var ViewBagEsMobile = '@ViewBag.EsMobile';
    </script>
    <script type="text/javascript">
        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

    @System.Web.Optimization.Scripts.Render("~/bundles/JSTree")
    @System.Web.Optimization.Scripts.Render("~/bundles/JsPluginsHeaderSAC")
    <script type="text/javascript" src="@Url.Content("~/Scripts/Spectrum/spectrum.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/colorpicker/colorpicker.js")"></script>
    <!-- jquery library -->
    <!--Cambios_Landing_Comunidad-->
    <script type="text/javascript" src="@Url.Content("~/Scripts/fuzescale-1.3.min.js")"></script>

    <!--[if lt IE 9]>
    <script src="~/Scripts/selectivizr-and-extra-selectors.min.js"></script>
    <script src="~/Scripts/IE8.js"></script>
    <![endif]-->
    <!--Cambios_Landing_Comunidad-->
    <!--[if gte IE 7]>
        <style type="text/css">
            #nav li:hover ul.subs {
                display: block;
                text-transform: none;
                line-height: 20px;
                font-size: 14px;
                background-color: #e7ebe9;
                left: -43%;
                padding: 2%;
                position: absolute;
                top: 95px;
                width: 139%;
                z-index: 99;
            }
        </style>
    <![endif]-->
</head>
<body onload="noBack();" onpageshow="if (event.persisted) noBack();" onunload="" style="height: 750px;">
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-KZBJ4J" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script type="text/javascript">
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
            var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KZBJ4J');
    </script>
    <script type="text/javascript">
        dataLayer.push({
            'event': 'userCustomVars',
            'campana': '@ViewBag.Campania',
            'segmento': '@ViewBag.SegmentoAnalytics',
            'edad': '@ViewBag.EdadAnalytics',
            'zona': '@ViewBag.ZonaAnalytics',
            'pais': '@ViewBag.PaisAnalytics',
            'rol': '@ViewBag.RolAnalytics'
        });
    </script>
    <!-- End Google Tag Manager -->
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-NKXJR4" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script type="text/javascript">
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
            var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NKXJR4');
    </script>
    <!-- End Google Tag Manager -->
    <!-- CGI(GOT)-->
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-M8QMC8" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script type="text/javascript">
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
            var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-M8QMC8');

    </script>
    <!-- End Google Tag Manager -->
    <!--Inicio Cambios_Landing_Comunidad-->
    <div id="wrap_header_menu_background">
        <div id="wrap_header_menu" class="field100">
            <div id="logo_tsmv" class="field20">
                <a href="@Url.Action("Index", "Bienvenida")" style="cursor:pointer;text-decoration:underline;" target="_self">
                    <img src="@Url.Content("~/Content/Images/belcorp_logo.png")" alt="SomosBelcorp" width="82" height="82" />
                </a>
            </div>

            <div id="cont_menus" class="field80">
                <div id="header_tsmv">
                    <div class="field50">
                        <div class="menu_opciones_sh"><span class="margin_right_20">@ViewBag.Usuario</span></div>
                        <div class="menu_opciones">
                            <span class="margin_right_20">
                            </span>
                        </div>
                        <div class="menu_opciones">
                            <span class="margin_right_20">
                                @Html.ActionLink("Cerrar Sesión", "LogOut", "Login")
                            </span>
                        </div>
                    </div>
                    <div class="field50">

                    </div>
                </div>
                @Html.Partial("_SACMenu")
            </div>
        </div>
        <div id="white_bg_for_menu"></div>
    </div>
    <div id="cont_contenido" style="">
        <div class="clear top"></div>

        <div class="container_landing">
            @RenderSection("featured", required: false)
            @RenderBody()
        </div>
    </div>
    <div class="clear"></div>
    <div id="footer">
        @Html.Partial("_SACFooter")
    </div>
    <!--Fin Cambios_Landing_Comunidad-->
    @System.Web.Optimization.Scripts.Render("~/bundles/JsPluginsFooterSAC")
    @RenderSection("scripts", required: false)

</body>
</html>