@using Portal.Consultoras.Common

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <title>Belcorp | Portal Consultoras</title>

    @Html.Partial("~/Views/Shared/VistaParcialMainLayout/_vpTagManagerHeader.cshtml", new ViewDataDictionary { { "TipoLayoutTagManager", 2 } })
    @*@Html.Partial("~/Views/Shared/VistaParcialMainLayout/_GoogleOptimize.cshtml")*@
    @Html.Partial("~/Views/Shared/VistaParcialMainLayout/_vpTagManager.cshtml")

    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script type="text/javascript">var baseUrl = "@Url.Content("~")"; </script>
    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/Desktop/JQueryJs")
    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/Desktop/JQGridJs")
    @System.Web.Optimization.Styles.Render("~/Bundle/Css/Desktop/Site-CssMain")
    <link href="@Url.Content("~/Content/Css/Spectrum/spectrum.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/colorpicker/colorpicker.css")" rel="stylesheet" type="text/css" />

    @Html.Partial("~/Views/Shared/VistaParcialMainLayout/_vpVariablesGeneralesPortal.cshtml")
    <script type="text/javascript">
        var userData = {
            'aplicacion': '@(Constantes.LogDynamoDB.AplicacionPortalConsultoras)',
            'rol': '@(Constantes.LogDynamoDB.RolConsultora)',
            'campana': '@ViewBag.CampaniaCodigo',
            'region': '@ViewBag.RegionAnalytics',
            'zona': '@ViewBag.ZonaAnalytics',
            'seccion': '@ViewBag.SeccionAnalytics',
            'pais': '@ViewBag.PaisAnalytics',
            'codigoConsultora': '@ViewBag.CodigoConsultoraDL'
        };

        window.urlLogDynamo = '@System.Configuration.ConfigurationManager.AppSettings["UrlLogDynamo"]';
        window.urlLogElastic = '@System.Configuration.ConfigurationManager.AppSettings["UrlLogElastic"]';
        window.patternElastic = '@System.Configuration.ConfigurationManager.AppSettings["PatternElastic"]';

        // Seteando Controlador y Accion
        @{
            var routeValues = HttpContext.Current.Request.RequestContext.RouteData.Values;
            string ctrl = routeValues.ContainsKey("controller") ? routeValues["controller"].ToString() : "CtrlNoRoute";
            string acti = routeValues.ContainsKey("action") ? routeValues["action"].ToString() : "ActiNoRoute";
        }
        window.controllerName = '@ctrl.ToLower()';
        window.actionName     = '@acti.ToLower()';

        window.history.forward();
        function noBack() { window.history.forward(); }

        var ViewBagEsMobile = '@ViewBag.EsMobile';
    </script>
    <script type="text/javascript">
        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/Desktop/JSTree")
    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/Desktop/PluginsHeaderSAC")
    <script type="text/javascript" src="@Url.Content("~/Scripts/Spectrum/spectrum.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/colorpicker/colorpicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/fuzescale-1.3.min.js")"></script>

</head>
<body onload="noBack();" onpageshow="if (event.persisted) noBack();" onunload="" style="height: 750px;">
    @Html.Partial("~/Views/Shared/VistaParcialMainLayout/_vpTagManagerBody.cshtml")

    <div id="wrap_header_menu_background">
        <div id="wrap_header_menu" class="field100">
            <div id="logo_tsmv" class="field20">
                <a href="@Url.Action("Index", "Bienvenida")" style="cursor:pointer;text-decoration:underline;" target="_self">
                    <img src="@Url.Content("~/Content/Images/belcorp_logo.png")" alt="SomosBelcorp" width="82" height="82" />
                </a>
            </div>

            <div id="cont_menus" class="field80">
                <div id="header_tsmv">
                    <div class="field50">
                        <div class="menu_opciones_sh"><span class="margin_right_20">@ViewBag.Usuario</span></div>
                        <div class="menu_opciones">
                            <span class="margin_right_20">
                            </span>
                        </div>
                        <div class="menu_opciones">
                            <span class="margin_right_20">
                                @Html.ActionLink("Cerrar Sesión", "LogOut", "Login")
                            </span>
                        </div>
                    </div>
                    <div class="field50">

                    </div>
                </div>
                @Html.Partial("_SACMenu")
            </div>
        </div>
        <div id="white_bg_for_menu"></div>
    </div>
    <div id="cont_contenido" style="">
        <div class="clear top"></div>

        <div class="container_landing">
            @RenderSection("featured", required: false)
            @RenderBody()
        </div>
    </div>
    <div class="clear"></div>
    <div id="footer">
        @Html.Partial("_SACFooter")
    </div>
    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/Desktop/PluginsFooterSAC")
    @RenderSection("scripts", required: false)

</body>
</html>