
@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Areas.Mobile.Models
@model Portal.Consultoras.Web.Models.RevistaDigitalModel

@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
    var urlDomain = Util.GetUrlHost(Request);

}

@section styles{
    <link href="@Url.Content("~/Content/Css/Site/jquery.range.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Css/Site/slick-pedido.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Css/Site/flexslider.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/Mobile/esika/revistaDigital.css")" rel="stylesheet" type="text/css" />
}
<div class="content_detalle_set_bpt_general">
    <div class="content_detalle_set_bpt">
        <a class="regresar_landing">VOLVER</a>
        <img src="@Url.Content("~/Content/Images/RevistaDigital/group.png")" />
    </div>
    
    <div class="wrapper_resumen_mobile">
        <div class="etiqueta_nuevo_bpt"><img src="@Url.Content("~/Content/Images/RevistaDigital/nuevo.png")" /></div>
        <div class="nombre_producto_bpt">KADIA SPORT</div>
        <div class="info-set_bpt">CONOCE POR QUÉ KADIA SPORT SERÁ GANADORA</div>
        <div class="content_descripcion_bpt">
            <b>1</b> Es la primera fragancia femenida de la exitosa línea kalos<br/>
            <b>2</b> Es la primera fragancia femenida de la exitosa línea kalos<br />
            <b>3</b> Es la primera fragancia femenida de la exitosa línea kalos<br />
            <b>4</b> Es la primera fragancia femenida de la exitosa línea kalos<br />
        </div>
    </div>
    <div class="share_social_nertwoks" data-posicion="0" data-item="165">       
        <div class="title-compartir">Comparte este set con tus clientes</div>
        <div class="content_redes_ficha">
            <a class="btn_compartir_ofertas" href="javascript: void(0);" data-compartir="WA">
                <img src="/Content/Images/Mobile/Esika/catalogo_ws.png" alt="">
            </a>
            <a class="btn_compartir_ofertas" href="javascript: void(0);" data-compartir="FB">
                <img src="/Content/Images/Mobile/Esika/facebook.png">
            </a>
        </div>
    </div>
    <a class="btn_ver_video_bpt">
        VER VIDEO CON TIPS
    </a>
</div>
<div style="background:#F6F6F6; padding-top:30px; padding-bottom:30px;">
    <div class="nombre_titulo_set_detalle">MI PACK KADIA SPORT</div>
    hola aqui va la plantilla de opt

    <div class="wrapper_resumen_mobile" style="padding-top:30px;">
        <div class="video-responsive-bpt">
            <iframe src="https://www.youtube.com/embed/sOnqjkJTMaA" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
        </div>
    </div>
</div>