
@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Helpers
@model Portal.Consultoras.Web.Models.EstrategiaPersonalizadaProductoModel

@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayoutContenedor.cshtml";
    var urlDomain = Util.GetUrlHost(Request);
}

@section styles{
    @System.Web.Optimization.Styles.Render("~/bundles/css/Mobile/Site/RevistaDigital-Detalle")
}
<div class="content_detalle_set_bpt_general" id="divDetalleContenido" data-item="" 
     data-OrigenPedidoWeb="@Constantes.OrigenPedidoWeb.LanzamientoMobileProductPage" 
     data-estadoregistro="@ViewBag.EstadoSuscripcion" data-tag-html="@ViewBag.Campania">

    <div data-compartir-campos="" style="display:none;">
        <input type="hidden" class="CUV" value="@Model.CUV2" />
        <input type="hidden" class="rsFBMensaje" value="" />
        <input type="hidden" class="rsFBRuta" value="@Model.UrlCompartir" />
        <input type="hidden" class="rsWAMensaje" value="" />
        <input type="hidden" class="rsWARuta" value="@Model.UrlCompartir" />
        <input type="hidden" class="rsFBRutaImagen" value="@Model.FotoProducto01" />
        <input type="hidden" class="rsWARutaImagen" value="@Model.FotoProducto01" />
        <input type="hidden" class="MarcaID" value="@Model.MarcaID" />
        <input type="hidden" class="MarcaNombre" value="@Model.DescripcionMarca" />
        <input type="hidden" class="Nombre" value="@Model.DescripcionResumen" />
        <input type="hidden" class="ProductoDescripcion" value="@Model.DescripcionDetalle" />
        <input type="hidden" class="Volumen" value="" />
        <input type="hidden" class="Palanca" value="LAN" />
    </div>
    <div class="content_detalle_set_bpt">
        @{  var mobileConfiguracion = Html.MobileAppConfiguracion();
            if (mobileConfiguracion.MostrarBotonAtras)
            {
                <a class="regresar_landing" href="javascript: RDDetalleVolver(@Model.CampaniaID);">VOLVER</a>
            }
        }
        
        @if (Model.TipoEstrategiaDetalle.ImgFichaFondoMobile != "")
        {
            <img src="@Model.TipoEstrategiaDetalle.ImgFichaFondoMobile" alt="" style="height: 280px;"/>
        }        
    </div>
    
    <div class="wrapper_resumen_mobile">
        @if (Model.TipoEstrategiaDetalle.ImgFichaMobile != "")
        {
            <div class="etiqueta_nuevo_bpt">
                <img src="@Model.TipoEstrategiaDetalle.ImgFichaMobile" alt="" style="max-height:50px;" />
            </div>
        }
        
        <div class="nombre_producto_bpt">@Model.DescripcionResumen</div>
        @if (Model.DescripcionDetalle != "")
        {
            <div class="info-set_bpt">CONOCE POR QUÉ @Model.DescripcionResumen SERÁ GANADORA</div>
            <div class="content_descripcion_bpt">
                <ol class="ol_detalle">
                    @foreach (var DescDetalle in Model.ListaDescripcionDetalle)
                    {
                        <li>@DescDetalle.Trim()</li>
                    }
                </ol> 
            </div>
        }
    </div>
    @if (mobileConfiguracion.MostrarHipervinculo)
    {
        <div class="share_social_nertwoks" data-posicion="0" data-item="165">
            <div class="title-compartir">Comparte este producto con tus clientes:</div>
            <div class="content_redes_ficha">
                <a class="btn_compartir_ofertas" href="javascript: void(0);" data-compartir="WA">
                    <img src="/Content/Images/Mobile/Esika/catalogo_ws.png" alt="">
                </a>
                <a class="btn_compartir_ofertas" href="javascript: void(0);" data-compartir="FB">
                    <img src="/Content/Images/Mobile/Esika/facebook.png">
                </a>
            </div>
        </div>
    }
    
    @if (Model.TipoEstrategiaDetalle.UrlVideoMobile != "")
    {
        <a class="btn_ver_video_bpt" href="#divDiveo">VER VIDEO CON TIPS</a>
    }

    @if (ViewBag.TieneProductosPerdio)
    {
        <div id="block_inscribete">
            <div class="content_belcorp">
                <div class="block_inscribete_predio">
                    <span class="hblock_title_perdio">@ViewBag.PerdioTitulo</span><br />
                    <span class="hblock_title_perdio2">@ViewBag.PerdioSubTitulo</span>
                </div>
            </div>
        </div>
    }

    <div style="background:#F6F6F6; padding:30px;">
        <div id="divOfertaProductos"></div>
        @if (Model.TipoEstrategiaDetalle.UrlVideoMobile != "")
        {
            <div class="" style="padding-top:30px;" id="divDiveo">
                <div class="video-responsive-bpt">
                    <div id="player"></div>

                    <script>
                        var tag = document.createElement('script');

                        tag.src = "https://www.youtube.com/iframe_api";
                        var firstScriptTag = document.getElementsByTagName('script')[0];
                        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

                        var player;
                        function onYouTubeIframeAPIReady() {
                            player = new YT.Player('player', {
                                height: '415',
                                width: '100%',
                                videoId: '@Model.TipoEstrategiaDetalle.UrlVideoMobile',
                                events: {
                                    'onStateChange': onPlayerStateChange
                                }
                            });
                        }

                        function onPlayerStateChange(event) {
                            if (event.data == YT.PlayerState.PLAYING) {
                                rdAnalyticsModule.CompartirProducto("YTI", player.getVideoUrl(), "@Model.DescripcionResumen");
                            }
                            if (event.data == YT.PlayerState.ENDED) {
                                rdAnalyticsModule.CompartirProducto("YTF", player.getVideoUrl(), "@Model.DescripcionResumen");
                            }
                        }

                    </script>
                </div>
            </div>
        }
    </div>
</div>

@if (Model.ClaseBloqueada != "")
{
    @Html.Action("MensajeBloqueado", "RevistaDigital")
}
@Html.Partial("~/Areas/Mobile/Views/EstrategiaPersonalizada/template-producto-landing.cshtml")
@section scripts{
<script type="text/javascript">
    var origenPedidoWebEstrategia = '@Constantes.OrigenPedidoWeb.LanzamientoMobileProductPage';
    var tipoOrigenEstrategia = 272;
</script>
@System.Web.Optimization.Scripts.Render("~/bundles/Mobile/RevistaDigital-Detalle")
}