
@using Portal.Consultoras.Common
@model Portal.Consultoras.Web.Models.EstrategiaPersonalizadaProductoModel

@{
    var layout = Session["IngresoExterno"] == null ? "_MobileLayout" : "_MobileLayoutEmpty";
    Layout = string.Format("~/Areas/Mobile/Views/Shared/{0}.cshtml", layout);
    var urlDomain = Util.GetUrlHost(Request);
}

@section styles{
    <link href="@Url.Content("~/Content/Css/Site/jquery.range.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Css/Site/slick-pedido.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Css/Site/flexslider.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/Mobile/esika/revistaDigital.css")" rel="stylesheet" type="text/css" />
}
<div class="content_detalle_set_bpt_general" id="divDetalleContenido" data-item="" 
     data-OrigenPedidoWeb="@Constantes.OrigenPedidoWeb.RevistaDigitalMobileProductPage" 
     data-estadoregistro="@ViewBag.EstadoSuscripcion">

    <div data-compartir-campos="" style="display:none;">
        <input type="hidden" class="CUV" value="@Model.CUV2" />
        <input type="hidden" class="rsFBMensaje" value="" />
        <input type="hidden" class="rsFBRuta" value="@Model.UrlCompartir" />
        <input type="hidden" class="rsWAMensaje" value="" />
        <input type="hidden" class="rsWARuta" value="@Model.UrlCompartir" />
        <input type="hidden" class="rsFBRutaImagen" value="@Model.FotoProducto01" />
        <input type="hidden" class="rsWARutaImagen" value="@Model.FotoProducto01" />
        <input type="hidden" class="MarcaID" value="@Model.MarcaID" />
        <input type="hidden" class="MarcaNombre" value="@Model.DescripcionMarca" />
        <input type="hidden" class="Nombre" value="@Model.DescripcionResumen" />
        <input type="hidden" class="ProductoDescripcion" value="@Model.DescripcionDetalle" />
        <input type="hidden" class="Volumen" value="" />
        <input type="hidden" class="Palanca" value="LAN" />
    </div>
    <div class="content_detalle_set_bpt">
        @{  var mobileConfiguracion = Session["MobileAppConfiguracion"] == null ? new Portal.Consultoras.Web.Areas.Mobile.Models.MobileAppConfiguracionModel() : (Portal.Consultoras.Web.Areas.Mobile.Models.MobileAppConfiguracionModel)Session["MobileAppConfiguracion"];
            if (mobileConfiguracion.MostrarBotonAtras)
            {
                <a class="regresar_landing" href="@Url.Action("Index","RevistaDigital", new { area = "Mobile"})">VOLVER</a>
            }
        }
        
        @if (Model.TipoEstrategiaDetalle.ImgFichaFondoMobile != "")
        {
            <img src="@Model.TipoEstrategiaDetalle.ImgFichaFondoMobile" alt="" style="height: 280px;"/>
        }        
    </div>
    
    <div class="wrapper_resumen_mobile">
        @if (Model.TipoEstrategiaDetalle.ImgFichaMobile != "")
        {
            <div class="etiqueta_nuevo_bpt">
                <img src="@Model.TipoEstrategiaDetalle.ImgFichaMobile" alt="" style="max-height:50px;" />
            </div>
        }
        
        <div class="nombre_producto_bpt">@Model.DescripcionResumen</div>
        @if (Model.DescripcionDetalle != "")
        {
            <div class="info-set_bpt">CONOCE POR QUÉ @Model.DescripcionResumen SERÁ GANADORA</div>
            <div class="content_descripcion_bpt">
                <ol class="ol_detalle">
                    @foreach (var DescDetalle in Model.ListaDescripcionDetalle)
                    {
                        <li>@DescDetalle.Trim()</li>
                    }
                </ol> 
            </div>
        }
    </div>
    @if (mobileConfiguracion.MostrarHipervinculo)
    {
        <div class="share_social_nertwoks" data-posicion="0" data-item="165">
            <div class="title-compartir">Comparte este producto con tus clientes:</div>
            <div class="content_redes_ficha">
                <a class="btn_compartir_ofertas" href="javascript: void(0);" data-compartir="WA">
                    <img src="/Content/Images/Mobile/Esika/catalogo_ws.png" alt="">
                </a>
                <a class="btn_compartir_ofertas" href="javascript: void(0);" data-compartir="FB">
                    <img src="/Content/Images/Mobile/Esika/facebook.png">
                </a>
            </div>
        </div>
    }
    
    @if (Model.TipoEstrategiaDetalle.UrlVideoMobile != "")
    {
        <a class="btn_ver_video_bpt" href="#divDiveo">VER VIDEO CON TIPS</a>
    }

    @if (ViewBag.TieneProductosPerdio)
    {
        <div id="block_inscribete">
            <div class="content_belcorp">
                <div class="block_inscribete_predio">
                    <span class="hblock_title_perdio">@ViewBag.NombreConsultora, POR SI TE LO PERDISTE</span><br />
                    <span class="hblock_title_perdio2">GANA MÁS CON OFERTAS PARA SUSCRIPTORAS DESDE C-@ViewBag.CampaniaMasDos</span>
                </div>
            </div>
        </div>
    }

    <div style="background:#F6F6F6; padding:30px;">
        <div id="divOfertaProductos"></div>
        @if (Model.TipoEstrategiaDetalle.UrlVideoMobile != "")
        {
            <div class="" style="padding-top:30px;" id="divDiveo">
                <div class="video-responsive-bpt">
                    <iframe frameborder="0" allowfullscreen="allowfullscreen" src="https://www.youtube.com/embed/@Model.TipoEstrategiaDetalle.UrlVideoMobile?autoplay=0"></iframe>
                </div>
            </div>
        }
    </div>
</div>

@if (Model.ClaseBloqueada != "")
{
    @Html.Action("MensajeBloqueado", "RevistaDigital")
}
@Html.Partial("~/Areas/Mobile/Views/EstrategiaPersonalizada/template-producto-landing.cshtml")
@Html.Partial("~/Areas/Mobile/Views/Bienvenida/template-opt-carrusel-mobile.cshtml")
@Html.Partial("~/Areas/Mobile/Views/RevistaDigital/template-mensaje-inscrita.cshtml", (int)ViewBag.CampaniaMasDosX)
@section scripts{
<script type="text/javascript">
    var origenPedidoWebEstrategia = '@Constantes.OrigenPedidoWeb.RevistaDigitalMobileProductPage';
    var tipoOrigenEstrategia = 272;
</script>
<script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/EstrategiaPersonalizada/Index.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/EstrategiaPersonalizada/LocalStorage.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/Bienvenida/Estrategia.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/RevistaDigital/RevistaDigital.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/RevistaDigital/RevistaDigital-Suscripcion.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/RevistaDigital/RevistDigital-Landing.js")"></script>
}