
@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Areas.Mobile.Models
@model Portal.Consultoras.Web.Models.RevistaDigitalModel

@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
    var urlDomain = Util.GetUrlHost(Request);
    
}

@section styles{
    <link href="@Url.Content("~/Content/Css/Site/jquery.range.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Css/Site/slick-pedido.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Css/Site/flexslider.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/Mobile/esika/revistaDigital.css")" rel="stylesheet" type="text/css" />
}

<div class="logo_EPT_content"><img src="@Url.Content("~/Content/Images/RevistaDigital/logo_EPT.png")" /></div>
<div class="texto_usuario_ept">
    @(ViewBag.UsuarioNombre.ToUpper()), ESTÁS INSCRITA A TU NUEVA REVISTA ONLINE PERSONALIZADA
</div>
<hr class="clear" />
@* Lanzamientos con etiqueta NUEVO *@
<!-- Inicio Seccion de Landing-->
<div style="display:none">
<div style="background:#F6F6F6">
    <div class="content_carrusel_landing">
        <div id="divCarruselLan" data-OrigenPedidoWeb="@Constantes.OrigenPedidoWeb.RevistaDigitalMobileLandingCarrusel">
            @Html.Partial("~/Views/RevistaDigital/template-lan.cshtml", Model)
        </div>
    </div>
</div>

<hr class="clear" />
<div class="subtitulo_landing">MIS OFERTAS</div>

@* area de productos *@

@* filtros *@
<div class="wrapper_resumen_mobile">
    <div id="orderby-filter" style="display: block;">
        <div id="content-orderby" style="margin: 15px 0; text-align: center;">
            @*<input  type="text" class="buscar_producto_landing" placeholder="BUSCAR"/>
            <input id="btnfltm" type="button" class="btn2-ffc" value="FILTROS" onclick="showCustomFilters();">*@
            <div id="divFiltros">
                <select class="btn2-ffc" data-filtro-tipo="fijo" data-filtro-campo="marca">
                    @foreach (var item in Model.FiltersByBrand)
                    {
                        <option value="@item.Codigo">@item.Descripcion</option>
                    }
                </select>
                <select class="btn2-ffc" data-filtro-tipo="fijo" data-filtro-campo="precio" data-filtro-accion="orden" style="float: none;">
                    @foreach (var item in Model.FiltersBySorting)
                    {
                        <option value="@item.Codigo">@item.Descripcion</option>
                    }
                </select>
            </div>
        </div>
        <hr class="clear">
        <div id="summary-filters">
            <div id="div-result-number" style="margin-left: 0; float: left; width: 65%; font-size: 13px;">
                <span id="result-number">Mostrando <span id="spnCantidadFiltro"></span> de <span id="spnCantidadTotal"></span> productos</span>
            </div>

            <div id="div-delete-filters" style="display: none; margin-right: 0px;">
                <a href="javascript:;" class="link-ffc_landing" data-filtro-tipo="borrar">Borrar Filtros</a>
            </div>
            <br><br>
        </div>
    </div>
</div>
<hr class="clear" />
@* listado *@
<div class="wrapper_resumen_mobile ">
    <div id="divOfertaProductos" class="ofertaProductoslanding flex-container" style="display: inline-flex;flex-wrap: wrap;justify-content: center;"></div>
</div>
<!--Fin seccion landing-->
<hr class="clear" />
</div>

<!--Inicio de sección preguntas-->
<div class="ept_content_preguntas">
    <div class="content_320 ingresoPedidom">
        <div class="box_beneficios_ept">
            <div class="tit_preguntas">INGRESA A ÉSIKA PARA MÍ EN LA PRÓXIMA CAMPAÑA Y CRECE EN MÁS DE 20%* TUS GANANCIAS:</div>
            <div class="beneficios_ept">
                <div class="tit_beneficios_ept">GANA <span>+</span></div>
                <div class="desc_beneficios_ept">Hasta 65% dscto todas las campañas.</div>
            </div>
            <div class="beneficios_ept">
                <div class="tit_beneficios_ept">VENDE <span>+</span></div>
                <div class="desc_beneficios_ept">Encuentra los productos que tus clientes te piden.</div>
            </div>
            <div class="beneficios_ept">
                <div class="tit_beneficios_ept">PUNTOS <span>+</span></div>
                <div class="desc_beneficios_ept">En Ésika para mí todas tus compras también suman puntos.</div>
            </div>
            <div class="beneficios_ept_img"><img width="100%" src="@Url.Content("~/Content/Images/RevistaDigital/mpopup_inscripcion.png")" /></div>
        </div>
        <div class="box_comofunciona_ept">
            <div class="tit_light_ept" style="margin-bottom: 10px;">¿CÓMO FUNCIONA ÉSIKA PARA MÍ?</div>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <img src="@Url.Content("~/Content/Images/RevistaDigital/icono1.png")" />
                   <p><b>En esta campaña</b> te inscribes a Ésika para mí, tu nueva revista online personalizada.</p>
               </div>
                <div class="col-xs-12 col-sm-4">
                    <img src="@Url.Content("~/Content/Images/RevistaDigital/icono2.png")" />
                    <p><b>A partir de C-11</b> recibirás únicamente la versión online de tu revista. En C-11 podrás visualizar las ofertas de la C-12 e ir planificando el pedido de la próxima campaña.</p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <img src="@Url.Content("~/Content/Images/RevistaDigital/icono3.png")" />
                    <p><b>En C-12</b> podrás comprar tus ofertas de Ésika para mí y disfrutar todos sus beneficios.</p>
                </div>
            </div>
        </div>
        <div class="box_preguntas_ept">
            <div class="tit_light_ept">PREGUNTAS FRECUENTES</div>
            <div class="ept_preguntasRespuestas_accordion">
                <div class="box_pregunta_ept">
                    <div class="tit_pregunta_ept">¿Qué es “Ésika para mí”? </div>
                    <div class="text_respuesta_ept">Es tu revista online personalizada, con las mejores y exclusivas ofertas que se acomodan a tus preferencias y de tu negocio. Son las ofertas que sí o sí tus clientes te pedirán.</div>
                </div>
                <div class="box_pregunta_ept">
                    <div class="tit_pregunta_ept">¿Las ofertas de “Ésika para mí” tienen algún descuento adicional? ¿O es su precio final lo que sale en el momento de la compra?</div>
                    <div class="text_respuesta_ept">El precio que ves en “Ésika para mí” es el precio neto consultora, es el precio que deberás pagar una vez facturado tu pedido.</div>
                </div>
                <div class="box_pregunta_ept">
                    <div class="tit_pregunta_ept">¿Las ofertas de “Ésika para mí” suman puntos a mi pedido? ¿Cuántos?</div>
                    <div class="text_respuesta_ept">Sí, todas tus compras de ofertas en “Ésika para mí” suman puntos para los concursos y bonificaciones vigentes que tengas en ese momento.</div>
                </div>
                <div class="box_pregunta_ept">
                    <div class="tit_pregunta_ept">¿Por qué cancelaron mi revista impresa?</div>
                    <div class="text_respuesta_ept">Si no has recibido la revista impresa, es porque te debes haber suscrito por algunos de nuestros medios. En caso no desees recibir los beneficios de “Esika para mí”, puedes desafiliarte directamente desde Somosbelcorp. com en la sección ¿Qué és Ésika para mí? o llamando al call center de tu país. Una vez solicites retirarte de “Ésika para mí”, recibirás tu revista regular 2 campañas después.</div>
                </div>
            </div>
            <div class="descargarPreguntasRespuestas">
                <a href="#">+ DESCARGA AQUÍ TODAS LAS PREGUNTAS FRECUENTES</a>
            </div>
        </div>
    </div>

    <div class="box_cancelarInscripcion_ept">
        <div class="content_320 ingresoPedidom">
            <div class="tit_preguntas">¿YA NO QUIERES ESTAR INSCRITA A ÉSIKA PARA MÍ?</div>
            <p> Tienes hasta el cierre de campaña para cancelar tu inscripción. Al anular tu inscripción dejarás de recibir tu revista online y <b>volverás a recibir tu revista impresa en 2 campañas.</b></p>
            <p>Cualquier duda llama a 0800-357 o haz click <a href="#" style="display:inline-block; text-decoration:underline;">aquí</a></p>
        </div>
        <div class="btn_cancelarInscripcion_ept">
            <a href="#">CANCELAR MI INSCRIPCIÓN</a>
        </div>
        <div class="text_legal_ept">*Comparación vs. consultoras que no compraron ofertas digitales de www.somosbelcorp.com. Período evaluado: Dic. 2016 – Abr. 2017 (Perú y Chile).</div>
    </div>
    
    
</div>
<!--Fin de seccion preguntas-->


@* Template producto *@
<div data-OrigenPedidoWeb="@Constantes.OrigenPedidoWeb.RevistaDigitalMobileLanding">
    @Html.Partial("~/Views/Bienvenida/template-opt-mobile.cshtml")
</div>

@section scripts{
    <script type="text/javascript">
        var urlLoad = '@Url.Content("~/Content/Images/loading_spinner.gif")';
        var tipoOrigenPantalla = 1;
        var precioMin = '@Model.PrecioMin';
        var precioMax = '@Model.PrecioMax';
        var urlOfertaCargarProductos = '@Url.Action("GetProductos", "RevistaDigital", new { area = ""})';
        var origenPedidoWebEstrategia = '@Constantes.OrigenPedidoWeb.RevistaDigitalMobileLanding';
        var tipoOrigenEstrategia = 27;
        var estadoAccion = '@Model.EstadoAccion';
    </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.flexslider.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/slick.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.range.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/Bienvenida/Estrategia.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/OfertasParaTi/Ofertas.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/RevistaDigital/RevistaDigital.js")"></script>
}