
@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Areas.Mobile.Models
@model Portal.Consultoras.Web.Models.RevistaDigitalModel

@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
    var urlDomain = Util.GetUrlHost(Request);
    
}

@section styles{
    <link href="@Url.Content("~/Content/Css/Site/jquery.range.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Css/Site/slick-pedido.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Css/Site/flexslider.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/Mobile/esika/revistaDigital.css")" rel="stylesheet" type="text/css" />
}

<div class="logo_EPT_content"><img src="@Url.Content("~/Content/Images/RevistaDigital/logo_EPT.png")" /></div>
<div class="texto_usuario_ept">
    @(ViewBag.UsuarioNombre.ToUpper()), DESCUBRE TU NUEVA REVISTA ONLINE PERSONALIZADA
</div>
<hr class="clear" />
@* Lanzamientos con etiqueta NUEVO *@
<div style="background:#F6F6F6">
    <div class="content_carrusel_landing">
        <div id="divCarruselLan">
            @Html.Partial("~/Views/RevistaDigital/template-lan.cshtml", Model)
        </div>
    </div>
</div>

<hr class="clear" />
<div class="subtitulo_landing">MIS OFERTAS</div>

@* area de productos *@

@* filtros *@
<div class="wrapper_resumen_mobile">
    <div id="orderby-filter" style="display: block;">
        <div id="content-orderby" style="margin: 15px 0; text-align: center;">
            @*<input  type="text" class="buscar_producto_landing" placeholder="BUSCAR"/>
            <input id="btnfltm" type="button" class="btn2-ffc" value="FILTROS" onclick="showCustomFilters();">*@
            <div id="divFiltros">
                <select class="btn2-ffc" data-filtro-tipo="fijo" data-filtro-campo="marca" style="float: none;display: inline-block;">
                    @foreach (var item in Model.FiltersByBrand)
                    {
                        <option value="@item.Codigo">@item.Descripcion</option>
                    }
                </select>
                <select class="btn2-ffc" data-filtro-tipo="fijo" data-filtro-campo="precio" data-filtro-accion="orden" style="float: none;display: inline-block;width: 50%;">
                    @foreach (var item in Model.FiltersBySorting)
                    {
                        <option value="@item.Codigo">@item.Descripcion</option>
                    }
                </select>
            </div>
        </div>
        <hr class="clear">
        <div id="summary-filters">
            <div id="div-result-number" style="margin-left: 0; float: left; width: 65%; font-size: 13px;">
                <span id="result-number">Mostrando <span id="spnCantidadFiltro"></span> de <span id="spnCantidadTotal"></span> productos</span>
            </div>

            <div id="div-delete-filters" style="display: none; margin-right: 0px;">
                <a href="javascript:;" class="link-ffc_landing" data-filtro-tipo="borrar">Borrar Filtros</a>
            </div>
            <br><br>
        </div>
    </div>
</div>
<hr class="clear" />
@* listado *@
<div class="wrapper_resumen_mobile">
    <div id="divOfertaProductos" data-OrigenPedidoWeb="@Constantes.OrigenPedidoWeb.MobileOfertasParaTiIndex" class="ofertaProductoslanding"></div>
</div>

<hr class="clear" />
@* Template producto *@
@Html.Partial("~/Views/Bienvenida/template-opt-mobile.cshtml")

@section scripts{
    <script type="text/javascript">
        var urlLoad = '@Url.Content("~/Content/Images/loading_spinner.gif")';
        var tipoOrigenPantalla = 1;
        var precioMin = '@Model.PrecioMin';
        var precioMax = '@Model.PrecioMax';
        var urlOfertaDetalle = '@Url.Action("DetalleOferta", "ShowRoom")';
        var urlOfertaCargarProductos = '@Url.Action("GetProductos", "RevistaDigital", new { area = ""})';
        var urlOfertaAgregar = '@Url.Action("AgregarProducto", "RevistaDigital")';
        var origenPedidoWeb = '@Constantes.OrigenPedidoWeb.MobileOfertasParaTiIndex';
        var origenPedidoWebCarrusel = -1;
    </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.flexslider.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/slick.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.range.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/Bienvenida/Estrategia.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/OfertasParaTi/Ofertas.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/RevistaDigital/RevistaDigital.js")"></script>
}