@using System.Configuration
@using Portal.Consultoras.Common

@model Portal.Consultoras.Web.Models.RevistaDigitalModel

@{
    var layout = Session["IngresoExterno"] == null ? "_MobileLayout" : "_MobileLayoutEmpty";
    Layout = string.Format("~/Areas/Mobile/Views/Shared/{0}.cshtml", layout);
    var urlDomain = Util.GetUrlHost(Request);
}

@section styles{
    <link href="@Url.Content("~/Content/Css/Site/slick-pedido.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Css/Site/flexslider.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/Mobile/esika/revistaDigital.css")" rel="stylesheet" type="text/css" />
}

<div>
    <div class="logo_EPT_content"><img src="@Url.Content("~/Content/Images/RevistaDigital/logo_EPT.png")" /></div>
    <div class="texto_usuario_ept">
        @Html.Raw(Util.Trim(Model.Titulo))
    </div>
</div>
<hr class="clear" />

@if (Model.ListaTabs.Count() > 1)
{
    <div class="fondo_f2f2f2">
        <div class="pestana_esika"></div><!--PESTANA ESIKA-->
        <div class="pestana_lbel"></div><!--PESTANA LBEL-->
        <ul class="tabs_pagos" data-tab="tab" style="margin-bottom:0">
            @foreach (var tabs in Model.ListaTabs)
            {
                <li>
                    <a href="javascript:;" id="@tabs.Id" data-tag="@tabs.Id" style="width:@(100/Model.ListaTabs.Count())%" data-tab-tipo="@tabs.ValorOpcional">
                        <div class="texto_tab_pagos">@Html.Raw(tabs.Descripcion)</div>
                        <div class="marcador_tab oculto"></div>
                    </a>
                </li>
            }
            <hr id="barCursor">
        </ul>
        <hr class="clear" />
    </div>
}

@foreach (var tab in Model.ListaTabs)
{
    <hr class="clear" />
    <div style="display: none;" data-tag-html="@tab.Id" data-tab-tipo="@tab.ValorOpcional">
        @if (tab.Id > 0)
        {
            @Html.Action("_Landing", "RevistaDigital", new { id = tab.Id })
        }
        else
        {
            @Html.Partial("~/Areas/Mobile/Views/RevistaDigital/template-informativa.cshtml", Model)
        }
    </div>
}

@Html.Partial("~/Views/RevistaDigital/template-mensaje-bloqueado.cshtml", Model.MensajeProductoBloqueado)
<div data-OrigenPedidoWeb="@Constantes.OrigenPedidoWeb.RevistaDigitalMobileLanding"></div>

@Html.Partial("~/Views/EstrategiaPersonalizada/template-lanzamiento-carrusel.cshtml")
@Html.Partial("~/Areas/Mobile/Views/EstrategiaPersonalizada/template-producto-landing.cshtml")

@section scripts{
    <script type="text/javascript">
        var urlLoad = '@Url.Content("~/Content/Images/loading_spinner.gif")';
        var tipoOrigenPantalla = 1;
        var precioMin = '@Model.PrecioMin';
        var precioMax = '@Model.PrecioMax';
        var urlOfertaCargarProductos = '@Url.Action("RDObtenerProductos", "RevistaDigital", new { area = ""})';
        var urlOfertaDetalleProducto = '@Url.Action("Detalle", "RevistaDigital", new { area = "Mobile" })';
        var urlOfertaDetalleProductoTem = '@Url.Action("GuardarProductoTemporal", "RevistaDigital", new { area = "" })';
        var urlTerminosCondicionesRD = '@ConfigurationManager.AppSettings["UrlTerminosCondicionesRD"].Trim()';
        var urlRevistaDigital = '@Url.Action("Index", "RevistaDigital")';
        var origenPedidoWebEstrategia = '@Constantes.OrigenPedidoWeb.RevistaDigitalMobileLanding';
        var tipoOrigenEstrategia = 27;
        var CantidadFilas = @Model.CantidadFilas;
        var mayormenor = '@Constantes.ShowRoomTipoOrdenamiento.ValorPrecio.MayorAMenor';
        var menormayor = '@Constantes.ShowRoomTipoOrdenamiento.ValorPrecio.MenorAMayor';
        var tieneMasVendidos = 0;
    </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.flexslider.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/slick.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/EstrategiaPersonalizada/Index.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/EstrategiaPersonalizada/LocalStorage.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/Bienvenida/Estrategia.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/RevistaDigital/RevistDigital-Landing.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/RevistaDigital/RevistaDigital.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/RevistaDigital/RevistaDigital-Suscripcion.js")"></script>
}