@using System.Configuration
@using Portal.Consultoras.Common

@model Portal.Consultoras.Web.Models.RevistaDigitalInformativoModel

@{
    Layout = ViewBag.TipoLayout == "2" ? "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml" : "~/Areas/Mobile/Views/Shared/_MobileLayoutContenedor.cshtml";
    var urlDomain = Util.GetUrlHost(Request);
}

@section styles{
    @System.Web.Optimization.Styles.Render("~/bundles/css/Mobile/Site/RevistaDigital-Info")
}

<div class="back-to" onClick="RedireccionarContenedorComprar()">
    <img src="@Url.Content("~/Content/Images/triangle.png")" alt="">VOLVER
</div>
@if (Model.Video != "")
{
    <div class="video-visual">
        <div class="video-container">
            <div id="player"></div>
        </div>
    </div>
}
<div id="saber-mas-uno"></div>
<div class="bloques-gana-mas gana-mas">
    <div class="contenedor-mobile-fix" style="padding: 0;">
        <div class="logo"></div>
        <span class="txt-logo">
            OFERTAS A TU MEDIDA, SEGÚN LO QUE SIEMPRE PIDES ¡Y MUCHO MÁS!
        </span>
    </div>
</div>
<div class="bloques-gana-mas pack-a-medida" >
    <div class="contenedor-mobile-fix">
        <div class="bloque-texto">
            <p class="titulo">
                PACKS A TU MEDIDA
            </p>
            <span class="texto">
                Ofertas de tus productos favoritos, más atractivas que las de tu guía impresa.
            </span>
        </div>
        <div class="bloque-img img-pack">
            <div class="cnt cnt-uno">
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="bloques-gana-mas sin-codigos">
    <div class="contenedor-mobile-fix">
        <div class="bloque-texto">
            <p class="titulo">
                SIN CÓDIGOS
            </p>
            <span class="texto">
                No vas a tener que digitar códigos, todo será más rápido.
            </span>
        </div>
        <div class="bloque-img">
            <div class="cnt cnt-dos">
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="bloques-gana-mas mejores-ofertas">
    <div class="contenedor-mobile-fix">
        <div class="bloque-texto">
            <p class="titulo">
                TIPS PARA GANAR
            </p>
            <span class="texto">
                En tu celular y/o correo electrónico. Prepárate para vender más.
            </span>
        </div>
        <div class="bloque-img tips-info">
            <div class="cnt cnt-tres">
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="bloques-gana-mas como-funciona" id="saber-mas-dos">
    <div class="contenedor-mobile-fix">
        <div class="arrow"></div>
        <p class="titulo">¿CÓMO FUNCIONA?</p>
        <div class="bloque-texto">
            <span class="nro">1.</span>
            <span class="txt">
                En esta campaña te suscribes al Club GANA+
            </span>
            <div class="clear"></div>
            <span class="nro">2.</span>
            <span class="txt">
                Para tu próximo pedido, <b>dejarás de recibir la guía impresa.</b>
            </span>
            <div class="clear"></div>
            <span class="nro mobil-nro-funciona">3.</span>
            <span class="txt mobil-nro-funciona">
                En la siguiente campaña, ¡podrás disfrutar de ser parte del Club GANA+!
            </span>
            <div class="clear"></div>
            
        </div>

        <div class="bloque-img">
            <div class="cnt">
                <div class="visual-funcionamiento"></div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="bloque-texto mobil-nro-funciona2" style="width:100%;">
            <span class="nro" style="width:7%;">3.</span>
            <span class="txt" style="width: 91%;">
                En la siguiente campaña, ¡podrás disfrutar de ser parte del Club GANA+!
            </span>
            <div class="clear"></div>
            
        </div>
        <div class="clear"></div>
        @if (!Model.EsSuscrita)
            {
                <span class="txt recuerda-txt">
                    RECUERDA QUE PUEDES CANCELAR TU SUSCRIPCIÓN CUANDO QUIERAS.
                </span>
            }
        <div class="clear"></div>
    </div>
</div>
<div class="bloques-gana-mas suscribete-gratis" data-estadoregistro="@Model.EstadoSuscripcion" id="saber-mas-tres">
    <div class="contenedor-mobile-fix" style="padding: 25px;">
        @if (!Model.EsSuscrita) {
        <div class="logo" style="margin-top:0;"></div>
        }
        @if (Model.EsSuscrita)
        {
            <p class="txt-deseas-cancelar">
                ¿DESEAS CANCELAR TU SUSCRIPCIÓN?
            </p>
            <span class="deseas-cancelar">
                Solo haz clic en el siguiente botón y dejarás de recibir todos los beneficios que te brinda Club GANA+
            </span>
            <a href="javascript: RDDesuscripcion();" class="btn-suscribete">Cancela tu suscripción aquí</a>
        }
        else
        {
            <a href="javascript: RDSuscripcion();" class="btn-suscribete">SUSCRÍBETE GRATIS AQUÍ</a>
        }

        <a href="javascript: MostrarTerminos();" class="terminos" style="text-decoration:underline;">
            VER TÉRMINOS Y CONDICIONES
        </a>

    </div>
</div>

<style>
    .contenedor-mobile-fix .preguntas-frecuentes-cont-sus .box {
        width: 48%;
        float: left;
        /* border: 1px solid #00000012; */
        padding: 10px;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 20px;
        letter-spacing: 1px;
        box-shadow: 0px 0px 3px 2px #0000001f;
        font-weight: bolder;
        /* text-transform: uppercase; */
        font-size: 13px;
    }

    .contenedor-mobile-fix .preguntas-frecuentes-cont-sus p {
        display: block;
        text-align: center;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 50px;
        margin-bottom: 30px;
        font-size: 13px;
    }

    .contenedor-mobile-fix .preguntas-frecuentes-cont-sus .box img {
        position: relative;
        float: right;
    }

    .contenedor-mobile-fix .preguntas-frecuentes-cont-sus a.descargar-mas-p {
        display: block;
        text-align: center;
        color: black;
        margin-bottom: 20px;
        font-size: 13px;
        font-weight: bold;
        margin-top: 40px;
        text-decoration: underline;
        margin-top: 30px;
    }
</style>
<div class="contenedor-mobile-fix">
    <div class="preguntas-frecuentes-cont-sus">
        <p>PREGUNTAS FRECUENTES</p>
        <div class="box">¿Cuál es diferencia entre GANA+ y Club GANA+? <img src="~/Content/Images/arrow-down-preguntas-f.png" /></div>
        <div class="box">¿Por qué ya no recibo la guía de negocio impresa?<img src="~/Content/Images/arrow-down-preguntas-f.png" /></div>
        <div class="box">¿Cómo cancelo mi suscripción?<img src="~/Content/Images/arrow-down-preguntas-f.png" /></div>
        <div class="box">Descargar PDF</div>
        <div class="clear"></div>
        <a class="descargar-mas-p">DESCARGAR MÁS PREGUNTAS FRECUENTES</a>
    </div>
</div>

<a href="" class="btn-suscribete-video">SUSCRÍBETE AQUÍ</a>
<a class="btn-suscribete-video-baja pausar-video">BAJA PARA SABER MÁS <span class="baja-ver-mas"></span></a>

<hr class="clear" />
<div class="content_320 ingresoPedidom">
    <div class="box_preguntas_ept">
        <div class="tit_light_ept">PREGUNTAS FRECUENTES</div>
        <div class="ept_preguntasRespuestas_accordion">
            <div class="box_pregunta_ept">
                <div class="tit_pregunta_ept">¿Qué es “Ésika para mí”? </div>
                <div class="text_respuesta_ept">Es tu revista online personalizada, con las mejores y exclusivas ofertas que se acomodan a tus preferencias y de tu negocio. Son las ofertas que sí o sí tus clientes te pedirán.</div>
            </div>
            <div class="box_pregunta_ept">
                <div class="tit_pregunta_ept">¿Las ofertas de “Ésika para mí” tienen algún descuento adicional? ¿O es su precio final lo que sale en el momento de la compra?</div>
                <div class="text_respuesta_ept">El precio que ves en “Ésika para mí” es el precio neto consultora, es el precio que deberás pagar una vez facturado tu pedido.</div>
            </div>
            <div class="box_pregunta_ept">
                <div class="tit_pregunta_ept">¿Las ofertas de “Ésika para mí” suman puntos a mi pedido? ¿Cuántos?</div>
                <div class="text_respuesta_ept">Sí, todas tus compras de ofertas en “Ésika para mí” suman puntos para los concursos y bonificaciones vigentes que tengas en ese momento.</div>
            </div>
            <div class="box_pregunta_ept">
                <div class="tit_pregunta_ept">¿Por qué cancelaron mi revista impresa?</div>
                <div class="text_respuesta_ept">Si no has recibido la revista impresa, es porque te debes haber suscrito por algunos de nuestros medios. En caso no desees recibir los beneficios de “Esika para mí”, puedes desafiliarte directamente desde Somosbelcorp. com en la sección ¿Qué és Ésika para mí? o llamando al call center de tu país. Una vez solicites retirarte de “Ésika para mí”, recibirás tu revista regular 2 campañas después.</div>
            </div>
        </div>
        <div class="descargarPreguntasRespuestas">
            <a href="@Model.UrlPreguntasFrecuentes" target="_blank">+ DESCARGA AQUÍ TODAS LAS PREGUNTAS FRECUENTES</a>
        </div>
    </div>
</div>
<script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>
<script src="http://www.youtube.com/player_api"></script>
<script src="http://www.youtube.com/iframe_api"></script>
@section scripts{

<script>

var PosBannerMenu ;

    // create youtube player
    var player;
    function onYouTubePlayerAPIReady() {
        player = new YT.Player('player', {
            width: '640',
            height: '390',
            rel: 0,
            fs: 0,
            videoId: 'PvAWRQUKHqg',
            events: {
                onReady: onPlayerReady,
                onReady: onScrollDown,
                onStateChange: onPlayerStateChange
            }
        });
    }

    // autoplay video
    function onClickDown(event) {
        $('a.pausar-video').click(function () {
            event.target.pauseVideo();
        });
    }
    //
    function onScrollDown(event) {
        $(window).scroll(function () {
            var windowHeight = $(window).scrollTop();
            var contenido2 = $("#saber-mas-uno").offset();
            contenido2 = contenido2.top;

            if (windowHeight >= contenido2) {
                event.target.pauseVideo();
            }
            else {
                event.target.playVideo();
            }
        });
    }

    //
    function onPlayerReady(event) {
        event.target.playVideo();
    }


    // when video ends
    function onPlayerStateChange(event) {
        if (event.data === 0) {
            $('a.btn-suscribete-video').animate({
                bottom: '0%'
            });
            $('a.btn-suscribete-video-baja').animate({
                bottom: '-100%'
            });

        }
    }
</script>


<script>

    $(document).ready(function () {
        var saber_mas = 1;
        $('a.btn-suscribete-video-baja').click(function () {
            if (saber_mas == 1) {
                $("a.btn-suscribete-video-baja").attr("href", "#saber-mas-uno");
                saber_mas = 2;
            }
            else if (saber_mas == 2) {
                $("a.btn-suscribete-video-baja").attr("href", "#saber-mas-dos");
                saber_mas = 3;
            }
            else if (saber_mas == 3) {
                $("a.btn-suscribete-video-baja").attr("href", "#saber-mas-tres");
                saber_mas = 1;
            }

        });
    });
</script>

<script>
   $(document).ready(function () {
        var anchor_offset = $('.como-funciona').offset().top;

        $(window).on('scroll', function () {
            if ($(window).scrollTop() > anchor_offset) {
                $("a.btn-suscribete-video-baja").css("display", "none");
            }
            else {
                $("a.btn-suscribete-video-baja").css("display", "block");
            }
        });
    });
</script>

<script>
    $(document).ready(function () {

        $('a.btn-suscribete-video-baja').click(function () {
			var alto = $('#new-header').height();

			if (PosBannerMenu > 0)
				alto = alto + PosBannerMenu + 10;
			
            var link = $(this);
            var anchor = link.attr('href');
            $('html, body').stop().animate({
                scrollTop: ScrollUser(anchor, alto) }
				, 1000);

            return false;
        });
    });


	function  ScrollUser(anchor,alto) {

		if($('#seccion-fixed-menu').position.top > 0)
			alto = alto + $('#seccion-fixed-menu').height() + 10;

		return jQuery(anchor).offset().top - alto;
    }

</script>

<script type="text/javascript">
        var urlLoad = '@Url.Content("~/Content/Images/loading_spinner.gif")';
        var tipoOrigenPantalla = 1;
        var urlTerminosCondicionesRD = '@Model.UrlTerminosCondiciones';
        var urlRevistaDigital = '@Url.Action("Comprar", "RevistaDigital")';
        var isScroll = false;
</script>

    @System.Web.Optimization.Scripts.Render("~/bundles/Mobile/RevistaDigital-Info")
}