@using System.Configuration
@using Portal.Consultoras.Common

@model Portal.Consultoras.Web.Models.RevistaDigitalInformativoModel

@{
    Layout = ViewBag.TipoLayout == "2" ? "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml" : "~/Areas/Mobile/Views/Shared/_MobileLayoutContenedor.cshtml";
    var urlDomain = Util.GetUrlHost(Request);
}

@section styles{
    @Styles.Render("~/Bundle/Css/Mobile/RevistaDigital-Informativa")

    <style type="text/css">
        #btn_init {
            display: none !important;
        }

        #btn_open {
            display: none !important;
        }
    </style>
}

@if (Model.Origen != Constantes.RevistaDigitalOrigen.Unete && Model.Origen != Constantes.RevistaDigitalOrigen.Nueva)
{
    <div class="video-visual">
        <div class="video-container">

            <div id="ytMobileRevistaDigitalTemplateInformativa"
                 data-youtube="{ height:'390', width:'100%', enablejsapi:1, fs:0, showinfo:0, modestbranding:1, loop:1, playerVars:{autoplay:1,rel:0}}"
                 class="yt-video"></div>

        </div>
    </div>
}

<div id="saber-mas-uno"></div>
<div class="bloques-gana-mas gana-mas">
    <div class="contenedor-mobile-fix" style="padding: 0;">
        <div class="logo"></div>
        <span class="txt-logo">
            CONOCE SUS BENEFICIOS EXCLUSIVOS <br />¡Y ÚNETE YA!
        </span>
    </div>
</div>

<div class="bloques-gana-mas mejores-ofertas">
    <div class="contenedor-mobile-fix">
        <div class="bloque-texto">
            <p class="titulo">
                PACKS A TU MEDIDA
            </p>
            <span class="texto">
                Ofertas de tus productos favoritos, más atractivas que las de tu guía impresa.
            </span>
        </div>
        <div class="bloque-img img-pack">
            <div class="cnt cnt-uno">
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="bloques-gana-mas sin-codigos">
    <div class="contenedor-mobile-fix">
        <div class="bloque-texto">
            <p class="titulo">
                MENOS CÓDIGOS QUE DIGITAR
            </p>
            <span class="texto">
                Tendrás menos códigos que digitar, todo será más rápido.
            </span>
        </div>
        <div class="bloque-img">
            <div class="cnt cnt-dos">
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="bloques-gana-mas pack-a-medida">
    <div class="contenedor-mobile-fix">
        <div class="bloque-texto">
            <p class="titulo">
                TIPS PARA GANAR
            </p>
            <span class="texto">
                En tu celular y/o correo electrónico. Prepárate para vender más.
            </span>
        </div>
        <div class="bloque-img tips-info">
            <div class="cnt cnt-tres">
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>


@if (Model.Origen == Constantes.RevistaDigitalOrigen.Unete || Model.Origen == Constantes.RevistaDigitalOrigen.Nueva)
{
    <div class="bloques-gana-mas como-funciona" id="saber-mas-dos">
        <div class="contenedor-mobile-fix">
            <div class="arrow"></div>
            <p class="titulo">¿POR QUÉ EL CLUB ES PERFECTO PARA TI?</p>
            <div class="caja-club-derecha">
                <p class="titulo-caja-club">1. PORQUE ERES ÚNICA:</p>
                <span class="cont-caja-club">Te ofrecemos ofertas <b>exclusivas</b> para ti.</span>
                <hr class="dorado" />
                <p class="titulo-caja-club">2. PORQUE ERES RÁPIDA:</p>
                <span class="cont-caja-club">El Club GANA+ es una plataforma confiable y veloz: ¡como tú!</span>
                <hr class="dorado" />
                <p class="titulo-caja-club">3. PORQUE ERES MODERNA:</p>
                <span class="cont-caja-club">¡Lo digital es para ti!</span>
            </div>

            <div class="caja-club-izquierda">
                <img src="~/Content/Images/visual_de_causa.png" />
            </div>
            <div class="clear"></div>
            @if (!Model.EsSuscrita && Model.MostrarCancelarSuscripcion)
            {
                <span class="txt recuerda-txt">
                    RECUERDA QUE PUEDES CANCELAR TU SUSCRIPCIÓN CUANDO QUIERAS.
                </span>
            }
            <div class="clear"></div>
        </div>
    </div>
}
else
{
    <div class="bloques-gana-mas como-funciona" id="saber-mas-dos">
        <div class="contenedor-mobile-fix">
            <div class="arrow"></div>
            <p class="titulo">¿CÓMO FUNCIONA?</p>
            <div class="bloque-texto">
                <span class="nro"><img src="~/Content/Images/RevistaDigital/check-icon.svg" /></span>
                <span class="txt">
                    @if (Model.EsSuscripcionInmediata)
                    {
                        <text>Suscríbete hoy mismo con un solo clic al Club Gana+</text>
                    }
                    else
                    {
                        <text>En esta campaña te suscribes al Club GANA+</text>
                    }
                </span>
                <div class="clear"></div>
                <span class="nro"><img src="~/Content/Images/RevistaDigital/check-icon.svg" /></span>
                <span class="txt">
                    @if (Model.EsSuscripcionInmediata)
                    {
                        <text>Comienza a disfrutar de todos los beneficios desde el primer día.</text>
                    }
                    else
                    {
                        <text>Desde tu próximo pedido, <b> dejarás de recibir la revista guía de negocio impresa.</b></text>
                    }

                </span>
                <div class="clear"></div>
                <span class="nro mobil-nro-funciona"><img src="~/Content/Images/RevistaDigital/check-icon.svg" /></span>
                <span class="txt mobil-nro-funciona">

                    @if (Model.EsSuscripcionInmediata)
                    {
                        <text>Encuentra las ofertas exclusivas para ti a diario.</text>
                    }
                    else
                    {
                        <text>En la siguiente campaña, ¡podrás disfrutar de ser parte del Club GANA+!</text>
                    }

                </span>
                <div class="clear"></div>

            </div>

            <div class="bloque-img">
                <div class="cnt">
                    <div class="visual-funcionamiento"></div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="bloque-texto mobil-nro-funciona2" style="width:100%;">
                <span class="nro" style="width:7%;"><img src="~/Content/Images/RevistaDigital/check-icon.svg" /></span>
                <span class="txt" style="width: 91%;">
                    @if (Model.EsSuscripcionInmediata)
                    {
                        <text>Encuentra las ofertas exclusivas para ti a diario.</text>
                    }
                    else
                    {

                        <text>En la siguiente campaña, ¡podrás disfrutar de ser parte del Club GANA+!</text>
                    }
                </span>
                <div class="clear"></div>

            </div>
            <div class="clear"></div>
         
                @if (Model.EsSuscripcionInmediata)
                {
                    <text><span class="txt recuerda-txt-2">
                            <b>
                                Recuerda que al suscribirte dejarás de recibir tu guía de negocio impresa<br />
                            </b>
                            (Ejemplo: Si te suscribes en C10, dejarás de recibir tu guía de negocio en C12).
                        </span></text>
                }
                else
                {
                    <text><span class="txt recuerda-txt">RECUERDA QUE PUEDES CANCELAR TU SUSCRIPCIÓN CUANDO QUIERAS.</span></text>
                }

            
            <div class="clear"></div>
        </div>
    </div>
}

@if (Model.Origen == null || Model.Origen == Constantes.RevistaDigitalOrigen.RD)
{
    <div class="bloques-gana-mas suscribete-gratis" data-estadoregistro="@Model.EstadoSuscripcion" id="saber-mas-tres">
        <div class="contenedor-mobile-fix" style="padding: 25px;">
            @if (Model.EsSuscrita && Model.MostrarCancelarSuscripcion)
            {
                <p class="txt-deseas-cancelar">
                    ¿DESEAS CANCELAR TU SUSCRIPCIÓN?
                </p>
                <span class="deseas-cancelar">
                    Solo haz clic en el siguiente botón y dejarás de recibir todos los beneficios que te brinda Club GANA+
                </span>
                <a href="javascript: RDDesuscripcion();" class="btn-suscribete">Cancela tu suscripción aquí</a>
            }
            @if (!Model.EsSuscrita)
            {
                <div id="div-suscribite">
                    <div class="logo" style="margin-top:0;"></div>
                    <a href="javascript: RDSuscripcion();" class="btn-suscribete">SUSCRÍBETE GRATIS AQUÍ</a>
                </div>
            }

            <a href="javascript: MostrarTerminos();" class="terminos" style="text-decoration:underline;">
                VER TÉRMINOS Y CONDICIONES
            </a>

        </div>
    </div>
}
else if (Model.CancelarSuscripcion)
{
    <div class="bloques-gana-mas suscribete-gratis" data-estadoregistro="@Model.EstadoSuscripcion" id="saber-mas-tres">
        <div class="contenedor-mobile-fix" style="padding: 25px;">
            @if (!Model.EsSuscrita)
            {
                <div class="logo" style="margin-top:0;"></div>
            }
            @if (Model.EsSuscrita && Model.MostrarCancelarSuscripcion)
            {
                <p class="txt-deseas-cancelar">
                    ¿NO TE GUSTÓ EL CLUB?
                </p>
                <span class="deseas-cancelar">
                    Cancela tu suscripción haciendo clic en el siguiente botón y dejarás de recibir todos los beneficios que te brinda Club GANA+
                </span>
                <a href="javascript: RDDesuscripcion();" class="btn-suscribete">CANCELA TU SUSCRIPCIÓN AQUÍ</a>
            }
            @if (!Model.EsSuscrita)
            {
                <a href="javascript: RDSuscripcion();" class="btn-suscribete">SUSCRÍBETE GRATIS AQUÍ</a>
            }

            <a href="javascript: MostrarTerminos();" class="terminos" style="text-decoration:underline;">
                VER TÉRMINOS Y CONDICIONES
            </a>

        </div>
    </div>
}

<div class="preguntas-frecuentes-cont-sus">
    <div class="contenedor-mobile-fix">
        <ul class="preg-frecuentes">
            <li>
                <a class="abrir-preg-frecuente"><p>PREGUNTAS FRECUENTES <span class="despliegue">+</span><span class="nodespliegue">-</span></p></a>
                <ul>
                    <li>
                        <b>¿Cuál es la diferencia entre GANA+ y Club GANA+?</b>
                        <span>
                            GANA+ es un conjunto de ofertas exclusivas para ti que encontrarás entrando desde el App Ésika Conmigo o desde somosbelcorp.com
                            Club GANA+ es un espacio exclusivo para nuestras consultoras suscritas, en donde recibirán muchos beneficios como: más ofertas hechas a su medida que GANA+, packs de sus productos favoritos, no tendrán que digitar códigos y mucho más.
                        </span>
                        <b>¿Cómo cancelo mi suscripción?</b>
                        <span>
                            Ingresa a tu cuenta y haz clic en “Saber más”. Una vez ahí, baja el cursor hasta el botón “CANCELA TU SUSCRIPCIÓN AQUÍ” y al hacer clic, tu suscripción se anulará.
                            Recuerda que puedes suscribirte nuevamente cuando desees.
                        </span>
                        <b>¿Por qué ya no recibo la guía de negocio impresa?</b>
                        <span>Al suscribirte al Club GANA+, dejarás de recibir la guía de negocio impresa desde la siguiente campaña, pues siendo miembro del Club, contarás con muchos beneficios que reemplazarán a tu guía.</span>
                    </li>
                    <li><a class="descargar" href="@Model.UrlPreguntasFrecuentes" target="_blank">DESCARGA MÁS PREGUNTAS FRECUENTES</a></li>
                </ul>
            </li>

        </ul>
    </div>
</div>

<a href="javascript: RDSuscripcion();" class="btn-suscribete-video">SUSCRÍBETE GRATIS AQUÍ</a>

@Html.Partial("~/Areas/Mobile/Views/RevistaDigital/template-confirmacion-datos.cshtml", Model)

@section scripts{

    <script type="text/javascript">
        var done = false;
        var PosBannerMenu;

        window.videoKey = '@Model.Video';
        var urlLoad = '@Url.Content("~/Content/Images/loading_spinner.gif")';
        var tipoOrigenPantalla = 1;
        var urlTerminosCondicionesRD = '@Model.UrlTerminosCondiciones';
        var isScroll = false;
        window.estaSuscrita = '@Model.EsSuscrita';

    </script>

    @Scripts.Render("~/Bundle/Js/Mobile/RevistaDigital-Informativa")
}

