
@using Portal.Consultoras.Common

@model Portal.Consultoras.Web.Models.RevistaDigitalLandingModel
@{
    var nameTagScrollTo = "divTopFiltros" + @Model.CampaniaID;
}
<div style="background:#F6F6F6">
    <div class="content_carrusel_landing">
        <div id="divCarruselLan" data-content-item="@Model.CampaniaID" data-OrigenPedidoWeb="@Constantes.OrigenPedidoWeb.RevistaDigitalMobileLandingCarrusel">
           
        </div>
    </div>
</div>
<div class="arrow_misofertas" onclick="FlechaScrollDown(@Model.CampaniaID)">MÁS<br/>OFERTAS<br/><img style="margin-top: 5px;" alt="" src="@Url.Content("~/Content/Images/RevistaDigital/rd_arrowdown.svg")" /></div>
<hr class="clear" />
<div data-listado-campania="@Model.CampaniaID">
    <div data-listado-content="" style="display: none;">
        <div>
        @if (ViewBag.TieneProductosPerdio)
        {
            <div class="rd-busqueda-filtros wrapper_resumen_mobile">
                <div class="subtitulo_landing">RECOMENDADOS PARA TI</div>
                <hr class="clear" />
                <div class="hblock_title_perdio" style="">
                    @ViewBag.NombreConsultora, PRUEBA LAS VENTAJAS DE COMPRAR OFERTAS PERSONALIZADAS
                </div>
            </div>
        }
        else
        {
            <div class="subtitulo_landing">MIS OFERTAS</div>
            <hr class="clear" />
            <div class="wrapper_resumen_mobile" id="@nameTagScrollTo">
                <div id="orderby-filter" style="display: block;">
                    <div id="content-orderby" style="margin: 15px 0; text-align: center;">
                        @*<input  type="text" class="buscar_producto_landing" placeholder="BUSCAR"/>
                            <input id="btnfltm" type="button" class="btn2-ffc" value="FILTROS" onclick="showCustomFilters();">*@
                        <div id="divFiltros">
                            <select class="btn3-ffc" data-filtro-tipo="fijo" data-filtro-campo="marca">
                                @foreach (var item in Model.FiltersByBrand)
                                {
                                    <option value="@item.Codigo">@item.Descripcion</option>
                                }
                            </select>
                            <select class="btn3-ffc" data-filtro-tipo="fijo" data-filtro-campo="precio" data-filtro-accion="orden" style="float: none;">
                                @foreach (var item1 in Model.FiltersBySorting)
                                {
                                    <option value="@item1.Codigo">@item1.Descripcion</option>
                                }
                            </select>
                        </div>
                    </div>
                    <hr class="clear">
                    <div id="summary-filters">
                        <div id="div-result-number" style="margin-left: 0; float: left; width: 65%; font-size: 13px;">
                            <span id="result-number">Mostrando <span id="spnCantidadFiltro"></span> de <span id="spnCantidadTotal"></span> productos</span>
                        </div>

                        <div id="div-delete-filters" style="display: none; margin-right: 0px;">
                            <a href="javascript:;" class="link-ffc_landing" data-filtro-tipo="borrar">Borrar Filtros</a>
                        </div>
                        <br><br>
                    </div>
                </div>
            </div>
        }
        </div>
        <hr class="clear" />
        <div>
            <hr class="clear" />
            <div class="wrapper_resumen_mobile ">
                <div id="divOfertaProductos" data-OrigenPedidoWeb="@Constantes.OrigenPedidoWeb.RevistaDigitalMobileLanding"
                     data-content-item="@Model.CampaniaID"
                     class="ofertaProductoslanding flex-container"
                     style="display: inline-flex;flex-wrap: wrap;justify-content: center;"></div>

                <hr class="clear" />
                @if (ViewBag.TieneProductosPerdio)
                {
                    <div id="block_inscribete" style="padding: 20px 0;">
                        <div class="content_belcorp">
                            <div class="block_inscribete_predio">
                                <span class="hblock_title_perdio">@ViewBag.NombreConsultora, POR SI TE LO PERDISTE</span>
                                <span class="hblock_title_perdio2">GANA MÁS CON OFERTAS PARA SUSCRIPTORAS DESDE C-@ViewBag.CampaniaMasDos</span>
                            </div>

                            @*@if (ViewBag.EstadoSuscripcion != Constantes.EstadoRDSuscripcion.Activo)
                            {
                                <div class="btn_diagonal rd_btn_rojo_right">
                                    <a href="javascript: RDPageInformativa();" class="btn_inscribirse">INSCRIBIRME A ÉSIKA PARA MÍ</a>
                                </div>
                            }*@
                        </div>
                    </div>
                    <hr class="clear" />
                    <div id="divOfertaProductosPerdio" data-OrigenPedidoWeb="@Constantes.OrigenPedidoWeb.RevistaDigitalMobileLanding"
                         data-content-perdido="@Model.CampaniaID"
                         class="flex-container" style="display: inline-flex;flex-wrap: wrap;justify-content: center;"></div>
                    <hr class="clear" />
                }
            </div>
        </div>
    </div>
    <hr class="clear" />
    <div id="divOfertaProductosLoad" style="display: none;">Cargando Productos<br></div>
    <hr class="clear" />
</div>
<!--Fin seccion landing-->
<hr class="clear" />