@model Portal.Consultoras.Web.Models.RevistaDigitalInformativoModel
<div class="Content_general_pop_up CompartirCorreoPop contenedor_fondo_popup" id="PopRDSuscripcion" data-popup-main=""
     style="display:none; font-family: 'Lato' !important;"
     data-popup-function-hide="RDPopupMobileCerrar()">
    <div class="content_pop_up_intriga popup_confirmacion_datos" data-popup-body="">
        <div class="contenido-popup-nuevo-2017">
            <div class="centrar-estructura estructura_confirmar_datos">
                <div class="centrar-vertical-contenido">
                    <div class="form_datos">
                        <p class="felicidades">¡FELICIDADES @Model.NombreConsultora!</p>
                        <p class="estasganando">
                            @if (Model.EsSuscripcionInmediata)
                            {
                                <text>YA ESTÁS SUSCRITA </text>
                            }
                            else
                            {
                                <text>DISFRUTA LOS BENEFICIOS DESDE LA CAMPAÑA  </text> @Model.CampaniaX1
                            }

                        </p>
                        <span class="confirmanos">
                            @if (Model.EsSuscripcionInmediata)
                            {
                                <text> Por favor, confírmanos tus datos <br />
                                    para recibir los mejores tips. </text>
                            }
                            else
                            {
                                <text> Ya estás suscrita al Club. <br />
                                    Por favor, confirmanos tus datos.</text>
                            }
                        </span>
                        <div class="form-datos">
                            <div class="input">
                                <p id="errorCampos" class="txtvalidar" style="display: none">Debe ingresar al menos un campo.</p>
                            </div>
                            <div class="input">
                                <img src="~/Content/Images/mailIcon.png" alt="" class="envelope" />
                                <input id="CorreoAnterior" type="hidden" value="@Model.Email" />
                                <input id="Email" type="text" value="@Model.Email" placeholder="Tu correo electrónico" class="txtformvalidar" />
                                <p id="errorEmail" class="txtvalidar" style="display: none">Debe ingresar un email válido</p>
                            </div>
                            <div class="input">
                                <img src="~/Content/Images/phoneIcon.png" alt="" class="phone" />
                                <input type="hidden" id="hdn_CaracterMinimo" value="@Model.LimiteMin" />
                                <input type="hidden" id="hdn_CaracterMaximo" value="@Model.LimiteMax" />
                                <input id="Celular" type="text" value="@Model.Celular" placeholder="Tu teléfono" class="txtformvalidar" />
                                <p id="errorPhone" class="txtvalidar" style="display: none">Debe ingresar un número válido</p>
                            </div>

                            <div class="validar_chk">
                                <div class="inputchk">
                                    <input type="checkbox" name="chkinput" id="chkinput" />
                                    <label for="chkinput"></label>
                                </div>
                                <div class="txtchk">
                                    Declaro que he leído los <a href="@Model.UrlTerminosCondicionesDatosUsuario" target="_blank" style="text-decoration:underline;">términos y condiciones</a> sobre Protección de Datos Personales y que me encuentro de acuerdo con los mismos.<span class="obligatorio">(Obligatorio)</span>
                                </div>
                                <div style="clear:both;"></div>
                            </div>
                            <button>CONFIRMAR DATOS</button>
                        </div>
                    </div>
                </div>
                <a class="cerrar-popup" data-popup-close=""><img src="@Url.Content("~/Content/Images/close-icon.svg")" alt=""></a>
            </div>
        </div>
    </div>
</div>