@using System.Configuration
@using Portal.Consultoras.Common

@model Portal.Consultoras.Web.Models.RevistaDigitalModel

@{
    Layout = ViewBag.TipoLayout == "2" ? "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml" : "~/Areas/Mobile/Views/Shared/_MobileLayoutContenedor.cshtml";
    var urlDomain = Util.GetUrlHost(Request);
}

@section styles{
    @System.Web.Optimization.Styles.Render("~/bundles/css/Mobile/Site/RevistaDigital-Info")
}

<div class="back-to">
    <a href="@Url.Action("Index", "Ofertas", new {area = "Mobile"})" style="color: #ffffff">
        <img src="@Url.Content("~/Content/Images/RevistaDigital/triangle.png")" alt="">VOLVER
    </a>
</div>
<div class="show-gana" style="background: url(@Url.Content("~/Content/Images/RevistaDigital/marquesina-landing.jpg"));">
    <div class="contenedor">

        <div class="img-descriptiva">
            <img src="" alt="">
        </div>
        <div class="texto-descriptivo">
            <div>
                <p class="nombre">
                    @Model.NombreConsultora, LLEGÓ
                </p>
                <p class="gana-mas">
                    GANA +
                </p>
                <span class="txt-descriptivo">
                    UN ESPACIO ONLINE CREADO SOLO PARA TÍ
                </span>
            </div>
        </div>
        <div class="clear"></div>


    </div>
</div>
<div class="que-ofrecemos">
    <div class="nuevo_contenedor_informativo">
        <p class="titulo-ofrece">
            ¿QUÉ TE OFRECE?
        </p>
        <div class="ofrece-bloque">
            <div class="icono">
                <div class="img">
                    <img src="@Url.Content("~/Content/Images/RevistaDigital/offer-suscription-icon.svg")" alt="">
                </div>
            </div>
            <div class="texto">
                <p class="titulo">
                    + OFERTAS EXCLUSIVAS
                </p>
                <span class="descripcion">
                    Packs y productos de tus productos favoritos ¡y con precios exclusivos para ti!
                </span>
            </div>
            <div class="clear"></div>
        </div>
        <div class="ofrece-bloque">
            <div class="icono">
                <div class="img">
                    <img src="@Url.Content("~/Content/Images/RevistaDigital/speed-suscription-icon.svg")" alt="">
                </div>
            </div>
            <div class="texto">
                <p class="titulo">
                    + FACILIDAD Y RAPIDEZ
                </p>
                <span class="descripcion">
                    ¡Adiós errores! Ya no tendrás que digitar códigos.
                </span>
            </div>
            <div class="clear"></div>
        </div>
        <div class="ofrece-bloque">
            <div class="icono">
                <div class="img">
                    <img src="@Url.Content("~/Content/Images/RevistaDigital/money-suscription-icon.svg")" alt="">
                </div>
            </div>
            <div class="texto">
                <p class="titulo">
                    + TIPS PARA GANAR
                </p>
                <span class="descripcion">
                    La información que necesitas de cada producto para venderlo ¡al instante!
                </span>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="como-funciona">
    <div class="nuevo_contenedor_informativo">
        <p class="titulo-ofrece">
            ¿CÓMO FUNCIONA?
        </p>
        <div class="funciona-asi">
            1. En la C-@Model.CampaniaActual te suscribes a <b>GANA +</b> y podrás visualizar ofertas únicas para ti.
        </div>
        <div class="funciona-asi">
            2. En la C-@Model.CampaniaFuturoActiva, <b>dejarás de recibir la revista impresa</b> y podrás comprar y disfrutar de GANA +
        </div>
        <div class="clear"></div>
        <img src="@Url.Content("~/Content/Images/RevistaDigital/android-EPM-mockup.png")" alt="">
    </div>
</div>

<div id="divCambiosEstadoRegistro" class="suscribete-gratis" data-estadoregistro="@Model.EstadoSuscripcion">
    <div class="nuevo_contenedor_informativo" id="divSuscripcion">
        <div class="content_320 ingresoPedidom">
            <div class="tit_preguntas">@Model.Titulo</div>
            <p>@Model.SubTitulo</p>
            <p>
                Cualquier duda llama a @Model.NumeroContacto o haz click
                <a href="@Url.Action("ChatBelcorp", "Bienvenida", new {area = "Mobile"})" target="_blank"
                   style="display:inline-block; text-decoration:underline;">aquí</a>
            </p>
        </div>
        @if (Model.EsSuscrita)
        {
            <div class="btn_cancelarInscripcion_ept">
                <a href="javascript: RDDesuscripcion();">CANCELAR MI INSCRIPCIÓN</a>
            </div>
        }
        else
        {
            <a href="javascript: RDSuscripcion();" class="btn_inscribirse">SUSCRÍBETE GRATIS AQUÍ</a>
        }
        <hr class="clear" />
        <div class="texto_inscribirse">Al inscribirte estas aceptando los <a href="javascript: MostrarTerminos();" class="terminos_inscribirse">términos y condiciones</a></div>
    </div>
</div>

<hr class="clear" />
<div class="content_320 ingresoPedidom">
    <div class="box_preguntas_ept">
        <div class="tit_light_ept">PREGUNTAS FRECUENTES</div>
        <div class="ept_preguntasRespuestas_accordion">
            <div class="box_pregunta_ept">
                <div class="tit_pregunta_ept">¿Qué es “Ésika para mí”? </div>
                <div class="text_respuesta_ept">Es tu revista online personalizada, con las mejores y exclusivas ofertas que se acomodan a tus preferencias y de tu negocio. Son las ofertas que sí o sí tus clientes te pedirán.</div>
            </div>
            <div class="box_pregunta_ept">
                <div class="tit_pregunta_ept">¿Las ofertas de “Ésika para mí” tienen algún descuento adicional? ¿O es su precio final lo que sale en el momento de la compra?</div>
                <div class="text_respuesta_ept">El precio que ves en “Ésika para mí” es el precio neto consultora, es el precio que deberás pagar una vez facturado tu pedido.</div>
            </div>
            <div class="box_pregunta_ept">
                <div class="tit_pregunta_ept">¿Las ofertas de “Ésika para mí” suman puntos a mi pedido? ¿Cuántos?</div>
                <div class="text_respuesta_ept">Sí, todas tus compras de ofertas en “Ésika para mí” suman puntos para los concursos y bonificaciones vigentes que tengas en ese momento.</div>
            </div>
            <div class="box_pregunta_ept">
                <div class="tit_pregunta_ept">¿Por qué cancelaron mi revista impresa?</div>
                <div class="text_respuesta_ept">Si no has recibido la revista impresa, es porque te debes haber suscrito por algunos de nuestros medios. En caso no desees recibir los beneficios de “Esika para mí”, puedes desafiliarte directamente desde Somosbelcorp. com en la sección ¿Qué és Ésika para mí? o llamando al call center de tu país. Una vez solicites retirarte de “Ésika para mí”, recibirás tu revista regular 2 campañas después.</div>
            </div>
        </div>
        <div class="descargarPreguntasRespuestas">
            <a href="@ConfigurationManager.AppSettings["UrlPreguntasFrecuentesRD"].Trim()" target="_blank">+ DESCARGA AQUÍ TODAS LAS PREGUNTAS FRECUENTES</a>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var urlLoad = '@Url.Content("~/Content/Images/loading_spinner.gif")';
        var tipoOrigenPantalla = 1;
        var urlTerminosCondicionesRD = '@ConfigurationManager.AppSettings["UrlTerminosCondicionesRD"].Trim()';
        var urlRevistaDigital = '@Url.Action("Comprar", "RevistaDigital")';
        var isScroll = false;
    </script>

    @System.Web.Optimization.Scripts.Render("~/bundles/Mobile/RevistaDigital-Info")
}